$green: #5c9800;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'ProximaNova', sans-serif;
}

a {
  font: 400 16px 'ProximaNova', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}

.head {
  text-align: center;
  p {
    display: inline-block;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 4px;
    margin-bottom: 37px;
    border-bottom: 4px solid $green;
  }
}

.link {
  margin-top: 9px;
  a {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    background: $green;
    padding: 21px 53px 17px 22px;
    border-radius: 30px;
    position: relative;
    &:hover {
      background: #6eb500;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/header-link.png) no-repeat 50%;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  
}

/* Header */

.header {
  padding: 22px 0 24px;
  &-wrap {
    background: #f3f1f1;
  }
  &-items {
    float: left;
    margin-top: 12px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 193px;
    margin-right: 88px;
    text-align: right;
    &:last-child {
      margin-right: 0;
    }
    b {
      display: block;
      vertical-align: top;
      font-size: 24px;
      margin-bottom: 8px;
    }
    a {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      margin-bottom: 7px;
      &:hover {
        color: $green;
      }
    }
  }
  &-link {
    float: right;
  }
}

.burger-wrap {
  display: none;
}

.logo {
  margin-right: 15px;
  &-wrap {
    width: 392px;
    float: left;
    margin-right: 99px;
    b {
      display: inline-block;
      vertical-align: top;
      width: 116px;
      text-transform: uppercase;
      line-height: 1.3;
      font-size: 14px;
      margin-top: 19px;
    }
  }
}

/* Nav */

.nav {
  font-size: 0;
  &-wrap {
    position: relative;
    z-index: 5;
  }
  li {
    display: inline-block;
    vertical-align: top;
    &.active {
      a {
        color: #000;
        background: #f3f1f1;
      }
    }
    a {
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      background: $green;
      line-height: 50px;
      text-transform: uppercase;
      padding: 0 35px;
      &:hover {
        color: #000;
        background: #f3f1f1;
      }
    }
  }
}

/* Showcase */

.showcase {
  position: relative;
  height: 600px;
  margin-bottom: 38px;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
    margin-top: -50px;
  }
  &-items {
    font-size: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 423px;
    height: 130px;
    margin-right: 32px;
    padding: 30px 25px 0 30px;
    background: $green;
    &:last-child {
      margin-right: 0;
    }
    p {
      display: inline-block;
      vertical-align: top;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.3;
      color: #fff;
      padding-left: 25px;
      width: 234px;
    }
  }
}

/* Main-news */

.main-news {
  padding-bottom: 28px;
  &-items {
    font-size: 0;
    margin-bottom: 30px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 424px;
    margin-right: 32px;
    padding-left: 40px;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    img {
      width: 20px;
      height: 16px;
      position: absolute;
      top: 4px;
      left: 0;
    }
  }
  &-content {
    span {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      background-color: #b9b2b2;
      font-weight: 800;
      padding: 0 7px;
      line-height: 24px;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      a {
        color: $green;
        text-decoration: underline;
        margin-left: 4px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__head {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 17px;
  }
  &-link {
    text-align: center;
    a {
      padding: 21px 60px 17px 25px;
    }
  }
}

/* About */

.about {
  position: relative;
  padding: 48px 0;
  margin-bottom: 76px;
  &-wrap {
    background-color: #f3f1f1;
  }
  &-content {
    width: 668px;
  }
  &-head {
    text-align: left;
    p {
      font-size: 34px;
      margin-bottom: 21px;
      margin-top: 7px;
    }
  }
  span {
    display: inline-block;
    vertical-align: top;
    line-height: 1.6;
    margin-bottom: 31px;
  }
  &-img {
    width: 570px;
    height: 350px;
    position: absolute;
    top: 50px;
    right: 0;
  }
  &-link {
    a {
      padding: 21px 60px 17px 27px;
    }
  }
}

/* Service */

.service {
  margin-bottom: 46px;
  &-head {
    p {
      margin-bottom: 40px;
    }
  }
  &-items {
    font-size: 0;
    margin: 0 10px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 370px;
    margin-right: 56px;
    padding: 41px 40px 0 38px;
    background-color: #f3f1f1;
    transition: 300ms;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      background: $green;
      color: #fff;
    }
    &:hover .service-item-img,
    &:hover .service-link a:after {
      background-position: right;
    }
    &:hover .service-item__head {
      color: #fff;
    }
    &:hover .service-link a {
      background: #fff;
      color: #000;
    }
    &-img {
      background: url(../images/service1.png) no-repeat left;
      width: 84px;
      height: 84px;
      margin-bottom: 30px;
    }
    &-img2 {
      background: url(../images/service2.png) no-repeat left;
    }
    &-img3 {
      background: url(../images/service3.png) no-repeat left;
    }
    &__head {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 12px;
      color: #000;
    }
    p {
      line-height: 1.6;
      font-size: 16px;
    }
  }
  &-link {
    position: absolute;
    bottom: 28px;
    left: 35px;
    a {
      padding: 21px 60px 17px 22px;
      &:after {
        background: url(../images/link2.png) no-repeat left;
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* Footer */

.footer {
  padding: 40px 0 45px;
  &-wrap {
    background-color: #b9b2b2;
  }
  .logo-wrap b {
    color: #fff;
  }
}

/* News */

.news {
  &-head {
    text-align: left;
    margin-top: 48px;
    p {
      margin-bottom: 52px;
    }
  }
  .main-news-item {
    display: block;
    width: 1108px;
    margin: 0 auto;
    padding-bottom: 25px;
    margin-bottom: 41px;
    border-bottom: 1px solid #b9b2b2;
  }
  .main-news-content p {
    line-height: 1.65;
  }
  .main-news__head {
    font-weight: 700;
  }
}

/* Pagination */

.pagination {
  text-align: center;
  margin: 70px 0 70px 215px;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    &.active {
      a {
        color: #fff;
        background: $green;
      }
    }
    a {
      width: 100%;
      color: #000;
      line-height: 30px;
      border-radius: 50%;
      font-weight: 700;
      &:hover {
        color: #fff;
        background: $green;
      }
    }
  }
  .pagination__arrows {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
      margin-left: 48px;
    }
    a {
      height: 30px;
      &:hover {
        background: none;
      }
    }
  }
}

/* Info */

.info {
  padding-bottom: 44px;
  &-head {
    margin-top: 47px;
    text-align: left;
  }
  &-item {
    margin-bottom: 17px;
    &-head {
      background-color: #f3f1f1;
      height: 90px;
      cursor: pointer;
      transition: 300ms;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      &-icons {
        display: inline-block;
        vertical-align: top;
        background-color: #e9e6e6;
        text-align: center;
        width: 83px !important;
        height: 100%;
        transition: 300ms;
      }
      &__icon {
        background: url(../images/info.png) no-repeat left;
        width: 32px;
        height: 40px;
        margin: 0 auto;
        height: 90px;
      }
      &__text {
        display: inline-block;
        vertical-align: top;
        padding-left: 27px;
        font-weight: 700;
        font-size: 20px;
        padding-right: 10px;
      }
      &:hover {
        background: $green;
        .info-item-head-icons {
          background-color: #4a7b00;
        }
        .info-item-head__icon {
          background-position: right;
        }
        .info-item-head__text {
          color: #fff;
        }
      }
    }
    &-content {
      display: none;
      padding: 25px 0 0 117px;
      a {
        display: block;
        text-decoration: underline;
        color: $green;
        margin-bottom: 20px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.active {
      .info-item-content {
        display: block;
        margin-bottom: 30px;
      }
      .info-item-head-icons {
        background-color: #4a7b00;
      }
      .info-item-head__icon {
        background-position: right;
      }
      .info-item-head {
        background: $green;
      }
      .info-item-head__text {
        color: #fff;
      }
    }
  }
}

/* Contacts */

.contacts {
  padding-bottom: 27px;
  .news-head p {
    margin-bottom: 43px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 640px;
    margin-right: 155px;
    &:last-child {
      width: auto;
      margin-right: 0;
      .contacts-item-par b {
        width: 222px;
      }
    }
    &-par {
      margin-bottom: 28px;
      b {
        display: inline-block;
        vertical-align: top;
        width: 336px;
        line-height: 1.6;
      }
    }
    &-content {
      display: inline-block;
      vertical-align: top;
      width: 280px;
      p {
        margin-bottom: 12px;
        line-height: 1.1;
      }
      span {
        line-height: 1.6;
      }
      &__tel {
        color: #000;
        font-weight: 700;
        &:hover {
          color: $green;
        }
      }
      &__mail {
        text-decoration: underline;
        color: $green;
      }
    }
  }
}

/* Map */

.map {
  height: 500px;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}




