$hover: #4178b4;
$blue: #285382;
$red: #dd261e;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  min-height: 100%;
  font: 400 16px 'ProximaNova', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'ProximaNova', sans-serif;
  transition: 300ms;
  color: #000;
  &:hover {
    text-decoration: none;
    color: $hover;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.container {
  position: relative;
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px !important;
    padding: 0 !important;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

.head {
  display: inline-block;
  font: 800 34px 'ProximaNova';
  margin-bottom: 34px;
  border-bottom: 5px solid $red;
  padding-right: 12px;
}

@media (max-width: 1200px) {
  .head {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .head {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .head {
    font-size: 26px;
    line-height: 1.1;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 5px;
      background-color: #222;
      transition: all .2s ease-in-out;
      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 5px;
        position: absolute;
        left: 0;
        background-color: #222;
        transition: all .2s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
    &.active {
      span {
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }
        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
}

@media (max-width: 1340px) {
  .burger {
    display: block;
  }  
}

// Checkbox

.check {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #626262;
  &-wrap {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '\2714';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: $red;
      font-size: 16px;
      opacity: 0;
      transition: 300ms;
    }
  }
  &-text {
    padding-left: 34px;
    color: #6c6966;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .check-text {
    padding-left: 24px;
  }
}

// Page

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-content {
    flex-direction: 10;
  }
}

// Fullpage

@media (max-width: 991px) {
  .section {
    height: 100% !important;
    padding: 0 !important;
  }
  .fp-tableCell {
    height: 100% !important;
  }
}

// Header

.header {
  position: relative;
  padding: 21px 90px 13px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -10px 24px 6px rgba(0, 1, 1, 0.2);
  &-wrap {
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  &-body {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-descr {
    font-size: 14px;
    margin-bottom: 9px;
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-contact {
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    a {
      line-height: 1;
      margin-bottom: 8px;
      font-weight: 800;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-order {
    line-height: 40px;
    margin-right: 42px;
    border: 1px solid $blue;
    color: $blue;
    padding: 0 18px;
    font-weight: 700;
    &:hover {
      color: $hover;
      border-color: $hover;
    }
  }
}

.lang {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 2px;
    &:last-child {
      margin-bottom: 0;
    }
    &.active span {
      background-color: #6c6966;
      color: #fff;
    }
    a, span {
      width: 30px;
      height: 20px;
      color: #6c6966;
      font-size: 14px;
      font-weight: 800;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: #6c6966;
        color: #fff;
      }
    }
  }
}

@media (max-width: 1900px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    &-wrap {
      height: 76px;
    }
    &-descr {
      margin-bottom: 2px;
    }
    &-contact {
      margin-right: 8px;
      a {
        margin-bottom: 6px;
      }
    }
    &-order {
      font-size: 15px;
      margin-right: 14px;
      padding: 0 10px;
    }
  }
}
@media (max-width: 1340px) {
  .header {
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 10;
      padding-right: 40px;
    }
    &-descr {
      width: 440px;
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1200px) {
  .header {
    &-content {
      padding-right: 20px;
    }
    &-descr {
      width: 266px;
      font-size: 13px;
      line-height: 1.1;
    }
  }
}
@media (max-width: 991px) {
  .header {
    &-wrap {
//      position: static;
      height: auto;
    }
    &-content {
      justify-content: flex-end;
    }
    &-descr {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    &-body {
      width: 100%;
    }
    &-content {
      justify-content: flex-start;
    }
  }
}
@media (max-width: 475px) {
  .header {
    flex-direction: row;
    &-content {
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 0;
    }
    &-info {
      display: none;
      width: 100%;
      order: -1;
      flex-direction: column;
      margin-bottom: 10px;
    }
    &-contact {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &-order {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .lang {
    display: flex;
    li {
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Logo

.logo {
  flex-shrink: 0;
  width: 220px;
  margin-right: 80px;
}

@media (max-width: 1900px) {
  .logo {
    width: 180px;
    margin-right: 20px;
  }
}
@media (max-width: 1340px) {
  .logo {
    width: 220px;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-right: 0;
    margin-bottom: 14px;
  }
}
@media (max-width: 475px) {
  .logo {
    width: 180px;
    margin-bottom: 0;
  }
}

// Custom nav

.custom-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-weight: 800;
    }
  }
}

@media (max-width: 1900px) {
  .custom-nav {
    li {
      margin-right: 14px;
      a {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 1340px) {
  .custom-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 0;
    background-color: #fff;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    li {
      margin: 4px 0;
      a {
        font-size: 16px;
      }
    }
  }
}

// Modal advice

.modal-advice {
  display: none;
  width: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 31px 48px 26px;
  &-items {
    margin-bottom: 30px;
  }
  &-item {
    position: relative;
    margin-bottom: 27px;
    &:last-child {
      margin-bottom: 0;
    }
    &.error {
      input {
        border-color: $red;
        background-color: #fff;
      }
    }
    .error {
      &-text {
        line-height: 1;
        position: absolute;
        bottom: -18px;
        left: 0;
        color: $red;
        font-size: 14px;
      }
    }
    span {
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 6px;
    }
    input {
      width: 100%;
      height: 50px;
      padding: 0 18px;
      background-color: #e8e8e8;
      border: 1px solid transparent;
      font: 400 18px 'ProximaNova';
      &::placeholder {
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      height: 50px;
      padding: 0 30px;
      margin-bottom: 24px;
      border: none;
      cursor: pointer;
      transition: 300ms;
      color: #fff;
      background-color: $blue;
      font: 800 18px 'ProximaNova';
      &:hover {
        background-color: $hover;
      }
    }
  }
}

// Modal application

.modal-application {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 34px;
  .head {
    padding-right: 0;
    margin-bottom: 36px;
  }
  &__text {
    padding: 0 24px;
    line-height: 1.6;
    font-size: 18px;
  }
}

// Fancybox

.fancybox {
  &-slide>* {
    overflow: visible;
  }
  &-close-small {
    background: #e8e8e8 url(../images/close.png) no-repeat left;
    width: 40px;
    height: 40px;
    top: -1px;
    right: -40px;
    &:focus {
      outline: none;
    }
    &:hover {
      background-position: right;
    }
    &:after {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .modal-advice {
    width: 460px;
    padding: 16px 20px 12px;
  }
}
@media (max-width: 575px) {
  .modal-advice {
    width: 300px;
    padding: 12px;
    &-items {
      margin-bottom: 20px;
    }
    &-bottom {
      button {
        margin-bottom: 18px;
      }
    }
  }
  .fancybox-close-small {
    top: 0;
    right: 0;
  }
  .modal-application {
    padding: 40px 0;
    .head {
      margin-bottom: 12px;
    }
  }
}

// Footer

.footer {
  padding: 27px 0 16px;
  flex-shrink: 0;
  &-wrap {
    background-color: #191919;
    padding-top: 0 !important;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    margin-bottom: 35px;
  }
  &-item {
    position: relative;
    width: 560px;
    img {
      width: 24px;
      height: 34px;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
  &-content {
    padding-left: 40px;
    padding-top: 10px;
    p {
      color: #fff;
      margin-bottom: 13px;
      a {
        color: #fff;
        text-decoration: underline;
        margin-left: 2px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &-elem {
    display: flex;
    align-items: center;
  }
  &-tel {
    margin-right: 16px;
    span {
      color: #fff;
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__mail {
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (max-width: 1900px) {
  .footer {
    &-items {
      padding-right: 0;
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    &-item {
      width: 474px;
    }
    &-content {
      padding-left: 36px;
      padding-top: 6px;
      p {
        font-size: 15px;
        margin-bottom: 10px;
        a {
          font-size: 15px;
        }
      }
    }
    &-tel a,
    &__mail {
      font-size: 15px;
    }
  }
}
@media (max-width: 991px) {
  .footer {
    &-item {
      width: 370px;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 575px) {
  .footer {
    &-items {
      margin-bottom: 28px;
    }
    &-elem {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

// Bottom

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
  p {
    margin-bottom: 0;
    color: #9f9f9f;
    font-size: 14px;
    a {
      color: #9f9f9f;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1900px) {
  .bottom {
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .bottom {
    flex-direction: column;
    p {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Bread

.bread {
  padding: 29px 0 32px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    position: relative;
    margin-right: 22px;
    color: #6c6966;
    font-size: 14px;
    &:after {
      content: '>';
      display: block;
      position: absolute;
      top: 0;
      right: -15px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: #6c6966;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 575px) {
  .bread {
    padding: 22px 0 20px;
  }
}

// Video

.video {
  padding-bottom: 22px;
  .head {
    margin-bottom: 40px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  &-item {
    width: 600px;
    margin-bottom: 31px;
    iframe {
      width: 100%;
      height: 300px;
      border: none;
    }
    p {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 0;
      padding-top: 8px;
    }
  }
}

@media (max-width: 1340px) {
  .video {
    &-item {
      width: 560px;
    }
  }
}
@media (max-width: 1200px) {
  .video {
    &-item {
      width: 470px;
      iframe {
        height: 262px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 991px) {
  .video {
    .head {
      margin-bottom: 28px;
    }
    &-item {
      width: 366px;
      margin-bottom: 20px;
      iframe {
        height: 230px;
      }
      p {
        font-size: 16px;
        line-height: 1.2;
        padding-top: 2px;
      }
    }
  }
}
@media (max-width: 767px) {
  .video {
    &-items {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width: 575px) {
  .video {
    &-item {
      width: 300px;
      iframe {
        height: 180px;
      }
    }
  }
}

// Custom pagination

.custom-pagination {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    margin: 0 1px;
    &.active {
      a {
        color: #000;
        border-color: #000;
        text-decoration: none;
      }
    }
    &.prev, &.next {
      a {
        font-size: 24px;
        width: auto;
        height: auto;
        border: none;
        text-decoration: none;
        line-height: 1;
        &:hover {
          color: $blue;
        }
      }
    }
    &.prev {
      margin: 0 20px 0 0;
    }
    &.next {
      margin: 0 0 0 20px;
    }
    a {
      width: 40px;
      height: 40px;
      border: 1px solid transparent;
      color: #6c6966;
      font-weight: 700;
      text-decoration: underline;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #000;
        border-color: #000;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .custom-pagination {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .custom-pagination {
    li {
      &.prev {
        margin-right: 12px;
      }
      &.next {
        margin-left: 12px;
      }
      a {
        width: 32px;
        height: 32px;
        font-size: 15px;
      }
    }
  }
}

// Projects

.projects {
  padding-bottom: 20px;
  .head {
    margin-bottom: 31px;
  }
  &-nav {
    padding: 0;
    margin: 0 0 18px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      margin: 0 14px 10px 0;
      &.active a {
        background-color: #285382;
        color: #fff;
      }
      a {
        padding: 4px 14px;
        color: #6c6966;
        font-weight: 700;
        border: 1px solid #6c6966;
        &:hover {
          background-color: #285382;
          color: #fff;
        }
      }
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-item {
    width: 600px;
    margin-bottom: 40px;
    padding-bottom: 17px;
    border: 1px solid #aeaeae;
    p {
      padding: 17px 150px 0 20px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
    }
  }
}

@media (max-width: 1340px) {
  .projects {
    &-item {
      width: 564px;
      p {
        padding-right: 114px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .projects {
    &-item {
      width: 470px;
      p {
        padding-right: 30px;
      }
    }
  }
}
@media (max-width: 991px) {
  .projects {
    &-item {
      width: 364px;
      margin-bottom: 24px;
      p {
        font-size: 18px;
        line-height: 1.2;
        padding: 10px 10px 0;
      }
    }
  }
}
@media (max-width: 767px) {
  .projects {
    &-items {
      justify-content: center;
      
    }
  }
}
@media (max-width: 575px) {
  .projects {
    &-nav {
      li {
        margin: 0 8px 8px 0;
        a {
          padding: 4px 10px;
          font-size: 15px;
        }
      }
    }
    &-item {
      p {
        font-size: 16px;
      }
    }
  }
}

// News

.news {
  padding-bottom: 20px;
  .head {
    margin-bottom: 40px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 380px;
    margin: 0 60px 51px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
    .date {
      position: relative;
      margin: 38px 0 33px;
      padding-left: 22px;
      line-height: 1;
      color: #6c6966;
      font-weight: 700;
      &:before {
        content: '';
        display: block;
        background: url(../images/news-date.jpg) no-repeat 50%;
        width: 11px;
        height: 8px;
        position: absolute;
        top: 5px;
        left: 2px;
      }
    }
    &__head {
      color: #285382;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.45;
      margin-bottom: 24px;
      color: $blue;
    }
    p {
      line-height: 1.65;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1340px) {
  .news {
    &-item {
      width: 376px;
      margin: 0 20px 26px 0;
      .date {
        margin: 26px 0 18px;
      }
      &__head {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.35;
      }
    }
  }
}
@media (max-width: 1200px) {
  .news {
    &-item {
      width: 310px;
    }
  }
}
@media (max-width: 991px) {
  .news {
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
      &:nth-child(3n) {
        margin: 0 10px 20px;
      }
    }
  }
}
@media (max-width: 575px) {
  .news {
    &-item {
      margin-right: 0;
      margin-left: 0;
      &:nth-child(3n) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

// Main news

.main-news {
  position: relative;
  &-wrap {
    background-color: $blue;
  }
  .head {
    color: #fff;
    margin-bottom: 40px;
  }
  &__link {
    position: absolute;
    top: 6px;
    right: 0;
    color: #fff;
    line-height: 39px;
    border: 1px solid #fff;
    padding: 0 31px 0 16px;
    &:hover {
      color: #fff;
      &:after {
        right: 9px;
      }
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/arrow.png) no-repeat 50%;
      width: 6px;
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      transition: 300ms;
    }
  }
  .news {
    &-item {
      .date {
        color: #fff;
        &:before {
          background-image: url(../images/dateBeforeWhite.png);
        }
      }
      &__head {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1900px) {
  .main-news {
    padding: 0;
    .head {
      margin-bottom: 30px;
    }
    .news {
      &-item {
        .date {
          font-size: 15px;
          margin: 14px 0 8px;
        }
        &__head {
          line-height: 1.2;
          font-size: 18px;
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          line-height: 1.3;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .main-news {
    .head {
      margin-bottom: 14px;
    }
    &__link {
      line-height: 34px;
      font-size: 15px;
    }
    .news {
      &-item {
        &__head {
          line-height: 1.1;
          font-size: 16px;
          margin-bottom: 6px;
        }
        p {
          font-size: 14px;
          line-height: 1.15;
        }
        .date {
          font-size: 14px;
          margin: 10px 0 6px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .main-news {
    padding: 30px 0;
    &__link {
      top: 36px;
    }
  }
}
@media (max-width: 575px) {
  .main-news {
    .head {
      margin-right: 40px;
    }
    &__link {
      position: relative;
      top: 0;
      margin-bottom: 14px;
    }
  }
}

// Main video

.main-video {
//  padding: 50px 0;
  &__link {
    position: absolute;
    top: 7px;
    right: 0;
    color: $blue;
    line-height: 39px;
    border: 1px solid $blue;
    padding: 0 36px 0 16px;
    &:hover {
      color: $blue;
      &:after {
        right: 9px;
      }
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/arrowBlue.png) no-repeat 50%;
      width: 6px;
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      transition: 300ms;
    }
  }
  .video {
    padding: 0;
    &-items {
      margin-bottom: 0;
    }
    &-item {
      margin-bottom: 45px;
    }
  }
}

@media (max-width: 1900px) {
  .main-video {
    .head {
      margin-bottom: 20px;
    }
    .video {
      &-item {
        margin-bottom: 10px;
        iframe {
          height: 230px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .main-video {
    .head {
      margin-bottom: 14px;
    }
    &__link {
      line-height: 34px;
      font-size: 15px;
    }
    .video {
      &-item {
        iframe {
          height: 190px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .main-video {
    padding: 30px 0;
    &__link {
      top: 36px;
    }
  }
}
@media (max-width: 575px) {
  .main-video {
    .head {
      margin-right: 40px;
    }
    &__link {
      position: relative;
      top: 0;
      margin-bottom: 14px;
    }
  }
}

// Contacts

.contacts {
  padding-bottom: 70px;
  .head {
    margin-bottom: 31px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
    &:last-child {
      margin-bottom: 0;
    }
    &__head {
      color: $blue;
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 31px;
    }
    &__tel {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      &:hover {
        color: $hover;
      }
    }
    &__mail {
      text-decoration: underline;
      color: $blue;
    }
    p {
      line-height: 1;
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      margin-top: 28px;
      tr {
        &.info td {
          padding-top: 30px;
        }
        td {
          padding: 2px 0;
          &:first-child {
            width: 144px;
          }
        }
      }
    }
  }
  &-map {
    flex-shrink: 0;
    width: 780px;
    height: 300px;
    iframe {
      width: 100%;
      height: 100%;
      border: 1px solid #bababa;
    }
  }
  &-content {
    flex-grow: 10;
    padding-right: 40px;
    padding-top: 10px;
  }
}

@media (max-width: 1340px) {
  .contacts {
    &-map {
      width: 700px;
    }
  }
}
@media (max-width: 1200px) {
  .contacts {
    padding-bottom: 50px;
    &-map {
      width: 500px;
    }
    &-item {
      margin-bottom: 34px;
    }
  }
}
@media (max-width: 991px) {
  .contacts {
    &-map {
      width: 380px;
    }
    &-content {
      padding-right: 16px;
    }
    &-item {
      &__head {
        margin-bottom: 20px;
      }
      &__tel {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
      table {
        margin-top: 18px;
      }
    }
  }
}
@media (max-width: 767px) {
  .contacts {
    &-item {
      flex-direction: column;
    }
    &-content {
      padding: 0;
      margin-bottom: 20px;
    }
    &-map {
      width: 100%;
      height: 220px;
    }
  }
}
@media (max-width: 575px) {
  .contacts {
    &-content {
      table {
        tr {
          &.info td {
            padding-top: 20px;
          }
          td {
            font-size: 15px;
            &:first-child {
              width: 118px;
            }
          }
        }
      }
    }
  }
}

// Article

.article {
  margin: -4px 0 89px;
  h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 26px;
    font-weight: 700;
    padding-right: 60px;
  }
  ul {
    margin: 0 0 40px;
    padding: 0 0 0 60px;
    list-style: none;
    li {
      font-weight: 700;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  > img {
    margin-bottom: 36px;
  }
  .date {
    position: relative;
    color: #6c6966;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 28px;
    &:before {
      content: '';
      display: block;
      background: url(../images/news-date.jpg) no-repeat 50%;
      width: 11px;
      height: 8px;
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
  p {
    line-height: 1.65;
    margin-bottom: 32px;
    padding-right: 100px;
    &.indent {
      margin-bottom: 16px;
    }
  }
  &-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
    img {
      width: 600px;
    }
  }
}

@media (max-width: 1340px) {
  .article {
    &-img {
      img {
        width: 560px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .article {
    margin: 0 0 62px;
    h2 {
      font-size: 30px;
    }
    p {
      padding-right: 0;
      line-height: 1.5;
      margin-bottom: 26px;
    }
    > img {
      margin-bottom: 28px;
    }
    &-img {
      img {
        width: 466px;
      }
    }
  }
}
@media (max-width: 991px) {
  .article {
    h3 {
      font-size: 20px;
      line-height: 1.25;
      margin-bottom: 16px;
    }
    ul {
      margin: 0 0 30px;
      padding: 0 0 0 44px;
    }
    &-img {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
      img {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 767px) {
  .article {
    h2 {
      font-size: 26px;
      line-height: 1.1;
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      li {
        font-size: 14px;
        margin-bottom: 12px;
      }
    }
    .date {
      margin-bottom: 14px;
    }
    p {
      font-size: 15px;
      line-height: 1.25;
      margin-bottom: 20px;
    }
    > img {
      margin-bottom: 20px;
    }
  }
}

// Products

.products {
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    position: relative;
    width: 33.33%;
    height: 440px;
    -webkit-box-shadow: inset 0px -83px 22px 0px rgba(0,0,0,0.9); 
    box-shadow: inset 0px -83px 22px 0px rgba(0,0,0,0.9);
    > img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 65px;
    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 800;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
    a {
      position: relative;
      line-height: 40px;
      font-weight: 700;
      border: 1px solid #fff;
      padding: 0 30px 0 20px;
      color: #fff;
      &:after {
        content: '';
        display: block;
        background: url(../images/arrow.png) no-repeat 50%;
        width: 6px;
        height: 10px;
        margin-top: 1px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        transition: 300ms;
      }
      &:hover {
        &:after {
          right: 9px;
        }
      }
    }
  }
}

@media (max-width: 1900px) {
  .products {
    &-item {
      height: 295px;
    }
    &-content {
      margin-bottom: 42px;
    }
  }
}
@media (max-width: 1340px) {
  .products {
    &-item {
      height: 300px;
    }
    &-content {
      h2 {
        font-size: 20px;
        margin-bottom: 16px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .products {
    &-item {
      height: 260px;
    }
    &-content {
      margin-bottom: 30px;
      h2 {
        font-size: 18px;
      }
      a {
        line-height: 36px;
        padding-left: 16px;
      }
    }
  }
}
@media (max-width: 991px) {
  .products {
    &-item {
      width: 50%;
    }
  }
}
@media (max-width: 767px) {
  .products {
    &-item {
      height: 240px;
    }
  }
}
@media (max-width: 575px) {
  .products {
    &-item {
      width: 100%;
    }
  }
}

// Showcase

.showcase {
  margin-top: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-content {
    width: 880px;
    text-align: center;
    .head {
      font-size: 48px;
      color: #fff;
      padding-right: 0;
      margin-bottom: 26px;
    }
    p {
      font-size: 24px;
      color: #fff;
      line-height: 1.4;
      margin-bottom: 56px;
    }
    a {
      position: relative;
      line-height: 50px;
      padding: 0 45px 0 30px;
      color: #fff;
      border: 1px solid #fff;
      font-size: 18px;
      font-weight: 700;
      &:hover {
        &:after {
          transform: translateY(0%);
        }
      }
      &:after {
        content: '';
        display: block;
        background: url(../images/arrowDown.png) no-repeat 50%;
        width: 14px;
        height: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        transition: 300ms;
      }
    }
  }
}

@media (max-width: 1900px) {
  .showcase {
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .showcase {
    &-content {
      .head {
        font-size: 42px;
        margin-bottom: 14px;
      }
      p {
        font-size: 21px;
        line-height: 1.25;
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 991px) {
  .showcase {
    padding: 166px 40px 40px;
    &-content {
      .head {
        font-size: 36px;
        margin-bottom: 8px;
      }
      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
      a {
        line-height: 42px;
        padding: 0 40px 0 16px;
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 767px) {
  .showcase {
    &-content {
      .head {
        font-size: 28px;
      }
      p {
        font-size: 15px;
      }
      a {
        line-height: 36px;
        padding: 0 36px 0 10px;
        font-size: 14px;
      }
    }
  }
}

// About

.about {
//  padding: 76px 0 66px;
  .head {
    margin-bottom: 40px;
  }
  &-wrap {
    position: relative;
    background: url(../images/about-bg.jpg) no-repeat 50%;
    background-size: cover;
    .container {
      z-index: 5;
    }
    &:after {
      content: '';
      display: block;
      background-color: rgba(232, 232, 232, .6);
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
  &-items {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 42.8%;
    h2 {
      color: $blue;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.4;
      margin-bottom: 26px;
    }
    p {
      line-height: 1.65;
      margin-bottom: 26px;
    }
    ul {
      margin: 0 0 26px;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 26px;
        line-height: 1.65;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          background-color: $red;
          position: absolute;
          top: 12px;
          left: 0;
        }
      }
    }
  }
}

@media (max-width: 1900px) {
  .about {
    padding-top: 0;
    .head {
      margin-bottom: 20px;
    }
    &-item {
      h2 {
        line-height: 1.25;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.35;
        margin-bottom: 10px;
      }
      ul {
        margin-bottom: 10px;
        li {
          margin-bottom: 12px;
          line-height: 1.35;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .about {
    .head {
      margin-bottom: 14px;
    }
    &-item {
      width: 46%;
      h2 {
        line-height: 1.1;
        font-size: 20px;
      }
      p {
        line-height: 1.15;
        font-size: 15px;
      }
      ul {
        li {
          font-size: 15px;
          margin-bottom: 8px;
          line-height: 1.15;
          &:before {
            top: 7px;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .about {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .about {
    &-wrap:after {
      width: 100%;
    }
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
