@media only screen and (max-width: 1600px) {
  .container {
    width: 1336px; }
  .logo {
    margin-right: 43px; }
  .nav ul li {
    margin-right: 20px; }
  .main {
    padding: 64px 0 40px 98px; }
    .main__head {
      font-size: 100px; }
    .main__sub-head {
      font-size: 24px;
      margin-bottom: 50px; }
  .main-footer {
    margin-top: 95px;
    padding-left: 0; }
  .main__scroll {
    margin-right: 153px; }
  .lines:before, .lines:after {
    display: none; }
  .about-item:first-child {
    padding-left: 98px; }
  .service {
    padding-left: 98px; }
  .service-device {
    width: 653px; }
  .service-items {
    width: 680px; }
  .service-item-col:last-child .service-item {
    padding-right: 110px; }
  .process {
    padding-left: 98px; }
    .process-item {
      padding-right: 40px; }
  .projects {
    height: 1018px; }
  .projects-content {
    padding: 44px 80px 125px 80px;
    width: 437px;
    margin-left: 15px; }
  .projects-item1 {
    position: absolute;
    top: 50px;
    left: 424px;
    width: 586px;
    height: 278px; }
  .projects-item2 {
    position: absolute;
    top: 50px;
    left: 1040px;
    width: 278px;
    height: 278px; }
  .projects-item3 {
    position: absolute;
    top: 357px;
    left: 118px;
    width: 278px;
    height: 278px; }
  .projects-item4 {
    position: absolute;
    top: 357px;
    left: 424px;
    width: 278px;
    height: 586px; }
  .projects-item5 {
    position: absolute;
    top: 357px;
    left: 729px;
    width: 278px;
    height: 278px; }
  .projects-item6 {
    position: absolute;
    top: 665px;
    left: 729px;
    width: 586px;
    height: 278px; }
  .projects-item7 {
    position: absolute;
    top: 357px;
    left: 1043px;
    width: 278px;
    height: 278px; }
  .ask {
    padding-left: 98px; }
    .ask-item__name {
      font-size: 20px; }
  .feedbacks-content {
    margin-left: 20px;
    width: 438px;
    height: 425px;
    padding: 56px 60px 70px 78px; }
    .feedbacks-content__head {
      font-size: 36px;
      margin-bottom: 40px; }
  .feedbacks-carousel {
    margin-left: -42px;
    max-width: 900px;
    margin-top: 65px; }
  .feedbacks-item {
    width: 430px;
    height: 440px; }
  .terms {
    padding-left: 98px; }
    .terms__head {
      padding-left: 98px; }
    .terms-form {
      width: 830px;
      padding-right: 15px; }
    .terms-data {
      width: 40%; }
    .terms-total {
      width: 60%; }
  .extra {
    width: 332px;
    padding: 22px; }
    .extra li {
      margin-bottom: 11px; }
  .contacts {
    padding: 0 98px; }
  .site-info {
    padding: 42px 12px 15px; }
    .site-info p:last-child {
      display: none; } }

@media only screen and (max-width: 1350px) {
  .container {
    width: 970px; }
  .logo {
    margin-top: 10px; }
    .logo p {
      font-size: 26px; }
  .callback {
    margin-top: 41px; }
  .nav {
    float: none;
    width: 100%;
    margin-top: 0;
    padding-top: 121px; }
    .nav ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .nav ul li {
        margin-right: 40px; }
  .main {
    padding: 43px 0 22px 40px; }
    .main__head {
      font-size: 72px;
      margin-bottom: 24px; }
    .main__sub-head {
      font-size: 20px;
      max-width: 244px;
      margin-bottom: 27px; }
    .main__descr {
      max-width: 260px;
      line-height: 1.6;
      font-size: 14px; }
  .main-footer {
    margin-top: 60px;
    padding-left: 0; }
  .main__scroll {
    margin-right: 106px; }
  .main-wrap {
    background-position: 32% 50%; }
  .about-item {
    padding-left: 12px; }
    .about-item:first-child {
      padding-left: 40px; }
    .about-item__head {
      font-size: 24px; }
    .about-item li {
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 1.2;
      margin-left: 0;
      padding-left: 24px; }
      .about-item li:before {
        top: 1px; }
  .service {
    padding-left: 40px; }
    .service__head {
      padding: 40px 0 20px;
      font-size: 36px; }
    .service__descr {
      max-width: 100%;
      font-size: 16px;
      margin-bottom: 38px; }
    .service__sub-head {
      font-size: 26px;
      margin-bottom: 22px; }
  .service-items {
    width: 270px;
    display: block; }
  .service-item-col {
    width: 100%; }
  .service-item {
    width: 100%;
    margin-bottom: 20px; }
    .service-item__head {
      font-size: 14px;
      margin-bottom: 9px; }
    .service-item li {
      font-size: 14px;
      padding-left: 14px;
      margin-bottom: 8px; }
  .service-item-col:last-child .service-item {
    padding-right: 0; }
  .service-device {
    top: 180px; }
  .service-data {
    margin: 40px 0; }
  .process {
    padding: 40px 0 35px 40px; }
    .process__head {
      font-size: 26px;
      margin-bottom: 20px; }
    .process__descr {
      font-size: 14px;
      padding-left: 110px;
      line-height: 1.7;
      margin-bottom: 25px; }
      .process__descr:before {
        width: 100px; }
    .process-item {
      padding-right: 30px; }
      .process-item__num {
        font-size: 48px;
        margin-bottom: 15px; }
      .process-item__name {
        font-size: 18px;
        margin-bottom: 12px; }
  .projects {
    height: 997px; }
  .projects-content {
    padding: 40px 80px 160px 35px;
    width: 394px; }
  .projects-item1 {
    position: absolute;
    top: 42px;
    left: 362px;
    width: 586px;
    height: 278px; }
  .projects-item2 {
    position: absolute;
    top: 42px;
    left: 668px;
    width: 278px;
    height: 278px; }
  .projects-item3 {
    position: absolute;
    top: 357px;
    left: 50px;
    width: 278px;
    height: 278px; }
  .projects-item4 {
    position: absolute;
    top: 357px;
    left: 362px;
    width: 278px;
    height: 586px; }
  .projects-item5 {
    position: absolute;
    top: 670px;
    left: 362px;
    width: 278px;
    height: 278px; }
  .projects-item6 {
    position: absolute;
    top: 670px;
    left: 668px;
    width: 586px;
    height: 278px; }
  .projects-item7 {
    position: absolute;
    top: 357px;
    left: 668px;
    width: 278px;
    height: 278px; }
  .projects-item {
    width: 280px;
    height: 280px;
    background-size: cover !important; }
  .ask {
    padding-left: 40px; }
    .ask__head {
      font-size: 26px;
      margin-bottom: 25px; }
    .ask-item__name {
      font-size: 18px;
      margin-bottom: 15px; }
    .ask-item__answer {
      font-size: 14px; }
  .feedbacks__head {
    font-size: 26px;
    padding-left: 40px; }
  .feedbacks-content {
    margin-left: 0;
    width: 393px;
    height: 393px;
    padding: 36px 130px 115px 35px; }
    .feedbacks-content__head {
      font-size: 26px;
      margin-bottom: 40px; }
    .feedbacks-content p {
      font-size: 14px;
      margin-bottom: 25px; }
  .feedbacks-carousel {
    max-width: 600px;
    margin-top: 40px; }
  .feedbacks-item {
    width: 600px;
    height: 290px;
    margin-right: 0; }
    .feedbacks-item__title {
      font-size: 18px; }
    .feedbacks-item__text {
      font-size: 14px; }
    .feedbacks-item__name {
      font-size: 14px; }
    .feedbacks-item__prof {
      font-size: 14px; }
  .feedbacks-nav {
    width: 150px; }
  .terms {
    padding-bottom: 50px;
    padding-left: 40px;
    display: block; }
    .terms__head {
      padding-left: 40px;
      font-size: 26px;
      margin-bottom: 26px; }
    .terms-form {
      width: 100%;
      padding-right: 15px; }
  .extra {
    max-width: 730px;
    width: auto;
    margin: 0 auto;
    padding: 25px 45px; }
    .extra__head {
      font-size: 26px;
      margin-bottom: 10px; }
    .extra li {
      margin-bottom: 10px; }
  .contacts {
    padding: 0 0 0 40px; }
  .address {
    padding-bottom: 37px; }
    .address__head {
      font-size: 26px;
      margin-bottom: 25px; }
    .address__label {
      font-size: 14px; }
    .address__link {
      font-size: 14px; }
  .write {
    padding-bottom: 37px; }
    .write__head {
      font-size: 26px;
      margin-bottom: 25px; }
    .write__label {
      font-size: 14px; }
    .write input,
    .write textarea {
      font-size: 14px; }
    .write button {
      font-size: 14px; }
  .footer {
    padding-top: 45px;
    position: relative; }
    .footer .nav {
      margin-top: 60px;
      position: absolute;
      left: 0;
      top: 35px;
      right: 0;
      padding-top: 0;
      margin-top: 0; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  .nav {
    display: none; }
  .logo {
    margin-top: 9px;
    padding: 20px 0 0 55px; }
    .logo p {
      font-size: 18px;
      margin-bottom: 1px; }
    .logo span {
      font-size: 12px; }
    .logo img {
      width: 84px; }
  .callback {
    margin-top: 31px; }
    .callback__tel {
      font-size: 18px;
      margin-bottom: 1px; }
    .callback__link {
      font-size: 12px; }
  .main {
    padding: 44px 0 22px 15px; }
    .main__head {
      font-size: 48px;
      margin-bottom: 19px; }
    .main__sub-head {
      font-size: 16px;
      margin-bottom: 19px; }
      .main__sub-head br {
        display: none; }
  .main__scroll {
    display: none; }
  .main-advan {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .main-wrap {
    background-position: 59% 50%; }
  .lines div:after, .lines div:before {
    display: none; }
  .about-item {
    width: 477px;
    margin: 0 auto;
    padding: 0 !important; }
    .about-item:first-child {
      margin-bottom: 30px; }
    .about-item__head {
      margin-bottom: 15px; }
  .about {
    display: block;
    padding: 30px 0; }
  .service-device {
    left: 212px;
    bottom: 30px;
    right: auto;
    top: auto;
    width: auto; }
    .service-device > img {
      display: none; }
  .service {
    padding-left: 0;
    padding-bottom: 184px; }
    .service__head {
      font-size: 24px;
      padding: 20px 0; }
    .service__descr {
      font-size: 14px;
      margin-bottom: 20px; }
    .service__sub-head {
      font-size: 24px;
      margin-bottom: 14px; }
  .service-items {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 660px; }
  .service-item {
    margin-bottom: 25px; }
  .service-item-col {
    width: 50%; }
  .service__link {
    margin-left: 0; }
  .service-data {
    display: block; }
    .service-data-item {
      padding-left: 115px;
      margin-bottom: 20px; }
      .service-data-item p {
        font-size: 18px;
        margin-left: 12px; }
  .process {
    padding: 30px 0 24px; }
    .process__head {
      font-size: 24px;
      margin-bottom: 15px; }
    .process__descr {
      padding-left: 100px; }
      .process__descr:before {
        width: 80px; }
    .process-items {
      display: block; }
    .process-item {
      width: 100%;
      margin-bottom: 20px; }
      .process-item__num {
        margin-bottom: 10px; }
  .projects {
    height: 785px; }
    .projects__head {
      font-size: 24px;
      margin-bottom: 20px; }
  .projects-content {
    padding: 24px 60px 48px 22px;
    width: 308px;
    margin-left: 0; }
  .projects-item1 {
    position: absolute;
    top: 26px;
    left: 260px;
    width: 586px;
    height: 278px; }
  .projects-item2 {
    position: absolute;
    top: 26px;
    left: 505px;
    width: 278px;
    height: 278px; }
  .projects-item3 {
    position: absolute;
    top: 275px;
    left: 17px;
    width: 278px;
    height: 278px; }
  .projects-item4 {
    position: absolute;
    top: 275px;
    left: 260px;
    width: 278px;
    height: 586px; }
  .projects-item5 {
    position: absolute;
    top: 525px;
    left: 260px;
    width: 278px;
    height: 278px; }
  .projects-item6 {
    position: absolute;
    top: 525px;
    left: 505px;
    width: 586px;
    height: 278px; }
  .projects-item7 {
    position: absolute;
    top: 275px;
    left: 505px;
    width: 278px;
    height: 278px; }
  .projects-item {
    width: 227px;
    height: 227px;
    background-size: cover !important; }
  .ask {
    padding-bottom: 30px;
    padding-left: 0; }
    .ask-items {
      display: block; }
    .ask-item {
      width: 100%; }
  .feedbacks__head {
    font-size: 24px;
    padding-left: 0px; }
  .feedbacks-content {
    margin-left: -20px;
    width: 300px;
    height: 300px;
    padding: 40px 60px 0px 30px; }
    .feedbacks-content__head {
      font-size: 24px; }
  .feedbacks-carousel {
    max-width: 470px;
    margin-top: 40px; }
  .feedbacks-item {
    width: 470px;
    height: 240px;
    margin-right: 0;
    padding: 15px; }
    .feedbacks-item__title {
      font-size: 14px;
      margin-bottom: 12px; }
    .feedbacks-item__text {
      margin-bottom: 15px; }
    .feedbacks-item__name {
      margin-bottom: 3px; }
  .feedbacks-nav {
    width: 150px; }
  .terms {
    padding-bottom: 50px;
    padding-left: 0px;
    display: block; }
    .terms__head {
      padding-left: 22px;
      font-size: 26px;
      margin-bottom: 26px; }
    .terms-data {
      width: 40%; }
      .terms-data-item label {
        font-size: 14px; }
    .terms-total {
      width: 60%; }
      .terms-total b {
        font-size: 42px; }
      .terms-total__descr {
        font-size: 12px; }
  .extra {
    max-width: 569px;
    padding: 20px 20px 20px 40px; }
    .extra__head {
      font-size: 24px;
      margin-bottom: 10px; }
    .extra li {
      margin-bottom: 10px;
      font-size: 14px; }
  .contacts {
    padding: 0;
    display: block; }
    .contacts-wrap .container {
      padding: 0; }
  .address {
    width: 100%;
    padding: 30px 0;
    text-align: center; }
    .address:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 100%;
      width: 9999px;
      background: inherit; }
    .address__head {
      margin-bottom: 18px; }
  .write {
    padding: 25px;
    width: 100%; }
    .write:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      right: 100%;
      width: 9999px;
      background: inherit; }
    .write__head {
      margin-bottom: 19px; }
    .write button {
      margin-top: 35px; }
  .site-info p {
    font-size: 12px; }
  .footer {
    padding-top: 15px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px; }
  .logo {
    margin-right: 0;
    padding: 0;
    margin-top: 2px; }
    .logo p,
    .logo span {
      display: none; }
    .logo img {
      position: static;
      width: 75px; }
  .callback {
    max-width: 200px;
    margin-top: 18px; }
    .callback__tel {
      font-size: 21px; }
    .callback__link {
      font-size: 14px; }
  .main {
    padding: 25px 0; }
    .main__head {
      font-size: 26px;
      margin-bottom: 15px; }
    .main__sub-head {
      font-size: 14px;
      margin-bottom: 15px; }
    .main__descr {
      max-width: 197px; }
  .main-advan-item {
    margin: 0;
    display: none; }
    .main-advan-item:first-child {
      display: block; }
  .main-advan {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
    .main-advan__num {
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left; }
      .main-advan__num span {
        margin-right: 0;
        margin-left: -8px; }
  .main-footer {
    margin-top: 30px; }
  .main-wrap {
    background-position: 32% 50%; }
  .about-item {
    max-width: 477px;
    width: auto;
    margin: 0 auto;
    padding: 0 !important; }
    .about-item:first-child {
      margin-bottom: 23px; }
    .about-item__head {
      font-size: 18px; }
  .about {
    display: block;
    padding: 23px 0; }
  .service-device {
    position: static; }
  .service {
    padding-bottom: 25px; }
    .service__head {
      font-size: 18px;
      padding: 17px 0 15px; }
    .service__descr {
      font-size: 12px;
      margin-bottom: 25px; }
    .service__sub-head {
      font-size: 18px;
      margin-bottom: 16px; }
  .service-items {
    display: block;
    width: auto; }
  .service-item-col {
    width: 100%; }
  .service-item {
    margin-bottom: 30px; }
  .service-data-item {
    padding-left: 0;
    margin-bottom: 15px; }
    .service-data-item p {
      font-size: 12px; }
  .service-data {
    margin-bottom: 0;
    margin-top: 0; }
  .service__link {
    line-height: 47px;
    font-size: 14px; }
  .process {
    padding: 15px 0 0; }
    .process__head {
      font-size: 18px;
      margin-bottom: 15px; }
    .process__descr {
      padding-left: 0;
      font-size: 12px; }
      .process__descr:before {
        display: none; }
    .process-items {
      display: block; }
    .process-item {
      margin-bottom: 20px; }
      .process-item__name {
        font-size: 12px; }
      .process-item__text {
        font-size: 12px; }
  .projects-item {
    position: relative;
    left: auto;
    top: auto;
    width: 260px;
    height: 260px;
    margin: 0 auto 20px; }
  .projects {
    height: auto; }
    .projects-content {
      width: 100%;
      padding: 18px 15px 33px; }
    .projects-items {
      margin-top: -22px; }
  .projects-wrap .container {
    padding: 0; }
  .projects-item7 {
    height: 128px;
    margin: 20px auto 24px; }
    .projects-item7 a {
      line-height: 58px;
      padding: 0 50px; }
  .projects-item7 p {
    margin-bottom: 20px; }
  .ask__head {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 15px; }
  .ask-item__name {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.5; }
  .ask-item__answer {
    font-size: 14px; }
  .feedbacks {
    display: block;
    padding-bottom: 25px; }
    .feedbacks__head {
      font-size: 18px;
      margin-bottom: 10px; }
    .feedbacks-content {
      width: 100%;
      float: none;
      height: auto;
      padding: 15px 15px 200px;
      margin-left: 0;
      position: relative; }
      .feedbacks-content:before {
        content: '';
        display: block;
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        width: 15px;
        background: #2593ec; }
      .feedbacks-content:after {
        content: '';
        display: block;
        position: absolute;
        right: -15px;
        top: 0;
        bottom: 0;
        width: 15px;
        background: #2593ec; }
      .feedbacks-content__head {
        font-size: 18px;
        margin-bottom: 10px; }
      .feedbacks-content p {
        margin-bottom: 7px; }
    .feedbacks-carousel {
      max-width: auto;
      margin-top: -185px;
      margin-left: 0;
      float: none; }
    .feedbacks-item {
      width: auto;
      height: auto;
      margin-right: 0;
      padding: 15px;
      margin-left: 0; }
  .terms {
    padding-bottom: 0px; }
    .terms-wrap .container {
      padding: 0; }
    .terms__head {
      padding-left: 4px;
      font-size: 18px;
      margin-bottom: 20px; }
    .terms-form {
      display: block;
      padding: 15px; }
      .terms-form select {
        margin-left: 27px; }
    .terms-data {
      width: 100%; }
    .terms-total {
      margin-top: 25px;
      width: 100%; }
      .terms-total b {
        font-size: 25px; }
      .terms-total span {
        font-size: 12px;
        width: 125px; }
      .terms-total button {
        letter-spacing: 0;
        font-size: 14px;
        padding: 0;
        width: 100%;
        max-width: 280px;
        line-height: 40px; }
  .extra {
    max-width: 569px;
    padding: 15px 10px; }
    .extra__head {
      font-size: 18px;
      margin-bottom: 15px; }
    .extra li {
      margin-bottom: 7px;
      font-size: 12px; }
  .checkbox {
    margin-right: 15px; }
  .address {
    width: 100%;
    padding: 15px;
    text-align: left; }
    .address:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 100%;
      width: 9999px;
      background: inherit; }
    .address__head {
      margin-bottom: 18px;
      font-size: 18px; }
    .address__link {
      font-size: 14px;
      line-height: 48px;
      width: 100%;
      max-width: 280px;
      text-align: center; }
  .write {
    padding: 25px;
    width: 100%; }
    .write:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      right: 100%;
      width: 9999px;
      background: inherit; }
    .write__head {
      font-size: 18px; }
    .write button {
      margin-top: 35px;
      font-size: 14px;
      line-height: 48px;
      width: 100%;
      max-width: 280px;
      text-align: center; }
    .write-inputs {
      display: block;
      margin-bottom: 0; }
    .write input {
      width: 100%;
      display: block;
      margin-bottom: 13px; }
  .site-info {
    display: block;
    padding: 19px 0 10px; }
    .site-info p {
      font-size: 10px;
      margin-bottom: 5px; } }
