* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Raleway', sans-serif;
  background: #f5f5f5; }

a {
  font: 400 16px 'Raleway', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1560px;
  margin: 0 auto;
  position: relative;
  z-index: 2; }

.btn {
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn:hover:before {
    top: 0; }
  .btn:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    transition: 300ms;
    z-index: -1; }
  .btn.btn_white:before {
    background: #fff; }
  .btn.btn_white:hover {
    color: #2593ec; }
  .btn.btn_black:before {
    background: #000; }
  .btn.btn_black:hover {
    color: #fff; }

.lines {
  height: 100%;
  position: relative; }
  .lines:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #e1e1e1;
    left: -5px;
    top: 0; }
  .lines:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #e1e1e1;
    right: -5px;
    top: 0; }
  .lines div {
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #e1e1e1;
    opacity: .7;
    left: 50%;
    top: 0; }
    .lines div:after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      opacity: 0.7;
      background-color: #e1e1e1;
      right: 390px;
      top: 0; }
    .lines div:before {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      opacity: 0.7;
      background-color: #e1e1e1;
      left: 390px;
      top: 0; }
  .lines-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
    .lines-wrap .container {
      height: 100%; }

.main-wrap {
  background: url(../images/main-bg.jpg) no-repeat 50%;
  background-size: cover;
  position: relative; }

.logo {
  float: left;
  padding: 28px 0 0 72px;
  margin: 20px 82px 0 0;
  position: relative;
  z-index: 1; }
  .logo img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
  .logo p {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 8px;
    color: #000; }
  .logo span {
    color: #000;
    font-weight: 800; }
    .logo span b {
      color: #2593ec;
      transition: 300ms;
      font-weight: bold;
      border-bottom: 1px solid transparent; }
      .logo span b:hover {
        border-bottom: 1px solid #2593ec; }

.callback {
  float: right;
  margin-top: 50px;
  max-width: 270px;
  text-align: right; }
  .callback__tel {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 8px;
    color: #000; }
  .callback__link {
    color: #2593ec;
    border-bottom: 1px solid transparent;
    font-weight: bold; }
    .callback__link:hover {
      border-bottom: 1px solid #2593ec; }

.nav {
  margin-top: 84px;
  float: left; }
  .nav ul {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav ul li {
      margin-right: 34px; }
      .nav ul li:last-child {
        margin-right: 0; }
      .nav ul li a {
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        color: #000; }
        .nav ul li a:hover {
          color: #2593ec; }

.main {
  padding: 135px 0 47px 112px; }
  .main__head {
    font-weight: 800;
    font-size: 114px;
    margin-bottom: 27px; }
  .main__sub-head {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 75px; }
  .main__descr {
    font-size: 18px;
    line-height: 1.8;
    max-width: 400px; }

.main-footer {
  margin-top: 130px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px; }

.main__scroll {
  margin-right: 212px; }

.main-advan {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-advan-item {
    margin-right: 103px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .main-advan-item:last-child {
      margin-right: 0; }
  .main-advan__num {
    font-size: 64px;
    font-weight: bold;
    font-family: 'Gilroy';
    margin-bottom: 5px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-advan__num span {
      font-size: 24px;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      display: inline-block;
      text-transform: uppercase;
      margin-right: -8px;
      margin-top: 3px; }

.about {
  padding: 60px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about-wrap {
    position: relative; }
  .about-item {
    width: 50%;
    padding-left: 20px; }
    .about-item:first-child {
      padding-left: 112px; }
      .about-item:first-child li:before {
        background: url(../images/about-list1.png); }
    .about-item li {
      margin-bottom: 20px;
      margin-left: 13px;
      padding-left: 37px;
      position: relative; }
      .about-item li:before {
        content: '';
        display: block;
        background: url(../images/about-list2.png);
        width: 16px;
        height: 16px;
        left: 0;
        top: 0px;
        position: absolute; }
      .about-item li:last-child {
        margin-bottom: 0; }
    .about-item__head {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px; }

.service {
  color: #fff;
  padding-bottom: 20px;
  position: relative;
  padding-left: 112px; }
  .service-wrap {
    background: url(../images/service-bg.jpg) no-repeat center;
    background-size: cover;
    background-color: #2593ec; }
  .service__head {
    font-size: 56px;
    font-weight: bold;
    padding: 60px 0 35px; }
  .service__descr {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 50px;
    max-width: 640px; }
  .service__sub-head {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px; }
  .service-items {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px; }
  .service-item-col {
    width: 50%; }
  .service-item {
    margin-bottom: 45px; }
    .service-item__head {
      font-weight: bold;
      margin-bottom: 14px;
      text-transform: uppercase; }
    .service-item li {
      position: relative;
      padding-left: 16px;
      margin-bottom: 15px; }
      .service-item li:last-child {
        margin-bottom: 0; }
      .service-item li:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 5px; }

.service-device {
  width: 767px;
  position: absolute;
  right: 0;
  top: 160px; }

.service-data {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  margin-bottom: 50px; }
  .service-data-item {
    margin-right: 36px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .service-data-item:last-child {
      margin-right: 0; }
    .service-data-item p {
      margin-left: 25px;
      font-size: 24px;
      font-weight: bold; }

.service__link {
  line-height: 62px;
  padding: 0 50px;
  background: #d9bf8f;
  transition: 300ms;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2.5px;
  margin-left: 157px; }

.process {
  padding: 67px 0 57px 112px; }
  .process-wrap {
    position: relative; }
  .process__head {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px; }
  .process__descr {
    padding-left: 200px;
    position: relative;
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px; }
    .process__descr:before {
      content: '';
      display: block;
      width: 170px;
      height: 2px;
      background: #2593ec;
      position: absolute;
      left: 0;
      top: 9px; }
  .process-items {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .process-item {
    width: 33.3%;
    padding-right: 50px; }
    .process-item__num {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: 48px;
      margin-bottom: 10px;
      color: #d9bf8f; }
    .process-item__name {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 15px;
      line-height: 1.4; }
    .process-item__text {
      line-height: 1.5; }

.projects {
  height: 1161px;
  position: relative; }
  .projects-wrap {
    position: relative; }
  .projects-content {
    background: #2593ec;
    width: 500px;
    padding: 71px 110px 170px 112px;
    color: #fff; }
    .projects-content p {
      line-height: 1.4; }
  .projects__head {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 35px; }
  .projects__name {
    margin-bottom: 10px; }

.projects-item1 {
  background: url(../images/project1.jpg) no-repeat 50%;
  position: absolute;
  top: 80px;
  left: 454px;
  width: 652px;
  height: 310px; }

.projects-item2 {
  background: url(../images/project2.jpg) no-repeat 50%;
  position: absolute;
  top: 80px;
  left: 1137px;
  width: 311px;
  height: 310px; }

.projects-item3 {
  background: url(../images/project3.jpg) no-repeat 50%;
  position: absolute;
  top: 421px;
  left: 112px;
  width: 310px;
  height: 310px; }

.projects-item4 {
  background: url(../images/project4.jpg) no-repeat 50%;
  position: absolute;
  top: 421px;
  left: 454px;
  width: 310px;
  height: 652px; }

.projects-item5 {
  background: url(../images/project5.jpg) no-repeat 50%;
  position: absolute;
  top: 421px;
  left: 796px;
  width: 310px;
  height: 310px; }

.projects-item6 {
  background: url(../images/project6.jpg) no-repeat 50%;
  position: absolute;
  top: 764px;
  left: 796px;
  width: 652px;
  height: 310px; }

.projects-item7 {
  position: absolute;
  top: 421px;
  left: 1137px;
  width: 310px;
  height: 310px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .projects-item7 p {
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 220px; }
  .projects-item7 a {
    line-height: 56px;
    padding: 0 34px;
    color: #000;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000; }

.projects-item {
  transition: 300ms;
  background-size: 100%; }
  .projects-item:hover {
    background-size: 110%; }
    .projects-item:hover .projects-overlay {
      opacity: 1;
      visibility: visible; }
    .projects-item:hover .projects-text {
      bottom: 30px; }

.projects-overlay {
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 300ms; }

.projects-text {
  position: absolute;
  left: 30px;
  bottom: 50px;
  transition: 300ms;
  color: #fff;
  font-weight: bold;
  line-height: 1.8; }

.ask {
  padding-left: 112px;
  padding-bottom: 60px; }
  .ask-wrap {
    position: relative; }
  .ask__head {
    padding-bottom: 28px;
    font-size: 42px;
    font-weight: bold; }
  .ask-items {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .ask-item {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 30px; }
    .ask-item__name {
      color: #2593ec;
      text-decoration: underline;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px; }
    .ask-item__answer {
      line-height: 1.5; }

.feedbacks {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 68px; }
  .feedbacks-wrap {
    position: relative; }
  .feedbacks__head {
    padding-left: 112px;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px; }
  .feedbacks-content {
    width: 500px;
    height: 500px;
    background: #2593ec;
    color: #fff;
    padding: 70px 110px 131px 112px; }
    .feedbacks-content__head {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px; }
    .feedbacks-content p {
      line-height: 1.5;
      margin-bottom: 115px; }
  .feedbacks-carousel {
    margin-left: -60px;
    max-width: 1000px;
    margin-top: 80px; }
  .feedbacks-item {
    width: 480px;
    height: 360px;
    background-color: #fff;
    margin-right: 30px;
    padding: 30px 25px; }
    .feedbacks-item__title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 12px;
      line-height: 1.4; }
    .feedbacks-item__text {
      font-style: italic;
      line-height: 1.4;
      margin-bottom: 30px; }
    .feedbacks-item__name {
      font-weight: bold;
      margin-bottom: 10px; }
  .feedbacks-nav {
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 12px; }
    .feedbacks-nav .slick-arrow {
      background: url(../images/feedbacks-arrow.png) !important;
      height: 12px;
      width: 32px;
      position: absolute;
      right: 0;
      top: 1px;
      background-position: right !important;
      cursor: pointer;
      border: none;
      background: none;
      transition: 300ms; }
    .feedbacks-nav .slick-prev {
      background-position: left !important;
      right: auto;
      left: 0; }
    .feedbacks-nav .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      height: 10px;
      width: 10px;
      border: 1px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 10px; }
      .feedbacks-nav .slick-dots li button {
        display: none; }
      .feedbacks-nav .slick-dots li.slick-active {
        background: #fff; }

.terms {
  padding-bottom: 77px;
  padding-left: 112px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .terms-wrap {
    position: relative; }
  .terms__head {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-left: 112px; }
  .terms-form {
    width: 950px;
    border: 8px solid #d9bf8f;
    padding: 28px 80px 33px 35px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .terms-data {
    width: 45%; }
    .terms-data-item {
      margin-bottom: 22px; }
      .terms-data-item:last-child {
        margin-bottom: 0; }
      .terms-data-item label {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer; }
      .terms-data-item select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        -ms-appearance: none;
        -webkit-appearance: none !important;
                appearance: none !important;
        background: url(../images/select-arrow.png) no-repeat 93% 50%;
        background-color: #d7dde4;
        border-radius: 50px;
        width: 220px;
        height: 40px;
        border: none;
        cursor: pointer;
        padding-left: 15px;
        font-weight: bold;
        font-style: italic;
        font-family: inherit;
        margin-left: 44px;
        margin-top: 8px; }
  .terms-total {
    width: 55%; }
    .terms-total-item {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      .terms-total-item span {
        width: 168px;
        line-height: 1.5; }
      .terms-total-item b {
        font-size: 56px;
        font-family: 'Gilroy';
        font-weight: bold; }
    .terms-total__descr {
      color: #686868;
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 30px; }
    .terms-total button {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      line-height: 57px;
      border: 2px solid #000;
      color: #000;
      cursor: pointer;
      padding: 0 22px;
      background: none;
      transition: 300ms; }

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 24px; }
  .checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    z-index: 4;
    cursor: pointer;
    opacity: 0; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #2593ec;
    z-index: 3; }
    .checkbox span:before {
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      right: 2px;
      bottom: 2px;
      top: 2px;
      background: #000;
      transition: 300ms;
      opacity: 0; }

.extra {
  margin-top: 32px;
  width: 390px;
  background: #d7dde4;
  padding: 30px; }
  .extra__head {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.3; }
  .extra li {
    padding-left: 12px;
    margin-bottom: 15px;
    position: relative;
    line-height: 1.5; }
    .extra li:last-child {
      margin-bottom: 0; }
    .extra li:before {
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #000;
      position: absolute;
      left: 0;
      top: 9px; }

.contacts {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 112px;
  padding-right: 112px; }
  .contacts-wrap {
    overflow: hidden; }

.address {
  width: 36%;
  background: #d9bf8f;
  position: relative;
  padding-top: 64px;
  padding-bottom: 54px; }
  .address__head {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px; }
  .address:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 9999px;
    background: inherit; }
  .address__label {
    font-weight: bold;
    margin-bottom: 34px; }
  .address__tel {
    font-size: 24px;
    font-family: 'Gilroy';
    font-weight: bold;
    margin-bottom: 5px;
    color: #000; }
  .address__mail {
    margin: 20px 0 18px;
    color: #000;
    text-decoration: underline; }
    .address__mail:hover {
      text-decoration: none; }
  .address__link {
    line-height: 56px;
    border: 2px solid #000;
    padding: 0 23px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 33px;
    letter-spacing: 1.5px; }

.write {
  width: 64%;
  background: #2593ec;
  position: relative;
  padding-left: 78px;
  padding-top: 64px;
  padding-bottom: 54px;
  color: #fff; }
  .write__head {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px; }
  .write:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 9999px;
    background: inherit; }
  .write__label {
    margin-bottom: 34px; }
  .write input,
  .write textarea {
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    background: none;
    height: 36px;
    padding-left: 3px;
    width: 30%;
    font-size: 16px; }
    .write input::-webkit-input-placeholder,
    .write textarea::-webkit-input-placeholder {
      color: #fff; }
    .write input:-moz-placeholder,
    .write textarea:-moz-placeholder {
      color: #fff; }
    .write input::-moz-placeholder,
    .write textarea::-moz-placeholder {
      color: #fff; }
    .write input:-ms-input-placeholder,
    .write textarea:-ms-input-placeholder {
      color: #fff; }
  .write textarea {
    width: 100%;
    resize: none;
    padding-top: 11px; }
  .write-inputs {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 22px; }
  .write button {
    line-height: 56px;
    border: 2px solid #fff;
    padding: 0 23px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 49px;
    cursor: pointer;
    transition: 300ms;
    color: #fff;
    background: none;
    letter-spacing: 1.5px;
    font-size: 16px; }

.site-info {
  padding: 44px 40px 40px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .site-info p {
    font-size: 14px; }
    .site-info p a {
      color: #000;
      font-size: inherit;
      text-decoration: underline; }
      .site-info p a:hover {
        text-decoration: none; }

.footer .nav {
  margin-top: 60px; }
