@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
  .top-nav li {
    margin-right: 10px;
  }
  .callback--number {
    font-size: 18px;
  }
  .callback {
    padding-top: 15px;
  }
  .callback--link {
    padding-bottom: 0;
  }
  .top-items {
    padding-left: 14px;
  }
  .nav li {
    margin-left: 26px;
  }
  .helper-content {
    max-width: 208px;
  }
  .advan-callback--head {
    margin-left: -120px;
  }
  .feedbacks .bonus-item-content {
    max-width: 62%;
  }
  .feedbacks .bonus-item--img {
    width: 34%;
  }
  .feedbacks .bonus-item {
    min-height: 294px;
  }
  .footer-nav ul {
    margin-right: 22px;
  }
  .action-in-more {
    text-align: center;
  }
  .action-in-more span {
    max-width: 100%;
    margin-bottom: 8px;
    margin-right: 0;
  }
  .basket-item li:nth-child(2) {
    max-width: 310px;
  }
  .blog .news-item {
    height: 562px;
  }
  .sidebar-catalog-input input {
    width: 60px;
    margin-right: 0;
  }
  .sidebar-catalog-input {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .goods span {
    display: none;
  }
  .goods {
    padding-right: 13px;
  }
  .cabinet {
    padding-left: 13px;
  }
  .callback--link {
    display: none;
  }
  .nav a {
    font-size: 14px;
  }
  .nav li {
    margin-left: 22px;
  }
  .nav {
    padding-top: 13px;
  }
  .helper {
    float: left;
    margin-top: 15px;
  }
  .helper-content {
    max-width: 100%;
  }
  .main-col-3 {
    width: 30%;
  }
  .main-col-6 {
    width: 33%;
    margin: 0 3%;
  }
  .main-col-6 .main--head {
    font-size: 24px;
  }
  .bonus-item--img img {
    width: 80px;
  }
  .bonus-item--img {
    width: 30%;
  }
  .bonus-item-content {
    max-width: 68%;
  }
  .bonus-item--head {
    font-size: 21px;
  }
  .bonus-item {
    min-height: 260px;
  }
  .advan-callback {
    width: 32%;
  }
  .advan-item {
    height: 230px;
  }
  .feedbacks .bonus-item {
    min-height: 314px;
  }
  .call-sw-item p {
    font-size: 19px;
  }
  .call-sw-item span {
    font-size: 12px;
  }
  .call-input {
    width: 330px;
  }
  .footer-sidebar {
    width: 100%;
    text-align: center;
  }
  .footer-sidebar form {
    display: none;
  }
  .footer-content {
    width: 100%;
  }
  .footer-nav ul {
    margin-right: 52px;
  }
  .sidebar {
    width: 31%;
  }
  .content-wrap {
    width: 69%;
    padding-right: 0;
  }
  .sert {
    padding-left: 0;
    text-align: center;
  }
  .sert a {
    margin: 0 1% 1% 1%;
    width: 22%;
  }
  .action-content {
    padding-right: 0;
  }  
  .extra-services-item {
    padding-left: 90px;
  }
  .extra-services-item img {
    left: 16px;
  }
  .another .main-el--link {
    position: static;
    margin-top: 15px;
  }
  .basket-item li:nth-child(1) {
    max-width: 200px;
    padding-right: 15px;
  } 
  .basket-item li:nth-child(2) {
    max-width: 250px;
  }
  .action-in-content {
    width: 62%;
  }
  .action-in--img {
    width: 38%;
  }
  .catalog-items .main-el {
    width: 48%;
    margin-right: 4%;
  }
  .catalog-items .main-el:nth-child(3n) {
    margin-right: 4%;
  }
  .catalog-items .main-el:nth-child(2n) {
    margin-right: 0%;
  }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .callback {
    display: none;
  }
  .goods {
    padding-right: 6px;
  }
  .cabinet {
    padding-left: 6px;
  }
  .top-items {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav a {
    font-size: 12px;
  }
  .nav li {
    margin-left: 10px;
  }
  .logo {
    width: 127px;
  }
  .nav {
    padding-top: 6px;
  }
  .select-mosaic select {
    width: 204px;
  }
  .main-col-3,
  .main-col-6 {
    width: 100%;
    margin: 0 auto 20px;
  }
  .main-el {
    text-align: center;
  }
  .main-el--link {
    position: static;
    margin-top: 10px;
  }
  .bonus--all {
    right: 0;
  }
  .bonus-item--img img {
    display: none;
  }
  .bonus-item-content {
    max-width: 100%;
    padding-left: 20px;
  }
  .bonus-item {
    padding-top: 15px;
  }
  .bonus-item--head {
    font-size: 18px;
  }
  .advan-content {
    width: 100%;
    float: none;
  }
  .advan-callback {
    width: 430px;
    margin: 0 auto 20px;
    float: none;
  }
  .advan {
    padding-bottom: 20px;
  }
  .advan-callback--head {
    margin-left: 0;
  }
  .advan-callback:before {
    top: 0;
  }
  .partners {
    margin-top: 22px;
  }
  .feedbacks .bonus-item--img {
    display: none;
  }
  .feedbacks .bonus-item-content {
    max-width: 100%;
  }
  .call-sw-item p {
    font-size: 21px;
  }
  .footer-nav ul {
    margin-right: 16px;
    max-width: 142px;
  }
  .social {
    float: left;
    margin-top: 15px;
  }
  .create {
    float: left;
    margin-top: 10px;
  }
  .sidebar {
    width: 41%;
  }
  .content-wrap {
    width: 59%;
  }
  .content-wrap {
    padding-right: 0;
  }
  .content--img:after {
    right: 15px;
  }
  .action-item img {
    width: 100px;
  }
  .action-item {
    padding-left: 150px;
  }
  .action-in--img {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .action-in-content {
    width: 100%;
    float: none;
  }
  .card-content {
    padding-left: 30px;
  }
  .extra-services-item img {
    position: static;
    display: block;
    margin: 0 auto 15px;
  }
  .extra-services-item {
    padding: 0 15px;
    text-align: center;
  }
  .another .main--head {
    font-size: 28px;
  }
  .basket-item li {
    display: block;
    text-align: center;
    padding-top: 0!important;
    width: auto!important;
    max-width: 100%!important;
  }
  .basket .card-content-table {
    display: inline-block;
    text-align: left;
    margin-top: 30px;
  }
  .basket--head {
    height: auto;
  }
  .basket .card-content-amount {
    display: inline-block;
    margin: 15px 0;
  }
  .basket--close {
    margin-left: 0;
    margin-top: 15px;
  }
  .basket-item li:nth-child(1) {
    margin-bottom: 20px;
  }
  .content-padding {
    padding-right: 0;
  }
  .catalog-sort p {
    display: block;
    margin-bottom: 10px;
  }
  .catalog-sort a {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #936b27;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    position: absolute;
    background-color: #936b27;
    content: '';
    width: 20px;
    height: 3px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }
  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  .burger-wrap a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .burger-wrap {
    display: block;
  }
  .top-nav ul {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    background: #000;
    z-index: 9999;
    padding: 10px 0;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .top-nav ul.active {
    right: 0;
  }
  .top-items:after {
    width: 15px;
  }
  .top-wrap {
    overflow: visible;
  }
  .top-nav {
    padding: 11px 0 8px;
  }
  .top-nav li {
    text-align: center;
    margin: 15px 0;
    display: block;
  }
  .logo {
    width: 117px;
  }
  .nav {
    float: right;
    width: auto;
  }
  .nav ul {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    z-index: 999;
    background: #f0f5f8;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .nav ul.active {
    right: 0;
  }
  .nav li {
    display: block;
    text-align: center;
    margin: 15px 0;
  }
  .drop-cart-wrap {
    width: 430px;
  }
  .select-mosaic {
    text-align: center;
  }
  .select-mosaic select {
    float: none;
    display: inline-block;
    margin-bottom: 5px;
  }
  .select-mosaic button {
    float: none;
  }
  .helper {
    width: 100%;
  }
  .helper img {
    display: block;
    margin: 0 auto 15px;
  }
  .bonus--all {
    display: none;
  }
  .bonus-item {
    min-height: auto!important;
    padding-bottom: 25px;
  }
  .select-mosaic button {
    display: block;
    margin: 0 auto;
  }
  .advan-item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .partners {
    display: none;
  }
  .feedbacks {
    margin-top: 0;
  }
  .call {
    padding: 0;
  }
  .invite {
    display: none;
  }
  .head {
    font-size: 28px;
  }
  .news-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer-nav ul {
    display: none;
  }
  .footer-nav ul:last-child {
    display: block;
    max-width: 100%;
    text-align: center;
  }
  .footer-nav ul li{
    max-width: 100%;
  }
  .sidebar {
    width: 290px;
    margin: 0 auto;
    float: none;
    padding-right: 0;
  }
  .content-wrap {
    width: 100%;
    float: none;
  }
  .coop {
    margin: 30px 0;
  }
  .sert a {
    width: 46.5%;
  } 
  .card-view {
    width: 100%;
  }
  .card-content {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
    text-align: center;
    max-width: 100%;
  }
  .card-content-table {
    text-align: left;
    width: 290px;
    margin: 30px auto;
  }
  .extra-services-item {
    width: 100%;
    padding-top: 30px;
  }
  .extra-services-item--link {
    margin: 0 auto;
  }
  .blog .news-item {
    height: auto;
    margin-bottom: 20px;
  }
  .catalog-sort a {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 450px) {
  .drop-cart-wrap {
    width: 280px;
  }
  .bonus-carousel {
    padding: 0;
  }
  .bonus .slick-arrow {
    display: none!important;
  }
  .advan-callback {
    width: 100%;
  }
  .call-sw-item {
    width: 100%;
  }
  .call-input {
    width: 250px;
  }
  .head {
    font-size: 22px;
  }
  .head2 {
    font-size: 18px;
  }
  .content h2 {
    font-size: 28px;
  }
  .action-item img {
    display: none;
  }
  .action-item {
    padding: 15px;
  }
  .pagination a,
  .pagination a.active{
    width: 30px;
    line-height: 30px;
    font-size: 18px;
  }
  .pagination li {
    margin: 5px;
  }
  .action-in-more a {
    font-size: 24px;
  }
  .action-in--back {
    float: left;
    width: 100%;
    margin-top: 20px;
  }
  .another .main--head {
    font-size: 23px;
    padding-right: 50px;
  }
  .content-gallery img,
  .content-double-img img {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .catalog-items .main-el {
    width: 100%;
    margin-right: 0!important;
  }
  .catalog--goods {
    position: static;
    margin-bottom: 10px;
    display: block;
  }
}