* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: normal 18px/1 'Proxima Nova', sans-serif;
  color: #000;
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
}

a {
  font: normal 18px/1 'Proxima Nova', sans-serif;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: inline-block;
  font-size: 18px;
  color: #000;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1340px;
  margin: 0 auto;
  position: relative;
}

.head {
  font: bold italic 34px/1 'Bodoni';
  text-transform: uppercase;
}

.head2 {
  font: bold italic 24px/1 'Bodoni';
  text-transform: uppercase;
}

.link {
  background: #8d6a2e;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.link:hover {
  background: #7b5d29;
}

.link-bd {
  border: 2px solid #8d6a2e;
  color: #8d6a2e;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
}

.link-bd:hover {
  background: #8d6a2e;
  color: #fff;
}

.top-wrap {
  background: #000;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.top-nav {
  float: left;
  padding: 15px 0 17px;
}

.top-nav li {
  display: inline-block;
  margin-right: 23px;
}

.top-nav a {
  color: #8d6a2e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
}

.top-nav a.active,
.top-nav a:hover {
  color: #fff;
}

.top-items {
  float: right;
  padding: 13px 11px 13px 30px;
  background: #252525;
  color: #fff;
  position: relative;
  min-height: 50px;
}

.top-items:after {
  content: '';
  display: block;
  height: 100%;
  width: 2000px;
  background: #252525;
  position: absolute;
  left: 100%;
  top: 0;
}

.callback {
  float: left;
  padding-top: 12px;
}

.callback--number {
  color: #fff;
  font: bold italic 24px "Bodoni";
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}

.callback--link {
  font-size: 14px;
  text-decoration: underline;
  color: #8d6a2e;
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 3px;
}

.callback--link:hover {
  text-decoration: none;
}

.goods {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 35px;
  border-right: 1px solid #8d6a2e;
  cursor: pointer;
}

.goods img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
  line-height: 24px;
}

.goods span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.goods i {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  width: 32px;
  line-height: 32px;
  border-radius: 50%;
  background: #8d6a2e;
  display: block;
  text-align: center;
  position: absolute;
  left: 24px;
  top: 50%;
  margin-top: -16px;
}

.cabinet {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
}

.cabinet a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
}

.cabinet a:hover {
  text-decoration: none;
}

.header {
  padding: 15px 0 16px;
}

.header-block {
  background: #f0f5f8;
}

.logo {
  float: left;
}

.nav {
  float: right;
  padding-top: 7px;
}

.nav li {
  display: inline-block;
  margin-left: 40px;
}

.nav li:first-child {
  margin-left: 0;
}

.nav a {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.3;
}

.nav a:hover {
  color: #8d6a2e;
}

.select-mosaic {
  padding: 25px 21px;
  background: #e4d9c6;
  margin: 40px 0 50px;
}

.select-mosaic-form {
  padding-top: 11px;
  float: left;
}

.select-mosaic--head {
  margin-bottom: 16px;
}

.select-mosaic select {
  float: left;
  margin-right: 1px;
  width: 220px;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: #fff url(../images/select-arrow.png) no-repeat 95% center;
  cursor: pointer;
  font: normal 18px 'Proxima Nova';
  padding: 0 30px 0 10px;
  border: none;
}

.select-mosaic button {
  float: left;
  line-height: 50px;
}

.helper {
  float: right;
}

.helper img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

.helper-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 285px;
}

.helper-content p {
  line-height: 1.3;
  margin-bottom: 15px;
}

.helper-content span {
  font-size: 14px;
}

.main-col-3 {
  float: left;
  width: 23%;
}

.main-col-6 {
  float: left;
  width: 48%;
  margin: 0 2.5%;
}

.main--head {
  line-height: 1.3;
  margin-bottom: 20px;
}

.main--caption {
  margin-bottom: 20px;
}

.main-el {
  position: relative;
  margin-bottom: 30px;
}

.main-el img {
  margin-bottom: 17px;
  vertical-align: bottom;
}

.main-el span {
  font-size: 14px;
  color: #838383;
  display: block;
}

.main-el--head {
  margin: 9px 0 3px;
  height: 36px;
  overflow: hidden;
}

.main-el--head:hover {
  color: #8d6a2e;
}

.main-el--price {
  font: bold italic 34px "Bodoni";
  line-height: 1;
  margin-top: 7px;
}

.main-el--link {
  padding: 0 25px;
  position: absolute;
  right: 0;
  bottom: 3px;
}

.main .slick-arrow {
  width: 41px;
  height: 50px;
  background: #000;
  background: url(../images/main-arrow.png) no-repeat left center;
  position: absolute;
  bottom: 100%;
  margin-bottom: 30px;
  right: 41px;
  cursor: pointer;
  border: none;
  opacity: .7;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.main .slick-arrow:hover {
  opacity: 1;
}

.main .slick-next {
  right: 0;
  background-position: right center;
}

.main-col-6 .slick-arrow {
  margin-bottom: 84px;
}

.bonus {
  position: relative;
}

.bonus--all {
  position: absolute;
  right: 100px;
  top: 18px;
  color: #8d6a2e;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: underline;
}

.bonus--all:hover {
  text-decoration: none;
}

.bonus-wrap {
  margin: 20px 0 60px;
  padding: 28px 0 80px;
  background: url(../images/bonus-bg.png) repeat;
}

.bonus--head {
  text-align: center;
  margin-bottom: 25px;
}

.bonus-carousel {
  padding: 0 82px;
  position: relative;
}

.bonus-item {
  margin: 0 15px;
  background: #fff;
  padding: 35px 35px 0px 0;
  min-height: 234px;
}

.bonus-item--img {
  width: 38%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.bonus-item--img img {
  display: inline-block;
}

.bonus-item-content {
  display: inline-block;
  vertical-align: top;
  max-width: 60%;
}

.bonus-item--head {
  padding-left: 30px;
  position: relative;
  color: #8d6a2e;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 15px;
}

.bonus-item--head:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: #8d6a2e;
  position: absolute;
  left: 0;
  top: 13px;
}

.bonus-item p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 17px;
}

.bonus-item--link {
  color: #8d6a2e;
  text-decoration: underline;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
}

.bonus-item--link:hover {
  text-decoration: none;
}

.bonus .slick-arrow {
  width: 26px;
  height: 50px;
  background: url(../images/bonus-arrows.png) no-repeat left center;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -25px;
  border: none;
  cursor: pointer;
}

.bonus .slick-next {
  background-position: right center;
  left: auto;
  right: 20px;
}

.bonus .slick-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -54px;
  left: 0;
}

.bonus .slick-dots button {
  display: none;
}

.bonus .slick-dots li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 7px;
  display: inline-block;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.bonus .slick-dots li.slick-active,
.bonus .slick-dots li:hover {
  background: #8d6a2e;
}

.advan-wrap {
  background: #f0f5f8 url(../images/advan-bg.png) repeat;
  padding-top: 42px;
  margin-top: 20px;
}

.advan-content {
  width: 65%;
  float: left;
}

.advan--head {
  margin-bottom: 45px;
}

.advan-item {
  float: left;
  width: 50%;
  padding-right: 50px;
  position: relative;
  padding-left: 77px;
  height: 180px;
}

.advan-item img {
  position: absolute;
  left: 0;
  top: 0;
}

.advan-item--head {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
}

.advan-item p {
  line-height: 1.3;
  font-size: 14px;
}

.advan-callback {
  width: 26%;
  float: right;
  border: 10px solid #8d6a2e;
  border-left: 0;
  padding: 27px 20px;
  color: #010101;
  font-size: 14px;
  position: relative;
}

.advan-callback:before {
  content: '';
  display: block;
  width: 10px;
  background: #8d6a2e;
  position: absolute;
  left: -10px;
  top: 85px;
  bottom: -10px;
}

.advan-callback:after {
  content: '';
  display: block;
  width: 10px;
  height: 25px;
  background: #8d6a2e;
  position: absolute;
  left: -10px;
  top: -10px;
}

.advan-callback--head {
  margin-bottom: 18px;
  margin-left: -78px;
}

.advan-callback--caption {
  margin-bottom: 15px;
  line-height: 1.3;
}

.advan-callback span {
  display: block;
}

.advan-callback--number {
  color: #000;
  color: #010101;
  font-size: 24px;
  font-weight: 800;
  margin: 10px 0;
}

.advan-callback--link {
  margin: 15px 0 17px;
  padding: 0 30px;
}

.advan-callback--descr {
  line-height: 1.3;
}

.advan-callback--descr a {
  color: #8d6a2e;
  text-decoration: underline;
  font-size: 14px;
}

.advan-callback--descr a:hover {
  text-decoration: none;
}

.partners {
  margin-top: 10px;
}

.feedbacks {
  margin-bottom: 0;
}

.feedbacks .bonus-item--img {
  width: 30%;
}

.feedbacks .bonus-item-content {
  max-width: 69%;
}

.call {
  padding: 0px 100px;
  margin: 30px 0 40px;
  text-align: center;
}

.call-sw {
  margin-top: 23px;
}

.call-sw-item {
  width: 33.33%;
  float: left;
  padding: 15px 0;
  cursor: pointer;
}

.call-sw-item p {
  font-size: 24px;
  color: #8d6a2e;
  margin-bottom: 11px;
  font-weight: 800;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.call-sw-item span {
  font-size: 14px;
  color: #000;
  display: block;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.call-sw-item.active {
  background: #8d6a2e;
}

.call-sw-item.active p,
.call-sw-item.active span {
  color: #fff;
}

.call-items {
  background: #8d6a2e;
  text-align: center;
  padding: 30px 0 10px;
}

.call-input {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  margin: 0 15px 20px;
}

.call-input input,
.call-input select {
  width: 100%;
  border: none;
  background: #fff;
  height: 60px;
  font: 400 18px 'Proxima Nova';
  padding: 0 20px;
}

.call-input input::-webkit-input-placeholder {
  color: #000;
}

.call-input input:-moz-placeholder {
  color: #000;
}

.call-input input::-moz-placeholder {
  color: #000;
}

.call-input input:-ms-input-placeholder {
  color: #000;
}

.call-input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff url(../images/select-arrow.png) 95% center no-repeat;
  cursor: pointer;
}

.call-input button {
  width: 100%;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #e4d9c6;
  color: #8d6a2e;
  border: none;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.call-input button:hover {
  background: #ccc1af;
}

.call-item {
  display: none;
}

.call-item.active {
  display: block;
}

.call--or {
  margin-top: 30px;
}

.call--or a {
  color: #8d6a2e;
  text-decoration: underline;
}

.call--or a:hover {
  text-decoration: none;
}

.invite {
  padding: 35px 0 30px;
}

.invite-wrap {
  background: url(../images/invite-bg.jpg) no-repeat center;
  background-size: cover;
}

.invite-item {
  float: left;
  width: 50%;
  padding: 0 98px 0 0;
  color: #fff;
}

.invite-item--head {
  color: #e4d9c6;
}

.invite-item:last-child {
  padding: 0 0 0 98px;
  color: #000;
}

.invite-item:last-child--head {
  color: #000;
}

.invite-item p {
  padding: 20px 0 17px;
  line-height: 1.3;
}

.invite-item span {
  font-size: 14px;
  line-height: 1.5;
  display: block;
  margin-bottom: 20px;
}

.invite-item .link {
  line-height: 50px;
  padding: 0 30px;
}

.news {
  text-align: center;
  padding: 45px 0 42px;
}

.news--caption {
  color: #8d6a2e;
  text-transform: uppercase;
  font-weight: 800;
}

.news--head {
  position: relative;
  margin: 25px 0 60px;
}

.news--head:after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background: #8d6a2e;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -60px;
}

.news-item {
  float: left;
  width: 30%;
  margin-right: 5%;
  text-align: left;
}

.news-item:last-child {
  margin-right: 0;
}

.news-item--date {
  color: #808285;
  margin-bottom: 15px;
}

.news-item--date i {
  font: bold italic 42px "Bodoni";
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.news-item--date span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  font-weight: 700;
}

.news-item--head {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3;
  margin: 20px 0;
}

.news-item p {
  font-size: 14px;
  line-height: 1.3;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.news-item--link {
  color: #8d6a2e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  text-decoration: underline;
  margin-top: 18px;
}

.news-item--link:hover {
  text-decoration: none;
}

.news-item:hover .news-item--head {
  color: #8d6a2e;
}

.news-item:hover p {
  color: #808285;
}

.footer {
  padding: 30px 0;
}

.footer-wrap {
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-sidebar {
  float: left;
  width: 280px;
}

.footer-sidebar p {
  margin: 25px 0 15px;
  color: #fff;
  font-size: 14px;
}

.footer-content {
  float: right;
  width: 72%;
}

.footer-logo {
  margin-bottom: 47px;
}

.footer-input {
  position: relative;
  padding-right: 80px;
}

.footer-input input {
  width: 100%;
  height: 40px;
  background-color: #eef3f6;
  font: 400 14px 'Proxima Nova';
  padding: 0 12px;
  border: none;
}

.footer-input input::-webkit-input-placeholder {
  color: #000;
}

.footer-input input:-moz-placeholder {
  color: #000;
}

.footer-input input::-moz-placeholder {
  color: #000;
}

.footer-input input:-ms-input-placeholder {
  color: #000;
}

.footer-input button {
  width: 80px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

.footer-nav {
  margin-bottom: 30px;
}

.footer-nav ul {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.footer-nav ul:last-child {
  margin-right: 0;
}

.footer-nav ul li {
  color: #fff;
  line-height: 28px;
  min-height: 28px;
  max-width: 212px;
  font-size: 14px;
}

.footer-nav ul li:first-child {
  font-weight: 800;
  text-transform: uppercase;
}

.footer-nav ul a {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
}

.footer-nav ul a:hover {
  text-decoration: none;
}

.footer-nav--tel a {
  font-size: 23px !important;
  font-weight: 800;
  text-decoration: none !important;
}

.burger-wrap {
  display: none;
}

.payment {
  float: left;
}

.payment p {
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
}

.payment a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.social {
  float: right;
  margin-right: 65px;
}

.social p {
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
}

.social a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.bot {
  border-top: 1px solid #898989;
  padding: 20px 0;
  color: #808285;
  font-size: 14px;
}

.copy {
  float: left;
}

.create {
  float: right;
}

.create a {
  font-size: 14px;
  color: #8d6a2e;
  text-decoration: underline;
}

.create a:hover {
  text-decoration: none;
}

.drop-cart {
  padding: 25px;
  background: #fff;
  width: 100%;
  position: absolute;
  left: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
  height: auto;
  min-height: 100vh;
  z-index: 105;
  overflow: auto;
  padding-bottom: 80px;
}

.drop-cart-wrap {
  width: 642px;
  position: fixed;
  top: 50px;
  height: 100vh;
  right: 0;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.drop-cart-wrap.active {
  z-index: 100;
  overflow: auto;
}

.drop-cart-wrap.active .drop-cart {
  left: 0;
}

.drop-cart--head {
  margin-bottom: 40px;
}

.drop-cart-item {
  margin-bottom: 50px;
}

.drop-cart-item--head {
  margin: 8px 0;
}

.drop-cart-item--head:hover {
  color: #8d6a2e;
}

.drop-cart-item--articul {
  font-size: 14px;
}

.drop-cart-item--price {
  margin-top: 23px;
  color: #8d6a2e;
}

.drop-cart-item--price img {
  margin: 0 10px;
}

.drop-cart--img {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.drop-cart-content {
  display: inline-block;
  vertical-align: top;
  padding-top: 4px;
  max-width: 69%;
}

.drop-cart-content span {
  color: #838383;
  font-size: 14px;
}

.drop-cart--all {
  font-size: 24px;
  color: #2b1d23;
  margin-bottom: 20px;
}

.drop-cart--link {
  line-height: 50px;
  padding: 0 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: none;
}

.bread {
  margin: 15px 0 25px;
}

.bread li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  font-size: 14px;
  color: #8d6a2e;
}

.bread li:last-child {
  color: #000;
}

.bread a {
  color: #8d6a2e;
  font-size: 14px;
}

.bread a:hover {
  text-decoration: underline;
}

.sidebar {
  padding-bottom: 30px;
  float: left;
  width: 25%;
  padding-right: 45px;
}

.sidebar-nav {
  border: 1px solid #8d6a2e;
  padding: 0 17px;
  margin-bottom: 50px;
}

.sidebar-nav a {
  display: block;
  padding: 17px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar-nav a:hover,
.sidebar-nav a.active {
  color: #8d6a2e;
}

.sidebar-nav li {
  padding-left: 22px;
  position: relative;
  border-bottom: 1px solid #8d6a2e;
}

.sidebar-nav li:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sidebar-nav li:last-child {
  border-bottom: 0;
}

.sidebar-nav li:hover:before {
  background: #8d6a2e;
}

.sidebar-news {
  background: url(../images/bonus-bg.png) repeat;
  padding: 45px 48px 45px 60px;
}

.sidebar-news--head {
  margin: 25px 0 20px;
  position: relative;
  color: #8d6a2e;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}

.sidebar-news--head:hover {
  color: #7b5d29;
}

.sidebar-news--head:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: #8d6a2e;
  position: absolute;
  left: -30px;
  top: 14px;
}

.sidebar-news p {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.sidebar-news--link {
  text-decoration: underline;
  color: #8d6a2e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.sidebar-news--link:hover {
  text-decoration: none;
}

.sidebar-form {
  background: #e4d9c6;
  border: 1px solid #8d6a2e;
  padding: 20px 17px;
}

.sidebar-form input {
  margin: 20px 0;
  width: 100%;
  background: #fff;
  border: none;
  height: 50px;
  padding: 0 10px;
  font: 400 14px 'Proxima Nova';
}

.sidebar-form input::-webkit-input-placeholder {
  color: #000;
}

.sidebar-form input:-moz-placeholder {
  color: #000;
}

.sidebar-form input::-moz-placeholder {
  color: #000;
}

.sidebar-form input:-ms-input-placeholder {
  color: #000;
}

.sidebar-form button {
  width: 100%;
  line-height: 50px;
}

.content {
  padding-bottom: 40px;
}

.content-wrap {
  float: right;
  width: 75%;
  padding-right: 90px;
}

.content-wrap_not-padding {
  padding-right: 0;
}

.content > h2 {
  font: bold italic 34px "Bodoni";
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content > b {
  color: #8d6a2e;
  line-height: 1.3;
  margin-bottom: 25px;
  display: block;
}

.content > p {
  line-height: 1.4;
  margin-bottom: 25px;
  font-size: 14px;
}

.content--img {
  position: relative;
  margin-bottom: 65px;
}

.content--img:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: -45px;
  bottom: -20px;
  left: 45px;
  border: 8px solid #eddec4;
}

.content > h4 {
  color: #8d6a2e;
  font: bold italic 24px "Bodoni";
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content ul {
  margin: 0 0 20px 20px;
}

.content li {
  font-size: 14px;
  color: #2b1d23;
  padding-left: 17px;
  position: relative;
  margin-bottom: 8px;
}

.content li:before {
  content: '';
  display: block;
  width: 12px;
  height: 1px;
  background: #2b1d23;
  position: absolute;
  left: 0;
  top: 50%;
}

.content > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  line-height: 40px;
  padding: 0 15px;
  background: #8d6a2e;
  margin-bottom: 25px;
}

.content > a:hover {
  background: #7b5d29;
}

.content > span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
  display: block;
}

.content > h6 {
  color: #8d6a2e;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.content > img {
  margin-bottom: 30px;
}

.content-gallery {
  margin-bottom: 35px;
}

.content-gallery img {
  float: left;
  width: 32%;
  margin-right: 2%;
}

.content-gallery img:last-child {
  margin-right: 0;
}

.content-advan {
  padding-left: 30px;
  position: relative;
  margin-bottom: 25px;
}

.content-advan:before {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background: #8d6a2e;
  position: absolute;
  left: 0;
  top: 8px;
}

.content-advan h5 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
}

.content-advan p {
  font-size: 14px;
  line-height: 1.3;
}

.content-double-img {
  margin-bottom: 30px;
}

.content-double-img img {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.content-double-img img:last-child {
  margin-right: 0;
}

.content-padding {
  padding-right: 100px;
}

.content-padding > span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
  display: block;
}

.content-padding > p {
  line-height: 1.4;
  margin-bottom: 25px;
  font-size: 14px;
}

.coop {
  background: url(../images/coop-bg.png) repeat;
  color: #fff;
  max-width: 650px;
  margin: -220px 0 30px 30px;
  position: relative;
  z-index: 10;
  padding: 30px;
}

.coop--head {
  font: bold italic 24px "Bodoni";
  line-height: 1;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.coop p {
  font-size: 14px;
  line-height: 1.3;
}

.sert {
  padding-left: 105px;
  text-align: right;
}

.sert a {
  width: 22%;
  display: inline-block;
  margin-left: 2.3%;
  margin-bottom: 2.5%;
}

.action-content {
  padding-right: 114px;
}

.action-item {
  margin-top: 20px;
  border: 1px solid #acacac;
  padding: 20px 50px 20px 190px;
  position: relative;
}

.action-item img {
  position: absolute;
  top: 15px;
  left: 30px;
}

.action-item span {
  color: #6d6e71;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.action-item--head {
  font-size: 24px;
  color: #8d6a2e;
  margin: 7px 0 17px;
  font-weight: bold;
}

.action-item--head:hover {
  color: #7b5d29;
}

.action-item p {
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 22px;
}

.action-item--link {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: underline;
  color: #8d6a2e;
}

.action-item--link:hover {
  text-decoration: none;
}

.action-item_deprecated img {
  opacity: .4;
}

.action-item_deprecated span,
.action-item_deprecated p,
.action-item_deprecated a {
  color: #939598;
}

.action-item_deprecated a.action-item--head:hover {
  text-decoration: underline;
  color: #939598;
}

.pagination {
  margin: 44px 0 35px;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0 10px;
}

.pagination li:first-child a,
.pagination li:last-child a {
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #000;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
}

.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  background: none;
}

.pagination li:first-child a {
  border-right: none;
  border-top: none;
}

.pagination li:first-child a:hover {
  border-left: 1px solid #8d6a2e;
  border-bottom: 1px solid #8d6a2e;
}

.pagination li:last-child a {
  border-left: none;
  border-bottom: none;
}

.pagination li:last-child a:hover {
  border-top: 1px solid #8d6a2e;
  border-right: 1px solid #8d6a2e;
}

.pagination a {
  font-size: 18px;
  font-weight: bold;
  color: #8d6a2e;
  line-height: 44px;
  width: 44px;
  text-align: center;
  border-radius: 50%;
}

.pagination a.active {
  background: #8d6a2e;
  color: #fff;
  font: bold italic 24px "Bodoni";
  line-height: 44px;
}

.pagination a:hover {
  background: #8d6a2e;
  color: #fff;
}

.action-in {
  padding-bottom: 30px;
}

.action-in--img {
  float: right;
  width: 43%;
}

.action-in-content {
  float: left;
  width: 57%;
  padding-right: 30px;
}

.action-in--date {
  font-size: 14px;
  font-weight: bold;
  color: #6d6e71;
  margin-bottom: 20px;
}

.action-in-more {
  background: #e4d9c6;
  padding: 15px;
  margin-bottom: 30px;
}

.action-in-more span {
  font-size: 14px;
  line-height: 1.4;
  max-width: 160px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

.action-in-more a {
  color: #8d6a2e;
  font: bold italic 34px "Bodoni";
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.action-in-social {
  float: left;
}

.action-in-social a {
  display: inline-block;
  margin-right: 10px;
}

.action-in-social a:last-child {
  margin-right: 0;
}

.action-in--back {
  color: #8d6a2e;
  float: right;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 5px;
}

.action-in--back:hover {
  text-decoration: none;
}

.card {
  padding-bottom: 48px;
}

.card-view {
  float: left;
  width: 47%;
}

.card-view-carousel {
  padding: 0 30px;
  position: relative;
}

.card-view-carousel .slick-arrow {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  background: none;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.card-view-carousel .slick-next {
  left: auto;
  right: 0;
  border-bottom: 0;
  border-left: 0;
}

.card-view-carousel .slick-next:hover {
  border-top: 1px solid #8d6a2e;
  border-right: 1px solid #8d6a2e;
}

.card-view-carousel .slick-prev {
  border-top: 0;
  border-right: 0;
}

.card-view-carousel .slick-prev:hover {
  border-bottom: 1px solid #8d6a2e;
  border-left: 1px solid #8d6a2e;
}

.card-view-item {
  margin: 12px 7px 0;
}

.card-content {
  width: 52%;
  float: left;
  padding-left: 58px;
  max-width: 493px;
}

.card-content--brand {
  color: #6d6e71;
  font-size: 14px;
  display: block;
}

.card-content--head {
  font-size: 24px;
  font-weight: 700;
  margin: 23px 0 11px;
}

.card-content--tag {
  font-size: 14px;
  font-weight: 800;
  color: #8d6a2e;
  text-decoration: underline;
  margin-right: 20px;
}

.card-content--tag:hover {
  text-decoration: none;
}

.card-content--text {
  margin-top: 38px;
  color: #6d6e71;
  font-size: 14px;
  line-height: 1.3;
}

.card-content-table {
  margin: 30px 0;
  font-size: 14px;
}

.card-content-table td {
  padding-top: 10px;
}

.card-content-table td:first-child {
  color: #6d6e71;
  padding-right: 25px;
}

.card-content-table tr:last-child td {
  padding-top: 40px;
}

.card-content-table p {
  font: bold italic 34px "Bodoni";
  line-height: 1;
  color: #000;
}

.card-content-amount button {
  float: left;
  border: 1px solid #898989;
  line-height: 45px;
  width: 35px;
  text-align: center;
  font-size: 24px;
  color: #000;
  background: none;
  cursor: pointer;
}

.card-content-amount button:hover {
  color: #8d6a2e;
}

.card-content-amount input {
  height: 47px;
  width: 50px;
  float: left;
  text-align: center;
  border: none;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  font: 400 24px 'Proxima Nova';
}

.card-content--link {
  line-height: 50px;
  padding: 0 35px;
}

.extra-services {
  padding: 25px 0;
  border: 5px solid #e4d9c6;
  margin-bottom: 40px;
}

.extra-services--head {
  text-align: center;
  margin-bottom: 23px;
}

.extra-services-item {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 123px;
  padding-right: 20px;
}

.extra-services-item img {
  position: absolute;
  top: 0;
  left: 43px;
}

.extra-services-item--head {
  font-weight: bold;
  margin-bottom: 15px;
  display: inline-block;
}

.extra-services-item--price {
  font: bold italic 34px "Bodoni";
  line-height: 1;
  margin-left: 5px;
}

.extra-services-item p {
  font-size: 14px;
  line-height: 1.3;
  margin: 0 0 15px;
}

.extra-services-item--link {
  line-height: 40px;
  width: 200px;
  text-align: center;
  color: #8d6a2e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  background: #e4d9c6;
  display: block;
}

.extra-services-item--link:hover {
  background: #c7bba6;
}

.extra-services-item--link.active {
  background: #000;
  color: #fff;
}

.another {
  margin-bottom: 30px;
}

.another-carousel {
  margin-left: -30px;
}

.another .main-el {
  margin-left: 30px;
}

.another .slick-arrow {
  width: 41px;
  height: 50px;
  background: #000;
  background: url(../images/main-arrow.png) no-repeat left center;
  position: absolute;
  bottom: 100%;
  margin-bottom: 20px;
  right: 41px;
  cursor: pointer;
  border: none;
  opacity: .7;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.another .slick-arrow:hover {
  opacity: 1;
}

.another .slick-next {
  right: 0;
  background-position: right center;
}

.basket-item {
  margin-bottom: 33px;
}

.basket-item ul {
  display: table;
  width: 100%;
}

.basket-item li {
  display: table-cell;
  vertical-align: top;
}

.basket-item li:nth-child(2) {
  max-width: 400px;
}

.basket-item li:nth-child(3),
.basket-item li:nth-child(4),
.basket-item li:nth-child(5),
.basket-item li:nth-child(6) {
  padding-top: 90px;
}

.basket-item--head {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.basket-item--head:hover {
  color: #8d6a2e;
}

.basket--head {
  height: 68px;
}

.basket--label {
  color: #6d6e71;
  font-size: 14px;
}

.basket--price {
  font: bold italic 34px "Bodoni";
  line-height: 1;
}

.basket .card-content-table {
  margin-top: 0;
}

.basket .card-content-amount {
  margin: 0 10px;
}

.basket .card-content-table tr:last-child td {
  padding-top: 10px;
}

.basket--close {
  cursor: pointer;
  opacity: .2;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-left: 10px;
}

.basket--close:hover {
  opacity: 1;
}

.blog .news-item {
  height: 522px;
}

.blog .news-item:nth-child(3n) {
  margin-right: 0;
}

.sidebar-catalog {
  border: 1px solid #8d6a2e;
  padding: 0 15px;
}

.sidebar-catalog-item {
  padding: 15px 0;
  border-bottom: 1px solid #8d6a2e;
  position: relative;
  -webkit-transition: 300ms;
  transition: 300ms;
  overflow: hidden;
}

.sidebar-catalog-item:last-child {
  border-bottom: 0;
}

.sidebar-catalog-item:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 11px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 1px solid #6d6e71;
  border-bottom: 1px solid #6d6e71;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sidebar-catalog-item .sidebar-catalog-content {
  display: none;
  margin-top: 15px;
}

.sidebar-catalog-item.active .sidebar-catalog-content {
  display: block;
}

.sidebar-catalog-item.active-arrow:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 22px;
}

.sidebar-catalog--head {
  font: bold italic 18px "Bodoni";
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 30px;
  position: relative;
  z-index: 5;
}

.sidebar-catalog-input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.sidebar-catalog-input label {
  font-size: 14px;
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}

.sidebar-catalog-input input {
  width: 65px;
  border: 0;
  border-bottom: 1px solid #8d6a2e;
  height: 22px;
  font: bold 18px 'Proxima Nova';
  margin-right: 4px;
}

.sidebar-catalog-input span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.sidebar-slider {
  background: #ebebeb;
  border: none !important;
  height: 8px;
}

.sidebar-slider .ui-state-default {
  width: 16px;
  height: 16px;
  background: #8d6a2e;
  border-radius: 50%;
  border: 0;
  margin-left: -8px;
}

.sidebar-slider .ui-slider-range {
  background: #eddec4;
}

.sidebar-slider-wrap {
  margin: 23px 0 10px;
}

.check {
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.check span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #959595;
  cursor: pointer;
}

.check input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
}

.check input:checked + span {
  background: url(../images/tich.png) no-repeat center;
}

.check-item {
  margin-bottom: 15px;
}

.check-item label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  color: #6d6e71;
}

.check-item:last-child {
  margin-bottom: 0;
}

.catalog {
  position: relative;
  padding-bottom: 30px;
}

.catalog--head {
  padding-right: 125px;
}

.catalog--caption {
  padding-left: 35px;
  margin: 20px 0 35px;
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  max-width: 770px;
}

.catalog--caption:before {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  background: #8d6a2e;
  position: absolute;
  left: 0;
  top: 8px;
}

.catalog--goods {
  position: absolute;
  right: 0;
  top: 3px;
  color: #8d6a2e;
  font-weight: bold;
  font-size: 14px;
}

.catalog--goods b {
  font-size: 34px;
}

.catalog-sort {
  margin-bottom: 20px;
}

.catalog-sort p {
  display: inline-block;
  vertical-align: middle;
  color: #6d6e71;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
}

.catalog-sort a {
  margin-left: 20px;
  font-size: 14px;
  color: #8d6a2e;
  -webkit-transition: 0ms;
  transition: 0ms;
  padding: 5px 0;
}

.catalog-sort a:hover {
  border-bottom: 2px solid #8d6a2e;
}

.catalog-sort a.active {
  color: #000;
  border-bottom: 2px solid #8d6a2e;
}

.catalog-items .main-el {
  float: left;
  width: 31%;
  margin-right: 3.5%;
}

.catalog-items .main-el:nth-child(3n) {
  margin-right: 0;
}