@media only screen and (max-width: 1340px) {
  .container {
    width: 970px;
  }
  .header {
    text-align: center;
  }
  .header-logo {
    width: 100%;
    margin: 0 0 25px 0;
    text-align: center;
  }
  .header-link {
    padding: 0 30px;
  }
  .header-info {
    padding-bottom: 17px;
  }
  .main-advice {
    margin-left: 0;
  }
  .main-advice__head {
    margin-left: 0;
    font-size: 37px;
  }
  .main-advice-content {
    padding-top: 45px;
    padding-right: 28px;
    padding: 36px 28px;
    width: 70%;
  }
  .main-advice-info {
    width: 30%;
  }
  .main-advice__tel {
    font-size: 28px;
  }
  .main-advice__link {
    padding: 0 32px;
  }
  .main-advan-caption {
    font-size: 40px;
  }
  .main-advan-item h3 {
    font-size: 22px;
  }
  .main-advan-item p {
    line-height: 1.4;
  }
  .main-sale-item {
    width: 32%;
    margin-right: 2%;
  }
  .main-sale-item:nth-child(3n) {
    margin-right: 0;
  }
  .main-sale-item:nth-child(4n) {
    margin-right: 2%;
  }
  .main-order-head {
    font-size: 34px;
  }
  .main-order-input input {
    width: 226px;
  }
  .main-order-input {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .main-order-input input.active {
    width: 466px;
  }
  .main-order-form button {
    width: 226px;
  }
  .head {
    font-size: 38px;
  }
  .slider-about {
    float: none;
    width: auto;
  }
  .slider-name {
    display: inline-block;
    border-bottom: 1px solid #000;
  }
  .slider-name span {
    display: inline-block;
    font-size: 38px;
    border: none;
  }
  .slider-about-arrows {
    float: right;
  }
  .slider-items {
    width: 100%;
  }
  .slider-item {
    padding-left: 24px;
  }
  .slider-content {
    width: 620px;
  }
  .slider-item__img {
    margin-right: 25px;
  }
  .about-info {
    width: 35%;
    margin-top: 40px;
    padding: 40px 15px 40px 22px;
  }
  .about-info li a {
    font-size: 20px;
  }
  .news-item {
    height: auto;
  }
  .footer {
    text-align: center;
  }
  .footer-logo {
    float: none;
    margin-bottom: 30px;
  }
  .footer-log {
    margin-bottom: 28px;
  }
  .footer-link a {
    padding: 0 33px;
  }
  .footer-info {
    float: none;
  }
  .footer-info ul:first-child {
    margin-right: 27px;
  }
  .sidebar {
    width: 30%;
  }
  .catalog-items .main-sale-item {
    width: 49%;
    margin-right: 2%;
  }
  .catalog-items .main-sale-item:nth-child(2n) {
    margin-right: 0;
  }
  .catalog-items .main-sale-item:nth-child(3n) {
    margin-right: 2%;
  }
  .catalog-items .main-sale-item:nth-child(6n) {
    margin-right: 0;
  }
  .contacts-text {
    padding-right: 0;
  }
  .products-img img {
    padding: 0 10px;
  }
  .products-img {
    line-height: 423px;
    margin-right: 20px;
  }
  .head {
    font-size: 27px;
  }
  .products table tr td:first-child {
    width: 168px;
    line-height: 21px;
  }
  .products-content p {
    padding: 5px 0;
    font-size: 21px;
  }
  .products-link {
    margin-bottom: 10px;
  }
  .products-content span {
    padding-bottom: 10px;
  }
  .products-info .main-sale-item {
    width: 24%;
    margin-right: 1.3%;
    text-align: center;
  }
  .products-info .main-sale-item:last-child {
    margin-right: 0;
  }
  .products-info .main-sale-item .main-sale-bottom span {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .products-slider-items .main-sale-item {
    margin-right: 10px;
    text-align: center;
  }
  .products-slider-items .main-sale-item .main-sale-bottom span {
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .products-slider-items .main-sale-item .main-sale__link {
    font-size: 16px;
    line-height: 1.3;
    padding-bottom: 10px;
  }
  .products-slider-items .main-sale-item .main-sale__img {
    line-height: 220px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .header-content {
    float: none;
    margin-bottom: 20px;
  }
  .header-link {
    float: none;
  }
  .main-advice-content {
    width: 59%;
    padding: 25px 19px;
    border: 15px solid #66d5ea;
  }
  .main-advice__head {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .main-advice-content p {
    font-size: 16px;
  }
  .main-advice-info {
    width: 40%;
    padding: 33px 20px 33px 20px;
  }
  .main-showcase-content {
    padding: 25px 0 0 30px;
  }
  .main-showcase__head {
    font-size: 26px;
    margin-bottom: 11px;
  }
  .main-showcase-content span {
    margin-bottom: 9px;
  }
  .main-showcase__link {
    line-height: 40px;
    padding: 0 20px;
  }
  .main-advan-item {
    width: 49%;
    margin-right: 2%;
  }
  .main-advan-item:nth-child(2n) {
    margin-right: 0;
  }
  .main-sale__img {
    line-height: 236px;
  }
  .main-sale-bottom span {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .head,
  .slider-name span {
    font-size: 30px;
  }
  .slider-content {
    display: block;
    width: auto;
  }
  .slider-item__img {
    margin-bottom: 15px;
  }
  .about-item p {
    line-height: 1.3;
  }
  .about-info {
    width: 41%;
  }
  .about-info__head {
    font-size: 24px;
  }
  .about-info li a {
    font-size: 18px;
  }
  .about {
    padding-top: 10px;
  }
  .about-info {
    margin-top: 60px;
  }
  .news-item {
    padding: 16px;
  }
  .news-item__head {
    font-size: 18px;
  }
  .news-item p {
    line-height: 1.3;
  }
  .map-info {
    padding-right: 70px;
    padding-left: 40px;
  }
  .footer-info ul:last-child {
    width: 190px;
  }
  .footer-info ul,
  .footer-info ul:first-child {
    margin-right: 15px;
  }
  .footer-info ul {
    width: 156px;
  }
  .footer-tel {
    font-size: 24px;
  }
  .footer-orders {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .footer-mail {
    margin-bottom: 5px;
  }
  .catalog-content {
    margin-left: 245px;
  }
  .catalog-items .main-sale-item {
    text-align: center;
  }
  .catalog-items .main-sale-item .main-sale-bottom span {
    display: block;
  }
  .contacts-map iframe {
    height: 300px;
  }
  .contacts-item {
    width: 31%;
    margin-right: 2%;
  }
  .contacts-item:last-child {
    margin-right: 0;
  }
  .head, .slider-name span {
    font-size: 26px;
  }
  .products-slider-arrows {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .header-info span {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .burger-wrap {
    display: block;
    width: 30px;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #222;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    position: absolute;
    background: #222;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }
  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    padding: 20px 0;
    margin-top: 15px;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
    transition: 300ms;
  }
  .nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header-info {
    padding-bottom: 30px;
  }
  .header-link  {
    position: absolute;
    bottom: 37px;
    right: 15px;
    line-height: 40px;
    padding: 0 25px;
  }
  .main-advice-content {
    width: auto;
  }
  .main-advice-info {
    width: auto;
    padding: 33px 40px;
  }
  .main-advice {
    text-align: center;
  }
  .main-showcase-item {
    width: 421px;
    margin-right: 0;
  }
  .main-showcase-items {
    text-align: center;
  }
  .main-showcase-content {
    padding-left: 0;
  }
  .main-advan-item {
    width: 100%;
    margin-right: 0;
  }
  .main-sale-item {
    width: 49%;
  }
  .main-sale-item:nth-child(2n) {
    margin-right: 0;
  }
  .main-sale-item:nth-child(3n) {
    margin-right: 2%;
  }
  .main-sale-item:nth-child(6) {
    margin-right: 0;
  }
  .main-order {
    text-align: center;
    padding-bottom: 35px;
  }
  .main-order-input input.active {
    width: 410px;
  }
  .main-order-input {
    margin-right: 0;
  }
  .main-order-input input {
    width: 410px;
  }
  .main-order-form button {
    display: block;
    margin: 0 auto;
  }
  .partners-arrows {
    display: none;
  }
  .head,
  .slider-name span {
    font-size: 24px;
  }
  .slider-about-arrows {
    display: none;
  }
  .about-item {
    float: none;
    width: auto;
    text-align: center;
  }
  .about-info {
    margin-top: 0;
    float: none;
    width: 83%;
    margin: 0 auto;
  }
  .news-item:last-child {
    margin-right: auto;
  }
  .news-item {
    width: 386px;
    display: block;
    margin: 0 auto 20px;
  }
  .map-info {
    padding: 25px 35px 20px 25px;
  }
  .footer-info ul {
    display: block;
    width: auto;
    margin-bottom: 40px;
  }
  .footer-info ul li {
    margin-bottom: 10px;
  }
  .footer-info ul:last-child {
    display: block;
    width: auto;
  }
  .footer-info ul span,
  .footer-info__link {
    display: block;
  }
  .bottom-info,
  .bottom-omg {
    float: none;
  }
  .bottom {
    text-align: center;
  }
  .main-sale-link a {
    right: 15px;
  }
  .modal {
    padding: 25px 36px 40px;
  }
  .fancybox-close-small {
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
  }
  .modal-head {
    font-size: 30px;
    display: inline-block;
  }
  .sidebar {
    float: none;
    width: 410px;
    margin: 0 auto 40px;
  }
  .catalog-content {
    margin-left: 0;
  }
  .pagination li:last-child {
    margin-left: 10px;
  }
  .pagination li:first-child {
    margin-right: 15px;
  }
  .contacts-items {
    text-align: center;
  }
  .contacts-item {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .products-content {
    display: block;
    width: auto;
  }
  .products-img {
    margin-right: 0;
    width: auto;
    margin-bottom: 20px;
  }
  .products {
    text-align: center;
  }
  .products-content table {
    margin: 0 auto;
  }
  .products table tr td:first-child {
    width: 200px;
    text-align: left;
  }
  .products-info .main-sale-item {
    width: 49%;
    margin-right: 2%;
  }
  .products-info .main-sale-item:nth-child(2n) {
    margin-right: 0;
  }
  .head, .slider-name span {
    font-size: 22px;
  }
  .products-sale a {
    padding: 0 10px;
  }
  .products-slider-items .main-sale-item {
    margin-right: 10px;
  }
  .products-slider-items .main-sale-item .main-sale__img img {
    padding: 0 10px;
  }
  
}

@media only screen and (max-width: 450px) {
  .header-info__tel {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main-advice__tel {
    font-size: 24px;
  }
  .main-showcase-item {
    width: 290px;
  }
  .main-showcase__link {
    display: none;
  }
  .main-sale-item {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .main-sale-link a {
    padding: 0 17px;
  }
  .main-order-head {
    font-size: 28px;
  }
  .slider-content p {
    line-height: 1.3;
  }
  .about-info {
    width: auto;
  }
  .news-item {
    width: auto;
  }
  .head, .slider-name span {
    font-size: 21px;
  }
  .main-sale-link a {
    padding: 0 6px;
  }
  .map-info {
    position: static;
    margin-top: 20px;
  }
  .map-wrap iframe {
    height: 280px;
  }
  .map-info:after {
    display: none;
  }
  .map-info p br {
    display: none;
  }
  .modal {
    padding: 25px 16px 40px;
  }
  .modal-form {
    width: 265px;
  }
  .modal-head {
    font-size: 24px;
  }
  .sidebar {
    width: auto;
  }
  .catalog-items .main-sale-item {
    width: 100%;
    margin-right: 0;
  }
  .pagination li {
    margin-right: 2px;
  }
  .pagination li:first-child {
    margin-right: 5px;
  }
  .pagination li:last-child {
    margin-left: 2px;
  }
  .pagination li a {
    width: 30px;
    line-height: 30px;
    font-size: 16px;
  }
  .bread li {
    margin-bottom: 5px;
  }
  .products-info .main-sale-item {
    width: 100%;
    margin-right: 0;
  }
  .products-sale a {
    display: none;
  }
  .products-img {
    line-height: 300px;
  }
  .products table tr td:first-child {
    width: 185px;
  }
  .main-order-input input,
  .main-order-input input.active {
    width: 290px;
  }
  .main-sale-link a {
    display: none;
  }
}