* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'ProximaNova', sans-serif; }

a {
  font: 400 16px 'ProximaNova', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative; }

.head {
  display: inline-block;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 27px;
  position: relative;
  border-bottom: 1px solid #000; }

/* Header */
.header {
  padding: 34px 0 22px; }
  .header-logo {
    float: left;
    margin-right: 58px; }
  .header-content {
    float: left; }
  .header-link {
    float: right; }
  .header-info {
    padding-bottom: 20px; }
    .header-info span {
      font-size: 14px;
      margin-right: 70px; }
    .header-info__tel {
      font-size: 14px;
      margin-right: 70px;
      color: #000; }
      .header-info__tel:hover {
        color: #66d5ea; }
    .header-info__mail {
      text-decoration: underline;
      font-size: 14px;
      color: #000; }
  .header-link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: underline;
    padding: 0 45px;
    background-color: #ff002a; }
    .header-link:hover {
      background: #a1031d; }

.nav-wrap {
  position: relative; }

.nav li {
  display: inline-block;
  vertical-align: top;
  margin-right: 14px; }
  .nav li:last-child {
    margin-right: 0; }
  .nav li a {
    color: #000;
    border-bottom: 1px solid #000; }
    .nav li a:hover {
      border-bottom: 1px solid transparent; }
    .nav li a.active {
      border-bottom: none; }

.burger-wrap {
  display: none; }

/* Bread */
.bread {
  padding: 20px 0 24px;
  border-top: 1px solid #ccdde7; }
  .bread li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-right: 30px;
    position: relative; }
    .bread li:before {
      content: '';
      display: block;
      background: url(../images/bread-img.png) no-repeat 50%;
      width: 14px;
      height: 8px;
      position: absolute;
      top: 3px;
      right: -24px; }
    .bread li:last-child:before {
      display: none; }
    .bread li a {
      color: #000;
      font-size: 14px;
      border-bottom: 1px solid #000; }
      .bread li a:hover {
        border-bottom: 1px solid transparent; }

/* Main advice */
.main-advice {
  float: left;
  font-size: 0;
  margin: 30px 0 60px 90px; }
  .main-advice-content {
    display: inline-block;
    vertical-align: middle;
    width: 72%;
    padding: 70px 15px 50px 45px;
    border: 20px solid #66d5ea;
    background-color: #eef7fc; }
    .main-advice-content p {
      font-size: 18px;
      line-height: 1.5; }
  .main-advice__head {
    font-size: 46px;
    font-weight: 700;
    margin-left: -154px;
    border-bottom: 2px solid #ff002a;
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 6px; }
  .main-advice-info {
    display: inline-block;
    vertical-align: middle;
    width: 27%;
    padding: 45px 20px 40px 20px;
    background-color: #eef7fc;
    text-align: center; }
    .main-advice-info span {
      display: block;
      font-size: 16px;
      padding-bottom: 12px; }
    .main-advice-info p {
      font-size: 16px;
      padding-bottom: 10px; }
  .main-advice__tel {
    font-size: 34px;
    font-weight: 800;
    color: #000;
    margin-bottom: 20px; }
    .main-advice__tel:hover {
      color: #66d5ea; }
  .main-advice__link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: underline;
    padding: 0 47px;
    background-color: #ff002a; }
    .main-advice__link:hover {
      background: #a1031d; }

/* Main showcase */
.main-showcase-items {
  font-size: 0;
  padding-bottom: 50px; }

.main-showcase-item {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  margin-right: 1%;
  position: relative;
  margin-bottom: 15px; }
  .main-showcase-item:nth-child(2n) {
    margin-right: 0; }
  .main-showcase-item:hover .main-showcase-content {
    background: rgba(255, 0, 42, 0.8); }
  .main-showcase-item:hover .main-showcase-content a {
    opacity: 1;
    visibility: visible; }

.main-showcase-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 60px 0 0 60px;
  transition: 300ms; }
  .main-showcase-content span {
    font-size: 18px;
    color: #fff;
    margin-bottom: 36px;
    display: block; }

.main-showcase__head {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  color: #fff;
  margin-bottom: 38px; }

.main-showcase__link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  text-decoration: underline;
  border: 2px solid #fff;
  padding: 0 40px;
  opacity: 0;
  visibility: hidden;
  transition: 300ms; }
  .main-showcase__link:hover {
    text-decoration: none; }

/* Main advan */
.main-advan {
  padding: 45px 0 0 0;
  margin-bottom: 60px; }
  .main-advan-wrap {
    background-color: #eef7fc; }
  .main-advan-head {
    margin-top: 35px; }
  .main-advan-caption {
    display: inline-block;
    font-size: 46px;
    border-bottom: 2px solid #ff002a;
    margin-bottom: 10px; }
  .main-advan-items {
    font-size: 0;
    padding-bottom: 14px; }
  .main-advan-item {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 36px; }
    .main-advan-item:nth-child(3n) {
      margin-right: 0; }
    .main-advan-item span {
      display: block;
      color: #66d5ea;
      font-size: 36px;
      font-weight: 700;
      padding-bottom: 16px; }
    .main-advan-item h3 {
      font-size: 26px;
      padding-bottom: 18px; }
    .main-advan-item p {
      font-size: 16px;
      line-height: 1.6; }

/* Main sale */
.main-sale-link a {
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  text-decoration: underline;
  padding: 0 30px;
  background-color: #ff002a;
  position: absolute;
  top: 0;
  right: 0; }
  .main-sale-link a:hover {
    text-decoration: none;
    background: #a1031d; }

.main-sale-items {
  font-size: 0;
  padding-bottom: 35px; }

.main-sale-item {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin-right: 2.5%;
  margin-bottom: 40px;
  transition: 300ms; }
  .main-sale-item:nth-child(4n) {
    margin-right: 0; }
  .main-sale-item:hover .main-sale__img {
    border: 1px solid #ff002a; }
  .main-sale-item:hover {
    color: #ff002a; }
  .main-sale-item:hover .main-sale-bottom a {
    background: #ff002a;
    color: #fff; }
  .main-sale-item:hover .main-sale__link {
    color: #ff002a; }

.main-sale__link {
  font-size: 18px;
  line-height: 1.4;
  padding-bottom: 22px;
  color: #000;
  font-weight: 700; }

.main-sale__img {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccdde7;
  line-height: 310px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center; }
  .main-sale__img img {
    display: inline-block;
    vertical-align: middle; }

.main-sale__code {
  display: block;
  font-size: 14px;
  padding-bottom: 10px; }

.main-sale-bottom span {
  display: inline-block;
  color: #ff002a;
  font-size: 20px;
  margin-right: 34px; }

.main-sale-bottom a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 35px;
  text-decoration: underline;
  padding: 0 15px;
  background-color: #ccdde7; }
  .main-sale-bottom a:hover {
    text-decoration: none; }

/* Main order */
.main-order {
  padding: 50px 0 17px 0;
  margin-bottom: 70px; }
  .main-order-wrap {
    background: url(../images/main-order-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .main-order-head {
    font-size: 44px;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-bottom: 35px; }
  .main-order-form button {
    width: 310px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: underline;
    background-color: #ff002a;
    border: none;
    transition: 300ms; }
    .main-order-form button:hover {
      text-decoration: none;
      background: #a1031d; }
  .main-order-input {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 36px 0; }
    .main-order-input input {
      width: 310px;
      font-size: 18px;
      line-height: 60px;
      padding: 0 25px;
      border: none; }
      .main-order-input input.active {
        width: 655px; }
      .main-order-input input::-webkit-input-placeholder {
        color: #000; }
      .main-order-input input:-moz-placeholder {
        color: #000; }
      .main-order-input input::-moz-placeholder {
        color: #000; }
      .main-order-input input:-ms-input-placeholder {
        color: #000; }

/* Partners */
.partners {
  font-size: 0;
  margin-bottom: 55px; }
  .partners-arrows {
    float: right; }
  .partners .slick-prev,
  .partners .slick-next {
    background: url(../images/main-partners-arrow.png) no-repeat left;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccdde7; }
    .partners .slick-prev:hover,
    .partners .slick-next:hover {
      background-position: right;
      border: 1px solid #ff002a; }
  .partners .slick-next {
    background: url(../images/main-partners-arrow2.png) no-repeat left;
    margin-left: 9px; }
  .partners-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 34px; }
    .partners-item:last-child {
      margin-right: 0; }

/* Slider */
.slider {
  padding-bottom: 70px; }
  .slider-about {
    float: left;
    width: 15%;
    margin-right: 2%; }
    .slider-about-arrows .slick-prev,
    .slider-about-arrows .slick-next {
      background: url(../images/main-partners-arrow.png) no-repeat left;
      width: 80px;
      height: 40px;
      border: none;
      cursor: pointer;
      border: 1px solid #ccdde7; }
      .slider-about-arrows .slick-prev:hover,
      .slider-about-arrows .slick-next:hover {
        background-position: right;
        border: 1px solid #ff002a; }
    .slider-about-arrows .slick-next {
      background: url(../images/main-partners-arrow2.png) no-repeat left;
      margin-left: 9px; }
  .slider-name {
    margin-bottom: 24px; }
    .slider-name span {
      display: block;
      font-size: 42px;
      font-weight: 700;
      border-bottom: 1px solid #000;
      margin-bottom: 3px; }
  .slider-items {
    float: right;
    width: 83%; }
  .slider-item {
    padding: 45px 10px 35px 40px;
    background-color: #eef7fc; }
    .slider-item__img {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px; }
  .slider-content {
    display: inline-block;
    vertical-align: top;
    width: 730px; }
    .slider-content__head {
      padding-bottom: 20px;
      font-size: 24px; }
    .slider-content p {
      font-size: 16px;
      line-height: 1.6; }
      .slider-content p a {
        color: #ff002a;
        font-size: 14px;
        font-weight: 700;
        text-decoration: underline; }
        .slider-content p a:hover {
          text-decoration: none; }

/* About */
.about {
  padding-top: 40px;
  margin-bottom: 70px; }
  .about-wrap {
    background: url(../images/main-about-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .about-item {
    float: left;
    width: 56%;
    padding-top: 22px; }
    .about-item p {
      line-height: 1.6;
      padding-bottom: 37px; }
    .about-item a {
      color: #fff;
      font-weight: 700;
      line-height: 40px;
      text-decoration: underline;
      padding: 0 25px;
      background-color: #ff002a;
      margin-bottom: 30px; }
      .about-item a:hover {
        text-decoration: none;
        background: #a1031d; }
  .about-info {
    float: right;
    width: 32%;
    padding: 35px 40px 33px 35px;
    background: #fff;
    position: relative; }
    .about-info:after {
      content: '';
      display: block;
      background: url(../images/about-info-img.png) repeat 50%;
      width: 100%;
      height: 4px;
      position: absolute;
      top: -4px;
      left: 0; }
    .about-info__head {
      font-size: 26px;
      line-height: 1.3;
      padding-bottom: 30px; }
    .about-info li {
      padding: 0 0 22px 45px;
      position: relative; }
      .about-info li:before {
        content: '';
        display: block;
        background: url(../images/about-info-imgl.png) no-repeat 50%;
        width: 20px;
        height: 27px;
        position: absolute;
        top: -2px;
        left: 0; }
      .about-info li a {
        display: inline-block;
        vertical-align: top;
        color: #ff002a;
        font-size: 24px;
        border-bottom: 1px solid #ff002a; }
        .about-info li a:hover {
          border-bottom: 1px solid transparent; }

/* News */
.news-items {
  font-size: 0;
  padding-bottom: 65px; }

.news-item {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-right: 2%;
  padding: 25px;
  border: 1px solid #ccdde7;
  height: 290px; }
  .news-item:last-child {
    margin-right: 0; }
  .news-item__head {
    color: #000;
    font-size: 24px;
    line-height: 1.3;
    text-decoration: underline;
    margin-bottom: 16px;
    font-weight: 700; }
  .news-item p {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 20px; }
  .news-item span {
    color: #1d5d83;
    font-size: 16px;
    font-weight: 700;
    display: block; }

/* Map */
.map-wrap {
  padding-bottom: 80px; }
  .map-wrap iframe {
    width: 100%;
    height: 365px;
    border: none; }

.map-info {
  position: absolute;
  bottom: 3px;
  left: 0;
  padding: 40px 105px 30px 50px;
  background: #fff; }
  .map-info:after {
    content: '';
    display: block;
    background: url(../images/about-info-img.png) repeat 50%;
    width: 100%;
    height: 4px;
    position: absolute;
    top: -4px;
    left: 0; }
  .map-info-head {
    margin-bottom: 22px; }
  .map-info p {
    line-height: 1.6;
    padding-bottom: 20px; }
  .map-info__tel {
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
    color: #000; }
    .map-info__tel:hover {
      color: #66d5ea; }
  .map-info__mail {
    color: #1d5d83;
    text-decoration: underline;
    margin-top: 8px; }

/* Footer */
.footer {
  padding: 44px 0 30px 0; }
  .footer-wrap {
    background-color: #1d5d83; }
  .footer-logo {
    float: left; }
  .footer-log {
    margin-bottom: 45px; }
  .footer-link a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: underline;
    padding: 0 47px;
    background-color: #ff002a; }
    .footer-link a:hover {
      text-decoration: none;
      background: #a1031d; }
  .footer-info {
    float: right; }
    .footer-info ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 27px;
      width: 205px; }
      .footer-info ul:last-child {
        margin-right: 0;
        width: 225px; }
      .footer-info ul:first-child {
        margin-right: 40px; }
      .footer-info ul li {
        margin-bottom: 16px;
        color: #fff; }
        .footer-info ul li a {
          color: #fff;
          text-decoration: underline;
          line-height: 1.6; }
          .footer-info ul li a:hover {
            text-decoration: none; }
      .footer-info ul span {
        color: #fff; }
    .footer-info__link {
      text-decoration: underline;
      color: #fff;
      margin-bottom: 20px; }
  .footer-tel {
    font-size: 26px;
    margin: 10px 0 13px 0;
    color: #fff; }
    .footer-tel:hover {
      color: #66d5ea; }
  .footer-mail {
    text-decoration: underline;
    color: #fff;
    margin-bottom: 20px; }

/* Bottom */
.bottom {
  padding: 18px 0;
  border-top: 1px solid #66d5ea; }
  .bottom-wrap {
    background-color: #1d5d83; }
  .bottom-info {
    float: left;
    color: #66d5ea;
    font-size: 14px; }
  .bottom-omg {
    float: right;
    font-size: 14px;
    color: #66d5ea; }
    .bottom-omg a {
      text-decoration: underline;
      color: #66d5ea; }
      .bottom-omg a:hover {
        text-decoration: none; }

/* Catalog */
.catalog-items .main-sale-item {
  width: 31%;
  margin-right: 3.5%; }
  .catalog-items .main-sale-item:nth-child(3n) {
    margin-right: 0; }

.catalog-head {
  margin-bottom: 34px; }

.catalog-content {
  margin-left: 345px; }
  .catalog-content p {
    line-height: 1.6;
    padding-bottom: 40px; }

/* Sidebar */
.sidebar {
  float: left;
  width: 23%;
  background: #eef7fc;
  padding-bottom: 10px; }
  .sidebar-head {
    color: #fff;
    font-size: 24px;
    background: #66d5ea;
    padding: 16px 35px 16px 22px;
    margin-bottom: 25px; }
  .sidebar ul {
    padding: 0 35px 0 22px; }
    .sidebar ul li {
      margin-bottom: 30px; }
      .sidebar ul li:nth-child(3) {
        font-weight: 700; }
      .sidebar ul li a {
        color: #000;
        border-bottom: 1px solid #000; }
        .sidebar ul li a:hover {
          border-bottom: 1px solid transparent; }

/* Pagination */
.pagination {
  padding-bottom: 70px;
  text-align: center; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 8px;
    position: relative; }
    .pagination li:first-child {
      margin-right: 25px; }
    .pagination li:last-child {
      margin-left: 25px; }
    .pagination li a {
      display: inline-block;
      vertical-align: top;
      border: 1px solid #ccdde7;
      line-height: 40px;
      width: 40px;
      font-size: 18px;
      color: #000; }
      .pagination li a.active {
        color: #fff;
        background: #ff002a;
        border: 1px solid #ff002a; }
      .pagination li a:hover {
        background: #ff002a;
        color: #fff;
        border: 1px solid #ff002a; }
  .pagination-arrows {
    background: url(../images/pagination-arrow.png) no-repeat left;
    width: 29px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
    .pagination-arrows:hover {
      background-position: right; }
    .pagination-arrows__right {
      background: url(../images/pagination-arrow2.png) no-repeat left; }

/* Contacts */
.contacts-head {
  margin-bottom: 37px; }

.contacts-map {
  padding-bottom: 50px; }
  .contacts-map iframe {
    width: 100%;
    height: 455px;
    border: none; }

.contacts-items {
  padding-bottom: 37px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccdde7; }

.contacts-item {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  margin-right: 11%; }
  .contacts-item__head {
    font-size: 16px;
    padding-bottom: 16px; }
  .contacts-item p {
    padding-bottom: 10px; }
  .contacts-item__link {
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    text-decoration: underline;
    padding: 0 30px;
    background-color: #ff002a; }
    .contacts-item__link:hover {
      text-decoration: none;
      background: #a1031d; }

.contacts-info {
  padding-bottom: 8px; }
  .contacts-info a {
    color: #000; }
    .contacts-info a:hover {
      color: #66d5ea; }

.contacts-text {
  padding-bottom: 65px;
  line-height: 1.6;
  padding-right: 340px; }

/* Products */
.products {
  padding-bottom: 45px; }
  .products-img {
    display: inline-block;
    vertical-align: top;
    line-height: 520px;
    width: 52%;
    text-align: center;
    border: 1px solid #ccdde7;
    margin-right: 40px; }
    .products-img img {
      display: inline-block;
      vertical-align: middle; }
  .products-head {
    margin-bottom: 10px;
    border-bottom: none; }
  .products-content {
    display: inline-block;
    vertical-align: top;
    width: 43%; }
    .products-content span {
      font-size: 24px;
      font-weight: 700;
      display: block;
      padding-bottom: 14px; }
    .products-content p {
      color: #ff002a;
      font-size: 24px;
      font-weight: 700;
      padding: 24px 0 30px; }
  .products-link {
    display: inline-block;
    color: #000;
    line-height: 40px;
    padding: 0 18px;
    margin-bottom: 16px;
    background: #66d5ea; }
  .products table tr td:first-child {
    width: 212px;
    color: #747474;
    line-height: 25px; }
  .products-order {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: underline;
    padding: 0 26px;
    background-color: #ccdde7; }
    .products-order:hover {
      background: #359fb3;
      color: #fff; }
  .products-slider-arrows {
    float: right; }
    .products-slider-arrows .slick-prev,
    .products-slider-arrows .slick-next {
      background: url(../images/main-partners-arrow.png) no-repeat left;
      width: 80px;
      height: 40px;
      border: none;
      cursor: pointer;
      border: 1px solid #ccdde7; }
      .products-slider-arrows .slick-prev:hover,
      .products-slider-arrows .slick-next:hover {
        background-position: right;
        border: 1px solid #ff002a; }
    .products-slider-arrows .slick-next {
      background: url(../images/main-partners-arrow2.png) no-repeat left;
      margin-left: 9px; }
  .products-slider-wrap {
    margin-bottom: 60px; }
  .products-slider-items .main-sale-item {
    width: 310px;
    margin: 0 auto;
    margin-right: 30px; }
  .products-info {
    position: relative;
    padding-top: 50px;
    border-top: 1px solid #ccdde7;
    padding-bottom: 25px; }
  .products-sale {
    position: absolute;
    top: 50px;
    right: 0; }
    .products-sale a {
      color: #fff;
      font-weight: 700;
      line-height: 40px;
      text-decoration: underline;
      padding: 0 28px;
      background: #ff002a; }
      .products-sale a:hover {
        background: #a1031d; }

/* Modal */
.modal {
  display: inline-block;
  padding: 25px 57px 40px;
  background-color: #66d5ea;
  display: none;
  position: relative;
  overflow: visible; }
  .modal-head {
    font-size: 36px;
    border-bottom: 1px solid #000;
    margin-bottom: 35px; }
  .modal-form {
    width: 310px; }
    .modal-form button {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 60px;
      text-decoration: underline;
      width: 100%;
      border: none;
      cursor: pointer;
      background: #ff002a;
      transition: 300ms; }
      .modal-form button:hover {
        background: #a1031d; }
  .modal-input {
    margin-bottom: 30px; }
    .modal-input input,
    .modal-input textarea {
      width: 100%;
      font-size: 18px;
      height: 60px;
      padding: 0 25px;
      font-family: 'ProximaNova'; }
      .modal-input input::-webkit-input-placeholder,
      .modal-input textarea::-webkit-input-placeholder {
        color: #000; }
      .modal-input input:-moz-placeholder,
      .modal-input textarea:-moz-placeholder {
        color: #000; }
      .modal-input input::-moz-placeholder,
      .modal-input textarea::-moz-placeholder {
        color: #000; }
      .modal-input input:-ms-input-placeholder,
      .modal-input textarea:-ms-input-placeholder {
        color: #000; }
    .modal-input textarea {
      resize: none;
      font-family: 'ProximaNova';
      font-weight: 400;
      height: 180px;
      padding-top: 15px;
      line-height: 1.2; }

.fancybox-bg {
  background-color: #1d5d83; }

.fancybox-is-open .fancybox-bg {
  opacity: .8; }

.fancybox-close-small:after {
  display: none; }

.fancybox-close-small {
  background: #1a5172 url(../images/modal-img.png) no-repeat center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: -70px;
  cursor: pointer;
  transition: 300ms; }
  .fancybox-close-small:hover {
    background-color: #66d5ea; }

/*# sourceMappingURL=style.css.map */