@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
      url('../fonts/PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
      url('../fonts/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}