button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'PTSans', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'PTSans', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.head {
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  color: #959595;
  padding-left: 34px;
  margin-bottom: 28px;
  position: relative; }
  .head:before, .head:after {
    content: '';
    display: block;
    width: 6px;
    height: 18px;
    background-color: #e84b2e;
    position: absolute;
    top: 2px;
    left: 0;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg); }
  .head:after {
    left: 10px; }

.link {
  line-height: 38px;
  padding: 0 12px 0 14px;
  border: 1px solid #e84b2e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #e84b2e;
  text-transform: uppercase; }
  .link:hover {
    color: #e84b2e; }
    .link:hover img {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .link span {
    display: inline-block;
    margin-right: 10px; }
  .link img {
    width: 15px;
    height: 13px;
    -webkit-transition: 300ms;
    transition: 300ms; }

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1336px) {
  .container {
    width: 970px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; } }

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 10px !important; }
  .head {
    text-align: left;
    margin-bottom: 16px; } }

.burger {
  display: none;
  width: 30px;
  position: absolute;
  top: 21px;
  right: 0;
  z-index: 20; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: #6c6966;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: #6c6966;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }

.burger-nav {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 7px;
  width: 10px; }
  .burger-nav a {
    padding: 8px 0; }
    .burger-nav a.active span {
      background: transparent; }
      .burger-nav a.active span:before {
        -webkit-transform: rotate(45deg) translate(3px, 3px);
        transform: rotate(45deg) translate(3px, 3px); }
      .burger-nav a.active span:after {
        -webkit-transform: rotate(-45deg) translate(3px, -3px);
        transform: rotate(-45deg) translate(3px, -3px); }
    .burger-nav a span {
      width: 10px;
      height: 1px; }
      .burger-nav a span:before, .burger-nav a span:after {
        width: 10px;
        height: 1px; }
      .burger-nav a span:before {
        top: -4px; }
      .burger-nav a span:after {
        top: 4px; }

@media (max-width: 991px) {
  .burger-nav {
    display: none !important; }
  .burger {
    display: block;
    width: 20px;
    top: 23px; }
    .burger a.active span:after {
      -webkit-transform: rotate(-45deg) translate(4px, -4px);
      transform: rotate(-45deg) translate(4px, -4px); }
    .burger a.active span:before {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
      transform: rotate(45deg) translate(5px, 5px); }
    .burger a span {
      width: 20px;
      height: 2px; }
      .burger a span:before, .burger a span:after {
        width: 20px;
        height: 2px; }
      .burger a span:before {
        top: -6px; }
      .burger a span:after {
        top: 6px; } }

.header {
  padding: 24px 0;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .header-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }
  .header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 21px; }
  .header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
  .header-city {
    font-size: 14px;
    margin-right: 20px; }
    .header-city .temp {
      display: inline-block;
      color: #4aae4d; }
  .header-course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-course-item {
      font-size: 14px;
      margin-right: 20px; }
      .header-course-item:last-child {
        margin-right: 0; }
      .header-course-item span {
        color: #4aae4d; }

.header-stopper {
  font-size: 14px;
  margin-right: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header-stopper .number {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    margin: 0 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.header-soc {
  margin: 0 40px 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-soc li {
    margin-right: 10px; }
    .header-soc li:last-child {
      margin-right: 0; }
    .header-soc li a:hover {
      opacity: .8; }

.pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #6c6966; }
  .pc:hover {
    color: #e84b2e; }
  .pc img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 14px;
    margin-right: 8px; }

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 221px;
  margin-right: 81px; }

@media (max-width: 1336px) {
  .logo {
    width: 180px;
    margin-right: 20px; } }

@media (max-width: 991px) {
  .header {
    padding: 14px 0; }
    .header-info {
      display: none; }
    .header-section {
      position: static; }
    .header-soc {
      margin-right: 26px; }
    .header-items {
      margin-bottom: 0;
      margin-top: 12px;
      padding-right: 74px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      position: relative;
      z-index: 5; }
    .header-item {
      margin-bottom: 10px; }
      .header-item:last-child {
        margin-bottom: 0; } }

@media (max-width: 660px) {
  .header-soc {
    display: none; }
  .pc {
    display: none; } }

.nav-wrap {
  position: relative;
  z-index: 10;
  padding-right: 25px;
  margin-right: 40px; }

.nav li {
  margin-right: 32px; }
  .nav li:last-child {
    margin-right: 0; }
  .nav li a {
    font-size: 16px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase; }
    .nav li a:hover {
      color: #e84b2e; }

.nav-sub {
  margin: 0;
  padding: 28px 10px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: 300ms;
  transition: 300ms; }
  .nav-sub.active {
    opacity: 1;
    visibility: visible;
    z-index: 15; }
  .nav-sub li {
    margin: 0 29px 27px 0; }
    .nav-sub li a {
      font-size: 16px;
      font-weight: 700;
      color: #959595;
      text-transform: uppercase; }
      .nav-sub li a:hover {
        color: #e84b2e; }

@media (max-width: 1336px) {
  .nav-wrap {
    margin-right: 0; }
  .nav li {
    margin-right: 12px; }
    .nav li a {
      font-weight: 400;
      font-size: 15px; }
  .nav-sub {
    padding-top: 20px; }
    .nav-sub li {
      margin: 0 20px 16px 0; }
      .nav-sub li a {
        font-weight: 400; } }

@media (max-width: 991px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 10px; }
    .nav li {
      margin-right: 0;
      margin-bottom: 3px;
      text-align: center; }
    .nav-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 10px;
      padding: 10px 0 14px;
      background-color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .nav-wrap.active {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        z-index: 15; }
    .nav-sub {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0;
      margin: 0 10px;
      opacity: 1;
      visibility: visible;
      z-index: 10;
      position: static; }
      .nav-sub li {
        margin: 0 0 3px 0; }
        .nav-sub li a {
          font-size: 15px; } }

@media (max-width: 440px) {
  .nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.search {
  width: 100%;
  height: 32px;
  position: absolute;
  top: -6px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .search input {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    width: 0;
    height: 100%;
    color: #959595;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #6c6966;
    padding: 0 40px 0 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
    visibility: hidden; }
    .search input.active {
      width: 100%;
      opacity: 1;
      visibility: visible;
      z-index: 20; }
  .search-btn {
    background: url(../images/i-search.png) no-repeat 50%;
    width: 14px;
    height: 15px;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    position: relative;
    z-index: 20; }
    .search-btn:hover {
      background-position: right; }
    .search-btn:focus {
      outline: none; }

@media (max-width: 991px) {
  .search {
    position: absolute;
    top: 21px;
    right: 34px; }
    .search input.active {
      width: 500px; } }

@media (max-width: 660px) {
  .search input {
    padding-right: 26px;
    font-size: 15px; }
    .search input.active {
      width: 265px; } }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px 0 66px; }
  .section-body {
    margin-right: 100px;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }
  .section-sidebar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 300px; }
    .section-sidebar .banner {
      margin-bottom: 49px; }

@media (max-width: 1336px) {
  .section {
    margin-bottom: 40px; }
    .section-body {
      margin-right: 26px; } }

@media (max-width: 991px) {
  .section-sidebar {
    width: 270px; } }

@media (max-width: 767px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px; }
    .section-body {
      margin-right: 0; }
    .section-sidebar {
      width: 100%;
      text-align: center; }
      .section-sidebar .banner {
        margin-bottom: 34px; } }

.sidebar-news {
  border: 1px solid #bababa;
  padding: 26px 30px 10px;
  margin-bottom: 49px; }
  .sidebar-news-item a {
    color: #5d5d5d;
    font-weight: 700;
    font-size: 14px;
    margin: 6px 0 10px; }
    .sidebar-news-item a:hover {
      color: #e84b2e; }

@media (max-width: 767px) {
  .sidebar-news {
    margin-bottom: 34px;
    padding: 20px 16px 10px; } }

.soc {
  margin-bottom: 50px; }
  .soc__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #959595;
    margin-bottom: 50px;
    text-align: center; }
  .soc-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .soc-item {
    width: 209px;
    padding: 0 34px;
    font-size: 16px;
    color: #000;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .soc-item:after {
      content: '';
      display: block;
      width: 1px;
      height: 50px;
      background-color: #bababa;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .soc-item:last-child:after {
      display: none; }
    .soc-item:hover {
      color: #e84b2e; }
    .soc-item img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 30px;
      margin-right: 22px; }

@media (max-width: 1336px) {
  .soc {
    margin-bottom: 36px; }
    .soc__title {
      margin-bottom: 28px; }
    .soc-item {
      padding: 0 14px; }
      .soc-item img {
        margin-right: 8px; } }

@media (max-width: 991px) {
  .soc {
    margin-bottom: 20px; }
    .soc-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .soc-item {
      width: 33.33%;
      margin-bottom: 16px; }
      .soc-item:after {
        display: none; } }

@media (max-width: 767px) {
  .soc-item {
    width: 50%;
    font-size: 15px; }
  .soc__title {
    font-size: 24px;
    line-height: 1.1; } }

@media (max-width: 575px) {
  .soc-item {
    padding: 0 8px; } }

.main-article {
  margin-bottom: 50px; }
  .main-article-img {
    position: relative; }
  .main-article-content {
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    padding: 0 50px; }
  .main-article-info {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main-article__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    color: #fff; }
  .main-article__date {
    margin-right: 16px;
    position: relative; }
    .main-article__date:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -8px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .main-article__link {
    font-size: 14px;
    font-weight: 700;
    color: #fff; }
    .main-article__link:hover {
      color: #e84b2e; }
  .main-article__descr {
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    margin-top: 16px; }

@media (max-width: 1336px) {
  .main-article {
    margin-bottom: 38px; }
    .main-article-content {
      padding: 0 16px; }
    .main-article__descr {
      font-size: 18px; }
    .main-article__title {
      font-size: 30px; } }

@media (max-width: 991px) {
  .main-article-content {
    bottom: 14px; }
  .main-article__title {
    font-size: 26px; }
  .main-article-info {
    margin-bottom: 12px; }
  .main-article__descr {
    font-size: 17px;
    margin-top: 11px;
    line-height: 1.35; } }

@media (max-width: 767px) {
  .main-article__title {
    font-size: 20px; } }

.banner-blog {
  margin: 36px 0; }

.banner-news {
  margin-bottom: 50px; }

.banner-main {
  margin-bottom: 53px; }

@media (max-width: 1336px) {
  .banner-news {
    margin-bottom: 32px; }
  .banner-main {
    margin-bottom: 36px; } }

.blog-item {
  margin-bottom: 37px; }
  .blog-item:last-child {
    margin-bottom: 0; }
  .blog-item__head {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    margin-bottom: 5px; }
    .blog-item__head:hover {
      color: #e84b2e; }
  .blog-item__date {
    font-weight: 700;
    font-size: 14px;
    color: #959595; }
  .blog-item.fz .blog-item__head {
    font-size: 20px; }
  .blog-item.bold .blog-item__head {
    font-weight: 700;
    text-decoration: underline; }

.blog-still {
  text-align: center;
  margin-top: 34px; }

.blog-link {
  text-align: center; }
  .blog-link a {
    line-height: 40px;
    padding: 0 16px;
    background-color: #e84b2e;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: #fff;
    text-transform: uppercase; }
    .blog-link a:hover {
      background-color: #d84429; }

.main-blog {
  margin-bottom: 51px; }
  .main-blog .blog-items {
    margin-bottom: 38px; }

@media (max-width: 991px) {
  .blog-item {
    margin-bottom: 20px; } }

@media (max-width: 767px) {
  .blog {
    margin-bottom: 30px; }
  .main-blog {
    margin-bottom: 32px;
    text-align: left; }
    .main-blog .blog-items {
      margin-bottom: 22px; } }

.important {
  margin-bottom: 95px; }
  .important-items {
    width: 860px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
    .important-items .slick-dots {
      position: absolute;
      bottom: -42px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none; }
      .important-items .slick-dots li {
        width: 10px;
        height: 10px;
        background-color: #ddd;
        border-radius: 50%;
        margin-right: 15px;
        -webkit-transition: 300ms;
        transition: 300ms;
        cursor: pointer; }
        .important-items .slick-dots li:last-child {
          margin-right: 0; }
        .important-items .slick-dots li:hover {
          background-color: #e84b2e; }
        .important-items .slick-dots li.slick-active {
          background-color: #e84b2e; }
        .important-items .slick-dots li button {
          display: none; }

@media (max-width: 1336px) {
  .important-items {
    width: 644px; } }

@media (max-width: 991px) {
  .important {
    margin-bottom: 76px; }
    .important-items {
      width: 454px; } }

@media (max-width: 767px) {
  .important-items {
    width: 452px;
    margin: 0 auto; } }

@media (max-width: 575px) {
  .important {
    margin-bottom: 60px; }
    .important-items {
      width: 290px; }
      .important-items .slick-dots {
        bottom: -32px; }
        .important-items .slick-dots li {
          margin-right: 12px; } }

.materials {
  margin: 48px 0 44px; }
  .materials-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px; }
  .materials-item {
    width: 200px;
    margin: 0 10px; }
    .materials-item__descr {
      line-height: 1.63;
      margin: 18px 0 16px; }
    .materials-item__link {
      margin-top: 6px;
      color: #000;
      line-height: 1.35; }
      .materials-item__link:hover {
        color: #e84b2e; }
  .materials-img {
    display: block;
    position: relative; }
    .materials-img .label {
      min-width: 90px;
      height: 30px;
      background-color: #fdc838;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 11px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase; }
      .materials-img .label.photo {
        color: #fff;
        background-color: #4aae4d; }
      .materials-img .label__title {
        margin-right: 6px;
        padding-right: 8px;
        position: relative; }
        .materials-img .label__title:after {
          content: '|';
          display: block;
          position: absolute;
          top: 0;
          right: 0; }
  .materials-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .materials-info__date, .materials-info__category {
      font-size: 14px;
      font-weight: 700;
      color: #959595; }
    .materials-info__date {
      margin-right: 16px;
      position: relative; }
      .materials-info__date:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        right: -8px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
    .materials-info__category:hover {
      color: #e84b2e; }

.materials-extra {
  border: 1px solid #bababa;
  padding: 19px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .materials-extra .materials-item {
    width: 190px;
    margin: 0 20px 0 0; }
    .materials-extra .materials-item:last-child {
      margin-right: 0; }

@media (max-width: 1336px) {
  .materials {
    margin-bottom: 18px; }
    .materials-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .materials-item {
      margin: 0 10px 20px; }
  .materials-extra {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .materials-extra .materials-item {
      margin: 0 10px 20px; }
      .materials-extra .materials-item:last-child {
        margin: 0 10px 20px; } }

@media (max-width: 991px) {
  .materials-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .materials-item {
    width: 216px; }
  .materials-img img {
    width: 100%; }
  .materials-extra {
    padding: 14px; } }

@media (max-width: 767px) {
  .materials-item__descr {
    line-height: 1.4;
    margin: 10px 0 14px; } }

@media (max-width: 575px) {
  .materials {
    margin-top: 36px; }
    .materials-item {
      width: 290px;
      margin: 0 0 16px; } }

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-bottom: 2px; }

.news-item {
  width: calc(50% - 60px);
  margin-left: 60px;
  margin-bottom: 40px; }
  .news-item.basic {
    width: 100%; }

.news-img img {
  width: 100%; }

.news-content {
  padding-top: 20px; }
  .news-content__head {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 9px;
    color: #000; }
    .news-content__head:hover {
      color: #e84b2e; }
  .news-content__text {
    line-height: 1.63;
    margin-bottom: 14px; }

.news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #959595; }
  .news-info__date {
    margin-right: 20px;
    position: relative; }
    .news-info__date:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -13px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .news-info__category {
    font-size: 14px;
    font-weight: 700;
    color: #959595; }
    .news-info__category:hover {
      color: #e84b2e; }

.news-link {
  text-align: center; }

@media (max-width: 1336px) {
  .news-items {
    margin-left: -30px; }
  .news-item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 26px; }
  .news-content__head {
    font-size: 22px;
    line-height: 1.15;
    margin-bottom: 4px; }
  .news-content__text {
    line-height: 1.35; } }

@media (max-width: 991px) {
  .news-items {
    margin-left: -12px; }
  .news-item {
    width: calc(50% - 12px);
    margin-left: 12px;
    margin-bottom: 22px; }
  .news-content {
    padding-top: 12px; }
    .news-content__head {
      font-size: 20px; }
    .news-content__text {
      margin-bottom: 8px; } }

@media (max-width: 767px) {
  .news {
    margin-bottom: 20px; }
    .news-items {
      margin-left: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .news-item {
      width: 290px;
      margin: 0 16px 20px; } }

@media (max-width: 575px) {
  .news-item {
    margin: 0 0 20px; } }

.footer {
  padding: 26px 0 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 21px; }
  .footer-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-info__agreement {
      color: #757575; }
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 28px; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-item {
    margin: 0 26px 0 0;
    padding: 0;
    list-style: none; }
    .footer-item:first-child {
      width: 114px; }
    .footer-item:nth-child(2) {
      width: 212px; }
    .footer-item li {
      margin-bottom: 2px; }
      .footer-item li:last-child {
        margin-bottom: 0; }
      .footer-item li a {
        font-size: 14px;
        color: #e84b2e; }
        .footer-item li a:hover {
          text-decoration: underline; }
  .footer-age {
    padding: 0 6px; }
  .footer-omg {
    font-size: 14px;
    color: #898989; }
    .footer-omg a {
      font-size: 14px;
      font-weight: 700;
      color: #898989;
      text-decoration: underline; }
      .footer-omg a:hover {
        text-decoration: none; }

.footer-content-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6px; }

.footer-content__copyright {
  font-size: 14px;
  font-weight: 700;
  margin-right: 19px; }

.footer-content__info, .footer-content__link {
  color: #e84b2e;
  font-size: 14px; }
  .footer-content__info:hover, .footer-content__link:hover {
    color: #e84b2e;
    text-decoration: underline; }

.footer-content__data {
  font-size: 14px;
  color: #6c6966;
  margin-bottom: 4px; }

.footer-content__descr {
  max-width: 836px;
  color: #6c6966;
  font-size: 14px;
  line-height: 1.6; }

@media (max-width: 1336px) {
  .footer {
    padding-bottom: 30px; }
    .footer-item {
      margin-right: 8px; }
    .footer-body {
      margin-right: 12px; }
    .footer-section {
      margin-bottom: 18px; }
    .footer-content {
      padding-right: 10px; }
      .footer-content-head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
      .footer-content__copyright {
        margin-right: 0;
        margin-bottom: 4px; }
    .footer-info {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .footer-age {
      margin-bottom: 50px; } }

@media (max-width: 991px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0; }
    .footer-age {
      display: none; }
    .footer-section {
      margin-bottom: 10px; }
    .footer-info {
      width: 100%; }
    .footer-body {
      margin-right: 0; }
    .footer-content__descr {
      margin-bottom: 6px; } }

@media (max-width: 767px) {
  .footer-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

.article {
  margin-top: -10px; }
  .article .news-info {
    margin-bottom: 14px; }
  .article-list {
    margin: 0 0 24px;
    padding: 0;
    list-style: none; }
    .article-list li {
      position: relative;
      padding-left: 10px;
      line-height: 1.65; }
      .article-list li:before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 11px;
        left: 0; }
  .article-roster {
    margin: 0;
    padding: 0;
    list-style: none; }
    .article-roster li {
      line-height: 1.65; }
  .article-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 3px;
    margin-bottom: 44px; }
  .article-signature {
    color: #898989;
    font-size: 14px; }
  .article__title {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 23px; }
  .article__head {
    margin-top: 45px; }
  .article__note {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px; }
  .article__text {
    margin-bottom: 0;
    line-height: 1.65; }
  .article > img {
    margin-bottom: 29px; }
  .article h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 26px; }
  .article p {
    line-height: 1.65;
    margin-bottom: 26px; }
    .article p b {
      text-decoration: underline; }

.article-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-soc__title {
    margin-right: 14px;
    color: #898989;
    font-size: 14px; }
  .article-soc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .article-soc ul li {
      margin-right: 10px; }
      .article-soc ul li:last-child {
        margin-right: 0; }
      .article-soc ul li a {
        width: 20px; }
        .article-soc ul li a:hover {
          opacity: .8; }

@media (max-width: 1336px) {
  .article__title {
    font-size: 34px; }
  .article__note {
    font-size: 18px; }
  .article-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .article-signature {
    margin-bottom: 8px; } }

@media (max-width: 767px) {
  .article__title {
    font-size: 28px; }
  .article__head {
    margin-top: 28px; }
  .article-footer {
    margin-bottom: 32px; } }

@media (max-width: 575px) {
  .article__title {
    font-size: 26px; }
  .article-list li {
    line-height: 1.4; }
    .article-list li:before {
      top: 9px; }
  .article-roster li {
    line-height: 1.4; }
  .article-soc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .article-soc__title {
      margin-right: 0;
      margin-bottom: 6px; }
  .article__note, .article__text {
    font-size: 16px;
    line-height: 1.4; }
  .article h2 {
    font-size: 24px;
    margin-bottom: 14px; }
  .article p {
    line-height: 1.4;
    margin-bottom: 14px; } }

.comments .head {
  margin-bottom: 34px; }

.comments-items {
  margin-bottom: 59px; }

.comments-item {
  margin-bottom: 32px; }
  .comments-item.answer {
    margin-left: 60px; }

.comments-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px; }

.comments-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px; }

.comments-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 12px; }

.comments__descr {
  line-height: 1.65;
  margin-bottom: 15px; }

.comments__reply {
  color: #e84b2e;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline; }
  .comments__reply:hover {
    color: #e84b2e;
    text-decoration: none; }

.comments-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .comments-check__title {
    margin-right: 42px; }
  .comments-check-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .comments-check input {
    width: 140px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #bababa;
    margin-left: 50px;
    padding: 0 10px; }

.comments-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 29px; }

.comments-form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 18px; }

.comments-form-input {
  width: 540px;
  background-color: #fff; }
  .comments-form-input input {
    width: 100%;
    height: 50px;
    color: #000;
    border: 1px solid #bababa;
    padding: 0 22px;
    font: 700 16px 'PTSans'; }
    .comments-form-input input::-webkit-input-placeholder {
      color: #000; }
    .comments-form-input input::-ms-input-placeholder {
      color: #000; }
    .comments-form-input input::placeholder {
      color: #000; }
    .comments-form-input input::-moz-placeholder {
      color: #000; }

.comments-form textarea {
  width: 100%;
  height: 200px;
  background-color: #fff;
  font: 700 16px 'PTSans';
  border: 1px solid #bababa;
  padding: 14px 23px;
  margin-bottom: 25px;
  resize: none; }
  .comments-form textarea::-webkit-input-placeholder {
    color: #000; }
  .comments-form textarea::-ms-input-placeholder {
    color: #000; }
  .comments-form textarea::placeholder {
    color: #000; }
  .comments-form textarea::-moz-placeholder {
    color: #000; }

.comments-form__link {
  font-size: 16px;
  color: #e84b2e;
  text-decoration: underline; }
  .comments-form__link:hover {
    color: #e84b2e;
    text-decoration: none; }

.comments-form button {
  width: 200px;
  height: 40px;
  background-color: #e84b2e;
  font: 700 14px 'PTSans';
  letter-spacing: 0.3px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms; }
  .comments-form button:hover {
    background-color: #df4326; }

@media (max-width: 1336px) {
  .comments-form button {
    width: 170px; }
  .comments-form-input {
    width: 400px; }
  .comments-form-header {
    margin-right: 0; }
  .comments-form-footer {
    margin-right: 0; }
  .comments-check__title {
    margin-right: 10px; }
  .comments-check input {
    width: 120px;
    margin-left: 16px; } }

@media (max-width: 991px) {
  .comments-form-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 18px; }
  .comments-form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .comments-form-input {
    width: 100%;
    margin-bottom: 6px; }
    .comments-form-input input {
      padding: 0 12px; }
  .comments-form textarea {
    padding: 12px;
    margin-bottom: 16px; }
  .comments-check {
    margin-bottom: 10px; }
  .comments__descr {
    line-height: 1.4;
    margin-bottom: 10px; }
  .comments-item, .comments-elem {
    margin-bottom: 22px; } }

@media (max-width: 767px) {
  .comments {
    margin-bottom: 30px; } }

@media (max-width: 575px) {
  .comments-items {
    margin-bottom: 38px; }
  .comments-item.answer {
    margin-left: 40px; }
  .comments-elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .comments-img {
    margin-right: 0;
    margin-bottom: 10px; }
  .comments-check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .comments-check__title {
      margin-right: 0;
      margin-bottom: 6px; }
  .comments-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 0; } }
