$main-color : #2593ec;
$hover-color : #016794;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  &:focus {
    outline: none;
  }
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
}

a {
  font-family: 'Proxima Nova', sans-serif;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: inline-block;
  font-size: 14px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.clearfix:after {
	content: '';
  display: block;
  clear: both;
}

.container {
  width: 1340px;
  margin: 0 auto;
}

// Start

.wrapper {
  width: 100%;
  height: 100vh;
  background: url(../images/wrap-bg.png) repeat;
  position: relative;
  display: table;
}

.middle {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.middle-text {
  position: relative;
  margin-left: 50px;
  padding: 175px 0 0 450px;
  margin-bottom: 235px;
  p {
    z-index: 3;
    position: relative;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.6;
  }
  span {
    font-style: italic;
    font-family: "PT";
  }
}

.middle-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.middle-contacts {
  text-align: center;
  color: #bb835a;
  font-size: 24px;
  &--tel {
    color: #fff;
    font-size: 62px;
    font-weight: 700;
    line-height: 80px;
  }
  &--link {
    color: #fff;
    font-size: 24px;
    text-decoration: underline;
  }
}

.footer-wrap {
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  padding: 24px 8%;
  color: #443c43;
  &--copy {
    float: left;
  }
  &--caption {
    float: right;
  }
}