@charset "UTF-8";
@font-face {
  font-family: 'Brutal Type';
  src: url("../fonts/BrutalType.woff2") format("woff2"), url("../fonts/BrutalType.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal Type';
  src: url("../fonts/BrutalType-Bold.woff2") format("woff2"), url("../fonts/BrutalType-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Brutal Type', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  -webkit-transition: 300ms;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #000000;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.more.blue a {
  color: #0072d2;
  border-bottom: 2px solid #0072d2;
}

.more.orange a {
  color: #ff840c;
  border-bottom: 2px solid #ff840c;
}

.more.back:hover img {
  -webkit-transform: rotate(180deg) translateX(4px);
  transform: rotate(180deg) translateX(4px);
}

.more.back img {
  -webkit-transform: rotate(180deg) translateX(0px);
  transform: rotate(180deg) translateX(0px);
}

.more.back a {
  margin-left: 15px;
}

.more:hover a {
  border-bottom: 2px solid transparent;
}

.more:hover img {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.more a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  margin-right: 15px;
  color: #ffffff;
  padding-bottom: 4px;
}

.more img {
  margin-top: -4px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.burger {
  display: none;
  width: 30px;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.burger a span {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-wrap {
  overflow: hidden;
  position: relative;
}

.header-wrap:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #d1d1d1;
  left: 0;
  right: 0;
}

.logo {
  margin-right: 107px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo a img {
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.logo a span {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.4;
}

.header-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 19px;
  margin-top: -4px;
}

.header-contacts__link {
  color: #ff840c;
  border-bottom: 1px solid #ff840c;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-contacts__link:hover {
  border-bottom: 1px solid transparent;
  color: #ff840c;
}

.header-contacts__phone {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -3px;
}

.header-contacts__phone:hover {
  color: #ff840c;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-nav ul li {
  position: relative;
}

.header-nav ul li.active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -19px;
  height: 4px;
  left: 0;
  right: 0;
  background: #ff840c;
}

.header-nav ul a {
  color: #0072d2;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.header-nav ul a:hover {
  color: #ff840c;
}

.header-lc {
  height: 100px;
  background: #ff840c;
  padding-left: 50px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.header-lc:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 1000px;
  background: #ff840c;
}

.header-lc a {
  text-align: center;
}

.header-lc span {
  display: block;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-top: 13px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.showcase {
  padding-top: 140px;
  color: #ffffff;
}

.showcase-wrap {
  background: url(../images/showcase-bg.jpg) no-repeat 50%;
  background-size: cover;
}

.showcase__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.showcase__more {
  margin-bottom: 90px;
}

.showcase-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  font-size: 24px;
  margin-bottom: 65px;
}

.showcase-help__icon {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 25px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 48px;
  font-weight: bold;
  background: #ff840c;
  padding-bottom: 4px;
}

.showcase-help p {
  font-weight: bold;
  margin: 10px 0 0;
}

.showcase-help p a {
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.showcase-help p a:hover {
  border-bottom: 1px solid transparent;
  color: #ffffff;
}

.showcase-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
}

.showcase-link {
  width: 25%;
  height: 200px;
  text-align: center;
  padding-top: 33px;
  display: block;
  position: relative;
}

.showcase-link:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 40px;
  bottom: 40px;
  width: 1px;
  background: #bababa;
}

.showcase-link:last-child:before {
  display: none;
}

.showcase-link:after {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: #ff840c;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.showcase-link:hover:after {
  opacity: 1;
}

.showcase-link:hover .showcase-link__img {
  background-position: 100% 50%;
}

.showcase-link:hover .showcase-link__text {
  color: #ffffff;
}

.showcase-link__img {
  width: 75px;
  height: 75px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
  position: relative;
  z-index: 5;
}

.showcase-link__text {
  color: #0072d2;
  font-weight: bold;
  font-size: 24px;
  padding: 0 15px;
  position: relative;
  z-index: 5;
}

.main-about {
  padding: 60px 0 66px;
}

.main-about-wrap {
  overflow: hidden;
  position: relative;
}

.main-about__title {
  margin-bottom: 30px;
}

.main-about-content {
  max-width: 780px;
}

.main-about__title {
  margin-bottom: 22px;
}

.main-about__description {
  margin-bottom: 23px;
}

.main-about__description p {
  margin-bottom: 30px;
  color: #7c7c7c;
  line-height: 1.6;
}

.main-about__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 90%;
  right: -620px;
}

.provides {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.provides-wrap {
  background: url(../images/provides-bg.jpg) no-repeat 50%;
  background-size: cover;
  overflow: hidden;
}

.provides-item {
  width: 33.33%;
  height: 336px;
  border-right: 1px solid #ccc;
  padding: 68px 0 10px 84px;
}

.provides-item:nth-child(3n) {
  border-right: none;
}

.provides-item:nth-child(1), .provides-item:nth-child(4) {
  padding-left: 0;
}

.provides-header {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
}

.provides-header:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -1000px;
  right: -3000px;
  height: 1px;
  background: #ccc;
}

.provides__number {
  border-radius: 50%;
  background: #ff840c;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.provides__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}

.provides__description {
  max-width: 307px;
  line-height: 1.6;
}

.direction {
  padding: 70px 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.direction-choose {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.direction-choose__title {
  margin-bottom: 35px;
}

.direction-choose-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.direction-choose-items li {
  width: 33%;
  margin-bottom: 15px;
}

.direction-choose-items li a {
  font-size: 18px;
  color: #0072d2;
  text-decoration: underline;
}

.direction-choose-items li a:hover {
  text-decoration: none;
}

.direction-form {
  width: 457px;
  max-width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #0072d2;
  padding: 34px 0 0;
}

.direction-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 27px 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.direction-form label span {
  width: 90px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.direction-form label input {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  background: #ffffff;
  border: none;
  padding: 0 14px;
  height: 50px;
}

.direction-form button {
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  background: #ff840c;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  border: none;
}

.direction-form button:hover {
  background: #e77302;
}

.partners {
  padding: 63px 0 102px;
}

.partners-wrap {
  background: #f4f5f9;
}

.partners__title {
  margin-bottom: 45px;
}

.partners-items {
  padding: 0 60px;
  position: relative;
}

.partners-items:before {
  content: '';
  display: block;
  position: absolute;
  left: 60px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ddd;
  z-index: 9999;
}

.partners-items .slick-arrow {
  width: 30px;
  height: 9px;
  background: url(../images/arrow.png);
  cursor: pointer;
  border: 0;
  text-indent: -9999px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.partners-items .slick-arrow.slick-next {
  left: auto;
  right: 0;
  background-position: 100% 0;
}

.partners-items .slick-arrow.slick-next:hover {
  background-position: 100% 100%;
}

.partners-items .slick-arrow:hover {
  background-position: 0 100%;
}

.partners-items .slick-dots {
  position: absolute;
  bottom: -50px;
  width: 280px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partners-items .slick-dots li {
  width: 10px;
  height: 10px;
  border: 1px solid #0072d2;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-right: 15px;
  cursor: pointer;
}

.partners-items .slick-dots li.slick-active, .partners-items .slick-dots li:hover {
  background: #0072d2;
}

.partners-items .slick-dots li:last-child {
  margin-right: 0;
}

.partners-items .slick-dots li button {
  display: none;
}

.partners-item {
  height: 190px;
  background-color: white;
  border: 1px solid #ddd;
  border-left: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partners-item img {
  max-width: 90%;
  max-height: 90%;
}

.main-news {
  padding: 70px 0;
}

.main-news__title {
  margin-bottom: 0;
  margin-top: -6px;
}

.main-news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 56px;
}

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 60px;
  border-right: 1px solid #bababa;
  min-height: 347px;
}

.news-item:first-child {
  padding-left: 0;
}

.news-item:nth-child(3n) {
  padding-right: 0;
  border-right: none;
}

.news__date {
  color: #959595;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.news__title {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.news__title:hover {
  color: #ff840c;
  text-decoration: underline;
}

.news__description {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  color: #7c7c7c;
  font-size: 18px;
  line-height: 1.5;
}

.news__more {
  color: #0072d2;
}

.news__more:hover {
  text-decoration: underline;
  color: #ff840c;
}

.documents {
  padding: 55px 0 70px;
}

.documents-wrap {
  background: #f4f5f9;
}

.documents-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.documents__title {
  margin: -6px 0 0;
}

.documents-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.documents-item {
  display: block;
  width: calc(100%/5);
  padding-right: 40px;
}

.documents-item:hover span {
  color: #0072d2;
  text-decoration: underline;
}

.documents-item img {
  margin-bottom: 16px;
}

.documents-item span {
  display: block;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 18px;
}

.footer {
  color: #ffffff;
}

.footer-wrap {
  background: #0072d2;
}

.footer-cols {
  padding: 45px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-col {
  padding-right: 10px;
}

.footer-col:last-child {
  padding-right: 0;
}

.footer-item {
  margin-bottom: 33px;
}

.footer-item h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-item li {
  margin-bottom: 15px;
}

.footer-item a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.footer-item a.footer__tel {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-item a.footer__email {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
}

.footer-item a.footer__email:hover {
  text-decoration: none;
}

.footer-item a.footer__to-lk {
  height: 50px;
  width: 100%;
  background: #ff840c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-item a.footer__to-lk:hover {
  text-decoration: none;
  background: #e06f00;
}

.footer-search {
  position: relative;
}

.footer-search input {
  width: 100%;
  height: 50px;
  padding: 0 25px 0 0;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  color: #ffffff;
}

.footer-search input::-webkit-input-placeholder {
  color: #fff;
}

.footer-search input:-moz-placeholder {
  color: #fff;
}

.footer-search input::-moz-placeholder {
  color: #fff;
}

.footer-search input:-ms-input-placeholder {
  color: #fff;
}

.footer-search button {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 14px;
}

.footer-bottom {
  font-size: 14px;
  padding-bottom: 20px;
}

.notification {
  border-bottom: 1px solid #84beff;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.copyright a:hover {
  color: #ffffff;
  text-decoration: underline;
}

@media screen and (max-width: 1336px) {
  .main-about__img {
    right: -700px;
  }
  .provides-item {
    padding: 68px 0 10px 43px;
  }
  .news-item {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    margin-right: 35px;
  }
  .logo a img {
    width: 80px;
  }
  .header-lc {
    padding-left: 40px;
    margin-left: 30px;
  }
  .main-about-content {
    max-width: 600px;
  }
  .direction-choose-items li {
    width: 50%;
  }
  .news-item {
    padding: 0 15px;
  }
  .documents-item span {
    font-size: 16px;
  }
  .footer a {
    font-size: 14px;
  }
  .showcase-link__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .burger {
    display: block;
  }
  .header-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ff840c;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .header-content.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .burger-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-wrap {
    overflow: visible;
  }
  .header-lc:after {
    display: none;
  }
  .header-lc {
    padding: 0 20px;
  }
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-contacts__link {
    color: #ffffff;
    border-color: #fff;
    margin-top: 15px;
  }
  .header-contacts__phone {
    margin-top: 15px;
    color: #ffffff;
  }
  .header-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-nav ul li {
    margin-bottom: 20px;
  }
  .header-nav ul li a {
    color: #ffffff;
  }
  .showcase {
    padding-top: 50px;
  }
  .showcase__title {
    font-size: 34px;
  }
  .showcase__more {
    margin-bottom: 60px;
  }
  .main-about__img {
    display: none;
  }
  .title,
  .provides-header {
    font-size: 32px;
  }
  .provides-item {
    padding: 25px 0 10px 25px;
  }
  .provides-item {
    height: 298px;
  }
  .partners-item {
    height: 150px;
  }
  .news__date,
  .news__description {
    font-size: 14px;
  }
  .news__title {
    font-size: 20px;
  }
  .documents-item span {
    font-size: 14px;
  }
  .footer-col {
    padding-right: 20px;
  }
  .header-nav ul li.active:after {
    bottom: -6px;
    background: #ffffff;
  }
  .showcase-link__text {
    font-size: 16px;
  }
  .showcase-link {
    height: 180px;
  }
}

@media screen and (max-width: 767px) {
  .header-lc {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 70px;
    margin-right: -15px;
  }
  .header-lc img {
    width: 25px;
  }
  .header-lc span {
    display: none;
  }
  .logo a span {
    display: none;
  }
  .showcase__title {
    font-size: 21px;
  }
  .more a {
    font-size: 16px;
  }
  .showcase-help__icon {
    display: none;
  }
  .showcase-help {
    font-size: 18px;
  }
  .showcase-help p a {
    font-size: 18px;
  }
  .title, .provides-header {
    font-size: 21px;
  }
  .provides {
    display: block;
    padding-bottom: 20px;
    text-align: center;
  }
  .provides-item {
    width: 100%;
    padding: 15px !important;
    height: auto;
    border: 0 !important;
  }
  .provides__description {
    margin: 0 auto;
  }
  .direction {
    display: block;
    padding: 40px 0;
  }
  .direction-form {
    padding-top: 20px;
  }
  .direction-form label {
    display: block;
    padding-bottom: 20px;
  }
  .direction-form label span {
    display: block;
    margin-bottom: 10px;
  }
  .direction-form label input {
    width: 100%;
  }
  .partners {
    padding: 40px 0 80px;
  }
  .partners-items {
    padding: 0 36px;
  }
  .partners-items:before {
    left: 36px;
  }
  .partners-item {
    height: 110px;
  }
  .partners-items .slick-dots {
    bottom: -43px;
  }
  .main-news {
    padding: 40px 0;
  }
  .main-news-header {
    display: block;
  }
  .main-news__title {
    margin-bottom: 15px;
  }
  .news-items {
    display: block;
  }
  .news-item {
    width: 100%;
    min-height: 0;
    padding: 0 !important;
    border-right: none;
    margin-bottom: 30px;
  }
  .news-item:last-child {
    margin-bottom: 0;
  }
  .news__description {
    margin-bottom: 10px;
  }
  .documents-header {
    display: block;
  }
  .documents__title {
    margin-bottom: 15px;
  }
  .documents-items {
    display: block;
  }
  .documents-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .documents-item:last-child {
    margin-bottom: 0;
  }
  .documents {
    padding: 40px 0;
  }
  .footer-cols {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-col {
    width: 50%;
  }
  .copyright {
    display: block;
  }
  .copyright div {
    margin-bottom: 15px;
  }
  .copyright div:last-child {
    margin-bottom: 0;
  }
  .showcase-links {
    display: block;
  }
  .showcase-link {
    width: 100%;
  }
  .showcase-link:before {
    bottom: 0;
    height: 1px;
    width: 100%;
    top: auto;
    bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .footer-cols {
    display: block;
  }
  .footer-col {
    width: 100%;
  }
}

.breadcrumbs {
  padding: 15px 0 40px;
}

.breadcrumbs li {
  display: inline;
  font-size: 14px;
}

.breadcrumbs li a {
  color: #0072d2;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

.breadcrumbs li:after {
  content: '—';
  display: inline-block;
  margin: 0 5px 0 7px;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.contacts {
  padding-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  padding-right: 95px;
}

.contacts-people {
  width: 380px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-left: 1px solid #bababa;
}

.contacts__title {
  margin-bottom: 38px;
}

.contacts-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.contacts-col {
  width: 50%;
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 23px;
}

.contacts-item__img {
  width: 32px;
  margin-right: 22px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.contacts-item__number, .contacts-item__link {
  font-size: 24px;
  color: #000000;
  margin-bottom: 5px;
}

.contacts-item__link {
  color: #0072d2;
  text-decoration: underline;
}

.contacts-item__link:hover {
  text-decoration: none;
}

.contacts-item span {
  color: #7c7c7c;
  display: block;
}

.contacts-location-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 27px;
}

.contacts-location__img {
  width: 32px;
  margin-right: 22px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.contacts-location-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  margin-bottom: 10px;
}

.contacts-location-tab {
  color: #0072d2;
  text-decoration: underline;
  cursor: pointer;
}

.contacts-location-tab:hover {
  text-decoration: none;
}

.contacts-location-tab.active {
  color: #000000;
  text-decoration: none;
  cursor: default;
}

.contacts-location-address {
  color: #7c7c7c;
  font-size: 18px;
  display: none;
}

.contacts-location-address.active {
  display: block;
}

.contacts-location-map {
  width: 100%;
  height: 400px;
  display: none;
}

.contacts-location-map iframe {
  width: 100%;
  height: 100%;
}

.contacts-location-map.active {
  display: block;
}

.contacts-people {
  padding-left: 55px;
}

.contacts-people__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #0072d2;
  margin-bottom: 55px;
  display: inline-block;
  color: #0072d2;
}

.contacts-people-item {
  margin-bottom: 45px;
}

.contacts-people-item:last-child {
  margin-bottom: 0;
}

.contacts-people__prof {
  font-size: 24px;
  margin-bottom: 5px;
}

.contacts-people__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contacts-people__position {
  font-weight: bold;
  margin-bottom: 5px;
}

.contacts-people-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-people-info li .icon {
  width: 18px;
  margin-right: 11px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.contacts-people-info li span {
  color: #959595;
}

.contacts-people-info li a {
  color: #0072d2;
  text-decoration: underline;
}

.contacts-people-info li a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .contacts-content {
    padding-right: 30px;
  }
  .contacts-people {
    padding-left: 30px;
    width: 360px;
  }
}

@media screen and (max-width: 991px) {
  .contacts-col {
    width: 100%;
  }
  .contacts-cols {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: block;
  }
  .contacts-content {
    padding-right: 0;
    margin-bottom: 40px;
  }
  .contacts-location-tabs {
    font-size: 19px;
  }
  .contacts-people {
    width: 100%;
    padding: 0;
    border: 0;
  }
  .contacts-people__title {
    margin-bottom: 20px;
  }
  .contacts {
    padding-bottom: 60px;
  }
}

.content {
  padding-bottom: 100px;
}

.content h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 25px;
}

.content p {
  color: #7c7c7c;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.7;
}

.content > img {
  margin-bottom: 25px;
}

.content .back {
  margin-top: 80px;
}

.content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content ul li {
  width: 30%;
  padding-right: 10px;
  margin-bottom: 10px;
  color: #7c7c7c;
  font-size: 18px;
  padding-left: 10px;
  position: relative;
}

.content ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #7c7c7c;
}

.content-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-banner .content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  padding-right: 85px;
}

.content-banner .banner-wrap {
  width: 300px;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.content-banner .banner {
  -webkit-transition: 0ms;
  transition: 0ms;
  width: 100%;
}

.content-banner .banner.fixed {
  position: fixed;
  top: 10px;
}

.content-banner .banner.stopped {
  position: absolute;
  bottom: 85px;
  top: auto !important;
  left: 0 !important;
}

@media screen and (max-width: 1200px) {
  .content-banner .banner-wrap {
    width: 200px;
  }
  .content ul li {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-bottom: 30px;
  }
  .content .back {
    margin-top: 30px;
  }
  .content h2 {
    font-size: 22px;
  }
  .content p {
    font-size: 14px;
  }
  .content h2, .content p, .content > img {
    margin-bottom: 10px;
  }
  .content ul li {
    font-size: 14px;
  }
  .content-banner .banner-wrap {
    display: none;
  }
  .content-banner .content {
    padding-right: 0;
  }
}

.news__header {
  margin-bottom: 63px;
}

.news .news-items {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news .news-item {
  margin-bottom: 113px;
}

.pagination {
  padding-bottom: 75px;
}

.pagination ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination ul li {
  margin: 0 10px;
}

.pagination ul li.pagination__arrow {
  width: 30px;
  height: 9px;
  background: url(../images/pagination-arrow.png) no-repeat left top;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.pagination ul li.pagination__arrow:hover {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}

.pagination ul li.pagination__arrow.disable {
  background-position: left bottom;
}

.pagination ul li.pagination__arrow a {
  display: block;
  border-bottom: none !important;
  height: 100%;
}

.pagination ul li.pagination__arrow.pagination__next {
  background-position: right top;
}

.pagination ul li.pagination__arrow.pagination__next.disable {
  background-position: right bottom;
}

.pagination ul li.pagination__arrow.pagination__next:hover {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.pagination ul li a {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #0072d2;
  color: #0072d2;
}

.pagination ul li a:hover {
  border-bottom: 2px solid transparent;
}

@media screen and (max-width: 767px) {
  .news .news-item {
    margin-bottom: 40px;
  }
  .pagination {
    padding-bottom: 50px;
  }
}

.article .content {
  padding-bottom: 0;
}

.article .news-item {
  width: 100%;
  border: 0;
  padding: 0;
  margin-bottom: 90px;
  min-height: 0;
}

.article .news__description {
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .article .news-item {
    margin-bottom: 50px;
  }
  .article .news__description {
    margin-bottom: 20px;
  }
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 120px;
}

.register__title {
  margin-bottom: 40px;
}

.register-form {
  padding-left: 54px;
  max-width: 560px;
}

.register-info {
  max-width: 460px;
  padding-right: 60px;
}

.input-item {
  margin-bottom: 30px;
}

.input-item.error input {
  border: 1px solid #fc861f;
}

.input-item input {
  width: 100%;
  height: 60px;
  border: 1px solid #bababa;
  padding: 0 15px;
  margin-bottom: 9px;
}

.input-item input:focus {
  border: 2px solid #0072d2;
}

.input-item .error {
  display: block;
  padding-left: 16px;
  font-size: 14px;
  color: #ff840c;
  line-height: 17px;
  min-height: 17px;
}

.radio,
.checkbox {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 13px;
  cursor: pointer;
}

.radio span,
.checkbox span {
  border: 1px solid #bababa;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.radio span:before,
.checkbox span:before {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 50%;
  background: #ff840c;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.radio input,
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}

.radio input:checked + span:before,
.checkbox input:checked + span:before {
  opacity: 1;
  visibility: visible;
}

.radio-wrap,
.checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.radios .radio-wrap {
  margin-right: 33px;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.checkbox-wrap {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 27px;
}

.checkbox-wrap .text {
  font-size: 14px;
  color: #7c7c7c;
}

.checkbox-wrap .text a {
  color: #ff840c;
  text-decoration: underline;
  display: inline;
}

.checkbox-wrap .text a:hover {
  text-decoration: none;
}

.checkbox span {
  border-radius: 0;
}

.checkbox span:before {
  border-radius: 0;
}

.register-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.register-nav__back, .register-nav__submit {
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 0 27px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.register-nav__back {
  color: #7c7c7c;
  background-color: #e7e8ee;
}

.register-nav__back:hover {
  background: #cecfd3;
}

.register-nav__submit {
  background: #ff840c;
  color: #ffffff;
}

.register-nav__submit:hover {
  background: #d9720e;
}

.register-info-item {
  margin-bottom: 55px;
}

.register-info-item img {
  margin-bottom: 18px;
}

.register-info__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 28px;
}

@media screen and (max-width: 1200px) {
  .register-form {
    padding-left: 0;
  }
  .register-info {
    padding-right: 0;
  }
  .register-form {
    max-width: 460px;
  }
  .radios .radio-wrap {
    margin-right: 18px;
  }
}

@media screen and (max-width: 991px) {
  .register-info {
    max-width: 230px;
  }
  .register {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .register-form,
  .register-info {
    max-width: 100%;
  }
  .register {
    display: block;
  }
  .input-item {
    margin-bottom: 15px;
  }
  .register-form {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  .input-group {
    display: block;
  }
  .radios {
    margin: 0 0 30px;
  }
  .register-nav__back, .register-nav__submit {
    padding: 0 20px;
    font-size: 14px;
  }
}

.directory__title {
  margin-bottom: 38px;
}

.directory-item {
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.directory-item button {
  line-height: 60px;
  background: #ff840c;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 26px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.directory-item button:hover {
  background: #d56e09;
}

.directory-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.directory-point span {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: bold;
  color: #7c7c7c;
  width: 100px;
}

.directory-point input {
  width: 400px;
  height: 60px;
  border: 1px solid #bababa;
  padding: 0 15px;
}

.directory-table {
  margin-bottom: 67px;
}

.directory-banner {
  margin-bottom: 61px;
}

.directory-form {
  position: relative;
  padding-left: 560px;
  padding-top: 45px;
}

.directory-form form {
  padding-bottom: 46px;
}

.directory-form-wrap {
  background: #f4f5f9;
}

.directory-form__img {
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 0;
}

.directory-form__title {
  margin-bottom: 15px;
}

.directory-form__help-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 43px;
}

.directory-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.directory-form-group .input-item {
  width: 45%;
}

.directory-form .input-item {
  margin-bottom: 5px;
}

.directory-form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.directory-form-footer button {
  background: #ff840c;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 25px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  line-height: 50px;
}

.directory-form-footer button:hover {
  background: #de740c;
}

.directory-form-rules {
  color: #7c7c7c;
  font-size: 14px;
  max-width: 370px;
  line-height: 1.7;
}

.directory-form-rules a {
  color: #0072d2;
  text-decoration: underline;
  display: inline;
}

.directory-form-rules a:hover {
  text-decoration: none;
}

.textarea-item {
  margin-bottom: 5px;
}

.textarea-item.error input {
  border: 1px solid #fc861f;
}

.textarea-item textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #bababa;
  padding: 10px 15px;
  margin-bottom: 5px;
  resize: none;
}

.textarea-item textarea:focus {
  border: 2px solid #0072d2;
}

.textarea-item .error {
  display: block;
  padding-left: 16px;
  font-size: 14px;
  color: #ff840c;
  line-height: 17px;
  min-height: 17px;
}

@media screen and (max-width: 1200px) {
  .directory-point input {
    width: 290px;
  }
  .directory-point span {
    font-size: 18px;
  }
  .directory-form {
    padding-left: 370px;
  }
  .directory-form__img {
    left: -30px;
  }
}

@media screen and (max-width: 991px) {
  .directory-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .directory-point {
    margin-top: 10px;
  }
  .directory-point input {
    width: 360px;
  }
  .directory-form__img {
    display: none;
  }
  .directory-form {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .directory-item {
    display: block;
  }
  .directory-item button {
    margin-top: 10px;
  }
  .directory-point {
    display: block;
  }
  .directory-point label {
    display: block;
  }
  .directory-point span {
    display: block;
    margin-bottom: 10px;
  }
  .directory-point input {
    max-width: 100%;
  }
  .directory-form-group {
    display: block;
  }
  .directory-form-group .input-item {
    width: 100%;
  }
  .directory-form-footer {
    display: block;
  }
  .directory-form-rules {
    margin-bottom: 20px;
  }
  .directory-form__help-text {
    font-size: 18px;
  }
}

.services-row {
  margin-bottom: 55px;
  border-bottom: 1px solid #bababa;
}

.services__title {
  margin-bottom: 24px;
}

.services__description {
  color: #7c7c7c;
  margin-bottom: 35px;
  max-width: 780px;
  line-height: 1.6;
}

.services-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services-item {
  background-color: #f4f5f9;
  position: relative;
  width: calc(50% - 30px);
  margin-right: 60px;
  margin-bottom: 55px;
  padding: 33px 0 25px 20px;
}

.services-item:hover .services-item-hover {
  opacity: 1;
  visibility: visible;
}

.services-item:hover .more {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.services-item:nth-child(2n) {
  margin-right: 0;
}

.services-item__title {
  height: 67px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.services-item .more {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-top: 15px;
}

.services-item-hover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  padding: 33px 0 0 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
  visibility: hidden;
  opacity: 0;
}

.services-item-hover .services-item__title {
  color: #ffffff;
}

.services-about {
  padding-bottom: 70px;
  position: relative;
}

.services-about-wrap {
  overflow: hidden;
}

.services-about__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 28px;
}

.services-about__description {
  color: #7c7c7c;
  line-height: 1.7;
  padding-right: 480px;
}

.services-about__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -510px;
}

@media screen and (max-width: 991px) {
  .services-item__title {
    font-size: 18px;
  }
  .services-about__img {
    display: none;
  }
  .services-about__description {
    padding-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .services-item {
    width: 100%;
    margin-right: 0;
  }
}

.service-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px;
}

.service-showcase-wrap {
  background: url(../images/service-bg.jpg) no-repeat 50%;
  background-size: cover;
}

.service-showcase-wrap .breadcrumbs li,
.service-showcase-wrap .breadcrumbs li a {
  color: #ffffff;
}

.service-showcase__title {
  margin-right: 140px;
  color: #ffffff;
}

.service-content {
  padding: 50px 0;
}

.service-content p {
  color: #7c7c7c;
  line-height: 1.6;
  margin-bottom: 25px;
}

.service-content p:last-child {
  margin-bottom: 0;
}

.service-rate {
  padding: 55px 0;
}

.service-rate__title {
  margin-bottom: 10px;
  max-width: 580px;
}

.service-rate__description {
  font-size: 24px;
  font-weight: bold;
  color: #7c7c7c;
  margin-bottom: 35px;
}

@media screen and (max-width: 991px) {
  .service-showcase {
    display: block;
  }
  .service-showcase__title {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .direction-form {
    margin: 0 auto;
  }
  .service-showcase {
    padding-bottom: 50px;
  }
}

.c-modal {
  display: none;
}

.c-modal__title {
  margin-bottom: 20px;
}

.c-modal__description {
  margin-bottom: 45px;
  line-height: 1.6;
}

.c-modal .input-group .input-item {
  width: 48%;
}

.c-modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.c-modal-footer .rules {
  max-width: 540px;
}

.c-modal-footer .rules .text {
  line-height: 1.7;
}

.c-modal-footer button {
  line-height: 60px;
  padding: 0 25px;
  background: #ff840c;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.c-modal-footer button:hover {
  background: #e5770b;
}

.fancybox-content {
  max-width: 1100px;
  border: 1px solid #0072d2;
  padding: 40px 50px;
}

@media screen and (max-width: 767px) {
  .fancybox-content {
    padding: 15px;
  }
  .c-modal .input-group {
    display: block;
  }
  .c-modal .input-group .input-item {
    width: 100%;
  }
  .c-modal-footer {
    display: block;
  }
}
