@font-face {
	font-family: 'BrutalType';
	src: url('../fonts/BrutalType.eot');
	src: url('../fonts/BrutalType.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrutalType.woff') format('woff'),
		url('../fonts/BrutalType.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrutalType';
	src: url('../fonts/BrutalType-Light.eot');
	src: url('../fonts/BrutalType-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrutalType-Light.woff') format('woff'),
		url('../fonts/BrutalType-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BrutalType';
	src: url('../fonts/BrutalType-Black.eot');
	src: url('../fonts/BrutalType-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrutalType-Black.woff') format('woff'),
		url('../fonts/BrutalType-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'BrutalType';
	src: url('../fonts/BrutalType-Medium.eot');
	src: url('../fonts/BrutalType-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrutalType-Medium.woff') format('woff'),
		url('../fonts/BrutalType-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'BrutalType';
	src: url('../fonts/BrutalType-ExtraBold.eot');
	src: url('../fonts/BrutalType-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrutalType-ExtraBold.woff') format('woff'),
		url('../fonts/BrutalType-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'BrutalType';
	src: url('../fonts/BrutalType-Bold.eot');
	src: url('../fonts/BrutalType-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrutalType-Bold.woff') format('woff'),
		url('../fonts/BrutalType-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}