@media only screen and (max-width: 1910px) {
  .container,
  .container_large {
    width: 1340px;
  }
  .logo {
    margin: 22px 40px 0 0px;
  }
  .logo-content {
    margin-left: 12px;
  }
  .logo-content h2 span {
    font-size: 10px;
  }
  .logo-content h2 {
    font-size: 23px;
  }
  .menu li a {
    font-size: 14px;
    padding: 44px 15px 38px;
  }
  .header-info__claim {
    padding: 41px 20px 37px 50px;
  }
  .header-info__claim span {
    font-size: 14px;
  }
  .header-info__tel {
    margin-right: 15px;
    font-size: 18px;
  }
  .works-items,
  .benefit-items {
    text-align: center;
  }
  .works-item,
  .benefit-item {
    text-align: left;
  }
  .benefit-wrap:after {
    right: -300px;
  }
  .main-clients-wrap:before {
    display: none;
  }
  .reference {
    text-align: center;
  }
  
  /* About */
  
  .about-items {
    margin-left: 0;
    text-align: center;
  }
  .about-wrap:before,
  .vacancy-wrap:before {
    display: none;
  }
  .officials-items {
    width: 1270px;
    margin: 0 auto;
  }
  .officials-items .slick-prev {
    left: -30px;
  }
  .officials-items .slick-next {
    right: -30px;
  }
  .officials-wrap {
    margin-bottom: 25px;
  }
  .about-works-items {
    text-align: center;
  }
  .about-works-item {
    text-align: left;
  }
  
  /* Service */
  
  .service-slider-items {
    width: 1250px;
    margin: 0 auto;
  }
  .service-slider-items .slick-next {
    right: -40px;
  }
  .service-slider-items .slick-prev {
    left: -40px;
  }
  .service-items {
    margin-right: 0;
    justify-content: center;
  }
  .service-item {
    margin: 0 10px 20px;
  }
  
  /* Serve */
  
  .serve_works .works-item {
    margin: 0 100px 30px 0;
  }
  .serve_works .works-item:nth-child(3n) {
    margin-right: 0;
  }
  
  
  /* Works */
  
  .works .works-items {
    justify-content: center;
    margin-right: 0;
  }
  .works .works-item {
    margin: 0 30px 48px;
  }
  .works .works-item:nth-child(3n) {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1360px) {
  .container,
  .container_large {
    width: 1170px;
  }
  .logo {
    margin: 10px 7px 0 0px;
  }
  .logo-content {
    margin-left: 8px;
  }
  .menu li a {
    padding: 30px 10px;
  }
  .header-info__claim {
    padding: 27px 15px 29px 40px;
  }
  .header-info__tel {
    margin-right: 10px;
    font-size: 16px;
  }
  .header-info__tel:before,
  .header-info__claim span:before {
    left: -27px;
  }
  .showcase {
    padding: 110px 0 65px;
  }
  .showcase h1 {
    font-size: 42px;
  }
  .more-item {
    margin: 0 20px;
  }
  .more-item:nth-child(4) {
    order: 3;
  }
  .more-item_open {
    margin-right: 20px !important;
  }
  .more-item:nth-child(5n) {
    margin-right: 20px;
  }
  .main-clients {
    padding-bottom: 40px;
  }
  .head {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .main-about-item {
    width: 300px;
  }
  .main-about-wrap:before {
    display: none;
  }
  .main-about-wrap {
    padding-bottom: 20px;
  }
  .main-works {
    padding: 25px 0;
  }
  .works-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .works-item,
  .serve_works .works-item {
    display: block;
    width: 330px;
    margin: 0 20px 30px;
  }
  .works-item__img {
    width: 330px;
    height: 330px;
    margin-bottom: 10px;
  }
  .works-item__head {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 30px;
  }
  .main-works_link {
    padding-top: 30px;
  }
  .benefit-wrap:after {
    top: -10px;
    right: -400px;
  }
  .benefit-item {
    width: 350px;
  }
  .benefit-item p {
    width: 260px;
    font-size: 16px;
  }
  .benefit-item p br {
    display: none;
  }
  .main-clients_link {
    text-align: center;
    margin: 0;
  }
  .main-clients-slider {
    width: 715px;
  }
  .main-clients-items {
    width: 590px;
  }
  .callback {
    width: 650px;
    padding-bottom: 33px;
  }
  .callback-form {
    width: 610px;
  }
  .callback-input {
    width: 285px;
  }
  .callback-map {
    right: -650px;
    height: 100%;
  }
  .reference li {
    width: 210px;
    margin-right: 20px;
  }
  .reference li a {
    font-size: 16px;
  }
  .footer .logo {
    margin-right: 150px;
  }
  
  /* About */
  
  .inner-showcase .showcase,
  .about {
    margin-bottom: 40px;
  }
  .about-item {
    margin-right: 90px;
  }
  .about-item span {
    font-size: 100px;
  }
  .about-item p {
    font-size: 20px;
  }
  .about-content-text {
    width: 630px;
  }
  .about-content-info {
    width: 440px;
  }
  .officials-items {
    width: 940px;
  }
  .about-works-item {
    width: 260px;
  }
  .about-works-item p {
    font-size: 15px;
  }
  .vacancy__head {
    width: 290px;
  }
  .vacancy-item {
    margin-right: 60px;
  }
  
  /* Service */
  
  .service-slider-items {
    width: 785px;
  }
  .service-slider .benefit-item {
    margin: 0 30px;
  }
  .service-slider-items .slick-prev {
    left: -60px;
  }
  
  /* Works */
  
  .works .works-item:first-child {
    width: 720px;
  }
  .works-item_big .works-item__img img {
    width: 100%;
  }
  
  /* Clients */
  
  .clients-item-content {
    width: 500px;
  }
  .clients-item-img {
    width: 550px;
  }
  .clients-slider-items {
    width: 860px;
  }
}

@media only screen and (max-width: 1200px) {
  .container,
  .container_large {
    width: 970px;
  }
  .logo {
    float: none;
    width: 300px;
    margin: 0 auto 10px;
  }
  .header {
    padding: 15px 0 0;
  }
  .main-about-item p {
    font-size: 142px;
    margin-top: -15px;
  }
  .main-about-item span {
    font-size: 21px;
  }
  .main-about-item {
    width: 265px;
  }
  .main-about-content {
    width: 665px;
  }
  .main-about-content p br {
    display: none;
  }
  .main-about-content p {
    margin-bottom: 28px;
  }
  .benefit-header {
    width: 420px;
  }
  .benefit-item {
    margin: 0 20px 60px;
  }
  .benefit-item:nth-child(3n) {
    margin-right: 20px;
  }
  .main-clients-slider {
    float: none;
    margin: 0 auto 40px;
  }
  .main-clients-partners {
    float: none;
  }
  .main-clients-items,
  .main-clients_head {
    margin-bottom: 40px;
  }
  .main-clients-partners {
    margin: 0 auto;
  }
  .callback,
  .callback-form {
    width: 500px;
    padding-right: 0;
  }
  .callback-input {
    display: block;
    margin-right: 0;
    width: 100%;
  }
  .callback_head {
    font-size: 30px;
  }
  .callback-info__checkbox label {
    width: 250px;
  }
  .callback-info button {
    padding: 0 22px 0 10px;
    margin-right: 0;
    font-size: 14px;
  }
  .callback-info button:after {
    right: 8px;
  }
  .callback-contact span {
    font-size: 14px;
  }
  .callback-contact a {
    font-size: 24px;
  }
  .callback-map {
    right: -540px;
  }
  .reference li {
    width: 175px;
    margin-right: 14px;
  }
  .reference li a {
    font-size: 14px;
  }
  .footer .logo {
    width: 225px;
    margin: 0 40px 0 0;
  }
  .footer-item {
    margin-right: 40px;
  }
  .works-item:nth-child(3n) {
    margin-right: 20px;
  }
  .works-item,
  .serve_works .works-item {
    width: 290px;
    margin: 0 12px 30px;
  }
  .works-item__img {
    width: 290px;
    height: 290px;
  }
  .more-item:nth-child(3) { 
    order: 3;
  }
  
  /* About */
  
  .inner-showcase .showcase {
    padding-top: 60px;
  }
  .inner-showcase h2 {
    font-size: 54px;
  }
  .about-item {
    margin-right: 10px;
  }
  .about-item p {
    font-size: 18px;
  }
  .about-content-text {
    width: 500px;
  }
  .about-content-text p {
    font-size: 15px;
    line-height: 1.3;
  }
  .about-content-info span, .about-content-info p {
    font-size: 21px;
  }
  .about-content-info {
    width: 400px;
  }
  .officials-items {
    width: 910px;
  }
  .officials-item {
    width: 290px;
  }
  .about-works-item {
    width: 220px;
  }
  .about-works-item__img {
    height: 84px;
  }
  .about-works-item__img img {
    height: 70px;
  }
  .about-works-item p {
    font-size: 14px;
  }
  .about-works-item:after {
    top: 15px;
    right: 15px;
    background-size: 85%;
  }
  .about-works {
    margin-bottom: 35px;
  }
  .about-sentence-content {
    width: 530px;
  }
  .about-sentence-callback {
    width: 440px;
  }
  .about-sentence-callback {
    padding: 27px 20px;
  }
  .about-sentence-input {
    width: 400px;
    margin-bottom: 20px;
  }
  .about-sentence-callback__head {
    font-size: 20px;
  }
  .about-sentence-checkbox {
    margin-bottom: 18px;
  }
  .about-sentence-content__head {
    font-size: 21px;
  }
  .about-sentence-item {
    width: 240px;
    margin-right: 10px;
  }
  .about-sentence-item h2 br {
    display: none;
  }
  .about-sentence-item h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .about-sentence-item p {
    font-size: 14px;
    line-height: 1.3;
  }
  .vacancy__head {
    float: none;
    width: auto;
  }
  .vacancy-items {
    float: none;
    width: auto;
    text-align: center;
  }
  .vacancy-item {
    text-align: left;
  }
  
  /* Serve */
  
  .serve-slider .benefit-item {
    margin: 0 40px;
  }
  
  /* Works */
  
  .works .works-item:first-child {
    width: 640px;
  }
  .works .works-item:nth-child(3n) {
    margin-right: 30px;
  }
  .works-item_big .works-item-info, .works-item_big .works-item__head {
    width: auto;
  }
  
  /* Working */
  
  .working-slider {
    width: 580px;
    height: 340px;
  }
  
  /* Contacts */
  
  .contacts-item {
    margin-right: 120px;
  }
  .contacts-item p,
  .contacts-item a {
    font-size: 18px;
  }
  
  /* Clients */
  
  .clients-slider-items {
    width: 650px;
  }
  .clients-item-content {
    width: 450px;
    padding-left: 60px;
  } 
  .clients-item-content p {
    line-height: 1.35;  
  }
  .clients-item-content span {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .clients-item-img {
    width: 465px;
  }
}

@media only screen and (max-width: 991px) {
  .container,
  .container_large {
    width: 750px;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    position: absolute;
    top: 97px;
    left: 20px;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before, .burger-wrap a span:after {
    position: absolute;
    background: #fff;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }

  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #001c54;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
  .menu.active {
    opacity: 1;
    visibility: visible;
  }
  .menu li {
    display: block;
    text-align: center;
  }
  .menu li a {
    width: 100%;
    padding: 20px 10px;
  }
  .more-item,
  .more-item_open {
    margin: 0 10px !important;
  }
  
  .header-info__claim {
    padding: 20px 15px 22px 40px;
  }
  .showcase h1 {
    font-size: 36px;
  }
  .showcase_link {
    margin: 0 40px;
  }
  .main-about-content {
    width: 460px;
  }
  .main-about-item p {
    margin-top: 0;
  }
  .benefit-header {
    margin-bottom: 50px;
  }
  .benefit-item {
    width: 290px;
    margin: 0 30px 20px !important;
  }
  .benefit-item__img {
    width: 60px;
    height: 60px;
  }
  .benefit-item p {
    width: 225px;
    font-size: 14px;
    padding-left: 10px;
  }
  .benefit-wrap:after {
    display: none;
  }
  .benefit_info {
    top: 52px;
    right: 0px;
    font-size: 18px;
  }
  .benefit_info span {
    font-size: 16px;''
  }
  .callback-map {
    position: static;
    height: 350px;
  }
  .callback {
    float: none;
    margin: 0 auto;
  }
  .reference li {
    margin: 0 7px 10px;
  }
  .footer .logo {
    float: none;
    width: 400px;
    margin: 0 auto 20px;
  }
  .footer .logo-content {
    display: inline-block;
    vertical-align: middle;
  }
  .footer .logo img {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  .footer-items {
    margin-left: 30px;
  }
  .footer-item li a {
    font-size: 16px;
  }
  .footer-item__tel a {
    font-size: 21px;
  }
  .footer-item p {
    font-size: 14px;
  }
  
  /* About */
  
  .about__text {
    width: auto;
  }
  .about-item {
    width: 240px;
  }
  .about-item span {
    font-size: 76px;
  }
  .about-item p {
    font-size: 16px;
  }
  .about-content-text {
    width: 400px;
  }
  .about-content-info {
    width: 300px;
  }
  .about-content-info span,
  .about-content-info p {
    font-size: 18px;
  }
  .officials-items {
    width: 600px;
  }
  .about-works-item:after {
    display: none;
  }
  .about-works-item {
    width: 33.33%;
    text-align: center;
    margin: 0 7px 20px;
  }
  .about-works-item:last-child {
    margin-right: 7px;
  }
  .about-sentence-content {
    float: none;
    width: auto;
  }
  .about-sentence-item {
    width: 33.33%;
    margin: 0 5px 30px;
  }
  .about-sentence-item:nth-child(2n) {
    margin-right: 5px;
  }
  .about-sentence-items {
    text-align: center;
  }
  .about-sentence-callback {
    float: none;
    margin: 0 auto;
  }
  .vacancy-item {
    width: 300px;
    margin: 0 5px;
  }
  .vacancy-item:last-child {
    margin-right: 5px;
  }
  .vacancy-item h2 {
    font-size: 21px;
    margin-bottom: 8px;
  }
  .vacancy-item p {
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .vacancy_link a {
    padding-right: 35px;
    line-height: 40px;
    font-size: 14px;
  }
  .vacancy_link a:after {
    right: 17px;
  }
  
  /* Service */
  
  .service-slider-items {
    width: 650px;
  }
  .service-slider-items .slick-prev {
    left: -50px;
  }
  .service-slider-items .slick-next {
    right: -50px;
  }
  
  /* Serve */
  
  .serve-content,
  .serve-slider {
    width: auto;
  }
  .serve-content h2 {
    font-size: 36px;
  }
  .serve-slider-items {
    width: 370px;
    margin: 0 auto;
  }
  .serve-slider-items .slick-prev {
    left: -26px;
  }
  .serve-slider-items .slick-next {
    right: -26px;
  }
  .serve-slider__head {
    font-size: 21px;
    padding: 0 10px;
  }
  .serve-slider {
    padding: 40px 0 35px;
    margin-bottom: 35px;
  }
  
  /* Contacts */
  
  .contacts .about__text {
    width: auto;
  }
  .contacts-item {
    margin-right: 15px;
  }
  .contacts-item:before {
    left: 0;
  }
  
  /* Clients */
  
  .clients-item-content {
    width: 340px;
    padding: 10px 0 0 0;
  }
  .clients-item-content p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .clients-item-img {
    width: 366px;
  }
  .clients-item:before {
    display: none;
  }
  .clients-slider-items .slick-next {
    right: -30px;
  }
  .clients-slider-items .slick-prev {
    left: -45px;
  }
}

@media only screen and (max-width: 767px) {
  .container,
  .container_large {
    width: auto;
    padding: 0 15px;
  }
  .showcase-links {
    display: block;
  }
  .showcase_link {
    margin: 0 auto;
    text-align: center;
  }
  .showcase_link a {
    margin-bottom: 10px;
  }
  .showcase {
    padding: 70px 0 30px;
  }
  .more-item {
    width: 230px;
  }
  .more-item:nth-child(2) { 
    order: 2;
  }
  .more-item__link a,
  .more-item__link p {
    font-size: 14px;
  }
  .more-item_open {
    height: 252px;
  }
  .main-about-item {
    float: none;
    margin: 0 auto 20px;
  }
  .main-about-content {
    float: none;
    width: auto;
    text-align: center;
  }
  .main-clients-slider {
    width: auto;
  }
  .main-clients-items {
    width: 280px;
  }
  .benefit_info {
    display: none;
  }
  .benefit-header {
    width: auto;
    margin-bottom: 40px;
  }
  .benefit-item {
    margin-bottom: 45px;
  }
  .callback,
  .callback-form {
    width: auto;
  }
  .callback-info {
    display: block;
    text-align: center;
  }
  .callback-info__checkbox label {
    width: auto;
    text-align: left;
  }
  .callback-info button {
    margin-top: 22px;
  }
  .callback-contact {
    text-align: center;
  }
  .callback-contact span {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .callback-map {
    height: 220px;
  }
  .reference li {
    display: block;
    width: auto;
    margin: 0 auto 10px;
  }
  .reference li a br {
    display: none;
  }
  .footer {
    padding-bottom: 35px;
  }
  .footer .logo {
    width: auto;
    margin-bottom: 35px;
  }
  .footer-items {
    float: none;
    margin-left: 0;
    text-align: center;
  }
  .footer-info {
    float: none;
    text-align: center;
    margin-top: 40px;
    margin-right: 0;
  }
  .footer-info__link {
    margin-bottom: 30px;
  }
  .bottom {
    text-align: center;
  }
  .bottom-content {
    margin-bottom: 10px;
  }
  .bottom-content,
  .bottom-omg {
    float: none;
  }
  
  /* About */
  
  .about-item {
    display: block;
    margin: 0 auto 20px;
  }
  .about-item:last-child {
    margin-right: auto;
  }
  .about-content-text,
  .about-content-info {
    float: none;
    width: auto;
  }
  .about-content-text {
    margin-bottom: 40px;
  }
  .officials-items {
    width: 290px;
  }
  .about-works-item,
  .about-sentence-item {
    display: block;
    width: 260px;
    margin: 0 auto 20px;
  }
  .about-works-item:last-child,
  .about-sentence-item:nth-child(2n),
  .vacancy-item:last-child {
    margin-right: auto;
  }
  .about-sentence-callback {
    width: auto;
  }
  .about-sentence-input {
    width: 100%;
  }
  .about-sentence-callback form {
    text-align: center;
  }
  .vacancy-item {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
  }
  .vacancy {
    padding-bottom: 15px;
  }
  
  /* Service */
  
  .service-slider-items {
    width: 250px;
  }
  .service-item_big {
    width: 300px;
    padding: 93px 30px 0;
  }
  
  /* Serve */
  
  .serve-content h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .serve-content p {
    line-height: 1.35;
  }
  .serve-content h3 {
    font-size: 21px;
  }
  .serve-content li {
    margin-bottom: 20px;
  }
  .serve-content p:last-child {
    margin-top: 35px;
  }
  
  /* Works */
  
  .works .works-item:first-child {
    width: 290px;
  }
  .works-item_big .works-item__img img {
    height: 100%;
  }
  .pagination li {
    margin-right: 0;
  }
  .pagination li a {
    width: 45px;
    line-height: 40px;
  }
  
  /* Working */
  
  .working-slider {
    width: 380px;
    height: 220px;
  }
  .working-slider .slick-next {
    right: -30px;
  }
  .working-slider .slick-prev {
    left: -30px;
  }
  
  /* Contacts */
  
  .contacts-items {
    display: block;
  }
  .contacts-item {
    margin: 0 auto 40px;
  }
  .contacts-item:nth-child(3) {
    margin-right: auto;
  }
  
  /* Clients */
  
  .clients-item-content {
    float: none;
    margin: 0 auto 40px;
  }
  .clients-item-img {
    float: none;
    margin: 0 auto;
  }
  .clients-slider-items {
    width: 355px;
  }
  .clients-slider-item {
    width: 131px;
  }
  .clients-slider-items .slick-dots {
    right: 50%;
    margin-right: -51px;
  }
  .clients-slider_head {
    font-size: 22px;
  }
}

@media only screen and (max-width: 529px) {
  .more-item {
    width: 185px;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    width: auto;
    display: block;
    text-align: center;
  }
  .logo-content {
    margin: 0;
  }
  .head {
    font-size: 26px;
  }
  .header-info__tel {
    display: none;
  }
  .burger-wrap {
    top: 140px;
  }
  .showcase h1 {
    font-size: 30px;
  }
  .more-item {
    width: 130px;
  }
  .more-item p {
    font-size: 14px;
    line-height: 1.2;
  }
  .works-item {
    width: 290px;
    display: block;
    margin: 0 auto 30px !important;
  }
  .works-item__img {
    width: 290px;
    height: 290px;
  }
  .benefit-item {
    display: block;
    margin: 0 auto 20px !important;
  }
  .benefit-item p {
    width: 180px;
    font-size: 12px;
    padding-left: 6px;
  }
  .benefit-item:nth-child(3n) {
    margin-right: auto;
  }
  .main-clients-items {
    width: 170px;
  }
  .main-clients-item {
    margin: 0 auto;
  }
  .main-clients-item img {
    margin: 0 auto;
  }
  .main-clients_head {
    font-size: 22px;
  }
  .main-clients_link a {
    font-size: 14px;
    padding: 0 30px 0 18px;
  }
  .main-clients_link a:after {
    right: 13px;
  }
  .main-clients-partners {
    width: auto;
  }  
  .callback__text {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .footer-item {
    display: block;
    margin: 0 auto 40px;
  }
  
  /* About */
  
  .inner-showcase h2 {
    font-size: 36px;
  }
  .about__text {
    line-height: 1.3;
  }
  .officials-items .slick-next {
    right: -10px;
  }
  .officials-items .slick-prev {
    left: -10px;
  }
  
  /* Service */
  .service-slider-items .slick-prev {
    left: -30px;
  }
  .service-slider-items .slick-next {
    right: -30px;
  }
  .service-item p {
    font-size: 16px;
  }
  .service-item__yet {
    font-size: 46px;
  }
  
  /* Serve */
  
  .serve-slider-items {
    width: 250px;
  }
  .serve-slider-items .slick-prev {
    left: -30px;
  }
  .serve-slider-items .slick-next {
    right: -30px;
  }
  
  /* Works */
  
  .works-nav li a {
    font-size: 12px;
  }
  .pagination li a {
    font-size: 14px;
  }
  .pagination .pagination-prev a,
  .pagination .pagination-next a {
    width: auto;
  }
  .pagination li a {
    width: 38px;
    line-height: 35px;
  }
  
  /* Working */
  
  .working-slider {
    width: 290px;
    height: 100%;
  }
  
  /* Clients */
  
  .clients-item-content,
  .clients-item-img {
    width: auto;
  }
  .clients-slider-items {
    width: 290px;
  } 
  .clients-slider-item {
    width: 125px;
    margin: 0 10px;
  }
}

@media only screen and (max-width: 329px) {
  .more-item {
    width: 115px;
  }
}