* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

*:focus {
    outline: none;
}

body {
    font: 700 18px 'BrutalType', sans-serif;
}

a {
    font: 700 18px 'BrutalType', sans-serif;
    text-decoration: none;
    transition: 300ms;
    display: inline-block;
    line-height: 1;
}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a img {
    border: none;
    outline: none;
}

.cf:after {
    display: block;
    content: '';
    clear: both;
}

.container {
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

.container_large {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.link a {
    color: #000;
    font-size: 16px;
    font-weight: 900;
    line-height: 47px;
    text-transform: uppercase;
    padding: 0 40px 0 20px;
    border: 2px solid #00aeef;
    position: relative;
}

.link a:after {
    content: '>';
    display: block;
    font-size: 16px;
    color: #00aeef;
    position: absolute;
    top: 0;
    right: 18px;
    transition: 300ms;
}

.link a:hover {
    color: #00aeef;
}

.head {
    color: #060606;
    font-size: 42px;
    text-transform: uppercase;
    padding: 0 0 0 37px;
    margin-bottom: 40px;
    font-weight: 800;
    position: relative;
}

.head:before {
    content: '';
    display: block;
    background: url(../images/head-before.png) no-repeat 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 0;
}

/* Header */
.header-wrap {
    background: #001c54;
}

.header-info {
    float: right;
}

.header-info__tel {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 57px;
    position: relative;
}

.header-info__tel:before {
    content: '';
    display: block;
    background: url(../images/header-info__tel.png) no-repeat 50%;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    margin-top: -10.5px;
    left: -37px;
}

.header-info__tel:hover {
    color: #00aeef;
}

.header-info__claim {
    text-transform: uppercase;
    color: #fff;
    background: #00aeef;
    padding: 44px 70px 38px 95px;
}

.header-info__claim span {
    position: relative;
}

.header-info__claim span:before {
    content: '';
    display: block;
    background: url(../images/header-info__claim.png) no-repeat 50%;
    width: 18px;
    height: 11px;
    position: absolute;
    top: 50%;
    margin-top: -5.5px;
    left: -33px;
}

.logo {
    float: left;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin: 22px 113px 0 30px;
}

.logo-content {
    margin-left: 16px;
}

.logo-content h2 {
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
}

.logo-content h2 span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
    margin-top: 8px;
}

.menu {
    float: left;
    font-size: 0;
}

.menu li {
    display: inline-block;
    vertical-align: top;
}

.menu li.active a {
    background: #00aeef;
}

.menu li a {
    text-transform: uppercase;
    color: #fff;
    padding: 44px 23px 38px;
}

.menu li a:hover {
    background: #00aeef;
}

.burger-wrap {
    display: none;
}

/* Showcase */
.showcase {
    padding: 189px 0 143px;
}

.showcase-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
}

.showcase h1 {
    color: #fff;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 50px;
    font-size: 68px;
    font-weight: 900;
    text-transform: uppercase;
}

.showcase-links {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.showcase_link {
    margin: 0 70px;
}

.showcase_link a {
    color: #00aeef;
    border: 2px solid #fff;
}

.showcase_link a:after {
    color: #fff;
}

.showcase_link a:hover {
    background: transparent;
    border: 2px solid #00aeef;
}

.showcase_link a:hover:after {
    color: #00aeef;
}

.inner-showcase {
    text-align: center;
}

.inner-showcase .showcase {
    padding: 77px 0 44px;
    margin-bottom: 55px;
}

.inner-showcase h2 {
    color: #fff;
    font-size: 68px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 21px;
}

/* Bread */
.bread-wrap {
    background: #ecf1f4;
}

.bread-wrap .bread {
    padding: 23px 0 20px;
    text-align: center;
}

.bread-wrap .bread li {
    color: #000;
}

.bread-wrap .bread li:after {
    color: #000;
}

.bread-wrap .bread li a {
    color: #000;
}

.bread li {
    display: inline-block;
    vertical-align: top;
    margin-right: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.bread li:after {
    content: '>';
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: -24px;
}

.bread li:last-child {
    margin-right: 0;
}

.bread li:last-child:after {
    display: none;
}

.bread li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.bread li a:hover {
    text-decoration: underline;
}

/* More */
.more-wrap {
    background: #eff2f4;
}

.more-items {
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 300ms;
}

.more-item {
    width: 220px;
    padding: 34px 0;
    margin: 0 40px 0 0;
    text-align: center;
}

.more-item:hover p {
    color: #00aeef;
}

.more-item:nth-child(5n) {
    margin-right: 0;
}

.more-item__img {
    display: inline-block;
    vertical-align: middle;
    height: 130px;
    line-height: 130px;
}

.more-item__img img {
    display: inline-block;
    vertical-align: middle;
}

.more-item p {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    transition: 300ms;
}

.more-item_open {
    cursor: pointer;
    position: relative;
}

.more-item_open .default,
.more-item_open .close {
    position: absolute;
    top: 34px;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 300ms;
}

.more-item_open .close {
    opacity: 0;
}

.more-item_open.active .close {
    opacity: 1;
}

.more-item_open.active .default {
    opacity: 0;
}

/* Main-about */
.main-about {
    padding: 50px 0 32px;
    background: #fff;
}

.main-about-wrap {
    padding-bottom: 58px;
    position: relative;
}

.main-about-wrap:before {
    content: '';
    display: block;
    background: url(../images/main-about-bg.png) 2px 50%;
    width: 930px;
    height: 440px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-about-item {
    float: left;
    width: 380px;
    text-align: center;
}

.main-about-item p {
    color: #00aeef;
    font-size: 180px;
    text-transform: uppercase;
    margin: -32px 0 8px;
}

.main-about-item span {
    color: #060606;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.3;
}

.main-about-content {
    float: right;
    width: 825px;
}

.main-about-content p {
    font: 400 16px/1.75 'BrutalType';
    margin-bottom: 51px;
}

.main-about_link a {
    padding: 0 43px 0 23px;
}

/* Main-works */
.main-works {
    padding: 45px 0;
}

.main-works .works-item {
    margin-bottom: 35px;
}

.main-works_head {
    margin-bottom: 36px;
}

.main-works_link {
    text-align: center;
    padding-top: 8px;
}

.main-works_link a {
    padding: 0 44px 0 30px;
}

/* Works */
.works-items {
    font-size: 0;
}

.works-item {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    margin: 0 60px 40px 0;
}

.works-item:hover .works-item__head {
    color: #00aeef;
}

.works-item:hover .works-item__img:after {
    opacity: 1;
    visibility: visible;
}

.works-item:nth-child(3n) {
    margin-right: 0;
}

.works-item__img {
    width: 380px;
    height: 380px;
    margin-bottom: 24px;
    position: relative;
}

.works-item__img:after {
    content: '';
    display: block;
    background: rgba(0, 174, 239, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
}

.works-item__head {
    font-size: 24px;
    color: #000;
    line-height: 1.4;
    margin-bottom: 35px;
}

.works-item-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.works-item__link {
    color: #00aeef;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

.works-item__data {
    color: #939598;
    font-size: 16px;
    font-weight: 400;
}

/* Benefit */
.benefit {
    padding: 48px 0 0;
    position: relative;
    z-index: 1;
}

.benefit-wrap {
    background: #eff2f4;
    position: relative;
    overflow: hidden;
}

.benefit-wrap:after {
    content: '';
    display: block;
    background: url(../images/benefit-bg.png) repeat 50%;
    width: 890px;
    height: 168px;
    position: absolute;
    top: 20px;
    right: 0;
}

.benefit_head {
    margin-bottom: 27px;
}

.benefit_info {
    position: absolute;
    top: 67px;
    right: 56px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0d1b25;
}

.benefit_info span {
    font-size: 24px;
    color: #00aeef;
    margin-right: 10px;
}

.benefit-header {
    width: 505px;
    margin-bottom: 70px;
}

.benefit-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.benefit-items {
    font-size: 0;
}

.benefit-item {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    margin: 0 60px 64px 0;
    position: relative;
}

.benefit-item:nth-child(3n) {
    margin-right: 0;
}

.benefit-item__img {
    display: inline-block;
    vertical-align: middle;
    width: 86px;
    height: 85px;
}

.benefit-item p {
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    padding-left: 17px;
    text-transform: uppercase;
    font: 900 18px/1.55 'BrutalType';
}

/* Main-clients */
.main-clients {
    padding: 50px 0 63px;
}

.main-clients-wrap {
    position: relative;
}

.main-clients-wrap:before {
    content: '';
    display: block;
    background: url(../images/main-clients-bg.png) no-repeat center;
    width: 739px;
    height: 318px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-clients_link {
    text-align: right;
    margin-right: 120px;
}

.main-clients_link a {
    padding: 0 50px 0 28px;
}

.main-clients_link a:after {
    top: -1px;
    right: 26px;
}

.main-clients_head {
    margin-bottom: 60px;
}

.main-clients-slider {
    float: left;
    width: 860px;
}

.main-clients-items {
    width: 740px;
    margin: 0 auto 63px;
    font-size: 0;
    position: relative;
}

.main-clients-items .slick-prev,
.main-clients-items .slick-next {
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/main-clients-slider.png) no-repeat left;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: -60px;
}

.main-clients-items .slick-next {
    background-position: right;
    left: auto;
    right: -60px;
}

.main-clients-item {
    display: inline-block;
    vertical-align: middle;
    height: 51px;
    line-height: 51px;
    text-align: center;
    margin: 0 28px;
}

.main-clients-item img {
    display: inline-block;
    vertical-align: middle;
}

.main-clients-partners {
    float: right;
    width: 300px;
    text-align: center;
}

.main-clients-partners p {
    color: #0d1b25;
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.main-clients-partners__img {
    width: 252px;
    height: 144px;
    margin: 0 auto;
}

/* Callback */
.callback {
    float: left;
    width: 700px;
    background: #00aeef;
    padding: 50px 40px 36px 0;
    position: relative;
}

.callback-wrap {
    overflow: hidden;
    background: #00aeef;
}

.callback_head {
    margin-bottom: 28px;
}

.callback_head:before {
    background: url(../images/head-before2.png) no-repeat 50%;
}

.callback__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 43px;
}

.callback-form {
    font-size: 0;
    width: 640px;
}

.callback-input {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 40px 25px 0;
}

.callback-input:nth-child(2) {
    margin-right: 0;
}

.callback-input:nth-child(3) {
    width: 100%;
}

.callback-input input {
    width: 100%;
    font: 400 16px/60px 'BrutalType';
    color: #fff;
    border: none;
    padding: 0 24px;
    background: #0099d2;
}

.callback-input input::-webkit-input-placeholder {
    color: #fff;
}

.callback-input input:-moz-placeholder {
    color: #fff;
}

.callback-input input::-moz-placeholder {
    color: #fff;
}

.callback-input input:-ms-input-placeholder {
    color: #fff;
}

.callback-info {
    margin: 8px 0 40px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.callback-info__checkbox {
    position: relative;
}

.callback-info__checkbox input {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 1px;
}

.callback-info__checkbox label {
    display: inline-block;
    vertical-align: top;
    width: 310px;
    padding-left: 28px;
    color: #fff;
    font: 300 12px/1.6 'BrutalType';
    cursor: pointer;
}

.callback-info button {
    color: #000;
    cursor: pointer;
    transition: 300ms;
    font: 900 16px 'BrutalType';
    height: 47px;
    text-transform: uppercase;
    padding: 0 48px 0 22px;
    margin-top: 2px;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
}

.callback-info button:after {
    content: '>';
    display: block;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 25px;
    transition: 300ms;
}

.callback-info button:hover {
    color: #fff;
}

.callback-contact span {
    font-size: 16px;
    margin-right: 5px;
}

.callback-contact a {
    font-size: 28px;
    color: #000;
}

.callback-contact a:hover {
    color: #fff;
}

.callback-map {
    height: 520px;
    width: 100%;
    position: absolute;
    top: 0;
    right: -700px;
}

.callback-map iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* Reference */
.reference {
    padding: 28px 0 20px;
}

.reference-wrap {
    background: #eff2f4;
}

.reference li {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    text-align: center;
    margin-right: 35px;
}

.reference li:last-child {
    margin-right: 0;
}

.reference li a {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    color: #000;
}

.reference li a:hover {
    color: #00aeef;
}

/* Footer */
.footer {
    padding: 45px 0 49px;
}

.footer-wrap {
    background: #001c54;
}

.footer .logo {
    float: left;
    display: block;
    text-align: center;
    margin: 0 192px 0 10px;
}

.footer .logo img {
    margin: 0 auto 19px;
}

.footer .logo-content {
    margin: 0;
}

.footer .logo-content h2 {
    font-size: 31px;
}

.footer .logo-content span {
    font-size: 14px;
}

.footer-items {
    float: left;
}

.footer-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 102px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-item li {
    margin-bottom: 25px;
}

.footer-item li:last-child {
    margin-bottom: 0;
}

.footer-item li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-item li a:hover {
    color: #0483b3;
}

.footer-item__head {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #fff;
}

.footer-item p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 10px;
}

.footer-item__tel {
    margin-bottom: 16px;
}

.footer-item__tel a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-item__tel a:hover {
    color: #0483b3;
}

.footer-item__mail a {
    color: #00aeef;
    font-size: 16px;
    font-weight: 400;
}

.footer-item__mail a:hover {
    text-decoration: underline;
}

.footer-info {
    float: right;
    margin-right: 14px;
}

.footer-info__link {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 41px;
    padding: 0 26px 0 22px;
    background: #00aeef;
}

.footer-info__link:hover {
    background: #0483b3;
}

.footer-info-soc {
    text-align: center;
}

.footer-info-soc__item {
    width: 30px;
    height: 30px;
    margin: 0 7px;
}

.footer-info-soc__item:hover {
    transform: rotate(360deg);
}

/* Bottom */
.bottom {
    padding-bottom: 19px;
}

.bottom-content {
    float: left;
    color: #00aeef;
    font-size: 14px;
    font-weight: 400;
}

.bottom-omg {
    float: right;
    color: #00aeef;
    font-size: 14px;
    font-weight: 400;
}

.bottom-omg a {
    color: #00aeef;
    font-size: 14px;
    font-weight: 400;
}

.bottom-omg a:hover {
    text-decoration: underline;
}

/* About */
.about {
    margin-bottom: 65px;
}

.about-wrap {
    overflow: hidden;
    position: relative;
}

.about-wrap:before {
    content: '';
    display: block;
    background: url(../images/about-bg.png) no-repeat 50%;
    width: 791px;
    height: 343px;
    position: absolute;
    bottom: 41px;
    right: 0;
}

.about__text {
    width: 890px;
    margin: 0 auto 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.about_link {
    text-align: center;
    margin-bottom: 42px;
}

.about-items {
    font-size: 0;
    margin: 0 0 58px 40px;
}

.about-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 300px;
    margin-right: 140px;
    position: relative;
}

.about-item:before {
    content: '';
    display: block;
    background: url(../images/about-item.png) no-repeat 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.about-item:last-child {
    margin-right: 0;
}

.about-item span {
    display: block;
    color: #00aeef;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.about-item p {
    color: #0d1b25;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
}

.about-content-text {
    float: left;
    width: 683px;
}

.about-content-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 17px;
}

.about-content-text p:last-child {
    margin-bottom: 0;
}

.about-content-info {
    float: right;
    width: 460px;
    padding: 63px 0 0 0;
    position: relative;
}

.about-content-info span,
.about-content-info p {
    display: block;
    line-height: 1.65;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #00aeef;
}

.about-content-info span {
    color: #000;
}

.about-content-info__quotes {
    background: url(../images/about-quotes.png) no-repeat 50%;
    width: 66px;
    height: 39px;
    position: absolute;
    top: 5px;
    left: 0;
}

/* Officials */
.officials {
    padding: 50px 0 0;
}

.officials-wrap {
    background: #eff2f4;
    position: relative;
    margin-bottom: 54px;
}

.officials-wrap:after {
    content: '';
    display: block;
    height: 180px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.officials_head {
    margin-bottom: 30px;
}

.officials-items {
    font-size: 0;
    position: relative;
    z-index: 5;
}

.officials-items .slick-prev,
.officials-items .slick-next {
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/main-clients-slider.png) no-repeat left;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 195px;
    left: -80px;
}

.officials-items .slick-next {
    background-position: right;
    left: auto;
    right: -80px;
}

.officials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 300px;
    height: 560px;
    padding: 16px 0 0 0;
    margin: 0 10px;
    transition: 300ms;
}

.officials-item:hover {
    background: #00aeef;
}

.officials-item:hover h2,
.officials-item:hover span {
    color: #fff;
}

.officials-item:hover a {
    opacity: 1;
    visibility: visible;
}

.officials-item__img {
    height: 365px;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.officials-item-content h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.45;
    text-transform: uppercase;
    margin-bottom: 15px;
    transition: 300ms;
}

.officials-item-content span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    transition: 300ms;
}

.officials-item-content a {
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    color: #000;
}

.officials-item-content a:hover {
    color: #fff;
    text-decoration: none;
}

/* About-works */
.about-works {
    margin: 0 0 65px 0;
}

.about-works_head {
    margin-bottom: 49px;
}

.about-works-items {
    font-size: 0;
}

.about-works-item {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 15px;
    position: relative;
}

.about-works-item:after {
    content: '';
    display: block;
    background: url(../images/about-works-img.png) no-repeat 50%;
    width: 98px;
    height: 36px;
    position: absolute;
    top: 23px;
    right: 48px;
}

.about-works-item:last-child {
    margin-right: 0;
}

.about-works-item:last-child:after {
    display: none;
}

.about-works-item__img {
    height: 110px;
}

.about-works-item p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
}

.about-works-item p span {
    color: #00aeef;
}

/* About-sentence */
.about-sentence {
    padding: 43px 0 25px;
}

.about-sentence-wrap {
    background: #eff2f4;
}

.about-sentence-item {
    display: inline-block;
    vertical-align: top;
    width: 272px;
    margin-right: 40px;
    margin-bottom: 29px;
}

.about-sentence-item:nth-child(2n) {
    margin-right: 0;
}

.about-sentence-item__img {
    height: 100px;
}

.about-sentence-item h2 {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-sentence-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.about-sentence-content {
    float: left;
    width: 620px;
}

.about-sentence-content__head {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 30px;
}

.about-sentence-callback {
    float: right;
    width: 540px;
    background: #00aeef;
    padding: 35px 50px 35px;
    margin-top: 15px;
}

.about-sentence-callback form {
    text-align: right;
}

.about-sentence-callback form button {
    border: 2px solid #fff;
    background: transparent;
    font: 700 16px/50px 'BrutalType';
    padding: 0 46px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms;
}

.about-sentence-callback form button:hover {
    color: #fff;
}

.about-sentence-callback__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-sentence-input {
    width: 440px;
    margin: 0 auto 36px;
}

.about-sentence-input:nth-child(3) {
    margin-bottom: 24px;
}

.about-sentence-input input {
    border: none;
    width: 100%;
    font: 400 16px/60px 'BrutalType';
    padding: 0 20px;
}

.about-sentence-input input::-webkit-input-placeholder {
    color: #000;
}

.about-sentence-input input:-moz-placeholder {
    color: #000;
}

.about-sentence-input input::-moz-placeholder {
    color: #000;
}

.about-sentence-input input:-ms-input-placeholder {
    color: #000;
}

.about-sentence-checkbox {
    position: relative;
    margin-bottom: 30px;
}

.about-sentence-checkbox input {
    width: 14px;
    height: 14px;
    border: 1px solid #00aeef;
    position: absolute;
    top: 3px;
    left: 0;
}

.about-sentence-checkbox label {
    display: block;
    font: 400 14px/1.5 'BrutalType';
    padding-left: 30px;
    text-align: left;
    cursor: pointer;
}

/* Vacancy */
.vacancy {
    padding: 55px 0 43px;
}

.vacancy-wrap {
    overflow: hidden;
    position: relative;
}

.vacancy-wrap:before {
    content: '';
    display: block;
    background: url(../images/vacancy-bg.png) no-repeat 50%;
    width: 647px;
    height: 257px;
    position: absolute;
    top: 8px;
    left: 0;
}

.vacancy__head {
    float: left;
    width: 390px;
    margin-top: -5px;
}

.vacancy-items {
    float: right;
    width: 860px;
}

.vacancy-item {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    margin-right: 112px;
}

.vacancy-item:last-child {
    margin-right: 0;
}

.vacancy-item h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.vacancy-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 32px;
}

.vacancy_link a {
    padding-right: 51px;
}

.vacancy_link a:after {
    right: 26px;
}

/* Service */
.service .about__text {
    margin-bottom: 45px;
}

.service_about {
    margin: 21px 0;
    background: none;
}

.service-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
}

.service-item {
    width: 300px;
    height: 350px;
    background: #eff2f4;
    margin: 0 20px 20px 0;
    padding: 93px 30px 0;
    position: relative;
    text-align: center;
    transition: background 500ms;
}

.service-item:hover {
    background: #00aeef;
    padding-top: 57px;
}

.service-item:hover .service-item-img {
    background-position: right;
}

.service-item:hover .service-item_link {
    opacity: 1;
    visibility: visible;
}

.service-item:hover p {
    color: #fff;
}

.service-item__yet {
    color: #00aeef;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.service-item__yet span {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.service-item__tel {
    font-size: 24px;
    color: #00aeef;
    margin-top: 10px;
}

.service-item__tel:hover {
    color: #000;
}

.service-item_info:hover {
    color: inherit;
    padding-top: 93px;
    background: #eff2f4;
}

.service-item_info:hover p {
    color: inherit;
}

.service-item-img {
    background: url(../images/service1.png) no-repeat left;
    width: 128px;
    height: 71px;
    margin: 0 auto 30px;
}

.service-item-img2, .service-item-img3, .service-item-img4, .service-item-img5, .service-item-img6, .service-item-img7, .service-item-img8, .service-item-img9, .service-item-img10, .service-item-img11, .service-item-img12, .service-item-img13, .service-item-img14 {
    background: url(../images/service2.png) no-repeat left;
    width: 86px;
    height: 85px;
}

.service-item-img3 {
    background: url(../images/service3.png) no-repeat left;
}

.service-item-img4 {
    background: url(../images/service4.png) no-repeat left;
}

.service-item-img5 {
    background: url(../images/service5.png) no-repeat left;
}

.service-item-img6 {
    background: url(../images/service6.png) no-repeat left;
}

.service-item-img7 {
    background: url(../images/service7.png) no-repeat left;
}

.service-item-img8 {
    background: url(../images/service8.png) no-repeat left;
}

.service-item-img9 {
    background: url(../images/service9.png) no-repeat left;
}

.service-item-img10 {
    background: url(../images/service10.png) no-repeat left;
}

.service-item-img11 {
    background: url(../images/service11.png) no-repeat left;
}

.service-item-img12 {
    background: url(../images/service12.png) no-repeat left;
}

.service-item-img13 {
    background: url(../images/service13.png) no-repeat left;
}

.service-item-img14 {
    background: url(../images/service14.png) no-repeat left;
}

.service-item_big {
    width: 620px;
    padding: 100px 137px 0 158px;
}

.service-item p {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
}

.service-item_link {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -81px;
}

.service-item_link span {
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 900;
    line-height: 47px;
    text-transform: uppercase;
    padding: 0 40px 0 20px;
    border: 2px solid #fff;
    position: relative;
    transition: 300ms;
}

.service-item_link span:after {
    content: '>';
    display: block;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 18px;
    transition: 300ms;
}

.service-item_link span:hover {
    color: #fff;
}

/* Service-slider */
.service-slider {
    padding: 40px 0 48px;
    position: relative;
}

.service-slider .benefit_info {
    top: 54px;
}

.service-slider .benefit-item {
    margin-bottom: 0;
}

.service-slider_head {
    margin-bottom: 51px;
}

.service-slider-items {
    font-size: 0;
    position: relative;
}

.service-slider-items .slick-prev,
.service-slider-items .slick-next {
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/main-clients-slider.png) no-repeat left;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 25px;
    left: -80px;
}

.service-slider-items .slick-next {
    background-position: right;
    left: auto;
    right: -80px;
}

/* Serve */
.serve {
    padding: 32px 0 34px 0;
}

.serve_works .main-works {
    padding: 45px 0 36px;
}

.serve-content {
    width: 940px;
    margin: 0 auto 50px;
}

.serve-content h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.serve-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 34px;
}

.serve-content p:last-child {
    margin-top: 65px;
}

.serve-content h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.serve-content li {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 28px;
}

.serve-slider {
    width: 940px;
    margin: 0 auto 54px;
    padding: 48px 0 55px;
}

.serve-slider .benefit-item {
    margin: 0 50px;
    width: 370px;
}

.serve-slider-wrap {
    background: #ecf1f4;
}

.serve-slider__head {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.serve-slider-items {
    font-size: 0;
    position: relative;
}

.serve-slider-items .slick-prev,
.serve-slider-items .slick-next {
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/main-clients-slider.png) no-repeat left;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 25px;
    left: 0;
}

.serve-slider-items .slick-next {
    background-position: right;
    left: auto;
    right: 0;
}

.serve_link {
    text-align: center;
}

.serve_link a {
    padding: 0 20px 0 36px;
}

.serve_link a:after {
    content: '<';
    display: block;
    right: auto;
    left: 12px;
}

/* Works */
.works .works-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
    margin-bottom: 34px;
}

.works .works-item:nth-child(3n) {
    margin-right: auto;
}

.works-item {
    margin-bottom: 48px;
}

.works-item_big {
    width: 820px;
}

.works-item_big .works-item__img {
    width: 100%;
}

.works-item_big .works-item-info,
.works-item_big .works-item__head {
    width: 380px;
}

.works-nav {
    text-align: center;
    margin-bottom: 30px;
}

.works-nav li {
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 7px 0;
}

.works-nav li.active a {
    color: #fff;
    background: #00aeef;
}

.works-nav li a {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    background: #eff2f4;
    padding: 0 7px 0 6px;
    color: #00aeef;
    text-transform: uppercase;
}

.works-nav li a:hover {
    color: #fff;
    background: #00aeef;
}

/* Pagination */
.pagination {
    text-align: center;
    margin-bottom: 66px;
}

.pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination li a {
    width: 50px;
    line-height: 45px;
    border: 2px solid #009ee3;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
}

.pagination li a:hover {
    color: #fff;
    background: #00aeef;
    border: 2px solid #00aeef;
}

.pagination .pagination-prev a,
.pagination .pagination-next a {
    border: 2px solid transparent;
    color: #00aeef;
}

.pagination .pagination-prev a:hover,
.pagination .pagination-next a:hover {
    background: #fff;
    color: #00aeef;
    border: 2px solid transparent;
}

.working .serve {
    padding-top: 38px;
    padding-bottom: 21px;
}

.working .serve-content h2 {
    line-height: 1.3;
    margin-bottom: 35px;
}

.working .serve-content p {
    margin-bottom: 30px;
}

.working .serve-content p:last-child {
    margin-top: 0;
}

.working__data {
    color: #939598;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
}

.working-slider {
    width: 780px;
    height: 440px;
    margin: 44px auto 90px;
    position: relative;
}

.working-slider .slick-prev,
.working-slider .slick-next {
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/main-clients-slider.png) no-repeat left;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: -80px;
}

.working-slider .slick-next {
    background-position: right;
    left: auto;
    right: -80px;
}

.working-slider .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -90px;
}

.working-slider .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border: 2px solid #00aeef;
    margin: 0 10px;
    cursor: pointer;
}

.working-slider .slick-dots li button {
    display: none;
}

.working-slider .slick-dots .slick-active {
    width: 18px;
    height: 18px;
    background-color: #00aeef;
    border: 2px solid #00aeef;
}

.working-slider-item img {
    width: 100%;
    height: 100%;
}

/* Contacts */
.contacts_callback .callback {
    padding-bottom: 18px;
}

.contacts_callback .callback-info button {
    margin-top: 7px;
}

.contacts_vacancy .vacancy {
    padding: 55px 0 53px;
}

.contacts .about__text {
    width: 940px;
    margin-bottom: 52px;
}

.contacts-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 55px;
}

.contacts-item {
    width: 250px;
    margin-right: 192px;
    position: relative;
}

.contacts-item:before {
    content: '';
    display: block;
    background: url(../images/head-before.png) no-repeat 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -7px;
}

.contacts-item:nth-child(3) {
    margin-right: 0;
}

.contacts-item-img {
    height: 110px;
}

.contacts-item p {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

.contacts-item__tel {
    margin: 3px 0 8px;
}

.contacts-item__tel a {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.contacts-item__tel a:hover {
    color: #00aeef;
}

.contacts-item__mail a {
    font-size: 24px;
    font-weight: 700;
    color: #00aeef;
}

.contacts-item__mail a:hover {
    color: #000;
}

/* Clients */
.clients .about__text {
    margin-bottom: 43px;
}

.clients-item {
    position: relative;
    margin-bottom: 48px;
}

.clients-item:before {
    content: '';
    display: block;
    background: url(../images/clients-quote.png) no-repeat 50%;
    width: 66px;
    height: 39px;
    position: absolute;
    top: 0;
    left: 0;
}

.clients-item-content {
    float: left;
    width: 580px;
    padding: 40px 0 0 80px;
}

.clients-item-content p {
    font-size: 16px;
    line-height: 1.65;
    font-weight: 400;
    margin-bottom: 31px;
}

.clients-item-content span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.clients-item-img {
    float: right;
    width: 620px;
    position: relative;
    cursor: pointer;
}

.clients-item-img:hover:after, .clients-item-img:hover:before {
    opacity: 1;
}

.clients-item-img:after {
    content: '';
    display: block;
    background: rgba(0, 174, 239, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.clients-item-img:before {
    content: '';
    display: block;
    background: url(../images/clients-zoom.png) no-repeat 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 50%;
    margin-left: -40px;
    z-index: 5;
    opacity: 0;
    transition: 300ms;
}

.clients-slider {
    padding: 50px 0 100px;
    margin-top: 70px;
}

.clients-slider_head {
    margin-bottom: 60px;
}

.clients-slider-wrap {
    background: #eff2f4;
    margin-bottom: 77px;
}

.clients-slider-items {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.clients-slider-items .slick-prev,
.clients-slider-items .slick-next {
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/main-clients-slider.png) no-repeat left;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: -80px;
}

.clients-slider-items .slick-next {
    background-position: right;
    left: auto;
    right: -80px;
}

.clients-slider-items .slick-dots {
    position: absolute;
    bottom: -70px;
    right: 30px;
}

.clients-slider-items .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border: 2px solid #00aeef;
    margin: 0 10px;
    cursor: pointer;
}

.clients-slider-items .slick-dots li button {
    display: none;
}

.clients-slider-items .slick-dots .slick-active {
    width: 18px;
    height: 18px;
    background-color: #00aeef;
    border: 2px solid #00aeef;
}

.clients-slider-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
}

.clients_pagination {
    margin-top: 82px;
}

/*# sourceMappingURL=style.css.map */