@font-face {
    font-family: 'PragmaticaC';
    src: url('../fonts/PragmaticaC.woff2') format('woff2'),
        url('../fonts/PragmaticaC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaC';
    src: url('../fonts/PragmaticaC-Bold.woff2') format('woff2'),
        url('../fonts/PragmaticaC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaLightC';
    src: url('../fonts/PragmaticaLightC.woff2') format('woff2'),
        url('../fonts/PragmaticaLightC.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}