@media only screen and (max-width: 1610px) {
  .showcase-wrap .slick-arrow {
    left: 100px; }
  .showcase-wrap .slick-next {
    left: auto;
    right: 100px; }
  .offer-items .slick-arrow {
    left: -95px; }
  .offer-items .slick-next {
    left: auto;
    right: -95px; } }

@media only screen and (max-width: 1450px) {
  .showcase-wrap .slick-arrow {
    left: 0; }
  .showcase-wrap .slick-next {
    left: auto;
    right: 0; }
  .offer-items .slick-arrow {
    left: 0; }
  .offer-items .slick-next {
    left: auto;
    right: 0; } }

@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1170px; }
  .showcase {
    height: 650px;
    padding-top: 140px; }
    .showcase-head {
      font-size: 64px; }
  .main-offers-item {
    padding-left: 25px; }
  .main-offers-img {
    margin-right: 22px; }
  .main-offers-head {
    font-size: 23px; }
  .reception {
    padding: 82px 0 28px 210px; }
    .reception-head {
      font-size: 40px;
      margin-bottom: 18px; }
  .footer {
    padding-top: 44px; }
    .footer-item {
      margin: 0 100px 0 0; }
  .sight-info__head {
    margin-bottom: 18px; }
  .sight-info__text {
    margin-bottom: 16px; }
  .article-img img {
    width: 575px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px; }
  .slick-arrow i {
    font-size: 44px; }
  .nav {
    margin-right: 20px; }
    .nav li {
      padding-right: 20px;
      margin-right: 8px; }
  .header-info__tel {
    font-size: 22px; }
  .bread {
    margin-bottom: 42px; }
    .bread-head {
      font-size: 46px; }
  .showcase {
    width: 792px;
    height: 550px;
    padding-top: 90px; }
    .showcase-head {
      font-size: 52px; }
  .main-offers {
    margin-bottom: 25px; }
    .main-offers-head {
      font-size: 20px; }
  .offer-items {
    margin-bottom: 100px; }
  .offer-content {
    width: 480px;
    padding: 26px 0 0 54px; }
    .offer-content__head {
      font-size: 38px; }
    .offer-content__text {
      font-size: 20px; }
    .offer-content__img {
      background-size: 70%;
      bottom: -54px;
      left: -52px; }
  .offer-info {
    padding: 20px 0 26px; }
    .offer-info__amount {
      font-size: 30px; }
  .main-contacts-wrap {
    height: 350px; }
  .main-contacts-content {
    width: 540px;
    padding: 24px 0 0; }
    .main-contacts-content:after {
      border-width: 450px 220px 0 0;
      right: -70px; }
  .main-contacts-head {
    font-size: 48px; }
  .main-contacts-text, .main-contacts-tel {
    font-size: 18px; }
  .main-contacts-head {
    font-size: 44px;
    margin-bottom: 12px; }
  .main-contacts-soc {
    padding-top: 32px; }
  .footer-item {
    margin: 0 50px 0 0; }
  .sight-head {
    font-size: 22px; }
  .sight-item {
    margin-bottom: 36px; }
    .sight-item-img {
      margin-bottom: 14px; }
  .sight-info {
    padding: 20px 20px 0 20px; }
    .sight-info__head {
      margin-bottom: 8px; }
    .sight-info__text {
      line-height: 1.3;
      margin-bottom: 18px; }
  .pagination {
    padding-bottom: 36px; }
  .contacts {
    padding-bottom: 30px; }
    .contacts-content {
      padding: 0px 40px 0 144px; }
  .article b, .article p {
    padding: 0 25px; }
  .article-img {
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding-top: 10px; }
    .article-img img {
      width: auto;
      margin: 0 auto 15px; }
  .catalog-info {
    padding-top: 20px; }
    .catalog-info__head {
      margin-bottom: 12px; }
    .catalog-info__text {
      line-height: 1.3;
      margin-bottom: 26px; }
  .catalog-star {
    margin-bottom: 20px; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px; }
  .nav-wrap {
    padding-top: 16px; }
  .nav li {
    padding-right: 18px;
    margin-right: 6px; }
  .header {
    flex-direction: column; }
    .header-info__tel {
      font-size: 20px; }
  .bread {
    padding: 30px 0 36px; }
    .bread-head {
      font-size: 38px; }
  .showcase {
    width: 672px;
    padding-top: 70px; }
    .showcase-head {
      font-size: 46px;
      margin-bottom: 10px; }
    .showcase-img {
      margin-bottom: 12px; }
  .main-offers-item {
    padding: 30px 10px; }
    .main-offers-item:after {
      background-size: 80%;
      bottom: -14px;
      right: -14px; }
  .main-offers-img {
    width: 80px;
    height: 80px;
    margin-right: 12px; }
  .main-offers-head {
    font-size: 18px; }
  .offer {
    height: 296px;
    background-color: #d60e87; }
    .offer-content {
      position: static;
      width: 100%;
      padding-right: 54px; }
      .offer-content:after, .offer-content:before {
        display: none; }
      .offer-content__head {
        font-size: 32px; }
      .offer-content__text {
        font-size: 18px; }
    .offer-img {
      display: none; }
  .reception {
    padding: 18px 10px 12px; }
    .reception:before {
      display: none; }
    .reception-head {
      font-size: 36px;
      margin-bottom: 6px; }
  .main-contacts-content {
    width: 520px; }
    .main-contacts-content:after {
      border-width: 450px 140px 0 0;
      right: 12px; }
  .footer {
    flex-direction: column;
    padding-top: 30px; }
    .footer-logo {
      margin: 0 auto 20px; }
      .footer-logo-wrap {
        text-align: center; }
      .footer-logo-content {
        position: absolute;
        bottom: 18px;
        left: 0;
        right: 0;
        text-align: center; }
    .footer-items {
      padding-right: 0;
      justify-content: center; }
  .bottom {
    padding-bottom: 70px; }
  .sight-items {
    justify-content: center; }
  .sight-item {
    width: 600px;
    margin-right: 0; }
    .sight-item:nth-child(2n) {
      margin-right: 0; }
  .article {
    padding-bottom: 14px; }
    .article b, .article p {
      line-height: 1.35;
      margin-bottom: 16px; }
  .catalog-items {
    justify-content: center; }
  .catalog-item {
    width: 40%;
    margin: 0 2% 44px; }
    .catalog-item:nth-child(3n) {
      margin: 0 2% 44px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .burger {
    display: block;
    width: 30px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 30px;
        height: 4px;
        background-color: #12a3d8;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background-color: #12a3d8;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -8px; }
        .burger a span:after {
          top: 8px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px;
    padding: 0; }
    .nav-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      margin-top: 10px; }
      .nav-wrap.active {
        opacity: 1;
        visibility: visible;
        margin-top: 0; }
    .nav li {
      padding-right: 0;
      margin: 8px 0; }
      .nav li:after {
        display: none; }
      .nav li a {
        padding: 0 0 2px; }
  .header {
    flex-direction: row;
    position: relative;
    padding: 15px; }
    .header-wrap .container {
      max-width: 100%; }
    .header-info {
      justify-content: center;
      align-items: center; }
  .bread-head {
    margin-bottom: 0;
    font-size: 30px; }
  .showcase {
    width: 100%;
    height: 460px;
    padding-top: 60px; }
    .showcase-head {
      font-size: 36px; }
    .showcase-text {
      line-height: 1.35; }
  .main-offers-item {
    width: 100%;
    margin-right: 0; }
  .reception {
    padding: 20px 0 12px; }
    .reception-head {
      font-size: 28px; }
    .reception-text {
      line-height: 1.35; }
  .main-contacts-wrap {
    background-color: #d60e87;
    height: auto; }
  .main-contacts-content {
    position: static;
    width: 100%;
    padding: 20px 0; }
    .main-contacts-content:after {
      display: none; }
  .main-contacts-map {
    height: 300px; }
  .main-contacts-head {
    font-size: 38px; }
  .footer-item {
    margin: 0 30px 0 0; }
    .footer-item__info {
      font-size: 18px; }
  .contacts-content {
    padding: 0; }
  .contacts-head {
    font-size: 46px; }
  .article b, .article p {
    padding: 0; }
  .catalog-item {
    width: 60%; }
    .catalog-item-img {
      margin-bottom: 14px; }
    .catalog-item__head {
      font-size: 22px; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px; }
  .logo {
    width: 144px; }
  .header {
    padding: 10px; }
    .header-wrap .container {
      padding: 0; }
  .bread-head {
    font-size: 22px; }
  .showcase {
    height: 500px;
    padding-top: 44px; }
    .showcase-wrap .slick-arrow {
      display: none !important; }
    .showcase-wrap .slick-dots {
      bottom: 22px; }
    .showcase-text {
      padding: 0; }
    .showcase-head {
      font-size: 30px; }
  .main-offers-head {
    font-size: 15px; }
  .main-offers-img {
    width: 60px;
    height: 60px;
    margin-right: 8px; }
  .main-offers-item:after {
    background-size: 64%;
    bottom: -26px;
    right: -26px; }
  .reception:before {
    background-size: 70%;
    top: 0px;
    left: -42px; }
  .reception-head {
    font-size: 24px; }
  .reception-text {
    margin-bottom: 14px; }
  .main-contacts-head {
    font-size: 32px; }
  .footer {
    padding-bottom: 14px; }
    .footer-items {
      flex-direction: column; }
    .footer-item {
      margin-right: 0;
      margin-bottom: 18px;
      text-align: center; }
  .sight-head {
    font-size: 20px; }
  .sight-item {
    width: 100%;
    margin-bottom: 18px; }
  .sight-info {
    padding: 8px 8px 0 8px; }
    .sight-info .link {
      line-height: 32px;
      font-size: 12px;
      padding: 0 44px 0 16px; }
      .sight-info .link i {
        width: 25px;
        height: 24px;
        margin-top: -12px; }
  .pagination {
    font-size: 0; }
    .pagination li {
      width: 30px;
      height: 30px; }
      .pagination li a {
        line-height: 30px; }
  .contacts {
    padding: 5px 0 10px; }
    .contacts-head {
      font-size: 32px; }
  .article-img img {
    height: 200px; }
  .catalog-item {
    width: 300px;
    margin: 0 0 20px; }
    .catalog-item:nth-child(3n) {
      margin: 0 0 20px; }
  .catalog-info {
    padding: 18px 16px 0; }
    .catalog-info__head {
      font-size: 22px;
      margin-bottom: 10px; }
    .catalog-info__text {
      margin-bottom: 20px; }
  .catalog-star {
    margin-bottom: 14px; }
  .modal {
    width: 310px;
    padding: 10px; }
    .modal-head {
      font-size: 20px;
      line-height: 1.1; }
    .modal-input input {
      height: 40px;
      font-size: 15px; }
    .modal-input textarea {
      height: 85px;
      font-size: 15px; } }

@media only screen and (max-width: 462px) {
  .sight-info__head {
    font-size: 18px;
    margin-bottom: 4px; }
  .sight-info__text {
    line-height: 1.2;
    font-size: 14px;
    margin-bottom: 8px;
    max-height: 110px;
    overflow: hidden; }
  .offer-items .slick-arrow {
    display: none !important; }
  .offer-content {
    padding: 18px 10px 0; }
    .offer-content__head {
      font-size: 24px; }
    .offer-content__text {
      font-size: 16px; }
  .offer-info__amount {
    font-size: 24px; }
  .offer-info__price {
    font-size: 18px; } }
