button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'PragmaticaC', sans-serif; }

a {
  font: 400 16px 'PragmaticaC', sans-serif;
  display: inline-block;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.container {
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
  padding: 0; }

.burger {
  display: none; }

.link {
  line-height: 40px;
  background-color: #d60e87;
  box-shadow: 0 0 25px rgba(139, 0, 74, 0.45);
  border-radius: 30px;
  padding: 0 50px 0 24px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: relative; }
  .link:hover {
    color: #fff;
    background-color: #bf0877; }
    .link:hover i:before {
      color: #bf0877; }
  .link i {
    width: 28px;
    height: 27px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -13.5px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 1px 0 0 1px; }
    .link i:before {
      color: #d60e87; }

.logo {
  width: 169px;
  flex-shrink: 0; }

.nav {
  margin-right: 110px;
  padding-top: 8px; }
  .nav-wrap {
    display: flex;
    align-items: flex-start;
    padding-top: 10px; }
  .nav li {
    position: relative;
    padding-right: 29px;
    margin-right: 12px; }
    .nav li:after {
      content: '//';
      display: block;
      position: absolute;
      top: 0;
      right: 0; }
    .nav li:last-child {
      margin-right: 0;
      padding-right: 0; }
      .nav li:last-child:after {
        display: none; }
    .nav li a {
      padding: 0 0 4px;
      font-weight: 700;
      text-transform: uppercase;
      color: #d60e87;
      border-bottom: 2px solid #12a3d8; }
      .nav li a:hover {
        border-bottom: 2px solid transparent; }

.header {
  padding: 14px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .header-info__tel {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #12a3d8; }
      .header-info__tel:hover {
        color: #000; }
    .header-info__link {
      color: #12a3d8;
      text-decoration: underline; }
      .header-info__link:hover {
        color: #12a3d8; }

.bread {
  padding: 45px 0 50px;
  margin-bottom: 66px;
  text-align: center; }
  .bread-wrap {
    background-color: #d60e87; }
  .bread ul {
    margin-bottom: 16px;
    list-style: none; }
    .bread ul li {
      display: inline-block;
      padding-right: 24px;
      margin-right: 6px;
      position: relative; }
      .bread ul li:after {
        content: '//';
        display: block;
        color: #FFF;
        position: absolute;
        top: 0;
        right: 0; }
      .bread ul li a {
        color: #FFF;
        border-bottom: 1px solid #fff; }
        .bread ul li a:hover {
          border-bottom: 1px solid transparent; }
  .bread-head {
    font-size: 54px;
    font-weight: 700;
    color: #fff; }

.showcase {
  width: 880px;
  height: 849px;
  margin: 0 auto;
  padding-top: 258px;
  text-align: center;
  color: #fff; }
  .showcase-wrap {
    margin-bottom: 40px; }
    .showcase-wrap .slick-arrow {
      left: 168px; }
    .showcase-wrap .slick-next {
      left: auto;
      right: 168px; }
  .showcase-head {
    font-size: 84px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 27px; }
  .showcase-img {
    width: 60px;
    height: 61px;
    margin: 0 auto 26px; }
  .showcase-text {
    line-height: 1.65;
    padding: 0 42px; }

.slick {
  position: relative; }
  .slick-arrow {
    border: none;
    cursor: pointer;
    transition: 300ms;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10; }
    .slick-arrow:focus {
      outline: none; }
    .slick-arrow i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 56px; }
      .slick-arrow i:before {
        color: rgba(255, 255, 255, 0.3);
        transition: 300ms; }
      .slick-arrow i:hover:before {
        color: #fff; }
  .slick-next {
    left: auto;
    right: 0; }
  .slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex; }
    .slick-dots li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 6px;
      width: 30px;
      height: 30px;
      border: 2px solid transparent;
      border-radius: 50%;
      cursor: pointer; }
      .slick-dots li button {
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        cursor: pointer; }
        .slick-dots li button:focus {
          outline: none; }
      .slick-dots li.slick-active {
        border: 2px solid #fff; }

.main-offers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px; }
  .main-offers-wrap {
    overflow: hidden; }
  .main-offers-item {
    position: relative;
    z-index: 1;
    width: 49.2%;
    margin: 0 1.6% 1.6% 0;
    background-color: #edf4f8;
    padding: 48px 10px 43px 36px;
    display: flex;
    align-items: center; }
    .main-offers-item:hover {
      background-color: rgba(237, 244, 248, 0.5); }
    .main-offers-item:nth-child(2n) {
      margin-right: 0; }
    .main-offers-item:after {
      content: '';
      display: block;
      background: url(../images/offers-b.png) no-repeat 50%;
      width: 147px;
      height: 146px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1; }
  .main-offers-img {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    margin-right: 30px; }
  .main-offers-head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    color: #000; }

.offer-items {
  margin-bottom: 120px;
  position: relative; }

.offer-content {
  width: 626px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 53px 0 0 67px; }
  .offer-content:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 397px 230px 0 0;
    border-color: #d60e87 transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -176px;
    bottom: 0;
    z-index: -1; }
  .offer-content:before {
    content: '';
    display: block;
    background-color: #d60e87;
    width: 2000px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 53px;
    z-index: -1; }
  .offer-content__head {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px; }
  .offer-content__text {
    font-size: 24px;
    margin-bottom: 6px;
    color: #fff; }
  .offer-content__img {
    background: url(../images/of-b.png) no-repeat 50%;
    width: 360px;
    height: 365px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; }

.offer-info {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding: 34px 0 39px; }
  .offer-info__amount {
    font-size: 34px;
    margin-right: 4px; }
  .offer-info__price {
    font-size: 24px;
    padding-bottom: 3px; }

.offer-items .slick-arrow {
  left: -162px; }
  .offer-items .slick-arrow i:hover:before {
    color: #19a6d9; }
  .offer-items .slick-arrow i:before {
    color: #d2e3ed; }

.offer-items .slick-next {
  left: auto;
  right: -162px; }

.offer-items .slick-dots {
  bottom: -62px; }
  .offer-items .slick-dots li button {
    background-color: #d2e3ed; }
  .offer-items .slick-dots li.slick-active {
    border: 2px solid #d60e87; }
    .offer-items .slick-dots li.slick-active button {
      background-color: #d60e87; }

.reception {
  position: relative;
  z-index: 5;
  padding: 103px 0 28px 240px; }
  .reception:before {
    content: '';
    display: block;
    background: url(../images/reception-b.png) no-repeat 50%;
    width: 298px;
    height: 307px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -1; }
  .reception-wrap {
    background-color: #edf4f8; }
  .reception-head {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 22px; }
  .reception-text {
    line-height: 1.65;
    margin-bottom: 25px; }

.main-contacts {
  position: relative; }
  .main-contacts-wrap {
    overflow: hidden;
    height: 450px; }
  .main-contacts-content {
    width: 620px;
    padding: 54px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10; }
    .main-contacts-content:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 150px;
      bottom: 0;
      height: 450px;
      background-color: #d60e87;
      width: 2000px;
      z-index: -1; }
    .main-contacts-content:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -110px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 450px 260px 0 0;
      border-color: #d60e87 transparent transparent transparent;
      z-index: -1; }
  .main-contacts-map {
    height: 100%;
    font-size: 0; }
    .main-contacts-map iframe {
      border: none;
      width: 100%;
      height: 100%; }
  .main-contacts-head {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 22px; }
  .main-contacts-img {
    width: 70px;
    height: 73px;
    margin-bottom: 18px; }
  .main-contacts-text {
    font-size: 24px;
    margin-bottom: 7px;
    color: #fff; }
  .main-contacts-tel {
    font-size: 24px;
    color: #fff; }
    .main-contacts-tel:hover {
      color: #000; }
  .main-contacts-soc {
    padding-top: 50px;
    font-size: 0; }
    .main-contacts-soc a {
      margin-right: 18px; }
      .main-contacts-soc a:last-child {
        margin-right: 0; }

/* Footer */
.footer {
  padding: 50px 0 24px;
  display: flex;
  justify-content: space-between; }
  .footer-wrap {
    background-color: #12a3d8; }
  .footer-logo {
    width: 169px;
    height: 80px;
    margin-bottom: 24px; }
    .footer-logo-content p {
      font-size: 14px;
      margin-bottom: 8px;
      color: #fff; }
      .footer-logo-content p:last-child {
        margin-bottom: 0; }
  .footer-items {
    display: flex;
    padding-right: 36px; }
  .footer-item {
    list-style: none;
    padding: 0;
    margin: 0 136px 0 0; }
    .footer-item:last-child {
      margin-right: 0; }
    .footer-item li {
      margin-bottom: 18px; }
      .footer-item li:last-child {
        margin-bottom: 0; }
      .footer-item li a {
        font-weight: 700;
        color: #fff; }
        .footer-item li a:hover {
          color: #000; }
    .footer-item__info {
      font-size: 24px; }

/* Bottom */
.bottom {
  text-align: center;
  padding-bottom: 25px; }
  .bottom span, .bottom a {
    color: #000;
    font-size: 14px; }
  .bottom a:hover {
    text-decoration: underline; }

.sight-items {
  display: flex;
  flex-wrap: wrap; }

.sight-item {
  width: 49.2%;
  margin: 0 1.6% 45px 0; }
  .sight-item:nth-child(2n) {
    margin-right: 0; }
  .sight-item-img {
    position: relative;
    margin-bottom: 26px; }
  .sight-item:hover .sight-info {
    opacity: 1;
    visibility: visible; }
  .sight-item:hover .sight-head {
    opacity: 0; }

.sight-head {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0; }

.sight-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #edf4f8;
  padding: 32px 40px 0 29px;
  transition: 300ms;
  opacity: 0;
  visibility: hidden; }
  .sight-info__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px; }
  .sight-info__text {
    line-height: 1.65;
    margin-bottom: 40px; }
  .sight-info .link {
    box-shadow: none; }

.pagination {
  justify-content: center;
  text-align: center;
  padding: 3px 0 54px; }
  .pagination ul {
    margin: 0;
    padding: 0; }
  .pagination li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px; }
    .pagination li.left, .pagination li.right {
      width: 28px;
      height: 27px;
      background-color: #dfe9ef;
      border-radius: 50%;
      margin-right: 5px; }
      .pagination li.left a, .pagination li.right a {
        height: 27px;
        line-height: 27px;
        color: #fff; }
        .pagination li.left a:hover, .pagination li.right a:hover {
          background-color: #12a3d8; }
        .pagination li.left a i, .pagination li.right a i {
          font-size: 21px;
          margin-top: 3px; }
    .pagination li.right {
      margin-right: 0;
      margin-left: 6px; }
    .pagination li.active a {
      color: #fff;
      background-color: #ec008c; }
    .pagination li a {
      width: 100%;
      line-height: 40px;
      border-radius: 50%;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
      .pagination li a:hover {
        color: #fff;
        background-color: #d60e87; }

.contacts {
  padding: 28px 0 52px;
  position: relative;
  z-index: 5; }
  .contacts:before {
    content: '';
    display: block;
    background: url(../images/reception-b.png) no-repeat 50%;
    width: 298px;
    height: 307px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1; }
  .contacts_bread {
    background-color: #bbd531; }
  .contacts-content {
    padding: 0 90px 0 240px; }
  .contacts-head {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2; }
  .contacts-text {
    line-height: 1.65;
    margin-bottom: 26px; }
    .contacts-text a {
      border-bottom: 1px solid #12a3d8;
      color: #12a3d8; }
      .contacts-text a:hover {
        border-bottom: 1px solid transparent; }

.article {
  padding-bottom: 32px; }
  .article_bread .bread {
    margin-bottom: 47px; }
  .article b, .article p {
    display: block;
    padding: 0 80px;
    line-height: 1.65;
    margin-bottom: 25px; }
  .article-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
    padding-top: 23px; }
    .article-img img {
      width: 620px; }

.catalog_bread {
  background-color: #12a3d8; }

.catalog-items {
  display: flex;
  flex-wrap: wrap; }

.catalog-item {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 48px; }
  .catalog-item:hover .catalog-info {
    opacity: 1;
    visibility: visible; }
  .catalog-item:hover .catalog-item__head {
    opacity: 0; }
  .catalog-item:nth-child(3n) {
    margin-right: 0; }
  .catalog-item-img {
    position: relative;
    margin-bottom: 24px; }
  .catalog-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0; }

.catalog-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #edf4f8;
  padding: 32px 28px 0;
  transition: 300ms;
  opacity: 0;
  visibility: hidden; }
  .catalog-info__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px; }
  .catalog-info__text {
    line-height: 1.65;
    margin-bottom: 33px; }
  .catalog-info .link {
    box-shadow: none;
    padding: 0 45px 0 20px; }

.catalog-star {
  margin-bottom: 42px; }
  .catalog-star i {
    color: #d60e87;
    margin-right: 6px; }
    .catalog-star i:last-child {
      margin-right: 0; }
    .catalog-star i.disable {
      color: #d0d8dd; }

.modal {
  display: none;
  width: 360px;
  background-color: #edf4f8;
  margin: 0 auto;
  padding: 28px;
  position: relative;
  z-index: 5; }
  .modal:after {
    content: '';
    display: block;
    background: url(../images/modal-after.png) no-repeat 50%;
    width: 176px;
    height: 158px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1; }
  .modal .check {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #959595; }
    .modal .check-wrap {
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin: 10px 0 22px; }
    .modal .check input {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer; }
      .modal .check input:checked + span:before {
        opacity: 1; }
    .modal .check span {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
      .modal .check span:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: #d60e87;
        opacity: 0;
        transition: 300ms; }
    .modal .check-text {
      padding-left: 34px;
      font-size: 14px; }
      .modal .check-text a {
        font-size: 14px;
        color: #12a3d8;
        text-decoration: underline; }
        .modal .check-text a:hover {
          text-decoration: none; }
  .modal .fieldset input {
    display: none; }
  .modal .fieldset .error-message {
    font-size: 14px;
    font-weight: 700;
    color: #d60e87;
    padding-top: 2px; }
  .modal-link {
    text-align: center; }
    .modal-link .link {
      border: none;
      cursor: pointer;
      transition: 300ms;
      padding: 0 56px 0 22px;
      box-shadow: none; }
  .modal-head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 5px; }
  .modal-input {
    margin-bottom: 14px; }
    .modal-input input, .modal-input textarea {
      width: 100%;
      height: 46px;
      border: none;
      border-bottom: 2px solid #12a3d8;
      font: 400 16px 'PragmaticaC';
      color: #000;
      background-color: transparent; }
      .modal-input input::-webkit-input-placeholder, .modal-input textarea::-webkit-input-placeholder {
        color: #000; }
      .modal-input input:-moz-placeholder, .modal-input textarea:-moz-placeholder {
        color: #000; }
      .modal-input input::-moz-placeholder, .modal-input textarea::-moz-placeholder {
        color: #000; }
      .modal-input input:-ms-input-placeholder, .modal-input textarea:-ms-input-placeholder {
        color: #000; }
    .modal-input textarea {
      resize: none;
      height: 94px;
      line-height: 1.2; }
  .modal .fancybox-close-small {
    display: none; }
