@media only screen and (max-width: 1360px) {
  .container {
    width: 1170px;
  }
  .nav {
    margin-right: 40px;
  }
  .nav li {
    margin-right: 15px;
  }
  .logo {
    margin-right: 30px;
  }
  .showcase {
    padding: 0 84px;
  }
  .price-available-item a {
    max-width: 170px;
  }
  .vs-header p{
    font-size: 28px;
    width: 290px;
  }
  .audit-item {
    height: 310px;
  }
  .interest-item--head {
    font-size: 16px;
  }
  .footer-nav ul {
    max-width: 190px;
    margin-right: 30px;
  }
  .buh--head {
    font-size: 37px;
  }
  .buh-content p {
    line-height: 1.3;
    font-size: 17px;
    margin-bottom: 20px;
  }
  .subscribe form input {
    width: 280px;
  }
}

@media only screen and (max-width: 1170px) {
  .container {
    width: 970px;
  }
  .header-info,
  .showcase img {
    display: none;
  }
  .logo {
    margin-right: 74px;
  }
  .showcase-content--head,
  .showcase-content p,
  .showcase-content,
  .interest-item--img,
  .interest-item-content {
    max-width: 100%;
    width: 100%;
  }
  .showcase-content--head {
    font-size: 42px;
  }
  .head {
    font-size: 38px;
  }
  .caption,
  .know-item--head,
  .how--order a,
  .price-available-item a{
    font-size: 20px;
  }
  .services-item a {
    font-size: 28px;
  }
  .know-item p {
    font-size: 14px;
  }
  .price-available--head,
  .price-tab,
  .type-tab,
  .top p, .top a {
    font-size: 24px;
  }
  .price-available-item{
    margin: 0 15px;
  }
  .price-available-item a {
    max-width: 150px;
  }
  .input-wrap label {
    width: 225px;
  }
  .price-content--check label{
    max-width: 87%;
    font-size: 14px;
    padding-left: 5px;
  }
  .price-content--check {
    width: 24%;
  }
  .price-content--dont {
    margin-right: 100px;
  }
  .price-content-send span {
    width: 306px;
  }
  .vs-header img {
    width: 300px;
  }
  .audit--form input {
    width: 256px;
  }
  .audit-item a {
    font-size: 52px;
    line-height: 1;
  }
  .type-item {
    width: 49%;
  }
  .type-item:nth-child(3n) {
    margin-right: 2%;
  }
  .type-item:nth-child(2n) {
    margin-right: 0%;
  }
  .interest-item {
    padding-right: 10px;
  }
  .interest-item-content {
    padding-top: 30px;
  }
  .footer-nav {
    text-align: center;
    float: none;
  }
  .footer-info {
    float: none;
    text-align: center;
    margin: 30px auto 0;
  }
  .footer-info-form {
    width: 343px;
    margin: 15px auto;
  }
  .inner-item a{
    font-size: 23px;
  }
  .buh-img {
    display: none;
  }
  .buh-content {
    width: 100%;
  }
  .blog .sidebar {
    width: 20%;
  }
  .subscribe form input {
    width: 75%;
  }
  .subscribe form button {
    width: 25%;
  }
  .subscribe form {
    width: 100%;
    margin-top: 15px;
  }
  .subscribe p {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .header-connect a {
    font-size: 16px;
    width: 130px;
  }
  .nav a {
    font-size: 16px;
  }
  .nav {
    margin-right: 0;
  }
  .logo {
    width: 105px;
    margin-right: 25px;
    margin-top: 29px;
  }
  .showcase-item {
    padding: 50px 0;
  }
  .showcase .slick-arrow{
    background-size: cover;
    width: 25px;
    height: 47px;
    margin-top: -23px;
  }
  .showcase-content {
    padding: 20px;
  }
  .slick-dots {
    display: none!important;
  }
  .services-item,
  .know-item,
  .price-content--check {
    width: 32%;
  }
  .services-item a {
    font-size: 22px;
  }
  .price-available-item:before{
    display: none;
  }
  .price-available-item {
    height: auto;
    text-align: center;
    padding: 30px 0;
  }
  .price-available-item--img{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .price-available,
  .price-content-wrap {
    height: 830px;
  }
  .price-content--dont {
    margin-right: 20px;
  }
  .price-content--price span{
    font-size: 46px;
  }
  .price-content--price {
    margin-top: -6px;
  }
  .price-content-send span{
    width: 186px;
  }
  .vs-header img{
    width: 270px;
  }
  .vs-header p {
    width: 220px;
  }
  .vs-header p {
    font-size: 21px;
  }
  .head {
    font-size: 32px;
  }
  .audit-item-wrap {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-nav ul {
    max-width: 180px;
    margin-right: 20px;
  }
  .social a {
    margin: 0 5px;
  }
  .inner-item img {
    width: 40px;
  }
  .inner-item a {
    font-size: 18px;
  }
  .reason-item--head {
    font-size: 26px;
  }
  .service .content h3 {
    margin-left: 0;
  }
  .service .content-in {
    padding-left: 0;
  }
  .service .content {
    width: 70%;
  }
  .sidebar {
    width: 25%;
  }
  .blog .sidebar {
    width: 25%;
  }
  .blog-items {
    width: 72%;
  }
  .blog-item--img {
    width: 100%;
    text-align: center;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .blog-item--img img {
    display: inline-block;
  }
  .blog-item-content {
    width: 100%;
  }
  .blog .content h3 {
    margin-left: 0;
  }
  .blog .content-in {
    padding-left: 0;
  }
  .content--date {
    position: static;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .price-available--head, .price-tab, .type-tab, .top p, .top a {
    font-size: 20px;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: #222;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before, .burger-wrap a span:after {
    position: absolute;
    background: #222;
    content: '';
    width: 20px;
    height: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }

  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            -ms-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  .burger-wrap a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            -ms-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  .burger-wrap {
    display: block;
    position: absolute;
    top: 27px;
    right: 170px;
  }
  .nav {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 100%;
    background: #fff;
    margin-top: 0;
    z-index: 100;
    padding: 20px 0;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .nav.active {
    right: 0;
  }
  .nav li {
    display: block;
    text-align: center;
    margin: 20px 0;
  }
  .nav a {
    font-size: 18px;
  }
  .showcase {
    padding: 0 49px;
  }
  .showcase-content {
    border-width: 5px;
    padding: 15px;
  }
  .showcase-content--head{
    font-size: 32px;
  }
  .showcase-content p {
    font-size: 18px;
  }
  .services-item,
  .know-item {
    width: 100%;
    margin: 10px auto;
  }
  .know-item {
    padding-right: 0;
  }
  .caption {
    font-size: 18px;
  }
  .how-content img,
  .how--connect {
    display: none;
  }
  .how--text {
    display: block;
    position: static;
    text-align: center;
    width: 100%;
    margin: 30px 0;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
  }
  .how--text:after {
    content: '';
    display: block;
    width: 20px;
    height: 12px;
    background: url(../images/select.png) no-repeat center;
    position: absolute;
    bottom: -23px;
    left: 50%;
    margin-left: -10px;
  }
  .how-content {
    height: auto;
    width: auto;
  }
  .how {
    padding-bottom: 50px;
  }
  .how--caption {
    margin-bottom: 40px;
  }
  .how--order {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
  }
  .price-available {
    width: 100%;
    height: auto;
  }
  .price-available-item--img {
    width: 100%;
  }
  .price-available-item a {
    max-width: 100%;
  }
  .head {
    font-size: 28px;
  }
  .price-content-wrap {
    width: 100%;
    height: auto;
  }
  .price-content--check {
    width: 49%;
  }
  .price-content--dont {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .price-content-send span {
    width: 100%;
    margin-bottom: 20px;
  }
  .price-content-send {
    padding-bottom: 20px;
  }
  .vs-header img {
    margin: 10px 0;
  }
  .vs-header p {
    display: block;
    margin: 0 auto;
    text-align: center!important;
  }
  .vs-item {
    width: 100%;
  }
  .audit--form input {
    width: 216px;
  }
  .audit-item {
    padding-bottom: 20px;
    height: auto;
  }
  .type-tab {
    font-size: 18px;
  }
  .type-item {
    padding: 15px;
  }
  .type-item img {
    display: none;
  }
  .interest-item-content {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-nav ul {
    width: 50%;
    padding-right: 15px;
    margin-right: 0;
  }
  .bot .copy {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .bot .created {
    float: none;
    width: 100%;
    text-align: center;
  }
  .inner-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .inner-item:last-child {
    margin-bottom: 0;
  }
  .inner-item a {
    text-align: left;
  }
  .reason-item {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }
  .head {
    border-bottom: 0;
  }
  .cost-item {
    padding: 0 43px;
  }
  .cost-item--header p{
    font-size: 22px;
  }
  .cost-item-content li {
    font-size: 16px;
  }
  .map-content {
    position: static;
    margin: 30px 0;
    width: auto;
    padding: 0;
  }
  .map .audit-item-wrap {
    position: static;
    width: auto;
  }
  .contacts-content {
    padding-left: 0;
  }
  .content h3 {
    margin-left: 0;
  }
  .content-in {
    padding-left: 0;
  }
  .service .content {
    width: 100%;
  }
  .sidebar,
  .blog .sidebar {
    width: 280px;
    float: none;
    margin: 0 auto 30px;
  }
  .banner {
    display: block;
    text-align: center;
  }
  .banner img {
    display: inline-block;
  }
  .blog-items {
    width: 100%;
  }
  .subscribe form input {
    width: 68%;
  }
  .subscribe form button {
    width: 32%;
  }
  .map iframe {
    position: static;
  }
  .map {
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .burger-wrap {
    right: 164px;
  }
  .showcase-wrap {
    display: none;
  }
  .price-content {
    padding: 0 10px;
  }
  .input-wrap select,
  .input-wrap input {
    max-width: 100%;
  }
  .price-content--check label {
    max-width: 85%;
  }
  .vs-item {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
  }
  .audit--form input {
    width: 224px;
  }
  .type-tab {
    width: 100%;
    margin-bottom: 15px;
  }
  .type-item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .interest-item {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .footer-nav ul{
    width: 250px;
    margin-bottom: 20px;
  }
  .footer-info-form input {
    width: 223px;
  }
  .price-content-send span {
    margin-right: 0;
  }
  .footer-info-form {
    width: 275px;
  }
  .cost-item {
    padding: 0 5px 0 30px;
  }
  .map span {
    width: 100%;
  }
  .content-social {
    position: static;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
  .subscribe form input {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  .subscribe form button {
    width: 200px;
    float: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
  }
  .subscribe {
    padding: 15px;
  }
}