* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
  min-height: 100vh;
  position: relative;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: inline-block;
  font-size: 18px;
  color: #000;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1340px;
  margin: 0 auto;
  position: relative;
}

.head {
  font: bold 42px "PT Serif";
  color: #000;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 5px solid #c29f63;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
}

.caption {
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 880px;
}

.top {
  text-align: center;
  padding: 16px 0 14px;
}

.top-wrap {
  background: #c29f63;
}

.top p,
.top a {
  font: bold 28px "PT Serif";
}

.top a {
  text-decoration: underline;
}

.top a:hover {
  text-decoration: none;
}

.header-wrap.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
}

.header-wrap {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
}

.index-header {
  position: static;
}

.header {
  padding: 0 0 15px;
}

.header-info {
  float: left;
  margin-top: 17px;
}

.header-info--tel {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header-info--text {
  font-size: 14px;
}

.header-connect {
  float: right;
  margin-top: 16px;
}

.header-connect a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f15b46;
  line-height: 50px;
  border-radius: 3px;
  width: 160px;
  text-align: center;
}

.header-connect a:hover {
  background: #dd533f;
}

.logo {
  float: left;
  margin: 20px 70px 0 0;
}

.nav {
  float: left;
  margin: 33px 70px 0 0;
}

.nav li {
  display: inline-block;
  margin: 0 30px 0 0;
  position: relative;
}

.nav li:hover .sub-menu {
  opacity: 1;
  z-index: 9999;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: -15px;
  width: 250px;
  background: #fff;
  z-index: -1;
  padding: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
}

.sub-menu li {
  display: block;
  margin: 10px 0;
}

.sub-menu li a {
  font-size: 16px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  text-decoration: underline;
}

.nav a:hover {
  text-decoration: none;
}

.services {
  padding: 45px 0;
  text-align: center;
}

.services--head {
  margin-bottom: 20px;
}

.services--caption {
  margin-bottom: 35px;
}

.services-item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.services-item img {
  display: block;
  margin: 0 auto 12px;
}

.services-item a {
  color: #290e5e;
  font: bold 32px "PT Serif";
  text-decoration: underline;
}

.services-item a:hover {
  text-decoration: none;
}

.showcase {
  padding: 0 114px;
}

.showcase-wrap {
  background: #290e5e url(../images/showcase.png) repeat center;
}

.showcase-item {
  position: relative;
  padding: 104px 0;
}

.showcase-content {
  width: 85%;
  border: 10px solid #c29f63;
  padding: 53px 67px;
}

.showcase-content--head {
  color: #c29f63;
  font: bold 72px/1.1 "PT Serif";
  margin-bottom: 33px;
  max-width: 550px;
}

.showcase-content p {
  color: #fff;
  font-size: 24px;
  line-height: 1.6;
  max-width: 550px;
}

.showcase img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.showcase .slick-arrow {
  width: 45px;
  height: 84px;
  background: url(../images/showcase-arrow.png) left center;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -42px;
  cursor: pointer;
  border: none;
}

.showcase .slick-next {
  left: auto;
  right: 0;
  background-position: right center;
}

.showcase .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 196px;
}

.showcase .slick-dots li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #c29f63;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.showcase .slick-dots li.slick-active,
.showcase .slick-dots li:hover {
  background: #fff;
  border: 2px solid #fff;
}

.showcase .slick-dots li button {
  display: none;
}

.know {
  position: relative;
  text-align: center;
  padding: 73px 0 40px;
  overflow: hidden;
}

.know:before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  top: -35px;
  left: 50%;
  margin-left: -35px;
  position: absolute;
}

.know-wrap {
  background: #c29f63 url(../images/know.png) repeat center;
}

.know--head {
  color: #fff;
  border-bottom: 5px solid #fff;
  margin-bottom: 35px;
}

.know-item {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding-right: 25px;
  text-align: left;
}

.know-item--head {
  font-size: 24px;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 50px;
  background: url(../images/tick.png) no-repeat left center;
}

.know-item p {
  line-height: 1.4;
  margin: 25px 0;
}

.know-item a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.know-item a:hover {
  text-decoration: none;
}

.how {
  padding: 40px 0 122px;
  text-align: center;
}

.how--caption {
  margin: 20px auto 100px;
}

.how-content {
  display: block;
  width: 476px;
  height: 470px;
  margin: 0 auto;
  position: relative;
  background: url(../images/how2.png) 29px 30px  no-repeat;
}

.how--text {
  width: 150px;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.how--text_1 {
  left: 160px;
  top: -40px;
}

.how--text_1 .num {
  left: 57px;
  top: 53px;
}

.how--text_2 {
  left: 460px;
  top: 164px;
}
.how--text_2 .num {
  left: -46px;
  top: 3px;
}

.how--text_3 {
  left: 342px;
  top: 430px;
}
.how--text_3 .num {
  left: -3px;
  top: -48px;
}

.how--text_4 {
  left: -22px;
  top: 437px;
}
.how--text_4 .num {
  left: 117px;
  top: -57px;
}

.how--text_5 {
  left: -129px;
  top: 145px;
}
.how--text_5 .num {
  left: 147px;
  top: 8px;
}

.how--connect {
  color: #f15b46;
  font: italic bold 18px "PT Serif";
  position: absolute;
  top: -49px;
  right: -190px;
  width: 235px;
  display: block;
  text-align: center;
}

.how--arrow {
  position: absolute;
  right: 20px;
  top: -10px;
}

.how--order {
  position: absolute;
  width: 100%;
  left: 0;
  top: 166px;
}
.how--order .circle-content {

}

.how--text .num {
  width: 45px;
  height: 45px;
  background: url(../images/circle-dot.png);
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 22px;
  position: absolute;
}

.how--order a {
  color: #290e5e;
  font: bold 24px "PT Serif";
  text-decoration: underline;
  max-width: 211px;
  text-align: center;
  display: block;
  margin: 25px auto 0;
}

.how--order a:hover {
  text-decoration: none;
}

.price {
  padding: 38px 0 0 0;
  text-align: center;
}

.price-wrap {
  background: #ebf2f6 url(../images/price.png) repeat center;
}

.price--head {
  margin-bottom: 40px;
}

.price-available {
  float: left;
  width: 32%;
  background: #290e5e;
  position: relative;
  overflow: hidden;
  height: 690px;
  text-align: center;
}

.price-available:before {
  content: '';
  display: block;
  background: #ebf2f6;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  margin-left: -35px;
  top: -35px;
  border-radius: 50%;
}

.price-available--head {
  color: #c29f63;
  font: bold 28px/1.1 "PT Serif";
  margin: 75px 0 10px;
}

.price-available-item {
  margin: 0 35px;
  border-bottom: 1px dashed #c29f63;
  text-align: left;
  height: 188px;
}

.price-available-item--img {
  display: inline-block;
  vertical-align: middle;
  width: 93px;
  text-align: center;
  margin-right: 27px;
}

.price-available-item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.price-available-item:last-child {
  border-bottom: 0;
}

.price-available-item a {
  display: inline-block;
  vertical-align: middle;
  max-width: 210px;
  font-size: 24px;
  color: #fff;
}

.price-available-item a:hover {
  text-decoration: underline;
}

.price-content-wrap {
  background: #fff;
  float: left;
  width: 68%;
  height: 690px;
  text-align: left;
}

.price-tab {
  float: left;
  width: 50%;
  text-align: center;
  margin: 24px 0;
  font: bold 28px "PT Serif";
  text-decoration: underline;
  color: #f15b46;
  cursor: pointer;
}

.price-tab:hover {
  text-decoration: none;
}

.price-tab.active {
  color: #000;
  text-decoration: none;
  cursor: default;
}

.price-content {
  padding: 0 30px;
  display: none;
}

.price-content.active {
  display: block;
}

.price-content b {
  font-size: 18px;
  font-weight: normal;
  margin: 27px 0 30px;
  display: block;
}

.price-content--check {
  display: inline-block;
  width: 24.5%;
  height: 47px;
}

.price-content--check input {
  display: inline-block;
  vertical-align: top;
}

.price-content--check label {
  color: #040404;
  display: inline-block;
  vertical-align: top;
  max-width: 90%;
  padding-left: 10px;
}

.price-content-checks {
  margin-bottom: 30px;
}

.price-content--dont {
  float: left;
  margin-right: 180px;
}

.price-content--dont input {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.price-content--dont label {
  display: inline-block;
  vertical-align: top;
  width: 220px;
}

.price-content--all {
  margin-top: 20px;
}

.price-content--price {
  color: #290e5e;
  float: left;
  font-size: 24px;
  margin-top: -14px;
}

.price-content--price span {
  font: bold 62px/1 "PT Serif";
}

.price-content-send {
  margin-top: 25px;
}

.price-content-send span {
  display: inline-block;
  vertical-align: middle;
  color: #7a7a7a;
  font-size: 12px;
  width: 394px;
  margin-right: 30px;
}

.price-content-send button {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #f15b46;
  line-height: 50px;
  width: 228px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  font-family: 'Roboto';
  -webkit-transition: 300ms;
  transition: 300ms;
}

.price-content-send button:hover {
  background: #dd533f;
}

.input-wrap {
  margin-bottom: 15px;
}

.input-wrap label {
  display: inline-block;
  vertical-align: middle;
  color: #040404;
  width: 307px;
}

.input-wrap select {
  width: 342px;
  height: 50px;
  border: 1px solid #959595;
  background: #fff;
  border-radius: 3px;
  padding: 0 25px;
  color: #7b7b7b;
  font-size: 18px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  font-family: 'Roboto';
  -webkit-appearance: none;
  appearance: none !important;
  background: url(../images/select.png) 95% center no-repeat;
}

.input-wrap input {
  font-size: 18px;
  font-family: 'Roboto';
  width: 342px;
  height: 50px;
  border: 1px solid #959595;
  background: #fff;
  border-radius: 3px;
  padding: 0 25px;
  font-weight: bold;
  color: #040404;
}

.vs {
  padding: 45px 0 35px;
}

.vs-header {
  text-align: center;
  margin-bottom: 24px;
}

.vs-header p {
  color: #290e5e;
  font: bold 38px/1 "PT Serif";
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 12px;
  width: 400px;
}

.vs-header p:first-child {
  text-align: right;
}

.vs-header img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}

.vs-item {
  width: 60%;
  margin: 0 auto 15px;
  text-align: center;
  padding: 16px 100px 16px;
  position: relative;
}

.vs-item:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/ok.png) no-repeat center;
  left: 0;
  top: 0;
  position: absolute;
}

.vs-item:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/false.png) no-repeat center;
  right: 0;
  top: 0;
  position: absolute;
}

.audit {
  padding: 73px 0 42px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.audit:before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  left: 50%;
  margin-left: -35px;
  top: -35px;
}

.audit-wrap {
  background: #290e5e url(../images/showcase.png) repeat center;
}

.audit--head {
  margin-bottom: 38px;
  color: #fff;
}

.audit-item-wrap {
  float: left;
  width: 49%;
  margin-right: 2%;
  background: #c29f63;
  padding: 10px;
}

.audit-item-wrap:last-child {
  margin-right: 0;
}

.audit-item {
  border: 1px solid #290e5e;
  height: 287px;
  padding-top: 33px;
}

.audit-item--head {
  font: bold 34px "PT Serif";
}

.audit-item p {
  margin: 12px auto 20px;
  line-height: 1.6;
  max-width: 80%;
}

.audit-item a {
  color: #290e5e;
  font: bold 62px/0.8 "PT Serif";
}

.audit--form {
  margin: 0 auto;
  text-align: center;
}

.audit--form input {
  width: 300px;
  height: 59px;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  padding: 0 20px;
  font: normal 18px "Roboto";
  display: inline-block;
  margin-right: -.25em;
  border: none;
}

.audit--form button {
  color: #fff;
  text-transform: uppercase;
  font: bold 18px "Roboto";
  width: 160px;
  line-height: 59px;
  background-color: #f15b46;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.audit--form button:hover {
  background: #da5441;
}

.type {
  text-align: center;
  padding: 52px 0 10px;
}

.type-wrap {
  background: #ebf2f6 url(../images/price.png) repeat center;
}

.type-tab {
  float: left;
  width: 33.3%;
  text-align: center;
  margin-bottom: 35px;
  font: bold 28px "PT Serif";
  text-decoration: underline;
  color: #f15b46;
  cursor: pointer;
}

.type-tab:hover {
  text-decoration: none;
}

.type-tab.active {
  color: #000;
  text-decoration: none;
  cursor: default;
}

.type-content {
  display: none;
}

.type-content.active {
  display: block;
}

.type-item {
  width: 32%;
  margin: 0 2% 2% 0;
  background: #fff;
  position: relative;
  padding: 27px 30px 25px 103px;
  color: #323232;
  float: left;
  text-align: left;
}

.type-item:nth-child(3n) {
  margin-right: 0;
}

.type-item--head {
  font-weight: bold;
  margin-bottom: 15px;
  color: #323232;
}

.type-item--head:hover {
  text-decoration: underline;
}

.type-item p {
  line-height: 1.6;
}

.type-item img {
  position: absolute;
  left: 30px;
  top: 32px;
}

.interest {
  padding: 43px 0 50px;
  text-align: center;
}

.interest--head {
  margin-bottom: 40px;
}

.interest-item {
  float: left;
  width: 50%;
  margin-bottom: 45px;
}

.interest-item--img {
  float: left;
  width: 50%;
}

.interest-item-content {
  float: left;
  text-align: left;
  width: 50%;
  padding: 10px 30px 0;
}

.interest-item-content span {
  font-size: 14px;
  color: #323232;
  line-height: 1.5;
}

.interest-item--head {
  color: #323232;
  font-weight: bold;
  line-height: 1.6;
  margin: 15px 0;
  display: inline-block;
}

.interest-item--head:hover {
  text-decoration: underline;
}

.interest-item--link {
  color: #f15b46;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 20px;
}

.interest-item--link:hover {
  text-decoration: none;
}

.interest--link {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  background-color: #f15b46;
  width: 228px;
  line-height: 50px;
}

.interest--link:hover {
  background: #d95341;
}

.footer {
  padding: 47px 0 38px;
}

.footer-wrap {
  background: #290e5e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-info {
  float: left;
  color: #fff;
}

.footer-info--tel {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  display: block;
}

.footer-info--email {
  color: #fff;
  font-size: 14px;
  margin: 10px 0;
}

.footer-info-form {
  margin: 20px 0;
}

.footer-info-form input {
  width: 293px;
  background: #fff;
  height: 50px;
  border-radius: 3px 0 0 3px;
  padding: 0 15px;
  font: normal 16px "Roboto";
  border: none;
  float: left;
}

.footer-info-form button {
  width: 50px;
  height: 50px;
  border-radius: 0 3px 3px 0;
  background: #f15b46 url(../images/magnifier.png) no-repeat center;
  border: none;
  float: left;
  cursor: pointer;
}

.footer-info-form button:hover {
  background-color: #db5441;
}

.footer-info p {
  font-size: 14px;
}

.footer-nav {
  float: right;
  text-align: right;
}

.footer-nav ul {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  margin-right: 50px;
  text-align: left;
}

.footer-nav ul:last-child {
  margin-right: 0;
}

.footer-nav li {
  color: #fff;
  margin-bottom: 12px;
}

.footer-nav li:first-child {
  font-weight: 700;
  line-height: 1.3;
}

.footer-nav a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.footer-nav a:hover {
  text-decoration: none;
}

.social {
  margin-top: 15px;
}

.social a {
  display: inline-block;
  margin-right: 15px;
}

.bot {
  padding: 20px 0;
}

.bot-wrap {
  background: #c29f63;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bot .copy {
  float: left;
  color: #000;
  font-size: 14px;
}

.bot .created {
  color: #000;
  font-size: 14px;
  float: right;
}

.bot .created:hover p,
.bot .created:hover a {
  text-decoration: underline;
}

.bot .created p {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
}

.bot .created a {
  color: #000;
  font-size: 14px;
}

.burger-wrap {
  display: none;
}

.inner {
  padding: 35px 0;
}

.inner-wrap {
  background: #c29f63 url(../images/know.png) repeat center;
}

.inner-item {
  float: left;
  width: 33%;
  text-align: center;
}

.inner-item img {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;
}

.inner-item a {
  color: #290e5e;
  font: bold 28px "PT Serif";
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  width: 52%;
}

.inner-item a:hover {
  text-decoration: none;
}

.bread {
  text-align: center;
  padding: 32px 0;
}

.bread li {
  display: inline-block;
  margin: 0 3px;
  font-size: 14px;
}

.bread li a {
  color: #f15b46;
  font-size: 14px;
}

.bread li a:hover {
  text-decoration: underline;
}

.buh-wrap {
  background: #ebf2f6 url(../images/price.png) repeat center;
}

.buh-content {
  float: left;
  width: 50%;
  padding: 48px 0 20px;
}

.buh-content p {
  line-height: 1.6;
  margin-bottom: 25px;
}

.buh--head {
  text-align: left;
  border-bottom: 0;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 35px;
}

.buh--head:after {
  content: '';
  display: block;
  height: 5px;
  width: 70%;
  background-color: #c29f63;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.buh-img {
  float: left;
  width: 50%;
}

.buh-img img {
  vertical-align: bottom;
}

.reason {
  padding: 39px 0 37px;
  text-align: center;
}

.reason--caption {
  margin: 23px auto 37px;
}

.reason-item {
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: left;
}

.reason-item-header span {
  display: inline-block;
  vertical-align: middle;
  color: #f15b46;
  font: bold 72px "PT Serif";
  margin-right: 10px;
}

.reason-item--head {
  color: #290e5e;
  font: bold 34px "PT Serif";
  display: inline-block;
  vertical-align: middle;
}

.reason-item p {
  line-height: 1.6;
}

.reason--link {
  margin-top: 34px;
  text-align: center;
}

.reason--link a {
  width: 195px;
  line-height: 50px;
  background-color: #f15b46;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}

.reason--link a:hover {
  background: #d75340;
}

.cost {
  padding: 60px 0 35px;
  position: relative;
  text-align: center;
}

.cost:before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -35px;
}

.cost-wrap {
  background: #c29f63 url(../images/know.png) repeat center;
}

.cost--head {
  color: #fff;
  border-color: #fff;
  margin-bottom: 40px;
}

.cost-item {
  text-align: left;
  padding: 0 113px;
}

.cost-item.active .cost-item-content {
  display: block;
}

.cost-item.active .cost-item--img {
  background-position: center top;
}

.cost-item--header {
  padding-bottom: 15px;
  cursor: pointer;
}

.cost-item--header p {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.cost-item--img {
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-left: 20px;
  background: url(../images/plus.png) no-repeat center bottom;
  vertical-align: middle;
}

.cost-item-content {
  display: none;
}

.cost-item-content li {
  margin-bottom: 25px;
  position: relative;
  line-height: 1.3;
}

.cost-item-content li:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/cost-list.png) no-repeat center;
  width: 22px;
  height: 22px;
  left: -40px;
  top: 0;
}

.cost-links {
  text-align: center;
  margin-top: 15px;
}

.cost-links a {
  width: 228px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 5px;
}

.cost-links a:first-child {
  background-color: #f15b46;
  border-radius: 3px;
}

.cost-links a:first-child:hover {
  background: #dd5643;
}

.cost-links a:last-child {
  text-decoration: underline;
}

.cost-links a:last-child:hover {
  text-decoration: none;
}

iframe {
  border: 0;
}

.contacts {
  text-align: center;
  padding-bottom: 30px;
}

.contacts-content {
  text-align: left;
  padding-left: 114px;
}

.contacts-content p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
}

.map {
  margin: 40px 0 105px;
  position: relative;
  height: 620px;
}

.map iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.map-content {
  position: absolute;
  width: 600px;
  top: 0;
  left: 50px;
  background: #fff;
  padding: 15px 60px 40px;
  text-align: left;
}

.map--tel {
  font-size: 34px;
  font-weight: bold;
}

.map--address {
  margin: 20px 0;
}

.map--email {
  color: #00b3f0;
  text-decoration: underline;
  margin-bottom: 20px;
}

.map--email:hover {
  text-decoration: none;
}

.map span {
  display: inline-block;
  margin-top: 7px;
  width: 49%;
}

.container-rel {
  position: absolute;
  top: 0;
  left: 0;
}

.map .audit-item-wrap {
  position: absolute;
  left: 50px;
  top: 385px;
  width: 600px;
}

.map .audit-item {
  height: auto;
  padding-bottom: 35px;
}

.content-social {
  position: absolute;
  left: 0;
  top: -10px;
}

.content-social a {
  display: inline-block;
  margin: 0 5px;
}

.content-header {
  position: relative;
}

.content--date {
  position: absolute;
  left: 0;
  top: 22px;
  color: #323232;
  font-size: 14px;
}

.content h3 {
  color: #000;
  font-size: 42px;
  font-weight: bold;
  margin: 0 0 30px 106px;
}

.content img {
  margin-bottom: 30px;
}

.content-in {
  padding-left: 106px;
}

.content-in p {
  color: #323232;
  line-height: 1.6;
  margin-bottom: 30px;
}

.content-in h4 {
  color: #323232;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 30px;
}

.content-in h5 {
  color: #f15b46;
  font: bold 28px "PT Serif";
  margin-bottom: 30px;
  line-height: 1.4;
}

.content--link {
  text-align: right;
  margin-bottom: 35px;
  position: relative;
}

.content--link a {
  color: #f15b46;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.content--link a:hover {
  text-decoration: none;
}

.sidebar {
  float: left;
  width: 17%;
}

.sidebar-nav {
  background: #e8eff2;
  padding: 25px 17px 10px;
  margin-bottom: 50px;
}

.sidebar-nav li {
  margin-bottom: 10px;
  color: #f15b46;
  font-weight: bold;
  line-height: 1.4;
}

.sidebar-nav a {
  color: #290e5e;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: underline;
  font-weight: normal;
}

.sidebar-nav a:hover {
  text-decoration: none;
}

.sidebar-nav ul {
  margin-bottom: 10px;
}

.service .content {
  float: right;
  width: 77%;
}

.blog {
  text-align: left;
}

.blog-wrap {
  text-align: center;
}

.blog--head {
  margin-bottom: 35px;
}

.blog .sidebar {
  float: right;
}

.blog-items {
  width: 75%;
  float: left;
}

.blog-item {
  margin-bottom: 50px;
}

.blog-item--img {
  float: left;
  width: 42%;
  padding-right: 30px;
}

.blog-item-content {
  float: left;
  width: 58%;
  color: #323232;
  position: relative;
}

.blog-item--date {
  font-size: 14px;
}

.blog-item--head {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin: 16px 0;
  color: #323232;
}

.blog-item--text {
  line-height: 1.6;
}

.blog-item--link {
  color: #f15b46;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 16px;
}

.blog-item--link:hover {
  text-decoration: none;
}

.blog-item--cat {
  position: absolute;
  right: 0;
  top: 0;
  color: #f15b46;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.blog-item--cat:hover {
  text-decoration: none;
}

.blog--link {
  text-align: center;
  margin: 20px 0 70px;
}

.blog--link a {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f15b46;
  border-radius: 3px;
  line-height: 50px;
  width: 228px;
  text-align: center;
}

.blog--link a:hover {
  background: #d85441;
}

.subscribe {
  margin: 10px 0 40px;
  background: #c29f63;
  padding: 20px 25px;
}

.subscribe p {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  float: left;
  width: 277px;
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 4px;
}

.subscribe form {
  float: left;
}

.subscribe form input {
  float: left;
  width: 410px;
  height: 50px;
  background: #fff;
  border: none;
  border-radius: 4px 0 0 4px;
  font: normal 18px "Roboto";
  padding: 0 18px;
}

.subscribe form input::-webkit-input-placeholder {
  color: #000;
}

.subscribe form input:-moz-placeholder {
  color: #000;
}

.subscribe form input::-moz-placeholder {
  color: #000;
}

.subscribe form input:-ms-input-placeholder {
  color: #000;
}

.subscribe form button {
  float: left;
  width: 160px;
  line-height: 50px;
  background-color: #290e5e;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe form button:hover {
  background: #200b4a;
}