.cards-img {
    margin-top: 20px;
    width: 100px;
}

h3 {
    font-weight: 300;
    margin-top: 20px;
}

p {
    margin-top: 50px;
}

.connect-to-us {
    border-color: black;
    width: 200px;
}

.pagination-community {
    
}