.profile {
    background-image: url("../img/News/news-back.png");
    background-size: 100% 100%;
}

.black-back {
    background-image: url("../img/main-img/event-img/Прямоугольник\ 3\ копия\ 4.png");
}

.news-descr {
    font-size: 40px;
    color: white;
}

.event-title {
    position: absolute;
    margin-top: 28px;
    color: white;
}

.event-descr {
    position: absolute;
    margin-top: 88px;
    font-size: 18px;
    color: white;
}

.more-event-btn {
    border-color: black;
    padding: 10px;
    text-align: center;
}

.event-btn{
    text-align: center;
}

.connect-us {
    background-image: url("../img/main-img/bottom-img.png");
}

.connect-us-btn {
    background-color: white;
    color: black;
    padding: 12px;
}

footer {
    background-color: black;
}

.footer-padding {
    padding: 40px 20px 20px 40px;
}

.btns button{
    background-color: transparent;
    border-color: transparent;
}

.btns button:hover {
    background-color: black;
    color: white;
}