.profile {
    background-image: url("../img/Teams/teams-backgorund.png");
    background-size: 100% 100%;
}

.main-descr {
    padding: 200px 0px 30px 0px;
    
}

.main-descr p {
    color: white;
}

.main-descr span {
    color: grey;
}

.black-back {
    background-image: url("../img/main-img/event-img/Прямоугольник\ 3\ копия\ 4.png");
}

.connect-us {
    background-image: url("../img/main-img/bottom-img.png");
}


footer {
    background-color: black;
}

.footer-padding {
    padding: 40px 20px 20px 40px;
}

.profiles {
    padding: 60px 20px 20px 40px;
}

.events-main {
    color: white;
}

.gallery-middle {
    background-color: black;
}

.gallery-desc {
    color: white;
}