.profile {
    background-image: url("../img/News/news-back.png");
    background-size: 100% 100%;
}

.black-back {
    background-image: url("../img/main-img/event-img/Прямоугольник\ 3\ копия\ 4.png");
}

.news-descr {
    font-size: 40px;
    color: white;
}

.img-descr {
    height: 50px;
    margin-left: 100px;
}

/* NEWS */ 


.news-click p {
    color: black;
}

.news-click a {
    text-decoration: none;
    
}

a:hover p{

    color: white;
    background-color: black;
}

.news-img-hover {
    filter: invert(1);
    margin-left: 150px;
    width: 40px;
}

.event-btn{
    text-align: center;
}

.more-event-btn {
    border-color: black;
    padding: 10px;
    text-align: center;
}


/* CONNECT US */

.connect-us {
    background-image: url("../img/main-img/bottom-img.png");
}

.connect-us-btn {
    background-color: white;
    color: black;
    padding: 12px;
}

.contact-descr {
    color: white;
    padding: 40px;
}


/* footer */

footer {
    background-color: black;
}

.footer-padding {
    padding: 40px 20px 20px 40px;
}