.profile {
    background-image: url("../img/Teams/teams-backgorund.png");
    background-size: 100% 100%;
}

.main-descr {
    padding: 200px 0px 30px 0px;
    
}

.main-descr p {
    color: white;
}

.main-descr span {
    color: grey;
}

.black-back {
    background-image: url("../img/main-img/event-img/Прямоугольник\ 3\ копия\ 4.png");
}

.connect-us {
    background-image: url("../img/main-img/bottom-img.png");
}

.connect-us-btn {
    background-color: white;
    color: black;
    padding: 12px;
}

footer {
    background-color: black;
}

.footer-padding {
    padding: 40px 20px 20px 40px;
}

.btns button {
    background-color: transparent;
    border-color: transparent;
}

.btns button:hover {
    background-color: black;
    color: white;
}


/* NEWS */

.news-narayone {
    background-color: #F3F4F5;
}

.news-click p {
    color: black;
}

.news-click a {
    text-decoration: none;
}

a:hover p{

    color: white;
    background-color: black;
}

.news-img-hover {
    filter: invert(1);
    margin-left: 150px;
    width: 40px;
}
