.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

hr {
    background-color: #ABAEB2;
}

.black-back {
    background-image: url("../img/main-img/event-img/Прямоугольник\ 3\ копия\ 4.png");
}

/* -------------HEADER--------------  */

.profile {
    background-image: url("../img/profile/profile-back-img.png");
    background-size: 100% 100%;
}

@media (max-width: 400px) {
    .profile {
        background-size: cover;
        background-position: center center;
    }

    .user-info img {
        width: 30%;
    }
    .user-info p{
        font-size: 22px;
    }

    .user-info span {
        font-size: 14px;
    }

    .create-website {
        justify-content: center;
    }

    .middle-descr {
        padding: 14px;
    }
}

.send-btn {
    width: 160px;
    padding: 14px;
}

.user-name {
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.user-info {
    margin-top: 160px;
    padding-bottom: 50px;
}

span {
    font-size: 18px;
    font-weight: 700;
}

/* --------------MIDDLE DESCRIPTION------------------  */

.middle-descr {
    padding: 40px;
}

/*--------------FOOTER----------------*/

.footer {
    background-color: black;
}

.footer-padding {
    padding: 40px 20px 20px 40px;
}
