
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    /* line-height: 26px; */
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}




.first-image {
    background-image: url("../img/main-img/main_back.png");
    background-size: 100%;
}

@media (max-width: 400px) {
    .first-image {
        background-size: cover;
        background-position: center center;
    }
}

.send-btn {
    width: 160px;
    padding: 14px;
}

.descr-main  {
    color: white;
}

.descr-main h1 {
    align-items: center;
    color: black;
    /* text-align: left; */
}

.all-btn {
    width: 250px;
    padding: 12px;
}

.btns-sport button:hover {
    color: white;
    background-color: black;
}

.carousel-bottom {
    padding: 20px;
    padding-left: 140px;
}

.carousel-bottom .select-avtivity {
    color: white;
    margin-right: 200px;
}

.event-title {
    position: absolute;
    margin-top: 28px;
    color: white;
}

.event-descr {
    position: absolute;
    margin-top: 88px;
    font-size: 18px;
    color: white;
}

.leaders {
    background-image: url("../img/main-img/leaders.png");
    padding: 150px 0px 150px 0px;
    background-size: 100% 100%;

}

.zoom {
    padding: 50px;
   background-image: url("../img/main-img/leaders-profile.png");
   background-size: 100% 100%;
   transition: transform .3s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .zoom p {
    margin-top: 150px;
    color: white;
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


.black-back {
    background-image: url("../img/main-img/event-img/black_back.png");
}

.more-event-btn {
    border-color: black;
    padding: 10px;
    text-align: center;
}

.event-btn{
    text-align: center;
}

.news-click p {
    color: black;
}

.news-click a {
    text-decoration: none;
    
}

a:hover p{

    color: white;
    background-color: black;
}

.news-img-hover {
    filter: invert(1);
    margin-left: 150px;
    width: 40px;
}


/*  CONNECT US */

.connect-us {
    background-image: url("../img/main-img/bottom-img.png");
}

.connect-us-btn {
    background-color: white;
    color: black;
    padding: 12px;
}

footer {
    background-color: black;
}

.footer-padding {
    padding: 40px 20px 20px 40px;
}