.profile {
    background-image: url("../img/Teams/teams-backgorund.png");
    background-size: 100% 100%;
}

.black-back {
    background-image: url("../img/Main/event-img/Прямоугольник\ 3\ копия\ 4.png");
}

.connect-us {
    background-image: url("../img/Main/bottom-img.png");
}

.connect-us-btn {
    background-color: white;
    color: black;
    padding: 12px;
}

footer {
    background-color: black;
}

.footer-padding {
    padding: 40px 20px 20px 40px;
}

.btns button{
    background-color: transparent;
    border-color: transparent;
}

.btns button:hover {
    background-color: black;
    color: white;
}

.profiles {
    padding: 200px 0px 30px 0px;;
}

.profile-descr {
    color: white;
}

.left-descr {
    color: white;
    font-size: 20px;
}