@media (max-height: 1300px) {
  #container {
    height: 100%;
  }
}
/*
#container:not(.indexPage) {
  height: auto;
}
*/
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
html {
  height: 100%;
  font-size: 62.5% !important;
}
body {
  height: 100%;
  font-family: 'Trebuchet MS';
  background-color: #000;
  position: relative;
  min-height: 1300px;
}
.darkness {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/bg-sidebar.png") repeat;
}
/*#container{
//  min-height: 100%;
  height: auto;
  background-size: cover;
}*/
.bg {
  background-size: cover;
}
.bg-index {
  background: url("../images/bg-index.png") no-repeat top #000000;
  background-size: cover;
}
.bg-team {
  background: url("../images/bg-team.png") no-repeat top #000000;
  background-size: cover;
}
.bg-press {
  background: url("../images/bg-press.png") no-repeat top #000000;
  background-size: cover;
}
.bg-about {
  background: url("../images/bg-about.png") no-repeat top #000000;
  background-size: cover;
}
.container-main {
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.container-main .dark-bg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  padding: 0 0px 0 240px;
}
/*
.index {
  background: url("../images/bg-index.png") no-repeat top;
  background-size: 100%;
  min-height: 915px;
}
*/
.icon {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
}
.icon-mail {
  width: 21px;
  height: 20px;
  background-position: 0 0;
  margin-right: 18px;
}
.icon-tree {
  width: 25px;
  height: 20px;
  background-position: -41px 0;
  margin-right: 15px;
}
.icon-print {
  width: 24px;
  height: 20px;
  background-position: -83px 0;
}
#container {
  height: 100%;
}
#container a {
  font: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}
#container a:visited {
  color: inherit;
}
#container .h1 {
  font-size: 2.4rem;
}
#container .h2 {
  font-size: 1.8rem;
}
#sidebar {
  position: relative;
  z-index: 3;
  margin-left: -240px;
  width: 240px;
  height: 100%;
  background: url("../images/bg-sidebar.png") repeat;
  color: #808080;
  font-size: 1.4rem;
}
#sidebar hr {
  width: 90px;
  border: 1px solid #05717d;
  margin: 0 45px 15px;
}
#sidebar .pictures {
  text-align: center;
  margin-bottom: 20px;
}
#sidebar .pictures img {
  margin: 2px;
}
#content {
  position: relative;
  width: 100%;
  height: 100%;
}
#content hr {
  margin: 0 auto 60px;
  width: 240px;
  border: 2px solid #05717d;
}
#content .credo {
  font: 'PFDinCondensedRegular';
  color: #fff;
  font-size: 3.8rem;
  text-align: center;
  text-transform: uppercase;
}
#content .credo p {
  padding-bottom: 60px;
}
#content .content-right {
  width: 60%;
  padding: 15px 30px;
  color: #808080;
  font-size: 1.4rem;
}
#content .content-right hr {
  margin: 10px 0;
  width: 238px;
  border: 2px solid #0099aa;
}
#content .content-left {
  width: 40%;
  padding: 15px 30px;
  color: #fff;
  font-size: 1.4rem;
}
#content .content-left hr {
  margin: 10px 0;
  width: 238px;
  border: 2px solid #0099aa;
}
#content .history p {
  margin-top: 15px;
}
#content .history .violet {
  margin: 15px 0;
  background-color: #890049;
  color: #fff;
  padding: 20px 15px 20px 32px;
}
#content .history .violet .text {
  text-indent: -12px;
}
#content .experience .projects {
  margin-left: -10px;
}
#content .experience .projects .project {
  padding: 10px 20px 10px 10px;
}
#content .experience .projects .project:nth-child(2n) {
  background-color: #ebebeb;
}
#content .press .news .article {
  margin: 10px 0 30px;
}
#content .press .news .article .date {
  font-weight: bold;
}
#content .press .news .article .title {
  color: #0097ac;
  font-size: 1.8rem;
  margin: 4px 0;
}
#content .press .article:first-child {
  font-size: 1.8rem;
}
#content .press .article:first-child .title {
  font-size: 2.4rem;
}
#content .team .big {
  font-size: 1.8rem;
}
#content .team .members {
  text-align: center;
}
#content .team .members .member.top {
  width: 325px;
}
#content .team .members .member.top .picture {
  height: 415px;
}
#content .team .members .member {
  display: inline-block;
  margin: 0 -2px 30px;
  width: 236px;
  text-align: center;
  font-size: 1.4rem;
  color: #58595b;
}
#content .team .members .member .big {
  margin-bottom: 15px;
}
#content .team .members .member .picture:hover .profession {
  visibility: visible;
}
#content .team .members .member .picture {
  display: inline-block;
  color: #fff;
  width: 100%;
  height: 301px;
  position: relative;
}
#content .team .members .member .picture .profession {
  visibility: hidden;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: url("../images/bg-member.png") repeat;
  line-height: 301px;
  font-size: 0;
}
#content .team .members .member .picture .profession p {
  margin-bottom: 15px;
}
#content .team .members .member .picture .profession > div {
  display: inline-block;
  font-size: medium;
  line-height: normal;
  vertical-align: middle;
}
#content .team .members .member .description {
  width: 165px;
  margin: 0 auto;
}
#content .team .members .member .description .name {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
#content .team .members .member .description .feedback {
  color: #0099aa;
  text-decoration: underline;
  margin: 10px 0;
}
#content .team .description {
  line-height: 20px;
}
#content .team .description p {
  margin-bottom: 15px;
}
#content .team .vacancy {
  line-height: 25px;
  margin-top: 45px;
}
#content .team .vacancy .name {
  color: #0096ab;
}
#content .team .vacancy .link {
  text-decoration: underline;
}
#menu {
  margin-bottom: 100px;
  height: auto;
  width: 100%;
}
#menu > ul > li {
  position: relative;
  height: 46px;
  text-transform: uppercase;
}
#menu > ul > li ul {
  visibility: hidden;
  background: url("../images/bg-menu.png") repeat;
  width: 270px;
  position: absolute;
  top: 0;
  right: -270px;
}
#menu > ul > li ul li {
  padding: 5px 70px 5px 40px;
  text-align: left;
  line-height: 22px;
  font-size: 1.8rem;
  color: #4de6fb;
  text-indent: -19px;
  text-transform: none;
}
#menu > ul > li ul li:hover,
#menu > ul > li ul li.active {
  color: #fff;
}
#menu > ul li {
  text-align: center;
  font-size: 2rem;
  line-height: 46px;
}
#menu > ul > li.active {
  color: #fff;
  background: url("../images/bg-menu.png") repeat;
}
#menu > ul > li:hover {
  color: #fff;
}
#menu > ul > li:hover ul {
  visibility: visible;
}
.header {
  margin-top: 60px;
  padding: 0 30px;
  margin-bottom: 60px;
}
.header .logo {
  margin-top: 30px;
  text-align: center;
}
.header .lang {
  font-size: 1.4rem;
}
.header .lang .switch {
  text-decoration: underline;
  color: #447980;
}
#footer {
  padding-left: 45px;
}
#footer .social {
  margin-top: 20px;
}
.container-l {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 60%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
