$green: #628a2e;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 14px 'PT Sans', sans-serif;
}

a {
  font: 400 14px 'PT Sans', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.line {
  background: #dcdcde;
}

.caption {
  text-align: center;
  padding-top: 109px;
  color: #000;
  font-weight: 400;
  margin-bottom: 6px;
}

.head {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: $green;
  text-align: center;
}

.btn {
  line-height: 46px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 0 28px;
  position: relative;
  background: #628a2e;
  transition: 300ms;
  border: 2px solid #628a2e;
  z-index: 5;
  &_grey {
    background: #828282;
    border: 2px solid #828282;
    &:before,
    &:after {
      background: #828282;
    }
    &:hover {
      color: #828282 !important;
    }
  }
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 300ms;
    background: #fff;
    width: 0;
    z-index: -1;
  }
  &:after {
    left: auto;
    right: 0;
  }
  &:hover {
    color: #628a2e;
    &:after,
    &:before {
      width: 51%;
    }
  }
}


/* Main */

.main {
  background: url(../images/main.jpg) no-repeat 50%;
  background-size: cover;
}


/* Header */

.header {
  &-wrap {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    z-index: 9999;
  }
  &-info {
    float: right;
    margin-top: 30px;
  }
}

.logo {
  float: left;
  margin-top: 14px;
  img {
    width: 98px;
  }
}

.nav {
  display: inline-block;
  vertical-align: middle;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 31px;
    a {
      color: #000;
      &:hover,
      &.active {
        color: #628a2e;
      }
    }
  }
}

.brief-link {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  line-height: 36px;
  border: 2px solid #628a2e;
  border-radius: 3px;
  color: $green;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  position: relative;
  &:hover:before,
  &:hover:after {
    width: 51%;
  }
  &:hover {
    color: #fff;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background: $green;
    z-index: -1;
    transition: 300ms;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: $green;
    z-index: -1;
    transition: 300ms;
  }
}


/* Seo */

.seo {
  margin-top: 40px;
  &-line {
    margin-top: 20px;
    padding: 30px 0 27px;
    &-items {
      font-size: 0;
      text-align: center;
    }
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      font-size: 14px;
    }
    &__icon {
      border: 1px solid #959595;
      border-radius: 50%;
      width: 82px;
      height: 82px;
      text-align: center;
      display: inline-block;
      transition: 300ms;
      margin-bottom: 22px;
      &:hover {
        background: $green;
        border: 1px solid $green;
        i {
          color: #fff;
        }
      }
    }
    p {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 6px;
      line-height: 1.2;
    }
    span {
      max-width: 115px;
      display: block;
      margin: 0 auto;
      line-height: 1.2;
    }
    i {
      font-size: 43px;
      line-height: 82px;
      transition: 300ms;
    }
  }
  &-slider {
    padding-top: 62px;
    img {
      float: left;
      width: 326px;
      margin-top: 15px;
    }
    &-content {
      margin-left: 374px;
      p {
        color: #1d1d1b;
        margin-bottom: 18px;
        line-height: 1.1;
      }
    }
  }
  &-slider2 {
    padding-top: 40px;
    text-align: center;
    &__head {
      line-height: 1.1;
      text-align: left;
    }
    p {
      color: #1d1d1b;
      max-width: 368px;
      margin: 15px auto 5px;
    }
    img {
      width: 692px;
      display: inline-block;
    }
  }
  &-info {
    border-top: 1px solid #dcdcde;
    padding: 0 82px;
    padding-top: 25px;
    text-align: center;
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      max-width: 528px;
      text-align: left;
      line-height: 1.1;
    }
  }
}

.burger-wrap {
  display: none;
}

.main-mobile {
  display: none;
}

.c-slider {
  &-nav {
    margin: 0 82px;
    text-align: center;
    border-bottom: 1px solid #dcdcde;
    &__item {
      display: inline-block;
      vertical-align: top;
      margin-left: 45px;
      position: relative;
      color: #828282;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      padding: 0 32px 15px;
      text-transform: uppercase;
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        opacity: 0;
        transition: 300ms;
        background: $green;
      }
      &:hover,
      &.active {
        color: $green;
        &:after {
          opacity: 1;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &-items {
    position: relative;
  }
  &-item {
    padding: 0 82px;
  }
  .slick-arrow {
    border: 1px solid #000;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 999;
    transition: 300ms;
    text-align: center;
    &:before {
      content: "\e900";
    }
    &:hover {
      background: $green;
      border: 1px solid $green;
      color: #fff;
    }
  }
  .slick-next {
    left: auto;
    right: 0;
    transform: rotate(180deg);
  }
}


/* Feedbacks */

.feedbacks {
  &.c-slider {
    .c-slider-nav__item {
      line-height: 100px;
      height: 100px;
      margin-top: 20px;
      filter: grayscale(1);
      padding: 0 26px 6px;
      &.active,
      &:hover {
        filter: grayscale(0);
      }
    }
    .c-slider-items {
      margin-top: 40px;
      margin-bottom: 66px;
    }
    .c-slider-item {
      padding: 0 112px;
    }
  }
  &-item {
    padding: 0 228px 0 82px;
    position: relative;
    min-height: 275px;
    &__quotes {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__doc {
      position: absolute;
      right: 0;
      top: 0;
      border: 2px solid #dcdcde;
    }
    p {
      color: #282828;
      line-height: 1.4;
      margin-bottom: 16px;
    }
    &-author {
      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
      }
      p {
        display: inline-block;
        vertical-align: middle;
        max-width: 280px;
        color: #282828;
        font-weight: bold;
      }
    }
  }
  &-links {
    text-align: center;
    margin-bottom: 30px;
    a {
      margin: 0 15px;
    }
  }
}


/* About */

.seo {
  &-map {
    padding: 0 15px;
    margin-top: 40px;
    &-content {
      float: left;
      width: 330px;
      p {
        color: #282828;
        margin-bottom: 16px;
        line-height: 1.2;
      }
    }
    img {
      float: right;
    }
  }
  &-expierence {
    font-size: 0;
    text-align: center;
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 313px;
      padding: 0 15px;
      font-size: 14px;
      color: #1d1d1b;
      margin-top: 20px;
      &:nth-child(4) {
        width: 370px;
      }
    }
    &__img {
      width: 60px;
      height: 60px;
      margin-bottom: 17px;
      display: inline-block;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        max-width: 88%;
      }
    }
    &__head {
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      line-height: 1.2;
    }
  }
  &-links {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    a {
      display: inline-block;
      margin: 0 15px;
    }
  }
}


/* About */

.advan {
  padding: 0 130px;
  &-line {
    margin: 20px 0 56px;
    background: #dcdcde;
    text-align: center;
    &__img {
      background: url(../images/advan-line.jpg) no-repeat 50% 0;
      background-size: cover;
      width: 912px;
      height: 226px;
      display: inline-block;
    }
  }
  &-info {
    width: 50%;
    padding-right: 15px;
    float: left;
    p {
      margin-bottom: 18px;
      line-height: 1.2;
    }
  }
  &-img {
    text-align: center;
    &-item {
      display: inline-block;
      vertical-align: middle;
      width: 20%;
      margin-bottom: 18px;
    }
  }
  &-graph {
    width: 50%;
    padding-left: 15px;
    float: right;
    &__item {
      border-radius: 8px;
      height: 16px;
      border: 1px solid #dcdcde;
      margin-bottom: 11px;
      position: relative;
      &.active {
        .advan-graph__fill {
          &_100 {
            width: 100%;
            background: #628a2e;
          }
          &_90 {
            width: 90%;
          }
          &_80 {
            width: 80%;
          }
          &_70 {
            width: 70%;
          }
          &_60 {
            width: 60%;
          }
          &_50 {
            width: 50%;
          }
        }
      }
    }
    &__fill {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 8px;
      background: #dcdcde;
      width: 0;
      transition: 1000ms;
    }
    &__name {
      margin-bottom: 8px;
      span {
        margin-left: 11px;
      }
    }
  }
}


/* Service */

.service {
  &-line {
    height: 226px;
    background: url(../images/space.jpg) no-repeat 50%;
    background-size: cover;
    margin: 22px 0 34px;
  }
  &-slider {
    .c-slider-nav__item {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .c-slider-item {
    padding: 0 82px;
  }
  &-item {
    margin-top: 100px;
    position: relative;
    padding-left: 342px;
    img {
      position: absolute;
      left: 0px;
      top: 0;
      width: 286px;
    }
    p {
      margin-bottom: 34px;
      line-height: 1.1;
    }
  }
  &-el {
    display: inline-block;
    vertical-align: top;
    width: 213px;
    margin-left: 28px;
    margin-bottom: 22px;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: #fff;
      transition: 300ms;
      position: absolute;
      left: -28px;
      top: 50%;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      border: 1px solid #dcdcde;
      border-radius: 50%;
    }
    &:hover:before {
      background: #628a2e;
      border: 1px solid #dcdcde;
    }
  }
}


/* Work */

.work {
  &-prev {
    width: 0;
    height: 100%;
    position: relative;
    &-wrap {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
    &:before,
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 53px;
      background: #dcdcde;
      position: absolute;
      left: 10px;
      top: -2px;
      transition: 300ms;
    }
    &:before {
      transform: rotate(-20deg);
    }
    &:after {
      top: auto;
      bottom: -2px;
      transform: rotate(20deg);
    }
  }
  &-nav {
    position: relative;
    height: 100%;
    padding-left: 10px;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 53px;
      background: #dcdcde;
      position: absolute;
      right: -10px;
      top: -2px;
      transition: 300ms;
    }
    &:before {
      transform: rotate(-20deg);
    }
    &:after {
      top: auto;
      bottom: -2px;
      transform: rotate(20deg);
    }
    i {
      font-size: 50px;
      margin: 15px 0 12px;
      display: inline-block;
    }
  }
  &-wrap {
    .c-slider-nav__item {
      width: 180px;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #dcdcde;
      border-top: 1px solid #dcdcde;
      height: 100px;
      font-size: 14px;
      &:hover,
      &.active {
        .work-nav:before,
        .work-nav:after {
          width: 2px;
          background: #628a2e;
        }
      }
    }
    .c-slider-nav {
      border: none;
      font-size: 0;
    }
  }
  &-slider {
    margin: 45px 0 0;
  }
  &-item {
    margin-top: 150px;
    img {
      float: right;
      max-width: 228px;
    }
    p {
      margin-right: 342px;
      color: #1d1d1b;
      margin-bottom: 18px;
    }
  }
  &-links {
    margin-top: 133px;
    text-align: center;
    a {
      margin: 0 15px;
    }
  }
}


/* Clients */

.clients {
  &-nav {
    margin: 55px 0 70px;
    padding: 0 90px;
    padding-bottom: 55px;
    border-bottom: 1px solid #dcdcde;
    &-item {
      text-align: center;
      p {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        transition: 300ms;
      }
      &.active {
        p {
          color: $green;
        }
        .clients-nav__img {
          filter: grayscale(0);
        }
      }
    }
    &__img {
      display: inline-block;
      filter: grayscale(1);
      transition: 300ms;
      height: 123px;
      transition: 300ms;
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
      }
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  &-item {
    img {
      float: right;
      max-width: 554px;
    }
    &-content {
      float: left;
      width: 326px;
    }
    &__head {
      font-weight: bold;
    }
    p {
      line-height: 1.2;
      margin-top: 15px;
    }
  }
  &-links {
    text-align: center;
    margin-top: 108px;
    a {
      margin: 0 15px;
    }
  }
}


/* Faq */

.faq {
  &-cols {
    padding: 0 146px;
    font-size: 0;
    margin: 97px 0 0;
    height: 505px;
  }
  &-col {
    display: inline-block;
    vertical-align: top;
    width: 48.5%;
    font-size: 14px;
    &:first-child {
      margin-right: 3%;
    }
  }
  &-item {
    &.active {
      .faq-item__answer {
        display: block;
      }
    }
    &__head {
      color: #010101;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 28px;
      padding-left: 15px;
      position: relative;
      cursor: pointer;
      &.active {
        &:before {
          background: $green;
          border: 1px solid $green;
        }
      }
      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 1px solid #dcdcde;
        border-radius: 50%;
        position: absolute;
        left: -16px;
        top: -3px;
        transition: 300ms;
      }
    }
    &__answer {
      line-height: 1.2;
      padding-bottom: 25px;
      display: none;
    }
  }
  &-form {
    text-align: center;
    &__head {
      margin-bottom: 20px;
    }
  }
  &-fields {
    input {
      font: 400 14px 'PT Sans';
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
      width: 440px;
      line-height: 46px;
      background-color: #fff;
      border: 2px solid #dcdcde;
      border-radius: 3px;
      padding: 0 17px;
      &:nth-child(2) {
        width: 196px;
      }
      &::-webkit-input-placeholder {
        color: #838181;
      }
      &:-moz-placeholder {
        color: #838181;
      }
      &::-moz-placeholder {
        color: #838181;
      }
      &:-ms-input-placeholder {
        color: #838181;
      }
    }
    button {
      font: 700 20px 'PT Sans';
      color: #fff;
      width: 212px;
      line-height: 50px;
      background-color: #628a2e;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        background: #4b6a23;
      }
    }
  }
}


/* Brief */

.brief {
  &-wrap {
    position: relative;
  }
  &__head {
    text-align: center;
    color: #030303;
    margin-bottom: 14px;
  }
  &-form {
    padding: 0 244px;
    margin: 45px 0;
    p {
      color: #1d1d1b;
      margin: 7px 0 4px -15px;
    }
  }
  &__input {
    input,
    textarea {
      background-color: #fff;
      border: 1px solid #dcdcde;
      border-radius: 3px;
      width: 100%;
      padding: 0 11px;
      font: 400 12px/30px 'PT Sans';
      color: #1d1d1b;
      &::-webkit-input-placeholder {
        color: #bebebe;
      }
      &:-moz-placeholder {
        color: #bebebe;
      }
      &::-moz-placeholder {
        color: #bebebe;
      }
      &:-ms-input-placeholder {
        color: #bebebe;
      }
    }
    textarea {
      padding-top: 5px;
      height: 64px;
      resize: none;
    }
    &_long {
      font-size: 0;
      input {
        display: inline-block;
        vertical-align: top;
        width: 32%;
        margin-right: 2%;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__btn {
    text-align: center;
    margin: 25px 0 30px;
    button {
      cursor: pointer;
      line-height: 28px;
      padding: 0 62px;
      font-size: 14px;
    }
  }
  &__thk {
    text-align: center;
    color: #1d1d1b;
    line-height: 1.2;
  }
}

.footer {
  text-align: center;
  position: relative;
  &-wrap {
    background: #dcdcde;
    padding: 25px 0 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__logo {
    position: absolute;
    left: 0;
    top: 0;
    color: $green;
    font-weight: bold;
  }
  &__leader {
    position: absolute;
    right: 0;
    top: 0;
    color: $green;
    font-weight: bold;
  }
  &__perm {
    display: inline-block;
    vertical-align: top;
    width: 170px;
  }
  &-contacts {
    display: inline-block;
    vertical-align: top;
    margin: 0 150px;
  }
  &__tel {
    font-weight: bold;
    text-decoration: underline;
    display: block;
    color: #000;
    margin-bottom: 3px;
    &:hover {
      text-decoration: none;
    }
  }
  &__email {
    color: #000;
  }
  &__advan {
    display: inline-block;
    vertical-align: top;
    width: 170px;
  }
}