* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url("../fonts/TenorSans.woff2") format("woff2"), url("../fonts/TenorSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Tenor Sans', sans-serif;
  min-width: 375px;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
  color: #3f2512;
}

.description {
  max-width: 940px;
  margin: 0 auto 75px;
  color: #000000;
}

.slick-arrow {
  width: 60px;
  height: 60px;
  background-color: #dbc18c;
  border-radius: 30px;
  font-size: 0;
  cursor: pointer;
  transition: 300ms;
  border: 0;
  position: relative;
  z-index: 999;
}

.slick-arrow:hover {
  background: #3f2512;
  box-shadow: 0 0 56.1px 3px rgba(255, 255, 255, 0.76);
}

.slick-arrow:hover:before {
  border-color: #dbc18c;
}

.slick-arrow:before {
  content: '';
  display: block;
  position: absolute;
  left: 25px;
  top: 22px;
  width: 14px;
  height: 14px;
  border-left: 2px solid #1d1d1b;
  border-top: 2px solid #1d1d1b;
  transform: rotate(-45deg);
  transition: 300ms;
}

.slick-arrow.slick-next {
  transform: rotate(180deg);
}

@media screen and (max-width: 1336px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

/* Showcase */
.showcase {
  padding: 35px 0 260px;
  background: url(../images/showcase-bg.jpg) no-repeat 50%;
  background-size: cover;
  color: #3f2512;
  overflow: hidden;
}

.showcase__logo {
  margin-bottom: 105px;
}

.showcase__title {
  text-align: left;
  white-space: nowrap;
  position: relative;
  z-index: 999;
}

.showcase__content {
  width: 538px;
  max-width: 100%;
}

.showcase__description {
  font-size: 24px;
  margin-bottom: 70px;
}

.showcase__items {
  display: flex;
  justify-content: space-between;
}

.showcase__info {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 22px;
}

.showcase__info img {
  margin-right: 8px;
  flex-shrink: 0;
}

.showcase__link {
  width: 220px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #3f2512;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #3f2512;
  font-size: 18px;
  text-decoration: none;
}

.showcase__link:hover {
  background: #dbc18c;
}

.showcase__link--brown {
  background: #3f2512;
  color: #ffffff;
}

.showcase__container {
  position: relative;
}

.showcase__carousel {
  left: 620px;
  top: -90px;
  width: 880px;
  position: absolute;
}

.showcase__carousel img {
  border-radius: 20px;
}

.showcase__carousel .slick-arrow {
  position: absolute;
  left: 30px;
  bottom: -30px;
}

.showcase__carousel .slick-arrow.slick-next {
  left: 120px;
}

/* Program */
.program {
  padding: 67px 0 80px;
  background: url(../images/program-bg.jpg) no-repeat 50% 0;
}

.program__items {
  border-left: 2px solid #dbc18c;
  max-width: 1120px;
  margin: 0 auto;
}

.program__item {
  padding-left: 27px;
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.program__item:last-child {
  margin-bottom: 0;
}

.program__item:first-child:before, .program__item:last-child:before {
  background: #dbc18c;
}

.program__item:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #dbc18c;
  left: -11px;
  top: 0;
  border-radius: 50%;
}

.program__time {
  color: #323b44;
  font-size: 18px;
  margin-right: 50px;
  flex-shrink: 0;
}

.program__text {
  font-size: 16px;
}

.program__head {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: -3px;
}

.program__subhead {
  font-size: 18px;
}

/* Services */
.services {
  background: #dbc18c;
  padding: 63px 0;
  margin-bottom: 90px;
}

.services__items {
  display: flex;
  align-items: flex-start;
}

.services__item {
  width: 20%;
  text-align: center;
}

.services__icon {
  width: 93px;
  height: 93px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.services__text {
  max-width: 168px;
  margin: 0 auto;
  font-size: 18px;
  color: #3f2512;
}

/* Banner */
.banner {
  width: 940px;
  height: 327px;
  border: 1px solid #dbc18c;
  background: url(../images/banner-bg.jpg) no-repeat 50%;
  margin: 0 auto 73px;
  padding: 50px;
}

.banner__title {
  font-size: 32px;
  max-width: 580px;
  line-height: 1.5;
  margin-bottom: 44px;
  color: #3f2512;
}

.banner__link {
  width: 220px;
  height: 60px;
  background-color: #dbc18c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f2512;
  font-size: 18px;
  text-decoration: none;
}

.banner__link:hover {
  background: #3f2512;
  color: #ffffff;
  text-decoration: none;
}

/* Places */
.places {
  padding-bottom: 130px;
  overflow: hidden;
  position: relative;
}

.places:after {
  content: '';
  display: block;
  width: 142px;
  height: 2px;
  background: #3f2512;
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.places__title {
  margin-bottom: 25px;
}

.places__carousel {
  width: 860px;
  margin: 0 auto;
  transform: translateX(40px);
}

.places__carousel .slick-track {
  display: flex;
  align-items: stretch;
  padding-bottom: 55px;
}

.places__carousel .slick-list {
  overflow: visible;
}

.places__carousel .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: -30px;
}

.places__carousel .slick-arrow.slick-next {
  left: auto;
  right: -30px;
  margin-right: 80px;
}

.places__item {
  display: flex !important;
  background-color: #f6f0e3;
  border-radius: 12px;
  float: none;
  height: auto;
  min-height: 340px;
  margin-right: 80px;
  position: relative;
}

.places__item:before {
  content: '';
  display: block;
  position: absolute;
  width: 592px;
  height: 89px;
  bottom: -70px;
  margin-left: -15px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/shadow.png) 50%;
  transition: 300ms;
  opacity: 0;
}

.places__item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  transition: 300ms;
}

.places__item.filter:before {
  opacity: 1;
  transition: 300ms;
}

.places__item.filter:after {
  opacity: 0;
  visibility: hidden;
}

.places__img {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  border-radius: 13px 0 0 13px;
}

.places__content {
  padding: 40px 25px;
}

.places__name {
  font-size: 24px;
  color: #3f2512;
  margin-bottom: 22px;
}

.places__text {
  min-height: 125px;
  margin-bottom: 25px;
}

.places__address {
  display: flex;
  align-items: flex-start;
  line-height: 1.5;
  color: #3f2512;
}

.places__address img {
  flex-shrink: 0;
  margin-right: 15px;
  margin-top: 3px;
}

/* Master class */
.master-class {
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.master-class__title {
  margin-bottom: 25px;
}

.master-class__carousel {
  width: 945px;
  margin: 0 auto;
  transform: translateX(40px);
}

.master-class__carousel .slick-track {
  display: flex;
  align-items: stretch;
  padding-bottom: 55px;
}

.master-class__carousel .slick-list {
  overflow: visible;
}

.master-class__carousel .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: -30px;
}

.master-class__carousel .slick-arrow.slick-next {
  left: auto;
  right: -30px;
  margin-right: 80px;
}

.master-class__item {
  display: flex !important;
  background-color: #fff;
  border-radius: 12px;
  float: none;
  height: auto;
  min-height: 440px;
  margin-right: 80px;
  position: relative;
  border: 1px solid #3f2512;
}

.master-class__item:before {
  content: '';
  display: block;
  position: absolute;
  width: 592px;
  height: 89px;
  bottom: -70px;
  margin-left: -15px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/shadow.png) 50%;
  transition: 300ms;
  opacity: 0;
}

.master-class__item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  transition: 300ms;
}

.master-class__item.filter:before {
  opacity: 1;
  transition: 300ms;
}

.master-class__item.filter:after {
  opacity: 0;
  visibility: hidden;
}

.master-class__img {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  border-radius: 13px 0 0 13px;
}

.master-class__content {
  padding: 40px 45px;
}

.master-class__head {
  font-size: 24px;
  color: #3f2512;
  margin-bottom: 30px;
}

.master-class__subhead {
  font-size: 20px;
  color: #3f2512;
  margin-bottom: 30px;
}

.master-class__text {
  font-size: 16px;
  margin-bottom: 45px;
  line-height: 1.5;
}

.master-class__text:last-child {
  margin-bottom: 0;
}

/* Faq */
.faq {
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.faq:before {
  content: '';
  display: block;
  position: absolute;
  width: 950px;
  height: 719px;
  background: url(../images/temple.jpg) no-repeat;
  left: -330px;
  bottom: -250px;
  z-index: -1;
}

.faq__items {
  width: 620px;
  margin: 0 auto;
}

.faq__body {
  width: 770px;
  margin-left: 100px;
  margin-top: 24px;
  line-height: 1.5;
  display: none;
}

.faq__head {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq__sign {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background: #dbc18c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #3f2512;
  border-radius: 50%;
  flex-shrink: 0;
  transition: 300ms;
}

.faq__sign .minus {
  display: none;
}

.faq__question {
  font-size: 24px;
  color: #3f2512;
}

.faq__item {
  margin-bottom: 25px;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item.active .faq__sign {
  background: #3f2512;
  color: #dbc18c;
}

.faq__item.active .faq__sign .minus {
  display: block;
}

.faq__item.active .faq__sign .plus {
  display: none;
}

/* Info */
.info {
  background: #dbc18c;
  padding: 66px 0;
}

.info__organizers {
  display: flex;
  justify-content: center;
  margin-bottom: 67px;
}

.info__organizers-item {
  margin-right: 140px;
  width: 500px;
}

.info__organizers-item:last-child {
  margin-right: 0;
}

.info__subtitle {
  text-align: center;
  font-size: 36px;
  color: #3f2512;
  margin-bottom: 40px;
}

.info__partners {
  display: flex;
  justify-content: center;
}

.info__partner {
  width: 220px;
  margin-right: 40px;
}

.info__partner:last-child {
  margin-right: 0;
}

/* Footer */
.footer {
  background: #3f2512;
}

.footer__inner {
  height: 57px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer__inner a {
  margin-right: 122px;
  color: #dbc18c;
  text-decoration: none;
}

.footer__inner a:hover {
  color: #ffffff;
}

.footer__inner a:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1910px) {
  .faq:before {
    left: -550px;
  }
}

@media only screen and (max-width: 1336px) {
  .showcase {
    padding-bottom: 100px;
  }
  .showcase__carousel {
    display: none;
  }
  .faq:before {
    left: -650px;
  }
}

@media only screen and (max-width: 1200px) {
  .showcase {
    padding-bottom: 100px;
  }
  .showcase__carousel {
    display: none;
  }
  .faq:before {
    left: -650px;
  }
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 48px;
  }
  .places__item,
  .master-class__item {
    display: block !important;
  }
  .places__item:before,
  .master-class__item:before {
    display: none;
  }
  .places__img,
  .master-class__img {
    height: 200px;
    width: 100%;
    border-radius: 13px 13px 0 0;
  }
  .places__carousel,
  .master-class__carousel {
    width: 500px;
  }
  .places__content,
  .master-class__content {
    padding: 50px;
  }
  .banner {
    max-width: 100%;
  }
  .faq {
    padding-bottom: 250px;
  }
  .faq:before {
    width: 500px;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    bottom: -500px;
  }
  .info__partners {
    flex-wrap: wrap;
  }
  .info__partner {
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    margin-bottom: 25px;
    font-size: 32px;
  }
  .showcase {
    padding: 20px 0 55px;
  }
  .showcase__logo {
    width: 180px;
    margin-bottom: 40px;
  }
  .showcase__title {
    font-size: 38px;
    white-space: unset;
  }
  .showcase__description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .showcase__info {
    font-size: 15px;
  }
  .showcase__items {
    max-width: 350px;
  }
  .showcase__link {
    width: 150px;
    height: 50px;
    font-size: 16px;
  }
  .program {
    padding: 25px 0 40px;
  }
  .program__item {
    display: block;
    padding-left: 15px;
  }
  .program__item:before {
    width: 10px;
    height: 10px;
    left: -8px;
  }
  .program__time {
    font-size: 14px;
  }
  .program__head {
    font-size: 18px;
    margin-top: 0;
  }
  .program__text {
    font-size: 14px;
  }
  .program__subhead {
    font-size: 16px;
  }
  .services {
    padding: 40px 0;
    margin-bottom: 28px;
  }
  .services__items {
    display: block;
  }
  .services__item {
    width: 250px;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
  }
  .services__item:last-child {
    margin-bottom: 0;
  }
  .services__icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 23px;
  }
  .services__text {
    text-align: left;
    font-size: 16px;
  }
  .banner {
    padding: 22px 15px;
    height: 190px;
    width: 340px;
    margin: 0 auto 35px;
    background-size: cover;
  }
  .banner__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .banner__link {
    width: 140px;
    height: 50px;
    font-size: 14px;
  }
  .description {
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 300px;
  }
  .places__carousel,
  .master-class__carousel {
    width: 100%;
    max-width: 450px;
  }
  .places__img,
  .master-class__img {
    height: 200px;
  }
  .places__content,
  .master-class__content {
    padding: 15px 24px;
  }
  .places .slick-list,
  .master-class .slick-list {
    display: block;
  }
  .places__item,
  .master-class__item {
    float: left;
    min-height: 0;
  }
  .places .slick-track,
  .master-class .slick-track {
    padding-bottom: 0;
  }
  .places .slick-arrow,
  .master-class .slick-arrow {
    width: 32px;
    height: 32px;
    left: -16px;
    transform: translateY(0);
    margin-top: 0;
    top: 200px;
    top: 184px;
  }
  .places .slick-arrow.slick-next,
  .master-class .slick-arrow.slick-next {
    left: auto;
    right: -16px;
    transform: translateY(0) rotate(180deg);
  }
  .places .slick-arrow:before,
  .master-class .slick-arrow:before {
    width: 7px;
    height: 7px;
    top: 12px;
    left: 14px;
  }
  .places {
    padding-bottom: 65px;
  }
  .places:after {
    bottom: 25px;
  }
  .places__name {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .places__text {
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 0;
  }
  .places__address {
    font-size: 14px;
  }
  .master-class__content {
    padding: 15px 25px;
  }
  .master-class__head {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .master-class__text {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .master-class__subhead {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .faq:before {
    margin-left: -50px;
  }
  .faq__sign {
    width: 24px;
    height: 24px;
    font-size: 10px;
    margin-right: 8px;
  }
  .faq__question {
    font-size: 18px;
  }
  .faq__items {
    max-width: 100%;
  }
  .faq__body {
    margin-left: 0;
    padding-left: 40px;
    max-width: 100%;
    font-size: 14px;
    margin-top: 15px;
  }
  .faq__item {
    margin-bottom: 15px;
  }
  .faq__head {
    align-items: flex-start;
  }
  .info {
    padding: 30px 0 25px;
  }
  .info__organizers {
    margin-bottom: 20px;
  }
  .info__organizers-item {
    width: 160px;
  }
  .info__organizers-item:first-child {
    margin-right: 15px;
  }
  .info__subtitile {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .info__partner {
    width: 100px;
    margin: 0 7px 15px !important;
  }
  .footer__inner {
    height: 90px;
    flex-direction: column;
  }
  .footer__inner a {
    font-size: 14px;
  }
  .footer__inner a:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
