@charset "UTF-8";
div {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #ee2d33;
}

a:hover {
    color: #ee2d33;
}

.red-btn {
    text-transform: uppercase;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    width: 225px;
    border-radius: 4px;
    border: 0;
    background: #ed1c24;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #8e1116;
    font-weight: 700;
}

.red-btn:hover {
    text-decoration: none;
    background: #6b1fa2;
    color: #fff;
    border-bottom: 2px solid #401361;
}

.rub {
    display: inline !important;
    text-transform: uppercase;
    text-decoration: line-through;
}

.top-row {
    background: #6b1fa2;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
}

.top-row ul {
    padding: 0;
    margin: 0;
}

.top-row ul li {
    list-style: none;
    display: inline-block;
}

.top-row ul li a {
    color: inherit;
}

.top-row ul.menu li {
    margin-right: 20px;
}

.top-row ul.menu li a {
    cursor: pointer;
}

.top-row ul.menu li a:hover {
    text-decoration: none;
}

.top-row ul.login {
    background: #3f0c64;
    padding: 0 18px;
    margin-right: 27px;
    display: inline-block;
}

.top-row ul.login a {
    cursor: pointer;
}

.top-row ul.login a:hover {
    text-decoration: none;
}

.top-row ul.login .enter a {
    background: url(../images/login.png) left center no-repeat;
    padding-left: 22px;
    margin-right: 20px;
}

.top-row ul.share {
    display: inline-block;
}

.top-row ul.share li {
    margin-right: 10px;
}

.header {
    height: 165px;
}

.header .logo-row {
    height: 110px;
}

.header .logo-row .logo {
    background: url(../images/logo.png) left 30px no-repeat;
    width: 100%;
    height: 110px;
}

.header .logo-row .phone {
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

.header .logo-row .order {
    text-align: center;
}

.header .logo-row .order a.order-btn {
    color: #ee2d33;
    text-transform: uppercase;
    border: 1px solid #ee2d33;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    border-radius: 0;
    padding: 0 12px;
    cursor: pointer;
}

.header .logo-row .order a.order-btn:hover {
    text-decoration: none;
}

.header .logo-row .desire {
    color: inherit;
    text-align: left;
    margin-top: 30px;
    padding-left: 60px;
    height: 50px;
    width: 150px;
    margin-right: 30px;
    display: inline-block;
    background: url(../images/desire.png) left top no-repeat;
    text-decoration: none;
}

.header .logo-row .desire span, .header .logo-row .desire strong {
    display: block;
    line-height: 25px;
}

.header .logo-row .cart {
    color: inherit;
    text-align: left;
    margin-top: 30px;
    padding-left: 60px;
    height: 50px;
    width: 140px;
    display: inline-block;
    background: url(../images/cart.png) left top no-repeat;
    text-decoration: none;
}

.header .logo-row .cart span, .header .logo-row .cart strong {
    display: block;
    line-height: 25px;
}

.header ul.menu {
    padding: 0;
    list-style: none;
    margin: 0 40px 0 0;
}

.header ul.menu li {
    display: inline-block;
    width: 12.8%;
    margin-right: 1%;
}

.header ul.menu li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #6b1fa2;
    border: 1px solid #6b1fa2;
    font-size: 16px;
}

.header ul.menu li a:hover {
    background: #fef7f7;
    border: 1px solid #ee2d33;
    color: #ee2d33;
    text-decoration: none;
}

.header .search {
    width: 40px;
    height: 40px;
    margin-top: -40px;
    float: right;
    background: #6b1fa2 url(../images/loop.png) center no-repeat;
    border: 1px solid #6b1fa2;
}

.slider-wrapper {
    position: relative;
    background: #f2eefc;
    padding-left: 0;
    padding-right: 0;
}

.slider-wrapper::before {
    position: absolute;
    z-index: 99;
    top: 0;
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: url(../images/circle.png) bottom repeat-x;
}

.slider-wrapper::after {
    position: absolute;
    z-index: 99;
    bottom: 0;
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: url(../images/circle.png) top repeat-x;
}

.slider-wrapper .container {
    position: relative;
}

.slider-wrapper .slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-wrapper .slider ul li {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.slider-wrapper .slider ul li .text {
    position: absolute;
    left: 0;
    top: 110px;
    text-align: left;
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 54px;
    color: #6b1fa2;
}

.slider-wrapper .slider ul li .text .big {
    font-size: 78px;
}

.slider-wrapper .slider-order {
    position: absolute;
    right: 0;
    top: 60px;
    width: 360px;
    border: 2px solid #6b1fa2;
    background: #fff;
    padding: 20px 30px 25px;
}

.slider-wrapper .slider-order .title {
    font-family: 'Bodoni Bold', arial, serif;
    color: #6b1fa2;
    font-size: 34px;
    margin-bottom: 24px;
}

.slider-wrapper .slider-order form .form-group {
    height: 40px;
    margin-bottom: 24px;
}

.slider-wrapper .slider-order form .form-group label {
    width: 82px;
    line-height: 35px;
    vertical-align: top;
    font-weight: 400;
    font-size: 18px;
}

.slider-wrapper .slider-order form .form-group label.long {
    width: 130px;
}

.slider-wrapper .slider-order form .form-group input {
    width: 20px;
}

.slider-wrapper .slider-order form .submit {
    display: block;
    height: 56px;
    line-height: 54px;
    width: 100%;
    border-radius: 4px;
    border: 0;
    background: #ed1c24;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #8e1116;
}

.slider-wrapper .slider-order form .submit:hover {
    text-decoration: none;
}

.slider-wrapper .slider-order form .cusel {
    width: 205px !important;
}

.breadcrumbs {
    padding-top: 10px;
    line-height: 40px;
    height: 50px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs ul li {
    float: left;
    color: #a7a9ac;
}

.breadcrumbs ul li::after {
    content: '→';
    display: inline-block;
    width: 30px;
    text-align: center;
}

.breadcrumbs ul li:last-child::after {
    display: none;
}

.breadcrumbs ul li a {
    color: inherit;
    text-decoration: underline;
}

.actions-wrapper {
    padding-top: 30px;
}

.actions-wrapper .toggler {
    text-align: center;
}

.actions-wrapper .toggler ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.actions-wrapper .toggler ul li {
    display: inline-block;
    padding: 0 20px;
}

.actions-wrapper .toggler ul li a {
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 24px;
    color: #ed1c24;
    text-decoration: underline;
}

.actions-wrapper .toggler ul li.active a {
    color: #000;
    font-size: 34px;
    text-decoration: none;
}

.actions-wrapper .main-shop .shop-item {
    margin-top: 25px;
    margin-right: 0;
    border: 2px solid #fff;
    padding: 20px 23px;
    width: 23%;
    margin-right: 2%;
}

.actions-wrapper .main-shop .shop-item:hover {
    background: #fef7f7;
    border: 2px solid #ee2d33;
}

.actions-wrapper .main-shop .shop-item .pic {
    height: 160px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.actions-wrapper .main-shop .shop-item .pic img {
    max-width: 100%;
    text-align: center;
}

.actions-wrapper .main-shop .shop-item .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    min-height: 50px;
}

.actions-wrapper .main-shop .shop-item .descr {
    font-size: 14px;
    color: #808285;
    margin-bottom: 15px;
}

.actions-wrapper .main-shop .shop-item .cost {
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 34px;
    color: #ed1c24;
    margin-bottom: 10px;
}

.actions-wrapper .main-shop .shop-item .order {
    position: relative;
}

.actions-wrapper .main-shop .shop-item .order .buy {
    border: 1px solid #000;
    color: #000;
    height: 36px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    margin-right: 60px;
    padding: 0;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

.actions-wrapper .main-shop .shop-item .order .buy:hover {
    text-decoration: none;
}

.actions-wrapper .main-shop .shop-item .order .to-cart {
    float: right;
    margin-top: -36px;
    height: 36px;
    width: 50px;
    border: 0;
    background: #ee2d33 url(../images/toCart.png) center no-repeat;
}

.actions-wrapper .more {
    height: 115px;
    padding-top: 40px;
    text-align: center;
}

.reason-wrapper {
    position: relative;
    background: #e7bb79;
    height: 410px;
    background: url(../images/block-bg.jpg) center no-repeat;
    padding-left: 0;
    padding-right: 0;
}

.reason-wrapper::before {
    position: absolute;
    z-index: 99;
    top: 0;
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: url(../images/circle.png) bottom repeat-x;
}

.reason-wrapper::after {
    position: absolute;
    z-index: 99;
    bottom: 0;
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: url(../images/grey-circle.png) top repeat-x;
}

.reason-wrapper .reasons-box {
    padding-left: 35px;
}

.reason-wrapper .reasons-box .title {
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.reason-wrapper .reasons-box .reasons .reason {
    margin-bottom: 35px;
    height: 50px;
}

.reason-wrapper .reasons-box .reasons .reason img {
    float: left;
    margin-right: 20px;
}

.reason-wrapper .reasons-box .reasons .reason .text {
    padding-top: 4px;
    line-height: 23px;
    font-size: 18px;
}

.reason-wrapper .girl-pic {
    height: 410px;
    background: url(../images/block-bg-girl.png) top center no-repeat;
}

.clients-wrapper {
    background: #f8effd;
}

.clients-wrapper .container {
    text-align: center;
}

.clients-wrapper .container .title {
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 40px;
}

.clients-wrapper .container .descr a {
    color: #00aeef;
    text-decoration: underline;
}

.clients-wrapper .more {
    height: 115px;
    padding-top: 40px;
    text-align: center;
}

.articles-wrapper .title {
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.articles-wrapper .articles .article {
    margin-bottom: 20px;
}

.articles-wrapper .articles .article .pic {
    max-height: 142px;
    overflow: hidden;
    margin-bottom: 15px;
}

.articles-wrapper .articles .article .pic img {
    width: 100%;
}

.articles-wrapper .articles .article .date {
    margin-bottom: 5px;
    color: #808285;
    font-size: 14px;
}

.articles-wrapper .articles .article .name {
    font-size: 18px;
    margin-bottom: 5px;
}

.articles-wrapper .articles .article .name a {
    color: inherit;
}

.articles-wrapper .articles .article .text {
    font-size: 14px;
}

.articles-wrapper .more {
    height: 115px;
    padding-top: 40px;
    text-align: center;
}

.articles-wrapper .social-groups {
    padding-top: 90px;
    padding-left: 20px;
}

.articles-wrapper .social-groups .tabs {
    margin-bottom: 10px;
}

.articles-wrapper .social-groups .tabs a {
    color: #ee2d33;
    text-decoration: underline;
}

.articles-wrapper .social-groups .tabs a.active {
    color: #000;
    text-decoration: none;
}

.articles-wrapper .social-groups .tabs a:first-child {
    padding-right: 5px;
}

.articles-wrapper .social-groups .tabs a:last-child {
    padding-left: 5px;
}

.about-wrapper {
    position: relative;
    background: #3b1b80;
    height: 380px;
    background: url(../images/block-bg2.jpg) center no-repeat;
    color: #fff;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.about-wrapper::before {
    position: absolute;
    z-index: 99;
    top: 0;
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: url(../images/circle.png) bottom repeat-x;
}

.about-wrapper .title {
    font-family: 'Bodoni Bold', arial, serif;
    margin-top: 50px;
    font-size: 36px;
}

.about-wrapper .separator {
    height: 65px;
    width: 100%;
    background: url(../images/separator.png) center no-repeat;
}

.footer-wrapper {
    background: #ededee;
    padding-top: 35px;
    height: 220px;
}

.footer-wrapper a {
    color: inherit;
}

.footer-wrapper .logo {
    background: url(../images/logo.png) left top no-repeat;
    width: 100%;
    height: 75px;
}

.footer-wrapper ul.menu {
    padding: 0;
    list-style: none;
    margin: 0;
}

.footer-wrapper ul.menu li {
    display: inline-block;
    margin-right: 25px;
}

.footer-wrapper ul.menu li:last-child {
    margin-right: 0;
}

.footer-wrapper ul.menu li a {
    text-decoration: underline;
    font-size: 18px;
}

.footer-wrapper .copy {
    padding-left: 50px;
}

.footer-wrapper .copy a {
    color: #ee2d33;
    text-decoration: underline;
}

.footer-wrapper .phone {
    font-size: 28px;
    padding-top: 20px;
}

.footer-wrapper .order a.order-btn {
    color: #ee2d33;
    text-transform: uppercase;
    border: 1px solid #ee2d33;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    border-radius: 0;
    padding: 0 12px;
}

.footer-wrapper .order a.order-btn:hover {
    text-decoration: none;
}

.footer-wrapper .search {
    border: 1px solid #959595;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-wrapper .search input[type=text] {
    float: left;
    border: 0;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    margin: 0;
}

.footer-wrapper .search input[type=submit] {
    float: left;
    width: 118px;
    height: 34px;
    line-height: 34px;
    background: #ee2d33;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-wrapper ul.share {
    display: inline-block;
    padding: 0;
    margin: 0 15px 0 0;
    float: left;
}

.footer-wrapper ul.share li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.footer-wrapper .dev a {
    color: #ee2d33;
    text-decoration: underline;
}

.landing {
    font-family: 'proxima-nova', sans-serif !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/landing-bg.jpg) center no-repeat;
}

.landing .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.landing .bottom::before {
    position: absolute;
    z-index: 99;
    top: -12px;
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: url(../images/circle.png) top repeat-x;
}

.landing .bottom .about {
    padding: 40px 0;
    font-size: 10px;
    color: #808285;
}

.landing .bottom .footer {
    background: #efeff0;
    min-height: 90px;
    font-family: 'Bodoni', arial, serif;
}

.landing .bottom .footer .mng-logo {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    background: url(../images/mng-logo.png) center no-repeat;
}

.landing .bottom .footer .text {
    text-align: center;
    color: #414042;
    font-size: 16px;
    padding: 27px 0 10px;
}

.landing .bottom .footer .text a {
    color: #ee2d33;
    text-decoration: underline;
}

.articles-page .title {
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 34px;
    color: #6b1fa2;
    text-align: center;
}

.articles-page .separator {
    height: 65px;
    width: 100%;
    background: url(../images/separator-violet.png) center 10px no-repeat;
}

.articles-page .articles .article {
    margin-bottom: 35px;
}

.articles-page .articles .article .pic {
    max-height: 160px;
    overflow: hidden;
    margin-bottom: 15px;
}

.articles-page .articles .article .pic img {
    width: 100%;
}

.articles-page .articles .article .date {
    margin-bottom: 5px;
    color: #808285;
    font-size: 14px;
}

.articles-page .articles .article .name {
    font-size: 18px;
    margin-bottom: 5px;
}

.articles-page .articles .article .name a {
    color: inherit;
}

.articles-page .articles .article .text {
    font-size: 14px;
}

.articles-page .more {
    height: 95px;
    padding-top: 20px;
    text-align: center;
}

.catalog-page {
    padding-bottom: 30px;
}

.catalog-page .catalog-filter .categories {
    background: #f8effd;
    margin-bottom: 32px;
}

.catalog-page .catalog-filter .categories .title {
    background: #ee2d33;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    padding-left: 25px;
    position: relative;
}

.catalog-page .catalog-filter .categories .title a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.catalog-page .catalog-filter .categories .title .toggler {
    position: absolute;
    right: 25px;
    top: 18px;
    width: 16px;
    height: 13px;
    background: url(../images/toggler.png) no-repeat;
}

.catalog-page .catalog-filter .categories ul {
    padding: 15px 25px 30px 25px;
    margin: 0;
    list-style: none;
}

.catalog-page .catalog-filter .categories ul li {
    position: relative;
    line-height: 32px;
}

.catalog-page .catalog-filter .categories ul li.active a {
    font-weight: 700;
}

.catalog-page .catalog-filter .categories ul li a {
    padding-left: 23px;
    color: #000;
}

.catalog-page .catalog-filter .categories ul li a::before {
    content: "-";
    width: 23px;
    position: absolute;
    left: 0;
}

.catalog-page .catalog-filter .filter {
    background: #f8effd;
    padding: 15px;
}

.catalog-page .catalog-filter .filter .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.catalog-page .catalog-filter .filter .value .show-btn {
    display: block;
    width: 140px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #000000;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin: 15px auto 35px;
}

.catalog-page .catalog-filter .filter .value .show-btn:hover {
    text-decoration: none;
}

.catalog-page .catalog-filter .filter .value ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-page .catalog .shop-item {
    margin-top: 25px;
    margin-right: 0;
    border: 2px solid #fff;
    padding: 20px 23px;
}

.catalog-page .catalog .shop-item:hover {
    background: #fef7f7;
    border: 2px solid #ee2d33;
}

.catalog-page .catalog .shop-item .pic {
    height: 160px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.catalog-page .catalog .shop-item .pic img {
    max-width: 100%;
    text-align: center;
}

.catalog-page .catalog .shop-item .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    min-height: 50px;
}

.catalog-page .catalog .shop-item .descr {
    font-size: 14px;
    color: #808285;
    margin-bottom: 15px;
}

.catalog-page .catalog .shop-item .cost {
    font-family: 'Bodoni Bold', arial, serif;
    font-size: 34px;
    color: #ed1c24;
    margin-bottom: 10px;
}

.catalog-page .catalog .shop-item .order {
    position: relative;
}

.catalog-page .catalog .shop-item .order .buy {
    border: 1px solid #000;
    color: #000;
    height: 36px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    margin-right: 60px;
    padding: 0;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

.catalog-page .catalog .shop-item .order .buy:hover {
    text-decoration: none;
}

.catalog-page .catalog .shop-item .order .to-cart {
    float: right;
    margin-top: -36px;
    height: 36px;
    width: 50px;
    border: 0;
    background: #ee2d33 url(../images/toCart.png) center no-repeat;
}

.item-page .item {
    margin-bottom: 20px;
}

.item-page .item-reasons {
    margin-bottom: 20px;
}

.item-page .item-reasons .item-reason {
    border: 1px solid #6b1fa2;
    padding: 15px 20px;
}

.item-page .item-reasons .item-reason .title {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-left: 55px;
    height: 55px;
}

.item-page .item-reasons .item-reason .title.item1::before {
    background: url(../images/item-reason1.png) no-repeat;
    content: " ";
    width: 55px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.item-page .item-reasons .item-reason .title.item2::before {
    background: url(../images/item-reason2.png) no-repeat;
    content: " ";
    width: 55px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.item-page .item-reasons .item-reason .title.item3::before {
    background: url(../images/item-reason3.png) no-repeat;
    content: " ";
    width: 55px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
