* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 300 16px 'Gilroy', sans-serif;
  padding-top: 120px;
  position: relative; }

a {
  font: 300 16px 'Gilroy', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.page-error {
  padding-top: 0; }

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative; }

.container_large {
  width: 1580px;
  margin: 0 auto;
  position: relative; }

.head {
  color: #ed1c24;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
  letter-spacing: 4px; }

/* Header */
.header {
  padding: 35px 0 32px;
  position: relative;
  z-index: 20; }
  .header-wrap {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; }
  .header-info {
    float: right;
    position: relative; }
    .header-info__room {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 30px; }
    .header-info .lang {
      display: inline-block;
      vertical-align: bottom;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 50px; }
    .header-info-content {
      display: inline-block;
      vertical-align: top; }
      .header-info-content a {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 6px; }
        .header-info-content a:hover {
          color: #ed1c24; }
      .header-info-content p {
        color: #fff; }
  .header-search {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 103px;
    width: 16px;
    height: 16px;
    position: relative; }
    .header-search button {
      width: 100%;
      height: 100%;
      background: url(../images/header-info-img1.png) no-repeat 50%;
      border: none;
      cursor: pointer;
      transition: 300ms; }
    .header-search input {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      margin-top: 2px;
      font: 300 16px/30px 'Gilroy';
      background: rgba(0, 0, 0, 0.5);
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      padding: 0 5px; }
      .header-search input::-webkit-input-placeholder {
        color: #fff; }
      .header-search input:-moz-placeholder {
        color: #fff; }
      .header-search input::-moz-placeholder {
        color: #fff; }
      .header-search input:-ms-input-placeholder {
        color: #fff; }
    .header-search.active input {
      display: block; }

.logo {
  float: left;
  margin-right: 124px;
  position: relative;
  z-index: 20; }

.nav {
  float: left;
  padding: 30px 0 0 0; }
  .nav-sub {
    width: 230px;
    position: absolute;
    top: 100%;
    padding: 20px 0 20px 10px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 300ms;
    background: #000; }
    .nav-sub__list {
      margin-bottom: 10px; }
      .nav-sub__list:last-child {
        margin-bottom: 0; }
      .nav-sub__list a {
        font-weight: 700;
        color: #fff; }
        .nav-sub__list a:hover {
          color: #ed1c24; }
  .nav__list {
    display: inline-block;
    vertical-align: top;
    margin-right: 48px;
    position: relative; }
    .nav__list:last-child {
      margin-right: 0; }
    .nav__list:hover > a {
      color: #ed1c24; }
    .nav__list > a {
      font-weight: 700;
      text-transform: uppercase;
      color: #fff; }
      .nav__list > a:hover {
        color: #ed1c24; }
    .nav__list:hover .nav-sub {
      opacity: 1;
      visibility: visible;
      z-index: 10; }

/* Showcase */
.showcase {
  height: 842px;
  background-size: cover;
  background-position: 50%;
  padding: 238px 0 0; }
  .showcase-wrapper {
    position: relative; }
  .showcase-wrap {
    position: relative; }
    .showcase-wrap .slick-dots {
      position: absolute;
      top: 32%;
      right: 15%; }
      .showcase-wrap .slick-dots li {
        margin: 0 auto 22px;
        width: 12px;
        height: 12px;
        background-color: #dde2e5;
        border-radius: 50%;
        cursor: pointer; }
        .showcase-wrap .slick-dots li:last-child {
          margin-bottom: 0; }
        .showcase-wrap .slick-dots li.slick-active {
          width: 18px;
          height: 18px;
          background-color: #0078ff; }
      .showcase-wrap .slick-dots button {
        display: none; }
  .showcase-item {
    width: 720px;
    margin-left: 196px; }
    .showcase-item h2 {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 14px;
      color: #fff; }
    .showcase-item p {
      font-size: 24px;
      line-height: 1.5;
      color: #fff; }

/* Shopfront */
.shopfront-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%); }

.shopfront-items {
  display: flex;
  position: relative; }
  .shopfront-items .slick-arrow {
    border: none;
    z-index: 5;
    cursor: pointer;
    transition: 300ms;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: -70px; }
    .shopfront-items .slick-arrow i {
      background: transparent; }
    .shopfront-items .slick-arrow:hover {
      background: #0078ff; }
  .shopfront-items .slick-next {
    left: auto;
    right: -70px; }

.shopfront-item {
  width: 321px;
  height: 340px;
  padding: 70px 10px 0 36px;
  position: relative;
  transition: 300ms; }
  .shopfront-item:hover .hover {
    opacity: 1;
    visibility: visible; }
  .shopfront-item__number {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 22px;
    margin-bottom: 26px;
    position: relative; }
    .shopfront-item__number:after {
      content: '';
      display: block;
      width: 60px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0; }
  .shopfront-item__head {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5; }

/* Shopfront hover */
.shopfront .hover {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ed1c24;
  padding: 36px 10px 0 36px; }
  .shopfront .hover__number {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 18px; }
  .shopfront .hover-img {
    width: 88px;
    height: 87px;
    margin-bottom: 18px;
    position: relative; }
    .shopfront .hover-img:after {
      content: '';
      display: block;
      width: 60px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: -80px; }
  .shopfront .hover__head {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 20px;
    line-height: 1.5; }
  .shopfront .hover__link {
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 0 16px 0 18px; }
    .shopfront .hover__link:hover {
      color: #ed1c24;
      background: #fff; }

/* Main-news */
.main-news {
  padding: 65px 0 53px; }
  .main-news-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px; }
  .main-news-item {
    width: 380px; }
    .main-news-item p {
      line-height: 1.6; }
  .main-news-data {
    position: relative;
    margin-bottom: 14px; }
    .main-news-data img {
      position: absolute;
      top: 0;
      left: 0; }
    .main-news-data span {
      padding-left: 26px;
      font-weight: 700;
      color: #0078ff; }
  .main-news__head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.3;
    color: #000; }
    .main-news__head:hover {
      color: #0078ff; }
  .main-news__link a {
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    background: #0078ff;
    padding: 0 20px;
    border-radius: 20px; }
    .main-news__link a:hover {
      background: #0769d8; }

/* Recourse */
.recourse {
  padding: 66px 0 40px;
  margin-bottom: 85px;
  position: relative; }
  .recourse-wrap {
    background-color: #ecf1f4; }
  .recourse-content {
    width: 620px;
    position: relative;
    padding-left: 60px; }
    .recourse-content__quotes {
      position: absolute;
      top: -22px;
      left: 0;
      z-index: 1; }
    .recourse-content p {
      font-size: 20px;
      margin-bottom: 33px;
      padding-right: 40px;
      line-height: 1.6;
      font-style: italic;
      position: relative;
      z-index: 5; }
    .recourse-content span {
      font-weight: 700;
      line-height: 1.6;
      display: block;
      margin-bottom: 68px; }
    .recourse-content__singnature {
      display: inline-block;
      font-family: 'Pushkin';
      font-size: 42px;
      font-weight: 400;
      transform: rotate(-21deg);
      position: absolute;
      bottom: 100px;
      right: 15px; }
    .recourse-content a {
      color: #0078ff;
      line-height: 40px;
      border: 1px solid #0078ff;
      font-weight: 700;
      padding: 0 30px;
      margin-left: 20px;
      border-radius: 20px; }
      .recourse-content a:hover {
        color: #fff;
        background: #0078ff; }
  .recourse-img {
    position: absolute;
    top: 40px;
    right: -160px; }

/* Feature */
.feature {
  padding-bottom: 60px; }
  .feature-head {
    margin-bottom: 45px; }
  .feature-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative; }
    .feature-items .slick-prev,
    .feature-items .slick-next {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      left: -83px;
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/shopfront-arrows1.png) no-repeat left;
      width: 28px;
      height: 28px; }
    .feature-items .slick-next {
      background: url(../images/shopfront-arrows2.png) no-repeat left;
      left: auto;
      right: -78px; }
    .feature-items .slick-dots {
      position: absolute;
      bottom: -37px;
      left: 50%;
      margin-left: -52px; }
    .feature-items .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      width: 12px;
      height: 12px;
      background-color: #dde2e5;
      border-radius: 50%;
      cursor: pointer; }
      .feature-items .slick-dots li:last-child {
        margin-bottom: 0;
        margin-right: 0; }
    .feature-items .slick-dots .slick-active {
      width: 18px;
      height: 18px;
      background-color: #0078ff; }
    .feature-items .slick-dots button {
      display: none; }
  .feature-item {
    width: 380px;
    margin: 0 20px; }
    .feature-item__img {
      display: inline-block;
      vertical-align: middle;
      height: 140px;
      line-height: 140px; }
      .feature-item__img img {
        display: inline-block;
        vertical-align: middle; }
    .feature-item__head {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      margin: 13px 0 6px; }
      .feature-item__head:hover {
        color: #0078ff; }
    .feature-item-content p {
      line-height: 1.6; }

/* Main-about */
.main-about {
  padding: 62px 0 40px; }
  .main-about-wrap {
    background: url(../images/main-about.jpg) no-repeat 50%;
    background-size: cover; }
  .main-about-head {
    text-align: center;
    margin-bottom: 30px; }
  .main-about-text {
    width: 940px;
    margin: 0 auto 36px;
    line-height: 1.65;
    color: #fff;
    text-align: center; }
  .main-about-items {
    display: flex;
    justify-content: space-between;
    margin: 0 17px 40px 82px; }
  .main-about-item {
    width: 345px;
    position: relative; }
  .main-about__number {
    display: inline-block;
    vertical-align: top;
    color: #ed1c24;
    font-size: 98px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px; }
  .main-about__text {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
    margin-top: 15px;
    width: 165px; }
  .main-about__link {
    text-align: center; }
    .main-about__link a {
      font-weight: 700;
      color: #fff;
      padding: 0 24px;
      border: 1px solid #fff;
      line-height: 40px;
      border-radius: 20px; }
      .main-about__link a:hover {
        background: #0078ff;
        border: 1px solid #0078ff; }

/* Clients */
.partners .feature {
  padding-top: 120px;
  position: relative; }

.partners .feature-item {
  width: 210px;
  height: 210px;
  border: 1px solid #dedede;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.partners .feature-head {
  margin-bottom: 36px; }

.partners-info {
  position: absolute;
  top: 55px;
  right: 0;
  width: 542px; }
  .partners-info p {
    display: inline-block;
    vertical-align: bottom;
    color: #ed1c24;
    font-size: 98px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 16px; }
  .partners-info span {
    display: inline-block;
    vertical-align: bottom;
    width: 345px;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 5px; }

.partners-items {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 55px; }
  .partners-items .slick-prev,
  .partners-items .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: -82px;
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/shopfront-arrows1.png) no-repeat left;
    width: 28px;
    height: 28px; }
  .partners-items .slick-next {
    background: url(../images/shopfront-arrows2.png) no-repeat left;
    left: auto;
    right: -77px; }
  .partners-items .slick-dots {
    position: absolute;
    bottom: -61px;
    left: 50%;
    margin-left: -52px; }
  .partners-items .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 12px;
    height: 12px;
    background-color: #dde2e5;
    border-radius: 50%;
    cursor: pointer; }
    .partners-items .slick-dots li:last-child {
      margin-bottom: 0;
      margin-right: 0; }
  .partners-items .slick-dots .slick-active {
    width: 18px;
    height: 18px;
    background-color: #0078ff; }
  .partners-items .slick-dots button {
    display: none; }

/* Invite */
.invite {
  padding: 65px 0 66px;
  position: relative;
  z-index: 5; }
  .invite-wrap {
    background: url(../images/invite-bg2.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 83px; }
  .invite-head {
    margin-bottom: 75px;
    text-align: center;
    color: #fff; }
  .invite-content {
    float: left;
    width: 480px; }
    .invite-content__head {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 27px; }
    .invite-content p {
      line-height: 1.6;
      color: #fff; }
  .invite-items {
    float: right;
    width: 595px;
    display: flex;
    justify-content: space-between; }
  .invite-item {
    width: 150px;
    text-align: center; }
    .invite-item a {
      font-weight: 700;
      line-height: 1.6;
      color: #fff;
      margin: 16px 0 10px; }
      .invite-item a:hover {
        text-decoration: underline; }
    .invite-item span {
      color: #fff; }

/* Map */
.map {
  position: relative; }
  .map-info {
    position: absolute;
    top: -10px;
    right: 0; }
    .map-info span {
      margin-right: 20px; }
    .map-info select {
      width: 260px;
      height: 40px;
      padding: 0 44px 0 14px;
      border: 1px solid #0078ff;
      border-radius: 20px;
      font-family: 'Gilroy';
      font-size: 16px;
      font-weight: 300;
      -webkit-appearance: none;
      background-image: url("../images/select-arrow.png");
      background-position: 96% center;
      background-repeat: no-repeat;
      line-height: 1em;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none !important; }
  .map-head {
    margin-bottom: 28px; }
  .map-content {
    height: 680px; }
    .map-content iframe {
      width: 100%;
      height: 100%;
      border: none; }

/* Callback */
.callback-wrap {
  overflow: hidden; }

.callback-bond {
  float: left;
  background: #ed1c24;
  width: 477px;
  padding: 75px 0 62px;
  position: relative;
  z-index: 5; }
  .callback-bond:before {
    content: '';
    display: block;
    background: #ed1c24;
    width: 1000px;
    height: 100%;
    position: absolute;
    right: 99%;
    top: 0;
    z-index: -1; }
  .callback-bond-nav {
    margin-bottom: 30px; }
    .callback-bond-nav__item {
      display: inline-block;
      vertical-align: top;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      margin-right: 35px; }
      .callback-bond-nav__item:last-child {
        margin-right: 0; }
      .callback-bond-nav__item.active {
        border-bottom: 1px solid #fff; }
  .callback-bond-content {
    display: none; }
    .callback-bond-content.active {
      display: block; }
    .callback-bond-content__tel {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #fff; }
    .callback-bond-content p {
      color: #fff; }
    .callback-bond-content__mail {
      margin: 20px 0;
      color: #fff;
      text-decoration: underline; }
    .callback-bond-content__link a {
      font-weight: 700;
      color: #fff;
      background: #0078ff;
      line-height: 40px;
      padding: 0 25px;
      border-radius: 20px;
      margin-top: 40px; }
      .callback-bond-content__link a:hover {
        background: #0769d8; }
  .callback-bond-head {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #fff; }

.callback-items {
  float: right;
  width: 700px;
  padding: 75px 0 60px; }
  .callback-items__head {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px; }
  .callback-items p {
    margin-bottom: 44px; }

.callback-item {
  font-size: 0; }
  .callback-item-input {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin: 0 20px 35px 0; }
    .callback-item-input:nth-child(3) {
      margin-right: 0; }
    .callback-item-input input {
      width: 100%;
      font-family: 'Gilroy';
      font-size: 16px;
      font-weight: 300;
      padding: 0 0 10px 0;
      border: none;
      border-bottom: 1px solid #959595;
      color: #ed1c24; }
      .callback-item-input input::-webkit-input-placeholder {
        color: #000; }
      .callback-item-input input:-moz-placeholder {
        color: #000; }
      .callback-item-input input::-moz-placeholder {
        color: #000; }
      .callback-item-input input:-ms-input-placeholder {
        color: #000; }
      .callback-item-input input:focus {
        border-bottom: 1px solid #ed1c24; }
  .callback-item textarea {
    width: 100%;
    height: 30px;
    resize: none;
    border: none;
    border-bottom: 1px solid #959595;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 55px 0;
    color: #ed1c24; }
    .callback-item textarea::-webkit-input-placeholder {
      color: #000; }
    .callback-item textarea:-moz-placeholder {
      color: #000; }
    .callback-item textarea::-moz-placeholder {
      color: #000; }
    .callback-item textarea:-ms-input-placeholder {
      color: #000; }
    .callback-item textarea:focus {
      border-bottom: 1px solid #ed1c24; }
  .callback-item button {
    font: 700 16px/40px 'Gilroy';
    background: #0078ff;
    color: #fff;
    padding: 0 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: 300ms; }
    .callback-item button:hover {
      background: #0769d8; }

/* Footer */
.footer {
  padding: 52px 0 32px; }
  .footer-wrap {
    background: #000;
    border-bottom: 1px solid #252525; }
  .footer-info {
    float: left;
    width: 250px; }
    .footer-info__logo {
      margin-bottom: 44px; }
    .footer-info p {
      line-height: 1.6;
      color: #fff;
      margin-bottom: 14px; }
    .footer-info-item {
      margin-bottom: 22px; }
      .footer-info-item span {
        color: #fff; }
      .footer-info-item a {
        color: #fff; }
        .footer-info-item a:hover {
          text-decoration: underline; }
    .footer-info__soc {
      padding-top: 18px; }
      .footer-info__soc a {
        width: 24px;
        height: 24px;
        margin-right: 16px; }
        .footer-info__soc a:last-child {
          margin-right: 0; }
        .footer-info__soc a:hover {
          transform: rotate(360deg); }
  .footer-content {
    float: right;
    width: 940px;
    display: flex;
    justify-content: space-between;
    padding: 9px 15px 0 0; }
    .footer-content ul {
      width: 190px; }
      .footer-content ul:first-child {
        width: 235px; }
    .footer-content li:first-child a {
      color: #fff;
      font-weight: 700;
      margin-bottom: 10px; }
    .footer-content li a {
      color: #fff;
      margin-bottom: 7px;
      line-height: 1.6; }
      .footer-content li a:hover {
        text-decoration: underline; }
    .footer-content__link a {
      font-weight: 700;
      margin-top: 32px; }

/* Bottom */
.bottom {
  padding: 20px 0; }
  .bottom-wrap {
    background: #252525; }
  .bottom-text {
    float: left;
    font-size: 14px;
    color: #868686; }
  .bottom-content {
    float: right;
    font-size: 14px;
    color: #868686; }
    .bottom-content a {
      font-size: 14px;
      color: #868686; }
      .bottom-content a:hover {
        text-decoration: underline; }

/* Bread */
.bread {
  padding: 20px 0 30px; }
  .bread li {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
    position: relative; }
    .bread li:after {
      content: '';
      display: block;
      background: url(../images/bread-img.png) no-repeat 50%;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: -24px; }
    .bread li:last-child:after {
      display: none; }
    .bread li:last-child {
      margin-right: 0; }
    .bread li a {
      color: #0078ff; }
      .bread li a:hover {
        text-decoration: underline; }

/* Product */
.product {
  padding: 44px 0;
  margin: 0 0 66px; }
  .product-wrap {
    background-color: #ecf1f4; }
  .product-head {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #020202;
    text-align: center; }
  .product-text {
    width: 904px;
    line-height: 1.6;
    text-align: center;
    color: #020202;
    margin: 0 auto 36px; }
  .product-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 29px; }
  .product-item {
    width: 620px;
    margin-bottom: 20px;
    display: flex;
    background: #fff; }
    .product-item-img:hover {
      opacity: .8; }
    .product-item-content {
      width: 320px;
      padding: 20px 15px 20px 20px; }
      .product-item-content__head {
        color: #020202;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px; }
        .product-item-content__head:hover {
          color: #0078ff; }
      .product-item-content p {
        line-height: 1.6;
        margin-bottom: 20px; }
      .product-item-content__link {
        font-weight: 700;
        background: #0078ff;
        color: #fff;
        line-height: 40px;
        padding: 0 24px;
        border-radius: 20px; }
        .product-item-content__link:hover {
          background: #0769d8; }
  .product-link {
    text-align: center; }
    .product-link a {
      font-weight: 700;
      background: #0078ff;
      color: #fff;
      line-height: 40px;
      padding: 0 35px;
      border-radius: 20px; }
      .product-link a:hover {
        background: #0769d8; }
  .product-class {
    padding: 0 0 20px 0; }
    .product-class-nav {
      margin: 0 0 32px 160px; }
      .product-class-nav li {
        display: inline-block;
        vertical-align: top;
        margin-right: 38px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ed1c24;
        border-bottom: 1px solid #ed1c24;
        letter-spacing: 4px;
        cursor: pointer; }
        .product-class-nav li:hover {
          color: #000;
          border-bottom: 1px solid transparent; }
        .product-class-nav li:last-child {
          margin-right: 0; }
        .product-class-nav li.active {
          color: #000;
          border-bottom: 1px solid transparent; }
    .product-class-items {
      display: flex;
      display: none;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      text-align: center; }
      .product-class-items.active {
        display: flex; }
    .product-class-item {
      vertical-align: top;
      width: 200px;
      height: 200px;
      margin: 0 20px 15px;
      text-align: center;
      padding: 25px 5px 2px;
      transition: 300ms; }
      .product-class-item__img {
        display: inline-block;
        vertical-align: middle;
        height: 106px;
        line-height: 106px; }
        .product-class-item__img img {
          display: inline-block;
          vertical-align: middle; }
      .product-class-item p {
        font-size: 20px;
        font-weight: 700;
        color: #0078ff;
        line-height: 1.6;
        transition: 300ms; }

/* Products */
.products {
  display: flex;
  justify-content: space-between;
  padding: 0 0 23px; }
  .products-img {
    width: 620px;
    font-size: 0; }
    .products-img-big {
      margin-bottom: 22px; }
    .products-img-small {
      display: flex;
      justify-content: space-between; }
  .products-content {
    width: 600px; }
  .products-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 18px; }
  .products-nav {
    margin-bottom: 17px; }
    .products-nav__link {
      color: #ed1c24;
      margin-right: 7px;
      text-decoration: underline; }
      .products-nav__link:last-child {
        margin-right: 0; }
  .products-text {
    margin-bottom: 12px;
    line-height: 1.6; }
  .products-info {
    padding: 18px 0 16px 0; }
    .products-info h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 3px; }
    .products-info p {
      line-height: 1.6;
      margin-bottom: 2px; }
    .products-info-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 71px; }
      .products-info-item:last-child {
        margin-right: 0; }
      .products-info-item p {
        display: inline-block;
        vertical-align: top; }
        .products-info-item p:first-child {
          width: 212px; }
  .products-items {
    display: flex;
    margin-bottom: 5px; }
  .products-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #ecf1f4;
    width: 290px;
    padding: 18px 40px 18px 18px; }
    .products-item:last-child {
      margin-right: 0; }
    .products-item span {
      font-weight: 700;
      line-height: 1.6;
      margin-left: 18px; }
  .products-link {
    margin-top: 10px; }
    .products-link:last-child {
      margin-top: 0; }
    .products-link a {
      font-weight: 700;
      text-decoration: underline;
      color: #ed1c24;
      margin-bottom: 18px; }
  .products-slider {
    padding: 50px 0;
    margin: 0 0 60px; }
    .products-slider .product-item {
      margin: 0 10px 0;
      display: flex; }
    .products-slider-wrap {
      background-color: #ecf1f4; }
    .products-slider__head {
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 36px; }
    .products-slider-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-right: 5px;
      position: relative; }
      .products-slider-items .slick-prev,
      .products-slider-items .slick-next {
        position: absolute;
        top: 50%;
        margin-top: -14px;
        left: -83px;
        border: none;
        cursor: pointer;
        z-index: 5;
        background: url(../images/shopfront-arrows1.png) no-repeat left;
        width: 28px;
        height: 28px; }
      .products-slider-items .slick-next {
        background: url(../images/shopfront-arrows2.png) no-repeat left;
        left: auto;
        right: -78px; }

/* News */
.news {
  position: relative; }
  .news .product-class-nav li {
    border-bottom: none; }
  .news .product-class-nav li a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ed1c24; }
  .news .product-class-nav li.active a {
    color: #000;
    text-decoration: none; }
  .news .product-class-nav li a:hover {
    text-decoration: none;
    color: #000; }
  .news-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 34px; }
  .news-nav {
    position: absolute;
    top: 16px;
    right: 0; }
    .news-nav li {
      margin-right: 32px; }
    .news-nav li a {
      letter-spacing: 2px; }
  .news-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap; }
  .news-item {
    width: 380px;
    background-color: #ecf1f4;
    margin-bottom: 52px;
    margin-right: 60px; }
    .news-item:nth-child(3n) {
      margin-right: 0; }
    .news-item-img:hover {
      opacity: .8; }
    .news-item-content {
      position: relative;
      padding: 22px 15px 30px 18px;
      border-top: 1px solid #fff; }
      .news-item-content p {
        line-height: 1.6;
        font-size: 16px; }
      .news-item-content__head {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between; }
    .news-item-data {
      position: relative; }
      .news-item-data img {
        position: absolute;
        top: 0;
        left: 0; }
      .news-item-data span {
        font-size: 16px;
        font-weight: 700;
        color: #0078ff;
        padding-left: 27px; }
    .news-item__link {
      font-weight: 700;
      color: #0078ff; }
      .news-item__link:hover {
        text-decoration: underline; }
    .news-item__head {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.3;
      margin: 11px 0;
      color: #000; }
      .news-item__head:hover {
        color: #0078ff; }

/* Pagination */
.pagination {
  text-align: center;
  margin-bottom: 45px; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    width: 25px;
    height: 25px;
    position: relative;
    font-weight: 700;
    color: #0078ff; }
    .pagination li.active a {
      background: #ed1c24;
      color: #fff; }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li:after {
      content: '/';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: -12px;
      color: #0078ff;
      font-size: 16px; }
    .pagination li:first-child:after, .pagination li:last-child:after, .pagination li:nth-last-child(2):after {
      display: none; }
    .pagination li a {
      width: 100%;
      line-height: 25px;
      border-radius: 50%;
      font-weight: 700;
      color: #0078ff; }
      .pagination li a:hover {
        background: #ed1c24;
        color: #fff; }
  .pagination .pagination-arrow a {
    height: 25px; }
  .pagination .pagination-arrow a:hover {
    background: none; }
  .pagination .pagination-arrow:first-child {
    margin-right: 55px; }
  .pagination .pagination-arrow:last-child {
    margin-left: 55px; }

/* Subscribe */
.subscribe {
  padding: 34px 0 40px;
  margin: 0 80px; }
  .subscribe-wrap {
    background: #ed1c24; }
  .subscribe-content {
    float: left;
    width: 585px;
    display: flex;
    align-items: center; }
    .subscribe-content p {
      width: 477px;
      margin-left: 38px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      line-height: 1.3;
      margin-top: 9px; }
  .subscribe-info {
    float: right;
    width: 400px;
    margin-top: 23px; }
  .subscribe-input {
    width: 300px; }
    .subscribe-input-wrap {
      position: relative; }
      .subscribe-input-wrap button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        cursor: pointer;
        background: #0078ff;
        font: 700 16px/40px 'Gilroy';
        padding: 0 22px;
        border-radius: 20px;
        color: #fff;
        transition: 300ms; }
        .subscribe-input-wrap button:hover {
          background: #0769d8; }
    .subscribe-input input {
      width: 100%;
      border: none;
      border-radius: 20px;
      padding: 0 55px 0 20px;
      font: 300 16px/40px 'Gilroy';
      color: #020202; }
      .subscribe-input input::-webkit-input-placeholder {
        color: #020202; }
      .subscribe-input input:-moz-placeholder {
        color: #020202; }
      .subscribe-input input::-moz-placeholder {
        color: #020202; }
      .subscribe-input input:-ms-input-placeholder {
        color: #020202; }

/* Uncos */
.uncos {
  padding-bottom: 70px; }
  .uncos-content {
    width: 860px;
    float: left; }
    .uncos-content__head {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 18px; }
    .uncos-content .news-item__link {
      position: static; }
    .uncos-content .news-item-data {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 18px;
      margin-right: 28px; }
    .uncos-content h3 {
      margin: 25px 0 30px;
      font-size: 20px;
      font-weight: 700;
      color: #000;
      line-height: 1.3; }
    .uncos-content p {
      line-height: 1.6;
      margin-bottom: 32px; }
    .uncos-content-link {
      font-weight: 700;
      color: #fff;
      background: #0078ff;
      line-height: 40px;
      border-radius: 20px;
      padding: 0 24px; }
      .uncos-content-link:hover {
        background: #0769d8; }
  .uncos-sidebar {
    margin-top: 16px;
    width: 350px;
    float: right; }
    .uncos-sidebar__head {
      color: #ed1c24;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 50px;
      letter-spacing: 4px; }
    .uncos-sidebar .news-item-content {
      padding: 0;
      background: #fff;
      margin-bottom: 64px;
      position: relative; }
    .uncos-sidebar .news-item-content:last-child {
      margin-bottom: 0; }

/* Certificate */
.certificate-head {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center; }

.certificate-text {
  width: 940px;
  margin: 0 auto 44px;
  text-align: center;
  line-height: 1.6; }

.certificate-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.certificate-item {
  width: 380px;
  height: 490px;
  padding: 28px 35px 0 26px;
  background-color: #ecf1f4;
  margin: 0 0 49px;
  position: relative;
  cursor: pointer; }
  .certificate-item-img {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ecf1f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms; }
    .certificate-item-img__plus {
      position: absolute;
      top: 50%;
      margin-top: -35px;
      left: 50%;
      margin-left: -35px; }
  .certificate-item-doc {
    display: inline-block;
    vertical-align: top; }
    .certificate-item-doc span {
      display: inline-block;
      vertical-align: top;
      margin-top: 4px;
      font-weight: 700;
      color: #0078ff;
      margin-left: 10px; }
  .certificate-item__head {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin: 11px 0 12px;
    line-height: 1.3; }
    .certificate-item__head:hover {
      color: #ccc; }
  .certificate-item p {
    line-height: 1.6; }
  .certificate-item:hover .certificate-item-img {
    opacity: 1;
    visibility: visible; }

/* Contacts */
.contacts {
  padding: 0 0 63px; }
  .contacts-map .map-content {
    height: 555px; }
  .contacts-callback {
    background: #ed1c24; }
    .contacts-callback .callback-items {
      float: none;
      width: 940px;
      margin: 0 auto; }
    .contacts-callback .callback-items__head {
      color: #fff; }
    .contacts-callback .callback-items p {
      color: #fff; }
    .contacts-callback .callback-item-input {
      width: 300px; }
    .contacts-callback .callback-item-input input,
    .contacts-callback .callback-item textarea {
      background: transparent;
      border-bottom: 1px solid #fff;
      color: #fff; }
      .contacts-callback .callback-item-input input::-webkit-input-placeholder,
      .contacts-callback .callback-item textarea::-webkit-input-placeholder {
        color: #fff; }
      .contacts-callback .callback-item-input input:-moz-placeholder,
      .contacts-callback .callback-item textarea:-moz-placeholder {
        color: #fff; }
      .contacts-callback .callback-item-input input::-moz-placeholder,
      .contacts-callback .callback-item textarea::-moz-placeholder {
        color: #fff; }
      .contacts-callback .callback-item-input input:-ms-input-placeholder,
      .contacts-callback .callback-item textarea:-ms-input-placeholder {
        color: #fff; }
    .contacts-callback .contacts-callback-button {
      text-align: center; }
  .contacts-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 47px; }
  .contacts-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 46px; }
  .contacts-item {
    width: 250px;
    position: relative; }
    .contacts-item:first-child {
      width: 565px; }
    .contacts-item-content {
      padding-left: 58px; }
    .contacts-item-img {
      position: absolute;
      top: 0;
      left: 0; }
    .contacts-item li p {
      margin-bottom: 7px;
      line-height: 1.3; }
    .contacts-item__head {
      font-size: 20px;
      margin-bottom: 11px;
      font-weight: 700; }
    .contacts-item-text {
      line-height: 1.6;
      margin-bottom: 16px; }
    .contacts-item b {
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px; }
    .contacts-item-tel {
      font-size: 20px;
      font-weight: 700;
      color: #000; }
      .contacts-item-tel:hover {
        color: #0078ff; }
    .contacts-item-mail {
      color: #0078ff; }
      .contacts-item-mail:hover {
        text-decoration: underline; }
  .contacts-bottom {
    display: flex;
    justify-content: space-between; }
    .contacts-bottom ul {
      width: 296px; }
    .contacts-bottom__head {
      font-size: 20px;
      margin-bottom: 23px;
      font-weight: 700; }
    .contacts-bottom-info {
      margin-bottom: 10px; }
    .contacts-bottom__tel {
      color: #000; }
      .contacts-bottom__tel:hover {
        text-decoration: underline; }

/* Dealer */
.dealer .product-class-nav li {
  border-bottom: none; }

.dealer .product-class-nav li a {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ed1c24; }

.dealer .product-class-nav li.active a {
  color: #000;
  text-decoration: none; }

.dealer .product-class-nav li a:hover {
  text-decoration: none;
  color: #000; }

.dealer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }

.dealer-content {
  width: 900px; }
  .dealer-content .news-head {
    display: inline-block;
    vertical-align: top;
    margin-right: 80px;
    margin-bottom: 22px; }
  .dealer-content .product-class-nav {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 18px; }
  .dealer-content .product-class-nav li a {
    letter-spacing: 2px; }
  .dealer-content p {
    line-height: 1.6; }

.dealer-info {
  width: 300px;
  background: #0078ff;
  color: #fff;
  text-align: center;
  padding-top: 28px;
  margin-top: 2px; }
  .dealer-info a {
    margin: 10px 0 10px;
    color: #fff;
    font-size: 26px;
    font-weight: 700; }
    .dealer-info a:hover {
      text-decoration: underline; }

.dealer table {
  margin-bottom: 60px;
  border-collapse: collapse; }
  .dealer table thead tr th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    height: 64px;
    text-align: left;
    border-bottom: 1px solid #ccc; }
    .dealer table thead tr th:first-child {
      width: 230px; }
    .dealer table thead tr th:nth-child(2) {
      width: 490px; }
    .dealer table thead tr th:nth-child(3) {
      width: 240px; }
    .dealer table thead tr th:nth-child(4) {
      width: 240px; }
    .dealer table thead tr th:last-child {
      width: 60px;
      text-align: center; }
  .dealer table tbody tr td {
    border-spacing: 2px;
    height: 62px;
    border-bottom: 1px solid #ccc; }
    .dealer table tbody tr td:last-child {
      text-align: center; }

.dealer__city {
  color: #ed1c24;
  font-size: 16px;
  font-weight: 700; }
  .dealer__city span {
    text-transform: uppercase; }

.dealer__tel {
  font-weight: 700;
  color: #000;
  line-height: 1.4; }
  .dealer__tel:hover {
    color: #0078ff; }

.dealer__mail {
  color: #000; }
  .dealer__mail:hover {
    text-decoration: underline; }

/* About */
.about {
  padding-bottom: 27px; }
  .about h2, .about h3 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 29px;
    text-align: center; }
  .about h3 {
    margin: 55px 0 26px; }
  .about b {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.45;
    width: 935px;
    margin: 34px auto 24px; }
  .about p {
    width: 935px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 36px; }
  .about-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px; }

/* Cabinet */
.cabinet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px; }
  .cabinet_head {
    font-size: 24px !important;
    margin-bottom: 20px !important; }
  .cabinet-content {
    width: 835px; }
    .cabinet-content .news-head {
      margin-bottom: 16px; }
  .cabinet-sidebar {
    width: 380px;
    background-color: #ecf1f4;
    padding: 30px 15px 27px 27px; }
    .cabinet-sidebar b {
      display: inline-block;
      margin-bottom: 14px; }
    .cabinet-sidebar__head {
      font-weight: 700;
      margin-bottom: 25px;
      font-size: 16px; }
    .cabinet-sidebar-logo {
      margin-bottom: 35px; }
    .cabinet-sidebar-item {
      margin-bottom: 8px; }
      .cabinet-sidebar-item b {
        width: 140px; }
    .cabinet-sidebar-buy {
      margin: 23px 0 37px; }
      .cabinet-sidebar-buy b {
        margin-bottom: 10px; }
      .cabinet-sidebar-buy p {
        margin-bottom: 8px; }
      .cabinet-sidebar-buy span {
        display: inline-block;
        margin-right: 10px; }
        .cabinet-sidebar-buy span:last-child {
          margin-right: 0; }
    .cabinet-sidebar-status {
      margin-bottom: 34px; }
      .cabinet-sidebar-status b {
        margin-bottom: 10px; }
      .cabinet-sidebar-status__item p {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 23px; }
      .cabinet-sidebar-status__item a {
        text-decoration: underline;
        color: #ed1c24; }
        .cabinet-sidebar-status__item a:hover {
          text-decoration: none; }
      .cabinet-sidebar-status span {
        font-size: 14px;
        line-height: 1.6; }
      .cabinet-sidebar-status__link {
        color: #ed1c24;
        font-size: 14px;
        text-decoration: underline;
        margin-top: 4px; }
    .cabinet-sidebar-activity__item {
      margin-bottom: 8px; }
      .cabinet-sidebar-activity__item p {
        display: inline-block;
        width: 176px; }
      .cabinet-sidebar-activity__item a.active {
        color: #ed1c24;
        text-decoration: underline; }
      .cabinet-sidebar-activity__item a:hover {
        color: #ed1c24;
        text-decoration: underline; }
  .cabinet-nav {
    border: 1px solid #0078ff;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 0;
    overflow: hidden; }
    .cabinet-nav li {
      display: inline-block;
      vertical-align: top; }
      .cabinet-nav li a {
        font: 700 16px/50px 'Gilroy';
        color: #0078ff;
        text-decoration: underline;
        padding: 0 18px; }
        .cabinet-nav li a:hover {
          color: #fff;
          background: #0078ff;
          text-decoration: none; }
      .cabinet-nav li.active a {
        color: #fff;
        background: #0078ff;
        text-decoration: none; }
  .cabinet-items {
    display: none; }
    .cabinet-items.active {
      display: block; }
  .cabinet-item {
    padding: 0 0 22px 0;
    margin: 0 0 22px 0;
    border-bottom: 1px solid #9cadbd;
    position: relative; }
    .cabinet-item:last-child {
      border: none; }
    .cabinet-item_adress {
      padding-bottom: 16px; }
    .cabinet-item__head {
      color: #ed1c24;
      font-weight: 700;
      margin-bottom: 12px;
      font-size: 20px; }
    .cabinet-item-contact {
      display: inline-block;
      vertical-align: top;
      margin-right: 4px;
      margin-bottom: 38px; }
      .cabinet-item-contact:last-child {
        margin-right: 0; }
      .cabinet-item-contact a {
        font-weight: 700;
        color: #000; }
        .cabinet-item-contact a:hover {
          color: #0078ff; }
    .cabinet-item__link a {
      text-decoration: underline;
      color: #0078ff;
      margin-bottom: 9px; }
      .cabinet-item__link a:hover {
        text-decoration: none; }
    .cabinet-item_link {
      margin-top: 18px; }
    .cabinet-item-link {
      position: absolute;
      top: 3px;
      left: 215px;
      color: #0078ff;
      text-decoration: underline; }
    .cabinet-item-info {
      margin-bottom: 9px; }
      .cabinet-item-info-wrap {
        margin: 37px 0 20px; }
      .cabinet-item-info a {
        color: #000; }
        .cabinet-item-info a:hover {
          text-decoration: underline; }
  .cabinet-form {
    margin-top: 17px; }
    .cabinet-form-check {
      margin-bottom: 19px; }
      .cabinet-form-check:last-child {
        margin-bottom: 0; }
    .cabinet-form label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 10px; }
      .cabinet-form label a {
        color: #0078ff;
        text-decoration: underline; }
        .cabinet-form label a:hover {
          text-decoration: none; }
    .cabinet-form .checkbox {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #9cadbd;
      width: 16px;
      height: 16px; }
      .cabinet-form .checkbox input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 5;
        cursor: pointer; }
        .cabinet-form .checkbox input:checked + span:before {
          opacity: 1; }
      .cabinet-form .checkbox span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        .cabinet-form .checkbox span:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background: #0078ff;
          opacity: 0;
          transition: 300ms; }

/* Error */
.error-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding-top: 120px; }

.error h2 {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 700;
  color: #ed1c24; }

.error p {
  margin-bottom: 10px; }

.error-link {
  margin-top: 60px; }
  .error-link a {
    line-height: 40px;
    border: 1px solid #0078ff;
    color: #0078ff;
    border-radius: 20px;
    padding: 0 25px;
    font-weight: 700; }
    .error-link a:hover {
      color: #fff;
      background: #0078ff; }

.error-bottom {
  width: 1260px;
  margin: 0 auto;
  background: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.error-search {
  float: left;
  position: relative;
  width: 780px;
  padding-left: 40px;
  margin-top: 20px; }
  .error-search img {
    position: absolute;
    top: 8px;
    left: 0; }
  .error-search input {
    width: 600px;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    margin-right: 26px;
    color: #fff;
    font: 700 16px 'Gilroy'; }
    .error-search input::-webkit-input-placeholder {
      color: #fff; }
    .error-search input:-moz-placeholder {
      color: #fff; }
    .error-search input::-moz-placeholder {
      color: #fff; }
    .error-search input:-ms-input-placeholder {
      color: #fff; }
  .error-search button {
    cursor: pointer;
    border: none;
    background: none;
    color: #ed1c24;
    font: 700 16px 'Gilroy';
    text-transform: uppercase;
    padding-top: 7px;
    letter-spacing: 1px; }

/* Register */
.register {
  width: 620px;
  margin: 0 auto 86px; }
  .register__head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 32px; }
  .register-input {
    margin-bottom: 25px; }
    .register-input:nth-last-child(2) {
      margin-bottom: 20px; }
    .register-input input {
      width: 100%;
      font: 700 16px/50px 'Gilroy';
      padding: 0 26px;
      border: none;
      background: #ecf1f4;
      color: #0078ff;
      border: 1px solid transparent; }
      .register-input input::-webkit-input-placeholder {
        color: #000; }
      .register-input input:-moz-placeholder {
        color: #000; }
      .register-input input::-moz-placeholder {
        color: #000; }
      .register-input input:-ms-input-placeholder {
        color: #000; }
      .register-input input:focus {
        border: 1px solid #0078ff;
        background: transparent; }
    .register-input__text {
      float: left;
      width: 380px !important;
      margin-right: 20px; }
    .register-input__code {
      float: left;
      width: 140px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      border: 1px solid #ecf1f4; }
      .register-input__code img {
        display: inline-block;
        vertical-align: middle; }
    .register-input__update {
      float: right;
      width: 60px;
      height: 50px;
      background: #ecf1f4 url(../images/register-input__update.png) no-repeat 50%;
      cursor: pointer;
      border: none; }
  .register-info-check {
    display: inline-block;
    vertical-align: top;
    width: 330px;
    margin-right: 50px;
    position: relative;
    padding-left: 26px; }
    .register-info-check .checkbox {
      display: inline-block;
      vertical-align: top;
      width: 16px;
      height: 16px;
      border: 1px solid #9cadbd;
      position: absolute;
      top: 0;
      left: 0; }
      .register-info-check .checkbox input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 5;
        cursor: pointer; }
        .register-info-check .checkbox input:checked + span:before {
          opacity: 1; }
      .register-info-check .checkbox span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        .register-info-check .checkbox span:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background: #0078ff;
          opacity: 0;
          transition: 300ms; }
    .register-info-check label {
      cursor: pointer;
      font: 300 14px/1.3 'Gilroy'; }
  .register__check-in {
    float: right;
    font: 700 16px/50px 'Gilroy';
    color: #fff;
    background: #0078ff;
    padding: 0 37px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 300ms; }
    .register__check-in:hover {
      background: #0466d5; }

/* Entry */
.entry .register-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.entry .register-info-check {
  width: auto;
  margin-right: 0; }

.entry .register__check-in {
  padding: 0 90px; }

.entry__link {
  text-decoration: underline;
  color: #0078ff;
  font-size: 16px; }

.entry-link {
  text-align: center;
  margin-top: 25px; }

.search {
  width: 960px;
  margin: 0 auto 24px; }
  .search-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 27px; }
  .search-form {
    display: flex;
    margin-bottom: 40px; }
    .search-form input {
      width: 620px;
      height: 50px;
      border: 1px solid #0078ff;
      padding: 0 12px;
      margin-right: 23px;
      color: #0078ff;
      font: 700 16px 'Gilroy';
      color: #0078ff; }
      .search-form input::-webkit-input-placeholder {
        color: #0078ff; }
      .search-form input:-moz-placeholder {
        color: #0078ff; }
      .search-form input::-moz-placeholder {
        color: #0078ff; }
      .search-form input:-ms-input-placeholder {
        color: #0078ff; }
    .search-form button {
      width: 220px;
      height: 50px;
      background-color: #0078ff;
      border: none;
      cursor: pointer;
      transition: 300ms;
      border-radius: 30px;
      font: 700 16px 'Gilroy';
      color: #fff; }
      .search-form button:hover {
        background-color: #004ca2; }
  .search-found {
    color: #ed1c24;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px; }
  .search-item {
    border-top: 1px solid #9cadbd;
    padding: 11px 0; }
    .search-item__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #000; }
      .search-item__head .conformity {
        color: #0078ff;
        font-size: 24px;
        font-weight: 700; }
    .search-item-text {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.65; }
      .search-item-text .conformity {
        color: #0078ff;
        font-size: 16px;
        font-weight: 700; }

/*# sourceMappingURL=style.css.map */