@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Bold.woff2') format('woff2'),
        url('../fonts/Qanelas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Regular.woff2') format('woff2'),
        url('../fonts/Qanelas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSMalina';
    src: url('../fonts/ALSMalina.woff2') format('woff2'),
        url('../fonts/ALSMalina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}