@media only screen and (max-width: 1780px) {
  .partners-close {
    top: 50px;
    right: 20px; } }

@media only screen and (max-width: 1260px) {
  .container {
    max-width: 1170px; }
  .nav li {
    padding-right: 32px;
    margin-right: 32px; }
  .header {
    padding-left: 20px; }
    .header-wrap .container {
      max-width: 100%; }
    .header-content {
      margin-right: 20px; }
  .showcase-img {
    width: 740px; }
  .charity-elem {
    margin-right: 0; }
  .charity-item {
    width: 505px; }
  .more-soc-head {
    font-size: 34px;
    margin-right: 51px; }
  .footer-logo {
    margin-right: 26px; }
  .footer-content {
    width: 570px; }
  .footer-items {
    width: 590px; }
  .footer-item {
    margin-right: 26px; }
    .footer-item ul {
      margin-right: 40px; }
  .footer-soc li {
    width: 60px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px; }
  .logo {
    width: 180px;
    margin: 13px 0; }
  .head {
    font-size: 32px; }
    .head:after {
      background-size: 100% !important;
      width: 80px; }
  .header-info {
    width: auto;
    height: auto;
    padding: 15px 5px 13px 16px; }
  .header-info-img {
    width: 52px;
    height: 52px; }
  .header-info-img .amount {
    width: 32px;
    height: 32px;
    font-size: 18px;
    right: -20px; }
  .header-info-content {
    display: none; }
  .header-items {
    margin-bottom: 12px; }
  .header-item__head {
    font-size: 14px; }
  .header-item__tel {
    font-size: 16px; }
  .header-content {
    margin-right: 24px;
    padding-top: 15px;
    padding-bottom: 0; }
  .nav li a {
    font-size: 14px; }
  .nav li {
    padding-right: 33px;
    margin-right: 33px; }
  .showcase {
    height: 565px;
    padding-top: 65px;
    padding-left: 326px; }
    .showcase .link {
      margin: 28px 0 0; }
    .showcase-scroll {
      width: 80px; }
    .showcase-content {
      margin: 0 55px 0 auto; }
  .showcase-head {
    font-size: 34px;
    padding-bottom: 45px;
    padding-right: 83px;
    margin-bottom: 24px; }
  .showcase-head:after {
    background-size: 100%;
    width: 80px;
    margin-left: -43px; }
  .showcase-img {
    width: 560px;
    height: auto;
    top: 36px;
    left: -16px; }
  .advantage {
    padding: 38px 0 80px; }
  .advantage-img {
    width: 492px;
    top: 200px;
    margin-left: -14px;
    text-align: center; }
  .advantage-item {
    padding-top: 10px; }
    .advantage-item.item1 {
      padding-left: 14px; }
  .advantage-item p {
    font-size: 18px;
    margin-bottom: 118px; }
  .advantage-item p.arrow-left:before {
    background-size: 85%;
    top: -106px;
    right: -52px; }
  .advantage-item p.arrow-right:after {
    background-size: 85%;
    bottom: -114px;
    left: -52px; }
  .use {
    padding: 33px 0 6px; }
  .use .head {
    margin-bottom: 28px; }
  .use-items {
    margin: 0 8px 0 24px; }
  .use-item {
    width: 32%;
    margin-bottom: 33px; }
  .use-item__head {
    font-size: 20px; }
  .compare {
    padding: 33px 0 46px; }
  .compare .head {
    margin-bottom: 42px; }
  .compare-table table thead td {
    height: 62px;
    font-size: 16px;
    line-height: 1.6; }
    .compare-table table thead td img {
      width: 120px; }
    .compare-table table thead td:first-child {
      width: 240px; }
    .compare-table table thead td:nth-child(2) {
      width: 100px; }
    .compare-table table thead td:nth-child(3) {
      width: 225px; }
    .compare-table table thead td:nth-child(4) {
      width: 170px; }
    .compare-table table thead td:last-child {
      width: 224px; }
  .compare-table table tbody tr td {
    font-size: 16px; }
    .compare-table table tbody tr td.a-week {
      font-size: 24px; }
    .compare-table table tbody tr td:first-child {
      padding-left: 18px; }
  .main-product {
    padding-top: 36px;
    padding-left: 16px;
    padding-bottom: 80px; }
  .main-product .head {
    padding-bottom: 34px;
    margin-bottom: 34px; }
  .main-product-content {
    width: 330px; }
  .main-product-items {
    margin-bottom: 28px; }
  .main-product-item {
    margin-bottom: 16px; }
  .main-product__head {
    width: 98px;
    font-size: 16px;
    padding-top: 5px; }
  .main-product__head.price {
    padding-top: 0; }
  .main-product__head.delivery {
    padding-top: 3px; }
  .main-product-text {
    font-size: 16px;
    line-height: 1.7; }
  .main-product-price {
    font-size: 16px; }
    .main-product-price span {
      font-size: 16px; }
  .main-product-delivery {
    padding: 4px 7px;
    font-size: 16px; }
  .main-product-img {
    width: 590px;
    top: 104px;
    right: -5px; }
  .charity {
    padding: 46px 0 30px; }
  .charity .head {
    padding-top: 30px; }
    .charity .head:before {
      background-size: 100%;
      width: 80px; }
  .charity-elem {
    margin-right: 60px; }
  .charity-items {
    margin-left: 25px;
    margin-bottom: 36px; }
  .charity-item {
    width: 440px; }
    .charity-item.item1 {
      margin: 0 0 54px; }
    .charity-item.item3 {
      margin: 36px 0 44px; }
  .charity-item-img {
    margin: 26px 12px 0 0; }
  .charity-item__head {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px; }
  .more {
    padding: 50px 0 67px;
    margin: 0 16px; }
  .more-links {
    margin-bottom: 56px; }
  .more-soc {
    margin-left: 36px; }
  .conditions {
    height: 300px;
    margin: 0 74px 50px;
    padding: 28px 0 0 30px; }
  .conditions-content {
    width: 562px; }
    .conditions-content .head {
      padding-bottom: 34px;
      margin-bottom: 52px; }
      .conditions-content .head:after {
        width: 80px;
        background-size: 100%; }
  .conditions-img {
    width: 321px;
    top: -14px;
    right: 21px; }
  .conditions-link {
    margin-left: 6px; }
  .footer {
    align-items: flex-end;
    padding-top: 22px;
    padding-left: 17px; }
  .footer-items {
    width: 608px;
    margin-bottom: 3px; }
  .footer-item {
    margin-right: 42px; }
  .footer-soc {
    margin-top: -26px; }
  .footer-content {
    width: 300px;
    flex-direction: column; }
  .footer-logo {
    width: 180px;
    margin-bottom: 16px; }
  .footer-info .header-select-city {
    font-size: 14px; }
  .footer-info .header-item {
    margin-bottom: 7px; }
  .bottom-item__text,
  .bottom-item__link,
  .bottom-item__text a {
    font-size: 12px; }
  .bottom {
    padding: 0 16px 26px; }
  .bottom-pc {
    display: none; }
  .bottom-mobile {
    display: inline-block; }
  .contacts-img {
    width: 600px;
    right: -192px;
    background-size: 100%; }
  .contacts-content {
    width: 580px; }
  .contacts-item-note {
    font-size: 18px; }
  .contacts-soc__head {
    text-align: center;
    font-size: 18px; }
  .contacts-soc ul {
    justify-content: center;
    margin-left: 0; }
    .contacts-soc ul li {
      margin-right: 56px; }
  .basket {
    padding-bottom: 56px; }
    .basket__head {
      font-size: 26px;
      margin-bottom: 12px; }
    .basket-item {
      width: 32%; }
      .basket-item .radio {
        top: 2px; }
        .basket-item .radio__text {
          padding-left: 26px;
          line-height: 1.3; }
          .basket-item .radio__text span {
            display: inline; }
    .basket-textarea__head {
      font-size: 20px; }
    .basket-textarea__text {
      line-height: 1.3; }
    .basket-data__text {
      line-height: 1.3;
      margin-bottom: 10px; }
    .basket-data-input {
      margin-bottom: 16px; }
      .basket-data-input input {
        font-size: 20px; }
    .basket-data-checkbox {
      margin-bottom: 26px; }
    .basket-delivery__head {
      font-size: 20px;
      margin-bottom: 14px; }
    .basket-delivery-date {
      flex-direction: column; }
      .basket-delivery-date input {
        width: 190px;
        margin-bottom: 12px; }
    .basket-product-img {
      margin-bottom: 12px; }
    .basket-product__price {
      font-size: 34px; }
    .basket-product-info {
      margin-bottom: 20px; }
    .basket-product__head {
      font-size: 20px; }
    .basket-product-items {
      margin-bottom: 28px; }
      .basket-product-items table tbody tr td {
        font-size: 18px; }
        .basket-product-items table tbody tr td:first-child {
          width: 210px; }
        .basket-product-items table tbody tr td.bold {
          font-size: 18px; }
  .payment-items {
    width: 580px; }
  .issues .link a {
    padding: 0 30px;
    width: 100%;
    text-align: center; }
  .issues-items {
    margin-right: 26px; }
  .issues-sidebar {
    width: 260px; }
  .partners-wrap {
    background: url(../images/partners-bg1024.jpg) no-repeat 50%;
    background-size: cover; }
  .partners-content {
    margin: 0 22px;
    padding-right: 260px; }
    .partners-content .head {
      padding-bottom: 36px;
      margin-bottom: 12px; }
      .partners-content .head:after {
        width: 80px; }
    .partners-content__text {
      font-size: 16px;
      padding-right: 26px;
      line-height: 1.65;
      margin-bottom: 18px; }
  .partners-close {
    width: 70px;
    top: 29px;
    right: 5px; }
  .partners-input {
    width: 282px;
    margin-right: 30px;
    margin-bottom: 26px; }
    .partners-input .error-text {
      font-size: 14px; }
    .partners-input input {
      font-size: 20px; }
  .partners-form-bottom {
    padding-top: 20px;
    margin-right: 0; }
    .partners-form-bottom button {
      width: 280px;
      margin-right: 34px; }
    .partners-form-bottom label {
      padding: 2px 0 0 27px; }
      .partners-form-bottom label .checkbox {
        width: 16px;
        height: 16px;
        top: 2px; }
        .partners-form-bottom label .checkbox-text {
          font-size: 12px; }
          .partners-form-bottom label .checkbox-text a {
            font-size: 12px; }
  .partners-img {
    width: 290px;
    top: 118px;
    right: -20px; }
  .fancybox-close-small {
    width: 60px;
    height: 60px; }
  .advantages-item {
    width: 470px; }
  .product-img {
    width: 500px; }
  .product-carousel .slick-arrow {
    bottom: -108px; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px; }
  .header {
    padding-left: 125px;
    position: relative; }
    .header-wrap {
      overflow: visible; }
    .header-info:after {
      display: none; }
    .header-items {
      flex-direction: column;
      margin-bottom: 0; }
    .header-item {
      margin-bottom: 1px; }
      .header-item__head {
        font-size: 14px; }
      .header-item-soc li {
        width: 16px;
        height: 16px; }
    .header-content {
      margin-right: 30px;
      padding-top: 8px; }
    .header-select-city {
      font-size: 14px; }
  .burger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
    width: 50px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 50px;
        height: 6px;
        background-color: #34953b;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 50px;
          height: 6px;
          position: absolute;
          left: 0;
          background-color: #34953b;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -14px; }
        .burger a span:after {
          width: 40px;
          top: 14px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(10px, 8px);
          transform: rotate(45deg) translate(10px, 8px); }
        .burger a.active span:after {
          width: 50px;
          -webkit-transform: rotate(-45deg) translate(10px, -8px);
          transform: rotate(-45deg) translate(10px, -8px); }
  .nav {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #f3f8eb;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px; }
    .nav.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0; }
    .nav li {
      padding: 8px 0;
      margin-right: 0; }
      .nav li:after {
        display: none; }
  .showcase {
    height: 820px;
    padding-top: 49px;
    padding-left: 0;
    position: relative; }
    .showcase .link {
      position: absolute;
      bottom: 89px;
      left: 50%;
      transform: translate(-50%); }
    .showcase-wrap {
      background-image: url(../images/showcase768.png);
      background-size: cover; }
    .showcase-head {
      padding-right: 0;
      padding-bottom: 51px;
      margin: 0 70px 21px; }
      .showcase-head:after {
        margin-left: 0; }
    .showcase-content {
      margin-right: 48px; }
    .showcase-img {
      top: 202px;
      left: 23px; }
  .advantage {
    padding: 32px 0 50px; }
    .advantage .head {
      margin: 0 40px 35px; }
    .advantage-img {
      position: static;
      transform: translate(0);
      margin: 0 115px 7px; }
    .advantage-items {
      margin: 0 38px 0 42px; }
    .advantage-item {
      width: 308px; }
      .advantage-item.item1 {
        padding-left: 0; }
      .advantage-item p {
        margin-bottom: 31px; }
        .advantage-item p.arrow-left:before, .advantage-item p.arrow-right:after {
          display: none; }
  .use {
    padding: 28px 0 12px; }
    .use .head {
      margin-bottom: 20px; }
    .use-wrap {
      background-image: url(../images/use-bg768.jpg);
      background-size: cover; }
    .use-items {
      margin: 0; }
    .use-item {
      width: 352px;
      margin: 0 10px 24px; }
      .use-item__head {
        line-height: 1.3;
        padding-right: 10px; }
      .use-item-img {
        margin-bottom: 16px; }
  .compare {
    padding-bottom: 40px; }
    .compare .head {
      margin-bottom: 28px; }
  .compare-table table {
    border-spacing: 4px; }
    .compare-table table thead td:first-child {
      width: 205px; }
    .compare-table table thead td:nth-child(2) {
      width: 80px; }
    .compare-table table thead td:nth-child(3) {
      width: 152px; }
    .compare-table table thead td:nth-child(4) {
      width: 128px; }
    .compare-table table thead td:last-child {
      width: 158px; }
    .compare-table table tbody tr td {
      height: 48px; }
      .compare-table table tbody tr td:first-child {
        padding-left: 10px; }
  .main-product {
    padding-top: 31px;
    padding-bottom: 62px; }
    .main-product-wrap {
      overflow: hidden; }
    .main-product-img {
      width: 500px;
      top: 88px;
      right: -108px; }
  .charity {
    padding-top: 37px; }
    .charity-wrap {
      background-image: url(../images/use-bg768.jpg);
      background-size: cover; }
    .charity-elem {
      margin-right: 0; }
    .charity-items {
      margin: 0 47px; }
    .charity-item {
      width: 100%;
      margin: 0 0 22px !important; }
      .charity-item-img {
        margin: 16px 22px 0 12px; }
  .more {
    padding: 40px 0 30px; }
    .more-links {
      flex-direction: column;
      margin-bottom: 0; }
      .more-links li {
        margin-bottom: 34px; }
    .more-soc {
      margin-top: -5px;
      margin-left: 0;
      flex-direction: column;
      justify-content: center; }
      .more-soc-head {
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center; }
  .conditions {
    width: 100%;
    margin-left: 0;
    margin-bottom: 58px;
    padding-left: 23px; }
    .conditions-wrap {
      overflow-x: hidden;
      padding-top: 14px; }
      .conditions-wrap .container {
        max-width: 100%; }
    .conditions-img {
      right: -21px; }
  .footer {
    padding: 26px 0 18px;
    margin: 0 43px;
    align-items: flex-start; }
    .footer-items {
      width: 344px;
      flex-direction: column;
      align-items: flex-start; }
    .footer-item {
      margin-right: 0; }
      .footer-item ul li a {
        margin-bottom: 11px; }
    .footer-soc {
      margin-top: 0;
      order: -1;
      margin-bottom: 16px; }
    .footer-content {
      padding-top: 2px; }
    .footer-info .header-item {
      margin-bottom: 9px; }
  .bottom {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px; }
    .bottom-item {
      margin-bottom: 8px; }
      .bottom-item:first-child {
        margin-right: 65px; }
  .contacts {
    padding-bottom: 40px; }
    .contacts .head {
      margin-bottom: 20px;
      padding-bottom: 30px; }
      .contacts .head:after {
        width: 55px; }
    .contacts-content {
      width: 466px;
      position: relative;
      z-index: 5; }
    .contacts-img {
      width: 488px;
      z-index: 1; }
    .contacts-item {
      margin-bottom: 30px; }
      .contacts-item-note {
        font-size: 16px; }
        .contacts-item-note a {
          font-size: 16px; }
      .contacts-item-tel a {
        font-size: 24px; }
      .contacts-item__text {
        font-size: 14px; }
    .contacts-soc {
      margin-bottom: 34px; }
      .contacts-soc__head {
        font-size: 16px;
        margin-bottom: 24px; }
      .contacts-soc ul li {
        width: 80px;
        margin-right: 36px; }
    .contacts-props b, .contacts-props p {
      font-size: 14px; }
  .basket .link a {
    line-height: 50px;
    padding: 0 44px;
    font-size: 16px; }
  .basket-item .radio {
    width: 14px;
    height: 14px;
    top: 0; }
    .basket-item .radio__text {
      padding-left: 22px;
      line-height: 1.1;
      font-size: 14px; }
  .basket__head {
    font-size: 18px; }
  .basket-data__text {
    font-size: 14px; }
  .basket-data-input {
    margin-bottom: 10px; }
    .basket-data-input input {
      height: 46px;
      font-size: 18px; }
  .basket-data-checkbox .checkbox {
    width: 18px;
    height: 18px; }
    .basket-data-checkbox .checkbox__text {
      font-size: 14px;
      padding-left: 26px; }
  .basket-textarea {
    margin-bottom: 16px; }
    .basket-textarea__head {
      font-size: 16px; }
    .basket-textarea__text {
      line-height: 1.1;
      font-size: 14px; }
  .basket-delivery__head {
    font-size: 16px; }
  .basket-delivery-items {
    margin-bottom: 10px; }
  .basket-product__head {
    font-size: 16px; }
  .basket-product__price {
    font-size: 26px; }
  .basket-product-items {
    margin-bottom: 20px; }
    .basket-product-items table tbody tr td {
      height: 30px;
      font-size: 14px; }
      .basket-product-items table tbody tr td:first-child {
        width: 160px; }
      .basket-product-items table tbody tr td.bold {
        font-size: 14px; }
  .basket-product-info {
    margin-right: 0; }
    .basket-product-info .amount {
      width: 110px;
      height: 36px; }
  .payment-items {
    width: 460px; }
  .payment-info {
    width: 560px;
    right: -236px; }
    .payment-info .link {
      margin-left: 50px; }
      .payment-info .link a {
        padding: 0 34px; }
  .order-success {
    width: 700px;
    padding: 43px 24px 0; }
    .order-success .head:after {
      width: 80px; }
    .order-success .link a {
      padding: 0 40px; }
  .issues {
    padding-bottom: 56px; }
    .issues .link a {
      line-height: 48px;
      font-size: 16px; }
    .issues-item-head h2 {
      font-size: 18px; }
    .issues-item-content {
      padding: 0 10px 16px; }
    .issues-sidebar {
      width: 240px; }
      .issues-sidebar__head {
        font-size: 18px;
        margin-bottom: 6px; }
      .issues-sidebar__text {
        font-size: 16px;
        margin-bottom: 6px; }
      .issues-sidebar-tel {
        margin-bottom: 5px; }
      .issues-sidebar-mail {
        margin-bottom: 50px; }
  .product {
    padding-bottom: 50px; }
    .product .link {
      margin-bottom: 40px; }
      .product .link a {
        line-height: 48px;
        padding: 0 40px; }
    .product-img {
      width: 390px;
      right: 14px; }
    .product-carousel {
      margin-bottom: 16px; }
    .product-dots {
      margin-left: 0; }
      .product-dots li {
        margin: 0 6px; }
    .product-content {
      width: 360px; }
      .product-content__text {
        line-height: 1.3;
        margin-bottom: 14px; }
      .product-content table {
        margin-bottom: 30px; }
        .product-content table tbody tr td {
          padding: 4px 0;
          font-size: 16px; }
          .product-content table tbody tr td:first-child {
            width: 92px; }
    .product-info {
      margin-bottom: 24px; }
      .product-info__price {
        font-size: 32px; }
    .product-reviews ul li a {
      font-size: 18px; }
  .advantages-head {
    font-size: 30px;
    margin-bottom: 30px; }
  .advantages-item {
    width: 366px;
    margin-bottom: 28px; }
    .advantages-item-img {
      width: 100px; }
    .advantages-item-content {
      padding-left: 112px; }
    .advantages-item__head {
      font-size: 18px;
      margin-bottom: 6px; }
    .advantages-item__text {
      line-height: 1.3; }
  .partners {
    height: auto;
    padding: 45px 20px 20px; }
    .partners-wrap {
      background-image: url(../images/partners-bg768.jpg);
      background-size: cover; }
    .partners-close {
      top: 35px;
      right: 18px; }
    .partners-content {
      margin: 0 66px;
      padding-right: 40px; }
      .partners-content__text {
        padding-right: 190px; }
    .partners-img {
      right: -40px; }
    .partners-form-bottom {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      .partners-form-bottom label {
        margin-bottom: 22px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .head {
    font-size: 18px;
    line-height: 1.45;
    padding-bottom: 28px;
    margin-bottom: 22px; }
    .head:after, .head:before {
      width: 50px; }
  .logo {
    width: 120px;
    margin: 0 0 0 -20px; }
  .burger {
    width: 30px;
    top: 11px;
    left: 15px; }
    .burger a span {
      width: 30px;
      height: 4px; }
      .burger a span:before, .burger a span:after {
        width: 30px;
        height: 4px; }
      .burger a span:before {
        top: -10px; }
      .burger a span:after {
        width: 20px;
        top: 10px; }
    .burger a.active span:before {
      -webkit-transform: rotate(45deg) translate(7px, 7px);
      transform: rotate(45deg) translate(7px, 7px); }
    .burger a.active span:after {
      width: 30px;
      -webkit-transform: rotate(-45deg) translate(7px, -7px);
      transform: rotate(-45deg) translate(7px, -7px); }
  .header {
    justify-content: center;
    padding: 7px 0; }
    .header-items {
      display: none; }
    .header-content {
      margin-right: 0; }
    .header-info {
      padding: 9px 0 7px 6px;
      position: absolute;
      top: 0;
      right: 0; }
      .header-info-img {
        width: 34px;
        height: 34px;
        margin-right: 20px; }
        .header-info-img .amount {
          width: 24px;
          height: 24px;
          font-size: 16px;
          right: -11px; }
  .showcase {
    height: 590px;
    padding-top: 20px; }
    .showcase-wrap {
      overflow: hidden; }
    .showcase-head {
      font-size: 18px;
      margin: 0 12px;
      padding-bottom: 25px;
      line-height: 1.5; }
      .showcase-head:after {
        width: 40px; }
    .showcase-img {
      position: static;
      width: 320px;
      margin: 0 auto; }
    .showcase-content {
      width: 100%;
      margin: -10px auto 0;
      padding: 0 10px;
      text-align: center; }
      .showcase-content__text {
        font-size: 18px; }
      .showcase-content-price {
        font-size: 24px; }
    .showcase .link {
      position: static;
      transform: translate(0);
      margin-top: 16px; }
      .showcase .link a {
        line-height: 54px;
        padding: 0 66px; }
  .advantage {
    padding: 19px 0 36px; }
    .advantage .head {
      margin: 0 12px 22px; }
      .advantage .head span {
        display: inline; }
    .advantage-img {
      width: 300px;
      margin: 0 auto 15px; }
    .advantage-items {
      flex-direction: column;
      margin: 0 20px; }
    .advantage-item {
      width: 100%;
      padding-top: 11px; }
      .advantage-item p {
        font-size: 14px;
        margin-bottom: 16px; }
  .use {
    padding: 20px 0; }
    .use .head {
      padding-bottom: 22px;
      margin-bottom: 11px; }
    .use-items {
      justify-content: center; }
    .use-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 18px;
      width: 100%;
      margin: 0 24px 14px; }
      .use-item-img {
        flex-shrink: 0;
        margin: 15px 21px 0 5px; }
        .use-item-img:after {
          background-size: 50%;
          bottom: -9px;
          left: -15px; }
        .use-item-img img {
          width: 54px;
          top: -11px;
          transform: translateY(0);
          left: -6px; }
        .use-item-img .circle {
          width: 60px;
          height: 60px; }
      .use-item__head {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 0;
        padding-right: 0; }
      .use-item__text {
        font-size: 14px; }
  .compare {
    padding-top: 21px; }
    .compare .head {
      padding-bottom: 20px;
      margin-bottom: 16px; }
    .compare-table {
      display: none; }
    .compare-mobile {
      display: block; }
  .compare-item table tbody tr td:last-child {
    justify-content: center;
    padding-left: 0; }
  .main-product {
    padding: 21px 15px 44px; }
    .main-product .head {
      padding-bottom: 27px;
      margin-bottom: 10px;
      text-align: center; }
      .main-product .head:after {
        left: 50%;
        transform: translateX(-50%); }
    .main-product .link a {
      line-height: 52px;
      font-size: 16px; }
    .main-product-img {
      position: static;
      width: 290px;
      margin: 0 auto 18px; }
    .main-product-content {
      width: 290px;
      margin: 0 auto; }
    .main-product-items {
      margin: 0 20px 22px 4px; }
    .main-product-item {
      margin-bottom: 7px; }
    .main-product__head, .main-product-delivery {
      font-size: 14px; }
    .main-product-text {
      font-size: 14px; }
    .main-product-price {
      font-size: 18px; }
  .charity {
    padding: 16px 0 24px; }
    .charity .head {
      line-height: 1.3;
      margin: 0 18px; }
      .charity .head:before {
        top: 6px;
        background-size: 60%; }
      .charity .head span {
        display: inline; }
    .charity-items {
      margin: 0 20px; }
    .charity-item {
      flex-direction: column;
      margin-bottom: 6px !important; }
      .charity-item__head {
        font-size: 14px;
        margin-bottom: 4px; }
      .charity-item__text {
        font-size: 14px; }
      .charity-item-img {
        width: 90px;
        height: auto;
        margin: 16px 0 8px 26px; }
        .charity-item-img:after {
          bottom: 10px;
          left: 21px;
          background-size: 56%; }
        .charity-item-img img {
          width: 60px;
          top: -2px;
          left: -26px; }
        .charity-item-img .circle {
          width: 70px;
          height: 70px; }
  .more {
    padding: 28px 0 20px; }
    .more-links li {
      margin-bottom: 27px; }
      .more-links li a {
        line-height: 50px;
        padding: 0 6px;
        font-size: 14px; }
    .more-soc-head {
      font-size: 20px;
      margin-bottom: 12px; }
    .more-soc ul li {
      width: 71px;
      height: 70px;
      margin-right: 27px; }
  .conditions {
    height: 300px;
    padding: 18px 16px 0;
    margin-bottom: 0; }
    .conditions-wrap {
      padding-top: 0;
      background-image: url(../images/conditions-bg320.jpg);
      background-size: cover; }
    .conditions .head {
      margin-right: 110px; }
    .conditions-content {
      width: 100%; }
      .conditions-content .head {
        padding-bottom: 22px;
        margin-bottom: 70px; }
        .conditions-content .head:after {
          width: 55px; }
    .conditions-img {
      width: 170px;
      right: 10px;
      top: 18px; }
    .conditions-link {
      margin-left: 0;
      position: absolute;
      bottom: 24px;
      left: 22px; }
      .conditions-link a {
        font-size: 16px; }
  .footer {
    flex-direction: column;
    margin: 0 20px;
    padding-top: 16px; }
    .footer-info .header-items {
      display: block;
      margin-bottom: 18px; }
    .footer-info .header-item {
      justify-content: center;
      margin-bottom: 5px; }
      .footer-info .header-item.city {
        position: absolute;
        top: 15px;
        right: -7px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0; }
      .footer-info .header-item-soc li {
        width: 20px;
        height: 20px; }
    .footer-logo {
      margin-bottom: 21px; }
    .footer-content {
      width: 100%;
      position: relative; }
    .footer-items {
      width: 100%;
      justify-content: center;
      align-items: center; }
    .footer-item {
      margin-bottom: 17px; }
      .footer-item ul {
        margin-right: 30px; }
        .footer-item ul li a {
          font-size: 14px;
          margin-bottom: 7px; }
    .footer-soc {
      order: 1;
      align-self: center;
      margin-bottom: 0; }
      .footer-soc li {
        width: 47px;
        height: 46px; }
  .bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left; }
    .bottom-mobile {
      display: none; }
    .bottom-pc {
      display: block;
      margin-right: 4px; }
    .bottom-item__text {
      display: flex; }
  .contacts .head {
    font-size: 28px; }
  .contacts-img {
    display: none; }
  .contacts-content {
    width: 100%; }
  .basket .link {
    text-align: center; }
  .basket-items {
    flex-direction: column; }
  .basket-item {
    width: 100%; }
  .basket-product__head {
    text-align: center; }
  .basket-product-items table {
    margin: 0 auto; }
  .basket-product-img {
    text-align: center; }
  .basket-pay-items {
    width: 194px;
    margin: 20px auto; }
  .basket-data-form {
    margin-bottom: 20px; }
  .basket-delivery-info {
    margin-bottom: 20px; }
  .payment-items {
    width: 100%;
    margin-bottom: 40px; }
  .payment-item {
    margin-bottom: 18px; }
    .payment-item__head {
      font-size: 18px; }
    .payment-item__text {
      line-height: 1.3;
      font-size: 14px; }
  .payment-info {
    position: static;
    width: 100%; }
    .payment-info .link {
      margin-left: 0;
      text-align: center; }
      .payment-info .link a {
        line-height: 50px; }
    .payment-info-img {
      display: none; }
  .order-success {
    width: 536px;
    height: 440px; }
    .order-success__text {
      width: 300px;
      line-height: 1.3;
      font-size: 16px;
      margin-bottom: 24px; }
    .order-success-img {
      width: 300px; }
    .order-success .head {
      font-size: 26px; }
      .order-success .head:after {
        width: 50px; }
    .order-success .link a {
      line-height: 50px;
      font-size: 16px;
      padding: 0 26px; }
  .issues-content {
    flex-direction: column; }
  .issues-items {
    margin-bottom: 40px; }
  .issues-sidebar {
    margin: 0 auto;
    text-align: center; }
    .issues-sidebar-mail {
      margin-bottom: 28px; }
  .product-img {
    width: 400px;
    position: static;
    margin: 0 auto 20px; }
  .product-content {
    width: 100%; }
  .advantages-head {
    font-size: 22px; }
  .advantages-item {
    width: 100%; }
    .advantages-item-img {
      width: 90px;
      top: 0; }
  .partners-wrap {
    background-image: url(../images/partners-bg320.jpg);
    background-size: cover; }
  .partners-close {
    width: 40px;
    top: 10px;
    right: 10px; }
  .partners-img {
    width: 130px;
    top: 3px;
    right: 0; }
  .partners-content {
    margin: 0;
    padding: 0; }
    .partners-content .head {
      height: 125px;
      font-size: 18px;
      padding-right: 90px;
      padding-bottom: 27px;
      margin-bottom: 10px; }
      .partners-content .head:after {
        width: 50px; }
    .partners-content__text {
      padding-right: 0;
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 5px; }
  .partners-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6px; }
    .partners-input .error-text {
      position: static;
      font-size: 12px;
      padding-top: 2px; }
    .partners-input input {
      height: 40px;
      font-size: 16px; }
  .partners-form-bottom {
    justify-content: center;
    align-items: center;
    padding-top: 10px; }
    .partners-form-bottom label {
      width: 280px;
      margin-bottom: 10px; }
      .partners-form-bottom label .checkbox {
        width: 14px;
        height: 14px;
        top: 4px; }
    .partners-form-bottom button {
      height: 54px;
      font-size: 16px;
      margin-right: 0; }
  .fancybox-close-small {
    width: 40px;
    height: 40px;
    top: 6px;
    right: 6px; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%; }
  .contacts {
    padding: 15px; }
    .contacts .head {
      font-size: 18px;
      margin-bottom: 10px;
      padding-bottom: 24px; }
    .contacts-item-note {
      margin-bottom: 10px; }
  .basket {
    padding: 20px 15px 40px; }
  .payment {
    padding-right: 15px;
    padding-left: 15px; }
  .order-success {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 28px 20px 0; }
    .order-success .link {
      text-align: center; }
    .order-success__text {
      width: 100%; }
    .order-success-content {
      margin-bottom: 40px; }
    .order-success-img {
      position: static;
      width: 260px;
      margin: 0 auto; }
  .issues {
    padding: 20px 15px 50px; }
    .issues-item-head h2 {
      font-size: 16px; }
    .issues-item-content {
      padding-right: 0;
      padding-left: 0; }
  .product {
    padding: 0 15px 30px; }
    .product .link a {
      font-size: 16px; }
    .product-img {
      width: 290px; }
    .product-content__text {
      font-size: 14px;
      line-height: 1.2; }
    .product-content table tbody tr td {
      font-size: 14px; }
      .product-content table tbody tr td:first-child {
        width: 86px; }
      .product-content table tbody tr td.delivery {
        padding: 4px; }
    .product-info .amount {
      width: 102px; }
      .product-info .amount span, .product-info .amount input {
        height: 32px;
        font-size: 20px; }
    .product-info__price {
      font-size: 24px; }
    .product-reviews__head {
      font-size: 14px; }
    .product-reviews ul li a {
      font-size: 16px; }
  .advantages {
    padding: 0 15px; }
    .advantages-item-img {
      position: static;
      margin-bottom: 10px; }
    .advantages-item-content {
      padding-left: 0; }
    .advantages-item__head {
      font-size: 16px; }
    .advantages-item__text {
      font-size: 14px; } }
