button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Qanelas', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'Qanelas', sans-serif;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.container {
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
  padding: 0; }

.link a {
  line-height: 60px;
  background-color: #ed1c24;
  box-shadow: 7.1px 7.1px 18px 2px rgba(255, 0, 0, 0.6);
  padding: 0 76px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffe400;
  border-radius: 30px; }
  .link a:hover {
    background-color: #d5171f; }

.head {
  font-family: 'ALSMalina';
  font-size: 42px;
  color: #009846;
  line-height: 1.25;
  text-align: center;
  padding-bottom: 40px;
  margin: 0 0 38px;
  position: relative; }
  .head:after {
    content: '';
    display: block;
    background: url(../images/waveRed.png) no-repeat 50%;
    width: 100px;
    height: 19px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%); }
  .head span {
    display: block; }

.logo {
  margin: 16px 0; }

.burger {
  display: none; }

.nav {
  display: flex; }
  .nav li {
    position: relative;
    padding-right: 36px;
    margin-right: 39px; }
    .nav li:after {
      content: '|';
      display: block;
      color: #b6b6b6;
      position: absolute;
      top: 2px;
      right: -3px; }
    .nav li:last-child {
      padding-right: 0;
      margin-right: 0; }
      .nav li:last-child:after {
        display: none; }
    .nav li a {
      font-weight: 700;
      text-transform: uppercase;
      color: #000; }
      .nav li a:hover {
        color: #009846; }

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .header-wrap {
    background-color: #f3f8eb;
    overflow-x: hidden; }
  .header-body {
    display: flex; }
  .header-content {
    margin-right: 43px;
    padding: 22px 0 16px; }
  .header-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px; }
  .header-item {
    display: flex;
    align-items: center; }
    .header-item:last-child {
      margin-right: 0; }
    .header-item__head {
      margin: 0 5px 0 0; }
    .header-item__tel {
      font-size: 18px;
      font-weight: 700;
      color: #000; }
      .header-item__tel:hover {
        color: #009846; }
    .header-item-soc {
      margin: 0 8px 0 0;
      padding: 0;
      list-style: none;
      display: flex; }
      .header-item-soc li {
        margin-right: 8px; }
        .header-item-soc li:last-child {
          margin-right: 0; }
  .header-select-city {
    font-weight: 700;
    border-bottom: 1px solid #000;
    cursor: pointer;
    position: relative; }
    .header-select-city:after {
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      right: -16px;
      background: url(../images/select-arrow.png) no-repeat 50%;
      width: 11px;
      height: 8px; }

.header-info {
  flex-shrink: 0;
  width: 220px;
  height: 99px;
  position: relative;
  background-color: #ffe400;
  padding: 18px 12px 16px 31px;
  display: flex;
  align-items: center;
  color: #000; }
  .header-info:hover {
    color: inherit; }
  .header-info:after {
    content: '';
    display: block;
    background-color: #ffe400;
    width: 9999px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%; }
  .header-info-img {
    flex-shrink: 0;
    position: relative;
    margin-right: 29px; }
    .header-info-img .amount {
      position: absolute;
      bottom: 0;
      right: -25px;
      width: 38px;
      height: 38px;
      background-color: #ed1c24;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      border-radius: 50%; }
  .header-info__head {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 11px; }
  .header-info__sum {
    font-weight: 700; }

.showcase {
  height: 860px;
  padding: 134px 0 0 390px;
  position: relative; }
  .showcase-wrap {
    background: url(../images/showcase.png) no-repeat 50%;
    background-size: cover; }
  .showcase .link {
    margin: 52px 0 0; }
  .showcase-head {
    color: #ffe400;
    font-family: 'ALSMalina';
    font-size: 54px;
    text-align: center;
    padding-bottom: 64px;
    margin-bottom: 50px;
    line-height: 1.25;
    position: relative; }
    .showcase-head:after {
      content: '';
      display: block;
      background: url(../images/waveYellow.png) no-repeat 50%;
      width: 125px;
      height: 25px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%); }
  .showcase-content {
    width: 340px;
    margin: 0 120px 0 auto; }
    .showcase-content__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      color: #fff; }
    .showcase-content-price {
      font-size: 42px;
      font-weight: 700;
      color: #fff; }
      .showcase-content-price span {
        font-size: 24px; }
  .showcase-img {
    width: 800px;
    height: 652px;
    position: absolute;
    top: 85px;
    left: -60px;
    z-index: 1; }
  .showcase-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%); }

.advantage {
  padding: 47px 0 124px; }
  .advantage-img {
    width: 766px;
    position: absolute;
    top: 226px;
    left: 50%;
    transform: translate(-50%); }
  .advantage-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .advantage-item {
    width: 240px;
    padding-top: 77px; }
    .advantage-item p {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 151px;
      position: relative; }
      .advantage-item p:last-child {
        margin-bottom: 0; }
      .advantage-item p.arrow-left:before {
        content: '';
        display: block;
        background: url(../images/advantage-arrowLeft.png) no-repeat 50%;
        width: 148px;
        height: 97px;
        position: absolute;
        top: -130px;
        right: -60px; }
      .advantage-item p.arrow-right:after {
        content: '';
        display: block;
        background: url(../images/advantage-arrowRight.png) no-repeat 50%;
        width: 148px;
        height: 97px;
        position: absolute;
        bottom: -126px;
        left: -60px; }

.use {
  padding: 51px 0 5px; }
  .use-wrap {
    background: url(../images/use-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .use .head {
    color: #ff0000;
    padding-bottom: 35px;
    margin-bottom: 32px; }
    .use .head:after {
      background: url(../images/waveGreen.png) no-repeat 50%; }
  .use-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .use-item {
    width: 30.33%;
    margin-bottom: 33px; }
    .use-item-img {
      margin-bottom: 14px;
      padding-left: 10px;
      position: relative; }
      .use-item-img:after {
        content: '';
        display: block;
        background: url(../images/waveRed.png) no-repeat 50%;
        width: 100px;
        height: 19px;
        position: absolute;
        bottom: 22px;
        left: 82px; }
      .use-item-img img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0; }
      .use-item-img .circle {
        width: 95px;
        height: 95px;
        background-color: #86ba3f;
        border-radius: 50%; }
    .use-item-content {
      padding-right: 2px; }
    .use-item__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 10px; }
    .use-item__text {
      line-height: 1.6; }

.compare {
  padding: 42px 0 56px; }
  .compare .head {
    color: #009846;
    padding-bottom: 36px;
    margin-bottom: 46px; }
    .compare .head:after {
      background: url(../images/waveRed.png) no-repeat 50%; }
  .compare-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px 0; }
    .compare-table table thead td {
      height: 67px;
      vertical-align: top;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }
      .compare-table table thead td:first-child {
        width: 307px; }
      .compare-table table thead td:nth-child(2) {
        width: 155px; }
      .compare-table table thead td:nth-child(3) {
        width: 312px; }
      .compare-table table thead td:nth-child(4) {
        width: 234px; }
      .compare-table table thead td:last-child {
        width: 229px; }
    .compare-table table tbody tr.white {
      background-color: #fff; }
    .compare-table table tbody tr td {
      height: 52px;
      text-align: center;
      font-size: 20px;
      font-weight: 700; }
      .compare-table table tbody tr td.yellow {
        background-color: #fff17f; }
      .compare-table table tbody tr td.gray {
        background-color: #e3ecd6; }
      .compare-table table tbody tr td.a-week {
        font-size: 28px;
        color: #009846; }
      .compare-table table tbody tr td:first-child {
        text-align: left;
        padding-left: 32px; }

.compare-mobile {
  display: none;
  position: relative; }

.compare-items {
  margin: 0 10px 5px; }

.compare-item-head {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.compare-item table {
  width: 100%; }
  .compare-item table tbody tr.gray {
    background-color: #e3ecd6; }
  .compare-item table tbody tr.yellow {
    background-color: #fff17f; }
  .compare-item table tbody tr td {
    height: 44px;
    font-size: 14px;
    font-weight: 700; }
    .compare-item table tbody tr td:first-child {
      width: 200px;
      padding-left: 8px; }
    .compare-item table tbody tr td:last-child {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 18px; }
    .compare-item table tbody tr td img {
      width: 28px;
      height: 28px; }
    .compare-item table tbody tr td.day {
      font-size: 16px;
      padding-left: 12px; }
    .compare-item table tbody tr td.day-max {
      font-size: 16px;
      font-weight: 700;
      color: #009846; }

.compare-navigation {
  overflow: hidden;
  width: 100px;
  position: absolute;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .compare-navigation .arrows .slick-arrow {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/left-arrow.png) no-repeat left;
    width: 13px;
    height: 20px;
    text-indent: 9999px; }
    .compare-navigation .arrows .slick-arrow:focus {
      outline: none; }
    .compare-navigation .arrows .slick-arrow:hover {
      background-position: right; }
  .compare-navigation .arrows .slick-next {
    left: auto;
    right: 0;
    background: url(../images/right-arrow.png) no-repeat left; }
  .compare-navigation .numbers {
    display: flex;
    justify-content: center;
    align-items: center; }
    .compare-navigation .numbers .current {
      font-size: 18px;
      font-weight: 700; }
    .compare-navigation .numbers span {
      margin: 0 4px;
      font-size: 18px;
      font-weight: 700; }
    .compare-navigation .numbers .all {
      font-size: 18px;
      font-weight: 700;
      color: #009846; }

.main-product {
  padding: 48px 0 68px;
  position: relative; }
  .main-product-wrap {
    background-color: #f3f8eb; }
  .main-product .head {
    color: #009846;
    padding-bottom: 30px;
    margin-bottom: 28px;
    text-align: left; }
    .main-product .head:after {
      background: url(../images/waveRed.png) no-repeat 50%;
      transform: translate(0);
      left: 0; }
  .main-product-img {
    width: 680px;
    position: absolute;
    top: 93px;
    right: -9px; }
    .main-product-img-inner {
      position: absolute;
      bottom: 80px;
      left: 0; }
  .main-product-content {
    width: 430px; }
  .main-product-items {
    margin-bottom: 32px; }
  .main-product-item {
    display: flex;
    margin-bottom: 14px; }
  .main-product__head {
    width: 136px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
    padding-top: 2px; }
    .main-product__head.delivery {
      padding-top: 6px; }
    .main-product__head.price {
      padding-top: 21px; }
  .main-product-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    padding-left: 10px; }
    .main-product-text span {
      display: block; }
  .main-product-delivery {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #009846;
    padding: 7px 10px;
    border-radius: 3px; }
  .main-product-price {
    font-size: 42px;
    font-weight: 700;
    padding-left: 12px; }
    .main-product-price span {
      font-size: 20px; }

.charity {
  padding: 57px 0 44px; }
  .charity-wrap {
    background: url(../images/use-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .charity .head {
    color: #009846;
    padding-top: 35px;
    padding-bottom: 0;
    margin-bottom: 0; }
    .charity .head:before {
      content: '';
      display: block;
      background: url(../images/waveRed.png) no-repeat 50%;
      width: 100px;
      height: 19px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%); }
    .charity .head:after {
      display: none; }
    .charity .head span {
      display: block; }
  .charity-elem {
    margin-right: 20px; }
    .charity-elem:last-child {
      margin-right: 0; }
  .charity-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px; }
  .charity-item {
    width: 540px;
    display: flex; }
    .charity-item-img {
      flex-shrink: 0;
      width: 124px;
      height: 130px;
      margin: 26px 7px 0 8px;
      position: relative; }
      .charity-item-img:after {
        content: '';
        display: block;
        background: url(../images/waveGreen.png) no-repeat 50%;
        width: 100px;
        height: 19px;
        position: absolute;
        bottom: 30px;
        left: -10px; }
      .charity-item-img img {
        position: absolute;
        top: -18px;
        left: -9px; }
      .charity-item-img .circle {
        width: 110px;
        height: 110px;
        background-color: #f7b718;
        border-radius: 50%; }
    .charity-item-content {
      flex-grow: 10; }
    .charity-item__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
      line-height: 1.55; }
    .charity-item__text {
      line-height: 1.6; }
    .charity-item.item1 {
      margin: 0 0 52px 80px; }
    .charity-item.item3 {
      margin: 40px 0 45px 80px; }

.more {
  padding: 70px 0;
  margin: 0 118px; }
  .more-links {
    margin: 0 0 73px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .more-links li a {
      line-height: 60px;
      padding: 0 34px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      box-shadow: 7.1px 7.1px 18px 2px rgba(0, 152, 70, 0.6);
      background-color: #009846;
      border-radius: 30px; }
      .more-links li a:hover {
        background-color: #056e35; }
  .more-soc {
    display: flex;
    align-items: center;
    margin-left: 20px; }
    .more-soc-head {
      color: #ed1c24;
      font-size: 42px;
      font-weight: 700;
      margin-right: 70px; }
      .more-soc-head span {
        display: block; }
    .more-soc ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center; }
      .more-soc ul li {
        margin-right: 44px; }
        .more-soc ul li:last-child {
          margin-right: 0; }

.conditions {
  height: 340px;
  padding: 62px 0 0 80px;
  margin-bottom: 70px;
  position: relative;
  background: url(../images/conditions-bg.jpg) no-repeat 50%; }
  .conditions-img {
    position: absolute;
    top: -20px;
    right: 60px; }
  .conditions-content {
    width: 735px; }
    .conditions-content .head {
      color: #ffe400;
      padding-bottom: 47px;
      margin-bottom: 0;
      text-align: left; }
      .conditions-content .head:after {
        background: url(../images/waveYellow.png) no-repeat 50%;
        width: 125px;
        height: 25px;
        top: auto;
        bottom: -10px;
        left: 0;
        transform: translate(0); }
  .conditions-link {
    margin-left: 240px; }
    .conditions-link a {
      line-height: 60px;
      background-color: #ed1c24;
      box-shadow: 7.1px 7.1px 18px 2px rgba(255, 0, 0, 0.6);
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      padding: 0 68px;
      border-radius: 30px; }
      .conditions-link a:hover {
        background-color: #d5171f; }

.footer {
  padding: 48px 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .footer-wrap {
    background-color: #f3f8eb; }
  .footer-content {
    width: 570px;
    display: flex; }
  .footer-logo {
    margin: 5px 46px 0 0; }
  .footer-info .header-items {
    flex-direction: column; }
  .footer-info .header-item {
    margin-bottom: 10px; }
    .footer-info .header-item:last-child {
      margin-bottom: 0; }
  .footer-items {
    width: 625px;
    display: flex;
    align-items: center; }
  .footer-item {
    display: flex;
    margin-right: 69px; }
    .footer-item ul {
      margin: 0 54px 0 0;
      padding: 0;
      list-style: none; }
      .footer-item ul:last-child {
        margin-right: 0; }
      .footer-item ul li a {
        font-weight: 700;
        margin-bottom: 10px;
        color: #000;
        border-bottom: 1px solid #000; }
        .footer-item ul li a:hover {
          border-bottom: 1px solid transparent; }
  .footer-soc {
    margin: -8px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex; }
    .footer-soc li {
      margin-right: 20px; }
      .footer-soc li:last-child {
        margin-right: 0; }

.bottom {
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .bottom-item__text {
    font-size: 14px; }
    .bottom-item__text a {
      color: #000; }
      .bottom-item__text a:hover {
        text-decoration: underline; }
  .bottom-item__link {
    font-size: 14px;
    border-bottom: 1px solid #000;
    color: #000; }
    .bottom-item__link:hover {
      border-bottom: 1px solid transparent;
      color: #000; }
  .bottom-mobile {
    display: none; }

.contacts {
  position: relative;
  padding: 40px 0 85px; }
  .contacts-wrap {
    overflow-x: hidden; }
  .contacts .head {
    text-align: left;
    margin-bottom: 33px; }
    .contacts .head:after {
      left: 0;
      transform: translate(0); }
  .contacts-img {
    width: 798px;
    position: absolute;
    top: 167px;
    right: -392px; }
  .contacts-content {
    width: 760px; }
  .contacts-item {
    margin-bottom: 54px; }
    .contacts-item-note {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 6px; }
      .contacts-item-note a {
        font-size: 20px;
        font-weight: 700;
        color: #009846;
        border-bottom: 1px solid #009846;
        margin-left: 5px; }
        .contacts-item-note a:hover {
          border-bottom: 1px solid transparent; }
    .contacts-item-tel {
      margin-bottom: 10px; }
      .contacts-item-tel a {
        font-size: 34px;
        font-weight: 700;
        color: #000; }
    .contacts-item__text {
      line-height: 1.6;
      margin-bottom: 17px; }
  .contacts-soc {
    margin-bottom: 60px; }
    .contacts-soc__head {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 50px; }
    .contacts-soc ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      margin-left: 90px; }
      .contacts-soc ul li {
        margin-right: 80px; }
        .contacts-soc ul li:last-child {
          margin-right: 0; }
  .contacts-props b {
    margin-bottom: 6px;
    display: block; }
  .contacts-props p {
    margin-bottom: 7px; }

.basket {
  padding: 40px 0 80px; }
  .basket .head {
    text-align: left;
    margin-bottom: 34px; }
    .basket .head:after {
      left: 0;
      transform: translate(0); }
  .basket__head {
    font-size: 34px;
    font-weight: 700;
    color: #009846;
    margin-bottom: 21px; }
  .basket-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .basket-item {
    width: 380px; }
    .basket-item .radio {
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #000;
      border-radius: 50%; }
      .basket-item .radio input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 5;
        cursor: pointer; }
        .basket-item .radio input:checked + span:before {
          opacity: 1; }
      .basket-item .radio span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%; }
        .basket-item .radio span:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background-color: #ed1c24;
          border-radius: 50%;
          opacity: 0;
          transition: 300ms; }
      .basket-item .radio__text {
        padding-left: 32px;
        cursor: pointer;
        line-height: 1.6; }
        .basket-item .radio__text span {
          display: block; }
  .basket-textarea {
    margin-bottom: 42px; }
    .basket-textarea label {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
      .basket-textarea label textarea {
        height: 40px;
        border: none;
        border-bottom: 2px solid #000;
        resize: none; }
        .basket-textarea label textarea::-webkit-input-placeholder {
          color: #000; }
        .basket-textarea label textarea:-moz-placeholder {
          color: #000; }
        .basket-textarea label textarea::-moz-placeholder {
          color: #000; }
        .basket-textarea label textarea:-ms-input-placeholder {
          color: #000; }
    .basket-textarea__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px; }
    .basket-textarea__text {
      line-height: 1.6; }
  .basket-pay-items {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px; }
  .basket-pay-item {
    position: relative;
    margin-bottom: 10px; }

.basket-data__text {
  line-height: 1.6;
  margin-bottom: 27px; }

.basket-data-input {
  position: relative;
  margin-bottom: 25px; }
  .basket-data-input input {
    border: none;
    border-bottom: 2px solid #000;
    font: 700 24px 'Qanelas';
    height: 50px;
    width: 100%;
    padding: 0 2px;
    color: #000; }
    .basket-data-input input::-webkit-input-placeholder {
      color: #000; }
    .basket-data-input input:-moz-placeholder {
      color: #000; }
    .basket-data-input input::-moz-placeholder {
      color: #000; }
    .basket-data-input input:-ms-input-placeholder {
      color: #000; }
  .basket-data-input.error input {
    border-bottom: 2px solid #ed1c24;
    color: #ed1c24; }
    .basket-data-input.error input::-webkit-input-placeholder {
      color: #ed1c24; }
    .basket-data-input.error input:-moz-placeholder {
      color: #ed1c24; }
    .basket-data-input.error input::-moz-placeholder {
      color: #ed1c24; }
    .basket-data-input.error input:-ms-input-placeholder {
      color: #ed1c24; }
  .basket-data-input.error .error-text {
    color: #ed1c24;
    position: absolute;
    bottom: -26px;
    left: 0; }

.basket-data-checkbox {
  margin: 38px 0;
  position: relative; }
  .basket-data-checkbox .checkbox {
    position: absolute;
    top: -1px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000; }
    .basket-data-checkbox .checkbox input {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer; }
      .basket-data-checkbox .checkbox input:checked + span:before {
        opacity: 1; }
    .basket-data-checkbox .checkbox span {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
      .basket-data-checkbox .checkbox span:before {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        background-color: #000;
        opacity: 0;
        transition: 300ms; }
    .basket-data-checkbox .checkbox__text {
      padding-left: 32px;
      cursor: pointer; }

.basket-delivery__head {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px; }

.basket-delivery-date {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .basket-delivery-date input {
    width: 160px;
    height: 40px;
    border: 1px solid #959595;
    border-radius: 4px;
    padding: 0 16px;
    font: 700 16px 'Qanelas';
    color: #000; }
    .basket-delivery-date input::-webkit-input-placeholder {
      color: #000; }
    .basket-delivery-date input:-moz-placeholder {
      color: #000; }
    .basket-delivery-date input::-moz-placeholder {
      color: #000; }
    .basket-delivery-date input:-ms-input-placeholder {
      color: #000; }
  .basket-delivery-date select {
    width: 190px;
    height: 40px;
    border: 1px solid #959595;
    border-radius: 4px;
    color: #000;
    padding: 0 30px 0 16px;
    font: 700 16px 'Qanelas';
    -webkit-appearance: none;
    background-image: url("../images/basket-select-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important; }

.basket-delivery-items {
  margin-bottom: 17px; }

.basket-delivery-item {
  position: relative;
  margin-bottom: 12px; }

.basket-product-img {
  margin: 0 auto 18px; }

.basket-product-info {
  margin: 0 12px 29px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .basket-product-info .amount {
    width: 120px;
    height: 40px;
    background-color: #f3f8eb;
    border: 1px solid #959595;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .basket-product-info .amount span {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: 700 24px 'Qanelas';
      cursor: pointer; }
    .basket-product-info .amount input {
      width: 40px;
      height: 100%;
      border: none;
      border-left: 1px solid #959595;
      border-right: 1px solid #959595;
      text-align: center;
      font: 700 24px 'Qanelas'; }

.basket-product__price {
  font-size: 42px;
  font-weight: 700; }

.basket-product-items {
  margin-bottom: 44px; }
  .basket-product-items table tbody tr td {
    height: 36px;
    font-size: 20px; }
    .basket-product-items table tbody tr td:first-child {
      width: 240px; }
    .basket-product-items table tbody tr td.bold {
      font-weight: 700;
      font-size: 24px; }

.basket-product__head {
  font-size: 24px;
  font-weight: 700; }

.payment {
  position: relative;
  padding: 40px 0 64px; }
  .payment-wrap {
    overflow: hidden; }
  .payment .head {
    text-align: left;
    margin-bottom: 34px; }
    .payment .head:after {
      left: 0;
      transform: translate(0); }
  .payment-items {
    width: 780px;
    position: relative;
    z-index: 10; }
  .payment-item {
    margin-bottom: 27px; }
    .payment-item__head {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 4px; }
    .payment-item__text {
      line-height: 1.6; }
  .payment-info {
    width: 860px;
    position: absolute;
    top: 134px;
    right: -437px;
    z-index: 1; }
    .payment-info-img {
      margin-bottom: 38px; }
    .payment-info .link {
      margin-left: 122px; }

.order-success {
  width: 780px;
  height: 480px;
  margin: 50px auto;
  padding: 43px 60px 0;
  background: url(../images/zakazOut-bg.png) no-repeat 50%;
  position: relative; }
  .order-success-content {
    position: relative;
    z-index: 10; }
  .order-success-img {
    position: absolute;
    bottom: -18px;
    right: 10px;
    z-index: 1; }
  .order-success__text {
    width: 388px;
    color: #fff;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 48px; }
  .order-success .head {
    text-align: left;
    color: #ffe400;
    margin: 0 0 34px; }
    .order-success .head:after {
      left: 0;
      transform: translate(0);
      background: url(../images/waveYellow.png) no-repeat 50%;
      background-size: 100%;
      width: 122px; }
  .order-success .link a {
    color: #fff;
    padding: 0 60px; }

.issues {
  padding: 40px 0 80px; }
  .issues .head {
    text-align: left;
    margin: 0 0 32px; }
    .issues .head:after {
      left: 0;
      transform: translate(0); }
  .issues-content {
    flex-grow: 10;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .issues-items {
    margin-right: 100px;
    width: 100%; }
  .issues-item:last-child {
    border-bottom: 1px solid #b7b7b7; }
  .issues-item.active .issues-item-head {
    padding-bottom: 14px; }
    .issues-item.active .issues-item-head h2 {
      color: #000; }
    .issues-item.active .issues-item-head .image {
      background-position: left; }
  .issues-item.active .issues-item-content {
    display: block; }
  .issues-item-content {
    display: none;
    padding: 0 80px 16px 30px; }
    .issues-item-content p {
      line-height: 1.6;
      margin-bottom: 0; }
    .issues-item-content ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .issues-item-content ul li {
        line-height: 1.6; }
  .issues-item-head {
    padding: 23px 56px 23px 0;
    border-top: 1px solid #b7b7b7;
    position: relative;
    cursor: pointer;
    transition: 300ms; }
    .issues-item-head h2 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      color: #009846;
      transition: 300ms; }
    .issues-item-head .image {
      position: absolute;
      top: 16px;
      right: 14px;
      background: url(../images/issues-img.png) no-repeat right;
      width: 30px;
      height: 30px; }

.issues-sidebar {
  width: 300px;
  flex-shrink: 0;
  margin-top: -6px; }
  .issues-sidebar__head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px; }
  .issues-sidebar__text {
    margin-bottom: 12px;
    font-size: 20px; }
  .issues-sidebar-tel {
    margin-bottom: 10px; }
    .issues-sidebar-tel a {
      font-size: 20px;
      font-weight: 700;
      color: #000; }
      .issues-sidebar-tel a:hover {
        color: #009846; }
  .issues-sidebar-mail {
    margin-bottom: 100px; }
    .issues-sidebar-mail a {
      font-size: 20px;
      font-weight: 700;
      color: #009846;
      border-bottom: 1px solid #009846; }
      .issues-sidebar-mail a:hover {
        border-bottom: 1px solid transparent; }

.partners {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .partners-wrap {
    display: none;
    background: url(../images/partners-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .partners-img {
    position: absolute;
    top: 6px;
    right: -20px; }
  .partners-content {
    margin: 0 80px;
    padding-right: 300px;
    position: relative; }
    .partners-content .head {
      color: #ffe400;
      text-align: left;
      padding-bottom: 53px; }
      .partners-content .head:after {
        left: 0;
        transform: translate(0);
        background: url(../images/waveYellow.png) no-repeat 50%;
        background-size: cover;
        width: 125px; }
    .partners-content__text {
      font-size: 20px;
      line-height: 1.5;
      color: #fff;
      margin-bottom: 36px;
      padding-right: 100px; }
  .partners-input {
    width: 320px;
    margin-right: 60px;
    margin-bottom: 41px;
    position: relative; }
    .partners-input:nth-child(2n) {
      margin-right: 0; }
    .partners-input .error-text {
      position: absolute;
      bottom: -24px;
      left: 0;
      color: #ffe400; }
    .partners-input input {
      width: 100%;
      height: 50px;
      color: #fff;
      font: 700 24px 'Qanelas';
      border: none;
      border-bottom: 2px solid #fff;
      background-color: transparent; }
      .partners-input input::-webkit-input-placeholder {
        color: #fff; }
      .partners-input input:-moz-placeholder {
        color: #fff; }
      .partners-input input::-moz-placeholder {
        color: #fff; }
      .partners-input input:-ms-input-placeholder {
        color: #fff; }
      .partners-input input:focus {
        color: #ffe400;
        border-bottom: 2px solid #ffe400; }

.fancybox-slide > * {
  width: 100%;
  padding: 0;
  margin: 0; }

.fancybox-close-small {
  background: url(../images/partners-cancel.png) no-repeat 50%;
  background-size: 100%;
  width: 80px;
  height: 80px;
  top: 10px;
  right: 10px; }
  .fancybox-close-small:after {
    display: none; }
  .fancybox-close-small:focus {
    outline: none; }

.partners-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .partners-form-bottom {
    width: 100%;
    padding-top: 36px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .partners-form-bottom label {
      width: 300px;
      padding: 4px 0 0 38px;
      margin: 0;
      position: relative; }
      .partners-form-bottom label .checkbox {
        position: absolute;
        top: 4px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #fff; }
        .partners-form-bottom label .checkbox input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 5;
          cursor: pointer; }
          .partners-form-bottom label .checkbox input:checked + span:before {
            opacity: 1; }
        .partners-form-bottom label .checkbox span {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0; }
          .partners-form-bottom label .checkbox span:before {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            right: 3px;
            bottom: 3px;
            left: 3px;
            background-color: #fff;
            opacity: 0;
            transition: 300ms; }
        .partners-form-bottom label .checkbox-text {
          font-size: 14px;
          color: #fff;
          line-height: 1.6;
          cursor: pointer; }
          .partners-form-bottom label .checkbox-text span {
            display: inline; }
          .partners-form-bottom label .checkbox-text a {
            display: inline;
            color: #fff;
            font-size: 14px;
            text-decoration: underline; }
            .partners-form-bottom label .checkbox-text a:hover {
              text-decoration: none; }
    .partners-form-bottom button {
      width: 320px;
      height: 60px;
      background-color: #ed1c24;
      box-shadow: 7.1px 7.1px 18px 2px rgba(255, 0, 0, 0.6);
      border: none;
      cursor: pointer;
      transition: 300ms;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 30px; }
      .partners-form-bottom button:hover {
        background-color: #b91d23; }

.product {
  padding: 40px 0 92px; }
  .product .head {
    text-align: left;
    margin-bottom: 30px; }
    .product .head:after {
      left: 0;
      transform: translate(0); }
  .product .link {
    margin-bottom: 66px; }
  .product-wrap {
    overflow: hidden; }
  .product-img {
    width: 730px;
    position: absolute;
    top: 162px;
    right: 42px; }
  .product-carousel {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    position: relative; }
    .product-carousel .slick-arrow {
      position: absolute;
      bottom: -125px;
      left: -8px;
      z-index: 10;
      border: none;
      cursor: pointer;
      background: url(../images/left-arrow.png) no-repeat right;
      width: 13px;
      height: 20px;
      text-indent: 9999px; }
      .product-carousel .slick-arrow:focus {
        outline: none; }
    .product-carousel .slick-next {
      left: auto;
      right: -40px;
      background: url(../images/right-arrow.png) no-repeat right; }
  .product-dots {
    width: 100%;
    margin: 0 0 0 14px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    .product-dots li {
      width: 215px;
      margin: 0 10px;
      cursor: pointer;
      transition: 300ms; }
      .product-dots li:hover {
        opacity: .8; }
  .product-content {
    width: 380px; }
    .product-content__text {
      line-height: 1.6;
      margin-bottom: 34px; }
    .product-content table {
      margin-bottom: 38px; }
      .product-content table tbody tr td {
        font-size: 20px;
        font-weight: 700;
        vertical-align: top;
        padding: 9px 0; }
        .product-content table tbody tr td:first-child {
          width: 132px; }
        .product-content table tbody tr td.delivery {
          background-color: #009846;
          padding: 8px;
          border-radius: 4px;
          color: #fff; }
        .product-content table tbody tr td p {
          margin-bottom: 5px;
          padding-left: 12px; }
  .product-info {
    display: flex;
    align-items: center;
    margin-bottom: 44px; }
    .product-info .amount {
      width: 120px;
      border: 1px solid #959595;
      border-radius: 4px;
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .product-info .amount span {
        width: 40px;
        height: 40px;
        background-color: #f3f8eb;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 700 24px 'Qanelas';
        cursor: pointer; }
      .product-info .amount input {
        width: 40px;
        height: 40px;
        border: none;
        border-right: 1px solid #959595;
        border-left: 1px solid #959595;
        text-align: center;
        font: 700 24px 'Qanelas'; }
    .product-info__price {
      font-size: 42px;
      font-weight: 700; }
  .product-reviews__head {
    margin-bottom: 6px; }
  .product-reviews ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .product-reviews ul li {
      margin-bottom: 6px; }
      .product-reviews ul li a {
        font-size: 20px;
        font-weight: 700;
        color: #009846;
        border-bottom: 1px solid #009846; }
        .product-reviews ul li a:hover {
          border-bottom: 1px solid transparent; }

.advantages {
  padding: 0 0 20px; }
  .advantages-head {
    font-size: 34px;
    font-weight: 700;
    color: #009846;
    margin-bottom: 50px; }
  .advantages-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
  .advantages-item {
    width: 550px;
    margin-bottom: 60px;
    position: relative; }
    .advantages-item-img {
      position: absolute;
      top: 5px;
      left: 0; }
    .advantages-item-content {
      padding-left: 140px; }
    .advantages-item__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px; }
    .advantages-item__text {
      line-height: 1.6; }
