@media only screen and (max-width : 1400px) {
  .container {
    width: 970px;
  }
  .middle-text {
    padding-left: 200px;
  }
}



@media only screen and (max-width : 991px) {
  .container {
    width: 750px;
  }
  .middle-text {
    padding-left: 0;
  }
  .footer--caption {
    float: left;
    margin-top: 5px;
  }
}

@media only screen and (max-height : 1000px) and (min-width: 767px) {
  .middle-img {
    width: 400px;
  }
  .middle-text {
    margin-bottom: 45px;
    padding-top: 75px;
  }
}

@media only screen and (max-width : 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .wrapper {
    height: auto;
    min-height: 100vh;
  }
  .middle-contacts {
    padding-bottom: 120px;
  }
  .middle-contacts--tel {
    font-size: 43px;
  }
  .middle-text {
    margin-left: 0;
    font-size: 27px;
    margin-bottom: 120px;
  }
  .middle {
    display: block;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width : 450px) {
  .middle-text p {
    font-size: 24px;
  }
  .middle-contacts--tel {
    font-size: 32px;
  }
}
