$green: #006964;
$light-green: #00a899;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

a {
  display: inline-block;
  font: 400 16px 'Roboto', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input.input-error {
  border-color: #a94442;
  &::placeholder {
    color: #a94442;
  }
  &::-ms-placeholder {
    color: #a94442;
  }
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

.head {
  font: 700 28px/1 'DINPro';
  color: $green;
  text-transform: uppercase;
}

.title {
  font: 700 34px/1.29 'DINPro';
  color: $green;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.text {
  width: 100%;
  max-width: 726px;
  line-height: 1.63;
  color: #292929;
  margin-top: 7px;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }

  .head {
    font-size: 24px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 24px;
  }

  .text {
    margin-top: 0;
    line-height: 1.4;
  }
}

.mode {
  width: 30px;
  height: 13px;
  background: url(../images/eyeglasses.png) no-repeat left;
  cursor: pointer;
  &:hover {
    background-position: right;
  }
}

.link {
  cursor: pointer;
  transition: 300ms;
  font: 700 16px/48px 'DINPro';
  padding: 0 24px;
  letter-spacing: 0.6px;
  border: 1px solid $light-green;
  text-transform: uppercase;
  color: #fff;
  background-color: $light-green;
  &:hover {
    color: $light-green;
    background-color: transparent;
  }
  &:focus {
    outline:  none;
  }
}

// Checkbox

.checkbox {
  position: relative;
  flex-shrink: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #8e8f8f;
  &-text {
    font-size: 14px;
    color: #292929;
    margin-left: 12px;
    a {
      font-size: 14px;
      color: $light-green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-wrap {
    position: relative;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '';
      display: block;
      background-color: #8e8f8f;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      opacity: 0;
      transition: 300ms;
    }
  }
}

// Burger

.burger {
  flex-shrink: 0;
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  a {
    width: 22px;
    cursor: pointer;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all .2s ease-in-out;
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        background-color: #fff;
        transition: all .2s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

.burger-nav {
  display: flex;
}

@media (max-width: 991px) {
  .burger-top {
    display: flex;
  }
}

// Bread

.bread {
  padding: 28px 0 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    position: relative;
    font-size: 14px;
    color: #7c7c7c;
    margin: 0 62px 3px 0;
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 10px;
      background: url(../images/arrow-green.png) no-repeat 50%;
      position: absolute;
      top: 50%;
      right: -46px;
      transform: translateY(-50%);
      margin-top: -2px;
    }
    a {
      font-size: 14px;
      color: #7c7c7c;
      &:hover {
        color: $light-green;
      }
    }
  }
}

// Main

.main {
  &-wrapper {
    position: relative;
  }
  &-container {
    max-width: 1420px;
    margin: 0 auto;
    box-shadow: 0 0 18.4px 1.6px rgba(0, 0, 0, 0.04);
    background-color: #fff;
  }
  &-body {
    display: flex;
    align-items: flex-start;
    padding-bottom: 80px;
  }
  &-content {
    flex-grow: 10;
  }
}

@media (max-width: 991px) {
  .main {
    &-body {
      padding-bottom: 58px;
    }
  }
}

@media (max-width: 767px) {
  .main {
    &-body {
      flex-direction: column;
    }
  }
}

// Sidebar

.sidebar {
  flex-shrink: 0;
  width: 260px;
  margin-right: 60px;
}

.sidebar-list {
  margin-bottom: 40px;
  li {
    margin-bottom: 17px;
    a {
      padding: 8px 14px;
      font: 700 16px 'DINPro';
      letter-spacing: 1px;
      color: $green;
      background-color: #f5f6f7;
      text-transform: uppercase;
      &:hover {
        color: #a2a2a2;
      }
    }
  }
}

@media (max-width: 1336px) {
  .sidebar {
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-bottom: 10px;
  }

  .sidebar-list {
    li {
      text-align: center;
      margin-bottom: 12px;
    }
  }
}

// Lang

.lang {
  display: flex;
  align-items: center;
  margin-right: 25px;
  li {
    margin-right: 12px;
    &.active a {
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 14px;
      font-weight: 700;
      color: #00c5b3;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
    }
  }
}

// Slick

.slick-nav {
  overflow: hidden;
  position: relative;
  width: 240px;
  min-height: 16px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick {
  &-arrow {
    width: 30px;
    height: 10px;
    border: none;
    cursor: pointer;
    text-indent: 9999px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    background: url(../images/prev.png) no-repeat left;
    &:hover {
      background-position: right;
    }
    &:focus {
      outline: none;
    }
  }
  &-next {
    left: auto;
    right: 0;
    background-image: url(../images/next.png);
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin: 0 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      padding: 0;
      text-indent: 9999px;
      width: 8px;
      height: 8px;
      background-color: #d1d1d1;
      border-radius: 50%;
      transition: 300ms;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    &.slick-active button {
      width: 100%;
      height: 100%;
      background-color: $light-green;
    }
  }
}

// Swiper

.swiper-nav {
  width: 240px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper {
  &-button {
    &-prev,
    &-next {
      width: 30px;
      height: 10px;
      margin: 0;
      padding: 0;
      background: url(../images/prev.png) no-repeat left;
      position: static;
      &:hover {
        background-position: right;
      }
    }
    &-next {
      left: auto;
      right: 0;
      background-image: url(../images/next.png);
    }
  }
  &-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-bullet {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin: 0 9px;
      opacity: 1;
      cursor: pointer;
      background: transparent;
      transition: 300ms;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #d1d1d1;
        border-radius: 50%;
        transition: 300ms;
      }
      &.swiper-pagination-bullet-active:before {
        width: 100%;
        height: 100%;
        background-color: $light-green;
      }
    }
  }
}

// Top line

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  &-wrap {
    position: relative;
    background-color: $green;
  }
  &-item {
    display: flex;
    align-items: center;
  }
}

.top-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    position: relative;
    margin-right: 24px;
    &:after {
      content: '|';
      display: block;
      font-size: 14px;
      color: #fff;
      position: absolute;
      top: 50%;
      right: -13px;
      transform: translateY(-50%);
      margin-top: -1px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      font-size: 14px;
      color: #00c5b3;
      &:hover {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1336px) {
  .top-links {
    li {
      margin-right: 15px;
      &:after {
        right: -10px;
      }
      a {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 991px) {
  .top-line {
    padding: 12px 0;
  }

  .top-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 30;
    padding: 10px 0;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    background-color: $green;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
    li {
      margin-right: 0;
      margin-bottom: 10px;
      &:after {
        display: none;
      }
      a {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

// Header

.logo {
  flex-basis: 240px;
  flex-shrink: 0;
  margin-top: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 25px;
  &-wrap {
    position: relative;
    z-index: 20;
    background-color: $green;
  }
  &-body {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 12px;
  }
  &-items {
    display: flex;
    margin-right: 38px;
  }
}

.header-item {
  width: 120px;
  &:first-child {
    width: 308px;
    margin-right: 53px;
  }
  li {
    a {
      font: 700 16px/1.5 'DINPro';
      letter-spacing: 0.3px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        color: $light-green;
      }
    }
  }
}

.header-info {
  flex-basis: 150px;
  margin-left: 180px;
  li {
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-family: 'DINPro';
      font-size: 16px;
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .header {
    &-items {
      margin-right: 10px;
    }
    &-item {
      &:first-child {
        margin-right: 14px;
      }
      li a {
        font-size: 15px;
      }
    }
    &-body {
      margin-right: 0;
    }
    &-info {
      margin-left: 20px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    padding: 10px 0 20px;
    &-items {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .header {
    &-info {
      display: none;
    }
  }
}

// Nav 

.nav {
  width: 560px;
  padding-right: 60px;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  &-list {
    margin-bottom: 34px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-link {
    position: relative;
    padding: 0;
    margin: 0;
    font: 700 24px/1.42 'DINPro';
    color: #00c5b3;
    text-transform: uppercase;
    display: inline-flex;
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 10px;
      background: url(../images/arrow-wh.png) no-repeat 50%;
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
    &:hover {
      color: #fff;
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-container {
    width: 100%;
    max-width: 830px;
    // max-height: 400px;
    margin: 0 auto;
  }
}

.nav-wrap {
  height: 100%;
  min-height: 100vh;
  background-color: $green;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 300ms;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
  .container {
    padding: 121px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.nav-sub {
  width: 260px;
  margin-top: 8px;
  position: absolute;
  top: 0;
  left: 100%;
  li {
    margin-bottom: 27px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      position: relative;
      font-weight: 700;
      color: #fff;
      padding: 0 22px 0 0;
      &:before {
        content: '';
        display: block;
        width: 12px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 9px;
        left: 0;
        opacity: 0;
        transition: 300ms;
      }
      &:hover {
        padding: 0 0 0 22px;
        text-decoration: underline;
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .nav {
    width: 480px;
    &-link {
      font-size: 21px;
    }
    &-wrap {
      .container {
        padding: 80px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .nav {
    width: 100%;
    padding: 40px 0;
    &-sub {
      display: none;
      position: static;
    }
    &-list {
      text-align: center;
      margin-bottom: 26px;
    }
    &-link {
      font-size: 18px;
      &:after {
        display: none;
      }
    }
  }
}


// Footer

.footer {
  padding: 77px 0 79px;
  &-wrap {
    position: relative;
    z-index: 20;
    background-color: $green;
  }
  &-items {
    display: flex;
  }
  &-item {
    flex-basis: 210px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    li {
      margin-bottom: 27px;
      &.footer-title {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        line-height: 1.63;
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .footer {
    padding: 50px 0;
    &-item {
      margin-right: 10px;
      li {
        margin-bottom: 16px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .footer {
    padding-bottom: 22px;
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      flex-basis: 33.33%;
      margin-right: 0;
      margin-bottom: 26px;
      padding-right: 16px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &-item {
      flex-basis: 50%;
      text-align: center;
      padding: 0 10px;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 36px 0 10px;
    &-item {
      flex-basis: 100%;
      li {
        margin-bottom: 12px;
      }
    }
  }
}

// Bottom

.bottom {
  padding: 39px 0 32px;
  border-top: 1px solid $light-green;
  display: flex;
  justify-content: space-between;
  &-wrap {
    background-color: $green;
  }
  &-info {
    margin-right: 20px;
    .logo {
      margin: 0 0 26px;
    }
    p {
      font-size: 14px;
      line-height: 1.71;
      color: #00c5b3;
      margin-bottom: 0;
      a {
        font-size: 14px;
        color: #00c5b3;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-item {
    flex-basis: 220px;
    flex-shrink: 0;
    .link {
      margin-bottom: 27px;
      &:hover {
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
  &-link {
    font-size: 14px;
    color: #00c5b3;
    text-decoration: underline;
    &:hover {
      color: #00c5b3;
      text-decoration: none;
    }
  }
}

@media (max-width: 767px) {
  .bottom {
    flex-direction: column;
    padding: 24px 0;
    &-info {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &-item {
      flex-basis: auto;
      .link {
        margin-bottom: 18px;
      }
    }
  }
}

// Showcase

.showcase {
  padding: 103px 0 90px;
  &-content {
    max-width: 880px;
    .link {
      line-height: 60px;
      padding: 0 36px;
    }
    h1 {
      font: 700 48px/1.33 'DINPro';
      color: $green;
      margin-bottom: 31px;
    }
    p {
      font-size: 24px;
      line-height: 1.42;
      color: #292929;
      margin-bottom: 45px;
    }
  }
  &-items {
    display: flex;
  }
  &-img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin: 10px 40px 0 0;
    background-repeat: no-repeat;
    background-position: left;
    &.showcase-img1 {
      background-image: url(../images/showcase-img1.png);
    }
    &.showcase-img2 {
      background-image: url(../images/showcase-img2.png);
    }
  }
}

.showcase-item {
  flex-basis: 50%;
  min-height: 360px;
  padding: 68px 54px 20px 80px;
  border: 1px solid #d1d1d1;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  &:before {
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 300ms;
  }
  &:first-child {
    border-right: none;
  }
  &:hover {
    &:before {
      opacity: 0;
    }
    .link {
      display: inline-flex;
    }
    .showcase {
      &-img {
        background-position: right;
      }
      &-item {
        &__title {
          color: #fff;
        }
        &__text {
          display: none;
        }
      }
    }
  }
  .link {
    display: inline-flex;
    display: none;
    color: #fff;
    background-color: $light-green;
  }
  &__title {
    font: 700 34px/1.41 'DINPro';
    color: $green;
    margin-bottom: 28px;
    transition: 300ms;
  }
  &__text {
    font-size: 18px;
    line-height: 1.56;
    color: #292929;
    margin-bottom: 0;
  }
}

@media (max-width: 1500px) {
  .showcase-item {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 1336px) {
  .showcase {
    padding: 60px 0;
    &-item {
      padding: 50px 20px 20px;
      &__title {
        font-size: 28px;
        line-height: 1.25;
        margin-bottom: 24px;
      }
      &__text {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 991px) {
  .showcase {
    &-img {
      margin: 6px 22px 0 0;
    }
    &-content {
      .link {
        line-height: 46px;
        padding: 0 26px;
      }
      h1 {
        font-size: 38px;
        line-height: 1.1;
        margin-bottom: 24px;
      }
      p {
        font-size: 21px;
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 767px) {
  .showcase {
    padding: 40px 0;
    &-items {
      flex-direction: column;
    }
    &-item {
      flex-basis: 100%;
      &:first-child {
        border-right: 1px solid #d1d1d1;
        border-bottom: none;
      }
    }
    &-content {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 575px) {
  .showcase {
    &-item {
      flex-direction: column;
      padding: 30px 20px;
      &__title {
        font-size: 24px;
        margin-bottom: 16px;
      }
    }
    &-img {
      margin: 0 0 20px;
    }
  }
}

// Partners

.partners {
  padding: 88px 0 16px;
  .head {
    margin-bottom: 64px;
  }
  &-wrap {
    background-color: #f5f6f7;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
  }
  &-item {
    flex-basis: 300px;
    margin: 0 0 60px 20px;
    display: flex;
    align-items: flex-start;
    &:hover p {
      color: $green;
    }
    img {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
    }
    p {
      font-size: 16px;
      line-height: 1.63;
      color: #292929;
      margin: 4px 0 0;
    }
  }
}

@media (max-width: 1336px) {
  .partners {
    padding-top: 70px;
    .head {
      margin-bottom: 50px;
    }
    &-items {
      margin-left: 0;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 40px;
    }
  }
}

@media (max-width: 767px) {
  .partners {
    padding-top: 48px;
    .head {
      margin-bottom: 40px;
    }
    &-item {
      margin-bottom: 26px;
    }
  }
}

// Guidebook

.guidebook {
  padding: 67px 0 32px;
  .head {
    width: 100%;
    max-width: 300px;
    margin-right: 100px;
    line-height: 1.5;
  }
  .slick-nav {
    margin: 52px auto 30px;
  }
  &-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  &-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 51px;
  }
  &-items {
    display: flex;
    align-items: stretch;
  }
  &-elems {
    display: flex;
  }
  &-elem {
    flex-basis: 160px;
    &:first-child {
      margin-right: 20px;
    }
    .value {
      font-size: 24px;
      font-weight: 700;
      color: #292929;
      margin-bottom: 3px;
    }
    p {
      font-size: 14px;
      line-height: 1.75;
      color: #292929;
      margin-bottom: 0;
    }
  }
}

.guidebook-item {
  position: relative;
  width: 420px;
  padding: 20px 20px 36px;
  border: 1px solid #d1d1d1;
  transition: 300ms;
  &:hover {
    border: 1px solid $light-green;
  }
  &-img {
    width: 100%;
    text-align: center;
    position: relative;
  }
  &-body {
    padding: 0 8px;
    margin-top: 31px;
  }
  &__title {
    font: 700 24px/1.17 'DINPro';
    color: $green;
    margin-bottom: 31px;
    &:hover {
      color: $light-green;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1336px) {
  .guidebook {
    .head {
      margin-right: 14px;
    }
    &-items {
      width: 840px;
      margin: 0 auto;
    }
    &-item {
      &-body {
        padding: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .guidebook {
    padding: 50px 0 20px;
    &-items {
      width: 720px;
    }
    &-item {
      width: 360px;
      &__title {
        font-size: 21px;
        margin-bottom: 22px;
      }
    }
  }
}

@media (max-width: 767px) {
  .guidebook {
    .head {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 12px;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 38px;
    }
    &-items {
      width: 400px;
    }
    &-item {
      width: 100%;
      &-body {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 470px) {
  .guidebook {
    &-items {
      width: 300px;
    }
    &-item {
      padding: 12px 12px 22px;
      &__title {
        margin-bottom: 16px;
      }
    }
    &-elems {
      flex-direction: column;
    }
    &-elem {
      flex-basis: 100%;
      &:first-child {
        margin-right: 0;
        margin-bottom: 12px;
      }
      .value {
        font-size: 21px;
      }
      p {
        line-height: 1.4;
      }
    }
  }
}

// Support

.support {
  padding: 80px 0;
  .head {
    flex-shrink: 0;
    max-width: 300px;
    margin-right: 97px;
    line-height: 1.5;
  }
  &-wrap {
    background-color: #f5f6f7;
  }
  &-header {
    display: flex;
    margin-bottom: 52px;
  }
  &-body {
    display: flex;
  }
  &-items {
    flex-grow: 10;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    position: relative;
    width: 33.33%;
    min-height: 161px;
    padding: 30px 40px 40px 38px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    transition: 300ms;
    &:hover {
      border: 1px solid $light-green;
      .support {
        &-arrow {
          opacity: 1;
        }
        &-item__title {
          color: $light-green;
        }
      }
    }
    &__title {
      font: 700 16px/1.75 'DINPro';
      color: $green;
      text-transform: uppercase;
      transition: 300ms;
    }
  }
  &-arrow {
    position: absolute;
    bottom: 23px;
    left: 38px;
    opacity: 0;
    transition: 300ms;
  }
}

.support-info {
  flex-shrink: 0;
  width: 300px;
  padding: 34px 40px;
  background-color: $green;
  .link {
    margin-top: 10px;
    &:hover {
      color: #fff;
      border: 1px solid #fff;
    }
  }
  p {
    line-height: 1.65;
    color: #fff;
    margin-bottom: 11px;
  }
  &__tel {
    font: 700 28px/1 'DINPro';
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      color: $light-green;
    }
  }
}

@media (max-width: 1336px) {
  .support {
    &-item {
      padding: 22px 20px 40px;
      &__title {
        line-height: 1.5;
      }
    }
    &-arrow {
      left: 20px;
    }
  }
}

@media (max-width: 991px) {
  .support {
    padding: 52px 0;
    .head {
      margin-right: 14px;
    }
    &-info {
      width: 280px;
      padding: 26px 20px;
    }
    &-item {
      width: 50%;
      padding: 14px 12px 26px;
    }
    &-arrow {
      bottom: 12px;
      left: 12px;
    }
  }
}

@media (max-width: 767px) {
  .support {
    .head {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 14px;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 32px;
    }
    &-body {
      flex-direction: column;
    }
    &-items {
      margin-bottom: 20px;
    }
    &-info {
      margin: 0 auto;
    }
  }
}

@media (max-width: 575px) {
  .support {
    &-item {
      width: 100%;
    }
  }
}

// Event

.event {
  padding: 80px 0 66px;
  .slick-nav {
    margin-top: 56px;
  }
  &-item {
    padding: 20px;
    border: 1px solid #d1d1d1;
    display: flex !important;
    .link {
      padding: 0 31px;
    }
    &-img {
      flex-shrink: 0;
      width: 500px;
    }
    &-body {
      margin-left: 38px;
      padding-top: 16px;
    }
    &-top {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }
    &__date {
      margin-right: 20px;
      margin-bottom: 10px;
      color: #0a0a0a;
    }
    &__link {
      color: $light-green;
      margin-bottom: 10px;
      &:hover {
        color: $light-green;
        text-decoration: underline;
      }
    }
    &__title {
      font: 700 28px/1.4 'DINPro';
      color: #0a0a0a;
      margin-bottom: 21px;
      &:hover {
        color: $light-green;
      }
    }
    &__text {
      line-height: 1.65;
      margin-bottom: 28px;
    }
  }
}

@media (max-width: 1336px) {
  .event {
    &-item {
      &-img {
        width: 470px;
      }
      &-body {
        margin-left: 24px;
        padding-top: 12px;
      }
      &__title {
        font-size: 22px;
        margin-bottom: 16px;
      }
      &__text {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 991px) {
  .event {
    &-item {
      &-img {
        width: 360px;
      }
    }
  }
}

@media (max-width: 767px) {
  .event {
    padding: 50px 0;
    .slick-nav {
      margin-top: 34px;
    }
    &-item {
      flex-direction: column;
      align-items: center;
      &-img {
        width: 100%;
        max-width: 360px;
      }
      &-body {
        margin-left: 0;
        padding-top: 20px;
      }
      &__title {
        margin-bottom: 10px;
      }
    }
  }
}

// Notices

.notices {
  &-items {
    padding-top: 5px;
  }
  &-item {
    padding: 21px 28px 15px 27px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    transition: 300ms;
    display: flex;
    &:hover {
      border: 1px solid $light-green;
    }
    &__title {
      line-height: 1.65;
      color: #292929;
      margin-right: 28px;
      &:hover {
        color: $light-green;
        text-decoration: underline;
      }
    }
    &-info {
      flex-shrink: 0;
      width: 160px;
    }
    &__date {
      color: #a2a2a2;
      margin-bottom: 10px;
    }
    &__rubric {
      color: $light-green;
      &:hover {
        color: $light-green;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 575px) {
  .notices {
    &-item {
      flex-direction: column;
      align-items: flex-start;
      &-info {
        width: 100%;
      }
      &__title {
        margin-bottom: 10px;
      }
    }
  }
}

// News

.news {
  .pagination {
    max-width: 780px;
  }
  &-col {
    flex-basis: 48.5%;
    &:first-child {
      flex-basis: 51.5%;
      margin-right: 59px;
    }
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 42px;
    .head {
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }
  &-link {
    font: 700 14px 'DINPro';
    letter-spacing: 0.6px;
    margin-bottom: 10px;
    color: $light-green;
    text-transform: uppercase;
    &:hover {
      color: $light-green;
      span {
        text-decoration: none;
      }
    }
    span {
      text-decoration: underline;
      margin-right: 16px;
    }
  }
  &-items {
    max-width: 780px;
    margin-bottom: 69px;
  }
  &-item {
    border-bottom: 1px solid #bababa;
    padding: 40px 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    &.news-basis {
      .news-item {
        &__title {
          margin-bottom: 26px;
        }
      }
    }
    &:hover .news-item__text {
      color: $light-green;
    }
    &-info {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
    }
    &-img {
      margin-bottom: 26px;
    }
    &__date {
      margin: 0 30px 4px 0;
      color: #a2a2a2;
    }
    &__rubric {
      margin-bottom: 4px;
      color: $light-green;
    }
    &__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5;
      color: #0a0a0a;
      margin-bottom: 6px;
      &:hover {
        color: $light-green;
        text-decoration: underline;
      }
    }
    &__text {
      line-height: 1.65;
      color: #292929;
      transition: 300ms;
    }
  }
}

.news-el {
  margin-bottom: 27px;
  &:last-child {
    margin-bottom: 0;
  }
  &.el-basis .news-el__title {
    font-size: 24px;
    line-height: 1.35;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    color: #0a0a0a;
    margin-bottom: 14px;
    &:hover {
      color: $light-green;
      text-decoration: underline;
    }
  }
  &-info {
    display: flex;
    flex-wrap: wrap;
  }
  &__date {
    color: #a2a2a2;
    margin-right: 26px;
    margin-bottom: 6px;
  }
  &__rubric {
    color: $light-green;
    margin-bottom: 6px;
    &:hover {
      color: $light-green;
      text-decoration: underline;
    }
  }
}

.news-still {
  .item {
    margin-bottom: 40px;
  }
  h2 {
    color: $green;
    font: 700 18px 'DINPro';
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: #0a0a0a;
    margin-bottom: 13px;
    &:hover {
      color: $light-green;
      text-decoration: underline;
    }
  }
  span {
    color: #a2a2a2;
  }
}

@media (max-width: 1336px) {
  .news {
    &-col {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  .news {
    &-col {
      &:first-child {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
    &-header {
      margin-bottom: 16px;
    }
    &-items {
      margin-bottom: 44px;
    }
    &-item {
      padding: 26px 0;
      &.news-basis .news-item__title {
        margin-bottom: 16px;
      }
      &-img {
        margin-bottom: 18px;
      }
      &__title {
        font-size: 21px;
        line-height: 1.25;
      }
      &__text {
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 767px) {
  .news {
    &-still {
      .item {
        margin-bottom: 20px;
      }
      h2 {
        margin-bottom: 18px;
      }
    }
  }
}

@media (max-width: 575px) {
  .news {
    &-el {
      &.el-basis .news-el__title {
        font-size: 21px;
      }
      &__title {
        font-size: 16px;
      }
    }
  }
}

// Main news

.main-news {
  padding: 73px 0 77px;
  display: flex;
  &-wrap {
    background-color: #f5f6f7;
  }
}

@media (max-width: 991px) {
  .main-news {
    flex-direction: column;
    padding: 58px 0;
  }
}

@media (max-width: 767px) {
  .main-news {
    padding: 48px 0;
  }
}

// Pagination

.pagination {
  justify-content: center;
  align-items: center;
  li {
    margin: 0 2px;
    &.prev a,
    &.next a {
      width: 30px;
      height: 10px;
      background: url(../images/prev.png) no-repeat left;
      transition: none;
      &:hover {
        background-color: inherit;
        background-position: right;
      }
    }
    &.prev {
      margin: 0 20px 0 0;
    }
    &.next {
      margin: 0 0 0 20px;
      a {
        background-image: url(../images/next.png);
      }
    }
    &.active a {
      color: #fff;
      background-color: $green;
    }
    a {
      width: 40px;
      height: 40px;
      font: 700 16px/1 'DINPro';
      color: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #fff;
        background-color: $green;
      }
    }
  }
}

@media (max-width: 575px) {
  .pagination {
    li {
      &.prev {
        margin-right: 4px;
      }
      &.next {
        margin-left: 4px;
      }
      a {
        width: 25px;
        height: 25px;
        font-size: 15px;
      }
    }
  }
}

// Article

.article {
  max-width: 780px;
  margin-bottom: 13px;
  &-back {
    font: 700 14px 'DINPro';
    letter-spacing: 0.8px;
    color: $light-green;
    text-transform: uppercase;
    margin-bottom: 163px;
    &:hover {
      color: $light-green;
      img {
        transform: translateX(-5px);
      }
    }
    img {
      flex-shrink: 0;
      width: 30px;
      transition: 300ms;
    }
    span {
      margin-left: 16px;
      text-decoration: underline;
    }
  }
  &-content {
    padding-bottom: 22px;
    margin-bottom: 38px;
    border-bottom: 1px solid #bababa;
    h2 {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.29;
      color: #0a0a0a;
      margin-bottom: 24px;
    }
    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.42;
      margin-bottom: 9px;
      padding-top: 5px;
    }
    p {
      font-size: 16px;
      line-height: 1.65;
      color: #292929;
      margin-bottom: 22px;
      b {
        font-size: 18px;
        line-height: 1.56;
      }
    }
    img {
      margin-bottom: 26px;
    }
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
    li {
      font-size: 14px;
      color: #959595;
      margin: 0 3px 3px 0;
      a {
        font-size: 14px;
        color: $light-green;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .article {
    &-back {
      margin-bottom: 60px;
    }
    &-content {
      h2 {
        font-size: 24px;
        margin-bottom: 16px;
      }
      p {
        b {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .article {
    &-back {
      margin-bottom: 32px;
    }
    &-content {
      padding-bottom: 10px;
      margin-bottom: 28px;
    }
  }
}

// Catalog

.catalog {
  padding-bottom: 70px;
  .title {
    margin-bottom: 23px;
  }
  &-items {
    margin-bottom: 60px;
  }
}

.catalog-search {
  background-color: #f5f6f7;
  padding: 30px 60px;
  margin-bottom: 42px;
}

.catalog-item {
  border: 1px solid #b4b2b7;
  padding: 26px 29px 13px;
  margin-bottom: 30px;
  display: flex;
  &:last-child {
    margin-bottom: 0;
  }
  table {
    flex-shrink: 0;
    width: 310px;
    margin-top: -3px;
    tbody td {
      width: 148px;
      font-size: 16px;
      line-height: 1.63;
      color: #292929;
      vertical-align: top;
      padding-bottom: 25px;
      &:first-child {
        width: 162px;
        font-weight: 700;
        padding-right: 10px;
      }
    }
  }
  &-body {
    display: flex;
  }
  &__number {
    flex-shrink: 0;
    width: 120px;
    font-weight: 700;
    color: #292929;
    margin-right: 10px;
  }
  &-content {
    flex-grow: 10;
    margin-right: 62px;
    a {
      font-size: 16px;
      font-weight: 700;
      color: #292929;
      text-transform: uppercase;
      margin-bottom: 30px;
      &:hover {
        color: $light-green;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.75;
      margin-bottom: 14px;
      color: #292929;
    }
  }
}

@media (max-width: 1336px) {

  .catalog-item {
    padding: 24px 16px 12px;
    &-content {
      margin-right: 24px;
      a {
        margin-bottom: 18px;
      }
    }
  }

  .catalog-search {
    padding: 24px 18px;
  }
}

@media (max-width: 991px) {

  .catalog {
    padding-bottom: 50px;
    &-items {
      margin-bottom: 38px;
    }
    &-search {
      margin-bottom: 32px;
    }
  }

  .catalog-item {
    table tbody td {
      padding-bottom: 15px;
      line-height: 1.5;
    }
    &-body {
      flex-direction: column;
    }
    &__number {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    &-content {
      p {
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 767px) {
  .catalog-item {
    flex-direction: column;
    table {
      width: 100%;
      tbody td {
        padding-bottom: 10px;
      }
    }
    &-content {
      margin-right: 0;
      p {
        margin-bottom: 0;
      }
    }
    &-body {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 575px) {
  .catalog-item {
    table {
      tbody td {
        font-size: 15px;
      }
    }
  }

  .catalog-search {
    padding: 14px;
  }
}

// Search

.search {
  padding: 30px 60px 55px;
  background-color: #f5f6f7;
  &-wrap {
    padding-bottom: 80px;
    .title {
      margin-bottom: 24px;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 21px;
    .link {
      font-size: 14px;
      padding: 0 34px;
    }
    button {
      margin-left: 61px;
    }
  }
  &-link {
    font-size: 14px;
    color: $light-green;
    text-decoration: underline;
    &:hover {
      color: $light-green;
      text-decoration: none;
    }
  }
  &-title {
    flex-shrink: 0;
    width: 260px;
    margin-right: 60px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    color: #292929;
    padding-top: 9px;
  }
  &-body {
    flex-grow: 10;
  }
  &-number input {
    width: 448px;
    height: 40px;
    border: 1px solid #b4b2b7;
    padding: 0 10px;
    font: 400 14px/1.2 'Roboto';
    color: #000;
  }
  &-selects {
    display: flex;
    align-items: center;
  }
  &-select {
    width: 250px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &.select-class {
      width: 530px;
    }
  }
  &-dates {
    display: flex;
  }
  &-items {
    margin: 31px 0 44px;
  }
}

.search-type {
  display: flex;
  flex-wrap: wrap;
  &-item {
    width: 33.33%;
    padding-right: 10px;
    margin: 15px 0;
    .checkbox-wrap {
      display: inline-flex;
    }
  }
}

.search-date {
  display: flex;
  align-items: center;
  margin-right: 31px;
  &:last-child {
    margin-right: 0;
  }
  span {
    margin-right: 14px;
  }
  input {
    width: 180px;
    height: 40px;
    border: 1px solid #b4b2b7;
    padding: 0 10px;
    font: 400 14px/1.2 'Roboto';
    color: #000;
  }
}

.search-item {
  display: flex;
  margin-bottom: 31px;
  &.type .search-title {
    padding-top: 14px;
  }
  &.subject-area .search-select {
    width: 100%;
    padding-right: 20px;
  }
}

.search-advanced {
  position: relative;
  margin-bottom: 19px;
  input {
    width: 100%;
    height: 60px;
    border: 1px solid #b4b2b7;
    background-color: #fff;
    padding: 7px 50px 0 18px;
    font: 400 16px 'Roboto';
    color: #000;
    &::placeholder {
      color: #292929;
    }
    &::-moz-placeholder {
      color: #292929;
    }
  }
  button {
    width: 24px;
    height: 25px;
    background: url(../images/search.png) no-repeat 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    &:focus {
      outline: none;
    }
  }
}

.search-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 1336px) {
  .search {
    padding: 30px;
    &-title {
      margin-right: 26px;
    }
    &-number input {
      width: 100%;
    }
    &-selects {
      flex-direction: column;
      align-items: flex-start;
    }
    &-select {
      width: 100%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &.select-class {
        width: 100%;
      }
    }
    &-links {
      margin-right: 0;
    }
    &-items {
      margin-bottom: 30px;
    }
    &-item {
      &.subject-area .search-select {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .search {
    &-wrap {
      padding-bottom: 50px;
    }
    &-title {
      width: 100%;
      margin-right: 0;
      margin-bottom: 8px;
      padding: 0 !important;
    }
    &-links {
      button {
        margin-left: 30px;
      }
    }
    &-item {
      flex-direction: column;
    }
  }
}

@media (max-width: 575px) {
  .search {
    padding: 20px;
    &-type {
      &-item {
        width: 100%;
        margin: 10px 0;
        padding-right: 0;
      }
    }
    &-links {
      flex-direction: column;
      .link {
        padding: 0 22px;
        line-height: 44px;
      }
      button {
        margin-left: 0;
        margin-top: 10px;
      }
    }
    &-dates {
      flex-direction: column;
    }
    &-date {
      margin-right: 0;
      margin-bottom: 10px;
      span {
        width: 30px;
      }
    }
    &-item {
      margin-bottom: 22px;
    }
  }

  .search-footer {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    .checkbox-wrap {
      margin-bottom: 8px;
    }
  }
}

// Sort

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
  padding-right: 18px;
  &-by {
    display: flex;
    align-items: center;
    li {
      margin-right: 20px;
      color: #292929;
      &.sort-updates a {
        font-weight: 700;
      }
      a {
        color: #292929;
        &:hover {
          color: $light-green;
        }
      }
    }
  }
  &-show {
    display: flex;
    align-items: center;
    h2 {
      font-size: 16px;
      font-weight: 400;
      margin: 0 6px 0 0;
      color: #292929;
    }
    select {
      border: none;
      cursor: pointer;
      padding-right: 20px;
      font: 700 16px 'Roboto';
      color: #292929;
      -webkit-appearance: none;
      background: url('../images/arrow-down.png') no-repeat 92% 50%;
      line-height: 1;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      &::-ms-expand {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .sort {
    padding-right: 0;
    flex-direction: column;
    align-items: center;
    &-by {
      margin-bottom: 10px;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .sort {
    &-by {
      flex-wrap: wrap;
      li {
        margin-bottom: 6px;
      }
    }
  }
}

@media (max-width: 575px) {
  .sort {
    &-by {
      width: 100%;
      flex-direction: column;
      li {
        margin-right: 0;
      }
    }
    &-show {
      width: 100%;
      justify-content: center;
    }
  }
}

// Invest

.invest {
  &-items {
    margin-bottom: 60px;
  }
  &-item {
    border: 1px solid #b4b2b7;
    margin-bottom: 30px;
    padding: 30px 60px 23px 20px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
    &-img {
      flex-shrink: 0;
      width: 280px;
      margin-right: 20px;
    }
    &-body {
      display: flex;
      margin-top: -2px;
    }
    &-content {
      flex-grow: 10;
      margin-right: 60px;
    }
    &-address {
      display: flex;
      align-items: center;
      img {
        flex-shrink: 0;
        width: 10px;
        margin-right: 10px;
      }
    }
    &-list {
      flex-shrink: 0;
      width: 180px;
      li {
        margin-bottom: 23px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-size: 14px;
          line-height: 1.75;
          color: $light-green;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &__date {
      font-size: 14px;
      color: #292929;
      margin-bottom: 30px;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.42;
      color: #292929;
      margin-bottom: 28px;
      &:hover {
        color: $light-green;
      }
    }
  }
}

@media (max-width: 1336px) {
  .invest {
    &-item {
      padding-right: 20px;
      &-content {
        margin-right: 20px;
      }
      &__date {
        margin-bottom: 16px;
      }
      &__title {
        font-size: 21px;
        margin-bottom: 20px;
      }
      &-list li {
        margin-bottom: 12px;
      }
    }
  }
}

@media (max-width: 991px) {
  .invest {
    &-items {
      margin-bottom: 36px;
    }
    &-item {
      padding: 20px 10px;
      &-img {
        width: 250px;
        margin-right: 10px;
      }
      &-content {
        margin-right: 10px;
      }
      &__title {
        font-size: 18px;
        margin-bottom: 10px;
      }
      &__date {
        margin-bottom: 10px;
      }
      &-list li {
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 767px) {
  .invest {
    &-item {
      max-width: 460px;
      margin: 0 auto 30px;
      flex-direction: column;
      &-body {
        flex-direction: column;
      }
      &-content {
        margin-right: 0;
        margin-bottom: 12px;
      }
      &-img {
        width: 280px;
        margin: 0 auto 20px;
      }
      &-list {
        width: 100%;
        li {
          margin-bottom: 4px;
        }
      }
    }
  }
}

// Parties

.parties {
  overflow: hidden;
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px -59px;
  }
  &-item {
    width: 600px;
    border: 1px solid #b4b2b7;
    padding: 18px 18px 28px;
    margin: 0 0 40px 59px;
    &-body {
      display: flex;
    }
    &-img {
      flex-shrink: 0;
      width: 200px;
      height: 161px;
      background-color: #f5f6f7;
      margin-right: 31px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-address {
      display: flex;
      align-items: flex-start;
      color: #292929;
      line-height: 1.65;
      img {
        flex-shrink: 0;
        width: 10px;
        margin: 4px 10px 0 0;
      }
    }
    &-content {
      margin-top: -5px;
    }
    &__company {
      font-weight: 700;
      color: $light-green;
      margin-bottom: 22px;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      color: #292929;
      margin-bottom: 14px;
      &:hover {
        color: $light-green;
      }
    }
    &__info {
      color: #292929;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1336px) {
  .parties {
    &-items {
      margin-left: -20px;
    }
    &-item {
      width: 475px;
      padding: 16px;
      margin: 0 0 20px 20px;
      &-img {
        margin-right: 16px;
      }
      &__title {
        font-size: 21px;
        margin-bottom: 10px;
      }
      &__info {
        margin-bottom: 20px;
      }
      &-address {
        line-height: 1.4;
      }
    }
  }
}

@media (max-width: 991px) {
  .parties {
    &-items {
      margin: 0 0 20px;
      flex-direction: column;
      align-items: center;
    }
    &-item {
      width: 100%;
      max-width: 500px;
      margin: 0 0 20px;
      &-content {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 575px) {
  .parties {
    &-item {
      padding-bottom: 20px;
      &-body {
        flex-direction: column;
      }
      &-img {
        margin: 0 auto 16px;
      }
      &__company {
        margin-bottom: 16px;
      }
    }
  }
}

// Docs

.docs {
  padding-bottom: 70px;
  .title {
    margin-bottom: 43px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px -60px;
  }
  &-item {
    width: 380px;
    border: 1px solid #b4b2b7;
    margin: 0 0 50px 60px;
    padding: 25px 30px 37px;
    display: flex;
    flex-direction: column;
    .link {
      flex-shrink: 0;
      font-size: 14px;
      background-color: #fff;
      color: $light-green;
      border: 1px solid $light-green;
      &:hover {
        background-color: $light-green;
        color: #fff;
      }
    }
    &-body {
      flex-grow: 10;
    }
    &-btn {
      text-align: center;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.42;
      color: #292929;
      margin-bottom: 25px;
      &:hover {
        color: $light-green;
      }
    }
    &-list {
      margin-bottom: 37px;
      li {
        margin-bottom: 26px;
        a {
          line-height: 1.63;
          color: #292929;
          &:hover {
            color: $light-green;
          }
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .docs {
    &-items {
      margin-left: -20px;
    }
    &-item {
      width: 310px;
      margin: 0 0 20px 20px;
      padding: 21px 14px 28px;
      &__title {
        font-size: 21px;
      }
      &-list {
        margin-bottom: 24px;
        li {
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .docs {
    padding-bottom: 50px;
    .title {
      margin-bottom: 34px;
    }
    &-items {
      margin-left: 0;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
    }
  }
}

@media (max-width: 575px) {
  .docs {
    &-items {
      flex-direction: column;
      align-items: center;
    }
    &-item {
      width: 100%;
      margin: 0 0 20px;
    }
  }
}

// Error

.error {
  max-width: 942px;
  margin: 0 auto;
  padding: 104px 0 113px;
  &-number {
    font: 700 144px/1 'DINPro';
    color: $green;
    margin-bottom: 10px;
  }
  &-descr {
    font-size: 24px;
    font-weight: 700;
    color: #292929;
    margin-bottom: 25px;
  }
  &-text {
    margin-bottom: 7px;
  }
  &-link {
    color: $light-green;
    &:hover {
      color: $light-green;
      span {
        text-decoration: none;
      }
    }
    span {
      text-decoration: underline;
      margin-right: 16px;
    }
  }
}

// Select2

.select2 {
  .select2-selection {
    background: #fff;
    border: 1px solid #b4b2b7;
    height: 40px;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 0 32px 0 20px;
    .select2-selection__rendered {
      font: 400 14px/1.2 'Roboto';
      color: #292929;
      display: flex;
      align-items: center;
      padding: 0 10px 0 0;
    }
    .select2-selection__arrow  {
      height: 100%;
      margin-right: 10px;
      background: url(../images/select-arrow.png) no-repeat 50%;
      b {
        display: none;
      }
    }
  }
  &.select2-container--open {
    .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }
  &-search--dropdown {
    display: none;
  }
}

.select2-dropdown {
  border-color: #c7d7df;
  .select2-results__options {
    .select2-results__option {
      &.select2-results__option--highlighted {
        background: $light-green;
      }
    }
  }
}

// Card

.card {
  &-block {
    display: flex;
  }
}

.card-object {
  &-wrap {
    padding: 19px 0 40px;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.31;
    color: #292929;
    margin-bottom: 41px;
  }
  &-content {
    display: flex;
    align-items: flex-start;
    h2 {
      flex-shrink: 0;
      width: 120px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      margin-right: 20px;
      color: #292929;
    }
    p {
      font-size: 14px;
      line-height: 1.71;
      color: #292929;
    }
  }
  &-table {
    display: flex;
    border-bottom: 1px solid #b4b2b7;
    padding-bottom: 23px;
    margin-bottom: 37px;
    table tbody td {
      color: #292929;
      padding-bottom: 25px;
      line-height: 1.65;
      &:first-child {
        font-weight: 700;
      }
    }
  }
  &-docs {
    margin-right: 50px;
    tbody td {
      width: 240px;
      padding-right: 10px;
    }
  }
  &-data {
    margin-right: 36px;
    tbody td {
      width: 120px;
      padding-right: 10px;
      &:first-child {
        width: 70px;
      }
    }
  }
  &-info {
    tbody td {
      width: 220px;
      padding-right: 10px;
      &:first-child {
        width: 160px;
      }
    }
  }
}

.card-tabs {
  padding: 50px 0 70px;
  &-wrap {
    background-color: #f5f6f7;
  }
  &-nav {
    display: flex;
    li {
      position: relative;
      z-index: 5;
      padding: 10px 22px;
      background-color: $light-green;
      border-top: 1px solid $light-green;
      border-right: 1px solid $light-green;
      border-left: 1px solid $light-green;
      font: 700 16px 'DINPro';
      letter-spacing: 1px;
      color: #fff;
      margin-right: 7px;
      margin-bottom: -1px;
      transition: 300ms;
      cursor: pointer;
      text-transform: uppercase;
      &:hover,
      &.active {
        color: #000;
        background-color: #fff;
        border-top: 1px solid #b4b2b7;
        border-right: 1px solid #b4b2b7;
        border-left: 1px solid #b4b2b7;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-item {
    display: none;
    background-color: #fff;
    border: 1px solid #b4b2b7;
    padding: 33px 40px 35px 29px;
    p {
      font-size: 14px;
      line-height: 1.71;
      color: #292929;
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.active {
      display: block;
    }
  }
}

.card-project {
  table tbody td {
    vertical-align: top;
    line-height: 1.65;
    color: #292929;
    padding-bottom: 25px;
    padding-right: 10px;
    &:first-child {
      font-weight: 700;
    }
  }
  &-info td {
    &:first-child {
      width: 240px;
    }
    &:last-child {
      padding-right: 80px;
    }
  }
  &-data td:first-child {
    width: 320px;
  }
  &-wrap {
    padding: 20px 0 46px;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.31;
    color: #292929;
    margin-bottom: 40px;
  }
  &__link {
    color: $light-green;
    text-decoration: underline;
    &:hover {
      color: $light-green;
      text-decoration: none;
    }
  }
  &__mail,
  &__tel {
    color: #292929;
    &:hover {
      color: $light-green;
    }
  }
  &-items {
    display: flex;
    padding-bottom: 11px;
    margin-bottom: 37px;
    border-bottom: 1px solid #b4b2b7;
  }
  &-item {
    flex-basis: 50%;
    &:first-child {
      margin-right: 20px;
    }
  }
}

.card-subject {
  flex-basis: 50%;
  margin-right: 20px;
  &__title {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;
    color: #292929;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      margin-right: 10px;
      &:after {
        content: '|';
        display: block;
        color: #898989;
        line-height: 1;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        right: -7px;
        transform: translateY(-50%);
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      a {
        font-size: 14px;
        line-height: 1.71;
        color: $light-green;
        &:hover {
          color: $light-green;
          text-decoration: underline;
        }
      }
    }
  }
}

.card-industry {
  flex-basis: 50%;
  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    color: #292929;
  }
  p {
    font-size: 14px;
    line-height: 1.71;
    color: #292929;
    padding-right: 60px;
    margin-bottom: 3px;
  }
}

.card-parties {
  .title {
    margin-bottom: 27px;
  }
  table td {
    line-height: 1.65;
    color: #292929;
    vertical-align: top;
    padding-bottom: 25px;
    &:first-child {
      width: 320px;
      padding-right: 10px;
      font-weight: 700;
    }
    a {
      color: #292929;
      &:hover {
        color: $light-green;
      }
    }
  }
  &-body {
    display: flex;
    padding-bottom: 14px;
    margin-bottom: 44px;
    border-bottom: 1px solid #b4b2b7;
  }
  &-img {
    flex-shrink: 0;
    width: 280px;
    height: 240px;
    background-color: #f5f6f7;
    margin-right: 38px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card-technology {
  .head {
    margin-bottom: 30px;
  }
  .catalog-items {
    margin-bottom: 46px;
  }
}

.card-projects {
  padding-bottom: 70px;
  .head {
    margin-bottom: 27px;
  }
  .invest {
    &-items {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1336px) {
  .card-object {
    &-docs {
      margin-right: 10px;
      tbody td {
        width: 200px;
      }
    }
    &-data {
      margin-right: 20px;
    }
  }

  .card-project {
    &-info td:last-child {
      padding-right: 0;
    }
  }

  .card-industry {
    p {
      padding-right: 0;
    }
  }
}

@media (max-width: 991px) {
  .card-object {
    &-table {
      flex-direction: column;
      table tbody td {
        padding-bottom: 12px;
      }
    }
    &-docs,
    &-info,
    &-data {
      tbody td {
        width: auto;
        &:first-child {
          width: 300px;
        }
      }
    }
    &-docs {
      margin-right: 0;
    }
    &-data {
      order: 3;
      margin-right: 0;
    }
  }

  .card-tabs-nav li {
    padding: 10px;
    letter-spacing: 0;
  }

  .card-project {
    table tbody td {
      padding-bottom: 12px;
    }
    &-wrap {
      padding: 8px 0 36px;
    }
    &-info,
    &-data {
      td {
        width: auto;
        &:first-child {
          width: 300px;
        }
      }
    }
    &__title {
      font-size: 26px;
      margin-bottom: 32px;
    }
    &-items {
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  .card-parties {
    table td {
      padding-bottom: 14px;
    }
    &-body {
      flex-direction: column;
      align-items: flex-start;
    }
    &-img {
      margin-right: 0;
      margin-bottom: 26px;
    }
  }

  .card-projects {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {

  .card {
    &-block {
      flex-direction: column;
    }
    &-subject {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &-industry {
      flex-basis: 100%;
    }
  }

  .card-object {
    &-wrap {
      padding: 10px 0 20px;
    }
    &__title {
      font-size: 28px;
    }
  }

  .card-tabs {
    padding: 40px 0 48px;
    &-nav {
      flex-wrap: wrap;
      li {
        width: 50%;
        margin-right: 0;
      }
    }
    &-item {
      padding: 20px 18px 24px;
    }
  }

  .card-parties {
    table td {
      &:first-child {
        width: 280px;
      }
    }
  }
}

@media (max-width: 575px) {
  .card-object {
    &__title {
      font-size: 25px;
      margin-bottom: 20px;
    }
    &-table {
      margin-bottom: 28px;
      table tbody td {
        width: 100% !important;
        display: block;
        line-height: 1.4;
        padding-bottom: 8px;
      }
    }
    &-content {
      flex-direction: column;
    }
  }

  .card-tabs-nav li {
    width: 100%;
  }

  .card-project {
    table tbody td {
      display: block;
      line-height: 1.4;
      padding-bottom: 8px;
    }
    &-wrap {
      padding-bottom: 28px;
    }
    &-item {
      flex-basis: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
    &-info,
    &-data {
      td:first-child {
        width: 100%;
      }
    }
  }

  .card-parties {
    table td {
      display: block;
      padding-bottom: 8px;
      line-height: 1.5;
      &:first-child {
        width: 100%;
      }
    }
  }
}

// Check in

.checkin {
  display: flex;
  padding-bottom: 80px;
  &-wrap {
    .title {
      margin-bottom: 23px;
    }
  }
  &-form {
    flex-grow: 10;
    background-color: #f5f6f7;
    padding: 20px 60px 40px;
  }
  &-item {
    display: none;
    &.active {
      display: block;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      color: $green;
      margin-bottom: 24px;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 20px;
    .checkbox-wrap {
      margin-right: 20px;
    }
  }
}

.checkin-nav {
  display: flex;
  align-items: flex-start;
  margin-bottom: 41px;
  li {
    flex-basis: 200px;
    font-size: 14px;
    font-weight: 700;
    color: #7c7c7c;
    padding-top: 15px;
    margin-left: 30px;
    border-top: 4px solid $light-green;
    transition: 300ms;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    &:hover,
    &.active {
      color: #292929;
      border-top: 4px solid #292929;
    }
  }
}

.checkin-input {
  display: flex;
  margin-bottom: 20px;
  &__title {
    flex-shrink: 0;
    width: 230px;
    padding: 16px 10px 0 0;
  }
  &-item {
    width: 100%;
  }
  input {
    width: 100%;
    height: 50px;
    border: 1px solid #b4b2b7;
    padding: 0 29px;
    font: 400 16px 'Roboto';
    &::placeholder {
      color: #292929;
    }
    &::-moz-placeholder {
      color: #292929;
    }
  }
}

.checkin-pc {
  flex-shrink: 0;
  width: 380px;
  margin-left: 100px;
  padding: 35px 50px 23px 38px;
  border: 1px solid $light-green;
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.42;
    color: #383838;
    margin-bottom: 23px;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
    color: #383838;
    margin-bottom: 14px;
  }
  p {
    font-size: 14px;
    line-height: 1.75;
    color:#383838;
    margin-bottom: 23px;
  }
}

@media (max-width: 1336px) {
  .checkin {
    &-pc {
      width: 300px;
      margin-left: 20px;
      padding: 20px 16px 16px;
      h2 {
        line-height: 1.2;
      }
    }
    &-form {
      padding-right: 36px;
      padding-left: 36px;
    }
    &-footer {
      padding-left: 0;
    }
  }
}

@media (max-width: 991px) {
  .checkin {
    padding-bottom: 50px;
    &-nav {
      li {
        margin-left: 14px;
      }
    }
    &-form {
      padding: 20px;
    }
    &-pc {
      width: 280px;
      h2 {
        font-size: 21px;
        margin-bottom: 16px;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 8px;
      }
      p {
        line-height: 1.5;
        margin-bottom: 16px;
      }
    }
    &-input {
      &__title {
        width: 176px;
      }
      input {
        padding: 0 12px;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .checkin {
    flex-direction: column;
    &-pc {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media (max-width: 575px) {
  .checkin {
    &-nav {
      margin-bottom: 30px;
    }
    &-item {
      &__title {
        font-size: 21px;
        margin-bottom: 18px;
      }
    }
    &-input {
      flex-direction: column;
      &__title {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
      }
    }
    &-footer {
      flex-direction: column;
      padding-top: 0;
      .checkbox-wrap {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}