@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px "Montserrat", sans-serif;
  color: #232425;
}

a {
  display: inline-block;
  font: 400 16px "Montserrat", sans-serif;
  text-decoration: none;
  color: #232425;
  transition: 300ms;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1110px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

/*Burger*/

.burger {
  display: none;

  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;

    span {
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 7px;
      background: #2b4074;
      transition: all 0.2s ease-in-out;

      &::before,
      &::after {
        content: "";
        width: 30px;
        height: 3px;
        position: absolute;
        left: 0;
        background: #2b4074;
        border-radius: 7px;
        transition: all 0.2s ease-in-out;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }

    &.active {
      span {
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(6px, 6px);
        }

        &::after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

/* Header */

.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9999;

  &__inner {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 162px;
    display: flex;
    flex-shrink: 0;

    @media only screen and (max-width: 991px) {
      width: 110px;
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      text-transform: uppercase;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
      }
    }

    li {
      margin-right: 48px;

      &:last-child {
        margin-right: 0;
      }

      @media only screen and (max-width: 991px) {
        margin-right: 35px;
      }

      @media only screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    a {
      position: relative;
      display: flex;
      color: #ffffff;
      font-size: 13px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        background: #ffffff;
        transition: 300ms;
        bottom: -1px;
        left: 0%;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &.active {
      display: block;
      position: absolute;
      top: 82px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background: #2b4074;
      padding: 15px 0;
      z-index: 100;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

/* Showcase */

.showcase {
  background: url(../images/showcase-bg.png) 50% / cover;
  height: 970px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 120px;

  &__inner {
    padding: 0 0 40px 40px;

    @media only screen and (max-width: 767px) {
      padding: 0 0 20px 20px;
    }
  }

  &__title {
    max-width: 820px;
    font-size: 68px;
    font-weight: 700;
    line-height: 112%;
    color: #2b4074;
    margin-bottom: 40px;

    @media only screen and (max-width: 1336px) {
      font-size: 45px;
      max-width: 629px;
      margin-bottom: 35px;
    }

    @media only screen and (max-width: 991px) {
      font-size: 30px;
      max-width: 419px;
      margin-bottom: 25px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__info {
    display: flex;

    @media only screen and (max-width: 991px) {
      display: block;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    max-width: 363px;
    margin-right: 40px;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
      margin-right: 0;
      margin-bottom: 15px;
    }

    @media only screen and (max-width: 767px) {
      max-width: 176px;
    }
  }

  &__btn {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    background: #2b4074;
    border-radius: 30px;
    padding: 22px 40px;
    color: #ffffff;

    &:hover {
      background: #334779;

      img {
        transform: translateX(10px);
      }
    }

    @media only screen and (max-width: 1336px) {
      padding: 20px 30px;
    }

    @media only screen and (max-width: 991px) {
      width: 200px;
      padding: 20px 20px;
      font-size: 14px;
    }

    img {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      margin-left: 16px;
      transition: 500ms;
    }
  }

  @media only screen and (max-width: 1336px) {
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 991px) {
    height: 700px;
  }

  @media only screen and (max-width: 767px) {
    background: none;
    height: 496px;
  }
}

/* About */

.about {
  margin-bottom: 126px;

  &__inner {
    @media only screen and (max-width: 767px) {
      padding: 0 15px;
    }
  }

  &__text {
    position: relative;
    max-width: 789px;
    text-align: center;
    line-height: 132%;
    font-weight: 500;
    font-size: 30px;
    margin: 0 auto 104px;

    &::before {
      content: "";
      display: block;
      background: url(../images/about-logo.png) 50% / cover no-repeat;
      width: 360px;
      height: 260px;
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (max-width: 1336px) {
        background-size: 190px;
        width: 260px;
        height: 160px;
        top: -12px;
      }
    }

    @media only screen and (max-width: 1336px) {
      max-width: 526px;
      font-size: 20px;
      margin: 0 auto 70px;
    }

    @media only screen and (max-width: 767px) {
      margin: 0 auto 35px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 840px;
    flex-shrink: 0;
    margin-right: 105px;

    @media only screen and (max-width: 1450px) {
      width: 650px;
      margin-right: 85px;
    }

    @media only screen and (max-width: 1336px) {
      width: 500px;
      margin-right: 45px;
    }

    @media only screen and (max-width: 991px) {
      width: 350px;
      margin-right: 20px;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &__opportunities {
    padding: 0 20px;
  }

  &__title {
    max-width: 547px;
    font-weight: 600;
    font-size: 40px;
    line-height: 116%;
    color: #2b4074;
    text-transform: uppercase;
    margin-bottom: 48px;

    @media only screen and (max-width: 1336px) {
      max-width: 495px;
      font-size: 30px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 25px;
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &__list {
    max-width: 478px;

    span {
      display: inline-flex;
      align-items: flex-start;
      margin-bottom: 16px;

      &:before {
        content: "";
        display: block;
        background: url(../images/complete-icon.svg) 50% / cover;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        margin-right: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

/* Service */

.service {
  margin-bottom: 208px;

  &__inner {
    text-align: center;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #2b4074;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media only screen and (max-width: 991px) {
      font-size: 25px;
      margin-bottom: 15px;
    }
  }

  &__text {
    max-width: 548px;
    text-align: center;
    line-height: 140%;
    margin: 0 auto 64px;

    @media only screen and (max-width: 991px) {
      max-width: 380px;
      margin: 0 auto 34px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 300px;
      justify-content: center;
      grid-gap: 35px;
    }
  }

  &__item {
    text-align: center;
    transition: 300ms;

    img {
      flex-shrink: 0;
      margin-bottom: 24px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 15px;
      }
    }

    span {
      display: block;
      margin: 0 auto;
      font-weight: 600;
      font-size: 22px;
      color: #2b4074;
      transition: 300ms;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
  }

  @media only screen and (max-width: 1336px) {
    margin-bottom: 150px;
  }

  @media only screen and (max-width: 991px) {
    margin-bottom: 100px;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

/* Aid */

.aid {
  margin-bottom: 208px;

  &__inner {
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 64px;
    color: #2b4074;
    text-transform: uppercase;

    @media only screen and (max-width: 991px) {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 154px;

    @media only screen and (max-width: 1336px) {
      grid-gap: 100px;
    }

    @media only screen and (max-width: 991px) {
      grid-gap: 80px;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
  }

  &__percent {
    font-size: 68px;
    font-weight: 700;
    color: #2b4074;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 40px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #2b4074;
    margin-bottom: 8px;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
    }
  }

  &__text {
    line-height: 140%;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 991px) {
    margin-bottom: 100px;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 80px;
  }
}

/* Work */

.work {
  margin-bottom: 90px;

  &__title {
    font-weight: 600;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #2B4074;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media only screen and (max-width: 767px) {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__content {
    line-height: 140%;
    text-align: center;
    margin: 0 auto 64px;
    max-width: 530px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: 1336px) {
      grid-gap: 10px;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__number {
    position: relative;
    margin-bottom: 17px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 0;
      background: #2B4074;
      height: 2px;
      width: 100%;
      z-index: -1;
    }

    span {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 2px solid #2B4074;
      font-weight: 600;
      color: #2B4074;
      border-radius: 50%;
    }
  }

  &__item-title {
    font-weight: 600;
    color: #2B4074;
    margin-bottom: 16px;
  }

  &__item-text {
    line-height: 140%;
  }

  @media only screen and (max-width: 1336px) {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

/* Success */

.success {
  background: url(../images/success-bg.png) 50%/cover;
  padding: 255px 0 80px;
  margin-bottom: 120px;

  &__inner {
    position: relative;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 64px;

    @media only screen and (max-width: 767px) {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__slider {
    max-width: 548px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px 32px 30px;
    margin-bottom: 252px;

    @media only screen and (max-width: 991px) {
      margin: 0 auto 30px;
    }
  }

  &__slider-items {
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;

    .slick-arrow {
      position: absolute;
      bottom: -49px;
      left: 0;
      border: none;
      font-size: 0;
      cursor: pointer;
    }

    .slick-next {
      background: url(../images/slick-arrov-right.svg) 50%/ cover;
      width: 30px;
      height: 15px;
      margin-left: 45px;
    }

    .slick-prev {
      background: url(../images/slick-arrov-right.svg) 50%/ cover;
      width: 30px;
      height: 15px;
      transform: rotate(180deg);

    }

    .slick-disabled {
      opacity: 0.3;
      cursor: unset;
    }
  }

  &__slider-logo {
    margin-bottom: 16px;
  }

  &__slider-text {
    max-width: 484px;
    font-weight: 600;
    font-size: 22px;
    line-height: 132%;
    color: #FFFFFF;

    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__slider-number {
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 1336px) {
      justify-content: flex-end;
    }

    @media only screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &__btn {
    width: 255px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;

    &:hover {

      img {
        transform: translateX(10px);
      }
    }

    img {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      margin-left: 16px;
      transition: 500ms;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      display: block;
      background: url(../images/line-img.png) 50%/ cover;
      width: 868px;
      height: 350px;
      position: absolute;
      top: -380px;
      left: 117px;

      @media only screen and (max-width: 1336px) {
        left: 66px;
      }

      @media only screen and (max-width: 1030px) {
        display: none;
      }
    }

    @media only screen and (max-width: 1336px) {
      margin-bottom: 30px;
    }

    @media only screen and (max-width: 991px) {
      justify-content: space-between;
    }

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }

  &__item {
    position: absolute;
    bottom: -35px;
    left: 0;

    &:nth-child(2) {
      bottom: 20px;
      left: 280px;
    }

    &:nth-child(3) {
      bottom: 170px;
      left: 564px;
    }

    &:nth-child(4) {
      bottom: 283px;
      left: 840px;

      @media only screen and (max-width: 1336px) {
        left: 825px;
      }
    }

    @media only screen and (max-width: 1030px) {
      position: static;
    }

    @media only screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
    }

    @media only screen and (max-width: 767px) {
      margin-bottom: 35px;
    }
  }

  &__text {
    max-width: 266px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
    flex-grow: 10;

    @media only screen and (max-width: 1336px) {
      font-size: 13px;
      max-width: 185px;
    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  &__request {
    color: #FFFFFF;
    text-align: center;

    span {
      display: block;
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 10px;
    }
  }

  @media only screen and (max-width: 1336px) {
    padding: 185px 0 80px;
  }

  @media only screen and (max-width: 991px) {
    margin-bottom: 60px;
  }

  @media only screen and (max-width: 767px) {
    padding: 180px 0 60px;
  }
}

/* Partners */

.partners {
  &__title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #2B4074;
    text-align: center;
    margin-bottom: 68px;

    @media only screen and (max-width: 767px) {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
    margin-bottom: 60px;

    img {
      width: 65%;
      flex-shrink: 0;
    }
  }
}

/* Connection */

.connection {
  background: url(../images/connection-bg.png) 50%/ cover;
  background-repeat: no-repeat;
  background-size: 100% 650px;
  background-position-y: 0px;
  padding-top: 112px;

  &__inner {
    margin-bottom: 104px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 70px;
    }

    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;

    @media only screen and (max-width: 767px) {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 80px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 40px;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
    padding: 16px 34px;
    color: #ffffff;
    font-weight: 500;
    line-height: 140%;

    @media only screen and (max-width: 1336px) {
      font-size: 14px;
    }
  }

  &__form {
    padding: 40px;
    max-width: 736px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 0 auto;
  }

  &__form-title {
    font-weight: 500;
    font-size: 30px;
    color: #2B4074;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 10px;
    margin-bottom: 10px;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__select {
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 30px;
    height: 60px;
    padding: 0 10px 0 24px;
    font-weight: 500;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/down-arrow-gray.svg) 50%/cover no-repeat;
    background-position-x: 95%;
    background-size: 24px;
    color: #BEBEBE;
  }

  &__field-input {
    input {
      background: #FFFFFF;
      border: 1px solid #DEDEDE;
      border-radius: 30px;
      height: 60px;
      width: 100%;
      padding: 0 10px 0 24px;
      font-weight: 500;
      color: #a7a4a4;

      &::-webkit-input-placeholder {
      color: #BEBEBE;
      }
      &:-moz-placeholder {
      color: #BEBEBE;
      }
      &::-moz-placeholder {
      color: #BEBEBE;
      }
      &:-ms-input-placeholder {
      color: #BEBEBE;
      }
    }
  }

  &__search {
    display: none;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    width: 100%;
    border-radius: 10px;

    li {
      padding: 10px;
      border-bottom: 1px solid #DEDEDE;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }
    }

    &.active {
      display: block;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: -120px;
      z-index: 100;
    }
  }

  &__organization {
    margin-bottom: 10px;

    input {
      margin-bottom: 10px;
    }
  }

  &__registration {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }

  &__btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    width: 268px;
    max-width: 100%;
    height: 60px;
    background: #2B4074;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 32px;

    &:hover {
      background: #334779;

      img {
        transform: translateX(10px);
      }
    }

    img {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      margin-left: 16px;
      transition: 500ms;
    }

    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: flex;
    font-weight: 600;
    color: #2B4074;
  }

  &__text {
    max-width: 468px;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    margin: 0 auto;
  }

  @media only screen and (max-width: 767px) {
    background-size: 100% 740px;
    padding-top: 50px;
  }
}

/* Footer */

.footer {
  background: #2B4074;

  &__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 767px) {
      padding: 20px 0;
    }
  }

  &__logo {
    width: 162px;
    flex-shrink: 0;
    margin-right: 119px;

    @media only screen and (max-width: 1336px) {
      width: 130px;
      margin-right: 75px;
    }

    @media only screen and (max-width: 991px) {
      width: 100px;
      margin-right: 30px;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }

  &__location {
    display: flex;
    align-items: flex-start;
    color: #ffffff;
    margin-right: 30px;

    img {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      margin-right: 8px;
    }

    @media only screen and (max-width: 991px) {
      margin-right: 12px;
    }

    @media only screen and (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__place {
    font-weight: 500;
    font-size: 13px;

    span {
      display: block;
      max-width: 216px;
      font-weight: 600;
      line-height: 112%;
      margin-bottom: 8px;
      font-size: 16px;

      @media only screen and (max-width: 1336px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 991px) {
        font-size: 13px;
      }
    }

    @media only screen and (max-width: 991px) {
      font-size: 12px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #FFFFFF;
    margin-right: 108px;

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      margin-right: 10px;
    }

    @media only screen and (max-width: 1336px) {
      font-size: 14px;
      margin-right: 90px;
    }

    @media only screen and (max-width: 991px) {
      font-size: 13px;
      margin-right: 40px;
    }

    @media only screen and (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__mail {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #FFFFFF;

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      margin-right: 10px;
    }

    @media only screen and (max-width: 1336px) {
      font-size: 14px;
    }

    @media only screen and (max-width: 991px) {
      font-size: 13px;
    }
  }
}


/* Copiright */

.copiright {
  padding: 24px 0;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: center;
}