$blue: #008dd2;
$grey: #4e565a;

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'HelveticaNeueCyr', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

.btn {
  padding: 20px 28px;
  cursor: pointer;
  transition: 300ms;
  border: 0;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0;
  box-shadow: none !important;

  &.btn-primary {
    background: $blue;

    &:hover {
      background: #037cb7;
    }

    &:active {
      background: #037cb7 !important;
    }
  }

  &.btn-secondary {
    background: $grey;

    &:hover {
      background: $blue;
    }

    &:active {
      background: $blue !important;
    }
  }
}

.title {
  font-size: 54px;
  font-weight: 700;
  margin: 0 0 40px;
  color: $blue;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 991px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }

  .title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .btn {
    padding: 12px 17px;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;

  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;

    &.active span {
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      background-color: #222;

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        background-color: #222;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }
  }
}

/* Content */

.content {
  line-height: 1.5;

  h2 {
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 40px;
    line-height: 1.5;
  }


  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  p {
    margin-bottom: 25px;

  }

  >img {
    margin-bottom: 25px;
  }

  ul {
    margin-bottom: 25px;

    &.bold {
      font-weight: bold;
      font-size: 18px;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '—  ';
        color: $blue;
        display: inline;
      }
    }
  }

  .list {
    margin-bottom: 20px;

    div {
      font-size: 18px;
      font-weight: bold;
    }

    ul {
      margin-left: 30px;
      margin-bottom: 0 !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .content {
    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 22px;
    }

    >img {
      margin-bottom: 20px;
    }
  }
}

/* Header */

.header {

  &.inner-header {
    box-shadow: 0 10px 18px 2px rgba(54, 54, 54, 0.05);
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0 18px;
  }

  &-logo {
    flex-shrink: 0;
  }

  &-contacts {
    display: flex;
    margin-bottom: 15px;
  }

  &-tel {
    display: flex;
    align-items: center;
    color: $grey;
    margin-right: 93px;

    &:hover {
      color: $blue;
    }

    img {
      margin-right: 7px;
    }
  }

  &-email {
    color: $grey;
    text-decoration: underline;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &-links {
    display: flex;
    align-items: center;
  }

  &-nav {
    margin-right: 85px;

    ul {
      display: flex;

      li {
        margin-right: 36px;

        &:last-child {
          margin-right: 0;
        }

        &.active a {
          color: $grey;
        }

        a {
          color: $blue;
          font-size: 18px;
          font-weight: bold;

          &:hover {
            color: $grey;
          }
        }
      }
    }
  }

  &-languages {
    ul {
      display: flex;

      li {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          a {
            background: $grey;
            color: #ffffff !important;
          }
        }

        a {
          width: 40px;
          height: 40px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: $blue;

          &:hover {
            color: $grey;
          }
        }
      }
    }
  }
}

.burger {
  display: none;
}

@media only screen and (max-width: 1336px) {
  .header {
    &-nav {
      margin-right: 35px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    &-nav {
      margin-right: 20px;

      ul {
        li {
          margin-right: 15px;

          a {
            font-size: 16px;
          }
        }
      }
    }

    &-logo {
      width: 350px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {
    &-inner {
      flex-direction: column;
      align-items: center;
    }

    &-logo {
      width: 250px;
      margin-bottom: 25px;
    }

    &-contacts {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    position: relative;

    &-links {
      justify-content: center;
    }

    &-nav {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      z-index: 9999;
      margin-right: 0;
      transition: 300ms;
      transform: translateY(20px);
      opacity: 0;
      visibility: hidden;

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      ul {
        display: block;
        padding: 20px 0 10px;

        li {
          text-align: center;
          margin-bottom: 10px;
          margin-right: 0;

          a {
            font-size: 20px;
          }
        }
      }
    }

    &-tel {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &-content {
      width: 100%;
    }

    &-contacts {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .main {
    overflow: visible;
  }

  .burger {
    display: block;
    margin-right: 20px;
  }
}

/* Lines */

.main {
  position: relative;
  overflow: hidden;
}

.lines {
  position: absolute;
  width: 1460px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.5px;
    background-color: rgba(0, 0, 0, .08);
    z-index: 9998;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 25%;
    }

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: 75%;
    }

    &:nth-child(5) {
      left: 100%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .lines {
    display: none;
  }
}

/* Showcase */

.showcase {
  background: url(../images/showcase-bg.jpg);
  background-size: cover;
  margin-bottom: 70px;

  &-inner {
    padding: 180px 0 50px;
    color: #ffffff;
    position: relative;
    z-index: 3;
  }

  &-title {
    font-weight: bold;
    font-size: 74px;
    max-width: 860px;
    margin-bottom: 42px;
  }

  ul {
    max-width: 660px;
    margin-bottom: 110px;

    li {
      font-size: 24px;
      line-height: 1.6;

      &:before {
        content: '—  ';
        display: inline;
      }
    }
  }

  &-down {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: translateY(3px);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .showcase {
    &-inner {
      padding-top: 100px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .showcase {
    &-inner {
      padding: 40px 0;
    }

    &-title {
      font-size: 45px;
    }

    ul {
      margin-bottom: 30px;

      li {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    margin-bottom: 30px;

    &-inner {
      padding: 30px 0;
    }

    &-title {
      font-size: 24px;
      margin-bottom: 30px;
    }

    ul {
      li {
        font-size: 16px;
      }
    }

    &-down {
      width: 40px;
      height: 40px;

      img {
        max-height: 60%;
      }
    }
  }
}

/* About */

.about {
  padding: 0 0 85px;

  &-inner {
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  &-content {
    width: 510px;
    margin-right: 123px;
    flex-shrink: 0;

    ul {
      margin-bottom: 40px;
    }
  }

  &-img {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url(../images/about-decor.png) no-repeat;
      width: 520px;
      height: 400px;
      left: -40px;
      bottom: -40px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    &-content {
      width: 350px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .about {
    padding: 0 0 40px;

    &-img {
      display: none;
    }

    &-content {
      width: 100%;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .about {
    padding: 0 0 30px;
  }
}

/* Advantages */

.advantages {
  background: #edeff2;
  margin-bottom: 80px;

  &-inner {
    display: flex;
    padding: 60px 0;
  }

  &-item {
    width: 25%;
    padding: 0 30px;
    text-align: center;
  }

  &-icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto 60px;

    img {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -30px;
      left: -30px;
      width: 80px;
      height: 80px;
      background: url(../images/advantages-decor.png) no-repeat;
    }
  }

  &-text {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 1200px) {
  .advantages {
    &-item {
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .advantages {
    margin-bottom: 50px;

    &-text {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .advantages {
    margin-bottom: 30px;

    &-inner {
      display: block;
      padding: 30px 0;
    }

    &-item {
      width: 100%;
      max-width: 350px;
      margin: 0 auto 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-text {
      font-size: 16px;
    }
  }
}

/* News */

.news {
  padding: 0 0 20px;

  &.article-news {
    background: #edeff2;
    padding-top: 64px;

    .news-content {
      background: #edeff2;
    }
  }

  &-inner {
    position: relative;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }

  &-title {
    margin-bottom: 0;
    margin-right: 65px;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    width: calc(33.33% - 27px);
    margin: 0 40px 50px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &-date {
    color: #6b7478;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &-img {
    position: relative;
    display: block;
    margin-right: 80px;

    img {
      position: relative;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -40px;
      top: -40px;
      width: 140px;
      height: 140px;
      background: url(../images/news-decor.png) no-repeat;
    }
  }

  &-content {
    background: #ffffff;
    margin-top: -60px;
    margin-left: 50px;
    padding: 25px 0 0 25px;
    position: relative;
    z-index: 2;
  }

  &-text {
    font-size: 18px;
    margin-bottom: 15px;

    &:hover {
      text-decoration: underline;
      color: $blue;
    }
  }

  &-link {
    font-size: 16px;
    font-weight: bold;
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .news {
    &-text {
      font-size: 14px;
    }

    &-link {
      font-size: 14px;
    }

    &-date {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .news {
    &-item {
      width: calc(50% - 40px);

      &:nth-child(3n) {
        margin-right: 40px;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .news {
    &.article-news {
      padding-top: 30px;
    }

    &-item {
      width: 100%;
      margin-right: 0 !important;
    }

    &-header {
      margin-bottom: 20px;
    }

    &-img {
      &:after {
        display: none;
      }
    }

    &-title {
      margin-right: 35px;
    }
  }
}

/* Projects */

.projects {
  background: #edeff2;
  margin-bottom: 130px;

  &-container {
    display: flex;
    align-items: flex-start;
  }

  &-inner {
    padding: 80px 0;
    position: relative;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &-title {
    margin-bottom: 0;
    margin-right: 65px;
  }

  &-content {
    width: 50%;
    padding-right: 40px;
    flex-shrink: 0;
  }

  &-footer {
    display: flex;
    align-items: center;

    &-content {
      width: 310px;
      margin-right: 60px;
    }

    &-link {
      a {
        width: 80px;
        height: 80px;
        background-color: $grey;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: $blue;
        }
      }
    }
  }

  &-logo {
    margin-bottom: 15px;
  }

  &-img {
    padding-right: 40px;
    padding-top: 40px;
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: "";
      display: block;
      width: 520px;
      height: 400px;
      background: url(../images/about-decor.png);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.slick-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff url(../images/arrows.png);
  text-indent: -9999px;
  border: 0;
  cursor: pointer;

  &.slick-prev {
    background-position: 0 0;
    left: -70px;

    &:hover {
      background-position: 0 100%;
    }
  }

  &.slick-next {
    background-position: 100% 0;
    right: -70px;

    &:hover {
      background-position: 100% 100%;
    }
  }

  &:hover {
    background-color: $blue;
  }
}

@media only screen and (max-width: 1400px) {
  .slick-arrow {
    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
  }

  .projects {
    &-container {
      padding: 0 70px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .projects-img:before {
    display: none;
  }

  .projects-img {
    padding: 0;
  }
}

@media only screen and (max-width: 991px) {
  .projects {
    margin-bottom: 50px;

    &-img {
      display: none;
    }

    &-content {
      width: 100%;
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .projects {
    margin-bottom: 30px;

    &-inner {
      padding: 30px 0;
    }

    &-container {
      padding: 0 50px;
    }
  }

  .slick-arrow {
    width: 30px;
    height: 30px;
    background-size: 60px;
  }
}

/* Info block */

.info-block {
  margin-bottom: 100px;

  &-inner {
    background: url(../images/info-block-bg.jpg) no-repeat 50%;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    padding: 40px 50px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 320px;
      height: 20px;
      background: url(../images/info-block-decor1.png);
      left: 75px;
      top: 100%;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 540px;
      height: 40px;
      background: url(../images/info-block-decor2.png);
      right: 75px;
      bottom: 100%;
    }
  }

  &-text {
    width: 50%;
    margin-right: 10px;
    color: #ffffff;

    h3 {
      font-size: 54px;
      font-weight: bold;
      margin-bottom: 18px;
    }
  }

  &-links {
    margin-top: 15px;

    a {
      border: 3px solid $grey;

      &:first-child {
        margin-right: 53px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .info-block-links a:first-child {
    margin-right: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .info-block {
    margin-bottom: 50px;

    &-inner {
      display: block;
    }

    &-text {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .info-block {
    &-inner {
      padding: 20px;

      &:after,
      &:before {
        display: none;
      }
    }

    &-text {
      h3 {
        font-size: 24px;
      }
    }

    &-links {
      a {
        margin-bottom: 10px;
      }
    }
  }
}

/* Footer */

.footer {
  background: #4e565a;
  color: #ffffff;

  &-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0 40px;
    position: relative;
  }

  &-content {
    display: flex;
    align-items: flex-start;
  }

  &-nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 413px;
      max-width: 100%;

      li {
        margin-bottom: 20px;
        width: 50%;

        a {
          font-size: 18px;
          font-weight: bold;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  &-contacts {
    max-width: 250px;

    &-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;

      &:hover {
        color: $blue;
      }
    }

    &-email {
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        color: $blue;
      }
    }
  }

  &-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #c2c7ce;
    padding-bottom: 20px;
    font-size: 14px;

    a {
      &:hover {
        color: $blue;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    &-nav ul {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    &-nav {
      ul {
        display: block;
        width: auto;
        margin-right: 50px;

        li {
          margin-right: 0;
          width: 100%;
        }
      }
    }

    &-logo {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    &-inner {
      padding: 30px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-logo {
      margin-bottom: 30px;
    }

    &-info {
      display: block;
      text-align: center;

      .omg {
        margin-top: 10px;
      }
    }
  }
}

/* Breadcrumbs */

.breadcrumbs {
  position: relative;
  padding: 33px 0 15px;

  ul {
    li {
      display: inline;
      color: $blue;
      margin-bottom: 10px;

      &:after {
        content: '/';
        display: inline-block;
        margin: 0 5px;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:first-child {
        &:after {
          display: inline;
        }
      }
    }
  }
}

/* About page */

.about {
  &-header {
    position: relative;
    max-width: 900px;
  }
}

/* Docs */

.docs {
  margin-bottom: 80px;

  &-inner {
    position: relative;
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 65px;
  }

  &-items {
    .slick-arrow {
      background-color: #edeff2;

      &:hover {
        background-color: $blue;
      }
    }
  }

  &-item {
    padding: 0 10px;
  }

  &-content {
    max-width: 220px;
    margin: 0 auto;
    position: relative;

    &:hover .hover {
      opacity: 1;
      visibility: visible;
    }

    .hover {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 149, 210, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
      line-height: 1.5;
      transition: 300ms;
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .docs {
    &-items {
      padding: 0 70px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .docs {
    margin-bottom: 30px;

    &-title {
      margin-bottom: 30px;
    }

    &-items {
      padding: 0 50px;
    }
  }
}

/* Partners */

.partners {
  background: #edeff2;
  padding: 80px 0 90px;

  &-title {
    margin-bottom: 55px;
    font-size: 24px;
    font-weight: bold;
  }

  &-inner {
    position: relative;
  }

  &-items {
    position: relative;
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    flex-wrap: wrap;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 75px;
      top: -40px;
      height: 80px;
      width: 550px;
      background: url(../images/partners-decor.png);
    }
  }

  &-item {
    width: 20%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    background: #ffffff;
    position: relative;

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .partners {
    padding: 30px 0;

    &-items {
      &:before {
        display: none;
      }
    }

    &-title {
      margin-bottom: 30px;
    }

    &-item {
      width: 33.33%;
    }
  }
}

@media only screen and (max-width: 450px) {
  .partners {
    &-item {
      width: 100%;
    }
  }
}

/* Contacts */

.contacts {
  margin-bottom: 140px;

  &-inner {
    position: relative;
  }

  &-head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &-items {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
  }

  &-item {
    max-width: 280px;
    margin-right: 140px;

    b {
      display: block;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 15px;
    }

    a {
      color: $blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-map {
    position: relative;
    height: 550px;
    padding-right: 40px;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 540px;
      height: 180px;
      background: url(../images/contacts-decor.png);
    }

    &:before {
      right: 0;
      top: -40px;
    }

    &:after {
      left: 75px;
      bottom: -30px;
    }

    iframe {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

@media only screen and (max-width: 991px) {
  .contacts {
    margin-bottom: 50px;

    &-items {
      display: block;
      margin-bottom: 0;
    }

    &-item {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }

    &-map {
      padding-right: 0;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 0;

    &-head {
      font-size: 18px;
    }

    &-map {
      height: 300px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

/* Directions */

.directions {
  &-inner {
    position: relative;
  }

  &-title {
    margin-bottom: 0;
  }

  &-items {
    padding: 0 160px;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #76878f;
    padding: 70px 0 100px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-icon {
    flex-shrink: 0;
    margin-right: 78px;
    width: 160px;
    height: 160px;
    position: relative;
    margin-left: 60px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 160px;
      height: 160px;
      background: url(../images/directions-decor.png);
      left: -60px;
      top: 30px;
    }

    img {
      position: relative;
    }
  }

  &-name {
    margin-bottom: 44px;

    a {
      font-size: 42px;
      font-weight: 400;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .directions {
    &-items {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .directions {
    &-name {
      a {
        font-size: 35px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .directions {
    &-item {
      flex-direction: column;
      align-items: center;
    }

    &-icon {
      margin: 0 0 50px;
    }

    &-content {
      width: 100%;
      text-align: center;
    }

    &-name {
      margin-bottom: 15px;

      a {
        font-size: 24px;
      }
    }

    &-item {
      padding: 30px 0;
    }
  }
}

/* Direction */

.direction {
  &-inner {
    position: relative;
    padding: 0 160px;
  }

  .content {
    margin-bottom: 70px;

    ul {
      margin-bottom: 40px;

      li {
        margin-bottom: 3px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .direction {
    &-inner {
      padding: 0;
    }
  }
}

/* Pagination */

.pagination {
  margin-bottom: 50px;

  ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 10px;
      color: $grey;
      font-size: 16px;
      font-weight: bold;

      &:last-child {
        margin-right: 0;
      }

      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.arrow.disabled {
        color: #cacccd;

        a {
          &:hover {
            color: $blue;
          }
        }
      }

      &:not(.arrow) {
        a {
          border: 1px solid $grey;

          &:hover {
            background: $grey;
            color: #ffffff;
          }
        }
      }

      &.active a {
        background: $grey;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .pagination {
    ul {
      li {
        margin-right: 5px;

        a {
          font-size: 14px;
          width: 27px;
          height: 30px;
        }
      }
    }
  }
}

/* Article */

.article {
  margin-bottom: 70px;

  &-inner {
    position: relative;
    padding: 0 160px;
  }

  &-date {
    font-weight: bold;
    color: #6b7478;
    margin-bottom: 40px;
  }

  .slick-arrow {
    background-color: #edeff2;
    z-index: 999;

    &:hover {
      background-color: $blue;
    }
  }

  .gallery {
    margin-bottom: 25px;
  }

  &-link {
    font-weight: bold;
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .article {
    &-inner {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .article {
    margin-bottom: 30px;
  }
}

/* Tender */

.tender {
  margin-bottom: 75px;
  position: relative;
  line-height: 1.4;

  &-inner {
    max-width: 940px;
    margin: 0 auto;
  }

  &-container {
    border: 1px solid #d1d1d1;
    margin-bottom: 40px;
  }

  &-body {
    padding: 40px 70px;
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &-info {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;

    li {
      display: flex;
      margin-bottom: 27px;

      span {
        &:first-child {
          width: 39%;
          flex-shrink: 0;
          font-weight: bold;
          padding-right: 10px;
          display: block;
        }

        a {
          color: $blue;
          font-weight: normal;
        }
      }
    }
  }

  &-footer-info {
    li {
      display: flex;
      margin-bottom: 27px;

      &:first-child {
        span {
          font-weight: bold;
        }
      }

      span {
        &:first-child {
          width: 39%;
          flex-shrink: 0;
          padding-right: 10px;
        }

        a {
          color: $blue;
          font-weight: normal;
        }
      }
    }
  }

  &-footer {
    padding: 40px 70px;
    background: #edeff2;
    display: flex;
    border-top: 1px solid #d1d1d1;
  }

  &-link {
    width: 39%;
    flex-shrink: 0;
  }

  &-description {
    a {
      color: $blue;
    }
  }

  &-back {
    color: $blue;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 73px;

    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}

@media only screen and (max-width: 991px) {
  .tender {

    &-footer,
    &-body {
      padding: 20px 30px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .tender {

    &-footer,
    &-body {
      padding: 15px 20px;
      font-size: 14px;
    }

    &-footer {
      display: block;
    }

    &-link {
      margin-bottom: 15px;
    }

    &-back {
      margin-left: 0;
    }

    &-info,
    &-footer-info {
      li {
        padding-right: 10px;

        span:first-child {
          width: 43%;
        }
      }
    }
  }
}

/* Tenders */

.tenders {
  margin-bottom: 85px;

  &-inner {
    position: relative;
  }

  &-title {
    margin-bottom: 50px;
  }

  &-items {
    max-width: 940px;
    margin: 0 auto 56px;
  }

  &-item {
    position: relative;
    border: 1px solid #d1d1d1;
    border-top: none;
    padding: 40px 70px;

    &:hover:before {
      opacity: 1;
      visibility: visible;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      right: -1px;
      border: 1px solid $blue;
      opacity: 0;
      transition: 300ms;
      background-color: #edeff2;
      visibility: hidden;
    }

    &:first-child {
      border-top: 1px solid #d1d1d1;
    }
  }

  &-content {
    position: relative;
    z-index: 3;
    line-height: 1.4;
  }

  &-number {
    margin-bottom: 12px;
  }

  &-name {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;

    &:hover {
      color: $blue;
    }
  }

  &-info {
    display: flex;

    span {
      font-weight: bold;
      margin-bottom: 15px;
    }

    &-item {
      width: 50%;
      padding-right: 15px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .tenders {
    &-item {
      padding: 20px 30px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .tenders {
    &-item {
      padding: 15px 20px;
    }

    &-name {
      font-size: 21px;
    }

    &-info {
      display: block;

      &-item {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 0;
      }
    }

    &-title {
      margin-bottom: 25px;
    }
  }
}