@font-face {
	font-family: 'PF';
	src: url('../fonts/PFBeauSansPro-Bold.eot');
	src: url('../fonts/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFBeauSansPro-Bold.woff') format('woff'),
		url('../fonts/PFBeauSansPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PF';
	src: url('../fonts/PFBeauSansPro-Regular.eot');
	src: url('../fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFBeauSansPro-Regular.woff') format('woff'),
		url('../fonts/PFBeauSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('../fonts/DINCondensedC.eot');
	src: url('../fonts/DINCondensedC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINCondensedC.woff') format('woff'),
		url('../fonts/DINCondensedC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
