@media only screen and (min-width : 1360px) {
  .container {
    width: 1340px;
  }
}

@media only screen and (max-width : 1359px) {
  .header-logotype {
    width: 243px;
    top: 27px;
  }
  .showcase-text-wrap {
    height: 120px;
    margin: 25% 0 40px;
  }
  .header-mini .header-info {
    margin-left: 3px;
  }
  .carousel--head {
    font-size: 24px;
  }
  .carousel--text {
    font-size: 16px;
    margin-top: 14px;
  }
  .carousel--nav {
    margin-bottom: 10px;
  }
  .carousel-descr {
    padding-top: 12px;
  }
  .carousel-descr--img {
    top: 18px;
  }
  .fitness-item3,
  .fitness-item7{
    width: 260px;
  }
  .footer-info {
    margin-right: 45px;
  }
  .footer-nav-item {
    margin-right: 33px;
  }
  .fitness-page-head-info--text {
    letter-spacing: 1px;
  }
  .fitness-page-header-info-item {
    margin-right: 12px;
  }
}

@media only screen and (max-width : 1200px) {
  .header-logo {
    top: 10px;
    width: 210px;
  }
  .header-nav--link {
    font-size: 16px;
  }
  .header-nav--list {
    margin-right: 15px;
  }
  .header-nav-social {
    margin-left: 120px;
  }
  .header-info {
    margin: 22px 0 0 272px;
  }
  .header-logotype {
    width: 150px;
    top: -6px;
  }
  .showcase--text {
    font-size: 24px;
  }
  .showcase-text-wrap {
    height: 90px;
  }
  .carousel-descr {
    padding-left: 34px;
  }
  .carousel--head {
    height: 70px;
    padding-left: 100px;
    font-size: 20px;
    overflow: hidden;
  }
  .carousel--nav {
    float: right;
    margin-top: 14px;
  }
  .carousel--text {
    margin-bottom: 6px;
    max-height:112px;
    overflow: hidden;
  }
  .carousel-descr {
    padding-top: 9px;
  }
  .carousel--link {
    line-height: 43px;
  }
  .fitness-item7 {
    background-position: center;
  }
  
  .fitness-item {
    width: 175px;
  }
  .fitness-item1 {
    width: 365px;
  }
  .fitness-item2,
  .fitness-item5 {
    left: 382px;
  }
  .fitness-item3,
  .fitness-item6 {
    left: 574px;
  }
  .fitness-item--head {
    font-size: 19px;
  }
  .footer-info-item {
    float: left;
    width: 220px;
    padding-right: 15px;
    margin-top: 0;
  }
  .footer-info {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .footer-main {
    float: left;
    width: 100%;
  }
  .footer-nav {
    padding-right: 0;
  }
  .footer-nav-item {
    margin-right: 52px;
  }
  .header-mini .header-logo {
    top: -4px;
    width: 100px;
  }
  .header-mini .header-nav {
    padding-left: 7px;
    margin-right: 20px;
    margin-top: 7px;
  }
  .header-mini .header-logotype {
    width: 157px;
    top: -6px;
  } 
  .active-item--head {
    font-size: 27px;
  }
  .bike-content {
    padding-left: 0;
    padding-right: 0;
  }
  .fees-header-container {
    padding: 60px 70px 45px;
  }
  .fees-item--text {
    font-size: 16px;
  }
  .feedback-form--head {
    padding: 0;
  }
  .fitness-page-head-info--text {
    font-size: 18px;
  }
  .fitness-inner-content-block {
    padding-right: 182px;
  }
  .fitness-sidebar--head {
    font-size: 17px;
  }
  .fitness-sidebar--small-text,
  .fitness-sidebar--large-text {
    letter-spacing: 1px;
  }
  .fitness-sidebar-tel {
    letter-spacing: 0;
  }
  .fitness-sidebar-banner {
    padding: 85px 0 30px;
  }
  .fitness-sidebar-tel {
    margin-top: 60px;
  }
  .fitness-sidebar-feedback--video {
    height: 152px;
  }
  .fitness-sidebar-feedback--name,
  .fitness-sidebar-feedback--prof {
    margin-left: 13px;
  }
  .another-services-item--head {
    margin-top: 67px;
  }
  .fitness-inner2-text-block-item {
    padding-left: 0;
    padding-right: 10px;
  }
  .fitness-inner2-text-block-item--head {
    font-size: 16px;
  }
  .sport-complex-warp_svk .carousel--head {
    padding-left: 0;
  }
}

@media only screen and (max-width : 991px) {
  .header-logo--img,
  .header-social{
    display: none;
  }
  .header-logo--img-min {
    display: block;
  }
  .header-logo {
    top: -3px;
    width: 110px;
  }   
  .header-nav-social {
    margin-left: 133px;
  }
  .header-address,
  .header-links {
    float: left;
  }
  .header-info {
    margin-left: 117px;
  }
  .showcase--text {
    font-size: 21px;
  }
  .showcase-text-wrap {
    height: 80px;
    margin: 20% 0 20px;
  }
  .showcase--link {
    width: 140px;
    line-height: 40px;
  }
  .carousel--img {
    width: 100%;
    height: 416px;
  }
  .carousel--arrow {
    top: 30%;
  }
  .carousel-descr {
    width: 100%;
    padding-bottom: 15px;
  }
  .carousel--next {
    left: auto;
    right: 0;
  }
  .fitness-item {
    width: 146.6px;
    height: 185px;
  }
  .fitness-item1 {
    width: 233px;
    height: 385px;
    padding-top: 135px;
  }
  .fitness-item5,
  .fitness-item6,
  .fitness-item7 {
    top: 200px;
  }
  .fitness-item2, .fitness-item5 {
    left: 249px;
  }
  .fitness-item3, .fitness-item6 {
    left: 411px;
  }
  .fitness-item--head {
    font-size: 16px;
    margin-top: 50px;
  }
  .fitness-item--link {
    padding: 0 18px;
  }
  .fitness-items {
    height: 385px;
  }
  .leisure--text {
    font-size: 16px;
  }
  .leisure-item {
    padding: 25px 0;
  }
  .news-item {
    width: 48%;
    margin-bottom: 2%;
  }
  .footer-info-item {
    width: 25%;
  }
  .footer-info--link {
    font-size: 18px;
  }
  .footer-nav-item {
    margin-bottom: 30px;
    width: 33%;
    margin-right: 0;
  }
  .footer-info {
    margin-left: 0;
  }
  .head {
    font-size: 28px;
  }
  .carousel--text {
    margin: 20px 0 15px;
  }
  .active-content {
    width: 100%;
  }
  .active-item {
    width: 48%;
  }
  .fees-header-container {
    padding: 40px 10px;
    width: 80%;
  }
  .feedback-item-video {
    height: 220px;
  }
  .feedback-form--head {
    font-size: 16px;
  }
  .feedback-form--textarea, .feedback-form-inputs input {
    font-size: 16px;
    padding-left: 10px;
  }
  .hepling-champion-cont {
    width: 80%;
    padding: 25px;
  }
  .news-inner-header--text {
    font-size: 32px;
  }
  .fitness-page-header-info-item {
    margin: 5px 10px!important;
  }
  .fitness-advan-item--text {
    font-size: 16px;
  }
  .fitness-sidebar {
    width: 35%;
  }
  .fitness-inner-content {
    width: 65%;
  }
  .fitness-inner-content-block {
    padding: 20px 40px 30px 20px;
    background-position: right;
  }
  .fitness-inner-text-block-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .fitness-inner-trainer {
    width: 100%;
  }
  .another-services-item {
    padding-bottom: 25px;
  }
  .another-services-item--head {
    margin-top: 57px;
  }
  .fitness-inner2-text-block-items {
    padding-left: 25px;
    padding-right: 25px;
  }
  .fitness-inner2-text-block-item {
    width: 100%;
  }
  .fitness-inner-content-block_vibro .fitness-inner-content-block--head {
    font-size: 44px;
  }
  .sport-complex-warp_svk .carousel-descr {
    padding-left: 34px;
  }
  .about-caption {
    max-width: 95%;
  }
  .about-gallery {
    padding: 0;
  }
}

@media only screen and (max-width : 767px) {
  .header-address,
  .header-links--email {
    display: none;
  }
  
  .lines-wrap {
    display: none;
  }
  
  .header-drop {
    z-index: 9999;
    width: 30px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -15px;
    cursor: pointer;
    display: block;
  }
  .leisure--caption,
  .fitness--caption{
    font-size: 14px;
    padding: 0 10px;
  }
  
  .header-drop span {
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    background: #009ee3;
    display: block;
  }
  .header-nav {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    background: #009ee3;
    z-index: 9999;
    padding: 10px;
    display: none;
  }
  .header-nav--list {
    display: block;
    float: none;
    margin: 0;
    text-align: center;
  }
  .header-nav--link:hover {
    background: #fff;
    color: #009ee3;
  }
  .header-nav--link {
    color: #fff;
    padding: 10px 0;
    width: 100%;
  }
  .showcase {
    z-index: 5;
  }
  .header-info {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 40px;
  }
  .header-links {
    float: none;
    display: inline-block;
  }
  .showcase-item {
    width: 50%;
    float: none;
    margin: 0 auto 20px;
  }
  .carousel--img{
    height: auto;
  }
  .fitness-items {
    height: auto;
  }
  .fitness-item1 {
    padding-top: 0;
  }
  .fitness-item {
    position: static;
    width: 70%;
    margin: 0 auto 20px;
    height: auto;
    padding: 40px 0;
  }
  .leisure-item {
    width: 33%;
    margin-bottom: 20px;
  }
  .news-item {
    width: 98%;
  }
  .footer-info-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .foorer-social {
    float: left;
    margin-top: 15px;
  }
  .bottom-line-author {
    float: left;
    margin-top: 10px;
  }
  .head:before {
    display: none;
  }
  .header-logotype {
    width: 125px;
    top: -3px;
  }
  .active-item--head {
    font-size: 21px;
    margin: 10px 0;
  }
  .active-item--text {
    font-size: 16px;
  }
  .active-item {
    min-height: 448px;
  }
  .bike-head {
    width: 96%;
    margin: 0 auto;
  }
  .bike--head {
    font-size: 26px;
  }
  .bike--head:before {
    display: none;
  }
  .bread--list {
    margin-bottom: 4px;
  }
  .bike-content--head,
  .bike-content--text,
  .bike-content-item--text,
  .bike-content-maps-item {
    font-size: 16px;
  }
  .fees-header-container--head {
    font-size: 24px;
  }
  .fees-header-container {
    width: 90%;
  }
  .fees-item {
    width: 50%;
  }
  .fees-result--table td:first-child,
  .fees-result--table td:nth-child(2) {
    display: none;
  }
  .fees-result--table td:nth-child(3) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fees-result--table {
    font-size: 16px;
  }
  .fees-result-wrap {
    padding-bottom: 55px;
  }
  .fees-result-table {
    padding: 10px;
  }
  .feedback-item {
    width: 100%;
    margin: 0 0 30px 0!important;
  }
  .feedback-item-video {
    max-width: 385px;
  }
  .feedback-form-wrap {
    padding: 10px;
    width: 100%;
  }
  .feedback-form-inputs {
    width: 100%;
    padding: 0;
  }
  .feedback-form-textarea-wrap {
    width: 100%;
    padding: 0;
    margin-top: 17px;
  }
  .hepling-champion-cont {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hepling-champion-cont--text {
    font-size: 24px;
  }
  .fees-inner--head,
  .fees-inner--text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .fees-inner {
    padding: 0;
  }
  .fees-inner-items {
    margin: 25px 0 15px;
  }
  .fees-inner-item {
    width: 49%;
    margin: 0 2% 2% 0!important;
  }
  .fees-inner-head--head {
    font-size: 37px;
  }
  
 .fees-inner-item:nth-child(2n) {
    margin-right: 0!important;
  }
  .news-item-img {
    display: none;
  }
  .news-wrap_single {
    background-size: cover;
  }
  .news-inner-header--text {
    font-size: 18px;
  }
  .fitness-advan-item {
    width: 100%;
    margin: 0 0 15px;
  }
  .fitness-sidebar {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .fitness-inner-content {
    width: 100%;
    padding-left: 0;
  }
  .fitness-sidebar-banner {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .fitness-sidebar-feedback {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .fitness-sidebar-nav {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .fitness-inner-trainer {
    max-widtH: 380px;
    float: left;
  }
  .another-services-item {
    width: 100%;
    margin: 0 0 20px!important;
  }
  .another-services-items {
    width: 280px;
    margin: 30px auto 0;
  }
  .another-services-item--head {
    margin-top: 90px;
  }
  .another-services-item--img {
    height: auto;
  }
  .fitness-inner-content-block_vibro .fitness-inner-content-block--text {
    font-size: 16px;
  }
  .fitness-inner-content-block_vibro .fitness-inner-content-block--head {
    font-size: 39px;
  }
  .fitness-page-header--head {
    letter-spacing: 2px;
  }
  .header-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  body {
    padding-top: 117px!important;
  }
}
@media only screen and (max-width : 426px) {
  .showcase-item {
    width: 90%;
  }
  .header-logotype {
    width: 115px;
    top: -1px;
  }
  .carousel--arrow {
    top: 18%;
  }
  .fitness-item {
    width: 90%;
  }
  .leisure-item {
    width: 50%;
  }
  .leisure-items {
    background: #009ee3;
  }
  .footer-nav-item {
    width: 100%;
  }
  .footer-search--input {
    width: 180px;
  }
  .bottom-line-author--text {
    margin-right: 28px;
  }
  .active-item {
    width: 98%;
    min-height: auto;
    margin-bottom: 40px;
  }
  .active-item-img img {
    width: 100%;
  }
  .bike-content-maps-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .bike-content {
    padding: 25px 0;
  }
  .bike-content-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .bike-content--text {
    margin-bottom: 25px;
  }
  .bike-content-items {
    margin-bottom: 25px;
  }
  .fees-header-container--text {
    font-size: 16px;
  }
  .fees-item {
    width: 100%;
  }
  .fitness-page-head-info--text {
    font-size: 15px;
  }
  .fitness-sidebar-nav,
  .fitness-sidebar-banner,
  .fitness-sidebar-feedback {
    width: 100%;  
  }
  .fitness-inner-content-block--head {
    font-size: 35px;
    letter-spacing: 4px;
  }
  .fitness-inner-text-block {
    padding: 20px;
  }
}
