* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
body {
  font-family: 'PF', sans-serif;
  font-size: 14px;
  background: #ffffff;
}

a {
  font-family: 'PF', sans-serif;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: inline-block;
  font-size: 14px;
}

*:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Standart */

/* Start */

.head-wrap {
  text-align: center;
}

.head {
  font: 400 44px 'DIN';
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #009ee3;
  z-index: 100;
  letter-spacing: 3px;
}

.head_white:before {
  content: '';
  display: block;
  width: 65px;
  height: 44px;
  background: url(../images/white-wave.png) no-repeat;
  position: absolute;
  top: -19px;
  left: -44px;
  z-index: -1;
}

.head_blue:before {
  content: '';
  display: block;
  width: 65px;
  height: 44px;
  background: url(../images/blue-wave.png) no-repeat;
  position: absolute;
  top: -19px;
  left: -44px;
  z-index: -1;
}

/* Header */

.header-wrap {
  padding: 22px 0;
  background: #fff;
}

.header-drop {
  display: none;
}

.header {
  position: relative;
  z-index: 6;
}

.header-logo {
  position: absolute;
  top: -3px;
  left: 0;
}

.header-nav {
  margin: 5px 45px 0 0;
  float: left;
  position: relative;
  z-index: 100;
}

.header-nav-social {
  margin: 0 0 0 150px;
}

.header-nav--list {
  float: left;
  margin-right: 25px;
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.header-nav--list:last-child {
  margin-right: 0;
}

.header-nav--link {
  color: #009ee3;
  font-size: 18px;
  font-weight: bold;
}

.social--link {
  float: left;
  margin-right: 10px;
}

.social--link:hover {
  opacity: .8;
}

.social--link:last-child {
  margin-right: 0;
}

.header-nav--link:hover {
  color: #000;
}

.header-info {
  margin: 38px 0 0 344px;
}

.header-address {
  color: #000;
  float: left;
  margin-right: 55px;
}

.header-address--street {
  font-size: 24px;
  font-weight: 700;
  margin-top: 9px;
}

.header-links {
  float: left;
  max-width: 230px;
}

.header-links--email {
  color: #009ee3;
}

.header-links--email:hover {
  text-decoration: underline;
  color: #009ee3;
}

.header-links--tel {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-top: 9px;
}

.header-links--tel:hover {
  color: #000;
}

.header-logotype {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
}

.header-mini {
  position: fixed;
  top: -71px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header-mini .header-logo--img,
.header-mini .header-links--email,
.header-mini .header-address,
.header-mini .header-social,
.header-logo--img-min{
  display: none;
}

.header-mini .header-logo--img-min {
  display: block;
}

.header-mini .header-logo {
  top: -9px;
}

.header-mini .header-logotype {
  width: 174px;
  top: -8px;
}

.header-mini .header-nav-social {
  float: left;
}

.header-mini .header-nav {
  padding-left: 45px;
}

.header-mini .header-info {
  float: left;
  margin: -6px 0 0 107px;
}

/* Showcase */

.showcase {
  position: relative;
  z-index: 6;
}

.showcase-item {
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
}

.showcase--img {
  width: 100%;
}

.showcase-text-wrap {
  height: 120px;
  margin: 30% 0 45px;
  text-align: center;
}

.showcase-text-wrap:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.showcase--text {
  font:400 30px 'DIN';
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.showcase--link {
  width: 150px;
  line-height: 45px;
  border: 2px solid #fff;
  text-align: center;
  font-weight: 700;
  border-radius: 75px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
}

.showcase--link:hover {
  color: #009fe3;
  background: #fff;
}

.showcase-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 100%;
  display: block;
}

.showcase--blue-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #04a0e3;
  opacity: 0;
  z-index: 2;
}

.showcase-content:hover + div {
  opacity: 0.7;
}

/* Sport fees */

.sport-fees-wrap {
  padding: 45px 0 37px;
  background: url(../images/main.png) repeat;
}

.carousel {
  position: relative;
  z-index: 6;
}

.carousel--arrow {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  z-index: 999;
  background: url(../images/carousel-arrow.png) no-repeat left;
}

.carousel--next {
  background-position: right;
  left: 50%;
  margin-left: -40px;
}

.carousel_sport-fees {
  margin-top: 25px;
}

.carousels-item {
  background: #fff;
  position: relative;
}

.carousel--img {
  float: left;
  width: 50%;
}

.carousel-descr {
  float: left;
  width: 50%;
  padding: 40px 25px 0 155px;
  position: relative;
  color: #000;
}

.carousel-descr--img {
  position: absolute;
  top: 35px;
  left: 44px;
}

.carousel--head {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #000;
  display: block;
}

.carousel--text {
  font-size: 18px;
  line-height: 28px;
  margin: 28px 0 15px;
}

.carousel--link {
  color: #009ee3;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  padding: 0 19px;
  border: 2px solid #009ee3;
  border-radius: 40px;
}

.carousel--link:hover {
  background: #009ee3;
  color: #fff;
}

.carousel--nav {
  text-align: center;
  color: #009ee3;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}

.carousel-nav--prev,
.carousel-nav--next {
  cursor: pointer;
}

.carousel-nav--prev:hover,
.carousel-nav--next:hover {
  color: #000;
}

/* Fitness */

.fitness-wrap {
  margin: 53px 0 30px;
}

.fitness--caption {
  color: #010101;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0 0;
  text-align: center;
  position: relative;
  z-index: 6;
}

.fitness-items {
  text-align: center;
  position: relative;
  height: 565px;
  margin-top: 20px;
}

.fitness-item {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
}

.fitness-item1 {
  width: 430px;
  height: 565px;
  background: url(../images/fitness1.jpg) no-repeat;
  background-size: cover;
  padding-top: 165px;
}

.fitness-item2 {
  width: 202px;
  height: 275px;
  background: url(../images/fitness2.jpg) no-repeat;
  background-size: cover;
  left: 446px;
}

.fitness-item3 {
  background: url(../images/fitness3.jpg) no-repeat;
  background-size: cover;
  width: 430px;
  height: 275px;
  left: 664px;
}

.fitness-item4 {
  background: url(../images/fitness4.jpg) no-repeat;
  background-size: cover;
  width: 202px;
  height: 275px;
  right: 0;
  left: auto;
}

.fitness-item5 {
  background: url(../images/fitness5.jpg) no-repeat;
  background-size: cover;
  width: 202px;
  height: 275px;
  left: 446px;
  top: 290px;
}

.fitness-item6 {
  background: url(../images/fitness6.jpg) no-repeat;
  background-size: cover;
  top: 290px;
  width: 202px;
  height: 275px;
  left: 664px;
}

.fitness-item7 {
  background: url(../images/fitness7.jpg) no-repeat;
  background-size: cover;
  top: 290px;
  width: 430px;
  height: 275px;
  right: 0;
  left: auto;
}

.fitness-item--head {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 95px 0 25px;
  line-height: 1.3;
  display: block;
}

.fitness-item--link {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100px;
  line-height: 40px;
  padding: 0 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.fitness-item--link:hover {
  background: #fff;
  color: #000;
}

.fitness--link {
  margin-top: 27px;
  color: #009ee3;
  border: 2px solid #009ee3;
  border-radius: 100px;
  line-height: 40px;
  padding: 0 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.fitness--link:hover {
  background: #009ee3;
  color: #fff;
}

.fitness-link {
  text-align: center;
}

/* Sport complex */

.sport-complex-warp {
  padding: 46px 0 38px;
  background: url(../images/main.png) repeat;
}

.sport-complex-head-wrap {
  margin-bottom: 26px;
}

/* Leisure */

.leisure-wrap {
  padding-top: 70px;
}

.leisure-head-wrap {
  margin-bottom: 30px;
}

.leisure--caption {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  position: relative;
  z-index: 6;
}

.leisure-items {
  background: url(../images/liesure-wrap.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 6;
}

.leisure-item {
  float: left;
  width: 16.6%;
  text-align: center;
  padding: 44px 0 31px;
}

.leisure-item:hover {
  background: rgba(254,207,0,.8);
}

.leisure-item:hover .leisure-img {
  background-position: right;
}

.leisure-item:hover .leisure--text {
  color: #000;
}

.leisure-img {
  width: 80px;
  height: 81px;
  display: inline-block;
  margin-bottom: 28px;
  -webkit-transition: .0s;
  transition: .0s;
}

.leisure--text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  display: block;
  -webkit-transition: .0s;
  transition: .0s;
}

.leisure-img1 {
  background: url(../images/liesure1.png) no-repeat left;
}

.leisure-img2 {
  background: url(../images/liesure2.png) no-repeat left;
}

.leisure-img3 {
  background: url(../images/liesure3.png) no-repeat left;
}

.leisure-img4 {
  background: url(../images/liesure4.png) no-repeat left;
}

.leisure-img5 {
  background: url(../images/liesure1.png) no-repeat left;
}

.leisure-img6 {
  background: url(../images/liesure2.png) no-repeat left;
}

/* News */

.news-wrap {
  padding: 52px 0 22px;
  background: url(../images/main.png) repeat;
}

.news-items {
  margin: 25px 0;
}

.news-item {
  width: 23%;
  margin: 0 1%;
  float: left;
  background: #fff;
  padding: 18px;
  position: relative;
  z-index: 6;
}

.news-item--date {
  font-size: 24px;
  font-family: 'DIN';
  color: #939598;
  text-transform: uppercase;
}

.news-item--head {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin: 17px 0;
  display: block;
  -webkit-transition: .0s;
  transition: .0s;
}

.news-item--head:hover {
  text-decoration: underline;
}

.news-item--link {
  margin-top: 17px;
  color: #009ee3;
  font-weight: 700;
  text-transform: uppercase;
}

.news-item--link:hover {
  color: #009ee3;
  text-decoration: underline;
}

.news-link {
  text-align: center;
}

.news--link {
  line-height: 41px;
  padding: 0 17px;
  border-radius: 50px;
  border: 2px solid #009ee3;
  text-transform: uppercase;
  color: #009ee3;
  font-weight: bold;
}

.news--link:hover {
  background: #009ee3;
  color: #fff;
}

/* Footer */

.footer-wrap {
  background: #085577;
  padding-top: 35px;
  color: #fff;
  position: relative;
  z-index: 6;
}

.footer-info {
  float: left;
  margin: 0 70px 0 15px;
  max-width: 220px;
}

.footer-info--link {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  display: block;
}

.footer-info--link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-info--text {
  line-height: 1.3;
}

.footer-info-item:first-child {
  margin-top: 0;
}

.footer-info-item {
  margin-top: 8px;
}

.footer-nav-item {
  float: left;
  margin-right: 56px;
}

.footer-nav {
  padding-right: 30px;
}

.footer-nav-item:last-child {
  margin-right: 0;
}

.footer-nav--head {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.footer-nav--head:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-nav--link {
  margin-top: 19px;
  color: #fff;
}

.footer-nav--link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-search-social {
  margin-top: 30px;
}

.footer-search {
  float: left;
}

.footer-search--input {
  width: 250px;
  height: 30px;
  background-color: #fff;
  padding: 0 10px;
  color: #000;
}

.footer-search--submit {
  width: 90px;
  height: 30px;
  background-color: #009ee3;
  border: none;
  margin-left: 4px;
  font-weight: 700;
}

.footer-search--submit:hover {
  background: #0392d0;
}

.footer-main {
  float: right;
}

.foorer-social {
  float: right;
  margin-right: 25px;
}

.bottom-line {
  margin-top: 25px;
  border-top: 1px solid #009ee3;
  padding: 9px 0;
  color: #009ee3;
}

.bottom-line--text {
  float: left;
  margin-top: 8px;
}

.bottom-line-author {
  float: right;
  margin-right: 25px;
}

.bottom-line-author--text {
  margin: 8px 44px 0 0;
  display: inline-block;
  vertical-align: top;
  color: #009ee3;
}

.bottom-line-author--text:hover {
  text-decoration: underline;
  color: #009ee3;
}

/* Lines */

.lines-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.lines {
  position: relative;
}

.line-item {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 1px;
  background-color: #e6e7e8;
  z-index: 5;
}

.left-line {
  left: -8px;
}

.right-line {
  left: auto;
  right: -8px;
}

.left-center-line {
  left: 33.4%;
}

.right-center-line {
  left: 66.66%;
}

/* Active */

.active-wrap {
  background: url(../images/main.png) repeat;
  padding: 15px 0 45px;
  position: relative;
  z-index: 5;
}

.bread--list {
  display: inline-block;
  margin-right: 7px;
  font-size: 18px;
}

.bread--link {
  color: #009ee3;
  text-decoration: underline;
  font-size: 18px;
}

.bread--link:hover {
  color: #009ee3;
  text-decoration: none;
}

.active--head {
  margin: 45px 0 47px;
}

.active-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-size: 18px;
}

.active-content--head {
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 18px;
}

.active-content--text {
  line-height: 1.4;
}

.active-items-wrap {
  padding: 45px 0;
  position: relative;
  z-index: 5;
}

.active-switchs {
  text-align: center;
  margin-bottom: 36px;
}

.active-switchs-link {
  padding: 13px 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: #009ee3;
  border-radius: 50px;
  font-weight: bold;
}

.active-switchs-link_active {
  background: #009ee3;
  color: #fff;
}

.active-switchs-link_active:hover {
  background: #009ee3;
  color: #fff;
  cursor: default;
}

.active-item {
  width: 23%;
  margin: 0 1% 2%;
  float: left;
  min-height: 538px;
}

.active-item:hover {
  color: #009ee3;
}

.active-item:hover .active-item-blue {
  opacity: 1;
}

.active-item-img {
  position: relative;
}

.active-item-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 158, 227,.8);
  text-align: center;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.active-item-blue--link {
  background-color: #fff;
  border: 2px solid #fff;
  line-height: 45px;
  padding: 0 27px;
  border-radius: 50px;
  color: #009ee3;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 45%;
}

.active-item--head {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: #000;
  margin: 25px 0;
}

.active-item--text {
  font-size: 18px;
  line-height: 1.3;
}

/* Active inner */

.bike-content-wrap {
  position: relative;
  z-index: 5;
}

.bike-wrap {
  padding-top: 15px;
  background: url(../images/bike.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.bread_bike .bread--list {
  color: #fff;
}

.bike-head {
  background: url(../images/bike-head.png) no-repeat center;
  background-size: contain;
  text-align: center;
  width: 80%;
  margin: 75px auto;
}

.bike--head {
  position: relative;
  font-size: 44px;
  font-family: 'DIN';
  text-transform: uppercase;
  color: #fff;
  margin: 120px 0;
  display: inline-block;
}

.bike--head:before {
  z-index: 2;
  opacity: .3;
}

.bike-content {
  padding: 40px 10% 70px;
  text-align: center;
}

.bike-content--head {
  color: #009ee3;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
}

.bike-content--text {
  color: #000;
  line-height: 1.4;
  margin: 15px 0 75px;
  font-size: 18px;
}

.bike-content-item {
  float: left;
  width: 33.3%;
}

.bike-content-item--text {
  margin-top: 19px;
  color: #009ee3;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
}

.bike-content-items {
  margin-bottom: 65px;
}

.bike-content-maps--head {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;
  color: #000;
}

.bike-content-maps-items {
  margin: 55px 0 0;
}

.bike-content-maps-item {
  float: left;
  width: 33.3%;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.bike-content-maps-item--head {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.bike-content-maps-item--text {
  font-weight: 400;
}

.leisure-wrap_active-inner {
  background: url(../images/main.png) repeat;
  background-size: cover;
}

/* Fees */

.fees-header-wrap {
  padding-top: 15px;
  background: url(../images/fees-header.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.fees-header .bread--list {
  color: #fff;
}

.fees-header-container {
  margin: 75px auto;
  width: 70%;
  border: 2px solid #fff;
  text-align: center;
  padding: 60px 150px 45px;
  color: #fff;
}

.fees-header-container--head {
  font-size: 44px;
  font-weight: normal;
  font-family: 'DIN';
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.4;
}

.fees-header-container--text {
  font-size: 18px;
  margin-top: 10px;
}

.bike-content-items_fees {
  text-align: center;
  margin: 60px 0 65px;
}

.fees-items-wrap {
  position: relative;
  z-index: 5;
  padding: 53px 0 15px;
}

.fees-items {
  margin-top: 25px;
}

.fees-item {
  padding: 30px 0 27px;
  float: left;
  width: 16.6%;
  text-align: center;
}

.fees-item:hover {
  background: #009ee3;
}

.fees-item:hover .fees-item--text {
  color: #fff;
}

.fees-item:hover .fees-item-img {
  background-position: center bottom;
}

.fees-item-img {
  width: 100%;
  height: 80px;
}

.fees-item-img1 {
  background: url(../images/fees-item1.png) center top no-repeat;
}

.fees-item-img2 {
  background: url(../images/fees-item2.png) center top no-repeat;
}

.fees-item-img3 {
  background: url(../images/fees-item3.png) center top no-repeat;
}

.fees-item-img4 {
  background: url(../images/fees-item4.png) center top no-repeat;
}

.fees-item-img5 {
  background: url(../images/fees-item5.png) center top no-repeat;
}

.fees-item-img6 {
  background: url(../images/fees-item6.png) center top no-repeat;
}

.fees-item--text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  color: #000;
  min-height: 36px;
}

.fees-result-wrap {
  padding: 57px 0 110px;
  background: url(../images/main.png) repeat;
  z-index: 5;
  position: relative;
}

.fees-result-table {
  background: #fff;
  padding: 20px;
  width: 100%;
  margin-top: 27px;
}

.fees-result--table {
  border-collapse: collapse;
  width: 100%;
  color: #000;
  font-size: 18px;
}

.fees-result--table thead {
  font-weight: bold;
  border-top: 1px solid #b7b7b7;
}

.fees-result--table td:first-child {
  padding-left: 33px;
  width: 10%;
}

.fees-result--table td:nth-child(2) {
  width: 10%;
}

.fees-result--table tr {
  border-bottom: 1px solid #b7b7b7;
}

.fees-result--table tbody tr:nth-child(2n - 1) {
  background: #f1f2f2;
}

.fees-result--table td {
  padding: 18px 0;
}

.feedback-wrap {
  padding: 58px 0;
  position: relative;
  z-index: 5;
}

.feedback--caption {
  font-size: 18px;
  color: #000;
  line-height: 1.4;
  margin-top: 10px;
}

.feedback-items {
  margin: 21px 0 32px;
}

.feedback-item {
  float: left;
  width: 45%;
  margin-right: 5%;
  color: #000;
}

.feedback-item-video {
  height: 315px;
}

.feedback-item:last-child {
  margin-right: 0;
  margin-left: 5%;
}

.feedback-item--head {
  font-size: 24px;
  font-weight: 700;
  margin: 19px 0 7px;
}

.feedback-link-wrap {
  margin-bottom: 47px;
  text-align: center;
}

.feedback-item--text {
  font-size: 18px;
}

.feedback--link {
  border: 2px solid #009ee3;
  line-height: 45px;
  padding: 0 22px;
  text-transform: uppercase;
  border-radius: 50px;
  text-transform: uppercase;
  color: #009ee3;
  font-weight: bold;
}

.feedback--link:hover {
  background: #009ee3;
  color: #fff;
}

.feedback-form-wrap {
  background: #009ee3;
  width: 70%;
  margin: 0 auto;
  padding: 25px 38px;
  text-align: center;
}

.feedback-form--head {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 1.4;
  padding: 0 55px;
  margin-bottom: 22px;
}

.feedback-form-inputs {
  width: 50%;
  padding-right: 15px;
  margin: 0 -.25em;
  display: inline-block;
  vertical-align: top;
}

.feedback-form-textarea-wrap {
  width: 50%;
  padding-left: 15px;
  margin: 0 -.25em;
  display: inline-block;
  vertical-align: top;
}

.feedback-form--textarea {
  resize: none;
  padding-top: 14px;
  height: 117px;
  width: 100%;
  padding-bottom: 15px;
  line-height: 1.3;
}

.feedback-form--textarea,
.feedback-form-inputs input {
  background: #fff;
  border: none;
  font-size: 18px;
  color: #000;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form-inputs input {
  height: 50px;
  margin-bottom: 17px;
  width: 100%;
}

.feedback-form-inputs input:last-child {
  margin-bottom: 0;
}

.feedback-form-inputs input::-webkit-input-placeholder,
.feedback-form--textarea::-webkit-input-placeholder {
  color: #000;
  font-style: italic;
}
.feedback-form-inputs input:-moz-placeholder,
.feedback-form--textarea:-moz-placeholder {
  color: #000;
  font-style: italic;
}
.feedback-form-inputs input::-moz-placeholder,
.feedback-form--textarea::-moz-placeholder {
  color: #000;
  font-style: italic;
}
.feedback-form-inputs input:-ms-input-placeholder,
.feedback-form--textarea:-ms-input-placeholder{
  color: #000;
  font-style: italic;
}

.feedback-form--submit {
  margin-top: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 16px 60px;
  background: none;
  color: #fff;
}

.feedback-form--submit:hover {
  background: #fff;
  color: #009ee3;
}

.helping-champion {
  background: url(../images/helping.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.hepling-champion-cont {
  margin: 116px auto 92px;
  width: 70%;
  border: 2px solid #fff;
  text-align: center;
  padding: 75px 100px;
  color: #fff;
}

.hepling-champion-cont--text {
  font-family: 'DIN';
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 44px;
}

/* Fees inner */

.fees-inner-header .bread--list {
  color: #fff;
}

.fees-inner-header {
  position: relative;
  z-index: 5;
  padding: 15px 0 0 0;
  background: url(../images/fees-inner-head.jpg) center no-repeat;
  background-size: cover;
}

.fees-inner-head-wrap {
  padding: 65px 0;
  text-align: center;
}

.fees-inner-head--head {
  font-family: 'DIN';
  font-size: 44px;
  text-transform: uppercase;
  line-height: 64px;
  color: #fff;
}

.fees-inner-wrap {
  padding: 60px 0 40px;
  z-index: 5;
  position: relative;
}

.fees-inner {
  padding: 0 10%;
}

.fees-inner--head {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #009ee3;
  line-height: 1.4;
  margin-bottom: 15px;
}

.fees-inner--text {
  font-size: 18px;
  color: #000;
  line-height: 1.3;
  margin-bottom: 15px;
}

.fees-inner-items {
  margin: 45px 0 60px;
}

.fees-inner-item {
  float: left;
  width: 32.6%;
  margin: 0 1% 1% 0;
}

.fees-inner-item:nth-child(3n) {
  margin-right: 0;
}

.fees-inner-item img {
  width: 100%;
}

.news-wrap_single {
  padding-top: 25px;
}

.news-wrap_single .news {
  margin-top: 45px;
}

.news-wrap_single .news-item {
  padding: 0;
  margin-bottom: 2%;
}

.news-wrap_single {
  background: url(../images/main.png) repeat;
}

.news-item-content {
  padding: 12px;
}

.news-item:hover {
  color: #fff;
  background: #009ee3;
}


.news-item:hover .news-item-img-blue-block {
  opacity: 1;
}

.news-nav {
  text-align: center;
  margin-bottom: 25px;
}

.news-nav-ul {
  background-color: #009ee3;
  border-radius: 50px;
  padding: 12px 14px;
  display: inline-block;
}

.news-nav--list {
  display: inline-block;
  margin: 0 5px;
}

.news-nav--link {
  color: #fff;
  font-weight: bold;
}

.news-nav--link:hover {
  color: #000;
}

.news-nav--link_active {
  color: #000;
}

.news-item:hover .news-item--head,
.news-item:hover .news-item--date,
.news-item:hover .news-item--link {
  color: #fff;
}

.news-item--link {
  -webkit-transition: .0s;
  transition: .0s;
}

.news-item-img {
  position: relative;
}

.news-item-img img {
  width: 100%;
}

.news-item-img-blue-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 158, 227,.8);
  opacity: 0;
}

/* News inner */

.news-inner-header-wrap {
  padding-top: 15px;
  background: url(../images/news-inner.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.news-inner-header-wrap .bread--list {
  color: #fff;
}

.news-inner-header {
  margin: 168px 0 95px;
  text-align: center;
}

.news-inner-header--text {
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  font-family: 'DIN';
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: normal;
  letter-spacing: 10px;
}

.news-inner-header--date {
  color: #009ee3;
  font-size: 24px;
  font-family: 'DIN';
}

.fees-inner-wrap_news-inner {
  padding-bottom: 0;
}

/* Fitness page */

.fitness-page-header-wrap {
  padding: 15px 0 30px;
  position: relative;
  z-index: 5;
  background: url(../images/fitness-page-bg.jpg) no-repeat center;
  background-size: cover;
}

.fitness-page-header--head {
  color: #fff;
  letter-spacing: 10px;
  line-height: 1.5;
  margin: 55px 0 28px;
}

.fitness-page-header--head:before {
  margin-top: 4px;
  opacity: .4;
}

.fitness-page-header--caption {
  font-size: 18px;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 63px;
}

.fitness-page-header-info {
  border: 2px solid #fff;
  background-color: rgba(0, 158, 227, 0.3);
  padding: 19px 10px;
}

.fitness-page-header-info-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 34px;
}

.fitness-page-header-info-item:last-child {
  margin-right: 0;
}

.fitness-page-head-info--img {
  display: inline-block;
  vertical-align: middle;
}

.fitness-page-head-info--text {
  display: inline-block;
  vertical-align: middle;
  font-family: 'DIN';
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 13px;
  letter-spacing: 2px;
}

.fitness-advan-wrap {
  position: relative;
  z-index: 5;
  padding: 60px 0 50px;
  text-align: center;
}

.fitness-advan-item {
  float: left;
  width: 33.3%;
}

.fitness-advan-item--head {
  margin: 27px 0 22px;
  text-transform: uppercase;
  font-size: 24px;
  color: #009ee3;
  font-weight: bold;
}

.fitness-advan-item--text {
  color: #000;
  font-size: 18px;
  padding: 0 20px;
  line-height: 1.3;
}

.trainers-wrap {
  padding: 40px 0 35px;
  position: relative;
  z-index: 5;
  background: url(../images/main.png) repeat;
}

.trainers-carousel {
  margin-top: 20px;
  position: relative;
}

.trainers-item {
  margin: 0 15px;
  color: #000;
  background: #fff;
}

.trainers-item--img {
  width: 100%;
}

.trainers-item--name {
  font-size: 18px;
  font-weight: 700;
}

.trainers-item--prof {
  font-weight: 700;
  margin: 8px 0 10px;
}

.trainers-item--text {
  line-height: 1.3;
}

.trainers-item-content {
  padding: 20px 15px;
}

.trainers-carousel .slick-arrow {
  position: absolute;
  left: -15px;
  width: 20px;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  background: url(../images/trainers-arrows.png) no-repeat left;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.trainers-carousel .slick-next {
  background-position: right;
  left: auto;
  right: -15px;
}

.fitness-map {
  position: relative;
  z-index: 5;
}

.fitness-map-img {
  width: 100%;
  height: auto;
}

/* Fitness inner */

.fitness-inner-wrap {
  padding: 15px 0 35px;
  background: url(../images/main.png) repeat;
}

.fitness-inner {
  margin-top: 17px;
  position: relative;
  z-index: 5;
}

.fitness-sidebar {
  float: left;
  width: 25%;
  padding-right: 15px;
}

.fitness-sidebar-nav {
  background-color: #fff;
  border: 3px solid #009ee3;
  padding: 20px 18px 0 18px;
  margin-bottom: 27px;
}

.fitness-sidebar--head {
  text-transform: uppercase;
  color: #009ee3;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 15px;
}

.fitness-sidebar--head:hover {
  color: #000;
}

.fitness-sidebar--link {
  color: #009ee3;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 27px;
  padding-left: 22px;
  position: relative;
}

.fitness-sidebar--link:hover {
  color: #000;
}

.fitness-sidebar--link:before {
  content: '';
  display: block;
  height: 1px;
  width: 13px;
  background-color: #009ee3;
  position: absolute;
  left: 0;
  top: 6px;
}

.fitness-sidebar--head_active,
.fitness-sidebar--link_active {
  color: #000;
}

.fitness-sidebar-banner {
  padding: 165px 0 30px;
  text-align: center;
  color: #fff;
  background: url(../images/fitness-sidebar-banner.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 35px;
}

.fitness-sidebar-banner:hover {
  color: #fff;
}

.fitness-sidebar--small-text {
  font-size: 28px;
  line-height: 1.8;
  font-family: 'DIN';
  text-transform: uppercase;
  letter-spacing: 4px;
}

.fitness-sidebar--large-text {
  font-family: 'DIN';
  text-transform: uppercase;
  font-size: 54px;
  letter-spacing: 4px;
}

.fitness-sidebar-tel {
  margin-top: 90px;
  display: inline-block;
  padding-left: 52px;
  background: url(../images/fitness-banner.png) no-repeat left center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'DIN';
  letter-spacing: 4px;
}

.fitness-sidebar-feedback--video {
  height: 195px;
}

.fitness-sidebar-feedback {
  background: #fff;
  color: #000;
}

.fitness-sidebar-feedback--name {
  font-size: 18px;
  font-weight: 700;
  margin: 17px 10px 12px 20px;
}

.fitness-sidebar-feedback--prof {
  margin: 0 10px 23px 20px;
}

.fitness-sidebar-feedback-link-wrap {
  text-align: center;
}

.fitness-sidebar-feedback--link {
  text-transform: uppercase;
  color: #009ee3;
  border-radius: 50px;
  border: 2px solid #009ee3;
  padding: 13px 19px;
  font-weight: bold;
  margin-bottom: 20px;
}

.fitness-sidebar-feedback--link:hover {
  background: #009ee3;
  color: #fff;
}

.fitness-inner-content {
  float: left;
  width: 75%;
  padding-left: 15px;
}

.fitness-inner-content-block {
  background: url(../images/conent-block.jpg) no-repeat;
  background-size: cover;
  padding: 95px 462px 216px 75px;
  margin-bottom: 27px;
}

.fitness-inner-content-block--head {
  color: #fff;
  text-transform: uppercase;
  font-family: 'DIN';
  font-size: 48px;
  letter-spacing: 10px;
  line-height: 1.4;
}

.fitness-inner-content-block--text {
  color: #009ee3;
  font-size: 24px;
  line-height: 1.3;
  margin-top: 15px;
}

.fitness-inner-text-block {
  background: #fff;
  padding: 30px 25px 30px 30px;
}

.fitness-inner-text-block-content {
  float: left;
  width: 66%;
  padding-right: 35px;
}

.fitness-inner-trainer {
  float: right;
  width: 34%;
}

.fitness-inner-text-block--head {
  color: #009ee3;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.fitness-inner-text-block--text {
  color: #000;
  margin-bottom: 25px;
  line-height: 1.4;
}

.fitness-inner-text-block--tel {
  color: #009ee3;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 7px;
}

.fitness-inner-text-block--small-text {
  color: #009ee3;
  font-weight: bold;
}

.fitness-inner-trainer--img {
  width: 100%;
}

.fitness-inner-trainer-content {
  background-color: #d9f0fc;
  padding: 20px 10px 30px 15px;
  color: #000;
}

.fitness-inner-trainer--head {
  font-size: 18px;
  font-weight: 700;
}

.fitness-inner-trainer--prof {
  font-weight: 700;
  margin: 10px 0 15px;
}

.fitness-inner-trainer--text {
  line-height: 1.4;
}

.fitness-inner-gallery .fees-inner-items {
  margin-top: 35px;
  margin-bottom: 0;
}

.another-services-wrap {
  padding: 50px 0 32px;
  text-align: center;
}

.another-services-items {
  position: relative;
  z-index: 5;
  margin-top: 27px;
}

.another-services-item {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  position: relative;
  overflow: hidden;
  padding-bottom: 65px;
}

.another-services-item:last-child {
  margin-right: 0;
}

.another-services-item--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.another-services-item--head {
  margin: 127px 0 38px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  display: block;
}

.another-services-item--link {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 13px 22px;
}

.another-services-item--link:hover {
  background: #fff;
  color: #000;
}

.fitness-inner-content-block_vibro .fitness-inner-content-block--head {
  color: #009ee3;
}

.fitness-inner-content-block_vibro .fitness-inner-content-block--text {
  color: #fff;
}

.fitness-inner-content-block_vibro {
  padding: 49px 322px 46px 65px;
  background: url(../images/fitness-inner2.jpg) no-repeat right;
  background-size: cover;
}

.fitness-inner2-text-block {
  background: #fff;
  padding: 25px;
}

.fitness-inner2-text-block--head {
  color: #009ee3;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
}

.fitness-inner2-text-block--text {
  color: #000;
  line-height: 1.3;
  margin-bottom: 27px;
}

.fitness-inner2-text-block-items {
  border: 5px solid #009ee3;
  padding: 30px 45px 0px;
}

.fitness-inner2-text-block-item {
  width: 33%;
  float: left;
  padding-left: 20px;
  color: #000;
}

.fitness-inner2-text-block-item--head {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.fitness-inner2-text-block-item--list {
  padding-left: 20px;
  position: relative;
  margin-bottom: 7px;
}

.fitness-inner2-text-block-item--list:before {
  content: '';
  display: block;
  height: 1px;
  width: 15px;
  background: #000;
  position: absolute;
  left: 0;
  top: 6px;
}

.fitness-inner2-text-block-item--head--text,
.fitness-inner2-text-block-item-ul{
  margin-bottom: 27px;
}

.fitness-page-header-wrap_svk {
  background: url(../images/svk.jpg) no-repeat;
  background-size: cover;
}

.sport-complex-warp_svk .carousel-descr {
  padding-left: 85px;
}

.about-gallery {
  padding: 0 10%;
}

.about-wrap {
  padding: 57px 0 37px;
  z-index: 5;
  position: relative;
}

.about-caption {
  max-width: 70%;
  margin: 30px auto 37px;
  color: #000;
  line-height: 1.4;
}

.about-gallery .fees-inner-items {
  margin: 0;
}


.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.header-nav--list:hover ul {
  padding: 0;
  display: block;
}