$gray: #b2b9cd;
$green: #4c8c2b;
$red: #ec3416;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 300 16px 'Littera', sans-serif;
}

a {
  display: inline-block;
  font: 300 16px 'Littera', sans-serif;
  transition: 300ms;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 50px;
  font: 300 16px 'Littera';
  padding: 0 22px;
  border: 1px solid $gray;
  color: #000;
  &::placeholder {
    color: #898989;
  }
  &::-moz-placeholder {
    color: #898989;
  }
}

input.input-error {
  border-color: #a94442;
  &::placeholder {
    color: #a94442;
  }
  &::-ms-placeholder {
    color: #a94442;
  }
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

.star {
  margin: 0 0 21px 3px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    font-size: 10px;
    margin-right: 9px;
    color: #f9d00a;
    cursor: pointer;
    &.disabled {
      color: #c8cddc;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.head {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
  .number {
    color: $green;
  }
}

.link {
  line-height: 38px;
  padding: 0 17px;
  border: 1px solid #4c8c2b;
  color: #4c8c2b;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: #ec3416;
    border: 1px solid #ec3416;
  }
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 10px !important;
  }

  .head {
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: 1px;
  }
}

.checkbox {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  font-size: 12px;
  background-color: #fff;
  position: relative;
  &-wrap {
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    .text {
      margin-left: 16px;
      font-size: 14px;
      color: #fff;
      a {
        font-size: 14px;
        color: #fff;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    color: $green;
    &:before {
      content: "\f00c";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      transition: 300ms;
    }
  }
}

// Slider

.slider {
  &-nav {
    width: 244px;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  &-footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}

.slick {
  &-arrow {
    width: 12px;
    height: 20px;
    background: url(../images/left.png) no-repeat left;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 15;
    cursor: pointer;
    border: none;
    padding: 0;
    &:hover {
      background-position: right;
    }
    &:focus {
      outline: none;
    }
  }
  &-next {
    background-image: url(../images/right.png);
    left: auto;
    right: 0;
  }
  &-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      width: 8px;
      height: 8px;
      background-color: $gray;
      border-radius: 50%;
      cursor: pointer;
      transition: 300ms;
      margin: 0 10px;
      &.slick-active {
        background-color: $green;
      }
      &:hover {
        background-color: $green;
      }
      button {
        display: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .slider {
    width: 940px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .slider {
    width: 620px;
  }
}

@media (max-width: 767px) {
  .slider {
    width: 300px;
    &-nav {
      position: static;
      transform: translate(0);
    }
    &-footer {
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 575px) {
  .slider {
    &-nav {
      margin-bottom: 24px;
    }
    &-footer {
      flex-direction: column;
      align-items: center;
    }
  }
}

// Bread

.bread {
  margin: 19px 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    position: relative;
    color: #898989;
    margin-right: 26px;
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: '>>';
      display: block;
      position: absolute;
      top: 50%;
      right: -18px;
      transform: translateY(-50%);
    }
    a {
      color: $green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 767px) {
  .bread {
    margin: 16px 0;
  }
}

// Main

.main {
  &-container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .main {
    &-container {
      padding-bottom: 36px;
    }
  }
}

@media (max-width: 767px) {
  .main {
    &-container {
      flex-direction: column;
    }
  }
}

@media (max-width: 575px) {
  .main {
    &-container {
      padding-bottom: 28px;
    }
  }
}

// Sidebar

.sidebar {
  flex-shrink: 0;
  width: 270px;
  margin-right: 50px;
}

.sidebar-list {
  margin: 0 0 40px;
  padding: 26px 30px;
  list-style: none;
  border: 1px solid $gray;
  li {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
    &.active a {
      color: #898989;
    }
    a {
      font-weight: 700;
      color: $green;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      &:hover {
        color: #898989;
      }
    }
  }
}

@media (max-width: 991px) {
  .sidebar {
    width: 250px;
    margin-right: 10px;
  }

  .sidebar-list {
    padding: 18px;
    li {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .sidebar-list {
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .sidebar-list {
    padding: 10px;
    li {
      margin-bottom: 8px;
    }
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: $green;
      transition: all .2s ease-in-out;
      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: $green;
        transition: all .2s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
    &.active {
      span {
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }
        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
}

// Top Line

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-wrap {
    position: relative;
    border-bottom: 1px solid $gray;
  }
  &-item {
    display: flex;
    align-items: center;
  }
}

.top-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    border-right: 1px solid $gray;
    &:first-child {
      border-left: 1px solid $gray;
    }
    a {
      padding: 11px 19px;
      font-size: 14px;
      color: #9096a7;
      &:hover {
        color: $green;
      }
    }
  }
}

.top-soc {
  display: flex;
  align-items: center;
  margin-right: 41px;
  &__title {
    font-size: 14px;
    color: #9096a7;
    margin-right: 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 20px;
        color: $gray;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

.login {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    border-right: 1px solid $gray;
    &:first-child {
      border-left: 1px solid $gray;
    }
    a {
      font-size: 14px;
      color: #9096a7;
      padding: 11px 16px;
      &:hover {
        color: $green;
      }
    }
  }
}

@media (max-width: 1336px) {
  .top-nav {
    li {
      a {
        padding: 10px;
      }
    }
  }

  .top-soc {
    margin-right: 16px;
  }

  .login li a {
    padding: 10px;
  }
}

@media (max-width: 991px) {
  .top-burger {
    display: block;
  }

  .top-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 15;
      margin-top: 1px;
    }
    li {
      border: none;
      margin: 4px 0;
      &:first-child {
        border: none;
      }
      a {
        padding: 0;
      }
    }
  }
}

@media(max-width: 575px) {
  .top-soc {
    display: none;
  }
}

// Header

.logo {
  flex-shrink: 0;
  width: 310px;
  text-align: center;
  font: 700 32px/1 'Monotype';
  letter-spacing: 1px;
  color: $green;
  &:hover {
    color: $red;
  }
}

.header {
  padding: 24px 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-body {
    display: flex;
    align-items: center;
    padding-top: 3px;
  }
}

.header-callback {
  width: 240px;
  text-align: center;
  margin: -3px 92px 0 0;
  &__tel {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
  }
  &__link {
    color: $green;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header-favorites {
  width: 243px;
  margin: 0 31px 0 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  li {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: flex;
      align-items: center;
      color: #000;
      &:hover {
        color: $green;
        i {
          color: $green;
        }
      }
      .value {
        color: $green;
        font-weight: 700;
        margin-left: 8px;
      }
      i {
        color: $gray;
        font-size: 13px;
        margin-right: 11px;
        transition: 300ms;
      }
    }
  }
}

.header-cart {
  width: 205px;
  display: flex;
  flex-direction: column;
  &-item {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #898989;
    font-weight: 700;
    letter-spacing: .5px;
    .value {
      color: $green;
      margin-left: 4px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    i {
      position: absolute;
      top: 5px;
      left: -23px;
      font-size: 13px;
      color: $red;
    }
  }
}

@media (max-width: 1336px) {
  .logo {
    width: 280px;
    font-size: 28px;
  }

  .header {
    &-callback {
      width: 218px;
      margin: 0 12px 0 0;
      &__tel {
        font-size: 26px;
      }
      &__link {
        margin-top: 0;
      }
    }
    &-favorites {
      width: 196px;
      li {
        margin-bottom: 4px;
      }
    }
    &-cart {
      font-size: 15px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    &-callback {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &-favorites {
      display: none;
    }
  }
}

@media(max-width: 575px) {
  .logo {
    margin: 0 auto;
  }

  .header {
    &-cart {
      display: none;
    }
  }
}

// Main nav

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
  &-wrap {
    position: relative;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }
  &-body {
    display: flex;
    align-items: center;
  }
}

.m-catalog {
  width: 220px;
  margin-right: 20px;
  &-head {
    display: flex;
    align-items: center;
  }
  &-title {
    font-weight: 700;
    letter-spacing: 1px;
    color: $green;
    text-transform: uppercase;
    cursor: pointer;
    i {
      font-size: 16px;
      margin-right: 15px;
    }
  }
}

.search {
  width: 540px;
  height: 54px;
  position: relative;
  input {
    height: 100%;
    padding: 0 40px 0 26px;
    border: none;
    background-color: #edf3e9;
  }
  button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 14px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}

.custom-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 62px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-weight: 700;
      letter-spacing: 1px;
      color: $green;
      text-transform: uppercase;
      &:hover {
        color: $red;
      }
    }
  }
}

@media (max-width: 1336px) {
  .main-nav {
    padding-right: 0;
  }

  .m-catalog {
    width: 180px;
    margin-right: 10px;
  }

  .search {
    width: 380px;
    height: 50px;
  }

  .custom-nav li {
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .custom-nav-burger {
    display: block;
  }

  .custom-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &.active {
      margin-top: 1px;
      opacity: 1;
      visibility: visible;
      z-index: 15;
    }
    li {
      margin: 4px 0;
    }
  }
}

@media (max-width: 767px) {
  .search {
    width: 310px;
  }
}

@media (max-width: 575px) {
  .main-nav {
    padding: 10px 0;
  }

  .search {
    display: none;
  }
}

// Showcase

.showcase {
  margin: 29px 0 36px;
  &-banners {
    display: flex;
    &-main {
      flex-grow: 10;
    }
    &-items {
      flex-shrink: 0;
      width: 380px;
      margin-left: 20px;
    }
    &-item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .showcase {
    margin: 18px 0 26px;
    &-banners {
      flex-direction: column;
      &-main {
        margin-bottom: 10px;
      }
      &-items {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &-item {
        width: 370px;
        margin: 0 5px 10px 0;
        &:last-child {
          margin: 0 0 10px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .showcase {
    margin-bottom: 18px;
    &-banners {
      &-items {
        justify-content: center;
      }
      &-item {
        margin: 0 5px 10px;
        &:last-child {
          margin: 0 5px 10px;
        }
      }
    }
  }
}

// Advantages

.advantages {
  margin: 20px 0 62px;
  padding: 0 22px;
  &-items {
    display: flex;
    align-items: center;
  }
  &-item {
    width: 200px;
    margin-right: 54px;
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
    &-img {
      flex-shrink: 0;
      width: 60px;
      margin-right: 17px;
    }
    p {
      font-size: 18px;
      line-height: 1.44;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1336px) {
  .advantages {
    padding: 0;
    &-item {
      margin-right: 13px;
      &-img {
        margin-right: 8px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 991px) {
  .advantages {
    margin-bottom: 20px;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
    }
  }
}

@media (max-width: 767px) {
  .advantages {
    margin-top: 16px;
    margin-bottom: 26px;
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      margin: 0 0 18px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

// Recommend

.recommend {
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .recommend {
    margin-bottom: 32px;
  }
}

// New

.new {
  margin: 20px 0 52px;
}

@media (max-width: 767px) {
  .new {
    margin-bottom: 32px;
  }
}

// Products

.products {
  &-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    .link {
      order: 5;
      line-height: 32px;
      margin-top: 12px;
      padding: 0 16px;
    }
  }
}

.products-cost {
  &__actually {
    font-size: 24px;
    font-weight: 700;
    color: $red;
    margin-bottom: 13px;
  }
  &__old {
    font-weight: 700;
    text-decoration: line-through;
    color: #898989;
  }
}

.products-item {
  width: 300px;
  margin: 0 0 30px 20px;
  border: 2px solid $gray;
  transition: 300ms;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border: 2px solid $red;
  }
  &-img {
    height: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    &:hover {
      &:before,
      &:after {
        opacity: 1;
      }
    }
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      opacity: 0;
      transition: 300ms;
    }
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, .5);
    }
    &:after {
      top: 50%;
      left: 50%;
      background: url(../images/zoom.png) no-repeat 50%;
      width: 58px;
      height: 58px;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &-content {
    padding: 0 18px 19px;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    color: #898989;
    margin-bottom: 14px;
  }
  &__link {
    font-size: 14px;
    color: $red;
  }
}

.products-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 8px -20px;
  &.slider {
    margin: 0 auto 32px;
    .products {
      &-links .link {
        order: -1;
        margin-top: 0;
        margin-bottom: 9px;
      }
      &-item {
        margin: 0 10px;
        &__link {
          color: #898989;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .products {
    &-items {
      justify-content: center;
      margin-left: 0;
    }
    &-item {
      margin: 0 10px 20px;
      &:last-child {
        margin: 0 10px 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  .products {
    &-items {
      &.slider {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .products {
    &-item {
      margin: 0 5px 10px;
      &:last-child {
        margin: 0 5px 10px;
      }
    }
  }
}

// Subs

.subs {
  display: flex;
  align-items: flex-start;
  margin: 60px 0 70px;
  &-content {
    flex-grow: 10;
    margin-right: 100px;
    &__title {
      font-size: 34px;
      font-weight: 700;
      line-height: 1.29;
      margin-bottom: 24px;
    }
    p {
      line-height: 1.63;
      margin-bottom: 0;
    }
  }
  &-form {
    flex-shrink: 0;
    width: 380px;
    padding: 28px 30px 36px;
    background-color: $red;
    .checkbox {
      &-wrap {
        margin: 22px 0;
      }
    }
    &__head {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.56;
      letter-spacing: 1.8px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 10px;
      color: #fff;
    }
    button {
      width: 180px;
      height: 40px;
      margin: 0 auto;
      background-color: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 300ms;
      border: none;
      &:hover {
        background-color: #589936;
      }
    }
  }
}

@media (max-width: 1336px) {
  .subs {
    margin: 38px 0;
    &-content {
      margin-right: 20px;
      &__title {
        font-size: 28px;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.4;
      }
    }
  }
}

@media (max-width: 991px) {
  .subs {
    margin-bottom: 30px;
    &-form {
      width: 300px;
      padding: 20px 14px;
      .checkbox {
        margin-top: 2px;
        &-wrap {
          margin: 12px 0;
          align-items: flex-start;
          .text {
            margin-left: 12px;
          }
        }
      }
      &__head {
        line-height: 1.3;
        margin-bottom: 12px;
      }
      &__title {
        margin-bottom: 6px;
      }
      input {
        height: 46px;
        padding: 0 12px;
      }
    }
  }
}

@media (max-width: 767px) {
  .subs {
    margin: 30px 0;
    flex-direction: column;
    &-content {
      margin-right: 0;
      margin-bottom: 20px;
      &__title {
        font-size: 24px;
        line-height: 1;
      }
    }
    &-form {
      width: 100%;
    }
  }
}

// Partners

.partners {
  padding: 55px 0;
  .head {
    margin-bottom: 40px;
  }
  &-wrap {
    background: url(../images/partners-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-items {
    display: flex;
    align-items: center;
    margin-bottom: 47px;
  }
  &-item {
    width: 180px;
    height: 80px;
    border: 1px solid $gray;
    padding: 10px;
    margin: 0 18px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1336px) {
  .partners {
    &-items {
      width: 828px;
      margin: 0 auto 40px;
    }
  }
}

@media (max-width: 991px) {
  .partners {
    padding: 34px 0;
    .head {
      margin-bottom: 22px;
    }
    &-items {
      width: 612px;
    }
  }
}

@media (max-width: 767px) {
  .partners {
    .slider-nav {
      margin: 0 auto;
    }
    &-items {
      width: 396px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 575px) {
  .partners {
    &-items {
      width: 300px;
    }
    &-item {
      width: 142px;
      margin: 0 4px;
    }
  }
}

// Footer

.footer {
  padding: 56px 0 50px;
  display: flex;
  align-items: flex-start;
  &-wrap {
    background-color: $green;
  }
  &-logo {
    flex-shrink: 0;
    width: 202px;
    margin-right: 78px;
    font-family: 'Monotype';
    font-size: 32px;
    line-height: 1.06;
    text-align: center;
    color: #fff;
    &:hover {
      color: $red;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-item {
  width: 218px;
  margin-right: 33px;
  &:last-child {
    margin-right: 0;
  }
  &.footer-info {
    width: 227px;
    text-align: center;
    margin-top: -7px;
  }
  .link {
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 41px;
    &:hover {
      border: 1px solid $red;
    }
  }
  &__tel {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    &:hover {
      color: $red;
    }
  }
  &__link {
    font-size: 14px;
    color: #fff;
    margin-bottom: 33px;
    text-decoration: underline;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.footer-elem {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
    &.footer__title {
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      letter-spacing: 1.5px;
    }
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer-soc {
  &__title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 7px;
      a {
        color: #fff;
        font-size: 23px;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.bottom {
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-copyright {
    font-size: 12px;
    color: #f2f4fa;
  }
  &-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 14px;
      a {
        font-size: 12px;
        color: #f2f4fa;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &-omg {
    font-size: 12px;
    color: #f2f4fa;
    a {
      font-size: 12px;
      color: #f2f4fa;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .footer {
    padding: 36px 0;
    &-logo {
      margin-right: 24px;
    }
    &-item {
      width: 167px;
      margin-right: 14px;
      .link {
        font-size: 14px;
        letter-spacing: 0;
        padding: 0 14px;
        margin-bottom: 24px;
      }
      &.footer-info {
        width: 200px;
        margin-top: 0;
      }
      &__tel {
        font-size: 24px;
      }
      &__link {
        margin-bottom: 24px;
      }
    }
    &-elem {
      li {
        margin-bottom: 10px;
        &.footer__title {
          letter-spacing: .6px;
        }
        a {
          font-size: 15px;
        }
      }
    }
  }

  .bottom {
    &-links li {
      margin: 0 8px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    padding-bottom: 20px;
    &-item {
      width: 50%;
      margin-right: 0;
      margin-bottom: 20px;
      padding-right: 10px;
      .link {
        margin-bottom: 16px;
      }
      &.footer-info {
        width: 50%;
      }
      &__link {
        margin-bottom: 16px;
      }
    }
    &-elem {
      text-align: center;
    }
    &-soc {
      &__title {
        margin-bottom: 6px;
      }
    }
  }

  .bottom {
    flex-direction: column;
    padding-bottom: 16px;
    &-links {
      flex-wrap: wrap;
      margin-bottom: 2px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    &-logo {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    &-item {
      width: 100% !important;
      padding-right: 0;
    }
    &-elem {
      li {
        margin-bottom: 7px;
      }
    }
  }
}

// Blog

.blog {
  .head {
    margin-bottom: 25px;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link {
      padding: 0 26px;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 7px -20px;
  }
  &-item {
    width: 300px;
    margin: 0 0 29px 20px;
    padding: 20px 21px 22px 22px;
    border: 1px solid $gray;
    transition: 300ms;
    &:hover {
      background-color: #fff;
      border: 1px solid $red;
    }
    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.6;
      margin-bottom: 10px;
      color: $green;
      &:hover {
        color: $red;
        text-decoration: underline;
      }
    }
    &__description {
      line-height: 1.65;
      margin-bottom: 14px;
    }
    &__date {
      font-size: 14px;
      font-weight: 700;
      color: #898989;
    }
    &__rubric {
      font-size: 14px;
      font-weight: 700;
      color: #898989;
      text-transform: uppercase;
      text-decoration: underline;
      &:hover {
        color: $red;
        text-decoration: underline;
      }
    }
  }
}

.blog-tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  li {
    margin-right: 23px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      background-color: $gray;
      position: absolute;
      top: 50%;
      right: -11px;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &.active a {
      color: #898989;
    }
    a {
      font-size: 14px;
      font-weight: 700;
      color: $green;
      letter-spacing: 1px;
      text-transform: uppercase;
      &:hover {
        color: #898989;
      }
    }
  }
}

@media (max-width: 1336px) {
  .blog {
    &-items {
      justify-content: center;
      margin-left: 0;
    }
    &-item {
      margin: 0 10px 20px;
    }
  }
}

@media (max-width: 991px) {
  .blog {
    &-item {
      width: 235px;
      padding: 12px;
      margin: 0 5px 10px;
      &__title {
        line-height: 1.25;
        margin-bottom: 4px;
      }
      &__description {
        line-height: 1.4;
        margin-bottom: 10px;
      }
      &-footer {
        flex-wrap: wrap;
      }
      &__date {
        margin-right: 4px;
      }
      &__date,
      &__rubric {
        margin-bottom: 3px;
      }
    }
    &-footer {
      flex-direction: column;
      align-items: center;
    }
    &-tags {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .blog {
    .head {
      margin-bottom: 18px;
    }
    &-item {
      width: 266px;
      margin: 0 5px 10px;
    }
    &-tags {
      margin-bottom: 15px;
      li {
        &:after {
          display: none;
        }
      }
    }
  }
}

// Main blog

.m-blog {
  padding: 54px 0 50px;
  .head {
    margin-bottom: 31px;
  }
  .blog {
    &-item {
      margin-bottom: 22px;
    }
  }
  &-wrap {
    background: url(../images/m-blog.jpg) no-repeat 50%;
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .m-blog {
    padding: 40px 0 32px;
    .head {
      margin-bottom: 20px;
    }
    .blog {
      &-items {
        margin-bottom: 20px;
      }
      &-item {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .m-blog {
    .blog-items {
      margin-bottom: 12px;
    }
  }
}

// Pagination

.pagination {
  justify-content: center;
  margin-bottom: 0;
  li {
    margin: 0 2px;
    &.active a {
      color: #898989;
      border: 1px solid #c7cddf;
    }
    &.prev,
    &.next {
      display: flex;
      align-items: center;
    }
    &.prev {
      margin-right: 40px;
    }
    &.next {
      margin-left: 40px;
    }
    &.prev a,
    &.next a {
      width: 12px;
      height: 20px;
      background: url(../images/left.png) no-repeat left;
      transition: none;
      border: none;
      &:hover {
        border: none;
        background-position: right;
      }
    }
    &.next a {
      background-image: url(../images/right.png);
    }
    a {
      width: 40px;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      color: $green;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #898989;
        border: 1px solid #c7cddf;
      }
    }
  }
}

@media (max-width: 575px) {
  .pagination {
    li {
      &.prev {
        margin-right: 16px;
      }
      &.next {
        margin-left: 16px;
      }
      a {
        width: 32px;
        height: 32px;
      }
    }
  }
}

// Favorites

.favorites {
  margin-bottom: 68px;
}

@media (max-width: 991px) {
  .favorites {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .favorites {
    margin-bottom: 32px;
  }
}

// Cabinet

.cabinet {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
  &-body {
    flex-grow: 10;
    margin-right: 100px;
  }
  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 31px;
  }
  &-items {
    border: 1px solid #c7cddf;
    padding: 28px 28px 40px;
  }
  &-item {
    display: none;
    &.active {
      display: block;
    }
  }
}

.cabinet-subs {
  margin-top: 38px;
}

.cabinet-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.active a {
      background-color: $red;
    }
    a {
      width: 220px;
      height: 40px;
      font-weight: 700;
      color: #fff;
      background-color: #c7cddf;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $red;
      }
    }
  }
}

@media (max-width: 1336px) {
  .cabinet {
    &-items {
      padding: 16px 16px 24px;
    }
    &-body {
      margin-right: 20px;
    }
    &-tabs {
      li {
        a {
          width: auto;
          padding: 0 30px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .cabinet {
    margin-bottom: 50px;
    &-tabs {
      li a {
        letter-spacing: 1px;
      }
    }
  }
}

@media (max-width: 767px) {
  .cabinet {
    flex-direction: column;
    margin-bottom: 40px;
    &__title {
      margin-bottom: 22px;
    }
    &-body {
      width: 100%;
      margin-right: 0;
    }
    &-subs {
      margin-top: 26px;
    }
  }
}

@media (max-width: 575px) {
  .cabinet {
    &-tabs li a {
      padding: 0 20px;
    }
  }
}

.profile {
  &-items {
    display: flex;
  }
  &-item {
    width: calc(50% - 10px);
    &:first-child {
      margin-right: 20px;
    }
    .link {
      margin-left: 122px;
      background-color: transparent;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        background-color: $green;
        border: 1px solid $green;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  &-inputs {
    margin-bottom: 40px;
  }
  &-input {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      padding-top: 10px;
    }
    input {
      flex-shrink: 0;
      width: 220px;
      height: 40px;
      padding: 0 14px;
    }
  }
}

@media (max-width: 1336px) {
  .profile {
    &-item {
      width: calc(50% - 8px);
      &:first-child {
        margin-right: 16px;
      }
      .link {
        margin-left: 0;
      }
      &__title {
        margin-bottom: 12px;
      }
    }
    &-inputs {
      margin-bottom: 18px;
    }
    &-input {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 8px;
      &__title {
        margin-bottom: 4px;
      }
      &-item,
      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 991px) {
  .profile {
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      &:first-child {
        margin-right: 0;
        margin-bottom: 20px;
      }
      &__title {
        margin-bottom: 6px;
      }
    }
  }
}

// Order

.order-tabs {
  margin: 0;
  padding: 0 0 16px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $gray;
  li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &.active a {
      color: #000;
    }
    a {
      font-size: 14px;
      font-weight: 700;
      color: #898989;
      &:hover {
        color: #000;
      }
    }
  }
}

.order-table {
  table {
    width: 100%;
    border-collapse: collapse;
    td {
      vertical-align: top;
      padding: 28px 0 30px;
      border-bottom: 1px solid $gray;
      &:first-child {
        width: 351px;
      }
      &:nth-child(2) {
        width: 188px;
      }
      &:nth-child(3) {
        width: 152px;
      }
      &:last-child {
        width: 30px;
      }
    }
  }
  &__head {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 14px;
  }
  &__address {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
    b {
      font-weight: 700;
    }
  }
  &-img {
    width: 16px;
    margin-top: 28px;
    cursor: pointer;
  }
}

.order-product {
  padding-top: 23px;
  thead td {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $green;
    text-align: center;
    &:first-child {
      width: 131px;
    }
    &:nth-child(2) {
      width: 323px;
      text-align: left;
    }
    &:nth-child(3) {
      width: 73px;
    }
    &:nth-child(4) {
      width: 116px;
    }
    &::last-child {
      width: 60px;
    }
  }
  tbody td {
    vertical-align: top;
    text-align: center;
    font-size: 18px;
    padding: 12px 0;
    &:first-child,
    &:nth-child(2) {
      text-align: left;
    }
  }
  &-img {
    width: 110px;
    margin-top: 5px;
    border: 1px solid $gray;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    margin-bottom: 4px;
    color: #000;
  }
  &__code {
    font-size: 14px;
  }
  &__cost {
    font-weight: 700;
  }
}

@media (max-width: 1336px) {
  .order-product {
    thead td {
      &:nth-child(2) {
        width: 220px;
      }
    }
    &__title {
      font-size: 16px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 991px) {
  .order {
    &-table,
    &-product {
      width: 396px;
      overflow: auto;
      table {
        width: 536px;
      }
    }
  }
}

@media (max-width: 767px) {
  .order {
    &-table,
    &-product {
      width: 100%;
      table {
        width: 100%;
      }
    }
    &-table {
      &__head {
        margin-bottom: 5px;
      }
      &__address {
        line-height: 1.2;
        margin-top: 10px;
      }
    }
    &-product {
      tbody td {
        font-size: 16px;
      }
      &__title {
        line-height: 1.2;
      }
      &-img {
        width: 96px;
      }
    }
  }
}

@media (max-width: 575px) {
  .order {
    &-table,
    &-product {
      table {
        width: 536px;
      }
    }
  }
}