.start-reg {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 98px 0 48px;
  text-align: center;
}

.start-reg img {
  max-width: 100%;
  max-height: 100%;
}

.start-reg .circle-yellow {
  position: absolute;
  top: 87px;
  right: -160px;
  z-index: -1;
  width: 140px;
  height: 140px;
  background-color: #ffe700;
  border-radius: 50%;
}

.start-reg .circle-red {
  position: absolute;
  bottom: -252px;
  right: 81px;
  z-index: -1;
  width: 460px;
  height: 460px;
  background-color: #ff5a3a;
  border-radius: 50%;
}

.start-reg-wrap {
  overflow: hidden;
  background-color: #2a206f;
}

.start-reg-eye {
  position: absolute;
  top: 170px;
  left: -240px;
  z-index: -1;
}

.start-reg-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2a206f;
  font: 700 82px/1.05 'TTNorms';
}

.start-reg-header span {
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: #fff;
}

.start-reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  background-color: #fff;
  border: 2px solid #2a206f;
  text-align: left;
}

.start-reg-head {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  padding: 0 10px 0 30px;
  color: #2a206f;
  font: 700 28px 'TTNorms';
  text-transform: uppercase;
}

.start-reg-input {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 540px;
  height: 100%;
  border-left: 2px solid #2a206f;
}

.start-reg-input input {
  width: 100%;
  height: 100%;
  padding: 0 110px 0 34px;
  font: 400 28px 'TTNorms';
  border: none;
}

.start-reg-input input:focus {
  outline: none;
}

.start-reg-input input::-webkit-input-placeholder {
  color: #ff5a3a;
  text-decoration: underline;
}

.start-reg-input input:-ms-input-placeholder {
  color: #ff5a3a;
  text-decoration: underline;
}

.start-reg-input input::-ms-input-placeholder {
  color: #ff5a3a;
  text-decoration: underline;
}

.start-reg-input input::placeholder {
  color: #ff5a3a;
  text-decoration: underline;
}

.start-reg-input input::-moz-placeholder {
  color: #ff5a3a;
  text-decoration: underline;
}

.start-reg-input img {
  position: absolute;
  top: 50%;
  right: 36px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.start-timer {
  border: none;
  background: transparent;
}

.start-timer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 45px;
  color: #fff;
  font: 700 184px/1 'TTNorms';
  text-transform: uppercase;
}

.start-timer-body span {
  margin: 0 32px;
  font-size: 124px;
}

@media screen and (max-width: 1600px) {
  .start-reg {
    padding-top: 40px;
  }
  .start-reg .circle-yellow {
    right: -120px;
  }
  .start-reg-eye {
    top: 82px;
  }
  .start-reg-header {
    font-size: 72px;
  }
  .start-timer-body {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1336px) {
  .start-reg {
    padding-right: 15px;
    padding-left: 15px;
  }
  .start-reg .circle-yellow {
    right: -20px;
  }
  .start-reg-eye {
    top: 100px;
    left: -20px;
    width: 364px;
  }
  .start-reg-header {
    font-size: 60px;
  }
  .start-reg-head {
    padding-left: 20px;
    font-size: 22px;
  }
  .start-reg-input input {
    font-size: 24px;
  }
  .start-timer-body {
    font-size: 144px;
  }
  .start-timer-body span {
    margin: 0 20px;
  }
}

@media screen and (max-width: 991px) {
  .start-reg .circle-red {
    bottom: -152px;
    width: 360px;
    height: 360px;
  }
  .start-reg-eye {
    left: -90px;
  }
  .start-reg-head {
    font-size: 20px;
  }
  .start-reg-input {
    width: 380px;
  }
  .start-reg-input input {
    padding: 0 86px 0 18px;
    font-size: 22px;
  }
  .start-reg-input img {
    right: 18px;
  }
}

@media screen and (max-width: 767px) {
  .start-reg {
    padding: 70px 25px 62px;
  }
  .start-reg .circle-yellow {
    top: 32px;
    right: 22px;
    width: 87px;
    height: 87px;
  }
  .start-reg .circle-red {
    bottom: 48px;
    right: -32px;
    width: 231px;
    height: 230px;
  }
  .start-reg-eye {
    top: 220px;
    left: -110px;
    width: 386px;
  }
  .start-reg-header {
    margin-bottom: 58px;
    font-size: 40px;
  }
  .start-reg-header span {
    margin-bottom: 12px;
  }
  .start-reg-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .start-reg-head {
    width: 100%;
    padding: 22px 22px 16px;
  }
  .start-reg-input {
    width: 100%;
    height: 65px;
    border-left: none;
    border-top: 2px solid #2a206f;
  }
  .start-reg-input input {
    padding: 0 80px 0 24px;
    font-size: 20px;
  }
  .start-reg-input img {
    width: 40px;
    right: 22px;
  }
  .start-timer-body {
    margin-bottom: 97px;
    font-size: 88px;
  }
  .start-timer-body span {
    margin: 0 7px;
    font-size: 58px;
  }
}

@media screen and (max-width: 424px) {
  .start-reg {
    padding: 50px 15px 40px;
  }
  .start-reg-eye {
    top: 120px;
  }
  .start-reg-header {
    margin-bottom: 40px;
    font-size: 29px;
  }
  .start-reg-head {
    padding-top: 18px;
  }
  .start-timer-body {
    margin-bottom: 86px;
    font-size: 66px;
  }
  .start-timer-body span {
    margin: 0 4px;
    font-size: 50px;
  }
}
