@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Medium.woff2") format("woff2"), url("../fonts/Formular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Black.woff2") format("woff2"), url("../fonts/Formular-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Bold.woff2") format("woff2"), url("../fonts/Formular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular.woff2") format("woff2"), url("../fonts/Formular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Light.woff2") format("woff2"), url("../fonts/Formular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
}

body {
  font: 400 16px 'Formular', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #ff3936;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
}

.header {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px;
}

.header-nav .nav li {
  margin-right: 25px;
}

.header-nav .nav li:last-child {
  margin-right: 0;
}

.header-nav .nav li a {
  border-bottom: 1px solid #000;
}

.header-nav .nav li a:hover {
  border-color: #ff3936;
}

.header-nav .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.header-nav .city:hover {
  color: #ff3936;
}

.header-nav .city:hover .arrow {
  border-color: #ff3936;
}

.header-nav .city .current-city {
  margin-right: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header-nav .city .arrow {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-top: -2px;
}

.header-callback a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1;
}

.header-callback span {
  color: #7c7c7c;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-favorite, .header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin-right: 27px;
}

.header-favorite:hover span, .header-basket:hover span {
  color: #000000;
}

.header-favorite:hover i, .header-basket:hover i {
  color: #ff3936;
}

.header-favorite span, .header-basket span {
  color: #7c7c7c;
  font-size: 18px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header-favorite i, .header-basket i {
  font-size: 22px;
  margin-right: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #7c7c7c;
}

.header-basket {
  margin-right: 55px;
}

.header-auth {
  color: #7c7c7c;
  border-bottom: 1px solid #7c7c7c;
}

.header-auth:hover {
  color: #ff3936;
  border-color: #ff3936;
}

.arrow {
  width: 9px;
  height: 9px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
}

.burger,
.mobile-menu {
  display: none;
}

@media screen and (max-width: 1336px) {
  .header-nav .nav {
    margin-right: 30px;
  }
  .header-basket {
    margin-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 0;
  }
  .header-logo {
    width: 160px;
  }
  .header-callback {
    display: none;
  }
  .header-links {
    display: none;
  }
  .burger {
    display: block;
    width: 30px;
  }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
  }
  .burger a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #222;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger a span:before, .burger a span:after {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    left: 0;
    background: #222;
    border-radius: 7px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger a span:before {
    top: -8px;
  }
  .burger a span:after {
    top: 8px;
  }
  .burger a.active span {
    background: transparent;
  }
  .burger a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  .burger a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .mobile-menu {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 0px 0px 6px 6px;
    background: #ffffff;
    padding: 0 11px;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #bababa;
    padding: 0 17px;
  }
  .mobile-menu-item:last-child {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .mobile-menu .header-callback {
    display: block;
  }
  .mobile-menu .header-callback a {
    font-size: 18px;
    margin-bottom: 0;
  }
  .mobile-menu .header-callback span {
    font-size: 14px;
  }
  .mobile-menu .header-nav {
    display: block;
  }
  .mobile-menu .header-nav .city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu .header-nav .city .current-city {
    font-size: 14px;
    margin-right: 15px;
  }
  .mobile-menu .header-nav .nav {
    margin-right: 0;
  }
  .mobile-menu .header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu .header-basket {
    margin-right: 0;
  }
  .mobile-menu .header-auth {
    font-size: 16px;
  }
}

.showcase {
  height: 400px;
  padding: 100px 0 50px;
  position: relative;
}

.showcase-wrap {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff6866), to(#fd9f9e));
  background-image: linear-gradient(to left, #ff6866 0%, #fd9f9e 100%);
}

.showcase-title {
  font-size: 48px;
  font-weight: bold;
  max-width: 650px;
  height: 180px;
  position: relative;
  z-index: 2;
}

.showcase-title a {
  border-bottom: 2px solid #000;
  line-height: 1;
}

.showcase-title a:hover {
  border-color: transparent;
  color: #000000;
}

.showcase-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.showcase-city {
  height: 60px;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: 6px 0 0 6px;
  width: 220px;
  position: relative;
}

.showcase-city .c-select-list {
  width: 380px;
}

.showcase-city .current-city {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 18px;
  border: 0;
  border-radius: 6px 0 0 6px;
}

.showcase-city .arrow {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-top: -2px;
}

.showcase-address {
  height: 60px;
  border: 1px solid #bababa;
  border-left: 0;
  position: relative;
  background: #ffffff;
  width: 477px;
}

.showcase-address input {
  width: 100%;
  height: 100%;
  background: 0;
  border: 0;
  padding: 0 40px;
}

.showcase-address input::-webkit-input-placeholder {
  color: #000;
}

.showcase-address input:-moz-placeholder {
  color: #000;
}

.showcase-address input::-moz-placeholder {
  color: #000;
}

.showcase-address input:-ms-input-placeholder {
  color: #000;
}

.showcase-address i {
  position: absolute;
  left: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
}

.showcase-time {
  position: relative;
  background: #fff;
  border: 1px solid #bababa;
  border-right: 0;
  border-left: 0;
  height: 60px;
  width: 360px;
  margin-bottom: 0;
}

.showcase-time i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.showcase-time input {
  width: 100%;
  height: 100%;
  border: 0;
  background: 0;
  padding: 0 40px 0 20px;
}

.showcase-link {
  position: relative;
  z-index: 3;
}

.showcase-link button {
  width: 200px;
  line-height: 60px;
  background-color: #f5d501;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  margin-left: -3px;
  z-index: 3;
}

.showcase-link button:hover {
  background-color: #fd9f9e;
}

.showcase-img {
  position: absolute;
  right: 15px;
  bottom: 0;
  max-height: 95%;
}

@media only screen and (max-width: 991px) {
  .showcase-title {
    color: #ffffff;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.68);
  }
  .showcase-title a {
    color: #ffffff;
    border-color: #fff;
  }
  .showcase-title a:hover {
    color: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  .showcase {
    height: auto;
    padding: 28px 0;
  }
  .showcase-title {
    font-size: 32px;
    text-align: center;
    height: auto;
    margin-bottom: 20px;
  }
  .showcase-img {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
  }
  .showcase-form {
    display: block;
    border-radius: 6px;
  }
  .showcase-form > * {
    width: 100%;
    height: 40px;
  }
  .showcase-city {
    border-radius: 6px 6px 0 0;
    border-bottom: 0;
    font-size: 14px;
  }
  .showcase-city .c-select-list {
    width: 100%;
  }
  .showcase-address {
    border-left: 1px solid #bababa;
    border-bottom: 0;
    font-size: 14px;
  }
  .showcase-time {
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
    border-radius: 0 0 6px 6px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .showcase-link button {
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    margin-left: 0;
  }
}

.filter {
  margin-bottom: 20px;
  position: relative;
}

.filter-wrap {
  padding: 40px 0 70px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-list li {
  margin-right: 25px;
  padding: 7px 12px;
}

.filter-list li.active {
  background-color: #f5d501;
  border-radius: 6px;
}

.filter-list li.active a {
  border: 0;
}

.filter-list li.hightlight a {
  color: #ff3936;
  border-color: #ff3936;
}

.filter-list li a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  line-height: 1;
}

.filter-list li a:hover {
  border-color: transparent;
  color: #000000;
}

.filter-list li.filter-more {
  margin-right: 0;
  padding: 0;
}

.filter-list li.filter-more a {
  border-bottom: 0;
  border-radius: 6px;
  width: 60px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 7px;
}

.filter-list li.filter-more a:hover {
  background: #f5d501;
}

.filter-list li span {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: #bababa;
  border-radius: 50%;
  display: block;
  margin-top: 12px;
}

.filter-list li span:before, .filter-list li span:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 6px;
  height: 6px;
  background-color: #bababa;
  border-radius: 50%;
}

.filter-list li span:before {
  left: -11px;
}

.filter-list li span:after {
  right: -11px;
}

.filter-sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  background: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.filter-sublist.active {
  opacity: 1;
  visibility: visible;
}

.filter-sublist li {
  margin: 0 37px 18px 0;
}

.filter-sublist li a {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.filter-sublist li a:hover {
  color: #000000;
  border-color: transparent;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #bababa;
  border-radius: 6px;
  height: 60px;
}

.search input {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  border: 0;
  background: 0;
  height: 100%;
  padding: 0 18px;
  font-size: 18px;
}

.search input::-webkit-input-placeholder {
  color: #000;
}

.search input:-moz-placeholder {
  color: #000;
}

.search input::-moz-placeholder {
  color: #000;
}

.search input:-ms-input-placeholder {
  color: #000;
}

.search button {
  width: 60px;
  height: 100%;
  background-color: #eff4f7;
  border: 0;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.search button:hover {
  background: #f5d501;
}

@media only screen and (max-width: 1336px) {
  .filter-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .filter-list li {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .filter {
    margin-bottom: 28px;
  }
  .filter-wrap {
    padding: 10px 0 25px;
  }
  .filter-list li {
    margin-bottom: 0;
    margin-right: 0;
    padding: 7px 8px;
  }
  .filter-list li:last-child {
    margin-left: 5px;
  }
  .filter-list li a {
    font-size: 13px;
  }
  .filter-sublist {
    padding: 8px;
  }
  .filter-sublist li {
    margin-right: 10px;
  }
  .filter-sublist li a {
    font-size: 14px;
  }
  .search {
    height: 40px;
  }
  .search button {
    width: 40px;
  }
  .search button img {
    width: 18px;
  }
  .search input {
    font-size: 13px;
  }
}

.flowers {
  margin-bottom: 70px;
}

.flowers-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.flowers-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 1;
}

.flowers-description {
  color: #7c7c7c;
  font-size: 14px;
}

.flowers-link a {
  width: 200px;
  line-height: 60px;
  background-color: #fd9f9e;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

.flowers-link a:hover {
  background: #ff3936;
  color: #fff;
}

.flowers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flowers-item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  margin-right: 17px;
  background-color: #f8fbfd;
  border: 1px solid #bababa;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.flowers-item:hover {
  -webkit-box-shadow: 0 0 7px 3px #e8e8e8;
  box-shadow: 0 0 7px 3px #e8e8e8;
}

.flowers-item:last-child {
  margin-right: 0;
}

.flowers-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 257px;
  background-size: cover;
}

.flowers-heart {
  position: absolute;
  top: 17px;
  right: 17px;
  color: #ff3936;
  font-size: 24px;
}

.flowers-heart:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.flowers-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.flowers-content {
  padding: 15px;
}

.flowers-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.flowers-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 40px;
}

.flowers-stars li {
  margin-right: 5px;
  font-size: 12px;
  color: #d1d1d1;
}

.flowers-stars li.filled, .flowers-stars li.half-filled {
  color: #fbce38;
}

.flowers-comments {
  color: #7c7c7c;
  font-size: 14px;
}

.flowers-delivery {
  font-size: 14px;
  margin-bottom: 10px;
}

.flowers-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 15px;
  right: 15px;
}

.flowers-price {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.flowers-price span {
  color: #7c7c7c;
  display: block;
  font-size: 14px;
  margin-top: 2px;
  text-transform: none;
  font-weight: normal;
}

.flowers-basket {
  padding: 8px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  background-color: #ff3936;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.flowers-basket i {
  margin-right: 10px;
  font-size: 19px;
}

.flowers-basket:hover {
  color: #ffffff;
  background: #f5d501;
}

@media only screen and (max-width: 1336px) {
  .flowers-item:last-child {
    display: none;
  }
  .flowers-item {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }
  .flowers-item:nth-child(3) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .flowers-item:last-child {
    display: none;
  }
  .flowers-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .flowers-item:nth-child(3) {
    display: none;
  }
  .flowers-item:nth-child(2) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .flowers {
    margin-bottom: 0;
    padding-bottom: 100px;
    position: relative;
  }
  .flowers-link {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .flowers-link a {
    width: 180px;
    line-height: 50px;
    font-size: 14px;
  }
  .flowers-header {
    width: 340px;
    max-width: 100%;
    margin: 0 auto 15px;
  }
  .flowers-title {
    font-size: 22px;
  }
  .flowers-description {
    font-size: 13px;
  }
  .flowers-items {
    display: block;
  }
  .flowers-item {
    width: 340px;
    max-width: 100%;
    margin: 0 auto 17px !important;
  }
  .flowers-item:nth-child(3) {
    display: block;
  }
}

.main-delivery {
  padding: 60px 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.main-delivery:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 320px;
  bottom: 100px;
  width: 3000px;
  background: #f8fbfd;
  z-index: -1;
}

.main-delivery-wrap {
  overflow: hidden;
}

.main-delivery-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.main-delivery-img {
  width: 380px;
  margin-left: 55px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-delivery-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.2;
}

.main-delivery-text p {
  color: #7c7c7c;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 1.7;
}

@media only screen and (max-width: 991px) {
  .main-delivery {
    padding: 30px 0;
  }
  .main-delivery:before {
    display: none;
  }
  .main-delivery-img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .main-delivery {
    padding: 15px 0;
  }
  .main-delivery-wrap {
    background: #f8fbfd;
    margin-bottom: 35px;
  }
  .main-delivery-title {
    font-size: 22px;
  }
  .main-delivery-text p {
    font-size: 13px;
  }
  .main-delivery-text p:last-child {
    margin-bottom: 0;
  }
}

.footer {
  border-top: 1px solid #bababa;
  padding: 45px 0 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-nav ul {
  margin-right: 60px;
}

.footer-nav ul:last-child {
  margin-right: 0;
}

.footer-nav ul li {
  margin-bottom: 15px;
}

.footer-nav ul li:first-child {
  font-weight: bold;
  font-size: 18px;
}

.footer-info span {
  color: #7c7c7c;
  display: block;
  margin-bottom: 45px;
}

.footer-tel {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 25px;
}

.footer-bottom p {
  color: #7c7c7c;
  font-size: 14px;
  margin-bottom: 0px;
}

.footer-bottom p a {
  text-decoration: underline;
  color: #7c7c7c;
}

.footer-bottom p a:hover {
  text-decoration: none;
  color: #7c7c7c;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials ul li {
  margin-right: 20px;
}

.socials ul li:last-child {
  margin-right: 0;
}

.socials ul li a {
  font-size: 24px;
  color: #aeaeae;
}

.socials ul li a:hover {
  color: #ff3936;
}

@media only screen and (max-width: 991px) {
  .footer {
    display: block;
    position: relative;
  }
  .footer-info-content {
    position: absolute;
    top: 45px;
    right: 0;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .socials ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 10px 0;
  }
  .footer-logo {
    width: 132px;
  }
  .footer-info span {
    font-size: 14px;
  }
  .footer-info-content {
    top: 9px;
  }
  .footer-tel {
    font-size: 18px;
    margin-bottom: 0;
  }
  .footer-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer-nav ul {
    width: 50%;
    margin-right: 0;
    padding-right: 10px;
    margin-bottom: 15px;
  }
  .footer-nav ul li {
    font-size: 14px;
  }
  .footer-nav ul li a {
    font-size: 13px;
  }
  .footer-bottom p {
    font-size: 13px;
  }
  .socials {
    margin-bottom: 15px;
  }
}

.header-inner {
  border-bottom: 1px solid #bababa;
}

.breadcrumbs li {
  display: inline;
  font-size: 14px;
  color: #898989;
  margin-bottom: 5px;
}

.breadcrumbs li a {
  color: #898989;
  text-decoration: underline;
}

.breadcrumbs li a:hover {
  text-decoration: none;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs li:after {
  content: '>';
  display: inline;
  margin: 0 13px;
}

.filter-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 50px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px 0;
}

.sort li {
  margin-right: 20px;
  margin-bottom: 5px;
}

.sort li.active a {
  color: #000000;
  text-decoration: none;
}

.sort li a {
  color: #898989;
  text-decoration: underline;
}

.sort li a:hover {
  text-decoration: none;
}

.search-result {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1px solid #d1d1d1;
}

.search-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  overflow: hidden;
}

.search-name {
  width: 612px;
  padding-top: 15px;
}

.search-name a {
  font-size: 24px;
  font-weight: bold;
}

.search-price {
  padding-top: 19px;
}

.search-price p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
}

.search-price span {
  color: #7c7c7c;
  font-size: 14px;
}

.search-basket {
  margin-top: 19px;
  padding: 8px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  background-color: #ff3936;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-basket i {
  margin-right: 10px;
  font-size: 19px;
}

.search-basket:hover {
  color: #ffffff;
  background: #dd3331;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}

.pagination li {
  margin-right: 13px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li.active a {
  background: #ff3936;
  color: #ffffff !important;
}

.pagination li a {
  color: #898989;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination li a:hover {
  color: #ff3936;
}

@media only screen and (max-width: 1336px) {
  .search-name {
    width: 460px;
  }
}

@media only screen and (max-width: 991px) {
  .search-name {
    width: 270px;
  }
}

@media only screen and (max-width: 768px) {
  .search-name {
    width: 100%;
  }
  .search-name a {
    font-size: 21px;
  }
  .search-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .search-img {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .pagination li {
    margin-right: 10px;
  }
}

.subscribe {
  padding: 42px 50px;
  background: url(../images/subscribe-bg.jpg) no-repeat 50%;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.subscribe-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.subscribe-text {
  line-height: 1.6;
}

.subscribe-form {
  margin-top: 40px;
  width: 480px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #bababa;
  border-radius: 6px;
  overflow: hidden;
}

.subscribe-form input {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  padding: 0 22px;
  font-size: 18px;
  height: 60px;
  border: 0;
}

.subscribe-form button {
  width: 180px;
  border: 0;
  background: #ff3936;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 0;
}

.subscribe-form button:hover {
  background: #e23533;
}

@media only screen and (max-width: 991px) {
  .subscribe {
    display: block;
  }
  .subscribe-form {
    margin-left: 0;
    max-width: 100%;
  }
  .subscribe-form input {
    min-width: 0;
  }
}

@media only screen and (max-width: 768px) {
  .subscribe {
    padding: 15px;
  }
  .subscribe-form {
    display: block;
    border-radius: 0;
    border: 0;
    text-align: center;
    width: 100%;
  }
  .subscribe-form input {
    border: 1px solid #dedede;
    width: 100%;
    margin-bottom: 10px;
  }
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blog-wrap {
  margin-top: -60px;
}

.blog-sidebar {
  width: 300px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 80px;
}

.blog-container {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog-item {
  margin-bottom: 50px;
  width: 46%;
  background-color: #f8fbfd;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.blog-item.large {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-item.large .blog-img {
  width: 380px;
  min-height: 440px;
  height: auto;
}

.blog-item.large .blog-content {
  padding: 35px;
}

.blog-item.large .blog-title {
  font-size: 36px;
}

.blog-img {
  height: 280px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-size: cover;
  border-radius: 6px;
  overflow: hidden;
}

.blog-content {
  padding: 25px;
}

.blog-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #898989;
  font-size: 14px;
  margin-bottom: 30px;
}

.blog-date {
  margin-right: 20px;
}

.blog-tag {
  text-decoration: underline;
  color: #898989;
  margin-right: 45px;
}

.blog-tag:hover {
  text-decoration: none;
  color: #898989;
}

.blog-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.blog-views img {
  margin-right: 5px;
}

.blog-text {
  line-height: 1.6;
}

.blog-tags {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 30px 34px;
  margin-bottom: 90px;
}

.blog-tags-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.blog-tags ul li {
  margin-bottom: 15px;
  display: block;
}

.blog-tags ul li:last-child {
  margin-bottom: 0;
}

.blog-tags ul li a {
  color: #898989;
  font-size: 16px;
  text-decoration: underline;
}

.blog-tags ul li a:hover {
  color: #ff3936;
}

@media only screen and (max-width: 1336px) {
  .blog-item.large {
    display: block;
  }
  .blog-item.large .blog-img {
    width: 100%;
    height: 280px;
    min-height: 0;
  }
  .blog-info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .blog-info > * {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .blog {
    display: block;
  }
  .blog-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .blog-wrap {
    margin-top: 0;
  }
  .blog-item {
    width: 100%;
  }
  .blog-title {
    font-size: 21px !important;
  }
  .blog-content {
    padding: 15px !important;
  }
}

.flowers-favorite .flowers-items {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flowers-favorite .flowers-item {
  width: 23.5%;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  margin-right: 2%;
  margin-bottom: 40px;
  display: block !important;
}

.flowers-favorite .flowers-item:nth-child(4n) {
  margin-right: 0;
}

@media only screen and (max-width: 1336px) {
  .flowers-favorite .flowers-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flowers-favorite .flowers-item {
    width: 31.3%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: 2%;
    margin-bottom: 40px;
  }
  .flowers-favorite .flowers-item:nth-child(4n) {
    margin-right: 2%;
  }
  .flowers-favorite .flowers-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .flowers-favorite .flowers-item {
    width: 49%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: 2%;
    margin-bottom: 40px;
  }
  .flowers-favorite .flowers-item:nth-child(3n) {
    margin-right: 2%;
  }
  .flowers-favorite .flowers-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .flowers-favorite .flowers-item {
    width: 340px;
    margin: 0 auto 17px !important;
  }
}

.article {
  padding-top: 40px;
  border-bottom: 1px solid #bababa;
  margin-bottom: 60px;
  padding-bottom: 30px;
}

.article-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.article-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #898989;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

.article-tags span {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 35px;
  margin-bottom: 5px;
}

.article-tags a {
  color: #898989;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 10px;
  margin-bottom: 5px;
}

.article-tags a:hover {
  color: #ff3936;
}

.article-materials h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.article-materials-link {
  width: 150px;
  height: 35px;
  background-color: #fd9f9e;
  border-radius: 6px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 60px;
}

.article-materials-link:hover {
  color: #ffffff;
  background: #ff3936;
}

.content img {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 40px;
}

.content p {
  margin-bottom: 40px;
  line-height: 1.6;
}

.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social li {
  margin-right: 35px;
}

.social li a {
  width: 140px;
  height: 30px;
  background-color: #c6c6c6;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  color: #ffffff;
  font-size: 14px;
}

.social li a:hover {
  color: #ff3936;
}

.social li a i {
  font-size: 14px;
  margin-right: 13px;
}

@media only screen and (max-width: 768px) {
  .social li a {
    width: 30px;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social li a i {
    margin-right: 0;
  }
  .social li span {
    display: none;
  }
  .article-title {
    font-size: 21px;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.product-labels {
  width: 80px;
  margin-right: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.product-label {
  height: 90px;
  background: url(../images/product-label.png);
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
  line-height: 1.7;
  padding-bottom: 10px;
}

.product-gallery {
  width: 490px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.product-img {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #bababa;
  overflow: hidden;
  margin-bottom: 50px;
}

.product-img img {
  width: 100%;
}

.product-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.product-mini-item {
  width: 140px;
  height: 140px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  overflow: hidden;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.product-mini-item.active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.product-mini-item img {
  width: 100%;
  height: 100%;
}

.product-info {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  margin-left: 75px;
  overflow: hidden;
}

.product-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 13px;
}

.product-art {
  margin-bottom: 14px;
}

.product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 14px;
}

.product-name a {
  text-decoration: underline;
  margin-right: 14px;
}

.product-description {
  margin-bottom: 14px;
}

.product-description span {
  margin-left: 5px;
}

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 30px 0 12px;
}

.product-price .price {
  font-size: 36px;
  font-weight: bold;
  margin-right: 15px;
}

.product-price span {
  margin-bottom: 5px;
  margin-right: 10px;
}

.product-price .hint {
  margin-bottom: 5px;
}

.product-delivery {
  margin-bottom: 40px;
}

.product-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.product-link {
  width: 260px;
  height: 60px;
  background-color: #ff3936;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  margin-right: 60px;
}

.product-link:hover {
  background: #e73835;
  color: #ffffff;
}

.product-favorite {
  color: #898989;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-favorite i {
  margin-right: 15px;
  font-size: 23px;
}

.product-favorite span {
  text-decoration: underline;
}

.product-evaluate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.product-evaluate .flowers-stars {
  margin-right: 0;
}

.product-evaluate b {
  margin: 0 15px;
}

.product-evaluate span {
  color: #898989;
}

.product-graphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 45px;
}

.hint {
  position: relative;
  display: inline-block;
}

.hint:hover .hint-text {
  opacity: 1;
  visibility: visible;
}

.hint-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bababa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.hint-text {
  position: absolute;
  bottom: 100%;
  margin-bottom: 11px;
  width: 246px;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 11px;
  font-size: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

.hint-text:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #bababa;
  border-right: 1px solid #bababa;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  background: #ffffff;
}

.stars-graph-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  color: #898989;
}

.stars-graph-item i {
  font-size: 12px;
  color: #d1d1d1;
  margin-left: 4px;
}

.stars-graph-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 8px;
}

.stars-graph-rate {
  width: 100px;
  height: 5px;
  background-color: #d1d1d1;
  border-radius: 3px;
  position: relative;
  margin-right: 6px;
}

.stars-graph-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #ff3936;
  border-radius: 3px;
}

.circle-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle-graph-item {
  margin-left: 20px;
  text-align: center;
  width: 88px;
}

.circle-graph-item svg {
  margin-bottom: 17px;
}

.circle-graph-text {
  font-size: 14px;
}

.circle-chart__circle {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.circle-chart__percent {
  font-family: 'Formular';
}

.product-reviews h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-reviews p {
  margin-bottom: 0;
}

.product-reviews p span {
  text-decoration: underline;
}

@media only screen and (max-width: 1336px) {
  .product-graphs {
    display: block;
  }
  .product-labels {
    display: none;
  }
  .product-footer {
    display: block;
  }
  .product-link {
    margin-bottom: 15px;
  }
  .product-info {
    margin-left: 15px;
  }
  .circle-graph {
    margin-top: 50px;
  }
  .circle-graph-item:first-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .product {
    display: block;
  }
  .product-gallery {
    margin: 0 auto 40px;
  }
  .product-info {
    width: 490px;
    margin: 0 auto;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .product-gallery {
    width: 290px;
  }
  .product-img {
    margin-bottom: 20px;
  }
  .product-mini {
    margin-bottom: 20px;
  }
  .product-mini-item {
    width: 90px;
    height: 90px;
  }
  .product-title {
    font-size: 28px;
  }
  .product-price {
    display: block;
  }
  .product .circle-graph-item {
    margin-left: -9px;
  }
  .social li {
    margin-right: 10px;
  }
  .hint {
    display: none;
  }
}

.feedbacks-wrap {
  background: #f8fbfd;
  padding: 59px 0 93px;
  margin-bottom: 55px;
}

.feedbacks-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 35px;
}

.feedbacks-item {
  margin-right: 30px;
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 30px 25px;
}

.feedbacks-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 30px;
}

.feedbacks-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feedbacks-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 23px;
}

.feedbacks-name {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 18px;
}

.feedbacks-rate {
  margin-bottom: 2px;
}

.feedbacks-text {
  color: #7c7c7c;
  font-size: 14px;
  line-height: 1.7;
}

.feedbacks-slider .slick-dots {
  position: absolute;
  bottom: -48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feedbacks-slider .slick-dots li {
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #bababa;
}

.feedbacks-slider .slick-dots li:hover, .feedbacks-slider .slick-dots li.slick-active {
  background: #ff3936;
}

.feedbacks-slider .slick-dots li button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .feedbacks-item {
    margin-right: 0;
    padding: 15px;
  }
  .feedbacks-rate {
    display: none;
  }
  .feedbacks-title {
    font-size: 21px;
  }
  .feedbacks-wrap {
    padding: 30px 0 0;
  }
  .feedbacks .slick-dots {
    display: none;
  }
}

/* Modals */
.modal {
  display: none;
  max-width: 420px;
  background-color: #fff;
  border-radius: 6px;
  padding: 35px;
  color: #000000;
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 28px;
  border-bottom: 0;
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.4;
  background-color: #0a0a0a;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 2px;
  color: #000000;
}

.auth-input {
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 17px;
  font-size: 18px;
  margin-bottom: 30px;
}

.auth-input.error {
  border-color: #ff3936;
  color: #ff3936;
}

.auth-form {
  text-align: center;
}

.auth-form button {
  line-height: 60px;
  background-color: #fd9f9e;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 30px;
}

.auth-form button:hover {
  background-color: #ff3936;
}

.auth-link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 35px;
}

.auth-link:hover {
  color: #000000;
}

.auth-description {
  color: #7c7c7c;
  font-size: 14px;
  max-width: 228px;
  margin: 0 auto;
}

.auth-description a {
  color: #7c7c7c;
  text-decoration: underline;
}

.auth-description a:hover {
  text-decoration: none;
}

.auth-confirm {
  display: none;
}

.auth-confirm .auth-input {
  color: #c6c6c6;
  cursor: default;
}

.auth-confirm button {
  line-height: 60px;
  border-radius: 6px;
  background-color: #bababa;
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 30px;
  cursor: default;
}

.auth-password {
  height: 60px;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: 6px;
  width: 100%;
  padding: 0 17px;
  font-size: 18px;
  margin-bottom: 20px;
}

.auth-notification {
  font-size: 16px;
  text-align: center;
}

.city-input {
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 17px;
  font-size: 18px;
  margin-bottom: 24px;
}

.city-modal {
  width: 580px;
  max-width: 100%;
}

.city-modal ul li {
  margin-bottom: 15px;
}

.city-modal ul li a {
  font-size: 18px;
}

.c-select {
  position: relative;
}

.c-select-list {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #bababa;
  border-radius: 0 0 6px 6px;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.c-select-list.show {
  opacity: 1;
  visibility: visible;
}

.c-select-list ul li {
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 8px 17px;
}

.c-select-list ul li:hover {
  background: #e8e8e8;
  cursor: pointer;
}

.c-select-list ul:nth-child(2) {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #bababa;
}

@media only screen and (max-width: 768px) {
  .c-select-list {
    font-size: 13px;
  }
}

.fixed-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 17px;
  margin-bottom: 20px;
}

.fixed-header-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.fixed-header-wrap.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.fixed-header .logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 40px;
}

.fixed-header .showcase-address,
.fixed-header .showcase-time {
  width: auto;
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.fixed-header .showcase-form {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  margin-right: 45px;
}

@media only screen and (max-width: 1336px) {
  .fixed-header {
    display: none !important;
  }
}
