@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q q:before, q q:after, q blockquote:before, q blockquote:after, blockquote q:before, blockquote q:after, blockquote blockquote:before, blockquote blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "TextCond-Bold";
  src: url("../fonts/PFDinTextCondPro-Bold.eot");
  src: local("тШ║"), url("../fonts/PFDinTextCondPro-Bold.woff") format("woff"), url("../fonts/PFDinTextCondPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "TextCond-Medium";
  src: url("../fonts/pfdintextcondpro-medium_0.eot");
  src: local("тШ║"), url("../fonts/pfdintextcondpro-medium_0.woff") format("woff"), url("../fonts/pfdintextcondpro-medium_0.ttf") format("truetype"), url("../fonts/pfdintextcondpro-medium_0.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "TextCond-Regular";
  src: url("../fonts/pfdintextcondpro-regular_0.eot");
  src: local("тШ║"), url("../fonts/pfdintextcondpro-regular_0.woff") format("woff"), url("../fonts/pfdintextcondpro-regular_0.ttf") format("truetype"), url("../fonts/pfdintextcondpro-regular_0.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "TextCond-Italic";
  src: url("../fonts/PFDinTextCondPro-Italic.eot");
  src: local("тШ║"), url("../fonts/PFDinTextCondPro-Italic.woff") format("woff"), url("../fonts/PFDinTextCondPro-Italic.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*----------- Typography *
 * ------------------------------------------------------------ */
html, body {
  height: 100%; }

body {
  background-color: #ffffff;
  font-family: "TextCond-Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 100%; }

h1, .title-h1, h2, .title-h2, h3, .title-h3, h4, .title-h4, h5, .title-h5 {
  display: block;
  font-family: "TextCond-Bold", Arial, sans-serif;
  line-height: 1.1em;
  color: #00b3f0;
  margin-bottom: 15px; }

h1, .title-h1 {
  font-size: 30px; }

h2, .title-h2 {
  font-size: 26px; }

h3, .title-h3 {
  font-size: 22px; }

h4, .title-h4 {
  font-size: 18px;
  font-family: "TextCond-Bold"; }

h5, .title-h5 {
  font-size: 16px;
  font-family: "TextCond-Bold"; }

p {
  font-family: "TextCond-Regular", sans-serif;
  margin-bottom: 20px; }

ul {
  margin-bottom: 20px; }

a {
  color: #5bbc2e;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #479324; }

img {
  vertical-align: middle;
  max-width: 100%; }

/*----------- button style *
 * ------------------------------------------------------------ */
.btn {
  min-width: 100px;
  height: 50px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 25px;
  margin: 0;
  font: 18px/50px "TextCond-Bold", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #00b3f0;
  background-color: #00b3f0;
  color: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }
  .btn:hover {
    background-color: #ffffff;
    color: #00b3f0;
    border-color: #00b3f0; }

.btn:focus {
  outline: none;
  color: #fff; }

.btn-yellow {
  color: #ffcb05;
  border-color: #ffcb05;
  background: transparent;
  font-family: "TextCond-Regular", Arial, sans-serif; }
  .btn-yellow:hover, .btn-yellow:focus {
    background-color: #ffcb05;
    color: #000000;
    border-color: #ffcb05; }

.btn-lg {
  height: 60px;
  font-size: 18px;
  line-height: 58px;
  padding: 0 40px;
  min-width: 300px; }

.btn-max {
  width: 100%;
  padding: 0 5px; }

.btn-default {
  background-color: #ededed;
  color: #494949; }
  .btn-default:hover {
    background-color: #dedede;
    color: #494949; }

/*----------- Form sryle *
 * ------------------------------------------------------------ */
.st-form-group {
  margin-bottom: 20px; }

.placeholder {
  color: #000; }

input, textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  position: relative;
  outline: none;
  font: 18px "TextCond-Regular", Arial, sans-serif;
  color: #5d5d5d;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input:-moz-placeholder, input::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder {
    color: #5d5d5d;
    opacity: 1; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #5d5d5d; }

textarea {
  height: 138px;
  vertical-align: top;
  padding: 15px 19px;
  resize: none; }

/*----------- Page structur *
 * ------------------------------------------------------------ */
.clear {
  clear: both; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#wrapper {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  margin-bottom: -260px;
  min-height: 100%; }

.page-buffer {
  height: 260px; }

.sub-title {
  color: #00b3f0;
  font: 24px/1.2em "TextCond-Bold", sans-serif;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px; }
  .sub-title:before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 26px;
    height: 26px;
    background: url("../images/sprite.png") -5px -224px no-repeat; }

.title-h2 {
  color: #00b3f0;
  font: 32px/1.2em "TextCond-Bold", sans-serif;
  text-transform: uppercase;
  position: relative;
  text-align: center; }
  .title-h2 .title-icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 25px;
    width: 26px;
    height: 26px;
    background: url("../images/sprite.png") -5px -224px no-repeat; }

.title-left {
  text-align: left; }

ul.inline-format {
  font: 14px Verdana, sans-serif;
  word-spacing: -0.36em; }

ul.inline-format li {
  word-spacing: normal; }

.pagination-wrap {
  text-align: center;
  margin-bottom: 40px; }

.pagination .active > a {
  color: #ffffff;
  background-color: #00b3f0;
  border-color: #00b3f0; }
.pagination > li > a {
  border: 1px solid #00b3f0;
  font: 18px/18px "TextCond-Bold", sans-serif;
  color: #00b3f0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin: 0 6px 8px;
  padding: 3px 8px;
  float: none;
  display: inline-block;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease; }
  .pagination > li > a:first-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  .pagination > li > a:last-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  .pagination > li > a:hover {
    color: #ffffff;
    background-color: #00b3f0;
    border-color: #00b3f0; }

.breadcrumb {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: none;
  margin-bottom: 15px;
  padding: 15px 0 0; }
  .breadcrumb > li + li:before {
    content: ">";
    color: #000000;
    padding: 0 5px 0 3px; }
  .breadcrumb > li {
    font: 18px/1.1em "TextCond-Regular", sans-serif;
    display: inline; }
    .breadcrumb > li > a {
      color: #23bbf1; }
  .breadcrumb li.active {
    color: #000000; }

.grey-wrap {
  background-color: #eef3f6;
  margin-top: 25px; }

/*----------- Table structur *
 * ------------------------------------------------------------ */
.table-base {
  text-align: center;
  width: 100%; }

/*----------- header *
 * ------------------------------------------------------------ */
.header {
  position: relative;
  background-color: #fff; }

.logo {
  float: left;
  height: 70px; }

.hedaer-nav {
  background-color: #eef3f6;
  overflow: hidden; }
  .hedaer-nav .header-navigation {
    margin-left: 106px;
    overflow: hidden;
    margin-bottom: 0; }
    .hedaer-nav .header-navigation li.active {
      background-color: #ffcb05; }
    .hedaer-nav .header-navigation > li {
      float: left; }
      .hedaer-nav .header-navigation > li > a {
        text-transform: uppercase;
        display: block;
        color: #000000;
        font: 18px "TextCond-Bold", sans-serif;
        padding: 23px 19px 13px;
        text-decoration: none; }
        .hedaer-nav .header-navigation > li > a:hover {
          background-color: #ffcb05; }

.header-top {
  background: white;
  background: -moz-linear-gradient(left, white 0%, white 57%, #252525 57%, #252525 100%);
  background: -webkit-linear-gradient(left, white 0%, white 57%, #252525 57%, #252525 100%);
  background: linear-gradient(to right, white 0%, white 57%, #252525 57%, #252525 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#252525',GradientType=1 ); }

.head-info {
  width: 502px;
  float: right;
  overflow: hidden; }
  .head-info .btn {
    vertical-align: top;
    margin-top: 10px; }
  .head-info .phone-icon {
    background-color: #ffcb05;
    width: 70px;
    height: 70px;
    display: block;
    float: left;
    margin-right: 20px;
    position: relative; }
    .head-info .phone-icon:before {
      position: absolute;
      content: " ";
      width: 33px;
      height: 33px;
      top: 50%;
      left: 50%;
      margin-left: -16.5px;
      margin-top: -16.5px;
      background: url("../images/sprite.png") -222px -181px no-repeat; }
  .head-info .number {
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 19px;
    color: #ffffff;
    font: 24px/24px "TextCond-Regular", sans-serif;
    text-decoration: none; }
    .head-info .number b {
      font: 34px/34px "TextCond-Bold", sans-serif; }

.navbar-default {
  float: left;
  height: 70px;
  background: none;
  margin-bottom: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: none; }
  .navbar-default .navbar-collapse {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff; }
  .navbar-default .navbar-toggle {
    background: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: none; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: none; }
    .navbar-default .navbar-toggle .icon-bar {
      width: 30px;
      height: 5px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      background-color: #000000; }
  .navbar-default .navbar-nav > li > a {
    padding: 24px 11px;
    color: #191919;
    font: 18px "TextCond-Regular", sans-serif; }
    .navbar-default .navbar-nav > li > a:hover {
      background-color: #eef3f6; }

/*----------- aside *
 * ------------------------------------------------------------ */
.aside-nav {
  background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%);
  margin: 0 auto 15px;
  padding: 15px 10px; }
  .aside-nav li.active > a {
    color: #ffffff;
    text-decoration: none; }
    .aside-nav li.active > a:hover {
      text-decoration: underline; }
  .aside-nav > li {
    margin: 10px 0 15px; }
    .aside-nav > li > a {
      font: 18px/20px "TextCond-Bold", sans-serif;
      color: #000000;
      text-transform: uppercase;
      text-decoration: underline; }
      .aside-nav > li > a:hover {
        text-decoration: none; }

.aside-menu {
  margin-top: 50px; }
  .aside-menu > li {
    text-align: center;
    margin-bottom: 60px; }
    .aside-menu > li:hover a[class^="menu-icon"] {
      background-color: #00b3f0;
      border-color: #00b3f0; }
    .aside-menu > li:hover a {
      color: #00b3f0; }
    .aside-menu > li:hover .menu-icon-1:before {
      background-position: -222px -134px; }
    .aside-menu > li:hover .menu-icon-2::before {
      background-position: -218px -86px; }
    .aside-menu > li > a {
      text-transform: uppercase;
      color: #000000;
      font: 17px/18px "TextCond-Bold", sans-serif;
      text-decoration: none; }
    .aside-menu > li > a[class^="menu-icon"] {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto 20px;
      border: 1px solid #000;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      position: relative; }
      .aside-menu > li > a[class^="menu-icon"]:before {
        position: absolute;
        content: " ";
        top: 50%;
        left: 50%;
        background-image: url("../images/sprite.png"); }
  .aside-menu .menu-icon-1:before {
    margin-left: -14px;
    margin-top: -18.5px;
    width: 28px;
    height: 37px;
    background-position: -105px -137px; }
  .aside-menu .menu-icon-2:before {
    margin-top: -19px;
    margin-left: -15px;
    width: 30px;
    height: 38px;
    background-position: -105px -180px; }

.works-list {
  margin-bottom: 30px; }
  .works-list > li {
    margin-bottom: 15px; }
    .works-list > li .work-body:hover .item-hover {
      opacity: 1;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease; }
    .works-list > li .work-body:hover .work-title {
      color: #00b3f0; }
    .works-list > li .work-body:hover p {
      color: #00b3f0; }
    .works-list > li .work-title {
      color: #000000;
      text-transform: uppercase;
      font: 18px/20px "TextCond-Bold", sans-serif;
      display: inline-block;
      margin-bottom: 8px;
      text-decoration: none; }
  .works-list .img-wrap {
    margin-bottom: 20px;
    position: relative; }
    .works-list .img-wrap .btn {
      color: #ffffff;
      border-color: #ffffff;
      background: transparent;
      min-width: 240px; }
      .works-list .img-wrap .btn:hover {
        background-color: rgba(255, 255, 255, 0.9);
        color: #222222; }
    .works-list .img-wrap .item-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 179, 240, 0.3);
      line-height: 300px;
      text-align: center;
      opacity: 0;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease; }

.stand-list > li {
  margin-bottom: 30px; }

/*----------- Footer *
 * ------------------------------------------------------------ */
.footer {
  width: 100%;
  height: 260px;
  position: relative;
  z-index: 10;
  padding-top: 15px;
  font-size: 18px; }
  .footer .logo {
    float: none;
    display: inline-block;
    height: 100%;
    vertical-align: top; }

.footer-top {
  background: #eef3f6;
  padding: 25px 0; }
  .footer-top .long-menu > li {
    display: inline-block;
    min-width: 175px; }
  .footer-top .contacts .footer-number {
    font: 24px "TextCond-Bold", sans-serif;
    display: block;
    color: #000000;
    margin-bottom: 7px;
    text-decoration: none; }
  .footer-top .contacts p {
    margin-bottom: 10px; }
  .footer-top .contacts .mail {
    font: 18px "TextCond-Regular", sans-serif;
    color: #00b3f0; }
  .footer-top .footer-nav {
    max-width: 103px; }
    .footer-top .footer-nav > a {
      display: inline-block;
      margin-bottom: 27px; }
  .footer-top .container > div {
    display: inline-block;
    margin-right: 50px;
    vertical-align: top; }
    .footer-top .container > div:last-child {
      margin-right: 0; }
  .footer-top .title {
    text-transform: uppercase;
    color: #00b3f0;
    font: 18px "TextCond-Bold", sans-serif;
    margin-bottom: 15px;
    display: inline-block; }
  .footer-top ul {
    max-width: 360px;
    margin-bottom: 0; }
    .footer-top ul > li {
      margin-bottom: 7px; }
      .footer-top ul > li > a {
        color: #000000;
        font: 18px "TextCond-Regular", sans-serif; }

.footer-bottom {
  background-color: #252525;
  overflow: hidden;
  color: #ffffff; }
  .footer-bottom p {
    margin-bottom: 0;
    margin-top: 20px;
    float: left; }
  .footer-bottom a {
    color: #ffffff; }
  .footer-bottom .copyright {
    float: left; }
  .footer-bottom .develop {
    float: right;
    min-width: 350px; }
    .footer-bottom .develop img {
      float: right;
      margin-left: 20px; }

/*----------- Main blocks *
 * ------------------------------------------------------------ */
.carousel-inner > .item > img {
  min-height: 480px; }

.carousel-caption {
  text-shadow: none;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  max-width: 1170px;
  width: 100%; }
  .carousel-caption .caption-title {
    font: 120px/1.1em "TextCond-Bold", sans-serif;
    display: block;
    margin-bottom: 20px; }
    .carousel-caption .caption-title span {
      display: block;
      max-width: 875px;
      margin: 0 auto;
      font: 48px/48px "TextCond-Regular", sans-serif; }

.carousel-caption.black {
  color: #000000; }

.carousel-caption.white {
  color: #ffffff; }

.carousel-control {
  top: 50%;
  margin-top: -36px;
  width: 40px;
  height: 72px;
  background-repeat: no-repeat;
  opacity: 0.7; }

.carousel-control.left {
  background-position: -55px -73px;
  background-image: url("../images/sprite.png");
  left: 10%; }

.carousel-control.right {
  background-position: -5px -73px;
  background-image: url("../images/sprite.png");
  right: 10%; }

.carousel-indicators > li {
  width: 23px;
  height: 23px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin: 0 7px; }
  .carousel-indicators > li:hover {
    background-color: #ffcb05; }
.carousel-indicators .active {
  width: 23px;
  height: 23px;
  margin: 0 7px;
  background-color: #ffcb05;
  border: 1px solid #ffffff; }

.product-menu {
  overflow: hidden;
  margin: 35px 0; }
  .product-menu > li {
    margin: 0 0.5% 14px;
    width: 24%;
    vertical-align: top;
    min-height: 300px;
    display: inline-block;
    background: url("../images/product-bg-1.jpg") 0 0 no-repeat;
    background-size: cover; }
    .product-menu > li:first-child {
      background-image: none;
      background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%); }
      .product-menu > li:first-child .product-title {
        color: #000; }
    .product-menu > li:first-child:hover {
      background-image: linear-gradient(180deg, #ffcb05 0%, #faa61a 100%); }
    .product-menu > li:first-child .product-body:before {
      display: none; }
    .product-menu > li .product-body {
      padding: 100px 45px 50px;
      min-height: 300px;
      display: block;
      text-align: center;
      text-decoration: none;
      position: relative; }
      .product-menu > li .product-body:before {
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 179, 240, 0.2);
        opacity: 0;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease; }
      .product-menu > li .product-body:hover:before {
        opacity: 1; }
    .product-menu > li span[class^="icon"] {
      display: inline-block;
      background-image: url("../images/sprite.png");
      background-repeat: no-repeat;
      margin-bottom: 50px; }
    .product-menu > li .icon-1 {
      width: 28px;
      height: 37px;
      background-position: -105px -137px; }
    .product-menu > li .icon-2 {
      width: 39px;
      height: 33px;
      background-position: -143px -137px; }
    .product-menu > li .icon-3 {
      width: 39px;
      height: 34px;
      background-position: -5px -180px; }
    .product-menu > li .icon-4 {
      width: 39px;
      height: 33px;
      background-position: -54px -180px; }
    .product-menu > li .icon-5 {
      width: 20px;
      height: 41px;
      background-position: -192px -137px; }
    .product-menu > li .icon-6 {
      width: 39px;
      height: 35px;
      background-position: -143px -180px; }
    .product-menu > li .icon-7 {
      width: 39px;
      height: 33px;
      background-position: -226px -5px; }
    .product-menu > li .icon-8 {
      width: 39px;
      height: 33px;
      background-position: -226px -5px; }
    .product-menu > li .product-title {
      display: block;
      max-width: 176px;
      margin: 0 auto;
      font: 24px/1.2em "TextCond-Medium", sans-serif;
      color: #ffffff;
      text-transform: uppercase; }
  .product-menu .item-2 {
    background-image: url("../images/product-bg-1.jpg"); }
  .product-menu .item-3 {
    background-image: url("../images/product-bg-2.jpg"); }
  .product-menu .item-4 {
    background-image: url("../images/product-bg-3.jpg"); }
  .product-menu .item-5 {
    background-image: url("../images/product-bg-4.jpg"); }
  .product-menu .item-6 {
    background-image: url("../images/product-bg-5.jpg"); }
  .product-menu .item-7 {
    background-image: url("../images/product-bg-6.jpg"); }
  .product-menu .item-8 {
    background-image: url("../images/product-bg-7.jpg"); }

.info-block {
  background-color: #eef3f6;
  padding: 35px 0 30px; }

.company-news {
  background-color: #ffffff;
  padding: 22px; }
  .company-news .news {
    background: url("../images/divider-pattern.png") 0 100% repeat-x;
    padding-bottom: 2px;
    margin-bottom: 13.5px; }
    .company-news .news .date-time {
      color: #666666;
      font: 18px/20px "TextCond-Bold", sans-serif;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px; }
    .company-news .news .news-title {
      color: #000000;
      font: 18px/24px "TextCond-Bold", sans-serif;
      text-transform: uppercase; }
    .company-news .news p {
      line-height: 22px;
      margin-bottom: 13px;
      margin-top: 3px; }

.last-work {
  padding: 15px;
  background-color: #ffffff;
  overflow: hidden;
  text-align: center; }
  .last-work img {
    float: left;
    margin-right: 20px; }
  .last-work .title {
    text-align: left; }
    .last-work .title a {
      color: #000000;
      font: 18px/24px "TextCond-Bold", sans-serif;
      text-transform: uppercase; }
  .last-work p {
    font-family: "TextCond-Medium", sans-serif;
    line-height: 22px;
    margin-top: 8px;
    text-align: left;
    min-height: 245px;
    max-height: 245px;
    overflow: hidden; }

.how-we-work {
  padding: 45px 0; }
  .how-we-work .slogan {
    text-align: center;
    text-transform: uppercase;
    font: 24px/28px "TextCond-Bold", sans-serif;
    max-width: 860px;
    margin: 0 auto;
    padding: 0 20px; }

.how-work-body {
  text-align: center;
  margin-bottom: 30px; }
  .how-work-body div:nth-child(1), .how-work-body div:nth-child(2) {
    padding: 20px 10px 20px 30px; }
  .how-work-body div:nth-child(3), .how-work-body div:nth-child(4) {
    padding: 15px 10px 15px 30px; }
  .how-work-body > div {
    display: inline-block;
    vertical-align: top;
    min-height: 125px;
    width: 47%;
    margin: 1%;
    padding: 10px 50px 10px 30px;
    border: 12px solid #dce7ed;
    text-align: left;
    background-color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }
    .how-work-body > div:hover {
      background-color: #ffcb05; }
  .how-work-body .number {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #000000;
    width: 60px;
    height: 60px;
    padding-top: 2px;
    text-align: center;
    font: 54px/54px "TextCond-Bold", sans-serif;
    margin-right: 30px; }
  .how-work-body p {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    max-width: 350px; }

.production-base {
  background-color: #eef3f6;
  padding: 45px 0 30px; }

.production-body {
  padding: 15px;
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
  margin-top: 30px; }
  .production-body img {
    margin-right: 55px;
    float: left; }
  .production-body .title {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0px; }
    .production-body .title span {
      display: inline-block;
      max-width: 295px; }
    .production-body .title b {
      font: 84px/1em "TextCond-Bold", sans-serif;
      margin-right: 5px;
      vertical-align: baseline; }
  .production-body .list-wrap {
    text-align: left; }
  .production-body ul {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px; }
    .production-body ul > li {
      text-transform: uppercase;
      margin-bottom: 15px;
      position: relative;
      padding-left: 65px; }
      .production-body ul > li:before {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
        content: " ";
        width: 40px;
        height: 2px;
        background-color: #00b3f0; }

.advantages {
  overflow: hidden;
  padding: 40px 0 50px; }
  .advantages .block {
    float: left;
    width: 33.33333%;
    background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%);
    padding: 40px 40px 10px;
    margin-top: 20px;
    text-align: center; }
  .advantages span[class^="icon"] {
    display: block;
    margin: 0 auto 30px;
    width: 110px;
    height: 110px;
    border: 1px solid #000;
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    -ms-border-radius: 110px;
    border-radius: 110px;
    position: relative; }
    .advantages span[class^="icon"]:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: " ";
      background-image: url("../images/sprite.png"); }
  .advantages .icon-1:before {
    width: 58px;
    height: 49px;
    margin-top: -24.5px;
    margin-left: -29px;
    background-position: -5px -5px; }
  .advantages .icon-2:before {
    width: 44px;
    height: 57px;
    margin-top: -28.5px;
    margin-left: -22px;
    background-position: -73px -5px; }
  .advantages .icon-3:before {
    width: 61px;
    height: 58px;
    margin-top: -29px;
    margin-left: -30.5px;
    background-position: -127px -5px; }
  .advantages .title {
    text-transform: uppercase;
    font: 24px/1.1em "TextCond-Bold", sans-serif;
    margin-bottom: 10px; }

.clients-carousel {
  border: 5px solid #dce7ed;
  padding: 20px;
  position: relative;
  margin: 20px 0 30px; }
  .clients-carousel .owl-item {
    float: none;
    display: inline-block;
    vertical-align: middle; }
  .clients-carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -30px; }
    .clients-carousel .owl-nav > div {
      position: absolute;
      height: 60px;
      width: 18px;
      text-indent: 9999px;
      padding: 15px 10px; }
    .clients-carousel .owl-nav .owl-next {
      right: -15px;
      background: #ffffff url("../images/carousel-next.png") 0 50% no-repeat; }
    .clients-carousel .owl-nav .owl-prev {
      left: -15px;
      background: #ffffff url("../images/carousel-prev.png") 0 50% no-repeat; }

.order-wrap {
  background: url("../images/form-bg.jpg") 0 0 no-repeat;
  padding-top: 45px;
  margin-bottom: 35px; }

.order-form {
  text-align: center;
  margin-top: 37px; }
  .order-form div[class^="col"] {
    padding-left: 0;
    padding-right: 0; }
  .order-form .form-divider {
    width: 1px;
    height: 280px;
    background-color: #000000;
    margin: 0 auto; }
  .order-form .form-caption {
    font: 24px/1.1em "TextCond-Bold", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px; }
    .order-form .form-caption span {
      font: 18px/1.1em "TextCond-Regular", sans-serif;
      display: block;
      margin-top: 10px; }
  .order-form .text {
    font: 18px/1.2em "TextCond-Regular", sans-serif;
    text-align: center; }
  .order-form .number {
    color: #00b3f0;
    font: 60px/1.1em "TextCond-Regular", sans-serif;
    margin-bottom: 20px;
    text-decoration: none; }
    .order-form .number b {
      font-family: "TextCond-Bold", Arial, sans-serif; }
  .order-form .top-block {
    background-color: #ffffff;
    padding: 15px; }
    .order-form .top-block input[type="text"] {
      border: 1px solid #5d5d5d;
      width: 100%;
      margin-bottom: 13px; }
  .order-form .bottom-block {
    background-image: linear-gradient(-32deg, #ffcb05 0%, #faa61a 100%);
    padding: 30px; }
    .order-form .bottom-block .title {
      font: 32px/1.1em "TextCond-Bold", sans-serif;
      margin-bottom: 20px;
      text-transform: uppercase;
      display: block; }
    .order-form .bottom-block .btn {
      vertical-align: top; }
    .order-form .bottom-block form {
      margin-top: 35px; }
    .order-form .bottom-block input[type="text"] {
      max-width: 320px;
      margin-right: 25px;
      width: 100%;
      border: none; }

.about-us {
  margin-bottom: 25px; }
  .about-us p {
    max-width: 960px;
    margin: 0 auto;
    text-align: center; }

.caption {
  min-height: 260px;
  padding: 55px 140px;
  background: url("../images/about-bg.jpg") 50% 0 no-repeat;
  text-align: center;
  position: relative;
  margin-bottom: 30px; }
  .caption span {
    font: 32px/38px "TextCond-Bold", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 640px; }

.inner-advantages {
  padding-top: 50px;
  padding-bottom: 50px; }

.advantages-body {
  text-align: center;
  max-width: 320px;
  margin: 20px auto 0; }
  .advantages-body .title {
    text-transform: uppercase;
    font: 24px/1.2em "TextCond-Bold", sans-serif; }
  .advantages-body span[class^="icon"] {
    display: inline-block;
    width: 110px;
    height: 110px;
    border: 1px solid #000;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    margin-bottom: 20px; }
    .advantages-body span[class^="icon"]:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: " ";
      background-image: url("../images/sprite.png"); }
  .advantages-body .icon-location:before {
    margin-top: -24px;
    margin-left: -24px;
    width: 48px;
    height: 48px;
    background-position: -160px -79px; }
  .advantages-body .icon-clock:before {
    margin-top: -22px;
    margin-left: -22.5px;
    width: 45px;
    height: 44px;
    background-position: -105px -73px; }
  .advantages-body .icon-phone:before {
    margin-left: -22.5px;
    margin-top: -22px;
    width: 45px;
    height: 44px;
    background-position: -105px -73px; }
  .advantages-body .icon-1:before {
    width: 58px;
    height: 49px;
    background-position: -5px -5px;
    margin-top: -24.5px;
    margin-left: -29px; }
  .advantages-body .icon-2:before {
    width: 44px;
    height: 57px;
    background-position: -73px -5px;
    margin-left: -22px;
    margin-top: -28.5px; }
  .advantages-body .icon-3:before {
    width: 61px;
    height: 58px;
    background-position: -127px -5px;
    margin-top: -29px;
    margin-left: -30.5px; }

.contacts-advantages {
  margin-bottom: 30px; }
  .contacts-advantages .title {
    margin-bottom: 10px; }
  .contacts-advantages p {
    text-transform: uppercase; }
  .contacts-advantages .link {
    color: #000000;
    text-transform: uppercase; }

.map {
  height: 400px;
  margin-bottom: 55px; }

.news-list {
  margin-bottom: 20px;
  font: 14px Verdana, sans-serif;
  word-spacing: -0.36em; }
  .news-list > li {
    word-spacing: normal;
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-bottom: 20px; }
  .news-list .news-body {
    overflow: hidden;
    margin-top: 20px; }
  .news-list .date {
    float: left;
    margin-right: 30px;
    padding: 3px 14px;
    border: 1px solid #636363;
    color: #636363;
    text-align: center;
    font: 18px/1.1em "TextCond-Regular", sans-serif; }
    .news-list .date b {
      font: 38px/1.1em "TextCond-Bold", sans-serif;
      display: block; }
  .news-list .news-title {
    padding-left: 95px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font: 18px/1.2em "TextCond-Bold", sans-serif; }
    .news-list .news-title a {
      color: #000000; }
  .news-list p {
    padding-left: 95px;
    font: 18px/1.2em "TextCond-Regular", sans-serif;
    margin-bottom: 10px; }

.signboard-list {
  font: 14px Verdana, sans-serif;
  word-spacing: -0.36em;
  margin-bottom: 30px; }
  .signboard-list .img-wrap {
    display: block;
    margin-bottom: 20px;
    background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%);
    min-height: 260px;
    line-height: 260px;
    text-align: center;
    padding: 10px 20px; }
    .signboard-list .img-wrap a {
      display: inline-block;
      line-height: initial; }
    .signboard-list .img-wrap img {
      display: inline-block; }
  .signboard-list > li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    word-spacing: normal;
    font: 18px/1.2em "TextCond-Regular", sans-serif; }
  .signboard-list .signboard-title {
    text-transform: uppercase;
    font: 18px/1.1em "TextCond-Bold", sans-serif;
    display: inline-block;
    margin-bottom: 8px;
    color: #000000;
    text-decoration: none; }
    .signboard-list .signboard-title:hover {
      text-decoration: underline; }
  .signboard-list .block-info {
    margin-bottom: 20px; }
    .signboard-list .block-info p {
      margin-bottom: 0; }
    .signboard-list .block-info span {
      display: inline-block;
      min-width: 160px; }

/* Fancybox
 *------------------------------------- */
.f-gallery {
  margin: 20px 0; }

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap iframe, .fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-nav {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }
  .fancybox-nav span {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top; }

.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }
  .fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer {
  position: relative; }

.fancybox-inner {
  position: relative;
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }
  #fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url("../images/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }
  .fancybox-lock body {
    overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }
  .fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics! */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image */ }

  #fancybox-loading div {
    background-image: url("../images/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image */ } }
/*----------- media style *
 * ------------------------------------------------------------ */
@media only screen and (max-width: 1200px) {
  .navbar-default {
    width: 422px; }
    .navbar-default .navbar-nav > li {
      width: 33.3333%;
      text-align: center; }
      .navbar-default .navbar-nav > li > a {
        padding: 21.5px 5px; }

  .hedaer-nav .header-navigation {
    margin-left: 0; }
    .hedaer-nav .header-navigation > li > a {
      padding: 23px 16px 13px;
      font-size: 17px; }

  .head-info {
    width: 391px;
    padding-bottom: 10px; }
    .head-info .btn {
      margin-top: 20px; }

  .logo {
    width: 92px; }

  .product-menu {
    text-align: center; }
    .product-menu > li {
      width: 32%; }

  .footer-top ul {
    max-width: 355px; }
    .footer-top ul > li > a {
      font-size: 17px; }

  .footer-top .container > div {
    margin-right: 20px; }

  .carousel-caption .caption-title {
    font-size: 100px; }
    .carousel-caption .caption-title span {
      font-size: 36px;
      line-height: 40px;
      max-width: 700px; }

  .carousel-inner > .item > img {
    min-height: 450px; }

  .last-work {
    min-height: 445px; }
    .last-work p {
      min-height: 160px;
      max-height: 445px; }
    .last-work img {
      width: 360px; }

  .how-work-body p {
    max-width: 290px; }

  .production-body {
    text-align: left; }
    .production-body .btn-wrap {
      width: 450px;
      float: right;
      text-align: center; }
    .production-body img {
      max-width: 450px;
      margin-bottom: 15px; }

  .order-form .number {
    font-size: 48px; }
  .order-form .bottom-block input[type="text"] {
    max-width: 300px; }

  .works-list .img-wrap .item-hover {
    line-height: 220px; }

  .news-list .news-title, .news-list p {
    padding-left: 82px; }
  .news-list .date {
    margin-right: 15px; } }
@media only screen and (max-width: 992px) {
  .head-info .phone-icon {
    display: none; }

  .hedaer-nav .header-navigation > li > a {
    padding: 23px 9px 13px;
    font-size: 14px; }

  .navbar-default {
    width: 332px; }

  .head-info {
    width: 296px;
    padding-left: 20px; }

  .product-menu {
    text-align: center; }
    .product-menu > li {
      width: 32%;
      min-height: 275px; }
      .product-menu > li .product-body {
        padding: 85px 20px 30px;
        min-height: 275px; }

  .footer-top .footer-nav {
    margin-left: 150px; }
  .footer-top .container > div {
    margin-right: 55px;
    margin-bottom: 25px; }

  .footer-bottom .develop {
    min-width: 310px; }
  .footer-bottom p {
    font-size: 16px; }

  .carousel-control.left {
    left: 5%; }

  .carousel-control.right {
    right: 5%; }

  .carousel-caption .caption-title {
    font-size: 80px; }
    .carousel-caption .caption-title span {
      font-size: 28px;
      line-height: 32px;
      max-width: 600px; }

  .carousel-inner > .item > img {
    min-height: 400px; }

  .last-work {
    min-height: 100%; }
    .last-work p {
      min-height: 159px;
      max-height: 100%; }
    .last-work img {
      width: 360px; }

  .company-news {
    margin-bottom: 25px; }

  .how-work-body div:nth-child(3), .how-work-body div:nth-child(4), .how-work-body div:nth-child(1), .how-work-body div:nth-child(2) {
    padding: 10px 15px; }
  .how-work-body > div {
    min-height: 206px; }
  .how-work-body .number {
    margin-bottom: 10px; }

  .order-form .bottom-block input[type="text"] {
    max-width: 215px;
    margin-right: 10px; }
  .order-form .number {
    font-size: 46px; }

  .works-list .img-wrap .item-hover {
    line-height: 227px; }

  .aside-menu {
    text-align: center;
    margin: 20px auto 20px; }
    .aside-menu > li {
      display: inline-block;
      max-width: 220px;
      margin: 20px 20px; }

  .aside-nav {
    text-align: center; }
    .aside-nav > li {
      display: inline-block;
      margin: 15px; }

  .production-body {
    text-align: left; }
    .production-body .btn-wrap {
      width: 100%;
      float: none;
      text-align: center; }
    .production-body img {
      max-width: 100%;
      float: none;
      margin-bottom: 15px; } }
@media only screen and (max-width: 767px) {
  body, html {
    height: auto; }

  #wrapper {
    min-width: 1px;
    margin-bottom: 0px; }

  .page-buffer {
    display: none; }

  .footer {
    height: auto; }

  .title-h2 {
    font-size: 28px; }

  .btn {
    height: 40px;
    line-height: 40px;
    font-size: 16px; }

  .header-top {
    background: none;
    box-shadow: 0px 2px 8px rgba(191, 191, 191, 0.65);
    position: relative;
    z-index: 11; }

  .logo {
    width: 88px; }

  .head-info {
    width: 68%;
    margin: 0 auto;
    float: none;
    text-align: center;
    padding: 40px 0 0; }
    .head-info .btn {
      margin-top: 0;
      vertical-align: middle;
      margin-bottom: 15px; }
    .head-info .number {
      color: #000000;
      vertical-align: middle;
      margin-bottom: 15px;
      margin-top: 0; }

  .navbar-default {
    width: 100%;
    position: relative;
    top: -84px;
    height: 30px;
    min-height: 100%; }
    .navbar-default .navbar-toggle {
      margin-right: 0;
      position: absolute;
      top: 20px;
      right: 0; }
    .navbar-default .navbar-collapse {
      margin-right: -15px;
      margin-left: -15px;
      text-align: center;
      margin-top: 58px;
      border: none;
      box-shadow: none;
      position: relative;
      top: 57px;
      z-index: 10;
      box-shadow: inset 0 8px 8px -6px rgba(191, 191, 191, 0.65), inset 0 -8px 8px -20px rgba(191, 191, 191, 0.65); }
    .navbar-default .navbar-nav {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      margin-top: 10px; }
      .navbar-default .navbar-nav > li {
        width: initial;
        display: inline-block;
        float: none; }
        .navbar-default .navbar-nav > li > a {
          padding: 14px 10px; }

  .hedaer-nav .header-navigation {
    text-align: center; }
    .hedaer-nav .header-navigation > li {
      float: none;
      display: inline-block; }
      .hedaer-nav .header-navigation > li > a {
        padding: 23px 10px 13px;
        font-size: 13px; }

  .product-menu > li {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%; }

  .owl-carousel .owl-item img {
    width: initial;
    margin: 0 auto; }

  .footer-bottom .copyright {
    width: 100%;
    margin-bottom: 10px; }
  .footer-bottom .develop {
    padding-left: 20px;
    width: 100%; }
    .footer-bottom .develop a {
      display: inline-block;
      vertical-align: middle; }
  .footer-bottom p {
    float: none;
    display: inline-block;
    vertical-align: middle; }

  .footer {
    text-align: center; }

  .footer-top .logo img {
    display: inline-block; }
  .footer-top ul {
    max-width: 100%; }
  .footer-top .container > div {
    margin: 0 20px 20px; }
  .footer-top .footer-nav {
    margin-left: 0px; }

  .carousel-caption .caption-title {
    padding: 0 20px; }

  .carousel-control.right, .carousel-control.left {
    display: none; }

  .last-work p {
    min-height: 122px; }
  .last-work img {
    width: 300px; }

  .how-we-work .slogan {
    font-size: 20px;
    line-height: 22px; }

  .advantages .block {
    padding: 15px;
    min-height: 348px; }

  .order-form div[class^="col"] {
    padding-left: 15px;
    padding-right: 15px; }
  .order-form .form-divider {
    display: none; }
  .order-form .bottom-block {
    padding: 15px; }
    .order-form .bottom-block .title {
      font-size: 28px; }
    .order-form .bottom-block form {
      max-width: 360px;
      margin: 0 auto; }
      .order-form .bottom-block form input[type="text"] {
        margin-bottom: 10px;
        width: 100%;
        max-width: 100%; }

  .works-list .img-wrap .item-hover {
    display: none; }

  .work-body {
    max-width: 400px;
    margin: 0 auto 25px; }

  .caption span {
    font-size: 22px;
    line-height: 26px; }

  .map {
    height: 350px; }

  .news-list {
    text-align: center; }
    .news-list .news-block {
      max-width: 310px;
      text-align: left;
      margin: 0 auto 10px; }

  .signboard-list {
    text-align: center; }
    .signboard-list > li {
      text-align: left; }
    .signboard-list .block-info span {
      min-width: 215px; }

  .signboard-body {
    max-width: 500px;
    margin: 0 auto 20px; } }
@media only screen and (max-width: 600px) {
  .last-work p {
    min-height: 100%; }
  .last-work img {
    float: none; }
  .last-work > div {
    width: 100%;
    margin-top: 20px; }

  .how-work-body .number {
    margin-right: 10px; }
  .how-work-body p {
    max-width: 70%; }
  .how-work-body > div {
    width: 70%;
    min-height: 100%; }

  .production-body .title span {
    max-width: 250px; }
  .production-body .title b {
    font-size: 68px; }

  .advantages span[class^="icon"] {
    margin-bottom: 20px;
    width: 90px;
    height: 90px; }
  .advantages .block {
    padding: 15px;
    min-height: 100%;
    width: 100%;
    max-width: 380px;
    margin: 0 auto 15px;
    float: none; }

  .aside-nav {
    max-width: 250px;
    margin: 0 auto 15px; } }
@media only screen and (max-width: 479px) {
  h1, .site-h1-tt {
    font-size: 24px; }

  .title-h2 {
    font-size: 24px; }
    .title-h2 .title-icon {
      margin-top: 0; }

  .pagination > li > a {
    margin: 0 4px 5px; }

  .head-info {
    width: 80%;
    padding-top: 0px; }

  .logo {
    height: 100%;
    float: none;
    margin: 0 auto 15px; }

  .hedaer-nav .header-navigation > li {
    width: 49%; }
    .hedaer-nav .header-navigation > li > a {
      padding-top: 15px;
      padding-bottom: 10px; }

  .navbar-default {
    top: -27px; }
    .navbar-default .navbar-toggle {
      position: static; }
    .navbar-default .navbar-collapse {
      top: 0px;
      margin-top: 0; }
    .navbar-default .navbar-nav > li {
      width: 100%; }
      .navbar-default .navbar-nav > li > a {
        padding: 10px; }

  .footer-top .container > div {
    width: 100%;
    margin: 0 0 15px; }

  .carousel {
    display: none; }

  .product-menu {
    text-align: center; }
    .product-menu > li {
      width: 100%;
      max-width: 380px;
      margin: 0 auto 15px;
      min-height: 150px; }
      .product-menu > li .product-body {
        min-height: 150px;
        padding: 22px 15px; }
        .product-menu > li .product-body span[class^="icon"] {
          margin-bottom: 15px; }

  .how-work-body > div {
    width: 95%; }

  .production-body ul > li {
    padding-left: 55px;
    font-size: 16px; }
  .production-body .title span {
    max-width: 180px;
    font-size: 14px;
    line-height: 18px; }
  .production-body .title b {
    font-size: 55px; }

  .order-form .number {
    font-size: 40px; }
  .order-form .bottom-block .title {
    font-size: 21px; }

  .map {
    display: none; }

  .signboard-list .block-info span {
    min-width: 150px; } }

/*# sourceMappingURL=main.css.map */
