@import partials/reset
@import partials/fonts
@import partials/mixins
@import partials/const
@import partials/typography
@import partials/buttons
@import partials/forms



/*----------- Page structur *
 ------------------------------------------------------------*/
.clear 
  clear: both

.clear:after 
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

#wrapper
  position: relative
  overflow: hidden
  min-width: 320px
  margin-bottom: -260px
  min-height: 100%

.page-buffer
  height: 260px

.sub-title
  color: $blue
  font: 24px/1.2em 'TextCond-Bold', sans-serif
  text-transform: uppercase
  position: relative
  padding-left: 45px
  &:before
    position: absolute
    top: 0
    left: 0
    content: ' '
    width: 26px
    height: 26px
    background: url('../images/sprite.png') -5px -224px no-repeat



.title-h2
  color: $blue
  font: 32px/1.2em 'TextCond-Bold', sans-serif
  text-transform: uppercase
  position: relative
  text-align: center
  .title-icon
    display: inline-block
    vertical-align: top
    margin-top: 5px
    margin-right: 25px
    width: 26px
    height: 26px
    background: url('../images/sprite.png') -5px -224px no-repeat

.title-left
  text-align: left

ul.inline-format 
  font: 14px Verdana, sans-serif
  word-spacing: -.36em

ul.inline-format li 
  word-spacing: normal

.pagination-wrap
  text-align: center
  margin-bottom: 40px

.pagination
  .active > a   
    color: #ffffff 
    background-color: $blue 
    border-color: $blue 
  > li
    > a
      border: 1px solid $blue 
      font: 18px/18px 'TextCond-Bold', sans-serif
      color: $blue 
      +border-radius(0px)
      margin: 0 6px 8px
      padding: 3px 8px
      float: none
      display: inline-block

      transition: all 0.1s ease
      -webkit-transition: all 0.1s ease
      -moz-transition: all 0.1s ease
      &:first-child
        +border-radius(0px)
      &:last-child
        +border-radius(0px)
      &:hover 
        color: #ffffff 
        background-color: $blue 
        border-color: $blue 


.breadcrumb 
  +border-radius(0px)
  background: none
  margin-bottom: 15px
  padding: 15px 0 0
  > li + li:before
    content: '>'
    color: #000000
    padding: 0 5px 0 3px
  > li
    font: 18px/1.1em 'TextCond-Regular', sans-serif
    display: inline
    > a 
      color: #23bbf1
  li.active 
    color: #000000

.grey-wrap
  background-color: #eef3f6
  margin-top: 25px

/*----------- Table structur *
 ------------------------------------------------------------*/
.table-base
  text-align: center
  width: 100%

/*----------- header *
 ------------------------------------------------------------*/
.header
  position: relative
  background-color: #fff
  
.logo
  float: left
  height: 70px

.hedaer-nav
  background-color: #eef3f6
  overflow: hidden
  .header-navigation
    margin-left: 106px
    overflow: hidden
    margin-bottom: 0
    li.active
      background-color: $yellow
    > li 
      float: left
      > a 
        text-transform: uppercase
        display: block
        color: #000000
        font: 18px 'TextCond-Bold', sans-serif  
        padding: 23px 19px 13px
        text-decoration: none
        &:hover
          background-color: $yellow


.header-top
  background: rgb(255,255,255)
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(37,37,37,1) 57%, rgba(37,37,37,1) 100%)
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 57%,rgba(37,37,37,1) 57%,rgba(37,37,37,1) 100%)
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 57%,rgba(37,37,37,1) 57%,rgba(37,37,37,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#252525',GradientType=1 )

.head-info
  width: 502px
  float: right
  overflow: hidden
  .btn 
    vertical-align: top
    margin-top: 10px
  .phone-icon
    background-color: $yellow
    width: 70px
    height: 70px
    display: block
    float: left
    margin-right: 20px
    position: relative
    &:before
      position: absolute
      content: ' '
      width: 33px
      height: 33px
      top: 50%
      left: 50%
      margin-left: -16.5px
      margin-top: -16.5px
      background: url('../images/sprite.png') -222px -181px no-repeat

  .number
    display: inline-block
    text-decoration: none
    margin-top: 15px
    margin-right: 19px
    color: #ffffff
    font: 24px/24px 'TextCond-Regular', sans-serif  
    text-decoration: none
    b 
      font: 34px/34px 'TextCond-Bold', sans-serif  



.navbar-default
  float: left
  height: 70px
  background: none
  margin-bottom: 0
  +border-radius(0px)
  border: none
  .navbar-collapse
    padding-left: 10px
    padding-right: 10px
    background-color: #ffffff

  .navbar-toggle 
    background: none
    +border-radius(0px)
    border: none
    &:hover, &:focus 
      background: none

    .icon-bar
      width: 30px
      height: 5px 
      +border-radius(0px)
      background-color: #000000

  .navbar-nav
    > li 
      > a 
        padding: 24px 11px
        color: #191919
        font: 18px 'TextCond-Regular', sans-serif  
        &:hover
          background-color: #eef3f6

/*----------- aside *
 ------------------------------------------------------------*/

.aside-nav
  background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%)
  margin: 0 auto 15px 
  padding: 15px 10px
  li.active > a   
    color: #ffffff
    text-decoration: none
    &:hover 
      text-decoration: underline
  > li 
    margin: 10px 0 15px
    > a 
      font: 18px/20px 'TextCond-Bold', sans-serif  
      color: #000000
      text-transform: uppercase
      text-decoration: underline
      &:hover 
        text-decoration: none

.aside-menu
  margin-top: 50px
  > li 
    text-align: center
    margin-bottom: 60px
    &:hover a[class^="menu-icon"]
      background-color: $blue 
      border-color: $blue 
    &:hover a 
      color: $blue 
    &:hover .menu-icon-1:before 
      background-position: -222px -134px
    &:hover .menu-icon-2::before 
      background-position: -218px -86px


    > a 
      text-transform: uppercase
      color: #000000
      font: 17px/18px 'TextCond-Bold', sans-serif  
      text-decoration: none        

    > a[class^="menu-icon"]
      display: block
      width: 100px
      height: 100px
      margin: 0 auto 20px
      border: 1px solid #000
      +border-radius(100px)
      position: relative
      // transition: all 0.2s ease
      // -webkit-transition: all 0.2s ease
      // -moz-transition: all 0.2s ease        

      &:before
        position: absolute
        content: ' '
        top: 50%
        left: 50%
        background-image: url("../images/sprite.png")

  .menu-icon-1:before
    margin-left: -14px
    margin-top: -18.5px
    width: 28px
    height: 37px
    background-position: -105px -137px

  .menu-icon-2:before
    margin-top: -19px
    margin-left: -15px
    width: 30px
    height: 38px
    background-position: -105px -180px


.works-list
  margin-bottom: 30px
  > li
    margin-bottom: 15px
    .work-body
      &:hover .item-hover
        opacity: 1 
        transition: all 0.2s ease
        -webkit-transition: all 0.2s ease
        -moz-transition: all 0.2s ease
      &:hover .work-title
        color: $blue 
      &:hover p  
        color: $blue


    .work-title
      color: #000000
      text-transform: uppercase
      font: 18px/20px 'TextCond-Bold', sans-serif 
      display: inline-block
      margin-bottom: 8px
      text-decoration: none

  .img-wrap
    margin-bottom: 20px
    position: relative
    .btn 
      color: #ffffff 
      border-color: #ffffff
      background: transparent
      min-width: 240px
      &:hover 
        background-color: rgba(#ffffff, 0.9)
        color: #222222

    .item-hover
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-color: rgba($blue, 0.3)
      line-height: 300px
      text-align: center
      opacity: 0

      transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease


.stand-list
  > li 
    margin-bottom: 30px

/*----------- Footer *
 ------------------------------------------------------------*/
.footer
  width: 100%
  height: 260px
  position: relative
  z-index: 10
  padding-top: 15px
  font-size: 18px
  .logo 
    float: none
    display: inline-block
    height: 100%
    vertical-align: top

.footer-top
  background: #eef3f6
  padding: 25px 0

  .long-menu
    > li 
      display: inline-block
      min-width: 175px
  
  .contacts
    .footer-number
      font: 24px 'TextCond-Bold', sans-serif 
      display: block
      color: #000000
      margin-bottom: 7px
      text-decoration: none
    p 
      margin-bottom: 10px
    .mail
      font: 18px 'TextCond-Regular', sans-serif 
      color: $blue

  .footer-nav
    max-width: 103px
    > a 
      display: inline-block
      margin-bottom: 27px

  .container > div 
    display: inline-block
    margin-right: 50px
    vertical-align: top
    &:last-child  
      margin-right: 0

  .title
    text-transform: uppercase
    color: $blue 
    font: 18px 'TextCond-Bold', sans-serif  
    margin-bottom: 15px
    display: inline-block

  ul 
    max-width: 360px
    margin-bottom: 0
    > li 
      margin-bottom: 7px
      > a 
        color: #000000
        font: 18px 'TextCond-Regular', sans-serif  

.footer-bottom
  background-color: #252525
  overflow: hidden
  color: #ffffff
  p 
    margin-bottom: 0
    margin-top: 20px
    float: left
  a 
    color: #ffffff

  .copyright
    float: left
  .develop
    float: right
    min-width: 350px
    img 
      float: right
      margin-left: 20px

/*----------- Main blocks *
 ------------------------------------------------------------*/

.carousel-inner
  > .item
    > img
      min-height: 480px

.carousel-caption
  text-shadow: none
  position: absolute
  top: 38%
  left: 50%
  transform: translate(-50%, -50%)
  text-transform: uppercase
  max-width: 1170px
  width: 100%

  .caption-title
    font: 120px/1.1em 'TextCond-Bold', sans-serif  
    display: block
    margin-bottom: 20px 
    span 
      display: block
      max-width: 875px
      margin: 0 auto
      font: 48px/48px 'TextCond-Regular', sans-serif  

.carousel-caption.black
  color: #000000

.carousel-caption.white
  color: #ffffff

.carousel-control
  top: 50%
  margin-top: -36px
  width: 40px
  height: 72px
  background-repeat: no-repeat
  opacity: 0.7

.carousel-control.left
  background-position: -55px -73px
  background-image: url('../images/sprite.png')
  left: 10%

.carousel-control.right
  background-position: -5px -73px
  background-image: url('../images/sprite.png')
  right: 10%

.carousel-indicators
  > li 
    width: 23px
    height: 23px
    border: 1px solid #ffffff
    +border-radius(0px)
    margin: 0 7px
    &:hover
      background-color: $yellow

  .active
    width: 23px
    height: 23px
    margin: 0 7px
    background-color: $yellow
    border: 1px solid #ffffff
    


.product-menu
  overflow: hidden
  margin: 35px 0
  > li 
    margin: 0 0.5% 14px
    width: 24%
    vertical-align: top
    min-height: 300px
    display: inline-block
    background: url('../images/product-bg-1.jpg') 0 0 no-repeat
    background-size: cover
    &:first-child
      background-image: none
      background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%)
      .product-title
        color: #000

    &:first-child:hover
      background-image: linear-gradient(180deg, #ffcb05 0%, #faa61a 100%)

    &:first-child .product-body:before 
      display: none

    .product-body
      padding:  100px 45px 50px
      min-height: 300px
      display: block
      text-align: center
      text-decoration: none
      position: relative
      
      &:before
        position: absolute
        left: 0
        top: 0
        content: ' '
        width: 100%
        height: 100%
        background-color: rgba(#00b3f0, 0.2)
        opacity: 0

        transition: all 0.2s ease
        -webkit-transition: all 0.2s ease
        -moz-transition: all 0.2s ease

      &:hover:before
        opacity: 1


    span[class^="icon"]
      display: inline-block
      background-image: url('../images/sprite.png')
      background-repeat: no-repeat
      margin-bottom: 50px

    .icon-1
      width: 28px
      height: 37px
      background-position: -105px -137px
    .icon-2
      width: 39px
      height: 33px
      background-position: -143px -137px
    .icon-3
      width: 39px
      height: 34px
      background-position: -5px -180px
    .icon-4
      width: 39px
      height: 33px
      background-position: -54px -180px
    .icon-5
      width: 20px
      height: 41px
      background-position: -192px -137px
    .icon-6
      width: 39px
      height: 35px
      background-position: -143px -180px
    .icon-7
      width: 39px
      height: 33px
      background-position: -226px -5px
    .icon-8
      width: 39px
      height: 33px
      background-position: -226px -5px

    .product-title
      display: block
      max-width: 176px
      margin: 0 auto
      font: 24px/1.2em 'TextCond-Medium', sans-serif
      color: #ffffff
      text-transform: uppercase

  .item-2
    background-image: url('../images/product-bg-1.jpg')
  .item-3
    background-image: url('../images/product-bg-2.jpg')
  .item-4
    background-image: url('../images/product-bg-3.jpg')
  .item-5
    background-image: url('../images/product-bg-4.jpg')
  .item-6
    background-image: url('../images/product-bg-5.jpg')
  .item-7
    background-image: url('../images/product-bg-6.jpg')
  .item-8
    background-image: url('../images/product-bg-7.jpg')


.info-block
  background-color: #eef3f6
  padding: 35px 0 30px

.company-news
  background-color: #ffffff
  padding: 22px
  .news
    background: url('../images/divider-pattern.png') 0 100% repeat-x
    padding-bottom: 2px
    margin-bottom: 13.5px
    .date-time
      color: #666666
      font: 18px/20px 'TextCond-Bold', sans-serif
      text-transform: uppercase
      display: block
      margin-bottom: 10px
    .news-title
      color: #000000
      font: 18px/24px 'TextCond-Bold', sans-serif
      text-transform: uppercase
    p 
      line-height: 22px
      margin-bottom: 13px
      margin-top: 3px

.last-work
  padding: 15px 
  background-color: #ffffff
  overflow: hidden
  text-align: center

  img
    float: left
    margin-right: 20px
  .title 
    text-align: left
    a
      color: #000000
      font: 18px/24px 'TextCond-Bold', sans-serif
      text-transform: uppercase

  p 
    font-family: 'TextCond-Medium', sans-serif
    line-height: 22px
    margin-top: 8px
    text-align: left
    min-height: 245px
    max-height: 245px
    overflow: hidden

.how-we-work
  padding: 45px 0
  .slogan
    text-align: center
    text-transform: uppercase
    font: 24px/28px 'TextCond-Bold', sans-serif
    max-width: 860px
    margin: 0 auto
    padding: 0 20px

.how-work-body
  text-align: center
  margin-bottom: 30px
  div:nth-child(1), div:nth-child(2)
    padding: 20px 10px 20px  30px
  div:nth-child(3), div:nth-child(4)
    padding: 15px 10px 15px 30px

  > div 
    display: inline-block
    vertical-align: top
    min-height: 125px
    width: 47%
    margin: 1%
    padding: 10px 50px 10px 30px
    border: 12px solid #dce7ed
    text-align: left
    background-color: #ffffff

    transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease
    &:hover
      background-color: $yellow 

  .number 
    display: inline-block
    vertical-align: middle
    border: 1px solid #000000
    width: 60px
    height: 60px
    padding-top: 2px
    text-align: center
    font: 54px/54px 'TextCond-Bold', sans-serif
    margin-right: 30px

  p 
    margin-bottom: 0
    display: inline-block
    vertical-align: middle
    max-width: 350px

.production-base
  background-color: #eef3f6
  padding: 45px 0 30px

.production-body
  padding: 15px
  overflow: hidden
  background-color: #ffffff
  text-align: center
  margin-top: 30px
  img 
    margin-right: 55px
    float: left
  .title
    text-transform: uppercase
    text-align: left
    margin-bottom: 0px
    span
      display: inline-block
      max-width: 295px
    b   
      font: 84px/1em 'TextCond-Bold', sans-serif
      margin-right: 5px
      vertical-align: baseline

  .list-wrap
    text-align: left
  ul 
    text-align: left
    display: inline-block
    margin-left: 20px
    margin-top: 10px
    > li 
      text-transform: uppercase
      margin-bottom: 15px
      position: relative
      padding-left: 65px
      &:before
        position: absolute
        left: 0
        top: 50%
        margin-top: -1px
        content: ' '
        width: 40px
        height: 2px
        background-color: $blue 

.advantages
  overflow: hidden
  padding: 40px 0 50px
  .block
    float: left
    width: 33.33333333%
    background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%)
    padding: 40px 40px 10px
    margin-top: 20px
    text-align: center

  span[class^="icon"]
    display: block
    margin: 0 auto 30px 
    width: 110px
    height: 110px 
    border: 1px solid #000
    +border-radius(110px)
    position: relative
    &:before
      position: absolute
      top: 50%
      left: 50%
      content: ' '
      background-image: url('../images/sprite.png')

  .icon-1:before
    width: 58px
    height: 49px
    margin-top: -24.5px
    margin-left: -29px
    background-position: -5px -5px
  .icon-2:before
    width: 44px
    height: 57px
    margin-top: -28.5px
    margin-left: -22px
    background-position: -73px -5px
  .icon-3:before
    width: 61px
    height: 58px
    margin-top: -29px
    margin-left: -30.5px
    background-position: -127px -5px

  .title
    text-transform: uppercase
    font: 24px/1.1em 'TextCond-Bold', sans-serif
    margin-bottom: 10px


.clients-carousel
  border: 5px solid #dce7ed
  padding: 20px
  position: relative
  margin: 20px 0 30px
  .owl-item
    float: none
    display: inline-block
    vertical-align: middle

  .owl-nav
    position: absolute
    width: 100%
    top: 50%
    left: 0
    margin-top: -30px
    > div
      position: absolute
      height: 60px
      width: 18px
      text-indent: 9999px
      padding: 15px 10px

    .owl-next
      right: -15px
      background: #ffffff url('../images/carousel-next.png') 0 50% no-repeat
    .owl-prev
      left: -15px
      background: #ffffff url('../images/carousel-prev.png') 0 50% no-repeat

.order-wrap
  background: url('../images/form-bg.jpg') 0 0 no-repeat
  padding-top: 45px
  margin-bottom: 35px

.order-form
  text-align: center
  margin-top: 37px

  div[class^="col"]
    padding-left: 0
    padding-right: 0

  .form-divider
    width: 1px
    height: 280px
    background-color: #000000
    margin: 0 auto

  .form-caption
    font: 24px/1.1em 'TextCond-Bold', sans-serif
    text-align: center
    text-transform: uppercase
    margin-top: 20px
    margin-bottom: 20px
    span 
      font: 18px/1.1em 'TextCond-Regular', sans-serif
      display: block
      margin-top: 10px

  .text
    font: 18px/1.2em 'TextCond-Regular', sans-serif
    text-align: center

  .number
    color: $blue 
    font: 60px/1.1em 'TextCond-Regular', sans-serif
    margin-bottom: 20px
    text-decoration: none
    b 
      font-family: 'TextCond-Bold',Arial,sans-serif

  .top-block
    background-color: #ffffff
    padding: 15px
    input[type="text"]
      border: 1px solid #5d5d5d
      width: 100%
      margin-bottom: 13px

  .bottom-block
    background-image: linear-gradient(-32deg, #ffcb05 0%, #faa61a 100%)
    padding: 30px
    .title
      font: 32px/1.1em 'TextCond-Bold', sans-serif
      margin-bottom: 20px
      text-transform: uppercase
      display: block
    
    .btn 
      vertical-align: top

    form
      margin-top: 35px

    input[type="text"]
      max-width: 320px
      margin-right: 25px
      width: 100%
      border: none

.about-us
  margin-bottom: 25px
  p 
    max-width: 960px
    margin: 0 auto
    text-align: center

.caption
  min-height: 260px 
  padding: 55px 140px
  background: url('../images/about-bg.jpg') 50% 0 no-repeat
  text-align: center
  position: relative
  margin-bottom: 30px
  span 
    font: 32px/38px 'TextCond-Bold', sans-serif
    color: #ffffff
    text-transform: uppercase
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    max-width: 640px

.inner-advantages 
  padding-top: 50px
  padding-bottom: 50px

.advantages-body
  text-align: center
  max-width: 320px 
  margin: 20px auto 0

  .title
    text-transform: uppercase
    font: 24px/1.2em 'TextCond-Bold', sans-serif

  span[class^="icon"]
    display: inline-block
    width: 110px
    height: 110px
    border: 1px solid #000
    +border-radius(100px)
    position: relative
    margin-bottom: 20px 
    &:before
      position: absolute
      top: 50%
      left: 50%
      content: ' '
      background-image: url("../images/sprite.png")

  .icon-location:before
    margin-top: -24px 
    margin-left: -24px
    width: 48px
    height: 48px
    background-position: -160px -79px
  .icon-clock:before
    margin-top: -22px
    margin-left: -22.5px
    width: 45px
    height: 44px
    background-position: -105px -73px
  .icon-phone:before
    margin-left: -22.5px
    margin-top: -22px 
    width: 45px
    height: 44px
    background-position: -105px -73px

  .icon-1:before
    width: 58px
    height: 49px
    background-position: -5px -5px
    margin-top: -24.5px 
    margin-left: -29px
  .icon-2:before
    width: 44px
    height: 57px
    background-position: -73px -5px
    margin-left: -22px 
    margin-top: -28.5px 
  .icon-3:before
    width: 61px
    height: 58px
    background-position: -127px -5px
    margin-top: -29px
    margin-left: -30.5px


.contacts-advantages
  margin-bottom: 30px
  .title
    margin-bottom: 10px
  p 
    text-transform: uppercase

  .link 
    color: #000000
    text-transform: uppercase

.map
  height: 400px
  margin-bottom: 55px

.news-list
  margin-bottom: 20px
  font: 14px Verdana, sans-serif
  word-spacing: -.36em
  > li 
    word-spacing: normal
    display: inline-block
    vertical-align: top
    float: none
    margin-bottom: 20px

  .news-body
    overflow: hidden
    margin-top: 20px
  .date 
    float: left
    margin-right: 30px
    padding: 3px 14px 
    border: 1px solid #636363
    color: #636363
    text-align: center
    font: 18px/1.1em 'TextCond-Regular', sans-serif
    b 
      font: 38px/1.1em 'TextCond-Bold', sans-serif
      display: block

  .news-title
    padding-left: 95px
    text-transform: uppercase
    margin-bottom: 8px
    font: 18px/1.2em 'TextCond-Bold', sans-serif
    a 
      color: #000000

  p 
    padding-left: 95px
    font: 18px/1.2em 'TextCond-Regular', sans-serif
    margin-bottom: 10px


.signboard-list
  font: 14px Verdana, sans-serif
  word-spacing: -.36em
  margin-bottom: 30px
  .img-wrap
    display: block
    margin-bottom: 20px
    background-image: linear-gradient(140deg, #ffcb05 0%, #faa61a 100%)
    min-height: 260px
    line-height: 260px
    text-align: center
    padding: 10px 20px
    a 
      display: inline-block
      line-height: initial
    img 
      display: inline-block

  > li 
    float: none
    display: inline-block
    vertical-align: top
    margin-bottom: 10px
    word-spacing: normal
    font: 18px/1.2em 'TextCond-Regular', sans-serif
  .signboard-title
    text-transform: uppercase
    font: 18px/1.1em 'TextCond-Bold', sans-serif
    display: inline-block
    margin-bottom: 8px
    color: #000000
    text-decoration: none
    &:hover 
      text-decoration: underline
  .block-info
    margin-bottom: 20px
    p 
      margin-bottom: 0
    span 
      display: inline-block
      min-width: 160px

@import partials/plugins
@import partials/media