@import url(../fonts/index.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Formular', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1460px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

/* General elements */
.btn {
  padding: 10px 20px 11px;
  border: 1px solid #000000;
  border-radius: 0;
  line-height: 1;
  -webkit-transition-property: border, background, color;
  transition-property: border, background, color;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.btn:hover {
  border-color: #e57f17;
  background-color: #e57f17;
  color: #ffffff;
}

.title {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

@media screen and (max-width: 991px) {
  .title {
    line-height: 1.5;
  }
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slick-dots li {
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: 50%;
  margin: 0 7px;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background: #e57f17;
}

.slick-dots li button {
  display: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: solid 1px #bababa;
  background-color: #ffffff;
  font-size: 0;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

.slick-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 24px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: left;
}

.slick-arrow:hover {
  border-color: inherit;
  background-color: #000000;
}

.slick-arrow:hover::before {
  background-position: right;
}

.slick-arrow:focus {
  outline: none;
}

.slick-prev::before {
  background-image: url("/images/arrow-prev.png");
}

.slick-next::before {
  background-image: url("/images/arrow-next.png");
}

/* Burger */
.burger {
  display: none;
  width: 30px;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.burger a span {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

@media only screen and (max-width: 991px) {
  .burger {
    display: block;
    margin-right: 15px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination__item {
  margin: 0 1px;
}

.pagination__item--active .pagination__link {
  background-color: #000000;
  color: #ffffff;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-transition: background-color 300ms, color 300ms;
  transition: background-color 300ms, color 300ms;
}

.pagination__link:hover {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .pagination__link {
    width: 36px;
    height: 36px;
  }
}

/* Header */
.header__info {
  background: #e57f17;
}

.header__info-inner {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.header__info-inner li {
  margin-right: 90px;
}

.header__info-inner li:last-child {
  margin-right: 0;
}

.header__inner {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 19px 0 20px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav ul li {
  margin-right: 42px;
}

.header__nav ul li:last-child {
  margin-right: 0;
}

.header__nav ul li a {
  font-weight: bold;
  text-transform: uppercase;
}

.header__nav ul li a:hover {
  color: #e57f17;
}

.header__link {
  font-weight: bold;
  text-transform: uppercase;
  color: #e57f17;
  border-bottom: 1px solid transparent;
}

.header__link:hover {
  border-color: #e57f17;
  color: #e57f17;
}

@media only screen and (max-width: 1200px) {
  .header__logo {
    width: 150px;
  }
  .header__nav li {
    margin-right: 30px;
  }
  .header__nav li a {
    font-size: 14px;
  }
  .header__link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    position: relative;
  }
  .header__info-inner li {
    margin-right: 30px;
    font-size: 14px;
  }
  .header__nav {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    padding-top: 20px;
  }
  .header__nav ul.active {
    opacity: 1;
    visibility: visible;
  }
  .header__nav ul li {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .header__info {
    display: none;
  }
  .header__link {
    display: none;
  }
}

.footer {
  padding: 60px 0 35px;
  background-color: #000000;
}

.footer__inner {
  padding: 0 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 240px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 80px;
}

.footer__nav ul {
  width: 20%;
  padding-right: 10px;
  color: #ffffff;
}

.footer__nav ul:nth-child(2) {
  width: 23.7%;
}

.footer__nav ul:nth-child(3) {
  width: 27%;
}

.footer__nav ul:last-child {
  width: 29.3%;
}

.footer__nav ul:last-child li {
  margin-bottom: 15px;
}

.footer__nav ul li {
  margin-bottom: 25px;
}

.footer__nav ul li:last-child {
  margin-bottom: 0;
}

.footer__nav ul li a:hover {
  color: #e57f17;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 39px;
  padding-right: 38px;
  color: #898989;
  font-size: 14px;
  line-height: 1.86;
}

.footer__info a {
  text-decoration: underline;
}

.footer__info a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  .footer__inner {
    padding: 0;
  }
  .footer__info {
    padding: 0;
    line-height: 1.3;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    padding-top: 50px;
  }
  .footer__logo {
    max-width: 210px;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 30px;
    line-height: 1.5;
    text-align: center;
  }
  .footer__nav {
    padding-left: 40px;
  }
  .footer__nav ul li {
    margin-bottom: 22px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__nav ul {
    width: 50% !important;
    margin-bottom: 16px;
  }
  .footer__nav ul li {
    margin-bottom: 16px;
  }
  .footer__info {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__nav {
    margin-top: 30px;
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .footer__nav ul {
    width: 100% !important;
  }
}

/* Showcase */
.showcase {
  margin-bottom: 79px;
}

.showcase__item {
  height: 660px;
  color: #ffffff;
  text-align: center;
}

.showcase__content {
  padding-top: 226px;
}

.showcase__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
}

.showcase__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.85;
  max-width: 770px;
  margin: 0 auto;
}

.showcase .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
}

.showcase .slick-arrow:hover {
  border-color: #ffffff;
  background-color: transparent;
}

.showcase .slick-prev {
  left: 7.8%;
}

.showcase .slick-next {
  right: 7.8%;
}

@media only screen and (max-width: 1200px) {
  .showcase__item {
    height: 450px;
  }
  .showcase__content {
    padding-top: 120px;
  }
  .showcase__title {
    font-size: 32px;
  }
  .showcase__description {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .showcase .slick-arrow {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    margin-bottom: 50px;
  }
  .showcase__title {
    font-size: 24px;
  }
  .showcase__content {
    padding-top: 80px;
  }
  .showcase__description {
    font-size: 16px;
  }
}

/* Services */
.services {
  overflow: hidden;
  margin-bottom: 70px;
  text-align: center;
}

.services__title {
  margin-bottom: 25px;
}

.services__description {
  max-width: 1024px;
  margin: 0 auto 66px;
  font-size: 34px;
  line-height: 1.29;
}

.services__items {
  margin: 0 -20px;
}

.services__item {
  margin: 0 20px;
  text-align: left;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.services__item:hover {
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}

.services__item:hover .services__img {
  border-color: #e57f17;
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
}

.services__img {
  border: 3px solid transparent;
  -webkit-transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms, -webkit-box-shadow 300ms;
}

.services__name {
  margin-top: 25px;
  padding: 0 21px;
  font-size: 18px;
  line-height: 1.56;
}

.services .slick-track {
  padding-bottom: 106px;
}

.services .slick-arrow {
  margin-top: -100px;
}

.services .slick-prev {
  left: -60px;
}

.services .slick-next {
  right: -60px;
}

@media screen and (max-width: 1500px) {
  .services .slick-prev {
    left: 10px;
  }
  .services .slick-next {
    right: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .services__items {
    margin: 0 -10px;
  }
  .services__item {
    margin: 0 10px;
  }
  .services__name {
    margin-top: 14px;
    padding: 0;
    line-height: 1.35;
  }
  .services .slick-track {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .services__description {
    font-size: 26px;
  }
  .services .slick-arrow {
    margin-top: -80px;
  }
}

@media screen and (max-width: 767px) {
  .services__description {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .services__item:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .services .slick-track {
    padding-bottom: 20px;
  }
  .services .slick-arrow {
    display: none !important;
  }
}

.services-page {
  padding: 78px 0 70px;
  background-color: #f1f2f4;
}

.services-page__title {
  margin-bottom: 25px;
  text-align: center;
}

.services-page__text {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto 64px;
  font-size: 34px;
  line-height: 1.3;
  text-align: center;
}

.services-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -40px;
}

.services-page__item {
  width: calc(33.33% - 40px);
  margin-bottom: 54px;
  margin-left: 40px;
}

.services-page__item:hover {
  color: #e57f17;
}

.services-page__item:hover .services-page__img {
  border-color: #e57f17;
}

.services-page__img {
  border: 3px solid transparent;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.services-page__name {
  margin-top: 24px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 1.45;
}

@media screen and (max-width: 1500px) {
  .services-page__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .services-page {
    padding-bottom: 40px;
  }
  .services-page__items {
    margin-left: -20px;
  }
  .services-page__item {
    width: calc(33.33% - 20px);
    margin-left: 20px;
  }
  .services-page__name {
    margin-top: 18px;
    padding: 0 10px;
    font-size: 20px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 991px) {
  .services-page__item {
    margin-bottom: 40px;
  }
  .services-page__text {
    margin-bottom: 50px;
    font-size: 26px;
  }
  .services-page__name {
    margin-top: 10px;
    padding: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .services-page__item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .services-page {
    padding-top: 70px;
  }
  .services-page__items {
    margin-left: 0;
  }
  .services-page__item {
    width: 100%;
    margin-bottom: 32px;
    margin-left: 0;
  }
  .services-page__text {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.about {
  padding: 77px 0 90px;
  background-color: #f1f2f4;
}

.about__title {
  margin-bottom: 48px;
  text-align: center;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__content {
  padding-top: 22px;
  padding-right: 111px;
}

.about__head {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.45;
}

.about__description {
  margin-bottom: 45px;
  line-height: 1.65;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 720px;
  width: 100%;
}

.about__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  min-height: 200px;
  margin: -1px 0 0 -1px;
  padding: 10px;
  border: 1px solid #bababa;
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.about__number {
  color: #e57f17;
  font-size: 64px;
  line-height: 1;
}

.about__text {
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 1500px) {
  .about__info {
    max-width: 520px;
  }
  .about__content {
    padding-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  .about {
    padding: 70px 0;
  }
  .about__container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .about__content {
    padding-top: 0;
  }
  .about__head {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .about__description {
    margin-bottom: 30px;
  }
  .about__info {
    max-width: 360px;
  }
  .about__number {
    font-size: 50px;
  }
  .about__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about__content {
    margin-bottom: 40px;
    padding-right: 0;
  }
  .about__info {
    max-width: 100%;
  }
  .about__info-item {
    min-height: 170px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__number {
    font-size: 46px;
  }
  .about__text {
    font-size: 18px;
  }
}

.about-descr {
  padding-bottom: 100px;
}

.about-descr__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.about-descr__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 42.2vw;
  min-width: 630px;
  margin-left: -12vw;
}

.about-descr__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 71px;
  padding-left: 80px;
}

.about-descr__title {
  margin-bottom: 42px;
  font-size: 34px;
  line-height: 1.3;
}

.about-descr__text {
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 1.65;
}

@media screen and (max-width: 1500px) {
  .about-descr__body {
    margin-bottom: 70px;
  }
  .about-descr__content {
    padding-top: 32px;
    padding-left: 32px;
  }
  .about-descr__title {
    margin-bottom: 20px;
  }
  .about-descr__text {
    margin-top: 10px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 991px) {
  .about-descr {
    padding-top: 40px;
  }
  .about-descr__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-descr__img {
    min-width: auto;
    max-width: 600px;
    margin: 0 auto;
  }
  .about-descr__content {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 40px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .about-descr {
    padding-bottom: 70px;
  }
  .about-descr__body {
    margin-bottom: 60px;
  }
  .about-descr__title {
    font-size: 28px;
  }
}

.about-summary {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  min-height: 170px;
  padding-top: 18px;
  background-color: #e57f17;
  color: #ffffff;
}

.about-summary::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  display: block;
  width: 962px;
  height: 148px;
  background: url("../images/logo-bg.png") no-repeat center/100%;
}

.about-summary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1132px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.about-summary__descr {
  max-width: 700px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.45;
}

.about-summary__button {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: -8px;
  padding-right: 25px;
  padding-left: 25px;
  border-color: #ffffff;
  color: #ffffff;
}

.about-summary__button:hover {
  border-color: #000000;
  color: #000000;
}

@media screen and (max-width: 991px) {
  .about-summary::before {
    width: 74vw;
    height: 11vw;
  }
}

@media screen and (max-width: 767px) {
  .about-summary {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about-summary__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.projects {
  position: relative;
  overflow: hidden;
  padding: 72px 0 70px;
}

.projects::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 32.8vw;
  height: 30.2vw;
  background-color: #e57f17;
}

.projects__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

.projects__title {
  width: 27.4%;
  padding: 38px 0 0 102px;
  color: #ffffff;
}

.projects__description {
  width: 72.6%;
  padding-left: 100px;
  font-size: 34px;
  line-height: 1.3;
}

.projects__carousel {
  position: relative;
  z-index: 2;
  margin: 0 -30px;
}

.projects__item {
  position: relative;
  margin: 0 30px;
  border: 3px solid transparent;
  outline: 1px solid #dddddd;
  outline-offset: -3px;
  -webkit-transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms, -webkit-box-shadow 300ms;
}

.projects__item:last-child {
  margin-right: 0;
}

.projects__item:hover {
  outline: none;
  border-color: #e57f17;
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
}

.projects__item:not(.slick-active) {
  pointer-events: none;
}

.projects__item:not(.slick-active)::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.projects__item:not(.slick-active) .projects__nav {
  top: 0;
  right: 0;
}

.projects__img {
  position: relative;
  height: 400px;
}

.projects__img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.projects__img img {
  width: 100%;
  height: 100%;
}

.projects__nav {
  position: absolute;
  top: -3px;
  right: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__nav .slick-arrow {
  position: static;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border: none;
}

.projects__name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 34px 29px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.08;
}

.projects__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 29px 46px 38px 29px;
}

.projects__text {
  padding-right: 20px;
  line-height: 1.65;
}

.projects__link {
  margin-top: 8px;
}

.projects__more {
  margin-top: 59px;
  text-align: center;
}

.projects .slick-list {
  overflow: visible;
}

@media screen and (max-width: 1200px) {
  .projects__carousel {
    margin: 0 -15px;
  }
  .projects__item {
    margin: 0 15px;
  }
  .projects__img {
    height: 360px;
  }
  .projects__description {
    font-size: 26px;
  }
  .projects__footer {
    padding: 20px 20px 30px;
  }
}

@media screen and (max-width: 991px) {
  .projects__img {
    height: 310px;
  }
  .projects__title {
    padding-left: 5vw;
  }
  .projects__description {
    padding-left: 8vw;
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .projects::before {
    display: none;
  }
  .projects__carousel {
    margin: 0 -6px;
  }
  .projects__item {
    margin: 0 6px;
  }
  .projects__img {
    height: 290px;
  }
  .projects__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .projects__title {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
    color: #333333;
    text-align: center;
  }
  .projects__description {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .projects__text {
    padding-right: 0;
  }
  .projects__link {
    margin-top: 16px;
  }
  .projects__name {
    padding: 20px 18px;
    font-size: 22px;
  }
  .projects__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 18px 10px 20px;
  }
}

@media screen and (max-width: 575px) {
  .projects__header {
    margin-bottom: 40px;
  }
  .projects__description {
    font-size: 22px;
  }
  .projects__more {
    margin-top: 44px;
  }
}

.projects-page {
  padding: 78px 0 101px;
  background-color: #f1f2f4;
}

.projects-page__title {
  margin-bottom: 3px;
  text-align: center;
}

.projects-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 57px 0;
  border-top: 1px solid #aeaeae;
}

.projects-page__item:first-child {
  border-top: none;
}

.projects-page__item:hover .projects-page__carousel-item {
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  border-color: #e57f17;
}

.projects-page__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 680px;
  padding-top: 15px;
  padding-right: 20px;
}

.projects-page__name {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}

.projects-page__descr {
  margin-bottom: 27px;
  line-height: 1.65;
}

.projects-page__sign {
  margin-bottom: 34px;
  font-weight: 700;
  line-height: 1.65;
}

.projects-page__sign span {
  display: block;
}

.projects-page__carousel {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 700px;
}

.projects-page__carousel-item {
  position: relative;
  border: 3px solid transparent;
  -webkit-transition: border 300ms, -webkit-box-shadow 300ms;
  transition: border 300ms, -webkit-box-shadow 300ms;
  transition: border 300ms, box-shadow 300ms;
  transition: border 300ms, box-shadow 300ms, -webkit-box-shadow 300ms;
}

.projects-page__carousel-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.projects-page .slick-arrow {
  top: 0;
  right: 0;
  left: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border: none;
}

.projects-page .slick-prev {
  right: 60px;
}

@media screen and (max-width: 1500px) {
  .projects-page__carousel {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .projects-page__item {
    padding: 40px 0;
  }
  .projects-page__name {
    margin-bottom: 20px;
  }
  .projects-page__descr {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .projects-page__sign {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 767px) {
  .projects-page__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .projects-page__content {
    margin-bottom: 30px;
    padding: 0;
  }
  .projects-page__carousel {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .projects-page__name {
    margin-bottom: 16px;
    font-size: 22px;
  }
  .projects-page__carousel {
    width: 100%;
  }
  .projects-page .slick-arrow {
    width: 50px;
    height: 50px;
  }
  .projects-page .slick-prev {
    right: 50px;
  }
}

.projects-complete {
  padding: 70px 0 60px;
}

.projects-complete__title {
  margin-bottom: 48px;
  text-align: center;
}

.projects-complete__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -41px;
}

.projects-complete__item {
  position: relative;
  z-index: 1;
  width: calc(33.33% - 41px);
  min-height: 438px;
  margin-bottom: 41px;
  margin-left: 41px;
  padding: 31px 26px 40px 26px;
  border: 3px solid rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  -webkit-transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms, -webkit-box-shadow 300ms;
}

.projects-complete__item::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.projects-complete__item:hover {
  border-color: #e57f17;
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.projects-complete__name {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.45;
}

.projects-complete__text {
  margin-bottom: 0;
  line-height: 1.65;
}

@media screen and (max-width: 1200px) {
  .projects-complete__items {
    margin-left: -20px;
  }
  .projects-complete__item {
    width: calc(33.33% - 20px);
    min-height: 400px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .projects-complete__item {
    min-height: 320px;
    padding: 20px;
  }
  .projects-complete__name {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1.3;
  }
  .projects-complete__text {
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .projects-complete__items {
    margin-left: 0;
  }
  .projects-complete__item {
    width: 100%;
    margin-left: 0;
  }
}

.news {
  padding: 68px 0 60px;
  background-color: #f1f2f4;
}

.news__title {
  margin-bottom: 38px;
  text-align: center;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -40px;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(33.33% - 40px);
  margin: 0 0 60px 40px;
  padding: 33px 24px 50px 28px;
  border: 3px solid transparent;
  background-color: #ffffff;
  line-height: 1.65;
  -webkit-transition: border-color 300ms, color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms, color 300ms;
  transition: border-color 300ms, box-shadow 300ms, color 300ms, -webkit-box-shadow 300ms;
}

.news__item:hover {
  border-color: #e57f17;
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
  color: #000000;
}

.news__item:hover .news__name {
  text-decoration: underline;
  -webkit-text-decoration-color: #e57f17;
  text-decoration-color: #e57f17;
}

.news__date {
  margin-bottom: 36px;
}

.news__name {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.45;
}

.news__more {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .news__items {
    margin-left: -20px;
    margin-bottom: 40px;
  }
  .news__item {
    width: calc(33.33% - 20px);
    margin: 0 0 20px 20px;
    padding: 26px 16px;
  }
}

@media screen and (max-width: 991px) {
  .news__item {
    padding: 20px 10px;
  }
  .news__date {
    margin-bottom: 24px;
  }
  .news__name {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.3;
  }
  .news__text {
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .news__items {
    margin: 0 0 20px;
  }
  .news__item {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 20px 25px;
  }
}

.news-relate {
  padding: 66px 0 20px;
  background-color: #ffffff;
}

.news-relate__title {
  margin-bottom: 48px;
  text-align: center;
}

.news-relate .news__item {
  outline: 1px solid #d1d1d1;
  outline-offset: -2px;
}

.news-relate .news__item:hover {
  outline-color: transparent;
}

.news-page {
  padding: 79px 0 80px;
  background-color: #f1f2f4;
}

.news-page__title {
  margin-bottom: 45px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .news-page {
    padding: 60px 0;
  }
}

.article {
  padding: 86px 0 45px;
  background-color: #f1f2f4;
}

.article__content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.article__content h1, .article__content h2, .article__content h3, .article__content h4, .article__content h5, .article__content h6 {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.3;
  text-align: center;
}

.article__content img {
  margin-bottom: 18px;
}

.article__content p {
  margin: 26px 0;
  line-height: 1.65;
}

.article__date {
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .article__content h1, .article__content h2, .article__content h3, .article__content h4, .article__content h5, .article__content h6 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .article {
    padding-top: 72px;
  }
  .article__date {
    margin-bottom: 30px;
  }
  .article__content h1, .article__content h2, .article__content h3, .article__content h4, .article__content h5, .article__content h6 {
    font-size: 24px;
  }
  .article__content p {
    margin: 16px 0;
    line-height: 1.5;
  }
}

.contacts {
  overflow: hidden;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__info {
  position: relative;
  width: 492px;
  min-height: 480px;
  padding: 67px 23px 40px;
  background-color: #e57f17;
}

.contacts__info::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 1000px;
  margin-right: -1px;
  background-color: #e57f17;
}

.contacts__title {
  margin-bottom: 66px;
  padding-left: 78px;
  color: #ffffff;
}

.contacts__list {
  max-width: 400px;
  font-size: 24px;
  line-height: 1.45;
}

.contacts__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}

.contacts__list li:last-child {
  margin-bottom: 0;
}

.contacts__list li span {
  display: inline-block;
}

.contacts__list li span:first-child {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 158px;
}

.contacts__map {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: calc((100vw - 1460px)/-2);
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 1500px) {
  .contacts__map {
    margin-right: calc((100vw - 1170px)/-2);
  }
}

@media screen and (max-width: 1200px) {
  .contacts__info {
    width: 400px;
    min-height: 460px;
    padding: 55px 20px 20px 0;
  }
  .contacts__title {
    margin-bottom: 60px;
    padding-left: 60px;
  }
  .contacts__map {
    margin-right: calc((100vw - 970px)/-2);
  }
}

@media screen and (max-width: 991px) {
  .contacts__info {
    width: 320px;
    min-height: 430px;
  }
  .contacts__list {
    font-size: 20px;
    line-height: 1.3;
  }
  .contacts__list li span:first-child {
    width: 120px;
  }
  .contacts__map {
    margin-right: calc((100vw - 750px)/-2);
  }
}

@media screen and (max-width: 767px) {
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts__info {
    width: 100%;
    min-height: 200px;
    padding: 40px 0;
  }
  .contacts__info::before {
    z-index: -1;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2000px;
  }
  .contacts__list {
    max-width: 100%;
  }
  .contacts__list li {
    margin-bottom: 20px;
  }
  .contacts__title {
    margin-bottom: 40px;
    padding-left: 0;
  }
  .contacts__map {
    height: 300px;
    margin: 0 -15px;
  }
}

.contacts-page__inner {
  overflow: hidden;
  padding: 78px 0 60px;
  background-color: #f1f2f4;
  text-align: center;
}

.contacts-page__header {
  max-width: 1100px;
  margin: 0 auto 56px;
}

.contacts-page__title {
  margin-bottom: 32px;
}

.contacts-page__descr {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.45;
}

.contacts-page__text {
  line-height: 1.65;
}

.contacts-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -35px;
}

.contacts-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33.33%;
  min-height: 120px;
  margin: 0 35px;
  padding: 28px 15px 22px;
  border: 1px solid #bababa;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.45;
}

.contacts-page__tel:hover {
  color: #e57f17;
}

.contacts-page__mail {
  color: #e57f17;
  text-decoration: underline;
}

.contacts-page__mail:hover {
  color: #e57f17;
  text-decoration: none;
}

.contacts-page__map {
  height: 560px;
}

.contacts-page__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 1500px) {
  .contacts-page__items {
    margin: 0 -20px;
  }
  .contacts-page__item {
    margin: 0 20px;
  }
  .contacts-page__map {
    height: 500px;
  }
}

@media screen and (max-width: 991px) {
  .contacts-page__items {
    margin: 0 -10px;
  }
  .contacts-page__item {
    margin: 0 10px;
    font-size: 18px;
  }
  .contacts-page__map {
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-page__inner {
    padding: 60px 0 40px;
  }
  .contacts-page__header {
    margin-bottom: 46px;
  }
  .contacts-page__descr {
    font-size: 20px;
  }
  .contacts-page__text {
    line-height: 1.5;
  }
  .contacts-page__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }
  .contacts-page__item {
    width: 100%;
    margin: 0 0 20px;
  }
  .contacts-page__map {
    height: 340px;
  }
}

.documents {
  padding: 77px 0 41px;
  background-color: #f1f2f4;
  text-align: center;
}

.documents__title {
  margin-bottom: 32px;
}

.documents__text {
  max-width: 1070px;
  margin: 0 auto 64px;
  font-size: 24px;
  line-height: 1.45;
}

.documents__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -59px;
}

.documents__item {
  width: calc(25% - 59px);
  margin: 0 0 52px 59px;
}

.documents__item:hover {
  color: #333333;
}

.documents__item:hover .documents__img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.documents__img {
  padding: 13px 22px;
  border: 1px solid #bababa;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

.documents__name {
  margin-top: 28px;
}

@media screen and (max-width: 1200px) {
  .documents__items {
    margin-left: -30px;
  }
  .documents__item {
    width: calc(33.33% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 991px) {
  .documents__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .documents__items {
    margin-left: -20px;
  }
  .documents__item {
    width: calc(50% - 20px);
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .documents__text {
    margin-bottom: 44px;
  }
  .documents__items {
    margin-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .documents__item {
    max-width: 320px;
    width: 100%;
    margin-left: 0;
  }
}

.project {
  padding: 81px 0 60px;
  background-color: #f1f2f4;
}

.project__title {
  margin-bottom: 23px;
  font-size: 34px;
  line-height: 1.3;
  text-align: center;
}

.project__date {
  margin-bottom: 46px;
  line-height: 1.65;
  text-align: center;
}

.project__content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 60px;
}

.project__content img {
  margin-bottom: 18px;
}

.project__content p {
  margin: 26px 0;
  line-height: 1.65;
}

.project__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -40px;
}

.project__gallery-item {
  width: calc(33.33% - 40px);
  margin-bottom: 40px;
  margin-left: 40px;
}

@media screen and (max-width: 1200px) {
  .project__gallery {
    margin-left: -20px;
  }
  .project__gallery-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .project__content {
    margin-bottom: 50px;
  }
  .project__content p {
    margin: 16px 0;
  }
  .project__gallery-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .project {
    padding-top: 60px;
  }
  .project__title {
    font-size: 30px;
  }
  .project__date {
    margin-bottom: 36px;
  }
  .project__gallery {
    margin-left: 0;
  }
  .project__gallery-item {
    width: 100%;
    margin-left: 0;
  }
}

.service {
  padding: 80px 0 70px;
  background-color: #f1f2f4;
}

.service__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 80px;
}

.service__content h1, .service__content h2, .service__content h3, .service__content h4, .service__content h5, .service__content h6 {
  margin-bottom: 52px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.3;
  text-align: center;
}

.service__content img {
  margin-bottom: 16px;
}

.service__content p {
  margin: 26px 0;
  line-height: 1.65;
}

.service__sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 340px;
  padding-top: 10px;
}

.service__list {
  padding: 33px 40px 50px;
  border: 1px solid #e57f17;
  background-color: #ffffff;
}

.service__list-item {
  margin-bottom: 34px;
}

.service__list-item:last-child {
  margin-bottom: 0;
}

.service__list-link {
  font-size: 24px;
  line-height: 1.45;
}

.service__list-link:hover {
  color: #e57f17;
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .service__content {
    padding-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .service {
    padding: 60px 0 50px;
  }
  .service__content h1, .service__content h2, .service__content h3, .service__content h4, .service__content h5, .service__content h6 {
    margin-bottom: 36px;
    font-size: 28px;
  }
  .service__content p {
    margin: 16px 0;
    line-height: 1.5;
  }
  .service__sidebar {
    width: 280px;
  }
  .service__list {
    padding-right: 26px;
    padding-left: 26px;
  }
  .service__list-item {
    margin-bottom: 24px;
  }
  .service__list-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .service__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .service__content {
    padding-right: 0;
  }
  .service__content h1, .service__content h2, .service__content h3, .service__content h4, .service__content h5, .service__content h6 {
    font-size: 24px;
  }
  .service__sidebar {
    width: 100%;
  }
  .service__list {
    padding: 26px;
  }
}
