
@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
  
  /* Header */
  
  .logo {
    margin: 0 26px 0 0;
    width: 210px;
  }
  
  .header {
    margin-bottom: 150px;
    &-wrap {
      padding: 30px 0 190px;
    }
  }
  
  /* Nav */

  .nav {
    &-wrap {
      padding-top: 8px;
    }
    li {
      padding: 0 24px 0 0;
    }
  }
  
  /* Offers */
  
  .offers {
    &-nav {
      width: 875px;
      li {
        padding: 0 6px 0 10px !important;
      }
    }
    &-content {
      &-wrap {
        width: 600px;
        padding-right: 10px;
      }
    }
    &-img {
      width: 290px;
    }
  }
  
  /* Main-services */
  
  .main-services {
    &-content {
      width: 550px;
    }
    &-head {
      .num {
        padding-left: 30px;
      }
    }
    &-link {
      font-size: 21px;
      margin-right: 16px;
    }
  }
  
  /* Offer */
  
  .offer {
    &-name {
      width: 220px;
      line-height: 1.2;
    }
  }
  
  /* Services-work */
  
  .services-work {
    &-name {
      width: 220px;
      line-height: 1.2;
    }
  }
  
  /* Similar */
  
  .similar {
    &__text {
      line-height: 1.2;
    }
  }
  
  /* Vacancy */
  
  .vacancy {
    &-item {
      width: 575px;
    }
  }
  
  // Serve
  
  .serve {
    &-el {
      width: 575px;
      &.big {
        width: 575px;
      }
    }
  }
  
  // Produce
  
  .produce {
    &-item {
      width: 290px;
      &.great {
        width: 550px;
      }
    }
    &-content {
      &__name {
        line-height: 1.2;
      }
    }
  }
  
  // Working
  
  .working {
    &-side {
      &__head {
        font-size: 44px;
        margin-bottom: 46px;
      }
    }
    .about-work-item {
      margin-right: 14px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  // Product
  
  .product {
    padding: 40px 0;
    &-content {
      width: 250px;
      &__head {
        font-size: 34px;
        span {
          margin: 0;
          font-size: 160px;
        }
      }
    }
    &-items {
      padding-left: 18px;
    }
    &-item {
      p {
        line-height: 1.4;
      }
    }
  }
  
  // Perform
  
  .perform {
    &-item {
      width: 374px;
      margin-right: 24px;
    }
  }
  
  // Option
  
  .option {
    &-items {
      padding-right: 72px;
    }
    &-item {
      margin-bottom: 28px;
    }
  }
  
  // Logistics
  
  .logistics {
    .option {
      &-items {
        margin-right: 70px;
      }
      &-elem {
        &-head {
          padding-right: 20px;
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
  
  // Tools
  
  .tools {
    &-item {
      margin-right: 20px;
    }
  }
  
  // Pick
  
  .pick {
    &-content {
      padding: 0 50px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  
  /* Header */
  
  .header {
    display: block;
    text-align: center;
    &-select {
      top: 91px;
    }
  }
  
  .logo {
    margin: 0 auto 20px;
  }
  
  /* Offers */
  
  .offers {
    padding-top: 100px;
    &-wrap {
      margin-top: 0;
    }
    &-info {
      width: 100%;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-nav {
      width: 100%;
    }
    &-content {
      &-wrap {
        width: 680px;
      }
    }
    &-bottom {
      flex-wrap: wrap;
    }
    &-item {
      padding: 15px 0;
    }
  }
  
  /* Main-services */
  
  .main-services {
    display: block;
    padding: 60px 0;
    &-items {
      margin: 0 auto 30px;
      h2 {
        text-align: center;
      }
    }
    &:before {
      display: none;
    }
    &-content {
      margin-top: 0;
      width: 100%;
    }
    &-head {
      text-align: center;
      .num {
        padding-left: 0;
      }
      .text {
        margin-left: 0;
        text-align: left;
      }
    }
    &-links {
      text-align: center;
    }
  }
  
  /* Events */
  
  .events {
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      &.item1 {
        margin-right: 20px;
      }
      &.item2 {
        margin: 0;
      }
      &.item3 {
        width: auto;
        height: auto;
        display: flex;
      }
      &-par {
        width: 300px;
        height: 300px;
        flex-shrink: 0;
        margin-right: 20px;
        margin-top: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
      &-content {
        p {
          line-height: 1.2;
        }
      }
    }
  }
  
  /* Main-slider */
  
  .main-slider {
    &-items {
      width: 881px;
    }
  }
  
  /* Callback */
  
  .callback {
    width: 560px;
    &-nav {
      li {
        font-size: 14px;
        padding: 0 6px;
        &:after {
          left: 6px;
          right: 6px;
        }
      }
    }
    &-content {
      p, a {
        font-size: 20px;
      }
    }
  }
  
  /* Footer */
  
  .footer {
    justify-content: space-between;
    &-logo {
      width: 200px;
      margin-right: 30px;
      &-text {
        span {
          font-size: 12px;
        }
      }
    }
    &-content {
      width: 540px;
      margin-right: 0;
      li {
        a {
          font-size: 14px;
        }
      }
    }
    &-info {
      font-size: 18px;
    }
  }
  
  /* Showcase-inner */
  
  .showcase-inner {
    .showcase {
      &:before {
        display: none;
      }
      &-content {
        padding-top: 120px;
      }
    }
  }
  
  /* Frame */
  
  .frame {
    width: 720px;
  }
  
  /* About-content */
  
  .about-content {
    &-text {
      padding-right: 20px;
      p {
        line-height: 1.3;
      }
    }
  }
  
  /* About-video */
  
  .about-video {
    iframe {
      height: 320px;
    }
  }
  
  /* About_slider */
  
  .about_slider {
    .main {
      &-slider {
        &-items {
          width: 661px;
        }
      }
    }
  }
  
  /* Services */
  
  .services {
    &-items {
      margin-left: 0;
      ul {
        margin-right: 30px;
      }
    }
  }
  
  /* Offer */
  
  .offer {
    display: block;
    &-name {
      width: 100%;
      margin-bottom: 20px;
    }
    &-items {
      justify-content: center;
    }
  }
  
  /* Services-work */
  
  .services-work {
    display: block;
    &-name {
      width: 100%;
      margin-bottom: 20px;
    }
    .about-work-items {
      margin-right: 0;
    }
    .about-work-item.second {
      margin-top: 0;
    }
  }
  
  /* Similar */
  
  .similar {
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      margin: 0 10px 20px;
      &:last-child {
        margin: 0 10px 20px;
      }
    }
  }
  
  /* Vacancy */
  
  .vacancy {
    &-item {
      width: 475px;
      padding: 25px 14px 28px 20px;
      &__head {
        font-size: 22px;
      }
      &__number {
        margin-bottom: 10px;
      }
      &__text {
        line-height: 1.2;
      }
    }
  }
  
  /* Briefcase */
  
  .briefcase {
    margin-top: 30px;
  }
  
  .briefcase1 {
    margin-bottom: 0;
    .events {
      &-item {
        &.item2 {
          margin-right: 20px;
        }
      }
    }
  }
  
  .briefcase2 {
    .events {
      &-item {
        &.item1 {
          margin-right: 0;
        }
        &.item2 {
          margin-right: 20px;
        }
      }
    }
  }
  
  .briefcase3 {
    margin-bottom: 0;
    .events {
      &-item {
        &.item2 {
          margin-bottom: 20px;
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  
  /* Pagination */
  
  .pagination {
    padding-bottom: 32px;
  }
  
  // Serve
  
  .serve {
    &-item {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin: 0 10px 0 !important;
    }
    &-elem {
      margin-right: 0;
    }
    &-el {
      text-align: left;
      height: auto;
      padding-bottom: 25px;
      &.big {
        width: 575px;
      }
    }
  }
  
  // Produce
  
  .produce {
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 30px;
      &.tall,
      &.few {
        margin-top: 0;
        .produce-item-img {
          height: auto;
        }
      }
      &.few {
        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  
  // Working
  
  .working {
    flex-direction: column;
    &-side {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;
      &__head {
        margin-bottom: 0;
      }
    }
    .about-work {
      &-items {
        justify-content: center;
      }
      &-item {
        margin: 0 10px 0 !important;
      }
    }
  }
  
  // Concise
  
  .concise {
    width: 900px;
    &__text {
      padding-left: 24px;
    }
    &-logo {
      margin-right: 38px;
    }
    &-header {
      padding: 0 100px 0 24px;
      &__head {
        font-size: 22px;
      }
    }
  }
  
  // Product
  
  .product {
    flex-direction: column;
    padding: 26px 0;
    &-content {
      width: 100%;
      &__head {
        margin-bottom: 20px;
        span {
          display: inline-block;
          font-size: 62px;
        }
      }
    }
    &-items {
      padding: 0;
    }
    &-item {
      width: 49%;
    }
  }
  
  // Reviews
  
  .reviews {
    &-content {
      width: 460px;
      &__head {
        font-size: 20px;
        padding-bottom: 16px;
        margin-bottom: 10px;
      }
      &__text {
        line-height: 1.35;
      }
    }
    &-img {
      width: 500px;
    }
  }
  
  // Activity
  
  .activity__node {
    width: auto;
  }
  
  // Perform
  
  .perform {
    &-item {
      width: 310px;
      margin-right: 20px;
    }
  }
  
  // Option
  
  .option {
    &-img {
      width: 440px;
    }
    &-items {
      padding-right: 14px;
    }
    &-item {
      &__head {
        font-size: 22px;
      }
    }
  }
  
  // Tools
  
  .tools {
    &-item {
      width: 230px;
      margin-right: 16px;
      margin-bottom: 30px;
    }
  }
  
  // Pick
  
  .pick {
    &-content {
      padding: 0;
    }
  }
  
  // Logistics
  
  .logistics {
    .option {
      &-elems {
        margin-right: 34px;
      }
    }
  }
  
  // Cost
  
  .cost {
    &-item {
      padding: 14px;
    }
  }
  
  // Terms
  
  .terms {
    padding: 40px 0;
    &-items {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-item {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-right: 0;
      margin-bottom: 20px;
      &:after {
        top: auto;
        bottom: -40px;
        right: 50%;
        margin-right: -35px;
        transform: translateY(0) rotate(90deg);
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  
  // Header
  
  .header {
    padding: 0 15px;
    margin-bottom: 70px;
    &-select {
      right: 15px;
    }
    &-wrap {
      .container {
        padding: 0;
        width: 100%;
      }
    }
  }
  
  /* Nav */
  
  .nav {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    padding-top: 15px;
    margin-top: 15px;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
//    background: #edf4f8;
    background-color: rgba(0, 0, 0, .6);
    &.active {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
    li {
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
      &:after {
        display: none;
      }
      a {
        border-bottom: none;
        padding-bottom: 0;
        &:hover {
          border: none;
          color: #00aeef;
        }
      }
    }
  }
  
  /* Burger */
  
  .burger-wrap {
    display: block;
    width: 30px;
    a {
      cursor: pointer;
      padding: 12px 0;
      display: block;
      span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #00aeef;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          position: absolute;
          background: #00aeef;
          content: '';
          width: 30px;
          height: 5px;
          left: 0;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border-radius: 7px;
        }
        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }
          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }
  
  /* Showcase */
  
  .showcase {
    padding: 0 15px;
    &-content {
      h2 {
        font-size: 60px;
      }
      a {
        font-size: 21px;
      }
    }
    &-info {
      font-size: 21px;
    }
    &-item {
      li a {
        font-size: 20px;
      }
    }
  }
  
  /* Offers */
  
  .offers {
    &-nav {
      li {
        padding: 0 10px 0 5px !important;
        font-size: 15px;
        line-height: 1.3;
      }
    }
    &-content {
      text-align: center;
      &-wrap {
        width: 100%;
        padding-right: 0;
      }
      p {
        text-align: left;
      }
    }
    &-item {
      width: 49.8%;
      margin-bottom: 2px;
    }
  }
  
  /* Events */
  
  .events {
    &-items {
      display: block;
    }
    &-item {
      display: block;
      margin: 0 auto 20px !important;
      &.item1 {
        height: 500px;
      }
      &.item2 {
        width: 420px;
        height: 500px;
      }
      &.item3 {
        justify-content: center;
      }
      &-par {
        margin-top: 0;
      }
    }
  }
  
  /* Main-slider */
  
  .main-slider {
    &-items {
      width: 661px;
    }
    &-item {
      a {
        &:last-child {
          display: none;
        }
      }
    }
  }
  
  /* Callback */
  
  .callback {
    width: 100%;
    background-color: #fa0b8b;
    padding-left: 50px;
    padding-bottom: 50px;
    &-inner {
      position: static;
    }
    &:after {
      display: none;
    }
    &-wrap {
      height: auto;
      overflow: hidden;
    }
    &:before {
      content: '';
      display: block;
      border: none;
      background-color: #fa0b8b;
      position: absolute;
      top: 0;
      left: -1000px;
      
    }
  }
  
  /* Brief */
  
  .brief {
    margin-bottom: 40px;
  }
  
  /* Map */
  
  .map {
    height: 350px;
  }
  
  /* Footer */
  
  .footer {
    display: block;
    text-align: center;
    padding-bottom: 18px;
    &-logo {
      width: auto;
      margin-right: 0;
      margin-bottom: 20px;
      &-text {
        padding-top: 0;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
      }
    }
    &-content {
      margin: 0 auto 40px;
      width: 100%;
      ul {
        width: 220px;
      }
    }
  }
  
  /* Bottom */
  
  .bottom {
    padding-bottom: 70px;
  }
  
  /* About */
  
  .about {
    display: block;
  }
  
  /* About_slider */
  
  .about_slider {
    .main {
      &-slider {
        &-items {
          .slick {
            &-dots {
              bottom: -40px;
              right: 50%;
              margin-right: -61px;
            }
          }
        }
      }
    }
  }
  
  /* Frame */
  
  .frame {
    width: auto;
  }
  
  /* Services */
  
  .services {
    .sidebar {
      width: auto;
      margin-bottom: 15px;
    }
    &-other {
      .other-items {
        margin-left: 0;
      }
    }
  }
  
  /* Offer */
  
  .offer {
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      margin: 0 10px 20px;
      &:last-child {
        margin: 0 10px 20px;
      }
    }
  }
  
  /* Portfolio */
  
  .portfolio {
    width: auto;
    &-item {
      margin: 0 25px;
      padding: 44px 0 0;
      &__text {
        line-height: 1.2;
      }
    }
    &-slider {
      &-wrap {
        width: 600px;
      }
    }
  }
  
  /* Similar */
  
  .similar {
    &-items {
      justify-content: center;
    }
  }
  
  /* Contacts */
  
  .contacts {
    width: auto;
    padding: 0 10px;
  }
  
  /* Vacancy */
  
  .vacancy {
    margin-top: 35px;
    &:before {
      display: none;
    }
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
      &:nth-child(2n) {
        margin: 0 10px 20px;
      }
    }
    &-sidebar {
      width: 290px;
      padding: 24px 14px 28px 18px;
      &__info {
        line-height: 1.2;
      }
    }
    &-content {
      padding-right: 10px;
      &-wrap {
        .vacancy-item__text {
          margin-bottom: 22px;
        }
      }
    }
  }
  
  /* Briefcase */
  
  .briefcase {
    &-head {
      margin-right: 5px;
      font-size: 28px;
    }
  }
  
  /* Briefcase-nav */
  
  .briefcase-nav {
    li {
      margin-right: 0;
      a {
        padding: 0 12px;
        font-size: 13px;
        &:after {
          left: 12px;
          right: 12px;
        }
      }
    }
  }
  
  // Produce
  
  .produce {
    &-item {
      &.great {
        .produce {
          &-item {
            &-img {
              height: auto;
            }
          }
        }
      }
    }
  }
  
  // Working
  
  .working {
    .about-work {
      &-items {
        flex-wrap: wrap;
      }
      &-item {
        margin: 0 22px 24px !important;
      }
    }
  }
  
  // Concise
  
  .concise {
    width: 700px;
    &-header {
      margin-bottom: 18px;
    }
  }
  
  .fancybox-close-small {
    top: 40px;
    right: 20px;
  }
  
  // Product
  
  .product {
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
    }
  }
  
  // Reviews
  
  .reviews {
    &-item {
      flex-direction: column;
      padding-bottom: 130px;
      &:after {
        bottom: 22px;
        left: 50%;
        margin-left: -50.5px;
      }
      &:last-child {
        padding-bottom: 50px;
      }
    }
    &-content {
      width: 500px;
      margin: 0 auto 30px;
    }
    &-img {
      margin: 0 auto;
    }
  }
  
  // Perform
  
  .perform {
    margin-bottom: 34px;
    &:after {
      bottom: -85px;
    }
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 5px 20px;
      &:last-child {
        margin: 0 5px 10px;
      }
    }
  }
  
  // Option
  
  .option {
    flex-direction: column;
    &-items {
      padding-right: 0;
      margin-bottom: 40px;
    }
    &-img {
      margin: 0 auto;
    }
  }
  
  // Tools
  
  .tools {
    &-items {
      justify-content: center;
      margin-bottom: 30px;
    }
    &-item {
      text-align: center;
      width: 260px;
      margin: 0 10px 20px;
      &:nth-child(4n) {
        margin: 0 10px 20px;
      }
    }
    &__text {
      width: auto;
      font-size: 22px;
      padding-right: 0;
    }
  }
  
  // Logistics
  
  .logistics {
    padding-bottom: 64px;
    margin-bottom: 147px;
    &:after {
      bottom: -143px;
    }
    .option {
      &-elems {
        margin-right: 0;
        margin-bottom: 20px;
      }
      &-elem {
        &-content {
          padding-right: 50px;
        }
        &-head {
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
  
  // Cost
  
  .cost {
    margin-bottom: 34px;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
      &:last-child {
        margin: 0 10px 20px;
      }
    }
  }
  
  // Terms
  
  .terms {
    .tools__text {
      width: auto;
      padding-right: 0;
    }
  }
  
  // Cost
  
  .cost {
    .tools {
      &__text {
        width: auto;
        padding-right: 0;
      }
    }
  }
  
  // Pick
  
  .pick {
    &__head {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
  
  // Terms
  
  .terms {
    &-item {
      &.first {
        width: 552px;
      }
    }
  }
  
  
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  
  /* Showcase */
  
  .showcase {
    &-content {
      width: auto;
    }
    &-items {
      flex-direction: column;
    }
    &-item {
      li {
        margin-bottom: 14px !important;
      }
    }
  }
  
  /* Offers */
  
  .offers {
    &-nav {
      display: block;
      li {
        width: 100%;
        height: auto;
        padding: 12px !important;
      }
    }
    &-content {
      a {
        width: 100%;
        margin: 0 10px 15px;
        &:nth-child(2n) {
          margin: 0 10px 15px;
        }
        p {
          width: 400px;
        }
      }
    }
    &-bottom {
      display: block;
      text-align: center;
    }
    &-img {
      margin-bottom: 20px;
    }
  }
  
  /* Main-services */
  
  .main-services {
    &-head {
      .text {
        margin-top: 0;
      }
    }
  }
  
  /* Events */
  
  .events {
    &-item {
      width: 300px !important;
      &.item1,
      &.item2 {
        height: 300px;
      }
      &.item3 {
        width: auto !important;
        display: block;
        text-align: center;
      }
      &-par {
        display: block;
        margin: 0 auto 20px;
        &:last-child {
          margin: 0 auto;
        }
      }
      &-content {
        text-align: left;
      }
    }
  }
  
  /* Main-slider */
  
  .main-slider {
    &-items {
      width: 441px;
      .slick {
        &-dots {
          bottom: -34px;
          right: 50%;
          transform: translate(50%);
        }
      }
    }
  }
  
  /* Brief */
  
  .brief {
    &-content {
      width: auto;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 21px;
      }
    }
  }
  
  /* Map */
  
  .map {
    height: 250px;
  }
  
  /* Callback */
  
  .callback {
    padding: 50px 12px;
    &-items {
      text-align: center;
    }
    &-content {
      margin: 0 auto;
    }
    &-nav {
      li {
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
  }
  
  /* Footer */
  
  .footer {
    &-content {
      display: block;
      ul {
        width: auto;
        margin-bottom: 20px;
      }
    }
  }
  
  /* Showcase-inner */
  
  .showcase-inner {
    .showcase {
      height: 300px;
      &-content {
        padding-top: 40px;
        width: 100%;
        &__text {
          padding: 0 20px;
        }
      }
    }
  }
  
  /* About-content */
  
  .about-content {
    display: block;
    &-text {
      padding-right: 0;
      margin-bottom: 50px;
    }
    &-sidebar {
      margin: 0 auto;
    }
  }
  
  /* About-work */
  
  .about-work {
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 20px 20px;
      &:last-child {
        margin: 0 20px 20px;
      }
      &.second {
        margin-top: 0;
      }
    }
  }
  
  /* About_slider */
  
  .about_slider {
    .main {
      &-slider {
        &-items {
          width: 441px;
          .slick {
            &-dots {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  
  /* Services-other */
  
  .services-other {
    h2 {
      text-align: center;
    }
    .other-items {
      display: block;
      ul {
        margin: 0 auto 20px;
        &:last-child {
          margin: 0 auto 20px;
        }
      }
    }
  }
  
  /* Portfolio */
  
  .portfolio {
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin-bottom: 20px;
    }
    &-slider {
      &-wrap {
        width: 500px;
      }
    }
  }
  
  /* Vacancy  */
  
  .vacancy {
    &-content {
      padding-right: 0;
      margin-bottom: 40px;
      &-wrap {
        display: block;
      }
    }
    &-sidebar {
      width: auto;
    }
  }
  
  /* Briefcase */
  
  .briefcase {
    &-header {
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }
    &-head {
      margin-right: 0;
    }
  }
  
  // Serve
  
  .serve {
    &-el {
      width: 544px;
      height: auto;
      padding: 40px 34px 40px 112px;
      &.big {
        width: 544px;
        height: 400px;
      }
      &-img {
        top: 28px;
        left: 20px;
      }
    }
  }
  
  // Working
  
  .working {
    &-side {
      flex-direction: column;
      &__head {
        font-size: 32px;
        margin-bottom: 15px;
      }
    }
  }
  
  // Concise
  
  .concise {
    width: 540px;
    &__text {
      padding: 0 10px;
    }
    &-logo {
      margin: 0 auto 20px;
    }
    &-header {
      flex-direction: column;
      text-align: center;
      padding: 0 40px;
    }
    .data-select {
      margin-right: 19px;
    }
  }
  
  // Data
  
  .data {
    width: 520px;
    &-header {
      padding-right: 12px;
      padding-left: 12px;
      i {
        right: 16px;
      }
    }
    &-content {
      padding: 0 12px 22px;
    }
  }
  
  // Product
  
  .product {
    &-content {
      &__head {
        font-size: 28px;
      }
    }
    &-item {
      p {
        margin-bottom: 16px;
      }
    }
  }
  
  // Reviews
  
  .reviews {
    padding: 38px 0 0;
    &:before {
      display: none;
    }
  }
  
}

@media only screen and (max-width: 575px) {
  
  /* Nav */
  
  .nav {
    &-wrap {
      padding-top: 3px;
    }
  }
  
  /* Showcase */
  
  .showcase {
    &-content {
      h2 {
        font-size: 32px;
      }
    }
    &-info {
      width: auto;
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  
  /* Showcase-inner */
  
  .showcase-inner {
    .showcase {
      &-content {
        &__text {
           font-size: 24px;
        }
      }
    }
  }
  
  /* Main-services */
  
  .main-services {
    &-items {
      width: auto;
    }
    .tab {
      &-content {
        padding: 12px 10px 20px 10px;
        &-items {
          display: block;
        }
        &-item {
          margin: 0 auto 15px;
          .number {
            margin-bottom: 2px;
          }
        }
        &-text {
          line-height: 1.3;
        }
      }
      &-nav {
        li {
          font-size: 14px;
        }
      }
    }
    &-head {
      .num {
        font-size: 90px;
      }
      .text {
        font-size: 20px;
        width: auto;
      }
    }
    &-link {
      margin-right: 0;
      display: block;
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
  
  /* Offers */
  
  .offers {
    &-nav {
      li {
        font-size: 14px;
      }
    }
    &-content {
      a {
        p {
          width: 100%;
          text-align: center;
          padding-left: 0;
        }
      }
    }
  }
  
  /* Brief */
  
  .brief {
    padding-left: 5px;
    padding-right: 5px;
    &-content {
      h2 {
        font-size: 24px;
      }
    }
  }
  
  /* Main-slider */
  
  .main-slider {
    &-items {
      width: 221px;
    }
  }
  
  /* Callback */
  
  .callback {
    &-content {
      width: auto;
    }
  }
  
  /* About-video */

  .about-video {
    iframe {
      height: 280px;
    }
  }
  
  /* About_slider */
  
  .about_slider {
    .main {
      &-slider {
        &-items {
          width: 221px;
        }
      }
    }
  }
  
  /* Offer */
  
  .offer {
    &-item {
      padding: 34px 20px 0 25px;
    }
  }
  
  /* Portfolio */
  
  .portfolio {
    &-slider {
      &-wrap {
        width: auto;
        margin-bottom: 100px;
      }
    }
  }
  
  /* Similar */
  
  .similar {
    &:before {
      display: none;
    }
    &-item {
      height: auto;
    }
  }
  
  /* Contacts */
  
  .contacts {
    margin: 50px auto 90px;
    &:before,
    &:after {
      display: none;
    }
  }
  
   /* Vacancy  */
  
  .vacancy {
    &-info {
      b {
        margin-bottom: 10px;
        display: block;
      }
    }
  }
  
  /* Pagination */
  
  .pagination li.pagination__left, .pagination li.pagination__right {
    margin-right: 0;
  }
    
  .pagination li.pagination__right {
    margin-left: 0;
  }
  
  .pagination {
    li {
      width: 34px;
      height: 34px;
      a {
        line-height: 34px;
      }
    }
  }
  
  // Serve
  
  .serve {
    &-el {
      width: 100%;
      padding: 20px 10px 24px;
      &.big {
        width: 100%;
        height: auto;
        background-image: none !important;
      }
      &.more {
        padding-right: 20px;
        padding-left: 14px;
        .serve {
          &-el {
            &__name {
              font-size: 30px;
              margin-bottom: 30px;
            }
          }
        }
      }
      &-img {
        position: static;
        margin-bottom: 15px;
      }
      &__head {
        font-size: 22px;
      }
      &__text {
        line-height: 1.3;
      }
    }
    &-elem {
      width: 100%;
    }
    &-item {
      margin: 0 !important;
    }
  }
  
  // Produce
  
  .produce {
    &-content {
      &__name {
        padding-left: 0;
        font-size: 22px;
      }
    }
    &-item {
      &.great {
        .produce-content__name {
          font-size: 22px;
        }
      }
    }
    &-link {
      .link span {
        font-size: 13px;
      }
    }
  }
  
  // Concise
  
  .concise {
    width: auto;
    margin: 0 6px;
    &__text {
      font-size: 15px;
    }
    &-items {
      width: 100%;
      padding: 0 10px;
    }
    &-item {
      &-input {
        width: 100%;
      }
    }
    &-header {
      padding: 0 10px;
      &__head {
        font-size: 20px;
      }
    }
    .data {
      &-date {
        justify-content: flex-start;
        align-items: flex-start;
      }
      &-select {
        span {
          width: 20px;
        }
      }
    }
  }
  
  .fancybox-close-small {
    top: 10px;
    right: 12px;
  }
  
  // Data
  
  .data {
    width: auto;
    margin: 0 5px 30px;
    &-header {
      padding-left: 6px;
      &__head {
        font-size: 15px;
      }
      i {
        right: 8px;
      }
    }
    &-date {
      flex-direction: column;
    }
    &-content {
      padding: 0 6px 22px;
    }
  }
  
  // Product
  
  .product {
    &-content {
      &__head {
        span {
          font-size: 40px;
        }
      }
    }
    &-links {
      margin-left: 0;
    }
    &-link {
      a {
        font-size: 18px;
      }
    }
  }
  
  // Reviews
  
  .reviews {
    &-item {
      &:last-child {
        padding-bottom: 20px;
      }
    }
    &-content {
      width: 100%;
    }
    &-img {
      width: 100%;
      &:after {
        background-size: 80%;
      }
      &:before {
        border: 15px solid #00aeef;
        border-top: 13px solid #00aeef;
        border-bottom: none;
      }
    }
    &_pagination {
      margin-bottom: 0;
    }
  }
  
  .pagination {
    li {
      width: 28px;
      height: 28px;
      a {
        line-height: 28px;
      }
    }
  }
  
  // Perform
  
  .perform {
    &-item {
      width: 290px;
      margin: 0 0 30px;
    }
  }
  
  // Option
  
  .option {
    &-img {
      width: auto;
    }
  }
  
  // Cost
  
  .cost {
    &-item {
      margin: 0 0 20px;
      &:last-child {
        margin: 0 0 20px;
      }
    }
  }
  
  // Terms
  
  .terms {
    .tools__text {
      line-height: 1.2;
      font-size: 20px;
      margin-bottom: 40px;
    }
    &-item {
      width: 100% !important;
      padding: 22px 20px 40px 14px !important;
    }
    &-elems {
      flex-direction: column;
    }
    &-el {
      font-size: 16px;
      line-height: 1.3;
    }
  }
  
  // Activity
  
  .activity {
    &__node {
      line-height: 1.3;
    }
  }
}