$blue: #00aeef;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'PragmaticaC', sans-serif;
}

a {
  font: 400 16px 'PragmaticaC', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

.link {
  position: relative;
  span {
    display: block;
    color: #fff;
    background-color: $blue;
    padding: 12px 50px 12px 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    transition: 300ms;
    
  }
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 30px;
    color: $blue;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 5px;
    transition: 300ms;
  }
  &:hover {
    span {
      background: #0796cb;
    }
    i {
      color: #0796cb;
    }
  }
}

.head {
  font-family: 'PragmaticaLightC';
  font-size: 34px;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
}

.burger-wrap {
  display: none;
}

.logo {
  margin: 0 46px 0 0;
}

/* Header */

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 300px;
  &-wrap {
    background: url(../images/header-bg.jpg) no-repeat 50%;
    background-size: cover;
    padding: 30px 0 290px;
    margin-bottom: 56px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/before_lamp.png) no-repeat 50%;
      width: 34px;
      height: 184px;
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &-select {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    &__name {
      display: flex;
      align-items: center;
      border-radius: 30px;
      height: 40px;
      padding: 0 55px 0 26px;
      font: 700 16px 'PragmaticaLightC';
      color: #fff;
      background-color: #b0cc1f;
      box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        background: url(../images/link-arrow.png) no-repeat 50%;
        width: 29px;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 4px;
      }
      &.active {
        border-radius: 18px 18px 0 0;
      }
    }
    &-list {
      opacity: 0;
      visibility: hidden;
      text-align: left !important;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: #b0cc1f;
      box-shadow: 0 16px 25px rgba(0, 174, 239, 0.45);
      padding: 0 0 8px;
      border-radius: 0 0 18px 18px;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      li {
        padding: 8px 0 8px 26px;
        a {
          color: #fff;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Header inner

.header_inner {
  padding-bottom: 28px !important;
  margin-bottom: 0;
  background: #edf4f8;
  &:after {
    display: none;
  }
  .header {
    margin-bottom: 0;
  }
  .nav {
    li {
      a {
        color: #000;
      }
    }
  }
}

/* Nav */

.nav {
  &-wrap {
    padding-top: 12px;
  }
  display: flex;
  li {
    padding: 0 30px 0 0;
    margin: 0 14px 0 0;
    position: relative;
    &:after {
      content: '//';
      display: block;
      color: #939598;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: #fff;
      text-transform: uppercase;
      padding: 0 0 7px;
      border-bottom: 2px solid #b0cc1f;
      font-weight: 700;
      &:hover {
        color: #b0cc1f;
        border-bottom: 2px solid transparent;
      }
    }
    &.active {
      a {
        color: #b0cc1f;
        border-bottom: 2px solid transparent;
      }
    }
  }
}

/* Showcase */

.showcase {
  &-content {
    &__head {
      text-align: center;
      color: #fff;
      font-size: 84px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 38px;
      margin-bottom: 40px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 120px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
  &-items {
    display: flex;
    justify-content: center;
  }
  &-item {
    &:first-child {
      margin-right: 140px;
    }
    li {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font: 700 24px 'PragmaticaLightC';
      }
    }
  }
}

// Serve

.serve {
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: -71px;
    left: 50%;
    transform: translate(-50%);
  }
  &__head {
    text-align: center;
    font: 400 34px 'PragmaticaLightC';
    margin-bottom: 27px;
  }
  &-items {
    padding-bottom: 120px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
  }
  &-elem {
    margin: 0 20px 20px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

// Serve el

.serve {
  &-el {
    width: 620px;
    height: 250px;
    background-color: #edf4f8;
    padding: 42px 40px 5px 141px;
    margin: 0 0 20px 0;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background-color: #00aeef;
      .serve-el {
        &-img {
          background-position: right;
        }
        &__head {
          &:after {
            background-color: #fff;
          }
        }
        &__head,
        &__text {
          color: #fff;
        }
      }
    }
    &.big {
      height: 520px;
      margin-bottom: 0;
      &:hover {
        background: #00aeef !important;
      }
    }
    &.more {
      background-color: #b0cc1f;
      padding-right: 135px;
      .serve-el {
        &__name {
          font-size: 44px;
          font-weight: 700;
          line-height: 1.15;
          margin-bottom: 34px;
        }
      }
      .link {
        span {
          color: #000;
          background-color: #fff;
          box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
        }
        i {
          color: #fff;
          background-color: #b0cc1f;
        }
        &:hover {
          span {
            color: #b0cc1f;
          }
        }
      }
    }
    &-img {
      position: absolute;
      top: 42px;
      left: 34px;
    }
    &__head {
      font: 700 24px 'PragmaticaLightC';
      color: #000;
      padding-bottom: 17px;
      margin-bottom: 14px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #00aeef;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &__text {
      color: #000;
      font: 400 16px/1.6 'PragmaticaLightC';
    }
  }
}

// Serve img

.serve-el-img {
  width: 72px;
  height: 72px;
  &.img1 {
    background: url(../images/serve1.png) no-repeat left;
  }
  &.img2 {
    background: url(../images/serve2.png) no-repeat left;
  }
  &.img3 {
    background: url(../images/serve3.png) no-repeat left;
  }
  &.img4 {
    background: url(../images/serve4.png) no-repeat left;
  }
}

/* Showcase-inner */

.showcase-inner {
  background: none;
  .showcase {
    height: 400px;
    margin-bottom: 46px;
    background-position: 50%;
    position: relative;
    padding: 0;
    &-content {
      width: 680px;
      padding-top: 186px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      &__name {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 17px;
        margin-bottom: 18px;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 50px;
          height: 1px;
          background-color: #fff;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }
      }
      &__text {
        font-family: 'PragmaticaLightC';
        font-size: 34px;
        color: #fff;
        line-height: 1.3;
      }
    }
    &:before {
      content: '';
      display: block;
      background: url(../images/before_lamp3.png) no-repeat 50%;
      width: 34px;
      height: 175px;
      position: absolute;
      top: -36px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

  // Showcase slider

.showcase-slider {
  position: relative;
  .slick {
    &-arrow {
      cursor: pointer;
      border: none;
      background: url(../images/arrowSlider1.png) no-repeat 50%;
      width: 20px;
      height: 40px;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 60px;
      z-index: 100;
    }
    &-next {
      left: auto;
      right: 60px;
      background: url(../images/arrowSlider2.png) no-repeat 50%;
    }
  }
}

  /* Main-services */

.main-services {
  display: flex;
  justify-content: space-between;
  padding: 110px 0 77px;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/before.png) no-repeat 50%;
    width: 34px;
    height: 191px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -17px;
  }
  &-wrap {
    background-color: #b0cc1f;
  }
  &-items {
    width: 540px;
    padding: 16px 0 0;
    h2 {
      font-family: 'PragmaticaLightC';
      font-size: 34px;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 26px;
    }
  }
  &-links {
    padding-top: 14px;
  }
  &-link {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-right: 30px;
  }
  &-brief {
    span {
      background-color: #ec008c;
    }
    i {
      color: #ec008c;
      box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
    }
    &:hover {
      span {
        background: #EC0053;
      }
      i {
        color: #EC0053;
      }
    }
  }
}

/* Main-services-content */

.main-services {
  &-head {
    margin-bottom: 9px;
    .num {
      display: inline-block;
      vertical-align: top;
      color: #fff;
      font-size: 124px;
      font-weight: 700;
      padding-left: 73px;
    }
    .text {
      display: inline-block;
      vertical-align: top;
      width: 302px;
      font-size: 24px;
      font-weight: 700;
      margin-left: -80px;
      margin-top: 48px;
      line-height: 1.3;
    }
  }
  &-content {
    width: 620px;
    margin-top: -13px;
    p {
      line-height: 1.6;
      margin-bottom: 28px;
      font-family: 'PragmaticaLightC';
    }
  }
}

/* Tab */

.tab-nav {
  display: flex;
  justify-content: space-between;
  li {
    width: 177px;
    text-align: center;
    background-color: $blue;
    color: #fff;
    border: 3px solid $blue;
    border-bottom: none;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background: $blue;
      z-index: 100;
    }
    &.active {
      color: #000;
      background: #fff;
      &:after {
        display: block;
        background: #fff;
      }
    }
  }
}

.tab-content {
  display: none;
  background: #fff;
  border: 3px solid $blue;
  padding: 27px 60px 25px 50px;
  margin-top: -3px;
  &.active {
    display: block;
  }
  &-text {
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    margin: 0 0 19px;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 106px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    .number {
      position: relative;
      color: #fa0b8b;
      font-size: 34px;
      font-weight: 700;
      padding-bottom: 12px;
      margin-bottom: 10px;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background: $blue;
        position: absolute;
        bottom: 4px;
        left: 0;
      }
    }
    p {
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
    }
  }
}

/* Offers */

.offers {
  background-color: #edf4f8;
  &-wrap {
    overflow: hidden;
    margin-top: -120px;
  }
  &-top {
    display: flex;
  }
  &-bottom {
    display: flex;
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 2000px;
      height: 100%;
      background-color: #edf4f8;
      position: absolute;
      top: 0;
      left: 100%;
    }
    &:after {
      left: auto;
      right: 100%;
    }
  }
}

/* Offers-nav */

.offers-nav {
  flex-shrink: 0;
  width: 960px;
  display: flex;
  li {
    display: flex;
    align-items: center;
    width: 20%;
    height: 120px;
    padding: 10px 33px 0 20px;
    background: $blue;
    margin-right: 1px;
    font-weight: 700;
    color: #fff;
    line-height: 1.6;
    text-transform: uppercase;
    transition: 300ms;
    cursor: pointer;
    &:first-child {
      padding: 10px 6px 0 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: #edf4f8;
      color: #000;
    }
    &:hover {
      color: #000;
      background-color: #edf4f8;
    }
  }
}

/* Offers-info */

.offers-info {
  height: 120px;
  padding: 0 60px 0 40px;
  background-color: #b0cc1f;
  flex-grow: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    line-height: 1.6;
  }
  a {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

/* Offers-content */

.offers-content {
  display: none;
  &-wrap {
    width: 640px;
    flex-shrink: 0;
    padding: 36px 50px 0 0;
    display: flex;
    flex-wrap: wrap;
  }
  &.active {
    display: block;
  }
  a {
    display: inline-block;
    vertical-align: top;
    width: 282px;
    margin-right: 14px;
    margin-bottom: 34px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    img {
      display: inline-block;
      vertical-align: top;
      width: 72px;
      height: 72px;
    }
    p {
      display: inline-block;
      vertical-align: top;
      width: 206px;
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
      padding: 15px 0 0 10px;
    }
    &:hover {
      p {
        text-decoration: underline;
      }
    }
  }
}

/* Offers-img */

.offers-img {
  width: 320px;
  flex-shrink: 0;
  position: relative;
  text-align: center;
  opacity: .9;
  transition: 300ms;
  span {
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
  }
  &:hover {
    opacity: 1;
  }
  img {
    height: 100%;
  }
}

/* Offers-items */

.offers {
  &-items {
    flex-grow: 10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    background: $blue;
    width: 49.9%;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
    span {
      color: #fff;
      margin-top: 14px;
    }
    &:hover {
      background: #0796cb;
    }
  }
}

/* Main-more */

.main-more {
  position: relative;
  padding: 170px 0 216px;
  &:before {
    content: '';
    display: block;
    background: url(../images/before_lamp.png) no-repeat 50%;
    width: 34px;
    height: 184px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -17px;
  }
  &:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -17px;
  }
}

// Produce

.produce {
  margin: 96px 0 178px;
  &__head {
    margin-bottom: 25px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &-item {
    width: 300px;
    &.tall {
      margin-top: 60px;
      .produce {
        &-item {
          &-img {
            height: 580px;
          }
        }
      }
    }
    &.great {
      width: 620px;
      .produce {
        &-item {
          &-img {
            height: 600px;
          }
        }
        &-content {
          &-info {
            padding: 0;
          }
          &__name {
            font-size: 34px;
          }
        }
      }
    }
    &.few {
      margin-top: 28px;
      .produce {
        &-item {
          margin-bottom: 35px;
          &:last-child {
            margin-bottom: 0;
          }
          &-img {
            height: 240px;
          }
        }
      }
    }
    &-img {
      width: 100%;
      font-size: 0;
      margin-bottom: 18px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background-color: rgba(0, 174, 239, .4);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 300ms;
      }
      &:hover:before {
        opacity: 1;
        visibility: visible;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-link {
    text-align: center;
  }
}

// Produce content

.produce-content {
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    padding: 0 8px 0 4px;
  }
  &__date {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #0897dd;
      position: absolute;
      bottom: -17px;
      left: 0;
    }
  }
  &__link {
    color: #00aeef;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    &.green {
      color: #b0cc1f;
    }
    &.pink {
      color: #fa0b8b;
    }
  }
  &__name {
    font: 400 24px/1.45 'PragmaticaLightC';
    color: #000;
    padding-left: 5px;
    &:hover {
      color: #00aeef;
    }
  }
}

/* Events */

.events {
  margin-bottom: 184px;
  &-items {
    display: flex;
    margin-bottom: 35px;
  }
}

// Events-item 

.events-item {
  position: relative;
  height: 620px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 5;
  }
  &.item3 {
    &:after {
      display: none;
    }
  }
  &-content {
    position: absolute;
    top: 30px;
    left: 25px;
    right: 20px;
	  z-index: 6;
    p {
      font-family: 'PragmaticaLightC';
      font-size: 24px;
      color: #fff;
      line-height: 1.3;
    }
  }
  &.item1 {
    width: 300px;
  }
  &.item2 {
    width: 620px;
    margin: 0 20px;
  }
  &.item3 {
    width: 300px;
    &:before {
      display: none;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 162, 235, .8);
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Events item par 

.events-item-par {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 0 0 18px;
  font-size: 0;
  &:last-child {
    margin-bottom: 0;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 5;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 162, 235, .8);
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Events item data 

.events-item-data {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 26px;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

// Working

.working {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  &-side {
    width: 240px;
    padding-top: 30px;
    flex-shrink: 0;
    &__head {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 62px;
      line-height: 1.1;
    }
    .link span {
      font-size: 16px;
    }
  }
  .about-work {
    &__head {
      line-height: 1.65;
      margin-bottom: 12px;
    }
    &-item {
      margin-right: 27px;
    }
  }
}

/* Main-slider */

.main-slider {
  padding: 80px 0 50px;
  margin-bottom: 56px;
  &__head {
    margin-bottom: 33px;
  }
  &:before {
    content: '';
    display: block;
    background: url(../images/before_plane.png) no-repeat 50%;
    width: 34px;
    height: 191px;
    position: absolute;
    top: -146px;
    left: 50%;
    margin-left: -17px;
    
  }
  &-wrap {
    background-color: #edf4f8;
  }
  &-items {
    width: 1101px;
    margin: 0 auto;
    position: relative;
    .slick {
      &-dots {
        position: absolute;
        bottom: 40px;
        right: 51px;
        li {
          display: inline-block;
          vertical-align: top;
          width: 12px;
          height: 12px;
          background-color: #c7d8e2;
          border-radius: 50%;
          margin: 0 11px;
          cursor: pointer;
          button {
            display: none;
          }
        }
        .slick-active {
          background: $blue;
        }
      }
    }
  }
  &-item {
    border-top: 1px solid $blue;
    border-left: 1px solid $blue;
    font-size: 0;
    a {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 220px;
      height: 110px;
      line-height: 110px;
      border-right: 1px solid $blue;
      border-bottom: 1px solid $blue;
      background: #fff;
      &:hover {
        box-shadow: inset 0px 1px 27px 5px rgba(0, 174, 239, 0.35);
      }
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

/* Brief */

.brief {
  background: url(../images/brief-bg.jpg) no-repeat 50%;
  padding: 102px 0 35px;
  margin-bottom: 64px;
  text-align: center;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/before_lamp2.png) no-repeat 50%;
    width: 34px;
    height: 146px;
    position: absolute;
    top: -57px;
    left: 50%;
    margin-left: -17px;
  }
  &-content {
    width: 715px;
    margin: 0 auto;
    h2 {
      font-size: 48px;
      font-weight: 700;
      span {
        display: block;
        margin-bottom: 10px;
      }
    }
    p {
      font-family: 'PragmaticaLightC';
      font-size: 24px;
      margin-bottom: 30px;
      padding-top: 12px;
    }
    .link span {
      font-size: 16px;
    }
  }
  &-check-in {
    margin-top: 70px;
    .brief {
      &:before {
        display: none;
      }
    }
  }
}

/* Map */

.map {
  height: 100%;
  position: relative;
  z-index: 5;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

/* Callback */

.callback {
  width: 620px;
  position: relative;
  z-index: 10;
  height: 100%;
  padding-top: 53px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 150px;
    bottom: 0;
    background: #fa0b8b;
    width: 2000px;
    z-index: -1;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -110px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 450px 260px 0 0;
    border-color: #fa0b8b transparent transparent transparent;
    z-index: -1;
  }
  &-wrap {
    position: relative;
    height: 450px;
  }
  &-inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    .container {
      height: 100%;
    }
  }
  &__head {
    color: #fff;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    font-weight: 400;
    margin: 0 0 22px;
  }
  &-img {
    margin-bottom: 18px;
  }
  &-soc {
    a {
      margin-right: 15px;
      &:hover {
        opacity: .8;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Callback-nav */

.callback-nav {
  margin-bottom: 24px;
  li {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0 9px;
    cursor: pointer;
    transition: 300ms;
    line-height: 40px;
    border-radius: 20px;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 9px;
      right: 9px;
    }
    &.active {
      color: #000;
      background: #fff;
      &:after {
        display: none;
      }
    }
    &:hover {
      color: #000;
      background: #fff;
      &:after {
        display: none;
      }
    }
  }
}

/* Callback-content */

.callback-content {
  display: none;
  width: 410px;
  &.active {
    display: block;
  }
  &-wrap {
    margin-bottom: 21px;
  }
  p, a {
    color: #fff;
    font-family: 'PragmaticaLightC';
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 6px;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Footer */

.footer {
  padding: 48px 0 45px;
  display: flex;
  &-wrap {
    background: $blue;
  }
  &-info {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Footer-logo */

.footer-logo {
  width: 240px;
  flex-shrink: 0;
  margin-right: 90px;
  &-text {
    padding-top: 42px;
    span {
      display: block;
      color: #fff;
      font-family: 'PragmaticaLightC';
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
}

/* Footer-content */

.footer-content {
  width: 673px;
  display: flex;
  justify-content: space-between;
  margin-right: 55px;
  ul {
    li {
      margin: 0 0 18px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-family: 'PragmaticaLightC';
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Bottom */

.bottom {
  text-align: center;
  padding-bottom: 25px;
  span, a {
    color: #fff;
    font-family: 'PragmaticaLightC';
    font-size: 14px;
    font-weight: 700;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Bread */

.bread {
  padding: 18px 0 16px;
  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding-right: 20px;
    margin-right: 8px;
    &:last-child {
      padding-right: 0;
      margin-right: 0;
      &:before {
        display: none;
      }
    }
    &:before {
      content: '//';
      display: block;
      color: #939598;
      position: absolute;
      top: 0;
      right: 0;
    }
    a {
      font-size: 14px;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Sidebar */

.sidebar {
  width: 220px;
  margin-top: 12px;
  li {
    padding-left: 30px;
    position: relative;
    &:before {
      content: '//';
      display: block;
      color: #939598;
      position: absolute;
      top: 0; 
      left: 0;
    }
    a {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 4px;
      margin-bottom: 30px;
      border-bottom: 2px solid $blue;
      &:hover {
        color: #fa0b8b;
        border-bottom: 2px solid transparent;
      }
    }
    &.active {
      a {
        color: #fa0b8b;
        border-bottom: 2px solid transparent;
      }
    }
  }
  &-name {
    color: #111;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    line-height: 1.3;
  }
}

/* Frame */

.frame {
  width: 940px;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
}

/* About-content */

.about-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
  &-text {
    flex-grow: 10;
    padding-right: 52px;
    p {
      color: #111;
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
      margin-bottom: 33px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-sidebar {
    width: 220px;
    flex-shrink: 1;
    li {
      position: relative;
      padding-left: 60px;
      margin-bottom: 27px;
      color: #111;
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        display: block;
        background: url(../images/about-button.png) no-repeat 50%;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        left: 24px;
      }
    }
  }
  &-header {
    display: flex;
    padding: 0;
    margin-bottom: 31px;
    margin-top: -7px;
    .num {
      color: #fa0b8b;
      font-size: 94px;
      font-weight: 700;
      flex-shrink: 1;
      margin-right: 12px;
    }
    .text {
      color: #111;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.6;
      margin-right: 16px;
      margin-top: 13px;
    }
  }
}

/* About-services */

.about-services {
  background-color: #b0cc1f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 0 0;
  margin-bottom: 58px;
  &-item {
    width: 220px;
    margin: 0 38px 36px;
    display: flex;
    img {
      width: 80px;
      height: 80px;
    }
  }
  &-content {
    padding-left: 24px;
    color: #111;
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    padding-bottom: 16px;
    margin-top: 8px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 6px;
      left: 24px;
    }
  }
}

/* About-video */

.about-video {
  margin-bottom: 63px;
  iframe {
    height: 420px;
    width: 100%;
    border: none;
  }
}

/* About-work */

.about-work {
  margin-bottom: 54px;
  &_head {
    margin-bottom: 41px;
  }
  &__head {
    font-weight: 700;
    color: #111;
    line-height: 1.6;
    margin: 21px 0 16px;
  }
  &-items {
    display: flex;
    margin-bottom: 52px;
  }
  &-item {
    width: 210px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    p {
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
    }
    &.second {
      margin-top: 40px;
    }
  }
  &-link {
    text-align: center;
  }
}

/* About_slider */

.about {
  &_slider {
    padding-top: 45px;
    background-color: #edf4f8;
    margin-bottom: 65px;
    &:before {
      display: none;
    }
    .main {
      &-slider {
        &-items {
          width: 881px;
        }
        &-item {
          a {
            &:nth-last-child(2),
            &:nth-last-child(3) {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* Services */

.services {
  padding-bottom: 150px;
  .sidebar {
    width: 280px;
  }
  &_events {
    .events {
      margin-bottom: 85px;
    }
  }
}

/* Services-content */

.services {
  &-content {
    &-text {
      color: #111;
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 50px;
      }
      span {
        display: block;
        line-height: 1.6;
      }
    }
  }
}

/* Services about-services */

.services {
  .about-services {
    background-color: #edf4f8;
    &-content {
      &:before {
        background: $blue;
      }
    }
  }
}

/* Services-other */

.services-other {
  margin-bottom: 60px;
  h2 {
    font-family: 'PragmaticaLightC';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .other {
    &-items {
      display: flex;
      margin-left: 110px;
      ul {
        width: 215px;
        margin-right: 74px;
        &:last-child {
          margin-right: 0;
        }
        li {
          position: relative;
          margin-bottom: 20px;
          padding-left: 57px;
          &:before {
            content: '';
            display: block;
            width: 30px;
            height: 1px;
            background-color: $blue;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: #000;
            font-family: 'PragmaticaLightC';
          }
        }
      }
    }
  }
}

/* Offer */

.offer {
  padding: 60px 0 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/before_plane.png) no-repeat 50%;
    width: 34px;
    height: 191px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%);
  }
  &-wrap {
    background-color: #b0cc1f;
  }
  &-name {
    width: 280px;
    flex-shrink: 0;
    color: #111;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    line-height: 1.4;
  }
  &-items {
    display: flex;
  }
  .stars {
    img {
      margin-right: 1px;
    }
  }
}

/* Offer-item */

.offer {
  &-item {
    width: 300px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #fa0b8b;
    padding: 34px 30px 0 40px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &__head {
      font-family: 'PragmaticaLightC';
      font-size: 24px;
      color: #111;
      padding: 26px 0 16px;
      font-weight: 400;
    }
    ul {
      li {
        font-family: 'PragmaticaLightC';
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 26px;
        }
      }
    }
  }
  &-price {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

/* Services-work */

.services-work {
  display: flex;
  justify-content: space-between;
  padding: 55px 0 103px;
  margin-bottom: 108px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: -78px;
    left: 50%;
    transform: translate(-50%);
  }
  &-wrap {
    background-color: #edf4f8;
  }
  &-name {
    flex-shrink: 0;
    width: 266px;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 14px;
  }
  .about-work-items {
    margin-right: 12px;
  }
}

/* Portfolio */

.portfolio {
  width: 938px;
  margin: 0 auto;
  text-align: center;
  &__text {
    color: #111;
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    margin-bottom: 45px;
  }
  &_showcase {
    .showcase {
      margin-bottom: 41px;
    }
  }
}

/* Portfolio-items */

.portfolio {
  &-items {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
  }
  &-item {
    width: 204px;
    height: 204px;
    border-radius: 50%;
    border: 2px dotted $blue;
    margin: 0 44px;
    padding: 58px 0 0;
    &__number {
      color: #fa0b8b;
      font-size: 34px;
      font-weight: 700;
      padding-bottom: 12px;
      margin-bottom: 14px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fa0b8b;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
    &__text {
      width: 115px;
      margin: 0 auto;
      color: #111;
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
    }
  }
}

/* Portfolio-slider */

.portfolio-slider {
  &-wrap {
    width: 780px;
    margin: 0 auto 210px;
    position: relative;
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        transition: 300ms;
        z-index: 5;
        border-radius: 50%;
        width: 28px;
        height: 27px;
        background-color: #dfe9ef;
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        left: -36px;
        &:hover {
          background-color: $blue;
        }
        i {
          font-size: 21px;
          color: #fff;
        }
      }
      &-next {
        left: auto;
        right: -62px;
      }
      &-dots {
        display: flex;
        position: absolute;
        bottom: -34px;
        left: 50%;
        transform: translate(-50%);
        li {
          cursor: pointer;
          transition: 300ms;
          width: 12px;
          height: 12px;
          background-color: #c7d8e2;
          border-radius: 50%;
          margin: 0 7px;
          &:hover {
            background-color: $blue;
          }
          button {
            display: none;
          }
          &.slick-active {
            background: $blue;
          }
        }
      }
    }
  }
}

/* Similar */

.similar {
  position: relative;
  padding: 75px 0 60px;
  &:before {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    top: -136px;
    left: 50%;
    transform: translate(-50%);
  }
  &__head {
    margin: 0 0 30px;
  }
  &-wrap {
    background-color: #edf4f8;
  }
  &-items {
    display: flex;
  }
  &-item {
    position: relative;
    width: 300px;
    height: 300px;
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
    &-content {
      padding: 30px 20px 0 20px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(22, 162, 235, 0.8);
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__number {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__text {
    font-family: 'PragmaticaLightC';
    font-size: 24px;
    line-height: 1.6;
    color: #fff;
  }
}

/* Contacts */

.contacts {
  width: 938px;
  margin: 87px auto 195px;
  text-align: center;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/before_heart2.png) no-repeat 50%;
    width: 34px;
    height: 97px;
    position: absolute;
    top: -122px;
    left: 50%;
    transform: translate(-50%);
  }
  &:after {
    content: '';
    display: block;
    background: url(../images/before_lamp.png) no-repeat 50%;
    width: 34px;
    height: 184px;
    position: absolute;
    bottom: -230px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
  }
  &__head {
    margin-bottom: 36px;
  }
  &__text {
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    margin-bottom: 30px;
  }
}

/* Vacancy */

.vacancy {
  margin-top: 87px;
  margin-bottom: 40px;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/before_lamp4.png) no-repeat 50%;
    width: 34px;
    height: 97px;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%);
  }
  &__head {
    margin: 0 0 32px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 620px;
    background-color: #edf4f8;
    margin: 0 20px 20px 0;
    padding: 25px 52px 40px 36px;
    transition: 300ms;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:hover {
      background-color: #fa0b8b;
      color: #fff;
      .vacancy-item {
        &__dep {
          background-color: transparent;
          border: 1px solid #fff;
        }
      }
    }
    &__dep {
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
      background-color: #fa0b8b;
      padding: 0 22px 0 20px;
      margin-bottom: 25px;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 20px;
      border: 1px solid transparent;
      transition: 300ms;
      &.green {
        background-color: #b0cc1f;
      }
      &.blue {
        background-color: $blue;
      }
    }
    &__head {
      font-family: 'PragmaticaLightC';
      font-size: 24px;
      margin-bottom: 16px;
      font-weight: 400;
    }
    &__number {
      font-weight: 700;
      padding-bottom: 16px;
      margin-bottom: 15px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #fa0b8b;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &__text {
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
    }
  }
}


/* Vacancy-content */

.vacancy-content {
  flex-grow: 10;
  padding-right: 57px;
  &-wrap {
    display: flex;
    margin-bottom: 54px;
    .vacancy-item__head {
      padding-bottom: 16px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #fa0b8b;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .vacancy-item__text {
      margin-bottom: 31px;
    }
  }
}

/* Vacancy-sidebar */

.vacancy-sidebar {
  flex-shrink: 0;
  align-self: flex-start;
  width: 380px;
  background-color: #edf4f8;
  padding: 33px 40px 45px 30px;
  &-item {
    margin-bottom: 33px;
    font-family: 'PragmaticaLightC';
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text {
    margin-bottom: 5px;
  }
  &__info {
    font-weight: 700;
    line-height: 1.6;
  }
}

/* Vacancy-info */

.vacancy-info {
  a {
    font-weight: 700;
    text-decoration: underline;
    color: $blue;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Vacancy-other */

.vacancy-other {
  padding: 43px 0 35px;
  &-wrap {
    background-color: #edf4f8;
  }
  .vacancy__head {
    text-align: left;
  }
  .vacancy-item {
    background-color: #fff;
    &:hover {
      background-color: #fa0b8b;
    }
  }
}

/* Vacancy-item disabled */

.vacancy-item {
  &.disabled {
    color: #d0dde4;
    .vacancy-item__dep {
      background-color: #d0dde4;
    }
    .vacancy-item__number:after {
      background-color: #d0dde4;
    }
    &:hover {
      background-color: #edf4f8;
    }
  }
}

/* Briefcase */

.briefcase {
  margin-top: 86px;
  &-head {
    margin-right: 46px;
    margin-bottom: 28px;
  }
  &-header {
    display: flex;
  }
}

/* Briefcase-nav */

.briefcase-nav {
  margin-top: -2px;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
    a {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $blue;
      padding: 0 20px;
      line-height: 40px;
      border-radius: 20px;
      &:after {
        content: '';
        display: block;
        height: 2px;
        background: $blue;
        position: absolute;
        bottom: 4px;
        left: 20px;
        right: 20px;
      }
      &:hover {
        color: #ec008c;
        background-color: #edf4f8;
        &:after {
          display: none;
        }
      }
    }
    &.active {
      a {
        color: #ec008c;
        background-color: #edf4f8;
        &:after {
          display: none;
        }
      }
    }
  }
}

/* Briefcase1 */

.briefcase1 {
  margin-bottom: 20px;
  .events {
    &-item {
      &.item2 {
        margin-left: 0;
      }
      &.item1 {
        margin-right: 20px;
      }
    }
  }
}

/* Briefcase3 */

.briefcase2 {
  margin-bottom: 20px;
}

/* Briefcase3 */

.briefcase3 {
  .events {
    &-item {
      &.item2 {
        margin: 0;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}

/* Pagination */

.pagination {
  text-align: center;
  padding: 22px 0 56px;
  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    a {
      width: 100%;
      line-height: 40px;
      border-radius: 50%;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        color: #fff;
        background: #ec008c;
      }
    }
    &.active {
      a {
        color: #fff;
        background: #ec008c;
      }
    }
    &.pagination__left, 
    &.pagination__right {
      width: 28px;
      height: 27px;
      background-color: #dfe9ef;
      border-radius: 50%;
      margin-right: 24px;
      a {
        height: 27px;
        line-height: 27px;
        color: #fff;
        i {
          font-size: 21px;
          margin-top: 3px;
        }
        &:hover {
          background: $blue;
        }
      }
    }
    &.pagination__right {
      margin-right: 0;
      margin-left: 24px;
    }
  }
}

// Concise

.concise {
  display: none;
  width: 1100px;
  margin: 0 auto;
  padding: 36px 0 34px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
  position: relative;
  &-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 26px;
    padding: 0 140px 0 58px;
    &__head {
      flex-grow: 10;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &-logo {
    flex-shrink: 0;
    margin-right: 60px;
  }
  &__text {
    font-family: 'PragmaticaLightC';
    margin-bottom: 42px;
    padding: 0 40px 0 60px;
  }
  &-link {
    text-align: center;
    margin-left: 12px;
    .link {
      span {
        padding-left: 26px;
      }
    }
  }
}

// Concise items

.concise {
  &-items {
    width: 500px;
    margin: 0 auto 33px;
  }
  &-item {
    margin-bottom: 26px;
    &:first-child {
      margin-bottom: 20px;
    }
    label {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 6px;
      cursor: pointer;
    }
    &-input {
      width: 500px;
      input {
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 1px solid #aaa;
        font: 400 16px 'PragmaticaLightC';
        padding: 0 12px;
        color: #000;
        transition: 300ms;
        &:focus {
          border-bottom: 1px solid $blue;
        }
        &::-webkit-input-placeholder { 
          color: #000;
        }
        &:-moz-placeholder { 
          color: #000;
        }
        &::-moz-placeholder { 
          color: #000;
        }
        &:-ms-input-placeholder {
          color: #000;
        }
      }
    }
    &__text {
      font: 400 14px 'PragmaticaLightC';
      margin-top: 16px;
    }
  }
}

// Concise data

.data {
  width: 620px;
  margin: 0 auto 36px;
  border: 2px solid #00aeef;
  &-header {
    position: relative;
    cursor: pointer;
    padding: 20px 56px 18px;
    &.active {
      i {
        transform: rotate(0deg);
        background-color: $blue;
      }
    }
    &__head {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }
    i {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #fff;
      transition: 300ms;
      position: absolute;
      top: 18px;
      right: 60px;
      transform: rotate(180deg);
      background-color: #aaa;
    }
  }
  &-content {
    display: block;
    padding: 0 56px 22px;
    &.active {
      display: none;
    }
  }
  &-input {
    margin-bottom: 22px;
    input {
      width: 100%;
      height: 34px;
      border: none;
      border-bottom: 1px solid #aaa;
      font: 400 16px 'PragmaticaLightC';
      padding: 0 12px;
      color: #000;
      transition: 300ms;
      &:focus {
        border-bottom: 1px solid $blue;
      }
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
}

// Concise date

.concise {
  .data {
    &-date {
      display: flex;
      align-items: flex-end;
      margin-bottom: 22px;
      font-size: 0;
      &__name {
        font: 400 16px 'PragmaticaLightC';
        padding: 0 34px 6px 12px;
        border-bottom: 1px solid #aaa;
        margin-right: 20px;
      }
    }
    &-content {
      display: none;
    }
    &-select {
      margin-right: 31px;
      &:last-child {
        margin-right: 0;
      }
      span {
        display: inline-block;
        font: 400 16px 'PragmaticaLightC';
        margin-right: 10px;
      }
      select {
        border: none;
        width: 162px;
        height: 34px;
        border-bottom: 1px solid #aaa;
        font: 400 16px 'PragmaticaLightC';
         -webkit-appearance: none;
        background-image: url(../images/arr.png);
        background-position: 98% center;
        background-repeat: no-repeat;
        line-height: 1em;
        /* for FF */
        -moz-appearance: none;
        text-indent: 0.01px; 
        text-overflow: '';
        /* for IE */
        -ms-appearance: none;
        appearance: none!important;
      }
    }
  }
}

// Fancybox

.fancybox {
  &-close {
    &-small {
      background: url(../images/arrws.png) no-repeat 50%;
      width: 34px;
      height: 34px;
      top: 45px;
      right: 60px;
      &:after {
        display: none;
      }
    }
  }
}

// Product

.product {
  display: flex;
  padding: 84px 0 78px;
  margin-bottom: 60px;
  &-wrap {
    background-color: #b0cc1f;
  }
  &-content {
    width: 270px;
    flex-shrink: 0;
    &__head {
      font-size: 38px;
      font-weight: 700;
      line-height: 1.2;
      span {
        display: block;
        font-size: 184px;
        font-weight: 700;
        color: #fff;
        margin-top: -8px;
        margin-bottom: -18px;
      }
    }
  }
  &-items {
    flex-grow: 10;
    padding: 5px 0 0 48px;
    display: flex;
  }
  &-item {
    width: 48%;
    margin-right: 3%;
    &:last-child {
      margin-right: 0;
    }
    p {
      line-height: 1.65;
      margin-bottom: 24px;
      text-align: justify;
    }
  }
  &-links {
    text-align: center;
    padding-top: 9px;
    margin-left: 22px;
    .link {
      span {
        background-color: #ec008c;
        box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
      }
      i {
        color: #ec008c;
      }
      &:hover span {
        background-color: #EC0053;
      }
    }
  }
  &-link {
    margin: 0 0 21px 10px;
    a {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      border-bottom: 1px solid #fff;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Reviews

.reviews {
  padding: 150px 0 0;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/before_lamp5.png) no-repeat 50%;
    width: 34px;
    height: 114px;
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
  }
  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 170px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/q1.png) no-repeat 50%;
      width: 101px;
      height: 76px;
      position: absolute;
      bottom: 44px;
      left: 218px;
    }
    &:last-child {
      padding-bottom: 66px;
      &:after {
        display: none;
      }
    }
  }
  &-content {
    width: 540px;
    &__head {
      color: #111;
      font: 700 24px/1.2 'PragmaticaLightC';
      padding-bottom: 24px;
      margin-bottom: 22px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 93px;
        height: 2px;
        background-color: $blue;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &__text {
      color: #111;
      font: 400 16px/1.65 'PragmaticaLightC';
    }
  }
  &-img {
    width: 620px;
    opacity: .4;
    position: relative;
    &:hover {
      opacity: 1;
      &:after, &:before {
        opacity: 1;
        visibility: visible;
      }
    }
    &:after {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      content: '';
      display: block;
      background: url(../images/zoom-in.png) no-repeat 50%;
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 50%;
      margin-left: -40px;
    }
    &:before {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      content: '';
      display: block;
      border: 32px solid $blue;
      border-top: 28px solid $blue;
      border-bottom: none;
      background-color: rgba(0, 174, 239, .6);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &_pagination {
    margin-bottom: 18px;
  }
}

// Activity

.activity {
  &__node {
    text-align: center;
    width: 990px;
    margin: 0 auto;
    color: #fff;
    font: 700 18px/1.6 'PragmaticaLightC';
  }
  &_header {
    padding-bottom: 295px;
    .showcase {
      &-content {
        &__head {
          text-transform: none;
        }
      }
    }
  }
}

// Perform

.perform {
  padding-bottom: 117px;
  margin-bottom: 74px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  .head {
    padding-top: 3px;
    margin-bottom: 42px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 380px;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
    &__head {
      font: 700 24px 'PragmaticaLightC';
      padding-bottom: 18px;
      margin-bottom: 12px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: $blue;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    ul {
      padding-left: 12px;
      li {
        line-height: 1.65;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 3px;
          height: 3px;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          top: 9px;
          left: -12px;
        }
      }
    }
  }
  &-img {
    width: 72px;
    height: 72px;
    margin-bottom: 23px;
  }
}

// Option

.option {
  display: flex;
  &-wrap {
    background-color: #edf4f8;
    padding: 74px 0 84px;
    margin-bottom: 166px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/before_plane.png) no-repeat 50%;
      width: 34px;
      height: 191px;
      position: absolute;
      bottom: -152px;
      left: 50%;
      transform: translateX(-50%);
    }
    .head {
      margin-bottom: 52px;
    }
    &.logistics {
      padding: 58px 0 103px;
      &:after {
        background: url(../images/before_lamp1.1.png) no-repeat 50%;
        bottom: -137px;
      }
    }
  }
  &-img {
    width: 540px;
    flex-shrink: 0;
    margin-right: -4px;
  }
  &-items {
    flex-grow: 10;
    padding-right: 120px;
  }
  &-item {
    margin-bottom: 49px;
    &:last-child {
      margin-bottom: 0;
    }
    &__head {
      font: 700 24px 'PragmaticaLightC';
      padding-bottom: 14px;
      margin-bottom: 14px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: $blue;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &__text {
      font: 400 16px/1.65 'PragmaticaLightC';
    }
  }
}

// Option elem

.option {
  &-elems {
    margin-right: 100px;
  }
  &-elem {
    margin-bottom: 20px;
    &.active {
      .option {
        &-elem {
          &-head {
            span {
              color: #000;
            }
            i {
              color: #000;
              transform: rotate(180deg);
            }
          }
          &-content {
            display: block;
          }
        }
      }
    }
    &-head {
      position: relative;
      cursor: pointer;
      span {
        color: $blue;
        font: 700 24px/1.35 'PragmaticaLightC';
        transition: 300ms;
      }
      i {
        transition: 300ms;
        position: absolute;
        top: 7px;
        right: 0;
        font-size: 20px;
        color: $blue;
        transform: rotate(0deg);
      }
    }
    &-content {
      display: none;
      padding-top: 8px;
      font: 400 16px/1.65 'PragmaticaLightC';
    }
  }
}

// Tools

.tools {
  &__text {
    width: 675px;
    margin: 26px auto 43px;
    font: 700 24px/1.3 'PragmaticaLightC';
    text-align: center;
    padding-right: 8px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 277px;
    margin: 0 43px 49px 0;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &__link {
      margin-top: 17px;
      color: #000;
      font: 400 16px/1.65 'PragmaticaLightC';
      &:hover {
        color: $blue;
      }
    }
  }
}

// Pick

.pick {
  padding: 46px 0;
  color: #fff;
  &-wrap {
    background-color: $blue;
  }
  &__head {
    font: 700 24px 'PragmaticaLightC';
    margin-bottom: 30px;
  }
  &__text {
    font: 400 16px/1.65 'PragmaticaLightC';
    margin-bottom: 30px;
  }
  &-content {
    padding: 0 100px 0 80px;
    ul {
      li {
        font: 400 16px/1.6 'PragmaticaLightC';
      }
    }
  }
}

// Cost

.cost {
  margin-bottom: 60px;
  padding-top: 14px;
  .tools__text {
    width: 730px;
    padding-right: 5px;
    line-height: 1.45;
    margin-bottom: 46px;
  }
  &-items {
    display: flex;
    align-items: flex-start;
  }
  &-item {
    width: 300px;
    border: 2px solid $blue;
    margin-right: 20px;
    padding: 22px 29px 30px;
    &:last-child {
      margin-right: 0;
    }
    &__head {
      font: 700 24px 'PragmaticaLightC';
      text-align: center;
      margin-bottom: 4px;
    }
    &__text {
      font: 700 16px/1.65 'PragmaticaLightC';
      text-align: center;
      margin-bottom: 18px;
    }
    ul {
      li {
        font: 400 16px/1.65 'PragmaticaLightC';
        margin-bottom: 8px;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          display: block;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #000;
          position: absolute;
          top: 11px;
          left: -9px;
        }
      }
    }
  }
}

// Terms

.terms {
  padding: 58px 0 89px;
  .head {
    color: #fff;
    margin-bottom: 35px;
  }
  .tools__text {
    color: #fff;
    width: 900px;
    padding-right: 5px;
    line-height: 1.45;
    margin-bottom: 66px;
  }
  &-wrap {
    background-color: $blue;
  }
  &-items {
    display: flex;
  }
  &-item {
    margin-right: 10px;
    padding: 22px 55px 23px 32px;
    background-color: #fff;
    position: relative;
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      background: $blue url(../images/arrows-double.png) no-repeat 50%;
      border: 5px solid #fff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
      z-index: 10;
    }
    &__head {
      color: #fa0b8b;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 17px;
    }
  }
  &-elems {
    display: flex;
  }
  &-el {
    margin-right: 40px;
    font: 700 18px/1.6 'PragmaticaLightC';
    &:last-child {
      margin-right: 0;
    }
  }
}

// Terms item

.terms-item {
  &.first {
    width: 590px;
  }
  &.second {
    width: 420px;
    padding-left: 47px;
    .terms-el {
      margin-right: 21px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.three {
    width: 230px;
    padding-left: 51px;
  }
}