@media only screen and (max-width: 1200px) {
  #wrapper {
    padding-top: 168px; }

  .header-btns .btn {
    font-size: 12px;
    padding: 0 8px;
    height: 35px;
    line-height: 35px; }

  .navbar-default .navbar-nav > li > a {
    padding: 7px 5px;
    font-size: 16px; }

  .header .logo {
    margin-right: 20px; }
  .header h1 {
    font-size: 20px;
    margin-bottom: 5px; }

  .sticky .navigation {
    margin-top: 7px; }

  .navigation {
    margin-left: 0;
    margin-top: 20px; }

  .footer-bottom .develop span {
    margin-right: 30px; }

  .owl-carousel .item .brand-wrap {
    padding: 50px; }

  .carousel-caption {
    bottom: 10%;
    padding-right: 45px; }

  .team-list > li p, .team-list > li .name {
    padding: 0; }

  .mission-nav .title {
    font-size: 22px;
    top: 60px; }
  .mission-nav .more {
    top: 95px; }

  .partnres-list > li .brand-wrap {
    padding: 40px; }

  .partnres-list.inner-list > li > div {
    padding: 0; } }
@media only screen and (max-width: 992px) {
  #wrapper {
    padding-top: 193px; }

  .header .logo {
    width: 65px; }
  .header h1 {
    font-size: 19px;
    margin-bottom: 5px;
    line-height: 20px;
    max-width: 440px;
    margin-top: 2px; }

  .footer-bottom {
    text-align: center; }
    .footer-bottom .develop {
      text-align: center;
      margin-top: 15px; }

  .header-btns {
    width: 100%;
    text-align: center; }

  .social, .lang {
    margin-top: 0; }

  h2, .h2-title {
    font-size: 28px; }

  h1, .h1-title, h2, .h2-title, h3, .h3-title, h4, .h4-title, h5, .h5-title {
    margin-bottom: 15px; }

  .carousel-caption {
    padding-right: 25px;
    bottom: 0;
    top: 25%; }
    .carousel-caption > div {
      font-size: 36px; }
      .carousel-caption > div span {
        font-size: 25px; }

  .right {
    right: 80px; }

  .carousel-controls {
    width: 55px;
    height: 55px; }

  .h2-title.title-small {
    font-size: 20px; }

  .team-list > li {
    width: 33.33333%; }

  .middle-head .h2-title {
    margin-bottom: 17px; }

  .report-list > li > a {
    font-size: 20px;
    padding-left: 60px; }

  .programs-list > li .img-wrap {
    max-width: 300px; }

  .partnres-list {
    text-align: center; }
    .partnres-list > li {
      width: 33.33333%; }
      .partnres-list > li .brand-wrap {
        padding: 30px; } }
@media only screen and (max-width: 767px) {
  body, html {
    height: auto; }

  #wrapper {
    padding-top: 254px;
    min-width: 1px;
    margin-bottom: 0px; }

  .page-buffer {
    display: none; }

  .footer {
    height: auto;
    text-align: center; }
    .footer ul {
      min-height: 100%; }

  h2, .h2-title {
    font-size: 24px; }

  .sub-title {
    font-size: 20px;
    line-height: 24px; }

  .header .logo {
    float: none;
    display: inline-block; }
  .header .header-head {
    text-align: center; }
  .header h1 {
    margin-top: 5px;
    font-size: 20px;
    line-height: 22px;
    max-width: 350px;
    vertical-align: middle;
    display: inline-block; }
  .header .slogan {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }

  .head-block {
    text-align: center; }

  .header .small-logo {
    display: none; }

  .header-btns {
    width: initial;
    float: right; }

  .navigation {
    text-align: left; }

  .navbar-default .navbar-toggle {
    margin-top: 0; }
  .navbar-default .navbar-collapse {
    padding: 0; }
  .navbar-default .navbar-nav {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 0; }
    .navbar-default .navbar-nav > li {
      float: left;
      margin-right: 10px; }

  .header-btns {
    position: absolute;
    right: 0;
    top: 0; }

  .nav-tabs > li > a {
    font-size: 20px;
    margin: 0 10px; }

  .owl-carousel .item {
    padding: 20px; }
    .owl-carousel .item .brand-wrap {
      padding: 30px; }

  .owl-carousel .owl-dots {
    display: block; }

  .owl-nav {
    display: none; }

  .carousel {
    display: none; }

  .block-2 {
    padding-top: 20px; }

  .team-list > li {
    text-align: center; }

  .form {
    text-align: center; }

  .team-list {
    text-align: center; }
    .team-list > li {
      width: 100%;
      max-width: 250px; }

  .fond-nav > li {
    margin: 0 10px; }

  .breadcrumb {
    padding-bottom: 14px; }

  .mission-nav a {
    max-width: 400px;
    margin: 0 auto 25px; }
  .mission-nav .title {
    font-size: 32px;
    top: 90px; }
  .mission-nav .more {
    top: 150px; }

  .partnres-list {
    text-align: center; }
    .partnres-list > li {
      width: 100%;
      max-width: 230px;
      padding: 0 15px; }

  .map-caption {
    max-width: 375px;
    left: 50%;
    margin-left: -178.5px;
    padding: 20px; } }
@media only screen and (max-width: 600px) {
  .report-list > li {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
    .report-list > li > a {
      display: inline-block;
      text-align: left;
      font-size: 18px; }

  .programs-list > li .img-wrap {
    width: 100%;
    max-width: 100%;
    text-align: center; } }
@media only screen and (max-width: 480px) {
  input[type="text"], textarea {
    font-size: 16px; }

  #wrapper {
    padding-top: 263px; }

  h2, .h2-title {
    font-size: 20px; }

  .h2-title.title-small {
    font-size: 18px; }

  .header .logo {
    width: 50px;
    margin-right: 15px; }
  .header h1 {
    margin-top: 5px;
    font-size: 16px;
    max-width: 220px; }
  .header .slogan {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }

  .navbar-default .navbar-toggle {
    padding-right: 5px;
    margin: 0; }

  .header-btns .btn {
    min-width: 100px;
    font-size: 10px;
    margin: 0 1px;
    padding: 0 8px; }

  .owl-carousel .item {
    padding: 20px; }
    .owl-carousel .item .brand-wrap {
      margin: 0 40px 20px 40px; }

  .navbar-default .navbar-nav > li {
    float: left;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center; }
    .navbar-default .navbar-nav > li > a {
      font-size: 20px; }

  .nav-tabs > li {
    width: 100%; }
    .nav-tabs > li > a {
      padding: 12px 0;
      font-size: 22px; }

  .fond-nav > li {
    margin: 0 5px; }
    .fond-nav > li > a {
      font-size: 12px;
      margin-bottom: 7px; }

  .middle-head .h2-title {
    margin-bottom: 21px; }

  .breadcrumb {
    padding-bottom: 21px; }

  .mission-nav .title {
    font-size: 6.5vw; }

  .requisits p, .requisits span {
    display: block;
    margin-bottom: 15px; }

  .requisits .requisits-title {
    margin-bottom: 10px; }

  .programs-list > li {
    padding: 15px 0 30px; }
  .programs-list .program-title {
    font-size: 22px;
    line-height: 24px; }

  .fond-subtitle {
    font-size: 14px; }

  .map-caption {
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 20px; }
    .map-caption p {
      font-size: 20px; }
      .map-caption p span {
        font-size: 14px; } }

/*# sourceMappingURL=media.css.map */
