html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  font-size: 100%
  vertical-align: baseline

html
  line-height: 1

ol, ul
  list-style: none

table
  border-collapse: collapse
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal
  vertical-align: middle

q, blockquote
  quotes: none
  q:before, q:after, blockquote:before, blockquote:after
    content: ""
    content: none

a img
  border: none

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
  display: block


=placeholder-color($color-pl)
  &:-moz-placeholder,
  &::-moz-placeholder
    color: $color-pl
    opacity: 1
  &::-webkit-input-placeholder
    color: $color-pl

// border-radius
=border-radius($radius: 5px)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

// Constants

$bordo: #1b495a
$green: #54b20f

// typography var
$site-text-size: 14px
$site-text-color: #000000
$site-title-color: #1b495a
$site-h1-size: 48px
$site-h2-size: 32px
$site-h3-size: 28px
$site-h4-size: 24px
$site-h5-size: 20px

// btn var
$btn-border-color: #54b20f
$btn-bg-color: #54b20f
$btn-color: #ffffff

// btn hover var
$btn-h-border-color: #54b20f
$btn-h-bg-color: #ffffff
$btn-h-color: #54b20f

// link style
$color-link: #1b495a


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700)
//  font-family: 'Roboto', sans-serif

@font-face
  font-family: "Agora-Black"
  src: url(../fonts/agora/PFAgoraSlabPro-Black.ttf)

@font-face
  font-family: "Agora-Italic"
  src: url(../fonts/agora/PFAgoraSlabPro-Italic.ttf)

@font-face
  font-family: 'Agora-MedItalic'
  src: url('../fonts/agora/PFAgoraSlabPro-MedItalic.eot')
  src: local("☺"), url('../fonts/agora/PFAgoraSlabPro-MedItalic.woff') format("woff"), url('../fonts/agora/PFAgoraSlabPro-MedItalic.ttf') format("truetype"), url('../fonts/agora/PFAgoraSlabPro-MedItalic.svg') format("svg")
  font-weight: normal
  font-style: normal

/*----------- Typography *
 ------------------------------------------------------------*/
html, body
  height: 100%

body
  background: #ffffff
  font-family: 'Roboto', sans-serif
  font-weight: 500
  font-size: $site-text-size
  line-height: 18px
  color: $site-text-color
  margin: 0
  padding: 0
  width: 100%


h1, .h1-title, h2, .h2-title, h3, .h3-title, h4, .h4-title, h5, .h5-title
  display: block
  font-family: "Agora-Black", sans-serif, Arial, sans-serif
  line-height: 1.1em
  color: $site-title-color
  margin-bottom: 20px
  text-align: center
  text-transform: uppercase

h1, .h1-title
  font-size: $site-h1-size

h2, .h2-title
  font-size: $site-h2-size

h3, .h3-title
  font-size: $site-h3-size

h4, .h4-title
  font-size: $site-h4-size

h5, .h5-title
  font-size: $site-h5-size

p
  margin-bottom: 20px
  font-family: 'Roboto', sans-serif

ul
  margin-bottom: 20px

a
  color: $color-link
  text-decoration: underline
  font: 500 14px/18px 'Roboto', sans-serif
  &:hover
    color: #8a8989
    text-decoration: none
  &:focus
    color: #8a8989
    text-decoration: none

img
  vertical-align: middle
  max-width: 100%

h2.custom-h2
  text-align: left

h2.white
  color: #ffffff


.sub-title
  margin-bottom: 35px
  font: 24px/26px 'Roboto', sans-serif
  text-align: center

.h2-title.title-small
  font-size: 24px
  word-break: break-all

.sub-title.white
  color: #ffffff

ul.inline-format 
  font: 14px Verdana, sans-serif
  word-spacing: -.36em


ul.inline-format li 
  word-spacing: normal


// Forms

.placeholder 
  color: #959595 

*:focus::-moz-placeholder 
  color: transparent !important 

*[autofocus]::-moz-placeholder:focus 
  color: #000!important 

*:focus:-moz-placeholder 
  color: transparent !important 

*[autofocus]:-moz-placeholder:focus 
  color: #000!important 

*:focus::-webkit-input-placeholder 
  color: transparent !important 

*[autofocus]::-webkit-input-placeholder 
  color: #000!important

input[type="text"]
  height: 50px
  background-color: white
  box-shadow: 0px 0px 0px 1px #a1a1a1
  color: #6d6e71
  font: 18px/1.2em 'Roboto', sans-serif
  +placeholder-color(#6d6e71)
  padding: 0 20px
  margin-bottom: 20px
  border: none

  transition: all 0.3s ease
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  &:focus
    box-shadow: 0px 0px 0px 2px $green
    outline: none


textarea
  height: 100px
  background-color: white
  box-shadow: 0px 0px 0px 1px #a1a1a1
  color: #6d6e71
  font: 18px/1.2em 'Roboto', sans-serif
  +placeholder-color(#6d6e71)
  padding: 15px 20px
  margin-bottom: 20px
  border: none

  transition: all 0.2s ease
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  &:focus
    box-shadow: 0px 0px 0px 2px $green
    outline: none

// Page


#wrapper
  position: relative
  overflow: hidden
  min-width: 320px
  margin-bottom: -320px
  padding-top: 161px
  min-height: 100%
  z-index: 30

.page-buffer
  height: 320px

.clearfix:after 
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

.img-wrap
  margin-bottom: 25px

.bordo
  color: $bordo

.breadcrumb
  padding: 18px 15px 10px 0px
  background: none
  margin-bottom: 0
  li + li:before
    content: '\003E'
    color: #1b495a
  > li
    font: 14px/18px 'Roboto', sans-serif
    > a 
      color: #00baff
      font: 14px/18px 'Roboto', sans-serif

  .active
    color: #1b495a  


.divider
  display: block
  margin-bottom: 20px
  width: 100%
  height: 2px
  background-color: #cccccc
  position: relative
  &:before
    content: ' '
    position: absolute
    top: 0
    left: 50%
    margin-left: -70px
    width: 140px
    height: 2px
    background-color: $green 
    

.divider.divider-left
  &:before
    left: 0
    margin-left: 0

.divider.bordo
  background-color: $bordo
  &:before
    background-color: #ffffff

.divider.white
  background-color: #ffffff

// btn!

.btn
  min-width: 120px
  height: 40px
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 0 15px
  margin: 0
  font: 700 14px/39px 'Roboto', sans-serif
  text-align: center
  text-decoration: none
  border: 1px solid #54b20f
  cursor: pointer
  outline: none
  text-transform: uppercase
  background-color: $btn-bg-color
  color: $btn-color
  +border-radius(40px)

  transition: all 0.2s ease
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  &:hover
    background-color: $bordo
    color: #ffffff
    border: 1px solid $bordo

.btn:focus
  outline: none
  color: $btn-color

.btn-lg
  height: 60px
  font-size: 18px
  line-height: 58px
  padding: 0 40px
  min-width: 300px

.btn-max
  width: 100%
  padding: 0 5px

.btn-trans
  background: none
  min-width: 225px
  border-color: $bordo
  color: $bordo
  &:hover
    background: none
    background-color: $bordo
    border-color: $bordo
    color: #ffffff

// header

.header
  padding: 14px 0 14px
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: #ffffff
  z-index: 1000
  .small-logo
    width: 50px
    margin-right: 0px
    float: left
    visibility: hidden
  .header-head
    overflow: hidden

  .logo 
    float: left
    margin-right: 30px

  .slogan
    font: 14px/18px 'Roboto', sans-serif

  h1 
    font: 700 24px/28px 'Roboto', sans-serif
    color: #000000
    margin-bottom: 8px
    margin-top: 10px
    text-align: left
    text-transform: none

.sticky
  position: fixed
  width: 100%
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09)
  padding: 10px 0

  transition: all 0.4s ease
  -webkit-transition: all 0.4s ease
  -moz-transition: all 0.4s ease
  .header-top
    display: none
  .small-logo
    visibility: visible

  .navigation
    margin-left: 0

.navigation
  margin-top: 7px
  margin-left: 7.5555%
  position: relative
  

.lang
  margin: 10px
  overflow: hidden
  display: inline-block
  vertical-align: middle
  > li 
    margin: 0 5px
    float: left
    font: 700 14px/18px 'Roboto', sans-serif
    > a 
      color: #54b20f
      font: 700 14px/18px 'Roboto', sans-serif
      text-decoration: underline
      &:hover
        text-decoration: none

  .active
    color: #000000
    cursor: default

.head-block
  text-align: right

.social
  margin: 10px
  overflow: hidden
  display: inline-block
  vertical-align: middle
  > li 
    float: left
    margin: 0 3.5px
    > a 
      display: block
      width: 33px
      height: 33px
      background: url('../images/sprite.png') 0 0 no-repeat


    .vk
      background-position: -209px -48px
    .fb
      background-position: -59px -70px
    .inst
      background-position: -129px -130px


.header-btns
  display: inline-block
  vertical-align: top
  .btn 
    margin: 0 3px


.navbar-default 
  background: none
  border: none
  margin-bottom: 0
  +border-radius(0px)
  display: inline-block
  min-height: 100%
  height: 100%
  .navbar-collapse
    border: none
  .navbar-toggle
    float: left
    padding: 3px 5px 5px
    margin: 5px 0 0
    border: none
    +border-radius(0px)
    &:focus, &:hover
      background: none
    &:focus .icon-bar, &:hover .icon-bar
      background: $bordo

    .icon-bar
      width: 35px
      height: 7px
      background-color: $green

  .dropdown-menu
    background-color: $green 
    &:before
      position: absolute
      top: -20px
      left: 15px
      content: ' '
      border: 10px solid transparent
      border-bottom: 10px solid $green
    > li
      > a
        background: none
        color: #ffffff
        text-decoration: none
        font: 16px/18px 'Roboto', sans-serif
        padding: 5px 15px
        &:hover,&:focus
          text-decoration: underline
          background: none


  .navbar-nav
    .dropdown:hover .dropdown-menu
      display: block
      
    > li
      > a
        color: #1b495a
        text-transform: uppercase
        font: 18px/20px 'Roboto', sans-serif
        text-decoration: none
        padding: 10px

        transition: all 0.2s ease
        -webkit-transition: all 0.2s ease
        -moz-transition: all 0.2s ease
        &:hover
          color: #54b20f

    .active
      > a 
        background: none
        color: #54b20f
        &:hover, &:focus 
          background: none
          color: #54b20f


// Middle

#middle   
  padding-bottom: 30px

.middle-head
  min-height: 130px
  background: url('../images/middle-head-bg.jpg') 0 0 repeat-x
  margin-bottom: 40px
  .h2-title
    margin-bottom: 12px

.fond-nav
  text-align: center
  .active
    border-bottom: 2px solid $green
    > a 
      text-decoration: none

  > li  
    display: inline-block
    margin: 0 15px 0
    
    > a   
      font: 700 18px/20px 'Roboto', sans-serif
      color: $bordo
      text-decoration: underline
      margin-bottom: 15px
      display: inline-block
      &:hover
        text-decoration: none


.carousel
  .container
    position: relative

.carousel-controls
  position: absolute
  display: block
  width: 68px
  height: 68px
  background-color: #e1f4fd
  bottom: 40px
  text-align: center
  span
    position: absolute
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -11px
    width: 22px
    height: 40px
    background-image: url('../images/sprite.png')
    background-repeat: no-repeat

.left
  right: 15px  
  span 
    background-position: -177px -5px

.right
  right: 100px
  span 
    background-position: -105px -5px

.carousel-caption
  max-width: 760px
  text-align: left
  bottom: 30%
  .caption-divider
    display: block
    margin-top: 20px
    height: 2px
    width: 100%
    background: #ffffff
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 15%, #ffffff 15%, #54b20f 15%, #54b20f 15%, #54b20f 100%)
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 15%,#ffffff 15%,#54b20f 15%,#54b20f 15%,#54b20f 100%)
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 15%,#ffffff 15%,#54b20f 15%,#54b20f 15%,#54b20f 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#54b20f',GradientType=1 )

  > div
    font: 48px/1.2em "Agora-Black", sans-serif
    text-transform: uppercase
    span 
      font: 32px/1.2em "Agora-Black", sans-serif
      display: block

.block-2
  padding-top: 40px
  padding-bottom: 40px

#middle.index-page
  padding-bottom: 0
  .magrifat-nav
    padding: 0 30px

.magrifat-nav
  border: 5px solid #ccf0ff
  padding: 30px
  > a  
    display: block
    padding: 15px 0
    border-bottom: 1px solid #cccccc
    text-decoration: none
    padding-left: 70px
    position: relative


    &:before
      position: absolute
      top: 15px
      left: 0
      content: ' '
      background: url('../images/sprite.png') 0 0 no-repeat
    &:last-child 
      border-bottom: none
    &:hover span 
      color: $green

      transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease
  

  .icon-1
    &:before
      width: 49px
      height: 50px
      background-position: -172px -130px
    &:hover:before
      background-position: -320px -185px

  .icon-2
    &:before
      width: 44px
      height: 55px
      background-position: -5px -70px
    &:hover:before
      background-position: -320px -62px

  .icon-3
    &:before
      width: 50px
      height: 50px
      background-position: -5px -5px
    &:hover:before
      background-position: -320px -5px

  .icon-4
    &:before
      width: 45px
      height: 50px
      background-position: -145px -70px
    &:hover:before
      background-position: -320px -125px

  .nav-title
    text-transform: uppercase
    display: block
    margin-bottom: 3px
    font: 700 18px/20px 'Roboto', sans-serif
    color: #1b495a


.green-caption
  color: $green
  margin-bottom: 25px
  font-family: 'Agora-MedItalic', sans-serif


.program-wrap
  padding: 40px 0 30px
  background: url('../images/middle-head-bg.jpg') 0 0 repeat

.programs-inner-page
  .magrifat-nav
    margin-bottom: 30px
    margin-top: 15px
  
.program-block
  overflow: hidden
  border: 1px solid $bordo
  margin-bottom: 30px
  > div
    width: 50%
    min-height: 256px
    display: inline-block
    vertical-align: top
    margin-right: -2px
  .img-wrap
    margin-bottom: 0
    img
      width: 100%
      display: inline-block
  .block-body
    
    background-color: #FFF
    padding: 25px 20px 10px
    > a
      color: $green 
      font-weight: 700
    .title
      color: $bordo
      font: 700 18px/22px 'Roboto', sans-serif
      margin-bottom: 25px
      display: inline-block
      text-transform: uppercase
    p 
      margin-bottom: 10px


.news
  padding-top: 40px
  padding-bottom: 35px

.article-data
  display: block
  margin-bottom: 13px

.article-title
  font: 700 18px/22px 'Roboto', sans-serif
  text-decoration: none
  display: inline-block
  color: $bordo
  margin-bottom: 20px
  transition: all 0.2s ease
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease

.inner-title
  font-size: 24px
  line-height: 26px

.article
  padding-bottom: 15px
  &:hover p 
    color: $green
  &:hover .article-title
    color: $green
  p 
    color: #000
    transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease

.single-news
  margin-bottom: 40px

// Tabs

.nav-tabs
  border-width: 2px
  border-color: #cccccc
  text-align: center
  > li
    float: none
    display: inline-block
    > a
      border: none
      background: none
      color: $green
      text-transform: uppercase
      font-family: "Agora-Black", sans-serif, Arial, sans-serif
      font-size: 24px
      line-height: 24px
      text-decoration: none
      position: relative
      padding: 20px 0
      margin: 0 20px
      &:hover:before
        position: absolute
        left: 50%
        margin-left: -70px
        bottom: -1px
        content: ' '
        width: 140px
        height: 2px
        background-color: $green

      &:hover, &:focus
        background: none
        border: none

  li.active a 
    border: none
    background: none
    &:hover, &:focus
      background: none
      border: none
    &:before
      position: absolute
      left: 50%
      margin-left: -70px
      bottom: -1px
      content: ' '
      width: 140px
      height: 2px
      background-color: $bordo

.tab-content
  padding-top: 35px


.partners-wrap
  padding: 35px 0
  background: url('../images/partners-bg.jpg') 0 0 repeat

.owl-carousel 
  .owl-dots
    text-align: center
    display: none
    .owl-dot
      background-color: #FFF
      border-radius: 20px
      display: block
      height: 15px
      width: 15px
      margin: 0px 6px
      display: inline-block
      opacity: 0.8
      margin-top: 15px


.owl-carousel
  max-width: 95%
  margin: 0 auto
  .item
    text-align: center
    .brand-wrap
      padding: 72px
      background-color: #FFF
      margin-bottom: 25px
    .item-caption
      color: #ffffff
      font-size: 18px
      line-height: 24px
      display: inline-block
      padding: 0 5px
      text-align: center

.owl-nav
  position: absolute
  width: 100%
  top: 30%
  div 
    position: absolute
    text-indent: 99999px
    background: url('../images/sprite.png') 0 0 no-repeat
  .owl-prev 
    left: -55px
    width: 30px
    height: 55px
    background-position: -65px -5px
  .owl-next
    right: -55px
    width: 30px
    height: 55px
    background-position: -137px -5px


// Footer

.footer
  height: 320px
  position: relative
  z-index: 1500

.footer-top
  background-color: #eff9fe
  padding: 35px 0 24px
  p 
    color: $bordo
    margin-bottom: 10px

  .schema
    display: inline-block
    margin-bottom: 10px

  .footer-title
    font: 24px/26px 'Roboto', sans-serif
    display: block
    color: $bordo
    margin-bottom: 15px

  ul
    min-height: 120px
    > li 
      margin-bottom: 10px
      > a 
        color: $bordo
        text-decoration: none
        &:hover
          text-decoration: underline

.footer-bottom
  background-color: $bordo
  p 
    color: #ffffff
  .copy 
    margin-top: 25px
    margin-bottom: 4px

  .text-or-slogan
    margin-bottom: 4px
    text-indent: 15px

  .develop
    text-align: right
    span 
      color: #00b9f2
      text-align: left
      font: 500 14px/18px 'Roboto', sans-serif
      display: inline-block
      margin-right: 40px
      vertical-align: middle
      max-width: 170px


  .social
    margin: 25px auto 0
    text-align: center
    display: block
    > li
      margin: 0 3px
      float: none
      display: inline-block
      > a
        display: block
        width: 36px
        height: 36px
        background-image: url("../images/sprite.png")

      .vk
        background-position: -231px -131px
      .fb
        background-position: -231px -88px
      .inst
        background-position: -231px -172px

.mission-nav
  a 
    position: relative
    margin-bottom: 25px
    display: block
    &:before
      position: absolute
      content: ' '
      transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease
    img 
      width: 100%
    &:hover .more
      color: #fff
    &:hover:before
      background-color: #54b20f
      width: 100%
      height: 100%
      content: ' '
      position: absolute
      opacity: 0.6


  span 
    position: absolute
    display: block
    width: 100%
    text-align: center
    z-index: 3

  .title
    font: 700 32px/1.2em 'Roboto', sans-serif
    color: #ffffff
    top: 90px
    text-transform: uppercase
    &:before
      position: absolute
      content: ' '
      width: 150px
      left: 50%
      margin-left: -75px
      top: -30px
      height: 23px
      background: url('../images/flower.png') 0 0 no-repeat

  .more
    font-size: 18px
    color: #00aeef
    top: 135px
    text-decoration: underline

.mision-nav
  padding-bottom: 0
  .divider
    margin-bottom: 30px

.fond-block
  margin-bottom: 35px
  overflow: hidden
  span[class^="icon"]
    margin-right: 20px
    display: block
    float: left
    background-image: url('../images/sprite.png')
    background-repeat: no-repeat
    margin-bottom: 20px

  .icon-1
    width: 60px
    height: 53px
    background-position: -59px -130px

  .icon-2
    width: 60px
    height: 60px
    background-position: -252px -5px

  .fond-title
    font: 700 18px/1.2em 'Roboto', sans-serif
    color: $bordo
    padding-left: 85px
    display: block
    margin-bottom: 15px
  p 
    padding-left: 85px


.mission-inner
  span[class^="icon"]
    float: none

  p , .fond-title
    padding-left: 0

.about-stuff
  margin-bottom: 30px

.team-list
  margin-bottom: 10px
  padding-top: 20px

  margin-right: -15px
  margin-left: -15px
  > li 
    margin-bottom: 40px
    display: inline-block
    vertical-align: top
    width: 25%
    padding: 0 15px
    img 
      display: block
      margin: 0 auto 20px
    p
      color: $bordo
      padding: 0 25px
      margin-top: 5px
    .name 
      font: 700 18px/1.2em 'Roboto', sans-serif
      color: $bordo
      padding: 0 25px

.main-name
  font: 700 24px/1.2em 'Roboto', sans-serif
  color: $bordo
  display: block
  margin-bottom: 5px
  margin-top: 10px
.main-rank
  font: 700 18px/1.2em 'Roboto', sans-serif
  color: $bordo
  display: block
  margin-bottom: 10px

.fond-subtitle
  font-size: 18px
  color: $bordo
  text-align: center
  display: block

#middle.team-page
  padding-bottom: 0

.form-bg
  background: url('../images/form-bg.jpg') 0 0 repeat
  padding-top: 35px
  padding-bottom: 20px
  min-height: 350px

.form-caption
  text-align: center
  color: #000000
  font: 18px/1.2em 'Roboto', sans-serif
  display: block
  margin-bottom: 20px

.form
  input
    width: 100%
  textarea
    width: 100%
    resize: none
  .btn 
    width: 100%
    max-width: 370px

.report-list
  overflow: hidden
  max-width: 960px
  margin: 50px auto
  > li 
    width: 47%
    float: left
    margin: 0 1.5%
    margin-bottom: 55px
    > a 
      color: $bordo
      font-size: 24px
      display: block
      padding-left: 85px
      line-height: 26px
      position: relative
      text-decoration: none
      &:hover:before
        background: url('../images/file-hover.png') 0 0 no-repeat
      &:before
        position: absolute
        top: 0
        left: 0
        content: ' '
        width: 45px
        height: 50px
        background: url('../images/sprite.png') -145px -70px no-repeat  

      &:hover, &:hover span 
        color: $green
    span 
      color: #000
      font-size: 14px
      display: block

.requisits
  margin: 50px 0
  p , span
    color: #000000
    font: 16px/24px 'Roboto', sans-serif

  .requisits-title
    font: 700 18px/1.2em 'Roboto', sans-serif
    color: $bordo
    margin-bottom: 20px
    display: inline-block
    min-width: 160px
    text-transform: uppercase


.programs-list
  p 
    transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease
  .program-title
    font: 32px/30px "Agora-Black", sans-serif
    color: $bordo
    display: block
    margin-bottom: 25px
    text-decoration: none
    transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease

  > li 
    padding: 45px 0
    border-bottom: 2px solid #cccccc
    position: relative
    overflow: hidden
    &:first-child
      padding-top: 20px
    &:last-child 
      border: none
    &:hover .btn
      background-color: $green 
      border-color: $green
      color: #fff
    &:hover p, &:hover .program-title 
      color: $green

    &:before
      position: absolute
      content: ' '
      width: 140px
      left: 50%
      margin-left: -70px
      bottom: -2px
      height: 2px
      background-color: #54b20f
    .img-wrap
      float: left
      margin-right: 30px
    .btn
      min-width: 165px

.green-link
  color: $green 
  font: 18px/1.2em 'Roboto', sans-serif
  &:hover
    color: $green 
    text-decoration: none

.partnres-list
  text-align: center
  margin-bottom: 35px
  margin-top: 35px
  > li 
    text-align: center
    display: inline-block
    width: 25%
    vertical-align: top
    margin-bottom: 25px
    padding: 0 25px
    a
      color: $bordo
      font: 700 18px/1.2em 'Roboto', sans-serif
      text-transform: uppercase
      text-decoration: none
      &:hover
        color: $green

    .rank
      color: $bordo
      font: 14px/1.2em 'Roboto', sans-serif

    .brand-wrap
      display: block
      padding: 65px
      border: 5px solid transparent 
      box-shadow: 0px 0px 0px 1px #ccc
      margin-bottom: 20px
      &:hover  
        color: $green
      &:hover
        border: 5px solid $green
        box-shadow: none

.partnres-list.inner-list 
  > li 
    text-align: center
    a 
      text-transform: none
      line-height: 24px
    img 
      margin-bottom: 25px
      display: inline-block

    > div 
      padding: 0 20px

    .rank
      display: inline-block
      margin-top: 10px
      span  
        display: block

#middle.contact-page
  padding-bottom: 0
  .middle-head
    margin-bottom: 0

.map-wrap
  position: relative
  height: 500px
  margin-bottom: 50px

.map-caption
  position: absolute
  top: 50px
  left: 20%
  background-color: rgba(#fff, 0.7)
  padding: 40px 30px
  > div 
    margin-bottom: 40px
    &:last-child, &:last-child p
      margin-bottom: 0
  .cont-title
    font: 700 18px/1.2em 'Roboto', sans-serif
    color: $bordo
    text-transform: uppercase
    margin-bottom: 10px
    display: block
  p 
    color: #000000
    font: 28px/1.2em 'Roboto', sans-serif
    span  
      font-size: 18px
      display: block

.slider
  background: url('../images/slider-bg.jpg') 50% 0 no-repeat
  margin-bottom: 30px

.carousel.programs-carousel
  text-align: center
  max-width: 970px
  margin: 0 auto
  img
    display: inline-block

.programs-carousel-arr
  width: 22px
  height: 40px
  top: 50%
  margin-top: -20px
  opacity: 1
  background: none

.programs-carousel-arr.left
  background-position: -105px -5px
  background-image: url('../images/sprite.png')
  left: -40px
.programs-carousel-arr.right
  background-position: -177px -5px
  background-image: url('../images/sprite.png')
  right: -40px

@import media