@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q q:before, q q:after, q blockquote:before, q blockquote:after, blockquote q:before, blockquote q:after, blockquote blockquote:before, blockquote blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Agora-Black";
  src: url(../fonts/agora/PFAgoraSlabPro-Black.ttf); }
@font-face {
  font-family: "Agora-Italic";
  src: url(../fonts/agora/PFAgoraSlabPro-Italic.ttf); }
@font-face {
  font-family: "Agora-MedItalic";
  src: url("../fonts/agora/PFAgoraSlabPro-MedItalic.eot");
  src: local("тШ║"), url("../fonts/agora/PFAgoraSlabPro-MedItalic.woff") format("woff"), url("../fonts/agora/PFAgoraSlabPro-MedItalic.ttf") format("truetype"), url("../fonts/agora/PFAgoraSlabPro-MedItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*----------- Typography *
 * ------------------------------------------------------------ */
html, body {
  height: 100%; }

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 100%; }

h1, .h1-title, h2, .h2-title, h3, .h3-title, h4, .h4-title, h5, .h5-title {
  display: block;
  font-family: "Agora-Black", sans-serif, Arial, sans-serif;
  line-height: 1.1em;
  color: #1b495a;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; }

h1, .h1-title {
  font-size: 48px; }

h2, .h2-title {
  font-size: 32px; }

h3, .h3-title {
  font-size: 28px; }

h4, .h4-title {
  font-size: 24px; }

h5, .h5-title {
  font-size: 20px; }

p {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif; }

ul {
  margin-bottom: 20px; }

a {
  color: #1b495a;
  text-decoration: underline;
  font: 500 14px/18px "Roboto", sans-serif; }
  a:hover {
    color: #8a8989;
    text-decoration: none; }
  a:focus {
    color: #8a8989;
    text-decoration: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

h2.custom-h2 {
  text-align: left; }

h2.white {
  color: #ffffff; }

.sub-title {
  margin-bottom: 35px;
  font: 24px/26px "Roboto", sans-serif;
  text-align: center; }

.h2-title.title-small {
  font-size: 24px;
  word-break: break-all; }

.sub-title.white {
  color: #ffffff; }

ul.inline-format {
  font: 14px Verdana, sans-serif;
  word-spacing: -0.36em; }

ul.inline-format li {
  word-spacing: normal; }

.placeholder {
  color: #959595; }

*:focus::-moz-placeholder {
  color: transparent !important; }

*[autofocus]::-moz-placeholder:focus {
  color: #000 !important; }

*:focus:-moz-placeholder {
  color: transparent !important; }

*[autofocus]:-moz-placeholder:focus {
  color: #000 !important; }

*:focus::-webkit-input-placeholder {
  color: transparent !important; }

*[autofocus]::-webkit-input-placeholder {
  color: #000 !important; }

input[type="text"] {
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px #a1a1a1;
  color: #6d6e71;
  font: 18px/1.2em "Roboto", sans-serif;
  padding: 0 20px;
  margin-bottom: 20px;
  border: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }
  input[type="text"]:-moz-placeholder, input[type="text"]::-moz-placeholder {
    color: #6d6e71;
    opacity: 1; }
  input[type="text"]::-webkit-input-placeholder {
    color: #6d6e71; }
  input[type="text"]:focus {
    box-shadow: 0px 0px 0px 2px #54b20f;
    outline: none; }

textarea {
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px #a1a1a1;
  color: #6d6e71;
  font: 18px/1.2em "Roboto", sans-serif;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }
  textarea:-moz-placeholder, textarea::-moz-placeholder {
    color: #6d6e71;
    opacity: 1; }
  textarea::-webkit-input-placeholder {
    color: #6d6e71; }
  textarea:focus {
    box-shadow: 0px 0px 0px 2px #54b20f;
    outline: none; }

#wrapper {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  margin-bottom: -320px;
  padding-top: 161px;
  min-height: 100%;
  z-index: 30; }

.page-buffer {
  height: 320px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.img-wrap {
  margin-bottom: 25px; }

.bordo {
  color: #1b495a; }

.breadcrumb {
  padding: 18px 15px 10px 0px;
  background: none;
  margin-bottom: 0; }
  .breadcrumb li + li:before {
    content: ">";
    color: #1b495a; }
  .breadcrumb > li {
    font: 14px/18px "Roboto", sans-serif; }
    .breadcrumb > li > a {
      color: #00baff;
      font: 14px/18px "Roboto", sans-serif; }
  .breadcrumb .active {
    color: #1b495a; }

.divider {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 2px;
  background-color: #cccccc;
  position: relative; }
  .divider:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 2px;
    background-color: #54b20f; }

.divider.divider-left:before {
  left: 0;
  margin-left: 0; }

.divider.bordo {
  background-color: #1b495a; }
  .divider.bordo:before {
    background-color: #ffffff; }

.divider.white {
  background-color: #ffffff; }

.btn {
  min-width: 120px;
  height: 40px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  margin: 0;
  font: 700 14px/39px "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  border: 1px solid #54b20f;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  background-color: #54b20f;
  color: #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }
  .btn:hover {
    background-color: #1b495a;
    color: #ffffff;
    border: 1px solid #1b495a; }

.btn:focus {
  outline: none;
  color: #ffffff; }

.btn-lg {
  height: 60px;
  font-size: 18px;
  line-height: 58px;
  padding: 0 40px;
  min-width: 300px; }

.btn-max {
  width: 100%;
  padding: 0 5px; }

.btn-trans {
  background: none;
  min-width: 225px;
  border-color: #1b495a;
  color: #1b495a; }
  .btn-trans:hover {
    background: none;
    background-color: #1b495a;
    border-color: #1b495a;
    color: #ffffff; }

.header {
  padding: 14px 0 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000; }
  .header .small-logo {
    width: 50px;
    margin-right: 0px;
    float: left;
    visibility: hidden; }
  .header .header-head {
    overflow: hidden; }
  .header .logo {
    float: left;
    margin-right: 30px; }
  .header .slogan {
    font: 14px/18px "Roboto", sans-serif; }
  .header h1 {
    font: 700 24px/28px "Roboto", sans-serif;
    color: #000000;
    margin-bottom: 8px;
    margin-top: 10px;
    text-align: left;
    text-transform: none; }

.sticky {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  padding: 10px 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease; }
  .sticky .header-top {
    display: none; }
  .sticky .small-logo {
    visibility: visible; }
  .sticky .navigation {
    margin-left: 0; }

.navigation {
  margin-top: 7px;
  margin-left: 7.5555%;
  position: relative; }

.lang {
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }
  .lang > li {
    margin: 0 5px;
    float: left;
    font: 700 14px/18px "Roboto", sans-serif; }
    .lang > li > a {
      color: #54b20f;
      font: 700 14px/18px "Roboto", sans-serif;
      text-decoration: underline; }
      .lang > li > a:hover {
        text-decoration: none; }
  .lang .active {
    color: #000000;
    cursor: default; }

.head-block {
  text-align: right; }

.social {
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }
  .social > li {
    float: left;
    margin: 0 3.5px; }
    .social > li > a {
      display: block;
      width: 33px;
      height: 33px;
      background: url("../images/sprite.png") 0 0 no-repeat; }
    .social > li .vk {
      background-position: -209px -48px; }
    .social > li .fb {
      background-position: -59px -70px; }
    .social > li .inst {
      background-position: -129px -130px; }

.header-btns {
  display: inline-block;
  vertical-align: top; }
  .header-btns .btn {
    margin: 0 3px; }

.navbar-default {
  background: none;
  border: none;
  margin-bottom: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  min-height: 100%;
  height: 100%; }
  .navbar-default .navbar-collapse {
    border: none; }
  .navbar-default .navbar-toggle {
    float: left;
    padding: 3px 5px 5px;
    margin: 5px 0 0;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background: none; }
    .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
      background: #1b495a; }
    .navbar-default .navbar-toggle .icon-bar {
      width: 35px;
      height: 7px;
      background-color: #54b20f; }
  .navbar-default .dropdown-menu {
    background-color: #54b20f; }
    .navbar-default .dropdown-menu:before {
      position: absolute;
      top: -20px;
      left: 15px;
      content: " ";
      border: 10px solid transparent;
      border-bottom: 10px solid #54b20f; }
    .navbar-default .dropdown-menu > li > a {
      background: none;
      color: #ffffff;
      text-decoration: none;
      font: 16px/18px "Roboto", sans-serif;
      padding: 5px 15px; }
      .navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:focus {
        text-decoration: underline;
        background: none; }
  .navbar-default .navbar-nav .dropdown:hover .dropdown-menu {
    display: block; }
  .navbar-default .navbar-nav > li > a {
    color: #1b495a;
    text-transform: uppercase;
    font: 18px/20px "Roboto", sans-serif;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #54b20f; }
  .navbar-default .navbar-nav .active > a {
    background: none;
    color: #54b20f; }
    .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
      background: none;
      color: #54b20f; }

#middle {
  padding-bottom: 30px; }

.middle-head {
  min-height: 130px;
  background: url("../images/middle-head-bg.jpg") 0 0 repeat-x;
  margin-bottom: 40px; }
  .middle-head .h2-title {
    margin-bottom: 12px; }

.fond-nav {
  text-align: center; }
  .fond-nav .active {
    border-bottom: 2px solid #54b20f; }
    .fond-nav .active > a {
      text-decoration: none; }
  .fond-nav > li {
    display: inline-block;
    margin: 0 15px 0; }
    .fond-nav > li > a {
      font: 700 18px/20px "Roboto", sans-serif;
      color: #1b495a;
      text-decoration: underline;
      margin-bottom: 15px;
      display: inline-block; }
      .fond-nav > li > a:hover {
        text-decoration: none; }

.carousel .container {
  position: relative; }

.carousel-controls {
  position: absolute;
  display: block;
  width: 68px;
  height: 68px;
  background-color: #e1f4fd;
  bottom: 40px;
  text-align: center; }
  .carousel-controls span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -11px;
    width: 22px;
    height: 40px;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat; }

.left {
  right: 15px; }
  .left span {
    background-position: -177px -5px; }

.right {
  right: 100px; }
  .right span {
    background-position: -105px -5px; }

.carousel-caption {
  max-width: 760px;
  text-align: left;
  bottom: 30%; }
  .carousel-caption .caption-divider {
    display: block;
    margin-top: 20px;
    height: 2px;
    width: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 15%, #ffffff 15%, #54b20f 15%, #54b20f 15%, #54b20f 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 15%, #ffffff 15%, #54b20f 15%, #54b20f 15%, #54b20f 100%);
    background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 15%, #54b20f 15%, #54b20f 15%, #54b20f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#54b20f',GradientType=1 ); }
  .carousel-caption > div {
    font: 48px/1.2em "Agora-Black", sans-serif;
    text-transform: uppercase; }
    .carousel-caption > div span {
      font: 32px/1.2em "Agora-Black", sans-serif;
      display: block; }

.block-2 {
  padding-top: 40px;
  padding-bottom: 40px; }

#middle.index-page {
  padding-bottom: 0; }
  #middle.index-page .magrifat-nav {
    padding: 0 30px; }

.magrifat-nav {
  border: 5px solid #ccf0ff;
  padding: 30px; }
  .magrifat-nav > a {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
    padding-left: 70px;
    position: relative; }
    .magrifat-nav > a:before {
      position: absolute;
      top: 15px;
      left: 0;
      content: " ";
      background: url("../images/sprite.png") 0 0 no-repeat; }
    .magrifat-nav > a:last-child {
      border-bottom: none; }
    .magrifat-nav > a:hover span {
      color: #54b20f;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease; }
  .magrifat-nav .icon-1:before {
    width: 49px;
    height: 50px;
    background-position: -172px -130px; }
  .magrifat-nav .icon-1:hover:before {
    background-position: -320px -185px; }
  .magrifat-nav .icon-2:before {
    width: 44px;
    height: 55px;
    background-position: -5px -70px; }
  .magrifat-nav .icon-2:hover:before {
    background-position: -320px -62px; }
  .magrifat-nav .icon-3:before {
    width: 50px;
    height: 50px;
    background-position: -5px -5px; }
  .magrifat-nav .icon-3:hover:before {
    background-position: -320px -5px; }
  .magrifat-nav .icon-4:before {
    width: 45px;
    height: 50px;
    background-position: -145px -70px; }
  .magrifat-nav .icon-4:hover:before {
    background-position: -320px -125px; }
  .magrifat-nav .nav-title {
    text-transform: uppercase;
    display: block;
    margin-bottom: 3px;
    font: 700 18px/20px "Roboto", sans-serif;
    color: #1b495a; }

.green-caption {
  color: #54b20f;
  margin-bottom: 25px;
  font-family: "Agora-MedItalic", sans-serif; }

.program-wrap {
  padding: 40px 0 30px;
  background: url("../images/middle-head-bg.jpg") 0 0 repeat; }

.programs-inner-page .magrifat-nav {
  margin-bottom: 30px;
  margin-top: 15px; }

.program-block {
  overflow: hidden;
  border: 1px solid #1b495a;
  margin-bottom: 30px; }
  .program-block > div {
    width: 50%;
    min-height: 256px;
    display: inline-block;
    vertical-align: top;
    margin-right: -2px; }
  .program-block .img-wrap {
    margin-bottom: 0; }
    .program-block .img-wrap img {
      width: 100%;
      display: inline-block; }
  .program-block .block-body {
    background-color: #FFF;
    padding: 25px 20px 10px; }
    .program-block .block-body > a {
      color: #54b20f;
      font-weight: 700; }
    .program-block .block-body .title {
      color: #1b495a;
      font: 700 18px/22px "Roboto", sans-serif;
      margin-bottom: 25px;
      display: inline-block;
      text-transform: uppercase; }
    .program-block .block-body p {
      margin-bottom: 10px; }

.news {
  padding-top: 40px;
  padding-bottom: 35px; }

.article-data {
  display: block;
  margin-bottom: 13px; }

.article-title {
  font: 700 18px/22px "Roboto", sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #1b495a;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }

.inner-title {
  font-size: 24px;
  line-height: 26px; }

.article {
  padding-bottom: 15px; }
  .article:hover p {
    color: #54b20f; }
  .article:hover .article-title {
    color: #54b20f; }
  .article p {
    color: #000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }

.single-news {
  margin-bottom: 40px; }

.nav-tabs {
  border-width: 2px;
  border-color: #cccccc;
  text-align: center; }
  .nav-tabs > li {
    float: none;
    display: inline-block; }
    .nav-tabs > li > a {
      border: none;
      background: none;
      color: #54b20f;
      text-transform: uppercase;
      font-family: "Agora-Black", sans-serif, Arial, sans-serif;
      font-size: 24px;
      line-height: 24px;
      text-decoration: none;
      position: relative;
      padding: 20px 0;
      margin: 0 20px; }
      .nav-tabs > li > a:hover:before {
        position: absolute;
        left: 50%;
        margin-left: -70px;
        bottom: -1px;
        content: " ";
        width: 140px;
        height: 2px;
        background-color: #54b20f; }
      .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        background: none;
        border: none; }
  .nav-tabs li.active a {
    border: none;
    background: none; }
    .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
      background: none;
      border: none; }
    .nav-tabs li.active a:before {
      position: absolute;
      left: 50%;
      margin-left: -70px;
      bottom: -1px;
      content: " ";
      width: 140px;
      height: 2px;
      background-color: #1b495a; }

.tab-content {
  padding-top: 35px; }

.partners-wrap {
  padding: 35px 0;
  background: url("../images/partners-bg.jpg") 0 0 repeat; }

.owl-carousel .owl-dots {
  text-align: center;
  display: none; }
  .owl-carousel .owl-dots .owl-dot {
    background-color: #FFF;
    border-radius: 20px;
    display: block;
    height: 15px;
    width: 15px;
    margin: 0px 6px;
    display: inline-block;
    opacity: 0.8;
    margin-top: 15px; }

.owl-carousel {
  max-width: 95%;
  margin: 0 auto; }
  .owl-carousel .item {
    text-align: center; }
    .owl-carousel .item .brand-wrap {
      padding: 72px;
      background-color: #FFF;
      margin-bottom: 25px; }
    .owl-carousel .item .item-caption {
      color: #ffffff;
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
      padding: 0 5px;
      text-align: center; }

.owl-nav {
  position: absolute;
  width: 100%;
  top: 30%; }
  .owl-nav div {
    position: absolute;
    text-indent: 99999px;
    background: url("../images/sprite.png") 0 0 no-repeat; }
  .owl-nav .owl-prev {
    left: -55px;
    width: 30px;
    height: 55px;
    background-position: -65px -5px; }
  .owl-nav .owl-next {
    right: -55px;
    width: 30px;
    height: 55px;
    background-position: -137px -5px; }

.footer {
  height: 320px;
  position: relative;
  z-index: 1500; }

.footer-top {
  background-color: #eff9fe;
  padding: 35px 0 24px; }
  .footer-top p {
    color: #1b495a;
    margin-bottom: 10px; }
  .footer-top .schema {
    display: inline-block;
    margin-bottom: 10px; }
  .footer-top .footer-title {
    font: 24px/26px "Roboto", sans-serif;
    display: block;
    color: #1b495a;
    margin-bottom: 15px; }
  .footer-top ul {
    min-height: 120px; }
    .footer-top ul > li {
      margin-bottom: 10px; }
      .footer-top ul > li > a {
        color: #1b495a;
        text-decoration: none; }
        .footer-top ul > li > a:hover {
          text-decoration: underline; }

.footer-bottom {
  background-color: #1b495a; }
  .footer-bottom p {
    color: #ffffff; }
  .footer-bottom .copy {
    margin-top: 25px;
    margin-bottom: 4px; }
  .footer-bottom .text-or-slogan {
    margin-bottom: 4px;
    text-indent: 15px; }
  .footer-bottom .develop {
    text-align: right; }
    .footer-bottom .develop span {
      color: #00b9f2;
      text-align: left;
      font: 500 14px/18px "Roboto", sans-serif;
      display: inline-block;
      margin-right: 40px;
      vertical-align: middle;
      max-width: 170px; }
  .footer-bottom .social {
    margin: 25px auto 0;
    text-align: center;
    display: block; }
    .footer-bottom .social > li {
      margin: 0 3px;
      float: none;
      display: inline-block; }
      .footer-bottom .social > li > a {
        display: block;
        width: 36px;
        height: 36px;
        background-image: url("../images/sprite.png"); }
      .footer-bottom .social > li .vk {
        background-position: -231px -131px; }
      .footer-bottom .social > li .fb {
        background-position: -231px -88px; }
      .footer-bottom .social > li .inst {
        background-position: -231px -172px; }

.mission-nav a {
  position: relative;
  margin-bottom: 25px;
  display: block; }
  .mission-nav a:before {
    position: absolute;
    content: " ";
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }
  .mission-nav a img {
    width: 100%; }
  .mission-nav a:hover .more {
    color: #fff; }
  .mission-nav a:hover:before {
    background-color: #54b20f;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    opacity: 0.6; }
.mission-nav span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 3; }
.mission-nav .title {
  font: 700 32px/1.2em "Roboto", sans-serif;
  color: #ffffff;
  top: 90px;
  text-transform: uppercase; }
  .mission-nav .title:before {
    position: absolute;
    content: " ";
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: -30px;
    height: 23px;
    background: url("../images/flower.png") 0 0 no-repeat; }
.mission-nav .more {
  font-size: 18px;
  color: #00aeef;
  top: 135px;
  text-decoration: underline; }

.mision-nav {
  padding-bottom: 0; }
  .mision-nav .divider {
    margin-bottom: 30px; }

.fond-block {
  margin-bottom: 35px;
  overflow: hidden; }
  .fond-block span[class^="icon"] {
    margin-right: 20px;
    display: block;
    float: left;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    margin-bottom: 20px; }
  .fond-block .icon-1 {
    width: 60px;
    height: 53px;
    background-position: -59px -130px; }
  .fond-block .icon-2 {
    width: 60px;
    height: 60px;
    background-position: -252px -5px; }
  .fond-block .fond-title {
    font: 700 18px/1.2em "Roboto", sans-serif;
    color: #1b495a;
    padding-left: 85px;
    display: block;
    margin-bottom: 15px; }
  .fond-block p {
    padding-left: 85px; }

.mission-inner span[class^="icon"] {
  float: none; }
.mission-inner p, .mission-inner .fond-title {
  padding-left: 0; }

.about-stuff {
  margin-bottom: 30px; }

.team-list {
  margin-bottom: 10px;
  padding-top: 20px;
  margin-right: -15px;
  margin-left: -15px; }
  .team-list > li {
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 15px; }
    .team-list > li img {
      display: block;
      margin: 0 auto 20px; }
    .team-list > li p {
      color: #1b495a;
      padding: 0 25px;
      margin-top: 5px; }
    .team-list > li .name {
      font: 700 18px/1.2em "Roboto", sans-serif;
      color: #1b495a;
      padding: 0 25px; }

.main-name {
  font: 700 24px/1.2em "Roboto", sans-serif;
  color: #1b495a;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px; }

.main-rank {
  font: 700 18px/1.2em "Roboto", sans-serif;
  color: #1b495a;
  display: block;
  margin-bottom: 10px; }

.fond-subtitle {
  font-size: 18px;
  color: #1b495a;
  text-align: center;
  display: block; }

#middle.team-page {
  padding-bottom: 0; }

.form-bg {
  background: url("../images/form-bg.jpg") 0 0 repeat;
  padding-top: 35px;
  padding-bottom: 20px;
  min-height: 350px; }

.form-caption {
  text-align: center;
  color: #000000;
  font: 18px/1.2em "Roboto", sans-serif;
  display: block;
  margin-bottom: 20px; }

.form input {
  width: 100%; }
.form textarea {
  width: 100%;
  resize: none; }
.form .btn {
  width: 100%;
  max-width: 370px; }

.report-list {
  overflow: hidden;
  max-width: 960px;
  margin: 50px auto; }
  .report-list > li {
    width: 47%;
    float: left;
    margin: 0 1.5%;
    margin-bottom: 55px; }
    .report-list > li > a {
      color: #1b495a;
      font-size: 24px;
      display: block;
      padding-left: 85px;
      line-height: 26px;
      position: relative;
      text-decoration: none; }
      .report-list > li > a:hover:before {
        background: url("../images/file-hover.png") 0 0 no-repeat; }
      .report-list > li > a:before {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        width: 45px;
        height: 50px;
        background: url("../images/sprite.png") -145px -70px no-repeat; }
      .report-list > li > a:hover, .report-list > li > a:hover span {
        color: #54b20f; }
    .report-list > li span {
      color: #000;
      font-size: 14px;
      display: block; }

.requisits {
  margin: 50px 0; }
  .requisits p, .requisits span {
    color: #000000;
    font: 16px/24px "Roboto", sans-serif; }
  .requisits .requisits-title {
    font: 700 18px/1.2em "Roboto", sans-serif;
    color: #1b495a;
    margin-bottom: 20px;
    display: inline-block;
    min-width: 160px;
    text-transform: uppercase; }

.programs-list p {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }
.programs-list .program-title {
  font: 32px/30px "Agora-Black", sans-serif;
  color: #1b495a;
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }
.programs-list > li {
  padding: 45px 0;
  border-bottom: 2px solid #cccccc;
  position: relative;
  overflow: hidden; }
  .programs-list > li:first-child {
    padding-top: 20px; }
  .programs-list > li:last-child {
    border: none; }
  .programs-list > li:hover .btn {
    background-color: #54b20f;
    border-color: #54b20f;
    color: #fff; }
  .programs-list > li:hover p, .programs-list > li:hover .program-title {
    color: #54b20f; }
  .programs-list > li:before {
    position: absolute;
    content: " ";
    width: 140px;
    left: 50%;
    margin-left: -70px;
    bottom: -2px;
    height: 2px;
    background-color: #54b20f; }
  .programs-list > li .img-wrap {
    float: left;
    margin-right: 30px; }
  .programs-list > li .btn {
    min-width: 165px; }

.green-link {
  color: #54b20f;
  font: 18px/1.2em "Roboto", sans-serif; }
  .green-link:hover {
    color: #54b20f;
    text-decoration: none; }

.partnres-list {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 35px; }
  .partnres-list > li {
    text-align: center;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 25px;
    padding: 0 25px; }
    .partnres-list > li a {
      color: #1b495a;
      font: 700 18px/1.2em "Roboto", sans-serif;
      text-transform: uppercase;
      text-decoration: none; }
      .partnres-list > li a:hover {
        color: #54b20f; }
    .partnres-list > li .rank {
      color: #1b495a;
      font: 14px/1.2em "Roboto", sans-serif; }
    .partnres-list > li .brand-wrap {
      display: block;
      padding: 65px;
      border: 5px solid transparent;
      box-shadow: 0px 0px 0px 1px #ccc;
      margin-bottom: 20px; }
      .partnres-list > li .brand-wrap:hover {
        color: #54b20f; }
      .partnres-list > li .brand-wrap:hover {
        border: 5px solid #54b20f;
        box-shadow: none; }

.partnres-list.inner-list > li {
  text-align: center; }
  .partnres-list.inner-list > li a {
    text-transform: none;
    line-height: 24px; }
  .partnres-list.inner-list > li img {
    margin-bottom: 25px;
    display: inline-block; }
  .partnres-list.inner-list > li > div {
    padding: 0 20px; }
  .partnres-list.inner-list > li .rank {
    display: inline-block;
    margin-top: 10px; }
    .partnres-list.inner-list > li .rank span {
      display: block; }

#middle.contact-page {
  padding-bottom: 0; }
  #middle.contact-page .middle-head {
    margin-bottom: 0; }

.map-wrap {
  position: relative;
  height: 500px;
  margin-bottom: 50px; }

.map-caption {
  position: absolute;
  top: 50px;
  left: 20%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px 30px; }
  .map-caption > div {
    margin-bottom: 40px; }
    .map-caption > div:last-child, .map-caption > div:last-child p {
      margin-bottom: 0; }
  .map-caption .cont-title {
    font: 700 18px/1.2em "Roboto", sans-serif;
    color: #1b495a;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block; }
  .map-caption p {
    color: #000000;
    font: 28px/1.2em "Roboto", sans-serif; }
    .map-caption p span {
      font-size: 18px;
      display: block; }

.slider {
  background: url("../images/slider-bg.jpg") 50% 0 no-repeat;
  margin-bottom: 30px; }

.carousel.programs-carousel {
  text-align: center;
  max-width: 970px;
  margin: 0 auto; }
  .carousel.programs-carousel img {
    display: inline-block; }

.programs-carousel-arr {
  width: 22px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  opacity: 1;
  background: none; }

.programs-carousel-arr.left {
  background-position: -105px -5px;
  background-image: url("../images/sprite.png");
  left: -40px; }

.programs-carousel-arr.right {
  background-position: -177px -5px;
  background-image: url("../images/sprite.png");
  right: -40px; }

@media only screen and (max-width: 1200px) {
  #wrapper {
    padding-top: 168px; }

  .header-btns .btn {
    font-size: 12px;
    padding: 0 8px;
    height: 35px;
    line-height: 35px; }

  .navbar-default .navbar-nav > li > a {
    padding: 7px 5px;
    font-size: 16px; }

  .header .logo {
    margin-right: 20px; }
  .header h1 {
    font-size: 20px;
    margin-bottom: 5px; }

  .sticky .navigation {
    margin-top: 7px; }

  .navigation {
    margin-left: 0;
    margin-top: 20px; }

  .footer-bottom .develop span {
    margin-right: 30px; }

  .owl-carousel .item .brand-wrap {
    padding: 50px; }

  .carousel-caption {
    bottom: 10%;
    padding-right: 45px; }

  .team-list > li p, .team-list > li .name {
    padding: 0; }

  .mission-nav .title {
    font-size: 22px;
    top: 60px; }
  .mission-nav .more {
    top: 95px; }

  .partnres-list > li .brand-wrap {
    padding: 40px; }

  .partnres-list.inner-list > li > div {
    padding: 0; } }
@media only screen and (max-width: 992px) {
  #wrapper {
    padding-top: 193px; }

  .header .logo {
    width: 65px; }
  .header h1 {
    font-size: 19px;
    margin-bottom: 5px;
    line-height: 20px;
    max-width: 440px;
    margin-top: 2px; }

  .footer-bottom {
    text-align: center; }
    .footer-bottom .develop {
      text-align: center;
      margin-top: 15px; }

  .header-btns {
    width: 100%;
    text-align: center; }

  .social, .lang {
    margin-top: 0; }

  h2, .h2-title {
    font-size: 28px; }

  h1, .h1-title, h2, .h2-title, h3, .h3-title, h4, .h4-title, h5, .h5-title {
    margin-bottom: 15px; }

  .carousel-caption {
    padding-right: 25px;
    bottom: 0;
    top: 25%; }
    .carousel-caption > div {
      font-size: 36px; }
      .carousel-caption > div span {
        font-size: 25px; }

  .right {
    right: 80px; }

  .carousel-controls {
    width: 55px;
    height: 55px; }

  .h2-title.title-small {
    font-size: 20px; }

  .team-list > li {
    width: 33.33333%; }

  .middle-head .h2-title {
    margin-bottom: 17px; }

  .report-list > li > a {
    font-size: 20px;
    padding-left: 60px; }

  .programs-list > li .img-wrap {
    max-width: 300px; }

  .partnres-list {
    text-align: center; }
    .partnres-list > li {
      width: 33.33333%; }
      .partnres-list > li .brand-wrap {
        padding: 30px; } }
@media only screen and (max-width: 767px) {
  body, html {
    height: auto; }

  #wrapper {
    padding-top: 254px;
    min-width: 1px;
    margin-bottom: 0px; }

  .page-buffer {
    display: none; }

  .footer {
    height: auto;
    text-align: center; }
    .footer ul {
      min-height: 100%; }

  h2, .h2-title {
    font-size: 24px; }

  .sub-title {
    font-size: 20px;
    line-height: 24px; }

  .header .logo {
    float: none;
    display: inline-block; }
  .header .header-head {
    text-align: center; }
  .header h1 {
    margin-top: 5px;
    font-size: 20px;
    line-height: 22px;
    max-width: 350px;
    vertical-align: middle;
    display: inline-block; }
  .header .slogan {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }

  .head-block {
    text-align: center; }

  .header .small-logo {
    display: none; }

  .header-btns {
    width: initial;
    float: right; }

  .navigation {
    text-align: right; }

  .navbar-default {
    width: 100%; }
    .navbar-default .navbar-toggle {
      float: right; }
    .navbar-default .navbar-toggle {
      margin-top: 0; }
    .navbar-default .navbar-collapse {
      padding: 0; }
    .navbar-default .navbar-nav {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 0; }
      .navbar-default .navbar-nav .dropdown-menu {
        position: static;
        background: none;
        text-align: center;
        width: 100%;
        border: none;
        box-shadow: none; }
        .navbar-default .navbar-nav .dropdown-menu > li > a {
          color: #5a6264; }
      .navbar-default .navbar-nav > li {
        float: left;
        margin-right: 0px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center; }
        .navbar-default .navbar-nav > li > a {
          font-size: 20px; }

  .navbar-nav .open .dropdown-menu {
    text-align: center; }

  .header-btns {
    position: absolute;
    left: 0;
    top: 0; }

  .nav-tabs > li > a {
    font-size: 20px;
    margin: 0 10px; }

  .owl-carousel .item {
    padding: 20px; }
    .owl-carousel .item .brand-wrap {
      padding: 30px; }

  .owl-carousel .owl-dots {
    display: block; }

  .owl-nav {
    display: none; }

  .carousel {
    display: none; }

  .block-2 {
    padding-top: 20px; }

  .team-list > li {
    text-align: center; }

  .form {
    text-align: center; }

  .team-list {
    text-align: center; }
    .team-list > li {
      width: 100%;
      max-width: 250px; }

  .fond-nav > li {
    margin: 0 10px; }

  .breadcrumb {
    padding-bottom: 14px; }

  .mission-nav a {
    max-width: 400px;
    margin: 0 auto 25px; }
  .mission-nav .title {
    font-size: 32px;
    top: 90px; }
  .mission-nav .more {
    top: 150px; }

  .partnres-list {
    text-align: center; }
    .partnres-list > li {
      width: 100%;
      max-width: 230px;
      padding: 0 15px; }

  .navbar-default .dropdown-menu:before {
    display: none; }

  .map-caption {
    width: 300px;
    top: 50px;
    left: 35%;
    margin-left: -150px;
    padding: 20px; }
    .map-caption p {
      font-size: 20px; }
      .map-caption p span {
        font-size: 14px; }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    float: right; } }
@media only screen and (max-width: 600px) {
  .report-list > li {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
    .report-list > li > a {
      display: inline-block;
      text-align: left;
      font-size: 18px; }

  .programs-list > li .img-wrap {
    width: 100%;
    max-width: 100%;
    text-align: center; } }
@media only screen and (max-width: 480px) {
  input[type="text"], textarea {
    font-size: 16px; }

  #wrapper {
    padding-top: 263px; }

  h2, .h2-title {
    font-size: 20px; }

  .h2-title.title-small {
    font-size: 18px; }

  .header .logo {
    width: 50px;
    margin-right: 15px; }
  .header h1 {
    margin-top: 5px;
    font-size: 16px;
    max-width: 220px; }
  .header .slogan {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }

  .navbar-default .navbar-toggle {
    padding-right: 5px;
    margin: 0; }

  .header-btns .btn {
    min-width: 100px;
    font-size: 10px;
    margin: 0 1px;
    padding: 0 8px; }

  .owl-carousel .item {
    padding: 20px; }
    .owl-carousel .item .brand-wrap {
      margin: 0 40px 20px 40px; }

  .nav-tabs > li {
    width: 100%; }
    .nav-tabs > li > a {
      padding: 12px 0;
      font-size: 22px; }

  .fond-nav > li {
    margin: 0 5px; }
    .fond-nav > li > a {
      font-size: 12px;
      margin-bottom: 7px; }

  .middle-head .h2-title {
    margin-bottom: 21px; }

  .breadcrumb {
    padding-bottom: 21px; }

  .mission-nav .title {
    font-size: 6.5vw; }

  .requisits p, .requisits span {
    display: block;
    margin-bottom: 15px; }

  .requisits .requisits-title {
    margin-bottom: 10px; }

  .programs-list > li {
    padding: 15px 0 30px; }
  .programs-list .program-title {
    font-size: 22px;
    line-height: 24px; }

  .fond-subtitle {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
