@media only screen and (max-width: 1350px) {
  .container {
    width: 970px;
    padding: 0 15px;
  }
  .header {
    margin: 22px 0 25px;
  }
  .header-content {
    margin-left: 200px;
  }
  .header-item:first-child,
  .header-item:nth-child(2) {
    margin-right: 35px;
  }
  .header-item__link {
    font-size: 22px;
    padding: 0 10px;
  }
  .main-slider-wrap {
    margin-bottom: 10px;
  }
  .menu__list > a {
    padding: 0 30px;
  }
  .services-item__link {
    font-size: 18px;
  }
  .services-item__img {
    line-height: 205px;
  }
  .services-item {
    height: 275px;
  }
  .services-item-callback {
    padding-top: 30px;
  }
  .services-item-callback p {
    font-size: 18px;
    line-height: 1.5;
  }
  .services-item-callback a {
    font-size: 34px;
  }
  .services {
    margin-bottom: 20px;
  }
  .title-head {
    font-size: 36px;
  }
  .title a {
    margin-top: 12px;
  }
  .main-advan p:nth-child(2) {
    padding-bottom: 18px;
  }
  .main-advan p {
    line-height: 1.3;
  }
  .footer {
    margin: 0 15px;
  }
  .footer-content {
    margin-left: 180px;
  }
  .footer-item:first-child {
    margin-right: 40px;
  }
  .footer-item:nth-child(2) {
    margin-right: 0;
  }
  .footer-logo {
    margin-top: 0;
  }
  .contacts-item p {
    font-size: 16px;
  }
  .contacts-item {
    width: 194px;
    margin-right: 2px;
  }
  .contacts-item__mail,
  .contacts-item__tel {
    font-size: 16px;
  }
  .contacts-items {
    margin-bottom: 50px;
  }
  .news-item h2 {
    font-size: 18px;
  }
  .news-item p {
    line-height: 1.3;
  }
  .news-head {
    margin-bottom: 35px;
  }
  .product-item-text {
    margin: 20px 0 40px;
    padding: 24px 15px 24px 20px;
  }
  .product-order__tel {
    font-size: 32px;
  }
  .product-order__link {
    font-size: 18px;
  }
  .product-order__links span {
    padding: 0 6px;
    margin-bottom: 9px;
  }
  .product-order__head {
    font-size: 23px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
    padding: 0 15px;
  }
  .header {
    text-align: center;
  }
  .header-logo {
    float: none;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .header-content {
    margin-left: 0;
  }
  .services-item {
    width: 32%;
  }
  .services-item:nth-child(4n) {
    margin-right: 2%;
  }
  .services-item:nth-child(3n) {
    margin-right: 0;
  }
  .main-advan {
    margin: 0 0 52px;
    padding: 27px 20px 27px 10px;
  }
  .title-head {
    font-size: 32px;
  }
  .footer {
    text-align: center;
    padding-top: 24px;
  }
  .footer-logo {
    float: none;
    margin-bottom: 20px;
  }
  .footer-content {
    margin-left: 0;
  }
  .footer-link {
    margin-top: 20px;
  }
  .contacts-item {
    width: 135px;
    margin-right: 2px;
  }
  .sidebar {
    width: 270px;
  }
  .content {
    margin-left: 295px;
  }
  .contacts-items {
    margin-bottom: 28px;
  }
  .news-item {
    width: 47%;
  }
  .news-item:nth-child(2n) {
    margin-right: 0;
  }
  .pagination li {
    margin-right: 10px;
  }
  .product-order {
    text-align: center;
  }
  .product-item-link {
    margin-bottom: 0;
  }
  .product-order__tel,
  .product-order__links span {
    display: block;
  }
  .product-item__table thead tr th:nth-child(2),
  .product-item__table thead tr th:nth-child(3),
  .product-item__table thead tr th:nth-child(4),
  .product-item__table thead tr th:nth-child(5),
  .product-item__table thead tr th:nth-child(6) {
    width: 54px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .header-item {
    display: block;
    margin-bottom: 20px;
  }
  .header-item:first-child,
  .header-item:nth-child(2) {
    margin-right: 0;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    margin: 0 auto;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #222;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before, .burger-wrap a span:after {
    position: absolute;
    background: #222;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }

  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  .menu-sub,
  .menu-arrow {
    display: none;
  }
  .menu__list {
    display: block;
  }
  .menu-wrap {
    position: relative;
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    background: #fff;
    padding: 15px 0;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
  .menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }
  .main-slider-wrap {
    display: none;
  }
  .services {
    text-align: center;
  }
  .services-item {
    display: block;
    width: 240px;
    margin: 0 auto 20px !important;
    padding: 0 15px 40px;
  }
  .services-item-callback {
    padding-top: 30px;
  }
  .services-item:nth-child(2n) {
    margin-right: 0;
  }
  .services-item:nth-child(3n) {
    margin-right: 2%;
  }
  .services-item:nth-child(6n) {
    margin-right: 0;
  }
  .services-item__head {
    font-size: 18px;
  }
  .services-item-callback p {
    line-height: 1;
  }
  .services-item-callback a {
    font-size: 30px;
  }
  .main-news-item {
    width: auto;
    margin-bottom: 50px;
  }
  .main-news {
    text-align: center;
  }
  .footer-item {
    display: block;
    margin-bottom: 20px;
  }
  .footer-item:first-child {
    margin-right: 0;
  }
  .footer-link {
    margin-top: 0;
  }
  .bottom {
    padding-top: 12px;
  }
  .modal-form {
    width: 310px;
  }
  .footer-menu {
    display: none;
  }
  .main-news {
    margin-bottom: 0;
  }
  .footer-items {
    padding-bottom: 0;
  }
  .sidebar {
    float: none;
    margin: 0 auto 30px;
  }
  .content {
    margin-left: 0;
  }
  .contacts-map iframe {
    height: 320px;
  }
  .contacts-head {
    margin-bottom: 30px;
  }
  .news-item {
    text-align: center;
  }
  .product-item__content {
    padding-top: 43px;
  }
  .services-item {
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .services-item__img {
    line-height: 226px;
  }
  .title-head {
    font-size: 24px;
  }
  .modal {
    padding: 40px 18px 30px;
  }
  .modal-form {
    width: 250px;
  }
  .modal-form button {
    font-size: 18px;
    line-height: 48px;
  }
  .modal-input input, 
  .modal-input textarea {
    padding: 15px 22px;
    font-size: 16px;
  }
  .modal-input textarea {
    height: 110px;
  }
  .modal-head {
    font-size: 18px;
  }
  .contacts-item {
    display: block;
    width: auto;
  }
  .pagination li {
    margin-right: 2px;
  }
  .product-item__table thead {
    display: none;
  }
  .product-item__table tbody tr td {
    display: block;
    text-align: center;
    line-height: 40px;
  }
  .product-item__table tbody tr:last-child td {
    border-bottom: 1px solid #acacac;
  }
  .product-item__table tbody tr td:last-child {
    border-bottom: none;
  }
  .product-item-text {
    text-align: center;
  }
}