* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

*:focus {
    outline: none;
}

body {
    font: 300 16px 'Gilroy', sans-serif;
}

a {
    font: 300 16px 'Gilroy', sans-serif;
    text-decoration: none;
    transition: 300ms;
    display: inline-block;
    line-height: 1;
}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a img {
    border: none;
    outline: none;
}

.cf:after {
    display: block;
    content: '';
    clear: both;
}

.container {
    width: 1336px;
    margin: 0 auto;
    position: relative;
}

.title {
    text-align: center;
    position: relative;
}

.title-head {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 24px;
}

.title a {
    display: inline-block;
    vertical-align: top;
    color: #e31e24;
    text-decoration: underline;
    position: relative;
    margin: 23px 0 0 23px;
}

.title a:hover {
    text-decoration: none;
}

.title a:before {
    content: '';
    display: block;
    height: 15px;
    width: 1px;
    transform: rotate(25deg);
    background: #000;
    position: absolute;
    top: 0;
    left: -14px;
}

/* Header */
.header {
    position: relative;
    margin: 22px 114px 25px;
}

.header-logo {
    float: left;
    margin-top: -9px;
}

.header-content {
    margin-left: 228px;
}

.header-items {
    margin-bottom: 26px;
}

.header-item {
    display: inline-block;
    vertical-align: top;
}

.header-item:first-child {
    margin-right: 119px;
}

.header-item:nth-child(2) {
    margin-right: 108px;
}

.header-item__mail, .header-item__tel {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
}

.header-item__mail:hover, .header-item__tel:hover {
    border-bottom: 1px solid transparent;
}

.header-item__link {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    border-radius: 4px;
    padding: 0 16px 0 23px;
    background-color: #e31e24;
}

.header-item__link:hover {
    background: #b0050a;
}

/* Menu */
.menu {
    margin-bottom: 28px;
    margin-left: -25px;
}

.menu__list {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.menu__list:last-child {
    margin-right: 0;
}

.menu__list > a {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    padding: 0 30px 0 25px;
    line-height: 30px;
    border-radius: 4px;
}

.menu__list > a:hover {
    background: #000;
    color: #fff;
}

.menu__list:hover .menu-sub {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.menu__list:hover > a {
    background: #000;
    color: #fff;
}

.menu__list:hover .menu-arrow {
    background-position: right;
}

.menu-arrow {
    background: url(../images/menu-arrow.png) no-repeat left;
    width: 12px;
    height: 7px;
    position: absolute;
    top: 50%;
    margin-top: -3.5px;
    right: 10px;
}

.menu-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background: #e6f5fc;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.menu-sub__list a {
    display: block;
    padding: 8px 14px 8px 20px;
    font-size: 14px;
    color: #000;
    line-height: 1.3;
}

.menu-sub__list a:hover {
    background: #000;
    color: #fff;
}

.burger-wrap {
    display: none;
}

/* Bread */
.bread {
    padding: 18px 0 13px;
    border-top: 1px solid #acacac;
}

.bread li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    font-size: 14px;
}

.bread li a {
    font-size: 14px;
    color: #e31e24;
    border-bottom: 1px solid #e31e24;
}

.bread li a:hover {
    border-bottom: 1px solid transparent;
}

/* Main-slider */
.main-slider {
    position: relative;
    margin-bottom: 42px;
}

.main-slider .slick-prev,
.main-slider .slick-next {
    background: #fff url(../images/slider-prev.png) no-repeat 68%;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: -46px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 5;
}

.main-slider .slick-next {
    background: #fff url(../images/slider-next.png) no-repeat 33%;
    left: auto;
    right: -42px;
}

.main-slider-wrap {
    overflow: hidden;
    margin-bottom: 45px;
}

.main-slider-item {
    width: 456px;
}

.main-slider-item p {
    font-size: 20px;
    line-height: 1.7;
    padding-bottom: 35px;
}

.main-slider__head {
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 4px;
}

.main-slider__text {
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 5px;
}

.main-slider__link {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 32px 0 24px;
    background-color: #e31e24;
    border-radius: 4px;
}

.main-slider__link:hover {
    background: #b0050a;
}

/* Services */
.services {
    margin-bottom: 58px;
}

.services-items {
    font-size: 0;
}

.services-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px 40px;
    background-color: #e6f5fc;
    border-radius: 4px;
    text-align: center;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 32px;
    height: 310px;
    transition: 300ms;
}

.services-item:nth-child(4n) {
    margin-right: 0;
}

.services-item:hover {
    background-color: #ffde2f;
}

.services-item__img {
    display: block;
    vertical-align: middle;
    line-height: 230px;
}

.services-item__img img {
    display: inline-block;
    vertical-align: middle;
}

.services-item__link {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.services-item-callback {
    background: #e31e24;
    padding-top: 53px;
}

.services-item-callback p {
    font-size: 20px;
    line-height: 1.7;
    color: #fff;
}

.services-item-callback a {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    margin: 6px 0;
}

.services-item-callback a:hover {
    color: #ffde2f;
}

.services-item-callback:hover {
    background: #e31e24;
}

.services-item__head {
    padding-bottom: 14px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

/* Main-news */
.main-news {
    margin-bottom: 55px;
}

.main-news-title {
    margin-bottom: 40px;
}

.main-news-title .title-head {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
}

.main-news-item {
    display: inline-block;
    vertical-align: top;
    width: 31.5%;
    margin-right: 2%;
}

.main-news-item:nth-child(3n) {
    margin-right: 0;
}

.main-news-item span {
    display: block;
    color: #e31e24;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 14px;
}

.main-news-item p {
    line-height: 1.7;
}

.main-news-item p a {
    color: #e31e24;
    text-decoration: underline;
}

.main-news-item p a:hover {
    text-decoration: none;
}

.main-news__head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #000;
}

.main-news__head:hover {
    color: #e31e24;
}

/* Main-advan */
.main-advan {
    padding: 34px 60px 35px 54px;
    border: 10px solid #e6f5fc;
    margin: 0 40px 52px;
    text-align: center;
}

.main-advan-head {
    margin-bottom: 27px;
}

.main-advan p {
    line-height: 1.6;
}

.main-advan p:nth-child(2) {
    padding-bottom: 30px;
}

/* Footer */
.footer {
    margin: 0 110px;
    padding: 40px 0 31px;
    position: relative;
}

.footer-wrap {
    background-color: #ffde2f;
}

.footer-logo {
    float: left;
    margin-top: -14px;
}

.footer-content {
    margin-left: 196px;
}

.footer-items {
    padding-bottom: 22px;
}

.footer-item {
    display: inline-block;
    vertical-align: top;
}

.footer-item:first-child {
    margin-right: 60px;
}

.footer-item:nth-child(2) {
    margin-right: 48px;
}

.footer-item p {
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-adress {
    padding-bottom: 10px;
}

.footer-adress__mail {
    text-decoration: underline;
    color: #000;
}

.footer-adress__tel {
    font-weight: 700;
    color: #000;
}

.footer-adress__tel:hover {
    color: #b0050a;
}

.footer-link {
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    padding: 0 22px;
    background-color: #e31e24;
    border-radius: 4px;
}

.footer-link:hover {
    background: #b0050a;
}

.footer-menu {
    margin-bottom: 0;
}

/* Bottom */
.bottom {
    font-size: 14px;
    padding-top: 29px;
}

/* Sidebar */
.sidebar {
    width: 312px;
    float: left;
    background: #e6f5fc;
}

.sidebar li a {
    display: block;
    padding: 14px 20px 14px 28px;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
}

.sidebar li a:hover {
    background: #e31e24;
    color: #fff;
}

.sidebar li a.active {
    background: #e31e24;
    color: #fff;
}

/* Contacts */
.contacts {
    margin-bottom: 52px;
}

.contacts-head {
    margin-bottom: 45px;
}

.contacts-items {
    margin-bottom: 36px;
}

.contacts-item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 115px;
}

.contacts-item:last-child {
    margin-right: 0;
}

.contacts-item__img {
    display: inline-block;
    vertical-align: middle;
    line-height: 82px;
    margin-bottom: 26px;
}

.contacts-item__img img {
    display: inline-block;
    vertical-align: middle;
}

.contacts-item p {
    font-size: 20px;
    padding-bottom: 12px;
}

.contacts-item__tel {
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
    color: #000;
}

.contacts-item__tel:hover {
    color: #0073de;
}

.contacts-item__mail {
    color: #0073de;
    font-size: 20px;
    border-bottom: 1px solid #0073de;
}

.contacts-item__mail:hover {
    border-bottom: 1px solid transparent;
}

.contacts-map iframe {
    width: 100%;
    border: none;
    height: 614px;
}

.content {
    margin-left: 344px;
    text-align: center;
}

/* News */
.news-item {
    text-align: left;
    margin-bottom: 65px;
}

.news-head {
    margin-bottom: 60px;
}

/* Pagination */
.pagination {
    margin-top: 18px;
    margin-bottom: 10px;
}

.pagination li {
    display: inline-block;
    position: relative;
}

.pagination li:after {
    content: '/';
    display: inline-block;
    margin: 0 10px;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination li:nth-last-child(2):after {
    display: none;
}

.pagination li.pagination__arrow {
    margin: 0 20px;
}

.pagination li.pagination__arrow:after {
    display: none;
}

.pagination li a {
    color: #4d4d4d;
}

.pagination li a:hover {
    text-decoration: underline;
}

.pagination li a.active {
    color: #e31e24;
    font-size: 24px;
    font-weight: 700;
    margin-top: -6px;
}

.pagination li a.active:hover {
    text-decoration: none;
}

/* Modal */
.modal {
    display: inline-block;
    vertical-align: top;
    background-color: #e6f5fc;
    border-radius: 4px;
    padding: 40px 36px 30px;
    position: relative;
    text-align: center;
    display: none;
}

.modal-form {
    width: 350px;
}

.modal-form button {
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    background-color: #e31e24;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 300ms;
}

.modal-form button:hover {
    background: #a20005;
}

.modal-input input,
.modal-input textarea {
    width: 100%;
    padding: 20px 22px;
    border-radius: 4px;
    border: none;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #007aff;
    font-family: 'Gilroy';
    border: 1px solid transparent;
}

.modal-input input::-webkit-input-placeholder,
.modal-input textarea::-webkit-input-placeholder {
    color: #000;
}

.modal-input input:-moz-placeholder,
.modal-input textarea:-moz-placeholder {
    color: #000;
}

.modal-input input::-moz-placeholder,
.modal-input textarea::-moz-placeholder {
    color: #000;
}

.modal-input input:-ms-input-placeholder,
.modal-input textarea:-ms-input-placeholder {
    color: #000;
}

.modal-input input:focus,
.modal-input textarea:focus {
    border: 1px solid #007aff;
}

.modal-input textarea {
    resize: none;
    margin-bottom: 26px;
    height: 140px;
    line-height: 1.2;
}

.modal-head {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 28px;
}

.modal .fancybox-bg {
    background: #000;
}

.modal .fancybox-is-open .fancybox-bg {
    opacity: .6;
}

.modal .fancybox-close-small:after {
    display: none;
}

.modal .fancybox-close-small {
    background: url(../images/modal-img.png) no-repeat left;
    width: 38px;
    height: 37px;
    position: absolute;
    top: 15px;
    right: 17px;
    cursor: pointer;
}

.modal .fancybox-close-small:hover {
    background-position: right;
}

.fancybox-bg {
    background: #000;
}

.fancybox-is-open .fancybox-bg {
    opacity: .6;
}

/* Product */
.product-head {
    margin-bottom: 50px;
}

.product-name {
    margin-bottom: 35px;
}

.product-item {
    padding-bottom: 40px;
}

.product-item:nth-child(3) {
    padding-bottom: 0;
}

.product-item-text {
    background-color: #e6f5fc;
    border-radius: 4px;
    padding: 24px 90px 24px 33px;
    text-align: left;
    margin: 20px 114px 40px;
}

.product-item-text span {
    display: block;
}

.product-item-text b {
    display: inline-block;
    padding: 10px 0;
}

.product-item-link {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    background-color: #e31e24;
    border-radius: 4px;
    padding: 0 17px;
    margin-bottom: 20px;
}

.product-item-link:hover {
    background: #a20005;
}

.product-item__content {
    text-align: left;
    padding-top: 75px;
    padding-bottom: 12px;
}

.product-item__content p {
    line-height: 1.7;
    padding-bottom: 30px;
    font-size: 14px;
}

.product-item__table table {
    margin: 0 auto;
    border-collapse: collapse;
}

.product-item__table thead tr th {
    font-weight: 700;
    height: 40px;
    border-bottom: 1px solid #acacac;
}

.product-item__table thead tr th:first-child {
    width: 180px;
    text-align: left;
}

.product-item__table thead tr th:nth-child(2), .product-item__table thead tr th:nth-child(3), .product-item__table thead tr th:nth-child(4), .product-item__table thead tr th:nth-child(5), .product-item__table thead tr th:nth-child(6) {
    width: 106px;
    text-align: left;
}

.product-item__table tbody tr:last-child td {
    border: none;
}

.product-item__table tbody tr td {
    text-align: left;
    height: 40px;
    border-bottom: 1px solid #acacac;
}

.product-item__table tbody tr td span {
    color: #e31e24;
}

.product-item__table tbody tr td:first-child {
    font-weight: 700;
}

.product-order {
    padding: 35px 0 0 0;
    border-top: 1px solid #acacac;
    text-align: left;
}

.product-order__head {
    padding-bottom: 14px;
    font-size: 28px;
    font-weight: 700;
}

.product-order p {
    padding-bottom: 16px;
}

.product-order__tel {
    display: inline-block;
    vertical-align: middle;
    font-size: 44px;
    font-weight: 700;
    color: #000;
}

.product-order__tel:hover {
    color: #e31e24;
}

.product-order__links span {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 17px;
    margin-bottom: 6px;
}

.product-order__link {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 16px;
    background-color: #e31e24;
    border-radius: 4px;
}

.product-order__link:hover {
    background: #a20005;
}

/*# sourceMappingURL=style.css.map */