@font-face {
    font-family: 'PragmaticaC';
    src: url('../fonts/PragmaticaC-Bold.eot');
    src: url('../fonts/PragmaticaC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaC-Bold.woff') format('woff'),
        url('../fonts/PragmaticaC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaC';
    src: url('../fonts/PragmaticaC.eot');
    src: url('../fonts/PragmaticaC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaC.woff') format('woff'),
        url('../fonts/PragmaticaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaLightC';
    src: url('../fonts/PragmaticaLightC.eot');
    src: url('../fonts/PragmaticaLightC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaLightC.woff') format('woff'),
        url('../fonts/PragmaticaLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaLightC';
    src: url('../fonts/PragmaticaLightC-Bold.eot');
    src: url('../fonts/PragmaticaLightC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaLightC-Bold.woff') format('woff'),
        url('../fonts/PragmaticaLightC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}