@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px; }
  /* Header */
  .logo {
    margin: 0 26px 0 0;
    width: 210px; }
  .header {
    margin-bottom: 150px; }
    .header-wrap {
      padding: 30px 0 190px; }
  /* Nav */
  .nav-wrap {
    padding-top: 8px; }
  .nav li {
    padding: 0 24px 0 0; }
  /* Offers */
  .offers-nav {
    width: 875px; }
    .offers-nav li {
      padding: 0 6px 0 10px !important; }
  .offers-content-wrap {
    width: 600px;
    padding-right: 10px; }
  .offers-img {
    width: 290px; }
  /* Main-services */
  .main-services-content {
    width: 550px; }
  .main-services-head .num {
    padding-left: 30px; }
  .main-services-link {
    font-size: 21px;
    margin-right: 16px; }
  /* Offer */
  .offer-name {
    width: 220px;
    line-height: 1.2; }
  /* Services-work */
  .services-work-name {
    width: 220px;
    line-height: 1.2; }
  /* Similar */
  .similar__text {
    line-height: 1.2; }
  /* Vacancy */
  .vacancy-item {
    width: 575px; }
  .serve-el {
    width: 575px; }
    .serve-el.big {
      width: 575px; }
  .produce-item {
    width: 290px; }
    .produce-item.great {
      width: 550px; }
  .produce-content__name {
    line-height: 1.2; }
  .working-side__head {
    font-size: 44px;
    margin-bottom: 46px; }
  .working .about-work-item {
    margin-right: 14px; }
    .working .about-work-item:last-child {
      margin-right: 0; }
  .product {
    padding: 40px 0; }
    .product-content {
      width: 250px; }
      .product-content__head {
        font-size: 34px; }
        .product-content__head span {
          margin: 0;
          font-size: 160px; }
    .product-items {
      padding-left: 18px; }
    .product-item p {
      line-height: 1.4; }
  .perform-item {
    width: 374px;
    margin-right: 24px; }
  .option-items {
    padding-right: 72px; }
  .option-item {
    margin-bottom: 28px; }
  .logistics .option-items {
    margin-right: 70px; }
  .logistics .option-elem-head {
    padding-right: 20px; }
    .logistics .option-elem-head span {
      font-size: 22px; }
  .tools-item {
    margin-right: 20px; }
  .pick-content {
    padding: 0 50px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px; }
  /* Header */
  .header {
    display: block;
    text-align: center; }
    .header-select {
      top: 91px; }
  .logo {
    margin: 0 auto 20px; }
  /* Offers */
  .offers {
    padding-top: 100px; }
    .offers-wrap {
      margin-top: 0; }
    .offers-info {
      width: 100%;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0; }
    .offers-nav {
      width: 100%; }
    .offers-content-wrap {
      width: 680px; }
    .offers-bottom {
      flex-wrap: wrap; }
    .offers-item {
      padding: 15px 0; }
  /* Main-services */
  .main-services {
    display: block;
    padding: 60px 0; }
    .main-services-items {
      margin: 0 auto 30px; }
      .main-services-items h2 {
        text-align: center; }
    .main-services:before {
      display: none; }
    .main-services-content {
      margin-top: 0;
      width: 100%; }
    .main-services-head {
      text-align: center; }
      .main-services-head .num {
        padding-left: 0; }
      .main-services-head .text {
        margin-left: 0;
        text-align: left; }
    .main-services-links {
      text-align: center; }
  /* Events */
  .events-items {
    flex-wrap: wrap;
    justify-content: center; }
  .events-item.item1 {
    margin-right: 20px; }
  .events-item.item2 {
    margin: 0; }
  .events-item.item3 {
    width: auto;
    height: auto;
    display: flex; }
  .events-item-par {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-top: 20px; }
    .events-item-par:last-child {
      margin-right: 0; }
  .events-item-content p {
    line-height: 1.2; }
  /* Main-slider */
  .main-slider-items {
    width: 881px; }
  /* Callback */
  .callback {
    width: 560px; }
    .callback-nav li {
      font-size: 14px;
      padding: 0 6px; }
      .callback-nav li:after {
        left: 6px;
        right: 6px; }
    .callback-content p, .callback-content a {
      font-size: 20px; }
  /* Footer */
  .footer {
    justify-content: space-between; }
    .footer-logo {
      width: 200px;
      margin-right: 30px; }
      .footer-logo-text span {
        font-size: 12px; }
    .footer-content {
      width: 540px;
      margin-right: 0; }
      .footer-content li a {
        font-size: 14px; }
    .footer-info {
      font-size: 18px; }
  /* Showcase-inner */
  .showcase-inner .showcase:before {
    display: none; }
  .showcase-inner .showcase-content {
    padding-top: 120px; }
  /* Frame */
  .frame {
    width: 720px; }
  /* About-content */
  .about-content-text {
    padding-right: 20px; }
    .about-content-text p {
      line-height: 1.3; }
  /* About-video */
  .about-video iframe {
    height: 320px; }
  /* About_slider */
  .about_slider .main-slider-items {
    width: 661px; }
  /* Services */
  .services-items {
    margin-left: 0; }
    .services-items ul {
      margin-right: 30px; }
  /* Offer */
  .offer {
    display: block; }
    .offer-name {
      width: 100%;
      margin-bottom: 20px; }
    .offer-items {
      justify-content: center; }
  /* Services-work */
  .services-work {
    display: block; }
    .services-work-name {
      width: 100%;
      margin-bottom: 20px; }
    .services-work .about-work-items {
      margin-right: 0; }
    .services-work .about-work-item.second {
      margin-top: 0; }
  /* Similar */
  .similar-items {
    flex-wrap: wrap; }
  .similar-item {
    margin: 0 10px 20px; }
    .similar-item:last-child {
      margin: 0 10px 20px; }
  /* Vacancy */
  .vacancy-item {
    width: 475px;
    padding: 25px 14px 28px 20px; }
    .vacancy-item__head {
      font-size: 22px; }
    .vacancy-item__number {
      margin-bottom: 10px; }
    .vacancy-item__text {
      line-height: 1.2; }
  /* Briefcase */
  .briefcase {
    margin-top: 30px; }
  .briefcase1 {
    margin-bottom: 0; }
    .briefcase1 .events-item.item2 {
      margin-right: 20px; }
  .briefcase2 .events-item.item1 {
    margin-right: 0; }
  .briefcase2 .events-item.item2 {
    margin-right: 20px; }
  .briefcase3 {
    margin-bottom: 0; }
    .briefcase3 .events-item.item2 {
      margin-bottom: 20px; }
      .briefcase3 .events-item.item2:first-child {
        margin-right: 0; }
  /* Pagination */
  .pagination {
    padding-bottom: 32px; }
  .serve-item {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 10px 0 !important; }
  .serve-elem {
    margin-right: 0; }
  .serve-el {
    text-align: left;
    height: auto;
    padding-bottom: 25px; }
    .serve-el.big {
      width: 575px; }
  .produce-items {
    flex-wrap: wrap;
    justify-content: center; }
  .produce-item {
    margin: 0 10px 30px; }
    .produce-item.tall, .produce-item.few {
      margin-top: 0; }
      .produce-item.tall .produce-item-img, .produce-item.few .produce-item-img {
        height: auto; }
    .produce-item.few {
      width: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
  .working {
    flex-direction: column; }
    .working-side {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px; }
      .working-side__head {
        margin-bottom: 0; }
    .working .about-work-items {
      justify-content: center; }
    .working .about-work-item {
      margin: 0 10px 0 !important; }
  .concise {
    width: 900px; }
    .concise__text {
      padding-left: 24px; }
    .concise-logo {
      margin-right: 38px; }
    .concise-header {
      padding: 0 100px 0 24px; }
      .concise-header__head {
        font-size: 22px; }
  .product {
    flex-direction: column;
    padding: 26px 0; }
    .product-content {
      width: 100%; }
      .product-content__head {
        margin-bottom: 20px; }
        .product-content__head span {
          display: inline-block;
          font-size: 62px; }
    .product-items {
      padding: 0; }
    .product-item {
      width: 49%; }
  .reviews-content {
    width: 460px; }
    .reviews-content__head {
      font-size: 20px;
      padding-bottom: 16px;
      margin-bottom: 10px; }
    .reviews-content__text {
      line-height: 1.35; }
  .reviews-img {
    width: 500px; }
  .activity__node {
    width: auto; }
  .perform-item {
    width: 310px;
    margin-right: 20px; }
  .option-img {
    width: 440px; }
  .option-items {
    padding-right: 14px; }
  .option-item__head {
    font-size: 22px; }
  .tools-item {
    width: 230px;
    margin-right: 16px;
    margin-bottom: 30px; }
  .pick-content {
    padding: 0; }
  .logistics .option-elems {
    margin-right: 34px; }
  .cost-item {
    padding: 14px; }
  .terms {
    padding: 40px 0; }
    .terms-items {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .terms-item {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-right: 0;
      margin-bottom: 20px; }
      .terms-item:after {
        top: auto;
        bottom: -40px;
        right: 50%;
        margin-right: -35px;
        transform: translateY(0) rotate(90deg); } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  .header {
    padding: 0 15px;
    margin-bottom: 70px; }
    .header-select {
      right: 15px; }
    .header-wrap .container {
      padding: 0;
      width: 100%; }
  /* Nav */
  .nav {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    padding-top: 15px;
    margin-top: 15px;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6); }
    .nav.active {
      margin-top: 0;
      opacity: 1;
      visibility: visible; }
    .nav li {
      padding: 0;
      margin: 0;
      margin-bottom: 15px; }
      .nav li:after {
        display: none; }
      .nav li a {
        border-bottom: none;
        padding-bottom: 0; }
        .nav li a:hover {
          border: none;
          color: #00aeef; }
  /* Burger */
  .burger-wrap {
    display: block;
    width: 30px; }
    .burger-wrap a {
      cursor: pointer;
      padding: 12px 0;
      display: block; }
      .burger-wrap a span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #00aeef;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger-wrap a span:before, .burger-wrap a span:after {
          position: absolute;
          background: #00aeef;
          content: '';
          width: 30px;
          height: 5px;
          left: 0;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border-radius: 7px; }
        .burger-wrap a span:before {
          top: -8px; }
        .burger-wrap a span:after {
          top: 8px; }
      .burger-wrap a.active span {
        background: transparent; }
        .burger-wrap a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger-wrap a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  /* Showcase */
  .showcase {
    padding: 0 15px; }
    .showcase-content h2 {
      font-size: 60px; }
    .showcase-content a {
      font-size: 21px; }
    .showcase-info {
      font-size: 21px; }
    .showcase-item li a {
      font-size: 20px; }
  /* Offers */
  .offers-nav li {
    padding: 0 10px 0 5px !important;
    font-size: 15px;
    line-height: 1.3; }
  .offers-content {
    text-align: center; }
    .offers-content-wrap {
      width: 100%;
      padding-right: 0; }
    .offers-content p {
      text-align: left; }
  .offers-item {
    width: 49.8%;
    margin-bottom: 2px; }
  /* Events */
  .events-items {
    display: block; }
  .events-item {
    display: block;
    margin: 0 auto 20px !important; }
    .events-item.item1 {
      height: 500px; }
    .events-item.item2 {
      width: 420px;
      height: 500px; }
    .events-item.item3 {
      justify-content: center; }
    .events-item-par {
      margin-top: 0; }
  /* Main-slider */
  .main-slider-items {
    width: 661px; }
  .main-slider-item a:last-child {
    display: none; }
  /* Callback */
  .callback {
    width: 100%;
    background-color: #fa0b8b;
    padding-left: 50px;
    padding-bottom: 50px; }
    .callback-inner {
      position: static; }
    .callback:after {
      display: none; }
    .callback-wrap {
      height: auto;
      overflow: hidden; }
    .callback:before {
      content: '';
      display: block;
      border: none;
      background-color: #fa0b8b;
      position: absolute;
      top: 0;
      left: -1000px; }
  /* Brief */
  .brief {
    margin-bottom: 40px; }
  /* Map */
  .map {
    height: 350px; }
  /* Footer */
  .footer {
    display: block;
    text-align: center;
    padding-bottom: 18px; }
    .footer-logo {
      width: auto;
      margin-right: 0;
      margin-bottom: 20px; }
      .footer-logo-text {
        padding-top: 0;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0; }
    .footer-content {
      margin: 0 auto 40px;
      width: 100%; }
      .footer-content ul {
        width: 220px; }
  /* Bottom */
  .bottom {
    padding-bottom: 70px; }
  /* About */
  .about {
    display: block; }
  /* About_slider */
  .about_slider .main-slider-items .slick-dots {
    bottom: -40px;
    right: 50%;
    margin-right: -61px; }
  /* Frame */
  .frame {
    width: auto; }
  /* Services */
  .services .sidebar {
    width: auto;
    margin-bottom: 15px; }
  .services-other .other-items {
    margin-left: 0; }
  /* Offer */
  .offer-items {
    flex-wrap: wrap; }
  .offer-item {
    margin: 0 10px 20px; }
    .offer-item:last-child {
      margin: 0 10px 20px; }
  /* Portfolio */
  .portfolio {
    width: auto; }
    .portfolio-item {
      margin: 0 25px;
      padding: 44px 0 0; }
      .portfolio-item__text {
        line-height: 1.2; }
    .portfolio-slider-wrap {
      width: 600px; }
  /* Similar */
  .similar-items {
    justify-content: center; }
  /* Contacts */
  .contacts {
    width: auto;
    padding: 0 10px; }
  /* Vacancy */
  .vacancy {
    margin-top: 35px; }
    .vacancy:before {
      display: none; }
    .vacancy-items {
      justify-content: center; }
    .vacancy-item {
      margin: 0 10px 20px; }
      .vacancy-item:nth-child(2n) {
        margin: 0 10px 20px; }
    .vacancy-sidebar {
      width: 290px;
      padding: 24px 14px 28px 18px; }
      .vacancy-sidebar__info {
        line-height: 1.2; }
    .vacancy-content {
      padding-right: 10px; }
      .vacancy-content-wrap .vacancy-item__text {
        margin-bottom: 22px; }
  /* Briefcase */
  .briefcase-head {
    margin-right: 5px;
    font-size: 28px; }
  /* Briefcase-nav */
  .briefcase-nav li {
    margin-right: 0; }
    .briefcase-nav li a {
      padding: 0 12px;
      font-size: 13px; }
      .briefcase-nav li a:after {
        left: 12px;
        right: 12px; }
  .produce-item.great .produce-item-img {
    height: auto; }
  .working .about-work-items {
    flex-wrap: wrap; }
  .working .about-work-item {
    margin: 0 22px 24px !important; }
  .concise {
    width: 700px; }
    .concise-header {
      margin-bottom: 18px; }
  .fancybox-close-small {
    top: 40px;
    right: 20px; }
  .product-items {
    flex-direction: column; }
  .product-item {
    width: 100%; }
  .reviews-item {
    flex-direction: column;
    padding-bottom: 130px; }
    .reviews-item:after {
      bottom: 22px;
      left: 50%;
      margin-left: -50.5px; }
    .reviews-item:last-child {
      padding-bottom: 50px; }
  .reviews-content {
    width: 500px;
    margin: 0 auto 30px; }
  .reviews-img {
    margin: 0 auto; }
  .perform {
    margin-bottom: 34px; }
    .perform:after {
      bottom: -85px; }
    .perform-items {
      justify-content: center; }
    .perform-item {
      margin: 0 5px 20px; }
      .perform-item:last-child {
        margin: 0 5px 10px; }
  .option {
    flex-direction: column; }
    .option-items {
      padding-right: 0;
      margin-bottom: 40px; }
    .option-img {
      margin: 0 auto; }
  .tools-items {
    justify-content: center;
    margin-bottom: 30px; }
  .tools-item {
    text-align: center;
    width: 260px;
    margin: 0 10px 20px; }
    .tools-item:nth-child(4n) {
      margin: 0 10px 20px; }
  .tools__text {
    width: auto;
    font-size: 22px;
    padding-right: 0; }
  .logistics {
    padding-bottom: 64px;
    margin-bottom: 147px; }
    .logistics:after {
      bottom: -143px; }
    .logistics .option-elems {
      margin-right: 0;
      margin-bottom: 20px; }
    .logistics .option-elem-content {
      padding-right: 50px; }
    .logistics .option-elem-head span {
      font-size: 20px; }
  .cost {
    margin-bottom: 34px; }
    .cost-items {
      flex-wrap: wrap;
      justify-content: center; }
    .cost-item {
      margin: 0 10px 20px; }
      .cost-item:last-child {
        margin: 0 10px 20px; }
  .terms .tools__text {
    width: auto;
    padding-right: 0; }
  .cost .tools__text {
    width: auto;
    padding-right: 0; }
  .pick__head {
    margin-bottom: 20px;
    font-size: 20px; }
  .terms-item.first {
    width: 552px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px; }
  /* Showcase */
  .showcase-content {
    width: auto; }
  .showcase-items {
    flex-direction: column; }
  .showcase-item li {
    margin-bottom: 14px !important; }
  /* Offers */
  .offers-nav {
    display: block; }
    .offers-nav li {
      width: 100%;
      height: auto;
      padding: 12px !important; }
  .offers-content a {
    width: 100%;
    margin: 0 10px 15px; }
    .offers-content a:nth-child(2n) {
      margin: 0 10px 15px; }
    .offers-content a p {
      width: 400px; }
  .offers-bottom {
    display: block;
    text-align: center; }
  .offers-img {
    margin-bottom: 20px; }
  /* Main-services */
  .main-services-head .text {
    margin-top: 0; }
  /* Events */
  .events-item {
    width: 300px !important; }
    .events-item.item1, .events-item.item2 {
      height: 300px; }
    .events-item.item3 {
      width: auto !important;
      display: block;
      text-align: center; }
    .events-item-par {
      display: block;
      margin: 0 auto 20px; }
      .events-item-par:last-child {
        margin: 0 auto; }
    .events-item-content {
      text-align: left; }
  /* Main-slider */
  .main-slider-items {
    width: 441px; }
    .main-slider-items .slick-dots {
      bottom: -34px;
      right: 50%;
      transform: translate(50%); }
  /* Brief */
  .brief-content {
    width: auto; }
    .brief-content h2 {
      font-size: 28px; }
    .brief-content p {
      font-size: 21px; }
  /* Map */
  .map {
    height: 250px; }
  /* Callback */
  .callback {
    padding: 50px 12px; }
    .callback-items {
      text-align: center; }
    .callback-content {
      margin: 0 auto; }
    .callback-nav li {
      margin-bottom: 10px;
      font-weight: 400; }
  /* Footer */
  .footer-content {
    display: block; }
    .footer-content ul {
      width: auto;
      margin-bottom: 20px; }
  /* Showcase-inner */
  .showcase-inner .showcase {
    height: 300px; }
    .showcase-inner .showcase-content {
      padding-top: 40px;
      width: 100%; }
      .showcase-inner .showcase-content__text {
        padding: 0 20px; }
  /* About-content */
  .about-content {
    display: block; }
    .about-content-text {
      padding-right: 0;
      margin-bottom: 50px; }
    .about-content-sidebar {
      margin: 0 auto; }
  /* About-work */
  .about-work-items {
    flex-wrap: wrap;
    justify-content: center; }
  .about-work-item {
    margin: 0 20px 20px; }
    .about-work-item:last-child {
      margin: 0 20px 20px; }
    .about-work-item.second {
      margin-top: 0; }
  /* About_slider */
  .about_slider .main-slider-items {
    width: 441px; }
    .about_slider .main-slider-items .slick-dots {
      margin-right: 0; }
  /* Services-other */
  .services-other h2 {
    text-align: center; }
  .services-other .other-items {
    display: block; }
    .services-other .other-items ul {
      margin: 0 auto 20px; }
      .services-other .other-items ul:last-child {
        margin: 0 auto 20px; }
  /* Portfolio */
  .portfolio-items {
    flex-wrap: wrap;
    justify-content: center; }
  .portfolio-item {
    margin-bottom: 20px; }
  .portfolio-slider-wrap {
    width: 500px; }
  /* Vacancy  */
  .vacancy-content {
    padding-right: 0;
    margin-bottom: 40px; }
    .vacancy-content-wrap {
      display: block; }
  .vacancy-sidebar {
    width: auto; }
  /* Briefcase */
  .briefcase-header {
    display: block;
    text-align: center;
    margin-bottom: 30px; }
  .briefcase-head {
    margin-right: 0; }
  .serve-el {
    width: 544px;
    height: auto;
    padding: 40px 34px 40px 112px; }
    .serve-el.big {
      width: 544px;
      height: 400px; }
    .serve-el-img {
      top: 28px;
      left: 20px; }
  .working-side {
    flex-direction: column; }
    .working-side__head {
      font-size: 32px;
      margin-bottom: 15px; }
  .concise {
    width: 540px; }
    .concise__text {
      padding: 0 10px; }
    .concise-logo {
      margin: 0 auto 20px; }
    .concise-header {
      flex-direction: column;
      text-align: center;
      padding: 0 40px; }
    .concise .data-select {
      margin-right: 19px; }
  .data {
    width: 520px; }
    .data-header {
      padding-right: 12px;
      padding-left: 12px; }
      .data-header i {
        right: 16px; }
    .data-content {
      padding: 0 12px 22px; }
  .product-content__head {
    font-size: 28px; }
  .product-item p {
    margin-bottom: 16px; }
  .reviews {
    padding: 38px 0 0; }
    .reviews:before {
      display: none; } }

@media only screen and (max-width: 575px) {
  /* Nav */
  .nav-wrap {
    padding-top: 3px; }
  /* Showcase */
  .showcase-content h2 {
    font-size: 32px; }
  .showcase-info {
    width: auto;
    padding-left: 0; }
    .showcase-info:before {
      display: none; }
  /* Showcase-inner */
  .showcase-inner .showcase-content__text {
    font-size: 24px; }
  /* Main-services */
  .main-services-items {
    width: auto; }
  .main-services .tab-content {
    padding: 12px 10px 20px 10px; }
    .main-services .tab-content-items {
      display: block; }
    .main-services .tab-content-item {
      margin: 0 auto 15px; }
      .main-services .tab-content-item .number {
        margin-bottom: 2px; }
    .main-services .tab-content-text {
      line-height: 1.3; }
  .main-services .tab-nav li {
    font-size: 14px; }
  .main-services-head .num {
    font-size: 90px; }
  .main-services-head .text {
    font-size: 20px;
    width: auto; }
  .main-services-link {
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
    font-size: 18px; }
  /* Offers */
  .offers-nav li {
    font-size: 14px; }
  .offers-content a p {
    width: 100%;
    text-align: center;
    padding-left: 0; }
  /* Brief */
  .brief {
    padding-left: 5px;
    padding-right: 5px; }
    .brief-content h2 {
      font-size: 24px; }
  /* Main-slider */
  .main-slider-items {
    width: 221px; }
  /* Callback */
  .callback-content {
    width: auto; }
  /* About-video */
  .about-video iframe {
    height: 280px; }
  /* About_slider */
  .about_slider .main-slider-items {
    width: 221px; }
  /* Offer */
  .offer-item {
    padding: 34px 20px 0 25px; }
  /* Portfolio */
  .portfolio-slider-wrap {
    width: auto;
    margin-bottom: 100px; }
  /* Similar */
  .similar:before {
    display: none; }
  .similar-item {
    height: auto; }
  /* Contacts */
  .contacts {
    margin: 50px auto 90px; }
    .contacts:before, .contacts:after {
      display: none; }
  /* Vacancy  */
  .vacancy-info b {
    margin-bottom: 10px;
    display: block; }
  /* Pagination */
  .pagination li.pagination__left, .pagination li.pagination__right {
    margin-right: 0; }
  .pagination li.pagination__right {
    margin-left: 0; }
  .pagination li {
    width: 34px;
    height: 34px; }
    .pagination li a {
      line-height: 34px; }
  .serve-el {
    width: 100%;
    padding: 20px 10px 24px; }
    .serve-el.big {
      width: 100%;
      height: auto;
      background-image: none !important; }
    .serve-el.more {
      padding-right: 20px;
      padding-left: 14px; }
      .serve-el.more .serve-el__name {
        font-size: 30px;
        margin-bottom: 30px; }
    .serve-el-img {
      position: static;
      margin-bottom: 15px; }
    .serve-el__head {
      font-size: 22px; }
    .serve-el__text {
      line-height: 1.3; }
  .serve-elem {
    width: 100%; }
  .serve-item {
    margin: 0 !important; }
  .produce-content__name {
    padding-left: 0;
    font-size: 22px; }
  .produce-item.great .produce-content__name {
    font-size: 22px; }
  .produce-link .link span {
    font-size: 13px; }
  .concise {
    width: auto;
    margin: 0 6px; }
    .concise__text {
      font-size: 15px; }
    .concise-items {
      width: 100%;
      padding: 0 10px; }
    .concise-item-input {
      width: 100%; }
    .concise-header {
      padding: 0 10px; }
      .concise-header__head {
        font-size: 20px; }
    .concise .data-date {
      justify-content: flex-start;
      align-items: flex-start; }
    .concise .data-select span {
      width: 20px; }
  .fancybox-close-small {
    top: 10px;
    right: 12px; }
  .data {
    width: auto;
    margin: 0 5px 30px; }
    .data-header {
      padding-left: 6px; }
      .data-header__head {
        font-size: 15px; }
      .data-header i {
        right: 8px; }
    .data-date {
      flex-direction: column; }
    .data-content {
      padding: 0 6px 22px; }
  .product-content__head span {
    font-size: 40px; }
  .product-links {
    margin-left: 0; }
  .product-link a {
    font-size: 18px; }
  .reviews-item:last-child {
    padding-bottom: 20px; }
  .reviews-content {
    width: 100%; }
  .reviews-img {
    width: 100%; }
    .reviews-img:after {
      background-size: 80%; }
    .reviews-img:before {
      border: 15px solid #00aeef;
      border-top: 13px solid #00aeef;
      border-bottom: none; }
  .reviews_pagination {
    margin-bottom: 0; }
  .pagination li {
    width: 28px;
    height: 28px; }
    .pagination li a {
      line-height: 28px; }
  .perform-item {
    width: 290px;
    margin: 0 0 30px; }
  .option-img {
    width: auto; }
  .cost-item {
    margin: 0 0 20px; }
    .cost-item:last-child {
      margin: 0 0 20px; }
  .terms .tools__text {
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 40px; }
  .terms-item {
    width: 100% !important;
    padding: 22px 20px 40px 14px !important; }
  .terms-elems {
    flex-direction: column; }
  .terms-el {
    font-size: 16px;
    line-height: 1.3; }
  .activity__node {
    line-height: 1.3; } }

/*# sourceMappingURL=media.css.map */