* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'PragmaticaC', sans-serif; }

a {
  font: 400 16px 'PragmaticaC', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative; }

.link {
  position: relative; }
  .link span {
    display: block;
    color: #fff;
    background-color: #00aeef;
    padding: 12px 50px 12px 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    transition: 300ms; }
  .link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 30px;
    color: #00aeef;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 5px;
    transition: 300ms; }
  .link:hover span {
    background: #0796cb; }
  .link:hover i {
    color: #0796cb; }

.head {
  font-family: 'PragmaticaLightC';
  font-size: 34px;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center; }

.burger-wrap {
  display: none; }

.logo {
  margin: 0 46px 0 0; }

/* Header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 300px; }
  .header-wrap {
    background: url(../images/header-bg.jpg) no-repeat 50%;
    background-size: cover;
    padding: 30px 0 290px;
    margin-bottom: 56px;
    position: relative; }
    .header-wrap:after {
      content: '';
      display: block;
      background: url(../images/before_lamp.png) no-repeat 50%;
      width: 34px;
      height: 184px;
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translate(-50%); }
  .header-select {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0; }
    .header-select__name {
      display: flex;
      align-items: center;
      border-radius: 30px;
      height: 40px;
      padding: 0 55px 0 26px;
      font: 700 16px 'PragmaticaLightC';
      color: #fff;
      background-color: #b0cc1f;
      box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
      position: relative;
      cursor: pointer; }
      .header-select__name:after {
        content: '';
        display: block;
        background: url(../images/link-arrow.png) no-repeat 50%;
        width: 29px;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 4px; }
      .header-select__name.active {
        border-radius: 18px 18px 0 0; }
    .header-select-list {
      opacity: 0;
      visibility: hidden;
      text-align: left !important;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: #b0cc1f;
      box-shadow: 0 16px 25px rgba(0, 174, 239, 0.45);
      padding: 0 0 8px;
      border-radius: 0 0 18px 18px; }
      .header-select-list.active {
        opacity: 1;
        visibility: visible; }
      .header-select-list li {
        padding: 8px 0 8px 26px; }
        .header-select-list li a {
          color: #fff; }
          .header-select-list li a:hover {
            text-decoration: underline; }

.header_inner {
  padding-bottom: 28px !important;
  margin-bottom: 0;
  background: #edf4f8; }
  .header_inner:after {
    display: none; }
  .header_inner .header {
    margin-bottom: 0; }
  .header_inner .nav li a {
    color: #000; }

/* Nav */
.nav {
  display: flex; }
  .nav-wrap {
    padding-top: 12px; }
  .nav li {
    padding: 0 30px 0 0;
    margin: 0 14px 0 0;
    position: relative; }
    .nav li:after {
      content: '//';
      display: block;
      color: #939598;
      position: absolute;
      top: 0;
      right: 0; }
    .nav li:last-child {
      margin-right: 0;
      padding-right: 0; }
      .nav li:last-child:after {
        display: none; }
    .nav li a {
      color: #fff;
      text-transform: uppercase;
      padding: 0 0 7px;
      border-bottom: 2px solid #b0cc1f;
      font-weight: 700; }
      .nav li a:hover {
        color: #b0cc1f;
        border-bottom: 2px solid transparent; }
    .nav li.active a {
      color: #b0cc1f;
      border-bottom: 2px solid transparent; }

/* Showcase */
.showcase-content__head {
  text-align: center;
  color: #fff;
  font-size: 84px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 38px;
  margin-bottom: 40px;
  position: relative; }
  .showcase-content__head:after {
    content: '';
    display: block;
    width: 120px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%); }

.showcase-items {
  display: flex;
  justify-content: center; }

.showcase-item:first-child {
  margin-right: 140px; }

.showcase-item li {
  margin-bottom: 18px; }
  .showcase-item li:last-child {
    margin-bottom: 0; }
  .showcase-item li a {
    color: #fff;
    font: 700 24px 'PragmaticaLightC'; }

.serve {
  position: relative; }
  .serve:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: -71px;
    left: 50%;
    transform: translate(-50%); }
  .serve__head {
    text-align: center;
    font: 400 34px 'PragmaticaLightC';
    margin-bottom: 27px; }
  .serve-items {
    padding-bottom: 120px; }
  .serve-item {
    display: flex;
    justify-content: space-between; }
  .serve-elem {
    margin: 0 20px 20px 0; }
    .serve-elem:nth-child(2n) {
      margin-right: 0; }

.serve-el {
  width: 620px;
  height: 250px;
  background-color: #edf4f8;
  padding: 42px 40px 5px 141px;
  margin: 0 0 20px 0;
  position: relative; }
  .serve-el:last-child {
    margin-bottom: 0; }
  .serve-el:hover {
    background-color: #00aeef; }
    .serve-el:hover .serve-el-img {
      background-position: right; }
    .serve-el:hover .serve-el__head:after {
      background-color: #fff; }
    .serve-el:hover .serve-el__head, .serve-el:hover .serve-el__text {
      color: #fff; }
  .serve-el.big {
    height: 520px;
    margin-bottom: 0; }
    .serve-el.big:hover {
      background: #00aeef !important; }
  .serve-el.more {
    background-color: #b0cc1f;
    padding-right: 135px; }
    .serve-el.more .serve-el__name {
      font-size: 44px;
      font-weight: 700;
      line-height: 1.15;
      margin-bottom: 34px; }
    .serve-el.more .link span {
      color: #000;
      background-color: #fff;
      box-shadow: 0 0 25px rgba(0, 174, 239, 0.45); }
    .serve-el.more .link i {
      color: #fff;
      background-color: #b0cc1f; }
    .serve-el.more .link:hover span {
      color: #b0cc1f; }
  .serve-el-img {
    position: absolute;
    top: 42px;
    left: 34px; }
  .serve-el__head {
    font: 700 24px 'PragmaticaLightC';
    color: #000;
    padding-bottom: 17px;
    margin-bottom: 14px;
    position: relative; }
    .serve-el__head:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #00aeef;
      position: absolute;
      bottom: 0;
      left: 0; }
  .serve-el__text {
    color: #000;
    font: 400 16px/1.6 'PragmaticaLightC'; }

.serve-el-img {
  width: 72px;
  height: 72px; }
  .serve-el-img.img1 {
    background: url(../images/serve1.png) no-repeat left; }
  .serve-el-img.img2 {
    background: url(../images/serve2.png) no-repeat left; }
  .serve-el-img.img3 {
    background: url(../images/serve3.png) no-repeat left; }
  .serve-el-img.img4 {
    background: url(../images/serve4.png) no-repeat left; }

/* Showcase-inner */
.showcase-inner {
  background: none; }
  .showcase-inner .showcase {
    height: 400px;
    margin-bottom: 46px;
    background-position: 50%;
    position: relative;
    padding: 0; }
    .showcase-inner .showcase-content {
      width: 680px;
      padding-top: 186px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      text-align: center; }
      .showcase-inner .showcase-content__name {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 17px;
        margin-bottom: 18px;
        position: relative; }
        .showcase-inner .showcase-content__name:before {
          content: '';
          display: block;
          width: 50px;
          height: 1px;
          background-color: #fff;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%); }
      .showcase-inner .showcase-content__text {
        font-family: 'PragmaticaLightC';
        font-size: 34px;
        color: #fff;
        line-height: 1.3; }
    .showcase-inner .showcase:before {
      content: '';
      display: block;
      background: url(../images/before_lamp3.png) no-repeat 50%;
      width: 34px;
      height: 175px;
      position: absolute;
      top: -36px;
      left: 50%;
      transform: translate(-50%); }

.showcase-slider {
  position: relative; }
  .showcase-slider .slick-arrow {
    cursor: pointer;
    border: none;
    background: url(../images/arrowSlider1.png) no-repeat 50%;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 60px;
    z-index: 100; }
  .showcase-slider .slick-next {
    left: auto;
    right: 60px;
    background: url(../images/arrowSlider2.png) no-repeat 50%; }

/* Main-services */
.main-services {
  display: flex;
  justify-content: space-between;
  padding: 110px 0 77px;
  position: relative; }
  .main-services:before {
    content: '';
    display: block;
    background: url(../images/before.png) no-repeat 50%;
    width: 34px;
    height: 191px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -17px; }
  .main-services-wrap {
    background-color: #b0cc1f; }
  .main-services-items {
    width: 540px;
    padding: 16px 0 0; }
    .main-services-items h2 {
      font-family: 'PragmaticaLightC';
      font-size: 34px;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 26px; }
  .main-services-links {
    padding-top: 14px; }
  .main-services-link {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-right: 30px; }
  .main-services-brief span {
    background-color: #ec008c; }
  .main-services-brief i {
    color: #ec008c;
    box-shadow: 0 0 25px rgba(0, 174, 239, 0.45); }
  .main-services-brief:hover span {
    background: #EC0053; }
  .main-services-brief:hover i {
    color: #EC0053; }

/* Main-services-content */
.main-services-head {
  margin-bottom: 9px; }
  .main-services-head .num {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 124px;
    font-weight: 700;
    padding-left: 73px; }
  .main-services-head .text {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    font-size: 24px;
    font-weight: 700;
    margin-left: -80px;
    margin-top: 48px;
    line-height: 1.3; }

.main-services-content {
  width: 620px;
  margin-top: -13px; }
  .main-services-content p {
    line-height: 1.6;
    margin-bottom: 28px;
    font-family: 'PragmaticaLightC'; }

/* Tab */
.tab-nav {
  display: flex;
  justify-content: space-between; }
  .tab-nav li {
    width: 177px;
    text-align: center;
    background-color: #00aeef;
    color: #fff;
    border: 3px solid #00aeef;
    border-bottom: none;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative; }
    .tab-nav li:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background: #00aeef;
      z-index: 100; }
    .tab-nav li.active {
      color: #000;
      background: #fff; }
      .tab-nav li.active:after {
        display: block;
        background: #fff; }

.tab-content {
  display: none;
  background: #fff;
  border: 3px solid #00aeef;
  padding: 27px 60px 25px 50px;
  margin-top: -3px; }
  .tab-content.active {
    display: block; }
  .tab-content-text {
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    margin: 0 0 19px; }
  .tab-content-items {
    display: flex; }
  .tab-content-item {
    width: 106px;
    margin-right: 50px; }
    .tab-content-item:last-child {
      margin-right: 0; }
    .tab-content-item .number {
      position: relative;
      color: #fa0b8b;
      font-size: 34px;
      font-weight: 700;
      padding-bottom: 12px;
      margin-bottom: 10px; }
      .tab-content-item .number:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background: #00aeef;
        position: absolute;
        bottom: 4px;
        left: 0; }
    .tab-content-item p {
      font-family: 'PragmaticaLightC';
      line-height: 1.6; }

/* Offers */
.offers {
  background-color: #edf4f8; }
  .offers-wrap {
    overflow: hidden;
    margin-top: -120px; }
  .offers-top {
    display: flex; }
  .offers-bottom {
    display: flex;
    position: relative; }
    .offers-bottom:before, .offers-bottom:after {
      content: '';
      display: block;
      width: 2000px;
      height: 100%;
      background-color: #edf4f8;
      position: absolute;
      top: 0;
      left: 100%; }
    .offers-bottom:after {
      left: auto;
      right: 100%; }

/* Offers-nav */
.offers-nav {
  flex-shrink: 0;
  width: 960px;
  display: flex; }
  .offers-nav li {
    display: flex;
    align-items: center;
    width: 20%;
    height: 120px;
    padding: 10px 33px 0 20px;
    background: #00aeef;
    margin-right: 1px;
    font-weight: 700;
    color: #fff;
    line-height: 1.6;
    text-transform: uppercase;
    transition: 300ms;
    cursor: pointer; }
    .offers-nav li:first-child {
      padding: 10px 6px 0 10px; }
    .offers-nav li:last-child {
      margin-right: 0; }
    .offers-nav li.active {
      background-color: #edf4f8;
      color: #000; }
    .offers-nav li:hover {
      color: #000;
      background-color: #edf4f8; }

/* Offers-info */
.offers-info {
  height: 120px;
  padding: 0 60px 0 40px;
  background-color: #b0cc1f;
  flex-grow: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .offers-info p {
    line-height: 1.6; }
  .offers-info a {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid transparent; }
    .offers-info a:hover {
      border-bottom: 1px solid #000; }

/* Offers-content */
.offers-content {
  display: none; }
  .offers-content-wrap {
    width: 640px;
    flex-shrink: 0;
    padding: 36px 50px 0 0;
    display: flex;
    flex-wrap: wrap; }
  .offers-content.active {
    display: block; }
  .offers-content a {
    display: inline-block;
    vertical-align: top;
    width: 282px;
    margin-right: 14px;
    margin-bottom: 34px; }
    .offers-content a:nth-child(2n) {
      margin-right: 0; }
    .offers-content a img {
      display: inline-block;
      vertical-align: top;
      width: 72px;
      height: 72px; }
    .offers-content a p {
      display: inline-block;
      vertical-align: top;
      width: 206px;
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
      padding: 15px 0 0 10px; }
    .offers-content a:hover p {
      text-decoration: underline; }

/* Offers-img */
.offers-img {
  width: 320px;
  flex-shrink: 0;
  position: relative;
  text-align: center;
  opacity: .9;
  transition: 300ms; }
  .offers-img span {
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2; }
  .offers-img:hover {
    opacity: 1; }
  .offers-img img {
    height: 100%; }

/* Offers-items */
.offers-items {
  flex-grow: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.offers-item {
  background: #00aeef;
  width: 49.9%;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .offers-item:last-child, .offers-item:nth-last-child(2) {
    margin-bottom: 0; }
  .offers-item span {
    color: #fff;
    margin-top: 14px; }
  .offers-item:hover {
    background: #0796cb; }

/* Main-more */
.main-more {
  position: relative;
  padding: 170px 0 216px; }
  .main-more:before {
    content: '';
    display: block;
    background: url(../images/before_lamp.png) no-repeat 50%;
    width: 34px;
    height: 184px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -17px; }
  .main-more:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -17px; }

.produce {
  margin: 96px 0 178px; }
  .produce__head {
    margin-bottom: 25px; }
  .produce-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px; }
  .produce-item {
    width: 300px; }
    .produce-item.tall {
      margin-top: 60px; }
      .produce-item.tall .produce-item-img {
        height: 580px; }
    .produce-item.great {
      width: 620px; }
      .produce-item.great .produce-item-img {
        height: 600px; }
      .produce-item.great .produce-content-info {
        padding: 0; }
      .produce-item.great .produce-content__name {
        font-size: 34px; }
    .produce-item.few {
      margin-top: 28px; }
      .produce-item.few .produce-item {
        margin-bottom: 35px; }
        .produce-item.few .produce-item:last-child {
          margin-bottom: 0; }
        .produce-item.few .produce-item-img {
          height: 240px; }
    .produce-item-img {
      width: 100%;
      font-size: 0;
      margin-bottom: 18px;
      position: relative; }
      .produce-item-img:before {
        content: '';
        display: block;
        background-color: rgba(0, 174, 239, 0.4);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 300ms; }
      .produce-item-img:hover:before {
        opacity: 1;
        visibility: visible; }
      .produce-item-img img {
        width: 100%;
        height: 100%; }
  .produce-link {
    text-align: center; }

.produce-content-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  padding: 0 8px 0 4px; }

.produce-content__date {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative; }
  .produce-content__date:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #0897dd;
    position: absolute;
    bottom: -17px;
    left: 0; }

.produce-content__link {
  color: #00aeef;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase; }
  .produce-content__link.green {
    color: #b0cc1f; }
  .produce-content__link.pink {
    color: #fa0b8b; }

.produce-content__name {
  font: 400 24px/1.45 'PragmaticaLightC';
  color: #000;
  padding-left: 5px; }
  .produce-content__name:hover {
    color: #00aeef; }

/* Events */
.events {
  margin-bottom: 184px; }
  .events-items {
    display: flex;
    margin-bottom: 35px; }

.events-item {
  position: relative;
  height: 620px; }
  .events-item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5; }
  .events-item.item3:after {
    display: none; }
  .events-item-content {
    position: absolute;
    top: 30px;
    left: 25px;
    right: 20px;
    z-index: 6; }
    .events-item-content p {
      font-family: 'PragmaticaLightC';
      font-size: 24px;
      color: #fff;
      line-height: 1.3; }
  .events-item.item1 {
    width: 300px; }
  .events-item.item2 {
    width: 620px;
    margin: 0 20px; }
  .events-item.item3 {
    width: 300px; }
    .events-item.item3:before {
      display: none; }
  .events-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 162, 235, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 300ms; }
  .events-item:hover:before {
    opacity: 1;
    visibility: visible; }

.events-item-par {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 0 0 18px;
  font-size: 0; }
  .events-item-par:last-child {
    margin-bottom: 0; }
  .events-item-par:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5; }
  .events-item-par:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 162, 235, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 300ms; }
  .events-item-par:hover:before {
    opacity: 1;
    visibility: visible; }

.events-item-data {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 26px;
  position: relative; }
  .events-item-data:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0; }

.working {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px; }
  .working-side {
    width: 240px;
    padding-top: 30px;
    flex-shrink: 0; }
    .working-side__head {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 62px;
      line-height: 1.1; }
    .working-side .link span {
      font-size: 16px; }
  .working .about-work__head {
    line-height: 1.65;
    margin-bottom: 12px; }
  .working .about-work-item {
    margin-right: 27px; }

/* Main-slider */
.main-slider {
  padding: 80px 0 50px;
  margin-bottom: 56px; }
  .main-slider__head {
    margin-bottom: 33px; }
  .main-slider:before {
    content: '';
    display: block;
    background: url(../images/before_plane.png) no-repeat 50%;
    width: 34px;
    height: 191px;
    position: absolute;
    top: -146px;
    left: 50%;
    margin-left: -17px; }
  .main-slider-wrap {
    background-color: #edf4f8; }
  .main-slider-items {
    width: 1101px;
    margin: 0 auto;
    position: relative; }
    .main-slider-items .slick-dots {
      position: absolute;
      bottom: 40px;
      right: 51px; }
      .main-slider-items .slick-dots li {
        display: inline-block;
        vertical-align: top;
        width: 12px;
        height: 12px;
        background-color: #c7d8e2;
        border-radius: 50%;
        margin: 0 11px;
        cursor: pointer; }
        .main-slider-items .slick-dots li button {
          display: none; }
      .main-slider-items .slick-dots .slick-active {
        background: #00aeef; }
  .main-slider-item {
    border-top: 1px solid #00aeef;
    border-left: 1px solid #00aeef;
    font-size: 0; }
    .main-slider-item a {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 220px;
      height: 110px;
      line-height: 110px;
      border-right: 1px solid #00aeef;
      border-bottom: 1px solid #00aeef;
      background: #fff; }
      .main-slider-item a:hover {
        box-shadow: inset 0px 1px 27px 5px rgba(0, 174, 239, 0.35); }
      .main-slider-item a img {
        display: inline-block;
        vertical-align: middle; }

/* Brief */
.brief {
  background: url(../images/brief-bg.jpg) no-repeat 50%;
  padding: 102px 0 35px;
  margin-bottom: 64px;
  text-align: center;
  position: relative; }
  .brief:before {
    content: '';
    display: block;
    background: url(../images/before_lamp2.png) no-repeat 50%;
    width: 34px;
    height: 146px;
    position: absolute;
    top: -57px;
    left: 50%;
    margin-left: -17px; }
  .brief-content {
    width: 715px;
    margin: 0 auto; }
    .brief-content h2 {
      font-size: 48px;
      font-weight: 700; }
      .brief-content h2 span {
        display: block;
        margin-bottom: 10px; }
    .brief-content p {
      font-family: 'PragmaticaLightC';
      font-size: 24px;
      margin-bottom: 30px;
      padding-top: 12px; }
    .brief-content .link span {
      font-size: 16px; }
  .brief-check-in {
    margin-top: 70px; }
    .brief-check-in .brief:before {
      display: none; }

/* Map */
.map {
  height: 100%;
  position: relative;
  z-index: 5; }
  .map iframe {
    width: 100%;
    height: 100%;
    border: none; }

/* Callback */
.callback {
  width: 620px;
  position: relative;
  z-index: 10;
  height: 100%;
  padding-top: 53px; }
  .callback:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 150px;
    bottom: 0;
    background: #fa0b8b;
    width: 2000px;
    z-index: -1; }
  .callback:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -110px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 450px 260px 0 0;
    border-color: #fa0b8b transparent transparent transparent;
    z-index: -1; }
  .callback-wrap {
    position: relative;
    height: 450px; }
  .callback-inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }
    .callback-inner .container {
      height: 100%; }
  .callback__head {
    color: #fff;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    font-weight: 400;
    margin: 0 0 22px; }
  .callback-img {
    margin-bottom: 18px; }
  .callback-soc a {
    margin-right: 15px; }
    .callback-soc a:hover {
      opacity: .8; }
    .callback-soc a:last-child {
      margin-right: 0; }

/* Callback-nav */
.callback-nav {
  margin-bottom: 24px; }
  .callback-nav li {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0 9px;
    cursor: pointer;
    transition: 300ms;
    line-height: 40px;
    border-radius: 20px;
    position: relative; }
    .callback-nav li:after {
      content: '';
      display: block;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 9px;
      right: 9px; }
    .callback-nav li.active {
      color: #000;
      background: #fff; }
      .callback-nav li.active:after {
        display: none; }
    .callback-nav li:hover {
      color: #000;
      background: #fff; }
      .callback-nav li:hover:after {
        display: none; }

/* Callback-content */
.callback-content {
  display: none;
  width: 410px; }
  .callback-content.active {
    display: block; }
  .callback-content-wrap {
    margin-bottom: 21px; }
  .callback-content p, .callback-content a {
    color: #fff;
    font-family: 'PragmaticaLightC';
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 6px; }
  .callback-content a:hover {
    text-decoration: underline; }

/* Footer */
.footer {
  padding: 48px 0 45px;
  display: flex; }
  .footer-wrap {
    background: #00aeef; }
  .footer-info {
    font-size: 24px;
    font-weight: 700;
    color: #fff; }
    .footer-info:hover {
      text-decoration: underline; }

/* Footer-logo */
.footer-logo {
  width: 240px;
  flex-shrink: 0;
  margin-right: 90px; }
  .footer-logo-text {
    padding-top: 42px; }
    .footer-logo-text span {
      display: block;
      color: #fff;
      font-family: 'PragmaticaLightC';
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px; }

/* Footer-content */
.footer-content {
  width: 673px;
  display: flex;
  justify-content: space-between;
  margin-right: 55px; }
  .footer-content ul li {
    margin: 0 0 18px; }
    .footer-content ul li:last-child {
      margin-bottom: 0; }
    .footer-content ul li a {
      color: #fff;
      font-family: 'PragmaticaLightC';
      font-weight: 700; }
      .footer-content ul li a:hover {
        text-decoration: underline; }

/* Bottom */
.bottom {
  text-align: center;
  padding-bottom: 25px; }
  .bottom span, .bottom a {
    color: #fff;
    font-family: 'PragmaticaLightC';
    font-size: 14px;
    font-weight: 700; }
  .bottom a:hover {
    text-decoration: underline; }

/* Bread */
.bread {
  padding: 18px 0 16px; }
  .bread li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding-right: 20px;
    margin-right: 8px; }
    .bread li:last-child {
      padding-right: 0;
      margin-right: 0; }
      .bread li:last-child:before {
        display: none; }
    .bread li:before {
      content: '//';
      display: block;
      color: #939598;
      position: absolute;
      top: 0;
      right: 0; }
    .bread li a {
      font-size: 14px;
      color: #00aeef; }
      .bread li a:hover {
        text-decoration: underline; }

/* Sidebar */
.sidebar {
  width: 220px;
  margin-top: 12px; }
  .sidebar li {
    padding-left: 30px;
    position: relative; }
    .sidebar li:before {
      content: '//';
      display: block;
      color: #939598;
      position: absolute;
      top: 0;
      left: 0; }
    .sidebar li a {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 4px;
      margin-bottom: 30px;
      border-bottom: 2px solid #00aeef; }
      .sidebar li a:hover {
        color: #fa0b8b;
        border-bottom: 2px solid transparent; }
    .sidebar li.active a {
      color: #fa0b8b;
      border-bottom: 2px solid transparent; }
  .sidebar-name {
    color: #111;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    line-height: 1.3; }

/* Frame */
.frame {
  width: 940px; }

/* About */
.about {
  display: flex;
  justify-content: space-between; }

/* About-content */
.about-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px; }
  .about-content-text {
    flex-grow: 10;
    padding-right: 52px; }
    .about-content-text p {
      color: #111;
      font-family: 'PragmaticaLightC';
      line-height: 1.6;
      margin-bottom: 33px; }
      .about-content-text p:last-child {
        margin-bottom: 0; }
  .about-content-sidebar {
    width: 220px;
    flex-shrink: 1; }
    .about-content-sidebar li {
      position: relative;
      padding-left: 60px;
      margin-bottom: 27px;
      color: #111;
      font-family: 'PragmaticaLightC';
      line-height: 1.6; }
      .about-content-sidebar li:last-child {
        margin-bottom: 0; }
      .about-content-sidebar li:before {
        content: '';
        display: block;
        background: url(../images/about-button.png) no-repeat 50%;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        left: 24px; }
  .about-content-header {
    display: flex;
    padding: 0;
    margin-bottom: 31px;
    margin-top: -7px; }
    .about-content-header .num {
      color: #fa0b8b;
      font-size: 94px;
      font-weight: 700;
      flex-shrink: 1;
      margin-right: 12px; }
    .about-content-header .text {
      color: #111;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.6;
      margin-right: 16px;
      margin-top: 13px; }

/* About-services */
.about-services {
  background-color: #b0cc1f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 0 0;
  margin-bottom: 58px; }
  .about-services-item {
    width: 220px;
    margin: 0 38px 36px;
    display: flex; }
    .about-services-item img {
      width: 80px;
      height: 80px; }
  .about-services-content {
    padding-left: 24px;
    color: #111;
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    padding-bottom: 16px;
    margin-top: 8px;
    position: relative; }
    .about-services-content:before {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 6px;
      left: 24px; }

/* About-video */
.about-video {
  margin-bottom: 63px; }
  .about-video iframe {
    height: 420px;
    width: 100%;
    border: none; }

/* About-work */
.about-work {
  margin-bottom: 54px; }
  .about-work_head {
    margin-bottom: 41px; }
  .about-work__head {
    font-weight: 700;
    color: #111;
    line-height: 1.6;
    margin: 21px 0 16px; }
  .about-work-items {
    display: flex;
    margin-bottom: 52px; }
  .about-work-item {
    width: 210px;
    margin-right: 30px; }
    .about-work-item:last-child {
      margin-right: 0; }
    .about-work-item p {
      font-family: 'PragmaticaLightC';
      line-height: 1.6; }
    .about-work-item.second {
      margin-top: 40px; }
  .about-work-link {
    text-align: center; }

/* About_slider */
.about_slider {
  padding-top: 45px;
  background-color: #edf4f8;
  margin-bottom: 65px; }
  .about_slider:before {
    display: none; }
  .about_slider .main-slider-items {
    width: 881px; }
  .about_slider .main-slider-item a:nth-last-child(2), .about_slider .main-slider-item a:nth-last-child(3) {
    display: none; }

/* Services */
.services {
  padding-bottom: 150px; }
  .services .sidebar {
    width: 280px; }
  .services_events .events {
    margin-bottom: 85px; }

/* Services-content */
.services-content-text {
  color: #111;
  font-family: 'PragmaticaLightC';
  line-height: 1.6;
  margin-bottom: 30px; }
  .services-content-text:last-child {
    margin-bottom: 50px; }
  .services-content-text span {
    display: block;
    line-height: 1.6; }

/* Services about-services */
.services .about-services {
  background-color: #edf4f8; }
  .services .about-services-content:before {
    background: #00aeef; }

/* Services-other */
.services-other {
  margin-bottom: 60px; }
  .services-other h2 {
    font-family: 'PragmaticaLightC';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px; }
  .services-other .other-items {
    display: flex;
    margin-left: 110px; }
    .services-other .other-items ul {
      width: 215px;
      margin-right: 74px; }
      .services-other .other-items ul:last-child {
        margin-right: 0; }
      .services-other .other-items ul li {
        position: relative;
        margin-bottom: 20px;
        padding-left: 57px; }
        .services-other .other-items ul li:before {
          content: '';
          display: block;
          width: 30px;
          height: 1px;
          background-color: #00aeef;
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 0; }
        .services-other .other-items ul li:last-child {
          margin-bottom: 0; }
        .services-other .other-items ul li a {
          color: #000;
          font-family: 'PragmaticaLightC'; }

/* Offer */
.offer {
  padding: 60px 0 50px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .offer:before {
    content: '';
    display: block;
    background: url(../images/before_plane.png) no-repeat 50%;
    width: 34px;
    height: 191px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%); }
  .offer-wrap {
    background-color: #b0cc1f; }
  .offer-name {
    width: 280px;
    flex-shrink: 0;
    color: #111;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    line-height: 1.4; }
  .offer-items {
    display: flex; }
  .offer .stars img {
    margin-right: 1px; }

/* Offer-item */
.offer-item {
  width: 300px;
  height: 340px;
  background-color: #fff;
  border: 1px solid #fa0b8b;
  padding: 34px 30px 0 40px;
  margin-right: 20px; }
  .offer-item:last-child {
    margin-right: 0; }
  .offer-item__head {
    font-family: 'PragmaticaLightC';
    font-size: 24px;
    color: #111;
    padding: 26px 0 16px;
    font-weight: 400; }
  .offer-item ul li {
    font-family: 'PragmaticaLightC';
    margin-bottom: 18px; }
    .offer-item ul li:last-child {
      margin-bottom: 26px; }

.offer-price {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px; }

/* Services-work */
.services-work {
  display: flex;
  justify-content: space-between;
  padding: 55px 0 103px;
  margin-bottom: 108px;
  position: relative; }
  .services-work:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: -78px;
    left: 50%;
    transform: translate(-50%); }
  .services-work-wrap {
    background-color: #edf4f8; }
  .services-work-name {
    flex-shrink: 0;
    width: 266px;
    font-family: 'PragmaticaLightC';
    font-size: 34px;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 14px; }
  .services-work .about-work-items {
    margin-right: 12px; }

/* Portfolio */
.portfolio {
  width: 938px;
  margin: 0 auto;
  text-align: center; }
  .portfolio__text {
    color: #111;
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    margin-bottom: 45px; }
  .portfolio_showcase .showcase {
    margin-bottom: 41px; }

/* Portfolio-items */
.portfolio-items {
  display: flex;
  justify-content: center;
  margin-bottom: 54px; }

.portfolio-item {
  width: 204px;
  height: 204px;
  border-radius: 50%;
  border: 2px dotted #00aeef;
  margin: 0 44px;
  padding: 58px 0 0; }
  .portfolio-item__number {
    color: #fa0b8b;
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 12px;
    margin-bottom: 14px;
    position: relative; }
    .portfolio-item__number:after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: #fa0b8b;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%); }
  .portfolio-item__text {
    width: 115px;
    margin: 0 auto;
    color: #111;
    font-family: 'PragmaticaLightC';
    line-height: 1.6; }

/* Portfolio-slider */
.portfolio-slider-wrap {
  width: 780px;
  margin: 0 auto 210px;
  position: relative; }
  .portfolio-slider-wrap .slick-arrow {
    border: none;
    cursor: pointer;
    transition: 300ms;
    z-index: 5;
    border-radius: 50%;
    width: 28px;
    height: 27px;
    background-color: #dfe9ef;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -36px; }
    .portfolio-slider-wrap .slick-arrow:hover {
      background-color: #00aeef; }
    .portfolio-slider-wrap .slick-arrow i {
      font-size: 21px;
      color: #fff; }
  .portfolio-slider-wrap .slick-next {
    left: auto;
    right: -62px; }
  .portfolio-slider-wrap .slick-dots {
    display: flex;
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translate(-50%); }
    .portfolio-slider-wrap .slick-dots li {
      cursor: pointer;
      transition: 300ms;
      width: 12px;
      height: 12px;
      background-color: #c7d8e2;
      border-radius: 50%;
      margin: 0 7px; }
      .portfolio-slider-wrap .slick-dots li:hover {
        background-color: #00aeef; }
      .portfolio-slider-wrap .slick-dots li button {
        display: none; }
      .portfolio-slider-wrap .slick-dots li.slick-active {
        background: #00aeef; }

/* Similar */
.similar {
  position: relative;
  padding: 75px 0 60px; }
  .similar:before {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    top: -136px;
    left: 50%;
    transform: translate(-50%); }
  .similar__head {
    margin: 0 0 30px; }
  .similar-wrap {
    background-color: #edf4f8; }
  .similar-items {
    display: flex; }
  .similar-item {
    position: relative;
    width: 300px;
    height: 300px;
    margin-right: 18px; }
    .similar-item:last-child {
      margin-right: 0; }
    .similar-item-content {
      padding: 30px 20px 0 20px;
      position: absolute;
      top: 0;
      left: 0; }
    .similar-item:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(22, 162, 235, 0.8);
      opacity: 0;
      visibility: hidden;
      transition: 300ms; }
    .similar-item:hover:before {
      opacity: 1;
      visibility: visible; }
  .similar__number {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: #fff;
    position: relative; }
    .similar__number:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0; }
  .similar__text {
    font-family: 'PragmaticaLightC';
    font-size: 24px;
    line-height: 1.6;
    color: #fff; }

/* Contacts */
.contacts {
  width: 938px;
  margin: 87px auto 195px;
  text-align: center;
  position: relative; }
  .contacts:before {
    content: '';
    display: block;
    background: url(../images/before_heart2.png) no-repeat 50%;
    width: 34px;
    height: 97px;
    position: absolute;
    top: -122px;
    left: 50%;
    transform: translate(-50%); }
  .contacts:after {
    content: '';
    display: block;
    background: url(../images/before_lamp.png) no-repeat 50%;
    width: 34px;
    height: 184px;
    position: absolute;
    bottom: -230px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100; }
  .contacts__head {
    margin-bottom: 36px; }
  .contacts__text {
    font-family: 'PragmaticaLightC';
    line-height: 1.6;
    margin-bottom: 30px; }

/* Vacancy */
.vacancy {
  margin-top: 87px;
  margin-bottom: 40px;
  position: relative; }
  .vacancy:before {
    content: '';
    display: block;
    background: url(../images/before_lamp4.png) no-repeat 50%;
    width: 34px;
    height: 97px;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%); }
  .vacancy__head {
    margin: 0 0 32px; }
  .vacancy-items {
    display: flex;
    flex-wrap: wrap; }
  .vacancy-item {
    width: 620px;
    background-color: #edf4f8;
    margin: 0 20px 20px 0;
    padding: 25px 52px 40px 36px;
    transition: 300ms; }
    .vacancy-item:nth-child(2n) {
      margin-right: 0; }
    .vacancy-item:hover {
      background-color: #fa0b8b;
      color: #fff; }
      .vacancy-item:hover .vacancy-item__dep {
        background-color: transparent;
        border: 1px solid #fff; }
    .vacancy-item__dep {
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
      background-color: #fa0b8b;
      padding: 0 22px 0 20px;
      margin-bottom: 25px;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 20px;
      border: 1px solid transparent;
      transition: 300ms; }
      .vacancy-item__dep.green {
        background-color: #b0cc1f; }
      .vacancy-item__dep.blue {
        background-color: #00aeef; }
    .vacancy-item__head {
      font-family: 'PragmaticaLightC';
      font-size: 24px;
      margin-bottom: 16px;
      font-weight: 400; }
    .vacancy-item__number {
      font-weight: 700;
      padding-bottom: 16px;
      margin-bottom: 15px;
      position: relative; }
      .vacancy-item__number:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #fa0b8b;
        position: absolute;
        bottom: 0;
        left: 0; }
    .vacancy-item__text {
      font-family: 'PragmaticaLightC';
      line-height: 1.6; }

/* Vacancy-content */
.vacancy-content {
  flex-grow: 10;
  padding-right: 57px; }
  .vacancy-content-wrap {
    display: flex;
    margin-bottom: 54px; }
    .vacancy-content-wrap .vacancy-item__head {
      padding-bottom: 16px;
      position: relative; }
      .vacancy-content-wrap .vacancy-item__head:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #fa0b8b;
        position: absolute;
        bottom: 0;
        left: 0; }
    .vacancy-content-wrap .vacancy-item__text {
      margin-bottom: 31px; }

/* Vacancy-sidebar */
.vacancy-sidebar {
  flex-shrink: 0;
  align-self: flex-start;
  width: 380px;
  background-color: #edf4f8;
  padding: 33px 40px 45px 30px; }
  .vacancy-sidebar-item {
    margin-bottom: 33px;
    font-family: 'PragmaticaLightC'; }
    .vacancy-sidebar-item:last-child {
      margin-bottom: 0; }
  .vacancy-sidebar__text {
    margin-bottom: 5px; }
  .vacancy-sidebar__info {
    font-weight: 700;
    line-height: 1.6; }

/* Vacancy-info */
.vacancy-info a {
  font-weight: 700;
  text-decoration: underline;
  color: #00aeef; }
  .vacancy-info a:hover {
    text-decoration: none; }

/* Vacancy-other */
.vacancy-other {
  padding: 43px 0 35px; }
  .vacancy-other-wrap {
    background-color: #edf4f8; }
  .vacancy-other .vacancy__head {
    text-align: left; }
  .vacancy-other .vacancy-item {
    background-color: #fff; }
    .vacancy-other .vacancy-item:hover {
      background-color: #fa0b8b; }

/* Vacancy-item disabled */
.vacancy-item.disabled {
  color: #d0dde4; }
  .vacancy-item.disabled .vacancy-item__dep {
    background-color: #d0dde4; }
  .vacancy-item.disabled .vacancy-item__number:after {
    background-color: #d0dde4; }
  .vacancy-item.disabled:hover {
    background-color: #edf4f8; }

/* Briefcase */
.briefcase {
  margin-top: 86px; }
  .briefcase-head {
    margin-right: 46px;
    margin-bottom: 28px; }
  .briefcase-header {
    display: flex; }

/* Briefcase-nav */
.briefcase-nav {
  margin-top: -2px; }
  .briefcase-nav li {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px; }
    .briefcase-nav li:last-child {
      margin-right: 0; }
    .briefcase-nav li a {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #00aeef;
      padding: 0 20px;
      line-height: 40px;
      border-radius: 20px; }
      .briefcase-nav li a:after {
        content: '';
        display: block;
        height: 2px;
        background: #00aeef;
        position: absolute;
        bottom: 4px;
        left: 20px;
        right: 20px; }
      .briefcase-nav li a:hover {
        color: #ec008c;
        background-color: #edf4f8; }
        .briefcase-nav li a:hover:after {
          display: none; }
    .briefcase-nav li.active a {
      color: #ec008c;
      background-color: #edf4f8; }
      .briefcase-nav li.active a:after {
        display: none; }

/* Briefcase1 */
.briefcase1 {
  margin-bottom: 20px; }
  .briefcase1 .events-item.item2 {
    margin-left: 0; }
  .briefcase1 .events-item.item1 {
    margin-right: 20px; }

/* Briefcase3 */
.briefcase2 {
  margin-bottom: 20px; }

/* Briefcase3 */
.briefcase3 .events-item.item2 {
  margin: 0; }
  .briefcase3 .events-item.item2:first-child {
    margin-right: 20px; }

/* Pagination */
.pagination {
  text-align: center;
  padding: 22px 0 56px; }
  .pagination li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px; }
    .pagination li a {
      width: 100%;
      line-height: 40px;
      border-radius: 50%;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
      .pagination li a:hover {
        color: #fff;
        background: #ec008c; }
    .pagination li.active a {
      color: #fff;
      background: #ec008c; }
    .pagination li.pagination__left, .pagination li.pagination__right {
      width: 28px;
      height: 27px;
      background-color: #dfe9ef;
      border-radius: 50%;
      margin-right: 24px; }
      .pagination li.pagination__left a, .pagination li.pagination__right a {
        height: 27px;
        line-height: 27px;
        color: #fff; }
        .pagination li.pagination__left a i, .pagination li.pagination__right a i {
          font-size: 21px;
          margin-top: 3px; }
        .pagination li.pagination__left a:hover, .pagination li.pagination__right a:hover {
          background: #00aeef; }
    .pagination li.pagination__right {
      margin-right: 0;
      margin-left: 24px; }

.concise {
  display: none;
  width: 1100px;
  margin: 0 auto;
  padding: 36px 0 34px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 174, 239, 0.45);
  position: relative; }
  .concise-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 26px;
    padding: 0 140px 0 58px; }
    .concise-header__head {
      flex-grow: 10;
      font-size: 24px;
      font-weight: 700; }
  .concise-logo {
    flex-shrink: 0;
    margin-right: 60px; }
  .concise__text {
    font-family: 'PragmaticaLightC';
    margin-bottom: 42px;
    padding: 0 40px 0 60px; }
  .concise-link {
    text-align: center;
    margin-left: 12px; }
    .concise-link .link span {
      padding-left: 26px; }

.concise-items {
  width: 500px;
  margin: 0 auto 33px; }

.concise-item {
  margin-bottom: 26px; }
  .concise-item:first-child {
    margin-bottom: 20px; }
  .concise-item label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
    cursor: pointer; }
  .concise-item-input {
    width: 500px; }
    .concise-item-input input {
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 1px solid #aaa;
      font: 400 16px 'PragmaticaLightC';
      padding: 0 12px;
      color: #000;
      transition: 300ms; }
      .concise-item-input input:focus {
        border-bottom: 1px solid #00aeef; }
      .concise-item-input input::-webkit-input-placeholder {
        color: #000; }
      .concise-item-input input:-moz-placeholder {
        color: #000; }
      .concise-item-input input::-moz-placeholder {
        color: #000; }
      .concise-item-input input:-ms-input-placeholder {
        color: #000; }
  .concise-item__text {
    font: 400 14px 'PragmaticaLightC';
    margin-top: 16px; }

.data {
  width: 620px;
  margin: 0 auto 36px;
  border: 2px solid #00aeef; }
  .data-header {
    position: relative;
    cursor: pointer;
    padding: 20px 56px 18px; }
    .data-header.active i {
      transform: rotate(0deg);
      background-color: #00aeef; }
    .data-header__head {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
    .data-header i {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #fff;
      transition: 300ms;
      position: absolute;
      top: 18px;
      right: 60px;
      transform: rotate(180deg);
      background-color: #aaa; }
  .data-content {
    display: block;
    padding: 0 56px 22px; }
    .data-content.active {
      display: none; }
  .data-input {
    margin-bottom: 22px; }
    .data-input input {
      width: 100%;
      height: 34px;
      border: none;
      border-bottom: 1px solid #aaa;
      font: 400 16px 'PragmaticaLightC';
      padding: 0 12px;
      color: #000;
      transition: 300ms; }
      .data-input input:focus {
        border-bottom: 1px solid #00aeef; }
      .data-input input::-webkit-input-placeholder {
        color: #000; }
      .data-input input:-moz-placeholder {
        color: #000; }
      .data-input input::-moz-placeholder {
        color: #000; }
      .data-input input:-ms-input-placeholder {
        color: #000; }

.concise .data-date {
  display: flex;
  align-items: flex-end;
  margin-bottom: 22px;
  font-size: 0; }
  .concise .data-date__name {
    font: 400 16px 'PragmaticaLightC';
    padding: 0 34px 6px 12px;
    border-bottom: 1px solid #aaa;
    margin-right: 20px; }

.concise .data-content {
  display: none; }

.concise .data-select {
  margin-right: 31px; }
  .concise .data-select:last-child {
    margin-right: 0; }
  .concise .data-select span {
    display: inline-block;
    font: 400 16px 'PragmaticaLightC';
    margin-right: 10px; }
  .concise .data-select select {
    border: none;
    width: 162px;
    height: 34px;
    border-bottom: 1px solid #aaa;
    font: 400 16px 'PragmaticaLightC';
    -webkit-appearance: none;
    background-image: url(../images/arr.png);
    background-position: 98% center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important; }

.fancybox-close-small {
  background: url(../images/arrws.png) no-repeat 50%;
  width: 34px;
  height: 34px;
  top: 45px;
  right: 60px; }
  .fancybox-close-small:after {
    display: none; }

.product {
  display: flex;
  padding: 84px 0 78px;
  margin-bottom: 60px; }
  .product-wrap {
    background-color: #b0cc1f; }
  .product-content {
    width: 270px;
    flex-shrink: 0; }
    .product-content__head {
      font-size: 38px;
      font-weight: 700;
      line-height: 1.2; }
      .product-content__head span {
        display: block;
        font-size: 184px;
        font-weight: 700;
        color: #fff;
        margin-top: -8px;
        margin-bottom: -18px; }
  .product-items {
    flex-grow: 10;
    padding: 5px 0 0 48px;
    display: flex; }
  .product-item {
    width: 48%;
    margin-right: 3%; }
    .product-item:last-child {
      margin-right: 0; }
    .product-item p {
      line-height: 1.65;
      margin-bottom: 24px;
      text-align: justify; }
  .product-links {
    text-align: center;
    padding-top: 9px;
    margin-left: 22px; }
    .product-links .link span {
      background-color: #ec008c;
      box-shadow: 0 0 25px rgba(0, 174, 239, 0.45); }
    .product-links .link i {
      color: #ec008c; }
    .product-links .link:hover span {
      background-color: #EC0053; }
  .product-link {
    margin: 0 0 21px 10px; }
    .product-link a {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      border-bottom: 1px solid #fff; }
      .product-link a:hover {
        border-bottom: 1px solid transparent; }

.reviews {
  padding: 150px 0 0;
  position: relative; }
  .reviews:before {
    content: '';
    display: block;
    background: url(../images/before_lamp5.png) no-repeat 50%;
    width: 34px;
    height: 114px;
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%); }
  .reviews-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 170px;
    position: relative; }
    .reviews-item:after {
      content: '';
      display: block;
      background: url(../images/q1.png) no-repeat 50%;
      width: 101px;
      height: 76px;
      position: absolute;
      bottom: 44px;
      left: 218px; }
    .reviews-item:last-child {
      padding-bottom: 66px; }
      .reviews-item:last-child:after {
        display: none; }
  .reviews-content {
    width: 540px; }
    .reviews-content__head {
      color: #111;
      font: 700 24px/1.2 'PragmaticaLightC';
      padding-bottom: 24px;
      margin-bottom: 22px;
      position: relative; }
      .reviews-content__head:after {
        content: '';
        display: block;
        width: 93px;
        height: 2px;
        background-color: #00aeef;
        position: absolute;
        bottom: 0;
        left: 0; }
    .reviews-content__text {
      color: #111;
      font: 400 16px/1.65 'PragmaticaLightC'; }
  .reviews-img {
    width: 620px;
    opacity: .4;
    position: relative; }
    .reviews-img:hover {
      opacity: 1; }
      .reviews-img:hover:after, .reviews-img:hover:before {
        opacity: 1;
        visibility: visible; }
    .reviews-img:after {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      content: '';
      display: block;
      background: url(../images/zoom-in.png) no-repeat 50%;
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 50%;
      margin-left: -40px; }
    .reviews-img:before {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      content: '';
      display: block;
      border: 32px solid #00aeef;
      border-top: 28px solid #00aeef;
      border-bottom: none;
      background-color: rgba(0, 174, 239, 0.6);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .reviews_pagination {
    margin-bottom: 18px; }

.activity__node {
  text-align: center;
  width: 990px;
  margin: 0 auto;
  color: #fff;
  font: 700 18px/1.6 'PragmaticaLightC'; }

.activity_header {
  padding-bottom: 295px; }
  .activity_header .showcase-content__head {
    text-transform: none; }

.perform {
  padding-bottom: 117px;
  margin-bottom: 74px;
  position: relative; }
  .perform:after {
    content: '';
    display: block;
    background: url(../images/before_heart.png) no-repeat 50%;
    width: 34px;
    height: 177px;
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; }
  .perform .head {
    padding-top: 3px;
    margin-bottom: 42px; }
  .perform-items {
    display: flex;
    flex-wrap: wrap; }
  .perform-item {
    width: 380px;
    margin-right: 60px; }
    .perform-item:last-child {
      margin-right: 0; }
    .perform-item__head {
      font: 700 24px 'PragmaticaLightC';
      padding-bottom: 18px;
      margin-bottom: 12px;
      position: relative; }
      .perform-item__head:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #00aeef;
        position: absolute;
        bottom: 0;
        left: 0; }
    .perform-item ul {
      padding-left: 12px; }
      .perform-item ul li {
        line-height: 1.65;
        position: relative; }
        .perform-item ul li:before {
          content: '';
          display: block;
          width: 3px;
          height: 3px;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          top: 9px;
          left: -12px; }
  .perform-img {
    width: 72px;
    height: 72px;
    margin-bottom: 23px; }

.option {
  display: flex; }
  .option-wrap {
    background-color: #edf4f8;
    padding: 74px 0 84px;
    margin-bottom: 166px;
    position: relative; }
    .option-wrap:after {
      content: '';
      display: block;
      background: url(../images/before_plane.png) no-repeat 50%;
      width: 34px;
      height: 191px;
      position: absolute;
      bottom: -152px;
      left: 50%;
      transform: translateX(-50%); }
    .option-wrap .head {
      margin-bottom: 52px; }
    .option-wrap.logistics {
      padding: 58px 0 103px; }
      .option-wrap.logistics:after {
        background: url(../images/before_lamp1.1.png) no-repeat 50%;
        bottom: -137px; }
  .option-img {
    width: 540px;
    flex-shrink: 0;
    margin-right: -4px; }
  .option-items {
    flex-grow: 10;
    padding-right: 120px; }
  .option-item {
    margin-bottom: 49px; }
    .option-item:last-child {
      margin-bottom: 0; }
    .option-item__head {
      font: 700 24px 'PragmaticaLightC';
      padding-bottom: 14px;
      margin-bottom: 14px;
      position: relative; }
      .option-item__head:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #00aeef;
        position: absolute;
        bottom: 0;
        left: 0; }
    .option-item__text {
      font: 400 16px/1.65 'PragmaticaLightC'; }

.option-elems {
  margin-right: 100px; }

.option-elem {
  margin-bottom: 20px; }
  .option-elem.active .option-elem-head span {
    color: #000; }
  .option-elem.active .option-elem-head i {
    color: #000;
    transform: rotate(180deg); }
  .option-elem.active .option-elem-content {
    display: block; }
  .option-elem-head {
    position: relative;
    cursor: pointer; }
    .option-elem-head span {
      color: #00aeef;
      font: 700 24px/1.35 'PragmaticaLightC';
      transition: 300ms; }
    .option-elem-head i {
      transition: 300ms;
      position: absolute;
      top: 7px;
      right: 0;
      font-size: 20px;
      color: #00aeef;
      transform: rotate(0deg); }
  .option-elem-content {
    display: none;
    padding-top: 8px;
    font: 400 16px/1.65 'PragmaticaLightC'; }

.tools__text {
  width: 675px;
  margin: 26px auto 43px;
  font: 700 24px/1.3 'PragmaticaLightC';
  text-align: center;
  padding-right: 8px; }

.tools-items {
  display: flex;
  flex-wrap: wrap; }

.tools-item {
  width: 277px;
  margin: 0 43px 49px 0; }
  .tools-item:nth-child(4n) {
    margin-right: 0; }
  .tools-item__link {
    margin-top: 17px;
    color: #000;
    font: 400 16px/1.65 'PragmaticaLightC'; }
    .tools-item__link:hover {
      color: #00aeef; }

.pick {
  padding: 46px 0;
  color: #fff; }
  .pick-wrap {
    background-color: #00aeef; }
  .pick__head {
    font: 700 24px 'PragmaticaLightC';
    margin-bottom: 30px; }
  .pick__text {
    font: 400 16px/1.65 'PragmaticaLightC';
    margin-bottom: 30px; }
  .pick-content {
    padding: 0 100px 0 80px; }
    .pick-content ul li {
      font: 400 16px/1.6 'PragmaticaLightC'; }

.cost {
  margin-bottom: 60px;
  padding-top: 14px; }
  .cost .tools__text {
    width: 730px;
    padding-right: 5px;
    line-height: 1.45;
    margin-bottom: 46px; }
  .cost-items {
    display: flex;
    align-items: flex-start; }
  .cost-item {
    width: 300px;
    border: 2px solid #00aeef;
    margin-right: 20px;
    padding: 22px 29px 30px; }
    .cost-item:last-child {
      margin-right: 0; }
    .cost-item__head {
      font: 700 24px 'PragmaticaLightC';
      text-align: center;
      margin-bottom: 4px; }
    .cost-item__text {
      font: 700 16px/1.65 'PragmaticaLightC';
      text-align: center;
      margin-bottom: 18px; }
    .cost-item ul li {
      font: 400 16px/1.65 'PragmaticaLightC';
      margin-bottom: 8px;
      position: relative; }
      .cost-item ul li:last-child {
        margin-bottom: 0; }
      .cost-item ul li:before {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 11px;
        left: -9px; }

.terms {
  padding: 58px 0 89px; }
  .terms .head {
    color: #fff;
    margin-bottom: 35px; }
  .terms .tools__text {
    color: #fff;
    width: 900px;
    padding-right: 5px;
    line-height: 1.45;
    margin-bottom: 66px; }
  .terms-wrap {
    background-color: #00aeef; }
  .terms-items {
    display: flex; }
  .terms-item {
    margin-right: 10px;
    padding: 22px 55px 23px 32px;
    background-color: #fff;
    position: relative; }
    .terms-item:last-child {
      margin-right: 0; }
      .terms-item:last-child:after {
        display: none; }
    .terms-item:after {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      background: #00aeef url(../images/arrows-double.png) no-repeat 50%;
      border: 5px solid #fff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
      z-index: 10; }
    .terms-item__head {
      color: #fa0b8b;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 17px; }
  .terms-elems {
    display: flex; }
  .terms-el {
    margin-right: 40px;
    font: 700 18px/1.6 'PragmaticaLightC'; }
    .terms-el:last-child {
      margin-right: 0; }

.terms-item.first {
  width: 590px; }

.terms-item.second {
  width: 420px;
  padding-left: 47px; }
  .terms-item.second .terms-el {
    margin-right: 21px; }
    .terms-item.second .terms-el:last-child {
      margin-right: 0; }

.terms-item.three {
  width: 230px;
  padding-left: 51px; }

/*# sourceMappingURL=style.css.map */