button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  min-height: 100%;
  font: 400 16px 'FuturaNewDemi', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'FuturaNewDemi', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

@media (max-width: 1360px) {
  .container {
    width: 970px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; } }

@media (max-width: 767px) {
  .container {
    width: 550px; } }

@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 10px !important; } }

.container {
  max-width: 1260px;
  padding: 0; }

.page {
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat 50%;
  background-size: cover;
  position: relative;
  z-index: 99; }
  .page:before {
    content: '';
    display: block;
    background: url(../images/before.png) no-repeat 50%;
    width: 291px;
    height: 339px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2; }
  .page:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 310px;
    height: 291px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2; }

@media (max-width: 991px) {
  .page {
    height: auto; } }

@media (max-width: 767px) {
  .page {
    background: #fff; }
    .page:before, .page:after {
      display: none; } }

.logo {
  width: 160px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 60px; }

@media (max-width: 1900px) {
  .logo {
    width: 128px;
    margin-right: 34px; } }

@media (max-width: 575px) {
  .logo {
    margin-right: 0;
    margin-bottom: 20px; } }

.header {
  padding: 46px 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-info {
    width: 42.9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-info p {
      -webkit-box-flex: 10;
      -ms-flex-positive: 10;
      flex-grow: 10;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 1.2; }

@media (max-width: 1900px) {
  .header {
    padding: 16px 0; } }

@media (max-width: 1360px) {
  .header-info {
    width: 46%; }
    .header-info p {
      font-size: 16px; } }

@media (max-widtH: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 14px; }
    .header-wrap .container {
      width: 100%; }
    .header-info {
      width: 100%;
      padding: 0 16px;
      margin-bottom: 20px; } }

@media (max-width: 575px) {
  .header-wrap .container {
    padding: 0 !important; }
  .header-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px; } }

.partners {
  width: 42.9%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .partners li {
    margin-right: 52px; }
    .partners li:last-child {
      margin-right: 0; }

@media (max-width: 1360px) {
  .partners {
    width: 46%; }
    .partners li {
      margin-right: 24px; } }

@media (max-width: 767px) {
  .partners {
    width: 100%;
    padding: 10px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #26364F; }
    .partners li {
      margin: 0 20px; }
      .partners li:last-child {
        margin: 0 20px; } }

.scout-items {
  padding: 72px 152px 27px;
  margin: 0 -160px;
  border: 10px solid #f8d800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .scout-items:before {
    content: '';
    display: block;
    background-color: #fff;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .scout-items:after {
    content: '';
    display: block;
    background-color: #26364F;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; }

.scout-item {
  width: 42.9%; }

@media (max-width: 1900px) {
  .scout-items {
    padding: 24px;
    margin: 0 -30px;
    border: 6px solid #f8d800; } }

@media (max-width: 1360px) {
  .scout-items {
    margin: 0;
    padding: 18px; }
  .scout-item {
    width: 46%; } }

@media (max-width: 991px) {
  .scout-items {
    border: 4px solid #f8d800; } }

@media (max-width: 767px) {
  .scout .container {
    width: 100%; }
  .scout-items {
    padding: 0;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .scout-items:before, .scout-items:after {
      display: none; }
  .scout-item {
    width: 100%;
    padding: 16px; } }

@media (max-width: 575px) {
  .scout .container {
    padding: 0 !important; }
  .scout-item {
    padding: 16px 10px; } }

.about-text {
  font-size: 34px;
  line-height: 1.3;
  color: #28b85e;
  margin-bottom: 55px; }
  .about-text span {
    color: #fff;
    background-color: #28b85e;
    padding: 0 6px 2px; }

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.about-item {
  width: 240px;
  margin: 0 58px 50px 0; }
  .about-item:nth-child(2n) {
    margin-right: 0; }
  .about-item .number {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: #28b85e;
    font-size: 20px;
    margin-bottom: 16px; }
  .about-item p {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 0; }

@media (max-width: 1900px) {
  .about-text {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 22px; }
  .about-item {
    margin: 0 50px 20px 0; }
    .about-item p {
      font-size: 18px;
      line-height: 1.2; } }

@media (max-width: 1360px) {
  .about-item {
    width: 190px;
    margin-right: 38px; }
    .about-item .number {
      width: 36px;
      height: 36px;
      font-size: 18px;
      margin-bottom: 12px; }
    .about-item p {
      font-size: 16px; }
  .about-text {
    font-size: 18px; } }

@media (max-width: 991px) {
  .about-item {
    width: 155px;
    margin-right: 12px; } }

@media (max-width: 767px) {
  .about-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about-item {
    width: 224px;
    margin: 0 12px 20px; }
    .about-item:nth-child(2n) {
      margin: 0 12px 20px; } }

@media (max-width: 575px) {
  .about-item {
    width: 100%; }
    .about-item:last-child {
      margin-bottom: 6px; } }

.callback-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 26px; }
  .callback-top img {
    width: 56px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .callback-top p {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding-left: 35px;
    margin: -5px 0 0 0;
    color: #fff;
    font-size: 24px;
    line-height: 1.35; }

.callback-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px; }
  .callback-input span {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 90px;
    color: #fff;
    font-size: 16px; }
  .callback-input input {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 300px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #28b85e;
    padding: 0 12px;
    font: 400 16px 'FuturaNewBook';
    -webkit-transition: background 300ms;
    transition: background 300ms; }
    .callback-input input:focus {
      background-color: #28b85e; }
    .callback-input input::-webkit-input-placeholder {
      color: #fff; }
    .callback-input input:-ms-input-placeholder {
      color: #fff; }
    .callback-input input::-ms-input-placeholder {
      color: #fff; }
    .callback-input input::placeholder {
      color: #fff; }
    .callback-input input::-moz-placeholder {
      color: #fff; }

.callback-form .error {
  color: #fff;
  font-family: 'FuturaNewBook';
  font-size: 14px;
  margin-left: 10px; }

.callback-form button {
  cursor: pointer;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  height: 40px;
  margin-left: 90px;
  font: 400 14px 'FuturaNewDemi';
  color: #fff;
  background-color: #28b85e;
  text-transform: uppercase;
  padding: 0 22px; }
  .callback-form button:hover {
    background-color: #39ce71; }

.callback .check-wrap {
  padding-left: 90px;
  margin-bottom: 22px; }
  .callback .check-wrap .error {
    margin-left: 0;
    padding-top: 10px; }
  .callback .check-wrap label {
    margin-bottom: 0;
    position: relative; }
    .callback .check-wrap label .check {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #28b85e; }
      .callback .check-wrap label .check input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 5;
        cursor: pointer; }
        .callback .check-wrap label .check input:checked + span:before {
          opacity: 1; }
      .callback .check-wrap label .check span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0; }
        .callback .check-wrap label .check span:before {
          content: '\2714';
          display: block;
          font-size: 14px;
          line-height: 1;
          color: #fff;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          -webkit-transition: 300ms;
          transition: 300ms;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }

.callback .check__text {
  cursor: pointer;
  font-family: 'FuturaNewBook';
  font-size: 14px;
  color: #fff;
  padding-left: 32px; }

@media (max-width: 1900px) {
  .callback-top {
    margin-bottom: 14px; }
    .callback-top p {
      margin-top: 0;
      font-size: 18px;
      line-height: 1.2; }
  .callback-input {
    margin-bottom: 10px; }
  .callback .check-wrap {
    margin-bottom: 10px; }
    .callback .check-wrap .error {
      padding-top: 6px; } }

@media (max-width: 1360px) {
  .callback-top img {
    width: 48px; }
  .callback-top p {
    font-size: 16px;
    padding-left: 24px; }
  .callback-input span {
    font-size: 15px; }
  .callback-input input {
    width: 230px;
    font-size: 12px;
    padding: 0 8px; }
  .callback-form .error {
    font-size: 12px; }
  .callback-form button {
    font-size: 12px; }
  .callback .check-wrap {
    margin-bottom: 12px; }
  .callback .check__text {
    font-size: 12px; } }

@media (max-width: 991px) {
  .callback-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 6px; }
    .callback-input span {
      display: inline-block;
      width: auto;
      margin-bottom: 6px; }
    .callback-input input {
      width: 100%;
      font-size: 15px; }
  .callback-form {
    text-align: center; }
    .callback-form .error {
      font-size: 13px;
      margin-left: 0;
      padding-top: 6px; }
    .callback-form button {
      margin-left: 0; }
  .callback .check-wrap {
    padding-left: 0;
    margin: 16px 0; }
    .callback .check-wrap .error {
      padding-top: 8px; }
  .callback .check__text {
    text-align: left;
    font-size: 14px; } }

@media (max-width: 767px) {
  .callback {
    background-color: #26364F; } }

@media (max-width: 575px) {
  .callback-top p {
    font-size: 15px; }
  .callback-input input {
    padding: 0 8px; } }

.footer {
  padding: 48px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-item {
    width: 42.9%; }
    .footer-item p {
      margin-bottom: 8px;
      font-family: 'FuturaNewBook'; }
      .footer-item p:last-child {
        margin-bottom: 0; }
      .footer-item p b {
        text-transform: uppercase; }
      .footer-item p a {
        color: #28b85e;
        font-family: 'FuturaNewBook'; }
        .footer-item p a:hover {
          text-decoration: underline; }
    .footer-item__text {
      color: #fff;
      margin-bottom: 8px;
      font-family: 'FuturaNewBook'; }
    .footer-item__link {
      color: #28b85e;
      font-family: 'FuturaNewBook'; }
      .footer-item__link:hover {
        color: #28b85e;
        text-decoration: underline; }

@media (max-width: 1900px) {
  .footer {
    padding: 10px 0; }
    .footer-item p {
      margin-bottom: 5px; }
    .footer-item__text {
      margin-bottom: 5px; } }

@media (max-width: 1360px) {
  .footer {
    padding: 12px 0; }
    .footer-item {
      width: 46%; }
      .footer-item p {
        font-size: 15px; }
        .footer-item p b, .footer-item p a {
          font-size: 15px; }
      .footer-item__text, .footer-item__link {
        font-size: 15px; } }

@media (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .footer-item {
      width: 100%;
      margin-bottom: 5px; }
      .footer-item:last-child {
        margin-bottom: 0; }
      .footer-item__text {
        color: #000; } }

@media (max-width: 575px) {
  .footer-item p {
    font-size: 14px; }
    .footer-item p b, .footer-item p a {
      font-size: 14px; }
  .footer-item__text, .footer-item__link {
    font-size: 14px; } }
