@font-face {
    font-family: 'PragmaticaCondC';
    src: url('../fonts/PragmaticaCondC.eot');
    src: url('../fonts/PragmaticaCondC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCondC.woff') format('woff'),
        url('../fonts/PragmaticaCondC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaC';
    src: url('../fonts/PragmaticaC-Bold.eot');
    src: url('../fonts/PragmaticaC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaC-Bold.woff') format('woff'),
        url('../fonts/PragmaticaC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaC';
    src: url('../fonts/PragmaticaC.eot');
    src: url('../fonts/PragmaticaC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaC.woff') format('woff'),
        url('../fonts/PragmaticaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}