@media only screen and (max-width: 1350px) {
  .container {
    width: 1230px; }
  /* Showcase */
  .showcase-slider-content {
    padding-right: 130px; }
  .showcase-slider img {
    height: 100%; }
  .showcase-slider-wrap {
    width: 880px; }
  /* Slider */
  .slider {
    width: 925px;
    margin: 0 auto 40px; }
    .slider-item {
      margin: 0 5px; }
    .slider .slick-prev {
      left: -25px; }
    .slider .slick-next {
      right: -18px; }
  /* Docs */
  .docs-items {
    margin-right: -30px; }
  .docs-item {
    margin-right: 30px; }
  /* News */
  .news-items {
    margin-right: -30px; }
  .news-item {
    margin: 0 30px 45px 0; } }

@media only screen and (max-width: 1260px) {
  .container {
    width: 970px; }
  /* Header */
  .header-content {
    width: 765px; }
  .header-info {
    width: 203px; }
    .header-info span {
      padding: 0;
      font-size: 15px; }
    .header-info a {
      font-size: 21px; }
  .logo {
    width: 600px; }
    .logo span {
      font-size: 21px; }
  .nav {
    padding: 0; }
    .nav__list {
      margin: 0; }
      .nav__list > a {
        font-size: 14px;
        padding: 0 18px 0 4px; }
    .nav-burger {
      right: 4px; }
    .nav-sub {
      padding-left: 8px; }
  /* Showcase */
  .showcase-slider-wrap {
    width: 640px;
    height: 100%; }
  .showcase-slider-content {
    padding: 25px 100px 20px 15px; }
    .showcase-slider-content h2 {
      font-size: 21px; }
  .showcase-news {
    padding: 16px 0; }
    .showcase-news:before {
      top: 18px; }
    .showcase-news-item {
      padding: 10px 20px; }
      .showcase-news-item p {
        line-height: 1.3;
        font-size: 15px; }
    .showcase-news__head {
      padding: 0 0 5px 20px; }
    .showcase-news a {
      margin: 0 0 0 20px; }
  /* Main-sentence */
  .main-sentence-item {
    padding: 35px 35px 0 25px; }
    .main-sentence-item__img {
      top: 10px;
      right: 15px; }
    .main-sentence-item h2 {
      font-size: 20px;
      margin: 0 0 20px; }
      .main-sentence-item h2:before {
        top: 0px;
        left: -25px; }
    .main-sentence-item p {
      line-height: 1.35; }
  /* Result */
  .result-content {
    width: 450px;
    padding: 10px 20px 0 50px; }
    .result-content-item {
      padding: 17px 0; }
      .result-content-item img {
        left: -40px; }
  .result-slider-wrap {
    width: 450px; }
    .result-slider-wrap .slick-prev,
    .result-slider-wrap .slick-next {
      width: 50px;
      height: 66px;
      left: -50px; }
    .result-slider-wrap .slick-next {
      top: 66px; }
  .result-slider-head-content {
    padding: 5px 0 0 24px; }
    .result-slider-head-content p {
      line-height: 1.4; }
  /* Main-about */
  .main-about-content {
    padding: 20px 26px 22px 36px; }
    .main-about-content h2 {
      line-height: 1.3; }
      .main-about-content h2:before {
        left: -36px; }
    .main-about-content p {
      line-height: 1.35;
      margin: 0 0 8px; }
  /* Footer */
  .footer-logo {
    font-size: 14px;
    margin: 0 0 30px; }
    .footer-logo p br {
      display: none; }
    .footer-logo-wrap {
      width: 225px; }
    .footer-logo__switch {
      padding: 0 7px;
      font-size: 14px; }
  .footer-content {
    width: 700px; }
    .footer-content ul {
      width: 145px !important;
      margin: 0 25px 0 0; }
      .footer-content ul li a {
        font-size: 14px; }
    .footer-content-info {
      width: 200px;
      font-size: 14px;
      margin: 0; }
      .footer-content-info__tel {
        font-size: 21px; }
  /* About */
  .about-content {
    width: 583px; }
    .about-content h2 {
      font-size: 21px;
      margin: 0 0 20px; }
    .about-content b, .about-content p, .about-content li {
      padding: 0; }
      .about-content b br, .about-content p br, .about-content li br {
        display: none; }
  .about-sidebar {
    width: 310px;
    padding: 20px; }
    .about-sidebar li {
      margin: 0 0 18px; }
  /* Issues */
  .issues-content {
    width: 655px;
    padding: 30px 15px 0; }
  .issues-item-head {
    font-size: 18px; }
  /* Docs */
  .docs-items {
    margin-right: -20px; }
  .docs-item {
    width: 290px;
    margin: 0 20px 20px 0; }
    .docs-item-img {
      height: 90px; }
    .docs-item a {
      line-height: 1.35; }
  /* Contacts */
  .contacts-item p, .contacts-item span, .contacts-item a {
    font-size: 18px; }
  .contacts-item span {
    margin: 0 0 7px; }
  /* Map */
  .map iframe {
    height: 350px; }
  /* News */
  .news-items {
    margin-right: -20px; }
  .news-item {
    width: 290px;
    margin: 0 20px 35px 0; }
    .news-item__link {
      line-height: 1.35; }
    .news-item-info span:after {
      right: -17px; }
  /* Uncos */
  .uncos .about-content h2 {
    padding: 0; }
  .uncos .about-content__img {
    margin: 0px 0 20px; }
  .uncos .news-item-info span {
    margin: 0 10px 0 0; }
    .uncos .news-item-info span:after {
      right: -8px; }
  /* Reports */
  .reports-content {
    width: 600px; }
    .reports-content-item {
      height: auto;
      width: 280px;
      margin: 0 10px 10px 0; }
  .reports-sidebar {
    width: 310px; }
    .reports-sidebar-info {
      padding: 24px 15px 0 15px; }
      .reports-sidebar-info .uncos__head:before {
        left: -15px; }
      .reports-sidebar-info td {
        font-size: 14px;
        height: 55px; }
        .reports-sidebar-info td:first-child {
          width: 135px; }
        .reports-sidebar-info td:last-child {
          line-height: 1.35; }
  /* Results */
  .results .news-item__link {
    font-size: 16px; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  /* Header */
  .header {
    margin: 0 0 16px; }
    .header-content {
      float: none;
      width: auto; }
      .header-content__switch {
        width: 270px;
        height: 55px;
        padding: 0 0 0 10px; }
        .header-content__switch span {
          padding: 0 0 0 10px; }
    .header-info {
      padding: 0;
      float: none;
      margin: 0 auto; }
  .nav {
    justify-content: center; }
    .nav-burger span:after {
      width: 10px; }
  .logo {
    width: 465px; }
    .logo span {
      font-size: 18px; }
    .logo__img {
      margin-right: 10px; }
  /* Showcase */
  .showcase {
    display: block; }
    .showcase-slider-wrap {
      width: auto; }
    .showcase-news-item {
      padding: 16px 20px; }
  /* Main-sentence */
  .main-sentence-items {
    flex-wrap: wrap;
    justify-content: center; }
  .main-sentence-item {
    width: 360px;
    margin: 0 7px 14px; }
    .main-sentence-item:nth-child(3) {
      margin-right: 7px; }
  /* Result */
  .result-content {
    width: 330px; }
    .result-content-item p {
      line-height: 1.3;
      font-size: 15px; }
  .result-slider {
    padding: 20px; }
    .result-slider-wrap {
      width: 350px; }
    .result-slider-head-content {
      padding: 5px 0 0 14px;
      font-size: 15px; }
  /* Main-about */
  .main-about-img {
    width: 245px; }
    .main-about-img img {
      height: 100%; }
  .main-about-content h2 {
    font-size: 16px; }
  .main-about-content p {
    font-size: 14px; }
  .main-about-content .link {
    margin: 5px 0 0; }
  /* Slider */
  .slider {
    width: 612px; }
  /* Footer */
  .footer-logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 0 20px; }
    .footer-logo img {
      width: 90px;
      height: 90px; }
    .footer-logo p {
      padding: 0 0 0 15px;
      text-align: left; }
    .footer-logo-wrap {
      float: none;
      width: 440px;
      margin: 0 auto 20px;
      text-align: center; }
  .footer-content {
    float: none;
    width: auto; }
    .footer-content ul {
      width: 150px !important; }
    .footer-content-info {
      width: 220px; }
  .bottom {
    text-align: center; }
    .bottom__content, .bottom__omg {
      float: none; }
    .bottom__content {
      margin: 0 0 10px; }
  /* About */
  .about {
    padding: 20px 15px 30px; }
    .about-content {
      width: 450px; }
      .about-content b, .about-content p, .about-content li {
        font-size: 14px; }
      .about-content h2 {
        font-size: 18px; }
        .about-content h2:before {
          left: -14px;
          width: 7px; }
    .about-sidebar {
      width: 260px;
      padding: 15px; }
      .about-sidebar li a {
        font-size: 14px; }
  /* Issues */
  .issues-content {
    width: 465px; }
    .issues-content p, .issues-content li {
      font-size: 14px; }
    .issues-content__head:before {
      display: none; }
  .issues-item-head {
    font-size: 16px; }
  .issues-sidebar {
    width: 280px; }
  /* Docs */
  .docs-items {
    margin-right: 0;
    justify-content: center; }
  .docs-item {
    margin: 0 10px 20px; }
  /* News */
  .news-items {
    justify-content: center;
    margin-right: 0; }
  .news-item {
    width: 290px;
    margin: 0 10px 35px; }
    .news-item__link {
      font-size: 14px; }
  /* Uncos */
  .uncos__head {
    font-size: 14px;
    padding: 0 0 0 18px; }
  .uncos .news-item-info span {
    font-size: 12px; }
  .uncos .news-item-info a {
    font-size: 12px; }
  /* Reports */
  .reports {
    padding: 20px;
    margin: 0 0 28px; }
    .reports-content {
      float: none;
      width: auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .reports-content-item {
        margin: 0 10px 20px !important; }
    .reports-sidebar {
      float: none;
      width: auto; }
      .reports-sidebar-info {
        width: 310px;
        margin: 0 auto 20px; }
    .reports .news-items {
      justify-content: center; }
    .reports .news-item {
      margin: 0 10px 20px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px; }
  /* Header */
  .header-info {
    float: right;
    margin: -20px 0 0; }
  .header-content__switch {
    position: static;
    width: auto;
    justify-content: center; }
  .burger-wrap {
    display: block;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15; }
    .burger-wrap a {
      cursor: pointer;
      padding: 12px 0;
      display: block; }
      .burger-wrap a span {
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 7px;
        background: #222;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger-wrap a span:before, .burger-wrap a span:after {
          position: absolute;
          background: #222;
          content: '';
          width: 30px;
          height: 3px;
          left: 0;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border-radius: 7px; }
        .burger-wrap a span:before {
          top: -8px; }
        .burger-wrap a span:after {
          top: 8px; }
      .burger-wrap a.active span {
        background: transparent; }
        .burger-wrap a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger-wrap a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  .logo {
    width: 421px;
    margin: 20px auto 30px; }
  .nav {
    position: relative; }
    .nav__home {
      display: none; }
    .nav ul {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      text-align: center;
      background: #f5f5f5;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: 300ms; }
      .nav ul.active {
        opacity: 1;
        visibility: visible; }
      .nav ul li {
        display: block; }
        .nav ul li:hover {
          background: none; }
        .nav ul li > a {
          padding: 0; }
          .nav ul li > a:hover {
            background: none; }
    .nav-sub, .nav-burger {
      display: none; }
  /* Showcase */
  .showcase-slider-wrap .slick-dots {
    bottom: 18px;
    right: 5px; }
  .showcase-slider-content {
    padding: 18px 8px 20px 10px; }
    .showcase-slider-content h2 {
      font-size: 16px;
      margin: 0 0 14px;
      line-height: 1.1; }
    .showcase-slider-content a {
      font-size: 12px; }
  /* Result */
  .result {
    display: block;
    margin: 0 0 70px; }
    .result-content {
      width: auto;
      margin: 0 0 20px; }
    .result-slider-content h2 {
      line-height: 1.1; }
    .result-slider-content p {
      line-height: 1.3; }
    .result-slider-wrap {
      width: auto;
      margin: 0 auto; }
      .result-slider-wrap .slick-prev,
      .result-slider-wrap .slick-next {
        top: auto;
        bottom: -40px;
        left: 50%;
        margin-left: -60px;
        width: 60px;
        height: 40px; }
      .result-slider-wrap .slick-prev {
        margin-left: 0; }
    .result-slider-head-content {
      padding: 0 0 0 10px; }
      .result-slider-head-content p {
        line-height: 1.1; }
    .result-slider-head__img {
      width: 90px;
      height: 90px; }
  /* Main-about */
  .main-about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; }
    .main-about-img {
      order: -1;
      margin: 0 auto 20px; }
      .main-about-img img {
        height: auto; }
    .main-about-content {
      width: auto; }
  /* Slider */
  .slider {
    width: 300px; }
  /* Footer */
  .footer {
    padding: 30px 0 15px; }
    .footer-logo-wrap {
      width: 390px; }
    .footer-content {
      text-align: center; }
      .footer-content ul {
        width: 180px !important;
        margin: 0 12px 20px !important; }
      .footer-content-info {
        width: 180px; }
  /* About */
  .about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 30px; }
    .about-content {
      float: none;
      width: auto;
      padding: 0 10px; }
      .about-content h2:before {
        display: none; }
    .about-sidebar {
      order: -1;
      float: none;
      margin: 0 0 20px;
      width: 100%;
      text-align: center; }
  /* Issues */
  .issues-content {
    float: none;
    width: auto;
    padding-left: 0;
    padding-bottom: 10px; }
    .issues-content p, .issues-content li {
      padding: 0; }
  .issues-sidebar {
    float: none;
    width: auto; }
    .issues-sidebar .main-sentence-item {
      width: 280px;
      margin: 0 14px 25px; }
  .issues-item-head {
    padding-right: 28px;
    padding-left: 10px; }
  /* Bread */
  .bread li {
    margin-bottom: 5px; }
  /* Contacts */
  .contacts {
    padding-bottom: 20px; }
    .contacts-items {
      flex-wrap: wrap;
      justify-content: center; }
    .contacts-item {
      width: 290px;
      margin: 0 10px 40px; }
  /* Map */
  .map iframe {
    height: 250px; }
  /* News */
  .news-nav {
    position: static;
    margin-bottom: 30px;
    text-align: center; }
  /* Uncos */
  .uncos__head:before {
    display: none; }
  .uncos .about-sidebar {
    padding: 0px 0px 20px 0px; } }

@media only screen and (max-width: 450px) {
  .container {
    padding: 0 5px; }
  /* Header */
  .logo {
    width: auto; }
  /* Showcase */
  .showcase-slider-wrap .slick-dots {
    bottom: 8px; }
  .showcase-slider-content {
    padding: 10px; }
    .showcase-slider-content h2 {
      font-size: 14px;
      margin: 0 0 8px; }
  /* Main-sentence */
  .main-sentence-item {
    margin: 0 0 14px;
    height: 180px; }
    .main-sentence-item:nth-child(3) {
      margin: 0; }
    .main-sentence-item p {
      line-height: 1.2; }
  /* Slider */
  .slider {
    width: 280px; }
    .slider .slick-prev {
      left: -17px; }
    .slider-item {
      width: 280px; }
      .slider-item-content {
        font-size: 14px; }
  /* Footer */
  .footer-logo-wrap {
    width: auto; }
  .footer-content ul {
    width: 290px !important; }
  .footer-content-info {
    width: 290px;
    margin-bottom: 25px; }
  /* Issues */
  .issues-sidebar .main-sentence-items {
    margin-bottom: 40px; }
  /* Pagination */
  .pagination li {
    margin: 0 15px 0 0; }
    .pagination li:before {
      right: -11px; }
  /* Dots */
  .docs {
    padding: 30px 10px 0; }
    .docs .head:before {
      display: none; }
    .docs-items {
      display: block; }
    .docs-item {
      margin: 0 auto 20px;
      padding: 28px 10px 0 16px; }
  /* News */
  .news {
    margin: 0 0 20px; }
    .news .pagination {
      margin-top: 40px; }
    .news-items {
      display: block; }
    .news-item {
      width: auto;
      margin: 0 auto 20px; }
      .news-item-img {
        margin: 0 0 12px; }
      .news-item-info {
        margin: 0 0 10px; }
        .news-item-info span {
          font-size: 12px;
          margin-right: 10px; }
          .news-item-info span:before {
            top: 0; }
          .news-item-info span:after {
            right: -9px; }
        .news-item-info a {
          font-size: 12px; }
    .news-nav li {
      display: block;
      margin: 0 0 10px 0; }
      .news-nav li:after {
        display: none; }
  /* Uncos */
  .uncos-bottom {
    text-align: center;
    padding: 24px 0 0; }
    .uncos-bottom__link {
      display: block;
      margin: 0 0 15px; }
  .uncos .news-item {
    margin: 0 0 35px; }
  /* Reports */
  .reports-sidebar-info {
    width: auto; }
    .reports-sidebar-info td {
      font-size: 13px; }
      .reports-sidebar-info td:first-child {
        width: 120px; } }

/*# sourceMappingURL=media.css.map */