* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'PragmaticaC;', sans-serif;
  background: #f5f5f5; }

a {
  font: 400 16px 'PragmaticaC', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  color: #2f67e1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative; }

.link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative; }
  .link span {
    position: absolute;
    top: -1px;
    right: -18px; }
  .link:hover {
    text-decoration: none; }

.head {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative; }
  .head:before {
    content: '';
    display: block;
    width: 10px;
    height: 19px;
    background: #ff0000;
    position: absolute;
    top: 2px;
    left: -30px; }

/* Header */
.header-content {
  float: left;
  width: 1000px;
  padding: 0 0 10px; }
  .header-content__switch {
    cursor: pointer;
    transition: 300ms;
    position: absolute;
    top: 0;
    right: 0;
    width: 310px;
    height: 60px;
    background: #898989;
    padding: 0 0 0 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
    .header-content__switch:hover {
      background: #7f7777; }
    .header-content__switch span {
      padding: 0 0 0 23px;
      color: #fff; }

.header-info {
  float: right;
  width: 212px;
  padding: 80px 0 0;
  text-align: center; }
  .header-info span {
    padding: 0 17px 0 0; }
  .header-info a {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 700;
    color: #000; }
    .header-info a:hover {
      color: #2f67e1; }

.burger-wrap {
  display: none; }

.logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  width: 860px;
  margin: 12px 0 19px; }
  .logo__img {
    width: 70px;
    height: 70px;
    margin-right: 18px;
    flex-shrink: 0; }
  .logo span {
    color: #2f67e1;
    font: 400 25px/1.1 'PragmaticaCondC'; }

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 0 0 0 15px; }
  .nav__home {
    margin: 0 8px 0 0;
    flex-shrink: 0; }
    .nav__home:hover {
      opacity: .8; }
  .nav-burger {
    position: absolute;
    top: 50%;
    margin-top: -8.5px;
    right: 8px; }
    .nav-burger span:after {
      content: '';
      display: block;
      width: 12px;
      height: 1px;
      background: #2f67e1;
      margin: 3px 0;
      transition: 300ms; }
  .nav__list {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    position: relative; }
    .nav__list:last-child {
      margin: 0; }
    .nav__list > a {
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      padding: 0 28px 0 16px;
      line-height: 40px; }
      .nav__list > a:hover {
        background: #fff;
        color: #000; }
    .nav__list:hover {
      background: #fff; }
      .nav__list:hover a {
        color: #000; }
      .nav__list:hover .nav-burger span:after {
        background: #000; }
      .nav__list:hover .nav-sub {
        opacity: 1;
        visibility: visible;
        z-index: 10; }
  .nav-sub {
    width: 240px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 16px 8px 18px 21px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 300ms; }
    .nav-sub__list {
      margin: 0 0 15px 0; }
      .nav-sub__list a {
        text-decoration: underline;
        color: #000; }
        .nav-sub__list a:hover {
          text-decoration: none; }
      .nav-sub__list:last-child {
        margin: 0; }

/* Bread */
.bread {
  margin: 12px 0 12px 14px; }
  .bread li {
    display: inline-block;
    vertical-align: top;
    margin: 0 26px 0 0;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
    .bread li:after {
      content: '>';
      display: block;
      color: #2f67e1;
      position: absolute;
      top: 0;
      right: -20px; }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li a {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #2f67e1; }
      .bread li a:hover {
        color: #000; }

/* Showcase */
.showcase {
  flex-flow: row nowrap;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: stretch;
  margin: 0 0 27px; }
  .showcase-slider {
    position: relative; }
    .showcase-slider-wrap {
      flex-shrink: 0;
      width: 940px;
      height: 560px;
      position: relative; }
      .showcase-slider-wrap .slick-dots {
        position: absolute;
        bottom: 26px;
        right: 34px; }
        .showcase-slider-wrap .slick-dots button {
          display: none; }
        .showcase-slider-wrap .slick-dots li {
          display: inline-block;
          vertical-align: top;
          cursor: pointer;
          margin: 0 7px;
          width: 12px;
          height: 12px;
          border: 1px solid #2f67e1;
          border-radius: 50%; }
          .showcase-slider-wrap .slick-dots li.slick-active {
            background: #2f67e1; }
    .showcase-slider-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px 345px 30px 35px;
      background: rgba(255, 255, 255, 0.9); }
      .showcase-slider-content h2 {
        font-size: 24px;
        line-height: 1.4;
        margin: 0 0 20px; }
  .showcase-news {
    flex-grow: 10;
    background: #fff;
    padding: 24px 0;
    position: relative; }
    .showcase-news:before {
      content: '';
      display: block;
      width: 10px;
      height: 19px;
      background: #ff0000;
      position: absolute;
      top: 25px;
      left: 0; }
    .showcase-news__head {
      padding: 0 0 18px 40px;
      font-size: 24px;
      text-transform: uppercase; }
    .showcase-news-items {
      margin-bottom: 12px; }
    .showcase-news-item {
      padding: 15px 40px 17px;
      transition: 300ms; }
      .showcase-news-item:hover {
        background-color: #ebf1fe; }
      .showcase-news-item span {
        display: block;
        color: #2f67e1;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 8px; }
        .showcase-news-item span img {
          margin: 0 5px 0 0; }
      .showcase-news-item p {
        color: #000;
        line-height: 1.6; }
    .showcase-news .link {
      margin: 0 0 0 40px; }

/* Main-sentence */
.main-sentence {
  margin: 0 0 50px; }
  .main-sentence-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .main-sentence-item {
    width: 410px;
    height: 200px;
    background: #2f67e1;
    padding: 47px 42px 0 32px;
    margin: 0 14px 0 0;
    position: relative; }
    .main-sentence-item:nth-child(3n) {
      margin-right: 0; }
    .main-sentence-item__img {
      width: 58px;
      height: 58px;
      position: absolute;
      top: 24px;
      right: 28px; }
    .main-sentence-item h2 {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 28px;
      position: relative; }
      .main-sentence-item h2:before {
        content: '';
        display: block;
        width: 10px;
        height: 19px;
        background: #ff0000;
        position: absolute;
        top: 2px;
        left: -31px; }
    .main-sentence-item p {
      line-height: 1.6;
      color: #fff; }

/* Result */
.result {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px; }
  .result-content {
    width: 620px;
    background: #ebf1fe;
    border: 1px solid #d7d7d7;
    padding: 12px 38px 0 80px; }
    .result-content-item {
      position: relative;
      padding: 18px 0 20px;
      border-bottom: 1px solid #2f67e1; }
      .result-content-item:last-child {
        border: none; }
      .result-content-item img {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 20px;
        left: -54px; }
      .result-content-item p {
        line-height: 1.6; }
  .result-slider {
    background: #fff;
    padding: 25px 43px 34px 37px; }
    .result-slider-wrap {
      width: 540px;
      position: relative; }
      .result-slider-wrap .slick-prev,
      .result-slider-wrap .slick-next {
        cursor: pointer;
        border: none;
        z-index: 5;
        transition: 300ms;
        position: absolute;
        top: 0;
        left: -60px;
        background: #ebf1fe url(../images/result-slider-arrowNext.png) no-repeat 50%;
        width: 60px;
        height: 80px; }
        .result-slider-wrap .slick-prev:hover,
        .result-slider-wrap .slick-next:hover {
          background-color: #d8e3fc; }
      .result-slider-wrap .slick-next {
        background: #ebf1fe url(../images/result-slider-arrowPrev.png) no-repeat 50%;
        top: 80px; }
    .result-slider-head {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }
      .result-slider-head__img {
        flex-shrink: 0;
        width: 111px;
        height: 111px; }
      .result-slider-head-content {
        padding: 14px 0 0 32px; }
        .result-slider-head-content h2 {
          margin: 0 0 6px;
          font-size: 16px; }
        .result-slider-head-content p {
          line-height: 1.6; }
    .result-slider-content {
      padding: 38px 0 0;
      position: relative;
      z-index: 5; }
      .result-slider-content:after {
        content: '';
        display: block;
        background: url(../images/result-slider-quote.png) no-repeat 50%;
        width: 90px;
        height: 74px;
        position: absolute;
        top: 16px;
        right: 0;
        z-index: -1; }
      .result-slider-content h2 {
        font-size: 20px;
        line-height: 1.4;
        margin: 0 0 12px; }
      .result-slider-content p {
        line-height: 1.6;
        font-style: italic; }

/* Main-about */
.main-about {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 0 46px; }
  .main-about-content {
    flex-grow: 10;
    background: #fff;
    padding: 35px 40px 28px 50px; }
    .main-about-content h2 {
      font-size: 24px;
      line-height: 1.4;
      margin: 0 0 10px;
      position: relative; }
      .main-about-content h2:before {
        content: '';
        display: block;
        width: 10px;
        height: 52px;
        background: #ff0000;
        position: absolute;
        top: 5px;
        left: -50px; }
    .main-about-content p {
      line-height: 1.6;
      margin: 0 0 16px; }
    .main-about-content .link {
      margin: 12px 0 0; }
  .main-about-img {
    width: 300px;
    flex-shrink: 0;
    font-size: 0; }

/* Slider */
.slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 0 52px;
  position: relative; }
  .slider .slick-prev,
  .slider .slick-next {
    cursor: pointer;
    z-index: 5;
    border: none;
    background: url(../images/result-slider-arrowPrev.png) no-repeat 50%;
    width: 12px;
    height: 21px;
    position: absolute;
    top: 50%;
    margin-top: -10.5px;
    left: -40px; }
  .slider .slick-next {
    background: url(../images/result-slider-arrowNext.png) no-repeat 50%;
    left: auto;
    right: -40px; }
  .slider-item {
    align-items: center;
    width: 300px;
    height: 130px;
    border: 1px solid #2f67e1;
    padding: 30px 14px 0 7px;
    margin: 0 9px;
    position: relative; }
    .slider-item:hover {
      border: 1px solid #000; }
    .slider-item_indent {
      padding-top: 23px; }
    .slider-item-img {
      position: absolute;
      top: 34px;
      left: 15px; }
    .slider-item-content {
      line-height: 1.5;
      padding: 0 0 0 80px;
      font-size: 16px;
      color: #000; }

/* Footer */
.footer {
  padding: 29px 0 59px; }
  .footer-wrap {
    background: #2f67e1; }
  .footer-logo {
    color: #fff;
    margin: 0 0 57px; }
    .footer-logo-wrap {
      float: left;
      width: 320px; }
    .footer-logo p {
      line-height: 1.5;
      padding: 11px 0 0; }
    .footer-logo__switch {
      line-height: 48px;
      color: #fff;
      border: 2px solid #fff;
      padding: 0 25px 0 18px; }
      .footer-logo__switch:hover {
        background: #fff;
        color: #2f67e1; }
  .footer-content {
    float: right;
    width: 900px;
    padding: 12px 0 0; }
    .footer-content ul {
      width: 196px;
      display: inline-block;
      vertical-align: top;
      margin: 0 40px 0 0; }
      .footer-content ul:first-child {
        width: 157px;
        margin-right: 0; }
      .footer-content ul:nth-child(2) {
        width: 175px; }
      .footer-content ul li {
        margin: 0 0 11px; }
        .footer-content ul li a {
          color: #fff;
          line-height: 1.6; }
          .footer-content ul li a:hover {
            text-decoration: underline; }
    .footer-content-info {
      width: 260px;
      display: inline-block;
      vertical-align: top;
      color: #fff;
      margin: 0 0 0 18px; }
      .footer-content-info a {
        color: #fff; }
      .footer-content-info p {
        line-height: 1.6;
        margin: 0 0 22px; }
      .footer-content-info span {
        display: block;
        margin: 0 7px 12px 0; }
      .footer-content-info__tel {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 18px; }
        .footer-content-info__tel:hover {
          color: #d6dbe5; }
      .footer-content-info__mail {
        text-decoration: underline; }
        .footer-content-info__mail:hover {
          text-decoration: none; }
      .footer-content-info__fax {
        margin: 0 0 9px; }
        .footer-content-info__fax span {
          display: inline-block; }
        .footer-content-info__fax a:hover {
          text-decoration: underline; }

/* Bottom */
.bottom {
  padding: 0 0 28px;
  font-size: 14px;
  color: #fff; }
  .bottom__content {
    float: left; }
  .bottom__omg {
    float: right; }
    .bottom__omg a {
      color: #fff;
      font-size: 14px;
      text-decoration: underline; }
      .bottom__omg a:hover {
        text-decoration: none; }

/* About */
.about {
  margin: 0 0 58px;
  padding: 25px 30px 50px;
  background: #fff; }
  .about-content {
    width: 750px;
    float: left; }
    .about-content h2 {
      font-size: 24px;
      line-height: 1.4;
      margin: 0 0 36px;
      position: relative; }
      .about-content h2:before {
        content: '';
        display: block;
        width: 10px;
        height: 19px;
        background: #ff0000;
        position: absolute;
        top: 6px;
        left: -32px; }
    .about-content b, .about-content p, .about-content li {
      line-height: 1.65;
      padding: 0 10px 0 0; }
    .about-content__img {
      margin: 36px 0 0; }
  .about-sidebar {
    width: 400px;
    float: right;
    background: #ebf1fe;
    padding: 30px 27px 36px;
    margin: 5px 0 0; }
    .about-sidebar li {
      margin: 0 0 22px; }
      .about-sidebar li:last-child {
        margin-bottom: 0; }
      .about-sidebar li a {
        font-weight: 700;
        color: #000;
        line-height: 1.5; }
        .about-sidebar li a:hover {
          color: #2f67e1; }

/* Issues */
.issues-content {
  width: 940px;
  float: left;
  background: #fff;
  margin: 0 0 60px;
  padding: 30px 30px 0; }
  .issues-content__head {
    margin: 0 0 20px; }

.issues-sidebar {
  width: 300px;
  float: right; }
  .issues-sidebar .main-sentence-items {
    flex-wrap: wrap; }
  .issues-sidebar .main-sentence-item {
    width: 100%;
    height: auto;
    margin: 0 0 33px;
    padding: 28px 20px 37px 27px; }
    .issues-sidebar .main-sentence-item__img {
      display: none; }
    .issues-sidebar .main-sentence-item h2:before {
      left: -26px; }

.issues-items {
  margin: 0 0 54px; }

.issues-item:last-child {
  border-bottom: 1px solid #2f67e1; }

.issues-item-head {
  color: #2f67e1;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 50px 15px 0;
  line-height: 1.2;
  border-top: 1px solid #2f67e1;
  cursor: pointer;
  transition: 300ms;
  position: relative; }
  .issues-item-head img {
    position: absolute;
    top: 21px;
    right: 0;
    transition: 300ms; }
  .issues-item-head:hover {
    color: #000; }

.issues-item-content {
  display: none; }

.issues-item.active .issues-item-head {
  color: #000; }
  .issues-item.active .issues-item-head img {
    transform: rotate(180deg); }

.issues-item.active .issues-item-content {
  display: block; }

.issues-item-content {
  padding: 0 0 7px 30px; }
  .issues-item-content p, .issues-item-content li {
    line-height: 1.65;
    padding: 0 30px 0 0; }

/* Pagination */
.pagination {
  text-align: center;
  margin: 0 0 35px 0; }
  .pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0 26px 0 0;
    position: relative; }
    .pagination li:first-child:before {
      display: none; }
    .pagination li:nth-last-child(2):before {
      display: none; }
    .pagination li:last-child {
      margin-right: 0; }
      .pagination li:last-child:before {
        display: none; }
    .pagination li a {
      font-weight: 700; }
      .pagination li a:hover {
        color: #808285; }
    .pagination li.active a {
      color: #808285; }
    .pagination li:before {
      content: '';
      display: block;
      width: 1px;
      height: 16px;
      background: #a2a3a6;
      position: absolute;
      top: 0;
      right: -18px; }

/* Docs */
.docs {
  padding: 30px 30px 0;
  margin: 0 0 46px;
  background: #fff; }
  .docs .head {
    margin: 0 0 25px; }
  .docs-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: -44px;
    padding-bottom: 16px; }
  .docs-item {
    width: 370px;
    height: 240px;
    border: 1px solid #d7d7d7;
    padding: 27px 18px 0 33px;
    margin: 0 44px 38px 0;
    transition: 300ms; }
    .docs-item:hover {
      background: #ebf1fe; }
    .docs-item-img {
      height: 110px; }
    .docs-item a {
      font-weight: 700;
      line-height: 1.6;
      color: #000; }

/* Contacts */
.contacts {
  padding: 30px 30px 50px;
  background: #fff; }
  .contacts-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0; }
  .contacts-item {
    width: 365px;
    text-align: center; }
    .contacts-item-img {
      margin: 0 0 28px; }
    .contacts-item p {
      font-size: 20px;
      line-height: 1.3; }
    .contacts-item span {
      display: block;
      font-size: 20px;
      margin: 0 0 10px; }
    .contacts-item__tel {
      font-size: 20px;
      font-weight: 700;
      color: #000; }
      .contacts-item__tel:hover {
        color: #2f67e1; }
    .contacts-item__mail {
      font-size: 20px;
      border-bottom: 1px solid #2f67e1; }
      .contacts-item__mail:hover {
        border-bottom: 1px solid transparent; }

/* Map */
.map {
  margin-bottom: 50px; }
  .map iframe {
    border: none;
    width: 100%;
    height: 500px; }

/* News */
.news {
  background: #fff;
  padding: 30px;
  position: relative;
  margin: 0 0 62px; }
  .news .head {
    margin: 0 0 27px; }
  .news .pagination {
    margin: 0; }
  .news-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -44px 15px 0; }
  .news-item {
    width: 370px;
    margin: 0 44px 45px 0; }
    .news-item-img {
      margin: 0 0 17px; }
    .news-item-info {
      margin: 0 0 15px; }
      .news-item-info span {
        color: #808285;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 0 0 24px;
        margin: 0 28px 0 0;
        position: relative; }
        .news-item-info span:before {
          content: '';
          display: block;
          background: url(../images/news-img.png) no-repeat 50%;
          width: 14px;
          height: 11px;
          position: absolute;
          top: 2px;
          left: 0; }
        .news-item-info span:after {
          content: '';
          display: block;
          width: 1px;
          height: 14px;
          background: #808285;
          position: absolute;
          top: 0;
          right: -20px; }
      .news-item-info a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase; }
        .news-item-info a:hover {
          color: #000; }
    .news-item__link {
      color: #000;
      line-height: 1.6;
      font-weight: 700; }
      .news-item__link:hover {
        color: #2f67e1; }
  .news-nav {
    position: absolute;
    right: 35px;
    top: 36px; }
    .news-nav li {
      display: inline-block;
      vertical-align: top;
      margin: 0 26px 0 0;
      position: relative; }
      .news-nav li:last-child {
        margin-right: 0; }
        .news-nav li:last-child:after {
          display: none; }
      .news-nav li:after {
        content: '';
        display: block;
        width: 1px;
        height: 16px;
        background: #808285;
        position: absolute;
        top: 0;
        right: -16px; }
      .news-nav li a {
        text-transform: uppercase;
        color: #2f67e1;
        font-weight: 700; }
        .news-nav li a:hover {
          color: #000; }
      .news-nav li.active a {
        color: #000; }

/* Uncos */
.uncos .news-items {
  margin-bottom: 3px; }

.uncos .news-item {
  margin-bottom: 30px; }

.uncos .about {
  margin: 0 0 45px; }
  .uncos .about-content h2 {
    padding: 0 40px 0 0;
    margin: 0 0 12px; }
    .uncos .about-content h2:before {
      display: none; }
  .uncos .about-content__img {
    margin: 16px 0 24px; }
  .uncos .about-sidebar {
    background: #fff;
    padding: 4px 0px 36px 27px; }

.uncos-bottom {
  padding: 40px 0 0; }
  .uncos-bottom__link {
    color: #2f67e1;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 4px 26px 0 0; }

.uncos__head {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 25px;
  margin: 0 0 30px; }
  .uncos__head:before {
    content: '';
    display: block;
    width: 10px;
    height: 13px;
    background-color: #ff0000;
    position: absolute;
    top: 0;
    left: 0; }

.uncos__link {
  margin-left: 7px; }

.uncos-soc {
  display: inline-block;
  vertical-align: top; }
  .uncos-soc a {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0; }
    .uncos-soc a:hover {
      transform: rotate(360deg); }
    .uncos-soc a:last-child {
      margin-right: 0; }

/* Reports */
.reports {
  padding: 30px;
  margin: 0 0 45px;
  background: #fff; }
  .reports__head {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 36px; }
  .reports-content {
    float: left;
    width: 755px; }
    .reports-content-items {
      font-size: 0; }
    .reports-content-item {
      display: inline-block;
      vertical-align: top;
      width: 360px;
      height: 240px;
      margin: 0 27px 33px 0;
      position: relative; }
      .reports-content-item:nth-child(2n) {
        margin-right: 0; }
      .reports-content-item:hover:before, .reports-content-item:hover:after {
        opacity: 1;
        visibility: visible; }
      .reports-content-item:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(47, 103, 255, 0.4);
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: 300ms; }
      .reports-content-item:after {
        content: '';
        display: block;
        background: url(../images/zoom.png) no-repeat 50%;
        width: 40px;
        height: 38px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -20px;
        opacity: 0;
        visibility: hidden;
        transition: 300ms; }
  .reports-sidebar {
    float: right;
    width: 400px; }
    .reports-sidebar-info {
      background: #ebf1fe;
      padding: 41px 30px 0 24px;
      margin: 0 0 44px;
      position: relative; }
      .reports-sidebar-info .uncos__head {
        padding: 0;
        margin: 0 0 21px; }
        .reports-sidebar-info .uncos__head:before {
          left: -24px; }
      .reports-sidebar-info td {
        height: 60px;
        vertical-align: top; }
        .reports-sidebar-info td:first-child {
          width: 173px;
          padding: 5px 0 0; }
        .reports-sidebar-info td:last-child {
          line-height: 1.6; }
    .reports-sidebar-items .uncos__head {
      margin: 0 0 22px; }
  .reports .news-items {
    margin-right: 0;
    justify-content: flex-end; }
  .reports .news-item {
    margin: 0 0 20px 0; }
    .reports .news-item-img {
      margin: 0 0 8px; }

/* Results */
.results .news-item {
  margin-bottom: 33px; }
  .results .news-item__link {
    font-size: 20px;
    margin: 0 20px 0 0; }
  .results .news-item-img {
    margin: 0 0 10px; }

/*# sourceMappingURL=style.css.map */