@media only screen and (max-width: 1340px) {
  .container {
    width: 970px;
  }
  .header {
    text-align: center;
    padding: 20px 0;
  }
  .header .logo {
    float: none;
    margin: 0 auto 30px;
    display: block;
  }
  .header-contact {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .header-link {
    float: none;
  }
  .header-contact__item:last-child {
    margin-right: 106px;
  }
  .nav li a {
    padding: 0 14px;
  }
  .showcase-item {
    width: 450px;
  }
  .showcase-item__num {
    font-size: 75px;
  }
  .showcase-item__text {
    margin: 26px 0 0 109px;
    font-size: 36px;
  }
  .showcase-item {
    margin: 0 10px 70px 0;
  }
  .showcase {
    padding-top: 85px;
  }
  .main-about-img {
    padding-right: 0;
  }
  .main-about-img {
    width: 50%;
    margin: 0 auto 30px;
  }
  .main-about-content {
    padding-top: 7px;
  }
  .main-about-content p {
    padding-bottom: 18px;
    line-height: 1.4;
  }
  .services-item__head {
    padding-bottom: 10px;
  }
  .services-item p {
    line-height: 1.3;
  }
  .footer {
    text-align: center;
  }
  .footer-logo {
    float: none;
    display: block;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .news .main-new-content {
    margin-left: 90px;
  }
  .pagination {
    margin-left: 400px;
  }
  .contacts-item p,
  .contacts-item__head,
  .contacts-item__bid span {
    font-size: 18px;
  }
  .contacts-item {
    width: 32%;
    margin-right: 2%;
  }
  .contacts-map iframe {
    height: 350px;
  }
  .about-item-head p {
    font-size: 18px;
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .header-contact {
    display: block;
    margin-bottom: 30px;
  }
  .header-contact__item:last-child {
    margin-right: 0;
  }
  .nav li a {
    font-size: 14px;
    padding: 0 5px;
  }
  .showcase-item {
    width: 340px;
    margin-bottom: 57px;
  }
  .showcase-item__num {
    font-size: 60px;
  }
  .showcase-item__text {
    margin: 15px 0 0 80px;
    font-size: 28px;
  }
  .showcase {
    padding-top: 60px;
  }
  .main-new-date {
    padding: 7px 8px 7px 10px;
  }
  .main-new__head {
    font-size: 18px;
    padding-bottom: 8px;
  }
  .main-new-content p {
    line-height: 1.3;
  }
  .main-new-content {
    margin-left: 70px;
  }
  .main-new-date span {
    font-size: 32px;
  }
  .main-new {
    padding-bottom: 40px;
  }
  .main-about-img {
    float: none;
    display: block;
    margin: 0 auto 30px;
  }
  .main-about-content {
    float: none;
    padding-top: 0;
    width: auto;
  }
  .services-item {
    width: 40%;
    margin-bottom: 80px;
  }
  .services-item:nth-child(2n) {
    margin-right: 0;
  }
  .footer-contact {
    float: none;
    display: block;
    margin-bottom: 30px;
  }
  .footer-link {
    float: none;
  }
  .pagination {
    margin-left: 260px;
  }
  .contacts-item {
    display: block;
    width: auto;
    margin-right: 0;
    text-align: center;
  }
  .contacts-item__mail {
    margin-top: 18px;
    display: block;
  }
  .contacts-items {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .header-contact__item {
    display: block;
    margin: 0 0 20px;
    text-align: center;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    margin: 0 auto;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before, .burger-wrap a span:after {
    position: absolute;
    background: #fff;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }

  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #72bf44;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    padding: 15px 0;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms;
    margin-top: 0;
  }
  .nav li {
    display: block;
    margin-right: 0;
  }
  .nav li a {
    padding: 0 34px;
  }
  .showcase-item {
    display: block;
    margin: 0 auto 30px;
  }
  .showcase-item:nth-child(2n) {
    margin-right: auto;
  }
  .main-new-link {
    padding-left: 14px;
  }
  .main-new-item {
    display: block;
    margin-right: 0;
    width: auto;
    margin-bottom: 30px;
  }
  .main-new {
    padding-bottom: 10px;
  }
  .main-about-img {
    width: 70%;
  }
  .services-item {
    display: block;
    width: 280px;
    margin: 0 auto 80px;
  }
  .main-about {
    margin-bottom: 70px;
  }
  .services-item__head {
    font-size: 20px;
  }
  .services-item:nth-child(2n),
  .services-item:last-child {
    margin-right: auto;
  }
  .footer-contact__item {
    display: block;
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .pagination {
    margin-left: 0;
    text-align: center;
  }
  .contacts-map iframe {
    height: 250px;
  }
  .about-item-head i {
    margin: 0;
  }
  .about-item-content {
    margin-left: 50px;
  }
  .head h2 {
    font-size: 28px;
    margin-right: 0;
  }
  .head a {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .showcase-item {
    width: 270px;
  }
  .showcase-item__text {
    margin: 15px 0 0 74px;
    font-size: 21px;
  }
  .showcase-item__num {
    font-size: 50px;
  }
  .showcase {
    padding-top: 45px;
  }
  .main-new-link {
    margin-bottom: 20px;
  }
  .main-about-img {
    width: 100%;
  }
  .news .main-new-date {
    float: none;
    display: inline-block;
    margin-bottom: 30px;
  }
  .news .main-new-content {
    margin-left: 0;
  }
  .pagination li {
    margin-right: 16px;
  }
  .pagination li:after {
    display: none;
  }
  .contacts-item__bid span {
    display: block;
    padding-left: 0;
  }
}