* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 700 16px 'Gilroy', sans-serif; }

a {
  font: 700 16px 'Gilroy', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative; }

.head {
  margin-bottom: 45px; }
  .head h2 {
    display: inline-block;
    font-size: 42px;
    margin-right: 12px; }
  .head a {
    color: #f37021;
    text-decoration: underline;
    padding-left: 24px;
    position: relative; }
    .head a:before {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      left: 0; }

/* Header */
.header {
  padding: 32px 0 16px; }
  .header .logo {
    float: left;
    margin: -14px 129px 0 0; }
    .header .logo i {
      display: inline-block;
      font-size: 76px;
      color: #72bf44; }
    .header .logo-content {
      display: inline-block;
      vertical-align: top;
      margin-left: 21px;
      text-align: right;
      padding-top: 11px; }
      .header .logo-content p {
        color: #72bf44;
        font-size: 44px;
        text-transform: uppercase; }
      .header .logo-content span {
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
        font-weight: 300; }
  .header-contact {
    float: left; }
    .header-contact__item {
      display: inline-block;
      vertical-align: top;
      margin-right: 106px;
      text-align: right; }
      .header-contact__item:last-child {
        margin-right: 0; }
      .header-contact__item p {
        font-size: 24px;
        padding-bottom: 10px; }
      .header-contact__item span {
        display: block;
        font-weight: 300; }
      .header-contact__item a {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px; }
        .header-contact__item a:hover {
          color: #f37021; }
  .header-link {
    float: right;
    padding: 0 22px;
    border-radius: 6px;
    line-height: 50px;
    color: #fff;
    background: #f37021; }
    .header-link:hover {
      background: #d5570b; }

/* Nav */
.nav {
  text-align: center;
  font-size: 0; }
  .nav-wrap {
    background: #72bf44; }
  .nav li {
    display: inline-block;
    vertical-align: top; }
    .nav li a {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding: 0 30px;
      line-height: 40px; }
      .nav li a:hover {
        color: #fff;
        background: #000; }
    .nav li.active a {
      background: #000;
      color: #fff; }

.burger-wrap {
  display: none; }

/* Bread */
.bread {
  padding: 18px 0 34px; }
  .bread li {
    display: inline-block;
    vertical-align: top;
    font-weight: 300; }
    .bread li:after {
      content: '>';
      display: inline-block;
      margin: 0 7px 0 10px; }
    .bread li:last-child:after {
      display: none; }
    .bread li a {
      font-weight: 300;
      color: #000; }
      .bread li a:hover {
        text-decoration: underline; }

/* Showcase */
.showcase {
  padding: 122px 0 15px;
  margin-bottom: 47px; }
  .showcase-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .showcase-items {
    font-size: 0;
    text-align: center; }
  .showcase-item {
    display: inline-block;
    vertical-align: top;
    width: 490px;
    text-align: left;
    margin: 0 196px 96px 0; }
    .showcase-item:nth-child(2n) {
      margin-right: 0; }
    .showcase-item__num {
      float: left;
      color: #72bf44;
      font-size: 86px;
      font-weight: 700;
      border-bottom: 3px solid #72bf44;
      padding-bottom: 14px; }
    .showcase-item__text {
      margin: 26px 0 0 114px;
      font-size: 42px;
      color: #fff;
      line-height: 1.2; }

/* Main-new */
.main-new {
  padding-bottom: 50px; }
  .main-new-items {
    font-size: 0; }
  .main-new-item {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%; }
    .main-new-item:last-child {
      margin-right: 0; }
  .main-new-date {
    float: left;
    background: #72bf44;
    padding: 7px 12px 7px 15px;
    border-radius: 6px; }
    .main-new-date span {
      display: block;
      font-size: 34px;
      margin-bottom: 4px; }
  .main-new-num {
    font-size: 14px; }
  .main-new-content {
    margin-left: 82px; }
    .main-new-content p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6; }
    .main-new-content a {
      color: #0078ff;
      font-weight: 300;
      text-decoration: underline; }
      .main-new-content a:hover {
        text-decoration: none; }
  .main-new__head {
    font-size: 20px;
    padding-bottom: 16px; }

/* Main-about */
.main-about {
  padding: 43px 0 47px;
  margin-bottom: 91px; }
  .main-about-wrap {
    background-color: #f5faf2; }
  .main-about-content {
    float: left;
    width: 45%;
    padding-top: 28px; }
    .main-about-content p {
      font-weight: 300;
      line-height: 1.6;
      padding-bottom: 30px; }
  .main-about-img {
    float: right; }
  .main-about-head {
    margin-bottom: 30px; }
  .main-about-ref {
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
    background: #f37021;
    border-radius: 5px; }
    .main-about-ref:hover {
      background: #d5570b; }
  .main-about-img {
    padding-right: 100px; }

/* Services */
.services {
  margin-bottom: 57px; }
  .services-items {
    font-size: 0;
    text-align: center; }
  .services-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 4%;
    border: 2px solid #72bf44;
    border-radius: 6px;
    position: relative;
    padding: 134px 30px 0;
    height: 280px;
    transition: 300ms; }
    .services-item:hover {
      background: #72bf44; }
    .services-item:hover .services-item__head {
      color: #fff; }
    .services-item:hover p {
      color: #fff; }
    .services-item-img {
      border-radius: 50%;
      width: 160px;
      height: 160px;
      margin: 0 auto;
      font-size: 84px;
      color: #fff;
      background-color: #f37021;
      position: absolute;
      top: -50px;
      left: 0;
      right: 0; }
      .services-item-img i {
        display: inline-block;
        vertical-align: middle;
        line-height: 160px; }
    .services-item:last-child {
      margin-right: 0; }
    .services-item__head {
      padding-bottom: 20px;
      color: #72bf44;
      font-size: 24px;
      transition: 300ms; }
    .services-item p {
      font-weight: 300;
      color: #000;
      line-height: 1.6;
      transition: 300ms; }

/* Footer */
.footer {
  padding: 52px 0 36px; }
  .footer-wrap {
    background-color: #252525; }
  .footer-logo {
    float: left;
    margin: -14px 129px 0 0; }
    .footer-logo i {
      display: inline-block;
      font-size: 76px;
      color: #72bf44; }
    .footer-logo-content {
      display: inline-block;
      vertical-align: top;
      margin-left: 21px;
      text-align: right;
      padding-top: 11px; }
      .footer-logo-content p {
        color: #fff;
        font-size: 44px;
        text-transform: uppercase; }
      .footer-logo-content span {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 300; }
  .footer-contact {
    float: left; }
    .footer-contact__item {
      display: inline-block;
      vertical-align: top;
      margin-right: 106px;
      text-align: right; }
      .footer-contact__item:last-child {
        margin-right: 0; }
      .footer-contact__item p {
        color: #fff;
        font-size: 24px;
        padding-bottom: 10px; }
      .footer-contact__item span {
        display: block;
        font-weight: 300;
        color: #fff; }
      .footer-contact__item a {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px; }
        .footer-contact__item a:hover {
          color: #f37021; }
  .footer-link {
    float: right;
    padding: 0 22px;
    border-radius: 6px;
    line-height: 50px;
    color: #fff;
    background: #f37021; }
    .footer-link:hover {
      background: #d5570b; }

/* News */
.news {
  padding-bottom: 22px; }
  .news .main-new-item {
    display: block;
    width: 100%;
    margin-bottom: 40px; }
  .news .main-new-content {
    margin-left: 116px; }
  .news .main-new-content p {
    line-height: 1.5; }

/* Pagination */
.pagination {
  margin-left: 637px;
  padding: 0 0 56px 0; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 20px; }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li:after {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      right: -18px; }
    .pagination li:nth-last-child(2):after {
      display: none; }
    .pagination li a {
      display: inline-block;
      vertical-align: middle;
      color: #000; }
      .pagination li a:hover {
        text-decoration: underline; }
    .pagination li.active a {
      font-size: 24px;
      margin-top: -7px; }
    .pagination li.pagination-arrow {
      margin-right: 16px; }
      .pagination li.pagination-arrow__prev:after {
        display: none; }
      .pagination li.pagination-arrow__next:after {
        display: none; }

/* Contacts */
.contacts-items {
  font-size: 0;
  margin-top: 5px;
  margin-bottom: 20px; }

.contacts-item {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  margin-right: 6%; }
  .contacts-item:last-child {
    margin-right: 0; }
  .contacts-item-par {
    padding-bottom: 35px; }
  .contacts-item__bid {
    padding-bottom: 5px; }
    .contacts-item__bid span {
      font-size: 20px;
      font-weight: 300;
      padding-left: 5px; }
  .contacts-item__head {
    font-size: 20px;
    padding-bottom: 6px; }
  .contacts-item p {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 5px;
    line-height: 1.3; }
  .contacts-item a {
    font-size: 20px;
    color: #000; }
    .contacts-item a:hover {
      color: #f37021; }
  .contacts-item__mail {
    margin-top: 36px; }

.contacts-map {
  padding-bottom: 58px; }
  .contacts-map iframe {
    border: none;
    width: 100%;
    height: 500px; }

/* About */
.about {
  margin-bottom: 52px; }
  .about-item {
    margin-bottom: 16px; }
    .about-item-head {
      padding: 23px 0;
      background-color: #f5faf2;
      transition: 300ms;
      cursor: pointer; }
      .about-item-head i {
        display: inline-block;
        vertical-align: middle;
        font-size: 43px;
        color: #72bf44;
        margin: 0 40px 0 32px; }
      .about-item-head p {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px; }
    .about-item-content {
      margin-left: 118px;
      display: none;
      padding-top: 27px; }
      .about-item-content p {
        padding-bottom: 15px;
        font-weight: 300;
        line-height: 1.3; }
      .about-item-content.active {
        display: block; }
    .about-item.active .about-item-head {
      background: #f37021;
      color: #fff; }
    .about-item.active .about-item-head i {
      color: #fff; }

/*# sourceMappingURL=style.css.map */