*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.inner {
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.35em;
}
.outer {
  text-align: center;
}




html {
  font-size: 62.5% !important;
}
.black {
  font-family: 'ProximaNovaBlack';
}
html.height100 {
  height: 100%;
}
html.height100 body {
  height: 100%;
}
html.height100 #container {
  height: 100%;
}
html.height100 #wrapper {
  height: calc(100% - 193px);
}
body {
  min-width: 1024px;
  color: #fff;
  font-family: 'ProximaNovaRegular';
}
.icon {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
}
.icon-menu {
  width: 50px;
  height: 50px;
  background-position: 0px 0px;
}
.icon-menu .active,
.icon-menu:hover {
  background-position: -50px 0px;
}
.icon-menu .active .sub-menu,
.icon-menu:hover .sub-menu {
  visibility: visible;
}
.icon-menu-close {
  width: 50px;
  height: 50px;
  background-position: -50px 0px;
}
#container {
  margin: 0 auto;
  width: 100%;
}
#container a {
  font: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}
#container a:visited {
  color: inherit;
}
#container .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#container .mid {
  max-width: 1164px;
  margin: 0 auto;
}
#container .buttons {
  text-align: center;
  /*padding-top: 55px;*/
}
#container .btn-follow {
  text-transform: uppercase;
  font-size: 2.4rem;
  border: 0;
  background: #ee1f40;
}
#container .btn-send {
  font-size: 1.8rem;
  font-weight: 700;
  border: 0;
  background: #ee1f40;
  width: 100%;
}
#container .btn-next {
  background: url("../images/btn-next.png") no-repeat top left;
  width: 29px;
  height: 29px;
  float: right !important;
}
#container .btn-prev {
  background: url("../images/btn-prev.png") no-repeat top right;
  width: 29px;
  height: 29px;
  float: left !important;
}
#container .btn-show {
  font-size: 1.8rem;
  border: 1px solid #fff;
}
#container .btn-show-b {
  font-size: 1.8rem;
  border: 1px solid #000;
  color: #000;
}
#container .btn-fb {
  background: url("../images/fb-button.jpg") no-repeat;
  width: 160px;
  height: 39px;
}
#container .btn-tw {
  background: url("../images/twitter-button.jpg") no-repeat;
  width: 160px;
  height: 39px;
}
#container .link {
  text-decoration: underline;
  color: #ee1f40 !important;
}
#container.clear-bg {
  background: #fff;
  color: #000;
}
#container.bg-err {
  background: url("../images/bg-404.jpg") no-repeat top center;
  background-size: cover;
}
#container {
  color: #000;
  background: url("../images/bg-body.png") no-repeat top center;
  background-size: cover;
  overflow: hidden;
}
.pink {
  position: absolute;
  right: 0;
  top: -140px;
  width: 1000%;
  height: 1000%;
  z-index: -1;
  background-color: #ee1f40;
}
#header {
  padding-top: 40px;
  padding-bottom: 15px;
  height: auto;
  border-bottom: 1px solid #e1e1e1;
}
#header .phone {
  text-align: right;
  font-size: 4rem;
  color: #000;
}
#header .links {
  font-size: 1.4rem;
  color: #ee1f40;
  text-decoration: underline;
  padding-top: 5px;

}

#header .menu-links {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: underline;
  padding-top: 25px;
  padding-bottom: 25px;

}
#menu:hover .menu-block {
  visibility: visible;
}
#menu {
  height: auto;
  position: relative;
  z-index: 1;
  text-align: right;
}
#menu .menu-block {
  color: #fff;
  padding-top: 100px;
  visibility: hidden;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -1;
  right: 0px;
}
#menu .sub-menu {
  text-transform: lowercase;
  font-family: 'baron_neueregular';
  font-size: 1.4em;
}

#menu  .social{
  margin-top: 100px;
}

#menu ul li {
  text-align: center;
  white-space: nowrap;
  margin-bottom: 30px;
}
#menu ul li:hover {
  font-weight: bold;
}
#menu .contacts {
  font-size: 1.4rem;
  color:#fff;
}
#menu .contacts .social {
  margin-top: 100px;
}
#menu .contacts .social .links {
  color: #fff;
  margin-top: 30px;
}
#menu .contacts .phone {
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
}
#menu .contacts .phone .black {
  font-size: 2.4rem;
}
#menu .contacts .address {
  margin-top: 15px;
}
#wrapper .err-404 {
  font-size: 1.8rem;
  color: #fff;
  padding-top: 285px;
}
#wrapper .credo {
  background: url("../images/bg-credo.png") no-repeat center center;
  min-height: 501px;
  height: 501px;
  text-align: center;
  font-family: 'baron_neueregular';
  font-size: 3.8rem;
  color: #000;
  margin: 120px auto 80px;
  text-transform: lowercase;
}
#wrapper .buttons {
  margin-bottom: 65px;
}
#footer {
  background: url("../images/bg-footer.png") repeat;
  height: 80px;
  line-height: 80px;
  font-size: 1.4rem;
  color: #fff;
  bottom: 0;

}
#footer .links {
  text-decoration: underline;
}
#footer .row > div {
  display: inline-block;
  vertical-align: middle;
}
#wrapper hr {
  border-top: 3px solid #ee1f40;
  border-bottom: 2px solid #ee1f40;
}

#wrapper .white-hr {
  border-top: 3px solid #fff;
  border-bottom: 2px solid #fff;
}
#wrapper .h1 {
  font-family: 'baron_neueregular';
  margin: 30px 0 0;
  text-transform: lowercase;
  font-size: 1.8rem;
}
#wrapper .h2 {
  font-family: 'baron_neueregular';
  margin: 0 0 30px;
  font-size: 3.6rem;
}
#wrapper .h3 {
  font-size: 2.4rem;
  color: #ee1f40;

}

#wrapper .h3-black {
  font-size: 2.4rem;
  color: #000;
  margin-left: -15px !important;
  margin-bottom: 10px;
  margin-top: 20px;
}
#wrapper .content-menu {
  font-family: 'baron_neueregular';
  font-size: 1.8rem;
  text-transform: lowercase;
  color: #ee1f40;
  margin-bottom: 45px;
}

#wrapper .content-menu a:hover{
  color:#000;
  font-weight: 400;

}

#wrapper .picture img {
  width: 100%;
}
#wrapper .article {
  font-size: 1.4rem;
  /*margin-bottom: 20px;*/
}
#wrapper .article p {
  margin-bottom: 20px;
}
#wrapper .article p.big {
  font-size: 1.8rem;
}
#wrapper .article .head {
  margin-bottom: 20px;
}
#wrapper .article .head p {
  margin-bottom: 0;
}
#wrapper .article .gray {
  color: #808285;
}
#wrapper .article .title {
  margin-bottom: 0;
}
#wrapper .team .member .picture:hover .info {
  visibility: visible;
}
#wrapper .team .member .picture {
  position: relative;
}
#wrapper .team .member .picture .info {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/pink-bg.png") repeat;
  color: #fff;
  text-align: center;
}
#wrapper .team .member .picture .info > span,
#wrapper .team .member .picture .info > div {
  vertical-align: middle;
}
#wrapper .team .member .picture .info .name {
  font-family: 'baron_neueregular';
  margin: 75px 0 40px;
  font-size: 3.6rem;
}
#wrapper .team .member .picture .info .profession {
  font-size: 1.8rem;
}
#wrapper .team .member .picture img {
  width: 100%;
}
#wrapper .team .member .exp {
  margin: 30px 0;
}
#wrapper .list li {
  margin-bottom: 3px;
  padding-left: 35px;
  background: url("../images/square.png") no-repeat 15px 9px;
  font-size: 1.8rem;

}
#wrapper .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-top: 1px solid #000;
  background-color: #f1f2f2;
  font-size: 1.8rem;
}
#wrapper .contacts {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
#wrapper .contacts .value {
  color: #ee1f40;
  font-size: 2.4rem;
}
#wrapper .contacts .value.sm {
  font-size: 1.8rem;
}
#wrapper .map {
  margin-top: 40px;
}
#wrapper .map img {
  width: 100%;
}
#wrapper .news {
  margin-bottom: 65px;
}
#wrapper .news-article.big .title {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
#wrapper .news-article.big .article {
  font-size: 1.8rem;
}
#wrapper .news-article {
  font-size: 1.4rem;
}
#wrapper .news-article .date {
  text-align: center;
  color: #ee1f40;
  font-size: 1.8rem;
}
#wrapper .news-article .date .big {
  font-size: 4.4rem;
  font-weight: 700;
}
#wrapper .news-article .title {
  font-weight: 700;
  margin-bottom: 10px;
}
#wrapper .navigation {
  text-align: center;
}
#wrapper .clients .client {
  margin-bottom: 55px;
}
#wrapper .cases .pictures {
  margin-bottom: 40px;
}
#wrapper .cases .pictures .pic-big {
  width: 50%;
}
#wrapper .cases .pictures .pic-big .description {
  margin: 35% 5% 45px;
}
#wrapper .cases .pictures .pic-h {
  width: 50%;
}
#wrapper .cases .pictures .pic-h .description {
  margin: 11% 5% 15px;
}
#wrapper .cases .pictures .pic-s {
  width: 25%;
}
#wrapper .cases .pictures .pic-s .description {
  margin: 5% 1% 10px;
}
#wrapper .cases .pictures .picture:hover .info {
  visibility: visible;
}
#wrapper .cases .pictures .picture {
  position: relative;
}
#wrapper .cases .pictures .picture .info {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/pink-bg.png") repeat;
  color: #fff;
  text-align: center;
}
#wrapper .cases .pictures .picture .info > span,
#wrapper .cases .pictures .picture .info > div {
  vertical-align: middle;
}
#wrapper .cases .pictures .picture .info .description {
  font-family: 'baron_neueregular';
  font-size: 3.6rem;
}
#wrapper .cases .pictures .picture img {
  width: 100%;
}

.mini-title{
  font-weight: 600;
  margin-top: 20px;
}

#topcontrol::after {
  opacity: 0.4;
  left: 8.5px;
  position: absolute;
  text-align: center;
  top: -2px;
}

#topcontrol {
  background: url("../images/arrow.jpg") no-repeat;
  bottom: 30px !important;
  font-size: 50px;
  height: 150px;
  position: relative;
  right: 30px !important;
  width: 150px;
  z-index: 99;
}

.comment{
  font-size: 1.8rem;
  font-weight: 700;
}