@font-face {
    font-family: 'YesevaOne';
    src: url('../fonts/YesevaOne.woff2') format('woff2'),
        url('../fonts/YesevaOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLCWeb-Medium.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLCWeb-Black.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLCWeb-Bold.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLCWeb-Regular.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLCWeb-RegularItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}