button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Graphik', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'Graphik', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1336px) {
  .container {
    width: 970px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; } }

@media (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important; } }

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4c5159; }
  .amount input {
    width: 40px;
    margin: 0 16px;
    border: none;
    font-weight: 500;
    text-align: center; }
  .amount span {
    cursor: pointer; }

.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 120px;
  height: 34px;
  padding: 0 10px;
  background-color: #e4cc17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.title {
  position: relative;
  z-index: 10;
  padding-bottom: 31px;
  margin-bottom: 59px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  color: #ec7c00; }
  .title:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 201px;
    height: 10px;
    background: url(../images/wave-orange.png) no-repeat 50%; }

.link {
  padding: 20px 21px 16px;
  border: 1px solid #ec7c00;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  color: #ec7c00; }
  .link:hover {
    background-color: #ec7c00;
    color: #fff; }
  .link:focus {
    outline: none; }

@media (max-width: 1336px) {
  .title {
    margin-bottom: 36px; } }

@media (max-width: 991px) {
  .title {
    padding-bottom: 24px; } }

@media (max-width: 575px) {
  .link {
    padding: 16px 10px 12px; } }

.burger {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: none;
  width: 30px; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }
    .burger a span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      background-color: #ec7c00; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background-color: #ec7c00; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  .star li {
    margin-right: 5px;
    font-size: 14px;
    color: #f9d00a; }
    .star li:last-child {
      margin-right: 0; }

.top-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .top-line:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 2000px;
    background-color: #6a6f76; }
  .top-line-wrap {
    overflow: hidden;
    background-color: #4c5159; }

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  .top-nav li {
    position: relative;
    margin-right: 26px; }
    .top-nav li:before {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -16px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #c1cad7; }
    .top-nav li:last-child {
      margin-right: 0; }
      .top-nav li:last-child:before {
        display: none; }
    .top-nav li a {
      font-size: 14px;
      color: #c1cad7; }
      .top-nav li a:hover {
        text-decoration: underline; }

.search {
  position: relative;
  width: 300px;
  height: 40px;
  background-color: #6a6f76; }
  .search input {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 25px;
    border: none;
    font-size: 14px;
    font: 400 14px 'Graphik';
    color: #fff;
    background-color: transparent; }
    .search input::-webkit-input-placeholder {
      color: #fff; }
    .search input::-ms-input-placeholder {
      color: #fff; }
    .search input::placeholder {
      color: #fff; }
    .search input::-moz-placeholder {
      color: #fff; }
  .search button {
    position: absolute;
    top: 50%;
    right: 3px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 21px;
    border: none;
    cursor: pointer;
    background: url(../images/search.png) no-repeat 50%; }
    .search button:focus {
      outline: none; }

@media (max-width: 1336px) {
  .top-nav li {
    margin-right: 10px; }
    .top-nav li:before {
      display: none; }
  .search {
    width: 260px; } }

@media (max-width: 991px) {
  .top-burger {
    display: block; }
    .top-burger a span {
      background-color: #fff; }
      .top-burger a span:before, .top-burger a span:after {
        background-color: #fff; }
  .top-line {
    position: static; }
    .top-line:after {
      display: none; }
    .top-line-wrap {
      position: relative;
      z-index: 15;
      overflow: visible; }
      .top-line-wrap:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 200px;
        background-color: #6a6f76; }
  .top-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #4c5159; }
    .top-nav.active {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
      z-index: 99; }
    .top-nav li {
      margin-right: 0;
      margin: 4px 0; }
  .search input {
    padding-left: 16px; } }

@media (max-width: 575px) {
  .search {
    width: 240px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 21px 21px 16px 0; }
  .header-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header-descr {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    margin-right: 40px; }
    .header-descr p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.57;
      color: #191919; }

.header-contacts {
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  margin: 0 59px 0 0;
  padding: 0;
  list-style: none; }
  .header-contacts li {
    margin-bottom: 16px; }
    .header-contacts li:last-child {
      margin-bottom: 0; }
    .header-contacts li a {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      color: #191919; }
      .header-contacts li a:hover {
        color: #ec7c00; }

.header-info {
  -ms-flex-preferred-size: 210px;
  flex-basis: 210px;
  margin: 0 25px 0 0;
  padding: 0;
  list-style: none; }
  .header-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px; }
    .header-info li:last-child {
      margin-bottom: 0; }
    .header-info li.info-empty a {
      text-decoration: none;
      color: #6a6f76; }
    .header-info li p {
      margin-bottom: 0;
      color: #6a6f76; }
      .header-info li p a {
        text-decoration: underline;
        color: #ec7c00; }
        .header-info li p a:hover {
          text-decoration: none; }
  .header-info-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 24px;
    margin-right: 15px;
    text-align: center; }

.header-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 152px;
  flex-basis: 152px;
  margin-left: 32px; }
  .header-cart.cart-empty .header-cart__value {
    background-color: #c1cad7; }
  .header-cart img {
    position: absolute;
    top: 3px;
    left: -32px; }
  .header-cart__value {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #ec7c00;
    color: #fff; }
  .header-cart p {
    margin-bottom: 0;
    line-height: 1.63;
    color: #191919; }

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 201px; }

@media (max-width: 1336px) {
  .header {
    padding-right: 0; }
    .header-info {
      -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
      margin-right: 14px; }
      .header-info-img {
        margin-right: 10px; }
    .header-contacts {
      -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
      margin-right: 10px; }
      .header-contacts li {
        margin-bottom: 12px; }
        .header-contacts li a {
          font-size: 18px; }
    .header-descr {
      -ms-flex-preferred-size: 190px;
      flex-basis: 190px;
      margin-right: 14px; }
      .header-descr p {
        line-height: 1.3; }
  .logo {
    width: 160px; } }

@media (max-width: 991px) {
  .header-descr {
    display: none; }
  .header-cart {
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px; }
    .header-cart img {
      left: -28px; }
  .header-info {
    -ms-flex-preferred-size: 180px;
    flex-basis: 180px;
    margin-right: 8px; }
    .header-info-img {
      margin-right: 6px; }
    .header-info li p {
      font-size: 15px; }
      .header-info li p a {
        font-size: 15px; }
  .header-contacts {
    -ms-flex-preferred-size: 144px;
    flex-basis: 144px; }
    .header-contacts li {
      margin-bottom: 10px; }
      .header-contacts li a {
        font-size: 16px; } }

@media (max-width: 767px) {
  .header-contacts {
    display: none; } }

@media (max-width: 650px) {
  .header-info {
    display: none; } }

@media (max-width: 430px) {
  .header-cart {
    display: none; } }

.nav {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav-wrap {
    position: relative;
    background-color: #ec7c00; }
  .nav li {
    position: relative; }
    .nav li:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -2.5px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #f6ba78; }
    .nav li:last-child:after {
      display: none; }
    .nav li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 18px 13px 16px;
      font-weight: 500;
      letter-spacing: 0.35px;
      text-transform: uppercase;
      color: #fff; }
      .nav li a:hover {
        background-color: #4c5159;
        color: #fff; }
      .nav li a img {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 16px;
        margin-right: 20px; }

@media (max-width: 1336px) {
  .nav li a {
    padding-right: 5.5px;
    padding-left: 5.5px;
    font-size: 14px;
    letter-spacing: 0; }
    .nav li a img {
      margin-right: 10px; } }

@media (max-width: 991px) {
  .nav-burger {
    display: block;
    margin-left: 8px; }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #ec7c00; }
    .nav.active {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
      z-index: 99; }
    .nav li {
      width: 100%; }
      .nav li:after {
        display: none; }
      .nav li a {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%; } }

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0 35px;
  padding: 0;
  list-style: none; }
  .bread li {
    position: relative;
    margin: 0 36px 6px 0;
    font-size: 14px;
    color: #6a6f76; }
    .bread li:after {
      content: '>>';
      display: block;
      position: absolute;
      top: 50%;
      right: -25px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #6a6f76; }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li a {
      font-size: 14px;
      text-decoration: underline;
      color: #6a6f76; }
      .bread li a:hover {
        text-decoration: none; }

@media (max-width: 767px) {
  .bread {
    margin-bottom: 26px; } }

.soc {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .soc.soc-grey li {
    margin-right: 12px; }
    .soc.soc-grey li:last-child {
      margin-right: 0; }
    .soc.soc-grey li a {
      width: 24px;
      height: 24px; }
  .soc.soc-grey .soc-vk a {
    background-image: url(../images/vk-gr.png); }
  .soc.soc-grey .soc-fb a {
    background-image: url(../images/facebook-gr.png); }
  .soc.soc-grey .soc-instg a {
    background-image: url(../images/instagram-gr.png); }
  .soc li {
    margin-right: 20px; }
    .soc li:last-child {
      margin-right: 0; }
    .soc li a {
      width: 30px;
      height: 30px;
      -webkit-transition: none;
      transition: none;
      background-repeat: no-repeat;
      background-position: left; }
      .soc li a:hover {
        background-position: right; }
  .soc-vk a {
    background-image: url(../images/vk.png); }
  .soc-fb a {
    background-image: url(../images/facebook.png); }
  .soc-instg a {
    background-image: url(../images/instagram.png); }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 91px; }
  .footer-wrap {
    padding: 61px 0 22px;
    background-color: #4c5159; }
  .footer-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 201px; }
  .footer-info {
    -ms-flex-preferred-size: 240px;
    flex-basis: 240px;
    margin-top: -6px; }
    .footer-info__address {
      line-height: 1.65;
      text-decoration: underline;
      color: #fff; }
      .footer-info__address:hover {
        color: #fff;
        text-decoration: none; }
    .footer-info p {
      margin-bottom: 0;
      line-height: 1.65;
      color: #fff; }
  .footer-contacts {
    margin: 30px 0 32px;
    padding: 0;
    list-style: none; }
    .footer-contacts li {
      margin-bottom: 14px; }
      .footer-contacts li:last-child {
        margin-bottom: 0; }
      .footer-contacts li a {
        font-size: 24px;
        font-weight: 500;
        color: #fff; }
        .footer-contacts li a:hover {
          color: #ec7c00; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 460px;
    flex-basis: 460px;
    margin-left: 38px; }
  .footer-item {
    margin: 0;
    padding: 0;
    list-style: none;
    -ms-flex-preferred-size: 160px;
    flex-basis: 160px; }
    .footer-item li {
      margin-bottom: 20px; }
      .footer-item li a {
        text-decoration: underline;
        color: #fff; }
        .footer-item li a:hover {
          text-decoration: none; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .bottom p {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #c1cad7; }
    .bottom p a {
      font-size: 14px;
      letter-spacing: 0.1px;
      text-decoration: underline;
      color: #c1cad7; }
      .bottom p a:hover {
        text-decoration: none; }

@media (max-width: 1336px) {
  .footer-items {
    -ms-flex-preferred-size: 380px;
    flex-basis: 380px;
    margin-left: 0; } }

@media (max-width: 991px) {
  .footer {
    margin-bottom: 50px; }
    .footer-wrap {
      padding-top: 40px; }
    .footer-logo {
      width: 160px; }
    .footer-items {
      -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
      .footer-item li {
        margin-bottom: 12px; }
    .footer-info {
      -ms-flex-preferred-size: 216px;
      flex-basis: 216px;
      margin-top: 0; } }

@media (max-width: 710px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
    .footer .soc {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .footer-logo {
      width: 200px;
      margin-bottom: 20px; }
    .footer-items {
      width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      text-align: center; }
    .footer-item {
      width: 100%; }
    .footer-contacts {
      margin: 20px 0; }
    .footer-info {
      width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      text-align: center; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .bottom p {
      margin: 3px 0; } }

.showcase {
  min-height: 550px;
  padding: 110px 0 100px; }
  .showcase-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .showcase-title {
    position: relative;
    padding-bottom: 44px;
    margin-bottom: 34px;
    font: 400 64px 'YesevaOne';
    color: #fff; }
    .showcase-title:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 201px;
      height: 10px;
      background: url(../images/wave-wh.png) no-repeat 50%; }
  .showcase p {
    max-width: 610px;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 1.5;
    color: #fff; }

@media (max-width: 1336px) {
  .showcase-title {
    font-size: 55px; } }

@media (max-width: 767px) {
  .showcase {
    min-height: 480px;
    padding-top: 70px; }
    .showcase-title {
      font-size: 42px; }
    .showcase p {
      font-size: 22px; } }

@media (max-width: 575px) {
  .showcase {
    min-height: 380px;
    padding: 48px 0 20px; }
    .showcase-title {
      padding-bottom: 32px;
      margin-bottom: 24px;
      font-size: 32px; }
    .showcase p {
      font-size: 18px; } }

.main-catalog .product-items {
  margin-bottom: 18px; }

.main-catalog .services-items {
  margin-bottom: 46px; }

.main-catalog-wrap {
  margin: -90px 0 60px; }

.main-catalog-link {
  text-align: center; }

@media (max-width: 1336px) {
  .main-catalog .product-items {
    margin-bottom: 0; }
  .main-catalog .services-items {
    margin-bottom: 32px; } }

@media (max-width: 991px) {
  .main-catalog-wrap {
    margin-bottom: 40px; }
  .main-catalog .services-items {
    margin-bottom: 16px; } }

@media (max-width: 767px) {
  .main-catalog-wrap {
    margin-top: -70px; } }

@media (max-width: 575px) {
  .main-catalog .services-items {
    margin-bottom: 0; }
  .main-catalog-wrap {
    margin: 0 0 32px; } }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 70px;
  border-bottom: 1px solid #c1cad7; }
  .catalog .product-items {
    margin-bottom: 22px; }
  .catalog-sidebar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 240px;
    margin: 0 74px 40px 0; }
    .catalog-sidebar__title {
      margin-bottom: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #6a6f76; }
    .catalog-sidebar-item {
      padding: 30px 0;
      border-top: 1px solid #c1cad7; }
      .catalog-sidebar-item.item-shade .catalog-sidebar__title {
        margin-bottom: 0; }
      .catalog-sidebar-item:last-child {
        border-bottom: 1px solid #c1cad7; }
    .catalog-sidebar-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 40px; }
      .catalog-sidebar-footer .link {
        padding: 12px 15px 10px;
        background-color: #ec7c00;
        color: #fff; }
        .catalog-sidebar-footer .link:hover {
          background-color: #fff;
          color: #ec7c00; }
    .catalog-sidebar__reset {
      margin-left: 26px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #6a6f76; }
      .catalog-sidebar__reset:hover {
        text-decoration: none;
        color: #6a6f76; }
  .catalog-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }

.catalog-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 39px;
  padding: 0;
  list-style: none; }
  .catalog-tabs li {
    width: 33.33%; }
    .catalog-tabs li.active a {
      background-color: #ec7c00; }
      .catalog-tabs li.active a:after {
        opacity: 1; }
    .catalog-tabs li a {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 90px;
      padding: 12px 10px 6px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      text-align: center;
      background-color: #4c5159;
      color: #ffff; }
      .catalog-tabs li a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -9px;
        left: 50%;
        z-index: -1;
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
        width: 30px;
        height: 30px;
        opacity: 0;
        -webkit-transition: 300ms;
        transition: 300ms;
        background-color: #ec7c00; }
      .catalog-tabs li a:hover {
        background-color: #ec7c00; }

.catalog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 35px;
  padding: 0;
  list-style: none; }
  .catalog-nav li {
    position: relative;
    margin-right: 44px; }
    .catalog-nav li:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -25px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #c1cad7; }
    .catalog-nav li:last-child {
      margin-right: 0; }
      .catalog-nav li:last-child:after {
        display: none; }
    .catalog-nav li.active a {
      text-decoration: none;
      color: #191919; }
    .catalog-nav li a {
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #ec7c00; }
      .catalog-nav li a:hover {
        text-decoration: none;
        color: #191919; }

.catalog-class {
  padding: 0;
  margin: 0;
  list-style: none; }
  .catalog-class li {
    margin-bottom: 18px; }
    .catalog-class li:last-child {
      margin-bottom: 0; }
    .catalog-class li a {
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #ec7c00; }
      .catalog-class li a:hover {
        text-decoration: none; }

.catalog-todisplay .radio-item {
  margin-bottom: 18px; }
  .catalog-todisplay .radio-item:last-child {
    margin-bottom: 0; }

.catalog-price-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.catalog-price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 13px; }
  .catalog-price-item:last-child {
    margin-right: 0; }
  .catalog-price-item input {
    width: 85px;
    height: 30px;
    padding: 0 8px;
    border: 1px solid #c1cad7;
    font: 400 16px 'Graphik';
    color: #0a0a0a;
    background-color: #fff; }
  .catalog-price-item span {
    margin-right: 8px; }

.catalog-shade-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog-style .checkbox-items {
  margin-top: 24px; }

.catalog-style .checkbox-item {
  margin-bottom: 18px; }
  .catalog-style .checkbox-item:last-child {
    margin-bottom: 0; }

.tint-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -19px; }

.tint-item {
  position: relative;
  width: 31px;
  height: 30px;
  margin: 20px 0 0 19px;
  cursor: pointer; }
  .tint-item input {
    display: none; }
    .tint-item input:checked + span {
      opacity: .5; }
  .tint-item span {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: 300ms;
    transition: 300ms; }

@media (max-width: 1336px) {
  .catalog-nav li {
    margin-right: 14px; }
    .catalog-nav li:after {
      display: none; }
    .catalog-nav li a {
      letter-spacing: 0; } }

@media (max-width: 991px) {
  .catalog {
    padding-bottom: 48px; }
    .catalog-sidebar {
      width: 220px;
      margin-right: 18px; }
      .catalog-sidebar-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 26px; }
        .catalog-sidebar-footer .link {
          margin-bottom: 10px; }
      .catalog-sidebar__title {
        letter-spacing: 0; }
      .catalog-sidebar__reset {
        margin-left: 0; }
      .catalog-sidebar-item {
        padding: 20px 0; }
  .catalog .product-item {
    width: 255px;
    padding: 10px; }
    .catalog .product-item__price {
      font-size: 16px; }
    .catalog .product-item__label {
      top: 10px; }
    .catalog .product-item-btn {
      width: 160px;
      padding: 0 8px; }
      .catalog .product-item-btn img {
        margin-right: 12px; }
  .catalog-class li a {
    letter-spacing: 0; }
  .catalog-price-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .catalog-price-item:first-child {
    margin-right: 0;
    margin-bottom: 10px; }
  .catalog-style .checkbox-items {
    margin-top: 0; }
  .catalog-style .checkbox-item {
    margin-bottom: 12px; }
  .catalog-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .catalog-nav li {
      width: 33.33%;
      margin: 0 0 10px;
      padding-right: 10px;
      text-align: center; }
  .tint-items {
    margin-left: -16px; }
  .tint-item {
    margin: 12px 0 0 16px; } }

@media (max-width: 767px) {
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .catalog-sidebar {
      width: 100%;
      margin-right: 0; }
      .catalog-sidebar__title {
        margin-bottom: 12px; }
      .catalog-sidebar-item {
        padding: 16px 0; }
      .catalog-sidebar-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .catalog-sidebar-footer .link {
          margin-bottom: 0;
          margin-right: 20px; }
  .catalog .product-item {
    width: 278px; }
  .catalog-class li {
    margin-bottom: 14px; }
  .catalog-todisplay .radio-item {
    margin-bottom: 12px; }
  .catalog-tabs li a {
    height: 70px;
    font-size: 16px;
    letter-spacing: 1px; }
  .catalog-nav li {
    width: 50%; } }

@media (max-width: 575px) {
  .catalog {
    padding-bottom: 40px; }
  .catalog .product-item {
    width: 300px;
    padding: 16px; }
    .catalog .product-item__label {
      top: 16px; }
  .catalog-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 28px; }
    .catalog-tabs li {
      width: 100%; }
      .catalog-tabs li a {
        height: 100%;
        min-height: 60px;
        padding: 10px; }
        .catalog-tabs li a:after {
          display: none; }
  .catalog-nav {
    margin-bottom: 16px; }
    .catalog-nav li {
      width: 100%;
      padding-right: 0; } }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 5px;
  margin-bottom: 26px; }
  .product-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-top: -10px; }
    .product-body-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .product-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .product-title {
    margin-bottom: 17px;
    font: 400 34px/1.41 'YesevaOne'; }
  .product-label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 120px;
    height: 34px;
    padding: 0 16px;
    margin-bottom: 19px;
    background-color: #e4cc17;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase; }
  .product-total {
    color: #4c5159; }
    .product-total .value {
      font-weight: 500;
      font-size: 24px; }
      .product-total .value span {
        font-size: 16px; }
    .product-total h3 {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 500; }
  .product-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 180px;
    height: 40px;
    padding: 0 15px;
    margin-top: 6px;
    background-color: #ec7c00;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase; }
    .product-btn img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 25px;
      margin-right: 19px; }
    .product-btn:hover {
      background-color: #c86901;
      color: #fff; }
  .product-link {
    padding: 14px 19px 10px;
    background-color: #ec7c00;
    color: #fff; }
    .product-link:hover {
      background-color: #fff;
      color: #ec7c00; }

.product-item {
  position: relative;
  width: 315px;
  padding: 20px;
  margin-bottom: 38px;
  border: 1px solid #c1cad7;
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #fff; }
  .product-item:hover {
    border: 1px solid #ec7c00;
    -webkit-box-shadow: 0 0 9.4px 0.6px rgba(236, 124, 0, 0.3);
    box-shadow: 0 0 9.4px 0.6px rgba(236, 124, 0, 0.3); }
  .product-item-body {
    padding-top: 20px; }
  .product-item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px; }
  .product-item__label {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 12px 18px 9px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background-color: #e4cc17;
    color: #000; }
  .product-item__rubric {
    margin-bottom: 9px;
    font-size: 14px;
    text-decoration: underline;
    color: #ec7c00; }
    .product-item__rubric:hover {
      text-decoration: none;
      color: #ec7c00; }
  .product-item__title {
    margin-bottom: 5px;
    font: 400 24px 'YesevaOne';
    color: #191919; }
    .product-item__title:hover {
      color: #ec7c00; }
  .product-item__country {
    margin-bottom: 16px;
    font: 400 16px 'YesevaOne';
    color: #191919; }
  .product-item__price {
    font-size: 18px;
    color: #191919; }
  .product-item-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ec7c00; }
    .product-item-btn:hover {
      background-color: #c86901;
      color: #fff; }
    .product-item-btn img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 25px;
      margin-right: 19px; }
  .product-item__favorites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: #c1cad7; }
    .product-item__favorites:hover, .product-item__favorites.active {
      background-color: #4c5159; }
  .product-item-info {
    margin: 0 0 24px;
    padding: 0;
    list-style: none; }
    .product-item-info li {
      font-size: 14px;
      line-height: 1.7;
      color: #191919; }
      .product-item-info li b {
        font-weight: 500; }
  .product-item-link {
    text-align: center; }
    .product-item-link .link {
      padding: 12px 21px 11px;
      background-color: #ec7c00;
      color: #fff; }
      .product-item-link .link:hover {
        background-color: #fff;
        color: #ec7c00; }

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 25px;
  padding: 0;
  list-style: none; }
  .product-list li {
    display: inline-block;
    margin-bottom: 10px;
    color: #4c5159;
    line-height: 1.63; }
    .product-list li:last-child {
      margin-bottom: 0; }
    .product-list li b {
      font-weight: 500; }
    .product-list li a {
      color: #ec7c00;
      text-decoration: underline; }
      .product-list li a:hover {
        text-decoration: none; }

.product-use {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none; }
  .product-use li {
    margin-bottom: 0; }

.product-price {
  padding: 20px 0 16px;
  margin-bottom: 25px;
  border-top: 1px solid #949eae;
  border-bottom: 1px solid #949eae;
  font-weight: 500;
  color: #4c5159; }
  .product-price .value {
    margin-right: 86px;
    font-size: 24px; }
    .product-price .value span {
      font-size: 16px; }
  .product-price h3 {
    margin-bottom: 10px;
    color: #4c5159;
    font-weight: 500;
    font-size: 16px; }
  .product-price p {
    margin-bottom: 2px; }
  .product-price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.product-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 31px;
  padding: 0 21px; }
  .product-square p {
    margin: 0 0 0 49px;
    color: #4c5159; }

.product-gallery {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 699px;
  margin-right: 100px; }
  .product-gallery-main {
    margin: 0;
    padding: 0;
    list-style: none; }
    .product-gallery-main li {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 460px; }
  .product-gallery-thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px 0 0;
    padding: 0;
    list-style: none; }
    .product-gallery-thumbs li {
      width: 220px;
      margin-right: 20px;
      cursor: pointer;
      opacity: .5;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .product-gallery-thumbs li.active, .product-gallery-thumbs li:hover {
        opacity: 1; }
      .product-gallery-thumbs li:last-child {
        margin-right: 0; }

@media (max-width: 1336px) {
  .product {
    padding-top: 0;
    margin-bottom: 18px; }
    .product-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .product-title {
      margin-bottom: 12px;
      font-size: 30px;
      line-height: 1.25; }
    .product-label {
      margin-bottom: 12px; }
    .product-body {
      margin-top: 0; }
    .product-list {
      margin-bottom: 20px; }
      .product-list li {
        margin-bottom: 6px; }
    .product-use li {
      margin-bottom: 0; }
    .product-square {
      margin-bottom: 18px; }
    .product-price {
      padding: 12px 0;
      margin-bottom: 18px; }
  .product-gallery {
    width: 500px;
    margin-right: 42px; }
    .product-gallery-main li {
      height: 330px; }
    .product-gallery-thumbs {
      margin-top: 20px; } }

@media (max-width: 991px) {
  .product-title {
    font-size: 26px; }
  .product-item {
    margin-bottom: 30px; }
  .product-list li {
    line-height: 1.3; }
  .product-price .value {
    margin-right: 36px;
    font-size: 22px; }
  .product-price h3 {
    margin-bottom: 6px; }
  .product-square {
    margin-bottom: 12px; }
  .product-total .value {
    font-size: 22px; }
  .product-total h3 {
    margin-bottom: 4px; }
  .product-btn {
    min-width: 170px;
    margin-top: 0; }
  .product-gallery {
    width: 400px;
    margin-right: 14px; }
    .product-gallery-main li {
      height: 262px; }
    .product-gallery-thumbs {
      margin-top: 10px; }
      .product-gallery-thumbs li {
        margin-right: 10px; } }

@media (max-width: 767px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px; }
    .product-gallery {
      margin: 0 auto 20px; }
    .product-body {
      width: 100%; } }

@media (max-width: 575px) {
  .product-item {
    margin-bottom: 20px; }
  .product-body-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .product-total, .product-btn {
    margin-bottom: 10px; }
  .product-square {
    padding: 0 10px; } }

@media (max-width: 425px) {
  .product-gallery {
    width: 300px; }
    .product-gallery-main li {
      height: 200px; } }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #c1cad7;
  color: #fff; }
  .slick-arrow:focus {
    outline: none; }
  .slick-arrow:hover {
    background-color: #ec7c00; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none; }
  .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 6px;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #c1cad7; }
    .slick-dots li.slick-active {
      background-color: #ec7c00; }
    .slick-dots li button {
      display: none; }

.services {
  padding: 48px 0; }
  .services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .services-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 25%;
    padding: 0 20px 0 6px; }
    .services-item .star {
      margin-top: 8px; }
    .services-item-img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 40px;
      margin-right: 20px;
      text-align: center; }
    .services-item-body {
      margin-top: -3px; }
    .services-item__title {
      margin-bottom: 2px;
      line-height: 1.65;
      color: #191919; }
      .services-item__title a {
        text-decoration: underline;
        color: #191919; }
        .services-item__title a:hover {
          text-decoration: none; }
    .services-item p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.65;
      color: #7c7c7c; }

@media (max-width: 1336px) {
  .services-item {
    padding: 0 10px 0 0; }
    .services-item-img {
      margin-right: 10px; }
    .services-item__title {
      line-height: 1.4; } }

@media (max-width: 991px) {
  .services {
    padding-bottom: 26px; }
    .services-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .services-item {
      width: 50%;
      margin-bottom: 14px; }
      .services-item p {
        line-height: 1.4; } }

@media (max-width: 575px) {
  .services {
    padding: 32px 0 14px; }
    .services-item {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20px; } }

.advantages {
  padding: 67px 0 56px; }
  .advantages-wrap {
    position: relative;
    z-index: 5;
    background: url(../images/advantages-bg.jpg) no-repeat 50%;
    background-size: cover; }
    .advantages-wrap:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.6); }
  .advantages-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 60px; }
  .advantages-item {
    -ms-flex-preferred-size: 280px;
    flex-basis: 280px;
    margin-right: 34px; }
    .advantages-item:last-child {
      margin-right: 0; }
    .advantages-item p {
      margin-bottom: 0;
      font-size: 18px;
      line-height: 1.78;
      color: #fff; }
  .advantages-value {
    position: relative;
    padding-bottom: 33px;
    margin-bottom: 17px;
    font: 400 74px/1 'YesevaOne';
    color: #c1cad7; }
    .advantages-value:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 201px;
      height: 10px;
      background: url(../images/wave-grey.png) no-repeat 50%; }
  .advantages-descr {
    max-width: 800px;
    margin: 0 auto;
    font: 400 24px/1.42 'YesevaOne';
    text-align: center;
    color: #fff; }

@media (max-width: 1336px) {
  .advantages-item {
    margin-right: 20px; }
    .advantages-item p {
      line-height: 1.4; } }

@media (max-width: 991px) {
  .advantages {
    padding: 50px 0 40px; }
    .advantages-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 20px; }
    .advantages-item {
      margin: 0 10px 20px; }
      .advantages-item:last-child {
        margin: 0 10px 20px; } }

@media (max-width: 767px) {
  .advantages-item {
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px; }
  .advantages-value {
    padding-bottom: 20px;
    margin-bottom: 14px;
    font-size: 60px; }
  .advantages-descr {
    font-size: 20px; } }

@media (max-width: 575px) {
  .advantages-item {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 0 20px !important;
    text-align: center; }
  .advantages-value:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .gallery-wrap {
    padding: 68px 0 98px;
    background-color: #eceff3; }
    .gallery-wrap .title {
      margin-bottom: 68px; }
  .gallery p {
    margin-bottom: 0;
    line-height: 1.65;
    color: #0a0a0a; }
    .gallery p a {
      font-weight: 700;
      color: #000; }
      .gallery p a:hover {
        color: #ec7c00; }
      .gallery p a.write {
        text-decoration: underline;
        font-weight: 400; }
        .gallery p a.write:hover {
          text-decoration: none;
          color: #0a0a0a; }
  .gallery-img {
    position: relative;
    z-index: 5;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 400px; }
    .gallery-img:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -60px;
      left: -60px;
      z-index: -1;
      width: 220px;
      height: 390px;
      background: url(../images/gallery-bg.jpg) no-repeat 50%; }
  .gallery-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin: -6px 80px 0 0; }
    .gallery-content h3 {
      margin-bottom: 0;
      font: 400 32px 'YesevaOne';
      color: #0a0a0a; }
  .gallery-item {
    margin-bottom: 14px; }
    .gallery-item:nth-child(2) {
      margin-bottom: 26px; }

@media (max-width: 1336px) {
  .gallery-wrap {
    padding-bottom: 66px; }
    .gallery-wrap .title {
      margin-bottom: 50px; }
  .gallery-img {
    width: 300px; }
    .gallery-img:before {
      bottom: -30px;
      left: -30px; }
  .gallery-content {
    margin-right: 40px; } }

@media (max-width: 991px) {
  .gallery-wrap {
    padding: 50px 0; }
    .gallery-wrap .title {
      margin-bottom: 32px; }
  .gallery p {
    line-height: 1.4; }
  .gallery-content h3 {
    font-size: 26px; } }

@media (max-width: 767px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .gallery-wrap {
      padding-bottom: 40px; }
    .gallery-img {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin: 0 auto 30px; }
      .gallery-img:before {
        display: none; }
    .gallery-content {
      margin-right: 0; } }

.ourwork {
  position: relative;
  z-index: 5; }
  .ourwork:before {
    content: '';
    display: block;
    position: absolute;
    top: -130px;
    left: 80px;
    z-index: -1;
    width: 380px;
    height: 390px;
    background: url(../images/ourwork-bg.jpg) no-repeat 50%; }
  .ourwork-wrap {
    padding: 86px 0 50px; }
    .ourwork-wrap .title {
      margin-bottom: 48px; }
  .ourwork-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px; }
    .ourwork-header .link {
      font-size: 24px;
      padding: 14px 23px 10px;
      letter-spacing: 0.2px;
      text-transform: none;
      background-color: #ec7c00;
      color: #fff; }
      .ourwork-header .link:hover {
        background-color: #fff;
        color: #ec7c00; }
  .ourwork-head {
    margin-right: 20px;
    font: 400 34px/1 'YesevaOne';
    color: #191919; }
  .ourwork-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px; }
  .ourwork-item {
    width: 300px;
    margin: 0 0 20px 20px; }
    .ourwork-item:hover {
      opacity: 0.8; }

@media (max-width: 1336px) {
  .ourwork-wrap .title {
    margin-bottom: 32px; }
  .ourwork-head {
    font-size: 26px; }
  .ourwork-item {
    width: 227px; } }

@media (max-width: 991px) {
  .ourwork:before {
    top: -60px; }
  .ourwork-wrap {
    padding: 60px 0 36px; }
  .ourwork-item {
    width: 236px; } }

@media (max-width: 767px) {
  .ourwork:before {
    left: 0; }
  .ourwork-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 28px; }
  .ourwork-head {
    margin: 0 0 20px; }
  .ourwork-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0; }
  .ourwork-item {
    margin: 0 10px 20px; } }

@media (max-width: 575px) {
  .ourwork:before {
    display: none; }
  .ourwork-wrap {
    padding: 50px 0 30px; }
    .ourwork-wrap .title {
      margin-bottom: 24px; } }

.main-news {
  padding: 87px 0 60px; }
  .main-news .title {
    margin-bottom: 68px; }
  .main-news-btn {
    text-align: center; }
    .main-news-btn .link {
      padding-right: 30px;
      padding-left: 30px; }

@media (max-width: 1336px) {
  .main-news {
    padding-top: 70px; }
    .main-news .title {
      margin-bottom: 40px; } }

@media (max-width: 991px) {
  .main-news {
    padding-bottom: 48px; } }

@media (max-width: 575px) {
  .main-news {
    padding-top: 60px; }
    .main-news .title {
      margin-bottom: 30px; } }

.news {
  margin-bottom: 74px; }
  .news-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 18px -20px; }
  .news-item {
    position: relative;
    z-index: 5;
    width: 300px;
    min-height: 360px;
    margin: 0 0 40px 20px;
    padding: 64px 16px 20px 20px;
    border: 1px solid #fff;
    background-size: cover;
    background-position: 50%; }
    .news-item:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 300ms;
      transition: 300ms;
      background-color: rgba(0, 0, 0, 0.4); }
    .news-item:hover {
      border-color: #b4b2b7; }
      .news-item:hover:before {
        background-color: #fff; }
      .news-item:hover .link {
        opacity: 1; }
      .news-item:hover .news-item__title {
        color: #000; }
      .news-item:hover .news-item__date {
        color: #959595; }
    .news-item.item-main {
      width: 619px; }
    .news-item .link {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 49px;
      padding: 20px 26px 14px;
      opacity: 0;
      background-color: #ec7c00;
      color: #fff; }
    .news-item__title {
      margin-bottom: 14px;
      font: 400 24px/1.42 'YesevaOne';
      color: #fff; }
    .news-item__date {
      font-size: 14px;
      font-weight: 500;
      color: #fff; }
  .news-label {
    position: absolute;
    top: -0.5px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 20px 6px 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    background-color: #e4cc17;
    color: #000; }
    .news-label.label-stock {
      background-color: #ec7c00;
      color: #fff; }

@media (max-width: 1336px) {
  .news-items {
    margin-left: -10px; }
  .news-item {
    width: calc(33.33% - 10px) !important;
    margin: 0 0 20px 10px; }
    .news-item .link {
      margin-top: 24px; } }

@media (max-width: 991px) {
  .news {
    margin-bottom: 50px; }
    .news-item {
      min-height: 270px;
      padding: 50px 14px 12px; }
      .news-item .link {
        padding: 14px 10px 10px; }
      .news-item__title {
        font-size: 20px; } }

@media (max-width: 767px) {
  .news-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0; }
  .news-item {
    width: calc(50% - 10px) !important;
    margin: 0 5px 10px; } }

@media (max-width: 575px) {
  .news {
    margin-bottom: 40px; }
    .news-item {
      width: 100% !important;
      margin: 0 0 10px; } }

.brands {
  margin-bottom: 80px; }
  .brands-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 59px; }
  .brands-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
    height: 160px;
    padding: 8px;
    border: 1px solid #c1cad7;
    background-color: #fff; }
    .brands-item:hover {
      border-color: #ec7c00;
      -webkit-box-shadow: 0 0 9.4px 0.6px rgba(236, 124, 0, 0.3);
      box-shadow: 0 0 9.4px 0.6px rgba(236, 124, 0, 0.3); }

.brands-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
  padding-left: 18px; }
  .brands-sort__title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 45px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919; }
  .brands-sort ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none; }
    .brands-sort ul li {
      position: relative;
      margin-right: 26px; }
      .brands-sort ul li:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        right: -14px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #8d9fb9; }
      .brands-sort ul li:last-child {
        margin-right: 0; }
        .brands-sort ul li:last-child:after {
          display: none; }
      .brands-sort ul li a {
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: underline;
        color: #ec7c00; }
        .brands-sort ul li a:hover {
          text-decoration: none; }

@media (max-width: 1336px) {
  .brands-sort {
    padding-left: 0; }
    .brands-sort__title {
      margin-right: 16px; }
    .brands-sort ul li {
      margin-right: 16px; }
      .brands-sort ul li:after {
        right: -10px; } }

@media (max-width: 991px) {
  .brands {
    margin-bottom: 56px; }
    .brands-items {
      margin-bottom: 40px; }
    .brands-item {
      width: 25%; }
    .brands-sort {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 28px; }
      .brands-sort__title {
        margin-right: 0;
        margin-bottom: 10px; }
      .brands-sort ul li {
        margin-right: 14px; } }

@media (max-width: 767px) {
  .brands-item {
    width: 33.33%; }
  .brands-sort ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .brands-sort ul li {
      margin-bottom: 5px; } }

@media (max-width: 575px) {
  .brands {
    margin-bottom: 48px; }
    .brands-items {
      margin-bottom: 30px; }
    .brands-item {
      width: 50%; } }

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 47px;
  padding-top: 5px; }
  .brand-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 1px solid #c1cad7; }
  .brand-content {
    padding-left: 100px;
    margin-top: -10px; }
    .brand-content h3 {
      margin-bottom: 23px;
      font: 400 34px/1.41 'YesevaOne'; }
    .brand-content p {
      margin-bottom: 10px;
      line-height: 1.65; }
  .brand-country {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #4c5159; }
    .brand-country a {
      font-size: 18px;
      font-weight: 500;
      text-decoration: underline;
      color: #ec7c00; }
      .brand-country a:hover {
        text-decoration: none; }

@media (max-width: 1336px) {
  .brand-content {
    padding-left: 40px; } }

@media (max-width: 991px) {
  .brand {
    padding-top: 0;
    margin-bottom: 38px; }
    .brand-content {
      padding-left: 20px;
      margin-top: 0; }
      .brand-content h3 {
        margin-bottom: 14px;
        font-size: 26px; }
      .brand-content p {
        line-height: 1.4; }
    .brand-country {
      margin-bottom: 14px;
      font-size: 16px; }
      .brand-country a {
        font-size: 16px; } }

@media (max-width: 767px) {
  .brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .brand-img {
      margin: 0 auto 20px; }
    .brand-content {
      padding-left: 0; } }

.radio {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #c1cad7;
  border-radius: 50%; }
  .radio-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .radio-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0; }
  .radio-text {
    padding-left: 14px; }
  .radio input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .radio input:checked + span:before {
      opacity: 1; }
  .radio span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%; }
    .radio span:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background-color: #ec7c00;
      border-radius: 50%;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }

.checkbox {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 15px;
  height: 14px;
  border: 1px solid #c1cad7; }
  .checkbox-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .checkbox-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
  .checkbox-text {
    padding-left: 15px; }
  .checkbox input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%; }
    .checkbox span:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background-color: #ec7c00;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }

.pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  .pagination li {
    margin: 0 2px; }
    .pagination li.prev a,
    .pagination li.next a {
      width: auto;
      height: auto;
      text-decoration: none; }
      .pagination li.prev a:hover,
      .pagination li.next a:hover {
        background-color: #fff;
        color: #c1cad7; }
    .pagination li.prev {
      margin: 0 58px 0 0; }
    .pagination li.next {
      margin: 0 0 0 58px; }
    .pagination li.active a {
      text-decoration: none;
      background-color: #c1cad7;
      color: #fff; }
    .pagination li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      font-weight: 500;
      letter-spacing: 1px;
      text-decoration: underline;
      color: #ec7c00; }
      .pagination li a:hover {
        text-decoration: none;
        background-color: #c1cad7;
        color: #fff; }

@media (max-width: 991px) {
  .pagination li.prev {
    margin-right: 26px; }
  .pagination li.next {
    margin-left: 26px; } }

@media (max-width: 575px) {
  .pagination li.prev {
    margin-right: 10px; }
  .pagination li.next {
    margin-left: 10px; }
  .pagination li a {
    width: 36px;
    height: 36px;
    font-weight: 400; } }

.favorites {
  margin-bottom: 70px; }
  .favorites .product-items {
    margin-bottom: 22px; }

@media (max-width: 1336px) {
  .favorites {
    margin-bottom: 52px; }
    .favorites .product-items {
      margin-bottom: 0; } }

@media (max-width: 575px) {
  .favorites {
    margin-bottom: 40px; } }

.goods {
  padding: 64px 0 42px; }
  .goods-wrap {
    background-color: #eceff3; }
  .goods-link {
    margin: 20px 0;
    text-align: center; }

@media (max-width: 1336px) {
  .goods {
    padding-bottom: 28px; } }

@media (max-width: 991px) {
  .goods {
    padding-top: 52px; }
    .goods-link {
      margin: 0; } }

@media (max-width: 575px) {
  .goods {
    padding: 48px 0 24px; } }

.basket {
  margin-bottom: 91px; }
  .basket-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -3px; }
  .basket-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 220px;
    margin-right: 20px; }
    .basket-img:hover {
      opacity: .8; }
  .basket-body {
    margin-top: -4px; }
  .basket-title {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: #000; }
    .basket-title:hover {
      color: #ec7c00; }
  .basket-descr {
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 400; }
  .basket-price {
    margin-bottom: 24px;
    font-size: 24px; }
    .basket-price span {
      font-size: 16px; }
  .basket-remove {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .basket-remove:hover span {
      text-decoration: none; }
    .basket-remove img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 16px; }
    .basket-remove span {
      margin-left: 16px;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      color: #ec7c00; }
  .basket-btn {
    text-align: center; }
    .basket-btn .link {
      background-color: #ec7c00;
      color: #fff; }
      .basket-btn .link:hover {
        background-color: #fff;
        color: #ec7c00; }
  .basket-delivery {
    max-width: 324px;
    margin: 0 0 0 auto;
    padding-right: 20px; }
    .basket-delivery .radio-text {
      font-weight: 400;
      font-size: 16px; }
    .basket-delivery h3 {
      margin-bottom: 13px;
      font-size: 18px;
      font-weight: 500; }

.basket-table {
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse; }
  .basket-table thead td {
    padding-bottom: 25px;
    border-bottom: 1px solid #949eae;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: #6a6f76; }
    .basket-table thead td:first-child {
      width: 560px; }
    .basket-table thead td:nth-child(2) {
      width: 220px; }
    .basket-table thead td:nth-child(3) {
      width: 180px; }
    .basket-table thead td:nth-child(4) {
      width: 203px; }
    .basket-table thead td:last-child {
      width: 96px; }
  .basket-table tbody tr.basket-bg {
    background-color: #eceff3; }
    .basket-table tbody tr.basket-bg td {
      padding: 34px 0; }
      .basket-table tbody tr.basket-bg td:last-child {
        padding-right: 80px;
        text-align: center; }
      .basket-table tbody tr.basket-bg td.total-pay {
        font-size: 24px; }
  .basket-table tbody td {
    vertical-align: top;
    padding: 32px 14px 36px;
    border-bottom: 1px solid #949eae;
    font-size: 18px;
    font-weight: 500; }
    .basket-table tbody td:first-child, .basket-table tbody td:last-child {
      padding-right: 0;
      padding-left: 0; }

@media (max-width: 1336px) {
  .basket-table tbody tr.basket-bg td:last-child {
    padding-right: 50px; } }

@media (max-width: 991px) {
  .basket {
    margin-bottom: 60px; }
    .basket-title {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.25; }
    .basket-descr {
      margin-bottom: 12px; }
    .basket-price {
      margin-bottom: 14px;
      font-size: 20px; }
    .basket-img {
      width: 166px;
      margin-right: 14px; }
    .basket-remove span {
      margin-left: 6px;
      font-size: 12px; }
    .basket-delivery {
      max-width: 100%;
      margin: 0;
      padding: 0 20px; }
      .basket-delivery h3 {
        margin-bottom: 8px; }
  .basket-table {
    margin-bottom: 38px; }
    .basket-table thead td {
      padding-bottom: 14px;
      font-size: 14px;
      letter-spacing: 0; }
      .basket-table thead td:first-child {
        width: 340px; }
      .basket-table thead td:nth-child(2) {
        width: 160px; }
      .basket-table thead td:nth-child(3) {
        width: 120px; }
      .basket-table thead td:nth-child(4) {
        width: 140px; }
      .basket-table thead td:last-child {
        width: 80px; }
    .basket-table tbody tr.basket-bg td {
      padding: 20px 0; }
      .basket-table tbody tr.basket-bg td.total-pay {
        font-size: 20px; }
      .basket-table tbody tr.basket-bg td:last-child {
        padding-right: 10px;
        padding-left: 10px; }
    .basket-table tbody td {
      padding: 20px 4px 18px;
      font-size: 16px; } }

@media (max-width: 767px) {
  .basket {
    margin-bottom: 40px; }
  .basket-table {
    width: 750px;
    margin-bottom: 10px; }
    .basket-table-scroll {
      overflow: auto;
      margin-bottom: 20px; } }

@media (max-width: 575px) {
  .basket-btn .link {
    font-size: 12px; } }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 5px;
  margin-bottom: 60px; }
  .article .soc-grey {
    margin-bottom: 10px; }
  .article-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin: -10px 100px 0 0; }
    .article-body h2 {
      margin-bottom: 23px;
      font: 400 34px/1.41 'YesevaOne'; }
    .article-body > img {
      margin-bottom: 35px; }
    .article-body p {
      margin-bottom: 25px;
      line-height: 1.65; }
      .article-body p b {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56; }
    .article-body > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 0 20px;
      padding: 4px 0 0;
      list-style: none; }
      .article-body > ul li {
        -ms-flex-preferred-size: 420px;
        flex-basis: 420px;
        margin-bottom: 20px; }
  .article-sidebar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 300px; }
  .article-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 29px; }
    .article-info__date {
      position: relative;
      margin-right: 28px;
      font-size: 14px;
      font-weight: 500;
      color: #959595; }
      .article-info__date:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        right: -16px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #959595; }
    .article-info__rubric {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-decoration: underline;
      color: #ec7c00; }
      .article-info__rubric:hover {
        text-decoration: none;
        color: #ec7c00; }
  .article-carousel {
    max-width: 860px;
    margin-bottom: 52px;
    padding-top: 6px; }
  .article-soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .article-soc__title {
      margin: 0 20px 10px 0;
      color: #4c5159; }

.article .news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0; }

.article .news-item {
  width: 100% !important;
  margin: 0 0 40px; }

@media (max-width: 1336px) {
  .article-body {
    margin: 0 30px 0 0; }
    .article-body > ul li {
      -ms-flex-preferred-size: 310px;
      flex-basis: 310px; }
  .article-carousel {
    max-width: 640px; } }

@media (max-width: 991px) {
  .article {
    margin-bottom: 40px; }
    .article-sidebar {
      width: 260px; }
    .article-body {
      margin-right: 20px; }
      .article-body h2 {
        font-size: 28px;
        line-height: 1.2; }
      .article-body > img {
        margin-bottom: 20px; }
      .article-body p {
        margin-bottom: 12px;
        line-height: 1.4; }
        .article-body p b {
          line-height: 1.4; }
      .article-body > ul {
        margin-bottom: 10px; }
        .article-body > ul li {
          -ms-flex-preferred-size: 228px;
          flex-basis: 228px;
          margin-bottom: 14px; }
    .article-carousel {
      max-width: 460px;
      margin-bottom: 30px; }
  .article .news-item {
    margin-bottom: 20px; } }

@media (max-width: 767px) {
  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 30px; }
    .article-body {
      margin-right: 0;
      margin-bottom: 40px; }
      .article-body > ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .article-body > ul li {
          -ms-flex-preferred-size: 260px;
          flex-basis: 260px;
          margin: 0 6px 12px; }
    .article-sidebar {
      width: 100%; }
    .article-carousel {
      margin: 0 auto 24px; } }

@media (max-width: 575px) {
  .article-body {
    margin-bottom: 24px; }
    .article-body h2 {
      font-size: 26px; }
  .article-info {
    margin-bottom: 20px; }
  .article-carousel {
    max-width: 300px; } }

.error404 {
  max-width: 620px;
  margin: 0 auto;
  padding: 140px 0 114px;
  text-align: center; }
  .error404-wrap {
    background-color: #eceff3; }
  .error404 img {
    margin-bottom: 57px; }
  .error404 p {
    margin-bottom: 10px;
    color: #6a6f76; }
    .error404 p a {
      text-decoration: underline;
      color: #ec7c00; }
      .error404 p a:hover {
        text-decoration: none; }

@media (max-width: 767px) {
  .error404 {
    padding: 80px 0; }
    .error404 img {
      margin-bottom: 32px; } }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 80px; }
  .main-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding-right: 60px; }
  .main-content {
    color: #0a0a0a; }
    .main-content .link {
      padding: 13px 25px 12px;
      margin-bottom: 14px;
      background-color: #ec7c00;
      color: #fff; }
      .main-content .link:hover {
        background-color: #fff;
        color: #ec7c00; }
    .main-content > img {
      margin: 35px 0 54px; }
    .main-content h3 {
      margin-bottom: 10px;
      font: 400 32px/1.3 'YesevaOne'; }
    .main-content p {
      margin-bottom: 0;
      line-height: 1.65; }
      .main-content p.p-strong {
        margin-bottom: 10px;
        line-height: 1.6; }
      .main-content p.p-info {
        margin-top: 23px; }
      .main-content p strong {
        font-size: 18px;
        font-weight: 500; }
      .main-content p b {
        font-weight: 700; }
      .main-content p a {
        font-weight: 700;
        color: #0a0a0a; }
        .main-content p a:hover {
          color: #ec7c00; }
        .main-content p a.write {
          font-weight: 400;
          text-decoration: underline; }
          .main-content p a.write:hover {
            text-decoration: none; }
    .main-content ul {
      margin: 10px 0 32px;
      padding: 0;
      list-style: none; }
      .main-content ul li {
        position: relative;
        padding-left: 18px;
        margin-bottom: 10px;
        line-height: 1.65;
        color: #0a0a0a; }
        .main-content ul li:before {
          content: '';
          display: block;
          position: absolute;
          top: 12px;
          left: 0;
          width: 12px;
          height: 1px;
          background-color: #0a0a0a; }
        .main-content ul li:last-child {
          margin-bottom: 0; }

.main .advantages {
  position: relative;
  z-index: 5;
  padding: 58px 0 50px;
  background: url(../images/advantages-bg.jpg) no-repeat 50%;
  background-size: cover; }
  .main .advantages:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); }
  .main .advantages-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px; }
  .main .advantages-item {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    margin: 0 44px 32px; }
  .main .advantages-descr {
    max-width: 660px;
    padding: 0 15px; }

@media (max-width: 1336px) {
  .main-body {
    padding-right: 0; }
  .main .advantages-item {
    margin: 0 20px 32px; } }

@media (max-width: 991px) {
  .main {
    margin-bottom: 60px; }
    .main-content .link {
      margin-bottom: 8px; }
    .main-content > img {
      margin: 30px 0; }
    .main-content h3 {
      font-size: 28px; }
    .main-content ul {
      margin-bottom: 22px; }
      .main-content ul li {
        margin-bottom: 6px;
        line-height: 1.4; }
        .main-content ul li:before {
          top: 10px; }
  .main .advantages-item {
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
    margin: 0 10px 28px; } }

@media (max-width: 767px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 50px; } }

@media (max-width: 575px) {
  .main .advantages {
    padding: 48px 0; }
    .main .advantages-items {
      margin-bottom: 12px; }
    .main .advantages-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 240px;
  margin: 6px 80px 40px 0; }

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar-list li {
    padding: 21px 0 22px;
    border-bottom: 1px solid #c1cad7; }
    .sidebar-list li:first-child {
      border-top: 1px solid #c1cad7; }
    .sidebar-list li.active a {
      text-decoration: none;
      color: #6a6f76; }
    .sidebar-list li a {
      font-weight: 500;
      letter-spacing: 1px;
      text-decoration: underline;
      text-transform: uppercase;
      color: #ec7c00; }
      .sidebar-list li a:hover {
        text-decoration: none;
        color: #6a6f76; }

@media (max-width: 1336px) {
  .sidebar {
    margin: 0 40px 30px 0; } }

@media (max-width: 991px) {
  .sidebar {
    margin-right: 20px; }
    .sidebar-list li {
      padding: 16px 0; } }

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-right: 0; }
    .sidebar-list li {
      padding: 12px 0;
      text-align: center; } }

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 0 60px; }

.about-item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 36px 20px 42px 29px;
  border: 1px solid #c1cad7; }
  .about-item__title {
    margin-bottom: 10px;
    font: 400 32px/1 'YesevaOne';
    color: #0a0a0a; }
  .about-item ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .about-item ul li {
      position: relative;
      margin-bottom: 10px;
      text-indent: 22px;
      line-height: 1.65;
      color: #0a0a0a; }
      .about-item ul li:before {
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        left: 0;
        width: 13px;
        height: 1px;
        background-color: #0a0a0a; }
      .about-item ul li:last-child {
        margin-bottom: 0; }

@media (max-width: 991px) {
  .about-items {
    margin: 35px 0; }
  .about-item {
    padding: 20px 14px; }
    .about-item__title {
      font-size: 22px; }
    .about-item ul li {
      margin-bottom: 4px;
      line-height: 1.4; }
      .about-item ul li:before {
        top: 10px; } }

@media (max-width: 575px) {
  .about-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .about-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

.delivery p {
  margin-bottom: 16px;
  line-height: 1.65; }
  .delivery p a {
    text-decoration: underline;
    color: #ec7c00; }
    .delivery p a:hover {
      text-decoration: none; }

.delivery-items {
  margin-bottom: 26px; }

.delivery-item {
  margin-bottom: 42px;
  color: #0a0a0a; }
  .delivery-item:last-child {
    margin-bottom: 0; }
  .delivery-item__title {
    margin-bottom: 19px;
    font: 400 32px/1.38 'YesevaOne'; }
  .delivery-item__head {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500; }

.delivery-confidentiality {
  padding: 40px;
  border: 1px solid #c1cad7; }
  .delivery-confidentiality p {
    margin-bottom: 0; }

@media (max-width: 767px) {
  .delivery-confidentiality {
    padding: 20px; }
  .delivery-item {
    margin-bottom: 30px; }
    .delivery-item__title {
      margin-bottom: 12px; } }
