@charset "UTF-8";
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'HelveticaNeueCyr', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  -webkit-transition: 300ms;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

.btn {
  padding: 20px 28px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 0;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  background: #008dd2;
}

.btn.btn-primary:hover {
  background: #037cb7;
}

.btn.btn-primary:active {
  background: #037cb7 !important;
}

.btn.btn-secondary {
  background: #4e565a;
}

.btn.btn-secondary:hover {
  background: #008dd2;
}

.btn.btn-secondary:active {
  background: #008dd2 !important;
}

.title {
  font-size: 54px;
  font-weight: 700;
  margin: 0 0 40px;
  color: #008dd2;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 991px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
  .title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .btn {
    padding: 12px 17px;
  }
}

.burger {
  display: none;
  width: 30px;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.burger a span {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

/* Content */
.content {
  line-height: 1.5;
}

.content h2 {
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.5;
}

.content h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.5;
}

.content p {
  margin-bottom: 25px;
}

.content > img {
  margin-bottom: 25px;
}

.content ul {
  margin-bottom: 25px;
}

.content ul.bold {
  font-weight: bold;
  font-size: 18px;
}

.content ul li {
  margin-bottom: 10px;
}

.content ul li:last-child {
  margin-bottom: 0;
}

.content ul li:before {
  content: '—  ';
  color: #008dd2;
  display: inline;
}

.content .list {
  margin-bottom: 20px;
}

.content .list div {
  font-size: 18px;
  font-weight: bold;
}

.content .list ul {
  margin-left: 30px;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 767px) {
  .content h2 {
    font-size: 28px;
  }
  .content h3 {
    font-size: 22px;
  }
  .content > img {
    margin-bottom: 20px;
  }
}

/* Header */
.header.inner-header {
  -webkit-box-shadow: 0 10px 18px 2px rgba(54, 54, 54, 0.05);
  box-shadow: 0 10px 18px 2px rgba(54, 54, 54, 0.05);
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 27px 0 18px;
}

.header-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.header-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4e565a;
  margin-right: 93px;
}

.header-tel:hover {
  color: #008dd2;
}

.header-tel img {
  margin-right: 7px;
}

.header-email {
  color: #4e565a;
  text-decoration: underline;
}

.header-email:hover {
  color: #008dd2;
  text-decoration: underline;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav {
  margin-right: 85px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav ul li {
  margin-right: 36px;
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.header-nav ul li.active a {
  color: #4e565a;
}

.header-nav ul li a {
  color: #008dd2;
  font-size: 18px;
  font-weight: bold;
}

.header-nav ul li a:hover {
  color: #4e565a;
}

.header-languages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-languages ul li {
  margin-right: 10px;
}

.header-languages ul li:last-child {
  margin-right: 0;
}

.header-languages ul li.active a {
  background: #4e565a;
  color: #ffffff !important;
}

.header-languages ul li a {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  color: #008dd2;
}

.header-languages ul li a:hover {
  color: #4e565a;
}

.burger {
  display: none;
}

@media only screen and (max-width: 1336px) {
  .header-nav {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-nav {
    margin-right: 20px;
  }
  .header-nav ul li {
    margin-right: 15px;
  }
  .header-nav ul li a {
    font-size: 16px;
  }
  .header-logo {
    width: 350px;
  }
}

@media only screen and (max-width: 991px) {
  .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-logo {
    width: 250px;
    margin-bottom: 25px;
  }
  .header-contacts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    margin-right: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
  .header-nav.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .header-nav ul {
    display: block;
    padding: 20px 0 10px;
  }
  .header-nav ul li {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .header-nav ul li a {
    font-size: 20px;
  }
  .header-tel {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header-content {
    width: 100%;
  }
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main {
    overflow: visible;
  }
  .burger {
    display: block;
    margin-right: 20px;
  }
}

/* Lines */
.main {
  position: relative;
  overflow: hidden;
}

.lines {
  position: absolute;
  width: 1460px;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lines .line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.5px;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: 9998;
}

.lines .line:nth-child(1) {
  left: 0;
}

.lines .line:nth-child(2) {
  left: 25%;
}

.lines .line:nth-child(3) {
  left: 50%;
}

.lines .line:nth-child(4) {
  left: 75%;
}

.lines .line:nth-child(5) {
  left: 100%;
}

@media only screen and (max-width: 991px) {
  .lines {
    display: none;
  }
}

/* Showcase */
.showcase {
  background: url(../images/showcase-bg.jpg);
  background-size: cover;
  margin-bottom: 70px;
}

.showcase-inner {
  padding: 180px 0 50px;
  color: #ffffff;
  position: relative;
  z-index: 3;
}

.showcase-title {
  font-weight: bold;
  font-size: 74px;
  max-width: 860px;
  margin-bottom: 42px;
}

.showcase ul {
  max-width: 660px;
  margin-bottom: 110px;
}

.showcase ul li {
  font-size: 24px;
  line-height: 1.6;
}

.showcase ul li:before {
  content: '—  ';
  display: inline;
}

.showcase-down {
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.showcase-down:hover {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

@media only screen and (max-width: 1200px) {
  .showcase-inner {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase-inner {
    padding: 40px 0;
  }
  .showcase-title {
    font-size: 45px;
  }
  .showcase ul {
    margin-bottom: 30px;
  }
  .showcase ul li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    margin-bottom: 30px;
  }
  .showcase-inner {
    padding: 30px 0;
  }
  .showcase-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .showcase ul li {
    font-size: 16px;
  }
  .showcase-down {
    width: 40px;
    height: 40px;
  }
  .showcase-down img {
    max-height: 60%;
  }
}

/* About */
.about {
  padding: 0 0 85px;
}

.about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.about-content {
  width: 510px;
  margin-right: 123px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.about-content ul {
  margin-bottom: 40px;
}

.about-img {
  position: relative;
}

.about-img:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/about-decor.png) no-repeat;
  width: 520px;
  height: 400px;
  left: -40px;
  bottom: -40px;
}

@media only screen and (max-width: 1200px) {
  .about-content {
    width: 350px;
  }
}

@media only screen and (max-width: 991px) {
  .about {
    padding: 0 0 40px;
  }
  .about-img {
    display: none;
  }
  .about-content {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .about {
    padding: 0 0 30px;
  }
}

/* Advantages */
.advantages {
  background: #edeff2;
  margin-bottom: 80px;
}

.advantages-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

.advantages-item {
  width: 25%;
  padding: 0 30px;
  text-align: center;
}

.advantages-icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto 60px;
}

.advantages-icon img {
  position: relative;
  z-index: 2;
}

.advantages-icon:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 80px;
  height: 80px;
  background: url(../images/advantages-decor.png) no-repeat;
}

.advantages-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

@media only screen and (max-width: 1200px) {
  .advantages-item {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 991px) {
  .advantages {
    margin-bottom: 50px;
  }
  .advantages-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .advantages {
    margin-bottom: 30px;
  }
  .advantages-inner {
    display: block;
    padding: 30px 0;
  }
  .advantages-item {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 30px;
  }
  .advantages-item:last-child {
    margin-bottom: 0;
  }
  .advantages-text {
    font-size: 16px;
  }
}

/* News */
.news {
  padding: 0 0 20px;
}

.news.article-news {
  background: #edeff2;
  padding-top: 64px;
}

.news.article-news .news-content {
  background: #edeff2;
}

.news-inner {
  position: relative;
}

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 55px;
}

.news-title {
  margin-bottom: 0;
  margin-right: 65px;
}

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news-item {
  width: calc(33.33% - 27px);
  margin: 0 40px 50px 0;
}

.news-item:nth-child(3n) {
  margin-right: 0;
}

.news-date {
  color: #6b7478;
  margin-bottom: 20px;
  font-weight: bold;
}

.news-img {
  position: relative;
  display: block;
  margin-right: 80px;
}

.news-img img {
  position: relative;
  z-index: 1;
}

.news-img:after {
  content: '';
  display: block;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 140px;
  height: 140px;
  background: url(../images/news-decor.png) no-repeat;
}

.news-content {
  background: #ffffff;
  margin-top: -60px;
  margin-left: 50px;
  padding: 25px 0 0 25px;
  position: relative;
  z-index: 2;
}

.news-text {
  font-size: 18px;
  margin-bottom: 15px;
}

.news-text:hover {
  text-decoration: underline;
  color: #008dd2;
}

.news-link {
  font-size: 16px;
  font-weight: bold;
  color: #008dd2;
  text-decoration: underline;
}

.news-link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .news-text {
    font-size: 14px;
  }
  .news-link {
    font-size: 14px;
  }
  .news-date {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .news-item {
    width: calc(50% - 40px);
  }
  .news-item:nth-child(3n) {
    margin-right: 40px;
  }
  .news-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .news.article-news {
    padding-top: 30px;
  }
  .news-item {
    width: 100%;
    margin-right: 0 !important;
  }
  .news-header {
    margin-bottom: 20px;
  }
  .news-img:after {
    display: none;
  }
  .news-title {
    margin-right: 35px;
  }
}

/* Projects */
.projects {
  background: #edeff2;
  margin-bottom: 130px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projects-inner {
  padding: 80px 0;
  position: relative;
}

.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.projects-title {
  margin-bottom: 0;
  margin-right: 65px;
}

.projects-content {
  width: 50%;
  padding-right: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.projects-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projects-footer-content {
  width: 310px;
  margin-right: 60px;
}

.projects-footer-link a {
  width: 80px;
  height: 80px;
  background-color: #4e565a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects-footer-link a:hover {
  background: #008dd2;
}

.projects-logo {
  margin-bottom: 15px;
}

.projects-img {
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
}

.projects-img img {
  position: relative;
  z-index: 2;
}

.projects-img:before {
  content: "";
  display: block;
  width: 520px;
  height: 400px;
  background: url(../images/about-decor.png);
  position: absolute;
  top: 0;
  right: 0;
}

.slick-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff url(../images/arrows.png);
  text-indent: -9999px;
  border: 0;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  background-position: 0 0;
  left: -70px;
}

.slick-arrow.slick-prev:hover {
  background-position: 0 100%;
}

.slick-arrow.slick-next {
  background-position: 100% 0;
  right: -70px;
}

.slick-arrow.slick-next:hover {
  background-position: 100% 100%;
}

.slick-arrow:hover {
  background-color: #008dd2;
}

@media only screen and (max-width: 1400px) {
  .slick-arrow.slick-prev {
    left: 0;
  }
  .slick-arrow.slick-next {
    right: 0;
  }
  .projects-container {
    padding: 0 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .projects-img:before {
    display: none;
  }
  .projects-img {
    padding: 0;
  }
}

@media only screen and (max-width: 991px) {
  .projects {
    margin-bottom: 50px;
  }
  .projects-img {
    display: none;
  }
  .projects-content {
    width: 100%;
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .projects {
    margin-bottom: 30px;
  }
  .projects-inner {
    padding: 30px 0;
  }
  .projects-container {
    padding: 0 50px;
  }
  .slick-arrow {
    width: 30px;
    height: 30px;
    background-size: 60px;
  }
}

/* Info block */
.info-block {
  margin-bottom: 100px;
}

.info-block-inner {
  background: url(../images/info-block-bg.jpg) no-repeat 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px 50px;
  position: relative;
}

.info-block-inner:before {
  content: '';
  display: block;
  position: absolute;
  width: 320px;
  height: 20px;
  background: url(../images/info-block-decor1.png);
  left: 75px;
  top: 100%;
}

.info-block-inner:after {
  content: '';
  display: block;
  position: absolute;
  width: 540px;
  height: 40px;
  background: url(../images/info-block-decor2.png);
  right: 75px;
  bottom: 100%;
}

.info-block-text {
  width: 50%;
  margin-right: 10px;
  color: #ffffff;
}

.info-block-text h3 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 18px;
}

.info-block-links {
  margin-top: 15px;
}

.info-block-links a {
  border: 3px solid #4e565a;
}

.info-block-links a:first-child {
  margin-right: 53px;
}

@media only screen and (max-width: 1200px) {
  .info-block-links a:first-child {
    margin-right: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .info-block {
    margin-bottom: 50px;
  }
  .info-block-inner {
    display: block;
  }
  .info-block-text {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .info-block-inner {
    padding: 20px;
  }
  .info-block-inner:after, .info-block-inner:before {
    display: none;
  }
  .info-block-text h3 {
    font-size: 24px;
  }
  .info-block-links a {
    margin-bottom: 10px;
  }
}

/* Footer */
.footer {
  background: #4e565a;
  color: #ffffff;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0 40px;
  position: relative;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 413px;
  max-width: 100%;
}

.footer-nav ul li {
  margin-bottom: 20px;
  width: 50%;
}

.footer-nav ul li a {
  font-size: 18px;
  font-weight: bold;
}

.footer-nav ul li a:hover {
  color: #008dd2;
}

.footer-contacts {
  max-width: 250px;
}

.footer-contacts-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-contacts-title:hover {
  color: #008dd2;
}

.footer-contacts-email {
  text-decoration: underline;
}

.footer-contacts-email:hover {
  text-decoration: underline;
  color: #008dd2;
}

.footer-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #c2c7ce;
  padding-bottom: 20px;
  font-size: 14px;
}

.footer-info a:hover {
  color: #008dd2;
}

@media only screen and (max-width: 1200px) {
  .footer-nav ul {
    width: 300px;
  }
}

@media only screen and (max-width: 991px) {
  .footer-nav ul {
    display: block;
    width: auto;
    margin-right: 50px;
  }
  .footer-nav ul li {
    margin-right: 0;
    width: 100%;
  }
  .footer-logo {
    width: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-inner {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-info {
    display: block;
    text-align: center;
  }
  .footer-info .omg {
    margin-top: 10px;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  position: relative;
  padding: 33px 0 15px;
}

.breadcrumbs ul li {
  display: inline;
  color: #008dd2;
  margin-bottom: 10px;
}

.breadcrumbs ul li:after {
  content: '/';
  display: inline-block;
  margin: 0 5px;
}

.breadcrumbs ul li:after a:hover {
  text-decoration: underline;
}

.breadcrumbs ul li:last-child:after {
  display: none;
}

.breadcrumbs ul li:first-child:after {
  display: inline;
}

/* About page */
.about-header {
  position: relative;
  max-width: 900px;
}

/* Docs */
.docs {
  margin-bottom: 80px;
}

.docs-inner {
  position: relative;
}

.docs-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 65px;
}

.docs-items .slick-arrow {
  background-color: #edeff2;
}

.docs-items .slick-arrow:hover {
  background-color: #008dd2;
}

.docs-item {
  padding: 0 10px;
}

.docs-content {
  max-width: 220px;
  margin: 0 auto;
  position: relative;
}

.docs-content:hover .hover {
  opacity: 1;
  visibility: visible;
}

.docs-content .hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 149, 210, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1400px) {
  .docs-items {
    padding: 0 70px;
  }
}

@media only screen and (max-width: 767px) {
  .docs {
    margin-bottom: 30px;
  }
  .docs-title {
    margin-bottom: 30px;
  }
  .docs-items {
    padding: 0 50px;
  }
}

/* Partners */
.partners {
  background: #edeff2;
  padding: 80px 0 90px;
}

.partners-title {
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: bold;
}

.partners-inner {
  position: relative;
}

.partners-items {
  position: relative;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partners-items:before {
  content: '';
  display: block;
  position: absolute;
  right: 75px;
  top: -40px;
  height: 80px;
  width: 550px;
  background: url(../images/partners-decor.png);
}

.partners-item {
  width: 20%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  background: #ffffff;
  position: relative;
}

.partners-item img {
  max-width: 80%;
  max-height: 80%;
}

@media only screen and (max-width: 767px) {
  .partners {
    padding: 30px 0;
  }
  .partners-items:before {
    display: none;
  }
  .partners-title {
    margin-bottom: 30px;
  }
  .partners-item {
    width: 33.33%;
  }
}

@media only screen and (max-width: 450px) {
  .partners-item {
    width: 100%;
  }
}

/* Contacts */
.contacts {
  margin-bottom: 140px;
}

.contacts-inner {
  position: relative;
}

.contacts-head {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 100px;
}

.contacts-item {
  max-width: 280px;
  margin-right: 140px;
}

.contacts-item b {
  display: block;
  margin-bottom: 5px;
}

.contacts-item p {
  margin-bottom: 15px;
}

.contacts-item a {
  color: #008dd2;
  text-decoration: underline;
}

.contacts-item a:hover {
  text-decoration: none;
}

.contacts-map {
  position: relative;
  height: 550px;
  padding-right: 40px;
}

.contacts-map:before, .contacts-map:after {
  content: '';
  display: block;
  position: absolute;
  width: 540px;
  height: 180px;
  background: url(../images/contacts-decor.png);
}

.contacts-map:before {
  right: 0;
  top: -40px;
}

.contacts-map:after {
  left: 75px;
  bottom: -30px;
}

.contacts-map iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .contacts {
    margin-bottom: 50px;
  }
  .contacts-items {
    display: block;
    margin-bottom: 0;
  }
  .contacts-item {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .contacts-map {
    padding-right: 0;
  }
  .contacts-map:before, .contacts-map:after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 0;
  }
  .contacts-head {
    font-size: 18px;
  }
  .contacts-map {
    height: 300px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* Directions */
.directions-inner {
  position: relative;
}

.directions-title {
  margin-bottom: 0;
}

.directions-items {
  padding: 0 160px;
}

.directions-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #76878f;
  padding: 70px 0 100px;
}

.directions-item:last-child {
  border-bottom: 0;
}

.directions-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 78px;
  width: 160px;
  height: 160px;
  position: relative;
  margin-left: 60px;
}

.directions-icon:before {
  content: '';
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  background: url(../images/directions-decor.png);
  left: -60px;
  top: 30px;
}

.directions-icon img {
  position: relative;
}

.directions-name {
  margin-bottom: 44px;
}

.directions-name a {
  font-size: 42px;
  font-weight: 400;
}

.directions-name a:hover {
  color: #008dd2;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  .directions-items {
    padding: 0;
  }
}

@media only screen and (max-width: 991px) {
  .directions-name a {
    font-size: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .directions-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .directions-icon {
    margin: 0 0 50px;
  }
  .directions-content {
    width: 100%;
    text-align: center;
  }
  .directions-name {
    margin-bottom: 15px;
  }
  .directions-name a {
    font-size: 24px;
  }
  .directions-item {
    padding: 30px 0;
  }
}

/* Direction */
.direction-inner {
  position: relative;
  padding: 0 160px;
}

.direction .content {
  margin-bottom: 70px;
}

.direction .content ul {
  margin-bottom: 40px;
}

.direction .content ul li {
  margin-bottom: 3px;
}

@media only screen and (max-width: 1200px) {
  .direction-inner {
    padding: 0;
  }
}

/* Pagination */
.pagination {
  margin-bottom: 50px;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination ul li {
  margin-right: 10px;
  color: #4e565a;
  font-size: 16px;
  font-weight: bold;
}

.pagination ul li:last-child {
  margin-right: 0;
}

.pagination ul li a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination ul li.arrow.disabled {
  color: #cacccd;
}

.pagination ul li.arrow.disabled a:hover {
  color: #008dd2;
}

.pagination ul li:not(.arrow) a {
  border: 1px solid #4e565a;
}

.pagination ul li:not(.arrow) a:hover {
  background: #4e565a;
  color: #ffffff;
}

.pagination ul li.active a {
  background: #4e565a;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .pagination ul li {
    margin-right: 5px;
  }
  .pagination ul li a {
    font-size: 14px;
    width: 27px;
    height: 30px;
  }
}

/* Article */
.article {
  margin-bottom: 70px;
}

.article-inner {
  position: relative;
  padding: 0 160px;
}

.article-date {
  font-weight: bold;
  color: #6b7478;
  margin-bottom: 40px;
}

.article .slick-arrow {
  background-color: #edeff2;
  z-index: 999;
}

.article .slick-arrow:hover {
  background-color: #008dd2;
}

.article .gallery {
  margin-bottom: 25px;
}

.article-link {
  font-weight: bold;
  color: #008dd2;
  text-decoration: underline;
}

.article-link:hover {
  text-decoration: none;
  color: #008dd2;
}

@media only screen and (max-width: 1200px) {
  .article-inner {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .article {
    margin-bottom: 30px;
  }
}

/* Tender */
.tender {
  margin-bottom: 75px;
  position: relative;
  line-height: 1.4;
}

.tender-inner {
  max-width: 940px;
  margin: 0 auto;
}

.tender-container {
  border: 1px solid #d1d1d1;
  margin-bottom: 40px;
}

.tender-body {
  padding: 40px 70px;
}

.tender-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.tender-info {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

.tender-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
}

.tender-info li span:first-child {
  width: 39%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: bold;
  padding-right: 10px;
  display: block;
}

.tender-info li span a {
  color: #008dd2;
  font-weight: normal;
}

.tender-footer-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
}

.tender-footer-info li:first-child span {
  font-weight: bold;
}

.tender-footer-info li span:first-child {
  width: 39%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 10px;
}

.tender-footer-info li span a {
  color: #008dd2;
  font-weight: normal;
}

.tender-footer {
  padding: 40px 70px;
  background: #edeff2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #d1d1d1;
}

.tender-link {
  width: 39%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tender-description a {
  color: #008dd2;
}

.tender-back {
  color: #008dd2;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 73px;
}

.tender-back:hover {
  text-decoration: none;
  color: #008dd2;
}

@media only screen and (max-width: 991px) {
  .tender-footer, .tender-body {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .tender-footer, .tender-body {
    padding: 15px 20px;
    font-size: 14px;
  }
  .tender-footer {
    display: block;
  }
  .tender-link {
    margin-bottom: 15px;
  }
  .tender-back {
    margin-left: 0;
  }
  .tender-info li, .tender-footer-info li {
    padding-right: 10px;
  }
  .tender-info li span:first-child, .tender-footer-info li span:first-child {
    width: 43%;
  }
}

/* Tenders */
.tenders {
  margin-bottom: 85px;
}

.tenders-inner {
  position: relative;
}

.tenders-title {
  margin-bottom: 50px;
}

.tenders-items {
  max-width: 940px;
  margin: 0 auto 56px;
}

.tenders-item {
  position: relative;
  border: 1px solid #d1d1d1;
  border-top: none;
  padding: 40px 70px;
}

.tenders-item:hover:before {
  opacity: 1;
  visibility: visible;
}

.tenders-item:before {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  right: -1px;
  border: 1px solid #008dd2;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #edeff2;
  visibility: hidden;
}

.tenders-item:first-child {
  border-top: 1px solid #d1d1d1;
}

.tenders-content {
  position: relative;
  z-index: 3;
  line-height: 1.4;
}

.tenders-number {
  margin-bottom: 12px;
}

.tenders-name {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
}

.tenders-name:hover {
  color: #008dd2;
}

.tenders-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tenders-info span {
  font-weight: bold;
  margin-bottom: 15px;
}

.tenders-info-item {
  width: 50%;
  padding-right: 15px;
}

@media only screen and (max-width: 991px) {
  .tenders-item {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .tenders-item {
    padding: 15px 20px;
  }
  .tenders-name {
    font-size: 21px;
  }
  .tenders-info {
    display: block;
  }
  .tenders-info-item {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 0;
  }
  .tenders-title {
    margin-bottom: 25px;
  }
}
