@charset "utf-8"
/* CSS Document */

=border-radius($radius: 5px)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

=placeholder-color($color-pl)
  &:-moz-placeholder,
  &::-moz-placeholder
    color: $color-pl
    opacity: 1
  &::-webkit-input-placeholder
    color: $color-pl


/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
strong, b 
  font-weight: bold
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
  display: block
body 
  line-height: 1
ol, ul 
  list-style: none
blockquote, q 
  quotes: none
blockquote:before, blockquote:after,
q:before, q:after 
  content: ''
  content: none
table 
  border-collapse: collapse
  border-spacing: 0
/* End CSS Reset */


/* ===== Typography ===== */

@font-face
  font-family: 'BeauSanspro-BoldItalic'
  src: url('../fonts/pfbeausanspro-bolditalic.eot')
  src: local("☺"), url('../fonts/pfbeausanspro-bolditalic.woff') format("woff"), url('../fonts/pfbeausanspro-bolditalic.ttf') format("truetype"), url('../fonts/pfbeausanspro-bolditalic.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'BeauSanspro-Italic'
  src: url('../fonts/pfbeausanspro-italic.eot')
  src: local("☺"), url('../fonts/pfbeausanspro-italic.woff') format("woff"), url('../fonts/pfbeausanspro-italic.ttf') format("truetype"), url('../fonts/pfbeausanspro-italic.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'BeauSanspro-LightItalic'
  src: url('../fonts/pfbeausanspro-lightital.eot')
  src: local("☺"), url('../fonts/pfbeausanspro-lightital.woff') format("woff"), url('../fonts/pfbeausanspro-lightital.ttf') format("truetype"), url('../fonts/pfbeausanspro-lightital.svg') format("svg")
  font-weight: normal
  font-style: normal


body 
  background: #ffffff
  font: 14px/18px Verdana, Arial, sans-serif
  color: #363636
  margin: 0
  padding: 0
  width: 100%
  height: 100%

html
  height: 100%

a 
  font: 14px/19px 'BeauSanspro-Italic', Arial, sans-serif
  color: #000000
  text-decoration: none

img 
  vertical-align: middle


h1 
  font: 300 36px/1.2em 'BeauSanspro-BoldItalic', sans-serif
  color: #000000
  margin-bottom: 25px

h2 
  font: 300 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif
  color: #000000
  margin-bottom: 10px

h3 
  font: 700 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif
  color: #54657e
  margin-bottom: 10px

p 
  font: 14px/22px 'BeauSanspro-Italic', Arial, sans-serif
  color: #000000
  margin-bottom: 20px

span
  font-family: 'BeauSanspro-Italic', Arial, sans-serif


ul.inline-format 
  font: 14px Verdana, Arial, sans-serif
  word-spacing: -.36em

ul.inline-format li 
  word-spacing: normal
  display: inline-block



/* ===== Page! ===== */


#wrapper 
  position: relative
  overflow: hidden
  min-height: 100%
  min-width: 320px
  margin: 0 auto

#middle.promo-midle
  padding-bottom: 0

#middle
  position: relative
  padding-bottom: 40px

h2.title.small
  font-size: 24px
  &:before
    top: 13px



h2.title.azure 
  background-color: #eff9fe

h2.title.grey  
  background-color: #f1f2f2

.t-wrap
  position: relative
  text-align: center
  margin-bottom: 25px
  margin-top: 40px
  &:before
    position: absolute
    content: ' '
    top: 18px
    left: 0
    width: 100%
    height: 2px
    background-color: #f58043

.title
  color: #4e1800
  font: bold 34px/1.2em 'BeauSanspro-BoldItalic', sans-serif
  text-transform: uppercase
  position: relative
  text-align: center
  position: relative
  display: inline-block
  background-color: #ffffff
  padding: 0 25px 0 25px   



.clear
  clear: both


.breadcrumb
  +border-radius(0px)
  background: none
  margin-bottom: 40px
  margin-top: 18px
  padding: 0
  > li + li:before
    content: '>'
    color: #000000
  > li 
    > a
      color: #00aeef 

  .active
    color: #000
    font-family: 'BeauSanspro-Italic', sans-serif


  
/* ===== Buttons ===== */

.btn.btn-brown
  color: #ffffff
  background-color: #822801
  &:hover
    background-color: #fdb913
    color: #000000
    .arrow
      background-color: #cc9308
      &:before
        background: url('../images/sprite.png') -31px -5px

  .arrow
    background-color: #4e1800
    &:before
      background: url('../images/sprite.png') -51px -5px no-repeat

.btn
  font: 16px/40px 'BeauSanspro-BoldItalic', sans-serif
  color: #000000
  text-align: center
  
  position: relative
  display: inline-block
  vertical-align: middle
  text-transform: uppercase
  background-color: #fdb913
  height: 40px
  padding: 0 0px 0 17px
  border: none
  min-width: 100px
  +border-radius(0px)
  outline: none
  text-decoration: none

  transition: all 0.2s ease
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  &:hover
    background-color: #822801
    color: #ffffff
    .arrow
      background-color: #4e1800
      &:before
        background: url('../images/sprite.png') -51px -5px no-repeat

  .arrow
    display: inline-block
    position: relative
    vertical-align: top
    margin-left: 10px
    width: 40px
    height: 40px
    background-color: #cc9308

    transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease
    &:before
      position: absolute
      content: ' '
      top: 50%
      left: 50%
      margin-top: -8px
      margin-left: -5px
      width: 10px
      height: 16px
      background: url('../images/sprite.png') -31px -5px no-repeat




/* ===== Header! ===== */

.header
  background: rgb(78,24,0) /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(78,24,0,1) 0%, rgba(78,24,0,1) 40%, rgba(235,235,235,1) 40%, rgba(235,235,235,1) 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(78,24,0,1) 0%,rgba(78,24,0,1) 40%,rgba(235,235,235,1) 40%,rgba(235,235,235,1) 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(78,24,0,1) 0%,rgba(78,24,0,1) 40%,rgba(235,235,235,1) 40%,rgba(235,235,235,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e1800', endColorstr='#ebebeb',GradientType=1 ) /* IE6-9 */

  .logo
    padding-top: 33px
    background-color: #4e1800

.header-info-wrap
  background-color: #ebebeb


.header-form, .footer-form
  display: inline-block
  vertical-align: top
  padding-top: 7px
  .form-group
    position: relative
    display: inline-block
    margin-right: 40px
    width: 240px
    .serach
      font: 16px/1.2em 'BeauSanspro-LightItalic', sans-serif
      color: #000000
      border: none
      border-bottom: 1px solid #000000
      padding-left: 2px
      padding-bottom: 7px
      background: none
      outline: none
      width: 100%
      +placeholder-color(#000)

    .search-btn
      width: 19px
      height: 19px
      background: url('../images/sprite.png') -187px -5px no-repeat
      outline: none
      border: none
      position: absolute
      bottom: 7px
      right: 3px


.header-info
  padding-top: 13px
  padding-left: 45px

  .header-cont
    display: inline-block
    float: right
    .number
      font: 36px/35px 'BeauSanspro-BoldItalic', sans-serif
      color: #000000
      margin-bottom: 0
      display: block
      letter-spacing: -1px
      text-decoration: none
      &:hover
        color: #484848

      span 
        font: 16px/1.2em 'BeauSanspro-LightItalic', sans-serif
        vertical-align: bottom
        padding-right: 7px
    .work-time
      display: block
      text-align: right
      font: 16px/1.2em 'BeauSanspro-LightItalic', sans-serif
      padding-top: 2px

// MENU
.navbar
  min-height: 100%

.navbar-default 
  background: none
  margin-top: 11px
  margin-bottom: 0
  +border-radius(0px)
  border: none
  .navbar-collapse
    padding: 0

  .navbar-nav
    .caret
      width: 16px
      height: 10px
      background: url('../images/sprite.png') -5px -5px no-repeat
      border: none
      vertical-align: top
      margin-top: 7px

    .open > a:focus
      color: #88aa17

    > li
      padding-left: 41.3px
      > a
        padding: 0
        font: 22px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        color: #000
        text-transform: uppercase
        padding-bottom: 8px

        transition: all 0.2s ease
        -webkit-transition: all 0.2s ease
        -moz-transition: all 0.2s ease
        &:hover, &:focus
          color: #88aa17
          border-bottom: 6px solid #88aa17
          .caret 
            background-position: -5px -18px

    .active
      > a 
        color: #88aa17
        background: none
        border-bottom: 6px solid #88aa17
        padding-bottom: 8px
        &:hover, &:focus
          background: none
          color: #88aa17


        


/* ===== Content! ===== */

.carousel-caption
  text-shadow: none

.carousel-control.left, .carousel-control.right
  background: none
  &:hover
    background: none

.carousel-caption
  text-align: left
  top: 0
  p 
    color: #000000
    font: 40px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    max-width: 460px
    padding: 75px 55px 0
    text-transform: uppercase
    span
      font-size: 100px
      color: #fc290e
      font-weight: 800

.offers
  margin-bottom: 30px
  .row
    margin-left: -5px
    margin-right: -5px
    > div 
      padding-left: 5px
      padding-right: 5px 

  div[class^="offer"]
    text-align: center
    position: relative
    margin-bottom: 10px
    background-size: cover

    &:hover .hover-bg, &:hover .btn
      opacity: 1
      transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease
    .hover-bg
      position: absolute
      opacity: 0
      top: 0
      left: 0
      content: ' '
      display: block
      z-index: 2
      width: 100%
      height: 100%
      background-color: rgba(#822801, 0.8)
    .btn
      opacity: 0
    .offer-wrap
      display: block
      position: absolute
      z-index: 3
      left: 0
      right: 0
      top: 40%
      > span
        font: bold 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        color: #fff
        display: block
        text-transform: uppercase
        padding: 0 20px 15px


  .offer-1
    background: url('../images/offer-bg-1.jpg') 0 0 no-repeat
    min-height: 440px
  .offer-2
    background: url('../images/offer-bg-2.jpg') 0 0 no-repeat
    min-height: 215px
    div.offer-wrap
      top: 30%
  .offer-3
    background: url('../images/offer-bg-3.jpg') 0 0 no-repeat
    min-height: 215px
  .offer-4
    background: url('../images/offer-bg-4.jpg') 0 0 no-repeat
    min-height: 215px
  .offer-5
    background: url('../images/offer-bg-5.jpg') 0 0 no-repeat
    min-height: 215px
    div.offer-wrap
      top: 30%

.form-bg
  background: url('../images/form-bg.jpg') 0 0 no-repeat
  min-height: 350px
  text-align: center
  margin-top: 30px
  margin-bottom: 60px
  .form-title
    color: #4e1800
    font: bold 36px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    display: block
    margin-bottom: 10px
  .form-caprion
    font: bold 16px/1.2em 'BeauSanspro-LightItalic', sans-serif
    color: #000
    margin-bottom: 15px
    display: block

div.promo-form
  background-color: #bbc700
  border: 1px solid #45200f
  padding: 20px 15px
  text-align: center
  .form-title
    color: #4e1800
    font: 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    display: block
    text-transform: uppercase
    margin-bottom: 15px
    .through
      text-decoration: line-through
      font-weight: bold
  .form-caprion
    font: bold 16px/1.2em 'BeauSanspro-LightItalic', sans-serif
    color: #000
    margin-bottom: 15px
    display: block




.form-wrap, .promo-form
  position: relative
  top: 20px
  float: right
  form 
    max-width: 360px
    margin: 0 auto

    input[type="text"]
      width: 100%
      height: 50px
      background-color: white
      border: 1px solid black
      padding: 0 17px
      font: 16px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      color: #000
      +placeholder-color(#000)
      margin-bottom: 18px

.form-wrap
  width: 100%
  max-width: 455px
  background-color: #fdb913
  padding: 22px 50px

.banners
  margin-bottom: 30px

// .hot-offers
//   margin-bottom: 30px
//   .offer-1
//     overflow: hidden
//     background: rgb(130,40,1) 
//     background: url('../images/hot-offer-1.png'), -moz-linear-gradient(left,  rgba(130,40,1,1) 0%, rgba(130,40,1,1) 49%, rgba(136,170,23,1) 49%, rgba(136,170,23,1) 100%) /* FF3.6-15 */
//     background:  url('../images/hot-offer-1.png'), -webkit-linear-gradient(left,  rgba(130,40,1,1) 0%,rgba(130,40,1,1) 49%,rgba(136,170,23,1) 49%,rgba(136,170,23,1) 100%) /* Chrome10-25,Safari5.1-6 */
//     background: url('../images/hot-offer-1.png'), linear-gradient(to right,  rgba(130,40,1,1) 0%,rgba(130,40,1,1) 49%,rgba(136,170,23,1) 49%,rgba(136,170,23,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#822801', endColorstr='#88aa17',GradientType=1 ) /* IE6-9 */
//     background-repeat: no-repeat
//     background-position: 50% 0
//     display: table
//     width: 100%
//     > a 
//       color: #fdb913
//       font: 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif
//       float: left
//       text-transform: uppercase
//       text-align: center
//       padding: 37px 17px

//     > span 
//       color: #4e1800
//       font: 17px/1.2em 'BeauSanspro-Italic', sans-serif
//       text-transform: uppercase
//       text-align: center
//       max-width: 140px
//       padding-right: 10px
//       display: table-cell
//       vertical-align: middle

//   .offer-2
//     padding: 34px
//     overflow: hidden
//     background: rgb(247,128,62) 
//     background: url('../images/hot-offer-2.jpg'), -moz-linear-gradient(left,  rgba(247,128,62,1) 0%, rgba(247,128,62,1) 49%, rgba(228,218,215,1) 50%, rgba(228,218,215,1) 50%, rgba(228,218,215,1) 100%) /* FF3.6-15 */
//     background: url('../images/hot-offer-2.jpg'), -webkit-linear-gradient(left,  rgba(247,128,62,1) 0%,rgba(247,128,62,1) 49%,rgba(228,218,215,1) 50%,rgba(228,218,215,1) 50%,rgba(228,218,215,1) 100%) /* Chrome10-25,Safari5.1-6 */
//     background: url('../images/hot-offer-2.jpg'), linear-gradient(to right,  rgba(247,128,62,1) 0%,rgba(247,128,62,1) 49%,rgba(228,218,215,1) 50%,rgba(228,218,215,1) 50%,rgba(228,218,215,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7803e', endColorstr='#e4dad7',GradientType=1 ) /* IE6-9 */
//     background-repeat: no-repeat
//     background-position: 50% 0
//     > a 
//       color: #4e1800
//       text-transform: uppercase
//       font: 30px/1.2em 'BeauSanspro-BoldItalic', sans-serif

.news
  position: relative
  overflow: hidden
  background: rgb(245,128,67) /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(245,128,67,1) 0%, rgba(245,128,67,1) 24%, rgba(235,235,235,1) 24%, rgba(245,128,67,1) 24%, rgba(235,235,235,1) 24%, rgba(235,235,235,1) 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(245,128,67,1) 0%,rgba(245,128,67,1) 24%,rgba(235,235,235,1) 24%,rgba(245,128,67,1) 24%,rgba(235,235,235,1) 24%,rgba(235,235,235,1) 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(245,128,67,1) 0%,rgba(245,128,67,1) 24%,rgba(235,235,235,1) 24%,rgba(245,128,67,1) 24%,rgba(235,235,235,1) 24%,rgba(235,235,235,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58043', endColorstr='#ebebeb',GradientType=1 ) /* IE6-9 */

  .header-title
    background-color: #f58043
    display: inline-block
    width: 165px
    height: 110%
    vertical-align: top
    position: absolute
    top: -15px

    transform: rotate(8deg)
    -moz-transform: rotate(8deg)
    -webkit-transform: rotate(8deg)
    .header-wrap 
      transform: rotate(-8deg)
      -moz-transform: rotate(-8deg)
      -webkit-transform: rotate(-8deg)
      position: absolute
      top: 55px
      text-align: center
      display: block
      color: #ffffff
      span 
        text-transform: uppercase
        color: #ffffff
        font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      .news-icon
        margin: 30px auto 0
        display: block
        width: 57px
        height: 62px
        background: url('../images/sprite.png') -122px -105px no-repeat
        
  
  .news-list
    float: right
    display: inline-block
    overflow: hidden
    max-width: 970px
    padding: 40px 0

    li+li:before
      position: absolute
      content: ' '
      width: 1px
      height: 170px
      background-color: #f4864c
      left: 30px

      transform: rotate(8deg)
      -moz-transform: rotate(8deg)
      -webkit-transform: rotate(8deg)

    > li 
      display: inline-block
      width: 32.99%
      vertical-align: top
      position: relative
      padding-left: 95px
      .news-title
        font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        color: #000
      p 
        margin-bottom: 14px
        line-height: 17px

      .pub-time
        color: #939598
        font: 14px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        float: left
      .show-more
        color: #00aeef
        font: 14px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        float: right


.socials
  margin-bottom: 40px
  .soc-title
    font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    color: #fff
    text-transform: uppercase
    padding: 9.5px 12px
    margin-left: -1px
    margin-right: -1px
    padding-left: 45px
    position: relative
    margin-bottom: 0
    &:before
      position: absolute
      left: 12px
      top: 50%
      margin-top: -11.5px
      content: ' '
      width: 23px
      height: 23px

  div[class^="soc-"]
    background-color: #ebebeb
    border-bottom: 1px solid #cccccc
    border-left: 1px solid #cccccc
    border-right: 1px solid #cccccc

  .follow
    color: #27728e
    font: 16px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    text-transform: uppercase
    text-decoration: underline
    display: inline-block
    margin-top: 15px
    &:hover
      text-decoration: none
    

  .social-body
    padding: 10px 10px 10px
    text-align: center

  .soc-vk
    .soc-title
      background-color: #27728e
      &:before
        background: url('../images/sprite.png') -241px -90px no-repeat

  .soc-ok  
    .soc-title
      background-color: #f58043
      &:before
        background: url('../images/sprite.png') -241px -57px no-repeat

  .soc-instagram  
    .soc-title
      background-color: #822801
      &:before
        background: url('../images/sprite.png') -34px -57px no-repeat


/* ===== Promo! ===== */

.jumbtron
  background: url('../images/jumbtrone-bg.jpg') 0 0 no-repeat
  padding-bottom: 40px
  .jumbtron-title
    color: #fc290e
    text-transform: uppercase
    text-align: center
    font: 44px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    float: right
    margin-top: 75px

  .jumbtron-subtitle
    text-align: center
    text-transform: uppercase
    color: #4e1800
    font: 34px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    span
      font: 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif

.promo

  .carousel
    margin-top: 200px

  .carousel-indicators
    bottom: 15px

  .carousel-indicators li , .carousel-indicators .active
    width: 13px
    height: 13px
    margin: 0

  .carousel-inner
    > .item
      overflow: hidden
      background-color: rgba(#4e1800, 0.9)
      padding: 23px 20px 43px
      img 
        border: 2px solid #f5b112
        +border-radius(200px)
        float: left
        margin-right: 45px

      .item-body
      p 
        color: #ffffff
        font: 18px/1.2em 'BeauSanspro-Italic', sans-serif

      .user-name
        color: #ffffff
        font: 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        display: block
        margin-bottom: 14px
      
      .item-caption
        color: #ffc604
        font: 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        display: block
        margin-bottom: 8px


.advantages
  .advantages-body
    margin-top: 35px
    overflow: hidden
    background: url('../images/weigher-bg.jpg') 48% 100% no-repeat
    .left-adv
      float: left
      p:nth-child(2)
        left: 90px

    .right-adv
      float: right
      p 
        margin-right: -30px
      p:nth-child(2)
        left: -90px

    p 
      position: relative
      margin-bottom: 25px
      text-transform: uppercase
      padding-left: 45px
      height: 90px
      z-index: 4
      padding-top: 37px
      span 
        position: relative
        color: #000000
        font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif
        z-index: 5
      &:before
        position: absolute
        left: 0
        top: 0
        content: ' '
        z-index: 1
        height: 90px
        width: 106px
        background: url('../images/sprite.png') -71px -5px no-repeat
      
.our-trainers
  background-color: #f1f2f2
  padding-bottom: 30px

.trainers-list
  > li 
    margin-bottom: 25px
    > p 
    > img   
      margin-bottom: 15px

  .training-head  
    background-color: #bbc700
    padding: 20px 20px
    .trainer-title
      color: #4e1800
      font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      display: block
      margin-bottom: 15px
      text-transform: uppercase
    .caption
      color: #4e1800
      font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      display: block

.compare
  padding-top: 35px
  background: rgb(69,32,15) /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(69,32,15,1) 0%, rgba(69,32,15,1) 50%, rgba(253,185,19,1) 50%, rgba(253,185,19,1) 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(69,32,15,1) 0%,rgba(69,32,15,1) 50%,rgba(253,185,19,1) 50%,rgba(253,185,19,1) 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(69,32,15,1) 0%,rgba(69,32,15,1) 50%,rgba(253,185,19,1) 50%,rgba(253,185,19,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45200f', endColorstr='#fdb913',GradientType=1 ) /* IE6-9 */
  .left-bl, .right-bl
    width: 50%
    float: left
    position: relative
    &:before
      position: absolute
      bottom: 0
      right: 0
      z-index: 3333
      content: ' '
      width: 303px
      height: 482px
      background: url('../images/fat-girl.png') 100% 100% no-repeat
    .head-title
      color: #fdb913
      font: 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      max-width: 100%
      text-align: center
      margin-bottom: 50px

    .left-bl-body
      > div 
      
        padding-bottom: 20px
        &:not(:last-child)
          border-bottom: 1px solid #fdb913
          margin-bottom: 25px
    
    .comare-title 
      color: #ffffff
      font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      text-transform: uppercase
      margin-bottom: 10px
    p 
      max-width: 260px
      margin-bottom: 0
      color: #ffffff

  div.right-bl
    &:before
      position: absolute
      bottom: 0
      left: 10px
      z-index: 3333
      content: ' '
      width: 282px
      height: 489px
      background: url('../images/skinny-girl.png') 0% 100% no-repeat

    .head-title
      color: #000
      padding-left: 0
    .comare-title
      color: #000
    .right-bl-body
      > div 
        padding-bottom: 20px
        &:not(:last-child)
          border-bottom: 1px solid #000
          margin-bottom: 25px

    p 
      color: #000
      padding-left: 300px
      max-width: 100%

.bold 
  font: 14px/1.2em 'BeauSanspro-BoldItalic', sans-serif

.success-stories

  p 
    line-height: 14px

  a 
    color: #00aeef
    text-decoration: underline
    &:hover
      text-decoration: none
  
  .history-block
    margin-bottom: 20px
    padding-bottom: 25px
    border-bottom: 1px solid #e1e1e1

  .before-after
    font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    text-align: center
    margin: 15px auto
    max-width: 220px
    span 
      font: 14px/1.2em 'BeauSanspro-Italic', sans-serif
      margin-top: 8px


  .table 
    width: 100%
    > tbody 
      > tr 
        &:nth-child(2n)
          background-color: #fdb913
        > td
          border-top: none
          padding: 7px 12px
          font: 14px/1.2em 'BeauSanspro-BoldItalic', sans-serif
          color: #000

  
  .user-info
    color: #000000
    font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
  
  .hist-caption
    color: #f48043
    font: 24px/1.2em 'BeauSanspro-Italic', sans-serif
    display: block
    margin-bottom: 33px

.reviews-lsit
  > li 
    margin-bottom: 25px

  .review-body
    background-color: #f1f2f2
    padding: 20px 25px
  .review-head
    margin-bottom: 20px
    overflow: hidden
    .user-avater
      +border-radius(200px)
      border: 2px solid #f58a52
      float: left
      margin-right: 70px

    p
      font-size: 18px
      margin-bottom: 10px

    .user-name
      position: relative
      color: #4e1800
      margin-top: 16px
      display: inline-block
      font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      margin-bottom: 8px
      &:before
        position: absolute
        left: -55px
        top: 0
        content: ' '
        width: 37px
        height: 28px
        background: url('../images/sprite.png') -5px -105px no-repeat


    .item-caption
      position: relative
      left: -20px
      color: #f48043
      font: 28px/1.2em 'BeauSanspro-BoldItalic', sans-serif


.form-bg.promo-form-bg
  background-position: 25% 0
  margin-bottom: 0
  min-height: 330px
  .form-wrap
    background: none
    top: 0
    padding: 0
    padding-top: 30px
    max-width: 555px

  .form-title
    color: #fff
    font-size: 28px
    line-height: 36px
    text-transform: uppercase
    margin-bottom: 25px

/* ===== Trainers! ===== */

.title-h1
  color: #4e1800
  font: 36px/1.2em 'BeauSanspro-BoldItalic', sans-serif
  margin-bottom: 35px
  text-transform: uppercase

.title-h2
  color: #000000
  text-transform: uppercase
  font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif

.content
  .cont-block
    margin-bottom: 35px

.left-aside, .right-aside
  margin-bottom: 50px

.aside-menu
  background-color: #f58043
  padding: 5px 18px
  margin-bottom: 30px
  > li
    border-bottom: 2px solid #4e1800
    &:last-child
      border-bottom: none
    > a
      display: block
      padding: 13px 0
      color: #000000
      font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
      text-transform: uppercase

.banner
  margin-bottom: 50px

.banner-link, .img-link
  display: block

.aside-img
  margin-bottom: 30px

.galery-list
  margin-right: -6px
  margin-left: -6px
  > li
    padding-right: 6px
    padding-left: 6px 
    margin-bottom: 12px
    a
      display: block

.info-block
  background-color: #fff8e7
  border: 1px solid #f7e9ea
  padding: 20px
  margin-bottom: 30px
  .info-title
    display: block
    font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    margin-bottom: 10px
  ul 
    margin-bottom: 24px
    list-style-type: disc
    list-style-position: inside
    padding-left: 12px
    > li 
      font: 14px/1.2em 'BeauSanspro-Italic', sans-serif
      margin-bottom: 8px


/* ===== Services! ===== */

.title-h2.brown
  text-transform: none
  color: #4e1800

.content
  margin-bottom: 50px
  img 
    margin-bottom: 25px
    display: inline-block

.cont-caption
  padding: 35px 40px
  background: url('../images/servise-content-bg.jpg') 50% 0 no-repeat
  min-height: 359px
  margin-bottom: 30px
  .caption-title
    color: #f60202
    font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    text-transform: uppercase
  span
    font: 18px/1.2em 'BeauSanspro-Italic', sans-serif
    display: block
    margin-bottom: 3px

.img-wrap
  float: left
  padding-left: 15px
  padding-right: 15px
  text-align: center
  img
    
    display: inline-block

/* ===== Form! ===== */

input[type="text"]
  outline: none


.placeholder 
  color: #959595 

*:focus::-moz-placeholder 
  color: transparent !important 

*[autofocus]::-moz-placeholder:focus 
  color: #000!important 

*:focus:-moz-placeholder 
  color: transparent !important 

*[autofocus]:-moz-placeholder:focus 
  color: #000!important 

*:focus::-webkit-input-placeholder 
  color: transparent !important 

*[autofocus]::-webkit-input-placeholder 
  color: #000!important 

/* Select dropdown control
 ------------------------------------ */

.jq-selectbox
  vertical-align: middle
  cursor: pointer
  width: 240px
  border-bottom: 1px solid #000000
  margin-top: 5px


.jq-selectbox__select
  height: 28px
  padding: 0 35px 0 21px
  
  color: #000
  font: 16px/1.4em 'BeauSanspro-LightItalic', sans-serif
  position: relative
  &:before
    position: absolute
    left: 2px
    bottom: 6px
    content: ' '
    width: 14px
    height: 21px
    background: url('../images/sprite.png') -98px -105px no-repeat


// .jq-selectbox
//   &.focused .jq-selectbox__select

//   &.disabled .jq-selectbox__select


.jq-selectbox__select-text
  display: block
  width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.jq-selectbox__trigger
  position: absolute
  top: 0
  right: 0
  width: 34px
  height: 100%

.jq-selectbox__trigger-arrow
  position: absolute
  top: 8px
  right: 7px
  width: 16px
  height: 10px
  background: url('../images/sprite.png') -5px -5px no-repeat
  filter: alpha(opacity = 30)

.jq-selectbox
  &:hover .jq-selectbox__trigger-arrow
    opacity: 1
    filter: alpha(opacity = 100)
  &.disabled .jq-selectbox__trigger-arrow
    opacity: 0.3
    filter: alpha(opacity = 30)

.jq-selectbox__dropdown
  top: 33px
  width: 100%
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0
  border: 1px solid #CCC
  border-radius: 4px
  background: #FFF
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
  font: 14px/18px Arial, sans-serif

.jq-selectbox__search
  margin: 5px
  input
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: 100%
    margin: 0
    padding: 5px 27px 6px 8px
    outline: none
    border: 1px solid #CCC
    border-radius: 3px
    box-shadow: inset 1px 1px #F1F1F1
    color: #333
    -webkit-appearance: textfield
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none

.jq-selectbox__not-found
  margin: 5px
  padding: 5px 8px 6px
  background: #F0F0F0
  font-size: 13px

.jq-selectbox
  ul
    margin: 0
    padding: 0
  li
    min-height: 18px
    padding: 5px 10px 6px
    color: #231F20
    &.selected
      background-color: #A3ABB1
      color: #FFF
    &:hover
      background-color: #08C
      color: #FFF
    &.disabled
      color: #AAA
      &:hover
        background: none
    &.optgroup
      font-weight: bold
      &:hover
        background: none
        color: #231F20
        cursor: default
    &.option
      padding-left: 25px



/* ===== Footer! ===== */

.footer

  .copyright
    overflow: hidden
    background-color: #ebebeb
    .copy
      float: left
      margin-bottom: 0
      padding: 18.5px 0
    .develop
      float: right
      margin-bottom: 0
      img 
        padding-left: 45px

  .footer-form
    .form-group
      width: 100%
      margin-right: 0
    .serach
      border-color: #fff
      color: #fff
      +placeholder-color(#fff)
    .search-btn
      background-position: -5px -34px
  
  .footer-bl
    background-color: #4e1800
    padding: 40px 0 30px

  .logo
    margin-bottom: 15px

  .address
    color: #fff
    font: 14px/1.2em 'BeauSanspro-LightItalic', sans-serif
    a 
      display: inline-block
      color: #fff
      padding-top: 5px
      text-decoration: underline
      &:hover
        text-decoration: none

  .footer-menu
    > li 
      margin-bottom: 10px
      > a 
        color: #fff
        font: 14px/1.2em 'BeauSanspro-LightItalic', sans-serif
        text-decoration: underline
        &:hover
          text-decoration: none

  .foot-info
    color: #ffffff
    font: 14px/1.4em 'BeauSanspro-LightItalic', sans-serif
    span 
      display: block
      padding: 12px 0
      font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif


/* ===== Contancnts! ===== */

.contacts-page
  #middle
    padding-bottom: 0

.link
  color: #00aeef
  font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif

.cont-info p 
  font-size: 18px

p.contact-title
  font: 24px/1.2em 'BeauSanspro-BoldItalic', sans-serif


.map
  margin-top: 30px
  height: 600px

.cont-social
  background-color: #fdb913
  padding: 40px 0
  margin-bottom: 35px
  span[class^="icon-"]
    display: inline-block
    vertical-align: middle
    background: url('../images/sprite.png') 0 0 no-repeat
    float: left
    margin-right: 25px
  a 
    display: block
    text-decoration: none
    margin-bottom: 10px

    &:hover
      text-decoration: underline
      color: #000

  .social-title
    font-size: 18px
    span 
      font-size: 14px
      display: block

  span.icon-vk
    width: 42px
    height: 42px
    background-position: -189px -109px
  span.icon-ok
    width: 42px
    height: 42px
    background-position: -189px -57px
  span.icon-insta
    width: 42px
    height: 42px
    background-position: -216px -5px



/* ===== Offers! ===== */

.offer-list
  .offer-title
    color: #4e1800
    padding-top: 20px
    padding-left: 20px
    margin-bottom: 10px
    font: 24px/1em 'BeauSanspro-BoldItalic', sans-serif
    display: block

  a.offer-body
    border-bottom: 1px solid #f58043
    padding-bottom: 20px
    overflow: hidden
    position: relative
    display: block
    text-decoration: none
    &:before
      position: absolute
      content: ' '
      z-index: 2
      width: 100%
      height: 100%
      display: block
      background-color: rgba(#fdb913, 0.7)
      opacity: 0

      transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease

    &:hover:before
      position: absolute
      content: ' '
      z-index: 2
      width: 100%
      height: 100%
      display: block
      background-color: rgba(#fdb913, 0.7)
      opacity: 1

      transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease

    
    > ul
      padding-left: 20px 
      list-style-type: disc
      list-style-position: inside
      margin-bottom: 15px
      > li 
        margin-bottom: 5px




/* ===== Single News! ===== */

.single-news
  overflow: hidden
  img 
    display: inline-block
  .news-body
    p 
      line-height: 24px

  .main-img
    float: left
    margin-right: 30px
  .pub-time
    color: #34baf1
    display: block
    font: 14px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    margin-bottom: 25px
  h1.news-title
    color: #4e1800
    font: 36px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    margin-bottom: 18px

.images-list
  clear: both
  padding-top: 45px
  margin-bottom: 30px
  > li 
    margin-bottom: 25px
    float: left
    padding-left: 15px
    padding-right: 15px
    text-align: center
    a 
      display: block


.more-news
  background-color: #eff9fe

.news-wrap
  margin-bottom: 35px


.news-list, .offer-list
  font: 14px Verdana, Arial, sans-serif
  word-spacing: -.36em
  img
    width: 100%
  > li  
    overflow: hidden
    margin-bottom: 45px
    position: relative
    float: none
    display: inline-block
    vertical-align: top
    word-spacing: normal
    display: inline-block
    
    .news-body:hover .news-img-wrap
      &:before
        position: absolute
        content: ' '
        z-index: 2
        width: 100%
        height: 100%
        display: block
        background-color: rgba(#fdb913, 0.7)
        opacity: 1


    .news-body:hover .news-title, .news-body:hover p
      color: #00aeef
      
  p, .news-title

    transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease

  .news-img-wrap
    position: relative
    display: block
    &:before
      position: absolute
      content: ' '
      z-index: 2
      width: 100%
      height: 100%
      display: block
      background-color: rgba(#fdb913, 0.7)
      opacity: 0

      transition: all 0.2s ease
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease

  .news-body
    border-bottom: 1px solid #f58043
    padding-bottom: 20px
    overflow: hidden
    position: relative

  .news-title
    color: #000000
    font: 18px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    display: block
    margin-top: 20px
    margin-bottom: 15px


  .pub-time
    color: #939598
    font: 14px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    float: left
  .show-more
    float: right
    color: #00aeef
    font: 14px/1.2em 'BeauSanspro-BoldItalic', sans-serif
    text-decoration: underline
    &:hover
      text-decoration: none


.index 
  .carousel-inner>.item
    
    img
      max-width: none
      width: 100%

/* ===== Media! ===== */

@media only screen and (max-width: 1200px)

  .history-block img 
    width: 48%

  .success-stories .before-after
    max-width: 190px

  .carousel-caption p 
    padding: 40px 35px 0   

  .aside-menu > li > a
    font-size: 14px

  .title
    font-size: 28px
    padding: 0 20px 0 20px

  .t-wrap:before
    top: 16px

  .navbar-default .navbar-nav 
    margin-top: 10px
    .caret
      margin-top: 4px
    > li
      padding-left: 30px
      > a 
        font-size: 18px

  .header-info
    padding-left: 30px

  .header-form .form-group
    width: 180px

  .jq-selectbox
    width: 180px

  .form-bg
    background-position: 35% 0 
    .form-title
      font-size: 30px

  .single-news h1.news-title
    font-size: 32px

  .reviews-lsit 
    .review-head 
      .item-caption
        left: 0
      .user-name
        padding-left: 45px
        &:before
          left: 0

  .jumbtron 
    .jumbtron-title
      font-size: 36px
      width: 100%
    .jumbtron-subtitle
      font-size: 30px
      span  
        font-size: 24px

  div.promo-form .form-title
    font-size: 22px

  .advantages .advantages-body
    background-position: 53% 0

  .compare 
    .left-bl .head-title, .right-bl .head-title
      font-size: 22px

    .left-bl
      padding-bottom: 22px
      &:before
        width: 210px
        height: 335px
        background-size: cover

    div.right-bl
      p 
        padding-left: 222px

      &:before
        width: 210px
        height: 368px
        background-size: cover

  .news .news-list 
    max-width: 780px
    > li
      padding-left: 65px
    li + li:before
      top: 50%
      margin-top: -80px

  

@media only screen and (max-width: 992px)

  
  .news 
    background: none
    .header-title
      transform: rotate(0deg)
      -moz-transform: rotate(0deg)
      -webkit-transform: rotate(0deg)
      width: 100%
      position: static
      .header-wrap
        padding-top: 30px
        padding-bottom: 20px
        position: static
        transform: rotate(0deg)
        -moz-transform: rotate(0deg)
        -webkit-transform: rotate(0deg)

  .index 
    .carousel
      margin-top: 0
    .carousel-inner > .item 
      min-height: 100%
      img
        width: 100%
        margin-bottom: 0

    .carousel-caption p
      font-size: 32px
      padding: 20px
      span 
        font-size: 52px

  .compare .left-bl .left-bl-body > div:not(:last-child), .compare .right-bl .left-bl-body > div:not(:last-child)
    margin-bottom: 15px

  .compare div.right-bl .right-bl-body > div:not(:last-child)
    margin-bottom: 15px

  .compare 
    .left-bl .head-title, .right-bl .head-title
      font-size: 18px

    .left-bl p, .right-bl p
      font-size: 13px
      max-width: 200px

    .left-bl .comare-title, .right-bl .comare-title
      font-size: 16px

    .left-bl
      padding-bottom: 30px
      &:before
        width: 194px
        height: 309px
        background-size: cover

    div.right-bl
      padding-bottom: 30px
      p 
        padding-left: 169px

      &:before
        width: 172px
        height: 298px
        background-size: cover

  .galery
    .title-h2
      margin-bottom: 20px

  .header-form .form-group, .footer-form .form-group
    width: 100%

  .aside-menu > li > a
    font-size: 18px

  .advantages .advantages-body 
    background-position: 53% 100%
    background-size: 40%
    p span
      font-size: 20px

  .carousel-inner 
    .user-name
      font-size: 22px
      margin-top: 5px
    > .item 
      p 
        clear: both
      img
        width: 100px
        margin-right: 20px
        margin-bottom: 5px

  .socials .soc-title
    font-size: 13px

  .carousel 
    margin-top: 195px

  .single-news .pub-time
    clear: both
    padding-top: 15px

  .title
    font-size: 22px
    padding: 0 15px 0 15px

  .t-wrap:before
    top: 12px

  .header-form
    width: 230px

  .jq-selectbox
    width: 100%

  .header-info
    padding-left: 20px

  .navbar-default .navbar-nav 
    .caret
      margin-top: 2px
    > li
      padding-left: 20px
      > a 
        font-size: 14px

  .offers .offer-1
    min-height: 215px
    background-position: 0 15%

  ul.news-list, ul.offer-list
    img 
      width: auto
    > li 
    .news-body:hover .news-title, .news-body:hover p
      color: #000
    .news-body:hover .news-img-wrap
      &:before
        opacity: 0

  .offer-list
    .offer-title
      font-size: 22px 

  .cont-info p
    font-size: 17px

  .cont-social 
    .social-title
      font-size: 16px
    span[class^="icon-"]
      margin-right: 10px

  .map
    height: 500px

  .offers div[class^="offer"] .hover-bg
    display: none

  .offers div[class^="offer"] .btn
    opacity: 1

  .offers div[class^="offer"] .offer-wrap
    top: 30%



@media only screen and (max-width: 767px)

  .compare .left-bl .head-title, .compare .right-bl .head-title
    padding-top: 20px
    padding: 20px 20px 0

  ul.news-list img
    display: block
    margin: 0 auto

  .news .news-list 
    > li
      width: 100%
      margin-bottom: 30px
      padding: 10px 15px

    li + li:before
      display: none

  .history-block 
    text-align: center
    img
      width: 30%


  .compare 
    background: none
    
    .left-bl
      background-color: #45200f
      width: 100%
      &:before
        width: 250px
        height: 398px
      p 
        padding-left: 20px
        max-width: 100%
        padding-right: 234px
    div.right-bl
      background-color: #fdb913
      width: 100%
      &:before
        width: 205px
        height: 355px
      p 
        padding-left: 220px
        padding-right: 20px

  .carousel-inner 
    .user-name
      font-size: 22px
      margin-top: 5px
    > .item 
      p 
        clear: none

  .jumbtron
    background-size: cover
    .jumbtron-title
      margin-top: 40px
    .jumbtron-subtitle
      padding: 25px 0 10px
      span 
        display: block

  .map
    height: 400px

  .reviews-lsit 
    .review-head
      p 
        font-size: 16px
      .user-name
        font-size: 22px
        margin-bottom: 12px
      .item-caption
        font-size: 22px 
      .user-avater
        margin-right: 20px

  .form-bg.promo-form-bg
    .form-title
      font-size: 22px
      line-height: 26px
      margin-bottom: 12px

  .cont-social
    text-align: center
    span[class^="icon-"]
      float: none
      display: inline-block
      margin-bottom: 7px
    .social-title
      span 
        display: block

  .title-h1
    font-size: 30px
    word-break: break-word

  .offer-list
    .offer-title
      font-size: 18px 
    > li
      width: 50%

  .offers .offer-1
    min-height: 215px
    background-position: 0 15%

  .single-news h1.news-title
    font-size: 28px

  .header
    > .container
      padding-left: 0
      padding-right: 0
      > div 
        padding-left: 0
        padding-right: 0

    .logo
      padding: 15px
      > a
        display: block
        text-align: center
        img
          display: inline-block

  .navbar-collapse.in 
    overflow-y: initial

  .title
    font-size: 18px
    padding: 0 10px 0 10px

  .t-wrap:before
    top: 9px

  .footer 
    .footer-bl
      text-align: center

  .socials div[class^="soc-"]
    max-width: 360px
    margin: 0 auto 20px

  .header-info-wrap
    padding: 15px 15px 0

  .header-info
    padding-left: 0
    .header-cont


  .header-info .header-cont .number
    font-size: 30px

  .form-wrap
    margin: 15px auto 0
    top: 0 
    float: none
    padding: 20px
    .form-title
      font-size: 24px
  
  .img-wrap
    width: 50%

  .banners
    img 
      margin: 0 auto 15px

  .navbar-default .navbar-nav 
    text-align: center
    margin: 15px
    > li
      display: inline-block
      padding-left: 20px
      text-align: center
      > a 
        font-size: 18px
        display: inline-block
        padding-bottom: 10px

  .index
    .carousel-caption p
      font-size: 36px
      padding: 10px 0px
      span 
        font-size: 62px

  .footer 
    .footer-bl
      padding: 25px 0
    .logo
      text-align: center 
      margin-bottom: 15px
      img
        display: inline-block

    .copyright 
      .copy , .develop
        width: 100%
        text-align: center
        img
          padding-left: 15px

  .trainers-list
    .training-head
      max-width: 360px
      margin: 0 auto
    > li 
      > img, p
        max-width: 360px
        margin: 0 auto 15px
        width: 100%

  .cont-social
    a 
      display: inline-block
    .social-title 
      display: inline-block
      max-width: 163px
      vertical-align: top
      line-height: 20px

  .index .carousel-inner > .item img
    width: 800px

@media only screen and (max-width: 660px)
  
  .carousel-caption p
    font-size: 28px

  .advantages .advantages-body 
    background: none
    .left-adv p:nth-child(2), .right-adv p:nth-child(2)
      left: 0
    p 
      margin: 15px 15px 25px
      text-align: center
      padding-left: 0
    .left-adv, .right-adv
      float: none
      width: 300px
      margin: 0 auto 20px

  .images-list > li
    width: 50%

@media only screen and (max-width: 480px)

  .index .carousel
    display: none

  .history-block img 
    width: 45%

  .index .carousel-caption p span
    font-size: 40px
  

  .index .carousel-inner > .item img
    width: 490px

  .btn
    padding: 0 0px 0 12px
    font-size: 14px

  .compare .left-bl .head-title, .compare .right-bl .head-title
    font-size: 16px

  .compare 
    background: none
    
    .left-bl
      background-color: #45200f
      width: 100%
      padding-bottom: 390px
      &:before
        width: 250px
        height: 398px
        right: 50%
        margin-right: -125px
      p 
        padding-left: 20px
        max-width: 100%
        padding-right: 20px

    div.right-bl
      background-color: #fdb913
      width: 100%
      padding-bottom: 350px
      &:before
        width: 205px
        height: 355px
        left: 50%
        margin-left: -102px 
      p 
        padding-left: 20px
        padding-right: 20px


  .images-list > li
    float: none
    width: 100%

  .offer-list 
    > li
      width: 100%

  .jumbtron .jumbtron-title
    font-size: 28px

  .map
    height: 270px

  .carousel-inner 
    > .item
      text-align: center
      p 
        font-size: 16px
      .user-name, .item-caption
        font-size: 22px
      img  
        display: inline-block
        margin-bottom: 12px
        float: none
        margin-right: 0

  .img-wrap
    width: 100%

  .title-h2
    font-size: 20px

  .form-wrap
    padding: 20px 15px
    .form-caprion
      font-size: 13px

  .form-wrap form input[type="text"], .promo-form form input[type="text"]
    height: 45px
  
  .header-form
    width: 100%

  .header-info
    padding-left: 0
    .header-cont
      float: none
      width: 100%
      margin-bottom: 10px
      margin-top: 15px
      text-align: center
      .work-time
        text-align: center

  .navbar-default .navbar-nav 
    > li
      width: 100%
      margin-bottom: 5px
      > a 
        font-size: 18px
        display: inline-block
        padding-bottom: 10px