@charset "UTF-8";
/* CSS Document */
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

strong, b {
  font-weight: bold; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End CSS Reset */
/* ===== Typography ===== */
@font-face {
  font-family: "BeauSanspro-BoldItalic";
  src: url("../fonts/pfbeausanspro-bolditalic.eot");
  src: local("☺"), url("../fonts/pfbeausanspro-bolditalic.woff") format("woff"), url("../fonts/pfbeausanspro-bolditalic.ttf") format("truetype"), url("../fonts/pfbeausanspro-bolditalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "BeauSanspro-Italic";
  src: url("../fonts/pfbeausanspro-italic.eot");
  src: local("☺"), url("../fonts/pfbeausanspro-italic.woff") format("woff"), url("../fonts/pfbeausanspro-italic.ttf") format("truetype"), url("../fonts/pfbeausanspro-italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "BeauSanspro-LightItalic";
  src: url("../fonts/pfbeausanspro-lightital.eot");
  src: local("☺"), url("../fonts/pfbeausanspro-lightital.woff") format("woff"), url("../fonts/pfbeausanspro-lightital.ttf") format("truetype"), url("../fonts/pfbeausanspro-lightital.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: #ffffff;
  font: 14px/18px Verdana, Arial, sans-serif;
  color: #363636;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

html {
  height: 100%; }

a {
  font: 14px/19px "BeauSanspro-Italic", Arial, sans-serif;
  color: #000000;
  text-decoration: none; }

img {
  vertical-align: middle; }

h1 {
  font: 300 36px/1.2em "BeauSanspro-BoldItalic", sans-serif;
  color: #000000;
  margin-bottom: 25px; }

h2 {
  font: 300 28px/1.2em "BeauSanspro-BoldItalic", sans-serif;
  color: #000000;
  margin-bottom: 10px; }

h3 {
  font: 700 24px/1.2em "BeauSanspro-BoldItalic", sans-serif;
  color: #54657e;
  margin-bottom: 10px; }

p {
  font: 14px/22px "BeauSanspro-Italic", Arial, sans-serif;
  color: #000000;
  margin-bottom: 20px; }

span {
  font-family: "BeauSanspro-Italic", Arial, sans-serif; }

ul.inline-format {
  font: 14px Verdana, Arial, sans-serif;
  word-spacing: -0.36em; }

ul.inline-format li {
  word-spacing: normal;
  display: inline-block; }

/* ===== Page! ===== */
#wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto; }

#middle.promo-midle {
  padding-bottom: 0; }

#middle {
  position: relative;
  padding-bottom: 40px; }

h2.title.small {
  font-size: 24px; }
  h2.title.small:before {
    top: 13px; }

h2.title.azure {
  background-color: #eff9fe; }

h2.title.grey {
  background-color: #f1f2f2; }

.t-wrap {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 40px; }
  .t-wrap:before {
    position: absolute;
    content: " ";
    top: 18px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f58043; }

.title {
  color: #4e1800;
  font: bold 34px/1.2em "BeauSanspro-BoldItalic", sans-serif;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 25px 0 25px; }

.clear {
  clear: both; }

.breadcrumb {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: none;
  margin-bottom: 40px;
  margin-top: 18px;
  padding: 0; }
  .breadcrumb > li + li:before {
    content: ">";
    color: #000000; }
  .breadcrumb > li > a {
    color: #00aeef; }
  .breadcrumb .active {
    color: #000;
    font-family: "BeauSanspro-Italic", sans-serif; }

/* ===== Buttons ===== */
.btn.btn-brown {
  color: #ffffff;
  background-color: #822801; }
  .btn.btn-brown:hover {
    background-color: #fdb913;
    color: #000000; }
    .btn.btn-brown:hover .arrow {
      background-color: #cc9308; }
      .btn.btn-brown:hover .arrow:before {
        background: url("../images/sprite.png") -31px -5px; }
  .btn.btn-brown .arrow {
    background-color: #4e1800; }
    .btn.btn-brown .arrow:before {
      background: url("../images/sprite.png") -51px -5px no-repeat; }

.btn {
  font: 16px/40px "BeauSanspro-BoldItalic", sans-serif;
  color: #000000;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fdb913;
  height: 40px;
  padding: 0 0px 0 17px;
  border: none;
  min-width: 100px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }
  .btn:hover {
    background-color: #822801;
    color: #ffffff; }
    .btn:hover .arrow {
      background-color: #4e1800; }
      .btn:hover .arrow:before {
        background: url("../images/sprite.png") -51px -5px no-repeat; }
  .btn .arrow {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: #cc9308;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }
    .btn .arrow:before {
      position: absolute;
      content: " ";
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -5px;
      width: 10px;
      height: 16px;
      background: url("../images/sprite.png") -31px -5px no-repeat; }

/* ===== Header! ===== */
.header {
  background: #4e1800;
  background: -moz-linear-gradient(left, #4e1800 0%, #4e1800 40%, #ebebeb 40%, #ebebeb 100%);
  background: -webkit-linear-gradient(left, #4e1800 0%, #4e1800 40%, #ebebeb 40%, #ebebeb 100%);
  background: linear-gradient(to right, #4e1800 0%, #4e1800 40%, #ebebeb 40%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e1800', endColorstr='#ebebeb',GradientType=1 ); }
  .header .logo {
    padding-top: 33px;
    background-color: #4e1800; }

.header-info-wrap {
  background-color: #ebebeb; }

.header-form, .footer-form {
  display: inline-block;
  vertical-align: top;
  padding-top: 7px; }
  .header-form .form-group, .footer-form .form-group {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    width: 240px; }
    .header-form .form-group .serach, .footer-form .form-group .serach {
      font: 16px/1.2em "BeauSanspro-LightItalic", sans-serif;
      color: #000000;
      border: none;
      border-bottom: 1px solid #000000;
      padding-left: 2px;
      padding-bottom: 7px;
      background: none;
      outline: none;
      width: 100%; }
      .header-form .form-group .serach:-moz-placeholder, .header-form .form-group .serach::-moz-placeholder, .footer-form .form-group .serach:-moz-placeholder, .footer-form .form-group .serach::-moz-placeholder {
        color: #000;
        opacity: 1; }
      .header-form .form-group .serach::-webkit-input-placeholder, .footer-form .form-group .serach::-webkit-input-placeholder {
        color: #000; }
    .header-form .form-group .search-btn, .footer-form .form-group .search-btn {
      width: 19px;
      height: 19px;
      background: url("../images/sprite.png") -187px -5px no-repeat;
      outline: none;
      border: none;
      position: absolute;
      bottom: 7px;
      right: 3px; }

.header-info {
  padding-top: 13px;
  padding-left: 45px; }
  .header-info .header-cont {
    display: inline-block;
    float: right; }
    .header-info .header-cont .number {
      font: 36px/35px "BeauSanspro-BoldItalic", sans-serif;
      color: #000000;
      margin-bottom: 0;
      display: block;
      letter-spacing: -1px;
      text-decoration: none; }
      .header-info .header-cont .number:hover {
        color: #484848; }
      .header-info .header-cont .number span {
        font: 16px/1.2em "BeauSanspro-LightItalic", sans-serif;
        vertical-align: bottom;
        padding-right: 7px; }
    .header-info .header-cont .work-time {
      display: block;
      text-align: right;
      font: 16px/1.2em "BeauSanspro-LightItalic", sans-serif;
      padding-top: 2px; }

.navbar {
  min-height: 100%; }

.navbar-default {
  background: none;
  margin-top: 11px;
  margin-bottom: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: none; }
  .navbar-default .navbar-collapse {
    padding: 0; }
  .navbar-default .navbar-nav .caret {
    width: 16px;
    height: 10px;
    background: url("../images/sprite.png") -5px -5px no-repeat;
    border: none;
    vertical-align: top;
    margin-top: 7px; }
  .navbar-default .navbar-nav .open > a:focus {
    color: #88aa17; }
  .navbar-default .navbar-nav > li {
    padding-left: 41.3px; }
    .navbar-default .navbar-nav > li > a {
      padding: 0;
      font: 22px/1.2em "BeauSanspro-BoldItalic", sans-serif;
      color: #000;
      text-transform: uppercase;
      padding-bottom: 8px;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease; }
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #88aa17;
        border-bottom: 6px solid #88aa17; }
        .navbar-default .navbar-nav > li > a:hover .caret, .navbar-default .navbar-nav > li > a:focus .caret {
          background-position: -5px -18px; }
  .navbar-default .navbar-nav .active > a {
    color: #88aa17;
    background: none;
    border-bottom: 6px solid #88aa17;
    padding-bottom: 8px; }
    .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
      background: none;
      color: #88aa17; }

/* ===== Content! ===== */
.carousel-caption {
  text-shadow: none; }

.carousel-control.left, .carousel-control.right {
  background: none; }
  .carousel-control.left:hover, .carousel-control.right:hover {
    background: none; }

.carousel-caption {
  text-align: left;
  top: 0; }
  .carousel-caption p {
    color: #000000;
    font: 40px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    max-width: 460px;
    padding: 75px 55px 0;
    text-transform: uppercase; }
    .carousel-caption p span {
      font-size: 100px;
      color: #fc290e;
      font-weight: 800; }

.offers {
  margin-bottom: 30px; }
  .offers .row {
    margin-left: -5px;
    margin-right: -5px; }
    .offers .row > div {
      padding-left: 5px;
      padding-right: 5px; }
  .offers div[class^="offer"] {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    background-size: cover; }
    .offers div[class^="offer"]:hover .hover-bg, .offers div[class^="offer"]:hover .btn {
      opacity: 1;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease; }
    .offers div[class^="offer"] .hover-bg {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      content: " ";
      display: block;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(130, 40, 1, 0.8); }
    .offers div[class^="offer"] .btn {
      opacity: 0; }
    .offers div[class^="offer"] .offer-wrap {
      display: block;
      position: absolute;
      z-index: 3;
      left: 0;
      right: 0;
      top: 40%; }
      .offers div[class^="offer"] .offer-wrap > span {
        font: bold 28px/1.2em "BeauSanspro-BoldItalic", sans-serif;
        color: #fff;
        display: block;
        text-transform: uppercase;
        padding: 0 20px 15px; }
  .offers .offer-1 {
    background: url("../images/offer-bg-1.jpg") 0 0 no-repeat;
    min-height: 440px; }
  .offers .offer-2 {
    background: url("../images/offer-bg-2.jpg") 0 0 no-repeat;
    min-height: 215px; }
    .offers .offer-2 div.offer-wrap {
      top: 30%; }
  .offers .offer-3 {
    background: url("../images/offer-bg-3.jpg") 0 0 no-repeat;
    min-height: 215px; }
  .offers .offer-4 {
    background: url("../images/offer-bg-4.jpg") 0 0 no-repeat;
    min-height: 215px; }
  .offers .offer-5 {
    background: url("../images/offer-bg-5.jpg") 0 0 no-repeat;
    min-height: 215px; }
    .offers .offer-5 div.offer-wrap {
      top: 30%; }

.form-bg {
  background: url("../images/form-bg.jpg") 0 0 no-repeat;
  min-height: 350px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px; }
  .form-bg .form-title {
    color: #4e1800;
    font: bold 36px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    display: block;
    margin-bottom: 10px; }
  .form-bg .form-caprion {
    font: bold 16px/1.2em "BeauSanspro-LightItalic", sans-serif;
    color: #000;
    margin-bottom: 15px;
    display: block; }

div.promo-form {
  background-color: #bbc700;
  border: 1px solid #45200f;
  padding: 20px 15px;
  text-align: center; }
  div.promo-form .form-title {
    color: #4e1800;
    font: 28px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px; }
    div.promo-form .form-title .through {
      text-decoration: line-through;
      font-weight: bold; }
  div.promo-form .form-caprion {
    font: bold 16px/1.2em "BeauSanspro-LightItalic", sans-serif;
    color: #000;
    margin-bottom: 15px;
    display: block; }

.form-wrap, .promo-form {
  position: relative;
  top: 20px;
  float: right; }
  .form-wrap form, .promo-form form {
    max-width: 360px;
    margin: 0 auto; }
    .form-wrap form input[type="text"], .promo-form form input[type="text"] {
      width: 100%;
      height: 50px;
      background-color: white;
      border: 1px solid black;
      padding: 0 17px;
      font: 16px/1.2em "BeauSanspro-BoldItalic", sans-serif;
      color: #000;
      margin-bottom: 18px; }
      .form-wrap form input[type="text"]:-moz-placeholder, .form-wrap form input[type="text"]::-moz-placeholder, .promo-form form input[type="text"]:-moz-placeholder, .promo-form form input[type="text"]::-moz-placeholder {
        color: #000;
        opacity: 1; }
      .form-wrap form input[type="text"]::-webkit-input-placeholder, .promo-form form input[type="text"]::-webkit-input-placeholder {
        color: #000; }

.form-wrap {
  width: 100%;
  max-width: 455px;
  background-color: #fdb913;
  padding: 22px 50px; }

.banners {
  margin-bottom: 30px; }

.news {
  position: relative;
  overflow: hidden;
  background: #f58043;
  background: -moz-linear-gradient(left, #f58043 0%, #f58043 24%, #ebebeb 24%, #f58043 24%, #ebebeb 24%, #ebebeb 100%);
  background: -webkit-linear-gradient(left, #f58043 0%, #f58043 24%, #ebebeb 24%, #f58043 24%, #ebebeb 24%, #ebebeb 100%);
  background: linear-gradient(to right, #f58043 0%, #f58043 24%, #ebebeb 24%, #f58043 24%, #ebebeb 24%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58043', endColorstr='#ebebeb',GradientType=1 ); }
  .news .header-title {
    background-color: #f58043;
    display: inline-block;
    width: 165px;
    height: 110%;
    vertical-align: top;
    position: absolute;
    top: -15px;
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -webkit-transform: rotate(8deg); }
    .news .header-title .header-wrap {
      transform: rotate(-8deg);
      -moz-transform: rotate(-8deg);
      -webkit-transform: rotate(-8deg);
      position: absolute;
      top: 55px;
      text-align: center;
      display: block;
      color: #ffffff; }
      .news .header-title .header-wrap span {
        text-transform: uppercase;
        color: #ffffff;
        font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif; }
      .news .header-title .header-wrap .news-icon {
        margin: 30px auto 0;
        display: block;
        width: 57px;
        height: 62px;
        background: url("../images/sprite.png") -122px -105px no-repeat; }
  .news .news-list {
    float: right;
    display: inline-block;
    overflow: hidden;
    max-width: 970px;
    padding: 40px 0; }
    .news .news-list li + li:before {
      position: absolute;
      content: " ";
      width: 1px;
      height: 170px;
      background-color: #f4864c;
      left: 30px;
      transform: rotate(8deg);
      -moz-transform: rotate(8deg);
      -webkit-transform: rotate(8deg); }
    .news .news-list > li {
      display: inline-block;
      width: 32.99%;
      vertical-align: top;
      position: relative;
      padding-left: 95px; }
      .news .news-list > li .news-title {
        font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif;
        color: #000; }
      .news .news-list > li p {
        margin-bottom: 14px;
        line-height: 17px; }
      .news .news-list > li .pub-time {
        color: #939598;
        font: 14px/1.2em "BeauSanspro-BoldItalic", sans-serif;
        float: left; }
      .news .news-list > li .show-more {
        color: #00aeef;
        font: 14px/1.2em "BeauSanspro-BoldItalic", sans-serif;
        float: right; }

.socials {
  margin-bottom: 40px; }
  .socials .soc-title {
    font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 9.5px 12px;
    margin-left: -1px;
    margin-right: -1px;
    padding-left: 45px;
    position: relative;
    margin-bottom: 0; }
    .socials .soc-title:before {
      position: absolute;
      left: 12px;
      top: 50%;
      margin-top: -11.5px;
      content: " ";
      width: 23px;
      height: 23px; }
  .socials div[class^="soc-"] {
    background-color: #ebebeb;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc; }
  .socials .follow {
    color: #27728e;
    font: 16px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    display: inline-block;
    margin-top: 15px; }
    .socials .follow:hover {
      text-decoration: none; }
  .socials .social-body {
    padding: 10px 10px 10px;
    text-align: center; }
  .socials .soc-vk .soc-title {
    background-color: #27728e; }
    .socials .soc-vk .soc-title:before {
      background: url("../images/sprite.png") -241px -90px no-repeat; }
  .socials .soc-ok .soc-title {
    background-color: #f58043; }
    .socials .soc-ok .soc-title:before {
      background: url("../images/sprite.png") -241px -57px no-repeat; }
  .socials .soc-instagram .soc-title {
    background-color: #822801; }
    .socials .soc-instagram .soc-title:before {
      background: url("../images/sprite.png") -34px -57px no-repeat; }

/* ===== Promo! ===== */
.jumbtron {
  background: url("../images/jumbtrone-bg.jpg") 0 0 no-repeat;
  padding-bottom: 40px; }
  .jumbtron .jumbtron-title {
    color: #fc290e;
    text-transform: uppercase;
    text-align: center;
    font: 44px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    float: right;
    margin-top: 75px; }
  .jumbtron .jumbtron-subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #4e1800;
    font: 34px/1.2em "BeauSanspro-BoldItalic", sans-serif; }
    .jumbtron .jumbtron-subtitle span {
      font: 28px/1.2em "BeauSanspro-BoldItalic", sans-serif; }

.promo .carousel {
  margin-top: 200px; }
.promo .carousel-indicators {
  bottom: 15px; }
.promo .carousel-indicators li, .promo .carousel-indicators .active {
  width: 13px;
  height: 13px;
  margin: 0; }
.promo .carousel-inner > .item {
  overflow: hidden;
  background-color: rgba(78, 24, 0, 0.9);
  padding: 23px 20px 43px; }
  .promo .carousel-inner > .item img {
    border: 2px solid #f5b112;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    border-radius: 200px;
    float: left;
    margin-right: 45px; }
  .promo .carousel-inner > .item p {
    color: #ffffff;
    font: 18px/1.2em "BeauSanspro-Italic", sans-serif; }
  .promo .carousel-inner > .item .user-name {
    color: #ffffff;
    font: 28px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    display: block;
    margin-bottom: 14px; }
  .promo .carousel-inner > .item .item-caption {
    color: #ffc604;
    font: 28px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    display: block;
    margin-bottom: 8px; }

.advantages .advantages-body {
  margin-top: 35px;
  overflow: hidden;
  background: url("../images/weigher-bg.jpg") 48% 100% no-repeat; }
  .advantages .advantages-body .left-adv {
    float: left; }
    .advantages .advantages-body .left-adv p:nth-child(2) {
      left: 90px; }
  .advantages .advantages-body .right-adv {
    float: right; }
    .advantages .advantages-body .right-adv p {
      margin-right: -30px; }
    .advantages .advantages-body .right-adv p:nth-child(2) {
      left: -90px; }
  .advantages .advantages-body p {
    position: relative;
    margin-bottom: 25px;
    text-transform: uppercase;
    padding-left: 45px;
    height: 90px;
    z-index: 4;
    padding-top: 37px; }
    .advantages .advantages-body p span {
      position: relative;
      color: #000000;
      font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif;
      z-index: 5; }
    .advantages .advantages-body p:before {
      position: absolute;
      left: 0;
      top: 0;
      content: " ";
      z-index: 1;
      height: 90px;
      width: 106px;
      background: url("../images/sprite.png") -71px -5px no-repeat; }

.our-trainers {
  background-color: #f1f2f2;
  padding-bottom: 30px; }

.trainers-list > li {
  margin-bottom: 25px; }
  .trainers-list > li > img {
    margin-bottom: 15px; }
.trainers-list .training-head {
  background-color: #bbc700;
  padding: 20px 20px; }
  .trainers-list .training-head .trainer-title {
    color: #4e1800;
    font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .trainers-list .training-head .caption {
    color: #4e1800;
    font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    display: block; }

.compare {
  padding-top: 35px;
  background: #45200f;
  background: -moz-linear-gradient(left, #45200f 0%, #45200f 50%, #fdb913 50%, #fdb913 100%);
  background: -webkit-linear-gradient(left, #45200f 0%, #45200f 50%, #fdb913 50%, #fdb913 100%);
  background: linear-gradient(to right, #45200f 0%, #45200f 50%, #fdb913 50%, #fdb913 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45200f', endColorstr='#fdb913',GradientType=1 ); }
  .compare .left-bl, .compare .right-bl {
    width: 50%;
    float: left;
    position: relative; }
    .compare .left-bl:before, .compare .right-bl:before {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 3333;
      content: " ";
      width: 303px;
      height: 482px;
      background: url("../images/fat-girl.png") 100% 100% no-repeat; }
    .compare .left-bl .head-title, .compare .right-bl .head-title {
      color: #fdb913;
      font: 28px/1.2em "BeauSanspro-BoldItalic", sans-serif;
      max-width: 100%;
      text-align: center;
      margin-bottom: 50px; }
    .compare .left-bl .left-bl-body > div, .compare .right-bl .left-bl-body > div {
      padding-bottom: 20px; }
      .compare .left-bl .left-bl-body > div:not(:last-child), .compare .right-bl .left-bl-body > div:not(:last-child) {
        border-bottom: 1px solid #fdb913;
        margin-bottom: 25px; }
    .compare .left-bl .comare-title, .compare .right-bl .comare-title {
      color: #ffffff;
      font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .compare .left-bl p, .compare .right-bl p {
      max-width: 260px;
      margin-bottom: 0;
      color: #ffffff; }
  .compare div.right-bl:before {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 3333;
    content: " ";
    width: 282px;
    height: 489px;
    background: url("../images/skinny-girl.png") 0% 100% no-repeat; }
  .compare div.right-bl .head-title {
    color: #000;
    padding-left: 0; }
  .compare div.right-bl .comare-title {
    color: #000; }
  .compare div.right-bl .right-bl-body > div {
    padding-bottom: 20px; }
    .compare div.right-bl .right-bl-body > div:not(:last-child) {
      border-bottom: 1px solid #000;
      margin-bottom: 25px; }
  .compare div.right-bl p {
    color: #000;
    padding-left: 300px;
    max-width: 100%; }

.bold {
  font: 14px/1.2em "BeauSanspro-BoldItalic", sans-serif; }

.success-stories p {
  line-height: 14px; }
.success-stories a {
  color: #00aeef;
  text-decoration: underline; }
  .success-stories a:hover {
    text-decoration: none; }
.success-stories .history-block {
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1; }
.success-stories .before-after {
  font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif;
  text-align: center;
  margin: 15px auto;
  max-width: 220px; }
  .success-stories .before-after span {
    font: 14px/1.2em "BeauSanspro-Italic", sans-serif;
    margin-top: 8px; }
.success-stories .table {
  width: 100%; }
  .success-stories .table > tbody > tr:nth-child(2n) {
    background-color: #fdb913; }
  .success-stories .table > tbody > tr > td {
    border-top: none;
    padding: 7px 12px;
    font: 14px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    color: #000; }
.success-stories .user-info {
  color: #000000;
  font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif; }
.success-stories .hist-caption {
  color: #f48043;
  font: 24px/1.2em "BeauSanspro-Italic", sans-serif;
  display: block;
  margin-bottom: 33px; }

.reviews-lsit > li {
  margin-bottom: 25px; }
.reviews-lsit .review-body {
  background-color: #f1f2f2;
  padding: 20px 25px; }
.reviews-lsit .review-head {
  margin-bottom: 20px;
  overflow: hidden; }
  .reviews-lsit .review-head .user-avater {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    border-radius: 200px;
    border: 2px solid #f58a52;
    float: left;
    margin-right: 70px; }
  .reviews-lsit .review-head p {
    font-size: 18px;
    margin-bottom: 10px; }
  .reviews-lsit .review-head .user-name {
    position: relative;
    color: #4e1800;
    margin-top: 16px;
    display: inline-block;
    font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    margin-bottom: 8px; }
    .reviews-lsit .review-head .user-name:before {
      position: absolute;
      left: -55px;
      top: 0;
      content: " ";
      width: 37px;
      height: 28px;
      background: url("../images/sprite.png") -5px -105px no-repeat; }
  .reviews-lsit .review-head .item-caption {
    position: relative;
    left: -20px;
    color: #f48043;
    font: 28px/1.2em "BeauSanspro-BoldItalic", sans-serif; }

.form-bg.promo-form-bg {
  background-position: 25% 0;
  margin-bottom: 0;
  min-height: 330px; }
  .form-bg.promo-form-bg .form-wrap {
    background: none;
    top: 0;
    padding: 0;
    padding-top: 30px;
    max-width: 555px; }
  .form-bg.promo-form-bg .form-title {
    color: #fff;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 25px; }

/* ===== Trainers! ===== */
.title-h1 {
  color: #4e1800;
  font: 36px/1.2em "BeauSanspro-BoldItalic", sans-serif;
  margin-bottom: 35px;
  text-transform: uppercase; }

.title-h2 {
  color: #000000;
  text-transform: uppercase;
  font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif; }

.content .cont-block {
  margin-bottom: 35px; }

.left-aside, .right-aside {
  margin-bottom: 50px; }

.aside-menu {
  background-color: #f58043;
  padding: 5px 18px;
  margin-bottom: 30px; }
  .aside-menu > li {
    border-bottom: 2px solid #4e1800; }
    .aside-menu > li:last-child {
      border-bottom: none; }
    .aside-menu > li > a {
      display: block;
      padding: 13px 0;
      color: #000000;
      font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif;
      text-transform: uppercase; }

.banner {
  margin-bottom: 50px; }

.banner-link, .img-link {
  display: block; }

.aside-img {
  margin-bottom: 30px; }

.galery-list {
  margin-right: -6px;
  margin-left: -6px; }
  .galery-list > li {
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 12px; }
    .galery-list > li a {
      display: block; }

.info-block {
  background-color: #fff8e7;
  border: 1px solid #f7e9ea;
  padding: 20px;
  margin-bottom: 30px; }
  .info-block .info-title {
    display: block;
    font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    margin-bottom: 10px; }
  .info-block ul {
    margin-bottom: 24px;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 12px; }
    .info-block ul > li {
      font: 14px/1.2em "BeauSanspro-Italic", sans-serif;
      margin-bottom: 8px; }

/* ===== Services! ===== */
.title-h2.brown {
  text-transform: none;
  color: #4e1800; }

.content {
  margin-bottom: 50px; }
  .content img {
    margin-bottom: 25px;
    display: inline-block; }

.cont-caption {
  padding: 35px 40px;
  background: url("../images/servise-content-bg.jpg") 50% 0 no-repeat;
  min-height: 359px;
  margin-bottom: 30px; }
  .cont-caption .caption-title {
    color: #f60202;
    font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    text-transform: uppercase; }
  .cont-caption span {
    font: 18px/1.2em "BeauSanspro-Italic", sans-serif;
    display: block;
    margin-bottom: 3px; }

.img-wrap {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }
  .img-wrap img {
    display: inline-block; }

/* ===== Form! ===== */
input[type="text"] {
  outline: none; }

.placeholder {
  color: #959595; }

*:focus::-moz-placeholder {
  color: transparent !important; }

*[autofocus]::-moz-placeholder:focus {
  color: #000 !important; }

*:focus:-moz-placeholder {
  color: transparent !important; }

*[autofocus]:-moz-placeholder:focus {
  color: #000 !important; }

*:focus::-webkit-input-placeholder {
  color: transparent !important; }

*[autofocus]::-webkit-input-placeholder {
  color: #000 !important; }

/* Select dropdown control
 * ------------------------------------ */
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 240px;
  border-bottom: 1px solid #000000;
  margin-top: 5px; }

.jq-selectbox__select {
  height: 28px;
  padding: 0 35px 0 21px;
  color: #000;
  font: 16px/1.4em "BeauSanspro-LightItalic", sans-serif;
  position: relative; }
  .jq-selectbox__select:before {
    position: absolute;
    left: 2px;
    bottom: 6px;
    content: " ";
    width: 14px;
    height: 21px;
    background: url("../images/sprite.png") -98px -105px no-repeat; }

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 16px;
  height: 10px;
  background: url("../images/sprite.png") -5px -5px no-repeat;
  filter: alpha(opacity=30); }

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  opacity: 1;
  filter: alpha(opacity=100); }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.jq-selectbox__dropdown {
  top: 33px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif; }

.jq-selectbox__search {
  margin: 5px; }
  .jq-selectbox__search input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 27px 6px 8px;
    outline: none;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: inset 1px 1px #F1F1F1;
    color: #333;
    -webkit-appearance: textfield; }
    .jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration {
      -webkit-appearance: none; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }
.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231F20; }
  .jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF; }
  .jq-selectbox li:hover {
    background-color: #08C;
    color: #FFF; }
  .jq-selectbox li.disabled {
    color: #AAA; }
    .jq-selectbox li.disabled:hover {
      background: none; }
  .jq-selectbox li.optgroup {
    font-weight: bold; }
    .jq-selectbox li.optgroup:hover {
      background: none;
      color: #231F20;
      cursor: default; }
  .jq-selectbox li.option {
    padding-left: 25px; }

/* ===== Footer! ===== */
.footer .copyright {
  overflow: hidden;
  background-color: #ebebeb; }
  .footer .copyright .copy {
    float: left;
    margin-bottom: 0;
    padding: 18.5px 0; }
  .footer .copyright .develop {
    float: right;
    margin-bottom: 0; }
    .footer .copyright .develop img {
      padding-left: 45px; }
.footer .footer-form .form-group {
  width: 100%;
  margin-right: 0; }
.footer .footer-form .serach {
  border-color: #fff;
  color: #fff; }
  .footer .footer-form .serach:-moz-placeholder, .footer .footer-form .serach::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .footer .footer-form .serach::-webkit-input-placeholder {
    color: #fff; }
.footer .footer-form .search-btn {
  background-position: -5px -34px; }
.footer .footer-bl {
  background-color: #4e1800;
  padding: 40px 0 30px; }
.footer .logo {
  margin-bottom: 15px; }
.footer .address {
  color: #fff;
  font: 14px/1.2em "BeauSanspro-LightItalic", sans-serif; }
  .footer .address a {
    display: inline-block;
    color: #fff;
    padding-top: 5px;
    text-decoration: underline; }
    .footer .address a:hover {
      text-decoration: none; }
.footer .footer-menu > li {
  margin-bottom: 10px; }
  .footer .footer-menu > li > a {
    color: #fff;
    font: 14px/1.2em "BeauSanspro-LightItalic", sans-serif;
    text-decoration: underline; }
    .footer .footer-menu > li > a:hover {
      text-decoration: none; }
.footer .foot-info {
  color: #ffffff;
  font: 14px/1.4em "BeauSanspro-LightItalic", sans-serif; }
  .footer .foot-info span {
    display: block;
    padding: 12px 0;
    font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif; }

/* ===== Contancnts! ===== */
.contacts-page #middle {
  padding-bottom: 0; }

.link {
  color: #00aeef;
  font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif; }

.cont-info p {
  font-size: 18px; }

p.contact-title {
  font: 24px/1.2em "BeauSanspro-BoldItalic", sans-serif; }

.map {
  margin-top: 30px;
  height: 600px; }

.cont-social {
  background-color: #fdb913;
  padding: 40px 0;
  margin-bottom: 35px; }
  .cont-social span[class^="icon-"] {
    display: inline-block;
    vertical-align: middle;
    background: url("../images/sprite.png") 0 0 no-repeat;
    float: left;
    margin-right: 25px; }
  .cont-social a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px; }
    .cont-social a:hover {
      text-decoration: underline;
      color: #000; }
  .cont-social .social-title {
    font-size: 18px; }
    .cont-social .social-title span {
      font-size: 14px;
      display: block; }
  .cont-social span.icon-vk {
    width: 42px;
    height: 42px;
    background-position: -189px -109px; }
  .cont-social span.icon-ok {
    width: 42px;
    height: 42px;
    background-position: -189px -57px; }
  .cont-social span.icon-insta {
    width: 42px;
    height: 42px;
    background-position: -216px -5px; }

/* ===== Offers! ===== */
.offer-list .offer-title {
  color: #4e1800;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  font: 24px/1em "BeauSanspro-BoldItalic", sans-serif;
  display: block; }
.offer-list a.offer-body {
  border-bottom: 1px solid #f58043;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  display: block;
  text-decoration: none; }
  .offer-list a.offer-body:before {
    position: absolute;
    content: " ";
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(253, 185, 19, 0.7);
    opacity: 0;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }
  .offer-list a.offer-body:hover:before {
    position: absolute;
    content: " ";
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(253, 185, 19, 0.7);
    opacity: 1;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }
  .offer-list a.offer-body > ul {
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 15px; }
    .offer-list a.offer-body > ul > li {
      margin-bottom: 5px; }

/* ===== Single News! ===== */
.single-news {
  overflow: hidden; }
  .single-news img {
    display: inline-block; }
  .single-news .news-body p {
    line-height: 24px; }
  .single-news .main-img {
    float: left;
    margin-right: 30px; }
  .single-news .pub-time {
    color: #34baf1;
    display: block;
    font: 14px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    margin-bottom: 25px; }
  .single-news h1.news-title {
    color: #4e1800;
    font: 36px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    margin-bottom: 18px; }

.images-list {
  clear: both;
  padding-top: 45px;
  margin-bottom: 30px; }
  .images-list > li {
    margin-bottom: 25px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
    .images-list > li a {
      display: block; }

.more-news {
  background-color: #eff9fe; }

.news-wrap {
  margin-bottom: 35px; }

.news-list, .offer-list {
  font: 14px Verdana, Arial, sans-serif;
  word-spacing: -0.36em; }
  .news-list img, .offer-list img {
    width: 100%; }
  .news-list > li, .offer-list > li {
    overflow: hidden;
    margin-bottom: 45px;
    position: relative;
    float: none;
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    display: inline-block; }
    .news-list > li .news-body:hover .news-img-wrap:before, .offer-list > li .news-body:hover .news-img-wrap:before {
      position: absolute;
      content: " ";
      z-index: 2;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(253, 185, 19, 0.7);
      opacity: 1; }
    .news-list > li .news-body:hover .news-title, .news-list > li .news-body:hover p, .offer-list > li .news-body:hover .news-title, .offer-list > li .news-body:hover p {
      color: #00aeef; }
  .news-list p, .news-list .news-title, .offer-list p, .offer-list .news-title {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; }
  .news-list .news-img-wrap, .offer-list .news-img-wrap {
    position: relative;
    display: block; }
    .news-list .news-img-wrap:before, .offer-list .news-img-wrap:before {
      position: absolute;
      content: " ";
      z-index: 2;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(253, 185, 19, 0.7);
      opacity: 0;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease; }
  .news-list .news-body, .offer-list .news-body {
    border-bottom: 1px solid #f58043;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative; }
  .news-list .news-title, .offer-list .news-title {
    color: #000000;
    font: 18px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px; }
  .news-list .pub-time, .offer-list .pub-time {
    color: #939598;
    font: 14px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    float: left; }
  .news-list .show-more, .offer-list .show-more {
    float: right;
    color: #00aeef;
    font: 14px/1.2em "BeauSanspro-BoldItalic", sans-serif;
    text-decoration: underline; }
    .news-list .show-more:hover, .offer-list .show-more:hover {
      text-decoration: none; }

.index .carousel-inner > .item img {
  max-width: none;
  width: 100%; }

/* ===== Media! ===== */
@media only screen and (max-width: 1200px) {
  .history-block img {
    width: 48%; }

  .success-stories .before-after {
    max-width: 190px; }

  .carousel-caption p {
    padding: 40px 35px 0; }

  .aside-menu > li > a {
    font-size: 14px; }

  .title {
    font-size: 28px;
    padding: 0 20px 0 20px; }

  .t-wrap:before {
    top: 16px; }

  .navbar-default .navbar-nav {
    margin-top: 10px; }
    .navbar-default .navbar-nav .caret {
      margin-top: 4px; }
    .navbar-default .navbar-nav > li {
      padding-left: 30px; }
      .navbar-default .navbar-nav > li > a {
        font-size: 18px; }

  .header-info {
    padding-left: 30px; }

  .header-form .form-group {
    width: 180px; }

  .jq-selectbox {
    width: 180px; }

  .form-bg {
    background-position: 35% 0; }
    .form-bg .form-title {
      font-size: 30px; }

  .single-news h1.news-title {
    font-size: 32px; }

  .reviews-lsit .review-head .item-caption {
    left: 0; }
  .reviews-lsit .review-head .user-name {
    padding-left: 45px; }
    .reviews-lsit .review-head .user-name:before {
      left: 0; }

  .jumbtron .jumbtron-title {
    font-size: 36px;
    width: 100%; }
  .jumbtron .jumbtron-subtitle {
    font-size: 30px; }
    .jumbtron .jumbtron-subtitle span {
      font-size: 24px; }

  div.promo-form .form-title {
    font-size: 22px; }

  .advantages .advantages-body {
    background-position: 53% 0; }

  .compare .left-bl .head-title, .compare .right-bl .head-title {
    font-size: 22px; }
  .compare .left-bl {
    padding-bottom: 22px; }
    .compare .left-bl:before {
      width: 210px;
      height: 335px;
      background-size: cover; }
  .compare div.right-bl p {
    padding-left: 222px; }
  .compare div.right-bl:before {
    width: 210px;
    height: 368px;
    background-size: cover; }

  .news .news-list {
    max-width: 780px; }
    .news .news-list > li {
      padding-left: 65px; }
    .news .news-list li + li:before {
      top: 50%;
      margin-top: -80px; } }
@media only screen and (max-width: 992px) {
  .news {
    background: none; }
    .news .header-title {
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      width: 100%;
      position: static; }
      .news .header-title .header-wrap {
        padding-top: 30px;
        padding-bottom: 20px;
        position: static;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg); }

  .index .carousel {
    margin-top: 0; }
  .index .carousel-inner > .item {
    min-height: 100%; }
    .index .carousel-inner > .item img {
      width: 100%;
      margin-bottom: 0; }
  .index .carousel-caption p {
    font-size: 32px;
    padding: 20px; }
    .index .carousel-caption p span {
      font-size: 52px; }

  .compare .left-bl .left-bl-body > div:not(:last-child), .compare .right-bl .left-bl-body > div:not(:last-child) {
    margin-bottom: 15px; }

  .compare div.right-bl .right-bl-body > div:not(:last-child) {
    margin-bottom: 15px; }

  .compare .left-bl .head-title, .compare .right-bl .head-title {
    font-size: 18px; }
  .compare .left-bl p, .compare .right-bl p {
    font-size: 13px;
    max-width: 200px; }
  .compare .left-bl .comare-title, .compare .right-bl .comare-title {
    font-size: 16px; }
  .compare .left-bl {
    padding-bottom: 30px; }
    .compare .left-bl:before {
      width: 194px;
      height: 309px;
      background-size: cover; }
  .compare div.right-bl {
    padding-bottom: 30px; }
    .compare div.right-bl p {
      padding-left: 169px; }
    .compare div.right-bl:before {
      width: 172px;
      height: 298px;
      background-size: cover; }

  .galery .title-h2 {
    margin-bottom: 20px; }

  .header-form .form-group, .footer-form .form-group {
    width: 100%; }

  .aside-menu > li > a {
    font-size: 18px; }

  .advantages .advantages-body {
    background-position: 53% 100%;
    background-size: 40%; }
    .advantages .advantages-body p span {
      font-size: 20px; }

  .carousel-inner .user-name {
    font-size: 22px;
    margin-top: 5px; }
  .carousel-inner > .item p {
    clear: both; }
  .carousel-inner > .item img {
    width: 100px;
    margin-right: 20px;
    margin-bottom: 5px; }

  .socials .soc-title {
    font-size: 13px; }

  .carousel {
    margin-top: 195px; }

  .single-news .pub-time {
    clear: both;
    padding-top: 15px; }

  .title {
    font-size: 22px;
    padding: 0 15px 0 15px; }

  .t-wrap:before {
    top: 12px; }

  .header-form {
    width: 230px; }

  .jq-selectbox {
    width: 100%; }

  .header-info {
    padding-left: 20px; }

  .navbar-default .navbar-nav .caret {
    margin-top: 2px; }
  .navbar-default .navbar-nav > li {
    padding-left: 20px; }
    .navbar-default .navbar-nav > li > a {
      font-size: 14px; }

  .offers .offer-1 {
    min-height: 215px;
    background-position: 0 15%; }

  ul.news-list img, ul.offer-list img {
    width: auto; }
  ul.news-list .news-body:hover .news-title, ul.news-list .news-body:hover p, ul.offer-list .news-body:hover .news-title, ul.offer-list .news-body:hover p {
    color: #000; }
  ul.news-list .news-body:hover .news-img-wrap:before, ul.offer-list .news-body:hover .news-img-wrap:before {
    opacity: 0; }

  .offer-list .offer-title {
    font-size: 22px; }

  .cont-info p {
    font-size: 17px; }

  .cont-social .social-title {
    font-size: 16px; }
  .cont-social span[class^="icon-"] {
    margin-right: 10px; }

  .map {
    height: 500px; }

  .offers div[class^="offer"] .hover-bg {
    display: none; }

  .offers div[class^="offer"] .btn {
    opacity: 1; }

  .offers div[class^="offer"] .offer-wrap {
    top: 30%; } }
@media only screen and (max-width: 767px) {
  .compare .left-bl .head-title, .compare .right-bl .head-title {
    padding-top: 20px;
    padding: 20px 20px 0; }

  ul.news-list img {
    display: block;
    margin: 0 auto; }

  .news .news-list > li {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 15px; }
  .news .news-list li + li:before {
    display: none; }

  .history-block {
    text-align: center; }
    .history-block img {
      width: 30%; }

  .compare {
    background: none; }
    .compare .left-bl {
      background-color: #45200f;
      width: 100%; }
      .compare .left-bl:before {
        width: 250px;
        height: 398px; }
      .compare .left-bl p {
        padding-left: 20px;
        max-width: 100%;
        padding-right: 234px; }
    .compare div.right-bl {
      background-color: #fdb913;
      width: 100%; }
      .compare div.right-bl:before {
        width: 205px;
        height: 355px; }
      .compare div.right-bl p {
        padding-left: 220px;
        padding-right: 20px; }

  .carousel-inner .user-name {
    font-size: 22px;
    margin-top: 5px; }
  .carousel-inner > .item p {
    clear: none; }

  .jumbtron {
    background-size: cover; }
    .jumbtron .jumbtron-title {
      margin-top: 40px; }
    .jumbtron .jumbtron-subtitle {
      padding: 25px 0 10px; }
      .jumbtron .jumbtron-subtitle span {
        display: block; }

  .map {
    height: 400px; }

  .reviews-lsit .review-head p {
    font-size: 16px; }
  .reviews-lsit .review-head .user-name {
    font-size: 22px;
    margin-bottom: 12px; }
  .reviews-lsit .review-head .item-caption {
    font-size: 22px; }
  .reviews-lsit .review-head .user-avater {
    margin-right: 20px; }

  .form-bg.promo-form-bg .form-title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px; }

  .cont-social {
    text-align: center; }
    .cont-social span[class^="icon-"] {
      float: none;
      display: inline-block;
      margin-bottom: 7px; }
    .cont-social .social-title span {
      display: block; }

  .title-h1 {
    font-size: 30px;
    word-break: break-word; }

  .offer-list .offer-title {
    font-size: 18px; }
  .offer-list > li {
    width: 50%; }

  .offers .offer-1 {
    min-height: 215px;
    background-position: 0 15%; }

  .single-news h1.news-title {
    font-size: 28px; }

  .header > .container {
    padding-left: 0;
    padding-right: 0; }
    .header > .container > div {
      padding-left: 0;
      padding-right: 0; }
  .header .logo {
    padding: 15px; }
    .header .logo > a {
      display: block;
      text-align: center; }
      .header .logo > a img {
        display: inline-block; }

  .navbar-collapse.in {
    overflow-y: initial; }

  .title {
    font-size: 18px;
    padding: 0 10px 0 10px; }

  .t-wrap:before {
    top: 9px; }

  .footer .footer-bl {
    text-align: center; }

  .socials div[class^="soc-"] {
    max-width: 360px;
    margin: 0 auto 20px; }

  .header-info-wrap {
    padding: 15px 15px 0; }

  .header-info {
    padding-left: 0; }

  .header-info .header-cont .number {
    font-size: 30px; }

  .form-wrap {
    margin: 15px auto 0;
    top: 0;
    float: none;
    padding: 20px; }
    .form-wrap .form-title {
      font-size: 24px; }

  .img-wrap {
    width: 50%; }

  .banners img {
    margin: 0 auto 15px; }

  .navbar-default .navbar-nav {
    text-align: center;
    margin: 15px; }
    .navbar-default .navbar-nav > li {
      display: inline-block;
      padding-left: 20px;
      text-align: center; }
      .navbar-default .navbar-nav > li > a {
        font-size: 18px;
        display: inline-block;
        padding-bottom: 10px; }

  .index .carousel-caption p {
    font-size: 36px;
    padding: 10px 0px; }
    .index .carousel-caption p span {
      font-size: 62px; }

  .footer .footer-bl {
    padding: 25px 0; }
  .footer .logo {
    text-align: center;
    margin-bottom: 15px; }
    .footer .logo img {
      display: inline-block; }
  .footer .copyright .copy, .footer .copyright .develop {
    width: 100%;
    text-align: center; }
    .footer .copyright .copy img, .footer .copyright .develop img {
      padding-left: 15px; }

  .trainers-list .training-head {
    max-width: 360px;
    margin: 0 auto; }
  .trainers-list > li > img, .trainers-list > li p {
    max-width: 360px;
    margin: 0 auto 15px;
    width: 100%; }

  .cont-social a {
    display: inline-block; }
  .cont-social .social-title {
    display: inline-block;
    max-width: 163px;
    vertical-align: top;
    line-height: 20px; }

  .index .carousel-inner > .item img {
    width: 800px; } }
@media only screen and (max-width: 660px) {
  .carousel-caption p {
    font-size: 28px; }

  .advantages .advantages-body {
    background: none; }
    .advantages .advantages-body .left-adv p:nth-child(2), .advantages .advantages-body .right-adv p:nth-child(2) {
      left: 0; }
    .advantages .advantages-body p {
      margin: 15px 15px 25px;
      text-align: center;
      padding-left: 0; }
    .advantages .advantages-body .left-adv, .advantages .advantages-body .right-adv {
      float: none;
      width: 300px;
      margin: 0 auto 20px; }

  .images-list > li {
    width: 50%; } }
@media only screen and (max-width: 480px) {
  .index .carousel {
    display: none; }

  .history-block img {
    width: 45%; }

  .index .carousel-caption p span {
    font-size: 40px; }

  .index .carousel-inner > .item img {
    width: 490px; }

  .btn {
    padding: 0 0px 0 12px;
    font-size: 14px; }

  .compare .left-bl .head-title, .compare .right-bl .head-title {
    font-size: 16px; }

  .compare {
    background: none; }
    .compare .left-bl {
      background-color: #45200f;
      width: 100%;
      padding-bottom: 390px; }
      .compare .left-bl:before {
        width: 250px;
        height: 398px;
        right: 50%;
        margin-right: -125px; }
      .compare .left-bl p {
        padding-left: 20px;
        max-width: 100%;
        padding-right: 20px; }
    .compare div.right-bl {
      background-color: #fdb913;
      width: 100%;
      padding-bottom: 350px; }
      .compare div.right-bl:before {
        width: 205px;
        height: 355px;
        left: 50%;
        margin-left: -102px; }
      .compare div.right-bl p {
        padding-left: 20px;
        padding-right: 20px; }

  .images-list > li {
    float: none;
    width: 100%; }

  .offer-list > li {
    width: 100%; }

  .jumbtron .jumbtron-title {
    font-size: 28px; }

  .map {
    height: 270px; }

  .carousel-inner > .item {
    text-align: center; }
    .carousel-inner > .item p {
      font-size: 16px; }
    .carousel-inner > .item .user-name, .carousel-inner > .item .item-caption {
      font-size: 22px; }
    .carousel-inner > .item img {
      display: inline-block;
      margin-bottom: 12px;
      float: none;
      margin-right: 0; }

  .img-wrap {
    width: 100%; }

  .title-h2 {
    font-size: 20px; }

  .form-wrap {
    padding: 20px 15px; }
    .form-wrap .form-caprion {
      font-size: 13px; }

  .form-wrap form input[type="text"], .promo-form form input[type="text"] {
    height: 45px; }

  .header-form {
    width: 100%; }

  .header-info {
    padding-left: 0; }
    .header-info .header-cont {
      float: none;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 15px;
      text-align: center; }
      .header-info .header-cont .work-time {
        text-align: center; }

  .navbar-default .navbar-nav > li {
    width: 100%;
    margin-bottom: 5px; }
    .navbar-default .navbar-nav > li > a {
      font-size: 18px;
      display: inline-block;
      padding-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
