button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  position: relative;
  min-height: 100%;
  font: 400 16px 'ProximaNova', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'ProximaNova', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #4178b4; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.container {
  position: relative;
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1340px) {
  .container {
    width: 1170px; } }

@media (max-width: 1200px) {
  .container {
    width: 970px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; } }

@media (max-width: 767px) {
  .container {
    width: 540px !important;
    padding: 0 !important; } }

@media (max-width: 575px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important; } }

.head {
  display: inline-block;
  font: 800 34px 'ProximaNova';
  margin-bottom: 34px;
  border-bottom: 5px solid #dd261e;
  padding-right: 12px; }

@media (max-width: 1200px) {
  .head {
    font-size: 30px;
    margin-bottom: 20px; } }

@media (max-width: 767px) {
  .head {
    font-size: 28px; } }

@media (max-width: 575px) {
  .head {
    font-size: 26px;
    line-height: 1.1; } }

.burger {
  display: none;
  width: 30px; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a span {
      position: relative;
      display: block;
      width: 30px;
      height: 5px;
      background-color: #222;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 30px;
        height: 5px;
        position: absolute;
        left: 0;
        background-color: #222;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }

@media (max-width: 1340px) {
  .burger {
    display: block; } }

.check {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #626262; }
  .check-wrap {
    display: inline-block;
    position: relative;
    cursor: pointer; }
  .check input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .check input:checked + span:before {
      opacity: 1; }
  .check span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .check span:before {
      content: '\2714';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      color: #dd261e;
      font-size: 16px;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }
  .check-text {
    padding-left: 34px;
    color: #6c6966;
    font-size: 14px; }

@media (max-width: 575px) {
  .check-text {
    padding-left: 24px; } }

.page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .page-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: 10;
    flex-direction: 10; }

@media (max-width: 991px) {
  .section {
    height: 100% !important;
    padding: 0 !important; }
  .fp-tableCell {
    height: 100% !important; } }

.header {
  position: relative;
  padding: 21px 90px 13px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 -10px 24px 6px rgba(0, 1, 1, 0.2);
  box-shadow: 0 -10px 24px 6px rgba(0, 1, 1, 0.2); }
  .header-wrap {
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99; }
  .header-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-descr {
    font-size: 14px;
    margin-bottom: 9px; }
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-contact {
    margin-right: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-contact a {
      line-height: 1;
      margin-bottom: 8px;
      font-weight: 800; }
      .header-contact a:last-child {
        margin-bottom: 0; }
  .header-order {
    line-height: 40px;
    margin-right: 42px;
    border: 1px solid #285382;
    color: #285382;
    padding: 0 18px;
    font-weight: 700; }
    .header-order:hover {
      color: #4178b4;
      border-color: #4178b4; }

.lang {
  margin: 0;
  padding: 0;
  list-style: none; }
  .lang li {
    margin-bottom: 2px; }
    .lang li:last-child {
      margin-bottom: 0; }
    .lang li.active span {
      background-color: #6c6966;
      color: #fff; }
    .lang li a, .lang li span {
      width: 30px;
      height: 20px;
      color: #6c6966;
      font-size: 14px;
      font-weight: 800;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .lang li a:hover, .lang li span:hover {
        background-color: #6c6966;
        color: #fff; }

@media (max-width: 1900px) {
  .header {
    padding-right: 10px;
    padding-left: 10px; }
    .header-wrap {
      height: 76px; }
    .header-descr {
      margin-bottom: 2px; }
    .header-contact {
      margin-right: 8px; }
      .header-contact a {
        margin-bottom: 6px; }
    .header-order {
      font-size: 15px;
      margin-right: 14px;
      padding: 0 10px; } }

@media (max-width: 1340px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding-right: 40px; }
  .header-descr {
    width: 440px;
    margin-bottom: 0; } }

@media (max-width: 1200px) {
  .header-content {
    padding-right: 20px; }
  .header-descr {
    width: 266px;
    font-size: 13px;
    line-height: 1.1; } }

@media (max-width: 991px) {
  .header-wrap {
    height: auto; }
  .header-content {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header-descr {
    display: none; } }

@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-body {
      width: 100%; }
    .header-content {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

@media (max-width: 475px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .header-content {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-right: 0; }
    .header-info {
      display: none;
      width: 100%;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 10px; }
    .header-contact {
      margin-right: 0;
      margin-bottom: 10px; }
    .header-order {
      margin-right: 0;
      margin-bottom: 10px; }
  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .lang li {
      margin-right: 4px; }
      .lang li:last-child {
        margin-right: 0; } }

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 220px;
  margin-right: 80px; }

@media (max-width: 1900px) {
  .logo {
    width: 180px;
    margin-right: 20px; } }

@media (max-width: 1340px) {
  .logo {
    width: 220px; } }

@media (max-width: 767px) {
  .logo {
    margin-right: 0;
    margin-bottom: 14px; } }

@media (max-width: 475px) {
  .logo {
    width: 180px;
    margin-bottom: 0; } }

.custom-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .custom-nav li {
    margin-right: 25px; }
    .custom-nav li:last-child {
      margin-right: 0; }
    .custom-nav li a {
      font-weight: 800; }

@media (max-width: 1900px) {
  .custom-nav li {
    margin-right: 14px; }
    .custom-nav li a {
      font-size: 14px; } }

@media (max-width: 1340px) {
  .custom-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 0;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .custom-nav.active {
      opacity: 1;
      visibility: visible; }
    .custom-nav li {
      margin: 4px 0; }
      .custom-nav li a {
        font-size: 16px; } }

.modal-advice {
  display: none;
  width: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 31px 48px 26px; }
  .modal-advice-items {
    margin-bottom: 30px; }
  .modal-advice-item {
    position: relative;
    margin-bottom: 27px; }
    .modal-advice-item:last-child {
      margin-bottom: 0; }
    .modal-advice-item.error input {
      border-color: #dd261e;
      background-color: #fff; }
    .modal-advice-item .error-text {
      line-height: 1;
      position: absolute;
      bottom: -18px;
      left: 0;
      color: #dd261e;
      font-size: 14px; }
    .modal-advice-item span {
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 6px; }
    .modal-advice-item input {
      width: 100%;
      height: 50px;
      padding: 0 18px;
      background-color: #e8e8e8;
      border: 1px solid transparent;
      font: 400 18px 'ProximaNova'; }
      .modal-advice-item input::-webkit-input-placeholder {
        color: #000; }
      .modal-advice-item input:-ms-input-placeholder {
        color: #000; }
      .modal-advice-item input::-ms-input-placeholder {
        color: #000; }
      .modal-advice-item input::placeholder {
        color: #000; }
      .modal-advice-item input::-moz-placeholder {
        color: #000; }
  .modal-advice-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .modal-advice-bottom button {
      height: 50px;
      padding: 0 30px;
      margin-bottom: 24px;
      border: none;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms;
      color: #fff;
      background-color: #285382;
      font: 800 18px 'ProximaNova'; }
      .modal-advice-bottom button:hover {
        background-color: #4178b4; }

.modal-application {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 34px; }
  .modal-application .head {
    padding-right: 0;
    margin-bottom: 36px; }
  .modal-application__text {
    padding: 0 24px;
    line-height: 1.6;
    font-size: 18px; }

.fancybox-slide > * {
  overflow: visible; }

.fancybox-close-small {
  background: #e8e8e8 url(../images/close.png) no-repeat left;
  width: 40px;
  height: 40px;
  top: -1px;
  right: -40px; }
  .fancybox-close-small:focus {
    outline: none; }
  .fancybox-close-small:hover {
    background-position: right; }
  .fancybox-close-small:after {
    display: none; }

@media (max-width: 767px) {
  .modal-advice {
    width: 460px;
    padding: 16px 20px 12px; } }

@media (max-width: 575px) {
  .modal-advice {
    width: 300px;
    padding: 12px; }
    .modal-advice-items {
      margin-bottom: 20px; }
    .modal-advice-bottom button {
      margin-bottom: 18px; }
  .fancybox-close-small {
    top: 0;
    right: 0; }
  .modal-application {
    padding: 40px 0; }
    .modal-application .head {
      margin-bottom: 12px; } }

.footer {
  padding: 27px 0 16px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .footer-wrap {
    background-color: #191919;
    padding-top: 0 !important; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 60px;
    margin-bottom: 35px; }
  .footer-item {
    position: relative;
    width: 560px; }
    .footer-item img {
      width: 24px;
      height: 34px;
      position: absolute;
      top: 2px;
      left: 0; }
  .footer-content {
    padding-left: 40px;
    padding-top: 10px; }
    .footer-content p {
      color: #fff;
      margin-bottom: 13px; }
      .footer-content p a {
        color: #fff;
        text-decoration: underline;
        margin-left: 2px; }
        .footer-content p a:hover {
          text-decoration: none; }
  .footer-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-tel {
    margin-right: 16px; }
    .footer-tel span {
      color: #fff; }
    .footer-tel a {
      color: #fff; }
      .footer-tel a:hover {
        text-decoration: underline; }
  .footer__mail {
    color: #fff;
    text-decoration: underline; }
    .footer__mail:hover {
      color: #fff;
      text-decoration: none; }

@media (max-width: 1900px) {
  .footer-items {
    padding-right: 0; } }

@media (max-width: 1200px) {
  .footer-item {
    width: 474px; }
  .footer-content {
    padding-left: 36px;
    padding-top: 6px; }
    .footer-content p {
      font-size: 15px;
      margin-bottom: 10px; }
      .footer-content p a {
        font-size: 15px; }
  .footer-tel a, .footer__mail {
    font-size: 15px; } }

@media (max-width: 991px) {
  .footer-item {
    width: 370px; } }

@media (max-width: 767px) {
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-item {
    width: 100%;
    margin-bottom: 10px; }
    .footer-item:last-child {
      margin-bottom: 0; } }

@media (max-width: 575px) {
  .footer-items {
    margin-bottom: 28px; }
  .footer-elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 48px; }
  .bottom p {
    margin-bottom: 0;
    color: #9f9f9f;
    font-size: 14px; }
    .bottom p a {
      color: #9f9f9f;
      font-size: 14px; }
      .bottom p a:hover {
        text-decoration: underline; }

@media (max-width: 1900px) {
  .bottom {
    padding-right: 0; } }

@media (max-width: 575px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .bottom p {
      margin-bottom: 4px; }
      .bottom p:last-child {
        margin-bottom: 0; } }

.bread {
  padding: 29px 0 32px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .bread li {
    position: relative;
    margin-right: 22px;
    color: #6c6966;
    font-size: 14px; }
    .bread li:after {
      content: '>';
      display: block;
      position: absolute;
      top: 0;
      right: -15px; }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li a {
      color: #6c6966;
      font-size: 14px;
      text-decoration: underline; }
      .bread li a:hover {
        text-decoration: none; }

@media (max-width: 575px) {
  .bread {
    padding: 22px 0 20px; } }

.video {
  padding-bottom: 22px; }
  .video .head {
    margin-bottom: 40px; }
  .video-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 17px; }
  .video-item {
    width: 600px;
    margin-bottom: 31px; }
    .video-item iframe {
      width: 100%;
      height: 300px;
      border: none; }
    .video-item p {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 0;
      padding-top: 8px; }

@media (max-width: 1340px) {
  .video-item {
    width: 560px; } }

@media (max-width: 1200px) {
  .video-item {
    width: 470px; }
    .video-item iframe {
      height: 262px; }
    .video-item p {
      font-size: 18px; } }

@media (max-width: 991px) {
  .video .head {
    margin-bottom: 28px; }
  .video-item {
    width: 366px;
    margin-bottom: 20px; }
    .video-item iframe {
      height: 230px; }
    .video-item p {
      font-size: 16px;
      line-height: 1.2;
      padding-top: 2px; } }

@media (max-width: 767px) {
  .video-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 575px) {
  .video-item {
    width: 300px; }
    .video-item iframe {
      height: 180px; } }

.custom-pagination {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .custom-pagination li {
    margin: 0 1px; }
    .custom-pagination li.active a {
      color: #000;
      border-color: #000;
      text-decoration: none; }
    .custom-pagination li.prev a, .custom-pagination li.next a {
      font-size: 24px;
      width: auto;
      height: auto;
      border: none;
      text-decoration: none;
      line-height: 1; }
      .custom-pagination li.prev a:hover, .custom-pagination li.next a:hover {
        color: #285382; }
    .custom-pagination li.prev {
      margin: 0 20px 0 0; }
    .custom-pagination li.next {
      margin: 0 0 0 20px; }
    .custom-pagination li a {
      width: 40px;
      height: 40px;
      border: 1px solid transparent;
      color: #6c6966;
      font-weight: 700;
      text-decoration: underline;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .custom-pagination li a:hover {
        color: #000;
        border-color: #000;
        text-decoration: none; }

@media (max-width: 991px) {
  .custom-pagination {
    margin-bottom: 10px; } }

@media (max-width: 575px) {
  .custom-pagination li.prev {
    margin-right: 12px; }
  .custom-pagination li.next {
    margin-left: 12px; }
  .custom-pagination li a {
    width: 32px;
    height: 32px;
    font-size: 15px; } }

.projects {
  padding-bottom: 20px; }
  .projects .head {
    margin-bottom: 31px; }
  .projects-nav {
    padding: 0;
    margin: 0 0 18px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .projects-nav li {
      margin: 0 14px 10px 0; }
      .projects-nav li.active a {
        background-color: #285382;
        color: #fff; }
      .projects-nav li a {
        padding: 4px 14px;
        color: #6c6966;
        font-weight: 700;
        border: 1px solid #6c6966; }
        .projects-nav li a:hover {
          background-color: #285382;
          color: #fff; }
  .projects-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .projects-item {
    width: 600px;
    margin-bottom: 40px;
    padding-bottom: 17px;
    border: 1px solid #aeaeae; }
    .projects-item p {
      padding: 17px 150px 0 20px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4; }

@media (max-width: 1340px) {
  .projects-item {
    width: 564px; }
    .projects-item p {
      padding-right: 114px; } }

@media (max-width: 1200px) {
  .projects-item {
    width: 470px; }
    .projects-item p {
      padding-right: 30px; } }

@media (max-width: 991px) {
  .projects-item {
    width: 364px;
    margin-bottom: 24px; }
    .projects-item p {
      font-size: 18px;
      line-height: 1.2;
      padding: 10px 10px 0; } }

@media (max-width: 767px) {
  .projects-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 575px) {
  .projects-nav li {
    margin: 0 8px 8px 0; }
    .projects-nav li a {
      padding: 4px 10px;
      font-size: 15px; }
  .projects-item p {
    font-size: 16px; } }

.news {
  padding-bottom: 20px; }
  .news .head {
    margin-bottom: 40px; }
  .news-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .news-item {
    width: 380px;
    margin: 0 60px 51px 0; }
    .news-item:nth-child(3n) {
      margin-right: 0; }
    .news-item .date {
      position: relative;
      margin: 38px 0 33px;
      padding-left: 22px;
      line-height: 1;
      color: #6c6966;
      font-weight: 700; }
      .news-item .date:before {
        content: '';
        display: block;
        background: url(../images/news-date.jpg) no-repeat 50%;
        width: 11px;
        height: 8px;
        position: absolute;
        top: 5px;
        left: 2px; }
    .news-item__head {
      color: #285382;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.45;
      margin-bottom: 24px;
      color: #285382; }
    .news-item p {
      line-height: 1.65;
      margin-bottom: 0; }

@media (max-width: 1340px) {
  .news-item {
    width: 376px;
    margin: 0 20px 26px 0; }
    .news-item .date {
      margin: 26px 0 18px; }
    .news-item__head {
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 10px; }
    .news-item p {
      line-height: 1.35; } }

@media (max-width: 1200px) {
  .news-item {
    width: 310px; } }

@media (max-width: 991px) {
  .news-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .news-item {
    margin: 0 10px 20px; }
    .news-item:nth-child(3n) {
      margin: 0 10px 20px; } }

@media (max-width: 575px) {
  .news-item {
    margin-right: 0;
    margin-left: 0; }
    .news-item:nth-child(3n) {
      margin-right: 0;
      margin-left: 0; } }

.main-news {
  position: relative; }
  .main-news-wrap {
    background-color: #285382; }
  .main-news .head {
    color: #fff;
    margin-bottom: 40px; }
  .main-news__link {
    position: absolute;
    top: 6px;
    right: 0;
    color: #fff;
    line-height: 39px;
    border: 1px solid #fff;
    padding: 0 31px 0 16px; }
    .main-news__link:hover {
      color: #fff; }
      .main-news__link:hover:after {
        right: 9px; }
    .main-news__link:after {
      content: '';
      display: block;
      background: url(../images/arrow.png) no-repeat 50%;
      width: 6px;
      height: 10px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 12px;
      -webkit-transition: 300ms;
      transition: 300ms; }
  .main-news .news-item .date {
    color: #fff; }
    .main-news .news-item .date:before {
      background-image: url(../images/dateBeforeWhite.png); }
  .main-news .news-item__head {
    color: #fff; }
    .main-news .news-item__head:hover {
      text-decoration: underline; }
  .main-news .news-item p {
    color: #fff; }

@media (max-width: 1900px) {
  .main-news {
    padding: 0; }
    .main-news .head {
      margin-bottom: 30px; }
    .main-news .news-item .date {
      font-size: 15px;
      margin: 14px 0 8px; }
    .main-news .news-item__head {
      line-height: 1.2;
      font-size: 18px;
      margin-bottom: 10px; }
    .main-news .news-item p {
      font-size: 15px;
      line-height: 1.3; } }

@media (max-width: 1200px) {
  .main-news .head {
    margin-bottom: 14px; }
  .main-news__link {
    line-height: 34px;
    font-size: 15px; }
  .main-news .news-item__head {
    line-height: 1.1;
    font-size: 16px;
    margin-bottom: 6px; }
  .main-news .news-item p {
    font-size: 14px;
    line-height: 1.15; }
  .main-news .news-item .date {
    font-size: 14px;
    margin: 10px 0 6px; } }

@media (max-width: 991px) {
  .main-news {
    padding: 30px 0; }
    .main-news__link {
      top: 36px; } }

@media (max-width: 575px) {
  .main-news .head {
    margin-right: 40px; }
  .main-news__link {
    position: relative;
    top: 0;
    margin-bottom: 14px; } }

.main-video__link {
  position: absolute;
  top: 7px;
  right: 0;
  color: #285382;
  line-height: 39px;
  border: 1px solid #285382;
  padding: 0 36px 0 16px; }
  .main-video__link:hover {
    color: #285382; }
    .main-video__link:hover:after {
      right: 9px; }
  .main-video__link:after {
    content: '';
    display: block;
    background: url(../images/arrowBlue.png) no-repeat 50%;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    -webkit-transition: 300ms;
    transition: 300ms; }

.main-video .video {
  padding: 0; }
  .main-video .video-items {
    margin-bottom: 0; }
  .main-video .video-item {
    margin-bottom: 45px; }

@media (max-width: 1900px) {
  .main-video .head {
    margin-bottom: 20px; }
  .main-video .video-item {
    margin-bottom: 10px; }
    .main-video .video-item iframe {
      height: 230px; } }

@media (max-width: 1200px) {
  .main-video .head {
    margin-bottom: 14px; }
  .main-video__link {
    line-height: 34px;
    font-size: 15px; }
  .main-video .video-item iframe {
    height: 190px; } }

@media (max-width: 991px) {
  .main-video {
    padding: 30px 0; }
    .main-video__link {
      top: 36px; } }

@media (max-width: 575px) {
  .main-video .head {
    margin-right: 40px; }
  .main-video__link {
    position: relative;
    top: 0;
    margin-bottom: 14px; } }

.contacts {
  padding-bottom: 70px; }
  .contacts .head {
    margin-bottom: 31px; }
  .contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 58px; }
    .contacts-item:last-child {
      margin-bottom: 0; }
    .contacts-item__head {
      color: #285382;
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 31px; }
    .contacts-item__tel {
      color: #000;
      font-size: 20px;
      font-weight: 700; }
      .contacts-item__tel:hover {
        color: #4178b4; }
    .contacts-item__mail {
      text-decoration: underline;
      color: #285382; }
    .contacts-item p {
      line-height: 1;
      margin-bottom: 10px; }
    .contacts-item table {
      width: 100%;
      margin-top: 28px; }
      .contacts-item table tr.info td {
        padding-top: 30px; }
      .contacts-item table tr td {
        padding: 2px 0; }
        .contacts-item table tr td:first-child {
          width: 144px; }
  .contacts-map {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 780px;
    height: 300px; }
    .contacts-map iframe {
      width: 100%;
      height: 100%;
      border: 1px solid #bababa; }
  .contacts-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding-right: 40px;
    padding-top: 10px; }

@media (max-width: 1340px) {
  .contacts-map {
    width: 700px; } }

@media (max-width: 1200px) {
  .contacts {
    padding-bottom: 50px; }
    .contacts-map {
      width: 500px; }
    .contacts-item {
      margin-bottom: 34px; } }

@media (max-width: 991px) {
  .contacts-map {
    width: 380px; }
  .contacts-content {
    padding-right: 16px; }
  .contacts-item__head {
    margin-bottom: 20px; }
  .contacts-item__tel {
    font-size: 18px; }
  .contacts-item p {
    font-size: 15px; }
  .contacts-item table {
    margin-top: 18px; } }

@media (max-width: 767px) {
  .contacts-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contacts-content {
    padding: 0;
    margin-bottom: 20px; }
  .contacts-map {
    width: 100%;
    height: 220px; } }

@media (max-width: 575px) {
  .contacts-content table tr.info td {
    padding-top: 20px; }
  .contacts-content table tr td {
    font-size: 15px; }
    .contacts-content table tr td:first-child {
      width: 118px; } }

.article {
  margin: -4px 0 89px; }
  .article h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px; }
  .article h3 {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 26px;
    font-weight: 700;
    padding-right: 60px; }
  .article ul {
    margin: 0 0 40px;
    padding: 0 0 0 60px;
    list-style: none; }
    .article ul li {
      font-weight: 700;
      margin-bottom: 16px; }
      .article ul li:last-child {
        margin-bottom: 0; }
  .article > img {
    margin-bottom: 36px; }
  .article .date {
    position: relative;
    color: #6c6966;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 28px; }
    .article .date:before {
      content: '';
      display: block;
      background: url(../images/news-date.jpg) no-repeat 50%;
      width: 11px;
      height: 8px;
      position: absolute;
      top: 6px;
      left: 0; }
  .article p {
    line-height: 1.65;
    margin-bottom: 32px;
    padding-right: 100px; }
    .article p.indent {
      margin-bottom: 16px; }
  .article-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 43px; }
    .article-img img {
      width: 600px; }

@media (max-width: 1340px) {
  .article-img img {
    width: 560px; } }

@media (max-width: 1200px) {
  .article {
    margin: 0 0 62px; }
    .article h2 {
      font-size: 30px; }
    .article p {
      padding-right: 0;
      line-height: 1.5;
      margin-bottom: 26px; }
    .article > img {
      margin-bottom: 28px; }
    .article-img img {
      width: 466px; } }

@media (max-width: 991px) {
  .article h3 {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 16px; }
  .article ul {
    margin: 0 0 30px;
    padding: 0 0 0 44px; }
  .article-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px; }
    .article-img img {
      margin-right: 0;
      margin-bottom: 20px; } }

@media (max-width: 767px) {
  .article h2 {
    font-size: 26px;
    line-height: 1.1;
    margin-bottom: 20px; }
  .article ul {
    padding: 0; }
    .article ul li {
      font-size: 14px;
      margin-bottom: 12px; }
  .article .date {
    margin-bottom: 14px; }
  .article p {
    font-size: 15px;
    line-height: 1.25;
    margin-bottom: 20px; }
  .article > img {
    margin-bottom: 20px; } }

.products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.products-item {
  position: relative;
  width: 33.33%;
  height: 440px;
  -webkit-box-shadow: inset 0px -83px 22px 0px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -83px 22px 0px rgba(0, 0, 0, 0.9); }
  .products-item > img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%; }

.products-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 65px; }
  .products-content h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 24px; }
  .products-content a {
    position: relative;
    line-height: 40px;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 0 30px 0 20px;
    color: #fff; }
    .products-content a:after {
      content: '';
      display: block;
      background: url(../images/arrow.png) no-repeat 50%;
      width: 6px;
      height: 10px;
      margin-top: 1px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 12px;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .products-content a:hover:after {
      right: 9px; }

@media (max-width: 1900px) {
  .products-item {
    height: 295px; }
  .products-content {
    margin-bottom: 42px; } }

@media (max-width: 1340px) {
  .products-item {
    height: 300px; }
  .products-content h2 {
    font-size: 20px;
    margin-bottom: 16px; } }

@media (max-width: 1200px) {
  .products-item {
    height: 260px; }
  .products-content {
    margin-bottom: 30px; }
    .products-content h2 {
      font-size: 18px; }
    .products-content a {
      line-height: 36px;
      padding-left: 16px; } }

@media (max-width: 991px) {
  .products-item {
    width: 50%; } }

@media (max-width: 767px) {
  .products-item {
    height: 240px; } }

@media (max-width: 575px) {
  .products-item {
    width: 100%; } }

.showcase {
  margin-top: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .showcase-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .showcase-content {
    width: 880px;
    text-align: center; }
    .showcase-content .head {
      font-size: 48px;
      color: #fff;
      padding-right: 0;
      margin-bottom: 26px; }
    .showcase-content p {
      font-size: 24px;
      color: #fff;
      line-height: 1.4;
      margin-bottom: 56px; }
    .showcase-content a {
      position: relative;
      line-height: 50px;
      padding: 0 45px 0 30px;
      color: #fff;
      border: 1px solid #fff;
      font-size: 18px;
      font-weight: 700; }
      .showcase-content a:hover:after {
        -webkit-transform: translateY(0%);
        transform: translateY(0%); }
      .showcase-content a:after {
        content: '';
        display: block;
        background: url(../images/arrowDown.png) no-repeat 50%;
        width: 14px;
        height: 8px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 12px;
        -webkit-transition: 300ms;
        transition: 300ms; }

@media (max-width: 1900px) {
  .showcase {
    margin-top: 0; } }

@media (max-width: 1200px) {
  .showcase-content .head {
    font-size: 42px;
    margin-bottom: 14px; }
  .showcase-content p {
    font-size: 21px;
    line-height: 1.25;
    margin-bottom: 30px; } }

@media (max-width: 991px) {
  .showcase {
    padding: 166px 40px 40px; }
    .showcase-content .head {
      font-size: 36px;
      margin-bottom: 8px; }
    .showcase-content p {
      font-size: 18px;
      margin-bottom: 20px; }
    .showcase-content a {
      line-height: 42px;
      padding: 0 40px 0 16px;
      font-size: 16px; } }

@media (max-width: 767px) {
  .showcase-content .head {
    font-size: 28px; }
  .showcase-content p {
    font-size: 15px; }
  .showcase-content a {
    line-height: 36px;
    padding: 0 36px 0 10px;
    font-size: 14px; } }

.about .head {
  margin-bottom: 40px; }

.about-wrap {
  position: relative;
  background: url(../images/about-bg.jpg) no-repeat 50%;
  background-size: cover; }
  .about-wrap .container {
    z-index: 5; }
  .about-wrap:after {
    content: '';
    display: block;
    background-color: rgba(232, 232, 232, 0.6);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }

.about-items {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about-item {
  width: 42.8%; }
  .about-item h2 {
    color: #285382;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 26px; }
  .about-item p {
    line-height: 1.65;
    margin-bottom: 26px; }
  .about-item ul {
    margin: 0 0 26px;
    padding: 0;
    list-style: none; }
    .about-item ul li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 26px;
      line-height: 1.65; }
      .about-item ul li:last-child {
        margin-bottom: 0; }
      .about-item ul li:before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: #dd261e;
        position: absolute;
        top: 12px;
        left: 0; }

@media (max-width: 1900px) {
  .about {
    padding-top: 0; }
    .about .head {
      margin-bottom: 20px; }
    .about-item h2 {
      line-height: 1.25;
      margin-bottom: 10px; }
    .about-item p {
      line-height: 1.35;
      margin-bottom: 10px; }
    .about-item ul {
      margin-bottom: 10px; }
      .about-item ul li {
        margin-bottom: 12px;
        line-height: 1.35; } }

@media (max-width: 1200px) {
  .about .head {
    margin-bottom: 14px; }
  .about-item {
    width: 46%; }
    .about-item h2 {
      line-height: 1.1;
      font-size: 20px; }
    .about-item p {
      line-height: 1.15;
      font-size: 15px; }
    .about-item ul li {
      font-size: 15px;
      margin-bottom: 8px;
      line-height: 1.15; }
      .about-item ul li:before {
        top: 7px; } }

@media (max-width: 991px) {
  .about {
    padding: 30px 0; } }

@media (max-width: 767px) {
  .about-wrap:after {
    width: 100%; }
  .about-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .about-item {
    width: 100%;
    margin-bottom: 10px; }
    .about-item:last-child {
      margin-bottom: 0; } }
