@media only screen and (max-width: 1340px) {
    .container {
        width: 970px;
    }

    .logo img {
        width: 200px;
    }

    .logo {
        margin-right: 28px;
        margin-top: 13px;
    }

    .search {
        margin-right: 28px;
    }

    .callback-item {
        margin-right: 28px;
    }

    .nav__link {
        font-size: 14px;
        padding-right: 0;
        margin-right: 13px;
    }

    .nav__link:after {
        display: none;
    }

    .filter-item select {
        width: 190px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 10px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 3px;
    }

    .filter-item {
        margin-right: 7px;
    }

    .filter-item > span {
        margin-right: 3px;
    }

    .filter button {
        width: 153px;
        margin: 10px auto 0;
        display: block;
    }

    .nav__list_popular a {
        padding: 0 13px;
    }

    .nav__list_popular {
        margin-right: 10px;
    }

    .nav__list:hover .nav-sub {
        min-width: 200px;
    }

    .best-item__order {
        top: 245px;
    }

    .best-item-name a {
        max-width: 200px;
        font-size: 24px;
    }

    .best-item-name span {
        margin-top: 1px;
    }

    .main-links__head {
        font-size: 18px;
        margin-bottom: 17px;
    }

    .showcase-item__img {
        display: none;
    }

    .showcase-item-content {
        float: left;
        width: auto;
    }

    .showcase-main-content {
        padding: 0 15px;
    }

    .showcase-main-content p {
        font-size: 24px;
    }

    .footer-logo {
        width: 100%;
        margin: 0 auto 15px;
        text-align: center;
    }

    .footer-menu {
        max-width: 50%;
    }

    .footer-menu ul {
        margin-bottom: 20px;
    }

    .journal-links li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .main-journal__img {
        display: block;
    }

    .main-journal__link {
        margin-bottom: 10px;
    }

    .payment-content-wrap {
        max-width: 630px;
    }

    .product-item__link {
        padding: 0 10px;
        margin-right: 65px;
        letter-spacing: 0;
    }

    .product-item__order {
        padding: 0 10px;
        letter-spacing: 0;
    }

    .product-gallery__item a {
        margin-right: 14px;
    }

    .price-item__head {
        display: block;
        font-size: 21px;
        margin: 10px 0;
    }

    .price-item span {
        display: block;
        padding-bottom: 10px;
    }

    .cabinet-header-item {
        width: 150px;
    }

    .cabinet-text {
        float: left;
        margin-top: 30px;
    }

    /* Basket */
    .basket-head {
        margin-left: 10px;
    }

    .basket__caption {
        font-size: 20px;
    }

    .basket-head p {
        font-size: 12px;
    }

    /*
      .basket-info tr td:first-child {
        width: 178px;
      }
      .basket-info__button button {
        font-size: 12px;
        padding: 0 20px;
      }
    */
    .basket-content {
        margin-left: 170px;
    }

    .basket-bonus__mark,
    .basket-bonus__score {
        float: none;
        width: auto;
    }

    .basket-bonus__score {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .basket-add {
        margin-left: 0;
    }

    .basket-add p {
        font-size: 21px;
    }

    /* Rack */
    .rack {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .rack-content {
        margin-top: 0;
        margin-right: 0;
        align-items: flex-start;
        justify-content: center;
    }

    .rack-sidebar {
        margin: 0 auto;
    }

    .rack-par.delivery {
        margin-bottom: 15px;
    }

    /* Order */
    .order-date {
        width: 150px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .order-date.conform {
        width: 310px;
    }

    .ordering-head {
        font-size: 24px;
    }

    .ordering-info {
        padding: 25px 12px;
    }

    .ordering-info table tbody tr td:first-child {
        line-height: 35px;
        width: 180px;
    }

    .order-item__input .basket-checkbox {
        margin-top: 5px;
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        width: 750px;
    }

    .burger-wrap {
        display: block;
        width: 30px;
    }

    .burger-wrap a {
        cursor: pointer;
        padding: 12px 0;
        display: block;
    }

    .burger-wrap a span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #fff;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .burger-wrap a span:before,
    .burger-wrap a span:after {
        position: absolute;
        background: #fff;
        content: '';
        width: 30px;
        height: 5px;
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border-radius: 7px;
    }

    .burger-wrap2 a span {
        background: #af3a65;
    }

    .burger-wrap2 a span:before,
    .burger-wrap2 a span:after {
        background: #af3a65;
    }

    .burger-wrap a span:before {
        top: -8px;
    }

    .burger-wrap a span:after {
        top: 8px;
    }

    .burger-wrap a.active span {
        background: transparent;
    }

    .burger-wrap a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px);
    }

    a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .main-nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        background: #af3a65;
        padding: 20px 0;
        margin-top: 20px;
        opacity: 0;
        -webkit-transition: 300ms;
        transition: 300ms;
    }

    .main-nav ul.active {
        margin-top: 0;
        opacity: 1;
        z-index: 100;
    }

    .main-nav ul li {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    .main-nav ul li a {
        font-size: 18px;
    }

    .info-wrap {
        position: relative;
    }

    .info-wrap .container {
        position: static;
    }

    .burger-wrap1 {
        margin-top: -8px;
    }

    .logo {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto 15px;
    }

    .logo img {
        width: 300px;
    }

    .nav {
        padding: 10px 0;
    }

    .nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        z-index: -1;
        -webkit-transition: 300ms;
        transition: 300ms;
        opacity: 0;
    }

    .nav ul.active {
        z-index: 999;
        opacity: 1;
    }

    .burger-wrap2 {
        margin: 0 auto;
        display: block;
    }

    .nav__list {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    .nav-sub {
        display: none;
    }

    .filter-item > span {
        width: 134px;
    }

    .filter button {
        display: inline-block;
        margin: 0;
        vertical-align: top;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        width: auto;
    }

    .filter-item {
        margin-bottom: 15px;
    }

    .filter {
        padding: 15px 0 0 0;
    }

    .best-item {
        width: 49%;
    }

    .best-item:nth-child(2n) {
        margin-right: 0;
    }

    .best-wrap .best-item:nth-child(3n) {
        display: none;
    }

    .main-links-item {
        vertical-align: top;
        height: 160px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .video iframe {
        width: 100%;
    }

    .footer-payment {
        width: 100%;
        text-align: center;
    }

    .footer-menu {
        max-width: 100%;
    }

    .footer-menu ul {
        margin-right: 60px;
    }

    .footer-callback-item {
        margin-right: 18px;
    }

    .footer-social p {
        display: none;
    }

    .about {
        padding-left: 0;
        padding-right: 0;
    }

    .payment-content-wrap {
        max-width: 420px;
    }

    .payment-item i {
        display: block;
        float: none;
        text-align: left;
    }

    .payment-item-content {
        margin-left: 0;
        margin-top: 20px;
    }

    .contacts-item {
        width: 49%;
        margin-bottom: 2%;
    }

    .contacts-item:nth-child(2n) {
        margin-right: 0;
    }

    .contacts__text {
        padding: 0;
    }

    .product-item__head {
        font-size: 40px;
    }

    .product-item__cat {
        margin-bottom: 10px;
    }

    .product-item {
        padding: 22px 0;
    }

    .product-info {
        width: 48%;
    }

    .product-item__comp,
    .product-item-head {
        padding-bottom: 10px;
    }

    .product-item__charact {
        display: block;
        margin-right: 0;
        padding-bottom: 10px;
    }

    .product-item__em {
        display: block;
        width: auto;
    }

    .product-item__input {
        margin-right: 85px;
        margin-bottom: 26px;
    }

    .product-item__link {
        margin-right: 15px;
        font-size: 14px;
    }

    .product-item__order {
        font-size: 14px;
    }

    .product-bonus {
        display: block;
        width: auto;
    }

    .product-bonus__head {
        padding-bottom: 10px;
        text-align: center;
    }

    .product-bonus__sum {
        text-align: center;
    }

    .product-bonus p {
        display: inline;
    }

    .product-bonus:last-child {
        margin-top: 10px;
    }

    .product-descr__head {
        padding-bottom: 8px;
    }

    .product-descr p {
        line-height: 1.3;
    }

    .product-gallery__item a {
        width: 31%;
        margin-right: 5px;
    }

    .journal-links li {
        margin-right: 20px;
    }

    .journal-links li a {
        letter-spacing: 0;
    }

    /* Basket */
    .basket-form {
        width: 70%;
    }

    .cabinet-header-item {
        width: 122px;
    }

    .basket-info {
        width: 29%;
        padding: 25px 15px;
    }

    .cabinet-info span {
        padding-bottom: 10px;
    }

    .basket-info h3 {
        font-size: 21px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .cabinet-info p {
        font-size: 14px;
    }

    .basket-form {
        float: none;
        width: auto;
    }

    .basket-info {
        float: none;
        width: 285px;
        margin: 0 auto 40px;
    }

    .basket-form {
        margin-bottom: 50px;
    }

    /* Rack */
    .rack-content-item {
        width: 360px;
        margin-right: 20px;
    }

    .rack-content__head {
        font-size: 20px;
    }

    .rack-par.delivery .rack-input {
        width: 170px;
        margin-right: 16px;
    }

    .rack-par.wish {
        margin-bottom: 36px;
    }

    .rack-input {
        margin-bottom: 20px;
    }

    .rack-content-label label .checkbox__text {
        line-height: 1.2;
    }

    .rack-content-label label .checkbox {
        margin: 0;
    }

    .rack-par.data .rack-content-label {
        margin-bottom: 14px;
    }

    /* Order */
    .order-items {
        text-align: center;
    }

    .order-date {
        width: 170px;
        margin-right: 23px;
    }

    .order-date.conform {
        width: 364px;
    }

    .ordering-info {
        width: 360px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: auto;
        padding: 0 15px;
    }

    .callback {
        display: none;
    }

    .header {
        padding-bottom: 0;
    }

    .filter-item {
        width: 335px;
        display: block;
        margin: 0 auto 15px;
    }

    .filter button {
        display: block;
        margin: 0 auto;
    }

    .filter {
        padding-bottom: 15px;
    }

    .best-item {
        width: 280px;
        margin: 0 auto 20px !important;
        display: block;
    }

    .best-item__order {
        top: 215px;
    }

    .best-item-name a {
        max-width: 150px;
    }

    .best-item-collection a {
        margin-top: 2px;
    }

    .main-links-item {
        width: 100%;
        margin: 0 auto 35px !important;
        padding-bottom: 20px;
        height: auto;
    }

    .showcase-main {
        width: 100%;
        padding-right: 0;
    }

    .showcase-main-content {
        width: 100%;
    }

    .showcase-items {
        width: 100%;
        padding-left: 0;
    }

    .main-journal-item {
        width: 100%;
        margin: 0 auto 35px !important;
    }

    .footer-callback {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .omg {
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    .footer-menu ul {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .pagination li:after {
        margin: 0 9px;
    }

    .article {
        width: 100%;
    }

    .article-sidebar {
        width: 100%;
    }

    .article h2 {
        font-size: 24px;
    }

    .client-gallery a {
        width: 49%;
    }

    .client-gallery a:nth-child(3n) {
        margin-right: 2%;
    }

    .client-gallery a:nth-child(2n) {
        margin-right: 0;
    }

    .payment-content-wrap {
        max-width: 100%;
        float: none;
    }

    .payment-sidebar {
        float: none;
        width: 280px;
        margin: 0 auto;
    }

    .payment-item {
        margin-bottom: 30px;
    }

    .contacts-item {
        width: 100%;
        margin-bottom: 2%;
        margin-right: 0 !important;
    }

    .product-gallery {
        float: none;
        width: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .product-gallery__item a {
        width: 131px;
    }

    .product-info {
        float: none;
        width: auto;
        text-align: center;
    }

    .price-item {
        width: 49%;
        margin-right: 2%;
    }

    .price-item:nth-child(2n) {
        margin-right: 0;
    }

    .product-bonus img {
        display: none;
    }

    .product-bonus:last-child {
        padding-left: 0;
    }

    /* Basket */
    .basket-form {
        float: none;
        width: auto;
    }

    .basket-info {
        float: none;
        width: 253px;
        margin: 0 auto 30px;
    }

    .cabinet-input span {
        width: 123px;
        letter-spacing: 0;
    }

    .cabinet-input input {
        width: 275px;
        font-size: 15px;
    }

    .basket-form {
        text-align: center;
        padding-bottom: 0;
    }

    .basket-form table thead tr th {
        display: none;
    }

    .basket-form table tbody tr td {
        display: block;
        border: none;
    }

    .basket-form table tbody tr td:first-child {
        text-align: center;
    }

    .basket-head {
        display: block;
        margin-left: 0;
        margin-top: 0;
    }

    .basket__close {
        margin: 0 auto 15px;
    }

    .basket-form table tbody tr td:nth-child(3), .basket-form table tbody tr td:nth-child(4), .basket-form table tbody tr td:last-child {
        padding-top: 15px;
    }

    .basket-delivery__head {
        float: none;
        margin-bottom: 20px;
    }

    .basket-content {
        margin-left: 0;
    }

    .basket-radio label {
        text-align: left;
    }

    .basket-info {
        width: 280px;
    }

    /* Rack */
    .rack {
        margin-bottom: 10px;
    }

    .rack-content {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .rack-content-item {
        width: 100%;
        margin-right: 0;
    }

    .rack-par.delivery .rack-input {
        width: 100%;
    }

    .rack-sidebar {
        width: 100%;
    }

    .rack-par,
    .rack-par.wish {
        margin-bottom: 20px;
    }

    .rack-par.delivery {
        margin-bottom: 5px;
    }

    .basket-info h3 {
        text-align: center;
        margin-bottom: 0;
    }

    .basket-info table {
        margin: 0 auto;
    }

    /* Cabinet */
    .cabinet-content {
        width: 403px;
        float: none;
        margin: 0 auto;
    }

    .cabinet-text {
        float: none;
        margin: 0 auto;
        margin-top: 20px;
    }

    .cabinet-header-item {
        width: 97px;
        font-size: 14px;
    }

    .cabinet-header-item:first-child {
        margin-left: 7px;
    }

    .cabinet__content label {
        text-align: left;
    }

    .order-item__input input, .order-item__input textarea {
        width: 415px;
        margin-right: 0;
    }

    .order-item__input input:first-child, .order-item__input textarea:first-child {
        margin-right: 0;
    }

    .order-date {
        width: 250px;
    }

    .order-date:nth-child(4n) {
        margin-right: 23px;
    }

    .order-date.conform {
        width: 251px;
        margin-right: 23px;
    }

    .ordering-info {
        width: 380px;
    }
}

@media only screen and (max-width: 450px) {
    .info-content .social {
        display: none;
    }

    .info-content {
        padding-top: 6px;
    }

    .search {
        margin-right: 0;
        max-width: 230px;
        margin-top: 10px;
    }

    .search-input {
        width: 100%;
    }

    .filter-item {
        width: 190px;
    }

    .filter-item > span {
        margin-bottom: 10px;
    }

    .best-link a {
        letter-spacing: 0;
        font-size: 12px;
        padding: 0 10px;
    }

    .head {
        font-size: 28px;
    }

    .video iframe {
        height: 300px;
    }

    .footer-callback-item {
        margin-bottom: 10px;
    }

    .footer-address {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .footer-social {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .pagination li:first-child, .pagination li:last-child {
        display: none;
    }

    .bread li {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .article__date {
        margin-bottom: 8px;
    }

    .article__cat {
        margin-bottom: 8px;
    }

    .article__back {
        float: left;
        margin-top: 15px;
    }

    .modal-input {
        width: 280px;
    }

    .modal {
        padding-left: 10px;
        padding-right: 10px;
    }

    .product-gallery__item a:last-child {
        display: none;
    }

    .product-item__head {
        font-size: 36px;
    }

    .product-item__em {
        padding-right: 0;
    }

    .product-item__input {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .product-item__price {
        display: block;
        padding-bottom: 10px;
    }

    .product-item__link {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0 15px;
        letter-spacing: 2px;
    }

    .product-item__order {
        padding: 0 15px;
        letter-spacing: 2px;
    }

    .price-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .cabinet-header-item:first-child {
        margin-left: 0;
    }

    .cabinet-header-item {
        margin-right: 0;
        width: 133px;
    }

    .cabinet-content {
        width: 295px;
    }

    .cabinet-input span {
        display: block;
        margin: 0 auto 10px;
    }

    .cabinet-input input {
        width: 295px;
    }

    .cabinet-text {
        width: auto;
    }

    /* Basket */
    .basket-radio label {
        line-height: 1.3;
        font-size: 14px;
    }

    .basket-checkbox label {
        margin-right: 0;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .basket-inputs {
        display: block;
        margin-bottom: 10px;
    }

    /* Rack */
    .rack-item {
        flex-direction: column;
    }

    .rack-item-content {
        width: 100%;
        margin-left: 0;
        padding-top: 15px;
    }

    .basket-info tr td {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .basket-info tr td:first-child {
        width: auto;
    }

    .basket-info__button button {
        font-size: 12px;
    }

    .basket-info tr td:first-child {
        padding-top: 3px;
    }

    /* Order */
    .order-item__input input, .order-item__input textarea {
        width: 286px;
    }

    .order-date {
        margin: 0 auto 15px;
    }

    .order-date:nth-child(4n),
    .order-date.conform {
        margin-right: 0;
    }

    .ordering-info table tbody tr td:first-child,
    .ordering-info table tbody tr td:last-child {
        line-height: 30px;
        font-size: 14px;
    }

    .ordering-info {
        width: 290px;
    }
}