button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Proxima', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'Proxima', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.head {
  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: #ff6c00;
  margin-bottom: 55px;
}

.link {
  line-height: 60px;
  padding: 0 50px;
  border-radius: 30px;
  box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
  background-image: linear-gradient(to bottom, #ff8500, #ff8500), linear-gradient(to right, #fff, #fff);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  &:hover {
    color: #fff;
    opacity: .9;
  }
}

.check {
  width: 20px;
  height: 20px;
  border: 1px solid #d4dfe6;
  background-color: #fff;
  flex-shrink: 0;
  position: relative;
  &-wrap {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    &:before {
      content: '\2714';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      transition: 300ms;
    }
  }
  &-text {
    font-size: 18px;
    color: #686868;
    margin-left: 16px;
  }
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .container {
    max-width: 970px;
  }
  
  .head {
    font-size: 60px;
    margin-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  
  .head {
    font-size: 48px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  
  .link {
    line-height: 56px;
    padding: 0 24px;
  }
}

//===== Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: #d87504;
      transition: all .2s ease-in-out;
      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: #d87504;
        transition: all .2s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
    &.active {
      span {
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }
        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .burger {
    display: block;
  }
}

//===== Header

.logo {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  span {
    font-size: 34px;
    color: #12171f;
    margin-left: 20px;
  }
}

.header {
  padding: 24px 0 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-wrap {
    background-image: linear-gradient(to bottom, #edf2f5, #edf2f5), linear-gradient(to top, #d4dfe6, #edf2f5 35%, #edf2f5);
    position: relative;
  }
  &-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  &__link {
    line-height: 50px;
    padding: 0 42px;
    border-radius: 25px;
    box-shadow: 0px 5px 18px 2px rgba(255, 108, 0, 0.3);
    border: 1px solid #ff6c00;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    color: #ff6b00;
    &:hover {
      color: #ff6b00;
    }
  }
}

@media (max-width: 1336px) {
  
  .logo {
    width: 260px;
    span {
      font-size: 26px;
    }
  }
  
  .header {
    padding: 20px 0;
    &-content {
      margin-top: 0;
    }
    &__link {
      padding: 0 20px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    padding: 12px 0;
    &-wrap .container {
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
    }
    &-content {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-image: linear-gradient(to bottom, #edf2f5, #edf2f5), linear-gradient(to top, #d4dfe6, #edf2f5 35%, #edf2f5);
      flex-direction: column;
      padding: 10px 0 26px;
      transform: translateY(10px);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: 300ms;
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 10;
        transform: translateY(0);
      }
    }
    &__link {
      line-height: 44px;
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .logo {
    width: 230px;
    span {
      font-size: 22px;
      margin-left: 14px;
    }
  }
  
  .head {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

//===== Nav

.nav {
  margin-right: 52px;
  li {
    margin-right: 42px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-weight: 700;
      color: #12171f;
      text-transform: uppercase;
      border-bottom: 1px solid #9ba0a4;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

@media (max-width: 1336px) {
  .nav {
    margin-right: 20px;
    li {
      margin-right: 26px;
    }
  }
}

@media (max-width: 991px) {
  .nav {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    flex-direction: column;
    li {
      margin-right: 0;
      margin-bottom: 12px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//===== Footer

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 55px 0 63px;
  &-wrap {
    background-image: linear-gradient(to top, #d4dfe6, #d4dfe6 69%, #b8cad6);
  }
  &-section {
    display: flex;
    align-items: flex-start;
  }
  &-items {
    display: flex;
  }
  &-logo {
    flex-shrink: 0;
    width: 70px;
    margin: 4px 171px 0 0;
  }
  &-info {
    width: 460px;
    flex-shrink: 0;
  }
  &-soc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      font-size: 24px;
      color: #12171f;
      margin-right: 28px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        a {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          &:hover {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

.footer-item {
  width: 190px;
  margin: 0 108px 0 0;
  padding: 0;
  list-style: none;
  &:last-child {
    margin-right: 0;
  }
  li {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #12171f;
      text-transform: uppercase;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer-form {
  margin-bottom: 52px;
  &__title {
    font-size: 24px;
    line-height: 1;
    color: #12171f;
    margin-bottom: 22px;
  }
  &-item {
    position: relative;
    input {
      width: 100%;
      height: 60px;
      padding: 0 150px 0 29px;
      border: none;
      border-radius: 30px;
      background-color: #fff;
      font: 400 18px 'Proxima';
      letter-spacing: 0.4px;
      color: #565656;
      &::placeholder {
        color: #565656;
      }
      &::-moz-placeholder {
        color: #565656;
      }
      
    }
    button {
      width: 140px;
      height: 60px;
      font: 700 18px 'Proxima';
      border: none;
      border-radius: 30px;
      box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
      background-image: linear-gradient(to bottom, #ff6b00, #ff6b00), linear-gradient(to right, #ffffff, #ffffff);
      letter-spacing: 0.4px;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        opacity: .9;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 46px;
  &-pay {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 21px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-omg {
    color: #808998;
    a {
      color: #808998;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1336px) {
  .footer {
    &-logo {
      margin: 0 56px 0 0;
    }
    &-item {
      margin-right: 40px;
      &.second {
        width: 150px;
      }
    }
    &-info {
      width: 444px;
    }
    &-soc__title {
      font-size: 21px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    padding: 38px 0 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-section {
      margin-bottom: 20px;
    }
    &-info {
      width: 506px;
    }
    &-form {
      margin-bottom: 34px;
    }
  }
  
  .bottom {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 26px 0;
    &-section {
      width: 100%;
      flex-direction: column;
    }
    &-item li {
      margin-bottom: 14px;
    }
    &-logo {
      margin-right: 0;
      margin-bottom: 14px;
    }
    &-info {
      width: 100%;
    }
    &-form {
      &__title {
        font-size: 20px;
      }
    }
    &-soc {
      flex-direction: column;
      &__title {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  
  .bottom {
    flex-direction: column;
    align-items: center;
    padding-bottom: 22px;
    &-pay {
      margin-bottom: 16px;
      li {
        margin-right: 16px;
      }
    }
  }
}

@media (max-width: 440px) {
  .footer {
    &-section {
      margin-bottom: 12px;
    }
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100% !important;
      margin-right: 0;
      margin-bottom: 14px;
    }
    &-form {
      margin-bottom: 22px;
      &__title {
        margin-bottom: 14px;
      }
      &-item {
        text-align: center;
        input {
          height: 56px;
          padding: 0 24px;
          margin-bottom: 10px;
        }
        button {
          height: 54px;
          position: static;
        }
      }
    }
  }
}

//===== Offer

.offer {
  padding: 82px 0 88px;
  &-wrap {
    background-color: #edf2f5;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 380px;
    margin-right: 60px;
    box-shadow: 0px 5px 18px 2px rgba(8, 93, 155, 0.12);
    background-color: #fff;
    &:last-child {
      margin-right: 0;
    }
  }
  &-img {
    position: relative;
  }
  &-mouse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &-content {
    padding: 38px 50px 35px;
    text-align: center;
    p {
      font-size: 24px;
      line-height: 1.42;
      color: #12171f;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1336px) {
  .offer {
    padding: 40px 0 50px;
    &-item {
      margin-right: 20px;
    }
    &-content {
      padding: 22px 10px 26px;
      p {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 991px) {
  .offer {
    padding: 34px 0 44px;
    &-content p {
      font-size: 18px;
    }
  }
}

@media (max-width: 767px) {
  .offer {
    padding: 28px 0;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      width: 300px;
      margin: 0 8px 20px !important;
    }
  }
}

//===== Features

.features {
  padding: 78px 0 90px;
  .head {
    margin-bottom: 48px;
  }
  &-item {
    display: flex;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 540px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 160px;
      height: 1px;
      background-color: #12171f;
      position: absolute;
      top: 88px;
      right: -80px;
    }
  }
  &-content {
    padding: 72px 80px 0 122px;
    &__descr {
      font-size: 24px;
      line-height: 1.42;
      color: #12171f;
      margin-bottom: 24px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-color: #ff6b00;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: -26px;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 1.63;
    }
  }
}

.features-item.reverse {
  .features {
    &-img {
      &:before {
        right: auto;
        left: -80px;
      }
    }
    &-content {
      order: -1;
      padding: 72px 122px 0 80px;
    }
  }
}

@media (max-width: 1336px) {
  .features {
    padding: 56px 0 60px;
    &-img {
      width: 50%;
    }
    &-content {
      padding: 22px 20px 0 98px;
    }
  }
  
  .features-item.reverse .features {
    &-content {
      padding: 22px 98px 0 30px;
    }
  }
}

@media (max-width: 991px) {
  .features {
    padding: 40px 0;
    .head {
      margin-bottom: 34px;
    }
    &-img:before {
      width: 80px;
      top: 40px;
      right: -30px;
    }
    &-content {
      padding: 8px 0 0 50px;
      &__descr {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
        &:before {
          width: 12px;
          height: 12px;
          top: 4px;
          left: -20px;
        }
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
  
  .features-item.reverse .features {
    &-img:before {
      left: -30px;
    }
    &-content {
      padding: 8px 40px 0 20px;
    }
  }
}

@media (max-width: 767px) {
  .features {
    padding: 30px 0;
    .head {
      margin-bottom: 20px;
    }
    &-img {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      &:before {
        display: none;
      }
    }
    &-content {
      padding-left: 20px;
      padding-top: 0;
      &__descr {
        font-size: 18px;
        &:before {
          left: -16px;
          width: 10px;
          height: 10px;
        }
      }
    }
    &-item {
      flex-direction: column;
      margin-bottom: 26px;
      &.reverse {
        .features {
          &-content {
            order: 0;
            padding-top: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

//===== Works

.works {
  padding: 71px 0 90px;
  &-wrap {
    background-color: #edf2f5;
  }
  &-items {
    display: flex;
  }
  &-item {
    position: relative;
    width: 300px;
    min-height: 300px;
    box-shadow: 0px 5px 18px 2px rgba(8, 93, 155, 0.12);
    background-color: #fff;
    margin-right: 20px;
    padding: 23px 32px 60px 30px;
    &:last-child {
      margin-right: 0;
    }
    &__title {
      font-size: 24px;
      line-height: 1.42;
      color: #12171f;
      &:hover {
        color: #ff6c00;
      }
    }
    &__link {
      font-size: 16px;
      font-weight: 700;
      color: #ff6c00;
      text-decoration: underline;
      position: absolute;
      bottom: 32px;
      left: 30px;
      &:hover {
        text-decoration: none;
        color: #ff6c00;
      }
    }
  }
  &-step {
    font-size: 16px;
    font-weight: 700;
    color: #12171f;
    margin-bottom: 28px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &__number {
      flex-shrink: 0;
      width: 26px;
      height: 26px;
      transform: skewX(10deg);
      border-radius: 30px;
      background-color: #10285a;
      color: #fff;
      margin-left: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        transform: skewX(-10deg);
      }
    }
  }
}

@media (max-width: 1336px) {
  .works {
    padding: 50px 0 60px;
    .head {
      font-size: 48px;
    }
    &-item {
      min-height: 280px;
      padding: 18px 12px 60px 16px;
      &__title {
        font-size: 20px;
      }
      &__link {
        left: 16px;
      }
    }
  }
}

@media (max-width: 991px) {
  .works {
    padding: 40px 0;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
      &:last-child {
        margin: 0 10px 20px;
      }
      
    }
  }
}

//===== Start

.start {
  padding-top: 105px;
  text-align: center;
  &-wrap {
    height: 680px;
    background: url(../images/startBg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &__title {
    width: 520px;
    text-shadow: 0px 3px 0.4px #000000;
    font-size: 64px;
    line-height: 1.16;
    color: #fff;
    margin: 0 auto 69px;
  }
}

@media (max-width: 991px) {
  .start {
    padding-top: 76px;
    &-wrap {
      height: 580px;
    }
    &__title {
      font-size: 60px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 767px) {
  .start {
    &-wrap {
      height: 500px;
    }
    &__title {
      width: 100%;
      font-size: 38px;
      margin-bottom: 36px;
    }
  }
}

//===== Showcase

.showcase {
  padding: 92px 0 88px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  &-wrap {
    overflow: hidden;
  }
  &-scroll {
    font-size: 16px;
    font-weight: 700;
    color: #808998;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 83px;
    left: 0;
    z-index: 7;
    img {
      flex-shrink: 0;
      width: 39px;
      height: 39px;
      margin-right: 30px;
    }
  }
  &-content {
    width: 564px;
    position: absolute;
    top: 156px;
    left: 0;
    z-index: 5;
    &__title {
      font-size: 64px;
      line-height: 1.25;
      color: #12171f;
      margin-bottom: 68px;
    }
  }
}

@media (max-width: 1700px) {
  .showcase {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    &-content {
      flex-shrink: 0;
      width: 400px;
      padding-top: 60px;
      position: static;
      .link {
        line-height: 56px;
        padding: 0 30px;
      }
      &__title {
        font-size: 46px;
        margin-bottom: 36px;
      }
    }
    &-scroll {
      bottom: 62px;
    }
  }
}

@media (max-width: 1336px) {
  .showcase {
    flex-direction: column;
    padding: 44px 0 26px;
    &-content {
      width: 700px;
      padding-top: 0;
      margin-bottom: 30px;
      &__title {
        margin-bottom: 22px;
      }
    }
    &-scroll {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .showcase {
    &-content {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .showcase {
    &-content {
      &__title {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 575px) {
  .showcase {
    padding: 28px 0 12px;
    &-scroll {
      justify-content: flex-start;
    }
    &-content {
      .link {
        line-height: 48px;
        padding: 0 24px;
      }
      &__title {
        font-size: 30px;
      }
    }
  }
}

//===== Tablet

.tablet {
  width: 909px;
  height: 660px;
  background-color: #fafafa;
  border: 5px solid #ededed;
  border-radius: 30px;
  padding: 31px 61px 32px 68px;
  margin-right: -190px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 41px;
    height: 40px;
    border: 3px solid #e4e4e4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }
  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #1d1c1c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 26px;
    transform: translateY(-50%);
  }
  &-body {
    height: 100%;
    background-color: #e8e8e8;
  }
  &-items {
    max-height: 132px;
    display: flex;
    padding: 30px 67px 24px;
  }
  &-item {
    width: 190px;
    margin: 0 53px 0 0;
    padding: 0;
    list-style: none;
    &:last-child {
      margin-right: 0;
    }
    li {
      font-size: 15px;
      color: #0b4364;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-img {
    height: 452px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1700px) {
  .tablet {
    width: 809px;
    margin-right: 0;
    &-img {
      height: 452px;
    }
    &-items {
      padding-right: 38px;
      padding-left: 38px;
    }
    &-item {
      margin-right: 30px;
    }
  }
}

@media (max-width: 1336px) {
  .tablet {
    margin: 0 auto 20px;
  }
}

@media (max-width: 991px) {
  .tablet {
    width: 100%;
    height: 580px;
    &-img {
      height: 374px;
    }
  }
}

@media (max-width: 767px) {
  .tablet {
    width: 546px;
    height: 460px;
    padding: 24px 34px 24px 60px;
    &:before {
      left: 8px;
    }
    &:after {
      right: 12px;
    }
    &-img {
      height: 290px;
    }
    &-items {
      padding: 16px 20px;
    }
    &-item {
      margin-right: 10px;
    }
  }
}

@media (max-width: 575px) {
  .tablet {
    display: none;
  }
}

//===== About

.about {
  padding: 80px 0 67px;
  margin: 0 160px;
  .head {
    margin-bottom: 40px;
  }
  &__entry {
    font-size: 24px;
    line-height: 1.42;
    text-align: center;
    margin-bottom: 18px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 25px;
  }
}

@media (max-width: 1336px) {
  .about {
    margin: 0 60px;
    padding: 58px 0 50px;
    .head {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 991px) {
  .about {
    margin: 0;
    padding: 46px 0 24px;
    &__entry {
      font-size: 22px;
      margin-bottom: 12px;
    }
    &__text {
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 767px) {
  .about {
    padding-top: 38px;
    .head {
      margin-bottom: 14px;
    }
  }
}

//===== Sign up

.sign-up {
  width: 500px;
  margin: 0 auto;
  padding: 80px 0 70px;
  .head {
    margin-bottom: 47px;
  }
  &-item {
    margin: -1px 0;
    input {
      width: 100%;
      height: 60px;
      padding: 0 21px;
      background-color: #fff;
      border: 1px solid #ccc;
      font: 400 24px 'Proxima';
      color: #12171f;
      &::placeholder {
        color: #12171f;
      }
      &-moz-placeholder {
        color: #12171f;
      }
      &.error {
        border: 1px solid #ff0000;
      }
    }
  }
  &__error {
    font-size: 14px;
    color: #ff0000;
    margin: 15px 0 24px;
  }
  &-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  &__link {
    font-size: 18px;
    color: #12171f;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &-btn {
    text-align: center;
    button {
      width: 240px;
      height: 60px;
      border-radius: 30px;
      box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
      background-image: linear-gradient(to bottom, #ff8500, #ff8500), linear-gradient(to right, #fff, #fff);
      border: none;
      cursor: pointer;
      transition: 300ms;
      font: 700 18px 'Proxima';
      color: #fff;
      &:hover {
        opacity: .9;
      }
    }
  }
}

@media (max-width: 767px) {
  .sign-up {
    width: 100%;
    padding: 46px 0 50px;
    .head {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 575px) {
  .sign-up {
    .head {
      margin-bottom: 26px;
    }
    &__error {
      margin-left: 0;
    }
    &-btn {
      text-align: center;
      button {
        width: 100%;
        height: 52px;
      }
    }
    &-item input {
      height: 56px;
      padding: 0 12px;
      font-size: 20px;
    }
    &-check {
      margin-bottom: 26px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .check-wrap {
        margin-bottom: 10px;
      }
    }
  }
}

//===== Product

.product {
  padding: 60px 0 70px;
  .scrollbar-track-y,
  .scrollbar-track-x {
    width: 20px;
    border-radius: 10px;
    background: #d4dfe6;
  }
  .scrollbar-track-x {
    width: 100%;
    height: 20px;
  }
  &-section {
    background-color: #edf2f5;
    padding: 30px 40px 40px;
  }
  &-settings {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 19px;
    }
    a {
      font-size: 16px;
      color: #12171f;
      text-decoration: underline;
      margin-left: 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-body {
    display: flex;
    height: 540px;
    margin-bottom: 30px;
  }
  &-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-scroll {
    overflow: auto;
    position: relative;
     &:after {
      content: '';
      display: block;
      background-color: #edf2f5;
      width: 20px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 20px;
    }
    .scrollbar-thumb {
      height: 100%;
      border-radius: 10px;
      background: #ff6b00;
    }
  }
  &-items {
    display: flex;
    padding-bottom: 64px;
  }
  &-item {
    flex-shrink: 0;
    width: 170px;
    margin-right: 24px;
    font-size: 14px;
    color: #161616;
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__head {
      margin: 10px 0 6px;
      text-transform: uppercase;
    }
  }
  &-note {
    width: 24px;
    height: 24px;
    background-color: #ff8500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 18px 'AvenirNext';
    color: #fff;
    position: absolute;
    bottom: 15px;
    right: 18px;
  }
}

.product-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    width: 300px;
    height: 50px;
    background-color: #edf2f5;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #12171f;
    padding: 0 10px 0 38px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      opacity: .9;
    }
    &.product-add {
      background-color: #0b4364;
      color: #fff;
    }
    img {
      width: 18px;
      height: 18px;
      margin-right: 22px;
    }
  }
}

.product-info {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 540px;
  overflow: auto;
  padding-right: 40px;
  margin-left: 20px;
  .scrollbar-thumb {
    width: 100%;
    border-radius: 10px;
    background: #ff6b00;
  }
  &:after {
    content: '';
    display: block;
    background-color: #edf2f5;
    height: 10px;
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 0;
  }
  &:before {
    content: '';
    display: block;
    background-color: #12171f;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40px;
    z-index: 1;
  }
  &-head {
    display: flex;
    align-content: center;
    padding-bottom: 10px;
    margin-bottom: 19px;
    border-bottom: 1px solid #12171f;
    font-size: 16px;
    img {
      width: 25px;
    }
    a {
      margin-left: 10px;
      color: #12171f;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__head {
    text-transform: uppercase;
    margin-bottom: 6px;
    line-height: 1.2;
  }
  &-item {
    min-height: 150px;
    background-color: #fff;
    color: #12171f;
    padding: 17px 38px 16px 15px;
    margin: 10px 0;
    position: relative;
  }
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1336px) {
  .product-tabs {
    li {
      width: 260px;
      padding-left: 20px;
      font-size: 22px;
      img {
        margin-right: 16px;
      }
    }
  }
  
  .product {
    padding: 50px 0;
    &-section {
      padding: 24px 20px 28px;
    }
    &-body,
    &-info {
      height: 420px;
    }
    &-scroll {
      &:after {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .product {
    .scrollbar-track-y {
      width: 10px;
    }
    .scrollbar-track-x {
      height: 10px;
    }
    &-tabs li {
      width: 246px;
      font-size: 18px;
    }
    &-items {
      padding-bottom: 26px;
    }
    &-body {
      height: 330px;
    }
    &-info {
      width: 280px;
      height: 330px;
      padding-right: 20px;
      margin-left: 10px;
    }
    &-note {
      bottom: 10px;
      right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .product {
    padding: 36px 0;
    &-section {
      padding: 16px 10px;
    }
    &-settings {
      margin-bottom: 12px;
    }
    &-tabs {
      flex-wrap: wrap;
      li {
        padding-left: 10px;
        img {
          margin-right: 10px;
        }
      }
    }
    &-img {
      margin-bottom: 14px;
    }
    &-info {
      width: 100%;
      height: auto;
      margin-left: 0;
      padding-bottom: 12px;
      padding-right: 0;
      &:after,
      &:before {
        display: none;
      }
      &-head {
        margin-bottom: 10px;
      }
      &-items {
        display: flex;
      }
      &-item {
        width: 260px;
        flex-shrink: 0;
        margin-right: 14px;
      }
    }
    &-body {
      height: auto;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &-item {
      margin-right: 14px;
    }
  }
}

@media (max-width: 575px) {
  .product {
    &-tabs li {
      width: 100%;
    }
  }
}






















