@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Medium.woff2') format('woff2'),
    url('../fonts/Formular-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Black.woff2') format('woff2'),
    url('../fonts/Formular-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Bold.woff2') format('woff2'),
    url('../fonts/Formular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular.woff2') format('woff2'),
    url('../fonts/Formular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Light.woff2') format('woff2'),
    url('../fonts/Formular-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

$red: #ff3936;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
}

body {
  font: 400 16px 'Formular', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  transition: 300ms;
  color: #000000;

  &:hover {
    text-decoration: none;
    color: $red;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
}

// Header

.header {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-nav {
    display: flex;
    align-items: center;

    .nav {
      display: flex;
      align-items: center;
      margin-right: 50px;

      li {
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }

        a {
          border-bottom: 1px solid #000;

          &:hover {
            border-color: $red;
          }
        }
      }
    }

    .city {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: $red;

        .arrow {
          border-color: $red;
        }
      }

      .current-city {
        margin-right: 10px;
        transition: 300ms;
      }

      .arrow {
        transform: rotate(135deg);
        transition: 300ms;
        margin-top: -2px;
      }
    }
  }

  &-callback {
    a {
      display: block;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1;
    }

    span {
      color: #7c7c7c;
    }
  }

  &-links {
    display: flex;
    align-items: center;
  }

  &-favorite,
  &-basket {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 27px;

    &:hover {
      span {
        color: #000000;
      }

      i {
        color: $red;
      }
    }

    span {
      color: #7c7c7c;
      font-size: 18px;
      transition: 300ms;
    }

    i {
      font-size: 22px;
      margin-right: 10px;
      transition: 300ms;
      color: #7c7c7c;
    }
  }

  &-basket {
    margin-right: 55px;
  }

  &-auth {
    color: #7c7c7c;
    border-bottom: 1px solid #7c7c7c;

    &:hover {
      color: $red;
      border-color: $red;
    }
  }
}

.arrow {
  width: 9px;
  height: 9px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
}

.burger,
.mobile-menu {
  display: none;
}

@media screen and (max-width: 1336px) {
  .header {
    &-nav {
      .nav {
        margin-right: 30px;
      }
    }

    &-basket {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    &-nav {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 0;

    &-logo {
      width: 160px;
    }

    &-callback {
      display: none;
    }

    &-links {
      display: none;
    }
  }

  .burger {
    display: block;
    width: 30px;

    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;

      span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #222;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:before,
        &:after {
          content: '';
          width: 30px;
          height: 5px;
          position: absolute;
          left: 0;
          background: #222;
          border-radius: 7px;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }

        &:before {
          top: -8px;
        }

        &:after {
          top: 8px;
        }
      }

      &.active {
        span {
          background: transparent;

          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }

          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }

  .mobile-menu {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 0px 0px 6px 6px;
    background: #ffffff;
    padding: 0 11px;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    z-index: 100;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &-item {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #bababa;
      padding: 0 17px;

      &:last-child {
        justify-content: center;
      }
    }

    .header-callback {
      display: block;

      a {
        font-size: 18px;
        margin-bottom: 0;
      }

      span {
        font-size: 14px;
      }
    }

    .header-nav {
      display: block;

      .city {
        display: flex;

        .current-city {
          font-size: 14px;
          margin-right: 15px;
        }
      }

      .nav {
        margin-right: 0;
      }
    }

    .header-links {
      display: flex;
    }

    .header-basket {
      margin-right: 0;
    }

    .header-auth {
      font-size: 16px;
    }
  }
}


// Showcase

.showcase {
  height: 400px;
  padding: 100px 0 50px;
  position: relative;

  &-wrap {
    background-image: linear-gradient(to left, #ff6866 0%, #fd9f9e 100%);
  }

  &-title {
    font-size: 48px;
    font-weight: bold;
    max-width: 650px;
    height: 180px;
    position: relative;
    z-index: 2;

    a {
      border-bottom: 2px solid #000;
      line-height: 1;

      &:hover {
        border-color: transparent;
        color: #000000;
      }
    }
  }

  &-form {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &-city {
    height: 60px;
    background-color: white;
    border: 1px solid #bababa;
    border-radius: 6px 0 0 6px;
    width: 220px;
    position: relative;

    .c-select-list {
      width: 380px;
    }

    .current-city {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 18px;
      border: 0;
      border-radius: 6px 0 0 6px;
    }

    .arrow {
      transform: rotate(135deg);
      transition: 300ms;
      margin-top: -2px;
    }
  }

  &-address {
    height: 60px;
    border: 1px solid #bababa;
    border-left: 0;
    position: relative;
    background: #ffffff;
    width: 477px;

    input {
      width: 100%;
      height: 100%;
      background: 0;
      border: 0;
      padding: 0 40px;

      &::-webkit-input-placeholder {
        color: #000;
      }

      &:-moz-placeholder {
        color: #000;
      }

      &::-moz-placeholder {
        color: #000;
      }

      &:-ms-input-placeholder {
        color: #000;
      }
    }

    i {
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
    }
  }

  &-time {
    position: relative;
    background: #fff;
    border: 1px solid #bababa;
    border-right: 0;
    border-left: 0;
    height: 60px;
    width: 360px;
    margin-bottom: 0;

    i {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    input {
      width: 100%;
      height: 100%;
      border: 0;
      background: 0;
      padding: 0 40px 0 20px;
    }
  }

  &-link {
    position: relative;
    z-index: 3;

    button {
      width: 200px;
      line-height: 60px;
      background-color: #f5d501;
      border-radius: 6px;
      border: 0;
      cursor: pointer;
      transition: 300ms;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0;
      margin-left: -3px;
      z-index: 3;

      &:hover {
        background-color: #fd9f9e;
      }
    }
  }

  &-img {
    position: absolute;
    right: 15px;
    bottom: 0;
    max-height: 95%;
  }
}

@media only screen and (max-width: 991px) {
  .showcase {
    &-title {
      color: #ffffff;
      text-shadow: 0 0 16px rgba(0, 0, 0, 0.68);

      a {
        color: #ffffff;
        border-color: #fff;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .showcase {
    height: auto;
    padding: 28px 0;

    &-title {
      font-size: 32px;
      text-align: center;
      height: auto;
      margin-bottom: 20px;
    }

    &-img {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      right: 0;
    }

    &-form {
      display: block;
      border-radius: 6px;

      >* {
        width: 100%;
        height: 40px;
      }
    }

    &-city {
      border-radius: 6px 6px 0 0;
      border-bottom: 0;
      font-size: 14px;

      .c-select-list {
        width: 100%;
      }
    }

    &-address {
      border-left: 1px solid #bababa;
      border-bottom: 0;
      font-size: 14px;
    }

    &-time {
      border-left: 1px solid #bababa;
      border-right: 1px solid #bababa;
      border-radius: 0 0 6px 6px;
      font-size: 14px;
      margin-bottom: 10px;
    }

    &-link {
      button {
        width: 100%;
        line-height: 40px;
        font-size: 16px;
        margin-left: 0;
      }
    }
  }
}

// Filter

.filter {
  margin-bottom: 20px;
  position: relative;

  &-wrap {
    padding: 40px 0 70px;
  }

  &-list {
    display: flex;

    li {
      margin-right: 25px;
      padding: 7px 12px;

      &.active {
        background-color: #f5d501;
        border-radius: 6px;

        a {
          border: 0;
        }
      }

      &.hightlight {
        a {
          color: $red;
          border-color: $red;
        }
      }

      a {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        line-height: 1;

        &:hover {
          border-color: transparent;
          color: #000000;
        }
      }

     &.filter-more {
        margin-right: 0;
        padding: 0;

        a {
          border-bottom: 0;
          border-radius: 6px;
          width: 60px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-bottom: 7px;

          &:hover {
            background: #f5d501;
          }
        }
      }

      span {
        position: relative;
        width: 6px;
        height: 6px;
        background-color: #bababa;
        border-radius: 50%;
        display: block;
        margin-top: 12px;

        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 6px;
          height: 6px;
          background-color: #bababa;
          border-radius: 50%;
        }

        &:before {
          left: -11px;
        }

        &:after {
          right: -11px;
        }
      }
    }
  }

  &-sublist {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background: #fff;
    transition: 300ms;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    li {
      margin: 0 37px 18px 0;

      a {
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #000;

        &:hover {
          color: #000000;
          border-color: transparent;
        }
      }
    }
  }
}

.search {
  display: flex;
  border: 1px solid #bababa;
  border-radius: 6px;
  height: 60px;

  input {
    flex-grow: 10;
    border: 0;
    background: 0;
    height: 100%;
    padding: 0 18px;
    font-size: 18px;

    &::-webkit-input-placeholder {
      color: #000;
    }

    &:-moz-placeholder {
      color: #000;
    }

    &::-moz-placeholder {
      color: #000;
    }

    &:-ms-input-placeholder {
      color: #000;
    }
  }

  button {
    width: 60px;
    height: 100%;
    background-color: #eff4f7;
    border: 0;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background: #f5d501;
    }
  }
}

@media only screen and (max-width: 1336px) {
  .filter {
    &-list {
      flex-wrap: wrap;

      li {
        margin-bottom: 8px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .filter {
    margin-bottom: 28px;

    &-wrap {
      padding: 10px 0 25px;
    }

    &-list {
      li {
        margin-bottom: 0;
        margin-right: 0;
        padding: 7px 8px;

        &:last-child {
          margin-left: 5px;
        }

        a {
          font-size: 13px;
        }
      }
    }

    &-sublist {
      padding: 8px;

      li {
        margin-right: 10px;

        a {
          font-size: 14px;
        }
      }
    }
  }

  .search {
    height: 40px;

    button {
      width: 40px;

      img {
        width: 18px;
      }
    }

    input {
      font-size: 13px;
    }
  }
}

// Flowers

.flowers {
  margin-bottom: 70px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  &-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1;
  }

  &-description {
    color: #7c7c7c;
    font-size: 14px;
  }

  &-link {
    a {
      width: 200px;
      line-height: 60px;
      background-color: #fd9f9e;
      border-radius: 6px;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;

      &:hover {
        background: $red;
        color: #fff;
      }
    }
  }

  &-items {
    display: flex;
  }

  &-item {
    flex-basis: 25%;
    margin-right: 17px;
    background-color: #f8fbfd;
    border: 1px solid #bababa;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
    transition: 300ms;

    &:hover {
      box-shadow: 0 0 7px 3px #e8e8e8;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 257px;
    background-size: cover;
  }

  &-heart {
    position: absolute;
    top: 17px;
    right: 17px;
    color: $red;
    font-size: 24px;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-content {
    padding: 15px;
  }

  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &-stars {
    display: flex;
    align-items: center;
    margin-right: 40px;

    li {
      margin-right: 5px;
      font-size: 12px;
      color: #d1d1d1;

      &.filled,
      &.half-filled {
        color: #fbce38;
      }
    }
  }

  &-comments {
    color: #7c7c7c;
    font-size: 14px;
  }

  &-delivery {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
  }

  &-price {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;

    span {
      color: #7c7c7c;
      display: block;
      font-size: 14px;
      margin-top: 2px;
      text-transform: none;
      font-weight: normal;
    }
  }

  &-basket {
    padding: 8px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #ff3936;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    i {
      margin-right: 10px;
      font-size: 19px;
    }

    &:hover {
      color: #ffffff;
      background: #f5d501;
    }
  }
}

@media only screen and (max-width: 1336px) {
  .flowers-item:last-child {
    display: none;
  }

  .flowers-item {
    flex-basis: 33%;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .flowers-item:last-child {
    display: none;
  }

  .flowers-item {
    flex-basis: 50%;

    &:nth-child(3) {
      display: none;
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .flowers {
    margin-bottom: 0;
    padding-bottom: 100px;
    position: relative;

    &-link {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      text-align: center;

      a {
        width: 180px;
        line-height: 50px;
        font-size: 14px;
      }
    }

    &-header {
      width: 340px;
      max-width: 100%;
      margin: 0 auto 15px;
    }

    &-title {
      font-size: 22px;
    }

    &-description {
      font-size: 13px;
    }

    &-items {
      display: block;
    }

    &-item {
      width: 340px;
      max-width: 100%;
      margin: 0 auto 17px !important;

      &:nth-child(3) {
        display: block;
      }
    }
  }
}

// Main delivery

.main-delivery {
  padding: 60px 0 65px;
  display: flex;
  align-items: flex-start;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 320px;
    bottom: 100px;
    width: 3000px;
    background: #f8fbfd;
    z-index: -1;
  }

  &-wrap {
    overflow: hidden;
  }

  &-content {
    flex-grow: 10;
  }

  &-img {
    width: 380px;
    margin-left: 55px;
    flex-shrink: 0;
  }

  &-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.2;
  }

  &-text {
    p {
      color: #7c7c7c;
      font-size: 16px;
      margin-bottom: 25px;
      line-height: 1.7;
    }
  }
}

@media only screen and (max-width: 991px) {
  .main-delivery {
    padding: 30px 0;

    &:before {
      display: none;
    }

    &-img {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-delivery {
    padding: 15px 0;

    &-wrap {
      background: #f8fbfd;
      margin-bottom: 35px;
    }

    &-title {
      font-size: 22px;
    }

    &-text {
      p {
        font-size: 13px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Footer

.footer {
  border-top: 1px solid #bababa;
  padding: 45px 0 38px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &-logo {
    flex-shrink: 0;
  }

  &-nav {
    display: flex;
    align-items: flex-start;

    ul {
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }

      li {
        margin-bottom: 15px;

        &:first-child {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }

  &-info {
    span {
      color: #7c7c7c;
      display: block;
      margin-bottom: 45px;
    }
  }

  &-tel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;

    p {
      color: #7c7c7c;
      font-size: 14px;
      margin-bottom: 0px;

      a {
        text-decoration: underline;
        color: #7c7c7c;

        &:hover {
          text-decoration: none;
          color: #7c7c7c;
        }
      }
    }
  }
}

.socials {
  ul {
    display: flex;

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 24px;
        color: #aeaeae;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    display: block;
    position: relative;

    &-info-content {
      position: absolute;
      top: 45px;
      right: 0;
    }

    &-logo {
      margin-bottom: 20px;
    }

    &-nav {
      justify-content: center;
    }
  }

  .socials {
    ul {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 10px 0;

    &-logo {
      width: 132px;
    }

    &-info {
      span {
        font-size: 14px;
      }

      &-content {
        top: 9px;
      }
    }

    &-tel {
      font-size: 18px;
      margin-bottom: 0;
    }

    &-nav {
      flex-wrap: wrap;
      justify-content: flex-start;

      ul {
        width: 50%;
        margin-right: 0;
        padding-right: 10px;
        margin-bottom: 15px;

        li {
          font-size: 14px;

          a {
            font-size: 13px;
          }
        }
      }
    }

    &-bottom {
      p {
        font-size: 13px;
      }
    }
  }

  .socials {
    margin-bottom: 15px;
  }
}

// Search

.header-inner {
  border-bottom: 1px solid #bababa;
}

.breadcrumbs {

  li {
    display: inline;
    font-size: 14px;
    color: #898989;
    margin-bottom: 5px;

    a {
      color: #898989;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    &:last-child:after {
      display: none;
    }

    &:after {
      content: '>';
      display: inline;
      margin: 0 13px;
    }
  }
}

.filter-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 50px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;

  li {
    margin-right: 20px;
    margin-bottom: 5px;

    &.active {
      a {
        color: #000000;
        text-decoration: none;
      }
    }

    a {
      color: #898989;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.search-result {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
}

.search {

  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid #d1d1d1;
  }

  &-img {
    flex-shrink: 0;
    width: 140px;
    height: 140px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    overflow: hidden;
  }

  &-name {
    width: 612px;
    padding-top: 15px;

    a {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &-price {
    padding-top: 19px;

    p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 0;
    }

    span {
      color: #7c7c7c;
      font-size: 14px;
    }
  }

  &-basket {
    margin-top: 19px;
    padding: 8px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #ff3936;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    i {
      margin-right: 10px;
      font-size: 19px;
    }

    &:hover {
      color: #ffffff;
      background: #dd3331;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;

  li {
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }

    &.active a {
      background: $red;
      color: #ffffff !important;
    }

    a {
      color: #898989;
      font-size: 16px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $red;
      }
    }
  }
}

@media only screen and (max-width: 1336px) {
  .search {
    &-name {
      width: 460px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .search {
    &-name {
      width: 270px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .search {
    &-name {
      width: 100%;

      a {
        font-size: 21px;
      }
    }

    &-item {
      flex-wrap: wrap;
    }

    &-img {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .pagination {

    li {
      margin-right: 10px;
    }
  }
}

// Subscribe

.subscribe {
  padding: 42px 50px;
  background: url(../images/subscribe-bg.jpg) no-repeat 50%;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 90px;
  display: flex;
  align-items: flex-start;

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  &-text {
    line-height: 1.6;
  }

  &-form {
    margin-top: 40px;
    width: 480px;
    flex-shrink: 0;
    margin-left: 50px;
    display: flex;
    border: 1px solid #bababa;
    border-radius: 6px;
    overflow: hidden;

    input {
      flex-grow: 10;
      padding: 0 22px;
      font-size: 18px;
      height: 60px;
      border: 0;
    }

    button {
      width: 180px;
      border: 0;
      background: $red;
      cursor: pointer;
      transition: 300ms;
      text-align: center;
      line-height: 60px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #ffffff;
      padding: 0;

      &:hover {
        background: #e23533;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .subscribe {
    display: block;

    &-form {
      margin-left: 0;
      max-width: 100%;

      input {
        min-width: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .subscribe {
    padding: 15px;

    &-form {
      display: block;
      border-radius: 0;
      border: 0;
      text-align: center;
      width: 100%;

      input {
        border: 1px solid #dedede;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

// Blog

.blog {
  display: flex;
  align-items: flex-start;

  &-wrap {
    margin-top: -60px;
  }

  &-sidebar {
    width: 300px;
    flex-shrink: 0;
    margin-left: 80px;
  }

  &-container {
    flex-grow: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-item {
    margin-bottom: 50px;
    width: 46%;
    background-color: #f8fbfd;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;

    &.large {
      width: 100%;
      display: flex;

      .blog-img {
        width: 380px;
        min-height: 440px;
        height: auto;
      }

      .blog-content {
        padding: 35px;
      }

      .blog-title {
        font-size: 36px;
      }
    }
  }

  &-img {
    height: 280px;
    flex-shrink: 0;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;
  }

  &-content {
    padding: 25px;
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &-info {
    display: flex;
    color: #898989;
    font-size: 14px;
    margin-bottom: 30px;
  }

  &-date {
    margin-right: 20px;
  }

  &-tag {
    text-decoration: underline;
    color: #898989;
    margin-right: 45px;

    &:hover {
      text-decoration: none;
      color: #898989;
    }
  }

  &-views {
    display: flex;
    align-items: center;
    font-weight: bold;

    img {
      margin-right: 5px;
    }
  }

  &-text {
    line-height: 1.6;
  }

  &-tags {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 30px 34px;
    margin-bottom: 90px;

    &-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    ul {
      li {
        margin-bottom: 15px;
        display: block;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: #898989;
          font-size: 16px;
          text-decoration: underline;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1336px) {
  .blog-item.large {
    display: block;

    .blog-img {
      width: 100%;
      height: 280px;
      min-height: 0;
    }
  }

  .blog-info {
    flex-wrap: wrap;
    margin-bottom: 20px;

    >* {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .blog {
    display: block;

    &-sidebar {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .blog {

    &-wrap {
      margin-top: 0;
    }

    &-item {
      width: 100%;
    }

    &-title {
      font-size: 21px !important;
    }

    &-content {
      padding: 15px !important;
    }

  }
}

// Favority

.flowers-favorite {
  .flowers {
    &-items {
      flex-wrap: wrap;
    }

    &-item {
      width: 23.5%;
      flex-basis: auto;
      margin-right: 2%;
      margin-bottom: 40px;
      display: block !important;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1336px) {
  .flowers-favorite {
    .flowers {
      &-items {
        flex-wrap: wrap;
      }

      &-item {
        width: 31.3%;
        flex-basis: auto;
        margin-right: 2%;
        margin-bottom: 40px;

        &:nth-child(4n) {
          margin-right: 2%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .flowers-favorite {
    .flowers {

      &-item {
        width: 49%;
        flex-basis: auto;
        margin-right: 2%;
        margin-bottom: 40px;

        &:nth-child(3n) {
          margin-right: 2%;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .flowers-favorite {
    .flowers {

      &-item {
        width: 340px;
        margin: 0 auto 17px !important;
      }
    }
  }
}

// Article

.article {
  padding-top: 40px;
  border-bottom: 1px solid #bababa;
  margin-bottom: 60px;
  padding-bottom: 30px;

  &-title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #898989;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;

    span {
      flex-shrink: 0;
      margin-right: 35px;
      margin-bottom: 5px;
    }

    a {
      color: #898989;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
      margin-right: 10px;
      margin-bottom: 5px;

      &:hover {
        color: $red;
      }
    }
  }

  &-materials {
    h2 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &-link {
      width: 150px;
      height: 35px;
      background-color: #fd9f9e;
      border-radius: 6px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      &:hover {
        color: #ffffff;
        background: $red;
      }
    }
  }
}

.content {
  img {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 40px;
    line-height: 1.6;
  }
}

.social {
  width: 100%;
  display: flex;
  align-items: center;

  li {
    margin-right: 35px;

    a {
      width: 140px;
      height: 30px;
      background-color: #c6c6c6;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding-left: 15px;
      color: #ffffff;
      font-size: 14px;

      &:hover {
        color: $red;
      }

      i {
        font-size: 14px;
        margin-right: 13px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .social {
    li {
      a {
        width: 30px;
        padding: 0;
        justify-content: center;
        display: flex;

        i {
          margin-right: 0;
        }
      }

      span {
        display: none;
      }
    }
  }

  .article-title {
    font-size: 21px;
  }
}

// Product

.product {
  display: flex;
  margin-bottom: 50px;

  &-labels {
    width: 80px;
    margin-right: 60px;
    flex-shrink: 0;
  }

  &-label {
    height: 90px;
    background: url(../images/product-label.png);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
    line-height: 1.7;
    padding-bottom: 10px;
  }

  &-gallery {
    width: 490px;
    flex-shrink: 0;
  }

  &-img {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #bababa;
    overflow: hidden;
    margin-bottom: 50px;

    img {
      width: 100%;
    }
  }

  &-mini {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;

    &-item {
      width: 140px;
      height: 140px;
      border: 1px solid #d1d1d1;
      border-radius: 6px;
      overflow: hidden;
      filter: grayscale(1);
      transition: 300ms;
      cursor: pointer;

      &.active {
        filter: grayscale(0);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-info {
    flex-grow: 10;
    margin-left: 75px;
    overflow: hidden;
  }

  &-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 13px;
  }

  &-art {
    margin-bottom: 14px;
  }

  &-name {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    a {
      text-decoration: underline;
      margin-right: 14px;
    }
  }

  &-description {
    margin-bottom: 14px;

    span {
      margin-left: 5px;
    }
  }

  &-price {
    display: flex;
    align-items: flex-end;
    margin: 30px 0 12px;

    .price {
      font-size: 36px;
      font-weight: bold;
      margin-right: 15px;
    }

    span {
      margin-bottom: 5px;
      margin-right: 10px;
    }

    .hint {
      margin-bottom: 5px;
    }
  }

  &-delivery {
    margin-bottom: 40px;
  }

  &-footer {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  &-link {
    width: 260px;
    height: 60px;
    background-color: #ff3936;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 60px;

    &:hover {
      background: #e73835;
      color: #ffffff;
    }
  }

  &-favorite {
    color: #898989;
    font-size: 16px;
    display: flex;
    align-items: center;

    i {
      margin-right: 15px;
      font-size: 23px;
    }

    span {
      text-decoration: underline;
    }
  }

  &-evaluate {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .flowers-stars {
      margin-right: 0;
    }

    b {
      margin: 0 15px;
    }

    span {
      color: #898989;
    }
  }

  &-graphs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 45px;
  }
}

.hint {
  position: relative;
  display: inline-block;

  &:hover {
    .hint-text {
      opacity: 1;
      visibility: visible;
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #bababa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  &-text {
    position: absolute;
    bottom: 100%;
    margin-bottom: 11px;
    width: 246px;
    background-color: white;
    border: 1px solid #bababa;
    border-radius: 6px;
    padding: 11px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -8px;
      left: 50%;
      width: 15px;
      height: 15px;
      border-bottom: 1px solid #bababa;
      border-right: 1px solid #bababa;
      transform: translateX(-50%) rotate(45deg);
      background: #ffffff;
    }
  }
}

.stars-graph {
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #898989;

    i {
      font-size: 12px;
      color: #d1d1d1;
      margin-left: 4px;
    }
  }

  &-amount {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &-rate {
    width: 100px;
    height: 5px;
    background-color: #d1d1d1;
    border-radius: 3px;
    position: relative;
    margin-right: 6px;
  }

  &-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: $red;
    border-radius: 3px;
  }
}

.circle-graph {
  display: flex;

  &-item {
    margin-left: 20px;
    text-align: center;
    width: 88px;

    svg {
      margin-bottom: 17px;
    }
  }

  &-text {
    font-size: 14px;
  }
}

.circle-chart__circle {
  transform: rotate(-90deg);
  transform-origin: center;
}

.circle-chart__percent {
  font-family: 'Formular';
}

.product-reviews {
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;

    span {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 1336px) {
  .product {
    &-graphs {
      display: block;
    }

    &-labels {
      display: none;
    }

    &-footer {
      display: block;
    }

    &-link {
      margin-bottom: 15px;
    }

    &-info {
      margin-left: 15px;
    }
  }

  .circle-graph {
    margin-top: 50px;

    &-item {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .product {
    display: block;

    &-gallery {
      margin: 0 auto 40px;
    }

    &-info {
      width: 490px;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .product {
    &-gallery {
      width: 290px;
    }

    &-img {
      margin-bottom: 20px;
    }

    &-mini {
      margin-bottom: 20px;

      &-item {
        width: 90px;
        height: 90px;
      }
    }

    &-title {
      font-size: 28px;
    }

    &-price {
      display: block;
    }

    .circle-graph-item {
      margin-left: -9px;
    }
  }

  .social li {
    margin-right: 10px;
  }

  .hint {
    display: none;
  }
}

// Feedbacks

.feedbacks {
  &-wrap {
    background: #f8fbfd;
    padding: 59px 0 93px;
    margin-bottom: 55px;
  }

  &-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 35px;
  }

  &-item {
    margin-right: 30px;
    border: 1px solid #bababa;
    border-radius: 6px;
    padding: 30px 25px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  &-info {
    display: flex;
    align-items: center;
  }

  &-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 23px;
  }

  &-name {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 18px;
  }

  &-rate {
    margin-bottom: 2px;
  }

  &-text {
    color: #7c7c7c;
    font-size: 14px;
    line-height: 1.7;
  }

  &-slider {
    .slick-dots {
      position: absolute;
      bottom: -48px;
      left: 50%;
      transform: translateX(-50%);
      width: 290px;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        margin: 0 5px;
        cursor: pointer;
        transition: 300ms;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: #bababa;

        &:hover,
        &.slick-active {
          background: $red;
        }

        button {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .feedbacks {
    &-item {
      margin-right: 0;
      padding: 15px;
    }

    &-rate {
      display: none;
    }

    &-title {
      font-size: 21px;
    }

    &-wrap {
      padding: 30px 0 0;
    }

    .slick-dots {
      display: none;
    }
  }
}

/* Modals */

.modal {
  display: none;
  max-width: 420px;
  background-color: #fff;
  border-radius: 6px;
  padding: 35px;
  color: #000000;

  &-header {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 28px;
    border-bottom: 0;
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.4;
  background-color: #0a0a0a;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 2px;
  color: #000000;
}

.auth {
  &-input {
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 17px;
    font-size: 18px;
    margin-bottom: 30px;

    &.error {
      border-color: #ff3936;
      color: #ff3936;
    }
  }

  &-form {
    text-align: center;

    button {
      line-height: 60px;
      background-color: #fd9f9e;
      border-radius: 6px;
      width: 100%;
      text-align: center;
      border: 0;
      cursor: pointer;
      transition: 300ms;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #ffffff;
      margin-bottom: 30px;

      &:hover {
        background-color: #ff3936;
      }
    }
  }

  &-link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 35px;

    &:hover {
      color: #000000;
    }
  }

  &-description {
    color: #7c7c7c;
    font-size: 14px;
    max-width: 228px;
    margin: 0 auto;

    a {
      color: #7c7c7c;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-confirm {
    display: none;

    .auth-input {
      color: #c6c6c6;
      cursor: default;
    }

    button {
      line-height: 60px;
      border-radius: 6px;
      background-color: #bababa;
      width: 100%;
      text-align: center;
      border: 0;
      cursor: pointer;
      transition: 300ms;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #ffffff;
      margin-bottom: 30px;
      cursor: default;
    }
  }

  &-password {
    height: 60px;
    background-color: white;
    border: 1px solid #bababa;
    border-radius: 6px;
    width: 100%;
    padding: 0 17px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &-notification {
    font-size: 16px;
    text-align: center;
  }
}

.city {
  &-input {
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 17px;
    font-size: 18px;
    margin-bottom: 24px;
  }

  &-modal {
    width: 580px;
    max-width: 100%;

    ul {
      li {
        margin-bottom: 15px;

        a {
          font-size: 18px;
        }
      }
    }
  }
}

.c-select {
  position: relative;
}

.c-select-list {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #bababa;
  border-radius: 0 0 6px 6px;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  ul {
    li {
      transition: 300ms;
      padding: 8px 17px;

      &:hover {
        background: #e8e8e8;
        cursor: pointer;
      }
    }

    &:nth-child(2) {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid #bababa;
    }
  }
}

@media only screen and (max-width: 768px) {
  .c-select-list {
    font-size: 13px;
  }
}

// Fixed header

.fixed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
  margin-bottom: 20px;

  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
    transition: 400ms;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0%);
    }
  }

  .logo {
    flex-shrink: 0;
    margin-right: 40px;
  }

  .showcase-address,
  .showcase-time {
    width: auto;
    flex-grow: 10;
  }

  .showcase-form {
    flex-grow: 10;
    margin-right: 45px;
  }
}

@media only screen and (max-width: 1336px) {
  .fixed-header {
    display: none !important;
  }
}