// - Link

.link {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  background-color: #dd3333;
  padding: 18px 72px 13px 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  transition: background-color 300ms, color 300ms;
  
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 10px;
    height: 14px;
    background-image: url('../images/arrow-right.png');
    background-repeat: no-repeat;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    transform: skew(16deg, 0deg);
    width: 60px;
    background-color: #d1d1d1;
  }
  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.link-md {
  padding-right: 58px;
  padding-left: 18px;

  &::before {
    right: 16px;
  }
  &::after {
    width: 53px;
  }
}

// - Title

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.29;

  @media screen and (max-width: 767px) {
    font-size: 28px;
  }
}