.categories {

  &__inner {
    padding-bottom: 70px;
  }
  &__title {
    margin-bottom: 28px;
    color: $red;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 20px;
    margin-bottom: 70px;
  }
  &__item {
    display: flex;
    padding: 30px 30px 28px;
    border: 1px solid #c0c8d2;
    outline: 1px solid transparent;
    background-color: #ffffff;
    transition: border-color 300ms, outline 300ms, box-shadow 300ms;

    &:hover {
      border-color: $red;
      outline-color: $red;
      box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);

      .categories__name {
        color: $red;
      }
    }
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 230px;
    background-color: #e8e8e8;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 7px;
    padding-left: 40px;
    padding-bottom: 21px;
  }
  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.42;
    transition: color 300ms;
  }
  &__link {
    padding-right: 68px;
    padding-left: 18px;

    &::after {
      right: -10px;
    }
  }
  @media screen and (max-width: 1336px) {
    &__item {
      padding: 18px 18px 20px;
    }
    &__img {
      width: 190px;
    }
    &__content {
      padding-left: 20px;
      padding-bottom: 10px;
    }
    &__name {
      font-size: 21px;
    }
    &__link {
      padding-right: 62px;
      padding-left: 14px;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      flex-direction: column;
    }
    &__img {
      width: 220px;
      margin: 0 auto 15px;
    }
    &__content {
      padding: 0;
    }
    &__name {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    &__inner {
      padding-bottom: 60px;
    }
    &__items {
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 575px) {
    &__items {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}