.basket {
  padding-bottom: 90px;

  &__title {
    margin-bottom: 28px;
    color: $red;
  }
  &__body {
    display: flex;
    align-items: flex-start;
  }
  &__content {
    flex-grow: 1;
    padding-right: 40px;
  }
  &__table {
    width: 100%;
    border-top: 1px solid #c0c8d2;
    border-collapse: collapse;

    th {
      vertical-align: top;
      padding: 14px 0;
      font-size: 14px;

      &:first-child {
        width: 484px;
      }
      &:nth-child(2) {
        width: 161px;
      }
      &:nth-child(3) {
        width: 121px;
      }
      &:nth-child(4) {
        width: 140px;
      }
      &:last-child {
        width: 40px;
      }
    }
    td {
      vertical-align: top;
      padding: 29px 0;
      border-bottom: 1px solid #c0c8d2;

      &:first-child {
        padding-right: 30px;
      }
      b {
        font-size: 18px;
      }
    }
  }
  &__item {
    display: flex;

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 120px;
      height: 120px;
      background-color: #e8e8e8;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px 0 8px 39px;
    }
    &-name {
      margin-bottom: 10px;
      color: $red;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.44;
      transition: color 300ms;

      &:hover {
        color: #000000;
      }
    }
  }
  &__amount {
    display: flex;
    margin-left: -10px;
    
    &-minus,
    &-plus {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
    }
    &-input {

      input {
        width: 80px;
        height: 40px;
        padding: 3px 6px 0;
        border: 1px solid #c0c8d2;
        border-radius: 0;
        background-color: #e8e8e8;
        line-height: 40px;
        text-align: center;
      }
    }
  }
  &__price {
    display: block;
    padding-top: 7px;
  }
  &__result {
    display: block;
    padding-top: 5px;
  }
  &__delete {
    width: 40px;
    height: 40px;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;

    &:hover {
      background-position: right;
    }
  }
  &__sidebar {
    flex-shrink: 0;
    width: 280px;
  }
  &__total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px 31px 24px;
    background-color: $red;
    color: #ffffff;

    &-head {
      margin-bottom: 19px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.08;
    }
    &-table {
      width: 100%;
  
      td {
        vertical-align: top;
        padding-bottom: 35px;

        &:first-child {
          width: 129px;
        }
        b {
          font-size: 18px;
        }
      }
    }
    &-link {
      margin-bottom: 37px;
      padding-right: 86px;
      padding-left: 30px;
      background-color: #000000;
      color: #ffffff;

      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }
    &-rule,
    &-condition {
      color: #ffffff;
      font-size: 14px;
      line-height: 1.75;
      text-decoration: underline;

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  @media screen and (max-width: 1336px) {
    &__content {
      padding-right: 30px;
    }
    &__table {
      
      th {

        &:first-child {
          width: 270px;
        }
        &:nth-child(2) {
          width: 140px;
        }
        &:nth-child(3) {
          width: 104px;
        }
        &:nth-child(4) {
          width: 100px;
        }
      }
      td {

        &:first-child {
          padding-right: 8px;
        }
        b {
          font-size: 16px;
        }
      }
    }
    &__item {

      &-img {
        width: 100px;
        height: 100px;
      }
      &-content {
        padding-left: 18px;
      }
      &-name {
        font-size: 16px;
      }
    }
    &__amount {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 991px) {
    &__body {
      flex-direction: column;
    }
    &__content {
      margin-bottom: 40px;
      padding-right: 0;
    }
    &__sidebar {
      max-width: 360px;
      width: 100%;
      margin: 0 auto;
    }
    &__total {
      padding-right: 14px;
      padding-left: 14px;

      &-table {
        
        td {
          width: 50%;
          padding-right: 10px;
          padding-bottom: 22px;

          &:first-child {
            width: 50%;
          }
          b {
            font-size: 16px;
          }
        }
      }
      &-link {
        margin-bottom: 28px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__content {
      overflow: auto;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }
    &__table {
      width: 767px;
    }
  }
}