.product {
  padding-bottom: 71px;

  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__body {
    display: flex;
    flex-grow: 1;
    padding-right: 68px;
  }
  &__aside {
    flex-shrink: 0;
    width: 280px;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 380px;
    height: 380px;
    background-color: #e8e8e8;
  }
  &__content {
    margin-top: -2px;
    padding-left: 39px;
  }
  &__code {
    margin-bottom: 16px;
  }
  &__logo {
    max-width: 140px;
    width: 100%;
    margin-bottom: 57px;
  }
  &__description {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
  }
  &__list {

    &-item {

      &::before {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 17px;
        height: 2px;
        margin-top: 10px;
        margin-right: 4px;
        background-color: $red;
      }
    }
  }
  &__title {
    margin-bottom: 28px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 29px 28px;
    border: 2px solid #d1d1d1;
    background-color: #e8e8e8;
  }
  &__price {
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.08;
  }
  &__available {
    margin-bottom: 36px;
    text-decoration: underline;
  }
  &__link {
    margin-bottom: 38px;
    padding-left: 26px;
  }
  &__delivery,
  &__payment {
    color: #000000;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: underline;

    &:hover {
      color: #000000;
      text-decoration: none;
    }
  }
  &__share {
    margin-top: 36px;
  }
  @media screen and (max-width: 1336px) {
    &__body {
      padding-right: 20px;
    }
    &__content {
      margin-top: 0;
      padding-left: 20px;
    }
    &__aside {
      width: 260px;
    }
    &__img {
      width: 300px;
      height: 300px;
    }
    &__logo {
      margin-bottom: 40px;
    }
    &__description {
      margin-bottom: 18px;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 991px) {
    &__inner {
      flex-direction: column;
    }
    &__body {
      margin-bottom: 40px;
      padding-right: 0;
    }
    &__aside {
      max-width: 310px;
      width: 100%;
      margin: 0 auto;
    }
    &__img {
      width: 280px;
      height: 280px;
    }
  }
  @media screen and (max-width: 767px) {
    &__body {
      flex-direction: column;
      width: 100%;
    }
    &__img {
      width: 300px;
      height: 300px;
      margin: 0 auto 40px;
    }
    &__content {
      padding-left: 0;
    }
  }
}