.contacts {

  &__inner {
    padding-bottom: 35px;
  }
  &__title {
    margin-bottom: 42px;
    color: $red;
  }
  &__items {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 390px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__head {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
  }
  &__tel,
  &__mail,
  &__address {
    display: flex;
    align-items: flex-start;
    color: #000000;
    font-size: 18px;

    &::before {
      content: '';
      flex-shrink: 0;
      margin-top: 4px;
      margin-right: 13px;
      background-repeat: no-repeat;
    }
  }
  &__tel {
    margin-bottom: 8px;

    &::before {
      width: 17px;
      height: 18px;
      background-image: url('../images/phone-volume.png');
    }
    &:hover {
      color: #000000;
      text-decoration: underline;
    }
  }
  &__mail {
    color: $red;
    text-decoration: underline;

    &::before {
      width: 18px;
      height: 17px;
      background-image: url('../images/send.png');
    }
    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
  &__address {
    line-height: 1.85;

    &::before {
      width: 14px;
      height: 20px;
      background-image: url('../images/map.png');
    }
  }
  @media screen and (max-width: 1336px) {
    &__item {
      min-width: auto;
      width: calc(33.33% - 5px);
    }
  }
  @media screen and (max-width: 991px) {
    &__tel,
    &__mail,
    &__address {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 767px) {
    &__head {
      margin-bottom: 20px;
      font-size: 21px;
    }
    &__items {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

/* Contacts Description */ 

.contacts-descr {
  overflow: hidden;
  padding-top: 40px;

  &__inner {
    background-color: #e8e8e8;
  }
  &__body {
    display: flex;
  }
  &__content {
    width: 721px;
    padding: 59px 106px 50px 0;
  }
  &__title {
    margin-bottom: 22px;
  }
  &__map {
    flex-grow: 1;
    margin-top: -40px;
    margin-right: calc((100vw - 1260px)/-2);

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  @media screen and (max-width: 1336px) {
    &__content {
      width: 50%;
      padding-right: 26px;
    }
    &__map {
      margin-right: calc((100vw - 960px)/-2);
    }
  }
  @media screen and (max-width: 991px) {
    padding-top: 0;

    &__inner {
      padding: 60px 0;
    }
    &__body {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      margin-bottom: 20px;
      padding: 0;
    }
    &__map {
      height: 320px;
      margin: 0;
    }
  }
}