.delivery {

  &__content {
    max-width: 950px;
    padding-bottom: 71px;

    h1, h2 {
      margin-top: 50px;
      margin-bottom: 24px;
      color: $red;
      font-weight: 700;
      font-size: 34px;
      line-height: 1.3;

      &:first-child {
        margin-top: 0;
      }
    }
    h3, h4, h5 {
      margin-top: 24px;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.6;

      & + p {
        margin: 0;
      }
    }
    p {
      margin: 25px 0 0;
    }
    ol {
      margin: 0 0 26px;
      padding: 0;
      list-style-position: inside;
    }
    ul {
      margin-bottom: 24px;

      li {
        position: relative;
        padding-left: 25px;

        &::before {
          content: '';
          position: absolute;
          top: 11px;
          left: 0;
          width: 16px;
          height: 1px;
          background-color: $red;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__content {
      
      h1, h2 {
        font-size: 28px;
      }
      h3, h4, h5 {
        font-size: 16px;
      }
    }
  }
}