.manufacturers {
  padding-bottom: 70px;

  &__title {
    margin-bottom: 28px;
    color: $red;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 29px 20px;
    margin-bottom: 70px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    padding: 40px 37px 40px 40px;
    border: 1px solid #c0c8d2;
    outline: 1px solid transparent;
    transition-property: box-shadow, border-color, outline-color;
    transition-duration: 300ms;

    &:hover {
      box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
      border-color: $red;
      outline-color: $red;

      .manufacturers__name {
        color: $red;
      }
    }
  }
  &__img {
    flex-shrink: 0;
    width: 220px;
  }
  &__content {
    flex-grow: 1;
    margin-top: -2px;
    padding-left: 41px;
  }
  &__name {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.42;
    transition: color 300ms;
  }
  &__text {
    margin-bottom: 28px;

    a {
      color: $red;

      &:hover {
        color: $red;
        text-decoration: underline;
      }
    }
  }
  &__link {
    padding-right: 70px;
    padding-left: 16px;
  }
  @media screen and (max-width: 1336px) {
    &__item {
      padding: 20px;
    }
    &__img {
      width: 160px;
    }
    &__content {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      flex-direction: column;
      align-items: flex-start;
    }
    &__img {
      width: 200px;
      margin: 0 auto;
    }
    &__content {
      padding-top: 30px;
      padding-left: 0;
    }
  }
  @media screen and (max-width: 680px) {
    padding-bottom: 60px;

    &__items {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin-bottom: 60px;
    }
  }
}