.news {
  padding-bottom: 70px;

  &__title {
    margin-bottom: 27px;
    color: $red;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 38px 20px;
    justify-content: center;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;

    &__items {
      margin-bottom: 50px;
    }
  }
}