.article {

  &__inner {
    padding-bottom: 48px;
  }
  &__body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  &__content {
    flex-grow: 1;
    padding-right: 40px;

    h1, h2, h3 {
      margin-bottom: 22px;
      font-weight: 700;
      font-size: 34px;
      line-height: 1.41;
    }
    img {
      margin-bottom: 13px;
    }
    p {
      margin: 25px 0;

      b {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.56;
      }
    }
  }
  &__sidebar {
    flex-shrink: 0;
    width: 280px;
    padding-top: 100px;
  }
  &__share {
    margin-top: 57px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  &__delimiter {
    margin: 0 9px;
  }
  &__category {
    color: $red;
    text-decoration: underline;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
  @media screen and (max-width: 1336px) {
    &__content {
      padding-right: 20px;
    }
    &__sidebar {
      padding-top: 44px;
    }
  }
  @media screen and (max-width: 991px) {
    &__content {

      h1, h2, h3 {
        font-size: 30px;
      }
      p {
        margin: 20px 0;

        b {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__body {
      flex-direction: column;
      margin-bottom: 0;
    }
    &__content {
      margin-bottom: 40px;
      padding-right: 0;

      h1, h2, h3 {
        font-size: 28px;
      }
    }
    &__sidebar {
      margin: 0 auto;
      padding: 0;
    }
  }
}