.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #d1d1d1;
  transition: background-color 300ms;

  &::after {
    content: '';
    position: static;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    transition: border-color 300ms;
  }
  &:hover {
    background-color: #dd3333;

    &::after {
      border-color: #ffffff;
    }
  }
}
.swiper-button-next {
  padding-right: 3px;

  &::after {
    transform: rotate(45deg);
  }
}
.swiper-button-prev {
  padding-left: 3px;

  &::after {
    transform: rotate(-135deg);
  }
}
.swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: 2px solid transparent;
  background-color: transparent;
  opacity: 1;
  transition: border-color 300ms;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #898989;
    transition: border-color 300ms, background-color 300ms;
  }
  &:last-child {
    margin-right: 0;
  }
}
.swiper-pagination-bullet-active {
  border-color: #dd3333;

  &::after {
    border-color: transparent;
    background-color: #dd3333;
  }
}