.solutions {
  padding: 50px 0 60px;
  background-image: url('../images/solutions-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: -20px;
  }
  &__title {
    color: #ffffff;
    line-height: 1;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 57px 40px 39px;
    background-color: #ffffff;
    background: linear-gradient(to left bottom, transparent 48%, #dd3333 0) no-repeat 100% 0/40px 40px, linear-gradient(-135deg, transparent 28px, #ffffff 0);
    // filter: drop-shadow(20px 30px rgba(0,0,0,0.1));
  }
  &__content {
    margin-bottom: 14px;
    padding-right: 3.5vw;
  }
  &__name {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.42;
  }
  &__text {
    margin-bottom: 0;
  }
  &__link {
    flex-shrink: 0;
  }
  @media screen and (max-width: 1336px) {
    &__header {
      margin-right: 0;
    }
    &__item {
      padding: 40px 20px 30px;
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      flex-direction: column;
      align-items: flex-start;
    }
    &__content {
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  @media screen and (max-width: 575px) {
    &__all {
      display: none;
    }
    &__items {
      grid-template-columns: 1fr;
    }
  }
}