.shares {
  padding: 70px 0;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-right: -20px;
  }
  &__title {
    color: #dd3333;
    line-height: 1;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
  }
  @media screen and (max-width: 1336px) {
    &__header {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 575px) {
    &__link {
      display: none;
    }
  }
}