.showcase {
  background-color: #e8e8e8;

  &__item {
    display: flex;
    align-items: center;
    min-height: 580px;
    padding-top: 20px;
  }
  &__content {
    max-width: 562px;
    margin-top: -14px;
  }
  &__img {
    margin-right: -4.16vw;
  }
  &__title {
    margin-bottom: 41px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.29;
    word-break: break-word;
  }
  &__controls {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__navigation {
    display: flex;
  }
  .swiper-pagination {
    position: static;
    margin-top: 10px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    width: 70px;
    height: 70px;
    margin: 0;
  }
  @media screen and (max-width: 1336px) {
    &__item {
      min-height: 470px;
    }
    &__content {
      max-width: 480px;
    }
    &__img {
      margin-right: -2vw;
    }
    &__title {
      font-size: 42px;
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      min-height: 410px;
    }
    &__content {
      max-width: 360px;
    }
    &__title {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }
  @media screen and (max-width: 575px) {
    &__item {
      min-height: 360px;
      padding-bottom: 40px;
    }
    &__content {
      max-width: 100%;
    }
    &__img {
      display: none;
    }
    &__controls-container {
      justify-content: center;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important; 
    }
  }
}