.advantage {
  padding: 70px 0 45px;
  background-image: url('../images/advantage-bg.jpg');;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__content {
    flex-grow: 1;
    padding-right: 5.2vw;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__info {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    flex-shrink: 0;
    max-width: 620px;
  }
  @media screen and (max-width: 1336px) {
    &__content {
      padding-right: 30px;
    }
    &__products {
      max-width: 560px;
    }
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 100px;
  
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__content {
      margin-bottom: 20px;
      padding-right: 0;
    }
    &__products {
      max-width: 620px;
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 70px;
  }
  @media screen and (max-width: 575px) {
    &__products {
      grid-template-columns: 1fr;
    }
  }
}