.related-news {
  padding: 60px 0 80px;
  background-color: #e8e8e8;

  &__title {
    margin-bottom: 35px;
    color: $red;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
  }
}