.similar-products {
  padding: 69px 0 140px;
  background-color: #e8e8e8;

  &__title {
    margin-bottom: 38px;
    color: $red;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
  }
  @media screen and (max-width: 1336px) {
    padding-bottom: 120px;
  }
  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
}