.companies {
  padding: 40px 0;
  
  .container {
    position: relative;
    max-width: 1200px;
  }
  .swiper-button-next {
    right: -80px;
  }
  .swiper-button-prev {
    left: -80px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
  }
  @media screen and (max-width: 1500px) {
    .swiper-button-next {
      right: -60px;
    }
    .swiper-button-prev {
      left: -60px;
    }
  }
  @media screen and (max-width: 1170px) {
    .swiper-button-next,
    .swiper-button-prev {
      position: static;
      transform: translate(0);
      margin: 0;
    }
    .swiper-button-prev {
      margin-right: 10px;
    }
    &__navigation {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}