.about-us {
  overflow: hidden;
  background-color: #e8e8e8;

  &__inner {
    display: flex;
  }
  &__content {
    flex-grow: 1;
    padding: 59px 5.5vw 60px 0;
  }
  &__title {
    margin-bottom: 22px;
  }
  &__text {
    margin-bottom: 42px;

    a {
      color: #e40311;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &__img {
    flex-shrink: 0;
    width: 45.3vw;
    margin-right: calc((100vw - 1260px)/-2);

    img {
      height: 100%;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 1500px) {
    &__content {
      padding-right: 3vw;
    }
    &__img {
      width: 50vw;
    } 
  }
  @media screen and (max-width: 1336px) {
    &__img {
      margin-right: calc((100vw - 970px)/-2);
    }
  }
  @media screen and (max-width: 991px) {
    &__inner {
      flex-direction: column;
      padding: 50px 0;
    }
    &__content {
      margin-bottom: 40px;
      padding: 0;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__img {
      width: auto;
      margin-right: 0;

      img {
        height: auto;
      }
    }
  }
}