@import './_common.scss';
@import './_typography';

@import './plugin-swiper';

@import './blocks/product-card';
@import './blocks/news-card';

@import './section-showcase';
@import './section-companies';
@import './section-advantage';
@import './section-solutions';
@import './section-shares';
@import './section-about-us';
@import './section-related-news';
@import './section-similar-products';

@import './page-documents';
@import './page-delivery';
@import './page-categories';
@import './page-about';
@import './page-contacts';
@import './page-basket';
@import './page-article';
@import './page-manufacturers';
@import './page-product';
@import './page-news';

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      transition: all .2s ease-in-out;
      background-color: #222;
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        transition: all .2s ease-in-out;
        background-color: #222;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
}

/* Logo */

.logo {
  flex-shrink: 0;
  max-width: 220px;
}

/* Language */ 

.language {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 24px;
    color: #898989;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
    &--active {
      color: #000000;
      text-decoration: none;
    }
  }
}

/* Nav */ 

.nav {

  &__list {
    display: flex;
  }
  &__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #000000;

    &:hover {
      color: $red;
    }
  }
  @media screen and (max-width: 1336px) {
    &__item {
      margin-right: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      margin-right: 14px;
    }
  }
  @media screen and (max-width: 767px) {
    &__list {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    &__item {
      margin: 8px 0;
    }
  }
}

/* Menu */ 

.menu {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    transition: color 300ms;

    &:hover {
      color: $red;
    }
  }
  @media screen and (max-width: 1336px) {
    &__item {
      margin-right: 2.5vw;
    }
  }
  @media screen and (max-width: 991px) {
    &__link {
      font-weight: 400;
      font-size: 15px;
    }
  }
}

/* Header */

.header {
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 80px;
  }
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    padding-right: 10px;
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
  &__phone {
    margin-right: 12px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;

    &:hover {
      color: $red;
    }
  }
  &__call {
    color: #898989;
    text-decoration: underline;

    &:hover {
      color: #898989;
    }
  }
  &__request {
    margin-left: 7.8vw;
    color: #898989;

    &:hover {
      color: $red;
    }
  }
  &__language {
    margin-left: auto;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    padding-top: 5px;
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__control {
    display: flex;
    align-items: center;
    margin-right: 44px;
    color: #000000;

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: #000000;
    }
    &-text {
      margin-right: 31px;
      padding-top: 5px;
    }
    &-group {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
    }
    &-value {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      margin-right: -7px;
      padding: 6px 2px 2px;
      border-radius: 50%;
      background-color: #d1d1d1;
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      transition: background-color 300ms;
    }
    &--cart {
      .header__control-value {
        background-color: $red;
      }
    }
  }
  &__section {
    background-color: #292929;
  }
  &__navigation {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 22px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 1000px;
      margin-right: -1px;
      background-color: $red;
    }
  }
  &__catalog {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 220px;
    margin-right: 80px;
    padding: 19px 18px 13px 38px;
    background-color: $red;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;

    &:hover {
      color: #ffffff;
    }
    img {
      margin-top: -4px;
      margin-left: 22px;
    }
  }
  &__menu {
    padding-top: 4px;
  }
  &__search {
    margin-left: auto;
    cursor: pointer;
  }
  @media screen and (max-width: 1336px) {
    &__content {
      padding-left: 3vw;
    }
    &__control {
      margin-right: 30px;

      &-text {
        display: none;
      }
    }
    &__catalog {
      margin-right: 3vw;
    }
    &__navigation {
      padding-right: 0;
    }
  }
  @media screen and (max-width: 991px) {
    &__logo {
      max-width: 190px;
    }
    &__content {
      padding-left: 2.5vw;
    }
    &__nav {
      padding-top: 0;
    }
    &__request {
      display: none;
    }
    &__block {
      display: none;
    }
    &__catalog {
      max-width: 190px;
      margin-right: 2.5vw;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 767px) {
    &__inner {
      display: flex;
      align-items: center;
      padding: 10px 0;
    }
    &__content {
      position: absolute;
      z-index: 99;
      top: 100%;
      right: 0;
      left: 0;
      display: none;
      padding: 20px;
      border-top: 1px solid #e8e8e8;
      background-color: #ffffff;
    }
    &__top {
      flex-direction: column;
      padding-right: 0;
    }
    &__contacts {
      flex-direction: column;
      margin-bottom: 10px;
    }
    &__phone {
      margin-right: 0;
    }
    &__language {
      margin-left: 0;
    }
    &__logo {
      max-width: 170px;
    }
    &__nav {
      width: 100%;
    }
    &__section {
      display: none;
    }
  }
}

/* Footer */ 

.footer {
  padding-top: 60px;
  padding-bottom: 31px;
  background-color: #292929;
  color: #d1d1d1;

  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    max-width: 360px;
  }
  &__logo {
    margin-bottom: 24px;
  }
  &__contact {

    &-address {
      margin-bottom: 11px;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &-label {
      min-width: 144px;
    }
    &-tel {
      color: #d1d1d1;

      &:hover {
        color: #d1d1d1;
        text-decoration: underline;
      }
    }
    &-mail {
      color: #d1d1d1;
      text-decoration: underline;

      &:hover {
        color: #d1d1d1;
        text-decoration: none;
      }
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    padding-top: 7px;
    padding-right: 45px;
  }
  &__menu {
    columns: 200px 2;
    column-gap: 10px;
    margin-right: 30px;

    &-item {
      margin-bottom: 10px;
    }
    &-link {
      color: #d1d1d1;

      &:hover {
        color: #d1d1d1;
        text-decoration: underline;
      }
    }
  }
  &__category {
    max-width: 220px;

    &-item {
      margin-bottom: 10px;
    }
    &-link {
      color: #d1d1d1;
      font-weight: 700;

      &:hover {
        color: #d1d1d1;
        text-decoration: underline;
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 43px;
    padding-left: 2px;
  }
  &__copyright {
    padding-top: 4px;
    font-size: 14px;

    a {
      color: #d1d1d1;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__development {
    display: flex;
    align-items: flex-end;
    color: #d1d1d1;
    font-size: 14px;

    &:hover {
      color: #d1d1d1;
    }
    span {
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 1336px) {
    &__content {
      padding-top: 0;
      padding-right: 0;   
    }
    &__menu {
      column-width: 160px;
    }
  }
  @media screen and (max-width: 991px) {
    &__block {
      max-width: 320px;
    }
    &__menu {
      column-count: 1;
      margin-right: 15px;

      &-item {
        margin-bottom: 8px;
      }
    }
    &__contact {

      &-item {
        margin-bottom: 8px;
      }
      &-label {
        min-width: 136px;
      }
    }
    &__category-item {
      margin-bottom: 8px;
    }
  }
  @media screen and (max-width: 767px) {
    &__main {
      flex-direction: column;
    }
    &__block {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__content {
      justify-content: center;
    }
    &__menu {
      column-width: 140px;
      column-count: 2;
    }
    &__bottom {
      flex-direction: column;
      margin-top: 30px;
    }
    &__copyright {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  @media screen and (max-width: 575px) {
    &__content {
      flex-direction: column;
    }
    &__menu {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__category {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    &__contact {

      &-item {
        flex-direction: column;
      }
    }
  }
}

/* Breadcrumbs */

.breadcrumbs {
  padding: 27px 0 36px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    margin-right: 28px;
    color: #898989;

    &::after {
      content: '\003E';
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: #000000;

    &:hover {
      color: #000000;
      text-decoration: underline;
    }
  }
}

/* Pagination */ 

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__item {
    margin: 0 2px;

    &--disabled .pagination__link {
      color: #d1d1d1;
      pointer-events: none;
    }
    &--active .pagination__link {
      background-color: $red;
      color: #ffffff;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 40px;
    padding-top: 4px;
    color: #000000;
    font-weight: 700;
    line-height: 1;
    transition: background-color 300ms, color 300ms;

    &:hover {
      background-color: $red;
      color: #ffffff;
    }
  }
  @media screen and (max-width: 575px) {
    &__item {
      margin: 0 1px;
    }
    &__link {
      width: 29px;
      height: 29px;
      padding-top: 3px;
      font-weight: 400;
      font-size: 15px;
    }
  }
}

/* Banner */ 

.banner {
  margin: 80px 0;
  
  &__inner {
    padding: 54px 80px 50px;
    background-color: $red;
    background-image: url('../images/h-logo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  &__content {
    max-width: 655px;
  }
  &__title {
    margin-bottom: 38px;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.42;
  }
  &__link {
    padding-right: 68px;
    padding-left: 14px;
    background-color: #000000;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
  @media screen and (max-width: 1336px) {
    &__inner {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  @media screen and (max-width: 991px) {
    &__inner {
      background-size: 47.22vw 22.8vw;
    }
  }
  @media screen and (max-width: 680px) {
    margin: 50px 0;

    &__inner {
      padding: 26px 20px;
      background-image: initial; 
    }
    &__title {
      font-size: 22px;
    }
  }
}

/* Share */ 

.share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__text {
    margin-right: 15px;
    font-weight: 700;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #d1d1d1;
    color: #ffffff;
    transition: background-color 300ms;

    i {
      font-size: 13px;
    }
    &:hover {
      background-color: $red;
      color: #ffffff;
    }
  }
}