* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

$red: #dc2222;
$blue: #006998;

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.woff2') format('woff2'),
    url('../fonts/FiraSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Light.woff2') format('woff2'),
    url('../fonts/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
    url('../fonts/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
    url('../fonts/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'Fira Sans', sans-serif;
  color: #5e5c5c;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.btn {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7e7e7e;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;

  &:hover {
    border-color: $red;
    color: $red;
  }
}

.title {
  font-size: 34px;
  font-weight: 40;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 3px;
    background-color: #c0c8d2;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  span {
    padding-right: 26px;
    background: #ffffff;
    position: relative;
    z-index: 3;
  }
}

/* Header */

.header {
  padding: 45px 0 55px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex-grow: 10;
    margin-left: 24px;
    flex-shrink: 0;
  }

  &__line {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-text {
      font-size: 15px;
      font-weight: 300;
      margin-right: 35px;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;

      li {
        margin-right: 17px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: -364px;

    li {
      font-size: 23px;
      color: $blue;

      &:after {
        content: '|';
        display: inline-block;
        margin: 0 10px;
      }

      &:last-child:after {
        display: none;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $red;
        }
      }
    }
  }

  &__search-button {
    cursor: pointer;
  }
}

/* Nav */

.nav {
  background: #5f5f5f;
  border-top: 4px solid $red;

  &__inner {
    padding: 10px 0;
    display: table;
    width: 100%;

    li {
      font-size: 22px;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      position: relative;
      display: table-cell;
      min-width: 100px;

      &:after {
        content: '|';
        display: block;
        position: absolute;
        right: -3px;
        top: 1px;
      }

      &:last-child:after {
        display: none;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

/* Showcase */

.showcase {
  background: #e9ecf0;
  padding: 30px 0 112px;

  &__item {
    display: flex !important;
  }

  &__content {
    padding: 17px 20px;
    flex-grow: 1;
  }

  &__main {
    width: 68%;
    margin-right: 2%;
  }

  &__group {
    flex-shrink: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .showcase__elem {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__date {
    color: #c50101;
    margin-right: 10px;
  }

  &__tag {
    color: #9e9e9e;
  }

  &__link {
    color: #5e5c5c;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 8px;

    span {
      font-weight: bold;
      color: #000000;
    }
  }

  &__text {
    color: #010101;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.1;
  }

  &__elem {
    background-color: white;
    border: 1px solid #c0c8d2;
    display: flex;
    flex-direction: column;
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 70px;
    height: 70px;
    background: $red url(../images/arrow.png) no-repeat 50%;
    border: none;
    right: 70px;
    bottom: -92px;
    cursor: pointer;
    z-index: 3;
    transition: 100ms;

    &:hover {
      background-position: 46% 50%;
    }

    &.slick-next {
      transform: rotate(180deg);
      background-color: #c0c8d2;
      right: 0;
    }
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: -62px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    li {
      width: 12px;
      height: 12px;
      border: 2px solid #898989;
      position: relative;
      border-radius: 50%;
      margin-right: 24px;
      transition: 300ms;
      cursor: pointer;

      &:hover {
        border-color: $red;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: -6px;
        left: -6px;
        top: -6px;
        bottom: -6px;
        border-radius: 50%;
        border: 2px solid $red;
        opacity: 0;
        transition: 300ms;
      }

      &.slick-active {
        border-color: $red;
        background: $red;

        &:before {
          opacity: 1;
        }
      }

      button {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    &__group {
      display: none;
    }

    &__main {
      width: 100%;
      margin-right: 0;
    }

    .slick-arrow {
      display: none;
    }
  }
}

/* Banner */

.banner {
  margin-bottom: 40px;
}

/* News */

.news {
  margin-bottom: 55px;
  padding-top: 30px;

  &--with-img {
    .news {
      &__items {
        margin-left: -20px;
        width: calc(100% + 20px)
      }

      &__item {
        border: 1px solid #c0c8d2;
        margin-left: 20px;
        width: calc(25% - 20px);
        padding-right: 0;

        &.news__item--large {
          width: calc(50% - 20px)
        }
      }
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
    margin-bottom: 40px;
    padding-right: 15px;

    &.news__item--large {
      width: 50%;
    }

    &.news__item--banner {
      display: flex;

      img {
        object-fit: cover;
      }
    }
  }

  &__date {
    font-size: 14px;
    color: $red;
    margin-bottom: 27px;
  }

  &__head {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 25px;

    &:hover {
      color: $red;

      span {
        color: $red;
      }
    }

    span {
      color: black;
      font-weight: 700;
      transition: 300ms;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
  }

  &__more {
    display: flex;
    justify-content: center;
  }

  &__content {
    padding: 15px 25px;
  }

  &__share {
    display: none;
  }
}

/* Footer */

.footer {
  background: #282828;
  padding: 30px 0 80px;
  color: #ffffff;

  &__social {
    display: flex;
    align-items: center;
    margin-left: 160px;

    li {
      margin-right: 17px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 34px;
    margin-left: 77px;

    li {
      margin-right: 42px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: -24px;
        width: 2px;
        background: #ffffff;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      a {
        font-size: 28px;
        font-weight: 400;
        opacity: 0.36;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__item {
    margin-right: 80px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    div {
      line-height: 1.5;
    }

    &-title {
      font-weight: 700;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__info {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    max-width: 838px;
    margin: 0 auto;

    div {
      line-height: 20px;
      min-height: 20px;
    }
  }

  @media only screen and (max-width: 1300px) {
    &__social {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    &__nav li a {
      font-size: 18px;
    }
  }
}

/* Main */

.main {
  margin-bottom: 55px;

  &__inner {
    display: flex;
  }

  &__sidebar {
    width: 340px;
    margin-right: 60px;
    flex-shrink: 0;


    &-content {
      background: #e9ecf0;
      padding: 50px 23px 25px;
    }

    &-banner {
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }

    .news__item {
      width: 100%;
      padding-right: 0;
    }
  }

  &__sidebar-title {
    margin-bottom: 20px;

    span {
      background: #e9ecf0;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
  }

  &__img {
    margin-bottom: 22px;
  }

  &__title {
    font-size: 72px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 25px;

    span {
      display: block;
      color: #006998;
      font-size: 84px;
      font-weight: 700;
      line-height: 0.8;
    }
  }

  &__content {
    flex-grow: 10;
    padding-top: 40px;

    .news__text {
      line-height: 1.1;
    }
  }
}

/* Mobile search */

.mobile-search {
  align-items: center;
  background: #5f5f5f;
  padding: 5px 15px;
  display: none;

  input {
    flex-grow: 10;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    padding: 0 10px;
    font-size: 18px;
    color: #ffffff;
  }

  button {
    flex-shrink: 0;
    margin-left: 10px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    background: none;
  }

  @media only screen and (max-width: 767px) {
    display: flex;
  }
}

/* Burger */

.burger {
  display: none;
  width: 30px;
  margin-left: 12px;
  flex-shrink: 0;

  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;

    span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background: #000;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background: #000;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }

    &.active {
      span {
        background: transparent;

        &:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
        }

        &:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    display: block;
  }
}

/* Header mobile */

.header__mobile {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 300ms;
  background: #ffffff;
  padding: 15px;
  display: none;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &-menu {
    width: 100%;

    li {
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      text-align: center;

      a {
        line-height: 50px;
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }

  &-social {
    display: flex;
    justify-content: center;
    padding-top: 15px;

    li {
      margin: 0 5px;
    }
  }

  @media only screen and (max-width: 991px) {
    display: block;
  }
}

/* Respovsive */

@media only screen and (max-width: 1336px) {
  .header {
    position: relative;

    &__logo {
      width: 500px;
    }

    &__nav {
      margin-left: -400px;

      li {
        font-size: 16px;
      }
    }
  }

  .news__head {
    font-size: 31px;
  }

  .news__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    &__search-button {
      margin-left: 20px;
      flex-shrink: 0;
    }

    &__line,
    &__nav,
    &__social {
      display: none;
    }
  }

  .nav__inner li {
    font-size: 16px;
  }

  .news__item {
    width: 50%;
  }

  .news--with-img .news__item {
    width: calc(50% - 20px);
  }

  .news__img {
    width: 100%;
    height: 248px;

    img {
      object-fit: cover;
    }
  }

  .news__item--banner img {
    width: 100%;
  }

  .footer__item {
    margin-right: 30px;
  }

  .main {
    &__sidebar {
      width: 250px;
      margin-right: 30px;
    }

    &__title {
      font-size: 50px;

      span {
        font-size: 50px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 3px 0;

    &__logo {
      max-width: 290px;
    }

    &__content {
      display: none;
    }
  }

  .nav {
    display: none;
  }


  .banner {
    margin-bottom: 20px;
  }

  .title {
    text-align: center;
    font-size: 34px;
    font-weight: 400;

    span {
      padding: 0 7px;
    }
  }

  .news {
    &__title {
      margin-bottom: 25px;
    }

    &__item {
      width: 100% !important;
      margin-right: 0 !important;
    }
  }

  .footer {
    padding-bottom: 40px;

    &__header {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 42px;
    }

    &__nav {
      margin-left: 0;
      margin-top: 20px;
    }

    &__items {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      text-align: center;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  .main {
    &__sidebar {
      display: none;
    }

    &__content {
      flex-direction: column;
      display: flex;

      .news__text {
        order: 3;
      }
    }

    &__img {
      order: 2;
    }
  }

  .news {
    &.news--mobile-hidden {
      display: none;
    }

    &.news--inner {
      .news {

        &__title,
        &__text {
          display: none;
        }

        &__head {
          margin-bottom: 0;
        }
      }
    }

    &__share {
      display: flex;
      justify-content: center;
      order: 4;
      margin-top: 50px;
      color: #000000;

      span {
        font-size: 18px;
        font-weight: 700;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          margin-left: 9px;
        }
      }
    }
  }

  .banner {
    margin-bottom: 15px;
  }
}

/* Archive */

.archive {
  margin-bottom: 55px;

  &__title {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 70px;
  }

  &__items {
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__item {
    border: 1px solid #797979;
    margin-bottom: 20px;
    margin-left: 20px;
    width: calc(33.33% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    text-align: center;

    .btn {
      display: inline-flex;
    }
  }

  @media only screen and (max-width: 767px) {
    &__title {
      font-size: 24px;
      margin: 30px 0;
    }

    &__item {
      width: calc(50% - 20px);
    }
  }
}

/* Search */

.search-result {
  background: #e9ecf0;
  margin-bottom: 226px;
  padding-top: 20px;

  &__title {
    font-size: 25px;
    font-weight: 400;
    color: #5e5c5c;
    padding-bottom: 12px;
    margin-bottom: 35px;
    border-bottom: 3px solid #c0c8d2;
  }

  &__item {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 3px solid #c0c8d2;
    align-items: flex-start;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }

  &__img {
    width: 300px;
    margin-right: 20px;
    flex-shrink: 0;
  }

  &__text {
    font-size: 15px;
    line-height: 1;
    color: #000000;
    font-weight: 300;
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 70px;
    height: 70px;
    background: $red url(../images/arrow.png) no-repeat 50%;
    border: none;
    right: 70px;
    bottom: -102px;
    cursor: pointer;
    z-index: 3;
    transition: 100ms;

    &:hover {
      background-position: 46% 50%;
    }

    &.slick-next {
      transform: rotate(180deg);
      background-color: #c0c8d2;
      right: 0;
    }
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: -72px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    li {
      width: 12px;
      height: 12px;
      border: 2px solid #898989;
      position: relative;
      border-radius: 50%;
      margin-right: 24px;
      transition: 300ms;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border-color: $red;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: -6px;
        left: -6px;
        top: -6px;
        bottom: -6px;
        border-radius: 50%;
        border: 2px solid $red;
        opacity: 0;
        transition: 300ms;
      }

      &.slick-active {
        border-color: $red;
        background: $red;

        &:before {
          opacity: 1;
        }
      }

      button {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 136px;

    .slick-arrow {
      display: none !important;
    }

    &__item {
      display: block;
    }

    &__img {
      margin-bottom: 20px;
    }
  }
}

/* News page */

.news-page {
  padding-bottom: 35px;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__banner {
    margin-bottom: 20px;
  }

  &__sidebar {
    width: 300px;
    flex-shrink: 0;
    margin-left: 20px;

    &.gray {}

    .btn {
      margin: 25px auto 0;
    }

    .title {
      font-size: 25px;
      margin-bottom: 35px;
    }

    .news__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      border: 1px solid #c0c8d2;
      padding: 0;
    }
  }

  &__content {
    flex-grow: 10;

    >img {
      margin-bottom: 30px;
    }

    h1 {
      color: #605d5d;
      font-size: 60px;
      font-weight: 300;
      line-height: 60px;
      text-transform: uppercase;
      margin-bottom: 42px;

      span {
        color: #006998;
        font-weight: 700;
      }
    }

    h2 {
      color: #5e5c5c;
      font-size: 30px;
      font-weight: 300;
      line-height: 1.1;
      margin-bottom: 20px;
    }

    h3 {
      color: #006998;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      color: black;
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }

  &__date {
    color: #c50101;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__with-qoute {
    display: flex;
    align-items: center;
    margin: 30px 0;

    img {
      width: 40%;
      margin-right: 20px;
    }
  }

  &__quote {
    border-top: 1px solid #006998;
    border-bottom: 1px solid #006998;
    padding: 10px 0;
    text-transform: uppercase;
    color: #006998;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__link {
    color: #5e5c5c;
    font-size: 25px;
    font-weight: 400;
    margin-top: 40px;
  }

  &__list {
    background: #e9ecf0;
    padding: 20px 10px 25px;
    margin-bottom: 45px;

    .title span {
      background: #e9ecf0;
    }

    .news-page__date {
      margin-bottom: 8px;
    }
  }

  &__article {
    color: #5e5c5c;
    font-size: 25px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 28px;

    &:hover {
      text-decoration: none;
    }

    span {
      font-size: 25px;
      font-weight: 700;
      color: #000000;
    }
  }

  @media only screen and (max-width: 991px) {
    &__inner {
      display: block;
    }

    &__content {
      h1 {
        font-size: 40px;
      }
    }

    &__sidebar {
      width: 100%;
      margin-left: 0;
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: 767px) {
    &__content {
      h1 {
        font-size: 30px;
        line-height: 1.1;
      }

      h2 {
        font-size: 24px;
      }
    }

    &__with-qoute {
      display: block;

      >img {
        width: auto;
      }
    }
  }
}

/* Redaction header */

.redaction-header {
  background: #e9ecf0;
  padding: 10px 15px;
  margin-bottom: 80px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

/* Redaction */

.redaction {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 300;
  color: #000000;
  line-height: 1.1;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__sidebar {
    width: 300px;
    margin-left: 130px;
    font-size: 22px;
    flex-shrink: 0;

    span {
      display: block;
      margin-bottom: 15px;
    }
  }

  &__content {
    flex-grow: 10;
  }

  &__head {
    color: #000000;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__group {
    margin-bottom: 23px;
  }

  &__item {
    margin-bottom: 25px;

    span {
      text-decoration: underline;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__subtitle {
    font-weight: bold;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 991px) {
    font-size: 21px;

    &__inner {
      display: block;
    }

    &__sidebar {
      width: 100%;
      margin-left: 0;
      margin-top: 40px;
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 767px) {
    font-size: 18px;
  }
}