@media only screen and (max-width: 1780px) {
  .partners-close {
    top: 50px;
    right: 20px;
  }
}

@media only screen and (max-width: 1260px) {
  .container {
    max-width: 1170px;
  }
  .nav li {
    padding-right: 32px;
    margin-right: 32px;
  }
  .header {
    padding-left: 20px;
    &-wrap {
      .container {
        max-width: 100%;
      }
    }
    &-content {
      margin-right: 20px;
    }
  }
  .showcase-img {
    width: 740px;
  }
  .charity {
    &-elem {
      margin-right: 0;
    }
    &-item {
      width: 505px;
    }
  }
  .more-soc-head {
    font-size: 34px;
    margin-right: 51px;
  }
  .footer {
    &-logo {
      margin-right: 26px;
    }
    &-content {
      width: 570px;
    }
    &-items {
      width: 590px;
    }
    &-item {
      margin-right: 26px;
      ul {
        margin-right: 40px;
      }
    }
    &-soc {
      li {
        width: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .logo {
    width: 180px;
    margin: 13px 0;
  }
  .head {
    font-size: 32px;
    &:after {
      background-size: 100% !important;
      width: 80px;
    }
  }
  .header-info {
    width: auto;
    height: auto;
    padding: 15px 5px 13px 16px;
  }
  .header-info-img {
    width: 52px;
    height: 52px;
  }
  .header-info-img .amount {
    width: 32px;
    height: 32px;
    font-size: 18px;
    right: -20px;
  }
  .header-info-content {
    display: none;
  }
  .header-items {
    margin-bottom: 12px;
  }
  .header-item__head {
    font-size: 14px;
  }
  .header-item__tel {
    font-size: 16px;
  }
  .header-content {
    margin-right: 24px;
    padding-top: 15px;
    padding-bottom: 0;
  }
  .nav li a {
    font-size: 14px;
  }
  .nav li {
    padding-right: 33px;
    margin-right: 33px;
  }
  .showcase {
    height: 565px;
    padding-top: 65px;
    padding-left: 326px;
    .link {
      margin: 28px 0 0;
    }
    &-scroll {
      width: 80px;
    }
    &-content {
      margin: 0 55px 0 auto;
    }
  }
  .showcase-head {
    font-size: 34px;
    padding-bottom: 45px;
    padding-right: 83px;
    margin-bottom: 24px;
  }
  .showcase-head:after {
    background-size: 100%;
    width: 80px;
    margin-left: -43px;
  }
  .showcase-img {
    width: 560px;
    height: auto;
    top: 36px;
    left: -16px;
  }
  .advantage {
    padding: 38px 0 80px;
  }
  .advantage-img {
    width: 492px;
    top: 200px;
    margin-left: -14px;
    text-align: center;
  }
  .advantage-item {
    padding-top: 10px;
    &.item1 {
      padding-left: 14px;
    }
  }
  .advantage-item p {
    font-size: 18px;
    margin-bottom: 118px;
  }
  .advantage-item p.arrow-left:before {
    background-size: 85%;
    top: -106px;
    right: -52px;
  }
  .advantage-item p.arrow-right:after {
    background-size: 85%;
    bottom: -114px;
    left: -52px;
  }
  .use {
    padding: 33px 0 6px;
  }
  .use .head {
    margin-bottom: 28px;
  }
  .use-items {
    margin: 0 8px 0 24px;
  }
  .use-item {
    width: 32%;
    margin-bottom: 33px;
  }
  .use-item__head {
    font-size: 20px;
  }
  .compare {
    padding: 33px 0 46px;
  }
  .compare .head {
    margin-bottom: 42px;
  }
  .compare-table {
    table {
      thead {
        td {
          height: 62px;
          font-size: 16px;
          line-height: 1.6;
          img {
            width: 120px;
          }
          &:first-child {
            width: 240px;
          }
          &:nth-child(2) {
            width: 100px;
          }
          &:nth-child(3) {
            width: 225px;
          }
          &:nth-child(4) {
            width: 170px;
          }
          &:last-child {
            width: 224px;
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 16px;
            &.a-week {
              font-size: 24px;
            }
            &:first-child {
              padding-left: 18px;
            }
          }
        }
      }
    }
  }
  .main-product {
    padding-top: 36px;
    padding-left: 16px;
    padding-bottom: 80px;
  }
  .main-product .head {
    padding-bottom: 34px;
    margin-bottom: 34px;
  }
  .main-product-content {
    width: 330px;
  }
  .main-product-items {
    margin-bottom: 28px;
  }
  .main-product-item {
    margin-bottom: 16px;
  }
  .main-product__head {
    width: 98px;
    font-size: 16px;
    padding-top: 5px;
  }
  .main-product__head.price {
    padding-top: 0;
  }
  .main-product__head.delivery {
    padding-top: 3px;
  }
  .main-product-text {
    font-size: 16px;
    line-height: 1.7;
  }
  .main-product-price {
    font-size: 16px;
    span {
      font-size: 16px;
    }
  }
  .main-product-delivery {
    padding: 4px 7px;
    font-size: 16px;
  }
  .main-product-img {
    width: 590px;
    top: 104px;
    right: -5px;
  }
  .charity {
    padding: 46px 0 30px;
  }
  .charity .head {
    padding-top: 30px;
    &:before {
      background-size: 100%;
      width: 80px;
    }
  }
  .charity-elem {
    margin-right: 60px;
  }
  .charity-items {
    margin-left: 25px;
    margin-bottom: 36px;
  }
  .charity-item {
    width: 440px;
    &.item1 {
      margin: 0 0 54px;
    }
    &.item3 {
      margin: 36px 0 44px;
    }
  }
  .charity-item-img {
    margin: 26px 12px 0 0;
  }
  .charity-item__head {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .more {
    padding: 50px 0 67px;
    margin: 0 16px;
  }
  .more-links {
    margin-bottom: 56px;
  }
  .more-soc {
    margin-left: 36px;
  }
  .conditions {
    height: 300px;
    margin: 0 74px 50px;
    padding: 28px 0 0 30px;
  }
  .conditions-content {
    width: 562px;
    .head {
      padding-bottom: 34px;
      margin-bottom: 52px;
      &:after {
        width: 80px;
        background-size: 100%;
      }
    }
  }
  .conditions-img {
    width: 321px;
    top: -14px;
    right: 21px;
  }
  .conditions-link {
    margin-left: 6px;
  }
  .footer {
    align-items: flex-end;
    padding-top: 22px;
    padding-left: 17px;
  }
  .footer-items {
    width: 608px;
    margin-bottom: 3px;
  }
  .footer-item {
    margin-right: 42px;
  }
  .footer-soc {
    margin-top: -26px;
  }
  .footer-content {
    width: 300px;
    flex-direction: column;
  }
  .footer-logo {
    width: 180px;
    margin-bottom: 16px;
  }
  .footer-info .header-select-city {
    font-size: 14px;  
  }
  .footer-info .header-item {
    margin-bottom: 7px;
  }
  .bottom-item__text,
  .bottom-item__link,
  .bottom-item__text a {
    font-size: 12px;
  }
  .bottom {
    padding: 0 16px 26px;
  }
  .bottom-pc {
    display: none;
  }
  .bottom-mobile {
    display: inline-block;
  }
  .contacts {
    &-img {
      width: 600px;
      right: -192px;
      background-size: 100%;
    }
    &-content {
      width: 580px;
    }
    &-item {
      &-note {
        font-size: 18px;
      }
    }
    &-soc {
      &__head {
        text-align: center;
        font-size: 18px;
      }
      ul {
        justify-content: center;
        margin-left: 0;
        li {
          margin-right: 56px;
        }
      }
    }
  }
  .basket {
    padding-bottom: 56px;
    &__head {
      font-size: 26px;
      margin-bottom: 12px;
    }
    &-item {
      width: 32%;
      .radio {
        top: 2px;
        &__text {
          padding-left: 26px;
          line-height: 1.3;
          span {
            display: inline;
          }
        }
      }
    }
    &-textarea {
      &__head {
        font-size: 20px;
      }
      &__text {
        line-height: 1.3;
      }
    }
    &-data {
      &__text {
        line-height: 1.3;
        margin-bottom: 10px;
      }
      &-input {
        margin-bottom: 16px;
        input {
          font-size: 20px;
        }
      }
      &-checkbox {
        margin-bottom: 26px;
      }
    }
    &-delivery {
      &__head {
        font-size: 20px;
        margin-bottom: 14px;
      }
      &-date {
        flex-direction: column;
        input {
          width: 190px;
          margin-bottom: 12px;
        }
      }
    }
    &-product {
      &-img {
        margin-bottom: 12px;
      }
      &__price {
        font-size: 34px;
      }
      &-info {
        margin-bottom: 20px;
      }
      &__head {
        font-size: 20px;
      }
      &-items {
        margin-bottom: 28px;
        table tbody tr td {
          font-size: 18px;
          &:first-child {
            width: 210px;
          }
          &.bold {
            font-size: 18px;
          }
        } 
      }
    }
  }
  .payment {
    &-items {
      width: 580px;
    }
  }
  .issues {
    .link {
      a {
        padding: 0 30px;
        width: 100%;
        text-align: center;
      }
    }
    &-items {
      margin-right: 26px;
    }
    &-sidebar {
      width: 260px;
    }
  }
  .partners {
    &-wrap {
      background: url(../images/partners-bg1024.jpg) no-repeat 50%;
      background-size: cover;
    }
    &-content {
      margin: 0 22px;
      padding-right: 260px;
      .head {
        padding-bottom: 36px;
        margin-bottom: 12px;
        &:after {
          width: 80px;
        }
      }
      &__text {
        font-size: 16px;
        padding-right: 26px;
        line-height: 1.65;
        margin-bottom: 18px;
      }
    }
    &-close {
      width: 70px;
      top: 29px;
      right: 5px;
    }
    &-input {
      width: 282px;
      margin-right: 30px;
      margin-bottom: 26px;
      .error-text {
        font-size: 14px;
      }
      input {
        font-size: 20px;
      }
    }
    &-form {
      &-bottom {
        padding-top: 20px;
        margin-right: 0;
        button {
          width: 280px;
          margin-right: 34px;
        }
        label {
          padding: 2px 0 0 27px;
          .checkbox {
            width: 16px;
            height: 16px;
            top: 2px;
            &-text {
              font-size: 12px;
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    &-img {
      width: 290px;
      top: 118px;
      right: -20px;
    }
  }
  .fancybox-close-small {
    width: 60px;
    height: 60px;
  }
  .advantages-item {
    width: 470px;
  }
  .product {
    &-img {
      width: 500px;
    }
    &-carousel .slick-arrow {
      bottom: -108px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .header {
    padding-left: 125px;
    position: relative;
    &-wrap {
      overflow: visible;
    }
    &-info:after {
      display: none;
    }
    &-items {
      flex-direction: column;
      margin-bottom: 0;
    }
    &-item {
      margin-bottom: 1px;
      &__head {
        font-size: 14px;
      }
      &-soc {
        li {
          width: 16px;
          height: 16px;
        }
      }
    }
    &-content {
      margin-right: 30px;
      padding-top: 8px;
    }
    &-select-city {
      font-size: 14px;
    }
  }
  .burger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
    width: 50px;
    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;
      span {
        position: relative;
        display: block;
        width: 50px;
        height: 6px;
        background-color: #34953b;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          content: '';
          width: 50px;
          height: 6px;
          position: absolute;
          left: 0;
          background-color: #34953b;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }
        &:before {
          top: -14px;
        }
        &:after {
          width: 40px;
          top: 14px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(10px, 8px);
            transform: rotate(45deg) translate(10px, 8px);
          }
          &:after {
            width: 50px;
            -webkit-transform: rotate(-45deg) translate(10px, -8px);
            transform: rotate(-45deg) translate(10px, -8px);
          }
        }
      }
    }
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #f3f8eb;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
    li {
      padding: 8px 0;
      margin-right: 0;
      &:after {
        display: none;
      }
    }
  }
  .showcase {
    height: 820px;
    padding-top: 49px;
    padding-left: 0;
    position: relative;
    .link {
      position: absolute;
      bottom: 89px;
      left: 50%;
      transform: translate(-50%);
    }
    &-wrap {
      background-image: url(../images/showcase768.png);
      background-size: cover;
    }
    &-head {
      padding-right: 0;
      padding-bottom: 51px;
      margin: 0 70px 21px;
      &:after {
        margin-left: 0;
      }
    }
    &-content {
      margin-right: 48px;
    }
    &-img {
      top: 202px;
      left: 23px;
    }
  }
  .advantage {
    padding: 32px 0 50px;
    .head {
      margin: 0 40px 35px;
    }
    &-img {
      position: static;
      transform: translate(0);
      margin: 0 115px 7px;
    }
    &-items {
      margin: 0 38px 0 42px;
    }
    &-item {
      width: 308px;
      &.item1 {
        padding-left: 0;
      }
      p {
        margin-bottom: 31px;
        &.arrow-left:before,
        &.arrow-right:after {
          display: none;
        }
      }
    }
  }
  .use {
    padding: 28px 0 12px;
    .head {
      margin-bottom: 20px;
    }
    &-wrap {
      background-image: url(../images/use-bg768.jpg);
      background-size: cover;
    }
    &-items {
      margin: 0;
    }
    &-item {
      width: 352px;
      margin: 0 10px 24px;
      &__head {
        line-height: 1.3;
        padding-right: 10px;
      }
      &-img {
        margin-bottom: 16px;
      }
    }
  }
  .compare {
    padding-bottom: 40px;
    .head {
      margin-bottom: 28px;
    }
  }
  .compare-table table {
    border-spacing: 4px;
    thead {
      td {
        &:first-child {
          width: 205px;
        }
        &:nth-child(2) {
          width: 80px;
        }
        &:nth-child(3) {
          width: 152px;
        }
        &:nth-child(4) {
          width: 128px;
        }
        &:last-child {
          width: 158px;
        }
      }
    }
    tbody {
      tr {
        td {
          height: 48px;
          &:first-child {
            padding-left: 10px;
          }
        }
      }
    }
  }
  .main-product {
    padding-top: 31px;
    padding-bottom: 62px;
    &-wrap {
      overflow: hidden;
    }
    &-img {
      width: 500px;
      top: 88px;
      right: -108px;
    }
  }
  .charity {
    padding-top: 37px;
    &-wrap {
      background-image: url(../images/use-bg768.jpg);
      background-size: cover;
    }
    &-elem {
      margin-right: 0;
    }
    &-items {
      margin: 0 47px;
    }
    &-item {
      width: 100%;
      margin: 0 0 22px !important;
      &-img {
        margin: 16px 22px 0 12px;
      }
    }
  }
  .more {
    padding: 40px 0 30px;
    &-links {
      flex-direction: column;
      margin-bottom: 0;
      li {
        margin-bottom: 34px;
      }
    }
    &-soc {
      margin-top: -5px;
      margin-left: 0;
      flex-direction: column;
      justify-content: center;
      &-head {
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center;
      }
    }
  }
  .conditions {
    width: 100%;
    margin-left: 0;
    margin-bottom: 58px;
    padding-left: 23px;
    &-wrap {
      overflow-x: hidden;
      padding-top: 14px;
      .container {
        max-width: 100%;
      }
    }
    &-img {
      right: -21px;
    }
  }
  .footer {
    padding: 26px 0 18px;
    margin: 0 43px;
    align-items: flex-start;
    &-items {
      width: 344px;
      flex-direction: column;
      align-items: flex-start;
    }
    &-item {
      margin-right: 0;
      ul li a {
        margin-bottom: 11px;
      }
    }
    &-soc {
      margin-top: 0;
      order: -1;
      margin-bottom: 16px;
    }
    &-content {
      padding-top: 2px;
    }
    &-info {
      .header-item {
        margin-bottom: 9px;
      }
    }
  }
  .bottom {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    &-item {
      margin-bottom: 8px;
      &:first-child {
        margin-right: 65px;
      }
    }
  }
  .contacts {
    padding-bottom: 40px;
    .head {
      margin-bottom: 20px;
      padding-bottom: 30px;
      &:after {
        width: 55px;
      }
    }
    &-content {
      width: 466px;
      position: relative;
      z-index: 5;
    }
    &-img {
      width: 488px;
      z-index: 1;
    }
    &-item {
      margin-bottom: 30px;
      &-note {
        font-size: 16px;
        a {
          font-size: 16px;
        }
      }
      &-tel a {
        font-size: 24px;
      }
      &__text {
        font-size: 14px;
      }
    }
    &-soc {
      margin-bottom: 34px;
      &__head {
        font-size: 16px;
        margin-bottom: 24px;
      }
      ul {
        li {
          width: 80px;
          margin-right: 36px;
        }
      }
    }
    &-props {
      b, p {
        font-size: 14px;
      }
    }
  }
  .basket {
    .link a {
      line-height: 50px;
      padding: 0 44px;
      font-size: 16px;
    }
    &-item {
      .radio {
        width: 14px;
        height: 14px;
        top: 0;
        &__text {
          padding-left: 22px;
          line-height: 1.1;
          font-size: 14px;
        }
      }
    }
    &__head {
      font-size: 18px;
    }
    &-data {
      &__text {
        font-size: 14px;
      }
      &-input {
        margin-bottom: 10px;
        input {
          height: 46px;
          font-size: 18px;
        }
      }
      &-checkbox {
        .checkbox {
          width: 18px;
          height: 18px;
          &__text {
            font-size: 14px;
            padding-left: 26px;
          }
        }
      }
    }
    &-textarea {
      margin-bottom: 16px;
      &__head {
        font-size: 16px;
      }
      &__text {
        line-height: 1.1;
        font-size: 14px;
      }
    }
    &-delivery {
      &__head {
        font-size: 16px;
      }
      &-items {
        margin-bottom: 10px;
      }
    }
    &-product {
      &__head {
        font-size: 16px;
      }
      &__price {
        font-size: 26px;
      }
      &-items {
        margin-bottom: 20px;
        table tbody tr {
          td {
            height: 30px;
            font-size: 14px;
            &:first-child {
              width: 160px;
            }
            &.bold {
              font-size: 14px;
            }
          }
        }
      }
      &-info {
        margin-right: 0;
        .amount {
          width: 110px;
          height: 36px;
        }
      }
    }
  }
  .payment {
    &-items {
      width: 460px;
    }
    &-info {
      width: 560px;
      right: -236px;
      .link {
        margin-left: 50px;
        a {
          padding: 0 34px;
        }
      }
    }
  }
  .order-success {
    width: 700px;
    padding: 43px 24px 0;
    .head:after {
      width: 80px;
    }
    .link a {
      padding: 0 40px;
    }
  }
  .issues {
    padding-bottom: 56px;
    .link {
      a {
        line-height: 48px;
        font-size: 16px;
      }
    }
    &-item {
      &-head {
        h2 {
          font-size: 18px;
        }
      }
      &-content {
        padding: 0 10px 16px;
      }
    }
    &-sidebar {
      width: 240px;
      &__head {
        font-size: 18px;
        margin-bottom: 6px;
      }
      &__text {
        font-size: 16px;
        margin-bottom: 6px;
      }
      &-tel {
        margin-bottom: 5px;
      }
      &-mail {
        margin-bottom: 50px;
      }
    }
  }
  .product {
    padding-bottom: 50px;
    .link {
      margin-bottom: 40px;
      a {
        line-height: 48px;
        padding: 0 40px;
      }
    }
    &-img {
      width: 390px;
      right: 14px;
    }
    &-carousel {
      margin-bottom: 16px;
    }
    &-dots {
      margin-left: 0;
      li {
        margin: 0 6px;
      }
    }
    &-content {
      width: 360px;
      &__text {
        line-height: 1.3;
        margin-bottom: 14px;
      }
      table {
        margin-bottom: 30px;
        tbody tr {
          td {
            padding: 4px 0;
            font-size: 16px;
            &:first-child {
              width: 92px;
            }
          }
        }
      }
    }
    &-info {
      margin-bottom: 24px;
      &__price {
        font-size: 32px;
      }
    }
    &-reviews ul li a {
      font-size: 18px;
    }
  }
  .advantages {
    &-head {
      font-size: 30px;
      margin-bottom: 30px;
    }
    &-item {
      width: 366px;
      margin-bottom: 28px;
      &-img {
        width: 100px;
      }
      &-content {
        padding-left: 112px;
      }
      &__head {
        font-size: 18px;
        margin-bottom: 6px;
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
  .partners {
    height: auto;
    padding: 45px 20px 20px;
    &-wrap {
      background-image: url(../images/partners-bg768.jpg);
      background-size: cover;
    }
    &-close {
      top: 35px;
      right: 18px;
    }
    &-content {
      margin: 0 66px;
      padding-right: 40px;
      &__text {
        padding-right: 190px;
      }
    }
    &-img {
      right: -40px;
    }
    &-form {
      &-bottom {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        label {
          margin-bottom: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .head {
    font-size: 18px;
    line-height: 1.45;
    padding-bottom: 28px;
    margin-bottom: 22px;
    &:after,
    &:before {
      width: 50px;
    }
  }
  .logo {
    width: 120px;
    margin: 0 0 0 -20px;
  }
  .burger {
    width: 30px;
    top: 11px;
    left: 15px;
    a {
      span {
        width: 30px;
        height: 4px;  
        &:before,
        &:after {
          width: 30px;
          height: 4px;
        }
        &:before {
          top: -10px;
        }
        &:after {
          width: 20px;
          top: 10px;
        }
      }
      &.active {
        span {
          &:before {
            -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
          }
          &:after {
            width: 30px;
            -webkit-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }
    }
  }
  .header {
    justify-content: center;
    padding: 7px 0;
    &-items {
      display: none;
    }
    &-content {
      margin-right: 0;
    }
    &-info {
      padding: 9px 0 7px 6px;
      position: absolute;
      top: 0;
      right: 0;
      &-img {
        width: 34px;
        height: 34px;
        margin-right: 20px;
        .amount {
          width: 24px;
          height: 24px;
          font-size: 16px;
          right: -11px;
        }
      }
    }
  }
  .showcase {
    height: 590px;
    padding-top: 20px;
    &-wrap {
      overflow: hidden;
    }
    &-head {
      font-size: 18px;
      margin: 0 12px;
      padding-bottom: 25px;
      line-height: 1.5;
      &:after {
        width: 40px;
      }
    }
    &-img {
      position: static;
      width: 320px;
      margin: 0 auto;
    }
    &-content {
      width: 100%;
      margin: -10px auto 0;
      padding: 0 10px;
      text-align: center;
      &__text {
        font-size: 18px;
      }
      &-price {
        font-size: 24px;
      }
    }
    .link {
      position: static;
      transform: translate(0);
      margin-top: 16px;
      a {
        line-height: 54px;
        padding: 0 66px;
      }
    }
  }
  .advantage {
    padding: 19px 0 36px;
    .head {
      margin: 0 12px 22px;
      span {
        display: inline;
      }
    }
    &-img {
      width: 300px;
      margin: 0 auto 15px;
    }
    &-items {
      flex-direction: column;
      margin: 0 20px;
    }
    &-item {
      width: 100%;
      padding-top: 11px;
      p {
        font-size: 14px;
        margin-bottom: 16px;
      }
    }
  }
  .use {
    padding: 20px 0;
    .head {
      padding-bottom: 22px;
      margin-bottom: 11px;
    }
    &-items {
      justify-content: center;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 18px;
      width: 100%;
      margin: 0 24px 14px;
      &-img {
        flex-shrink: 0;
        margin: 15px 21px 0 5px;
        &:after {
          background-size: 50%;
          bottom: -9px;
          left: -15px;
        }
        img {
          width: 54px;
          top: -11px;
          transform: translateY(0);
          left: -6px;
        }
        .circle {
          width: 60px;
          height: 60px;
        }
      }
      &__head {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 0;
        padding-right: 0;
      }
      &__text {
        font-size: 14px;
      }
    }
  }
  .compare {
    padding-top: 21px;
    .head {
      padding-bottom: 20px;
      margin-bottom: 16px;
    }
    &-table {
      display: none;
    }
    &-mobile {
      display: block;
    }
  }
  .compare-item table tbody tr {
    td {
      &:last-child {
        justify-content: center;
        padding-left: 0;
      }
    }
  }
  .main-product {
    padding: 21px 15px 44px;
    .head {
      padding-bottom: 27px;
      margin-bottom: 10px;
      text-align: center;
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .link {
      a {
        line-height: 52px;
        font-size: 16px;
      }
    }
    &-img {
      position: static;
      width: 290px;
      margin: 0 auto 18px;
    }
    &-content {
      width: 290px;
      margin: 0 auto;
    }
    &-items {
      margin: 0 20px 22px 4px;
    }
    &-item {
      margin-bottom: 7px;
    }
    &__head,
    &-delivery {
      font-size: 14px;
    }
    &-text {
      font-size: 14px;
    }
    &-price {
      font-size: 18px;
    }
  }
  .charity {
    padding: 16px 0 24px;
    .head {
      line-height: 1.3;
      margin: 0 18px;
      &:before {
        top: 6px;
        background-size: 60%;
      }
      span {
        display: inline;
      }
    }
    &-items {
      margin: 0 20px;
    }
    &-item {
      flex-direction: column;
      margin-bottom: 6px !important;
      &__head {
        font-size: 14px;
        margin-bottom: 4px;
      }
      &__text {
        font-size: 14px;
      }
      &-img {
        width: 90px;
        height: auto;
        margin: 16px 0 8px 26px;
        &:after {
          bottom: 10px;
          left: 21px;
          background-size: 56%;
        }
        img {
          width: 60px;
          top: -2px;
          left: -26px;
        }
        .circle {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
  .more {
    padding: 28px 0 20px;
    &-links {
      li {
        margin-bottom: 27px;
        a {
          line-height: 50px;
          padding: 0 6px;
          font-size: 14px;
        }
      }
    }
    &-soc {
      &-head {
        font-size: 20px;
        margin-bottom: 12px;
      }
      ul {
        li {
          width: 71px;
          height: 70px;
          margin-right: 27px;
        }
      }
    }
  }
  .conditions {
    height: 300px;
    padding: 18px 16px 0;
    margin-bottom: 0;
    &-wrap {
      padding-top: 0;
      background-image: url(../images/conditions-bg320.jpg);
      background-size: cover;
    }
    .head {
      margin-right: 110px;
    }
    &-content {
      width: 100%;
      .head {
        padding-bottom: 22px;
        margin-bottom: 70px;
        &:after {
          width: 55px;
        }
      }
    }
    &-img {
      width: 170px;
      right: 10px;
      top: 18px;
    }
    &-link {
      margin-left: 0;
      position: absolute;
      bottom: 24px;
      left: 22px;
      a {
        font-size: 16px;
      }
    }
  }
  .footer {
    flex-direction: column;
    margin: 0 20px;
    padding-top: 16px;
    &-info {
      .header {
        &-items {
          display: block;
          margin-bottom: 18px;
        }
        &-item {
          justify-content: center;
          margin-bottom: 5px;
          &.city {
            position: absolute;
            top: 15px;
            right: -7px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 0;
          }
          &-soc {
            li {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    &-logo {
      margin-bottom: 21px;
    }
    &-content {
      width: 100%;
      position: relative;
    }
    &-items {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &-item {
      margin-bottom: 17px;
      ul {
        margin-right: 30px;
        li {
          a {
            font-size: 14px;
            margin-bottom: 7px;
          }
        }
      }
    }
    &-soc {
      order: 1;
      align-self: center;
      margin-bottom: 0;
      li {
        width: 47px;
        height: 46px;
      }
    }
  }
  .bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    &-mobile {
      display: none;
    }
    &-pc {
      display: block;
      margin-right: 4px;
    }
    &-item {
      &__text {
        display: flex;
      }
    }
  }
  .contacts {
    .head {
      font-size: 28px;
    }
    &-img {
      display: none;
    }
    &-content {
      width: 100%;
    }
  }
  .basket {
    .link {
      text-align: center;
    }
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
    }
    &-product {
      &__head {
        text-align: center;
      }
      &-items {
        table {
          margin: 0 auto;
        }
      }
      &-img {
        text-align: center;
      }
    }
    &-pay {
      &-items {
        width: 194px;
        margin: 20px auto;
      }
    }
    &-data {
      &-form {
        margin-bottom: 20px;
      }
    }
    &-delivery {
      &-info {
        margin-bottom: 20px;
      }
    }
  }
  .payment {
    &-items {
      width: 100%;
      margin-bottom: 40px;
    }
    &-item {
      margin-bottom: 18px;
      &__head {
        font-size: 18px;
      }
      &__text {
        line-height: 1.3;
        font-size: 14px;
      }
    }
    &-info {
      position: static;
      width: 100%;
      .link {
        margin-left: 0;
        text-align: center;
        a {
          line-height: 50px;
        }
      }
      &-img {
        display: none;
      }
    }
  }
  .order-success {
    width: 536px;
    height: 440px;
    &__text {
      width: 300px;
      line-height: 1.3;
      font-size: 16px;
      margin-bottom: 24px;
    }
    &-img {
      width: 300px;
    }
    .head {
      font-size: 26px;
      &:after {
        width: 50px;
      }
    }
    .link {
      a {
        line-height: 50px;
        font-size: 16px;
        padding: 0 26px;
      }
    }
  }
  .issues {
    &-content {
      flex-direction: column;
    }
    &-items {
      margin-bottom: 40px;
    }
    &-sidebar {
      margin: 0 auto;
      text-align: center;
      &-mail {
        margin-bottom: 28px;
      }
    }
  }
  .product {
    &-img {
      width: 400px;
      position: static;
      margin: 0 auto 20px;
    }
    &-content {
      width: 100%;
    }
  }
  .advantages {
    &-head {
      font-size: 22px;
    }
    &-item {
      width: 100%;
      &-img {
        width: 90px;
        top: 0;
      }
    }
  }
  .partners {
    &-wrap {
      background-image: url(../images/partners-bg320.jpg);
      background-size: cover;
    }
    &-close {
      width: 40px;
      top: 10px;
      right: 10px;
    }
    &-img {
      width: 130px;
      top: 3px;
      right: 0;
    }
    &-content {
      margin: 0;
      padding: 0;
      .head {
        height: 125px;
        font-size: 18px;
        padding-right: 90px;
        padding-bottom: 27px;
        margin-bottom: 10px;
        &:after {
          width: 50px;
        }
      }
      &__text {
        padding-right: 0;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 5px;
      }
    }
    &-input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 6px;
      .error-text {
        position: static;
        font-size: 12px;
        padding-top: 2px;
      }
      input {
        height: 40px;
        font-size: 16px;
        
      }
    }
    &-form {
      &-bottom {
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        label {
          width: 280px;
          margin-bottom: 10px;
          .checkbox {
            width: 14px;
            height: 14px;
            top: 4px;
          }
        }
        button {
          height: 54px;
          font-size: 16px;
          margin-right: 0;
        }
      }
    }
  }
  .fancybox-close-small {
    width: 40px;
    height: 40px;
    top: 6px;
    right: 6px;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
//    padding: 0 15px;
  }
  .contacts {
    padding: 15px;
    .head {
      font-size: 18px;
      margin-bottom: 10px;
      padding-bottom: 24px;
    }
    &-item {
      &-note {
        margin-bottom: 10px;
      }
    }
  }
  .basket {
    padding: 20px 15px 40px;
  }
  .payment {
    padding-right: 15px;
    padding-left: 15px;
  }
  .order-success {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 28px 20px 0;
    .link {
      text-align: center;
    }
    &__text {
      width: 100%;
    }
    &-content {
      margin-bottom: 40px;
    }
    &-img {
      position: static;
      width: 260px;
      margin: 0 auto;
    }
  }
  .issues {
    padding: 20px 15px 50px;
    &-item {
      &-head {
        h2 {
          font-size: 16px;
        }
      }
      &-content {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  .product {
    padding: 0 15px 30px;
    .link {
      a {
        font-size: 16px;
      }
    }
    &-img {
      width: 290px;
    }
    &-content {
      &__text {
        font-size: 14px;
        line-height: 1.2;
      }
      table {
        tbody tr td {
          font-size: 14px;
          &:first-child {
            width: 86px;
          }
          &.delivery {
            padding: 4px;
          }
        }
      }
    }
    &-info {
      .amount {
        width: 102px;
        span, input {
          height: 32px;
          font-size: 20px;
        }
      }
      &__price {
        font-size: 24px;
      }
    }
    &-reviews {
      &__head {
        font-size: 14px;
      }
      ul {
        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  .advantages {
    padding: 0 15px;
    &-item {
      &-img {
        position: static;
        margin-bottom: 10px;
      }
      &-content {
        padding-left: 0;
      }
      &__head {
        font-size: 16px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }
}
