$yellow: #ffe400;
$green: #009846;
$red: #ff0000;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Qanelas', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'Qanelas', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.container {
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.link {
  a {
    line-height: 60px;
    background-color: #ed1c24;
    box-shadow: 7.1px 7.1px 18px 2px rgba(255, 0, 0, 0.6);
    padding: 0 76px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $yellow;
    border-radius: 30px;
    &:hover {
      background-color: #d5171f;
    }
  }
}

.head {
  font-family: 'ALSMalina';
  font-size: 42px;
  color: #009846;
  line-height: 1.25;
  text-align: center;
  padding-bottom: 40px;
  margin: 0 0 38px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/waveRed.png) no-repeat 50%;
    width: 100px;
    height: 19px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  span {
    display: block;
  }
}

// Logo

.logo {
  margin: 16px 0;
}

// Nav

.burger {
  display: none;
}

.nav {
  display: flex;
  li {
    position: relative;
    padding-right: 36px;
    margin-right: 39px;
    &:after {
      content: '|';
      display: block;
      color: #b6b6b6;
      position: absolute;
      top: 2px;
      right: -3px;
    }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      &:hover {
        color: $green;
      }
    }
  }
}

// Header

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &-wrap {
    background-color: #f3f8eb;
    overflow-x: hidden;
  }
  &-body {
    display: flex;
  }
  &-content {
    margin-right: 43px;
    padding: 22px 0 16px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  &-item {
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
    &__head {
      margin: 0 5px 0 0;
    }
    &__tel {
      font-size: 18px;
      font-weight: 700;
      color: #000;
      &:hover {
        color: $green;
      }
    }
    &-soc {
      margin: 0 8px 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      li {
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &-select {
    &-city {
      font-weight: 700;
      border-bottom: 1px solid #000;
      cursor: pointer;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        right: -16px;
        background: url(../images/select-arrow.png) no-repeat 50%;
        width: 11px;
        height: 8px;
      }
    }
  }
}

// Header info

.header-info {
  flex-shrink: 0;
  width: 220px;
  height: 99px;
  position: relative;
  background-color: $yellow;
  padding: 18px 12px 16px 31px;
  display: flex;
  align-items: center;
  color: #000;
  &:hover {
    color: inherit;
  }
  &:after {
    content: '';
    display: block;
    background-color: $yellow;
    width: 9999px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
  }
  &-img {
    flex-shrink: 0;
    position: relative;
    margin-right: 29px;
    .amount {
      position: absolute;
      bottom: 0;
      right: -25px;
      width: 38px;
      height: 38px;
      background-color: #ed1c24;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      border-radius: 50%;
    }
  }
  &__head {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 11px;
  }
  &__sum {
    font-weight: 700;
  }
}

// Showcase

.showcase {
  height: 860px;
  padding: 134px 0 0 390px;
  position: relative;
  &-wrap {
    background: url(../images/showcase.png) no-repeat 50%;
    background-size: cover;
  }
  .link {
    margin: 52px 0 0;
  }
  &-head {
    color: $yellow;
    font-family: 'ALSMalina';
    font-size: 54px;
    text-align: center;
    padding-bottom: 64px;
    margin-bottom: 50px;
    line-height: 1.25;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/waveYellow.png) no-repeat 50%;
      width: 125px;
      height: 25px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &-content {
    width: 340px;
    margin: 0 120px 0 auto;
    &__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      color: #fff;
    }
    &-price {
      font-size: 42px;
      font-weight: 700;
      color: #fff;
      span {
        font-size: 24px;
      }
    }
  }
  &-img {
    width: 800px;
    height: 652px;
    position: absolute;
    top: 85px;
    left: -60px;
    z-index: 1;
  }
  &-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

// Advantage

.advantage {
  padding: 47px 0 124px;
  &-img {
    width: 766px;
    position: absolute;
    top: 226px;
    left: 50%;
    transform: translate(-50%);
  }
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-item {
    width: 240px;
    padding-top: 77px;
    p {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 151px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      &.arrow-left:before {
        content: '';
        display: block;
        background: url(../images/advantage-arrowLeft.png) no-repeat 50%;
        width: 148px;
        height: 97px;
        position: absolute;
        top: -130px;
        right: -60px;
      }
      &.arrow-right:after {
        content: '';
        display: block;
        background: url(../images/advantage-arrowRight.png) no-repeat 50%;
        width: 148px;
        height: 97px;
        position: absolute;
        bottom: -126px;
        left: -60px;
      }
    }
  }
}

// Use


.use {
  padding: 51px 0 5px;
  &-wrap {
    background: url(../images/use-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  .head {
    color: $red;
    padding-bottom: 35px;
    margin-bottom: 32px;
    &:after {
      background: url(../images/waveGreen.png) no-repeat 50%;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-item {
    width: 30.33%;
    margin-bottom: 33px;
    &-img {
      margin-bottom: 14px;
      padding-left: 10px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: url(../images/waveRed.png) no-repeat 50%;
        width: 100px;
        height: 19px;
        position: absolute;
        bottom: 22px;
        left: 82px;
      }
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      .circle {
        width: 95px;
        height: 95px;
        background-color: #86ba3f;
        border-radius: 50%;
      }
    }
    &-content {
      padding-right: 2px;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 10px;
    }
    &__text {
      line-height: 1.6;
    }
  }
}

// Сompare

.compare {
  padding: 42px 0 56px;
  .head {
    color: $green;
    padding-bottom: 36px;
    margin-bottom: 46px;
    &:after {
      background: url(../images/waveRed.png) no-repeat 50%;
    }
  }
  &-table {
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 6px 0;
      thead {
        td {
          height: 67px;
          vertical-align: top;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          &:first-child {
            width: 307px;
          }
          &:nth-child(2) {
            width: 155px;
          }
          &:nth-child(3) {
            width: 312px;
          }
          &:nth-child(4) {
            width: 234px;
          }
          &:last-child {
            width: 229px;
          }
        }
      }
      tbody {
        tr {
          &.white {
            background-color: #fff;
          }
          td {
            height: 52px;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            &.yellow {
              background-color: #fff17f;
            }
            &.gray {
              background-color: #e3ecd6;
            }
            &.a-week {
              font-size: 28px;
              color: $green;
            }
            &:first-child {
              text-align: left;
              padding-left: 32px;
            }
          }
        }
      }
    }
  }
}

// Сompare mobile

.compare {
  &-mobile {
    display: none;
    position: relative;
  }
  &-items {
    margin: 0 10px 5px;
  }
  &-item {
    &-head {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 11px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    table {
      width: 100%;
      tbody {
        tr {
          &.gray {
            background-color: #e3ecd6;
          }
          &.yellow {
            background-color: #fff17f;
          }
          td {
            height: 44px;
            font-size: 14px;
            font-weight: 700;
            &:first-child {
              width: 200px;
              padding-left: 8px;
            }
            &:last-child {
              width: 100%;
              display: flex;
              align-items: center;
              padding-left: 18px;
            }
            img {
              width: 28px;
              height: 28px;
            }
            &.day {
              font-size: 16px;
              padding-left: 12px;
            }
            &.day-max {
              font-size: 16px;
              font-weight: 700;
              color: $green;
            }
          }
        }
      }
    }
  }
  &-navigation {
    overflow: hidden;
    width: 100px;
    position: absolute;
    top: -41px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .arrows .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/left-arrow.png) no-repeat left;
        width: 13px;
        height: 20px;
        text-indent: 9999px;
        &:focus {
          outline: none;
        }
        &:hover {
          background-position: right;
        }
      }
      &-next {
        left: auto;
        right: 0;
        background: url(../images/right-arrow.png) no-repeat left;
      }
    }
    .numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      .current {
        font-size: 18px;
        font-weight: 700;
      }
      span {
        margin: 0 4px;
        font-size: 18px;
        font-weight: 700;
      }
      .all {
        font-size: 18px;
        font-weight: 700;
        color: $green;
      }
    }
  }
}

// Main product

.main-product {
  padding: 48px 0 68px;
  position: relative;
  &-wrap {
    background-color: #f3f8eb;
  }
  .head {
    color: $green;
    padding-bottom: 30px;
    margin-bottom: 28px;
    text-align: left;
    &:after {
      background: url(../images/waveRed.png) no-repeat 50%;
      transform: translate(0);
      left: 0;
    }
  }
  &-img {
    width: 680px;
    position: absolute;
    top: 93px;
    right: -9px;
    &-inner {
      position: absolute;
      bottom: 80px;
      left: 0;
    }
  }
  &-content {
    width: 430px;
  }
  &-items {
    margin-bottom: 32px;
  }
  &-item {
    display: flex;
    margin-bottom: 14px;
  }
  &__head {
    width: 136px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
    padding-top: 2px;
    &.delivery {
      padding-top: 6px;
    }
    &.price {
      padding-top: 21px;
    }
  }
  &-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    padding-left: 10px;
    span {
      display: block;
    }
  }
  &-delivery {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: $green;
    padding: 7px 10px;
    border-radius: 3px;
  }
  &-price {
    font-size: 42px;
    font-weight: 700;
    padding-left: 12px;
    span {
      font-size: 20px;
    }
  }
}

// Сharity

.charity {
  padding: 57px 0 44px;
  &-wrap {
    background: url(../images/use-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  .head {
    color: $green;
    padding-top: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
    &:before {
      content: '';
      display: block;
      background: url(../images/waveRed.png) no-repeat 50%;
      width: 100px;
      height: 19px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }
    &:after {
      display: none;
    }
    span {
      display: block;
    }
  }
  &-elem {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
  }
  &-item {
    width: 540px;
    display: flex;
    &-img {
      flex-shrink: 0;
      width: 124px;
      height: 130px;
      margin: 26px 7px 0 8px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: url(../images/waveGreen.png) no-repeat 50%;
        width: 100px;
        height: 19px;
        position: absolute;
        bottom: 30px;
        left: -10px;
      }
      img {
        position: absolute;
        top: -18px;
        left: -9px;
      }
      .circle {
        width: 110px;
        height: 110px;
        background-color: #f7b718;
        border-radius: 50%;
      }
    }
    &-content {
      flex-grow: 10;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
      line-height: 1.55;
    }
    &__text {
      line-height: 1.6;
    }
    &.item1 {
      margin: 0 0 52px 80px;
    }
    &.item3 {
      margin: 40px 0 45px 80px;
    }
  }
}

// More

.more {
  padding: 70px 0;
  margin: 0 118px;
  &-links {
    margin: 0 0 73px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        line-height: 60px;
        padding: 0 34px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        box-shadow: 7.1px 7.1px 18px 2px rgba(0, 152, 70, 0.6);
        background-color: $green;
        border-radius: 30px;
        &:hover {
          background-color: #056e35;
        }
      }
    }
  }
  &-soc {
    display: flex;
    align-items: center;
    margin-left: 20px;
    &-head {
      color: #ed1c24;
      font-size: 42px;
      font-weight: 700;
      margin-right: 70px;
      span {
        display: block;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        margin-right: 44px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// Conditions

.conditions {
  height: 340px;
  padding: 62px 0 0 80px;
  margin-bottom: 70px;
  position: relative;
  background: url(../images/conditions-bg.jpg) no-repeat 50%;
  &-img {
    position: absolute;
    top: -20px;
    right: 60px;
  }
  &-content {
    width: 735px;
    .head {
      color: $yellow;
      padding-bottom: 47px;
      margin-bottom: 0;
      text-align: left;
      &:after {
        background: url(../images/waveYellow.png) no-repeat 50%;
        width: 125px;
        height: 25px;
        top: auto;
        bottom: -10px;
        left: 0;
        transform: translate(0);
      }
    }
  }
  &-link {
    margin-left: 240px;
    a {
      line-height: 60px;
      background-color: #ed1c24;
      box-shadow: 7.1px 7.1px 18px 2px rgba(255, 0, 0, 0.6);
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      padding: 0 68px;
      border-radius: 30px;
      &:hover {
        background-color: #d5171f;
      }
    }
  }
}

// Footer

.footer {
  padding: 48px 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &-wrap {
    background-color: #f3f8eb;
  }
  &-content {
    width: 570px;
    display: flex;
  }
  &-logo {
    margin: 5px 46px 0 0;
  }
  &-info {
    .header {
      &-items {
        flex-direction: column;
      }
      &-item {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-items {
    width: 625px;
    display: flex;
    align-items: center;
  }
  &-item {
    display: flex;
    margin-right: 69px;
    ul {
      margin: 0 54px 0 0;
      padding: 0;
      list-style: none;
      &:last-child {
        margin-right: 0;
      }
      li {
        a {
          font-weight: 700;
          margin-bottom: 10px;
          color: #000;
          border-bottom: 1px solid #000;
          &:hover {
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
  &-soc {
    margin: -8px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Bottom 

.bottom {
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-item {
    &__text {
      font-size: 14px;
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__link {
      font-size: 14px;
      border-bottom: 1px solid #000;
      color: #000;
      &:hover {
        border-bottom: 1px solid transparent;
        color: #000;
      }
    }
  }
  &-mobile {
    display: none;
  }
}

// Contacts

.contacts {
  position: relative;
  padding: 40px 0 85px;
  &-wrap {
    overflow-x: hidden;
  }
  .head {
    text-align: left;
    margin-bottom: 33px;
    &:after {
      left: 0;
      transform: translate(0);
    }
  }
  &-img {
    width: 798px;
    position: absolute;
    top: 167px;
    right: -392px;
  }
  &-content {
     width: 760px;
  }
  &-item {
    margin-bottom: 54px;
    &-note {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 6px;
      a {
        font-size: 20px;
        font-weight: 700;
        color: $green;
        border-bottom: 1px solid $green;
        margin-left: 5px;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
    &-tel {
      margin-bottom: 10px;
      a {
        font-size: 34px;
        font-weight: 700;
        color: #000;
      }
    }
    &__text {
      line-height: 1.6;
      margin-bottom: 17px;
    }
  }
  &-soc {
    margin-bottom: 60px;
    &__head {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 50px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      margin-left: 90px;
      li {
        margin-right: 80px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &-props {
    b {
      margin-bottom: 6px;
      display: block;
    }
    p {
      margin-bottom: 7px;
    }
  }
}

// Basket

.basket {
  padding: 40px 0 80px;
  .head {
    text-align: left;
    margin-bottom: 34px;
    &:after {
      left: 0;
      transform: translate(0);
    }
  }
  &__head {
    font-size: 34px;
    font-weight: 700;
    color: $green;
    margin-bottom: 21px;
  }
  &-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-item {
    width: 380px;
    .radio {
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #000;
      border-radius: 50%;
      input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
        &:checked + span:before {
          opacity: 1;
        }
      }
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background-color: #ed1c24;
          border-radius: 50%;
          opacity: 0;
          transition: 300ms;
        }
      }
      &__text {
        padding-left: 32px;
        cursor: pointer;
        line-height: 1.6;
        span {
          display: block;
        }
      }
    }
  }
  &-textarea {
    margin-bottom: 42px;
    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      textarea {
        height: 40px;
        border: none;
        border-bottom: 2px solid #000;
        resize: none;
        &::-webkit-input-placeholder { 
          color: #000;
        }
        &:-moz-placeholder { 
          color: #000;
        }
        &::-moz-placeholder { 
          color: #000;
        }
        &:-ms-input-placeholder {
          color: #000;
        }
      }
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &__text {
      line-height: 1.6;
    }
  }
  &-pay {
    &-items {
      display: flex;
      flex-direction: column;
      margin: 14px 0 24px;
    }
    &-item {
      position: relative;
      margin-bottom: 10px;
    }
  }
}

// Basket data

.basket-data {
  &__text {
    line-height: 1.6;
    margin-bottom: 27px;
  }
  &-input {
    position: relative;
    margin-bottom: 25px;
    input {
      border: none;
      border-bottom: 2px solid #000;
      font: 700 24px 'Qanelas';
      height: 50px;
      width: 100%;
      padding: 0 2px;
      color: #000;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    &.error {
      input {
        border-bottom: 2px solid #ed1c24;
        color: #ed1c24;
        &::-webkit-input-placeholder { 
          color: #ed1c24;
        }
        &:-moz-placeholder { 
          color: #ed1c24;
        }
        &::-moz-placeholder { 
          color: #ed1c24;
        }
        &:-ms-input-placeholder {
          color: #ed1c24;
        }
      }
      .error-text {
        color: #ed1c24;
        position: absolute;
        bottom: -26px;
        left: 0;
      }
    }
  }
  &-checkbox {
    margin: 38px 0;
    position: relative;
    .checkbox {
      position: absolute;
      top: -1px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
        &:checked + span:before {
          opacity: 1;
        }
      }
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          right: 3px;
          bottom: 3px;
          left: 3px;
          background-color: #000;
          opacity: 0;
          transition: 300ms;
        }
      }
      &__text {
        padding-left: 32px;
        cursor: pointer;
      }
    }
  }
}

// Basket delivery

.basket-delivery {
  &__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  &-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: 160px;
      height: 40px;
      border: 1px solid #959595;
      border-radius: 4px;
      padding: 0 16px;
      font: 700 16px 'Qanelas';
      color: #000;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    select {
      width: 190px;
      height: 40px;
      border: 1px solid #959595;
      border-radius: 4px;
      color: #000;
      padding: 0 30px 0 16px;
      font: 700 16px 'Qanelas';
      -webkit-appearance: none;
      background-image: url('../images/basket-select-arrow.png');
      background-position: right center;
      background-repeat: no-repeat;
      line-height: 1em;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
    }
  }
  &-items {
    margin-bottom: 17px;
  }
  &-item {
    position: relative;
    margin-bottom: 12px;
  }
}

// Basket product

.basket-product {
  &-img {
    margin: 0 auto 18px;
  }
  &-info {
    margin: 0 12px 29px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .amount {
      width: 120px;
      height: 40px;
      background-color: #f3f8eb;
      border: 1px solid #959595;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 700 24px 'Qanelas';
        cursor: pointer;
      }
      input {
        width: 40px;
        height: 100%;
        border: none;
        border-left: 1px solid #959595;
        border-right: 1px solid #959595;
        text-align: center;
        font: 700 24px 'Qanelas';
      }
    }
  }
  &__price {
    font-size: 42px;
    font-weight: 700;
  }
  &-items {
    margin-bottom: 44px;
    table tbody tr {
      td {
        height: 36px;
        font-size: 20px;
        &:first-child {
          width: 240px;
        }
        &.bold {
          font-weight: 700;
          font-size: 24px;
        }
      }
    }
  }
  &__head {
    font-size: 24px;
    font-weight: 700;
  }
}

// Payment

.payment {
  position: relative;
  padding: 40px 0 64px;
  &-wrap {
    overflow: hidden;
  }
  .head {
    text-align: left;
    margin-bottom: 34px;
    &:after {
      left: 0;
      transform: translate(0);
    }
  }
  &-items {
    width: 780px;
    position: relative;
    z-index: 10;
  }
  &-item {
    margin-bottom: 27px;
    &__head {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    &__text {
      line-height: 1.6;
    }
  }
  &-info {
    width: 860px;
    position: absolute;
    top: 134px;
    right: -437px;
    z-index: 1;
    &-img {
      margin-bottom: 38px;
    }
    .link {
      margin-left: 122px;
    }
  }
}

// Order success

.order-success {
  width: 780px;
  height: 480px;
  margin: 50px auto;
  padding: 43px 60px 0;
  background: url(../images/zakazOut-bg.png) no-repeat 50%;
  position: relative;
  &-content {
    position: relative;
    z-index: 10;
  }
  &-img {
    position: absolute;
    bottom: -18px;
    right: 10px;
    z-index: 1;
  }
  &__text {
    width: 388px;
    color: #fff;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  .head {
    text-align: left;
    color: $yellow;
    margin: 0 0 34px;
    &:after {
      left: 0;
      transform: translate(0);
      background: url(../images/waveYellow.png) no-repeat 50%;
      background-size: 100%;
      width: 122px;
    }
  }
  .link {
    a {
      color: #fff;
      padding: 0 60px;
    }
  }
}

// Issues

.issues {
  padding: 40px 0 80px;
  .head {
    text-align: left;
    margin: 0 0 32px;
    &:after {
      left: 0;
      transform: translate(0);
    }
  }
  &-content {
    flex-grow: 10;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-items {
    margin-right: 100px;
    width: 100%;
  }
  &-item {
    &:last-child {
      border-bottom: 1px solid #b7b7b7;
    }
    &.active {
      .issues-item {
        &-head {
          padding-bottom: 14px;
          h2 {
            color: #000;
          }
          .image {
            background-position: left;
          }
        }
        &-content {
          display: block;
        }
      }
    }
    &-content {
      display: none;
      padding: 0 80px 16px 30px;
      p {
        line-height: 1.6;
        margin-bottom: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          line-height: 1.6;
        }
      }
    }
    &-head {
      padding: 23px 56px 23px 0;
      border-top: 1px solid #b7b7b7;
      position: relative;
      cursor: pointer;
      transition: 300ms;
      h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        color: $green;
        transition: 300ms;
      }
      .image {
        position: absolute;
        top: 16px;
        right: 14px;
        background: url(../images/issues-img.png) no-repeat right;
        width: 30px;
        height: 30px;
      }
    }
  }
}

// Issues sidebar

.issues-sidebar {
  width: 300px;
  flex-shrink: 0;
  margin-top: -6px;
  &__head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  &__text {
    margin-bottom: 12px;
    font-size: 20px;
  }
  &-tel {
    margin-bottom: 10px;
    a {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      &:hover {
        color: $green;
      }
    }
  }
  &-mail {
    margin-bottom: 100px;
    a {
      font-size: 20px;
      font-weight: 700;
      color: $green;
      border-bottom: 1px solid $green;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Partners

.partners {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &-wrap {
    display: none;
    background: url(../images/partners-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-img {
    position: absolute;
    top: 6px;
    right: -20px;
  }
  &-content {
    margin: 0 80px;
    padding-right: 300px;
    position: relative;
    .head {
      color: $yellow;
      text-align: left;
      padding-bottom: 53px;
      &:after {
        left: 0;
        transform: translate(0);
        background: url(../images/waveYellow.png) no-repeat 50%;
        background-size: cover;
        width: 125px;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 1.5;
      color: #fff;
      margin-bottom: 36px;
      padding-right: 100px;
    }
  }
  &-input {
    width: 320px;
    margin-right: 60px;
    margin-bottom: 41px;
    position: relative;
    &:nth-child(2n) {
      margin-right: 0;
    }
    .error-text {
      position: absolute;
      bottom: -24px;
      left: 0;
      color: $yellow;
    }
    input {
      width: 100%;
      height: 50px;
      color: #fff;
      font: 700 24px 'Qanelas';
      border: none;
      border-bottom: 2px solid #fff;
      background-color: transparent;
      &::-webkit-input-placeholder { 
        color: #fff;
      }
      &:-moz-placeholder { 
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
      &:focus {
        color: $yellow;
        border-bottom: 2px solid $yellow;
      }
    }
  }
}

.fancybox-slide>* {
  width: 100%;
  padding: 0;
  margin: 0;
}

.fancybox-close-small {
  background: url(../images/partners-cancel.png) no-repeat 50%;
  background-size: 100%;
  width: 80px;
  height: 80px;
  top: 10px;
  right: 10px;
  &:after {
    display: none;
  }
  &:focus {
    outline: none;
  }
}

// Partners form

.partners-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &-bottom {
    width: 100%;
    padding-top: 36px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      width: 300px;
      padding: 4px 0 0 38px;
      margin: 0;
      position: relative;
      .checkbox {
        position: absolute;
        top: 4px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 5;
          cursor: pointer;
          &:checked + span:before {
            opacity: 1;
          }
        }
        span {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            right: 3px;
            bottom: 3px;
            left: 3px;
            background-color: #fff;
            opacity: 0;
            transition: 300ms;
          }
        }
        &-text {
          font-size: 14px;
          color: #fff;
          line-height: 1.6;
          cursor: pointer;
          span {
            display: inline;
          }
          a {
            display: inline;
            color: #fff;
            font-size: 14px;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    button {
      width: 320px;
      height: 60px;
      background-color: #ed1c24;
      box-shadow: 7.1px 7.1px 18px 2px rgba(255, 0, 0, 0.6);
      border: none;
      cursor: pointer;
      transition: 300ms;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 30px;
      &:hover {
        background-color: #b91d23;
      }
    }
  }
}

// Product

.product {
  padding: 40px 0 92px;
  .head {
    text-align: left;
    margin-bottom: 30px;
    &:after {
      left: 0;
      transform: translate(0);
    }
  }
  .link {
    margin-bottom: 66px;
  }
  &-wrap {
    overflow: hidden;
  }
  &-img {
    width: 730px;
    position: absolute;
    top: 162px;
    right: 42px;
  }
  &-carousel {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    position: relative;
    .slick {
      &-arrow {
        position: absolute;
        bottom: -125px;
        left: -8px;
        z-index: 10;
        border: none;
        cursor: pointer;
        background: url(../images/left-arrow.png) no-repeat right;
        width: 13px;
        height: 20px;
        text-indent: 9999px;
        &:focus {
          outline: none;
        }
      }
      &-next {
        left: auto;
        right: -40px;
        background: url(../images/right-arrow.png) no-repeat right;
      }
    }
  }
  &-dots {
    width: 100%;
    margin: 0 0 0 14px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      width: 215px;
      margin: 0 10px;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        opacity: .8;
      }
    }
  }
  &-content {
    width: 380px;
    &__text {
      line-height: 1.6;
      margin-bottom: 34px;
    }
    table {
      margin-bottom: 38px;
      tbody tr {
        td {
          font-size: 20px;
          font-weight: 700;
          vertical-align: top;
          padding: 9px 0;
          &:first-child {
            width: 132px;
          }
          &.delivery {
            background-color: $green;
            padding: 8px;
            border-radius: 4px;
            color: #fff;
          }
          p {
            margin-bottom: 5px;
            padding-left: 12px;
          }
        }
      }
    }
  }
  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    .amount {
      width: 120px;
      border: 1px solid #959595;
      border-radius: 4px;
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        width: 40px;
        height: 40px;
        background-color: #f3f8eb;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 700 24px 'Qanelas';
        cursor: pointer;
      }
      input {
        width: 40px;
        height: 40px;
        border: none;
        border-right: 1px solid #959595;
        border-left: 1px solid #959595;
        text-align: center;
        font: 700 24px 'Qanelas';
      }
    }
    &__price {
      font-size: 42px;
      font-weight: 700;
    }
  }
  &-reviews {
    &__head {
      margin-bottom: 6px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 6px;
        a {
          font-size: 20px;
          font-weight: 700;
          color: $green;
          border-bottom: 1px solid $green;
          &:hover {
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
}

// Advantages

.advantages {
  padding: 0 0 20px;
  &-head {
    font-size: 34px;
    font-weight: 700;
    color: $green;
    margin-bottom: 50px;
  }
  &-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    width: 550px;
    margin-bottom: 60px;
    position: relative;
    &-img {
      position: absolute;
      top: 5px;
      left: 0;
    }
    &-content {
      padding-left: 140px;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    &__text {
      line-height: 1.6;
    }
  }
}















