@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px; }
  /* Logo */
  .logo {
    margin-right: 26px; }
  /* Header */
  .header {
    padding: 20px 20px 0 20px; }
  /* Nav */
  .nav ul li {
    margin-right: 0; }
  /* Services */
  .services-items {
    justify-content: center; }
  .services-item {
    margin: 0 10px 20px; }
    .services-item:nth-child(4n) {
      margin: 0 10px 20px; }
  /* Note */
  .note {
    width: 650px; }
  /* About */
  .about-item {
    width: 584px;
    padding: 24px 50px 46px 20px; }
  .about-work__number {
    font-size: 100px; }
  .about-work__text {
    font-size: 22px; }
  /* Footer */
  .footer-logo {
    margin-right: 30px; }
  .footer-content {
    width: 455px; }
  .footer-info {
    width: 420px; }
  /* Team */
  .team {
    padding-bottom: 15px; }
    .team-wrap:after {
      height: 196px; }
    .team-items {
      width: 990px;
      margin: 0 auto; }
      .team-items .slick-arrow {
        left: -50px; }
      .team-items .slick-next {
        left: auto;
        right: -50px; }
  /* Outline */
  .outline-item {
    margin-right: 65px; }
  /* Serve */
  .serve-content {
    width: 860px; }
    .serve-content__head {
      font-size: 40px;
      line-height: 1.1; }
  /* Projects */
  .projects .serve-content {
    width: 990px; }
  /* Draft */
  .draft-item {
    width: 370px;
    margin: 0 30px 30px 0; }
  /* Clients */
  .clients-items {
    width: 894px; }
  /* News */
  .news .office-items {
    margin: 0 0 14px; }
  .news .office-item {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 383px; }
  /* Customers */
  .customers-content {
    width: 530px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px; }
  /* Logo */
  .logo {
    width: 200px;
    margin-right: 14px; }
  /* Header */
  .header_index {
    height: 650px; }
  .header-info-note {
    width: 590px; }
  .header__entry {
    font-weight: 700;
    font-size: 14px; }
  .header-showcase {
    width: 800px;
    margin-top: 100px; }
    .header-showcase h2 {
      font-size: 55px; }
    .header-showcase p {
      font-size: 30px; }
  /* Nav */
  .nav ul li a {
    padding: 0 6px;
    font-weight: 700;
    font-size: 14px; }
  /* About */
  .about-item {
    width: 485px;
    display: block; }
    .about-item-content {
      padding: 20px 0 0 0px; }
      .about-item-content__head {
        margin: 0 0 18px; }
  .about-work {
    padding: 18px 10px 35px; }
    .about-work__text {
      font-size: 20px; }
  .about-values {
    width: 360px; }
  .about-text {
    padding-right: 40px;
    margin-top: 0px; }
    .about-text p {
      line-height: 1.35;
      margin-bottom: 12px; }
  /* Our works */
  .our-works-items {
    width: 600px;
    margin-right: 0; }
  .our-works-item {
    margin-right: 20px; }
  .our-works-info {
    margin-top: 0;
    width: 340px; }
    .our-works-info .head span {
      font-size: 40px; }
  .our-works-content {
    padding-left: 0; }
  /* Main career */
  .main-career {
    margin-right: 0; }
    .main-career:before {
      width: 800px;
      right: -20px; }
    .main-career-wrap {
      overflow: hidden; }
    .main-career-item {
      width: 390px; }
    .main-career__text {
      padding: 0 0 0 40px;
      line-height: 1.3; }
  /* Footer */
  .footer-logo {
    float: none;
    display: block;
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center; }
  .footer-info .lang {
    margin-top: 0; }
  /* Bottom */
  .bottom {
    display: block;
    text-align: center; }
    .bottom-omg {
      margin-top: 10px;
      justify-content: center; }
  /* Team */
  .team-items {
    width: 660px; }
  /* Outline */
  .outline-item {
    margin-right: 20px; }
    .outline-item__text {
      font-size: 14px;
      line-height: 1.3; }
  /* Serve */
  .serve-content {
    width: 666px; }
  /* Contacts */
  .contacts-item {
    width: 260px;
    margin: 0 10px; }
    .contacts-item:first-child {
      width: 330px; }
    .contacts-item b {
      width: 85px; }
  /* Map */
  .map iframe {
    height: 400px; }
  /* Projects */
  .projects__head {
    margin-left: 150px;
    margin-bottom: 18px; }
  .projects .serve-content {
    width: 800px; }
  .projects table tbody tr td {
    line-height: 1.3; }
    .projects table tbody tr td:nth-child(2) {
      padding-right: 0; }
    .projects table tbody tr td:nth-child(3) {
      padding-right: 10px; }
  /* Draft */
  .draft-item {
    width: 303px;
    height: 210px; }
  /* Clients */
  .clients-items {
    width: 597px; }
  /* News */
  .news .office-item {
    width: 316px;
    margin-bottom: 10px; }
    .news .office-item__head {
      line-height: 1.1; }
    .news .office-item__text {
      line-height: 1.3; }
  /* Customers */
  .customers-img {
    width: 510px; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  /* Header */
  .header {
    display: block;
    text-align: center; }
    .header-showcase {
      width: 700px;
      margin-top: 70px;
      padding: 30px 10px 40px; }
      .header-showcase h2 {
        font-size: 48px;
        margin: 0 0 18px; }
      .header-showcase p {
        font-size: 26px; }
  /* Logo */
  .logo {
    margin: 0 auto 30px; }
  /* About */
  .about-items {
    justify-content: center; }
  .about-work {
    margin: 0 24px 0 0; }
    .about-work__number {
      font-size: 90px; }
    .about-work__text {
      font-size: 18px; }
  .about-values {
    width: 260px; }
  /* Our works */
  .our-works {
    display: block; }
    .our-works-info {
      width: auto;
      margin-bottom: 40px; }
      .our-works-info .head {
        margin-left: 0; }
    .our-works-items {
      margin: 0 auto; }
    .our-works__entry {
      margin-bottom: 30px; }
  /* Office */
  .office-item {
    margin: 0 16px 0 0; }
    .office-item__data {
      padding: 0 0 14px; }
    .office-item__head {
      font-size: 18px; }
    .office-item__text {
      line-height: 1.2; }
  /* Main career */
  .main-career {
    display: block;
    padding: 0px 0 12px; }
    .main-career:before {
      display: none; }
    .main-career-head {
      margin-left: 0; }
    .main-career-item {
      margin: 0 auto 40px; }
  /* Main-contacts */
  .main-contacts-head span:before {
    left: -46px; }
  .main-contacts-content {
    width: 380px;
    padding: 56px 25px 0 44px; }
  .main-contacts-item p, .main-contacts-item a {
    line-height: 1.3; }
  /* Footer */
  .footer {
    padding-bottom: 10px; }
    .footer-content {
      float: none;
      width: 555px;
      margin: 0 auto 30px; }
    .footer-info {
      float: none;
      margin: 0 auto;
      width: 555px; }
      .footer-info-link {
        margin-left: 0; }
  /* Outline */
  .outline__head {
    margin-bottom: 50px; }
  .outline-items {
    flex-wrap: wrap;
    justify-content: center; }
  .outline-item {
    margin: 0 20px 40px; }
    .outline-item:nth-child(4n) {
      margin: 0 20px 40px; }
  /* Serve */
  .serve-content {
    width: 450px; }
    .serve-content__head {
      font-size: 36px; }
    .serve-content-wrap {
      padding-right: 0; }
    .serve-content__upper {
      line-height: 1.3;
      margin: 0 0 14px; }
    .serve-content p {
      margin-bottom: 14px;
      line-height: 1.3; }
  .serve-sidebar {
    width: 290px; }
  /* Contacts */
  .contacts-items {
    flex-wrap: wrap; }
  .contacts-item {
    margin-bottom: 20px; }
  /* Map */
  .map iframe {
    height: 300px; }
  /* Projects */
  .projects__head {
    margin-left: 0; }
  .projects .serve {
    margin: 0 0 30px; }
    .projects .serve-sidebar {
      margin: 0 auto 40px;
      float: none;
      width: 240px; }
    .projects .serve-content {
      width: auto;
      float: none; }
  /* Draft */
  .draft-items {
    justify-content: center; }
  .draft-item {
    margin: 0 15px 30px; }
    .draft-item:nth-child(3n) {
      margin: 0 15px 30px; }
  /* Clients */
  .clients__head {
    margin-left: 0; }
  .clients-items {
    width: 535px; }
  .clients-item {
    width: 130px;
    margin: 0 36px; }
  /* News */
  .news .office-items {
    justify-content: center; }
  .news .office-item {
    margin: 0 10px 10px; }
  /* Pagination */
  .pagination {
    padding: 0 0 40px; }
  /* Customers */
  .customers-item {
    margin: 0 0 40px; }
  .customers-content {
    width: 380px;
    padding-left: 60px;
    padding-top: 0;
    padding-right: 10px; }
    .customers-content__text {
      line-height: 1.3;
      margin-bottom: 14px; }
    .customers-content__execs {
      margin-bottom: 6px; }
  .customers-img {
    width: 410px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px; }
  /* Header */
  .header {
    padding-bottom: 20px; }
    .header-info {
      display: block;
      text-align: center; }
      .header-info-item {
        display: block;
        margin-bottom: 10px; }
      .header-info-note {
        display: block;
        width: auto; }
    .header-showcase {
      width: auto;
      margin-top: 45px; }
      .header-showcase h2 {
        font-size: 40px; }
      .header-showcase p {
        font-size: 21px; }
  /* Lang */
  .lang {
    justify-content: center; }
  /* Burger */
  .burger-wrap {
    display: block;
    width: 30px; }
    .burger-wrap a {
      cursor: pointer;
      padding: 12px 0;
      display: block; }
      .burger-wrap a span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #f26529;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger-wrap a span:before, .burger-wrap a span:after {
          position: absolute;
          background: #f26529;
          content: '';
          width: 30px;
          height: 5px;
          left: 0;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border-radius: 7px; }
        .burger-wrap a span::before {
          top: -8px; }
        .burger-wrap a span::after {
          top: 8px; }
      .burger-wrap a.active span {
        background: transparent; }
        .burger-wrap a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger-wrap a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  /* Nav */
  .nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 5;
    display: block;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
    transition: 300ms; }
    .nav ul.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0; }
    .nav ul li a {
      width: 100%; }
  /* Services */
  .services-content {
    padding-top: 12px; }
  /* Note */
  .note {
    width: auto; }
  /* Head */
  .head {
    margin-left: 0; }
    .head span:before {
      display: none; }
  /* Our works */
  .our-works-items {
    width: 543px; }
  /* Office */
  .office-wrap {
    background: #252525; }
  .office-items {
    justify-content: center;
    flex-wrap: wrap; }
  .office-item {
    margin: 0 10px 20px; }
    .office-item:nth-child(3n) {
      margin: 0 10px 20px; }
  /* Main-contacts */
  .main-contacts-wrap {
    overflow: hidden; }
    .main-contacts-wrap iframe {
      height: 300px; }
  .main-contacts-content {
    position: static;
    height: auto;
    padding-bottom: 40px; }
    .main-contacts-content:before {
      right: -1000px; }
  /* Footer */
  .footer-info, .footer-content {
    width: 525px; }
  /* About */
  .about-works {
    display: block; }
  .about-work {
    margin: 0 auto 20px; }
    .about-work:nth-child(3n) {
      margin: 0 auto 20px; }
  .about-content {
    display: block; }
  .about-text {
    padding-right: 0;
    margin-bottom: 30px; }
  .about-values {
    width: auto; }
  /* Team */
  .team__head {
    text-align: center; }
  .team-items {
    width: 360px; }
  /* Outline */
  .outline {
    margin-bottom: 0; }
    .outline__head {
      text-align: center; }
  /* Serve */
  .serve {
    margin: 0 0 50px; }
    .serve-sidebar {
      width: 400px;
      float: none;
      margin: 0 auto 40px; }
    .serve-content {
      float: none;
      margin: 0 auto; }
  /* Clients */
  .clients-items {
    width: 333px; }
  /* Uncos */
  .uncos .office-item {
    margin-left: 0; }
  .uncos .serve-sidebar ul {
    margin-bottom: 50px; }
  /* Customers */
  .customers-item {
    display: block;
    text-align: center; }
  .customers-content {
    text-align: left;
    width: auto;
    margin-bottom: 40px; }
  .customers-img {
    width: auto; } }

@media only screen and (max-width: 575px) {
  /* Header */
  .header_index {
    height: 770px; }
  .header-showcase h2 {
    font-size: 32px; }
  /* Services */
  .services-item {
    padding-top: 12px; }
    .services-item__head {
      font-size: 18px; }
  .services-content .services-item__head {
    line-height: 1.1;
    font-size: 18px; }
  .services-content__text {
    line-height: 1.3; }
  /* Our works */
  .our-works-items {
    width: auto;
    flex-wrap: wrap;
    justify-content: center; }
  .our-works-item {
    margin: 0 5px 20px; }
    .our-works-item:last-child {
      margin: 0 5px 20px; }
  /* Office */
  .office-head span {
    font-size: 40px; }
  /* Main career */
  .main-career-item {
    width: auto; }
  .main-career__text {
    padding: 0 0 0 16px; }
  /* Main-contacts */
  .main-contacts-content {
    width: auto;
    padding: 44px 10px 40px 10px; }
  /* Footer */
  .footer-content {
    width: auto;
    display: block;
    text-align: center; }
    .footer-content ul {
      margin-bottom: 25px; }
  .footer-info {
    display: block;
    width: auto; }
    .footer-info-content {
      display: block;
      text-align: center; }
    .footer-info-contacts {
      padding-left: 0;
      margin: 20px auto; }
  /* About */
  .about-work {
    width: auto; }
  .about-link {
    margin-left: 0; }
  /* Team */
  .team-items {
    width: 290px; }
    .team-items .slick-arrow {
      left: -15px; }
    .team-items .slick-next {
      left: auto;
      right: -15px; }
  /* Serve */
  .serve-sidebar {
    width: auto; }
  .serve-content {
    width: auto; }
    .serve-content__head {
      font-size: 26px; }
    .serve-content__upper {
      font-size: 14px; }
  /* Contacts */
  .contacts-items {
    margin-bottom: 30px; }
  .contacts-item-bloc {
    margin-bottom: 20px; }
  .contacts-item b {
    display: block;
    text-align: center;
    width: auto;
    margin-bottom: 10px; }
  /* Projects */
  .projects table thead {
    display: none; }
  .projects table tbody tr td {
    display: block; }
    .projects table tbody tr td:first-child {
      text-align: center; }
    .projects table tbody tr td:last-child {
      border-bottom: none; }
  /* Clients */
  .clients {
    padding: 50px 0; }
    .clients__head span {
      font-size: 32px;
      margin-bottom: 40px; }
    .clients-items {
      width: 130px; }
    .clients-item {
      width: 130px; }
  /* News */
  .news__head span {
    font-size: 36px; }
  /* Pagination */
  .pagination li {
    padding: 0 8px; }
    .pagination li.pagination__left {
      margin-right: 6px; }
    .pagination li.pagination__right {
      margin-left: 6px; }
  /* Customers */
  .customers-content {
    padding: 0; }
    .customers-content:before {
      display: none; } }

/*# sourceMappingURL=media.css.map */