* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'DINPro', sans-serif; }

a {
  font: 400 16px 'DINPro', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative; }

.head {
  text-align: center;
  margin: 0 0 32px 66px; }
  .head span {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative; }
    .head span:before {
      content: '';
      display: block;
      background: url(../images/head_before.png) no-repeat 50%;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -62px; }

.note {
  width: 770px;
  color: #010101;
  margin: 0 auto 39px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase; }

.link {
  display: flex;
  justify-content: center; }
  .link a {
    display: flex;
    align-items: center; }
    .link a span {
      color: #000;
      font-weight: 900;
      text-transform: uppercase;
      padding-bottom: 6px;
      border-bottom: 3px solid #f26529;
      margin-right: 24px;
      transition: 300ms; }
    .link a i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 17px;
      width: 40px;
      height: 40px;
      background-color: #f26529; }
      .link a i:before {
        transition: 300ms; }
    .link a:hover span {
      border-bottom: 3px solid transparent; }
    .link a:hover i:before {
      transform: translateX(15%); }

.arrow-right {
  width: 50px;
  height: 50px;
  background: #f26529;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  transition: 300ms;
  opacity: 0;
  visibility: hidden; }
  .arrow-right:hover {
    background: #bb4c1d; }

/* Arrow-down */
.arrow-down {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f26529;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100; }
  .arrow-down i {
    font-size: 30px;
    color: #fff;
    transition: 300ms; }
  .arrow-down:hover i {
    transform: translateY(10%); }

/* Burger */
.burger-wrap {
  display: none; }

/* Header */
.header {
  display: flex;
  background: #fff;
  padding: 20px 44px 0 26px; }
  .header_index {
    position: relative;
    height: 820px; }
  .header-content {
    flex-grow: 10; }
  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__entry {
    color: #f26529;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 2px 0 0;
    position: relative; }
    .header__entry:after {
      content: '';
      display: block;
      background: #f26529;
      height: 1px;
      width: 0;
      position: absolute;
      bottom: -2px;
      left: 50%;
      transition: 300ms;
      transform: translateX(-50%); }
    .header__entry:hover:after {
      width: 100%; }

/* Header info */
.header-info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px; }
  .header-info-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 688px; }
  .header-info-item {
    display: flex;
    align-items: center; }
    .header-info-item img {
      margin: 0 10px 0 0; }
    .header-info-item a {
      border-bottom: 1px solid transparent; }
    .header-info-item.mailImg img {
      margin-top: 3px; }
  .header-info__tel {
    color: #000; }
    .header-info__tel:hover {
      border-bottom: 1px solid #000; }
  .header-info__mail {
    color: #f26529; }
    .header-info__mail:hover {
      border-bottom: 1px solid #f26529; }

/* Header showcase */
.header-showcase {
  width: 940px;
  margin: 186px auto 0;
  padding: 50px 0 53px 3px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); }
  .header-showcase h2 {
    color: #fff;
    font-size: 68px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 30px;
    letter-spacing: -1px; }
  .header-showcase p {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px; }
    .header-showcase p:last-child {
      margin-bottom: 0; }

/* Header inner */
.header_inner {
  margin: 0 0 26px; }
  .header_inner .header {
    border-bottom: 1px solid #e1e1e1; }

/* Lang */
.lang {
  display: flex; }
  .lang-item {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #141921;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 4px;
    cursor: pointer;
    transition: 300ms; }
    .lang-item:last-child {
      margin-right: 0; }
    .lang-item.active {
      color: #fff;
      background-color: #f26529; }
    .lang-item:hover {
      color: #fff;
      background-color: #f26529; }

/* Logo */
.logo {
  flex-shrink: 0;
  margin: 8px 56px 0 0; }

/* Nav */
.nav ul {
  display: flex; }
  .nav ul li {
    margin-right: 8px; }
    .nav ul li:last-child {
      margin-right: 0; }
    .nav ul li a {
      line-height: 50px;
      padding: 0 12px;
      font-weight: 900;
      text-transform: uppercase;
      color: #000; }
      .nav ul li a.active {
        background: #f26529;
        color: #fff; }
      .nav ul li a:hover {
        background: #f26529;
        color: #fff; }
    .nav ul li.active a {
      background: #f26529;
      color: #fff; }

/* Bread */
.bread {
  text-align: center;
  margin: 0 0 20px; }
  .bread ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 8px; }
    .bread ul li:last-child {
      margin-right: 0; }
    .bread ul li a {
      color: #f26529;
      border-bottom: 1px solid transparent;
      margin-right: 8px; }
      .bread ul li a:hover {
        border-bottom: 1px solid #f26529; }
    .bread ul li i {
      font-size: 14px; }

/* Services */
.services {
  padding: 80px 0 0;
  margin: 0 0 38px; }
  .services-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 12px; }
  .services-item {
    width: 300px;
    height: 220px;
    background-color: #f1f2f2;
    padding: 23px 12px 0 20px;
    margin: 0 20px 20px 0;
    position: relative; }
    .services-item:nth-child(4n) {
      margin-right: 0; }
    .services-item__head {
      font-size: 20px;
      font-weight: 900;
      margin: 0 0 13px;
      text-transform: uppercase;
      line-height: 1.35; }
    .services-item__img {
      position: absolute;
      bottom: 20px;
      left: 20px; }
    .services-item:hover .services-content {
      opacity: 1;
      visibility: visible; }

/* Services inner */
.services_inner .services {
  padding-top: 0;
  margin: 0 0 59px; }
  .services_inner .services__head {
    margin-bottom: 50px; }

/* Services content */
.services-content {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  background: #f26529;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 22px 12px 0 20px; }
  .services-content .services-item__head {
    color: #fff; }
  .services-content__text {
    color: #fff;
    line-height: 1.6; }
  .services-content__link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #fff; }
    .services-content__link:hover {
      background: rgba(37, 37, 37, 0.8); }

/* Main about */
.main-about {
  padding: 50px 0 20px;
  margin: 0 0 80px; }
  .main-about-wrap {
    background: url(../images/main-about-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .main-about__head {
    margin-left: 58px; }
  .main-about__note {
    margin-bottom: 25px; }

/* About */
.about__head {
  margin-bottom: 49px; }

.about__note {
  width: 890px;
  margin-bottom: 47px; }

.about-link {
  margin-left: 77px; }

/* About item */
.about-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.about-item {
  width: 620px;
  padding: 32px 30px 35px 43px;
  margin: 0 0 13px;
  transition: 300ms;
  position: relative;
  display: flex; }
  .about-item:hover {
    background: #fff;
    color: #f26529; }
    .about-item:hover .about-item-link {
      opacity: 1;
      visibility: visible; }
  .about-item__img {
    width: 75px;
    flex-shrink: 0; }
  .about-item-content {
    flex-grow: 10;
    padding: 0 0 0 42px; }
    .about-item-content__head {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0 0 33px; }
    .about-item-content__text {
      line-height: 1.6; }
  .about-item-link {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0; }

/* About works */
.about-works {
  display: flex;
  padding: 46px 0 65px; }

.about-work {
  width: 380px;
  background-color: #f1f2f2;
  margin: 0 60px 0 0;
  padding: 18px 34px 35px;
  text-align: center; }
  .about-work:nth-child(3n) {
    margin-right: 0; }
  .about-work__number {
    color: #f26529;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 13px; }
  .about-work__text {
    color: #0d1b25;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase; }

/* About content */
.about-content {
  display: flex;
  margin-bottom: 68px; }

.about-text {
  padding-right: 100px;
  margin-top: -3px; }
  .about-text p {
    line-height: 1.65;
    margin-bottom: 25px; }
    .about-text p:last-child {
      margin-bottom: 0; }

.about-values {
  width: 460px;
  flex-shrink: 0; }
  .about-values__head {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .about-values p {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f26529;
    line-height: 1.65; }

/* Our works */
.our-works {
  padding: 0 0 56px;
  display: flex;
  justify-content: space-between; }
  .our-works-info {
    width: 380px;
    margin-top: -7px; }
    .our-works-info .head {
      margin-left: 45px;
      margin-bottom: 30px; }
      .our-works-info .head span:before {
        left: -58px; }
  .our-works-content {
    padding: 0 0 0 60px; }
  .our-works__entry {
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 64px; }
  .our-works-link {
    justify-content: flex-start; }
  .our-works__img {
    position: relative;
    margin: 0 0 30px;
    font-size: 0; }
    .our-works__img .arrow-right {
      position: absolute;
      bottom: 0;
      right: 0; }
  .our-works__data {
    color: #808285;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 15px; }
  .our-works__text {
    line-height: 1.6;
    text-transform: uppercase;
    transition: 300ms;
    color: #000; }

/* Our works item */
.our-works-items {
  width: 760px;
  margin-right: 20px;
  display: flex; }

.our-works-item {
  width: 360px;
  margin-right: 40px; }
  .our-works-item:last-child {
    margin-right: 0; }
  .our-works-item:hover {
    color: #f26529; }
    .our-works-item:hover .arrow-right {
      opacity: 1;
      visibility: visible; }
    .our-works-item:hover .our-works__text {
      color: #f26529; }

/* Office */
.office {
  padding: 55px 0 45px; }
  .office-head {
    margin-bottom: 49px; }
    .office-head span {
      color: #fff; }
  .office-wrap {
    background: url(../images/office-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .office-items {
    display: flex;
    align-items: flex-start;
    margin: 0 0 23px; }
  .office-link a span {
    color: #fff; }

/* Office item */
.office-item {
  width: 400px;
  margin: 0 40px 0 0;
  padding: 26px 5px 28px 10px;
  border: 1px solid transparent;
  transition: 300ms; }
  .office-item:nth-child(3n) {
    margin-right: 0; }
  .office-item__data {
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 30px;
    transition: 300ms;
    letter-spacing: 1.5px; }
  .office-item__head {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    padding: 0 0 12px;
    line-height: 1.3; }
    .office-item__head:hover {
      color: #f26529; }
  .office-item__text {
    line-height: 1.65;
    color: #fff; }
  .office-item:hover {
    border: 1px solid #fff; }
    .office-item:hover .office-item__data {
      color: #f26529; }

/* Main career */
.main-career {
  display: flex;
  justify-content: space-between;
  margin: 0 83px 0 0;
  padding: 36px 0 30px;
  position: relative;
  z-index: 5; }
  .main-career:before {
    content: '';
    display: block;
    background: url(../images/main-career-before.jpg) no-repeat right;
    width: 1100px;
    height: 160px;
    position: absolute;
    top: 0;
    right: -83px;
    z-index: -1; }
  .main-career-head {
    margin-top: 6px;
    margin-left: 58px; }
    .main-career-head span:before {
      left: -57px; }
  .main-career-wrap {
    padding: 60px 0 73px; }
  .main-career-item {
    width: 510px;
    display: flex;
    align-items: center;
    margin-left: 22px; }
  .main-career-img {
    width: 74px;
    height: 91px;
    flex-shrink: 0; }
  .main-career__text {
    padding: 0 0 0 55px;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase; }
  .main-career-link {
    align-self: center; }
    .main-career-link a span {
      margin-top: 7px; }

/* Main contacts */
.main-contacts-wrap {
  font-size: 0; }
  .main-contacts-wrap iframe {
    border: none;
    height: 520px;
    width: 100%; }

.main-contacts-head {
  margin-left: 0;
  margin-bottom: 32px;
  text-align: left; }
  .main-contacts-head span:before {
    background: url(../images/head_before2.png) no-repeat 50%; }

.main-contacts__text {
  text-transform: uppercase;
  color: #fff;
  line-height: 1.6;
  margin: 0 0 55px;
  font-size: 16px; }

.main-contacts-content {
  width: 480px;
  height: 520px;
  background: url(../images/main-contacts-bg.jpg) no-repeat 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 62px 55px 0 60px;
  z-index: 5; }
  .main-contacts-content:before {
    content: '';
    display: block;
    background: url(../images/main-contacts-bg.jpg) no-repeat 50%;
    width: 2000px;
    height: 520px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; }

.main-contacts-item {
  display: flex;
  align-items: flex-start; }
  .main-contacts-item:first-child {
    margin-bottom: 27px; }
  .main-contacts-item:last-child {
    margin-top: 28px; }
  .main-contacts-item b {
    width: 100px;
    flex-shrink: 0;
    color: #fff;
    margin-top: 3px;
    font-size: 16px; }
  .main-contacts-item p, .main-contacts-item a {
    color: #fff;
    line-height: 1.6;
    font-size: 16px; }
  .main-contacts-item a:hover {
    text-decoration: underline; }

/* Footer */
.footer {
  padding: 48px 0 32px; }
  .footer-wrap {
    background: #000; }
  .footer-logo {
    float: left;
    margin-right: 82px; }

/* Footer content */
.footer-content {
  float: left;
  width: 486px;
  display: flex;
  justify-content: space-between; }
  .footer-content ul.node {
    margin: 31px 0 0; }
  .footer-content ul li {
    margin: 0 0 10px; }
    .footer-content ul li:last-child {
      margin-bottom: 0; }
    .footer-content ul li a {
      color: #fff;
      font-size: 14px; }
      .footer-content ul li a:hover {
        text-decoration: underline; }
    .footer-content ul li.footer-content__head {
      color: #fff;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0 0 15px; }

/* Footer info */
.footer-info {
  float: right;
  width: 445px; }
  .footer-info-content {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px; }
  .footer-info-link {
    text-align: center;
    margin-left: 80px; }
    .footer-info-link a {
      letter-spacing: 1px; }
  .footer-info-links li {
    margin: 0 0 22px; }
    .footer-info-links li:last-child {
      margin-bottom: 0; }
    .footer-info-links li a {
      color: #fff;
      font-weight: 900;
      text-transform: uppercase;
      border-bottom: 1px solid transparent; }
      .footer-info-links li a:hover {
        border-bottom: 1px solid #fff; }
  .footer-info .lang {
    margin-top: -8px; }
    .footer-info .lang-item {
      width: 40px;
      height: 40px;
      color: #fff;
      margin-right: 0; }

/* Footer info contacts */
.footer-info-contacts {
  width: 195px;
  padding-left: 15px; }
  .footer-info-contacts h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 16px; }
  .footer-info-contacts p {
    font-size: 14px;
    color: #fff;
    margin: 0 0 9px; }
  .footer-info-contacts a:hover {
    text-decoration: underline; }
  .footer-info-contacts__tel {
    color: #fff;
    font-size: 14px;
    margin: 0 0 10px; }
  .footer-info-contacts__mail {
    font-size: 14px;
    color: #f26529; }

/* Bottom */
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 20px; }
  .bottom__text {
    color: #979797;
    font-size: 14px; }
  .bottom__link {
    color: #979797;
    font-size: 14px;
    margin: 0 0 0 3px; }
    .bottom__link:hover {
      text-decoration: underline; }
  .bottom-omg {
    display: flex; }

/* Team */
.team {
  padding: 44px 0 46px;
  margin: 0 0 50px;
  border-bottom: 1px solid #ccc; }
  .team__head {
    text-align: left;
    margin-bottom: 46px;
    margin-left: 60px; }
  .team-wrap {
    background: url(../images/frame-bg.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    z-index: 5; }
    .team-wrap:after {
      content: '';
      display: block;
      background: #fff;
      height: 229px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1; }

/* Team item */
.team-item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding: 30px 0;
  margin: 0 6px;
  font-size: 0;
  transition: 300ms; }
  .team-item:hover {
    background: #f26529; }
    .team-item:hover .team-item__link {
      opacity: 1;
      visibility: visible; }
    .team-item:hover .team-item__head,
    .team-item:hover .team-item__text {
      color: #fff; }
  .team-item-img {
    height: 350px;
    text-align: center; }
    .team-item-img img {
      height: 100%;
      margin: 0 auto; }
  .team-item-content {
    padding-top: 21px;
    text-align: center; }
  .team-item__head {
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    margin: 0 0 17px;
    font-size: 16px;
    transition: 300ms; }
  .team-item__text {
    margin-bottom: 31px;
    font-size: 16px;
    transition: 300ms; }
  .team-item__link {
    text-decoration: underline;
    color: #000;
    opacity: 0;
    visibility: hidden; }

/* Team items slick */
.team-items {
  position: relative; }
  .team-items .slick-arrow {
    border: none;
    cursor: pointer;
    z-index: 5;
    transition: 300ms;
    width: 50px;
    height: 50px;
    background: #f26529;
    position: absolute;
    top: 170px;
    left: -40px; }
    .team-items .slick-arrow i {
      font-size: 17px;
      color: #fff; }
    .team-items .slick-arrow:hover {
      background: #bb4c1d; }
  .team-items .slick-next {
    left: auto;
    right: -40px; }

/* Outline */
.outline__head {
  text-align: left;
  margin-left: 60px;
  margin-bottom: 77px; }

/* Outline item */
.outline {
  margin-bottom: 32px; }
  .outline-items {
    display: flex; }
  .outline-item {
    position: relative;
    width: 240px;
    margin-right: 79px; }
    .outline-item:nth-child(4n) {
      margin-right: 0; }
    .outline-item .arrow-right {
      position: absolute;
      top: 15px;
      right: 17px;
      opacity: 1;
      visibility: visible;
      background-color: #e1e1e1; }
    .outline-item-img {
      margin-bottom: 18px; }
    .outline-item__text {
      font-weight: 900;
      line-height: 1.6;
      text-transform: uppercase; }

/* Serve */
.serve {
  margin: 0 0 83px; }
  .serve-content {
    width: 900px;
    float: left; }
    .serve-content-wrap {
      padding-right: 50px; }
    .serve-content__head {
      color: #010101;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.35;
      margin: -7px 0 18px; }
    .serve-content__upper {
      text-transform: uppercase;
      line-height: 1.65;
      margin: 0 0 28px; }
    .serve-content p {
      margin-bottom: 25px;
      line-height: 1.65; }
  .serve-link {
    padding-top: 23px;
    margin-left: 20px; }
    .serve-link a:hover i:before {
      transform: translateX(-15%); }

/* Serve sidebar */
.serve-sidebar {
  width: 300px;
  float: right;
  background: url(../images/serve-sidebar-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding: 2px 20px 18px;
  margin-top: 6px; }
  .serve-sidebar li {
    padding: 14px 0 14px 7px;
    border-bottom: 1px solid #959595; }
    .serve-sidebar li:last-child {
      border: none; }
    .serve-sidebar li a {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      line-height: 1.4;
      position: relative;
      margin-left: 15px; }
      .serve-sidebar li a:hover {
        color: #f26529; }
        .serve-sidebar li a:hover .serve-sidebar li i {
          color: #f26529; }
      .serve-sidebar li a i {
        font-size: 17px;
        position: absolute;
        top: 5px;
        left: -21px; }

/* Contacts */
.contacts__head {
  margin-bottom: 49px; }

.contacts__note {
  width: 850px; }

.contacts-items {
  display: flex;
  justify-content: center;
  margin-bottom: 57px; }

/* Contacts item */
.contacts-item {
  width: 330px;
  margin: 0 22px;
  text-align: center; }
  .contacts-item-img {
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px; }
    .contacts-item-img img {
      display: inline-block;
      vertical-align: middle;
      line-height: 80px; }
  .contacts-item b {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    color: #010101;
    font-weight: 700;
    text-align: left; }
  .contacts-item__text {
    width: 225px;
    display: inline-block;
    vertical-align: top;
    color: #010101;
    line-height: 1.6; }
  .contacts-item__tel, .contacts-item__mail {
    color: #010101; }
    .contacts-item__tel:hover, .contacts-item__mail:hover {
      text-decoration: underline; }
  .contacts-item-bloc {
    margin-bottom: 10px; }

/* Map */
.map {
  font-size: 0; }
  .map iframe {
    border: none;
    width: 100%;
    height: 520px; }

/* Projects */
.projects__head {
  margin-left: 253px;
  margin-bottom: 36px; }

.projects .serve-sidebar {
  width: 140px;
  margin-top: 8px; }

.projects .serve-content {
  width: 1070px; }

/* Projects table */
.projects table {
  border-collapse: collapse; }
  .projects table thead tr td {
    font-weight: 700;
    height: 50px;
    border-bottom: 1px solid #d7d7d7; }
    .projects table thead tr td:first-child {
      width: 223px; }
    .projects table thead tr td:nth-child(2) {
      width: 305px; }
    .projects table thead tr td:nth-child(3) {
      width: 262px; }
    .projects table thead tr td:last-child {
      width: 220px; }
  .projects table tbody tr td {
    vertical-align: top;
    padding: 14px 0 16px;
    border-bottom: 1px solid #d7d7d7;
    line-height: 1.6; }
    .projects table tbody tr td:nth-child(2) {
      padding-right: 55px; }
    .projects table tbody tr td:nth-child(3) {
      padding-right: 64px; }

.projects .serve {
  position: relative;
  margin: 0 0 62px; }
  .projects .serve:before {
    content: '';
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0; }

/* Draft */
.draft__note {
  margin-bottom: 60px;
  width: 960px; }

.draft-items {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px; }

.draft-item {
  width: 380px;
  height: 240px;
  background-color: #ebebeb;
  margin: 0 60px 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 300ms;
  padding-bottom: 8px; }
  .draft-item:nth-child(3n) {
    margin-right: 0; }
  .draft-item:hover {
    background: #f26529;
    color: #fff; }
    .draft-item:hover .services-content__link {
      opacity: 1;
      visibility: visible; }
  .draft-item__year, .draft-item__amount {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase; }
  .draft-item__year {
    margin-bottom: 14px; }
  .draft-item .services-content__link {
    opacity: 0;
    visibility: hidden; }

/* Clients */
.clients {
  padding: 67px 0 70px; }
  .clients-wrap {
    background: url(../images/main-about-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .clients__head {
    margin-bottom: 66px; }
  .clients-items {
    width: 1100px;
    margin: 0 auto;
    position: relative; }
    .clients-items .slick-arrow {
      border: none;
      cursor: pointer;
      z-index: 5;
      transition: 300ms;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: -80px;
      width: 40px;
      height: 40px;
      background-color: #959595; }
      .clients-items .slick-arrow i {
        color: #fff;
        font-size: 17px; }
      .clients-items .slick-arrow:hover {
        background: #f26529; }
    .clients-items .slick-next {
      left: auto;
      right: -80px; }

/* Clients item */
.clients-item {
  display: inline-block;
  vertical-align: middle;
  line-height: 70px;
  margin: 0 42px; }
  .clients-item img {
    display: inline-block;
    vertical-align: middle;
    line-height: 70px; }

/* News */
.news__head {
  margin-bottom: 34px; }

.news .office-items {
  flex-wrap: wrap;
  margin: 0 0 40px; }

.news .office-item {
  margin-right: 30px;
  margin-bottom: 9px; }
  .news .office-item:nth-child(3n) {
    margin-right: 0; }
  .news .office-item__data {
    color: #bcbec0; }
  .news .office-item__head, .news .office-item__text {
    color: #000;
    transition: 300ms; }
  .news .office-item:hover {
    border: 1px solid #e1e1e1; }
    .news .office-item:hover .office-item__head,
    .news .office-item:hover .office-item__text {
      color: #f26529; }

/* Pagination */
.pagination {
  font-size: 0;
  text-align: center;
  padding: 0 0 80px; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 11px;
    position: relative; }
    .pagination li:after {
      content: '';
      display: block;
      width: 1px;
      height: 14px;
      background: #939598;
      position: absolute;
      top: 2px;
      right: 0; }
    .pagination li.active a {
      color: #010101; }
    .pagination li:nth-last-child(2):after {
      display: none; }
    .pagination li a {
      text-transform: uppercase;
      color: #f26529;
      font-weight: 900; }
      .pagination li a:hover {
        color: #010101; }
    .pagination li.pagination__left, .pagination li.pagination__right {
      margin: 0 12px 0 0;
      padding: 0; }
      .pagination li.pagination__left:after, .pagination li.pagination__right:after {
        display: none; }
      .pagination li.pagination__left a, .pagination li.pagination__right a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #e1e1e1; }
        .pagination li.pagination__left a:hover, .pagination li.pagination__right a:hover {
          background: #f26529; }
      .pagination li.pagination__left i, .pagination li.pagination__right i {
        color: #fff;
        transition: 300ms; }
    .pagination li.pagination__right {
      margin: 0 0 0 16px; }

/* Uncos */
.uncos__head {
  margin-left: 0;
  margin-bottom: 12px; }
  .uncos__head span {
    font-size: 24px; }
    .uncos__head span:before {
      width: 25px;
      height: 20px;
      left: -44px;
      background: url(../images/head_before3.png) no-repeat 50%; }

.uncos .serve {
  margin-bottom: 20px; }
  .uncos .serve-sidebar {
    background: none;
    padding: 0; }
    .uncos .serve-sidebar ul {
      background: url(../images/serve-sidebar-bg.jpg) no-repeat 50%;
      background-size: cover;
      padding: 2px 20px 0;
      margin-bottom: 74px; }
    .uncos .serve-sidebar .office-item__data {
      margin-bottom: 30px; }

/* Uncos office */
.uncos .office-items {
  flex-direction: column; }

.uncos .office-item {
  width: auto;
  margin-right: 0; }
  .uncos .office-item:hover {
    border: 1px solid #e1e1e1; }
    .uncos .office-item:hover .office-item__head,
    .uncos .office-item:hover .office-item__text {
      color: #f26529; }
  .uncos .office-item__data {
    color: #bcbec0;
    margin-bottom: 43px;
    padding-bottom: 0; }
  .uncos .office-item__head, .uncos .office-item__text {
    color: #000; }

/* Customers */
.customers__head {
  margin-bottom: 50px; }

.customers__note {
  width: 890px;
  margin-bottom: 57px; }

.customers-item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 70px; }

.customers_clients {
  margin-bottom: 70px; }

/* Customers content */
.customers-content {
  width: 560px;
  padding: 7px 0 0 80px;
  position: relative; }
  .customers-content:before {
    content: '';
    display: block;
    background: url(../images/customers-arrow.png) no-repeat 50%;
    width: 47px;
    height: 44px;
    position: absolute;
    top: 10px;
    left: 0; }
  .customers-content__text {
    line-height: 1.6;
    margin-bottom: 34px; }
  .customers-content__execs {
    font-weight: 700;
    margin-bottom: 10px; }

/* Customers img */
.customers-img {
  align-self: flex-start;
  width: 620px;
  position: relative; }
  .customers-img:before {
    content: '';
    display: block;
    background: rgba(242, 101, 41, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 29px solid #f26529;
    border-left: 33px solid #f26529;
    border-right: 35px solid #f26529;
    transition: 300ms;
    opacity: 0;
    visibility: hidden; }
  .customers-img:after {
    content: '';
    display: block;
    background: url(../images/zoom.png) no-repeat 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -40px;
    transition: 300ms;
    opacity: 0;
    visibility: hidden; }
  .customers-img:hover:before, .customers-img:hover:after {
    opacity: 1;
    visibility: visible; }

/*# sourceMappingURL=style.css.map */