$red: #ed1c24;
$blue: #0078ff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 300 16px 'Gilroy', sans-serif;
  padding-top: 120px;
  position: relative;
}

a {
  font: 300 16px 'Gilroy', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.page-error {
  padding-top: 0;
}

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

.container_large {
  width: 1580px;
  margin: 0 auto;
  position: relative;
}

.head {
  color: $red;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
  letter-spacing: 4px;
}

/* Header */

.header {
  padding: 35px 0 32px;
  position: relative;
  z-index: 20;
  &-wrap {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  &-info {
    float: right;
    position: relative;
    &__room {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 30px;
    }
    .lang {
      display: inline-block;
      vertical-align: bottom;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 50px;
    }
    &-content {
      display: inline-block;
      vertical-align: top;
      a {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 6px;
        &:hover {
          color: $red;
        }
      }
      p {
        color: #fff;
      }
    }
  }
  &-search {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 103px;
    width: 16px;
    height: 16px;
    position: relative;
    button {
      width: 100%;
      height: 100%;
      background: url(../images/header-info-img1.png) no-repeat 50%;
      border: none;
      cursor: pointer;
      transition: 300ms;
    }
    input {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      margin-top: 2px;
      font: 300 16px/30px 'Gilroy';
      background: rgba(0, 0, 0, .5);
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      padding: 0 5px;
      &::-webkit-input-placeholder { 
        color: #fff;
      }
      &:-moz-placeholder { 
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
    }
    &.active {
      input {
        display: block;
      }
    }
  }
}

.logo {
  float: left;
  margin-right: 124px;
  position: relative;
  z-index: 20;
}

.nav {
  float: left;
  padding: 30px 0 0 0;
  &-sub {
    width: 230px;
    position: absolute;
    top: 100%;
    padding: 20px 0 20px 10px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 300ms;
    background: #000;
    &__list {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: 700;
        color: #fff;
        &:hover {
          color: $red;
        }
      }
    }
  }
  &__list {
    display: inline-block;
    vertical-align: top;
    margin-right: 48px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &:hover > a {
      color: $red;
    }
    > a {
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      &:hover {
        color: $red;
      }
    }
    &:hover .nav-sub {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
  }
}

/* Showcase */

.showcase {
  height: 842px;
  
  background-size: cover;
  background-position: 50%;
  padding: 238px 0 0;
  &-wrapper {
    position: relative;
  }
  &-wrap {
    position: relative;
    .slick {
      &-dots {
        position: absolute;
        top: 32%;
        right: 15%;
        li {
          margin: 0 auto 22px;
          width: 12px;
          height: 12px;
          background-color: #dde2e5;
          border-radius: 50%;
          cursor: pointer;
          &:last-child {
            margin-bottom: 0;
          }
          &.slick-active {
            width: 18px;
            height: 18px;
            background-color: #0078ff;
          }
        }
        button {
          display: none;
        }
      }
    }
  }
  &-item {
    width: 720px;
    margin-left: 196px;
    h2 {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 14px;
      color: #fff;
    }
    p {
      font-size: 24px;
      line-height: 1.5;
      color: #fff;
    }
  }
}

/* Shopfront */

.shopfront {
  &-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  &-items {
    display: flex;
    position: relative;
    .slick {
      &-arrow {
        border: none;
        z-index: 5;
        cursor: pointer;
        transition: 300ms;
        width: 28px;
        height: 28px;
        background: #fff;
        border-radius: 50%;
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        margin-top: -14px;
        left: -70px;
        i {
          background: transparent;
        }
        &:hover {
          background: #0078ff;
        }
      }
      &-next {
        left: auto;
        right: -70px;
      }
    }
  }
  &-item {
    width: 321px;
    height: 340px;
    padding: 70px 10px 0 36px;
    position: relative;
    transition: 300ms;
    &:hover {
      .hover {
        opacity: 1;
        visibility: visible;
      }
    }
    &__number {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      padding-bottom: 22px;
      margin-bottom: 26px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      line-height: 1.5;
    }
  }
}

/* Shopfront hover */

.shopfront {
  .hover {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ed1c24;
    padding: 36px 10px 0 36px;
    &__number {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      padding-bottom: 18px;
    }
    &-img {
      width: 88px;
      height: 87px;
      margin-bottom: 18px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: -80px;
      }
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      padding-bottom: 20px;
      line-height: 1.5;
    }
    &__link {
      line-height: 40px;
      border: 1px solid #fff;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      padding: 0 16px 0 18px;
      &:hover {
        color: #ed1c24;
        background: #fff;
      }
    }
  } 
}

/* Main-news */

.main-news {
  padding: 65px 0 53px;
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }
  &-item {
    width: 380px;
    p {
      line-height: 1.6;
    }
  }
  &-data {
    position: relative;
    margin-bottom: 14px;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      padding-left: 26px;
      font-weight: 700;
      color: $blue;
    }
  }
  &__head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.3;
    color: #000;
    &:hover {
      color: $blue;
    }
  }
  &__link {
    a {
      font-weight: 700;
      color: #fff;
      line-height: 40px;
      background: $blue;
      padding: 0 20px;
      border-radius: 20px;
      &:hover {
        background: #0769d8;
      }
    }
  }
}

/* Recourse */

.recourse {
  padding: 66px 0 40px;
  margin-bottom: 85px;
  position: relative;
  &-wrap {
    background-color: #ecf1f4;
  }
  &-content {
    width: 620px;
    position: relative;
    padding-left: 60px;
    &__quotes {
      position: absolute;
      top: -22px;
      left: 0;
      z-index: 1;
    }
    p {
      font-size: 20px;
      margin-bottom: 33px;
      padding-right: 40px;
      line-height: 1.6;
      font-style: italic;
      position: relative;
      z-index: 5;
    }
    span {
      font-weight: 700;
      line-height: 1.6;
      display: block;
      margin-bottom: 68px;
    }
    &__singnature {
      display: inline-block;
      font-family: 'Pushkin';
      font-size: 42px;
      font-weight: 400;
      transform: rotate(-21deg);
      position: absolute;
      bottom: 100px;
      right: 15px;
    }
    a {
      color: $blue;
      line-height: 40px;
      border: 1px solid $blue;
      font-weight: 700;
      padding: 0 30px;
      margin-left: 20px;
      border-radius: 20px;
      &:hover {
        color: #fff;
        background: $blue;
      }
    }
  }
  &-img {
    position: absolute;
    top: 40px;
    right: -160px;
  }
}

/* Feature */

.feature {
  padding-bottom: 60px;
  &-head {
    margin-bottom: 45px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      left: -83px;
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/shopfront-arrows1.png) no-repeat left;
      width: 28px;
      height: 28px;
    }
    .slick-next  {
      background: url(../images/shopfront-arrows2.png) no-repeat left;
      left: auto;
      right: -78px;
    }
    //
    .slick-dots {
      position: absolute;
      bottom: -37px;
      left: 50%;
      margin-left: -52px;
    }
    .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      width: 12px;
      height: 12px;
      background-color: #dde2e5;
      border-radius: 50%;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
    .slick-dots .slick-active {
      width: 18px;
      height: 18px;
      background-color: #0078ff;
    }
    .slick-dots button {
      display: none;
    }
  }
  &-item {
    width: 380px;
    margin: 0 20px;
    &__img {
      display: inline-block;
      vertical-align: middle;
      height: 140px;
      line-height: 140px;
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      margin: 13px 0 6px;
      &:hover {
        color: $blue;
      }
    }
    &-content {
      p {
        line-height: 1.6;
      }
    }
  }
}

/* Main-about */

.main-about {
  padding: 62px 0 40px;
  &-wrap {
    background: url(../images/main-about.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-head {
    text-align: center;
    margin-bottom: 30px;
  }
  &-text {
    width: 940px;
    margin: 0 auto 36px;
    line-height: 1.65;
    color: #fff;
    text-align: center;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin: 0 17px 40px 82px;
  }
  &-item {
    width: 345px;
    position: relative;
  }
  &__number {
    display: inline-block;
    vertical-align: top;
    color: $red;
    font-size: 98px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
  }
  &__text {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
    margin-top: 15px;
    width: 165px;
  }
  &__link {
    text-align: center;
    a {
      font-weight: 700;
      color: #fff;
      padding: 0 24px;
      border: 1px solid #fff;
      line-height: 40px;
      border-radius: 20px;
      &:hover {
        background: $blue;
        border: 1px solid $blue;
      }
    }
  }
}

/* Clients */

.partners {
  .feature {
    padding-top: 120px;
    position: relative;
  }
  .feature-item {
    width: 210px;
    height: 210px;
    border: 1px solid #dedede;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature-head {
    margin-bottom: 36px;
  }
  &-info {
    position: absolute;
    top: 55px;
    right: 0;
    width: 542px;
    p {
      display: inline-block;
      vertical-align: bottom;
      color: $red;
      font-size: 98px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 16px;
    }
    span {
      display: inline-block;
      vertical-align: bottom;
      width: 345px;
      font-size: 24px;
      text-transform: uppercase;
      line-height: 1.4;
      margin-bottom: 5px;
    }
  }
  &-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 55px;
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      left: -82px;
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/shopfront-arrows1.png) no-repeat left;
      width: 28px;
      height: 28px;
    }
    .slick-next  {
      background: url(../images/shopfront-arrows2.png) no-repeat left;
      left: auto;
      right: -77px;
    }
    //
    .slick-dots {
      position: absolute;
      bottom: -61px;
      left: 50%;
      margin-left: -52px;
    }
    .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      width: 12px;
      height: 12px;
      background-color: #dde2e5;
      border-radius: 50%;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
    .slick-dots .slick-active {
      width: 18px;
      height: 18px;
      background-color: #0078ff;
    }
    .slick-dots button {
      display: none;
    }
  }
}

/* Invite */

.invite {
  padding: 65px 0 66px;
  position: relative;
  z-index: 5;
  &-wrap {
    background: url(../images/invite-bg2.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 83px;
  }
  &-head {
    margin-bottom: 75px;
    text-align: center;
    color: #fff;
  }
  &-content {
    float: left;
    width: 480px;
    &__head {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 27px;
    }
    p {
      line-height: 1.6;
      color: #fff;
    }
  }
  &-items {
    float: right;
    width: 595px;
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 150px;
    text-align: center;
    a {
      font-weight: 700;
      line-height: 1.6;
      color: #fff;
      margin: 16px 0 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #fff;
    }
  }
}

/* Map */

.map {
  position: relative;
  &-info {
    position: absolute;
    top: -10px;
    right: 0;
    span {
      margin-right: 20px;
    }
    select {
      width: 260px;
      height: 40px;
      padding: 0 44px 0 14px;
      border: 1px solid $blue;
      border-radius: 20px;
      font-family: 'Gilroy';
      font-size: 16px;
      font-weight: 300;
     -webkit-appearance: none;
      background-image: url('../images/select-arrow.png');
      background-position: 96% center;
      background-repeat: no-repeat;
      line-height: 1em;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
    }
  }
  &-head {
    margin-bottom: 28px;
  }
  &-content {
    height: 680px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

/* Callback */

.callback {
  &-wrap {
    overflow: hidden;
  }
  &-bond {
    float: left;
    background: $red;
    width: 477px;
    padding: 75px 0 62px;
    position: relative;
    z-index: 5;
    &:before {
      content: '';
      display: block;
      background: $red;
      width: 1000px;
      height: 100%;
      position: absolute;
      right: 99%;
      top: 0;
      z-index: -1;
    }
    &-nav {
      margin-bottom: 30px;
      &__item {
        display: inline-block;
        vertical-align: top;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          border-bottom: 1px solid #fff;
        }
      }
    }
    &-content {
      display: none;
      &.active {
        display: block;
      }
      &__tel {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #fff;
      }
      p {
        color: #fff;
      }
      &__mail {
        margin: 20px 0;
        color: #fff;
        text-decoration: underline;
      }
      &__link {
        a {
          font-weight: 700;
          color: #fff;
          background: $blue;
          line-height: 40px;
          padding: 0 25px;
          border-radius: 20px;
          margin-top: 40px;
          &:hover {
            background: #0769d8;
          }
        }
      }
    }
    &-head {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 28px;
      color: #fff;
    }
  }
  &-items {
    float: right;
    width: 700px;
    padding: 75px 0 60px;
    &__head {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 44px;
    }
  }
  &-item {
    font-size: 0;
    &-input {
      display: inline-block;
      vertical-align: top;
      width: 220px;
      margin: 0 20px 35px 0;
      &:nth-child(3) {
        margin-right: 0;
      }
      input {
        width: 100%;
        font-family: 'Gilroy';
        font-size: 16px;
        font-weight: 300;
        padding: 0 0 10px 0;
        border: none;
        border-bottom: 1px solid #959595;
        color: $red;
        &::-webkit-input-placeholder { 
          color: #000;
        }
        &:-moz-placeholder { 
          color: #000;
        }
        &::-moz-placeholder { 
          color: #000;
        }
        &:-ms-input-placeholder {
          color: #000;
        }
        &:focus {
          border-bottom: 1px solid $red;
        }
      }
    }
    textarea {
      width: 100%;
      height: 30px;
      resize: none;
      border: none;
      border-bottom: 1px solid #959595;
      font-family: 'Gilroy';
      font-size: 16px;
      font-weight: 300;
      margin: 0 0 55px 0;
      color: $red;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
      &:focus {
        border-bottom: 1px solid $red;
      }
    }
    button {
      font: 700 16px/40px 'Gilroy';
      background: $blue;
      color: #fff;
      padding: 0 24px;
      border: none;
      cursor: pointer;
      border-radius: 20px;
      transition: 300ms;
      &:hover {
        background: #0769d8;
      }
    }
  }
}

/* Footer */

.footer {
  padding: 52px 0 32px;
  &-wrap {
    background: #000;
    border-bottom: 1px solid #252525;
  }
  &-info {
    float: left;
    width: 250px;
    &__logo {
      margin-bottom: 44px;
    }
    p {
      line-height: 1.6;
      color: #fff;
      margin-bottom: 14px;
    }
    &-item {
      margin-bottom: 22px;
      span {
        color: #fff;
      }
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__soc {
      padding-top: 18px;
      a {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
  &-content {
    float: right;
    width: 940px;
    display: flex;
    justify-content: space-between;
    padding: 9px 15px 0 0;
    ul {
      width: 190px;
      &:first-child {
        width: 235px;
      }
    }
    li {
      &:first-child a {
        color: #fff;
        font-weight: 700;
        margin-bottom: 10px;
      }
      a {
        color: #fff;
        margin-bottom: 7px;
        line-height: 1.6;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__link {
      a {
        font-weight: 700;
        margin-top: 32px;
      }
    }
  }
}

/* Bottom */

.bottom {
  padding: 20px 0;
  &-wrap {
    background: #252525;
  }
  &-text {
    float: left;
    font-size: 14px;
    color: #868686;
  }
  &-content {
    float: right;
    font-size: 14px;
    color: #868686;
    a {
      font-size: 14px;
      color: #868686;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Bread */

.bread {
  padding: 20px 0 30px;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/bread-img.png) no-repeat 50%;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: -24px;
    }
    &:last-child:after {
      display: none;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Product */

.product {
  padding: 44px 0;
  margin: 0 0 66px;
  &-wrap {
    background-color: #ecf1f4;
  }
  &-head {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #020202;
    text-align: center;
  }
  &-text {
    width: 904px;
    line-height: 1.6;
    text-align: center;
    color: #020202;
    margin: 0 auto 36px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 29px;
  }
  &-item {
    width: 620px;
    margin-bottom: 20px;
    display: flex;
    background: #fff;
    &-img {
      &:hover {
        opacity: .8;
      }
    }
    &-content {
      width: 320px;
      padding: 20px 15px 20px 20px;
      &__head {
        color: #020202;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
        &:hover {
          color: $blue;
        }
      }
      p {
        line-height: 1.6;
        margin-bottom: 20px;
      }
      &__link {
        font-weight: 700;
        background: $blue;
        color: #fff;
        line-height: 40px;
        padding: 0 24px;
        border-radius: 20px;
        &:hover {
          background: #0769d8;
        }
      }
    }
  }
  &-link {
    text-align: center;
    a {
      font-weight: 700;
      background: $blue;
      color: #fff;
      line-height: 40px;
      padding: 0 35px;
      border-radius: 20px;
      &:hover {
        background: #0769d8;
      }
    }
  }
  &-class {
    padding: 0 0 20px 0;
    &-nav {
      margin: 0 0 32px 160px;
      li {
        display: inline-block;
        vertical-align: top;
        margin-right: 38px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: $red;
        border-bottom: 1px solid $red;
        letter-spacing: 4px;
        cursor: pointer;
        &:hover {
          color: #000;
          border-bottom: 1px solid transparent;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: #000;
          border-bottom: 1px solid transparent;
        }
      }
    }
    &-items {
      
      display: flex;
      display: none;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      text-align: center;
      &.active {
        display: flex;
      }
    }
    &-item {
      vertical-align: top;
      width: 200px;
      height: 200px;
      margin: 0 20px 15px;
      text-align: center;
      padding: 25px 5px 2px;
      transition: 300ms;
      &__img {
        display: inline-block;
        vertical-align: middle;
        height: 106px;
        line-height: 106px;
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
      p {
        font-size: 20px;
        font-weight: 700;
        color: $blue;
        line-height: 1.6;
        transition: 300ms;
      }
//      &:hover {
//        background: $blue;
//        p {
//          color: #fff;
//        }
//      }
    }
  }
}

/* Products */

.products {
  display: flex;
  justify-content: space-between;
  padding: 0 0 23px;
  &-img {
    width: 620px;
    font-size: 0;
    &-big {
      margin-bottom: 22px;
    }
    &-small {
      display: flex;
      justify-content: space-between;
    }
  }
  &-content {
    width: 600px;
  }
  &-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  &-nav {
    margin-bottom: 17px;
    &__link {
      color: $red;
      margin-right: 7px;
      text-decoration: underline;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-text {
    margin-bottom: 12px;
    line-height: 1.6;
  }
  &-info {
    padding: 18px 0 16px 0;
    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 3px;
    }
    p {
      line-height: 1.6;
      margin-bottom: 2px;
    }
    &-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 71px;
      &:last-child {
        margin-right: 0;
      }
      p {
        display: inline-block;
        vertical-align: top;
        &:first-child {
          width: 212px;
        }
      }
    }
  }
  &-items {
    display: flex;
    margin-bottom: 5px;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #ecf1f4;
    width: 290px;
    padding: 18px 40px 18px 18px;
    &:last-child {
      margin-right: 0;
    }
    span {
      font-weight: 700;
      line-height: 1.6;
      margin-left: 18px;
    }
  }
  &-link {
    margin-top: 10px;
    &:last-child {
      margin-top: 0;
    }
    a {
      font-weight: 700;
      text-decoration: underline;
      color: $red;
      margin-bottom: 18px;
    }
  }
  &-slider {
    padding: 50px 0;
    margin: 0 0 60px;
    .product-item {
      margin: 0 10px 0;
      display: flex;
    }
    &-wrap {
      background-color: #ecf1f4;
    }
    &__head {
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 36px;
    }
    &-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-right: 5px;
      position: relative;
      .slick-prev,
      .slick-next {
        position: absolute;
        top: 50%;
        margin-top: -14px;
        left: -83px;
        border: none;
        cursor: pointer;
        z-index: 5;
        background: url(../images/shopfront-arrows1.png) no-repeat left;
        width: 28px;
        height: 28px;
      }
      .slick-next  {
        background: url(../images/shopfront-arrows2.png) no-repeat left;
        left: auto;
        right: -78px;
      }
    }
  }
}

/* News */

.news {
  position: relative;
  .product-class-nav li {
    border-bottom: none;
  }
  .product-class-nav li a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    color: $red;
  }
  .product-class-nav li.active a {
    color: #000;
    text-decoration: none;
  }
  .product-class-nav li a:hover {
    text-decoration: none;
    color: #000;
  }
  &-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 34px;
  }
  &-nav {
    position: absolute;
    top: 16px;
    right: 0;
    li {
      margin-right: 32px;
    }
    li a {
      letter-spacing: 2px;
    }
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  &-item {
    width: 380px;
    background-color: #ecf1f4;
    margin-bottom: 52px;
    margin-right: 60px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-img {
      &:hover {
        opacity: .8;
      }
    }
    &-content {
      position: relative;
      padding: 22px 15px 30px 18px;
      border-top: 1px solid #fff;
      p {
        line-height: 1.6;
        font-size: 16px;
      }
      &__head {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
      }
    }
    &-data {
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
      span {
        font-size: 16px;
        font-weight: 700;
        color: $blue;
        padding-left: 27px;
      }
    }
    &__link {
      font-weight: 700;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
    &__head {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.3;
      margin: 11px 0;
      color: #000;
      &:hover {
        color: $blue;
      }
    }
  }
}

/* Pagination */

.pagination {
  text-align: center;
  margin-bottom: 45px;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    width: 25px;
    height: 25px;
    position: relative;
    font-weight: 700;
    color: $blue;
    &.active {
     a {
        background: $red;
        color: #fff;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:after {
      content: '/';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: -12px;
      color: $blue;
      font-size: 16px;
    }
    &:first-child:after,
    &:last-child:after,
    &:nth-last-child(2):after {
      display: none;
    }
    a {
      width: 100%;
      line-height: 25px;
      border-radius: 50%;
      font-weight: 700;
      color: $blue;
      &:hover {
        background: $red;
        color: #fff;
      }
    }
  }
  .pagination-arrow a {
    height: 25px;
  }
  .pagination-arrow a:hover {
    background: none;
  }
  .pagination-arrow:first-child {
    margin-right: 55px;
  }
  .pagination-arrow:last-child {
    margin-left: 55px;
  }
}

/* Subscribe */

.subscribe {
  padding: 34px 0 40px;
  margin: 0 80px;
  &-wrap {
    background: $red;
  }
  &-content {
    float: left;
    width: 585px;
    display: flex;
    align-items: center;
    p {
      width: 477px;
      margin-left: 38px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      line-height: 1.3;
      margin-top: 9px;
    }
  }
  &-info {
    float: right;
    width: 400px;
    margin-top: 23px;
  }
  &-input {
    width: 300px;
    &-wrap {
      position: relative;
      button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        cursor: pointer;
        background: $blue;
        font: 700 16px/40px 'Gilroy';
        padding: 0 22px;
        border-radius: 20px;
        color: #fff;
        transition: 300ms;
        &:hover {
          background: #0769d8;
        }
      }
    }
    input {
      width: 100%;
      border: none;
      border-radius: 20px;
      padding: 0 55px 0 20px;
      font: 300 16px/40px 'Gilroy';
      color: #020202;
      &::-webkit-input-placeholder { 
        color: #020202;
      }
      &:-moz-placeholder { 
        color: #020202;
      }
      &::-moz-placeholder { 
        color: #020202;
      }
      &:-ms-input-placeholder {
        color: #020202;
      }
    }
  }
}

/* Uncos */

.uncos {
  padding-bottom: 70px;
  &-content {
    width: 860px;
    float: left;
    &__head {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    .news-item__link {
      position: static;
    }
    .news-item-data {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 18px;
      margin-right: 28px;
    }
    h3 {
      margin: 25px 0 30px;
      font-size: 20px;
      font-weight: 700;
      color: #000;
      line-height: 1.3;
    }
    p {
      line-height: 1.6;
      margin-bottom: 32px;
    }
    &-link {
      font-weight: 700;
      color: #fff;
      background: $blue;
      line-height: 40px;
      border-radius: 20px;
      padding: 0 24px;
      &:hover {
        background: #0769d8;
      }
    }
  }
  &-sidebar {
    margin-top: 16px;
    width: 350px;
    float: right;
    &__head {
      color: $red;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 50px;
      letter-spacing: 4px;
    }
    .news-item-content {
      padding: 0;
      background: #fff;
      margin-bottom: 64px;
      position: relative;
    }
    .news-item-content:last-child {
      margin-bottom: 0;
    }
  }
}

/* Certificate */

.certificate {
  &-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
  }
  &-text {
    width: 940px;
    margin: 0 auto 44px;
    text-align: center;
    line-height: 1.6;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    width: 380px;
    height: 490px;
    padding: 28px 35px 0 26px;
    background-color: #ecf1f4;
    margin: 0 0 49px;
    position: relative;
    cursor: pointer;
    &-img {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ecf1f4;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 300ms;
      &__plus {
        position: absolute;
        top: 50%;
        margin-top: -35px;
        left: 50%;
        margin-left: -35px;
      }
    }
    &-doc {
      display: inline-block;
      vertical-align: top;
      span {
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
        font-weight: 700;
        color: $blue;
        margin-left: 10px;
      }
    }
    &__head {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      margin: 11px 0 12px;
      line-height: 1.3;
      &:hover {
        color: #ccc;
      }
    }
    p {
      line-height: 1.6;
    }
    &:hover .certificate-item-img {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* Contacts */

.contacts {
  padding: 0 0 63px;
  &-map {
    .map-content {
      height: 555px;
    }
  }
  &-callback {
    background: $red;
    .callback-items {
      float: none;
      width: 940px;
      margin: 0 auto;
    }
    .callback-items__head {
      color: #fff;
    }
    .callback-items p {
      color: #fff;
    }
    .callback-item-input {
      width: 300px;
    }
    .callback-item-input input,
    .callback-item textarea {
      background: transparent;
      border-bottom: 1px solid #fff;
      color: #fff;
      &::-webkit-input-placeholder { 
        color: #fff;
      }
      &:-moz-placeholder { 
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
    }
    .contacts-callback-button {
      text-align: center;
    }
  }
  &-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 47px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 46px;
  }
  &-item {
    width: 250px;
    position: relative;
    &:first-child {
      width: 565px;
    }
    &-content {
      padding-left: 58px;
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
    }
    li {
      p {
        margin-bottom: 7px;
        line-height: 1.3;
      }
    }
    &__head {
      font-size: 20px;
      margin-bottom: 11px;
      font-weight: 700;
    }
    &-text {
      line-height: 1.6;
      margin-bottom: 16px;
    }
    b {
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    &-tel {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      &:hover {
        color: $blue;
      }
    }
    &-mail {
      color: $blue;
      &:hover {
        text-decoration: underline; 
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    ul {
      width: 296px;
    }
    &__head {
      font-size: 20px;
      margin-bottom: 23px;
      font-weight: 700;
    }
    &-info {
      margin-bottom: 10px;
    }
    &__tel {
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Dealer */

.dealer {
  .product-class-nav li {
    border-bottom: none;
  }
  .product-class-nav li a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    color: $red;
  }
  .product-class-nav li.active a {
    color: #000;
    text-decoration: none;
  }
  .product-class-nav li a:hover {
    text-decoration: none;
    color: #000;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &-content {
    width: 900px;
    .news-head {
      display: inline-block;
      vertical-align: top;
      margin-right: 80px;
      margin-bottom: 22px;
    }
    .product-class-nav {
      margin: 0;
      display: inline-block;
      vertical-align: top;
      margin-top: 18px;
    }
    .product-class-nav li a {
      letter-spacing: 2px;
    }
    p {
      line-height: 1.6;
    }
  }
  &-info {
    width: 300px;
    background: $blue;
    color: #fff;
    text-align: center;
    padding-top: 28px;
    margin-top: 2px;
    a {
      margin: 10px 0 10px;
      color: #fff;
      font-size: 26px;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  table {
    margin-bottom: 60px;
    border-collapse: collapse;
    thead {
      tr {
        th {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          height: 64px;
          text-align: left;
          border-bottom: 1px solid #ccc;
          &:first-child {
            width: 230px;
          }
          &:nth-child(2) {
            width: 490px;
          }
          &:nth-child(3) {
            width: 240px;
          }
          &:nth-child(4) {
            width: 240px;
          }
          &:last-child {
            width: 60px;
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border-spacing: 2px;
          height: 62px;
          border-bottom: 1px solid #ccc;
          &:last-child {
            text-align: center;
          }
        }
      }
    }
  }
  &__city {
    color: $red;
    font-size: 16px;
    font-weight: 700;
    span {
      text-transform: uppercase;
    }
  }
  &__tel {
    font-weight: 700;
    color: #000;
    line-height: 1.4;
    &:hover {
      color: $blue;
    }
  }
  &__mail {
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* About */

.about {
  padding-bottom: 27px;
  h2, h3 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 29px;
    text-align: center;
  }
  h3 {
    margin: 55px 0 26px;
  }
  b {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.45;
    width: 935px;
    margin: 34px auto 24px;
  }
  p {
    width: 935px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 36px;
  }
  &-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

/* Cabinet */

.cabinet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  &_head {
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
  &-content {
    width: 835px;
    .news-head {
      margin-bottom: 16px;
    }
  }
  &-sidebar {
    width: 380px;
    background-color: #ecf1f4;
    padding: 30px 15px 27px 27px;
    b {
      display: inline-block;
      margin-bottom: 14px;
    }
    &__head {
      font-weight: 700;
      margin-bottom: 25px;
      font-size: 16px;
    }
    &-logo {
      margin-bottom: 35px;
    }
    &-item {
      margin-bottom: 8px;
      b {
        width: 140px;
      }
    }
    &-buy {
      margin: 23px 0 37px;
      b {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 8px;
      }
      span {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-status {
      margin-bottom: 34px;
      b {
        margin-bottom: 10px;
      }
      &__item {
        p {
          display: inline-block;
          margin-bottom: 10px;
          margin-right: 23px;
        }
        a {
          text-decoration: underline;
          color: $red;
          &:hover {
            text-decoration: none;
          }
        }
      }
      span {
        font-size: 14px;
        line-height: 1.6;
      }
      &__link {
        color: $red;
        font-size: 14px;
        text-decoration: underline;
        margin-top: 4px;
      }
    }
    &-activity {
      &__item {
        margin-bottom: 8px;
        p {
          display: inline-block;
          width: 176px;
        }
        a {
          &.active {
            color: $red;
            text-decoration: underline;
          }
          &:hover {
            color: $red;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &-nav {
    border: 1px solid $blue;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 0;
    overflow: hidden;
    li {
      display: inline-block;
      vertical-align: top;
      a {
        font: 700 16px/50px 'Gilroy';
        color: $blue;
        text-decoration: underline;
        padding: 0 18px;
        &:hover {
          color: #fff;
          background: $blue;
          text-decoration: none;
        }
      }
      &.active {
        a {
          color: #fff;
          background: $blue;
          text-decoration: none;
        }
      }
    }
  }
  &-items {
    display: none;
    &.active {
      display: block;
    }
  }
  &-item {
    padding: 0 0 22px 0;
    margin: 0 0 22px 0;
    border-bottom: 1px solid #9cadbd;
    position: relative;
    &:last-child {
      border: none;
    }
    &_adress {
      padding-bottom: 16px;
    }
    &__head {
      color: $red;
      font-weight: 700;
      margin-bottom: 12px;
      font-size: 20px;
    }
    &-contact {
      display: inline-block;
      vertical-align: top;
      margin-right: 4px;
      margin-bottom: 38px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-weight: 700;
        color: #000;
        &:hover {
          color: $blue;
        }
      }
    }
    &__link {
      a {
        text-decoration: underline;
        color: $blue;
        margin-bottom: 9px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &_link {
      margin-top: 18px;
    }
    &-link {
      position: absolute;
      top: 3px;
      left: 215px;
      color: $blue;
      text-decoration: underline;
    }
    &-info {
      margin-bottom: 9px;
      &-wrap {
        margin: 37px 0 20px;
      }
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-form {
    margin-top: 17px;
    &-check {
      margin-bottom: 19px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 10px;
      a {
        color: $blue;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .checkbox {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #9cadbd;
      width: 16px;
      height: 16px;
      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
        &:checked + span:before {
          opacity: 1;
        }
      }
      span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background: $blue;
          opacity: 0;
          transition: 300ms;
        }
      }
    }
  }
}

/* Error */

.error {
  &-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding-top: 120px;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: 700;
    color: $red;
  }
  p {
    margin-bottom: 10px;
  }
  &-link {
    margin-top: 60px;
    a {
      line-height: 40px;
      border: 1px solid $blue;
      color: $blue;
      border-radius: 20px;
      padding: 0 25px;
      font-weight: 700;
      &:hover {
        color: #fff;
        background: $blue;
      }
    }
  }
  &-bottom {
    width: 1260px;
    margin: 0 auto;
    background: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &-search {
    float: left;
    position: relative;
    width: 780px;
    padding-left: 40px;
    margin-top: 20px;
    img {
      position: absolute;
      top: 8px;
      left: 0;
    }
    input {
      width: 600px;
      border: none;
      border-bottom: 1px solid #fff;
      background: none;
      margin-right: 26px;
      color: #fff;
      font: 700 16px 'Gilroy';
      &::-webkit-input-placeholder { 
        color: #fff;
      }
      &:-moz-placeholder { 
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
    }
    button {
      cursor: pointer;
      border: none;
      background: none;
      color: $red;
      font: 700 16px 'Gilroy';
      text-transform: uppercase;
      padding-top: 7px;
      letter-spacing: 1px;
    }
  }
}

/* Register */

.register {
  width: 620px;
  margin: 0 auto 86px;
  &__head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  &-input {
    margin-bottom: 25px;
    &:nth-last-child(2) {
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      font: 700 16px/50px 'Gilroy';
      padding: 0 26px;
      border: none;
      background: #ecf1f4;
      color: $blue;
      border: 1px solid transparent;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
      &:focus {
        border: 1px solid $blue;
        background: transparent;
      }
    }
    &__text {
      float: left;
      width: 380px !important;
      margin-right: 20px;
    }
    &__code {
      float: left;
      width: 140px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      border: 1px solid #ecf1f4;
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__update {
      float: right;
      width: 60px;
      height: 50px;
      background: #ecf1f4 url(../images/register-input__update.png) no-repeat 50%;
      cursor: pointer;
      border: none;
    }
  }
  &-info {
    &-check {
      display: inline-block;
      vertical-align: top;
      width: 330px;
      margin-right: 50px;
      position: relative;
      padding-left: 26px;
      .checkbox {
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        border: 1px solid #9cadbd;
        position: absolute;
        top: 0;
        left: 0;
        input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 5;
          cursor: pointer;
          &:checked + span:before {
            opacity: 1;
          }
        }
        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            background: $blue;
            opacity: 0;
            transition: 300ms;
          }
        }
      }
      label {
        cursor: pointer;
        font: 300 14px/1.3 'Gilroy';
      }
    }
  }
  &__check-in {
    float: right;
    font: 700 16px/50px 'Gilroy';
    color: #fff;
    background: $blue;
    padding: 0 37px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background: #0466d5;
    }
  }
}

/* Entry */

.entry {
  .register-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .register-info-check {
    width: auto;
    margin-right: 0;
  }
  .register__check-in {
    padding: 0 90px;
  }
  &__link {
    text-decoration: underline;
    color: $blue;
    font-size: 16px;
  }
  &-link {
    text-align: center;
    margin-top: 25px;
  }
}

// Search

.search {
  width: 960px;
  margin: 0 auto 24px;
  &-head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 27px;
  }
  &-form {
    display: flex;
    margin-bottom: 40px;
    input {
      width: 620px;
      height: 50px;
      border: 1px solid #0078ff;
      padding: 0 12px;
      margin-right: 23px;
      color: #0078ff;
      font: 700 16px 'Gilroy';
      color: #0078ff;
      &::-webkit-input-placeholder { 
        color: #0078ff;
      }
      &:-moz-placeholder { 
        color: #0078ff;
      }
      &::-moz-placeholder { 
        color: #0078ff;
      }
      &:-ms-input-placeholder {
        color: #0078ff;
      }
    }
    button {
      width: 220px;
      height: 50px;
      background-color: #0078ff;
      border: none;
      cursor: pointer;
      transition: 300ms;
      border-radius: 30px;
      font: 700 16px 'Gilroy';
      color: #fff;
      &:hover {
        background-color: #004ca2;
      }
    }
  }
  &-found {
    color: #ed1c24;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &-item {
    border-top: 1px solid #9cadbd;
    padding: 11px 0;
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #000;
      .conformity {
        color: #0078ff;
        font-size: 24px;
        font-weight: 700;
      }
    }
    &-text {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.65;
      .conformity {
        color: #0078ff;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}




