* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Light.woff2") format("woff2"), url("../fonts/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'Fira Sans', sans-serif;
  color: #5e5c5c;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.btn {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7e7e7e;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
}

.btn:hover {
  border-color: #dc2222;
  color: #dc2222;
}

.title {
  font-size: 34px;
  font-weight: 40;
  position: relative;
}

.title:after {
  content: '';
  display: block;
  height: 3px;
  background-color: #c0c8d2;
  width: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title span {
  padding-right: 26px;
  background: #ffffff;
  position: relative;
  z-index: 3;
}

/* Header */
.header {
  padding: 45px 0 55px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  flex-grow: 10;
  margin-left: 24px;
  flex-shrink: 0;
}

.header__line {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__line-text {
  font-size: 15px;
  font-weight: 300;
  margin-right: 35px;
}

.header__social {
  display: flex;
  justify-content: flex-end;
}

.header__social ul {
  display: flex;
}

.header__social ul li {
  margin-right: 17px;
}

.header__social ul li:last-child {
  margin-right: 0;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: -364px;
}

.header__nav li {
  font-size: 23px;
  color: #006998;
}

.header__nav li:after {
  content: '|';
  display: inline-block;
  margin: 0 10px;
}

.header__nav li:last-child:after {
  display: none;
}

.header__nav li a {
  text-decoration: none;
}

.header__nav li a:hover {
  color: #dc2222;
}

.header__search-button {
  cursor: pointer;
}

/* Nav */
.nav {
  background: #5f5f5f;
  border-top: 4px solid #dc2222;
}

.nav__inner {
  padding: 10px 0;
  display: table;
  width: 100%;
}

.nav__inner li {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  position: relative;
  display: table-cell;
  min-width: 100px;
}

.nav__inner li:after {
  content: '|';
  display: block;
  position: absolute;
  right: -3px;
  top: 1px;
}

.nav__inner li:last-child:after {
  display: none;
}

.nav__inner li a {
  text-decoration: none;
}

.nav__inner li a:hover {
  color: #dc2222;
}

/* Showcase */
.showcase {
  background: #e9ecf0;
  padding: 30px 0 112px;
}

.showcase__item {
  display: flex !important;
}

.showcase__content {
  padding: 17px 20px;
  flex-grow: 1;
}

.showcase__main {
  width: 68%;
  margin-right: 2%;
}

.showcase__group {
  flex-shrink: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.showcase__group .showcase__elem:first-child {
  margin-bottom: 20px;
}

.showcase__header {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.showcase__date {
  color: #c50101;
  margin-right: 10px;
}

.showcase__tag {
  color: #9e9e9e;
}

.showcase__link {
  color: #5e5c5c;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 8px;
}

.showcase__link span {
  font-weight: bold;
  color: #000000;
}

.showcase__text {
  color: #010101;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.1;
}

.showcase__elem {
  background-color: white;
  border: 1px solid #c0c8d2;
  display: flex;
  flex-direction: column;
}

.showcase .slick-arrow {
  position: absolute;
  font-size: 0;
  width: 70px;
  height: 70px;
  background: #dc2222 url(../images/arrow.png) no-repeat 50%;
  border: none;
  right: 70px;
  bottom: -92px;
  cursor: pointer;
  z-index: 3;
  transition: 100ms;
}

.showcase .slick-arrow:hover {
  background-position: 46% 50%;
}

.showcase .slick-arrow.slick-next {
  transform: rotate(180deg);
  background-color: #c0c8d2;
  right: 0;
}

.showcase .slick-dots {
  position: absolute;
  left: 0;
  bottom: -62px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase .slick-dots:last-child {
  margin-right: 0;
}

.showcase .slick-dots li {
  width: 12px;
  height: 12px;
  border: 2px solid #898989;
  position: relative;
  border-radius: 50%;
  margin-right: 24px;
  transition: 300ms;
  cursor: pointer;
}

.showcase .slick-dots li:hover {
  border-color: #dc2222;
}

.showcase .slick-dots li:before {
  content: '';
  display: block;
  position: absolute;
  right: -6px;
  left: -6px;
  top: -6px;
  bottom: -6px;
  border-radius: 50%;
  border: 2px solid #dc2222;
  opacity: 0;
  transition: 300ms;
}

.showcase .slick-dots li.slick-active {
  border-color: #dc2222;
  background: #dc2222;
}

.showcase .slick-dots li.slick-active:before {
  opacity: 1;
}

.showcase .slick-dots li button {
  display: none;
}

@media only screen and (max-width: 767px) {
  .showcase__group {
    display: none;
  }
  .showcase__main {
    width: 100%;
    margin-right: 0;
  }
  .showcase .slick-arrow {
    display: none;
  }
}

/* Banner */
.banner {
  margin-bottom: 40px;
}

/* News */
.news {
  margin-bottom: 55px;
  padding-top: 30px;
}

.news--with-img .news__items {
  margin-left: -20px;
  width: calc(100% + 20px);
}

.news--with-img .news__item {
  border: 1px solid #c0c8d2;
  margin-left: 20px;
  width: calc(25% - 20px);
  padding-right: 0;
}

.news--with-img .news__item.news__item--large {
  width: calc(50% - 20px);
}

.news__title {
  margin-bottom: 40px;
}

.news__img img {
  width: 100%;
}

.news__items {
  display: flex;
  flex-wrap: wrap;
}

.news__item {
  width: 25%;
  margin-bottom: 40px;
  padding-right: 15px;
}

.news__item.news__item--large {
  width: 50%;
}

.news__item.news__item--banner {
  display: flex;
}

.news__item.news__item--banner img {
  -o-object-fit: cover;
  object-fit: cover;
}

.news__date {
  font-size: 14px;
  color: #dc2222;
  margin-bottom: 27px;
}

.news__head {
  display: block;
  text-decoration: none;
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 25px;
}

.news__head:hover {
  color: #dc2222;
}

.news__head:hover span {
  color: #dc2222;
}

.news__head span {
  color: black;
  font-weight: 700;
  transition: 300ms;
}

.news__text {
  font-size: 18px;
  font-weight: 300;
}

.news__more {
  display: flex;
  justify-content: center;
}

.news__content {
  padding: 15px 25px;
}

.news__share {
  display: none;
}

/* Footer */
.footer {
  background: #282828;
  padding: 30px 0 80px;
  color: #ffffff;
}

.footer__social {
  display: flex;
  align-items: center;
  margin-left: 160px;
}

.footer__social li {
  margin-right: 17px;
}

.footer__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
}

.footer__nav {
  display: flex;
  align-items: center;
  margin-left: 34px;
  margin-left: 77px;
}

.footer__nav li {
  margin-right: 42px;
  position: relative;
}

.footer__nav li:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: -24px;
  width: 2px;
  background: #ffffff;
}

.footer__nav li:last-child {
  margin-right: 0;
}

.footer__nav li:last-child:after {
  display: none;
}

.footer__nav li a {
  font-size: 28px;
  font-weight: 400;
  opacity: 0.36;
  text-decoration: none;
}

.footer__nav li a:hover {
  opacity: 1;
}

.footer__items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 70px;
}

.footer__item {
  margin-right: 80px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.footer__item div {
  line-height: 1.5;
}

.footer__item-title {
  font-weight: 700;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__info {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  max-width: 838px;
  margin: 0 auto;
}

.footer__info div {
  line-height: 20px;
  min-height: 20px;
}

@media only screen and (max-width: 1300px) {
  .footer__social {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .footer__nav li a {
    font-size: 18px;
  }
}

/* Main */
.main {
  margin-bottom: 55px;
}

.main__inner {
  display: flex;
}

.main__sidebar {
  width: 340px;
  margin-right: 60px;
  flex-shrink: 0;
}

.main__sidebar-content {
  background: #e9ecf0;
  padding: 50px 23px 25px;
}

.main__sidebar-banner {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.main__sidebar .news__item {
  width: 100%;
  padding-right: 0;
}

.main__sidebar-title {
  margin-bottom: 20px;
}

.main__sidebar-title span {
  background: #e9ecf0;
}

.main__more {
  display: flex;
  justify-content: center;
}

.main__img {
  margin-bottom: 22px;
}

.main__title {
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 25px;
}

.main__title span {
  display: block;
  color: #006998;
  font-size: 84px;
  font-weight: 700;
  line-height: 0.8;
}

.main__content {
  flex-grow: 10;
  padding-top: 40px;
}

.main__content .news__text {
  line-height: 1.1;
}

/* Mobile search */
.mobile-search {
  align-items: center;
  background: #5f5f5f;
  padding: 5px 15px;
  display: none;
}

.mobile-search input {
  flex-grow: 10;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  padding: 0 10px;
  font-size: 18px;
  color: #ffffff;
}

.mobile-search button {
  flex-shrink: 0;
  margin-left: 10px;
  cursor: pointer;
  transition: 300ms;
  border: none;
  background: none;
}

@media only screen and (max-width: 767px) {
  .mobile-search {
    display: flex;
  }
}

/* Burger */
.burger {
  display: none;
  width: 30px;
  margin-left: 12px;
  flex-shrink: 0;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a span {
  position: relative;
  display: block;
  width: 30px;
  height: 4px;
  background: #000;
  transition: all .2s ease-in-out;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 30px;
  height: 4px;
  position: absolute;
  left: 0;
  background: #000;
  transition: all .2s ease-in-out;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  transform: rotate(-45deg) translate(5px, -6px);
}

@media only screen and (max-width: 991px) {
  .burger {
    display: block;
  }
}

/* Header mobile */
.header__mobile {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 300ms;
  background: #ffffff;
  padding: 15px;
  display: none;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

.header__mobile.active {
  opacity: 1;
  visibility: visible;
}

.header__mobile-menu {
  width: 100%;
}

.header__mobile-menu li {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}

.header__mobile-menu li a {
  line-height: 50px;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

.header__mobile-social {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.header__mobile-social li {
  margin: 0 5px;
}

@media only screen and (max-width: 991px) {
  .header__mobile {
    display: block;
  }
}

/* Respovsive */
@media only screen and (max-width: 1336px) {
  .header {
    position: relative;
  }
  .header__logo {
    width: 500px;
  }
  .header__nav {
    margin-left: -400px;
  }
  .header__nav li {
    font-size: 16px;
  }
  .news__head {
    font-size: 31px;
  }
  .news__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .header__search-button {
    margin-left: 20px;
    flex-shrink: 0;
  }
  .header__line, .header__nav, .header__social {
    display: none;
  }
  .nav__inner li {
    font-size: 16px;
  }
  .news__item {
    width: 50%;
  }
  .news--with-img .news__item {
    width: calc(50% - 20px);
  }
  .news__img {
    width: 100%;
    height: 248px;
  }
  .news__img img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .news__item--banner img {
    width: 100%;
  }
  .footer__item {
    margin-right: 30px;
  }
  .main__sidebar {
    width: 250px;
    margin-right: 30px;
  }
  .main__title {
    font-size: 50px;
  }
  .main__title span {
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 3px 0;
  }
  .header__logo {
    max-width: 290px;
  }
  .header__content {
    display: none;
  }
  .nav {
    display: none;
  }
  .banner {
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
    font-size: 34px;
    font-weight: 400;
  }
  .title span {
    padding: 0 7px;
  }
  .news__title {
    margin-bottom: 25px;
  }
  .news__item {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .footer {
    padding-bottom: 40px;
  }
  .footer__header {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 42px;
  }
  .footer__nav {
    margin-left: 0;
    margin-top: 20px;
  }
  .footer__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__item {
    text-align: center;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .main__sidebar {
    display: none;
  }
  .main__content {
    flex-direction: column;
    display: flex;
  }
  .main__content .news__text {
    order: 3;
  }
  .main__img {
    order: 2;
  }
  .news.news--mobile-hidden {
    display: none;
  }
  .news.news--inner .news__title, .news.news--inner .news__text {
    display: none;
  }
  .news.news--inner .news__head {
    margin-bottom: 0;
  }
  .news__share {
    display: flex;
    justify-content: center;
    order: 4;
    margin-top: 50px;
    color: #000000;
  }
  .news__share span {
    font-size: 18px;
    font-weight: 700;
  }
  .news__share ul {
    display: flex;
    align-items: center;
  }
  .news__share ul li {
    margin-left: 9px;
  }
  .banner {
    margin-bottom: 15px;
  }
}

/* Archive */
.archive {
  margin-bottom: 55px;
}

.archive__title {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.archive__items {
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.archive__item {
  border: 1px solid #797979;
  margin-bottom: 20px;
  margin-left: 20px;
  width: calc(33.33% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.archive__link {
  text-align: center;
}

.archive__link .btn {
  display: inline-flex;
}

@media only screen and (max-width: 767px) {
  .archive__title {
    font-size: 24px;
    margin: 30px 0;
  }
  .archive__item {
    width: calc(50% - 20px);
  }
}

/* Search */
.search-result {
  background: #e9ecf0;
  margin-bottom: 226px;
  padding-top: 20px;
}

.search-result__title {
  font-size: 25px;
  font-weight: 400;
  color: #5e5c5c;
  padding-bottom: 12px;
  margin-bottom: 35px;
  border-bottom: 3px solid #c0c8d2;
}

.search-result__item {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 3px solid #c0c8d2;
  align-items: flex-start;
  margin-bottom: 35px;
}

.search-result__item:last-child {
  margin-bottom: 0;
  border: none;
}

.search-result__img {
  width: 300px;
  margin-right: 20px;
  flex-shrink: 0;
}

.search-result__text {
  font-size: 15px;
  line-height: 1;
  color: #000000;
  font-weight: 300;
}

.search-result .slick-arrow {
  position: absolute;
  font-size: 0;
  width: 70px;
  height: 70px;
  background: #dc2222 url(../images/arrow.png) no-repeat 50%;
  border: none;
  right: 70px;
  bottom: -102px;
  cursor: pointer;
  z-index: 3;
  transition: 100ms;
}

.search-result .slick-arrow:hover {
  background-position: 46% 50%;
}

.search-result .slick-arrow.slick-next {
  transform: rotate(180deg);
  background-color: #c0c8d2;
  right: 0;
}

.search-result .slick-dots {
  position: absolute;
  left: 0;
  bottom: -72px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result .slick-dots:last-child {
  margin-right: 0;
}

.search-result .slick-dots li {
  width: 12px;
  height: 12px;
  border: 2px solid #898989;
  position: relative;
  border-radius: 50%;
  margin-right: 24px;
  transition: 300ms;
  cursor: pointer;
}

.search-result .slick-dots li:last-child {
  margin-right: 0;
}

.search-result .slick-dots li:hover {
  border-color: #dc2222;
}

.search-result .slick-dots li:before {
  content: '';
  display: block;
  position: absolute;
  right: -6px;
  left: -6px;
  top: -6px;
  bottom: -6px;
  border-radius: 50%;
  border: 2px solid #dc2222;
  opacity: 0;
  transition: 300ms;
}

.search-result .slick-dots li.slick-active {
  border-color: #dc2222;
  background: #dc2222;
}

.search-result .slick-dots li.slick-active:before {
  opacity: 1;
}

.search-result .slick-dots li button {
  display: none;
}

@media only screen and (max-width: 767px) {
  .search-result {
    margin-bottom: 136px;
  }
  .search-result .slick-arrow {
    display: none !important;
  }
  .search-result__item {
    display: block;
  }
  .search-result__img {
    margin-bottom: 20px;
  }
}

/* News page */
.news-page {
  padding-bottom: 35px;
}

.news-page__inner {
  display: flex;
  align-items: flex-start;
}

.news-page__banner {
  margin-bottom: 20px;
}

.news-page__sidebar {
  width: 300px;
  flex-shrink: 0;
  margin-left: 20px;
}

.news-page__sidebar .btn {
  margin: 25px auto 0;
}

.news-page__sidebar .title {
  font-size: 25px;
  margin-bottom: 35px;
}

.news-page__sidebar .news__item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 15px;
  border: 1px solid #c0c8d2;
  padding: 0;
}

.news-page__content {
  flex-grow: 10;
}

.news-page__content > img {
  margin-bottom: 30px;
}

.news-page__content h1 {
  color: #605d5d;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.news-page__content h1 span {
  color: #006998;
  font-weight: 700;
}

.news-page__content h2 {
  color: #5e5c5c;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 20px;
}

.news-page__content h3 {
  color: #006998;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.news-page__content p {
  color: black;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
}

.news-page__date {
  color: #c50101;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.news-page__with-qoute {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.news-page__with-qoute img {
  width: 40%;
  margin-right: 20px;
}

.news-page__quote {
  border-top: 1px solid #006998;
  border-bottom: 1px solid #006998;
  padding: 10px 0;
  text-transform: uppercase;
  color: #006998;
  text-transform: uppercase;
  font-weight: 500;
}

.news-page__link {
  color: #5e5c5c;
  font-size: 25px;
  font-weight: 400;
  margin-top: 40px;
}

.news-page__list {
  background: #e9ecf0;
  padding: 20px 10px 25px;
  margin-bottom: 45px;
}

.news-page__list .title span {
  background: #e9ecf0;
}

.news-page__list .news-page__date {
  margin-bottom: 8px;
}

.news-page__article {
  color: #5e5c5c;
  font-size: 25px;
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 28px;
}

.news-page__article:hover {
  text-decoration: none;
}

.news-page__article span {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

@media only screen and (max-width: 991px) {
  .news-page__inner {
    display: block;
  }
  .news-page__content h1 {
    font-size: 40px;
  }
  .news-page__sidebar {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .news-page__content h1 {
    font-size: 30px;
    line-height: 1.1;
  }
  .news-page__content h2 {
    font-size: 24px;
  }
  .news-page__with-qoute {
    display: block;
  }
  .news-page__with-qoute > img {
    width: auto;
  }
}

/* Redaction header */
.redaction-header {
  background: #e9ecf0;
  padding: 10px 15px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  .redaction-header {
    margin-bottom: 30px;
  }
}

/* Redaction */
.redaction {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 300;
  color: #000000;
  line-height: 1.1;
}

.redaction__inner {
  display: flex;
  align-items: flex-start;
}

.redaction__sidebar {
  width: 300px;
  margin-left: 130px;
  font-size: 22px;
  flex-shrink: 0;
}

.redaction__sidebar span {
  display: block;
  margin-bottom: 15px;
}

.redaction__content {
  flex-grow: 10;
}

.redaction__head {
  color: #000000;
  font-weight: 700;
  margin-bottom: 25px;
}

.redaction__group {
  margin-bottom: 23px;
}

.redaction__item {
  margin-bottom: 25px;
}

.redaction__item span {
  text-decoration: underline;
}

.redaction__title {
  font-weight: bold;
}

.redaction__subtitle {
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
  .redaction {
    font-size: 21px;
  }
  .redaction__inner {
    display: block;
  }
  .redaction__sidebar {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .redaction {
    font-size: 18px;
  }
}
