@media only screen and (max-width: 1336px) {
  .container {
    width: 1170px; }
  .logo {
    margin-right: 36px; }
  .nav li:after {
    margin: 0 9px; }
  .showcase-info {
    max-width: 568px; }
  .showcase-info__head {
    font-size: 78px; }
  .showcase__girl {
    right: 300px; }
  .offers-item {
    width: 570px;
    margin: 0 30px 30px 0;
    padding-right: 34px;
    padding-left: 34px; }
  .calc-item-top input {
    width: 170px;
    padding: 0 26px; }
  .calculator-item.info .info-item p {
    width: 300px; }
  .calculator-item.info .info-items {
    padding-right: 0; }
  .docs-item {
    width: 550px; }
  .issues-head {
    font-size: 22px; }
  .consult-content {
    width: 720px; }
  .consult-content__head,
  .consult-info__head {
    font-size: 30px; }
  .consult-info__tel {
    font-size: 48px;
    margin-right: 42px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px; }
  .logo {
    width: 190px;
    margin-right: 16px; }
  .callback {
    width: 220px; }
  .callback__tel {
    font-size: 26px; }
  .callback__info {
    font-size: 15px; }
  .header-info {
    margin-bottom: 4px; }
  .header-info .city,
  .header-info .phone {
    margin-right: 22px; }
  .nav li a {
    font-size: 15px; }
  .nav li:after {
    margin: 0 6px; }
  .showcase {
    padding: 66px 0 48px; }
  .showcase-contacts {
    width: 270px;
    padding: 12px 12px 18px; }
  .showcase-contacts__tel {
    font-size: 30px; }
  .showcase-contacts p {
    font-size: 15px; }
  .showcase-info__head {
    font-size: 64px; }
  .showcase-info__text {
    font-size: 20px; }
  .showcase-info {
    max-width: 476px; }
  .ref {
    font-size: 20px; }
    .ref .round i {
      font-size: 18px; }
  .showcase__girl {
    right: 278px; }
  .benefits {
    padding-bottom: 54px; }
  .benefits__head {
    font-size: 50px;
    margin-bottom: 18px; }
  .benefits__title {
    font-size: 24px;
    margin-bottom: 14px; }
  .benefits__text {
    line-height: 1.25; }
  .offers {
    padding-top: 34px; }
  .offers__head,
  .calculator__head {
    font-size: 50px;
    margin-bottom: 28px; }
  .offers-item {
    width: 470px;
    padding: 18px 16px 32px; }
  .offers-item__head {
    font-size: 28px;
    margin-bottom: 16px; }
  .offers-item__text {
    line-height: 1.3; }
  .calculator {
    padding: 30px 0 52px; }
  .calc {
    padding: 26px 16px 20px; }
  .calc-item {
    margin-bottom: 24px; }
  .calc-item-top p {
    font-size: 16px; }
  .calc-item-top input {
    width: 136px;
    height: 48px;
    padding: 0 12px; }
  .calc-item-top {
    margin-bottom: 20px; }
  .calculator-item.info {
    padding: 22px 18px; }
  .calculator-item.info .info-top span {
    font-size: 16px; }
  .calculator-item.info .info-top h2 {
    font-size: 30px;
    margin-bottom: 4px; }
  .calculator-item.info .info-top h2 span {
    padding-bottom: 2px;
    font-size: 16px; }
  .calculator-item.info .info-top p {
    font-size: 16px; }
  .calculator-item.info .info-elem a {
    font-size: 16px;
    margin-left: 14px; }
  .calculator-item.info .info-items {
    margin-bottom: 6px; }
  .calculator-item.info .info-item {
    padding: 3px 0; }
  .calculator-item.info .info-item p {
    width: 270px;
    font-size: 20px; }
  .calculator-item.info .info-item span {
    font-size: 30px; }
  .calculator-item.info .info__text {
    line-height: 1.2;
    font-size: 17px; }
  .calculator-item.info .info-bottom input {
    height: 50px;
    padding-left: 12px;
    font-size: 20px; }
  .calculator-item.info .info-bottom .ref {
    height: 50px; }
    .calculator-item.info .info-bottom .ref:hover .round {
      width: calc(100% - 14px); }
    .calculator-item.info .info-bottom .ref .round {
      width: 37px;
      height: 37px; }
  .docs {
    padding: 34px 0; }
  .docs__head {
    font-size: 50px;
    margin-bottom: 12px; }
  .docs__text {
    width: 100%;
    font-size: 18px;
    margin-bottom: 34px; }
  .docs-item {
    width: 472px;
    padding-bottom: 30px; }
  .docs-item-header {
    padding: 24px 20px 30px; }
  .docs-item__head {
    font-size: 21px;
    margin-bottom: 16px; }
  .docs-item__head span {
    font-size: 30px; }
  .docs-item__text {
    font-size: 21px; }
  .docs-item ul {
    padding: 16px 20px 0; }
  .docs-item ul li {
    font-size: 21px;
    margin-bottom: 8px; }
  .docs-item ul li:before {
    top: 9px; }
  .issues__head {
    font-size: 50px;
    margin-bottom: 24px; }
  .issues-head {
    font-size: 19px;
    padding-left: 50px; }
  .issues-head i {
    left: 21px; }
  .issues-content {
    padding: 0 60px 16px;
    line-height: 1.3;
    font-size: 16px; }
  .consult-content {
    width: 645px; }
  .consult {
    padding: 10px 20px 0; }
  .consult-info__tel {
    font-size: 40px;
    margin-right: 30px; }
  .consult-info__head {
    margin-bottom: 6px;
    font-size: 28px; }
  .consult-info .ref {
    font-size: 17px; }
  .consult-content__head {
    font-size: 28px; }
  .consult-content__text {
    font-size: 22px;
    margin-bottom: 14px; }
  .footer-logo {
    margin-right: 28px; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  .logo {
    margin: 0 auto 20px; }
  .header {
    flex-direction: column; }
  .header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }
  .callback {
    width: 100%;
    text-align: center; }
  .showcase {
    padding: 38px 0 32px; }
  .showcase__girl {
    right: 0; }
  .showcase-content {
    flex-direction: column; }
  .showcase-info__head {
    font-size: 56px; }
  .showcase-info__text {
    font-size: 18px;
    margin-bottom: 10px; }
  .showcase-info {
    max-width: 460px; }
  .showcase-contacts {
    margin-top: 10px; }
  .ref {
    margin-top: 30px; }
  .benefits {
    padding: 34px 0 40px; }
  .benefits__head,
  .offers__head,
  .calculator__head,
  .docs__head,
  .issues__head {
    font-size: 38px;
    margin-bottom: 16px; }
  .benefits__title {
    font-size: 20px;
    margin-bottom: 10px; }
  .benefits__text {
    font-size: 16px; }
  .offers-item {
    width: 360px;
    margin: 0 18px 18px 0; }
  .offers-item__head {
    font-size: 24px;
    margin-bottom: 8px; }
  .offers-item__text {
    font-size: 16px; }
  .calc-item-top input {
    width: 112px;
    height: 42px;
    font-size: 20px; }
  .calculator-item.info .info-top h2 {
    font-size: 28px;
    line-height: 1; }
  .calculator-item.info .info-top p {
    font-size: 15px;
    margin-bottom: 12px; }
  .calculator-item.info .info-top h2 span {
    padding-bottom: 0;
    font-size: 15px; }
  .calculator-item.info .info-elem {
    margin-bottom: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
  .calculator-item.info .info-elem ul {
    margin-bottom: 6px; }
  .calculator-item.info .info-elem ul li {
    width: 52px;
    height: 52px; }
  .calculator-item.info .info-elem a {
    margin-left: 0; }
  .calculator-item.info .info-item p {
    width: 200px;
    font-size: 18px; }
  .calculator-item.info .info-item span {
    font-size: 24px; }
  .calculator-item.info .info__text {
    line-height: 1.1;
    font-size: 16px; }
  .calculator-item.info .info-bottom input {
    height: 46px;
    padding-left: 10px;
    font-size: 18px; }
  .calculator-item.info .info-bottom .ref {
    height: 46px;
    font-size: 15px;
    padding: 0 51px 0 10px; }
    .calculator-item.info .info-bottom .ref:hover {
      padding-left: 36px;
      padding-right: 25px; }
      .calculator-item.info .info-bottom .ref:hover .round i {
        padding-left: 10px; }
    .calculator-item.info .info-bottom .ref .round {
      width: 34px;
      height: 34px; }
  .docs-item-header {
    padding: 18px 12px 24px; }
  .docs-item {
    width: 364px; }
  .docs-item__head {
    font-size: 18px;
    margin-bottom: 12px; }
  .docs-item__head span {
    font-size: 26px; }
  .docs-item__text {
    font-size: 18px; }
  .docs-item ul {
    padding: 12px 12px 0; }
  .docs-item ul li {
    font-size: 18px;
    margin-bottom: 4px; }
  .issues {
    padding-bottom: 46px; }
  .consult {
    margin-bottom: 46px; }
  .consult-content {
    width: 444px; }
  .consult-info__tel {
    font-size: 30px;
    margin-right: 14px; }
  .consult-info__link {
    line-height: 46px;
    padding: 0 14px;
    font-size: 14px; }
  .consult-info-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .consult-img {
    width: 200px; }
  .consult-content__head,
  .consult-info__head {
    font-size: 26px; }
  .footer {
    padding: 26px 0 22px; }
  .footer-content p {
    margin-bottom: 6px;
    font-size: 15px; }
  .modal-question {
    width: 700px;
    padding: 22px 18px 28px; }
  .modal__head {
    font-size: 30px;
    margin-bottom: 7px; }
  .modal__text {
    line-height: 1.3;
    margin-bottom: 18px; }
  .modal-input input {
    height: 48px;
    padding: 0 10px;
    font-size: 20px; }
  .modal-error {
    font-size: 13px;
    padding-left: 8px; }
  .modal-form textarea {
    height: 100px;
    font-size: 20px;
    padding: 12px 10px 10px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px; }
  .benefits__head,
  .offers__head,
  .calculator__head,
  .docs__head,
  .issues__head {
    font-size: 30px; }
  .showcase__girl {
    width: 224px; }
  .benefits-items {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .benefits-item {
    width: 52%;
    margin-bottom: 10px; }
  .modal-question {
    width: 500px; }
  .modal-inputs {
    flex-direction: column;
    margin-bottom: 0; }
  .modal-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
  .modal-input input,
  .modal-form textarea {
    font-size: 18px; }
  .modal-bottom__compliance {
    padding: 0 10px 0 0; }
  .modal-bottom button {
    padding: 0 25px;
    height: 46px;
    font-size: 16px; }
  .showcase-info {
    max-width: 355px; }
  .showcase-info__head {
    font-size: 50px; }
  .showcase-info__text {
    font-size: 16px;
    margin-bottom: 8px; }
  .showcase-contacts p {
    line-height: 1.5; }
  .showcase-contacts__tel {
    font-size: 26px; }
  .ref {
    padding-top: 14px;
    padding-bottom: 15px;
    font-size: 18px; }
    .ref .round {
      width: 40px;
      height: 40px; }
      .ref .round i {
        font-size: 14px; }
  .offers-items {
    justify-content: center;
    align-items: center; }
  .offers-item {
    width: 374px;
    margin-right: 0; }
  .calculator-items {
    flex-direction: column; }
  .calculator-item {
    width: 100%; }
  .calc {
    padding-bottom: 8px; }
  .calculator-item.info .info-item {
    justify-content: space-between; }
  .calculator-item.info .info-bottom {
    justify-content: center; }
  .docs {
    padding: 24px 0; }
  .docs-items {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .docs-item {
    margin-bottom: 30px; }
    .docs-item:last-child {
      margin-bottom: 0; }
  .issues-head {
    font-size: 17px; }
  .issues-content {
    padding: 0 50px 16px;
    font-size: 15px; }
  .consult {
    justify-content: space-between; }
  .consult-content {
    width: 340px;
    margin-right: 10px; }
  .consult-img {
    flex-shrink: 0;
    width: 156px; }
  .consult-content__head, .consult-info__head {
    font-size: 20px; }
  .consult-content__text {
    font-size: 16px; }
  .consult-info__tel {
    font-size: 30px;
    margin-right: 0;
    margin-bottom: 4px; }
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 22px 0 16px; }
  .footer-logo {
    margin-bottom: 12px;
    margin-right: 0; }
  .footer-content {
    text-align: center; } }

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 10px; }
  .logo {
    margin: 0 0 0 10px; }
  .burger {
    display: block;
    width: 30px;
    position: absolute;
    top: -40px;
    right: 10px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        background: #222;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 30px;
          height: 5px;
          position: absolute;
          left: 0;
          background: #222;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -8px; }
        .burger a span:after {
          top: 8px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 14px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    margin-top: 10px; }
  .nav.active {
    opacity: 1;
    visibility: visible;
    margin-top: 0; }
  .nav li:after {
    display: none; }
  .benefits__head,
  .offers__head,
  .calculator__head,
  .docs__head,
  .issues__head {
    font-size: 26px; }
  .header-wrap .container {
    padding: 0; }
  .header {
    padding-bottom: 8px; }
  .header-body {
    position: relative; }
  .header-info,
  .callback {
    display: none; }
  .showcase-info__head {
    font-size: 42px; }
  .showcase__girl {
    display: none; }
  .showcase-info {
    max-width: 100%; }
  .benefits-item {
    width: 100%; }
  .benefits__img img {
    width: 150px; }
  .offers-item {
    width: 100%; }
  .calculator-item.info .info-elem ul li {
    width: 44px;
    height: 44px;
    margin-left: -16px; }
  .calculator-item.info .info-item p {
    width: 160px;
    font-size: 16px; }
  .calculator-item.info .info-item span {
    font-size: 18px; }
  .calculator-item.info .info__text {
    font-size: 15px; }
  .calculator-item.info .info-bottom input {
    font-size: 15px;
    padding-left: 6px;
    padding-right: 6px; }
  .calculator-item.info .info-bottom button {
    font-size: 14px; }
  .calculator-item.info .info-bottom .ref {
    font-size: 13px;
    padding: 0 38px 0 10px; }
    .calculator-item.info .info-bottom .ref:hover {
      padding-left: 26px;
      padding-right: 22px; }
      .calculator-item.info .info-bottom .ref:hover .round {
        width: calc(100% - 8px); }
        .calculator-item.info .info-bottom .ref:hover .round i {
          padding-left: 6px; }
    .calculator-item.info .info-bottom .ref .round {
      width: 30px;
      height: 30px;
      right: 3px; }
  .calc-item-top p {
    font-size: 15px; }
  .calc-item-top input {
    width: 100px;
    height: 38px;
    font-size: 16px; }
  .docs-item {
    width: 100%; }
  .docs__text {
    font-size: 16px;
    margin-bottom: 18px; }
  .docs-item__head {
    font-size: 16px; }
  .docs-item__head span {
    font-size: 21px; }
  .docs-item__text {
    font-size: 16px; }
  .docs-item ul li {
    font-size: 16px;
    margin-bottom: 3px; }
  .issues-head {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 8px; }
  .issues-head i {
    left: 8px;
    top: 18px; }
  .issues-content {
    padding: 0 24px 16px; }
  .consult {
    padding: 14px 10px 0;
    margin-bottom: 34px; }
  .consult-img {
    display: none; }
  .consult-content {
    width: 100%;
    padding-bottom: 22px; }
  .consult-info__tel {
    margin-bottom: 4px; }
  .consult-info .ref {
    font-size: 15px;
    padding: 16px 56px 17px 14px; }
    .consult-info .ref:hover {
      padding-left: 38px;
      padding-right: 32px; } }
