* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 700 16px 'Gilroy', sans-serif;
  color: #000;
}

a {
  font: 300 16px 'Gilroy', sans-serif;
  color: #000;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}

/* Header */

.header-wrap {
  background: #f1f2f2;
}

.logo {
  float: left;
  width: 290px;
  padding: 20px;
  text-align: center;
  margin-right: 80px;
  a {
    text-decoration: none;
  }
  span {
    font-weight: bold;
    margin-top: 5px;
    line-height: 1.2;
  }
}

.address {
  float: left;
  margin-top: 34px;
  margin-right: 68px;
  p {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  a {
    font-weight: bold;
  }
}

.worktime {
  float: left;
  margin-top: 44px;
  p {
    margin-bottom: 7px;
  }
}

.callback {
  float: right;
  margin: 30px 15px 0 0;
  text-align: right;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/callback.png) no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -85px;
    top: 5px;
  }
  &__tel {
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 3px;
  }
  &__modal {
    background-color: red;
    line-height: 30px;
    padding: 0 12px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      background: #eb0606;
    }
  }
}

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

.to-cat {
  flex-shrink: 0;
  width: 23%;
  background-color: #ffcc32;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding-left: 25px;
  text-decoration: none;
  &:hover {
    background: #ffc30e;
  }
  img {
    margin-right: 13px;
  }
  span {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: none;
  }
}

.menu {
  width: 48%;
  background: #000;
  flex-shrink: 0;
  ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    li {
      a {
        color: #ffcc32;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 50px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.search {
  width: 29%;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  input {
    height: 50px;
    background-color: #d7d7d7;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    flex-grow: 10;
    padding: 0 17px;
    min-width: 0;
    &::-webkit-input-placeholder {
      color: #2e2e2e;
    }
    &:-moz-placeholder {
      color: #2e2e2e;
    }
    &::-moz-placeholder {
      color: #2e2e2e;
    }
    &:-ms-input-placeholder {
      color: #2e2e2e;
    }
  }
  button {
    width: 50px;
    height: 50px;
    background: #ffcc32 url(../images/search.png) no-repeat center;
    border: none;
    cursor: pointer;
    transition: 300ms;
    flex-shrink: 0;
    &:hover {
      background-color: #fbc218;
    }
  }
}

/* Main */

.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 35px;
}

.main-sidebar {
  width: 23%;
  flex-shrink: 0;
  &-nav {
    padding: 20px 23px 0;
    background: #ededee;
    margin-bottom: 28px;
    a {
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 20px;
      &:hover {
        color: red;
      }
    }
  }
}

.main-content {
  width: 77%;
  flex-shrink: 0;
  padding: 20px 0 0 27px;
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    border: 1px solid #ccc;
    width: 24.25%;
    margin: 0 1% 1% 0;
    text-decoration: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:hover {
      background-color: #ffcc32;
    }
    &_more {
      background: #f00;
      color: #fff;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 50px 0;
      b {
        display: block;
        font-size: 34px;
      }
      &:hover {
        background: #f00;
      }
    }
    &_delivery {
      text-align: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    span {
      font-size: 20px;
      font-weight: bold;
      padding: 0 10px 17px;
      text-align: center;
    }
  }
  &__img {
    width: 100%;
    height: 145px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 100%;
    }
  }
}


/* Connect */

.connect {
  background: url(../images/connect-bg.jpg) no-repeat 50%;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height: 180px;
  padding-left: 337px;
  position: relative;
  margin-bottom: 47px;
  p {
    max-width: 640px;
    margin-right: 40px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: bold;
  }
  img {
    position: absolute;
    left: 60px;
    bottom: 0;
  }
  a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    background: red;
    line-height: 60px;
    padding: 0 45px;
    color: #fff;
    &:hover {
      background: #ef0202;
    }
  }
}

/* News */

.news {
  padding: 35px 0 40px;
  &-wrap {
    background: #f1f2f2;
  }
  &-header {
    text-align: center;
    margin-bottom: 35px;
    h2 {
      display: inline-block;
      color: red;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 34px;
    }
    span {
      font-size: 16px;
      color: #000;
      margin-right: 5px;
    }
    a {
      font-weight: bold;
      text-transform: none;
    }
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 32%;
    margin-right: 2%;
    position: relative;
    padding-left: 100px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-date {
      position: absolute;
      left: 0;
      top: 0;
      background: #ffcc32;
      width: 82px;
      height: 82px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      font-size: 14px;
      b {
        display: block;
        font-size: 54px;
        font-weight: bold;
      }
    }
    &-name {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.3;
      margin-bottom: 25px;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-weight: 300;
      line-height: 1.4;
    }
  }
}

/* Advan */

.advan {
  padding: 0 0 45px;
  &__head {
    color: red;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 23.5%;
    margin-right: 2%;
    border: 2px solid #c2c2c2;
    padding-bottom: 11px;
    &:last-child {
      margin-right: 0;
    }
    &__img {
      height: 110px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
    &__head {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 5px;
      padding: 0 15px;
      text-align: center;
      text-align: center;
    }
    &__text {
      padding: 0 15px;
      font-weight: 300;
      line-height: 1.2;
      text-align: center;
    }
  }
}

/* About */

.about {
  background: url(../images/about-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 75px 100px 30px;
  margin-bottom: 50px;
  h2 {
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1.4;
  }
}

/* Footer */

.footer {
  &-wrap {
    background: #ffcc32;
  }
  .logo {
    margin-right: 50px;
  }
  &-nav {
    float: left;
    margin: 27px 75px 0 0;
    a {
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 8px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-info {
    margin-top: 27px;
    float: left;
    p {
      margin-bottom: 5px;
    }
    .search {
      width: auto;
      margin-top: 21px;
      button {
        background: #000 url(../images/search2.png) no-repeat 50%;
      }
    }
  }
}

.footer-line {
  padding: 17px 0;
  font-weight: 300;
  div {
    float: left;
    margin-right: 47px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .omg {
    float: right;
    margin-right: 15px;
  }
}

.burger-wrap {
  display: none;
}

/* Bread */

.bread {
  font-weight: 300;
  margin: 15px 0 25px;
  ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    a {
      margin-right: 7px;
      text-decoration: none;
      color: red;
      &:hover {
        text-decoration: underline;
      }
    }
    &:after {
      content: '>';
      margin-right: 7px;
      display: inline-block;
    }
    &:last-child:after {
      display: none;
    }
  }
}

/* Order */

.order {
  padding: 32px 0 27px;
  margin-bottom: 50px;
  &-wrap {
    background: url(../images/order-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &__head {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 29px;
  }
  &-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    input {
      width: 24%;
      height: 60px;
      background-color: white;
      border: 1px solid #ccc;
      margin-right: 20px;
      padding: 0 13px;
      font-family: inherit;
      color: #000;
      font-size: 26px;
      font-weight: bold;
      &::-webkit-input-placeholder {
        color: #000;
      }
      &:-moz-placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    button {
      width: 23%;
      line-height: 60px;
      background-color: red;
      border: none;
      font-family: inherit;
      font-size: 26px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        background: #ed0000;
      }
    }
  }
}

.catalog-group {
  margin-bottom: 40px;
  &__head {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  &__descr {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
}

/* Contacts */

.contacts {
  margin-bottom: 50px;
  &__head {
    font-size: 34px;
    margin-bottom: 50px;
    text-align: center;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  &-item {
    width: 33.33%;
    text-align: center;
    &__img {
      height: 122px;
    }
    span {
      margin-bottom: 8px;
      display: block;
    }
    p {
      font-size: 26px;
      line-height: 1.4;
    }
    a {
      font-size: 26px;
      font-weight: bold;
      text-decoration: none;
      &.contacts__modal {
        background: red;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        padding: 0 15px;
        &:hover {
          background: #ea0000;
        }
      }
    }
  }
}

.map {
  height: 500px;
  margin-bottom: 50px;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.contacts-content {
  padding: 0 100px 20px;
  margin-top: 50px;
  text-align: center;
  h2 {
    font-size: 34px;
    margin-bottom: 28px;
  }
  p {
    margin-bottom: 23px;
    font-weight: 300;
    line-height: 1.3;
  }
}

.news-wrap_inner {
  background: none;
  .news-header {
    text-align: left;
    span,
    a {
      display: none;
    }
    h2 {
      color: #000;
      text-transform: none;
    }
  }
  .news-item {
    margin-bottom: 50px;
  }
  .news {
    padding-top: 0;
  }
}

.pagination {
  ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    li {
      height: 25px;
      width: 25px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &.active {
        background: red;
        a {
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
      a {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: red;
        }
      }
    }
  }
}

/* Article */

.article {
  padding-bottom: 40px;
  h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__date {
    display: inline-block;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    background: #ffcc32;
    margin-bottom: 21px;
  }
  p {
    line-height: 1.4;
    margin-bottom: 30px;
    font-weight: 300;
  }
  &__back {
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Info */

.info {
  line-height: 1.4;
  font-weight: 300;
  padding-bottom: 30px;
  h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 23px;
  }
  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
  }
  p {
    line-height: 1.4;
    margin-bottom: 20px;
  }
  li {
    line-height: 1.4;
  }
  ul {
    margin-bottom: 20px;
  }
}

/* Price */

.price {
  padding-bottom: 44px;
  h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 19px;
  }
  &-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
  }
  &-sidebar {
    width: 196px;
    flex-shrink: 0;
    background-color: #f1f2f2;
    padding: 15px;
    h3 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 18px;
    }
    li {
      margin-bottom: 18px;
      &.active {
        a {
          color: red;
        }
      }
      a {
        line-height: 1.2;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: red;
        }
      }
    }
  }
  &-info {
    flex-grow: 10;
    padding-left: 30px;
  }
  &-table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    td, th {
      border-bottom: 1px solid #cccccc;
      padding: 10px 5px;
      text-align: center;
      &:nth-child(3) {
        text-align: left;
        max-width: 330px;
      }
    }
    th {
      font-weight: bold;
    }
    td {
      font-weight: 300;
    }
  }
}
