$blue: #00aeef;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 700 18px 'BrutalType', sans-serif;
}

a {
  font: 700 18px 'BrutalType', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

.container_large {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.link {
  a {
    color: #000;
    font-size: 16px;
    font-weight: 900;
    line-height: 47px;
    text-transform: uppercase;
    padding: 0 40px 0 20px;
    border: 2px solid $blue;
    position: relative;
    &:after {
      content: '>';
      display: block;
      font-size: 16px;
      color: $blue;
      position: absolute;
      top: 0;
      right: 18px;
      transition: 300ms;
    }
    &:hover {
      color: $blue;
    }
  }
}

.head {
  color: #060606;
  font-size: 42px;
  text-transform: uppercase;
  padding: 0 0 0 37px;
  margin-bottom: 40px;
  font-weight: 800;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/head-before.png) no-repeat 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 0;
  }
}

/* Header */

.header {
  &-wrap {
    background: #001c54;
  }
  &-info {
    float: right;
    &__tel {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      margin-right: 57px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(../images/header-info__tel.png) no-repeat 50%;
        width: 21px;
        height: 21px;
        position: absolute;
        top: 50%;
        margin-top: -10.5px;
        left: -37px;
      }
      &:hover {
        color: $blue;
      }
    }
    &__claim {
      text-transform: uppercase;
      color: #fff;
      background: $blue;
      padding: 44px 70px 38px 95px;
      
      span {
        position: relative;
        &:before {
          content: '';
          display: block;
          background: url(../images/header-info__claim.png) no-repeat 50%;
          width: 18px;
          height: 11px;
          position: absolute;
          top: 50%;
          margin-top: -5.5px;
          left: -33px;
        }
      }
    }
  }
}

.logo {
  float: left;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin: 22px 113px 0 30px;
  &-content {
    margin-left: 16px;
    h2 {
      font-size: 27px;
      text-transform: uppercase;
      color: #fff;
      span {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1.5px;
        margin-top: 8px;
      }
    }
    
  }
}

.menu {
  float: left;
  font-size: 0;
  li {
    display: inline-block;
    vertical-align: top;
    &.active {
      a {
        background: $blue;
      }
    }
    a {
      text-transform: uppercase;
      color: #fff;
      padding: 44px 23px 38px;
      &:hover {
        background: $blue;
      }
    }
  }
}

.burger-wrap {
  display: none;
}

/* Showcase */

.showcase {
  padding: 189px 0 143px;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  h1 {
    color: #fff;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 50px;
    font-size: 68px;
    font-weight: 900;
    text-transform: uppercase;
  }
  &-links {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }
  &_link {
    margin: 0 70px;
    a {
      color: $blue;
      border: 2px solid #fff;
      &:after {
        color: #fff;
      }
      &:hover {
        background: transparent;
        border: 2px solid $blue;
        &:after {
          color: $blue;
        }
      }
    }
  }
}

.inner {
  &-showcase {
    text-align: center;
    .showcase {
      padding: 77px 0 44px;
      margin-bottom: 55px;
    }
    h2 {
      color: #fff;
      font-size: 68px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 21px;
    }
  }
}

/* Bread */

.bread {
  &-wrap {
    background: #ecf1f4;
    .bread {
      padding: 23px 0 20px;
      text-align: center;
      li {
        color: #000;
        &:after {
          color: #000;
        }
        a {
          color: #000;
        }
      }
    }
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    &:after {
      content: '>';
      display: block;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: -24px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* More */

.more {
  &-wrap {
    background: #eff2f4;
  }
  &-items {
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 300ms;
  }
  &-item {
    width: 220px;
    padding: 34px 0;
    margin: 0 40px 0 0;
    text-align: center;
    &:hover {
      p {
        color: $blue;
      }
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
    &__img {
      display: inline-block;
      vertical-align: middle;
      height: 130px;
      line-height: 130px;
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
    p {
      color: #000;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.55;
      text-transform: uppercase;
      transition: 300ms;
    }
    &_open {
      cursor: pointer;
      position: relative;
      .default,
      .close {
        position: absolute;
        top: 34px;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 300ms;
      }
      .close {
        opacity: 0;
      }
      &.active {
        .close {
          opacity: 1;
        }
        .default {
          opacity: 0;
        }
      }
    }
  }
}

/* Main-about */

.main-about {
  padding: 50px 0 32px;
  background: #fff;
  &-wrap {
    padding-bottom: 58px;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/main-about-bg.png) 2px 50%;
      width: 930px;
      height: 440px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-item {
    float: left;
    width: 380px;
    text-align: center;
    p {
      color: $blue;
      font-size: 180px;
      text-transform: uppercase;
      margin: -32px 0 8px;
    }
    span {
      color: #060606;
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 1.3;
    }
  }
  &-content {
    float: right;
    width: 825px;
    p {
      font: 400 16px/1.75 'BrutalType';
      margin-bottom: 51px;
    }
  }
  &_link {
    a {
      padding: 0 43px 0 23px;
    }
  }
}

/* Main-works */

.main-works {
  padding: 45px 0;
  .works-item {
    margin-bottom: 35px;
  }
  &_head {
    margin-bottom: 36px;
  }
  &_link {
    text-align: center;
    padding-top: 8px;
    a {
      padding: 0 44px 0 30px;
    }
  }
}

/* Works */ 

.works {
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    margin: 0 60px 40px 0;
    &:hover {
      .works-item__head {
        color: $blue;
      }
      .works-item__img:after {
        opacity: 1;
        visibility: visible;
      }
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &__img {
      width: 380px;
      height: 380px;
      margin-bottom: 24px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: rgba(0, 174, 239, .7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 300ms;
        opacity: 0;
        visibility: hidden;
      }
    }
    &__head {
      font-size: 24px;
      color: #000;
      line-height: 1.4;
      margin-bottom: 35px;
    }
    &-info {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
    }
    &__link {
      color: $blue;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
    }
    &__data {
      color: #939598;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

/* Benefit */

.benefit {
  padding: 48px 0 0;
  position: relative;
  z-index: 1;
  &-wrap {
    background: #eff2f4;
    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      background: url(../images/benefit-bg.png) repeat 50%;
      width: 890px;
      height: 168px;
      position: absolute;
      top: 20px;
      right: 0;
    }
  }
  &_head {
    margin-bottom: 27px;
  }
  &_info {
    position: absolute;
    top: 67px;
    right: 56px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0d1b25;
    span {
      font-size: 24px;
      color: $blue;
      margin-right: 10px;
    }
  }
  &-header {
    width: 505px;
    margin-bottom: 70px;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
    }
  }
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    margin: 0 60px 64px 0;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &__img {
      display: inline-block;
      vertical-align: middle;
      width: 86px;
      height: 85px;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      width: 280px;
      padding-left: 17px;
      text-transform: uppercase;
      font: 900 18px/1.55 'BrutalType';
    }
  }
}

/* Main-clients */

.main-clients {
  padding: 50px 0 63px;
  &-wrap {
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/main-clients-bg.png) no-repeat center;
      width: 739px;
      height: 318px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &_link {
    text-align: right;
    margin-right: 120px;
    a {
      padding: 0 50px 0 28px;
      &:after {
        top: -1px;
        right: 26px;
      }
    }
  }
  &_head {
    margin-bottom: 60px;
  }
  &-slider {
    float: left;
    width: 860px;
  }
  &-items {
    width: 740px;
    margin: 0 auto 63px;
    font-size: 0;
    position: relative;
    .slick-prev,
    .slick-next {
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/main-clients-slider.png) no-repeat left;
      width: 26px;
      height: 18px;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: -60px;
    }
    .slick-next {
      background-position: right;
      left: auto;
      right: -60px;
    }
  }
  &-item {
    display: inline-block;
    vertical-align: middle;
    height: 51px;
    line-height: 51px;
    text-align: center;
    margin: 0 28px;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &-partners {
    float: right;
    width: 300px;
    text-align: center;
    p {
      color: #0d1b25;
      font-size: 24px;
      margin-bottom: 25px;
      line-height: 1.4;
    }
    &__img {
      width: 252px;
      height: 144px;
      margin: 0 auto;
    }
  }
}

/* Callback */

.callback {
  float: left;
  width: 700px;
  background: $blue;
  padding: 50px 40px 36px 0;
  position: relative;
  &-wrap {
    overflow: hidden;
    background: $blue;
  }
  &_head {
    margin-bottom: 28px;
    &:before {
      background: url(../images/head-before2.png) no-repeat 50%;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 43px;
  }
  &-form {
    font-size: 0;
    width: 640px;
  }
  &-input {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 40px 25px 0;
    &:nth-child(2) {
      margin-right: 0;
    }
    &:nth-child(3) {
      width: 100%;
    }
    input {
      width: 100%;
      font: 400 16px/60px 'BrutalType';
      color: #fff;
      border: none;
      padding: 0 24px;
      background: #0099d2;
      &::-webkit-input-placeholder { 
        color: #fff;
      }
      &:-moz-placeholder { 
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
    }
  }
  &-info {
    margin: 8px 0 40px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    &__checkbox {
      position: relative;
      input {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 4px;
        left: 1px;
      }
      label {
        display: inline-block;
        vertical-align: top;
        width: 310px;
        padding-left: 28px;
        color: #fff;
        font: 300 12px/1.6 'BrutalType';
        cursor: pointer;
      }
    }
    button {
      color: #000;
      cursor: pointer;
      transition: 300ms;
      font: 900 16px 'BrutalType';
      height: 47px;
      text-transform: uppercase;
      padding: 0 48px 0 22px;
      margin-top: 2px;
      border: 2px solid #fff;
      background: transparent;
      position: relative;
      &:after {
        content: '>';
        display: block;
        font-size: 16px;
        color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 25px;
        transition: 300ms;
      }
      &:hover {
        color: #fff;
      }
    }
  }
  &-contact {
    span {
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      font-size: 28px;
      color: #000;
      &:hover {
        color: #fff;
      }
    }
  }
  &-map {
    height: 520px;
    width: 100%;
    position: absolute;
    top: 0;
    right: -700px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

/* Reference */

.reference {
  padding: 28px 0 20px;
  &-wrap {
    background: #eff2f4;
  }
  li {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    text-align: center;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.55;
      text-transform: uppercase;
      color: #000;
      &:hover {
        color: $blue;
      }
    }
  }
}

/* Footer */

.footer {
  padding: 45px 0 49px;
  &-wrap {
    background: #001c54;
  }
  .logo {
    float: left;
    display: block;
    text-align: center;
    margin: 0 192px 0 10px;
    img {
      margin: 0 auto 19px;
    }
    &-content {
      margin: 0;
      h2 {
        font-size: 31px;
      }
      span {
        font-size: 14px;
      }
    }
  }
  &-items {
    float: left;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 102px;
    &:last-child {
      margin-right: 0;
    }
    li {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          color: #0483b3;
        }
      }
    }
    &__head {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
      text-transform: uppercase;
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 10px;
    }
    &__tel {
      margin-bottom: 16px;
      a {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          color: #0483b3;
        }
      }
    }
    &__mail {
      a {
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-info {
    float: right;
    margin-right: 14px;
    &__link {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 50px;
      margin-bottom: 41px;
      padding: 0 26px 0 22px;
      background: $blue;
      &:hover {
        background: #0483b3;
      }
    }
    &-soc {
      text-align: center;
      &__item {
        width: 30px;
        height: 30px;
        margin: 0 7px;
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
}

/* Bottom */

.bottom {
  padding-bottom: 19px;
  &-content {
    float: left;
    color: $blue;
    font-size: 14px;
    font-weight: 400;
  }
  &-omg {
    float: right;
    color: $blue;
    font-size: 14px;
    font-weight: 400;
    a {
      color: $blue;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* About */

.about {
  margin-bottom: 65px;
  &-wrap {
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/about-bg.png) no-repeat 50%;
      width: 791px;
      height: 343px;
      position: absolute;
      bottom: 41px;
      right: 0;
    }
  }
  &__text {
    width: 890px;
    margin: 0 auto 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
  }
  &_link {
    text-align: center;
    margin-bottom: 42px;
  }
  &-items {
    font-size: 0;
    margin: 0 0 58px 40px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 300px;
    margin-right: 140px;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/about-item.png) no-repeat 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
    span {
      display: block;
      color: $blue;
      font-size: 120px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    p {
      color: #0d1b25;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.3;
      text-transform: uppercase;
    }
  }
  &-content {
    &-text {
      float: left;
      width: 683px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 17px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-info {
      float: right;
      width: 460px;
      padding: 63px 0 0 0;
      position: relative;
      span,
      p {
        display: block;
        line-height: 1.65;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: $blue;
      }
      span {
        color: #000;
      }
      &__quotes {
        background: url(../images/about-quotes.png) no-repeat 50%;
        width: 66px;
        height: 39px;
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }
}

/* Officials */

.officials {
  padding: 50px 0 0;
  &-wrap {
    background: #eff2f4;
    position: relative;
    margin-bottom: 54px;
    &:after {
      content: '';
      display: block;
      height: 180px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }
  }
  &_head {
    margin-bottom: 30px;
  }
  &-items {
    font-size: 0;
    position: relative;
    z-index: 5;
    .slick-prev,
    .slick-next {
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/main-clients-slider.png) no-repeat left;
      width: 26px;
      height: 18px;
      position: absolute;
      top: 195px;
      left: -80px;
    }
    .slick-next {
      background-position: right;
      left: auto;
      right: -80px;
    }
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 300px;
    height: 560px;
    padding: 16px 0 0 0;
    margin: 0 10px;
    transition: 300ms;
    &:hover {
      background: $blue;
      h2,
      span {
        color: #fff;
      }
      a {
        opacity: 1;
        visibility: visible;
      }
    }
    &__img {
      height: 365px;
      margin-bottom: 20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    &-content {
      h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.45;
        text-transform: uppercase;
        margin-bottom: 15px;
        transition: 300ms;
      }
      span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 32px;
        transition: 300ms;
      }
      a {
        opacity: 0;
        visibility: hidden;
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
        color: #000;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* About-works */

.about-works {
  margin: 0 0 65px 0;
  &_head {
    margin-bottom: 49px;
  }
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 15px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/about-works-img.png) no-repeat 50%;
      width: 98px;
      height: 36px;
      position: absolute;
      top: 23px;
      right: 48px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &__img {
      height: 110px;
    }
    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.55;
      text-transform: uppercase;
      span {
        color: $blue;
      }
    }
  }
}

/* About-sentence */

.about-sentence {
  padding: 43px 0 25px;
  &-wrap {
    background: #eff2f4;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 272px;
    margin-right: 40px;
    margin-bottom: 29px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &__img {
      height: 100px;
    }
    h2 {
      font-size: 18px;
      font-weight: 800;
      line-height: 1.25;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
    }
  }
  &-content {
    float: left;
    width: 620px;
    &__head {
      font-size: 24px;
      font-weight: 800;
      line-height: 1.4;
      margin-bottom: 30px;
    }
  }
  &-callback {
    float: right;
    width: 540px;
    background: $blue;
    padding: 35px 50px 35px;
    margin-top: 15px;
    form {
      text-align: right;
      button {
        border: 2px solid #fff;
        background: transparent;
        font: 700 16px/50px 'BrutalType';
        padding: 0 46px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 300ms;
        &:hover {
          color: #fff;
        }
      }
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
  &-input {
    width: 440px;
    margin: 0 auto 36px;
    &:nth-child(3) {
      margin-bottom: 24px;
    }
    input {
      border: none;
      width: 100%;
      font: 400 16px/60px 'BrutalType';
      padding: 0 20px;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
  &-checkbox {
    position: relative;
    margin-bottom: 30px;
    input {
      width: 14px;
      height: 14px;
      border: 1px solid #00aeef;
      position: absolute;
      top: 3px;
      left: 0;
    }
    label {
      display: block;
      font: 400 14px/1.5 'BrutalType';
      padding-left: 30px;
      text-align: left;
      cursor: pointer;
    }
  }
}

/* Vacancy */

.vacancy {
  padding: 55px 0 43px;
  &-wrap {
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/vacancy-bg.png) no-repeat 50%;
      width: 647px;
      height: 257px;
      position: absolute;
      top: 8px;
      left: 0;
    }
  }
  &__head {
    float: left;
    width: 390px;
    margin-top: -5px;
  }
  &-items {
    float: right;
    width: 860px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    margin-right: 112px;
    &:last-child {
      margin-right: 0;
    }
    h2 {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 32px;
    }
  }
  &_link {
    a {
      padding-right: 51px;
      &:after {
        right: 26px;
      }
    }
  }
}

/* Service */

.service {
  .about__text {
    margin-bottom: 45px;
  }
  &_about {
    margin: 21px 0;
    background: none;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
  }
  &-item {
    width: 300px;
    height: 350px;
    background: #eff2f4;
    margin: 0 20px 20px 0;
    padding: 93px 30px 0;
    position: relative;
    text-align: center;
    transition: background 500ms;
    &:hover {
      background: $blue;
      padding-top: 57px;
      .service-item-img {
        background-position: right;
      }
      .service-item_link {
        opacity: 1;
        visibility: visible;
      }
      p {
        color: #fff;
      }
    }
    &__yet {
      color: $blue;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 7px;
      span {
        display: block;
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
    &__tel {
      font-size: 24px;
      color: $blue;
      margin-top: 10px;
      &:hover {
        color: #000;
      }
    }
    &_info {
      &:hover {
        color: inherit;
        padding-top: 93px;
        background: #eff2f4;
        p {
          color: inherit;
        }
      }
    }
    &-img {
      background: url(../images/service1.png) no-repeat left;
      width: 128px;
      height: 71px;
      margin: 0 auto 30px;
    }
    &-img2,
    &-img3,
    &-img4,
    &-img5,
    &-img6,
    &-img7,
    &-img8,
    &-img9,
    &-img10,
    &-img11,
    &-img12,
    &-img13,
    &-img14 {
      background: url(../images/service2.png) no-repeat left;
      width: 86px;
      height: 85px;
    }
    &-img3 {
      background: url(../images/service3.png) no-repeat left;
    }
    &-img4 {
      background: url(../images/service4.png) no-repeat left;
    }
    &-img5 {
      background: url(../images/service5.png) no-repeat left;
    }
    &-img6 {
      background: url(../images/service6.png) no-repeat left;
    }
    &-img7 {
      background: url(../images/service7.png) no-repeat left;
    }
    &-img8 {
      background: url(../images/service8.png) no-repeat left;
    }
    &-img9 {
      background: url(../images/service9.png) no-repeat left;
    }
    &-img10 {
      background: url(../images/service10.png) no-repeat left;
    }
    &-img11 {
      background: url(../images/service11.png) no-repeat left;
    }
    &-img12 {
      background: url(../images/service12.png) no-repeat left;
    }
    &-img13 {
      background: url(../images/service13.png) no-repeat left;
    }
    &-img14 {
      background: url(../images/service14.png) no-repeat left;
    }
    &_big {
      width: 620px;
      padding: 100px 137px 0 158px;
    }
    p {
      color: #000;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.55;
      text-transform: uppercase;
    }
    &_link {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -81px;
      span {
        display: block;
        color: #000;
        font-size: 16px;
        font-weight: 900;
        line-height: 47px;
        text-transform: uppercase;
        padding: 0 40px 0 20px;
        border: 2px solid #fff;
        position: relative;
        transition: 300ms;
        &:after {
          content: '>';
          display: block;
          font-size: 16px;
          color: #fff;
          position: absolute;
          top: 0;
          right: 18px;
          transition: 300ms;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/* Service-slider */

.service-slider {
  padding: 40px 0 48px;
  position: relative;
  .benefit_info {
    top: 54px;
  }
  .benefit-item {
    margin-bottom: 0;
  }
  &_head {
    margin-bottom: 51px;
  }
  &-items {
    font-size: 0;
    position: relative;
    .slick-prev,
    .slick-next {
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/main-clients-slider.png) no-repeat left;
      width: 26px;
      height: 18px;
      position: absolute;
      top: 25px;
      left: -80px;
    }
    .slick-next {
      background-position: right;
      left: auto;
      right: -80px;
    }
  }
}

/* Serve */

.serve {
  padding: 32px 0 34px 0;
  &_works {
    .main-works {
      padding: 45px 0 36px;
    }
  }
  &-content {
    width: 940px;
    margin: 0 auto 50px;
    h2 {
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 34px;
      &:last-child {
        margin-top: 65px;
      }
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    li {
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 28px;
    }
  }
  &-slider {
    width: 940px;
    margin: 0 auto 54px;
    padding: 48px 0 55px;
    .benefit-item {
      margin: 0 50px;
      width: 370px;
    }
    &-wrap {
      background: #ecf1f4;
    }
    &__head {
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
    &-items {
      font-size: 0;
      position: relative;
      .slick-prev,
      .slick-next {
        border: none;
        cursor: pointer;
        z-index: 5;
        background: url(../images/main-clients-slider.png) no-repeat left;
        width: 26px;
        height: 18px;
        position: absolute;
        top: 25px;
        left: 0;
      }
      .slick-next {
        background-position: right;
        left: auto;
        right: 0;
      }
    }
  }
  &_link {
    text-align: center;
    a {
      padding: 0 20px 0 36px;
      &:after {
        content: '<';
        display: block;
        right: auto;
        left: 12px;
      }
    }
  }
}

/* Works */

.works {
  .works-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
    margin-bottom: 34px;
  }
  .works-item:nth-child(3n) {
    margin-right: auto;
  }
  &-item {
    margin-bottom: 48px;
    &_big {
      width: 820px;
      .works-item__img {
        width: 100%;
      }
      .works-item-info,
      .works-item__head {
        width: 380px;
      }
    }
  }
  &-nav {
    text-align: center;
    margin-bottom: 30px;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 7px 7px 0;
      &.active {
        a {
          color: #fff;
          background: $blue;
        }
      }
      a {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        background: #eff2f4;
        padding: 0 7px 0 6px;
        color: $blue;
        text-transform: uppercase;
        &:hover {
          color: #fff;
          background: $blue;
        }
      }
    }
  }
}

/* Pagination */

.pagination {
  text-align: center;
  margin-bottom: 66px;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      width: 50px;
      line-height: 45px;
      border: 2px solid #009ee3;
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
      color: #000;
      &:hover {
        color: #fff;
        background: $blue;
        border: 2px solid $blue;
      }
    }
  }
  .pagination-prev a,
  .pagination-next a {
    border: 2px solid transparent;
    color: $blue;
    &:hover {
      background: #fff;
      color: $blue;
      border: 2px solid transparent;
    }
  }
}

.working {
  .serve {
    padding-top: 38px;
    padding-bottom: 21px;
  }
  .serve-content h2 {
    line-height: 1.3;
    margin-bottom: 35px;
  }
  .serve-content p {
    margin-bottom: 30px;
  }
  .serve-content p:last-child {
    margin-top: 0;
  }
  &__data {
    color: #939598;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
  }
  &-slider {
    width: 780px;
    height: 440px;
    margin: 44px auto 90px;
    position: relative;
    .slick-prev,
    .slick-next {
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/main-clients-slider.png) no-repeat left;
      width: 26px;
      height: 18px;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: -80px;
    }
    .slick-next {
      background-position: right;
      left: auto;
      right: -80px;
    }
    .slick-dots {
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -90px;
      li {
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        border: 2px solid $blue;
        margin: 0 10px;
        cursor: pointer;
        button {
          display: none;
        }
      }
      .slick-active {
        width: 18px;
        height: 18px;
        background-color: $blue;
        border: 2px solid $blue; 
      }
    }
    &-item {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Contacts */

.contacts {
  &_callback {
    .callback {
      padding-bottom: 18px;
    }
    .callback-info button {
      margin-top: 7px;
    }
  }
  &_vacancy {
    .vacancy {
      padding: 55px 0 53px;
    }
  }
  .about__text {
    width: 940px;
    margin-bottom: 52px;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 55px;
  }
  &-item {
    width: 250px;
    margin-right: 192px;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/head-before.png) no-repeat 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: -7px;
    }
    &:nth-child(3) {
      margin-right: 0;
    }
    &-img {
      height: 110px;
    }
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;
    }
    &__tel {
      margin: 3px 0 8px;
      a {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        &:hover {
          color: $blue;
        }
      }
    }
    &__mail {
      a {
        font-size: 24px;
        font-weight: 700;
        color: $blue;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

/* Clients */

.clients {
  .about__text {
    margin-bottom: 43px;
  }
  &-item {
    position: relative;
    margin-bottom: 48px;
    &:before {
      content: '';
      display: block;
      background: url(../images/clients-quote.png) no-repeat 50%;
      width: 66px;
      height: 39px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-content {
      float: left;
      width: 580px;
      padding: 40px 0 0 80px;
      p {
        font-size: 16px;
        line-height: 1.65;
        font-weight: 400;
        margin-bottom: 31px;
      }
      span {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    &-img {
      float: right;
      width: 620px;
      position: relative;
      cursor: pointer;
      &:hover {
        &:after,
        &:before {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        display: block;
        background: rgba(0, 174, 239, .6);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: 300ms;
      }
      &:before {
        content: '';
        display: block;
        background: url(../images/clients-zoom.png) no-repeat 50%;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        margin-top: -14px;
        left: 50%;
        margin-left: -40px;
        z-index: 5;
        opacity: 0;
        transition: 300ms;
      }
    }
  }
  &-slider {
    padding: 50px 0 100px;
    margin-top: 70px;
    &_head {
      margin-bottom: 60px;
    }
    &-wrap {
      background: #eff2f4;
      margin-bottom: 77px;
    }
    &-items {
      width: 1100px;
      margin: 0 auto;
      position: relative;
      .slick-prev,
      .slick-next {
        border: none;
        cursor: pointer;
        z-index: 5;
        background: url(../images/main-clients-slider.png) no-repeat left;
        width: 26px;
        height: 18px;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: -80px;
      }
      .slick-next {
        background-position: right;
        left: auto;
        right: -80px;
      }
      .slick-dots {
        position: absolute;
        bottom: -70px;
        right: 30px;
        li {
          display: inline-block;
          vertical-align: middle;
          width: 12px;
          height: 12px;
          border: 2px solid $blue;
          margin: 0 10px;
          cursor: pointer;
          button {
            display: none;
          }
        }
        .slick-active {
          width: 18px;
          height: 18px;
          background-color: $blue;
          border: 2px solid $blue; 
        }
      }
    }
    &-item {
      display: inline-block;
      vertical-align: top;
      margin: 0 40px;
    }
  }
  &_pagination {
    margin-top: 82px;
  }
}








