@font-face {
  font-family: 'Brutal Type';
  src: url('../fonts/BrutalType.woff2') format('woff2'),
      url('../fonts/BrutalType.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('../fonts/BrutalType-Bold.woff2') format('woff2'),
      url('../fonts/BrutalType-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

