@import './fonts.scss';

$yellow: #ff840c;
$blue: #0072d2;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Brutal Type', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #000000;
}

.more {
  display: flex;
  align-items: center;
  &.blue {
    a {
      color: $blue;
      border-bottom: 2px solid $blue;
    }
  }
  &.orange {
    a {
      color: $yellow;
      border-bottom: 2px solid $yellow;
    }
  }
  &.back {
    &:hover {
      img {
        transform: rotate(180deg) translateX(4px);
      }
    }
    img {
      transform: rotate(180deg) translateX(0px);
    }
    a {
      margin-left: 15px;
    }
  }
  &:hover {
    a {
      border-bottom: 2px solid transparent;
    }
    img {
      transform: translateX(4px);
    }
  }
  a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    margin-right: 15px;
    color: #ffffff;
    padding-bottom: 4px;
  }
  img {
    margin-top: -4px;
    transition: 300ms;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      background-color: #222;
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        background-color: #222;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

// Header

.header {
  display: flex;
  align-items: center;
  &-wrap {
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 1px;
      background: #d1d1d1;
      left: 0;
      right: 0;
    }
  }
}

.logo {
  margin-right: 107px;
  flex-shrink: 0;
  a {
    display: flex;
    align-items: center;
    img {
      margin-right: 20px;
      flex-shrink: 0;
    }
    span {
      font-size: 14px;
      text-transform: uppercase;
      color: #000000;
      line-height: 1.4;
    }
  }
}

.header-content {
  flex-grow: 10;
}

.header-contacts {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 19px;
  margin-top: -4px;
  &__link {
    color: $yellow;
    border-bottom: 1px solid $yellow;
    flex-shrink: 0;
    &:hover {
      border-bottom: 1px solid transparent;
      color: $yellow;
    }
  }
  &__phone {
    color: #7c7c7c;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -3px;
    &:hover {
      color: $yellow;
    }
  }
}

.header-nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      position: relative;
      &.active:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -19px;
        height: 4px;
        left: 0;
        right: 0;
        background: $yellow;
      }
    }
    a {
      color: $blue;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      &:hover {
        color: $yellow;
      }
    }
  }
}

.header-lc {
  height: 100px;
  background: $yellow;
  padding-left: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 1000px;
    background: $yellow;
  }
  a {
    text-align: center;
  }
  span {
    display: block;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 13px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Showcase 

.showcase {
  padding-top: 140px;
  color: #ffffff;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &__more {
    margin-bottom: 90px;
  }
  &-help {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 24px;
    margin-bottom: 65px;
    &__icon {
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      border-radius: 50%;
      margin-right: 25px;
      flex-shrink: 0;
      font-size: 48px;
      font-weight: bold;
      background: $yellow;
      padding-bottom: 4px;
    }
    p {
      font-weight: bold;
      margin: 10px 0 0;
      a {
        border-bottom: 1px solid #fff;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        &:hover {
          border-bottom: 1px solid transparent;
          color: #ffffff;
        }
      }
    }
  }
}

.showcase {
  &-links {
    display: flex;
    background: #ffffff;
  }
  &-link {
    width: 25%;
    height: 200px;
    text-align: center;
    padding-top: 33px;
    display: block;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 40px;
      bottom: 40px;
      width: 1px;
      background: #bababa;
    }
    &:last-child:before {
      display: none;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -1px;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
      background: $yellow;
      opacity: 0;
      transition: 300ms;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
      .showcase-link__img {
        background-position: 100% 50%;
      }
      .showcase-link__text {
        color: #ffffff;
      }
    }
    &__img {
      width: 75px;
      height: 75px;
      background-position: 0 50%;
      background-repeat: no-repeat;
      margin: 0 auto 10px;
      position: relative;
      z-index: 5;
    }
    &__text {
      color: $blue;
      font-weight: bold;
      font-size: 24px;
      padding: 0 15px;
      position: relative;
      z-index: 5;
    }
  }
}

// Main about

.main-about {
  padding: 60px 0 66px;
  &-wrap {
    overflow: hidden;
    position: relative;
  }
  &__title {
    margin-bottom: 30px;
  }
  &-content {
    max-width: 780px;
  }
  &__title {
    margin-bottom: 22px;
  }
  &__description {
    margin-bottom: 23px;
    p {
      margin-bottom: 30px;
      color: #7c7c7c;
      line-height: 1.6;
    }
  }
  &__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90%;
    right: -620px;
  }
}

// Provides

.provides {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  &-wrap {
    background: url(../images/provides-bg.jpg) no-repeat 50%;
    background-size: cover;
    overflow: hidden;
  }
  &-item {
    width: 33.33%;
    height: 336px;
    border-right: 1px solid #ccc;
    padding: 68px 0 10px 84px;
    &:nth-child(3n) {
      border-right: none;
    }
    &:nth-child(1),
    &:nth-child(4) {
      padding-left: 0;
    }
  }
  &-header {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: -1000px;
      right: -3000px;
      height: 1px;
      background: #ccc;
    }
  }
  &__number {
    border-radius: 50%;
    background: $yellow;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 13px;
  }
  &__description {
    max-width: 307px;
    line-height: 1.6;
  }
}

// Direction

.direction {
  padding: 70px 0 65px;
  display: flex;
  align-items: flex-start;
  &-choose {
    flex-grow: 10;
    &__title {
      margin-bottom: 35px;
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 33%;
        margin-bottom: 15px;
        a {
          font-size: 18px;
          color: $blue;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &-form {
    width: 457px;
    max-width: 100%;
    flex-shrink: 0;
    background: $blue;
    padding: 34px 0 0;
    label {
      display: flex;
      padding: 0 27px 40px;
      align-items: center;
      margin-bottom: 0;
      span {
        width: 90px;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
      }
      input {
        flex-grow: 10;
        background: #ffffff;
        border: none;
        padding: 0 14px;
        height: 50px;
      }
    }
    button {
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      transition: 300ms;
      background: $yellow;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      width: 100%;
      border: none;
      &:hover {
        background: #e77302;
      }
    }
  }
}

// Partners

.partners {
  padding: 63px 0 102px;
  &-wrap {
    background: #f4f5f9;
  }
  &__title {
    margin-bottom: 45px;
  }
  &-items {
    padding: 0 60px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 60px;
      top: 0;
      height: 100%;
      width: 1px;
      background: #ddd;
      z-index: 9999;
    }
    .slick-arrow {
      width: 30px;
      height: 9px;
      background: url(../images/arrow.png);
      cursor: pointer;
      border: 0;
      text-indent: -9999px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      &.slick-next {
        left: auto;
        right: 0;
        background-position: 100% 0;
        &:hover {
          background-position: 100% 100%;
        }
      }
      &:hover {
        background-position: 0 100%;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: -50px;
      width: 280px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        width: 10px;
        height: 10px;
        border: 1px solid #0072d2;
        transition: 300ms;
        margin-right: 15px;
        &.slick-active,
        &:hover {
          background: #0072d2;
        }
        &:last-child {
          margin-right: 0;
        }
        cursor: pointer;
          button {
          display: none;
        }
      }
    }
  }
  &-item {
    height: 190px;
    background-color: white;
    border: 1px solid #ddd;
    border-left: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    img {
      max-width: 90%;
      max-height: 90%;
    }
  }
}

// Main news

.main-news {
  padding: 70px 0;
  &__title {
    margin-bottom: 0;
    margin-top: -6px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 56px;
  }
}

.news {
  &-items {
    display: flex;
  }
  &-item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    border-right: 1px solid #bababa;
    min-height: 347px;
    &:first-child {
      padding-left: 0;
    }
    &:nth-child(3n) {
      padding-right: 0;
      border-right: none;
    }
  }
  &__date {
    color: #959595;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  &__title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    &:hover {
      color: $yellow;
      text-decoration: underline;
    }
  }
  &__description {
    flex-grow: 10;
    color: #7c7c7c;
    font-size: 18px;
    line-height: 1.5;
  }
  &__more {
    color: $blue;
    &:hover {
      text-decoration: underline;
      color: $yellow;
    }
  }
}

// Documents

.documents {
  padding: 55px 0 70px;
  &-wrap {
    background: #f4f5f9;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    align-items: flex-start;
  }
  &__title {
    margin: -6px 0 0;
  }
  &-items {
    display: flex;
    align-items: flex-start;
  }
  &-item {
    display: block;
    width: calc(100%/5);
    padding-right: 40px;
    &:hover {
      span {
        color: $blue;
        text-decoration: underline;
      }
    }
    img {
      margin-bottom: 16px;
    }
    span {
      display: block;
      transition: 300ms;
      font-size: 18px;
    }
  }
}

// Footer

.footer {
  color: #ffffff;
  &-wrap {
    background: $blue;
  }
  &-cols {
    padding: 45px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-col {
    padding-right: 10px;
    &:last-child {
      padding-right: 0;
    }
  }
  &-item {
    margin-bottom: 33px;
    h3 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    li {
      margin-bottom: 15px;
    }
    a {
      &:hover {
        text-decoration: underline;
        color: #ffffff;
      }
      &.footer__tel {
        font-weight: bold;
        margin-bottom: 15px;
      }
      &.footer__email {
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      &.footer__to-lk {
        height: 50px;
        width: 100%;
        background: $yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
        &:hover {
          text-decoration: none;
          background: #e06f00;
        }
      }
    }
  }
  &-search {
    position: relative;
    input {
      width: 100%;
      height: 50px;
      padding: 0 25px 0 0;
      border: none;
      background: none;
      border-bottom: 1px solid #fff;
      color: #ffffff;
      &::-webkit-input-placeholder { 
        color: #fff;
      }
      &:-moz-placeholder { 
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
    }
    button {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: 14px;
    }
  }
  &-bottom {
    font-size: 14px;
    padding-bottom: 20px;
  }
}

.notification {
  border-bottom: 1px solid #84beff;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  a {
    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}

// Home page media queries

@media screen and (max-width: 1336px) {
  .main-about__img {
    right: -700px;
  }
  .provides-item {
    padding: 68px 0 10px 43px;
  }
  .news-item {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    margin-right: 35px;
    a img {
      width: 80px;
    }
  }
  .header-lc {
    padding-left: 40px;
    margin-left: 30px;
  }
  .main-about-content {
    max-width: 600px;
  }
  .direction-choose-items li {
    width: 50%;
  }
  .news-item {
    padding: 0 15px;
  }
  .documents-item span {
    font-size: 16px;
  }
  .footer a {
    font-size: 14px;
  }
  .showcase-link__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .burger {
    display: block;
  }
  .header-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $yellow;
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .burger-wrap {
    display: flex;
    flex-grow: 10;
    justify-content: flex-end;
  }
  .header-wrap {
    overflow: visible;
  }
  .header-lc:after {
    display: none;
  }
  .header-lc {
    padding: 0 20px;
  }
  .header-contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__link {
      color: #ffffff;
      border-color: #fff;
      margin-top: 15px;
    }
    &__phone {
      margin-top: 15px;
      color: #ffffff;
    }
  }
  .header-nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      margin-bottom: 20px;
      a {
        color: #ffffff;
      }
    }
  }
  .showcase {
    padding-top: 50px;
    &__title {
      font-size: 34px;
    }
    &__more {
      margin-bottom: 60px;
    }
  }
  .main-about__img {
    display: none;
  }
  .title,
  .provides-header {
    font-size: 32px;
  }
  .provides-item {
    padding: 25px 0 10px 25px;
  }
  .provides-item {
    height: 298px;
  }
  .partners-item {
    height: 150px;
  }
  .news__date,
  .news__description {
    font-size: 14px;
  }
  .news__title {
    font-size: 20px;
  }
  .documents-item span {
    font-size: 14px;
  }
  .footer-col {
    padding-right: 20px;
  }
  .header-nav ul li.active:after {
    bottom: -6px;
    background: #ffffff;
  }
  .showcase-link__text {
    font-size: 16px;
  }
  .showcase-link {
    height: 180px;
  }
}

@media screen and (max-width: 767px) {
  .header-lc {
    flex-shrink: 0;
    height: 70px;
    margin-right: -15px;
    img {
      width: 25px;
    }
    span {
      display: none;
    }
  }
  .logo a span {
    display: none;
  }
  .showcase__title {
    font-size: 21px;
  }
  .more a {
    font-size: 16px;
  }
  .showcase-help__icon {
    display: none;
  }
  .showcase-help {
    font-size: 18px;
    p a {
      font-size: 18px;
    }
  }
  .title, .provides-header {
    font-size: 21px;
  }
  .provides {
    display: block;
    padding-bottom: 20px;
    text-align: center;
    &-item {
      width: 100%;
      padding: 15px !important;
      height: auto;
      border: 0 !important;
    }
    &__description {
      margin: 0 auto;
    }
  }
  .direction {
    display: block;
    padding: 40px 0;
  }
  .direction-form  {
    padding-top: 20px;
  }
  .direction-form label {
    display: block;
    padding-bottom: 20px;
    span {
      display: block;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
    }
  }
  .partners {
    padding: 40px 0 80px;
  }
  .partners-items {
    padding: 0 36px;
  }
  .partners-items:before {
    left: 36px;
  }
  .partners-item {
    height: 110px;
  }
  .partners-items .slick-dots {
    bottom: -43px;
  }
  .main-news {
    padding: 40px 0;
  }
  .main-news-header {
    display: block;
  }
  .main-news__title {
    margin-bottom: 15px;
  }
  .news-items {
    display: block;
  }
  .news-item {
    width: 100%;
    min-height: 0;
    padding: 0 !important;
    border-right: none;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .news__description {
    margin-bottom: 10px;
  }
  .documents-header {
    display: block;
  }
  .documents__title {
    margin-bottom: 15px;
  }
  .documents-items {
    display: block;
  }
  .documents-item {
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .documents {
    padding: 40px 0;
  }
  .footer-cols {
    flex-wrap: wrap;
  }
  .footer-col {
    width: 50%;
  }
  .copyright {
    display: block;
    div {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .showcase-links {
    display: block;
  }
  .showcase-link {
    width: 100%;
    &:before {
      bottom: 0;
      height: 1px;
      width: 100%;
      top: auto;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .footer-cols {
    display: block;
  }
  .footer-col {
    width: 100%;
  }
}

// Breadcrumbs 

.breadcrumbs {
  padding: 15px 0 40px;
  li {
    display: inline;
    font-size: 14px;
    a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
    &:after {
      content: '—';
      display: inline-block;
      margin: 0 5px 0 7px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

// Contacts

.contacts {
  padding-bottom: 105px;
  display: flex;
  &-content {
    flex-grow: 10;
    padding-right: 95px;
  }
  &-people {
    width: 380px;
    flex-shrink: 0;
    border-left: 1px solid #bababa;
  }
  &__title {
    margin-bottom: 38px;
  }
  &-cols {
    display: flex;
    margin-bottom: 65px;
  }
  &-col {
    width: 50%;
  }
  &-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 23px;
    &__img {
      width: 32px;
      margin-right: 22px;
      flex-shrink: 0;
    }
    &__number,
    &__link {
      font-size: 24px;
      color: #000000;
      margin-bottom: 5px;
    }
    &__link {
      color: $blue;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      color: #7c7c7c;
      display: block;
    }
  }
}

.contacts-location {
  &-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 27px;
  }
  &__img {
    width: 32px;
    margin-right: 22px;
    flex-shrink: 0;
  }
  &-tabs {
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &-tab {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &.active {
      color: #000000;
      text-decoration: none;
      cursor: default;
    }
  }
  &-address {
    color: #7c7c7c;
    font-size: 18px;
    display: none;
    &.active {
      display: block;
    }
  }
  &-map {
    width: 100%;
    height: 400px;
    display: none;
    iframe {
      width: 100%;
      height: 100%;
    }
    &.active {
      display: block;
    }
  }
}

.contacts-people {
  padding-left: 55px;
  &__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid $blue;
    margin-bottom: 55px;
    display: inline-block;
    color: $blue;
  }
  &-item {
    margin-bottom: 45px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__prof {
    font-size: 24px;
    margin-bottom: 5px;
  }
  &__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__position {
    font-weight: bold;
    margin-bottom: 5px;
  }
  &-info {
    li {
      display: flex;
      margin-bottom: 6px;
      align-items: center;
      .icon {
        width: 18px;
        margin-right: 11px;
        flex-shrink: 0;
      }
      span {
        color: #959595;
      }
      a {
        color: $blue;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Contacts media queries

@media screen and (max-width: 1200px) {
  .contacts-content {
    padding-right: 30px;
  }
  .contacts-people {
    padding-left: 30px;
    width: 360px;
  }
}

@media screen and (max-width: 991px) {
  .contacts-col {
    width: 100%;
  }
  .contacts-cols {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: block;
  }
  .contacts-content {
    padding-right: 0;
    margin-bottom: 40px;
  }
  .contacts-location-tabs {
    font-size: 19px;
  }
  .contacts-people {
    width: 100%;
    padding: 0;
    border: 0;
  }
  .contacts-people__title {
    margin-bottom: 20px;
  }
  .contacts {
    padding-bottom: 60px;
  }
}

// Content

.content {
  padding-bottom: 100px;
  h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  p {
    color: #7c7c7c;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.7;
  }
  > img {
    margin-bottom: 25px;
  }
  .back {
    margin-top: 80px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    li {
      width: 30%;
      padding-right: 10px;
      margin-bottom: 10px;
      color: #7c7c7c;
      font-size: 18px;
      padding-left: 10px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: #7c7c7c;
      }
    }
  }
}

.content-banner {
  display: flex;
  .content {
    flex-grow: 10;
    padding-right: 85px;
  }
  .banner-wrap {
    width: 300px;
    display: block;
    flex-shrink: 0;
  }
  .banner {
    transition: 0ms;
    width: 100%;
    &.fixed {
      position: fixed;
      top: 10px;
    }
    &.stopped {
      position: absolute;
      bottom: 85px;
      top: auto !important;
      left: 0 !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .content-banner .banner-wrap {
    width: 200px;
  }
  .content ul li {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-bottom: 30px;
    .back {
      margin-top: 30px;
    }
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 14px;
    }
    h2, p, >img {
      margin-bottom: 10px;
    }
    ul li {
      font-size: 14px;
    }
  }
  .content-banner .banner-wrap {
    display: none;
  }
  .content-banner .content {
    padding-right: 0;
  }
}

// News

.news {
  &__header {
    margin-bottom: 63px;
  }
  .news-items {
    flex-wrap: wrap;
  }
  .news-item {
    margin-bottom: 113px;
  }
}

.pagination {
  padding-bottom: 75px;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 10px;
      &.pagination__arrow {
        width: 30px;
        height: 9px;
        background: url(../images/pagination-arrow.png) no-repeat left top;
        transition: 300ms;
        &:hover {
          transform: translateX(-4px);
        }
        &.disable {
          background-position: left bottom;
        }
        a {
          display: block;
          border-bottom: none !important;
          height: 100%;
        }
        &.pagination__next {
          background-position: right top;
          &.disable {
            background-position: right bottom;
          }
          &:hover {
            transform: translateX(4px);
          }
        }
      }
      a {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 5px;
        border-bottom: 2px solid $blue;
        color: $blue;
        &:hover {
          border-bottom: 2px solid transparent;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .news .news-item {
    margin-bottom: 40px;
  }
  .pagination {
    padding-bottom: 50px;
  }
}

// Article

.article {
  .content {
    padding-bottom: 0;
  }
  .news-item {
    width: 100%;
    border: 0;
    padding: 0;
    margin-bottom: 90px;
    min-height: 0;
  }
  .news__description {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .article {
    .news-item {
      margin-bottom: 50px;
    }
    .news__description {
      margin-bottom: 20px;
    }
  }
}

// Register

.register {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 120px;
  &__title {
    margin-bottom: 40px;
  }
  &-form {
    padding-left: 54px;
    max-width: 560px;
  }
  &-info {
    max-width: 460px;
    padding-right: 60px;
  }
}

.input-item {
  margin-bottom: 30px;
  &.error {
    input {
      border: 1px solid #fc861f;
    }
  }
  input {
    width: 100%;
    height: 60px;
    border: 1px solid #bababa;
    padding: 0 15px;
    margin-bottom: 9px;
    &:focus {
      border: 2px solid #0072d2;
    }
  }
  .error {
    display: block;
    padding-left: 16px;
    font-size: 14px;
    color: $yellow;
    line-height: 17px;
    min-height: 17px;
  }
}

.radio,
.checkbox {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 13px;
  cursor: pointer;
  span {
    border: 1px solid #bababa;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border-radius: 50%;
      background: $yellow;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
      visibility: visible;
    }
  }
  &-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.radios {
  display: flex;
  margin-top: 20px;
  .radio-wrap {
    margin-right: 33px;
  }
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkbox {
  &-wrap {
    align-items: flex-start;
    margin-bottom: 27px;
    .text {
      font-size: 14px;
      color: #7c7c7c;
      a {
        color: $yellow;
        text-decoration: underline;
        display: inline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  span {
    border-radius: 0;
    &:before {
      border-radius: 0;
    }
  }
}

.register-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__back,
  &__submit {
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 0 27px;
    border: 0;
    cursor: pointer;
    transition: 300ms;
  }
  &__back {
    color: #7c7c7c;
    background-color: #e7e8ee;
    &:hover {
      background: #cecfd3;
    }
  }
  &__submit {
    background: $yellow;
    color: #ffffff;
    &:hover {
      background: #d9720e;
    }
  }
}

.register-info {
  &-item {
    margin-bottom: 55px;
    img {
      margin-bottom: 18px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 1200px) {
  .register-form {
    padding-left: 0;
  }
  .register-info {
    padding-right: 0;
  }
  .register-form {
    max-width: 460px;
  }
  .radios .radio-wrap {
    margin-right: 18px;
  }
}

@media screen and (max-width: 991px) {
  .register-info {
    max-width: 230px;
  }
  .register {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .register-form,
  .register-info {
    max-width: 100%;
  }
  .register {
    display: block;
  }
  .input-item {
    margin-bottom: 15px;
  }
  .register-form {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  .input-group {
    display: block;
  }
  .radios {
    margin: 0 0 30px;
  }
  .register-nav__back, .register-nav__submit {
    padding: 0 20px;
    font-size: 14px;
  }
}

// Directory 

.directory {
  &__title {
    margin-bottom: 38px;
  }
  &-item {
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      line-height: 60px;
      background: $yellow;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 26px;
      border: 0;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        background: #d56e09;
      }
    }
  }
  &-point {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    span {
      flex-shrink: 0;
      font-size: 24px;
      font-weight: bold;
      color: #7c7c7c;
      width: 100px;
    }
    input {
      width: 400px;
      height: 60px;
      border: 1px solid #bababa;
      padding: 0 15px;
    }
  }
  &-table {
    margin-bottom: 67px;
  }
  &-banner {
    margin-bottom: 61px;
  }
}

.directory-form {
  position: relative;
  padding-left: 560px;
  padding-top: 45px;
  form {
    padding-bottom: 46px;
  }
  &-wrap {
    background: #f4f5f9;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 15px;
    bottom: 0;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__help-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 43px;
  }
  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .input-item {
      width: 45%;
    }
  }
  .input-item {
    margin-bottom: 5px;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    button {
      background: $yellow;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 25px;
      border: 0;
      cursor: pointer;
      transition: 300ms;
      line-height: 50px;
      &:hover {
        background: #de740c;
      }
    }
  }
  &-rules {
    color: #7c7c7c;
    font-size: 14px;
    max-width: 370px;
    line-height: 1.7;
    a {
      color: $blue;
      text-decoration: underline;
      display: inline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.textarea-item {
  margin-bottom: 5px;
  &.error {
    input {
      border: 1px solid #fc861f;
    }
  }
  textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #bababa;
    padding: 10px 15px;
    margin-bottom: 5px;
    resize: none;
    &:focus {
      border: 2px solid #0072d2;
    }
  }
  .error {
    display: block;
    padding-left: 16px;
    font-size: 14px;
    color: $yellow;
    line-height: 17px;
    min-height: 17px;
  }
}

@media screen and (max-width: 1200px) {
  .directory-point input {
    width: 290px;
  }
  .directory-point span {
    font-size: 18px;
  }
  .directory-form {
    padding-left: 370px;
  }
  .directory-form__img {
    left: -30px;
  }
}

@media screen and (max-width: 991px) {
  .directory-item {
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .directory-point {
    margin-top: 10px;
  }
  .directory-point input {
    width: 360px;
  }
  .directory-form__img {
    display: none;
  }
  .directory-form {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .directory-item {
    display: block;
    button {
      margin-top: 10px;
    }
  }
  .directory-point {
    display: block;
    label {
      display: block;
    }
    span {
      display: block;
      margin-bottom: 10px;
    }
    input {
      max-width: 100%;
    }
  }
  .directory-form-group {
    display: block;
    .input-item {
      width: 100%;
    }
  }
  .directory-form-footer {
    display: block;
  }
  .directory-form-rules {
    margin-bottom: 20px;
  }
  .directory-form__help-text {
    font-size: 18px;
  }
}

// Services

.services {
  &-row {
    margin-bottom: 55px;
    border-bottom: 1px solid #bababa;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__description {
    color: #7c7c7c;
    margin-bottom: 35px;
    max-width: 780px;
    line-height: 1.6;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    background-color: #f4f5f9;
    position: relative;
    width: calc(50% - 30px);
    margin-right: 60px;
    margin-bottom: 55px;
    padding: 33px 0 25px 20px;
    &:hover {
      .services-item-hover {
        opacity: 1;
        visibility: visible;
      }
      .more {
        transform: translateX(0);
      }
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &__title {
      height: 67px;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .more {
      transform: translateX(-10px);
      transition: 300ms;
      margin-top: 15px;
    }
    &-hover {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-size: cover;
      padding: 33px 0 0 20px;
      transition: 300ms;
      visibility: hidden;
      opacity: 0;
      .services-item__title {
        color: #ffffff;
      }
    }
  }
}

.services-about {
  padding-bottom: 70px;
  position: relative;
  &-wrap {
    overflow: hidden;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
  }
  &__description {
    color: #7c7c7c;
    line-height: 1.7;
    padding-right: 480px;
  }
  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -510px;
  }
}

@media screen and (max-width: 991px) {
  .services-item__title {
    font-size: 18px;
  }
  .services-about__img {
    display: none;
  }
  .services-about__description {
    padding-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .services-item {
    width: 100%;
    margin-right: 0;
  }
}

// Service

.service-showcase {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  &-wrap {
    background: url(../images/service-bg.jpg) no-repeat 50%;
    background-size: cover;
    .breadcrumbs {
      li,
      li a {
        color: #ffffff;
      }
    }
  }
  &__title {
    margin-right: 140px;
    color: #ffffff;
  }
}

.service-content {
  padding: 50px 0;
  p {
    color: #7c7c7c;
    line-height: 1.6;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.service-rate {
  padding: 55px 0;
  &__title {
    margin-bottom: 10px;
    max-width: 580px;
  }
  &__description {
    font-size: 24px;
    font-weight: bold;
    color: #7c7c7c;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 991px) {
  .service-showcase {
    display: block;
  }
  .service-showcase__title {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .direction-form {
    margin: 0 auto;
  }
  .service-showcase {
    padding-bottom: 50px;
  }
}

// Modal

.c-modal {
  display: none;
  &__title {
    margin-bottom: 20px;
  }
  &__description {
    margin-bottom: 45px;
    line-height: 1.6;
  }
  .input-group {
    .input-item {
      width: 48%;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .rules {
      max-width: 540px;
      .text {
        line-height: 1.7;
      }
    }
    button {
      line-height: 60px;
      padding: 0 25px;
      background: $yellow;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      border: 0;
      transition: 300ms;
      cursor: pointer;
      flex-shrink: 0;
      &:hover {
        background: #e5770b;
      }
    }
  }
}

.fancybox-content {
  max-width: 1100px;
  border: 1px solid #0072d2;
  padding: 40px 50px;
}

@media screen and (max-width: 767px) {
  .fancybox-content {
    padding: 15px;
  }
  .c-modal {
    .input-group {
      display: block;
      .input-item {
        width: 100%;
      }
    }
  }
  .c-modal-footer {
    display: block;
  }
}