@import mixins
@import const

/*----------- button style *
 ------------------------------------------------------------*/
.btn
  min-width: 100px
  height: 50px
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 0 25px
  margin: 0
  font: 18px/50px 'TextCond-Bold', Arial, sans-serif
  text-align: center
  text-decoration: none
  cursor: pointer
  text-transform: uppercase
  outline: none
  border: 1px solid $btn-h-border-color
  background-color: $btn-bg-color
  color: $btn-color
  +border-radius(25px)

  transition: all 0.2s ease
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  &:hover
    background-color: $btn-h-bg-color
    color: $btn-h-color
    border-color: $btn-h-border-color

.btn:focus
  outline: none
  color: $btn-color

.btn-yellow
  color: #ffcb05
  border-color: #ffcb05
  background: transparent 
  font-family: 'TextCond-Regular', Arial, sans-serif
  &:hover, &:focus 
    background-color: #ffcb05
    color: #000000
    border-color: #ffcb05

.btn-lg
  height: 60px
  font-size: 18px
  line-height: 58px
  padding: 0 40px
  min-width: 300px

.btn-max
  width: 100%
  padding: 0 5px

.btn-default
  background-color: #ededed
  color: #494949
  &:hover
    background-color: #dedede
    color: #494949




