@font-face
  font-family: 'TextCond-Bold'
  src: url('../fonts/PFDinTextCondPro-Bold.eot')
  src: local("☺"), url('../fonts/PFDinTextCondPro-Bold.woff') format("woff"), url('../fonts/PFDinTextCondPro-Bold.ttf') format("truetype"), url('../fonts/PFDinTextCondPro-Bold.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'TextCond-Medium'
  src: url('../fonts/pfdintextcondpro-medium_0.eot')
  src: local("☺"), url('../fonts/pfdintextcondpro-medium_0.woff') format("woff"), url('../fonts/pfdintextcondpro-medium_0.ttf') format("truetype"), url('../fonts/pfdintextcondpro-medium_0.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'TextCond-Regular'
  src: url('../fonts/pfdintextcondpro-regular_0.eot')
  src: local("☺"), url('../fonts/pfdintextcondpro-regular_0.woff') format("woff"), url('../fonts/pfdintextcondpro-regular_0.ttf') format("truetype"), url('../fonts/pfdintextcondpro-regular_0.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'TextCond-Italic'
  src: url('../fonts/PFDinTextCondPro-Italic.eot')
  src: local("☺"), url('../fonts/PFDinTextCondPro-Italic.woff') format("woff"), url('../fonts/PFDinTextCondPro-Italic.ttf') format("truetype"), url('../fonts/PFDinTextCondPro-Italic.svg') format("svg")
  font-weight: normal
  font-style: normal