@import mixins
@import const

/*----------- Form sryle *
 ------------------------------------------------------------*/
.st-form-group
  margin-bottom: 20px

.placeholder 
  color: #000

input, textarea
  +placeholder-color(#5d5d5d)
  +border-radius(0px)
  padding: 0 20px
  width: 100%
  height: 50px
  position: relative
  outline: none
  font: 18px 'TextCond-Regular', Arial, sans-serif
  color: #5d5d5d
  background-color: #fff

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

textarea
  height: 138px
  vertical-align: top
  padding: 15px 19px
  resize: none


