@import mixins
@import const

/*----------- media style *
 ------------------------------------------------------------*/
@media only screen and (max-width: 1200px)
  
  .navbar-default
    width: 422px
    .navbar-nav
      > li
        width: 33.3333%
        text-align: center
        > a 
          padding: 21.5px 5px

  .hedaer-nav .header-navigation 
    margin-left: 0
    > li 
      > a
        padding: 23px 16px 13px
        font-size: 17px

  .head-info
    width: 391px
    padding-bottom: 10px
    .btn 
      margin-top: 20px

  .logo
    width: 92px

  .product-menu 
    text-align: center
    > li
      width: 32%

  .footer-top ul
    max-width: 355px 
    > li 
      > a
        font-size: 17px

  .footer-top .container > div
    margin-right: 20px

  .carousel-caption 
    .caption-title
      font-size: 100px
      span 
        font-size: 36px
        line-height: 40px
        max-width: 700px

  .carousel-inner > .item > img
    min-height: 450px

  .last-work
    min-height: 445px
    p 
      min-height: 160px
      max-height: 445px
    img 
      width: 360px

  .how-work-body p
    max-width: 290px

  .production-body
    text-align: left
    .btn-wrap
      width: 450px
      float: right
      text-align: center
    img 
      max-width: 450px
      margin-bottom: 15px

  .order-form
    .number
      font-size: 48px 
    .bottom-block input[type="text"]
      max-width: 300px

  .works-list .img-wrap .item-hover
    line-height: 220px

  .news-list
    .news-title, p  
      padding-left: 82px 
    .date
      margin-right: 15px




@media only screen and (max-width: 992px)
  
  .head-info .phone-icon
    display: none

  .hedaer-nav .header-navigation 
    > li 
      > a
        padding: 23px 9px 13px
        font-size: 14px

  .navbar-default
    width: 332px

  .head-info
    width: 296px
    padding-left: 20px

  .product-menu 
    text-align: center
    > li
      width: 32%
      min-height: 275px
      .product-body
        padding: 85px 20px 30px
        min-height: 275px

  .footer-top 
    .footer-nav
      margin-left: 150px
    .container > div
      margin-right: 55px
      margin-bottom: 25px

  .footer-bottom
    .develop
      min-width: 310px 
    p
      font-size: 16px

  .carousel-control.left
    left: 5%

  .carousel-control.right
    right: 5%

  .carousel-caption 
    .caption-title
      font-size: 80px
      span 
        font-size: 28px
        line-height: 32px
        max-width: 600px

  .carousel-inner > .item > img
    min-height: 400px

  .last-work
    min-height: 100%
    p 
      min-height: 159px
      max-height: 100%
    img 
      width: 360px

  .company-news
    margin-bottom: 25px

  .how-work-body
    div:nth-child(3), div:nth-child(4), div:nth-child(1), div:nth-child(2)
      padding: 10px 15px
    > div 
      min-height: 206px 
    .number
      margin-bottom: 10px

  .order-form 
    .bottom-block input[type="text"]
      max-width: 215px
      margin-right: 10px

    .number
      font-size: 46px

  .works-list .img-wrap .item-hover
    line-height: 227px

  .aside-menu
    text-align: center
    margin: 20px auto 20px
    > li 
      display: inline-block
      max-width: 220px
      margin: 20px 20px

  .aside-nav
    text-align: center
    > li 
      display: inline-block
      margin: 15px

  .production-body
    text-align: left
    .btn-wrap
      width: 100%
      float: none
      text-align: center
    img 
      max-width: 100%
      float: none
      margin-bottom: 15px


@media only screen and (max-width: 767px)

  body, html
    height: auto
  #wrapper
    min-width: 1px
    margin-bottom: 0px
  .page-buffer
    display: none
  .footer
    height: auto

  .title-h2
    font-size: 28px


  .btn
    height: 40px
    line-height: 40px
    font-size: 16px

  .header-top
    background: none
    box-shadow: 0px 2px 8px rgba(191, 191, 191, 0.65)
    position: relative
    z-index: 11

  .logo 
    width: 88px
  
  .head-info
    width: 68%
    margin: 0 auto
    float: none
    text-align: center
    padding: 40px 0 0
    .btn  
      margin-top: 0
      vertical-align: middle
      margin-bottom: 15px
    .number
      color: #000000
      vertical-align: middle
      margin-bottom: 15px
      margin-top: 0

  .navbar-default
    width: 100%
    position: relative
    top: -84px
    height: 30px
    min-height: 100%
    .navbar-toggle
      margin-right: 0
      position: absolute
      top: 20px
      right: 0
    .navbar-collapse
      margin-right: -15px
      margin-left: -15px
      text-align: center
      margin-top: 58px
      border: none
      box-shadow: none
      position: relative
      top: 57px 
      z-index: 10
      box-shadow: inset 0 8px 8px -6px rgba(191, 191, 191, 0.65), inset 0 -8px 8px -20px rgba(191, 191, 191, 0.65)

    .navbar-nav 
      margin-left: 0
      margin-right: 0
      text-align: center
      margin-top: 10px
      
      > li
        width: initial 
        display: inline-block
        float: none
        > a 
          padding: 14px 10px

  .hedaer-nav .header-navigation  
    text-align: center
    > li
      float: none
      display: inline-block
      > a 
        padding: 23px 10px 13px
        font-size: 13px

  .product-menu 
    > li
      width: 48%
      margin-left: 1%
      margin-right: 1%

  .owl-carousel .owl-item img
    width: initial
    margin: 0 auto

  .footer-bottom
    .copyright
      width: 100%
      margin-bottom: 10px
    .develop
      padding-left: 20px
      width: 100% 
      a 
        display: inline-block
        vertical-align: middle
    p
      float: none
      display: inline-block
      vertical-align: middle

  .footer
    text-align: center

  .footer-top 
    .logo img 
      display: inline-block 
    ul 
      max-width: 100%
    .container
      
      > div
        margin: 0 20px 20px 
    .footer-nav
      margin-left: 0px
  
  .carousel-caption 
    .caption-title
      padding: 0 20px

  .carousel-control.right, .carousel-control.left
    display: none

  .last-work
    p 
      min-height: 122px 
    img
      width: 300px

  .how-we-work .slogan
    font-size: 20px
    line-height: 22px

  .advantages .block
    padding: 15px 
    min-height: 348px

  .order-form 
    div[class^="col"]
      padding-left: 15px
      padding-right: 15px
    .form-divider
      display: none
    .bottom-block 
      padding: 15px
      .title
        font-size: 28px
      form
        max-width: 360px
        margin: 0 auto
        input[type="text"]
          margin-bottom: 10px
          width: 100%
          max-width: 100%

  .works-list .img-wrap .item-hover
    display: none

  .work-body
    max-width: 400px
    margin: 0 auto 25px

  .caption span
    font-size: 22px
    line-height: 26px

  .map
    height: 350px

  .news-list
    text-align: center
    > li 
    .news-block   
      max-width: 310px
      text-align: left
      margin: 0 auto 10px
  
  .signboard-list
    text-align: center
    > li 
      text-align: left
    .block-info span
      min-width: 215px

  .signboard-body
    max-width: 500px
    margin: 0 auto 20px

@media only screen and (max-width: 600px)
  
  .last-work
    p 
      min-height: 100%
    img 
      float: none 
    > div 
      width: 100%
      margin-top: 20px

  .how-work-body
    .number
      margin-right: 10px 
    p 
      max-width: 70%
    > div
      width: 70%
      min-height: 100%

  .production-body .title 
    span  
      max-width: 250px
    b
      font-size: 68px

  .advantages 
    span[class^="icon"]
      margin-bottom: 20px
      width: 90px
      height: 90px
    .block
      padding: 15px 
      min-height: 100%
      width: 100%
      max-width: 380px
      margin: 0 auto 15px
      float: none

  .aside-nav
    max-width: 250px
    margin: 0 auto 15px



@media only screen and (max-width: 479px)
  h1, .site-h1-tt
    font-size: 24px

  .title-h2
    font-size: 24px
    .title-icon
      margin-top: 0

  .pagination > li > a
    margin: 0 4px 5px

  .head-info
    width: 80%
    padding-top: 0px

  .logo
    height: 100%
    float: none
    margin: 0 auto 15px

  .hedaer-nav .header-navigation
    > li
      width: 49% 
      > a
        padding-top: 15px
        padding-bottom: 10px

  .navbar-default
    top: -27px
    .navbar-toggle
      position: static
    .navbar-collapse
      top: 0px
      margin-top: 0
    .navbar-nav 
      > li
        width: 100%
        > a 
          padding: 10px 

  .footer-top .container > div
    width: 100%
    margin: 0 0 15px

  .carousel
    display: none

  .product-menu 
    text-align: center
    > li
      width: 100%
      max-width: 380px
      margin: 0 auto 15px
      min-height: 150px
      .product-body
        min-height: 150px
        padding: 22px 15px
        span[class^="icon"]
          margin-bottom: 15px
    
  .how-work-body > div
    width: 95%

  .production-body 
    ul > li
      padding-left: 55px
      font-size: 16px
    .title 
      span  
        max-width: 180px
        font-size: 14px
        line-height: 18px
      b
        font-size: 55px

  .order-form
    .number 
      font-size: 40px 
    .bottom-block .title
      font-size: 21px

  .map
    display: none

  .signboard-list .block-info span
    min-width: 150px
