@import const

// placeholder
=placeholder-color($color-pl)
  &:-moz-placeholder,
  &::-moz-placeholder
    color: $color-pl
    opacity: 1
  &::-webkit-input-placeholder
    color: $color-pl

// border-radius
=border-radius($radius: 5px)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius
