@import mixins
@import const

/*----------- Typography *
 ------------------------------------------------------------*/
html, body
  height: 100%

body
  background-color: #ffffff
  font-family: 'TextCond-Bold', Arial, sans-serif
  font-size: $site-text-size
  line-height: 24px
  color: $site-text-color
  margin: 0
  padding: 0
  width: 100%

h1, .title-h1, h2, .title-h2, h3, .title-h3, h4, .title-h4, h5, .title-h5
  display: block
  font-family: 'TextCond-Bold', Arial, sans-serif
  line-height: 1.1em
  color: $site-title-color
  margin-bottom: 15px

h1, .title-h1
  font-size: $site-h1-size

h2, .title-h2
  font-size: $site-h2-size

h3, .title-h3
  font-size: $site-h3-size

h4, .title-h4
  font-size: $site-h4-size
  font-family: 'TextCond-Bold'

h5, .title-h5
  font-size: $site-h5-size
  font-family: 'TextCond-Bold'

p
  font-family: 'TextCond-Regular', sans-serif
  margin-bottom: 20px

ul
  margin-bottom: 20px

a
  color: $color-link
  text-decoration: none
  &:hover
    text-decoration: underline
    color: darken($color-link, 10%)

img
  vertical-align: middle
  max-width: 100%