$brown: #cf9d41;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Myriad Pro', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'Myriad Pro', sans-serif;
  transition: 300ms;
  color: #000;
  &:hover {
    text-decoration: none;
    color: $brown;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.burger {
  display: none;
}

.container {
  max-width: 1260px;
  position: relative;
  padding: 0;
}

.logo {
  width: 220px;
  flex-shrink: 0;
  padding-top: 2px;
}

.ref {
  display: inline-block;
  background-color: $brown;
  border-radius: 25px;
  padding: 15px 64px 15px 24px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font: 700 16px 'Myriad Pro';
  &:hover {
    color: #fff;
    padding-left: 54px;
    padding-right: 34px;
    .round {
      width: calc(100% - 14px);
      border-radius: 25px;
      justify-content: flex-start;
      i {
        padding-left: 16px;
      }
    }
  }
  span {
    position: relative;
    z-index: 5;
  }
  .round {
    background-color: #dbb671;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    transition: 300ms;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 14px;
    }
  }
}

.link {
  color: #fff;
  background-color: $brown;
  font: 400 14px/28px 'Myriad Pro';
  border-radius: 30px;
  padding: 0 16px;
  &:hover {
    background-color: #d8a850;
    color: #fff;
  }
}

.head {
  font: 700 34px/1.2 'Myriad Pro';
  margin-bottom: 22px;
  padding-right: 90px;
  a {
    font: 700 34px/1.1 'Myriad Pro';
    color: $brown;
    border-bottom: 1px solid $brown;
    margin-left: 10px;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

// Bread

.bread {
  margin: 0;
  padding: 21px 0 10px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &-wrap {
    background-color: #edf2f4;
  }
  &.bread-category {
    padding-bottom: 18px;
  }
  &.bread-article {
    padding-bottom: 18px;
    margin-bottom: 37px;
  }
  li {
    color: #817f7d;
    margin-right: 20px;
    margin-bottom: 2px;
    position: relative;
    &:after {
      content: '/';
      display: block;
      color: #817f7d;
      position: absolute;
      top: 0;
      right: -12px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: #817f7d;
      border-bottom: 1px solid #817f7d;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Header

.header {
  display: flex;
  padding: 19px 0;
  &-content {
    flex-grow: 10;
    padding: 0 77px 0 45px;
  }
  &-body {
    display: flex;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  &-items {
    display: flex;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-right: 27px;
    &:last-child {
      margin-right: 0;
      margin-left: 16px;
    }
    i {
      color: $brown;
    }
    a {
      margin-left: 8px;
    }
  }
}

// Header callback

.header .callback {
  width: 187px;
  flex-shrink: 0;
  text-align: center;
  margin-top: -2px;
  &__tel {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
    &:hover {
      color: $brown;
    }
  }
}

.city {
  position: relative;
  > span {
    margin-right: 2px;
  }
  > a {
    color: #442828;
    font-weight: 700;
    text-decoration: underline;
  }
  &-select {
    width: 290px;
    background-color: #faf5ed;
    border: 1px solid #cfa051;
    margin-top: 13px;
    padding: 13px 20px 20px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: -4px;
    z-index: 10;
    display: none;
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: #faf5ed;
      border-top: 1px solid #cfa051;
      border-left: 1px solid #cfa051;
      position: absolute;
      top: -6px;
      left: 100px;
      transform: rotate(45deg);
    }
  }
  &-head {
    font-size: 16px;
    margin-bottom: 14px;
    a {
      font-weight: 700;
      text-decoration: underline;
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-links a {
    line-height: 30px;
    padding: 0 24px;
    background-color: #fff;
    border: 1px solid #bababa;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $brown;
      border: 1px solid $brown;
    }
  }
}

// Navigation

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font: 700 16px "Myriad Pro";
      text-transform: uppercase;
    }
  }
}

// Showcase

.showcase {
  padding: 54px 0 58px;
  &-wrap {
    background: url(../images/showcase-main.jpg) no-repeat 50%;
    background-size: cover;
  }
  &__head {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 37px;
    text-align: center;
  }
}

// Showcase inner

.showcase-inner {
  background: #edf2f4;
  .showcase {
    padding: 0 0 23px;
    margin-bottom: 27px;
    &__head {
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1;
      margin-bottom: 16px;
    }
  }
}

// Showcase about

.showcase-about {
  background: url(../images/showcase-aboutBg.jpg) no-repeat 50%;
  background-size: cover;
  height: 710px;
  .showcase {
    padding-top: 22px;
  }
}

// Showcase product

.showcase-product {
  background: url(../images/product-showcaseBg.jpg) no-repeat 50%;
  background-size: cover;
  .showcase {
    padding-top: 22px;
    padding-bottom: 20px;
  }
  .bread {
    margin-bottom: 101px;
  }
}

// Showcase services

.showcase-services {
  margin-bottom: 100px;
  &-wrap {
    background: #edf2f4;
    .bread {
      margin-bottom: 56px;
    }
    .showcase {
      padding: 0 0 22px;
    }
  }
  &-img img {
    max-height: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &-content {
    width: 455px;
    position: relative;
    z-index: 5;
    h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 30px;
    }
    p {
      line-height: 1.65;
      margin-bottom: 60px;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 31px;
    .ref {
      font-size: 24px;
      border-radius: 30px;
      padding: 15px 75px 15px 32px;
      &:hover {
        padding-right: 52px;
        padding-left: 55px;
        .round {
          width: calc(100% - 14px);
        }
      }
      .round {
        width: 48px;
        height: 48px;
      }
    }
    .price {
      font-size: 34px;
    }
  }
  &-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    li {
      cursor: pointer;
      transition: 300ms;
      width: 310px;
      height: 80px;
      background-color: #fff;
      border: 1px solid #aeaeae;
      margin-right: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        margin-right: 0;
      }
      &.active a {
        border-bottom: 1px solid transparent;
      }
      &:hover a {
        border-bottom: 1px solid transparent;
      }
      a {
        color: $brown;
        font-size: 24px;
        border-bottom: 1px solid $brown;
        line-height: 1;
      }
    }
  }
}

// Select

.select {
  padding: 26px 10px 34px;
  background-color: #fff;
  text-align: center;
  &__head {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
    a {
      font-size: 34px;
      font-weight: 700;
      line-height: 1;
      color: $brown;
      border-bottom: 1px solid $brown;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-items {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
  }
  &-item {
    width: 170px;
    height: 50px;
    margin-right: 10px;
    &.inform {
      width: 280px;
    }
    &:last-child {
      margin-right: 0;
    }
    select, input {
      width: 100%;
      height: 100%;
      border: 1px solid #d7d7d7;
      padding: 0 22px 0 14px;
      color: #888;
      font: 400 16px 'Myriad Pro';
      transition: 300ms;
      &:focus {
        border: 1px solid $brown;
        color: #000;
      }
    }
    select {
      -webkit-appearance: none;
      background-image: url(../images/select-arrow.png);
      background-position: 93% center;
      background-repeat: no-repeat;
      line-height: 1;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
    }
    input {
      &::-webkit-input-placeholder { 
        color: #888;
      }
      &:-moz-placeholder { 
        color: #888;
      }
      &::-moz-placeholder { 
        color: #888;
      }
      &:-ms-input-placeholder {
        color: #888;
      }
    }
  }
  &-links {
    .ref {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
    .find {
      background-color: #442828;
      .round {
        background-color: #735e5e;
      }
    }
  }
}

// Main catalog

.main-catalog {
  padding: 40px 0 30px;
  &-wrap {
    background-color: #edf2f4;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    width: 620px;
    margin: 0 20px 20px 0;
    &.elems {
      .main-catalog-content {
        width: 300px;
        margin-right: 20px;
        padding-left: 23px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &.map {
      .main-catalog-content {
        padding: 38px 12px 0 40px;
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
          font-style: italic;
          line-height: 1.6;
          margin-bottom: 23px;
          padding-right: 40px;
        }
      }
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  &-img {
    width: 300px;
    flex-shrink: 0;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    flex-grow: 10;
    background-color: #fff;
    padding: 28px 12px 0 26px;
    h2 {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 14px;
    }
    table tbody tr td {
      height: 28px;
      &:first-child {
        width: 180px;
      }
      a {
        color: #442828;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        color: #817f7d;
      }
    }
  }
}

// Object

.object {
  padding: 45px 0 50px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 2000px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 100;
  }
  &-wrap {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
  }
  &-items {
    display: flex;
    margin-bottom: 32px;
    position: relative;
  }
  &-item {
    width: 380px;
    margin-right: 58px;
    border: 1px solid #ddd;
    transition: 300ms;
    display: flex !important;
    flex-direction: column;
    position: relative;
    &:after {
      content: '';
      display: block;
      background-color: rgba(255, 255, 255, .5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
    }
    &.slick-active {
      &:after {
        display: none;
      }
    }
    &:hover {
      border: 1px solid #000;
      .object {
        &-img {
          &:before, &:after {
            opacity: 1;
          }
        }
        &-images {
          li i {
            color: #000;
            &.fa-heart {
              color: red;
            }
          }
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-img {
    position: relative;
    &:before {
      content: '';
      display: block;
      background-color: rgba(193, 143, 51, .9);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: 300ms;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/zoom.png) no-repeat 50%;
      width: 74px;
      height: 74px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin-top: 15px;
      opacity: 0;
      transition: 300ms;
    }
  }
  &-content {
    padding: 25px 24px 26px;
    background-color: #fff;
    transition: 300ms;
    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
    }
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    &__head {
      font-size: 18px;
      font-weight: 700;
    }
  }
  &-images {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    li {
      margin-right: 12px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      i {
        font-size: 16px;
        color: $brown;
        transition: 300ms;
      }
    }
  }
  &-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 21px;
    margin-bottom: 15px;
    .price {
      font-size: 24px;
      font-weight: 700;
    }
    .square-meter {
      font-size: 18px;
      font-weight: 700;
      sup {
        font-size: 12px;
      }
    }
  }
  &-link {
    text-align: center;
  }
}

// Object slick

.object-items .slick {
  &-arrow {
    background: url(../images/left.png) no-repeat left;
    width: 12px;
    height: 20px;
    position: absolute;
    top: -49px;
    right: 58px;
    z-index: 10;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #999;
    padding: 0;
    text-indent: 9999px;
    &:hover {
      background-position: right;
    }
    &:focus {
      outline: none;
    }
  }
  &-next {
    background: url(../images/right.png) no-repeat left;
    right: 0;
  }
  &-list {
    overflow: visible;
  }
}

// Object nearest

.object-nearest {
  background-color: #edf2f4;
  .object-item:hover {
    .object-content {
      background-color: #edf2f4;
    }
  }
}

// Object description

.object-description {
  display: flex;
  padding-bottom: 60px;
  &-sidebar {
    flex-shrink: 0;
    width: 300px;
    padding-top: 26px;
  }
  &-content {
    padding-right: 80px;
    flex-grow: 10;
    .head {
      margin-bottom: 20px;
    }
    p {
      line-height: 1.65;
      margin-bottom: 26px;
    }
  }
  &-items {
    display: flex;
    padding-top: 19px;
  }
  &-item {
    width: 400px;
    border: 2px solid #cf9d41;
    padding: 33px 36px 30px;
    margin-right: 60px;
    &.second .ref {
      background-color: #6e493e;
      .round {
        background-color: #735e5e;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    .cost {
      display: flex;
      align-items: flex-end;
      margin-bottom: 18px;
      &__value {
        font-size: 34px;
        font-weight: 700;
        margin-right: 14px;
        position: relative;
        &:after {
          content: '/';
          display: block;
          position: absolute;
          top: 10px;
          right: -10px;
          font-size: 24px;
          font-weight: 400;
        }
        b {
          font-size: 18px;
        }
      }
      span {
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 3px;
      }
    }
  }
  &__head {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 4px;
  }
}

// Trust

.trust {
  padding: 50px 0 55px;
  &-wrap {
    background-color: $brown;
  }
  .head {
    color: #fff;
    margin-bottom: 44px;
  }
  &-items {
    display: flex;
  }
  &-item {
    display: flex;
    width: 300px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-img {
    width: 60px;
    flex-shrink: 0;
  }
  &-content {
    flex-grow: 10;
    padding: 3px 0 0 21px;
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 27px;
    }
    p {
      font-size: 16px;
      font-style: italic;
      line-height: 1.6;
      margin-bottom: 0;
    }
  }
}

// Complex

.complex {
  .object {
    padding: 52px 0 46px;
    &-items {
      margin-bottom: 38px;
    }
  }
  &-content {
    padding: 23px 14px 26px 24px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 13px;
    }
    &__text {
      font-size: 16px;
      line-height: 1.65;
      margin-bottom: 11px;
    }
    &__price {
      font-size: 24px;
      font-weight: 700;
      sup {
        font-size: 14px;
      }
    }
  }
}

// Main offer

.main-offer {
  padding: 62px 0 44px;
  &-wrap {
    background: url(../images/main-offer-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  .trust {
    &-content {
      color: #fff;
      padding-left: 18px;
    }
  }
}

// Calculator

.calculator {
  padding: 46px 0 70px;
  .head {
    margin-bottom: 24px;
  }
  &-wrap {
    background-color: #edf2f4;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 50%;
  }
}

.calc {
  padding: 40px 40px 26px;
  background-color: #fff;
  &-item {
    margin-bottom: 30px;
    &.three {
      margin-bottom: 5px;
    }
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      p {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
      }
      input {
        width: 200px;
        height: 60px;
        border: 1px solid $brown;
        border-radius: 4px;
        padding: 0 42px;
        font: 400 24px 'Myriad Pro';
      }
    }
  }
  &-step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    div {
      font-size: 14px;
      font-weight: 700;  
      color: $brown;
    }
  }
}

// Calc slider

.calc-slider {
  margin: 0 35px 45px;
  padding: 0;
  list-style: none;
  display: flex;
  li {
    width: 54px;
    margin: 0 15px;
    text-align: center;
    label {
      cursor: pointer;
      margin-bottom: 11px;
      input {
        display: none;
        &:checked + span .round {
          background-color: #52ba57;
        }
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        background-color: #fff;
        border: 1px solid #d1d1d1;
        border-radius: 50%;
        transition: 300ms;
        .round {
          width: 33px;
          height: 33px;
          background-color: #edf2f4;
          border: none;
        }
      }
    }
  }
  &__value {
    font-weight: 700;
  }
  .slick {
    &-arrow {
      border: none;
      cursor: pointer;
      text-indent: 9999px;
      background: url(../images/left.png) no-repeat left;
      width: 12px;
      height: 20px;
      position: absolute;
      top: 17px;
      left: -43px;
      z-index: 10;
      &:focus {
        outline: none;
      }
      &:hover {
        background-position: right;
      }
    }
    &-next {
      left: auto;
      right: -43px;
      background: url(../images/right.png) no-repeat left;
    }
  }
}

.calculator-item.info {
  background-color: $brown;
  padding: 33px 44px;
  .info {
    &-top {
      span {
        display: block;
        color: #fff;
        margin-bottom: 5px;
        font-size: 18px;
        font-style: italic;
      }
      h2 {
        display: flex;
        align-items: flex-end;
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 11px;
        span {
          flex-shrink: 0;
          font-weight: 400;
          padding: 0 0 1px 4px;
          margin-bottom: 0;
          font-style: normal;
        }
      }
      p {
        color: #fff;
        font-style: italic;
        margin-bottom: 14px;
        font-size: 18px;
      }
      a {
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-elem {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 12px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li {
          width: 54px;
          height: 54px;
          margin-left: -17px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      a {
        color: #edf2f4;
        font-size: 18px;
        text-decoration: underline;
        margin-left: 25px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-items {
      padding-right: 20px;
      margin-bottom: 21px;
    }
    &-item {
      display: flex;
      align-items: center;
      padding: 6px 0;
      border-bottom: 2px solid #fff;
      p {
        width: 325px;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
      }
      span {
        font-size: 34px;
        font-weight: 400;
      }
    }
    &__text {
      font-style: italic;
      line-height: 1.55;
      color: #fff;
      font-size: 24px;
    }
    &__note {
      font-weight: 700;
      font-style: italic;
      font-size: 24px;
      color: #fff;
      margin-bottom: 17px;
    }
    &-bottom {
      display: flex;
      align-items: center;
      input {
        width: 340px;
        height: 60px;
        background-color: #fff;
        border: none;
        border-radius: 4px 0 0 4px;
        color: #a2a2a2;
        font: 400 24px 'Myriad Pro';
        padding: 0 10px 0 28px;
      }
      .ref {
        border: none;
        cursor: pointer;
        transition: 300ms;
        width: 200px;
        height: 61px;
        border-radius: 4px;
        color: $brown;
        font: 700 16px 'Myriad Pro';
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
        &:hover .round {
          border-radius: 4px;
        }
      }
      button {
        border: none;
        cursor: pointer;
        transition: 300ms;
        width: 200px;
        height: 60px;
        background-color: #442828;
        border-radius: 4px;
        color: #fff;
        font: 700 16px 'Myriad Pro';
        text-transform: uppercase;
        &:hover {
          background-color: #643a3a;
        }
      }
    }
  }
}

// Slider ui

.ui-slider-horizontal {
  height: 2px;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-widget-content {
  background-color: #ddd;
}
.ui-widget-header {
  background-color: $brown;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  transform: translateY(-50%);
}
.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background-color: $brown;
   border: 2px solid #442828;
  border-radius: 50%;
  cursor: pointer;
}

// About

.about {
  display: flex;
  padding: 70px 0 66px;
  &-wrap {
    overflow: hidden;
  }
  &-side {
    width: 380px;
    flex-shrink: 0;
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 26px;
    }
  }
  &-body {
    flex-grow: 10;
    padding-right: 120px;
  }
  &-logo {
    margin-bottom: 37px;
  }
  &-elem {
    padding-left: 80px;
  }
  &-content {
    margin-bottom: 52px;
    h2 {
      font-size: 34px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    p {
      line-height: 1.65;
      margin-bottom: 20px;
    }
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 200px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    p {
      font-size: 20px;
      font-weight: 700;
      font-style: italic;
      line-height: 1.3;
      margin: 16px 0 0;
    }
  }
}

// About slider

.about-slider {
  position: relative;
  .slick {
    &-arrow {
      border: none;
      cursor: pointer;
      background: url(../images/left.png) no-repeat left;
      width: 12px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2px;
      z-index: 10;
      margin-top: -18px;
      text-indent: 9999px;
      &:hover {
        background-position: right;
      }
      &:focus {
        outline: none;
      }
    }
    &-next {
      background: url(../images/right.png) no-repeat left;
      left: auto;
      right: 22px;
    }
  }
  &-img {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    position: relative;
    &:after {
      content: '';
      display: block;
      background-color: #edf2f4;
      position: absolute;
      top: 40px;
      left: 60px;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }
  &-item {
    h2 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}

// About inform

.about-inform {
  padding: 48px 0 52px;
  margin: 0 82px;
  p {
    line-height: 1.65;
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Main news

.main-news {
  padding: 46px 0 42px;
  display: flex;
  &-wrap {
    background-color: #edf2f4;
    padding-bottom: 47px;
  }
  &-blog {
    flex-shrink: 0;
    width: 540px;
    margin-right: 100px;
    .head {
      margin-bottom: 26px;
    }
    .news {
      &-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
      }
      &-content {
        padding-top: 22px;
      }
    }
  }
  &-body {
    padding-top: 13px;
    .news {
      &-nav {
        margin-bottom: 32px;
        li {
          margin-right: 36px;
          a {
            font-size: 16px;
          }
        }
      }
      &-content {
        padding-top: 0;
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-link {
    text-align: center;
  }
}

// News

.news {
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-right: -78px;
    margin-bottom: 12px;
  }
  &-item {
    width: 400px;
    margin-right: 78px;
    margin-bottom: 40px;
    &.basic {
      width: 100%;
      .news {
        &-content {
          padding-top: 24px;
        }
      }
    }
  }
  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    .date {
      color: #817f7d;
      font-size: 16px;
      font-style: italic;
      padding-right: 11px;
      margin-right: 7px;
      position: relative;
      &:after {
        content: '/';
        display: block;
        color: #817f7d;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &__link {
      color: $brown;
      font-size: 16px;
      font-style: italic;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-content {
    padding-top: 30px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 9px;
    }
    p {
      line-height: 1.65;
      margin-bottom: 0;
      a {
        margin-left: 2px;
        color: $brown;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &-nav {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 27px;
      &:last-child {
        margin-right: 0;
      }
      &.active a {
        color: #000;
        border-bottom: 1px solid transparent;
      }
      a {
        font-size: 18px;
        color: $brown;
        font-weight: 700;
        font-style: italic;
        border-bottom: 1px solid $brown;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

// News more

.news-more {
  padding: 42px 0 36px;
  .head {
    margin-bottom: 29px;
  }
  &-wrap {
    background-color: #edf2f4;
  }
  &-link {
    text-align: center;
  }
  .news {
    &-items {
      margin-right: 0;
      margin-bottom: 0;
    }
    &-item {
      width: 380px;
      margin-right: 60px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

// News popular

.news-popular {
  background-color: #fff;
}

// Callback

.callback {
  position: relative;
  &-content {
    width: 540px;
    height: 520px;
    padding: 50px 100px 0 0;
    background-color: $brown;
    position: absolute;
    top: 0;
    left: 0;
    &:before {
      content: '';
      display: block;
      background-color: $brown;
      width: 3000px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 100%;
    }
  }
  &-map {
    font-size: 0;
    height: 520px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &-top {
    margin-bottom: 24px;
    a {
      font-size: 34px;
      font-weight: 700;
      &:hover {
        color: #fff;
      }
    }
    p {
      line-height: 1.65;
      margin-bottom: 0;
    }
  }
  &__head {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 6px;
  }
  &-items {
    margin-bottom: 33px;
  }
  &-item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
    &-head {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
      span {
        width: 24px;
        height: 24px;
        background-color: #fff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 6px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        &:last-child {
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0;
          margin-right: 5px;
        }
        a {
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .ref {
    background-color: #442828;
    padding-left: 38px;
    &:hover {
      padding-left: 68px;
    }
    .round {
      background-color: #735e5e;
    }
  }
}

// Footer

.footer {
  display: flex;
  justify-content: space-between;
  padding: 27px 0 28px;
  &-wrap {
    background-color: #442828;
  }
  &-content {
    width: 560px;
  }
  &-logo {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    p {
      margin: -8px 0 0 10px;
      color: #fff;
      font-size: 34px;
      font-weight: 700;
      line-height: 1;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 13px 0 13px 7px;
    list-style: none;
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    li {
      margin-right: 35px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 18px;
        color: #fff;
        &:hover {
          color: $brown;
        }
      }
    }
  }
  &-info {
    text-align: right;
    padding-top: 6px;
  }
  &-soc {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    &__head {
      font-size: 16px;
      font-style: italic;
      color: #fff;
      margin-right: 24px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-content: center;
      li {
        margin-right: 17px;
        &:last-child {
          margin-right: 0;
        }
        a {
          width: 28px;
          height: 28px;
          &:hover {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

// Footer objects

.footer-objects {
  padding-bottom: 26px;
  .head {
    color: #fff;
    margin-bottom: 18px;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 260px;
    margin-right: 61px;
    &:last-child {
      margin-right: 0;
    }
    h2 {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 15px;
    }
    table {
      width: 100%;
      tbody tr td {
        height: 28px;
        color: #fff;
        &:first-child {
          width: 180px;
        }
        a {
          color: #fff;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Bottom

.bottom {
  padding: 10px 22px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-wrap {
    background-color: #191919;
  }
  &-item {
    p {
      color: #b1b0b0;
      font-size: 14px;
      line-height: 1.65;
      margin-bottom: 0;
      a {
        font-size: 14px;
        color: #b1b0b0;
        &:hover {
          color: $brown;
        }
      }
    }
    > a {
      font-size: 14px;
      text-decoration: underline;
      color: $brown;
      margin-bottom: 5px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Modal question

.modal {
  &-question {
    width: 820px;
    margin: 0 auto;
    background-color: #faf5ed;
    border: 1px solid $brown;
    border-radius: 4px;
    padding: 22px 40px 48px 33px;
    display: none;
  }
  &__head {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 28px;
  }
  &-form {
    padding-left: 4px;
    textarea {
      resize: none;
      width: 100%;
      height: 120px;
      background-color: #fff;
      border: 1px solid #bababa;
      border-radius: 4px;
      padding: 17px 22px 10px;
      color: #6c6966;
      font: 400 24px 'Myriad Pro';
      &:focus {
        border: 1px solid $brown;
        color: $brown;
      }
      &::-webkit-input-placeholder { 
        color: #6c6966;
      }
      &:-moz-placeholder { 
        color: #6c6966;
      }
      &::-moz-placeholder { 
        color: #6c6966;
      }
      &:-ms-input-placeholder {
        color: #6c6966;
      }
    }
  }
  &-inputs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
  }
  &-input {
    width: 360px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    input {
      width: 100%;
      height: 60px;
      background-color: #fff;
      border: 1px solid #bababa;
      border-radius: 4px;
      padding: 0 22px;
      color: #6c6966;
      font: 400 24px 'Myriad Pro';
      &:focus {
        border: 1px solid $brown;
        color: $brown;
      }
      &::-webkit-input-placeholder { 
        color: #6c6966;
      }
      &:-moz-placeholder { 
        color: #6c6966;
      }
      &::-moz-placeholder { 
        color: #6c6966;
      }
      &:-ms-input-placeholder {
        color: #6c6966;
      }
    }
  }
  &-error {
    font-size: 14px;
    color: $brown;
    padding-left: 14px;
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    &__compliance {
      font-size: 14px;
      font-style: italic;
      padding: 5px 0 0 5px;
      a {
        color: #000;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    button {
      cursor: pointer;
      border: none;
      transition: 300ms;
      height: 50px;
      background-color: #3b312e;
      border-radius: 25px;
      box-shadow: 3.2px 3.8px 18px 2px rgba(59, 49, 46, 0.5);
      color: #fff;
      font: 700 18px 'Myriad Pro';
      text-transform: uppercase;
      padding: 0 30px;
      &:hover {
        color: $brown;
      }
    }
  }
}

.fancybox-close-small {
  display: none;
}

// Main

.main {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
  }
  &-body {
    width: 880px;
  }
}

// Sidebar 

.sidebar {
  flex-shrink: 0;
  width: 300px;
  &.sidebar-category {
    padding-top: 23px;
  }
}

// Sidebar news

.sidebar-news {
  border: 1px solid $brown;
  padding: 28px 20px 27px;
  margin: 43px 0 60px;
  .news {
    &-top {
      margin-bottom: 14px;
    }
    &-content {
      padding-top: 0;
      margin-bottom: 42px;
      &:last-child {
        margin-bottom: 0;
      }
      &__head {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 1.4;
      }
    }
  }
}

// Sidebar mortgage

.sidebar-mortgage {
  background-color: #faf5ec;
  padding: 22px 18px 34px 19px;
  &__head {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 2px;
  }
  &__text {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  &__offer {
    background-color: #fff;
    border: 2px solid #442828;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #010101;
    line-height: 1.45;
    padding: 6px 26px 10px;
    margin: 0 12px 32px;
    text-align: center;
    span {
      font-size: 24px;
    }
  }
  &__info {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
    padding-left: 7px;
    b {
      display: block;
      line-height: 1.5;
    }
  }
  &-bottom {
    text-align: center;
    .link {
      width: 100%;
      line-height: 50px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      padding: 0;
      margin-bottom: 12px;
    }
  }
  &__link a {
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .calculator-item {
    width: 100%;
    margin-bottom: 42px;
  }
  .calc {
    padding: 0;
    background-color: #faf5ec;
    &-item {
      margin-bottom: 34px;
      &:last-child {
        margin-bottom: 0;
      }
      &-top {
        align-items: flex-end;
        margin-bottom: 18px;
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          padding-right: 38px;
        }
        input {
          width: 102px;
          height: auto;
          border: none;
          border-radius: 0;
          padding: 0;
          background-color: #faf5ec;
          text-align: right;
        }
      }
    }
  }
}

// Sidebar issues

.sidebar-issues {
  margin: 72px 0 41px;
  &.products-issues {
    margin-top: 61px;
  }
}

// Sidebar sections

.sidebar-sections {
  border: 1px solid $brown;
  padding: 28px 30px 36px;
  margin: 92px 0 59px;
  h2 {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 16px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        color: $brown;
        border-bottom: 1px solid $brown;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

// Sidebar article

.sidebar-article {
  padding-top: 87px;
}

// Main pagination

.main-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    padding: 0 17px;
    position: relative;
    &:after {
      content: '|';
      display: block;
      color: #817f7d;
      font-size: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
    &:last-child,
    &:nth-last-child(2) {
      &:after {
        display: none;
      }
    }
    &.prev,
    &.next {
      padding: 0 8px;
      &:after {
        display: none;
      }
    }
    &.active a {
      color: #817f7d;
      text-decoration: none;
    }
    a {
      text-decoration: underline;
      font-size: 18px;
      color: $brown;
      i {
        font-size: 16px;
      }
      &:hover {
        color: #817f7d;
        text-decoration: none;
      }
    }
  }
}

// Catalog

.catalog {
  padding-top: 2px;
  &-items {
    margin-bottom: 45px;
  }
  &-item {
    display: flex;
    border: 1px solid #d1d1d1;
    margin-bottom: 28px;
  }
  &-img {
    width: 300px;
    flex-shrink: 0;
    &:hover {
      opacity: .8;
    }
  }
  &-elem {
    position: relative;
    &:first-child {
      flex-shrink: 0;
      width: 256px;
      margin-right: 58px;
    }
  }
  &-content {
    display: flex;
    flex-grow: 10;
    padding: 27px 56px 21px 27px;
    &__head {
      margin-bottom: 15px;
      color: #442828;
      font-size: 18px;
      font-weight: 700;
      sup {
        font-size: 12px;
      }
    }
    &__address {
      line-height: 1.65;
    }
    &__text {
      color: #817f7d;
      line-height: 1.65;
    }
    &__date {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #817f7d;
      font-size: 14px;
    }
  }
  &-cost {
    .value {
      color: #442828;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    .price {
      margin-bottom: 4px;
      sup {
        font-size: 11px;
      }
    }
  }
  &-images {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    li {
      margin-right: 16px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
     i {
        color: $brown;
        font-size: 16px;
      } 
    }
  }
}

// Catalog nav

.catalog-nav {
  margin: 0 0 26px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    &.active a {
      color: #000;
      border-bottom: 1px solid transparent;
    }
    a {
      font-size: 34px;
      font-weight: 700;
      color: $brown;
      border-bottom: 1px solid $brown;
      &:hover {
        color: #000;
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Catalog top

.catalog {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }
  &-category {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    border: 1px solid #442828;
    border-radius: 20px;
    overflow: hidden;
    li {
      &.active a {
        background-color: #442828;
        color: #fff;
      }
      a {
        line-height: 40px;
        font-size: 18px;
        font-weight: 700;
        color: $brown;
        padding: 0 20px;
        &:hover {
          background-color: #442828;
          color: #fff;
        }
      }
    }
  }
  &-sort {
    display: flex;
    align-items: center;
    span {
      color: #817f7d;
      margin-right: 18px;
    }
    select {
      width: 220px;
      height: 40px;
      border: 1px solid #442828;
      border-radius: 20px;
      padding: 0 16px;
      font-size: 16px;
      font-style: italic;
       -webkit-appearance: none;
      background-image: url('../images/select-arrow.png');
      background-position: 93% center;
      background-repeat: no-repeat;
      line-height: 1;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
    }
  }
}

// Main advt

.main-advt {
  padding: 48px 0;
  &-wrap {
    background-color: #edf2f4;
  }
  h2 {
    margin-bottom: 18px;
    font-size: 34px;
    font-weight: 700;
  }
  p {
    line-height: 1.65;
    margin-bottom: 0;
  }
}

// Category

.category {
  &-head {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    span {
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 7px;
      padding-left: 17px;
    }
  }
  &-select {
    margin: 0 0 19px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 30%;
      display: flex;
      align-items: flex-end;
      margin-right: 44px;
      margin-bottom: 10px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      a {
        font-size: 18px;
        color: #442828;
        font-weight: 700;
        text-decoration: underline;
        margin-right: 13px;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        font-size: 18px;
        color: #817f7d;
        flex-shrink: 0;
      }
    }
  }
}

// Contacts

.contacts {
  padding: 40px 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-items {
    display: flex;
    align-items: center;
  }
  &-item {
    width: 300px;
    padding-left: 50px;
    margin-right: 18px;
    position: relative;
    &:first-child {
      margin-right: 82px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &-content {
    &__address {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      span {
        line-height: 1.45;
      }
    }
    &__head {
      font-size: 24px;
      line-height: 1;
    }
    &__mail {
      font-size: 24px;
      color: #442828;
      border-bottom: 1px solid #000;
      margin-top: 5px;
      &:hover {
        border-bottom: 1px solid transparent;
        color: #000;
      }
    }
    &__tel {
      font-size: 34px;
      font-weight: 700;
      line-height: 1;
    }
  }
  .ref {
    background-color: #442828;
    .round {
      background-color: #735e5e;
    }
  }
  &-map {
    height: 450px;
    margin-bottom: 44px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

// Realty

.realty {
  padding: 12px 0 44px;
  margin: 0 80px;
  .head {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
    line-height: 1.65;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Offices

.offices {
  padding-bottom: 10px;
  .head {
    margin-bottom: 37px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-item {
    width: 380px;
    border: 1px solid #cfa051;
    margin: 0 60px 50px 0;
    padding: 36px 14px 36px 41px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &__head {
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 22px;
      line-height: 1;
    }
    &__address {
      font-size: 18px;
    }
    &__tel {
      font-size: 18px;
      font-weight: 700;
    }
    &__mail {
      color: #442828;
      font-size: 18px;
      border-bottom: 1px solid #000;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-img {
    flex-shrink: 0;
    width: 15px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
  }
}

// Application

.application {
  padding: 50px 0 44px;
  display: flex;
  align-items: flex-start;
  position: relative;
  &-wrap {
    background-color: $brown;
  }
  &-logo {
    width: 260px;
    flex-shrink: 0;
    margin: 14px 49px 0 0;
  }
  &-head {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 23px;
    span {
      line-height: 1.3;
    }
  }
  &-content {
    width: 676px;
    &__text {
      color: #fff;
      font-size: 18px;
      margin-bottom: 31px;
      line-height: 1.65;
      padding-right: 30px;
    }
  }
  &-link {
    padding-left: 174px;
    .ref {
      background-color: #442828;
      .round {
        background-color: #735e5e;
      }
    }
  }
  &-img img {
    max-height: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

// Products

.products {
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 11px;
  }
  &-item {
    width: 420px;
    border: 1px solid #ddd;
    margin: 0 40px 29px 0;
    transition: 300ms;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:hover {
      border: 1px solid #442828;
      .products-img:before, .products-img:after {
        opacity: 1;
      }
    }
  }
  &-img {
    position: relative;
    &:before {
      content: '';
      display: block;
      background-color: rgba(193, 143, 51, 0.9);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: 300ms;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/zoom.png) no-repeat 50%;
      width: 74px;
      height: 74px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin-top: 15px;
      opacity: 0;
      transition: 300ms;
    }
  }
  &-content {
    padding: 20px 24px 36px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 7px;
    }
    &__address {
      margin-bottom: 16px;
    }
  }
  &-developer {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    span {
      margin-right: 21px;
    }
    a {
      text-decoration: underline;
      color: $brown;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-info {
    &__head {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      tbody tr td {
        height: 32px;
        &:first-child {
          width: 72px;
        }
        &:nth-child(2) {
          width: 108px;
        }
        &:nth-child(3) {
          width: 144px;
        }
        &:last-child {
          width: 44px;
          font-weight: 700;
        }
      }
    }
  }
  &-link {
    text-align: center;
  }
}

// Products select

.products-select {
  padding: 20px 40px 34px;
  .select {
    &__head {
      margin-bottom: 22px;
    }
    &-item {
      width: 240px;
      &.block {
        width: 140px;
      }
    }
  }
}

// Reviews

.reviews {
  padding: 38px 0 44px;
  .head {
    margin-bottom: 48px;
  }
  &-wrap {
    background-color: #edf2f4;
  }
  &-items {
    margin: 0 80px 30px;
  }
  &-item {
    display: flex;
    margin-bottom: 38px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-info {
    flex-shrink: 0;
    width: 300px;
    display: flex;
    padding-top: 3px;
  }
  &-img {
    width: 80px;
    height: 80px;
  }
  &-content {
    padding-left: 42px;
    h2 {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 0;
    }
  }
  &-body {
    padding-left: 22px;
    font-style: italic;
    line-height: 1.65;
    margin-bottom: 0;
  }
  &-links {
    text-align: center;
    margin-left: 132px;
    .ref {
      &:first-child {
        margin-right: 66px;
      }
    }
    .reviews-link {
      background-color: #5a423b;
      .round {
        background-color: #735e5e;
      }
    }
  }
}

// Partners

.partners {
  padding: 46px 0 34px;
  .head {
    margin-bottom: 48px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 26px;
  }
  &-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

//===== Product

.product {
  &-wrap {
    overflow: hidden;
    padding-bottom: 60px;
  }
  &-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-map {
    margin-bottom: 56px;
    &.product-object-map {
      margin-bottom: 49px;
      iframe {
        height: 540px;
      }
    }
    iframe {
      width: 100%;
      height: 350px;
      border: none;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
    padding-right: 31px;
  }
  &-link {
    padding: 8px 21px;
    border: 1px solid #a6a6a6;
    &-wrap {
      display: flex;
      align-items: center;
      .product-link {
        margin-right: 53px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    a {
      font-size: 18px;
      &.district {
        color: $brown;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Product items

.product {
  &-items {
    flex-shrink: 0;
    width: 380px;
    background-color: #faf5ec;
    padding: 16px;
  }
  &-item {
    display: flex;
    margin-bottom: 32px;
    &.second {
      margin-bottom: 21px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-img {
      padding-top: 6px;
      flex-shrink: 0;
      width: 50px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-right: 16px;
    }
    &-contact {
      display: flex;
      align-items: flex-end;
      margin-bottom: 14px;
    }
    &__tel {
      font-size: 24px;
      margin-right: 21px;
    }
    &__link {
      text-decoration: underline;
      color: $brown;
      margin-bottom: 2px;
    }
    &__head {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &__text {
      line-height: 1.65;
      margin-bottom: 10px;
      font-style: italic;
    }
    &__name {
      line-height: 1.65;
      font-style: italic;
    }
    .link {
      line-height: 40px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 23px;
    }
  }
}

// Product top

.product-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  &-sidebar {
    width: 220px;
    padding-top: 4px;
    .cost {
      margin-bottom: 83px;
      &__value {
        font-size: 34px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 17px;
      }
      &__price {
        font-size: 24px;
        font-weight: 400;
        sup {
          font-size: 14px;
        }
      }
    }
    .soc {
      &__head {
        font-size: 16px;
        font-style: italic;
        margin-bottom: 8px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li {
          margin-right: 16px;
          &:last-child {
            margin-right: 0;
          }
          a {
            width: 24px;
            height: 24px;
            &:hover {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
  &-content {
    width: 862px;
    .head {
      padding-right: 0;
      line-height: 1.3;
      margin-bottom: 14px;
    }
  }
}

// Product info

.product-info {
  display: flex;
  &__head {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__value {
    font-size: 24px;
    font-weight: 700;
    sup {
      font-size: 14px;
    }
  }
  &-item {
    width: 160px;
    &:first-child {
      width: 185px;
    }
    &:nth-child(3) {
      width: 214px;
    }
    &:nth-child(4) {
      width: 138px;
    }
  }
}

// Product gallery

.product-gallery {
  width: 860px;
  height: 480px;
  display: flex;
  &-main {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-mini {
    width: 150px;
    margin: auto 0 auto 9px;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 5px;
      a {
        position: relative;
        &:after {
          content: '';
          display: block;
          background-color: rgba(255, 255, 255, .4);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          transition: 300ms;
        }
        &.active:after {
          opacity: 1;
        }
        &:hover:after {
          opacity: 1;
        }
      }
    }
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        background: url(../images/top.png) no-repeat top;
        width: 20px;
        height: 12px;
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        text-indent: 9999px;
        &:focus {
          outline: none;
        }
        &:hover {
          background-position: bottom;
        }
      }
      &-next {
        top: auto;
        bottom: -18px;
        background: url(../images/bottom.png) no-repeat top;
      }
    }
  }
}

//===== Product sentence

.product-sentence {
  background-color: rgba(255, 255, 255, .8);
  padding: 34px 80px 48px;
  margin: 0 80px 132px;
  display: flex;
  &-col {
    width: 50%;
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
      padding-top: 19px;
    }
  }
  &__head {
    color: #442828;
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 3px;
  }
  &__note {
    color: #3b312e;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__link {
    color: $brown;
    text-decoration: underline;
  }
  &__text {
    margin-bottom: 24px;
    p {
      line-height: 1;
      margin-bottom: 0;
      font-size: 20px;
      font-style: italic;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-form {
    width: 460px;
    position: relative;
    input {
      width: 100%;
      height: 60px;
      border: 1px solid #aeaeae;
      border-radius: 4px;
      color: #6c6966;
      font: 400 24px 'Myriad Pro';
      padding: 0 168px 0 28px;
    }
    button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      width: 158px;
      height: 58px;
      color: #fff;
      border-radius: 4px;
      font: 700 16px 'Myriad Pro';
      text-transform: uppercase;
      background-color: $brown;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1px;
      &:hover {
        background-color: #d8a850;
      }
    }
  }
}

//===== Product navigation

.product-navigation {
  margin: 0;
  padding: 27px 0 25px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #aeaeae;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    padding: 0 30px;
    a {
      color: $brown;
      font-size: 24px;
      line-height: 1;
      border-bottom: 1px solid $brown;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

//===== Product category

.product-category {
  padding: 26px 0 29px;
  margin: 0 20px;
  display: flex;
  &-wrap {
    background-color: $brown;
  }
  &-item {
    width: 180px;
    text-align: center;
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 18px;
      font-weight: 700;
      border-bottom: 1px solid #000;
      margin-bottom: 13px;
      &:hover {
        border-bottom: 1px solid transparent;
        color: #000;
      }
    }
    p {
      font-size: 18px;
      color: #fff;
      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//===== Product article

.product-article {
  padding: 51px 0 53px;
  display: none;
  &.active {
    display: block;
  }
  .head {
    margin-bottom: 30px;
  }
  p {
    padding: 0 82px;
    line-height: 1.65;
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//===== Product advantage

.product-advantage {
  padding: 64px 0 0 16px;
  display: flex;
  flex-wrap: wrap;
  &-wrap {
    background: url(../images/product-advantageBg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-item {
    width: 327px;
    display: flex;
    align-items: center;
    margin: 0 131px 68px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
    img {
      flex-shrink: 0;
      width: 100px;
      height: 100px;
    }
    p {
      flex-grow: 10;
      padding-left: 26px;
      color: #fff;
      margin-bottom: 0;
      font-size: 24px;
      line-height: 1.4;
    }
  }
}

//===== Product calc

.product-calc {
  overflow: hidden;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    padding-right: 22px;
  }
  .calc {
    padding-top: 37px;
    padding-bottom: 20px;
  }
  .calculator {
    padding-bottom: 58px;
    &-item {
      &.info {
        padding-top: 38px;
        padding-bottom: 45px;
        .info {
          &-items {
            margin-bottom: 42px;
          }
          &__note {
            margin-bottom: 28px;
          }
        }
      }
    }
  }
}

// Features

.features {
  padding: 40px 0;
  margin-bottom: 42px;
  &-wrap {
    background-color: #edf2f4;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 33%;
    &:first-child {
      margin-right: 120px;
    }
    &:nth-child(2) tbody tr td:first-child,
    &:last-child tbody tr td:first-child {
      width: 219px;
    }
    tbody tr td {
      font-size: 18px;
      height: 37px;
      &:first-child {
        width: 253px;
      }
      &:last-child {
        font-weight: 700;
      }
    }
  }
}

// Other districts

.other-districts {
  display: flex;
  padding: 21px 46px 28px;
  border-top: 1px solid #a6a6a6;
  &__head {
    font-size: 24px;
    font-style: italic;
    margin-right: 26px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $brown;
        font-size: 18px;
        font-weight: 700;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Services inform

.services-article {
  padding: 42px 0 60px;
}

// Services types

.services-types {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 0 24px;
  &-item {
    width: 600px;
    background-color: #fff;
    border: 1px solid $brown;
    margin: 0 60px 40px 0;
    padding: 30px 39px 40px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 13px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__head {
    color: $brown;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 18px;
    &:hover {
      color: #d8a850;
    }
  }
}

// Insurance

.insurance {
  padding: 60px 80px 60px 0;
  display: flex;
  justify-content: flex-end;
  &-wrap {
    background-color: #faf5ec;
    overflow: hidden;
  }
  &-img {
    width: 1444px;
    height: 580px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -99px;
    z-index: 1;
    
  }
  &-form {
    width: 380px;
    background-color: #fff;
    border: 1px solid #aeaeae;
    padding: 23px 34px 30px;
    position: relative;
    z-index: 5;
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.45;
      margin-bottom: 23px;
    }
    .ref {
      margin: 16px 0 22px;
    }
  }
  &-input {
    width: 100%;
    height: 38px;
    margin-bottom: 18px;
    input {
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 1px solid #aeaeae;
    }
  }
  &-consent {
    color: #989796;
    font-size: 14px;
    font-style: italic;
    line-height: 1.65;
    margin-left: 14px;
    a {
      display: inline;
      line-height: 1.65;
      color: #989796;
      font-size: 14px;
      font-style: italic;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Trade

.trade {
  padding: 71px 0 80px;
  display: flex;
  &-info {
    width: 622px;
    flex-shrink: 0;
    &-bottom {
      padding: 0 18px 0 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-size: 18px;
        color: $brown;
        text-decoration: underline;
        display: flex;
        align-items: center;
        &:hover {
          text-decoration: none;
        }
        span {
          margin-right: 10px;
        }
      }
    }
    &__text {
      font-size: 18px;
    }
  }
  &-content {
    flex-grow: 10;
    padding-right: 100px;
    margin-top: -9px;
    .head {
      margin-bottom: 47px;
      padding-right: 0;
      line-height: 1.3;
    }
  }
  &-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 39px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      font-style: italic;
      line-height: 1.6;
      margin-bottom: 0;
      padding-left: 18px;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 60px;
    display: flex;
    justify-content: center;
  }
  &-video {
    margin-bottom: 21px;
    iframe {
      border: none;
      width: 100%;
      height: 360px;
    }
  }
}

// Article

.article {
  margin-bottom: 8px;
  .head {
    margin-bottom: 24px;
  }
  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    &__date {
      color: #817f7d;
      font-size: 16px;
      font-style: italic;
      margin-right: 12px;
      position: relative;
      &:after {
        content: '/';
        display: block;
        position: absolute;
        top: 0;
        right: -9px;
      }
    }
    &__group {
      color: $brown;
      font-size: 16px;
      font-style: italic;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-item {
    padding-top: 42px;
  }
  h3 {
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 400;
  }
  p {
    line-height: 1.65;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Article bottom

.article-bottom {
  margin-top: 32px;
  padding-top: 27px;
  border-top: 1px solid #bababa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .tags {
    display: flex;
    align-items: center;
    &__head {
      color: #6c6966;
      font-style: italic;
      margin-right: 2px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        margin-right: 2px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $brown;
          font-style: italic;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .soc {
    display: flex;
    align-items: center;
    &__head {
      color: #6c6966;
      font-style: italic;
      margin-right: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        margin-right: 14px;
        &:last-child {
          margin-right: 0;
        }
        a {
          width: 22px;
          height: 22px;
          &:hover {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

// Article schedule

.article-schedule {
  &-items {
    margin: 0 0 55px;
    padding: 0;
    list-style: none;
    li {
      border: 1px solid #bababa;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        width: 100%;
        padding: 24px 38px;
        font-size: 34px;
        font-weight: 700;
        line-height: 1;
      }
    }
  }
}

// Record

.record {
  background-color: #442828;
  padding: 25px 89px 50px 100px;
  &-wrap {
    padding: 69px 0 70px;
  }
  &__head {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 25px;
    color: $brown;
  }
  &-items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 470px;
    color: #fff;
    &.contact {
      margin-top: -4px;
    }
    ul {
      margin: 30px 0 0;
      padding: 0;
      list-style: none;
      li {
        display: flex;
        margin-bottom: 34px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-img {
      width: 21px;
      flex-shrink: 0;
      margin-right: 16px;
    }
    &-content {
      p {
        color: #fff;
        font-size: 18px;
        margin-bottom: 0;
      }
      a {
        color: $brown;
        font-size: 18px;
        text-decoration: underline;
        margin-top: 6px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 4px; 
    }
    &__text {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 20px;
    }
    &__tel {
      font-size: 48px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 6px;
    }
  }
  &-form {
    width: 460px;
    height: 60px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    position: relative;
    input {
      width: 100%;
      height: 100%;
      border: none;
      color: #6c6966;
      font-size: 24px;
      padding: 0 170px 0 28px;
      &::-webkit-input-placeholder { 
        color: #6c6966;
      }
      &:-moz-placeholder { 
        color: #6c6966;
      }
      &::-moz-placeholder { 
        color: #6c6966;
      }
      &:-ms-input-placeholder {
        color: #6c6966;
      }
    }
    button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      width: 160px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $brown;
      border-radius: 4px 0 0 4px;
      color: #fff;
      font: 700 16px 'Myriad Pro';
      text-transform: uppercase;
      &:hover {
        background-color: #d8a850;
      }
    }
  }
}

// Customers

.customers {
  padding: 63px 0 60px;
  .head {
    margin-bottom: 40px;
  }
  &-wrap {
    background-color: #faf5ec;
  }
  &-items {
    display: flex;
    margin-left: 27px;
    ul {
      width: 535px;
      margin: 0 104px 0 0;
      padding: 0;
      list-style: none;
      &:last-child {
        margin-right: 0;
      }
      li {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          flex-shrink: 0;
          width: 34px;
          height: 34px;
          background-color: $brown;
          font-size: 24px;
          font-weight: 700;
          color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          margin-bottom: 0;
          padding-left: 18px;
          font-size: 18px;
          font-style: italic;
        }
      }
    }
  }
}

// Objects

.objects {
  .head {
    margin-bottom: 24px;
  }
  &-wrap {
    overflow: hidden;
  }
  &-body {
    padding: 19px 33px 16px 42px;
    border: 1px solid #a6a6a6;
    display: flex;
    justify-content: space-between;
  }
  &-col {
    width: 526px;
  }
  &-img {
    height: 360px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &-file {
    position: absolute;
    top: 14px;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 15;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      margin-bottom: 29px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-content {
    padding-right: 31px;
    &-items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
    }
    &__head {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 6px;
    }
    &__info {
      font-size: 24px;
    }
    &__text {
      color: #6c6966;
      font-size: 16px;
      font-style: italic;
      margin-bottom: 17px;
    }
    &-link {
      margin-bottom: 12px;
      a {
        font-size: 24px;
        font-weight: 700;
        border-bottom: 1px solid $brown;
        color: $brown;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
    &-compare a {
      border-bottom: 1px solid $brown;
      color: $brown;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-form {
    width: 100%;
    height: 59px;
    position: relative;
    input {
      width: 100%;
      height: 100%;
      border: 1px solid #a6a6a6;
      border-radius: 4px;
      color: #a2a2a2;
      font: 400 24px 'Myriad Pro';
      padding: 0 210px 0 24px;
    }
    button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      width: 200px;
      height: 100%;
      background-color: #442828;
      border-radius: 4px;
      color: #fff;
      font: 700 16px 'Myriad Pro';
      text-transform: uppercase;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        background-color: $brown;
      }
    }
  }
}

// Objects gallery

.objects-gallery {
  width: 534px;
  &-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    &:hover {
      &:before, &:after {
        opacity: 1;
      }
    }
    &:before {
      content: '';
      display: block;
      background: url(../images/zoom2.png) no-repeat 50%;
      width: 32px;
      height: 33px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 5;
      opacity: 0;
      transition: 300ms;
    }
    &:after {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      background-color: rgba(207, 157, 65, .8);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      opacity: 0;
      transition: 300ms;
    }
  }
  .slick {
    &-arrow {
      border: none;
      cursor: pointer;
      text-indent: 9999px;
      background: url(../images/left.png) no-repeat left;
      width: 12px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4px;
      z-index: 10;
      margin-top: 20px;
      &:focus {
        outline: none;
      }
      &:hover {
        background-position: right;
      }
    }
    &-next {
      background: url(../images/right.png) no-repeat left;
      left: auto;
      right: 9px;
    }
  }
}

// Objects items

.objects {
  padding-bottom: 56px;
  &-items {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
  }
  &-item {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
    &.rooms {
      width: 248px;
    }
    &.term {
      width: 203px;
    }
    &.area {
      width: 140px;
    }
    &.asgmt {
      width: 180px;
      input {        
        text-align: center;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      border: 1px solid #aeaeae;
      li {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #aeaeae;
        font-size: 18px;
        &:last-child {
          border-right: none;
        }
      }
    }
    &__head {
      font-size: 18px;
      font-style: italic;
      margin-bottom: 10px;
    }
    select {
      width: 100%;
      height: 50px;
      border: 1px solid #aeaeae;
      font: 400 18px 'Myriad Pro';
      padding: 0 36px 0 18px;
      -webkit-appearance: none;
      background-image: url(../images/objects-select.png);
      background-position: 93% center;
      background-repeat: no-repeat;
      line-height: 1;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
    }
    input {
      width: 100%;
      height: 50px;
      border: 1px solid #aeaeae;
      padding: 0 18px;
      color: #000;
      font: 400 18px 'Myriad Pro';
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
}

// Objects table

.objects-table {
  width: 608px;
  padding: 3px 25px 0 0;
  border-right: 1px solid #a6a6a6;
  &-header {
    margin: 0 0 16px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      font-weight: 700;
      &:first-child {
        width: 26%;
      }
      &:nth-child(2) {
        width: 27%;
      }
      &:nth-child(3) {
        width: 27%;
      }
      &:last-child {
        width: 20%;
      }
    }
  }
  &-items {
    display: flex;
    flex-direction: column;
  }
  &-item {
    margin-bottom: 1px;
    padding: 4px 8px;
    &:hover {
      background-color: #edf2f4;
      color: #000;
    }
    &:last-child {
      margin-bottom: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        p {
          margin-bottom: 0;
        }
        span {
          color: #6c6966;
        }
        &:first-child {
          width: 26%;
        }
        &:nth-child(2) {
          width: 27%;
        }
        &:nth-child(3) {
          width: 27%;
        }
        &:last-child {
          width: 20%;
        }
      }
    }
  }
}



