$brown: #dbc18c;
$brown-dark: #3f2512;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url('../fonts/TenorSans.woff2') format('woff2'),
    url('../fonts/TenorSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Tenor Sans', sans-serif;
  min-width: 375px;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
  color: $brown-dark;
}

.description {
  max-width: 940px;
  margin: 0 auto 75px;
  color: #000000;
}

.slick-arrow {
  width: 60px;
  height: 60px;
  background-color: $brown;
  border-radius: 30px;
  font-size: 0;
  cursor: pointer;
  transition: 300ms;
  border: 0;
  position: relative;
  z-index: 999;

  &:hover {
    background: $brown-dark;
    box-shadow: 0 0 56.1px 3px rgba(255, 255, 255, 0.76);

    &:before {
      border-color: $brown;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 25px;
    top: 22px;
    width: 14px;
    height: 14px;
    border-left: 2px solid #1d1d1b;
    border-top: 2px solid #1d1d1b;
    transform: rotate(-45deg);
    transition: 300ms;
  }

  &.slick-next {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1336px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

/* Showcase */

.showcase {
  padding: 35px 0 260px;
  background: url(../images/showcase-bg.jpg) no-repeat 50%;
  background-size: cover;
  color: $brown-dark;
  overflow: hidden;

  &__logo {
    margin-bottom: 105px;
  }

  &__title {
    text-align: left;
    white-space: nowrap;
    position: relative;
    z-index: 999;
  }

  &__content {
    width: 538px;
    max-width: 100%;
  }

  &__description {
    font-size: 24px;
    margin-bottom: 70px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 22px;

    img {
      margin-right: 8px;
      flex-shrink: 0;
    }
  }

  &__link {
    width: 220px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #3f2512;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #3f2512;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      background: $brown;
    }

    &--brown {
      background: $brown-dark;
      color: #ffffff;
    }
  }

  &__container {
    position: relative;
  }

  &__carousel {
    left: 620px;
    top: -90px;
    width: 880px;
    position: absolute;

    img {
      border-radius: 20px;
    }

    .slick-arrow {
      position: absolute;
      left: 30px;
      bottom: -30px;

      &.slick-next {
        left: 120px;
      }
    }
  }
}

/* Program */

.program {
  padding: 67px 0 80px;
  background: url(../images/program-bg.jpg) no-repeat 50% 0;

  &__items {
    border-left: 2px solid $brown;
    max-width: 1120px;
    margin: 0 auto;
  }

  &__item {
    padding-left: 27px;
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child,
    &:last-child {
      &:before {
        background: $brown;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 2px solid $brown;
      left: -11px;
      top: 0;
      border-radius: 50%;
    }
  }

  &__time {
    color: #323b44;
    font-size: 18px;
    margin-right: 50px;
    flex-shrink: 0;
  }

  &__text {
    font-size: 16px;
  }

  &__head {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: -3px;
  }

  &__subhead {
    font-size: 18px;
  }
}

/* Services */

.services {
  background: $brown;
  padding: 63px 0;
  margin-bottom: 90px;

  &__items {
    display: flex;
    align-items: flex-start;
  }

  &__item {
    width: 20%;
    text-align: center;
  }

  &__icon {
    width: 93px;
    height: 93px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
  }

  &__text {
    max-width: 168px;
    margin: 0 auto;
    font-size: 18px;
    color: $brown-dark;
  }
}

/* Banner */

.banner {
  width: 940px;
  height: 327px;
  border: 1px solid #dbc18c;
  background: url(../images/banner-bg.jpg) no-repeat 50%;
  margin: 0 auto 73px;
  padding: 50px;

  &__title {
    font-size: 32px;
    max-width: 580px;
    line-height: 1.5;
    margin-bottom: 44px;
    color: $brown-dark;
  }

  &__link {
    width: 220px;
    height: 60px;
    background-color: $brown;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $brown-dark;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      background: $brown-dark;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

/* Places */

.places {
  padding-bottom: 130px;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 142px;
    height: 2px;
    background: $brown-dark;
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    margin-bottom: 25px;
  }

  &__carousel {
    width: 860px;
    margin: 0 auto;
    transform: translateX(40px);

    .slick-track {
      display: flex;
      align-items: stretch;
      padding-bottom: 55px;
    }

    .slick-list {
      overflow: visible;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -60px;
      left: -30px;

      &.slick-next {
        left: auto;
        right: -30px;
        margin-right: 80px;
      }
    }
  }

  &__item {
    display: flex !important;
    background-color: #f6f0e3;
    border-radius: 12px;
    float: none;
    height: auto;
    min-height: 340px;
    margin-right: 80px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 592px;
      height: 89px;
      bottom: -70px;
      margin-left: -15px;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
      background: url(../images/shadow.png) 50%;
      transition: 300ms;
      opacity: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.5);
      transition: 300ms;
    }

    &.filter {
      &:before {
        opacity: 1;
        transition: 300ms;
      }

      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__img {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border-radius: 13px 0 0 13px;
  }

  &__content {
    padding: 40px 25px;
  }

  &__name {
    font-size: 24px;
    color: $brown-dark;
    margin-bottom: 22px;
  }

  &__text {
    min-height: 125px;
    margin-bottom: 25px;
  }

  &__address {
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
    color: $brown-dark;


    img {
      flex-shrink: 0;
      margin-right: 15px;
      margin-top: 3px;
    }
  }
}

/* Master class */

.master-class {
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;

  &__title {
    margin-bottom: 25px;
  }

  &__carousel {
    width: 945px;
    margin: 0 auto;
    transform: translateX(40px);

    .slick-track {
      display: flex;
      align-items: stretch;
      padding-bottom: 55px;
    }

    .slick-list {
      overflow: visible;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -60px;
      left: -30px;

      &.slick-next {
        left: auto;
        right: -30px;
        margin-right: 80px;
      }
    }
  }

  &__item {
    display: flex !important;
    background-color: #fff;
    border-radius: 12px;
    float: none;
    height: auto;
    min-height: 440px;
    margin-right: 80px;
    position: relative;
    border: 1px solid $brown-dark;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 592px;
      height: 89px;
      bottom: -70px;
      margin-left: -15px;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
      background: url(../images/shadow.png) 50%;
      transition: 300ms;
      opacity: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.5);
      transition: 300ms;
    }

    &.filter {
      &:before {
        opacity: 1;
        transition: 300ms;
      }

      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__img {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border-radius: 13px 0 0 13px;
  }

  &__content {
    padding: 40px 45px;
  }

  &__head {
    font-size: 24px;
    color: $brown-dark;
    margin-bottom: 30px;
  }

  &__subhead {
    font-size: 20px;
    color: $brown-dark;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Faq */

.faq {
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 950px;
    height: 719px;
    background: url(../images/temple.jpg) no-repeat;
    left: -330px;
    bottom: -250px;
    z-index: -1;
  }

  &__items {
    width: 620px;
    margin: 0 auto;
  }

  &__body {
    width: 770px;
    margin-left: 100px;
    margin-top: 24px;
    line-height: 1.5;
    display: none;
  }

  &__head {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__sign {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background: $brown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $brown-dark;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 300ms;

    .minus {
      display: none;
    }
  }

  &__question {
    font-size: 24px;
    color: $brown-dark;
  }

  &__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .faq__sign {
        background: $brown-dark;
        color: $brown;

        .minus {
          display: block;
        }

        .plus {
          display: none;
        }
      }
    }
  }
}

/* Info */

.info {
  background: $brown;
  padding: 66px 0;

  &__organizers {
    display: flex;
    justify-content: center;
    margin-bottom: 67px;

    &-item {
      margin-right: 140px;
      width: 500px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 36px;
    color: $brown-dark;
    margin-bottom: 40px;
  }

  &__partners {
    display: flex;
    justify-content: center;
  }

  &__partner {
    width: 220px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Footer */

.footer {
  background: $brown-dark;

  &__inner {
    height: 57px;
    align-items: center;
    justify-content: center;
    display: flex;

    a {
      margin-right: 122px;
      color: $brown;
      text-decoration: none;

      &:hover {
        color: #ffffff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1910px) {
  .faq {
    &:before {
      left: -550px;
    }
  }
}

@media only screen and (max-width: 1336px) {
  .showcase {
    padding-bottom: 100px;

    &__carousel {
      display: none;
    }
  }

  .faq {
    &:before {
      left: -650px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .showcase {
    padding-bottom: 100px;

    &__carousel {
      display: none;
    }
  }

  .faq {
    &:before {
      left: -650px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 48px;
  }

  .places,
  .master-class {
    &__item {
      display: block !important;

      &:before {
        display: none;
      }
    }

    &__img {
      height: 200px;
      width: 100%;
      border-radius: 13px 13px 0 0;
    }

    &__carousel {
      width: 500px;
    }

    &__content {
      padding: 50px;
    }
  }

  .banner {
    max-width: 100%;
  }

  .faq {
    padding-bottom: 250px;

    &:before {
      width: 500px;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      bottom: -500px;
    }
  }

  .info {
    &__partners {
      flex-wrap: wrap;
    }

    &__partner {
      margin-bottom: 18px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .title {
    margin-bottom: 25px;
    font-size: 32px;
  }

  .showcase {
    padding: 20px 0 55px;

    &__logo {
      width: 180px;
      margin-bottom: 40px;
    }

    &__title {
      font-size: 38px;
      white-space: unset;
    }

    &__description {
      font-size: 16px;
      margin-bottom: 40px;
    }

    &__info {
      font-size: 15px;
    }

    &__items {
      max-width: 350px;
    }

    &__link {
      width: 150px;
      height: 50px;
      font-size: 16px;
    }
  }

  .program {
    padding: 25px 0 40px;

    &__item {
      display: block;
      padding-left: 15px;

      &:before {
        width: 10px;
        height: 10px;
        left: -8px;
      }
    }

    &__time {
      font-size: 14px;
    }

    &__head {
      font-size: 18px;
      margin-top: 0;
    }

    &__text {
      font-size: 14px;
    }

    &__subhead {
      font-size: 16px;
    }
  }

  .services {
    padding: 40px 0;
    margin-bottom: 28px;

    &__items {
      display: block;
    }

    &__item {
      width: 250px;
      margin: 0 auto 25px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__icon {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      margin-right: 23px;
    }

    &__text {
      text-align: left;
      font-size: 16px;
    }
  }

  .banner {
    padding: 22px 15px;
    height: 190px;
    width: 340px;
    margin: 0 auto 35px;
    background-size: cover;

    &__title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__link {
      width: 140px;
      height: 50px;
      font-size: 14px;
    }
  }

  .description {
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 300px;
  }

  .places,
  .master-class {
    &__carousel {
      width: 100%;
      max-width: 450px;
    }

    &__img {
      height: 200px;
    }

    &__content {
      padding: 15px 24px;
    }

    .slick-list {
      display: block;
    }

    &__item {
      float: left;
      min-height: 0;
    }

    .slick-track {
      padding-bottom: 0;
    }

    .slick-arrow {
      width: 32px;
      height: 32px;
      left: -16px;
      transform: translateY(0);
      margin-top: 0;
      top: 200px;
      top: 184px;

      &.slick-next {
        left: auto;
        right: -16px;
        transform: translateY(0) rotate(180deg);
      }

      &:before {
        width: 7px;
        height: 7px;
        top: 12px;
        left: 14px;
      }
    }
  }

  .places {
    padding-bottom: 65px;

    &:after {
      bottom: 25px;
    }

    &__name {
      font-size: 20px;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 10px;
      min-height: 0;
    }

    &__address {
      font-size: 14px;
    }
  }

  .master-class {
    &__content {
      padding: 15px 25px;
    }

    &__head {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__text {
      margin-bottom: 10px;
      font-size: 14px;
    }

    &__subhead {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .faq {
    &:before {
      margin-left: -50px;
    }

    &__sign {
      width: 24px;
      height: 24px;
      font-size: 10px;
      margin-right: 8px;
    }

    &__question {
      font-size: 18px;
    }

    &__items {
      max-width: 100%;
    }

    &__body {
      margin-left: 0;
      padding-left: 40px;
      max-width: 100%;
      font-size: 14px;
      margin-top: 15px;
    }

    &__item {
      margin-bottom: 15px;
    }

    &__head {
      align-items: flex-start;
    }
  }

  .info {
    padding: 30px 0 25px;

    &__organizers {
      margin-bottom: 20px;

      &-item {
        width: 160px;

        &:first-child {
          margin-right: 15px;
        }
      }
    }

    &__subtitile {
      font-size: 24px;
      margin-bottom: 10px;
    }

    &__partner {
      width: 100px;
      margin: 0 7px 15px !important;
    }
  }

  .footer {
    &__inner {
      height: 90px;
      flex-direction: column;

      a {
        font-size: 14px;
        
        &:first-child {
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
    }
  }
}