@font-face {
    font-family: 'Shadow';
    src: url('../fonts/Shadow-Regular.eot');
    src: url('../fonts/Shadow-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Shadow-Regular.woff2') format('woff2'),
        url('../fonts/Shadow-Regular.woff') format('woff'),
        url('../fonts/Shadow-Regular.ttf') format('truetype'),
        url('../fonts/Shadow-Regular.svg#Shadow-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New Demi';
    src: url('../fonts/FuturaNewDemi-Reg.eot');
    src: url('../fonts/FuturaNewDemi-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaNewDemi-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewDemi-Reg.woff') format('woff'),
        url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype'),
        url('../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewHeavy-Reg.eot');
    src: url('../fonts/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaNewHeavy-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewHeavy-Reg.woff') format('woff'),
        url('../fonts/FuturaNewHeavy-Reg.ttf') format('truetype'),
        url('../fonts/FuturaNewHeavy-Reg.svg#FuturaNewHeavy-Reg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewBook-Reg.eot');
    src: url('../fonts/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaNewBook-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewBook-Reg.woff') format('woff'),
        url('../fonts/FuturaNewBook-Reg.ttf') format('truetype'),
        url('../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

