button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Futura New', sans-serif; }

a {
  font-family: inherit;
  display: inline-block;
  -webkit-transition: 300ms;
  transition: 300ms; }

img {
  max-width: 100%;
  max-height: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a img {
  border: none;
  outline: none; }

.container {
  max-width: 1260px;
  padding: 0; }

@media (max-width: 1336px) {
  .container {
    max-width: 1170px; } }

@media (max-width: 1200px) {
  .container {
    max-width: 970px; } }

@media (max-width: 991px) {
  .container {
    max-width: 750px !important; } }

@media (max-width: 767px) {
  .container {
    max-width: 540px !important; } }

@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px; } }

.bread {
  margin: 26px 0 6px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .bread li {
    position: relative;
    margin-right: 24px; }
    .bread li:after {
      content: '>';
      display: block;
      position: absolute;
      top: 50%;
      right: -16px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li a {
      color: #000;
      text-decoration: underline; }
      .bread li a:hover {
        text-decoration: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-wrap {
    -webkit-box-shadow: 6.3px 7.8px 28.5px 1.5px rgba(0, 1, 1, 0.1);
    box-shadow: 6.3px 7.8px 28.5px 1.5px rgba(0, 1, 1, 0.1); }
  .header-content {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }
  .header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .header-city {
    margin-right: 60px;
    position: relative; }
    .header-city-items {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 20px;
      background: #fff;
      border: 2px solid #e415b6;
      padding: 15px;
      min-width: 200px;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .header-city-items.active {
        opacity: 1;
        z-index: 100;
        visibility: visible;
        margin-top: 5px; }
      .header-city-items li {
        margin-bottom: 10px; }
        .header-city-items li:last-child {
          margin-bottom: 0; }
        .header-city-items li a {
          color: #000; }
    .header-city__current {
      text-decoration: underline;
      cursor: pointer; }
      .header-city__current.active i {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
      .header-city__current i {
        font-size: 12px;
        -webkit-transition: 300ms;
        transition: 300ms;
        margin-left: 5px; }
  .header-item__address {
    text-decoration: underline; }

.logo {
  margin: 18px 96px 16px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-nav ul li:after {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #4ecef5;
      border-radius: 50%;
      display: block;
      margin: 0 13px; }
    .header-nav ul li:last-child:after {
      display: none; }
    .header-nav ul li a {
      color: #012549;
      font: normal 24px 'Futura New Demi'; }
      .header-nav ul li a:hover {
        color: #e415b6;
        text-decoration: none; }

.header-callback {
  text-align: center;
  font-family: "Futura New Demi";
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .header-callback__tel {
    display: block;
    color: #012549;
    font-size: 28px;
    margin-bottom: 4px; }
    .header-callback__tel:hover {
      text-decoration: none;
      color: #e415b6; }
  .header-callback__link {
    background-color: #4ecef5;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 14px;
    color: #fff; }
    .header-callback__link:hover {
      text-decoration: none;
      color: #fff;
      background: #e415b6; }

.burger {
  display: none; }
  .burger__title {
    display: none; }

@media (max-width: 1336px) {
  .logo {
    margin-right: 50px; }
  .header-nav ul li a {
    font-size: 16px; } }

@media (max-width: 991px) {
  .burger {
    display: block;
    width: 30px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #4ecef5;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 30px;
          height: 5px;
          position: absolute;
          left: 0;
          background: #4ecef5;
          border-radius: 7px;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -8px; }
        .burger a span:after {
          top: 8px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  .header-wrap {
    position: relative; }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-nav ul {
      position: absolute;
      left: 0;
      top: 100%;
      background: #fff;
      width: 100%;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      margin-top: 30px;
      -webkit-transition: 300ms;
      transition: 300ms;
      display: block; }
      .header-nav ul.active {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
        margin-top: 0; }
      .header-nav ul li {
        display: block;
        text-align: center;
        margin: 15px 0; }
        .header-nav ul li:after {
          display: none; }
        .header-nav ul li a {
          font-size: 20px; }
  .logo {
    width: 100px;
    margin-right: 30px; }
  .header-city {
    margin-right: 30px; }
  .header-callback__tel {
    font-size: 24px; }
  .header-items {
    margin-bottom: 9px; }
  .burger__title {
    display: block;
    color: #4ecef5;
    text-transform: uppercase;
    font-family: 'Futura New Demi';
    font-size: 14px;
    margin-right: 10px; } }

@media (max-width: 768px) {
  .header-items {
    display: none; } }

@media (max-width: 575px) {
  .header-callback {
    display: none; }
  .header-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

.main-slider {
  position: relative; }
  .main-slider .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #1bace6;
    border: none;
    position: absolute;
    left: 140px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    font-size: 20px;
    z-index: 100;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .main-slider .slick-arrow:hover {
      background: #1bace6;
      color: #fff; }
  .main-slider .slick-next {
    left: auto;
    right: 140px; }
  .main-slider .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-slider .slick-dots li {
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      margin-right: 17px;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .main-slider .slick-dots li:hover, .main-slider .slick-dots li.slick-active {
        background: #037bad; }
      .main-slider .slick-dots li:last-child {
        margin-right: 0; }
    .main-slider .slick-dots button {
      display: none; }

@media (max-width: 1200px) {
  .main-slider .slick-arrow {
    left: 90px; }
  .main-slider .slick-next {
    left: auto;
    right: 90px; }
  .main-slider .slick-dots {
    bottom: 40px; } }

@media (max-width: 991px) {
  .main-slider .slick-arrow {
    left: 60px; }
  .main-slider .slick-next {
    left: auto;
    right: 60px; }
  .main-slider .slick-dots {
    bottom: 30px; } }

@media (max-width: 768px) {
  .main-slider {
    display: none; } }

.programms {
  position: relative;
  z-index: 5;
  padding-top: 50px; }
  .programms-wrap {
    position: relative; }
    .programms-wrap:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 381px;
      background: url(../images/programms-decor.png) no-repeat 50%;
      background-size: cover; }
  .programms__head {
    font: 400 54px/1 'Shadow';
    color: #11117a;
    text-align: center;
    margin-bottom: 35px; }
  .programms-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 23px; }
    .programms-links li {
      margin: 0 5px; }
  .programms__link {
    padding: 12px 30px;
    font-weight: 900;
    font-size: 20px;
    color: #4ecef5;
    text-transform: uppercase;
    text-decoration: underline; }
    .programms__link:hover {
      color: #11117a; }
    .programms__link.active {
      background: #20afe9;
      color: #012549;
      border-radius: 50px;
      text-decoration: none; }
      .programms__link.active:hover {
        text-decoration: none; }

.programms-tab {
  display: none; }
  .programms-tab:first-child {
    display: block; }

.programms-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cef3fc;
  border-radius: 16px;
  min-height: 170px;
  margin-bottom: 35px; }
  .programms-item:nth-child(2n) {
    background: #effcce; }
    .programms-item:nth-child(2n) .programms-cost {
      background: url(../images/green-price-bg.jpg) no-repeat 50%; }

.programms-time {
  padding: 35px 30px;
  border-right: 6px solid rgba(255, 255, 255, 0.35);
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.programms__month {
  font-size: 18px;
  font-family: "Futura New Demi";
  margin-bottom: 18px; }

.programms__date {
  line-height: 1.8; }

.programms-description {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  padding: 30px 20px; }

.programms__title {
  font-family: "Futura New Demi";
  font-size: 24px;
  border-bottom: 2px dashed #e415b6;
  color: #000;
  line-height: 1.2;
  margin-bottom: 15px; }
  .programms__title:hover {
    color: #e415b6;
    text-decoration: none; }

.programms__caption {
  line-height: 1.8; }

.programms-info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 44px 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.programms-cost {
  width: 130px;
  height: 107px;
  text-align: center;
  background: url(../images/blue-price-bg.jpg) no-repeat;
  margin-right: 20px; }
  .programms-cost .price {
    font: 400 24px "Futura New Demi"; }
  .programms-cost span {
    display: inline-block;
    margin: 25px 0 7px; }

.programms__btn {
  padding: 15px 20px;
  background: #e415b6;
  border-radius: 50px;
  font: 400 18px "Futura New Demi";
  color: #fff; }
  .programms__btn i {
    margin-right: 10px; }
  .programms__btn:hover {
    text-decoration: none;
    background: #20afe9;
    color: #fff; }

.programms-more {
  padding: 5px 0 26px;
  text-align: center; }
  .programms-more a {
    padding: 17px 22px;
    color: #fff;
    border-radius: 50px;
    background-color: #20afe9;
    font: 400 18px "Futura New Demi"; }
    .programms-more a img {
      margin-left: 12px; }
    .programms-more a:hover {
      text-decoration: none;
      background: #e415b6; }

@media (max-width: 1200px) {
  .programms__link {
    font-size: 16px; } }

@media (max-width: 991px) {
  .programms__link {
    font-size: 14px;
    padding: 6px 15px; }
  .programms-info {
    display: block; }
  .programms-cost {
    margin: 0 auto 15px; } }

@media (max-width: 768px) {
  .programms__head {
    font-size: 34px; }
  .programms-item {
    display: block; }
  .programms-time {
    border-right: 0;
    padding: 15px;
    text-align: center; }
  .programms-description {
    padding: 15px;
    text-align: center; }
  .programms-info {
    text-align: center;
    padding: 15px; } }

@media (max-width: 575px) {
  .programms-links {
    display: block;
    text-align: center; } }

.slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #1bace6;
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 100;
  -webkit-transition: 300ms;
  transition: 300ms; }
  .slick-arrow:hover {
    background: #1bace6;
    color: #fff; }

.slick-next {
  left: auto; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slick-dots li {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin-right: 17px;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .slick-dots li:hover, .slick-dots li.slick-active {
      background: #037bad; }
    .slick-dots li:last-child {
      margin-right: 0; }
  .slick-dots button {
    display: none; }

.courses {
  padding: 35px 0; }
  .courses-wrap {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4dcae8), to(#c6edf8));
    background-image: linear-gradient(to top, #4dcae8 0%, #c6edf8 100%); }
  .courses__head {
    margin: 0 auto;
    background: url(../images/course-head-bg.png) no-repeat 50%;
    width: 668px;
    max-width: 100%;
    height: 86px;
    text-align: center;
    font: 400 54px/86px 'Shadow';
    color: #fff;
    text-transform: uppercase;
    padding-top: 7px;
    margin-bottom: 30px; }
  .courses__img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 266px; }
  .courses-item {
    margin: 0 9px;
    border-radius: 16px;
    background: #fff;
    overflow: hidden;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .courses__content {
    padding: 30px;
    font-family: "Futura New Demi"; }
  .courses__time {
    display: inline-block;
    background-color: #fdf216;
    border-radius: 13px;
    padding: 3px 7px;
    margin-bottom: 10px; }
  .courses__title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 22px; }
  .courses__link {
    font-family: "Futura New Demi";
    background-color: #20afe9;
    border-radius: 50px;
    color: #fff;
    padding: 18px 24px;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .courses__link img {
      margin-left: 10px; }
    .courses__link:hover {
      color: #fff;
      text-decoration: none;
      background: #e415b6; }
  .courses-carousel {
    position: relative; }
    .courses-carousel .slick-arrow {
      left: -80px;
      margin-top: -35px;
      position: absolute;
      top: 50%; }
    .courses-carousel .slick-next {
      right: -80px;
      left: auto; }
  .courses .slick-dots {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 35px; }

.courses-inner .bread {
  margin-top: 0;
  padding-top: 28px; }

.courses-inner .courses {
  padding-top: 0; }

@media (max-width: 1910px) {
  .courses-carousel {
    padding: 0 20px; }
    .courses-carousel .slick-arrow {
      left: -40px; }
    .courses-carousel .slick-next {
      left: auto;
      right: -40px; } }

@media (max-width: 1336px) {
  .courses-carousel {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 991px) {
  .courses-carousel .slick-arrow {
    left: -32px; }
  .courses-carousel .slick-next {
    left: auto;
    right: -32px; } }

@media (max-width: 768px) {
  .courses__head {
    background-size: contain;
    font-size: 34px; }
  .courses__img {
    display: none; }
  .courses-carousel {
    margin: 0 30px; } }

@media (max-width: 575px) {
  .courses-carousel .slick-arrow {
    display: none !important; }
  .courses-carousel {
    margin: 0;
    padding: 0; }
  .courses__content {
    padding: 15px; }
  .courses__head {
    background: none;
    color: #e415b6;
    height: auto;
    line-height: 1.2;
    margin-bottom: 12px; } }

.reviews {
  padding: 45px 0; }
  .reviews-wrap {
    background: url(../images/reviews-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .reviews__head {
    margin: 0 auto 27px;
    background: url(../images/reviews-head-bg.png) no-repeat 50%;
    width: 720px;
    height: 80px;
    text-align: center;
    font: 400 54px/80px 'Shadow';
    color: #012549;
    padding-top: 5px; }
  .reviews-carousel {
    max-width: 940px;
    margin: 0 auto 42px;
    background: #fff;
    border-radius: 16px; }
  .reviews-item {
    padding: 26px 55px;
    text-align: center; }
    .reviews-item img {
      display: inline-block; }
  .reviews-content {
    font-size: 18px;
    font-style: italic;
    line-height: 1.6;
    margin: 25px 0; }
  .reviews-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Futura New Demi";
    font-size: 18px;
    text-align: left;
    line-height: 1.6; }
  .reviews__img {
    width: 80px;
    height: 80px;
    margin-right: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .reviews__img img {
      border-radius: 50%;
      width: 100%;
      height: 100%; }
  .reviews .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: -80px; }
  .reviews .slick-next {
    left: auto;
    right: -80px; }
  .reviews-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .reviews-links a {
      padding: 16px 22px;
      background: #fff;
      border-radius: 50px;
      font: 400 18px "Futura New Demi";
      color: #e415b6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .reviews-links a i {
        margin-left: 18px; }
      .reviews-links a:hover {
        text-decoration: none;
        background: #e415b6;
        color: #fff; }
      .reviews-links a:first-child {
        margin-right: 40px; }

.reviews-inner .reviews {
  padding: 0 0 50px; }
  .reviews-inner .reviews__head {
    margin-bottom: 19px; }
  .reviews-inner .reviews-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: 30px; }
  .reviews-inner .reviews-item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 28px; }
  .reviews-inner .reviews-links a {
    border: 1px solid #e415b6;
    padding: 13px 22px; }
  .reviews-inner .reviews-links .link img {
    margin-left: 10px; }

@media (max-width: 1200px) {
  .reviews-carousel {
    max-width: 850px; }
  .reviews .slick-arrow {
    left: -60px; }
  .reviews .slick-next {
    left: auto;
    right: -60px; }
  .reviews-inner .reviews {
    padding-bottom: 36px; }
  .reviews-inner .reviews__head {
    font-size: 46px; }
  .reviews-inner .reviews-items {
    margin-bottom: 16px; } }

@media (max-width: 991px) {
  .reviews .slick-arrow {
    left: -55px; }
  .reviews .slick-next {
    left: auto;
    right: -55px; }
  .reviews-carousel {
    max-width: 650px; }
  .reviews-inner .reviews-item {
    padding: 16px; }
  .reviews-inner .reviews-content {
    line-height: 1.3;
    margin: 16px 0; }
  .reviews-inner .reviews__img {
    margin-right: 22px; } }

@media (max-width: 767px) {
  .reviews__head {
    font-size: 34px;
    background-size: contain;
    max-width: 100%; }
  .reviews-carousel {
    max-width: 400px; }
  .reviews-inner .reviews-author {
    font-size: 16px;
    line-height: 1.25; }
  .reviews-inner .reviews__head {
    font-size: 36px;
    margin-bottom: 8px; }
  .reviews-inner .reviews__img {
    margin-right: 12px;
    width: 66px;
    height: 66px; }
  .reviews-inner .reviews-content {
    margin: 12px 0 8px;
    font-size: 16px; } }

@media (max-width: 575px) {
  .reviews .slick-arrow {
    display: none !important; }
  .reviews-item {
    padding: 15px; }
  .reviews__img {
    margin-right: 20px; }
  .reviews-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .reviews-links a {
      margin: 5px 0 !important; }
  .reviews-inner .reviews__head {
    height: auto;
    line-height: 1.2;
    font-size: 28px; }
  .reviews-inner .reviews-items {
    margin-left: 0; }
  .reviews-inner .reviews-item {
    width: 100%;
    margin: 0 auto 10px; } }

.teachers {
  padding: 60px 0 100px; }
  .teachers__head {
    color: #012549;
    font: 400 54px 'Shadow';
    text-align: center;
    margin-bottom: 60px; }
  .teachers-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .teachers-info {
    width: 280px;
    margin-right: 80px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .teachers-carousel {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    min-width: 0; }
  .teachers__description {
    font: 400 24px "Futura New Demi";
    color: #012549;
    line-height: 1.5;
    margin-bottom: 133px; }
  .teachers__link {
    padding: 18px 22px;
    font: 400 18px "Futura New Demi";
    color: #fff;
    background: #97bf0d;
    border-radius: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .teachers__link i {
      margin-left: 10px; }
    .teachers__link:hover {
      text-decoration: none;
      background: #e415b6;
      color: #fff; }
  .teachers-item {
    margin-left: 40px; }
    .teachers-item img {
      border-radius: 16px;
      margin-bottom: 20px; }
  .teachers__name {
    font-family: "Futura New Demi";
    line-height: 1.4;
    font-size: 24px;
    margin-bottom: 10px; }
  .teachers__caption {
    line-height: 1.4; }
  .teachers .slick-arrow {
    position: absolute;
    top: 130px;
    background: #e415b6;
    opacity: .8;
    left: -40px;
    color: #fff; }
    .teachers .slick-arrow:hover {
      background: #e415b6;
      opacity: 1; }
  .teachers .slick-next {
    left: auto;
    right: -80px; }
  .teachers .slick-dots {
    position: absolute;
    bottom: -50px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .teachers .slick-dots li {
      background-color: #4ecef5; }
      .teachers .slick-dots li:hover, .teachers .slick-dots li.slick-active {
        background-color: #0180a7; }

@media (max-width: 1910px) {
  .teachers-carousel {
    padding: 0 20px; }
    .teachers-carousel .slick-arrow {
      left: 0px; }
    .teachers-carousel .slick-next {
      left: auto;
      right: -40px; } }

@media (max-width: 1336px) {
  .teachers__name {
    font-size: 21px; }
  .teachers-carousel .slick-arrow {
    display: none !important; }
  .teachers .slick-dots {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }

@media (max-width: 1200px) {
  .teachers-info {
    margin-right: 20px; } }

@media (max-width: 991px) {
  .teachers-item {
    margin-left: 0; }
  .teachers-item img {
    margin: 0 auto 20px; }
  .teachers-item {
    text-align: center; } }

@media (max-width: 768px) {
  .teachers__head {
    font-size: 34px; }
  .teachers__name {
    font-size: 18px; } }

@media (max-width: 575px) {
  .teachers-container {
    display: block; }
  .teachers__description {
    margin-bottom: 15px; }
  .teachers-info {
    text-align: center;
    margin-bottom: 30px;
    width: 100%; }
  .teachers__head {
    font-size: 28px; } }

.articles {
  padding: 40px 0; }
  .articles-wrap {
    background: url(../images/articles-bg.jpg) no-repeat 50%;
    background-size: cover;
    overflow: hidden; }
  .articles__head {
    font: 400 54px/80px 'Shadow';
    color: #012549;
    background: url(../images/article-head-bg.png) no-repeat 50%;
    width: 620px;
    height: 80px;
    margin: 0 auto 29px;
    text-align: center;
    padding-top: 5px; }
  .articles-items {
    margin-left: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 35px; }
  .articles-item {
    margin-left: 20px;
    width: calc(25% - 20px);
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .articles-item.large {
      width: calc(50% - 20px); }
      .articles-item.large .articles__title {
        font-size: 24px;
        margin-top: -7px; }
  .articles__img {
    height: 280px;
    background-size: cover;
    background-position: 50%;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .articles-content {
    padding: 28px 19px 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }
  .articles__title {
    font: 400 18px "Futura New Demi";
    margin-bottom: 14px;
    color: #000; }
    .articles__title:hover {
      text-decoration: none;
      color: #e415b6; }
  .articles__text {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    line-height: 1.65; }
  .articles__time {
    margin-top: 10px;
    font: 400 14px "Futura New Demi";
    background: #bde925;
    border-radius: 50px;
    padding: 4px 12px;
    margin-bottom: 5px;
    display: inline-block; }
  .articles__more {
    text-align: center; }
    .articles__more a {
      padding: 15px 22px;
      font: 400 18px "Futura New Demi";
      color: #fff;
      background: #e415b6;
      border-radius: 50px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .articles__more a i {
        margin-left: 20px; }
      .articles__more a:hover {
        text-decoration: none;
        color: #fff;
        background: #bde925; }

.articles-inner {
  background-image: url(../images/articles-innerBg.jpg); }
  .articles-inner .articles {
    padding: 0 0 58px; }
    .articles-inner .articles-items {
      margin-bottom: 20px; }
    .articles-inner .articles-item {
      margin-bottom: 29px; }

@media (max-width: 1336px) {
  .articles-inner .articles-item {
    margin-bottom: 22px; } }

@media (max-width: 1200px) {
  .articles-content {
    padding: 14px 10px 16px; }
  .articles__img {
    height: 230px; }
  .articles__title {
    margin-bottom: 6px; }
  .articles__text {
    line-height: 1.4; }
  .articles-inner .articles {
    padding: 0 0 42px; } }

@media (max-width: 767px) {
  .articles__head {
    max-width: 100%;
    font-size: 34px;
    background-size: contain; }
  .articles-item {
    width: calc(50% - 20px);
    margin-bottom: 20px; }
    .articles-item.large {
      width: 100%; } }

@media (max-width: 575px) {
  .articles-items {
    margin-left: 0; }
  .articles-item {
    width: 100%;
    margin-left: 0; }
  .articles__head {
    height: auto;
    line-height: 1.2;
    background: none; } }

.record {
  padding: 76px 0 41px; }
  .record__head {
    color: #024281;
    font: 400 46px/1.2 'Shadow';
    margin-bottom: 40px; }
  .record-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .record-form {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 400px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#b1d410), to(#10d2d9));
    background-image: linear-gradient(to top, #b1d410 0%, #10d2d9 100%);
    border-radius: 16px;
    padding: 33px 40px 25px;
    margin-top: 4px;
    text-align: center; }
    .record-form__head {
      color: #fff;
      font-size: 34px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 23px;
      text-align: left; }
    .record-form button {
      width: 240px;
      height: 50px;
      background-color: #e415b6;
      border-radius: 25px;
      margin: 0 auto 19px;
      padding: 0;
      font-family: "Futura New Demi";
      font-size: 20px;
      color: #fff;
      border: none;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .record-form button:hover {
        text-decoration: none;
        color: #fff;
        background-color: #bde925; }
  .record-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 80px; }
    .record-content__text {
      line-height: 1.65;
      margin-bottom: 25px; }

.record-items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.record-item {
  position: relative;
  width: 380px;
  margin: 0 20px 48px 0;
  padding: 44px 0 0 80px; }
  .record-item:nth-child(2n) {
    margin-right: 0; }
  .record-item img {
    width: 121px;
    position: absolute;
    top: 0;
    left: 0; }
  .record-item p {
    color: #012549;
    font-family: "Futura New Demi";
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 0;
    position: relative;
    z-index: 5; }

.record-inputs {
  margin-bottom: 30px; }

.record-input {
  text-align: left;
  margin-bottom: 23px; }
  .record-input input, .record-input select {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-radius: 6px;
    border: none;
    padding: 0 18px;
    font-size: 24px; }
    .record-input input::-webkit-input-placeholder, .record-input select::-webkit-input-placeholder {
      color: #000; }
    .record-input input:-ms-input-placeholder, .record-input select:-ms-input-placeholder {
      color: #000; }
    .record-input input::-ms-input-placeholder, .record-input select::-ms-input-placeholder {
      color: #000; }
    .record-input input::placeholder, .record-input select::placeholder {
      color: #000; }
    .record-input input::-mos-placeholder, .record-input select::-mos-placeholder {
      color: #000; }
  .record-input select {
    -webkit-appearance: none;
    background-image: url(../images/select-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important; }
  .record-input__head {
    font-family: "Futura New Demi";
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 22px; }

.check {
  position: absolute;
  top: -4px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #fff; }
  .check-wrap {
    position: relative;
    cursor: pointer; }
  .check input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .check input:checked + span:before {
      opacity: 1; }
  .check span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .check span:before {
      content: '\2714';
      display: block;
      position: absolute;
      top: -1px;
      left: 1px;
      right: 0;
      bottom: 0;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }
  .check-text {
    padding-left: 39px;
    font-size: 14px;
    text-align: left;
    line-height: 1.4; }
    .check-text a {
      text-decoration: underline;
      color: #000;
      display: inline; }
      .check-text a:hover {
        text-decoration: none; }

@media (max-width: 1336px) {
  .record {
    padding: 60px 0 24px; }
    .record__head {
      font-size: 36px;
      margin-bottom: 24px; }
    .record-content {
      margin-right: 32px; }
    .record-form {
      margin-top: 0; }
    .record-items {
      margin-top: 36px; }
    .record-item {
      width: 359px; }
      .record-item p {
        font-size: 22px; } }

@media (max-width: 1200px) {
  .record-form {
    width: 360px;
    padding: 22px 20px 20px; }
    .record-form__head {
      margin-bottom: 18px; }
  .record-content__text {
    line-height: 1.4;
    margin-bottom: 14px; }
  .record-item {
    width: 284px;
    margin: 0 10px 30px 0;
    padding: 28px 0 0 72px; }
    .record-item p {
      font-size: 20px; }
  .record-input {
    margin-bottom: 16px; }
    .record-input input, .record-input select {
      font-size: 22px; }
    .record-input__head {
      margin-bottom: 7px;
      margin-left: 14px; } }

@media (max-width: 991px) {
  .record {
    padding: 46px 0 14px; }
    .record-form {
      width: 300px; }
      .record-form__head {
        font-size: 26px; }
      .record-form button {
        width: 212px;
        height: 44px;
        margin-bottom: 12px; }
      .record-form .check {
        top: 0;
        left: 0; }
        .record-form .check-text {
          padding-left: 32px;
          line-height: 1.2; }
    .record-inputs {
      margin-bottom: 16px; }
    .record-input {
      margin-bottom: 10px; }
      .record-input input, .record-input select {
        height: 48px; }
      .record-input__head {
        margin-left: 0; }
    .record-content {
      margin-right: 14px; }
      .record-content__text {
        line-height: 1.2; }
    .record-item {
      width: 213px;
      padding: 14px 0 0 50px; }
      .record-item img {
        width: 80px;
        height: 80px; }
      .record-item p {
        line-height: 1.1;
        font-size: 18px; } }

@media (max-width: 767px) {
  .record {
    padding-bottom: 30px; }
    .record-section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .record__head {
      font-size: 28px;
      margin-bottom: 12px; }
    .record-content {
      margin-right: 0; }
    .record-items {
      margin-top: 25px;
      margin-bottom: 6px; }
    .record-item {
      width: 265px; }
    .record-form {
      margin: 0 auto; } }

@media (max-width: 575px) {
  .record {
    padding-top: 30px; }
    .record__head {
      font-size: 24px; }
    .record-form {
      width: 290px; }
    .record-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .record-item {
      margin: 0 0 20px !important; } }

.footer {
  padding: 51px 0 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-wrap {
    background-color: #012549; }
  .footer-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 160px;
    margin-right: 80px; }
    .footer-logo__text {
      line-height: 1.6;
      font-size: 14px;
      color: #edf7f5;
      margin-top: 26px; }
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 100px;
    margin-top: 6px; }
  .footer-item {
    margin: 0 27px 0 0;
    padding: 0;
    list-style: none; }
    .footer-item:first-child {
      width: 160px; }
    .footer-item:last-child {
      width: 270px;
      margin-right: 0; }
    .footer-item li {
      margin-bottom: 16px; }
      .footer-item li:last-child {
        margin-bottom: 0; }
      .footer-item li a {
        color: #fff;
        font-size: 18px;
        font-family: "Futura New Demi"; }

.footer-info {
  width: 412px;
  color: #fff;
  margin-top: 4px; }
  .footer-info__tel {
    color: #fff;
    font-size: 34px;
    margin-bottom: 21px;
    font-family: "Futura New Demi"; }
    .footer-info__tel:hover {
      color: #fff; }
  .footer-info__head {
    color: #fff;
    font-size: 18px;
    margin-bottom: 13px;
    font-family: "Futura New Demi"; }
  .footer-info-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-info-item {
    width: 160px;
    margin-right: 60px;
    font-size: 18px; }
    .footer-info-item:last-child {
      width: 190px;
      margin-right: 0; }
    .footer-info-item a {
      color: #fff;
      font-size: 18px; }
  .footer-info__name {
    display: inline-block;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px; }
  .footer-info__address {
    margin-bottom: 5px; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0 24px; }
  .bottom-year {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 37px;
    color: #edf7f5;
    font-size: 14px; }
  .bottom-omg {
    color: #edf7f5;
    font-size: 14px; }
    .bottom-omg a {
      color: #edf7f5;
      font-size: 14px; }
  .bottom-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .bottom-links li {
      margin-right: 60px; }
      .bottom-links li:last-child {
        margin-right: 0; }
      .bottom-links li a {
        color: #edf7f5;
        font-size: 14px; }
  .bottom-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 10px; }

@media (max-width: 1336px) {
  .footer {
    padding: 50px 0; }
    .footer-logo {
      margin-right: 44px; }
    .footer-items {
      margin-right: 86px; } }

@media (max-width: 1200px) {
  .footer {
    padding-top: 32px; }
    .footer-logo {
      margin-right: 20px; }
    .footer-items {
      margin-right: 20px; }
    .footer-item {
      margin-right: 10px; }
    .footer-info {
      width: 330px; }
      .footer-info-item {
        margin-right: 12px;
        font-size: 16px; }
  .bottom-year {
    width: 146px; }
  .bottom-content {
    margin-right: 0; }
  .bottom-links li {
    margin-right: 24px; } }

@media (max-width: 991px) {
  .footer {
    padding: 30px 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-logo {
      width: 310px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto 20px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-logo__text {
        margin-top: 0;
        margin-left: 10px; }
      .footer-logo a {
        -ms-flex-negative: 0;
        flex-shrink: 0; }
    .footer-items {
      margin: 0 auto 16px; }
    .footer-info {
      width: 366px;
      margin: 0 auto;
      text-align: center; }
      .footer-info__tel {
        margin-bottom: 6px; }
      .footer-info-item {
        width: 49%;
        margin-right: 2%; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-bottom: 14px; }
    .bottom-year {
      margin-right: 0;
      width: auto; }
    .bottom-content {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 6px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .bottom-links {
      margin-bottom: 6px; } }

@media (max-width: 767px) {
  .bottom-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .bottom-links li {
      margin-right: 0; } }

@media (max-width: 575px) {
  .footer-logo {
    width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .footer-logo__text {
      margin-top: 10px;
      line-height: 1.3; }
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .footer-item {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 10px; }
    .footer-item:last-child {
      margin-bottom: 0; }
    .footer-item li {
      margin-bottom: 10px; }
  .footer-info {
    width: auto; }
    .footer-info-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-info-item {
      width: 100% !important;
      margin-right: 0;
      margin-bottom: 10px; }
      .footer-info-item:last-child {
        margin-bottom: 0; } }

.issues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 52px; }
  .issues .record-form {
    margin-top: 0; }
  .issues-title {
    color: #012549;
    font-family: 'Shadow';
    font-size: 54px;
    margin-bottom: 30px; }
  .issues__head {
    font-size: 54px;
    font-family: 'Shadow';
    color: #fff;
    width: 666px;
    height: 80px;
    background: url(../images/issues-head.png) no-repeat 50%;
    margin: 0 auto 30px;
    padding-top: 10px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .issues-items {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 60px; }
  .issues-item {
    background-color: #effcce;
    border-radius: 16px;
    margin-bottom: 10px; }
  .issues-head {
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1a93b9;
    font-family: "Futura New Demi";
    font-size: 24px;
    text-decoration: underline;
    padding: 20px 18px 18px;
    transition: 300ms; }
    .issues-head:hover {
      text-decoration: none; }
    .issues-head .label {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      position: relative;
      width: 40px;
      height: 40px;
      background-color: #e415b6;
      border-radius: 20px;
      border: 1px solid #e415b6;
      margin-right: 20px;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .issues-head .label:before, .issues-head .label:after {
        content: '';
        display: block;
        width: 2px;
        height: 18px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: 300ms;
        transition: 300ms; }
      .issues-head .label:after {
        width: 18px;
        height: 2px; }
    .issues-head.active {
      text-decoration: none;
      color: #000; }
      .issues-head.active .label {
        background-color: #fff; }
        .issues-head.active .label:before {
          opacity: 0; }
        .issues-head.active .label:after {
          background-color: #e415b6; }
  .issues-content {
    padding: 5px 40px 32px 80px;
    display: none; }
    .issues-content p {
      line-height: 1.65;
      margin-bottom: 0; }

.issues-inner {
  padding-top: 70px; }
  .issues-inner .issues {
    margin-bottom: 86px; }
    .issues-inner .issues-item {
      overflow: hidden; }
    .issues-inner .issues-head {
      background-color: #dcfdfe;
      color: #012549; }
    .issues-inner .issues-content {
      background-color: #dcfdfe; }

@media (max-width: 1336px) {
  .issues-items {
    margin-right: 30px; } }

@media (max-width: 1200px) {
  .issues {
    margin-bottom: 30px; }
    .issues-head {
      font-size: 20px;
      padding: 12px; }
      .issues-head .label {
        margin-right: 12px; }
    .issues-content {
      padding: 0 20px 20px 67px; } }

@media (max-width: 991px) {
  .issues-title {
    font-size: 46px;
    margin-bottom: 20px; }
  .issues-items {
    margin-right: 16px; }
  .issues-head {
    line-height: 1.1; }
  .issues-inner {
    padding-top: 46px; }
    .issues-inner .issues {
      margin-bottom: 40px; } }

@media (max-width: 767px) {
  .issues {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .issues-title {
      font-size: 36px; }
    .issues__head {
      font-size: 36px;
      width: 488px;
      background-size: 100%;
      margin-bottom: 16px; }
    .issues-items {
      margin-right: 0;
      margin-bottom: 14px; } }

@media (max-width: 575px) {
  .issues-wrap {
    margin-top: 20px; }
  .issues-title {
    font-size: 28px; }
  .issues__head {
    color: #000;
    width: 100%;
    height: auto;
    padding-top: 0;
    background: none;
    text-align: center;
    font-size: 28px; }
  .issues-head {
    font-size: 18px;
    padding: 10px; }
    .issues-head .label {
      width: 34px;
      height: 34px; }
  .issues-content {
    padding: 0 14px 14px; }
    .issues-content p {
      line-height: 1.3; }
  .issues-inner {
    margin-top: 0;
    padding-top: 38px; } }

.contacts {
  margin: 23px 0 0; }
  .contacts-head {
    font-family: 'Shadow';
    font-size: 54px;
    color: #012549;
    text-align: center;
    margin-bottom: 56px; }
    .contacts-head a {
      color: #20afe9;
      text-decoration: underline; }
      .contacts-head a:hover {
        text-decoration: none; }
  .contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 122px; }
  .contacts-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .contacts-item {
    margin-right: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .contacts-item:last-child {
      margin-right: 0; }
    .contacts-item.first {
      width: 312px; }
    .contacts-item.second {
      width: 340px; }
      .contacts-item.second .contacts-content {
        padding-left: 26px; }
    .contacts-item.three {
      width: 240px; }
      .contacts-item.three .contacts-content {
        padding-left: 10px; }
  .contacts-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 43px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .contacts-content {
    padding-left: 2px; }
    .contacts-content__title {
      font-size: 24px;
      margin-bottom: 12px;
      line-height: 1; }
    .contacts-content__address {
      font-size: 24px;
      line-height: 1;
      font-family: "Futura New Demi"; }
    .contacts-content__mail {
      font-size: 24px;
      line-height: 1;
      color: #012549;
      font-family: "Futura New Demi";
      text-decoration: underline; }
      .contacts-content__mail:hover {
        color: #012549;
        text-decoration: none; }
    .contacts-content__tel {
      font-size: 24px;
      line-height: 1;
      font-family: "Futura New Demi";
      color: #000; }
      .contacts-content__tel:hover {
        color: #20afe9;
        text-decoration: none; }
  .contacts-link {
    line-height: 50px;
    background-color: #97bf0d;
    border-radius: 25px;
    padding: 0 18px 0 22px;
    font-size: 18px;
    color: #fff;
    font-family: "Futura New Demi"; }
    .contacts-link:hover {
      color: #fff;
      text-decoration: none;
      background-color: #e415b6; }
    .contacts-link img {
      margin-left: 16px; }
  .contacts-map {
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 70px;
    font-size: 0; }
    .contacts-map iframe {
      border: none;
      width: 100%;
      height: 480px; }

@media (max-width: 1336px) {
  .contacts-head {
    margin-bottom: 36px; }
  .contacts-item {
    margin-right: 32px; }
  .contacts-section {
    margin-bottom: 70px; }
  .contacts-map {
    margin-bottom: 54px; }
    .contacts-map iframe {
      height: 380px; } }

@media (max-width: 1200px) {
  .contacts-head {
    font-size: 44px; }
  .contacts-item {
    margin-right: 10px; }
    .contacts-item.first {
      width: 276px; }
    .contacts-item.second {
      width: 300px; }
      .contacts-item.second .contacts-content {
        padding-left: 14px; }
    .contacts-item.three {
      width: 208px; }
  .contacts-content__title {
    margin-bottom: 5px; }
  .contacts-content__title, .contacts-content__address, .contacts-content__mail, .contacts-content__tel {
    font-size: 20px; }
  .contacts-link {
    padding: 0 12px; }
    .contacts-link img {
      margin-left: 4px; }
  .contacts-map {
    margin-bottom: 44px; } }

@media (max-width: 991px) {
  .contacts-head {
    font-size: 36px; }
  .contacts-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 46px; }
  .contacts-items {
    margin-bottom: 20px; }
  .contacts-item.first {
    width: 250px; }
  .contacts-item.second {
    width: 266px; }
  .contacts-item.three {
    width: 196px; }
  .contacts-content__title, .contacts-content__address, .contacts-content__mail, .contacts-content__tel {
    font-size: 18px; }
  .contacts-map iframe {
    height: 280px; } }

@media (max-width: 767px) {
  .contacts-head {
    font-size: 28px;
    margin-bottom: 22px; }
  .contacts-section {
    margin-bottom: 32px; }
  .contacts-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 6px; }
  .contacts-item {
    width: 300px !important;
    margin-right: 0;
    margin-bottom: 16px; }
  .contacts-img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contacts-content {
    padding-left: 18px !important; } }

.main-context {
  margin: 0 160px 58px; }
  .main-context__head {
    color: #012549;
    font-family: 'Shadow';
    font-size: 34px;
    text-align: center;
    margin-bottom: 23px; }
  .main-context__text {
    margin-bottom: 26px;
    line-height: 1.65;
    text-align: center; }
    .main-context__text:last-child {
      margin-bottom: 0; }

@media (max-width: 1200px) {
  .main-context {
    margin: 0 60px 44px; }
    .main-context__head {
      margin-bottom: 10px; }
    .main-context__text {
      margin-bottom: 16px; } }

@media (max-width: 991px) {
  .main-context {
    margin: 0 0 32px; }
    .main-context__head {
      font-size: 28px; }
    .main-context__text {
      line-height: 1.3; } }

.content-page {
  margin: 16px 160px 60px; }
  .content-page h2 {
    color: #024281;
    font-family: "Futura New Demi";
    font-size: 46px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 33px; }
  .content-page b {
    display: block;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 28px; }
  .content-page p {
    line-height: 1.65;
    margin-bottom: 26px; }

@media (max-width: 1200px) {
  .content-page {
    margin: 16px 60px 40px; } }

@media (max-width: 991px) {
  .content-page {
    margin-right: 0;
    margin-left: 0; }
    .content-page h2 {
      font-size: 38px;
      line-height: 1;
      margin-bottom: 18px; }
    .content-page b {
      font-size: 21px;
      margin-bottom: 14px; }
    .content-page p {
      line-height: 1.4;
      margin-bottom: 14px; } }

@media (max-width: 767px) {
  .content-page h2 {
    font-size: 32px; }
  .content-page b {
    font-size: 18px; } }

@media (max-width: 575px) {
  .content-page h2 {
    font-size: 28px; } }

.about {
  margin: 24px 160px 36px; }
  .about h2 {
    color: #e314b6;
    font-family: 'Shadow';
    font-size: 54px;
    line-height: 1;
    margin-bottom: 19px;
    text-align: center; }
  .about b {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 26px;
    font-family: "Futura New Demi"; }
  .about p {
    line-height: 1.65;
    margin-bottom: 26px; }
  .about img {
    border-radius: 20px;
    margin-top: 8px; }

@media (max-width: 1200px) {
  .about {
    margin: 20px 60px 36px; } }

@media (max-width: 767px) {
  .about {
    margin-right: 0;
    margin-left: 0; }
    .about h2 {
      font-size: 46px;
      margin-bottom: 10px; }
    .about b {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 14px; }
    .about p {
      line-height: 1.3;
      margin-bottom: 14px; } }

@media (max-width: 575px) {
  .about h2 {
    font-size: 38px;
    margin-bottom: 4px; } }

.our-teachers {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 300px;
  margin-top: 6px; }
  .our-teachers-wrap {
    background-color: #dcf5fd; }
    .our-teachers-wrap .record {
      padding-top: 60px; }
      .our-teachers-wrap .record__head {
        margin-bottom: 31px; }
      .our-teachers-wrap .record-content {
        margin-right: 174px; }
  .our-teachers__head {
    color: #012549;
    font-family: 'Shadow';
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.25; }
  .our-teachers__name {
    font-size: 24px;
    font-family: "Futura New Demi";
    margin: 25px 0 11px;
    line-height: 1.35; }
  .our-teachers__text {
    line-height: 1.65; }
  .our-teachers-items {
    position: relative; }
    .our-teachers-items .slick-arrow {
      position: absolute;
      top: 160px;
      left: -80px;
      background-color: #f779f0;
      color: #fff; }
      .our-teachers-items .slick-arrow:hover {
        background-color: #e415b6; }
    .our-teachers-items .slick-next {
      left: auto;
      right: -80px; }
  .our-teachers-item img {
    width: 100%;
    height: 100%; }

@media (max-width: 1440px) {
  .our-teachers-items .slick-arrow {
    left: -36px; }
  .our-teachers-items .slick-next {
    left: auto;
    right: -36px; } }

@media (max-width: 1336px) {
  .our-teachers {
    margin-top: 0; }
    .our-teachers-wrap .record {
      padding-top: 44px; }
      .our-teachers-wrap .record-content {
        margin-right: 32px; }
      .our-teachers-wrap .record__head {
        font-size: 34px;
        margin-bottom: 16px; }
    .our-teachers-items .slick-arrow {
      left: 0; }
    .our-teachers-items .slick-next {
      left: auto;
      right: 0; }
    .our-teachers-item img {
      width: auto;
      height: auto;
      margin: 0 auto; }
    .our-teachers__name {
      margin: 10px 0 5px;
      line-height: 1.15; }
    .our-teachers__text {
      line-height: 1.3; } }

@media (max-width: 991px) {
  .our-teachers-wrap .record-content {
    margin-right: 12px; }
  .our-teachers__head {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.1; }
  .our-teachers__name {
    font-size: 22px; } }

@media (max-width: 767px) {
  .our-teachers {
    margin: 0 auto; } }

@media (max-width: 575px) {
  .our-teachers-wrap .record {
    padding-top: 34px; }
    .our-teachers-wrap .record__head {
      font-size: 25px; } }

.article {
  margin: 17px 160px 58px; }
  .article h2 {
    color: #024281;
    font-family: "Futura New Demi";
    line-height: 1.2;
    font-size: 46px;
    text-align: center;
    margin-bottom: 28px; }
  .article__date {
    display: block;
    margin: 36px 0 24px; }
    .article__date span {
      margin-top: 10px;
      font: 400 14px "Futura New Demi";
      background: #bde925;
      border-radius: 50px;
      padding: 4px 12px;
      margin-bottom: 5px; }
  .article b {
    display: block;
    font-size: 24px;
    line-height: 1.4;
    font-family: "Futura New Demi";
    margin-bottom: 30px; }
  .article p {
    line-height: 1.65;
    margin-bottom: 26px; }
  .article-items {
    position: relative;
    margin-bottom: 40px; }
    .article-items .slick-arrow {
      color: #fff;
      background-color: #f779f0;
      position: absolute;
      top: 172px;
      left: -80px; }
      .article-items .slick-arrow:hover {
        background-color: #e415b6; }
    .article-items .slick-next {
      left: auto;
      right: -80px; }
    .article-items .slick-dots {
      margin-top: 28px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .article-items .slick-dots li {
        width: 10px;
        height: 10px;
        background-color: #4ecef5; }
        .article-items .slick-dots li.slick-active {
          background-color: #0180a7; }
        .article-items .slick-dots li button {
          display: none; }
  .article-item img {
    border-radius: 20px; }
  .article-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .article__link {
    line-height: 50px;
    padding: 0 20px 0 30px;
    background-color: #e415b6;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    font-family: "Futura New Demi";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .article__link:hover {
      text-decoration: none;
      color: #fff;
      background-color: #20afe9; }
    .article__link i {
      margin-left: 14px; }

.article-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-soc__head {
    font-size: 18px;
    margin-right: 14px;
    font-family: "Futura New Demi"; }
  .article-soc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .article-soc ul li {
      margin-right: 10px; }
      .article-soc ul li:last-child {
        margin-right: 0; }
      .article-soc ul li a {
        width: 30px;
        height: 30px; }
        .article-soc ul li a:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }

@media (max-width: 1200px) {
  .article {
    margin: 17px 60px 40px; }
    .article-items .slick-arrow {
      left: -60px; }
    .article-items .slick-next {
      left: auto;
      right: -60px; } }

@media (max-width: 991px) {
  .article h2 {
    line-height: 1.1;
    font-size: 34px;
    margin-bottom: 18px; }
  .article__date {
    margin: 24px 0 14px; }
  .article b {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 14px; }
  .article p {
    line-height: 1.25;
    margin-bottom: 14px; }
  .article-items .slick-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .article-soc__head {
    font-size: 16px;
    margin-right: 10px; }
  .article-soc ul li {
    margin-right: 8px; } }

@media (max-width: 767px) {
  .article {
    margin-right: 0;
    margin-left: 0; }
    .article-items {
      width: 400px;
      margin: 0 auto 18px; }
      .article-items .slick-dots {
        margin-top: 16px; }
    .article-bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .article-soc {
      margin-bottom: 12px; } }

@media (max-width: 575px) {
  .article h2 {
    font-size: 28px; }
  .article-items {
    width: 290px; }
    .article-items .slick-arrow {
      display: none !important; }
    .article-items .slick-dots li {
      margin-right: 12px; }
  .article-soc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .article-soc__head {
      margin-right: 0;
      margin-bottom: 10px; } }

.more-articles {
  background: url(../images/articles-innerBg.jpg) no-repeat 50%;
  padding: 62px 0 44px; }
  .more-articles__head {
    color: #fff;
    font-family: 'Shadow';
    font-size: 54px;
    text-align: center;
    margin-bottom: 25px; }
  .more-articles-link {
    margin-top: 54px;
    text-align: center; }
    .more-articles-link a {
      line-height: 50px;
      background-color: #e415b6;
      border-radius: 25px;
      font-size: 18px;
      color: #fff;
      font-family: "Futura New Demi";
      padding: 0 20px 0 30px; }
      .more-articles-link a:hover {
        text-decoration: none;
        background-color: #bde925; }
      .more-articles-link a i {
        margin-left: 14px; }

@media (max-width: 1200px) {
  .more-articles {
    padding: 40px 0 32px; }
    .more-articles__head {
      font-size: 46px; } }

@media (max-width: 767px) {
  .more-articles .articles-items {
    margin-bottom: 16px; }
  .more-articles-link {
    margin-top: 0; }
  .more-articles__head {
    font-size: 36px; } }

@media (max-width: 575px) {
  .more-articles .articles-items {
    margin-left: 0; }
  .more-articles .articles-item {
    margin-left: 0; }
  .more-articles__head {
    font-size: 28px;
    margin-bottom: 16px; } }

.course {
  width: 700px;
  padding-top: 53px; }
  .course-wrap {
    height: 600px;
    background: url(../images/course-bg.jpg) no-repeat 50%; }
    .course-wrap .bread {
      margin-top: 0;
      padding-top: 28px; }
  .course__label {
    color: #012549;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 63px 60px; }
    .course__label span {
      position: relative;
      padding-bottom: 5px;
      letter-spacing: 5px; }
      .course__label span:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(../images/courses-label.png) repeat left;
        width: 100%;
        height: 2px; }
  .course__head {
    font-family: 'Shadow';
    font-size: 63px;
    line-height: 1;
    color: #fff; }
  .course__entry {
    color: #fff;
    font-size: 45px;
    line-height: 1;
    font-family: "Futura New Demi";
    margin-bottom: 16px; }
  .course__text {
    font-size: 20px;
    font-family: "Futura New Demi";
    line-height: 1.5;
    margin-bottom: 55px; }
  .course-link {
    line-height: 60px;
    padding: 0 20px 0 30px;
    background-color: #75c948;
    border-radius: 30px;
    -webkit-box-shadow: 3.1px 3.9px 27px 3px rgba(255, 0, 0, 0.35);
    box-shadow: 3.1px 3.9px 27px 3px rgba(255, 0, 0, 0.35);
    font-size: 24px;
    color: #fff;
    font-family: "Futura New Demi"; }
    .course-link:hover {
      color: #fff;
      text-decoration: none;
      background-color: #e415b6; }
    .course-link i {
      margin-left: 20px; }

.course-teachers .teachers {
  padding-bottom: 14px; }

@media (max-width: 1200px) {
  .course {
    width: 560px;
    padding-top: 28px; }
    .course-wrap {
      height: 530px; }
    .course__label {
      margin: 0 0 36px 0; }
    .course__head {
      font-size: 46px; }
    .course__entry {
      font-size: 36px;
      margin-bottom: 10px; }
    .course__text {
      font-size: 18px;
      margin-bottom: 32px; } }

@media (max-width: 991px) {
  .course {
    width: 480px; }
    .course__label {
      margin-bottom: 30px; }
    .course__head {
      font-size: 40px; }
    .course__entry {
      font-size: 32px; }
  .course-teachers .teachers__description {
    margin-bottom: 52px; } }

@media (max-width: 767px) {
  .course-teachers .teachers {
    padding-top: 44px;
    padding-bottom: 30px; }
    .course-teachers .teachers .slick-dots {
      bottom: -28px; }
    .course-teachers .teachers__head {
      margin-bottom: 30px; }
    .course-teachers .teachers__description {
      margin-bottom: 24px;
      line-height: 1.3; } }

@media (max-width: 575px) {
  .course {
    margin-right: 0;
    padding-bottom: 30px;
    padding-top: 16px;
    width: 100%; }
    .course-wrap {
      height: auto;
      background-image: url(../images/course-bg320.jpg);
      background-size: cover; }
      .course-wrap .bread {
        padding-top: 16px; }
    .course__label {
      font-size: 22px;
      margin-bottom: 25px; }
    .course__head {
      font-size: 36px; }
    .course__entry {
      font-size: 28px; }
    .course__text {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 18px; }
    .course-link {
      font-size: 17px;
      padding: 0 10px;
      line-height: 46px; }
      .course-link i {
        margin-left: 6px; }
  .course-teachers .teachers {
    padding-bottom: 58px; }
    .course-teachers .teachers__head {
      margin-bottom: 12px; } }

.features {
  padding: 60px 0 30px; }
  .features__head {
    color: #11117a;
    font-family: 'Shadow';
    font-size: 54px;
    text-align: center;
    margin-bottom: 49px; }
  .features-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .features-item {
    width: 350px;
    margin: 0 90px 28px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .features-item:nth-child(3n) {
      margin-right: 0; }
  .features-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    margin-right: 20px; }
  .features-content {
    padding-top: 7px; }
    .features-content__head {
      font-size: 24px;
      font-family: "Futura New Demi";
      margin-bottom: 10px; }
    .features-content__text {
      line-height: 1.65; }

@media (max-width: 1336px) {
  .features-item {
    margin-right: 60px; } }

@media (max-width: 1200px) {
  .features-item {
    width: 310px;
    margin-right: 20px; }
  .features-content__head {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 4px; } }

@media (max-width: 991px) {
  .features {
    padding: 50px 0 20px; }
    .features__head {
      font-size: 46px;
      margin-bottom: 30px; }
    .features-item {
      margin: 0 auto 20px !important; } }

@media (max-width: 575px) {
  .features {
    padding: 38px 0 12px; }
    .features__head {
      font-size: 28px;
      margin-bottom: 20px; }
    .features-img {
      margin-right: 12px; }
    .features-content__head {
      font-size: 18px; }
    .features-content__text {
      line-height: 1.3; } }

.advantages {
  padding: 60px 0 96px; }
  .advantages-wrap {
    background-color: #0c7bc2;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4dcae8), to(#0569be));
    background-image: linear-gradient(to top, #4dcae8 0%, #0569be 100%); }
  .advantages__head {
    color: #fff;
    font-family: 'Shadow';
    font-size: 54px;
    margin-bottom: 34px;
    text-align: center; }
  .advantages-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: relative; }
    .advantages-items .slick-arrow {
      position: absolute;
      top: 50%;
      left: -80px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 18px;
      color: #e415b6; }
      .advantages-items .slick-arrow:hover {
        color: #fff;
        background-color: #e415b6; }
    .advantages-items .slick-next {
      left: auto;
      right: -80px; }
    .advantages-items .slick-dots {
      position: absolute;
      bottom: -55px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .advantages-item {
    width: 620px;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 70px 36px 60px;
    margin: 0 10px; }
    .advantages-item__head {
      font-size: 24px;
      font-family: "Futura New Demi";
      margin-bottom: 11px; }
    .advantages-item__text {
      line-height: 1.65; }

@media (max-width: 1440px) {
  .advantages-items .slick-arrow {
    width: 40px;
    height: 40px;
    left: -42px; }
  .advantages-items .slick-next {
    left: auto;
    right: -42px; } }

@media (max-width: 1336px) {
  .advantages-items {
    width: 620px;
    margin: 0 auto; }
    .advantages-items .slick-arrow {
      left: -60px; }
    .advantages-items .slick-next {
      left: auto;
      right: -60px; } }

@media (max-width: 991px) {
  .advantages {
    padding: 46px 0 80px; }
    .advantages__head {
      font-size: 46px;
      margin-bottom: 22px; }
    .advantages-items .slick-dots {
      bottom: -30px; } }

@media (max-width: 767px) {
  .advantages__head {
    font-size: 40px; }
  .advantages-items {
    width: 420px; }
  .advantages-item {
    width: 420px;
    padding: 20px; }
    .advantages-item__head {
      font-size: 22px;
      line-height: 1.1;
      margin-bottom: 4px; }
    .advantages-item__text {
      line-height: 1.4; } }

@media (max-width: 575px) {
  .advantages {
    padding-top: 36px; }
    .advantages__head {
      font-size: 28px; }
    .advantages-items {
      width: 290px; }
      .advantages-items .slick-arrow {
        display: none !important; }
    .advantages-item {
      width: 290px; } }

.main-blockquotes {
  width: 888px;
  height: 228px;
  font-size: 34px;
  line-height: 1.3;
  font-family: "Futura New Demi";
  text-align: center;
  background: url(../images/main-blockquotesAfter.png) no-repeat 50%;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-blockquotes-wrap {
    height: 360px;
    background: url(../images/main-blockquotesBg.jpg) no-repeat 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

@media (max-width: 991px) {
  .main-blockquotes {
    width: 680px;
    background-size: 100%;
    font-size: 26px; }
    .main-blockquotes-wrap {
      height: 280px; } }

@media (max-width: 767px) {
  .main-blockquotes {
    width: 540px;
    height: 160px;
    font-size: 20px; } }

@media (max-width: 575px) {
  .main-blockquotes {
    width: 100%;
    height: auto;
    background: none;
    padding: 30px 26px; }
    .main-blockquotes-wrap {
      height: auto; } }
