$blue: #00acee;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  background-color: #e8e8e8;
  font: 400 16px 'GTWalsheimPro', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'GTWalsheimPro', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}
@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px;
  }
}

.title {
  color: #00467e;
  font-size: 62px;
  font-weight: 500;
  line-height: 1.2;
}
.head {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.link {
  padding: 16px 28px 21px;
  border: 2px solid $blue;
  color: $blue;
  transition: 300ms;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background-color: $blue;
    color: #ffffff;
  }
}
.ref {
  display: inline-flex;
  align-items: center;
  color: $blue;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    color: $blue;
    span {
      text-decoration: none;
    }
  }
  span {
    margin-right: 16px;
    text-decoration: underline;
  }
  img {
    margin-top: 4px;
  }
}
.error-text {
  margin-top: 8px;
  color: #000000;
  font-size: 14px;
}

@media screen and (max-width: 1336px) {
  .title {
    font-size: 50px;
  }
  .error-text {
    margin-top: 2px;
  }
}
@media screen and (max-width: 991px) {
  .title {
    font-size: 42px;
    line-height: 1.1;
  }
  .link {
    padding: 13px 16px 18px;
  }
}
@media screen and (max-width: 575px) {
  .title {
    font-size: 30px;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      transition: all .2s ease-in-out;
      background-color: $blue;
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        transition: all .2s ease-in-out;
        background-color: $blue;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .burger {
    display: block;
  }
}

// Slick

.slick {
  &-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 16px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 9999px;
    &:focus {
      outline: none;
    }
    &:hover {
      background-position: right;
    }
  }
  &-prev {
    background-image: url(../images/prev.png);
  }
  &-next {
    background-image: url(../images/next.png);
  }
  &-dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    li {
      width: 10px;
      height: 10px;
      margin: 0 4px;
      border: 1px solid $blue;
      border-radius: 50%;
      cursor: pointer;
      transition: 300ms;
      button {
        display: none;
      }
      &.slick-active,
      &:hover {
        background-color: $blue;
      }
    }
  }
}

// Checkbox

.checkbox {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  &-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0;
  }
  &-text {
    padding-left: 20px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7;
    a {
      color: #ffffff;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      content: "\f00c";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      border-radius: 50%;
      opacity: 0;
      transition: 300ms;
      font-size: 10px;
      color: #fff;
    }
  }
}

// Logo

.logo {
  flex-shrink: 0;
  width: 240px;
}

@media screen and (max-width: 1336px) {
  .logo {
    width: 190px;
  }
}

// Nav

.nav li {
  &.active a {
    background-color: #00467e;
    color: #ffffff;
  }
  a {
    padding: 14px 14px 17px;
    color: $blue;
    font-weight: 500;
    font-size: 18px;
    &:hover {
      background-color: #00467e;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 1336px) {
  .nav {
    li {
      a {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .nav {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    background-color: #e8e8e8;
    &.active {
      z-index: 99;
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
    li {
      width: 100%;
      text-align: center;
      a {
        width: 100%;
      }
    }
  }
}

// Header

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 35px 0 28px;
  &-wrap {
    position: relative;
    background-color: #ffffff;
  }
  &-body {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px;
  }
  &-info {
    display: flex;
    align-items: center;
    margin-left: 45px;
    ul {
      &:first-child {
        margin-right: 45px;
      }
      li {
        margin-bottom: 10px;
        text-align: center;
        color: #00467e;
        font-weight: 500;
        font-size: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: #00467e;
          font-weight: 500;
          font-size: 18px;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
  &-link {
    padding: 13px 20px 16px;
    margin-left: 43px;
    border: 1px solid $blue;
    background-color: $blue;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    &:hover {
      background-color: #ffffff;
      color: $blue;
    }
  }
}

@media screen and (max-width: 1336px) {
  .header {
    &-info {
      margin-left: 10px;
      ul {
        &:first-child {
          margin-right: 14px;
        }
        li a {
          font-size: 16px;
        }
      }
    }
    &-link {
      margin-left: 14px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 991px) {
  .header {
    padding: 22px 0;
    &-info,
    &-link {
      margin-left: 22px;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 14px 0;
    &-info {
      display: none;
    }
  }
}
@media screen and (max-width: 486px) {
  .header {
    align-items: center;
    &-link {
      display: none;
    }
  }
}

// Showcase

.showcase {
  display: flex;
  align-items: flex-start;
  padding-top: 80px;
  .title {
    margin-bottom: 100px;
  }
  &-wrap {
    min-height: 720px;
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    width: 480px;
    margin-bottom: -36px;
  }
  &-content {
    flex-grow: 10;
    padding: 76px 0 40px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 1336px) {
  .showcase {
    .title {
      margin-bottom: 70px;
    }
    &-wrap {
      min-height: 620px;
    }
    &-img {
      width: 420px;
    }
    &-content {
      margin-right: 40px;
      padding-top: 56px;
    }
  }
}
@media screen and (max-width: 991px) {
  .showcase {
    padding-top: 46px;
    .title {
      margin-bottom: 50px;
    }
    &-wrap {
      min-height: 480px;
    }
    &-img {
      width: 320px;
    }
    &-content {
      margin-right: 20px;
      padding-top: 46px;
    }
  }
}
@media screen and (max-width: 767px) {
  .showcase {
    padding: 40px 0;
    .title {
      margin-bottom: 40px;
    }
    &-wrap {
      min-height: 360px;
    }
    &-img {
      display: none;
    }
    &-content {
      max-width: 576px;
      padding: 0;
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 575px) {
  .showcase {
    .title {
      margin-bottom: 32px;
    }
    &-wrap {
      min-height: 300px;
    }
  }
}

// Сustomers

.customers {
  padding: 87px 0 54px;
  .head {
    margin: 0 0 44px 4px;
  }
  .title {
    flex-grow: 10;
    margin-right: 100px;
  }
  &-wrap {
    background-color: #fff;
  }
  &-body {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    padding-bottom: 42px;
  }
  &-items {
    flex-shrink: 0;
    width: 720px;
    margin: 0 60px;
    .slick {
      &-prev {
        left: -60px;
      }
      &-next {
        right: -60px;
      }
      &-dots {
        bottom: -40px;
      }
    }
  }
  &-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 160px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    opacity: 0.8;
  }
}

@media screen and (max-width: 1336px) {
  .customers {
    .title {
      margin-right: 40px;
    }
    &-items {
      width: 530px;
    }
    &-item {
      width: 50%;
    }
  }
}
@media screen and (max-width: 991px) {
  .customers {
    padding: 50px 0 40px;
    .head {
      margin: 0 0 8px;
    }
    .title {
      margin: 0 0 40px;
    }
    &-body {
      flex-direction: column;
    }
    &-items {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 767px) {
  .customers {
    .head {
      margin-bottom: 14px;
    }
    &-items {
      width: 420px;
    }
  }
}
@media screen and (max-width: 575px) {
  .customers {
    padding: 40px 0 30px;
    .head {
      margin-bottom: 10px;
    }
    .title {
      margin-bottom: 34px;
    }
    &-wrap {
      overflow: hidden;
    }
    &-body {
      padding-bottom: 0;
      overflow: visible;
    }
    &-items {
      width: 240px;
      .slick {
        &-prev {
          left: -36px;
        }
        &-next {
          right: -36px;
        }
        &-dots {
          display: none !important;
        }
      }
    }
  }
}

// How works

.how-works {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  padding: 44px 0 80px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: -100px;
    z-index: -1;
    width: 800px;
    height: 802px;
    background: url(../images/works-before.png) no-repeat 50%;
    background-size: cover;
  }
  &-wrap {
    background-color: #ffffff;
  }
  &-img {
    flex-shrink: 0;
    width: 560px;
  }
  &-content {
    flex-grow: 10;
    margin-left: 80px;
    padding-top: 14px;
    .head {
      margin-bottom: 48px;
    }
    .title {
      margin-bottom: 35px;
    }
    .link {
      margin-top: 38px;
    }
    p {
      margin-bottom: 26px;
      color: #0a0a0a;
      line-height: 1.65;
    }
  }
}

@media screen and (max-width: 1336px) {
  .how-works {
    padding: 40px 0;
    &:before {
      width: 700px;
      height: 702px;
    }
    &-img {
      width: 440px;
    }
    &-content {
      margin-left: 40px;
      .head,
      .title  {
        margin-bottom: 28px;
      }
      .link {
        margin-top: 10px;
      }
      p {
        margin-bottom: 16px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .how-works {
    padding: 30px 0;
    &:before {
      width: 500px;
      height: 502px;
    }
    &-img {
      width: 300px;
    }
    &-content {
      .head {
        margin-bottom: 16px;
      }
      .title {
        margin-bottom: 24px;
      }
      p {
        line-height: 1.4;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .how-works {
    flex-direction: column;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
    &-img {
      margin: 0 auto 20px;
    }
    &-content {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 575px) {
  .how-works {
    &:before {
      display: none;
    }
    &-img {
      width: 290px;
    }
  }
}

// We offer

.we-offer {
  padding: 30px 0 88px;
  &-wrap {
    overflow: hidden;
    background-color: #fff;
  }
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    .head {
      margin-right: 86px;
      padding-top: 20px;
    }
  }
  &-items {
    width: 1020px;
    .slick-list {
      padding-bottom: 22px;
    }
  }
  &-item {
    display: flex !important;
    align-items: flex-start;
    padding: 45px 70px 67px 58px;
    border: 1px solid #d1d1d1;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -21px;
      right: 10px;
      left: 10px;
      height: 20px;
      background: url(../images/we-offer-after.jpg) no-repeat 50%;
      background-size: 100%;
    }
  }
  &-info {
    flex-shrink: 0;
    width: 160px;
    margin-left: 80px;
    padding-top: 45px;
    .link {
      width: 100%;
      text-align: center;
    }
  }
  &-body {
    display: flex;
    align-items: flex-start;
  }
  &-img {
    flex-shrink: 0;
    width: 100px;
    margin-top: 13px;
  }
  &-content {
    flex-grow: 10;
    margin-left: 60px;
    p {
      margin-bottom: 0;
      color: #0a0a0a;
      line-height: 1.65;
    }
  }
  &__title {
    margin-bottom: 23px;
    color: #00467e;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
  }
}
.we-offer-nav {
  position: relative;
  padding: 0 30px;
  margin-bottom: 100px;
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  .slick {
    &-arrow {
      margin-top: 10px;
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }
  .numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin: 14px 6px 0;
    }
    .all {
      margin-top: 14px;
    }
  }
  .current {
    font-size: 62px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1336px) {
  .we-offer {
    padding-bottom: 55px;
    &-header {
      margin-bottom: 50px;
    }
    &-items {
      width: 770px;
    }
    &-item {
      padding: 30px 30px 40px;
    }
    &-info {
      margin-left: 40px;
    }
    &__title {
      margin-bottom: 16px;
      font-size: 28px;
      line-height: 1.2;
    }
  }
}
@media screen and (max-width: 991px) {
  .we-offer {
    padding-bottom: 48px;
    &-header {
      margin-bottom: 40px;
      .head {
        margin-right: 66px;
      }
    }
    &-items {
      width: 570px;
      .slick-list {
        padding-bottom: 0;
      }
    }
    &-item:after {
      display: none;
    }
    &-info {
      margin-left: 20px;
    }
    &-nav {
      margin-bottom: 60px;
    }
    &-img {
      margin-top: 10px;
    }
    &-content {
      margin-left: 20px;
      p {
        line-height: 1.4;
      }
    }
    &__title {
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 767px) {
  .we-offer {
    &-body {
      flex-direction: column;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      .head {
        margin-right: 0;
        margin-bottom: 6px;
        padding-top: 0;
      }
    }
    &-info {
      order: -1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      padding-top: 0;
      .link {
        max-width: 200px;
      }
    }
    &-items {
      width: 100%;
    }
    &-item {
      padding: 30px;
    }
    &-nav {
      width: 200px;
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 575px) {
  .we-offer {
    padding-top: 20px;
    &-header {
      margin-bottom: 30px;
    }
    &-info {
      flex-direction: column;
      .link {
        max-width: 100%;
      }
    }
    &-nav {
      width: 100%;
      margin-bottom: 20px;
    }
    &-item {
      flex-direction: column;
      padding: 20px;
    }
    &-img {
      margin-top: 0;
      margin-bottom: 16px;
    }
    &-content {
      margin-left: 0;
    }
    &__title {
      font-size: 20px;
    }
  }
}

// Work performed

.work-performed {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 0;
  .link {
    border-color: #fff;
    color: #fff;
    &:hover {
      background-color: #ffffff;
      color: $blue;
    }
  }
  .ref {
    margin-right: 74px;
    color: #ffffff;
  }
  &-wrap {
    background-color: $blue;
  }
  &-content {
    width: 400px;
    padding: 73px 0 40px;
    .head {
      margin-bottom: 67px;
      color: #ffffff;
    }
  }
  &-project {
    display: flex;
    align-items: flex-start;
    margin-bottom: 29px;
  }
  &-logo {
    flex-shrink: 0;
    width: 60px;
    margin-right: 20px;
  }
  &-info {
    padding-top: 3px;
    color: #ffffff;
    font-weight: 500;
    font-size: 32px;
    span {
      display: block;
      margin-bottom: 11px;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 0;
    }
  }
  &-descr {
    margin-bottom: 66px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
  }
  &-block {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 612px;
    height: 616px;
    margin-right: 3px;
    overflow: hidden;
    background: url(../images/work-performed-img.png) no-repeat 50%;
    background-size: cover;
  }
  &-items {
    width: 400px;
    margin-left: 10px;
    .slick {
      &-arrow {
        transform: translateY(0);
      }
      &-prev {
        left: -90px;
        top: 102px;
      }
      &-next {
        top: auto;
        bottom: 101px;
        right: -84px;
      }
    }
  }
  &-item {
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1336px) {
  .work-performed {
    &-block {
      width: 500px;
      height: 504px;
      margin-right: 0;
    }
    &-items {
      width: 360px;
      .slick {
        &-prev {
          left: -58px;
        }
        &-next {
          right: -56px;
        }
      }
    }
    &-item {
      height: 360px;
    }
    &-content {
      padding-top: 44px;
      .head {
        margin-bottom: 36px;
      }
    }
    &-project {
      margin-bottom: 20px;
    }
    &-descr {
      margin-bottom: 36px;
    }
  }
}
@media screen and (max-width: 991px) {
  .work-performed {
    align-items: center;
    padding: 20px 0;
    .ref {
      margin-right: 34px;
    }
    &-block {
      width: 380px;
      height: 384px;
    }
    &-items {
      width: 260px;
      margin-left: 6px;
      .slick {
        &-prev {
          top: 62px;
          left: -56px;
        }
        &-next {
          bottom: 60px;
          right: -52px;
        }
      }
    }
    &-item {
      height: 260px;
    }
    &-content {
      width: 360px;
      padding: 0;
    }
    &-project {
      margin-bottom: 14px;
    }
    &-info {
      font-size: 28px;
    }
    &-descr {
      margin-bottom: 18px;
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 767px) {
  .work-performed {
    flex-direction: column;
    &-content {
      width: 100%;
      .head {
        margin-bottom: 26px;
      }
    }
    &-block {
      order: -1;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 410px) {
  .work-performed {
    .ref {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .link {
      width: 100%;
      text-align: center;
    }
    &-block {
      width: 308px;
      height: 310px;
    }
    &-items {
      width: 220px;
      .slick {
        &-prev {
          left: -44px;
        }
        &-next {
          bottom: 55px;
          right: -41px;
        }
      }
    }
    &-item {
      height: 220px;
    }
    &-logo {
      width: 50px;
      margin-right: 10px;
    }
    &-info {
      font-size: 22px;
    }
    &-descr {
      font-size: 18px;
    }
    &-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// Decision

.decision {
  padding: 55px 0 80px;
  &-wrap {
    background-color: #fff;
  }
  &-header {
    display: flex;
    align-items: flex-start;
    margin: 0 0 77px 3px;
    .head {
      min-width: 160px;
      margin: 40px 74px 0 0;
    }
    .title {
      max-width: 620px;
    }
  }
  &-btn {
    text-align: center;
  }
  &-items {
    display: flex;
    margin-bottom: 80px;
  }
  &-item {
    position: relative;
    z-index: 5;
    width: 50%;
    min-height: 320px;
    padding: 54px 58px;
    background-color: #fff;
    border: 1px solid #ddd;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: 200ms ease-in-out;
    }
    .ref {
      position: absolute;
      bottom: 32px;
      left: 60px;
      transition: 200ms;
      opacity: 0;
    }
    &:hover {
      padding-top: 34px;
      &:before {
        transform: scaleY(1.15);
        background-color: #00467e;
        box-shadow: 0 0 18px 2px rgba(2, 80, 145, 0.4);
      }
      .ref {
        opacity: 1;
      }
      .decision {
        &-title {
          color: #fff;
          text-decoration: underline;
        }
      }
      p {
        color: #ffffff;
      }
    }
    p {
      margin-bottom: 0;
      color: #0a0a0a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.65;
      transition: 200ms;
    }
  }
  &-title {
    margin-bottom: 31px;
    color: #00467e;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    transition: 200ms;
  }
}

@media screen and (max-width: 1336px) {
  .decision {
    padding-bottom: 60px;
    &-header {
      margin-bottom: 57px;
    }
    &-items {
      margin-bottom: 50px;
    }
    &-item {
      padding: 44px;
      .ref {
        left: 44px;
        bottom: 24px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .decision {
    &-header {
      .head {
        margin-right: 24px;
      }
    }
    &-item {
      min-height: 300px;
      padding: 18px 24px 44px;
      &:hover {
        padding-top: 24px;
        &:before {
          transform: scaleY(1.1);
        }
      }
      .ref {
        left: 24px;
      }
      p {
        margin-bottom: 18px;
        line-height: 1.4;
      }
    }
    &-title {
      margin-bottom: 14px;
      font-size: 26px;
    }
  }
}
@media screen and (max-width: 767px) {
  .decision {
    padding: 50px 0;
    &-header {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 30px;
      .head {
        min-width: 100%;
        margin: 0 0 6px;
      }
    }
    &-items {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    &-item {
      width: 100%;
      min-height: 260px;
      padding: 20px 20px 50px;
      &:hover {
        padding-top: 20px;
        &:before {
          transform: scaleY(1);
        }
      }
      p {
        margin-bottom: 12px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .decision {
    padding: 40px 0;
  }
}

// Suppliers

.suppliers {
  overflow: hidden;
  .customers {
    padding: 65px 0 48px;
  }
}

@media screen and (max-width: 991px) {
  .suppliers {
    .customers {
      padding: 50px 0;
    }
  }
}
@media screen and (max-width: 575px) {
  .suppliers {
    .customers {
      padding: 40px 0;
    }
  }
}

// Callback

.callback {
  display: flex;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 2000px;
    background-color: #fff;
  }
  &-wrap {
    background-color: $blue;
    overflow: hidden;
  }
  &-form {
    flex-grow: 10;
    padding: 74px 0 87px 80px;
    color: #ffffff;
    .head {
      margin-bottom: 44px;
      color: #ffffff;
    }
  }
  &-input {
    margin-bottom: 39px;
    &.input-error {
      input {
        color: #000000;
        border-color: #000000;
        &::placeholder {
          color: #000000;
        }
        &::-moz-placeholder {
          color: #000000;
        }
      }
    }
    input {
      width: 100%;
      height: 81px;
      border: none;
      border-bottom: 2px solid #fff;
      background-color: transparent;
      color: #ffffff;
      font: 400 32px 'GTWalsheimPro';
      &::placeholder {
        color: #ffffff;
      }
      &::-moz-placeholder {
        color: #ffffff;
      }
    }
  }
  &-check {
    max-width: 260px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7;
    a {
      color: #ffffff;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    margin-top: 71px;
    .link {
      flex-shrink: 0;
      margin-right: 80px;
      padding-right: 33px;
      padding-left: 33px;
      border-color: #fff;
      background-color: transparent;
      color: #ffffff;
      &:hover {
        border-color: $blue;
        color: $blue;
        background-color: #ffffff;
      }
    }
  }
}
.callback-contacts {
  flex-shrink: 0;
  width: 480px;
  padding: 74px 80px 90px 0;
  background-color: #ffffff;
  .head {
    margin: 0 0 45px 3px;
  }
  .link {
    padding-right: 33px;
    padding-left: 33px;
  }
  p,
  &-tel,
  &-tel a,
  &__mail {
    color: #0a0a0a;
    font-size: 32px;
    font-weight: 500;
  }
  p {
    margin-bottom: 26px;
    line-height: 1.4;
  }
  &-tel {
    display: flex;
    margin-bottom: 31px;
    span {
      margin-right: 8px;
    }
    a:hover {
      color: $blue;
    }
  }
  &__mail {
    margin-bottom: 60px;
    color: $blue;
    &:hover {
      color: #000000;
    }
  }
}

@media screen and (max-width: 1336px) {
  .callback {
    &-contacts {
      width: 400px;
      padding-right: 30px;
    }
    &-form {
      padding-left: 30px;
    }
    &-footer {
      .link {
        margin-right: 20px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .callback {
    &-contacts {
      width: 300px;
      padding: 44px 20px 44px 0;
      .head {
        margin-bottom: 26px;
      }
      p,
      &-tel,
      &-tel a,
      &__mail {
        font-size: 24px;
      }
      p,
      &-tel {
        margin-bottom: 20px;
      }
      &__mail {
        margin-bottom: 40px;
      }
    }
    &-form {
      padding: 44px 0 44px 20px;
      .head {
        margin-bottom: 24px;
      }
    }
    &-input {
      margin-bottom: 20px;
      input {
        height: 60px;
        font-size: 22px;
      }
    }
    &-check {
      order: -1;
      width: 100%;
      max-width: 100%;
      margin-bottom: 16px;
    }
    &-footer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 767px) {
  .callback {
    flex-direction: column;
    &:before {
      display: none;
    }
    &-contacts {
      position: relative;
      z-index: 5;
      width: 100%;
      padding: 40px 0;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 3000px;
        background-color: #ffffff;
      }
    }
    &-form {
      padding: 40px 0;
    }
  }
}
@media screen and (max-width: 575px) {
  .callback {
    &-contacts {
      p,
      &-tel,
      &-tel a,
      &__mail {
        font-size: 20px;
      }
      p,
      &-tel {
        margin-bottom: 12px;
      }
      &__mail {
        margin-bottom: 30px;
      }
    }
    &-input {
      input {
        height: 50px;
        font-size: 18px;
      }
    }
  }
}

// Footer

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 67px 0 30px;
  &-wrap {
    background-color: #00467e;
  }
  &-logo {
    margin-bottom: 18px;
  }
  &-block {
    flex-shrink: 0;
    width: 256px;
  }
  &-items {
    display: flex;
    max-width: 584px;
    margin: 10px 0 0 70px;
  }
  &-item {
    flex-basis: 50%;
    &:first-child {
      margin-right: 54px;
    }
    li {
      margin-bottom: 6px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      &.footer-title {
        margin-bottom: 18px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #ffffff;
        line-height: 1.65;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-contacts {
    margin-left: 60px;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.65;
    p {
      margin-bottom: 0;
    }
  }
  &-tel {
    display: flex;
    align-items: flex-start;
    span {
      margin-right: 4px;
    }
    a {
      color: #ffffff;
      font-weight: 500;
      &:hover {
        color: $blue;
      }
    }
  }
  &-mail {
    color: $blue;
    font-weight: 500;
    text-decoration: underline;
    &:hover {
      color: #ffffff;
    }
  }
  &-info {
    flex-shrink: 0;
    width: 204px;
    margin-top: 10px;
    .link {
      width: 100%;
      text-align: center;
      background-color: $blue;
      color: #ffffff;
    }
  }
  &-projects {
    margin-bottom: 61px;
    li {
      margin-bottom: 19px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  a {
    color: $blue;
    font-size: 14px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 0;
    color: $blue;
    font-size: 14px;
  }
}

@media screen and (max-width: 1336px) {
  .footer {
    padding-top: 48px;
    &-items {
      max-width: 450px;
      margin-left: 0;
    }
    &-item:first-child {
      margin-right: 30px;
    }
  }
}
@media screen and (max-width: 991px) {
  .footer {
    flex-wrap: wrap;
    padding-top: 36px;
    &-block {
      width: 100%;
      margin-bottom: 16px;
      text-align: center;
    }
    &-contacts {
      margin-left: 0;
    }
    &-tel {
      justify-content: center;
    }
    &-items {
      max-width: 510px;
    }
  }

  .bottom {
    padding: 22px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-bottom: 18px;
    &-items {
      margin: 0 auto 20px;
    }
    &-item {
      li {
        text-align: center;
      }
    }
    &-projects {
      margin-bottom: 30px;
      li {
        margin-bottom: 12px;
        text-align: center;
      }
    }
    &-info {
      width: 100%;
    }
  }

  .bottom {
    flex-direction: column;
    align-items: center;
    padding: 14px 0;
    line-height: 1.6;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    padding-bottom: 10px;
    &-items {
      flex-direction: column;
      align-items: center;
      margin-bottom: 14px;
    }
    &-item {
      flex-basis: 100%;
      &:first-child {
        margin-right: 0;
        margin-bottom: 20px;
      }
      li {
        &.footer-title {
          margin-bottom: 12px;
        }
        a {
          line-height: 1.4;
        }
      }
    }
    &-projects {
      margin-bottom: 24px;
      li {
        margin-bottom: 10px;
      }
    }
  }
}

// Bread

.bread {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 28px 0 34px;
  li {
    position: relative;
    margin: 0 52px 6px 0;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      right: -41px;
      width: 30px;
      height: 16px;
      background: url(../images/arw-grey.png) no-repeat 50%;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .bread {
    margin: 18px 0;
  }
}

// Contacts

.contacts {
  padding-bottom: 80px;
  .title {
    margin-bottom: 82px;
  }
  &-items {
    display: flex;
  }
  &-item {
    position: relative;
    width: 33.33%;
    padding: 15px 100px 25px 0;
    .head {
      margin-bottom: 30px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 50px;
      bottom: 0;
      width: 1px;
      background-color: #a7b4b4;
    }
    &:nth-child(2) {
      padding-left: 18px;
      &:after {
        right: 20px;
      }
    }
    &:last-child {
      padding-left: 40px;
      &:after {
        display: none;
      }
    }
    p,
    ul li a {
      color: #0a0a0a;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.4;
    }
    p {
      margin-bottom: 0;
    }
    ul li a:hover {
      color: $blue;
    }
  }
  &-mail {
    color: $blue;
    font-size: 32px;
    font-weight: 500;
    &:hover {
      color: #000000;
    }
  }
}
.contacts-map {
  padding-top: 30px;
  .head {
    margin-bottom: 47px;   
  }
  .map {
    height: 800px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

@media screen and (max-width: 1336px) {
  .contacts {
    padding-bottom: 40px;
    .title {
      margin-bottom: 50px;
    }
    &-item {
      padding: 20px 40px 20px 0;
      .head {
        margin-bottom: 16px;
      }
      &:after {
        right: 20px;
      }
      &:nth-child(2),
      &:last-child {
        padding-left: 0;
      }
      p,
      ul li a {
        font-size: 24px;
      }
    }
    &-mail {
      font-size: 24px;
    }
    &-map .map {
      height: 600px;
    }
  }
}
@media screen and (max-width: 991px) {
  .contacts {
    padding-bottom: 30px;
    .title {
      margin-bottom: 40px;
    }
    &-item {
      p,
      ul li a {
        font-size: 20px;
      }
    }
    &-mail {
      font-size: 20px;
    }
    &-map {
      .head {
        margin-bottom: 36px;
      }
      .map {
        height: 500px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    padding-bottom: 20px;
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
      text-align: center;
      .head {
        margin-bottom: 4px;
      }
      &:after {
        display: none !important;
      }
      &:last-child {
        margin-bottom: 0;
      }
      p,
      ul li a {
        font-size: 18px;
      }
    }
    &-mail {
      font-size: 18px;
    }
    &-map .map {
      height: 400px;
    }
  }
}
@media screen and (max-width: 575px) {
  .contacts {
    .title {
      margin-bottom: 24px;
    }
    &-map {
      padding-top: 20px;
      .map {
        height: 300px;
      }
    }
  }
}

// About

.about {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 5;
  padding: 42px 0 75px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    right: -158px;
    z-index: -1;
    width: 780px;
    height: 780px;
    background: url(../images/about-bg.png) no-repeat 50%;
    background-size: cover;
  }
  &-wrap {
    overflow: hidden;
  }
  &-content {
    flex-grow: 10;
    margin-right: 70px;
    .head {
      margin-bottom: 52px;
    }
    .title {
      margin-bottom: 54px;
    }
    p {
      margin-bottom: 26px;
      line-height: 1.65;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 420px;
    margin-top: 66px;
  }
}

@media screen and (max-width: 1336px) {
  .about {
    padding-bottom: 40px;
    &-content {
      margin-right: 30px;
      .head {
        margin-bottom: 32px;
      }
      .title {
        margin-bottom: 34px;
      }
      p {
        margin-bottom: 16px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .about {
    padding: 30px 0;
    &-content {
      .head {
        margin-bottom: 20px;
      }
      .title {
        margin-bottom: 24px;
      }
      p {
        line-height: 1.45;
      }
    }
    &-img {
      width: 320px;
    }
  }
}
@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    &:after {
      display: none;
    }
    &-img {
      margin: 0 auto;
    }
    &-content {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 575px) {
  .about {
    &-img {
      width: 290px;
    }
  }
}

// Content

.content {
  max-width: 940px;
  margin: 0 auto;
  padding: 10px 0 68px;
  overflow: hidden;
  &-title {
    margin-bottom: 25px;
    color: #0d0f11;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
  }
  p {
    margin-bottom: 35px;
    margin-right: 14px;
    color: #0a0a0a;
    line-height: 1.65;
  }
  > img {
    margin-bottom: 31px;
  }
  &-gallery {
    margin-bottom: 47px;
    text-align: center;
    .slick {
      &-dots {
        position: static;
        transform: translateX(0);
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  }
  &-slides {
    height: 480px;
    margin-bottom: 40px;
    div {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
    }
  }
  &-navigation {
    display: inline-flex;
    justify-content: center;
    position: relative;
    min-width: 200px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 991px) {
  .content {
    padding: 0 0 48px;
    p {
      margin-right: 0;
      margin-bottom: 26px;
      line-height: 1.5;
    }
    &-gallery {
      margin-bottom: 36px;
    }
    &-slides {
      height: 380px;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  .content {
    > img {
      margin-bottom: 20px;
    }
    &-title {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 1.2;
    }
    &-slides {
      height: 280px;
    }
  }
}
@media screen and (max-width: 575px) {
  .content {
    padding-bottom: 26px;
    p {
      line-height: 1.4;
    }
    &-gallery {
      margin-bottom: 26px;
    }
    &-slides {
      height: 170px;
      margin-bottom: 16px;
    }
  }
}

// Projects

.projects {
  padding-bottom: 80px;
  .title {
    max-width: 700px;
    margin-bottom: 48px;
  }
  &-items {
    margin-bottom: 74px;
  }
  &-item {
    display: flex;
    position: relative;
    z-index: 5;
    min-height: 440px;
    padding: 48px;
    border: 1px solid #d1d1d1;
    border-top: 1px solid transparent;
    transition: 300ms ease-in-out;
    &:first-child {
      border-top: 1px solid #d1d1d1;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: 300ms;
    }
    &:hover {
      padding-top: 28px;
      &:before {
        transform: scale(1, 1.1);
        background-color: #ffffff;
        box-shadow: 0 0 24px 6px rgba(0, 172, 238, 0.2);
      }
      .ref {
        opacity: 1;
      }
    }
  }
  &-img {
    flex-shrink: 0;
    width: 440px;
    &:hover {
      opacity: 0.8;
    }
  }
  &-content {
    position: relative;
    flex-grow: 10;
    margin-left: 70px;
    margin-top: -6px;
    .ref {
      position: absolute;
      bottom: -16px;
      left: 0;
      opacity: 0;
      transition: 300ms;
    }
    p {
      margin-bottom: 0;
      color: #0a0a0a;
      line-height: 1.65;
    }
  }
  &-title {
    margin-bottom: 25px;
    color: #00467e;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    &:hover {
      color: $blue;
    }
  }
}

@media screen and (max-width: 1336px) {
  .projects {
    padding-bottom: 60px;
    &-items {
      margin-bottom: 54px;
    }
    &-item {
      padding: 24px 20px 30px;
      &:hover {
        padding-top: 16px;
      }
    }
    &-content {
      margin-left: 30px;
      .ref {
        bottom: -26px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .projects {
    &-img {
      width: 320px;
    }
    &-content {
      margin-top: 0;
      p {
        line-height: 1.4;
      }
    }
    &-title {
      margin-bottom: 10px;
      font-size: 26px;
      line-height: 1.2;
    }
  }
}
@media screen and (max-width: 767px) {
  .projects {
    &-item {
      flex-direction: column;
      padding-bottom: 50px;
      &:hover {
        &:before {
          transform: scale(1, 1.05);
        }
      }
    }
    &-img {
      width: 100%;
      max-width: 400px;
      margin: 0 auto 14px;
    }
    &-content {
      margin-left: 0;
      .ref {
        bottom: -36px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .projects {
    padding-bottom: 50px;
    &-items {
      margin-bottom: 48px;
    }
    &-title {
      font-size: 20px;
    }
    &-content {
      p {
        line-height: 1.3;
      }
    }
  }
}

// Pagination 

.pagination {
  align-items: center;
  justify-content: center;
  li {
    margin: 0 3px;
    &.prev,
    &.next {
      margin: 0;
      a {
        width: 30px;
        height: 16px;
        transition: none;
        background-repeat: no-repeat;
        background-position: left;
        &:hover {
          background-color: transparent;
          background-position: right;
        }
      }
    }
    &.prev {
      margin-right: 30px;
      a {
        background-image: url(../images/prev.png);
      }
    }
    &.next {
      margin-left: 30px;
      a {
        background-image: url(../images/next.png);
      }
    }
    &.active a {
      background-color: $blue;
      color: #ffffff;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      color: $blue;
      font-size: 18px;
      font-weight: 500;
      &:hover {
        background-color: $blue;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .pagination {
    li {
      margin: 0 1px;
      &.prev {
        margin-right: 10px;
      }
      &.next {
        margin-left: 10px;
      }
      a {
        width: 34px;
        height: 34px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

// Services

.services {
  padding-bottom: 87px;
  .title {
    margin-bottom: 35px;
  }
  &-text {
    max-width: 940px;
    margin-bottom: 63px;
    p {
      margin-bottom: 0;
      font-weight: 500;
      line-height: 1.65;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    position: relative;
    width: 33.33%;
    height: 241px;
    padding: 27px 25px 27px 37px;
    background-color: #fff;
    border: 1px solid #ddd;
    &:hover {
      .services-elem {
        opacity: 1;
      }
    }
    p {
      max-height: 78px;
      overflow: hidden;
      margin-bottom: 14px;
      color: #ffffff;
      line-height: 1.65;
    }
  }
  &-elem {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 27px 25px 27px 37px;
    opacity: 0;
    transition: 300ms;
    background-color: #00467e;
    box-shadow: 0 0 24px 6px rgba(11, 53, 210, 0.2);
    .services-title {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  &-title {
    max-height: 64px;
    overflow: hidden;
    margin-bottom: 14px;
    color: #00467e;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.35;
  }
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 39px;
    width: 60px;
    height: 60px;
    transition: 300ms;
  }
}

@media screen and (max-width: 1336px) {
  .services {
    &-item,
    &-elem {
      padding: 18px 14px 40px 16px;
    }
    &-img {
      left: 18px;
    }
  }
}
@media screen and (max-width: 991px) {
  .services {
    padding-bottom: 56px;
    .title {
      margin-bottom: 25px;
    }
    &-item {
      width: 50%;
    }
    &-img {
      bottom: 20px;
    }
    &-text {
      margin-bottom: 36px;
    }
  }
}
@media screen and (max-width: 575px) {
  .services-item {
    width: 100%;
  }
}