button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Proxima', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'Proxima', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.head {
  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: #ff6c00;
  margin-bottom: 55px; }

.link {
  line-height: 60px;
  padding: 0 50px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
  box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8500), to(#ff8500)), -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background-image: linear-gradient(to bottom, #ff8500, #ff8500), linear-gradient(to right, #fff, #fff);
  font-size: 18px;
  font-weight: 700;
  color: #fff; }
  .link:hover {
    color: #fff;
    opacity: .9; }

.check {
  width: 20px;
  height: 20px;
  border: 1px solid #d4dfe6;
  background-color: #fff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative; }
  .check-wrap {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .check input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .check input:checked + span:before {
      opacity: 1; }
  .check span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%; }
    .check span:before {
      content: '\2714';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }
  .check-text {
    font-size: 18px;
    color: #686868;
    margin-left: 16px; }

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1336px) {
  .container {
    max-width: 970px; }
  .head {
    font-size: 60px;
    margin-bottom: 36px; } }

@media (max-width: 991px) {
  .container {
    max-width: 750px; }
  .head {
    font-size: 48px;
    margin-bottom: 26px; } }

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 15px; }
  .link {
    line-height: 56px;
    padding: 0 24px; } }

.burger {
  display: none;
  width: 30px; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: #d87504;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: #d87504;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }

@media (max-width: 991px) {
  .burger {
    display: block; } }

.logo {
  width: 300px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo span {
    font-size: 34px;
    color: #12171f;
    margin-left: 20px; }

.header {
  padding: 24px 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-wrap {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#edf2f5), to(#edf2f5)), -webkit-gradient(linear, left bottom, left top, from(#d4dfe6), color-stop(35%, #edf2f5), to(#edf2f5));
    background-image: linear-gradient(to bottom, #edf2f5, #edf2f5), linear-gradient(to top, #d4dfe6, #edf2f5 35%, #edf2f5);
    position: relative; }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px; }
  .header__link {
    line-height: 50px;
    padding: 0 42px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 18px 2px rgba(255, 108, 0, 0.3);
    box-shadow: 0px 5px 18px 2px rgba(255, 108, 0, 0.3);
    border: 1px solid #ff6c00;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    color: #ff6b00; }
    .header__link:hover {
      color: #ff6b00; }

@media (max-width: 1336px) {
  .logo {
    width: 260px; }
    .logo span {
      font-size: 26px; }
  .header {
    padding: 20px 0; }
    .header-content {
      margin-top: 0; }
    .header__link {
      padding: 0 20px; } }

@media (max-width: 991px) {
  .header {
    padding: 12px 0; }
    .header-wrap .container {
      width: 100%;
      max-width: 100%;
      padding: 0 15px; }
    .header-content {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#edf2f5), to(#edf2f5)), -webkit-gradient(linear, left bottom, left top, from(#d4dfe6), color-stop(35%, #edf2f5), to(#edf2f5));
      background-image: linear-gradient(to bottom, #edf2f5, #edf2f5), linear-gradient(to top, #d4dfe6, #edf2f5 35%, #edf2f5);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px 0 26px;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .header-content.active {
        opacity: 1;
        visibility: visible;
        z-index: 10;
        -webkit-transform: translateY(0);
        transform: translateY(0); }
    .header__link {
      line-height: 44px;
      font-size: 16px; } }

@media (max-width: 767px) {
  .logo {
    width: 230px; }
    .logo span {
      font-size: 22px;
      margin-left: 14px; }
  .head {
    font-size: 32px;
    margin-bottom: 20px; } }

.nav {
  margin-right: 52px; }
  .nav li {
    margin-right: 42px; }
    .nav li:last-child {
      margin-right: 0; }
    .nav li a {
      font-weight: 700;
      color: #12171f;
      text-transform: uppercase;
      border-bottom: 1px solid #9ba0a4; }
      .nav li a:hover {
        border-bottom: 1px solid transparent; }

@media (max-width: 1336px) {
  .nav {
    margin-right: 20px; }
    .nav li {
      margin-right: 26px; } }

@media (max-width: 991px) {
  .nav {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .nav li {
      margin-right: 0;
      margin-bottom: 12px;
      text-align: center; }
      .nav li:last-child {
        margin-bottom: 0; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 55px 0 63px; }
  .footer-wrap {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d4dfe6), color-stop(69%, #d4dfe6), to(#b8cad6));
    background-image: linear-gradient(to top, #d4dfe6, #d4dfe6 69%, #b8cad6); }
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 70px;
    margin: 4px 171px 0 0; }
  .footer-info {
    width: 460px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .footer-soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-soc__title {
      font-size: 24px;
      color: #12171f;
      margin-right: 28px; }
    .footer-soc ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-soc ul li {
        margin-right: 16px; }
        .footer-soc ul li:last-child {
          margin-right: 0; }
        .footer-soc ul li a {
          width: 34px;
          height: 34px;
          border-radius: 50%; }
          .footer-soc ul li a:hover {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }

.footer-item {
  width: 190px;
  margin: 0 108px 0 0;
  padding: 0;
  list-style: none; }
  .footer-item:last-child {
    margin-right: 0; }
  .footer-item li {
    margin-bottom: 16px; }
    .footer-item li:last-child {
      margin-bottom: 0; }
    .footer-item li a {
      color: #12171f;
      text-transform: uppercase;
      text-decoration: underline; }
      .footer-item li a:hover {
        text-decoration: none; }

.footer-form {
  margin-bottom: 52px; }
  .footer-form__title {
    font-size: 24px;
    line-height: 1;
    color: #12171f;
    margin-bottom: 22px; }
  .footer-form-item {
    position: relative; }
    .footer-form-item input {
      width: 100%;
      height: 60px;
      padding: 0 150px 0 29px;
      border: none;
      border-radius: 30px;
      background-color: #fff;
      font: 400 18px 'Proxima';
      letter-spacing: 0.4px;
      color: #565656; }
      .footer-form-item input::-webkit-input-placeholder {
        color: #565656; }
      .footer-form-item input::-ms-input-placeholder {
        color: #565656; }
      .footer-form-item input::placeholder {
        color: #565656; }
      .footer-form-item input::-moz-placeholder {
        color: #565656; }
    .footer-form-item button {
      width: 140px;
      height: 60px;
      font: 700 18px 'Proxima';
      border: none;
      border-radius: 30px;
      -webkit-box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
      box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6b00), to(#ff6b00)), -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
      background-image: linear-gradient(to bottom, #ff6b00, #ff6b00), linear-gradient(to right, #ffffff, #ffffff);
      letter-spacing: 0.4px;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .footer-form-item button:hover {
        opacity: .9; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 46px; }
  .bottom-pay {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .bottom-pay li {
      margin-right: 21px; }
      .bottom-pay li:last-child {
        margin-right: 0; }
  .bottom-omg {
    color: #808998; }
    .bottom-omg a {
      color: #808998; }
      .bottom-omg a:hover {
        text-decoration: underline; }

@media (max-width: 1336px) {
  .footer-logo {
    margin: 0 56px 0 0; }
  .footer-item {
    margin-right: 40px; }
    .footer-item.second {
      width: 150px; }
  .footer-info {
    width: 444px; }
  .footer-soc__title {
    font-size: 21px; } }

@media (max-width: 991px) {
  .footer {
    padding: 38px 0 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-section {
      margin-bottom: 20px; }
    .footer-info {
      width: 506px; }
    .footer-form {
      margin-bottom: 34px; }
  .bottom {
    padding-bottom: 30px; } }

@media (max-width: 767px) {
  .footer {
    padding: 26px 0; }
    .footer-section {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-item li {
      margin-bottom: 14px; }
    .footer-logo {
      margin-right: 0;
      margin-bottom: 14px; }
    .footer-info {
      width: 100%; }
    .footer-form__title {
      font-size: 20px; }
    .footer-soc {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer-soc__title {
        margin-right: 0;
        margin-bottom: 10px; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 22px; }
    .bottom-pay {
      margin-bottom: 16px; }
      .bottom-pay li {
        margin-right: 16px; } }

@media (max-width: 440px) {
  .footer-section {
    margin-bottom: 12px; }
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-item {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 14px; }
  .footer-form {
    margin-bottom: 22px; }
    .footer-form__title {
      margin-bottom: 14px; }
    .footer-form-item {
      text-align: center; }
      .footer-form-item input {
        height: 56px;
        padding: 0 24px;
        margin-bottom: 10px; }
      .footer-form-item button {
        height: 54px;
        position: static; } }

.offer {
  padding: 82px 0 88px; }
  .offer-wrap {
    background-color: #edf2f5; }
  .offer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .offer-item {
    width: 380px;
    margin-right: 60px;
    -webkit-box-shadow: 0px 5px 18px 2px rgba(8, 93, 155, 0.12);
    box-shadow: 0px 5px 18px 2px rgba(8, 93, 155, 0.12);
    background-color: #fff; }
    .offer-item:last-child {
      margin-right: 0; }
  .offer-img {
    position: relative; }
  .offer-mouse {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .offer-content {
    padding: 38px 50px 35px;
    text-align: center; }
    .offer-content p {
      font-size: 24px;
      line-height: 1.42;
      color: #12171f;
      margin-bottom: 0; }

@media (max-width: 1336px) {
  .offer {
    padding: 40px 0 50px; }
    .offer-item {
      margin-right: 20px; }
    .offer-content {
      padding: 22px 10px 26px; }
      .offer-content p {
        font-size: 22px; } }

@media (max-width: 991px) {
  .offer {
    padding: 34px 0 44px; }
    .offer-content p {
      font-size: 18px; } }

@media (max-width: 767px) {
  .offer {
    padding: 28px 0; }
    .offer-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .offer-item {
      width: 300px;
      margin: 0 8px 20px !important; } }

.features {
  padding: 78px 0 90px; }
  .features .head {
    margin-bottom: 48px; }
  .features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
    .features-item:last-child {
      margin-bottom: 0; }
  .features-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 540px;
    position: relative; }
    .features-img:before {
      content: '';
      display: block;
      width: 160px;
      height: 1px;
      background-color: #12171f;
      position: absolute;
      top: 88px;
      right: -80px; }
  .features-content {
    padding: 72px 80px 0 122px; }
    .features-content__descr {
      font-size: 24px;
      line-height: 1.42;
      color: #12171f;
      margin-bottom: 24px;
      position: relative; }
      .features-content__descr:before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-color: #ff6b00;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: -26px; }
    .features-content__text {
      font-size: 16px;
      line-height: 1.63; }

.features-item.reverse .features-img:before {
  right: auto;
  left: -80px; }

.features-item.reverse .features-content {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding: 72px 122px 0 80px; }

@media (max-width: 1336px) {
  .features {
    padding: 56px 0 60px; }
    .features-img {
      width: 50%; }
    .features-content {
      padding: 22px 20px 0 98px; }
  .features-item.reverse .features-content {
    padding: 22px 98px 0 30px; } }

@media (max-width: 991px) {
  .features {
    padding: 40px 0; }
    .features .head {
      margin-bottom: 34px; }
    .features-img:before {
      width: 80px;
      top: 40px;
      right: -30px; }
    .features-content {
      padding: 8px 0 0 50px; }
      .features-content__descr {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px; }
        .features-content__descr:before {
          width: 12px;
          height: 12px;
          top: 4px;
          left: -20px; }
      .features-content__text {
        line-height: 1.3; }
  .features-item.reverse .features-img:before {
    left: -30px; }
  .features-item.reverse .features-content {
    padding: 8px 40px 0 20px; } }

@media (max-width: 767px) {
  .features {
    padding: 30px 0; }
    .features .head {
      margin-bottom: 20px; }
    .features-img {
      width: 100%;
      text-align: center;
      margin-bottom: 20px; }
      .features-img:before {
        display: none; }
    .features-content {
      padding-left: 20px;
      padding-top: 0; }
      .features-content__descr {
        font-size: 18px; }
        .features-content__descr:before {
          left: -16px;
          width: 10px;
          height: 10px; }
    .features-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 26px; }
      .features-item.reverse .features-content {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        padding-top: 0;
        padding-right: 0; } }

.works {
  padding: 71px 0 90px; }
  .works-wrap {
    background-color: #edf2f5; }
  .works-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .works-item {
    position: relative;
    width: 300px;
    min-height: 300px;
    -webkit-box-shadow: 0px 5px 18px 2px rgba(8, 93, 155, 0.12);
    box-shadow: 0px 5px 18px 2px rgba(8, 93, 155, 0.12);
    background-color: #fff;
    margin-right: 20px;
    padding: 23px 32px 60px 30px; }
    .works-item:last-child {
      margin-right: 0; }
    .works-item__title {
      font-size: 24px;
      line-height: 1.42;
      color: #12171f; }
      .works-item__title:hover {
        color: #ff6c00; }
    .works-item__link {
      font-size: 16px;
      font-weight: 700;
      color: #ff6c00;
      text-decoration: underline;
      position: absolute;
      bottom: 32px;
      left: 30px; }
      .works-item__link:hover {
        text-decoration: none;
        color: #ff6c00; }
  .works-step {
    font-size: 16px;
    font-weight: 700;
    color: #12171f;
    margin-bottom: 28px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .works-step__number {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 26px;
      height: 26px;
      -webkit-transform: skewX(10deg);
      transform: skewX(10deg);
      border-radius: 30px;
      background-color: #10285a;
      color: #fff;
      margin-left: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .works-step__number span {
        -webkit-transform: skewX(-10deg);
        transform: skewX(-10deg); }

@media (max-width: 1336px) {
  .works {
    padding: 50px 0 60px; }
    .works .head {
      font-size: 48px; }
    .works-item {
      min-height: 280px;
      padding: 18px 12px 60px 16px; }
      .works-item__title {
        font-size: 20px; }
      .works-item__link {
        left: 16px; } }

@media (max-width: 991px) {
  .works {
    padding: 40px 0; }
    .works-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .works-item {
      margin: 0 10px 20px; }
      .works-item:last-child {
        margin: 0 10px 20px; } }

.start {
  padding-top: 105px;
  text-align: center; }
  .start-wrap {
    height: 680px;
    background: url(../images/startBg.jpg) no-repeat 50%;
    background-size: cover; }
  .start__title {
    width: 520px;
    text-shadow: 0px 3px 0.4px #000000;
    font-size: 64px;
    line-height: 1.16;
    color: #fff;
    margin: 0 auto 69px; }

@media (max-width: 991px) {
  .start {
    padding-top: 76px; }
    .start-wrap {
      height: 580px; }
    .start__title {
      font-size: 60px;
      margin-bottom: 50px; } }

@media (max-width: 767px) {
  .start-wrap {
    height: 500px; }
  .start__title {
    width: 100%;
    font-size: 38px;
    margin-bottom: 36px; } }

.showcase {
  padding: 92px 0 88px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .showcase-wrap {
    overflow: hidden; }
  .showcase-scroll {
    font-size: 16px;
    font-weight: 700;
    color: #808998;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 83px;
    left: 0;
    z-index: 7; }
    .showcase-scroll img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 39px;
      height: 39px;
      margin-right: 30px; }
  .showcase-content {
    width: 550px;
    position: absolute;
    top: 156px;
    left: 0;
    z-index: 5; }
    .showcase-content__title {
      font-size: 64px;
      line-height: 1.25;
      color: #12171f;
      margin-bottom: 68px; }

@media (max-width: 1700px) {
  .showcase {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .showcase-content {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 550px;
      padding-top: 60px;
      position: static; }
      .showcase-content .link {
        line-height: 56px;
        padding: 0 30px; }
      .showcase-content__title {
        font-size: 46px;
        margin-bottom: 36px; }
    .showcase-scroll {
      bottom: 62px; } }

@media (max-width: 1336px) {
  .showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 44px 0 26px; }
    .showcase-content {
      width: 700px;
      padding-top: 0;
      margin-bottom: 30px; }
      .showcase-content__title {
        margin-bottom: 22px; }
    .showcase-scroll {
      display: none; } }

@media (max-width: 991px) {
  .showcase-content {
    width: 100%; } }

@media (max-width: 767px) {
  .showcase-content__title {
    font-size: 40px; } }

@media (max-width: 575px) {
  .showcase {
    padding: 28px 0 12px; }
    .showcase-scroll {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .showcase-content .link {
      line-height: 48px;
      padding: 0 24px; }
    .showcase-content__title {
      font-size: 30px; } }

.tablet {
  width: 909px;
  height: auto;
  background-color: #fafafa;
  border: 5px solid #ededed;
  border-radius: 30px;
  padding: 31px 61px 32px 68px;
  margin-right: -190px;
  position: relative; }
  .tablet:before {
    content: '';
    display: block;
    width: 41px;
    height: 40px;
    border: 3px solid #e4e4e4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .tablet:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #1d1c1c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 26px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .tablet-body {
    height: 100%;
    background-color: #e8e8e8; }
  .tablet-items {
    max-height: 132px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 67px 24px; }
  .tablet-item {
    width: 190px;
    margin: 0 53px 0 0;
    padding: 0;
    list-style: none; }
    .tablet-item:last-child {
      margin-right: 0; }
    .tablet-item li {
      font-size: 15px;
      color: #0b4364;
      margin-bottom: 12px; }
      .tablet-item li:last-child {
        margin-bottom: 0; }
  .tablet-img {
    height: 452px; }
    .tablet-img img {
      width: 100%;
      height: auto; }

@media (max-width: 1700px) {
  .tablet {
    width: 809px;
    margin-right: 0; }
    .tablet-img {
      height: auto; }
    .tablet-items {
      padding-right: 38px;
      padding-left: 38px; }
    .tablet-item {
      margin-right: 30px; } }

@media (max-width: 1336px) {
  .tablet {
    margin: 0 auto 20px; } }

@media (max-width: 991px) {
  .tablet {
    width: 100%;
    height: 580px; }
    .tablet-img {
      height: 374px; } }

@media (max-width: 767px) {
  .tablet {
    width: 546px;
    height: 460px;
    padding: 24px 34px 24px 60px; }
    .tablet:before {
      left: 8px; }
    .tablet:after {
      right: 12px; }
    .tablet-img {
      height: 290px; }
    .tablet-items {
      padding: 16px 20px; }
    .tablet-item {
      margin-right: 10px; } }

@media (max-width: 575px) {
  .tablet {
    display: none; } }

.about {
  padding: 80px 0 67px;
  margin: 0 160px; }
  .about .head {
    margin-bottom: 40px; }
  .about__entry {
    font-size: 24px;
    line-height: 1.42;
    text-align: center;
    margin-bottom: 18px; }
  .about__text {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 25px; }

@media (max-width: 1336px) {
  .about {
    margin: 0 60px;
    padding: 58px 0 50px; }
    .about .head {
      margin-bottom: 20px; } }

@media (max-width: 991px) {
  .about {
    margin: 0;
    padding: 46px 0 24px; }
    .about__entry {
      font-size: 22px;
      margin-bottom: 12px; }
    .about__text {
      margin-bottom: 18px; } }

@media (max-width: 767px) {
  .about {
    padding-top: 38px; }
    .about .head {
      margin-bottom: 14px; } }

.sign-up {
  width: 500px;
  margin: 0 auto;
  padding: 80px 0 70px; }
  .sign-up .head {
    margin-bottom: 47px; }
  .sign-up-item {
    margin: -1px 0; }
    .sign-up-item input {
      width: 100%;
      height: 60px;
      padding: 0 21px;
      background-color: #fff;
      border: 1px solid #ccc;
      font: 400 24px 'Proxima';
      color: #12171f; }
      .sign-up-item input::-webkit-input-placeholder {
        color: #12171f; }
      .sign-up-item input::-ms-input-placeholder {
        color: #12171f; }
      .sign-up-item input::placeholder {
        color: #12171f; }
      .sign-up-item input-moz-placeholder {
        color: #12171f; }
      .sign-up-item input.error {
        border: 1px solid #ff0000; }
  .sign-up__error {
    font-size: 14px;
    color: #ff0000;
    margin: 15px 0 24px; }
  .sign-up-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 44px; }
  .sign-up__link {
    font-size: 18px;
    color: #12171f;
    text-decoration: underline; }
    .sign-up__link:hover {
      text-decoration: none; }
  .sign-up-btn {
    text-align: center; }
    .sign-up-btn button {
      width: 240px;
      height: 60px;
      border-radius: 30px;
      -webkit-box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
      box-shadow: 0px 2px 6px 0 rgba(255, 133, 0, 0.83);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8500), to(#ff8500)), -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
      background-image: linear-gradient(to bottom, #ff8500, #ff8500), linear-gradient(to right, #fff, #fff);
      border: none;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms;
      font: 700 18px 'Proxima';
      color: #fff; }
      .sign-up-btn button:hover {
        opacity: .9; }

@media (max-width: 767px) {
  .sign-up {
    width: 100%;
    padding: 46px 0 50px; }
    .sign-up .head {
      margin-bottom: 30px; } }

@media (max-width: 575px) {
  .sign-up .head {
    margin-bottom: 26px; }
  .sign-up__error {
    margin-left: 0; }
  .sign-up-btn {
    text-align: center; }
    .sign-up-btn button {
      width: 100%;
      height: 52px; }
  .sign-up-item input {
    height: 56px;
    padding: 0 12px;
    font-size: 20px; }
  .sign-up-check {
    margin-bottom: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .sign-up-check .check-wrap {
      margin-bottom: 10px; } }

.product {
  padding: 60px 0 70px; }
  .product .scrollbar-track-y,
  .product .scrollbar-track-x {
    width: 20px;
    border-radius: 10px;
    background: #d4dfe6; }
  .product .scrollbar-track-x {
    width: 100%;
    height: 20px; }
  .product-section {
    background-color: #edf2f5;
    padding: 30px 40px 40px; }
  .product-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
    .product-settings img {
      width: 19px; }
    .product-settings a {
      font-size: 16px;
      color: #12171f;
      text-decoration: underline;
      margin-left: 10px; }
      .product-settings a:hover {
        text-decoration: none; }
  .product-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 540px;
    margin-bottom: 30px; }
  .product-img {
    width: 100%;
    height: 100%; }
    .product-img img {
      width: 100%;
      height: 100%; }
  .product-scroll {
    overflow: auto;
    position: relative; }
    .product-scroll:after {
      content: '';
      display: block;
      background-color: #edf2f5;
      width: 20px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 20px; }
    .product-scroll .scrollbar-thumb {
      height: 100%;
      border-radius: 10px;
      background: #ff6b00; }
  .product-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 64px; }
  .product-item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 170px;
    margin-right: 24px;
    font-size: 14px;
    color: #161616; }
    .product-item-list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .product-item-list li {
        margin-bottom: 5px; }
        .product-item-list li:last-child {
          margin-bottom: 0; }
    .product-item__head {
      margin: 10px 0 6px;
      text-transform: uppercase; }
  .product-note {
    width: 24px;
    height: 24px;
    background-color: #ff8500;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font: 400 18px 'AvenirNext';
    color: #fff;
    position: absolute;
    bottom: 15px;
    right: 18px; }

.product-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .product-tabs li {
    width: 300px;
    height: 50px;
    background-color: #edf2f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
    color: #12171f;
    padding: 0 10px 0 38px;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .product-tabs li:hover {
      opacity: .9; }
    .product-tabs li.product-add {
      background-color: #0b4364;
      color: #fff; }
    .product-tabs li img {
      width: 18px;
      height: 18px;
      margin-right: 22px; }

.product-info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 540px;
  overflow: auto;
  padding-right: 40px;
  margin-left: 20px; }
  .product-info .scrollbar-thumb {
    width: 100%;
    border-radius: 10px;
    background: #ff6b00; }
  .product-info:after {
    content: '';
    display: block;
    background-color: #edf2f5;
    height: 10px;
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 0; }
  .product-info:before {
    content: '';
    display: block;
    background-color: #12171f;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40px;
    z-index: 1; }
  .product-info-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-bottom: 10px;
    margin-bottom: 19px;
    border-bottom: 1px solid #12171f;
    font-size: 16px; }
    .product-info-head img {
      width: 25px; }
    .product-info-head a {
      margin-left: 10px;
      color: #12171f;
      text-decoration: underline; }
      .product-info-head a:hover {
        text-decoration: none; }
  .product-info__head {
    text-transform: uppercase;
    margin-bottom: 6px;
    line-height: 1.2; }
  .product-info-item {
    min-height: 150px;
    background-color: #fff;
    color: #12171f;
    padding: 17px 38px 16px 15px;
    margin: 10px 0;
    position: relative; }
  .product-info-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .product-info-list li {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 5px; }
      .product-info-list li:last-child {
        margin-bottom: 0; }

@media (max-width: 1336px) {
  .product-tabs li {
    width: 260px;
    padding-left: 20px;
    font-size: 22px; }
    .product-tabs li img {
      margin-right: 16px; }
  .product {
    padding: 50px 0; }
    .product-section {
      padding: 24px 20px 28px; }
    .product-body, .product-info {
      height: 420px; }
    .product-scroll:after {
      display: none; } }

@media (max-width: 991px) {
  .product .scrollbar-track-y {
    width: 10px; }
  .product .scrollbar-track-x {
    height: 10px; }
  .product-tabs li {
    width: 246px;
    font-size: 18px; }
  .product-items {
    padding-bottom: 26px; }
  .product-body {
    height: 330px; }
  .product-info {
    width: 280px;
    height: 330px;
    padding-right: 20px;
    margin-left: 10px; }
  .product-note {
    bottom: 10px;
    right: 10px; } }

@media (max-width: 767px) {
  .product {
    padding: 36px 0; }
    .product-section {
      padding: 16px 10px; }
    .product-settings {
      margin-bottom: 12px; }
    .product-tabs {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .product-tabs li {
        padding-left: 10px; }
        .product-tabs li img {
          margin-right: 10px; }
    .product-img {
      margin-bottom: 14px; }
    .product-info {
      width: 100%;
      height: auto;
      margin-left: 0;
      padding-bottom: 12px;
      padding-right: 0; }
      .product-info:after, .product-info:before {
        display: none; }
      .product-info-head {
        margin-bottom: 10px; }
      .product-info-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .product-info-item {
        width: 260px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 14px; }
    .product-body {
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px; }
    .product-item {
      margin-right: 14px; } }

@media (max-width: 575px) {
  .product-tabs li {
    width: 100%; } }
