@font-face {
	font-family: 'PT';
	src: url('../fonts/PTSerif-BoldItalic.eot');
	src: url('../fonts/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSerif-BoldItalic.woff') format('woff'),
		url('../fonts/PTSerif-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT';
	src: url('../fonts/PTSerif-Bold.eot');
	src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSerif-Bold.woff') format('woff'),
		url('../fonts/PTSerif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT';
	src: url('../fonts/PTSerif-Regular.eot');
	src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSerif-Regular.woff') format('woff'),
		url('../fonts/PTSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
