@media only screen and (max-height : 1000px) and (min-width: 767px) {
  .menu-wrap {
    padding-top: 20px;
  }
  .menu-logo--text {
    margin: 10px 0 20px;
  }
  .menu-nav--list {
    height: 45px;
  }
  .menu-nav--link {
    font-size: 18px;
    line-height: 45px;
  }
  .menu-nav--img {
    padding-top: 8px;
  }
  .menu-nav--img img {
    max-height: 25px;
  }
  .menu-contacts-geo {
    margin: 25px 0 0px;
    padding-bottom: 55px;
  }
  .error {
    height: 400px;
  }
  .error--img {
    max-height: 100%;  
    width: auto;
    max-width: 100%;
  }
  .error-content {
    margin-right: 20%;
    padding-top: 130px;
  }
  .error--img {
    margin-left: 13%;
  }
}

@media only screen and (max-width : 1365px) {
  .container {
    width: 970px;
  }
  .main-page-header-content--head {
    font-size: 48px;
  }
  .main-page-header-content--caption {
    font-size: 22px;
  }
  .main-cases-item-hidden {
    padding: 30px 25px 25px 25px;
  }
  .main-cases-item-hidden--head {
    font-size: 18px;
  }
  .main-cases-item-hidden--section {
    font-size: 14px;
    margin: 5px 0 20px;
  }
  .main-cases-item-hidden--text {
    margin-top: 12px;
  }
  .about-right {
    padding-left: 30px;
  }
  .about-slogan {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 45px;
  }
  .about-company--logo {
    width: 160px;
  }
  .about-company{
    padding: 64px 0 0 76px;
  }
  .about-pdf {
    width: 200px;
    height: 230px;
    background: url(../images/pdf-min.png) no-repeat;
    padding: 157px 0 0 31px;
    margin-bottom: 105px;
  }
  .about-advan-item--number {
    font-size: 34px;
    line-height: 40px;
  }
  .about-advan-item:before,
  .about-advan-item:after{
    background-size: contain;
    height: 84px;
  }
  .about-advan-item {
    width: 130px;
  }
  .about-advan-item:last-child {
    margin-top: 60px;
  }
  .about-advan {
    padding-left: 40px;
  }
  .about-company-content--head {
    font-size: 22px;
  }
  .about-company-content--text {
    font-size: 12px;
    line-height: 1.6;
  }
  .about-advan-item--text {
    font-size: 12px;
  }
  .about-left {
    padding-top: 95px;
  }
  .about {
    padding: 85px 0 45px;
  }
  .about-pdf--link {
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 5px;
  }
  .about-pdf--link-img {
    top: 64px;
    left: 30px;
    width: 57px;
    height: 69px;
  }
  .about-pdf--text {
    font-size: 12px;
  }
  .about-slogan:before {
    width: 300px;
    top: 16px;
  }
  .about-company-content {
    top: 160px;
    left: -82px;
    width: 240px;
  }
  .service-header--head {
    font-size: 22px;
  }
  .service-header--head:before {
    top: 11px;
  }
  .service-count--current {
    font-size: 22px;
  }
  .service-header {
    padding: 50px 0 80px;
  }
  .service-wrap {
    height: 540px;
  }
  .service-item--head {
    font-size: 22px;
  }
  .service-item--caption {
    font-size: 14px;
    margin: 20px 0;
  }
  .service-item--text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .service-carousel {
    max-width: 545px;
  }
  .service-nav {
    width: 230px;
  }
  .main-cases--head {
    font-size: 22px;
    margin-left: 187px;
  }
  .service-nav-item_active .service-nav-item--text {
    margin-left: 10px;
  }
  .main-cases--head:after {
    width: 200px;
    top: 14px;
  }
  .main-cases {
    height: 626px;
    margin-top: 35px;
  }
  .main-cases-wrap {
    padding: 43px 0 50px;
  }
  .main-contacts {
    padding: 40px 8% 35px;
  }
  .main-contacts--head {
    font-size: 24px;
  }
  .main-contacts-form {
    margin: 40px 0 30px;
  }
  .main-contacts-form--input {
    height: 30px;
    font-size: 14px;
  }
  .blue-link, .white-link {
    padding: 16px 20px;
  }
  .main-contacts-appointment--text {
    font-size: 18px;
  }
  .main-contacts-appointment--tel {
    font-size: 48px;
    line-height: 60px;
  }
  .special-conditions {
    padding: 25px 15px 25px 25px;
    margin-top: -15px;
  }
  .special-conditions--text {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .main-social-wrap {
    padding-bottom: 30px;
  }
  .main-social {
    width: 60%;
    padding-bottom: 30px;
  }
  .main-social-item--img {
    width: 64px;
    height: 64px;
  }
  .main-social-item--img i {
    font-size: 28px;
  }
  .main-social-item--head {
    margin: 15px 0 5px;
    font-size: 14px;
  }
  .main-social-item--text {
    font-size: 12px;
  }
  .footer-top {
    padding: 20px 0;
  }
  .footer-logo {
    padding-left: 10px;
    width: 146px;
  }
  .footer-logo img {
    max-width: 100%;
  }
  .footer-contacts-item {
    padding-left: 35px;
    margin-right: 45px;
  }
  .footer-contacts-item:before {
    width: 25px;
    height: 8px;
    background-size: cover;
    top: 1px;
  }
  .footer-contacts-item--text {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .footer-contacts-item--link {
    font-size: 14px;
  }
  .footer-bot {
    padding: 16px 0 16px 10px;
  }
  .footer-nav-item--ul li:first-child {
    font-size: 12px;
  }
  .footer-nav-item--ul li {
    margin-bottom: 11px;
  }
  .footer-nav-item--ul li a {
    font-size: 12px;
  }
  .footer-nav-item--ul {
    max-width: 154px;
  }
  .footer-nav-item {
    margin-right: 30px;
  }
  .footer-nav-item:last-child ul:last-child{
    margin: 24px 0 0 20px;
  }
  .footer-links--link {
    font-size: 12px;
  }
  .footer-links-pdf-content--link {
    font-size: 12px;
  }
  .footer-links-pdf-content--text {
    font-size: 12px;
    margin-top: 7px;
  }
  .footer-links-pdf-content {
    margin-left: 7px;
  }
  .footer-links {
    padding-right: 10px;
  }
  .bottom-line {
    font-size: 12px;
    padding: 15px 10px;
  }
  .bottom-line--copy {
    margin-right: 32px;
  }
  .bottom-line-social--link {
    width: 18px;
    height: 18px;
  }
  .bottom-line-social--link i {
    font-size: 12px;
    line-height: 18px;
  }
  .bottom-line-social {
    margin-top: -7px;
  }
  .service-nav-item--text {
    max-width: 140px;
  }
  .cases-sort--link {
    font-size: 14px;
    padding: 15px 15px 15px 20px;
    margin: 0 10px 0 25px;
  }
  .cases-sort--link:before {
    left: -21px;
    width: 35px;
  }
  .cases-header {
    padding-left: 150px;
  }
  .site-case-header-content {
    max-width: 72%;
  }
  .site-case,
  .site-case-header,
  .same-project,
  .site-case-another-header{
    padding-left: 0;
  }
  .site-case-left--text_2 {
    margin-top: 600px;
  }
  .site-case-right-nav {
    float: left;
    margin-top: 20px;
  }
  .site-case-header-back--link {
    margin-left: 20px;
  }
  .error-content {
    margin-right: 5%;
  }
  .error--img {
    margin-left: 5%;
  }
  .blog-item-header--type {
    letter-spacing: 0;
    vertical-align: middle;
  }
  .blog-item-header--text {
    margin-right: 10px;
  }
  .blog-sort-wrap {
    width: 30%;
  }
  .blog-content {
    width: 70%;
  }
  .blog-content-header--time,
  .blog-content-header--type {
    margin-top: 18px;
  }
  .office,
  .map {
    width: 50%;
  }
  .contacts {
    padding-bottom: 20px;
  }
  .represent-item--tel,
  .represent-item--city{
    font-size: 18px;
  }
  .represent-item--address {
    font-size: 16px;
  }
  .contacts-about-company {
    padding: 34px 0 0 36px;
  }
  .contacts-about-company-header--head {
    font-size: 28px;
  }
  .contacts-about-company--text {
    bottom: -61px;
  }
  .services-item--img {
    margin-right: 20px;
  }
  .services-item-content--text {
    font-size: 18px;
  }
  .services-item {
    padding-left: 50px;
  }
  .services-item-content--text:after {
    top: 5px;
  }
  .services-item-content--head {
    margin-bottom: 0;
  }
  .branding-header-content {
    max-width: 83%;
  }
  .branding-header--head {
    margin-bottom: 2px;
  }
  .stages--name {
    font-size: 16px;
  }
  .service-footer .site-case-right-nav {
    margin-top: 2px;
  }
  .we-profi {
    padding-left: 80px;
  }
  .we-love--head {
    font-size: 22px;
  }
  .we-love-item--head {
    font-size: 20px;
  }
  .we-love-item--text{
    font-size: 16px;
  }
  .we-love-item {
    padding: 40px 40px 30px 85px;
  }
  .we-love-item--num {
    font-size: 64px;
    left: 9px;
  }
  .our-partners-content {
    top: 9px;
  }
  .our-partners--text {
    line-height: 1.4;
  }
  .strategy-item--head {
    font-size: 24px;
  }
  .strategy-item {
    padding-right: 0;
  }
  .team--head:before {
    width: 220px;
  }
  .team--img {
    width: auto;
    margin-right: 15px;
    height: auto;
  }
  .team--img img {
    width: 150px;
  }
  .team-content--text {
    margin: 16px 0;
  }
  .soc--text {
    font-size: 25px;
    max-width: 300px;
  }
  .soc--link {
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  .soc--link i {
    line-height: 80px;
  }
  .project-item {
    padding-left: 0px;
    padding-right: 42%;
    margin-bottom: 20px;
  }
  .project-item--type:before {
    display: none;
  }
  .project-item--text {
    padding-right: 40%;
  }
  .project-header {
    padding-left: 0;
  }
  .brief-name--text {
    font-size: 18px;
  }
  .brief-elem--label {
    font-size: 14px;
    width: 25%;
  }
  .brief-elem--input {
    width: 100%;
  }
  .brief-fields_checkbox {
    padding-left: 0;
  }
  .brief--link {
    margin-left: 146px;
  }
}

@media only screen and (max-width : 991px) {
  .container {
    width: 750px;
  }
  .main-page-header-content--head {
    font-size: 40px;
  }
  .main-page-header-content--caption {
    font-size: 18px;
  }
  .about-slogan {
    font-size: 18px;
  }
  .about-slogan:before {
    width: 218px;
    top: 12px;
  }
  .about-company {
    padding-left: 25px;
  }
  .about-company-content {
    left: -32px;
  }
  .service-carousel {
    max-width: 365px;
  }
  .service-wrap {
    height: 650px;
  }
  .main-cases--head {
    font-size: 18px;
    margin-left: 0;
  }
  .main-cases--head:after {
    width: 250px;
    top: 13px;
  }
  .main-cases {
    height: 476px;
  }
  .main-cases-item--link {
    margin-top: 25%;
  }
  .main-cases-item-hidden--text {
    display: none;
  }
  .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-links {
    float: left;
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  .footer-links-pdf-content {
    text-align: left;
  }
  .cases-sort {
    text-align: center;
  }
  .cases-sort--link {
    margin-top: 5px;
  }
  .cases-header {
    padding-left: 0;
  }
  .cases-content-elem {
    width: 48.5%;
  }
  .cases-content-elem:nth-child(3n) {
    margin-right: 1.5%;
  }
  .cases-content-elem:nth-child(2n) {
    margin-right: 0;
  }
  .pagination {
    margin: 30px 0;
  }
  .site-case-header-content {
    max-width: 68%;
  }
  .site-case-header-content--text {
    font-size: 16px;
  }
  .site-case-left {
    width: 30%;
  }
  .site-case-right {
    width: 70%;
  }
  .site-case-left--text_2 {
    margin-top: 380px;
  }
  .site-case-left-advan {
    margin-top: 150px;
  }
  .site-case-another div:nth-child(3) {
    display: none;
  }
  .same-project--text {
    width: 100%;
    margin-bottom: 20px;
  }
  .same-project-form {
    width: 100%;
  }
  .same-project-form:before {
    right: 0;
    left: auto;
  }
  .error--img {
    width: 37%;
  }
  .error-content {
    padding-top: 22px;
  }
  .error {
    height: 260px;
  }
  .blog-sort {
    padding: 20px 10px 5px 13px;
    margin-bottom: 120px;
  }
  .blog-item-header--type {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
  .blog-item--head {
    font-size: 18px;
  }
  .blog-sort-wrap {
    width: 34%;
  }
  .blog-content {
    width: 66%;
  }
  .blog-content-header--time, .blog-content-header--type {
    float: none;
  }
  .site-case-right-footer .site-case-right-nav--link {
    margin: 0 5px;
    letter-spacing: 0px;
  }
  .blog-content-more--text {
    margin-bottom: 20px;
  }
  .blog-content-more-tags {
    max-width: 100%;
  }
  .office {
    padding-left: 0;
    padding-right: 20px;
  }
  .office-header:before {
    display: none;
  }
  .office--bold-text {
    font-size: 20px;
  }
  .map {
    height: 400px;
  }
  .represent {
    padding-left: 0;
  }
  .represent-item--tel, .represent-item--city {
    font-size: 16px;
  }
  .office-header {
    margin-top: 10px;
  }
  .represent-item--address {
    font-size: 14px;
  }
  .represent-item {
    background-position: 10px top;
  }
  .contacts-about-company--text {
    padding: 0;
    position: static;
    margin-top: 20px;
    width: auto;
    padding-right: 20px;
  }
  .contacts-about-company {
    height: auto;
    padding-bottom: 20px;
  }
  .services-item--img {
    width: 50px;
    height: 50px;
  }
  .services-item--img img {
    max-height: 100%;
  }
  .services-item-content--head {
    font-size: 18px;
  }
  .services-item {
    padding-left: 20px;
  }
  .services-item-content--text:after {
    display: none;
  }
  .stages {
    display: none;
  }
  .branding-clear {
    padding-top: 90px;
  }
  .branding {
    width: 100%;
    padding-right: 0;
  }
  .branding--link {
    top: 20px;
    left: 50%;
    margin-left: -87px;
    right: auto;
  }
  .branding-header--head {
    font-size: 24px;
  }
  .we-profi {
    width: 50%;
    padding: 0 30px;
  }
  .we-love {
    width: 50%;
  }
  .we-love-item--num {
    font-size: 61px;
  }
  .we-profi--img {
    max-width: 80%;
  }
  .our-partners {
    width: 28%;
  }
  .partners-carousel {
    width: 66%;
  }
  .team--head:before {
    width: 110px;
  }
  .team--img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .team-content {
    text-align: center;
    display: block;
    max-width: 100%;
  }
  .soc--text {
    display: block;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .project-item--text {
    padding-right: 0;
  }
  .project-item--type {
    margin-bottom: 25px;
  }
  .project-item--text {
    margin: 25px 0;
  }
  .project-item {
    height: auto;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .project-item--img {
    position: static;
    margin-top: 25px;
    max-width: 100%;
  }
  .brief-name {
    float: none;
    width: 140px;
    margin: 0 auto 30px;
  }
  .brief-fields {
    width: 100%;
  }
  .brief-elem--label {
    width: auto;
  }
  .brief-checkboxes {
    margin-right: 10px;
  }
  .brief--link {
    margin-left: 0;
  }
}

@media only screen and (max-width : 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .menu-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 6px;
    -webkit-transition: .0s;
    transition: .0s;
  }
  .menu-wrap_bg {
    background: #2593ec url(../images/menu-bg.png) no-repeat center;
    background-size: contain;
  }
  .menu-nav--link {
    opacity: 1;
    z-index: 999;
  }
  .menu-nav--list {
    border: none!important;
    height: auto;
    margin: 5px 0;
  }
  .menu-nav--link {
    line-height: 1.4;
    font-size: 16px;
  }
  .menu {
    width: 100%;
  }
  .menu-nav {
    width: 100%;
    padding-top: 22px;
    display: none;
  }
  .menu-logo--main-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu-contacts,
  .menu-contacts-geo{
    position: static;
  }
  .menu-contacts-geo-cities {
    top: 0;
    height: 100%;
    background: #2593ec url(../images/menu-bg.png) no-repeat center;
    background-size: contain;
    z-index: 9999;
    opacity: 1;
    display: none;
    margin-top: 0;
    padding-top: 60px;
  }
  .menu-contacts-geo-cities--list {
    display: block;
    margin: 14px 0;
  }
  .menu-contacts-geo-cities--list a {
    font-size: 16px;
  }
  .menu-contacts-geo-cities--list_active a {
    font-size: 24px;
  }
  .menu-logo--hidden-img {
    width: 60px;
    height: 61px;
    margin: 5px 0 0 5px;
  }
  .menu-contacts {
    display: none;
    opacity: 1;
    z-index: 999;
    min-width:0;
  }
  .menu-contacts-data-item {
    padding: 0;
    margin: 5px auto;
    display: block;
    width: 100%;
    text-align: center;
  }
  .menu-logo--img img {
    -webkit-transition: 0s;
    transition: 0s;
  }
  .menu-contacts-data-item--text{
    display: inline-block;
  }
  .menu-contacts-data-item--link {
    display: inline-block;
  }
  .menu-contacts-geo {
    padding-bottom: 0;
  }
  .menu-contacts-data-item:before {
    display: none;
  }
  .menu-logo--hidden-img {
    display: none;
    opacity: 1;
  }
  .main-page-header {
    padding-top: 175px;
  }
  .main-page-header .container {
    display: block;
  }
  .menu-logo--text {
    margin: 0;
    padding-bottom: 5px;
  }
  .menu-nav--img {
    display: none;
  }
  .scroll,
  .menu-nav{
    display: none;
  }
  .main-page-header {
    background-position: center;
    height: 480px;
  }
  .main-page-header .container {
    padding: 0 30px;
  }
  .main-page-header-content--head {
    font-size: 28px;
  }
  .main-page-header-content--caption {
    margin: 20px 0;
  }
  .about-right {
    float: none;
    width: 100%;
    padding: 0;
  }
  .about-slogan:before {
    display: none;
  }
  .about {
    padding: 20px 0 30px;
  }
  .about-company--bg {
    display: none;
  }
  .about-company-content {
    position: static;
    padding: 50px 0 0 0;
    margin: 0 auto;
  }
  .about-slogan {
    margin-bottom: 20px;
  }
  .about-company {
    padding: 0;
    overflow: hidden;
  }
  .about-company--logo {
    opacity: .5;
    z-index: 1;
    left: 150px;
  }
  .about-pdf {
    width: 280px;
    height: 220px;
    background: url(../images/pdf-app.png) no-repeat;
    margin: 20px auto;
    text-align: left;
    padding: 147px 0 0 41px;
  }
  .about-left {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .about-advan {
    padding: 0;
    margin-top: 40px;
  }
  .about-advan-item {
    margin: 20px auto;
  }
  .service-nav {
    width: 100%;
  }
  .service-wrap {
    height: 787px;
  }
  .service-nav {
    padding-top: 120px;
  }
  .service-carousel,
  .service-count,
  .service-header--head:before{
    display: none;
  }
  .service-header--head {
    display: inline-block;
    padding: 0;
    display: block;
    text-align: center;
    float: none;
  }
  .service-header {
    text-align: center;
  }
  .service-nav-item--img_white {
    opacity: 1;
  }
  .service-nav-item--text {
    display: inline-block;
    opacity: 1;
    margin-left: 10px;
  }
  .service-nav-item--text:before {
    display: none;
  }
  .main-cases--head:after {
    display: none;
  }
  .main-cases {
    height: auto;
  }
  .main-cases-elem {
    display: none;
  }
  .main-cases-elem1,
  .main-cases-elem2,
  .main-cases-elem4,
  .main-cases-elem7{
    display: block;
    position: static;
    width: 100%;
    margin-bottom: 70px;
  }
  .main-cases-elem7 {
    height: 220px;
  }
  .main-cases-item--link {
    margin-top: 86px;
  }
  .main-cases-item-hidden {
    opacity: 1;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 15px 0 0 0;
  }
  .main-cases-item-hidden-wrap {
    top: 100%;
    height: 70px;
  }
  .line1,
  .line2,
  .line3,
  .line4 {
    display: none!important;
  }
  .main-cases-item-hidden--arrow {
    display: none;
  }
  .main-cases-wrap {
    padding-bottom: 0;
  }
  .main-contacts-form--input {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .main-contacts-form--input {
    margin-top: 0;
  }
  .main-contacts {
    padding: 27px 0 20px;
  }
  .main-contacts-appointment--tel {
    font-size: 24px;
  }
  .special-conditions {
    width: 100%;
    margin-top: 0;
  }
  .main-social {
    width: 100%;
  }
  .main-social-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .main-social {
    padding: 20px 0 0 0;
  }
  .main-social-wrap {
    padding-bottom: 0;
  }
  .footer-wrap {
    display: none;
  }
  .bottom-line--copy,
  .bottom-line--text{
    float: none;
    display: block;
    margin: 5px auto;
    text-align: center;
  }
  .bottom-line-social {
    float: none;
    margin: 0;
    margin-top:10px;
    text-align: center;
  }
  .bottom-line-social--link {
    width: 25px;
    height: 25px;
  }
  .bottom-line-social--link i {
    font-size: 14px;
    line-height: 25px;
  }
  .inner-header-wrap {
    height: auto;
    padding-top: 120px;
  }
  .cases-content-elem {
    width: 100%;
    margin-right: 0;
    margin-bottom: 70px;
  }
  .main-cases-item {
    overflow: visible;
  }
  .pagination ul li a {
    font-size: 14px;
    line-height: 40px;
    width: 40px;
  }
  .pagination ul li.pagination-list_active a {
    font-size: 29px;
  }
  .pagination ul li {
    height: 40px;
  }
  .site-case-header-back {
    width: 100%;
    text-align: center;
  }
  .site-case-header-back--text {
    margin: 0 auto 10px;
  }
  .site-case-header-back--link {
    margin-left: 0;
  }
  .site-case-header-content {
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .site-case-header-content--head {
    font-size: 28px;
  }
  .site-case-left {
    display: none;
  }
  .site-case-right {
    width: 100%;
  }
  .site-case-right-social--link {
    margin: 5px;
  }
  .site-case-right-nav--link {
    margin: 5px;
  }
  .site-case-right-social {
    width: 100%;
    text-align: center;
  }
  .site-case-right-nav {
    width: 100%;
    text-align: center;
  }
  .same-project-form {
    padding: 20px;
  }
  .site-case-another{
    margin-bottom: 20px;
  }
  .site-case-right-footer{
    padding: 20px 0;
  }
  .error-wrap {
    height: auto;
    min-height: 100vh;
  }
  .error {
    height: auto;
  }
  .error--img {
    position: static;
    width: 270px;
    margin: 10px auto;
    display: block;
  }
  .error-content {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0 15px;
  }
  .menu-contacts_error {
    display: block;
  }
  .menu-contacts_error .menu-contacts-geo-cities--list a {
    color: #000;
  }
  .menu-contacts_error .menu-contacts-geo-cities {
    height: 100vh;
  }
  .blog-col {
    width: 270px;
    margin-left: auto!important;
    margin-right: auto!important;
    float: none;
  }
  .inner-header--slogan {
    margin-top: 45px;
  }
  .blog-sort-wrap {
    float: none;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .blog-sort-wrap .blog-sort {
    display: inline-block;
    text-align: left;
  }
  .blog-content {
    width: 100%;
  }
  .blog-content-header--link {
    float: none;
    margin-left: 25px;
  }
  .blog-content--head {
    font-size: 24px;
  }
  .blog-content--sub-head {
    font-size: 14px;
  }
  .site-case-right-footer .site-case-right-nav--link {
    margin: 5px;
  }
  .office {
    width: 270px;
    margin: 0 auto;
    float: none;
    padding: 0;
  }
  .office--link {
    margin-left: 0;
  }
  .map {
    width: 100%;
    margin-top: 40px;
  }
  .represent .office-header {
    margin-top: 40px;
  }
  .represent {
     width: 270px;
     margin: 0 auto;
  }
  .represent-item {
    width: 100%;
    margin: 10px auto 30px;
    float: none;
  }
  .office-header--head {
    font-size: 23px;
  }
  .contacts-about-company {
    width: 100%;
    padding: 15px;
  }
  .contacts-about-company--text {
    padding: 0;
  }
  .represent {
    padding-bottom: 40px;
  }
  .services-wrap .inner-header-wrap {
    height: auto;
  }
  .services-item {
    width: 290px;
    margin: 0 auto 30px!important;
    padding-left: 10px;
    float: none;
    height: 200px;
    display: block;
  }
  .about-pdf--link-img {
    top: 41px;
    left: 37px;
    width: 64px;
    height: 77px;
  }
  .blog-sort {
    display: none;
  }
  .pagination ul li:nth-child(7),
  .pagination ul li:nth-child(8),
  .pagination ul li:nth-child(9),
  .pagination ul li:nth-child(10){
    display: none;
  }
  .pagination ul li a {
    padding: 0 3px;
    width: 35px;
  }
  .blog-item {
    margin-bottom: 40px;
  }
  .blog-item-header--type {
    display: none;
  }
  .blog-col:nth-child(3),
  .branding-item--head:before{
    display: none;
  }
  .branding-header {
    text-align: center;
  }
  .branding-header--img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .branding-header-content {
    text-align: left;
    max-width: 100%;
  }
  .branding--descr {
    margin-left: 0;
  }
  .branding-item {
    padding-left: 0;
  }
  .inner-header--head {
    font-size: 32px;
  }
  .inner-header-bread {
    margin-top: 10px;
  }
  .we-profi {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .we-love {
    width: 100%;
    margin-top: 15px;
  }
  .we-love-item {
    padding-right: 10px;
  }
  .our-partners {
    display: none;
  }
  .partners-carousel {
    width: 100%;
  }
  .strategy-item {
    width: 100%;
    margin: 0 auto 30px!important;
  }
  .strategy-wrap {
    padding: 20px 0;
  }
  .crucial-header {
    padding: 20px 10px;
  }
  .crucial-header--head {
    font-size: 25px;
  }
  .crucial-header--caption {
    font-size: 17px;
  }
  .team--head:before {
    display: none;
  }
  .team-item{
    width: 100%;
    margin-bottom: 20px;
  }
  .team {
    padding-bottom: 10px;
  }
  .soc--text {
    padding: 0 10px;
    font-size: 22px;
  }
  .soc--link {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
  .soc--link i {
    line-height: 40px;
    font-size: 18px;
  }
  .project-header--head {
    font-size: 24px;
  }
  .project-item--link {
    margin-bottom: 5px;
  }
  .brief-header--text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .brief-header--descr {
    width: 100%;
  }
}



