* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  color: #272126;
}

a {
  font-family: 'Proxima Nova', sans-serif;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: inline-block;
  font-size: 14px;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.container {
  width: 1330px;
  padding-left: 114px;
  margin: 0 auto;
}

.blue-link,
.white-link {
  color: #2593ec;
  font-weight: bold;
  text-transform: uppercase;
  padding: 22px 25px;
  position: relative;
  border: 2px solid #2593ec;
}

.blue-link:after,
.white-link:after {
  content: '';
  width: 35px;
  height: 11px;
  background: url(../images/blue-arrow.png) no-repeat center;
  position: absolute;
  right: -23px;
  top: 50%;
  margin-top: -6px;
  -webkit-transition: .3s;
  transition: .3s;
}

.blue-link:hover:after,
.white-link:hover:after {
  right: -35px;
}

.white-link {
  color: #fff;
  border: 2px solid #fff;
}

.white-link:after {
  background: url(../images/white-arrow.png) no-repeat;
}

.main-page-header {
  background: url(../images/main-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.main-page-header .container {
  height: 100vh;
  position: relative;
  display: table;
}

.main-page-header .container:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100vh;
}

.main-page-header-content {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.main-page-header-content--head {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-page-header-content--caption {
  font: 700 24px 'PT';
  font-style: italic;
  margin: 10px 0 60px;
}

.scroll {
  position: absolute;
  top: 100%;
  margin-top: -50px;
  left: 50%;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  background-color: #bb835a;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.scroll--text {
  margin: 16px 0 13px;
  font-family: 'PT';
  font-style: italic;
}

.about {
  padding: 115px 0 75px;
}

.about-left {
  float: left;
  width: 35%;
  padding: 125px 0 0 0;
}

.about-pdf {
  width: 270px;
  height: 320px;
  background: url(../images/about-pdf.png) no-repeat;
  padding: 215px 0 0 40px;
  margin-bottom: 180px;
  position: relative;
}

.about-pdf--link {
  color: #2593ec;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
}

.about-pdf--link:hover {
  color: #016794;
}

.about-pdf--link-img {
  position: absolute;
  top: 90px;
  left: 42px;
  width: 76px;
  height: 94px;
}

.about-pdf--text {
  color: #272126;
  font-family: 'PT';
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.about-advan-item {
  width: 172px;
  text-align: center;
  color: #272126;
  position: relative;
}

.about-advan-item:last-child {
  margin-top: 80px;
}

.about-advan-item:before {
  content: '';
  display: block;
  width: 37px;
  height: 95px;
  background: url(../images/about-advan-left.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.about-advan-item:after {
  content: '';
  display: block;
  width: 36px;
  height: 95px;
  background: url(../images/about-advan-right.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.about-advan-item--number {
  font-size: 44px;
  font-weight: bold;
  line-height: 55px;
}

.about-advan-item--text {
  line-height: 1.3;
}

.about-right {
  float: right;
  width: 65%;
}

.about-slogan {
  font-size: 32px;
  line-height: 52px;
  color: #272126;
  position: relative;
  font-weight: bold;
  margin-bottom: 88px;
}

.about-slogan:before {
  content: '';
  display: block;
  width: 390px;
  height: 2px;
  background-color: #bb835a;
  position: absolute;
  top: 24px;
  right: 100%;
  margin-right: 34px;
}

.about-slogan a {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  color: #2593ec;
  font-family: 'PT';
  font-style: italic;
}

.about-slogan a:hover {
  color: #016794;
}

.about-company {
  position: relative;
  padding: 86px 0 0 113px;
}

.about-company--bg {
  width: 100%;
  height: auto;
}

.about-company--logo {
  position: absolute;
  left: 0;
  top: 0;
}

.about-company-content {
  position: absolute;
  top: 310px;
  left: -115px;
  width: 325px;
  color: #272126;
}

.about-company-content--head {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

.about-company-content--text {
  font-family: 'PT';
  font-style: italic;
  font-weight: bold;
  line-height: 1.3;
  background: rgba(255, 255, 255, 0.8);
  padding: 12px 0;
}

.about-company-content--link {
  margin-top: 19px;
}

.service-wrap {
  background: url(../images/service-bg.jpg) no-repeat center;
  background-size: cover;
  height: 706px;
}

.service-wrap .container {
  position: relative;
  height: 100%;
}

.service-header {
  padding: 70px 0 120px;
}

.service-header--head {
  float: left;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  padding: 2px 88px 0 102px;
  position: relative;
}

.service-header--head:before {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background-color: #bb835a;
  position: absolute;
  left: 0;
  top: 14px;
}

.service-count {
  float: left;
  color: #2593ec;
  font-weight: bold;
  font-size: 18px;
}

.service-count--prev {
  color: #2593ec;
  font-size: 18px;
  cursor: pointer;
  padding: 0 7px;
}

.service-count--next {
  color: #2593ec;
  cursor: pointer;
  font-size: 18px;
  padding: 0 7px;
}

.service-count--slash {
  color: #fff;
}

.service-count--all {
  margin: 0 6px;
}

.service-count--current {
  font-family: "PT";
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin: 0 10px;
  color: #fff;
}

.service-carousel {
  max-width: 725px;
}

.service-item {
  color: #fff;
}

.service-item--head {
  font-size: 32px;
  font-weight: bold;
}

.service-item--caption {
  color: #bb835a;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  margin: 25px 0 35px;
}

.service-item--text {
  font-family: 'PT';
  font-style: italic;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 60px;
  padding-left: 2px;
}

.service-nav {
  height: 100%;
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
}

.service-nav-item {
  height: 16.6666%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  display: block;
}

.service-nav-item:last-child:before {
  display: none;
}

.service-nav-item:before {
  content: '';
  display: block;
  width: 70px;
  height: 1px;
  background-color: #bb835a;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -35px;
}

.service-nav-item--text {
  display: inline-block;
  vertical-align: middle;
  max-width: 170px;
  line-height: 24px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  text-align: left;
  opacity: 0;
  margin-right: -40px;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.service-nav-item:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.service-nav-item .service-nav-item--img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.service-nav-item .service-nav-item--img_white {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.service-nav-item_active {
  background-color: #bb835a;
}

.service-nav-item_active .service-nav-item--img_white {
  opacity: 1;
}

.service-nav-item_active .service-nav-item--text {
  display: inline-block;
  opacity: 1;
  margin-left: 30px;
}

.service-nav-item_active:before {
  display: none;
}

.main-cases-wrap {
  padding: 60px 0 75px;
}

.main-cases {
  position: relative;
  height: 874px;
  margin-top: 55px;
}

.main-cases--head {
  font-size: 32px;
  line-height: 1.4;
  color: #272126;
  font-weight: bold;
  margin: 0 0 0 217px;
  position: relative;
}

.main-cases--head a {
  color: #2593ec;
  font-style: italic;
  font-family: "PT";
  font-size: inherit;
  line-height: 1.4;
}

.main-cases--head a:hover {
  color: #016794;
}

.main-cases--head:after {
  content: '';
  display: block;
  width: 290px;
  height: 2px;
  background-color: #bb835a;
  position: absolute;
  right: 0;
  top: 23px;
}

.main-cases-elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 32.33%;
  height: 32.33%;
}

.main-cases-elem2 {
  top: 33.83%;
}

.main-cases-elem3 {
  left: 33.83%;
  height: 66.16%;
}

.main-cases-elem4 {
  right: 0;
  left: auto;
}

.main-cases-elem5 {
  right: 0;
  top: 33.83%;
  left: auto;
}

.main-cases-elem6 {
  bottom: 0;
  top: auto;
  left: 0;
  width: 66.16%;
}

.main-cases-elem7 {
  right: 0;
  bottom: 0;
  left: auto;
  top: auto;
  background: #2593ec;
  text-align: center;
}

.main-cases-item {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-cases-item--link {
  margin-top: 27%;
}

.main-cases-item--img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  line-height: 1;
}

.main-cases-item:hover .main-cases-item-hidden {
  opacity: 1;
}

.main-cases-item-hidden-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-cases-item-hidden {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 50px 30px 50px 50px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(255, 255, 255, 0.9);
}

.main-cases-item-hidden--head {
  color: #111;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.main-cases-item-hidden--head:hover {
  color: #016794;
}

.main-cases-item-hidden--section {
  color: #2593ec;
  font-size: 18px;
  font-family: "PT";
  font-style: italic;
  font-weight: bold;
  margin: 10px 0 25px;
}

.main-cases-item-hidden--section:hover {
  color: #016794;
}

.main-cases-item-hidden--text {
  color: #111;
  line-height: 1.5;
  margin-top: 40px;
}

.main-cases-item-hidden--arrow {
  display: block;
}

.main-cases-line1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  width: 0;
  background: #2593ec;
}

.main-cases-line2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 10px;
  background: #2593ec;
}

.main-cases-line3 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 0;
  background: #2593ec;
}

.main-cases-line4 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 10px;
  background: #2593ec;
}

.main-contacts-wrap {
  background: #272126 url(../images/contacts-grid.png) repeat;
}

.main-contacts-wrap .container {
  position: relative;
}

.main-contacts {
  padding: 62px 8% 60px;
  text-align: center;
}

.main-contacts--logo {
  position: absolute;
  right: 0;
  top: 5%;
  max-height: 90%;
}

.main-contacts--head {
  color: #bb835a;
  font-size: 32px;
  font-weight: bold;
}

.main-contacts-form {
  margin: 54px 0 45px;
  position: relative;
  z-index: 4;
}

.main-contacts-form--input {
  width: 32%;
  float: left;
  margin-left: 2%;
  border: none;
  border-bottom: 1px solid #fff;
  line-height: 40px;
  color: #2593ec;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  font-family: 'PT';
  background: none;
}

.main-contacts-form--input:first-child {
  margin-left: 0;
}

.main-contacts-form--input_long {
  width: 100%;
  margin: 40px 0;
}

.main-contacts-form--input::-webkit-input-placeholder {
  color: #fff;
}

.main-contacts-form--input:-moz-placeholder {
  color: #fff;
}

.main-contacts-form--input::-moz-placeholder {
  color: #fff;
}

.main-contacts-form--input:-ms-input-placeholder {
  color: #fff;
}

.main-contacts-form--input:focus {
  border-bottom: 1px solid #2593ec;
}

.main-contacts-appointment {
  position: relative;
  z-index: 2;
}

.main-contacts-appointment--text {
  color: #bb835a;
  font-size: 24px;
  font-weight: bold;
}

.main-contacts-appointment--tel {
  color: #fff;
  font-size: 64px;
  line-height: 82px;
  font-weight: bold;
}

.main-social-wrap {
  padding-bottom: 45px;
}

.special-conditions {
  float: left;
  width: 38%;
  background: #bb835a;
  color: #fff;
  padding: 40px 30px 40px 40px;
  margin-top: -30px;
}

.special-conditions--text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.special-conditions--text span {
  font-weight: bold;
  font-style: italic;
  font-family: 'PT';
}

.main-social {
  width: 50%;
  float: right;
  padding-top: 44px;
}

.main-social-item {
  float: left;
  width: 33.33%;
  text-align: center;
  color: #272126;
}

.main-social-item--img {
  width: 90px;
  height: 90px;
  border: 2px solid #2593ec;
  display: inline-block;
}

.main-social-item--img:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.main-social-item--img i {
  color: #2593ec;
  font-size: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main-social-item--img:hover {
  background: #2593ec;
}

.main-social-item--img:hover i {
  color: #fff;
}

.main-social-item--head {
  font-family: "PT";
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  margin: 18px 0 9px;
}

.footer-wrap {
  background: #272126;
}

.footer-top {
  padding: 30px 0;
  border-bottom: 1px solid #5e5b5e;
}

.footer-logo {
  float: left;
  padding-left: 30px;
}

.footer-contacts {
  float: right;
}

.footer-contacts-item {
  float: left;
  margin-right: 60px;
  position: relative;
  padding-left: 55px;
}

.footer-contacts-item:before {
  content: '';
  display: block;
  width: 35px;
  height: 11px;
  background: url(../images/white-arrow.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer-contacts-item--text {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-contacts-item--link {
  color: #2593ec;
  font-size: 18px;
}

.footer-contacts-item--link:hover {
  color: #016794;
}

.footer-contacts-item:hover:before {
  left: 7px;
}

.footer-bot {
  padding: 30px 0 15px 30px;
}

.footer-nav-item {
  float: left;
  margin-right: 82px;
}

.footer-nav-item:last-child {
  margin-right: 0;
}

.footer-nav-item:last-child ul:last-child {
  margin-top: 27px;
  margin-left: 67px;
}

.footer-nav-item:last-child ul:last-child li:first-child {
  font-size: 14px;
  text-transform: inherit;
  letter-spacing: 0;
}

.footer-nav-item--ul {
  max-width: 180px;
  list-style-type: none;
  float: left;
}

.footer-nav-item--ul li {
  margin-bottom: 12px;
}

.footer-nav-item--ul li:first-child {
  text-transform: uppercase;
  color: #2593ec;
  font-weight: bold;
  letter-spacing: 2px;
}

.footer-nav-item--ul li a {
  color: #fff;
  font-family: "PT";
  font-style: italic;
  font-weight: bold;
}

.footer-nav-item--ul li a:hover {
  color: #2593ec;
}

.footer-links {
  float: right;
  padding-right: 30px;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links--link {
  color: #2593ec;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
}

.footer-links--link:hover {
  color: #016794;
}

.footer-links-pdf {
  margin-top: 8px;
}

.footer-links-pdf--img {
  display: inline-block;
  vertical-align: middle;
}

.footer-links-pdf-content {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  margin-left: 13px;
}

.footer-links-pdf-content--link {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.footer-links-pdf-content--link:hover {
  color: #016794;
}

.footer-links-pdf-content--text {
  font-family: "PF";
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}

.bottom-line-wrap {
  background: #000;
}

.bottom-line {
  padding: 30px;
  color: #443c43;
}

.bottom-line--copy {
  float: left;
  margin-right: 40px;
  margin-top: 5px;
}

.bottom-line--text {
  float: left;
  margin-top: 5px;
}

.bottom-line-social {
  float: right;
}

.bottom-line-social--link {
  width: 25px;
  height: 25px;
  background: #2593ec;
  margin-left: 10px;
  text-align: center;
}

.bottom-line-social--link i {
  color: #000;
  font-size: 16px;
  line-height: 25px;
}

.bottom-line-social--link:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  border-radius: 50%;
}

.menu-wrap {
  background: #2593ec;
  position: fixed;
  top: 0;
  left: 0;
  padding: 45px 0 0;
  height: 100%;
  width: 110px;
  z-index: 9999;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.menu-wrap_active {
  width: 100%;
  background: #2593ec;
}

.menu-wrap_active .menu {
  width: 100%;
}

.menu-wrap_active .menu-nav {
  width: 600px;
}

.menu-wrap_active .menu-nav--img {
  opacity: 0;
}

.menu-wrap_active .menu-nav--link {
  opacity: 1;
  z-index: 5;
}

.menu-wrap_active .menu-logo--main-img {
  opacity: 0;
}

.menu-wrap_active .menu-logo--hidden-img {
  opacity: 1;
  cursor: pointer;
}

.menu-wrap_active .menu-contacts {
  opacity: 1;
  z-index: 9999;
}

.menu {
  width: 70px;
  margin: 0 auto;
  -webkit-transition: 500ms;
  transition: 500ms;
  text-align: center;
  overflow: hidden;
}

.menu-nav {
  margin: 0 auto;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 70px;
}

.menu-nav--list {
  list-style-type: none;
  height: 60px;
  border-bottom: 1px solid #fff;
  position: relative;
}

.menu-nav--list:first-child {
  border-top: 1px solid #fff;
}

.menu-nav--link {
  opacity: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 60px;
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
  z-index: -9999;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.menu-nav--link:hover {
  color: #272126;
}

.menu-nav--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-logo--img {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-block;
}

.menu-logo--main-img {
  -webkit-transition: 300ms;
  transition: 300ms;
  position: relative;
  width: 100%;
}

.menu-logo--hidden-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-logo--text {
  margin: 15px 0 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.menu-contacts {
  text-align: center;
  color: #fff;
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0;
  z-index: -999;
  min-width: 700px;
  position: relative;
  text-align: center;
}

.menu-contacts-geo {
  margin: 40px 0 15px;
  padding-bottom: 55px;
  position: relative;
  text-align: center;
}

.menu-contacts-geo--current {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'PT';
  display: inline-block;
  margin-left: 5px;
}

.menu-contacts-geo--text {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
  display: inline-block;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-contacts-geo-cities {
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 50px;
}

.menu-contacts-geo-cities--list {
  display: inline-block;
  margin: 0 5px;
}

.menu-contacts-geo-cities--list_active {
  color: #fff;
}

.menu-contacts-geo-cities--list_active a {
  color: #fff !important;
  text-decoration: underline;
  font-size: 28px;
  -webkit-transition: .0s;
  transition: .0s;
}

.menu-contacts-geo-cities--list a {
  color: #272126;
  font-family: "PT";
  font-style: italic;
  font-weight: bold;
}

.menu-contacts-geo-cities--list a:hover {
  color: #fff;
}

.menu-contacts-data {
  text-align: center;
}

.menu-contacts-data-item {
  display: inline-block;
  padding-left: 50px;
  position: relative;
  color: #fff;
  text-align: left;
}

.menu-contacts-data-item:hover:before {
  left: 5px;
}

.menu-contacts-data-item:before {
  content: '';
  display: block;
  width: 35px;
  height: 11px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  background: url(../images/white-arrow.png) no-repeat;
}

.menu-contacts-data-item:first-child {
  margin-right: 95px;
}

.menu-contacts-data-item--text {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.menu-contacts-data-item--link {
  color: #fff;
  font-size: 18px;
}

.menu-contacts-data-item--link:hover {
  color: #000;
}

.inner-header-wrap {
  background: url(../images/inner-header.jpg) no-repeat center;
  background-size: cover;
  padding: 57px 0 25px;
  text-align: center;
  color: #fff;
}

.inner-header--head {
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
}

.inner-header-bread li {
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
}

.inner-header-bread a {
  font-size: 18px;
  color: #2593ec;
}

.inner-header-bread a:hover {
  color: #016794;
}

.cases-sort {
  margin-top: 50px;
  text-align: left;
}

.cases-sort--link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px 15px 40px;
  margin: 0 20px 0 25px;
}

.cases-sort--link:hover:before {
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.cases-sort--link_active {
  border: 2px solid #fff;
}

.cases-sort--link:before {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #2593ec;
  top: 50%;
  margin-top: -1px;
  left: -25px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.cases-header {
  margin: 52px 0 45px;
  padding-left: 210px;
  color: #000;
}

.cases-header--head {
  font-family: "PT";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: italic;
}

.cases-header--text {
  line-height: 1.6;
}

.cases-content-elem {
  float: left;
  width: 32.333%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  position: relative;
}

.cases-content-elem:nth-child(3n) {
  margin-right: 0;
}

.main-cases-item_first {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
  vertical-align: middle;
}

.firts-cases-table {
  display: table;
  height: 100%;
  width: 100%;
}

.first-cases-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.first-cases {
  position: relative;
  color: #bb835a;
  width: 184px;
  margin: 0 auto;
}

.first-cases:before {
  content: '';
  display: block;
  width: 37px;
  height: 95px;
  background: url(../images/about-advan-left.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.first-cases:after {
  content: '';
  display: block;
  width: 37px;
  height: 95px;
  background: url(../images/about-advan-right.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.first-cases--number {
  font-size: 44px;
  font-weight: bold;
  line-height: 1.3;
}

.pagination {
  margin: 60px 0;
  text-align: center;
}

.pagination ul {
  list-style-type: none;
}

.pagination ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  height: 60px;
  text-align: center;
  margin: 0 1px;
}

.pagination ul li a {
  color: #2593ec;
  font-size: 18px;
  font-weight: bold;
  padding: 0 13px;
  line-height: 60px;
  width: 46px;
}

.pagination ul li a:hover {
  color: #bb835a;
}

.pagination ul li.pagination-list_active {
  position: relative;
}

.pagination ul li.pagination-list_active a {
  font-size: 34px;
  color: #bb835a;
  font-weight: bold;
  font-style: italic;
  font-family: "PT";
  background: url(../images/rortate-line.png) no-repeat center;
}

.site-case-header {
  padding-left: 89px;
  margin: 50px 0 35px;
}

.site-case-header-back {
  float: left;
}

.site-case-header-back--text {
  color: #bb835a;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.6;
  text-transform: uppercase;
  max-width: 200px;
  margin-bottom: 35px;
  margin-top: 3px;
}

.site-case-header-back--link:after {
  right: 0;
  left: -25px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.site-case-header-back--link:hover:after {
  left: -35px;
}

.site-case-header-content {
  float: right;
  max-width: 80%;
}

.site-case-header-content--head {
  font-size: 48px;
  color: #bb835a;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.site-case-header-content--text {
  color: #272126;
  font-weight: bold;
  font-style: italic;
  font-family: "PT";
  line-height: 1.4;
  font-size: 18px;
}

.site-case {
  padding-left: 89px;
  border-bottom: 2px solid #e7d6ca;
}

.site-case-left {
  float: left;
  width: 21%;
  padding-right: 30px;
}

.site-case-left--text {
  color: #272126;
  font-weight: bold;
  font-style: italic;
  font-family: "PT";
  line-height: 1.4;
  margin-top: 240px;
}

.site-case-left--text_2 {
  margin-top: 915px;
}

.site-case-left-advan {
  margin-top: 404px;
}

.site-case-left-advan-item {
  margin-bottom: 30px;
  color: #bb835a;
}

.site-case-left-advan--number {
  display: inline-block;
  width: 95px;
  font-size: 44px;
  font-weight: bold;
  vertical-align: middle;
}

.site-case-left-advan--text {
  font-style: italic;
  font-family: "PT";
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  max-width: 52%;
}

.site-case-right {
  float: right;
  width: 79%;
}

.site-case-right--head {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 35px;
}

.site-case-right--text {
  line-height: 1.4;
  margin: 5px 0 20px;
}

.site-case-right-visit {
  text-align: center;
  padding-bottom: 45px;
}

.site-case-right-visit--text {
  color: #272126;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.site-case-right-visit--link {
  color: #2593ec;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #9ccdf4;
}

.site-case-right-visit--link:hover {
  border-bottom: 1px solid transparent;
}

.site-case-right-footer {
  padding: 45px 0;
  border-top: 2px solid #e7d6ca;
}

.site-case-right-social {
  float: left;
}

.site-case-right-social--link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  padding: 17px 23px;
  display: inline-block;
  margin-right: 10px;
}

.site-case-right-social--link:first-child {
  background: #3c5a96;
}

.site-case-right-social--link:nth-child(2) {
  background: #1cadea;
}

.site-case-right-social--link:nth-child(3) {
  background: #5377bf;
}

.site-case-right-social--link:hover {
  opacity: .9;
}

.site-case-right-nav {
  float: right;
  padding-top: 15px;
}

.site-case-right-nav--link {
  font-size: 14px;
  color: #2593ec;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 8px;
  position: relative;
}

.site-case-right-nav--link_prev {
  padding-left: 43px;
}

.site-case-right-nav--link_prev:before {
  content: '';
  display: block;
  width: 36px;
  height: 11px;
  background: url(../images/blue-arrow.png) no-repeat;
  position: absolute;
  left: 0;
  top: 1px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.site-case-right-nav--link_prev:hover:before {
  left: -5px;
}

.site-case-right-nav--link_next {
  padding-right: 43px;
}

.site-case-right-nav--link_next:before {
  content: '';
  display: block;
  width: 36px;
  height: 11px;
  background: url(../images/blue-arrow.png) no-repeat;
  position: absolute;
  right: 0;
  top: 1px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.site-case-right-nav--link_next:hover:before {
  right: -5px;
}

.site-case-another-header {
  margin: 35px 0 30px;
  padding-left: 89px;
}

.site-case-another-header--head {
  color: #2593ec;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 34px;
}

.site-case-another-header--type {
  color: #272126;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  font-family: "PT";
}

.site-case-another {
  margin-bottom: 60px;
}

.same-project-wrap {
  padding: 0 0 90px;
}

.same-project {
  border-top: 2px solid #e7d6ca;
  padding-left: 89px;
}

.same-project--head {
  color: #272126;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 40px;
}

.same-project--text {
  float: left;
  width: 28%;
  padding-right: 30px;
  color: #272126;
  font-style: italic;
  font-weight: bold;
  font-family: "PT";
  font-weight: bold;
  line-height: 1.4;
}

.same-project--text a {
  color: #2593ec;
}

.same-project--text a:hover {
  text-decoration: underline;
}

.same-project-form {
  border: 5px solid #2593ec;
  padding: 50px 90px 35px 75px;
  float: right;
  width: 72%;
  position: relative;
}

.same-project-form:before {
  content: '';
  display: block;
  width: 320px;
  height: 295px;
  background: url(../images/omg2.png) no-repeat center;
  position: absolute;
  bottom: -44px;
  left: -280px;
  background-size: contain;
  z-index: -1;
}

.same-project-form--input {
  width: 100%;
  background: none;
  color: #2593ec;
  border: none;
  border-bottom: 1px solid #272126;
  height: 35px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  font-family: "PT";
  margin-bottom: 30px;
}

.same-project-form--input::-webkit-input-placeholder {
  color: #272126;
}

.same-project-form--input:-moz-placeholder {
  color: #272126;
}

.same-project-form--input::-moz-placeholder {
  color: #272126;
}

.same-project-form--input:-ms-input-placeholder {
  color: #272126;
}

.same-project-form--input:focus {
  border-bottom: 1px solid #2593ec;
}

.same-project-form--submit {
  background: none;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 27px;
  margin-top: 10px;
  cursor: pointer;
}

.error-wrap {
  background: #272126;
  height: 100vh;
  display: table;
  width: 100%;
  overflow: hidden;
}

.error-wrap .container {
  padding-left: 0;
}

.error-table {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.error {
  height: 584px;
  position: relative;
}

.error--img {
  position: absolute;
  width: 50%;
  margin-left: 5%;
  left: 0;
  top: 0;
}

.error-content {
  float: right;
  width: 370px;
  margin-right: 8%;
  padding-top: 190px;
}

.error-content--text {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #fff;
}

.error-content--text a {
  color: #2593ec;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-family: 'PT';
  font-size: 18px;
}

.error-content--text a:hover {
  text-decoration: none;
}

.menu-contacts_error {
  z-index: 5;
  opacity: 1;
}

.menu-contacts_error .menu-contacts-data-item--link:hover {
  color: #2593ec;
}

.menu-contacts_error .menu-contacts-geo-cities--list a {
  color: #2593ec;
}

.menu-contacts_error .menu-contacts-geo-cities--list a:hover {
  color: #fff;
}

.inner-header--slogan {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 65px;
  font-weight: bold;
}

.blog-col {
  width: 32%;
  float: left;
  margin-right: 2%;
  padding-top: 45px;
}

.blog-col:last-child {
  margin-right: 0;
}

.blog-item {
  margin-bottom: 80px;
}

.blog-item:last-child {
  margin-bottom: 0;
}

.blog-item--img {
  overflow: hidden;
  position: relative;
}

.blog-item--img img {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.blog-item--img:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-item--img_hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(187, 131, 90, 0.5);
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 5;
}

.blog-item--img:hover .blog-item--img_hover {
  opacity: 1;
}

.blog-item-header {
  margin: 17px 0 20px;
}

.blog-item-header--time {
  display: inline-block;
  vertical-align: bottom;
  color: #272126;
  font-family: "PT";
  font-style: italic;
  font-weight: bold;
}

.blog-item-header--type {
  color: #2593ec;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 15px;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: bottom;
}

.blog-item-header--type:hover {
  color: #016794;
}

.blog-item--head {
  font-family: "PT";
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: #bb835a;
}

.blog-item--text {
  color: #272126;
  line-height: 1.4;
  margin: 20px 0;
}

.blog-sort {
  border: 5px solid #2593ec;
  position: relative;
  padding: 20px 20px 5px 20px;
  display: inline-block;
  margin-bottom: 150px;
}

.blog-sort li {
  list-style-type: none;
  margin-bottom: 15px;
}

.blog-sort li a {
  color: #2593ec;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.blog-sort li a:hover {
  color: #000;
}

.blog-sort_active a {
  color: #000 !important;
}

.blog-sort:before {
  content: '';
  display: block;
  width: 230px;
  height: 230px;
  background: url(../images/omg2.png) no-repeat center top;
  background-size: contain;
  position: absolute;
  bottom: -130px;
  left: -109px;
  z-index: -1;
}

.blog-in {
  padding-top: 60px;
}

.blog-sort-wrap {
  float: left;
  width: 25%;
}

.blog-content {
  float: right;
  width: 75%;
}

.blog-content-header {
  margin-bottom: 25px;
}

.blog-content-header--time {
  float: left;
  font-family: "PT";
  font-style: italic;
  font-weight: bold;
  color: #272126;
  margin-right: 15px;
  margin-top: 23px;
}

.blog-content-header--type {
  letter-spacing: 2px;
  color: #2593ec;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 23px;
  float: left;
}

.blog-content-header--type:hover {
  color: #016794;
}

.blog-content-header--link {
  float: right;
}

.blog-content-header--link:after {
  right: auto;
  left: -22px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.blog-content-header--link:hover:after {
  left: -36px;
}

.blog-content img {
  width: 100%;
  margin-bottom: 25px;
}

.blog-content--head {
  color: #bb835a;
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  font-family: "PT";
  margin-bottom: 25px;
}

.blog-content--text {
  color: #272126;
  line-height: 1.5;
  margin-bottom: 25px;
}

.blog-content--sub-head {
  color: #bb835a;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 25px;
}

.blog-content-footer {
  margin-top: 50px;
}

.blog-content-more {
  padding: 40px 0 60px;
  border-top: 2px solid #e7d6ca;
}

.blog-content-more--text {
  width: 107px;
  float: left;
  font-style: italic;
  font-weight: bold;
  font-family: "PT";
  color: #272126;
}

.blog-content-more-tags {
  float: left;
  max-width: 85%;
}

.blog-content-more--tag {
  margin-bottom: 20px;
  color: #2593ec;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.blog-content-more--tag:hover {
  color: #016794;
}

.contacts {
  padding: 45px 0 60px;
}

.office {
  float: left;
  width: 35%;
  padding-right: 30px;
  padding-left: 76px;
  color: #272126;
}

.office-header {
  margin: 55px 0 70px;
  position: relative;
}

.office-header--head {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.office-header--caption {
  font-weight: bold;
  font-style: italic;
  font-family: "PT";
  font-size: 24px;
}

.office-header:before {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: #bb835a;
  position: absolute;
  top: 12px;
  right: 100%;
  margin-right: 20px;
}

.office-item {
  margin-bottom: 55px;
  padding-left: 70px;
}

.office-address {
  background: url(../images/office-item1.png) no-repeat left center;
}

.office-time {
  background: url(../images/office-item2.png) no-repeat left center;
}

.office-contacts {
  background: url(../images/office-item3.png) no-repeat left center;
}

.office--bold-text {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #272126;
}

.office--text {
  font-size: 18px;
}

.office--mail {
  color: #2593ec;
  font-size: 18px;
}

.office--mail:hover {
  color: #016794;
}

.office--link {
  border: 2px solid #2593ec;
  padding: 20px 25px;
  color: #2593ec;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-left: 70px;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
}

.office--link:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2593ec;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.office--link:hover {
  color: #fff;
}

.office--link:hover:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.map {
  height: 650px;
  width: 65%;
  position: relative;
  float: right;
}

.represent {
  padding-left: 73px;
  padding-bottom: 80px;
}

.represent .office-header {
  margin: 65px 0 35px;
}

.represent-item {
  width: 33.3%;
  float: left;
  padding-left: 65px;
  background: url(../images/office-item1.png) no-repeat left top;
  color: #272126;
}

.represent-item--city {
  font-size: 24px;
  font-weight: bold;
}

.represent-item--address {
  font-size: 18px;
  margin: 12px 0;
}

.represent-item--tel {
  font-size: 24px;
  font-weight: bold;
  color: #272126;
  margin-bottom: 12px;
}

.represent-item--email {
  font-size: 18px;
  color: #2593ec;
}

.represent-item--email:hover {
  color: #016794;
}

.contacts-about-company {
  width: 95%;
  position: relative;
  border: 5px solid #bb835a;
  padding: 45px 0 0 62px;
  height: 240px;
  margin-bottom: 80px;
}

.contacts-about-company-header {
  color: #272126;
}

.contacts-about-company-header--head {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.contacts-about-company-header--caption {
  font-style: italic;
  font-weight: bold;
  font-family: "PT";
  font-size: 18px;
}

.contacts-about-company--text {
  width: 68%;
  position: absolute;
  right: -5%;
  bottom: -10px;
  background: #fff;
  z-index: 5;
  padding-left: 20px;
  line-height: 1.5;
  padding-top: 10px;
}

.contacts-about-company--text b {
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  font-family: "PT";
}

.services-wrap {
  background: url(../images/services.jpg) no-repeat center;
  background-size: cover;
}

.services-wrap .inner-header-wrap {
  background: none;
}

.services {
  padding: 35px 0 55px;
}

.services-item {
  float: left;
  width: 49%;
  border: 1px solid #bb835a;
  height: 250px;
  position: relative;
  padding-left: 110px;
  color: #bb835a;
  margin-right: 2%;
  margin-bottom: 2%;
}

.services-item:nth-child(2n) {
  margin-right: 0;
}

.services-item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.services-item--img {
  width: 79px;
  height: 79px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 44px;
}

.services-item--img img {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.services-item--img img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-width: 100%;
}

.services-item--img img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-width: 100%;
  opacity: 0;
}

.services-item-content {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 32px;
}

.services-item-content--head {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.services-item-content--text {
  font-weight: bold;
  font-style: italic;
  font-family: "PT";
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.services-item-content--text:after {
  content: '';
  width: 35px;
  height: 11px;
  background: url(../images/white-arrow.png) no-repeat;
  position: absolute;
  left: 100%;
  top: 8px;
  margin-left: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
}

.services-item:hover {
  background-color: rgba(187, 131, 90, 0.6);
  color: #fff;
}

.services-item:hover .services-item--img img:last-child {
  opacity: 1;
}

.services-item:hover .services-item-content--text:after {
  opacity: 1;
}

.services-line1 {
  position: absolute;
  left: -1px;
  top: -1px;
  height: 10px;
  width: 0;
  background: #fff;
}

.services-line2 {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 0;
  width: 10px;
  background: #fff;
}

.services-line3 {
  position: absolute;
  right: -1px;
  bottom: -1px;
  height: 10px;
  width: 0;
  background: #fff;
}

.services-line4 {
  position: absolute;
  bottom: -1px;
  left: -1px;
  height: 0;
  width: 10px;
  background: #fff;
}

.inner-header-wrap_service {
  padding-bottom: 55px;
}

.branding-clear {
  padding: 55px 0 60px;
  position: relative;
  border-bottom: 2px solid #e7d6ca;
}

.branding--cut-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.branding--link {
  position: absolute;
  right: 0;
  top: 55px;
  z-index: 5;
}

.branding--link:after {
  right: auto;
  left: -25px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.branding--link:hover:after {
  left: -36px;
}

.branding {
  float: left;
  width: 75%;
  padding-right: 50px;
  color: #272126;
}

.branding-header--img {
  display: inline-block;
  margin-right: 17px;
  vertical-align: middle;
}

.branding-header-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
}

.branding-header--head {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.branding-header--caption {
  font: italic normal 18px "PT";
}

.branding--descr {
  text-transform: uppercase;
  font-weight: bold;
  margin: 56px 0 50px 95px;
  color: #bb835a;
  line-height: 1.6;
}

.branding-item {
  padding-left: 95px;
}

.branding-item--head {
  margin-bottom: 15px;
  font: italic bold 24px 'PT';
  position: relative;
}

.branding-item--head:before {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: #bb835a;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: -95px;
}

.branding-item--text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.branding-item--ul-head {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 7px;
}

.branding-item--list {
  margin-bottom: 15px;
  list-style-type: none;
}

.branding-item--list li {
  margin-bottom: 7px;
  padding-left: 40px;
  background: url(../images/branding-list.png) no-repeat left center;
}

.stages {
  margin-top: 132px;
  float: right;
  width: 25%;
  border: 5px solid #2593ec;
  padding: 25px 12px 10px;
}

.stages--head {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.stages--num {
  color: #2593ec;
  font: italic bold 48px/1 'PT';
  margin-bottom: 7px;
}

.stages--name {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.stages--text {
  font: italic bold 14px 'PT';
  line-height: 1.5;
  margin-bottom: 15px;
}

.m-about-header {
  padding: 50px 0 40px;
}

.we-profi {
  width: 60%;
  float: left;
  padding: 0 82px 0 200px;
  position: relative;
}

.we-profi--head {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}

.we-profi--text {
  font: italic bold 14px "PT";
  line-height: 1.6;
  margin-top: 30px;
}

.we-profi--img {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
}

.we-love {
  float: right;
  width: 40%;
}

.we-love--head {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.we-love--caption {
  font: italic bold 18px 'PT';
  margin: 5px 0 25px;
}

.we-love-item {
  border: 10px solid #e7d6ca;
  padding: 40px 50px 30px 105px;
  position: relative;
}

.we-love-item--head {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.we-love-item--text {
  margin: 20px 0 30px;
  line-height: 1.5;
  font: italic bold 18px 'PT';
}

.we-love-item--num {
  position: absolute;
  top: 20px;
  left: 14px;
  font: italic bold 68px/1 "PT";
  color: #2593ec;
}

.partners {
  padding-bottom: 45px;
}

.our-partners {
  position: relative;
  float: left;
  width: 22%;
  border: 5px solid #2593ec;
  height: 220px;
}

.our-partners-content {
  position: absolute;
  top: 30px;
  left: 25px;
  background: #fff;
  width: 100%;
}

.our-partners--head {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 2px;
}

.our-partners--text {
  font: italic bold 14px "PT";
  line-height: 1.6;
}

.partners-carousel {
  width: 75%;
  float: right;
  padding: 0 42px;
  margin-top: 28px;
  position: relative;
}

.partners-carousel .slick-arrow {
  width: 35px;
  height: 11px;
  background: url(../images/blue-arrow.png) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 0;
  cursor: pointer;
  border: none;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.partners-carousel .slick-next {
  left: auto;
  right: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.partners-item {
  height: 150px;
  width: 150px;
  position: relative;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.partners-item:hover .partners-item-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.partners-item:hover .partners-item-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.partners-item-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 90px;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 50%;
  right: 0;
  width: 150px;
  margin-left: -75px;
}

.partners-item-front:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.partners-item-front img {
  max-height: 90px;
  display: inline-block;
  vertical-align: middle;
}

.partners-item-back {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: #2593ec;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 150px;
  margin-left: -75px;
}

.partners-item-back--text {
  line-height: 1.5;
  margin-bottom: 5px;
}

.partners-item-back--link {
  color: #fff;
  text-decoration: underline;
  font: italic bold 18px 'PT';
}

.strategy-wrap {
  background: url(../images/strategy.jpg) no-repeat center;
  background-size: cover;
  padding: 85px 0 80px;
}

.strategy-item {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 46%;
  padding-right: 30px;
}

.strategy-item:first-child {
  margin-right: 7.4%;
}

.strategy-item--head {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.strategy-item--list {
  list-style-type: none;
}

.strategy-item--list li {
  padding-left: 50px;
  padding-bottom: 20px;
  font: italic bold 14px "PT";
  position: relative;
}

.strategy-item--list li:before {
  content: '';
  display: block;
  background-color: #2593ec;
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 9px;
}

.crucial-wrap {
  margin-top: -30px;
}

.crucial {
  text-align: center;
}

.crucial-header {
  display: inline-block;
  padding: 40px 50px 20px;
  border: 10px solid #2593ec;
  margin-bottom: 65px;
}

.crucial-header--head {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.crucial-header--caption {
  font: italic bold 24px "PT";
}

.team {
  padding-bottom: 75px;
}

.team--head {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  background: #fff;
  margin-bottom: 35px;
}

.team--head:before {
  content: '';
  display: block;
  width: 390px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #bb835a;
  height: 2px;
}

.team-item {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.team--img {
  width: 250px;
  height: 250px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}

.team--img img {
  border-radius: 50%;
}

.team-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 70%;
  text-align: left;
}

.team-content--name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.team-content--text {
  font: italic bold 14px "PT";
  margin: 26px 0;
  line-height: 1.5;
}

.team-content--link {
  padding: 16px 24px;
}

.soc {
  background: url(../images/soc-bg.png) repeat;
  padding: 50px 0;
}

.soc--text {
  display: inline-block;
  vertical-align: middle;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  max-width: 400px;
  text-align: left;
}

.soc--link {
  width: 90px;
  height: 90px;
  text-align: center;
  border: 2px solid #fff;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.soc--link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.soc--link:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.soc--link:hover i {
  color: #bb835a;
}

.soc--link i {
  color: #fff;
  font-size: 34px;
  line-height: 90px;
  position: relative;
  z-index: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.project-header {
  margin: 55px 0;
  padding-left: 225px;
}

.project-header--head {
  font: italic bold 32px "PT";
  margin-bottom: 20px;
}

.project-header--text {
  line-height: 1.5;
}

.project-item {
  position: relative;
  height: 500px;
  padding: 25px 50% 0 80px;
  margin-bottom: 70px;
}

.project-item--type {
  color: #bb835a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
  margin: 0 0 55px;
}

.project-item--type:before {
  content: '';
  display: block;
  height: 2px;
  width: 60px;
  background: #bb835a;
  position: absolute;
  left: -80px;
  top: 50%;
  margin-top: -1px;
}

.project-item--head {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.project-item--text {
  font: italic bold 14px "PT";
  margin: 30px 0 60px;
  padding-right: 30%;
}

.project-item--link {
  z-index: 99;
}

.project-item--link:first-child {
  margin-right: 45px;
}

.project-item--link:hover {
  color: #fff;
}

.project-item--link:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.project-item--link:after {
  display: none;
}

.project-item--link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  background: #2593ec;
  z-index: -1;
}

.project-item--img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 60%;
  max-height: 100%;
  height: auto;
}

.same-project_border .same-project {
  border-top: none;
}

.same-project_border .same-project--head {
  border-top: 2px solid #e7d6ca;
  margin-top: 0;
  padding-top: 40px;
}

.brief {
  padding: 45px 0 0;
}

.brief-header {
  padding-bottom: 35px;
}

.brief-header--head {
  padding-bottom: 30px;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.brief-header--text {
  float: left;
  width: 65%;
  padding-right: 30px;
  font: italic bold 14px/1.5 "PT";
}

.brief-header--descr {
  color: #838383;
  font: italic bold 14px/1.5 "PT";
  float: left;
  width: 35%;
}

.brief-name {
  float: left;
  width: 17%;
  padding-top: 27px;
  position: relative;
}

.brief-name--text {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.brief-name--num {
  position: absolute;
  top: -10px;
  left: 0;
  color: #e9d8c9;
  font-size: 84px;
  font-weight: bold;
  z-index: -1;
  line-height: 1;
}

.brief-fields {
  float: right;
  width: 83%;
  margin-bottom: 30px;
}

.brief-elem {
  margin-bottom: 30px;
}

.brief-elem--label {
  font: italic bold 16px "PT";
  display: inline-block;
  vertical-align: middle;
  margin-right: -.25em;
  width: 22%;
}

.brief-elem--input {
  width: 78%;
  margin-right: -.25em;
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  border: none;
  border-bottom: 1px solid #272126;
}

.brief-elem--input::-webkit-input-placeholder {
  color: #272126;
}

.brief-elem--input:-moz-placeholder {
  color: #272126;
}

.brief-elem--input::-moz-placeholder {
  color: #272126;
}

.brief-elem--input:-ms-input-placeholder {
  color: #272126;
}

.brief-checkboxes {
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
}

.brief-checkboxes:last-child {
  margin-right: 0;
}

.brief-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  position: relative;
}

.brief-checkbox input {
  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}

.brief-checkbox span {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #272126;
}

.brief-checkbox span i {
  font-size: 13px;
  line-height: 18px;
  color: transparent;
}

.brief-checkbox input:checked + span {
  border: 2px solid #2593ec;
}

.brief-checkbox input:checked + span i {
  color: #2593ec;
}

.brief--checkbox-label {
  margin-left: 17px;
  cursor: pointer;
}

.brief-checkbox-wrap {
  margin-bottom: 15px;
}

.brief-fields_checkbox {
  padding-left: 222px;
}

.brief--link {
  margin-left: 429px;
  padding: 17px 26px;
}

.brief-form {
  margin-bottom: 60px;
}