@media only screen and (max-height: 1000px) and (min-width: 991px) {
  .logo {
    margin-bottom: 55px; }
  .nav li {
    margin-bottom: 14px; }
    .nav li a {
      padding-bottom: 4px; } }

@media only screen and (max-width: 1910px) {
  .container {
    max-width: 940px; }
  .head {
    margin-right: 0;
    font-size: 30px;
    line-height: 1.1; }
  .vertical {
    left: -26px; }
    .vertical:before {
      bottom: -70px; }
    .vertical__text {
      letter-spacing: 4.5px; }
  .pattern-info {
    padding-top: 40px; }
    .pattern-info__tel a {
      margin-bottom: 4px; }
    .pattern-info__address {
      margin-bottom: 4px; }
    .pattern-info__mail a {
      margin-bottom: 10px; }
  .pattern-sidebar {
    width: 270px;
    padding: 33px 35px 0 45px; }
  .pattern-content {
    padding-left: 270px; }
  .showcase {
    padding: 175px 0 20px; }
    .showcase__head {
      margin: 0 0 55px 0;
      font-size: 70px;
      line-height: 1.1; }
      .showcase__head:before {
        background-size: 80%;
        top: -240px; }
    .showcase-links {
      margin-bottom: 55px; }
    .showcase-img {
      margin-right: 50px; }
  .main-offer {
    padding-bottom: 30px; }
    .main-offer-head {
      margin-bottom: 16px; }
      .main-offer-head a {
        font-size: 22px; }
    .main-offer-item {
      margin-right: 10px;
      padding: 20px 14px; }
    .main-offer__text {
      line-height: 1.35; }
  .options-item {
    width: 280px;
    margin-right: 30px; }
  .options-form {
    padding: 30px 24px;
    margin-left: -60px; }
  .options-data .checkbox-wrap {
    width: 300px; }
  .options-data .checkbox__text {
    margin-left: 12px;
    margin-top: -2px; }
  .main-about__text {
    line-height: 1.4;
    margin-bottom: 16px; }
  .main-about-content {
    width: 540px;
    padding-top: 0; }
  .main-about-img {
    right: -230px; }
  .main-about-items {
    padding-top: 6px; }
  .main-about-item {
    margin-right: 30px; }
    .main-about-item span {
      font-size: 66px; }
    .main-about-item p {
      font-size: 20px;
      margin-left: 16px; }
  .main-projects-link {
    padding-left: 0; }
  .main-projects-wrap .projects-items {
    justify-content: center; }
  .main-projects-wrap .projects-item {
    margin: 0 10px 20px; }
  .projects-wrap .projects-item:nth-child(3) {
    margin-right: 20px; }
  .main-partners {
    padding-bottom: 100px; }
    .main-partners-items .slick-arrow {
      left: -20px; }
    .main-partners-items .slick-next {
      left: auto;
      right: -20px; }
  .review-link {
    bottom: 27px; }
  .review-nav {
    left: 10px; }
  .review-items {
    width: 780px; }
  .review-content {
    width: 390px;
    padding: 40px 16px 100px 20px; }
  .contacts-form {
    padding: 30px; }
    .contacts-form .options-items select {
      height: 50px; }
    .contacts-form .options-items textarea {
      height: 120px;
      padding-top: 16px; }
    .contacts-form .options-item {
      width: 297px;
      margin-right: 30px; }
      .contacts-form .options-item input {
        height: 50px; }
  .reviews-items .review-item {
    margin-bottom: 46px; }
    .reviews-items .review-item:last-child {
      margin-bottom: 40px; }
  .reviews-items .review-content {
    width: 467px;
    padding-top: 26px;
    padding-bottom: 40px; }
    .reviews-items .review-content__head {
      margin-bottom: 16px; }
  .contacts-inner .contacts-form {
    padding: 30px; }
    .contacts-inner .contacts-form .options-item {
      width: 293px; }
  .about .main-about-item {
    margin-right: 80px; }
    .about .main-about-item:nth-child(2) {
      margin-right: 80px; }
    .about .main-about-item:last-child {
      margin-right: 0; }
  .about-img {
    display: flex; }
    .about-img-item {
      margin-right: 30px; }
  .services-content {
    width: 448px;
    padding-right: 15px;
    padding-top: 4px; }
    .services-content__head {
      font-size: 30px;
      margin-bottom: 16px; }
    .services-content__text {
      line-height: 1.45;
      margin-bottom: 20px; }
  .services-item {
    margin-bottom: 50px; }
    .services-item:last-child {
      margin-bottom: 45px; }
    .services-item-img {
      width: auto; }
      .services-item-img img {
        width: 100%; }
  .project .about-img {
    flex-wrap: wrap; }
    .project .about-img-item {
      width: 455px;
      margin-bottom: 30px; }
      .project .about-img-item:nth-child(2n) {
        margin-right: 0; } }

@media only screen and (max-width: 1336px) {
  .container {
    max-width: 840px; }
  .vertical {
    left: -14px; }
  .showcase__head {
    font-size: 56px; }
  .showcase__ref {
    margin-right: 36px; }
  .main-offer-img {
    margin-bottom: 18px; }
  .main-offer-head {
    font-size: 20px; }
    .main-offer-head a {
      font-size: 20px; }
  .main-offer__text {
    line-height: 1.2; }
  .options-content {
    width: 340px; }
    .options-content__head {
      font-size: 26px;
      margin-bottom: 12px;
      line-height: 1.1; }
    .options-content__info {
      margin-bottom: 10px; }
  .options-items select {
    padding-left: 10px; }
  .options-item {
    width: 266px;
    margin-right: 14px;
    margin-bottom: 14px; }
    .options-item input {
      padding: 0 10px; }
  .options-form {
    padding: 24px 15px;
    margin-left: -77px; }
  .options-data label .checkbox__text {
    line-height: 1.25; }
  .main-about-content {
    width: 425px; }
  .main-about__text {
    line-height: 1.25; }
  .main-about-item span {
    font-size: 55px; }
  .main-about-item p {
    font-size: 16px;
    margin-left: 10px; }
  .projects-wrap .projects-items {
    margin-right: -12px; }
  .projects-wrap .projects-item:nth-child(3) {
    margin-right: 12px; }
  .projects-item {
    width: 272px;
    margin-right: 12px; }
    .projects-item__head {
      margin: 18px 0 24px; }
    .projects-item.big {
      width: 556px; }
      .projects-item.big .projects-item__head {
        font-size: 21px; }
  .main-partners-items .slick-arrow {
    left: 0; }
  .main-partners-items .slick-next {
    left: auto;
    right: 0; }
  .review {
    margin-bottom: 90px; }
    .review-nav {
      left: 19px; }
    .review-items {
      width: 720px; }
    .review-content {
      width: 355px; }
      .review-content__text {
        line-height: 1.35; }
  .contacts {
    padding-bottom: 40px; }
    .contacts-form {
      padding: 20px 16px; }
      .contacts-form .options-items textarea {
        height: 105px;
        padding-left: 10px; }
      .contacts-form .options-item {
        width: 269px;
        margin-right: 14px; }
    .contacts-info-item {
      padding: 27px 0; }
  .reviews-items .review-content {
    width: 405px; }
  .contacts-inner .head {
    margin-bottom: 38px; }
  .contacts-inner .contacts-form {
    padding: 20px 15px; }
    .contacts-inner .contacts-form .options-item {
      width: 280px; }
  .contacts-inner .contacts-info {
    width: 235px;
    padding-right: 18px; }
  .services-content {
    width: 400px; }
    .services-content .link {
      line-height: 42px; }
      .services-content .link span {
        letter-spacing: 1.5px; }
    .services-content__head {
      font-size: 26px;
      margin-bottom: 10px; }
    .services-content__text {
      line-height: 1.3;
      margin-bottom: 16px; }
  .project .head {
    margin-right: 0; }
  .project .about-img-item {
    width: 405px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 900px; }
  .logo {
    display: none; }
  .burger {
    display: block;
    background-color: #fff;
    padding: 16px 0;
    cursor: pointer;
    position: relative;
    z-index: 1000; }
  .showcase {
    padding-top: 287px; }
    .showcase-img {
      margin-right: 0; }
    .showcase_inner .showcase {
      padding-top: 187px; }
  .pattern-wrap {
    flex-direction: column; }
  .pattern-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    padding: 0; }
  .pattern-content {
    padding-left: 0; }
  .pattern-info {
    padding-top: 10px; }
  .pattern-burger {
    display: none !important;
    padding: 35px 0 30px; }
    .pattern-burger-wrap.active .pattern-burger {
      display: block !important; }
  .nav li {
    margin-bottom: 10px; }
    .nav li a {
      padding-right: 0; }
  .options-item {
    width: 296px; }
  .main-about-content {
    width: 480px; }
  .projects-item {
    width: 292px; }
    .projects-item.big {
      width: 596px; }
  .contacts-form .options-item {
    width: 299px; }
  .reviews-items .review-content {
    width: 430px; }
  .contacts-inner .contacts-form .options-item {
    width: 310px; }
  .about .head {
    margin-bottom: 18px; }
  .about__text {
    line-height: 1.35;
    margin-bottom: 16px;
    padding-right: 0; }
  .about-img {
    margin-bottom: 24px; }
  .about_options {
    padding-bottom: 34px; }
  .project .about-img {
    justify-content: center; }
    .project .about-img-item {
      width: 405px;
      margin: 0 15px 30px; }
      .project .about-img-item:nth-child(2n) {
        margin: 0 15px 30px; }
  .project-link {
    padding-right: 0; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px; }
  .head {
    font-size: 25px; }
  .vertical {
    display: none !important; }
  .link {
    line-height: 40px; }
    .link span {
      letter-spacing: 1.5px; }
  .main-offer {
    padding-top: 40px; }
    .main-offer__text {
      font-size: 15px;
      line-height: 1;
      margin-bottom: 18px; }
    .main-offer-head {
      margin-bottom: 10px; }
      .main-offer-head a {
        font-size: 18px; }
    .main-offer-item {
      padding: 12px 8px; }
    .main-offer-img {
      width: 80px;
      height: 80px; }
      .main-offer-img.img1 {
        background: url(../images/main-offer1.1.png) no-repeat left; }
      .main-offer-img.img2 {
        background: url(../images/main-offer2.2.png) no-repeat left; }
      .main-offer-img.img3 {
        background: url(../images/main-offer3.3.png) no-repeat left; }
  .options {
    flex-direction: column; }
    .options-wrap {
      background-color: #fff; }
    .options-content {
      width: 100%;
      padding: 30px 20px 36px;
      text-align: center; }
      .options-content:after {
        content: '';
        display: block;
        background-color: #f84046;
        width: 3000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%; }
    .options-form {
      margin-left: 0;
      padding: 30px 15px; }
    .options-item {
      width: 353px; }
  .main-about {
    margin-top: 44px;
    padding: 0 0 40px; }
    .main-about-img {
      position: static;
      width: 510px;
      margin: 0 auto 20px; }
    .main-about-content {
      width: auto; }
  .projects {
    padding-bottom: 40px; }
    .projects-items {
      justify-content: center;
      margin-bottom: 14px; }
    .projects-item {
      margin: 0 12px 30px; }
      .projects-item:nth-child(3) {
        margin: 0 12px 30px; }
  .main-partners {
    padding-bottom: 65px; }
  .review-nav {
    left: 22px; }
  .review .arrows {
    width: 100px; }
  .review .numbers {
    margin-left: -10px; }
    .review .numbers__total {
      padding-bottom: 11px; }
    .review .numbers__current {
      font-size: 63px; }
  .review-items {
    width: 625px; }
  .review-content {
    width: 316px;
    padding: 30px 8px 80px 12px; }
    .review-content__text {
      margin-bottom: 12px;
      line-height: 1.3; }
    .review-content__name {
      margin-bottom: 6px; }
  .review-link {
    left: 14px;
    bottom: 20px; }
    .review-link .link {
      padding: 0 22px 0 14px; }
      .review-link .link span {
        letter-spacing: 0.5px; }
  .contacts-info {
    width: 220px;
    padding-left: 12px; }
  .contacts-form .options-item {
    width: 242px; }
  .footer-item {
    font-size: 14px; }
  .footer-info {
    padding-right: 98px; }
    .footer-info__link, .footer-info__text {
      font-size: 14px; }
  .showcase_inner .showcase {
    margin-bottom: 40px; }
    .showcase_inner .showcase-links {
      text-align: center;
      padding-right: 0;
      padding-left: 0; }
  .reviews-items .review-content {
    width: 375px; }
  .contacts-inner .contacts-form .options-item {
    width: 235px; }
  .about .main-about-item {
    margin-right: 55px; }
    .about .main-about-item:nth-child(2) {
      margin-right: 55px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .showcase__head {
    margin: 0 0 36px 0; }
  .showcase-links {
    margin-bottom: 33px; }
  .showcase__ref {
    margin-bottom: 15px; }
  .main-offer {
    padding-bottom: 16px; }
    .main-offer-items {
      flex-wrap: wrap;
      justify-content: center; }
    .main-offer-item {
      width: 250px;
      margin: 0 10px 10px; }
      .main-offer-item:last-child {
        margin: 0 10px 20px; }
  .options-form {
    padding: 30px 0; }
  .options-items {
    margin-bottom: 6px; }
    .options-items select {
      background-position: 97% center; }
  .options-item {
    width: 100%;
    margin-right: 0; }
  .options-data {
    flex-wrap: wrap;
    justify-content: center; }
    .options-data .checkbox-wrap {
      width: auto;
      margin-bottom: 16px; }
    .options-data button {
      margin-right: 0; }
  .review {
    margin-bottom: 30px; }
    .review .arrows {
      bottom: -4px; }
    .review-nav {
      top: -45px;
      left: 50%;
      transform: translate(-50%); }
    .review-items {
      width: 400px;
      margin: 0 auto 30px; }
    .review-item {
      flex-direction: column; }
    .review-content {
      width: 100%;
      padding-bottom: 35px;
      padding-top: 50px; }
    .review-video {
      height: 220px; }
    .review-link {
      position: static;
      text-align: center; }
  .contacts {
    padding-bottom: 20px; }
    .contacts-form__head {
      font-size: 32px;
      margin-bottom: 22px; }
    .contacts-form .options-item {
      width: 100%;
      margin-right: 0; }
    .contacts-form .options-data .checkbox__text {
      line-height: 1.2; }
  .footer {
    text-align: center;
    flex-direction: column; }
    .footer-item {
      margin-bottom: 8px; }
    .footer-info {
      padding-right: 0; }
      .footer-info:after {
        right: -180px; }
  .showcase_inner .showcase__ref {
    margin-right: 12px;
    margin-bottom: 0; }
  .showcase_inner .showcase__ref, .showcase_inner .showcase__link {
    letter-spacing: 1px;
    padding: 0 10px; }
  .reviews-items {
    width: 100%;
    margin: 0 auto 30px; }
    .reviews-items .review-content {
      width: 100%;
      padding-right: 14px;
      padding-bottom: 30px; }
    .reviews-items .review-video {
      width: 100%;
      height: 250px; }
  .pagination {
    padding: 12px 0; }
  .contacts-inner .contacts {
    padding-bottom: 18px; }
    .contacts-inner .contacts-info {
      width: 220px;
      padding-right: 12px; }
    .contacts-inner .contacts-form .options-item {
      width: 100%; }
  .about-img {
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center; }
    .about-img-item {
      margin-right: 0;
      margin-bottom: 15px; }
  .about .main-about-items {
    flex-wrap: wrap;
    justify-content: center; }
  .about .main-about-item {
    margin: 0 20px 5px; }
    .about .main-about-item:nth-child(2), .about .main-about-item:last-child {
      margin: 0 20px 5px; }
  .about_options {
    padding-bottom: 12px; }
  .services-item {
    flex-wrap: wrap; }
    .services-item-img {
      order: -1; }
  .services-content {
    width: 100%;
    padding-top: 16px; }
  .projects-wrap .projects-items {
    margin-right: 0; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px; }
  .showcase__head {
    font-size: 40px; }
  .showcase__ref {
    margin-right: 10px; }
  .showcase__ref, .showcase__link {
    letter-spacing: 0;
    padding: 0 15px; }
  .options-content {
    padding-left: 10px;
    padding-right: 10px; }
  .options-data .checkbox__text {
    line-height: 1.15; }
  .main-about-img {
    width: auto; }
  .main-about-items {
    flex-wrap: wrap; }
  .projects-wrap .projects-item:nth-child(3) {
    margin-right: 2px; }
  .projects-item {
    margin: 0 2px 30px; }
    .projects-item:nth-child(3) {
      margin: 0 2px 30px; }
    .projects-item .projects-item__head {
      font-size: 16px; }
    .projects-item.big .projects-item__head {
      font-size: 16px; }
  .main-projects-wrap .projects-item {
    margin: 0 2px 30px; }
  .review-items {
    width: 290px; }
  .contacts {
    flex-wrap: wrap;
    padding-bottom: 0; }
    .contacts-info {
      padding-left: 0;
      width: 100%;
      text-align: center; }
  .footer {
    padding: 14px 0; }
    .footer-info:after {
      display: none; }
  .showcase_inner .showcase-links {
    display: block; }
  .showcase_inner .showcase__ref {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0 8px; }
  .showcase_inner .showcase__link {
    font-size: 14px;
    padding: 0 8px; }
  .pagination ul li a {
    width: 36px;
    height: 36px;
    margin: 0 2px; }
  .pagination ul li.prev {
    margin-right: 0; }
  .pagination ul li.next {
    margin-left: 0; }
  .contacts-inner .head {
    text-align: center;
    margin-bottom: 20px; }
  .contacts-inner .contacts-info {
    width: 100%;
    padding-right: 0;
    text-align: center; }
  .services-content__head {
    font-size: 22px;
    margin-bottom: 5px; }
  .services-content__text {
    line-height: 1.15; }
  .services-item {
    margin-bottom: 36px; } }
