button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 700 16px 'Gilroy', sans-serif; }

a {
  font-family: inherit; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  position: relative; }

.burger {
  display: none; }

.head {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 150px 30px 0; }

.link {
  display: inline-block;
  text-decoration: none;
  transition: 300ms;
  position: relative;
  line-height: 50px;
  color: #000;
  border: 1px solid #8e03f9;
  padding: 0 30px 0 25px; }
  .link span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
  .link img {
    transition: 300ms;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -18px; }
  .link:hover {
    text-decoration: none;
    color: #000; }
    .link:hover img {
      right: -22px; }

.vertical {
  position: absolute;
  top: 62px;
  left: -73px; }
  .vertical:before {
    content: '';
    display: block;
    width: 2px;
    height: 50px;
    background-color: #8e03f9;
    position: absolute;
    bottom: -90px;
    left: -12px; }
  .vertical__text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9.5px;
    transform: translate(0, -100%) rotate(180deg);
    transform-origin: 0 100%;
    writing-mode: vertical-lr; }

.pattern-wrap {
  display: flex; }

.pattern-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 310px;
  height: 100vh;
  flex-shrink: 0;
  padding: 56px 10px 0 70px;
  background-color: #fff; }

.pattern-content {
  flex-grow: 10;
  background-color: #f5f5f5;
  padding-left: 310px; }

.pattern-burger {
  display: block !important; }

.pattern-info {
  padding-top: 116px; }
  .pattern-info__tel a {
    display: inline-block;
    transition: 300ms;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px; }
    .pattern-info__tel a:hover {
      color: #f84046; }
  .pattern-info__address {
    font-weight: 300;
    margin-bottom: 10px; }
  .pattern-info__mail a {
    display: inline-block;
    transition: 300ms;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    margin-bottom: 18px;
    border-bottom: 1px solid transparent; }
    .pattern-info__mail a:hover {
      color: #f84046;
      border-bottom: 1px solid #f84046; }
  .pattern-info__link a {
    display: inline-block;
    text-decoration: none;
    transition: 300ms;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    background-color: #f84046;
    text-transform: uppercase;
    padding: 0 22px 0 20px;
    letter-spacing: .7px; }
    .pattern-info__link a:hover {
      background-color: #d6292f; }

.logo {
  display: inline-block;
  margin-bottom: 140px; }

.nav {
  flex-direction: column; }
  .nav li {
    margin-bottom: 25px; }
    .nav li:last-child {
      margin-bottom: 0; }
    .nav li a {
      display: inline-block;
      text-decoration: none;
      transition: 300ms;
      font-size: 18px;
      color: #8e03f9;
      padding: 0 18px 8px 0;
      border-bottom: 3px solid transparent; }
      .nav li a:hover {
        color: #f84046;
        border-bottom: 3px solid #f84046; }
    .nav li.active a {
      color: #f84046;
      border-bottom: 3px solid #f84046; }

.showcase {
  padding: 310px 0 46px; }
  .showcase-wrap {
    background-size: cover; }
  .showcase__head {
    margin: 0 155px 84px 325px;
    font-weight: 700;
    font-size: 74px;
    line-height: 1.2;
    color: #fff;
    position: relative; }
    .showcase__head:before {
      content: '';
      display: block;
      background: url(../images/quotes.png) no-repeat 50%;
      width: 275px;
      height: 221px;
      position: absolute;
      top: -347px;
      left: 0; }
  .showcase-links {
    padding-left: 4px;
    margin-bottom: 86px; }
  .showcase__ref, .showcase__link {
    display: inline-block;
    text-decoration: none;
    transition: 300ms;
    line-height: 48px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 0 14px;
    margin-right: 66px; }
    .showcase__ref:hover, .showcase__link:hover {
      text-decoration: none;
      color: #fff;
      border: 1px solid #f84046;
      background-color: #f84046; }
  .showcase__link {
    background-color: #f84046;
    border: 1px solid #f84046;
    margin-right: 0;
    padding: 0 22px; }
    .showcase__link:hover {
      background-color: transparent;
      border: 1px solid #fff; }
  .showcase-img {
    text-align: center;
    margin-right: 150px; }
    .showcase-img a {
      display: inline-block;
      transition: 300ms; }
  .showcase_inner .showcase {
    padding: 72px 0 60px;
    margin-bottom: 68px; }
    .showcase_inner .showcase-wrap {
      background: url(../images/showcase-bg2.jpg) no-repeat 50%; }
    .showcase_inner .showcase-links {
      text-align: right;
      margin-bottom: 0;
      padding-right: 72px; }

.main-offer {
  position: relative;
  padding: 56px 0 48px; }
  .main-offer-items {
    display: flex; }
  .main-offer-item {
    width: 360px;
    padding: 32px 34px 24px 26px;
    transition: 300ms;
    margin-right: 20px; }
    .main-offer-item:last-child {
      margin-right: 0; }
    .main-offer-item .link {
      opacity: 0;
      visibility: hidden;
      border: 1px solid #fff; }
      .main-offer-item .link span {
        color: #fff; }
    .main-offer-item:hover {
      background-color: #8e03f9; }
      .main-offer-item:hover .link {
        opacity: 1;
        visibility: visible; }
      .main-offer-item:hover .main-offer-img {
        background-position: right; }
      .main-offer-item:hover .main-offer-head a {
        color: #fff; }
      .main-offer-item:hover .main-offer__text {
        color: #fff; }
  .main-offer-head {
    margin-bottom: 28px; }
    .main-offer-head a {
      display: inline-block;
      transition: 300ms;
      color: #000;
      font-size: 24px; }
      .main-offer-head a:hover {
        text-decoration: none; }
  .main-offer__text {
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 27px; }

.main-offer-img {
  width: 100px;
  height: 99px;
  margin-bottom: 28px; }
  .main-offer-img.img1 {
    background: url(../images/main-offer1.png) no-repeat left; }
  .main-offer-img.img2 {
    background: url(../images/main-offer2.png) no-repeat left; }
  .main-offer-img.img3 {
    background: url(../images/main-offer3.png) no-repeat left; }

.options {
  display: flex;
  align-items: center; }
  .options-wrap {
    overflow: hidden; }

.options-content {
  width: 360px;
  flex-shrink: 0;
  padding: 45px 75px 55px 5px;
  background-color: #f84046;
  position: relative; }
  .options-content:before {
    content: '';
    display: block;
    background-color: #f84046;
    width: 3000px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%; }
  .options-content__head {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 22px;
    line-height: 1.25; }
  .options-content__info {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 30px; }
  .options-content__text {
    color: #fff;
    font-weight: 300;
    margin-bottom: 8px; }
  .options-content-link a {
    transition: 300ms;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: 700; }
    .options-content-link a:hover {
      text-decoration: none;
      color: #000; }

.options-form {
  background-color: #fff;
  padding: 42px 60px 30px;
  margin-left: -38px;
  position: relative;
  z-index: 100; }

.options-items {
  display: flex;
  flex-wrap: wrap; }
  .options-items select {
    width: 100%;
    height: 50px;
    font: 700 16px 'Gilroy';
    padding: 0 20px;
    -webkit-appearance: none;
    background-image: url("../images/select-arrow.png");
    background-position: 94% center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important; }

.options-item {
  width: 380px;
  margin: 0 58px 28px 0; }
  .options-item:nth-child(2n) {
    margin-right: 0; }
  .options-item input {
    width: 100%;
    height: 50px;
    border: 1px solid #b7b7b7;
    font: 700 16px 'Gilroy';
    color: #000;
    padding: 0 20px; }
    .options-item input::-webkit-input-placeholder {
      color: #000; }
    .options-item input:-moz-placeholder {
      color: #000; }
    .options-item input::-moz-placeholder {
      color: #000; }
    .options-item input:-ms-input-placeholder {
      color: #000; }

.options-data {
  display: flex;
  justify-content: space-between; }
  .options-data .checkbox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #8e03f9;
    margin: 4px 0 0 1px;
    position: relative; }
    .options-data .checkbox-wrap {
      width: 450px;
      display: flex;
      position: relative;
      margin-bottom: 0; }
    .options-data .checkbox input {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer; }
      .options-data .checkbox input:checked + span:before {
        opacity: 1; }
    .options-data .checkbox span {
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0; }
      .options-data .checkbox span:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff url(../images/checkbox2.jpg) no-repeat 50%;
        width: 18px;
        height: 18px;
        opacity: 0;
        transition: 300ms; }
    .options-data .checkbox__text {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      margin-bottom: 0;
      padding-top: 3px;
      line-height: 1.6;
      font-size: 14px;
      font-weight: 300; }
  .options-data button {
    align-self: flex-start;
    border: none;
    cursor: pointer;
    transition: 300ms;
    position: relative;
    line-height: 50px;
    background-color: #8e03f9;
    color: #fff;
    border: 1px solid #8e03f9;
    padding: 0 42px;
    margin-right: 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
    .options-data button:after {
      content: '';
      display: block;
      background: url(../images/link-arrowRight.png) no-repeat 50%;
      width: 32px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: -18px;
      transition: 300ms; }
    .options-data button:hover:after {
      right: -22px; }

.main-about {
  position: relative;
  padding: 0 0 70px;
  margin-top: 63px; }
  .main-about .vertical {
    top: 6px; }
  .main-about-wrap {
    overflow: hidden; }
  .main-about-content {
    width: 755px;
    padding-top: 7px; }
    .main-about-content .link span {
      letter-spacing: 3px; }
  .main-about__text {
    font-size: 16px;
    line-height: 1.65;
    margin-bottom: 27px; }
  .main-about-items {
    display: flex;
    padding-top: 27px; }
  .main-about-item {
    display: flex;
    align-items: center;
    margin-right: 95px; }
    .main-about-item:last-child {
      margin-right: 0; }
    .main-about-item span {
      flex-shrink: 0;
      font-size: 74px;
      font-weight: 700;
      color: #8e03f9; }
    .main-about-item p {
      font-size: 24px;
      margin-bottom: 0;
      margin-left: 26px; }
  .main-about-img {
    position: absolute;
    top: 120px;
    right: -174px; }

.main-projects-link {
  text-align: center;
  padding-left: 122px; }
  .main-projects-link span {
    letter-spacing: 3px; }

.projects {
  padding-bottom: 57px; }
  .projects .vertical {
    top: 10px; }
  .projects-wrap .projects {
    padding-bottom: 0; }
    .projects-wrap .projects .vertical {
      top: 2px; }
    .projects-wrap .projects .head {
      margin-bottom: 26px; }
    .projects-wrap .projects-items {
      margin-right: -20px;
      margin-bottom: 6px; }
    .projects-wrap .projects-item {
      margin-bottom: 45px; }
      .projects-wrap .projects-item__head {
        margin: 30px 0 34px; }
  .projects-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px; }
  .projects-item {
    width: 300px;
    margin-right: 20px; }
    .projects-item:nth-child(3) {
      margin-right: 0; }
    .projects-item.big {
      width: 620px; }
      .projects-item.big .projects-item__head {
        font-size: 24px;
        margin: 23px 0 43px; }
      .projects-item.big .second {
        display: none; }
    .projects-item-img a {
      transition: 300ms;
      opacity: .9; }
      .projects-item-img a:hover {
        opacity: 1; }
    .projects-item__head {
      display: inline-block;
      transition: 300ms;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
      color: #000;
      margin: 30px 0 36px; }
      .projects-item__head:hover {
        color: #f84046; }
    .projects-item__date {
      color: #949494;
      font-size: 14px;
      text-transform: uppercase; }
  .projects_pagination .pagination {
    padding: 14px 0 18px; }

.main-partners {
  padding-bottom: 150px; }
  .main-partners .vertical {
    top: 4px; }
  .main-partners .head {
    margin-bottom: 43px; }
  .main-partners-items {
    position: relative; }
    .main-partners-items .slick-arrow {
      border: none;
      cursor: pointer;
      z-index: 100;
      background: url(../images/link-arrowLeft.png) no-repeat 50%;
      width: 32px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 0; }
      .main-partners-items .slick-arrow:focus {
        outline: none !important; }
    .main-partners-items .slick-next {
      background: url(../images/link-arrowRight.png) no-repeat 50%;
      left: auto;
      right: 0; }
  .main-partners-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100px; }
    .main-partners-item img {
      margin: 0 auto; }

.review {
  position: relative;
  margin-bottom: 102px; }
  .review .vertical {
    top: -6px; }
  .review-items {
    width: 1100px;
    margin: 0 0 0 auto; }
  .review-item {
    display: flex !important; }
  .review-content {
    width: 472px;
    flex-shrink: 0;
    background-color: #fff;
    padding: 50px 40px 140px 50px;
    position: relative;
    z-index: 100; }
    .review-content:before {
      content: '';
      display: block;
      background: url(../images/quotes2.png) no-repeat 50%;
      width: 97px;
      height: 78px;
      position: absolute;
      top: 22px;
      left: 24px;
      z-index: -1; }
    .review-content__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 24px; }
    .review-content__text {
      font-weight: 300;
      line-height: 1.65;
      margin-bottom: 28px; }
    .review-content__name {
      font-weight: 700;
      margin-bottom: 10px; }
    .review-content__info {
      font-weight: 700; }
  .review-video {
    flex-grow: 10; }
    .review-video iframe {
      border: none;
      width: 100%;
      height: 100%; }
  .review-link {
    position: absolute;
    bottom: 30px;
    left: 7px; }

.review-nav {
  position: absolute;
  top: -14px;
  left: 26px;
  z-index: 100; }

.review .numbers {
  display: flex;
  align-items: flex-end; }
  .review .numbers span {
    margin: 0 8px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 14px; }
  .review .numbers__current {
    font-size: 74px;
    font-weight: 700;
    text-transform: uppercase; }
  .review .numbers__total {
    font-size: 24px;
    padding-bottom: 14px; }

.review .arrows {
  width: 116px;
  position: absolute;
  bottom: -17px;
  left: -25px; }
  .review .arrows .slick-arrow {
    border: none;
    cursor: pointer;
    z-index: 100;
    background: url(../images/link-arrowLeft.png) no-repeat 50%;
    width: 32px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0; }
    .review .arrows .slick-arrow:focus {
      outline: none !important; }
  .review .arrows .slick-next {
    background: url(../images/link-arrowRight.png) no-repeat 50%;
    left: auto;
    right: 0; }

.contacts {
  display: flex;
  padding-bottom: 70px; }
  .contacts-inner .vertical {
    top: 2px; }
  .contacts-inner .head {
    margin-bottom: 50px; }
  .contacts-inner .contacts {
    padding-bottom: 52px; }
    .contacts-inner .contacts-info {
      width: 264px;
      order: -1;
      text-align: left;
      padding-left: 0;
      padding-right: 40px; }
    .contacts-inner .contacts-form {
      padding-right: 72px; }

.contacts-info {
  width: 255px;
  flex-shrink: 0;
  text-align: right;
  padding-left: 36px; }
  .contacts-info-item {
    padding: 40px 0;
    border-bottom: 1px solid #b7b7b7; }
    .contacts-info-item:last-child {
      border: none; }
  .contacts-info-tel a {
    display: inline-block;
    transition: 300ms;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #000; }
    .contacts-info-tel a:hover {
      color: #8e03f9;
      text-decoration: none; }
  .contacts-info-link a {
    display: inline-block;
    transition: 300ms;
    font-size: 16px;
    font-weight: 300;
    color: #8e03f9;
    border-bottom: 1px solid transparent; }
    .contacts-info-link a:hover {
      text-decoration: none;
      border-bottom: 1px solid #8e03f9; }
  .contacts-info__text {
    font-weight: 300;
    padding-bottom: 7px; }
  .contacts-info-mail a {
    display: inline-block;
    transition: 300ms;
    font-size: 24px;
    border-bottom: 1px solid #8e03f9;
    color: #8e03f9; }
    .contacts-info-mail a:hover {
      text-decoration: none;
      border-bottom: 1px solid transparent; }
  .contacts-info__time {
    font-size: 24px; }

.contacts-form {
  background-color: #8e03f9;
  padding: 34px 80px 40px 60px; }
  .contacts-form__head {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px; }
  .contacts-form .options-items {
    margin-bottom: 30px; }
    .contacts-form .options-items textarea {
      resize: none;
      border: none;
      width: 100%;
      height: 150px;
      padding: 25px 20px 20px 20px;
      font: 700 16px 'Gilroy';
      color: #000; }
      .contacts-form .options-items textarea::-webkit-input-placeholder {
        color: #000; }
      .contacts-form .options-items textarea:-moz-placeholder {
        color: #000; }
      .contacts-form .options-items textarea::-moz-placeholder {
        color: #000; }
      .contacts-form .options-items textarea:-ms-input-placeholder {
        color: #000; }
    .contacts-form .options-items select {
      width: 100%;
      height: 60px; }
  .contacts-form .options-item {
    width: 400px;
    margin-right: 64px; }
    .contacts-form .options-item:nth-child(2n) {
      margin-right: 0; }
    .contacts-form .options-item input {
      height: 60px;
      border: none; }
  .contacts-form .options-data button {
    border: 1px solid #fff;
    padding: 0 28px; }
    .contacts-form .options-data button:after {
      background: url(../images/link-arrowRight2.png) no-repeat 50%; }
  .contacts-form .options-data .checkbox__text {
    color: #fff; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0; }
  .footer-wrap {
    overflow: hidden; }
  .footer-item {
    font-weight: 300;
    color: #060606; }
  .footer-info {
    display: flex;
    padding-right: 120px;
    position: relative; }
    .footer-info:after {
      content: '';
      display: block;
      background: url(../images/footer-img.png) no-repeat 50%;
      width: 97px;
      height: 112px;
      position: absolute;
      top: -28px;
      right: -6px; }
    .footer-info__text {
      font-weight: 300;
      color: #060606;
      margin-right: 4px; }
    .footer-info__link {
      font-weight: 300;
      color: #8e03f9;
      text-decoration: underline; }
      .footer-info__link:hover {
        color: #8e03f9;
        text-decoration: none; }

.reviews .vertical {
  top: 3px; }

.reviews-items .review-item {
  margin-bottom: 60px; }
  .reviews-items .review-item:last-child {
    margin-bottom: 55px; }

.reviews-items .review-content {
  width: 555px;
  padding-right: 34px;
  padding-bottom: 82px; }

.reviews-items .review-video {
  width: 630px;
  flex-grow: 0; }

.reviews_partners .main-partners {
  padding-bottom: 74px; }
  .reviews_partners .main-partners .vertical {
    display: none; }

.reviews_inner .reviews .vertical {
  display: none; }

.pagination {
  justify-content: center;
  padding: 12px 0 28px; }
  .pagination ul {
    margin: 0;
    padding: 0;
    font-size: 0; }
    .pagination ul li {
      display: inline-block;
      vertical-align: middle;
      list-style-type: none; }
      .pagination ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms;
        width: 50px;
        height: 50px;
        border: 1px solid #8e03f9;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 6px; }
        .pagination ul li a:hover {
          text-decoration: none;
          color: #fff;
          background-color: #8e03f9; }
      .pagination ul li.active a {
        color: #fff;
        background-color: #8e03f9; }
      .pagination ul li.prev, .pagination ul li.next {
        margin-right: 10px; }
        .pagination ul li.prev a, .pagination ul li.next a {
          border: none;
          height: auto; }
          .pagination ul li.prev a:hover, .pagination ul li.next a:hover {
            background-color: inherit; }
      .pagination ul li.next {
        margin-right: 0;
        margin-left: 8px; }

.about {
  padding-bottom: 22px; }
  .about .vertical {
    top: 6px; }
  .about_options {
    padding-bottom: 50px; }
  .about .head {
    margin-bottom: 40px; }
  .about .main-about-items {
    padding: 4px 0 30px; }
  .about .main-about-item:nth-child(2) {
    margin-right: 126px; }
  .about__text {
    font-weight: 300;
    line-height: 1.65;
    margin-bottom: 28px;
    padding-right: 55px; }
  .about-img {
    margin-bottom: 42px; }
    .about-img-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 60px; }
      .about-img-item:last-child {
        margin-right: 0; }

.services .vertical {
  top: 12px; }

.services_showcase .showcase {
  margin-bottom: 58px; }

.services-item {
  display: flex;
  margin-bottom: 72px; }
  .services-item:last-child {
    margin-bottom: 65px; }
  .services-item-img {
    width: 620px; }

.services-content {
  width: 565px;
  flex-shrink: 0;
  padding: 15px 116px 0 0; }
  .services-content__head {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 28px; }
  .services-content__text {
    font-weight: 300;
    line-height: 1.65;
    margin-bottom: 39px; }
  .services-content .link span {
    letter-spacing: 3px; }

.project .head {
  margin-right: 200px;
  margin-bottom: 20px; }

.project .about-img {
  padding-top: 14px;
  margin-bottom: 5px; }
  .project .about-img-item {
    margin-bottom: 50px; }

.project-link {
  text-align: center;
  padding-right: 53px; }
  .project-link .link span {
    letter-spacing: 3px; }
  .project-link .link img {
    right: 0;
    left: -18px; }
  .project-link .link:hover img {
    left: -22px; }

.project__date {
  color: #949494;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px; }
