@media only screen and (max-height: 1000px) and (min-width: 991px) {
  
  // Logo
  
  .logo {
    margin-bottom: 55px;
  }
  
  // Nav
  
  .nav li {
    margin-bottom: 14px;
    a {
      padding-bottom: 4px;
    }
  }
  
  
}

@media only screen and (max-width: 1910px) {
  .container {
    max-width: 940px;
  }
  
  .head {
    margin-right: 0;
    font-size: 30px;
    line-height: 1.1;
  }
  
  .vertical {
    left: -26px;
    &:before {
      bottom: -70px;
    }
    &__text {
      letter-spacing: 4.5px;
    }
  }
  
  // Pattern
  
  .pattern {
    &-info {
      padding-top: 40px;
      &__tel {
        a {
          margin-bottom: 4px;
        }
      }
      &__address {
        margin-bottom: 4px;
      }
      &__mail {
        a {
          margin-bottom: 10px;
        }
      }
    }
    &-sidebar {
      width: 270px;
      padding: 33px 35px 0 45px;
    }
    &-content {
      padding-left: 270px;
    }
  }
  
  // Showcase
  
  .showcase {
    padding: 175px 0 20px;
    &__head {
      margin: 0 0 55px 0;
      font-size: 70px;
      line-height: 1.1;
      &:before {
        background-size: 80%;
        top: -240px;
      }
    }
    &-links {
      margin-bottom: 55px;
    }
    &-img {
      margin-right: 50px;
    }
  }
  
  // Main offer
  
  .main-offer {
    padding-bottom: 30px;
    &-head {
      margin-bottom: 16px;
      a {
        font-size: 22px;
      }
    }
    &-item {
      margin-right: 10px;
      padding: 20px 14px;
    }
    &__text {
      line-height: 1.35;
    }
  }
  
  // Options
  
  .options {
    &-item {
      width: 280px;
      margin-right: 30px;
    }
    &-form {
      padding: 30px 24px;
      margin-left: -60px;
    }
    &-data {
      .checkbox {
        &-wrap {
          width: 300px;
        }
        &__text {
          margin-left: 12px;
          margin-top: -2px;
        }
      }
    }
  }
  
  // Main about
  
  .main-about {
    &__text {
      line-height: 1.4;
      margin-bottom: 16px;
    }
    &-content {
      width: 540px;
      padding-top: 0;
    }
    &-img {
      right: -230px;
    }
    &-items {
      padding-top: 6px;
    }
    &-item {
      margin-right: 30px;
      span {
        font-size: 66px;
      }
      p {
        font-size: 20px;
        margin-left: 16px;
      }
    }
  }
  
  // Main projects
  
  .main-projects {
    &-link {
      padding-left: 0;
    }
    &-wrap {
      .projects {
        &-items {
          justify-content: center;
        }
        &-item {
          margin: 0 10px 20px;
        }
      }
    }
  }
  
  // Projects
  
  .projects {
    &-wrap {
      .projects-item:nth-child(3) {
        margin-right: 20px;
      }
    }
  }
  
  // Main partners
  
  .main-partners {
    padding-bottom: 100px;
    &-items {
      .slick {
        &-arrow {
          left: -20px;
        }
        &-next {
          left: auto;
          right: -20px;
        }
      }
    }
  }
  
  // Review
  
  .review {
    &-link {
      bottom: 27px;
    }
    &-nav {
      left: 10px;
    }
    &-items {
      width: 780px;
    }
    &-content {
      width: 390px;
      padding: 40px 16px 100px 20px;
    }
  }
  
  // Contacts
  
  .contacts {
    &-form {
      padding: 30px;
      .options {
        &-items {
          select {
            height: 50px;
          }
          textarea {
            height: 120px;
            padding-top: 16px;
          }
        }
        &-item {
          width: 297px;
          margin-right: 30px;
          input {
            height: 50px;
          }
        }
      }
    }
  }
  
  // Reviews
  
  .reviews {
    &-items {
      .review {
        &-item {
          margin-bottom: 46px;
          &:last-child {
            margin-bottom: 40px;
          }
        }
        &-content {
          width: 467px;
          padding-top: 26px;
          padding-bottom: 40px;
          &__head {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  
  // Contacts inner
  
  .contacts-inner {
    .contacts {
      &-form {
        padding: 30px;
        .options {
          &-item {
            width: 293px;
          }
        }
      }
    }
  }
  
  // About
  
  .about {
    .main-about {
      &-item {
        margin-right: 80px;
        &:nth-child(2) {
          margin-right: 80px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-img {
      display: flex;
      &-item {
        margin-right: 30px;
      }
    }
  }
  
  // Services
  
  .services {
    &-content {
      width: 448px;
      padding-right: 15px;
      padding-top: 4px;
      &__head {
        font-size: 30px;
        margin-bottom: 16px;
      }
      &__text {
        line-height: 1.45;
        margin-bottom: 20px;
      }
    }
    &-item {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 45px;
      }
      &-img {
        width: auto;
        img {
          width: 100%;
        }
      }
    }
  }
  
  // Project
  
  .project {
    .about {
      &-img {
        flex-wrap: wrap;
        &-item {
          width: 455px;
          margin-bottom: 30px;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
  
}

@media only screen and (max-width: 1336px) {
  .container {
    max-width: 840px;
  }
  
  .vertical {
    left: -14px;
  }
  
  // Showcase
  
  .showcase {
    &__head {
      font-size: 56px;
    }
    &__ref {
      margin-right: 36px;
    }
  }
  
  // Main offer
  
  .main-offer {
    &-img {
      margin-bottom: 18px;
    }
    &-head {
      font-size: 20px;
      a {
        font-size: 20px;
      }
    }
    &__text {
      line-height: 1.2;
    }
  }
  
  // Options
  
  .options {
    &-content {
      width: 340px;
      &__head {
        font-size: 26px;
        margin-bottom: 12px;
        line-height: 1.1;
      }
      &__info {
        margin-bottom: 10px;
      }
    }
    &-items {
      select {
        padding-left: 10px;
      }
    }
    &-item {
      width: 266px;
      margin-right: 14px;
      margin-bottom: 14px;
      input {
        padding: 0 10px;
      }
    }
    &-form {
      padding: 24px 15px;
      margin-left: -77px;
    }
    &-data {
      label {
        .checkbox__text {
          line-height: 1.25;
        }
      }
    }
  }
  
  // Main about
  
  .main-about {
    &-content {
      width: 425px;
    }
    &__text {
       line-height: 1.25;
    }
    &-item {
      span {
        font-size: 55px;
      }
      p {
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
  
  // Projects
  
  .projects {
    &-wrap {
      .projects {
        &-items {
          margin-right: -12px;
        }
        &-item {
          &:nth-child(3) {
            margin-right: 12px;
          }
        }
      }
    }
    &-item {
      width: 272px;
      margin-right: 12px;
      &__head {
        margin: 18px 0 24px;
      }
      &.big {
        width: 556px;
        .projects {
          &-item {
            &__head {
              font-size: 21px;
            }
          }
        }
      }
    }
  }
  
  // Main partners
  
  .main-partners {
    &-items {
      .slick {
        &-arrow {
          left: 0;
        }
        &-next {
          left: auto;
          right: 0;
        }
      }
    }
  }
  
  // Review
  
  .review {
    margin-bottom: 90px;
    &-nav {
      left: 19px;
    }
    &-items {
      width: 720px;
    }
    &-content {
      width: 355px;
      &__text {
        line-height: 1.35;
      }
    }
  }
  
  // Contacts
  
  .contacts {
    padding-bottom: 40px;
    &-form {
      padding: 20px 16px;
      .options {
        &-items {
          textarea {
            height: 105px;
            padding-left: 10px;
          }
        }
        &-item {
          width: 269px;
          margin-right: 14px;
        }
      }
    }
    &-info {
      &-item {
        padding: 27px 0;
      }
    }
  }
  
  // Reviews
  
  .reviews {
    &-items {
      .review {
        &-content {
          width: 405px;
        }
      }
    }
  }
  
  // Contacts inner
  
  .contacts-inner {
    .head {
      margin-bottom: 38px;
    }
    .contacts {
      &-form {
        padding: 20px 15px;
        .options {
          &-item {
            width: 280px;
          }
        }
      }
      &-info {
        width: 235px;
        padding-right: 18px;
      }
    }
  }
  
  // Services
  
  .services {
    &-content {
      width: 400px;
      .link {
        line-height: 42px;
        span {
          letter-spacing: 1.5px;
        }
      }
      &__head {
        font-size: 26px;
        margin-bottom: 10px;
      }
      &__text {
        line-height: 1.3;
        margin-bottom: 16px;
      }
    }
  }
  
  // Project
  
  .project {
    .head {
      margin-right: 0;
    }
    .about {
      &-img {
        &-item {
          width: 405px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  
  // Logo
  
  .logo {
    display: none;
  }
  
  // Burger
  
  .burger {
    display: block;
    background-color: #fff;
    padding: 16px 0;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }
  
  // Showcase
  
  .showcase {
    padding-top: 287px;
    &-img {
      margin-right: 0;
    }
    &_inner {
      .showcase {
        padding-top: 187px;
      }
    }
  }
  
  // Pattern
  
  .pattern {
    &-wrap {
      flex-direction: column;
    }
    &-sidebar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      background-color: #fff;
      padding: 0;
    }
    &-content {
      padding-left: 0;
    }
    &-info {
      padding-top: 10px;
    }
    &-burger {
    display: none !important;
    padding: 35px 0 30px;
    &-wrap {
        &.active {
          .pattern-burger {
            display: block !important;
          }
        }
      }
    }
  }
  
  // Nav 
  
  .nav {
    li {
      margin-bottom: 10px;
      a {
        padding-right: 0;
      }
    }
  }
  
  // Options
  
  .options {
    &-item {
      width: 296px;
    }
  }
  
  // Main about
  
  .main-about {
    &-content {
      width: 480px;
    }
  }
  
  // Projects
  
  .projects {
    &-item {
      width: 292px;
      &.big {
        width: 596px;
      }
    }
  }
  
  // Contacts
  
  .contacts {
    &-form {
      .options {
        &-item {
          width: 299px;
        }
      }
    }
  }
  
  // Reviews
  
  .reviews {
    &-items {
      .review {
        &-content {
          width: 430px;
        }
      }
    }
  }
  
  // Contacts inner
  
  .contacts-inner {
    .contacts {
      &-form {
        .options {
          &-item {
            width: 310px;
          }
        }
      }
    }
  }
  
  // About
  
  .about {
    .head {
      margin-bottom: 18px;
    }
    &__text {
      line-height: 1.35;
      margin-bottom: 16px;
      padding-right: 0;
    }
    &-img {
      margin-bottom: 24px;
    }
    &_options {
      padding-bottom: 34px;
    }
  }
  
  // Project
  
  .project {
    .about {
      &-img {
        justify-content: center;
        &-item {
          width: 405px;
          margin: 0 15px 30px;
          &:nth-child(2n) {
            margin: 0 15px 30px;
          }
        }
      }
    }
    &-link {
      padding-right: 0;
    }
  }
  
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  
  .head {
    font-size: 25px;
  }
  
  .vertical {
    display: none !important;
  }
  
  .link {
    line-height: 40px;
    span {
      letter-spacing: 1.5px;
    }
  }
  
  // Main offer
  
  .main-offer {
    padding-top: 40px;
    &__text {
      font-size: 15px;
      line-height: 1;
      margin-bottom: 18px;
    }
    &-head {
      margin-bottom: 10px;
      a {
        font-size: 18px;
      }
    }
    &-item {
      padding: 12px 8px;
    }
    &-img {
      width: 80px;
      height: 80px;
      &.img1 {
        background: url(../images/main-offer1.1.png) no-repeat left;
      }
      &.img2 {
        background: url(../images/main-offer2.2.png) no-repeat left;
      }
      &.img3 {
        background: url(../images/main-offer3.3.png) no-repeat left;
      }
    }
  }
  
  // Options
  
  .options {
    flex-direction: column;
    &-wrap {
      background-color: #fff;
    }
    &-content {
      width: 100%;
      padding: 30px 20px 36px;
      text-align: center;
      &:after {
        content: '';
        display: block;
        background-color: #f84046;
        width: 3000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
      }
    }
    &-form {
      margin-left: 0;
      padding: 30px 15px;
    }
    &-item {
      width: 353px;
    }
  }
  
  // Main about
  
  .main-about {
    margin-top: 44px;
    padding: 0 0 40px;
    &-img {
      position: static;
      width: 510px;
      margin: 0 auto 20px;
    }
    &-content {
      width: auto;
    }
  }
  
  // Projects
  
  .projects {
    padding-bottom: 40px;
    &-items {
      justify-content: center;
      margin-bottom: 14px;
    }
    &-item {
      margin: 0 12px 30px;
      &:nth-child(3) {
        margin: 0 12px 30px;
      }
    }
  }
  
  // Main partners
  
  .main-partners {
    padding-bottom: 65px;
  }
  
  // Review
  
  .review {
    &-nav {
      left: 22px;
    }
    .arrows {
      width: 100px;
    }
    .numbers {
      margin-left: -10px;
      &__total {
        padding-bottom: 11px;
      }
      &__current {
        font-size: 63px;
      }
    }
    &-items {
      width: 625px;
    }
    &-content {
      width: 316px;
      padding: 30px 8px 80px 12px;
      &__text {
        margin-bottom: 12px;
        line-height: 1.3;
      }
      &__name {
        margin-bottom: 6px;
      }
    }
    &-link {
      left: 14px;
      bottom: 20px;
      .link {
        padding: 0 22px 0 14px;
        span {
          letter-spacing: 0.5px;
        }
      }
    }
  }
  
  // Contacts
  
  .contacts {
    &-info {
      width: 220px;
      padding-left: 12px;
    }
    &-form {
      .options {
        &-item {
          width: 242px;
        }
      }
    }
  }
  
  // Footer
  
  .footer {
    &-item {
      font-size: 14px;
    }
    &-info {
      padding-right: 98px;
      &__link,
      &__text {
        font-size: 14px;
      }
    }
  }
  
  // Showcase inner
  
  .showcase_inner {
    .showcase {
      margin-bottom: 40px;
      &-links {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  
  // Reviews
  
  .reviews {
    &-items {
      .review {
        &-content {
          width: 375px;
        }
      }
    }
  }
  
  // Contacts inner
  
  .contacts-inner {
    .contacts {
      &-form {
        .options {
          &-item {
            width: 235px;
          }
        }
      }
    }
  }
  
  // About
  
  .about {
    .main-about {
      &-item {
        margin-right: 55px;
        &:nth-child(2) {
          margin-right: 55px;
        }
      }
    }
  }
  
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  
  // Showcase 
  
  .showcase {
    &__head {
      margin: 0 0 36px 0;
    }
    &-links {
      margin-bottom: 33px;
    }
    &__ref {
      margin-bottom: 15px;
    }
  }
  
  // Main offer
  
  .main-offer {
    padding-bottom: 16px;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      width: 250px;
      margin: 0 10px 10px;
      &:last-child {
        margin: 0 10px 20px;
      }
    }
  }
  
  // Options
  
  .options {
    &-form {
      padding: 30px 0;
    }
    &-items {
      margin-bottom: 6px;
      select {
        background-position: 97% center;
      }
    }
    &-item {
      width: 100%;
      margin-right: 0;
    }
    &-data {
      flex-wrap: wrap;
      justify-content: center;
      .checkbox {
        &-wrap {
          width: auto;
          margin-bottom: 16px;
        }
      }
      button {
        margin-right: 0;
      }
    }
  }
  
  // Review
  
  .review {
    margin-bottom: 30px;
    .arrows {
      bottom: -4px;
    }
    &-nav {
      top: -45px;
      left: 50%;
      transform: translate(-50%);
    }
    &-items {
      width: 400px;
      margin: 0 auto 30px;
    }
    &-item {
      flex-direction: column;
    }
    &-content {
      width: 100%;
      padding-bottom: 35px;
      padding-top: 50px;
    }
    &-video {
      height: 220px;
    }
    &-link {
      position: static;
      text-align: center;
    }
  }
  
  // Contacts
  
  .contacts {
    padding-bottom: 20px;
    &-form {
      &__head {
        font-size: 32px;
        margin-bottom: 22px;
      }
      .options {
        &-item {
          width: 100%;
          margin-right: 0;
        }
        &-data {
          .checkbox {
            &__text {
              line-height: 1.2;
            }
          }
        }
      }
    }
  }
  
  // Footer
  
  .footer {
    text-align: center;
    flex-direction: column;
    &-item {
      margin-bottom: 8px;
    }
    &-info {
      padding-right: 0;
      &:after {
        right: -180px;
      }
    }
  }
  
  // Showcase inner
  
  .showcase_inner {
    .showcase {
      &__ref {
        margin-right: 12px;
        margin-bottom: 0;
      }
      &__ref,
      &__link {
        letter-spacing: 1px;
        padding: 0 10px;
      }
    }
  }
  
  // Reviews
  
  .reviews {
    &-items {
      width: 100%;
      margin: 0 auto 30px;
      .review {
        &-content {
          width: 100%;
          padding-right: 14px;
          padding-bottom: 30px;
        }
        &-video {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
  
  // Pagination
  
  .pagination {
    padding: 12px 0;
  }
  
  // Contacts inner
  
  .contacts-inner {
    .contacts {
      padding-bottom: 18px;
      &-info {
        width: 220px;
        padding-right: 12px;
      }
      &-form {
        .options {
          &-item {
            width: 100%;
          }
        }
      }
    }
  }
  
  // About
  
  .about {
    &-img {
      margin-bottom: 10px;
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
    .main-about {
      &-items {
        flex-wrap: wrap;
        justify-content: center;
      }
      &-item {
        margin: 0 20px 5px;
        &:nth-child(2),
        &:last-child {
          margin: 0 20px 5px;
        }
      }
    }
    &_options {
      padding-bottom: 12px;
    }
  }
  
  // Services
  
  .services {
    &-item {
      flex-wrap: wrap;
      &-img {
        order: -1;
      }
    }
    &-content {
      width: 100%;
      padding-top: 16px;
    }
  }
  
  // Projects
  
  .projects {
    &-wrap {
      .projects {
        &-items {
          margin-right: 0;
        }
      }
    }
  }
  
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  
  // Showcase
  
  .showcase {
    &__head {
      font-size: 40px;
    }
    &__ref {
      margin-right: 10px;
    }
    &__ref,
    &__link {
      letter-spacing: 0;
      padding: 0 15px;
    }
  }
  
  // Options
  
  .options {
    &-content {
      padding-left: 10px;
      padding-right: 10px;
    }
    &-data {
      .checkbox {
        &__text {
          line-height: 1.15;
        }
      }
    }
  }
  
  // Main about
  
  .main-about {
    &-img {
      width: auto;
    }
    &-items {
      flex-wrap: wrap;
    }
  }
  
  // Main projects
  
//  .main-projects-wrap .projects-item {
//    margin: 0 2px 30px;
//  }
  
  // Projects
  
  .projects {
    &-wrap {
      .projects {
        &-item {
          &:nth-child(3) {
            margin-right: 2px;
          }
        }
      }
    }
    &-item {
      margin: 0 2px 30px;
      &:nth-child(3) {
        margin: 0 2px 30px;
      }
      .projects {
        &-item {
          &__head {
            font-size: 16px;
          }
        }
      }
      &.big {
        .projects-item__head {
          font-size: 16px;
        }
      }
    }
  }
  
  .main-projects-wrap .projects-item {
    margin: 0 2px 30px;
  }
  
  // Review
  
  .review {
    &-items {
      width: 290px;
    }
  }
  
  // Contacts
  
  .contacts {
    flex-wrap: wrap;
    padding-bottom: 0;
    &-info {
      padding-left: 0;
      width: 100%;
      text-align: center;
    }
  }
  
  // Footer
  
  .footer {
    padding: 14px 0;
    &-info {
      &:after {
        display: none;
      }
    }
  }
  
  // Showcase inner
  
  .showcase_inner {
    .showcase {
      &-links {
        display: block;
      }
      &__ref {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 14px;
        padding: 0 8px;
      }
      &__link {
        font-size: 14px;
        padding: 0 8px;
      }
    }
  }
  
  // Pagination
  
  .pagination {
    ul {
      li {
        a {
          width: 36px;
          height: 36px;
          margin: 0 2px;
        }
        &.prev {
          margin-right: 0;
        }
        &.next {
          margin-left: 0;
        }
      }
    }
  }
  
  // Contacts inner
  
  .contacts-inner {
    .head {
      text-align: center;
      margin-bottom: 20px;
    }
    .contacts {
      &-info {
        width: 100%;
        padding-right: 0;
        text-align: center;
      }
    }
  }
  
  // Services
  
  .services {
    &-content {
      &__head {
        font-size: 22px;
        margin-bottom: 5px;
      }
      &__text {
        line-height: 1.15;
      }
    }
    &-item {
      margin-bottom: 36px;
    }
  }
}















