$purple: #8e03f9;
$red: #f84046;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 700 16px 'Gilroy', sans-serif;
}

a {
  font-family: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.burger {
  display: none;
}

.head {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 150px 30px 0;
}

.link {
  display: inline-block;
  text-decoration: none;
  transition: 300ms;
  position: relative;
  line-height: 50px;
  color: #000;
  border: 1px solid #8e03f9;
  padding: 0 30px 0 25px;
  span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  img {
    transition: 300ms;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -18px;
  }
  &:hover {
    text-decoration: none;
    color: #000;
    img {
      right: -22px;
    }
  }
}

.vertical {
  position: absolute;
  top: 62px;
  left: -73px;
  &:before {
    content: '';
    display: block;
    width: 2px;
    height: 50px;
    background-color: $purple;
    position: absolute;
    bottom: -90px;
    left: -12px;
  }
  &__text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9.5px;
    transform: translate(0, -100%) rotate(180deg);
    transform-origin: 0 100%;
    writing-mode: vertical-lr;
  }
}

// Pattern

.pattern {
  &-wrap {
    display: flex;
  }
  &-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 310px;
    height: 100vh;
    flex-shrink: 0;
    padding: 56px 10px 0 70px;
    background-color: #fff;
  }
  &-content {
    flex-grow: 10;
    background-color: #f5f5f5;
    padding-left: 310px;
  }
  &-burger {
    display: block !important;
  }
}

// Pattern info

.pattern-info {
  padding-top: 116px;
  &__tel {
    a {
      display: inline-block;
      transition: 300ms;
      text-decoration: none;
      color: #000;
      font-size: 20px;
      margin-bottom: 10px;
      &:hover {
        color: $red;
      }
    }
  }
  &__address {
    font-weight: 300;
    margin-bottom: 10px;
  }
  &__mail {
    a {
      display: inline-block;
      transition: 300ms;
      text-decoration: none;
      color: #000;
      font-weight: 300;
      margin-bottom: 18px;
      border-bottom: 1px solid transparent;
      &:hover {
        color: $red;
        border-bottom: 1px solid $red;
      }
    }
  }
  &__link {
    a {
      display: inline-block;
      text-decoration: none;
      transition: 300ms;
      color: #fff;
      font-size: 14px;
      line-height: 50px;
      background-color: $red;
      text-transform: uppercase;
      padding: 0 22px 0 20px;
      letter-spacing: .7px;
      &:hover {
        background-color: #d6292f;
      }
    }
  }
}

// Logo

.logo {
  display: inline-block;
  margin-bottom: 140px;
}

// Nav

.nav {
  flex-direction: column;
  li {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: inline-block;
      text-decoration: none;
      transition: 300ms;
      font-size: 18px;
      color: $purple;
      padding: 0 18px 8px 0;
      border-bottom: 3px solid transparent;
      &:hover {
        color: $red;
        border-bottom: 3px solid $red;
      }
    }
    &.active {
      a {
        color: $red;
        border-bottom: 3px solid $red;
      }
    }
  }
}

// Showcase

.showcase {
  padding: 310px 0 46px;
  &-wrap {
    background-size: cover;
  }
  &__head {
    margin: 0 155px 84px 325px;
    font-weight: 700;
    font-size: 74px;
    line-height: 1.2;
    color: #fff;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/quotes.png) no-repeat 50%;
      width: 275px;
      height: 221px;
      position: absolute;
      top: -347px;
      left: 0;
    }
  }
  &-links {
    padding-left: 4px;
    margin-bottom: 86px;
  }
  &__ref,
  &__link {
    display: inline-block;
    text-decoration: none;
    transition: 300ms;
    line-height: 48px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 0 14px;
    margin-right: 66px;
    &:hover {
      text-decoration: none;
      color: #fff;
      border: 1px solid $red;
      background-color: $red;
    }
  }
  &__link {
    background-color: $red;
    border: 1px solid $red;
    margin-right: 0;
    padding: 0 22px;
    &:hover {
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
  &-img {
    text-align: center;
    margin-right: 150px;
    a {
      display: inline-block;
      transition: 300ms;
    }
  }
  &_inner {
    .showcase {
      padding: 72px 0 60px;
      margin-bottom: 68px;
      &-wrap {
        background: url(../images/showcase-bg2.jpg) no-repeat 50%;
      }
      &-links {
        text-align: right;
        margin-bottom: 0;
        padding-right: 72px;
      }
    }
  }
}

// Main offer

.main-offer {
  position: relative;
  padding: 56px 0 48px;
  &-items {
    display: flex;
  }
  &-item {
    width: 360px;
    padding: 32px 34px 24px 26px;
    transition: 300ms;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    .link {
      opacity: 0;
      visibility: hidden;
      border: 1px solid #fff;
      span {
        color: #fff;
      }
    }
    &:hover {
      background-color: $purple;
      .link {
        opacity: 1;
        visibility: visible;
      }
      .main-offer {
        &-img {
          background-position: right;
        }
        &-head {
          a {
            color: #fff;
          }
        }
        &__text {
          color: #fff;
        }
      }
    }
  }
  &-head {
    margin-bottom: 28px;
    a {
      display: inline-block;
      transition: 300ms;
      color: #000;
      font-size: 24px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__text {
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 27px;
  }
}

// Main offer img

.main-offer-img {
  width: 100px;
  height: 99px;
  margin-bottom: 28px;
  &.img1 {
    background: url(../images/main-offer1.png) no-repeat left;
  }
  &.img2 {
    background: url(../images/main-offer2.png) no-repeat left;
  }
  &.img3 {
    background: url(../images/main-offer3.png) no-repeat left;
  }
}

// Options

.options {
  display: flex;
  align-items: center;
  &-wrap {
    overflow: hidden;
  }
}

// Options content

.options-content {
  width: 360px;
  flex-shrink: 0;
  padding: 45px 75px 55px 5px;
  background-color: $red;
  position: relative;
  &:before {
    content: '';
    display: block;
    background-color: $red;
    width: 3000px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
  }
  &__head {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 22px;
    line-height: 1.25;
  }
  &__info {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  &__text {
    color: #fff;
    font-weight: 300;
    margin-bottom: 8px;
  }
  &-link {
    a {
      transition: 300ms;
      display: inline-block;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

// Options form

.options {
  &-form {
    background-color: #fff;
    padding: 42px 60px 30px;
    margin-left: -38px;
    position: relative;
    z-index: 100;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    select {
      width: 100%;
      height: 50px;
      font: 700 16px 'Gilroy';
      padding: 0 20px;
       -webkit-appearance: none;
      background-image: url('../images/select-arrow.png');
      background-position: 94% center;
      background-repeat: no-repeat;
      line-height: 1em;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
    }
  }
  &-item {
    width: 380px;
    margin: 0 58px 28px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    input {
      width: 100%;
      height: 50px;
      border: 1px solid #b7b7b7;
      font: 700 16px 'Gilroy';
      color: #000;
      padding: 0 20px;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
}

// Options data

.options-data {
  display: flex;
  justify-content: space-between;
  .checkbox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid $purple;
    margin: 4px 0 0 1px;
    position: relative;
    &-wrap {
      width: 450px;
      display: flex;
      position: relative;
      margin-bottom: 0;
    }
    input {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
      &:checked + span:before {
        opacity: 1;
      }
    }
    span {
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff url(../images/checkbox2.jpg) no-repeat 50%;
        width: 18px;
        height: 18px;
        opacity: 0;
        transition: 300ms;
      }
    }
    &__text {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      margin-bottom: 0;
      padding-top: 3px;
      line-height: 1.6;
      font-size: 14px;
      font-weight: 300;
    }
  }
  button {
    align-self: flex-start;
    border: none;
    cursor: pointer;
    transition: 300ms;
    position: relative;
    line-height: 50px;
    background-color: $purple;
    color: #fff;
    border: 1px solid #8e03f9;
    padding: 0 42px;
    margin-right: 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    &:after {
      content:'';
      display: block;
      background: url(../images/link-arrowRight.png) no-repeat 50%;
      width: 32px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: -18px;
      transition: 300ms;
    }
    &:hover {
      &:after {
        right: -22px;
      }
    }
  }
}

// Main about

.main-about {
  position: relative;
  padding: 0 0 70px;
  margin-top: 63px;
  .vertical {
    top: 6px;
  }
  &-wrap {
    overflow: hidden;
  }
  &-content {
    width: 755px;
    padding-top: 7px;
    .link {
      span {
        letter-spacing: 3px;
      }
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.65;
    margin-bottom: 27px;
  }
  &-items {
    display: flex;
    padding-top: 27px;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-right: 95px;
    &:last-child {
      margin-right: 0;
    }
    span {
      flex-shrink: 0;
      font-size: 74px;
      font-weight: 700;
      color: $purple;
    }
    p {
      font-size: 24px;
      margin-bottom: 0;
      margin-left: 26px;
    }
  }
  &-img {
    position: absolute;
    top: 120px;
    right: -174px;
  }
}

// Main projects

.main-projects {
  &-link {
    text-align: center;
    padding-left: 122px;
    span {
      letter-spacing: 3px;
    }
  }
}

// Projects

.projects {
  padding-bottom: 57px;
  .vertical {
    top: 10px;
  }
  &-wrap {
    .projects {
      padding-bottom: 0;
      .vertical {
        top: 2px;
      }
      .head {
        margin-bottom: 26px;
      }
      &-items {
        margin-right: -20px;
        margin-bottom: 6px;
      }
      &-item {
        margin-bottom: 45px;
        &__head {
          margin: 30px 0 34px;
        }
      }
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &-item {
    width: 300px;
    margin-right: 20px;
    &:nth-child(3) {
      margin-right: 0;
    }
    &.big {
      width: 620px;
      .projects {
        &-item {
          &__head {
            font-size: 24px;
            margin: 23px 0 43px;
          }
        }
      }
      .second {
        display: none;
      }
    }
    &-img {
      a {
        transition: 300ms;
        opacity: .9;
        &:hover {
          opacity: 1;
        }
      }
    }
    &__head {
      display: inline-block;
      transition: 300ms;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
      color: #000;
      margin: 30px 0 36px;
      &:hover {
        color: $red;
      }
    }
    &__date {
      color: #949494;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  &_pagination {
    .pagination {
      padding: 14px 0 18px;
    }
  }
}

// Main partners

.main-partners {
  padding-bottom: 150px;
  .vertical {
    top: 4px;
  }
  .head {
    margin-bottom: 43px;
  }
  &-items {
    position: relative;
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        z-index: 100;
        background: url(../images/link-arrowLeft.png) no-repeat 50%;
        width: 32px;
        height: 10px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 0;
        &:focus {
          outline: none !important;
        }
      }
      &-next {
        background: url(../images/link-arrowRight.png) no-repeat 50%;
        left: auto;
        right: 0;
      }
    }
  }
  &-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100px;
    img {
      margin: 0 auto;
    }
  }
}

// Review

.review {
  position: relative;
  margin-bottom: 102px;
  .vertical {
    top: -6px;
  }
  &-items {
    width: 1100px;
    margin: 0 0 0 auto;
  }
  &-item {
    display: flex !important;
  }
  &-content {
    width: 472px;
    flex-shrink: 0;
    background-color: #fff;
    padding: 50px 40px 140px 50px;
    position: relative;
    z-index: 100;
    &:before {
      content: '';
      display: block;
      background: url(../images/quotes2.png) no-repeat 50%;
      width: 97px;
      height: 78px;
      position: absolute;
      top: 22px;
      left: 24px;
      z-index: -1;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 24px;
    }
    &__text {
      font-weight: 300;
      line-height: 1.65;
      margin-bottom: 28px;
    }
    &__name {
      font-weight: 700;
      margin-bottom: 10px;
    }
    &__info {
      font-weight: 700;
    }
  }
  &-video {
    flex-grow: 10;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &-link {
    position: absolute;
    bottom: 30px;
    left: 7px;
  }
}

// Review arrows

.review {
  &-nav {
    position: absolute;
    top: -14px;
    left: 26px;
    z-index: 100;
  }
  .numbers {
    display: flex;
    align-items: flex-end;
    span {
      margin: 0 8px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 14px;
    }
    &__current {
      font-size: 74px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__total {
      font-size: 24px;
      padding-bottom: 14px;
    }
  }
  .arrows {
    width: 116px;
    position: absolute;
    bottom: -17px;
    left: -25px;
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        z-index: 100;
        background: url(../images/link-arrowLeft.png) no-repeat 50%;
        width: 32px;
        height: 10px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 0;
        &:focus {
          outline: none !important;
        }
      }
      &-next {
        background: url(../images/link-arrowRight.png) no-repeat 50%;
        left: auto;
        right: 0;
      }
    }
  }
}

// Contacts

.contacts {
  display: flex;
  padding-bottom: 70px;
  &-inner {
    .vertical {
      top: 2px;
    }
    .head {
      margin-bottom: 50px;
    }
    .contacts {
      padding-bottom: 52px;
      &-info {
        width: 264px;
        order: -1;
        text-align: left;
        padding-left: 0;
        padding-right: 40px;
      }
      &-form {
        padding-right: 72px;
      }
    }
  }
}

// Contacts info

.contacts-info {
  width: 255px;
  flex-shrink: 0;
  text-align: right;
  padding-left: 36px;
  &-item {
    padding: 40px 0;
    border-bottom: 1px solid #b7b7b7;
    &:last-child {
      border: none;
    }
  }
  &-tel {
    a {
      display: inline-block;
      transition: 300ms;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 14px;
      color: #000;
      &:hover {
        color: $purple;
        text-decoration: none;
      }
    }
  }
  &-link {
    a {
      display: inline-block;
      transition: 300ms;
      font-size: 16px;
      font-weight: 300;
      color: $purple;
      border-bottom: 1px solid transparent;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $purple;
      }
    }
  }
  &__text {
    font-weight: 300;
    padding-bottom: 7px;
  }
  &-mail {
    a {
      display: inline-block;
      transition: 300ms;
      font-size: 24px;
      border-bottom: 1px solid $purple;
      color: $purple;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid transparent;
      }
    }
  }
  &__time {
    font-size: 24px;
  }
}

// Contacts form

.contacts {
  &-form {
    background-color: $purple;
    padding: 34px 80px 40px 60px;
    &__head {
      color: #fff;
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .options {
      &-items {
        margin-bottom: 30px;
        textarea {
          resize: none;
          border: none;
          width: 100%;
          height: 150px;
          padding: 25px 20px 20px 20px;
          font: 700 16px 'Gilroy';
          color: #000;
          &::-webkit-input-placeholder { 
            color: #000;
          }
          &:-moz-placeholder { 
            color: #000;
          }
          &::-moz-placeholder { 
            color: #000;
          }
          &:-ms-input-placeholder {
            color: #000;
          }
        }
        select {
          width: 100%;
          height: 60px;
        }
      }
      &-item {
        width: 400px;
        margin-right: 64px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        input {
          height: 60px;
          border: none;
        }
      }
      &-data {
        button {
          border: 1px solid #fff;
          padding: 0 28px;
          &:after {
            background: url(../images/link-arrowRight2.png) no-repeat 50%;
          }
        }
        .checkbox__text {
          color: #fff;
        }
      }
    }
  }
}

// Footer

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  &-wrap {
    overflow: hidden;
  }
  &-item {
    font-weight: 300;
    color: #060606;
  }
  &-info {
    display: flex;
    padding-right: 120px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/footer-img.png) no-repeat 50%;
      width: 97px;
      height: 112px;
      position: absolute;
      top: -28px;
      right: -6px;
    }
    &__text {
      font-weight: 300;
      color: #060606;
      margin-right: 4px;
    }
    &__link {
      font-weight: 300;
      color: $purple;
      text-decoration: underline;
      &:hover {
        color: $purple;
        text-decoration: none;
      }
    }
  }
}

// Reviews

.reviews {
  .vertical {
    top: 3px;
  }
  &-items {
    .review {
      &-item {
        margin-bottom: 60px;
        &:last-child {
          margin-bottom: 55px;
        }
      }
      &-content {
        width: 555px;
        padding-right: 34px;
        padding-bottom: 82px;
      }
      &-video {
        width: 630px;
        flex-grow: 0;
      }
    }
  }
  &_partners {
    .main-partners {
      padding-bottom: 74px;
      .vertical {
        display: none;
      }
    }
  }
  &_inner {
    .reviews {
      .vertical {
        display: none;
      }
    }
  }
}

// Pagination

.pagination {
  justify-content: center;
  padding: 12px 0 28px;
  ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      list-style-type: none;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms;
        width: 50px;
        height: 50px;
        border: 1px solid $purple;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 6px;
        &:hover {
          text-decoration: none;
          color: #fff;
          background-color: $purple;
        }
      }
      &.active {
        a {
          color: #fff;
          background-color: $purple;
        }
      }
      &.prev,
      &.next {
        margin-right: 10px;
        a {
          border: none;
          height: auto;
          &:hover {
            background-color: inherit;
          }
        }
      }
      &.next {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }
}

// About

.about {
  padding-bottom: 22px;
  .vertical {
    top: 6px;
  }
  &_options {
    padding-bottom: 50px;
  }
  .head {
    margin-bottom: 40px;
  }
  .main-about {
    &-items {
      padding: 4px 0 30px;
    }
    &-item {
      &:nth-child(2) {
        margin-right: 126px;
      }
    }
  }
  &__text {
    font-weight: 300;
    line-height: 1.65;
    margin-bottom: 28px;
    padding-right: 55px;
  }
  &-img {
    margin-bottom: 42px;
    &-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 60px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Services

.services {
  .vertical {
    top: 12px;
  }
  &_showcase {
    .showcase {
      margin-bottom: 58px;
    }
  }
  &-item {
    display: flex;
    margin-bottom: 72px;
    &:last-child {
      margin-bottom: 65px;
    }
    &-img {
      width: 620px;
    }
  }
  &-content {
    width: 565px;
    flex-shrink: 0;
    padding: 15px 116px 0 0;
    &__head {
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 28px;
    }
    &__text {
      font-weight: 300;
      line-height: 1.65;
      margin-bottom: 39px;
    }
    .link {
      span {
        letter-spacing: 3px;
      }
    }
  }
}

// Project

.project {
  .head {
    margin-right: 200px;
    margin-bottom: 20px;
  }
  .about {
    &-img {
      padding-top: 14px;
      margin-bottom: 5px;
      &-item {
        margin-bottom: 50px;
      }
    }
  }
  &-link {
    text-align: center;
    padding-right: 53px;
    .link {
      span {
        letter-spacing: 3px;
      }
      img {
        right: 0;
        left: -18px;
      }
      &:hover {
        img {
          left: -22px;
        }
      }
    }
  }
  &__date {
    color: #949494;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
  }
}























