$gold: #ff8100;
$blue: #5c93c0;
$blue-bg: #eef4f9;
$grey: #bababa;

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Light.woff2') format('woff2'),
    url('Formular-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Bold.woff2') format('woff2'),
    url('Formular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular.woff2') format('woff2'),
    url('Formular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Medium.woff2') format('woff2'),
    url('Formular-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Black.woff2') format('woff2'),
    url('Formular-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Formular', sans-serif;
  color: #0a0a0a;
}

a {
  display: inline-block;
  font: inherit;
  transition: 300ms;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 50px;
  font: inherit;
  padding: 0 22px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
}

.error-message {
  display: none;
}

.error {
  input {
    border-color: #a94442;
    color: #a94442;
  }

  .error-message {
    font-size: 14px;
    color: #a94442;
    margin-top: 4px;
    display: block;
  }
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 22px;
  cursor: pointer;
  transition: 300ms;
  color: #ffffff;
  border-radius: 0;

  &.btn-primary {
    background-color: $gold;
    border: 1px solid $gold;

    &:hover {
      background-color: #eb7904;
      border: 1px solid #eb7904;
    }
  }

  &.btn-secondary {
    border: 1px solid #fff;
    background-color: transparent;

    &:hover {
      background-color: #fff;
      color: $gold;
    }
  }

  &.btn-primary-outline {
    border: 1px solid $gold;
    background-color: transparent;
    color: $gold;

    &:hover {
      background-color: $gold;
      color: #fff;
    }
  }
}

.title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: $gold;
  margin-bottom: 45px;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }

  .title {
    font-size: 34px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }

  .title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .btn {
    padding: 10px 12px;
    font-size: 14px;
  }
}

/* Header */

.header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-links {
    display: flex;
    align-items: center;
    margin-right: 25px;
    flex-shrink: 0;

    &-item {
      margin-left: 150px;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: $blue;

      img {
        flex-shrink: 0;
        margin-right: 14px;
      }

      &:first-child {
        margin-left: 0;

        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &-wrap {
    border-top: 1px solid $grey;
    overflow: hidden;
  }

  ul {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;

    a {
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        color: $gold;
      }
    }
  }

  &-presentation {
    width: 220px;
    height: 60px;
    position: relative;
    flex-shrink: 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2000px;
      background: $gold;
    }

    a {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #eb7904;
      }
    }
  }
}

.burger {
  display: none;
  flex-shrink: 0;
}

@media only screen and (max-width: 1200px) {
  .menu ul a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .burger {
    display: block;
    width: 30px;

    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;

      span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: $gold;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:before,
        &:after {
          content: '';
          width: 30px;
          height: 5px;
          position: absolute;
          left: 0;
          background: $gold;
          border-radius: 7px;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }

        &:before {
          top: -8px;
        }

        &:after {
          top: 8px;
        }
      }

      &.active {
        span {
          background: transparent;

          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }

          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }

  .header {
    justify-content: flex-start;

    &-logo {
      flex-grow: 10;

      a {
        width: 230px;
      }
    }

    &-links {
      &-item {
        font-size: 14px;

        img {
          width: 25px;
          margin-right: 10px;
        }

        &:last-child {
          margin-left: 30px;
        }
      }
    }
  }

  .menu {
    flex-direction: column;
    align-items: center;
    height: 100%;

    &-wrap {
      border: 0;
      position: absolute;
      left: 0;
      top: 79px;
      right: 0;
      height: calc(100vh - 79px);
      background: #ffffff;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .container {
        width: 100%;
        padding: 0 !important;
        height: 100%;
      }
    }

    ul {
      text-align: center;
      flex-grow: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 0;

      li {
        margin-bottom: 10px;
      }
    }

    &-presentation {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    &-logo {

      a {
        display: block;
        width: 162px;
      }
    }

    &-links {
      margin: 0 10px;

      &-item {

        &:last-child {
          margin-left: 10px;
        }

        span {
          display: none;
        }
      }
    }
  }

  .menu-wrap {
    top: 64px;
    height: calc(100vh - 64px);
  }
}

/* Showcase */

.showcase {
  padding-right: 220px;

  &-wrap {
    position: relative;
    border-bottom: 1px solid $grey;
    margin-bottom: 65px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 810px;
      background: url(../images/showcase-bg.jpg) no-repeat 50%;
      background-size: cover;
    }
  }

  &-main {
    height: 660px;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;

    &-content {
      position: relative;
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -2000px;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(29, 75, 113, 0.8);
    }
  }

  &-title {
    max-width: 800px;
    margin-bottom: 35px;
  }

  &-description {
    font-size: 24px;
    margin-bottom: 90px;
  }

  &-links {
    a {
      &:first-child {
        margin-right: 60px;
      }
    }
  }

  &-text {
    padding: 55px 80px 50px 0;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -2000px;
      background: #ffffff;

    }

    p {
      position: relative;
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }

      b {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .showcase {
    &-main {
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    padding-right: 20px;

    &-wrap {
      margin-bottom: 30px;

      &:before {
        bottom: 200px;
        height: auto;
      }
    }

    &-title {
      font-size: 24px;
      margin-bottom: 25px;
    }

    &-description {
      font-size: 18px;
      margin-bottom: 30px;
    }

    &-main {
      min-height: 390px;
      padding: 30px 0;
      height: auto;
    }

    &-links {
      a {
        margin: 10px 0;
      }
    }

    &-text {
      padding: 30px 20px 30px 0;

      p {
        font-size: 14px;

        b {
          font-size: 16px;
        }
      }
    }
  }
}

/* Advantages */

.advantages {
  margin-bottom: 80px;

  &-title {
    margin-bottom: 65px;
  }

  &-items {
    display: flex;
  }

  &-item {
    width: 25%;
    padding: 0 10px;
    text-align: center;
  }

  &-icon {
    margin-bottom: 30px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 80px;
      height: 65px;
      background-color: #ffd9b2;
      position: absolute;
      transform: skew(-27deg);
      top: -10px;
      left: 50%;

    }

    img {
      position: relative;
      height: 100px;
    }
  }

  &-text {
    font-weight: bold;
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .advantages {
    &-icon {
      img {
        height: 80px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .advantages {
    margin-bottom: 0;

    &-title {
      margin-bottom: 30px;
    }

    &-items {
      flex-wrap: wrap;
    }

    &-item {
      width: 50%;
      margin-bottom: 30px;
    }

    &-icon {
      margin-bottom: 15px;

      img {
        height: 50px;
      }

      &:before {
        width: 40px;
        height: 40px;
      }
    }

    &-text {
      font-size: 14px;
    }
  }
}

/* Expierence */

.expierence {
  margin-bottom: 130px;
  background: $blue-bg;
  display: flex;

  &-content {
    flex-grow: 10;
    padding: 45px;
  }

  &-order {
    background: $gold;
    width: 400px;
    flex-shrink: 0;
    text-align: center;
    color: #ffffff;
    padding: 0 10px;
    display: flex;
    align-items: center;

    &-title {
      font-weight: bold;
      font-size: 44px;
      margin-bottom: 35px;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 24px;
    color: $blue;
    margin-bottom: 34px;

    span {
      font-size: 54px;
    }
  }

  &-items {
    display: flex;
    margin-bottom: 35px;
  }

  &-item {
    width: 33.33%;
    padding-right: 25px;
    display: flex;
    align-items: center;
  }

  &-icon {
    width: 76px;
    flex-shrink: 0;
  }

  &-text {
    font-size: 18px;
    font-weight: bold;
  }

  &-description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1300px) {
  .expierence {
    &-text {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .expierence {
    &-item {
      display: block;
      text-align: center;
    }

    &-icon {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .expierence {
    display: block;

    &-order {
      display: block;
      width: 100%;
      padding: 30px 0;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .expierence {
    margin-bottom: 50px;

    &-content {
      padding: 20px;
    }

    &-title {
      font-size: 18px;

      span {
        font-size: 24px;
      }
    }

    &-items {
      display: block;
    }

    &-item {
      width: 100%;
      margin-bottom: 30px;
    }

    &-order {
      &-title {
        font-size: 30px;
        padding: 0 10px;
      }
    }
  }
}

/* About */

.about {
  padding: 55px 0 65px;
  margin-bottom: 70px;
  position: relative;

  &-wrap {
    background: $blue-bg;
  }

  &-content {
    padding-left: 50%;
    margin-bottom: 110px;
    min-height: 430px;
  }

  &-img {
    position: absolute;
    top: -40px;
    right: 50%;
    margin-right: 60px;
    max-height: 100%;
  }

  &-title {
    text-align: left;
  }

  &-text {
    margin-bottom: 40px;

    p {
      font-size: 16px;
      margin-bottom: 25px;

      b {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .advantages-icon {
    &:before {
      background: #c2d7e8;
    }
  }
}

@media only screen and (max-width: 767px) {
  .about {
    padding: 30px 0 0;
    margin-bottom: 30px;

    &-img {
      display: none;
    }

    &-content {
      padding-left: 0;
      min-height: 0;
      margin-bottom: 30px;
      text-align: center;
    }

    &-title {
      text-align: center;
    }

    &-text {
      font-size: 14px;

      b {
        font-size: 16px;
      }
    }
  }
}

/* Clients */

.clients {
  &-wrap {
    border-bottom: 1px solid $grey;
    padding-bottom: 68px;
    margin-bottom: 70px;
  }

  &-title {
    margin-bottom: 44px;
  }

  &-items {
    padding: 0 80px;

    .slick-list {
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
    }
  }

  &-item {
    height: 220px;
    border: 1px solid $grey;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-left: none;

    img {
      max-width: 90%;
      max-height: 90%;
    }
  }
}

.slick-arrow {
  width: 40px;
  height: 22px;
  cursor: pointer;
  border: 0;
  background: url(../images/arrow.png) top no-repeat;
  top: 50%;
  margin-top: -11px;
  position: absolute;
  outline: none !important;

  &:hover {
    background-position: bottom;
  }

  &.slick-next {
    transform: rotate(180deg);
    right: 0;
  }

  &.slick-prev {
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .clients {
    &-items {
      padding: 0 50px;
    }

    &-wrap {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 30px;
    }

    &-item {
      height: 200px;
    }
  }
}

/* News */

.news {
  &-wrap {
    padding-bottom: 58px;
    margin-bottom: 60px;
    border-bottom: 1px solid $grey;
  }

  &-items {
    display: flex;
  }

  &-item {
    width: 30%;
    margin-right: 5%;
    padding: 30px;
    margin-bottom: 35px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {
      background: $blue-bg;

      .news-title {
        color: $gold;
      }

      .news-text {
        color: #0a0a0a;
      }
    }
  }

  &-date {
    margin-bottom: 35px;
    background: $blue;
    padding: 7px 11px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 14px;
  }

  &-head {
    font-size: 16px;
    font-weight: bold;
    transition: 300ms;
    display: block;
    margin-bottom: 25px;
  }

  &-text {
    font-size: 16px;
    display: block;
  }

  &-link {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .news-items {
    flex-wrap: wrap;
  }

  .news-item {
    width: 45%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 5%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .news {
    &-wrap {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }

    &-item {
      width: 100%;
      margin-right: 0 !important;
      margin-bottom: 20px;
      padding: 15px;
    }

    &-date {
      margin-bottom: 20px;
    }

    &-head {
      margin-bottom: 15px;
    }
  }
}

/* Contacts */

.contacts {
  &-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  &-title {
    margin-bottom: 48px;
  }

  &-head {
    font-size: 24px;
    font-weight: bold;
    color: $blue;
    max-width: 360px;
  }

  &-info {
    max-width: 380px;
    margin-left: 15px;

    p {
      margin-bottom: 23px;

      span,
      b {
        display: block;
      }

      a {
        color: $gold;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  &-caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &-description {
    margin-bottom: 50px;
  }
}

.map {
  height: 400px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .contacts {
    &-container {
      display: block;
    }

    &-head {
      max-width: 100%;
      margin-bottom: 25px;
    }

    &-info {
      max-width: 100%;
      margin-bottom: 25px;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .contacts {
    &-head {
      font-size: 18px;
    }

    &-caption {
      font-size: 16px;
    }

    &-description {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &-title {
      margin-bottom: 25px;
    }
  }
}

/* Footer */

.footer {
  padding: 45px 0 15px;

  &-wrap {
    background: #5c93c0;
  }

  &-presenation {
    display: block;
    margin-left: 110px;
    margin-top: 13px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &-nav {
    ul {
      columns: 3;
      margin-left: 80px;

      li {
        margin-bottom: 17px;
        margin-right: 80px;

        &.footer-tel {
          a {
            text-decoration: none;
          }
        }

        &.footer-email {
          a {
            text-transform: none;
          }
        }

        a {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: underline;
          color: #ffffff;

          &:hover {
            color: $gold;
          }
        }
      }
    }
  }

  &-description {
    font-size: 10px;
    color: #ffffff;
  }
}

.bottom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: #a1cef2;
  font-size: 14px;

  a {
    text-decoration: underline;
    color: #a1cef2;

    &:hover {
      text-decoration: none;
    }
  }

  &-wrap {
    background: #4d80aa;
  }
}

@media only screen and (max-width: 1300px) {
  .footer {
    &-nav {
      ul {
        margin-left: 30px;

        li {
          margin-right: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    &-nav {
      ul {
        margin-left: 20px;

        li {
          margin-right: 15px;

          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    &-container {
      flex-wrap: wrap;
    }

    &-nav {
      order: 5;
      width: 100%;
      margin: 30px 0 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    &-sk {
      display: none;
    }

    &-nav {
      ul {
        columns: 1;
        margin-left: 0;
        text-align: center;
        width: 100%;
      }
    }
  }

  .bottom-line {
    display: block;
    font-size: 14px;

    .copyright {
      margin-bottom: 10px;
    }
  }
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 25px 0 50px;

  &-wrap {
    border-top: 1px solid $grey;
  }

  ul {
    li {
      display: inline;
      font-size: 14px;

      &:after {
        content: '>';
        display: inline-block;
        margin: 0 5px;
        color: #898989;
        font-size: 14px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      a {
        color: $gold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* News page */

.news-page {
  border-bottom: none;
  margin-bottom: 0;

  .title {
    text-align: left;
  }

  .news-items {
    flex-wrap: wrap;
  }
}

/* Pagination */

.pagination {
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 12px;

      &.active {
        a {
          color: $gold;
          text-decoration: underline;
        }
      }

      a {
        color: $blue;
        font-size: 18px;

        &:hover {
          color: $gold;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .pagination {
    ul {
      li {
        margin: 0 8px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}

/* Article */

.article {
  padding: 0 80px;

  &-wrap {
    border-bottom: 1px solid $grey;
    margin-bottom: 70px;
    padding-bottom: 70px;
  }

  &-gallery {
    padding: 0 80px;
    margin-bottom: 60px;
  }

  &-back {
    color: $gold;
  }
}

.content {
  h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  b {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block;
  }

  p {
    margin-bottom: 25px;

    b {
      font-size: inherit;
      display: inline;
    }
  }

  ul {
    margin-bottom: 25px;

    li {
      position: relative;

      &:before {
        content: '—';
        display: inline;
        color: $gold;
        margin-right: 5px;
      }
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  display: flex;
  justify-content: center;

  li {
    width: 10px;
    height: 10px;
    background-color: #c6c6c6;
    cursor: pointer;
    transition: 300ms;
    border-radius: 50%;
    margin: 0 5px;

    &.slick-active,
    &:hover {
      background: $gold;
    }

    button {
      display: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .article {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .article {
    &-wrap {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    &-gallery {
      padding: 0 40px;
    }

    .content {
      h2 {
        font-size: 24px;
        margin-bottom: 25px;
      }

      h3 {
        font-size: 21px;
        margin-bottom: 25px;
      }

      b {
        font-size: 16px;
        margin-bottom: 15px;
      }

      p {
        font-size: 14px;
        margin-bottom: 15px;
      }

      ul {
        margin-bottom: 15px;
      }
    }
  }

  .slick-arrow {
    width: 25px;
    height: 14px;
    background-size: 100%;
  }
}

/* Contacts page */

.contacts-page {
  .title {
    text-align: left;
  }
}

/* Projects */

.projects {
  padding-bottom: 80px;

  &-title {
    text-align: left;
  }

  &-items {
    border-top: 1px solid $grey;
    margin-bottom: 55px;
  }

  &-item {
    border: 1px solid $grey;
    border-top: 0;
    padding: 45px 55px;
  }

  &-body {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid $grey;
    display: flex;
    justify-content: space-between;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-info {
    width: 48%;
    font-size: 24px;
    flex-shrink: 0;

    .name {
      font-weight: bold;
    }
  }

  &-description {
    width: 48%;
    flex-shrink: 0;

    ul {
      li {
        position: relative;
        padding-left: 27px;
        margin-bottom: 15px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 13px;
          height: 1px;
          background: $gold;
          left: 0;
          top: 10px;
        }
      }
    }
  }

  &-feedback {
    width: 48%;
    flex-shrink: 0;

    .text {
      margin-bottom: 25px;
    }

    .name,
    .company-name {
      font-weight: bold;
    }
  }

  &-img {
    position: relative;
    width: 48%;
    flex-shrink: 0;

    &:hover .hover {
      opacity: 1;
      visibility: visible;
    }

    .hover {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(250, 129, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;

      .btn {
        background: #fff;
        color: $gold;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .projects {
    &-item {
      padding: 25px;
    }

    &-info {
      font-size: 21px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .projects {
    padding-bottom: 30px;

    &-header,
    &-body {
      display: block;
    }

    &-info,
    &-description,
    &-feedback,
    &-img {
      width: 100%;
    }

    &-info,
    &-feedback {
      margin-bottom: 25px;
    }

    &-info {
      font-size: 18px;
    }

    &-items {
      margin-bottom: 30px;
    }
  }
}

/* About dev */

.about-dev {
  padding-bottom: 25px;

  .title {
    text-align: left;
  }
}

.advantages-wrap.about {
  background: $blue-bg;
  padding: 55px 0;
}

.history {
  &-wrap {
    overflow: hidden;
  }

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    width: 50%;
    padding-right: 60px;
  }

  &-img {
    width: 50%;
    flex-shrink: 0;

    img {
      max-width: 10000%;
    }
  }

  &-wrap {
    border-bottom: 1px solid $grey;
    margin-bottom: 70px;
    padding-bottom: 50px;
  }
}

.resume {
  margin-bottom: 87px;
  background: $gold;
  padding: 40px 72px;
  display: flex;
  align-items: center;

  &-text {
    flex-grow: 10;
    padding-right: 150px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }

  .btn {
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .resume-text {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .history {
    &-text {
      width: 100%;
      padding-right: 0;
    }

    &-img {
      display: none;
    }

    &-wrap {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  }

  .resume {
    flex-direction: column;
    padding: 30px;

    &-text {
      padding-right: 0;
      margin-bottom: 35px;
      font-size: 18px;
    }
  }

  .advantages-wrap.about {
    padding: 30px 0 0;
  }
}

/* Trainers */

.trainers {
  margin-bottom: 75px;

  &-title {
    text-align: left;
    margin-bottom: 40px;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
  }

  &-item {
    border: 1px solid $grey;
    border-left: 0;
    border-top: 0;
    padding: 45px 45px 55px;
    display: flex;
    width: 50%;
    transition: 300ms;

    &:hover {
      background: $gold;

      .trainers {
        &-icon {
          background-position: bottom;
        }

        &-head {
          color: #ffffff;
          transition: 300ms;
        }

        &-link {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  &-icon {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    flex-shrink: 0;
  }

  &-head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  &-link {
    background: #ffffff;
    color: $gold;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;

    &:hover {
      color: $gold;
      transform: translateY(-2px) !important;
    }
  }
}

@media only screen and (max-width: 991px) {
  .trainers {
    &-head {
      font-size: 18px;
    }

    &-icon {
      width: 50px;
      height: 50px;
      background-size: 100%;
      margin-right: 35px;
    }

    &-head {
      margin-bottom: 25px;
      margin-top: 0px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .trainers {
    &-item {
      width: 100%;
      padding: 15px;
    }
  }
}

/* Trainer */

.trainer {
  margin-bottom: 80px;

  &-container {
    display: flex;
    margin-bottom: 70px;
  }

  &-sidebar {
    width: 300px;
    margin-left: 80px;
    flex-shrink: 0;
    margin-top: 68px;
  }

  &-content {
    flex-grow: 10;
  }

  &-video {
    max-width: 940px;
    height: 500px;
    margin: 0 auto 30px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.custom-hr {
  height: 1px;
  background: $grey;
  margin: 110px 0;
}

@media only screen and (max-width: 991px) {
  .trainer {
    &-sidebar {
      width: 250px;
      margin-left: 50px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .trainer {
    margin-bottom: 30px;
    &-container {
      display: block;
    }

    &-content {
      margin-bottom: 30px;
    }

    &-sidebar {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }

    &-video {
      height: 300px;
    }
  }

  .custom-hr {
    margin: 50px 0;
  }
}

/* Rtsim */

.rtsim {
  padding-bottom: 70px;
  border-bottom: 1px solid $grey;
  margin-bottom: 50px;

  &-title {
    text-align: left;
    margin-bottom: 40px;
  }

  &-container {
    display: flex;
    margin-bottom: 55px;
  }

  &-info {
    width: 300px;
    margin-left: 100px;
    flex-shrink: 0;
  }

  &-img {
    flex-grow: 10;
  }

  &-items {
    display: flex;
    margin-bottom: 55px;
  }

  &-item {
    width: 33%;
    padding-right: 15px;
    display: flex;
    align-items: flex-start;
  }

  &-icon {
    flex-shrink: 0;
    width: 60px;
    margin-right: 15px;
  }

  &-head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &-text {
    line-height: 1.6;
  }
}

@media only screen and (max-width: 991px) {
  .rtsim {
    &-title {
      margin-bottom: 30px;
    }

    &-container {
      display: block;
    }

    &-info {
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }

    &-icon {
      width: 45px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .rtsim {
    padding-bottom: 30px;
    margin-bottom: 30px;

    &-title {
      margin-bottom: 20px;
    }

    &-items {
      display: block;
    }

    &-item {
      width: 100%;
      margin-bottom: 30px;
    }

    &-head {
      margin-bottom: 10px;
    }
  }
}

/* Equipment */

.equipment {
  padding-bottom: 35px;
  margin-bottom: 50px;
  border-bottom: 1px solid $grey;

  &-title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: left;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    width: calc(33.33% - 40px);
    margin-right: 60px;
    border: 1px solid $grey;
    padding: 25px 30px;
    margin-bottom: 35px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &-head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .equipment {
    &-item {
      width: calc(50% - 30px);
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(3n) {
        margin-right: 30px;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .equipment {
    padding-bottom: 0;
    margin-bottom: 30px;
    &-items {
      display: block;
    }

    &-item {
      width: 100%;
      margin-bottom: 30px;
      margin-right: 0;
      padding: 15px;
    }
  }
}

/* About rtsim */

.about-rtsim {
  h2 {
    font-size: 28px;
  }
}

/* Reviews */

.reviews {
  margin-bottom: 80px;
  border: 1px solid $grey;
  padding: 44px 60px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-arrows {
    display: flex;
    align-items: center;

    > div {
      cursor: pointer;
      transition: 300ms;
      display: flex;
      
      &:hover {
        transform: translateX(-2px);
      }
    }

    > div:last-child {
      margin-left: 23px;
      transform: rotate(180deg);

      &:hover {
        transform: rotate(180deg) translateX(-2px);
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .reviews {
    padding: 30px 40px;
  }
}

@media only screen and (max-width: 767px) {
  .reviews {
    padding: 15px 20px;

    &-title {
      font-size: 22px;
    }

    .projects-body {
      padding-top: 15px;
      margin-top: 15px;
    }
  }
}