button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'PTSans', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'PTSans', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.head {
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  color: #959595;
  padding-left: 34px;
  margin-bottom: 28px;
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 18px;
    background-color: #e84b2e;
    position: absolute;
    top: 2px;
    left: 0;
    transform: skewX(-22deg);
  }
  &:after {
    left: 10px;
  }
}

.link {
  line-height: 38px;
  padding: 0 12px 0 14px;
  border: 1px solid #e84b2e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #e84b2e;
  text-transform: uppercase;
  &:hover {
    color: #e84b2e;
    img {
      transform: rotate(180deg);
    }
  }
  span {
    display: inline-block;
    margin-right: 10px;
  }
  img {
    width: 15px;
    height: 13px;
    transition: 300ms;
  }
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 10px !important;
  }
  .head {
    text-align: left;
    margin-bottom: 16px;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  position: absolute;
  top: 21px;
  right: 0;
  z-index: 20;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: #6c6966;
      transition: all .2s ease-in-out;
      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: #6c6966;
        transition: all .2s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
    &.active {
      span {
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }
        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
}

.burger-nav {
  display: block;
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 7px;
  width: 10px;
  a {
    padding: 8px 0;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(3px, 3px);
      }
      &:after {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
    span {
      width: 10px;
      height: 1px;
      &:before,
      &:after {
        width: 10px;
        height: 1px;
      }
      &:before {
        top: -4px;
      }
      &:after {
        top: 4px;
      }
    }
  }
}

@media (max-width: 991px) {
  .burger-nav {
    display: none !important;
  }
  .burger {
    display: block;
    width: 20px;
    top: 23px;
    a {
      &.active span {
        &:after {
          transform: rotate(-45deg) translate(4px, -4px);
        }
        &:before {
          transform: rotate(45deg) translate(5px, 5px);
        }
      }
      span {
        width: 20px;
        height: 2px;
        &:before,
        &:after {
          width: 20px;
          height: 2px;
        }
        &:before {
          top: -6px;
        }
        &:after {
          top: 6px;
        }
      }
    }
  }
}

// Header

.header {
  padding: 24px 0;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  &-body {
    flex-grow: 10;
  }
  &-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  &-item {
    display: flex;
    align-items: center;
  }
  &-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &-city {
    font-size: 14px;
    margin-right: 20px;
    .temp {
      display: inline-block;
      color: #4aae4d;
    }
  }
  &-course {
    display: flex;
    &-item {
      font-size: 14px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      span {
        color: #4aae4d;
      }
    }
  }
}

.header-stopper {
  font-size: 14px;
  margin-right: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  .number {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    margin: 0 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-soc {
  margin: 0 40px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    a:hover {
      opacity: .8;
    }
  }
}

.pc {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c6966;
  &:hover {
    color: #e84b2e;
  }
  img {
    flex-shrink: 0;
    width: 14px;
    margin-right: 8px;
  }
}

.logo {
  flex-shrink: 0;
  width: 221px;
  margin-right: 81px;
}

@media (max-width: 1336px) {
  .logo {
    width: 180px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 14px 0;
    &-info {
      display: none;
    }
    &-section {
      position: static;
    }
    &-soc {
      margin-right: 26px;
    }
    &-items {
      margin-bottom: 0;
      margin-top: 12px;
      padding-right: 74px;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      z-index: 5;
    }
    &-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 660px) {
  .header {
    &-soc {
      display: none;
    }
  }
  .pc {
    display: none;
  }
}

// Nav

.nav {
  &-wrap {
    position: relative;
    z-index: 10;
    padding-right: 25px;
    margin-right: 40px;
  }
  li {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 16px;
      font-weight: 700;
      color: #959595;
      text-transform: uppercase;
      &:hover {
        color: #e84b2e;
      }
    }
  }
  &-sub {
    margin: 0;
    padding: 28px 10px 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 300ms;
    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 15;
    }
    li {
      margin: 0 29px 27px 0;
      a {
        font-size: 16px;
        font-weight: 700;
        color: #959595;
        text-transform: uppercase;
        &:hover {
          color: #e84b2e;
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .nav {
    &-wrap {
      margin-right: 0;
    }
    li {
      margin-right: 12px;
      a {
        font-weight: 400;
        font-size: 15px;
      }
    }
    &-sub {
      padding-top: 20px;
      li {
        margin: 0 20px 16px 0;
        a {
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .nav {
    flex-direction: column;
    margin: 0 10px;
    li {
      margin-right: 0;
      margin-bottom: 3px;
      text-align: center;
    }
    &-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 10px;
      padding: 10px 0 14px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: 300ms;
      &.active {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        z-index: 15;
      }
    }
    &-sub {
      flex-direction: column;
      padding: 0;
      margin: 0 10px;
      opacity: 1;
      visibility: visible;
      z-index: 10;
      position: static;
      li {
        margin: 0 0 3px 0;
        a {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .nav {
    &-wrap {
      flex-direction: column;
    }
  }
}

// Search

.search {
  width: 100%;
  height: 32px;
  position: absolute;
  top: -6px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  input {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    width: 0;
    height: 100%;
    color: #959595;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #6c6966;
    padding: 0 40px 0 0;
    transition: 0.6s;
    opacity: 0;
    visibility: hidden;
    &.active {
      width: 100%;
      opacity: 1;
      visibility: visible;
      z-index: 20;
    }
  }
  &-btn {
    background: url(../images/i-search.png) no-repeat 50%;
    width: 14px;
    height: 15px;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    position: relative;
    z-index: 20;
    &:hover {
      background-position: right;
    }
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 991px) {
  .search {
    position: absolute;
    top: 21px;
    right: 34px;
    input.active {
      width: 500px;
    }
  }
}

@media (max-width: 660px) {
  .search input {
    padding-right: 26px;
    font-size: 15px;
    &.active {
      width: 265px;
    }
  }
}

// Section

.section {
  display: flex;
  align-items: flex-start;
  margin: 20px 0 66px;
  &-body {
    margin-right: 100px;
    flex-grow: 10;
  }
  &-sidebar {
    flex-shrink: 0;
    width: 300px;
    .banner {
      margin-bottom: 49px;
    }
  }
}

@media (max-width: 1336px) {
  .section {
    margin-bottom: 40px;
    &-body {
      margin-right: 26px;
    }
  }
}

@media (max-width: 991px) {
  .section {
    &-sidebar {
      width: 270px;
    }
  }
}

@media (max-width: 767px) {
  .section {
    flex-direction: column;
    margin-bottom: 20px;
    &-body {
      margin-right: 0;
    }
    &-sidebar {
      width: 100%;
      text-align: center;
      .banner {
        margin-bottom: 34px;
      }
    }
  }
}

// Sidebar news

.sidebar-news {
  border: 1px solid #bababa;
  padding: 26px 30px 10px;
  margin-bottom: 49px;
  &-item a {
    color: #5d5d5d;
    font-weight: 700;
    font-size: 14px;
    margin: 6px 0 10px;
    &:hover {
      color: #e84b2e;
    }
  }
}

@media (max-width: 767px) {
  .sidebar-news {
    margin-bottom: 34px;
    padding: 20px 16px 10px;
  }
}

// Soc

.soc {
  margin-bottom: 50px;
  &__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #959595;
    margin-bottom: 50px;
    text-align: center;
  }
  &-items {
    display: flex;
    align-items: center;
  }
  &-item {
    width: 209px;
    padding: 0 34px;
    font-size: 16px;
    color: #000;
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 50px;
      background-color: #bababa;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &:last-child:after {
      display: none;
    }
    &:hover {
      color: #e84b2e;
    }
    img {
      flex-shrink: 0;
      width: 30px;
      margin-right: 22px;
    }
  }
}

@media (max-width: 1336px) {
  .soc {
    margin-bottom: 36px;
    &__title {
      margin-bottom: 28px;
    }
    &-item {
      padding: 0 14px;
      img {
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 991px) {
  .soc {
    margin-bottom: 20px;
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      width: 33.33%;
      margin-bottom: 16px;
      &:after {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .soc {
    &-item {
      width: 50%;
      font-size: 15px;
    }
    &__title {
      font-size: 24px;
      line-height: 1.1;
    }
  }
}

@media (max-width: 575px) {
  .soc {
    &-item {
      padding: 0 8px;
    }
  }
}

// Main article

.main-article {
  margin-bottom: 50px;
  &-img {
    position: relative;
  }
  &-content {
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    padding: 0 50px;
  }
  &-info {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    color: #fff;
  }
  &__date {
    margin-right: 16px;
    position: relative;
    &:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -8px;
      transform: translateY(-50%);
    }
  }
  &__link {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    &:hover {
      color: #e84b2e;
    }
  }
  &__descr {
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    margin-top: 16px;
  }
}

@media (max-width: 1336px) {
  .main-article {
    margin-bottom: 38px;
    &-content {
      padding: 0 16px;
    }
    &__descr {
      font-size: 18px;
    }
    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: 991px) {
  .main-article {
    &-content {
      bottom: 14px;
    }
    &__title {
      font-size: 26px;
    }
    &-info {
      margin-bottom: 12px;
    }
    &__descr {
      font-size: 17px;
      margin-top: 11px;
      line-height: 1.35;
    }
  }
}

@media (max-width: 767px) {
  .main-article {
    &__title {
      font-size: 20px;
    }
  }
}

// Banner

.banner-blog {
  margin: 36px 0;
}

.banner-news {
  margin-bottom: 50px;
}

.banner-main {
  margin-bottom: 53px;
}

@media (max-width: 1336px) {
  .banner-news {
    margin-bottom: 32px;
  }
  .banner-main {
    margin-bottom: 36px;
  }
}

// Blog

.blog {
  &-item {
    margin-bottom: 37px;
    &:last-child {
      margin-bottom: 0;
    }
    &__head {
      font-size: 16px;
      line-height: 1.4;
      color: #000;
      margin-bottom: 5px;
      &:hover {
        color: #e84b2e;
      }
    }
    &__date {
      font-weight: 700;
      font-size: 14px;
      color: #959595;
    }
    &.fz .blog-item__head {
      font-size: 20px;
    }
    &.bold .blog-item__head {
      font-weight: 700;
      text-decoration: underline;
    }
  }
  &-still {
    text-align: center;
    margin-top: 34px;
  }
  &-link {
    text-align: center;
    a {
      line-height: 40px;
      padding: 0 16px;
      background-color: #e84b2e;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.3px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        background-color: #d84429;
      }
    }
  }
}

.main-blog {
  margin-bottom: 51px;
  .blog {
    &-items {
      margin-bottom: 38px;
    }
  }
}

@media (max-width: 991px) {
  .blog {
    &-item {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .blog {
    margin-bottom: 30px;
  }
  .main-blog {
    margin-bottom: 32px;
    text-align: left;
    .blog-items {
      margin-bottom: 22px;
    }
  }
}

// Important

.important {
  margin-bottom: 95px;
  &-items {
    width: 860px;
    display: flex !important;
    .slick-dots {
      position: absolute;
      bottom: -42px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        width: 10px;
        height: 10px;
        background-color: #ddd;
        border-radius: 50%;
        margin-right: 15px;
        transition: 300ms;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          background-color: #e84b2e;
        }
        &.slick-active {
          background-color: #e84b2e;
        }
        button {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .important {
    &-items {
      width: 644px;
    }
  }
}

@media (max-width: 991px) {
  .important {
    margin-bottom: 76px;
    &-items {
      width: 454px;
    }
  }
}

@media (max-width: 767px) {
  .important {
    &-items {
      width: 452px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 575px) {
  .important {
    margin-bottom: 60px;
    &-items {
      width: 290px;
      .slick-dots {
        bottom: -32px;
        li {
          margin-right: 12px;
        }
      }
    }
  }
}

.materials {
  margin: 48px 0 44px;
  &-items {
    display: flex;
    margin: 0 -10px;
  }
  &-item {
    width: 200px;
    margin: 0 10px;
    &__descr {
      line-height: 1.63;
      margin: 18px 0 16px;
    }
    &__link {
      margin-top: 6px;
      color: #000;
      line-height: 1.35;
      &:hover {
        color: #e84b2e;
      }
    }
  }
  &-img {
    display: block;
    position: relative;
    .label {
      min-width: 90px;
      height: 30px;
      background-color: #fdc838;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 11px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      &.photo {
        color: #fff;
        background-color: #4aae4d;
      }
      &__title {
        margin-right: 6px;
        padding-right: 8px;
        position: relative;
        &:after {
          content: '|';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
  &-info {
    display: flex;
    align-items: center;
    &__date,
    &__category {
      font-size: 14px;
      font-weight: 700;
      color: #959595;
    }
    &__date {
      margin-right: 16px;
      position: relative;
      &:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        right: -8px;
        transform: translateY(-50%);
      }
    }
    &__category:hover {
      color: #e84b2e;
    }
  }
}

.materials-extra {
  border: 1px solid #bababa;
  padding: 19px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  .materials {
    &-item {
      width: 190px;
      margin: 0 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1336px) {
  .materials {
    margin-bottom: 18px;
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      margin: 0 10px 20px;
    }
  }
  
  .materials-extra {
    justify-content: center;
    .materials {
      &-item {
        margin: 0 10px 20px;
        &:last-child {
          margin: 0 10px 20px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .materials {
    &-items {
      justify-content: center;
    }
    &-item {
      width: 216px;
    }
    &-img img {
      width: 100%;
    }
  }
  
  .materials-extra {
    padding: 14px;
  }
}

@media (max-width: 767px) {
  .materials {
    &-item {
      &__descr {
        line-height: 1.4;
        margin: 10px 0 14px;
      }
    }
  }
}

@media (max-width: 575px) {
  .materials {
    margin-top: 36px;
    &-item {
      width: 290px;
      margin: 0 0 16px;
    }
  }
}

// News

.news {
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-bottom: 2px;
  }
  &-item {
    width: calc(50% - 60px);
    margin-left: 60px;
    margin-bottom: 40px;
    &.basic {
      width: 100%;
    }
  }
  &-img img {
    width: 100%;
  }
  &-content {
    padding-top: 20px;
    &__head {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 9px;
      color: #000;
      &:hover {
        color: #e84b2e;
      }
    }
    &__text {
      line-height: 1.63;
      margin-bottom: 14px;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #959595;
    &__date {
      margin-right: 20px;
      position: relative;
      &:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        right: -13px;
        transform: translateY(-50%);
      }
    }
    &__category {
      font-size: 14px;
      font-weight: 700;
      color: #959595;
      &:hover {
        color: #e84b2e;
      }
    }
  }
  &-link {
    text-align: center;
  }
}

@media (max-width: 1336px) {
  .news {
    &-items {
      margin-left: -30px;
    }
    &-item {
      width: calc(50% - 30px);
      margin-left: 30px;
      margin-bottom: 26px;
    }
    &-content {
      &__head {
        font-size: 22px;
        line-height: 1.15;
        margin-bottom: 4px;
      }
      &__text {
        line-height: 1.35;
      }
    }
  }
}

@media (max-width: 991px) {
  .news {
    &-items {
      margin-left: -12px;
    }
    &-item {
      width: calc(50% - 12px);
      margin-left: 12px;
      margin-bottom: 22px;
    }
    &-content {
      padding-top: 12px;
      &__head {
        font-size: 20px;
      }
      &__text {
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 767px) {
  .news {
    margin-bottom: 20px;
    &-items {
      margin-left: 0;
      justify-content: center;
    }
    &-item {
      width: 290px;
      margin: 0 16px 20px;
    }
  }
}

@media (max-width: 575px) {
  .news {
    &-item {
      margin: 0 0 20px;
    }
  }
}

// Footer

.footer {
  padding: 26px 0 47px;
  display: flex;
  justify-content: space-between;
  &-body {
    flex-grow: 10;
    margin-right: 21px;
  }
  &-info {
    flex-shrink: 0;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__agreement {
      color: #757575;
    }
  }
  &-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 28px;
  }
  &-items {
    display: flex;
    align-items: center;
  }
  &-item {
    margin: 0 26px 0 0;
    padding: 0;
    list-style: none;
    &:first-child {
      width: 114px;
    }
    &:nth-child(2) {
      width: 212px;
    }
    li {
      margin-bottom: 2px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 14px;
        color: #e84b2e;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-age {
    padding: 0 6px;
  }
  &-omg {
    font-size: 14px;
    color: #898989;
    a {
      font-size: 14px;
      font-weight: 700;
      color: #898989;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer-content {
  &-head {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  &__copyright {
    font-size: 14px;
    font-weight: 700;
    margin-right: 19px;
  }
  &__info,
  &__link {
    color: #e84b2e;
    font-size: 14px;
    &:hover {
      color: #e84b2e;
      text-decoration: underline;
    }
  }
  &__data {
    font-size: 14px;
    color: #6c6966;
    margin-bottom: 4px;
  }
  &__descr {
    max-width: 836px;
    color: #6c6966;
    font-size: 14px;
    line-height: 1.6;
  }
}

@media (max-width: 1336px) {
  .footer {
    padding-bottom: 30px;
    &-item {
      margin-right: 8px;
    }
    &-body {
      margin-right: 12px;
    }
    &-section {
      margin-bottom: 18px;
    }
    &-content {
      padding-right: 10px;
      &-head {
        flex-direction: column;
        align-items: flex-start;
      }
      &__copyright {
        margin-right: 0;
        margin-bottom: 4px;
      }
    }
    &-info {
      justify-content: flex-start;
    }
    &-age {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    flex-direction: column;
    padding: 20px 0;
    &-age {
      display: none;
    }
    &-section {
      margin-bottom: 10px;
    }
    &-info {
      width: 100%;
    }
    &-body {
      margin-right: 0;
    }
    &-content {
      &__descr {
        margin-bottom: 6px;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &-section {
      flex-direction: column;
    }
    &-items {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// Article

.article {
  margin-top: -10px;
  .news-info {
    margin-bottom: 14px;
  }
  &-list {
    margin: 0 0 24px;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 10px;
      line-height: 1.65;
      &:before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 11px;
        left: 0;
      }
    }
  }
  &-roster {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      line-height: 1.65;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    margin-bottom: 44px;
  }
  &-signature {
    color: #898989;
    font-size: 14px;
  }
  &__title {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 23px;
  }
  &__head {
    margin-top: 45px;
  }
  &__note {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 0;
    line-height: 1.65;
  }
  > img {
    margin-bottom: 29px;
  }
  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 26px;
  }
  p {
    line-height: 1.65;
    margin-bottom: 26px;
    b {
      text-decoration: underline;
    }
  }
}

.article-soc {
  display: flex;
  align-items: center;
  &__title {
    margin-right: 14px;
    color: #898989;
    font-size: 14px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        width: 20px;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .article {
    &__title {
      font-size: 34px;
    }
    &__note {
      font-size: 18px;
    }
    &-footer {
      flex-direction: column;
    }
    &-signature {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 767px) {
  .article {
    &__title {
      font-size: 28px;
    }
    &__head {
      margin-top: 28px;
    }
    &-footer {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 575px) {
  .article {
    &__title {
      font-size: 26px;
    }
    &-list li {
      line-height: 1.4;
      &:before {
        top: 9px;
      }
    }
    &-roster li {
      line-height: 1.4;
    }
    &-soc {
      flex-direction: column;
      &__title {
        margin-right: 0;
        margin-bottom: 6px;
      }
    }
    &__note,
    &__text {
      font-size: 16px;
      line-height: 1.4;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 14px;
    }
    p {
      line-height: 1.4;
      margin-bottom: 14px;
    }
  }
}

// Comments

.comments {
  .head {
    margin-bottom: 34px;
  }
  &-items {
    margin-bottom: 59px;
  }
  &-item {
    margin-bottom: 32px;
    &.answer {
      margin-left: 60px;
    }
  }
  &-elem {
    display: flex;
    margin-bottom: 32px;
  }
  &-img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
  }
  &__descr {
    line-height: 1.65;
    margin-bottom: 15px;
  }
  &__reply {
    color: #e84b2e;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      color: #e84b2e;
      text-decoration: none;
    }
  }
  &-check {
    display: flex;
    align-items: center;
    &__title {
      margin-right: 42px;
    }
    &-item {
      display: flex;
      align-items: center;
    }
    input {
      width: 140px;
      height: 50px;
      background-color: #fff;
      border: 1px solid #bababa;
      margin-left: 50px;
      padding: 0 10px;
    }
  }
}

.comments-form {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 29px;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 18px;
  }
  &-input {
    width: 540px;
    background-color: #fff;
    input {
      width: 100%;
      height: 50px;
      color: #000;
      border: 1px solid #bababa;
      padding: 0 22px;
      font: 700 16px 'PTSans';
      &::placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
    }
  }
  textarea {
    width: 100%;
    height: 200px;
    background-color: #fff;
    font: 700 16px 'PTSans';
    border: 1px solid #bababa;
    padding: 14px 23px;
    margin-bottom: 25px;
    resize: none;
    &::placeholder {
      color: #000;
    }
    &::-moz-placeholder {
      color: #000;
    }
  }
  &__link {
    font-size: 16px;
    color: #e84b2e;
    text-decoration: underline;
    &:hover {
      color: #e84b2e;
      text-decoration: none;
    }
  }
  button {
    width: 200px;
    height: 40px;
    background-color: #e84b2e;
    font: 700 14px 'PTSans';
    letter-spacing: 0.3px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background-color: #df4326;
    }
  }
}

@media (max-width: 1336px) {
  .comments {
    &-form {
      button {
        width: 170px;
      }
      &-input {
        width: 400px;
      }
      &-header {
        margin-right: 0;
      }
      &-footer {
        margin-right: 0;
      }
    }
    &-check {
      &__title {
        margin-right: 10px;
      }
      input {
        width: 120px;
        margin-left: 16px;
      }
    }
  }
}

@media (max-width: 991px) {
  .comments {
    &-form {
      &-header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 18px;
      }
      &-footer {
        flex-direction: column;
        align-items: center;
      }
      &-input {
        width: 100%;
        margin-bottom: 6px;
        input {
          padding: 0 12px;
        }
      }
      textarea {
        padding: 12px;
        margin-bottom: 16px;
      }
    }
    &-check {
      margin-bottom: 10px;
    }
    &__descr {
      line-height: 1.4;
      margin-bottom: 10px;
    }
    &-item,
    &-elem {
      margin-bottom: 22px;
    }
  }
}

@media (max-width: 767px) {
  .comments {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .comments {
    &-items {
      margin-bottom: 38px;
    }
    &-item {
      &.answer {
        margin-left: 40px;
      }
    }
    &-elem {
      flex-direction: column;
    }
    &-img {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &-check {
      flex-direction: column;
      &__title {
        margin-right: 0;
        margin-bottom: 6px;
      }
    }
    &-footer {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0;
    }
  }
}