* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 300 16px 'Gilroy', sans-serif;
}

a {
  font: 300 16px 'Gilroy', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}

.title {
  text-align: center;
  position: relative;
  &-head {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  a {
    display: inline-block;
    vertical-align: top;
    color: #e31e24;
    text-decoration: underline;
    position: relative;
    margin: 23px 0 0 23px;
    &:hover {
      text-decoration: none;
    }
    &:before {
      content: '';
      display: block;
      height: 15px;
      width: 1px;
      transform: rotate(25deg);
      background: #000;
      position: absolute;
      top: 0;
      left: -14px;
    }
  }
}

/* Header */

.header {
  position: relative;
  margin: 22px 114px 25px;
  &-logo {
    float: left;
    margin-top: -9px;
  }
  &-content {
    margin-left: 228px;
  }
  &-items {
    margin-bottom: 26px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    &:first-child {
      margin-right: 119px;
    }
    &:nth-child(2) {
      margin-right: 108px;
    }
    &__mail,
    &__tel {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      border-bottom: 1px solid #000;
      margin-bottom: 8px;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    &__link {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      border-radius: 4px;
      padding: 0 16px 0 23px;
      background-color: #e31e24;
      &:hover {
        background: #b0050a;
      }
    }
  }
}

/* Menu */

.menu {
  margin-bottom: 28px;
  margin-left: -25px;
  &__list {
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
   > a {
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      padding: 0 30px 0 25px;
      line-height: 30px;
      border-radius: 4px;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
    &:hover .menu-sub {
      opacity: 1;
      visibility: visible;
      z-index: 5;
    }
    &:hover > a {
      background: #000;
      color: #fff;
    }
    &:hover .menu-arrow {
      background-position: right;
    }
  }
  &-arrow {
    background: url(../images/menu-arrow.png) no-repeat left;
    width: 12px;
    height: 7px;
    position: absolute;
    top: 50%;
    margin-top: -3.5px;
    right: 10px;
  }
  &-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background: #e6f5fc;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    &__list {
      a {
        display: block;
        padding: 8px 14px 8px 20px;
        font-size: 14px;
        color: #000;
        line-height: 1.3;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}

.burger-wrap {
  display: none;
}

/* Bread */

.bread {
  padding: 18px 0 13px;
  border-top: 1px solid #acacac;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    font-size: 14px;
    a {
      font-size: 14px;
      color: #e31e24;
      border-bottom: 1px solid #e31e24;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

/* Main-slider */

.main-slider {
  position: relative;
  margin-bottom: 42px;
  .slick-prev,
  .slick-next {
    background: #fff url(../images/slider-prev.png) no-repeat 68%;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: -46px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 5;
  }
  .slick-next {
    background: #fff url(../images/slider-next.png) no-repeat 33%;
    left: auto;
    right: -42px;
  }
  &-wrap {
    overflow: hidden;
    margin-bottom: 45px;
  }
  &-item {
    width: 456px;
    p {
      font-size: 20px;
      line-height: 1.7;
      padding-bottom: 35px;
    }
  }
  &__head {
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 4px;
  }
  &__text {
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 5px;
  }
  &__link {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 32px 0 24px;
    background-color: #e31e24;
    border-radius: 4px;
    &:hover {
      background: #b0050a;
    }
  }
}

/* Services */

.services {
  margin-bottom: 58px;
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px 40px;
    background-color: #e6f5fc;
    border-radius: 4px;
    text-align: center;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 32px;
    height: 310px;
    transition: 300ms;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:hover {
      background-color: #ffde2f;
    }
    &__img {
      display: block;
      vertical-align: middle;
      line-height: 230px;
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__link {
      font-size: 20px;
      font-weight: 700;
      color: #000;
    }
    &-callback {
      background: #e31e24;
      padding-top: 53px;
      p {
        font-size: 20px;
        line-height: 1.7;
        color: #fff;
      }
      a {
        font-size: 44px;
        font-weight: 700;
        color: #fff;
        margin: 6px 0;
        &:hover {
          color: #ffde2f;
        }
      }
      &:hover {
        background: #e31e24;
      }
    }
    &__head {
      padding-bottom: 14px;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

/* Main-news */

.main-news {
  margin-bottom: 55px;
  &-title {
    margin-bottom: 40px;
    .title-head {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: top;
    }
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 31.5%;
    margin-right: 2%;
    &:nth-child(3n) {
      margin-right: 0;
    }
    span {
      display: block;
      color: #e31e24;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 14px;
    }
    p {
      line-height: 1.7;
      a {
        color: #e31e24;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #000;
    &:hover {
      color: #e31e24;
    }
  }
}

/* Main-advan */

.main-advan {
  padding: 34px 60px 35px 54px;
  border: 10px solid #e6f5fc;
  margin: 0 40px 52px;
  text-align: center;
  &-head {
    margin-bottom: 27px;
  }
  p {
    line-height: 1.6;
    &:nth-child(2) {
      padding-bottom: 30px;
    }
  }
}

/* Footer */

.footer {
  margin: 0 110px;
  padding: 40px 0 31px;
  position: relative;
  &-wrap {
    background-color: #ffde2f;
  }
  &-logo {
    float: left;
    margin-top: -14px;
  }
  &-content {
    margin-left: 196px;
  }
  &-items {
    padding-bottom: 22px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    &:first-child {
      margin-right: 60px;
    }
    &:nth-child(2) {
      margin-right: 48px;
    }
    p {
      font-weight: 700;
      padding-bottom: 10px;
    }
  }
  &-adress {
    padding-bottom: 10px;
    &__mail {
      text-decoration: underline;
      color: #000;
    }
    &__tel {
      font-weight: 700;
      color: #000;
      &:hover {
        color: #b0050a;
      }
    }
  }
  &-link {
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    padding: 0 22px;
    background-color: #e31e24;
    border-radius: 4px;
    &:hover {
      background: #b0050a;
    }
  }
  &-menu {
    margin-bottom: 0;
  }
}

/* Bottom */

.bottom {
  font-size: 14px;
  padding-top: 29px;
}

/* Sidebar */

.sidebar {
  width: 312px;
  float: left;
  background: #e6f5fc;
  li {
    a {
      display: block;
      padding: 14px 20px 14px 28px;
      font-weight: 700;
      color: #000;
      line-height: 1.2;
      &:hover {
        background: #e31e24;
        color: #fff;
      }
      &.active {
        background: #e31e24;
        color: #fff;
      }
    }
  }
}

/* Contacts */

.contacts {
  margin-bottom: 52px;
  &-head {
    margin-bottom: 45px;
  }
  &-items {
    margin-bottom: 36px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 115px;
    &:last-child {
      margin-right: 0;
    }
    &__img {
      display: inline-block;
      vertical-align: middle;
      line-height: 82px;
      margin-bottom: 26px;
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
    p {
      font-size: 20px;
      padding-bottom: 12px;
    }
    &__tel {
      display: block;
      font-size: 20px;
      margin-bottom: 12px;
      color: #000;
      &:hover {
        color: #0073de;
      }
    }
    &__mail {
      color: #0073de;
      font-size: 20px;
      border-bottom: 1px solid #0073de;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-map {
    iframe {
      width: 100%;
      border: none;
      height: 614px;
    }
  }
}

.content {
  margin-left: 344px;
  text-align: center;
}

/* News */

.news {
  &-item {
    text-align: left;
    margin-bottom: 65px;
  }
  &-head {
    margin-bottom: 60px;
  }
}

/* Pagination */

.pagination {
  margin-top: 18px;
  margin-bottom: 10px;
  li {
    display: inline-block;
    position: relative;
    &:after {
      content: '/';
      display: inline-block;
      margin: 0 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-last-child(2):after {
      display: none;
    }
    &.pagination__arrow {
      margin: 0 20px;
      &:after {
        display: none;
      }
    }
    a {
      color: #4d4d4d;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: #e31e24;
        font-size: 24px;
        font-weight: 700;
        margin-top: -6px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* Modal */

.modal {
  display: inline-block;
  vertical-align: top;
  background-color: #e6f5fc;
  border-radius: 4px;
  padding: 40px 36px 30px;
  position: relative;
  text-align: center;
  display: none;
  &-form {
    width: 350px;
    button {
      width: 100%;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 60px;
      background-color: #e31e24;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      transition: 300ms;
      &:hover {
        background: #a20005;
      }
    }
  }
  &-input {
    input,
    textarea {
      width: 100%;
      padding: 20px 22px;
      border-radius: 4px;
      border: none;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 300;
      color: #007aff;
      font-family: 'Gilroy';
      border: 1px solid transparent;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
      &:focus {
        border: 1px solid #007aff;
      }
    }
    textarea {
      resize: none;
      margin-bottom: 26px;
      height: 140px;
      line-height: 1.2;
    }
  }
  &-head {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 28px;
  }
  
  .fancybox-bg {
    background: #000;
  }

  .fancybox-is-open .fancybox-bg {
    opacity: .6;
  }
  
  .fancybox-close-small:after {
    display: none;
  }

  .fancybox-close-small {
    background: url(../images/modal-img.png) no-repeat left;
    width: 38px;
    height: 37px;
    position: absolute;
    top: 15px;
    right: 17px;
    cursor: pointer;
    &:hover {
      background-position: right;
    }
  }
  
}



.fancybox-bg {
  background: #000;
}

.fancybox-is-open .fancybox-bg {
  opacity: .6;
}



/* Product */

.product {
  &-head {
    margin-bottom: 50px;
  }
  &-name {
    margin-bottom: 35px;
  }
  &-item {
    padding-bottom: 40px;
    &:nth-child(3) {
      padding-bottom: 0;
    }
    &-text {
      background-color: #e6f5fc;
      border-radius: 4px;
      padding: 24px 90px 24px 33px;
      text-align: left;
      margin: 20px 114px 40px;
      span {
        display: block;
      }
      b {
        display: inline-block;
        padding: 10px 0;
      }
    }
    &-link {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      background-color: #e31e24;
      border-radius: 4px;
      padding: 0 17px;
      margin-bottom: 20px;
      &:hover {
        background: #a20005;
      }
    }
    &__content {
      text-align: left;
      padding-top: 75px;
      padding-bottom: 12px;
      p {
        line-height: 1.7;
        padding-bottom: 30px;
        font-size: 14px;
      }
    }
    &__table {
      table {
        margin: 0 auto;
        border-collapse: collapse;
      }
      thead {
        tr {
          th {
            font-weight: 700;
            height: 40px;
            border-bottom: 1px solid #acacac;
            &:first-child {
              width: 180px;
              text-align: left;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
              width: 106px;
              text-align: left;
            }
          }
        }
      }
      tbody {
        tr {
          &:last-child td {
            border: none;
          }
          td {
            text-align: left;
            height: 40px;
            border-bottom: 1px solid #acacac;
            span {
              color: #e31e24;
            }
            &:first-child {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  &-order {
    padding: 35px 0 0 0;
    border-top: 1px solid #acacac;
    text-align: left;
    &__head {
      padding-bottom: 14px;
      font-size: 28px;
      font-weight: 700;
    }
    p {
      padding-bottom: 16px;
    }
    &__tel {
      display: inline-block;
      vertical-align: middle;
      font-size: 44px;
      font-weight: 700;
      color: #000;
      &:hover {
        color: #e31e24;
      }
    }
    &__links {
      span {
        display: inline-block;
        vertical-align: bottom;
        padding: 0 17px;
        margin-bottom: 6px;
      }
    }
    &__link {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      padding: 0 16px;
      background-color: #e31e24;
      border-radius: 4px;
      &:hover {
        background: #a20005;
      }
    }
  }
}



