button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Roboto', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'Roboto', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.head {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.22;
  color: #092674;
  margin-bottom: 30px; }
  .head a {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.22;
    color: #7c7c7c;
    text-decoration: underline; }
    .head a:hover {
      text-decoration: none; }

.text {
  font-size: 18px;
  line-height: 1.56;
  color: #000;
  margin-bottom: 40px; }

.link {
  line-height: 50px;
  padding: 0 26px;
  border-radius: 30px;
  background-color: #ff0000;
  font-weight: 700;
  color: #fff; }
  .link:hover {
    color: #fff;
    background-color: #df0e0e; }

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1336px) {
  .container {
    width: 970px; }
  .head {
    font-size: 36px; }
    .head a {
      font-size: 36px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; }
  .head {
    font-size: 30px;
    margin-bottom: 16px; }
    .head a {
      font-size: 30px; } }

@media (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px; }
  .head {
    font-size: 26px; }
    .head a {
      font-size: 26px; }
  .text {
    font-size: 16px;
    margin-bottom: 22px; }
  .link {
    line-height: 45px;
    padding: 0 18px; } }

.burger {
  display: none;
  width: 30px; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a span {
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 30px;
        height: 3px;
        position: absolute;
        left: 0;
        background-color: #fff;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }

@media (max-width: 1336px) {
  .burger {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); } }

@media (max-width: 767px) {
  .burger {
    right: 10px; } }

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 270px;
  margin-right: 111px; }

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 25px; }
  .header-wrap {
    background-color: #092674; }
  .header-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-info__btn {
      line-height: 40px;
      margin-right: 32px; }
    .header-info__tel {
      font-size: 32px;
      font-weight: 700;
      color: #fff; }
      .header-info__tel:hover {
        color: #fff; }

@media (max-width: 1336px) {
  .logo {
    margin-right: 40px; }
  .header {
    padding: 25px 15px; }
    .header-wrap .container {
      width: 100%; }
    .header-body {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 50px; } }

@media (max-width: 991px) {
  .logo {
    width: 240px;
    margin-right: 0; }
  .header-info__btn {
    margin-right: 14px; }
  .header-info__tel {
    font-size: 24px; } }

@media (max-width: 767px) {
  .logo {
    width: 214px; }
  .header {
    padding: 22px 10px; }
    .header-wrap .container {
      padding: 0; }
    .header-info__tel {
      display: none; } }

@media (max-width: 575px) {
  .header-info {
    display: none; } }

.nav li {
  position: relative;
  margin-right: 55px; }
  .nav li:after {
    content: '';
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: -27px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #1c8cf0; }
  .nav li:last-child {
    margin-right: 0; }
    .nav li:last-child:after {
      display: none; }
  .nav li.active a {
    color: #fff; }
  .nav li a {
    color: #1e98ff;
    font-weight: 700; }
    .nav li a:hover {
      color: #fff; }

@media (max-width: 1336px) {
  .nav {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .nav.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
      z-index: 15; }
    .nav li {
      margin: 4px 0; }
      .nav li:after {
        display: none; } }

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0 69px; }
  .showcase-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .showcase-content {
    width: 610px; }
  .showcase-list {
    margin: 0 0 43px;
    padding: 0;
    list-style: none; }
    .showcase-list li {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 10px;
      padding-left: 41px;
      position: relative; }
      .showcase-list li:before {
        content: '';
        display: block;
        background: url(../images/check-mark.png) no-repeat 50%;
        width: 21px;
        height: 16px;
        position: absolute;
        top: 6px;
        left: 0; }

@media (max-width: 1336px) {
  .showcase {
    padding: 60px 0 50px; }
    .showcase-content {
      width: 544px; } }

@media (max-width: 991px) {
  .showcase {
    padding: 48px 0 30px; }
    .showcase-content {
      width: 436px; }
    .showcase-list {
      margin-bottom: 26px; }
      .showcase-list li {
        font-size: 16px;
        line-height: 1.4; }
        .showcase-list li:before {
          top: 2px; } }

@media (max-width: 730px) {
  .showcase {
    padding-top: 30px; }
    .showcase-wrap {
      background: #fff; }
    .showcase-content {
      width: 100%; } }

.serve {
  padding: 60px 0 59px; }
  .serve .head {
    margin-bottom: 23px; }
  .serve .text {
    max-width: 856px; }
  .serve-wrap {
    background-color: #e2eff8; }
  .serve-item {
    display: none; }
    .serve-item.active {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; }
  .serve-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 620px;
    margin-right: 101px;
    text-align: center; }
  .serve-content {
    padding-top: 14px; }
    .serve-content__title {
      color: #092674;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px; }
    .serve-content__text {
      line-height: 1.65;
      margin-bottom: 41px; }

.serve-tabs {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  border-radius: 30px;
  border: 1px solid #092674;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .serve-tabs li {
    width: 25%;
    height: 48px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    color: #092674;
    border-right: 1px solid #092674;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .serve-tabs li.active, .serve-tabs li:hover {
      color: #fff;
      background-color: #092674; }
    .serve-tabs li:last-child {
      border-right: none; }

@media (max-width: 1336px) {
  .serve-tabs li {
    font-size: 16px; }
  .serve-img {
    width: 500px;
    margin-right: 32px; }
  .serve-content__title {
    margin-bottom: 16px; }
  .serve-content__text {
    line-height: 1.45;
    margin-bottom: 26px; } }

@media (max-width: 991px) {
  .serve {
    padding: 40px 0 30px; }
    .serve-tabs li {
      width: 50%; }
      .serve-tabs li:nth-child(2) {
        border-right: none; }
    .serve-img {
      width: 380px;
      margin-right: 20px; }
    .serve-content {
      padding-top: 5px; }
      .serve-content__text {
        margin-bottom: 14px; } }

@media (max-width: 767px) {
  .serve-tabs {
    margin-bottom: 24px; }
  .serve-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .serve-img {
    margin: 0 auto 20px; } }

@media (max-width: 575px) {
  .serve-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .serve-tabs li {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #092674; }
      .serve-tabs li:last-child {
        border-bottom: none; }
  .serve-img {
    width: 100%; } }

.wherefore {
  padding: 62px 0 59px; }
  .wherefore .head {
    margin-bottom: 35px; }
  .wherefore-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .wherefore-item {
    width: 550px;
    margin: 0 148px 48px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .wherefore-item:nth-child(2n) {
      margin-right: 0; }
  .wherefore-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 60px;
    margin-right: 40px;
    text-align: center; }
  .wherefore-content {
    padding-top: 18px; }
    .wherefore-content h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px; }
    .wherefore-content p {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 0; }
  .wherefore-btn {
    text-align: center;
    margin-top: -10px; }

@media (max-width: 1336px) {
  .wherefore {
    padding: 50px 0 40px; }
    .wherefore-item {
      width: 470px;
      margin: 0 30px 38px 0; }
    .wherefore-img {
      margin-right: 26px; }
    .wherefore-content {
      padding-top: 10px; }
      .wherefore-content h2 {
        font-size: 22px;
        margin-bottom: 14px; }
    .wherefore-btn {
      margin-top: 0; } }

@media (max-width: 991px) {
  .wherefore-item {
    width: 360px; }
  .wherefore-content p {
    font-size: 16px; } }

@media (max-width: 767px) {
  .wherefore {
    padding-top: 40px; }
    .wherefore-item {
      width: 100%;
      margin: 0 0 26px; } }

@media (max-width: 575px) {
  .wherefore-img {
    margin-right: 16px; }
  .wherefore-content {
    padding-top: 4px; }
    .wherefore-content h2 {
      font-size: 20px;
      margin-bottom: 8px; } }

.tariff {
  padding: 61px 0 59px; }
  .tariff .head {
    margin-bottom: 44px; }
  .tariff-wrap {
    background-color: #e2eff8; }
  .tariff-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 44px; }
    .tariff-header__title {
      font-size: 24px; }
  .tariff-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .tariff-item {
    width: 380px;
    margin-right: 60px;
    border: 3px solid #092674; }
    .tariff-item:last-child {
      margin-right: 0; }
    .tariff-item-header {
      background-color: #fff;
      padding: 23px 10px 28px 26px; }
    .tariff-item-body {
      padding: 18px 24px 42px; }
    .tariff-item-btn {
      text-align: center; }
    .tariff-item-list {
      margin: 0 0 30px;
      padding: 0;
      list-style: none; }
      .tariff-item-list li {
        position: relative;
        padding-left: 24px;
        line-height: 1.65;
        margin-bottom: 26px; }
        .tariff-item-list li:before {
          content: '';
          display: block;
          height: 1px;
          width: 12px;
          background-color: #092674;
          position: absolute;
          top: 12px;
          left: 3px; }
    .tariff-item__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
      color: #092674; }
  .tariff-cost {
    margin-bottom: 28px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .tariff-cost__outdated {
      color: #7c7c7c;
      margin-right: 20px;
      margin-bottom: 3px;
      text-decoration: line-through; }
    .tariff-cost__actual {
      font-size: 34px;
      color: #ff0000; }

.tariff-nav {
  width: 100%;
  max-width: 1020px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #092674;
  overflow: hidden; }
  .tariff-nav li {
    width: 25%;
    border-right: 1px solid #092674; }
    .tariff-nav li:last-child {
      border-right: none; }
    .tariff-nav li a {
      height: 48px;
      font-size: 18px;
      font-weight: 700;
      background-color: #fff;
      color: #092674;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .tariff-nav li a:hover {
        color: #fff;
        background-color: #092674; }
    .tariff-nav li.active a {
      color: #fff;
      background-color: #092674; }

@media (max-width: 1336px) {
  .tariff .head {
    margin-bottom: 30px; }
  .tariff-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .tariff-header__title {
      margin-right: 0;
      margin-bottom: 10px; }
  .tariff-item {
    margin-right: 16px; }
    .tariff-item-header {
      padding: 16px 6px 18px 12px; }
    .tariff-item-body {
      padding: 18px 12px 28px; }
    .tariff-item-list {
      margin-bottom: 20px; }
      .tariff-item-list li {
        margin-bottom: 12px;
        line-height: 1.5; }
  .tariff-cost {
    margin-bottom: 20px; }
    .tariff-cost__outdated {
      margin-right: 10px; }
    .tariff-cost__actual {
      font-size: 32px; } }

@media (max-width: 991px) {
  .tariff {
    padding: 44px 0 36px; }
    .tariff-header {
      margin-bottom: 28px; }
      .tariff-header__title {
        font-size: 20px; }
    .tariff-nav li a {
      font-size: 16px; }
    .tariff-item__title {
      font-size: 22px; }
    .tariff-item-body {
      padding: 12px 8px 20px; }
    .tariff-item-list li {
      font-size: 15px;
      line-height: 1.3;
      margin-bottom: 8px; }
    .tariff-cost__outdated {
      font-size: 12px; }
    .tariff-cost__actual {
      font-size: 24px; } }

@media (max-width: 767px) {
  .tariff {
    padding: 36px 0 24px; }
    .tariff-nav {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .tariff-nav li {
        width: 50%; }
        .tariff-nav li:nth-child(2) {
          border-right: none; }
    .tariff-header__title {
      font-size: 18px; }
    .tariff-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .tariff-item {
      width: 320px;
      margin: 0 5px 16px; }
      .tariff-item:last-child {
        margin: 0 5px 16px; } }

@media (max-width: 575px) {
  .tariff-nav li {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #092674; }
    .tariff-nav li:last-child {
      border-bottom: none; }
  .tariff-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .tariff-item {
    width: 290px;
    margin: 0 0 16px !important; } }

.offer {
  padding: 65px 0 87px; }
  .offer .head {
    margin-bottom: 24px; }
  .offer .text {
    max-width: 746px;
    margin-bottom: 51px; }
  .offer-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .offer-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 700px; }
  .offer-items {
    padding: 3px 59px 0 0; }
  .offer-item {
    margin-bottom: 48px; }
    .offer-item:last-child {
      margin-bottom: 0; }
    .offer-item h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 28px; }
    .offer-item p {
      margin-bottom: 0;
      line-height: 1.65; }

@media (max-width: 1336px) {
  .offer {
    padding: 54px 0 40px; }
    .offer-img {
      width: 500px; }
    .offer-items {
      padding: 0 20px 0 0; }
    .offer-item {
      margin-bottom: 14px; }
      .offer-item h2 {
        font-size: 22px;
        margin-bottom: 8px; }
      .offer-item p {
        line-height: 1.4; } }

@media (max-width: 991px) {
  .offer {
    padding-top: 40px; }
    .offer .text {
      margin-bottom: 30px; }
    .offer-img {
      width: 360px; }
    .offer-item h2 {
      font-size: 20px; }
    .offer-item p {
      line-height: 1.3; } }

@media (max-width: 767px) {
  .offer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .offer-img {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 auto 16px; }
  .offer-items {
    padding-right: 0; } }

@media (max-width: 575px) {
  .offer .head {
    margin-bottom: 16px; }
  .offer .text {
    margin-bottom: 18px; }
  .offer-img {
    width: 100%; } }

.partners {
  padding: 56px 0 41px; }
  .partners .head {
    color: #fff;
    margin-bottom: 23px; }
  .partners .text {
    max-width: 618px;
    color: #fff;
    margin-bottom: 53px; }
  .partners-wrap {
    background-color: #092674; }
  .partners-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -18px; }
  .partners-item {
    width: calc(100% / 16 * 2 - 18px);
    margin: 0 0 43px 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

@media (max-width: 1336px) {
  .partners {
    padding: 42px 0 18px; }
    .partners .text {
      margin-bottom: 34px; }
    .partners-item {
      width: calc(100% / 12 * 2 - 18px);
      margin-bottom: 30px; } }

@media (max-width: 991px) {
  .partners-item {
    width: calc(20% - 18px); } }

@media (max-width: 767px) {
  .partners-item {
    width: calc(100% / 12 * 3 - 18px); } }

@media (max-width: 575px) {
  .partners-item {
    width: calc(50% - 18px); } }

.attest {
  padding: 63px 0 72px; }
  .attest .head {
    max-width: 900px; }
  .attest .text {
    max-width: 834px; }
  .attest-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-top: 8px; }
  .attest-item {
    width: 286px;
    margin-right: 35px; }
    .attest-item:last-child {
      margin-right: 0; }
    .attest-item-header {
      margin-bottom: 27px;
      padding-right: 55px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .attest-item__text {
      line-height: 1.65; }
  .attest-head {
    font-size: 24px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .attest-head span {
      width: 34px;
      height: 34px;
      color: #fff;
      background-color: #ff0000;
      border-radius: 50%;
      margin-left: 9px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

@media (max-width: 1336px) {
  .attest-head {
    font-size: 21px; }
  .attest-item {
    width: 230px;
    margin-right: 16px; }
    .attest-item-header {
      margin-bottom: 16px;
      padding-right: 28px; }
    .attest-item__text {
      line-height: 1.4; } }

@media (max-width: 991px) {
  .attest {
    padding: 44px 0; }
    .attest .text {
      margin-bottom: 28px; }
    .attest-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 20px; }
    .attest-item {
      width: 280px;
      margin: 0 18px 20px; }
      .attest-item:last-child {
        margin: 0 18px 20px; } }

@media (max-width: 767px) {
  .attest-item {
    width: 250px;
    margin: 0 11px 20px; }
    .attest-item:last-child {
      margin: 0 11px 20px; } }

@media (max-width: 575px) {
  .attest {
    padding: 30px 0; }
    .attest-item {
      width: 100%;
      margin: 0 0 16px !important; } }

.callback {
  background-color: #e2eff8;
  padding: 12px 30px 17px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .callback-content {
    width: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .callback-content__number {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      font-size: 84px;
      font-weight: 700;
      color: #092674;
      margin-right: 25px; }
    .callback-content__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4; }
  .callback-form {
    width: 49%;
    margin-top: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .callback-form input {
      width: 400px;
      height: 50px;
      border-radius: 30px;
      background-color: #fff;
      padding: 0 21px;
      margin-right: 20px;
      font: 700 16px 'Roboto';
      color: #000;
      border: 2px solid #092674; }
      .callback-form input::-webkit-input-placeholder {
        color: #7c7c7c; }
      .callback-form input::-ms-input-placeholder {
        color: #7c7c7c; }
      .callback-form input::placeholder {
        color: #7c7c7c; }
      .callback-form input::-moz-placeholder {
        color: #7c7c7c; }
    .callback-form button {
      width: 160px;
      border: none;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms; }

@media (max-width: 1336px) {
  .callback {
    padding: 12px 16px; }
    .callback-content__number {
      font-size: 62px;
      margin-right: 16px; }
    .callback-content__text {
      font-size: 20px;
      line-height: 1.2; }
    .callback-form {
      width: 51%; }
      .callback-form input {
        padding: 0 12px;
        margin-right: 10px;
        font-size: 15px; } }

@media (max-width: 991px) {
  .callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 40px 20px; }
    .callback-content {
      width: 100%;
      margin-bottom: 4px; }
    .callback-form {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media (max-width: 767px) {
  .callback {
    padding-right: 20px;
    padding-left: 20px; }
    .callback-form input {
      height: 45px; } }

@media (max-width: 575px) {
  .callback {
    padding: 10px; }
    .callback-content__number {
      font-size: 50px;
      margin-right: 8px; }
    .callback-content__text {
      font-size: 18px; }
    .callback-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .callback-form input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 14px; } }

.footer {
  margin-bottom: 71px; }
  .footer-wrap {
    padding: 70px 0 35px;
    background-color: #092674; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-item {
    width: 280px;
    margin-right: 40px; }
    .footer-item:last-child {
      margin-right: 0; }
    .footer-item.footer-demo {
      padding-top: 4px; }
      .footer-item.footer-demo .footer-item__head {
        font-size: 20px; }
    .footer-item__head, .footer-item__link {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 30px; }
    .footer-item__link:hover {
      color: #ff0000; }
    .footer-item__text {
      min-height: 127px;
      color: #fff;
      line-height: 1.65;
      margin-bottom: 10px; }
  .footer-info {
    color: #fff;
    margin-top: -7px; }
    .footer-info__title {
      line-height: 1.65;
      margin-bottom: 2px; }
    .footer-info__link {
      color: #1a9bff; }
      .footer-info__link:hover {
        color: #1a9bff;
        text-decoration: underline; }

@media (max-width: 1336px) {
  .footer {
    margin-bottom: 40px; }
    .footer-wrap {
      padding: 44px 0; }
    .footer-item {
      margin-right: 14px; }
      .footer-item.footer-demo {
        padding-top: 0; }
      .footer-item__head, .footer-item__link {
        font-size: 20px;
        margin-bottom: 20px; }
      .footer-item__text {
        min-height: auto;
        margin-bottom: 20px;
        font-size: 15px; }
      .footer-item .link {
        line-height: 46px;
        font-size: 15px;
        padding: 0 12px; }
    .footer-info__title {
      font-size: 15px; } }

@media (max-width: 991px) {
  .footer {
    margin-bottom: 20px; }
    .footer-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .footer-item {
      width: 48%;
      margin: 0 7px 24px; } }

@media (max-width: 767px) {
  .footer-wrap {
    padding: 30px 0; }
  .footer-item {
    width: 47%; }
    .footer-item__head, .footer-item__link {
      font-size: 18px !important;
      margin-bottom: 14px; }
    .footer-item__text {
      line-height: 1.3; } }

@media (max-width: 575px) {
  .footer {
    margin-bottom: 8px; }
    .footer-item {
      width: 100%;
      margin: 0 0 26px !important; }
      .footer-item__text {
        margin-bottom: 12px; } }

.bottom {
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .bottom-copyright {
    margin-bottom: 2px; }
  .bottom-items.bottom-data {
    max-width: 450px; }
  .bottom-items.bottom-info {
    max-width: 408px; }
  .bottom-item {
    line-height: 1.7; }
    .bottom-item a {
      font-size: 14px;
      color: #1996f7; }
      .bottom-item a:hover {
        color: #1996f7;
        text-decoration: underline; }

@media (max-width: 1336px) {
  .bottom {
    position: relative; }
    .bottom-copyright {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -28px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); } }

@media (max-width: 991px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; } }

@media (max-width: 767px) {
  .bottom-copyright {
    position: static;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-transform: translate(0);
    transform: translate(0); } }
