@import '../fonts/index.css';

$orange: #e57f17;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Formular', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  text-decoration: none;
  transition: 300ms;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1460px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

/* General elements */

.btn {
  padding: 10px 20px 11px;
  border: 1px solid #000000;
  border-radius: 0;
  line-height: 1;
  transition-property: border, background, color;
  transition-duration: 300ms;

  &:hover {
    border-color: $orange;
    background-color: $orange;
    color: #ffffff;
  }
}

.title {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  @media screen and (max-width: 991px) {
    line-height: 1.5;
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid #bababa;
    border-radius: 50%;
    margin: 0 7px;
    transition: 300ms;
    cursor: pointer;

    &.slick-active {
      background: $orange;
    }

    button {
      display: none;
    }
  }
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: solid 1px #bababa;
  background-color: #ffffff;
  font-size: 0;
  transition: background 300ms;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: left;
  }

  &:hover {
    border-color: inherit;
    background-color: #000000;

    &::before {
      background-position: right;
    }
  }

  &:focus {
    outline: none;
  }
}

.slick-prev::before {
  background-image: url('/images/arrow-prev.png');
}

.slick-next::before {
  background-image: url('/images/arrow-next.png');
}

/* Burger */

.burger {
  display: none;
  width: 30px;

  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;

    &.active span {
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      background-color: #222;

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        background-color: #222;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    display: block;
    margin-right: 15px;
  }
}

// Pagination

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    margin: 0 1px;

    &--active .pagination__link {
      background-color: #000000;
      color: #ffffff;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 300ms, color 300ms;

    &:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }

  @media screen and (max-width: 767px) {
    &__link {
      width: 36px;
      height: 36px;
    }
  }
}

/* Header */

.header {
  &__info {
    background: $orange;

    &-inner {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;

      li {
        margin-right: 90px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__inner {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 0 20px;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;

      li {
        margin-right: 42px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-weight: bold;
          text-transform: uppercase;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }

  &__link {
    font-weight: bold;
    text-transform: uppercase;
    color: $orange;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $orange;
      color: $orange;
    }
  }

  @media only screen and (max-width: 1200px) {
    &__logo {
      width: 150px;
    }

    &__nav {
      li {
        margin-right: 30px;

        a {
          font-size: 14px;
        }
      }
    }

    &__link {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 991px) {
    position: relative;

    &__info-inner {
      li {
        margin-right: 30px;
        font-size: 14px;
      }
    }

    &__nav {
      flex-grow: 10;
      display: flex;
      justify-content: flex-end;

      ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffffff;
        z-index: 100;
        flex-direction: column;
        transition: 300ms;
        opacity: 0;
        visibility: hidden;
        padding-top: 20px;

        &.active {
          opacity: 1;
          visibility: visible;
        }

        li {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    &__info {
      display: none;
    }

    &__link {
      display: none;
    }
  }
}

// Footer

.footer {
  padding: 60px 0 35px;
  background-color: #000000;

  &__inner {
    padding: 0 20px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    flex-shrink: 0;
    max-width: 240px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    padding-left: 80px;

    ul {
      width: 20%;
      padding-right: 10px;
      color: #ffffff;

      &:nth-child(2) {
        width: 23.7%;
      }
      &:nth-child(3) {
        width: 27%;
      }
      &:last-child {
        width: 29.3%;

        li {
          margin-bottom: 15px;
        }
      }

      li {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        a:hover {
          color: $orange;
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 39px;
    padding-right: 38px;
    color: #898989;
    font-size: 14px;
    line-height: 1.86;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 1500px) {
    &__inner {
      padding: 0;
    }

    &__info {
      padding: 0;
      line-height: 1.3;
    }
  }
  @media screen and (max-width: 1200px) {
    padding-top: 50px;

    &__logo {
      max-width: 210px;
    }

    &__info {
      flex-direction: column;
      margin-top: 30px;
      line-height: 1.5;
      text-align: center;
    }

    &__nav {
      padding-left: 40px;

      ul li {
        margin-bottom: 22px;
        font-size: 14px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &__nav {
      flex-wrap: wrap;

      ul {
        width: 50% !important;
        margin-bottom: 16px;

        li {
          margin-bottom: 16px;
        }
      }
    }

    &__info {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    &__container {
      flex-direction: column;
    }
    &__nav {
      margin-top: 30px;
      padding-left: 0;
    }
  }
  @media screen and (max-width: 480px) {
    &__nav ul {
      width: 100% !important;
    }
  }
}

/* Showcase */

.showcase {
  margin-bottom: 79px;

  &__item {
    height: 660px;
    color: #ffffff;
    text-align: center;
  }

  &__content {
    padding-top: 226px;
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &__description {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.85;
    max-width: 770px;
    margin: 0 auto;
  }

  .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
  }

  .slick-arrow:hover {
    border-color: #ffffff;
    background-color: transparent;
  }

  .slick-prev {
    left: 7.8%;
  }

  .slick-next {
    right: 7.8%;
  }

  @media only screen and (max-width: 1200px) {
    &__item {
      height: 450px;
    }
    &__content {
      padding-top: 120px;
    }
    &__title {
      font-size: 32px;
    }
    &__description {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    .slick-arrow {
      display: none;
    }
  }
  @media only screen and (max-width: 767px) {
    margin-bottom: 50px;

    &__title {
      font-size: 24px;
    }
    &__content {
      padding-top: 80px;
    }
    &__description {
      font-size: 16px;
    }
  }
}

/* Services */

.services {
  overflow: hidden;
  margin-bottom: 70px;
  text-align: center;

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    max-width: 1024px;
    margin: 0 auto 66px;
    font-size: 34px;
    line-height: 1.29;
  }

  &__items {
    margin: 0 -20px;
  }

  &__item {
    margin: 0 20px;
    text-align: left;
    transition: transform 300ms;

    &:hover {
      transform: translateY(60px);

      .services__img {
        border-color: $orange;
        box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__img {
    border: 3px solid transparent;
    transition: border-color 300ms, box-shadow 300ms;
  }

  &__name {
    margin-top: 25px;
    padding: 0 21px;
    font-size: 18px;
    line-height: 1.56;
  }

  .slick-track {
    padding-bottom: 106px;
  }

  .slick-arrow {
    margin-top: -100px;
  }

  .slick-prev {
    left: -60px;
  }

  .slick-next {
    right: -60px;
  }

  @media screen and (max-width: 1500px) {
    .slick-prev {
      left: 10px;
    }
    .slick-next {
      right: 10px;
    }
  }
  @media screen and (max-width: 1200px) {
    &__items {
      margin: 0 -10px;
    }
    &__item {
      margin: 0 10px;
    }
    &__name {
      margin-top: 14px;
      padding: 0;
      line-height: 1.35;
    }
    .slick-track {
      padding-bottom: 80px;
    }
  }
  @media screen and (max-width: 991px) {
    &__description {
      font-size: 26px;
    }
    .slick-arrow {
      margin-top: -80px;
    }
  }
  @media screen and (max-width: 767px) {
    &__description {
      margin-bottom: 40px;
      font-size: 24px;
    }
    &__item {
      &:hover {
        transform: translateY(0);
      }
    }
    .slick-track {
      padding-bottom: 20px;
    }
    .slick-arrow {
      display: none !important;
    }
  }
}

// Services Page

.services-page {
  padding: 78px 0 70px;
  background-color: #f1f2f4;

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__text {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto 64px;
    font-size: 34px;
    line-height: 1.3;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
  }

  &__item {
    width: calc(33.33% - 40px);
    margin-bottom: 54px;
    margin-left: 40px;

    &:hover {
      color: $orange;

      .services-page__img {
        border-color: $orange;
      }
    }
  }

  &__img {
    border: 3px solid transparent;
    transition: border-color 300ms;
  }

  &__name {
    margin-top: 24px;
    padding: 0 20px;
    font-size: 24px;
    line-height: 1.45;
  }

  @media screen and (max-width: 1500px) {
    &__name {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 1200px) {
    padding-bottom: 40px;

    &__items {
      margin-left: -20px;
    }
    &__item {
      width: calc(33.33% - 20px);
      margin-left: 20px;
    }
    &__name {
      margin-top: 18px;
      padding: 0 10px;
      font-size: 20px;
      line-height: 1.3;
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      margin-bottom: 40px;
    }
    &__text {
      margin-bottom: 50px;
      font-size: 26px;
    }
    &__name {
      margin-top: 10px;
      padding: 0;
      font-size: 18px;
    }
  }
  @media screen and (max-width: 767px) {
    &__item {
      width: calc(50% - 20px);
    }
  }
  @media screen and (max-width: 480px) {
    padding-top: 70px;

    &__items {
      margin-left: 0;
    }
    &__item {
      width: 100%;
      margin-bottom: 32px;
      margin-left: 0;
    }
    &__text {
      margin-bottom: 32px;
      font-size: 20px;
    }
  }
}

// About

.about {
  padding: 77px 0 90px;
  background-color: #f1f2f4;

  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding-top: 22px;
    padding-right: 111px;
  }

  &__head {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 1.45;
  }

  &__description {
    margin-bottom: 45px;
    line-height: 1.65;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    max-width: 720px;
    width: 100%;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      min-height: 200px;
      margin: -1px 0 0 -1px;
      padding: 10px;
      border: 1px solid #bababa;
      background-color: #ffffff;
      font-weight: 700;
      text-align: center;
    }
  }

  &__number {
    color: $orange;
    font-size: 64px;
    line-height: 1;
  }

  &__text {
    font-size: 24px;
    line-height: 1.2;
  }

  @media screen and (max-width: 1500px) {
    &__info {
      max-width: 520px;
    }
    &__content {
      padding-right: 40px;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 70px 0;

    &__container {
      align-items: flex-start;
    }
    &__content {
      padding-top: 0;
    }
    &__head {
      margin-bottom: 20px;
      font-size: 22px;
    }
    &__description {
      margin-bottom: 30px;
    }
    &__info {
      max-width: 360px;
    }
    &__number {
      font-size: 50px;
    }
    &__text {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    &__container {
      flex-direction: column;
    }
    &__content {
      margin-bottom: 40px;
      padding-right: 0;
    }
    &__info {
      max-width: 100%;

      &-item {
        min-height: 170px;
      }
    }
    &__title {
      margin-bottom: 40px;
    }
    &__number {
      font-size: 46px;
    }
    &__text {
      font-size: 18px;
    }
  }
}

// About Description

.about-descr {
  padding-bottom: 100px;

  &__body {
    display: flex;
    margin-bottom: 90px;
  }

  &__img {
    flex-shrink: 0;
    max-width: 42.2vw;
    min-width: 630px;
    margin-left: -12vw;
  }

  &__content {
    flex-grow: 1;
    padding-top: 71px;
    padding-left: 80px;
  }

  &__title {
    margin-bottom: 42px;
    font-size: 34px;
    line-height: 1.3;
  }

  &__text {
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 1.65;
  }

  @media screen and (max-width: 1500px) {
    &__body {
      margin-bottom: 70px;
    }
    &__content {
      padding-top: 32px;
      padding-left: 32px;
    } 
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      margin-top: 10px;
      line-height: 1.5;
    }
  }
  @media screen and (max-width: 991px) {
    padding-top: 40px;

    &__body {
      flex-direction: column;
    }
    &__img {
      min-width: auto;
      max-width: 600px;
      margin: 0 auto;
    }
    &__content {
      order: -1;
      margin-bottom: 40px;
      padding: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 70px;

    &__body {
      margin-bottom: 60px;
    }
    &__title {
      font-size: 28px;
    }
  }
}

// About summary

.about-summary {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 170px;
  padding-top: 18px;
  background-color: $orange;
  color: #ffffff;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    display: block;
    width: 962px;
    height: 148px;
    background: url('../images/logo-bg.png') no-repeat center/100%;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1132px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__descr {
    max-width: 700px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.45;
  }

  &__button {
    flex-shrink: 0;
    margin-top: -8px;
    padding-right: 25px;
    padding-left: 25px;
    border-color: #ffffff;
    color: #ffffff;

    &:hover {
      border-color: #000000;
      color: #000000;
    }
  }

  @media screen and (max-width: 991px) {
    &::before {
      width: 74vw;
      height: 11vw;
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 25px;

    &__container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// Projects

.projects {
  position: relative;
  overflow: hidden;
  padding: 72px 0 70px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 32.8vw;
    height: 30.2vw;
    background-color: $orange;
  }

  &__header {
    display: flex;
    margin-bottom: 55px;
  }

  &__title {
    width: 27.4%;
    padding: 38px 0 0 102px;
    color: #ffffff;
  }

  &__description {
    width: 72.6%;
    padding-left: 100px;
    font-size: 34px;
    line-height: 1.3;
  }

  &__carousel {
    position: relative;
    z-index: 2;
    margin: 0 -30px;
  }

  &__item {
    position: relative;
    margin: 0 30px;
    border: 3px solid transparent;
    outline: 1px solid #dddddd;
    outline-offset: -3px;
    transition: border-color 300ms, box-shadow 300ms;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      outline: none;
      border-color: #e57f17;
      box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &__item:not(.slick-active) {
    pointer-events: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#ffffff, .6);
    }

    .projects__nav {
      top: 0;
      right: 0;
    }
  }

  &__img {
    position: relative;
    height: 400px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000000, .6);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    position: absolute;
    top: -3px;
    right: -3px;
    display: flex;

    .slick-arrow {
      position: static;
      transform: translateY(0);
      border: none;
    }
  }

  &__name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 34px 29px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.08;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 29px 46px 38px 29px;
  }

  &__text {
    padding-right: 20px;
    line-height: 1.65;
  }

  &__link {
    margin-top: 8px;
  }

  &__more {
    margin-top: 59px;
    text-align: center;
  }
  
  .slick-list {
    overflow: visible;
  }
  
  @media screen and (max-width: 1200px) {
    &__carousel {
      margin: 0 -15px;
    }
    &__item {
      margin: 0 15px;
    }
    &__img {
      height: 360px;
    }
    &__description {
      font-size: 26px;
    }
    &__footer {
      padding: 20px 20px 30px;
    }
  }
  @media screen and (max-width: 991px) {
    &__img {
      height: 310px;
    }
    &__title {
      padding-left: 5vw;
    }
    &__description {
      padding-left: 8vw;
      font-size: 24px;
    }
  }
  @media screen and (max-width: 767px) {
    &::before {
      display: none;
    }
    &__carousel {
      margin: 0 -6px;
    }
    &__item {
      margin: 0 6px;
    }
    &__img {
      height: 290px;
    }
    &__header {
      flex-direction: column;
    }
    &__title {
      width: 100%;
      margin-bottom: 30px;
      padding: 0;
      color: #333333;
      text-align: center;
    }
    &__description {
      width: 100%;
      padding: 0;
      text-align: center;
    }
    &__text {
      padding-right: 0;
    }
    &__link {
      margin-top: 16px;
    }
    &__name {
      padding: 20px 18px;
      font-size: 22px;
    }
    &__footer {
      flex-direction: column;
      padding: 18px 10px 20px;
    }
  }
  @media screen and (max-width: 575px) {
    &__header {
      margin-bottom: 40px;
    }
    &__description {
      font-size: 22px;
    }
    &__more {
      margin-top: 44px;
    }
  }
}

// Projects Page

.projects-page {
  padding: 78px 0 101px;
  background-color: #f1f2f4;

  &__title {
    margin-bottom: 3px;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 57px 0;
    border-top: 1px solid #aeaeae;

    &:first-child {
      border-top: none;
    }

    &:hover {

      .projects-page__carousel-item {
        box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
        border-color: $orange;
      }
    }
  }

  &__content {
    flex-grow: 1;
    max-width: 680px;
    padding-top: 15px;
    padding-right: 20px;
  }

  &__name {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
  }

  &__descr {
    margin-bottom: 27px;
    line-height: 1.65;
  }

  &__sign {
    margin-bottom: 34px;
    font-weight: 700;
    line-height: 1.65;

    span {
      display: block;
    }
  }

  &__carousel {
    flex-shrink: 0;
    width: 700px;

    &-item {
      position: relative;
      border: 3px solid transparent;
      transition: border 300ms, box-shadow 300ms;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(#000000, .6);
      }
    }
  }

  .slick-arrow {
    top: 0;
    right: 0;
    left: auto;
    transform: translateY(0);
    border: none;
  }
  .slick-prev {
    right: 60px;
  }

  @media screen and (max-width: 1500px) {
    &__carousel {
      width: 50%;
    }
  }
  @media screen and (max-width: 1200px) {
    &__item {
      padding: 40px 0;
    }
    &__name {
      margin-bottom: 20px;
    }
    &__descr {
      margin-bottom: 20px;
      line-height: 1.5;
    }
    &__sign {
      margin-bottom: 28px;
      font-size: 14px;
      line-height: 1.3;
    }
  }
  @media screen and (max-width: 767px) {
    &__item {
      flex-direction: column;
    }
    &__content {
      margin-bottom: 30px;
      padding: 0;
    }
    &__carousel {
      width: 80%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 575px) {
    &__name {
      margin-bottom: 16px;
      font-size: 22px;
    }
    &__carousel {
      width: 100%;
    }
    .slick-arrow {
      width: 50px;
      height: 50px;
    }
    .slick-prev {
      right: 50px;
    }
  }
}

// Projects Complete

.projects-complete {
  padding: 70px 0 60px;

  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -41px;
  }

  &__item {
    position: relative;
    z-index: 1;
    width: calc(33.33% - 41px);
    min-height: 438px;
    margin-bottom: 41px;
    margin-left: 41px;
    padding: 31px 26px 40px 26px;
    border: 3px solid rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    transition: border-color 300ms, box-shadow 300ms;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000000, .6);
    }
    
    &:hover {
      border-color: $orange;
      box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
      color: #ffffff;
    }
  }

  &__name {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.45;
  }

  &__text {
    margin-bottom: 0;
    line-height: 1.65;
  }

  @media screen and (max-width: 1200px) {
    &__items {
      margin-left: -20px;
    }
    &__item {
      width: calc(33.33% - 20px);
      min-height: 400px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }

  @media screen and (max-width: 991px) {
    &__item {
      min-height: 320px;
      padding: 20px;
    }
    &__name {
      margin-bottom: 18px;
      font-size: 20px;
      line-height: 1.3;
    }
    &__text {
      line-height: 1.5;
    }
  }
  @media screen and (max-width: 767px) {
    &__items {
      margin-left: 0;
    }
    &__item {
      width: 100%;
      margin-left: 0;
    }
  }
}

// News

.news {
  padding: 68px 0 60px;
  background-color: #f1f2f4;

  &__title {
    margin-bottom: 38px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 40px);
    margin: 0 0 60px 40px;
    padding: 33px 24px 50px 28px;
    border: 3px solid transparent;
    background-color: #ffffff;
    line-height: 1.65;
    transition: border-color 300ms, box-shadow 300ms, color 300ms;

    &:hover {
      border-color: $orange;
      box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.2);
      color: #000000;

      .news__name {
        text-decoration: underline;
        text-decoration-color: $orange;
      }
    }
  }

  &__date {
    margin-bottom: 36px;
  }

  &__name {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.45;
  }

  &__more {
    text-align: center;
  }

  @media screen and (max-width: 1200px) {
    &__items {
      margin-left: -20px;
      margin-bottom: 40px;
    }
    &__item {
      width: calc(33.33% - 20px);
      margin: 0 0 20px 20px;
      padding: 26px 16px;
    }
  }

  @media screen and (max-width: 991px) {
    &__item {
      padding: 20px 10px;
    }
    &__date {
      margin-bottom: 24px;
    }
    &__name {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.3;
    }
    &__text {
      line-height: 1.5;
    }
  }

  @media screen and (max-width: 767px) {
    &__items {
      margin: 0 0 20px;
    }
    &__item {
      width: 100%;
      margin: 0 0 20px;
      padding: 20px 20px 25px;
    }
  }
}

// News Relate

.news-relate {
  padding: 66px 0 20px;
  background-color: #ffffff;

  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  .news {
    
    &__item {
      outline: 1px solid #d1d1d1;
      outline-offset: -2px;

      &:hover {
        outline-color: transparent;
      }
    }
  }
}

// News Page

.news-page {
  padding: 79px 0 80px;
  background-color: #f1f2f4;

  &__title {
    margin-bottom: 45px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
}

// Article

.article {
  padding: 86px 0 45px;
  background-color: #f1f2f4;

  &__content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 46px;
      font-weight: 400;
      font-size: 34px;
      line-height: 1.3;
      text-align: center;
    }

    img {
      margin-bottom: 18px;
    }

    p {
      margin: 26px 0;
      line-height: 1.65;
    }
  }

  &__date {
    margin-bottom: 40px;
    text-align: center;
  }

  @media screen and (max-width: 1200px) {
    &__content {

      h1, h2, h3, h4, h5, h6 {
        font-size: 30px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 72px;

    &__date {
      margin-bottom: 30px;
    }
    &__content {

      h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
      }

      p {
        margin: 16px 0;
        line-height: 1.5;
      }
    }
  }
}

// Contacts

.contacts {
  overflow: hidden;

  &__container {
    display: flex;
  }

  &__info {
    position: relative;
    width: 492px;
    min-height: 480px;
    padding: 67px 23px 40px;
    background-color: $orange;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 1000px;
      margin-right: -1px;
      background-color: $orange;
    }
  }

  &__title {
    margin-bottom: 66px;
    padding-left: 78px;
    color: #ffffff;
  }

  &__list {
    max-width: 400px;
    font-size: 24px;
    line-height: 1.45;

    li {
      display: flex;
      margin-bottom: 33px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        display: inline-block;

        &:first-child {
          flex-shrink: 0;
          width: 158px;
        }
      }
    }
  }

  &__map {
    flex-grow: 1;
    margin-right: calc((100vw - 1460px)/-2);

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  @media screen and (max-width: 1500px) {
    &__map {
      margin-right: calc((100vw - 1170px)/-2);
    }
  }
  @media screen and (max-width: 1200px) {
    &__info {
      width: 400px;
      min-height: 460px;
      padding: 55px 20px 20px 0;
    }
    &__title {
      margin-bottom: 60px;
      padding-left: 60px;
    }
    &__map {
      margin-right: calc((100vw - 970px)/-2);
    }
  }
  @media screen and (max-width: 991px) {
    &__info {
      width: 320px;
      min-height: 430px;
    }
    &__list {
      font-size: 20px;
      line-height: 1.3;

      li span:first-child {
        width: 120px;
      }
    }
    &__map {
      margin-right: calc((100vw - 750px)/-2);
    }
  }
  @media screen and (max-width: 767px) {
    &__container {
      flex-direction: column;
    }
    &__info {
      width: 100%;
      min-height: 200px;
      padding: 40px 0;

      &::before {
        z-index: -1;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 2000px;
      }
    }
    &__list {
      max-width: 100%;

      li {
        margin-bottom: 20px;
      }
    }
    &__title {
      margin-bottom: 40px;
      padding-left: 0;
    }
    &__map {
      height: 300px;
      margin: 0 -15px;
    }
  }
}

// Contacts Page

.contacts-page {

  &__inner {
    overflow: hidden;
    padding: 78px 0 60px;
    background-color: #f1f2f4;
    text-align: center;
  }

  &__header {
    max-width: 1100px;
    margin: 0 auto 56px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__descr {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.45;
  }

  &__text {
    line-height: 1.65;
  }
  
  &__items {
    display: flex;
    justify-content: center;
    margin: 0 -35px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
    min-height: 120px;
    margin: 0 35px;
    padding: 28px 15px 22px;
    border: 1px solid #bababa;
    background-color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.45;
  }

  &__tel {
    &:hover {
      color: $orange;
    }
  }

  &__mail {
    color: $orange;
    text-decoration: underline;

    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }

  &__map {
    height: 560px;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  @media screen and (max-width: 1500px) {
    &__items {
      margin: 0 -20px;
    }
    &__item {
      margin: 0 20px;
    }
    &__map {
      height: 500px;
    }
  }
  @media screen and (max-width: 991px) {
    &__items {
      margin: 0 -10px;
    }
    &__item {
      margin: 0 10px;
      font-size: 18px;
    }
    &__map {
      height: 400px;
    }
  }
  @media screen and (max-width: 767px) {
    &__inner {
      padding: 60px 0 40px;
    }
    &__header {
      margin-bottom: 46px;
    }
    &__descr {
      font-size: 20px;
    }
    &__text {
      line-height: 1.5;
    }
    &__items {
      flex-direction: column;
      margin: 0;
    }
    &__item {
      width: 100%;
      margin: 0 0 20px;
    }
    &__map {
      height: 340px;
    }
  }
}

// Documents

.documents {
  padding: 77px 0 41px;
  background-color: #f1f2f4;
  text-align: center;

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    max-width: 1070px;
    margin: 0 auto 64px;
    font-size: 24px;
    line-height: 1.45;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -59px;
  }

  &__item {
    width: calc(25% - 59px);
    margin: 0 0 52px 59px;

    &:hover {
      color: #333333;

      .documents__img {
        filter: grayscale(0);
      }
    }
  }

  &__img {
    padding: 13px 22px;
    border: 1px solid #bababa;
    filter: grayscale(100%);
    transition: filter 300ms;
  }

  &__name {
    margin-top: 28px;
  }
  
  @media screen and (max-width: 1200px) {
    &__items {
      margin-left: -30px;
    }
    &__item {
      width: calc(33.33% - 30px);
      margin-bottom: 30px;
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 991px) {
    &__text {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    &__items {
      margin-left: -20px;
    }
    &__item {
      width: calc(50% - 20px);
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    &__text {
      margin-bottom: 44px;
    }
    &__items {
      margin-left: 0;
      justify-content: center;
    }
    &__item {
      max-width: 320px;
      width: 100%;
      margin-left: 0;
    }
  }
}

// Project

.project {
  padding: 81px 0 60px;
  background-color: #f1f2f4;

  &__title {
    margin-bottom: 23px;
    font-size: 34px;
    line-height: 1.3;
    text-align: center;
  }

  &__date {
    margin-bottom: 46px;
    line-height: 1.65;
    text-align: center;
  }

  &__content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 60px;

    img {
      margin-bottom: 18px;
    }

    p {
      margin: 26px 0;
      line-height: 1.65;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;

    &-item {
      width: calc(33.33% - 40px);
      margin-bottom: 40px;
      margin-left: 40px;
    }
  }

  @media screen and (max-width: 1200px) {
    &__gallery {
      margin-left: -20px;

      &-item {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__content {
      margin-bottom: 50px;
      
      p {
        margin: 16px 0;
      }
    }
    &__gallery-item {
      width: calc(50% - 20px);
    }
  }
  @media screen and (max-width: 480px) {
    padding-top: 60px;

    &__title {
      font-size: 30px;
    }
    &__date {
      margin-bottom: 36px;
    }
    &__gallery {
      margin-left: 0;

      &-item {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

// Service

.service {
  padding: 80px 0 70px;
  background-color: #f1f2f4;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
    flex-grow: 1;
    padding-right: 80px;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 52px;
      font-weight: 400;
      font-size: 34px;
      line-height: 1.3;
      text-align: center;
    }

    img {
      margin-bottom: 16px;
    }

    p {
      margin: 26px 0;
      line-height: 1.65;
    }
  }

  &__sidebar {
    flex-shrink: 0;
    width: 340px;
    padding-top: 10px;
  }

  &__list {
    padding: 33px 40px 50px;
    border: 1px solid $orange;
    background-color: #ffffff;

    &-item {
      margin-bottom: 34px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    
    &-link {
      font-size: 24px;
      line-height: 1.45;

      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    &__content {
      padding-right: 30px;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 60px 0 50px;

    &__content {
      
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 36px;
        font-size: 28px;
      }

      p {
        margin: 16px 0;
        line-height: 1.5;
      }
    }
    &__sidebar {
      width: 280px;
    }
    &__list {
      padding-right: 26px;
      padding-left: 26px;
      
      &-item {
        margin-bottom: 24px;
      }

      &-link {
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__inner {
      flex-direction: column;
    }
    &__content {
      padding-right: 0;

      h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
      }
    }
    &__sidebar {
      width: 100%;
    }
    &__list {
      padding: 26px;
    }
  }
}
