$brown: #cfa051;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'Myriad Pro', sans-serif;
}

a {
  font-family: inherit;
  display: inline-block;
  transition: 300ms;
  color: $brown;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: $brown;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.brown {
  color: $brown;
}

.burger {
  display: none;
}

//====== Header

.header {
  display: flex;
  padding: 20px 0 16px;
}

.logo {
  width: 220px;
  margin-right: 63px;
  flex-shrink: 0;
}

.header-body {
  flex-grow: 10;
}

.callback {
  width: 300px;
  &__tel {
    font-size: 34px;
    font-weight: bold;
    color: #000;
    margin-bottom: 3px;
    text-decoration: none;
    line-height: 1;
    &:hover {
      color: #000;
    }
  }
  &__info {
    color: #848484;
    font-size: 16px;
    font-style: italic;
  }
}

.header-info {
  display: flex;
  font-size: 16px;
  margin-bottom: 11px;
  .city {
    margin-right: 30px;
    display: flex;
    align-items: center;
    position: relative;
    > span {
      margin-right: 5px;
    }
    &-select {
      width: 290px;
      background-color: #faf5ed;
      border: 1px solid $brown;
      margin-top: 18px;
      padding: 13px 20px 20px;
      border-radius: 4px;
      position: absolute;
      top: 100%;
      left: -4px;
      z-index: 10;
      display: none;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #faf5ed;
        border-top: 1px solid $brown;
        border-left: 1px solid $brown;
        position: absolute;
        top: -6px;
        left: 100px;
        transform: rotate(45deg);
      }
    }
    &-head {
      font-size: 16px;
      margin-bottom: 14px;
      a {
        font-weight: 700;
        text-decoration: underline;
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-links {
      a {
        line-height: 30px;
        padding: 0 24px;
        background-color: #fff;
        border: 1px solid #bababa;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: $brown;
          border: 1px solid $brown;
        }
      }
    }
  }
  .phone {
    margin-right: 34px;
    display: flex;
    align-items: center;
  }
  .city img,
  .phone img {
    margin-right: 5px;
  }
}

.nav {
  display: flex;
  li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    &:last-child:after {
      display: none;
    }
    &:after {
      content: '';
      width: 1px;
      height: 25px;
      background-color: #bababa;
      margin: 0 13px;
    }
    a {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      &:hover {
        color: $brown;
      }
    }
  }
}

//======== Showcase

.showcase {
  padding: 102px 0 79px;
  position: relative;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-info {
    max-width: 620px;
    color: #fff;
    flex-shrink: 0;
    &__head {
      font-size: 86px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 27px;
    }
    &__text {
      font-size: 24px;
      margin-bottom: 20px;
      a {
        color: #fff;
      }
    }
  }
  &__girl {
    position: absolute;
    bottom: -40px;
    right: 323px;
  }
  &-contacts {
    width: 300px;
    margin-top: 23px;
    background-color: #fff;
    padding: 20px 25px 25px;
    border-radius: 4px;
    box-shadow: 3.2px 3.8px 18px 2px rgba(207, 160, 81, 0.5);
    p {
      line-height: 1.8;
      font-size: 16px;
      margin-bottom: 8px;
      span {
        display: block;
        i {
          font-style: normal;
          margin-right: 4px;
        }
        a {
          color: #000;
          text-decoration: none;
          margin-left: 2px;
          &:hover {
            color: $brown;
          }
        }
      }
    }
    &__tel {
      color: #000;
      font-size: 34px;
      font-weight: bold;
      line-height: 1;
      text-decoration: none;
    }
  }
}

.ref {
  display: inline-block;
  background-color: #3b312e;
  border-radius: 30px;
  padding: 16px 64px 17px 24px;
  margin-top: 40px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  font-size: 22px;
  box-shadow: 3.2px 3.8px 18px 2px rgba(59, 49, 46, 0.5);
  &:hover {
    color: #fff;
    padding-left: 54px;
    padding-right: 34px;
    .round {
      width: calc(100% - 14px);
      border-radius: 30px;
      justify-content: flex-start;
      i {
        padding-left: 16px;
      }
    }
  }
  span {
    position: relative;
    z-index: 5;
  }
  .round {
    background-color: lighten(#3b312e, 10%);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    transition: 300ms;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 20px;
    }
  }
}



//========= Benefits

.benefits {
  padding: 47px 0 72px;
  &__head {
    font-size: 56px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  &-items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 31%;
    text-align: center;
  }
  &__img {
    margin-bottom: 5px;
  }
  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      border-bottom: 1px solid $brown;
    }
  }
  &__text {
    font-style: italic;
    line-height: 1.5;
  }
}

//======== Modal question

.modal {
  &-question {
    width: 820px;
    margin: 0 auto;
    background-color: #faf5ed;
    border: 1px solid $brown;
    border-radius: 4px;
    padding: 22px 40px 48px 33px;
    display: none;
  }
  &__head {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 28px;
  }
  &-form {
    padding-left: 4px;
    textarea {
      resize: none;
      width: 100%;
      height: 120px;
      background-color: #fff;
      border: 1px solid #bababa;
      border-radius: 4px;
      padding: 17px 22px 10px;
      color: #6c6966;
      font: 400 24px 'Myriad Pro';
      &:focus {
        border: 1px solid $brown;
        color: $brown;
      }
      &::-webkit-input-placeholder { 
        color: #6c6966;
      }
      &:-moz-placeholder { 
        color: #6c6966;
      }
      &::-moz-placeholder { 
        color: #6c6966;
      }
      &:-ms-input-placeholder {
        color: #6c6966;
      }
    }
  }
  &-inputs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
  }
  &-input {
    width: 360px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    input {
      width: 100%;
      height: 60px;
      background-color: #fff;
      border: 1px solid #bababa;
      border-radius: 4px;
      padding: 0 22px;
      color: #6c6966;
      font: 400 24px 'Myriad Pro';
      &:focus {
        border: 1px solid $brown;
        color: $brown;
      }
      &::-webkit-input-placeholder { 
        color: #6c6966;
      }
      &:-moz-placeholder { 
        color: #6c6966;
      }
      &::-moz-placeholder { 
        color: #6c6966;
      }
      &:-ms-input-placeholder {
        color: #6c6966;
      }
    }
  }
  &-error {
    font-size: 14px;
    color: $brown;
    padding-left: 14px;
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    &__compliance {
      font-size: 14px;
      font-style: italic;
      padding: 5px 0 0 5px;
      a {
        color: #000;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    button {
      cursor: pointer;
      border: none;
      transition: 300ms;
      height: 50px;
      background-color: #3b312e;
      border-radius: 25px;
      box-shadow: 3.2px 3.8px 18px 2px rgba(59, 49, 46, 0.5);
      color: #fff;
      font: 700 18px 'Myriad Pro';
      text-transform: uppercase;
      padding: 0 30px;
      &:hover {
        color: $brown;
      }
    }
  }
}

.fancybox-close-small {
  display: none;
}

//======= Modal callback

#modal-callback {
  padding-bottom: 40px;
  .modal {
    &-bottom {
      margin-top: 20px;
    }
  }
}

//========== Offers

.offers {
  padding: 47px 0 10px;
  &-wrap {
    background-color: #faf5ed;
  }
  &__head {
    color: #3b312e;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 600px;
    border: 1px solid $brown;
    border-radius: 4px;
    padding: 34px 48px 47px 48px;
    margin: 0 60px 50px 0;
    text-decoration: none;
    &:hover {
      background-color: rgba(207, 184, 144, .3);
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &__head {
      color: #cfa051;
      font-size: 34px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 27px;
    }
    &__text {
      color: #3b312e;
      line-height: 1.55;
      
    }
  }
}

//======== Calculator

.calculator {
  padding: 46px 0 70px;
  &-wrap {
    background-color: #edf2f4;
  }
  &__head {
    color: #3b312e;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 41px;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 50%;
  }
}

.calc {
  padding: 40px 40px 26px;
  background-color: #fff;
  &-item {
    margin-bottom: 30px;
    &.three {
      margin-bottom: 5px;
    }
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      p {
        font-weight: 700;
        margin-bottom: 0;
      }
      input {
        width: 200px;
        height: 60px;
        border: 1px solid $brown;
        border-radius: 4px;
        padding: 0 42px;
        font: 400 24px 'Myriad Pro';
      }
    }
  }
  &-step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    div {
      font-size: 14px;
      font-weight: 700;  
      color: $brown;
    }
  }
}

.calculator-item.info {
  background-color: $brown;
  padding: 33px 44px;
  .info {
    &-top {
      span {
        display: block;
        color: #fff;
        margin-bottom: 5px;
      }
      h2 {
        display: flex;
        align-items: flex-end;
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 7px;
        span {
          flex-shrink: 0;
          font-size: 18px;
          font-weight: 400;
          padding: 0 0 4px 3px;
          margin-bottom: 0;
        }
      }
      p {
        color: #fff;
        font-style: italic;
        margin-bottom: 18px;
      }
    }
    &-elem {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 9px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li {
          width: 54px;
          height: 54px;
          margin-left: -17px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      a {
        color: #edf2f4;
        font-size: 18px;
        text-decoration: underline;
        margin-left: 23px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-items {
      padding-right: 20px;
      margin-bottom: 16px;
    }
    &-item {
      display: flex;
      align-items: center;
      padding: 6px 0;
      border-bottom: 2px solid #fff;
      &:last-child {
        border-bottom: none;
      }
      p {
        width: 325px;
        color: #fff;
        font-size: 24px;
        margin-bottom: 0;
      }
      span {
        font-size: 34px;
        font-weight: 700;
      }
    }
    &__text {
      font-style: italic;
      line-height: 1.55;
      color: #fff;
      margin-bottom: 15px;
    }
    &-bottom {
      display: flex;
      align-items: center;
      input {
        width: 340px;
        height: 60px;
        background-color: #fff;
        border: none;
        border-radius: 4px 0 0 4px;
        color: #a2a2a2;
        font: 400 24px 'Myriad Pro';
        padding: 0 10px 0 28px;
      }
      .ref {
        border: none;
        cursor: pointer;
        transition: 300ms;
        width: 200px;
        height: 61px;
        border-radius: 4px;
        color: $brown;
        font: 700 16px 'Myriad Pro';
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
        &:hover .round {
          border-radius: 4px;
        }
      }
    }
  }
}

//======= Slider ui

.ui-slider-horizontal {
  height: 2px;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-widget-content {
  background-color: #ddd;
}
.ui-widget-header {
  background-color: $brown;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  transform: translateY(-50%);
}
.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid $brown;
  border-radius: 50%;
  cursor: pointer;
}

//======== Docs

.docs {
  padding: 53px 0 45px;
  &__head {
    font-size: 56px;
    font-weight: 700;
    color: #3b312e;
    margin-bottom: 26px;
    span {
      color: $brown;
    }
  }
  &__text {
    width: 940px;
    font-size: 24px;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 50px;
  }
  &-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-item {
    width: 580px;
    background-color: #fff;
    border: 1px solid $brown;
    border-radius: 4px;
    box-shadow: 3.2px 3.8px 18px 2px rgba(207, 160, 81, 0.5);
    padding-bottom: 50px;
    &-header {
      padding: 33px 20px 40px 78px;
      background-color: #edf2f4;
    }
    &__head {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 21px;
      span {
        font-size: 34px;
        font-weight: 700;
        border-bottom: 2px solid #000;
        margin-left: 4px;
      }
    }
    &__text {
      font-size: 24px;
      font-style: italic;
    }
    ul {
      margin: 0;
      padding: 37px 80px 0;
      list-style: none;
      li {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 21px;
        padding-left: 30px;
        position: relative;
        &:before {
          content: '';
          display: block;
          background: url(../images/docs-arrow.png) no-repeat 50%;
          width: 15px;
          height: 12px;
          position: absolute;
          top: 10px;
          left: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


//======== Issues

.issues {
  padding: 31px 0 64px;
  &__head {
    font-size: 56px;
    font-weight: 700;
    color: #3b312e;
    margin-bottom: 36px;
    span {
      color: $brown;
    }
  }
  &-item {
    &:first-child {
      border-top: 1px solid #bababa;
    }
  }
  &-head {
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    color: $brown;
    border-bottom: 1px solid #bababa;
    position: relative;
    padding: 16px 20px 16px 80px;
    transition: 300ms;
    i {
      position: absolute;
      top: 20px;
      left: 32px;
      transition: 300ms;
    }
    &.active {
      color: #000;
      background-color: #faf5ed;
      border-bottom: 1px solid #faf5ed;
      i {
        transform: rotate(180deg);
      }
    }
    &:hover {
      color: #000;
    }
  }
  &-content {
    font-style: italic;
    padding: 0 100px 16px 108px;
    background-color: #faf5ed;
    border-bottom: 1px solid #bababa;
    line-height: 1.5;
    display: none;
  }
}

//======= Consult

.consult {
  background-color: $brown;
  padding: 10px 100px 0 80px;
  margin-bottom: 72px;
  display: flex;
  align-items: flex-end;
  &-content {
    flex-shrink: 0;
    width: 810px;
    padding: 0 0 30px;
    margin-right: 46px;
    &__head {
      color: #fff;
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 2px;
    }
    &__text {
      color: #fff;
      font-size: 24px;
      font-style: italic;
      margin-bottom: 26px;
    }
  }
  &-info {
    &-bottom {
      display: flex;
      align-items: center;
    }
    &__head {
      font-size: 34px;
      font-style: italic;
      margin-bottom: 1px;
    }
    &__tel {
      font-size: 56px;
      font-weight: 700;
      margin-right: 55px;
      color: #000;
      text-decoration: none;
      &:hover {
        color: #FFF;
      }
    }
    .ref {
      margin-top: 4px;
      background-color: #3b312e;
      box-shadow: 3.2px 3.8px 18px 2px rgba(59, 49, 46, 0.5);
      font-size: 18px;
    }
  }
  &-img {
    width: 220px;
  }
}

//========= Footer

.footer {
  padding: 36px 0 26px;
  display: flex;
  &-wrap {
    background-color: #edf2f4;
  }
  &-logo {
    width: 220px;
    margin-right: 64px;
  }
  &-content {
    margin-top: 2px;
    p {
      margin-bottom: 10px;
      color: #3b312e;
      font-size: 16px;
    }
  }
}













