@font-face {
    font-family: 'Littera';
    src: url('../fonts/LitteraPlainBold.woff2') format('woff2'),
        url('../fonts/LitteraPlainBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype';
    src: url('../fonts/MonotypeCorsiva.woff2') format('woff2'),
        url('../fonts/MonotypeCorsiva.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Littera';
    src: url('../fonts/LitteraPlainBook.woff2') format('woff2'),
        url('../fonts/LitteraPlainBook.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}