button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 300 16px 'Littera', sans-serif; }

a {
  display: inline-block;
  font: 300 16px 'Littera', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    color: #4c8c2b;
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 50px;
  font: 300 16px 'Littera';
  padding: 0 22px;
  border: 1px solid #b2b9cd;
  color: #000; }
  input[type=text]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=color]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder {
    color: #898989; }
  input[type=text]::-ms-input-placeholder,
  input[type=url]::-ms-input-placeholder,
  input[type=tel]::-ms-input-placeholder,
  input[type=number]::-ms-input-placeholder,
  input[type=color]::-ms-input-placeholder,
  input[type=email]::-ms-input-placeholder,
  input[type=password]::-ms-input-placeholder {
    color: #898989; }
  input[type=text]::placeholder,
  input[type=url]::placeholder,
  input[type=tel]::placeholder,
  input[type=number]::placeholder,
  input[type=color]::placeholder,
  input[type=email]::placeholder,
  input[type=password]::placeholder {
    color: #898989; }
  input[type=text]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=color]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=password]::-moz-placeholder {
    color: #898989; }

input.input-error {
  border-color: #a94442; }
  input.input-error::-webkit-input-placeholder {
    color: #a94442; }
  input.input-error::-ms-input-placeholder {
    color: #a94442; }
  input.input-error::placeholder {
    color: #a94442; }
  input.input-error::-ms-placeholder {
    color: #a94442; }

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px; }

.star {
  margin: 0 0 21px 3px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .star li {
    font-size: 10px;
    margin-right: 9px;
    color: #f9d00a;
    cursor: pointer; }
    .star li.disabled {
      color: #c8cddc; }
    .star li:last-child {
      margin-right: 0; }

.head {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px; }
  .head .number {
    color: #4c8c2b; }

.link {
  line-height: 38px;
  padding: 0 17px;
  border: 1px solid #4c8c2b;
  color: #4c8c2b;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .link:hover {
    color: #fff;
    background-color: #ec3416;
    border: 1px solid #ec3416; }

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1336px) {
  .container {
    width: 970px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; } }

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 10px !important; }
  .head {
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: 1px; } }

.checkbox {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  font-size: 12px;
  background-color: #fff;
  position: relative; }
  .checkbox-wrap {
    cursor: pointer;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .checkbox-wrap .text {
      margin-left: 16px;
      font-size: 14px;
      color: #fff; }
      .checkbox-wrap .text a {
        font-size: 14px;
        color: #fff;
        text-decoration: underline; }
        .checkbox-wrap .text a:hover {
          text-decoration: none; }
  .checkbox input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    color: #4c8c2b; }
    .checkbox span:before {
      content: "\f00c";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }

.slider-nav {
  width: 244px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%); }

.slider-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.slick-arrow {
  width: 12px;
  height: 20px;
  background: url(../images/left.png) no-repeat left;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 15;
  cursor: pointer;
  border: none;
  padding: 0; }
  .slick-arrow:hover {
    background-position: right; }
  .slick-arrow:focus {
    outline: none; }

.slick-next {
  background-image: url(../images/right.png);
  left: auto;
  right: 0; }

.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .slick-dots li {
    width: 8px;
    height: 8px;
    background-color: #b2b9cd;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    margin: 0 10px; }
    .slick-dots li.slick-active {
      background-color: #4c8c2b; }
    .slick-dots li:hover {
      background-color: #4c8c2b; }
    .slick-dots li button {
      display: none; }

@media (max-width: 1336px) {
  .slider {
    width: 940px;
    margin: 0 auto; } }

@media (max-width: 991px) {
  .slider {
    width: 620px; } }

@media (max-width: 767px) {
  .slider {
    width: 300px; }
    .slider-nav {
      position: static;
      -webkit-transform: translate(0);
      transform: translate(0); }
    .slider-footer {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media (max-width: 575px) {
  .slider-nav {
    margin-bottom: 24px; }
  .slider-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.bread {
  margin: 19px 0 30px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .bread li {
    position: relative;
    color: #898989;
    margin-right: 26px; }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li:after {
      content: '>>';
      display: block;
      position: absolute;
      top: 50%;
      right: -18px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .bread li a {
      color: #4c8c2b; }
      .bread li a:hover {
        text-decoration: underline; }

@media (max-width: 767px) {
  .bread {
    margin: 16px 0; } }

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 53px; }

@media (max-width: 991px) {
  .main-container {
    padding-bottom: 36px; } }

@media (max-width: 767px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 575px) {
  .main-container {
    padding-bottom: 28px; } }

.sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 270px;
  margin-right: 50px; }

.sidebar-list {
  margin: 0 0 40px;
  padding: 26px 30px;
  list-style: none;
  border: 1px solid #b2b9cd; }
  .sidebar-list li {
    margin-bottom: 18px; }
    .sidebar-list li:last-child {
      margin-bottom: 0; }
    .sidebar-list li.active a {
      color: #898989; }
    .sidebar-list li a {
      font-weight: 700;
      color: #4c8c2b;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
      .sidebar-list li a:hover {
        color: #898989; }

@media (max-width: 991px) {
  .sidebar {
    width: 250px;
    margin-right: 10px; }
  .sidebar-list {
    padding: 18px; }
    .sidebar-list li {
      margin-bottom: 12px; } }

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px; }
  .sidebar-list {
    margin-bottom: 20px; } }

@media (max-width: 575px) {
  .sidebar-list {
    padding: 10px; }
    .sidebar-list li {
      margin-bottom: 8px; } }

.burger {
  display: none;
  width: 30px; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: #4c8c2b;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: #4c8c2b;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .top-line-wrap {
    position: relative;
    border-bottom: 1px solid #b2b9cd; }
  .top-line-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.top-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-nav li {
    border-right: 1px solid #b2b9cd; }
    .top-nav li:first-child {
      border-left: 1px solid #b2b9cd; }
    .top-nav li a {
      padding: 11px 19px;
      font-size: 14px;
      color: #9096a7; }
      .top-nav li a:hover {
        color: #4c8c2b; }

.top-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 41px; }
  .top-soc__title {
    font-size: 14px;
    color: #9096a7;
    margin-right: 20px; }
  .top-soc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top-soc ul li {
      margin-right: 16px; }
      .top-soc ul li:last-child {
        margin-right: 0; }
      .top-soc ul li a {
        font-size: 20px;
        color: #b2b9cd; }
        .top-soc ul li a:hover {
          color: #4c8c2b; }

.login {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .login li {
    border-right: 1px solid #b2b9cd; }
    .login li:first-child {
      border-left: 1px solid #b2b9cd; }
    .login li a {
      font-size: 14px;
      color: #9096a7;
      padding: 11px 16px; }
      .login li a:hover {
        color: #4c8c2b; }

@media (max-width: 1336px) {
  .top-nav li a {
    padding: 10px; }
  .top-soc {
    margin-right: 16px; }
  .login li a {
    padding: 10px; } }

@media (max-width: 991px) {
  .top-burger {
    display: block; }
  .top-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .top-nav.active {
      opacity: 1;
      visibility: visible;
      z-index: 15;
      margin-top: 1px; }
    .top-nav li {
      border: none;
      margin: 4px 0; }
      .top-nav li:first-child {
        border: none; }
      .top-nav li a {
        padding: 0; } }

@media (max-width: 575px) {
  .top-soc {
    display: none; } }

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 310px;
  text-align: center;
  font: 700 32px/1 'Monotype';
  letter-spacing: 1px;
  color: #4c8c2b; }
  .logo:hover {
    color: #ec3416; }

.header {
  padding: 24px 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 3px; }

.header-callback {
  width: 240px;
  text-align: center;
  margin: -3px 92px 0 0; }
  .header-callback__tel {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: 1; }
  .header-callback__link {
    color: #4c8c2b;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px; }
    .header-callback__link:hover {
      text-decoration: underline; }

.header-favorites {
  width: 243px;
  margin: 0 31px 0 0;
  padding: 0;
  list-style: none;
  font-size: 16px; }
  .header-favorites li {
    margin-bottom: 8px; }
    .header-favorites li:last-child {
      margin-bottom: 0; }
    .header-favorites li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000; }
      .header-favorites li a:hover {
        color: #4c8c2b; }
        .header-favorites li a:hover i {
          color: #4c8c2b; }
      .header-favorites li a .value {
        color: #4c8c2b;
        font-weight: 700;
        margin-left: 8px; }
      .header-favorites li a i {
        color: #b2b9cd;
        font-size: 13px;
        margin-right: 11px;
        -webkit-transition: 300ms;
        transition: 300ms; }

.header-cart {
  width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .header-cart-item {
    position: relative;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #898989;
    font-weight: 700;
    letter-spacing: .5px; }
    .header-cart-item .value {
      color: #4c8c2b;
      margin-left: 4px; }
    .header-cart-item:last-child {
      margin-bottom: 0; }
    .header-cart-item i {
      position: absolute;
      top: 5px;
      left: -23px;
      font-size: 13px;
      color: #ec3416; }

@media (max-width: 1336px) {
  .logo {
    width: 280px;
    font-size: 28px; }
  .header-callback {
    width: 218px;
    margin: 0 12px 0 0; }
    .header-callback__tel {
      font-size: 26px; }
    .header-callback__link {
      margin-top: 0; }
  .header-favorites {
    width: 196px; }
    .header-favorites li {
      margin-bottom: 4px; }
  .header-cart {
    font-size: 15px; } }

@media (max-width: 991px) {
  .header-callback {
    display: none; } }

@media (max-width: 767px) {
  .header-favorites {
    display: none; } }

@media (max-width: 575px) {
  .logo {
    margin: 0 auto; }
  .header-cart {
    display: none; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 16px 0 0; }
  .main-nav-wrap {
    position: relative;
    border-top: 1px solid #b2b9cd;
    border-bottom: 1px solid #b2b9cd; }
  .main-nav-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.m-catalog {
  width: 220px;
  margin-right: 20px; }
  .m-catalog-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .m-catalog-title {
    font-weight: 700;
    letter-spacing: 1px;
    color: #4c8c2b;
    text-transform: uppercase;
    cursor: pointer; }
    .m-catalog-title i {
      font-size: 16px;
      margin-right: 15px; }

.search {
  width: 540px;
  height: 54px;
  position: relative; }
  .search input {
    height: 100%;
    padding: 0 40px 0 26px;
    border: none;
    background-color: #edf3e9; }
  .search button {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer; }

.custom-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .custom-nav li {
    margin-right: 62px; }
    .custom-nav li:last-child {
      margin-right: 0; }
    .custom-nav li a {
      font-weight: 700;
      letter-spacing: 1px;
      color: #4c8c2b;
      text-transform: uppercase; }
      .custom-nav li a:hover {
        color: #ec3416; }

@media (max-width: 1336px) {
  .main-nav {
    padding-right: 0; }
  .m-catalog {
    width: 180px;
    margin-right: 10px; }
  .search {
    width: 380px;
    height: 50px; }
  .custom-nav li {
    margin-right: 28px; } }

@media (max-width: 991px) {
  .custom-nav-burger {
    display: block; }
  .custom-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .custom-nav.active {
      margin-top: 1px;
      opacity: 1;
      visibility: visible;
      z-index: 15; }
    .custom-nav li {
      margin: 4px 0; } }

@media (max-width: 767px) {
  .search {
    width: 310px; } }

@media (max-width: 575px) {
  .main-nav {
    padding: 10px 0; }
  .search {
    display: none; } }

.showcase {
  margin: 29px 0 36px; }
  .showcase-banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .showcase-banners-main {
      -webkit-box-flex: 10;
      -ms-flex-positive: 10;
      flex-grow: 10; }
    .showcase-banners-items {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 380px;
      margin-left: 20px; }
    .showcase-banners-item {
      margin-bottom: 20px; }
      .showcase-banners-item:last-child {
        margin-bottom: 0; }

@media (max-width: 991px) {
  .showcase {
    margin: 18px 0 26px; }
    .showcase-banners {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .showcase-banners-main {
        margin-bottom: 10px; }
      .showcase-banners-items {
        width: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .showcase-banners-item {
        width: 370px;
        margin: 0 5px 10px 0; }
        .showcase-banners-item:last-child {
          margin: 0 0 10px; } }

@media (max-width: 767px) {
  .showcase {
    margin-bottom: 18px; }
    .showcase-banners-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .showcase-banners-item {
      margin: 0 5px 10px; }
      .showcase-banners-item:last-child {
        margin: 0 5px 10px; } }

.advantages {
  margin: 20px 0 62px;
  padding: 0 22px; }
  .advantages-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .advantages-item {
    width: 200px;
    margin-right: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .advantages-item:last-child {
      margin-right: 0; }
    .advantages-item-img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 60px;
      margin-right: 17px; }
    .advantages-item p {
      font-size: 18px;
      line-height: 1.44;
      margin-bottom: 0; }

@media (max-width: 1336px) {
  .advantages {
    padding: 0; }
    .advantages-item {
      margin-right: 13px; }
      .advantages-item-img {
        margin-right: 8px; }
      .advantages-item p {
        font-size: 16px; } }

@media (max-width: 991px) {
  .advantages {
    margin-bottom: 20px; }
    .advantages-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .advantages-item {
      margin: 0 10px 20px; } }

@media (max-width: 767px) {
  .advantages {
    margin-top: 16px;
    margin-bottom: 26px; }
    .advantages-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .advantages-item {
      width: 100%;
      margin: 0 0 18px; }
      .advantages-item:last-child {
        margin: 0; } }

.recommend {
  margin-bottom: 48px; }

@media (max-width: 767px) {
  .recommend {
    margin-bottom: 32px; } }

.new {
  margin: 20px 0 52px; }

@media (max-width: 767px) {
  .new {
    margin-bottom: 32px; } }

.products-links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .products-links .link {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    line-height: 32px;
    margin-top: 12px;
    padding: 0 16px; }

.products-cost__actually {
  font-size: 24px;
  font-weight: 700;
  color: #ec3416;
  margin-bottom: 13px; }

.products-cost__old {
  font-weight: 700;
  text-decoration: line-through;
  color: #898989; }

.products-item {
  width: 300px;
  margin: 0 0 30px 20px;
  border: 2px solid #b2b9cd;
  -webkit-transition: 300ms;
  transition: 300ms; }
  .products-item:last-child {
    margin-right: 0; }
  .products-item:hover {
    border: 2px solid #ec3416; }
  .products-item-img {
    height: 228px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    position: relative; }
    .products-item-img:hover:before, .products-item-img:hover:after {
      opacity: 1; }
    .products-item-img:before, .products-item-img:after {
      content: '';
      display: block;
      position: absolute;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .products-item-img:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5); }
    .products-item-img:after {
      top: 50%;
      left: 50%;
      background: url(../images/zoom.png) no-repeat 50%;
      width: 58px;
      height: 58px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .products-item-content {
    padding: 0 18px 19px; }
  .products-item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .products-item__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    color: #898989;
    margin-bottom: 14px; }
  .products-item__link {
    font-size: 14px;
    color: #ec3416; }

.products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 8px -20px; }
  .products-items.slider {
    margin: 0 auto 32px; }
    .products-items.slider .products-links .link {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-top: 0;
      margin-bottom: 9px; }
    .products-items.slider .products-item {
      margin: 0 10px; }
      .products-items.slider .products-item__link {
        color: #898989; }
        .products-items.slider .products-item__link:hover {
          color: #4c8c2b; }

@media (max-width: 1336px) {
  .products-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0; }
  .products-item {
    margin: 0 10px 20px; }
    .products-item:last-child {
      margin: 0 10px 20px; } }

@media (max-width: 991px) {
  .products-items.slider {
    margin-bottom: 20px; } }

@media (max-width: 575px) {
  .products-item {
    margin: 0 5px 10px; }
    .products-item:last-child {
      margin: 0 5px 10px; } }

.subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 60px 0 70px; }
  .subs-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 100px; }
    .subs-content__title {
      font-size: 34px;
      font-weight: 700;
      line-height: 1.29;
      margin-bottom: 24px; }
    .subs-content p {
      line-height: 1.63;
      margin-bottom: 0; }
  .subs-form {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 380px;
    padding: 28px 30px 36px;
    background-color: #ec3416; }
    .subs-form .checkbox-wrap {
      margin: 22px 0; }
    .subs-form__head {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.56;
      letter-spacing: 1.8px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .subs-form__title {
      margin-bottom: 10px;
      color: #fff; }
    .subs-form button {
      width: 180px;
      height: 40px;
      margin: 0 auto;
      background-color: #4c8c2b;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms;
      border: none; }
      .subs-form button:hover {
        background-color: #589936; }

@media (max-width: 1336px) {
  .subs {
    margin: 38px 0; }
    .subs-content {
      margin-right: 20px; }
      .subs-content__title {
        font-size: 28px;
        margin-bottom: 10px; }
      .subs-content p {
        line-height: 1.4; } }

@media (max-width: 991px) {
  .subs {
    margin-bottom: 30px; }
    .subs-form {
      width: 300px;
      padding: 20px 14px; }
      .subs-form .checkbox {
        margin-top: 2px; }
        .subs-form .checkbox-wrap {
          margin: 12px 0;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
          .subs-form .checkbox-wrap .text {
            margin-left: 12px; }
      .subs-form__head {
        line-height: 1.3;
        margin-bottom: 12px; }
      .subs-form__title {
        margin-bottom: 6px; }
      .subs-form input {
        height: 46px;
        padding: 0 12px; } }

@media (max-width: 767px) {
  .subs {
    margin: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .subs-content {
      margin-right: 0;
      margin-bottom: 20px; }
      .subs-content__title {
        font-size: 24px;
        line-height: 1; }
    .subs-form {
      width: 100%; } }

.partners {
  padding: 55px 0; }
  .partners .head {
    margin-bottom: 40px; }
  .partners-wrap {
    background: url(../images/partners-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .partners-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 47px; }
  .partners-item {
    width: 180px;
    height: 80px;
    border: 1px solid #b2b9cd;
    padding: 10px;
    margin: 0 18px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

@media (max-width: 1336px) {
  .partners-items {
    width: 828px;
    margin: 0 auto 40px; } }

@media (max-width: 991px) {
  .partners {
    padding: 34px 0; }
    .partners .head {
      margin-bottom: 22px; }
    .partners-items {
      width: 612px; } }

@media (max-width: 767px) {
  .partners .slider-nav {
    margin: 0 auto; }
  .partners-items {
    width: 396px;
    margin-bottom: 30px; } }

@media (max-width: 575px) {
  .partners-items {
    width: 300px; }
  .partners-item {
    width: 142px;
    margin: 0 4px; } }

.footer {
  padding: 56px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .footer-wrap {
    background-color: #4c8c2b; }
  .footer-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 202px;
    margin-right: 78px;
    font-family: 'Monotype';
    font-size: 32px;
    line-height: 1.06;
    text-align: center;
    color: #fff; }
    .footer-logo:hover {
      color: #ec3416; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.footer-item {
  width: 218px;
  margin-right: 33px; }
  .footer-item:last-child {
    margin-right: 0; }
  .footer-item.footer-info {
    width: 227px;
    text-align: center;
    margin-top: -7px; }
  .footer-item .link {
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 41px; }
    .footer-item .link:hover {
      border: 1px solid #ec3416; }
  .footer-item__tel {
    font-size: 28px;
    font-weight: 700;
    color: #fff; }
    .footer-item__tel:hover {
      color: #ec3416; }
  .footer-item__link {
    font-size: 14px;
    color: #fff;
    margin-bottom: 33px;
    text-decoration: underline; }
    .footer-item__link:hover {
      color: #fff;
      text-decoration: none; }

.footer-elem {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer-elem li {
    margin-bottom: 14px; }
    .footer-elem li:last-child {
      margin-bottom: 0; }
    .footer-elem li.footer__title {
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      letter-spacing: 1.5px; }
    .footer-elem li a {
      color: #fff;
      text-decoration: underline; }
      .footer-elem li a:hover {
        text-decoration: none; }

.footer-soc__title {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px; }

.footer-soc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer-soc ul li {
    margin: 0 7px; }
    .footer-soc ul li a {
      color: #fff;
      font-size: 23px; }
      .footer-soc ul li a:hover {
        color: #ec3416; }

.bottom {
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .bottom-copyright {
    font-size: 12px;
    color: #f2f4fa; }
  .bottom-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .bottom-links li {
      margin: 0 14px; }
      .bottom-links li a {
        font-size: 12px;
        color: #f2f4fa;
        text-decoration: underline; }
        .bottom-links li a:hover {
          text-decoration: none; }
  .bottom-omg {
    font-size: 12px;
    color: #f2f4fa; }
    .bottom-omg a {
      font-size: 12px;
      color: #f2f4fa;
      text-decoration: underline; }
      .bottom-omg a:hover {
        text-decoration: none; }

@media (max-width: 1336px) {
  .footer {
    padding: 36px 0; }
    .footer-logo {
      margin-right: 24px; }
    .footer-item {
      width: 167px;
      margin-right: 14px; }
      .footer-item .link {
        font-size: 14px;
        letter-spacing: 0;
        padding: 0 14px;
        margin-bottom: 24px; }
      .footer-item.footer-info {
        width: 200px;
        margin-top: 0; }
      .footer-item__tel {
        font-size: 24px; }
      .footer-item__link {
        margin-bottom: 24px; }
    .footer-elem li {
      margin-bottom: 10px; }
      .footer-elem li.footer__title {
        letter-spacing: .6px; }
      .footer-elem li a {
        font-size: 15px; }
  .bottom-links li {
    margin: 0 8px; } }

@media (max-width: 991px) {
  .footer {
    padding-bottom: 20px; }
    .footer-item {
      width: 50%;
      margin-right: 0;
      margin-bottom: 20px;
      padding-right: 10px; }
      .footer-item .link {
        margin-bottom: 16px; }
      .footer-item.footer-info {
        width: 50%; }
      .footer-item__link {
        margin-bottom: 16px; }
    .footer-elem {
      text-align: center; }
    .footer-soc__title {
      margin-bottom: 6px; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 16px; }
    .bottom-links {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 2px; } }

@media (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 22px; }
    .footer-logo {
      margin-right: 0;
      margin-bottom: 20px; } }

@media (max-width: 575px) {
  .footer-item {
    width: 100% !important;
    padding-right: 0; }
  .footer-elem li {
    margin-bottom: 7px; } }

.blog .head {
  margin-bottom: 25px; }

.blog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .blog-footer .link {
    padding: 0 26px; }

.blog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 7px -20px; }

.blog-item {
  width: 300px;
  margin: 0 0 29px 20px;
  padding: 20px 21px 22px 22px;
  border: 1px solid #b2b9cd;
  -webkit-transition: 300ms;
  transition: 300ms; }
  .blog-item:hover {
    background-color: #fff;
    border: 1px solid #ec3416; }
  .blog-item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog-item__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #4c8c2b; }
    .blog-item__title:hover {
      color: #ec3416;
      text-decoration: underline; }
  .blog-item__description {
    line-height: 1.65;
    margin-bottom: 14px; }
  .blog-item__date {
    font-size: 14px;
    font-weight: 700;
    color: #898989; }
  .blog-item__rubric {
    font-size: 14px;
    font-weight: 700;
    color: #898989;
    text-transform: uppercase;
    text-decoration: underline; }
    .blog-item__rubric:hover {
      color: #ec3416;
      text-decoration: underline; }

.blog-tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .blog-tags li {
    margin-right: 23px;
    position: relative; }
    .blog-tags li:after {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      background-color: #b2b9cd;
      position: absolute;
      top: 50%;
      right: -11px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .blog-tags li:last-child {
      margin-right: 0; }
      .blog-tags li:last-child:after {
        display: none; }
    .blog-tags li.active a {
      color: #898989; }
    .blog-tags li a {
      font-size: 14px;
      font-weight: 700;
      color: #4c8c2b;
      letter-spacing: 1px;
      text-transform: uppercase; }
      .blog-tags li a:hover {
        color: #898989; }

@media (max-width: 1336px) {
  .blog-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0; }
  .blog-item {
    margin: 0 10px 20px; } }

@media (max-width: 991px) {
  .blog-item {
    width: 235px;
    padding: 12px;
    margin: 0 5px 10px; }
    .blog-item__title {
      line-height: 1.25;
      margin-bottom: 4px; }
    .blog-item__description {
      line-height: 1.4;
      margin-bottom: 10px; }
    .blog-item-footer {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .blog-item__date {
      margin-right: 4px; }
    .blog-item__date, .blog-item__rubric {
      margin-bottom: 3px; }
  .blog-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blog-tags {
    margin-bottom: 20px; } }

@media (max-width: 767px) {
  .blog .head {
    margin-bottom: 18px; }
  .blog-item {
    width: 266px;
    margin: 0 5px 10px; }
  .blog-tags {
    margin-bottom: 15px; }
    .blog-tags li:after {
      display: none; } }

.m-blog {
  padding: 54px 0 50px; }
  .m-blog .head {
    margin-bottom: 31px; }
  .m-blog .blog-item {
    margin-bottom: 22px; }
  .m-blog-wrap {
    background: url(../images/m-blog.jpg) no-repeat 50%;
    background-size: cover; }

@media (max-width: 991px) {
  .m-blog {
    padding: 40px 0 32px; }
    .m-blog .head {
      margin-bottom: 20px; }
    .m-blog .blog-items {
      margin-bottom: 20px; }
    .m-blog .blog-item {
      margin-bottom: 10px; } }

@media (max-width: 767px) {
  .m-blog .blog-items {
    margin-bottom: 12px; } }

.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0; }
  .pagination li {
    margin: 0 2px; }
    .pagination li.active a {
      color: #898989;
      border: 1px solid #c7cddf; }
    .pagination li.prev, .pagination li.next {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .pagination li.prev {
      margin-right: 40px; }
    .pagination li.next {
      margin-left: 40px; }
    .pagination li.prev a,
    .pagination li.next a {
      width: 12px;
      height: 20px;
      background: url(../images/left.png) no-repeat left;
      -webkit-transition: none;
      transition: none;
      border: none; }
      .pagination li.prev a:hover,
      .pagination li.next a:hover {
        border: none;
        background-position: right; }
    .pagination li.next a {
      background-image: url(../images/right.png); }
    .pagination li a {
      width: 40px;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      color: #4c8c2b;
      border: 1px solid transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .pagination li a:hover {
        color: #898989;
        border: 1px solid #c7cddf; }

@media (max-width: 575px) {
  .pagination li.prev {
    margin-right: 16px; }
  .pagination li.next {
    margin-left: 16px; }
  .pagination li a {
    width: 32px;
    height: 32px; } }

.favorites {
  margin-bottom: 68px; }

@media (max-width: 991px) {
  .favorites {
    margin-bottom: 50px; } }

@media (max-width: 767px) {
  .favorites {
    margin-bottom: 32px; } }

.cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 70px; }
  .cabinet-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 100px; }
  .cabinet__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 31px; }
  .cabinet-items {
    border: 1px solid #c7cddf;
    padding: 28px 28px 40px; }
  .cabinet-item {
    display: none; }
    .cabinet-item.active {
      display: block; }

.cabinet-subs {
  margin-top: 38px; }

.cabinet-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cabinet-tabs li {
    margin-right: 10px; }
    .cabinet-tabs li:last-child {
      margin-right: 0; }
    .cabinet-tabs li.active a {
      background-color: #ec3416; }
    .cabinet-tabs li a {
      width: 220px;
      height: 40px;
      font-weight: 700;
      color: #fff;
      background-color: #c7cddf;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .cabinet-tabs li a:hover {
        background-color: #ec3416; }

@media (max-width: 1336px) {
  .cabinet-items {
    padding: 16px 16px 24px; }
  .cabinet-body {
    margin-right: 20px; }
  .cabinet-tabs li a {
    width: auto;
    padding: 0 30px; } }

@media (max-width: 991px) {
  .cabinet {
    margin-bottom: 50px; }
    .cabinet-tabs li a {
      letter-spacing: 1px; } }

@media (max-width: 767px) {
  .cabinet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px; }
    .cabinet__title {
      margin-bottom: 22px; }
    .cabinet-body {
      width: 100%;
      margin-right: 0; }
    .cabinet-subs {
      margin-top: 26px; } }

@media (max-width: 575px) {
  .cabinet-tabs li a {
    padding: 0 20px; } }

.profile-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.profile-item {
  width: calc(50% - 10px); }
  .profile-item:first-child {
    margin-right: 20px; }
  .profile-item .link {
    margin-left: 122px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .profile-item .link:hover {
      background-color: #4c8c2b;
      border: 1px solid #4c8c2b; }
  .profile-item:last-child {
    margin-right: 0; }
  .profile-item__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }

.profile-inputs {
  margin-bottom: 40px; }

.profile-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px; }
  .profile-input:last-child {
    margin-bottom: 0; }
  .profile-input__title {
    padding-top: 10px; }
  .profile-input input {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 220px;
    height: 40px;
    padding: 0 14px; }

@media (max-width: 1336px) {
  .profile-item {
    width: calc(50% - 8px); }
    .profile-item:first-child {
      margin-right: 16px; }
    .profile-item .link {
      margin-left: 0; }
    .profile-item__title {
      margin-bottom: 12px; }
  .profile-inputs {
    margin-bottom: 18px; }
  .profile-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 8px; }
    .profile-input__title {
      margin-bottom: 4px; }
    .profile-input-item,
    .profile-input input {
      width: 100%; } }

@media (max-width: 991px) {
  .profile-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .profile-item {
    width: 100%; }
    .profile-item:first-child {
      margin-right: 0;
      margin-bottom: 20px; }
    .profile-item__title {
      margin-bottom: 6px; } }

.order-tabs {
  margin: 0;
  padding: 0 0 16px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #b2b9cd; }
  .order-tabs li {
    margin-right: 20px; }
    .order-tabs li:last-child {
      margin-right: 0; }
    .order-tabs li.active a {
      color: #000; }
    .order-tabs li a {
      font-size: 14px;
      font-weight: 700;
      color: #898989; }
      .order-tabs li a:hover {
        color: #000; }

.order-table table {
  width: 100%;
  border-collapse: collapse; }
  .order-table table td {
    vertical-align: top;
    padding: 28px 0 30px;
    border-bottom: 1px solid #b2b9cd; }
    .order-table table td:first-child {
      width: 351px; }
    .order-table table td:nth-child(2) {
      width: 188px; }
    .order-table table td:nth-child(3) {
      width: 152px; }
    .order-table table td:last-child {
      width: 30px; }

.order-table__head {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px; }

.order-table__text {
  font-size: 14px; }

.order-table__address {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px; }
  .order-table__address b {
    font-weight: 700; }

.order-table-img {
  width: 16px;
  margin-top: 28px;
  cursor: pointer; }

.order-product {
  padding-top: 23px; }
  .order-product thead td {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4c8c2b;
    text-align: center; }
    .order-product thead td:first-child {
      width: 131px; }
    .order-product thead td:nth-child(2) {
      width: 323px;
      text-align: left; }
    .order-product thead td:nth-child(3) {
      width: 73px; }
    .order-product thead td:nth-child(4) {
      width: 116px; }
    .order-product thead td::last-child {
      width: 60px; }
  .order-product tbody td {
    vertical-align: top;
    text-align: center;
    font-size: 18px;
    padding: 12px 0; }
    .order-product tbody td:first-child, .order-product tbody td:nth-child(2) {
      text-align: left; }
  .order-product-img {
    width: 110px;
    margin-top: 5px;
    border: 1px solid #b2b9cd; }
  .order-product__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    margin-bottom: 4px;
    color: #000; }
  .order-product__code {
    font-size: 14px; }
  .order-product__cost {
    font-weight: 700; }

@media (max-width: 1336px) {
  .order-product thead td:nth-child(2) {
    width: 220px; }
  .order-product__title {
    font-size: 16px;
    line-height: 1.4; } }

@media (max-width: 991px) {
  .order-table, .order-product {
    width: 396px;
    overflow: auto; }
    .order-table table, .order-product table {
      width: 536px; } }

@media (max-width: 767px) {
  .order-table, .order-product {
    width: 100%; }
    .order-table table, .order-product table {
      width: 100%; }
  .order-table__head {
    margin-bottom: 5px; }
  .order-table__address {
    line-height: 1.2;
    margin-top: 10px; }
  .order-product tbody td {
    font-size: 16px; }
  .order-product__title {
    line-height: 1.2; }
  .order-product-img {
    width: 96px; } }

@media (max-width: 575px) {
  .order-table table, .order-product table {
    width: 536px; } }
