$orange: #e0562c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'RistrettoPro', sans-serif;
}

a {
  font: 400 18px 'RistrettoPro', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1580px;
  margin: 0 auto;
  position: relative;
}

.link {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  position: relative;
  z-index: 5;
  background: url(../images/link-img.png) no-repeat 50%;
  line-height: 62px;
  padding: 0 45px 0 38px;
  &:hover {
    color: #000;
  }
}

/* Header */

.header {
  padding: 0 0 50px;
  &-wrap {
    background: url(../images/header-bg.jpg) no-repeat 50%;
    background-size: cover;
    padding-top: 104px;
  }
  &-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 18px 0;
    background: rgba(0, 0, 0, .4);
  }
  &-link {
    float: right;
  }
  &-content {
    width: 920px;
    padding: 11px 0 0;
    h3 {
      font-size: 44px;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 4.5px;
      font-weight: 400;
      margin: 0 0 18px;
      span {
        display: inline-block;
        margin-right: 10px;
        color: $orange;
      }
    }
    &__text {
      width: 590px;
      margin: 22px 0 43px;
      p {
        font-size: 30px;
        line-height: 1.3;
        color: #fff;
        &:first-child {
          color: $orange;
        }
      }
    }
    &_link {
      margin-left: 82px;
      &:before {
        content: '';
        display: block;
        background: url(../images/link-img-arrow.png) no-repeat 50%;
        width: 36px;
        height: 20px;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 18px;
        transition: 300ms;
      }
      &:hover:before {
        right: 15px;
      }
    }
  }
  &-items {
    font-size: 0;
    margin: 67px 0 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    margin: 0 38px;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
    &-img {
      height: 100px;
    }
    &__img {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
    }
    p {
      font-size: 32px;
      color: #fff;
      margin: 0 0 10px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    span {
      font-size: 32px;
      color: #fff;
      letter-spacing: 2px;
    }
  }
}

.nav {
  float: left;
  margin-top: 20px;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 77px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      a {
        color: #fff;
      }
    }
    a {
      color: $orange;
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: 3.5px;
      &:hover {
        color: #fff;
      }
    }
  }
}

.burger-wrap {
  display: none;
}

/* Sentence */

.sentence {
  padding: 110px 0 40px;
  &-wrap {
    background: url(../images/sentence-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-content {
    width: 700px;
    position: relative;
    &-img {
      position: absolute;
      top: 133px;
      left: 200px;
    }
    h3 {
      color: $orange;
      font: 700 64px 'RistrettoPro';
      letter-spacing: 3.7px;
      margin: 0 0 153px;
    }
    p {
      font-size: 24px;
      color: #fff;
      line-height: 1.35;
      margin: -12px 0 36px;
    }
  }
  &-link {
    margin: 0 0 0 83px;
    position: relative;
    padding: 0 72px 0 46px;
    &:before {
      content: '';
      display: block;
      background: url(../images/link-img-arrow2.png) no-repeat 50%;
      width: 20px;
      height: 36px;
      position: absolute;
      top: 14px;
      right: 27px;
      transition: 300ms;
    }
    &:hover:before {
      top: 16px;
    }
  }
  &-items {
    margin: 56px 0 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  &-item {
    &-par {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 300px;
      margin-right: 92px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-info {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 125px;
      margin-right: 110px;
      &:last-child {
        margin-right: 11px;
      }
    }
    &__img {
      height: 94px;
    }
    &__text {
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.1;
    }
  }
}

/* Reviews */

.reviews {
  padding: 178px 0 40px;
  position: relative;
  &-wrap {
    background: url(../images/reviews-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-items {
    width: 1260px;
    margin: 0 auto 224px;
    font-size: 0;
    position: relative;
    .slick-prev,
    .slick-next {
      border: none;
      cursor: pointer;
      z-index: 5;
      background: url(../images/reviews-slider-arrows.png) no-repeat left;
      width: 36px;
      height: 20px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: -70px;
    }
    .slick-next {
      background: url(../images/reviews-slider-arrows.png) no-repeat right;
      left: auto;
      right: -70px;
    }
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    padding: 24px 28px 22px 26px;
    border: 1px solid #fff;
    margin: 0 10px;
    width: 630px;
    position: relative;
    &-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      top: 23px;
      left: 28px;
    }
    &-content {
      padding-left: 110px;
    }
    &__head {
      font-size: 28px;
      text-decoration: underline;
      color: #fff;
      margin-bottom: 14px;
      &:hover {
        text-decoration: none;
      }
    }
    p {
      font-size: 20px;
      color: #fff;
      font-style: italic;
      line-height: 1.4;
      a {
        font-size: 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-left: 3px;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  &-content {
    width: 920px;
    margin-left: 430px;
    position: relative;
    z-index: 5;
    li {
      color: #fff;
      padding-left: 50px;
      position: relative;
      line-height: 1.35;
      &:before {
        content: '';
        display: block;
        width: 31px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 11px;
        left: 0;
      }
    }
  }
  &_name {
    position: absolute;
    top: 126px;
    left: 50%;
    margin-left: -254px;
  }
  &_regulations {
    position: absolute;
    bottom: 61px;
    left: 157px;
  }
}

/* Gallery */

.gallery {
  padding: 115px 0 40px;
  position: relative;
  &-wrap {
    background: url(../images/foto-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-video {
    width: 867px;
    height: 440px;
    position: relative;
    margin: 0 0 60px 83px;
    &:before {
      content: '';
      display: block;
      background: url(../images/gallery-before.png) no-repeat 50%;
      width: 109px;
      height: 466px;
      position: absolute;
      top: -11px;
      left: -20px;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/gallery-after.png) no-repeat 50%;
      width: 108px;
      height: 473px;
      position: absolute;
      top: -14px;
      right: -74px;
    }
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 460px;
    height: 310px;
  }
  &_foto {
    position: absolute;
    top: 210px;
    right: 88px;
  }
}

/* Schedule */

.schedule {
  padding: 150px 0 45px;
  position: relative;
  &-wrap {
    background: url(../images/schedule-bg.jpg) no-repeat 50%;
    background-size: cover; 
  }
  &__data {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 46px 160px;
  }
  &__img {
    text-align: center;
  }
  &_head {
    position: absolute;
    top: 120px;
    left: 350px;
  }
}

/* Contacts */

.contacts {
  position: absolute;
  top: 0;
  right: 328px;
  width: 380px;
  background: #fff;
  padding: 112px 26px 36px 29px;
  h2 {
    font-size: 64px;
    text-transform: uppercase;
    color: $orange;
    margin-bottom: 10px;
    letter-spacing: 7px;
  }
  p {
    font-size: 28px;
    margin-bottom: 12px;
  }
  &-tel {
    margin-bottom: 10px;
    a {
      color: #000;
      font-size: 28px;
      &:hover {
        color: $orange;
      }
    }
  }
  &__mail {
    color: $orange;
    border-bottom: 1px solid $orange;
    margin-bottom: 18px;
    font-size: 28px;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &-wrap {
    position: relative;
    iframe {
      border: none;
      width: 100%;
      height: 476px;
    }
  }
  &-soc {
    a {
      width: 36px;
      height: 36px;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

/* Footer */

.footer {
  padding: 36px 0 15px;
  &-wrap {
    background: #282828;
  }
}

.slider {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  .slick-prev,
  .slick-next {
    border: none;
    cursor: pointer;
    z-index: 5;
    background: url(../images/slider-arrows2.png) no-repeat left;
    width: 36px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -57px;
  }
  .slick-next {
    background: url(../images/slider-arrows2.png) no-repeat right;
    left: auto;
    right: -57px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 480px;
    margin: 0 33px;
    font-size: 0;
    &-img {
      display: inline-block;
      vertical-align: top;
      width: 300px;
      height: 180px;
    }
    &-content {
      display: inline-block;
      vertical-align: top;
      width: 180px;
      font-size: 24px;
      color: #fff;
      line-height: 1.4;
      padding: 14px 0 18px 24px;
    }
  }
}

.partners {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 80px 26px;
  border-bottom: 1px solid #000;
  margin-bottom: 21px;
}

.contact {
  padding-right: 86px;
  form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-input {
    width: 430px;
    margin-right: 66px;
    position: relative;
    padding-left: 38px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      cursor: pointer;
    }
    label {
      width: 390px;
      font: 300 14px/1.3 'Gilroy';
      color: #fff;
      cursor: pointer;
    }
  }
  &-info {
    width: 260px;
    margin-right: 125px;
    text-align: center;
    p {
      color: #fff;
      text-transform: uppercase;
      font-size: 28px;
      margin-bottom: 15px;
    }
    a {
      font-size: 48px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        color: $orange;
      }
    }
  }
}

















