@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Bold.woff2') format('woff2'),
        url('../fonts/Qanelas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-SemiBold.woff2') format('woff2'),
        url('../fonts/Qanelas-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Medium.woff2') format('woff2'),
        url('../fonts/Qanelas-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Regular.woff2') format('woff2'),
        url('../fonts/Qanelas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Black.woff2') format('woff2'),
        url('../fonts/Qanelas-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}