@media only screen and (max-width: 1600px) {
  .showcase {
    padding-top: 80px; }
    .showcase-content {
      width: 760px; }
      .showcase-content-head {
        font-size: 44px; }
    .showcase-info {
      top: 40px;
      right: -40px; } }

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1170px; }
  .logo {
    width: 196px;
    margin: 0; }
  .header {
    padding: 6px 0; }
    .header-content {
      padding-top: 0; }
      .header-content p {
        font-size: 16px; }
    .header-info a {
      font-size: 22px; }
    .header-info p {
      font-size: 16px; }
  .showcase {
    height: 430px;
    padding-top: 40px; }
    .showcase-content {
      width: 610px; }
      .showcase-content-head {
        font-size: 26px;
        margin-bottom: 50px; }
        .showcase-content-head img {
          width: 60px;
          height: 44px; }
      .showcase-content__order {
        font-size: 28px;
        margin-bottom: 80px; }
      .showcase-content__text {
        font-size: 20px; }
    .showcase-info {
      width: 460px;
      height: 400px;
      background-image: url(../images/showcase-info1201.png);
      top: 16px;
      right: 0;
      background-size: 100%;
      padding: 36px 48px 0; }
      .showcase-info-head {
        margin-bottom: 20px; }
        .showcase-info-head h2 {
          font-size: 18px; }
    .showcase-product {
      margin-bottom: 6px; }
      .showcase-product-header {
        margin-bottom: 0;
        padding-right: 140px; }
      .showcase-product__name {
        font-size: 26px; }
      .showcase-product__price {
        font-size: 44px; }
      .showcase-product__composition {
        font-size: 16px; }
    .showcase-form-input {
      margin-bottom: 8px; }
      .showcase-form-input input {
        height: 40px;
        font-size: 18px; }
    .showcase-form .checkbox {
      margin: 0 0 20px; }
      .showcase-form .checkbox-text {
        font-size: 14px; }
        .showcase-form .checkbox-text a {
          font-size: 14px; }
    .showcase-form button {
      font-size: 18px;
      height: 40px;
      padding: 0 18px; }
    .showcase .schedule {
      width: 110px;
      height: 110px; }
      .showcase .schedule-number {
        font-size: 60px; }
  .partners {
    padding: 12px 0; }
  .bottom {
    padding: 12px 0; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px; }
  .showcase-wrap {
    height: auto; }
  .showcase-content {
    width: 530px; }
    .showcase-content-head {
      margin-bottom: 30px; }
    .showcase-content__order {
      font-size: 22px;
      margin-bottom: 60px; }
    .showcase-content__text {
      font-size: 18px; }
  .showcase-info {
    width: 436px; }
  .partners {
    margin: 0; }
  .bottom {
    font-size: 16px; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px; }
  .header-content {
    width: 292px; }
  .showcase {
    height: 400px;
    padding-top: 34px; }
    .showcase-content {
      width: 364px; }
      .showcase-content-head {
        padding-right: 0;
        font-size: 22px; }
      .showcase-content__order {
        font-size: 18px; }
      .showcase-content__text {
        font-size: 16px; }
    .showcase-info {
      width: 390px;
      height: 380px;
      padding: 40px 40px 0; }
      .showcase-info-head h2 {
        font-size: 16px; }
    .showcase-product-header {
      padding-right: 114px; }
    .showcase-product__name {
      font-size: 21px; }
    .showcase-product__price {
      font-size: 36px;
      right: -8px; }
    .showcase-product__composition {
      font-size: 14px; }
    .showcase-form-input input {
      height: 36px;
      font-size: 16px; }
    .showcase-form .checkbox-text {
      padding: 0 42px 0 21px; }
    .showcase-form button {
      margin-left: 20px; }
    .showcase .schedule {
      width: 90px;
      height: 90px; }
      .showcase .schedule-number {
        font-size: 48px; }
      .showcase .schedule-text {
        font-size: 20px;
        margin-top: -14px; }
  .partners {
    justify-content: center;
    flex-wrap: wrap; }
    .partners li {
      margin: 0 40px 10px; }
  .bottom {
    font-size: 14px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .logo {
    margin-bottom: 10px; }
  .header {
    flex-direction: column;
    padding: 18px 0 14px; }
    .header-content {
      width: 100%;
      margin-bottom: 10px; }
    .header-info {
      text-align: center; }
  .showcase {
    height: auto;
    padding-bottom: 10px; }
    .showcase-content {
      width: 100%; }
      .showcase-content-head {
        margin-bottom: 20px; }
        .showcase-content-head img {
          width: 44px;
          height: 32px; }
      .showcase-content__order {
        margin-bottom: 24px; }
    .showcase-info {
      position: static;
      margin: 0 auto; }
    .showcase .schedule {
      display: none; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px; }
  .showcase-content {
    margin-bottom: 20px; }
  .showcase-info {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #f9ce3c;
    padding: 20px 10px; }
  .showcase-product__price {
    right: 0; }
  .showcase-form .checkbox-text {
    padding-right: 0; }
  .partners {
    padding-top: 20px; } }
