button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 700 16px 'Qanelas', sans-serif; }

a {
  display: inline-block;
  font: 700 16px 'Qanelas', sans-serif;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  position: relative; }

.logo {
  margin-top: 8px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  position: relative;
  z-index: 5; }
  .header:after {
    content: '';
    display: block;
    background-color: #fff;
    width: 8000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -4000px;
    z-index: -1; }
  .header-content {
    width: 400px;
    text-align: center;
    padding-top: 3px; }
    .header-content p {
      font-size: 24px;
      margin: 0;
      line-height: 1.5; }
  .header-info {
    text-align: right; }
    .header-info a {
      color: #9e1f11;
      font-size: 34px; }
      .header-info a span {
        color: #000; }
    .header-info p {
      font-size: 18px;
      margin: 0; }

.showcase {
  height: 692px;
  position: relative;
  padding: 140px 0 0; }
  .showcase-wrap {
    height: 100vh;
    background: url(../images/showcase-bg.jpg) no-repeat 50% 100%;
    background-size: cover;
    overflow: hidden; }
  .showcase-content {
    width: 800px; }
    .showcase-content-head {
      text-shadow: 0 0 29.8px rgba(0, 0, 0, 0.93);
      font-size: 48px;
      font-weight: 600;
      line-height: 1.4;
      color: #fff;
      padding-right: 126px;
      margin-bottom: 80px; }
      .showcase-content-head span {
        text-transform: uppercase; }
      .showcase-content-head img {
        width: 79px;
        height: 70px;
        margin: -6px 2px 0 5px; }
    .showcase-content__order {
      text-shadow: 0 0 43.2px rgba(0, 0, 0, 0.93);
      color: #f9ce3c;
      font-size: 34px;
      margin-bottom: 100px; }
    .showcase-content__text {
      text-shadow: 0 0 43.2px rgba(0, 0, 0, 0.93);
      color: #fff;
      font-size: 24px;
      font-weight: 500; }
  .showcase-info {
    width: 538px;
    height: 538px;
    background: url(../images/showcase-info.png) no-repeat 50%;
    position: absolute;
    top: 65px;
    right: 0;
    padding: 54px 80px 0; }
    .showcase-info-head {
      margin-bottom: 33px;
      text-align: center; }
      .showcase-info-head h2 {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: .6px;
        border-bottom: 1px solid #000;
        text-transform: uppercase;
        margin: 0; }
  .showcase .schedule {
    width: 120px;
    height: 120px;
    background-color: #9e1f11;
    position: absolute;
    bottom: 42px;
    right: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f9ce3c; }
    .showcase .schedule-number {
      font-size: 68px;
      margin-top: -8px; }
    .showcase .schedule-text {
      font-size: 24px;
      margin-top: -20px; }

.showcase-product {
  margin-bottom: 24px; }
  .showcase-product-header {
    display: flex;
    align-items: flex-end;
    padding-right: 170px;
    margin-bottom: 5px;
    position: relative; }
  .showcase-product__name {
    font-size: 38px; }
  .showcase-product__price {
    color: #9e1f11;
    font-size: 58px;
    position: absolute;
    top: -18px;
    right: -14px; }
  .showcase-product__composition {
    font-weight: 400;
    font-size: 18px; }

.showcase-form-input {
  width: 100%;
  margin-bottom: 20px; }
  .showcase-form-input input {
    width: 100%;
    height: 44px;
    font: 400 24px 'Qanelas';
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    color: #000; }
    .showcase-form-input input::-webkit-input-placeholder {
      color: #000; }
    .showcase-form-input input:-moz-placeholder {
      color: #000; }
    .showcase-form-input input::-moz-placeholder {
      color: #000; }
    .showcase-form-input input:-ms-input-placeholder {
      color: #000; }

.showcase-form .checkbox {
  margin: 6px 0 26px;
  position: relative;
  cursor: pointer; }
  .showcase-form .checkbox input {
    position: absolute;
    top: 2px;
    left: 0; }
  .showcase-form .checkbox-text {
    padding: 0 70px 0 26px;
    font-size: 16px;
    font-weight: 400; }
    .showcase-form .checkbox-text a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #000; }
      .showcase-form .checkbox-text a:hover {
        text-decoration: none; }

.showcase-form button {
  height: 60px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0 24px;
  margin-left: 26px;
  font: 900 32px 'Qanelas';
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms; }
  .showcase-form button:hover {
    color: #9e1f11;
    border: 2px solid #9e1f11; }

.partners {
  margin: 0 24px 0 20px;
  padding: 18px 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5; }
  .partners:after {
    content: '';
    display: block;
    background-color: rgba(232, 232, 232, 0.9);
    width: 8000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -4000px;
    z-index: -1; }

.bottom {
  padding: 16px 0;
  text-shadow: 0 0 43.2px rgba(0, 0, 0, 0.93);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center; }
