$blue: #092674;
$red: #ff0000;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Roboto', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'Roboto', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.head {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.22;
  color: $blue;
  margin-bottom: 30px;
  a {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.22;
    color: #7c7c7c;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.text {
  font-size: 18px;
  line-height: 1.56;
  color: #000;
  margin-bottom: 40px;
}

.link {
  line-height: 50px;
  padding: 0 26px;
  border-radius: 30px;
  background-color: $red;
  font-weight: 700;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: #df0e0e;
  }
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .container {
    width: 970px;
  }
  
  .head {
    font-size: 36px;
    a {
      font-size: 36px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }
  
  .head {
    font-size: 30px;
    margin-bottom: 16px;
    a {
      font-size: 30px;
    }
  }
}
@media (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px;
  }
  
  .head {
    font-size: 26px;
    a {
      font-size: 26px;
    }
  }
  
  .text {
    font-size: 16px;
    margin-bottom: 22px;
  }
  
  .link {
    line-height: 45px;
    padding: 0 18px;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      transition: all .2s ease-in-out;
      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 3px;
        position: absolute;
        left: 0;
        background-color: #fff;
        transition: all .2s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
    &.active {
      span {
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }
        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .burger {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .burger {
    right: 10px;
  }
}

// Header

.logo {
  flex-shrink: 0;
  width: 270px;
  margin-right: 111px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 25px;
  &-wrap {
    background-color: $blue;
  }
  &-body {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-info {
    display: flex;
    align-items: center;
    &__btn {
      line-height: 40px;
      margin-right: 32px;
    }
    &__tel {
      font-size: 32px;
      font-weight: 700;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1336px) {
  .logo {
    margin-right: 40px;
  }
  .header {
    padding: 25px 15px;
    &-wrap .container {
      width: 100%;
    }
    &-body {
      justify-content: flex-end;
      padding-right: 50px;
    }
  }
}

@media (max-width: 991px) {
  .logo {
    width: 240px;
    margin-right: 0;
  }
  .header {
    &-info {
      &__btn {
        margin-right: 14px;
      }
      &__tel {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .logo {
    width: 214px;
  }
  .header {
    padding: 22px 10px;
    &-wrap .container {
      padding: 0;
    }
    &-info__tel {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .header {
    &-info {
      display: none;
    }
  }
}

// Nav

.nav {
  li {
    position: relative;
    margin-right: 55px;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 28px;
      position: absolute;
      top: 50%;
      right: -27px;
      transform: translateY(-50%);
      background-color: #1c8cf0;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &.active a {
      color: #fff;
    }
    a {
      color: #1e98ff;
      font-weight: 700;
      &:hover {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1336px) {
  .nav {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 15px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 300ms;
    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
      z-index: 15;
    }
    li {
      margin: 4px 0;
      &:after {
        display: none;
      }
    }
  }
}

// Showcase

.showcase {
  display: flex;
  padding: 90px 0 69px;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-content {
    width: 610px;
  }
  &-list {
    margin: 0 0 43px;
    padding: 0;
    list-style: none;
    li {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 10px;
      padding-left: 41px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(../images/check-mark.png) no-repeat 50%;
        width: 21px;
        height: 16px;
        position: absolute;
        top: 6px;
        left: 0;
      }
    }
  }
}

@media (max-width: 1336px) {
  .showcase {
    padding: 60px 0 50px;
    &-content {
      width: 544px;
    }
  }
}

@media (max-width: 991px) {
  .showcase {
    padding: 48px 0 30px;
    &-content {
      width: 436px;
    }
    &-list {
      margin-bottom: 26px;
      li {
        font-size: 16px;
        line-height: 1.4;
        &:before {
          top: 2px;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  .showcase {
    padding-top: 30px;
    &-wrap {
      background: #fff;
    }
    &-content {
      width: 100%;
    }
  }
}

// Serve

.serve {
  padding: 60px 0 59px;
  .head {
    margin-bottom: 23px;
  }
  .text {
    max-width: 856px;
  }
  &-wrap {
    background-color: #e2eff8;
  }
  &-item {
    display: none;
    &.active {
      display: flex !important;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 620px;
    margin-right: 101px;
    text-align: center;
  }
  &-content {
    padding-top: 14px;
    &__title {
      color: $blue;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    &__text {
      line-height: 1.65;
      margin-bottom: 41px;
    }
  }
}

.serve-tabs {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  border-radius: 30px;
  border: 1px solid $blue;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    width: 25%;
    height: 48px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    color: $blue;
    border-right: 1px solid $blue;
    cursor: pointer;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active,
    &:hover {
      color: #fff;
      background-color: $blue;
    }
    &:last-child {
      border-right: none;
    }
  }
}

@media (max-width: 1336px) {
  .serve {
    &-tabs {
      li {
        font-size: 16px;
      }
    }
    &-img {
      width: 500px;
      margin-right: 32px;
    }
    &-content {
      &__title {
        margin-bottom: 16px;
      }
      &__text {
        line-height: 1.45;
        margin-bottom: 26px;
      }
    }
  }
}

@media (max-width: 991px) {
  .serve {
    padding: 40px 0 30px;
    &-tabs {
      li {
        width: 50%;
        &:nth-child(2) {
          border-right: none;
        }
      }
    }
    &-img {
      width: 380px;
      margin-right: 20px;
    }
    &-content {
      padding-top: 5px;
      &__text {
        margin-bottom: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .serve {
    &-tabs {
      margin-bottom: 24px;
    }
    &-item {
      flex-direction: column;
    }
    &-img {
      margin: 0 auto 20px;
    }
  }
}

@media (max-width: 575px) {
  .serve {
    &-tabs {
      flex-direction: column;
      li {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $blue;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &-img {
      width: 100%;
    }
  }
}

// Wherefore

.wherefore {
  padding: 62px 0 59px;
  .head {
    margin-bottom: 35px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 550px;
    margin: 0 148px 48px 0;
    display: flex;
    align-items: flex-start;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 60px;
    margin-right: 40px;
    text-align: center;
  }
  &-content {
    padding-top: 18px;
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 0;
    }
  }
  &-btn {
    text-align: center;
    margin-top: -10px;
  }
}

@media (max-width: 1336px) {
  .wherefore {
    padding: 50px 0 40px;
    &-item {
      width: 470px;
      margin: 0 30px 38px 0;
    }
    &-img {
      margin-right: 26px;
    }
    &-content {
      padding-top: 10px;
      h2 {
        font-size: 22px;
        margin-bottom: 14px;
      }
    }
    &-btn {
      margin-top: 0;
    }
  }
}

@media (max-width: 991px) {
  .wherefore {
    &-item {
      width: 360px;
    }
    &-content {
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 767px) {
  .wherefore {
    padding-top: 40px;
    &-item {
      width: 100%;
      margin: 0 0 26px;
    }
  }
}

@media (max-width: 575px) {
  .wherefore {
    &-img {
      margin-right: 16px;
    }
    &-content {
      padding-top: 4px;
      h2 {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }
  }
}

// Tariff

.tariff {
  padding: 61px 0 59px;
  .head {
    margin-bottom: 44px;
  }
  &-wrap {
    background-color: #e2eff8;
  } 
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
    &__title {
      font-size: 24px;
    }
  }
  &-items {
    display: flex;
    align-items: flex-start;
  }
  &-item {
    width: 380px;
    margin-right: 60px;
    border: 3px solid $blue;
    &:last-child {
      margin-right: 0;
    }
    &-header {
      background-color: #fff;
      padding: 23px 10px 28px 26px;
    }
    &-body {
      padding: 18px 24px 42px;
    }
    &-btn {
      text-align: center;
    }
    &-list {
      margin: 0 0 30px;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 24px;
        line-height: 1.65;
        margin-bottom: 26px;
        &:before {
          content: '';
          display: block;
          height: 1px;
          width: 12px;
          background-color: $blue;
          position: absolute;
          top: 12px;
          left: 3px;
        }
      }
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
      color: $blue;
    }
  }
  &-cost {
    margin-bottom: 28px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &__outdated {
      color: #7c7c7c;
      margin-right: 20px;
      margin-bottom: 3px;
      text-decoration: line-through;
    }
    &__actual {
      font-size: 34px;
      color: $red;
    }
  }
}

.tariff-nav {
  width: 100%;
  max-width: 1020px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid $blue;
  overflow: hidden;
  li {
    width: 25%;
    border-right: 1px solid $blue;
    &:last-child {
      border-right: none;
    }
    a {
      height: 48px;
      font-size: 18px;
      font-weight: 700;
      background-color: #fff;
      color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
    &.active a {
      color: #fff;
      background-color: $blue;
    }
  }
}

@media (max-width: 1336px) {
  .tariff {
    .head {
      margin-bottom: 30px;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      &__title {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    &-item {
      margin-right: 16px;
      &-header {
        padding: 16px 6px 18px 12px;
      }
      &-body {
        padding: 18px 12px 28px;
      }
      &-list {
        margin-bottom: 20px;
        li {
          margin-bottom: 12px;
          line-height: 1.5;
        }
      }
    }
    &-cost {
      margin-bottom: 20px;
      &__outdated {
        margin-right: 10px;
      }
      &__actual {
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 991px) {
  .tariff {
    padding: 44px 0 36px;
    &-header {
      margin-bottom: 28px;
      &__title {
        font-size: 20px;
      }
    }
    &-nav {
      li a {
        font-size: 16px;
      }
    }
    &-item {
      &__title {
        font-size: 22px;
      }
      &-body {
        padding: 12px 8px 20px;
      }
      &-list {
        li {
          font-size: 15px;
          line-height: 1.3;
          margin-bottom: 8px;
        }
      }
    }
    &-cost {
      &__outdated {
        font-size: 12px;
      }
      &__actual {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .tariff {
    padding: 36px 0 24px;
    &-nav {
      flex-wrap: wrap;
      li {
        width: 50%;
        &:nth-child(2) {
          border-right: none;
        }
      }
    }
    &-header {
      &__title {
        font-size: 18px;
      }
    }
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      width: 320px;
      margin: 0 5px 16px;
      &:last-child {
        margin: 0 5px 16px;
      }
    }
  }
}

@media (max-width: 575px) {
  .tariff {
    &-nav {
      li {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $blue;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &-items {
      flex-direction: column;
      align-items: center;
    }
    &-item {
      width: 290px;
      margin: 0 0 16px !important;
    }
  }
}

// Offer

.offer {
  padding: 65px 0 87px;
  .head {
    margin-bottom: 24px;
  }
  .text {
    max-width: 746px;
    margin-bottom: 51px;
  }
  &-body {
    display: flex;
  }
  &-img {
    flex-shrink: 0;
    width: 700px;
  }
  &-items {
    padding: 3px 59px 0 0;
  }
  &-item {
    margin-bottom: 48px;
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 28px;
    }
    p {
      margin-bottom: 0;
      line-height: 1.65;
    }
  }
}

@media (max-width: 1336px) {
  .offer {
    padding: 54px 0 40px;
    &-img {
      width: 500px;
    }
    &-items {
      padding: 0 20px 0 0;
    }
    &-item {
      margin-bottom: 14px;
      h2 {
        font-size: 22px;
        margin-bottom: 8px;
      }
      p {
        line-height: 1.4;
      }
    }
  }
}

@media (max-width: 991px) {
  .offer {
    padding-top: 40px;
    .text {
      margin-bottom: 30px;
    }
    &-img {
      width: 360px;
    }
    &-item {
      h2 {
        font-size: 20px;
      }
      p {
        line-height: 1.3;
      }
    }
  }
}

@media (max-width: 767px) {
  .offer {
    &-body {
      flex-direction: column;
      align-items: center;
    }
    &-img {
      order: -1;
      margin: 0 auto 16px;
    }
    &-items {
      padding-right: 0;
    }
  }
}

@media (max-width: 575px) {
  .offer {
    .head {
      margin-bottom: 16px;
    }
    .text {
      margin-bottom: 18px;
    }
    &-img {
      width: 100%;
    }
  }
}

// Partners

.partners {
  padding: 56px 0 41px;
  .head {
    color: #fff;
    margin-bottom: 23px;
  }
  .text {
    max-width: 618px;
    color: #fff;
    margin-bottom: 53px;
  }
  &-wrap {
    background-color: $blue;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
  }
  &-item {
    width: calc(100% / 16 * 2 - 18px);
    margin: 0 0 43px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1336px) {
  .partners {
    padding: 42px 0 18px;
    .text {
      margin-bottom: 34px;
    }
    &-item {
      width: calc(100% / 12 * 2 - 18px);
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 991px) {
  .partners {
    &-item {
      width: calc(20% - 18px);
    }
  }
}

@media (max-width: 767px) {
  .partners {
    &-item {
      width: calc(100% / 12 * 3 - 18px);
    }
  }
}

@media (max-width: 575px) {
  .partners {
    &-item {
      width: calc(50% - 18px);
    }
  }
}

// Attest

.attest {
  padding: 63px 0 72px;
  .head {
    max-width: 900px;
  }
  .text {
    max-width: 834px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-top: 8px;
  }
  &-item {
    width: 286px;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    &-header {
      margin-bottom: 27px;
      padding-right: 55px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__text {
      line-height: 1.65;
    }
  }
  &-head {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    span {
      width: 34px;
      height: 34px;
      color: #fff;
      background-color: $red;
      border-radius: 50%;
      margin-left: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1336px) {
  .attest {
    &-head {
      font-size: 21px;
    }
    &-item {
      width: 230px;
      margin-right: 16px;
      &-header {
        margin-bottom: 16px;
        padding-right: 28px;
      }
      &__text {
        line-height: 1.4;
      }
    }
  }
}

@media (max-width: 991px) {
  .attest {
    padding: 44px 0;
    .text {
      margin-bottom: 28px;
    }
    &-items {
      justify-content: center;
      margin-bottom: 20px;
    }
    &-item {
      width: 280px;
      margin: 0 18px 20px;
      &:last-child {
        margin: 0 18px 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .attest {
    &-item {
      width: 250px;
      margin: 0 11px 20px;
      &:last-child {
        margin: 0 11px 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .attest {
    padding: 30px 0;
    &-item {
      width: 100%;
      margin: 0 0 16px !important;
    }
  }
}

// Callback

.callback {
  background-color: #e2eff8;
  padding: 12px 30px 17px 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-content {
    width: 49%;
    display: flex;
    align-items: center;
    &__number {
      flex-shrink: 0;
      font-size: 84px;
      font-weight: 700;
      color: $blue;
      margin-right: 25px;
    }
    &__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
    }
  }
  &-form {
    width: 49%;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    input {
      width: 400px;
      height: 50px;
      border-radius: 30px;
      background-color: #fff;
      padding: 0 21px;
      margin-right: 20px;
      font: 700 16px 'Roboto';
      color: #000;
      border: 2px solid $blue;
      &::placeholder {
        color: #7c7c7c;
      }
      &::-moz-placeholder {
        color: #7c7c7c;
      }
    }
    button {
      width: 160px;
      border: none;
      cursor: pointer;
      transition: 300ms;
    }
  }
}

@media (max-width: 1336px) {
  .callback {
    padding: 12px 16px;
    &-content {
      &__number {
        font-size: 62px;
        margin-right: 16px;
      }
      &__text {
        font-size: 20px;
        line-height: 1.2;
      }
    }
    &-form {
      width: 51%;
      input {
        padding: 0 12px;
        margin-right: 10px;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  .callback {
    flex-direction: column;
    align-items: center;
    padding: 12px 40px 20px;
    &-content {
      width: 100%;
      margin-bottom: 4px;
    }
    &-form {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .callback {
    padding-right: 20px;
    padding-left: 20px;
    &-form {
      input {
        height: 45px;
      }
    }
  }
}

@media (max-width: 575px) {
  .callback {
    padding: 10px;
    &-content {
      &__number {
        font-size: 50px;
        margin-right: 8px;
      }
      &__text {
        font-size: 18px;
      }
    }
    &-form {
      flex-direction: column;
      align-items: center;
      input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
}

// Footer

.footer {
  margin-bottom: 71px;
  &-wrap {
    padding: 70px 0 35px;
    background-color: $blue;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 280px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    &.footer-demo {
      padding-top: 4px;
      .footer-item__head {
        font-size: 20px;
      }
    }
    &__head,
    &__link {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 30px;
    }
    &__link:hover {
      color: $red;
    }
    &__text {
      min-height: 127px;
      color: #fff;
      line-height: 1.65;
      margin-bottom: 10px;
    }
  }
  &-info {
    color: #fff;
    margin-top: -7px;
    &__title {
      line-height: 1.65;
      margin-bottom: 2px;
    }
    &__link {
      color: #1a9bff;
      &:hover {
        color: #1a9bff;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1336px) {
  .footer {
    margin-bottom: 40px;
    &-wrap {
      padding: 44px 0;
    }
    &-item {
      margin-right: 14px;
      &.footer-demo {
        padding-top: 0;
      }
      &__head,
      &__link {
        font-size: 20px;
        margin-bottom: 20px;
      }
      &__text {
        min-height: auto;
        margin-bottom: 20px;
        font-size: 15px;
      }
      .link {
        line-height: 46px;
        font-size: 15px;
        padding: 0 12px;
      }
    }
    &-info__title {
      font-size: 15px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    margin-bottom: 20px;
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      width: 48%;
      margin: 0 7px 24px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &-wrap {
      padding: 30px 0;
    }
    &-item {
      width: 47%;
      &__head,
      &__link {
        font-size: 18px !important;
        margin-bottom: 14px;
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {
    margin-bottom: 8px;
    &-item {
      width: 100%;
      margin: 0 0 26px !important;
      &__text {
        margin-bottom: 12px;
      }
    }
  }
}

// Bottom

.bottom {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  &-copyright {
    margin-bottom: 2px;
  }
  &-items {
    &.bottom-data {
      max-width: 450px;
    }
    &.bottom-info {
      max-width: 408px;
    }
  }
  &-item {
    line-height: 1.7;
    a {
      font-size: 14px;
      color: #1996f7;
      &:hover {
        color: #1996f7;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1336px) {
  .bottom {
    position: relative;
    &-copyright {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -28px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 991px) {
  .bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .bottom {
    &-copyright {
      position: static;
      order: 3;
      transform: translate(0);
    }
  }
}