$green: #37bc44;
$verdant: #43b24e;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Qanelas', sans-serif;
}

a {
  color: #000;
  font: 400 16px 'Qanelas', sans-serif;
  transition: 300ms;
  display: inline-block;
  vertical-align: top;
  font-family: inherit;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.burger {
  display: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.head {
  display: inline-block;
  vertical-align: top;
  font: 800 16px 'Qanelas';
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-right: 14px;
  margin-bottom: 38px;
  position: relative;
  z-index: 5;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: #89ec93;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.link {
  background-color: $verdant;
  color: #fff;
  font: 700 16px/60px 'Qanelas';
  text-transform: uppercase;
  padding: 0 36px;
  letter-spacing: 3px;
  &:hover {
    background-color: $green;
    color: #fff;
  }
}

// Header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 18px;
  &-info {
    text-align: right;
    &__tel {
      font-size: 32px;
      font-weight: 700;
      &:hover {
        color: $green;
      }
    }
  }
}

// Nav

.nav {
  margin-right: 102px;
  padding-top: 14px;
  &-wrap {
    display: flex;
    align-items: center;
  }
  li {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-weight: 700;
      text-transform: uppercase;
      padding-right: 8px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        background-color: #89ec93;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: 300ms;
      }
      &:hover {
        color: #000;
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &.active {
      a:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Showcase

.showcase {
  padding: 110px 0 82px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  &-wrap {
    background: url(../images/ShwBG.jpg) no-repeat 50%;
  }
  &-img {
    position: absolute;
    bottom: 120px;
    left: 0;
  }
  &-input {
    width: 100%;
    margin-bottom: 16px;
    label {
      cursor: pointer;
      color: #fff;
      font: 700 18px 'Qanelas';
    }
    input {
      border: none;
      border-bottom: 2px solid #fff;
      width: 100%;
      height: 32px;
      background-color: transparent;
      color: #fff;
      font: 700 18px 'Qanelas';
      &::-webkit-input-placeholder { 
        color: #fff;
      }
      &:-moz-placeholder { 
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
    }
  }
}

// Showcase checkbox

.showcase-checkbox {
  padding: 5px 0 31px;
  label {
    cursor: pointer;
    margin: 0;
    position: relative;
    input {
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: 0;
      width: 14px;
      height: 14px;
      border: none;
    }
  }
  &-text {
    padding-left: 22px;
    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #fff;
    }
  }
}

// Showcase content

.showcase-content {
  padding-top: 27px;
  &__head {
    font-size: 48px;
    font-weight: 700;
    background-color: #fff;
    margin-bottom: 0;
    padding: 0 10px;
  }
  &-text {
    span {
      display: inline-block;
      padding: 0 10px 5px;
      font-size: 24px;
      font-weight: 700;
      background-color: #fff;
    }
  }
}

// Showcase info

.showcase-info {
  align-self: flex-start;
  flex-shrink: 0;
  width: 380px;
  background-color: $verdant;
  border: 5px solid #fff;
  padding: 21px 26px 24px;
  &__head {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 3px;
  }
  &__text {
    font-size: 24px;
    margin-bottom: 41px;
  }
  &__note {
    text-align: center;
    color: #fff;
  }
  button {
    border: none;
    cursor: pointer;
    transition: 300ms;
    height: 60px;
    padding: 0 40px;
    margin: 0 0 20px 7px;
    background-color: #fff;
    text-transform: uppercase;
    font: 700 16px 'Qanelas';
    &:hover {
      background-color: #1f4823;
      color: #fff;
    }
  }
}

// Warranty

.warranty {
  display: flex;
  align-items: flex-start;
  margin-bottom: 54px;
  &-head {
    width: 320px;
    background-color: #fff;
    margin: -75px 95px 0 0;
    padding-top: 50px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 2000px;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 100%;
    }
    .head {
      margin-bottom: 32px;
      &:after {
        z-index: -1;
      }
    }
  }
  &-content {
    width: 320px;
    flex-shrink: 0;
    padding-right: 66px;
    &__head {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 0;
    }
    &__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;
    }
  }
}

// Warranty item

.warranty {
  &-items {
    display: flex;
    flex-grow: 10;
    padding-top: 35px;
  }
  &-item {
    width: 22.5%;
    margin-right: 45px;
    padding-bottom: 28px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 90px;
      height: 5px;
      background-color: $verdant;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:first-child {
      margin-right: 62px;
    }
    &:nth-child(2) {
      margin-right: 54px;
    }
    &:nth-child(3) {
      margin-right: 18px;
    }
    &:last-child {
      width: 18%;
      margin-right: 0;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    &__text {
      font-weight: 700;
    }
  }
}

// Consult

.consult {
  position: relative;
  &-wrap {
    background-color: #f0f5f8;
    padding: 58px 0 38px;
    margin: 0 90px 86px;
    .head {
      margin-bottom: 42px;
    }
  }
  &-img {
    width: 380px;
    position: absolute;
    top: 6px;
    left: 0;
  }
  &-content {
    padding-left: 430px;
    margin-top: -5px;
    &__text {
      font-style: italic;
      line-height: 1.65;
    }
  }
  &-caption {
    padding: 27px 0 0;
    display: flex;
    align-items: flex-start;
    &__text {
      width: 360px;
      margin: -3px 62px 0 0;
      font-weight: 700;
      line-height: 1.65;
    }
    &__mark {
      font: 400 49px 'Pushkin';
      transform: skewY(-9deg);
      transform-origin: center left;
    }
  }
  &-info {
    border: 6px solid $green;
    padding: 13px 24px 13px 53px;
    a, span {
      font-size: 24px;
      font-weight: 700;
    }
    a {
      border-bottom: 1px solid #000;
      &:hover {
        color: #000;
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Staff

.staff {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 17px;
  &-wrap {
    .head {
      margin-bottom: 36px;
    }
  }
  &-item {
    width: 360px;
    margin: 0 80px 61px 0;
    display: flex;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.45;
      padding: 16px 0 0 0;
    }
    &-img {
      flex-shrink: 0;
      width: 200px;
    }
    &-content {
      flex-grow: 10;
      padding-top: 50px;
      padding-left: 40px;
    }
    &__head {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 8px;
    }
    &__name {
      margin-bottom: 33px;
    }
  }
  &-info {
    width: 200px;
    border: 6px solid $green;
    padding: 42px 37px 60px 44px;
    &__num {
      font-size: 48px;
      font-weight: 700;
    }
    &__text {
      line-height: 1.6;
    }
  }
}

// Offer

.offer {
  padding: 64px 0 111px;
  position: relative;
  &-wrap {
    background-color: #f0f5f8;
    margin: 0 90px;
  }
  &-head {
    margin-bottom: 37px;
    .head {
      margin-bottom: 6px;
    }
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 380px;
    margin-right: 61px;
    &:last-child {
      margin-right: 0;
      .offer-list {
        padding-top: 10px;
      }
    }
    &-img {
      margin-bottom: 24px;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      border-bottom: 2px solid $green;
      margin-bottom: 8px;
      &:hover {
        color: #000;
        border-bottom: 2px solid transparent;
      }
    }
  }
  &-info {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    img {
      flex-shrink: 0;
    }
    &__day {
      padding-left: 13px;
      font-weight: 700;
    }
    &__cost {
      padding-left: 13px;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &-list {
    padding: 0;
    margin: 0;
    padding-top: 22px;
    li {
      list-style-type: none;
      line-height: 1.65;
    }
    &__mark {
      font-size: 24px;
    }
  }
}

// Pricing

.pricing {
  position: absolute;
  bottom: 57px;
  left: 0;
  border: 6px solid $green;
  padding: 26px 80px 25px 44px;
  &__text {
    margin-bottom: 10px;
  }
  &-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__download {
      font-size: 24px;
      font-weight: 700;
      border-bottom: 1px solid #000;
      margin-right: 5px;
      &:hover {
        color: $green;
        border-bottom: 1px solid transparent;
      }
    }
    &__text {
      font-size: 24px;
      margin-right: 5px;
    }
    &-size {
      span {
        text-transform: uppercase;
      }
    }
  }
}

// Order

.order {
  display: flex;
  margin-bottom: 75px;
  position: relative;
  z-index: 10;
  padding: 40px 94px 0 80px;
  background: url(../images/OrBG.jpg) no-repeat 50%;
  background-size: cover;
  &-wrap {
    margin: 0 90px;
    background-color: #f0f5f8;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 80px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  &-content {
    flex-grow: 10;
    padding: 60px 0 22px 100px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 4px;
    }
    &__text {
      line-height: 1.6;
      margin-bottom: 51px;
      color: #fff;
    }
    &__note {
      font-size: 48px;
      font-weight: 700;
      color: #fff;
    }
    &__empty {
      font-size: 24px;
      font-weight: 700;
      color: $green;
      margin-bottom: 48px;
    }
    &__info {
      color: #fff;
    }
  }
  .showcase-info {
    align-self: flex-end;
    border: none;
    padding: 38px 31px 32px;
    button {
      padding: 0 40px;
      margin: 0 0 20px 20px;
    }
  }
}

// Order inner

.order_inner {
  .order {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 77px;
    &-content {
      order: -1;
      padding-left: 0;
      padding-right: 100px;
      padding-top: 58px;
    }
    .showcase-info button {
      margin-left: 44px;
    }
  }
}


// Perform

.perform {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  &-wrap {
    overflow: hidden;
    .head {
      margin-bottom: 45px;
    }
  }
  &-img {
    flex-grow: 10;
    display: flex;
    &-big {
      flex-grow: 10;
    }
    &-small {
      padding: 0;
      margin: 0 0 0 20px;
      width: 220px;
      flex-shrink: 0;
      li {
        list-style-type: none;
        margin-bottom: 14px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-link {
    margin: 50px 0 0 22px;
  }
  &-items {
    margin-bottom: 150px;
  }
  &-item {
    margin-bottom: 60px;
    position: relative;
    z-index: 10;
    &:after {
      content: '';
      display: block;
      width: 1420px;
      height: 770px;
      background-color: #f0f5f8;
      position: absolute;
      top: 22px;
      right: -237px;
      z-index: -1;
    }
  }
}

// Perform content

.perform-content {
  width: 320px;
  flex-shrink: 0;
  padding: 68px 0 0 58px;
  &__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.45;
    margin-bottom: 40px;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      width: 22px;
      height: 22px;
      flex-shrink: 0;
      margin-right: 15px;
    }
  }
}

// Perform reverse

.perform-item.reverse {
  &:after {
    right: auto;
    left: -237px;
  }
  .perform {
    &-img {
      &-small {
        order: -1;
        margin-left: 0;
        margin-right: 20px;
      }
    }
    &-content {
      order: -1;
      padding-left: 0;
      padding-right: 67px;
    }
    &-link {
      margin-left: 32px;
    }
  }
  .review {
    margin-left: 0;
    margin-right: 60px;
    &:after {
      right: auto;
      left: 0;
    }
    &-content {
      order: -1;
      padding: 0 50px 0 160px;
    }
  }
}

// Review

.review {
  display: flex;
  margin: 0 0 133px 60px;
  position: relative;
  z-index: 10;
  &:after {
    content: '';
    display: block;
    background: url(../images/quotes.png) no-repeat 50%;
    width: 240px;
    height: 204px;
    position: absolute;
    bottom: -26px;
    right: 0;
    z-index: -1;
  }
  &-info {
    width: 140px;
    flex-shrink: 0;
    &-img {
      margin-bottom: 18px;
    }
    &__name {
      font-weight: 700;
      margin-bottom: 6px;
    }
    &__city {
      font-weight: 700;
    }
  }
  &-content {
    flex-grow: 10;
    font-style: italic;
    line-height: 1.65;
    padding: 0 176px 0 38px;
  }
}

// Objects

.objects {
  position: relative;
  margin-bottom: 70px;
  font-size: 0;
  &-wrap {
    overflow: hidden;
  }
  &-content {
    width: 400px;
    background-color: #f0f5f8;
    padding: 60px 0 10px;
    position: relative;
    z-index: 100;
    &:before {
      content: '';
      display: block;
      background-color: #f0f5f8;
      width: 240px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 100%;
    }
    &__head {
      font-size: 48px;
      font-weight: 700;
      color: $green;
    }
    .offer-head {
      margin-bottom: 30px;
    }
    .showcase {
      &-checkbox {
        padding: 10px 0 23px;
        label {
          input {
            top: 1px;
          }
        }
        &-text {
          a, span {
            color: #000;
          }
          a {
            margin-right: 4px;
          }
        }
      }
      &-info {
        padding: 27px 58px 17px 0;
        background-color: #f0f5f8;
        border: none;
        button {
          background-color: $green;
          margin: 0 0 20px 20px;
          color: #fff;
          &:hover {
            background-color: $verdant;
          }
        }
        &__note {
          font-size: 16px;
          color: #000;
        }
      }
      &-input {
        input {
          border-bottom: 2px solid #000;
          color: #000;
        }
        label {
          color: #000;
        }
      }
    }
  }
  &-map {
    position: absolute;
    top: 0;
    right: -237px;
    bottom: 0;
    left: 0;
    padding-left: 400px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

// Advantage

.advantage {
  padding-bottom: 29px;
  margin-bottom: 60px;
  border-bottom: 1px solid #898989;
  .head {
    margin-bottom: 49px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 380px;
    margin: 0 60px 34px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-img {
      display: inline-block;
      vertical-align: middle;
      height: 80px;
      line-height: 80px;
      margin-bottom: 18px;
      img {
        display: inline-block;
        vertical-align: middle;
        line-height: 80px;
      }
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
    }
    &__text {
      line-height: 1.65;
    }
  }
}

// Project

.project {
  .head {
    margin-bottom: 58px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 300px;
    margin: 0 20px 20px 0;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

// Pagination

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 19px 0 50px;
  li {
    position: relative;
    margin-right: 20px;
    &:after {
      content: '/';
      display: block;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: 5px;
      right: -14px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:nth-last-child(2):after {
      display: none;
    }
    &.active {
      a {
        background-color: $green;
        color: #fff;
      }
    }
    &.prev,
    &.next {
      margin: 0;
      &:after {
        display: none;
      }
      a {
        width: auto;
        height: auto;
        &:hover {
          background-color: #fff;
          color: $green;
        }
        i {
          font-size: 16px;
        }
      }
    }
    &.prev {
      margin-right: 8px;
    }
    a {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        background-color: $green;
        color: #fff;
      }
    }
  }
}

// Contacts

.contacts {
  position: relative;
  display: flex;
  &-wrap {
    overflow: hidden;
    margin: 0 90px;
    background-color: $verdant;
  }
  &-content {
    width: 700px;
    padding: 88px 0 59px;
    position: relative;
    z-index: 100;
    display: flex;
  }
  &-item {
    width: 206px;
    text-align: center;
    flex-shrink: 0;
    padding-top: 10px;
    margin-right: 32px;
    &-logo {
      margin-bottom: 68px;
    }
  }
  &-map {
    position: absolute;
    top: 0;
    left: 0;
    right: -240px;
    bottom: 0;
    padding-left: 700px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

// Contacts info

.contacts-info {
  flex-grow: 10;
  &-item {
    margin-bottom: 90px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__head {
    color: #fff;
    margin-bottom: 8px;
  }
  &__tel {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 13px;
    &:hover {
      color: #000;
    }
  }
  &-mail {
    margin-top: 14px;
    span, a {
      color: #fff;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__address {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
  }
  &__text {
    color: #fff;
  }
}

// Bottom

.bottom {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    a {
      text-decoration: underline;
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Manual

.manual {
  padding-top: 56px;
  &-wrap {
    overflow: hidden;
    background-color: #f0f5f8;
    margin: 0 90px;
  }
  &-head {
    text-align: center;
    .head {
      padding: 0 19px;
      margin-bottom: 60px;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: none;
      &:after {
        height: 25px;
        background-color: #89ec93;
      }
    }
  }
}

// Manual item

.manual {
  &-items {
    position: relative;
    height: 332px;
  }
  &-item {
    width: 365px;
    position: relative;
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0;
    }
    &__num {
      font-size: 78px;
      font-weight: 900;
      color: $green;
      position: absolute;
      top: -18px;
      left: 0;
    }
    &-content {
      padding-left: 115px;
      padding-top: 1px;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0;
    }
    &__text {
      line-height: 1.65;
    }
    &.one {
      position: absolute;
      top: 23px;
      left: 0;
      .manual-item {
        &-content {
          padding-left: 102px;
        }
      }
      &:after {
        content: '';
        display: block;
        background: url(../images/arws1.png) no-repeat 50%;
        width: 65px;
        height: 65px;
        position: absolute;
        bottom: -98px;
        left: 28px;
      }
    }
    &.two {
      position: absolute;
      top: 136px;
      left: 120px;
      &:before {
        content: '';
        display: block;
        background: url(../images/arws2.png) no-repeat 50%;
        width: 65px;
        height: 65px;
        position: absolute;
        top: -73px;
        left: 186px;
      }
    }
    &.three {
      position: absolute;
      top: 0;
      left: 390px;
      &:after {
        content: '';
        display: block;
        background: url(../images/arws1.png) no-repeat 50%;
        width: 65px;
        height: 65px;
        position: absolute;
        bottom: -86px;
        left: 120px;
      }
    }
    &.four {
      position: absolute;
      top: 160px;
      right: 294px;
      &:before {
        content: '';
        display: block;
        background: url(../images/arws2.png) no-repeat 50%;
        width: 65px;
        height: 65px;
        position: absolute;
        top: -79px;
        left: 171px;
      }
    }
    &.five {
      position: absolute;
      top: 16px;
      right: 52px;
      &:after {
        content: '';
        display: block;
        background: url(../images/arws1.png) no-repeat 50%;
        width: 65px;
        height: 65px;
        position: absolute;
        bottom: -95px;
        left: 174px;
      }
    }
    &.six {
      position: absolute;
      top: 131px;
      right: -199px;
    }
  }
}