button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  background-color: #e8e8e8;
  font: 400 16px 'GTWalsheimPro', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'GTWalsheimPro', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media screen and (max-width: 1336px) {
  .container {
    width: 970px; } }

@media screen and (max-width: 991px) {
  .container {
    width: 750px; } }

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px; } }

.title {
  color: #00467e;
  font-size: 62px;
  font-weight: 500;
  line-height: 1.2; }

.head {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 3px; }

.link {
  padding: 16px 28px 21px;
  border: 2px solid #00acee;
  color: #00acee;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500; }
  .link:hover {
    background-color: #00acee;
    color: #ffffff; }

.ref {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #00acee;
  font-size: 18px;
  font-weight: 500; }
  .ref:hover {
    color: #00acee; }
    .ref:hover span {
      text-decoration: none; }
  .ref span {
    margin-right: 16px;
    text-decoration: underline; }
  .ref img {
    margin-top: 4px; }

.error-text {
  margin-top: 8px;
  color: #000000;
  font-size: 14px; }

@media screen and (max-width: 1336px) {
  .title {
    font-size: 50px; }
  .error-text {
    margin-top: 2px; } }

@media screen and (max-width: 991px) {
  .title {
    font-size: 42px;
    line-height: 1.1; }
  .link {
    padding: 13px 16px 18px; } }

@media screen and (max-width: 575px) {
  .title {
    font-size: 30px; } }

.burger {
  display: none;
  width: 30px; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }
    .burger a span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      background-color: #00acee; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background-color: #00acee; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }

@media screen and (max-width: 991px) {
  .burger {
    display: block; } }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left;
  text-indent: 9999px; }
  .slick-arrow:focus {
    outline: none; }
  .slick-arrow:hover {
    background-position: right; }

.slick-prev {
  background-image: url(../images/prev.png); }

.slick-next {
  background-image: url(../images/next.png); }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border: 1px solid #00acee;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .slick-dots li button {
      display: none; }
    .slick-dots li.slick-active, .slick-dots li:hover {
      background-color: #00acee; }

.checkbox {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #fff; }
  .checkbox-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .checkbox-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0; }
  .checkbox-text {
    padding-left: 20px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7; }
    .checkbox-text a {
      color: #ffffff;
      font-size: 14px;
      text-decoration: underline; }
      .checkbox-text a:hover {
        text-decoration: none; }
  .checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .checkbox span:before {
      content: "\f00c";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      border-radius: 50%;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms;
      font-size: 10px;
      color: #fff; }

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 240px; }

@media screen and (max-width: 1336px) {
  .logo {
    width: 190px; } }

.nav li.active a {
  background-color: #00467e;
  color: #ffffff; }

.nav li a {
  padding: 14px 14px 17px;
  color: #00acee;
  font-weight: 500;
  font-size: 18px; }
  .nav li a:hover {
    background-color: #00467e;
    color: #ffffff; }

@media screen and (max-width: 1336px) {
  .nav li a {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px; } }

@media screen and (max-width: 991px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #e8e8e8; }
    .nav.active {
      z-index: 99;
      margin-top: 0;
      opacity: 1;
      visibility: visible; }
    .nav li {
      width: 100%;
      text-align: center; }
      .nav li a {
        width: 100%; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 35px 0 28px; }
  .header-wrap {
    position: relative;
    background-color: #ffffff; }
  .header-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 10px; }
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 45px; }
    .header-info ul:first-child {
      margin-right: 45px; }
    .header-info ul li {
      margin-bottom: 10px;
      text-align: center;
      color: #00467e;
      font-weight: 500;
      font-size: 16px; }
      .header-info ul li:last-child {
        margin-bottom: 0; }
      .header-info ul li a {
        color: #00467e;
        font-weight: 500;
        font-size: 18px; }
        .header-info ul li a:hover {
          color: #00acee; }
  .header-link {
    padding: 13px 20px 16px;
    margin-left: 43px;
    border: 1px solid #00acee;
    background-color: #00acee;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px; }
    .header-link:hover {
      background-color: #ffffff;
      color: #00acee; }

@media screen and (max-width: 1336px) {
  .header-info {
    margin-left: 10px; }
    .header-info ul:first-child {
      margin-right: 14px; }
    .header-info ul li a {
      font-size: 16px; }
  .header-link {
    margin-left: 14px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px; } }

@media screen and (max-width: 991px) {
  .header {
    padding: 22px 0; }
    .header-info, .header-link {
      margin-left: 22px; } }

@media screen and (max-width: 767px) {
  .header {
    padding: 14px 0; }
    .header-info {
      display: none; } }

@media screen and (max-width: 486px) {
  .header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-link {
      display: none; } }

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 80px; }
  .showcase .title {
    margin-bottom: 100px; }
  .showcase-wrap {
    min-height: 720px;
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .showcase-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 480px;
    margin-bottom: -36px; }
  .showcase-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding: 76px 0 40px;
    margin-right: 60px; }

@media screen and (max-width: 1336px) {
  .showcase .title {
    margin-bottom: 70px; }
  .showcase-wrap {
    min-height: 620px; }
  .showcase-img {
    width: 420px; }
  .showcase-content {
    margin-right: 40px;
    padding-top: 56px; } }

@media screen and (max-width: 991px) {
  .showcase {
    padding-top: 46px; }
    .showcase .title {
      margin-bottom: 50px; }
    .showcase-wrap {
      min-height: 480px; }
    .showcase-img {
      width: 320px; }
    .showcase-content {
      margin-right: 20px;
      padding-top: 46px; } }

@media screen and (max-width: 767px) {
  .showcase {
    padding: 40px 0; }
    .showcase .title {
      margin-bottom: 40px; }
    .showcase-wrap {
      min-height: 360px; }
    .showcase-img {
      display: none; }
    .showcase-content {
      max-width: 576px;
      padding: 0;
      margin-right: 0; } }

@media screen and (max-width: 575px) {
  .showcase .title {
    margin-bottom: 32px; }
  .showcase-wrap {
    min-height: 300px; } }

.customers {
  padding: 87px 0 54px; }
  .customers .head {
    margin: 0 0 44px 4px; }
  .customers .title {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 100px; }
  .customers-wrap {
    background-color: #fff; }
  .customers-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: hidden;
    padding-bottom: 42px; }
  .customers-items {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 720px;
    margin: 0 60px; }
    .customers-items .slick-prev {
      left: -60px; }
    .customers-items .slick-next {
      right: -60px; }
    .customers-items .slick-dots {
      bottom: -40px; }
  .customers-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 33.33%;
    height: 160px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    opacity: 0.8; }

@media screen and (max-width: 1336px) {
  .customers .title {
    margin-right: 40px; }
  .customers-items {
    width: 530px; }
  .customers-item {
    width: 50%; } }

@media screen and (max-width: 991px) {
  .customers {
    padding: 50px 0 40px; }
    .customers .head {
      margin: 0 0 8px; }
    .customers .title {
      margin: 0 0 40px; }
    .customers-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .customers-items {
      margin: 0 auto; } }

@media screen and (max-width: 767px) {
  .customers .head {
    margin-bottom: 14px; }
  .customers-items {
    width: 420px; } }

@media screen and (max-width: 575px) {
  .customers {
    padding: 40px 0 30px; }
    .customers .head {
      margin-bottom: 10px; }
    .customers .title {
      margin-bottom: 34px; }
    .customers-wrap {
      overflow: hidden; }
    .customers-body {
      padding-bottom: 0;
      overflow: visible; }
    .customers-items {
      width: 240px; }
      .customers-items .slick-prev {
        left: -36px; }
      .customers-items .slick-next {
        right: -36px; }
      .customers-items .slick-dots {
        display: none !important; } }

.how-works {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 44px 0 80px; }
  .how-works:before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: -100px;
    z-index: -1;
    width: 800px;
    height: 802px;
    background: url(../images/works-before.png) no-repeat 50%;
    background-size: cover; }
  .how-works-wrap {
    background-color: #ffffff; }
  .how-works-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 560px; }
  .how-works-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-left: 80px;
    padding-top: 14px; }
    .how-works-content .head {
      margin-bottom: 48px; }
    .how-works-content .title {
      margin-bottom: 35px; }
    .how-works-content .link {
      margin-top: 38px; }
    .how-works-content p {
      margin-bottom: 26px;
      color: #0a0a0a;
      line-height: 1.65; }

@media screen and (max-width: 1336px) {
  .how-works {
    padding: 40px 0; }
    .how-works:before {
      width: 700px;
      height: 702px; }
    .how-works-img {
      width: 440px; }
    .how-works-content {
      margin-left: 40px; }
      .how-works-content .head,
      .how-works-content .title {
        margin-bottom: 28px; }
      .how-works-content .link {
        margin-top: 10px; }
      .how-works-content p {
        margin-bottom: 16px; } }

@media screen and (max-width: 991px) {
  .how-works {
    padding: 30px 0; }
    .how-works:before {
      width: 500px;
      height: 502px; }
    .how-works-img {
      width: 300px; }
    .how-works-content .head {
      margin-bottom: 16px; }
    .how-works-content .title {
      margin-bottom: 24px; }
    .how-works-content p {
      line-height: 1.4; } }

@media screen and (max-width: 767px) {
  .how-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .how-works:before {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .how-works-img {
      margin: 0 auto 20px; }
    .how-works-content {
      margin-left: 0; } }

@media screen and (max-width: 575px) {
  .how-works:before {
    display: none; }
  .how-works-img {
    width: 290px; } }

.we-offer {
  padding: 30px 0 88px; }
  .we-offer-wrap {
    overflow: hidden;
    background-color: #fff; }
  .we-offer-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px; }
    .we-offer-header .head {
      margin-right: 86px;
      padding-top: 20px; }
  .we-offer-items {
    width: 1020px; }
    .we-offer-items .slick-list {
      padding-bottom: 22px; }
  .we-offer-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 45px 70px 67px 58px;
    border: 1px solid #d1d1d1; }
    .we-offer-item:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -21px;
      right: 10px;
      left: 10px;
      height: 20px;
      background: url(../images/we-offer-after.jpg) no-repeat 50%;
      background-size: 100%; }
  .we-offer-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 160px;
    margin-left: 80px;
    padding-top: 45px; }
    .we-offer-info .link {
      width: 100%;
      text-align: center; }
  .we-offer-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .we-offer-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100px;
    margin-top: 13px; }
  .we-offer-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-left: 60px; }
    .we-offer-content p {
      margin-bottom: 0;
      color: #0a0a0a;
      line-height: 1.65; }
  .we-offer__title {
    margin-bottom: 23px;
    color: #00467e;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4; }

.we-offer-nav {
  position: relative;
  padding: 0 30px;
  margin-bottom: 100px;
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 500;
  text-align: center; }
  .we-offer-nav .slick-arrow {
    margin-top: 10px; }
  .we-offer-nav .slick-prev {
    left: 0; }
  .we-offer-nav .slick-next {
    right: 0; }
  .we-offer-nav .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .we-offer-nav .numbers span {
      margin: 14px 6px 0; }
    .we-offer-nav .numbers .all {
      margin-top: 14px; }
  .we-offer-nav .current {
    font-size: 62px;
    font-weight: 400; }

@media screen and (max-width: 1336px) {
  .we-offer {
    padding-bottom: 55px; }
    .we-offer-header {
      margin-bottom: 50px; }
    .we-offer-items {
      width: 770px; }
    .we-offer-item {
      padding: 30px 30px 40px; }
    .we-offer-info {
      margin-left: 40px; }
    .we-offer__title {
      margin-bottom: 16px;
      font-size: 28px;
      line-height: 1.2; } }

@media screen and (max-width: 991px) {
  .we-offer {
    padding-bottom: 48px; }
    .we-offer-header {
      margin-bottom: 40px; }
      .we-offer-header .head {
        margin-right: 66px; }
    .we-offer-items {
      width: 570px; }
      .we-offer-items .slick-list {
        padding-bottom: 0; }
    .we-offer-item:after {
      display: none; }
    .we-offer-info {
      margin-left: 20px; }
    .we-offer-nav {
      margin-bottom: 60px; }
    .we-offer-img {
      margin-top: 10px; }
    .we-offer-content {
      margin-left: 20px; }
      .we-offer-content p {
        line-height: 1.4; }
    .we-offer__title {
      font-size: 24px; } }

@media screen and (max-width: 767px) {
  .we-offer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .we-offer-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .we-offer-header .head {
      margin-right: 0;
      margin-bottom: 6px;
      padding-top: 0; }
  .we-offer-info {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    padding-top: 0; }
    .we-offer-info .link {
      max-width: 200px; }
  .we-offer-items {
    width: 100%; }
  .we-offer-item {
    padding: 30px; }
  .we-offer-nav {
    width: 200px;
    margin-bottom: 0; } }

@media screen and (max-width: 575px) {
  .we-offer {
    padding-top: 20px; }
    .we-offer-header {
      margin-bottom: 30px; }
    .we-offer-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .we-offer-info .link {
        max-width: 100%; }
    .we-offer-nav {
      width: 100%;
      margin-bottom: 20px; }
    .we-offer-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 20px; }
    .we-offer-img {
      margin-top: 0;
      margin-bottom: 16px; }
    .we-offer-content {
      margin-left: 0; }
    .we-offer__title {
      font-size: 20px; } }

.work-performed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px 0; }
  .work-performed .link {
    border-color: #fff;
    color: #fff; }
    .work-performed .link:hover {
      background-color: #ffffff;
      color: #00acee; }
  .work-performed .ref {
    margin-right: 74px;
    color: #ffffff; }
  .work-performed-wrap {
    background-color: #00acee; }
  .work-performed-content {
    width: 400px;
    padding: 73px 0 40px; }
    .work-performed-content .head {
      margin-bottom: 67px;
      color: #ffffff; }
  .work-performed-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 29px; }
  .work-performed-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 60px;
    margin-right: 20px; }
  .work-performed-info {
    padding-top: 3px;
    color: #ffffff;
    font-weight: 500;
    font-size: 32px; }
    .work-performed-info span {
      display: block;
      margin-bottom: 11px;
      text-transform: uppercase; }
    .work-performed-info p {
      margin-bottom: 0; }
  .work-performed-descr {
    margin-bottom: 66px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4; }
  .work-performed-block {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 612px;
    height: 616px;
    margin-right: 3px;
    overflow: hidden;
    background: url(../images/work-performed-img.png) no-repeat 50%;
    background-size: cover; }
  .work-performed-items {
    width: 400px;
    margin-left: 10px; }
    .work-performed-items .slick-arrow {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .work-performed-items .slick-prev {
      left: -90px;
      top: 102px; }
    .work-performed-items .slick-next {
      top: auto;
      bottom: 101px;
      right: -84px; }
  .work-performed-item {
    height: 400px;
    border-radius: 30px;
    overflow: hidden; }

@media screen and (max-width: 1336px) {
  .work-performed-block {
    width: 500px;
    height: 504px;
    margin-right: 0; }
  .work-performed-items {
    width: 360px; }
    .work-performed-items .slick-prev {
      left: -58px; }
    .work-performed-items .slick-next {
      right: -56px; }
  .work-performed-item {
    height: 360px; }
  .work-performed-content {
    padding-top: 44px; }
    .work-performed-content .head {
      margin-bottom: 36px; }
  .work-performed-project {
    margin-bottom: 20px; }
  .work-performed-descr {
    margin-bottom: 36px; } }

@media screen and (max-width: 991px) {
  .work-performed {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0; }
    .work-performed .ref {
      margin-right: 34px; }
    .work-performed-block {
      width: 380px;
      height: 384px; }
    .work-performed-items {
      width: 260px;
      margin-left: 6px; }
      .work-performed-items .slick-prev {
        top: 62px;
        left: -56px; }
      .work-performed-items .slick-next {
        bottom: 60px;
        right: -52px; }
    .work-performed-item {
      height: 260px; }
    .work-performed-content {
      width: 360px;
      padding: 0; }
    .work-performed-project {
      margin-bottom: 14px; }
    .work-performed-info {
      font-size: 28px; }
    .work-performed-descr {
      margin-bottom: 18px;
      font-size: 20px; } }

@media screen and (max-width: 767px) {
  .work-performed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .work-performed-content {
      width: 100%; }
      .work-performed-content .head {
        margin-bottom: 26px; }
    .work-performed-block {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 30px; } }

@media screen and (max-width: 410px) {
  .work-performed .ref {
    margin-right: 0;
    margin-bottom: 20px; }
  .work-performed .link {
    width: 100%;
    text-align: center; }
  .work-performed-block {
    width: 308px;
    height: 310px; }
  .work-performed-items {
    width: 220px; }
    .work-performed-items .slick-prev {
      left: -44px; }
    .work-performed-items .slick-next {
      bottom: 55px;
      right: -41px; }
  .work-performed-item {
    height: 220px; }
  .work-performed-logo {
    width: 50px;
    margin-right: 10px; }
  .work-performed-info {
    font-size: 22px; }
  .work-performed-descr {
    font-size: 18px; }
  .work-performed-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

.decision {
  padding: 55px 0 80px; }
  .decision-wrap {
    background-color: #fff; }
  .decision-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 77px 3px; }
    .decision-header .head {
      min-width: 160px;
      margin: 40px 74px 0 0; }
    .decision-header .title {
      max-width: 620px; }
  .decision-btn {
    text-align: center; }
  .decision-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px; }
  .decision-item {
    position: relative;
    z-index: 5;
    width: 50%;
    min-height: 320px;
    padding: 54px 58px;
    background-color: #fff;
    border: 1px solid #ddd; }
    .decision-item:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out; }
    .decision-item .ref {
      position: absolute;
      bottom: 32px;
      left: 60px;
      -webkit-transition: 200ms;
      transition: 200ms;
      opacity: 0; }
    .decision-item:hover {
      padding-top: 34px; }
      .decision-item:hover:before {
        -webkit-transform: scaleY(1.15);
        transform: scaleY(1.15);
        background-color: #00467e;
        -webkit-box-shadow: 0 0 18px 2px rgba(2, 80, 145, 0.4);
        box-shadow: 0 0 18px 2px rgba(2, 80, 145, 0.4); }
      .decision-item:hover .ref {
        opacity: 1; }
      .decision-item:hover .decision-title {
        color: #fff;
        text-decoration: underline; }
      .decision-item:hover p {
        color: #ffffff; }
    .decision-item p {
      margin-bottom: 0;
      color: #0a0a0a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.65;
      -webkit-transition: 200ms;
      transition: 200ms; }
  .decision-title {
    margin-bottom: 31px;
    color: #00467e;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    -webkit-transition: 200ms;
    transition: 200ms; }

@media screen and (max-width: 1336px) {
  .decision {
    padding-bottom: 60px; }
    .decision-header {
      margin-bottom: 57px; }
    .decision-items {
      margin-bottom: 50px; }
    .decision-item {
      padding: 44px; }
      .decision-item .ref {
        left: 44px;
        bottom: 24px; } }

@media screen and (max-width: 991px) {
  .decision-header .head {
    margin-right: 24px; }
  .decision-item {
    min-height: 300px;
    padding: 18px 24px 44px; }
    .decision-item:hover {
      padding-top: 24px; }
      .decision-item:hover:before {
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1); }
    .decision-item .ref {
      left: 24px; }
    .decision-item p {
      margin-bottom: 18px;
      line-height: 1.4; }
  .decision-title {
    margin-bottom: 14px;
    font-size: 26px; } }

@media screen and (max-width: 767px) {
  .decision {
    padding: 50px 0; }
    .decision-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin: 0 0 30px; }
      .decision-header .head {
        min-width: 100%;
        margin: 0 0 6px; }
    .decision-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 30px; }
    .decision-item {
      width: 100%;
      min-height: 260px;
      padding: 20px 20px 50px; }
      .decision-item:hover {
        padding-top: 20px; }
        .decision-item:hover:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1); }
      .decision-item p {
        margin-bottom: 12px; } }

@media screen and (max-width: 575px) {
  .decision {
    padding: 40px 0; } }

.suppliers {
  overflow: hidden; }
  .suppliers .customers {
    padding: 65px 0 48px; }

@media screen and (max-width: 991px) {
  .suppliers .customers {
    padding: 50px 0; } }

@media screen and (max-width: 575px) {
  .suppliers .customers {
    padding: 40px 0; } }

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .callback:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 2000px;
    background-color: #fff; }
  .callback-wrap {
    background-color: #00acee;
    overflow: hidden; }
  .callback-form {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding: 74px 0 87px 80px;
    color: #ffffff; }
    .callback-form .head {
      margin-bottom: 44px;
      color: #ffffff; }
  .callback-input {
    margin-bottom: 39px; }
    .callback-input.input-error input {
      color: #000000;
      border-color: #000000; }
      .callback-input.input-error input::-webkit-input-placeholder {
        color: #000000; }
      .callback-input.input-error input::-ms-input-placeholder {
        color: #000000; }
      .callback-input.input-error input::placeholder {
        color: #000000; }
      .callback-input.input-error input::-moz-placeholder {
        color: #000000; }
    .callback-input input {
      width: 100%;
      height: 81px;
      border: none;
      border-bottom: 2px solid #fff;
      background-color: transparent;
      color: #ffffff;
      font: 400 32px 'GTWalsheimPro'; }
      .callback-input input::-webkit-input-placeholder {
        color: #ffffff; }
      .callback-input input::-ms-input-placeholder {
        color: #ffffff; }
      .callback-input input::placeholder {
        color: #ffffff; }
      .callback-input input::-moz-placeholder {
        color: #ffffff; }
  .callback-check {
    max-width: 260px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7; }
    .callback-check a {
      color: #ffffff;
      font-size: 14px;
      text-decoration: underline; }
      .callback-check a:hover {
        text-decoration: none; }
  .callback-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 71px; }
    .callback-footer .link {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 80px;
      padding-right: 33px;
      padding-left: 33px;
      border-color: #fff;
      background-color: transparent;
      color: #ffffff; }
      .callback-footer .link:hover {
        border-color: #00acee;
        color: #00acee;
        background-color: #ffffff; }

.callback-contacts {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 480px;
  padding: 74px 80px 90px 0;
  background-color: #ffffff; }
  .callback-contacts .head {
    margin: 0 0 45px 3px; }
  .callback-contacts .link {
    padding-right: 33px;
    padding-left: 33px; }
  .callback-contacts p, .callback-contacts-tel,
  .callback-contacts-tel a, .callback-contacts__mail {
    color: #0a0a0a;
    font-size: 32px;
    font-weight: 500; }
  .callback-contacts p {
    margin-bottom: 26px;
    line-height: 1.4; }
  .callback-contacts-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 31px; }
    .callback-contacts-tel span {
      margin-right: 8px; }
    .callback-contacts-tel a:hover {
      color: #00acee; }
  .callback-contacts__mail {
    margin-bottom: 60px;
    color: #00acee; }
    .callback-contacts__mail:hover {
      color: #000000; }

@media screen and (max-width: 1336px) {
  .callback-contacts {
    width: 400px;
    padding-right: 30px; }
  .callback-form {
    padding-left: 30px; }
  .callback-footer .link {
    margin-right: 20px; } }

@media screen and (max-width: 991px) {
  .callback-contacts {
    width: 300px;
    padding: 44px 20px 44px 0; }
    .callback-contacts .head {
      margin-bottom: 26px; }
    .callback-contacts p, .callback-contacts-tel,
    .callback-contacts-tel a, .callback-contacts__mail {
      font-size: 24px; }
    .callback-contacts p, .callback-contacts-tel {
      margin-bottom: 20px; }
    .callback-contacts__mail {
      margin-bottom: 40px; }
  .callback-form {
    padding: 44px 0 44px 20px; }
    .callback-form .head {
      margin-bottom: 24px; }
  .callback-input {
    margin-bottom: 20px; }
    .callback-input input {
      height: 60px;
      font-size: 22px; }
  .callback-check {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px; }
  .callback-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px; } }

@media screen and (max-width: 767px) {
  .callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .callback:before {
      display: none; }
    .callback-contacts {
      position: relative;
      z-index: 5;
      width: 100%;
      padding: 40px 0; }
      .callback-contacts:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: -1;
        width: 3000px;
        background-color: #ffffff; }
    .callback-form {
      padding: 40px 0; } }

@media screen and (max-width: 575px) {
  .callback-contacts p, .callback-contacts-tel,
  .callback-contacts-tel a, .callback-contacts__mail {
    font-size: 20px; }
  .callback-contacts p, .callback-contacts-tel {
    margin-bottom: 12px; }
  .callback-contacts__mail {
    margin-bottom: 30px; }
  .callback-input input {
    height: 50px;
    font-size: 18px; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 67px 0 30px; }
  .footer-wrap {
    background-color: #00467e; }
  .footer-logo {
    margin-bottom: 18px; }
  .footer-block {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 256px; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 584px;
    margin: 10px 0 0 70px; }
  .footer-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .footer-item:first-child {
      margin-right: 54px; }
    .footer-item li {
      margin-bottom: 6px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500; }
      .footer-item li.footer-title {
        margin-bottom: 18px; }
      .footer-item li:last-child {
        margin-bottom: 0; }
      .footer-item li a {
        color: #ffffff;
        line-height: 1.65; }
        .footer-item li a:hover {
          text-decoration: underline; }
  .footer-contacts {
    margin-left: 60px;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.65; }
    .footer-contacts p {
      margin-bottom: 0; }
  .footer-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .footer-tel span {
      margin-right: 4px; }
    .footer-tel a {
      color: #ffffff;
      font-weight: 500; }
      .footer-tel a:hover {
        color: #00acee; }
  .footer-mail {
    color: #00acee;
    font-weight: 500;
    text-decoration: underline; }
    .footer-mail:hover {
      color: #ffffff; }
  .footer-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 204px;
    margin-top: 10px; }
    .footer-info .link {
      width: 100%;
      text-align: center;
      background-color: #00acee;
      color: #ffffff; }
  .footer-projects {
    margin-bottom: 61px; }
    .footer-projects li {
      margin-bottom: 19px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500; }
      .footer-projects li:last-child {
        margin-bottom: 0; }
      .footer-projects li a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500; }
        .footer-projects li a:hover {
          text-decoration: underline; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 35px 0; }
  .bottom a {
    color: #00acee;
    font-size: 14px;
    text-decoration: underline; }
    .bottom a:hover {
      text-decoration: none; }
  .bottom p {
    margin-bottom: 0;
    color: #00acee;
    font-size: 14px; }

@media screen and (max-width: 1336px) {
  .footer {
    padding-top: 48px; }
    .footer-items {
      max-width: 450px;
      margin-left: 0; }
    .footer-item:first-child {
      margin-right: 30px; } }

@media screen and (max-width: 991px) {
  .footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 36px; }
    .footer-block {
      width: 100%;
      margin-bottom: 16px;
      text-align: center; }
    .footer-contacts {
      margin-left: 0; }
    .footer-tel {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .footer-items {
      max-width: 510px; }
  .bottom {
    padding: 22px 0; } }

@media screen and (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 18px; }
    .footer-items {
      margin: 0 auto 20px; }
    .footer-item li {
      text-align: center; }
    .footer-projects {
      margin-bottom: 30px; }
      .footer-projects li {
        margin-bottom: 12px;
        text-align: center; }
    .footer-info {
      width: 100%; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 0;
    line-height: 1.6; } }

@media screen and (max-width: 575px) {
  .footer {
    padding-bottom: 10px; }
    .footer-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 14px; }
    .footer-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
      .footer-item:first-child {
        margin-right: 0;
        margin-bottom: 20px; }
      .footer-item li.footer-title {
        margin-bottom: 12px; }
      .footer-item li a {
        line-height: 1.4; }
    .footer-projects {
      margin-bottom: 24px; }
      .footer-projects li {
        margin-bottom: 10px; } }

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 28px 0 34px; }
  .bread li {
    position: relative;
    margin-right: 52px; }
    .bread li:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: -41px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 30px;
      height: 16px;
      margin-top: 1px;
      background: url(../images/arw-grey.png) no-repeat 50%; }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li a {
      color: #00acee; }
      .bread li a:hover {
        text-decoration: underline; }

@media screen and (max-width: 767px) {
  .bread {
    margin: 18px 0; } }

.contacts {
  padding-bottom: 80px; }
  .contacts .title {
    margin-bottom: 82px; }
  .contacts-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts-item {
    position: relative;
    width: 33.33%;
    padding: 15px 100px 25px 0; }
    .contacts-item .head {
      margin-bottom: 30px; }
    .contacts-item:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 50px;
      bottom: 0;
      width: 1px;
      background-color: #a7b4b4; }
    .contacts-item:nth-child(2) {
      padding-left: 18px; }
      .contacts-item:nth-child(2):after {
        right: 20px; }
    .contacts-item:last-child {
      padding-left: 40px; }
      .contacts-item:last-child:after {
        display: none; }
    .contacts-item p,
    .contacts-item ul li a {
      color: #0a0a0a;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.4; }
    .contacts-item p {
      margin-bottom: 0; }
    .contacts-item ul li a:hover {
      color: #00acee; }
  .contacts-mail {
    color: #00acee;
    font-size: 32px;
    font-weight: 500; }
    .contacts-mail:hover {
      color: #000000; }

.contacts-map {
  padding-top: 30px; }
  .contacts-map .head {
    margin-bottom: 47px; }
  .contacts-map .map {
    height: 800px; }
    .contacts-map .map iframe {
      width: 100%;
      height: 100%;
      border: none; }

@media screen and (max-width: 1336px) {
  .contacts {
    padding-bottom: 40px; }
    .contacts .title {
      margin-bottom: 50px; }
    .contacts-item {
      padding: 20px 40px 20px 0; }
      .contacts-item .head {
        margin-bottom: 16px; }
      .contacts-item:after {
        right: 20px; }
      .contacts-item:nth-child(2), .contacts-item:last-child {
        padding-left: 0; }
      .contacts-item p,
      .contacts-item ul li a {
        font-size: 24px; }
    .contacts-mail {
      font-size: 24px; }
    .contacts-map .map {
      height: 600px; } }

@media screen and (max-width: 991px) {
  .contacts {
    padding-bottom: 30px; }
    .contacts .title {
      margin-bottom: 40px; }
    .contacts-item p,
    .contacts-item ul li a {
      font-size: 20px; }
    .contacts-mail {
      font-size: 20px; }
    .contacts-map .head {
      margin-bottom: 36px; }
    .contacts-map .map {
      height: 500px; } }

@media screen and (max-width: 767px) {
  .contacts {
    padding-bottom: 20px; }
    .contacts-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .contacts-item {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
      text-align: center; }
      .contacts-item .head {
        margin-bottom: 4px; }
      .contacts-item:after {
        display: none !important; }
      .contacts-item:last-child {
        margin-bottom: 0; }
      .contacts-item p,
      .contacts-item ul li a {
        font-size: 18px; }
    .contacts-mail {
      font-size: 18px; }
    .contacts-map .map {
      height: 400px; } }

@media screen and (max-width: 575px) {
  .contacts .title {
    margin-bottom: 24px; }
  .contacts-map {
    padding-top: 20px; }
    .contacts-map .map {
      height: 300px; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  z-index: 5;
  padding: 42px 0 75px; }
  .about:after {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    right: -158px;
    z-index: -1;
    width: 780px;
    height: 780px;
    background: url(../images/about-bg.png) no-repeat 50%;
    background-size: cover; }
  .about-wrap {
    overflow: hidden; }
  .about-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 70px; }
    .about-content .head {
      margin-bottom: 52px; }
    .about-content .title {
      margin-bottom: 54px; }
    .about-content p {
      margin-bottom: 26px;
      line-height: 1.65; }
  .about-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 420px;
    margin-top: 66px; }

@media screen and (max-width: 1336px) {
  .about {
    padding-bottom: 40px; }
    .about-content {
      margin-right: 30px; }
      .about-content .head {
        margin-bottom: 32px; }
      .about-content .title {
        margin-bottom: 34px; }
      .about-content p {
        margin-bottom: 16px; } }

@media screen and (max-width: 991px) {
  .about {
    padding: 30px 0; }
    .about-content .head {
      margin-bottom: 20px; }
    .about-content .title {
      margin-bottom: 24px; }
    .about-content p {
      line-height: 1.45; }
    .about-img {
      width: 320px; } }

@media screen and (max-width: 767px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about:after {
      display: none; }
    .about-img {
      margin: 0 auto; }
    .about-content {
      margin-right: 0;
      margin-bottom: 20px; } }

@media screen and (max-width: 575px) {
  .about-img {
    width: 290px; } }

.content {
  max-width: 940px;
  margin: 0 auto;
  padding: 10px 0 68px;
  overflow: hidden; }
  .content-title {
    margin-bottom: 25px;
    color: #0d0f11;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4; }
  .content p {
    margin-bottom: 35px;
    margin-right: 14px;
    color: #0a0a0a;
    line-height: 1.65; }
  .content > img {
    margin-bottom: 31px; }
  .content-gallery {
    margin-bottom: 47px;
    text-align: center; }
    .content-gallery .slick-dots {
      position: static;
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .content-gallery .slick-prev {
      left: 0; }
    .content-gallery .slick-next {
      right: 0; }
  .content-slides {
    height: 480px;
    margin-bottom: 40px; }
    .content-slides div {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%; }
  .content-navigation {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    min-width: 200px;
    padding: 0 40px; }

@media screen and (max-width: 991px) {
  .content {
    padding: 0 0 48px; }
    .content p {
      margin-right: 0;
      margin-bottom: 26px;
      line-height: 1.5; }
    .content-gallery {
      margin-bottom: 36px; }
    .content-slides {
      height: 380px;
      margin-bottom: 30px; } }

@media screen and (max-width: 767px) {
  .content > img {
    margin-bottom: 20px; }
  .content-title {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.2; }
  .content-slides {
    height: 280px; } }

@media screen and (max-width: 575px) {
  .content {
    padding-bottom: 26px; }
    .content p {
      line-height: 1.4; }
    .content-gallery {
      margin-bottom: 26px; }
    .content-slides {
      height: 170px;
      margin-bottom: 16px; } }

.projects {
  padding-bottom: 80px; }
  .projects .title {
    max-width: 700px;
    margin-bottom: 48px; }
  .projects-items {
    margin-bottom: 74px; }
  .projects-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
    min-height: 440px;
    padding: 48px;
    border: 1px solid #d1d1d1;
    border-top: 1px solid transparent;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out; }
    .projects-item:first-child {
      border-top: 1px solid #d1d1d1; }
    .projects-item:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .projects-item:hover {
      padding-top: 28px; }
      .projects-item:hover:before {
        -webkit-transform: scale(1, 1.1);
        transform: scale(1, 1.1);
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 24px 6px rgba(0, 172, 238, 0.2);
        box-shadow: 0 0 24px 6px rgba(0, 172, 238, 0.2); }
      .projects-item:hover .ref {
        opacity: 1; }
  .projects-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 440px; }
    .projects-img:hover {
      opacity: 0.8; }
  .projects-content {
    position: relative;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-left: 70px;
    margin-top: -6px; }
    .projects-content .ref {
      position: absolute;
      bottom: -16px;
      left: 0;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .projects-content p {
      margin-bottom: 0;
      color: #0a0a0a;
      line-height: 1.65; }
  .projects-title {
    margin-bottom: 25px;
    color: #00467e;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4; }
    .projects-title:hover {
      color: #00acee; }

@media screen and (max-width: 1336px) {
  .projects {
    padding-bottom: 60px; }
    .projects-items {
      margin-bottom: 54px; }
    .projects-item {
      padding: 24px 20px 30px; }
      .projects-item:hover {
        padding-top: 16px; }
    .projects-content {
      margin-left: 30px; }
      .projects-content .ref {
        bottom: -26px; } }

@media screen and (max-width: 991px) {
  .projects-img {
    width: 320px; }
  .projects-content {
    margin-top: 0; }
    .projects-content p {
      line-height: 1.4; }
  .projects-title {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.2; } }

@media screen and (max-width: 767px) {
  .projects-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 50px; }
    .projects-item:hover:before {
      -webkit-transform: scale(1, 1.05);
      transform: scale(1, 1.05); }
  .projects-img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 14px; }
  .projects-content {
    margin-left: 0; }
    .projects-content .ref {
      bottom: -36px; } }

@media screen and (max-width: 575px) {
  .projects {
    padding-bottom: 50px; }
    .projects-items {
      margin-bottom: 48px; }
    .projects-title {
      font-size: 20px; }
    .projects-content p {
      line-height: 1.3; } }

.pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pagination li {
    margin: 0 3px; }
    .pagination li.prev, .pagination li.next {
      margin: 0; }
      .pagination li.prev a, .pagination li.next a {
        width: 30px;
        height: 16px;
        -webkit-transition: none;
        transition: none;
        background-repeat: no-repeat;
        background-position: left; }
        .pagination li.prev a:hover, .pagination li.next a:hover {
          background-color: transparent;
          background-position: right; }
    .pagination li.prev {
      margin-right: 30px; }
      .pagination li.prev a {
        background-image: url(../images/prev.png); }
    .pagination li.next {
      margin-left: 30px; }
      .pagination li.next a {
        background-image: url(../images/next.png); }
    .pagination li.active a {
      background-color: #00acee;
      color: #ffffff; }
    .pagination li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      color: #00acee;
      font-size: 18px;
      font-weight: 500; }
      .pagination li a:hover {
        background-color: #00acee;
        color: #ffffff; }

@media screen and (max-width: 575px) {
  .pagination li {
    margin: 0 1px; }
    .pagination li.prev {
      margin-right: 10px; }
    .pagination li.next {
      margin-left: 10px; }
    .pagination li a {
      width: 34px;
      height: 34px;
      font-size: 16px;
      font-weight: 400; } }

.services {
  padding-bottom: 87px; }
  .services .title {
    margin-bottom: 35px; }
  .services-text {
    max-width: 940px;
    margin-bottom: 63px; }
    .services-text p {
      margin-bottom: 0;
      font-weight: 500;
      line-height: 1.65; }
  .services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .services-item {
    position: relative;
    width: 33.33%;
    height: 241px;
    padding: 27px 25px 27px 37px;
    background-color: #fff;
    border: 1px solid #ddd; }
    .services-item:hover .services-elem {
      opacity: 1; }
    .services-item p {
      max-height: 78px;
      overflow: hidden;
      margin-bottom: 14px;
      color: #ffffff;
      line-height: 1.65; }
  .services-elem {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 27px 25px 27px 37px;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #00467e;
    -webkit-box-shadow: 0 0 24px 6px rgba(11, 53, 210, 0.2);
    box-shadow: 0 0 24px 6px rgba(11, 53, 210, 0.2); }
    .services-elem .services-title {
      color: #ffffff;
      text-decoration: underline; }
  .services-title {
    max-height: 64px;
    overflow: hidden;
    margin-bottom: 14px;
    color: #00467e;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.35; }
  .services-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 39px;
    width: 60px;
    height: 60px;
    -webkit-transition: 300ms;
    transition: 300ms; }

@media screen and (max-width: 1336px) {
  .services-item, .services-elem {
    padding: 18px 14px 40px 16px; }
  .services-img {
    left: 18px; } }

@media screen and (max-width: 991px) {
  .services {
    padding-bottom: 56px; }
    .services .title {
      margin-bottom: 25px; }
    .services-item {
      width: 50%; }
    .services-img {
      bottom: 20px; }
    .services-text {
      margin-bottom: 36px; } }

@media screen and (max-width: 575px) {
  .services-item {
    width: 100%; } }
