@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Regular.woff2') format('woff2'),
        url('../fonts/Qanelas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Bold.woff2') format('woff2'),
        url('../fonts/Qanelas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-ExtraBold.woff2') format('woff2'),
        url('../fonts/Qanelas-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pushkin';
    src: url('../fonts/Pushkin.woff2') format('woff2'),
        url('../fonts/Pushkin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Black.woff2') format('woff2'),
        url('../fonts/Qanelas-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}