@media only screen and (max-width: 1760px) {
  .consult-wrap,
  .offer-wrap,
  .order-wrap,
  .manual-wrap,
  .contacts-wrap {
    margin-left: 0;
    margin-right: 0; } }

@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1110px; }
  .nav {
    margin-right: 42px; }
  .showcase {
    padding: 75px 0 66px; }
    .showcase-content__head {
      font-size: 42px; }
    .showcase-content-text span {
      font-size: 21px; }
  .warranty-head {
    margin-top: -66px;
    padding-top: 32px; }
  .warranty-item {
    width: 24% !important;
    margin-right: 20px !important; }
  .consult-wrap {
    padding-top: 44px; }
  .consult-info {
    padding: 13px 14px 13px 16px; }
    .consult-info a, .consult-info span {
      font-size: 21px; }
  .consult-content__text {
    line-height: 1.35; }
  .staff-item {
    margin-right: 15px; }
  .offer-item {
    margin-right: 30px; }
    .offer-item__head {
      font-size: 22px; }
  .pricing {
    padding: 20px 26px 20px 20px; }
  .order {
    padding: 40px 40px 0 40px; }
    .order-content {
      padding: 50px 0 22px 40px; }
      .order-content__text {
        margin-bottom: 28px; }
      .order-content__note {
        font-size: 44px; }
    .order_inner .order {
      padding-left: 40px;
      padding-right: 40px; }
      .order_inner .order-content {
        padding-right: 20px; }
  .perform-content {
    width: 290px;
    padding: 40px 0 0 24px; }
    .perform-content__head {
      font-size: 22px;
      line-height: 1.3;
      margin-bottom: 20px; }
  .perform-img-small {
    margin: 0 0 0 15px;
    width: 191px; }
  .perform-link {
    margin-left: 14px; }
  .perform-item {
    margin-bottom: 120px; }
    .perform-item:after {
      height: 740px; }
    .perform-item.reverse .perform-img-small {
      margin-right: 15px; }
    .perform-item.reverse .perform-content {
      padding-right: 20px; }
    .perform-item.reverse .perform-link {
      margin-left: 14px; }
  .review {
    margin-bottom: 40px; }
    .review-content {
      line-height: 1.45; }
  .objects-content {
    padding-right: 10px; }
    .objects-content__head {
      font-size: 36px; }
  .advantage-item {
    width: 356px;
    margin: 0 20px 28px 0; }
    .advantage-item__head {
      font-size: 21px;
      line-height: 1.2; }
    .advantage-item__text {
      line-height: 1.35; }
  .project-item {
    width: 270px;
    margin: 0 10px 10px 0; }
  .manual-item {
    width: 300px; }
    .manual-item__num {
      font-size: 60px; }
    .manual-item-content {
      padding-left: 83px !important; }
    .manual-item__head {
      font-size: 21px; }
    .manual-item__text {
      line-height: 1.3; }
    .manual-item.six {
      right: -137px; }
    .manual-item.three:after {
      left: 47px; }
    .manual-item.five:after {
      left: 98px; }
  .contacts-content {
    width: 600px;
    padding: 53px 0 33px; }
  .contacts-map {
    padding-left: 600px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px; }
  .nav {
    margin-right: 10px; }
    .nav li {
      margin-right: 6px; }
  .header-info__tel {
    font-size: 28px; }
  .showcase-content__head {
    font-size: 36px; }
  .showcase-content-text span {
    font-size: 18px; }
  .warranty-item__head {
    font-size: 22px; }
  .consult {
    display: flex; }
    .consult-wrap {
      margin-bottom: 46px; }
    .consult-img {
      position: static;
      width: 330px;
      flex-shrink: 0; }
    .consult-content {
      flex-grow: 10;
      padding-left: 16px;
      padding-top: 0; }
      .consult-content__text {
        line-height: 1.25; }
    .consult-info a, .consult-info span {
      font-size: 18px; }
    .consult-caption {
      padding: 21px 0 0; }
  .staff {
    justify-content: center; }
    .staff-item {
      margin: 0 14px 36px; }
      .staff-item:nth-child(3n) {
        margin: 0 14px 36px; }
  .offer {
    padding-bottom: 50px; }
    .offer-items {
      margin-bottom: 20px; }
    .offer-item {
      margin-right: 10px; }
      .offer-item__head {
        font-size: 20px; }
    .offer-list li {
      line-height: 1.35; }
  .pricing {
    position: static;
    width: 710px; }
  .order {
    padding: 40px 20px 0 20px;
    margin-bottom: 54px; }
    .order-content {
      padding-left: 24px; }
      .order-content__note {
        font-size: 40px; }
      .order-content-empty {
        font-size: 21px; }
    .order_inner .order {
      padding-right: 20px;
      padding-left: 20px; }
      .order_inner .order-content__empty {
        font-size: 21px; }
  .perform {
    flex-wrap: wrap; }
    .perform-img {
      justify-content: center; }
      .perform-img-big {
        max-width: 614px; }
    .perform-content {
      width: 100%;
      padding-top: 26px; }
      .perform-content-wrap {
        display: flex;
        align-items: center; }
      .perform-content-item {
        margin-bottom: 0;
        margin-right: 24px; }
    .perform-link {
      margin-left: 0;
      margin-top: 30px; }
    .perform-items {
      margin-bottom: 65px; }
    .perform-item {
      margin-bottom: 40px; }
      .perform-item:after {
        display: none; }
      .perform-item.reverse .perform-content {
        order: 0; }
      .perform-item.reverse .review-content {
        order: 0;
        padding: 0 28px; }
  .review {
    margin: 0 0 0 14px; }
    .review-content {
      padding: 0 28px; }
  .advantage-item {
    width: 310px; }
  .project-items {
    justify-content: center; }
  .project-item {
    margin: 0 8px 15px; }
    .project-item:nth-child(4n) {
      margin: 0 8px 15px; }
  .manual-item.one:after {
    bottom: -88px;
    left: 14px; }
  .manual-item.two {
    left: 92px; }
    .manual-item.two:before {
      top: -72px;
      left: 166px; }
  .manual-item.three {
    left: 311px; }
    .manual-item.three:after {
      left: 78px; }
  .manual-item.four {
    right: 204px; }
    .manual-item.four:before {
      left: 164px; }
  .manual-item.five {
    right: 0; }
    .manual-item.five:after {
      bottom: -83px;
      left: 71px; }
  .contacts-content {
    width: 525px;
    padding-right: 5px; }
  .contacts-map {
    padding-left: 525px; }
  .contacts-item {
    width: 200px;
    margin-right: 18px; }
  .contacts-info__address {
    font-size: 21px; }
  .contacts-info-item {
    margin-bottom: 77px; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px; }
  .nav-wrap {
    justify-content: space-between; }
  .header {
    display: block;
    text-align: center; }
  .logo {
    width: 212px;
    margin: 0 auto 18px; }
  .showcase {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 44px;
    padding-top: 40px; }
    .showcase-content {
      margin-bottom: 30px; }
    .showcase-info {
      margin: 0 auto; }
    .showcase-img {
      display: none; }
  .warranty {
    flex-wrap: wrap; }
    .warranty-wrap {
      padding-top: 30px; }
    .warranty-head {
      margin-top: 0;
      padding-top: 0;
      width: 100%; }
    .warranty-content {
      width: 100%;
      padding-right: 0; }
  .consult {
    flex-direction: column; }
    .consult-img {
      margin: 0 auto 30px; }
  .offer {
    padding-bottom: 36px;
    padding-top: 44px; }
    .offer-items {
      flex-wrap: wrap;
      justify-content: center; }
    .offer-item {
      margin: 0 10px 30px; }
      .offer-item:last-child {
        margin: 0 10px 30px; }
  .pricing {
    margin: 0 auto 20px; }
  .order-content__text {
    margin-bottom: 16px;
    line-height: 1.3; }
  .order-content__note {
    font-size: 26px; }
  .order-content__empty {
    font-size: 21px;
    margin-bottom: 30px; }
  .order .showcase-info {
    width: 340px;
    padding-right: 14px;
    padding-left: 14px; }
  .order_inner .order {
    margin-bottom: 50px; }
  .perform-img {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .perform-img-big {
      max-width: 660px;
      margin-bottom: 16px; }
    .perform-img-small {
      margin-left: 0;
      width: 100%;
      display: flex;
      justify-content: center; }
      .perform-img-small li {
        margin-bottom: 0;
        margin-right: 16px; }
        .perform-img-small li:last-child {
          margin-right: 0; }
        .perform-img-small li img {
          max-width: 210px; }
  .perform-item.reverse .perform-img-small {
    order: 0;
    margin-right: 0; }
  .perform-item.reverse .perform-content {
    padding: 26px 0 0 24px; }
  .perform-item.reverse .review {
    margin-right: 0; }
  .objects {
    margin-bottom: 42px; }
    .objects-content {
      width: 360px;
      padding-top: 36px; }
      .objects-content__head {
        font-size: 30px; }
      .objects-content .showcase-info {
        text-align: center;
        width: auto;
        padding-right: 0; }
        .objects-content .showcase-info button {
          margin-left: 0; }
      .objects-content .showcase-input {
        text-align: left; }
    .objects-map {
      padding-left: 360px; }
  .advantage-items {
    justify-content: center; }
  .advantage-item {
    margin: 0 10px 20px; }
    .advantage-item:nth-child(3n) {
      margin: 0 10px 20px; }
  .manual-items {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px; }
  .manual-item {
    display: flex;
    margin: 0 10px 30px; }
    .manual-item:after, .manual-item:before {
      display: none !important; }
    .manual-item.one, .manual-item.two, .manual-item.three, .manual-item.four, .manual-item.five, .manual-item.six {
      position: static !important; }
    .manual-item__num {
      position: static;
      flex-shrink: 0;
      margin-top: -14px; }
    .manual-item-content {
      padding-left: 10px !important;
      flex-grow: 10; }
    .manual-item-img {
      margin: -28px auto 0; }
  .contacts {
    flex-direction: column; }
    .contacts-wrap .container {
      max-width: 100%; }
    .contacts-content {
      width: auto;
      margin: 0 15px; }
    .contacts-item {
      width: 230px;
      margin-right: 20px; }
    .contacts-map {
      font-size: 0;
      position: static;
      padding-left: 0; }
      .contacts-map iframe {
        height: 300px; }
  .bottom {
    flex-direction: column; }
    .bottom-item {
      text-align: center;
      margin-bottom: 5px; }
      .bottom-item:last-child {
        margin-bottom: 0; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .burger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: block;
    width: 30px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 30px;
        height: 4px;
        background: #37bc44;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background: #37bc44;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -8px; }
        .burger a span:after {
          top: 8px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  .header {
    text-align: left;
    margin: 0 15px; }
    .header-wrap .container {
      max-width: 100%; }
    .header-info {
      text-align: center; }
  .nav {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 14px; }
    .nav-wrap {
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      margin-top: 10px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding-bottom: 16px;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 1000;
      flex-direction: column; }
      .nav-wrap.active {
        margin-top: 0;
        opacity: 1;
        visibility: visible; }
    .nav li {
      margin: 6px 0; }
  .warranty {
    margin-bottom: 36px; }
    .warranty-items {
      flex-wrap: wrap;
      justify-content: center; }
    .warranty-item {
      width: 230px !important;
      margin: 0 10px 20px !important; }
  .consult-caption__text {
    margin: 0 20px 0 0;
    line-height: 1.2; }
  .consult-info {
    border: 3px solid #37bc44; }
    .consult-info a, .consult-info span {
      font-size: 16px; }
  .pricing {
    width: 100%;
    border: 3px solid #37bc44;
    padding: 16px 10px; }
    .pricing-info__download {
      font-size: 20px; }
    .pricing-info__text {
      font-size: 18px; }
    .pricing-info-size {
      font-size: 16px; }
  .order {
    flex-direction: column; }
    .order-content {
      padding-left: 0; }
    .order_inner .order-content {
      order: 0;
      padding-top: 30px; }
  .perform-img-big {
    max-width: 100%; }
  .perform-img-small li img {
    max-width: 168px; }
  .perform-content {
    padding-left: 0 !important; }
  .review-content {
    padding: 0 14px; }
  .objects {
    flex-direction: column;
    margin-bottom: 0; }
    .objects-wrap {
      background-color: #f0f5f8;
      margin-bottom: 44px; }
      .objects-wrap .container {
        max-width: 100%; }
    .objects-content {
      width: auto;
      margin: 0 15px; }
    .objects-map {
      font-size: 0;
      position: static;
      padding-left: 0; }
      .objects-map iframe {
        height: 300px; }
  .manual-item-img {
    margin-top: 0;
    width: 100%;
    text-align: center; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px; }
  .header {
    margin: 0; }
  .showcase-content__head {
    font-size: 28px; }
  .showcase-info {
    width: auto;
    padding: 12px 8px 16px; }
    .showcase-info__head {
      font-size: 28px; }
    .showcase-info__text {
      font-size: 20px;
      margin-bottom: 24px; }
    .showcase-info button {
      width: 100%;
      padding: 0px 14px;
      margin-left: 0; }
  .showcase-input label {
    margin-bottom: 0; }
  .showcase-checkbox-text span {
    display: inline; }
  .consult-img {
    width: 100%; }
  .consult-content {
    padding-left: 0; }
  .consult-caption {
    padding-bottom: 15px; }
  .staff-wrap .head {
    font-size: 15px; }
  .staff-item {
    margin: 0 0 32px; }
    .staff-item:nth-child(3n) {
      margin: 0 0 32px; }
    .staff-item__text {
      font-size: 21px;
      line-height: 1.3; }
    .staff-item-content {
      padding-top: 40px;
      padding-left: 10px; }
    .staff-item-img {
      width: 166px; }
  .staff-info {
    width: 166px;
    border: 3px solid #37bc44;
    padding: 40px 10px 58px 20px; }
  .order {
    padding-left: 10px;
    padding-right: 10px; }
    .order .showcase-info {
      width: auto; }
      .order .showcase-info button {
        margin-left: 0;
        width: 100%;
        padding: 0 8px;
        font-size: 15px; }
    .order .showcase-checkbox {
      padding-right: 6px; }
    .order_inner .order {
      padding-right: 10px;
      padding-left: 10px; }
      .order_inner .order .showcase-info button {
        margin-left: 0; }
  .perform-img-small {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .perform-img-small li {
      margin-right: 0;
      margin-bottom: 10px; }
  .perform-content-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .perform-content-item {
    margin-right: 0;
    margin-bottom: 16px; }
  .perform-content__head {
    font-size: 20px;
    line-height: 1.2; }
  .perform-item.reverse .review-content {
    padding: 0; }
  .review {
    margin-left: 0;
    flex-direction: column; }
    .review-info {
      margin-bottom: 16px; }
    .review-content {
      padding: 0; }
  .objects-wrap .container {
    padding: 0; }
  .pagination li {
    margin-right: 12px; }
    .pagination li:after {
      display: none; }
  .manual-head .head {
    font-size: 36px; }
  .contacts-wrap .container {
    padding: 0; }
  .contacts-item {
    margin: 0 auto 20px; }
    .contacts-item-logo {
      margin-bottom: 40px; }
  .contacts-content {
    text-align: center;
    padding-top: 38px;
    flex-direction: column; }
  .contacts-info-item {
    margin-bottom: 30px; } }
