button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Qanelas', sans-serif; }

a {
  color: #000;
  font: 400 16px 'Qanelas', sans-serif;
  transition: 300ms;
  display: inline-block;
  vertical-align: top;
  font-family: inherit; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.burger {
  display: none; }

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  position: relative; }

.head {
  display: inline-block;
  vertical-align: top;
  font: 800 16px 'Qanelas';
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-right: 14px;
  margin-bottom: 38px;
  position: relative;
  z-index: 5; }
  .head:after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: #89ec93;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; }

.link {
  background-color: #43b24e;
  color: #fff;
  font: 700 16px/60px 'Qanelas';
  text-transform: uppercase;
  padding: 0 36px;
  letter-spacing: 3px; }
  .link:hover {
    background-color: #37bc44;
    color: #fff; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 18px; }
  .header-info {
    text-align: right; }
    .header-info__tel {
      font-size: 32px;
      font-weight: 700; }
      .header-info__tel:hover {
        color: #37bc44; }

.nav {
  margin-right: 102px;
  padding-top: 14px; }
  .nav-wrap {
    display: flex;
    align-items: center; }
  .nav li {
    margin-right: 16px; }
    .nav li:last-child {
      margin-right: 0; }
    .nav li a {
      font-weight: 700;
      text-transform: uppercase;
      padding-right: 8px;
      position: relative; }
      .nav li a:after {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        background-color: #89ec93;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: 300ms; }
      .nav li a:hover {
        color: #000; }
        .nav li a:hover:after {
          opacity: 1;
          visibility: visible; }
    .nav li.active a:after {
      opacity: 1;
      visibility: visible; }

.showcase {
  padding: 110px 0 82px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative; }
  .showcase-wrap {
    background: url(../images/ShwBG.jpg) no-repeat 50%; }
  .showcase-img {
    position: absolute;
    bottom: 120px;
    left: 0; }
  .showcase-input {
    width: 100%;
    margin-bottom: 16px; }
    .showcase-input label {
      cursor: pointer;
      color: #fff;
      font: 700 18px 'Qanelas'; }
    .showcase-input input {
      border: none;
      border-bottom: 2px solid #fff;
      width: 100%;
      height: 32px;
      background-color: transparent;
      color: #fff;
      font: 700 18px 'Qanelas'; }
      .showcase-input input::-webkit-input-placeholder {
        color: #fff; }
      .showcase-input input:-moz-placeholder {
        color: #fff; }
      .showcase-input input::-moz-placeholder {
        color: #fff; }
      .showcase-input input:-ms-input-placeholder {
        color: #fff; }

.showcase-checkbox {
  padding: 5px 0 31px; }
  .showcase-checkbox label {
    cursor: pointer;
    margin: 0;
    position: relative; }
    .showcase-checkbox label input {
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: 0;
      width: 14px;
      height: 14px;
      border: none; }
  .showcase-checkbox-text {
    padding-left: 22px; }
    .showcase-checkbox-text a {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #fff;
      text-decoration: underline; }
      .showcase-checkbox-text a:hover {
        text-decoration: none; }
    .showcase-checkbox-text span {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #fff; }

.showcase-content {
  padding-top: 27px; }
  .showcase-content__head {
    font-size: 48px;
    font-weight: 700;
    background-color: #fff;
    margin-bottom: 0;
    padding: 0 10px; }
  .showcase-content-text span {
    display: inline-block;
    padding: 0 10px 5px;
    font-size: 24px;
    font-weight: 700;
    background-color: #fff; }

.showcase-info {
  align-self: flex-start;
  flex-shrink: 0;
  width: 380px;
  background-color: #43b24e;
  border: 5px solid #fff;
  padding: 21px 26px 24px; }
  .showcase-info__head {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 3px; }
  .showcase-info__text {
    font-size: 24px;
    margin-bottom: 41px; }
  .showcase-info__note {
    text-align: center;
    color: #fff; }
  .showcase-info button {
    border: none;
    cursor: pointer;
    transition: 300ms;
    height: 60px;
    padding: 0 40px;
    margin: 0 0 20px 7px;
    background-color: #fff;
    text-transform: uppercase;
    font: 700 16px 'Qanelas'; }
    .showcase-info button:hover {
      background-color: #1f4823;
      color: #fff; }

.warranty {
  display: flex;
  align-items: flex-start;
  margin-bottom: 54px; }
  .warranty-head {
    width: 320px;
    background-color: #fff;
    margin: -75px 95px 0 0;
    padding-top: 50px;
    position: relative; }
    .warranty-head:before {
      content: '';
      display: block;
      width: 2000px;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 100%; }
    .warranty-head .head {
      margin-bottom: 32px; }
      .warranty-head .head:after {
        z-index: -1; }
  .warranty-content {
    width: 320px;
    flex-shrink: 0;
    padding-right: 66px; }
    .warranty-content__head {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 0; }
    .warranty-content__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3; }

.warranty-items {
  display: flex;
  flex-grow: 10;
  padding-top: 35px; }

.warranty-item {
  width: 22.5%;
  margin-right: 45px;
  padding-bottom: 28px;
  position: relative; }
  .warranty-item:after {
    content: '';
    display: block;
    width: 90px;
    height: 5px;
    background-color: #43b24e;
    position: absolute;
    bottom: 0;
    left: 0; }
  .warranty-item:first-child {
    margin-right: 62px; }
  .warranty-item:nth-child(2) {
    margin-right: 54px; }
  .warranty-item:nth-child(3) {
    margin-right: 18px; }
  .warranty-item:last-child {
    width: 18%;
    margin-right: 0; }
  .warranty-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px; }
  .warranty-item__text {
    font-weight: 700; }

.consult {
  position: relative; }
  .consult-wrap {
    background-color: #f0f5f8;
    padding: 58px 0 38px;
    margin: 0 90px 86px; }
    .consult-wrap .head {
      margin-bottom: 42px; }
  .consult-img {
    width: 380px;
    position: absolute;
    top: 6px;
    left: 0; }
  .consult-content {
    padding-left: 430px;
    margin-top: -5px; }
    .consult-content__text {
      font-style: italic;
      line-height: 1.65; }
  .consult-caption {
    padding: 27px 0 0;
    display: flex;
    align-items: flex-start; }
    .consult-caption__text {
      width: 360px;
      margin: -3px 62px 0 0;
      font-weight: 700;
      line-height: 1.65; }
    .consult-caption__mark {
      font: 400 49px 'Pushkin';
      transform: skewY(-9deg);
      transform-origin: center left; }
  .consult-info {
    border: 6px solid #37bc44;
    padding: 13px 24px 13px 53px; }
    .consult-info a, .consult-info span {
      font-size: 24px;
      font-weight: 700; }
    .consult-info a {
      border-bottom: 1px solid #000; }
      .consult-info a:hover {
        color: #000;
        border-bottom: 1px solid transparent; }

.staff {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 17px; }
  .staff-wrap .head {
    margin-bottom: 36px; }
  .staff-item {
    width: 360px;
    margin: 0 80px 61px 0;
    display: flex; }
    .staff-item:nth-child(3n) {
      margin-right: 0; }
    .staff-item__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.45;
      padding: 16px 0 0 0; }
    .staff-item-img {
      flex-shrink: 0;
      width: 200px; }
    .staff-item-content {
      flex-grow: 10;
      padding-top: 50px;
      padding-left: 40px; }
    .staff-item__head {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 8px; }
    .staff-item__name {
      margin-bottom: 33px; }
  .staff-info {
    width: 200px;
    border: 6px solid #37bc44;
    padding: 42px 37px 60px 44px; }
    .staff-info__num {
      font-size: 48px;
      font-weight: 700; }
    .staff-info__text {
      line-height: 1.6; }

.offer {
  padding: 64px 0 111px;
  position: relative; }
  .offer-wrap {
    background-color: #f0f5f8;
    margin: 0 90px; }
  .offer-head {
    margin-bottom: 37px; }
    .offer-head .head {
      margin-bottom: 6px; }
  .offer-items {
    display: flex; }
  .offer-item {
    width: 380px;
    margin-right: 61px; }
    .offer-item:last-child {
      margin-right: 0; }
      .offer-item:last-child .offer-list {
        padding-top: 10px; }
    .offer-item-img {
      margin-bottom: 24px; }
    .offer-item__head {
      font-size: 24px;
      font-weight: 700;
      border-bottom: 2px solid #37bc44;
      margin-bottom: 8px; }
      .offer-item__head:hover {
        color: #000;
        border-bottom: 2px solid transparent; }
  .offer-info {
    margin-bottom: 7px;
    display: flex;
    align-items: center; }
    .offer-info img {
      flex-shrink: 0; }
    .offer-info__day {
      padding-left: 13px;
      font-weight: 700; }
    .offer-info__cost {
      padding-left: 13px;
      font-size: 24px;
      font-weight: 700; }
  .offer-list {
    padding: 0;
    margin: 0;
    padding-top: 22px; }
    .offer-list li {
      list-style-type: none;
      line-height: 1.65; }
    .offer-list__mark {
      font-size: 24px; }

.pricing {
  position: absolute;
  bottom: 57px;
  left: 0;
  border: 6px solid #37bc44;
  padding: 26px 80px 25px 44px; }
  .pricing__text {
    margin-bottom: 10px; }
  .pricing-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .pricing-info__download {
      font-size: 24px;
      font-weight: 700;
      border-bottom: 1px solid #000;
      margin-right: 5px; }
      .pricing-info__download:hover {
        color: #37bc44;
        border-bottom: 1px solid transparent; }
    .pricing-info__text {
      font-size: 24px;
      margin-right: 5px; }
    .pricing-info-size span {
      text-transform: uppercase; }

.order {
  display: flex;
  margin-bottom: 75px;
  position: relative;
  z-index: 10;
  padding: 40px 94px 0 80px;
  background: url(../images/OrBG.jpg) no-repeat 50%;
  background-size: cover; }
  .order-wrap {
    margin: 0 90px;
    background-color: #f0f5f8;
    position: relative; }
    .order-wrap:after {
      content: '';
      display: block;
      width: 100%;
      height: 80px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }
  .order-content {
    flex-grow: 10;
    padding: 60px 0 22px 100px; }
    .order-content__head {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 4px; }
    .order-content__text {
      line-height: 1.6;
      margin-bottom: 51px;
      color: #fff; }
    .order-content__note {
      font-size: 48px;
      font-weight: 700;
      color: #fff; }
    .order-content__empty {
      font-size: 24px;
      font-weight: 700;
      color: #37bc44;
      margin-bottom: 48px; }
    .order-content__info {
      color: #fff; }
  .order .showcase-info {
    align-self: flex-end;
    border: none;
    padding: 38px 31px 32px; }
    .order .showcase-info button {
      padding: 0 40px;
      margin: 0 0 20px 20px; }

.order_inner .order {
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 77px; }
  .order_inner .order-content {
    order: -1;
    padding-left: 0;
    padding-right: 100px;
    padding-top: 58px; }
  .order_inner .order .showcase-info button {
    margin-left: 44px; }

.perform {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px; }
  .perform-wrap {
    overflow: hidden; }
    .perform-wrap .head {
      margin-bottom: 45px; }
  .perform-img {
    flex-grow: 10;
    display: flex; }
    .perform-img-big {
      flex-grow: 10; }
    .perform-img-small {
      padding: 0;
      margin: 0 0 0 20px;
      width: 220px;
      flex-shrink: 0; }
      .perform-img-small li {
        list-style-type: none;
        margin-bottom: 14px; }
        .perform-img-small li:last-child {
          margin-bottom: 0; }
  .perform-link {
    margin: 50px 0 0 22px; }
  .perform-items {
    margin-bottom: 150px; }
  .perform-item {
    margin-bottom: 60px;
    position: relative;
    z-index: 10; }
    .perform-item:after {
      content: '';
      display: block;
      width: 1420px;
      height: 770px;
      background-color: #f0f5f8;
      position: absolute;
      top: 22px;
      right: -237px;
      z-index: -1; }

.perform-content {
  width: 320px;
  flex-shrink: 0;
  padding: 68px 0 0 58px; }
  .perform-content__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.45;
    margin-bottom: 40px; }
  .perform-content-item {
    display: flex;
    align-items: center;
    margin-bottom: 22px; }
    .perform-content-item:last-child {
      margin-bottom: 0; }
    .perform-content-item img {
      width: 22px;
      height: 22px;
      flex-shrink: 0;
      margin-right: 15px; }

.perform-item.reverse:after {
  right: auto;
  left: -237px; }

.perform-item.reverse .perform-img-small {
  order: -1;
  margin-left: 0;
  margin-right: 20px; }

.perform-item.reverse .perform-content {
  order: -1;
  padding-left: 0;
  padding-right: 67px; }

.perform-item.reverse .perform-link {
  margin-left: 32px; }

.perform-item.reverse .review {
  margin-left: 0;
  margin-right: 60px; }
  .perform-item.reverse .review:after {
    right: auto;
    left: 0; }
  .perform-item.reverse .review-content {
    order: -1;
    padding: 0 50px 0 160px; }

.review {
  display: flex;
  margin: 0 0 133px 60px;
  position: relative;
  z-index: 10; }
  .review:after {
    content: '';
    display: block;
    background: url(../images/quotes.png) no-repeat 50%;
    width: 240px;
    height: 204px;
    position: absolute;
    bottom: -26px;
    right: 0;
    z-index: -1; }
  .review-info {
    width: 140px;
    flex-shrink: 0; }
    .review-info-img {
      margin-bottom: 18px; }
    .review-info__name {
      font-weight: 700;
      margin-bottom: 6px; }
    .review-info__city {
      font-weight: 700; }
  .review-content {
    flex-grow: 10;
    font-style: italic;
    line-height: 1.65;
    padding: 0 176px 0 38px; }

.objects {
  position: relative;
  margin-bottom: 70px;
  font-size: 0; }
  .objects-wrap {
    overflow: hidden; }
  .objects-content {
    width: 400px;
    background-color: #f0f5f8;
    padding: 60px 0 10px;
    position: relative;
    z-index: 100; }
    .objects-content:before {
      content: '';
      display: block;
      background-color: #f0f5f8;
      width: 240px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 100%; }
    .objects-content__head {
      font-size: 48px;
      font-weight: 700;
      color: #37bc44; }
    .objects-content .offer-head {
      margin-bottom: 30px; }
    .objects-content .showcase-checkbox {
      padding: 10px 0 23px; }
      .objects-content .showcase-checkbox label input {
        top: 1px; }
      .objects-content .showcase-checkbox-text a, .objects-content .showcase-checkbox-text span {
        color: #000; }
      .objects-content .showcase-checkbox-text a {
        margin-right: 4px; }
    .objects-content .showcase-info {
      padding: 27px 58px 17px 0;
      background-color: #f0f5f8;
      border: none; }
      .objects-content .showcase-info button {
        background-color: #37bc44;
        margin: 0 0 20px 20px;
        color: #fff; }
        .objects-content .showcase-info button:hover {
          background-color: #43b24e; }
      .objects-content .showcase-info__note {
        font-size: 16px;
        color: #000; }
    .objects-content .showcase-input input {
      border-bottom: 2px solid #000;
      color: #000; }
    .objects-content .showcase-input label {
      color: #000; }
  .objects-map {
    position: absolute;
    top: 0;
    right: -237px;
    bottom: 0;
    left: 0;
    padding-left: 400px; }
    .objects-map iframe {
      width: 100%;
      height: 100%;
      border: none; }

.advantage {
  padding-bottom: 29px;
  margin-bottom: 60px;
  border-bottom: 1px solid #898989; }
  .advantage .head {
    margin-bottom: 49px; }
  .advantage-items {
    display: flex;
    flex-wrap: wrap; }
  .advantage-item {
    width: 380px;
    margin: 0 60px 34px 0; }
    .advantage-item:nth-child(3n) {
      margin-right: 0; }
    .advantage-item-img {
      display: inline-block;
      vertical-align: middle;
      height: 80px;
      line-height: 80px;
      margin-bottom: 18px; }
      .advantage-item-img img {
        display: inline-block;
        vertical-align: middle;
        line-height: 80px; }
    .advantage-item__head {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4; }
    .advantage-item__text {
      line-height: 1.65; }

.project .head {
  margin-bottom: 58px; }

.project-items {
  display: flex;
  flex-wrap: wrap; }

.project-item {
  width: 300px;
  margin: 0 20px 20px 0; }
  .project-item:nth-child(4n) {
    margin-right: 0; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 19px 0 50px; }
  .pagination li {
    position: relative;
    margin-right: 20px; }
    .pagination li:after {
      content: '/';
      display: block;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: 5px;
      right: -14px; }
    .pagination li:last-child {
      margin-right: 0; }
      .pagination li:last-child:after {
        display: none; }
    .pagination li:nth-last-child(2):after {
      display: none; }
    .pagination li.active a {
      background-color: #37bc44;
      color: #fff; }
    .pagination li.prev, .pagination li.next {
      margin: 0; }
      .pagination li.prev:after, .pagination li.next:after {
        display: none; }
      .pagination li.prev a, .pagination li.next a {
        width: auto;
        height: auto; }
        .pagination li.prev a:hover, .pagination li.next a:hover {
          background-color: #fff;
          color: #37bc44; }
        .pagination li.prev a i, .pagination li.next a i {
          font-size: 16px; }
    .pagination li.prev {
      margin-right: 8px; }
    .pagination li a {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase; }
      .pagination li a:hover {
        background-color: #37bc44;
        color: #fff; }

.contacts {
  position: relative;
  display: flex; }
  .contacts-wrap {
    overflow: hidden;
    margin: 0 90px;
    background-color: #43b24e; }
  .contacts-content {
    width: 700px;
    padding: 88px 0 59px;
    position: relative;
    z-index: 100;
    display: flex; }
  .contacts-item {
    width: 206px;
    text-align: center;
    flex-shrink: 0;
    padding-top: 10px;
    margin-right: 32px; }
    .contacts-item-logo {
      margin-bottom: 68px; }
  .contacts-map {
    position: absolute;
    top: 0;
    left: 0;
    right: -240px;
    bottom: 0;
    padding-left: 700px; }
    .contacts-map iframe {
      border: none;
      width: 100%;
      height: 100%; }

.contacts-info {
  flex-grow: 10; }
  .contacts-info-item {
    margin-bottom: 90px; }
    .contacts-info-item:last-child {
      margin-bottom: 0; }
  .contacts-info__head {
    color: #fff;
    margin-bottom: 8px; }
  .contacts-info__tel {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 13px; }
    .contacts-info__tel:hover {
      color: #000; }
  .contacts-info-mail {
    margin-top: 14px; }
    .contacts-info-mail span, .contacts-info-mail a {
      color: #fff; }
    .contacts-info-mail a {
      text-decoration: underline; }
      .contacts-info-mail a:hover {
        text-decoration: none; }
  .contacts-info__address {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px; }
  .contacts-info__text {
    color: #fff; }

.bottom {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bottom-item a {
    text-decoration: underline;
    color: #000; }
    .bottom-item a:hover {
      text-decoration: none; }

.manual {
  padding-top: 56px; }
  .manual-wrap {
    overflow: hidden;
    background-color: #f0f5f8;
    margin: 0 90px; }
  .manual-head {
    text-align: center; }
    .manual-head .head {
      padding: 0 19px;
      margin-bottom: 60px;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: none; }
      .manual-head .head:after {
        height: 25px;
        background-color: #89ec93; }

.manual-items {
  position: relative;
  height: 332px; }

.manual-item {
  width: 365px;
  position: relative;
  margin-bottom: 55px; }
  .manual-item:last-child {
    margin-bottom: 0; }
  .manual-item__num {
    font-size: 78px;
    font-weight: 900;
    color: #37bc44;
    position: absolute;
    top: -18px;
    left: 0; }
  .manual-item-content {
    padding-left: 115px;
    padding-top: 1px; }
  .manual-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0; }
  .manual-item__text {
    line-height: 1.65; }
  .manual-item.one {
    position: absolute;
    top: 23px;
    left: 0; }
    .manual-item.one .manual-item-content {
      padding-left: 102px; }
    .manual-item.one:after {
      content: '';
      display: block;
      background: url(../images/arws1.png) no-repeat 50%;
      width: 65px;
      height: 65px;
      position: absolute;
      bottom: -98px;
      left: 28px; }
  .manual-item.two {
    position: absolute;
    top: 136px;
    left: 120px; }
    .manual-item.two:before {
      content: '';
      display: block;
      background: url(../images/arws2.png) no-repeat 50%;
      width: 65px;
      height: 65px;
      position: absolute;
      top: -73px;
      left: 186px; }
  .manual-item.three {
    position: absolute;
    top: 0;
    left: 390px; }
    .manual-item.three:after {
      content: '';
      display: block;
      background: url(../images/arws1.png) no-repeat 50%;
      width: 65px;
      height: 65px;
      position: absolute;
      bottom: -86px;
      left: 120px; }
  .manual-item.four {
    position: absolute;
    top: 160px;
    right: 294px; }
    .manual-item.four:before {
      content: '';
      display: block;
      background: url(../images/arws2.png) no-repeat 50%;
      width: 65px;
      height: 65px;
      position: absolute;
      top: -79px;
      left: 171px; }
  .manual-item.five {
    position: absolute;
    top: 16px;
    right: 52px; }
    .manual-item.five:after {
      content: '';
      display: block;
      background: url(../images/arws1.png) no-repeat 50%;
      width: 65px;
      height: 65px;
      position: absolute;
      bottom: -95px;
      left: 174px; }
  .manual-item.six {
    position: absolute;
    top: 131px;
    right: -199px; }
