$green: #1fa879;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Montserrat', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'Montserrat', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.head {
  color: $green;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 34px;
  letter-spacing: 2px;
}

.link {
  color: $green;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  padding-right: 60px;
  position: relative;
  &:hover {
    color: $green;
    img {
      right: -3px;
    }
  }
  img {
    transition: 300ms;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.logo {
  display: flex;
  align-items: center;
  a {
    flex-shrink: 0;
    width: 200px;
    margin-right: 39px;
  }
  &__text {
    width: 190px;
    font-family: 'PTSans';
    margin-right: 50px;
    line-height: 1.65;
    margin-top: -4px;
  }
}

.city {
  &__head {
    font-family: 'PTSans';
    margin-bottom: 5px;
  }
  &-name {
    font-family: 'PTSans';
    font-weight: 700;
    text-decoration: underline;
  }
}

.check {
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #1fa879;
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background-color: $green;
      opacity: 0;
      transition: 300ms;
    }
  }
  &-text {
    padding-left: 40px;
    color: #48423b;
    font-family: 'PTSans';
    line-height: 1.65;
  }
}

// Main

.main {
  &-wrap {
    margin-bottom: 45px;
  }
  &-section {
    display: flex;
  }
  &-body {
    flex-grow: 10px;
    margin-right: 80px;
  }
}

// Sidebar

.sidebar {
  flex-shrink: 0;
  width: 300px;
  margin-bottom: 40px;
}

.container {
  position: relative;
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .container {
    width: 1170px;
  }
  
  .logo {
    a {
      width: 160px;
      margin-right: 18px;
    }
    &__text {
      margin-top: 0;
      line-height: 1.4;
      margin-right: 16px;
    }
  }
  
  .main-body {
    margin-right: 30px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
  
  .logo {
    &__text {
      font-size: 14px;
      width: 170px;
    }
  }
  
  .city {
    &__head {
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
  
  .link {
    letter-spacing: 1px;
  }
  
  .logo {
    &__text {
      display: none;
    }
  }
  
  .city {
    display: none;
  }
  
  .sidebar {
    width: 280px;
  }
  
  .main-wrap {
    margin-bottom: 34px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px !important;
    padding: 0 !important;
  }
  
  .main {
    &-section {
      flex-direction: column;
    }
    &-body {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  
  .sidebar {
    width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
  .head {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .link {
    font-size: 15px;
    letter-spacing: 0;
    padding-right: 46px;
  }
  
  .sidebar {
    width: 100%;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: $green;
      transition: all .2s ease-in-out;
      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: $green;
        transition: all .2s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
    &.active {
      span {
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }
        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
}

// Nav

.nav {
  li {
    position: relative;
    padding: 0 26px;
    &:first-child:before {
      content: '';
      display: block;
      width: 1px;
      height: 40px;
      background-color: $green;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 40px;
      background-color: $green;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    a {
      color: #000;
      font-family: 'PTSans';
      font-size: 18px;
      font-weight: 700;
      &:hover {
        color: $green;
      }
    }
  }
}

@media (max-width: 1200px) {
  .nav {
    li {
      padding: 0 14px;
      a {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 991px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    li {
      padding: 0;
      margin: 3px 0;
      a {
        font-size: 18px;
      }
    }
  }
  .nav li:first-child:before {
    display: none;
  }
  .nav li:after {
    display: none;
  }
}

// Header

.header {
  padding: 18px 0 14px;
  &-wrap {
    background-color: #edf2f5;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    &:first-child {
      padding-right: 78px;
    }
    &:last-child {
      margin-bottom: 0;
      align-items: center;
    }
    &-item {
      display: flex;
      align-items: flex-start;
    }
  }
  &-info {
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-family: 'PTSans';
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__calc {
    line-height: 40px;
    padding: 0 16px;
    color: #fff;
    font-family: 'PTSans';
    font-weight: 700;
    background-color: $green;
    margin-right: 60px;
    &:hover {
      color: #fff;
      opacity: .9;
    }
  }
}

.header-nav {
  margin: 0 64px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: #000;
      font-family: 'PTSans';
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-contact {
  display: flex;
  align-items: center;
  &__tel {
    color: #000;
    font-family: 'PTSans';
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;
    &:hover {
      color: $green;
    }
  }
  &__link {
    line-height: 38px;
    padding: 0 14px;
    color: $green;
    border: 1px solid $green;
    font-family: 'PTSans';
    &:hover {
      color: #000;
      border: 1px solid #000;
    }
  }
}

@media (max-width: 1336px) {
  .header {
    &-row {
      &:first-child {
        padding-right: 0;
      }
    }
  }
}
@media (max-width: 1200px) {
  .header {
    &-row:first-child {
      margin-bottom: 12px;
    }
    &-info {
      width: 244px;
      li {
        font-size: 15px;
      }
    }
    &-nav {
      margin-right: 16px;
      li {
        margin-right: 14px;
      }
    }
    &__calc {
      margin-right: 10px;
      padding: 0 12px;
    }
    &-contact {
      &__tel {
        font-size: 20px;
        margin-right: 10px;
      }
      &__link {
        padding: 0 10px;
      }
    }
  }
}
@media (max-width: 991px) {
  .header {
    padding: 18px 52px 18px 10px;
    .burger {
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
    &-wrap .container {
      width: 100%;
    }
    &-row {
      align-items: center;
      &:first-child {
        margin-bottom: 0;
      }
      &-item {
        align-items: center;
      }
    }
    &__calc {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .header-section {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(237, 242, 245, .8);
    z-index: 10;
    flex-direction: column;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    margin-top: 10px;
    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
    .header-row {
      &-item {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    &-wrap .container {
      width: 100% !important;
    }
    &-info {
      display: none;
    }
  }
}
@media (max-width: 540px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    &-nav {
      display: none;
    }
    &-contact {
      flex-direction: column;
      &__tel {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }
}

// Main header

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 0 16px;
  .logo {
    flex-shrink: 0;
    width: 200px;
    margin-right: 48px;
  }
  &-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-content {
    padding-top: 1px;
  }
  &-info {
    flex-shrink: 0;
    width: 206px;
    text-align: center;
  }
  &__description {
    margin-bottom: 16px;
  }
  &__tel {
    font-size: 24px;
    font-weight: 900;
    color: #000;
    margin-bottom: 5px;
    &:hover {
      color: $green;
    }
  }
  &__btn {
    width: 100%;
    line-height: 32px;
    color: #fff;
    background-color: $green;
    font-weight: 700;
    &:hover {
      color: #fff;
      opacity: .9;
    }
  }
}

.main-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-right: 23px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $green;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        color: #000;
      }
    }
  }
}

@media (max-width: 1336px) {
  .main-header {
    .logo {
      margin-right: 24px;
    }
    &-info {
      width: 180px;
    }
    &__tel {
      font-size: 18px;
    }
    &__btn {
      font-size: 14px;
    }
  }
  
  .main-nav {
    li {
      margin-right: 10px;
    }
  }
}
@media (max-width: 1200px) {
  .main-header {
    padding: 14px 0;
    .logo {
      width: 160px;
      margin-right: 12px;
    }
    &__description {
      margin-bottom: 7px;
      font-size: 15px;
    }
  }
  
  .main-nav {
    li a {
      font-size: 14px;
    }
  }
}
@media (max-width: 991px) {
  .main-header {
    .logo {
      width: 180px;
    }
    .burger {
      display: block;
    }
    &-content {
      flex-grow: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }
    &__description {
      width: 260px;
    }
  }
  
  .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 8px 0;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
    li {
      margin: 5px 0;
      a {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 767px) {
  .main-header {
    &__description {
      display: none;
    }
    &-content {
      justify-content: flex-end;
    }
  }
}
@media (max-width: 470px) {
  .main-header {
    &-content {
      padding: 0;
    }
    &-info {
      display: none;
    }
  }
}

// Bread

.bread {
  margin: 0;
  padding: 22px 0 28px;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    font-weight: 700;
    color: #6c6966;
    font-family: 'PTSans';
    margin-right: 22px;
    position: relative;
    &:after {
      content: '/';
      display: block;
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translateY(-50%);
      font-weight: 400;
    }
    &:last-child {
      margin-right: 0;  
      &:after {
        display: none;
      }
    }
    a {
      color: #6c6966;
      font-family: 'PTSans';
      font-weight: 400;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Footer

.footer {
  padding: 54px 0 58px;
  display: flex;
  align-items: flex-start;
  &-wrap {
    background-color: #383838;
  }
  &-logo {
    flex-shrink: 0;
    width: 220px;
    margin-right: 80px;
    &__text {
      color: #fff;
      line-height: 1.65;
      font-family: 'PTSans';
      margin-top: 10px;
    }
  }
  &-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-items {
    display: flex;
    align-items: flex-start;
  }
}

.footer-item {
  margin: 0;
  padding: 0;
  list-style: none;
  &.first {
    width: 110px;
    margin-right: 39px;
  }
  &.second {
    width: 100px;
    margin-right: 38px;
  }
  &.three {
    width: 286px;
  }
  li {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #fff;
      font-family: 'PTSans';
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__head {
    color: #fff;
    font-family: 'PTSans';
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  &__address {
    color: #fff;
    font-family: 'PTSans';
    line-height: 1.65;
  }
  &__link {
    color: #fff;
    font-family: 'PTSans';
    text-decoration: underline;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3px;
  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }
  &-tel {
    margin-right: 20px;
    a {
      color: #fff;
      font-family: 'PTSans';
      font-size: 24px;
      font-weight: 700;
      &:hover {
        color: $green;
      }
    }
  }
  &__link {
    line-height: 40px;
    padding: 0 14px;
    border: 1px solid $green;
    color: $green;
    font-family: 'PTSans';
    &:hover {
      color: #fff;
      border: 1px solid #fff;
    }
  }
  &-calc a {
    line-height: 40px;
    padding: 0 16px;
    background-color: $green;
    color: #fff;
    font-family: 'PTSans';
    font-weight: 700;
    &:hover {
      opacity: .9;
    }
  }
}

.bottom {
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-item {
    color: #989796;
    font-family: 'PTSans';
    font-size: 14px;
    a {
      color: #989796;
      font-family: 'PTSans';
      font-size: 14px;
      &:hover {
        color: #989796;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1336px) {
  .footer {
    &-logo {
      margin-right: 20px;
    }
  }
}
@media (max-width: 1200px) {
  .footer-info {
    width: 206px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    &-top {
      flex-direction: column;
    }
    &-tel {
      margin-right: 0;
      margin-bottom: 6px;
    }
  }
  .footer {
    padding: 36px 0;
    &-item {
      &.first,
      &.second {
        margin-right: 12px;
      }
    }
  }
}
@media (max-width: 991px) {
  .footer {
    flex-direction: column;
    &-logo {
      width: 360px;
      margin: 0 auto 12px;
      text-align: center;
      a {
        width: 180px;
        flex-shrink: 0;
      }
      &__text {
        margin-top: 0;
        line-height: 1.3;
        font-size: 15px;
        margin-top: 8px;
      }
    }
  }
}
@media (max-width: 767px) {
  .footer {
    &-body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-items {
      margin: 10px 0 20px;
    }
  }
}
@media (max-width: 575px) {
  .footer {
    &-logo {
      width: 100%;
    }
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100% !important;
      margin-right: 0 !important;
      text-align: center;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      li {
        margin-bottom: 10px;
      }
    }
  }
  
  .bottom {
    flex-direction: column;
  }
}

// Main footer

.main-footer {
  background-color: #fff;
  .footer {
    padding: 32px 0 25px 18px;
    &-logo {
      width: 240px;
      margin-right: 125px;
      a {
        width: 180px;
      }
      &__text {
        margin-top: 15px;
        color: #000;
        font-family: 'Montserrat';
      }
    }
    &-items {
      padding-top: 6px;
    }
    &-item {
      &.first {
        width: 170px;
      }
      &.second {
        width: 150px;
      }
      &.three {
        width: 206px;
      }
      li {
        a {
          color: $green;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 700;
          font-family: 'Montserrat';
          &:hover {
            color: #000;
          }
        }
      }
      &__head {
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        font-family: 'Montserrat';
      }
      &__address {
        color: #000;
        font-family: 'Montserrat';
      }
    }
    &-info {
      width: 206px;
      &-top {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &-tel {
        margin-right: 0;
        margin-bottom: 6px;
        a {
          color: #000; 
          font-weight: 900;
          font-family: 'Montserrat';
          &:hover {
            color: $green;
          }
        }
      }
      &__link {
        width: 100%;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background-color: $green;
        border: none;
        font-family: 'Montserrat';
        &:hover {
          border: none;
          opacity: .9;
        }
      }
    }
  }
  .bottom {
    padding: 0 4px 18px 15px;
    &-item {
      color: #000;
      font-family: 'Montserrat';
      a {
        color: #000;
        font-family: 'Montserrat';
      }
    }
  }
}

@media (max-width: 1336px) {
  .main-footer .footer-logo {
    margin-right: 30px;
  }
}
@media (max-width: 1200px) {
  .main-footer {
    .footer {
      padding: 23px 0 18px;
      &-logo {
        margin-right: 12px;
      }
      &-item {
        &.first {
          width: 132px;
        }
        &.second {
          width: 126px;
        }
        li {
          margin-bottom: 16px;
        }
        &__address {
          line-height: 1.35;
        }
      }
    }
    .bottom {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
@media (max-width: 991px) {
  .main-footer {
    .footer {
      &-logo {
        width: 100%;
        margin: 0 auto 12px;
        &__text {
          margin-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .main-footer {
    .footer {
      &-items {
        padding-top: 0;
      }
      &-item {
        margin-bottom: 0;
        li {
          margin-bottom: 12px;
        }
      }
      &-info-top {
        margin-bottom: 0;
      }
    }
    .bottom-item {
      line-height: 1.3;
    }
  }
}

// Showcase

.showcase {
  &-wrap {
    position: relative;
    overflow: hidden;
  }
  &-item {
    height: 700px;
    background-size: cover;
    padding-top: 93px;
  }
  &-content {
    width: 800px;
    p {
      font: 700 94px/1.1 'KelsonSans';
      text-transform: uppercase;
      margin-bottom: 0;
      span {
        color: $green;
      }
    }
  }
  &-navigation {
    min-width: 300px;
    position: absolute;
    bottom: 52px;
    left: 43px;
  }
  &-dots .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 12px;
      width: 14px;
      height: 14px;
      background-color: #ccc;
      cursor: pointer;
      transition: 300ms;
      &.slick-active {
        background-color: $green;
      }
      &:hover {
        background-color: $green;
      }
      button {
        display: none;
      }
    }
  }
}

.showcase-arrows {
  .slick {
    &-arrow {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 10;
      background: url(../images/prev.png) no-repeat 50%;
      width: 40px;
      height: 22px;
      padding: 0;
      border: none;
      cursor: pointer;
      text-indent: 9999px;
      &:focus {
        outline: none;
      }
    }
    &-next {
      left: auto;
      right: 0;
      background-image: url(../images/next.png);
    }
  }
}

@media (max-width: 1200px) {
  .showcase {
    &-item {
      height: 560px;
      padding-top: 60px;
    }
    &-content p {
      font-size: 70px;
    }
  }
}
@media (max-width: 767px) {
  .showcase {
    &-item {
      height: auto;
      padding: 40px 0 100px;
    }
    &-content {
      width: 500px;
      p {
        font-size: 52px;
      }
    }
    &-navigation {
      min-width: 260px;
      bottom: 28px;
      left: 28px;
    }
  }
}
@media (max-width: 575px) {
  .showcase {
    &-content {
      width: auto;
      margin-right: 10px;
      p {
        font-size: 32px;
      }
    }
    &-navigation {
      min-width: 220px;
      bottom: 20px;
      left: 18px;
    }
    &-dots .slick-dots li {
      margin: 0 8px;
    }
  }
}

// Main about

.main-about {
  padding: 58px 0 62px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .main-form {
    margin-top: -130px;
  }
  &-content {
    width: 700px;
  }
  &__descr {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 28px;
  }
  &__text {
    line-height: 1.65;
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) {
  .main-about {
    padding: 40px 0;
    .head {
      margin-bottom: 20px;
    }
    .main-form {
      margin-top: -80px;
    }
    &-content {
      width: 100%;
      margin-right: 40px;
    }
    &__descr {
      font-size: 22px;
      margin-bottom: 16px;
    }
    &__text {
      line-height: 1.35;
      margin-bottom: 22px;
    }
  }
}
@media (max-width: 991px) {
  .main-about {
    .head {
      margin-bottom: 12px;
    }
    &-content {
      margin-right: 24px;
    }
    &__descr {
      font-size: 18px;
      margin-bottom: 12px;
    }
    &__text {
      font-size: 15px;
    }
  }
}
@media (max-width: 767px) {
  .main-about {
    flex-direction: column;
    padding: 30px 0;
    .main-form {
      margin-top: 0;
    }
    &-content {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 575px) {
  .main-about {
    &__descr {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}

// Main form

.main-form {
  flex-shrink: 0;
  width: 460px;
  background-color: $green;
  padding: 32px 30px 36px;
  display: flex;
  flex-direction: column;
  &__head {
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 21px;
  }
  input {
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 0 22px;
    border: none;
    font: 700 16px 'Montserrat';
    margin-bottom: 24px;
    &::placeholder {
      color: #000;
    }
    &::-moz-placeholder {
      color: #000;
    }
  }
  button {
    height: 60px;
    background-color: #f4b906;
    color: #010101;
    font: 900 16px 'Montserrat';
    margin-top: 7px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background-color: #ffc104;
    }
  }
}

@media (max-width: 1200px) {
  .main-form {
    padding: 24px 28px 28px;
    &__head {
      font-size: 22px;
      margin-bottom: 14px;
    }
    input {
      height: 54px;
      padding: 0 12px;
      margin-bottom: 16px;
    }
    button {
      height: 54px;
      margin-top: 0;
    }
  }
}
@media (max-width: 991px) {
  .main-form {
    width: 340px;
    padding: 18px;
  }
}
@media (max-width: 767px) {
  .main-form {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .main-form {
    padding: 14px;
    &__head {
      font-size: 18px;
      margin-bottom: 10px;
    }
    input {
      font-size: 14px;
    }
    button {
      font-size: 14px;
    }
  }
}

// Advantages

.advantages {
  display: flex;
  align-items: flex-start;
  padding: 40px 0 36px;
  &-wrap {
    position: relative;
    z-index: 5;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      width: 1420px;
      height: 100%;
      background-color: #f1f2f2;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  &-content {
    flex-grow: 10;
    margin-right: 58px;
  }
  &-info {
    flex-shrink: 0;
    width: 380px;
    padding-top: 4px;
    p {
      margin: 24px 0 0;
      font-size: 24px;
      line-height: 1.45;
    }
  }
  &__head {
    font: 700 64px 'KelsonSans';
    text-transform: uppercase;
    margin-bottom: 26px;
    span {
      color: $green;
    }
  }
  &-items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 380px;
    &__head {
      font-weight: 700;
      margin-bottom: 4px;
    }
    &__text {
      line-height: 1.65;
    }
  }
  &-img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 1336px) {
  .advantages-content {
    margin-right: 20px;
  }
}
@media (max-width: 1200px) {
  .advantages {
    padding: 34px 0 30px;
    &__head {
      font-size: 46px;
      margin-bottom: 24px;
    }
    &-item {
      width: 49%;
      &__text {
        line-height: 1.35;
      }
    }
    &-info {
      width: 320px;
      p {
        margin-top: 20px;
        font-size: 20px;
        line-height: 1.3;
      }
    }
  }
}
@media (max-width: 991px) {
  .advantages {
    &-info {
      width: 240px;
      p {
        font-size: 16px;
      }
    }
    &-content {
      margin-right: 10px;
    }
    &-item {
      &__head,
      &__text {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 767px) {
  .advantages {
    flex-direction: column;
    &-content {
      margin-right: 0;
    }
    &-items {
      margin-bottom: 20px;
    }
    &-info {
      width: 100%;
      text-align: center;
      padding-top: 0;
    }
  }
}
@media (max-width: 575px) {
  .advantages {
    &__head {
      font-size: 30px;
    }
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Partners

.partners {
  padding: 52px 0 36px;
  .head {
    margin-bottom: 20px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
    .link {
      margin-top: 4px;
    }
  }
  &__info {
    font-size: 24px;
  }
  &-img {
    flex-shrink: 0;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 155px;
    }
  }
  &-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    li {
      width: calc(16.7% - 10px);
      height: 200px;
      margin-left: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      transition: 300px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 12px 11px;
        border-color: transparent transparent #000 transparent;
        position: absolute;
        bottom: -19px;
        left: 50%;
        transform: translateX(-50%);
        transition: 300ms;
        opacity: 0;
      }
      &:hover {
        background-color: #ebebeb;
      }
      &.active {
        background-color: #ebebeb;
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &-items {
    margin-top: 18px;
    border: 1px solid #959595;
    padding: 14px 52px 17px 30px;
  }
  &-item {
    display: none;
    align-items: center;
    &.active {
      display: flex !important;
    }
  }
}

.partners-item table {
  width: 100%;
  margin-right: 67px;
  thead {
    tr {
      background-color: #e1e7e5;
    }
    td {
      height: 40px;
      font-size: 18px;
      font-weight: 700;
      &:first-child {
        width: 317px;
        padding-left: 32px;
      }
      &:nth-child(2) {
        width: 360px;
      }
      &:last-child {
        width: 230px;
      }
    }
  }
  tbody {
    tr {
      &.height {
        height: 48px;
      }
      &.bg {
        background-color: #e1e7e5;
      }
      td {
        height: 40px;
        font-size: 18px;
        font-weight: 700;
        &:first-child {
          padding-left: 32px;
        }
        &:nth-child(2) {
          padding-left: 74px;
        }
        &:last-child {
          padding-left: 75px;
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .partners {
    &-items {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
@media (max-width: 1200px) {
  .partners {
    padding-top: 40px;
    &-tabs li {
      height: 153px;
    }
    &__info {
      font-size: 20px;
    }
    &-img {
      padding: 10px;
      img {
        width: auto;
      }
    }
    &-items {
      padding: 14px;
    }
    &-item {
      table {
        margin-right: 10px;
        thead td {
          width: 33.33% !important;
          font-size: 16px;
          text-align: center;
          &:first-child {
            padding-left: 14px;
            text-align: left;
          }
        }
        tbody tr td {
          font-size: 16px;
          &:first-child {
            padding-left: 14px;
          }
          &:nth-child(2) {
            padding-left: 0;
            text-align: center;
          }
          &:last-child {
            padding-left: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .partners {
    &-header {
      flex-direction: column;
      .link {
        margin-top: 0;
      }
    }
    &__info {
      margin-bottom: 10px;
    }
    &-tabs li {
      height: 117px;
    }
    &-img {
      width: 160px;
    }
    &-item {
      table {
        thead td {
          font-size: 14px;
        }
        tbody tr td {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .partners {
    &__info {
      font-size: 18px;
    }
    &-img {
      width: 140px;
    }
    &-tabs li {
      height: 82px;
    }
    &-item {
      flex-direction: column;
      table {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 575px) {
  .partners {
    padding: 28px 0;
    &-header {
      margin-bottom: 18px;
      .link {
        font-size: 12px;
        padding-right: 34px;
      }
    }
    &__info {
      font-size: 14px;
    }
    &-tabs {
      flex-wrap: wrap;
      li {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        &:after {
          display: none;
        }
      }
    }
    &-items {
      padding: 10px;
    }
    &-item {
      flex-direction: column;
      table {
        thead td {
          font-size: 12px;
          &:first-child {
            padding-left: 4px;
          }
        }
        tbody tr td {
          font-size: 12px;
          &:first-child {
            padding-left: 4px;
          }
        }
      }
    }
  }
}

// Details

.details {
  display: flex;
  .main-form {
    padding-bottom: 25px;
    &__head {
      text-transform: none;
    }
    button {
      margin-top: 0;
    }
  }
  &-wrap {
    overflow: hidden;
  }
  &-body {
    flex-grow: 10;
    background-color: #f1f2f2;
    padding: 26px 0 0 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__head {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 36px;
    padding-right: 128px;
  }
  &-items {
    width: 615px;
    position: relative;
    .slick {
      &-arrow {
        position: absolute;
        top: 100px;
        left: -18px;
        z-index: 10;
        background: url(../images/prev.png) no-repeat 50%;
        width: 40px;
        height: 22px;
        padding: 0;
        border: none;
        cursor: pointer;
        text-indent: 9999px;
        &:focus {
          outline: none;
        }
      }
      &-next {
        left: auto;
        right: -92px;
        background-image: url(../images/next.png);
      }
    }
  }
  &-item {
    display: flex !important;
    align-items: flex-end;
    margin-left: 80px;
  }
  &-img {
    flex-shrink: 0;
    width: 200px;
    margin-right: 62px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  &-content {
    padding-bottom: 58px;
    &__name {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.6;
      margin-bottom: 2px;
    }
    &__position {
      margin-bottom: 30px;
    }
    &__tel {
      color: #000;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
      &:hover {
        color: $green;
      }
    }
    &__mail {
      text-decoration: underline;
      color: $green;
      &:hover {
        color: $green;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .details {
    &-body {
      padding-left: 25px;
    }
    &__head {
      padding-right: 48px;
    }
    &-items {
      .slick {
        &-next {
          right: -46px;
        }
      }
    }
    &-item {
      margin-left: 66px;
    }
  }
}
@media (max-width: 1200px) {
  .details {
    &__head {
      padding-right: 22px;
      font-size: 20px;
    }
    &-items {
      width: 400px;
      margin: 0 auto;
      .slick {
        &-arrow {
          left: -46px;
        }
        &-next {
          left: auto;
          right: -32px;
        }
      }
    }
    &-item {
      margin-left: 0;
    }
    &-img {
      width: 160px;
      margin-right: 20px;
    }
    &-content {
      padding-bottom: 32px;
      &__name {
        font-size: 16px;
        br {
          display: none;
        }
      }
      &__position {
        margin-bottom: 14px;
      }
      &__tel {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 991px) {
  .details {
    flex-direction: column;
    .main-form {
      width: 100%;
      margin: 0 auto;
    }
    &-body {
      padding: 26px;
    }
    &__head {
      padding-right: 0;
      margin-bottom: 25px;
    }
  }
}
@media (max-width: 767px) {
  .details {
    &-wrap {
      background-color: #f1f2f2;
    }
  }
}
@media (max-width: 575px) {
  .details {
    &__head {
      font-size: 18px;
    }
    &-body {
      padding: 18px 0 0;
    }
    &-items {
      width: 300px;
      .slick {
        &-arrow {
          left: auto;
          top: auto;
          right: 44px;
          bottom: 5px;
          transform: translateY(0);
        }
        &-next {
          right: 0;
        }
      }
    }
    &-img {
      width: 136px;
      margin-right: 10px;
    }
    &-content {
      &__name {
        line-height: 1.35;
        font-size: 15px;
      }
      &__tel {
        font-size: 15px;
        margin-bottom: 4px;
      }
      &__mail {
        font-size: 15px;
      }
    }
  }
}

// Scoreboard

.scoreboard {
  margin: 60px 0 30px;
  padding: 46px 60px 43px 80px;
  background-color: #f4b906;
  display: flex;
  align-items: center;
  &-img {
    flex-shrink: 0;
    width: 400px;
  }
  &-content {
    margin-right: 60px;
    p {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 0;
    }
    a {
      font-size: 24px;
      font-weight: 700;
      text-decoration: underline;
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .scoreboard {
    padding: 36px 46px;
    &-content {
      margin-right: 20px;
    }
  }
}
@media (max-width: 1200px) {
  .scoreboard {
    padding: 28px 20px;
    &-content {
      p, a {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 991px) {
  .scoreboard {
    margin: 30px 0;
    &-img {
      width: 300px;
    }
    &-content {
      p, a {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 767px) {
  .scoreboard {
    flex-direction: column;
    &-content {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 575px) {
  .scoreboard {
    padding: 20px 14px;
    &-img {
      width: 230px;
    }
    &-content {
      p, a {
        font-size: 16px;
      }
    }
  }
}

// Delivery

.delivery {
  padding: 40px 0 72px;
  &-wrap {
    overflow: hidden;
    position: relative;
    z-index: 5;
    &:after {
      content: '';
      display: block;
      background: url(../images/deliveryBg.jpg) no-repeat 50%;
      width: 1180px;
      height: 674px;
      position: absolute;
      top: 32px;
      right: 90px;
      z-index: -1;
    }
  }
  &__head {
    text-transform: uppercase;
    font: 700 64px 'KelsonSans';
    margin-bottom: 36px;
    span {
      color: $green;
    }
  }
  &-item {
    margin-bottom: 42px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      margin: 24px 0 0;
      font-size: 24px;
    }
  }
}

@media (max-width: 1336px) {
  .delivery {
    padding: 26px 0 55px;
    &-wrap {
      &:after {
        right: 0;
        top: 0;
        width: 900px;
        height: 510px;
        background-size: cover;
      }
    }
    &-item {
      margin-bottom: 32px;
      p {
        font-size: 22px;
        margin-top: 16px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .delivery {
    &__head {
      font-size: 46px;
    }
  }
}
@media (max-width: 767px) {
  .delivery {
    padding-bottom: 32px;
    &-item {
      p {
        font-size: 20px;
        margin-top: 12px;
      }
    }
  }
}
@media (max-width: 575px) {
  .delivery {
    padding-top: 16px;
    &__head {
      font-size: 30px;
      margin-bottom: 24px;
    }
    &-item {
      p {
        font-size: 16px;
      }
    }
  }
}

// Main news

.main-news {
  padding: 40px 0;
  &-wrap {
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-bottom: 60px;
    &:after {
      content: '';
      display: block;
      width: 1420px;
      height: 100%;
      background-color: #f1f2f2;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
    }
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
    .head {
      margin-bottom: 0;
    }
    .link {
      margin-right: -16px;
    }
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 306px;
    margin-right: 92px;
    &:last-child {
      margin-right: 0;
    }
    &.basic {
      width: 460px;
      margin-right: 100px;
      .main-news {
        &__date {
          margin-bottom: 22px;
        }
        &__text {
          font-size: 24px;
          line-height: 1.45;
        }
      }
    }
  }
  &__date {
    margin: 21px 0 30px;
    font-weight: 700;
    color: $green;
  }
  &__text {
    line-height: 1.65;
    margin-bottom: 10px;
  }
  &__link {
    color: $green;
    &:hover {
      color: $green;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1336px) {
  .main-news {
    &-wrap {
      margin-bottom: 34px;
    }
    &-header {
      .link {
        margin-right: 0;
      }
    }
    &-item {
      margin-right: 48px;
      &.basic {
        margin-right: 50px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .main-news {
    &-item {
      margin-right: 10px;
      &.basic {
        width: 420px;
        margin-right: 10px;
        .main-news__text {
          font-size: 20px;
        }
      }
    }
    &__date {
      margin: 18px 0 20px;
    }
    &__text {
      font-size: 15px;
    }
  }
}
@media (max-width: 991px) {
  .main-news {
    padding: 30px 0;
    &-header {
      margin-bottom: 26px;
    }
    &-item {
      width: 32%;
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
      &.basic {
        width: 32%;
        .main-news {
          &__date {
            margin: 12px 0 10px;
          }
          &__text {
            font-size: 15px;
          }
        }
      }
    }
    &__date {
      margin: 12px 0 10px;
      font-size: 15px;
    }
    &__text,
    &__link {
      font-size: 15px;
    }
  }
}
@media (max-width: 767px) {
  .main-news {
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100% !important;
      margin-right: 0 !important;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 575px) {
  .main-news {
    &-header {
      flex-direction: column;
      margin-bottom: 18px;
      .head {
        margin-bottom: 6px;
      }
    }
  }
}

// Callback

.callback {
  display: flex;
  .head {
    color: #000;
    margin-bottom: 34px;
  }
  &-wrap {
    overflow: hidden;
    background-color: $green;
  }
  &__address {
    color: #fff;
    line-height: 1.65;
    margin-bottom: 40px;
  }
  &-content {
    flex-shrink: 0;
    width: 550px;
    padding: 60px 136px 98px 0;   
  }
  &-map {
    flex-grow: 10;
    margin-right: -800px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &-list {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 24px;
        color: #fff;
        margin-right: 22px;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        color: #fff;
      }
    }
  }
  &__mail {
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
}

.callback-inner {
  background-color: #fff;
  .callback {
    margin-bottom: 70px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 13px;
      margin-bottom: 21px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background-color: $green;
        width: 80px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &__address {
      color: #000;
      margin-bottom: 28px;
    }
    &-list li {
      margin-bottom: 11px;
      a {
        color: #000;
        font-size: 18px;
        font-family: 'PTSans';
        font-weight: 700;
      }
      span {
        color: #000;
      }
    }
    &__mail {
      color: #000;
      font-family: 'PTSans';
    }
    &-content {
      width: 480px;
      padding: 36px 100px 66px 80px;
      font-family: 'PTSans';
    }
    &-map {
      margin-right: 0;
    }
  }
}

@media (max-width: 1336px) {
  .callback {
    &-map {
      margin-right: -100px;
    }
    &-content {
      padding: 34px 100px 66px 0;
    }
  }
  .callback-inner .callback-content {
    padding-left: 44px;
  }
}
@media (max-width: 1200px) {
  .callback {
    &-content {
      width: 490px;
      padding-right: 40px;
    }
  }
  .callback-inner .callback {
    margin-bottom: 50px;
    &-content {
      width: 400px;
      padding: 20px 20px 30px 0;
    }
  }
}
@media (max-width: 991px) {
  .callback {
    .head {
      margin-bottom: 20px;
    }
    &__address {
      margin-bottom: 22px;
    }
    &-content {
      width: 390px;
      padding-right: 20px;
      padding-bottom: 44px;
    }
    &-list {
      li {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        span {
          order: -1;
          margin-bottom: 2px;
        }
        a {
          margin-right: 0;
        }
      }
    }
  }
  .callback-inner .callback {
    &-content {
      width: 340px;
    }
  }
}
@media (max-width: 767px) {
  .callback {
    flex-direction: column;
    &-content {
      width: 100%;
      padding: 20px 10px;
      text-align: center;
    }
    &-map {
      margin: 0 -400px;
      height: 300px;
    }
  }
  .callback-inner .callback {
    &__head {
      padding-bottom: 10px;
      margin-bottom: 12px;
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__address {
      margin-bottom: 16px;
    }
    &-content {
      width: 100%;
      padding: 20px;
    }
    &-map {
      margin: 0;
    }
    &-list {
      margin-bottom: 18px;
      li {
        margin-bottom: 6px;
      }
    }
  }
}
@media (max-width: 575px) {
  .callback {
    .head {
      margin-bottom: 12px;
    }
    &__address {
      line-height: 1.35;
    }
  }
  .callback-inner .callback {
    margin-bottom: 38px;
    &__head {
      font-size: 21px;
    }
    &-map {
      height: 250px;
    }
  }
}

// Vacancies

.vacancies {
  &__head {
    font-family: 'KelsonSans';
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    span {
      color: $green;
    }
  }
  &-elems {
    margin-top: 50px;
  }
  &-items {
    margin-bottom: 45px;
  }
  &-item {
    padding: 26px 0;
    border-bottom: 2px solid $green;
  }
  &-date {
    color: #48423b;
    font-family: 'PTSans';
    margin-bottom: 8px;
    span {
      color: $green;
      font-weight: 700;
      text-decoration: underline;
    }
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PTSans';
    margin-bottom: 10px;
    padding-right: 10px;
  }
  &-head {
    font-size: 24px;
    font-weight: 700;
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 308px;
    &__employment {
      font-size: 18px;
      font-weight: 700;
      margin-right: 12px;
    }
    &__price {
      font-size: 18px;
      font-weight: 700;
    }
  }
  &-text {
    color: #48423b;
    line-height: 1.65;
    font-family: 'PTSans';
    a {
      color: $green;
      font-weight: 700;
      text-decoration: underline;
      font-family: 'PTSans';
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.vacancies-elem {
  background-color: #edf2f5;
  padding-top: 19px;
  margin-bottom: 49px;
  &:last-child {
    margin-bottom: 0;
  }
  &-header {
    margin: 0 20px 15px 29px;
  }
  &__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    font-family: 'PTSans';
  }
  .reset {
    font-size: 14px;
    color: $green;
    margin-left: 20px;
    font-family: 'PTSans';
    &:hover {
      color: $green;
    }
    img {
      margin-left: 3px;
      width: 10px;
    }
  }
}

.vacancies-list {
  margin: 0;
  padding: 21px 28px 22px;
  list-style: none;
  border: 2px solid #1fa879;
  li {
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      position: relative;
      margin-bottom: 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .vacancies {
    &-header {
      flex-direction: column;
      padding-right: 0;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 4px;
    }
    &-item {
      padding: 20px 0;
    }
    &-date {
      margin-bottom: 6px;
    }
    &-head {
      font-size: 22px;
    }
    &-text {
      line-height: 1.4;
    }
    &-info {
      &__employment,
      &__price {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 991px) {
  .vacancies {
    &__head {
      font-size: 46px;
    }
    &-items {
      margin-bottom: 30px;
    }
    &-elem {
      padding-top: 16px;
      margin-bottom: 34px;
      &-header {
        margin: 0 14px 12px;
      }
      &__head {
        font-size: 22px;
        line-height: 1.2;
      }
    }
    &-list {
      padding: 18px;
      li {
        margin-bottom: 16px;
      }
    }
    &-head {
      font-size: 20px;
    }
    &-text {
      line-height: 1.25;
      font-size: 15px;
      a {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 767px) {
  .vacancies {
    &__head {
      font-size: 36px;
    }
    &-elems {
      margin-top: 0;
    }
  }
}
@media (max-width: 575px) {
  .vacancies {
    &__head {
      font-size: 28px;
    }
    &-head {
      line-height: 1.2;
      margin-bottom: 4px;
    }
    &-info {
      min-width: 100%;
    }
  }
}

// Pagination

.custom-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    margin: 0 1px;
    &.active a {
      color: #fff;
      background-color: $green;
    }
    a {
      width: 30px;
      height: 30px;
      font-family: 'PTSans';
      font-weight: 700;
      color: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #fff;
        background-color: $green;
      }
    }
  }
}

@media (max-width: 575px) {
  .custom-pagination {
    li {
      a {
        width: 24px;
        height: 24px;
        font-size: 14px;
      }
    }
  }
}

// Vacancy

.vacancy {
  font-family: 'PTSans';
  padding: 6px 0 83px;
  .vacancies-date {
    margin-bottom: 42px;
  }
  &__link {
    font-family: 'PTSans';
    color: $green;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 8px;
    &:hover {
      color: $green;
    }
  }
  &__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  &-body {
    display: flex;
    margin-bottom: 52px;
  }
  &-side {
    flex-shrink: 0;
    width: 300px;
    .vacancy-item {
      margin-bottom: 48px;
    }
  }
  &-items {
    flex-grow: 10px;
    margin: 0 100px 0 40px;
  }
  &-item {
    margin-bottom: 38px;
    &:last-child {
      margin-bottom: 0;
    }
    &__head {
      color: #48423b;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 11px;
    }
    &__text {
      line-height: 1.65;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        text-indent: 12px;
        color: #48423b;
        line-height: 1.65;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          display: block;
          background-color: #48423b;
          width: 5px;
          height: 5px;
          position: absolute;
          top: 10px;
          left: 0;
          border-radius: 50%;
        }
      }
    }
  }
  &-link {
    line-height: 50px;
    color: #fff;
    background-color: $green;
    font-family: 'PTSans';
    font-weight: 700;
    padding: 0 22px;
    margin-left: 40px;
    &:hover {
      color: #FFF;
      opacity: .9;
    }
  }
}

@media (max-width: 1200px) {
  .vacancy {
    padding-bottom: 50px;
    .vacancies-date {
      margin-bottom: 26px;
    }
    &-items {
      margin: 0 30px 0 0;
    }
    &-item {
      margin-bottom: 26px;
    }
    &-link {
      margin-left: 0;
    }
    &-body {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 991px) {
  .vacancy {
    &-side {
      width: 280px;
    }
    &-item {
      ul li {
        line-height: 1.35;
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
}
@media (max-width: 767px) {
  .vacancy {
    &__head {
      line-height: 1.2;
    }
    &-items {
      margin-right: 0;
      margin-bottom: 26px;
    }
    &-body {
      flex-direction: column;
      margin-bottom: 6px;
    }
    &-side {
      .vacancy-item {
        margin-bottom: 26px;
      }
    }
  }
}
@media (max-width: 575px) {
  .vacancy {
    padding-bottom: 36px;
    &__head {
      font-size: 22px;
    }
  }
}

// About

.about {
  margin-top: 12px;
  &__head {
    color: #1fa879;
    font-family: 'KelsonSans';
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 11px;
  }
  &-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 87px;
  }
  &-body {
    flex-grow: 10px;
    margin-right: 100px;
  }
  &-content {
    margin-left: 80px;
    p {
      color: #48423b;
      font-family: 'PTSans';
      line-height: 1.65;
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-img {
    flex-shrink: 0;
    width: 460px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 440px;
      height: 420px;
      background-color: #edf2f5;
      position: absolute;
      bottom: -30px;
      left: -50px;
      z-index: -1;
    }
  }
  &-items {
    display: flex;
    margin-bottom: 58px;
  }
  &-item {
    width: 400px;
    border: 5px solid $green;
    font-family: 'PTSans';
    margin-right: 32px;
    padding: 30px 42px 26px;
    &:last-child {
      margin-right: 0;
    }
    &__head {
      font-family: 'PTSans';
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 13px;
      margin-bottom: 12px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background-color: $green;
        width: 80px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &__text {
      color: #48423b;
      line-height: 1.65;
      margin-bottom: 26px;
    }
    &-img {
      width: 84px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__link {
      color: #000;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 23px;
      font-family: 'PTSans';
      &:hover {
        color: $green;
      }
    }
  }
}

@media (max-width: 1336px) {
  .about {
    &-content {
      margin-left: 0;
    }
    &-item {
      margin-right: 18px;
      padding: 20px 26px 22px;
    }
  }
}
@media (max-width: 1200px) {
  .about {
    &-section {
      margin-bottom: 50px;
    }
    &-body {
      margin-right: 60px;
    }
    &-img {
      width: 360px;
      &:after {
        width: 360px;
        height: 320px;
        left: -30px;
      }
    }
    &-content {
      p {
        line-height: 1.4;
        margin-bottom: 16px;
      }
    }
    &-items {
      margin-bottom: 40px;
    }
    &-item {
      padding: 14px 14px 18px;
      &__head {
        font-size: 22px;
        line-height: 1.2;
      }
      &__text {
        line-height: 1.4;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 991px) {
  .about {
    &__head {
      font-size: 42px;
    }
    &-img {
      width: 280px;
      &:after {
        width: 260px;
        height: 260px;
      }
    }
    &-content {
      p {
        font-size: 15px;
        line-height: 1.3;
      }
    }
    &-item {
      margin-right: 10px;
    }
  }
}
@media (max-width: 767px) {
  .about {
    &-section {
      flex-direction: column;
    }
    &-body {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &-img {
      margin: 0 auto;
    }
    &-items {
      flex-direction: column;
      margin-bottom: 18px;
    }
    &-item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      border: 3px solid $green;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 575px) {
  .about {
    &__head {
      font-size: 28px;
    }
    &-img {
      &:after {
        display: none;
      }
    }
    &-section {
      margin-bottom: 32px;
    }
    &-items {
      margin-bottom: 10px;
    }
  }
}

// Contacts

.contacts {
  .about {
    &-item {
      padding-bottom: 18px;
      &__head {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &__text {
        font-size: 24px;
        font-weight: 700;
      }
      &-img {
        width: 70px;
      }
    }
  }
  &-head {
    font-family: 'KelsonSans';
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 23px;
    span {
      color: $green;
    }
  }
  &-content {
    padding: 0 240px 0 80px;
    margin-bottom: 59px;
    p {
      color: #48423b;
      font-family: 'PTSans';
      line-height: 1.65;
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-map {
    height: 420px;
    margin-bottom: 66px;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &-section {
    overflow: hidden;
    &__head {
      font-family: 'PTSans';
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 15px;
      margin-bottom: 40px;
      margin-left: 80px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background-color: $green;
        width: 80px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-bottom: 20px;
  }
  &-item {
    width: calc(100% / 12 * 4 - 60px);
    background-color: #edf2f5;
    margin: 0 0 50px 60px;
    padding: 29px 40px 40px;
    font-family: 'PTSans';
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &__tel {
      font-size: 18px;
      margin-bottom: 10px;
      color: #000;
      font-family: 'PTSans';
      &:hover {
        color: $green;
      }
    }
    &__address {
      font-size: 18px;
      margin-bottom: 11px;
    }
    &__link {
      color: $green;
      font-size: 18px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .contacts {
    &-head {
      font-size: 48px;
    }
    &-content {
      padding: 0 40px;
      margin-bottom: 40px;
    }
    &-map {
      margin-bottom: 40px;
    }
    &-section__head {
      margin-bottom: 28px;
      margin-left: 0;
    }
    &-items {
      margin-left: -26px;
    }
    &-item {
      width: calc(100% / 12 * 4 - 26px);
      margin: 0 0 26px 26px;
    }
  }
}
@media (max-width: 1200px) {
  .contacts {
    .about-item {
      &__text, 
      &__link {
        font-size: 20px;
      }
    }
    &-head {
      font-size: 36px;
    }
  }
}
@media (max-width: 991px) {
  .contacts {
    .about-item {
      &__text, 
      &__link {
        font-size: 18px;
      }
    }
    &-map {
      height: 320px;
    }
    &-items {
      margin-left: -12px;
    }
    &-item {
      width: calc(100% / 12 * 4 - 12px);
      margin: 0 0 12px 12px;
      padding: 14px 14px 21px;
      &__head {
        font-size: 22px;
        margin-bottom: 14px;
      }
    }
  }
}
@media (max-width: 767px) {
  .contacts {
    &-head {
      margin-bottom: 12px;
    }
    &-content {
      padding: 0;
      p {
        line-height: 1.4;
        margin-bottom: 14px;
      }
    }
    &-map {
      height: 250px;
      margin-bottom: 26px;
    }
    &-section__head {
      font-size: 22px;
      margin-bottom: 20px;
    }
    &-item {
      width: calc(50% - 12px);
    }
  }
}
@media (max-width: 575px) {
  .contacts {
    &-head {
      font-size: 28px;
      margin-bottom: 12px;
    }
    &-content {
      margin-bottom: 30px;
    }
    &-map {
      margin-top: 30px;
    }
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      margin-left: 0;
    }
  }
}

// News

.news {
  font-family: 'PTSans';
  margin-top: 12px;
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &-elems {
    margin-top: 82px;
  }
  &-items {
    margin-bottom: 45px;
  }
  &-item {
    padding: 26px 0;
    border-bottom: 2px solid $green;
    &__date {
      color: #48423b;
      font-weight: 700;
      margin-right: 55px;
    }
    &__link {
      font-family: 'PTSans';
      color: $green;
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        color: $green;
      }
    }
    &__head {
      font-family: 'PTSans';
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &__text {
      color: #48423b;
      line-height: 1.65;
      a {
        font-family: 'PTSans';
        color: $green;
        font-weight: 700;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.news-nav {
  border: 1px solid #1fa879;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 0;
  li {
    display: inline-block;
    &.active a {
      color: #fff;
      background-color: $green;
    }
    a {
      color: $green;
      line-height: 38px;
      padding: 0 17px;
      font-family: 'PTSans';
      font-weight: 700;
      &:hover {
        color: #fff;
        background-color: $green;
      }
    }
  }
}

.news-elem {
  border: 2px solid #1fa879;
  margin-bottom: 50px;
  padding: 22px 10px 23px 26px;
  &__head {
    font-weight: 700;
    font-size: 24px;
    font-family: 'PTSans';
    margin-bottom: 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $green;
        font-weight: 700;
        text-decoration: underline;
        font-family: 'PTSans';
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .news {
    &-items {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 991px) {
  .news {
    margin-top: 0;
    &-nav {
      margin-bottom: 0;
      li {
        a {
          padding: 0 10px;
        }
      }
    }
    &-elems {
      margin-top: 0;
    }
    &-elem {
      margin-bottom: 30px;
      padding-left: 20px;
      &__head {
        font-size: 22px;
      }
    }
    &-item {
      padding: 20px 0;
      &__head {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 6px;
      }
      &__text {
        line-height: 1.35;
      }
    }
  }
}
@media (max-width: 575px) {
  .news {
    &-nav {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        a {
          width: 100%;
          text-align: center;
        }
      }
    }
    &-item {
      &__head {
        font-size: 20px;
      }
    }
  }
}

// Article

.article {
  &-wrap {
    margin-top: 6px;
    font-family: 'PTSans';
    .news {
      &-elems {
        margin-top: 0;
      }
      &-item__head {
        margin-bottom: 26px;
      }
    }
  }
  &-content {
    margin-left: 40px;
    p {
      color: #48423b;
      line-height: 1.65;
      margin-bottom: 26px;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
  }
  &-tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 11px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $green;
        font-family: 'PTSans';
        font-weight: 700;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &-soc {
    display: flex;
    align-items: center;
    &__head {
      margin-right: 16px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        margin-right: 18px;
        &:last-child {
          margin-right: 0;
        }
        a {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .article {
    &-wrap .news-item__head {
      margin-bottom: 18px;
    }
    &-content {
      margin-left: 0;
    }
    &-bottom {
      margin-top: 32px;
    }
  }
}
@media (max-width: 991px) {
  .article {
    &-content {
      p {
        line-height: 1.35;
        margin-bottom: 18px;
      }
    }
    &-bottom {
      flex-direction: column;
      margin-top: 20px;
    }
    &-tags {
      margin-bottom: 16px;
    }
  }
}
@media (max-width: 575px) {
  .article {
    &-soc {
      flex-direction: column;
      &__head {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

// Other news

.other-news {
  padding: 45px 0 47px;
  &-wrap {
    background-color: #edf2f5;
  }
  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__head {
    font-family: 'PTSans';
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 18px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background-color: $green;
      width: 80px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__link {
    line-height: 40px;
    padding: 0 16px;
    margin-top: 4px;
    color: #fff;
    background-color: $green;
    font-family: 'PTSans';
    font-weight: 700;
    &:hover {
      opacity: .9;
      color: #fff;
    }
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 380px;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__date {
    color: #48423b;
    margin-bottom: 16px;
    font-family: 'PTSans';
  }
  &__name {
    color: $green;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    font-family: 'PTSans';
    &:hover {
      color: #000;
    }
  }
}

@media (max-width: 1200px) {
  .other-news {
    padding: 32px 0;
    &-header {
      margin-bottom: 26px;
    }
    &-item {
      margin-right: 20px;
    }
    &__date {
      margin-bottom: 10px;
    }
    &__name {
      font-size: 20px;
    }
  }
}
@media (max-width: 767px) {
  .other-news {
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 575px) {
  .other-news {
    padding: 22px 0 14px;
    &-header {
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__head {
      font-size: 22px;
      margin-bottom: 18px;
    }
    &__link {
      margin-top: 0;
    }
    &__name {
      line-height: 1.25;
    }
  }
}


















