button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px/1.65 'Roboto', sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    line-height: 1.5;
  }
}

a {
  display: inline-block;
  font: 400 16px/1.65 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 1.65;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 0;
  color: #0a0a0a;
  font: 400 16px 'Roboto';
}

input[type=text]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=color]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: #0a0a0a;
}

input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #0a0a0a;
}

input[type=text]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=color]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  color: #0a0a0a;
}

input[type=text]::-ms-input-placeholder,
input[type=url]::-ms-input-placeholder,
input[type=tel]::-ms-input-placeholder,
input[type=number]::-ms-input-placeholder,
input[type=color]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder {
  color: #0a0a0a;
}

input[type=text]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder,
input[type=number]::placeholder,
input[type=color]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder {
  color: #0a0a0a;
}

input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #0a0a0a;
}

@media screen and (max-width: 1336px) {
  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email],
  input[type=password] {
    padding: 0 20px;
  }
}

input.input-error {
  border-color: #a94442;
}

input.input-error::-webkit-input-placeholder {
  color: #a94442;
}

input.input-error::-moz-placeholder {
  color: #a94442;
}

input.input-error:-ms-input-placeholder {
  color: #a94442;
}

input.input-error::-ms-input-placeholder {
  color: #a94442;
}

input.input-error::placeholder {
  color: #a94442;
}

input.input-error::-ms-placeholder {
  color: #a94442;
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1260px;
  }
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

.title {
  color: #0068b4;
  font: 700 48px/1.33 "Play";
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 575px) {
  .title {
    font-size: 28px;
  }
}

.title-two {
  font: 700 34px/1.29 "Play";
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .title-two {
    font-size: 28px;
  }
}

.title-three {
  font: 700 28px/1.21 "Play";
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .title-three {
    font-size: 20px;
  }
}

.title-before {
  position: relative;
  padding-top: 67px;
}

.title-before::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 10px;
  background-color: #e00109;
}

@media screen and (max-width: 575px) {
  .title-before {
    padding-top: 50px;
  }
  .title-before::before {
    width: 100px;
    height: 8px;
  }
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 180px;
  padding: 21px 39px 19px;
  border: 0;
  background-color: #0068b4;
  color: #ffffff;
  line-height: 1.3;
  cursor: pointer;
  -webkit-transition: background-color 300ms, color 300ms;
  transition: background-color 300ms, color 300ms;
}

.link:hover {
  background-color: #e00109;
  color: #ffffff;
}

.link img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 16px;
}

@media screen and (max-width: 991px) {
  .link {
    padding: 16px 26px 14px;
  }
}

.link-light {
  background-color: #e5f0f7;
  color: #0068b4;
}

.link-light:hover {
  background-color: #e00109;
  color: #ffffff;
}

.link-red {
  background-color: #e00109;
}

.link-red:hover {
  background-color: #0068b4;
}

.swiper-button-next,
.swiper-button-prev {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  margin: 0;
  background-color: #035997;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e00109;
}

.swiper-button-prev {
  background-image: url("../images/left.png");
}

.swiper-button-next {
  background-image: url("../images/right.png");
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 18px;
  border: 1px solid #e5f0f7;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet-active {
  background-color: #e5f0f7;
}

.heading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 78px 0 40px;
}

.heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 10px;
  background-color: #e00109;
}

.heading__link {
  margin-top: 10px;
  padding-right: 25px;
  padding-left: 21px;
  background-color: #0068b4;
}

.heading__link:hover {
  background-color: #e00109;
}

@media screen and (max-width: 767px) {
  .heading {
    padding: 56px 0 32px;
  }
}

@media screen and (max-width: 575px) {
  .heading::before {
    width: 100px;
  }
  .heading__link {
    display: none;
  }
}

.news-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 36px 60px 32px;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

.news-card:hover {
  -webkit-box-shadow: inset 0 0 1px 2px #0068b4;
  box-shadow: inset 0 0 1px 2px #0068b4;
}

.news-card:hover .news-card__title {
  color: #0068b4;
}

.news-card:hover .news-card__link img {
  opacity: 1;
}

.news-card::before, .news-card::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 3000px;
  height: 1px;
  background-color: #bababa;
}

.news-card::before {
  top: -1px;
  display: none;
}

.news-card::after {
  bottom: -1px;
}

.news-card:first-child::before {
  display: block;
  top: 0;
  bottom: auto;
}

.news-card:nth-child(3n+2) {
  border-right: 1px solid #bababa;
  border-left: 1px solid #bababa;
}

.news-card__date {
  margin-bottom: 27px;
  color: #898989;
}

.news-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 25px;
  color: #0a0a0a;
  font-size: 24px;
  line-height: 1.42;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.news-card__text {
  margin-bottom: 26px;
  color: #000000;
}

.news-card__link {
  margin-top: auto;
  color: #0068b4;
}

.news-card__link img {
  margin-left: 10px;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

@media screen and (max-width: 1500px) {
  .news-card {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 1336px) {
  .news-card {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .news-card:nth-child(3n+2) {
    border-right: 0;
    border-left: 0;
  }
  .news-card:nth-child(2n+1) {
    border-right: 1px solid #bababa;
  }
}

@media screen and (max-width: 767px) {
  .news-card {
    padding: 20px;
  }
  .news-card:nth-child(2n+1) {
    border-right: 0;
  }
  .news-card__date {
    margin-bottom: 20px;
  }
  .news-card__title {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .news-card__text {
    margin-bottom: 20px;
  }
}

.event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 260px;
  margin: -1px;
  border: 1px solid #bababa;
  background-color: #ffffff;
  color: #0a0a0a;
  -webkit-transition-property: border-color, background-color, color;
  transition-property: border-color, background-color, color;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.event-card:hover {
  border-color: #0068b4;
  background-color: #0068b4;
  color: #ffffff;
}

.event-card:hover .event-card__block::before {
  border-color: #ffffff;
}

.event-card:hover .event-card__subtitle,
.event-card:hover .event-card__text > span {
  color: #ffffff;
}

.event-card:hover .event-card__link {
  background-color: #e00109;
}

.event-card__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 292px;
  padding: 28px 41px 20px;
}

.event-card__block::before {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 4px;
  width: 5px;
  border-right: 5px dotted #0068b4;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.event-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px 62px 20px 49px;
}

.event-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 40px;
}

.event-card__date {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.45;
}

.event-card__subtitle {
  margin-bottom: 6px;
  color: #7c7c7c;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.event-card__title {
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 1.42;
}

.event-card__link {
  position: relative;
  padding-right: 27px;
  padding-left: 27px;
}

.event-card__text > span {
  color: #7c7c7c;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

@media screen and (max-width: 1336px) {
  .event-card__body {
    padding-right: 20px;
    padding-left: 30px;
  }
  .event-card__content {
    padding-right: 20px;
  }
  .event-card__block {
    width: 240px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .event-card__title {
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 1.35;
  }
}

@media screen and (max-width: 991px) {
  .event-card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .event-card__content {
    margin-bottom: 20px;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .event-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .event-card__body {
    padding: 20px;
  }
  .event-card__content {
    margin-bottom: 16px;
  }
  .event-card__block {
    width: 100%;
    padding: 20px;
  }
  .event-card__block::before {
    top: auto;
    left: 4px;
    right: 4px;
    bottom: 0;
    height: 5px;
    width: auto;
    border-bottom: 5px dotted #0068b4;
  }
  .event-card__title {
    margin-bottom: 12px;
  }
  .event-card__date {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.service-card {
  position: relative;
  z-index: 1;
  height: 360px;
  padding: 43px 60px 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.service-card:hover {
  color: #ffffff;
}

.service-card:hover::after {
  opacity: 1;
}

.service-card:hover .service-card__link > img {
  opacity: 1;
}

.service-card::before, .service-card::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.service-card::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.service-card::after {
  background-color: #0068b4;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.service-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.service-card:nth-child(3n + 1) .service-card__content {
  max-width: 410px;
  margin-left: auto;
}

.service-card:nth-child(3n + 3) .service-card__content {
  max-width: 410px;
  margin-left: 10px;
}

.service-card__name {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 24px;
  line-height: 1.42;
}

.service-card__link > img {
  margin-left: 16px;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

@media screen and (max-width: 1500px) {
  .service-card:nth-child(3n + 1) .service-card__content,
  .service-card:nth-child(3n + 3) .service-card__content {
    max-width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 1336px) {
  .service-card {
    padding: 30px;
  }
  .service-card__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  .service-card {
    height: 340px;
  }
}

@media screen and (max-width: 680px) {
  .service-card {
    height: 300px;
    padding: 20px;
  }
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 300px;
  padding: 20px 5.2vw 12px;
  background-color: #e00109;
}

.feedback__inner {
  width: 100%;
}

.feedback__title {
  margin-bottom: 36px;
  color: #ffffff;
  text-align: center;
}

.feedback__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 300px;
  grid-gap: 40px;
  margin-bottom: 22px;
}

.feedback__link {
  padding-right: 10px;
  padding-left: 10px;
}

.feedback__link:hover {
  background-color: #e5f0f7;
  color: #0068b4;
}

.feedback__link:hover::after {
  background-position-x: left;
}

.feedback__link::after {
  content: '';
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 26px;
  height: 14px;
  margin-left: 16px;
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.feedback__agree {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}

.feedback__agree input {
  display: none;
}

.feedback__agree input:checked + .feedback__agree-box::before {
  opacity: 1;
}

.feedback__agree-box {
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}

.feedback__agree-box::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #0068b4;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.feedback__agree-text {
  color: #ffffff;
  font-size: 14px;
}

@media screen and (max-width: 1336px) {
  .feedback__fields {
    grid-template-columns: repeat(2, 1fr) 260px;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .feedback {
    padding: 20px;
  }
  .feedback__fields {
    grid-template-columns: repeat(2, 1fr) 200px;
    grid-gap: 12px;
  }
}

@media screen and (max-width: 767px) {
  .feedback {
    padding: 30px 20px;
  }
  .feedback__title {
    margin-bottom: 24px;
  }
  .feedback__fields {
    grid-template-columns: 1fr;
    grid-gap: 14px;
  }
}

.feedback-blue {
  background-color: #0068b4;
}

.feedback-blue .feedback__link {
  background-color: #e00109;
}

.feedback-blue .feedback__link:hover {
  background-color: #e5f0f7;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.team-card__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 160px;
  height: 160px;
}

.team-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-card__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: -3px;
  padding-left: 30px;
}

.team-card__name {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.42;
}

.team-card__descr {
  margin-bottom: 26px;
}

.team-card__descr span {
  display: block;
}

.team-card__contacts {
  font-weight: 700;
}

.team-card__tel {
  color: #0a0a0a;
  font-weight: 700;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.team-card__tel:hover {
  color: #0068b4;
}

.team-card__mail {
  color: #0068b4;
  font-weight: 700;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.team-card__mail:hover {
  color: #0a0a0a;
}

@media screen and (max-width: 575px) {
  .team-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .team-card__img {
    margin-bottom: 20px;
  }
  .team-card__content {
    padding-left: 0;
  }
  .team-card__name {
    margin-bottom: 14px !important;
  }
  .team-card__descr {
    margin-bottom: 20px;
  }
}

.showcase__slider {
  position: relative;
}

.showcase__navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.showcase__navigation .swiper-pagination {
  position: absolute;
  z-index: 1;
  bottom: 51px;
  left: 100px;
}

.showcase__navigation .swiper-button-prev {
  left: -60px;
}

.showcase__navigation .swiper-button-next {
  right: -60px;
}

.showcase__item {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 560px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.showcase__item::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
  width: 1000px;
  height: 100%;
  margin-left: -184px;
  background-color: #0068b4;
}

.showcase__content {
  max-width: 1060px;
  padding: 114px 70px 0 98px;
}

.showcase__title {
  margin-bottom: 54px;
  color: #ffffff;
}

.showcase__link {
  min-width: auto;
}

@media screen and (max-width: 1600px) {
  .showcase__navigation .swiper-button-prev {
    left: 0px;
  }
  .showcase__navigation .swiper-button-next {
    right: 0px;
  }
  .showcase__item::before {
    width: 900px;
  }
}

@media screen and (max-width: 1336px) {
  .showcase__navigation .swiper-pagination {
    bottom: 30px;
    left: 82px;
  }
  .showcase__content {
    padding: 100px 70px 0 80px;
  }
  .showcase__item::before {
    width: 740px;
  }
}

@media screen and (max-width: 991px) {
  .showcase__item {
    min-height: 500px;
  }
  .showcase__item::before {
    width: 580px;
  }
  .showcase__content {
    padding-top: 70px;
  }
}

@media screen and (max-width: 767px) {
  .showcase__navigation .swiper-pagination {
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .showcase__navigation .swiper-button-prev,
  .showcase__navigation .swiper-button-next {
    display: none !important;
  }
  .showcase__item {
    min-height: 420px;
  }
  .showcase__item::before {
    width: 520px;
  }
  .showcase__content {
    padding: 60px 20px 0;
  }
  .showcase__title {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 575px) {
  .showcase__content {
    padding: 46px 8px 0;
  }
  .showcase__item::before {
    width: 400px;
  }
  .showcase__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 360px) {
  .showcase__item::before {
    width: 320px;
  }
}

.news {
  overflow: hidden;
  padding-bottom: 82px;
}

.news__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 -60px;
}

.news__heading .heading__link {
  background-color: #e00109;
}

.news__heading .heading__link:hover {
  background-color: #0068b4;
}

@media screen and (max-width: 1600px) {
  .news__items {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .news__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .news {
    padding-bottom: 60px;
  }
  .news__items {
    grid-template-columns: 1fr;
  }
}

.events {
  position: relative;
  z-index: 1;
  padding-bottom: 114px;
}

.events::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 54.3vw;
  background-color: #e00109;
}

.events__heading {
  padding-top: 60px;
}

.events__heading .heading__link {
  min-width: 240px;
}

.events__heading .heading__link:hover {
  background-color: #e5f0f7;
  color: #0068b4;
}

@media screen and (max-width: 991px) {
  .events {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .events {
    padding-bottom: 70px;
  }
}

.services {
  position: relative;
}

.services::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e00109;
}

.services__heading {
  padding-top: 70px;
  padding-right: 80px;
}

.services__items {
  display: grid;
  grid-template-columns: 1fr 520px 1fr;
}

@media screen and (max-width: 1336px) {
  .services__heading {
    padding-right: 0;
  }
  .services__heading .heading__link {
    margin-top: 0;
  }
  .services__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .services__items {
    grid-template-columns: 1fr;
  }
}

.about-us {
  padding: 80px 0;
}

.about-us__inner {
  position: relative;
  padding-top: 84px;
  border-top: 1px solid #bababa;
  background-image: url("../images/planet.jpg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.about-us__inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 10px;
  background-color: #e00109;
}

.about-us__body {
  display: grid;
  grid-template-columns: 50.7% 1fr;
  grid-column-gap: 80px;
}

.about-us__figure {
  margin: 0;
}

.about-us__content {
  margin-top: -6px;
}

.about-us__title {
  max-width: 900px;
  margin-bottom: 34px;
}

.about-us__caption {
  margin-bottom: 33px;
  color: #e00109;
}

.about-us__text {
  margin-bottom: 26px;
}

.about-us__link {
  margin-top: 13px;
  padding-right: 44px;
  padding-left: 44px;
}

@media screen and (max-width: 1336px) {
  .about-us__body {
    grid-column-gap: 40px;
  }
}

@media screen and (max-width: 991px) {
  .about-us {
    padding: 70px 0;
  }
  .about-us__inner {
    padding-top: 60px;
    background-size: contain;
  }
  .about-us__body {
    grid-column-gap: 20px;
  }
  .about-us__caption {
    margin-bottom: 20px;
  }
  .about-us__text {
    margin-bottom: 14px;
    line-height: 1.45;
  }
}

@media screen and (max-width: 767px) {
  .about-us {
    padding: 60px 0;
  }
  .about-us__body {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .about-us__figure {
    margin-bottom: 26px;
  }
  .about-us__title {
    margin-bottom: 22px;
  }
  .about-us__text {
    line-height: 1.55;
  }
  .about-us__link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.join {
  background-image: url("../images/join-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.join__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 100px 0 70px;
}

.join__inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 10px;
  background-color: #0068b4;
}

.join__title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 490px;
  width: 100%;
  margin-top: -8px;
  margin-right: 90px;
  color: #ffffff;
}

.join__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 39px 80px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.join__actions {
  margin-top: -6px;
}

.join__checkbox {
  position: relative;
  margin-bottom: 10px;
  padding-left: 29px;
  line-height: 1.4;
  cursor: pointer;
}

.join__checkbox input {
  display: none;
}

.join__checkbox input:checked + .join__checkbox-field::before {
  opacity: 1;
}

.join__checkbox-field {
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}

.join__checkbox-field::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #0068b4;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.join__checkbox-text {
  color: #ffffff;
  font-size: 14px;
}

.join__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
  padding: 0 10px;
  border: 0;
  background-color: #0068b4;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 300ms, color 300ms;
  transition: background-color 300ms, color 300ms;
}

.join__button:hover {
  background-color: #e5f0f7;
  color: #0068b4;
}

.join__button:hover::after {
  background-position: left;
}

.join__button::after {
  content: '';
  width: 26px;
  height: 14px;
  margin-left: 16px;
  background-image: url("../images/arrow-right.png");
  background-position: right;
}

.join__button > img {
  margin-left: 16px;
}

@media screen and (max-width: 1500px) {
  .join__title {
    margin-right: 60px;
  }
  .join__form {
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1336px) {
  .join__title {
    max-width: 360px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .join__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 70px 0 50px;
  }
  .join__title {
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 575px) {
  .join {
    background: #e00109;
  }
  .join__form {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.goals {
  padding-bottom: 50px;
}

.goals__inner {
  max-width: 940px;
  margin: 0 auto;
}

.goals__title {
  margin-bottom: 46px;
  color: #0068b4;
}

.goals__text {
  margin-bottom: 53px;
  font-size: 18px;
  line-height: 1.6;
}

.goals__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 38px 60px;
}

.goals__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.goals__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 60px;
}

.goals__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 40px;
  color: #0a0a0a;
}

.goals__name {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
}

.goals__descr {
  margin-bottom: 0;
}

@media screen and (max-width: 1336px) {
  .goals__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 991px) {
  .goals__items {
    grid-gap: 30px;
  }
  .goals__content {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .goals {
    padding-bottom: 30px;
  }
  .goals__text {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .goals__items {
    grid-template-columns: 1fr;
  }
  .goals__name {
    font-size: 20px;
  }
}

.team {
  padding-top: 44px;
  padding-bottom: 77px;
}

.team__container {
  border-top: 1px solid #bababa;
}

.team__inner {
  max-width: 940px;
  margin: 0 auto;
}

.team__title {
  margin-bottom: 68px;
  color: #0068b4;
}

.team__subtitle {
  margin-bottom: 41px;
  color: #0068b4;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
}

.team__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 42px;
  margin-bottom: 82px;
}

.team__items:last-child {
  margin-bottom: 0;
}

.team__items--full {
  grid-template-columns: 1fr;
  grid-gap: 51px;
}

.team__items--full .team-card__name {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 1.42;
}

.team__items--full .team-card__descr {
  padding-right: 10px;
}

@media screen and (max-width: 991px) {
  .team__title {
    margin-bottom: 50px;
  }
  .team__items {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .team {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__subtitle {
    margin-bottom: 30px;
  }
  .team__items {
    margin-bottom: 40px;
  }
}

.contacts {
  overflow: hidden;
  padding-top: 60px;
}

.contacts__title {
  margin-bottom: 17px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 84px;
}

.contacts__descr {
  width: 49.3%;
  padding-top: 35px;
  padding-right: 66px;
}

.contacts__text {
  margin-bottom: 26px;
}

.contacts__text:last-child {
  margin-bottom: 0;
}

.contacts__img {
  width: 50.7%;
}

.contacts__items {
  display: grid;
  grid-template-columns: 1fr 520px 1fr;
  grid-template-rows: minmax(200px, auto) minmax(218px, auto);
  grid-auto-rows: minmax(180px, auto);
}

.contacts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 60px;
}

.contacts__item::before, .contacts__item::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 3000px;
  height: 1px;
  background-color: #bababa;
}

.contacts__item::before {
  top: -1px;
  display: none;
}

.contacts__item::after {
  bottom: -1px;
}

.contacts__item:first-child::before {
  display: block;
  top: 0;
  bottom: auto;
}

.contacts__item:nth-child(3n+2) {
  padding: 20px 60px;
  border-right: 1px solid #bababa;
  border-left: 1px solid #bababa;
}

.contacts__item:nth-child(3n+3) {
  padding: 20px 70px;
}

.contacts__label {
  margin-bottom: 9px;
}

.contacts__address {
  font-size: 24px;
  line-height: 1.85;
}

.contacts__tel {
  color: #0a0a0a;
  font-size: 24px;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.contacts__tel:hover {
  color: #0068b4;
}

.contacts__mail {
  color: #0068b4;
  font-size: 24px;
}

.contacts__map {
  height: 600px;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (max-width: 1500px) {
  .contacts__map {
    height: 500px;
  }
}

@media screen and (max-width: 1336px) {
  .contacts__content {
    margin-bottom: 70px;
  }
  .contacts__descr {
    padding-top: 20px;
    padding-right: 32px;
  }
  .contacts__text {
    margin-bottom: 18px;
  }
  .contacts__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px;
  }
  .contacts__item {
    padding: 20px !important;
  }
  .contacts__address {
    font-size: 18px;
    line-height: 1.55;
  }
  .contacts__tel, .contacts__mail {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .contacts__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts__item:nth-child(3n+2) {
    border: 0;
  }
  .contacts__item:nth-child(2n+1) {
    border-right: 1px solid #bababa;
  }
  .contacts__map {
    height: 440px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts__descr {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
  .contacts__img {
    width: 100%;
    text-align: center;
  }
  .contacts__map {
    height: 360px;
  }
}

@media screen and (max-width: 680px) {
  .contacts__items {
    grid-template-columns: 1fr;
  }
  .contacts__item:nth-child(2n+1) {
    border: 0;
  }
}

.events-page {
  padding: 60px 0 90px;
}

.events-page__title {
  margin-bottom: 48px;
}

.events-page__items {
  margin-bottom: 67px;
}

@media screen and (max-width: 991px) {
  .events-page {
    padding-bottom: 60px;
  }
  .events-page__items {
    margin-bottom: 60px;
  }
}

.services-page {
  padding: 60px 0 104px;
}

.services-page__title {
  margin-bottom: 44px;
}

.services-page__items {
  display: grid;
  grid-template-columns: 1fr 520px 1fr;
}

@media screen and (max-width: 1336px) {
  .services-page__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .services-page {
    padding-bottom: 70px;
  }
  .services-page__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .services-page__items {
    grid-template-columns: 1fr;
  }
}

.news-page {
  overflow: hidden;
  padding: 60px 0 90px;
}

.news-page__title {
  margin-bottom: 44px;
}

.news-page__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 -60px 75px;
}

@media screen and (max-width: 1600px) {
  .news-page__items {
    margin: 0 0 60px;
  }
}

@media screen and (max-width: 1336px) {
  .news-page {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 991px) {
  .news-page__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .news-page {
    padding-bottom: 60px;
  }
  .news-page__title {
    margin-bottom: 36px;
  }
  .news-page__items {
    grid-template-columns: 1fr;
  }
}

.article {
  padding: 76px 0 90px;
}

.article__content {
  max-width: 940px;
  margin: 0 auto;
}

.article__content h1, .article__content h2, .article__content h3 {
  margin-bottom: 40px;
  color: #0a0a0a;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.29;
}

.article__content > img {
  margin-bottom: 45px;
}

.article__content p {
  margin-bottom: 26px;
}

.article__date {
  margin-bottom: 30px;
  color: #898989;
}

.article__back {
  padding-top: 28px;
  text-align: center;
}

.article__link {
  padding-right: 26px;
  padding-left: 26px;
  background-color: #e00109;
}

.article__link:hover {
  background-color: #0068b4;
  color: #ffffff;
}

.article__link img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 16px 0 0;
}

@media screen and (max-width: 991px) {
  .article {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .article__content h1, .article__content h2, .article__content h3 {
    margin-bottom: 24px;
    font-size: 28px;
  }
  .article__content > img {
    margin-bottom: 30px;
  }
  .article__content p {
    margin-bottom: 20px;
  }
  .article__date {
    margin-bottom: 26px;
  }
  .article__back {
    padding-top: 10px;
  }
}

.service {
  padding-bottom: 42px;
}

.service__intro {
  min-height: 550px;
  padding: 75px 0 74px;
  background-color: #e5f0f7;
}

.service__intro-content {
  max-width: 939px;
  margin: 0 auto;
}

.service__intro-title {
  margin-bottom: 53px;
  color: #0a0a0a;
  font-size: 34px;
  line-height: 1.29;
  word-break: break-word;
}

.service__intro-text {
  margin-bottom: 51px;
  line-height: 1.7;
}

.service__intro-link {
  min-width: 170px;
  padding-right: 18px;
  padding-left: 18px;
}

.service__details {
  position: relative;
  z-index: 1;
  padding-bottom: 77px;
}

.service__details::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 40.7vw;
  height: 39.6vw;
  background-color: #0068b4;
}

.service__details-title {
  position: relative;
  max-width: 939px;
  margin: 0 auto 51px;
  padding-top: 67px;
  color: #0068b4;
}

.service__details-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 10px;
  background-color: #e00109;
}

.service__details-content {
  max-width: 940px;
  margin: 0 auto;
  padding: 66px 0 82px;
}

.service__details-text {
  margin-bottom: 26px;
}

.service__details-text:last-child {
  margin-bottom: 0;
}

.service__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 39px 40px;
}

@media screen and (max-width: 1336px) {
  .service__intro {
    min-height: 400px;
    padding: 60px 0;
  }
  .service__details {
    padding-bottom: 30px;
  }
  .service__details-content {
    padding: 60px 0;
  }
  .service__gallery {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .service__intro-title {
    margin-bottom: 28px;
    font-size: 28px;
  }
  .service__intro-text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .service__details::after {
    display: none;
  }
  .service__details-title {
    margin-bottom: 34px;
  }
  .service__details-content {
    padding: 40px 0;
  }
  .service__details-text {
    margin-bottom: 18px;
  }
  .service__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .service__gallery {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
  .service__gallery-item {
    text-align: center;
  }
}

.event {
  padding-bottom: 71px;
}

.event__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px 33px;
  margin-bottom: 100px;
}

.event__gallery-item {
  text-align: center;
}

@media screen and (max-width: 1336px) {
  .event__gallery {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 991px) {
  .event {
    padding-bottom: 50px;
  }
  .event__gallery {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .event {
    padding-bottom: 40px;
  }
  .event__gallery {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .event__gallery {
    grid-gap: 10px;
  }
}

.event__intro {
  min-height: 531px;
  padding: 75px 0;
  background-color: #e5f0f7;
}

.event__intro-body {
  max-width: 939px;
  margin: 0 auto;
}

.event__intro-title {
  margin-bottom: 52px;
  color: #0a0a0a;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.29;
}

.event__intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.event__intro-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 5.3vw;
  font-size: 18px;
  line-height: 1.6;
}

.event__intro-items {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 218px;
}

.event__intro-item {
  margin-bottom: 30px;
  font-size: 18px;
}

.event__intro-item:last-child {
  margin-bottom: 0;
}

.event__intro-head {
  font-weight: 700;
  line-height: 1.4;
}

@media screen and (max-width: 1336px) {
  .event__intro {
    min-height: 500px;
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .event__intro {
    min-height: 400px;
    padding: 40px 0;
  }
  .event__intro-title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  .event__intro-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .event__intro-title {
    margin-bottom: 24px;
    font-size: 28px;
  }
  .event__intro-text {
    margin-bottom: 26px;
    padding-right: 0;
  }
  .event__intro-items {
    width: 100%;
  }
  .event__intro-item {
    margin-bottom: 16px;
    font-size: 16px;
  }
}

.event__program {
  padding-bottom: 50px;
}

.event__program-header {
  max-width: 940px;
  margin: 0 auto 54px;
}

.event__program-title {
  margin-bottom: 33px;
  color: #0068b4;
}

.event__program-text {
  font-size: 18px;
  line-height: 1.6;
}

.event__program-head {
  padding: 21px 0 15px;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}

.event__program-date {
  max-width: 940px;
  margin: 0 auto;
  color: #0a0a0a;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.event__program-item {
  padding: 26px 0 22px;
  border-bottom: 1px solid #bababa;
}

.event__program-item:last-child {
  margin-bottom: 0;
}

.event__program-inner {
  display: grid;
  grid-template-columns: 16% 58.3% 25.7%;
  max-width: 940px;
  margin: 0 auto;
}

.event__program-time, .event__program-caption {
  font-weight: 700;
}

.event__program-content {
  padding-right: 40px;
}

.event__program-descr {
  margin-bottom: 0;
  line-height: 1.75;
}

.event__program-info .event__program-descr {
  line-height: 1.6;
}

.event__program-bottom {
  margin-top: 69px;
  text-align: center;
}

.event__program-link {
  padding-right: 23px;
  padding-left: 23px;
}

@media screen and (max-width: 1336px) {
  .event__program {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .event__program-inner {
    grid-template-columns: 20% 50% 30%;
  }
  .event__program-content {
    padding-right: 10px;
  }
  .event__program-bottom {
    margin-top: 50px;
  }
}

@media screen and (max-width: 575px) {
  .event__program-header {
    margin-bottom: 40px;
  }
  .event__program-title {
    margin-bottom: 20px;
  }
  .event__program-inner {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .event__program-item {
    padding: 20px 0 16px;
  }
}

.event__details {
  position: relative;
  z-index: 1;
  margin: 49px 0;
}

.event__details::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 33.5vw;
  height: 57.3vw;
  background-color: #e00109;
}

.event__details-container {
  border-top: 1px solid #bababa;
}

.event__details-title {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 49px;
  color: #0068b4;
}

@media screen and (max-width: 1336px) {
  .event__details {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .event__details {
    margin-top: 20px;
  }
  .event__details::after {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .event__details-title {
    margin-bottom: 30px;
  }
}

.association {
  padding-top: 70px;
  background-color: #e5f0f7;
  background-image: url("../images/planet-white.png");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.association__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.association__nav {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 180px;
  padding-top: 4px;
}

.association__nav-item {
  margin-bottom: 26px;
}

.association__nav-item:last-child {
  margin-bottom: 0;
}

.association__nav-item--active .association__nav-link {
  color: #000000;
}

.association__nav-link {
  color: #0068b4;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.association__nav-link:hover {
  color: #000000;
}

.association__body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 81px;
}

.association__title {
  margin-bottom: 39px;
  color: #0068b4;
  font: 700 44px/1.23 "Play";
}

.association__subtitle {
  max-width: 1000px;
  margin-bottom: 35px;
  color: #0a0a0a;
  font: 700 24px/1.42 "Play";
  text-transform: uppercase;
}

.association__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.association__descr {
  width: 46.8%;
  padding: 16px 47px 16px 0;
  color: #0a0a0a;
  font-size: 18px;
}

.association__text {
  margin-bottom: 26px;
  line-height: 1.6;
}

.association__text:last-child {
  margin-bottom: 0;
}

.association__img {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 53.2%;
}

@media screen and (max-width: 1500px) {
  .association__title {
    margin-bottom: 30px;
  }
  .association__subtitle {
    margin-bottom: 20px;
  }
  .association__nav-item {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 1336px) {
  .association {
    padding-top: 50px;
  }
  .association__body {
    padding-left: 20px;
  }
  .association__title {
    margin-bottom: 22px;
    font-size: 38px;
  }
  .association__subtitle {
    font-size: 22px;
  }
  .association__descr {
    padding-right: 16px;
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .association__title {
    font-size: 32px;
  }
  .association__subtitle {
    font-size: 18px;
  }
  .association__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .association__descr {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .association__text {
    margin-bottom: 12px;
  }
  .association__img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .association {
    background-size: contain;
  }
  .association__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .association__nav {
    width: 100%;
    margin-bottom: 22px;
    padding-top: 0;
    text-align: center;
  }
  .association__nav-item {
    margin-bottom: 12px;
  }
  .association__body {
    padding-left: 0;
  }
  .association__title {
    font-size: 28px;
  }
}

/* Burger */
.burger {
  display: none;
  width: 30px;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.burger a span {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

@media screen and (max-width: 991px) {
  .burger {
    display: block;
  }
}

/* Banner Top */
.banner-top {
  margin: 30px 0;
}

.banner-top__container {
  padding: 0 20px;
}

@media screen and (max-width: 1336px) {
  .banner-top__container {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .banner-top {
    margin: 18px 0 10px;
  }
}

/* Header */
.header {
  position: relative;
  padding-top: 10px;
}

.header__container {
  padding: 0 20px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 105px;
}

.header__body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 36px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header__title {
  max-width: 700px;
  margin-top: -2px;
  color: #0068b4;
}

.header__link {
  padding-right: 43px;
  padding-left: 32px;
}

.header__nav {
  padding-right: 6px;
}

@media screen and (max-width: 1500px) {
  .header__nav {
    padding-right: 0;
  }
}

@media screen and (max-width: 1336px) {
  .header__container {
    padding: 0;
  }
  .header__body {
    padding-left: 16px;
  }
}

@media screen and (max-width: 991px) {
  .header {
    padding: 10px 0;
  }
  .header__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__logo {
    width: 96px;
  }
  .header__info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .header__title {
    display: none;
  }
  .header__link {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .header__nav {
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 575px) {
  .header__link {
    display: none;
  }
}

/* Nav */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.nav__item {
  position: relative;
}

.nav__item:hover .nav__link {
  background-color: #e5f0f7;
  color: #000000;
}

.nav__item:hover .nav__sub {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.nav__item--active .nav__link {
  background-color: #e5f0f7;
  color: #000000;
}

.nav__link {
  padding: 6px 21px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.nav__sub {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 410px;
  padding: 18px 20px;
  background-color: #e5f0f7;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.nav__sub-item {
  margin-bottom: 10px;
}

.nav__sub-item:last-child {
  margin-bottom: 0;
}

.nav__sub-link {
  color: #000000;
}

@media screen and (max-width: 1500px) {
  .nav__link {
    padding-right: 14px;
    padding-left: 14px;
  }
}

@media screen and (max-width: 1336px) {
  .nav__link {
    padding: 6px;
    font-weight: 400;
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .nav__item {
    margin-bottom: 10px;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
  .nav__link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav__sub {
    display: none;
  }
}

/* Footer */
.footer {
  background-color: #0068b4;
  color: #ffffff;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 51px 0 43px;
}

.footer__body {
  display: grid;
  grid-template-columns: 1fr 42%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 35px 13px 26px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 34px 0;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-col {
  width: 182px;
  margin-right: 3vw;
}

.footer__menu-col:first-child {
  width: 226px;
  margin-right: 4.95vw;
}

.footer__menu-col:last-child {
  margin-right: 0;
}

.footer__nav + .footer__nav {
  margin-top: 42px;
}

.footer__nav-item {
  margin-bottom: 8px;
}

.footer__nav-link {
  color: #ffffff;
  font-size: 14px;
}

.footer__nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer__specials-title {
  margin-bottom: 9px;
}

.footer__list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 3.96vw;
  -moz-column-gap: 3.96vw;
  column-gap: 3.96vw;
}

.footer__list-item {
  margin-bottom: 9px;
}

.footer__list-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.75;
}

.footer__list-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 370px;
}

.footer__logo-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 144px;
}

.footer__logo-text {
  padding-left: 17px;
  font-weight: 700;
  line-height: 1.5;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact {
  width: 283px;
  margin-right: 3.4vw;
}

.footer__contact:last-child {
  margin-right: 0;
}

.footer__contact-title {
  margin-bottom: 9px;
  line-height: 1.3;
}

.footer__mail {
  margin-top: 8px;
}

.footer__mail a {
  color: #ffffff;
  text-decoration: underline;
}

.footer__mail a:hover {
  text-decoration: none;
}

.footer__tel {
  color: #ffffff;
  font-size: 24px;
  line-height: 1;
}

.footer__tel:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer__bottom {
  padding-right: 7.5vw;
}

.footer__develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.57;
}

.footer__develop:hover {
  color: #ffffff;
}

.footer__develop img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 11px;
}

.footer__copyright {
  max-width: 840px;
  font-size: 14px;
  line-height: 1.57;
}

.footer__copyright span {
  display: block;
}

@media screen and (max-width: 1500px) {
  .footer__body {
    padding-right: 0;
  }
  .footer__menu-col:first-child {
    margin-right: 3vw;
  }
  .footer__contact {
    width: 266px;
    margin-right: 2vw;
    font-size: 15px;
  }
  .footer__tel {
    font-size: 22px;
  }
  .footer__mail {
    margin-top: 6px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1336px) {
  .footer__logo {
    width: 320px;
  }
  .footer__logo-img {
    max-width: 122px;
  }
  .footer__logo-text {
    padding-left: 12px;
    font-size: 14px;
  }
  .footer__menu-col {
    width: 176px;
    margin-right: 6px;
  }
  .footer__menu-col:first-child {
    width: 180px;
    margin-right: 16px;
  }
  .footer__nav-item {
    margin-bottom: 5px;
  }
  .footer__list {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .footer__contact {
    width: 200px;
    margin-right: 14px;
  }
  .footer__tel {
    font-size: 20px;
  }
  .footer__bottom {
    padding-right: 0;
  }
  .footer__copyright {
    max-width: 700px;
  }
}

@media screen and (max-width: 991px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 26px 0 30px;
  }
  .footer__logo {
    margin-bottom: 22px;
  }
  .footer__contacts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__contact {
    width: 30%;
  }
  .footer__menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__menu-col:first-child {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav + .footer__nav {
    margin-top: 20px;
  }
  .footer__list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 26px 0;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 767px) {
  .footer__body {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .footer__logo {
    width: 300px;
  }
  .footer__logo-img {
    max-width: 110px;
  }
  .footer__logo-text {
    padding-left: 10px;
  }
  .footer__menu-col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer__menu-col:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 575px) {
  .footer__body {
    grid-template-columns: 1fr;
  }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .footer__contact {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__contact:last-child {
    margin-bottom: 0;
  }
  .footer__menu {
    margin-bottom: 20px;
  }
  .footer__nav {
    text-align: center;
  }
  .footer__specials {
    text-align: center;
  }
  .footer__list-link {
    line-height: 1.5;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin-top: 10px;
  border-top: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
}

.breadcrumbs__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 13px 0 9px;
}

.breadcrumbs__list::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  height: 10px;
  background-color: #e00109;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 25px;
  color: #7c7c7c;
}

.breadcrumbs__item::after {
  content: '>';
  position: absolute;
  right: -17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  color: #0068b4;
}

.breadcrumbs__link:hover {
  color: #0068b4;
  text-decoration: underline;
}

/* Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination__item {
  margin: 0 3px;
}

.pagination__item--active .pagination__link {
  border-color: #bababa;
  background-color: #bababa;
  color: #ffffff;
}

.pagination__item--active .pagination__link:hover {
  color: #ffffff;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  color: #0068b4;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.pagination__link:hover {
  color: #e00109;
}

.pagination__prev, .pagination__next {
  width: 26px;
  height: 14px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.pagination__link:hover .pagination__prev, .pagination__link:hover .pagination__next {
  background-position-x: left;
}

.pagination__prev {
  background-image: url("../images/pagination-prev.png");
}

.pagination__next {
  background-image: url("../images/pagination-next.png");
}

@media screen and (max-width: 575px) {
  .pagination__item {
    margin: 0 1px;
  }
  .pagination__link {
    width: 36px;
    height: 36px;
    font-size: 15px;
  }
}
