@media only screen and (max-width: 1578px) {
  .container {
    width: 1320px;
  }
  
  /* Header */
  
  .header {
    &-item {
      margin-right: 20px;
    }
    &-info {
      &-wrap {
        width: 470px;
        padding-right: 0;
      }
    }
  }
  
  /* Showcase */
  
  .showcase {
    &-wrap {
      background-position: 22%;
    }
    &-sentence {
      width: 440px;
    }
  }
  
  /* Objects */
  
  .objects {
    &-item {
      margin-right: 15px;
      &-content {
        padding: 16px 10px 20px 10px;
      }
    }
  }
  
  /* Product */
  
  .product {
    &-items,
    &-inner {
      width: 940px;
      margin: 0 auto 40px;
    }
  }
  
  /* Main services */
  
  .main-services-items,
  .main-event-items,
  .slider {
    width: 1060px;
    margin: 0 auto 40px;
  }
  
  /* Shares */
  
  .shares {
    &-item {
      width: 651px;
      &__head {
        font-size: 21px;
      }
      &-content {
        padding: 18px 12px 0 16px;
      }
    }
  }
  
  /* Main order */
  
  .main-order {
    margin-bottom: 50px;
    &__text {
      margin-bottom: 20px;
      line-height: 1.35;
    }
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      margin-right: 88px;
    }
    &-contact {
      &-wrap {
        width: 580px;
      }
    }
  }
  
  /* Products */
  
  .products {
    &-img {
      width: 572px;
    }
    &-content {
      padding-top: 0;
      &__head {
        margin-bottom: 22px;
        line-height: 1.2;
      }
      .product-brand {
        padding-bottom: 18px;
        margin-bottom: 20px;
      }
    }
    &-info {
      padding: 24px 24px 40px 32px;
      &-mod {
        padding: 50px 0 30px;
      }
    }
    &-note {
      top: 124px;
      left: -152px;
      &__text {
        padding: 7px 26px 0;
      }
    }
    &-amount {
      margin-bottom: 40px;
    }
  }
  
  /* Catalog */
  
  .catalog {
    &-nav {
      margin-bottom: 34px;
    }
    &-sidebar {
      width: 280px;
    }
    &-content {
      padding-left: 20px;
      padding-bottom: 40px;
    }
    &-items {
      .product {
        &-item {
          width: 333px;
          margin: 0 10px 22px 0;
        }
      }
    }
  }
  
  /* Pagination */
  
  .pagination {
    padding-left: 0;
    text-align: center;
  }
  
  /* Promotion */
  
  .stock {
    &-info {
      &-item {
        margin-right: 72px;
      }
    }
  }
  
  /* Events */
  
  .events {
    &-items {
      .main-event {
        &-item {
          width: 322px;
          margin: 0px 10px 10px 0;
        }
        &-content {
          padding: 10px 6px 20px;
        }
        &__head {
          font-size: 16px;
          margin-bottom: 6px;
        }
        &__text {
          line-height: 1.4;
          margin-bottom: 16px;
        }
      }
    }
  }
  
  /* Promotion */
  
  .stock {
    padding-bottom: 28px;
  }
  
  /* Poster */
  
  .poster {
    &-content {
      padding-right: 40px;
      &-img {
        width: 590px;
      }
      &-info {
        padding: 8px 0 0 25px;
      }
      &__head {
        font-size: 28px;
        line-height: 1.1;
        margin-bottom: 18px;
      }
    }
  }
  
  /* Gallery */
  
  .gallery {
    a {
      width: 322px;
      margin-right: 10px;
      margin-bottom: 7px;
    }
  }
  
  /* Payment */
  
  .payment {
    &-item {
      width: 628px;
      &__head {
        margin-bottom: 32px;
      }
      &__note {
        font-size: 21px;
        margin-bottom: 40px;
      }
    }
    &-content {
      &-block {
        padding-left: 135px;
      }
      &-item {
        margin-bottom: 57px;
      }
    }
  }
  
  /* Basket */
  
  .basket {
    &-content {
      padding-right: 60px;
      table {
        td {
          &:nth-child(3) {
            width: 110px;
          }
        }
      }
    }
    &-node {
      padding-left: 140px;
      &-login {
        padding-left: 25px;
      }
    }
  }
  
}

@media only screen and (max-width: 1336px) {
  .container {
    width: 1170px;
  }
  
  .ref a,
  .topic a {
    height: 48px;
  }
  
  /* Logo */
  
  .logo {
    width: 250px;
  }
  
  /* Nav */
  
  .nav {
    li {
      padding-right: 8px;
      margin-right: 5px;
    }
  }
  
  /* Header */
  
  .header {
    &-item {
      width: 470px;
      margin-right: 5px;
    }
    &-info {
      &-wrap {
        width: 430px;
      }
    }
  }
  
  /* Showcase */
  
  .showcase {
    &-sentence {
      margin-left: 0;
      padding-top: 70px;
      &__head {
            font-size: 80px;
      }
    }
    &-range {
      width: 710px;
      margin-right: 0;
      &-item {
        width: 227px;
        padding: 14px 5px 16px;
      }
      &-img {
        height: 75px;
        line-height: 75px;
        margin-bottom: 4px;
        img {
          line-height: 75px;
        }
      }
      &__head {
        font-size: 21px;
      }
    }
  }
  
  /* Objects */
  
  .objects {
    &-item {
      &__text {
        line-height: 1.25;
      }
    }
  }
  
  /* Book it */
  
  .book-it {
    padding-top: 20px;
    margin-bottom: 30px;
    &__text {
      line-height: 1.4;
    }
  }
  
  /* Product */
  
  .product {
    padding: 46px 0;
    .text {
      margin-bottom: 24px;
    }
  }
  
  /* Main services */
  
  .main-services-items,
  .main-event-items,
  .slider {
    margin-bottom: 16px;
    .slick {
      &-arrow {
        left: -60px;
      }
      &-next {
        left: auto;
        right: -60px;
      }
    }
  }
  
  .main-services {
    padding-bottom: 42px;
  }
  
  /* Shares */
  
  .shares {
    padding: 34px 0;
    .head,
    .text {
      margin-bottom: 18px;
    }
    &-items {
      justify-content: center;
      margin-bottom: 20px;
    }
    &-item {
      width: 575px;
      margin: 0 20px 20px 0;
      &-img {
        width: 276px;
      }
      &__data {
        margin-bottom: 12px;
      }
      &__head {
        line-height: 1.2;
        margin-bottom: 6px;
      }
      &__text {
        line-height: 1.25;
      }
    }
  }
  
  /* Main event */
  
  .main-event {
    padding: 44px 0 36px;
    .text {
      margin-bottom: 24px;
    }
  }
  
  /* Main order */
  
  .main-order {
    padding: 32px 25px;
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      margin-right: 40px;
    }
    &-content {
      ul {
        margin-right: 60px;
      }
    }
    &-contact {
      &-wrap {
        width: 545px;
      }
    }
  }
  
  /* Products */
  
  .products {
    &-img {
      width: 510px;
    }
    &-content {
      margin-right: 12px;
      padding-top: 0;
      b {
        margin-bottom: 6px;
        font-size: 15px;    
      }
      &__head {
         font-size: 28px;
      }
      &-descr {
        p {
          line-height: 1.2;
          padding-bottom: 12px;
          margin-bottom: 14px;
        }
      }
      .product-brand {
        padding-bottom: 12px;
        margin-bottom: 12px;
      }
    }
    &-info {
      width: 320px;
      padding: 24px 14px 20px 18px;
      &-mod {
        padding: 30px 0 19px;
        label {
          width: 144px;
          span {
            padding-left: 4px;
          }
        }
      }
      .product-info-link a span {
        font-size: 21px;
      }
    }
    &-amount {
      margin-bottom: 30px;
      &__price {
        margin-right: 0;
      }
    }
  }
  
  /* Catalog */
  
  .catalog {
    &-nav {
      &-item {
        input {
           width: 320px;
        }
        .select2-container {
          width: 160px !important;
        }
        &.mod {
          .select2-container {
            width: 66px !important;
          }
        }
      }
      &__name {
        margin-right: 6px;
      }
    }
    &-header {
      &__text {
        padding-right: 0;
        line-height: 1.35;
      }
      &__head {
        margin-bottom: 22px;
      }
    }
    &-items {
      .product {
        &-item {
          width: 283px;
        }
      }
    }
  }
  
  /* Promotion */
  
  .stock {
    &-info {
      &-items {
        padding-left: 34px;
      }
      &-item {
        margin-right: 40px;
        span {
         padding-left: 12px;
        }
      }
    }
  }
  
 /* Events */
  
  .events {
    &-items {
      .main-event {
        &-item {
          width: 285px;
        }
        &__head {
          
          line-height: 1.2;
        }
        &__text {
          line-height: 1.2;
        }
      }
    }
  }
  
  /* Past */
  
  .past .events-items {
    padding-bottom: 8px;
  }
  
  /* Poster */
  
  .poster {
    &-sidebar {
      width: 300px;
      padding: 10px 10px 24px;
    }
    &-content {
      &-img {
        width: 560px;
      }
      &-info {
        padding-left: 16px;
      }
      &__head {
        font-size: 24px;
        margin-bottom: 12px;
      }
      &__text {
        line-height: 1.35;
        padding-bottom: 26px;
        margin-bottom: 26px;
      }
    }
    .soc {
      &__head {
        margin-bottom: 12px;
      }
      &-items {
        a {
          margin-right: 4px;
        }
      }
    }
  }
  
  /* Gallery */
  
  .gallery {
    a {
      width: 285px;
    }
  }
  
  /* Payment */
  
  .payment {
    &-item {
      width: 565px;
    }
  }
  
  /* Basket */
  
  .basket {
    &-content {
      padding-right: 34px;
      table {
        tbody {
          td {
            &:nth-child(2) {
              width: 360px;
            }
            &:nth-child(3) {
              width: 118px;
            }
            &:nth-child(4) {
              width: 80px;
            }
            &:nth-child(5) {
              width: 95px;
            }
          }
        }
      }
    }
    &-sidebar {
      width: 310px;
      padding: 18px 12px 30px 14px;
    }
    &-node {
      padding: 10px 0 0 70px;
      &__link {
        margin-bottom: 40px;
      }
    }
  }
  
  /* Order */
  
  .order-wrap {
    padding-bottom: 60px;
  }
  
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px; 
  }
  
  /* Lofo */
  
  .logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  
  /* Header */
  
  .header {
    padding-top: 120px;
    &-info {
      &-wrap {
        width: 450px;
      }
    }
  }
  
  /* Showcase */
  
  .showcase {
    &-sentence {
      width: 430px;
      align-self: flex-start;
      padding-bottom: 125px;
    }
    &-range {
      width: 515px;
      &-item {
        width: 250px;
        margin-right: 14px !important;
        &:nth-child(2n) {
          margin-right: 0 !important;
        }
      }
    }
  }
  
  /* Objects */
  
  .objects {
    padding-bottom: 10px;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
      &:last-child {
        margin-right: 10px;
      }
    }
  }
  
  /* Book it */
  
  .book-it {
    padding: 20px;
    &-items {
      width: auto;
    }
    &-item {
      padding-right: 40px;
    }
  }
  
  /* Product */
  
  .product {
    &-items,
    &-inner {
      .slick {
        &-arrow {
          left: -25px;
        }
        &-next {
          left: auto;
          right: -25px;
        }
      }
    }
  }
  
  /* Main services */
  
  .main-services-items,
  .main-event-items,
  .slider {
    width: 700px;
    .slick {
      &-arrow {
        left: -60px;
      }
      &-next {
        left: auto;
        right: -60px;
      }
    }
  }
  
  .main-services {
    &__head {
      line-height: 1.2;
      margin-bottom: 10px;
    }
    &-content {
      padding: 10px 12px 20px;
    }
  }
  
  /* Shares */
  
  .shares {
    &-item {
      margin: 0 10px 20px;
      &:nth-child(2n) {
        margin-right: 10px;
      }
    }
  }
  
  /* Main order */
  
  .main-order {
    &-content {
      padding-right: 20px;
    }
    &__head {
      font-size: 28px;
      font-size: 28px;
    }
    &__text {
      margin-bottom: 10px;
      line-height: 1.3;
    }
  }
  
  /* Footer */
  
  .footer {
    padding-left: 0;
    &-logo {
      float: none;
      width: auto;
      margin: 0 auto 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-content {
        margin-left: 16px;
      }
      &__text {
        margin-top: 16px;
      }
    }
  }
  
  /* Products */
  
  .products {
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
    &-img {
      width: 400px;
      margin-right: 8px;
      align-self: baseline;
    }
    &-content {
      margin-right: 8px;
      &__head {
        font-size: 22px;
      }
    }
    &-info {
      width: 290px;
      padding: 14px 6px 20px 8px;
      &-mod {
        label {
          width: 138px;
        }
      }
    }
    &-amount {
      margin-bottom: 24px;
      &-info {
        span,
        input {
          width: 40px;
          font-size: 21px;
        }
      }
      &__price {
        font-size: 30px;
      }
    }
  }
  
  /* Catalog */
  
  .catalog {
    &-items {
      text-align: center;
      .product {
        &-item {
          margin: 0 10px 20px !important;
        }
        &-content {
          text-align: left;
        }
      }
    }
    &-nav {
      flex-direction: column;
      &-item {
        justify-content: center;
        margin-bottom: 10px;
      }
    }
  }
  
  /* Promotion */
  
  .stock {
    &-info {
      &-link {
        width: 180px;
      }
      &-items {
        padding-left: 12px;
      }
      &-item {
        margin-right: 12px;
      }
    }
  }
  
  /* Events */
  
  .events {
    &-items {
      padding-top: 36px;
      justify-content: center;
      .main-event-item {
        width: 300px;
        margin: 0 10px 10px;
        &:nth-child(4n) {
          margin: 0 10px 10px;
        }
      }
    }
  }
  
  /* Poster */
  
  .poster {
    flex-direction: column;
    justify-content: center;
    &-content {
      padding-right: 20px;
      margin-bottom: 20px;
      &-img {
        width: 450px;
      }
    }
    &-sidebar {
      margin: 0 auto;
    }
    &_past {
      padding-bottom: 20px;
    }
  }
  
  /* Gallery */
  
  .gallery {
    justify-content: center;
    a {
      margin: 0 6px 8px;
      &:nth-child(4n) {
        margin: 0 6px 8px;
      }
    }
  }
  
  /* Affiche */
  
  .affiche {
    .soc {
      &-wrap {
        position: static;
        background-color: inherit;
      }
    }
    .poster {
      padding-bottom: 30px;
    }
  }
  
  /* Payment */
  
  .payment {
    &-item {
      &__head {
        margin-bottom: 25px;
      }
      &__note {
        font-size: 17px;
      }
    }
    &-content {
      &-item {
        img {
          width: 80px;
        }
      }
      &-block {
        padding-left: 100px;
        padding-right: 10px;
        p {
          line-height: 1.35;
          br {
            display: none;
          }
        }
      }
    }
  }
  
  /* Contacts */
  
  .contacts {
    padding-bottom: 16px;
    &__head {
      margin-bottom: 16px;
      font-size: 28px;
      line-height: 1.2;
    }
    &__note {
      width: auto;
      line-height: 1.2;
      font-size: 18px;
    }
    &__text {
      width: auto;
      line-height: 1.35;
    }
    .gallery {
      padding-bottom: 14px;
      a {
        width: 230px;
      }
    }
  }
  
  /* Basket */
  
  .basket {
    &__text {
      margin-bottom: 40px;
    }
    &-content {
      padding-right: 0;
      margin-bottom: 30px;
      table {
        margin: 0 auto;
      }
      &-wrap {
        flex-direction: column;
        justify-content: center;
      }
    }
    &-node {
      padding-left: 0;
      &-login {
        padding-left: 125px;
      }
      &__link {
        margin-left: 125px;
      }
    }
    &-sidebar {
      margin: 0 auto;
    }
  }
  
  /* Order */
  
  .order {
    &-content {
      width: 600px;
    }
    &-sidebar {
      width: 280px;
    }
    &-inform {
      padding-left: 40px;
    }
    &-consent {
      padding-left: 103px;
    }
  }
  
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  
  /* Nav */
  
  .nav {
    text-align: center;
  }
  
  /* Header */
  
  .header {
    &-item {
      float: none;
      width: auto;
      margin: 0 auto 20px;
      &-info {
        padding-right: 0;
      }
    }
    &-info {
      &-wrap {
        float: none;
        width: 550px;
        margin: 0 auto;
      }
    }
  }
  
  /* Showcase */
  
  .showcase {
    justify-content: center;
    &-range {
      display: none;
    }
  }
  
  /* Range */
  
  .range {
    &-wrap {
      display: block;
      .showcase-range {
        display: flex;
        margin: 0 auto;
        &__text {
          display: none;
        }
        &-item {
          display: flex;
          align-items: center;
          position: relative;
          &:hover {
            .showcase-range__view {
              display: none;
            }
          }
          &.categories {
            width: 100%;
            background-color: #edf4f8;
            margin-right: 0 !important;
            .showcase-range {
              &-img {
                width: 90px;
                height: 80px;
              }
              &__view {
                display: block;
                color: #ef413d;
                font-size: 21px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 30px;
                border-bottom: 1px solid transparent;
                &:hover {
                  border-bottom: 1px solid #ef413d;
                }
              }
            }
          }
        }
        &-img {
          flex-shrink: 0;
          width: 70px;
          height: 70px;
        }
        &__head {
          padding-left: 18px;
          text-align: left;
          line-height: 1.1;
        }
      }
    }
  }
  
  /* Product */
  
  .product {
    &-wrap {
      .container {
        width: auto;
      }
    }
    &-items,
    &-inner {
      width: auto;
    }
  }
  
  /* Main services */
  
  .main-services,
  .main-event{
    &-wrap {
      .container {
        width: 100%;
      }
    }
    &-items {
      width: 100%;
    }
  }
  
  /* Slider */
  
  .slider {
    width: 100%;
  }
  
  /* Main order */
  
  .main-order {
    flex-direction: column;
    &-content {
      padding-right: 0;
      margin-bottom: 30px;
    }
  }
  
  /* Vacancy */
  
  .vacancy {  
    align-self: center;
  }
  
  /* Footer */
  
  .footer {
    &-content {
      ul {
        margin-right: 40px;
      }
    }
    &-contact {
      padding-right: 0;
      &-wrap {
        width: 467px;
      }
    }
  }
  
  /* Products */
  
  .products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-img {
      width: 500px;
      margin: 0 auto 20px;
      &:after {
        display: none;
      }
    }
    &-content {
      margin-right: 0;
      margin-bottom: 20px;
      width: auto;
    }
    &-info {
      width: 310px;
    }
  }
  
  /* Catalog */
  
  .catalog {
    flex-direction: column;
    &-sidebar {
      width: auto;
      padding-bottom: 30px;
      &:after {
        content: '';
        display: block;
        background-color: #fce5e7;
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
      }
      &-item {
        text-align: center;
        margin-bottom: 30px;
        h2 {
          margin-bottom: 20px;
        }
      }
      &-par {
        width: 155px;
        text-align: left;
        margin: 0 auto 20px;
      }
      .ref {
        justify-content: center;
        margin-left: 0;
      }
    }
    &-content {
      padding: 30px 0;
    }
  }
  
  /* Promotion */
  
  .stock {
    &-info {
      flex-direction: column;
      &-link {
        width: 100%;
        line-height: 50px;
      }
      &-items {
        padding: 10px 0;
      }
      &-item {
        span {
          padding-left: 5px;
          font-size: 15px;
        }
      }
    }
  }
  
  /* Poster */
  
  .poster {
    &-content {
      flex-direction: column;
      &-img {
        margin: 0 auto 10px;
      }
    }
  }
  
  /* Payment */
  
  .payment {
    &-items {
      flex-direction: column;
    }
    &-item {
      margin: 0 auto 30px;
      &__head,
      &__note {
        text-align: center;
      }
    }
    &-content {
      &-item {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  
  /* Contacts */
  
  .contacts {
    &__head {
      width: auto;
    }
    .gallery {
      a {
        margin-bottom: 8px;
      }
    }
  }
  
  /* Basket */
  
  .basket {
    padding-bottom: 40px !important;
    &-content {
      table {
        tbody {
          td {
            &:first-child {
              width: 190px;
            }
            &:nth-child(2) {
              width: 340px;
            }
            &:nth-child(3) {
              width: 92px;
            }
          }
        }
      }
    }
    &-node {
      &-login {
        padding-left: 20px;
      }
    }
  }
  
  /* Order */
  
  .order {
    flex-direction: column;
    &__head {
      text-align: center;
    }
    &-content {
      margin: 0 auto 40px;
    }
    &-sidebar {
      margin: 0 auto;
      label {
        margin-bottom: 30px;
      }
    }
    &-consent {
      padding-left: 0;
      justify-content: center;
      label {
        margin-right: 48px;
        padding-top: 0;
        input {
          margin-right: 12px;
        }
      }
    }
  }
  
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  
  .head {
    font-size: 20px;
    margin-bottom: 14px !important;
  }
  
  .text {
    margin-bottom: 14px !important;
  }
  
  .slick-list {
    overflow: visible;
  }
  
  /* Showcase */
  
  .showcase {
    &-range {
      width: auto;
      justify-content: center;
      &-item {
        width: 50%;
        margin-right: 0px !important;
        position: relative;
          &.categories {
          &:after, 
          &:before {
            content: '';
            display: block;
            background-color: #edf4f8;
            width: 1000px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 100%;
          }
          &:before {
            right: auto;
            left: 100%;
          }
        }
      }
    }
  }
  
  /* Range */
  
  .range {
    &-wrap {
      overflow: hidden;
    }
  }
  
  /* Book it */
  
  .book-it {
    &-items {
      flex-direction: column;
    }
    &-item {
      padding-right: 0;
    }
    &-info {
      text-align: center;
      width: auto;
    }
  }

  /* Product */
  
  .product {
    padding: 40px 0 33px;
    &:before {
      content: '';
      display: block;
      background: url(../images/after.png) no-repeat 50%;
      width: 232px;
      height: 22px;
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translate(-50%);
    }
    &-inner {
      .slick-dots {
        bottom: -40px;
      }
      .product {
        &-content {
          padding: 8px 5px 20px;
        }
      }
    }
    &-wrap {
      overflow: hidden;
    }
    &-item {
      width: 240px;
    }
    &-content {
      padding: 0;
      padding-top: 8px;
    }
    &-brand {
      margin-bottom: 12px;
    }
    &-node {
      &__name,
      &__weight {
        font-size: 16px;
      }
    }
    &-info {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      &__price {
        margin-bottom: 22px;
        margin-left: 8px;
      }
      &-amount {
        position: absolute;
        top: -6px;
        right: 0;
        margin-right: 8px;
      }
      &-content {
        display: block;
        width: 100%;
      }
      &-link {
        a {
          width: 100%;
          justify-content: center;
          height: 40px;
        }
      }
    }
  }
  
  /* Products */
  
  .products {
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/after.png) no-repeat 50%;
      width: 232px;
      height: 22px;
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  
  /* Main services */
  
  .main-services {
    padding-top: 30px;
    padding-bottom: 34px;
    &-wrap {
      overflow: hidden;
    }
    &-item {
      width: 240px;
    }
    &-content {
      padding: 18px 10px 16px;
    }
    &__head {
      font-size: 18px;
      line-height: 1.33;
    }
  }
  
  /* Shares */
  
  .shares {
    &:before {
      content: '';
      display: block;
      background: url(../images/after.png) no-repeat 50%;
      width: 232px;
      height: 22px;
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translate(-50%);
    }
    &-items {
      margin-bottom: 6px;
    }
    &-item {
      width: 546px;
      margin: 0 !important;
      margin-bottom: 18px !important;
      &-img {
        width: 247px;
      }
      &-content {
        padding: 10px;
        padding-bottom: 0;
      }
      &__data {
        font-size: 12px;
        margin-bottom: 10px;
      }
      &__head {
        font-size: 18px;
        line-height: 1.3;
      }
      &-el {
        bottom: 10px;
        left: 10px;
      }
    }
  }
  
  /* Main event */
  
  .main-event {
    padding-bottom: 24px;
    &-wrap {
      overflow: hidden;
    }
    &-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 14px;
      .head {
        padding-right: 0;
        margin-right: 0;
        &:after {
          display: none;
        }
      }
    }
    &__entry {
      font-size: 16px;
    }
    &-item {
      width: 240px;
    }
    &-content {
      padding: 10px 20px 8px;
    }
    &__head {
      font-size: 16px;
      line-height: 1.3;
    }
    &__text {
      display: none;
    }
  }
  
  /* Main order */
  
  .main-order {
    padding: 16px 8px 25px;
    &__head {
      font-size: 20px;
      margin-bottom: 30px;
    }
    &__text {
      line-height: 1.6;
      margin-bottom: 22px;
    }
  }
  
  /* Vacancy */
  
  .vacancy {
    width: 300px;
    padding: 18px 14px 22px 12px;
    &__title {
      margin-bottom: 14px;
    }
    &__head {
      font-size: 18px;
      margin-bottom: 22px;
      br {
        display: none;
      }
      &:before {
        width: 5px;
        height: 26px;
        top: 0px;
        left: -12px;
      }
    }
    &__link {
      font-size: 18px;
      margin-bottom: 22px;
    }
    &__text {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  
  /* Footer */
  
  .footer {
    padding-top: 16px;
    &-content {
      flex-direction: column;
      padding-left: 60px;
      ul {
        margin-right: 0;
        &:first-child {
          margin-bottom: 40px;
        }
      }
    }
    &-contact {
      &-wrap {
        width: auto;
        flex-direction: column;
      }
    }
    &-info {
      margin-bottom: 20px;
    }
  }
  
  /* Bottom */
  
  .bottom {
    flex-direction: column;
    &-info {
      margin-bottom: 10px;
    }
  }
  
  /* Modal */
  
  .modal {
    left: 0;
  }
  
  /* Slider */
  
  .slider {
    &-wrap {
      .product {
        &:after {
          top: -10px;
        }
        &-content {
          padding: 8px 5px 20px;
        }
        &-item {
          width: 240px;
        }
      }
    }
  }
  
  /* Viewed */
  
  .viewed {
    .product {
      &:before {
        display: none;
      }
    }
  }
  
  /* Promotion */
  
  .stock {
    .shares:before {
      display: none;
    }
    &-info {
      &-items {
        display: flex;
        flex-direction: column;
      }
      &-item {
        margin: 0 auto 15px;
        &:last-child {
          margin: 0 auto 15px;
        }
      }
    }
  }
  
   /* Poster */
  
  .poster {
    &-content {
      padding-right: 0;
      &-img {
        width: auto;
      }
      &-info {
        padding-left: 0;
      }
    }
  }
  
  /* Payment */
  
  .payment {
    &-item {
      width: auto;
    }
  }
  
  /* Basket */
  
  .basket {
    &-text {
      margin-bottom: 34px;
    }
    &-content {
      &-table {
        overflow-x: scroll;
        table {
          width: 767px;
          tbody {
            td {
              &:first-child {
                width: 166px;
              }
              &:nth-child(3) {
                width: 123px;
              }
            }
          }
        }
      }
      .product-info-amount {
        position: static;
        top: 0;
      }
    }
    &-node {
      &__text {
        margin-right: 0;
        margin-bottom: 15px;
      }
      &-login {
        flex-direction: column;
      }
      &-input {
        margin-left: -140px;
      }
    }
  }
  
  /* Order */
  
  .order {
    &-input {
      flex-direction: column;
      &__name {
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
      }
      &-node {
        flex-direction: column;
        .order-input {
          &:first-child {
            margin-right: 0;
          }
          input {
            width: 460px;
          }
        }
      }
      &.time, 
      &.data {
        flex-direction: row;
        .order-input__name {
          margin-bottom: 0;
          margin-right: 28px;
        }
      }
    }
    &-content {
      width: 100%;
    }
    &-inform {
      &-text {
        padding-bottom: 20px;
      }
      &-link {
        margin-bottom: 20px;
      }
    }
    &-consent {
      display: block;
      text-align: center;
      label {
        justify-content: center;
        margin-right: 0;
      }
      &-item {
        margin-bottom: 15px;
      }
    }
    &-items {
      .order-input.data {
        margin-right: 25px;
        .order-input__name {
          margin-right: 25px;
        }
      }
    }
  }
  
}

@media only screen and (max-width: 575px) {
  
  .text {
    width: auto !important;
  }
  
  /* Modal */
  
  .modal {
    top: -60px;
  }
  
  /* Logo */
  
  .logo {
    width: 97px;
    height: 34px;
    top: 15px;
    left: 10px;
    transform: translate(0%);
    &-content {
      display: block;
      position: absolute;
      top: 18px;
      left: 124px;
    }
  }
  
  /* Burger */
  
  .burger {
    position: absolute;
    top: 18px;
    right: 14px;
    display: block;
    width: 30px;
    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;
      span {
        position: relative;
        display: block;
        width: 30px;
        height: 4px;
        background: #222;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          content: '';
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background: #222;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }
        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }
          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }
  
  /* Header */
  
  .header {
    padding-top: 46px;
    &-item {
      &-info {
        display: none;
      }
    }
    &-info {
      &-wrap {
        display: none;
      }
      &__tel {
        font-size: 17px;
        margin-bottom: 2px;
      }
      &__note {
        font-size: 10px;
      }
    }
    &-basket {
      &-info {
        padding-left: 8px;
      }
    }
  }
  
  /* Nav */

  .nav {
    &-kit {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: #fff;
      padding-top: 12px;
      padding-bottom: 60px;
      .header {
        &-basket {
          margin-bottom: 10px;
          &-img {
            width: 40px;
            height: 40px;
            img {
              width: 20px;
              height: 20px;
            }
          }
          &__text,
          &__amount {
            font-size: 14px;
          }
          &__price {
            font-size: 18px;
          }
        }
        &-info {
          padding: 0 10px 12px;
          margin-bottom: 22px;
          border-bottom: 1px solid #cce0eb;
          &__region {
            span {
              font-size: 17px;
            }
          }
          &__text {
            padding-bottom: 6px;
          }
        }
      }
      ul {
        display: block !important;
        li {
          display: block;
          padding: 0;
          margin-right: 0;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 46px;
          }
        }
      }
    }
    ul {
      display: none;
    }
    &.active {
      .nav-kit {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  /* Showcase */
  
  .showcase {
    padding: 20px 0;
    &-sentence {
      padding: 30px 15px 70px;
      &__text {
        font-size: 20px;
      }
      &__head {
        font-size: 72px;
      }
      &__note {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    &-pagination {
      bottom: 26px;
    }
  }
  
  /* Range */
  
  .range {
    &-wrap {
      .showcase {
        &-range {
          &-img {
            width: 42px;
            height: 42px;
            img {
              vertical-align: baseline;
            }
          }
          &__head {
            font-size: 14px;
          }
          &-item {
            margin-bottom: 0;
            &.categories {
              .showcase {
                &-range {
                  &-img {
                    width: 70px;
                    height: 42px;
                  }
                  &__head,
                  &__view {
                    font-size: 16px;
                  }
                  &__view {
                    position: absolute;
                    top: 50%;
                    right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  /* Objects */
  
  .objects {
    padding-top: 28px;
    &-item {
      width: 220px;
      &-content {
        padding-top: 10px;
      }
      &__text {
        margin-bottom: 10px;
      }
    }
  }
  
  /* Book it */
  
  .book-it {
    &__head {
      font-size: 20px;
    }
    &__text {
      font-size: 14px;
    }
  }
  
  /* Shares */
  
  .shares {
    &-item {
      width: 300px;
      &-img {
        width: 150px;
      }
      &__data {
        margin-bottom: 6px;
      }
      &__head {
        font-size: 14px;
        line-height: 1.25;
      }
      &__text {
        display: none;
      }
      &-info {
        img {
          width: 40px;
          height: 20px;
        }
        p {
          margin-left: 8px;
          font-size: 12px;
        }
      }
      &-el {
        .ref {
          a {
            height: 28px;
            padding: 0 6px 0 12px;
            span {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
  
  /* Main order */
  
  .main-order {
    background: none;
    margin-bottom: 24px;
    &-wrap {
      background: url(../images/main-order-bg2.jpg) no-repeat 50%;
      background-size: cover;
    }
    &__head {
      line-height: 1.25;
    }
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      margin-bottom: 14px;
      a {
        width: 96px;
        height: 34px;
      }
      &__text,
      &__entry {
        font-size: 13px;
      }
      &__text {
        margin-top: 6px;
        margin-bottom: 4px;
      }
      &-content {
        margin-left: 6px;
      }
    }
    &-content {
      padding-left: 0;
      ul {
        &:first-child {
          margin-bottom: 22px;
        }
        li {
          margin-bottom: 18px;
          a {
            font-size: 14px;
          }
        }
      }
    }
    &-contact {
      &-wrap {
        width: 152px;
      }
      &-tel {
        a {
          font-size: 20px;
        }
      }
      &-mail {
        margin-bottom: 22px;
      }
    }
    &-info {
      &__entry {
        font-size: 14px;
        margin-bottom: 8px;
      }
      &__text {
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 5px;
      }
      &__link {
        font-size: 14px;
        margin-bottom: 15px;
      }
      &__note {
        font-size: 14px;
        line-height: 1.3;
      }
    }
    &-soc {
      a {
        margin-right: 6px;
      }
    }
  }
  
  /* Bottom */
  
  .bottom {
    padding: 14px;
    padding-left: 0;
    &-info {
      line-height: 1.8;
      margin-bottom: 5px;
    }
  }
  
  /* Products */
  
  .products {
    &-img {
      width: auto;
    }
    &-note {
      display: none;
    }
    &-info {
      margin-left: 0;
    }
  }
  
  /* Pagination */
  
  .pagination {
    font-size: 0;
    li {
      margin: 0;
      &:after {
        display: none;
      }
      a {
        width: 34px;
        line-height: 34px;
      }
    }
  }
  
  /* Catalog */
  
  .catalog {
    &-items {
      .product {
        &-item {
          margin: 0 0px 20px !important;
        }
      }
    }
  }
  
  /* Promotion */
  
  .stock {
    padding-bottom: 40px;
  }
  
  /* Payment */
  
  .payment {
    &-item {
      margin-bottom: 10px;
      &__head {
        font-size: 26px;
        margin-bottom: 18px;
      }
      &__note {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
    &-content {
      &-item {
        margin-bottom: 30px !important;
        img {
          width: 66px;
        }
      }
      &-block {
        padding-left: 80px;
        h2 {
          font-size: 16px;
        }
        p {
          line-height: 1.2;
          font-size: 14px;
        }
      }
    }
  }
  
  /* Basket */
  
  .basket {
    &__head {
     font-size: 24px;
    }
    &-text {
      margin-bottom: 26px;
      line-height: 1.35;
    }
    &-node {
      &-input {
        margin-left: 0;
        text-align: center;
        input {
          display: block;
          margin-bottom: 15px;
        }
        button {
          position: static;
          margin-left: 0;
          padding: 0 40px;
        }
      }
      &__link {
        margin-left: 0;
      }
      &__text {
        font-size: 13px;
      }
      &-login {
        padding-left: 10px;
      }
    }
    &-sidebar {
      width: 290px;
    }
  }
  
  /* Order */
  
  .order {
    padding-bottom: 30px;
    margin-bottom: 30px;
    &-wrap {
      padding-bottom: 40px;
    }
    &-input {
      input {
        width: 100% !important;
      }
    }
    &-items {
      display: block;
      .order-input.data {
        flex-direction: column;
        margin-right: 0;
        input {
          width: 220px !important;
        }
        .order-input__name {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      .order-input.time {
        flex-direction: column;
        margin-bottom: 0;
        input {
          margin-right: 0;
          margin-bottom: 15px;
        }
        .order-input__name {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }
    &-inform {
      padding: 10px 0 30px 0;
    }
    &-content {
      margin-bottom: 14px;
    }
    &-sidebar {
      label {
        margin-bottom: 22px;
      }
      .order__head {
        margin-bottom: 34px;
      }
    }
    &-consent {
      &__link {
        font-size: 20px;
        padding: 0 30px;
      }
    }
  }
}