$red: #e3000f;
$green: #56b02e;
$yellow: #ffcc32;
$hover_red: #ff4450;
$hover_yellow: #ffc000;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Qanelas', sans-serif;
}

a {
  font: 400 16px 'Qanelas', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1420px;
  margin: 0 auto;
  position: relative;
}

.head {
  font-family: "PlayfairDisplay";
  font-size: 32px;
  font-weight: 900;
  color: $red;
  margin-bottom: 44px;
  text-align: center;
}

.text {
  width: 460px;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto 34px;
}

.link {
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 34px;
  background-color: $yellow;
  color: #000;
  border-radius: 30px;
  &:hover {
    background-color: $hover_yellow;
  }
}

.ref,
.topic {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    padding: 0 20px 0 30px;
    span {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      margin-right: 12px;
    }
    img {
      transition: 300ms;
    }
    &:hover {
      img {
        transform: translateX(15%);
      }
    }
  }
}

.topic {
  a {
    background-color: $red;
    span {
      color: #fff;
    }
  }
}

.burger {
  display: none;
}


/* Logo */

.logo {
  float: left;
  &-content {
    display: none;
  }
}


/* Nav */

.nav {
  li {
    display: inline-block;
    vertical-align: top;
    padding-right: 11px;
    margin-right: 11px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      background-color: #cce0eb;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      right: 0;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: #000;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #000;
      }
    }
  }
  &-kit {
    display: none;
  }
}


/* Header */

.header {
  padding: 16px 0 0;
  &-item {
    float: left;
    width: 500px;
    margin-right: 58px;
    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
      padding-right: 18px;
      p {
        flex-shrink: 0;
        width: 202px;
        color: #808285;
        font-size: 14px;
        line-height: 1.7;
      }
    }
  }
}


/* Header info */

.header-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 2px;
  &-wrap {
    float: right;
    width: 500px;
    padding-right: 20px;
  }
  &__text {
    font-size: 14px;
    padding-bottom: 10px;
  }
  &__tel {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 4px;
    position: relative;
    &:after {
      content: "";
      display: block;
      background-color: #000;
      height: 1px;
      width: 0%;
      left: 50%;
      position: absolute;
      transition: 300ms;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
  &__note {
    font-size: 14px;
  }
  &-label {
    position: relative;
  }
  &__region {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    span {
      font-weight: 700;
      border-bottom: 1px solid #000;
    }
    img {
      flex-shrink: 0;
      width: 10px;
      height: 9px;
      margin-top: 3px;
    }
  }
}


/* Modal */

.modal {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  width: 300px;
  background-color: #fff;
  border: 2px solid #cce0eb;
  padding: 16px 8px;
  position: absolute;
  top: 24px;
  left: -86px;
  z-index: 100;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &-close {
    background: url(../images/modal-close.png) no-repeat left;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 14px;
    right: 7px;
    cursor: pointer;
    &:hover {
      background-position: right;
    }
  }
  &-info {
    display: flex;
    margin-bottom: 16px;
    &__text {
      font-size: 14px;
    }
    &__region {
      font-size: 14px;
      font-weight: 700;
      margin-left: 4px;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    &__yes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 70px;
      line-height: 42px;
      background-color: #e3000f;
      border-radius: 30px;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      &:hover {
        background-color: $hover_red;
      }
    }
    .ref {
      a {
        border: 1px solid #8badc0;
      }
    }
  }
}


/* Header basket */

.header-basket {
  display: flex;
  &-img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
    background-color: $red;
  }
  &-info {
    flex-grow: 10;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #edf4f8;
    padding-left: 22px;
    color: #000;
  }
  &__amount {
    font-weight: 700;
    margin: 0 4px;
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
    margin-top: -2px;
  }
}


/* Bread */

.bread {
  padding: 18px 0 28px;
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      margin-right: 4px;
      a {
        color: #ff2231;
        font-size: 14px;
        &:hover {
          color: #000;
        }
      }
    }
  }
}


/* Showcase */

.showcase {
  display: flex;
  justify-content: space-between;
  //  align-items: flex-start;
  padding: 50px 0 38px;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
}


/* Showcase sentence */

.showcase-sentence {
  width: 540px;
  background: rgba(0, 0, 0, .6);
  padding: 134px 15px 36px;
  text-align: center;
  margin: 0 0 14px 20px;
  position: relative;
  &__text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px;
  }
  &__head {
    color: $yellow;
    font-family: 'PlayfairDisplay';
    font-size: 94px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  &__note {
    width: 250px;
    margin: 0 auto 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
  }
  .link {
    font-size: 16px;
    font-weight: 700;
  }
}


/* Showcase pagination */

.showcase-pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  li {
    margin: 0 2px;
    a {
      width: 31px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    &.active {
      a {
        background-color: #fff;
        color: #000;
      }
    }
  }
}


/* Showcase range */

.showcase-range {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  margin-right: 20px;
  &-item {
    width: 250px;
    text-align: center;
    background-color: #fff;
    margin: 0 14px 14px 0;
    padding: 27px 5px 18px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      background-color: $yellow;
      .showcase-range {
        &__text {
          display: none;
        }
        &__view {
          display: block;
        }
      }
    }
  }
  &-img {
    display: inline-block;
    vertical-align: middle;
    height: 83px;
    line-height: 83px;
    margin-bottom: 12px;
    img {
      display: inline-block;
      vertical-align: middle;
      line-height: 83px;
    }
  }
  &__head {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 9px 0 10px;
  }
  &__text {
    color: #ef413d;
  }
  &__view {
    display: none;
    color: #000;
  }
}


/* Range */

.range {
  &-wrap {
    display: none;
  }
}


/* Objects */

.objects {
  padding: 45px 0 24px;
  &-items {
    display: flex;
  }
  &-item {
    width: 260px;
    margin-right: 30px;
    text-align: center;
    font-size: 0;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .objects-item-content {
        background-color: #fef7ec;
      }
      .ref {
        opacity: 1;
        visibility: visible;
      }
    }
    &-img {
      font-size: 0;
    }
    &-content {
      padding: 24px 30px 26px 26px;
      transition: 300ms;
    }
    &__text {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
    .ref {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      a {
        border: 1px solid #8badc0;
      }
    }
  }
}


/* Book it */

.book-it {
  background: url(../images/book-it-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding: 48px 0 42px;
  margin-bottom: 47px;
  &-items {
    width: 1100px;
    margin: 0 auto;
    display: flex;
  }
  &-item {
    flex-grow: 10;
    padding-right: 94px;
    color: #fff;
  }
  &__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 14px;
  }
  &__text {
    line-height: 1.6;
  }
  &-info {
    width: 204px;
    flex-shrink: 0;
    margin-top: 18px;
    .ref {
      a {
        background-color: $yellow;
        &:hover {
          background-color: $hover_yellow;
        }
      }
    }
  }
  &__note {
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
  }
}


/* Product */

.product {
  padding: 64px 0 70px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  &_head {
    margin-bottom: 33px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 460px;
    margin: 0 10px;
    &-img {
      font-size: 0;
      transform: scale(0.99);
      &:hover {
        transform: scale(1);
      }
    }
  }
  .ref {
    a {
      background-color: $red;
      span {
        color: #fff;
      }
    }
  }
  .text {
    margin-bottom: 38px;
  }
}

.product-inner {
  &-wrap {
    background-color: #fef7ec;
    .product {
      padding: 49px 0 55px;
      &:after {
        top: -10px;
      }
      &_head {
        margin-bottom: 39px;
      }
    }
  }
}


/* Product items slick */

.product-items,
.product-inner,
.slider {
  margin-bottom: 57px;
  position: relative;
  .slick {
    &-arrow {
      cursor: pointer;
      transition: 300ms;
      border: none;
      z-index: 5;
      position: absolute;
      top: 222px;
      left: -80px;
      background: #cce0eb url(../images/slider-prev.png) no-repeat 50%;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      &:hover {
        background-color: $red;
      }
    }
    &-next {
      left: auto;
      right: -80px;
      background: #cce0eb url(../images/slider-next.png) no-repeat 50%;
    }
  }
}


/* Product inner */

.product-inner,
.slider {
  .product {
    &-item {
      transition: 300ms;
      border: 2px solid transparent;
      font-size: 0;
      &:hover {
        border: 2px solid $red;
        .product-content {
          background-color: #fff;
        }
      }
      &-img {
        transform: none;
      }
    }
    &-content {
      padding-bottom: 24px;
    }
    &-info {
      &-link {
        a {
          &:hover {
            background-color: $red;
          }
        }
      }
    }
    &-node {
      &__name {
        &:hover {
          color: $red;
        }
      }
    }
  }
}


/* Product inner slick */

.product-inner,
.slider {
  .slick {
    &-dots {
      position: absolute;
      bottom: -56px;
      left: 50%;
      transform: translate(-50%);
      li {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        background-color: #e1e1e1;
        border-radius: 50%;
        margin: 0 6px;
        cursor: pointer;
        button {
          display: none;
        }
        &.slick-active {
          width: 16px;
          height: 16px;
          background-color: $red;
        }
      }
    }
  }
}


/* Product content */

.product {
  &-content {
    padding: 20px;
    padding-bottom: 0;
  }
  &-brand {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 18px;
    border-bottom: 1px solid #e1e1e1;
    &__name {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 15px;
    }
  }
}


/* Product node */

.product-node {
  margin-bottom: 18px;
  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &__name,
  &__weight {
    color: #000;
    font-size: 18px;
    font-weight: 700;
  }
  &__name {
    &:hover {
      color: $green;
    }
  }
  &__descr {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 8px;
  }
}


/* Product size */

.product-size {
  ul {
    display: flex;
    background-color: #edf4f8;
    border-radius: 20px;
    text-align: center;
    li {
      width: 140px;
      padding: 6px 0;
      border: 1px solid transparent;
      border-radius: 20px;
      cursor: pointer;
      transition: 300ms;
      font-size: 14px;
      &.active {
        background-color: #fff;
        border: 1px solid $red;
        font-weight: 700;
      }
      &:hover {
        background-color: #fff;
        border: 1px solid $red;
      }
    }
  }
}


/* Product info */

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__price {
    font-size: 24px;
    font-weight: 700;
  }
  &-content {
    display: flex;
  }
  &-amount {
    background-color: #edf4f8;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 21px;
    span {
      width: 30px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
    input {
      width: 30px;
      height: 100%;
      text-align: center;
      border: none;
      border-right: 1px solid #e1e1e1;
      border-left: 1px solid #e1e1e1;
      background-color: #edf4f8;
      font: 700 14px 'Qanelas';
      text-transform: uppercase;
    }
  }
  &-link {
    display: flex;
    a {
      display: flex;
      align-items: center;
      background-color: $green;
      padding: 0 24px 0 26px;
      border-radius: 30px;
      line-height: 40px;
      span {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin-right: 23px;
      }
      &:hover {
        background-color: #5dc62f;
      }
    }
  }
}


/* Main services */

.main-services {
  padding: 50px 0 58px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
  }
  &-wrap {
    background-color: #fce5e7;
  }
  .head {
    margin-bottom: 28px;
  }
  .text {
    margin-bottom: 26px;
  }
  &-img {
    font-size: 0;
  }
  &__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 14px;
    color: #000;
    &:hover {
      color: $red;
    }
  }
  &__text {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 16px;
  }
}


/* Main services item */

.main-services-item {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  margin: 0 10px;
  font-size: 0;
  &:hover {
    .main-services-content {
      background: #fff;
    }
    .ref {
      opacity: 1;
      visibility: visible;
    }
  }
}


/* Main services content */

.main-services-content {
  padding: 20px 16px 25px;
  text-align: center;
  transition: 300ms;
  .ref {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    a {
      border: 1px solid #8badc0;
    }
  }
}


/* Main services items slick */

.main-services-items,
.main-event-items {
  margin-bottom: 32px;
  position: relative;
  .slick {
    &-arrow {
      cursor: pointer;
      transition: 300ms;
      border: none;
      z-index: 5;
      position: absolute;
      top: 155px;
      left: -80px;
      background: #cce0eb url(../images/slider-prev.png) no-repeat 50%;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      &:hover {
        background-color: $red;
      }
    }
    &-next {
      left: auto;
      right: -80px;
      background: #cce0eb url(../images/slider-next.png) no-repeat 50%;
    }
  }
}


/* Shares */

.shares {
  padding: 50px 0;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
  }
  &-wrap {
    background-color: #fef7ec;
  }
  .head,
  .text {
    margin-bottom: 27px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
}


/* Shares item */

.shares-item {
  display: flex;
  width: 700px;
  margin: 0 18px 18px 0;
  &:nth-child(2n) {
    margin-right: 0;
  }
  &-img {
    flex-shrink: 0;
    width: 340px;
    font-size: 0;
  }
  &-content {
    background-color: #fff;
    padding: 28px 21px 0 33px;
    transition: 300ms;
    position: relative;
  }
  &__data {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $red;
    margin-bottom: 25px;
  }
  &__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #000;
  }
  &__text {
    line-height: 1.6;
  }
  &-info {
    display: flex;
    align-items: center;
    p {
      margin-left: 22px;
      color: #757575;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &-el {
    position: absolute;
    bottom: 42px;
    left: 26px;
    .ref {
      display: none;
    }
  }
}


/* Shares item hover */

.shares-item:hover {
  .shares-item {
    &-img {
      opacity: .89;
      &:hover {
        opacity: 1;
      }
    }
    &-content {
      background-color: $red;
    }
    &__data,
    &__head,
    &__text {
      color: #fff;
    }
    &__head {
      &:hover {
        color: #7e040c;
      }
    }
    &-info {
      display: none;
    }
    &-el {
      .ref {
        display: flex;
        justify-content: flex-start;
        a {
          background-color: $hover_red;
          border: 1px solid #fff;
          span {
            color: #fff;
          }
        }
      }
    }
  }
}


/* Main event */

.main-event {
  padding: 50px 0 62px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
  }
  &-items {
    margin-bottom: 38px;
  }
  &-img {
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }
  &-content {
    transition: 300ms;
    padding: 25px 14px 28px;
    .ref {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      a {
        border: 1px solid #8badc0;
      }
    }
  }
}


/* Main event header */

.main-event {
  &-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 23px;
    .head {
      padding-right: 20px;
      margin-right: 14px;
      margin-bottom: 0;
      position: relative;
      &:after {
        content: '/';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &__entry {
    color: #5f5f5f;
    font-size: 18px;
    border-bottom: 1px solid #5f5f5f;
    ;
    font-family: 'PlayfairDisplay';
    font-weight: 900;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}


/* Main event item */

.main-event {
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 340px;
    margin: 0 9px;
    text-align: center;
    &:hover {
      .main-event-content {
        background-color: #eef7ea;
      }
      .ref {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__data {
    color: #939598;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  &__head {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    margin-bottom: 10px;
    &:hover {
      color: $red;
    }
  }
  &__text {
    line-height: 1.6;
    margin-bottom: 20px;
  }
}


/* Main order */

.main-order {
  padding: 44px 80px 38px;
  margin-bottom: 80px;
  background: url(../images/main-order-bg.jpg) no-repeat 50%;
  background-size: cover;
  display: flex;
  &-content {
    padding-right: 72px;
    padding-top: 4px;
  }
  &__head {
    color: #fff;
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 29px;
  }
  &__text {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


/* Vacancy */

.vacancy {
  align-self: flex-start;
  flex-shrink: 0;
  width: 380px;
  background-color: #edf4f8;
  padding: 35px 28px 34px 34px;
  &__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
  &__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 24px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 5px;
      height: 52px;
      background-color: #ff2231;
      position: absolute;
      top: 8px;
      left: -34px;
    }
  }
  &__link {
    font-size: 20px;
    border-bottom: 1px solid #000;
    color: #000;
    margin-bottom: 26px;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &__text {
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .ref {
    justify-content: flex-start;
    a {
      border: 1px solid #8badc0;
    }
  }
}


/* Footer */

.footer {
  padding: 35px 0 26px 10px;
  border-bottom: 1px solid #acacac;
  &-wrap {
    background-color: #371913;
  }
  &-logo {
    float: left;
    width: 240px;
    margin-right: 150px;
    &__text {
      margin-bottom: 8px;
      color: #fff;
      margin-top: 25px;
    }
    &__entry {
      color: #fff;
      font-size: 14px;
    }
  }
  &-soc {
    a {
      width: 30px;
      height: 30px;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}


/* Footer content */

.footer-content {
  float: left;
  display: flex;
  ul {
    margin-right: 105px;
    &:last-child {
      margin-right: 0;
    }
    li {
      margin-bottom: 19px;
      a {
        font-weight: 700;
        border-bottom: 1px solid #fff;
        color: #fff;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}


/* Footer info */

.footer-info {
  color: #fff;
  &__entry {
    font-weight: 700;
    margin-bottom: 11px;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__link {
    border-bottom: 1px solid $yellow;
    color: $yellow;
    margin-bottom: 19px;
    &:hover {
      border-bottoM: 1px solid transparent;
    }
  }
  &__note {
    margin-bottom: 20px;
  }
}


/* Footer contact */

.footer-contact {
  padding-right: 45px;
  &-wrap {
    float: right;
    width: 620px;
    display: flex;
    justify-content: space-between;
  }
  &-tel {
    a {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 18px;
      &:hover {
        color: $yellow;
      }
    }
  }
  &-mail {
    margin-bottom: 70px;
    a {
      color: $yellow;
      border-bottom: 1px solid $yellow;
      &:hover {
        border-bottoM: 1px solid transparent;
      }
    }
  }
}


/* Bottom */

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 18px 14px 22px 18px;
  &-info {
    color: #997b76;
    font-size: 14px;
  }
  &-omg {
    display: flex;
    &__text,
    &__link {
      color: #997b76;
      font-size: 14px;
    }
    &__link {
      margin-left: 4px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/* Products */

.products {
  display: flex;
  padding-bottom: 70px;
  &-img {
    flex-shrink: 0;
    width: 670px;
    margin-right: 24px;
    font-size: 0;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.1) 82%, rgba(255, 255, 255, 1) 100%);
      width: 100%;
      height: 100%;
    }
  }
  &-note {
    height: 30px;
    border-radius: 30px 30px 0 0;
    position: absolute;
    top: 136px;
    left: -163px;
    background-color: $green;
    transform: rotate(-90deg);
    &__text {
      padding: 7px 38px 0;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .product-size ul {
    background-color: #fff;
  }
}


/* Products content */

.products-content {
  width: 300px;
  margin-right: 34px;
  padding-top: 18px;
  &__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 37px;
  }
  b {
    display: block;
    margin-bottom: 8px;
  }
  &-descr {
    p {
      line-height: 1.6;
      padding-bottom: 27px;
      margin-bottom: 25px;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  table {
    td {
      height: 24px;
      &:first-child {
        width: 108px;
      }
    }
  }
  .product {
    &-brand {
      padding-bottom: 22px;
      margin-bottom: 32px;
    }
  }
}


/* Products info */

.products-info {
  width: 360px;
  margin-left: 30px;
  background-color: #e8f3ed;
  padding: 37px 26px 60px 32px;
  position: relative;
  z-index: 10;
  b {
    display: block;
    margin-bottom: 14px;
  }
  &-mod {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 47px;
    label {
      width: 150px;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;
      padding-right: 3px;
      input {
        flex-shrink: 0;
        width: 16px;
        height: 17px;
      }
      span {
        padding-left: 8px;
        i {
          font-style: normal;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
  .product-info-link {
    a {
      width: 100%;
      height: 50px;
      justify-content: center;
      background-color: $red;
      span {
        font-size: 24px;
      }
      &:hover {
        background-color: $green;
      }
    }
  }
}


/* Products amount */

.products-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  &-info {
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    height: 48px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      width: 50px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
    }
    input {
      width: 58px;
      height: 100%;
      text-align: center;
      border: none;
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      font: 700 24px 'Qanelas';
      text-transform: uppercase;
    }
  }
  &__price {
    font-size: 34px;
    font-weight: 700;
    padding: 10px 12px 0 0;
  }
}


/* Slider */

.slider {
  margin-bottom: 41px;
  position: relative;
  &-wrap {
    .product {
      padding-top: 48px;
      padding-bottom: 52px;
      &:after {
        top: -10px;
      }
      &_head {
        margin-bottom: 34px;
      }
      &-item {
        width: 340px;
      }
      &-info {
        &-link {
          a {
            padding: 0 16px;
          }
        }
      }
      &-node {
        &__descr {
          margin-bottom: 5px;
        }
      }
    }
  }
  .slick {
    &-arrow {
      top: 143px;
    }
    &-dots {
      bottom: -38px;
    }
  }
}


/* Viewed */

.viewed {
  background-color: #e8f3ed;
  .slider {
    margin-bottom: 26px;
  }
  .product {
    &:after {
      top: -10px;
    }
  }
  .slick-dots {
    display: none !important;
  }
}


/* Catalog */

.catalog {
  display: flex;
  &-wrap {
    overflow: hidden;
  }
  &-items {
    font-size: 0;
    .product {
      &-item {
        width: 340px;
        margin: 0 20px 44px 0;
        border: 2px solid transparent;
        transition: 300ms;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:hover {
          border: 2px solid $red;
        }
        &-img {
          transform: none;
        }
      }
      &-content {
        padding: 24px 10px 20px;
      }
      &-node {
        &__name {
          &:hover {
            color: $red;
          }
        }
      }
      &-info {
        &-link {
          a {
            &:hover {
              background-color: $red;
            }
          }
        }
      }
    }
  }
}


/* Catalog sidebar */

.catalog-sidebar {
  width: 300px;
  flex-shrink: 0;
  background-color: #fce5e7;
  padding-bottom: 50px;
  position: relative;
  &:before {
    content: '';
    display: block;
    background-color: #fce5e7;
    width: 2000px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
  }
  &-item {
    margin-bottom: 49px;
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  &-par {
    margin-bottom: 28px;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      cursor: pointer;
      input {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 17px;
        margin-right: 10px;
        &:checked + span {
          color: $red;
          border-bottom: 1px solid transparent;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid #000;
        transition: 300ms;
        &:hover {
          border-bottom: 1px solid transparent;
          color: $red;
        }
      }
    }
  }
  .ref {
    justify-content: flex-start;
    margin-left: 25px;
    a {
      background-color: $green;
      span {
        color: #fff;
      }
    }
  }
}


/* Catalog content */

.catalog-content {
  flex-grow: 10;
  padding: 55px 0 70px 60px;
}


/* Catalog header */

.catalog-header {
  &__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 28px;
  }
  &__text {
    line-height: 1.6;
    margin-bottom: 34px;
    padding-right: 90px;
  }
}


/* Catalog nav */

.catalog-nav {
  padding: 18px 0;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
  position: relative;
  &-item {
    display: flex;
    align-items: center;
    .select2 {
      &-container {
        width: 180px !important;
      }
    }
    &.mod {
      .select2 {
        &-container {
          width: 80px !important;
        }
      }
    }
  }
  &__name {
    margin-right: 12px;
  }
  &-input {
    position: relative;
    input {
      width: 380px;
      height: 50px;
      background-color: #edf4f8;
      padding: 0 100px 0 25px;
      font: 400 16px 'Qanelas';
      border: none;
      border-radius: 30px;
    }
    button {
      height: 50px;
      background-color: #cce0eb;
      border: none;
      border-radius: 30px;
      text-transform: uppercase;
      font: 700 14px 'Qanelas';
      padding: 0 18px;
      cursor: pointer;
      transition: 300ms;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        background-color: #bccbd4;
      }
    }
  }
}


/* Select2 */

.select2 {
  &-search {
    &--dropdown {
      display: none;
    }
  }
  &-container {
    &--default {
      .select2-selection--single {
        background-color: #edf4f8;
        border: none;
        border-radius: 30px;
      }
      .select2-selection--single {
        .select2-selection__rendered {
          color: #000;
          line-height: 50px;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
        }
        .select2-selection__arrow {
          height: 50px;
          right: 10px;
        }
        .select2-selection__arrow b {
          background: url(../images/select2-arrow.png) no-repeat 50%;
          width: 10px;
          height: 9px;
          border: none;
          margin-top: -4px;
          transition: 300ms;
        }
      }
      .select2-results__option[aria-selected=true] {
        background-color: #d9e1e5;
      }
      .select2-results__option--highlighted[aria-selected] {
        background-color: #c5d4dd;
      }
      &.select2-container--open {
        .select2-selection--single {
          .select2-selection__arrow b {
            transform: rotate(180deg);
          }
        }
      }
    }
    .select2-selection--single {
      height: 50px;
    }
  }
}


/* Pagination */

.pagination {
  padding-left: 264px;
  &.common {
    padding-left: 0;
    padding-bottom: 50px;
    text-align: center;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    position: relative;
    text-align: center;
    &:last-child,
    &:nth-last-child(2) {
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      display: block;
      background-color: #939598;
      width: 1px;
      height: 16px;
      position: absolute;
      top: 12px;
      right: -8px;
    }
    &.active {
      a {
        color: #fff;
        background-color: $red;
      }
    }
    &.pagination {
      &_prev,
      &_next {
        border-radius: 50%;
        background-color: #cce0eb;
        &:after {
          display: none;
        }
      }
      &_next {
        margin-right: 0;
      }
    }
    a {
      width: 40px;
      line-height: 40px;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      border-radius: 50%;
      &:hover {
        color: #fff;
        background-color: $red;
      }
    }
  }
}


/* Promotion */

.stock {
  padding-bottom: 60px;
  &-wrap {
    background-color: #fef7ec;
  }
  .head,
  .text {
    margin-bottom: 28px;
  }
  .bread {
    padding-bottom: 14px;
  }
  .pagination {
    padding-left: 0;
    text-align: center;
  }
  .shares {
    padding-top: 40px;
    padding-bottom: 30px;
    &:after {
      display: none;
    }
    &-item {
      position: relative;
      &.disabled {
        &:hover {
          .shares-item {
            &-content {
              background-color: #fff;
            }
            &__data {
              color: $red;
            }
            &__head,
            &__text {
              color: #000;
            }
            &-el {
              .ref {
                display: none;
              }
            }
            &-info {
              display: flex;
            }
            img {
              opacity: 1;
            }
          }
        }
        &:after {
          content: '';
          display: block;
          background: #fff;
          opacity: .7;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 100;
        }
      }
    }
  }
}


/* Promotion info */

.stock-info {
  display: flex;
  align-items: center;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  &-link {
    width: 220px;
    line-height: 80px;
    flex-shrink: 0;
    background-color: #fff;
    text-align: center;
    a {
      color: $red;
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        color: #000;
      }
    }
  }
  &-items {
    padding-left: 60px;
  }
  &-item {
    margin-right: 86px;
    &:last-child {
      margin-right: 0;
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      padding-left: 18px;
      color: #757575;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}


/* Events */

.events {
  &-wrap {
    .stock {
      position: relative;
      &:after {
        content: '';
        display: block;
        background: url(../images/after.png) no-repeat 50%;
        width: 232px;
        height: 22px;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
  &-items {
    padding-top: 48px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 15px 0 12px;
    .main-event__data {
      color: $red;
      margin-bottom: 0;
    }
    .shares-item-info {
      img {
        width: 51px;
        height: 26px;
      }
      p {
        font-size: 14px;
        margin-left: 12px;
      }
    }
  }
}


/* Events main-event-item */

.events {
  &-items {
    display: flex;
    flex-wrap: wrap;
    .main-event {
      &-item {
        margin: 0 20px 20px 0;
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:hover {
          .main-event {
            &-content {
              background-color: #fff;
            }
          }
        }
      }
      &__text {
        font-size: 16px;
      }
    }
  }
}

/* Past */

.past {
  padding-top: 54px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
  }
  &-wrap {
    overflow: hidden;
  }
  .head {
    margin-bottom: 24px;
  }
  .text {
    margin-bottom: 36px;
  }
  .events-items {
    padding-top: 0;
    padding-bottom: 24px;
  }
}

/* Poster */

.poster {
  display: flex;
  padding-bottom: 53px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
  }
  &_past {
    background-color: #fffaea;
    padding-bottom: 60px;
    .main-event {
      &-items {
        margin-bottom: 0;
        .slick-arrow {
          top: 203px;
        }
      }
      &-item {
        &:hover {
          .main-event-content {
            background-color: #fff;
          }
        }
      }
    }
    .past {
      .text {
        margin-bottom: 29px;
      }
    }
  }
  .soc {
    &__head {
      font-weight: 700;
      margin-bottom: 20px;
      font-size: 16px;
    }
    &-items {
      a {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
}

/* Poster sidebar */

.poster-sidebar {
  width: 360px;
  flex-shrink: 0;
  align-self: flex-start;
  background-color: #e8f3ed;
  padding: 10px 30px 38px;
  table {
    margin-bottom: 20px;
    tbody {
      td {
        height: 70px;
        font-weight: 700;
        text-transform: uppercase;
        &:first-child {
          width: 105px;
          padding-left: 6px;
        }
      }
    }
  }
  &-info {
    border-top: 1px solid #898989;
    padding-top: 28px;
    text-align: center;
  }
  &__text {
    padding-bottom: 8px;
  }
  &-tel {
    a {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 35px;
      color: #000;
      &:hover {
        color: $red;
      }
    }
  }
  &-link {
    a {
      width: 100%;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      text-transform: uppercase;
      background-color: $red;
      border-radius: 30px;
      &:hover {
        background-color: $hover_red;
      }
    }
  }
}

/* Poster content */

.poster-content {
  flex-grow: 10;
  display: flex;
  padding-right: 70px;
  &-img {
    width: 620px;
    flex-shrink: 0;
  }
  &-info {
    padding: 25px 0 0 44px;
  }
  &__head {
    margin-bottom: 35px;
    font: 900 32px/1.3 'PlayfairDisplay';
  }
  &__text {
    line-height: 1.65;
    padding-bottom: 38px;
    margin-bottom: 36px;
    border-bottom: 1px solid #898989;
  }
}

/* Affiche */

.affiche {
  &_past {
    background-color: #fce5e7;
  }
  .poster {
    &:after {
      display: none;
    }
    &-content {
      &__text {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    &-sidebar {
      background-color: #fffaea;
      position: relative;
      table {
        margin-bottom: 0;
      }
    }
  }
  .soc {
    &-wrap {
      position: absolute;
      top: 100%;
      left: 38px;
      margin-top: 34px;
      background-color: #fff;
    }
  }
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 48px;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
  }
  a {
    width: 340px;
    margin-right: 20px;
    margin-bottom: 16px;
    opacity: .92;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
}

/* Payment */

.payment {
  padding-bottom: 12px;
  &_bread {
    .bread {
      padding-bottom: 22px;
    }
  }
  &-items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 670px;
    &__head {
      font-family: 'PlayfairDisplay';
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 44px;
    }
    &__note {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 54px;
    }
  }
}

/* Payment content */

.payment-content {
  &-item {
    margin-bottom: 74px;
    position: relative;
    img {
      width: 97px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.indent {
      margin-bottom: 51px;
    }
    &.indent2 {
      margin-bottom: 26px;
    }
  }
  &-block {
    padding: 6px 0 0 160px;
    h2 {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 22px;
      margin-bottom: 8px;
      color: $red;
      &:before {
        content: '';
        display: block;
        width: 11px;
        height: 3px;
        background-color: $red;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
    p {
      line-height: 1.6;
    }
  }
}

/* Contacts */

.contacts {
  text-align: center;
  padding-bottom: 30px;
  &__head {
    width: 700px;
    margin: 0 auto 33px;
    font: 900 32px/1.4 'PlayfairDisplay';
  }
  &__note {
    width: 1070px;
    margin: 0 auto 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }
  &__text {
    width: 1100px;
    margin: 0 auto 25px;
    line-height: 1.65;
    &:last-child {
      margin-bottom: 30px;
    }
  }
  &_bread {
    .bread {
      padding-bottom: 18px;
    }
  }
  .gallery {
    padding-bottom: 28px;
    &:after {
      display: none;
    }
    &:last-child {
      padding-top: 10px;
    }
    a {
      margin-bottom: 0;
    }
  }
}

/* Basket */

.basket {
  padding-bottom: 66px;
  &__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  &-text {
    margin-bottom: 54px;
    a {
      text-decoration: underline;
      color: $red;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &_bread {
    .bread {
      padding-bottom: 23px;
    }
  }
}

/* Basket-el */

.basket-el {
  display: flex;
  margin-right: 12px;
  &:last-child {
    margin-right: 0;
  }
  &-wrap {
    display: flex;
    padding-top: 21px;
  }
  &__text {
    margin-right: 3px;
  }
  &__sum {
    font-size: 14px;
    font-weight: 600;
  }
}

/* Basket content */

.basket-content {
  flex-grow: 10;
  padding-right: 115px;
  &-wrap {
    display: flex;
  }
  table {
    border-collapse: collapse;
    tbody {
      td {
        vertical-align: top;
        padding-bottom: 28px;
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: #e1e1e1;
          position: absolute;
          bottom: 28px;
          right: 0;
        }
        &:first-child {
          width: 160px;
          &:after {
            background-color: #fff;
          }
        }
        &:nth-child(2) {
          width: 377px;
          padding-top: 6px;
          a {
            font-weight: 700;
            line-height: 1.6;
            color: #000;
            &:hover {
              color: $red;
            }
          }
        }
        &:nth-child(3) {
          width: 160px;
        }
        &:nth-child(4) {
          width: 90px;
        }
        &:nth-child(5) {
          width: 114px;
        }
        &:last-child {
          width: 40px;
        }
      }
    }
  }
  &__unit {
    padding-top: 14px;
    font-weight: 700;
  }
  &__price {
    padding-top: 10px;
    font-weight: 700;
    font-size: 24px;
  }
  &-img {
    width: 40px;
    height: 40px;
    background-color: #cce0eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background-color: $red;
    }
  }
  .product-info-amount {
    width: 92px;
  }
}

/* Basket sidebar */

.basket-sidebar {
  width: 360px;
  align-self: flex-start;
  flex-shrink: 0;
  background-color: #e8f3ed;
  padding: 22px 38px 56px 26px;
  table {
    tbody {
      td {
        height: 42px;
        &:first-child {
          width: 178px;
        }
        &:last-child {
          font-weight: 700;
        }
      }
    }
  }
  &-login {
    line-height: 1.6;
    padding: 14px 0 20px;
    a {
      text-decoration: underline;
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-totals {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-weight: 700;
    padding-left: 5px;
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
    padding-right: 29px;
  }
  .checkbox {
    width: 88px;
    height: 35px;
    background-color: #e8f3ed;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    input {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
      &:checked + span {
        background-color: #cce0eb;
        &:before {
          position: absolute;
          left: 100%;
          background: #fff;
          margin-left: -31px;
        }
      }
    }
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: 300ms;
      background: #fff;
      border-radius: 30px;
      &:before {
        content: '';
        display: block;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 3px;
        bottom: 3px;
        width: 28px;
        background-color: #cce0eb;
        transition: 300ms;
      }
    }
  }
}

/* Basket node */

.basket-node {
  padding: 24px 0 0 160px;
  &__link {
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 52px;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &-login {
    padding: 25px 10px 23px 35px;
    background-color: #fce5e7;
    display: flex;
    align-items: center;
  }
  &__text {
    font-size: 14px;
    font-weight: 700;
    margin-right: 40px;
  }
  &-input {
    position: relative;
    input {
      width: 250px;
      height: 50px;
      background-color: #fefefe;
      border: none;
      border-radius: 30px;
      padding: 0 15px;
      position: relative;
      z-index: 100;
      font: 400 16px 'Qanelas';
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      height: 50px;
      background-color: $red;
      color: #fff;
      border-radius: 30px;
      font: 700 14px 'Qanelas';
      text-transform: uppercase;
      padding: 0 40px 0 80px;
      margin-left: -40px;
      position: absolute;
      top: 0;
      right: -140px;
      &:hover {
        background-color: $hover_red;
      }
    }
  }
}

/* Order */

.order {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  margin-bottom: 36px;
  border-bottom: 1px solid #e1e1e1;
  &-wrap {
    padding-bottom: 130px;
  }
  &__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 41px;
  }
  &-content {
    width: 700px;
  }
  &-consent {
    display: flex;
    padding-left: 140px;
    label {
      display: flex;
      align-items: center;
      margin-right: 78px;
      padding-top: 14px;
      cursor: pointer;
      input {
        flex-shrink: 0;
        width: 16px;
        height: 17px;
        margin-right: 18px;
      }
    }
    &__link {
      line-height: 50px;
      background-color: $red;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 42px;
      border-radius: 30px;
      &:hover {
        background-color: $hover_red;
      }
    }
  }
}

/* Order sidebar */

.order-sidebar {
  width: 350px;
  .order__head {
    margin-bottom: 53px;
  }
  label {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    &:last-child {
      margin-bottom: 0;
    }
    .checkbox {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      border: 1px solid #cce0eb;
      background-color: #fefefe;
      border-radius: 50%;
      margin-right: 16px;
      position: relative;
      input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
        &:checked + span:before {
          opacity: 1;
        }
      }
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background-color: #9dc415;
          border-radius: 50%;
          opacity: 0;
          transition: 300ms;
        }
      }
      &__text {
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

/* Order input */

.order-input {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  &__name {
    width: 137px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    &:after {
      content: '*';
      font-size: 16px;
      color: $red;
    }
  }
  input {
    width: 460px;
    height: 50px;
    background-color: #fefefe;
    border: 1px solid #cce0eb;
    border-radius: 30px;
    padding: 0 16px;
    font: 400 16px 'Qanelas';
    &::-webkit-input-placeholder { 
      color: #000;
    }
    &:-moz-placeholder { 
      color: #000;
    }
    &::-moz-placeholder { 
      color: #000;
    }
    &:-ms-input-placeholder {
      color: #000;
    }
    &:focus {
      border: 2px solid $red;
    }
  }
  &-node {
    display: flex;
    .order-input {
      &:first-child {
        margin-right: 26px;
      }
      input {
        width: 140px;
      }
    }
  }
  &.office {
    .order-input__name {
      width: auto;
      margin-right: 16px;
    }
  }
}

/* Order inform */

.order-inform {
  padding: 32px 0 24px;
  padding-left: 140px;
  &-text {
    padding-bottom: 36px;
    b {
      text-transform: uppercase;
      margin-right: 4px;
    }
  }
  &-link {
    margin-bottom: 33px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #000;
      border-bottom: 1px solid #000;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

/* Order items */

.order-items {
  display: flex;
  .order-input {
    &__name {
      width: auto;
      &:after {
        display: none;
      }
    }
    &.data {
      margin-right: 40px;
      .order-input__name {
        margin-right: 42px;
      }
      input {
        width: 140px;
        z-index: 100;
        margin-left: -40px;
      }
    }
    &.time {
      .order-input__name {
        margin-right: 18px;
      }
      input {
        width: 80px;
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .calendar {
    width: 100px;
    height: 50px;
    background-color: #9dc415;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 30px;
    &-wrap {
      display: flex;
    }
  }
}










