$blue: #00349a;

/* Fonts */

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Bold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Black.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  color: #0a0a0a;
  font: 400 18px/1.4 'Graphik LCG', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.title {
  font-size: 64px;
  font-weight: bold;
  position: relative;
  padding-left: 60px;
  line-height: 1.2;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    width: 30px;
    height: 40px;
    transform: skewX(-13deg);
    background: red;
  }

  @media only screen and (max-width: 991px) {
    font-size: 40px !important;

    &:before {
      top: 0px !important;
    }
  }

  @media only screen and (max-width: 767px) {
    font-size: 32px !important;
    padding-left: 0;

    &:before {
      display: none;
    }
  }
}

.link {
  color: $blue;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  border: 1px solid $blue;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 16px;

  &:hover {
    img {
      transform: translateX(3px);
    }
  }

  img {
    margin-left: 10px;
    transition: 300ms;
  }
}

.wrapper {
  overflow: hidden;
}

/* Header */

.header {
  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__content {
    flex-grow: 10;
  }

  &__logo {
    width: 160px;
    margin-right: 58px;
    flex-shrink: 0;
  }

  &__info {
    padding-top: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &-item {
      margin-right: 40px;
      font-size: 14px;
      display: flex;
      align-items: center;

      img {
        flex-shrink: 0;
        margin-right: 7px;
      }

      a {
        color: $blue;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        &:last-child {
          a {
            background: red;
            padding: 12px 20px;
            border-radius: 50px;
            color: #ffffff;

            &:hover {
              background: $blue;
              color: #ffffff;
            }
          }
        }

        a {
          font-weight: bold;
          font-size: 16px;
          color: $blue;
          text-transform: uppercase;

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    &__logo {
      margin-right: 30px;
    }

    &__nav {
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    position: relative;

    &__logo {
      width: 100px;

      a {
        display: flex;
      }
    }

    &__info {
      display: none;
    }

    &__inner {
      align-items: center;
    }

    &__nav {
      display: flex;
      justify-content: flex-end;

      ul {
        position: absolute;
        top: 100%;
        background: #ffffff;
        left: 0;
        right: 0;
        flex-direction: column;
        z-index: 9999;
        padding: 15px 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: 300ms;

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        li {
          margin: 10px 0;
        }
      }
    }
  }
}

/* Burger */

.burger {
  display: none;
  width: 30px;

  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;

    span {
      position: relative;
      display: block;
      width: 30px;
      height: 5px;
      border-radius: 7px;
      background: #222;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 5px;
        position: absolute;
        left: 0;
        background: #222;
        border-radius: 7px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }

    &.active {
      span {
        background: transparent;

        &:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
        }

        &:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    display: block;
  }
}

/* Showcase */

.showcase {
  background: url(../images/showcase-bg.jpg) 50%/cover;

  &__inner {
    padding-top: 140px;
  }

  &__title {
    font-size: 74px;
    margin-bottom: 84px;
    max-width: 1000px;

    &:before {
      top: 27px;
    }
  }

  &__description {
    padding: 50px 35px 200px 0;
    background: $blue;
    color: #ffffff;
    font-size: 24px;
    max-width: 720px;
    line-height: 1.4;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 1000px;
      background: $blue;
    }
  }

  @media only screen and (max-width: 1300px) {
    &__title {
      font-size: 64px;

      &:before {
        top: 18px;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    &__inner {
      padding-top: 100px;
    }

    &__description {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    &__description {
      font-size: 18px;
    }
  }
}

/* Services */

.services {
  position: relative;
  z-index: 3;
  margin: -153px 0 100px;

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;

    .services__item {
      width: 100%;
    }
  }

  &__item {
    width: 33.33%;
    height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 35px;

    &:hover {
      background: #ffffff !important;
      border: 2px solid $blue;

      .services {
        &__text {
          display: block;
        }

        &__link {
          display: flex;
        }

        &__name {
          color: red;
        }
      }
    }
  }

  &__icon {
    margin-bottom: 30px;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.4;
    padding-right: 15px;
    min-height: 99px;
  }

  &__text {
    display: none;
    font-size: 16px;
    margin-top: 20px;
  }

  &__link {
    display: none;
    margin-top: 24px;
    align-items: center;
    color: red;
    font-weight: bold;
    font-size: 16px;

    &:hover img {
      transform: translateX(3px);
    }

    img {
      margin-left: 10px;
      transition: 300ms;
    }
  }

  @media only screen and (max-width: 1300px) {
    &__item {
      width: 50%;
    }
  }

  @media only screen and (max-width: 991px) {
    &__name {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    &__item {
      width: 100%;
      height: auto;
    }

    &__list {
      grid-template-columns: 1fr;
    }
  }
}

/* About */

.about {
  margin-bottom: 72px;

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    max-width: 620px;
    margin-bottom: 40px;
  }

  &__items {
    position: absolute;
    right: 0;
    top: 120px;
    width: 520px;
    background: $blue;
    color: #ffffff;
    padding-left: 83px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -462px;
      right: -1000px;
      background: $blue;
      bottom: 0;
    }
  }

  &__item {
    margin-bottom: 55px;
    font-weight: bold;
    position: relative;

    &:nth-child(2n - 1) {
      width: 235px;
    }
  }

  &__number {
    font-size: 64px;
    line-height: 1;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      right: -10px;
      width: 30px;
      height: 40px;
      transform: skewX(-13deg);
      background: red;
    }

    span {
      position: relative;
    }
  }

  &__text {
    font-size: 24px;
  }

  @media only screen and (max-width: 1300px) {
    &__items {
      width: 320px;
      top: 0;
      padding-bottom: 20px;

      &:before {
        top: -150px;
      }
    }

    &__item {
      margin-bottom: 17px;
      width: 100%;
    }

    &__number {
      font-size: 45px;
    }

    &__text {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 991px) {
    &__items {
      position: static;
      background: none;
      color: $blue;
      width: 100%;
      padding: 0;

      &:before {
        display: none;
      }
    }

    &__item {
      width: 50% !important;
    }
  }
}

/* Projects */

.projects {
  background: #e8e8e8;
  padding: 70px 0 80px;

  &__title {
    margin-bottom: 25px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 282px;
    padding-top: 35px;
  }

  &__number {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 24px;
    margin-bottom: 64px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-gap: 60px;
  }

  &__item {
    background: #fff;
    transition: 300ms;

    &:hover {
      background: $blue;
      color: #ffffff;
    }
  }

  &__content {
    padding: 30px;
  }

  &__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    transition: none;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__more {
    transition: none;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    font-weight: bold;

    img {
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 1300px) {
    &__items {
      grid-template-columns: repeat(2, 300px);
    }
  }

  @media only screen and (max-width: 991px) {
    &__inner {
      position: relative;
      padding-bottom: 120px;
    }

    &__container {
      display: block;
    }

    &__info {
      max-width: 100%;
    }

    &__link {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    &__number {
      font-size: 20px;
    }

    &__description {
      font-size: 16px;
    }

    &__items {
      grid-template-columns: 1fr;
    }

    &__item {
      max-width: 380px;
    }
  }
}

/* News */

.news {
  padding: 80px 0 90px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px 0;
  }

  &__item {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;

    &:hover {
      color: red;
    }
  }

  &__text {
    flex-grow: 10;
    font-size: 16px;
    margin-bottom: 34px;
  }

  &__date {
    color: #898989;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    padding-top: 25px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 80px;
      height: 1px;
      top: 0;
      background: #bababa;
    }
  }

  @media only screen and (max-width: 1300px) {
    &__name {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 991px) {
    padding-bottom: 50px;

    &__items {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px 0;
    }
  }

  @media only screen and (max-width: 767px) {
    &__inner {
      position: relative;
      padding-bottom: 50px;
    }

    &__items {
      grid-template-columns: 1fr;
    }

    &__link {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

/* Contacts */

.contacts {
  &__inner {
    display: flex;
  }

  &__content {
    background: $blue;
    position: relative;
    padding: 55px 77px 65px 0;
    width: 478px;
    color: #ffffff;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 1000px;
      background: $blue;
    }
  }

  &__title {
    margin-bottom: 42px;
  }

  &__list {
    li {
      margin-bottom: 30px;
      font-size: 24px;
      display: flex;

      span {
        &:first-child {
          font-size: 18px;
          width: 130px;
          display: block;
          flex-shrink: 0;
        }
      }
    }
  }

  &__link {
    background: red;
    padding: 9px 20px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 130px;

    &:hover {
      background: #e70303;
    }
  }

  &__map {
    flex-grow: 10;
    margin-right: calc((100vw - 1260px)/-2);
  }

  @media only screen and (max-width: 1300px) {
    &__content {
      ul {
        li {
          font-size: 20px;
        }
      }
    }

    &__map {
      margin-right: calc((100vw - 970px)/-2);
    }
  }

  @media only screen and (max-width: 991px) {
    position: relative;
    padding-bottom: 300px;

    &__inner {
      display: block;
    }

    &__content {
      width: 100%;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -300px;
        width: 300px;
        background: $blue;
      }
    }

    &__map {
      width: 100%;
      height: 300px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    &__content {
      padding-right: 0;

      ul {
        li {
          display: block;

          span:first-child {
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
    }

    &__link {
      margin-left: 0;
    }
  }
}

/* Footer */

.footer {
  background: #e8e8e8;

  &.footer--inner {
    .footer__inner {
      border-top: 1px solid #6f6f6f;
    }
  }

  &__inner {
    padding: 50px 0;
    display: flex;
  }

  &__nav {
    flex-grow: 10;
    margin: 0 50px;
    display: flex;

    ul {
      margin-right: 40px;

      &:first-child {
        min-width: 100px;
      }

      &:last-child {
        margin-right: 0;
      }

      li {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $blue;
          font-weight: bold;
          font-size: 16px;

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  &__logo {
    flex-shrink: 0;
    width: 89px;
  }

  &__contacts {
    flex-shrink: 0;
    width: 290px;
    font-size: 16px;

    ul {
      li {
        margin-bottom: 30px;

        a {
          color: $blue;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__head {
    margin-bottom: 30px;
    font-weight: 700;
  }

  &__line {
    border-top: 1px solid #6f6f6f;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7c7c7c;
    font-size: 14px;
  }

  &__copy {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__author {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;

    img {
      margin-left: 7px;
    }
  }

  @media only screen and (max-width: 1300px) {
    &__contacts {
      width: 230px;
    }

    &__nav {
      ul {
        margin-right: 20px;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    &__inner {
      flex-wrap: wrap;
    }

    &__logo {
      width: 100%;
      justify-content: center;
      display: flex;
      margin-bottom: 30px;
    }

    &__nav {
      width: calc(100% - 280px);
      margin: 0;
    }

    &__contacts {
      width: 200px;
      margin-left: 30px;
    }
  }

  @media only screen and (max-width: 767px) {
    &__nav {
      width: 100%;
      flex-wrap: wrap;

      ul {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

        li {
          margin-bottom: 15px;
        }
      }
    }

    &__contacts {
      margin-left: 0;
    }

    &__line {
      flex-direction: column;
    }

    &__copy {
      margin-bottom: 15px;
    }

    &__author {
      margin-left: 0;
    }
  }
}

/* Inners */

.inner-page {
  background: #e8e8e8;
  padding: 25px 0 60px;

  @media only screen and (max-width: 767px) {
    padding: 20px 0;
  }
}

/* News page */

.news-page {
  &__title {
    margin-bottom: 50px;
  }

  .news__items {
    margin-bottom: 70px;
  }

  @media only screen and (max-width: 767px) {
    .news__items {
      margin-bottom: 30px;
    }
  }
}

/* Breadcrumbs */

.breadcrumbs {
  margin-bottom: 30px;

  li {
    display: inline;
    color: $blue;

    &:after {
      content: '>';
      display: inline-block;
      margin: 0 5px;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;

  a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $blue;
    font-weight: bold;
    font-size: 16px;

    &:hover {
      color: red;
    }

    &.disabled {
      color: #959595;
    }

    &.active {
      background: $blue;
      color: #ffffff;
    }
  }

  @media only screen and (max-width: 767px) {
    a {
      width: 30px;
      height: 30px;
    }
  }
}

/* Article */

.article {
  padding-bottom: 80px;

  &__title {
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
}

/* Content */

.content {
  max-width: 940px;
  margin: 0 auto;

  &__date {
    color: #898989;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    padding-top: 25px;
    margin-bottom: 40px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 80px;
      height: 1px;
      top: 0;
      background: #bababa;
    }
  }

  >img {
    margin-bottom: 30px;
  }

  >p {
    margin-bottom: 35px;
    line-height: 1.5;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px;
  }

  @media only screen and (max-width: 991px) {
    &__images {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }

  @media only screen and (max-width: 575px) {
    &__images {
      grid-template-columns: 1fr;
    }
  }
}

/* About page */

.about-page {
  .about {
    &__items {
      &:before {
        top: -100px;
        bottom: 0;
      }
    }

    &__inner>.about__text {
      min-height: 260px;
    }

    &__img {
      position: relative;
      z-index: 3;
      margin-top: 100px;
      margin-bottom: 45px;

      img {
        width: 100%;
      }
    }

    @media only screen and (max-width: 1300px) {
      &__img {
        margin-top: 200px;
      }
    }

    @media only screen and (max-width: 991px) {
      &__img {
        margin-top: 0;
      }

      &__inner>.about__text {
        min-height: 0;
      }
    }
  }
}

/* Resume */

.resume {
  background: url(../images/resume-bg.jpg) 50%/cover;
  padding: 40px 0;
  color: #ffffff;
  margin-bottom: 65px;

  &__text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    max-width: 670px;
  }

  &__link {
    background: #ffffff;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 30px;

    &__text {
      font-size: 18px;
    }
  }
}

/* Documents */

.documents {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 35px;
  }

  &__item {
    text-align: center;
    font-size: 18px;

    &:hover {
      .documents__name {
        color: red;
        text-decoration: underline;
      }

      .documents__img {

        &:before,
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__img {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 27px;

    img {
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 56px;
      height: 56px;
      background: url(../images/plus-icon.png) no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
  }

  &__name {
    color: $blue;
  }

  @media only screen and (max-width: 767px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    &__item {
      font-size: 14px;
    }

    &__img {
      margin-bottom: 15px;
    }
  }
}

/* Contacts */

.contacts-page {
  &__title {
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px;
    margin-bottom: 66px;
  }

  &__item {
    background: #ffffff;
    border: 1px solid $blue;
    padding: 40px 30px;
    color: $blue;
    font-size: 24px;
  }

  &__elem {
    display: flex;
    align-items: flex-start;
    margin: 5px 0;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      flex-shrink: 0;
      margin-right: 10px;
      width: 16px;
      transform: translateY(4px);
    }
  }

  &__label {
    margin-left: 26px;
  }

  &__map {
    height: 580px;
  }

  @media only screen and (max-width: 1300px) {
    &__item {
      font-size: 18px
    }
  }

  @media only screen and (max-width: 991px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__map {
      height: 400px;
    }
  }

  @media only screen and (max-width: 767px) {
    &__items {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
}

/* Projects */

.projects-page {
  &__title {
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-gap: 40px;
    margin-bottom: 45px;
  }

  &__item {
    background: #ffffff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;

    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }

      .projects-page__link {
        opacity: 1;
        visibility: visible;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $blue;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
  }

  &__img {
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    padding: 40px 55px;
  }

  &__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;

    &:hover {
      color: red;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  &__author {
    line-height: 1.7;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__link {
    font-weight: bold;
    color: red;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;

    &:hover {
      img {
        transform: translateX(3px);
      }
    }

    img {
      margin-left: 10px;
      transition: 300ms;
    }
  }

  @media only screen and (max-width: 767px) {
    &__img {
      display: none;
    }

    &__item {
      grid-template-columns: 1fr;
    }

    &__link {
      opacity: 1;
      visibility: visible;
    }

    &__content {
      padding: 20px;
    }

    &__name {
      font-size: 20px;
    }
  }
}

/* Services page */

.services-page {
  &__title {
    margin-bottom: 35px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 265px;
    grid-gap: 55px;
  }

  .content {
    max-width: 100%;
    margin-bottom: 50px;
  }

  &__links {
    a {
      margin-bottom: 25px;
      color: $blue;
      font-size: 18px;
      font-weight: bold;

      &:hover,
      &.active {
        color: #000000;

        img {
          filter: grayscale(1);
        }
      }

      img {
        margin-bottom: 15px;
        transition: 300ms;
      }

      span {
        display: block;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
  }

  @media only screen and (max-width: 991px) {
    &__links {
      display: none;
    }

    &__container {
      grid-template-columns: 1fr;
    }

    &__items {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 767px) {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}