button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Roboto', sans-serif;
  background-color: #f0f0f0; }

a {
  display: inline-block;
  font: 400 16px 'Roboto', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input.input-error {
  border-color: #a94442; }
  input.input-error::-webkit-input-placeholder {
    color: #a94442; }
  input.input-error::-ms-input-placeholder {
    color: #a94442; }
  input.input-error::placeholder {
    color: #a94442; }
  input.input-error::-ms-placeholder {
    color: #a94442; }

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px; }

.head {
  font: 700 28px/1 'DINPro';
  color: #006964;
  text-transform: uppercase; }

.title {
  font: 700 34px/1.29 'DINPro';
  color: #006964;
  text-transform: uppercase;
  margin-bottom: 41px; }

.text {
  width: 100%;
  max-width: 726px;
  line-height: 1.63;
  color: #292929;
  margin-top: 7px; }

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1336px) {
  .container {
    width: 970px; } }

@media (max-width: 991px) {
  .container {
    width: 750px; } }

@media (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important; }
  .head {
    font-size: 24px; }
  .title {
    font-size: 26px;
    margin-bottom: 24px; }
  .text {
    margin-top: 0;
    line-height: 1.4; } }

.mode {
  width: 30px;
  height: 13px;
  background: url(../images/eyeglasses.png) no-repeat left;
  cursor: pointer; }
  .mode:hover {
    background-position: right; }

.link {
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  font: 700 16px/48px 'DINPro';
  padding: 0 24px;
  letter-spacing: 0.6px;
  border: 1px solid #00a899;
  text-transform: uppercase;
  color: #fff;
  background-color: #00a899; }
  .link:hover {
    color: #00a899;
    background-color: transparent; }
  .link:focus {
    outline: none; }

.checkbox {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #8e8f8f; }
  .checkbox-text {
    font-size: 14px;
    color: #292929;
    margin-left: 12px; }
    .checkbox-text a {
      font-size: 14px;
      color: #00a899; }
      .checkbox-text a:hover {
        text-decoration: underline; }
  .checkbox-wrap {
    position: relative;
    cursor: pointer;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .checkbox input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .checkbox span:before {
      content: '';
      display: block;
      background-color: #8e8f8f;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }

.burger {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .burger a {
    width: 22px;
    cursor: pointer;
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }
    .burger a span {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        background-color: #fff;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }

.burger-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 991px) {
  .burger-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.bread {
  padding: 28px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .bread li {
    position: relative;
    font-size: 14px;
    color: #7c7c7c;
    margin: 0 62px 3px 0; }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li:after {
      content: '';
      display: block;
      width: 30px;
      height: 10px;
      background: url(../images/arrow-green.png) no-repeat 50%;
      position: absolute;
      top: 50%;
      right: -46px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -2px; }
    .bread li a {
      font-size: 14px;
      color: #7c7c7c; }
      .bread li a:hover {
        color: #00a899; }

.main-wrapper {
  position: relative; }

.main-container {
  max-width: 1420px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 18.4px 1.6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 18.4px 1.6px rgba(0, 0, 0, 0.04);
  background-color: #fff; }

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 80px; }

.main-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10; }

@media (max-width: 991px) {
  .main-body {
    padding-bottom: 58px; } }

@media (max-width: 767px) {
  .main-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 260px;
  margin-right: 60px; }

.sidebar-list {
  margin-bottom: 40px; }
  .sidebar-list li {
    margin-bottom: 17px; }
    .sidebar-list li a {
      padding: 8px 14px;
      font: 700 16px 'DINPro';
      letter-spacing: 1px;
      color: #006964;
      background-color: #f5f6f7;
      text-transform: uppercase; }
      .sidebar-list li a:hover {
        color: #a2a2a2; }

@media (max-width: 1336px) {
  .sidebar {
    margin-right: 24px; } }

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-bottom: 10px; }
  .sidebar-list li {
    text-align: center;
    margin-bottom: 12px; } }

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px; }
  .lang li {
    margin-right: 12px; }
    .lang li.active a {
      color: #fff; }
    .lang li:last-child {
      margin-right: 0; }
    .lang li a {
      font-size: 14px;
      font-weight: 700;
      color: #00c5b3;
      text-transform: uppercase; }
      .lang li a:hover {
        color: #fff; }

.slick-nav {
  overflow: hidden;
  position: relative;
  width: 240px;
  min-height: 16px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slick-arrow {
  width: 30px;
  height: 10px;
  border: none;
  cursor: pointer;
  text-indent: 9999px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  background: url(../images/prev.png) no-repeat left; }
  .slick-arrow:hover {
    background-position: right; }
  .slick-arrow:focus {
    outline: none; }

.slick-next {
  left: auto;
  right: 0;
  background-image: url(../images/next.png); }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .slick-dots li {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin: 0 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .slick-dots li button {
      border: none;
      padding: 0;
      text-indent: 9999px;
      width: 8px;
      height: 8px;
      background-color: #d1d1d1;
      border-radius: 50%;
      -webkit-transition: 300ms;
      transition: 300ms;
      cursor: pointer; }
      .slick-dots li button:focus {
        outline: none; }
    .slick-dots li.slick-active button {
      width: 100%;
      height: 100%;
      background-color: #00a899; }

.swiper-nav {
  width: 240px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.swiper-button-prev, .swiper-button-next {
  width: 30px;
  height: 10px;
  margin: 0;
  padding: 0;
  background: url(../images/prev.png) no-repeat left;
  position: static; }
  .swiper-button-prev:hover, .swiper-button-next:hover {
    background-position: right; }

.swiper-button-next {
  left: auto;
  right: 0;
  background-image: url(../images/next.png); }

.swiper-pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 9px;
    opacity: 1;
    cursor: pointer;
    background: transparent;
    -webkit-transition: 300ms;
    transition: 300ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .swiper-pagination-bullet:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #d1d1d1;
      border-radius: 50%;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
      width: 100%;
      height: 100%;
      background-color: #00a899; }

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 0; }
  .top-line-wrap {
    position: relative;
    background-color: #006964; }
  .top-line-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .top-links li {
    position: relative;
    margin-right: 24px; }
    .top-links li:after {
      content: '|';
      display: block;
      font-size: 14px;
      color: #fff;
      position: absolute;
      top: 50%;
      right: -13px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -1px; }
    .top-links li:last-child {
      margin-right: 0; }
      .top-links li:last-child:after {
        display: none; }
    .top-links li a {
      font-size: 14px;
      color: #00c5b3; }
      .top-links li a:hover {
        color: #fff; }

@media (max-width: 1336px) {
  .top-links li {
    margin-right: 15px; }
    .top-links li:after {
      right: -10px; }
    .top-links li a {
      font-size: 12px; } }

@media (max-width: 991px) {
  .top-line {
    padding: 12px 0; }
  .top-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 30;
    padding: 10px 0;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #006964;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .top-links.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0; }
    .top-links li {
      margin-right: 0;
      margin-bottom: 10px; }
      .top-links li:after {
        display: none; }
      .top-links li a {
        font-size: 14px;
        text-align: center; } }

.logo {
  -ms-flex-preferred-size: 240px;
  flex-basis: 240px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 8px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 0 25px; }
  .header-wrap {
    position: relative;
    z-index: 20;
    background-color: #006964; }
  .header-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 12px; }
  .header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 38px; }

.header-item {
  width: 120px; }
  .header-item:first-child {
    width: 308px;
    margin-right: 53px; }
  .header-item li a {
    font: 700 16px/1.5 'DINPro';
    letter-spacing: 0.3px;
    color: #fff;
    text-transform: uppercase; }
    .header-item li a:hover {
      color: #00a899; }

.header-info {
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  margin-left: 180px; }
  .header-info li {
    margin-bottom: 4px; }
    .header-info li:last-child {
      margin-bottom: 0; }
    .header-info li a {
      font-family: 'DINPro';
      font-size: 16px;
      color: #fff;
      text-decoration: underline; }
      .header-info li a:hover {
        text-decoration: none; }

@media (max-width: 1336px) {
  .header-items {
    margin-right: 10px; }
  .header-item:first-child {
    margin-right: 14px; }
  .header-item li a {
    font-size: 15px; }
  .header-body {
    margin-right: 0; }
  .header-info {
    margin-left: 20px; } }

@media (max-width: 991px) {
  .header {
    padding: 10px 0 20px; }
    .header-items {
      display: none; } }

@media (max-width: 575px) {
  .header-info {
    display: none; } }

.nav {
  width: 560px;
  padding-right: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative; }
  .nav-list {
    margin-bottom: 34px; }
    .nav-list:last-child {
      margin-bottom: 0; }
  .nav-link {
    position: relative;
    padding: 0;
    margin: 0;
    font: 700 24px/1.42 'DINPro';
    color: #00c5b3;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .nav-link:after {
      content: '';
      display: block;
      width: 30px;
      height: 10px;
      background: url(../images/arrow-wh.png) no-repeat 50%;
      position: absolute;
      top: 50%;
      right: -40px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .nav-link:hover {
      color: #fff; }
      .nav-link:hover:after {
        opacity: 1;
        visibility: visible; }
  .nav-container {
    width: 100%;
    max-width: 830px;
    margin: 0 auto; }

.nav-wrap {
  height: 100%;
  min-height: 100vh;
  background-color: #006964;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: 300ms;
  transition: 300ms; }
  .nav-wrap.active {
    opacity: 1;
    visibility: visible;
    z-index: 99; }
  .nav-wrap .container {
    padding: 121px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; }

.nav-sub {
  width: 260px;
  margin-top: 8px;
  position: absolute;
  top: 0;
  left: 100%; }
  .nav-sub li {
    margin-bottom: 27px; }
    .nav-sub li:last-child {
      margin-bottom: 0; }
    .nav-sub li a {
      position: relative;
      font-weight: 700;
      color: #fff;
      padding: 0 22px 0 0; }
      .nav-sub li a:before {
        content: '';
        display: block;
        width: 12px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 9px;
        left: 0;
        opacity: 0;
        -webkit-transition: 300ms;
        transition: 300ms; }
      .nav-sub li a:hover {
        padding: 0 0 0 22px;
        text-decoration: underline; }
        .nav-sub li a:hover:before {
          opacity: 1; }

@media (max-width: 991px) {
  .nav {
    width: 480px; }
    .nav-link {
      font-size: 21px; }
    .nav-wrap .container {
      padding: 80px 0; } }

@media (max-width: 767px) {
  .nav {
    width: 100%;
    padding: 40px 0; }
    .nav-sub {
      display: none;
      position: static; }
    .nav-list {
      text-align: center;
      margin-bottom: 26px; }
    .nav-link {
      font-size: 18px; }
      .nav-link:after {
        display: none; } }

.footer {
  padding: 77px 0 79px; }
  .footer-wrap {
    position: relative;
    z-index: 20;
    background-color: #006964; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-item {
    -ms-flex-preferred-size: 210px;
    flex-basis: 210px;
    margin-right: 50px; }
    .footer-item:last-child {
      margin-right: 0; }
    .footer-item li {
      margin-bottom: 27px; }
      .footer-item li.footer-title {
        font-size: 18px;
        font-weight: 700;
        color: #fff; }
      .footer-item li:last-child {
        margin-bottom: 0; }
      .footer-item li a {
        line-height: 1.63;
        color: #fff; }
        .footer-item li a:hover {
          text-decoration: underline; }

@media (max-width: 1336px) {
  .footer {
    padding: 50px 0; }
    .footer-item {
      margin-right: 10px; }
      .footer-item li {
        margin-bottom: 16px; }
        .footer-item li a {
          font-size: 14px; } }

@media (max-width: 991px) {
  .footer {
    padding-bottom: 22px; }
    .footer-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .footer-item {
      -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
      margin-right: 0;
      margin-bottom: 26px;
      padding-right: 16px; } }

@media (max-width: 767px) {
  .footer-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
    padding: 0 10px; } }

@media (max-width: 575px) {
  .footer {
    padding: 36px 0 10px; }
    .footer-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
      .footer-item li {
        margin-bottom: 12px; } }

.bottom {
  padding: 39px 0 32px;
  border-top: 1px solid #00a899;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .bottom-wrap {
    background-color: #006964; }
  .bottom-info {
    margin-right: 20px; }
    .bottom-info .logo {
      margin: 0 0 26px; }
    .bottom-info p {
      font-size: 14px;
      line-height: 1.71;
      color: #00c5b3;
      margin-bottom: 0; }
      .bottom-info p a {
        font-size: 14px;
        color: #00c5b3; }
        .bottom-info p a:hover {
          text-decoration: underline; }
  .bottom-item {
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .bottom-item .link {
      margin-bottom: 27px; }
      .bottom-item .link:hover {
        color: #fff;
        border: 1px solid #fff; }
  .bottom-link {
    font-size: 14px;
    color: #00c5b3;
    text-decoration: underline; }
    .bottom-link:hover {
      color: #00c5b3;
      text-decoration: none; }

@media (max-width: 767px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px 0; }
    .bottom-info {
      margin-right: 0;
      margin-bottom: 20px; }
    .bottom-item {
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
      .bottom-item .link {
        margin-bottom: 18px; } }

.showcase {
  padding: 103px 0 90px; }
  .showcase-content {
    max-width: 880px; }
    .showcase-content .link {
      line-height: 60px;
      padding: 0 36px; }
    .showcase-content h1 {
      font: 700 48px/1.33 'DINPro';
      color: #006964;
      margin-bottom: 31px; }
    .showcase-content p {
      font-size: 24px;
      line-height: 1.42;
      color: #292929;
      margin-bottom: 45px; }
  .showcase-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .showcase-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin: 10px 40px 0 0;
    background-repeat: no-repeat;
    background-position: left; }
    .showcase-img.showcase-img1 {
      background-image: url(../images/showcase-img1.png); }
    .showcase-img.showcase-img2 {
      background-image: url(../images/showcase-img2.png); }

.showcase-item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  min-height: 360px;
  padding: 68px 54px 20px 80px;
  border: 1px solid #d1d1d1;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .showcase-item:before {
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: 300ms;
    transition: 300ms; }
  .showcase-item:first-child {
    border-right: none; }
  .showcase-item:hover:before {
    opacity: 0; }
  .showcase-item:hover .link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .showcase-item:hover .showcase-img {
    background-position: right; }
  .showcase-item:hover .showcase-item__title {
    color: #fff; }
  .showcase-item:hover .showcase-item__text {
    display: none; }
  .showcase-item .link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: none;
    color: #fff;
    background-color: #00a899; }
  .showcase-item__title {
    font: 700 34px/1.41 'DINPro';
    color: #006964;
    margin-bottom: 28px;
    -webkit-transition: 300ms;
    transition: 300ms; }
  .showcase-item__text {
    font-size: 18px;
    line-height: 1.56;
    color: #292929;
    margin-bottom: 0; }

@media (max-width: 1500px) {
  .showcase-item {
    padding-right: 50px;
    padding-left: 50px; } }

@media (max-width: 1336px) {
  .showcase {
    padding: 60px 0; }
    .showcase-item {
      padding: 50px 20px 20px; }
      .showcase-item__title {
        font-size: 28px;
        line-height: 1.25;
        margin-bottom: 24px; }
      .showcase-item__text {
        font-size: 16px; } }

@media (max-width: 991px) {
  .showcase-img {
    margin: 6px 22px 0 0; }
  .showcase-content .link {
    line-height: 46px;
    padding: 0 26px; }
  .showcase-content h1 {
    font-size: 38px;
    line-height: 1.1;
    margin-bottom: 24px; }
  .showcase-content p {
    font-size: 21px;
    margin-bottom: 32px; } }

@media (max-width: 767px) {
  .showcase {
    padding: 40px 0; }
    .showcase-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .showcase-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
      .showcase-item:first-child {
        border-right: 1px solid #d1d1d1;
        border-bottom: none; }
    .showcase-content h1 {
      font-size: 32px; }
    .showcase-content p {
      font-size: 18px; } }

@media (max-width: 575px) {
  .showcase-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 20px; }
    .showcase-item__title {
      font-size: 24px;
      margin-bottom: 16px; }
  .showcase-img {
    margin: 0 0 20px; } }

.partners {
  padding: 88px 0 16px; }
  .partners .head {
    margin-bottom: 64px; }
  .partners-wrap {
    background-color: #f5f6f7; }
  .partners-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px; }
  .partners-item {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    margin: 0 0 60px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .partners-item:hover p {
      color: #006964; }
    .partners-item img {
      width: 60px;
      height: 60px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden; }
    .partners-item p {
      font-size: 16px;
      line-height: 1.63;
      color: #292929;
      margin: 4px 0 0; }

@media (max-width: 1336px) {
  .partners {
    padding-top: 70px; }
    .partners .head {
      margin-bottom: 50px; }
    .partners-items {
      margin-left: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .partners-item {
      margin: 0 10px 40px; } }

@media (max-width: 767px) {
  .partners {
    padding-top: 48px; }
    .partners .head {
      margin-bottom: 40px; }
    .partners-item {
      margin-bottom: 26px; } }

.guidebook {
  padding: 67px 0 32px; }
  .guidebook .head {
    width: 100%;
    max-width: 300px;
    margin-right: 100px;
    line-height: 1.5; }
  .guidebook .slick-nav {
    margin: 52px auto 30px; }
  .guidebook-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1; }
  .guidebook-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 51px; }
  .guidebook-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .guidebook-elems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .guidebook-elem {
    -ms-flex-preferred-size: 160px;
    flex-basis: 160px; }
    .guidebook-elem:first-child {
      margin-right: 20px; }
    .guidebook-elem .value {
      font-size: 24px;
      font-weight: 700;
      color: #292929;
      margin-bottom: 3px; }
    .guidebook-elem p {
      font-size: 14px;
      line-height: 1.75;
      color: #292929;
      margin-bottom: 0; }

.guidebook-item {
  position: relative;
  width: 420px;
  padding: 20px 20px 36px;
  border: 1px solid #d1d1d1;
  -webkit-transition: 300ms;
  transition: 300ms; }
  .guidebook-item:hover {
    border: 1px solid #00a899; }
  .guidebook-item-img {
    width: 100%;
    text-align: center;
    position: relative; }
  .guidebook-item-body {
    padding: 0 8px;
    margin-top: 31px; }
  .guidebook-item__title {
    font: 700 24px/1.17 'DINPro';
    color: #006964;
    margin-bottom: 31px; }
    .guidebook-item__title:hover {
      color: #00a899;
      text-decoration: underline; }

@media (max-width: 1336px) {
  .guidebook .head {
    margin-right: 14px; }
  .guidebook-items {
    width: 840px;
    margin: 0 auto; }
  .guidebook-item-body {
    padding: 0; } }

@media (max-width: 991px) {
  .guidebook {
    padding: 50px 0 20px; }
    .guidebook-items {
      width: 720px; }
    .guidebook-item {
      width: 360px; }
      .guidebook-item__title {
        font-size: 21px;
        margin-bottom: 22px; } }

@media (max-width: 767px) {
  .guidebook .head {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 12px; }
  .guidebook-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 38px; }
  .guidebook-items {
    width: 400px; }
  .guidebook-item {
    width: 100%; }
    .guidebook-item-body {
      margin-top: 24px; } }

@media (max-width: 470px) {
  .guidebook-items {
    width: 300px; }
  .guidebook-item {
    padding: 12px 12px 22px; }
    .guidebook-item__title {
      margin-bottom: 16px; }
  .guidebook-elems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .guidebook-elem {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .guidebook-elem:first-child {
      margin-right: 0;
      margin-bottom: 12px; }
    .guidebook-elem .value {
      font-size: 21px; }
    .guidebook-elem p {
      line-height: 1.4; } }

.support {
  padding: 80px 0; }
  .support .head {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 300px;
    margin-right: 97px;
    line-height: 1.5; }
  .support-wrap {
    background-color: #f5f6f7; }
  .support-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 52px; }
  .support-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .support-items {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .support-item {
    position: relative;
    width: 33.33%;
    min-height: 161px;
    padding: 30px 40px 40px 38px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .support-item:hover {
      border: 1px solid #00a899; }
      .support-item:hover .support-arrow {
        opacity: 1; }
      .support-item:hover .support-item__title {
        color: #00a899; }
    .support-item__title {
      font: 700 16px/1.75 'DINPro';
      color: #006964;
      text-transform: uppercase;
      -webkit-transition: 300ms;
      transition: 300ms; }
  .support-arrow {
    position: absolute;
    bottom: 23px;
    left: 38px;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms; }

.support-info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 300px;
  padding: 34px 40px;
  background-color: #006964; }
  .support-info .link {
    margin-top: 10px; }
    .support-info .link:hover {
      color: #fff;
      border: 1px solid #fff; }
  .support-info p {
    line-height: 1.65;
    color: #fff;
    margin-bottom: 11px; }
  .support-info__tel {
    font: 700 28px/1 'DINPro';
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #fff; }
    .support-info__tel:hover {
      color: #00a899; }

@media (max-width: 1336px) {
  .support-item {
    padding: 22px 20px 40px; }
    .support-item__title {
      line-height: 1.5; }
  .support-arrow {
    left: 20px; } }

@media (max-width: 991px) {
  .support {
    padding: 52px 0; }
    .support .head {
      margin-right: 14px; }
    .support-info {
      width: 280px;
      padding: 26px 20px; }
    .support-item {
      width: 50%;
      padding: 14px 12px 26px; }
    .support-arrow {
      bottom: 12px;
      left: 12px; } }

@media (max-width: 767px) {
  .support .head {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 14px; }
  .support-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 32px; }
  .support-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .support-items {
    margin-bottom: 20px; }
  .support-info {
    margin: 0 auto; } }

@media (max-width: 575px) {
  .support-item {
    width: 100%; } }

.event {
  padding: 80px 0 66px; }
  .event .slick-nav {
    margin-top: 56px; }
  .event-item {
    padding: 20px;
    border: 1px solid #d1d1d1;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
    .event-item .link {
      padding: 0 31px; }
    .event-item-img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 500px; }
    .event-item-body {
      margin-left: 38px;
      padding-top: 16px; }
    .event-item-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 5px; }
    .event-item__date {
      margin-right: 20px;
      margin-bottom: 10px;
      color: #0a0a0a; }
    .event-item__link {
      color: #00a899;
      margin-bottom: 10px; }
      .event-item__link:hover {
        color: #00a899;
        text-decoration: underline; }
    .event-item__title {
      font: 700 28px/1.4 'DINPro';
      color: #0a0a0a;
      margin-bottom: 21px; }
      .event-item__title:hover {
        color: #00a899; }
    .event-item__text {
      line-height: 1.65;
      margin-bottom: 28px; }

@media (max-width: 1336px) {
  .event-item-img {
    width: 470px; }
  .event-item-body {
    margin-left: 24px;
    padding-top: 12px; }
  .event-item__title {
    font-size: 22px;
    margin-bottom: 16px; }
  .event-item__text {
    margin-bottom: 16px; } }

@media (max-width: 991px) {
  .event-item-img {
    width: 360px; } }

@media (max-width: 767px) {
  .event {
    padding: 50px 0; }
    .event .slick-nav {
      margin-top: 34px; }
    .event-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .event-item-img {
        width: 100%;
        max-width: 360px; }
      .event-item-body {
        margin-left: 0;
        padding-top: 20px; }
      .event-item__title {
        margin-bottom: 10px; } }

.notices-items {
  padding-top: 5px; }

.notices-item {
  padding: 21px 28px 15px 27px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .notices-item:hover {
    border: 1px solid #00a899; }
  .notices-item__title {
    line-height: 1.65;
    color: #292929;
    margin-right: 28px; }
    .notices-item__title:hover {
      color: #00a899;
      text-decoration: underline; }
  .notices-item-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 160px; }
  .notices-item__date {
    color: #a2a2a2;
    margin-bottom: 10px; }
  .notices-item__rubric {
    color: #00a899; }
    .notices-item__rubric:hover {
      color: #00a899;
      text-decoration: underline; }

@media (max-width: 575px) {
  .notices-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .notices-item-info {
      width: 100%; }
    .notices-item__title {
      margin-bottom: 10px; } }

.news .pagination {
  max-width: 780px; }

.news-col {
  -ms-flex-preferred-size: 48.5%;
  flex-basis: 48.5%; }
  .news-col:first-child {
    -ms-flex-preferred-size: 51.5%;
    flex-basis: 51.5%;
    margin-right: 59px; }

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 42px; }
  .news-header .head {
    margin-bottom: 10px;
    margin-right: 20px; }

.news-link {
  font: 700 14px 'DINPro';
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  color: #00a899;
  text-transform: uppercase; }
  .news-link:hover {
    color: #00a899; }
    .news-link:hover span {
      text-decoration: none; }
  .news-link span {
    text-decoration: underline;
    margin-right: 16px; }

.news-items {
  max-width: 780px;
  margin-bottom: 69px; }

.news-item {
  border-bottom: 1px solid #bababa;
  padding: 40px 0; }
  .news-item:first-child {
    padding-top: 0; }
  .news-item:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  .news-item.news-basis .news-item__title {
    margin-bottom: 26px; }
  .news-item:hover .news-item__text {
    color: #00a899; }
  .news-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2px; }
  .news-item-img {
    margin-bottom: 26px; }
  .news-item__date {
    margin: 0 30px 4px 0;
    color: #a2a2a2; }
  .news-item__rubric {
    margin-bottom: 4px;
    color: #00a899; }
  .news-item__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #0a0a0a;
    margin-bottom: 6px; }
    .news-item__title:hover {
      color: #00a899;
      text-decoration: underline; }
  .news-item__text {
    line-height: 1.65;
    color: #292929;
    -webkit-transition: 300ms;
    transition: 300ms; }

.news-el {
  margin-bottom: 27px; }
  .news-el:last-child {
    margin-bottom: 0; }
  .news-el.el-basis .news-el__title {
    font-size: 24px;
    line-height: 1.35; }
  .news-el__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    color: #0a0a0a;
    margin-bottom: 14px; }
    .news-el__title:hover {
      color: #00a899;
      text-decoration: underline; }
  .news-el-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .news-el__date {
    color: #a2a2a2;
    margin-right: 26px;
    margin-bottom: 6px; }
  .news-el__rubric {
    color: #00a899;
    margin-bottom: 6px; }
    .news-el__rubric:hover {
      color: #00a899;
      text-decoration: underline; }

.news-still .item {
  margin-bottom: 40px; }

.news-still h2 {
  color: #006964;
  font: 700 18px 'DINPro';
  margin-bottom: 30px;
  text-transform: uppercase; }

.news-still a {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: #0a0a0a;
  margin-bottom: 13px; }
  .news-still a:hover {
    color: #00a899;
    text-decoration: underline; }

.news-still span {
  color: #a2a2a2; }

@media (max-width: 1336px) {
  .news-col:first-child {
    margin-right: 20px; } }

@media (max-width: 991px) {
  .news-col:first-child {
    margin-right: 0;
    margin-bottom: 40px; }
  .news-header {
    margin-bottom: 16px; }
  .news-items {
    margin-bottom: 44px; }
  .news-item {
    padding: 26px 0; }
    .news-item.news-basis .news-item__title {
      margin-bottom: 16px; }
    .news-item-img {
      margin-bottom: 18px; }
    .news-item__title {
      font-size: 21px;
      line-height: 1.25; }
    .news-item__text {
      line-height: 1.5; } }

@media (max-width: 767px) {
  .news-still .item {
    margin-bottom: 20px; }
  .news-still h2 {
    margin-bottom: 18px; } }

@media (max-width: 575px) {
  .news-el.el-basis .news-el__title {
    font-size: 21px; }
  .news-el__title {
    font-size: 16px; } }

.main-news {
  padding: 73px 0 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-news-wrap {
    background-color: #f5f6f7; }

@media (max-width: 991px) {
  .main-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 58px 0; } }

@media (max-width: 767px) {
  .main-news {
    padding: 48px 0; } }

.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pagination li {
    margin: 0 2px; }
    .pagination li.prev a,
    .pagination li.next a {
      width: 30px;
      height: 10px;
      background: url(../images/prev.png) no-repeat left;
      -webkit-transition: none;
      transition: none; }
      .pagination li.prev a:hover,
      .pagination li.next a:hover {
        background-color: inherit;
        background-position: right; }
    .pagination li.prev {
      margin: 0 20px 0 0; }
    .pagination li.next {
      margin: 0 0 0 20px; }
      .pagination li.next a {
        background-image: url(../images/next.png); }
    .pagination li.active a {
      color: #fff;
      background-color: #006964; }
    .pagination li a {
      width: 40px;
      height: 40px;
      font: 700 16px/1 'DINPro';
      color: #006964;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .pagination li a:hover {
        color: #fff;
        background-color: #006964; }

@media (max-width: 575px) {
  .pagination li.prev {
    margin-right: 4px; }
  .pagination li.next {
    margin-left: 4px; }
  .pagination li a {
    width: 25px;
    height: 25px;
    font-size: 15px; } }

.article {
  max-width: 780px;
  margin-bottom: 13px; }
  .article-back {
    font: 700 14px 'DINPro';
    letter-spacing: 0.8px;
    color: #00a899;
    text-transform: uppercase;
    margin-bottom: 163px; }
    .article-back:hover {
      color: #00a899; }
      .article-back:hover img {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px); }
    .article-back img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 30px;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .article-back span {
      margin-left: 16px;
      text-decoration: underline; }
  .article-content {
    padding-bottom: 22px;
    margin-bottom: 38px;
    border-bottom: 1px solid #bababa; }
    .article-content h2 {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.29;
      color: #0a0a0a;
      margin-bottom: 24px; }
    .article-content h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.42;
      margin-bottom: 9px;
      padding-top: 5px; }
    .article-content p {
      font-size: 16px;
      line-height: 1.65;
      color: #292929;
      margin-bottom: 22px; }
      .article-content p b {
        font-size: 18px;
        line-height: 1.56; }
    .article-content img {
      margin-bottom: 26px; }
  .article-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 6px; }
    .article-item:last-child {
      margin-bottom: 0; }
    .article-item li {
      font-size: 14px;
      color: #959595;
      margin: 0 3px 3px 0; }
      .article-item li a {
        font-size: 14px;
        color: #00a899;
        text-decoration: underline; }
        .article-item li a:hover {
          text-decoration: none; }

@media (max-width: 991px) {
  .article-back {
    margin-bottom: 60px; }
  .article-content h2 {
    font-size: 24px;
    margin-bottom: 16px; }
  .article-content p b {
    font-size: 16px; } }

@media (max-width: 767px) {
  .article-back {
    margin-bottom: 32px; }
  .article-content {
    padding-bottom: 10px;
    margin-bottom: 28px; } }

.catalog {
  padding-bottom: 70px; }
  .catalog .title {
    margin-bottom: 23px; }
  .catalog-items {
    margin-bottom: 60px; }

.catalog-search {
  background-color: #f5f6f7;
  padding: 30px 60px;
  margin-bottom: 42px; }

.catalog-item {
  border: 1px solid #b4b2b7;
  padding: 26px 29px 13px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .catalog-item:last-child {
    margin-bottom: 0; }
  .catalog-item table {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 310px;
    margin-top: -3px; }
    .catalog-item table tbody td {
      width: 148px;
      font-size: 16px;
      line-height: 1.63;
      color: #292929;
      vertical-align: top;
      padding-bottom: 25px; }
      .catalog-item table tbody td:first-child {
        width: 162px;
        font-weight: 700;
        padding-right: 10px; }
  .catalog-item-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .catalog-item__number {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 120px;
    font-weight: 700;
    color: #292929;
    margin-right: 10px; }
  .catalog-item-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 62px; }
    .catalog-item-content a {
      font-size: 16px;
      font-weight: 700;
      color: #292929;
      text-transform: uppercase;
      margin-bottom: 30px; }
      .catalog-item-content a:hover {
        color: #00a899; }
    .catalog-item-content p {
      font-size: 14px;
      line-height: 1.75;
      margin-bottom: 14px;
      color: #292929; }

@media (max-width: 1336px) {
  .catalog-item {
    padding: 24px 16px 12px; }
    .catalog-item-content {
      margin-right: 24px; }
      .catalog-item-content a {
        margin-bottom: 18px; }
  .catalog-search {
    padding: 24px 18px; } }

@media (max-width: 991px) {
  .catalog {
    padding-bottom: 50px; }
    .catalog-items {
      margin-bottom: 38px; }
    .catalog-search {
      margin-bottom: 32px; }
  .catalog-item table tbody td {
    padding-bottom: 15px;
    line-height: 1.5; }
  .catalog-item-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .catalog-item__number {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px; }
  .catalog-item-content p {
    line-height: 1.5; } }

@media (max-width: 767px) {
  .catalog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .catalog-item table {
      width: 100%; }
      .catalog-item table tbody td {
        padding-bottom: 10px; }
    .catalog-item-content {
      margin-right: 0; }
      .catalog-item-content p {
        margin-bottom: 0; }
    .catalog-item-body {
      margin-bottom: 16px; } }

@media (max-width: 575px) {
  .catalog-item table tbody td {
    font-size: 15px; }
  .catalog-search {
    padding: 14px; } }

.search {
  padding: 30px 60px 55px;
  background-color: #f5f6f7; }
  .search-wrap {
    padding-bottom: 80px; }
    .search-wrap .title {
      margin-bottom: 24px; }
  .search-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 21px; }
    .search-links .link {
      font-size: 14px;
      padding: 0 34px; }
    .search-links button {
      margin-left: 61px; }
  .search-link {
    font-size: 14px;
    color: #00a899;
    text-decoration: underline; }
    .search-link:hover {
      color: #00a899;
      text-decoration: none; }
  .search-title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 260px;
    margin-right: 60px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    color: #292929;
    padding-top: 9px; }
  .search-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }
  .search-number input {
    width: 448px;
    height: 40px;
    border: 1px solid #b4b2b7;
    padding: 0 10px;
    font: 400 14px/1.2 'Roboto';
    color: #000; }
  .search-selects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .search-select {
    width: 250px;
    margin-right: 20px; }
    .search-select:last-child {
      margin-right: 0; }
    .search-select.select-class {
      width: 530px; }
  .search-dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .search-items {
    margin: 31px 0 44px; }

.search-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .search-type-item {
    width: 33.33%;
    padding-right: 10px;
    margin: 15px 0; }
    .search-type-item .checkbox-wrap {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }

.search-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 31px; }
  .search-date:last-child {
    margin-right: 0; }
  .search-date span {
    margin-right: 14px; }
  .search-date input {
    width: 180px;
    height: 40px;
    border: 1px solid #b4b2b7;
    padding: 0 10px;
    font: 400 14px/1.2 'Roboto';
    color: #000; }

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 31px; }
  .search-item.type .search-title {
    padding-top: 14px; }
  .search-item.subject-area .search-select {
    width: 100%;
    padding-right: 20px; }

.search-advanced {
  position: relative;
  margin-bottom: 19px; }
  .search-advanced input {
    width: 100%;
    height: 60px;
    border: 1px solid #b4b2b7;
    background-color: #fff;
    padding: 7px 50px 0 18px;
    font: 400 16px 'Roboto';
    color: #000; }
    .search-advanced input::-webkit-input-placeholder {
      color: #292929; }
    .search-advanced input::-ms-input-placeholder {
      color: #292929; }
    .search-advanced input::placeholder {
      color: #292929; }
    .search-advanced input::-moz-placeholder {
      color: #292929; }
  .search-advanced button {
    width: 24px;
    height: 25px;
    background: url(../images/search.png) no-repeat 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .search-advanced button:focus {
      outline: none; }

.search-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px; }

@media (max-width: 1336px) {
  .search {
    padding: 30px; }
    .search-title {
      margin-right: 26px; }
    .search-number input {
      width: 100%; }
    .search-selects {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .search-select {
      width: 100%;
      margin-bottom: 10px; }
      .search-select:last-child {
        margin-bottom: 0; }
      .search-select.select-class {
        width: 100%; }
    .search-links {
      margin-right: 0; }
    .search-items {
      margin-bottom: 30px; }
    .search-item.subject-area .search-select {
      padding-right: 0; } }

@media (max-width: 991px) {
  .search-wrap {
    padding-bottom: 50px; }
  .search-title {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
    padding: 0 !important; }
  .search-links button {
    margin-left: 30px; }
  .search-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 575px) {
  .search {
    padding: 20px; }
    .search-type-item {
      width: 100%;
      margin: 10px 0;
      padding-right: 0; }
    .search-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .search-links .link {
        padding: 0 22px;
        line-height: 44px; }
      .search-links button {
        margin-left: 0;
        margin-top: 10px; }
    .search-dates {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .search-date {
      margin-right: 0;
      margin-bottom: 10px; }
      .search-date span {
        width: 30px; }
    .search-item {
      margin-bottom: 22px; }
  .search-footer {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .search-footer .checkbox-wrap {
      margin-bottom: 8px; } }

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 23px;
  padding-right: 18px; }
  .sort-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sort-by li {
      margin-right: 20px;
      color: #292929; }
      .sort-by li.sort-updates a {
        font-weight: 700; }
      .sort-by li a {
        color: #292929; }
        .sort-by li a:hover {
          color: #00a899; }
  .sort-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sort-show h2 {
      font-size: 16px;
      font-weight: 400;
      margin: 0 6px 0 0;
      color: #292929; }
    .sort-show select {
      border: none;
      cursor: pointer;
      padding-right: 20px;
      font: 700 16px 'Roboto';
      color: #292929;
      -webkit-appearance: none;
      background: url("../images/arrow-down.png") no-repeat 92% 50%;
      line-height: 1;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none !important; }
      .sort-show select::-ms-expand {
        display: none; }

@media (max-width: 991px) {
  .sort {
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sort-by {
      margin-bottom: 10px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media (max-width: 767px) {
  .sort-by {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .sort-by li {
      margin-bottom: 6px; } }

@media (max-width: 575px) {
  .sort-by {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sort-by li {
      margin-right: 0; }
  .sort-show {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.invest-items {
  margin-bottom: 60px; }

.invest-item {
  border: 1px solid #b4b2b7;
  margin-bottom: 30px;
  padding: 30px 60px 23px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .invest-item:last-child {
    margin-bottom: 0; }
  .invest-item-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 280px;
    margin-right: 20px; }
  .invest-item-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2px; }
  .invest-item-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 60px; }
  .invest-item-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .invest-item-address img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 10px;
      margin-right: 10px; }
  .invest-item-list {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 180px; }
    .invest-item-list li {
      margin-bottom: 23px; }
      .invest-item-list li:last-child {
        margin-bottom: 0; }
      .invest-item-list li a {
        font-size: 14px;
        line-height: 1.75;
        color: #00a899; }
        .invest-item-list li a:hover {
          text-decoration: underline; }
  .invest-item__date {
    font-size: 14px;
    color: #292929;
    margin-bottom: 30px; }
  .invest-item__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.42;
    color: #292929;
    margin-bottom: 28px; }
    .invest-item__title:hover {
      color: #00a899; }

@media (max-width: 1336px) {
  .invest-item {
    padding-right: 20px; }
    .invest-item-content {
      margin-right: 20px; }
    .invest-item__date {
      margin-bottom: 16px; }
    .invest-item__title {
      font-size: 21px;
      margin-bottom: 20px; }
    .invest-item-list li {
      margin-bottom: 12px; } }

@media (max-width: 991px) {
  .invest-items {
    margin-bottom: 36px; }
  .invest-item {
    padding: 20px 10px; }
    .invest-item-img {
      width: 250px;
      margin-right: 10px; }
    .invest-item-content {
      margin-right: 10px; }
    .invest-item__title {
      font-size: 18px;
      margin-bottom: 10px; }
    .invest-item__date {
      margin-bottom: 10px; }
    .invest-item-list li {
      margin-bottom: 8px; } }

@media (max-width: 767px) {
  .invest-item {
    max-width: 460px;
    margin: 0 auto 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .invest-item-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .invest-item-content {
      margin-right: 0;
      margin-bottom: 12px; }
    .invest-item-img {
      width: 280px;
      margin: 0 auto 20px; }
    .invest-item-list {
      width: 100%; }
      .invest-item-list li {
        margin-bottom: 4px; } }

.parties {
  overflow: hidden; }
  .parties-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 40px -59px; }
  .parties-item {
    width: 600px;
    border: 1px solid #b4b2b7;
    padding: 18px 18px 28px;
    margin: 0 0 40px 59px; }
    .parties-item-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .parties-item-img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 200px;
      height: 161px;
      background-color: #f5f6f7;
      margin-right: 31px;
      padding: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .parties-item-address {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      color: #292929;
      line-height: 1.65; }
      .parties-item-address img {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 10px;
        margin: 4px 10px 0 0; }
    .parties-item-content {
      margin-top: -5px; }
    .parties-item__company {
      font-weight: 700;
      color: #00a899;
      margin-bottom: 22px; }
    .parties-item__title {
      font-size: 24px;
      font-weight: 700;
      color: #292929;
      margin-bottom: 14px; }
      .parties-item__title:hover {
        color: #00a899; }
    .parties-item__info {
      color: #292929;
      margin-bottom: 30px; }

@media (max-width: 1336px) {
  .parties-items {
    margin-left: -20px; }
  .parties-item {
    width: 475px;
    padding: 16px;
    margin: 0 0 20px 20px; }
    .parties-item-img {
      margin-right: 16px; }
    .parties-item__title {
      font-size: 21px;
      margin-bottom: 10px; }
    .parties-item__info {
      margin-bottom: 20px; }
    .parties-item-address {
      line-height: 1.4; } }

@media (max-width: 991px) {
  .parties-items {
    margin: 0 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .parties-item {
    width: 100%;
    max-width: 500px;
    margin: 0 0 20px; }
    .parties-item-content {
      margin-top: 0; } }

@media (max-width: 575px) {
  .parties-item {
    padding-bottom: 20px; }
    .parties-item-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .parties-item-img {
      margin: 0 auto 16px; }
    .parties-item__company {
      margin-bottom: 16px; } }

.docs {
  padding-bottom: 70px; }
  .docs .title {
    margin-bottom: 43px; }
  .docs-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 20px -60px; }
  .docs-item {
    width: 380px;
    border: 1px solid #b4b2b7;
    margin: 0 0 50px 60px;
    padding: 25px 30px 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .docs-item .link {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      font-size: 14px;
      background-color: #fff;
      color: #00a899;
      border: 1px solid #00a899; }
      .docs-item .link:hover {
        background-color: #00a899;
        color: #fff; }
    .docs-item-body {
      -webkit-box-flex: 10;
      -ms-flex-positive: 10;
      flex-grow: 10; }
    .docs-item-btn {
      text-align: center; }
    .docs-item__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.42;
      color: #292929;
      margin-bottom: 25px; }
      .docs-item__title:hover {
        color: #00a899; }
    .docs-item-list {
      margin-bottom: 37px; }
      .docs-item-list li {
        margin-bottom: 26px; }
        .docs-item-list li a {
          line-height: 1.63;
          color: #292929; }
          .docs-item-list li a:hover {
            color: #00a899; }

@media (max-width: 1336px) {
  .docs-items {
    margin-left: -20px; }
  .docs-item {
    width: 310px;
    margin: 0 0 20px 20px;
    padding: 21px 14px 28px; }
    .docs-item__title {
      font-size: 21px; }
    .docs-item-list {
      margin-bottom: 24px; }
      .docs-item-list li {
        margin-bottom: 16px; } }

@media (max-width: 991px) {
  .docs {
    padding-bottom: 50px; }
    .docs .title {
      margin-bottom: 34px; }
    .docs-items {
      margin-left: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .docs-item {
      margin: 0 10px 20px; } }

@media (max-width: 575px) {
  .docs-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .docs-item {
    width: 100%;
    margin: 0 0 20px; } }

.error {
  max-width: 942px;
  margin: 0 auto;
  padding: 104px 0 113px; }
  .error-number {
    font: 700 144px/1 'DINPro';
    color: #006964;
    margin-bottom: 10px; }
  .error-descr {
    font-size: 24px;
    font-weight: 700;
    color: #292929;
    margin-bottom: 25px; }
  .error-text {
    margin-bottom: 7px; }
  .error-link {
    color: #00a899; }
    .error-link:hover {
      color: #00a899; }
      .error-link:hover span {
        text-decoration: none; }
    .error-link span {
      text-decoration: underline;
      margin-right: 16px; }

.select2 .select2-selection {
  background: #fff;
  border: 1px solid #b4b2b7;
  height: 40px;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 32px 0 20px; }
  .select2 .select2-selection .select2-selection__rendered {
    font: 400 14px/1.2 'Roboto';
    color: #292929;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px 0 0; }
  .select2 .select2-selection .select2-selection__arrow {
    height: 100%;
    margin-right: 10px;
    background: url(../images/select-arrow.png) no-repeat 50%; }
    .select2 .select2-selection .select2-selection__arrow b {
      display: none; }

.select2.select2-container--open .select2-selection__arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.select2-search--dropdown {
  display: none; }

.select2-dropdown {
  border-color: #c7d7df; }
  .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background: #00a899; }

.card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.card-object-wrap {
  padding: 19px 0 40px; }

.card-object__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.31;
  color: #292929;
  margin-bottom: 41px; }

.card-object-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .card-object-content h2 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 120px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-right: 20px;
    color: #292929; }
  .card-object-content p {
    font-size: 14px;
    line-height: 1.71;
    color: #292929; }

.card-object-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b4b2b7;
  padding-bottom: 23px;
  margin-bottom: 37px; }
  .card-object-table table tbody td {
    color: #292929;
    padding-bottom: 25px;
    line-height: 1.65; }
    .card-object-table table tbody td:first-child {
      font-weight: 700; }

.card-object-docs {
  margin-right: 50px; }
  .card-object-docs tbody td {
    width: 240px;
    padding-right: 10px; }

.card-object-data {
  margin-right: 36px; }
  .card-object-data tbody td {
    width: 120px;
    padding-right: 10px; }
    .card-object-data tbody td:first-child {
      width: 70px; }

.card-object-info tbody td {
  width: 220px;
  padding-right: 10px; }
  .card-object-info tbody td:first-child {
    width: 160px; }

.card-tabs {
  padding: 50px 0 70px; }
  .card-tabs-wrap {
    background-color: #f5f6f7; }
  .card-tabs-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .card-tabs-nav li {
      position: relative;
      z-index: 5;
      padding: 10px 22px;
      background-color: #00a899;
      border-top: 1px solid #00a899;
      border-right: 1px solid #00a899;
      border-left: 1px solid #00a899;
      font: 700 16px 'DINPro';
      letter-spacing: 1px;
      color: #fff;
      margin-right: 7px;
      margin-bottom: -1px;
      -webkit-transition: 300ms;
      transition: 300ms;
      cursor: pointer;
      text-transform: uppercase; }
      .card-tabs-nav li:hover, .card-tabs-nav li.active {
        color: #000;
        background-color: #fff;
        border-top: 1px solid #b4b2b7;
        border-right: 1px solid #b4b2b7;
        border-left: 1px solid #b4b2b7; }
      .card-tabs-nav li:last-child {
        margin-right: 0; }
  .card-tabs-item {
    display: none;
    background-color: #fff;
    border: 1px solid #b4b2b7;
    padding: 33px 40px 35px 29px; }
    .card-tabs-item p {
      font-size: 14px;
      line-height: 1.71;
      color: #292929;
      margin-bottom: 28px; }
      .card-tabs-item p:last-child {
        margin-bottom: 0; }
    .card-tabs-item.active {
      display: block; }

.card-project table tbody td {
  vertical-align: top;
  line-height: 1.65;
  color: #292929;
  padding-bottom: 25px;
  padding-right: 10px; }
  .card-project table tbody td:first-child {
    font-weight: 700; }

.card-project-info td:first-child {
  width: 240px; }

.card-project-info td:last-child {
  padding-right: 80px; }

.card-project-data td:first-child {
  width: 320px; }

.card-project-wrap {
  padding: 20px 0 46px; }

.card-project__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.31;
  color: #292929;
  margin-bottom: 40px; }

.card-project__link {
  color: #00a899;
  text-decoration: underline; }
  .card-project__link:hover {
    color: #00a899;
    text-decoration: none; }

.card-project__mail, .card-project__tel {
  color: #292929; }
  .card-project__mail:hover, .card-project__tel:hover {
    color: #00a899; }

.card-project-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 11px;
  margin-bottom: 37px;
  border-bottom: 1px solid #b4b2b7; }

.card-project-item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  .card-project-item:first-child {
    margin-right: 20px; }

.card-subject {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 20px; }
  .card-subject__title {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;
    color: #292929; }
  .card-subject-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .card-subject-list li {
      position: relative;
      margin-right: 10px; }
      .card-subject-list li:after {
        content: '|';
        display: block;
        color: #898989;
        line-height: 1;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        right: -7px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      .card-subject-list li:last-child {
        margin-right: 0; }
        .card-subject-list li:last-child:after {
          display: none; }
      .card-subject-list li a {
        font-size: 14px;
        line-height: 1.71;
        color: #00a899; }
        .card-subject-list li a:hover {
          color: #00a899;
          text-decoration: underline; }

.card-industry {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  .card-industry__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    color: #292929; }
  .card-industry p {
    font-size: 14px;
    line-height: 1.71;
    color: #292929;
    padding-right: 60px;
    margin-bottom: 3px; }

.card-parties .title {
  margin-bottom: 27px; }

.card-parties table td {
  line-height: 1.65;
  color: #292929;
  vertical-align: top;
  padding-bottom: 25px; }
  .card-parties table td:first-child {
    width: 320px;
    padding-right: 10px;
    font-weight: 700; }
  .card-parties table td a {
    color: #292929; }
    .card-parties table td a:hover {
      color: #00a899; }

.card-parties-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 14px;
  margin-bottom: 44px;
  border-bottom: 1px solid #b4b2b7; }

.card-parties-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 280px;
  height: 240px;
  background-color: #f5f6f7;
  margin-right: 38px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.card-technology .head {
  margin-bottom: 30px; }

.card-technology .catalog-items {
  margin-bottom: 46px; }

.card-projects {
  padding-bottom: 70px; }
  .card-projects .head {
    margin-bottom: 27px; }
  .card-projects .invest-items {
    margin-bottom: 0; }

@media (max-width: 1336px) {
  .card-object-docs {
    margin-right: 10px; }
    .card-object-docs tbody td {
      width: 200px; }
  .card-object-data {
    margin-right: 20px; }
  .card-project-info td:last-child {
    padding-right: 0; }
  .card-industry p {
    padding-right: 0; } }

@media (max-width: 991px) {
  .card-object-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .card-object-table table tbody td {
      padding-bottom: 12px; }
  .card-object-docs tbody td, .card-object-info tbody td, .card-object-data tbody td {
    width: auto; }
    .card-object-docs tbody td:first-child, .card-object-info tbody td:first-child, .card-object-data tbody td:first-child {
      width: 300px; }
  .card-object-docs {
    margin-right: 0; }
  .card-object-data {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-right: 0; }
  .card-tabs-nav li {
    padding: 10px;
    letter-spacing: 0; }
  .card-project table tbody td {
    padding-bottom: 12px; }
  .card-project-wrap {
    padding: 8px 0 36px; }
  .card-project-info td, .card-project-data td {
    width: auto; }
    .card-project-info td:first-child, .card-project-data td:first-child {
      width: 300px; }
  .card-project__title {
    font-size: 26px;
    margin-bottom: 32px; }
  .card-project-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px; }
  .card-parties table td {
    padding-bottom: 14px; }
  .card-parties-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .card-parties-img {
    margin-right: 0;
    margin-bottom: 26px; }
  .card-projects {
    padding-bottom: 50px; } }

@media (max-width: 767px) {
  .card-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .card-subject {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
  .card-industry {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .card-object-wrap {
    padding: 10px 0 20px; }
  .card-object__title {
    font-size: 28px; }
  .card-tabs {
    padding: 40px 0 48px; }
    .card-tabs-nav {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .card-tabs-nav li {
        width: 50%;
        margin-right: 0; }
    .card-tabs-item {
      padding: 20px 18px 24px; }
  .card-parties table td:first-child {
    width: 280px; } }

@media (max-width: 575px) {
  .card-object__title {
    font-size: 25px;
    margin-bottom: 20px; }
  .card-object-table {
    margin-bottom: 28px; }
    .card-object-table table tbody td {
      width: 100% !important;
      display: block;
      line-height: 1.4;
      padding-bottom: 8px; }
  .card-object-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .card-tabs-nav li {
    width: 100%; }
  .card-project table tbody td {
    display: block;
    line-height: 1.4;
    padding-bottom: 8px; }
  .card-project-wrap {
    padding-bottom: 28px; }
  .card-project-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .card-project-item:first-child {
      margin-right: 0; }
  .card-project-info td:first-child, .card-project-data td:first-child {
    width: 100%; }
  .card-parties table td {
    display: block;
    padding-bottom: 8px;
    line-height: 1.5; }
    .card-parties table td:first-child {
      width: 100%; } }

.checkin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px; }
  .checkin-wrap .title {
    margin-bottom: 23px; }
  .checkin-form {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    background-color: #f5f6f7;
    padding: 20px 60px 40px; }
  .checkin-item {
    display: none; }
    .checkin-item.active {
      display: block; }
    .checkin-item__title {
      font-size: 24px;
      font-weight: 700;
      color: #006964;
      margin-bottom: 24px; }
  .checkin-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0 0 20px; }
    .checkin-footer .checkbox-wrap {
      margin-right: 20px; }

.checkin-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 41px; }
  .checkin-nav li {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    font-size: 14px;
    font-weight: 700;
    color: #7c7c7c;
    padding-top: 15px;
    margin-left: 30px;
    border-top: 4px solid #00a899;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer; }
    .checkin-nav li:first-child {
      margin-left: 0; }
    .checkin-nav li:hover, .checkin-nav li.active {
      color: #292929;
      border-top: 4px solid #292929; }

.checkin-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .checkin-input__title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 230px;
    padding: 16px 10px 0 0; }
  .checkin-input-item {
    width: 100%; }
  .checkin-input input {
    width: 100%;
    height: 50px;
    border: 1px solid #b4b2b7;
    padding: 0 29px;
    font: 400 16px 'Roboto'; }
    .checkin-input input::-webkit-input-placeholder {
      color: #292929; }
    .checkin-input input::-ms-input-placeholder {
      color: #292929; }
    .checkin-input input::placeholder {
      color: #292929; }
    .checkin-input input::-moz-placeholder {
      color: #292929; }

.checkin-pc {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 380px;
  margin-left: 100px;
  padding: 35px 50px 23px 38px;
  border: 1px solid #00a899; }
  .checkin-pc h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.42;
    color: #383838;
    margin-bottom: 23px; }
  .checkin-pc h3 {
    font-size: 18px;
    font-weight: 700;
    color: #383838;
    margin-bottom: 14px; }
  .checkin-pc p {
    font-size: 14px;
    line-height: 1.75;
    color: #383838;
    margin-bottom: 23px; }

@media (max-width: 1336px) {
  .checkin-pc {
    width: 300px;
    margin-left: 20px;
    padding: 20px 16px 16px; }
    .checkin-pc h2 {
      line-height: 1.2; }
  .checkin-form {
    padding-right: 36px;
    padding-left: 36px; }
  .checkin-footer {
    padding-left: 0; } }

@media (max-width: 991px) {
  .checkin {
    padding-bottom: 50px; }
    .checkin-nav li {
      margin-left: 14px; }
    .checkin-form {
      padding: 20px; }
    .checkin-pc {
      width: 280px; }
      .checkin-pc h2 {
        font-size: 21px;
        margin-bottom: 16px; }
      .checkin-pc h3 {
        font-size: 16px;
        margin-bottom: 8px; }
      .checkin-pc p {
        line-height: 1.5;
        margin-bottom: 16px; }
    .checkin-input__title {
      width: 176px; }
    .checkin-input input {
      padding: 0 12px;
      font-size: 15px; } }

@media (max-width: 767px) {
  .checkin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .checkin-pc {
      width: 100%;
      margin-left: 0;
      margin-top: 20px; } }

@media (max-width: 575px) {
  .checkin-nav {
    margin-bottom: 30px; }
  .checkin-item__title {
    font-size: 21px;
    margin-bottom: 18px; }
  .checkin-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .checkin-input__title {
      width: 100%;
      padding: 0;
      margin-bottom: 10px; }
  .checkin-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0; }
    .checkin-footer .checkbox-wrap {
      margin-right: 0;
      margin-bottom: 16px; } }
