.news-card {
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  color: #000000;
  transition: border-color 300ms, box-shadow 300ms;

  &:hover {
    border-color: #dd3333;
    box-shadow: 0 0 1px 1px #dd3333;
    color: #000000;

    .news-card__name {
      color: #dd3333;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    background-color: #d1d1d1;
  }
  &__content {
    padding: 28px 30px 48px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }
  &__divider {
    margin: -3px 10px 0;
    width: 1px;
    height: 14px;
    background-color: #898989;
  }
  &__category {
    color: #dd3333;
    text-decoration: underline;
  }
  &__name {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.42;
    transition: color 300ms;
  }
  @media screen and (max-width: 767px) {
    &__content {
      padding: 28px 20px 40px;
    }
    &__info {
      margin-bottom: 30px;
    }
    &__name {
      font-size: 22px;
    }
  }
}