.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  transition: box-shadow 300ms, background-color 300ms;
  
  &:hover {
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
    background-color: #dd3333;

    .product-card__name,
    .product-card__price {
      color: #ffffff;
    }
    .product-card__bottom {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
    .product-card__link {
      background-color: #000000;
      color: #ffffff;
    }
  }
  &__img {
    flex-shrink: 0;
    height: 220px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 27px 30px 30px;
  }
  &__name {
    display: block;
    margin-bottom: 21px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    transition: color 300ms;
  }
  &__price {
    color: #dd3333;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    transition: color 300ms;
  }
  &__value {
    font-size: 24px;
  }
  &__bottom {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: block;
    padding-bottom: 35px;
    background-color: #dd3333;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
  }
  @media screen and (max-width: 767px) {
    &__bottom {
      display: none;
    }
  }
}