$red: #ed344e;
$dark: #151515;
$yellow: #ffcd47;
$blue: #edf2f6;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 14px 'Proxima Nova', sans-serif;
  color: #000;
  position: relative;
  min-height: 100vh;
}

a {
  font: 400 14px 'Proxima Nova', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.caption {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  padding-left: 50px;
  color: $red;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    width: 40px;
    height: 2px;
    background: $red;
  }
  &_white {
    color: #fff;
    &:before {
      background: #fff;
    }
  }
}

.head {
  font-size: 42px;
  font-weight: bold;
  color: $dark;
  line-height: 1.1;
}

.link {
  border: 2px solid $red;
  border-radius: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: $red;
  padding: 14px 40px 14px 25px;
  position: relative;
  &:hover {
    background: $red;
    color: #fff;
  }
  &:before {
    content: "\f054";
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 16px;
    right: 18px;
  }
  &_white {
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: $red;
    }
  }
}

.blue-wrap {
  background: $blue;
}

.radio {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  position: relative;
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span {
      background: $red;
      border: 1px solid #959595;
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #959595;
    transition: 300ms;
  }
}


/* Header */

.header {
  &-main {
    float: left;
  }
  &-sidebar {
    float: right;
    text-align: center;
  }
  &-right {
    float: right;
    position: relative;
  }
}

.header2 {
  .callback-rf {
    margin-right: 40px;
  }
  .logo {
    margin-right: 118px;
  }
}

.cabinet {
  margin-top: 15px;
  color: #000;
  &:hover {
    .cabinet-sub {
      opacity: 1;
      visibility: visible;
      margin-top: 15px;
      z-index: 5;
    }
  }
  &__link {
    display: inline-block;
    background: $blue;
    padding: 10px 50px 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    color: #000;
    &:hover {
      background: #dce1e5;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 5.5px 0 5.5px;
      border-color: #ed344e transparent transparent transparent;
      position: absolute;
      right: 25px;
      top: 15px;
    }
  }
  &-sub {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 30px;
    background: #fcecef;
    padding: 10px 15px 0;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
    z-index: -1;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 15px;
      top: -15px;
      position: absolute;
      left: 0;
    }
    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background: #fcecef;
      transform: rotate(45deg);
      position: absolute;
      right: 23px;
      top: -6px;
    }
    a {
      color: #000;
      margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-goods {
  position: absolute;
  top: 67px;
  right: 0;
  width: 400px;
  text-align: right;
  &-item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 12px 0 0 20px;
    position: relative;
    color: #000;
    &:hover {
      color: $red;
    }
    &:first-child {
      margin-right: 17px;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__num {
    display: inline-block;
    vertical-align: middle;
    font-size: 34px;
    line-height: 1;
    margin-right: 3px;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
  }
}

.logo {
  float: left;
  padding: 15px 0;
  margin-right: 145px;
  a {
    display: inline-block;
    vertical-align: top;
  }
}

.slogan {
  display: inline-block;
  vertical-align: top;
  margin: 30px 0 0 30px;
  width: 160px;
  text-align: center;
  color: #252525;
  &__head {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__text {
    line-height: 1.3;
  }
}

.nav {
  margin: 22px 0 25px;
  font-size: 0;
  &__list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 10px;
      background: #000;
      position: absolute;
      right: -13px;
      top: 4px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:hover .nav__sub {
      opacity: 1;
      visibility: visible;
      margin-top: 15px;
      z-index: 10;
    }
  }
  &__link {
    font-size: 14px;
    color: #000;
    &:hover {
      color: $red;
    }
  }
  &__sub {
    position: absolute;
    top: 100%;
    width: 150px;
    margin-top: 30px;
    background: #fcecef;
    padding: 10px 15px 0;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
    z-index: -1;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 15px;
      top: -15px;
      position: absolute;
      left: 0;
    }
    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background: #fcecef;
      transform: rotate(45deg);
      position: absolute;
      left: 18px;
      top: -6px;
    }
    a {
      color: #000;
      margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.burger-wrap {
  display: none;
}

.callback {
  display: inline-block;
  vertical-align: top;
  &-rf {
    display: inline-block;
    vertical-align: top;
    margin-right: 120px;
    &__label {
      display: block;
      margin-bottom: 5px;
      line-height: 17px;
    }
    &__tel {
      font-size: 24px;
      font-weight: bold;
      color: #000;
    }
  }
  &__click {
    margin-bottom: 5px;
  }
  &__tel {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: none;
    &.active {
      display: block;
    }
  }
  &__main {
    margin-right: 30px;
    position: relative;
    color: #000;
    &:hover {
      color: $red;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #ed344e transparent transparent transparent;
      position: absolute;
      right: -20px;
      top: 5px;
    }
  }
  &__select {
    color: #858585;
    border-bottom: 1px solid #e4e4e4;
    transition: 300ms;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

.register {
  background: rgba(241, 93, 113, .8);
  margin: 13px 0 35px;
  padding: 11px 28px;
  border-radius: 50px;
  transition: 300ms;
  &:hover {
    background: rgba(241, 93, 113, 1);
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
    &:first-child {
      margin-right: 25px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 10px;
        top: 4px;
        right: -14px;
        position: absolute;
        background: #fff;
      }
    }
  }
}

.social {
  font-size: 0;
  a {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    opacity: .7;
    transition: 300ms;
    margin: 0 7px;
    &:hover {
      opacity: 1;
    }
  }
}


/* Showcase */

.showcase {
  font-size: 0;
  &-item {
    width: 25%;
    height: 580px;
    background-size: cover;
    background-position: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, .6);
    border-left: 1px solid rgba(255, 255, 255, .6);
    &:hover {
      .showcase-item__hover {
        opacity: .8;
      }
      .showcase-item__link {
        bottom: 88px;
        opacity: 1;
      }
    }
    &__img {
      margin: 145px 0 30px;
      display: inline-block;
      position: relative;
      z-index: 5;
      img {
        height: 119px;
      }
    }
    &__text {
      font-size: 38px;
      font-weight: bold;
      color: #fff;
      line-height: 1.2;
      position: relative;
      z-index: 5;
      display: block;
    }
    &__link {
      position: absolute;
      bottom: 60px;
      width: 100%;
      text-align: center;
      z-index: 5;
      opacity: 0;
      transition: 300ms;
    }
    &__hover {
      background-color: $red;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: 300ms;
    }
  }
}


/* Links */

.links {
  font-size: 0;
  &-wrap {
    background: #edf2f6;
  }
  svg {
    height: 60px;
    width: auto;
    text-align: right;
    .st0 {
      transition: 300ms;
      fill: #000!important;
    }
    .st1 {
      fill: #CC3F50;
      transition: 300ms;
    }
  }
  &-item-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 15px 0;
    transition: 300ms;
    &:last-child {
      .links-item {
        border: none!important;
      }
    }
    &:hover {
      margin-top: -20px;
      padding-bottom: 35px;
      background: #f36f0d;
      .links-item__text {
        color: #fff;
      }
      .st0,
      .st1 {
        fill: #fff!important;
      }
      .links-item__link {
        opacity: 1;
      }
      .links-item {
        border-right: 1px solid transparent;
      }
    }
    &_pink {
      &:hover {
        background: #ed344e;
      }
    }
  }
  &-item {
    font-size: 14px;
    padding: 15px 0;
    transition: 300ms;
    position: relative;
    border-right: 1px solid #bbcedd;
    &__icon {
      width: 123px;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
    &__text {
      display: inline-block;
      vertical-align: middle;
      color: $dark;
      font-size: 24px;
      font-weight: bold;
      max-width: 44%;
      transition: 300ms;
    }
    &__link {
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      border-bottom: 1px solid #f69b6b;
      position: absolute;
      opacity: 0;
      bottom: -15px;
      left: 147px;
      &:before {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 4px;
        right: -15px;
        transition: 300ms;
      }
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}


/* Main carousel */

.main-carousel {
  padding: 50px 0;
  position: relative;
  &-item {
    font-size: 0;
  }
  &-content {
    font-size: 14px;
    width: 42%;
    padding-right: 78px;
    display: inline-block;
    vertical-align: top;
  }
  &__img {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 58%;
  }
  &__caption {
    margin-bottom: 45px;
  }
  &__head {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.4;
    color: $dark;
    margin-bottom: 30px;
  }
  .slick-dots {
    position: absolute;
    top: 53px;
    left: 300px;
    width: 150px;
    text-align: right;
    button {
      display: none;
    }
    li {
      width: 14px;
      height: 14px;
      background-color: #dce8f1;
      border-radius: 50%;
      margin-left: 15px;
      transition: 300ms;
      cursor: pointer;
      display: inline-block;
      &:hover,
      &.slick-active {
        background: $red;
      }
    }
  }
}


/* Main-cat */

.main-cat {
  padding: 35px 0 20px;
  &-wrap {
    background: #fcecef;
  }
  &__head {
    margin: 25px 0 18px;
    font-size: 42px;
    font-weight: bold;
  }
  &-counries {
    font-size: 0;
    margin-bottom: 35px;
  }
  &-country {
    display: inline-block;
    font-size: 16px;
    width: 16.6%;
    vertical-align: top;
    img {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
    }
    p {
      display: inline-block;
      vertical-align: top;
      max-width: 70%;
    }
  }
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;
    height: 300px;
    background-size: cover;
    background-position: 50%;
    position: relative;
    span {
      padding: 25px 0 0 30px;
      font-size: 34px;
      font-weight: bold;
      color: $dark;
      display: inline-block;
      transition: 300ms;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:hover span {
      color: $red;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  &-price {
    background: url(../images/flow.jpg) center no-repeat;
    background-size: cover;
    padding: 38px 35px 0 35px;
    color: #fff;
    font-size: 14px;
    height: 100%;
    img {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 13px;
    }
    &__size {
      display: inline-block;
      vertical-align: bottom;
    }
    p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.3;
      margin: 30px 0 15px;
    }
    &__link {
      background-color: #acae17;
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      padding: 15px 35px;
      border-radius: 50px;
      &:hover {
        background: #979916;
      }
    }
  }
}


/* Deliver */

.deliver {
  padding: 50px 0;
  font-size: 0;
  &-content {
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 42%;
    padding-right: 30px;
  }
  &__img {
    width: 58%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }
  ul {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  li {
    padding-left: 55px;
    position: relative;
    font-size: 20px;
    color: $dark;
    margin-bottom: 25px;
    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background: $red;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
  &__link {
    margin-left: 55px;
  }
}


/* Company */

.company {
  padding: 45px 0 65px;
  position: relative;
  z-index: 5;
  &-wrap {
    background-image: linear-gradient(-52deg, #f4858e 0%, #ed344e 100%);
    overflow: hidden;
  }
  &__map {
    position: absolute;
    right: -100px;
    top: 180px;
    width: 1060px;
  }
  &__caption {
    display: inline-block;
    vertical-align: top;
    margin-right: 245px;
  }
  &-advan {
    display: inline-block;
    vertical-align: top;
    max-width: 760px;
    &-item {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 15px;
      &:first-child {
        margin-right: 100px;
      }
    }
    &__num {
      color: $yellow;
      font-size: 62px;
      font-weight: 800;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      line-height: 1;
    }
    &__text {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.7;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__head {
    font-size: 42px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 50px;
  }
  &-content {
    max-width: 310px;
    color: #fff;
    p {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 1.2;
    }
    a {
      margin-top: 15px;
    }
  }
}


/* Press */

.press {
  padding: 35px 0 15px;
  &-wrap {
    background: #edf2f6;
  }
  &__caption {
    margin-bottom: 30px;
    span {
      font-size: 16px;
      color: #000;
      display: inline-block;
      margin: 0 3px;
    }
    a {
      color: #000;
      font-size: 16px;
      font-weight: bold;
      text-transform: none;
      border-bottom: 1px solid #afb2b5;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-items {
    font-size: 0;
  }
  &-item {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    height: 520px;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #fff;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &_form {
      background: url(../images/press.jpg) no-repeat center;
      background-size: cover;
      border: 8px solid #f36f0d;
      padding: 30px;
    }
    &__img {
      position: relative;
      img {
        vertical-align: bottom;
      }
      &:hover .press-item__hover {
        opacity: 1;
      }
    }
    &__hover {
      background: rgba(59, 25, 28, 0.8);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 300ms;
      opacity: 0;
    }
    &-content {
      padding: 20px;
      color: $dark;
    }
    &__head {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 25px;
      color: $dark;
      font-weight: bold;
      &:hover {
        color: $red;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 1.3;
      p {
        font-size: 16px;
        line-height: 1.3;
      }
    }
    &__tag {
      position: absolute;
      left: 20px;
      bottom: 20px;
      color: #6d6e71;
      background: $yellow;
      padding: 7px 11px;
      font-weight: bold;
      &:hover {
        color: $red;
      }
    }
    &__time {
      position: absolute;
      right: 20px;
      bottom: 26px;
      color: #6d6e71;
      font-weight: bold;
    }
  }
  &-form {
    &__head {
      color: #fff;
      font-size: 24px;
      line-height: 1.3;
      margin: 20px 0 30px;
    }
    span {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      display: block;
    }
    input {
      width: 100%;
      height: 50px;
      background-color: #fff;
      border: 1px solid #464646;
      font: 400 18px 'Proxima Nova';
      color: $dark;
      padding: 0 15px;
      margin: 17px 0 20px;
      &::-webkit-input-placeholder {
        color: $dark;
      }
      &:-moz-placeholder {
        color: $dark;
      }
      &::-moz-placeholder {
        color: $dark;
      }
      &:-ms-input-placeholder {
        color: $dark;
      }
    }
    button {
      background-color: #ed344e;
      text-transform: uppercase;
      font: 700 14px/45px 'Proxima Nova';
      color: #fff;
      padding: 0 22px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      transition: 300ms;
      margin-bottom: 37px;
      &:hover {
        background: #d63249;
      }
    }
    &__polite {
      color: #fff;
      border-bottom: 1px solid #c3c46e;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}


/* Footer */

.footer {
  padding: 33px 0;
  &-wrap {
    background: #3b191c;
    overflow: hidden;
  }
  &-logo {
    float: left;
    text-align: center;
    margin-right: 140px;
    img {
      margin-bottom: 10px;
    }
  }
  &-slogan {
    color: #fff;
    &__head {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      line-height: 1.3;
    }
    &__text {
      width: 160px;
      color: #fff;
      line-height: 1.5;
    }
  }
  &-nav {
    float: left;
    margin-right: 104px;
    ul {
      display: inline-block;
      vertical-align: top;
      &:first-child {
        margin-right: 90px;
      }
    }
    a {
      font-size: 16px;
      margin-bottom: 13px;
      color: #fff;
      &:hover {
        color: $yellow;
      }
    }
    li {
      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
    }
  }
  &-callback {
    float: left;
    color: #fff;
    &__main {
      position: relative;
      font-size: 16px;
      line-height: 1.4;
      display: inline-block;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        color: $yellow;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: #ffcd47 transparent transparent transparent;
        position: absolute;
        right: -19px;
        top: 7px;
      }
    }
    &-item {
      display: none;
      &.active {
        display: block;
      }
    }
    &__tel {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 5px;
    }
    &__address {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 7px;
    }
    &__link {
      margin-bottom: 17px;
      color: $yellow;
      border-bottom: 1px solid #855d2c;
      font-size: 16px;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-social {
    a {
      display: inline-block;
      margin-right: 14px;
      opacity: .7;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &-links {
    float: right;
    width: 196px;
    &-item {
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(../images/footer-pdf.png) no-repeat center;
        width: 20px;
        height: 28px;
        position: absolute;
        top: -3px;
        left: -38px;
      }
      margin-bottom: 33px;
      a {
        font-size: 16px;
        color: $yellow;
        border-bottom: 1px solid #855d2c;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
      span {
        display: block;
        color: #fff;
        font-weight: bold;
        font-style: italic;
        margin-top: 7px;
      }
    }
  }
}

.omg {
  margin-top: 15px;
  position: relative;
  p {
    width: 140px;
    display: inline-block;
    color: #fff;
    line-height: 1.2;
    a {
      border-bottom: 1px solid transparent;
      color: $yellow;
      &:hover {
        border-bottom: 1px solid #855d2c;
      }
    }
  }
  &:before {
    content: '';
    display: block;
    background: url(../images/dragon.png) no-repeat 50%;
    width: 85px;
    height: 101px;
    position: absolute;
    left: -88px;
    top: -5px;
  }
}

.footer-stick {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


/* Bottom */

.bottom {
  padding: 17px 0;
  text-align: center;
  color: #683d41;
  &-wrap {
    background: #1f0709;
  }
}


/* Modals */

.city {
  background: #fff;
  padding: 25px 80px;
  position: relative;
  display: none;
  &__close {
    width: 70px;
    height: 70px;
    background: url(../images/close.png);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: .8;
    transition: 300ms;
    &:hover {
      opacity: 1;
    }
  }
  &__head {
    font-size: 24px;
    font-weight: bold;
    color: #ed344e;
    margin-bottom: 30px;
  }
  ul {
    width: 230px;
    display: inline-block;
    vertical-align: top;
  }
  li {
    margin-bottom: 18px;
    font-size: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      border-bottom: 1px solid #bebebe;
      display: inline-block;
      color: #121212;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.fancybox-overlay {
  background: rgba(59, 25, 28, .8);
}

.fancybox-opened .fancybox-skin {
  background: none!important;
  box-shadow: none;
  border-radius: 0;
}

.modal {
  width: 424px;
  display: none;
  &-tabs {
    font-size: 0;
  }
  &__tab {
    padding: 17px 25px;
    background: $red;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    &.active {
      background: $blue;
      color: $red;
    }
  }
  &-content {
    padding: 30px 45px;
    background: $blue;
  }
  &__input {
    margin-bottom: 20px;
    input {
      border: 1px solid #e1e1e1;
      height: 50px;
      width: 100%;
      background: #fff;
      padding: 0 17px;
      font: 400 16px 'Proxima Nova';
      color: #000;
      &::-webkit-input-placeholder {
        color: #000;
      }
      &:-moz-placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
  &-radio-wrap {
    margin-bottom: 20px;
    padding-left: 12px;
    p {
      color: #000;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 15px;
      font-size: 16px;
    }
    label {
      margin-right: 50px;
      font-size: 16px;
      cursor: pointer;
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__radio {
    margin-right: 13px;
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
      &:checked + span {
        background: $red;
        border: 1px solid $red;
      }
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #e3e4e4;
      transition: 300ms;
    }
  }
  &__button {
    margin-top: 8px;
    text-align: center;
    button {
      font: 700 14px 'Proxima Nova';
      text-transform: uppercase;
      color: #fff;
      background: $red;
      transition: 300ms;
      cursor: pointer;
      border: none;
      padding: 20px 30px;
      border-radius: 50px;
      &:hover {
        background: #ce3046;
      }
    }
  }
  &__forgot {
    color: $red;
    margin-top: 30px;
    margin-left: 17px;
    font-size: 16px;
    border-bottom: 1px solid #eabac2;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

.error {
  border: 1px solid $red!important;
  color: $red!important;
  &::-webkit-input-placeholder {
    color: $red!important;
  }
  &:-moz-placeholder {
    color: $red!important;
  }
  &::-moz-placeholder {
    color: $red!important;
  }
  &:-ms-input-placeholder {
    color: $red!important;
  }
}

.fancybox-close {
  width: 26px;
  height: 26px;
  background: url(../images/modal-close.png);
  right: 13px;
  top: 13px;
}


/* Bread */

.bread {
  padding-top: 18px;
  li {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    &:after {
      content: '>';
      display: inline-block;
      margin: 0 8px;
      font-size: 14px;
    }
    &:last-child:after {
      display: none;
    }
  }
  a {
    color: #000;
    border-bottom: 1px solid #c5c9cc;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}


/* Press page */

.press-page {
  padding-bottom: 45px;
  &-sort {
    padding: 30px 0 30px 120px;
    li {
      display: inline-block;
      a {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        line-height: 1;
        border-bottom: 1px solid #c5c9cc;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
      &.active a {
        color: $red;
        border-bottom: 1px solid transparent;
      }
      &:after {
        content: '/';
        display: inline-block;
        font-size: 24px;
        margin: 0 8px;
        color: #000;
        font-weight: bold;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}

.pagination {
  text-align: center;
  li {
    display: inline-block;
    margin-right: 3px;
    a {
      font-size: 16px;
      color: #000;
      border-bottom: 1px solid #c5c9cc;
      font-weight: bold;
      line-height: 1;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    &:first-child,
    &:last-child,
    &.active {
      a {
        border-bottom: 1px solid transparent;
      }
    }
    &.active {
      a {
        color: $red;
      }
    }
    &:after {
      content: '/';
      display: inline-block;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      margin-left: 5px;
    }
    &:last-child:after,
    &:first-child:after,
    &:nth-last-child(2):after {
      display: none;
    }
  }
}


/* Press inner */

.content {
  float: left;
  padding-right: 60px;
  width: 71%;
  h2 {
    padding-left: 115px;
    font-size: 42px;
    font-weight: bold;
    color: #0e0d0d;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  >img {
    margin-bottom: 25px;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
    color: $dark;
    margin-bottom: 25px;
    padding-left: 115px;
  }
}

.press-inner {
  padding: 30px 0 40px;
  &-header {
    padding-left: 115px;
    margin-bottom: 15px;
  }
  &__tag {
    display: inline-block;
    vertical-align: middle;
    background: $yellow;
    color: #6d6e71;
    font-weight: bold;
    padding: 7px 17px;
    margin-right: 35px;
    &:hover {
      color: $red;
    }
  }
  &__time {
    color: #6d6e71;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }
  &-gallery {
    margin-bottom: 15px;
    font-size: 0;
    a {
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      width: 32%;
      margin-right: 2%;
      margin-bottom: 2%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  &__back {
    margin-left: 115px;
    color: #000;
    border-bottom: 1px solid #c5c9cc;
    line-height: 1;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

.sidebar {
  margin-top: 90px;
  width: 29%;
  float: right;
}

.banner {
  margin-top: 110px;
}

.another {
  border-top: 1px solid #e1e1e1;
  padding-bottom: 20px;
  &__caption {
    margin: 35px 0;
  }
}


/* Subscribe */

.subscribe {
  padding: 48px 0 35px;
  text-align: center;
  &-wrap {
    background: #acae17;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      line-height: 1.4;
      max-width: 544px;
    }
  }
  form {
    margin-left: 45px;
    display: inline-block;
    vertical-align: middle;
    input {
      display: inline-block;
      vertical-align: middle;
      width: 340px;
      height: 50px;
      background-color: #fff;
      border: 1px solid #464646;
      color: $dark;
      font: 400 18px 'Proxima Nova';
      padding: 0 17px;
      margin-right: 38px;
      &::-webkit-input-placeholder {
        color: $dark;
      }
      &:-moz-placeholder {
        color: $dark;
      }
      &::-moz-placeholder {
        color: $dark;
      }
      &:-ms-input-placeholder {
        color: $dark;
      }
    }
    button {
      font: 700 14px 'Proxima Nova';
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      background: #e7344e;
      padding: 18px 36px;
      border-radius: 50px;
      cursor: pointer;
      border: none;
      transition: 300ms;
      &:hover {
        background: #d23149;
      }
    }
  }
}


/* Contacts */

.contacts {
  padding: 30px 0;
  &__head {
    padding-left: 115px;
    color: $red;
    font-weight: bold;
    font-size: 42px;
  }
  &-header {
    font-size: 0;
    background: #fff;
    padding: 15px 0;
    margin: 25px 0;
  }
  &-item {
    font-size: 14px;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0 20px 33px;
    border-right: 1px solid #bbcedd;
    &:last-child {
      border-right: 0;
      padding-left: 0;
      text-align: center;
    }
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
    }
    &-content {
      display: inline-block;
      vertical-align: middle;
    }
    &__head {
      color: #151515;
      font-weight: bold;
      display: block;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 6px;
    }
    &__text {
      font-size: 16px;
      font-weight: bold;
      color: #151515;
    }
    &__link {
      font-size: 16px;
      color: #ed344e;
      border-bottom: 1px solid #f8c3c8;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    &__question {
      background: $red;
      border-radius: 50px;
      padding: 15px 22px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      &:hover {
        background: #d73048;
      }
    }
  }
  &__head_sub {
    font-size: 24px;
    color: $dark;
    margin-bottom: 25px;
    line-height: 1.2;
    padding-left: 115px;
  }
  > p {
    padding-left: 115px;
    font-size: 16px;
    color: $dark;
    margin-bottom: 25px;
    line-height: 1.3;
  }
}

.map {
  margin-bottom: 48px;
  height: 460px;
  iframe {
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.branches {
  border-top: 1px solid #e1e1e1;
  font-size: 0;
  &__main {
    color: $red;
    padding: 33px 0 33px 115px;
    font-size: 42px;
    font-weight: bold;
  }
  &-item {
    font-size: 14px;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #fff;
    padding: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &__head {
    font-size: 28px;
    color: $dark;
    font-weight: bold;
    margin-bottom: 28px;
  }
  img {
    height: 36px;
    margin-bottom: 15px;
  }
  &__text {
    font-weight: bold;
    color: $dark;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    line-height: 1;
  }
  &__link {
    font-size: 16px;
    color: $red;
    line-height: 1;
    border-bottom: 1px solid #f8c3c8;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  &-el {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
}

.subscribe_red {
  background: #e7344e;
  form {
    button {
      background: $yellow;
      color: #e7344e;
      font-weight: bold;
      &:hover {
        background: #eec046;
      }
    }
  }
}


/* Promo */

.promo {
  &-wrap {
    height: 520px;
    background: url(../images/promo.jpg) no-repeat center;
    background-size: cover;
    .bread {
      li {
        color: #fff;
      }
      a {
        color: #fff;
        border-bottom: 1px solid #ba9ba0;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  &__head {
    font-size: 68px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3;
    margin-top: 200px;
  }
}


/* Promo content */

.promo-content {
  float: left;
  width: 75%;
  padding-right: 40px;
  padding-top: 45px;
  color: $dark;
  h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

.promo-sidebar {
  float: right;
  width: 25%;
  background: #acae17;
  padding: 40px 45px;
  li {
    margin-bottom: 35px;
    padding-left: 20px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 9px;
      transition: 300ms;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      &:before {
        background: #000;
      }
      a {
        border-bottom: 1px solid transparent;
        color: #000;
      }
    }
  }
  a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #cecf8d;
  }
}


/* Promo advan */

.promo-advan {
  font-size: 0;
  padding: 100px 0 48px;
  .st0 {
    transition: 300ms;
    fill: #000!important;
  }
  .st1 {
    fill: #CC3F50;
    transition: 300ms;
  }
  &-item {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    border: 5px solid #d2e1ed;
    padding: 0 25px 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    height: 100px;
    width: 155px;
    display: block;
    margin: -55px auto 40px;
    text-align: center;
    svg {
      max-height: 100%;
      max-width: 100%;
      background: #fff;
    }
  }
  &__head {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__text {
    line-height: 1.3;
  }
}


/* Partner */

.partner {
  padding: 50px 0;
  &-wrap {
    background: #ffcd47;
  }
  &__head {
    margin: 35px 0 15px;
  }
  &__text {
    max-width: 750px;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 25px;
  }
  &-items {
    font-size: 0;
  }
  &-item {
    width: 32%;
    margin-right: 2%;
    font-size: 16px;
    background: #fff;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
    min-height: 280px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &__num {
      font-size: 42px;
      font-weight: bold;
      color: $red;
      display: inline-block;
      vertical-align: top;
      padding: 12px 20px 0 12px;
      position: relative;
      z-index: 5;
      &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 50px 0 0;
        border-color: #ffcd47 transparent transparent transparent;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }
    &__head {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.1;
      max-width: 60%;
      display: inline-block;
      vertical-align: top;
    }
    &__text {
      margin: 30px 0;
      font-size: 16px;
      line-height: 1.3;
    }
    &__link {
      position: absolute;
      bottom: 25px;
      left: 25px;
    }
  }
}


/* Services */

.services {
  &__caption {
    margin: 40px 0 30px;
  }
  &__head {
    max-width: 610px;
    margin-bottom: 30px;
  }
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 70px 40px 0;
    font-size: 14px;
    &__icon {
      width: 90px;
      height: 90px;
      margin-bottom: 20px;
      svg {
        max-width: 100%;
        max-height: 100%;
        .st0 {
          transition: 300ms;
          fill: #000!important;
        }
        .st1 {
          fill: #CC3F50;
          transition: 300ms;
        }
      }
    }
    &__head {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &__text {
      line-height: 1.4;
    }
  }
}


/* Feedbacks */

.feedbacks {
  padding: 45px 0 50px;
  &-wrap {
    background: #fcecef;
  }
  &-carousel {
    position: relative;
    padding: 0 115px;
  }
  &__caption {
    margin-bottom: 35px;
  }
  .slick-arrow {
    position: absolute;
    left: 28px;
    top: 50%;
    margin-top: -25px;
    width: 51px;
    height: 50px;
    background: url(../images/feedback-arrows.png) no-repeat left center;
    cursor: pointer;
    border: none;
    opacity: .8;
    transition: 300ms;
    z-index: 50;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next {
    left: auto;
    right: 28px;
    background-position: right;
  }
  &-item {
    font-size: 0;
  }
  &__img {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  &-content {
    font-size: 14px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding: 20px 15px 0 85px;
    &__head {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;
      position: relative;
      margin-bottom: 35px;
      &:before {
        content: '';
        background: url(../images/quotes.png) no-repeat;
        width: 63px;
        height: 47px;
        display: block;
        position: absolute;
        top: 0;
        left: -85px;
      }
    }
    &__text {
      line-height: 1.4;
      margin-bottom: 30px;
    }
    &__name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    &__author {
      font-size: 16px;
    }
  }
}

.company_promo {
  .company__caption {
    margin-bottom: 80px;
  }
  .company-content p {
    margin-bottom: 45px;
  }
  .company__map {
    top: 24px;
    width: 1035px;
  }
}


/* Answers */

.answers {
  padding: 48px 0 34px;
  &-wrap {
    background: #edf2f6;
  }
  &-items {
    &-wrap {
      font-size: 0;
    }
    margin: 30px 0;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
  }
  &-item {
    margin: 0 23px;
    padding: 20px;
    border-bottom: 1px solid #9cb9d1;
    position: relative;
    &:first-child {
      border-top: 1px solid #9cb9d1;
    }
    &:hover {
      background: #fff;
      .answers-item__icon {
        border: 2px solid $red;
        &:after {
          color: $red;
        }
      }
    }
    &__text {
      max-width: 90%;
      color: #000;
      font-size: 16px;
      display: block;
    }
    &__icon {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 26px;
      border-radius: 50%;
      height: 26px;
      border: 2px solid #9cb9d1;
      text-align: center;
      transition: 300ms;
      &:after {
        content: "\f078";
        font: normal normal normal 13px/23px FontAwesome;
        color: #9cb9d1;
        transition: 300ms;
      }
    }
  }
  &__link {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #010101;
    a {
      color: $red;
      font-size: 24px;
      font-weight: bold;
      border-bottom: 1px solid #ebbac2;
      line-height: 1;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}


/* Ask */

.ask {
  padding: 0 50px 0 80px;
  &-wrap {
    padding: 30px 0 65px;
    .sidebar {
      margin-top: 0;
    }
  }
  &-item {
    border-bottom: 1px solid #9cb9d1;
    padding: 20px;
    position: relative;
    transition: background 300ms;
    &:hover,
    &.active {
      background: #fff;
    }
    &.active {
      .ask-item__icon {
        transform: rotate(0deg);
        border: 2px solid $red;
        &:after {
          color: $red;
        }
      }
    }
    &-header {
      cursor: pointer;
    }
    &:first-child {
      border-top: 1px solid #9cb9d1;
    }
    &-content {
      display: none;
      ul {
        padding-left: 35px;
        padding-top: 15px;
      }
      li {
        margin-bottom: 15px;
        a {
          color: $dark;
          font-size: 18px;
          border-bottom: 1px solid #b3b3b3;
          line-height: 1;
          &:hover {
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
    &__head {
      color: #0e0d0d;
      font-size: 28px;
      display: block;
      font-weight: bold;
      max-width: 90%;
    }
    &__icon {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 26px;
      height: 26px;
      border: 2px solid #9cb9d1;
      border-radius: 50%;
      transition: 300ms;
      text-align: center;
      transform: rotate(-90deg);
      &:after {
        content: "\f078";
        font: normal normal normal 13px/23px FontAwesome;
        color: #9cb9d1;
        transition: 300ms;
      }
    }
  }
}


/* Ask inner */

.ask {
  &-wrap {
    .sidebar {
      margin-top: 0;
    }
    .banner {
      margin-top: 0;
    }
  }
}


/* Catalog */

.catalog {
  &__head {
    color: $red;
    padding: 30px 0 30px 115px;
    font-size: 42px;
    font-weight: bold;
  }
  &-header {
    background: #fff;
    font-size: 0;
    padding: 27px 60px 27px 40px;
    &-select {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      color: #151515;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      -ms-appearance: none;
      appearance: none!important;
      color: #393939;
      font: 400 14px 'Proxima Nova';
      border: none;
      padding: 13px 40px 13px 17px;
      border-radius: 50px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      background: #dce8f1 url(../images/select.png) no-repeat 90% 50%;
    }
    &-select:nth-child(2n) {
      margin-left: 60px;
      select {
        background-position: 70% 50%;
      }
    }
    &-sort {
      float: right;
      margin-top: 4px;
      a {
        display: inline-block;
        vertical-align: middle;
        &:last-child {
          margin-left: 13px;
        }
      }
    }
  }
  &-sidebar {
    width: 24%;
    float: left;
    border: 2px solid #a4c5e0;
    padding: 0px 15px 30px;
  }
  &-clearfix {
    padding: 40px 0 35px;
  }
  &-row {
    padding-top: 15px;
    border-bottom: 1px solid #a4c5e0;
  }
  &-item {
    &.active {
      .catalog-item__head {
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid #bcc0c3;
        }
      }
    }
    &__head {
      font-size: 16px;
      font-weight: bold;
      color: $dark;
      text-transform: uppercase;
      border-bottom: 1px solid #bcc0c3;
      line-height: 1;
      display: inline-block;
      cursor: pointer;
      margin-bottom: 15px;
      transition: 300ms;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    &-content {
      display: none;
      &.active {
        display: block;
      }
      ul {
        padding-left: 15px;
        margin-top: -5px;
        margin-bottom: 20px;
        li {
          margin-bottom: 7px;
          a {
            font-size: 16px;
            color: $dark;
            &:hover {
              color: $red;
            }
          }
        }
      }
    }
  }
  &-radio {
    &-wrap {
      margin-bottom: 15px;
      label {
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
  &__radio {
    margin-right: 15px;
  }
  &-input-wrap {
    margin-bottom: 15px;
  }
  &__input {
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      margin-right: 15px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: #000;
    }
    input {
      width: 65px;
      height: 25px;
      display: inline-block;
      vertical-align: middle;
      border: none;
      border-bottom: 1px solid $red;
      background: none;
      margin: 0 3px 0 5px;
      padding-left: 3px;
      font: bold 20px 'Proxima Nova';
    }
  }
  .ui-slider {
    margin-bottom: 15px;
    height: 8px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
  }
  .ui-slider-range {
    background-color: #fa788b;
    height: 8px;
    position: absolute;
  }
  .ui-slider-handle {
    width: 16px;
    height: 16px;
    background-color: #e7344e;
    border-radius: 50%;
    margin-left: -8px;
    margin-top: -4px;
    position: absolute;
    cursor: pointer;
  }
  &-colors {
    font-size: 0;
    i {
      width: 25px;
      height: 25px;
      display: inline-block;
      border: 1px solid #959595;
      border-radius: 50%;
      background: #000;
      font-size: 14px;
      margin-bottom: 15px;
      margin-right: 9px;
      cursor: pointer;
      &.red {
        background: #e7344e;
      }
      &.pink {
        background: #ec008c;
      }
      &.green {
        background: #39b54a;
      }
      &.fiol {
        background: #6b1fa2;
      }
      &.brown {
        background: #a0410d;
      }
      &.blue {
        background: #0054a6;
      }
      &.black {
        background: #1f0709;
      }
    }
  }
  &-buttons {
    margin-top: 20px;
    button {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      transition: 300ms;
      font: 800 16px 'Proxima Nova';
      text-transform: uppercase;
    }
    &__show {
      background: #e7344e;
      border-radius: 50px;
      color: #fff;
      padding: 15px 20px;
      margin-right: 33px;
      border: none;
      &:hover {
        background: #ce3047;
      }
    }
    &__reset {
      color: #86b0d3;
      line-height: 1;
      border: none;
      border-bottom: 1px solid #cadbe9;
      background: none;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-showcase {
    width: 76%;
    float: right;
    padding-left: 40px;
  }
  &-elems {
    font-size: 0;
    margin-bottom: 10px;
  }
  &-elem {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    background: #fff;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 15px;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &__head {
      color: $dark;
      font-weight: bold;
      font-size: 18px;
      max-width: 70%;
      line-height: 1.2;
      height: 42px;
      overflow: hidden;
      &:hover {
        color: $red;
      }
    }
    &__img {
      height: 260px;
      text-align: center;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        max-width: 97%;
      }
    }
    &__like {
      background: #e7344e url(../images/like.png) no-repeat center;
      width: 60px;
      height: 40px;
      border-radius: 40px;
      position: absolute;
      right: 16px;
      top: 16px;
      &:hover {
        background-color: #d02e46;
      }
    }
    &-info {
      &-item {
        display: inline-block;
        vertical-align: top;
        margin-right: 21px;
        font-size: 14px;
        span {
          display: block;
          color: #6b6b6b;
        }
        p {
          color: $dark;
          margin-top: 3px;
        }
      }
    }
    &__is {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      color: #fff;
      background: #acae17;
      padding: 6px 11px;
      border-radius: 50px;
    }
    &__cost {
      font-size: 24px;
      font-weight: bold;
      color: $dark;
      margin: 15px 0;
      span {
        color: #767676;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__amount {
      border: 1px solid #b1d0e9;
      border-radius: 50px;
      display: inline-block;
      font-size: 0;
      padding: 0 3px;
      span {
        font-size: 14px;
        width: 33px;
        height: 40px;
        cursor: pointer;
      }
    }
    &__minus {
      display: inline-block;
      vertical-align: middle;
      background: url(../images/minus.png) no-repeat center;
    }
    &__plus {
      display: inline-block;
      vertical-align: middle;
      background: url(../images/plus.png) no-repeat center;
    }
    &__val {
      width: 60px;
      height: 40px;
      border: none;
      background: none;
      border-right: 1px solid #b1d0e9;
      border-left: 1px solid #b1d0e9;
      display: inline-block;
      vertical-align: middle;
      font: 700 24px 'Proxima Nova';
      color: $dark;
      text-align: center;
    }
    &__card {
      background: #e7344e url(../images/card.png) no-repeat center;
      width: 60px;
      height: 40px;
      border-radius: 40px;
      position: absolute;
      right: 16px;
      bottom: 16px;
      &:hover {
        background-color: #d02e46;
      }
    }
  }
}

.catalog-row {
  .catalog {
    &-elem {
      margin-right: 0!important;
      width: 100%;
      &__img {
        height: auto;
        width: 230px;
        display: inline-block;
        vertical-align: middle;
        &:before {
          display: none;
        }
        img {
          max-height: 158px;
        }
      }
      &__head {
        font-size: 24px;
        height: auto;
        margin-bottom: 10px;
      }
      &-content {
        display: inline-block;
        vertical-align: middle;
        width: 73%;
        position: relative;
      }
      &-info {
        display: inline-block;
        vertical-align: bottom;
      }
      &__cost {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 0 0 115px;
      }
      &__like {
        right: auto;
        top: auto;
        left: 0;
        bottom: 0;
      }
      &__card {
        right: auto;
        top: auto;
        right: 0;
        bottom: 0;
      }
      &-footer {
        margin-top: 18px;
      }
      &__amount {
        margin-left: 377px;
      }
    }
  }
}


/* Wholesale */

.wholesale {
  font-size: 0;
  &-wrap {
    background: $yellow;
  }
  &__img {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    width: 25%;
    img {
      vertical-align: bottom;
      max-width: 90%;
    }
  }
  &-content {
    display: inline-block;
    vertical-align: bottom;
    width: 75%;
    font-size: 14px;
    color: #000;
    padding-bottom: 10px;
  }
  &__head {
    margin: 40px 0 27px;
  }
  &__descr {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  &__text {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 25px;
  }
}


/* Product */

.product {
  background: #fff;
  padding: 15px;
  &-wrap {
    padding-top: 30px;
  }
  &__img {
    display: inline-block;
    vertical-align: top;
    width: 42%;
    text-align: center;
  }
  &-content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 54%;
  }
  &__head {
    font-size: 34px;
    font-weight: bold;
    color: $dark;
    max-width: 80%;
    line-height: 1.1;
  }
  &-header {
    margin-bottom: 30px;
  }
  &-middle {
    font-size: 0;
  }
  &-info {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    table {
      border-collapse: collapse;
      td {
        font-size: 16px;
        color: $dark;
        padding-bottom: 18px;
        &:first-child {
          width: 110px;
          color: #6b6b6b;
        }
      }
    }
  }
  &-order {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: relative;
    font-size: 14px;
  }
  &__is {
    color: #fff;
    padding: 7px 11px;
    border-radius: 50px;
    background: #acae17;
    display: inline-block;
    margin-bottom: 58px;
  }
  &__cost {
    font-size: 24px;
    font-weight: bold;
    color: $dark;
    margin-bottom: 8px;
  }
  &__descr {
    color: #808285;
    display: block;
    margin-bottom: 20px;
  }
  .catalog-elem__card {
    right: 0;
    bottom: 0;
  }
  .catalog-elem__like {
    right: 0;
    top: 0;
  }
  &-social {
    margin-left: 50%;
    display: inline-block;
    margin-top: 51px;
    p {
      display: inline-block;
      vertical-align: middle;
      color: #808285;
      margin-right: 40px;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      opacity: .4;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &-deliver {
    padding: 40px 0;
    font-size: 0;
    border-bottom: 1px solid #e1e1e1;
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      font-size: 14px;
      padding: 60px 0 0 80px;
      position: relative;
      z-index: 5;
      > img {
        position: absolute;
        top: 0;
        left: 35px;
        z-index: -1;
      }
    }
    &__head {
      color: #000;
      margin-bottom: 13px;
    }
    &__caption {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    ul {
      margin-bottom: 20px;
    }
    li {
      padding: 0 0 20px 37px;
      position: relative;
      font-size: 16px;
      &:before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: #ed7386;
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
}

.dynamics {
  background: #dbe6ee;
  padding: 25px 0;
  color: $dark;
  &-descr {
    display: inline-block;
    vertical-align: middle;
    width: 42%;
    padding: 0 79px 0 200px;
  }
  &__head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  &__text {
    line-height: 1.3;
  }
  &-content {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
  }
  &-diagram {
    display: inline-block;
    vertical-align: middle;
    margin-right: 102px;
  }
  &-average {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    &__text {
      font-size: 16px;
      margin-bottom: 10px;
    }
    &-item {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      &:nth-child(2) {
        font-size: 34px;
        font-weight: bold;
        margin: 0 15px;
      }
    }
  }
}


/* Recommend */

.recommend {
  padding-bottom: 20px;
  &__head {
    padding: 30px 0 30px 115px;
    color: $red;
  }
  .catalog-elem {
    width: 23.5%;
    &:nth-child(3n) {
      margin-right: 2%;
    }
    &:nth-child(4n) {
      margin-right: 0%;
    }
  }
}


/* Cabinet */

.cabinet {
  &-page {
    padding-bottom: 68px;
    .pagination {
      text-align: left;
      padding-left: 75px;
    }
  }
  &-nav {
    font-size: 0;
    padding: 25px 0 40px 75px;
    li {
      display: inline-block;
      a {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        line-height: 1;
        border-bottom: 1px solid #c5c9cc;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
      &.active a {
        color: $red;
        border-bottom: 1px solid transparent;
      }
      &:after {
        content: '/';
        display: inline-block;
        font-size: 24px;
        margin: 0 8px;
        color: #000;
        font-weight: bold;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
  &-content {
    font-size: 0;
  }
  &-table {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 73%;
    margin-right: 3%;
    table {
      border-collapse: collapse;
      margin-bottom: 30px;
      width: 100%;
      td {
        color: #000;
        font-size: 16px;
        padding: 18px 5px;
        background: #fff;
        border-bottom: 1px solid #edf2f6;
        &:first-child {
          padding-left: 40px;
          padding-right: 10px;
        }
        &:nth-child(2n) {
          width: 20%;
        }
        &:nth-child(4n) {
          width: 20%;
          padding-left: 20px;
        }
      }
      thead td {
        font-weight: bold;
        font-size: 14px;
        background: #dce6ef;
        border-bottom: none;
      }
    }
  }
  &-callback {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    background: $yellow;
    padding: 15px 20px 25px;
    text-align: center;
    &__help {
      text-align: left;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 18px;
    }
    &__text {
      font-size: 16px;
      margin: 18px 0;
      line-height: 1.2;
      b {
        font-size: 18px;
      }
    }
    &__link {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      background: #e7344e;
      border-radius: 50px;
      padding: 15px 30px;
      &:hover {
        background: #d53048;
      }
    }
  }
  &-header {
    padding: 30px 0 25px 115px;
    p {
      display: inline-block;
      vertical-align: middle;
      font-size: 28px;
      font-weight: bold;
      margin-right: 23px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      background: #819db6;
      color: #fff;
      padding: 6px 13px;
      border-radius: 50px;
    }
  }
}

.cabinet-table2 {
  table td:nth-child(2n),
  table td:nth-child(4n) {
    width: auto;
  }
  .cabinet-table-footer td {
    border-bottom: 0;
    background: #dce6ef;
    font-size: 16px;
  }
}


/* Edit */

.cabinet-page {
  padding-top: 35px;
  padding-bottom: 30px;
}

.edit {
  background: #fff;
  padding: 25px 30px 30px;
  &-img {
    font-size: 0;
    margin-bottom: 30px;
  }
  &-ava {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    font-size: 14px;
  }
  &-change {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    &__head {
      font-size: 16px;
      margin-bottom: 13px;
    }
    button {
      border: none;
      background: #819db6;
      padding: 9px 14px;
      color: #fff;
      border-radius: 50px;
      cursor: pointer;
      transition: 300ms;
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle;
      &:hover {
        background: #728ba1;
      }
    }
    span {
      color: #819db6;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &-input {
    margin-bottom: 14px;
    font-size: 0;
    span {
      display: inline-block;
      vertical-align: middle;
      width: 140px;
      font-size: 16px;
    }
    input,
    textarea {
      width: 330px;
      height: 50px;
      border: 2px solid #e1e1e1;
      font: 400 16px 'Proxima Nova';
      color: #819db6;
      padding: 0 18px;
      display: inline-block;
      vertical-align: middle;
      &::-webkit-input-placeholder {
        color: #819db6;
      }
      &:-moz-placeholder {
        color: #819db6;
      }
      &::-moz-placeholder {
        color: #819db6;
      }
      &:-ms-input-placeholder {
        color: #819db6;
      }
      &.error {
        border: 2px solid #e7344e!important;
      }
    }
    textarea {
      width: 630px;
      height: 130px;
      resize: none;
      vertical-align: top;
      padding: 10px 18px;
    }
    select {
      display: inline-block;
      vertical-align: middle;
      padding: 0 18px;
      font: 400 16px 'Proxima Nova';
      color: #000;
      width: 330px;
      height: 50px;
      border: 2px solid #e1e1e1;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      -ms-appearance: none;
      appearance: none!important;
      color: #393939;
      font: 400 14px 'Proxima Nova';
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      background: url(../images/select2.png) no-repeat 96% 50%;
    }
    &__textarea-label {
      margin-top: 15px;
    }
    &__change {
      padding: 0 20px;
      line-height: 50px;
      background-color: #819db6;
      cursor: pointer;
      border: none;
      margin-left: -1px;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      transition: 300ms;
      font-size: 16px;
      &:hover {
        background: #728ba1;
      }
    }
    &__checked {
      font-size: 16px;
      color: #ec334d;
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
    }
  }
  &-buttons {
    margin-top: 15px;
    margin-left: 140px;
    button {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      transition: 300ms;
      font: 700 14px 'Proxima Nova';
      &:first-child {
        padding: 14px 28px;
        background: #e7344e;
        color: #fff;
        border-radius: 50px;
        margin-right: 30px;
        &:hover {
          background: #cf3047;
        }
      }
      &:last-child {
        color: #819db6;
        background: none;
        &:hover {
          color: #6e8599;
        }
      }
    }
  }
}

/* Order */

.order {
  padding-bottom: 50px;
  &-header {
    padding: 30px 0 25px 115px;
    span {
      a {
        color: #e7344e;
        border-bottom: 1px solid #ebbac2;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  &__head {
    color: $red;
  }
  &-table {
    table {
      width: 100%;
      border-collapse: collapse;
      thead td {
        background: #dce6ef;
        padding: 20px 0;
      }
      td {
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4) {
          text-align: center;
        }
      }
      tbody td {
        background: #fff;
        vertical-align: top;
        b {
          font-size: 24px;
          font-weight: bold;
          color: $dark;
        }
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 23%;          
        }
        &:nth-child(3) {
          width: 15%;
          padding-top: 35px;
        }
        &:nth-child(4) {
          width: 20%;
          padding-top: 45px;
        }
        &:nth-child(5) {
          width: 13%;
          padding-top: 45px;
        }
        &:nth-child(6) {
          padding-top: 37px;
        }
      }
      tbody td {
        padding: 15px 0;
        border-bottom: 1px solid #edf2f6;
      }
    }
    &__head {
      font-size: 24px;
      color: $dark;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 8px;
      display: block;
      &:hover {
        color: $red;
      }
    }
    &__is {
      color: #fff;
      border-radius: 50px;
      padding: 7px 11px;
      background: #acae17;
      display: inline-block;
    }
    &__close {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
      cursor: pointer;
    }
    &__close-text {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.3;
      color: $dark;
    }
    &__in {
      color: #000;
      text-decoration: underline;
    }
  }
  &-all {
    padding: 37px 0 25px;
    background: #dce6ef;
    text-align: center;
    &-table {
      display: block;
      width: 320px;
      display: inline-block;
      text-align: left;
      margin-left: 190px;
      td {
        font-size: 16px;
        color: #000;
        padding-bottom: 30px;
        &:first-child {
          width: 210px;
        }
        span {
          text-transform: uppercase;
          font-weight: bold;
        }
        b {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
    &__link {
      font: 400 14px 'Proxima Nova';
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      background: $red;
      padding: 20px 40px;
      border-radius: 50px;
      cursor: pointer;
      border: none;
      transition: 300ms;
      margin-bottom: 15px;
      &:hover {
        background: #d43149;
      }
    }
    &__checkbox {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      span {
        border: 1px solid #fff;
      }
      input:checked + span {
        border: 1px solid $red;
      }
    }
    &__confirm {
      label {
        display: inline-block;
        vertical-align: middle;
        color: #000;
        a {
          line-height: 1;
          color: #000;
          border-bottom: 1px solid #b7bfc6;
          &:hover {
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
}

.order .order-table2 table td:nth-child(5) {
  text-align: center;
  width: 10%;
}

.order .order-table2 table td:nth-child(4) {
  width: 17%;
}

.order .order-table2 table tbody td:nth-child(4),
.order .order-table2 table tbody td:nth-child(5) {
  padding-top: 39px;
}

.order .order-table2 table tbody td:nth-child(6) {
  padding-left: 50px;
}

.order2 .order-all-table {
  width: 415px;
  margin-left: 210px;
}
  

