button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Montserrat', sans-serif; }

a {
  display: inline-block;
  font: 400 16px 'Montserrat', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.head {
  color: #1fa879;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 34px;
  letter-spacing: 2px; }

.link {
  color: #1fa879;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  padding-right: 60px;
  position: relative; }
  .link:hover {
    color: #1fa879; }
    .link:hover img {
      right: -3px; }
  .link img {
    -webkit-transition: 300ms;
    transition: 300ms;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo a {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 39px; }
  .logo__text {
    width: 190px;
    font-family: 'PTSans';
    margin-right: 50px;
    line-height: 1.65;
    margin-top: -4px; }

.city__head {
  font-family: 'PTSans';
  margin-bottom: 5px; }

.city-name {
  font-family: 'PTSans';
  font-weight: 700;
  text-decoration: underline; }

.check {
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #1fa879; }
  .check input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .check input:checked + span:before {
      opacity: 1; }
  .check span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .check span:before {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background-color: #1fa879;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms; }
  .check-text {
    padding-left: 40px;
    color: #48423b;
    font-family: 'PTSans';
    line-height: 1.65; }

.main-wrap {
  margin-bottom: 45px; }

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-body {
  -webkit-box-flex: 10px;
  -ms-flex-positive: 10px;
  flex-grow: 10px;
  margin-right: 80px; }

.sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 300px;
  margin-bottom: 40px; }

.container {
  position: relative;
  max-width: 1260px;
  padding: 0;
  margin: 0 auto; }

@media (max-width: 1336px) {
  .container {
    width: 1170px; }
  .logo a {
    width: 160px;
    margin-right: 18px; }
  .logo__text {
    margin-top: 0;
    line-height: 1.4;
    margin-right: 16px; }
  .main-body {
    margin-right: 30px; } }

@media (max-width: 1200px) {
  .container {
    width: 970px; }
  .logo__text {
    font-size: 14px;
    width: 170px; }
  .city__head {
    font-size: 15px;
    margin-bottom: 0; } }

@media (max-width: 991px) {
  .container {
    width: 750px; }
  .link {
    letter-spacing: 1px; }
  .logo__text {
    display: none; }
  .city {
    display: none; }
  .sidebar {
    width: 280px; }
  .main-wrap {
    margin-bottom: 34px; } }

@media (max-width: 767px) {
  .container {
    width: 540px !important;
    padding: 0 !important; }
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main-body {
    margin-right: 0;
    margin-bottom: 30px; }
  .sidebar {
    width: 300px;
    margin: 0 auto; } }

@media (max-width: 575px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important; }
  .head {
    font-size: 22px;
    letter-spacing: 1px; }
  .link {
    font-size: 15px;
    letter-spacing: 0;
    padding-right: 46px; }
  .sidebar {
    width: 100%; } }

.burger {
  display: none;
  width: 30px; }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0; }
    .burger a span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background-color: #1fa879;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .burger a span:before, .burger a span:after {
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: #1fa879;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .burger a span:before {
        top: -8px; }
      .burger a span:after {
        top: 8px; }
    .burger a.active span {
      background: transparent; }
      .burger a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px); }
      .burger a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px); }

.nav li {
  position: relative;
  padding: 0 26px; }
  .nav li:first-child:before {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: #1fa879;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .nav li:after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: #1fa879;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .nav li a {
    color: #000;
    font-family: 'PTSans';
    font-size: 18px;
    font-weight: 700; }
    .nav li a:hover {
      color: #1fa879; }

@media (max-width: 1200px) {
  .nav li {
    padding: 0 14px; }
    .nav li a {
      font-size: 16px; } }

@media (max-width: 991px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px; }
    .nav li {
      padding: 0;
      margin: 3px 0; }
      .nav li a {
        font-size: 18px; }
  .nav li:first-child:before {
    display: none; }
  .nav li:after {
    display: none; } }

.header {
  padding: 18px 0 14px; }
  .header-wrap {
    background-color: #edf2f5; }
  .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 18px; }
    .header-row:first-child {
      padding-right: 78px; }
    .header-row:last-child {
      margin-bottom: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header-row-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
  .header-info {
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .header-info li {
      font-family: 'PTSans';
      margin-bottom: 5px; }
      .header-info li:last-child {
        margin-bottom: 0; }
  .header__calc {
    line-height: 40px;
    padding: 0 16px;
    color: #fff;
    font-family: 'PTSans';
    font-weight: 700;
    background-color: #1fa879;
    margin-right: 60px; }
    .header__calc:hover {
      color: #fff;
      opacity: .9; }

.header-nav {
  margin: 0 64px 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-nav li {
    margin-right: 22px; }
    .header-nav li:last-child {
      margin-right: 0; }
    .header-nav li a {
      color: #000;
      font-family: 'PTSans'; }
      .header-nav li a:hover {
        text-decoration: underline; }

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-contact__tel {
    color: #000;
    font-family: 'PTSans';
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px; }
    .header-contact__tel:hover {
      color: #1fa879; }
  .header-contact__link {
    line-height: 38px;
    padding: 0 14px;
    color: #1fa879;
    border: 1px solid #1fa879;
    font-family: 'PTSans'; }
    .header-contact__link:hover {
      color: #000;
      border: 1px solid #000; }

@media (max-width: 1336px) {
  .header-row:first-child {
    padding-right: 0; } }

@media (max-width: 1200px) {
  .header-row:first-child {
    margin-bottom: 12px; }
  .header-info {
    width: 244px; }
    .header-info li {
      font-size: 15px; }
  .header-nav {
    margin-right: 16px; }
    .header-nav li {
      margin-right: 14px; }
  .header__calc {
    margin-right: 10px;
    padding: 0 12px; }
  .header-contact__tel {
    font-size: 20px;
    margin-right: 10px; }
  .header-contact__link {
    padding: 0 10px; } }

@media (max-width: 991px) {
  .header {
    padding: 18px 52px 18px 10px; }
    .header .burger {
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .header-wrap .container {
      width: 100%; }
    .header-row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-row:first-child {
        margin-bottom: 0; }
      .header-row-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .header__calc {
      margin-right: 0;
      margin-bottom: 10px; }
  .header-section {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(237, 242, 245, 0.8);
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
    margin-top: 10px; }
    .header-section.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0; }
    .header-section .header-row-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media (max-width: 767px) {
  .header-wrap .container {
    width: 100% !important; }
  .header-info {
    display: none; } }

@media (max-width: 540px) {
  .header {
    padding-right: 0;
    padding-left: 0; }
    .header-nav {
      display: none; }
    .header-contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .header-contact__tel {
        margin-right: 0;
        margin-bottom: 8px; } }

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18px 0 16px; }
  .main-header .logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 48px; }
  .main-header-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-header-content {
    padding-top: 1px; }
  .main-header-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 206px;
    text-align: center; }
  .main-header__description {
    margin-bottom: 16px; }
  .main-header__tel {
    font-size: 24px;
    font-weight: 900;
    color: #000;
    margin-bottom: 5px; }
    .main-header__tel:hover {
      color: #1fa879; }
  .main-header__btn {
    width: 100%;
    line-height: 32px;
    color: #fff;
    background-color: #1fa879;
    font-weight: 700; }
    .main-header__btn:hover {
      color: #fff;
      opacity: .9; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-nav li {
    margin-right: 23px; }
    .main-nav li:last-child {
      margin-right: 0; }
    .main-nav li a {
      color: #1fa879;
      font-weight: 700;
      text-transform: uppercase; }
      .main-nav li a:hover {
        color: #000; }

@media (max-width: 1336px) {
  .main-header .logo {
    margin-right: 24px; }
  .main-header-info {
    width: 180px; }
  .main-header__tel {
    font-size: 18px; }
  .main-header__btn {
    font-size: 14px; }
  .main-nav li {
    margin-right: 10px; } }

@media (max-width: 1200px) {
  .main-header {
    padding: 14px 0; }
    .main-header .logo {
      width: 160px;
      margin-right: 12px; }
    .main-header__description {
      margin-bottom: 7px;
      font-size: 15px; }
  .main-nav li a {
    font-size: 14px; } }

@media (max-width: 991px) {
  .main-header .logo {
    width: 180px; }
  .main-header .burger {
    display: block; }
  .main-header-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px; }
  .main-header__description {
    width: 260px; }
  .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 8px 0;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .main-nav.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0; }
    .main-nav li {
      margin: 5px 0; }
      .main-nav li a {
        font-size: 16px; } }

@media (max-width: 767px) {
  .main-header__description {
    display: none; }
  .main-header-content {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

@media (max-width: 470px) {
  .main-header-content {
    padding: 0; }
  .main-header-info {
    display: none; } }

.bread {
  margin: 0;
  padding: 22px 0 28px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .bread li {
    font-weight: 700;
    color: #6c6966;
    font-family: 'PTSans';
    margin-right: 22px;
    position: relative; }
    .bread li:after {
      content: '/';
      display: block;
      position: absolute;
      top: 50%;
      right: -14px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-weight: 400; }
    .bread li:last-child {
      margin-right: 0; }
      .bread li:last-child:after {
        display: none; }
    .bread li a {
      color: #6c6966;
      font-family: 'PTSans';
      font-weight: 400;
      text-decoration: underline; }
      .bread li a:hover {
        text-decoration: none; }

.footer {
  padding: 54px 0 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .footer-wrap {
    background-color: #383838; }
  .footer-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 220px;
    margin-right: 80px; }
    .footer-logo__text {
      color: #fff;
      line-height: 1.65;
      font-family: 'PTSans';
      margin-top: 10px; }
  .footer-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.footer-item {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer-item.first {
    width: 110px;
    margin-right: 39px; }
  .footer-item.second {
    width: 100px;
    margin-right: 38px; }
  .footer-item.three {
    width: 286px; }
  .footer-item li {
    margin-bottom: 20px; }
    .footer-item li:last-child {
      margin-bottom: 0; }
    .footer-item li a {
      color: #fff;
      font-family: 'PTSans';
      font-weight: 700;
      text-decoration: underline; }
      .footer-item li a:hover {
        text-decoration: none; }
  .footer-item__head {
    color: #fff;
    font-family: 'PTSans';
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px; }
  .footer-item__address {
    color: #fff;
    font-family: 'PTSans';
    line-height: 1.65; }
  .footer-item__link {
    color: #fff;
    font-family: 'PTSans';
    text-decoration: underline; }
    .footer-item__link:hover {
      color: #fff;
      text-decoration: none; }

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 3px; }
  .footer-info-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 22px; }
  .footer-info-tel {
    margin-right: 20px; }
    .footer-info-tel a {
      color: #fff;
      font-family: 'PTSans';
      font-size: 24px;
      font-weight: 700; }
      .footer-info-tel a:hover {
        color: #1fa879; }
  .footer-info__link {
    line-height: 40px;
    padding: 0 14px;
    border: 1px solid #1fa879;
    color: #1fa879;
    font-family: 'PTSans'; }
    .footer-info__link:hover {
      color: #fff;
      border: 1px solid #fff; }
  .footer-info-calc a {
    line-height: 40px;
    padding: 0 16px;
    background-color: #1fa879;
    color: #fff;
    font-family: 'PTSans';
    font-weight: 700; }
    .footer-info-calc a:hover {
      opacity: .9; }

.bottom {
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .bottom-item {
    color: #989796;
    font-family: 'PTSans';
    font-size: 14px; }
    .bottom-item a {
      color: #989796;
      font-family: 'PTSans';
      font-size: 14px; }
      .bottom-item a:hover {
        color: #989796;
        text-decoration: underline; }

@media (max-width: 1336px) {
  .footer-logo {
    margin-right: 20px; } }

@media (max-width: 1200px) {
  .footer-info {
    width: 206px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0; }
    .footer-info-top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-info-tel {
      margin-right: 0;
      margin-bottom: 6px; }
  .footer {
    padding: 36px 0; }
    .footer-item.first, .footer-item.second {
      margin-right: 12px; } }

@media (max-width: 991px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-logo {
      width: 360px;
      margin: 0 auto 12px;
      text-align: center; }
      .footer-logo a {
        width: 180px;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
      .footer-logo__text {
        margin-top: 0;
        line-height: 1.3;
        font-size: 15px;
        margin-top: 8px; } }

@media (max-width: 767px) {
  .footer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-items {
    margin: 10px 0 20px; } }

@media (max-width: 575px) {
  .footer-logo {
    width: 100%; }
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-item {
    width: 100% !important;
    margin-right: 0 !important;
    text-align: center;
    margin-bottom: 10px; }
    .footer-item:last-child {
      margin-bottom: 0; }
    .footer-item li {
      margin-bottom: 10px; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.main-footer {
  background-color: #fff; }
  .main-footer .footer {
    padding: 32px 0 25px 18px; }
    .main-footer .footer-logo {
      width: 240px;
      margin-right: 125px; }
      .main-footer .footer-logo a {
        width: 180px; }
      .main-footer .footer-logo__text {
        margin-top: 15px;
        color: #000;
        font-family: 'Montserrat'; }
    .main-footer .footer-items {
      padding-top: 6px; }
    .main-footer .footer-item.first {
      width: 170px; }
    .main-footer .footer-item.second {
      width: 150px; }
    .main-footer .footer-item.three {
      width: 206px; }
    .main-footer .footer-item li a {
      color: #1fa879;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      font-family: 'Montserrat'; }
      .main-footer .footer-item li a:hover {
        color: #000; }
    .main-footer .footer-item__head {
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      font-family: 'Montserrat'; }
    .main-footer .footer-item__address {
      color: #000;
      font-family: 'Montserrat'; }
    .main-footer .footer-info {
      width: 206px; }
      .main-footer .footer-info-top {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .main-footer .footer-info-tel {
        margin-right: 0;
        margin-bottom: 6px; }
        .main-footer .footer-info-tel a {
          color: #000;
          font-weight: 900;
          font-family: 'Montserrat'; }
          .main-footer .footer-info-tel a:hover {
            color: #1fa879; }
      .main-footer .footer-info__link {
        width: 100%;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background-color: #1fa879;
        border: none;
        font-family: 'Montserrat'; }
        .main-footer .footer-info__link:hover {
          border: none;
          opacity: .9; }
  .main-footer .bottom {
    padding: 0 4px 18px 15px; }
    .main-footer .bottom-item {
      color: #000;
      font-family: 'Montserrat'; }
      .main-footer .bottom-item a {
        color: #000;
        font-family: 'Montserrat'; }

@media (max-width: 1336px) {
  .main-footer .footer-logo {
    margin-right: 30px; } }

@media (max-width: 1200px) {
  .main-footer .footer {
    padding: 23px 0 18px; }
    .main-footer .footer-logo {
      margin-right: 12px; }
    .main-footer .footer-item.first {
      width: 132px; }
    .main-footer .footer-item.second {
      width: 126px; }
    .main-footer .footer-item li {
      margin-bottom: 16px; }
    .main-footer .footer-item__address {
      line-height: 1.35; }
  .main-footer .bottom {
    padding-right: 0;
    padding-left: 0; } }

@media (max-width: 991px) {
  .main-footer .footer-logo {
    width: 100%;
    margin: 0 auto 12px; }
    .main-footer .footer-logo__text {
      margin-top: 10px; } }

@media (max-width: 575px) {
  .main-footer .footer-items {
    padding-top: 0; }
  .main-footer .footer-item {
    margin-bottom: 0; }
    .main-footer .footer-item li {
      margin-bottom: 12px; }
  .main-footer .footer-info-top {
    margin-bottom: 0; }
  .main-footer .bottom-item {
    line-height: 1.3; } }

.showcase-wrap {
  position: relative;
  overflow: hidden; }

.showcase-item {
  height: 700px;
  background-size: cover;
  padding-top: 93px; }

.showcase-content {
  width: 800px; }
  .showcase-content p {
    font: 700 94px/1.1 'KelsonSans';
    text-transform: uppercase;
    margin-bottom: 0; }
    .showcase-content p span {
      color: #1fa879; }

.showcase-navigation {
  min-width: 300px;
  position: absolute;
  bottom: 52px;
  left: 43px; }

.showcase-dots .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .showcase-dots .slick-dots li {
    margin: 0 12px;
    width: 14px;
    height: 14px;
    background-color: #ccc;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .showcase-dots .slick-dots li.slick-active {
      background-color: #1fa879; }
    .showcase-dots .slick-dots li:hover {
      background-color: #1fa879; }
    .showcase-dots .slick-dots li button {
      display: none; }

.showcase-arrows .slick-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  background: url(../images/prev.png) no-repeat 50%;
  width: 40px;
  height: 22px;
  padding: 0;
  border: none;
  cursor: pointer;
  text-indent: 9999px; }
  .showcase-arrows .slick-arrow:focus {
    outline: none; }

.showcase-arrows .slick-next {
  left: auto;
  right: 0;
  background-image: url(../images/next.png); }

@media (max-width: 1200px) {
  .showcase-item {
    height: 560px;
    padding-top: 60px; }
  .showcase-content p {
    font-size: 70px; } }

@media (max-width: 767px) {
  .showcase-item {
    height: auto;
    padding: 40px 0 100px; }
  .showcase-content {
    width: 500px; }
    .showcase-content p {
      font-size: 52px; }
  .showcase-navigation {
    min-width: 260px;
    bottom: 28px;
    left: 28px; } }

@media (max-width: 575px) {
  .showcase-content {
    width: auto;
    margin-right: 10px; }
    .showcase-content p {
      font-size: 32px; }
  .showcase-navigation {
    min-width: 220px;
    bottom: 20px;
    left: 18px; }
  .showcase-dots .slick-dots li {
    margin: 0 8px; } }

.main-about {
  padding: 58px 0 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .main-about .main-form {
    margin-top: -130px; }
  .main-about-content {
    width: 700px; }
  .main-about__descr {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 28px; }
  .main-about__text {
    line-height: 1.65;
    margin-bottom: 40px; }

@media (max-width: 1200px) {
  .main-about {
    padding: 40px 0; }
    .main-about .head {
      margin-bottom: 20px; }
    .main-about .main-form {
      margin-top: -80px; }
    .main-about-content {
      width: 100%;
      margin-right: 40px; }
    .main-about__descr {
      font-size: 22px;
      margin-bottom: 16px; }
    .main-about__text {
      line-height: 1.35;
      margin-bottom: 22px; } }

@media (max-width: 991px) {
  .main-about .head {
    margin-bottom: 12px; }
  .main-about-content {
    margin-right: 24px; }
  .main-about__descr {
    font-size: 18px;
    margin-bottom: 12px; }
  .main-about__text {
    font-size: 15px; } }

@media (max-width: 767px) {
  .main-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 0; }
    .main-about .main-form {
      margin-top: 0; }
    .main-about-content {
      margin-right: 0;
      margin-bottom: 20px; } }

@media (max-width: 575px) {
  .main-about__descr {
    font-size: 16px;
    margin-bottom: 8px; } }

.main-form {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 460px;
  background-color: #1fa879;
  padding: 32px 30px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main-form__head {
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 21px; }
  .main-form input {
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 0 22px;
    border: none;
    font: 700 16px 'Montserrat';
    margin-bottom: 24px; }
    .main-form input::-webkit-input-placeholder {
      color: #000; }
    .main-form input:-ms-input-placeholder {
      color: #000; }
    .main-form input::-ms-input-placeholder {
      color: #000; }
    .main-form input::placeholder {
      color: #000; }
    .main-form input::-moz-placeholder {
      color: #000; }
  .main-form button {
    height: 60px;
    background-color: #f4b906;
    color: #010101;
    font: 900 16px 'Montserrat';
    margin-top: 7px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .main-form button:hover {
      background-color: #ffc104; }

@media (max-width: 1200px) {
  .main-form {
    padding: 24px 28px 28px; }
    .main-form__head {
      font-size: 22px;
      margin-bottom: 14px; }
    .main-form input {
      height: 54px;
      padding: 0 12px;
      margin-bottom: 16px; }
    .main-form button {
      height: 54px;
      margin-top: 0; } }

@media (max-width: 991px) {
  .main-form {
    width: 340px;
    padding: 18px; } }

@media (max-width: 767px) {
  .main-form {
    width: 100%; } }

@media (max-width: 575px) {
  .main-form {
    padding: 14px; }
    .main-form__head {
      font-size: 18px;
      margin-bottom: 10px; }
    .main-form input {
      font-size: 14px; }
    .main-form button {
      font-size: 14px; } }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px 0 36px; }
  .advantages-wrap {
    position: relative;
    z-index: 5;
    overflow: hidden; }
    .advantages-wrap:after {
      content: '';
      display: block;
      width: 1420px;
      height: 100%;
      background-color: #f1f2f2;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1; }
  .advantages-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: 58px; }
  .advantages-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 380px;
    padding-top: 4px; }
    .advantages-info p {
      margin: 24px 0 0;
      font-size: 24px;
      line-height: 1.45; }
  .advantages__head {
    font: 700 64px 'KelsonSans';
    text-transform: uppercase;
    margin-bottom: 26px; }
    .advantages__head span {
      color: #1fa879; }
  .advantages-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .advantages-item {
    width: 380px; }
    .advantages-item__head {
      font-weight: 700;
      margin-bottom: 4px; }
    .advantages-item__text {
      line-height: 1.65; }
  .advantages-img {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }

@media (max-width: 1336px) {
  .advantages-content {
    margin-right: 20px; } }

@media (max-width: 1200px) {
  .advantages {
    padding: 34px 0 30px; }
    .advantages__head {
      font-size: 46px;
      margin-bottom: 24px; }
    .advantages-item {
      width: 49%; }
      .advantages-item__text {
        line-height: 1.35; }
    .advantages-info {
      width: 320px; }
      .advantages-info p {
        margin-top: 20px;
        font-size: 20px;
        line-height: 1.3; } }

@media (max-width: 991px) {
  .advantages-info {
    width: 240px; }
    .advantages-info p {
      font-size: 16px; }
  .advantages-content {
    margin-right: 10px; }
  .advantages-item__head, .advantages-item__text {
    font-size: 15px; } }

@media (max-width: 767px) {
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .advantages-content {
      margin-right: 0; }
    .advantages-items {
      margin-bottom: 20px; }
    .advantages-info {
      width: 100%;
      text-align: center;
      padding-top: 0; } }

@media (max-width: 575px) {
  .advantages__head {
    font-size: 30px; }
  .advantages-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .advantages-item {
    width: 100%;
    margin-bottom: 16px; }
    .advantages-item:last-child {
      margin-bottom: 0; } }

.partners {
  padding: 52px 0 36px; }
  .partners .head {
    margin-bottom: 20px; }
  .partners-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 26px; }
    .partners-header .link {
      margin-top: 4px; }
  .partners__info {
    font-size: 24px; }
  .partners-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .partners-img img {
      width: 155px; }
  .partners-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -10px; }
    .partners-tabs li {
      width: calc(16.7% - 10px);
      height: 200px;
      margin-left: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      -webkit-transition: 300px;
      transition: 300px;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative; }
      .partners-tabs li:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 12px 11px;
        border-color: transparent transparent #000 transparent;
        position: absolute;
        bottom: -19px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: 300ms;
        transition: 300ms;
        opacity: 0; }
      .partners-tabs li:hover {
        background-color: #ebebeb; }
      .partners-tabs li.active {
        background-color: #ebebeb; }
        .partners-tabs li.active:after {
          opacity: 1; }
  .partners-items {
    margin-top: 18px;
    border: 1px solid #959595;
    padding: 14px 52px 17px 30px; }
  .partners-item {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .partners-item.active {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; }

.partners-item table {
  width: 100%;
  margin-right: 67px; }
  .partners-item table thead tr {
    background-color: #e1e7e5; }
  .partners-item table thead td {
    height: 40px;
    font-size: 18px;
    font-weight: 700; }
    .partners-item table thead td:first-child {
      width: 317px;
      padding-left: 32px; }
    .partners-item table thead td:nth-child(2) {
      width: 360px; }
    .partners-item table thead td:last-child {
      width: 230px; }
  .partners-item table tbody tr.height {
    height: 48px; }
  .partners-item table tbody tr.bg {
    background-color: #e1e7e5; }
  .partners-item table tbody tr td {
    height: 40px;
    font-size: 18px;
    font-weight: 700; }
    .partners-item table tbody tr td:first-child {
      padding-left: 32px; }
    .partners-item table tbody tr td:nth-child(2) {
      padding-left: 74px; }
    .partners-item table tbody tr td:last-child {
      padding-left: 75px; }

@media (max-width: 1336px) {
  .partners-items {
    padding-right: 30px;
    padding-left: 30px; } }

@media (max-width: 1200px) {
  .partners {
    padding-top: 40px; }
    .partners-tabs li {
      height: 153px; }
    .partners__info {
      font-size: 20px; }
    .partners-img {
      padding: 10px; }
      .partners-img img {
        width: auto; }
    .partners-items {
      padding: 14px; }
    .partners-item table {
      margin-right: 10px; }
      .partners-item table thead td {
        width: 33.33% !important;
        font-size: 16px;
        text-align: center; }
        .partners-item table thead td:first-child {
          padding-left: 14px;
          text-align: left; }
      .partners-item table tbody tr td {
        font-size: 16px; }
        .partners-item table tbody tr td:first-child {
          padding-left: 14px; }
        .partners-item table tbody tr td:nth-child(2) {
          padding-left: 0;
          text-align: center; }
        .partners-item table tbody tr td:last-child {
          padding-left: 0;
          text-align: center; } }

@media (max-width: 991px) {
  .partners-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .partners-header .link {
      margin-top: 0; }
  .partners__info {
    margin-bottom: 10px; }
  .partners-tabs li {
    height: 117px; }
  .partners-img {
    width: 160px; }
  .partners-item table thead td {
    font-size: 14px; }
  .partners-item table tbody tr td {
    font-size: 14px; } }

@media (max-width: 767px) {
  .partners__info {
    font-size: 18px; }
  .partners-img {
    width: 140px; }
  .partners-tabs li {
    height: 82px; }
  .partners-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .partners-item table {
      margin-right: 0; } }

@media (max-width: 575px) {
  .partners {
    padding: 28px 0; }
    .partners-header {
      margin-bottom: 18px; }
      .partners-header .link {
        font-size: 12px;
        padding-right: 34px; }
    .partners__info {
      font-size: 14px; }
    .partners-tabs {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .partners-tabs li {
        width: calc(50% - 10px);
        margin-bottom: 10px; }
        .partners-tabs li:after {
          display: none; }
    .partners-items {
      padding: 10px; }
    .partners-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .partners-item table thead td {
        font-size: 12px; }
        .partners-item table thead td:first-child {
          padding-left: 4px; }
      .partners-item table tbody tr td {
        font-size: 12px; }
        .partners-item table tbody tr td:first-child {
          padding-left: 4px; } }

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .details .main-form {
    padding-bottom: 25px; }
    .details .main-form__head {
      text-transform: none; }
    .details .main-form button {
      margin-top: 0; }
  .details-wrap {
    overflow: hidden; }
  .details-body {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    background-color: #f1f2f2;
    padding: 26px 0 0 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .details__head {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 36px;
    padding-right: 128px; }
  .details-items {
    width: 615px;
    position: relative; }
    .details-items .slick-arrow {
      position: absolute;
      top: 100px;
      left: -18px;
      z-index: 10;
      background: url(../images/prev.png) no-repeat 50%;
      width: 40px;
      height: 22px;
      padding: 0;
      border: none;
      cursor: pointer;
      text-indent: 9999px; }
      .details-items .slick-arrow:focus {
        outline: none; }
    .details-items .slick-next {
      left: auto;
      right: -92px;
      background-image: url(../images/next.png); }
  .details-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: 80px; }
  .details-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .details-content {
    padding-bottom: 58px; }
    .details-content__name {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.6;
      margin-bottom: 2px; }
    .details-content__position {
      margin-bottom: 30px; }
    .details-content__tel {
      color: #000;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px; }
      .details-content__tel:hover {
        color: #1fa879; }
    .details-content__mail {
      text-decoration: underline;
      color: #1fa879; }
      .details-content__mail:hover {
        color: #1fa879;
        text-decoration: none; }

@media (max-width: 1336px) {
  .details-body {
    padding-left: 25px; }
  .details__head {
    padding-right: 48px; }
  .details-items .slick-next {
    right: -46px; }
  .details-item {
    margin-left: 66px; } }

@media (max-width: 1200px) {
  .details__head {
    padding-right: 22px;
    font-size: 20px; }
  .details-items {
    width: 400px;
    margin: 0 auto; }
    .details-items .slick-arrow {
      left: -46px; }
    .details-items .slick-next {
      left: auto;
      right: -32px; }
  .details-item {
    margin-left: 0; }
  .details-img {
    width: 160px;
    margin-right: 20px; }
  .details-content {
    padding-bottom: 32px; }
    .details-content__name {
      font-size: 16px; }
      .details-content__name br {
        display: none; }
    .details-content__position {
      margin-bottom: 14px; }
    .details-content__tel {
      font-size: 20px; } }

@media (max-width: 991px) {
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .details .main-form {
      width: 100%;
      margin: 0 auto; }
    .details-body {
      padding: 26px; }
    .details__head {
      padding-right: 0;
      margin-bottom: 25px; } }

@media (max-width: 767px) {
  .details-wrap {
    background-color: #f1f2f2; } }

@media (max-width: 575px) {
  .details__head {
    font-size: 18px; }
  .details-body {
    padding: 18px 0 0; }
  .details-items {
    width: 300px; }
    .details-items .slick-arrow {
      left: auto;
      top: auto;
      right: 44px;
      bottom: 5px;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .details-items .slick-next {
      right: 0; }
  .details-img {
    width: 136px;
    margin-right: 10px; }
  .details-content__name {
    line-height: 1.35;
    font-size: 15px; }
  .details-content__tel {
    font-size: 15px;
    margin-bottom: 4px; }
  .details-content__mail {
    font-size: 15px; } }

.scoreboard {
  margin: 60px 0 30px;
  padding: 46px 60px 43px 80px;
  background-color: #f4b906;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .scoreboard-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 400px; }
  .scoreboard-content {
    margin-right: 60px; }
    .scoreboard-content p {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 0; }
    .scoreboard-content a {
      font-size: 24px;
      font-weight: 700;
      text-decoration: underline;
      color: #000; }
      .scoreboard-content a:hover {
        text-decoration: none; }

@media (max-width: 1336px) {
  .scoreboard {
    padding: 36px 46px; }
    .scoreboard-content {
      margin-right: 20px; } }

@media (max-width: 1200px) {
  .scoreboard {
    padding: 28px 20px; }
    .scoreboard-content p, .scoreboard-content a {
      font-size: 22px; } }

@media (max-width: 991px) {
  .scoreboard {
    margin: 30px 0; }
    .scoreboard-img {
      width: 300px; }
    .scoreboard-content p, .scoreboard-content a {
      font-size: 18px; } }

@media (max-width: 767px) {
  .scoreboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .scoreboard-content {
      margin-right: 0;
      margin-bottom: 10px; } }

@media (max-width: 575px) {
  .scoreboard {
    padding: 20px 14px; }
    .scoreboard-img {
      width: 230px; }
    .scoreboard-content p, .scoreboard-content a {
      font-size: 16px; } }

.delivery {
  padding: 40px 0 72px; }
  .delivery-wrap {
    overflow: hidden;
    position: relative;
    z-index: 5; }
    .delivery-wrap:after {
      content: '';
      display: block;
      background: url(../images/deliveryBg.jpg) no-repeat 50%;
      width: 1180px;
      height: 674px;
      position: absolute;
      top: 32px;
      right: 90px;
      z-index: -1; }
  .delivery__head {
    text-transform: uppercase;
    font: 700 64px 'KelsonSans';
    margin-bottom: 36px; }
    .delivery__head span {
      color: #1fa879; }
  .delivery-item {
    margin-bottom: 42px; }
    .delivery-item:last-child {
      margin-bottom: 0; }
    .delivery-item p {
      margin: 24px 0 0;
      font-size: 24px; }

@media (max-width: 1336px) {
  .delivery {
    padding: 26px 0 55px; }
    .delivery-wrap:after {
      right: 0;
      top: 0;
      width: 900px;
      height: 510px;
      background-size: cover; }
    .delivery-item {
      margin-bottom: 32px; }
      .delivery-item p {
        font-size: 22px;
        margin-top: 16px; } }

@media (max-width: 1200px) {
  .delivery__head {
    font-size: 46px; } }

@media (max-width: 767px) {
  .delivery {
    padding-bottom: 32px; }
    .delivery-item p {
      font-size: 20px;
      margin-top: 12px; } }

@media (max-width: 575px) {
  .delivery {
    padding-top: 16px; }
    .delivery__head {
      font-size: 30px;
      margin-bottom: 24px; }
    .delivery-item p {
      font-size: 16px; } }

.main-news {
  padding: 40px 0; }
  .main-news-wrap {
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-bottom: 60px; }
    .main-news-wrap:after {
      content: '';
      display: block;
      width: 1420px;
      height: 100%;
      background-color: #f1f2f2;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .main-news-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 33px; }
    .main-news-header .head {
      margin-bottom: 0; }
    .main-news-header .link {
      margin-right: -16px; }
  .main-news-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-news-item {
    width: 306px;
    margin-right: 92px; }
    .main-news-item:last-child {
      margin-right: 0; }
    .main-news-item.basic {
      width: 460px;
      margin-right: 100px; }
      .main-news-item.basic .main-news__date {
        margin-bottom: 22px; }
      .main-news-item.basic .main-news__text {
        font-size: 24px;
        line-height: 1.45; }
  .main-news__date {
    margin: 21px 0 30px;
    font-weight: 700;
    color: #1fa879; }
  .main-news__text {
    line-height: 1.65;
    margin-bottom: 10px; }
  .main-news__link {
    color: #1fa879; }
    .main-news__link:hover {
      color: #1fa879;
      text-decoration: underline; }

@media (max-width: 1336px) {
  .main-news-wrap {
    margin-bottom: 34px; }
  .main-news-header .link {
    margin-right: 0; }
  .main-news-item {
    margin-right: 48px; }
    .main-news-item.basic {
      margin-right: 50px; } }

@media (max-width: 1200px) {
  .main-news-item {
    margin-right: 10px; }
    .main-news-item.basic {
      width: 420px;
      margin-right: 10px; }
      .main-news-item.basic .main-news__text {
        font-size: 20px; }
  .main-news__date {
    margin: 18px 0 20px; }
  .main-news__text {
    font-size: 15px; } }

@media (max-width: 991px) {
  .main-news {
    padding: 30px 0; }
    .main-news-header {
      margin-bottom: 26px; }
    .main-news-item {
      width: 32%;
      margin-right: 2%; }
      .main-news-item:last-child {
        margin-right: 0; }
      .main-news-item.basic {
        width: 32%; }
        .main-news-item.basic .main-news__date {
          margin: 12px 0 10px; }
        .main-news-item.basic .main-news__text {
          font-size: 15px; }
    .main-news__date {
      margin: 12px 0 10px;
      font-size: 15px; }
    .main-news__text, .main-news__link {
      font-size: 15px; } }

@media (max-width: 767px) {
  .main-news-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main-news-item {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 16px; }
    .main-news-item:last-child {
      margin-bottom: 0; } }

@media (max-width: 575px) {
  .main-news-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 18px; }
    .main-news-header .head {
      margin-bottom: 6px; } }

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .callback .head {
    color: #000;
    margin-bottom: 34px; }
  .callback-wrap {
    overflow: hidden;
    background-color: #1fa879; }
  .callback__address {
    color: #fff;
    line-height: 1.65;
    margin-bottom: 40px; }
  .callback-content {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 550px;
    padding: 60px 136px 98px 0; }
  .callback-map {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin-right: -800px; }
    .callback-map iframe {
      width: 100%;
      height: 100%;
      border: none; }
  .callback-list {
    margin: 0 0 30px;
    padding: 0;
    list-style: none; }
    .callback-list li {
      margin-bottom: 7px; }
      .callback-list li:last-child {
        margin-bottom: 0; }
      .callback-list li a {
        font-size: 24px;
        color: #fff;
        margin-right: 22px; }
        .callback-list li a:hover {
          text-decoration: underline; }
      .callback-list li span {
        color: #fff; }
  .callback__mail {
    color: #fff;
    text-decoration: underline; }
    .callback__mail:hover {
      color: #FFF;
      text-decoration: none; }

.callback-inner {
  background-color: #fff; }
  .callback-inner .callback {
    margin-bottom: 70px; }
    .callback-inner .callback__head {
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 13px;
      margin-bottom: 21px;
      position: relative; }
      .callback-inner .callback__head:after {
        content: '';
        display: block;
        background-color: #1fa879;
        width: 80px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0; }
    .callback-inner .callback__address {
      color: #000;
      margin-bottom: 28px; }
    .callback-inner .callback-list li {
      margin-bottom: 11px; }
      .callback-inner .callback-list li a {
        color: #000;
        font-size: 18px;
        font-family: 'PTSans';
        font-weight: 700; }
      .callback-inner .callback-list li span {
        color: #000; }
    .callback-inner .callback__mail {
      color: #000;
      font-family: 'PTSans'; }
    .callback-inner .callback-content {
      width: 480px;
      padding: 36px 100px 66px 80px;
      font-family: 'PTSans'; }
    .callback-inner .callback-map {
      margin-right: 0; }

@media (max-width: 1336px) {
  .callback-map {
    margin-right: -100px; }
  .callback-content {
    padding: 34px 100px 66px 0; }
  .callback-inner .callback-content {
    padding-left: 44px; } }

@media (max-width: 1200px) {
  .callback-content {
    width: 490px;
    padding-right: 40px; }
  .callback-inner .callback {
    margin-bottom: 50px; }
    .callback-inner .callback-content {
      width: 400px;
      padding: 20px 20px 30px 0; } }

@media (max-width: 991px) {
  .callback .head {
    margin-bottom: 20px; }
  .callback__address {
    margin-bottom: 22px; }
  .callback-content {
    width: 390px;
    padding-right: 20px;
    padding-bottom: 44px; }
  .callback-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px; }
    .callback-list li span {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 2px; }
    .callback-list li a {
      margin-right: 0; }
  .callback-inner .callback-content {
    width: 340px; } }

@media (max-width: 767px) {
  .callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .callback-content {
      width: 100%;
      padding: 20px 10px;
      text-align: center; }
    .callback-map {
      margin: 0 -400px;
      height: 300px; }
  .callback-inner .callback__head {
    padding-bottom: 10px;
    margin-bottom: 12px; }
    .callback-inner .callback__head:after {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .callback-inner .callback__address {
    margin-bottom: 16px; }
  .callback-inner .callback-content {
    width: 100%;
    padding: 20px; }
  .callback-inner .callback-map {
    margin: 0; }
  .callback-inner .callback-list {
    margin-bottom: 18px; }
    .callback-inner .callback-list li {
      margin-bottom: 6px; } }

@media (max-width: 575px) {
  .callback .head {
    margin-bottom: 12px; }
  .callback__address {
    line-height: 1.35; }
  .callback-inner .callback {
    margin-bottom: 38px; }
    .callback-inner .callback__head {
      font-size: 21px; }
    .callback-inner .callback-map {
      height: 250px; } }

.vacancies__head {
  font-family: 'KelsonSans';
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase; }
  .vacancies__head span {
    color: #1fa879; }

.vacancies-elems {
  margin-top: 50px; }

.vacancies-items {
  margin-bottom: 45px; }

.vacancies-item {
  padding: 26px 0;
  border-bottom: 2px solid #1fa879; }

.vacancies-date {
  color: #48423b;
  font-family: 'PTSans';
  margin-bottom: 8px; }
  .vacancies-date span {
    color: #1fa879;
    font-weight: 700;
    text-decoration: underline; }

.vacancies-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'PTSans';
  margin-bottom: 10px;
  padding-right: 10px; }

.vacancies-head {
  font-size: 24px;
  font-weight: 700; }

.vacancies-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 308px; }
  .vacancies-info__employment {
    font-size: 18px;
    font-weight: 700;
    margin-right: 12px; }
  .vacancies-info__price {
    font-size: 18px;
    font-weight: 700; }

.vacancies-text {
  color: #48423b;
  line-height: 1.65;
  font-family: 'PTSans'; }
  .vacancies-text a {
    color: #1fa879;
    font-weight: 700;
    text-decoration: underline;
    font-family: 'PTSans'; }
    .vacancies-text a:hover {
      text-decoration: none; }

.vacancies-elem {
  background-color: #edf2f5;
  padding-top: 19px;
  margin-bottom: 49px; }
  .vacancies-elem:last-child {
    margin-bottom: 0; }
  .vacancies-elem-header {
    margin: 0 20px 15px 29px; }
  .vacancies-elem__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    font-family: 'PTSans'; }
  .vacancies-elem .reset {
    font-size: 14px;
    color: #1fa879;
    margin-left: 20px;
    font-family: 'PTSans'; }
    .vacancies-elem .reset:hover {
      color: #1fa879; }
    .vacancies-elem .reset img {
      margin-left: 3px;
      width: 10px; }

.vacancies-list {
  margin: 0;
  padding: 21px 28px 22px;
  list-style: none;
  border: 2px solid #1fa879; }
  .vacancies-list li {
    margin-bottom: 26px; }
    .vacancies-list li:last-child {
      margin-bottom: 0; }
    .vacancies-list li label {
      position: relative;
      margin-bottom: 0;
      cursor: pointer; }

@media (max-width: 1200px) {
  .vacancies-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 4px; }
  .vacancies-item {
    padding: 20px 0; }
  .vacancies-date {
    margin-bottom: 6px; }
  .vacancies-head {
    font-size: 22px; }
  .vacancies-text {
    line-height: 1.4; }
  .vacancies-info__employment, .vacancies-info__price {
    font-size: 16px; } }

@media (max-width: 991px) {
  .vacancies__head {
    font-size: 46px; }
  .vacancies-items {
    margin-bottom: 30px; }
  .vacancies-elem {
    padding-top: 16px;
    margin-bottom: 34px; }
    .vacancies-elem-header {
      margin: 0 14px 12px; }
    .vacancies-elem__head {
      font-size: 22px;
      line-height: 1.2; }
  .vacancies-list {
    padding: 18px; }
    .vacancies-list li {
      margin-bottom: 16px; }
  .vacancies-head {
    font-size: 20px; }
  .vacancies-text {
    line-height: 1.25;
    font-size: 15px; }
    .vacancies-text a {
      font-size: 15px; } }

@media (max-width: 767px) {
  .vacancies__head {
    font-size: 36px; }
  .vacancies-elems {
    margin-top: 0; } }

@media (max-width: 575px) {
  .vacancies__head {
    font-size: 28px; }
  .vacancies-head {
    line-height: 1.2;
    margin-bottom: 4px; }
  .vacancies-info {
    min-width: 100%; } }

.custom-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .custom-pagination li {
    margin: 0 1px; }
    .custom-pagination li.active a {
      color: #fff;
      background-color: #1fa879; }
    .custom-pagination li a {
      width: 30px;
      height: 30px;
      font-family: 'PTSans';
      font-weight: 700;
      color: #1fa879;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .custom-pagination li a:hover {
        color: #fff;
        background-color: #1fa879; }

@media (max-width: 575px) {
  .custom-pagination li a {
    width: 24px;
    height: 24px;
    font-size: 14px; } }

.vacancy {
  font-family: 'PTSans';
  padding: 6px 0 83px; }
  .vacancy .vacancies-date {
    margin-bottom: 42px; }
  .vacancy__link {
    font-family: 'PTSans';
    color: #1fa879;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 8px; }
    .vacancy__link:hover {
      color: #1fa879; }
  .vacancy__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px; }
  .vacancy-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 52px; }
  .vacancy-side {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 300px; }
    .vacancy-side .vacancy-item {
      margin-bottom: 48px; }
  .vacancy-items {
    -webkit-box-flex: 10px;
    -ms-flex-positive: 10px;
    flex-grow: 10px;
    margin: 0 100px 0 40px; }
  .vacancy-item {
    margin-bottom: 38px; }
    .vacancy-item:last-child {
      margin-bottom: 0; }
    .vacancy-item__head {
      color: #48423b;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 11px; }
    .vacancy-item__text {
      line-height: 1.65; }
    .vacancy-item ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .vacancy-item ul li {
        position: relative;
        text-indent: 12px;
        color: #48423b;
        line-height: 1.65;
        margin-bottom: 10px; }
        .vacancy-item ul li:last-child {
          margin-bottom: 0; }
        .vacancy-item ul li:before {
          content: '';
          display: block;
          background-color: #48423b;
          width: 5px;
          height: 5px;
          position: absolute;
          top: 10px;
          left: 0;
          border-radius: 50%; }
  .vacancy-link {
    line-height: 50px;
    color: #fff;
    background-color: #1fa879;
    font-family: 'PTSans';
    font-weight: 700;
    padding: 0 22px;
    margin-left: 40px; }
    .vacancy-link:hover {
      color: #FFF;
      opacity: .9; }

@media (max-width: 1200px) {
  .vacancy {
    padding-bottom: 50px; }
    .vacancy .vacancies-date {
      margin-bottom: 26px; }
    .vacancy-items {
      margin: 0 30px 0 0; }
    .vacancy-item {
      margin-bottom: 26px; }
    .vacancy-link {
      margin-left: 0; }
    .vacancy-body {
      margin-bottom: 30px; } }

@media (max-width: 991px) {
  .vacancy-side {
    width: 280px; }
  .vacancy-item ul li {
    line-height: 1.35; }
  .vacancy-item__text {
    line-height: 1.3; } }

@media (max-width: 767px) {
  .vacancy__head {
    line-height: 1.2; }
  .vacancy-items {
    margin-right: 0;
    margin-bottom: 26px; }
  .vacancy-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 6px; }
  .vacancy-side .vacancy-item {
    margin-bottom: 26px; } }

@media (max-width: 575px) {
  .vacancy {
    padding-bottom: 36px; }
    .vacancy__head {
      font-size: 22px; } }

.about {
  margin-top: 12px; }
  .about__head {
    color: #1fa879;
    font-family: 'KelsonSans';
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 11px; }
  .about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 87px; }
  .about-body {
    -webkit-box-flex: 10px;
    -ms-flex-positive: 10px;
    flex-grow: 10px;
    margin-right: 100px; }
  .about-content {
    margin-left: 80px; }
    .about-content p {
      color: #48423b;
      font-family: 'PTSans';
      line-height: 1.65;
      margin-bottom: 26px; }
      .about-content p:last-child {
        margin-bottom: 0; }
  .about-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 460px;
    position: relative; }
    .about-img:after {
      content: '';
      display: block;
      width: 440px;
      height: 420px;
      background-color: #edf2f5;
      position: absolute;
      bottom: -30px;
      left: -50px;
      z-index: -1; }
  .about-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 58px; }
  .about-item {
    width: 400px;
    border: 5px solid #1fa879;
    font-family: 'PTSans';
    margin-right: 32px;
    padding: 30px 42px 26px; }
    .about-item:last-child {
      margin-right: 0; }
    .about-item__head {
      font-family: 'PTSans';
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 13px;
      margin-bottom: 12px;
      position: relative; }
      .about-item__head:after {
        content: '';
        display: block;
        background-color: #1fa879;
        width: 80px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0; }
    .about-item__text {
      color: #48423b;
      line-height: 1.65;
      margin-bottom: 26px; }
    .about-item-img {
      width: 84px;
      height: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .about-item__link {
      color: #000;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 23px;
      font-family: 'PTSans'; }
      .about-item__link:hover {
        color: #1fa879; }

@media (max-width: 1336px) {
  .about-content {
    margin-left: 0; }
  .about-item {
    margin-right: 18px;
    padding: 20px 26px 22px; } }

@media (max-width: 1200px) {
  .about-section {
    margin-bottom: 50px; }
  .about-body {
    margin-right: 60px; }
  .about-img {
    width: 360px; }
    .about-img:after {
      width: 360px;
      height: 320px;
      left: -30px; }
  .about-content p {
    line-height: 1.4;
    margin-bottom: 16px; }
  .about-items {
    margin-bottom: 40px; }
  .about-item {
    padding: 14px 14px 18px; }
    .about-item__head {
      font-size: 22px;
      line-height: 1.2; }
    .about-item__text {
      line-height: 1.4;
      margin-bottom: 20px; } }

@media (max-width: 991px) {
  .about__head {
    font-size: 42px; }
  .about-img {
    width: 280px; }
    .about-img:after {
      width: 260px;
      height: 260px; }
  .about-content p {
    font-size: 15px;
    line-height: 1.3; }
  .about-item {
    margin-right: 10px; } }

@media (max-width: 767px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .about-body {
    margin-right: 0;
    margin-bottom: 20px; }
  .about-img {
    margin: 0 auto; }
  .about-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 18px; }
  .about-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    border: 3px solid #1fa879; }
    .about-item:last-child {
      margin-bottom: 0; } }

@media (max-width: 575px) {
  .about__head {
    font-size: 28px; }
  .about-img:after {
    display: none; }
  .about-section {
    margin-bottom: 32px; }
  .about-items {
    margin-bottom: 10px; } }

.contacts .about-item {
  padding-bottom: 18px; }
  .contacts .about-item__head {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px; }
  .contacts .about-item__text {
    font-size: 24px;
    font-weight: 700; }
  .contacts .about-item-img {
    width: 70px; }

.contacts-head {
  font-family: 'KelsonSans';
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px; }
  .contacts-head span {
    color: #1fa879; }

.contacts-content {
  padding: 0 240px 0 80px;
  margin-bottom: 59px; }
  .contacts-content p {
    color: #48423b;
    font-family: 'PTSans';
    line-height: 1.65;
    margin-bottom: 26px; }
    .contacts-content p:last-child {
      margin-bottom: 0; }

.contacts-map {
  height: 420px;
  margin-bottom: 66px; }
  .contacts-map iframe {
    width: 100%;
    height: 100%;
    border: none; }

.contacts-section {
  overflow: hidden; }
  .contacts-section__head {
    font-family: 'PTSans';
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 40px;
    margin-left: 80px;
    position: relative; }
    .contacts-section__head:after {
      content: '';
      display: block;
      background-color: #1fa879;
      width: 80px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0; }

.contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-bottom: 20px; }

.contacts-item {
  width: calc(100% / 12 * 4 - 60px);
  background-color: #edf2f5;
  margin: 0 0 50px 60px;
  padding: 29px 40px 40px;
  font-family: 'PTSans'; }
  .contacts-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  .contacts-item__tel {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
    font-family: 'PTSans'; }
    .contacts-item__tel:hover {
      color: #1fa879; }
  .contacts-item__address {
    font-size: 18px;
    margin-bottom: 11px; }
  .contacts-item__link {
    color: #1fa879;
    font-size: 18px;
    text-decoration: underline; }
    .contacts-item__link:hover {
      text-decoration: none; }

@media (max-width: 1336px) {
  .contacts-head {
    font-size: 48px; }
  .contacts-content {
    padding: 0 40px;
    margin-bottom: 40px; }
  .contacts-map {
    margin-bottom: 40px; }
  .contacts-section__head {
    margin-bottom: 28px;
    margin-left: 0; }
  .contacts-items {
    margin-left: -26px; }
  .contacts-item {
    width: calc(100% / 12 * 4 - 26px);
    margin: 0 0 26px 26px; } }

@media (max-width: 1200px) {
  .contacts .about-item__text, .contacts .about-item__link {
    font-size: 20px; }
  .contacts-head {
    font-size: 36px; } }

@media (max-width: 991px) {
  .contacts .about-item__text, .contacts .about-item__link {
    font-size: 18px; }
  .contacts-map {
    height: 320px; }
  .contacts-items {
    margin-left: -12px; }
  .contacts-item {
    width: calc(100% / 12 * 4 - 12px);
    margin: 0 0 12px 12px;
    padding: 14px 14px 21px; }
    .contacts-item__head {
      font-size: 22px;
      margin-bottom: 14px; } }

@media (max-width: 767px) {
  .contacts-head {
    margin-bottom: 12px; }
  .contacts-content {
    padding: 0; }
    .contacts-content p {
      line-height: 1.4;
      margin-bottom: 14px; }
  .contacts-map {
    height: 250px;
    margin-bottom: 26px; }
  .contacts-section__head {
    font-size: 22px;
    margin-bottom: 20px; }
  .contacts-item {
    width: calc(50% - 12px); } }

@media (max-width: 575px) {
  .contacts-head {
    font-size: 28px;
    margin-bottom: 12px; }
  .contacts-content {
    margin-bottom: 30px; }
  .contacts-map {
    margin-top: 30px; }
  .contacts-items {
    margin-left: 0; }
  .contacts-item {
    width: 100%;
    margin-left: 0; } }

.news {
  font-family: 'PTSans';
  margin-top: 12px; }
  .news-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px; }
  .news-elems {
    margin-top: 82px; }
  .news-items {
    margin-bottom: 45px; }
  .news-item {
    padding: 26px 0;
    border-bottom: 2px solid #1fa879; }
    .news-item__date {
      color: #48423b;
      font-weight: 700;
      margin-right: 55px; }
    .news-item__link {
      font-family: 'PTSans';
      color: #1fa879;
      font-weight: 700;
      text-decoration: underline; }
      .news-item__link:hover {
        color: #1fa879; }
    .news-item__head {
      font-family: 'PTSans';
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px; }
    .news-item__text {
      color: #48423b;
      line-height: 1.65; }
      .news-item__text a {
        font-family: 'PTSans';
        color: #1fa879;
        font-weight: 700;
        text-decoration: underline; }
        .news-item__text a:hover {
          text-decoration: none; }

.news-nav {
  border: 1px solid #1fa879;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 0; }
  .news-nav li {
    display: inline-block; }
    .news-nav li.active a {
      color: #fff;
      background-color: #1fa879; }
    .news-nav li a {
      color: #1fa879;
      line-height: 38px;
      padding: 0 17px;
      font-family: 'PTSans';
      font-weight: 700; }
      .news-nav li a:hover {
        color: #fff;
        background-color: #1fa879; }

.news-elem {
  border: 2px solid #1fa879;
  margin-bottom: 50px;
  padding: 22px 10px 23px 26px; }
  .news-elem__head {
    font-weight: 700;
    font-size: 24px;
    font-family: 'PTSans';
    margin-bottom: 20px; }
  .news-elem ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .news-elem ul li {
      margin-bottom: 16px; }
      .news-elem ul li:last-child {
        margin-bottom: 0; }
      .news-elem ul li a {
        color: #1fa879;
        font-weight: 700;
        text-decoration: underline;
        font-family: 'PTSans'; }
        .news-elem ul li a:hover {
          text-decoration: none; }

@media (max-width: 1200px) {
  .news-items {
    margin-bottom: 30px; } }

@media (max-width: 991px) {
  .news {
    margin-top: 0; }
    .news-nav {
      margin-bottom: 0; }
      .news-nav li a {
        padding: 0 10px; }
    .news-elems {
      margin-top: 0; }
    .news-elem {
      margin-bottom: 30px;
      padding-left: 20px; }
      .news-elem__head {
        font-size: 22px; }
    .news-item {
      padding: 20px 0; }
      .news-item__head {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 6px; }
      .news-item__text {
        line-height: 1.35; } }

@media (max-width: 575px) {
  .news-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .news-nav li {
      width: 50%; }
      .news-nav li a {
        width: 100%;
        text-align: center; }
  .news-item__head {
    font-size: 20px; } }

.article-wrap {
  margin-top: 6px;
  font-family: 'PTSans'; }
  .article-wrap .news-elems {
    margin-top: 0; }
  .article-wrap .news-item__head {
    margin-bottom: 26px; }

.article-content {
  margin-left: 40px; }
  .article-content p {
    color: #48423b;
    line-height: 1.65;
    margin-bottom: 26px; }

.article-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 49px; }

.article-tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-tags li {
    margin-right: 11px; }
    .article-tags li:last-child {
      margin-right: 0; }
    .article-tags li a {
      color: #1fa879;
      font-family: 'PTSans';
      font-weight: 700;
      text-decoration: underline; }
      .article-tags li a:hover {
        text-decoration: none; }

.article-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-soc__head {
    margin-right: 16px; }
  .article-soc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .article-soc ul li {
      margin-right: 18px; }
      .article-soc ul li:last-child {
        margin-right: 0; }
      .article-soc ul li a {
        width: 28px;
        height: 28px; }

@media (max-width: 1200px) {
  .article-wrap .news-item__head {
    margin-bottom: 18px; }
  .article-content {
    margin-left: 0; }
  .article-bottom {
    margin-top: 32px; } }

@media (max-width: 991px) {
  .article-content p {
    line-height: 1.35;
    margin-bottom: 18px; }
  .article-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px; }
  .article-tags {
    margin-bottom: 16px; } }

@media (max-width: 575px) {
  .article-soc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .article-soc__head {
      margin-right: 0;
      margin-bottom: 10px; } }

.other-news {
  padding: 45px 0 47px; }
  .other-news-wrap {
    background-color: #edf2f5; }
  .other-news-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px; }
  .other-news__head {
    font-family: 'PTSans';
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 18px;
    position: relative; }
    .other-news__head:after {
      content: '';
      display: block;
      background-color: #1fa879;
      width: 80px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .other-news__link {
    line-height: 40px;
    padding: 0 16px;
    margin-top: 4px;
    color: #fff;
    background-color: #1fa879;
    font-family: 'PTSans';
    font-weight: 700; }
    .other-news__link:hover {
      opacity: .9;
      color: #fff; }
  .other-news-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .other-news-item {
    width: 380px;
    margin-right: 60px; }
    .other-news-item:last-child {
      margin-right: 0; }
  .other-news__date {
    color: #48423b;
    margin-bottom: 16px;
    font-family: 'PTSans'; }
  .other-news__name {
    color: #1fa879;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    font-family: 'PTSans'; }
    .other-news__name:hover {
      color: #000; }

@media (max-width: 1200px) {
  .other-news {
    padding: 32px 0; }
    .other-news-header {
      margin-bottom: 26px; }
    .other-news-item {
      margin-right: 20px; }
    .other-news__date {
      margin-bottom: 10px; }
    .other-news__name {
      font-size: 20px; } }

@media (max-width: 767px) {
  .other-news-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .other-news-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; } }

@media (max-width: 575px) {
  .other-news {
    padding: 22px 0 14px; }
    .other-news-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px; }
    .other-news__head {
      font-size: 22px;
      margin-bottom: 18px; }
    .other-news__link {
      margin-top: 0; }
    .other-news__name {
      line-height: 1.25; } }
