$font-family-play: 'Play';

$color-black: #0a0a0a;
$color-gray: #7c7c7c;
$color-blue: #0068b4;
$color-red: #e00109;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px/1.65 'Roboto', sans-serif;

  @media screen and (max-width: 767px) {
    line-height: 1.5;
  }
}

a {
  display: inline-block;
  font: 400 16px/1.65 'Roboto', sans-serif;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 1.65;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 0;
  color: #0a0a0a;
  font: 400 16px 'Roboto';

  &::placeholder {
    color: #0a0a0a;
  }
  &::-moz-placeholder {
    color: #0a0a0a;
  }
  @media screen and (max-width: 1336px) {
    padding: 0 20px;
  }
}

input.input-error {
  border-color: #a94442;
  &::placeholder {
    color: #a94442;
  }
  &::-ms-placeholder {
    color: #a94442;
  }
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1260px;
  }
}
@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}
  