// - Title

.title {
  color: $color-blue;
  font: 700 48px/1.33 $font-family-play;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    font-size: 36px;
  }
  @media screen and (max-width: 767px) {
    font-size: 32px;
  }
  @media screen and (max-width: 575px) {
    font-size: 28px;
  }
}
.title-two {
  font: 700 34px/1.29 $font-family-play;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    font-size: 28px;
  }
}
.title-three {
  font: 700 28px/1.21 $font-family-play;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    font-size: 20px;
  }
}
.title-before {
  position: relative;
  padding-top: 67px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 10px;
    background-color: $color-red;
  }
  @media screen and (max-width: 575px) {
    padding-top: 50px;

    &::before {
      width: 100px;
      height: 8px;
    }
  }
}

// - Link

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 180px;
  padding: 21px 39px 19px;
  border: 0;
  background-color: $color-blue;
  color: #ffffff;
  line-height: 1.3;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;

  &:hover {
    background-color: $color-red;
    color: #ffffff;
  }
  img {
    flex-shrink: 0;
    margin-left: 16px;
  }
  @media screen and (max-width: 991px) {
    padding: 16px 26px 14px;
  }
}

.link-light {
  background-color: #e5f0f7;
  color: $color-blue;

  &:hover {
    background-color: $color-red;
    color: #ffffff;
  }
}

.link-red {
  background-color: $color-red;

  &:hover {
    background-color: $color-blue;
  }
}