.heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 78px 0 40px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 10px;
    background-color: $color-red;
  }
  &__link {
    margin-top: 10px;
    padding-right: 25px;
    padding-left: 21px;
    background-color: $color-blue;

    &:hover {
      background-color: $color-red;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 56px 0 32px;
  }
  @media screen and (max-width: 575px) {
    &::before {
      width: 100px;
    }
    &__link {
      display: none;
    }
  }
}