.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 36px 60px 32px;
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: inset 0 0 1px 2px $color-blue;

    .news-card__title {
      color: $color-blue;
    }
    .news-card__link img {
      opacity: 1;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3000px;
    height: 1px;
    background-color: #bababa;
  }
  &::before {
    top: -1px;
    display: none;
  }
  &::after {
    bottom: -1px;
  }
  &:first-child::before {
    display: block;
    top: 0;
    bottom: auto;
  }
  &:nth-child(3n+2) {
    border-right: 1px solid #bababa;
    border-left: 1px solid #bababa;
  }
  &__date {
    margin-bottom: 27px;
    color: #898989;
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: 25px;
    color: $color-black;
    font-size: 24px;
    line-height: 1.42;
    transition: color 300ms;
  }
  &__text {
    margin-bottom: 26px;
    color: #000000;
  }
  &__link {
    margin-top: auto;
    color: $color-blue;

    img {
      margin-left: 10px;
      opacity: 0;
      transition: opacity 300ms;
    }
  }
  @media screen and (max-width: 1500px) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media screen and (max-width: 1336px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (max-width: 991px) {
    &:nth-child(3n+2) {
      border-right: 0;
      border-left: 0;
    }
    &:nth-child(2n+1) {
      border-right: 1px solid #bababa;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 20px;

    &:nth-child(2n+1) {
      border-right: 0;
    }
    &__date {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 22px;
    }
    &__text {
      margin-bottom: 20px;
    }
  }
}