.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 20px 5.2vw 12px;
  background-color: $color-red;

  &__inner {
    width: 100%;
  }
  &__title {
    margin-bottom: 36px;
    color: #ffffff;
    text-align: center;
  }
  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 300px;
    grid-gap: 40px;
    margin-bottom: 22px;
  }
  &__link {
    padding-right: 10px;
    padding-left: 10px;
  
    &:hover {
      background-color: #e5f0f7;
      color: $color-blue;

      &::after {
        background-position-x: left;
      }
    }
    &::after {
      content: '';
      flex-shrink: 0;
      width: 26px;
      height: 14px;
      margin-left: 16px;
      background-image: url('../images/arrow-right.png');
      background-repeat: no-repeat;
      background-position-x: right;
    }
  }
  &__agree {
    position: relative;
    padding-left: 28px;
    cursor: pointer;

    input {
      display: none;

      &:checked + .feedback__agree-box::before {
        opacity: 1;
      }
    }
    &-box {
      position: absolute;
      top: 8px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #ffffff;

      &::before {
        content: '';
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background-color: $color-blue;
        opacity: 0;
        transition: opacity 300ms;
      }
    }
    &-text {
      color: #ffffff;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1336px) {
    &__fields {
      grid-template-columns: repeat(2, 1fr) 260px;
      grid-gap: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 20px;

    &__fields {
      grid-template-columns: repeat(2, 1fr) 200px;
      grid-gap: 12px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 30px 20px;
    &__title {
      margin-bottom: 24px;
    }
    &__fields {
      grid-template-columns: 1fr;
      grid-gap: 14px;
    }
  }
}

.feedback-blue {
  background-color: $color-blue;

  .feedback__link {
    background-color: $color-red;

    &:hover {
      background-color: #e5f0f7;
    }
  }
}