.event-card {
  display: flex;
  min-height: 260px;
  margin: -1px;
  border: 1px solid #bababa;
  background-color: #ffffff;
  color: $color-black;
  transition-property: border-color, background-color, color;
  transition-duration: 300ms;

  &:hover {
    border-color: $color-blue;
    background-color: $color-blue;
    color: #ffffff;

    .event-card__block::before {
      border-color: #ffffff;
    }
    .event-card__subtitle,
    .event-card__text > span {
      color: #ffffff;
    }
    .event-card__link {
      background-color: $color-red;
    }
  }
  &__block {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 292px;
    padding: 28px 41px 20px;
    
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      right: 0;
      bottom: 4px;
      width: 5px;
      border-right: 5px dotted $color-blue;
      transition: border-color 300ms;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 18px 62px 20px 49px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 40px;
  }
  &__date {
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.45;
  }
  &__subtitle {
    margin-bottom: 6px;
    color: $color-gray;
    transition: color 300ms;
  }
  &__title {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 1.42;
  }
  &__link {
    position: relative;
    padding-right: 27px;
    padding-left: 27px;
  }
  &__text {

    > span {
      color: $color-gray;
      transition: color 300ms;
    }
  }
  @media screen and (max-width: 1336px) {
    &__body {
      padding-right: 20px;
      padding-left: 30px;
    }
    &__content {
      padding-right: 20px;
    }
    &__block {
      width: 240px;
      padding-right: 20px;
      padding-left: 20px;
    }
    &__title {
      margin-bottom: 18px;
      font-size: 22px;
      line-height: 1.35;
    }
  }
  @media screen and (max-width: 991px) {
    &__body {
      flex-direction: column;
      align-items: flex-start;
    }
    &__content {
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;

    &__body {
      padding: 20px;
    }
    &__content {
      margin-bottom: 16px;
    }
    &__block {
      width: 100%;
      padding: 20px;
      
      &::before {
        top: auto;
        left: 4px;
        right: 4px;
        bottom: 0;
        height: 5px;
        width: auto;
        border-bottom: 5px dotted #0068b4;
      }
    }
    &__title {
      margin-bottom: 12px;
    }
    &__date {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}
