.team-card {
  display: flex;
  align-items: flex-start;

  &__img {
    flex-shrink: 0;
    width: 160px;
    height: 160px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    flex-grow: 1;
    margin-top: -3px;
    padding-left: 30px;
  }
  &__name {
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.42;
  }
  &__descr {
    margin-bottom: 26px;

    span {
      display: block;
    }
  }
  &__contacts {
    font-weight: 700;
  }
  &__tel {
    color: $color-black;
    font-weight: 700;
    transition: color 300ms;

    &:hover {
      color: $color-blue;
    }
  }
  &__mail {
    color: $color-blue;
    font-weight: 700;
    transition: color 300ms;

    &:hover {
      color: $color-black;
    }
  }
  @media screen and (max-width: 575px) {
    flex-direction: column;

    &__img {
      margin-bottom: 20px;
    }
    &__content {
      padding-left: 0;
    }
    &__name {
      margin-bottom: 14px !important;
    }
    &__descr {
      margin-bottom: 20px;
    }
  }
}