.service-card {
  position: relative;
  z-index: 1;
  height: 360px;
  padding: 43px 60px 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  transition: color 300ms;

  &:hover {
    color: #ffffff;

    &::after {
      opacity: 1;
    }
    .service-card__link > img {
      opacity: 1;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &::before {
    background-color: rgba(0, 0, 0, .5);
  }
  &::after {
    background-color: $color-blue;
    opacity: 0;
    transition: opacity 300ms;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .service-card:nth-child(3n + 1) & {
      max-width: 410px;
      margin-left: auto;
    }
    .service-card:nth-child(3n + 3) & {
      max-width: 410px;
      margin-left: 10px;
    }
  }
  &__name {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 24px;
    line-height: 1.42;
  }
  &__link {

    > img {
      margin-left: 16px;
      opacity: 0;
      transition: opacity 300ms;
    }
  }
  @media screen and (max-width: 1500px) {
    &__content {
  
      .service-card:nth-child(3n + 1) &,
      .service-card:nth-child(3n + 3) & {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
  @media screen and (max-width: 1336px) {
    padding: 30px;

    &__name {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 991px) {
    height: 340px;
  }
  @media screen and (max-width: 680px) {
    height: 300px;
    padding: 20px;
  }
}