.association {
  padding-top: 70px;
  background-color: #e5f0f7;
  background-image: url('../images/planet-white.png');
  background-repeat: no-repeat;
  background-position: 50% 60px;

  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__nav {
    flex-shrink: 0;
    width: 180px;
    padding-top: 4px;

    &-item {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
      &--active .association__nav-link {
        color: #000000;
      }
    }
    &-link {
      color: $color-blue;
      transition: color 300ms;

      &:hover {
        color: #000000;
      }
    }
  }
  &__body {
    flex-grow: 1;
    padding-left: 81px;
  }
  &__title {
    margin-bottom: 39px;
    color: $color-blue;
    font: 700 44px/1.23 $font-family-play;
  }
  &__subtitle {
    max-width: 1000px;
    margin-bottom: 35px;
    color: $color-black;
    font: 700 24px/1.42 $font-family-play;
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    align-items: flex-start;
  }
  &__descr {
    width: 46.8%;
    padding: 16px 47px 16px 0;
    color: $color-black;
    font-size: 18px;
  }
  &__text {
    margin-bottom: 26px;
    line-height: 1.6;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    align-self: flex-end;
    width: 53.2%;
  }
  @media screen and (max-width: 1500px) {
    &__title {
      margin-bottom: 30px;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
    &__nav {
      
      &-item {
        margin-bottom: 18px;
      }
    }
  }
  @media screen and (max-width: 1336px) {
    padding-top: 50px;

    &__body {
      padding-left: 20px;
    }
    &__title {
      margin-bottom: 22px;
      font-size: 38px;
    }
    &__subtitle {
      font-size: 22px;
    }
    &__descr {
      padding-right: 16px;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 991px) {

    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__content {
      flex-direction: column;
    }
    &__descr {
      width: 100%;
      margin-bottom: 20px;
      padding: 0;
    }
    &__text {
      margin-bottom: 12px;
    }
    &__img {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    background-size: contain;

    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__nav {
      width: 100%;
      margin-bottom: 22px;
      padding-top: 0;
      text-align: center;

      &-item {
        margin-bottom: 12px;
      }
    }
    &__body {
      padding-left: 0;
    }
    &__title {
      font-size: 28px;
    }
  }
}