.service {
  padding-bottom: 42px;
  
  &__intro {
    min-height: 550px;
    padding: 75px 0 74px;
    background-color: #e5f0f7;

    &-content {
      max-width: 939px;
      margin: 0 auto;
    }
    &-title {
      margin-bottom: 53px;
      color: $color-black;
      font-size: 34px;
      line-height: 1.29;
      word-break: break-word;
    }
    &-text {
      margin-bottom: 51px;
      line-height: 1.7;
    }
    &-link {
      min-width: 170px;
      padding-right: 18px;
      padding-left: 18px;
    }
  }
  &__details {
    position: relative;
    z-index: 1;
    padding-bottom: 77px;
    
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 40.7vw;
      height: 39.6vw;
      background-color: $color-blue;
    }
    &-title {
      position: relative;
      max-width: 939px;
      margin: 0 auto 51px;
      padding-top: 67px;
      color: $color-blue;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 10px;
        background-color: $color-red;
      }
    }
    &-content {
      max-width: 940px;
      margin: 0 auto;
      padding: 66px 0 82px;
    }
    &-text {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 39px 40px;
  }
  @media screen and (max-width: 1336px) {
    &__intro {
      min-height: 400px;
      padding: 60px 0;
    }
    &__details {
      padding-bottom: 30px;
  
      &-content {
        padding: 60px 0;
      }
    }
    &__gallery {
      grid-gap: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    &__intro {
      
      &-title {
        margin-bottom: 28px;
        font-size: 28px;
      }
      &-text {
        margin-bottom: 30px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__details {
      
      &::after {
        display: none;
      }
      &-title {
        margin-bottom: 34px;
      }
      &-content {
        padding: 40px 0;
      }
      &-text {
        margin-bottom: 18px;
      }
    }
    &__gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 575px) {
    &__gallery {
      grid-template-columns: 1fr;
      grid-gap: 12px;

      &-item {
        text-align: center;
      }
    }
  }
}