.event {
  padding-bottom: 71px;

  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px 33px;
    margin-bottom: 100px;

    &-item {
      text-align: center;
    }
  }
  @media screen and (max-width: 1336px) {
    &__gallery {
      margin-bottom: 60px;
    }
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 50px;

    &__gallery {
      grid-gap: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  
    &__gallery {
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 575px) {
    &__gallery {
      grid-gap: 10px;
    } 
  }
}

.event__intro {
  min-height: 531px;
  padding: 75px 0;
  background-color: #e5f0f7;

  &-body {
    max-width: 939px;
    margin: 0 auto;
  }
  &-title {
    margin-bottom: 52px;
    color: $color-black;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.29;
  }
  &-content {
    display: flex;
    align-items: flex-start;
  }
  &-text {
    flex-grow: 1;
    padding-right: 5.3vw;
    font-size: 18px;
    line-height: 1.6;
  }
  &-items {
    flex-shrink: 0;
    width: 218px;
  }
  &-item {
    margin-bottom: 30px;
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &-head {
    font-weight: 700;
    line-height: 1.4;
  }
  @media screen and (max-width: 1336px) {
    min-height: 500px;
    padding: 60px 0;
  }
  @media screen and (max-width: 767px) {
    min-height: 400px;
    padding: 40px 0;

    &-title {
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 575px) {
    &-content {
      flex-direction: column;
    }
    &-title {
      margin-bottom: 24px;
      font-size: 28px;
    }
    &-text {
      margin-bottom: 26px;
      padding-right: 0;
    }
    &-items {
      width: 100%;
    }
    &-item {
      margin-bottom: 16px;
      font-size: 16px;
    }
  }
}

.event__program {
  $width_container: 940px;
  padding-bottom: 50px;

  &-header {
    max-width: $width_container;
    margin: 0 auto 54px;
  }
  &-title {
    margin-bottom: 33px;
    color: $color-blue;
  }
  &-text {
    font-size: 18px;
    line-height: 1.6;
  }
  &-head {
    padding: 21px 0 15px;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
  }
  &-date {
    max-width: $width_container;
    margin: 0 auto;
    color: $color-black;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
  }
  &-item {
    padding: 26px 0 22px;
    border-bottom: 1px solid #bababa;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &-inner {
    display: grid;
    grid-template-columns: 16% 58.3% 25.7%;
    max-width: $width_container;
    margin: 0 auto;
  }
  &-time,
  &-caption {
    font-weight: 700;
  }
  &-content {
    padding-right: 40px;
  }
  &-descr {
    margin-bottom: 0;
    line-height: 1.75;

    .event__program-info & {
      line-height: 1.6;
    }
  }
  &-bottom {
    margin-top: 69px;
    text-align: center;
  }
  &-link {
    padding-right: 23px;
    padding-left: 23px;
  }
  @media screen and (max-width: 1336px) {
    padding-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    &-inner {
      grid-template-columns: 20% 50% 30%;
    }
    &-content {
      padding-right: 10px;
    }
    &-bottom {
      margin-top: 50px;
    }
  }
  @media screen and (max-width: 575px) {
    &-header {
      margin-bottom: 40px;
    }
    &-title {
      margin-bottom: 20px;
    }
    &-inner {
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
    }
    &-item {
      padding: 20px 0 16px;
    }
  }
}

.event__details {
  position: relative;
  z-index: 1;
  margin: 49px 0;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 33.5vw;
    height: 57.3vw;
    background-color: $color-red;
  }
  &-container {
    border-top: 1px solid #bababa;
  }
  &-title {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 49px;
    color: $color-blue;
  }
  @media screen and (max-width: 1336px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 20px;

    &::after {
      display: none;
    }
  }
  @media screen and (max-width: 575px) {
    &-title {
      margin-bottom: 30px;
    }
  }
}