.contacts {
  overflow: hidden;
  padding-top: 60px;

  &__title {
    margin-bottom: 17px;
  }
  &__content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 84px;
  }
  &__descr {
    width: 49.3%;
    padding-top: 35px;
    padding-right: 66px;
  }
  &__text {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    width: 50.7%;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 520px 1fr;
    grid-template-rows: minmax(200px, auto) minmax(218px, auto);
    grid-auto-rows: minmax(180px, auto);
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 3000px;
      height: 1px;
      background-color: #bababa;
    }
    &::before {
      top: -1px;
      display: none;
    }
    &::after {
      bottom: -1px;
    }
    &:first-child::before {
      display: block;
      top: 0;
      bottom: auto;
    }
    &:nth-child(3n+2) {
      padding: 20px 60px;
      border-right: 1px solid #bababa;
      border-left: 1px solid #bababa;
    }
    &:nth-child(3n+3) {
      padding: 20px 70px;
    }
  }
  &__label {
    margin-bottom: 9px;
  }
  &__address {
    font-size: 24px;
    line-height: 1.85;
  }
  &__tel {
    color: $color-black;
    font-size: 24px;
    transition: color 300ms;

    &:hover {
      color: $color-blue;
    }
  }
  &__mail {
    color: $color-blue;
    font-size: 24px;
  }
  &__map {
    height: 600px;

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  @media screen and (max-width: 1500px) {
    &__map {
      height: 500px;
    }
  }
  @media screen and (max-width: 1336px) {
    &__content {
      margin-bottom: 70px;
    }
    &__descr {
      padding-top: 20px;
      padding-right: 32px;
    }
    &__text {
      margin-bottom: 18px;
    }
    &__items {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 180px;
    }
    &__item {
      padding: 20px !important;
    }
    &__address {
      font-size: 18px;
      line-height: 1.55;
    }
    &__tel,
    &__mail {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      
    }
    &__item {

      &:nth-child(3n+2) {
        border: 0;
      }
      &:nth-child(2n+1) {
        border-right: 1px solid #bababa;
      }
    }
    &__map {
      height: 440px;
    }
  }
  @media screen and (max-width: 767px) {
    &__content {
      flex-direction: column;
    }
    &__descr {
      width: 100%;
      margin-bottom: 40px;
      padding: 0;
    }
    &__img {
      width: 100%;
      text-align: center;
    }
    &__map {
      height: 360px;
    }
  }
  @media screen and (max-width: 680px) {
    &__items {
      grid-template-columns: 1fr;
    }
    &__item {

      &:nth-child(2n+1) {
        border: 0;
      }
    }
  }
}