.article {
  padding: 76px 0 90px;

  &__content {
    max-width: 940px;
    margin: 0 auto;

    h1, h2, h3 {
      margin-bottom: 40px;
      color: $color-black;
      font-weight: 400;
      font-size: 34px;
      line-height: 1.29;
    }
    > img {
      margin-bottom: 45px;
    }
    p {
      margin-bottom: 26px;
    }
  }
  &__date {
    margin-bottom: 30px;
    color: #898989;
  }
  &__back {
    padding-top: 28px;
    text-align: center;
  }
  &__link {
    padding-right: 26px;
    padding-left: 26px;
    background-color: $color-red;
    
    &:hover {
      background-color: $color-blue;
      color: #ffffff;
    }
    img {
      flex-shrink: 0;
      margin: 0 16px 0 0;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 60px 0;
  }
  @media screen and (max-width: 767px) {
    &__content {
      
      h1, h2, h3 {
        margin-bottom: 24px;
        font-size: 28px;
      }
      > img {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 20px;
      }
    }
    &__date {
      margin-bottom: 26px;
    }
    &__back {
      padding-top: 10px;
    }
  }
}