.services-page {
  padding: 60px 0 104px;

  &__title {
    margin-bottom: 44px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 520px 1fr;
  }
  @media screen and (max-width: 1336px) {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 70px;
  
    &__items {
      grid-template-columns: repeat(2, 1fr);   
    }
  }
  @media screen and (max-width: 680px) {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}