.news-page {
  overflow: hidden;
  padding: 60px 0 90px;

  &__title {
    margin-bottom: 44px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 -60px 75px;
  }
  @media screen and (max-width: 1600px) {
    &__items {
      margin: 0 0 60px;
    }
  }
  @media screen and (max-width: 1336px) {
    padding-bottom: 60px;
  }
  @media screen and (max-width: 991px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;

    &__title {
      margin-bottom: 36px;
    }
    &__items {
      grid-template-columns: 1fr;
    }
  }
}