.swiper-button-next,
.swiper-button-prev {
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  margin: 0;
  background-color: #035997;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 300ms;

  &:after {
    display: none;
  }
  &:hover {
    background-color: $color-red;
  }
}

.swiper-button-prev {
  background-image: url('../images/left.png');
}

.swiper-button-next {
  background-image: url('../images/right.png');
}

.swiper-pagination {
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 18px;
  border: 1px solid #e5f0f7;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;

  &:last-child {
    margin-right: 0;
  }
}

.swiper-pagination-bullet-active {
  background-color: #e5f0f7;
}