.team {
  padding-top: 44px;
  padding-bottom: 77px;

  &__container {
    border-top: 1px solid #bababa;
  }
  &__inner {
    max-width: 940px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 68px;
    color: $color-blue;
  }
  &__subtitle {
    margin-bottom: 41px;
    color: $color-blue;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.42;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 42px;
    margin-bottom: 82px;

    &:last-child {
      margin-bottom: 0;
    }
    &--full {
      grid-template-columns: 1fr;
      grid-gap: 51px;

      .team-card {
        &__name {
          margin-bottom: 26px;
          font-size: 24px;
          line-height: 1.42;
        }
        &__descr {
          padding-right: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    &__title {
      margin-bottom: 50px;
    }
    &__items {
      grid-template-columns: 1fr;
      grid-gap: 40px;
      margin-bottom: 60px;
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 60px;
  
    &__title {
      margin-bottom: 40px;
    }
    &__subtitle {
      margin-bottom: 30px;
    }
    &__items {
      margin-bottom: 40px;
    }
  }
}