.news {
  overflow: hidden;
  padding-bottom: 82px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 -60px;
  }
  &__heading {

    .heading__link {
      background-color: $color-red;

      &:hover {
        background-color: $color-blue;
      }
    }
  }
  @media screen and (max-width: 1600px) {
    &__items {
      margin: 0;
    }
  }
  @media screen and (max-width: 991px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;

    &__items {
      grid-template-columns: 1fr;
    }
  }
}