.events {
  position: relative;
  z-index: 1;
  padding-bottom: 114px;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 54.3vw;
    background-color: $color-red;
  }
  &__heading {
    padding-top: 60px;

    .heading__link {
      min-width: 240px;

      &:hover {
        background-color: #e5f0f7;
        color: $color-blue;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 90px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 70px;
  }
}