.services {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $color-red;
  }
  &__heading {
    padding-top: 70px;
    padding-right: 80px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 520px 1fr;
  }
  @media screen and (max-width: 1336px) {
    &__heading {
      padding-right: 0;

      .heading__link {
        margin-top: 0;
      }
    }
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 991px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);   
    }
  }
  @media screen and (max-width: 680px) {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}