.showcase {

  &__slider {
    position: relative;
  }
  &__navigation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .swiper-pagination {
      position: absolute;
      z-index: 1;
      bottom: 51px;
      left: 100px;
    }
    .swiper-button-prev {
      left: -60px;
    }
    .swiper-button-next {
      right: -60px;
    }
  }
  &__item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 560px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: skewX(-30deg);
      width: 1000px;
      height: 100%;
      margin-left: -184px;
      background-color: $color-blue;
    }
  }
  &__content {
    max-width: 1060px;
    padding: 114px 70px 0 98px;
  }
  &__title {
    margin-bottom: 54px;
    color: #ffffff;
  }
  &__link {
    min-width: auto;
  }
  @media screen and (max-width: 1600px) {
    &__navigation {
      .swiper-button-prev {
        left: 0px;
      }
      .swiper-button-next {
        right: 0px;
      }
    }
    &__item {
      &::before {
        width: 900px;
      }
    }
  }
  @media screen and (max-width: 1336px) {
    &__navigation .swiper-pagination {
      bottom: 30px;
      left: 82px;
    }
    &__content {
      padding: 100px 70px 0 80px;
    }
    &__item::before {
      width: 740px;
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      min-height: 500px;

      &::before {
        width: 580px;
      }
    }
    &__content {
      padding-top: 70px;
    }
  }
  @media screen and (max-width: 767px) {
    &__navigation {
      .swiper-pagination {
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none !important;
      }
    }
    &__item {
      min-height: 420px;

      &::before {
        width: 520px;
      }
    }
    &__content {
      padding: 60px 20px 0;
    }
    &__title {
      margin-bottom: 36px;
    }
  }
  @media screen and (max-width: 575px) {
    &__content {
      padding: 46px 8px 0;
    }
    &__item {
      &::before {
        width: 400px;
      }
    }
    &__title {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 360px) {
    &__item {
      &::before {
        width: 320px;
      }
    }
  }
}