.join {
  background-image: url('../images/join-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 100px 0 70px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 10px;
      background-color: $color-blue;
    }
  }
  &__title {
    flex-shrink: 0;
    max-width: 490px;
    width: 100%;
    margin-top: -8px;
    margin-right: 90px;
    color: #ffffff;
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 39px 80px;
    align-items: flex-start;
  }
  &__actions {
    margin-top: -6px;
  }
  &__checkbox {
    position: relative;
    margin-bottom: 10px;
    padding-left: 29px;
    line-height: 1.4;
    cursor: pointer;
    
    input {
      display: none;

      &:checked + .join__checkbox-field::before {
        opacity: 1;
      }
    }
    &-field {
      position: absolute;
      top: 6px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #ffffff;

      &::before {
        content: '';
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background-color: $color-blue;
        opacity: 0;
        transition: opacity 300ms;
      }
    }
    &-text {
      color: #ffffff;
      font-size: 14px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 10px;
    border: 0;
    background-color: $color-blue;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;

    &:hover {
      background-color: #e5f0f7;
      color: $color-blue;

      &::after {
        background-position: left;
      }
    }
    &::after {
      content: '';
      width: 26px;
      height: 14px;
      margin-left: 16px;
      background-image: url('../images/arrow-right.png');
      background-position: right;
    }
    > img {
      margin-left: 16px;
    }
  }
  @media screen and (max-width: 1500px) {
    &__title {
      margin-right: 60px;
    }
    &__form {
      grid-gap: 30px;
    }
  }
  @media screen and (max-width: 1336px) {
    &__title {
      max-width: 360px;
      margin-right: 30px;
    }
  }
  @media screen and (max-width: 991px) {
    &__inner {
      flex-direction: column;
      padding: 70px 0 50px;
    }
    &__title {
      max-width: 100%;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 36px;
    }
  }
  @media screen and (max-width: 575px) {
    background: $color-red;
  
    &__form {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}