.goals {
  padding-bottom: 50px;

  &__inner {
    max-width: 940px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 46px;
    color: $color-blue;
  }
  &__text {
    margin-bottom: 53px;
    font-size: 18px;
    line-height: 1.6;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 38px 60px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
  }
  &__img {
    flex-shrink: 0;
    height: 60px;
  }
  &__content {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 40px;
    color: $color-black;
  }
  &__name {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.08;
  }
  &__descr {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1336px) {
    &__title {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 991px) {
    &__items {
      grid-gap: 30px;
    }
    &__content {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 30px;
  
    &__text {
      margin-bottom: 40px;
      font-size: 16px;
    }
    &__items {
      grid-template-columns: 1fr;   
    }
    &__name {
      font-size: 20px;
    }
  }
}