.about-us {
  padding: 80px 0;
  
  &__inner {
    position: relative;
    padding-top: 84px;
    border-top: 1px solid #bababa;
    background-image: url('../images/planet.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 10px;
      background-color: $color-red;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 50.7% 1fr;
    grid-column-gap: 80px;
  }
  &__figure {
    margin: 0;
  }
  &__content {
    margin-top: -6px;
  }
  &__title {
    max-width: 900px;
    margin-bottom: 34px;
  }
  &__caption {
    margin-bottom: 33px;
    color: $color-red;
  }
  &__text {
    margin-bottom: 26px;
  }
  &__link {
    margin-top: 13px;
    padding-right: 44px;
    padding-left: 44px;
  }
  @media screen and (max-width: 1336px) {
    &__body {
      grid-column-gap: 40px;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 70px 0;

    &__inner {
      padding-top: 60px;
      background-size: contain;
    }
    &__body {
      grid-column-gap: 20px;
    }
    &__caption {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 14px;
      line-height: 1.45;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 60px 0;

    &__body {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
    &__figure {
      margin-bottom: 26px;
    }
    &__title {
      margin-bottom: 22px;
    }
    &__text {
      line-height: 1.55;
    }
    &__link {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}