@import './_common';
@import './_typography';

@import './plugin-swiper';

@import './block-heading';
@import './block-news-card';
@import './block-event-card';
@import './block-service-card';
@import './block-feedback';
@import './block-team-card';

@import './section-showcase';
@import './section-news';
@import './section-events';
@import './section-services';
@import './section-about-us';
@import './section-join';
@import './section-goals';
@import './section-team';

@import './page-contacts';
@import './page-events';
@import './page-services';
@import './page-news';
@import './page-article';
@import './page-service';
@import './page-event';
@import './page-association';

/* Burger */

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      transition: all .2s ease-in-out;
      background-color: #222;
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        transition: all .2s ease-in-out;
        background-color: #222;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    display: block;
  }
}

/* Banner Top */

.banner-top {
  margin: 30px 0;

  &__container {
    padding: 0 20px;
  }
  @media screen and (max-width: 1336px) {
    &__container {
      padding: 0;
    }
  }
  @media screen and (max-width: 991px) {
    margin: 18px 0 10px;
  }
}

/* Header */

.header {
  position: relative;
  padding-top: 10px;

  &__container {
    padding: 0 20px;
  }
  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__logo {
    flex-shrink: 0;
    width: 105px;
  }
  &__body {
    flex-grow: 1;
    padding-left: 36px;
  }
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__title {
    max-width: 700px;
    margin-top: -2px;
    color: $color-blue;
  }
  &__link {
    padding-right: 43px;
    padding-left: 32px;
  }
  &__nav {
    padding-right: 6px;
  }
  @media screen and (max-width: 1500px) {
    &__nav {
      padding-right: 0;
    }
  }
  @media screen and (max-width: 1336px) {
    &__container {
      padding: 0;
    }
    &__body {
      padding-left: 16px;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 10px 0;
  
    &__inner {
      align-items: center;
    }
    &__logo {
      width: 96px;
    }
    &__info {
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
    }
    &__title {
      display: none;
    }
    &__link {
      order: 1;
      margin-left: 20px;
      padding-right: 30px;
      padding-left: 30px;
    }
    &__nav {
      position: absolute;
      z-index: 99;
      top: 100%;
      right: 0;
      left: 0;
      display: none;
      background-color: #ffffff;
    }
  }
  @media screen and (max-width: 575px) {
    &__link {
      display: none;
    }
  }
}

/* Nav */
 
.nav {
  
  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__item {
    position: relative;
    
    &:hover {
      
      .nav__link {
        background-color: #e5f0f7;
        color: #000000;
      }
      .nav__sub {
        z-index: 99;
        opacity: 1;
        visibility: visible;
      }
    }
    &--active .nav__link {
      background-color: #e5f0f7;
      color: #000000;
    }
  }
  &__link {
    padding: 6px 21px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    transition: background-color 300ms;
  }
  &__sub {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 410px;
    padding: 18px 20px;
    background-color: #e5f0f7;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 300ms;

    &-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &-link {
      color: #000000;
    }
  }
  @media screen and (max-width: 1500px) {
    &__link {
      padding-right: 14px;
      padding-left: 14px;
    }
  }
  @media screen and (max-width: 1336px) {
    &__link {
      padding: 6px;
      font-weight: 400;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 991px) {
    &__list {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }
    &__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      padding-right: 10px;
      padding-left: 10px;
    }
    &__sub {
      display: none;
    }
  }
}

/* Footer */

.footer {
  background-color: $color-blue;
  color: #ffffff;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 51px 0 43px;
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 42%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 13px 26px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
  }
  &__menu {
    display: flex;

    &-col {
      width: 182px;
      margin-right: 3vw;

      &:first-child {
        width: 226px;
        margin-right: 4.95vw;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__nav {

    & + & {
      margin-top: 42px;
    }
    &-item {
      margin-bottom: 8px;
    }
    &-link {
      color: #ffffff;
      font-size: 14px;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
  &__specials {

    &-title {
      margin-bottom: 9px;
    }
  }
  &__list {
    columns: 2;
    column-gap: 3.96vw;
    
    &-item {
      margin-bottom: 9px;
    }
    &-link {
      color: #ffffff;
      font-size: 14px;
      line-height: 1.75;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 370px;

    &-img {
      flex-shrink: 0;
      max-width: 144px;
    }
    &-text {
      padding-left: 17px;
      font-weight: 700;
      line-height: 1.5;
    }
  }
  &__contacts {
    display: flex;
  }
  &__contact {
    width: 283px;
    margin-right: 3.4vw;

    &:last-child {
      margin-right: 0;
    }
    &-title {
      margin-bottom: 9px;
      line-height: 1.3;
    }
  }
  &__mail {
    margin-top: 8px;

    a {
      color: #ffffff;
      text-decoration: underline;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__tel {
    color: #ffffff;
    font-size: 24px;
    line-height: 1;

    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  &__bottom {
    padding-right: 7.5vw;
  }
  &__develop {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.57;

    &:hover {
      color: #ffffff;
    }
    img {
      flex-shrink: 0;
      margin-top: 10px;
      margin-left: 11px;
    }
  }
  &__copyright {
    max-width: 840px;
    font-size: 14px;
    line-height: 1.57;

    span {
      display: block;
    }
  }
  @media screen and (max-width: 1500px) {
    &__body {
      padding-right: 0;
    }
    &__menu {
  
      &-col {
        &:first-child {
          margin-right: 3vw;
        }
      }
    }
    &__contact {
      width: 266px;
      margin-right: 2vw;
      font-size: 15px;
    }
    &__tel {
      font-size: 22px;
    }
    &__mail {
      margin-top: 6px;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 1336px) {
    &__logo {
      width: 320px;
  
      &-img {
        max-width: 122px;
      }
      &-text {
        padding-left: 12px;
        font-size: 14px;
      }
    }
    &__menu {

      &-col {
        width: 176px;
        margin-right: 6px;

        &:first-child {
          width: 180px;
          margin-right: 16px;
        }
      }
    }
    &__nav {

      &-item {
        margin-bottom: 5px;
      }
    }
    &__list {
      column-gap: 20px;
    }
    &__contact {
      width: 200px;
      margin-right: 14px;
    }
    &__tel {
      font-size: 20px;
    }
    &__bottom {
      padding-right: 0;
    }
    &__copyright {
      max-width: 700px;
    }
  }
  @media screen and (max-width: 991px) {
    &__top {
      flex-direction: column;
      align-items: center;
      padding: 26px 0 30px;
    }
    &__logo {
      margin-bottom: 22px;
    }
    &__contacts {
      justify-content: center;
    }
    &__contact {
      width: 30%;
    }
    &__menu {
      flex-wrap: wrap;

      &-col {

        &:first-child {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
    &__nav {
      & + & {
        margin-top: 20px;
      }
    }
    &__list {
      columns: 1;
      column-gap: 0;
    }
    &__bottom {
      flex-direction: column;
      padding: 26px 0;
    }
    &__copyright {
      order: -1;
      margin-bottom: 14px;
    }
  }
  @media screen and (max-width: 767px) {
    &__body {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 26px;
      padding-bottom: 26px;
    }
    &__logo {
      width: 300px;

      &-img {
        max-width: 110px;
      }
      &-text {
        padding-left: 10px;
      }
    }
    &__menu {

      &-col {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    &__body {
      grid-template-columns: 1fr;
    }
    &__contacts {
      flex-direction: column;
      width: 100%;
    }
    &__contact {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &__menu {
      margin-bottom: 20px;
    }
    &__nav {
      text-align: center;
    }
    &__specials {
      text-align: center;
    }
    &__list {

      &-link {
        line-height: 1.5;
      }
    }
  }
}

/* Breadcrumbs */

.breadcrumbs {
  margin-top: 10px;
  border-top: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;

  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 13px 0 9px;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 160px;
      height: 10px;
      background-color: $color-red;
    }
  }
  &__item {
    position: relative;
    margin-right: 25px;
    color: $color-gray;

    &::after {
      content: '>';
      position: absolute;
      right: -17px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-right: 0;
      
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: $color-blue;

    &:hover {
      color: $color-blue;
      text-decoration: underline;
    }
  }
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin: 0 3px;

    &--active .pagination__link {
      border-color: #bababa;
      background-color: #bababa;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    color: $color-blue;
    transition: color 300ms;

    &:hover {
      color: $color-red;
    }
  }
  &__prev,
  &__next {
    width: 26px;
    height: 14px;
    background-repeat: no-repeat;
    background-position-x: right;

    .pagination__link:hover & {
      background-position-x: left;
    }
  }
  &__prev {
    background-image: url('../images/pagination-prev.png');
  }
  &__next {
    background-image: url('../images/pagination-next.png');
  }
  @media screen and (max-width: 575px) {
    &__item {
      margin: 0 1px;
    }
    &__link {
      width: 36px;
      height: 36px;
      font-size: 15px;
    }
  }
}