@media only screen and (max-width: 1720px) {
  .container {
    width: 1300px;
  }
  .nav li a {
    letter-spacing: 2px;
  }
  .nav li {
    margin-right: 50px;
  }
  .sentence-item-par {
    margin-right: 20px;
  }
  .sentence-item-info {
    margin-right: 70px;
  }
  .reviews-items {
    width: 1100px;
  }
  .reviews-content {
    margin-left: 360px;
  }
  .gallery-video {
    width: 667px;
  }
  .gallery-item {
    width: 400px;
  }
  .slider {
    width: 1035px;
    margin: 0 auto 40px;
  }
  .contact {
    padding-right: 0;
  }
  .contact-input {
    margin-right: 45px;
  }
  .partners {
    padding: 0 0 26px;
  }
}

@media only screen and (max-width: 1360px) {
  .container {
    width: 970px;
  }
  .nav li a {
    font-size: 22px;
  }
  .nav li {
    margin-right: 30px;
  }
  .link {
    font-size: 22px;
    padding: 0 20px;
  }
  .header-content h3 {
    font-size: 38px;
  }
  .header-content__text p,
  .header-item p,
  .header-item span {
    font-size: 26px;
  }
  .header-item p {
    margin-bottom: 6px;
  }
  .header-content_link,
  .sentence-link {
    padding: 0 35px;
  }
  .sentence-content h3 {
    font-size: 50px;
  }
  .sentence-item-par {
    width: 200px;
  }
  .sentence-item__text {
    font-size: 18px;
  }
  .sentence-item-info {
    margin-right: 20px;
  }
  .gallery-video {
    margin: 0 auto 60px;
  }
  .gallery-item {
    width: 300px;
  }
  .reviews-items {
    width: 600px;
  }
  .reviews-content {
    margin-left: 0;
    width: auto;
  }
  .contacts {
    right: 50px;
    padding: 44px 26px 22px 22px;
  }
  .contacts h2 {
    font-size: 48px;
  }
  .contacts p {
    font-size: 22px;
  }
  .contacts a {
    font-size: 22px;
  }
  .contacts-wrap iframe {
    height: 325px;
  }
  .slider {
    width: 510px;
  }
  .partners {
    align-items: center;
  }
  .partners__img {
    width: 140px;
  }
  .contact-input label br {
    display: none;
  }
  .contact-input {
    width: 340px;
    margin-right: 20px;
  }
  .contact-info p {
    font-size: 22px;
  }
  .contact-info a {
    font-size: 40px;
  }
  .contact-info {
    width: 225px;
    margin-right: 55px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .nav li a {
    letter-spacing: 0;
  }
  .nav li {
    margin-right: 20px;
  }
  .link {
    font-size: 18px;
    padding: 0 15px;
    line-height: 50px;
  }
  .nav {
    margin-top: 14px;
  }
  .header-content {
    width: auto;
  }
  .header-item {
    width: 140px;
    margin: 0 16px;
  }
  .header-content_link, .sentence-link {
    padding: 0 35px;
  }
  .header-content_link:before {
    right: 10px;
  }
  .header-content_link:hover:before {
    right: 8px;
  }
  .sentence-items {
    flex-wrap: wrap;
    display: block;
  }
  .sentence-item {
    text-align: center;
    margin-bottom: 30px;
  }
  .sentence-link:before {
    top: 7px;
    right: 12px;
  }
  .sentence-link:hover:before {
    top: 9px;
  }
  .sentence-item-info {
    margin-right: 45px;
  }
  .gallery-video {
    width: 550px;
    height: 350px;
  }
  .gallery-video:before,
  .gallery-video:after {
    display: none;
  }
  .gallery-items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-item {
    height: 200px;
    margin: 0 10px 20px;
  }
  .contacts {
    width: 300px;
  }
  .partners__img {
    width: 110px;
  }
  .contact-input {
    width: 280px;
    margin-right: 10px;
    padding-left: 33px;
  }
  .contact-info {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    position: absolute;
    top: 12px;
    left: 20px;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #e0562c;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before, .burger-wrap a span:after {
    position: absolute;
    background: #e0562c;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }

  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  .nav {
    text-align: center;
    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
  }
  .nav li {
    display: block;
    margin: 10px 0;
  }
  .header-content__text {
    width: auto;
  }
  .header-content h3 {
    font-size: 32px;
  }
  .header-content__text p,
  .header-item p,
  .header-item span {
    font-size: 20px;
  }
  .header-items {
    text-align: center;
  }
  .header-item {
    margin: 0 16px 20px;
  }
  .header-item:last-child {
    margin-right: 16px;
  }
  .sentence-content {
    width: auto;
  }
  .sentence-content h3 {
    font-size: 36px;
  }
  .sentence-content h3 br {
    display: none;
  }
  .sentence-item-par {
    margin: 0 auto 20px !important;
  }
  .sentence-item-info {
    margin: 0 20px 20px !important;
  }
  .reviews {
    padding-top: 120px;
  }
  .reviews-items {
    width: 350px;
  }
  .reviews-item {
    padding: 15px;
  }
  .reviews_name {
    margin-left: -206px;
    top: 55px;
  }
  .reviews-item-img {
    position: static;
    margin-bottom: 15px;
  }
  .reviews-item-content {
    padding-left: 0;
  }
  .reviews-items .slick-prev {
    left: -40px;
  }
  .reviews-items .slick-next {
    right: -40px;
  }
  .gallery-video {
    width: 390px;
    height: 250px;
  }
  .gallery_foto {
    display: none;
  }
  .schedule__data {
    margin-left: 0;
  }
  .schedule_head {
    left: 210px;
  }
  .contacts {
    position: static;
    width: auto;
  }
  .slider {
    width: 350px;
  }
  .slider-item-img {
    display: block;
    margin: 0 auto 20px;
  }
  .slider-item-content {
    display: block;
    width: auto;
    padding: 0 0 10px 29px;
    font-size: 20px;
  }
  .slider-item {
    width: 350px;
  }
  .slider .slick-prev {
    left: -35px;
  }
  .slider .slick-next {
    right: -35px;
  }
  .partners {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partners__img {
    margin: 0 10px 15px;
  }
  .contact form {
    flex-wrap: wrap;
    display: block;
    text-align: center;
  }
  .contact-input {
    text-align: left;
    margin: 0 auto 20px;
  }
  .contact-info {
    margin: 0 auto 20px;
  }
  .schedule {
    padding-top: 117px;
  }
}

@media only screen and (max-width: 450px) {
  .header-content_link, .sentence-link {
    margin-left: 0;
  }
  .reviews-items,
  .slider,
  .slider-item {
    width: 290px;
  }
  .slider {
    margin-bottom: 80px;
  }
  .reviews-items .slick-prev,
  .slider .slick-prev {
    top: auto;
    margin-top: 0;
    bottom: -40px;
    left: 50%;
    margin-left: -36px;
  }
  .reviews-items .slick-next,
  .slider .slick-next {
    top: auto;
    margin-top: 0;
    bottom: -40px;
    right: 50%;
    margin-right: -36px;
  }
  .gallery-video {
    width: 290px;
  }
  .contacts-wrap iframe {
    height: 250px;
  }
  .slider-item-content {
    padding-left: 0;
    text-align: center;
  }
  .sentence-content-img {
    display: none;
  }
  .sentence {
    padding-top: 70px;
    padding-bottom: 10px;
  }
  .sentence-content h3 {
    margin-bottom: 50px;
  }
  .sentence-content p {
    font-size: 20px;
  }
  .sentence-items {
    margin-top: 40px;
  }
  .reviews_name {
    margin-left: -134px;
  }
  .reviews {
    padding-top: 85px;
  }
  .reviews-items {
    margin-bottom: 100px;
  }
  .reviews-content li:before {
    width: 20px;
  }
  .reviews-content li {
    padding-left: 35px;
  }
  .gallery {
    padding-top: 70px;
    padding-bottom: 10px;
  }
  .schedule {
    padding-top: 70px;
  }
}