$blue: #0c97b6;
$blue-hover: #0e7b93;
$gold: #e5d08f;

/* Fonts */

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Bold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Start */

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none !important;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Graphik LCG', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  transition: 300ms;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 53px;

  a {
    color: $blue;
    border-bottom: 3px solid $blue;
    line-height: 1;

    &:hover {
      border-color: transparent;
    }
  }
}

.link {
  height: 40px;
  background-color: #0c97b6;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 23px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  transition: 300ms;
  color: #ffffff;

  &:hover {
    background: $blue-hover;
    color: #ffffff;
  }
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding: 0 25px;
  border-radius: 6px;
  border: 1px solid #bababa;
  color: #000;

  &::placeholder {
    color: #898989;
  }

  &::-moz-placeholder {
    color: #898989;
  }
}

input.input-error {
  border-color: #e00109;

  &::placeholder {
    color: #e00109;
  }

  &::-ms-placeholder {
    color: #e00109;
  }
}

.error-message {
  font-size: 14px;
  color: #e00109;
  margin-top: 4px;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }

  .title {
    font-size: 45px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }

  .title {
    font-size: 28px;
  }
}

/* Burger */

.burger {
  display: none;
  width: 30px;

  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;

    &.active span {
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      background-color: #222;

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        background-color: #222;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }
  }
}

/* Header */

.header {
  &-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #d1d1d1;
  }

  &-city {
    min-width: 220px;
    height: 40px;
    padding: 0 37px 0 15px;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: 1px solid #bababa;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      border-color: $blue;

      &:after {
        border-color: $blue transparent transparent transparent;
      }
    }

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 6px 0 6px;
      border-color: #bababa transparent transparent transparent;
      transition: 300ms;
      position: absolute;
      right: 20px;
      top: 15px;
    }
  }

  &-nav {
    display: flex;
    align-items: center;

    li {
      margin-right: 43px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #000000;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #d1d1d1;
  }

  &-logo {
    margin-left: 75px;
  }

  &-callback {
    position: relative;

    span {
      color: #898989;
      display: block;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -30px;
      top: 2px;
      width: 20px;
      height: 20px;
      background: url(../images/tel.png);
    }
  }

  &-tel {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;

    &:hover {
      color: $blue;
    }
  }

  &-menu {
    display: flex;
    align-items: center;

    li {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 24px;
        font-weight: bold;
        color: $blue;

        &:hover {
          color: $blue-hover;
        }
      }
    }
  }
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 1336px) {
  .header {
    &-nav {
      li {
        margin-right: 15px;
      }
    }

    &-logo {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {

    &-links,
    &-menu,
    &-callback {
      display: none;
    }

    &-wrap {
      position: relative;
    }
  }

  .burger {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    transition: 300ms;
    text-align: center;
    opacity: 0;
    background: #ffffff;
    padding: 25px 15px;
    display: block;
    z-index: 9999;

    &.active {
      left: 0;
      opacity: 1;
    }

    .header {
      &-city {
        margin-bottom: 15px;
      }

      &-nav {
        display: block;

        li {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      &-menu {
        display: block;
        margin-bottom: 20px;

        li {
          margin-right: 0;
          margin-bottom: 10px;

          a {
            font-size: 16px;
            color: #000;
            font-weight: 400;
          }
        }
      }

      &-tel {
        margin-bottom: 20px;
      }

      &-lc {
        width: 220px;
        display: flex;
        margin: 0 auto;
      }
    }
  }
}

/* Showcase */

.showcase {
  padding: 80px 0 50px;
  position: relative;
  color: #ffffff;

  &-wrap {
    background: #0c97b6;
    overflow: hidden;
  }

  &-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;

    span {
      display: block;
      font-weight: 400;
      font-size: 0.9em;
    }
  }

  &-description {
    font-size: 24px;
    font-weight: bold;
    color: $gold;
    margin-bottom: 55px;
  }

  &-links {
    display: flex;
    margin-bottom: 60px;

    a {
      height: 60px;
      display: flex;
      align-items: center;
      color: #000000;
      border-radius: 30px;
    }
  }

  &-country {
    background: #ffffff;
    padding: 0 65px 0 35px;
    font-size: 18px;
    margin-right: 15px;

    &:hover {
      background: $gold;
      color: #ffffff;
    }
  }

  &-condition {
    font-weight: bold;
    background: $gold;
    padding: 3px 45px 0;

    &:hover {
      background: #cbb97f;
    }
  }

  &-advantages {
    display: flex;
  }

  &-advantage {
    max-width: 174px;
    margin-right: 75px;

    &-title {
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  &-img {
    position: absolute;
    right: -95px;
    top: 85px;
    bottom: 75px;
  }
}

@media only screen and (max-width: 1335px) {
  .showcase {
    &-img {
      right: -375px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .showcase {
    padding: 50px 0 30px;

    &-img {
      display: none;
    }

    &-title {
      font-size: 48px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    padding: 30px 0;
    text-align: center;

    &-title {
      font-size: 32px;
    }

    &-description {
      font-size: 18px;
      margin-bottom: 40px;
    }

    &-links {
      display: block;
      margin-bottom: 30px;

      a {
        max-width: 360px;
        margin: 0 auto;
        justify-content: center;
        padding: 0 20px;
      }
    }

    &-country {
      margin-bottom: 15px !important;
      margin-right: 0;
    }

    &-advantages {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-advantage {
      margin: 0 auto 20px;

      &-title {
        font-size: 32px;
      }
    }
  }
}

/* Choose direction */

.choose-direction {
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bababa;

  &-text {
    width: 230px;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.3;
    flex-shrink: 0;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    width: 155px;
    text-align: center;
    flex-shrink: 0;

    &:hover {
      span {
        color: $blue;
      }
    }

    span {
      display: block;
      color: #000000;
      transition: 300ms;
    }
  }

  &-img {
    display: inline-flex;
    align-items: center;
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1335px) {
  .choose-direction-item {
    width: 115px;
  }
}

@media only screen and (max-width: 991px) {
  .choose-direction {
    display: block;

    &-text {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .choose-direction {
    padding: 30px 0 10px;
    text-align: center;

    &-text {
      font-size: 24px;
    }

    &-items {
      justify-content: center;
    }

    &-item {
      margin-bottom: 20px;
    }
  }
}

/* Slider */

.slider {
  padding: 65px 0 100px;

  &-title {
    margin-bottom: 50px;
  }

  &-item {
    display: block;
    position: relative;
    background-size: cover;
    background-color: #dbf0f4;

    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }

      .popular-country {
        text-decoration: underline;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $gold;
      transition: 300ms;
      opacity: 0;
      visibility: hidden;
    }

    span {
      display: block;
    }
  }

  &-content {
    padding: 35px 25px 45px;
    position: relative;
  }

  &-region {
    font-size: 16px;
    color: $blue;
    margin-bottom: 20px;
  }

  &-country {
    font-size: 34px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 50px;
  }

  &-info {
    display: flex !important;
    justify-content: space-between;
    color: #000000;

    .label {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .info {
      font-size: 24px;
    }
  }

  &-date {
    margin-right: 43px;
    color: #898989;
  }

  &-tag {
    color: $blue;
  }

  &-link {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    color: $blue;
    font-weight: bold;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #7c7c7c;
    }

    img {
      width: auto !important;
    }
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: -110px;
    right: 0;
  }

  .owl-prev {
    right: 80px;
  }
}

.owl-carousel .owl-nav button {

  &.owl-next,
  &.owl-prev {
    width: 60px;
    height: 60px;
    background: url(../images/arrow.png) 50% 0% no-repeat;

    span {
      display: none;
    }

    &:hover {
      background-position: 50% 100%;
    }
  }

  &.owl-prev {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 1336px) {
  .slider {
    &-country {
      font-size: 27px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .slider {
    padding: 30px 0 70px;

    &-items {
      max-width: 400px;
      margin: 0 auto;
    }

    &-title {
      text-align: center;
    }

    .owl-nav {
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
    }
  }

  .owl-next,
  .owl-prev {
    width: 30px !important;
    height: 30px !important;
    background-size: cover !important;
    position: static !important;
    margin: 0 10px;
  }
}

/* Process */

.process {
  display: flex;
  padding: 60px 0 55px;

  &-wrap {
    background: $gold;

    &.white {
      background: #ffffff;
    }
  }

  &-title {
    font-size: 42px;
    font-weight: 700;
    max-width: 200px;
    margin-right: 80px;
    line-height: 1.3;
  }

  &-items {
    display: flex;
    padding-top: 10px;
  }

  &-item {
    width: 238px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 87px;
      top: 29px;
      width: 116px;
      height: 2px;
      background: url(../images/separator.png);
    }

    &:last-child:after {
      display: none;
    }
  }

  &-number {
    width: 60px;
    height: 60px;
    background: $blue;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 25px;
  }

  &-text {
    font-size: 24px;
    max-width: 150px;
  }
}

@media only screen and (max-width: 1335px) {
  .process {
    &-item {
      width: 173px;

      &:after {
        display: none;
      }
    }

    &-text {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .process {
    display: block;

    &-title {
      max-width: 100%;
      margin-bottom: 20px;
    }

    &-items {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 767px) {
  .process {
    padding: 30px 0 10px;
    text-align: center;

    &-title {
      font-size: 24px;
      margin-right: 0;
    }

    &-items {
      flex-wrap: wrap;
    }

    &-item {
      width: 50%;
      margin-bottom: 20px;
      text-align: center;
    }

    &-number {
      margin: 0 auto 10px;
    }

    &-text {
      font-size: 16px;
      max-width: 100%;
    }
  }
}

/* Feedback */

.feedback {
  padding: 90px 0 80px;
  display: flex;
  justify-content: space-between;

  &-info {
    width: 40%;
    flex-shrink: 0;
  }

  &-items {
    width: 50%;
  }

  &-description {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 50px;

    b {
      display: block;
    }
  }

  .owl-stage {
    padding-bottom: 6px;
  }

  &-new {
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    border-radius: 120px;
    margin-bottom: 28px;
    width: 340px;
    max-width: 100%;
  }

  &-rate {
    max-width: 340px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  &-item {
    border: 1px solid #bababa;
    padding: 35px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 4px;
      right: 4px;
      height: 6px;
      top: 100%;
      border: 1px solid #bababa;
    }
  }

  &-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 35px;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
  }

  &-author {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
  }

  &-region {
    font-size: 18px;
    font-weight: 500;
  }

  &-text {
    font-style: italic;
    line-height: 1.4;
  }

  .owl-nav {
    position: absolute;
    bottom: -93px;
    left: 40px;
  }

  .owl-prev {
    margin-right: 15px;
  }

  &-all {
    margin-top: 50px;
    margin-left: 62%;
    font-weight: 500;
    color: $blue;

    img {
      margin-left: 15px;
      transition: 300ms;
    }

    &:hover {
      color: $blue-hover;

      img {
        transform: translateX(5px);
      }
    }
  }
}

@media only screen and (max-width: 1336px) {
  .feedback {
    &-all {
      margin-left: 60%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .feedback {
    &-all {
      margin-left: 48%;
    }

    .owl-nav {
      left: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .feedback {
    display: block;
    padding: 30px 0;
    text-align: center;

    &-info,
    &-items {
      width: 100%;
    }

    &-info {
      margin-bottom: 30px;
    }

    &-description {
      font-size: 16px;
    }

    &-new {
      text-align: center;
    }

    &-rate {
      font-size: 18px;
      margin: 0 auto;
    }

    &-item {
      padding: 15px;
      text-align: left;
    }

    &-img {
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }

    &-author {
      font-size: 18px;
    }

    &-region {
      font-size: 16px;
    }

    &-header {
      margin-bottom: 15px;
    }

    .owl-nav {
      right: 0;
      display: flex;
      justify-content: center;
      bottom: -40px;
    }

    &-all {
      margin-left: 0;
      text-align: center;
      font-size: 16px;
      margin-top: 56px;
    }
  }
}

/* Callback */

.callback {
  padding: 68px 0 77px;
  color: #ffffff;
  position: relative;

  &-wrap {
    background: $blue;
    overflow: hidden;
  }

  &-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &-description {
    font-size: 18px;
    max-width: 610px;
    margin-bottom: 60px;
    line-height: 1.4;
  }

  &-form {
    display: flex;

    input {
      width: 380px;
      height: 60px;
      background-color: white;
      border: 1px solid white;
      border-radius: 30px;
      max-width: 100%;
      padding: 0 30px;
      font-size: 24px;
      margin-right: 18px;
    }

    button {
      background: $gold;
      width: 220px;
      height: 60px;
      border-radius: 120px;
      font-size: 16px;
      font-weight: bold;
      color: #000000;

      &:hover {
        background: #cebb80;
        color: #000000;
      }
    }
  }

  &-img {
    position: absolute;
    right: 0;
    top: -30px;
  }
}

@media only screen and (max-width: 1336px) {
  .callback {
    &-img {
      right: -240px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .callback {
    &-img {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .callback {
    text-align: center;
    padding: 30px 0;

    &-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &-description {
      font-size: 16px;
      margin-bottom: 15px;
    }

    &-form {
      flex-direction: column;
      align-items: center;

      input {
        margin-right: 0;
        margin-bottom: 10px;
        height: 50px;
        font-size: 16px;
        width: 220px;
      }

      button {
        height: 50px;
      }
    }
  }
}

/* Useful */

.useful {
  .slider {
    &-country {
      font-size: 24px;
    }

    &-info {
      justify-content: flex-start;
    }
  }
}

/* Footer */

.footer {
  padding: 70px 0 50px;
  display: flex;
  justify-content: space-between;

  &-wrap {
    background: #dbf0f4;
  }

  &-nav {
    ul {
      columns: 2;
      margin-left: 83px;

      li {
        margin-bottom: 15px;
        margin-right: 83px;

        a {
          font-size: 18px;
          color: #000000;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  &-tel {
    color: #000000;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 48px;

    &:hover {
      color: $blue;
    }
  }

  &-social {
    span {
      display: block;
      font-size: 18px;
      margin-bottom: 20px;
    }

    ul {
      display: flex;

      li {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: 14px;
  color: #898989;

  a {
    text-decoration: underline;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1336px) {
  .footer {
    &-nav {
      ul {
        margin-left: 30px;

        li {
          margin-right: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    &-nav {
      ul {
        columns: 1;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    display: block;
    text-align: center;
    padding: 30px 0;

    &-logo {
      margin-bottom: 20px;
    }

    &-nav {
      margin-bottom: 20px;
    }

    &-tel {
      margin-bottom: 15px;
    }

    &-social {
      ul {
        justify-content: center;
      }
    }
  }

  .bottom {
    display: block;
    text-align: center;

    .copy {
      margin-bottom: 15px;
    }
  }
}

/* Inner header */

.inner-header {
  background: $blue;
  color: #ffffff;
  padding-bottom: 25px;

  .breadcrumbs {
    li {
      color: #ffffff;
    }
  }

  .title {
    margin-bottom: 30px;
  }
}

.breadcrumbs {
  padding: 15px 0 40px;

  li {
    display: inline;
    color: #898989;

    &:after {
      content: '>';
      display: inline-block;
      margin: 0 9px;
    }

    &:last-child:after {
      display: none;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.sort {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 16px;

      &.active {
        a {
          background: #dbf0f4;
          color: #000000;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 7px 15px;
        color: #ffffff;
        border-radius: 50px;

        &:hover {
          background: #dbf0f4;
          color: #000000;
        }
      }
    }
  }
}

/* Blog */

.blog {
  display: flex;

  &.article {
    .blog-item {
      padding: 25px 0;
    }

    .blog-sidebar {
      padding-top: 180px;
    }
  }

  &-content {
    flex-grow: 10;
    min-width: 0;
  }

  &-item {
    padding: 50px 0;
    border-bottom: 1px solid #bababa;
  }

  &-header {
    padding: 0 82px;
  }

  &-title {
    font-size: 34px;
    font-weight: 400;
    color: #000000;
    line-height: 1.4;
    margin-bottom: 20px;

    &:hover {
      color: $blue;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &-date {
    color: #898989;
    margin-right: 45px;
    margin-bottom: 10px;
  }

  &-tag {
    color: $blue;
    font-weight: 500;
    margin-right: 120px;
    margin-bottom: 10px;

    &:hover {
      color: $blue-hover;
    }
  }

  &-views {
    display: flex;
    align-items: center;
    color: #898989;
    margin-bottom: 10px;

    img {
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  &-img {
    margin-bottom: 28px;
    display: block;

    img {
      width: 100%;
    }
  }

  &-text {
    padding: 0 82px;
    line-height: 1.4;
  }

  &-sidebar {
    width: 220px;
    margin-left: 100px;
    flex-shrink: 0;
    padding-top: 80px;
  }

  &-slider {
    margin-bottom: 27px;

    .owl-nav {
      display: flex;
      justify-content: center;
      margin-top: 25px;

      button {
        margin: 0 10px;
      }
    }
  }

  &-footer {
    padding: 35px 82px 100px;
  }

  &-tags {
    margin-bottom: 22px;

    span {
      color: #898989;
    }

    ul {
      display: inline;
    }

    li {
      display: inline;

      &:after {
        content: ',';
        display: inline;
      }

      &:last-child:after {
        display: none;
      }

      a {
        color: $blue;

        &:hover {
          color: $blue-hover;
        }
      }
    }
  }

  &-social {
    display: flex;
    align-items: center;

    span {
      color: #898989;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin-left: 20px;
      }
    }
  }
}

.tags {
  margin-bottom: 100px;

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  ul {
    li {
      margin-bottom: 25px;

      a {
        font-size: 18px;
        color: $blue;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &-all {
    font-size: 18px;
    color: #000000;

    &:hover {
      color: $blue;
    }
  }
}

.pagination {
  padding: 55px 0 70px;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;

    li {
      margin: 0 5px;

      &.pagination-prev,
      &.pagination-next {
        a {
          background: url(../images/arrow.png);
          transition: 0ms;

          &:hover {
            background: url(../images/arrow.png);
            background-position: 50% 100%;
          }
        }
      }

      &.pagination-prev {
        margin-right: 65px;

        a {
          transform: rotate(180deg);
        }
      }

      &.pagination-next {
        margin-left: 65px;
      }

      &.active {
        a {
          background: $blue;
          color: #ffffff;
        }
      }

      a {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: bold;
        color: $blue;

        &:hover {
          background: $blue;
          color: #ffffff;
        }
      }
    }
  }
}

.articles {
  margin-bottom: 120px;

  &-item {
    margin-bottom: 38px;
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  &-head {
    font-size: 20px;
    color: #000000;
    line-height: 1.3;
    margin-bottom: 15px;

    &:hover {
      color: $blue;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-date {
    color: #898989;
  }

  &-tag {
    color: $blue;

    &:hover {
      color: $blue-hover;
    }
  }

  &-all {
    font-size: 18px;
    color: #000000;

    &:hover {
      color: $blue;
    }
  }
}

@media only screen and (max-width: 1336px) {
  .blog {

    &-header,
    &-text {
      padding: 0;
    }

    &-footer {
      padding: 30px 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .blog {
    display: block;

    &-sidebar {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .blog {
    &-title {
      font-size: 24px;
    }
  }

  .pagination {
    ul {
      li {
        a {
          width: 40px;
          height: 40px;
          font-size: 14px;
        }

        &.pagination-next,
        &.pagination-prev {
          display: none;
        }
      }
    }
  }
}

/* Lending */

.prepare {
  padding: 75px 0;
  display: flex;
  align-items: flex-end;

  &-wrap {
    background: $gold;
  }

  &-text {
    font-size: 42px;
    font-weight: bold;
    max-width: 715px;
    margin-right: 150px;
    line-height: 1.4;
  }

  &-link {
    height: 60px;
    padding: 0 30px;
    border-radius: 120px;
    font-size: 18px;
    font-weight: bold;
  }
}

.visa {
  padding: 75px 0;
  display: flex;

  &-content {
    flex-grow: 10;

    p {
      margin-bottom: 15px;
      line-height: 1.4;
    }
  }

  &-link {
    font-size: 16px;
    color: $blue;
    display: flex;
    align-items: center;
    margin-top: 20px;

    img {
      margin-left: 15px;
    }

    &:hover {
      color: $blue-hover;
    }
  }

  &-images {
    flex-shrink: 0;
    width: 460px;
    margin-left: 90px;

    img {
      width: 100%;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .prepare {
    display: block;
    text-align: center;
    padding: 30px 0;

    &-text {
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .visa {
    &-images {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .prepare {
    &-text {
      font-size: 24px;
    }

    &-link {
      height: 50px;
      font-size: 16px;
    }
  }

  .visa {
    padding: 30px 0;

    &-title {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

/* Feedbacks */

.feedbacks {
  &-header {
    display: flex;
  }

  &-info {
    max-width: 648px;
    margin-right: 150px;
  }

  &-description {
    font-size: 18px;
    line-height: 1.3;
    max-width: 650px;

    span {
      display: block;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-rate {
    width: 340px;
    max-width: 100%;
    text-align: center;
  }

  &-link {
    background: $gold;
    color: #000000;
    font-weight: bold;
    width: 100%;
    border-radius: 120px;
    height: 60px;
    margin-bottom: 25px;

    &:hover {
      background: #cfbc83;
      color: #000000;
    }
  }

  &-average {
    font-size: 24px;
    font-weight: bold;
  }

  &-items {
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .feedback {
    &-item {
      width: 49%;
      margin-right: 2%;
      margin-bottom: 2%;

      &:after {
        display: none;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .feedbacks {
    &-info {
      margin-right: 50px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .feedbacks {
    &-header {
      display: block;
      text-align: center;
    }

    &-info {
      margin-bottom: 25px;
      margin-right: 0;
    }

    &-rate {
      margin: 0 auto;
    }

    .feedback-item {
      width: 100%;
      margin-right: 0 !important;
    }

    &-average {
      font-size: 16px;
    }
  }
}

/* Auth */

.auth {
  padding: 65px 0 85px;
  display: flex;
  justify-content: space-between;

  &-form {
    width: 40%;
  }

  &-info {
    width: 40%;

    &-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        flex-shrink: 0;
        margin-right: 35px;
      }

      span {
        line-height: 1.4;
      }
    }
  }

  &-field {
    margin-bottom: 35px;

    input {
      border-radius: 0;
      height: 60px;
      transition: 300ms;

      &:focus {
        border: 1px solid #0c97b6;
      }
    }

    .error-message {
      color: #e00109;
      margin-left: 25px;
      margin-top: 5px;
      display: inline-block;
    }
  }

  .checkbox-wrap {
    margin-bottom: 40px;
  }

  &-social {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    span {
      font-size: 18px;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin-left: 20px;
      }
    }
  }

  &-link {
    background: $gold;
    color: #000000;
    font-weight: bold;
    height: 60px;
    padding: 0 37px;
    border-radius: 120px;

    &:hover {
      color: #000000;
      background: #d2be82;
    }
  }
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #bababa;
  flex-shrink: 0;
  margin-right: 20px;

  &-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 3;

    &:checked+span {
      opacity: 1;
      visibility: visible;
    }
  }

  span {
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    background: $blue;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  &-text {
    color: #898989;

    a {
      text-decoration: underline;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .auth {
    display: block;

    &-form,
    &-info {
      width: 100%;
    }

    &-form {
      width: 500px;
      margin: 0 auto 50px;
      text-align: center;
      max-width: 100%;
    }

    &-field {
      text-align: left;
    }

    .checkbox-wrap {
      text-align: left;
    }

    &-social {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 767px) {
  .auth {
    padding: 30px 0;
  }
}