$red: #ff3d34;
$blue: #023ff7;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'GTWalsheimPro', sans-serif;
}

a {
  display: inline-block;
  font: 400 18px 'GTWalsheimPro', sans-serif;
  transition: 300ms;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

.head {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;

  span {
    color: $red;
  }

  img {
    vertical-align: baseline;
    margin-left: 2px;
  }
}

.link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 60px;
  padding: 0 24px 7px;
  border: 2px solid #fff;
  font-weight: 700;
  line-height: 1;
  background-color: $red;
  color: #ffffff;
  cursor: pointer;
  transition: 300ms;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    bottom: 14px;
    width: 2px;
    background-color: $red;
    transition: 300ms;
  }

  &:before {
    left: -2px;
  }

  &:after {
    right: -2px;
  }

  &:hover {
    background-color: #fff;
    color: $red;

    &:before,
    &:after {
      background-color: #fff;
    }
  }

  &:focus {
    outline: none;
  }
}

.link.link-blue {
  border-color: $blue;
  background-color: #fff;
  color: $blue;

  &:before,
  &:after {
    background-color: #fff;
  }

  &:hover {
    background-color: $blue;
    color: #ffffff;

    &:before,
    &:after {
      background-color: $blue;
    }
  }
}

.link.link-red {
  border-color: $red;
  background-color: #000;
  color: $red;

  &:before,
  &:after {
    background-color: #000;
  }

  &:hover {
    background-color: $red;
    color: #fff;

    &:before,
    &:after {
      background-color: $red;
    }
  }
}

.error-text {
  margin: 6px 4px 0;
  color: $red;
  font-size: 14px;
}

@media screen and (max-width: 1336px) {
  .head {
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  .link {
    padding: 0 12px 7px;
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .head {
    font-size: 44px;
  }
}

@media screen and (max-width: 575px) {
  .head {
    font-size: 32px;

    img {
      width: 30px;
    }
  }

  .link {
    height: 50px;
    padding: 0 10px 4px;
    font-size: 16px;
  }
}

// Fancybox

.fancybox-slide {
  padding: 0;
}

// Gif

.gif {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  width: 60px;
  height: 60px;
  padding-bottom: 4px;
  border-radius: 50%;
  background-color: $blue;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;

  &-title {
    margin-bottom: 2px;
    text-transform: uppercase;
  }
}

// Rating

.rating {
  display: flex;
  align-items: center;

  &-img {
    flex-shrink: 0;
    width: 42px;
    margin-right: 28px;
  }

  &-title {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;

    a {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        color: #000000;
      }
    }
  }

  &-content {
    margin-top: 5px;

    p {
      color: #ffffff;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .rating {
    &-img {
      margin-right: 14px;
    }

    &-title {
      font-size: 20px;
    }

    &-content {
      p {
        font-size: 16px;
      }
    }
  }
}

// Logo

.logo {
  display: flex;
  align-items: flex-start;
  margin-left: -100px;


  &-img {
    position: fixed;
    z-index: 100;
    flex-shrink: 0;
    width: 60px;
    margin-right: 40px;

    img.logo-white {
      display: none;
    }

  }

  &-info {
    margin-top: 5px;
    padding-left: 84px;

    p {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 700;
    }

    a {
      color: $blue;
      font-size: 14px;
      text-decoration: underline;

      &:hover {
        color: $red;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 1336px) {
  .logo {
    &-img {
      margin-right: 24px;
    }
  }
}

@media screen and (max-width: 991px) {
  .logo {
    &-img {
      width: 50px;
      margin-right: 16px;
    }

    &-info {
      margin-top: 3px;
      padding-left: 64px;

      p {
        margin-bottom: 5px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .logo {
    &-img img {
      &.logo-red {
        display: none;
      }

      &.logo-white {
        display: block;
      }
    }

    &-info {
      p {
        color: #ffffff;
      }

      a {
        color: #ffffff;

        &:hover {
          color: #000000;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .logo {
    &-img {
      margin-right: 0;
    }

    &-info {
      display: none;
    }
  }
}

// Header

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 154px;

  &-wrap {
    position: relative;
    z-index: 5;
    padding: 30px 0 50px;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 46.5%;
      bottom: 0;
      z-index: -1;
      width: 2000px;
      background-image: linear-gradient(to right, $red 0%, $red 41%, #fa384f 100%);
    }
  }

  &-item {
    display: flex;
    align-items: flex-start;
  }

  &-info {
    margin-right: 100px;
    text-align: right;

    &__tel {
      margin-bottom: 11px;
      color: #ffffff;
      font-size: 28px;
      font-weight: 700;

      &:hover {
        color: #000000;
      }
    }

    p {
      margin: 0;
      color: #ffffff;
      font-size: 14px;

      a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: underline;

        &:hover {
          color: #000000;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .header-wrap:after {
    left: 44%;
  }
}

@media screen and (max-width: 1336px) {
  .header {
    margin-bottom: 90px;

    &-info {
      margin-right: 50px;
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    margin-bottom: 90px;

    &-wrap:after {
      left: 42%;
    }

    &-info {
      margin-right: 20px;

      &__tel {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 60px;

    &-wrap {
      padding-bottom: 30px;
      background-color: $red;

      &:after {
        display: none;
      }
    }

    &-info {
      margin-right: 0;
    }

    &-item .link {
      display: none;
    }
  }
}

// Showcase

.showcase {
  &-title {
    color: #0b1823;
    font-family: GTWalsheimPro;
    font-size: 124px;
    font-weight: 700;
    margin-bottom: 77px;

    .gif {
      margin: 26px 0 0 -10px;
    }
  }

  &-content {
    display: flex;
    margin: 0 0 108px 80px;
  }

  &-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    padding-right: 25px;
  }

  &-link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 4px;
    color: $blue;

    &:hover img {
      padding-top: 8px;
    }

    img {
      flex-shrink: 0;
      width: 16px;
      margin-right: 22px;
      transition: 300ms;
    }
  }

  &-text {
    max-width: 700px;
    margin-right: 80px;
    font-size: 34px;
    line-height: 1.4;

    a {
      display: inline;
      color: #000000;
      font-size: 34px;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-entry {
    position: relative;
    max-width: 400px;
    margin-top: 15px;
    padding-left: 20px;
    color: #ffffff;
    line-height: 1.7;

    &:before {
      content: '*';
      display: block;
      position: absolute;
      top: -5px;
      left: -5px;
      color: #0b1823;
      font-size: 34px;
      font-weight: 900;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 1336px) {
  .showcase {
    &-title {
      margin-bottom: 55px;
      font-size: 82px;

      .gif {
        margin-top: 18px;
      }
    }

    &-content {
      margin: 0 0 80px 0;
    }

    &-footer {
      padding-right: 0;
    }

    &-text {
      max-width: 580px;
      margin-right: 40px;
      font-size: 30px;

      a {
        font-size: 30px;
      }
    }

    &-entry {
      margin-top: 9px;
    }
  }
}

@media screen and (max-width: 991px) {
  .showcase {
    &-title {
      margin-bottom: 44px;
      font-size: 66px;
    }

    &-content {
      margin-bottom: 50px;
    }

    &-footer {
      max-width: 700px;
    }

    &-text {
      max-width: 450px;
      margin-right: 30px;
      font-size: 24px;

      a {
        font-size: 26px;
      }
    }

    &-entry {
      line-height: 1.6;
    }
  }
}

@media screen and (max-width: 767px) {
  .showcase {
    &-title {
      margin-bottom: 20px;
      font-size: 56px;

      .gif {
        margin: 10px 0 0 0;
      }
    }

    &-content {
      flex-direction: column;
      margin-bottom: 40px;
    }

    &-footer {
      flex-direction: column;
      align-items: flex-start;

      .rating {
        order: -1;
        margin-bottom: 20px;
      }
    }

    &-text {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 20px;

      a {
        font-size: 20px;
      }
    }

    &-entry {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 575px) {
  .showcase-title {
    font-size: 36px;
  }
}

// Advantages

.advantages {
  padding: 33px 0 51px;

  &-items {
    display: flex;
    align-items: flex-start;
    margin-left: -60px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 60px);
    margin-left: 60px;

    &.advantages-partners {
      margin-top: 60px;
    }
  }

  &-info {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 51px;
    padding: 55px 0 0 110px;

    div {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: flex;
      align-items: flex-start;
      color: $red;
      font-size: 120px;
      font-weight: 700;
      line-height: 1;

      span {
        margin-top: 10px;
        font-size: 70px;
      }
    }

    p {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
    }
  }

  &-text {
    line-height: 1.6;
  }
}

.advantages-reverse {
  margin-top: 126px;

  .advantages {
    &-info {
      margin: 36px 0 0;
      padding-left: 126px;
    }

    &-text {
      order: -1;
    }
  }
}

@media screen and (max-width: 1336px) {
  .advantages {
    padding-bottom: 40px;

    &-items {
      margin-left: -20px;
    }

    &-item {
      width: calc(33.33% - 20px);
      margin-left: 20px;
    }

    &-info {
      margin-bottom: 30px;
      padding: 40px 0 0 76px;

      div {
        font-size: 90px;

        span {
          font-size: 50px;
        }
      }

      p {
        font-size: 19px;
        line-height: 1.2;
      }
    }

    &-text {
      line-height: 1.4;
    }
  }

  .advantages-reverse {
    margin-top: 76px;

    .advantages-info {
      margin-top: 16px;
      padding-left: 94px;
    }
  }
}

@media screen and (max-width: 991px) {
  .advantages {
    padding-bottom: 30px;

    &-item.advantages-partners {
      margin-top: 0;
    }

    &-info {
      margin-bottom: 18px;
      padding: 28px 0 0 56px;

      div {
        font-size: 70px;

        span {
          font-size: 40px;
        }
      }

      p {
        font-size: 18px;
      }
    }

    &-text {
      line-height: 1.3;
    }
  }

  .advantages-reverse {
    margin-top: 20px;

    .advantages-info {
      margin-top: 6px;
      padding-left: 66px;
    }
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    padding: 20px 0;

    &-items {
      flex-direction: column;
      margin-left: 0;
    }

    &-item {
      width: 100%;
      margin: 0 0 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-info {
      padding: 0 !important;
      margin: 0 0 16px !important;
      align-items: center;

      div {
        position: static;
        margin-right: 16px;
      }
    }
  }

  .advantages-reverse {
    .advantages-text {
      order: 1;
    }
  }
}

// Projects

.projects {
  padding: 32px 0;

  .head {
    margin-bottom: 45px;
  }

  &-text {
    max-width: 540px;
    margin-left: 80px;
    font-size: 24px;
    line-height: 1.5;
  }

  &-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
  }

  &-items {
    margin: -30px 0 78px;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  &-body {
    flex-grow: 10;
    padding: 52px 0 30px;
  }

  &-content {
    max-width: 380px;
    margin: 0 100px 0 auto;

    p {
      margin-bottom: 0;
      font-size: 18px;
      line-height: 1.6;
    }
  }

  &-img {
    position: relative;
    flex-shrink: 0;
    width: 525px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      background-image: url(../images/omg.png), linear-gradient(to left, #ff3d34 0%, #ff3d34 41%, #fa384f 100%);
      background-repeat: no-repeat;
      background-position: -50% 60%;
      transition: 500ms all 300ms;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -15px;
      right: -15px;
      z-index: -1;
      width: 280px;
      height: 220px;
      background-color: $red;
    }

    &.img-blue {
      &:before {
        background-image: url(../images/omg.png), linear-gradient(to right, #023ff7 0%, #023ff7 49%, #4102f7 100%);
      }

      &:after {
        background-color: $blue;
      }
    }

    &:hover {
      &:before {
        width: 100%;
        transition: 500ms all;
      }

      .projects-case span {
        opacity: 1;
        transform: translateX(0);
        transition: 500ms all 300ms;
      }
    }
  }

  &-case {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    span {
      color: #ffffff;
      font-weight: 700;
      text-decoration: underline;
      transform: translateX(-50px);
      opacity: 0;
      transition: 300ms all;
    }
  }

  &-btns {
    text-align: center;

    .link {
      margin: 0 40px;
    }
  }
}

.projects-reverse {
  margin-right: 0;
  margin-left: 15px;

  .projects {
    &-body {
      padding-top: 35px;
    }

    &-content {
      margin: 0 auto 0 100px;
    }

    &-img {
      order: -1;

      &:after {
        right: auto;
        left: -15px;
      }
    }
  }
}

.projects-fancybox {
  .fancybox {
    &-close-small {
      display: flex;
      align-items: center;
      justify-content: center;
      left: 50%;
      right: auto;
      top: 0;
      transform: translateX(-50%);
      width: 180px;
      height: 60px;
      padding: 0 10px 8px;
      background-color: #fff;
      color: $blue;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      text-decoration: underline;
      opacity: 1;
    }

    &-bg {
      display: none;
    }

    &-content {
      position: relative;
      margin: 30px 0;
      transform: none !important;
      border: 10px solid #fff;
    }
  }
}

.projects-sites {
  .projects {
    &-img {
      &:before {
        background-image: url(../images/omg.png), linear-gradient(to right, #ff3d34 0%, #ff3d34 41%, #fa384f 100%);
      }

      &.img-blue:before {
        background-image: url(../images/omg.png), linear-gradient(to left, #023ff7 0%, #023ff7 49%, #4102f7 100%);
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .projects {
    .head {
      margin-bottom: 42px;
    }

    &-text {
      margin-left: 0;
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 1.35;
    }

    &-items {
      margin: 0 0 48px;
    }

    &-item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-content {
      margin-right: 50px;
    }
  }

  .projects-reverse {
    .projects {
      &-content {
        margin-left: 50px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .projects {
    padding: 20px 0;

    .head {
      margin-bottom: 26px;
    }

    &-title {
      font-size: 20px;
      line-height: 1.3;
    }

    &-body {
      padding: 20px 0;
    }

    &-content {
      margin-right: 20px;

      p {
        line-height: 1.4;
      }
    }

    &-img {
      width: 400px;

      &:before {
        background-image: linear-gradient(to right, #ff3d34 0%, #ff3d34 41%, #fa384f 100%);
      }

      &.img-blue:before {
        background-image: linear-gradient(to left, #023ff7 0%, #023ff7 49%, #4102f7 100%);
      }
    }

    &-btns .link {
      margin: 0 20px;
    }
  }

  .projects-sites .projects-img {
    &:before {
      background-image: linear-gradient(to right, #ff3d34 0%, #ff3d34 41%, #fa384f 100%);
    }

    &.img-blue:before {
      background-image: linear-gradient(to left, #023ff7 0%, #023ff7 49%, #4102f7 100%);
    }
  }

  .projects-reverse {
    .projects {
      &-content {
        margin-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .projects {
    &-text {
      font-size: 20px;
    }

    &-body {
      padding: 14px 0 0 !important;
    }

    &-content {
      max-width: 100%;
      margin: 0 !important;
    }

    &-items {
      margin-bottom: 36px;
    }

    &-item {
      flex-direction: column;
      margin: 0 0 40px;
    }

    &-img {
      order: -1;
    }
  }
}

@media screen and (max-width: 575px) {
  .projects {
    &-text {
      font-size: 18px;
    }

    &-title {
      font-size: 18px;
    }

    &-items {
      margin-bottom: 26px;
    }

    &-content {
      p {
        font-size: 16px;
      }
    }

    &-img {
      width: 290px;

      &:after {
        top: -10px;
        right: -10px;
        width: 200px;
        height: 140px;
      }
    }

    &-btns .link {
      margin: 0 10px 10px;
    }
  }

  .projects-fancybox .fancybox-close-small {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}

// Best projects

.best-projects {
  padding-top: 50px;

  .head {
    max-width: 660px;
    margin-right: 60px;

    span {
      color: #fff;
    }
  }

  &-wrap {
    margin-top: 56px;
    background-color: $red;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 97px;

    p {
      max-width: 460px;
      margin-top: 27px;
      margin-bottom: 0;
      color: #ffffff;
      font-size: 24px;
      line-height: 1.6;
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      margin-bottom: 69px;
      padding: 0 10px;
      text-align: center;

      a:hover {
        opacity: .8;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .best-projects {
    padding-top: 30px;

    .head {
      margin-right: 40px;
    }

    &-wrap {
      margin-top: 26px;
    }

    &-header {
      margin-bottom: 46px;

      p {
        margin-top: 18px;
        line-height: 1.4;
      }
    }

    &-items li {
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 991px) {
  .best-projects {
    .head {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }

    &-header {
      flex-direction: column;
      align-items: flex-start;

      p {
        max-width: 630px;
        margin-top: 0;
      }
    }

    &-items li {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .best-projects {
    &-header {
      margin-bottom: 36px;

      p {
        font-size: 22px;
      }
    }

    &-items li {
      width: 33.33%;
    }
  }
}

@media screen and (max-width: 575px) {
  .best-projects {
    &-wrap {
      margin-top: 10px;
    }

    &-header p {
      font-size: 20px;
      line-height: 1.3;
    }

    &-items li {
      width: 50%;
      padding: 0 30px;
    }
  }
}

// FAQ

.faq {
  padding: 62px 0 56px;

  .head {
    margin-bottom: 41px;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 0 0 auto;
  }

  &-item {
    width: 540px;
    margin-right: 100px;
    margin-bottom: 31px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    p {
      position: relative;
      margin-bottom: 0;
      padding-left: 40px;
      font-size: 18px;
      line-height: 1.6;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 18px;
        left: 0;
        width: 24px;
        height: 2px;
        background-color: $red;
      }
    }
  }

  &-title {
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
  }
}

@media screen and (max-width: 1336px) {
  .faq {
    padding: 40px 0 20px;

    &-items {
      margin-left: -40px;
    }

    &-item {
      width: calc(50% - 40px);
      margin: 0 0 40px 40px;
    }

    &-title {
      font-size: 22px;
      line-height: 1.25;
    }
  }
}

@media screen and (max-width: 991px) {
  .faq {
    .head {
      margin-bottom: 30px;
    }

    &-item {
      p {
        line-height: 1.3;

        &:before {
          top: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .faq {
    padding-top: 30px;

    &-items {
      flex-direction: column;
      margin: 0;
    }

    &-item {
      width: 100%;
      margin: 0 0 24px;
    }
  }
}

// Callback

.callback {
  display: flex;

  &-wrap {
    padding: 60px 0 70px;
    background-color: #000000;

    .head {
      max-width: 780px;
      margin-bottom: 60px;
      color: $red;

      span {
        color: #ffffff;
      }
    }
  }

  &-form {
    flex-grow: 10;
    margin-right: 120px;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 26px -76px;
  }

  &-item {
    width: calc(50% - 76px);
    margin: 0 0 55px 76px;
  }

  &-input {
    display: block;
    position: relative;
    margin-bottom: 0;

    &.input-error input {
      border-color: $blue;
      color: $blue;

      &::placeholder {
        color: $blue;
      }

      &::-moz-placeholder {
        color: $blue;
      }
    }

    input {
      width: 100%;
      height: 64px;
      margin: 0;
      padding: 0 4px;
      border: none;
      outline: none;
      border-bottom: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      font: 400 24px 'GTWalsheimPro';
      transition: 300ms;

      &::placeholder {
        color: #ffffff;
      }

      &::-moz-placeholder {
        color: #ffffff;
      }

      &:focus,
      &.complete {
        ~span {
          transform: translateY(0);
          top: -20px;
          font-size: 14px;
        }
      }
    }

    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: 0 4px;
      color: #fff;
      font-size: 24px;
      cursor: text;
      transition: 300ms;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      width: 200px;
    }
  }

  &-required {
    margin-right: 40px;

    p {
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      line-height: 1.6;

      a {
        display: inline;
        color: $blue;
        font-size: 16px;
        text-decoration: underline;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.callback-info {
  flex-shrink: 0;
  width: 300px;
  margin-top: 20px;

  p {
    margin-bottom: 0;
    color: #ffffff;
    line-height: 1.7;

    span {
      display: inline-block;
    }
  }

  &__tel {
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 34px;

    &:hover {
      color: $red;
    }
  }

  &__mail {
    margin-bottom: 39px;
    color: $blue;
    font-size: 34px;
    text-decoration: underline;

    &:hover {
      color: $red;
    }
  }
}

@media screen and (max-width: 1336px) {
  .callback {
    &-wrap {
      padding-top: 50px;

      .head {
        margin-bottom: 50px;
      }
    }

    &-form {
      margin-right: 40px;
    }

    &-items {
      margin: 0 0 10px -26px;
    }

    &-item {
      width: calc(50% - 26px);
      margin: 0 0 40px 26px;
    }

    &-input {

      input,
      span {
        font-size: 20px;
      }

      input {

        &:focus,
        &.complete {
          ~span {
            top: -10px;
          }
        }
      }
    }

    &-required p {
      font-size: 15px;
      line-height: 1.4;
    }

    &-footer .link {
      width: 180px;
    }

    &-info {

      &__tel,
      &__mail {
        margin-bottom: 30px;
        font-size: 30px;
      }

    }
  }
}

@media screen and (max-width: 991px) {
  .callback {
    &-wrap {
      padding: 30px 0 46px;
    }

    &-form {
      margin-right: 20px;
    }

    &-info {
      width: 220px;

      p {
        font-size: 16px;
        line-height: 1.4;
      }

      &__tel,
      &__mail {
        margin-bottom: 20px;
        font-size: 26px;
      }
    }

    &-input {

      input,
      span {
        font-size: 16px;
      }

      input {
        height: 52px;
      }
    }

    &-items {
      margin-bottom: 0;
    }

    &-required {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .callback {
    flex-direction: column;

    &-form {
      margin-bottom: 30px;
      margin-right: 0;
    }

    &-input {

      input,
      span {
        font-size: 18px;
      }
    }

    &-items {
      margin-left: -16px;
    }

    &-item {
      width: calc(50% - 16px);
      margin-left: 16px;
    }

    &-info {
      width: 100%;
      margin-top: 0;
      text-align: center;

      &__tel,
      &__mail {
        margin-bottom: 11px;
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .callback {
    &-wrap {
      padding: 26px 0 36px;

      .head {
        margin-bottom: 40px;
      }
    }

    &-items {
      flex-direction: column;
      margin-left: 0;
    }

    &-item {
      width: 100%;
      margin: 0 0 30px;
    }

    &-footer {
      flex-direction: column;
    }

    &-required {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

// Bottom

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;

  p {
    margin-bottom: 0;
    color: #7c7c7c;
    font-size: 16px;
    text-align: center;
  }

  a {
    color: $blue;
    font-size: 16px;
    text-decoration: underline;

    &:hover {
      color: #000000;
    }
  }
}

@media screen and (max-width: 991px) {
  .bottom {
    padding: 26px 0;

    p,
    a {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .bottom {
    flex-direction: column;
    align-items: center;
    padding: 16px 0;

    p,
    a {
      line-height: 1.4;
    }
  }
}

// Success request

.success-request {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(to right, #ff3d34 0%, #ff3d34 41%, #fa384f 100%);

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 540px;
    height: 540px;
    padding: 40px 86px 20px;
    border-radius: 50%;
    background-color: #000;

    p {
      margin-bottom: 80px;
      color: #ffffff;
      font-size: 24px;
      line-height: 1.6;
    }

    a {
      color: $blue;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__title {
    margin-bottom: 34px;
    color: $red;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
  }
}

#success-request {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;

  .fancybox-close-small {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .success-request {
    &-body {
      width: 500px;
      height: 500px;
      padding: 20px 70px;

      p {
        margin-bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .success-request {
    &-body {
      width: 300px;
      height: 300px;
      padding: 20px;

      p {
        margin-bottom: 16px;
        font-size: 17px;
        line-height: 1.4;
      }

      a {
        font-size: 16px;
      }
    }

    &__title {
      margin-bottom: 14px;
      font-size: 32px;
    }
  }
}