@media only screen and (max-width: 1610px) {
  // Showcase
  
  .showcase {
    &-wrap {
      .slick {
        &-arrow {
          left: 100px;
        }
        &-next {
          left: auto;
          right: 100px;
        }
      }
    }
  }
  
  // Offer
  
  .offer {
    &-items {
      .slick {
        &-arrow {
          left: -95px;
        }
        &-next {
          left: auto;
          right: -95px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  
  // Showcase
  
  .showcase {
    &-wrap {
      .slick {
        &-arrow {
          left: 0;
        }
        &-next {
          left: auto;
          right: 0;
        }
      }
    }
  }
  
  // Offer
  
  .offer {
    &-items {
      .slick {
        &-arrow {
          left: 0;
        }
        &-next {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1170px;
  }
  
   // Showcase
  
  .showcase {
    height: 650px;
    padding-top: 140px;
    &-head {
      font-size: 64px;
    }
  }
  
  // Main offers
  
  .main-offers {
    &-item {
      padding-left: 25px;
    }
    &-img {
      margin-right: 22px;
    }
    &-head {
      font-size: 23px;
    }
  }
  
  // Reception
  
  .reception {
    padding: 82px 0 28px 210px;
    &-head {
      font-size: 40px;
      margin-bottom: 18px;
    }
  }
  
  // Footer
  
  .footer {
    padding-top: 44px;
    &-item {
      margin: 0 100px 0 0;
    }
  }
  
  // Sight
  
  .sight {
    &-info {
      &__head {
        margin-bottom: 18px;
      }
      &__text {
        margin-bottom: 16px;
      }
    }
  }
  
  // Article
  
  .article {
    &-img {
      img {
        width: 575px;
      }
    }
  }
  
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  
  .slick-arrow i {
    font-size: 44px;
  }
  
  .nav {
    margin-right: 20px;
    li {
      padding-right: 20px;
      margin-right: 8px;
    }
  }
  
  // Header
  
  .header {
    &-info {
      &__tel {
        font-size: 22px;
      }
    }
  }
  
  // Bread
  
  .bread {
    margin-bottom: 42px;
    &-head {
      font-size: 46px;
    }
  }
  
  // Showcase
  
  .showcase {
    width: 792px;
    height: 550px;
    padding-top: 90px;
    &-head {
      font-size: 52px;
    }
  }
  
  // Main offers
  
  .main-offers {
    margin-bottom: 25px;
    &-head {
      font-size: 20px;
    }
  }
  
  // Offer
  
  .offer {
    &-items {
      margin-bottom: 100px;
    }
    &-content {
      width: 480px;
      padding: 26px 0 0 54px;
      &__head {
         font-size: 38px;
      }
      &__text {
        font-size: 20px;
      }
      &__img {
        background-size: 70%;
        bottom: -54px;
        left: -52px;
      }
    }
    &-info {
      padding: 20px 0 26px;
      &__amount {
        font-size: 30px;
      }
    }
  }
  
  // Main contacts
  
  .main-contacts {
    &-wrap {
      height: 350px;
    }
    &-content {
      width: 540px;
      padding: 24px 0 0;
      &:after {
        border-width: 450px 220px 0 0;
        right: -70px;
      }
    }
    &-head {
      font-size: 48px;
    }
    &-text,
    &-tel {
      font-size: 18px;
    }
    &-head {
      font-size: 44px;
      margin-bottom: 12px;
    }
    &-soc {
      padding-top: 32px;
    }
  }
  
  // Footer
  
  .footer {
    &-item {
      margin: 0 50px 0 0;
    }
  }
  
  // Sight
  
  .sight {
    &-head {
      font-size: 22px;
    }
    &-item {
      margin-bottom: 36px;
      &-img {
        margin-bottom: 14px;
      }
    }
    &-info {
      padding: 20px 20px 0 20px;
      &__head {
        margin-bottom: 8px;
      }
      &__text {
        line-height: 1.3;
        margin-bottom: 18px;
      }
    }
  }
  
  // Pagination
  
  .pagination {
    padding-bottom: 36px;
  }
  
  // Contacts
  
  .contacts {
    padding-bottom: 30px;
    &-content {
      padding: 0px 40px 0 144px;
    }
  }
  
  // Article
  
  .article {
    b, p {
      padding: 0 25px;
    }
    &-img {
      flex-wrap: wrap;
      margin-bottom: 16px;
      padding-top: 10px;
      img {
        width: auto;
        margin: 0 auto 15px;
      }
    }
  }
  
  // Catalog
  
  .catalog {
    &-info {
      padding-top: 20px;
      &__head {
        margin-bottom: 12px;
      }
      &__text {
        line-height: 1.3;
        margin-bottom: 26px;
      }
    }
    &-star {
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  
  // Nav
  
  .nav {
    &-wrap {
      padding-top: 16px;
    }
    li {
      padding-right: 18px;
      margin-right: 6px;
    }
  }
  
  // Header
  
  .header {
    flex-direction: column;
    &-info {
      &__tel {
        font-size: 20px;
      }
    }
  }
  
  // Bread
  
  .bread {
    padding: 30px 0 36px;
    &-head {
      font-size: 38px;
    }
  }
  
  // Showcase
  
  .showcase {
    width: 672px;
    padding-top: 70px;
    &-head {
      font-size: 46px;
      margin-bottom: 10px;
    }
    &-img {
      margin-bottom: 12px;
    }
  }
  
  // Main offers
  
  .main-offers {
    &-item {
      padding: 30px 10px;
      &:after {
        background-size: 80%;
        bottom: -14px;
        right: -14px;
      }
    }
    &-img {
      width: 80px;
      height: 80px;
      margin-right: 12px;
    }
    &-head {
      font-size: 18px;
    }
  }
  
  // Offer
  
  .offer {
    height: 296px;
    background-color: #d60e87;
    &-content {
      position: static;
      width: 100%;
      padding-right: 54px;
      &:after,
      &:before {
        display: none;
      }
      &__head {
        font-size: 32px;
      }
      &__text {
        font-size: 18px;
      }
    }
    &-img {
      display: none;
    }
  }
  
  // Reception
  
  .reception {
    padding: 18px 10px 12px;
    &:before {
      display: none;
    }
    &-head {
      font-size: 36px;
      margin-bottom: 6px;
    }
  }
  
  // Main contacts
  
  .main-contacts {
    &-content {
      width: 520px;
      &:after {
        border-width: 450px 140px 0 0;
        right: 12px;
      }
    }
  }
  
  // Footer
  
  .footer {
    flex-direction: column;
    padding-top: 30px;
    &-logo {
      margin: 0 auto 20px;
      &-wrap {
        text-align: center;
      }
      &-content {
        position: absolute;
        bottom: 18px;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
    &-items {
      padding-right: 0;
      justify-content: center;
    }
  }
  
  // Bottom
  
  .bottom {
    padding-bottom: 70px;
  }
  
  // Sight
  
  .sight {
    &-items {
      justify-content: center;
    }
    &-item {
      width: 600px;
      margin-right: 0;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  
  // Article
  
  .article {
    padding-bottom: 14px;
    b, p {
      line-height: 1.35;
      margin-bottom: 16px;
    }
  }
  
  // Catalog
  
  .catalog {
    &-items {
      justify-content: center;
    }
    &-item {
      width: 40%;
      margin: 0 2% 44px;
      &:nth-child(3n) {
        margin: 0 2% 44px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  
  // Burger
  
  .burger {
    display: block;
    width: 30px;
    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;
      span {
        position: relative;
        display: block;
        width: 30px;
        height: 4px;
        background-color: #12a3d8;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          content: '';
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background-color: #12a3d8;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }
        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }
          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }
  
  // Nav
  
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px;
    padding: 0;
    &-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      margin-top: 10px;
      &.active {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
      }
    }
    li {
      padding-right: 0;
      margin: 8px 0;
      &:after {
        display: none;
      }
      a {
        padding: 0 0 2px;  
      }
    }
  }
  
  // Header
  
  .header {
    flex-direction: row;
    position: relative;
    padding: 15px;
    &-wrap {
      .container {
        max-width: 100%;
      }
    }
    &-info {
      justify-content: center;
      align-items: center;
    }
  }
  
  // Bread
  
  .bread {
    &-head {
      margin-bottom: 0;
      font-size: 30px;
    }
  }
  
  // Showcase
  
  .showcase {
    width: 100%;
    height: 460px;
    padding-top: 60px;
    &-head {
      font-size: 36px;
    }
    &-text {
      line-height: 1.35;
    }
  }
  
  // Main offers
  
  .main-offers {
    &-item {
      width: 100%;
      margin-right: 0;
    }
  }
  
  // Reception
  
  .reception {
    padding: 20px 0 12px;
    &-head {
      font-size: 28px;
    }
    &-text {
      line-height: 1.35;
    }
  }
  
  // Main contacts
  
  .main-contacts {
    &-wrap {
      background-color: #d60e87;
      height: auto;
    }
    &-content {
      position: static;
      width: 100%;
      padding: 20px 0;
      &:after {
        display: none;
      }
    }
    &-map {
      height: 300px;
    }
    &-head {
      font-size: 38px;
    }
  }
  
  // Footer
  
  .footer {
    &-item {
      margin: 0 30px 0 0;
      &__info {
        font-size: 18px;
      }
    }
  }
  
  // Contacts
  
  .contacts {
    &-content {
      padding: 0;
    }
    &-head {
      font-size: 46px;
    }
  }
  
  // Article
  
  .article {
    b, p {
      padding: 0;
    }
  }
  
  // Catalog
  
  .catalog {
    &-item {
      width: 60%;
      &-img {
        margin-bottom: 14px;
      }
      &__head {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  
  .logo {
    width: 144px;
  }
  
  // Header
  
  .header {
    padding: 10px;
    &-wrap {
      .container {
        padding: 0;
      }
    }
  }
  
  // Bread
  
  .bread {
    &-head {
      font-size: 22px;
    }
  }
  
  // Showcase
  
  .showcase {
    height: 500px;
    padding-top: 44px;
    &-wrap {
      .slick {
        &-arrow {
          display: none !important;
        }
        &-dots {
           bottom: 22px;
        }
      }
    }
    &-text {
      padding: 0;
    }
    &-head {
      font-size: 30px;
    }
  }
  
  // Main offers
  
  .main-offers {
    &-head {
      font-size: 15px;
    }
    &-img {
      width: 60px;
      height: 60px;
      margin-right: 8px;
    }
    &-item {
      &:after {
        background-size: 64%;
        bottom: -26px;
        right: -26px;
      }
    }
  }

  // Reception
  
  .reception {
    &:before {
      background-size: 70%;
      top: 0px;
      left: -42px;
    }
    &-head {
      font-size: 24px;
    }
    &-text {
      margin-bottom: 14px;
    }
  }
  
  // Main contacts
  
  .main-contacts {
    &-head {
      font-size: 32px;
    }
  }
  
  // Footer
  
  .footer {
    padding-bottom: 14px;
    &-items {
      flex-direction: column;
    }
    &-item {
      margin-right: 0;
      margin-bottom: 18px;
      text-align: center;
    }
  }
  
  // Sight
  
  .sight {
    &-head {
      font-size: 20px;
    }
    &-item {
      width: 100%;
      margin-bottom: 18px;
    }
    &-info {
      padding: 8px 8px 0 8px;
      .link {
        line-height: 32px;
        font-size: 12px;
        padding: 0 44px 0 16px;
        i {
          width: 25px;
          height: 24px;
          margin-top: -12px;
        }
      }
    }
  }
  
  // Pagination
  
  .pagination {
    font-size: 0;
    li {
      width: 30px;
      height: 30px;
      a {
        line-height: 30px;
      }
    }
  }
  
  // Contacts
  
  .contacts {
    padding: 5px 0 10px;
    &-head {
      font-size: 32px;
    }
  }
  
  // Article
  
  .article {
    &-img {
      img {
        height: 200px;
      }
    }
  }
  
  // Catalog
  
  .catalog {
    &-item {
      width: 300px;
      margin: 0 0 20px;
      &:nth-child(3n) {
        margin: 0 0 20px;
      }
    }
    &-info {
      padding: 18px 16px 0;
      &__head {
        font-size: 22px;
        margin-bottom: 10px;
      }
      &__text {
        margin-bottom: 20px;
      }
    }
    &-star {
      margin-bottom: 14px;
    }
  }
  
  // Modal
  
  .modal {
    width: 310px;
    padding: 10px;
    &-head {
      font-size: 20px;
      line-height: 1.1;
    }
    &-input {
      input {
        height: 40px;
        font-size: 15px;
      }
      textarea {
        height: 85px;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 462px) {
  
  // Sight
  
  .sight {
    &-info {
      &__head {
        font-size: 18px;
        margin-bottom: 4px;
      }
      &__text {
        line-height: 1.2;
        font-size: 14px;
        margin-bottom: 8px;
        max-height: 110px;
        overflow: hidden;
      }
    }
  }
  
  // Offer
  
  .offer {
    &-items {
      .slick {
        &-arrow {
          display: none !important;
        }
      }
    }
    &-content {
      padding: 18px 10px 0;
      &__head {
        font-size: 24px;
      }
      &__text {
        font-size: 16px;
      }
    }
    &-info {
      &__amount {
        font-size: 24px;
      }
      &__price {
        font-size: 18px;
      }
    }
  }
}