$pink: #d60e87;
$blue: #12a3d8;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'PragmaticaC', sans-serif;
}

a {
  font: 400 16px 'PragmaticaC', sans-serif;
  display: inline-block;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.container {
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.burger {
  display: none;
}

.link {
  line-height: 40px;
  background-color: $pink;
  box-shadow: 0 0 25px rgba(139, 0, 74, 0.45);
  border-radius: 30px;
  padding: 0 50px 0 24px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  &:hover {
    color: #fff;
    background-color: #bf0877;
    i:before {
      color: #bf0877;
    }
  }
  i {
    width: 28px;
    height: 27px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -13.5px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 1px 0 0 1px;
    &:before {
      color: $pink;
    }
  }
}

// Logo

.logo {
  width: 169px;
  flex-shrink: 0;
}

// Nav

.nav {
  margin-right: 110px;
  padding-top: 8px;
  &-wrap {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
  }
  li {
    position: relative;
    padding-right: 29px;
    margin-right: 12px;
    &:after {
      content: '//';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      padding: 0 0 4px;
      font-weight: 700;
      text-transform: uppercase;
      color: $pink;
      border-bottom: 2px solid $blue;
      &:hover {
        border-bottom: 2px solid transparent;
      }
    }
  }
}

// Header

.header {
  padding: 14px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__tel {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: $blue;
      &:hover {
        color: #000;
      }
    }
    &__link {
      color: $blue;
      text-decoration: underline;
      &:hover {
        color: $blue;
      }
    }
  }
}

// Bread

.bread {
  padding: 45px 0 50px;
  margin-bottom: 66px;
  text-align: center;
  &-wrap {
    background-color: $pink;
  }
  ul {
    margin-bottom: 16px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 24px;
      margin-right: 6px;
      position: relative;
      &:after {
        content: '//';
        display: block;
        color: #FFF;
        position: absolute;
        top: 0;
        right: 0;
      }
      a {
        color: #FFF;
        border-bottom: 1px solid #fff;
        &:hover {
           border-bottom: 1px solid transparent;
        }
      }
    }
  }
  &-head {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
  }
}

// Showcase

.showcase {
  width: 880px;
  height: 849px;
  margin: 0 auto;
  padding-top: 258px;
  text-align: center;
  color: #fff;
  &-wrap {
    margin-bottom: 40px;
    .slick {
      &-arrow {
        left: 168px;
      }
      &-next {
        left: auto;
        right: 168px;
      }
    }
  }
  &-head {
    font-size: 84px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 27px;
  }
  &-img {
    width: 60px;
    height: 61px;
    margin: 0 auto 26px;
  }
  &-text {
    line-height: 1.65;
    padding: 0 42px;
  }
}

// Slick

.slick {
  position: relative;
  &-arrow {
    border: none;
    cursor: pointer;
    transition: 300ms;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    &:focus {
      outline: none;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 56px;
      &:before {
        color: rgba(255, 255, 255, .3);
        transition: 300ms;
      }
      &:hover:before {
        color: #fff;
      }
    }
  }
  &-next {
    left: auto;
    right: 0;
  }
  &-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 6px;
      width: 30px;
      height: 30px;
      border: 2px solid transparent;
      border-radius: 50%;
      cursor: pointer;
      button {
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      &.slick-active {
        border: 2px solid #fff;
      }
    }
  }
}

// Main offers

.main-offers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
  &-wrap {
    overflow: hidden;
  }
  &-item {
    position: relative;
    z-index: 1;
    width: 49.2%;
    margin: 0 1.6% 1.6% 0;
    background-color: #edf4f8;
    padding: 48px 10px 43px 36px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgba(237, 244, 248, .5);
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/offers-b.png) no-repeat 50%;
      width: 147px;
      height: 146px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }
  &-img {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    margin-right: 30px;
  }
  &-head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    color: #000;
  }
}

// Offer

.offer {
  &-items {
//    height: 397px;
    margin-bottom: 120px;
    position: relative;
  }
  &-content {
    width: 626px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 53px 0 0 67px;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 397px 230px 0 0;
      border-color: $pink transparent transparent transparent;
      position: absolute;
      top: 0;
      right: -176px;
      bottom: 0;
      z-index: -1;
    }
    &:before {
      content: '';
      display: block;
      background-color: $pink;
      width: 2000px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 53px;
      z-index: -1;
    }
    &__head {
      font-size: 54px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 8px;
    }
    &__text {
      font-size: 24px;
      margin-bottom: 6px;
      color: #fff;
    }
    &__img {
      background: url(../images/of-b.png) no-repeat 50%;
      width: 360px;
      height: 365px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
  &-info {
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    padding: 34px 0 39px;
    &__amount {
      font-size: 34px;
      margin-right: 4px;
    }
    &__price {
      font-size: 24px;
      padding-bottom: 3px;
    }
  }
}

// Offer slick

.offer-items .slick {
  &-arrow {
//    transform: translate(0);
//    top: 175px;
    left: -162px;
    i {
      &:hover:before {
        color: #19a6d9;
      }
      &:before {
        color: #d2e3ed;
      }
    }
  }
  &-next {
    left: auto;
    right: -162px;
  }
  &-dots {
    bottom: -62px;
    li {
      button {
        background-color: #d2e3ed;
      }
      &.slick-active {
        border: 2px solid $pink;
        button {
          background-color: $pink;
        }
      }
    }
  }
}

// Reception

.reception {
  position: relative;
  z-index: 5;
  padding: 103px 0 28px 240px;
  &:before {
    content: '';
    display: block;
    background: url(../images/reception-b.png) no-repeat 50%;
    width: 298px;
    height: 307px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -1;
  }
  &-wrap {
    background-color: #edf4f8;
  }
  &-head {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 22px;
  }
  &-text {
    line-height: 1.65;
    margin-bottom: 25px;
  }
}

// Main contacts

.main-contacts {
  position: relative;
  &-wrap {
    overflow: hidden;
    height: 450px;
  }
  &-content {
    width: 620px;
    padding: 54px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 150px;
      bottom: 0;
      height: 450px;
      background-color: $pink;
      width: 2000px;
      z-index: -1;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -110px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 450px 260px 0 0;
      border-color: $pink transparent transparent transparent;
      z-index: -1;
    }
  }
  &-map {
    height: 100%;
    font-size: 0;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &-head {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 22px;
  }
  &-img {
    width: 70px;
    height: 73px;
    margin-bottom: 18px;
  }
  &-text {
    font-size: 24px;
    margin-bottom: 7px;
    color: #fff;
  }
  &-tel {
    font-size: 24px;
    color: #fff;
    &:hover {
      color: #000;
    }
  }
  &-soc {
    padding-top: 50px;
    font-size: 0;
    a {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Footer */

.footer {
  padding: 50px 0 24px;
  display: flex;
  justify-content: space-between;
  &-wrap {
    background-color: $blue;
  }
  &-logo {
    width: 169px;
    height: 80px;
    margin-bottom: 24px;
    &-content {
      p {
        font-size: 14px;
        margin-bottom: 8px;
        color: #fff;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-items {
    display: flex;
    padding-right: 36px;
  }
  &-item {
    list-style: none;
    padding: 0;
    margin: 0 136px 0 0;
    &:last-child {
      margin-right: 0;
    }
    li {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: 700;
        color: #fff;
        &:hover {
          color: #000;
        }
      }
    }
    &__info {
      font-size: 24px;
    }
  }
}

/* Bottom */

.bottom {
  text-align: center;
  padding-bottom: 25px;
  span, a {
    color: #000;
    font-size: 14px;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Sight

.sight {
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 49.2%;
    margin: 0 1.6% 45px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &-img {
      position: relative;
      margin-bottom: 26px;
    }
    &:hover {
      .sight {
        &-info {
          opacity: 1;
          visibility: visible;
        }
        &-head {
          opacity: 0;
        }
      }
    }
  }
  &-head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }
  &-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #edf4f8;
    padding: 32px 40px 0 29px;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 28px;
    }
    &__text {
      line-height: 1.65;
      margin-bottom: 40px;
    }
    .link {
      box-shadow: none;
    }
  }
}

// Pagination

.pagination {
  justify-content: center;
  text-align: center;
  padding: 3px 0 54px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    &.left, 
    &.right {
      width: 28px;
      height: 27px;
      background-color: #dfe9ef;
      border-radius: 50%;
      margin-right: 5px;
      a {
        height: 27px;
        line-height: 27px;
        color: #fff;
        &:hover {
          background-color: $blue;
        }
        i {
          font-size: 21px;
          margin-top: 3px;
        }
      }
    }
    &.right {
      margin-right: 0;
      margin-left: 6px;
    }
    &.active {
      a {
        color: #fff;
        background-color: #ec008c;
      }
    }
    a {
      width: 100%;
      line-height: 40px;
      border-radius: 50%;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        color: #fff;
        background-color: $pink;
      }
    }
  }
}

// Contacts

.contacts {
  padding: 28px 0 52px;
  position: relative;
  z-index: 5;
  &:before {
    content: '';
    display: block;
    background: url(../images/reception-b.png) no-repeat 50%;
    width: 298px;
    height: 307px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
  }
  &_bread {
    background-color: #bbd531;
  }
  &-content {
    padding: 0 90px 0 240px;
  }
  &-head {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  &-text {
    line-height: 1.65;
    margin-bottom: 26px;
    a {
      border-bottom: 1px solid $blue;
      color: $blue;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Article

.article {
  padding-bottom: 32px;
  &_bread {
    .bread {
      margin-bottom: 47px;
    }
  }
  b, p {
    display: block;
    padding: 0 80px;
    line-height: 1.65;
    margin-bottom: 25px;
  }
  &-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
    padding-top: 23px;
    img {
      width: 620px;
    }
  }
}

// Catalog

.catalog {
  &_bread {
    background-color: $blue;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 48px;
    &:hover {
      .catalog {
        &-info {
          opacity: 1;
          visibility: visible;
        }
        &-item {
          &__head {
            opacity: 0;
          }
        }
      }
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-img {
      position: relative;
      margin-bottom: 24px;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  &-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #edf4f8;
    padding: 32px 28px 0;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    &__text {
      line-height: 1.65;
      margin-bottom: 33px;
    }
    .link {
      box-shadow: none;
      padding: 0 45px 0 20px;
    }
  }
  &-star {
    margin-bottom: 42px;
    i {
      color: $pink;
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
      &.disable {
        color: #d0d8dd;
      }
    }
  }
}

// Modal

.modal {
  display: none;
  width: 360px;
  background-color: #edf4f8;
  margin: 0 auto;
  padding: 28px;
  position: relative;
  z-index: 5;
  &:after {
    content: '';
    display: block;
    background: url(../images/modal-after.png) no-repeat 50%;
    width: 176px;
    height: 158px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .check {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #959595;
    &-wrap {
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin: 10px 0 22px;
    }
    input {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
      &:checked + span:before {
        opacity: 1;
      }
    }
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: $pink;
        opacity: 0;
        transition: 300ms;
      }
    }
    &-text {
      padding-left: 34px;
      font-size: 14px;
      a {
        font-size: 14px;
        color: $blue;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .fieldset {
    input {
      display: none;
    }
    .error-message {
      font-size: 14px;
      font-weight: 700;
      color: $pink;
      padding-top: 2px;
    }
  }
  &-link {
    text-align: center;
    .link {
      border: none;
      cursor: pointer;
      transition: 300ms;
      padding: 0 56px 0 22px;
      box-shadow: none;
    }
  }
  &-head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 5px;
  }
  &-input {
    margin-bottom: 14px;
    input, textarea {
      width: 100%;
      height: 46px;
      border: none;
      border-bottom: 2px solid $blue;
      font: 400 16px 'PragmaticaC';
      color: #000;
      background-color: transparent;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    textarea {
      resize: none;
      height: 94px;
      line-height: 1.2;
    }
  }
  .fancybox-close-small {
    display: none;
  }
}