@media only screen and (max-width: 1578px) {
  .container {
    width: 1320px; }
  /* Header */
  .header-item {
    margin-right: 20px; }
  .header-info-wrap {
    width: 470px;
    padding-right: 0; }
  /* Showcase */
  .showcase-wrap {
    background-position: 22%; }
  .showcase-sentence {
    width: 440px; }
  /* Objects */
  .objects-item {
    margin-right: 15px; }
    .objects-item-content {
      padding: 16px 10px 20px 10px; }
  /* Product */
  .product-items, .product-inner {
    width: 940px;
    margin: 0 auto 40px; }
  /* Main services */
  .main-services-items,
  .main-event-items,
  .slider {
    width: 1060px;
    margin: 0 auto 40px; }
  /* Shares */
  .shares-item {
    width: 651px; }
    .shares-item__head {
      font-size: 21px; }
    .shares-item-content {
      padding: 18px 12px 0 16px; }
  /* Main order */
  .main-order {
    margin-bottom: 50px; }
    .main-order__text {
      margin-bottom: 20px;
      line-height: 1.35; }
  /* Footer */
  .footer-logo {
    margin-right: 88px; }
  .footer-contact-wrap {
    width: 580px; }
  /* Products */
  .products-img {
    width: 572px; }
  .products-content {
    padding-top: 0; }
    .products-content__head {
      margin-bottom: 22px;
      line-height: 1.2; }
    .products-content .product-brand {
      padding-bottom: 18px;
      margin-bottom: 20px; }
  .products-info {
    padding: 24px 24px 40px 32px; }
    .products-info-mod {
      padding: 50px 0 30px; }
  .products-note {
    top: 124px;
    left: -152px; }
    .products-note__text {
      padding: 7px 26px 0; }
  .products-amount {
    margin-bottom: 40px; }
  /* Catalog */
  .catalog-nav {
    margin-bottom: 34px; }
  .catalog-sidebar {
    width: 280px; }
  .catalog-content {
    padding-left: 20px;
    padding-bottom: 40px; }
  .catalog-items .product-item {
    width: 333px;
    margin: 0 10px 22px 0; }
  /* Pagination */
  .pagination {
    padding-left: 0;
    text-align: center; }
  /* Promotion */
  .stock-info-item {
    margin-right: 72px; }
  /* Events */
  .events-items .main-event-item {
    width: 322px;
    margin: 0px 10px 10px 0; }
  .events-items .main-event-content {
    padding: 10px 6px 20px; }
  .events-items .main-event__head {
    font-size: 16px;
    margin-bottom: 6px; }
  .events-items .main-event__text {
    line-height: 1.4;
    margin-bottom: 16px; }
  /* Promotion */
  .stock {
    padding-bottom: 28px; }
  /* Poster */
  .poster-content {
    padding-right: 40px; }
    .poster-content-img {
      width: 590px; }
    .poster-content-info {
      padding: 8px 0 0 25px; }
    .poster-content__head {
      font-size: 28px;
      line-height: 1.1;
      margin-bottom: 18px; }
  /* Gallery */
  .gallery a {
    width: 322px;
    margin-right: 10px;
    margin-bottom: 7px; }
  /* Payment */
  .payment-item {
    width: 628px; }
    .payment-item__head {
      margin-bottom: 32px; }
    .payment-item__note {
      font-size: 21px;
      margin-bottom: 40px; }
  .payment-content-block {
    padding-left: 135px; }
  .payment-content-item {
    margin-bottom: 57px; }
  /* Basket */
  .basket-content {
    padding-right: 60px; }
    .basket-content table td:nth-child(3) {
      width: 110px; }
  .basket-node {
    padding-left: 140px; }
    .basket-node-login {
      padding-left: 25px; } }

@media only screen and (max-width: 1336px) {
  .container {
    width: 1170px; }
  .ref a,
  .topic a {
    height: 48px; }
  /* Logo */
  .logo {
    width: 250px; }
  /* Nav */
  .nav li {
    padding-right: 8px;
    margin-right: 5px; }
  /* Header */
  .header-item {
    width: 470px;
    margin-right: 5px; }
  .header-info-wrap {
    width: 430px; }
  /* Showcase */
  .showcase-sentence {
    margin-left: 0;
    padding-top: 70px; }
    .showcase-sentence__head {
      font-size: 80px; }
  .showcase-range {
    width: 710px;
    margin-right: 0; }
    .showcase-range-item {
      width: 227px;
      padding: 14px 5px 16px; }
    .showcase-range-img {
      height: 75px;
      line-height: 75px;
      margin-bottom: 4px; }
      .showcase-range-img img {
        line-height: 75px; }
    .showcase-range__head {
      font-size: 21px; }
  /* Objects */
  .objects-item__text {
    line-height: 1.25; }
  /* Book it */
  .book-it {
    padding-top: 20px;
    margin-bottom: 30px; }
    .book-it__text {
      line-height: 1.4; }
  /* Product */
  .product {
    padding: 46px 0; }
    .product .text {
      margin-bottom: 24px; }
  /* Main services */
  .main-services-items,
  .main-event-items,
  .slider {
    margin-bottom: 16px; }
    .main-services-items .slick-arrow,
    .main-event-items .slick-arrow,
    .slider .slick-arrow {
      left: -60px; }
    .main-services-items .slick-next,
    .main-event-items .slick-next,
    .slider .slick-next {
      left: auto;
      right: -60px; }
  .main-services {
    padding-bottom: 42px; }
  /* Shares */
  .shares {
    padding: 34px 0; }
    .shares .head,
    .shares .text {
      margin-bottom: 18px; }
    .shares-items {
      justify-content: center;
      margin-bottom: 20px; }
    .shares-item {
      width: 575px;
      margin: 0 20px 20px 0; }
      .shares-item-img {
        width: 276px; }
      .shares-item__data {
        margin-bottom: 12px; }
      .shares-item__head {
        line-height: 1.2;
        margin-bottom: 6px; }
      .shares-item__text {
        line-height: 1.25; }
  /* Main event */
  .main-event {
    padding: 44px 0 36px; }
    .main-event .text {
      margin-bottom: 24px; }
  /* Main order */
  .main-order {
    padding: 32px 25px; }
  /* Footer */
  .footer-logo {
    margin-right: 40px; }
  .footer-content ul {
    margin-right: 60px; }
  .footer-contact-wrap {
    width: 545px; }
  /* Products */
  .products-img {
    width: 510px; }
  .products-content {
    margin-right: 12px;
    padding-top: 0; }
    .products-content b {
      margin-bottom: 6px;
      font-size: 15px; }
    .products-content__head {
      font-size: 28px; }
    .products-content-descr p {
      line-height: 1.2;
      padding-bottom: 12px;
      margin-bottom: 14px; }
    .products-content .product-brand {
      padding-bottom: 12px;
      margin-bottom: 12px; }
  .products-info {
    width: 320px;
    padding: 24px 14px 20px 18px; }
    .products-info-mod {
      padding: 30px 0 19px; }
      .products-info-mod label {
        width: 144px; }
        .products-info-mod label span {
          padding-left: 4px; }
    .products-info .product-info-link a span {
      font-size: 21px; }
  .products-amount {
    margin-bottom: 30px; }
    .products-amount__price {
      margin-right: 0; }
  /* Catalog */
  .catalog-nav-item input {
    width: 320px; }
  .catalog-nav-item .select2-container {
    width: 160px !important; }
  .catalog-nav-item.mod .select2-container {
    width: 66px !important; }
  .catalog-nav__name {
    margin-right: 6px; }
  .catalog-header__text {
    padding-right: 0;
    line-height: 1.35; }
  .catalog-header__head {
    margin-bottom: 22px; }
  .catalog-items .product-item {
    width: 283px; }
  /* Promotion */
  .stock-info-items {
    padding-left: 34px; }
  .stock-info-item {
    margin-right: 40px; }
    .stock-info-item span {
      padding-left: 12px; }
  /* Events */
  .events-items .main-event-item {
    width: 285px; }
  .events-items .main-event__head {
    line-height: 1.2; }
  .events-items .main-event__text {
    line-height: 1.2; }
  /* Past */
  .past .events-items {
    padding-bottom: 8px; }
  /* Poster */
  .poster-sidebar {
    width: 300px;
    padding: 10px 10px 24px; }
  .poster-content-img {
    width: 560px; }
  .poster-content-info {
    padding-left: 16px; }
  .poster-content__head {
    font-size: 24px;
    margin-bottom: 12px; }
  .poster-content__text {
    line-height: 1.35;
    padding-bottom: 26px;
    margin-bottom: 26px; }
  .poster .soc__head {
    margin-bottom: 12px; }
  .poster .soc-items a {
    margin-right: 4px; }
  /* Gallery */
  .gallery a {
    width: 285px; }
  /* Payment */
  .payment-item {
    width: 565px; }
  /* Basket */
  .basket-content {
    padding-right: 34px; }
    .basket-content table tbody td:nth-child(2) {
      width: 360px; }
    .basket-content table tbody td:nth-child(3) {
      width: 118px; }
    .basket-content table tbody td:nth-child(4) {
      width: 80px; }
    .basket-content table tbody td:nth-child(5) {
      width: 95px; }
  .basket-sidebar {
    width: 310px;
    padding: 18px 12px 30px 14px; }
  .basket-node {
    padding: 10px 0 0 70px; }
    .basket-node__link {
      margin-bottom: 40px; }
  /* Order */
  .order-wrap {
    padding-bottom: 60px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px; }
  /* Lofo */
  .logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%); }
  /* Header */
  .header {
    padding-top: 120px; }
    .header-info-wrap {
      width: 450px; }
  /* Showcase */
  .showcase-sentence {
    width: 430px;
    align-self: flex-start;
    padding-bottom: 125px; }
  .showcase-range {
    width: 515px; }
    .showcase-range-item {
      width: 250px;
      margin-right: 14px !important; }
      .showcase-range-item:nth-child(2n) {
        margin-right: 0 !important; }
  /* Objects */
  .objects {
    padding-bottom: 10px; }
    .objects-items {
      flex-wrap: wrap;
      justify-content: center; }
    .objects-item {
      margin: 0 10px 20px; }
      .objects-item:last-child {
        margin-right: 10px; }
  /* Book it */
  .book-it {
    padding: 20px; }
    .book-it-items {
      width: auto; }
    .book-it-item {
      padding-right: 40px; }
  /* Product */
  .product-items .slick-arrow, .product-inner .slick-arrow {
    left: -25px; }
  .product-items .slick-next, .product-inner .slick-next {
    left: auto;
    right: -25px; }
  /* Main services */
  .main-services-items,
  .main-event-items,
  .slider {
    width: 700px; }
    .main-services-items .slick-arrow,
    .main-event-items .slick-arrow,
    .slider .slick-arrow {
      left: -60px; }
    .main-services-items .slick-next,
    .main-event-items .slick-next,
    .slider .slick-next {
      left: auto;
      right: -60px; }
  .main-services__head {
    line-height: 1.2;
    margin-bottom: 10px; }
  .main-services-content {
    padding: 10px 12px 20px; }
  /* Shares */
  .shares-item {
    margin: 0 10px 20px; }
    .shares-item:nth-child(2n) {
      margin-right: 10px; }
  /* Main order */
  .main-order-content {
    padding-right: 20px; }
  .main-order__head {
    font-size: 28px;
    font-size: 28px; }
  .main-order__text {
    margin-bottom: 10px;
    line-height: 1.3; }
  /* Footer */
  .footer {
    padding-left: 0; }
    .footer-logo {
      float: none;
      width: auto;
      margin: 0 auto 30px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer-logo-content {
        margin-left: 16px; }
      .footer-logo__text {
        margin-top: 16px; }
  /* Products */
  .products-img {
    width: 400px;
    margin-right: 8px;
    align-self: baseline; }
  .products-content {
    margin-right: 8px; }
    .products-content__head {
      font-size: 22px; }
  .products-info {
    width: 290px;
    padding: 14px 6px 20px 8px; }
    .products-info-mod label {
      width: 138px; }
  .products-amount {
    margin-bottom: 24px; }
    .products-amount-info span,
    .products-amount-info input {
      width: 40px;
      font-size: 21px; }
    .products-amount__price {
      font-size: 30px; }
  /* Catalog */
  .catalog-items {
    text-align: center; }
    .catalog-items .product-item {
      margin: 0 10px 20px !important; }
    .catalog-items .product-content {
      text-align: left; }
  .catalog-nav {
    flex-direction: column; }
    .catalog-nav-item {
      justify-content: center;
      margin-bottom: 10px; }
  /* Promotion */
  .stock-info-link {
    width: 180px; }
  .stock-info-items {
    padding-left: 12px; }
  .stock-info-item {
    margin-right: 12px; }
  /* Events */
  .events-items {
    padding-top: 36px;
    justify-content: center; }
    .events-items .main-event-item {
      width: 300px;
      margin: 0 10px 10px; }
      .events-items .main-event-item:nth-child(4n) {
        margin: 0 10px 10px; }
  /* Poster */
  .poster {
    flex-direction: column;
    justify-content: center; }
    .poster-content {
      padding-right: 20px;
      margin-bottom: 20px; }
      .poster-content-img {
        width: 450px; }
    .poster-sidebar {
      margin: 0 auto; }
    .poster_past {
      padding-bottom: 20px; }
  /* Gallery */
  .gallery {
    justify-content: center; }
    .gallery a {
      margin: 0 6px 8px; }
      .gallery a:nth-child(4n) {
        margin: 0 6px 8px; }
  /* Affiche */
  .affiche .soc-wrap {
    position: static;
    background-color: inherit; }
  .affiche .poster {
    padding-bottom: 30px; }
  /* Payment */
  .payment-item__head {
    margin-bottom: 25px; }
  .payment-item__note {
    font-size: 17px; }
  .payment-content-item img {
    width: 80px; }
  .payment-content-block {
    padding-left: 100px;
    padding-right: 10px; }
    .payment-content-block p {
      line-height: 1.35; }
      .payment-content-block p br {
        display: none; }
  /* Contacts */
  .contacts {
    padding-bottom: 16px; }
    .contacts__head {
      margin-bottom: 16px;
      font-size: 28px;
      line-height: 1.2; }
    .contacts__note {
      width: auto;
      line-height: 1.2;
      font-size: 18px; }
    .contacts__text {
      width: auto;
      line-height: 1.35; }
    .contacts .gallery {
      padding-bottom: 14px; }
      .contacts .gallery a {
        width: 230px; }
  /* Basket */
  .basket__text {
    margin-bottom: 40px; }
  .basket-content {
    padding-right: 0;
    margin-bottom: 30px; }
    .basket-content table {
      margin: 0 auto; }
    .basket-content-wrap {
      flex-direction: column;
      justify-content: center; }
  .basket-node {
    padding-left: 0; }
    .basket-node-login {
      padding-left: 125px; }
    .basket-node__link {
      margin-left: 125px; }
  .basket-sidebar {
    margin: 0 auto; }
  /* Order */
  .order-content {
    width: 600px; }
  .order-sidebar {
    width: 280px; }
  .order-inform {
    padding-left: 40px; }
  .order-consent {
    padding-left: 103px; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  /* Nav */
  .nav {
    text-align: center; }
  /* Header */
  .header-item {
    float: none;
    width: auto;
    margin: 0 auto 20px; }
    .header-item-info {
      padding-right: 0; }
  .header-info-wrap {
    float: none;
    width: 550px;
    margin: 0 auto; }
  /* Showcase */
  .showcase {
    justify-content: center; }
    .showcase-range {
      display: none; }
  /* Range */
  .range-wrap {
    display: block; }
    .range-wrap .showcase-range {
      display: flex;
      margin: 0 auto; }
      .range-wrap .showcase-range__text {
        display: none; }
      .range-wrap .showcase-range-item {
        display: flex;
        align-items: center;
        position: relative; }
        .range-wrap .showcase-range-item:hover .showcase-range__view {
          display: none; }
        .range-wrap .showcase-range-item.categories {
          width: 100%;
          background-color: #edf4f8;
          margin-right: 0 !important; }
          .range-wrap .showcase-range-item.categories .showcase-range-img {
            width: 90px;
            height: 80px; }
          .range-wrap .showcase-range-item.categories .showcase-range__view {
            display: block;
            color: #ef413d;
            font-size: 21px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            border-bottom: 1px solid transparent; }
            .range-wrap .showcase-range-item.categories .showcase-range__view:hover {
              border-bottom: 1px solid #ef413d; }
      .range-wrap .showcase-range-img {
        flex-shrink: 0;
        width: 70px;
        height: 70px; }
      .range-wrap .showcase-range__head {
        padding-left: 18px;
        text-align: left;
        line-height: 1.1; }
  /* Product */
  .product-wrap .container {
    width: auto; }
  .product-items, .product-inner {
    width: auto; }
  /* Main services */
  .main-services-wrap .container,
  .main-event-wrap .container {
    width: 100%; }
  .main-services-items,
  .main-event-items {
    width: 100%; }
  /* Slider */
  .slider {
    width: 100%; }
  /* Main order */
  .main-order {
    flex-direction: column; }
    .main-order-content {
      padding-right: 0;
      margin-bottom: 30px; }
  /* Vacancy */
  .vacancy {
    align-self: center; }
  /* Footer */
  .footer-content ul {
    margin-right: 40px; }
  .footer-contact {
    padding-right: 0; }
    .footer-contact-wrap {
      width: 467px; }
  /* Products */
  .products {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .products-img {
      width: 500px;
      margin: 0 auto 20px; }
      .products-img:after {
        display: none; }
    .products-content {
      margin-right: 0;
      margin-bottom: 20px;
      width: auto; }
    .products-info {
      width: 310px; }
  /* Catalog */
  .catalog {
    flex-direction: column; }
    .catalog-sidebar {
      width: auto;
      padding-bottom: 30px; }
      .catalog-sidebar:after {
        content: '';
        display: block;
        background-color: #fce5e7;
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%; }
      .catalog-sidebar-item {
        text-align: center;
        margin-bottom: 30px; }
        .catalog-sidebar-item h2 {
          margin-bottom: 20px; }
      .catalog-sidebar-par {
        width: 155px;
        text-align: left;
        margin: 0 auto 20px; }
      .catalog-sidebar .ref {
        justify-content: center;
        margin-left: 0; }
    .catalog-content {
      padding: 30px 0; }
  /* Promotion */
  .stock-info {
    flex-direction: column; }
    .stock-info-link {
      width: 100%;
      line-height: 50px; }
    .stock-info-items {
      padding: 10px 0; }
    .stock-info-item span {
      padding-left: 5px;
      font-size: 15px; }
  /* Poster */
  .poster-content {
    flex-direction: column; }
    .poster-content-img {
      margin: 0 auto 10px; }
  /* Payment */
  .payment-items {
    flex-direction: column; }
  .payment-item {
    margin: 0 auto 30px; }
    .payment-item__head, .payment-item__note {
      text-align: center; }
  .payment-content-item:last-child {
    margin-bottom: 0; }
  /* Contacts */
  .contacts__head {
    width: auto; }
  .contacts .gallery a {
    margin-bottom: 8px; }
  /* Basket */
  .basket {
    padding-bottom: 40px !important; }
    .basket-content table tbody td:first-child {
      width: 190px; }
    .basket-content table tbody td:nth-child(2) {
      width: 340px; }
    .basket-content table tbody td:nth-child(3) {
      width: 92px; }
    .basket-node-login {
      padding-left: 20px; }
  /* Order */
  .order {
    flex-direction: column; }
    .order__head {
      text-align: center; }
    .order-content {
      margin: 0 auto 40px; }
    .order-sidebar {
      margin: 0 auto; }
      .order-sidebar label {
        margin-bottom: 30px; }
    .order-consent {
      padding-left: 0;
      justify-content: center; }
      .order-consent label {
        margin-right: 48px;
        padding-top: 0; }
        .order-consent label input {
          margin-right: 12px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px; }
  .head {
    font-size: 20px;
    margin-bottom: 14px !important; }
  .text {
    margin-bottom: 14px !important; }
  .slick-list {
    overflow: visible; }
  /* Showcase */
  .showcase-range {
    width: auto;
    justify-content: center; }
    .showcase-range-item {
      width: 50%;
      margin-right: 0px !important;
      position: relative; }
      .showcase-range-item.categories:after, .showcase-range-item.categories:before {
        content: '';
        display: block;
        background-color: #edf4f8;
        width: 1000px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 100%; }
      .showcase-range-item.categories:before {
        right: auto;
        left: 100%; }
  /* Range */
  .range-wrap {
    overflow: hidden; }
  /* Book it */
  .book-it-items {
    flex-direction: column; }
  .book-it-item {
    padding-right: 0; }
  .book-it-info {
    text-align: center;
    width: auto; }
  /* Product */
  .product {
    padding: 40px 0 33px; }
    .product:before {
      content: '';
      display: block;
      background: url(../images/after.png) no-repeat 50%;
      width: 232px;
      height: 22px;
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translate(-50%); }
    .product-inner .slick-dots {
      bottom: -40px; }
    .product-inner .product-content {
      padding: 8px 5px 20px; }
    .product-wrap {
      overflow: hidden; }
    .product-item {
      width: 240px; }
    .product-content {
      padding: 0;
      padding-top: 8px; }
    .product-brand {
      margin-bottom: 12px; }
    .product-node__name, .product-node__weight {
      font-size: 16px; }
    .product-info {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative; }
      .product-info__price {
        margin-bottom: 22px;
        margin-left: 8px; }
      .product-info-amount {
        position: absolute;
        top: -6px;
        right: 0;
        margin-right: 8px; }
      .product-info-content {
        display: block;
        width: 100%; }
      .product-info-link a {
        width: 100%;
        justify-content: center;
        height: 40px; }
  /* Products */
  .products {
    position: relative; }
    .products:after {
      content: '';
      display: block;
      background: url(../images/after.png) no-repeat 50%;
      width: 232px;
      height: 22px;
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translate(-50%); }
  /* Main services */
  .main-services {
    padding-top: 30px;
    padding-bottom: 34px; }
    .main-services-wrap {
      overflow: hidden; }
    .main-services-item {
      width: 240px; }
    .main-services-content {
      padding: 18px 10px 16px; }
    .main-services__head {
      font-size: 18px;
      line-height: 1.33; }
  /* Shares */
  .shares:before {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%); }
  .shares-items {
    margin-bottom: 6px; }
  .shares-item {
    width: 546px;
    margin: 0 !important;
    margin-bottom: 18px !important; }
    .shares-item-img {
      width: 247px; }
    .shares-item-content {
      padding: 10px;
      padding-bottom: 0; }
    .shares-item__data {
      font-size: 12px;
      margin-bottom: 10px; }
    .shares-item__head {
      font-size: 18px;
      line-height: 1.3; }
    .shares-item-el {
      bottom: 10px;
      left: 10px; }
  /* Main event */
  .main-event {
    padding-bottom: 24px; }
    .main-event-wrap {
      overflow: hidden; }
    .main-event-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 14px; }
      .main-event-header .head {
        padding-right: 0;
        margin-right: 0; }
        .main-event-header .head:after {
          display: none; }
    .main-event__entry {
      font-size: 16px; }
    .main-event-item {
      width: 240px; }
    .main-event-content {
      padding: 10px 20px 8px; }
    .main-event__head {
      font-size: 16px;
      line-height: 1.3; }
    .main-event__text {
      display: none; }
  /* Main order */
  .main-order {
    padding: 16px 8px 25px; }
    .main-order__head {
      font-size: 20px;
      margin-bottom: 30px; }
    .main-order__text {
      line-height: 1.6;
      margin-bottom: 22px; }
  /* Vacancy */
  .vacancy {
    width: 300px;
    padding: 18px 14px 22px 12px; }
    .vacancy__title {
      margin-bottom: 14px; }
    .vacancy__head {
      font-size: 18px;
      margin-bottom: 22px; }
      .vacancy__head br {
        display: none; }
      .vacancy__head:before {
        width: 5px;
        height: 26px;
        top: 0px;
        left: -12px; }
    .vacancy__link {
      font-size: 18px;
      margin-bottom: 22px; }
    .vacancy__text {
      font-size: 14px;
      line-height: 1.4; }
  /* Footer */
  .footer {
    padding-top: 16px; }
    .footer-content {
      flex-direction: column;
      padding-left: 60px; }
      .footer-content ul {
        margin-right: 0; }
        .footer-content ul:first-child {
          margin-bottom: 40px; }
    .footer-contact-wrap {
      width: auto;
      flex-direction: column; }
    .footer-info {
      margin-bottom: 20px; }
  /* Bottom */
  .bottom {
    flex-direction: column; }
    .bottom-info {
      margin-bottom: 10px; }
  /* Modal */
  .modal {
    left: 0; }
  /* Slider */
  .slider-wrap .product:after {
    top: -10px; }
  .slider-wrap .product-content {
    padding: 8px 5px 20px; }
  .slider-wrap .product-item {
    width: 240px; }
  /* Viewed */
  .viewed .product:before {
    display: none; }
  /* Promotion */
  .stock .shares:before {
    display: none; }
  .stock-info-items {
    display: flex;
    flex-direction: column; }
  .stock-info-item {
    margin: 0 auto 15px; }
    .stock-info-item:last-child {
      margin: 0 auto 15px; }
  /* Poster */
  .poster-content {
    padding-right: 0; }
    .poster-content-img {
      width: auto; }
    .poster-content-info {
      padding-left: 0; }
  /* Payment */
  .payment-item {
    width: auto; }
  /* Basket */
  .basket-text {
    margin-bottom: 34px; }
  .basket-content-table {
    overflow-x: scroll; }
    .basket-content-table table {
      width: 767px; }
      .basket-content-table table tbody td:first-child {
        width: 166px; }
      .basket-content-table table tbody td:nth-child(3) {
        width: 123px; }
  .basket-content .product-info-amount {
    position: static;
    top: 0; }
  .basket-node__text {
    margin-right: 0;
    margin-bottom: 15px; }
  .basket-node-login {
    flex-direction: column; }
  .basket-node-input {
    margin-left: -140px; }
  /* Order */
  .order-input {
    flex-direction: column; }
    .order-input__name {
      width: auto;
      margin-right: 0;
      margin-bottom: 15px; }
    .order-input-node {
      flex-direction: column; }
      .order-input-node .order-input:first-child {
        margin-right: 0; }
      .order-input-node .order-input input {
        width: 460px; }
    .order-input.time, .order-input.data {
      flex-direction: row; }
      .order-input.time .order-input__name, .order-input.data .order-input__name {
        margin-bottom: 0;
        margin-right: 28px; }
  .order-content {
    width: 100%; }
  .order-inform-text {
    padding-bottom: 20px; }
  .order-inform-link {
    margin-bottom: 20px; }
  .order-consent {
    display: block;
    text-align: center; }
    .order-consent label {
      justify-content: center;
      margin-right: 0; }
    .order-consent-item {
      margin-bottom: 15px; }
  .order-items .order-input.data {
    margin-right: 25px; }
    .order-items .order-input.data .order-input__name {
      margin-right: 25px; } }

@media only screen and (max-width: 575px) {
  .text {
    width: auto !important; }
  /* Modal */
  .modal {
    top: -60px; }
  /* Logo */
  .logo {
    width: 97px;
    height: 34px;
    top: 15px;
    left: 10px;
    transform: translate(0%); }
    .logo-content {
      display: block;
      position: absolute;
      top: 18px;
      left: 124px; }
  /* Burger */
  .burger {
    position: absolute;
    top: 18px;
    right: 14px;
    display: block;
    width: 30px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 30px;
        height: 4px;
        background: #222;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background: #222;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -8px; }
        .burger a span:after {
          top: 8px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  /* Header */
  .header {
    padding-top: 46px; }
    .header-item-info {
      display: none; }
    .header-info-wrap {
      display: none; }
    .header-info__tel {
      font-size: 17px;
      margin-bottom: 2px; }
    .header-info__note {
      font-size: 10px; }
    .header-basket-info {
      padding-left: 8px; }
  /* Nav */
  .nav-kit {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 60px; }
    .nav-kit .header-basket {
      margin-bottom: 10px; }
      .nav-kit .header-basket-img {
        width: 40px;
        height: 40px; }
        .nav-kit .header-basket-img img {
          width: 20px;
          height: 20px; }
      .nav-kit .header-basket__text, .nav-kit .header-basket__amount {
        font-size: 14px; }
      .nav-kit .header-basket__price {
        font-size: 18px; }
    .nav-kit .header-info {
      padding: 0 10px 12px;
      margin-bottom: 22px;
      border-bottom: 1px solid #cce0eb; }
      .nav-kit .header-info__region span {
        font-size: 17px; }
      .nav-kit .header-info__text {
        padding-bottom: 6px; }
    .nav-kit ul {
      display: block !important; }
      .nav-kit ul li {
        display: block;
        padding: 0;
        margin-right: 0;
        margin-bottom: 30px; }
        .nav-kit ul li:last-child {
          margin-bottom: 46px; }
  .nav ul {
    display: none; }
  .nav.active .nav-kit {
    opacity: 1;
    visibility: visible; }
  /* Showcase */
  .showcase {
    padding: 20px 0; }
    .showcase-sentence {
      padding: 30px 15px 70px; }
      .showcase-sentence__text {
        font-size: 20px; }
      .showcase-sentence__head {
        font-size: 72px; }
      .showcase-sentence__note {
        font-size: 20px;
        margin-bottom: 30px; }
    .showcase-pagination {
      bottom: 26px; }
  /* Range */
  .range-wrap .showcase-range-img {
    width: 42px;
    height: 42px; }
    .range-wrap .showcase-range-img img {
      vertical-align: baseline; }
  .range-wrap .showcase-range__head {
    font-size: 14px; }
  .range-wrap .showcase-range-item {
    margin-bottom: 0; }
    .range-wrap .showcase-range-item.categories .showcase-range-img {
      width: 70px;
      height: 42px; }
    .range-wrap .showcase-range-item.categories .showcase-range__head, .range-wrap .showcase-range-item.categories .showcase-range__view {
      font-size: 16px; }
    .range-wrap .showcase-range-item.categories .showcase-range__view {
      position: absolute;
      top: 50%;
      right: 0; }
  /* Objects */
  .objects {
    padding-top: 28px; }
    .objects-item {
      width: 220px; }
      .objects-item-content {
        padding-top: 10px; }
      .objects-item__text {
        margin-bottom: 10px; }
  /* Book it */
  .book-it__head {
    font-size: 20px; }
  .book-it__text {
    font-size: 14px; }
  /* Shares */
  .shares-item {
    width: 300px; }
    .shares-item-img {
      width: 150px; }
    .shares-item__data {
      margin-bottom: 6px; }
    .shares-item__head {
      font-size: 14px;
      line-height: 1.25; }
    .shares-item__text {
      display: none; }
    .shares-item-info img {
      width: 40px;
      height: 20px; }
    .shares-item-info p {
      margin-left: 8px;
      font-size: 12px; }
    .shares-item-el .ref a {
      height: 28px;
      padding: 0 6px 0 12px; }
      .shares-item-el .ref a span {
        margin-right: 6px; }
  /* Main order */
  .main-order {
    background: none;
    margin-bottom: 24px; }
    .main-order-wrap {
      background: url(../images/main-order-bg2.jpg) no-repeat 50%;
      background-size: cover; }
    .main-order__head {
      line-height: 1.25; }
  /* Footer */
  .footer-logo {
    margin-bottom: 14px; }
    .footer-logo a {
      width: 96px;
      height: 34px; }
    .footer-logo__text, .footer-logo__entry {
      font-size: 13px; }
    .footer-logo__text {
      margin-top: 6px;
      margin-bottom: 4px; }
    .footer-logo-content {
      margin-left: 6px; }
  .footer-content {
    padding-left: 0; }
    .footer-content ul:first-child {
      margin-bottom: 22px; }
    .footer-content ul li {
      margin-bottom: 18px; }
      .footer-content ul li a {
        font-size: 14px; }
  .footer-contact-wrap {
    width: 152px; }
  .footer-contact-tel a {
    font-size: 20px; }
  .footer-contact-mail {
    margin-bottom: 22px; }
  .footer-info__entry {
    font-size: 14px;
    margin-bottom: 8px; }
  .footer-info__text {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px; }
  .footer-info__link {
    font-size: 14px;
    margin-bottom: 15px; }
  .footer-info__note {
    font-size: 14px;
    line-height: 1.3; }
  .footer-soc a {
    margin-right: 6px; }
  /* Bottom */
  .bottom {
    padding: 14px;
    padding-left: 0; }
    .bottom-info {
      line-height: 1.8;
      margin-bottom: 5px; }
  /* Products */
  .products-img {
    width: auto; }
  .products-note {
    display: none; }
  .products-info {
    margin-left: 0; }
  /* Pagination */
  .pagination {
    font-size: 0; }
    .pagination li {
      margin: 0; }
      .pagination li:after {
        display: none; }
      .pagination li a {
        width: 34px;
        line-height: 34px; }
  /* Catalog */
  .catalog-items .product-item {
    margin: 0 0px 20px !important; }
  /* Promotion */
  .stock {
    padding-bottom: 40px; }
  /* Payment */
  .payment-item {
    margin-bottom: 10px; }
    .payment-item__head {
      font-size: 26px;
      margin-bottom: 18px; }
    .payment-item__note {
      font-size: 16px;
      margin-bottom: 30px; }
  .payment-content-item {
    margin-bottom: 30px !important; }
    .payment-content-item img {
      width: 66px; }
  .payment-content-block {
    padding-left: 80px; }
    .payment-content-block h2 {
      font-size: 16px; }
    .payment-content-block p {
      line-height: 1.2;
      font-size: 14px; }
  /* Basket */
  .basket__head {
    font-size: 24px; }
  .basket-text {
    margin-bottom: 26px;
    line-height: 1.35; }
  .basket-node-input {
    margin-left: 0;
    text-align: center; }
    .basket-node-input input {
      display: block;
      margin-bottom: 15px; }
    .basket-node-input button {
      position: static;
      margin-left: 0;
      padding: 0 40px; }
  .basket-node__link {
    margin-left: 0; }
  .basket-node__text {
    font-size: 13px; }
  .basket-node-login {
    padding-left: 10px; }
  .basket-sidebar {
    width: 290px; }
  /* Order */
  .order {
    padding-bottom: 30px;
    margin-bottom: 30px; }
    .order-wrap {
      padding-bottom: 40px; }
    .order-input input {
      width: 100% !important; }
    .order-items {
      display: block; }
      .order-items .order-input.data {
        flex-direction: column;
        margin-right: 0; }
        .order-items .order-input.data input {
          width: 220px !important; }
        .order-items .order-input.data .order-input__name {
          margin-right: 0;
          margin-bottom: 15px; }
      .order-items .order-input.time {
        flex-direction: column;
        margin-bottom: 0; }
        .order-items .order-input.time input {
          margin-right: 0;
          margin-bottom: 15px; }
        .order-items .order-input.time .order-input__name {
          margin-right: 0;
          margin-bottom: 15px; }
    .order-inform {
      padding: 10px 0 30px 0; }
    .order-content {
      margin-bottom: 14px; }
    .order-sidebar label {
      margin-bottom: 22px; }
    .order-sidebar .order__head {
      margin-bottom: 34px; }
    .order-consent__link {
      font-size: 20px;
      padding: 0 30px; } }

/*# sourceMappingURL=media.css.map */