* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Qanelas', sans-serif; }

a {
  font: 400 16px 'Qanelas', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1420px;
  margin: 0 auto;
  position: relative; }

.head {
  font-family: "PlayfairDisplay";
  font-size: 32px;
  font-weight: 900;
  color: #e3000f;
  margin-bottom: 44px;
  text-align: center; }

.text {
  width: 460px;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto 34px; }

.link {
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 34px;
  background-color: #ffcc32;
  color: #000;
  border-radius: 30px; }
  .link:hover {
    background-color: #ffc000; }

.ref,
.topic {
  display: flex;
  justify-content: center; }
  .ref a,
  .topic a {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    padding: 0 20px 0 30px; }
    .ref a span,
    .topic a span {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      margin-right: 12px; }
    .ref a img,
    .topic a img {
      transition: 300ms; }
    .ref a:hover img,
    .topic a:hover img {
      transform: translateX(15%); }

.topic a {
  background-color: #e3000f; }
  .topic a span {
    color: #fff; }

.burger {
  display: none; }

/* Logo */
.logo {
  float: left; }
  .logo-content {
    display: none; }

/* Nav */
.nav li {
  display: inline-block;
  vertical-align: top;
  padding-right: 11px;
  margin-right: 11px;
  position: relative; }
  .nav li:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #cce0eb;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0; }
  .nav li:last-child {
    margin-right: 0;
    padding-right: 0; }
    .nav li:last-child:after {
      display: none; }
  .nav li a {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid transparent; }
    .nav li a:hover {
      border-bottom: 1px solid #000; }

.nav-kit {
  display: none; }

/* Header */
.header {
  padding: 16px 0 0; }
  .header-item {
    float: left;
    width: 500px;
    margin-right: 58px; }
    .header-item-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
      padding-right: 18px; }
      .header-item-info p {
        flex-shrink: 0;
        width: 202px;
        color: #808285;
        font-size: 14px;
        line-height: 1.7; }

/* Header info */
.header-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 2px; }
  .header-info-wrap {
    float: right;
    width: 500px;
    padding-right: 20px; }
  .header-info__text {
    font-size: 14px;
    padding-bottom: 10px; }
  .header-info__tel {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 4px;
    position: relative; }
    .header-info__tel:after {
      content: "";
      display: block;
      background-color: #000;
      height: 1px;
      width: 0%;
      left: 50%;
      position: absolute;
      transition: 300ms;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%); }
    .header-info__tel:hover:after {
      width: 100%; }
  .header-info__note {
    font-size: 14px; }
  .header-info-label {
    position: relative; }
  .header-info__region {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
    .header-info__region span {
      font-weight: 700;
      border-bottom: 1px solid #000; }
    .header-info__region img {
      flex-shrink: 0;
      width: 10px;
      height: 9px;
      margin-top: 3px; }

/* Modal */
.modal {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  width: 300px;
  background-color: #fff;
  border: 2px solid #cce0eb;
  padding: 16px 8px;
  position: absolute;
  top: 24px;
  left: -86px;
  z-index: 100; }
  .modal.active {
    opacity: 1;
    visibility: visible; }
  .modal-close {
    background: url(../images/modal-close.png) no-repeat left;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 14px;
    right: 7px;
    cursor: pointer; }
    .modal-close:hover {
      background-position: right; }
  .modal-info {
    display: flex;
    margin-bottom: 16px; }
    .modal-info__text {
      font-size: 14px; }
    .modal-info__region {
      font-size: 14px;
      font-weight: 700;
      margin-left: 4px; }
  .modal-content {
    display: flex;
    justify-content: space-between; }
    .modal-content__yes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 70px;
      line-height: 42px;
      background-color: #e3000f;
      border-radius: 30px;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff; }
      .modal-content__yes:hover {
        background-color: #ff4450; }
    .modal-content .ref a {
      border: 1px solid #8badc0; }

/* Header basket */
.header-basket {
  display: flex; }
  .header-basket-img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
    background-color: #e3000f; }
  .header-basket-info {
    flex-grow: 10;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #edf4f8;
    padding-left: 22px;
    color: #000; }
  .header-basket__amount {
    font-weight: 700;
    margin: 0 4px; }
  .header-basket__price {
    font-size: 24px;
    font-weight: 700;
    margin-top: -2px; }

/* Bread */
.bread {
  padding: 18px 0 28px; }
  .bread ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-right: 4px; }
    .bread ul li a {
      color: #ff2231;
      font-size: 14px; }
      .bread ul li a:hover {
        color: #000; }

/* Showcase */
.showcase {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 38px; }
  .showcase-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover; }

/* Showcase sentence */
.showcase-sentence {
  width: 540px;
  background: rgba(0, 0, 0, 0.6);
  padding: 134px 15px 36px;
  text-align: center;
  margin: 0 0 14px 20px;
  position: relative; }
  .showcase-sentence__text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px; }
  .showcase-sentence__head {
    color: #ffcc32;
    font-family: 'PlayfairDisplay';
    font-size: 94px;
    font-weight: 900;
    margin-bottom: 20px; }
  .showcase-sentence__note {
    width: 250px;
    margin: 0 auto 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff; }
  .showcase-sentence .link {
    font-size: 16px;
    font-weight: 700; }

/* Showcase pagination */
.showcase-pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  display: flex; }
  .showcase-pagination li {
    margin: 0 2px; }
    .showcase-pagination li a {
      width: 31px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      color: #fff; }
      .showcase-pagination li a:hover {
        background-color: #fff;
        color: #000; }
    .showcase-pagination li.active a {
      background-color: #fff;
      color: #000; }

/* Showcase range */
.showcase-range {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  margin-right: 20px; }
  .showcase-range-item {
    width: 250px;
    text-align: center;
    background-color: #fff;
    margin: 0 14px 14px 0;
    padding: 27px 5px 18px; }
    .showcase-range-item:nth-child(3n) {
      margin-right: 0; }
    .showcase-range-item:hover {
      background-color: #ffcc32; }
      .showcase-range-item:hover .showcase-range__text {
        display: none; }
      .showcase-range-item:hover .showcase-range__view {
        display: block; }
  .showcase-range-img {
    display: inline-block;
    vertical-align: middle;
    height: 83px;
    line-height: 83px;
    margin-bottom: 12px; }
    .showcase-range-img img {
      display: inline-block;
      vertical-align: middle;
      line-height: 83px; }
  .showcase-range__head {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 9px 0 10px; }
  .showcase-range__text {
    color: #ef413d; }
  .showcase-range__view {
    display: none;
    color: #000; }

/* Range */
.range-wrap {
  display: none; }

/* Objects */
.objects {
  padding: 45px 0 24px; }
  .objects-items {
    display: flex; }
  .objects-item {
    width: 260px;
    margin-right: 30px;
    text-align: center;
    font-size: 0; }
    .objects-item:last-child {
      margin-right: 0; }
    .objects-item:hover .objects-item-content {
      background-color: #fef7ec; }
    .objects-item:hover .ref {
      opacity: 1;
      visibility: visible; }
    .objects-item-img {
      font-size: 0; }
    .objects-item-content {
      padding: 24px 30px 26px 26px;
      transition: 300ms; }
    .objects-item__text {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 20px; }
    .objects-item .ref {
      opacity: 0;
      visibility: hidden;
      transition: 300ms; }
      .objects-item .ref a {
        border: 1px solid #8badc0; }

/* Book it */
.book-it {
  background: url(../images/book-it-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding: 48px 0 42px;
  margin-bottom: 47px; }
  .book-it-items {
    width: 1100px;
    margin: 0 auto;
    display: flex; }
  .book-it-item {
    flex-grow: 10;
    padding-right: 94px;
    color: #fff; }
  .book-it__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 14px; }
  .book-it__text {
    line-height: 1.6; }
  .book-it-info {
    width: 204px;
    flex-shrink: 0;
    margin-top: 18px; }
    .book-it-info .ref a {
      background-color: #ffcc32; }
      .book-it-info .ref a:hover {
        background-color: #ffc000; }
  .book-it__note {
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center; }

/* Product */
.product {
  padding: 64px 0 70px;
  position: relative; }
  .product:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%); }
  .product_head {
    margin-bottom: 33px; }
  .product-item {
    display: inline-block;
    vertical-align: top;
    width: 460px;
    margin: 0 10px; }
    .product-item-img {
      font-size: 0;
      transform: scale(0.99); }
      .product-item-img:hover {
        transform: scale(1); }
  .product .ref a {
    background-color: #e3000f; }
    .product .ref a span {
      color: #fff; }
  .product .text {
    margin-bottom: 38px; }

.product-inner-wrap {
  background-color: #fef7ec; }
  .product-inner-wrap .product {
    padding: 49px 0 55px; }
    .product-inner-wrap .product:after {
      top: -10px; }
    .product-inner-wrap .product_head {
      margin-bottom: 39px; }

/* Product items slick */
.product-items,
.product-inner,
.slider {
  margin-bottom: 57px;
  position: relative; }
  .product-items .slick-arrow,
  .product-inner .slick-arrow,
  .slider .slick-arrow {
    cursor: pointer;
    transition: 300ms;
    border: none;
    z-index: 5;
    position: absolute;
    top: 222px;
    left: -80px;
    background: #cce0eb url(../images/slider-prev.png) no-repeat 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%; }
    .product-items .slick-arrow:hover,
    .product-inner .slick-arrow:hover,
    .slider .slick-arrow:hover {
      background-color: #e3000f; }
  .product-items .slick-next,
  .product-inner .slick-next,
  .slider .slick-next {
    left: auto;
    right: -80px;
    background: #cce0eb url(../images/slider-next.png) no-repeat 50%; }

/* Product inner */
.product-inner .product-item,
.slider .product-item {
  transition: 300ms;
  border: 2px solid transparent;
  font-size: 0; }
  .product-inner .product-item:hover,
  .slider .product-item:hover {
    border: 2px solid #e3000f; }
    .product-inner .product-item:hover .product-content,
    .slider .product-item:hover .product-content {
      background-color: #fff; }
  .product-inner .product-item-img,
  .slider .product-item-img {
    transform: none; }

.product-inner .product-content,
.slider .product-content {
  padding-bottom: 24px; }

.product-inner .product-info-link a:hover,
.slider .product-info-link a:hover {
  background-color: #e3000f; }

.product-inner .product-node__name:hover,
.slider .product-node__name:hover {
  color: #e3000f; }

/* Product inner slick */
.product-inner .slick-dots,
.slider .slick-dots {
  position: absolute;
  bottom: -56px;
  left: 50%;
  transform: translate(-50%); }
  .product-inner .slick-dots li,
  .slider .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer; }
    .product-inner .slick-dots li button,
    .slider .slick-dots li button {
      display: none; }
    .product-inner .slick-dots li.slick-active,
    .slider .slick-dots li.slick-active {
      width: 16px;
      height: 16px;
      background-color: #e3000f; }

/* Product content */
.product-content {
  padding: 20px;
  padding-bottom: 0; }

.product-brand {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e1e1e1; }
  .product-brand__name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 15px; }

/* Product node */
.product-node {
  margin-bottom: 18px; }
  .product-node-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; }
  .product-node__name, .product-node__weight {
    color: #000;
    font-size: 18px;
    font-weight: 700; }
  .product-node__name:hover {
    color: #56b02e; }
  .product-node__descr {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 8px; }

/* Product size */
.product-size ul {
  display: flex;
  background-color: #edf4f8;
  border-radius: 20px;
  text-align: center; }
  .product-size ul li {
    width: 140px;
    padding: 6px 0;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: 300ms;
    font-size: 14px; }
    .product-size ul li.active {
      background-color: #fff;
      border: 1px solid #e3000f;
      font-weight: 700; }
    .product-size ul li:hover {
      background-color: #fff;
      border: 1px solid #e3000f; }

/* Product info */
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .product-info__price {
    font-size: 24px;
    font-weight: 700; }
  .product-info-content {
    display: flex; }
  .product-info-amount {
    background-color: #edf4f8;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 21px; }
    .product-info-amount span {
      width: 30px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
    .product-info-amount input {
      width: 30px;
      height: 100%;
      text-align: center;
      border: none;
      border-right: 1px solid #e1e1e1;
      border-left: 1px solid #e1e1e1;
      background-color: #edf4f8;
      font: 700 14px 'Qanelas';
      text-transform: uppercase; }
  .product-info-link {
    display: flex; }
    .product-info-link a {
      display: flex;
      align-items: center;
      background-color: #56b02e;
      padding: 0 24px 0 26px;
      border-radius: 30px;
      line-height: 40px; }
      .product-info-link a span {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin-right: 23px; }
      .product-info-link a:hover {
        background-color: #5dc62f; }

/* Main services */
.main-services {
  padding: 50px 0 58px;
  position: relative; }
  .main-services:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%); }
  .main-services-wrap {
    background-color: #fce5e7; }
  .main-services .head {
    margin-bottom: 28px; }
  .main-services .text {
    margin-bottom: 26px; }
  .main-services-img {
    font-size: 0; }
  .main-services__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 14px;
    color: #000; }
    .main-services__head:hover {
      color: #e3000f; }
  .main-services__text {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 16px; }

/* Main services item */
.main-services-item {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  margin: 0 10px;
  font-size: 0; }
  .main-services-item:hover .main-services-content {
    background: #fff; }
  .main-services-item:hover .ref {
    opacity: 1;
    visibility: visible; }

/* Main services content */
.main-services-content {
  padding: 20px 16px 25px;
  text-align: center;
  transition: 300ms; }
  .main-services-content .ref {
    opacity: 0;
    visibility: hidden;
    transition: 300ms; }
    .main-services-content .ref a {
      border: 1px solid #8badc0; }

/* Main services items slick */
.main-services-items,
.main-event-items {
  margin-bottom: 32px;
  position: relative; }
  .main-services-items .slick-arrow,
  .main-event-items .slick-arrow {
    cursor: pointer;
    transition: 300ms;
    border: none;
    z-index: 5;
    position: absolute;
    top: 155px;
    left: -80px;
    background: #cce0eb url(../images/slider-prev.png) no-repeat 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%; }
    .main-services-items .slick-arrow:hover,
    .main-event-items .slick-arrow:hover {
      background-color: #e3000f; }
  .main-services-items .slick-next,
  .main-event-items .slick-next {
    left: auto;
    right: -80px;
    background: #cce0eb url(../images/slider-next.png) no-repeat 50%; }

/* Shares */
.shares {
  padding: 50px 0;
  position: relative; }
  .shares:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%); }
  .shares-wrap {
    background-color: #fef7ec; }
  .shares .head,
  .shares .text {
    margin-bottom: 27px; }
  .shares-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px; }

/* Shares item */
.shares-item {
  display: flex;
  width: 700px;
  margin: 0 18px 18px 0; }
  .shares-item:nth-child(2n) {
    margin-right: 0; }
  .shares-item-img {
    flex-shrink: 0;
    width: 340px;
    font-size: 0; }
  .shares-item-content {
    background-color: #fff;
    padding: 28px 21px 0 33px;
    transition: 300ms;
    position: relative; }
  .shares-item__data {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e3000f;
    margin-bottom: 25px; }
  .shares-item__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #000; }
  .shares-item__text {
    line-height: 1.6; }
  .shares-item-info {
    display: flex;
    align-items: center; }
    .shares-item-info p {
      margin-left: 22px;
      color: #757575;
      font-weight: 700;
      text-transform: uppercase; }
  .shares-item-el {
    position: absolute;
    bottom: 42px;
    left: 26px; }
    .shares-item-el .ref {
      display: none; }

/* Shares item hover */
.shares-item:hover .shares-item-img {
  opacity: .89; }
  .shares-item:hover .shares-item-img:hover {
    opacity: 1; }

.shares-item:hover .shares-item-content {
  background-color: #e3000f; }

.shares-item:hover .shares-item__data, .shares-item:hover .shares-item__head, .shares-item:hover .shares-item__text {
  color: #fff; }

.shares-item:hover .shares-item__head:hover {
  color: #7e040c; }

.shares-item:hover .shares-item-info {
  display: none; }

.shares-item:hover .shares-item-el .ref {
  display: flex;
  justify-content: flex-start; }
  .shares-item:hover .shares-item-el .ref a {
    background-color: #ff4450;
    border: 1px solid #fff; }
    .shares-item:hover .shares-item-el .ref a span {
      color: #fff; }

/* Main event */
.main-event {
  padding: 50px 0 62px;
  position: relative; }
  .main-event:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%); }
  .main-event-items {
    margin-bottom: 38px; }
  .main-event-img {
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
    opacity: .9; }
    .main-event-img:hover {
      opacity: 1; }
  .main-event-content {
    transition: 300ms;
    padding: 25px 14px 28px; }
    .main-event-content .ref {
      opacity: 0;
      visibility: hidden;
      transition: 300ms; }
      .main-event-content .ref a {
        border: 1px solid #8badc0; }

/* Main event header */
.main-event-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 23px; }
  .main-event-header .head {
    padding-right: 20px;
    margin-right: 14px;
    margin-bottom: 0;
    position: relative; }
    .main-event-header .head:after {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      right: 0; }

.main-event__entry {
  color: #5f5f5f;
  font-size: 18px;
  border-bottom: 1px solid #5f5f5f;
  font-family: 'PlayfairDisplay';
  font-weight: 900; }
  .main-event__entry:hover {
    border-bottom: 1px solid transparent; }

/* Main event item */
.main-event-item {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  margin: 0 9px;
  text-align: center; }
  .main-event-item:hover .main-event-content {
    background-color: #eef7ea; }
  .main-event-item:hover .ref {
    opacity: 1;
    visibility: visible; }

.main-event__data {
  color: #939598;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px; }

.main-event__head {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: 10px; }
  .main-event__head:hover {
    color: #e3000f; }

.main-event__text {
  line-height: 1.6;
  margin-bottom: 20px; }

/* Main order */
.main-order {
  padding: 44px 80px 38px;
  margin-bottom: 80px;
  background: url(../images/main-order-bg.jpg) no-repeat 50%;
  background-size: cover;
  display: flex; }
  .main-order-content {
    padding-right: 72px;
    padding-top: 4px; }
  .main-order__head {
    color: #fff;
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 29px; }
  .main-order__text {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 30px; }
    .main-order__text:last-child {
      margin-bottom: 0; }

/* Vacancy */
.vacancy {
  align-self: flex-start;
  flex-shrink: 0;
  width: 380px;
  background-color: #edf4f8;
  padding: 35px 28px 34px 34px; }
  .vacancy__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px; }
  .vacancy__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 24px;
    position: relative; }
    .vacancy__head:before {
      content: '';
      display: block;
      width: 5px;
      height: 52px;
      background-color: #ff2231;
      position: absolute;
      top: 8px;
      left: -34px; }
  .vacancy__link {
    font-size: 20px;
    border-bottom: 1px solid #000;
    color: #000;
    margin-bottom: 26px; }
    .vacancy__link:hover {
      border-bottom: 1px solid transparent; }
  .vacancy__text {
    line-height: 1.5;
    margin-bottom: 24px; }
  .vacancy .ref {
    justify-content: flex-start; }
    .vacancy .ref a {
      border: 1px solid #8badc0; }

/* Footer */
.footer {
  padding: 35px 0 26px 10px;
  border-bottom: 1px solid #acacac; }
  .footer-wrap {
    background-color: #371913; }
  .footer-logo {
    float: left;
    width: 240px;
    margin-right: 150px; }
    .footer-logo__text {
      margin-bottom: 8px;
      color: #fff;
      margin-top: 25px; }
    .footer-logo__entry {
      color: #fff;
      font-size: 14px; }
  .footer-soc a {
    width: 30px;
    height: 30px;
    margin-right: 12px; }
    .footer-soc a:last-child {
      margin-right: 0; }
    .footer-soc a:hover {
      transform: rotate(360deg); }

/* Footer content */
.footer-content {
  float: left;
  display: flex; }
  .footer-content ul {
    margin-right: 105px; }
    .footer-content ul:last-child {
      margin-right: 0; }
    .footer-content ul li {
      margin-bottom: 19px; }
      .footer-content ul li a {
        font-weight: 700;
        border-bottom: 1px solid #fff;
        color: #fff; }
        .footer-content ul li a:hover {
          border-bottom: 1px solid transparent; }

/* Footer info */
.footer-info {
  color: #fff; }
  .footer-info__entry {
    font-weight: 700;
    margin-bottom: 11px; }
  .footer-info__text {
    margin-bottom: 10px; }
  .footer-info__link {
    border-bottom: 1px solid #ffcc32;
    color: #ffcc32;
    margin-bottom: 19px; }
    .footer-info__link:hover {
      border-bottoM: 1px solid transparent; }
  .footer-info__note {
    margin-bottom: 20px; }

/* Footer contact */
.footer-contact {
  padding-right: 45px; }
  .footer-contact-wrap {
    float: right;
    width: 620px;
    display: flex;
    justify-content: space-between; }
  .footer-contact-tel a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px; }
    .footer-contact-tel a:hover {
      color: #ffcc32; }
  .footer-contact-mail {
    margin-bottom: 70px; }
    .footer-contact-mail a {
      color: #ffcc32;
      border-bottom: 1px solid #ffcc32; }
      .footer-contact-mail a:hover {
        border-bottoM: 1px solid transparent; }

/* Bottom */
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 18px 14px 22px 18px; }
  .bottom-info {
    color: #997b76;
    font-size: 14px; }
  .bottom-omg {
    display: flex; }
    .bottom-omg__text, .bottom-omg__link {
      color: #997b76;
      font-size: 14px; }
    .bottom-omg__link {
      margin-left: 4px; }
      .bottom-omg__link:hover {
        text-decoration: underline; }

/* Products */
.products {
  display: flex;
  padding-bottom: 70px; }
  .products-img {
    flex-shrink: 0;
    width: 670px;
    margin-right: 24px;
    font-size: 0;
    position: relative; }
    .products-img:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.1) 82%, white 100%);
      width: 100%;
      height: 100%; }
  .products-note {
    height: 30px;
    border-radius: 30px 30px 0 0;
    position: absolute;
    top: 136px;
    left: -163px;
    background-color: #56b02e;
    transform: rotate(-90deg); }
    .products-note__text {
      padding: 7px 38px 0;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase; }
  .products .product-size ul {
    background-color: #fff; }

/* Products content */
.products-content {
  width: 300px;
  margin-right: 34px;
  padding-top: 18px; }
  .products-content__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 37px; }
  .products-content b {
    display: block;
    margin-bottom: 8px; }
  .products-content-descr p {
    line-height: 1.6;
    padding-bottom: 27px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5; }
  .products-content table td {
    height: 24px; }
    .products-content table td:first-child {
      width: 108px; }
  .products-content .product-brand {
    padding-bottom: 22px;
    margin-bottom: 32px; }

/* Products info */
.products-info {
  width: 360px;
  margin-left: 30px;
  background-color: #e8f3ed;
  padding: 37px 26px 60px 32px;
  position: relative;
  z-index: 10; }
  .products-info b {
    display: block;
    margin-bottom: 14px; }
  .products-info-mod {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 47px; }
    .products-info-mod label {
      width: 150px;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;
      padding-right: 3px; }
      .products-info-mod label input {
        flex-shrink: 0;
        width: 16px;
        height: 17px; }
      .products-info-mod label span {
        padding-left: 8px; }
        .products-info-mod label span i {
          font-style: normal;
          font-size: 14px;
          font-weight: 600; }
  .products-info .product-info-link a {
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: #e3000f; }
    .products-info .product-info-link a span {
      font-size: 24px; }
    .products-info .product-info-link a:hover {
      background-color: #56b02e; }

/* Products amount */
.products-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px; }
  .products-amount-info {
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    height: 48px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .products-amount-info span {
      width: 50px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer; }
    .products-amount-info input {
      width: 58px;
      height: 100%;
      text-align: center;
      border: none;
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      font: 700 24px 'Qanelas';
      text-transform: uppercase; }
  .products-amount__price {
    font-size: 34px;
    font-weight: 700;
    padding: 10px 12px 0 0; }

/* Slider */
.slider {
  margin-bottom: 41px;
  position: relative; }
  .slider-wrap .product {
    padding-top: 48px;
    padding-bottom: 52px; }
    .slider-wrap .product:after {
      top: -10px; }
    .slider-wrap .product_head {
      margin-bottom: 34px; }
    .slider-wrap .product-item {
      width: 340px; }
    .slider-wrap .product-info-link a {
      padding: 0 16px; }
    .slider-wrap .product-node__descr {
      margin-bottom: 5px; }
  .slider .slick-arrow {
    top: 143px; }
  .slider .slick-dots {
    bottom: -38px; }

/* Viewed */
.viewed {
  background-color: #e8f3ed; }
  .viewed .slider {
    margin-bottom: 26px; }
  .viewed .product:after {
    top: -10px; }
  .viewed .slick-dots {
    display: none !important; }

/* Catalog */
.catalog {
  display: flex; }
  .catalog-wrap {
    overflow: hidden; }
  .catalog-items {
    font-size: 0; }
    .catalog-items .product-item {
      width: 340px;
      margin: 0 20px 44px 0;
      border: 2px solid transparent;
      transition: 300ms; }
      .catalog-items .product-item:nth-child(3n) {
        margin-right: 0; }
      .catalog-items .product-item:hover {
        border: 2px solid #e3000f; }
      .catalog-items .product-item-img {
        transform: none; }
    .catalog-items .product-content {
      padding: 24px 10px 20px; }
    .catalog-items .product-node__name:hover {
      color: #e3000f; }
    .catalog-items .product-info-link a:hover {
      background-color: #e3000f; }

/* Catalog sidebar */
.catalog-sidebar {
  width: 300px;
  flex-shrink: 0;
  background-color: #fce5e7;
  padding-bottom: 50px;
  position: relative; }
  .catalog-sidebar:before {
    content: '';
    display: block;
    background-color: #fce5e7;
    width: 2000px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%; }
  .catalog-sidebar-item {
    margin-bottom: 49px; }
    .catalog-sidebar-item:last-child {
      margin-bottom: 0; }
    .catalog-sidebar-item h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px; }
  .catalog-sidebar-par {
    margin-bottom: 28px; }
    .catalog-sidebar-par:last-child {
      margin-bottom: 0; }
    .catalog-sidebar-par label {
      cursor: pointer; }
      .catalog-sidebar-par label input {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 17px;
        margin-right: 10px; }
        .catalog-sidebar-par label input:checked + span {
          color: #e3000f;
          border-bottom: 1px solid transparent; }
      .catalog-sidebar-par label span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid #000;
        transition: 300ms; }
        .catalog-sidebar-par label span:hover {
          border-bottom: 1px solid transparent;
          color: #e3000f; }
  .catalog-sidebar .ref {
    justify-content: flex-start;
    margin-left: 25px; }
    .catalog-sidebar .ref a {
      background-color: #56b02e; }
      .catalog-sidebar .ref a span {
        color: #fff; }

/* Catalog content */
.catalog-content {
  flex-grow: 10;
  padding: 55px 0 70px 60px; }

/* Catalog header */
.catalog-header__head {
  font-family: 'PlayfairDisplay';
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 28px; }

.catalog-header__text {
  line-height: 1.6;
  margin-bottom: 34px;
  padding-right: 90px; }

/* Catalog nav */
.catalog-nav {
  padding: 18px 0;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
  position: relative; }
  .catalog-nav-item {
    display: flex;
    align-items: center; }
    .catalog-nav-item .select2-container {
      width: 180px !important; }
    .catalog-nav-item.mod .select2-container {
      width: 80px !important; }
  .catalog-nav__name {
    margin-right: 12px; }
  .catalog-nav-input {
    position: relative; }
    .catalog-nav-input input {
      width: 380px;
      height: 50px;
      background-color: #edf4f8;
      padding: 0 100px 0 25px;
      font: 400 16px 'Qanelas';
      border: none;
      border-radius: 30px; }
    .catalog-nav-input button {
      height: 50px;
      background-color: #cce0eb;
      border: none;
      border-radius: 30px;
      text-transform: uppercase;
      font: 700 14px 'Qanelas';
      padding: 0 18px;
      cursor: pointer;
      transition: 300ms;
      position: absolute;
      top: 0;
      right: 0; }
      .catalog-nav-input button:hover {
        background-color: #bccbd4; }

/* Select2 */
.select2-search--dropdown {
  display: none; }

.select2-container--default .select2-selection--single {
  background-color: #edf4f8;
  border: none;
  border-radius: 30px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
  right: 10px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background: url(../images/select2-arrow.png) no-repeat 50%;
  width: 10px;
  height: 9px;
  border: none;
  margin-top: -4px;
  transition: 300ms; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #d9e1e5; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #c5d4dd; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg); }

.select2-container .select2-selection--single {
  height: 50px; }

/* Pagination */
.pagination {
  padding-left: 264px; }
  .pagination.common {
    padding-left: 0;
    padding-bottom: 50px;
    text-align: center; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    position: relative;
    text-align: center; }
    .pagination li:last-child:after, .pagination li:nth-last-child(2):after {
      display: none; }
    .pagination li:after {
      content: '';
      display: block;
      background-color: #939598;
      width: 1px;
      height: 16px;
      position: absolute;
      top: 12px;
      right: -8px; }
    .pagination li.active a {
      color: #fff;
      background-color: #e3000f; }
    .pagination li.pagination_prev, .pagination li.pagination_next {
      border-radius: 50%;
      background-color: #cce0eb; }
      .pagination li.pagination_prev:after, .pagination li.pagination_next:after {
        display: none; }
    .pagination li.pagination_next {
      margin-right: 0; }
    .pagination li a {
      width: 40px;
      line-height: 40px;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      border-radius: 50%; }
      .pagination li a:hover {
        color: #fff;
        background-color: #e3000f; }

/* Promotion */
.stock {
  padding-bottom: 60px; }
  .stock-wrap {
    background-color: #fef7ec; }
  .stock .head,
  .stock .text {
    margin-bottom: 28px; }
  .stock .bread {
    padding-bottom: 14px; }
  .stock .pagination {
    padding-left: 0;
    text-align: center; }
  .stock .shares {
    padding-top: 40px;
    padding-bottom: 30px; }
    .stock .shares:after {
      display: none; }
    .stock .shares-item {
      position: relative; }
      .stock .shares-item.disabled:hover .shares-item-content {
        background-color: #fff; }
      .stock .shares-item.disabled:hover .shares-item__data {
        color: #e3000f; }
      .stock .shares-item.disabled:hover .shares-item__head, .stock .shares-item.disabled:hover .shares-item__text {
        color: #000; }
      .stock .shares-item.disabled:hover .shares-item-el .ref {
        display: none; }
      .stock .shares-item.disabled:hover .shares-item-info {
        display: flex; }
      .stock .shares-item.disabled:hover .shares-item img {
        opacity: 1; }
      .stock .shares-item.disabled:after {
        content: '';
        display: block;
        background: #fff;
        opacity: .7;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100; }

/* Promotion info */
.stock-info {
  display: flex;
  align-items: center;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2; }
  .stock-info-link {
    width: 220px;
    line-height: 80px;
    flex-shrink: 0;
    background-color: #fff;
    text-align: center; }
    .stock-info-link a {
      color: #e3000f;
      text-transform: uppercase;
      font-weight: 700; }
      .stock-info-link a:hover {
        color: #000; }
  .stock-info-items {
    padding-left: 60px; }
  .stock-info-item {
    margin-right: 86px; }
    .stock-info-item:last-child {
      margin-right: 0; }
    .stock-info-item img {
      display: inline-block;
      vertical-align: middle; }
    .stock-info-item span {
      display: inline-block;
      vertical-align: middle;
      padding-left: 18px;
      color: #757575;
      font-weight: 700;
      text-transform: uppercase; }

/* Events */
.events-wrap .stock {
  position: relative; }
  .events-wrap .stock:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%); }

.events-items {
  padding-top: 48px; }

.events-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 15px 0 12px; }
  .events-top .main-event__data {
    color: #e3000f;
    margin-bottom: 0; }
  .events-top .shares-item-info img {
    width: 51px;
    height: 26px; }
  .events-top .shares-item-info p {
    font-size: 14px;
    margin-left: 12px; }

/* Events main-event-item */
.events-items {
  display: flex;
  flex-wrap: wrap; }
  .events-items .main-event-item {
    margin: 0 20px 20px 0; }
    .events-items .main-event-item:nth-child(4n) {
      margin-right: 0; }
    .events-items .main-event-item:hover .main-event-content {
      background-color: #fff; }
  .events-items .main-event__text {
    font-size: 16px; }

/* Past */
.past {
  padding-top: 54px;
  position: relative; }
  .past:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%); }
  .past-wrap {
    overflow: hidden; }
  .past .head {
    margin-bottom: 24px; }
  .past .text {
    margin-bottom: 36px; }
  .past .events-items {
    padding-top: 0;
    padding-bottom: 24px; }

/* Poster */
.poster {
  display: flex;
  padding-bottom: 53px;
  position: relative; }
  .poster:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%); }
  .poster_past {
    background-color: #fffaea;
    padding-bottom: 60px; }
    .poster_past .main-event-items {
      margin-bottom: 0; }
      .poster_past .main-event-items .slick-arrow {
        top: 203px; }
    .poster_past .main-event-item:hover .main-event-content {
      background-color: #fff; }
    .poster_past .past .text {
      margin-bottom: 29px; }
  .poster .soc__head {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 16px; }
  .poster .soc-items a {
    width: 30px;
    height: 30px;
    margin-right: 10px; }
    .poster .soc-items a:last-child {
      margin-right: 0; }
    .poster .soc-items a:hover {
      transform: rotate(360deg); }

/* Poster sidebar */
.poster-sidebar {
  width: 360px;
  flex-shrink: 0;
  align-self: flex-start;
  background-color: #e8f3ed;
  padding: 10px 30px 38px; }
  .poster-sidebar table {
    margin-bottom: 20px; }
    .poster-sidebar table tbody td {
      height: 70px;
      font-weight: 700;
      text-transform: uppercase; }
      .poster-sidebar table tbody td:first-child {
        width: 105px;
        padding-left: 6px; }
  .poster-sidebar-info {
    border-top: 1px solid #898989;
    padding-top: 28px;
    text-align: center; }
  .poster-sidebar__text {
    padding-bottom: 8px; }
  .poster-sidebar-tel a {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #000; }
    .poster-sidebar-tel a:hover {
      color: #e3000f; }
  .poster-sidebar-link a {
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    background-color: #e3000f;
    border-radius: 30px; }
    .poster-sidebar-link a:hover {
      background-color: #ff4450; }

/* Poster content */
.poster-content {
  flex-grow: 10;
  display: flex;
  padding-right: 70px; }
  .poster-content-img {
    width: 620px;
    flex-shrink: 0; }
  .poster-content-info {
    padding: 25px 0 0 44px; }
  .poster-content__head {
    margin-bottom: 35px;
    font: 900 32px/1.3 'PlayfairDisplay'; }
  .poster-content__text {
    line-height: 1.65;
    padding-bottom: 38px;
    margin-bottom: 36px;
    border-bottom: 1px solid #898989; }

/* Affiche */
.affiche_past {
  background-color: #fce5e7; }

.affiche .poster:after {
  display: none; }

.affiche .poster-content__text {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0; }

.affiche .poster-sidebar {
  background-color: #fffaea;
  position: relative; }
  .affiche .poster-sidebar table {
    margin-bottom: 0; }

.affiche .soc-wrap {
  position: absolute;
  top: 100%;
  left: 38px;
  margin-top: 34px;
  background-color: #fff; }

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 48px;
  position: relative; }
  .gallery:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 232px;
    height: 22px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%); }
  .gallery a {
    width: 340px;
    margin-right: 20px;
    margin-bottom: 16px;
    opacity: .92; }
    .gallery a:nth-child(4n) {
      margin-right: 0; }
    .gallery a:hover {
      opacity: 1; }

/* Payment */
.payment {
  padding-bottom: 12px; }
  .payment_bread .bread {
    padding-bottom: 22px; }
  .payment-items {
    display: flex;
    justify-content: space-between; }
  .payment-item {
    width: 670px; }
    .payment-item__head {
      font-family: 'PlayfairDisplay';
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 44px; }
    .payment-item__note {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 54px; }

/* Payment content */
.payment-content-item {
  margin-bottom: 74px;
  position: relative; }
  .payment-content-item img {
    width: 97px;
    position: absolute;
    top: 0;
    left: 0; }
  .payment-content-item.indent {
    margin-bottom: 51px; }
  .payment-content-item.indent2 {
    margin-bottom: 26px; }

.payment-content-block {
  padding: 6px 0 0 160px; }
  .payment-content-block h2 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 22px;
    margin-bottom: 8px;
    color: #e3000f; }
    .payment-content-block h2:before {
      content: '';
      display: block;
      width: 11px;
      height: 3px;
      background-color: #e3000f;
      position: absolute;
      top: 7px;
      left: 0; }
  .payment-content-block p {
    line-height: 1.6; }

/* Contacts */
.contacts {
  text-align: center;
  padding-bottom: 30px; }
  .contacts__head {
    width: 700px;
    margin: 0 auto 33px;
    font: 900 32px/1.4 'PlayfairDisplay'; }
  .contacts__note {
    width: 1070px;
    margin: 0 auto 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4; }
  .contacts__text {
    width: 1100px;
    margin: 0 auto 25px;
    line-height: 1.65; }
    .contacts__text:last-child {
      margin-bottom: 30px; }
  .contacts_bread .bread {
    padding-bottom: 18px; }
  .contacts .gallery {
    padding-bottom: 28px; }
    .contacts .gallery:after {
      display: none; }
    .contacts .gallery:last-child {
      padding-top: 10px; }
    .contacts .gallery a {
      margin-bottom: 0; }

/* Basket */
.basket {
  padding-bottom: 66px; }
  .basket__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px; }
  .basket-text {
    margin-bottom: 54px; }
    .basket-text a {
      text-decoration: underline;
      color: #e3000f; }
      .basket-text a:hover {
        text-decoration: none; }
  .basket_bread .bread {
    padding-bottom: 23px; }

/* Basket-el */
.basket-el {
  display: flex;
  margin-right: 12px; }
  .basket-el:last-child {
    margin-right: 0; }
  .basket-el-wrap {
    display: flex;
    padding-top: 21px; }
  .basket-el__text {
    margin-right: 3px; }
  .basket-el__sum {
    font-size: 14px;
    font-weight: 600; }

/* Basket content */
.basket-content {
  flex-grow: 10;
  padding-right: 115px; }
  .basket-content-wrap {
    display: flex; }
  .basket-content table {
    border-collapse: collapse; }
    .basket-content table tbody td {
      vertical-align: top;
      padding-bottom: 28px;
      position: relative; }
      .basket-content table tbody td:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e1e1e1;
        position: absolute;
        bottom: 28px;
        right: 0; }
      .basket-content table tbody td:first-child {
        width: 160px; }
        .basket-content table tbody td:first-child:after {
          background-color: #fff; }
      .basket-content table tbody td:nth-child(2) {
        width: 377px;
        padding-top: 6px; }
        .basket-content table tbody td:nth-child(2) a {
          font-weight: 700;
          line-height: 1.6;
          color: #000; }
          .basket-content table tbody td:nth-child(2) a:hover {
            color: #e3000f; }
      .basket-content table tbody td:nth-child(3) {
        width: 160px; }
      .basket-content table tbody td:nth-child(4) {
        width: 90px; }
      .basket-content table tbody td:nth-child(5) {
        width: 114px; }
      .basket-content table tbody td:last-child {
        width: 40px; }
  .basket-content__unit {
    padding-top: 14px;
    font-weight: 700; }
  .basket-content__price {
    padding-top: 10px;
    font-weight: 700;
    font-size: 24px; }
  .basket-content-img {
    width: 40px;
    height: 40px;
    background-color: #cce0eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms; }
    .basket-content-img:hover {
      background-color: #e3000f; }
  .basket-content .product-info-amount {
    width: 92px; }

/* Basket sidebar */
.basket-sidebar {
  width: 360px;
  align-self: flex-start;
  flex-shrink: 0;
  background-color: #e8f3ed;
  padding: 22px 38px 56px 26px; }
  .basket-sidebar table tbody td {
    height: 42px; }
    .basket-sidebar table tbody td:first-child {
      width: 178px; }
    .basket-sidebar table tbody td:last-child {
      font-weight: 700; }
  .basket-sidebar-login {
    line-height: 1.6;
    padding: 14px 0 20px; }
    .basket-sidebar-login a {
      text-decoration: underline;
      color: #000; }
      .basket-sidebar-login a:hover {
        text-decoration: none; }
  .basket-sidebar-totals {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .basket-sidebar__text {
    font-weight: 700;
    padding-left: 5px; }
  .basket-sidebar__price {
    font-size: 24px;
    font-weight: 700;
    padding-right: 29px; }
  .basket-sidebar .checkbox {
    width: 88px;
    height: 35px;
    background-color: #e8f3ed;
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .basket-sidebar .checkbox input {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer; }
      .basket-sidebar .checkbox input:checked + span {
        background-color: #cce0eb; }
        .basket-sidebar .checkbox input:checked + span:before {
          position: absolute;
          left: 100%;
          background: #fff;
          margin-left: -31px; }
    .basket-sidebar .checkbox span {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: 300ms;
      background: #fff;
      border-radius: 30px; }
      .basket-sidebar .checkbox span:before {
        content: '';
        display: block;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 3px;
        bottom: 3px;
        width: 28px;
        background-color: #cce0eb;
        transition: 300ms; }

/* Basket node */
.basket-node {
  padding: 24px 0 0 160px; }
  .basket-node__link {
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 52px; }
    .basket-node__link:hover {
      border-bottom: 1px solid transparent; }
  .basket-node-login {
    padding: 25px 10px 23px 35px;
    background-color: #fce5e7;
    display: flex;
    align-items: center; }
  .basket-node__text {
    font-size: 14px;
    font-weight: 700;
    margin-right: 40px; }
  .basket-node-input {
    position: relative; }
    .basket-node-input input {
      width: 250px;
      height: 50px;
      background-color: #fefefe;
      border: none;
      border-radius: 30px;
      padding: 0 15px;
      position: relative;
      z-index: 100;
      font: 400 16px 'Qanelas'; }
      .basket-node-input input::-webkit-input-placeholder {
        color: #000; }
      .basket-node-input input:-moz-placeholder {
        color: #000; }
      .basket-node-input input::-moz-placeholder {
        color: #000; }
      .basket-node-input input:-ms-input-placeholder {
        color: #000; }
    .basket-node-input button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      height: 50px;
      background-color: #e3000f;
      color: #fff;
      border-radius: 30px;
      font: 700 14px 'Qanelas';
      text-transform: uppercase;
      padding: 0 40px 0 80px;
      margin-left: -40px;
      position: absolute;
      top: 0;
      right: -140px; }
      .basket-node-input button:hover {
        background-color: #ff4450; }

/* Order */
.order {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  margin-bottom: 36px;
  border-bottom: 1px solid #e1e1e1; }
  .order-wrap {
    padding-bottom: 130px; }
  .order__head {
    font-family: 'PlayfairDisplay';
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 41px; }
  .order-content {
    width: 700px; }
  .order-consent {
    display: flex;
    padding-left: 140px; }
    .order-consent label {
      display: flex;
      align-items: center;
      margin-right: 78px;
      padding-top: 14px;
      cursor: pointer; }
      .order-consent label input {
        flex-shrink: 0;
        width: 16px;
        height: 17px;
        margin-right: 18px; }
    .order-consent__link {
      line-height: 50px;
      background-color: #e3000f;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 42px;
      border-radius: 30px; }
      .order-consent__link:hover {
        background-color: #ff4450; }

/* Order sidebar */
.order-sidebar {
  width: 350px; }
  .order-sidebar .order__head {
    margin-bottom: 53px; }
  .order-sidebar label {
    display: flex;
    align-items: center;
    margin-bottom: 42px; }
    .order-sidebar label:last-child {
      margin-bottom: 0; }
    .order-sidebar label .checkbox {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      border: 1px solid #cce0eb;
      background-color: #fefefe;
      border-radius: 50%;
      margin-right: 16px;
      position: relative; }
      .order-sidebar label .checkbox input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 5;
        cursor: pointer; }
        .order-sidebar label .checkbox input:checked + span:before {
          opacity: 1; }
      .order-sidebar label .checkbox span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0; }
        .order-sidebar label .checkbox span:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background-color: #9dc415;
          border-radius: 50%;
          opacity: 0;
          transition: 300ms; }
      .order-sidebar label .checkbox__text {
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer; }

/* Order input */
.order-input {
  display: flex;
  margin-bottom: 16px;
  align-items: center; }
  .order-input__name {
    width: 137px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; }
    .order-input__name:after {
      content: '*';
      font-size: 16px;
      color: #e3000f; }
  .order-input input {
    width: 460px;
    height: 50px;
    background-color: #fefefe;
    border: 1px solid #cce0eb;
    border-radius: 30px;
    padding: 0 16px;
    font: 400 16px 'Qanelas'; }
    .order-input input::-webkit-input-placeholder {
      color: #000; }
    .order-input input:-moz-placeholder {
      color: #000; }
    .order-input input::-moz-placeholder {
      color: #000; }
    .order-input input:-ms-input-placeholder {
      color: #000; }
    .order-input input:focus {
      border: 2px solid #e3000f; }
  .order-input-node {
    display: flex; }
    .order-input-node .order-input:first-child {
      margin-right: 26px; }
    .order-input-node .order-input input {
      width: 140px; }
  .order-input.office .order-input__name {
    width: auto;
    margin-right: 16px; }

/* Order inform */
.order-inform {
  padding: 32px 0 24px;
  padding-left: 140px; }
  .order-inform-text {
    padding-bottom: 36px; }
    .order-inform-text b {
      text-transform: uppercase;
      margin-right: 4px; }
  .order-inform-link {
    margin-bottom: 33px; }
    .order-inform-link:last-child {
      margin-bottom: 0; }
    .order-inform-link a {
      color: #000;
      border-bottom: 1px solid #000; }
      .order-inform-link a:hover {
        border-bottom: 1px solid transparent; }

/* Order items */
.order-items {
  display: flex; }
  .order-items .order-input__name {
    width: auto; }
    .order-items .order-input__name:after {
      display: none; }
  .order-items .order-input.data {
    margin-right: 40px; }
    .order-items .order-input.data .order-input__name {
      margin-right: 42px; }
    .order-items .order-input.data input {
      width: 140px;
      z-index: 100;
      margin-left: -40px; }
  .order-items .order-input.time .order-input__name {
    margin-right: 18px; }
  .order-items .order-input.time input {
    width: 80px;
    margin-right: 8px; }
    .order-items .order-input.time input:last-child {
      margin-right: 0; }
  .order-items .calendar {
    width: 100px;
    height: 50px;
    background-color: #9dc415;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 30px; }
    .order-items .calendar-wrap {
      display: flex; }

/*# sourceMappingURL=style.css.map */