@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
		url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.eot');
	src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Light.woff') format('woff'),
		url('../fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gbzyc8');
  src:  url('../fonts/icomoon.eot?gbzyc8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gbzyc8') format('truetype'),
    url('../fonts/icomoon.woff?gbzyc8') format('woff'),
    url('../fonts/icomoon.svg?gbzyc8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-5:before {
  content: "\e904";
}
.icon-alarm:before {
  content: "\e905";
}
.icon-credit:before {
  content: "\e906";
}
.icon-file:before {
  content: "\e907";
}
.icon-logo:before {
  content: "\e908";
}