$fiol: #e415b6;
$blue: #012549;
$demi: 'Futura New Demi';

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
  outline: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Futura New', sans-serif;
}

a {
  font-family: inherit;
  display: inline-block;
  transition: 300ms;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a img {
  border: none;
  outline: none;
}

.container {
  max-width: 1260px;
  padding: 0;
}

@media (max-width: 1336px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px !important;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px !important;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

// Bread

.bread {
  margin: 26px 0 6px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    position: relative;
    margin-right: 24px;
    &:after {
      content: '>';
      display: block;
      position: absolute;
      top: 50%;
      right: -16px;
      transform:  translateY(-50%);
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: #000;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Header

.header {
  display: flex;
  align-items: center;
  &-wrap {
    box-shadow: 6.3px 7.8px 28.5px 1.5px rgba(0, 1, 1, 0.1);
  }
  &-content {
    flex-shrink: 0;
    flex-grow: 10;
  }
  &-items {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &-city {
    margin-right: 60px;
    position: relative;
    &-items {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 20px;
      background: #fff;
      border: 2px solid $fiol;
      padding: 15px;
      min-width: 200px;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transition: 300ms;
      &.active {
        opacity: 1;
        z-index: 100;
        visibility: visible;
        margin-top: 5px;
      }
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: #000;
        }
      }
    }
    &__current {
      text-decoration: underline;
      cursor: pointer;
      &.active {
        i {
          transform: rotate(180deg);
        }
      }
      i {
        font-size: 12px;
        transition: 300ms;
        margin-left: 5px;
      }
    }
  }
  &-item {
    &__address {
      text-decoration: underline;
    } 
  }
}

.logo {
  margin: 18px 96px 16px 0;
  flex-shrink: 0;
}

.header-nav {
  ul {
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      &:after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #4ecef5;
        border-radius: 50%;
        display: block;
        margin: 0 13px;
      }
      &:last-child:after {
        display: none;
      }
      a {
        color: #012549;
        font: normal 24px 'Futura New Demi';
        &:hover {
          color: $fiol;
          text-decoration: none;
        }
      }
    }
  }
}

.header-callback {
  text-align: center;
  font-family: $demi;
  flex-shrink: 0;
  &__tel {
    display: block;
    color: $blue;
    font-size: 28px;
    margin-bottom: 4px;
    &:hover {
      text-decoration: none;
      color: $fiol;
    }
  }
  &__link {
    background-color: #4ecef5;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 14px;
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: $fiol;
    }
  }
}

.burger {
  display: none;
  &__title {
    display: none;
  }
}

@media (max-width: 1336px) {
  .logo {
    margin-right: 50px;
  }
  .header-nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .burger {
    display: block;
    width: 30px;
    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;
      span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #4ecef5;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          content: '';
          width: 30px;
          height: 5px;
          position: absolute;
          left: 0;
          background: #4ecef5;
          border-radius: 7px;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }
        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }
          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }
  .header-wrap {
    position: relative;
  }
  .header-nav {
    display: flex;
    align-items: center;
    ul {
      position: absolute;
      left: 0;
      top: 100%;
      background: #fff;
      width: 100%;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      margin-top: 30px;
      transition: 300ms;
      display: block;
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
        margin-top: 0;
      }
      li {
        display: block;
        text-align: center;
        margin: 15px 0;
        &:after {
          display: none;
        }
        a {
          font-size: 20px;
        }
      }
    }
  }
  .logo {
    width: 100px;
    margin-right: 30px;
  }
  .header-city {
    margin-right: 30px;
  }
  .header-callback__tel {
    font-size: 24px;
  }
  .header-items {
    margin-bottom: 9px;
  }
  .burger__title {
    display: block;
    color: #4ecef5;
    text-transform: uppercase;
    font-family: 'Futura New Demi';
    font-size: 14px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .header-items {
    display: none;
  }
}

@media (max-width: 575px) {
  .header-callback {
    display: none;
  }
  .header-nav {
    justify-content: flex-end;
  }
}

// Main slider

.main-slider {
  position: relative;
  .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #1bace6;
    border: none;
    position: absolute;
    left: 140px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    font-size: 20px;
    z-index: 100;
    transition: 300ms;
    &:hover {
      background: #1bace6;
      color: #fff;
    }
  }
  .slick-next {
    left: auto;
    right: 140px;
  }
  .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 300px;
    display: flex;
    li {
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      margin-right: 17px;
      cursor: pointer;
      transition: 300ms;
      &:hover,
      &.slick-active {
        background: #037bad;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    button {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .main-slider .slick-arrow {
    left: 90px;
  }
  .main-slider .slick-next {
    left: auto;
    right: 90px;
  }
  .main-slider .slick-dots {
    bottom: 40px;
  }
}

@media (max-width: 991px) {
  .main-slider .slick-arrow {
    left: 60px;
  }
  .main-slider .slick-next {
    left: auto;
    right: 60px;
  }
  .main-slider .slick-dots {
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .main-slider {
    display: none;
  }
}

// Programms

.programms {
  position: relative;
  z-index: 5;
  padding-top: 50px;
  &-wrap {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 381px;
      background: url(../images/programms-decor.png) no-repeat 50%;
      background-size: cover;
    }
  }
  &__head {
    font: 400 54px/1 'Shadow';
    color: #11117a;
    text-align: center;
    margin-bottom: 35px;
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
    li {
      margin: 0 5px;
    }
  }
  &__link {
    padding: 12px 30px;
    font-weight: 900;
    font-size: 20px;
    color: #4ecef5;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
      color: #11117a;
    }
    &.active {
      background: #20afe9;
      color: #012549;
      border-radius: 50px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.programms {
  &-tab {
    display: none;
    &:first-child {
      display: block;
    }
  }
  &-item {
    display: flex;
    background-color: #cef3fc;
    border-radius: 16px;
    min-height: 170px;
    margin-bottom: 35px;
    &:nth-child(2n) {
      background: #effcce;
      .programms-cost {
        background: url(../images/green-price-bg.jpg) no-repeat 50%;
      }
    }
  }
  &-time {
    padding: 35px 30px;
    border-right: 6px solid rgba(255,255,255,.35);
    flex-shrink: 0;
  }
  &__month {
    font-size: 18px;
    font-family: $demi;
    margin-bottom: 18px;
  }
  &__date {
    line-height: 1.8;
  }
  &-description {
    flex-grow: 10;
    padding: 30px 20px;
  }
  &__title {
    font-family: $demi;
    font-size: 24px;
    border-bottom: 2px dashed $fiol;
    color: #000;
    line-height: 1.2;
    margin-bottom: 15px;
    &:hover {
      color: $fiol;
      text-decoration: none;
    }
  }
  &__caption {
    line-height: 1.8;
  }
  &-info {
    flex-shrink: 0;
    display: flex;
    padding: 40px 44px 0 20px;
    align-items: center;
  }
  &-cost {
    width: 130px;
    height: 107px;
    text-align: center;
    background: url(../images/blue-price-bg.jpg) no-repeat;
    margin-right: 20px;
    .price {
      font: 400 24px $demi;
    }
    span {
      display: inline-block;
      margin: 25px 0 7px;
    }
  }
  &__btn {
    padding: 15px 20px;
    background: $fiol;
    border-radius: 50px;
    font: 400 18px $demi;
    color: #fff;
    i {
      margin-right: 10px;
    }
    &:hover {
      text-decoration: none;
      background: #20afe9;
      color: #fff;
    }
  }
  &-more {
    padding: 5px 0 26px;
    text-align: center;
    a {
      padding: 17px 22px;
      color: #fff;
      border-radius: 50px;
      background-color: #20afe9;
      font: 400 18px $demi;
      img {
        margin-left: 12px;
      }
      &:hover {
        text-decoration: none;
        background: $fiol;
      }
    }
  }
}

@media (max-width: 1200px) {
  .programms__link {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .programms__link {
    font-size: 14px;
    padding: 6px 15px;
  }
  .programms-info {
    display: block;
  }
  .programms-cost {
    margin: 0 auto 15px;
  }
}

@media (max-width: 768px) {
  .programms__head {
    font-size: 34px;
  }
  .programms-item {
    display: block;
  }
  .programms-time {
    border-right: 0;
    padding: 15px;
    text-align: center;
  }
  .programms-description {
    padding: 15px;
    text-align: center;
  }
  .programms-info {
    text-align: center;
    padding: 15px;
  }
}

@media (max-width: 575px) {
  .programms-links {
    display: block;
    text-align: center;
  }
}

// Slick

.slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #1bace6;
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 100;
  transition: 300ms;
  &:hover {
    background: #1bace6;
    color: #fff;
  }
}
.slick-next {
  left: auto;
}
.slick-dots {
  display: flex;
  li {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin-right: 17px;
    cursor: pointer;
    transition: 300ms;
    &:hover,
    &.slick-active {
      background: #037bad;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  button {
    display: none;
  }
}

// Courses

.courses {
  padding: 35px 0;
  &-wrap {
    background-image: linear-gradient(to top, #4dcae8 0%, #c6edf8 100%);
  }
  &__head {
    margin: 0 auto;
    background: url(../images/course-head-bg.png) no-repeat 50%;
    width: 668px;
    max-width: 100%;
    height: 86px;
    text-align: center;
    font: 400 54px/86px 'Shadow';
    color: #fff;
    text-transform: uppercase;
    padding-top: 7px;
    margin-bottom: 30px;
  }
  &__img {
    flex-shrink: 0;
    max-width: 266px;
  }
  &-item {
    margin: 0 9px;
    border-radius: 16px;
    background: #fff;
    overflow: hidden;
    display: flex !important;
    align-items: flex-start;
  }
  &__content {
    padding: 30px;
    font-family: $demi;
  }
  &__time {
    display: inline-block;
    background-color: #fdf216;
    border-radius: 13px;
    padding: 3px 7px;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 22px;
  }
  &__link {
    font-family: $demi;
    background-color: #20afe9;
    border-radius: 50px;
    color: #fff;
    padding: 18px 24px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    img {
      margin-left: 10px;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
      background: $fiol;
    }
  }
  &-carousel {
    position: relative;
    .slick-arrow {
      left: -80px;
      margin-top: -35px;
      position: absolute;
      top: 50%;
    }
    .slick-next {
      right: -80px;
      left: auto;
    }
  }
  .slick-dots {
    justify-content: center;
    margin-top: 35px;
  }
}

.courses-inner {
  .bread {
    margin-top: 0;
    padding-top: 28px;
  }
  .courses {
    padding-top: 0;
  }
}

@media (max-width: 1910px) {
  .courses {
    &-carousel {
      padding: 0 20px;
      .slick-arrow {
        left: -40px;
      }
      .slick-next {
        left: auto;
        right: -40px;
      }
    }
  }
}
@media (max-width: 1336px) {
  .courses-carousel {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  .courses {
    &-carousel {
      .slick {
        &-arrow {
          left: -32px;
        }
        &-next {
          left: auto;
          right: -32px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .courses__head {
    background-size: contain;
    font-size: 34px;
  }
  .courses__img {
    display: none;
  }
  .courses-carousel {
    margin: 0 30px;
  }
}
@media (max-width: 575px) {
  .courses-carousel .slick-arrow {
    display: none !important;
  }
  .courses-carousel {
    margin: 0;
    padding: 0;
  }
  .courses__content {
    padding: 15px;
  }
  .courses__head {
    background: none;
    color: $fiol;
    height: auto;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

// Reviews

.reviews {
  padding: 45px 0;
  &-wrap {
    background: url(../images/reviews-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &__head {
    margin: 0 auto 27px;
    background: url(../images/reviews-head-bg.png) no-repeat 50%;
    width: 720px;
    height: 80px;
    text-align: center;
    font: 400 54px/80px 'Shadow';
    color: #012549;
    padding-top: 5px;
  }
  &-carousel {
    max-width: 940px;
    margin: 0 auto 42px;
    background: #fff;
    border-radius: 16px;
  }
  &-item {
    padding: 26px 55px;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  &-content {
    font-size: 18px;
    font-style: italic;
    line-height: 1.6;
    margin: 25px 0;
  }
  &-author {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $demi;
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
  }
  &__img {
    width: 80px;
    height: 80px;
    margin-right: 40px;
    flex-shrink: 0;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: -80px;
  }
  .slick-next {
    left: auto;
    right: -80px;
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      padding: 16px 22px;
      background: #fff;
      border-radius: 50px;
      font: 400 18px $demi;
      color: $fiol;
      display: flex;
      align-items: center;
      i {
        margin-left: 18px;
      }
      &:hover {
        text-decoration: none;
        background: $fiol;
        color: #fff;
      }
      &:first-child {
        margin-right: 40px;
      }
    }
  }
}

.reviews-inner .reviews {
  padding: 0 0 50px;
  &__head {
    margin-bottom: 19px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: 30px;
  }
  &-item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 28px;
  }
  &-links {
    a {
      border: 1px solid #e415b6;
      padding: 13px 22px;
    }
    .link img {
      margin-left: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .reviews-carousel {
    max-width: 850px;
  }
  .reviews .slick-arrow {
    left: -60px;
  }
  .reviews .slick-next {
    left: auto;
    right: -60px;
  }
  .reviews-inner .reviews {
    padding-bottom: 36px;
  }
  .reviews-inner .reviews__head {
    font-size: 46px;
  }
  .reviews-inner .reviews-items {
    margin-bottom: 16px;
  }
}
@media (max-width: 991px) {
  .reviews .slick {
    &-arrow {
      left: -55px;
    }
    &-next {
      left: auto;
      right: -55px;
    }
  }
  .reviews-carousel {
    max-width: 650px;
  }
  .reviews-inner .reviews {
    &-item {
      padding: 16px;
    }
    &-content {
      line-height: 1.3;
      margin: 16px 0;
    }
    &__img {
      margin-right: 22px;
    }
  }
}
@media (max-width: 767px) {
  .reviews__head {
    font-size: 34px;
    background-size: contain;
    max-width: 100%;
  }
  .reviews-carousel {
    max-width: 400px;
  }
  .reviews-inner .reviews {
    &-author {
      font-size: 16px;
      line-height: 1.25;
    }
    &__head {
      font-size: 36px;
      margin-bottom: 8px;
    }
    &__img {
      margin-right: 12px;
      width: 66px;
      height: 66px;
    }
    &-content {
      margin: 12px 0 8px;
      font-size: 16px;
    }
  }
}
@media (max-width: 575px) {
  .reviews .slick-arrow {
    display: none !important;
  }
  .reviews-item {
    padding: 15px;
  }
  .reviews__img {
    margin-right: 20px;
  }
  .reviews-links {
    flex-direction: column;
    a {
      margin: 5px 0 !important;
    }
  }
  .reviews-inner .reviews {
    &__head {
      height: auto;
      line-height: 1.2;
      font-size: 28px;
    }
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      margin: 0 auto 10px;
    }
  }
}

// Teachers

.teachers {
  padding: 60px 0 100px;
  &__head {
    color: #012549;
    font: 400 54px 'Shadow';
    text-align: center;
    margin-bottom: 60px;
  }
  &-container {
    display: flex;
    align-items: flex-start;
  }
  &-info {
    width: 280px;
    margin-right: 80px;
    flex-shrink: 0;
  }
  &-carousel {
    flex-grow: 10;
    min-width: 0;
  }
  &__description {
    font: 400 24px $demi;
    color: #012549;
    line-height: 1.5;
    margin-bottom: 133px;
  }
  &__link {
    padding: 18px 22px;
    font: 400 18px $demi;
    color: #fff;
    background: #97bf0d;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    i {
      margin-left: 10px;
    }
    &:hover {
      text-decoration: none;
      background: $fiol;
      color: #fff;
    }
  }
  &-item {
    margin-left: 40px;
    img {
      border-radius: 16px;
      margin-bottom: 20px;
    }
  }
  &__name {
    font-family: $demi;
    line-height: 1.4;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__caption {
    line-height: 1.4;
  }
  .slick-arrow {
    position: absolute;
    top: 130px;
    background: $fiol;
    opacity: .8;
    left: -40px;
    color: #fff;
    &:hover {
      background: $fiol;
      opacity: 1;
    }
  }
  .slick-next {
    left: auto;
    right: -80px;
  }
  .slick-dots {
    position: absolute;
    bottom: -50px;
    width: 100%;
    justify-content: center;
    li {
      background-color: #4ecef5;
      &:hover,
      &.slick-active {
        background-color: #0180a7;
      }
    }
  }
}

@media (max-width: 1910px) {
  .teachers {
    &-carousel {
      padding: 0 20px;
      .slick-arrow {
        left: 0px;
      }
      .slick-next {
        left: auto;
        right: -40px;
      }
    }
  }
}
@media (max-width: 1336px) {
  .teachers__name {
    font-size: 21px;
  }
  .teachers-carousel .slick-arrow {
    display: none !important;
  }
  .teachers .slick-dots {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1200px) {
  .teachers-info {
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .teachers-item {
    margin-left: 0;
  }
  .teachers-item img {
    margin: 0 auto 20px;
  }
  .teachers-item {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .teachers__head {
    font-size: 34px;
  }
  .teachers__name {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .teachers-container {
    display: block;
  }
  .teachers__description {
    margin-bottom: 15px;
  }
  .teachers-info {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
  }
  .teachers__head {
    font-size: 28px;
  }
}

// Articles

.articles {
  padding: 40px 0;
  &-wrap {
    background: url(../images/articles-bg.jpg) no-repeat 50%;
    background-size: cover;
    overflow: hidden;
  }
  &__head {
    font: 400 54px/80px 'Shadow';
    color: #012549;
    background: url(../images/article-head-bg.png) no-repeat 50%;
    width: 620px;
    height: 80px;
    margin: 0 auto 29px;
    text-align: center;
    padding-top: 5px;
  }
  &-items {
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  &-item {
    margin-left: 20px;
    width: calc(25% - 20px);
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.large {
      width: calc(50% - 20px);
      .articles__title {
        font-size: 24px;
        margin-top: -7px;
      }
    }
  }
  &__img {
    height: 280px;
    background-size: cover;
    background-position: 50%;
    display: block;
    flex-shrink: 0;
  }
  &-content {
    padding: 28px 19px 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 10;
  }
  &__title {
    font: 400 18px $demi;
    margin-bottom: 14px;
    color: #000;
    &:hover {
      text-decoration: none;
      color: $fiol;
    }
  }
  &__text {
    flex-grow: 10;
    line-height: 1.65;
  }
  &__time {
    margin-top: 10px;
    font: 400 14px $demi;
    background: #bde925;
    border-radius: 50px;
    padding: 4px 12px;
    margin-bottom: 5px;
    display: inline-block;
  }
  &__more {
    text-align: center;
    a {
      padding: 15px 22px;
      font: 400 18px $demi;
      color: #fff;
      background: $fiol;
      border-radius: 50px;
      display: inline-flex;
      align-items: center;
      i {
        margin-left: 20px;
      }
      &:hover {
        text-decoration: none;
        color: #fff;
        background: #bde925;
      }
    }
  }
}

.articles-inner {
  background-image: url(../images/articles-innerBg.jpg);
  .articles {
    padding: 0 0 58px;
    &-items {
      margin-bottom: 20px;
    }
    &-item {
      margin-bottom: 29px;
    }
  }
}

@media (max-width: 1336px) {
  .articles-inner .articles-item {
    margin-bottom: 22px;
  }
}
@media (max-width: 1200px) {
  .articles {
    &-content {
      padding: 14px 10px 16px;
    }
    &__img {
      height: 230px;
    }
    &__title {
      margin-bottom: 6px;
    }
    &__text {
      line-height: 1.4;
    }
  }
  .articles-inner .articles {
    padding: 0 0 42px;
  }
}
@media (max-width: 767px) {
  .articles__head {
    max-width: 100%;
    font-size: 34px;
    background-size: contain;
  }
  .articles-item {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    &.large {
      width: 100%;
    }
  }
}
@media (max-width: 575px) {
  .articles-items {
    margin-left: 0;
  }
  .articles-item {
    width: 100%;
    margin-left: 0;
  }
  .articles__head {
    height: auto;
    line-height: 1.2;
    background: none;
  }
}

// Record

.record {
  padding: 76px 0 41px;
  &__head {
    color: #024281;
    font: 400 46px/1.2 'Shadow';
    margin-bottom: 40px;
  }
  &-section {
    display: flex;
    align-items: flex-start;
  }
  &-form {
    flex-shrink: 0;
    width: 400px;
    background-image: linear-gradient(to top, #b1d410 0%, #10d2d9 100%);
    border-radius: 16px;
    padding: 33px 40px 25px;
    margin-top: 4px;
    text-align: center;
    &__head {
      color: #fff;
      font-size: 34px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 23px;
      text-align: left;
    }
    button {
      width: 240px;
      height: 50px;
      background-color: #e415b6;
      border-radius: 25px;
      margin: 0 auto 19px;
      padding: 0;
      font-family: $demi;
      font-size: 20px;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #bde925;
      }
    }
  }
  &-content {
    flex-grow: 10;
    margin-right: 80px;
    &__text {
      line-height: 1.65;
      margin-bottom: 25px;
    }
  }
}

.record {
  &-items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    position: relative;
    width: 380px;
    margin: 0 20px 48px 0;
    padding: 44px 0 0 80px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    img {
      width: 121px;
      position: absolute;
      top: 0;
      left: 0;
    }
    p {
      color: $blue;
      font-family: $demi;
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 0;
      position: relative;
      z-index: 5;
    }
  }
}

.record {
  &-inputs {
    margin-bottom: 30px;
  }
  &-input {
    text-align: left;
    margin-bottom: 23px;
    input, select {
      width: 100%;
      height: 60px;
      background-color: #fff;
      border-radius: 6px;
      border: none;
      padding: 0 18px;
      font-size: 24px;
      &::placeholder {
        color: #000;
      }
      &::-mos-placeholder {
        color: #000;
      }
    }
    select {
      -webkit-appearance: none;
      background-image: url(../images/select-arrow.png);
      background-position: right center;
      background-repeat: no-repeat;
      line-height: 1em;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
    }
    &__head {
      font-family: $demi;
      font-size: 14px;
      margin-bottom: 10px;
      text-transform: uppercase;
      margin-left: 22px;
    }
  }
}

.check {
  position: absolute;
  top: -4px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  &-wrap {
    position: relative;
    cursor: pointer;
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '\2714';
      display: block;
      position: absolute;
      top: -1px;
      left: 1px;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: 300ms;
    }
  }
  &-text {
    padding-left: 39px;
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    a {
      text-decoration: underline;
      color: #000;
      display: inline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .record {
    padding: 60px 0 24px;
    &__head {
      font-size: 36px;
      margin-bottom: 24px;
    }
    &-content {
      margin-right: 32px;
    }
    &-form {
      margin-top: 0;
    }
    &-items {
      margin-top: 36px;
    }
    &-item {
      width: 359px;
      p {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .record {
    &-form {
      width: 360px;
      padding: 22px 20px 20px;
      &__head {
        margin-bottom: 18px;
      }
    }
    &-content {
      &__text {
        line-height: 1.4;
        margin-bottom: 14px;
      }
    }
    &-item {
      width: 284px;
      margin: 0 10px 30px 0;
      padding: 28px 0 0 72px;
      p {
        font-size: 20px;
      }
    }
    &-input {
      margin-bottom: 16px;
      input, select {
        font-size: 22px;
      }
      &__head {
        margin-bottom: 7px;
        margin-left: 14px;
      }
    }
  }
}
@media (max-width: 991px) {
  .record {
    padding: 46px 0 14px;
    &-form {
      width: 300px;
      &__head {
        font-size: 26px;
      }
      button {
        width: 212px;
        height: 44px;
        margin-bottom: 12px;
      }
      .check {
        top: 0;
        left: 0;
        &-text {
          padding-left: 32px;
          line-height: 1.2;
        }
      }
    }
    &-inputs {
      margin-bottom: 16px;
    }
    &-input {
      margin-bottom: 10px;
      input, select {
        height: 48px;
      }
      &__head {
        margin-left: 0;
      }
    }
    &-content {
      margin-right: 14px;
      &__text {
        line-height: 1.2;
      }
    }
    &-item {
      width: 213px;
      padding: 14px 0 0 50px;
      img {
        width: 80px;
        height: 80px;
      }
      p {
        line-height: 1.1;
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 767px) {
  .record {
    padding-bottom: 30px;
    &-section {
      flex-direction: column;
    }
    &__head {
      font-size: 28px;
      margin-bottom: 12px;
    }
    &-content {
      margin-right: 0;
    }
    &-items {
      margin-top: 25px;
      margin-bottom: 6px;
    }
    &-item {
      width: 265px;
    }
    &-form {
      margin: 0 auto;
    }
  }
}
@media (max-width: 575px) {
  .record {
    padding-top: 30px;
    &__head {
      font-size: 24px;
    }
    &-form {
      width: 290px;
    }
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 0 20px !important;
    }
  }
}

// Footer

.footer {
  padding: 51px 0 62px;
  display: flex;
  &-wrap {
    background-color: $blue;
  }
  &-logo {
    flex-shrink: 0;
    width: 160px;
    margin-right: 80px;
    &__text {
      line-height: 1.6;
      font-size: 14px;
      color: #edf7f5;
      margin-top: 26px;
    }
  }
  &-section {
    display: flex;
    flex-grow: 10;
  }
  &-items {
    display: flex;
    margin-right: 100px;
    margin-top: 6px;
  }
  &-item {
    margin: 0 27px 0 0;
    padding: 0;
    list-style: none;
    &:first-child {
      width: 160px;
    }
    &:last-child {
      width: 270px;
      margin-right: 0;
    }
    li {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-size: 18px;
        font-family: $demi;
      }
    }
  }
}

.footer-info {
  width: 412px;
  color: #fff;
  margin-top: 4px;
  &__tel {
    color: #fff;
    font-size: 34px;
    margin-bottom: 21px;
    font-family: $demi;
    &:hover {
      color: #fff;
    }
  }
  &__head {
    color: #fff;
    font-size: 18px;
    margin-bottom: 13px;
    font-family: $demi;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 160px;
    margin-right: 60px;
    font-size: 18px;
    &:last-child {
      width: 190px;
      margin-right: 0;
    }
    a {
      color: #fff;
      font-size: 18px;
    }
  }
  &__name {
    display: inline-block;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
  }
  &__address {
    margin-bottom: 5px;
  }
}

// Bottom

.bottom {
  display: flex;
  padding: 4px 0 24px;
  &-year {
    flex-shrink: 0;
    width: 200px;
    margin-right: 37px;
    color: #edf7f5;
    font-size: 14px;
  }
  &-omg {
    color: #edf7f5;
    font-size: 14px;
    a {
      color: #edf7f5;
      font-size: 14px;
    }
  }
  &-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      margin-right: 60px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #edf7f5;
        font-size: 14px;
      }
    }
  }
  &-content {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
  }
}

@media (max-width: 1336px) {
  .footer {
    padding: 50px 0;
    &-logo {
      margin-right: 44px;
    }
    &-items {
      margin-right: 86px;
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    padding-top: 32px;
    &-logo {
      margin-right: 20px;
    }
    &-items {
      margin-right: 20px;
    }
    &-item {
      margin-right: 10px;
    }
    &-info {
      width: 330px;
      &-item {
        margin-right: 12px;
        font-size: 16px;
      }
    }
  }
  .bottom {
    &-year {
      width: 146px;
    }
    &-content {
      margin-right: 0;
    }
    &-links li {
      margin-right: 24px;
    }
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 30px 0 16px;
    flex-direction: column;
    &-section {
      flex-direction: column;
    }
    &-logo {
      width: 310px;
      display: flex;
      margin: 0 auto 20px;
      align-items: center;
      &__text {
        margin-top: 0;
        margin-left: 10px;
      }
      a {
        flex-shrink: 0;
      }
    }
    &-items {
      margin: 0 auto 16px;
    }
    &-info {
      width: 366px;
      margin: 0 auto;
      text-align: center;
      &__tel {
        margin-bottom: 6px;
      }
      &-item {
        width: 49%;
        margin-right: 2%;
      }
    }
  }
  .bottom {
    flex-direction: column;
    text-align: center;
    padding-bottom: 14px;
    &-year {
      margin-right: 0;
      width: auto;
    }
    &-content {
      order: -1;
      margin-bottom: 6px;
      flex-direction: column;
    }
    &-links {
      margin-bottom: 6px;
    }
  }
}
@media (max-width: 767px) {
  
  .bottom {
    &-links {
      flex-direction: column;
      li {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 575px) {
  .footer {
    &-logo {
      width: 200px;
      flex-direction: column;
      text-align: center;
      &__text {
        margin-top: 10px;
        line-height: 1.3;
      }
    }
    &-items {
      flex-direction: column;
      text-align: center;
    }
    &-item {
      width: 100% !important;
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      li {
        margin-bottom: 10px;
      }
    }
    &-info {
      width: auto;
      &-items {
        flex-direction: column;
      }
      &-item {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Issues

.issues {
  display: flex;
  align-items: flex-start;
  margin-bottom: 52px;
  .record-form {
    margin-top: 0;
  }
  &-title {
    color: #012549;
    font-family: 'Shadow';
    font-size: 54px;
    margin-bottom: 30px;
  }
  &__head {
    font-size: 54px;
    font-family: 'Shadow';
    color: #fff;
    width: 666px;
    height: 80px;
    background: url(../images/issues-head.png) no-repeat 50%;
    margin: 0 auto 30px;
    padding-top: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-items {
    flex-grow: 10;
    margin-right: 60px;
  }
  &-item {
    background-color: #effcce;
    border-radius: 16px;
    margin-bottom: 10px;
  }
  &-head {
    cursor: pointer;
    transition: 300ms;
    display: flex;
    align-items: center;
    color: #1a93b9;
    font-family: $demi;
    font-size: 24px;
    text-decoration: underline;
    padding: 20px 18px 18px;
    transition: 300ms;
    &:hover {
      text-decoration: none;
    }
    .label {
      flex-shrink: 0;
      position: relative;
      width: 40px;
      height: 40px;
      background-color: #e415b6;
      border-radius: 20px;
      border: 1px solid #e415b6;
      margin-right: 20px;
      transition: 300ms;
      &:before, &:after {
        content: '';
        display: block;
        width: 2px;
        height: 18px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 300ms;
      }
      &:after {
        width: 18px;
        height: 2px;
      }
    }
    &.active {
      text-decoration: none;
      color: #000;
      .label {
        background-color: #fff;
        &:before {
          opacity: 0;
        }
        &:after {
          background-color: #e415b6;
        }
      }
    }
  }
  &-content {
    padding: 5px 40px 32px 80px;
    display: none;
    p {
      line-height: 1.65;
      margin-bottom: 0;
    }
  }
}

.issues-inner {
  padding-top: 70px;
  .issues {
    margin-bottom: 86px;
    &-item {
      overflow: hidden;
    }
    &-head {
      background-color: #dcfdfe;
      color: #012549;
    }
    &-content {
      background-color: #dcfdfe;
    }
  }
}

@media (max-width: 1336px) {
  .issues {
    &-items {
      margin-right: 30px;
    }
  }
}
@media (max-width: 1200px) {
  .issues {
    margin-bottom: 30px;
    &-head {
      font-size: 20px;
      padding: 12px;
      .label {
        margin-right: 12px;
      }
    }
    &-content {
      padding: 0 20px 20px 67px;
    }
  }
}
@media (max-width: 991px) {
  .issues {
    &-title {
      font-size: 46px;
      margin-bottom: 20px;
    }
    &-items {
      margin-right: 16px;
    }
    &-head {
      line-height: 1.1;
    }
  }
  .issues-inner {
    padding-top: 46px;
    .issues {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 767px) {
  .issues {
    flex-direction: column;
    &-title {
      font-size: 36px;
    }
    &__head {
      font-size: 36px;
      width: 488px;
      background-size: 100%;
      margin-bottom: 16px;
    }
    &-items {
      margin-right: 0;
      margin-bottom: 14px;
    }
  }
}
@media (max-width: 575px) {
  .issues {
    &-wrap {
      margin-top: 20px;
    }
    &-title {
      font-size: 28px;
    }
    &__head {
      color: #000;
      width: 100%;
      height: auto;
      padding-top: 0;
      background: none;
      text-align: center;
      font-size: 28px;
    }
    &-head {
      font-size: 18px;
      padding: 10px;
      .label {
        width: 34px;
        height: 34px;
      }
    }
    &-content {
      padding: 0 14px 14px;
      p {
        line-height: 1.3;
      }
    }
  }
  .issues-inner {
    margin-top: 0;
    padding-top: 38px;
  }
}

// Contacts

.contacts {
  margin: 23px 0 0;
  &-head {
    font-family: 'Shadow';
    font-size: 54px;
    color: #012549;
    text-align: center;
    margin-bottom: 56px;
    a {
      color: #20afe9;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 122px;
  }
  &-items {
    display: flex;
    align-items: flex-start;
  }
  &-item {
    margin-right: 64px;
    display: flex;
    align-items: flex-start;
    &:last-child {
      margin-right: 0;
    }
    &.first {
      width: 312px;
    }
    &.second {
      width: 340px;
      .contacts-content {
        padding-left: 26px;
      }
    }
    &.three {
      width: 240px;
      .contacts-content {
        padding-left: 10px;
      }
    }
  }
  &-img {
    flex-shrink: 0;
    width: 43px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &-content {
    padding-left: 2px;
    &__title {
      font-size: 24px;
      margin-bottom: 12px;
      line-height: 1;
    }
    &__address {
      font-size: 24px;
      line-height: 1;
      font-family: $demi;
    }
    &__mail {
      font-size: 24px;
      line-height: 1;
      color: #012549;
      font-family: $demi;
      text-decoration: underline;
      &:hover {
        color: #012549;
        text-decoration: none;
      }
    }
    &__tel {
      font-size: 24px;
      line-height: 1;
      font-family: $demi;
      color: #000;
      &:hover {
        color: #20afe9;
        text-decoration: none;
      }
    }
  }
  &-link {
    line-height: 50px;
    background-color: #97bf0d;
    border-radius: 25px;
    padding: 0 18px 0 22px;
    font-size: 18px;
    color: #fff;
    font-family: $demi;
    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #e415b6;
    }
    img {
      margin-left: 16px;
    }
  }
  &-map {
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 70px;
    font-size: 0;
    iframe {
      border: none;
      width: 100%;
      height: 480px;
    }
  }
}

@media (max-width: 1336px) {
  .contacts {
    &-head {
      margin-bottom: 36px;
    }
    &-item {
      margin-right: 32px;
    }
    &-section {
      margin-bottom: 70px;
    }
    &-map {
      margin-bottom: 54px;
      iframe {
        height: 380px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .contacts {
    &-head {
      font-size: 44px;
    }
    &-item {
      margin-right: 10px;
      &.first {
        width: 276px;
      }
      &.second {
        width: 300px;
        .contacts-content {
          padding-left: 14px;
        }
      }
      &.three {
        width: 208px;
      }
    }
    &-content {
      &__title {
        margin-bottom: 5px;
      }
      &__title,
      &__address,
      &__mail,
      &__tel {
        font-size: 20px;
      }
    }
    &-link {
      padding: 0 12px;
      img {
        margin-left: 4px;
      }
    }
    &-map {
      margin-bottom: 44px;
    }
  }
}
@media (max-width: 991px) {
  .contacts {
    &-head {
      font-size: 36px;
    }
    &-section {
      flex-direction: column;
      margin-bottom: 46px;
    }
    &-items {
      margin-bottom: 20px;
    }
    &-item {
      &.first {
        width: 250px;
      }
      &.second {
        width: 266px;
      }
      &.three {
        width: 196px;
      }
    }
    &-content {
      &__title,
      &__address,
      &__mail,
      &__tel {
        font-size: 18px;
      }
    }
    &-map iframe {
      height: 280px;
    }
  }
}
@media (max-width: 767px) {
  .contacts {
    &-head {
      font-size: 28px;
      margin-bottom: 22px;
    }
    &-section {
      margin-bottom: 32px;
    }
    &-items {
      flex-direction: column;
      margin-bottom: 6px;
    }
    &-item {
      width: 300px !important;
      margin-right: 0;
      margin-bottom: 16px;
    }
    &-img {
      justify-content: center;
    }
    &-content {
      padding-left: 18px !important;
    }
  }
}

// Main context

.main-context {
  margin: 0 160px 58px;
  &__head {
    color: #012549;
    font-family: 'Shadow';
    font-size: 34px;
    text-align: center;
    margin-bottom: 23px;
  }
  &__text {
    margin-bottom: 26px;
    line-height: 1.65;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1200px) {
  .main-context {
    margin: 0 60px 44px;
    &__head {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 16px;
    }
  }
}
@media (max-width: 991px) {
  .main-context {
    margin: 0 0 32px;
    &__head {
      font-size: 28px;
    }
    &__text {
      line-height: 1.3;
    }
  }
}

// Content page

.content-page {
  margin: 16px 160px 60px;
  h2 {
    color: #024281;
    font-family: $demi;
    font-size: 46px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 33px;
  }
  b {
    display: block;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 28px;
  }
  p {
    line-height: 1.65;
    margin-bottom: 26px;
  }
}

@media (max-width: 1200px) {
  .content-page {
    margin: 16px 60px 40px;
  }
}
@media (max-width: 991px) {
  .content-page {
    margin-right: 0;
    margin-left: 0;
    h2 {
      font-size: 38px;
      line-height: 1;
      margin-bottom: 18px;
    }
    b {
      font-size: 21px;
      margin-bottom: 14px;
    }
    p {
      line-height: 1.4;
      margin-bottom: 14px;
    }
  }
}
@media (max-width: 767px) {
  .content-page {
    h2 {
      font-size: 32px;
    }
    b {
      font-size: 18px;
    }
  }
}
@media (max-width: 575px) {
  .content-page {
    h2 {
      font-size: 28px;
    }
  }
}

// About

.about {
  margin: 24px 160px 36px;
  h2 {
    color: #e314b6;
    font-family: 'Shadow';
    font-size: 54px;
    line-height: 1;
    margin-bottom: 19px;
    text-align: center;
  }
  b {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 26px;
    font-family: $demi;
  }
  p {
    line-height: 1.65;
    margin-bottom: 26px;
  }
  img {
    border-radius: 20px;
    margin-top: 8px;
  }
}

@media (max-width: 1200px) {
  .about {
    margin: 20px 60px 36px;
  }
}
@media (max-width: 767px) {
  .about {
    margin-right: 0;
    margin-left: 0;
    h2 {
      font-size: 46px;
      margin-bottom: 10px;
    }
    b {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 14px;
    }
    p {
      line-height: 1.3;
      margin-bottom: 14px;
    }
  }
}
@media (max-width: 575px) {
  .about {
    h2 {
      font-size: 38px;
      margin-bottom: 4px;
    }
  }
}

// Teachers

.our-teachers {
  flex-shrink: 0;
  width: 300px;
  margin-top: 6px;
  &-wrap {
    background-color: #dcf5fd;
    .record {
      padding-top: 60px;
      &__head {
        margin-bottom: 31px;
      }
      &-content {
        margin-right: 174px;
      }
    }
  }
  &__head {
    color: #012549;
    font-family: 'Shadow';
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.25;
  }
  &__name {
    font-size: 24px;
    font-family: $demi;
    margin: 25px 0 11px;
    line-height: 1.35;
  }
  &__text {
    line-height: 1.65;
  }
  &-items {
    position: relative;
    .slick {
      &-arrow {
        position: absolute;
        top: 160px;
        left: -80px;
        background-color: #f779f0;
        color: #fff;
        &:hover {
          background-color: #e415b6;
        }
      }
      &-next {
        left: auto;
        right: -80px;
      }
    }
  }
  &-item {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1440px) {
  .our-teachers-items .slick {
    &-arrow {
      left: -36px;
    }
    &-next {
      left: auto;
      right: -36px;
    }
  }
}
@media (max-width: 1336px) {
  .our-teachers {
    margin-top: 0;
    &-wrap .record {
      padding-top: 44px;
      &-content {
        margin-right: 32px;
      }
      &__head {
        font-size: 34px;
        margin-bottom: 16px;
      }
    }
    &-items .slick {
      &-arrow {
        left: 0;
      }
      &-next {
        left: auto;
        right: 0;
      }
    }
    &-item {
      img {
        width: auto;
        height: auto;
        margin: 0 auto;
      }
    }
    &__name {
      margin: 10px 0 5px;
      line-height: 1.15;
    }
    &__text {
      line-height: 1.3;
    }
  }
}
@media (max-width: 991px) {
  .our-teachers {
    &-wrap .record-content {
      margin-right: 12px;
    }
    &__head {
      font-size: 30px;
      margin-bottom: 10px;
      line-height: 1.1;
    }
    &__name {
      font-size: 22px;
    }
  }
}
@media (max-width: 767px) {
  .our-teachers {
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .our-teachers {
    &-wrap .record {
      padding-top: 34px;
      &__head {
        font-size: 25px;
      }
    }
  }
}

// Article

.article {
  margin: 17px 160px 58px;
  h2 {
    color: #024281;
    font-family: $demi;
    line-height: 1.2;
    font-size: 46px;
    text-align: center;
    margin-bottom: 28px;
  }
  &__date {
    display: block;
    margin: 36px 0 24px;
    span {
      margin-top: 10px;
      font: 400 14px "Futura New Demi";
      background: #bde925;
      border-radius: 50px;
      padding: 4px 12px;
      margin-bottom: 5px;
    }
  }
  b {
    display: block;
    font-size: 24px;
    line-height: 1.4;
    font-family: $demi;
    margin-bottom: 30px;
  }
  p {
    line-height: 1.65;
    margin-bottom: 26px;
  }
  &-items {
    position: relative;
    margin-bottom: 40px;
    .slick {
      &-arrow {
        color: #fff;
        background-color: #f779f0;
        position: absolute;
        top: 172px;
        left: -80px;
        &:hover {
          background-color: #e415b6;
        }
      }
      &-next {
        left: auto;
        right: -80px;
      }
      &-dots {
        margin-top: 28px;
        justify-content: center;
        li {
          width: 10px;
          height: 10px;
          background-color: #4ecef5;
          &.slick-active {
            background-color: #0180a7;
          }
          button {
            display: none;
          }
        }
      }
    }
  }
  &-item img {
    border-radius: 20px;
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    line-height: 50px;
    padding: 0 20px 0 30px;
    background-color: #e415b6;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    font-family: $demi;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #20afe9;
    }
    i {
      margin-left: 14px;
    }
  }
}

.article-soc {
  display: flex;
  align-items: center;
  &__head {
    font-size: 18px;
    margin-right: 14px;
    font-family: $demi;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        width: 30px;
        height: 30px;
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .article {
    margin: 17px 60px 40px;
    &-items .slick {
      &-arrow {
        left: -60px;
      }
      &-next {
        left: auto;
        right: -60px;
      }
    }
  }
}
@media (max-width: 991px) {
  .article {
    h2 {
      line-height: 1.1;
      font-size: 34px;
      margin-bottom: 18px;
    }
    &__date {
      margin: 24px 0 14px;
    }
    b {
      font-size: 20px;
      line-height: 1.25;
      margin-bottom: 14px;
    }
    p {
      line-height: 1.25;
      margin-bottom: 14px;
    }
    &-items .slick {
      &-arrow {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-soc {
      &__head {
        font-size: 16px;
        margin-right: 10px;
      }
      ul li {
        margin-right: 8px;
      }
    }
  }
}
@media (max-width: 767px) {
  .article {
    margin-right: 0;
    margin-left: 0;
    &-items {
      width: 400px;
      margin: 0 auto 18px;
      .slick {
        &-dots {
          margin-top: 16px;
        }
      }
    }
    &-bottom {
      flex-direction: column;
    }
    &-soc {
      margin-bottom: 12px;
    }
  }
}
@media (max-width: 575px) {
  .article {
    h2 {
      font-size: 28px;
    }
    &-items {
      width: 290px;
      .slick {
        &-arrow {
          display: none !important;
        }
        &-dots li {
          margin-right: 12px;
        }
      }
    }
    &-soc {
      flex-direction: column;
      &__head {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

// More articles

.more-articles {
  background: url(../images/articles-innerBg.jpg) no-repeat 50%;
  padding: 62px 0 44px;
  &__head {
    color: #fff;
    font-family: 'Shadow';
    font-size: 54px;
    text-align: center;
    margin-bottom: 25px;
  }
  &-link {
    margin-top: 54px;
    text-align: center;
    a {
      line-height: 50px;
      background-color: #e415b6;
      border-radius: 25px;
      font-size: 18px;
      color: #fff;
      font-family: $demi;
      padding: 0 20px 0 30px;
      &:hover {
        text-decoration: none;
        background-color: #bde925;
      }
      i {
        margin-left: 14px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .more-articles {
    padding: 40px 0 32px;
    &__head {
      font-size: 46px;
    }
  }
}
@media (max-width: 767px) {
  .more-articles {
    .articles-items {
      margin-bottom: 16px;
    }
    &-link {
      margin-top: 0;
    }
    &__head {
      font-size: 36px;
    }
  }
}
@media (max-width: 575px) {
  .more-articles {
    .articles {
      &-items {
        margin-left: 0;
      }
      &-item {
        margin-left: 0;
      }
    }
    &__head {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
}

// Course

.course {
  width: 700px;
  padding-top: 53px;
  &-wrap {
    height: 600px;
    background: url(../images/course-bg.jpg) no-repeat 50%;
    .bread {
      margin-top: 0;
      padding-top: 28px;
    }
  }
  &__label {
    color: #012549;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 63px 60px;
    span {
      position: relative;
      padding-bottom: 5px;
      letter-spacing: 5px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(../images/courses-label.png) repeat left;
        width: 100%;
        height: 2px;
      }
    }
  }
  &__head {
    font-family: 'Shadow';
    font-size: 63px;
    line-height: 1;
    color: #fff;
  }
  &__entry {
    color: #fff;
    font-size: 45px;
    line-height: 1;
    font-family: $demi;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 20px;
    font-family: $demi;
    line-height: 1.5;
    margin-bottom: 55px;
  }
  &-link {
    line-height: 60px;
    padding: 0 20px 0 30px;
    background-color: #75c948;
    border-radius: 30px;
    box-shadow: 3.1px 3.9px 27px 3px rgba(255, 0, 0, 0.35);
    font-size: 24px;
    color: #fff;
    font-family: $demi;
    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #e415b6;
    }
    i {
      margin-left: 20px;
    }
  }
}

.course-teachers .teachers {
  padding-bottom: 14px;
}

@media (max-width: 1200px) {
  .course {
    width: 560px;
    padding-top: 28px;
    &-wrap {
      height: 530px;
    }
    &__label {
      margin: 0 0 36px 0;
    }
    &__head {
      font-size: 46px;
    }
    &__entry {
      font-size: 36px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 18px;
      margin-bottom: 32px;
    }
  }
}
@media (max-width: 991px) {
  .course {
    width: 480px;
    &__label {
      margin-bottom: 30px;
    }
    &__head {
      font-size: 40px;
    }
    &__entry {
      font-size: 32px;
    }
  }
  .course-teachers {
    .teachers {
      &__description {
        margin-bottom: 52px;
      }
    }
  }
}
@media (max-width: 767px) {
  .course-teachers {
    .teachers {
      padding-top: 44px;
      padding-bottom: 30px;
      .slick-dots {
        bottom: -28px;
      }
      &__head {
        margin-bottom: 30px;
      }
      &__description {
        margin-bottom: 24px;
        line-height: 1.3;
      }
    }
  }
}
@media (max-width: 575px) {
  .course {
    margin-right: 0;
    padding-bottom: 30px;
    padding-top: 16px;
    width: 100%;
    &-wrap {
      height: auto;
      background-image: url(../images/course-bg320.jpg);
      background-size: cover;
      .bread {
        padding-top: 16px;
      }
    }
    &__label {
      font-size: 22px;
      margin-bottom: 25px;
    }
    &__head {
      font-size: 36px;
    }
    &__entry {
      font-size: 28px;
    }
    &__text {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 18px;
    }
    &-link {
      font-size: 17px;
      padding: 0 10px;
      line-height: 46px;
      i {
        margin-left: 6px;
      }
    }
  }
  .course-teachers {
    .teachers {
      padding-bottom: 58px;
      &__head {
        margin-bottom: 12px;
      }
    }
  }
}

// Features

.features {
  padding: 60px 0 30px;
  &__head {
    color: #11117a;
    font-family: 'Shadow';
    font-size: 54px;
    text-align: center;
    margin-bottom: 49px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 350px;
    margin: 0 90px 28px 0;
    display: flex;
    align-items: flex-start;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 40px;
    margin-right: 20px;
  }
  &-content {
    padding-top: 7px;
    &__head {
      font-size: 24px;
      font-family: $demi;
      margin-bottom: 10px;
    }
    &__text {
      line-height: 1.65;
    }
  }
}

@media (max-width: 1336px) {
  .features {
    &-item {
      margin-right: 60px;
    }
  }
}
@media (max-width: 1200px) {
  .features {
    &-item {
      width: 310px;
      margin-right: 20px;
    }
    &-content {
      &__head {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 4px;
      }
    }
  }
}
@media (max-width: 991px) {
  .features {
    padding: 50px 0 20px;
    &__head {
      font-size: 46px;
      margin-bottom: 30px;
    }
    &-item {
      margin: 0 auto 20px !important;
    }
  }
}
@media (max-width: 575px) {
  .features {
    padding: 38px 0 12px;
    &__head {
      font-size: 28px;
      margin-bottom: 20px;
    }
    &-img {
      margin-right: 12px;
    }
    &-content {
      &__head {
        font-size: 18px;
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
}

// Advantages

.advantages {
  padding: 60px 0 96px;
  &-wrap {
    background-color: #0c7bc2;
    background-image: linear-gradient(to top, #4dcae8 0%, #0569be 100%);
  }
  &__head {
    color: #fff;
    font-family: 'Shadow';
    font-size: 54px;
    margin-bottom: 34px;
    text-align: center;
  }
  &-items {
    display: flex !important;
    position: relative;
    .slick {
      &-arrow {
        position: absolute;
        top: 50%;
        left: -80px;
        transform: translateY(-50%);
        font-size: 18px;
        color: #e415b6;
        &:hover {
          color: #fff;
          background-color: #e415b6;
        }
      }
      &-next {
        left: auto;
        right: -80px;
      }
      &-dots {
        position: absolute;
        bottom: -55px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &-item {
    width: 620px;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 70px 36px 60px;
    margin: 0 10px;
    &__head {
      font-size: 24px;
      font-family: $demi;
      margin-bottom: 11px;
    }
    &__text {
      line-height: 1.65;
    }
  }
}

@media (max-width: 1440px) {
  .advantages {
    &-items .slick {
      &-arrow {
        width: 40px;
        height: 40px;
        left: -42px;
      }
      &-next {
        left: auto;
        right: -42px;
      }
    }
  }
}
@media (max-width: 1336px) {
  .advantages {
    &-items {
      width: 620px;
      margin: 0 auto;
      .slick {
        &-arrow {
          left: -60px;
        }
        &-next {
          left: auto;
          right: -60px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .advantages {
    padding: 46px 0 80px;
    &__head {
      font-size: 46px;
      margin-bottom: 22px;
    }
    &-items .slick-dots {
      bottom: -30px;
    }
  }
}
@media (max-width: 767px) {
  .advantages {
    &__head {
      font-size: 40px;
    }
    &-items {
      width: 420px;
    }
    &-item {
      width: 420px;
      padding: 20px;
      &__head {
        font-size: 22px;
        line-height: 1.1;
        margin-bottom: 4px;
      }
      &__text {
        line-height: 1.4;
      }
    }
  }
}
@media (max-width: 575px) {
  .advantages {
    padding-top: 36px;
    &__head {
      font-size: 28px;
    }
    &-items {
      width: 290px;
      .slick-arrow {
        display: none !important;
      }
    }
    &-item {
      width: 290px;
    }
  }
}

// Main blockquotes

.main-blockquotes {
  width: 888px;
  height: 228px;
  font-size: 34px;
  line-height: 1.3;
  font-family: $demi;
  text-align: center;
  background: url(../images/main-blockquotesAfter.png) no-repeat 50%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-wrap {
    height: 360px;
    background: url(../images/main-blockquotesBg.jpg) no-repeat 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .main-blockquotes {
    width: 680px;
    background-size: 100%;
    font-size: 26px;
    &-wrap {
      height: 280px;
    }
  }
}
@media (max-width: 767px) {
  .main-blockquotes {
    width: 540px;
    height: 160px;
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .main-blockquotes {
    width: 100%;
    height: auto;
    background: none;
    padding: 30px 26px;
    &-wrap {
      height: auto;
    }
  }
}






























