
@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
  
  /* Logo */
  
  .logo {
    margin-right: 26px;
  }
  
  /* Header */
  
  .header {
    padding: 20px 20px 0 20px;
  }
  
  /* Nav */
  
  .nav {
    ul {
      li {
        margin-right: 0;
      }
    }
  }
  
  /* Services */
  
  .services {
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
      &:nth-child(4n) {
        margin: 0 10px 20px;
      }
    }
  }
  
  /* Note */
  
  .note {
    width: 650px;
  }
  
  /* About */
  
  .about {
    &-item {
      width: 584px;
      padding: 24px 50px 46px 20px;
    }
    &-work {
      &__number {
        font-size: 100px;
      }
      &__text {
        font-size: 22px;
      }
    }
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      margin-right: 30px;
    }
    &-content {
      width: 455px;
    }
    &-info {
      width: 420px;
    }
  }
  
  /* Team */
  
  .team {
    padding-bottom: 15px;
    &-wrap {
      &:after {
        height: 196px;
      }
    }
    &-items {
      width: 990px;
      margin: 0 auto;
      .slick {
        &-arrow {
          left: -50px;
        }
        &-next {
          left: auto;
          right: -50px;
        }
      }
    }
  }
  
  /* Outline */
  
  .outline {
    &-item {
      margin-right: 65px;
    }
  }
  
  /* Serve */
  
  .serve {
    &-content {
      width: 860px;
      &__head {
        font-size: 40px;
        line-height: 1.1;
      }
    }
  }
  
  /* Projects */
  
  .projects {
    .serve {
      &-content {
        width: 990px;
      }
    }
  }
  
  /* Draft */
  
  .draft {
    &-item {
      width: 370px;
      margin: 0 30px 30px 0;
    }
  }
  
  /* Clients */
  
  .clients {
    &-items {
      width: 894px;
    }
  }
  
  /* News */
  
  .news {
    .office {
      &-items {
        margin: 0 0 14px;
      }
      &-item {
        margin-right: 10px;
        margin-bottom: 20px;
        width: 383px;
      }
    }
  }
  
  /* Customers */
  
  .customers {
    &-content {
      width: 530px;
    }
  }
  
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  
  /* Logo */
  
  .logo {
    width: 200px;
    margin-right: 14px;
  }
  
  /* Header */
  
  .header {
    &_index {
      height: 650px;
    }
    &-info {
      &-note {
        width: 590px;
      }
    }
    &__entry {
      font-weight: 700;
      font-size: 14px;
    }
    &-showcase {
      width: 800px;
      margin-top: 100px;
      h2 {
        font-size: 55px;
      }
      p {
        font-size: 30px;
      }
    }
  }
  
  /* Nav */
  
  .nav {
    ul {
      li {
        a {
          padding: 0 6px;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }
  
  /* About */
  
  .about {
    &-item {
      width: 485px;
      display: block;
      &-content {
        padding: 20px 0 0 0px;
        &__head {
          margin: 0 0 18px;
        }
      }
    }
    &-work {
      padding: 18px 10px 35px;
      &__text {
        font-size: 20px;
      }
    }
    &-values {
      width: 360px;
    }
    &-text {
      padding-right: 40px;
      margin-top: 0px;
      p {
        line-height: 1.35;
        margin-bottom: 12px;
      }
    }
  }
  
  /* Our works */
  
  .our-works {
    &-items {
      width: 600px;
      margin-right: 0;
    }
    &-item {
      margin-right: 20px;
    }
    &-info {
      margin-top: 0;
      width: 340px;
      .head {
        span {
          font-size: 40px;
        }
      }
    }
    &-content {
      padding-left: 0;
    }
  }
  
  /* Main career */
  
  .main-career {
    margin-right: 0;
    &:before {
      width: 800px;
      right: -20px;
    }
    &-wrap {
      overflow: hidden;
    }
    &-item {
      width: 390px;
    }
    &__text {
      padding: 0 0 0 40px;
      line-height: 1.3;
    }
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      float: none;
      display: block;
      margin-right: 0;
      margin-bottom: 40px;
      text-align: center;
    }
    &-info {
      .lang {
        margin-top: 0;
      }
    }
  }
  
  /* Bottom */
  
  .bottom {
    display: block;
    text-align: center;
    &-omg {
      margin-top: 10px;
      justify-content: center;
    }
  }
  
  /* Team */
  
  .team {
    &-items {
      width: 660px;
    }
  }
  
  /* Outline */
  
  .outline {
    &-item {
      margin-right: 20px;
      &__text {
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }
  
  /* Serve */
  
  .serve {
    &-content {
      width: 666px;
    }
  }
  
  /* Contacts */
  
  .contacts {
    &-item {
      width: 260px;
      margin: 0 10px;
      &:first-child {
        width: 330px;
      }
      b {
        width: 85px;
      }
    }
  }
  
  /* Map */
  
  .map {
    iframe {
      height: 400px;
    }
  }
  
  /* Projects */
  
  .projects {
    &__head {
      margin-left: 150px;
      margin-bottom: 18px;
    }
    .serve {
      &-content {
        width: 800px;
      }
    }
    table {
      tbody {
        tr {
          td {
            line-height: 1.3;
            &:nth-child(2) {
              padding-right: 0;
            }
            &:nth-child(3) {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
  
  /* Draft */
  
  .draft {
    &-item {
      width: 303px;
      height: 210px;
    }
  }
  
  /* Clients */
  
  .clients {
    &-items {
      width: 597px;
    }
  }
  
  /* News */
  
  .news {
    .office {
      &-item {
        width: 316px;
        margin-bottom: 10px;
        &__head {
          line-height: 1.1;
        }
        &__text {
          line-height: 1.3;
        }
      }
    }
  }
  
  /* Customers */
  
  .customers {
    &-img {
      width: 510px;
    }
  }
  
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  
  /* Header */
  
  .header {
    display: block;
    text-align: center;
    &-showcase {
      width: 700px;
      margin-top: 70px;
      padding: 30px 10px 40px;
      h2 {
        font-size: 48px;
        margin: 0 0 18px;
      }
      p {
        font-size: 26px;
      }
    }
  }
  
  /* Logo */
  
  .logo {
    margin: 0 auto 30px;
  }
  
   /* About */
  
  .about {
    &-items {
      justify-content: center;
    }
    &-work {
      margin: 0 24px 0 0;
      &__number {
        font-size: 90px;
      }
      &__text {
        font-size: 18px;
      }
    }
    &-values {
      width: 260px;
    }
  }
  
  /* Our works */
  
  .our-works {
    display: block;
    &-info {
      width: auto;
      margin-bottom: 40px;
      .head {
        margin-left: 0;
      }
    }
    &-items {
      margin: 0 auto;
    }
    &__entry {
      margin-bottom: 30px;
    }
  }
  
  /* Office */
  
  .office {
    &-item {
      margin: 0 16px 0 0;
      &__data {
        padding: 0 0 14px;
      }
      &__head {
        font-size: 18px;
      }
      &__text {
        line-height: 1.2;
      }
    }
  }
  
  /* Main career */
  
  .main-career {
    display: block;
    padding: 0px 0 12px;
    &:before {
      display: none;
    }
    &-head {
      margin-left: 0;
    }
    &-item {
      margin: 0 auto 40px;
    }
  }
  
  /* Main-contacts */
  
  .main-contacts {
    &-head {
      span {
        &:before {
          left: -46px;
        }
      }
    }
    &-content {
      width: 380px;
      padding: 56px 25px 0 44px;
    }
    &-item {
      p, a {
        line-height: 1.3;
      }
    }
  }
  
  /* Footer */
  
  .footer {
    padding-bottom: 10px;
    &-content {
      float: none;
      width: 555px;
      margin: 0 auto 30px;
    }
    &-info {
      float: none;
      margin: 0 auto;
      width: 555px;
      &-link {
        margin-left: 0;
      }
    }
  }
  
  /* Outline */
  
  .outline {
    &__head {
      margin-bottom: 50px;
    }
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 20px 40px;
      &:nth-child(4n) {
        margin: 0 20px 40px;
      }
    }
  }
  
  /* Serve */
  
  .serve {
    &-content {
      width: 450px;
      &__head {
         font-size: 36px;
      }
      &-wrap {
        padding-right: 0;
      }
      &__upper {
        line-height: 1.3;
        margin: 0 0 14px;
      }
      p {
        margin-bottom: 14px;
        line-height: 1.3;
      }
    }
    &-sidebar {
      width: 290px;
    }
  }
  
  /* Contacts */
  
  .contacts {
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      margin-bottom: 20px;
    }
  }
  
  /* Map */
  
  .map {
    iframe {
      height: 300px;
    }
  }
  
  /* Projects */
  
  .projects {
    &__head {
      margin-left: 0;
    }
    .serve {
      margin: 0 0 30px;
      &-sidebar {
        margin: 0 auto 40px;
        float: none;
        width: 240px;
      }
      &-content {
        width: auto;
        float: none;
      }
    }
  }
  
  /* Draft */
  
  .draft {
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 15px 30px;
      &:nth-child(3n) {
        margin: 0 15px 30px;
      }
    }
  }
  
  /* Clients */
  
  .clients {
    &__head {
      margin-left: 0;
    }
    &-items {
      width: 535px;
    }
    &-item {
      width: 130px;
      margin: 0 36px;
    }
  }
  
  /* News */
  
  .news {
    .office {
      &-items {
        justify-content: center;
      }
      &-item {
        margin: 0 10px 10px;
      }
    }
  }
  
  /* Pagination */
  
  .pagination {
    padding: 0 0 40px;
  }
  
  /* Customers */
  
  .customers {
    &-item {
      margin: 0 0 40px;
    }
    &-content {
      width: 380px;
      padding-left: 60px;
      padding-top: 0;
      padding-right: 10px;
      &__text {
        line-height: 1.3;
        margin-bottom: 14px;
      }
      &__execs {
        margin-bottom: 6px;
      }
    }
    &-img {
      width: 410px;
    }
  }
  
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  
  /* Header */
  
  .header {
    padding-bottom: 20px;
    &-info {
      display: block;
      text-align: center;
      &-item {
        display: block;
        margin-bottom: 10px;
      }
      &-note {
        display: block;
        width: auto;
      }
    }
    &-showcase {
      width: auto;
      margin-top: 45px;
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 21px;
      }
    }
  }
  
  /* Lang */
  
  .lang {
    justify-content: center;
  }
  
  /* Burger */
  
  .burger-wrap {
    display: block;
    width: 30px;
    a {
      cursor: pointer;
      padding: 12px 0;
      display: block;
      span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #f26529;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          position: absolute;
          background: #f26529;
          content: '';
          width: 30px;
          height: 5px;
          left: 0;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border-radius: 7px;
        }
        &::before {
          top: -8px;
        }
        &::after {
          top: 8px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }
          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }
  
  /* Nav */
  
  .nav {
    ul {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      z-index: 5;
      display: block;
      padding: 10px 0;
      opacity: 0;
      visibility: hidden;
      margin-top: 10px;
      transition: 300ms;
      &.active {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
      }
      li {
        a {
          width: 100%;
        }
      }
    }
  }
  
  /* Services */
  
  .services {
    &-content {
      padding-top: 12px;
    }
  }
  
  /* Note */
  
  .note {
    width: auto;
  }
  
  /* Head */
  
  .head {
    margin-left: 0;
    span {
      &:before {
        display: none;
      }
    }
  }
  
  /* Our works */
  
  .our-works {
    &-items {
      width: 543px;
    }
  }
  
  /* Office */
  
  .office {
    &-wrap {
      background: #252525;
    }
    &-items {
      justify-content: center;
      flex-wrap: wrap;
    }
    &-item {
      margin: 0 10px 20px;
      &:nth-child(3n) {
        margin: 0 10px 20px;
      }
    }
  }
  
  /* Main-contacts */
  
  .main-contacts {
    &-wrap {
      overflow: hidden;
      iframe {
        height: 300px;
      }
    }
    &-content {
      position: static;
      height: auto;
      padding-bottom: 40px;
      &:before {
        right: -1000px;
      }
    }
  }
  
  /* Footer */
  
  .footer {
    &-info,
    &-content {
      width: 525px;
    }
  }
  
  /* About */
  
  .about {
    &-works {
      display: block;
    }
    &-work {
      margin: 0 auto 20px;
      &:nth-child(3n) {
        margin: 0 auto 20px;
      }
    }
    &-content {
      display: block;
    }
    &-text {
      padding-right: 0;
      margin-bottom: 30px;
    }
    &-values {
      width: auto;
    }
  }
  
  /* Team */
  
  .team {
    &__head {
      text-align: center;
    }
    &-items {
      width: 360px;
    }
  }
  
  /* Outline */
  
  .outline {
    margin-bottom: 0;
    &__head {
      text-align: center;
    }
  }
  
  /* Serve */
  
  .serve {
    margin: 0 0 50px;
    &-sidebar {
      width: 400px;
      float: none;
      margin: 0 auto 40px;
    }
    &-content {
      float: none;
      margin: 0 auto;
    }
  }
  
  /* Clients */
  
  .clients {
    &-items {
      width: 333px;
    }
  }
  
  /* Uncos */
  
  .uncos {
    .office {
      &-item {
        margin-left: 0;
      }
    }
    .serve {
      &-sidebar {
        ul {
          margin-bottom: 50px;
        }
      }
    }
  }
  
  /* Customers */
  
  .customers {
    &-item {
      display: block;
      text-align: center;
    }
    &-content {
      text-align: left;
      width: auto;
      margin-bottom: 40px;
    }
    &-img {
      width: auto;
    }
  }
  
}

@media only screen and (max-width: 575px) {
  
  /* Header */
  
  .header {
    &_index {
      height: 770px;
    }
    &-showcase {
      h2 {
        font-size: 32px;
      }
    }
  }
  
  /* Services */
  
  .services {
    &-item {
      padding-top: 12px;
      &__head {
        font-size: 18px;
      }
    }
    &-content {
      .services-item__head {
        line-height: 1.1;
        font-size: 18px;
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
  
  /* Our works */
  
  .our-works {
    &-items {
      width: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 5px 20px;
      &:last-child {
        margin: 0 5px 20px;
      }
    }
  }
  
  /* Office */
  
  .office {
    &-head {
      span {
        font-size: 40px;
      }
    }
  }
  
  /* Main career */
  
  .main-career {
    &-item {
      width: auto;
    }
    &__text {
      padding: 0 0 0 16px;
    }
  }
  
  /* Main-contacts */
  
  .main-contacts {
    &-content {
      width: auto;
      padding: 44px 10px 40px 10px;
    }
  }
  
  /* Footer */
  
  .footer {
    &-content {
      width: auto;
      display: block;
      text-align: center;
      ul {
        margin-bottom: 25px;
      }
    }
    &-info {
      display: block;
      width: auto;
      &-content {
        display: block;
        text-align: center;
      }
      &-contacts {
        padding-left: 0;
        margin: 20px auto;
      }
    }
  }
  
  /* About */
  
  .about {
    &-work {
      width: auto;
    }
    &-link {
      margin-left: 0;
    }
  }
  
  /* Team */
  
  .team {
    &-items {
      width: 290px;
      .slick {
        &-arrow {
          left: -15px;
        }
        &-next {
          left: auto;
          right: -15px;
        }
      }
    }
  }
  
  /* Serve */
  
  .serve {
    &-sidebar {
      width: auto;
    }
    &-content {
      width: auto;
      &__head {
        font-size: 26px;
      }
      &__upper {
        font-size: 14px;
      }
    }
  }
  
  /* Contacts */
  
  .contacts {
    &-items {
      margin-bottom: 30px;
    }
    &-item {
      &-bloc {
        margin-bottom: 20px;
      }
      b {
        display: block;
        text-align: center;
        width: auto;
        margin-bottom: 10px;
      }
    }
  }
  
  /* Projects */
  
  .projects {
    table {
      thead {
        display: none;
      }
      tbody {
        tr {
          td {
            display: block;
            &:first-child {
              text-align: center;
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  
  /* Clients */
  
  .clients {
    padding: 50px 0;
    &__head {
      span {
        font-size: 32px;
        margin-bottom: 40px;
      }
    }
    &-items {
      width: 130px;
    }
    &-item {
      width: 130px;
    }
  }
  
  /* News */
  
  .news {
    &__head {
      span {
        font-size: 36px;
      }
    }
  }
  
  /* Pagination */
  
  .pagination {
    li {
      padding: 0 8px;
      &.pagination__left {
        margin-right: 6px;
      }
      &.pagination__right {
        margin-left: 6px;
      }
    }
  }
  
  /* Customers */
  
  .customers {
    &-content {
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
  
}



























