$orange: #f26529;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'DINPro', sans-serif;
}

a {
  font: 400 16px 'DINPro', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

.head {
  text-align: center;
  margin: 0 0 32px 66px;
  span {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/head_before.png) no-repeat 50%;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -62px;
    }
  }
}

.note {
  width: 770px;
  color: #010101;
  margin: 0 auto 39px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.link {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    span {
      color: #000;
      font-weight: 900;
      text-transform: uppercase;
      padding-bottom: 6px;
      border-bottom: 3px solid $orange;
      margin-right: 24px;
      transition: 300ms;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 17px;
      width: 40px;
      height: 40px;
      background-color: $orange;
      &:before {
        transition: 300ms;
      }
    }
    &:hover {
      span {
        border-bottom: 3px solid transparent;
      }
      i {
        &:before {
          transform: translateX(15%);
        }
      }
    }
  }
}

.arrow-right {
  width: 50px;
  height: 50px;
  background: $orange;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
  &:hover {
    background: #bb4c1d;
  }
}

/* Arrow-down */

.arrow-down {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $orange;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  i {
    font-size: 30px;
    color: #fff;
    transition: 300ms;
  }
  &:hover {
    i {
      transform: translateY(10%);
    }
  }
}

/* Burger */

.burger-wrap {
  display: none;
}

/* Header */

.header {
  display: flex;
  background: #fff;
  padding: 20px 44px 0 26px;
  &_index {
    position: relative;
    height: 820px;
  }
  &-content {
    flex-grow: 10;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__entry {
    color: $orange;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 2px 0 0;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: $orange;
      height: 1px;
      width: 0;
      position: absolute;
      bottom: -2px;
      left: 50%;
      transition: 300ms;
      transform: translateX(-50%);
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

/* Header info */

.header-info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
  &-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 688px;
  }
  &-item {
    display: flex;
    align-items: center;
    img {
      margin: 0 10px 0 0;
    }
    a {
      border-bottom: 1px solid transparent;
    }
    &.mailImg {
      img {
        margin-top: 3px;
      }
    }
  }
  &__tel {
    color: #000;
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
  &__mail {
    color: #f26529;
    &:hover {
      border-bottom: 1px solid $orange;
    }
  }
}

/* Header showcase */

.header-showcase {
  width: 940px;
  margin: 186px auto 0;
  padding: 50px 0 53px 3px;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  h2 {
    color: #fff;
    font-size: 68px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 30px;
    letter-spacing: -1px;
  }
  p {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Header inner */

.header_inner {
  margin: 0 0 26px;
  .header {
    border-bottom: 1px solid #e1e1e1;
  }
}

/* Lang */

.lang {
  display: flex;
  &-item {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #141921;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 4px;
    cursor: pointer;
    transition: 300ms;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: #fff;
      background-color: $orange;
    }
    &:hover {
      color: #fff;
      background-color: $orange;
    }
  }
}

/* Logo */

.logo {
  flex-shrink: 0;
  margin: 8px 56px 0 0;
}

/* Nav */

.nav {
  ul {
    display: flex;
    li {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      a {
        line-height: 50px;
        padding: 0 12px;
        font-weight: 900;
        text-transform: uppercase;
        color: #000;
        &.active {
          background: $orange;
          color: #fff;
        }
        &:hover {
          background: $orange;
          color: #fff;
        }
      }
      &.active {
        a {
          background: $orange;
          color: #fff;
        }
      }
    }
  }
}

/* Bread */

.bread {
  text-align: center;
  margin: 0 0 20px;
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $orange;
        border-bottom: 1px solid transparent;
        margin-right: 8px;
        &:hover {
          border-bottom: 1px solid $orange;
        }
      }
      i {
        font-size: 14px;
      }
    }
  }
}

/* Services */

.services {
  padding: 80px 0 0;
  margin: 0 0 38px;
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 12px;
  }
  &-item {
    width: 300px;
    height: 220px;
    background-color: #f1f2f2;
    padding: 23px 12px 0 20px;
    margin: 0 20px 20px 0;
    position: relative;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &__head {
      font-size: 20px;
      font-weight: 900;
      margin: 0 0 13px;
      text-transform: uppercase;
      line-height: 1.35;
    }
    &__img {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    &:hover {
      .services-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* Services inner */

.services_inner {
  .services {
    padding-top: 0;
    margin: 0 0 59px;
    &__head {
      margin-bottom: 50px;
    }
  }
}

/* Services content */

.services-content {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  background: $orange;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 22px 12px 0 20px;
  .services-item__head {
    color: #fff;
  }
  &__text {
    color: #fff;
    line-height: 1.6;
  }
  &__link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #fff;
    &:hover {
      background: rgba(37, 37, 37, .8);
    }
  }
}

/* Main about */

.main-about {
  padding: 50px 0 20px;
  margin: 0 0 80px;
  &-wrap {
    background: url(../images/main-about-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &__head {
    margin-left: 58px;
  }
  &__note {
    margin-bottom: 25px;
  }
}

/* About */

.about {
  &__head {
    margin-bottom: 49px;
  }
  &__note {
    width: 890px;
    margin-bottom: 47px;
  }
  &-link {
    margin-left: 77px;
  }
}

/* About item */

.about {
  &-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    width: 620px;
    padding: 32px 30px 35px 43px;
    margin: 0 0 13px;
    transition: 300ms;
    position: relative;
    display: flex;
    &:hover {
      background: #fff;
      color: $orange;
      .about-item-link {
        opacity: 1;
        visibility: visible;
      }
    }
    &__img {
      width: 75px;
      flex-shrink: 0;
    }
    &-content {
      flex-grow: 10;
      padding: 0 0 0 42px;
      &__head {
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 0 33px;
      }
      &__text {
        line-height: 1.6;
      }
    }
    &-link {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

/* About works */

.about {
  &-works {
    display: flex;
    padding: 46px 0 65px;
  }
  &-work {
    width: 380px;
    background-color: #f1f2f2;
    margin: 0 60px 0 0;
    padding: 18px 34px 35px;
    text-align: center;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &__number {
      color: $orange;
      font-size: 120px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0 0 13px;
    }
    &__text {
      color: #0d1b25;
      font-size: 24px;
      font-weight: 900;
      line-height: 1.3;
      text-transform: uppercase;
    }
  }
}

/* About content */

.about {
  &-content {
    display: flex;
    margin-bottom: 68px;
  }
  &-text {
    padding-right: 100px;
    margin-top: -3px;
    p {
      line-height: 1.65;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-values {
    width: 460px;
    flex-shrink: 0;
    &__head {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    p {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      color: $orange;
      line-height: 1.65;
    }
  }
}

/* Our works */

.our-works {
  padding: 0 0 56px;
  display: flex;
  justify-content: space-between;
  &-info {
    width: 380px;
    margin-top: -7px;
    .head {
      margin-left: 45px;
      margin-bottom: 30px;
      span {
        &:before {
          left: -58px;
        }
      }
    }
  }
  &-content {
    padding: 0 0 0 60px;
  }
  &__entry {
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 64px;
  }
  &-link {
    justify-content: flex-start;
  }
  &__img {
    position: relative;
    margin: 0 0 30px;
    font-size: 0;
    .arrow-right {
      position: absolute;
      bottom: 0;
      right: 0;
    }
//    img {
//      filter: grayscale(100%);
//      transition: 300ms;
//    }
  }
  &__data {
    color: #808285;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 15px;
  }
  &__text {
    line-height: 1.6;
    text-transform: uppercase;
    transition: 300ms;
    color: #000;
  }
}

/* Our works item */

.our-works {
  &-items {
    width: 760px;
    margin-right: 20px;
    display: flex;
  }
  &-item {
    width: 360px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $orange;
      .arrow-right {
        opacity: 1;
        visibility: visible;
      }
      .our-works__text {
        color: $orange;
      }
//      .our-works__img img {
//        filter: grayscale(0%);
//      }
    }
  }
}

/* Office */

.office {
  padding: 55px 0 45px;
  &-head {
    margin-bottom: 49px;
    span {
      color: #fff;
    }
  }
  &-wrap {
    background: url(../images/office-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-items {
    display: flex;
    align-items: flex-start;
    margin: 0 0 23px;
  }
  &-link {
    a {
      span {
        color: #fff;
      }
    }
  }
}

/* Office item */

.office-item {
  width: 400px;
  margin: 0 40px 0 0;
  padding: 26px 5px 28px 10px;
  border: 1px solid transparent;
  transition: 300ms;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &__data {
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 30px;
    transition: 300ms;
    letter-spacing: 1.5px;
  }
  &__head {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    padding: 0 0 12px;
    line-height: 1.3;
    &:hover {
      color: $orange;
    }
  }
  &__text {
    line-height: 1.65;
    color: #fff;
  }
  &:hover {
    border: 1px solid #fff;
    .office-item__data {
      color: $orange;
    }
  }
}

/* Main career */

.main-career {
  display: flex;
  justify-content: space-between;
  margin: 0 83px 0 0;
  padding: 36px 0 30px;
  position: relative;
  z-index: 5;
  &:before {
    content: '';
    display: block;
    background: url(../images/main-career-before.jpg) no-repeat right;
    width: 1100px;
    height: 160px;
    position: absolute;
    top: 0;
    right: -83px;
    z-index: -1;
  }
  &-head {
    margin-top: 6px;
    margin-left: 58px;
    span {
      &:before {
        left: -57px;
      }
    }
  }
  &-wrap {
    padding: 60px 0 73px;
//    background: url(../images/main-career-bg.jpg) no-repeat 50%;
  }
  &-item {
    width: 510px;
    display: flex;
    align-items: center;
    margin-left: 22px;
  }
  &-img {
    width: 74px;
    height: 91px;
    flex-shrink: 0;
  }
  &__text {
    padding: 0 0 0 55px;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
  }
  &-link {
    align-self: center;
    a {
      span {
        margin-top: 7px;
      }
    }
  }
}

/* Main contacts */

.main-contacts {
  &-wrap {
    font-size: 0;
    iframe {
      border: none;
      height: 520px;
      width: 100%;
    }
  }
  &-head {
    margin-left: 0;
    margin-bottom: 32px;
    text-align: left;
    span {
      &:before {
        background: url(../images/head_before2.png) no-repeat 50%;
      }
    }
  }
  &__text {
    text-transform: uppercase;
    color: #fff;
    line-height: 1.6;
    margin: 0 0 55px;
    font-size: 16px;
  }
  &-content {
    width: 480px;
    height: 520px;
    background: url(../images/main-contacts-bg.jpg) no-repeat 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 62px 55px 0 60px;
    z-index: 5;
    &:before {
      content: '';
      display: block;
      background: url(../images/main-contacts-bg.jpg) no-repeat 50%;
      width: 2000px;
      height: 520px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
  &-item {
    display: flex;
    align-items: flex-start;
    &:first-child {
      margin-bottom: 27px;
    }
    &:last-child {
      margin-top: 28px;
    }
    b {
      width: 100px;
      flex-shrink: 0;
      color: #fff;
      margin-top: 3px;
      font-size: 16px;
    }
    p, a {
      color: #fff;
      line-height: 1.6;
      font-size: 16px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Footer */

.footer {
  padding: 48px 0 32px;
  &-wrap {
    background: #000;
  }
  &-logo {
    float: left;
    margin-right: 82px;
  }
}

/* Footer content */

.footer-content {
  float: left;
  width: 486px;
  display: flex;
  justify-content: space-between;
  ul {
    &.node {
      margin: 31px 0 0;
    }
    li {
      margin: 0 0 10px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
      &.footer-content__head {
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 0 15px;
      }
    }
  }
}

/* Footer info */

.footer-info {
  float: right;
  width: 445px;
  &-content {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
  }
  &-link {
    text-align: center;
    margin-left: 80px;
    a {
      letter-spacing: 1px;
    }
  }
  &-links {
    li {
      margin: 0 0 22px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
  .lang {
    margin-top: -8px;
    &-item {
      width: 40px;
      height: 40px;
      color: #fff;
      margin-right: 0;
    }
  }
}

/* Footer info contacts */

.footer-info {
  &-contacts {
    width: 195px;
    padding-left: 15px;
    h2 {
      color: #fff;
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0 0 16px;
    }
    p {
      font-size: 14px;
      color: #fff;
      margin: 0 0 9px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    &__tel {
      color: #fff;
      font-size: 14px;
      margin: 0 0 10px;
    }
    &__mail {
      font-size: 14px;
      color: $orange;
    }
  }
}

/* Bottom */

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 20px;
  &__text {
    color: #979797;
    font-size: 14px;
  }
  &__link {
    color: #979797;
    font-size: 14px;
    margin: 0 0 0 3px;
    &:hover {
      text-decoration: underline;
    }
  }
  &-omg {
    display: flex;
  }
}

/* Team */

.team {
  padding: 44px 0 46px;
  margin: 0 0 50px;
  border-bottom: 1px solid #ccc;
  &__head {
    text-align: left;
    margin-bottom: 46px;
    margin-left: 60px;
  }
  &-wrap {
    background: url(../images/frame-bg.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    z-index: 5;
    &:after {
      content: '';
      display: block;
      background: #fff;
      height: 229px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
    }
  }
}

/* Team item */

.team-item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding: 30px 0;
  margin: 0 6px;
  font-size: 0;
  transition: 300ms;
  &:hover {
    background: $orange;
    .team-item__link {
      opacity: 1;
      visibility: visible;
    }
    .team-item__head,
    .team-item__text {
      color: #fff;
    }
  }
  &-img {
    height: 350px;
    text-align: center;
    img {
      height: 100%;
      margin: 0 auto;
    }
  }
  &-content {
    padding-top: 21px;
    text-align: center;
  }
  &__head {
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    margin: 0 0 17px;
    font-size: 16px;
    transition: 300ms;
  }
  &__text {
    margin-bottom: 31px;
    font-size: 16px;
    transition: 300ms;
  }
  &__link {
    text-decoration: underline;
    color: #000;
    opacity: 0;
    visibility: hidden;
  }
}

/* Team items slick */

.team {
  &-items {
    position: relative;
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        z-index: 5;
        transition: 300ms;
        width: 50px;
        height: 50px;
        background: $orange;
        position: absolute;
        top: 170px;
        left: -40px;
        i {
          font-size: 17px;
          color: #fff;
        }
        &:hover {
          background: #bb4c1d;
        }
      }
      &-next {
        left: auto;
        right: -40px;
      }
    }
  }
}

/* Outline */

.outline {
  &__head {
    text-align: left;
    margin-left: 60px;
    margin-bottom: 77px;
  }
}

/* Outline item */

.outline {
  margin-bottom: 32px;
  &-items {
    display: flex;
  }
  &-item {
    position: relative;
    width: 240px;
    margin-right: 79px;
    &:nth-child(4n) {
      margin-right: 0;
    }
    .arrow-right {
      position: absolute;
      top: 15px;
      right: 17px;
      opacity: 1;
      visibility: visible;
      background-color: #e1e1e1;
    }
    &-img {
      margin-bottom: 18px;
    }
    &__text {
      font-weight: 900;
      line-height: 1.6;
      text-transform: uppercase;
    }
  }
}

/* Serve */

.serve {
  margin: 0 0 83px;
  &-content {
    width: 900px;
    float: left;
    &-wrap {
      padding-right: 50px;
    }
    &__head {
      color: #010101;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.35;
      margin: -7px 0 18px;
    }
    &__upper {
      text-transform: uppercase;
      line-height: 1.65;
      margin: 0 0 28px;
    }
    p {
      margin-bottom: 25px;
      line-height: 1.65;
    }
  }
  &-link {
    padding-top: 23px;
    margin-left: 20px;
    a {
      &:hover {
        i {
          &:before {
            transform: translateX(-15%);
          }
        }
      }
    }
  }
}

/* Serve sidebar */

.serve-sidebar {
  width: 300px;
  float: right;
  background: url(../images/serve-sidebar-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding: 2px 20px 18px;
  margin-top: 6px;
  li {
    padding: 14px 0 14px 7px;
    border-bottom: 1px solid #959595;
    &:last-child {
      border: none;
    }
    a {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      line-height: 1.4;
      position: relative;
      margin-left: 15px;
      &:hover {
        color: $orange;
        .serve-sidebar li i {
          color: $orange;
        }
      }
      i {
        font-size: 17px;
        position: absolute;
        top: 5px;
        left: -21px;
      }
    }
  }
}

/* Contacts */

.contacts {
  &__head {
    margin-bottom: 49px;
  }
  &__note {
    width: 850px;
  }
  &-items {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
  }
}

/* Contacts item */

.contacts-item {
  width: 330px;
  margin: 0 22px;
  text-align: center;
  &-img {
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    img {
      display: inline-block;
      vertical-align: middle;
      line-height: 80px;
    }
  }
  b {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    color: #010101;
    font-weight: 700;
    text-align: left;
  }
  &__text {
    width: 225px;
    display: inline-block;
    vertical-align: top;
    color: #010101;
    line-height: 1.6;
  }
  &__tel,
  &__mail {
    color: #010101;
    &:hover {
      text-decoration: underline;
    }
  }
  &-bloc {
    margin-bottom: 10px;
  }
}

/* Map */

.map {
  font-size: 0;
  iframe {
    border: none;
    width: 100%;
    height: 520px;
  }
}

/* Projects */

.projects {
  &__head {
    margin-left: 253px;
    margin-bottom: 36px;
  }
  .serve-sidebar {
    width: 140px;
    margin-top: 8px;
  }
  .serve-content {
    width: 1070px;
  }
}

/* Projects table */

.projects {
  table {
    border-collapse: collapse;
    thead {
      tr {
        td {
          font-weight: 700;
          height: 50px;
          border-bottom: 1px solid #d7d7d7;
          &:first-child {
            width: 223px;
          }
          &:nth-child(2) {
            width: 305px;
          }
          &:nth-child(3) {
            width: 262px;
          }
          &:last-child {
            width: 220px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: top;
          padding: 14px 0 16px;
          border-bottom: 1px solid #d7d7d7;
          line-height: 1.6;
          &:nth-child(2) {
            padding-right: 55px;
          }
          &:nth-child(3) {
            padding-right: 64px;
          }
        }
      }
    }
  }
  .serve {
    position: relative;
    margin: 0 0 62px;
    &:before {
      content: '';
      display: block;
      background: #fff;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

/* Draft */

.draft {
  &__note {
    margin-bottom: 60px;
    width: 960px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  &-item {
    width: 380px;
    height: 240px;
    background-color: #ebebeb;
    margin: 0 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 300ms;
    padding-bottom: 8px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      background: $orange;
      color: #fff;
      .services-content__link {
        opacity: 1;
        visibility: visible;
      }
    }
    &__year,
    &__amount {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
    }
    &__year {
      margin-bottom: 14px;
    }
    .services-content__link {
      opacity: 0;
      visibility: hidden;
    }
  }
}

/* Clients */

.clients {
  padding: 67px 0 70px;
  &-wrap {
    background: url(../images/main-about-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &__head {
    margin-bottom: 66px;
  }
  &-items {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        z-index: 5;
        transition: 300ms;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: -80px;
        width: 40px;
        height: 40px;
        background-color: #959595;
        i {
          color: #fff;
          font-size: 17px;
        }
        &:hover {
          background: $orange;
        }
      }
      &-next {
        left: auto;
        right: -80px;
      }
    }
  }
}

/* Clients item */

.clients-item {
  display: inline-block;
  vertical-align: middle;
  line-height: 70px;
  margin: 0 42px;
  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
  }
}

/* News */

.news {
  &__head {
    margin-bottom: 34px;
  }
  .office {
    &-items {
      flex-wrap: wrap;
      margin: 0 0 40px;
    }
    &-item {
      margin-right: 30px;
      margin-bottom: 9px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &__data {
        color: #bcbec0;
      }
      &__head,
      &__text {
        color: #000;
        transition: 300ms;
      }
      &:hover {
        border: 1px solid #e1e1e1;
        .office-item__head,
        .office-item__text {
          color: $orange;
        }
      }
    }
  }
}

/* Pagination */

.pagination {
  font-size: 0;
  text-align: center;
  padding: 0 0 80px;
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 11px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 14px;
      background: #939598;
      position: absolute;
      top: 2px;
      right: 0;
    }
    &.active {
      a {
        color: #010101;
      }
    }
    &:nth-last-child(2) {
      &:after {
        display: none;
      }
    }
    a {
      text-transform: uppercase;
      color: $orange;
      font-weight: 900;
      &:hover {
        color: #010101;
      }
    }
    &.pagination__left,
    &.pagination__right {
      margin: 0 12px 0 0;
      padding: 0;
      &:after {
        display: none;
      }
      a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #e1e1e1;
        &:hover {
          background: $orange;
        }
      }
      i {
        color: #fff;
        transition: 300ms;
      }
    }
    &.pagination__right {
      margin: 0 0 0 16px;
    }
  }
}

/* Uncos */

.uncos {
  &__head {
    margin-left: 0;
    margin-bottom: 12px;
    span {
      font-size: 24px;
      &:before {
        width: 25px;
        height: 20px;
        left: -44px;
        background: url(../images/head_before3.png) no-repeat 50%;
      }
    }
  }
  .serve {
    margin-bottom: 20px;
    &-sidebar {
      background: none;
      padding: 0;
      ul {
        background: url(../images/serve-sidebar-bg.jpg) no-repeat 50%;
        background-size: cover;
        padding: 2px 20px 0;
        margin-bottom: 74px;
      }
      .office-item__data {
        margin-bottom: 30px;
      }
    }
  }
}

/* Uncos office */

.uncos {
  .office {
    &-items {
      flex-direction: column;
    }
    &-item {
      width: auto;
      margin-right: 0;
      &:hover {
        border: 1px solid #e1e1e1;
        .office-item__head,
        .office-item__text {
          color: $orange;
        }
      }
      &__data {
        color: #bcbec0;
        margin-bottom: 43px;
        padding-bottom: 0;
      }
      &__head,
      &__text {
        color: #000;
      }
    }
  }
}

/* Customers */

.customers {
  &__head {
    margin-bottom: 50px;
  }
  &__note {
    width: 890px;
    margin-bottom: 57px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 70px;
  }
  &_clients {
    margin-bottom: 70px;
  }
}

/* Customers content */

.customers-content {
  width: 560px;
  padding: 7px 0 0 80px;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../images/customers-arrow.png) no-repeat 50%;
    width: 47px;
    height: 44px;
    position: absolute;
    top: 10px;
    left: 0;
  }
  &__text {
    line-height: 1.6;
    margin-bottom: 34px;
  }
  &__execs {
    font-weight: 700;
    margin-bottom: 10px;
  }
}

/* Customers img */

.customers-img {
  align-self: flex-start;
  width: 620px;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: rgba(242, 101, 41, .6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 29px solid $orange;
    border-left: 33px solid $orange;
    border-right: 35px solid $orange;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
  }
  &:after {
    content: '';
    display: block;
    background: url(../images/zoom.png) no-repeat 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -40px;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    &:before,
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}


















