@media only screen and (max-width: 1350px) {
  .container {
    width: 1230px;
  }
  
  /* Showcase */
  
  .showcase {
    &-slider {
      &-content {
        padding-right: 130px;
      }
      img {
        height: 100%;
      }
      &-wrap {
        width: 880px;
      }
    }
  }
  
  /* Slider */
  
  .slider {
    width: 925px;
    margin: 0 auto 40px;
    &-item {
      margin: 0 5px
    }
    .slick-prev {
      left: -25px;
    }
    .slick-next {
      right: -18px;
    }
  }
  
  /* Docs */
  
  .docs {
    &-items {
      margin-right: -30px;
    }
    &-item {
      margin-right: 30px;
    }
  }
  
  /* News */
  
  .news {
    &-items {
      margin-right: -30px;
    }
    &-item {
      margin: 0 30px 45px 0;
    }
  }
}

@media only screen and (max-width: 1260px) {
  .container {
    width: 970px;
  }
  
  /* Header */
  
  .header {
    &-content {
      width: 765px;
    }
    &-info {
      width: 203px;
      span {
        padding: 0;
        font-size: 15px;
      }
      a {
        font-size: 21px;
      }
    }
  }
  
  .logo {
    width: 600px;
    span {
      font-size: 21px;
    }
  }
  
  .nav {
    padding: 0;
    &__list {
      margin: 0;
      > a {
        font-size: 14px;
        padding: 0 18px 0 4px;
      }
    }
    &-burger {
      right: 4px;
    }
    &-sub {
      padding-left: 8px;
    }
  }
  
  /* Showcase */
  
  .showcase {
    &-slider {
      &-wrap {
        width: 640px;
        height: 100%;
      }
      &-content {
        padding: 25px 100px 20px 15px;
        h2 {
          font-size: 21px;
        }
      }
    }
    &-news {
      padding: 16px 0;
      &:before {
        top: 18px;
      }
      &-item {
        padding: 10px 20px;
        p {
          line-height: 1.3;
          font-size: 15px;
        }
      }
      &__head {
        padding: 0 0 5px 20px;
      }
      a {
        margin: 0 0 0 20px;
      }
    }
  }
  
  /* Main-sentence */
  
  .main-sentence {
    &-item {
      padding: 35px 35px 0 25px;
      &__img {
        top: 10px;
        right: 15px;
      }
      h2 {
        font-size: 20px;
        margin: 0 0 20px;
        &:before {
          top: 0px;
          left: -25px;
        }
      }
      p {
        line-height: 1.35;
      }
    }
  }
  
  /* Result */
  
  .result {
    &-content {
      width: 450px;
      padding: 10px 20px 0 50px;
      &-item {
        padding: 17px 0;
        img {
          left: -40px;
        }
      }
    }
    &-slider {
      &-wrap {
        width: 450px;
        .slick-prev,
        .slick-next {
          width: 50px;
          height: 66px;
          left: -50px;
        }
        .slick-next {
          top: 66px;
        }
      }
      &-head {
        &-content {
          padding: 5px 0 0 24px;
          p {
            line-height: 1.4;
          }
        }
      }
    }
  }
  
  /* Main-about */
  
  .main-about {
    &-content {
      padding: 20px 26px 22px 36px;
      h2 {
        line-height: 1.3;
        &:before {
          left: -36px;
        }
      }
      p {
        line-height: 1.35;
        margin: 0 0 8px;
      }
    }
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      font-size: 14px;
      margin: 0 0 30px;
      p {
        br {
          display: none;
        }
      }
      &-wrap {
        width: 225px;
      }
      &__switch {
        padding: 0 7px;
        font-size: 14px;
      }
    }
    &-content {
      width: 700px;
      ul {
        width: 145px !important;
        margin: 0 25px 0 0;
        
        li {
          a {
            font-size: 14px;
          }
        }
      }
      &-info {
        width: 200px;
        font-size: 14px;
        margin: 0;
        &__tel {
          font-size: 21px;
        }
      }
    }
  }
  
  /* About */
  
  .about {
    &-content {
      width: 583px;
      h2 {
        font-size: 21px;
        margin: 0 0 20px;
      }
      b, p, li {
        padding: 0;
        br {
          display: none;
        }
      }
    }
    &-sidebar {
      width: 310px;
      padding: 20px;
      li {
        margin: 0 0 18px;
      }
    }
  }
  
  /* Issues */
  
  .issues {
    &-content {
      width: 655px;
      padding: 30px 15px 0;
    }
    &-item {
      &-head {
        font-size: 18px;
      }
    }
  }
  
  /* Docs */
  
  .docs {
    &-items {
      margin-right: -20px;
    }
    &-item {
      width: 290px;
      margin: 0 20px 20px 0;
      &-img {
        height: 90px;
      }
      a {
        line-height: 1.35;
      }
    }
  }
  
  /* Contacts */
  
  .contacts {
    &-item {
      p, span, a {
        font-size: 18px;
      }
      span {
        margin: 0 0 7px;
      }
    }
  }
  
  /* Map */
  
  .map {
    iframe {
      height: 350px;
    }
  }
  
  /* News */
  
  .news {
    &-items {
      margin-right: -20px;
    }
    &-item {
      width: 290px;
      margin: 0 20px 35px 0;
      &__link {
        line-height: 1.35;
      }
      &-info {
        span {
          &:after {
            right: -17px;
          }
        }
      }
    }
  }
  
  /* Uncos */
  
  .uncos {
    .about {
      &-content {
        h2 {
          padding: 0;
        }
        &__img {
          margin: 0px 0 20px;
        }
      }
    }
    .news {
      &-item {
        &-info {
          span {
            margin: 0 10px 0 0;
            &:after {
              right: -8px;
            }
          }
        }
      }
    }
  }
  
  /* Reports */
  
  .reports {
    &-content {
      width: 600px;
      &-item {
        height: auto;
        width: 280px;
        margin: 0 10px 10px 0;
      }
    }
    &-sidebar {
      width: 310px;
      &-info {
        padding: 24px 15px 0 15px;
        .uncos__head:before {
          left: -15px;
        }
        td {
          font-size: 14px;
          height: 55px;
          &:first-child {
            width: 135px;
          }
          &:last-child {
            line-height: 1.35;
          }
        }
      }
    }
  }
  
  /* Results */
  
  .results {
    .news {
      &-item {
        &__link {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  
  /* Header */
  
  .header {
    margin: 0 0 16px;
    &-content {
      float: none;
      width: auto;
      &__switch {
        width: 270px;
        height: 55px;
        padding: 0 0 0 10px;
        span {
          padding: 0 0 0 10px;
        }
      }
    }
    &-info {
      padding: 0;
      float: none;
      margin: 0 auto;
    }
  }
  
  .nav {
    justify-content: center;
    &-burger {
      span {
        &:after {
          width: 10px;
        }
      }
    }
  }
  
  .logo {
    width: 465px;
    span {
      font-size: 18px;
    }
    &__img {
      margin-right: 10px;
    }
  }
  
  /* Showcase */
  
  .showcase {
    display: block;
    &-slider {
      &-wrap {
        width: auto;
      }
    }
    &-news {
      &-item {
        padding: 16px 20px;
      }
    }
  }
  
  /* Main-sentence */
  
  .main-sentence {
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      width: 360px;
      margin: 0 7px 14px;
      &:nth-child(3) {
        margin-right: 7px;
      }
    }
  }
  
  /* Result */
  
  .result {
    &-content {
      width: 330px;
      &-item {
        p {
          line-height: 1.3;
          font-size: 15px;
        }
      }
    }
    &-slider {
      padding: 20px;
      &-wrap {
        width: 350px;
      }
      &-head {
        &-content {
          padding: 5px 0 0 14px;
          font-size: 15px;
        }
      }
    }
  }
  
  /* Main-about */
  
  .main-about {
    &-img {
      width: 245px;
      img {
        height: 100%;
      }
    }
    &-content {
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
      .link {
        margin: 5px 0 0;
      }
    }
  }
  
  /* Slider */
  
  .slider {
    width: 612px;
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      margin: 0 0 20px;
      img {
        width: 90px;
        height: 90px;
      }
      p {
        padding: 0 0 0 15px;
        text-align: left;
      }
      &-wrap {
        float: none;
        width: 440px;
        margin: 0 auto 20px;
        text-align: center;
      }
    }
    &-content {
      float: none;
      width: auto;
      ul {
        width: 150px !important;
      }
      &-info {
        width: 220px;
      }
    }
  }
  
  .bottom {
    text-align: center;
    &__content,
    &__omg {
      float: none;
    }
    &__content {
      margin: 0 0 10px;
    }
  }
  
  /* About */
  
  .about {
    padding: 20px 15px 30px;
    &-content {
      width: 450px;
      b, p, li {
        font-size: 14px;
      }
      h2 {
        font-size: 18px;
        &:before {
          left: -14px;
          width: 7px;
        }
      }
    }
    &-sidebar {
      width: 260px;
      padding: 15px;
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
  
  /* Issues */
  
  .issues {
    &-content {
      width: 465px;
      p, li {
        font-size: 14px;
      }
      &__head {
        &:before {
          display: none;
        }
      }
    }
    &-item {
      &-head {
        font-size: 16px;
      }
    }
    &-sidebar {
      width: 280px;
    }
  }
  
  /* Docs */
  
  .docs {
    &-items {
      margin-right: 0;
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
    }
  }
  
  /* News */
  
  .news {
    &-items {
      justify-content: center;
      margin-right: 0;
    }
    &-item {
      width: 290px;
      margin: 0 10px 35px;
      &__link {
        font-size: 14px;
      }
    }
  }
  
  /* Uncos */
  
  .uncos {
    &__head {
      font-size: 14px;
      padding: 0 0 0 18px;
    }
    .news {
      &-item {
        &-info {
          span {
            font-size: 12px;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  
  /* Reports */
  
  .reports {
    padding: 20px;
    margin: 0 0 28px;
    &-content {
      float: none;
      width: auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        margin: 0 10px 20px !important;
      }
    }
    &-sidebar {
      float: none;
      width: auto;
      &-info {
        width: 310px;
        margin: 0 auto 20px;
      }
    }
    .news {
      &-items {
        justify-content: center;
      }
      &-item {
       margin: 0 10px 20px; 
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  
  /* Header */
  
  .header {
    &-info {
      float: right;
      margin: -20px 0 0;
    }
    &-content {
      &__switch {
        position: static;
        width: auto;
        justify-content: center;
      }
    }
  }
  
  .burger-wrap {
    display: block;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    a {
      cursor: pointer;
      padding: 12px 0;
      display: block;
      span {
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 7px;
        background: #222;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          position: absolute;
          background: #222;
          content: '';
          width: 30px;
          height: 3px;
          left: 0;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border-radius: 7px;
        }
        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }
          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }
  
  .logo {
    width: 421px;
    margin: 20px auto 30px;
  }
  
  .nav {
    position: relative;
    &__home {
      display: none;
    }
    ul {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      text-align: center;
      background: #f5f5f5;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      li {
        display: block;
        &:hover {
          background: none;
        }
        > a {
          padding: 0;
          &:hover {
            background: none;
          }
        }
      }
    }
    &-sub,
    &-burger {
      display: none;
    }
  }
  
  /* Showcase */
  
  .showcase {
    &-slider {
      &-wrap {
        .slick-dots {
          bottom: 18px;
          right: 5px;
        }
      }
      &-content {
        padding: 18px 8px 20px 10px;
        h2 {
          font-size: 16px;
          margin: 0 0 14px;
          line-height: 1.1;
        }
        a {
          font-size: 12px;
        }
      }
    }
  }
  
  /* Result */
  
  .result {
    display: block;
    margin: 0 0 70px;
    &-content {
      width: auto;
      margin: 0 0 20px;
    }
    &-slider {
      &-content {
        h2 {
          line-height: 1.1;
        }
        p {
          line-height: 1.3;
        }
      }
      &-wrap {
        width: auto;
        margin: 0 auto;
        .slick-prev, 
        .slick-next {
          top: auto;
          bottom: -40px;
          left: 50%;
          margin-left: -60px;
          width: 60px;
          height: 40px;
        }
        .slick-prev {
          margin-left: 0;
        }
      }
      &-head {
        &-content {
          padding: 0 0 0 10px;
          p {
            line-height: 1.1;
          }
        }
        &__img {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
  
  /* Main-about */
  
  .main-about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    &-img {
      order: -1;
      margin: 0 auto 20px;
      img {
        height: auto;
      }
    }
    &-content {
      width: auto;
    }
  }
  
   /* Slider */
  
  .slider {
    width: 300px;
  }
  
  /* Footer */
  
  .footer {
    padding: 30px 0 15px;
    &-logo {
      &-wrap {
        width: 390px;
      }
    }
    &-content {
      text-align: center;
      ul {
        width: 180px !important;
        margin: 0 12px 20px !important;
      }
      &-info {
        width: 180px;
      }
    }
  }
  
  /* About */
  
  .about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 30px;
    &-content {
      float: none;
      width: auto;
      padding: 0 10px;
      h2 {
        &:before {
          display: none;
        }
      }
    }
    &-sidebar {
      order: -1;
      float: none;
      margin: 0 0 20px;
      width: 100%;
      text-align: center;
    }
  }
  
  /* Issues */
  
  .issues {
    &-content {
      float: none;
      width: auto;
      padding-left: 0;
      padding-bottom: 10px;
      p, li {
        padding: 0;
      }
    }
    &-sidebar {
      float: none;
      width: auto;
      .main-sentence-item {
        width: 280px;
        margin: 0 14px 25px;
      }
    }
    &-item {
      &-head {
        padding-right: 28px;
        padding-left: 10px;
      }
    }
  }
  
  /* Bread */
  
  .bread {
    li {
      margin-bottom: 5px;
    }
  }
  
  /* Contacts */
  
  .contacts {
    padding-bottom: 20px;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      width: 290px;
      margin: 0 10px 40px;
    }
  }
  
  /* Map */
  
  .map {
    iframe {
      height: 250px;
    }
  }
  
  /* News */
  
  .news {
    &-nav {
      position: static;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  
  /* Uncos */
  
  .uncos {
    &__head {
      &:before {
        display: none;
      }
    }
    .about {
      &-sidebar {
        padding: 0px 0px 20px 0px;
      }
    }
  }
  
}

@media only screen and (max-width: 450px) {
  .container {
    padding: 0 5px;
  }
  /* Header */
  
  .logo {
    width: auto;
  }
  
   /* Showcase */
    
  .showcase {
    &-slider {
      &-wrap {
        .slick-dots {
          bottom: 8px;
        }
      }
      &-content {
        padding: 10px;
        h2 {
          font-size: 14px;
          margin: 0 0 8px;
        }
      }
    }
  }
  
   /* Main-sentence */
  
  .main-sentence {
    &-item {
      margin: 0 0 14px;
      height: 180px;
      &:nth-child(3) {
        margin: 0;
      }
      p {
        line-height: 1.2;
      }
    }
  }
  
  /* Slider */
  
  .slider {
    width: 280px;
    .slick-prev {
      left: -17px;
    }
    &-item {
      width: 280px;
      &-content {
        font-size: 14px;
      }
    }
  }
  
  /* Footer */
  
  .footer {
    &-logo {
      &-wrap {
        width: auto;
      }
    }
    &-content {
      ul {
        width: 290px !important;
      }
      &-info {
        width: 290px;
        margin-bottom: 25px;
      }
    }
  }
  
  /* Issues */
  
  .issues {
    &-sidebar {
      .main-sentence-items {
        margin-bottom: 40px;
      }
    }
  }
  
  /* Pagination */
  
  .pagination {
    li {
      margin: 0 15px 0 0;
      &:before {
        right: -11px;
      }
    }
  }
  
  /* Dots */
  
  .docs {
    padding: 30px 10px 0;
    .head {
      &:before {
        display: none;
      }
    }
    &-items {
      display: block;
    }
    &-item {
      margin: 0 auto 20px;
      padding: 28px 10px 0 16px;
    }
  }
  
  /* News */
  
  .news {
    margin: 0 0 20px;
    .pagination {
      margin-top: 40px;
    }
    &-items {
      display: block;
    }
    &-item {
      width: auto;
      margin: 0 auto 20px;
      &-img {
        margin: 0 0 12px;
      }
      &-info {
        margin: 0 0 10px;
        span {
          font-size: 12px;
          margin-right: 10px;
          &:before {
            top: 0;
          }
          &:after {
            right: -9px;
          }
        }
        a {
          font-size: 12px;
        }
      }
    }
    &-nav {
      li {
        display: block;
        margin: 0 0 10px 0;
        &:after {
          display: none;
        }
      }
    }
  }
  
  /* Uncos */
  
  .uncos {
    &-bottom {
      text-align: center;
      padding: 24px 0 0;
      &__link {
        display: block;
        margin: 0 0 15px;
      }
    }
    .news {
      &-item {
        margin: 0 0 35px;
      }
    }
  }
  
  /* Reports */
  
  .reports {
    &-sidebar {
      &-info {
        width: auto;
        td {
          font-size: 13px;
          &:first-child {
            width: 120px;
          }
        }
      }
    }
  }
}