$blue: #2f67e1;
$red: #ff0000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'PragmaticaC;', sans-serif;
  background: #f5f5f5;
}

a {
  font: 400 16px 'PragmaticaC', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  color: $blue;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

.link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  span {
    position: absolute;
    top: -1px;
    right: -18px;
  }
  &:hover {
    text-decoration: none;
  }
}

.head {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 19px;
    background: #ff0000;
    position: absolute;
    top: 2px;
    left: -30px;
  }
}

/* Header */

.header {
  &-content {
    float: left;
    width: 1000px;
    padding: 0 0 10px;
    &__switch {
      cursor: pointer;
      transition: 300ms;
      position: absolute;
      top: 0;
      right: 0;
      width: 310px;
      height: 60px;
      background: #898989;
      padding: 0 0 0 20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      &:hover {
        background: #7f7777;
      }
      span {
        padding: 0 0 0 23px;
        color: #fff;
      }
    }
  }
  &-info {
    float: right;
    width: 212px;
    padding: 80px 0 0;
    text-align: center;
    span {
      padding: 0 17px 0 0;
    }
    a {
      margin: 10px 0 0;
      font-size: 24px;
      font-weight: 700;
      color: #000;
      &:hover {
        color: $blue;
      }
    }
  }
}

.burger-wrap {
  display: none;
}

.logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  width: 860px;
  margin: 12px 0 19px;
  &__img {
    width: 70px;
    height: 70px;
    margin-right: 18px;
    flex-shrink: 0;
  }
  span {
    color: $blue;
    font: 400 25px/1.1 'PragmaticaCondC';
  }
}

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  &__home {
    margin: 0 8px 0 0;
    flex-shrink: 0;
    &:hover {
      opacity: .8;
    }
  }
  &-burger {
    position: absolute;
    top: 50%;
    margin-top: -8.5px;
    right: 8px;
    span {
      &:after {
        content: '';
        display: block;
        width: 12px;
        height: 1px;
        background: $blue;
        margin: 3px 0;
        transition: 300ms;
      }
    }
  }
  &__list {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    position: relative;
    &:last-child {
      margin: 0;
    }
    > a {
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      padding: 0 28px 0 16px;
      line-height: 40px;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
    &:hover {
      background: #fff;
      a {
        color: #000;
      }
      .nav-burger span:after {
        background: #000;
      }
      .nav-sub {
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }
  }
  &-sub {
    width: 240px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 16px 8px 18px 21px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 300ms;
    &__list {
      margin: 0 0 15px 0;
      a {
        text-decoration: underline;
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}

/* Bread */

.bread {
  margin: 12px 0 12px 14px;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 26px 0 0;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    &:after {
      content: '>';
      display: block;
      color: $blue;
      position: absolute;
      top: 0;
      right: -20px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $blue;
      &:hover {
        color: #000;
      }
    }
  }
}

/* Showcase */

.showcase {
  flex-flow: row nowrap;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: stretch;
  margin: 0 0 27px;
  &-slider {
    position: relative;
    &-wrap {
      flex-shrink: 0;
      width: 940px;
      height: 560px;
      position: relative;
      .slick-dots {
        position: absolute;
        bottom: 26px;
        right: 34px;
        button {
          display: none;
        }
        li {
          display: inline-block;
          vertical-align: top;
          cursor: pointer;
          margin: 0 7px;
          width: 12px;
          height: 12px;
          border: 1px solid $blue;
          border-radius: 50%;
          &.slick-active {
            background: #2f67e1;
          }
        }
      }
    }
    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px 345px 30px 35px;
      background: rgba(255, 255, 255, .9);
      h2 {
        font-size: 24px;
        line-height: 1.4;
        margin: 0 0 20px;
      }
    }
  }
  &-news {
    flex-grow: 10;
    background: #fff;
    padding: 24px 0;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 19px;
      background: $red;
      position: absolute;
      top: 25px;
      left: 0;
    }
    &__head {
      padding: 0 0 18px 40px;
      font-size: 24px;
      text-transform: uppercase;
    }
    &-items {
      margin-bottom: 12px;
    }
    &-item {
      padding: 15px 40px 17px;
      transition: 300ms;
      &:hover {
        background-color: #ebf1fe;
      }
      span {
        display: block;
        color: $blue;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 8px;
        img {
          margin: 0 5px 0 0;
        }
      }
      p {
        color: #000;
        line-height: 1.6;
      }
    }
    .link {
      margin: 0 0 0 40px;
    }
  }
}

/* Main-sentence */

.main-sentence {
  margin: 0 0 50px;
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  &-item {
    width: 410px;
    height: 200px;
    background: $blue;
    padding: 47px 42px 0 32px;
    margin: 0 14px 0 0;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &__img {
      width: 58px;
      height: 58px;
      position: absolute;
      top: 24px;
      right: 28px;
    }
    h2 {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 28px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 19px;
        background: $red;
        position: absolute;
        top: 2px;
        left: -31px;
      }
    }
    p {
      line-height: 1.6;
      color: #fff;
    }
  }
}

/* Result */

.result {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
  &-content {
    width: 620px;
    background: #ebf1fe;
    border: 1px solid #d7d7d7;
    padding: 12px 38px 0 80px;
    &-item {
      position: relative;
      padding: 18px 0 20px;
      border-bottom: 1px solid $blue;
      &:last-child {
        border: none;
      }
      img {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 20px;
        left: -54px;
      }
      p {
        line-height: 1.6;
      }
    }
  }
  &-slider {
    background: #fff;
    padding: 25px 43px 34px 37px;
    &-wrap {
      width: 540px;
      position: relative;
      .slick-prev,
      .slick-next {
        cursor: pointer;
        border: none;
        z-index: 5;
        transition: 300ms;
        position: absolute;
        top: 0;
        left: -60px;
        background: #ebf1fe url(../images/result-slider-arrowNext.png) no-repeat 50%;
        width: 60px;
        height: 80px;
        &:hover {
          background-color: #d8e3fc;
        }
      }
      .slick-next {
        background: #ebf1fe url(../images/result-slider-arrowPrev.png) no-repeat 50%;
        top: 80px;
      }
    }
    &-head {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      &__img {
        flex-shrink: 0;
        width: 111px;
        height: 111px;
      }
      &-content {
        padding: 14px 0 0 32px;
        h2 {
          margin: 0 0 6px;
          font-size: 16px;
        }
        p {
          line-height: 1.6;
        }
      }
    }
    &-content {
      padding: 38px 0 0;
      position: relative;
      z-index: 5;
      &:after {
        content: '';
        display: block;
        background: url(../images/result-slider-quote.png) no-repeat 50%;
        width: 90px;
        height: 74px;
        position: absolute;
        top: 16px;
        right: 0;
        z-index: -1;
      }
      h2 {
        font-size: 20px;
        line-height: 1.4;
        margin: 0 0 12px;
      }
      p {
        line-height: 1.6;
        font-style: italic;
      }
    }
  }
}

/* Main-about */

.main-about {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 0 46px;
  &-content {
    flex-grow: 10;
    background: #fff;
    padding: 35px 40px 28px 50px;
    h2 {
      font-size: 24px;
      line-height: 1.4;
      margin: 0 0 10px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 52px;
        background: $red;
        position: absolute;
        top: 5px;
        left: -50px;
      }
    }
    p {
      line-height: 1.6;
      margin: 0 0 16px;
    }
    .link {
      margin: 12px 0 0;
    }
  }
  &-img {
    width: 300px;
    flex-shrink: 0;
    font-size: 0;
  }
  
}

/* Slider */

.slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 0 52px;
  position: relative;
  .slick-prev,
  .slick-next {
    cursor: pointer;
    z-index: 5;
    border: none;
    background: url(../images/result-slider-arrowPrev.png) no-repeat 50%;
    width: 12px;
    height: 21px;
    position: absolute;
    top: 50%;
    margin-top: -10.5px;
    left: -40px;
  }
  .slick-next {
    background: url(../images/result-slider-arrowNext.png) no-repeat 50%;
    left: auto;
    right: -40px;
  }
  &-item {
    align-items: center;
    width: 300px;
    height: 130px;
    border: 1px solid $blue;
    padding: 30px 14px 0 7px;
    margin: 0 9px;
    position: relative;
    &:hover {
      border: 1px solid #000;
    }
    &_indent {
      padding-top: 23px;
    }
    &-img {
      position: absolute;
      top: 34px;
      left: 15px;
    }
    &-content {
      line-height: 1.5;
      padding: 0 0 0 80px;
      font-size: 16px;
      color: #000;
    }
  }
}

/* Footer */

.footer {
  padding: 29px 0 59px;
  &-wrap {
    background: $blue;
  }
  &-logo {
    color: #fff;
    margin: 0 0 57px;
    &-wrap {
      float: left;
      width: 320px;
    }
    p {
      line-height: 1.5;
      padding: 11px 0 0;
    }
    &__switch {
      line-height: 48px;
      color: #fff;
      border: 2px solid #fff;
      padding: 0 25px 0 18px;
      &:hover {
        background: #fff;
        color: $blue;
      }
    }
  }
  &-content {
    float: right;
    width: 900px;
    padding: 12px 0 0;
    ul {
      width: 196px;
      display: inline-block;
      vertical-align: top;
      margin: 0 40px 0 0;
      &:first-child {
        width: 157px;
        margin-right: 0;
      }
      &:nth-child(2) {
        width: 175px;
      }
      li {
        margin: 0 0 11px;
        a {
          color: #fff;
          line-height: 1.6;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &-info {
      width: 260px;
      display: inline-block;
      vertical-align: top;
      color: #fff;
      margin: 0 0 0 18px;
      a {
        color: #fff;
      }
      p {
        line-height: 1.6;
        margin: 0 0 22px;
      }
      span {
        display: block;
        margin: 0 7px 12px 0;
      }
      &__tel {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 18px;
        &:hover {
          color: #d6dbe5;
        }
      }
      &__mail {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      &__fax {
        margin: 0 0 9px;
        span {
          display: inline-block;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* Bottom */

.bottom {
  padding: 0 0 28px;
  font-size: 14px;
  color: #fff;
  &__content {
    float: left;
  }
  &__omg {
    float: right;
    a {
      color: #fff;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* About */

.about {
  margin: 0 0 58px;
  padding: 25px 30px 50px;
  background: #fff;
  &-content {
    width: 750px;
    float: left;
    h2 {
      font-size: 24px;
      line-height: 1.4;
      margin: 0 0 36px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 19px;
        background: $red;
        position: absolute;
        top: 6px;
        left: -32px;
      }
    }
    b, p, li {
      line-height: 1.65;
      padding: 0 10px 0 0;
    }
    &__img {
      margin: 36px 0 0;
    }
  }
  &-sidebar {
    width: 400px;
    float: right;
    background: #ebf1fe;
    padding: 30px 27px 36px;
    margin: 5px 0 0;
    li {
      margin: 0 0 22px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: 700;
        color: #000;
        line-height: 1.5;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

/* Issues */

.issues {
  &-content {
    width: 940px;
    float: left;
    background: #fff;
    margin: 0 0 60px;
    padding: 30px 30px 0;
    &__head {
      margin: 0 0 20px;
    }
  }
  &-sidebar {
    width: 300px;
    float: right;
    .main-sentence-items {
      flex-wrap: wrap;
    }
    .main-sentence-item {
      width: 100%;
      height: auto;
      margin: 0 0 33px;
      padding: 28px 20px 37px 27px;
      &__img {
        display: none;
      }
      h2 {
        &:before {
          left: -26px;
        }
      }
    }
  }
  &-items {
    margin: 0 0 54px;
  }
  &-item {
    &:last-child {
      border-bottom: 1px solid $blue;
    }
    &-head {
      color: $blue;
      font-size: 20px;
      font-weight: 700;
      padding: 14px 50px 15px 0;
      line-height: 1.2;
      border-top: 1px solid $blue;
      cursor: pointer;
      transition: 300ms;
      position: relative;
      img {
        position: absolute;
        top: 21px;
        right: 0;
        transition: 300ms;
      }
      &:hover {
        color: #000;
      }
    }
    &-content {
      display: none;
    }
    &.active {
      .issues-item-head {
        color: #000;
        img {
          transform: rotate(180deg);
        }
      }
      .issues-item-content {
        display: block;
      }
    }
    &-content {
      padding: 0 0 7px 30px;
      p, li {
        line-height: 1.65;
        padding: 0 30px 0 0;
      }
    }
  }
}

/* Pagination */

.pagination {
  text-align: center;
  margin: 0 0 35px 0;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 26px 0 0;
    position: relative;
    &:first-child:before {
      display: none;
    }
    &:nth-last-child(2):before {
      display: none;
    }
    &:last-child {
      margin-right: 0;
      &:before {
        display: none;
      }
    }
    a {
      font-weight: 700;
      &:hover {
        color: #808285;
      }
    }
    &.active {
      a {
        color: #808285;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 16px;
      background: #a2a3a6;
      position: absolute;
      top: 0;
      right: -18px;
    }
  }
}

/* Docs */

.docs {
  padding: 30px 30px 0;
  margin: 0 0 46px;
  background: #fff;
  .head {
    margin: 0 0 25px;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: -44px;
    padding-bottom: 16px;
  }
  &-item {
    width: 370px;
    height: 240px;
    border: 1px solid #d7d7d7;
    padding: 27px 18px 0 33px;
    margin: 0 44px 38px 0;
    transition: 300ms;
    &:hover {
      background: #ebf1fe;
    }
    &-img {
      height: 110px;
    }
    a {
      font-weight: 700;
      line-height: 1.6;
      color: #000;
    }
  }
}

/* Contacts */

.contacts {
  padding: 30px 30px 50px;
  background: #fff;
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0;
  }
  &-item {
    width: 365px;
    text-align: center;
    &-img {
      margin: 0 0 28px;
    }
    p {
      font-size: 20px;
      line-height: 1.3;
    }
    span {
      display: block;
      font-size: 20px;
      margin: 0 0 10px;
    }
    &__tel {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      &:hover {
        color: $blue;
      }
    }
    &__mail {
      font-size: 20px;
      border-bottom: 1px solid $blue;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

/* Map */

.map {
  margin-bottom: 50px;
  iframe {
    border: none;
    width: 100%;
    height: 500px;
  }
}

/* News */

.news {
  background: #fff;
  padding: 30px;
  position: relative;
  margin: 0 0 62px;
  .head {
    margin: 0 0 27px;
  }
  .pagination {
    margin: 0;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -44px 15px 0;
  }
  &-item {
    width: 370px;
    margin: 0 44px 45px 0;
    &-img {
      margin: 0 0 17px;
    }
    &-info {
      margin: 0 0 15px;
      span {
        color: #808285;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 0 0 24px;
        margin: 0 28px 0 0;
        position: relative;
        &:before {
          content: '';
          display: block;
          background: url(../images/news-img.png) no-repeat 50%;
          width: 14px;
          height: 11px;
          position: absolute;
          top: 2px;
          left: 0;
        }
        &:after {
          content: '';
          display: block;
          width: 1px;
          height: 14px;
          background: #808285;
          position: absolute;
          top: 0;
          right: -20px;
        }
      }
      a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          color: #000;
        }
      }
    }
    &__link {
      color: #000;
      line-height: 1.6;
      font-weight: 700;
      &:hover {
        color: $blue;
      }
    }
  }
  &-nav {
    position: absolute;
    right: 35px;
    top: 36px;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 26px 0 0;
      position: relative;
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 16px;
        background: #808285;
        position: absolute;
        top: 0;
        right: -16px;
      }
      a {
        text-transform: uppercase;
        color: $blue;
        font-weight: 700;
        &:hover {
          color: #000;
        }
      }
      &.active {
        a {
          color: #000;
        }
      }
    }
  }
}

/* Uncos */

.uncos {
  .news-items {
    margin-bottom: 3px;
  }
  .news-item {
    margin-bottom: 30px;
  }
  .about {
    margin: 0 0 45px;
    &-content {
      h2 {
        padding: 0 40px 0 0;
        margin: 0 0 12px;
        &:before {
          display: none;
        }
      }
      &__img {
        margin: 16px 0 24px;
      }
    }
    &-sidebar {
      background: #fff;
      padding: 4px 0px 36px 27px;
    }
  }
  &-bottom {
    padding: 40px 0 0;
    &__link {
      color: $blue;
      font-size: 14px;
      font-weight: 700;
      text-decoration: underline;
      text-transform: uppercase;
      margin: 4px 26px 0 0;
    }
  }
  &__head {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 0 25px;
    margin: 0 0 30px;
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 13px;
      background-color: $red;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__link {
    margin-left: 7px;
  }
  &-soc {
    display: inline-block;
    vertical-align: top;
    a {
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0;
      &:hover {
        transform: rotate(360deg);
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Reports */

.reports {
  padding: 30px;
  margin: 0 0 45px;
  background: #fff;
  &__head {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 36px;
  }
  &-content {
    float: left;
    width: 755px;
    &-items {
      font-size: 0;
    }
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 360px;
      height: 240px;
      margin: 0 27px 33px 0;
      position: relative;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:hover {
        &:before,
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(47, 103, 255, .4);
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: 300ms;
      }
      &:after {
        content: '';
        display: block;
        background: url(../images/zoom.png) no-repeat 50%;
        width: 40px;
        height: 38px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -20px;
        opacity: 0;
        visibility: hidden;
        transition: 300ms;
      }
    }
  }
  &-sidebar {
    float: right;
    width: 400px;
    &-info {
      background: #ebf1fe;
      padding: 41px 30px 0 24px;
      margin: 0 0 44px;
      position: relative;
      .uncos__head {
        padding: 0;
        margin: 0 0 21px;
        &:before {
          left: -24px;
        }
      }
      td {
        height: 60px;
        vertical-align: top;
        &:first-child {
          width: 173px;
          padding: 5px 0 0;
        }
        &:last-child {
          line-height: 1.6;
        }
      }
    }
    &-items {
      .uncos__head {
        margin: 0 0 22px;
      }
    }
  }
  .news {
    &-items {
      margin-right: 0;
      justify-content: flex-end;
    }
    &-item {
      margin: 0 0 20px 0;
      &-img {
        margin: 0 0 8px;
      }
    }
  }
}

/* Results */

.results {
  .news {
    &-item {
      margin-bottom: 33px;
      &__link {
        font-size: 20px;
        margin: 0 20px 0 0;
      }
      &-img {
        margin: 0 0 10px;
      }
    }
  }
}











