@media only screen and (max-height: 940px) {
    .container {
        width: 1108px;
    }
    .header-wrap {
        height: 80px;
    }
    .logo img {
        width: 82px;
    }
    .header-info {
        margin-top: 22px;
    }
    .brief-link {
        font-size: 14px;
        line-height: 32px;
        width: 114px;
    }
    .caption {
        padding-top: 78px;
    }
    .seo-line {
        padding: 14px 0;
    }
    .seo-line i {
        font-size: 30px;
        line-height: 61px;
    }
    .seo-line__icon {
        height: 60px;
        width: 60px;
        margin-bottom: 9px;
    }
    .seo-line p {
        font-size: 14px;
    }
    .seo-line span {
        font-size: 12px;
    }
    .seo {
        margin-top: 13px;
    }
    .c-slider-nav__item {
        font-size: 14px;
        padding: 0 43px 6px;
    }
    .seo-slider img {
        width: 280px;
        margin-top: 0;
    }
    .seo-slider-content {
        margin-left: 342px;
    }
    .seo-slider-content p {
        font-size: 12px;
        margin-bottom: 17px;
    }
    .seo-slider {
        padding-top: 40px;
    }
    .seo-slider2 {
        padding-top: 17px;
    }
    .seo-slider2__head {
        font-size: 12px;
    }
    .seo-slider2 p {
        font-size: 12px;
        margin: 5px auto 2px;
    }
    .seo-slider2 img {
        width: 485px;
    }
    .seo-info img {
        width: 94px;
        margin-right: 43px;
    }
    .seo-info p {
        font-size: 12px;
        max-width: 458px;
    }
    .seo-info {
        padding-top: 12px;
    }
    .feedbacks.c-slider .c-slider-nav__item {
        height: 70px;
        line-height: 70px;
        margin-top: 10px;
    }
    .feedbacks.c-slider .c-slider-nav__item img {
        max-height: 61px;
    }
    .feedbacks.c-slider .c-slider-items {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .feedbacks-item p {
        font-size: 12px;
    }
    .feedbacks-item__doc {
        width: 150px;
        right: 22px;
    }
    .seo-line span {
        max-width: 135px;
    }
    .feedbacks-item {
        min-height: 207px;
    }
    .btn {
        line-height: 32px;
        font-size: 14px;
    }
    .seo-expierence__img {
        width: 38px;
        height: 38px;
        margin-bottom: 10px;
    }
    .seo-expierence__head {
        margin-bottom: 3px;
    }
    .seo-expierence,
    .seo-expierence p {
        font-size: 12px;
    }
    .seo-expierence-item {
        width: 300px;
        margin-top: 10px;
        padding: 0 10px;
    }
    .seo-expierence-item:nth-child(4),
    .seo-expierence-item:nth-child(5) {
        width: 470px;
    }
    .seo-map-content {
        width: 450px;
        font-size: 12px;
    }
    .seo-map img {
        width: 450px;
    }
    .seo-links {
        margin-top: 20px;
    }
    .advan-line__img {
        width: 714px;
        height: 140px;
    }
    .advan {
        padding: 0 98px;
    }
    .advan-line {
        margin-bottom: 30px;
    }
    .advan-info p {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .advan-img-item {
        margin-bottom: 15px;
        width: 23%;
    }
    .advan-img-item img {
        max-height: 35px;
    }
    .advan-graph__name {
        font-size: 12px;
    }
    .service-item {
        margin-top: 60px;
    }
    .service-line {
        margin: 15px 0 10px;
        height: 140px;
    }
    .work-slider {
        margin-top: 17px;
    }
    .work-item {
        margin-top: 44px;
    }
    .work-item p {
        font-size: 12px;
    }
    .work-item img {
        max-width: 196px;
    }
    .work-links {
        margin-top: 13px;
    }
    .clients-nav__img {
        height: 70px;
    }
    .clients-nav {
        margin: 12px 0;
        padding-bottom: 12px;
    }
    .clients-links {
        margin-top: 30px;
    }
    .faq-cols {
        margin-top: 57px;
        height: 376px;
        padding: 0 112px;
    }
    .faq-item__answer,
    .faq-item__head {
        font-size: 12px;
    }
    .faq-form__head {
        margin-bottom: 10px;
    }
    .faq-fields input {
        line-height: 28px;
        width: 342px;
    }
    .faq-fields input:nth-child(2) {
        width: 146px;
    }
    .faq-fields button {
        line-height: 32px;
        font-size: 14px;
        width: 164px;
    }
    .brief-form {
        margin-top: 16px;
        padding: 0 212px;
    }
    .brief__head {
        font-size: 12px;
    }
    .brief-form p,
    .footer__perm,
    .footer__advan {
        font-size: 12px;
    }
    .brief__input input {
        line-height: 22px;
    }
    .brief__input textarea {
        height: 22px;
        line-height: 15px;
        padding-top: 3px;
    }
    .brief__btn {
        margin: 20px 0;
    }
    .footer-wrap {
        /*padding: 9px 0;*/
    }
    .brief__thk {
        display: none;
    }
    .main__img {
        height: 876px;
        left: -230px;
    }
    .main-links {
        position: absolute;
        left: 289px;
        top: 520px;
    }
}

@media only screen and (max-width: 1360px) {
    .container {
        width: 880px;
    }
    .c-slider-item {
        padding: 0;
    }
    .seo-slider-content {
        padding-left: 18px;
        margin-left: 310px;
    }
    .c-slider .slick-arrow {
        left: -40px;
    }
    .c-slider .slick-next {
        left: auto;
        right: -40px;
    }
    .feedbacks.c-slider .c-slider-nav__item {
        padding: 0 1px 6px;
    }
    .feedbacks.c-slider .c-slider-item {
        padding: 0 81px;
    }
    .feedbacks-item {
        padding-right: 200px;
    }
    .feedbacks-item p {
        line-height: 1;
        margin-bottom: 10px;
    }
    .seo-expierence-item {
        width: 289px;
    }
    .c-slider-nav {
        margin: 0;
    }
    .seo-expierence-item:nth-child(4),
    .seo-expierence-item:nth-child(5) {
        width: 437px;
    }
    .seo-map img {
        width: 400px;
    }
    .advan {
        padding: 0;
    }
    .work-wrap .c-slider-nav__item {
        width: 170px;
    }
    .work-item p {
        margin-right: 263px;
        padding-left: 40px;
    }
    .clients-nav {
        padding-left: 0;
        padding-right: 0;
    }
    .clients-item-content {
        /*width: 300px;*/
    }
    .faq-cols {
        padding: 0;
    }
    .footer-contacts {
        margin: 0 59px;
    }
    .brief-form {
        padding: 0 83px;
    }
    .main__img {
        left: -290px;
    }
    .main-links {
        left: 231px;
    }
}

@media only screen and (max-width: 991px) {
    .seo-info p {
        padding-top: 3%;
        padding-bottom: 5%;
    }
    .container {
        width: 652px;
    }
    .section {
        height: auto !important;
    }
    .burger-wrap {
        display: block;
        width: 30px;
    }
    .burger-wrap a {
        cursor: pointer;
        padding: 12px 0;
        display: block;
    }
    .burger-wrap a span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 7px;
        background: #5f893c;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .burger-wrap a span:before,
    .burger-wrap a span:after {
        position: absolute;
        background: #5f893c;
        content: '';
        width: 30px;
        height: 5px;
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border-radius: 7px;
    }
    .burger-wrap a span:before {
        top: -8px;
    }
    .burger-wrap a span:after {
        top: 8px;
    }
    .burger-wrap a.active span {
        background: transparent;
    }
    .burger-wrap a.active span:before {
        -webkit-transform: rotate(45deg) translate(5px, 6px);
        transform: rotate(45deg) translate(5px, 6px);
    }
    a.active span:after {
        -webkit-transform: rotate(-45deg) translate(5px, -6px);
        transform: rotate(-45deg) translate(5px, -6px);
    }
    .nav {
        float: right;
        margin-top: 4px;
    }
    .nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 30px 0;
        background: #fff;
        text-align: center;
        margin-top: 40px;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        -webkit-transition: 300ms;
        transition: 300ms;
    }
    .nav ul.active {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
        margin-top: 0;
    }
    .nav ul li {
        display: block;
        margin: 20px 0 !important;
    }
    .nav ul li a {
        font-size: 18px;
    }
    .brief-link {
        position: absolute;
        left: 50%;
        margin-left: -67px;
    }
    .caption {
        padding-top: 17px;
    }
    .seo-line {
        margin-top: 17px;
    }
    .c-slider-nav__item {
        padding: 0 20px 4px;
        margin-left: 3px;
    }
    .seo-slider img {
        width: 310px;
        margin: 0 auto 20px;
        float: none;
    }
    .seo-slider-content {
        margin-left: 0;
    }
    .seo-slider {
        padding-top: 20px;
    }
    .c-slider .slick-arrow {
        display: none !important;
    }
    .seo-slider2__head {
        margin-bottom: 30px;
    }
    .seo-info {
        padding-left: 0;
        padding-right: 0;
    }
    .feedbacks.c-slider .c-slider-nav__item {
        width: 24%;
        padding: 0 20px;
        margin: 10px 0 0 0 !important;
    }
    .feedbacks-item__doc {
        display: none;
    }
    .feedbacks.c-slider .c-slider-item {
        padding: 0;
    }
    .feedbacks-item {
        padding-right: 0;
    }
    .feedbacks-links {
        margin-bottom: 5px;
    }
    .seo-map-content {
        width: 100%;
    }
    .seo-map img {
        float: none;
        width: auto;
        margin: 0 auto 12px;
    }
    .seo-map {
        margin-top: 15px;
    }
    .seo-expierence__img {
        display: none;
    }
    .seo-expierence-item {
        display: block;
        text-align: center;
        width: 100% !important;
        margin-top: 25px;
    }
    .seo-links {
        margin-top: 0;
    }
    .advan-line .container {
        width: auto;
        padding: 0;
    }
    .advan-line__img {
        width: 100%;
        height: 148px;
    }
    .advan-img {
        display: none;
    }
    .advan-info {
        width: 100%;
        padding-right: 0;
        float: none;
        margin-bottom: 22px;
    }
    .advan-graph {
        width: 424px;
        float: none;
        margin: 0 auto;
        max-width: 100%;
        padding-left: 0;
    }
    .service-line {
        display: none;
    }
    .service-wrap .head {
        margin-bottom: 20px;
    }
    .service-item p {
        font-size: 12px;
    }
    .service-el {
        font-size: 12px;
        width: 145px;
        margin-left: 23px;
    }
    .service-item img {
        width: 212px;
    }
    .service-item {
        padding-left: 228px;
    }
    .work-nav i {
        display: none;
    }
    .work-wrap .c-slider-nav__item {
        height: auto;
        padding: 0 4px 4px;
        margin-left: 23px;
        border-top: 0;
        border-bottom: 0;
        width: auto;
        font-size: 12px;
    }
    .work-wrap .c-slider-nav__item:first-child {
        margin-left: 0;
    }
    .work-prev:before,
    .work-prev:after,
    .work-nav:before,
    .work-nav:after {
        display: none;
    }
    .work-wrap .c-slider-nav {
        border-bottom: 1px solid #dcdcde;
    }
    .work-nav {
        padding-left: 0;
    }
    .work-item img {
        display: none;
    }
    .work-item p {
        margin-right: 0;
        padding-left: 0;
    }
    .clients-wrap .c-slider-items {
        display: none;
    }
    .clients-nav-item {
        display: inline-block;
        width: 212px;
        margin-bottom: 42px;
    }
    .mob-hidden {
        display: none;
    }
    .clients-nav-item.active p {
        color: #000;
    }
    .clients-nav {
        text-align: center;
        border-bottom: 0;
    }
    .clients-nav__img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    .clients-links {
        display: none;
    }
    .faq-cols {
        height: auto;
        width: 456px;
        margin: 20px auto 15px;
    }
    .faq-form {
        display: none;
    }
    .faq-col {
        width: 100%;
        margin-right: 0;
    }
    .footer-wrap {
        position: static;
    }
    .brief-form {
        margin-bottom: 0;
    }
    .footer__perm {
        display: none;
    }
    .footer-contacts {
        margin: 0 61px 0 0;
    }
    .main {
        height: 800px !important;
    }
}

@media only screen and (max-width: 767px) {
    .seo-info p {
        padding-top: 3%;
        padding-bottom: 5%;
    }
    .seo-info img {
        margin-right: 0;
    }
    .container {
        width: auto;
        padding: 0 30px;
    }
    .header-wrap {
        height: 60px;
    }
    .logo img {
        width: 64px;
    }
    .logo {
        margin-top: 7px;
    }
    .brief-link {
        width: 84px;
        line-height: 24px;
    }
    .brief-link {
        margin-left: -30px;
    }
    .header-info {
        margin-top: 17px;
    }
    .nav {
        margin-top: 0;
    }
    .main-mobile {
        display: block;
    }
    .main {
        background: url(../images/main-mobile.jpg) no-repeat 50%;
        background-size: cover;
        padding-top: 100px;
        margin-top: 60px;
        height: auto !important;
    }
    .main-mobile-content {
        background: #fff;
        padding: 23px 0;
    }
    .main-mobile__head {
        font-size: 17px;
        margin-bottom: 22px;
    }
    .main-mobile__head b {
        color: #628a2e;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 3px;
    }
    .main-mobile-content p {
        line-height: 1.1;
    }
    .main-mobile__link {
        margin-top: 63px;
        text-align: center;
        padding-bottom: 20px;
    }
    .main-mobile__link a {
        display: block;
        width: 130px;
        line-height: 32px;
        background-color: #628a2e;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        margin: 0 auto;
    }
    .main-mobile__link a:last-child {
        margin-top: 11px;
        background: #828282;
    }
    .seo-line__icon {
        display: none;
    }
    .seo-line-item {
        width: 50%;
        /*font-size: 12px;*/
    }
    .seo-line-item:first-child {
        margin-bottom: 20px;
    }
    .seo .container {
        padding: 0;
    }
    .c-slider-nav {
        padding: 0;
    }
    .c-slider-nav__item {
        margin: 0;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 12px;
    }
    .c-slider-items {
        padding: 0 30px;
    }
    .seo-slider img {
        max-width: 100%;
    }
    .seo-info {
        border-top: 0;
        text-align: left;
        padding: 0 30px;
    }
    .seo-info img {
        display: none;
    }
    .head {
        font-size: 14px;
    }
    .caption {
        font-size: 12px;
    }
    .feedbacks.c-slider .c-slider-nav__item {
        width: 48%;
    }
    .feedbacks-item__quotes {
        display: none !important;
    }
    .feedbacks-item {
        padding-left: 0;
    }
    .feedbacks-wrap .container {
        padding: 0;
    }
    .feedbacks-item-author p {
        max-width: 128px;
    }
    .feedbacks-links {
        display: none;
    }
    .seo-expierence-item {
        margin-top: 9px;
    }
    .seo-links a {
        display: block;
        margin: 0 auto 10px;
        width: 130px;
        padding-left: 0;
        padding-right: 0;
    }
    .service-item img {
        display: none;
    }
    .service-item {
        padding-left: 0;
        margin-top: 20px;
    }
    .service-el {
        width: 200px;
    }
    .service-el:before {
        left: -23px;
    }
    .service-wrap .container {
        padding: 0;
    }
    .work-wrap .c-slider-nav__item {
        margin-left: 7px;
    }
    .c-slider-nav {
        border-bottom: 0 !important;
    }
    .c-slider-nav__item {
        margin-bottom: 4px !important;
    }
    .work-item {
        margin-top: 17px;
    }
    .work-wrap .container {
        padding: 0;
    }
    .work-links a {
        width: 130px;
        margin: 0 auto 12px;
        display: block;
        padding: 0;
    }
    .clients-nav-item {
        width: 50%;
    }
    .clients-nav__img img {
        max-width: 90%;
    }
    .faq-cols {
        width: auto;
    }
    .brief-form {
        padding: 0;
    }
    .brief-form p {
        margin-left: 0;
    }
    .brief__input_long input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 12px;
    }
    .footer__logo,
    .footer-contacts,
    .footer__advan,
    .footer__leader {
        position: static;
        display: inline-block;
        vertical-align: middle;
        width: 49%;
        margin: 0;
    }
    .footer__advan {
        font-size: 10px;
    }
    .main__img {
        display: none;
    }
    .main-links {
        display: none;
    }
}