* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

*:focus {
    outline: none;
}

body {
    font: 400 14px 'PT Sans', sans-serif;
}

a {
    font: 400 14px 'PT Sans', sans-serif;
    text-decoration: none;
    -webkit-transition: 300ms;
    transition: 300ms;
    display: inline-block;
    line-height: 1;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a img {
    border: none;
    outline: none;
}

.cf:after {
    display: block;
    content: '';
    clear: both;
}

.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.line {
    background: #dcdcde;
}

.caption {
    text-align: center;
    padding-top: 109px;
    color: #000;
    font-weight: 400;
    margin-bottom: 6px;
}

.head {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #628a2e;
    text-align: center;
}

.btn {
    line-height: 46px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 0 28px;
    position: relative;
    background: #628a2e;
    -webkit-transition: 300ms;
    transition: 300ms;
    border: 2px solid #628a2e;
    z-index: 5;
}

.btn_grey {
    background: #828282;
    border: 2px solid #828282;
}

.btn_grey:before,
.btn_grey:after {
    background: #828282;
}

.btn_grey:hover {
    color: #828282 !important;
}

.btn:before,
.btn:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    background: #fff;
    width: 0;
    z-index: -1;
}

.btn:after {
    left: auto;
    right: 0;
}

.btn:hover {
    color: #628a2e;
}

.btn:hover:after,
.btn:hover:before {
    width: 51%;
}


/* Main */

.main {
    overflow: hidden;
}

.main__img {
    background: url(../images/main.jpg) no-repeat 50%;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
    top: 0;
}

.main-links {
    position: absolute;
    left: 416px;
    top: 730px;
}

.main-links a {
    margin-right: 10px;
}


/* Header */

.header-wrap {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    z-index: 9999;
}

.header-info {
    float: right;
    margin-top: 30px;
}

.logo {
    float: left;
    margin-top: 14px;
}

.logo img {
    width: 98px;
}

.nav {
    display: inline-block;
    vertical-align: middle;
}

.nav li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 31px;
}

.nav li a {
    color: #000;
}

.nav li a:hover,
.nav li a.active {
    color: #628a2e;
}

.brief-link {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    line-height: 36px;
    border: 2px solid #628a2e;
    border-radius: 3px;
    color: #628a2e;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    position: relative;
}

.brief-link:hover:before,
.brief-link:hover:after {
    width: 51%;
}

.brief-link:hover {
    color: #fff;
}

.brief-link:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background: #628a2e;
    z-index: -1;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.brief-link:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: #628a2e;
    z-index: -1;
    -webkit-transition: 300ms;
    transition: 300ms;
}


/* Seo */

.seo {
    margin-top: 40px;
}

.seo-line {
    margin-top: 20px;
    padding: 30px 0 27px;
}

.seo-line-items {
    font-size: 0;
    text-align: center;
}

.seo-line-item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    font-size: 14px;
}

.seo-line__icon {
    border: 1px solid #959595;
    border-radius: 50%;
    width: 82px;
    height: 82px;
    text-align: center;
    display: inline-block;
    -webkit-transition: 300ms;
    transition: 300ms;
    margin-bottom: 22px;
}

.seo-line__icon:hover {
    background: #628a2e;
    border: 1px solid #628a2e;
}

.seo-line__icon:hover i {
    color: #fff;
}

.seo-line p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    line-height: 1.2;
}

.seo-line span {
    max-width: 115px;
    display: block;
    margin: 0 auto;
    line-height: 1.2;
}

.seo-line i {
    font-size: 43px;
    line-height: 82px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.seo-slider {
    padding-top: 62px;
}

.seo-slider img {
    float: left;
    width: 326px;
    margin-top: 15px;
}

.seo-slider-content {
    margin-left: 374px;
}

.seo-slider-content p {
    color: #1d1d1b;
    margin-bottom: 18px;
    line-height: 1.1;
}

.seo-slider2 {
    padding-top: 40px;
    text-align: center;
}

.seo-slider2__head {
    line-height: 1.1;
    text-align: left;
}

.seo-slider2 p {
    color: #1d1d1b;
    max-width: 368px;
    margin: 15px auto 5px;
}

.seo-slider2 img {
    width: 692px;
    display: inline-block;
}

.seo-info {
    border-top: 1px solid #dcdcde;
    padding: 0 82px;
    padding-top: 25px;
    text-align: center;
}

.seo-info img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.seo-info p {
    display: inline-block;
    vertical-align: middle;
    max-width: 528px;
    text-align: left;
    line-height: 1.1;
}

.burger-wrap {
    display: none;
}

.main-mobile {
    display: none;
}

.c-slider-nav {
    margin: 0 82px;
    text-align: center;
    border-bottom: 1px solid #dcdcde;
}

.c-slider-nav__item {
    display: inline-block;
    vertical-align: top;
    margin-left: 45px;
    position: relative;
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    padding: 0 32px 15px;
    text-transform: uppercase;
}

.c-slider-nav__item:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    background: #628a2e;
}

.c-slider-nav__item:hover,
.c-slider-nav__item.active {
    color: #628a2e;
}

.c-slider-nav__item:hover:after,
.c-slider-nav__item.active:after {
    opacity: 1;
}

.c-slider-nav__item:first-child {
    margin-left: 0;
}

.c-slider-items {
    position: relative;
}

.c-slider-item {
    padding: 0 82px;
}

.c-slider .slick-arrow {
    border: 1px solid #000;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 999;
    -webkit-transition: 300ms;
    transition: 300ms;
    text-align: center;
}

.c-slider .slick-arrow:before {
    content: "\e900";
}

.c-slider .slick-arrow:hover {
    background: #628a2e;
    border: 1px solid #628a2e;
    color: #fff;
}

.c-slider .slick-next {
    left: auto;
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Feedbacks */

.feedbacks.c-slider .c-slider-nav__item {
    line-height: 100px;
    height: 100px;
    margin-top: 20px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    padding: 0 26px 6px;
}

.feedbacks.c-slider .c-slider-nav__item.active,
.feedbacks.c-slider .c-slider-nav__item:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.feedbacks.c-slider .c-slider-items {
    margin-top: 40px;
    margin-bottom: 66px;
}

.feedbacks.c-slider .c-slider-item {
    padding: 0 112px;
}

.feedbacks-item {
    padding: 0 228px 0 82px;
    position: relative;
    min-height: 275px;
}

.feedbacks-item__quotes {
    position: absolute;
    left: 0;
    top: 0;
}

.feedbacks-item__doc {
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #dcdcde;
}

.feedbacks-item p {
    color: #282828;
    line-height: 1.4;
    margin-bottom: 16px;
}

.feedbacks-item-author img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.feedbacks-item-author p {
    display: inline-block;
    vertical-align: middle;
    max-width: 280px;
    color: #282828;
    font-weight: bold;
}

.feedbacks-links {
    text-align: center;
    margin-bottom: 30px;
}

.feedbacks-links a {
    margin: 0 15px;
}


/* About */

.seo-map {
    padding: 0 15px;
    margin-top: 40px;
}

.seo-map-content {
    float: left;
    width: 330px;
}

.seo-map-content p {
    color: #282828;
    margin-bottom: 16px;
    line-height: 1.2;
}

.seo-map img {
    float: right;
}

.seo-expierence {
    font-size: 0;
    text-align: center;
}

.seo-expierence-item {
    display: inline-block;
    vertical-align: top;
    width: 313px;
    padding: 0 15px;
    font-size: 14px;
    color: #1d1d1b;
    margin-top: 20px;
}

.seo-expierence-item:nth-child(4) {
    width: 370px;
}

.seo-expierence__img {
    width: 60px;
    height: 60px;
    margin-bottom: 17px;
    display: inline-block;
}

.seo-expierence__img:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.seo-expierence__img img {
    display: inline-block;
    vertical-align: middle;
    max-width: 88%;
}

.seo-expierence__head {
    font-weight: bold;
    margin-bottom: 10px;
}

.seo-expierence p {
    line-height: 1.2;
}

.seo-links {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.seo-links a {
    display: inline-block;
    margin: 0 15px;
}


/* About */

.advan {
    padding: 0 130px;
}

.advan-line {
    margin: 20px 0 56px;
    background: #dcdcde;
    text-align: center;
}

.advan-line__img {
    background: url(../images/advan-line.jpg) no-repeat 50% 0;
    background-size: cover;
    width: 912px;
    height: 226px;
    display: inline-block;
}

.advan-info {
    width: 50%;
    padding-right: 15px;
    float: left;
}

.advan-info p {
    margin-bottom: 18px;
    line-height: 1.2;
}

.advan-img {
    text-align: center;
}

.advan-img-item {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin-bottom: 18px;
}

.advan-graph {
    width: 50%;
    padding-left: 15px;
    float: right;
}

.advan-graph__item {
    border-radius: 8px;
    height: 16px;
    border: 1px solid #dcdcde;
    margin-bottom: 11px;
    position: relative;
}

.advan-graph__item.active .advan-graph__fill_100 {
    width: 100%;
    background: #628a2e;
}

.advan-graph__item.active .advan-graph__fill_90 {
    width: 90%;
}

.advan-graph__item.active .advan-graph__fill_80 {
    width: 80%;
}

.advan-graph__item.active .advan-graph__fill_70 {
    width: 70%;
}

.advan-graph__item.active .advan-graph__fill_60 {
    width: 60%;
}

.advan-graph__item.active .advan-graph__fill_50 {
    width: 50%;
}

.advan-graph__fill {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background: #dcdcde;
    width: 0;
    -webkit-transition: 1000ms;
    transition: 1000ms;
}

.advan-graph__name {
    margin-bottom: 8px;
}

.advan-graph__name span {
    margin-left: 11px;
}


/* Service */

.service-line {
    height: 226px;
    background: url(../images/space.jpg) no-repeat 50%;
    background-size: cover;
    margin: 22px 0 34px;
}

.service-slider .c-slider-nav__item {
    padding-left: 8px;
    padding-right: 8px;
}

.service .c-slider-item {
    padding: 0 82px;
}

.service-item {
    margin-top: 100px;
    position: relative;
    padding-left: 342px;
}

.service-item img {
    position: absolute;
    left: 0px;
    top: 0;
    width: 286px;
}

.service-item p {
    margin-bottom: 34px;
    line-height: 1.1;
}

.service-el {
    display: inline-block;
    vertical-align: top;
    width: 213px;
    margin-left: 28px;
    margin-bottom: 22px;
    position: relative;
}

.service-el:before {
    content: '';
    display: block;
    background: #fff;
    -webkit-transition: 300ms;
    transition: 300ms;
    position: absolute;
    left: -28px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    border: 1px solid #dcdcde;
    border-radius: 50%;
}

.service-el:hover:before {
    background: #628a2e;
    border: 1px solid #dcdcde;
}


/* Work */

.work-prev {
    width: 0;
    height: 100%;
    position: relative;
}

.work-prev-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.work-prev:before,
.work-prev:after {
    content: '';
    display: block;
    width: 1px;
    height: 53px;
    background: #dcdcde;
    position: absolute;
    left: 10px;
    top: -2px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.work-prev:before {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.work-prev:after {
    top: auto;
    bottom: -2px;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.work-nav {
    position: relative;
    height: 100%;
    padding-left: 10px;
}

.work-nav:before,
.work-nav:after {
    content: '';
    display: block;
    width: 1px;
    height: 53px;
    background: #dcdcde;
    position: absolute;
    right: -10px;
    top: -2px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.work-nav:before {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.work-nav:after {
    top: auto;
    bottom: -2px;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.work-nav i {
    font-size: 50px;
    margin: 15px 0 12px;
    display: inline-block;
}

.work-wrap .c-slider-nav__item {
    width: 180px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #dcdcde;
    border-top: 1px solid #dcdcde;
    height: 100px;
    font-size: 14px;
}

.work-wrap .c-slider-nav__item:hover .work-nav:before,
.work-wrap .c-slider-nav__item:hover .work-nav:after,
.work-wrap .c-slider-nav__item.active .work-nav:before,
.work-wrap .c-slider-nav__item.active .work-nav:after {
    width: 2px;
    background: #628a2e;
}

.work-wrap .c-slider-nav {
    border: none;
    font-size: 0;
}

.work-slider {
    margin: 45px 0 0;
}

.work-item {
    margin-top: 150px;
}

.work-item img {
    float: right;
    max-width: 228px;
}

.work-item p {
    margin-right: 342px;
    color: #1d1d1b;
    margin-bottom: 18px;
}

.work-links {
    margin-top: 133px;
    text-align: center;
}

.work-links a {
    margin: 0 15px;
}


/* Clients */

.clients-nav {
    margin: 55px 0 70px;
    padding: 0 90px;
    padding-bottom: 55px;
    border-bottom: 1px solid #dcdcde;
}

.clients-nav-item {
    text-align: center;
}

.clients-nav-item p {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.clients-nav-item.active p {
    color: #628a2e;
}

.clients-nav-item.active .clients-nav__img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.clients-nav__img {
    display: inline-block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 123px;
    transition: 300ms;
}

.clients-nav__img:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.clients-nav__img img {
    display: inline-block;
    vertical-align: middle;
}

.clients-item img {
    float: right;
    max-width: 554px;
}

.clients-item-content {
    float: left;
    width: 326px;
}

.clients-item__head {
    font-weight: bold;
}

.clients-item p {
    line-height: 1.2;
    margin-top: 15px;
}

.clients-links {
    text-align: center;
    margin-top: 108px;
}

.clients-links a {
    margin: 0 15px;
}


/* Faq */

.faq-cols {
    padding: 0 146px;
    font-size: 0;
    margin: 97px 0 0;
    height: 505px;
}

.faq-col {
    display: inline-block;
    vertical-align: top;
    width: 48.5%;
    font-size: 14px;
}

.faq-col:first-child {
    margin-right: 3%;
}

.faq-item.active .faq-item__answer {
    display: block;
}

.faq-item__head {
    color: #010101;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 28px;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
}

.faq-item__head.active:before {
    background: #628a2e;
    border: 1px solid #628a2e;
}

.faq-item__head:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #dcdcde;
    border-radius: 50%;
    position: absolute;
    left: -16px;
    top: -3px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.faq-item__answer {
    line-height: 1.2;
    padding-bottom: 25px;
    display: none;
}

.faq-form {
    text-align: center;
}

.faq-form__head {
    margin-bottom: 20px;
}

.faq-fields input {
    font: 400 14px 'PT Sans';
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 440px;
    line-height: 46px;
    background-color: #fff;
    border: 2px solid #dcdcde;
    border-radius: 3px;
    padding: 0 17px;
}

.faq-fields input:nth-child(2) {
    width: 196px;
}

.faq-fields input::-webkit-input-placeholder {
    color: #838181;
}

.faq-fields input:-moz-placeholder {
    color: #838181;
}

.faq-fields input::-moz-placeholder {
    color: #838181;
}

.faq-fields input:-ms-input-placeholder {
    color: #838181;
}

.faq-fields button {
    font: 700 20px 'PT Sans';
    color: #fff;
    width: 212px;
    line-height: 50px;
    background-color: #628a2e;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.faq-fields button:hover {
    background: #4b6a23;
}


/* Brief */

.brief-wrap {
    position: relative;
}

.brief__head {
    text-align: center;
    color: #030303;
    margin-bottom: 14px;
}

.brief-form {
    padding: 0 244px;
    margin: 45px 0;
}

.brief-form p {
    color: #1d1d1b;
    margin: 7px 0 4px -15px;
}

.brief__input input,
.brief__input textarea {
    background-color: #fff;
    border: 1px solid #dcdcde;
    border-radius: 3px;
    width: 100%;
    padding: 0 11px;
    font: 400 12px/30px 'PT Sans';
    color: #1d1d1b;
}

.brief__input input::-webkit-input-placeholder,
.brief__input textarea::-webkit-input-placeholder {
    color: #bebebe;
}

.brief__input input:-moz-placeholder,
.brief__input textarea:-moz-placeholder {
    color: #bebebe;
}

.brief__input input::-moz-placeholder,
.brief__input textarea::-moz-placeholder {
    color: #bebebe;
}

.brief__input input:-ms-input-placeholder,
.brief__input textarea:-ms-input-placeholder {
    color: #bebebe;
}

.brief__input textarea {
    padding-top: 5px;
    height: 64px;
    resize: none;
}

.brief__input_long {
    font-size: 0;
}

.brief__input_long input {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
}

.brief__input_long input:last-child {
    margin-right: 0;
}

.brief__btn {
    text-align: center;
    margin: 25px 0 30px;
}

.brief__btn button {
    cursor: pointer;
    line-height: 28px;
    padding: 0 62px;
    font-size: 14px;
}

.brief__thk {
    text-align: center;
    color: #1d1d1b;
    line-height: 1.2;
}

.footer {
    text-align: center;
    position: relative;
}

.footer-wrap {
    background: #dcdcde;
    padding: 25px 0 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer__logo {
    position: absolute;
    left: 0;
    top: 0;
    color: #628a2e;
    font-weight: bold;
}

.footer__leader {
    position: absolute;
    right: 0;
    top: 0;
    color: #628a2e;
    font-weight: bold;
}

.footer__perm {
    display: inline-block;
    vertical-align: top;
    width: 170px;
}

.footer-contacts {
    display: inline-block;
    vertical-align: top;
    margin: 0 150px;
}

.footer__tel {
    font-weight: bold;
    text-decoration: underline;
    display: block;
    color: #000;
    margin-bottom: 3px;
}

.footer__tel:hover {
    text-decoration: none;
}

.footer__email {
    color: #000;
}

.footer__advan {
    display: inline-block;
    vertical-align: top;
    width: 170px;
}