@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px "Montserrat", sans-serif;
  color: #232425;
}

a {
  display: inline-block;
  font: 400 16px "Montserrat", sans-serif;
  text-decoration: none;
  color: #232425;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1110px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

/*Burger*/
.burger {
  display: none;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a span {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 7px;
  background: #2b4074;
  transition: all 0.2s ease-in-out;
}

.burger a span::before, .burger a span::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
  background: #2b4074;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.burger a span::before {
  top: -8px;
}

.burger a span::after {
  top: 8px;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span::before {
  transform: rotate(45deg) translate(6px, 6px);
}

.burger a.active span::after {
  transform: rotate(-45deg) translate(5px, -6px);
}

@media only screen and (max-width: 767px) {
  .burger {
    display: block;
  }
}

/* Header */
.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9999;
}

.header__inner {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 162px;
  display: flex;
  flex-shrink: 0;
}

@media only screen and (max-width: 991px) {
  .header__logo {
    width: 110px;
  }
}

.header__nav ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .header__nav ul {
    flex-direction: column;
  }
}

.header__nav li {
  margin-right: 48px;
}

.header__nav li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 991px) {
  .header__nav li {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .header__nav li {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header__nav li:last-child {
    margin-bottom: 0;
  }
}

.header__nav a {
  position: relative;
  display: flex;
  color: #ffffff;
  font-size: 13px;
}

.header__nav a::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: 300ms;
  bottom: -1px;
  left: 0%;
}

.header__nav a:hover::before {
  width: 100%;
}

.header__nav.active {
  display: block;
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #2b4074;
  padding: 15px 0;
  z-index: 100;
}

@media only screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

/* Showcase */
.showcase {
  background: url(../images/showcase-bg.png) 50%/cover;
  height: 970px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 120px;
}

.showcase__inner {
  padding: 0 0 40px 40px;
}

@media only screen and (max-width: 767px) {
  .showcase__inner {
    padding: 0 0 20px 20px;
  }
}

.showcase__title {
  max-width: 820px;
  font-size: 68px;
  font-weight: 700;
  line-height: 112%;
  color: #2b4074;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1336px) {
  .showcase__title {
    font-size: 45px;
    max-width: 629px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__title {
    font-size: 30px;
    max-width: 419px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.showcase__info {
  display: flex;
}

@media only screen and (max-width: 991px) {
  .showcase__info {
    display: block;
  }
}

.showcase__text {
  font-size: 16px;
  font-weight: 600;
  max-width: 363px;
  margin-right: 40px;
}

@media only screen and (max-width: 991px) {
  .showcase__text {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__text {
    max-width: 176px;
  }
}

.showcase__btn {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  background: #2b4074;
  border-radius: 30px;
  padding: 22px 40px;
  color: #ffffff;
}

.showcase__btn:hover {
  background: #334779;
}

.showcase__btn:hover img {
  transform: translateX(10px);
}

@media only screen and (max-width: 1336px) {
  .showcase__btn {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__btn {
    width: 200px;
    padding: 20px 20px;
    font-size: 14px;
  }
}

.showcase__btn img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: 16px;
  transition: 500ms;
}

@media only screen and (max-width: 1336px) {
  .showcase {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase {
    height: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    background: none;
    height: 496px;
  }
}

/* About */
.about {
  margin-bottom: 126px;
}

@media only screen and (max-width: 767px) {
  .about__inner {
    padding: 0 15px;
  }
}

.about__text {
  position: relative;
  max-width: 789px;
  text-align: center;
  line-height: 132%;
  font-weight: 500;
  font-size: 30px;
  margin: 0 auto 104px;
}

.about__text::before {
  content: "";
  display: block;
  background: url(../images/about-logo.png) 50%/cover no-repeat;
  width: 360px;
  height: 260px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1336px) {
  .about__text::before {
    background-size: 190px;
    width: 260px;
    height: 160px;
    top: -12px;
  }
}

@media only screen and (max-width: 1336px) {
  .about__text {
    max-width: 526px;
    font-size: 20px;
    margin: 0 auto 70px;
  }
}

@media only screen and (max-width: 767px) {
  .about__text {
    margin: 0 auto 35px;
  }
}

.about__content {
  display: flex;
  align-items: center;
}

.about__img {
  width: 840px;
  flex-shrink: 0;
  margin-right: 105px;
}

@media only screen and (max-width: 1450px) {
  .about__img {
    width: 650px;
    margin-right: 85px;
  }
}

@media only screen and (max-width: 1336px) {
  .about__img {
    width: 500px;
    margin-right: 45px;
  }
}

@media only screen and (max-width: 991px) {
  .about__img {
    width: 350px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .about__img {
    display: none;
  }
}

.about__opportunities {
  padding: 0 20px;
}

.about__title {
  max-width: 547px;
  font-weight: 600;
  font-size: 40px;
  line-height: 116%;
  color: #2b4074;
  text-transform: uppercase;
  margin-bottom: 48px;
}

@media only screen and (max-width: 1336px) {
  .about__title {
    max-width: 495px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .about__title {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
}

.about__list {
  max-width: 478px;
}

.about__list span {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.about__list span:before {
  content: "";
  display: block;
  background: url(../images/complete-icon.svg) 50%/cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
}

.about__list span:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .about {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .about {
    margin-bottom: 60px;
  }
}

/* Service */
.service {
  margin-bottom: 208px;
}

.service__inner {
  text-align: center;
}

.service__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #2b4074;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media only screen and (max-width: 991px) {
  .service__title {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.service__text {
  max-width: 548px;
  text-align: center;
  line-height: 140%;
  margin: 0 auto 64px;
}

@media only screen and (max-width: 991px) {
  .service__text {
    max-width: 380px;
    margin: 0 auto 34px;
  }
}

.service__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

@media only screen and (max-width: 767px) {
  .service__items {
    grid-template-columns: 300px;
    justify-content: center;
    grid-gap: 35px;
  }
}

.service__item {
  text-align: center;
  transition: 300ms;
}

.service__item img {
  flex-shrink: 0;
  margin-bottom: 24px;
}

@media only screen and (max-width: 767px) {
  .service__item img {
    margin-bottom: 15px;
  }
}

.service__item span {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 22px;
  color: #2b4074;
  transition: 300ms;
}

@media only screen and (max-width: 991px) {
  .service__item span {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1336px) {
  .service {
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 991px) {
  .service {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .service {
    margin-bottom: 60px;
  }
}

/* Aid */
.aid {
  margin-bottom: 208px;
}

.aid__inner {
  text-align: center;
}

.aid__title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 64px;
  color: #2b4074;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .aid__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.aid__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 154px;
}

@media only screen and (max-width: 1336px) {
  .aid__items {
    grid-gap: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .aid__items {
    grid-gap: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .aid__items {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.aid__percent {
  font-size: 68px;
  font-weight: 700;
  color: #2b4074;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .aid__percent {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

.aid__subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #2b4074;
  margin-bottom: 8px;
}

@media only screen and (max-width: 991px) {
  .aid__subtitle {
    font-size: 16px;
  }
}

.aid__text {
  line-height: 140%;
}

@media only screen and (max-width: 991px) {
  .aid__text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .aid {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .aid {
    margin-bottom: 80px;
  }
}

/* Work */
.work {
  margin-bottom: 90px;
}

.work__title {
  font-weight: 600;
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #2B4074;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media only screen and (max-width: 767px) {
  .work__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.work__content {
  line-height: 140%;
  text-align: center;
  margin: 0 auto 64px;
  max-width: 530px;
}

.work__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1336px) {
  .work__items {
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .work__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .work__items {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 767px) {
  .work__item {
    max-width: 100%;
  }
}

.work__number {
  position: relative;
  margin-bottom: 17px;
}

.work__number:after {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background: #2B4074;
  height: 2px;
  width: 100%;
  z-index: -1;
}

.work__number span {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 2px solid #2B4074;
  font-weight: 600;
  color: #2B4074;
  border-radius: 50%;
}

.work__item-title {
  font-weight: 600;
  color: #2B4074;
  margin-bottom: 16px;
}

.work__item-text {
  line-height: 140%;
}

@media only screen and (max-width: 1336px) {
  .work {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .work {
    margin-bottom: 0;
  }
}

/* Success */
.success {
  background: url(../images/success-bg.png) 50%/cover;
  padding: 255px 0 80px;
  margin-bottom: 120px;
}

.success__inner {
  position: relative;
}

.success__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 64px;
}

@media only screen and (max-width: 767px) {
  .success__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.success__slider {
  max-width: 548px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 32px 30px;
  margin-bottom: 252px;
}

@media only screen and (max-width: 991px) {
  .success__slider {
    margin: 0 auto 30px;
  }
}

.success__slider-items {
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 30px;
  border-bottom: 1px solid #FFFFFF;
}

.success__slider-items .slick-arrow {
  position: absolute;
  bottom: -49px;
  left: 0;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.success__slider-items .slick-next {
  background: url(../images/slick-arrov-right.svg) 50%/cover;
  width: 30px;
  height: 15px;
  margin-left: 45px;
}

.success__slider-items .slick-prev {
  background: url(../images/slick-arrov-right.svg) 50%/cover;
  width: 30px;
  height: 15px;
  transform: rotate(180deg);
}

.success__slider-items .slick-disabled {
  opacity: 0.3;
  cursor: unset;
}

.success__slider-logo {
  margin-bottom: 16px;
}

.success__slider-text {
  max-width: 484px;
  font-weight: 600;
  font-size: 22px;
  line-height: 132%;
  color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .success__slider-text {
    font-size: 16px;
  }
}

.success__slider-number {
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.success__button {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1336px) {
  .success__button {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 767px) {
  .success__button {
    justify-content: center;
  }
}

.success__btn {
  width: 255px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.success__btn:hover img {
  transform: translateX(10px);
}

.success__btn img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: 16px;
  transition: 500ms;
}

.success__items {
  display: flex;
  align-items: center;
  position: relative;
}

.success__items::before {
  content: '';
  display: block;
  background: url(../images/line-img.png) 50%/cover;
  width: 868px;
  height: 350px;
  position: absolute;
  top: -380px;
  left: 117px;
}

@media only screen and (max-width: 1336px) {
  .success__items::before {
    left: 66px;
  }
}

@media only screen and (max-width: 1030px) {
  .success__items::before {
    display: none;
  }
}

@media only screen and (max-width: 1336px) {
  .success__items {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .success__items {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .success__items {
    display: block;
  }
}

.success__item {
  position: absolute;
  bottom: -35px;
  left: 0;
}

.success__item:nth-child(2) {
  bottom: 20px;
  left: 280px;
}

.success__item:nth-child(3) {
  bottom: 170px;
  left: 564px;
}

.success__item:nth-child(4) {
  bottom: 283px;
  left: 840px;
}

@media only screen and (max-width: 1336px) {
  .success__item:nth-child(4) {
    left: 825px;
  }
}

@media only screen and (max-width: 1030px) {
  .success__item {
    position: static;
  }
}

@media only screen and (max-width: 991px) {
  .success__item {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .success__item {
    margin-bottom: 35px;
  }
}

.success__text {
  max-width: 266px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 64px;
  flex-grow: 10;
}

@media only screen and (max-width: 1336px) {
  .success__text {
    font-size: 13px;
    max-width: 185px;
  }
}

@media only screen and (max-width: 767px) {
  .success__text {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

.success__request {
  color: #FFFFFF;
  text-align: center;
}

.success__request span {
  display: block;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1336px) {
  .success {
    padding: 185px 0 80px;
  }
}

@media only screen and (max-width: 991px) {
  .success {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .success {
    padding: 180px 0 60px;
  }
}

/* Partners */
.partners__title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  color: #2B4074;
  text-align: center;
  margin-bottom: 68px;
}

@media only screen and (max-width: 767px) {
  .partners__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.partners__items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.partners__item {
  width: 25%;
  margin-bottom: 60px;
}

.partners__item img {
  width: 65%;
  flex-shrink: 0;
}

/* Connection */
.connection {
  background: url(../images/connection-bg.png) 50%/cover;
  background-repeat: no-repeat;
  background-size: 100% 650px;
  background-position-y: 0px;
  padding-top: 112px;
}

.connection__inner {
  margin-bottom: 104px;
}

@media only screen and (max-width: 991px) {
  .connection__inner {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .connection__inner {
    margin-bottom: 20px;
  }
}

.connection__title {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

@media only screen and (max-width: 767px) {
  .connection__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.connection__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 991px) {
  .connection__items {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .connection__items {
    grid-template-columns: 1fr;
  }
}

.connection__item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 38px;
  padding: 16px 34px;
  color: #ffffff;
  font-weight: 500;
  line-height: 140%;
}

@media only screen and (max-width: 1336px) {
  .connection__item {
    font-size: 14px;
  }
}

.connection__form {
  padding: 40px;
  max-width: 736px;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 0 auto;
}

.connection__form-title {
  font-weight: 500;
  font-size: 30px;
  color: #2B4074;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.connection__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .connection__grid {
    grid-template-columns: 1fr;
  }
}

.connection__select {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 30px;
  height: 60px;
  padding: 0 10px 0 24px;
  font-weight: 500;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/down-arrow-gray.svg) 50%/cover no-repeat;
  background-position-x: 95%;
  background-size: 24px;
  color: #BEBEBE;
}

.connection__field-input input {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 30px;
  height: 60px;
  width: 100%;
  padding: 0 10px 0 24px;
  font-weight: 500;
  color: #a7a4a4;
}

.connection__field-input input::-webkit-input-placeholder {
  color: #BEBEBE;
}

.connection__field-input input:-moz-placeholder {
  color: #BEBEBE;
}

.connection__field-input input::-moz-placeholder {
  color: #BEBEBE;
}

.connection__field-input input:-ms-input-placeholder {
  color: #BEBEBE;
}

.connection__search {
  display: none;
  border: 1px solid #DEDEDE;
  background: #FFFFFF;
  width: 100%;
  border-radius: 10px;
}

.connection__search li {
  padding: 10px;
  border-bottom: 1px solid #DEDEDE;
  cursor: pointer;
}

.connection__search li:last-child {
  border-bottom: none;
}

.connection__search.active {
  display: block;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -120px;
  z-index: 100;
}

.connection__organization {
  margin-bottom: 10px;
}

.connection__organization input {
  margin-bottom: 10px;
}

.connection__registration {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .connection__registration {
    display: block;
  }
}

.connection__btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  width: 268px;
  max-width: 100%;
  height: 60px;
  background: #2B4074;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 32px;
}

.connection__btn:hover {
  background: #334779;
}

.connection__btn:hover img {
  transform: translateX(10px);
}

.connection__btn img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: 16px;
  transition: 500ms;
}

@media only screen and (max-width: 767px) {
  .connection__btn {
    margin-bottom: 20px;
  }
}

.connection__link {
  display: flex;
  font-weight: 600;
  color: #2B4074;
}

.connection__text {
  max-width: 468px;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .connection {
    background-size: 100% 740px;
    padding-top: 50px;
  }
}

/* Footer */
.footer {
  background: #2B4074;
}

.footer__inner {
  padding: 40px 0;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .footer__inner {
    padding: 20px 0;
  }
}

.footer__logo {
  width: 162px;
  flex-shrink: 0;
  margin-right: 119px;
}

@media only screen and (max-width: 1336px) {
  .footer__logo {
    width: 130px;
    margin-right: 75px;
  }
}

@media only screen and (max-width: 991px) {
  .footer__logo {
    width: 100px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}

.footer__info {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 767px) {
  .footer__info {
    display: block;
  }
}

.footer__location {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  margin-right: 30px;
}

.footer__location img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 8px;
}

@media only screen and (max-width: 991px) {
  .footer__location {
    margin-right: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__location {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer__place {
  font-weight: 500;
  font-size: 13px;
}

.footer__place span {
  display: block;
  max-width: 216px;
  font-weight: 600;
  line-height: 112%;
  margin-bottom: 8px;
  font-size: 16px;
}

@media only screen and (max-width: 1336px) {
  .footer__place span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .footer__place span {
    font-size: 13px;
  }
}

@media only screen and (max-width: 991px) {
  .footer__place {
    font-size: 12px;
  }
}

.footer__phone {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #FFFFFF;
  margin-right: 108px;
}

.footer__phone:hover {
  text-decoration: underline;
}

.footer__phone img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
}

@media only screen and (max-width: 1336px) {
  .footer__phone {
    font-size: 14px;
    margin-right: 90px;
  }
}

@media only screen and (max-width: 991px) {
  .footer__phone {
    font-size: 13px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__phone {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer__mail {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #FFFFFF;
}

.footer__mail:hover {
  text-decoration: underline;
}

.footer__mail img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
}

@media only screen and (max-width: 1336px) {
  .footer__mail {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .footer__mail {
    font-size: 13px;
  }
}

/* Copiright */
.copiright {
  padding: 24px 0;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
