@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1170px;
  }
  
  .logo {
    margin-right: 82px;
  }
  
  .shares {
    &-item {
      width: 564px;
      margin: 0 21px;
    }
    &-content {
      padding: 24px 46px 0 21px;
      &__head {
        height: 72px;
      }
    }
  }
  
  .treatment {
    .head {
      padding-left: 0;
    }
    &-items {
      margin: 0 30px;
    }
  }
  
  .footer {
    padding-right: 0;
  }
  
  .about-doctor {
    margin: 0;
  }
  
  .reviews {
    &-items {
      margin: 0 160px;
      .slick-dots {
        margin-left: 0;
      }
    }
  }
  
  .news {
    &-item {
      width: 370px;
    }
    &-content {
      &__text {
        font-size: 22px;
      }
    }
  }
  
  .license-item {
    margin: 0 22px;
  }
  
  .indications-content {
    padding-left: 120px;
  }
  
  .service-items {
    padding: 20px 60px 0 100px;
  }
  
  .doctors {
    .head {
      padding-left: 0;
    }
    &-items {
      margin: 0 75px;
    }
  }
  
  .expert {
    &-container {
      margin-left: 100px;
    }
    &-dots {
      margin-left: -22px;
    }
    &-arrow {
      left: 0;
    }
    &-next {
      left: auto;
      right: 0;
    }
  }
  
  .vita {
    &-content {
      padding-left: 80px;
      p {
        margin-bottom: 16px;
      }
    }
  }
  
  .methods {
    &-content {
      padding-left: 48px;
      li {
        margin-bottom: 8px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
  
  .head {
    font-size: 52px;
    padding-left: 80px;
  }
  
  .slick-dots {
    bottom: -42px;
    li {
      width: 10px;
      height: 10px;
      margin: 0 7px;
    }
  }
  
  .logo {
    width: 226px;
    margin-right: 95px;
    a {
      width: 60px;
      height: 60px;
    }
    span {
      font-size: 18px;
      padding: 5px 0 0 16px;
    }
  }
  
  .nav {
    padding-bottom: 5px;
    &-list {
      margin-right: 34px;
      > a {
        font-size: 18px;
      }
    }
    &-sub {
      padding: 9px;
      left: -9px;
      li {
        margin-bottom: 4px;
        a {
          font-size: 16px;
        }
      }
    }
  }
  
  .header {
    padding: 9px 0;
    &-info {
      width: 206px;
      padding-right: 0;
      padding-bottom: 5px;
      &__tel {
        font-size: 26px;
        line-height: 1.1;
      }
      .address {
        a, span {
          font-size: 14px;
        }
      }
    }
  }
  
  .showcase {
    height: 650px;
    padding: 139px 0 0;
    &-body {
      max-width: 722px;
      bottom: 64px;
    }
    &__head {
      font-size: 56px;
    }
    &-text {
      width: 286px;
      font-size: 18px;
      margin-top: 28px;
    }
    img {
      right: -131px;
    }
    &-content {
      width: 500px;
      margin-left: 20px;
      h2 {
        font-size: 56px;
        margin-bottom: 50px;
      }
      a {
        margin-bottom: 67px;
        line-height: 50px;
        font-size: 13px;
        letter-spacing: 2.5px;
        padding: 0 19px;
      }
    }
    &-info {
      padding-left: 58px;
      &__head {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        margin-bottom: 4px;
      }
    }
  }
  
  .showcase-inner {
    .showcase {
      height: 500px;
    }
  }
  
  .showcase-services {
    margin-bottom: 48px;
  }
  
  .showcase-clinic {
    margin-bottom: 40px;
  }
  
  .showcase-doctor .showcase {
    &-body {
      max-width: 500px;
    }
    img {
      width: 702px;
    }
  }
  
  .showcase-doc {
    .showcase {
      &-body {
        max-width: 500px;
      }
      img {
        width: 403px;
      }
    }
  }
  
  .main-services {
    margin-top: -88px;
  }
  
  .services {
    margin-bottom: 45px;
    &-item {
      height: 200px;
      padding: 0 29px;
      &__head {
        font-size: 26px;
        margin-bottom: 26px;
      }
      &__descr {
        line-height: 1.3;
        font-size: 14px;
      }
    }
  }
  
  .main-entry {
    width: 728px;
    padding: 18px 0 37px 32px;
    margin: 53px auto 35px;
    font-size: 48px;
    &:before {
      width: 420px;
      height: 160px;
      transform: translate(0);
      top: 0;
    }
    a {
      font-size: 48px;
    }
  }
  
  .main-shares {
    padding: 34px 0 33px;
    .head {
      margin-bottom: 25px;
    }
  }
  
  .shares {
    &-items {
      margin-bottom: 24px;
      .slick {
        &-arrow {
          width: 60px;
          height: 60px;
          margin-top: 0;
          left: -32px;
          img {
            width: 12px;
          }
        }
        &-next {
          left: auto;
          right: -31px;
          padding: 0 14px 0 0;
        }
        &-dots {
          bottom: -42px;
          li {
            width: 10px;
            height: 10px;
            margin: 0 7px;
          }
        }
      }
    }
    &-item {
      width: 469px;
      margin: 0 21px;
    }
    &-img {
      width: 51%;
    }
    &-content {
      width: 49%;
      padding: 24px 32px 0 22px;
      &__head {
        height: 66px;
        font-size: 14px;
      }
      &__text {
        max-height: 80px;
        font-size: 18px;
      }
      &__link {
        font-size: 13px;
        letter-spacing: 2.5px;
        bottom: 32px;
        left: 21px;
      }
    }
    &-info {
      font-size: 18px;
      padding-right: 22px;
      a {
        font-size: 18px;
      }
    }
  }
  
  .treatment {
    padding: 35px 0 68px;
    .head {
      padding-left: 80px;
      margin-bottom: 22px;
      line-height: 1.2;
    }
    &-items {
      margin: 0 0 0 130px;
    }
    &-item {
      margin-right: 52px;
    }
    &-content {
      padding-bottom: 0;
      p {
        font-size: 14px;
        margin-bottom: 28px;
      }
      ul li {
        font-size: 14px;
        margin-bottom: 25px;
      }
    }
    &-info {
      font-size: 26px;
      bottom: 22px;
      left: 28px;
      line-height: 1.2;
    }
  }
  
  .journal {
    padding: 39px 0 22px;
    .swiper {
      &-pagination {
        bottom: 23px;
        &-bullet {
          width: 10px;
          height: 10px;
          margin: 0 7px !important;
        }
      }
      &-container {
        margin-bottom: 25px;
      }
    }
    .head {
      margin-bottom: 28px;
    }
    &-content {
      padding: 17px 20px 23px;
      &__date {
        font-size: 14px;
        margin-bottom: 13px;
      }
      &__text {
        font-size: 18px;
      }
    }
    &-info {
      font-size: 18px;
      padding-right: 20px;
      a {
        font-size: 18px;
      }
    }
  }
  
  .callback {
    width: 320px;
    padding: 29px 34px 30px;
    &-wrap {
      height: 420px;
    }
    &__head {
      font-size: 28px;
      margin-bottom: 17px;
    }
    &__address {
      font-size: 18px;
    }
    &__tel {
      font-size: 18px;
      margin-bottom: 18px;
    }
    &-schedule {
      font-size: 14px;
    }
  }
  
  .footer {
    padding: 30px 58px 28px 0;
    &-elem {
      width: 38%;
    }
    &-body {
      width: 48%;
    }
    &-logo {
      width: 108px;
      height: 109px;
    }
    &-content {
      width: 182px;
    }
    &-requisites {
      margin-bottom: 11px;
      li {
        margin-bottom: 5px;
        font-size: 14px;
        &.title {
          font-size: 14px;
        }
      }
    }
    &-links li {
      a {
        font-size: 14px;
      }
    }
    &-menu li {
      a {
        font-size: 18px;
      }
    }
    &-info {
      width: 223px;
      &__tel {
        font-size: 24px;
      }
      &__address {
        font-size: 18px;
        margin-bottom: 13px;
      }
      ul li {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
  
  .bottom {
    padding: 14px 5px 14px 0;
    &-item {
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
  }
  
  .stock-inform {
    padding: 45px 0 64px 80px;
    ul {
      width: 300px;
      li {
        font-size: 18px;
        margin-bottom: 29px;
      }
    }
  }
  
  .stock-entry .main-entry {
    margin: 60px auto 38px;
  }
  
  .about-doctor {
    padding-bottom: 50px;
    &-link {
      width: 320px;
      height: 240px;
      img {
        width: 100%;
      }
    }
    &-content {
      .head {
        font-size: 42px;
        margin-bottom: 35px;
      }
    }
    &-descr {
      padding-left: 130px;
      p {
        font-size: 18px;
      }
      span {
        font-size: 14px;
      }
    }
    &-body {
      margin-right: 20px;
      margin-bottom: 44px;
    }
    &-content {
      padding-right: 38px;
    }
    &-items {
      padding-left: 0;
    }
    &-item {
      width: 355px;
    }
    &-img {
      width: 60px;
      height: 58px;
    }
    &-elem {
      padding: 16px 0 0 26px;
    }
    &-info {
      width: 260px;
      left: 26px;
    }
    &__head {
      font-size: 18px;
      margin-bottom: 13px;
    }
    &__text {
      font-size: 14px;
    }
  }
  
  .stock-inform {
    padding: 45px 0 50px 34px;
  }
  
  .reviews {
    padding: 32px 0 82px;
    .head {
      margin-bottom: 24px;
    }
    &-items {
      margin: 0 100px 0 180px;
      .slick {
        &-arrow {
          top: 28px;
          left: -50px;
        }
        &-next {
          left: auto;
          right: -46px;
        }
        &-dots {
          bottom: -51px;
          margin-left: -42px;
          li {
            width: 10px;
            height: 10px;
            margin: 0 7px;
          }
        }
      }
    }
    &-descr {
      font-size: 18px;
      margin-bottom: 28px;
    }
    &-info {
      width: 380px;
      img {
        width: 64px;
        height: 64px;
      }
    }
    &-content {
      padding-left: 20px;
      h2 {
        font-size: 14px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  
  .news {
    padding-bottom: 52px;
    &-nav {
      margin-bottom: 35px;
      li {
        margin-right: 25px;
        a {
          font-size: 18px;
        }
      }
    }
    &-items {
      margin-bottom: 0;
    }
    &-item {
      width: 310px;
      margin-right: 25px;
      margin-bottom: 42px;
    }
    &-content {
      padding: 16px 10px 0 20px;
      &-top {
        .date {
          font-size: 14px;
        }
        .label {
          font-size: 14px;
          padding: 2px 6px;
        }
      }
      &__text {
        font-size: 18px;
      }
    }
    &-link a {
      font-size: 18px;
    }
  }
  
  .license {
    padding: 60px 0 80px;
    &-items {
      margin: 0 58px;
      .slick {
        &-dots {
          bottom: -42px;
        }
      }
    }
    &-item {
      width: 240px;
      margin: 0 35px;
    }
  }
  
  .license-entry .main-entry {
    margin: 57px auto 4px;
  }
  .license-treatment .treatment {
    padding-bottom: 17px;
  }
  
  .programs {
    padding: 37px 0 51px;
    &-head {
      font-size: 52px;
    }
    &-item {
      margin-bottom: 16px;
    }
    &-content {
      padding-top: 17px;
      table {
        width: 736px;
        margin-left: 50px;
        tbody tr {
          &.programs-info td {
            padding: 15px 0;
          }
          td {
            font-size: 14px;
            padding: 9px 0;
            &:last-child {
              width: 243px;
            }
            b, a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  
  .indications {
    margin-bottom: 40px;
    &-wrap {
      .head {
        margin: -2px 0 22px 0;
        padding-left: 75px;
      }
    }
    &-content {
      padding: 19px 56px 0 130px;
      p {
        font-size: 18px;
        margin-bottom: 26px;
      }
    }
    &-info {
      width: 380px;
      padding: 22px 32px;
      margin-right: 20px;
      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      ul {
        li {
          font-size: 14px;
          padding-left: 17px;
          margin-bottom: 12px;
        }
      }
    }
  }
  
  .service {
    &-wrap {
      padding-top: 40px;
      padding-bottom: 46px;
      .head {
        line-height: 1.1;
        margin-bottom: 32px;
      }
    }
    &-img {
      width: 400px;
    }
    &-items {
      padding: 18px 76px 0 132px;
    }
    &-item {
      margin-bottom: 21px;
      &__head {
        font-size: 18px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }
  
  .services-reviews {
    margin-bottom: 48px;
  }
  
  .doctors {
    padding: 33px 0 36px;
    .head {
      padding-left: 80px;
      margin-bottom: 32px;
    }
    &-items {
      margin: 0 40px 0 115px;
    }
    &-item {
      width: 238px;
      margin-right: 49px;
      margin-bottom: 53px;
    }
    &-content {
      padding-top: 10px;
      &__head {
        font-size: 18px;
      }
      &__position {
        font-size: 14px;
      }
    }
    &-link {
      margin-left: 54px;
      margin-top: -17px;
      a {
        font-size: 18px;
      }
    }
  }
  
  .medication {
    padding-bottom: 36px;
    &-wrap {
      .head {
        line-height: 1.1;
        margin-bottom: 35px;
      }
    }
    &-img {
      width: 44px;
      margin-bottom: 12px;
    }
    &-info {
      width: 160px;
      padding: 18px 0 0 36px;
      &:before {
        width: 232px;
        height: 210px;
        top: -12px;
      }
      a {
        font-size: 14px;
        line-height: 1.5;
      }
    }
    &-elems {
      margin-bottom: 29px;
    }
    &-elem {
      margin-bottom: 41px;
      p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 10px;
      }
    }
    &-item {
      width: 280px;
      li {
        font-size: 18px;
        margin-bottom: 27px;
        line-height: 1.4;
      }
    }
  }
  
  .expert {
    padding: 32px 0;
    margin-bottom: 52px;
    .head {
      margin-bottom: 33px;
    }
    &-items {
      padding-bottom: 30px;
    }
    &-info {
      padding-right: 22px;
      span, a {
        margin-right: 0;
        font-size: 18px;
      }
    }
    &-container {
      width: 806px;
      margin-left: 117px;
    }
    &-arrow {
      top: 97px;
      left: 64px;
    }
    &-next {
      left: auto;
      right: 10px;
    }
    &-dots {
      margin-left: -40px;
      bottom: -24px;
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
    }
  }
  
  .vita {
    &-wrap {
      padding: 41px 0 44px;
      .head {
        margin-bottom: 25px;
      }
    }
    &-info {
      width: 400px;
    }
    &-content {
      padding: 0 50px 0 130px;
      p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 25px;
      }
    }
  }
  
  .biography {
    padding-bottom: 0;
    .head {
      margin-bottom: 31px;
    }
    .vita {
      align-items: flex-start;
      &-content {
        padding-top: 0;
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &-info {
        padding: 29px 27px 34px;
        h2 {
          font-size: 26px;
          margin-bottom: 17px;
        }
        ul li {
          font-size: 18px;
          padding-left: 24px;
          margin-bottom: 19px;
          &:before {
            width: 12px;
            top: 12px;
            left: 2px;
          }
        }
      }
    }
  }
  
  .methods {
    &-wrap {
      padding: 37px 0 64px;
      .head {
        margin-bottom: 26px;
      }
    }
    &-img {
      width: 400px;
    }
    &-content {
      padding: 5px 20px 0 81px;
      li {
        font-size: 18px;
        margin-bottom: 11px;
        padding-left: 22px;
        &:before {
          width: 12px;
          top: 15px;
        }
      }
    }
  }
  
  .directions {
    .methods {
      margin-left: 64px;
      &-content {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 730px;
  }
  
  .head {
    padding-left: 34px;
  }
  
  .logo {
    width: auto;
    margin-right: 65px;
    span {
      display: none;
    }
  }
  
  .header {
    &-content {
      width: 100%;
    }
    &-info {
      padding-bottom: 5px;
    }
  }
  
  .nav {
    padding-bottom: 5px;
  }
  
  .showcase {
    height: 650px;
    padding: 82px 0 0;
    &-body {
      left: 30px;
    }
    &-content {
      width: 374px;
      margin-left: 18px;
      h2 {
        margin-bottom: 40px;
        line-height: 1.15;
      }
      a {
        line-height: 52px;
        margin-bottom: 50px;
        font-size: 15px;
        letter-spacing: 1.5px;
        padding: 0 18px;
      }
    }
    &-info {
      padding-left: 52px;
      &__head {
        font-size: 18px;
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 5px;
      }
    }
  }
  
  .showcase-doctor {
    .showcase {
      img {
        right: -260px;
      }
    }
  }
  
  .showcase-doc {
    .showcase {
      img {
        right: -94px;
      }
    }
  }
  
  .services-programs .programs-head {
    margin-left: 0;
  }
  
  .services {
    margin-bottom: 33px;
    &-items {
      margin: 0 36px;
    }
    &-item {
      width: 50%;
      padding: 0 31px;
      &:nth-child(3) {
        border-top: none;
      }
      &__head {
        font-size: 26px;
        margin-bottom: 28px;
      }
      &__descr {
        line-height: 1.2;
      }
    }
  }
  
  .main-entry {
    padding: 16px 0 32px 32px;
    margin-bottom: 42px;
    font-size: 48px;
    a {
      font-size: 48px;
    }
  }
  
  .main-shares {
    .head {
      padding-left: 35px;
    }
  }
  
  .shares {
    &-items {
      width: 470px;
      margin: 0 auto 24px;
      .slick {
        &-arrow {
          width: auto;
          height: auto;
          left: -97px;
          padding-left: 0;
          margin-top: -8px;
        }
        &-next {
          left: auto;
          right: -97px;
          padding-right: 0;
        }
      }
    }
    &-info {
      padding-right: 3px;
    }
  }
  
  .treatment {
    padding-bottom: 54px;
    .head {
      padding: 0 35px;
    }
    &-items {
      flex-direction: column;
      margin: 0 0 0 113px;
    }
    &-item {
      width: 100%;
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-content {
      padding-right: 44px;
      padding-bottom: 4px;
      p {
        margin-bottom: 26px;
      }
    }
    &-img {
      width: 400px;
      margin-left: 20px;
    }
  }
  
  .journal {
    padding-bottom: 24px;
    .head {
      padding-left: 34px;
    }
    &-items {
      margin-bottom: 0;
    }
    &-info {
      padding-right: 0;
      position: absolute;
      bottom: 22px;
      right: 2px;
    }
    .swiper {
      &-container {
        width: 650px;
        padding-bottom: 19px;
      }
    }
  }
  
  .footer {
    padding-right: 0;
    &-body {
      width: 48.5%;
    }
    &-elem {
      width: 46%;
    }
  }
  
  .bottom {
    flex-direction: column;
    padding: 14px 0 8px 0;
    &-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .about-doctor {
    &-head {
      display: block;
    }
    &-content {
      .head {
        display: none;
      }
    }
    &-descr {
      padding-left: 54px;
    }
    &-body {
      margin-right: 0;
      margin-bottom: 39px;
    }
    &-link {
      margin-top: 0;
    }
    &-items {
      padding-left: 50px;
    }
    &-item {
      margin: 0;
      &.first {
        width: 320px;
      }
    }
    &-elem {
      padding-left: 22px;
    }
  }
  
  .reviews {
    padding-bottom: 67px;
    .head {
      padding-left: 33px;
    }
    &-items {
      margin: 0 74px 0 113px;
      .slick {
        &-arrow {
          left: -60px;
        }
        &-next {
          left: auto;
          right: -54px;
        }
        &-dots {
          bottom: -40px;
          margin-left: -22px;
        }
      }
    }
  }
  
  .news {
    padding-top: 34px;
    &-nav {
      padding-left: 0;
      margin-bottom: 28px;
    }
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 13px 30px;
      &:nth-child(3n) {
        margin: 0 13px 30px;
      }
    }
  }
  
  .license-items {
    margin: 0 90px;
  }
  
  .license-treatment {
    .treatment {
      &-item {
        margin-bottom: 0;
      }
      &-content p, ul li {
        margin-bottom: 20px;
      }
    }
  }
  
  .programs {
    padding-bottom: 62px;
    &-head {
      font-size: 51px;
    }
    &-items {
      margin: 0;
    }
    &-item {
      margin-bottom: 17px;
    }
    &-content {
      table {
        width: 695px;
        margin-left: 36px;
        tbody tr {
          td {
            &:last-child {
              width: 238px;
            }
          }
        }
      }
    }
  }
  
  .indications {
    &-wrap {
      .head {
        margin-top: 0;
        padding-left: 0;
      }
    }
    &-content {
      padding: 16px 50px 0 0;
    }
    &-info {
      width: 340px;
      margin-right: 0;
      ul li:before {
        top: 6px;
      }
    }
  }
  
  .service {
    &-wrap {
      .head {
        padding-left: 0;
      }
    }
    &-items {
      padding: 16px 60px 0 0;
    }
    &-item {
      margin-bottom: 14px;
      &__head {
        margin-bottom: 2px;
        padding-right: 0;
        line-height: 1.2;
      }
      &__text {
        line-height: 1.3;
      }
    }
    &-img {
      width: 300px;
    }
  }
  
  .services-reviews {
    margin-bottom: 30px;
  }
  
  .doctors {
    .head {
      padding-left: 0;
    }
    &-items {
      margin: 0;
    }
    &-item {
      width: 234px;
      margin-right: 14px;
      margin-bottom: 44px;
    }
    &-link {
      margin: 0;
    }
  }
  
  .medication {
    padding-bottom: 33px;
    &-wrap {
      .head {
        padding-left: 34px;
      }
    }
    &-info {
      &:before {
        width: 232px;
        height: 240px;
      }
    }
    &-content {
      padding-left: 35px;
    }
    &-elem {
      padding-right: 0;
      margin-bottom: 45px;
    }
    &-item {
      width: 262px;
      margin-right: 0;
      li {
        line-height: 1.45;
      }
    }
  }
  
  .expert {
    padding-bottom: 26px;
    margin-bottom: 47px;
    .head {
      padding-left: 30px;
    }
    &-items {
      padding-bottom: 33px;
    }
    &-info {
      padding-right: 0;
    }
    &-container {
      width: 512px;
    }
    &-arrow {
      left: 34px;
    }
    &-next {
      left: auto;
      right: 34px;
    }
  }
  
  .vita {
    &-wrap {
      overflow: hidden;
      .head {
        padding-left: 30px;
      }
    }
    &-info {
      margin-right: -150px;
    }
    &-content {
      padding: 0 20px 0 54px;
    }
  }
  
  .biography {
    .vita {
      flex-direction: column;
      &-content {
        padding: 0 0 0 114px;
        margin-bottom: 35px;
      }
      &-info {
        width: 420px;
        margin-left: 116px;
        padding-bottom: 8px;
      }
    }
  }
  
  .methods {
    &-wrap {
      overflow: hidden;
      .head {
        padding-left: 33px;
      }
    }
    &-img {
      margin: 0 0 0 -156px;
    }
    &-content {
      padding: 3px 0 0 30px;
    }
  }
  
  .directions {
    .methods {
      margin-left: 0;
      &-img {
        margin: 0 -150px 0 0;
      }
      &-content {
        padding: 0 28px 0 57px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .header {
    flex-direction: row;
    padding: 14px 57px 14px 10px;
    &-wrap .container {
      max-width: 100%;
    }
    &-content {
      justify-content: center;
      align-items: center;
    }
    &-info {
      &__tel {
        font-size: 26px;
      }
      .address {
        line-height: 1;
        a, span {
          font-size: 16px;
        }
      }
    }
  }
  
  .burger {
    display: block;
    width: 34px;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    margin-top: 5px;
    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;
      span {
        position: relative;
        display: block;
        width: 34px;
        height: 4px;
        background-color: #d54a53;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          content: '';
          width: 34px;
          height: 4px;
          position: absolute;
          left: 0;
          background-color: #d54a53;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }
        &:before {
          top: -13px;
        }
        &:after {
          top: 13px;
          width: 26px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(8px, 9px);
            transform: rotate(45deg) translate(8px, 9px);
          }
          &:after {
            width: 34px;
            -webkit-transform: rotate(-45deg) translate(8px, -10px);
            transform: rotate(-45deg) translate(8px, -10px);
          }
        }
      }
    }
  }
  
  .nav {
    background-color: #fff;
    padding: 5px 0;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
    &-list {
      width: 100%;
      text-align: center;
      margin: 4px 0;
      > a {
        span {
          margin-right: 0;
        }
        img {
          display: none;
        }
      }
    }
    &-sub {
      display: none;
    }
  }
  
  .showcase {
    height: 360px;
    padding: 42px 0 0;
    &__head {
      font-size: 34px;
    }
    &-text {
      width: 260px;
      font-size: 14px;
      margin-top: 22px;
    }
    &-content {
      width: 340px;
      margin-left: 0;
      h2 {
        font-size: 38px;
        margin-bottom: 28px;
      }
    }
    &-info {
      padding-left: 0;
      &__head {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  
  .showcase-inner .showcase {
    height: 440px;
    &-body {
      bottom: 70px;
      left: 8px;
    }
  }
  
  .showcase-doctor .showcase {
    .showcase {
      img {
        width: 540px;
      }
      &-body {
        max-width: 340px;
        top: 33px;
        left: 0;
      }
    }
  }
  
  .showcase-doc {
    .showcase {
      &-body {
        max-width: 340px;
        top: 32px;
        left: 0;
      }
    }
  }
  
  .main-services {
    margin-top: 20px;
  }
  
  .services {
    &-items {
      margin: 0;
    }
    &-item {
      width: 50%;
    }
  }
  
  .services-programs .programs {
    padding-bottom: 0;
    &-content {
      padding-top: 24px;
    }
    &-item {
      margin-bottom: 18px;
    }
  }
  
  .main-entry {
    width: 100%;
    font-size: 32px;
    margin: 40px 0 24px;
    &:before {
      width: 330px;
      height: 114px;
    }
    a {
      font-size: 32px;
    }
  }
  
  .shares-items .slick {
    &-arrow {
      left: -28px;
    }
    &-next {
      left: auto;
      right: -24px;
    }
    &-dots {
      left: 0;
      transform: translateX(0);
    }
  }
  
  .treatment {
    padding-bottom: 36px;
    .head {
      padding: 0;
      font-size: 42px;
      line-height: 1;
    }
    &-items {
      margin-left: 0;
    }
    &-item {
      margin-right: 0;
      margin-bottom: 24px;
    }
    &-content {
      padding-right: 0;
      p {
        margin-bottom: 20px;
      }
      ul li {
        margin-bottom: 16px;
        &:before {
          top: 10px;
        }
      }
    }
  }
  
  .journal {
    .swiper {
      &-container {
        width: 300px;
      }
      &-pagination {
        width: auto;
        position: absolute;
        bottom: 20px;
        left: 0;
        transform: translate(0);
      }
    }
  }
  
  .footer {
    flex-direction: column;
    padding: 16px 0 22px;
    &-logo {
      width: 80px;
      height: 80px;
      margin-top: 0;
    }
    &-elem {
      width: 100%;
      margin-bottom: 15px;
      padding-right: 12px;
    }
    &-body {
      width: 100%;
      flex-direction: column;
    }
    &-requisites {
      display: none;
    }
    &-menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 21px;
      li {
        margin-bottom: 0;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-info {
      width: 100%;
      text-align: center;
    }
    &-links {
      padding-top: 12px;
      li {
        &.title, &.requisites {
          display: inline-block;
        }
      }
    }
  }
  
  .about-doctor {
    padding-bottom: 38px;
    &-body {
      flex-direction: column;
      margin-bottom: 24px;
    }
    &-head {
      font-size: 32px;
      padding: 0;
      margin-bottom: 18px;
    }
    &-descr {
      padding-left: 0;
      margin-bottom: 20px;
      p {
        margin-bottom: 14px;
      }
    }
    &-link {
      width: 300px;
      height: 200px;
    }
    &-info {
      width: 160px;
      font-size: 16px;
      left: 20px;
      bottom: 27px;
    }
    &-img {
      width: 52px;
      height: 52px;
    }
    &-elem {
      padding-top: 0;
    }
    &-items {
      padding-left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-item {
      &.first {
        width: 355px;
        margin-bottom: 16px;
      }
    }
    &__head {
      margin-bottom: 6px;
    }
  }
  
  .reviews {
    padding: 18px 0 49px;
    .head {
      font-size: 36px;
      padding-left: 0;
      margin-bottom: 17px;
    }
    &-items {
      margin: 0 20px;
      .slick {
        &-arrow {
          top: 32px;
          left: -20px;
          img {
            width: 12px;
          }
        }
        &-next {
          left: auto;
          right: -20px;
        }
        &-dots {
          margin-left: 0;
          bottom: -28px;
        }
      }
    }
    &-descr {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 22px;
    }
    &-content {
      h2 {
        font-size: 12px;
      }
      p {
        font-size: 12px;
        line-height: 1.45;
      }
    }
  }
  
  .news {
    &-nav {
      li {
        margin-right: 22px;
      }
    }
    &-item {
      width: 258px;
      margin: 0 6px 26px;
      &:nth-child(3n) {
        margin: 0 6px 26px;
      }
    }
    &-content {
      padding: 12px 6px 0;
      &__text {
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
  
  .license {
    &-items {
      margin: 0 16px;
      .slick {
        &-arrow {
          left: -22px;
        }
        &-next {
          left: auto;
          right: -22px;
        }
      }
    }
    &-item {
      margin: 0px 14px;
    }
  }
  
  .programs {
    padding: 28px 0 38px;
    &-head {
      font-size: 24px;
      &:after {
        background: url(../images/programs-arrow320.png) no-repeat left;
        width: 18px;
        height: 10px;
        margin-top: 0;
        right: -28px;
      }
    }
    &-item {
      margin-bottom: 18px;
    }
    &-content {
      padding-top: 5px;
      table {
        width: 100%;
        margin-left: 0;
        tbody tr {
          &.programs-info td {
            padding: 10px 0;
          }
          td {
            font-size: 14px;
            padding: 11px 0 12px;
            line-height: 1.3;
            &:first-child {
              padding-right: 3px;
            }
            &:last-child {
              width: 70px;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  
  .indications {
    flex-direction: column;
    &-wrap .head {
      font-size: 32px;
    }
    &-content {
      padding: 0;
      margin-bottom: 23px;
      p {
        margin-bottom: 14px;
        line-height: 1.3;
      }
    }
    &-info {
      margin: 0 auto;
    }
  }
  
  .service {
    flex-direction: column;
    &-wrap {
      padding-top: 28px;
      padding-bottom: 40px;
      .head {
        font-size: 32px;
        margin-bottom: 24px;
      }
    }
    &-items {
      padding: 0;
      margin-bottom: 23px;
    }
    &-img {
      margin: 0 auto;
    }
  }
  
  .doctors {
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 14px 36px;
      &:nth-child(3n) {
        margin: 0 14px 36px;
      }
    }
  }
  
  .medication {
    flex-direction: column;
    &-wrap {
      .head {
        padding-left: 0;
        margin-bottom: 38px;
      }
    }
    &-img {
      flex-shrink: 0;
      width: 40px;
    }
    &-info {
      width: 180px;
      display: flex;
      align-items: flex-start;
      margin-bottom: 22px;
      padding: 10px 0 0 20px;
      &:before {
        width: 140px;
        height: 90px;
      }
      a {
        margin-left: 22px;
        font-size: 14px;
      }
    }
    &-elems {
      margin-bottom: 37px;
    }
    &-elem {
      margin-bottom: 25px;
      p {
        margin-bottom: 22px;
      }
    }
    &-content {
      padding-left: 0;
    }
    &-items {
      flex-direction: column;
    }
    &-item {
      width: 100%;
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
      li {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
  }
  
  .expert {
    padding-top: 21px;
    padding-bottom: 18px;
    margin-bottom: 22px;
    .head {
      padding-left: 0;
      margin-bottom: 19px;
    }
    &-info {
      padding-right: 5px;
      span, a {
        font-size: 14px;
      }
    }
    &-items {
      padding-bottom: 20px;
      .doctors-content__head {
        padding-right: 0;
      }
      .doctors-item {
        margin-bottom: 0;
      }
    }
    &-container {
      width: 234px;
      margin: 0 auto;
    }
    &-arrow {
      left: 0;
    }
    &-next {
      left: auto;
      right: 0;
    }
    &-dots {
      margin-left: 0;
      left: 0;
    }
  }
  
  .vita {
    flex-direction: column;
    &-wrap {
      padding: 16px 0 28px;
      .head {
        font-size: 34px;
        padding-left: 0;
        margin-bottom: 18px;
      }
    }
    &-info {
      width: 300px;
      margin: 0 auto;
    }
    &-content {
      padding: 0;
      margin-bottom: 24px;
      p {
        line-height: 1.6;
        margin-bottom: 22px;
      }
    }
  }
  
  .biography {
    padding-bottom: 0;
    .vita {
      &-content {
        padding: 0;
        margin-bottom: 27px;
      }
      &-info {
        margin: 0 auto;
        padding: 23px 21px 12px;
        h2 {
          font-size: 20px;
          margin-bottom: 11px;
        }
        ul li {
          font-size: 16px;
          padding-left: 21px;
          margin-bottom: 12px;
          &:before {
            top: 10px;
          }
        }
      }
    }
  }
  
  .methods {
    flex-direction: column;
    margin: 0;
    &-wrap {
      padding: 22px 0 36px;
      .head {
        font-size: 34px;
        padding-left: 0;
        line-height: 1.15;
        margin-bottom: 9px;
      }
    }
    &-img {
      width: 300px;
      margin: 0 auto 10px;
    }
    &-content {
      padding: 0;
      li {
        font-size: 16px;
        margin-bottom: 9px;
        padding-left: 18px;
        &:before {
          top: 11px;
        }
      }
    }
  }
  
  .directions {
    .methods {
      &-img {
        margin: 0 auto;
      }
      &-content {
        padding: 0;
        margin-bottom: 18px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  
  .head {
    font-size: 34px;
    padding-left: 0;
  }
  
  .logo {
    a {
      width: 50px;
      height: 50px;
    }
  }
  
  .header {
    &-wrap .container {
      padding: 0;
    }
    &-info {
      width: 180px;
      padding-bottom: 0;
      &__tel {
        font-size: 22px;
      }
      .address {
        a, span {
          font-size: 14px;
        }
      }
    }
  }
  
  .showcase {
    height: 442px;
    padding: 31px 0 0;
    img {
      right: -152px;
      min-width: 446px;
      height: 316px;
      bottom: -34px;
    }
    &-text {
      width: 100%;
    }
    &-content {
      width: 100%;
      h2 {
        font-size: 34px;
        margin-bottom: 51px;
      }
      a {
        display: none;
        line-height: 46px;
        margin-bottom: 18px;
        font-size: 15px;
        letter-spacing: 0;
        padding: 0 14px;
      }
    }
    &-info {
      width: 132px;
      &__head {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 4px;
      }
      p {
        font-size: 14px;
        margin-bottom: 2px;
        line-height: 1.45;
      }
    }
  }
  
  .showcase-clinic {
    margin-bottom: 25px;
  }
  
  .showcase-doctor {
    .showcase {
      &-text {
        width: 140px;
        margin-top: 33px;
      }
      img {
        right: -184px;
        width: 480px;
        height: 310px;
        min-width: 480px;
      }
    }
  }
  
  .showcase-doc {
    .showcase {
      &-text {
        width: 140px;
        margin-top: 33px;
      }
      img {
        right: -41px;
        bottom: 0;
        width: 250px;
        height: auto;
        min-width: auto;
      }
    }
  }
  
  .main-services {
    margin-top: 10px;
  }
  
  .services {
    &-items {
      border: none;
      border-bottom: 1px solid #a6ae05;
    }
    &-item {
      width: 100%;
      height: auto;
      padding: 33px 18px 29px;
      border: 1px solid #a6ae05 !important;
      border-bottom: none !important;
      &__head {
        font-size: 20px;
        margin-bottom: 12px;
      }
      &__descr {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
  
  .main-entry {
    padding: 24px 0 24px 20px;
    margin: 36px 0 31px;
    font-size: 34px;
    &:before {
      width: 150px;
      height: 220px;
    }
    a {
      font-size: 34px;
      line-height: 1.5;
    }
  }
  
  .main-shares {
    padding: 26px 0 36px;
    .head {
      font-size: 34px;
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  
  .shares {
    &-items {
      width: 300px;
      margin-bottom: 26px;
      .slick {
        &-arrow {
          width: 50px;
          height: 50px;
          top: 92px;
          transform: translateY(0);
          left: -26px;
          padding-left: 16px;
          margin-top: 0;
        }
        &-next {
          left: auto;
          right: -25px;
          padding: 0 16px 0 0;
        }
        &-dots {
          bottom: -40px;
        }
      }
    }
    &-item {
      width: 300px;
      flex-direction: column;
    }
    &-img {
      width: 100%;
      height: 220px;
    }
    &-content {
      width: 100%;
      padding: 25px 18px 22px;
      &__head {
        height: auto;
        display: flex;
        align-items: center;
        line-height: 1;
        margin-bottom: 15px;
        span {
          margin-right: 3px;
        }
      }
      &__text {
        max-height: 100%;
        font-size: 20px;
        margin-bottom: 25px;
      }
      &__link {
        position: static;
        letter-spacing: 2px;
        margin-left: 2px;
      }
    }
    &-info {
      font-size: 14px;
      a {
        font-size: 14px;
      }
    }
  }
  
  .treatment {
    padding: 29px 0 41px;
    .head {
      font-size: 34px;
      line-height: 1.25;
      margin-bottom: 24px;
    }
    &-item {
      margin-bottom: 28px;
    }
    &-img {
      margin-left: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &-content {
      p {
        line-height: 1.55;
        margin-bottom: 26px;
      }
      ul li {
        margin-bottom: 26px;
      }
    }
    &-info {
      width: 166px;
      font-size: 16px;
      bottom: 28px;
      left: 18px;
    }
  }
  
  .journal {
    padding: 31px 0 28px;
    .head {
      padding-left: 10px;
      margin-bottom: 22px;
    }
    .swiper {
      &-container {
        padding-bottom: 17px;
      }
      &-pagination {
        bottom: 28px;
        &-bullet {
          margin: 0 7px !important;
        }
      }
    }
    &-content {
      padding: 19px 20px 51px;
    }
    &-info {
      bottom: 30px;
      right: 4px;
      font-size: 14px;
      a {
        font-size: 14px;
      }
    }
  }
  
  .callback {
    width: 100%;
    padding: 17px 21px 23px;
    &-map {
      display: none;
    }
    &-wrap {
      height: auto;
    }
    &__head {
      font-size: 24px;
      margin-bottom: 6px;
    }
    &__address {
      font-size: 20px;
    }
    &__tel {
      font-size: 20px;
      margin-bottom: 8px;
    }
    &-schedule {
      margin-bottom: 6px;
    }
    &__link {
      display: inline-block;
    }
  }
  
  .footer {
    &-menu {
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-info {
      text-align: left;
    }
  }
  
  .bottom {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 13px;
    &-item {
      line-height: 1.5;
    }
  }
  
  .about-doctor {
    &-head {
      font-size: 24px;
      line-height: 1.3;
    }
    &-descr {
      p {
        font-size: 16px;
        margin-bottom: 28px;
        line-height: 1.45;
      }
      span {
        font-size: 14px;
      }
    }
    &-body {
      margin-bottom: 27px;
    }
    &-elem {
      padding-left: 15px;
    }
    &-img {
      width: 44px;
      height: 42px;
    }
    &-item {
      width: 100% !important;
    }
    &__head {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
  
  .stock-inform {
    padding: 32px 0 36px 0;
    ul {
      width: 100%;
      li {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  
  .reviews {
    &-info {
      width: 256px;
    }
  }
  
  .news {
    padding-top: 28px;
    padding-bottom: 38px;
    &-nav {
      margin-bottom: 20px;
      li {
        margin-right: 16px;
        a {
          font-size: 16px;
        }
      }
    }
    &-items {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-item {
      width: 300px;
      margin: 0 0 26px !important;
    }
  }
  
  .license {
    &-items {
      width: 260px;
      margin: 0 auto;
    }
    &-item {
      width: 260px;
      margin: 0;
    }
  }
  
  .programs {
    &-head:after {
      display: none;
    }
  }
  
  .indications {
    &-info {
      width: 100%;
      padding: 15px;
    }
  }
  
  .biography {
    .vita {
      &-info {
        width: 100%;
      }
    }
  }
}

