$pink: #d54a53;
$green: #a6ae05;

html {
  min-height: 100%;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  min-height: 100%;
  font: 400 18px 'FuturaNewDemi', sans-serif;
}

a {
  display: inline-block;
  font: 400 18px 'FuturaNewDemi', sans-serif;
  transition: 300ms;
  color: $pink;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.burger {
  display: none;
}

.head {
  color: $green;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 30px;
}

.container {
  max-width: 1260px;
  padding: 0;
  position: relative;
}

// Page

.page {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// Main

.main {
  &-wrapper {
    flex-grow: 10;
  }
  &-footer {
    flex-shrink: 0;
  }
}

// Slick

.slick-dots {
  position: absolute;
  bottom: -56px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  button {
    display: none;
  }
  li {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #e3e87f;
    margin: 0 10px;
    border-radius: 50%;
    transition: 300ms;
    &.slick-active {
      background-color: $pink;
    }
  }
}

// Logo

.logo {
  flex-shrink: 0;
  width: 290px;
  margin-right: 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    flex-shrink: 0;
    width: 75px;
    height: 75px;
  }
  span {
    flex-grow: 10;
    font-size: 24px;
    line-height: 1.2;
    padding: 6px 0 0 26px;
    color: #000;
  }
}

// Header

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 13px 0;
  &-content {
    flex-grow: 10;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &-info {
    width: 257px;
    padding: 0 3px 7px 0;
    &__tel {
      font-size: 32px;
      color: #000;
      &:hover {
        color: $pink;
      }
    }
    .address {
      font-family: 'FuturaNewBook';
      a {
        font-family: 'FuturaNewBook';
        line-height: 1;
        border-bottom: 1px solid $pink;
        margin-right: 4px;
        &:hover {
          color: $pink;
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

// Nav

.nav {
  padding-bottom: 8px;
  &-list {
    position: relative;
    margin-right: 46px;
    &:hover {
      a {
        color: #000;
        border-bottom: 1px solid transparent;
      }
      .nav-sub {
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    > a {
      line-height: 1;
      font-size: 24px;
      border-bottom: 1px solid $pink;
      &:hover {
        border-bottom: 1px solid transparent;
      }
      span {
        margin-right: 2px;
      }
    }
  }
  &-sub {
    margin: 0;
    padding: 16px;
    list-style: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: -16px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    li {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 20px;
        color: #595550;
        text-decoration: underline;
        white-space: nowrap;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

// Showcase

.showcase {
  height: 830px;
  padding: 178px 0 0;
  position: relative;
  &-wrap {
    background-color: #f9fae5;
    overflow: hidden;
  }
  &-body {
    max-width: 914px;
    position: absolute;
    bottom: 92px;
    left: 80px;
    z-index: 10;
  }
  &__head {
    font-size: 74px;
    line-height: 1.1;
    span {
      display: block;
    }
  }
  &-text {
    width: 380px;
    margin-top: 46px;
    font-family: 'FuturaNewBook';
    font-size: 24px;
    line-height: 1.6;
  }
  img {
    max-height: 91%;
    position: absolute;
    right: -164px;
    bottom: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 5;
    width: 640px;
    h2 {
      font-size: 74px;
      line-height: 1.12;
      margin-bottom: 59px;
      color: $green;
    }
    a {
      line-height: 60px;
      color: #fff;
      background-color: $pink;
      font-size: 16px;
      letter-spacing: 3.2px;
      text-transform: uppercase;
      padding: 0 30px;
      margin-bottom: 90px;
      &:hover {
        background-color: #ea5862;
      }
    }
  }
  &-info {
    padding-left: 83px;
    &__head {
      font-size: 24px;
      margin-bottom: 17px;
      line-height: 1;
    }
    p {
      font-family: 'FuturaNewBook';
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Showcase inner

.showcase-inner {
  background-size: cover;
  .showcase {
    height: 650px;
    padding-top: 0;
  }
}

// Showcase stock

.showcase-stock {
  background: url(../images/showcase-stockBg.jpg) no-repeat 50%;
}

// Showcase news

.showcase-news {
  background: url(../images/showcase-newsBg.jpg) no-repeat 50%;
}

// Showcase license

.showcase-license {
  background: url(../images/showcase-licenseBg.jpg) no-repeat 50%;
}

// Showcase prices

.showcase-prices {
  background: url(../images/showcase-pricesBg.jpg) no-repeat 50%;
}

// Showcase services

.showcase-services {
  background: url(../images/showcase-servicesBg.jpg) no-repeat 50%;
  margin-bottom: 70px;
}

// Showcase doctors

.showcase-doctors {
  background: url(../images/showcase-doctorsBg.jpg) no-repeat 50%;
  margin-bottom: 49px;
}

// Showcase clinic

.showcase-clinic {
  background: url(../images/clinic-bg.jpg) no-repeat 50%;
  margin-bottom: 51px;
}

// Showcase doctor

.showcase-doctor {
  .showcase {
    &-body {
      max-width: 614px;
    }
    img {
      width: 899px;
      max-height: 94%;
      right: -106px;
    }
  }
}

// Showcase doc

.showcase-doc {
  background-color: #f9fae5;
  .showcase {
    &-body {
      max-width: 624px;
    }
    img {
      max-height: 95%;
      width: 525px;
      right: 12px;
    }
  }
}

// Main services

.main-services {
  margin-top: -112px;
  position: relative;
  z-index: 5;
}

// Services

.services {
  margin-bottom: 77px;
  &-items {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-left: 1px solid $green;
  }
  &-item {
    width: 33.33%;
    height: 260px;
    padding: 0 38px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $green;
    border-left: none;
    &:nth-child(4n), &:nth-child(5n), &:nth-child(6n),
    &:nth-child(7n), &:nth-child(9), &:nth-child(11),
    &:nth-child(13), &:nth-child(17), &:nth-child(19) {
      border-top: none;
    }
    &:hover {
      background-color: #f9fae5;
      box-shadow: 0 0 16px 4px rgba(166, 174, 5, 0.3);
      .services-item__head {
        color: $green;
        text-decoration: underline;
      }
    }
    &__head {
      font-size: 34px;
      margin-bottom: 32px;
      line-height: 1;
      color: #000;
      transition: 300ms;
    }
    &__descr {
      font-family: 'FuturaNewBook';
      color: #000;
      line-height: 1.6;
    }
  }
}

// Services inner

.services-inner {
  .services {
    margin-bottom: 7px;
  }
}

// Services reviews

.services-reviews {
  margin-bottom: 68px;
}

// Services programs

.services-programs {
  background-color: #fff !important;
  .programs {
    padding-bottom: 25px;
    &-head {
      margin-left: 80px;
    }
    &-items {
      margin: 0;
    }
    &-item {
      margin-bottom: 41px;
    }
    &-content {
      padding-top: 44px;
    }
  }
}

// Main entry

.main-entry {
  width: 978px;
  padding: 34px 0 41px 80px;
  margin: 60px auto;
  line-height: 1.2;
  font-size: 64px;
  color: $pink;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 540px;
    height: 210px;
    background-color: #fdf4f5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
  }
  a {
    font-size: 64px;
    color: #000;
    &:hover {
      color: $pink;
    }
  }
}

// Main shares

.main-shares {
  padding: 47px 0 43px;
  overflow: hidden;
  &-wrap {
    background-color: #c9d300;
    overflow: hidden;
  }
  .head {
    color: #fff;
    padding-left: 85px;
    margin-bottom: 33px;
  }
}

// Shares

.shares {
  &-items {
    display: flex;
    margin-bottom: 32px;
  }
  &-item {
    width: 600px;
    margin: 0 30px;
    display: flex !important;
  }
  &-img {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    width: 50%;
    background-color: #fff;
    padding: 30px 32px 0;
    position: relative;
    &__head {
      height: 92px;
      text-transform: uppercase;
      line-height: 1.6;
      color: $pink;
      span {
        display: block;
      }
    }
    &__text {
      max-height: 99px;
      overflow: hidden;
      color: #010101;
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.45;
    }
    &__link {
      font-size: 16px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $pink;
      position: absolute;
      bottom: 35px;
      left: 33px;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    font-family: 'FuturaNewBook';
    padding-right: 5px;
    a {
      text-decoration: underline;
      color: #fff;
      font-size: 24px;
      margin-left: 4px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Shares slick

.shares-items .slick {
  &-arrow {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    z-index: 5;
    cursor: pointer;
    padding: 0 0 0 16px;
    margin-top: -7px;
    border: none;
    background-color: #c9d300;
    border-radius: 50%;
    &:focus {
      outline: none;
    }
  }
  &-next {
    left: auto;
    right: -38px;
    padding: 0 8px 0 0;
  }
}

// Treatment

.treatment {
  padding: 57px 0 77px;
  .head {
    padding: 0 80px;
    margin-bottom: 41px;
  }
  &-items {
    display: flex;
    margin-left: 160px;
  }
  &-item {
    width: 47.2%;
    margin-right: 62px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-content {
    padding-bottom: 26px;
    p {
      line-height: 1.45;
      margin-bottom: 26px;
      font-family: 'FuturaNewBook';
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        line-height: 1.45;
        margin-bottom: 26px;
        font-family: 'FuturaNewBook';
        text-indent: 18px;
        &:before {
          content: '';
          display: block;
          width: 12px;
          height: 1px;
          background-color: $pink;
          position: absolute;
          top: 14px;
          left: 0;
        }
      }
    }
  }
  &-img {
    border: 1px solid $green;
    position: relative;
    &:hover {
      .treatment-info {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  &-info {
    width: 372px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 34px;
    color: #000;
    line-height: 1.1;
    transition: 300ms;
    span {
      display: block;
    }
  }
}

// Journal

.journal {
  position: relative;
  padding: 58px 0 43px;
  &-wrap {
    background-color: #fdf4f5;
  }
  .head {
    color: $pink;
    padding-left: 80px;
    margin-bottom: 34px;
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 400px;
//    margin: 0 13px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  &-content {
    padding: 23px 25px 25px;
    &__date {
      font-size: 16px;
      text-transform: uppercase;
      color: $pink;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 24px;
      line-height: 1.45;
      font-family: 'FuturaNewBook';
    }
  }
  &-info {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    text-align: right;
    a {
      color: $pink;
      font-size: 24px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Journal swiper

.journal .swiper {
  &-container {
    margin-bottom: 33px;
  }
  &-slide {
    height: auto;
  }
  &-pagination {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    &-bullet {
      width: 12px;
      height: 12px;
      background-color: #f4dbde;
      opacity: 1;
      margin: 0 9px !important;
      &.swiper-pagination-bullet-active {
        background-color: #d54a53;
      }
    }
  }
}

// Callback

.callback {
  width: 400px;
  background-color: #fff;
  padding: 42px 50px 44px;
  &-wrap {
    position: relative;
    height: 540px;
  }
  &-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &__head {
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  &__address {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    margin-bottom: 4px;
  }
  &__tel {
    font-size: 24px;
    margin-bottom: 24px;
    color: #000;
    &:hover {
      color: $pink;
    }
  }
  &-schedule {
    font-family: 'FuturaNewBook';
    font-size: 18px;
    p {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    display: none;
    font-family: 'FuturaNewBook';
    font-size: 14px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

// Contacts

.contacts {
  display: flex;
  align-items: flex-end;
}

// Footer

.footer {
  padding: 46px 82px 35px 0;
  display: flex;
  justify-content: space-between;
  &-wrap {
    background-color: #f9fae5;
  }
  &-logo {
    flex-shrink: 0;
    width: 140px;
    margin-top: 7px;
  }
}

// Footer elem

.footer {
  &-elem {
    width: 38%;
    display: flex;
    justify-content: space-between;
  }
  &-content {
    width: 226px;
  }
  &-requisites {
    margin: 0 0 24px;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 7px;
      font-family: 'FuturaNewBook';
      font-size: 16px;
      &.title {
        font-family: 'FuturaNewDemi';
        font-size: 18px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-links {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 4;
      }
      &.title {
        display: none;
        font-size: 14px;
        margin-bottom: 4;
      }
      &.requisites {
        display: none;
      }
      a {
        font-family: 'FuturaNewBook';
        font-size: 16px;
        text-decoration: underline;
        &:hover {
          color: $pink;
          text-decoration: none;
        }
      }
    }
  }
}

// Footer body

.footer {
  &-body {
    flex-shrink: 0;
    width: 47.5%;
    display: flex;
    justify-content: space-between;
  }
  &-menu {
    width: 130px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 24px;
      }
    }
  }
  &-info {
    flex-shrink: 0;
    width: 296px;
    &__tel {
      font-size: 28px;
      margin-bottom: 6px;
      line-height: 1;
      color: #000;
      &:hover {
        color: $pink;
      }
    }
    &__address {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      margin-bottom: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        font-family: 'FuturaNewBook';
        font-size: 18px;
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Bottom

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 8px 21px 0;
  &-wrap {
    background-color: $green;
  }
  &-item {
    font-family: 'FuturaNewBook';
    font-size: 14px;
    color: #fff;
    a {
      font-family: 'FuturaNewBook';
      font-size: 14px;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Stock inform

.stock-inform {
  padding: 50px 0 86px 82px;
  &-wrap {
    background-color: #f9fae5;
  }
  ul {
    width: 380px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      line-height: 1.4;
      font-size: 24px;
      margin-bottom: 36px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.stock-entry {
  .main-entry {
    margin: 70px auto;
  }
}

// About doctor

.about-doctor {
  margin: 0 80px;
  padding-bottom: 58px;
  &-head {
    display: none;
    font-size: 42px;
    line-height: 1.15;
    margin-bottom: 34px;
    padding: 0 66px 0 35px;
    color: $green;
  }
  &-body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 65px;
  }
  &-content {
    flex-grow: 10;
    padding-right: 60px;
    .head {
      font-size: 54px;
      line-height: 1.15;
      margin-bottom: 42px;
    }
  }
  &-descr {
    padding-left: 80px;
    p {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 25px;
      font-family: 'FuturaNewBook';
    }
    span {
      display: block;
      font-size: 18px;
      line-height: 1.45;
      font-family: 'FuturaNewBook';
    }
  }
  &-link {
    width: 380px;
    margin-top: 18px;
    flex-shrink: 0;
    position: relative;
    &:hover {
      .about-doctor-info {
        color: $pink;
      }
    }
  }
  &-info {
    width: 238px;
    position: absolute;
    bottom: 31px;
    left: 39px;
    color: #010101;
    font-size: 24px;
    line-height: 1.4;
    transition: 300ms;
  }
  &-items {
    display: flex;
    justify-content: center;
    padding-left: 11px;
  }
  &-item {
    width: 470px;
    margin: 0 7px;
    display: flex;
    align-items: flex-start;
  }
  &-img {
    flex-shrink: 0;
    width: 81px;
    display: flex;
    justify-content: center;
  }
  &-elem {
    padding: 23px 0 0 37px;
  }
  &__head {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px;
  }
  &__text {
    font-family: 'FuturaNewBook';
    line-height: 1.65;
  }
}

// Reviews

.reviews {
  padding: 42px 0 103px;
  .head {
    color: #fff;
    padding-left: 80px;
    margin-bottom: 33px;
  }
  &-wrap {
    background-color: #c9d300;
  }
  &-descr {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    line-height: 1.45;
    margin-bottom: 36px;
    font-style: italic;
  }
  &-items {
//    width: 860px;
    margin: 0 160px 0 240px;
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        background-color: transparent;
        padding: 0;
        position: absolute;
        top: 38px;
        left: -77px;
        z-index: 5;
        &:focus {
          outline: none;
        }
      }
      &-next {
        left: auto;
        right: -80px;
      }
      &-dots {
        bottom: -62px;
        margin-left: -42px;
      }
    }
  }
  &-info {
    width: 480px;
    display: flex;
    img {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
    }
  }
  &-content {
    padding-left: 28px;
    h2 {
      font-size: 18px;
      margin-bottom: 6px;
      line-height: 1;
    }
    p {
      font-family: 'FuturaNewBook';
      line-height: 1.6;
      margin-bottom: 0;
    }
  }
}

// News

.news {
  padding: 46px 0 80px;
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
  }
  &-item {
    width: 400px;
    margin: 0 30px 54px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &-content {
    padding: 20px 20px 0;
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      .date {
        color: $pink;
        font-size: 16px;
        text-transform: uppercase;
      }
      .label {
        padding: 3px 10px;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        background-color: $pink;
        &.advice {
          background-color: #c9d300;
        }
      }
    }
    &__text {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.45;
    }
  }
  &-link {
    text-align: center;
    a {
      font-size: 24px;
      text-decoration: underline;
      &:hover {
        color: $pink;
        text-decoration: none;
      }
    }
  }
}

// News nav

.news-nav {
  margin: 0 0 48px;
  padding: 0 0 0 80px;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 34px;
    &:last-child {
      margin-right: 0;
    }
    &.active a {
      color: #595550;
      border-bottom: 1px solid transparent;
    }
    a {
      font-size: 24px;
      line-height: 1;
      border-bottom: 1px solid $pink;
      &:hover {
        color: #595550;
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// License

.license {
  padding: 80px 0 102px;
  &-wrap {
    background-color: #f9fae5;
  }
  &-items {
    display: flex;
    margin: 0 60px;
    .slick {
      &-arrow {
        border: none;
        cursor: pointer;
        background-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -60px;
        z-index: 5;
        padding: 0;
        &:focus {
          outline: none;
        }
      }
      &-next {
        left: auto;
        right: -60px;
      }
      &-dots {
        bottom: -54px;
      }
    }
  }
  &-item {
    width: 320px;
    margin: 0 43px;
    opacity: .8;
    &:hover {
      opacity: 1;
    }
  }
}

// License entry

.license-entry {
  .main-entry {
    margin: 80px auto 4px;
  }
}

// License entry

.license-treatment {
  .treatment {
    padding-bottom: 24px;
  }
}

// Programs

.programs {
  padding: 46px 0 72px;
  &-wrap {
    background-color: #f9fae5;
  }
  &-items {
    margin: 0 0 0 80px;
  }
  &-item {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-head {
    display: inline-block;
    cursor: pointer;
    font-size: 64px;
    line-height: 1.1;
    color: $pink;
    text-decoration: underline;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/programs-arrow.png) no-repeat left;
      width: 24px;
      height: 14px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -46px;
      margin-top: 6px;
    }
    &.active {
      color: $green;
      &:after {
        background-position: right;
        transform: rotate(180deg); 
      }
    }
    &:hover {
      color: $green;
      &:after {
        background-position: right;
      }
    }
  }
  &-content {
    display: none;
    padding-top: 25px;
    table {
      width: 940px;
      border-collapse: collapse;
      margin-left: 80px;
      tbody tr {
        &.programs-info {
          td {
            padding: 22px 0;
          }
        }
        td {
          padding: 12px 0 13px;
          font-family: 'FuturaNewBook';
          font-size: 18px;
          border-bottom: 1px solid #bababa;
          &:first-child {
            width: 685px;
          }
          &:last-child {
            width: 256px;
            font-family: 'FuturaNewDemi';
          }
          b, a {
            font-size: 28px;
            font-family: 'FuturaNewDemi';
            color: #000;
          }
          a:hover {
            color: $pink;
          }
        }
      }
    }
  }
}

// Indications

.indications {
  display: flex;
  margin-bottom: 68px;
  &-wrap .head {
    color: $pink;
    padding-left: 80px;
    margin: -17px 0 33px 0;
  }
  &-content {
    flex-grow: 10;
    padding: 22px 90px 0 160px;
    p {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.45;
      margin-bottom: 33px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-info {
    flex-shrink: 0;
    width: 520px;
    background-color: #fdf4f5;
    padding: 24px 48px 22px;
    h2 {
      font-size: 24px;
      margin-bottom: 14px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        font-family: 'FuturaNewBook';
        font-size: 18px;
        position: relative;
        margin-bottom: 16px;
        padding-left: 22px;
        line-height: 1;
        &:before {
          content: '';
          display: block;
          background-color: $pink;
          width: 12px;
          height: 1px;
          position: absolute;
          top: 9px;
          left: 0;
        }
      }
    }
  }
}

// Service

.service {
  display: flex;
  &-wrap {
    background-color: #f9fae5;
    padding: 47px 0 70px;
    .head {
      padding-left: 80px;
      margin-bottom: 46px;
    }
  }
  &-items {
    flex-grow: 10;
    padding: 33px 100px 0 162px;
  }
  &-item {
    margin-bottom: 34px;
    &:last-child {
      margin-bottom: 0;
    }
    &__head {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 6px;
      padding-right: 46px;
    }
    &__text {
      font-family: 'FuturaNewBook';
      font-size: 18px;
      line-height: 1.6;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 520px;
  }
}

// Doctors

.doctors {
  padding: 39px 0 50px;
  .head {
    padding-left: 80px;
    margin-bottom: 43px;
  }
  &-wrap {
    background-color: #f9fae5;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px 0 160px;
  }
  &-item {
    width: 300px;
    margin: 0 60px 67px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &-content {
    padding-top: 14px;
    &__head {
      font-size: 24px;
      line-height: 1.45;
      padding-right: 50px;
      margin-bottom: 7px;
    }
    &__position {
      font-family: 'FuturaNewBook';
      font-size: 18px;
    }
  }
  &-link {
    text-align: center;
    margin-left: 72px;
    margin-top: -12px;
    a {
      font-size: 24px;
      text-decoration: underline;
    }
  }
}

// Doctors entry

.doctors-entry {
  .main-entry {
    margin: 70px auto 5px;
  }
}

// Doctors treatment

.doctors-treatment {
  .treatment {
    padding-bottom: 33px;
  }
}

// Medication

.medication {
  display: flex;
  padding-bottom: 50px;
  &-wrap .head {
    padding-left: 80px;
    margin-bottom: 56px;
  }
  &-img {
    width: 60px;
    margin-bottom: 20px;
  }
  &-info {
    width: 220px;
    flex-shrink: 0;
    padding: 8px 0 0 42px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 300px;
      height: 270px;
      background-color: #fdf4f5;
      position: absolute;
      top: -27px;
      left: 0;
      z-index: -1;
    }
    a {
      display: inline;
      line-height: 1.6;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: $pink;
      }
    }
  }
  &-content {
    flex-grow: 10;
    padding-left: 20px;
  }
  &-elems {
    margin-bottom: 43px;
  }
  &-elem {
    margin-bottom: 66px;
    padding-right: 70px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      font-family: 'FuturaNewBook';
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-items {
    display: flex;
  }
  &-item {
    width: 380px;
    margin: 0 100px 0 0;
    padding: 0;
    list-style: none;
    &:last-child {
      margin-right: 0;
    }
    li {
      font-size: 24px;
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Expert

.expert {
  margin-bottom: 70px;
  padding: 42px 0;
  .head {
    padding-left: 80px;
    margin-bottom: 45px;
  }
  &-wrap {
    background-color: #f9fae5;
  }
  &-items {
    display: flex;
    position: relative;
    padding-bottom: 37px;
    .doctors {
      &-item {
        margin: 0;
      }
    }
  }
  &-info {
    text-align: right;
    span {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      margin-right: 4px;
    }
    a {
      text-decoration: underline;
      font-size: 24px;
      &:hover {
        color: $pink;
        text-decoration: none;
      }
    }
  }
}

// Expert swiper

.expert {
  &-slider {
    position: relative;
  }
  &-container {
    width: 1020px;
    margin-left: 160px;
    overflow: hidden;
  }
  &-dots {
    position: absolute;
    bottom: -27px;
    left: 50%;
    margin-left: -50px;
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: #e3e87f;
      margin: 0 8px;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background-color: #d54a53;
      }
    }
  }
  &-arrow {
    margin: 0;
    background: url(../images/leftG.png) no-repeat 50%;
    width: 14px;
    height: 24px;
    top: 116px;
    left: 80px;
    z-index: 99;
  }
  &-next {
    background: url(../images/rightG.png) no-repeat 50%;
    left: auto;
    right: 0;
  }
}

// Expert doctor

.expert-doctor {
  .about-doctor {
    padding-bottom: 6px;
  }
}

// Vita

.vita {
  display: flex;
  &-wrap {
    padding: 54px 0 70px;
    .head {
      padding-left: 80px;
    }
  }
  &-info {
    flex-shrink: 0;
    width: 520px;
  }
  &-content {
    flex-grow: 10;
    padding: 0 64px 0 160px;
    p {
      font-family: 'FuturaNewBook';
      font-size: 18px;
      line-height: 1.45;
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Vita biography

.biography {
  padding-bottom: 11px;
  .vita {
    &-content {
      padding-top: 10px;
    }
    &-info {
      background-color: $green;
      padding: 34px 38px 60px;
      h2 {
        font-size: 34px;
        color: #fff;
        margin-bottom: 24px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          line-height: 1.35;
          margin-bottom: 22px;
          font-size: 24px;
          color: #fff;
          padding-left: 30px;
          position: relative;
          &:before {
            content: '';
            display: block;
            width: 16px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 17px;
            left: 1px;
          }
        }
      }
    }
  }
}

// Methods

.methods {
  display: flex;
  margin-left: 80px;
  &-wrap {
    padding: 48px 0 78px;
    .head {
      padding-left: 80px;
    }
  }
  &-img {
    flex-shrink: 0;
    width: 520px;
  }
  &-content {
    flex-grow: 10;
    margin: 0;
    padding: 11px 0 0 122px;
    list-style: none;
    li {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.45;
      margin-bottom: 14px;
      padding-left: 30px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        display: block;
        background-color: $pink;
        width: 16px;
        height: 1px;
        position: absolute;
        top: 20px;
        left: 0;
      }
    }
  }
}

// Methods directions

.directions {
  background-color: #fdf4f5;
  .head {
    color: $pink;
  }
  .methods {
    &-content {
      padding: 0 40px 0 0;
      margin-top: -2px;
    }
  }
}