$orange: #ec7c00;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Graphik', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'Graphik', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

.amount {
  display: flex;
  align-items: center;
  color: #4c5159;
  input {
    width: 40px;
    margin: 0 16px;
    border: none;
    font-weight: 500;
    text-align: center;
  }
  span {
    cursor: pointer;
  }
}

.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 34px;
  padding: 0 10px;
  background-color: #e4cc17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.title {
  position: relative;
  z-index: 10;
  padding-bottom: 31px;
  margin-bottom: 59px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  color: $orange;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 201px;
    height: 10px;
    background: url(../images/wave-orange.png) no-repeat 50%;
  }
}

.link {
  padding: 20px 21px 16px;
  border: 1px solid $orange;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: 300ms;
  cursor: pointer;
  color: $orange;
  &:hover {
    background-color: $orange;
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}

@media (max-width: 1336px) {
  .title {
    margin-bottom: 36px;
  }
}
@media (max-width: 991px) {
  .title {
    padding-bottom: 24px;
  }
}
@media (max-width: 575px) {
  .link {
    padding: 16px 10px 12px;
  }
}

// Burger

.burger {
  flex-shrink: 0;
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      transition: all .2s ease-in-out;
      background-color: $orange;
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        transition: all .2s ease-in-out;
        background-color: $orange;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

.star {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-right: 5px;
    font-size: 14px;
    color: #f9d00a;
    &:last-child {
      margin-right: 0;
    }
  }
}

// Top line 

.top-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 2000px;
    background-color: #6a6f76;
  }
  &-wrap {
    overflow: hidden;
    background-color: #4c5159;
  }
}

.top-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    margin-right: 26px;
    &:before {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -16px;
      transform: translateY(-50%);
      color: #c1cad7;
    }
    &:last-child {
      margin-right: 0;
      &:before {
        display: none;
      }
    }
    a {
      font-size: 14px;
      color: #c1cad7;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
  background-color: #6a6f76;
  input {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 25px;
    border: none;
    font-size: 14px;
    font: 400 14px 'Graphik';
    color: #fff;
    background-color: transparent;
    &::placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
  }
  button {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 20px;
    height: 21px;
    border: none;
    cursor: pointer;
    background: url(../images/search.png) no-repeat 50%;
    &:focus { 
      outline: none;
    }
  }
}

@media (max-width: 1336px) {
  .top-nav li {
    margin-right: 10px;
    &:before {
      display: none;
    }
  }
  .search {
    width: 260px;
  }
}
@media (max-width: 991px) {
  .top-burger {
    display: block;
    a {
      span {
        background-color: #fff;
        &:before,
        &:after {
          background-color: #fff;
        }
      }
    }
  }
  .top-line {
    position: static;
    &:after {
      display: none;
    }
    &-wrap {
      position: relative;
      z-index: 15;
      overflow: visible;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 200px;
        background-color: #6a6f76;
      }
    }
  }
  .top-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    flex-direction: column;
    padding: 10px 0;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    background-color: #4c5159;
    &.active {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
      z-index: 99;
    }
    li {
      margin-right: 0;
      margin: 4px 0;
    }
  }
  .search {
    input {
      padding-left: 16px;
    }
  }
}
@media (max-width: 575px) {
  .search {
    width: 240px;
  }
}

// Header

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 21px 16px 0;
  &-body {
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &-descr {
    flex-basis: 200px;
    margin-right: 40px;
    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.57;
      color: #191919;
    }
  }
}

.header-contacts {
  flex-basis: 200px;
  margin: 0 59px 0 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      color: #191919;
      &:hover {
        color: $orange;
      }
    }
  }
}
.header-info {
  flex-basis: 210px;
  margin: 0 25px 0 0;
  padding: 0;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &.info-empty a {
      text-decoration: none;
      color: #6a6f76;
    }
    p {
      margin-bottom: 0;
      color: #6a6f76;
      a {
        text-decoration: underline;
        color: $orange;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &-img {
    flex-shrink: 0;
    width: 24px;
    margin-right: 15px;
    text-align: center;
  }
}
.header-cart {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 152px;
  margin-left: 32px;
  &.cart-empty {
    .header-cart {
      &__value {
        background-color: #c1cad7;
      }
    }
  }
  img {
    position: absolute;
    top: 3px;
    left: -32px;
  }
  &__value {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $orange;
    color: #fff;
  }
  p {
    margin-bottom: 0;
    line-height: 1.63;
    color: #191919;
  }
}

.logo {
  flex-shrink: 0;
  width: 201px;
}

@media (max-width: 1336px) {
  .header {
    padding-right: 0;
    &-info {
      flex-basis: 200px;
      margin-right: 14px;
      &-img {
        margin-right: 10px;
      }
    }
    &-contacts {
      flex-basis: 160px;
      margin-right: 10px;
      li {
        margin-bottom: 12px;
        a {
          font-size: 18px;
        }
      }
    }
    &-descr {
      flex-basis: 190px;
      margin-right: 14px;
      p {
        line-height: 1.3;
      }
    }
  }
  .logo {
    width: 160px;
  }
}
@media (max-width: 991px) {
  .header {
    &-descr {
      display: none;
    }
    &-cart {
      flex-basis: 140px;
      img {
        left: -28px;
      }
    }
    &-info {
      flex-basis: 180px;
      margin-right: 8px;
      &-img {
        margin-right: 6px;
      }
      li p {
        font-size: 15px;
        a {
          font-size: 15px;
        }
      }
    }
    &-contacts {
      flex-basis: 144px;
      li {
        margin-bottom: 10px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    &-contacts {
      display: none;
    }
  }
}
@media (max-width: 650px) {
  .header {
    &-info {
      display: none;
    }
  }
}
@media (max-width: 430px) {
  .header {
    &-cart {
      display: none;
    }
  }
}

// Nav

.nav {
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  &-wrap {
    position: relative;
    background-color: $orange;
  }
  li {
    position: relative;
    &:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -2.5px;
      transform: translateY(-50%);
      color: #f6ba78;
    }
    &:last-child:after {
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      padding: 18px 13px 16px;
      font-weight: 500;
      letter-spacing: 0.35px;
      text-transform: uppercase;
      color: #fff;
      &:hover {
        background-color: #4c5159;
        color: #fff;
      }
      img {
        flex-shrink: 0;
        width: 16px;
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 1336px) {
  .nav {
    li a {
      padding-right: 5.5px;
      padding-left: 5.5px;
      font-size: 14px;
      letter-spacing: 0;
      img {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 991px) {
  .nav-burger {
    display: block;
    margin-left: 8px;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    background-color: $orange;
    &.active {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
      z-index: 99;
    }
    li {
      width: 100%;
      &:after {
        display: none;
      }
      a {
        justify-content: center;
        width: 100%;
      }
    }
  }
}

// Bread

.bread {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 35px;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    margin: 0 36px 6px 0;
    font-size: 14px;
      color: #6a6f76;
    &:after {
      content: '>>';
      display: block;
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%);
      color: #6a6f76;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      font-size: 14px;
      text-decoration: underline;
      color: #6a6f76;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .bread {
    margin-bottom: 26px;
  }
}

// Soc

.soc {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  &.soc-grey {
    li {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
      a {
        width: 24px;
        height: 24px;
      }
    }
    .soc {
      &-vk a {
        background-image: url(../images/vk-gr.png);
      }
      &-fb a {
        background-image: url(../images/facebook-gr.png);
      }
      &-instg a {
        background-image: url(../images/instagram-gr.png);
      }
    }
  }
  li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    a {
      width: 30px;
      height: 30px;
      transition: none;
      background-repeat: no-repeat;
      background-position: left;
      &:hover {
        background-position: right;
      }
    }
  }
  &-vk a {
    background-image: url(../images/vk.png);
  }
  &-fb a {
    background-image: url(../images/facebook.png);
  }
  &-instg a {
    background-image: url(../images/instagram.png);
  }
}

// Footer

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 91px;
  &-wrap {
    padding: 61px 0 22px;
    background-color: #4c5159;
  }
  &-logo {
    flex-shrink: 0;
    width: 201px;
  }
  &-info {
    flex-basis: 240px;
    margin-top: -6px;
    &__address {
      line-height: 1.65;
      text-decoration: underline;
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    p {
      margin-bottom: 0;
      line-height: 1.65;
      color: #fff;
    }
  }
  &-contacts {
    margin: 30px 0 32px;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  &-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 460px;
    margin-left: 38px;
  }
  &-item {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 160px;
    li {
      margin-bottom: 20px;
      a {
        text-decoration: underline;
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #c1cad7;
    a {
      font-size: 14px;
      letter-spacing: 0.1px;
      text-decoration: underline;
      color: #c1cad7;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .footer {
    &-items {
      flex-basis: 380px;
      margin-left: 0;
    }
  }
}
@media (max-width: 991px) {
  .footer {
    margin-bottom: 50px;
    &-wrap {
      padding-top: 40px;
    }
    &-logo {
      width: 160px;
    }
    &-items {
      flex-basis: 250px;
      flex-direction: column;
    }
    &-item {
      flex-basis: 100%;
      li {
        margin-bottom: 12px;
      }
    }
    &-info {
      flex-basis: 216px;
      margin-top: 0;
    }
  }
}
@media (max-width: 710px) {
  .footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    .soc {
      justify-content: center;
    }
    &-logo {
      width: 200px;
      margin-bottom: 20px;
    }
    &-items {
      width: 100%;
      flex-basis: 100%;
      text-align: center;
    }
    &-item {
      width: 100%;
    }
    &-contacts {
      margin: 20px 0;
    }
    &-info {
      width: 100%;
      flex-basis: 100%;
      text-align: center;
    }
  }
  .bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin: 3px 0;
    }
  }
}

// Showcase

.showcase {
  min-height: 550px;
  padding: 110px 0 100px;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-title {
    position: relative;
    padding-bottom: 44px;
    margin-bottom: 34px;
    font: 400 64px 'YesevaOne';
    color: #fff;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 201px;
      height: 10px;
      background: url(../images/wave-wh.png) no-repeat 50%;
    }
  }
  p {
    max-width: 610px;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 1.5;
    color: #fff;
  }
}

@media (max-width: 1336px) {
  .showcase {
    &-title {
      font-size: 55px;
    }
  }
}
@media (max-width: 767px) {
  .showcase {
    min-height: 480px;
    padding-top: 70px;
    &-title {
      font-size: 42px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media (max-width: 575px) {
  .showcase {
    min-height: 380px;
    padding: 48px 0 20px;
    &-title {
      padding-bottom: 32px;
      margin-bottom: 24px;
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
  }
}

// Main catalog

.main-catalog {
  .product-items {
    margin-bottom: 18px;
  }
  .services-items {
    margin-bottom: 46px;
  }
  &-wrap {
    margin: -90px 0 60px;
  }
  &-link {
    text-align: center;
  }
}

@media (max-width: 1336px) {
  .main-catalog {
    .product-items {
      margin-bottom: 0;
    }
    .services-items {
      margin-bottom: 32px;
    }
  }
}
@media (max-width: 991px) {
  .main-catalog {
    &-wrap {
      margin-bottom: 40px;
    }
    .services-items {
      margin-bottom: 16px;
    }
  }
}
@media (max-width: 767px) {
  .main-catalog {
    &-wrap {
      margin-top: -70px;
    }
  }
}
@media (max-width: 575px) {
  .main-catalog {
    .services-items {
      margin-bottom: 0;
    }
    &-wrap {
      margin: 0 0 32px;
    }
  }
}

// Catalog

.catalog {
  display: flex;
  align-items: flex-start;
  padding-bottom: 70px;
  border-bottom: 1px solid #c1cad7;
  .product-items {
    margin-bottom: 22px;
  }
  &-sidebar {
    flex-shrink: 0;
    width: 240px;
    margin: 0 74px 40px 0;
    &__title {
      margin-bottom: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #6a6f76;
    }
    &-item {
      padding: 30px 0;
      border-top: 1px solid #c1cad7;
      &.item-shade .catalog-sidebar__title {
        margin-bottom: 0;
      }
      &:last-child {
        border-bottom: 1px solid #c1cad7;
      }
    }
    &-footer {
      display: flex;
      align-items: center;
      margin-top: 40px;
      .link {
        padding: 12px 15px 10px;
        background-color: $orange;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: $orange;
        }
      }
    }
    &__reset {
      margin-left: 26px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #6a6f76;
      &:hover {
        text-decoration: none;
        color: #6a6f76;
      }
    }
  }
  &-body {
    flex-grow: 10;
  }
}

.catalog-tabs {
  display: flex;
  align-items: center;
  margin: 0 0 39px;
  padding: 0;
  list-style: none;
  li {
    width: 33.33%;
    &.active a {
      background-color: $orange;
      &:after {
        opacity: 1;
      }
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 90px;
      padding: 12px 10px 6px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      text-align: center;
      background-color: #4c5159;
      color: #ffff;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -9px;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%) rotate(45deg);
        width: 30px;
        height: 30px;
        opacity: 0;
        transition: 300ms;
        background-color: $orange;
      }
      &:hover {
        background-color: $orange;
      }
    }
  }
}
.catalog-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 35px;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    margin-right: 44px;
    &:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%);
      color: #c1cad7;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &.active a {
      text-decoration: none;
      color: #191919;
    }
    a {
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: underline;
      color: $orange;
      &:hover {
        text-decoration: none;
        color: #191919;
      }
    }
  }
}

.catalog-class {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: underline;
      color: $orange;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.catalog-todisplay {
  .radio-item {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.catalog-price {
  &-items {
    display: flex;
    align-items: center;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-right: 13px;
    &:last-child {
      margin-right: 0;
    }
    input {
      width: 85px;
      height: 30px;
      padding: 0 8px;
      border: 1px solid #c1cad7;
      font: 400 16px 'Graphik';
      color: #0a0a0a;
      background-color: #fff;
    }
    span {
      margin-right: 8px;
    }
  }
}
.catalog-shade {
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.catalog-style {
  .checkbox {
    &-items {
      margin-top: 24px;
    }
    &-item {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.tint {
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -19px;
  }
  &-item {
    position: relative;
    width: 31px;
    height: 30px;
    margin: 20px 0 0 19px;
    cursor: pointer;
    input {
      display: none;
      &:checked + span {
        opacity: .5;
      }
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      transition: 300ms;
    }
  }
}

@media (max-width: 1336px) {
  .catalog-nav li {
    margin-right: 14px;
    &:after {
      display: none;
    }
    a {
      letter-spacing: 0;
    }
  }
}
@media (max-width: 991px) {
  .catalog {
    padding-bottom: 48px;
    &-sidebar {
      width: 220px;
      margin-right: 18px;
      &-footer {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 26px;
        .link {
          margin-bottom: 10px;
        }
      }
      &__title {
        letter-spacing: 0;
      }
      &__reset {
        margin-left: 0;
      }
      &-item {
        padding: 20px 0;
      }
    }
  }
  .catalog .product {
    &-item {
      width: 255px;
      padding: 10px;
      &__price {
        font-size: 16px;
      }
      &__label {
        top: 10px;
      }
      &-btn {
        width: 160px;
        padding: 0 8px;
        img {
          margin-right: 12px;
        }
      }
    }
  }
  .catalog-class li a {
    letter-spacing: 0;
  }
  .catalog-price {
    &-items {
      flex-direction: column;
      align-items: flex-start;
    }
    &-item:first-child {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .catalog-style {
    .checkbox {
      &-items {
        margin-top: 0;
      }
      &-item {
        margin-bottom: 12px;
      }
    }
  }
  .catalog-nav {
    flex-wrap: wrap;
    margin-bottom: 20px;
    li {
      width: 33.33%;
      margin: 0 0 10px;
      padding-right: 10px;
      text-align: center;
    }
  }
  .tint {
    &-items {
      margin-left: -16px;
    }
    &-item {
      margin: 12px 0 0 16px;
    }
  }
}
@media (max-width: 767px) {
  .catalog {
    flex-direction: column;
    &-sidebar {
      width: 100%;
      margin-right: 0;
      &__title {
        margin-bottom: 12px;
      }
      &-item {
        padding: 16px 0;
      }
      &-footer {
        flex-direction: row;
        align-items: center;
        .link {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
  }
  .catalog .product-item {
    width: 278px;
  }
  .catalog-class li {
    margin-bottom: 14px;
  }
  .catalog-todisplay .radio-item {
    margin-bottom: 12px;
  }
  .catalog-tabs li a {
    height: 70px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .catalog-nav li {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .catalog {
    padding-bottom: 40px;
  }
  .catalog .product-item {
    width: 300px;
    padding: 16px;
    &__label {
      top: 16px;
    }
  }
  .catalog-tabs {
    flex-direction: column;
    margin-bottom: 28px;
    li {
      width: 100%;
      a {
        height: 100%;
        min-height: 60px;
        padding: 10px;
        &:after {
          display: none;
        }
      }
    }
  }
  .catalog-nav {
    margin-bottom: 16px;
    li {
      width: 100%;
      padding-right: 0;
    }
  }
}

// Product

.product {
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  margin-bottom: 26px;
  &-body {
    flex-grow: 10;
    margin-top: -10px;
    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-title {
    margin-bottom: 17px;
    font: 400 34px/1.41 'YesevaOne';
  }
  &-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 34px;
    padding: 0 16px;
    margin-bottom: 19px;
    background-color: #e4cc17;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  &-total {
    color: #4c5159;
    .value {
      font-weight: 500;
      font-size: 24px;
      span {
        font-size: 16px;
      }
    }
    h3 {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    min-width: 180px;
    height: 40px;
    padding: 0 15px;
    margin-top: 6px;
    background-color: $orange;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    img {
      flex-shrink: 0;
      width: 25px;
      margin-right: 19px;
    }
    &:hover {
      background-color: #c86901;
      color: #fff;
    }
  }
  &-link {
    padding: 14px 19px 10px;
    background-color: $orange;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: $orange;
    }
  }
}
.product-item {
  position: relative;
  width: 315px;
  padding: 20px;
  margin-bottom: 38px;
  border: 1px solid #c1cad7;
  transition: 300ms;
  background-color: #fff;
  &:hover {
    border: 1px solid $orange;
    box-shadow: 0 0 9.4px 0.6px rgba(236, 124, 0, 0.3);
  }
  &-body {
    padding-top: 20px;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  &__label {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 18px 9px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background-color: #e4cc17;
    color: #000;
  }
  &__rubric {
    margin-bottom: 9px;
    font-size: 14px;
    text-decoration: underline;
    color: $orange;
    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }
  &__title {
    margin-bottom: 5px;
    font: 400 24px 'YesevaOne';
    color: #191919;
    &:hover {
      color: $orange;
    }
  }
  &__country {
    margin-bottom: 16px;
    font: 400 16px 'YesevaOne';
    color: #191919;
  }
  &__price {
    font-size: 18px;
    color: #191919;
  }
  &-btn {
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff;
    background-color: $orange;
    &:hover {
      background-color: #c86901;
      color: #fff;
    }
    img {
      flex-shrink: 0;
      width: 25px;
      margin-right: 19px;
    }
  }
  &__favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: #c1cad7;
    &:hover,
    &.active {
      background-color: #4c5159;
    }
  }
  &-info {
    margin: 0 0 24px;
    padding: 0;
    list-style: none;
    li {
      font-size: 14px;
      line-height: 1.7;
      color: #191919;
      b {
        font-weight: 500;
      }
    }
  }
  &-link {
    text-align: center;
    .link {
      padding: 12px 21px 11px;
      background-color: $orange;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: $orange;
      }
    }
  }
}
.product-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-bottom: 10px;
    color: #4c5159;
    line-height: 1.63;
    &:last-child {
      margin-bottom: 0;
    }
    b {
      font-weight: 500;
    }
    a {
      color: $orange;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.product-use {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 0;
  }
}
.product-price {
  padding: 20px 0 16px;
  margin-bottom: 25px;
  border-top: 1px solid #949eae;
  border-bottom: 1px solid #949eae;
  font-weight: 500;
  color: #4c5159;
  .value {
    margin-right: 86px;
    font-size: 24px;
    span {
      font-size: 16px;
    }
  }
  h3 {
    margin-bottom: 10px;
    color: #4c5159;
    font-weight: 500;
    font-size: 16px;
  }
  p {
    margin-bottom: 2px;
  }
  &-item {
    display: flex;
    align-items: flex-end;
  }
}
.product-square {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  padding: 0 21px;
  p {
    margin: 0 0 0 49px;
    color: #4c5159;
  }
}
.product-gallery {
  flex-shrink: 0;
  width: 699px;
  margin-right: 100px;
  &-main {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: flex !important;
      align-items: center;
      justify-content: center;
      height: 460px;
    }
  }
  &-thumbs {
    display: flex;
    align-items: center;
    margin: 40px 0 0;
    padding: 0;
    list-style: none;
    li {
      width: 220px;
      margin-right: 20px;
      cursor: pointer;
      opacity: .5;
      transition: 300ms;
      &.active,
      &:hover {
        opacity: 1;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1336px) {
  .product {
    padding-top: 0;
    margin-bottom: 18px;
    &-items {
      justify-content: center;
    }
    &-title {
      margin-bottom: 12px;
      font-size: 30px;
      line-height: 1.25;
    }
    &-label {
      margin-bottom: 12px;
    }
    &-body {
      margin-top: 0;
    }
    &-list {
      margin-bottom: 20px;
      li {
        margin-bottom: 6px;
      }
    }
    &-use li {
      margin-bottom: 0;
    }
    &-square {
      margin-bottom: 18px;
    }
    &-price {
      padding: 12px 0;
      margin-bottom: 18px;
    }
  }
  .product-gallery {
    width: 500px;
    margin-right: 42px;
    &-main {
      li {
        height: 330px;
      }
    }
    &-thumbs {
      margin-top: 20px;
    }
  }
}
@media (max-width: 991px) {
  .product {
    &-title {
      font-size: 26px;
    }
    &-item {
      margin-bottom: 30px;
    }
    &-list li {
      line-height: 1.3;
    }
    &-price {
      .value {
        margin-right: 36px;
        font-size: 22px;
      }
      h3 {
        margin-bottom: 6px;
      }
    }
    &-square {
      margin-bottom: 12px;
    }
    &-total {
      .value {
        font-size: 22px;
      }
      h3 {
        margin-bottom: 4px;
      }
    }
    &-btn {
      min-width: 170px;
      margin-top: 0;
    }
  }
  .product-gallery {
    width: 400px;
    margin-right: 14px;
    &-main {
      li {
        height: 262px;
      }
    }
    &-thumbs {
      margin-top: 10px;
      li {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 767px) {
  .product {
    flex-direction: column;
    margin-bottom: 10px;
    &-gallery {
      margin: 0 auto 20px;
    }
    &-body {
      width: 100%;
    }
  }
}
@media (max-width: 575px) {
  .product {
    &-item {
      margin-bottom: 20px;
    }
    &-body-footer {
      flex-wrap: wrap;
    }
    &-total,
    &-btn {
      margin-bottom: 10px;
    }
    &-square {
      padding: 0 10px;
    }
  }
}
@media (max-width: 425px) {
  .product-gallery {
    width: 300px;
    &-main {
      li {
        height: 200px;
      }
    }
  }
}

// Slick

.slick {
  &-arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 300ms;
    background-color: #c1cad7;
    color: #fff;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $orange;
    }
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
  &-dots {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: 8px;
      height: 8px;
      margin: 0 6px;
      cursor: pointer;
      transition: 300ms;
      background-color: #c1cad7;
      &.slick-active {
        background-color: $orange;
      }
      button {
        display: none;
      }
    }
  }
}

// Services

.services {
  padding: 48px 0;
  &-items {
    display: flex;
    align-items: flex-start;
  }
  &-item {
    display: flex;
    align-items: flex-start;
    width: 25%;
    padding: 0 20px 0 6px;
    .star {
      margin-top: 8px;
    }
    &-img {
      flex-shrink: 0;
      width: 40px;
      margin-right: 20px;
      text-align: center;
    }
    &-body {
      margin-top: -3px;
    }
    &__title {
      margin-bottom: 2px;
      line-height: 1.65;
      color: #191919;
      a {
        text-decoration: underline;
        color: #191919;
        &:hover {
          text-decoration: none;
        }
      }
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.65;
      color: #7c7c7c;
    }
  }
}

@media (max-width: 1336px) {
  .services {
    &-item {
      padding: 0 10px 0 0;
      &-img {
        margin-right: 10px;
      }
      &__title {
        line-height: 1.4;
      }
    }
  }
}
@media (max-width: 991px) {
  .services {
    padding-bottom: 26px;
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      width: 50%;
      margin-bottom: 14px;
      p {
        line-height: 1.4;
      }
    }
  }
}
@media (max-width: 575px) {
  .services {
    padding: 32px 0 14px;
    &-item {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
}

// Advantages

.advantages {
  padding: 67px 0 56px;
  &-wrap {
    position: relative;
    z-index: 5;
    background: url(../images/advantages-bg.jpg) no-repeat 50%;
    background-size: cover;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, .6);
    }
  }
  &-items {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &-item {
    flex-basis: 280px;
    margin-right: 34px;
    &:last-child {
      margin-right: 0;
    }
    p {
      margin-bottom: 0;
      font-size: 18px;
      line-height: 1.78;
      color: #fff;
    }
  }
  &-value {
    position: relative;
    padding-bottom: 33px;
    margin-bottom: 17px;
    font: 400 74px/1 'YesevaOne';
    color: #c1cad7;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 201px;
      height: 10px;
      background: url(../images/wave-grey.png) no-repeat 50%;
    }
  }
  &-descr {
    max-width: 800px;
    margin: 0 auto;
    font: 400 24px/1.42 'YesevaOne';
    text-align: center;
    color: #fff;
  }
}

@media (max-width: 1336px) {
  .advantages {
    &-item {
      margin-right: 20px;
      p {
        line-height: 1.4;
      }
    }
  }
}
@media (max-width: 991px) {
  .advantages {
    padding: 50px 0 40px;
    &-items {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
    &-item {
      margin: 0 10px 20px;
      &:last-child {
        margin: 0 10px 20px;
      }
    }
  }
}
@media (max-width: 767px) {
  .advantages {
    &-item {
      flex-basis: 250px;
    }
    &-value {
      padding-bottom: 20px;
      margin-bottom: 14px;
      font-size: 60px;
    }
    &-descr {
      font-size: 20px;
    }
  }
}
@media (max-width: 575px) {
  .advantages {
    &-item {
      width: 100%;
      flex-basis: 100%;
      margin: 0 0 20px !important;
      text-align: center;
    }
    &-value {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

// Gallery

.gallery {
  display: flex;
  align-items: flex-start;
  &-wrap {
    padding: 68px 0 98px;
    background-color: #eceff3;
    .title {
      margin-bottom: 68px;
    }
  }
  p {
    margin-bottom: 0;
    line-height: 1.65;
    color: #0a0a0a;
    a {
      font-weight: 700;
      color: #000;
      &:hover {
        color: $orange;
      }
      &.write {
        text-decoration: underline;
        font-weight: 400;
        &:hover {
          text-decoration: none;
          color: #0a0a0a;
        }
      }
    }
  }
  &-img {
    position: relative;
    z-index: 5;
    flex-shrink: 0;
    width: 400px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -60px;
      left: -60px;
      z-index: -1;
      width: 220px;
      height: 390px;
      background: url(../images/gallery-bg.jpg) no-repeat 50%;
    }
  }
  &-content {
    flex-grow: 10;
    margin: -6px 80px 0 0;
    h3 {
      margin-bottom: 0;
      font: 400 32px 'YesevaOne';
      color: #0a0a0a;
    }
  }
  &-item {
    margin-bottom: 14px;
    &:nth-child(2) {
      margin-bottom: 26px;
    }
  }
}

@media (max-width: 1336px) {
  .gallery {
    &-wrap {
      padding-bottom: 66px;
      .title {
        margin-bottom: 50px;
      }
    }
    &-img {
      width: 300px;
      &:before {
        bottom: -30px;
        left: -30px;
      }
    }
    &-content {
      margin-right: 40px;
    }
  }
}
@media (max-width: 991px) {
  .gallery {
    &-wrap {
      padding: 50px 0;
      .title {
        margin-bottom: 32px;
      }
    }
    p {
      line-height: 1.4;
    }
    &-content {
      h3 {
        font-size: 26px;
      }
    }
  }
}
@media (max-width: 767px) {
  .gallery {
    flex-direction: column;
    &-wrap {
      padding-bottom: 40px;
    }
    &-img {
      order: -1;
      margin: 0 auto 30px;
      &:before {
        display: none;
      }
    }
    &-content {
      margin-right: 0;
    }
  }
}

// Ourwork

.ourwork {
  position: relative;
  z-index: 5;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -130px;
    left: 80px;
    z-index: -1;
    width: 380px;
    height: 390px;
    background: url(../images/ourwork-bg.jpg) no-repeat 50%;
  }
  &-wrap {
    padding: 86px 0 50px;
    .title {
      margin-bottom: 48px;
    }
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .link {
      font-size: 24px;
      padding: 14px 23px 10px;
      letter-spacing: 0.2px;
      text-transform: none;
      background-color: $orange;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: $orange;
      }
    }
  }
  &-head {
    margin-right: 20px;
    font: 400 34px/1 'YesevaOne';
    color: #191919;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
  }
  &-item {
    width: 300px;
    margin: 0 0 20px 20px;
    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1336px) {
  .ourwork {
    &-wrap {
      .title {
        margin-bottom: 32px;
      }
    }
    &-head {
      font-size: 26px;
    }
    &-item {
      width: 227px;
    }
  }
}
@media (max-width: 991px) {
  .ourwork {
    &:before {
      top: -60px;
    }
    &-wrap {
      padding: 60px 0 36px;
    }
    &-item {
      width: 236px;
    }
  }
}
@media (max-width: 767px) {
  .ourwork {
    &:before {
      left: 0;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 28px;
    }
    &-head {
      margin: 0 0 20px;
    }
    &-items {
      justify-content: center;
      margin-left: 0;
    }
    &-item {
      margin: 0 10px 20px;
    }
  }
}
@media (max-width: 575px) {
  .ourwork {
    &:before {
      display: none;
    }
    &-wrap {
      padding: 50px 0 30px;
      .title {
        margin-bottom: 24px;
      }
    }
  }
}

// Main news

.main-news {
  padding: 87px 0 60px;
  .title {
    margin-bottom: 68px;
  }
  &-btn {
    text-align: center;
    .link {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

@media (max-width: 1336px) {
  .main-news {
    padding-top: 70px;
    .title {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 991px) {
  .main-news {
    padding-bottom: 48px;
  }
}
@media (max-width: 575px) {
  .main-news {
    padding-top: 60px;
    .title {
      margin-bottom: 30px;
    }
  }
}

// News

.news {
  margin-bottom: 74px;
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 18px -20px;
  }
  &-item {
    position: relative;
    z-index: 5;
    width: 300px;
    min-height: 360px;
    margin: 0 0 40px 20px;
    padding: 64px 16px 20px 20px;
    border: 1px solid #fff;
    background-size: cover;
    background-position: 50%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: 300ms;
      background-color: rgba(0, 0, 0, .4)
    }
    &:hover {
      border-color: #b4b2b7;
      &:before {
        background-color: #fff;
      }
      .link {
        opacity: 1;
      }
      .news-item {
        &__title {
          color: #000;
        }
        &__date {
          color: #959595;
        }
      }
    }
    &.item-main {
      width: 619px;
    }
    .link {
      display: inline-flex;
      margin-top: 49px;
      padding: 20px 26px 14px;
      opacity: 0;
      background-color: $orange;
      color: #fff;
    }
    &__title {
      margin-bottom: 14px;
      font: 400 24px/1.42 'YesevaOne';
      color: #fff;
    }
    &__date {
      font-size: 14px;
      font-weight: 500;
      color: #fff;
    }
  }
  &-label {
    position: absolute;
    top: -0.5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 6px 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    background-color: #e4cc17;
    color: #000;
    &.label-stock {
      background-color: $orange;
      color: #fff;
    }
  }
}

@media (max-width: 1336px) {
  .news {
    &-items {
      margin-left: -10px;
    }
    &-item {
      width: calc(33.33% - 10px) !important;
      margin: 0 0 20px 10px;
      .link {
        margin-top: 24px;
      }
    }
  }
}
@media (max-width: 991px) {
  .news {
    margin-bottom: 50px;
    &-item {
      min-height: 270px;
      padding: 50px 14px 12px;
      .link {
        padding: 14px 10px 10px;
      }
      &__title {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 767px) {
  .news {
    &-items {
      justify-content: center;
      margin-left: 0;
    }
    &-item {
      width: calc(50% - 10px) !important;
      margin: 0 5px 10px;
    }
  }
}
@media (max-width: 575px) {
  .news {
    margin-bottom: 40px;
    &-item {
      width: 100% !important;
      margin: 0 0 10px;
    }
  }
}

// Brands

.brands {
  margin-bottom: 80px;
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 59px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 160px;
    padding: 8px;
    border: 1px solid #c1cad7;
    background-color: #fff;
    &:hover {
      border-color: $orange;
      box-shadow: 0 0 9.4px 0.6px rgba(236, 124, 0, 0.3);
    }
  }
}

.brands-sort {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  padding-left: 18px;
  &__title {
    flex-shrink: 0;
    margin-right: 45px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919;
  }
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      margin-right: 26px;
      &:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        right: -14px;
        transform: translateY(-50%);
        color: #8d9fb9;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      a {
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: underline;
        color: $orange;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  .brands {
    &-sort {
      padding-left: 0;
      &__title {
        margin-right: 16px;
      }
      ul li {
        margin-right: 16px;
        &:after {
          right: -10px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .brands {
    margin-bottom: 56px;
    &-items {
      margin-bottom: 40px;
    }
    &-item {
      width: 25%;
    }
    &-sort {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 28px;
      &__title {
        margin-right: 0;
        margin-bottom: 10px;
      }
      ul li {
        margin-right: 14px;
      }
    }
  }
}
@media (max-width: 767px) {
  .brands {
    &-item {
      width: 33.33%;
    }
    &-sort {
      ul {
        flex-wrap: wrap;
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .brands {
    margin-bottom: 48px;
    &-items {
      margin-bottom: 30px;
    }
    &-item {
      width: 50%;
    }
  }
}

// Brand

.brand {
  display: flex;
  align-items: flex-start;
  margin-bottom: 47px;
  padding-top: 5px;
  &-img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 1px solid #c1cad7;
  }
  &-content {
    padding-left: 100px;
    margin-top: -10px;
    h3 {
      margin-bottom: 23px;
      font: 400 34px/1.41 'YesevaOne';
    }
    p {
      margin-bottom: 10px;
      line-height: 1.65;
    }
  }
  &-country {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #4c5159;
    a {
      font-size: 18px;
      font-weight: 500;
      text-decoration: underline;
      color: $orange;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1336px) {
  .brand {
    &-content {
      padding-left: 40px;
    }
  }
}
@media (max-width: 991px) {
  .brand {
    padding-top: 0;
    margin-bottom: 38px;
    &-content {
      padding-left: 20px;
      margin-top: 0;
      h3 {
        margin-bottom: 14px;
        font-size: 26px;
      }
      p {
        line-height: 1.4;
      }
    }
    &-country {
      margin-bottom: 14px;
      font-size: 16px;
      a {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 767px) {
  .brand {
    flex-direction: column;
    &-img {
      margin: 0 auto 20px;
    }
    &-content {
      padding-left: 0;
    }
  }
}

// Radio

.radio {
  flex-shrink: 0;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #c1cad7;
  border-radius: 50%;
  &-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
  }
  &-text {
    padding-left: 14px;
  }
  input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background-color: $orange;
      border-radius: 50%;
      opacity: 0;
      transition: 300ms;
    }
  }
}

// Checkbox

.checkbox {
  flex-shrink: 0;
  position: relative;
  width: 15px;
  height: 14px;
  border: 1px solid #c1cad7;
  &-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  &-text {
    padding-left: 15px;
  }
  input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background-color: $orange;
      opacity: 0;
      transition: 300ms;
    }
  }
}

// Pagination

.pagination {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 2px;
    &.prev a,
    &.next a {
      width: auto;
      height: auto;
      text-decoration: none;
      &:hover {
        background-color: #fff;
        color: #c1cad7;
      }
    }
    &.prev {
      margin: 0 58px 0 0;
    }
    &.next {
      margin: 0 0 0 58px;
    }
    &.active a {
      text-decoration: none;
      background-color: #c1cad7;
      color: #fff;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      font-weight: 500;
      letter-spacing: 1px;
      text-decoration: underline;
      color: $orange;
      &:hover {
        text-decoration: none;
        background-color: #c1cad7;
        color: #fff;
      }
    }
  }
}

@media (max-width: 991px) {
  .pagination {
    li {
      &.prev {
        margin-right: 26px;
      }
      &.next {
        margin-left: 26px;
      }
    }
  }
}
@media (max-width: 575px) {
  .pagination {
    li {
      &.prev {
        margin-right: 10px;
      }
      &.next {
        margin-left: 10px;
      }
      a {
        width: 36px;
        height: 36px;
        font-weight: 400;
      }
    }
  }
}

// Favorites

.favorites {
  margin-bottom: 70px;
  .product-items {
    margin-bottom: 22px;
  }
}

@media (max-width: 1336px) {
  .favorites {
    margin-bottom: 52px;
    .product-items {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 575px) {
  .favorites {
    margin-bottom: 40px;
  }
}

// Goods

.goods {
  padding: 64px 0 42px;
  &-wrap {
    background-color: #eceff3;
  }
  &-link {
    margin: 20px 0;
    text-align: center;
  }
}

@media (max-width: 1336px) {
  .goods {
    padding-bottom: 28px;
  }
}
@media (max-width: 991px) {
  .goods {
    padding-top: 52px;
    &-link {
      margin: 0;
    }
  }
}
@media (max-width: 575px) {
  .goods {
    padding: 48px 0 24px;
  }
}

// Basket

.basket {
  margin-bottom: 91px;
  &-item {
    display: flex;
    align-items: flex-start;
    margin-top: -3px;
  }
  &-img {
    flex-shrink: 0;
    width: 220px;
    margin-right: 20px;
    &:hover {
      opacity: .8;
    }
  }
  &-body {
    margin-top: -4px;
  }
  &-title {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: #000;
    &:hover {
      color: $orange;
    }
  }
  &-descr {
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 400;
  }
  &-price {
    margin-bottom: 24px;
    font-size: 24px;
    span {
      font-size: 16px;
    }
  }
  &-remove {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover span {
      text-decoration: none;
    }
    img {
      flex-shrink: 0;
      width: 16px;
    }
    span {
      margin-left: 16px;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      color: $orange;
    }
  }
  &-btn {
    text-align: center;
    .link {
      background-color: $orange;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: $orange;
      }
    }
  }
  &-delivery {
    max-width: 324px;
    margin: 0 0 0 auto;
    padding-right: 20px;
    .radio-text {
      font-weight: 400;
      font-size: 16px;
    }
    h3 {
      margin-bottom: 13px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.basket-table {
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;
  thead td {
    padding-bottom: 25px;
    border-bottom: 1px solid #949eae;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: #6a6f76;
    &:first-child {
      width: 560px;
    }
    &:nth-child(2) {
      width: 220px;
    }
    &:nth-child(3) {
      width: 180px;
    }
    &:nth-child(4) {
      width: 203px;
    }
    &:last-child {
      width: 96px;
    }
  }
  tbody tr.basket-bg {
    background-color: #eceff3;
    td {
      padding: 34px 0;
      &:last-child {
        padding-right: 80px;
        text-align: center;
      }
      &.total-pay {
        font-size: 24px;
      }
    }
  }
  tbody td {
    vertical-align: top;
    padding: 32px 14px 36px;
    border-bottom: 1px solid #949eae;
    font-size: 18px;
    font-weight: 500;
    &:first-child,
    &:last-child {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (max-width: 1336px) {
  .basket-table tbody tr.basket-bg td:last-child {
    padding-right: 50px;
  }
}
@media (max-width: 991px) {
  .basket {
    margin-bottom: 60px;
    &-title {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.25;
    }
    &-descr {
      margin-bottom: 12px;
    }
    &-price {
      margin-bottom: 14px;
      font-size: 20px;
    }
    &-img {
      width: 166px;
      margin-right: 14px;
    }
    &-remove {
      span {
        margin-left: 6px;
        font-size: 12px;
      }
    }
    &-delivery {
      max-width: 100%;
      margin: 0;
      padding: 0 20px;
      h3 {
        margin-bottom: 8px;
      }
    }
  }
  .basket-table {
    margin-bottom: 38px;
    thead td {
      padding-bottom: 14px;
      font-size: 14px;
      letter-spacing: 0;
      &:first-child {
        width: 340px;
      }
      &:nth-child(2) {
        width: 160px;
      }
      &:nth-child(3) {
        width: 120px;
      }
      &:nth-child(4) {
        width: 140px;
      }
      &:last-child {
        width: 80px;
      }
    }
    tbody tr.basket-bg td {
      padding: 20px 0;
      &.total-pay {
        font-size: 20px;
      }
      &:last-child {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    tbody td {
      padding: 20px 4px 18px;
      font-size: 16px;
    }
  }
}
@media (max-width: 767px) {
  .basket {
    margin-bottom: 40px;
  }
  .basket-table {
    width: 750px;
    margin-bottom: 10px;
    &-scroll {
      overflow: auto;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 575px) {
  .basket-btn .link {
    font-size: 12px;
  }
}

// Article

.article {
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  margin-bottom: 60px;
  .soc-grey {
    margin-bottom: 10px;
  }
  &-body {
    flex-grow: 10;
    margin: -10px 100px 0 0;
    h2 {
      margin-bottom: 23px;
      font: 400 34px/1.41 'YesevaOne';
    }
    > img {
      margin-bottom: 35px;
    }
    p {
      margin-bottom: 25px;
      line-height: 1.65;
      b {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56;
      }
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px;
      padding: 4px 0 0;
      list-style: none;
      li {
        flex-basis: 420px;
        margin-bottom: 20px;
      }
    }
  }
  &-sidebar {
    flex-shrink: 0;
    width: 300px;
  }
  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    &__date {
      position: relative;
      margin-right: 28px;
      font-size: 14px;
      font-weight: 500;
      color: #959595;
      &:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        right: -16px;
        transform: translateY(-50%);
        color: #959595;
      }
    }
    &__rubric {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-decoration: underline;
      color: $orange;
      &:hover {
        text-decoration: none;
        color: $orange;
      }
    }
  }
  &-carousel {
    max-width: 860px;
    margin-bottom: 52px;
    padding-top: 6px;
  }
  &-soc {
    display: flex;
    align-items: center;
    &__title {
      margin: 0 20px 10px 0;
      color: #4c5159;
    }
  }
}

.article .news {
  &-items {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  &-item {
    width: 100% !important;
    margin: 0 0 40px;
  }
}

@media (max-width: 1336px) {
  .article {
    &-body {
      margin: 0 30px 0 0;
      > ul li {
        flex-basis: 310px;
      }
    }
    &-carousel {
      max-width: 640px;
    }
  }
}
@media (max-width: 991px) {
  .article {
    margin-bottom: 40px;
    &-sidebar {
      width: 260px;
    }
    &-body {
      margin-right: 20px;
      h2 {
        font-size: 28px;
        line-height: 1.2;
      }
      > img {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 12px;
        line-height: 1.4;
        b {
          line-height: 1.4;
        }
      }
      > ul {
        margin-bottom: 10px;
        li {
          flex-basis: 228px;
          margin-bottom: 14px;
        }
      }
    }
    &-carousel {
      max-width: 460px;
      margin-bottom: 30px;
    }
  }
  .article .news-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .article {
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 30px;
    &-body {
      margin-right: 0;
      margin-bottom: 40px;
      > ul {
        justify-content: center;
        li {
          flex-basis: 260px;
          margin: 0 6px 12px;
        }
      }
    }
    &-sidebar {
      width: 100%;
    }
    &-carousel {
      margin: 0 auto 24px;
    }
  }
}
@media (max-width: 575px) {
  .article {
    &-body {
      margin-bottom: 24px;
      h2 {
        font-size: 26px;
      }
    }
    &-info {
      margin-bottom: 20px;
    }
    &-carousel {
      max-width: 300px;
    }
  }
}

// Error 404

.error404 {
  max-width: 620px;
  margin: 0 auto;
  padding: 140px 0 114px;
  text-align: center;
  &-wrap {
    background-color: #eceff3;
  }
  img {
    margin-bottom: 57px;
  }
  p {
    margin-bottom: 10px;
    color: #6a6f76;
    a {
      text-decoration: underline;
      color: $orange;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .error404 {
    padding: 80px 0;
    img {
      margin-bottom: 32px;
    }
  }
}

// Main

.main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
  &-body {
    flex-grow: 10;
    padding-right: 60px;
  }
  &-content {
    color: #0a0a0a;
    .link {
      padding: 13px 25px 12px;
      margin-bottom: 14px;
      background-color: $orange;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: $orange;
      }
    }
    > img {
      margin: 35px 0 54px;
    }
    h3 {
      margin-bottom: 10px;
      font: 400 32px/1.3 'YesevaOne';
    }
    p {
      margin-bottom: 0;
      line-height: 1.65;
      &.p-strong {
        margin-bottom: 10px;
        line-height: 1.6;
      }
      &.p-info {
        margin-top: 23px;
      }
      strong {
        font-size: 18px;
        font-weight: 500;
      }
      b {
        font-weight: 700;
      }
      a {
        font-weight: 700;
        color: #0a0a0a;
        &:hover {
          color: $orange;
        }
        &.write {
          font-weight: 400;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    ul {
      margin: 10px 0 32px;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 18px;
        margin-bottom: 10px;
        line-height: 1.65;
        color: #0a0a0a;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 12px;
          left: 0;
          width: 12px;
          height: 1px;
          background-color: #0a0a0a;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.main .advantages {
  position: relative;
  z-index: 5;
  padding: 58px 0 50px;
  background: url(../images/advantages-bg.jpg) no-repeat 50%;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .5);
  }
  &-items {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &-item {
    flex-basis: 300px;
    margin: 0 44px 32px;
  }
  &-descr {
    max-width: 660px;
    padding: 0 15px;
  }
}

@media (max-width: 1336px) {
  .main {
    &-body {
      padding-right: 0;
    }
  }
  .main .advantages-item {
    margin: 0 20px 32px;
  }
}
@media (max-width: 991px) {
  .main {
    margin-bottom: 60px;
    &-content {
      .link {
        margin-bottom: 8px;
      }
      > img {
        margin: 30px 0;
      }
      h3 {
        font-size: 28px;
      }
      ul {
        margin-bottom: 22px;
        li {
          margin-bottom: 6px;
          line-height: 1.4;
          &:before {
            top: 10px;
          }
        }
      }
    }
  }

  .main .advantages-item {
    flex-basis: 220px;
    margin: 0 10px 28px;
  }
}
@media (max-width: 767px) {
  .main {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .main .advantages {
    padding: 48px 0;
    &-items {
      margin-bottom: 12px;
    }
    &-item {
      flex-basis: 100%;
    }
  }
}

// Sidebar

.sidebar {
  flex-shrink: 0;
  width: 240px;
  margin: 6px 80px 40px 0;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 21px 0 22px;
    border-bottom: 1px solid #c1cad7;
    &:first-child {
      border-top: 1px solid #c1cad7;
    }
    &.active a {
      text-decoration: none;
      color: #6a6f76;
    }
    a {
      font-weight: 500;
      letter-spacing: 1px;
      text-decoration: underline;
      text-transform: uppercase;
      color: $orange;
      &:hover {
        text-decoration: none;
        color: #6a6f76;
      }
    }
  }
}

@media (max-width: 1336px) {
  .sidebar {
    margin: 0 40px 30px 0;
  }
}
@media (max-width: 991px) {
  .sidebar {
    margin-right: 20px;
    &-list li {
      padding: 16px 0;
    }
  }
}
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
    &-list li {
      padding: 12px 0;
      text-align: center;
    }
  }
}

// About

.about {
  &-items {
    display: flex;
    margin: 55px 0 60px;
  }
  &-item {
    flex-basis: 50%;
    padding: 36px 20px 42px 29px;
    border: 1px solid #c1cad7;
    &__title {
      margin-bottom: 10px;
      font: 400 32px/1 'YesevaOne';
      color: #0a0a0a;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        margin-bottom: 10px;
        text-indent: 22px;
        line-height: 1.65;
        color: #0a0a0a;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 14px;
          left: 0;
          width: 13px;
          height: 1px;
          background-color: #0a0a0a;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .about {
    &-items {
      margin: 35px 0;
    }
    &-item {
      padding: 20px 14px;
      &__title {
        font-size: 22px;
      }
      ul li {
        margin-bottom: 4px;
        line-height: 1.4;
        &:before {
          top: 10px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .about {
    &-items {
      flex-direction: column;
    }
    &-item {
      flex-basis: 100%;
    }
  }
}

// Delivery

.delivery {
  p {
    margin-bottom: 16px;
    line-height: 1.65;
    a {
      text-decoration: underline;
      color: $orange;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-items {
    margin-bottom: 26px;
  }
  &-item {
    margin-bottom: 42px;
    color: #0a0a0a;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: 19px;
      font: 400 32px/1.38 'YesevaOne';
    }
    &__head {
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: 500;
    }
  }
  &-confidentiality {
    padding: 40px;
    border: 1px solid #c1cad7;
    p {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  .delivery {
    &-confidentiality {
      padding: 20px;
    }
    &-item {
      margin-bottom: 30px;
      &__title {
        margin-bottom: 12px;
      }
    }
  }
}