$green: #84a725;
$gray: #020202;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Futuris', sans-serif;
}

a {
  font: 400 16px 'Futuris', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}


/* Header */

.main {
  background: url(../images/header-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding-bottom: 800px;
  position: relative;
  &-bottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -124.6px;
    padding-bottom: 32px;
    &-inner {
      display: none;
    }
    p {
      display: block;
      color: #fff;
      font-family: 'Yeseva';
      font-size: 20px;
      padding-bottom: 18px;
    }
  }
  &-inner {
    background: none;
    padding-bottom: 0;
  }
}

.header {
  padding-top: 12px;
  padding-bottom: 32px;
  &-wrap {
    background: rgba(0, 0, 0, .8);
    &-inner {
      background: rgba(0, 0, 0, 1);
    }
  }
  &-menu {
    padding-bottom: 50px;
    &__item {
      float: left;
      li {
        display: inline-block;
        margin-right: 22px;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 1px;
          height: 15px;
          background: #fff;
          position: absolute;
          top: 50%;
          margin-top: -7.5px;
          left: -14px;
        }
        &:first-child:before {
          display: none;
        }
        a {
          color: #fff;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &-info {
      float: right;
      ul {
        display: inline-block;
        li {
          display: inline-block;
          position: relative;
          &:before {
            content: '';
            display: block;
            width: 1px;
            height: 15px;
            background: #fff;
            position: absolute;
            top: 50%;
            margin-top: -7.5px;
            left: -12px;
          }
          &:first-child:before {
            display: none;
          }
        }
      }
      &__check {
        display: inline-block;
        color: #fff;
        margin-right: 20px;
        position: relative;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
      &__img {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        margin-left: 25px;
        a {
          margin-right: 9px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  //
  &-info {
    &-item {
      float: left;
      &__article {
        display: inline-block;
        margin-right: 70px;
        p {
          font-family: 'Yeseva';
          font-size: 20px;
          color: #fff;
        }
      }
      &__head {
        display: block;
        font-size: 14px;
        color: #fff;
        margin-bottom: 8px;
      }
      &__tel {
        font-family: 'Yeseva';
        font-size: 20px;
        color: #fff;
      }
      &__link {
        margin-right: 60px;
        &:last-child {
          margin-right: 10px;
        }
      }
    }
    &-logo {
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -75px;
    }
    &-in {
      float: right;
      p {
        font-family: 'Yeseva';
        font-size: 20px;
        color: #fff;
      }
    }
  }
}


/* Bread */

.bread {
  padding-top: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/bread-arrow.png) no-repeat 50%;
      width: 17px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: -33px;
    }
    &:last-child:after {
      display: none;
    }
  }
  a {
    font-size: 14px;
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
}


/* Showcase */

.title {
  text-align: center;
  &-head {
    color: $green;
    font-family: 'Yeseva';
    font-size: 48px;
    padding-bottom: 15px;
    font-weight: 400;
    padding-top: 50px;
    text-align: center;
    &-black {
      padding-top: 60px;
      padding-bottom: 30px;
      color: #000;
    }
  }
  &-text {
    font-family: 'Futuris';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.showcase {
  padding-top: 10px;
  &-items {
    padding-top: 70px;
    font-size: 0;
    text-align: center;
    &-carousel {
      position: relative;
      .slick-prev,
      .slick-next {
        border: none;
        background: url(../images/pagination-arrow.png) no-repeat 50%;
        width: 27px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -114px;
      }
      .slick-next {
        background: url(../images/pagination-arrow2.png) no-repeat 50%;
        right: 50%;
        margin-left: 85px;
      }
      .slick-dots {
        position: absolute;
        top: 0;
        left: 50%;
        width: 160px;
        margin-left: -80px;
      }
      .slick-dots li {
        display: inline-block;
        margin-right: 15px;
        width: 16px;
        height: 16px;
        background: #e1e1e1;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 300ms;
        &:last-child {
          margin-right: 0;
        }
        &.slick-active {
          background: $green;
        }
        button {
          display: none;
        }
      }
    }
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-bottom: 20px;
    margin-bottom: 55px;
    text-align: left;
    position: relative;
    text-align: center;
    &-content {
      padding-left: 27px;
      position: relative;
      text-align: left;
      &:before,
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 60px;
        background: $green;
        position: absolute;
        left: 95px;
        top: 30px;
      }
      &:after {
        top: auto;
        bottom: -91px;
      }
    }
    &-hover {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(132, 167, 37, 0.9);
      z-index: 100;
      transition: 300ms;
      opacity: 0;
      visibility: hidden;
      padding-top: 105px;
      text-align: center;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      img {
        display: block;
        margin: 0 auto;
        padding-bottom: 73px;
      }
      div {
        display: inline-block;
        color: #fff;
        font-family: 'Futuris';
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #fff;
        line-height: 38px;
        padding: 0 20px;
        transition: 300ms;
        &:hover {
          background: #fff;
          color: $green;
        }
      }
    }
    &__bg {
      background: #f5f5f5;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 380px;
    }
    &__text {
      font-family: 'Yeseva';
      font-size: 24px;
      line-height: 1.4;
      text-align: left;
      color: #1a171e;
      margin-bottom: 30px;
      margin-top: 120px;
      &:hover {
        color: $green;
      }
    }
    &__content {
      font-size: 16px;
      line-height: 1.6;
      text-align: left;
      color: #1a171e;
    }
    &__over {
      display: inline-block;
      font-family: 'Futuris';
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: $green;
      line-height: 45px;
      padding-left: 22px;
      padding-right: 27px;
      position: relative;
      &:hover {
        background: #5c7c05;
        &:after {
          right: -17px;
        }
      }
      &:after {
        content: '';
        display: block;
        background: url(../images/over-arrow.png) no-repeat 50%;
        width: 17px;
        height: 10px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: -10px;
        transition: 300ms;
      }
    }
    &__img {
      height: 300px;
      line-height: 300px;
      img {
        vertical-align: middle;
        display: inline-block;
        margin: 0 auto;
      }
    }
    &__coment {
      font-size: 16px;
      padding-bottom: 10px;
    }
    &__head {
      font-family: 'Yeseva';
      font-size: 20px;
      padding-bottom: 11px;
      font-weight: 400;
    }
    &__price {
      font-family: 'Yeseva';
      font-size: 28px;
      color: $green;
      padding-bottom: 15px;
    }
    &-link {
      &__order {
        font-family: 'Futuris';
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #000;
        line-height: 38px;
        color: #000;
        padding: 0 22px;
        margin-right: 10px;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
      &__basket {
        display: inline-block;
        vertical-align: top;
        padding: 9px 20px 11px;
        background: #000;
        position: relative;
      }
      img {
        vertical-align: middle;
      }
    }
  }
}

.slider-more {
  border-bottom: 1px solid #ccc;
}

.slider-present {
  margin-bottom: 25px;
}


/* Main-advan */

.main-advan {
  padding-top: 34px;
  padding-bottom: 40px;
  &-wrap {
    background: #f5f5f5;
    &__inner {
      margin-bottom: 65px;
    }
  }
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    margin-right: 2.5%;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
    p {
      font-size: 16px;
    }
  }
  &__head {
    padding-top: 22px;
    padding-bottom: 12px;
    font-family: 'Yeseva';
    font-size: 18px;
    font-weight: 400;
  }
}


/* Like */

.like {
  margin-top: 205px;
  position: relative;
  margin-bottom: 90px;
  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: $green;
    position: absolute;
    top: -158px;
    left: 50%;
  }
  &-video {
    float: left;
    width: 765px;
    height: 460px;
    position: relative;
    z-index: 10;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &-content {
    float: right;
    width: 415px;
    padding-right: 45px;
    z-index: 5;
    padding-top: 27px;
    &:before {
      content: '';
      display: block;
      left: 227px;
      bottom: 47px;
      background: #f5f5f5;
      position: absolute;
      top: -30px;
      right: 0;
      z-index: -1;
    }
    &__head {
      font-family: 'Yeseva';
      font-size: 28px;
      line-height: 1.3;
      padding-bottom: 26px;
      font-weight: 400;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 110px;
        height: 1px;
        background: $green;
        position: absolute;
        top: 19px;
        left: -190px;
        z-index: 10;
      }
    }
    p {
      line-height: 1.6;
    }
    &__img {
      margin-top: 30px;
      text-align: right;
    }
  }
}


/* Main-news */

.main-news {
  padding: 50px 0;
  &-wrap {
    background: #000;
  }
  &-header {
    text-align: center;
    position: relative;
  }
  &__head {
    display: inline-block;
    color: #fff;
    font-family: 'Yeseva';
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid $green;
  }
  &__link {
    color: $green;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 30px;
    &:after {
      content: '';
      display: block;
      background: url(../images/main-news-arrow.png) no-repeat 50%;
      width: 17px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: -30px;
    }
  }
  &-items {
    font-size: 0;
    margin-top: 60px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding-right: 30px;
    position: relative;
    &__date {
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 74px;
      background-color: #84a725;
      padding: 10px 0 0 0;
      text-align: center;
      color: #000;
      font-weight: bold;
      font-size: 34px;
      span {
        font-size: 14px;
        display: block;
        margin-top: 4px;
      }
    }
    &__link {
      color: $green;
      font-size: 14px;
      text-decoration: underline;
      margin-bottom: 10px;
    }
    &__head {
      color: #fff;
      font-family: 'Yeseva';
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 15px;
      &:hover {
        color: $green;
      }
    }
  }
  &-content {
    padding-left: 115px;
    p {
      color: #fff;
      font-size: 14px;
      line-height: 1.7;
    }
  }
}


/* Florist */

.florist {
  padding-top: 200px;
  margin-bottom: 75px;
  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: $green;
    position: absolute;
    top: 42px;
    left: 50%;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 172px;
    bottom: 0;
    right: 342px;
    left: 294px;
    background: #f5f5f5;
    z-index: -1;
  }
  &-head {
    font-family: 'Yeseva';
    font-size: 28px;
    font-weight: 400;
    color: $gray;
    padding-left: 115px;
    position: relative;
    margin-bottom: 36px;
    &:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: $green;
      position: absolute;
      top: 50%;
      margin-top: -.5px;
      left: 5px;
    }
  }
  &-item {
    position: relative;
    &__img {
      position: absolute;
      left: 165px;
      bottom: 24px;
    }
    &__content {
      padding-left: 456px;
      p {
        line-height: 1.7;
        padding-bottom: 32px;
      }
      span {
        font-family: 'Futuris';
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        padding-bottom: 43px;
        font-size: 14px;
      }
    }
  }
}


/* Footer */

.footer {
  padding: 50px 0;
  &-wrap {
    background: #000;
  }
  &-logo {
    float: left;
    margin-right: 130px;
  }
  &-menu {
    ul {
      display: inline-block;
      margin-right: 70px;
      li {
        margin-bottom: 15px;
        a {
          color: #f5f5f5;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &-info {
    float: right;
    margin-right: 40px;
    p,
    a {
      color: #fff;
    }
    &__tel {
      display: inline-block;
      font-family: 'Yeseva';
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    &__city {
      text-decoration: underline;
    }
    &__text {
      padding-bottom: 7px;
    }
    &__map {
      display: inline-block;
      margin-bottom: 22px;
      text-decoration: underline;
    }
    &__img {
      a {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}


/* Bottom */

.bottom {
  padding-top: 15px;
  padding-bottom: 20px;
  color: #fff;
  &-wrap {
    background: #111;
  }
  &-info {
    float: left;
  }
  &-text {
    float: right;
  }
  &-link {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}


/* Regist */

.registr {
  &-item {
    text-align: center;
    padding-bottom: 175px;
  }
  &-link {
    font-family: 'Futuris';
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    border: 1px solid #000;
    padding: 0 17px;
    color: #000;
    text-transform: uppercase;
    &:hover {
      background: $green;
      color: #fff;
      border: 1px solid $green;
    }
  }
  &-links {
    padding-top: 50px;
    a {
      text-decoration: underline;
      color: $green;
      &:first-child {
        margin-right: 174px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  position: relative;
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #acacac;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 3px;
      top: 3px;
      bottom: 3px;
      right: 3px;
      background: #acacac;
      border-radius: 50%;
      opacity: 0;
      transition: 300ms;
    }
  }
}

.form {
  width: 490px;
  padding-top: 55px;
  padding-bottom: 34px;
  margin: 0 auto;
  &-input {
    position: relative;
    width: 100%;
    margin-bottom: 14px;
    input {
      width: 100%;
      font-family: 'Futuris';
      font-size: 16px;
      font-weight: 700;
      line-height: 40px;
      color: $green;
      text-transform: uppercase;
      padding-right: 20px;
      border: none;
      border-bottom: 1px solid #000;
      background: none;
    }
    &__name {
      input {
        padding-right: 220px;
      }
    }
    &__address {
      input {
        padding-right: 150px;
      }
    }
  }
  &-check {
    position: absolute;
    bottom: 6px;
    right: 0;
    label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.form input::-webkit-input-placeholder {
  color: $green;
}

.form input:-moz-placeholder {
  color: $green;
}

.form input::-moz-placeholder {
  color: $green;
}

.form input:-ms-input-placeholder {
  color: $green;
}


/* Catalog */

.catalog {
  &-items {
    font-size: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  &-item {
    display: inline-block;
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
    span {
      font-family: 'Yeseva';
      font-size: 20px;
      padding-right: 12px;
    }
    form {
      display: inline-block;
    }
    select {
      padding-right: 24px;
      font-size: 18px;
      border: none;
      border-bottom: 1px solid $green;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      -ms-appearance: none;
      appearance: none!important;
      background: url(../images/catalog-arrow.png) no-repeat right center;
      font-family: 'Futuris';
      font-weight: 400;
      height: 25px;
      cursor: pointer;
    }
  }
}


/* Pagination */

.pagination {
  padding-top: 10px;
  padding-bottom: 74px;
  text-align: center;
  li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-right: 20px;
    position: relative;
    &:before {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      right: -18px;
    }
    &:nth-child(1) {
      margin-right: 30px;
    }
    &:last-child {
      margin-left: 10px;
    }
    &:nth-child(1):before {
      display: none;
    }
    &:nth-child(9):before {
      display: none;
    }
    &:last-child:before {
      display: none;
    }
    &:nth-child(3):before {
      top: 6px;
    }
    a {
      font-size: 16px;
      text-decoration: underline;
      color: #000;
      &.active {
        color: $green;
        font-family: 'Yeseva';
        font-size: 28px;
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Product */

.product {
  padding-top: 50px;
  padding-bottom: 125px;
  &-img {
    float: left;
    width: 51%;
    &__big {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #d7d7d7;
      margin-bottom: 16px;
      a {
        line-height: 686px;
        padding: 0 60px;
      }
      img {
        vertical-align: middle;
      }
    }
    &-wrap {
      font-size: 0;
    }
  }
  &-little {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    margin-right: 16px;
    &:hover,
    &.active {
      a {
        opacity: 1;
      }
    }
    a {
      line-height: 200px;
      padding: 0 20px;
      opacity: .4;
    }
    img {
      vertical-align: middle;
    }
  }
  &-items {
    float: right;
    width: 43%;
    &__head {
      font-family: 'Yeseva';
      font-size: 48px;
      font-weight: 400;
      padding-top: 15px;
    }
  }
  &-item {
    padding-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 28px;
    &__img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }
    &__text {
      display: inline-block;
      vertical-align: middle;
      width: 342px;
      color: $gray;
      line-height: 1.5;
    }
    p {
      color: $gray;
      line-height: 1.5;
      &:first-child {
        padding-bottom: 15px;
      }
    }
    &__name {
      display: inline-block;
      color: $gray;
      font-family: 'Yeseva';
      font-size: 20px;
      width: 137px;
      cursor: pointer;
    }
    &__price {
      color: $gray;
      font-family: 'Yeseva';
      font-size: 24px;
    }
  }
  &-total {
    padding-top: 26px;
    padding-bottom: 30px;
    &__item {
      margin-right: 66px;
      color: #020202;
    }
    &__price {
      display: inline-block;
      color: $gray;
      font-family: 'Yeseva';
      font-size: 24px;
    }
  }
  &-link {
    padding-bottom: 34px;
    &__basket {
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: #000;
      line-height: 48px;
      border: 1px solid #000;
      padding-left: 70px;
      padding-right: 32px;
      position: relative;
      margin-right: 20px;
      trandsition: 300ms;
      &:before {
        content: '';
        display: block;
        background: url(../images/product-link.png) no-repeat 50%;
        width: 23px;
        height: 23px;
        position: absolute;
        top: 50%;
        margin-top: -11.5px;
        left: 20px;
      }
      &:hover {
        background: $green;
        border: 1px solid $green;
      }
    }
    &__order {
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      border: 1px solid #000;
      line-height: 48px;
      padding: 0 30px;
      transition: 300ms;
      &:hover {
        color: #fff;
        background: $green;
        border: 1px solid $green;
      }
    }
  }
  &-add {
    margin-left: 90px;
    font-weight: 700;
    text-transform: uppercase;
    &__link {
      text-decoration: underline;
      color: $green;
      font-weight: 700;
    }
  }
  &-input {
    margin-bottom: 22px;
    &.active {
      .product-item__price {
        color: $green;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__item {
      display: inline-block;
    }
  }
}

.radio {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  margin-right: 10px;
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    &:checked + span {
      background: $green;
    }
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    border-radius: 50%;
    transition: 300ms;
  }
}


/* Product-offer */

.product-offer {
  padding-top: 85px;
  padding-bottom: 45px;
  position: relative;
  margin-bottom: 10px;
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: $green;
    position: absolute;
    top: -40px;
    left: 50%;
  }
  &-wrap {
    background: #f5f5f5;
  }
  &-items {
    font-size: 0;
    text-align: center;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 15px;
    p {
      font-size: 16px;
      line-height: 1.6;
    }
  }
  &__img {
    display: block;
    vertical-align: middle;
    line-height: 87px;
    img {
      vertical-align: middle;
    }
  }
  &__head {
    font-family: 'Yeseva';
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 25px;
    padding-top: 45px;
  }
}


/* Basket */

.basket {
  padding-top: 15px;
  margin-bottom: 55px;
  &-content {
    float: left;
    width: 74.5%;
  }
  &-table {
    border-collapse: collapse;
    width: 100%;
    thead {
      tr {
        th {
          font-weight: 700;
          text-transform: uppercase;
          text-align: left;
          padding: 22px 0;
          border-top: 1px solid #d7d7d7;
          border-bottom: 1px solid #d7d7d7;
          &:first-child {
            width: 456px;
          }
          &:nth-child(2) {
            width: 228px;
          }
          &:nth-child(3) {
            width: 228px;
          }
          &:nth-child(4) {
            width: 82px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 30px 0;
          border-bottom: 1px solid #d7d7d7;
        }
      }
    }
    &__img {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #d7d7d7;
      padding: 10px 15px;
      margin-right: 40px;
    }
    &__name {
      display: inline-block;
      vertical-align: middle;
      a {
        display: block;
        font-family: 'Yeseva';
        font-size: 24px;
        margin-bottom: 10px;
        color: $gray;
        font-weight: 400;
        &:hover {
          color: $green;
        }
      }
    }
    &-amount {
      font-size: 0;
      span {
        display: inline-block;
        width: 40px;
        line-height: 38px;
        background: #e1e1e1;
        border: 1px solid #acacac;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        vertical-align: middle;
      }
      input {
        width: 50px;
        border: none;
        border-top: 1px solid #acacac;
        border-bottom: 1px solid #acacac;
        line-height: 38px;
        text-align: center;
        font-family: 'Yeseva';
        font-size: 24px;
        color: $gray;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__price {
      color: $gray;
      font-family: 'Yeseva';
      font-size: 24px;
    }
    &__remove {
      background: url(../images/basket-img.png) no-repeat left;
      width: 26px;
      height: 26px;
      cursor: pointer;
      &:hover {
        background-position: right;
      }
    }
  }
  &-sidebar {
    float: right;
    width: 21%;
    margin-top: 64px;
  }
  &-pay {
    background: #f5f5f5;
    padding: 34px 25px 39px;
    color: $gray;
    margin-bottom: 55px;
    border-top: 1px solid $green;
    span {
      display: block;
      padding-bottom: 14px;
      font-family: 'Yeseva';
      font-size: 18px;
    }
    &__price {
      font-family: 'Yeseva';
      font-size: 28px;
      padding-bottom: 30px;
    }
    p {
      line-height: 1.5;
      padding-bottom: 10px;
      a {
        text-decoration: underline;
        color: $gray;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &__link {
      text-align: center;
      margin-top: 27px;
      a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        border: 1px solid #101010;
        line-height: 38px;
        padding: 0 20px;
        &:hover {
          color: #fff;
          background: $green;
          border: 1px solid $green;
        }
      }
    }
  }
  &-info {
    p {
      line-height: 1.5;
    }
    a {
      font-family: 'Yeseva';
      font-size: 24px;
      color: $gray;
      margin: 20px 0;
    }
  }
  &-form {
    background: #f5f5f5;
    padding-top: 0;
    margin-top: 35px;
    .form {
      margin: 0 0 0 40px;
      padding-top: 0;
      width: 540px;
    }
    &__head {
      color: $gray;
      font-family: 'Yeseva';
      font-size: 24px;
      font-weight: 400;
      border-bottom: 1px solid $green;
      display: inline-block;
      padding-bottom: 4px;
      padding-top: 40px;
      margin-bottom: 10px;
    }
  }
}


/* Blog */

.blog {
  &-descr {
    text-align: center;
    padding: 165px 228px 0;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: #f5f5f5;
      position: absolute;
      top: 80px;
      right: 220px;
      bottom: -115px;
      left: 220px;
      z-index: -1;
    }
    p {
      line-height: 1.6;
      position: relative;
      padding-bottom: 40px;
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        background: $green;
        position: absolute;
        top: -125px;
        left: 50%;
      }
    }
    &-brand {
      &:before {
        content: '';
        display: block;
        background: #f5f5f5;
        position: absolute;
        top: 80px;
        right: 135px;
        bottom: -52px;
        left: 135px;
        z-index: -1;
      }
    }
  }
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    z-index: 5;
    padding-right: 28px;
    margin-bottom: 55px;
    &__img {
      margin-bottom: 37px;
    }
    &-header {
      margin-bottom: 22px;
      span {
        font-size: 16px;
        margin-right: 12px;
      }
    }
    &__date {
      color: $gray;
      display: inline-block;
      font-size: 16px;
      margin-right: 15px;
    }
    &__cat {
      color: $green;
      font-size: 16px;
      text-decoration: underline;
    }
    &__name {
      color: $gray;
      font-family: 'Yeseva';
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 25px;
      &:hover {
        color: $green;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      color: $gray;
      a {
        color: $green;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


/* Article */

.article {
  &-content {
    float: left;
    width: 66%;
    h1 {
      padding-top: 45px;
      padding-bottom: 15px;
      font-family: 'Yeseva';
      font-size: 34px;
      font-weight: 400;
    }
    &__img {
      margin-bottom: 36px;
    }
    p {
      line-height: 1.6;
      color: $gray;
      padding-bottom: 33px;
      &:first-child {
        margin-top: 36px;
      }
    }
    h2 {
      font-family: 'Yeseva';
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 33px;
    }
  }
  &-bottom {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 60px;
    &__return {
      float: left;
      text-decoration: underline;
      color: #000;
      padding-left: 57px;
      position: relative;
      margin-top: 20px;
      &:before {
        content: '';
        display: block;
        background: url(../images/pagination-arrow.png) no-repeat 50%;
        width: 27px;
        height: 16px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 0;
      }
    }
    &__soc {
      float: right;
      padding: 20px 0;
      a {
        display: inline-block;
        vertical-align: middle;
        img {
          vertical-align: middle;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }
  &-sidebar {
    float: right;
    width: 28%;
    margin-top: 122px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -75px;
      right: 0;
      bottom: -100px;
      left: 60px;
      background: #f5f5f5;
      z-index: -1;
    }
    &__head {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 2;
      letter-spacing: 3px;
      margin-bottom: 30px;
    }
    a {
      font-family: 'Yeseva';
      font-size: 20px;
      color: #000;
      line-height: 1.6;
      margin-bottom: 30px;
      &:hover {
        color: $green;
      }
    }
  }
}


/* Brand */

.brand {
  &-item {
    margin-bottom: 65px;
    &__img {
      float: left;
    }
    &__img2 {
      float: right;
    }
    &__content {
      float: right;
      width: 42%;
      padding-right: 114px;
      padding-top: 100px;
    }
    &__content2 {
      float: left;
      padding: 40px 0 0 114px;
      .brand-item__head {
        &:before {
          left: auto;
          right: -156px;
        }
      }
    }
    &__head {
      font-weight: 400;
      font-family: 'Yeseva';
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 20px;
      position: relative;
      color: $gray;
      &:before {
        content: '';
        display: block;
        width: 110px;
        height: 1px;
        background: $green;
        position: absolute;
        top: 19px;
        left: -156px;
      }
    }
    p {
      line-height: 1.6;
      color: $gray;
    }
  }
  &-info {
    &-head {
      text-align: center;
      position: relative;
      margin-bottom: 50px;
      line-height: 1.6;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -122px;
        right: 114px;
        bottom: -320px;
        left: 114px;
        background: #f5f5f5;
        z-index: -1;
      }
    }
    &-items {
      font-size: 0;
      text-align: center;
      padding-bottom: 123px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        background: $green;
        position: absolute;
        bottom: -9px;
        left: 50%;
      }
    }
    &-item {
      display: inline-block;
      vertical-align: middle;
      width: 24%;
    }
  }
  &-like {
    margin-top: 80px;
    margin-bottom: 116px;
    &:before {
      display: none;
    }
  }
  &-res {
    text-align: center;
    position: relative;
    padding-top: 88px;
    padding-bottom: 55px;
    margin-bottom: 80px;
    &:before {
      content: '';
      display: block;
      background: #d7a376;
      position: absolute;
      top: 0;
      right: 150px;
      bottom: 0;
      left: 150px;
      z-index: -1;
    }
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 90px;
      background: #140b06;
      position: absolute;
      top: -43px;
      left: 50%;
    }
    &__head {
      font-family: 'Yeseva';
      font-size: 34px;
      font-weight: 400;
      color: #fff;
      padding-bottom: 26px;
    }
    p {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.6;
      a {
        color: #000;
        font-weight: 700;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}


/* Delivery */

.delivery {
  &-content {
    text-align: center;
    padding: 80px 117px 85px;
    margin: 80px 0 155px 0;
    position: relative;
    z-index: 5;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 120px;
      bottom: 35px;
      left: 120px;
      background: #f5f5f5;
      z-index: -1;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/delivery-img.png) no-repeat 50%;
      width: 100px;
      height: 98px;
      position: absolute;
      bottom: -17px;
      right: 50%;
      margin-right: -50px;
    }
    &-wrap {
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        background: $green;
        position: absolute;
        top: 162px;
        left: 50%;
        z-index: 10;
      }
    }
    p {
      color: $gray;
      line-height: 1.6;
      padding-bottom: 35px;
      a {
        color: $gray;
        &:hover {
          color: $green;
        }
      }
    }
  }
  &-items {
    text-align: center;
    padding-bottom: 100px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 90px;
      background: $green;
      position: absolute;
      top: -190px;
      left: 50%;
    }
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    text-align: left;
    &:first-child {
      margin-right: 145px;
      margin-left: 90px;
    }
    &__head {
      font-family: 'Yeseva';
      font-size: 24px;
      font-weight: 400;
      color: $gray;
      margin-top: 40px;
      margin-bottom: 26px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background: $green;
        position: absolute;
        top: 50%;
        left: -114px;
      }
    }
    p {
      line-height: 1.6;
      color: $gray;
    }
  }
}


/* Contacts */

.contacts {
  &-info {
    padding-top: 85px;
    &-items {
      text-align: center;
      font-size: 0;
      margin-bottom: 100px;
      margin-top: 80px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -80px;
        bottom: -50px;
        right: 80px;
        left: 80px;
        background: #f5f5f5;
        z-index: -1;
      }
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        background: $green;
        position: absolute;
        top: -126px;
        left: 50%;
      }
    }
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 28%;
      p {
        color: $gray;
        font-size: 16px;
      }
    }
    &__img {
      display: inline-block;
      vertical-align: middle;
      line-height: 110px;
      img {
        vertical-align: middle;
      }
    }
    &__head {
      font-family: 'Yeseva';
      font-size: 24px;
      font-weight: 400;
      color: $gray;
      padding-bottom: 10px;
    }
    &__tel {
      a {
        font-family: 'Yeseva';
        font-size: 24px;
        font-weight: 400;
        color: $gray;
        padding-bottom: 10px;
        &:hover {
          color: $green;
        }
      }
    }
    &__callback {
      text-decoration: underline;
      color: $gray;
    }
  }
  &-text {
    text-align: center;
    padding-bottom: 55px;
    padding-left: 209px;
    padding-right: 194px;
    p {
      line-height: 1.6;
      color: $gray;
    }
  }
  &-map {
    width: 100%;
    height: 600px;
    margin-bottom: 130px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 90px;
      background: $green;
      position: absolute;
      bottom: -142px;
      left: 50%;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &-items {
    padding-top: 55px;
    font-size: 0;
    text-align: center;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin-bottom: 115px;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: #f5f5f5;
      position: absolute;
      top: 21px;
      right: 125px;
      bottom: -44px;
      left: 125px;
      z-index: -1;
    }
    &__head {
      padding-top: 34px;
      padding-bottom: 12px;
      font-family: 'Yeseva';
      font-size: 24px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      padding-bottom: 12px;
    }
    &__link {
      display: inline-block;
      color: $gray;
      text-decoration: underline;
      margin-bottom: 12px;
    }
    &__tel {
      display: inline-block;  
      font-size: 20px;
      font-weight: 700;
      color: $gray;
      margin-bottom: 9px;
      &:hover {
        color: $green;
      }
    }
  }
}

/* Pay */

.pay {
  &-descr {
    text-align: center;
    margin: 75px 115px 55px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 90px;
      background: $green;
      position: absolute;
      top: -45px;
      left: 50%;
    }
    p {
      padding: 75px 114px 45px;
      background: #f5f5f5;
      line-height: 1.6;
    }
  }
  &-items {
    font-size: 0;
    margin: 0 115px;
    border-bottom: 1px solid #e1e1e1;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin-bottom: 50px;
    &__head {
      color: $gray;
      font-family: 'Yeseva';
      font-size: 24px;
      font-weight: 400;
      padding-bottom: 30px;
    }
    &__img {
      display: inline-block;
      vertical-align: middle;
      line-height: 35px;
      a {
        margin-right: 10px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
  &-infos {
    
  }
  &-info {
    padding: 50px 0;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 114px;
    &__head {
      color: $gray;
      font-family: 'Yeseva';
      font-size: 28px;
      font-weight: 400;
      padding-bottom: 35px;
    }
    p {
      line-height: 1.6;
    }
    table {
      tbody {
        tr {
          height: 70px;
          td {
            vertical-align: top;
            &:first-child {
              width: 4%;
            }
            &:nth-child(2) {
              width: 12%;
            }
            &:nth-child(3) {
              width: 34%;
            }
            &:nth-child(4) {
              width: 15%;
            }
            &:nth-child(5) {
              width: 8%;
              a {
                &:first-child {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}



