$blue: #66d5ea;
$red: #ff002a;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'ProximaNova', sans-serif;
}

a {
  font: 400 16px 'ProximaNova', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}

.head {
  display: inline-block;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 27px;
  position: relative;
  border-bottom: 1px solid #000;
}


/* Header */

.header {
  padding: 34px 0 22px;
  &-logo {
    float: left;
    margin-right: 58px;
  }
  &-content {
    float: left;
  }
  &-link {
    float: right;
  }
  &-info {
    padding-bottom: 20px;
    span {
      font-size: 14px;
      margin-right: 70px;
    }
    &__tel {
      font-size: 14px;
      margin-right: 70px;
      color: #000;
      &:hover {
        color: $blue;
      }
    }
    &__mail {
      text-decoration: underline;
      font-size: 14px;
      color: #000;
    }
  }
  &-link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: underline;
    padding: 0 45px;
    background-color: $red;
    &:hover {
      background: #a1031d;
    }
  }
}

.nav {
  &-wrap {
    position: relative;
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: #000;
      border-bottom: 1px solid #000;
      &:hover {
        border-bottom: 1px solid transparent;
      }
      &.active {
        border-bottom: none;
      }
    }
  }
}

.burger-wrap {
  display: none;
}

/* Bread */

.bread {
  padding: 20px 0 24px;
  border-top: 1px solid #ccdde7;
  li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-right: 30px;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/bread-img.png) no-repeat 50%;
      width: 14px;
      height: 8px;
      position: absolute;
      top: 3px;
      right: -24px;
    }
    &:last-child:before {
      display: none;
    }
    a {
      color: #000;
      font-size: 14px;
      border-bottom: 1px solid #000;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}


/* Main advice */

.main-advice {
  float: left;
  font-size: 0;
  margin: 30px 0 60px 90px;
  &-content {
    display: inline-block;
    vertical-align: middle;
    width: 72%;
    padding: 70px 15px 50px 45px;
    border: 20px solid $blue;
    background-color: #eef7fc;
    p {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  &__head {
    font-size: 46px;
    font-weight: 700;
    margin-left: -154px;
    border-bottom: 2px solid $red;
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 6px;
  }
  &-info {
    display: inline-block;
    vertical-align: middle;
    width: 27%;
    padding: 45px 20px 40px 20px;
    background-color: #eef7fc;
    text-align: center;
    span {
      display: block;
      font-size: 16px;
      padding-bottom: 12px;
    }
    p {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }
  &__tel {
    font-size: 34px;
    font-weight: 800;
    color: #000;
    margin-bottom: 20px;
    &:hover {
      color: $blue;
    }
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: underline;
    padding: 0 47px;
    background-color: $red;
    &:hover {
      background: #a1031d;
    }
  }
}


/* Main showcase */

.main-showcase {
  &-items {
    font-size: 0;
    padding-bottom: 50px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    margin-right: 1%;
    position: relative;
    margin-bottom: 15px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:hover .main-showcase-content {
      background: rgba(255, 0, 42, .8);
    }
    &:hover .main-showcase-content a {
      opacity: 1;
      visibility: visible;
    }
  }
  &__img {}
  &-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    padding: 60px 0 0 60px;
    transition: 300ms;
    span {
      font-size: 18px;
      color: #fff;
      margin-bottom: 36px;
      display: block;
    }
  }
  &__head {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    color: #fff;
    margin-bottom: 38px;
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-decoration: underline;
    border: 2px solid #fff;
    padding: 0 40px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    &:hover {
      text-decoration: none;
    }
  }
}


/* Main advan */

.main-advan {
  padding: 45px 0 0 0;
  margin-bottom: 60px;
  &-wrap {
    background-color: #eef7fc;
  }
  &-head {
    margin-top: 35px;
  }
  &-caption {
    display: inline-block;
    font-size: 46px;
    border-bottom: 2px solid #ff002a;
    margin-bottom: 10px;
  }
  &-items {
    font-size: 0;
    padding-bottom: 14px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 36px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    span {
      display: block;
      color: $blue;
      font-size: 36px;
      font-weight: 700;
      padding-bottom: 16px;
    }
    h3 {
      font-size: 26px;
      padding-bottom: 18px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
    }
  }
}


/* Main sale */

.main-sale {
  &-link {
    a {
      color: #fff;
      font-weight: 700;
      line-height: 40px;
      text-decoration: underline;
      padding: 0 30px;
      background-color: $red;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        text-decoration: none;
        background: #a1031d;
      }
    }
  }
  &-items {
    font-size: 0;
    padding-bottom: 35px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin-right: 2.5%;
    margin-bottom: 40px;
    transition: 300ms;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:hover .main-sale__img {
      border: 1px solid $red;
    }
    &:hover {
      color: #ff002a;
    }
    &:hover .main-sale-bottom a {
      background: $red;
      color: #fff;
    }
    &:hover .main-sale__link {
      color: $red;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 22px;
    color: #000;
    font-weight: 700;
  }
  &__img {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccdde7;
    line-height: 310px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__code {
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
  }
  &-bottom {
    span {
      display: inline-block;
      color: $red;
      font-size: 20px;
      margin-right: 34px;
    }
    a {
      color: #000;
      font-size: 15px;
      font-weight: 700;
      line-height: 35px;
      text-decoration: underline;
      padding: 0 15px;
      background-color: #ccdde7;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Main order */

.main-order {
  padding: 50px 0 17px 0;
  margin-bottom: 70px;
  &-wrap {
    background: url(../images/main-order-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-head {
    font-size: 44px;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-bottom: 35px;
  }
  &-form {
    button {
      width: 310px;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 60px;
      text-decoration: underline;
      background-color: $red;
      border: none;
      transition: 300ms;
      &:hover {
        text-decoration: none;
        background: #a1031d;
      }
    }
  }
  &-input {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 36px 0;
    input {
      width: 310px;
      font-size: 18px;
      line-height: 60px;
      padding: 0 25px;
      border: none;
      &.active {
        width: 655px;
      }
      &::-webkit-input-placeholder {
        color: #000;
      }
      &:-moz-placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
}


/* Partners */

.partners {
  font-size: 0;
  margin-bottom: 55px;
  &-arrows {
    float: right;
  }
  .slick-prev,
  .slick-next {
    background: url(../images/main-partners-arrow.png) no-repeat left;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccdde7;
    &:hover {
      background-position: right;
      border: 1px solid $red;
    }
  }
  .slick-next {
    background: url(../images/main-partners-arrow2.png) no-repeat left;
    margin-left: 9px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 34px;
    &:last-child {
      margin-right: 0;
    }
  }
}


/* Slider */

.slider {
  padding-bottom: 70px;
  &-about {
    float: left;
    width: 15%;
    margin-right: 2%;
    &-arrows {
      .slick-prev,
      .slick-next {
        background: url(../images/main-partners-arrow.png) no-repeat left;
        width: 80px;
        height: 40px;
        border: none;
        cursor: pointer;
        border: 1px solid #ccdde7;
        &:hover {
          background-position: right;
          border: 1px solid $red;
        }
      }
      .slick-next {
        background: url(../images/main-partners-arrow2.png) no-repeat left;
        margin-left: 9px;
      }
    }
  }
  &-name {
    margin-bottom: 24px;
    span {
      display: block;
      font-size: 42px;
      font-weight: 700;
      border-bottom: 1px solid #000;
      margin-bottom: 3px;
    }
  }
  &-items {
    float: right;
    width: 83%;
  }
  &-item {
    padding: 45px 10px 35px 40px;
    background-color: #eef7fc;
    &__img {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
    }
  }
  &-content {
    display: inline-block;
    vertical-align: top;
    width: 730px;
    &__head {
      padding-bottom: 20px;
      font-size: 24px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      a {
        color: $red;
        font-size: 14px;
        font-weight: 700;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


/* About */

.about {
  padding-top: 40px;
  margin-bottom: 70px;
  &-wrap {
    background: url(../images/main-about-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-item {
    float: left;
    width: 56%;
    padding-top: 22px;
    p {
      line-height: 1.6;
      padding-bottom: 37px;
    }
    a {
      color: #fff;
      font-weight: 700;
      line-height: 40px;
      text-decoration: underline;
      padding: 0 25px;
      background-color: $red;
      margin-bottom: 30px;
      &:hover {
        text-decoration: none;
        background: #a1031d;
      }
    }
  }
  &-info {
    float: right;
    width: 32%;
    padding: 35px 40px 33px 35px;
    background: #fff;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url(../images/about-info-img.png) repeat 50%;
      width: 100%;
      height: 4px;
      position: absolute;
      top: -4px;
      left: 0;
    }
    &__head {
      font-size: 26px;
      line-height: 1.3;
      padding-bottom: 30px;
    }
    li {
      padding: 0 0 22px 45px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(../images/about-info-imgl.png) no-repeat 50%;
        width: 20px;
        height: 27px;
        position: absolute;
        top: -2px;
        left: 0;
      }
      a {
        display: inline-block;
        vertical-align: top;
        color: $red;
        font-size: 24px;
        border-bottom: 1px solid $red;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}


/* News */

.news {
  &-items {
    font-size: 0;
    padding-bottom: 65px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    padding: 25px;
    border: 1px solid #ccdde7;
    height: 290px;
    &:last-child {
      margin-right: 0;
    }
    &__head {
      color: #000;
      font-size: 24px;
      line-height: 1.3;
      text-decoration: underline;
      margin-bottom: 16px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      padding-bottom: 20px;
    }
    span {
      color: #1d5d83;
      font-size: 16px;
      font-weight: 700;
      display: block;
    }
  }
}


/* Map */

.map {
  &-wrap {
    padding-bottom: 80px;
    iframe {
      width: 100%;
      height: 365px;
      border: none;
    }
  }
  &-info {
    position: absolute;
    bottom: 3px;
    left: 0;
    padding: 40px 105px 30px 50px;
    background: #fff;
    &:after {
      content: '';
      display: block;
      background: url(../images/about-info-img.png) repeat 50%;
      width: 100%;
      height: 4px;
      position: absolute;
      top: -4px;
      left: 0;
    }
    &-head {
      margin-bottom: 22px;
    }
    p {
      line-height: 1.6;
      padding-bottom: 20px;
    }
    &__tel {
      display: block;
      font-size: 24px;
      margin-bottom: 8px;
      color: #000;
      &:hover {
        color: $blue;
      }
    }
    &__mail {
      color: #1d5d83;
      text-decoration: underline;
      margin-top: 8px;
    }
  }
}


/* Footer */

.footer {
  padding: 44px 0 30px 0;
  &-wrap {
    background-color: #1d5d83;
  }
  &-logo {
    float: left;
  }
  &-log {
    margin-bottom: 45px;
  }
  &-link {
    a {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 50px;
      text-decoration: underline;
      padding: 0 47px;
      background-color: $red;
      &:hover {
        text-decoration: none;
        background: #a1031d;
      }
    }
  }
  &-info {
    float: right;
    ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 27px;
      width: 205px;
      &:last-child {
        margin-right: 0;
        width: 225px;
      }
      &:first-child {
        margin-right: 40px;
      }
      li {
        margin-bottom: 16px;
        color: #fff;
        a {
          color: #fff;
          text-decoration: underline;
          line-height: 1.6;
          &:hover {
            text-decoration: none;
          }
        }
      }
      span {
        color: #fff;
      }
    }
    &__link {
      text-decoration: underline;
      color: #fff;
      margin-bottom: 20px;
    }
  }
  &-tel {
    font-size: 26px;
    margin: 10px 0 13px 0;
    color: #fff;
    &:hover {
      color: $blue;
    }
  }
  &-mail {
    text-decoration: underline;
    color: #fff;
    margin-bottom: 20px;
  }
}


/* Bottom */

.bottom {
  padding: 18px 0;
  border-top: 1px solid $blue;
  &-wrap {
    background-color: #1d5d83;
  }
  &-info {
    float: left;
    color: $blue;
    font-size: 14px;
  }
  &-omg {
    float: right;
    font-size: 14px;
    color: $blue;
    a {
      text-decoration: underline;
      color: $blue;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Catalog */

.catalog {
  &-items {
    .main-sale-item {
      width: 31%;
      margin-right: 3.5%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  &-head {
    margin-bottom: 34px;
  }
  &-content {
    margin-left: 345px;
    p {
      line-height: 1.6;
      padding-bottom: 40px;
    }
  }
}

/* Sidebar */

.sidebar {
  float: left;
  width: 23%;
  background: #eef7fc;
  padding-bottom: 10px;
  &-head {
    color: #fff;
    font-size: 24px;
    background: $blue;
    padding: 16px 35px 16px 22px;
    margin-bottom: 25px;
  }
  ul {
    padding: 0 35px 0 22px;
    li {
      margin-bottom: 30px;
      &:nth-child(3) {
        font-weight: 700;
      }
      a {
        color: #000;
        border-bottom: 1px solid #000;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

/* Pagination */

.pagination {
  padding-bottom: 70px;
  text-align: center;
  li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 8px;
    position: relative;
    &:first-child {
      margin-right: 25px;
    }
    &:last-child {
      margin-left: 25px;
    }
    a {
      display: inline-block;
      vertical-align: top;
      border: 1px solid #ccdde7;
      line-height: 40px;
      width: 40px;
      font-size: 18px;
      color: #000;
      &.active {
        color: #fff;
        background: $red;
        border: 1px solid $red;
      }
      &:hover {
        background: $red;
        color: #fff;
        border: 1px solid $red;
      }
    }
  }
  &-arrows {
    background: url(../images/pagination-arrow.png) no-repeat left;
    width: 29px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    &:hover {
      background-position: right;
    }
    &__right {
      background: url(../images/pagination-arrow2.png) no-repeat left;
    }
  }
}

/* Contacts */

.contacts {
  &-head {
    margin-bottom: 37px;
  }
  &-map {
    padding-bottom: 50px;
    iframe {
      width: 100%;
      height: 455px;
      border: none;
    }
  }
  &-items {
    padding-bottom: 37px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccdde7;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin-right: 11%;
    &__head {
      font-size: 16px;
      padding-bottom: 16px;
    }
    p {
      padding-bottom: 10px;
    }
    &__link {
      color: #fff;
      font-weight: 700;
      line-height: 40px;
      text-decoration: underline;
      padding: 0 30px;
      background-color: $red;
      &:hover {
        text-decoration: none;
        background: #a1031d;
      }
    }
  }
  &-info {
    padding-bottom: 8px;
    a {
      color: #000;
      &:hover {
        color: $blue;
      }
    }
  }
  &-text {
    padding-bottom: 65px;
    line-height: 1.6;
    padding-right: 340px;
  }
}

/* Products */

.products {
  padding-bottom: 45px;
  &-img {
    display: inline-block;
    vertical-align: top;
    line-height: 520px;
    width: 52%;
    text-align: center;
    border: 1px solid #ccdde7;
    margin-right: 40px;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &-head {
    margin-bottom: 10px;
    border-bottom: none;
  }
  &-content {
    display: inline-block;
    vertical-align: top;
    width: 43%;
    span {
      font-size: 24px;
      font-weight: 700;
      display: block;
      padding-bottom: 14px;
    }
    p {
      color: $red;
      font-size: 24px;
      font-weight: 700;
      padding: 24px 0 30px;
    }
  }
  &-link {
    display: inline-block;
    color: #000;
    line-height: 40px;
    padding: 0 18px;
    margin-bottom: 16px;
    background: $blue;
  }
  table {
    tr {
      td {
        &:first-child {
          width: 212px;
          color: #747474;
          line-height: 25px;
        }
      }
    }
  }
  &-order {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: underline;
    padding: 0 26px;
    background-color: #ccdde7;
    &:hover {
      background: #359fb3;
      color: #fff;
    }
  }
  &-slider {
    &-arrows {
      float: right;
      .slick-prev,
      .slick-next {
        background: url(../images/main-partners-arrow.png) no-repeat left;
        width: 80px;
        height: 40px;
        border: none;
        cursor: pointer;
        border: 1px solid #ccdde7;
        &:hover {
          background-position: right;
          border: 1px solid $red;
        }
      }
      .slick-next {
        background: url(../images/main-partners-arrow2.png) no-repeat left;
        margin-left: 9px;
      }
    }
    &-wrap {
      margin-bottom: 60px;
    }
    &-items {
      .main-sale-item {
        width: 310px;
        margin: 0 auto;
        margin-right: 30px;
      }
    }
  }
  &-info {
    position: relative;
    padding-top: 50px;
    border-top: 1px solid #ccdde7;
    padding-bottom: 25px;
  }
  &-sale {
    position: absolute;
    top: 50px;
    right: 0;
    a {
      color: #fff;
      font-weight: 700;
      line-height: 40px;
      text-decoration: underline;
      padding: 0 28px;
      background: $red;
      &:hover {
        background: #a1031d;
      }
    }
  }
}

/* Modal */

.modal {
  display: inline-block;
  padding: 25px 57px 40px;
  background-color: $blue;
  display: none;
  position: relative;
  overflow: visible;
  &-head {
    font-size: 36px;
    border-bottom: 1px solid #000;
    margin-bottom: 35px;
  }
  &-form {
    width: 310px;
    button {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 60px;
      text-decoration: underline;
      width: 100%;
      border: none;
      cursor: pointer;
      background: $red;
      transition: 300ms;
      &:hover {
        background: #a1031d;
      }
    }
  }
  &-input {
    margin-bottom: 30px;
    input,
    textarea {
      width: 100%;
      font-size: 18px;
      height: 60px;
      padding: 0 25px;
      font-family: 'ProximaNova';
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    textarea {
      resize: none;
      font-family: 'ProximaNova';
      font-weight: 400;
      height: 180px;
      padding-top: 15px;
      line-height: 1.2;
    }
  }
  &-img {
    
  }
}

.fancybox-bg {
  background-color: rgba(29,93,131,1);
}

.fancybox-is-open .fancybox-bg {
  opacity: .8;
}

.fancybox-close-small:after {
  display: none;
}

.fancybox-close-small {
  background: #1a5172 url(../images/modal-img.png) no-repeat center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: -70px;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    background-color: #66d5ea;
  }
}






