@media only screen and (max-width: 1366px) {
  .object:before {
    display: none; }
  .object-items .slick-list {
    overflow: hidden; }
  .object-item:after {
    display: none; } }

@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1170px; }
  .header-content {
    padding: 0 24px; }
  .showcase-about {
    height: 610px; }
  .navigation li {
    margin-right: 14px; }
  .main-catalog-img {
    width: 290px; }
  .main-catalog-content {
    padding-top: 22px;
    padding-left: 16px; }
  .main-catalog-item {
    width: 580px;
    margin: 0 10px 10px 0; }
    .main-catalog-item.elems .main-catalog-content {
      margin-right: 10px;
      padding-left: 14px; }
  .object-item {
    margin-right: 15px; }
  .trust {
    padding-top: 36px; }
    .trust-item {
      margin-right: 10px; }
    .trust-content {
      padding-left: 16px; }
      .trust-content h2 {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 10px; }
  .main-offer .trust-content {
    padding-left: 12px; }
  .calc-slider {
    margin: 0 57px 40px; }
  .calc-item-top input {
    width: 170px;
    padding: 0 26px; }
  .calculator-item.info .info-items {
    padding-right: 0; }
  .calculator-item.info .info-item p {
    width: 300px; }
  .about-body {
    padding-right: 20px; }
  .about-elem {
    padding-left: 30px; }
  .main-news {
    padding: 36px 0 28px; }
    .main-news-blog {
      margin-right: 50px; }
    .main-news-body .news-content {
      margin-bottom: 39px; }
  .callback-content {
    padding-top: 36px; }
  .footer-objects-item {
    margin-right: 43px; }
  .main-body {
    width: 836px; }
  .news-items {
    margin-right: -34px; }
  .news-item {
    margin-right: 34px; }
  .catalog-content {
    padding: 26px 20px 21px; }
  .catalog-elem:first-child {
    margin-right: 48px; }
  .category-select li {
    margin-right: 40px; }
    .category-select li a, .category-select li span {
      font-size: 16px; }
  .contacts-item {
    width: 234px;
    padding-left: 40px;
    margin-right: 6px; }
    .contacts-item:first-child {
      margin-right: 26px; }
  .contacts-content__address, .contacts-content__head, .contacts-content__mail {
    font-size: 18px; }
  .contacts-content__tel {
    font-size: 26px; }
  .contacts-map {
    height: 350px; }
  .contacts .ref {
    font-size: 14px; }
  .offices .head {
    margin-bottom: 26px; }
  .offices-item {
    width: 310px;
    margin: 0 20px 20px 0;
    padding: 22px 8px 24px 14px; }
    .offices-item__head {
      font-size: 28px;
      margin-bottom: 18px; }
    .offices-item ul li {
      margin-bottom: 6px; }
  .application-logo {
    width: 234px;
    margin-right: 26px; }
  .application-content {
    width: 630px; }
  .application-head {
    font-size: 40px;
    margin-bottom: 10px; }
  .reviews-items {
    margin: 0 60px 30px; }
  .reviews-links {
    margin-left: 0; }
  .products-select {
    padding-right: 10px;
    padding-left: 10px; }
  .products-item {
    width: 413px;
    margin: 0 10px 10px 0; }
  .partners-items {
    margin: 0; }
  .trade {
    padding-bottom: 66px; }
    .trade-info {
      width: 525px; }
      .trade-info-bottom {
        padding: 0 12px; }
    .trade-item {
      margin-bottom: 30px; }
    .trade-content .head {
      margin-bottom: 30px; }
  .news-more .news-item {
    width: 370px;
    margin-right: 30px; }
  .services-types-item {
    width: 575px;
    margin-right: 20px; }
  .article-schedule-items li a {
    font-size: 32px; }
  .product-gallery {
    width: 750px;
    height: 420px; }
    .product-gallery-mini {
      width: 130px; }
  .product-top-sidebar .soc ul li {
    margin-right: 12px; }
  .product-navigation li {
    padding: 0 21px; }
  .product-advantage {
    padding-left: 0;
    padding-top: 54px; }
    .product-advantage-item {
      margin: 0 94px 50px 0; }
  .product-map.product-object-map iframe {
    height: 400px; }
  .features-item:first-child {
    margin-right: 94px; }
  .object-description-content {
    padding-right: 30px; }
  .object-description-item {
    margin-right: 30px; }
  .other-districts {
    padding: 18px 0 20px; }
    .other-districts__head {
      font-size: 21px;
      margin-right: 18px; }
    .other-districts ul li {
      margin-right: 18px; }
      .other-districts ul li a {
        font-size: 17px; }
  .objects-body {
    padding: 16px; }
  .objects-table {
    width: 580px; }
  .objects-img {
    margin-bottom: 18px; }
  .objects-content-items {
    margin-bottom: 16px; }
  .objects-content__head {
    font-size: 22px; }
  .objects-content__info {
    font-size: 21px; }
  .objects-content-link {
    margin-bottom: 8px; }
    .objects-content-link a {
      font-size: 22px; }
  .objects-form input {
    font-size: 21px; }
  .insurance {
    padding: 50px 0; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px; }
  .logo {
    margin-bottom: 14px; }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-content {
      padding-left: 0;
      padding-right: 40px; }
    .header-body {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .showcase-about {
    height: 510px; }
  .showcase-services {
    margin-bottom: 62px; }
    .showcase-services-wrap .bread {
      margin-bottom: 30px; }
    .showcase-services-img img {
      width: 550px; }
    .showcase-services-content h2 {
      font-size: 38px;
      line-height: 1.2;
      margin-bottom: 18px; }
    .showcase-services-content p {
      margin-bottom: 24px; }
    .showcase-services-bottom .ref {
      font-size: 20px; }
      .showcase-services-bottom .ref .round {
        width: 42px;
        height: 42px; }
    .showcase-services-navigation li {
      height: 66px; }
      .showcase-services-navigation li a {
        font-size: 20px; }
  .select-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 14px; }
  .select-item {
    width: 280px;
    margin-bottom: 10px; }
    .select-item:nth-child(3n) {
      margin-right: 0; }
  .main-catalog-img {
    width: 240px; }
  .main-catalog-item {
    width: 480px; }
    .main-catalog-item.elems .main-catalog-content {
      padding: 10px; }
    .main-catalog-item.map .main-catalog-content {
      padding: 10px; }
      .main-catalog-item.map .main-catalog-content h2 {
        font-size: 21px; }
      .main-catalog-item.map .main-catalog-content p {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 12px;
        padding-right: 0; }
  .main-catalog-content {
    padding: 10px; }
    .main-catalog-content h2 {
      font-size: 15px;
      margin-bottom: 6px; }
    .main-catalog-content table tbody tr td {
      height: 24px; }
      .main-catalog-content table tbody tr td:first-child {
        width: 170px; }
      .main-catalog-content table tbody tr td a, .main-catalog-content table tbody tr td span {
        font-size: 15px; }
    .main-catalog-content .ref {
      padding: 10px 50px 10px 16px;
      font-size: 14px; }
      .main-catalog-content .ref:hover {
        padding-right: 26px;
        padding-left: 40px; }
        .main-catalog-content .ref:hover .round {
          width: calc(100% - 10px); }
      .main-catalog-content .ref .round {
        width: 30px;
        height: 30px;
        right: 5px; }
  .object-items {
    width: 777px;
    margin: 0 auto 30px; }
  .trust {
    padding: 32px 0 40px; }
    .trust-content {
      padding-left: 8px; }
      .trust-content h2 {
        font-size: 18px;
        margin-bottom: 6px; }
      .trust-content p {
        line-height: 1.3; }
  .complex .object {
    padding-top: 34px; }
  .main-offer {
    padding: 42px 0 34px; }
  .calc {
    padding: 26px 16px 20px; }
    .calc-item {
      margin-bottom: 24px; }
      .calc-item.three {
        margin-bottom: 10px; }
      .calc-item:last-child {
        margin-bottom: 0; }
      .calc-item-top {
        margin-bottom: 18px; }
        .calc-item-top p {
          font-size: 16px; }
        .calc-item-top input {
          width: 136px;
          height: 48px;
          padding: 0 12px; }
    .calc-slider {
      margin: 0 73px 40px; }
  .calculator {
    padding: 30px 0 52px; }
    .calculator-item.info {
      padding: 22px 18px; }
      .calculator-item.info .info-top span {
        font-size: 16px; }
      .calculator-item.info .info-top h2 {
        font-size: 30px;
        margin-bottom: 4px; }
        .calculator-item.info .info-top h2 span {
          padding-bottom: 2px;
          font-size: 16px; }
      .calculator-item.info .info-top p {
        font-size: 16px; }
      .calculator-item.info .info-elem a {
        font-size: 16px;
        margin-left: 14px; }
      .calculator-item.info .info-items {
        margin-bottom: 6px; }
      .calculator-item.info .info-item {
        padding: 3px 0; }
        .calculator-item.info .info-item p {
          width: 270px;
          font-size: 20px; }
        .calculator-item.info .info-item span {
          font-size: 30px; }
      .calculator-item.info .info__text, .calculator-item.info .info__note {
        line-height: 1.2;
        font-size: 17px; }
      .calculator-item.info .info-bottom input {
        height: 50px;
        padding-left: 12px;
        font-size: 20px; }
      .calculator-item.info .info-bottom button {
        height: 50px; }
  .about-logo {
    margin-bottom: 20px; }
  .about-elem {
    padding-left: 0; }
  .about-content h2 {
    font-size: 28px; }
  .about-content p {
    line-height: 1.35; }
  .about-item {
    width: 184px;
    margin-right: 10px; }
    .about-item p {
      font-size: 18px; }
  .about-side {
    width: 330px; }
  .about-slider .slick-next {
    right: 0; }
  .about-slider-img {
    margin-bottom: 12px; }
  .about-slider-item h2 {
    font-size: 18px;
    margin-bottom: 3px; }
  .about-slider-item p {
    font-size: 15px; }
  .about-inform {
    padding: 28px 0; }
    .about-inform p {
      line-height: 1.4;
      margin-bottom: 16px; }
  .main-news {
    padding: 26px 0; }
    .main-news-wrap {
      padding-bottom: 34px; }
    .main-news-blog {
      width: 480px;
      margin-right: 30px; }
      .main-news-blog .news-content {
        padding-top: 16px; }
    .main-news-body .news-nav {
      margin-bottom: 27px; }
      .main-news-body .news-nav li {
        margin-right: 20px; }
    .main-news-body .news-content {
      margin-bottom: 24px; }
  .callback-top {
    margin-bottom: 14px; }
    .callback-top a {
      font-size: 30px; }
    .callback-top p {
      line-height: 1.35; }
  .callback-content {
    height: 420px;
    padding-top: 20px; }
  .callback-items {
    margin-bottom: 20px; }
  .callback-item {
    margin-bottom: 22px; }
    .callback-item-head {
      font-size: 20px; }
  .callback-map {
    height: 420px; }
  .callback__head {
    font-size: 22px;
    margin-bottom: 10px; }
  .footer-logo {
    margin-bottom: 36px; }
    .footer-logo p {
      font-size: 28px; }
  .footer-soc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px; }
    .footer-soc__head {
      margin-right: 0;
      margin-bottom: 10px; }
  .footer-objects-item {
    margin-right: 10px; }
    .footer-objects-item h2 {
      font-size: 16px;
      margin-bottom: 6px; }
    .footer-objects-item table tbody tr td {
      font-size: 15px; }
      .footer-objects-item table tbody tr td:first-child {
        width: 172px; }
      .footer-objects-item table tbody tr td a {
        font-size: 15px; }
  .news-wrap {
    margin-top: 26px; }
  .news-items {
    margin-bottom: 0; }
  .news-item {
    width: 301px; }
  .news-content {
    padding-top: 18px; }
    .news-content__head {
      font-size: 18px;
      line-height: 1.25;
      margin-bottom: 6px; }
    .news-content p {
      line-height: 1.3;
      font-size: 15px; }
      .news-content p a {
        font-size: 15px; }
  .news-nav li {
    margin-right: 22px; }
    .news-nav li a {
      font-size: 17px; }
  .main-body {
    width: 636px; }
  .sidebar-news {
    margin-bottom: 38px; }
    .sidebar-news .news-top {
      margin-bottom: 10px; }
    .sidebar-news .news-content {
      margin-bottom: 28px; }
      .sidebar-news .news-content__head {
        font-size: 17px; }
  .catalog-img {
    width: 280px; }
  .catalog-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 34px 14px 10px;
    position: relative; }
    .catalog-content__head {
      font-size: 20px;
      margin-bottom: 6px; }
    .catalog-content__address {
      line-height: 1.3;
      margin-bottom: 10px; }
    .catalog-content__date {
      bottom: auto;
      top: 12px;
      left: 14px; }
  .catalog-cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 6px; }
    .catalog-cost .value {
      font-size: 19px;
      margin-bottom: 0; }
    .catalog-cost .price {
      font-size: 17px;
      margin-bottom: 0; }
  .catalog-items {
    margin-bottom: 35px; }
  .catalog-images {
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    top: 12px;
    right: 18px; }
    .catalog-images li {
      margin-right: 9px; }
      .catalog-images li i {
        font-size: 15px; }
  .catalog-nav li a {
    font-size: 28px; }
  .catalog-category li a {
    font-size: 16px;
    padding: 0 14px; }
  .catalog-sort span {
    margin-right: 10px; }
  .catalog-sort select {
    width: 210px;
    padding: 0 12px; }
  .catalog-elem {
    position: static; }
    .catalog-elem:first-child {
      width: 100%;
      margin-right: 0; }
  .category-select li {
    width: 40%;
    margin-right: 20px; }
    .category-select li:nth-child(2n) {
      margin-right: 0; }
    .category-select li:nth-child(3n) {
      margin-right: 20px; }
  .contacts {
    padding: 30px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts-items {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: 20px; }
  .realty {
    margin: 0; }
  .offices-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .offices-item {
    margin: 0 10px 20px; }
    .offices-item:nth-child(3n) {
      margin: 0 10px 20px; }
  .application {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 0; }
    .application-img img {
      width: 300px; }
    .application-head {
      font-size: 38px;
      margin-bottom: 14px; }
    .application-content {
      width: 600px; }
      .application-content__text {
        margin-bottom: 24px;
        padding-right: 0; }
  .products-item {
    width: 313px; }
  .products-content {
    padding: 10px 10px 14px; }
    .products-content__head {
      font-size: 22px; }
    .products-content__address {
      margin-bottom: 10px; }
  .products-developer {
    margin-bottom: 12px; }
  .products-info__head {
    margin-bottom: 4px; }
  .products-info table tbody tr td {
    height: 28px;
    font-size: 15px; }
  .products-select .select-item {
    width: 280px; }
    .products-select .select-item.block {
      width: 280px; }
  .trade {
    padding: 50px 0; }
    .trade-info {
      width: 460px; }
      .trade-info-bottom {
        padding: 0; }
        .trade-info-bottom a {
          font-size: 16px; }
      .trade-info__text {
        font-size: 16px; }
    .trade-video {
      margin-bottom: 12px; }
      .trade-video iframe {
        height: 290px; }
    .trade-content {
      padding-right: 38px;
      margin-top: 0; }
      .trade-content .head {
        line-height: 1.15;
        font-size: 30px; }
    .trade-item {
      margin-bottom: 22px; }
      .trade-item p {
        font-size: 16px; }
  .news-more {
    padding-top: 32px; }
    .news-more .news-item {
      width: 311px;
      margin-right: 18px; }
  .services-types-item {
    width: 475px;
    padding: 24px 24px 32px;
    margin-bottom: 20px; }
    .services-types-item ul li {
      margin-bottom: 8px; }
  .services-types__head {
    font-size: 32px;
    margin-bottom: 14px; }
  .article .head {
    padding-right: 0;
    font-size: 30px; }
  .article-item {
    padding-top: 28px; }
  .article p {
    line-height: 1.45;
    margin-bottom: 16px; }
  .article-bottom .soc ul li {
    margin-right: 8px; }
  .article-schedule-items {
    margin-bottom: 40px; }
    .article-schedule-items li a {
      font-size: 28px;
      padding: 20px 30px; }
  .product-wrap {
    padding-bottom: 38px; }
  .product-map {
    margin-bottom: 35px; }
    .product-map iframe {
      height: 300px; }
  .product-top {
    margin-bottom: 38px; }
    .product-top-sidebar .cost {
      margin-bottom: 77px; }
      .product-top-sidebar .cost__value {
        font-size: 32px;
        margin-bottom: 12px; }
    .product-top-content {
      width: 725px; }
      .product-top-content .head {
        font-size: 28px; }
  .product-links {
    padding-right: 0; }
  .product-link-wrap .product-link {
    margin-right: 28px; }
  .product-info-item {
    width: 144px !important; }
  .product-gallery {
    width: 620px;
    height: 320px; }
  .product-items {
    width: 330px;
    padding: 16px 10px; }
  .product-item {
    margin-bottom: 20px !important; }
    .product-item:last-child {
      margin-bottom: 0 !important; }
    .product-item .link {
      line-height: 36px;
      font-size: 15px;
      padding: 0 18px; }
    .product-item-img {
      margin-right: 6px; }
    .product-item-content .ref {
      font-size: 14px;
      padding: 14px 52px 14px 16px; }
      .product-item-content .ref:hover {
        padding-right: 24px;
        padding-left: 44px; }
    .product-item__head {
      font-size: 18px;
      margin-bottom: 4px; }
    .product-item__text {
      line-height: 1.35; }
    .product-item__tel {
      font-size: 22px;
      margin-right: 14px; }
  .product-sentence {
    padding: 22px 25px 32px;
    margin: 0 40px 56px; }
    .product-sentence-col:first-child {
      width: 43%; }
    .product-sentence-col:last-child {
      width: 55%; }
    .product-sentence__head {
      font-size: 48px; }
    .product-sentence__note {
      font-size: 21px;
      margin-bottom: 14px; }
  .product-navigation li {
    padding: 0 18px; }
    .product-navigation li a {
      font-size: 20px; }
  .product-category {
    margin: 0; }
    .product-category-item {
      margin-right: 30px; }
  .product-article {
    padding: 34px 0; }
  .product-advantage {
    padding-top: 38px; }
    .product-advantage-item {
      width: 306px;
      margin: 0 26px 38px 0; }
      .product-advantage-item p {
        padding-left: 18px;
        font-size: 22px; }
  .features-items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .features-item {
    width: 31%; }
    .features-item:first-child {
      margin-right: 36px; }
    .features-item tbody tr td {
      font-size: 16px; }
  .object-description-item {
    width: 308px;
    padding: 18px 12px;
    margin-right: 18px; }
    .object-description-item .cost__value {
      font-size: 26px; }
      .object-description-item .cost__value:after {
        top: 3px; }
    .object-description-item .cost span {
      font-size: 20px; }
    .object-description-item .ref {
      padding: 14px 50px 14px 12px;
      font-size: 14px; }
      .object-description-item .ref:hover {
        padding-right: 22px;
        padding-left: 40px; }
  .object-description-content p {
    margin-bottom: 16px; }
  .object-description__head {
    font-size: 20px; }
  .other-districts__head {
    font-size: 18px;
    margin-right: 15px; }
  .other-districts ul li {
    margin-right: 14px; }
    .other-districts ul li a {
      font-size: 16px; }
  .objects-item {
    margin-right: 12px; }
    .objects-item__head {
      font-size: 17px; }
    .objects-item ul li {
      width: 42px;
      height: 42px; }
    .objects-item select {
      height: 44px;
      font-size: 16px;
      padding: 0 30px 0 12px; }
    .objects-item input {
      height: 44px;
      padding: 0 10px;
      font-size: 16px; }
  .objects-table {
    width: 490px; }
    .objects-table-header li:first-child {
      width: 22%; }
    .objects-table-header li:nth-child(3) {
      width: 24%; }
    .objects-table-header li:last-child {
      width: 24%; }
    .objects-table-item ul li p, .objects-table-item ul li span {
      font-size: 15px; }
    .objects-table-item ul li:first-child {
      width: 22%; }
    .objects-table-item ul li:nth-child(3) {
      width: 24%; }
    .objects-table-item ul li:last-child {
      width: 24%; }
  .objects-col {
    width: 426px; }
  .objects-gallery {
    width: 426px; }
  .objects-content {
    padding-right: 0; }
    .objects-content__head {
      font-size: 20px; }
    .objects-content__info {
      font-size: 18px; }
    .objects-content-link {
      margin-bottom: 6px; }
      .objects-content-link a {
        font-size: 18px; }
  .objects-form {
    height: 52px; }
    .objects-form input {
      padding: 0 180px 0 14px;
      font-size: 18px; }
    .objects-form button {
      width: 166px;
      font-size: 15px; }
  .record {
    padding: 20px 28px 42px; }
    .record-wrap {
      padding: 48px 0; }
    .record__head {
      font-size: 48px; }
    .record-item ul li {
      margin-bottom: 24px; }
    .record-item__head {
      font-size: 20px; }
    .record-item__text {
      font-size: 16px; }
    .record-item-content p, .record-item-content a {
      font-size: 16px; }
    .record-item__tel {
      font-size: 38px; }
    .record-form {
      height: 50px; }
      .record-form input {
        font-size: 20px;
        padding-left: 14px; }
  .customers {
    padding: 32px 0; }
    .customers .head {
      padding-right: 0;
      font-size: 30px; }
    .customers-items ul li {
      margin-bottom: 18px; }
      .customers-items ul li p {
        font-size: 16px; }
  .insurance {
    padding: 32px 0; }
    .insurance-form {
      width: 340px;
      padding: 14px 18px 20px; }
      .insurance-form h2 {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 14px; }
      .insurance-form .ref {
        margin: 4px 0 10px; }
    .insurance-img {
      width: 1250px;
      left: -25px; }
    .insurance-input {
      margin-bottom: 12px; }
    .insurance-consent {
      margin-left: 0;
      line-height: 1.3; }
      .insurance-consent a {
        line-height: 1.3; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px; }
  .head {
    font-size: 28px; }
    .head a {
      margin-left: 2px;
      font-size: 28px; }
  .ref {
    font-size: 14px;
    padding: 12px 50px 12px 14px; }
    .ref:hover {
      padding-left: 40px;
      padding-right: 24px; }
    .ref .round {
      width: 32px;
      height: 32px; }
  .modal-question {
    width: 700px;
    padding: 22px 18px 28px; }
  .modal__head {
    font-size: 30px;
    margin-bottom: 7px; }
  .modal__text {
    line-height: 1.3;
    margin-bottom: 18px; }
  .modal-input input {
    height: 48px;
    padding: 0 10px;
    font-size: 20px; }
  .modal-error {
    font-size: 13px;
    padding-left: 8px; }
  .modal-form textarea {
    height: 100px;
    font-size: 20px;
    padding: 12px 10px 10px; }
  .city-select {
    left: -136px; }
    .city-select:before {
      left: auto;
      right: 40px; }
  .header-top {
    margin-bottom: 12px; }
  .header-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-content {
    padding-right: 0;
    margin-bottom: 12px; }
  .showcase__head {
    font-size: 38px; }
  .showcase-about {
    height: 410px; }
  .showcase-services {
    margin-bottom: 44px; }
    .showcase-services-img img {
      width: 422px; }
    .showcase-services-content {
      width: 380px; }
      .showcase-services-content h2 {
        font-size: 30px;
        margin-bottom: 12px; }
      .showcase-services-content p {
        line-height: 1.35; }
    .showcase-services-bottom {
      padding-right: 0; }
      .showcase-services-bottom .price {
        font-size: 30px; }
      .showcase-services-bottom .ref {
        font-size: 18px;
        padding: 13px 60px 13px 20px; }
        .showcase-services-bottom .ref:hover {
          padding-right: 36px;
          padding-left: 44px; }
        .showcase-services-bottom .ref .round {
          width: 40px;
          height: 40px; }
    .showcase-services-navigation li {
      height: 55px; }
      .showcase-services-navigation li a {
        font-size: 18px; }
  .showcase-article .showcase {
    margin-bottom: 28px; }
  .select__head {
    font-size: 30px; }
    .select__head a {
      font-size: 30px; }
  .select-item:nth-child(2n) {
    margin-right: 0; }
  .select-item:nth-child(3n) {
    margin-right: 10px; }
  .select-item:last-child {
    margin-right: 0; }
  .main-catalog-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main-catalog-item {
    width: 520px;
    margin: 0 0 12px; }
    .main-catalog-item:last-child {
      margin-bottom: 0; }
    .main-catalog-item.elems .main-catalog-content {
      margin-right: 12px; }
    .main-catalog-item.map .main-catalog-img {
      height: 225px; }
    .main-catalog-item.map .main-catalog-content h2 {
      font-size: 23px; }
  .main-catalog-content h2 {
    font-size: 16px; }
  .main-catalog-img {
    width: 260px; }
  .object-items {
    width: 697px; }
  .object-item {
    width: 340px; }
  .object-content {
    padding: 20px 14px; }
  .object-info {
    padding-right: 0; }
  .trust {
    padding-bottom: 24px; }
    .trust-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .trust-item {
      margin-right: 18px;
      margin-bottom: 18px; }
      .trust-item:nth-child(2n) {
        margin-right: 0; }
  .complex-content {
    padding: 14px 10px 18px 18px; }
    .complex-content__text {
      line-height: 1.3; }
  .main-offer {
    padding-bottom: 14px; }
  .calc-slider {
    margin: 0 60px 14px; }
  .calc-item-top input {
    width: 112px;
    height: 42px;
    font-size: 20px; }
  .calculator-item.info .info-top h2 {
    font-size: 28px;
    line-height: 1; }
    .calculator-item.info .info-top h2 span {
      padding-bottom: 0;
      font-size: 15px; }
  .calculator-item.info .info-top p {
    font-size: 15px;
    margin-bottom: 12px; }
  .calculator-item.info .info-elem {
    margin-bottom: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .calculator-item.info .info-elem ul {
      margin-bottom: 6px; }
      .calculator-item.info .info-elem ul li {
        width: 52px;
        height: 52px; }
    .calculator-item.info .info-elem a {
      margin-left: 0; }
  .calculator-item.info .info-item p {
    width: 200px;
    font-size: 18px; }
  .calculator-item.info .info-item span {
    font-size: 24px; }
  .calculator-item.info .info__text, .calculator-item.info .info__note {
    line-height: 1.1;
    font-size: 16px; }
  .calculator-item.info .info-bottom input {
    height: 46px;
    padding-left: 10px;
    font-size: 18px; }
  .calculator-item.info .info-bottom button {
    height: 46px;
    font-size: 15px; }
  .about {
    padding: 50px 0 44px; }
    .about-content {
      margin-bottom: 26px; }
      .about-content h2 {
        font-size: 24px; }
    .about-side {
      width: 290px; }
      .about-side h2 {
        margin-bottom: 16px; }
    .about-item {
      width: 140px; }
      .about-item p {
        font-size: 16px;
        margin-top: 10px; }
  .main-news-blog {
    width: 350px;
    margin-right: 16px; }
  .main-news-body .news-nav li {
    margin-right: 14px; }
    .main-news-body .news-nav li a {
      font-size: 14px; }
  .news-top .date, .news-top__link {
    font-size: 15px; }
  .news-content__head {
    font-size: 18px; }
  .news-content p {
    font-size: 15px; }
    .news-content p a {
      font-size: 15px; }
  .news-item.basic .news-content {
    padding-top: 12px; }
  .callback-top a {
    font-size: 26px; }
  .callback-top p {
    font-size: 15px; }
  .callback-content {
    width: 406px;
    padding-right: 16px; }
  .callback__head {
    font-size: 20px; }
  .callback-item {
    margin-bottom: 14px; }
    .callback-item-head {
      font-size: 18px; }
    .callback-item ul li {
      margin-bottom: 4px;
      font-size: 15px; }
      .callback-item ul li a {
        font-size: 15px; }
  .callback .ref {
    padding: 12px 50px 12px 14px; }
    .callback .ref:hover {
      padding-left: 40px;
      padding-right: 24px; }
  .footer-logo {
    margin-bottom: 28px; }
    .footer-logo p {
      font-size: 24px; }
  .footer-menu {
    padding: 10px 0; }
    .footer-menu li {
      margin-right: 16px; }
      .footer-menu li a {
        font-size: 16px; }
  .footer-content {
    width: 450px; }
  .footer-soc__head {
    font-size: 15px; }
  .footer-soc ul li {
    margin-right: 14px; }
  .footer-objects {
    padding-bottom: 10px; }
    .footer-objects-items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .footer-objects-item {
      margin-bottom: 16px; }
      .footer-objects-item:nth-child(2n) {
        margin-right: 0; }
  .bottom-item p,
  .bottom-item > a {
    font-size: 12px; }
    .bottom-item p a,
    .bottom-item > a a {
      font-size: 12px; }
  .main-body {
    width: 480px; }
  .news-items {
    margin-right: -20px; }
  .news-item {
    width: 229px;
    margin-right: 20px;
    margin-bottom: 20px; }
  .news-content {
    padding-top: 14px; }
  .news-nav li {
    margin-right: 16px; }
    .news-nav li a {
      font-size: 16px; }
  .sidebar {
    width: 250px; }
    .sidebar-news {
      padding: 20px 12px; }
      .sidebar-news .news-content {
        margin-bottom: 18px; }
        .sidebar-news .news-content__head {
          font-size: 16px; }
  .sidebar-mortgage {
    padding: 16px 12px 26px; }
    .sidebar-mortgage__head {
      font-size: 30px; }
    .sidebar-mortgage__text {
      font-size: 15px;
      margin-bottom: 16px; }
    .sidebar-mortgage__offer {
      padding-top: 4px;
      margin: 0 0 20px;
      font-size: 16px;
      line-height: 1.25; }
    .sidebar-mortgage__info {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 16px;
      padding-left: 0; }
      .sidebar-mortgage__info b {
        line-height: 1.3; }
    .sidebar-mortgage__link a {
      font-size: 15px; }
    .sidebar-mortgage-bottom .link {
      line-height: 44px;
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 6px; }
    .sidebar-mortgage .calculator-item {
      margin-bottom: 24px; }
    .sidebar-mortgage .calc-item-top p {
      padding-right: 0; }
    .sidebar-mortgage .calc-item-top input {
      width: 90px; }
  .sidebar-sections {
    margin-top: 0;
    margin-bottom: 38px;
    padding: 20px 16px 28px; }
    .sidebar-sections h2 {
      margin-bottom: 10px; }
    .sidebar-sections ul li {
      margin-bottom: 8px; }
      .sidebar-sections ul li a {
        font-size: 17px; }
  .main-pagination li {
    padding: 0 12px; }
  .catalog-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .catalog-category {
    margin-bottom: 10px; }
    .catalog-category li a {
      line-height: 37px; }
  .catalog-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 8px; }
  .catalog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 235px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .catalog-item:nth-child(2n) {
      margin-right: 0; }
  .catalog-cost .price {
    font-size: 16px; }
  .catalog-sort select {
    height: 37px; }
  .catalog-img {
    width: 100%; }
  .catalog-images {
    right: 8px; }
  .catalog-content {
    padding: 34px 8px 8px; }
    .catalog-content__date {
      left: 8px; }
    .catalog-content__head {
      font-size: 18px;
      margin-bottom: 4px; }
    .catalog-content__address {
      font-size: 15px; }
    .catalog-content__text {
      line-height: 1.3;
      font-size: 15px; }
  .sidebar-issues.products-issues {
    margin-top: 55px; }
  .category-select li {
    width: 49%;
    margin-right: 9px; }
    .category-select li:nth-child(3n) {
      margin-right: 9px; }
  .application-content {
    width: 510px; }
    .application-content__text {
      line-height: 1.35; }
  .application-head {
    font-size: 32px;
    margin-bottom: 6px; }
  .application-link {
    padding-left: 0; }
  .reviews-items {
    margin: 0 0 30px; }
  .reviews-content {
    padding-left: 28px; }
  .reviews-body {
    padding-left: 16px;
    line-height: 1.4; }
  .reviews-links .ref:first-child {
    margin-right: 24px; }
  .products-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .products-item {
    width: 400px;
    margin-right: 0; }
  .partners {
    padding: 32px 0 16px; }
    .partners-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .partners-item {
      width: 100px;
      margin: 0 25px 30px; }
  .services-article {
    padding: 28px 0 40px; }
    .services-article .head {
      margin-bottom: 20px; }
    .services-article .product-article-items {
      padding: 0; }
      .services-article .product-article-items p {
        margin-bottom: 16px; }
  .trade-info {
    width: 360px; }
    .trade-info-bottom a {
      font-size: 15px; }
    .trade-info__text {
      font-size: 15px; }
  .trade-content {
    padding-right: 20px; }
    .trade-content .head {
      font-size: 26px;
      margin-bottom: 22px; }
  .trade-item p {
    padding-left: 10px;
    font-size: 15px; }
  .trade-video iframe {
    height: 240px; }
  .news-more .head {
    margin-bottom: 18px; }
  .news-more .news-item {
    width: 240px;
    margin-right: 14px; }
  .services-types-item {
    width: 365px;
    padding: 16px 16px 26px; }
  .services-types__head {
    font-size: 28px; }
  .article {
    margin-bottom: 0; }
    .article .head {
      font-size: 26px;
      margin-bottom: 16px; }
    .article-item {
      padding-top: 20px; }
    .article-bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 22px;
      padding-top: 18px; }
      .article-bottom .tags {
        margin-bottom: 8px; }
  .article-schedule-items {
    margin-bottom: 32px; }
    .article-schedule-items li {
      margin-bottom: 12px; }
      .article-schedule-items li a {
        font-size: 22px;
        padding: 14px; }
  .product-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .product-top-content {
      width: 100%;
      margin-bottom: 16px; }
    .product-top-sidebar {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 0; }
      .product-top-sidebar .cost {
        margin-bottom: 0; }
  .product-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .product-gallery {
    margin: 0 auto 20px; }
  .product-items {
    width: 100%; }
  .features {
    padding: 26px 0;
    margin-bottom: 26px; }
    .features-item {
      width: 33%; }
      .features-item:first-child {
        margin-right: 18px; }
      .features-item tbody tr td {
        font-size: 14px;
        height: auto;
        padding: 4px 0; }
        .features-item tbody tr td:first-child {
          width: 160px !important; }
  .object-description {
    padding-bottom: 28px; }
    .object-description-content {
      padding-right: 22px; }
      .object-description-content .head {
        margin-bottom: 14px; }
      .object-description-content p {
        line-height: 1.35; }
    .object-description-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 10px; }
    .object-description-item {
      margin-right: 0;
      margin-bottom: 16px; }
  .other-districts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .other-districts__head {
      margin-bottom: 6px; }
    .other-districts ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .other-districts ul li {
        margin-bottom: 2px; }
  .product-sentence {
    margin: 0 0 44px; }
    .product-sentence__head {
      font-size: 40px; }
    .product-sentence__note {
      font-size: 18px; }
    .product-sentence__text {
      margin-bottom: 12px; }
      .product-sentence__text p {
        font-size: 18px; }
    .product-sentence-form {
      width: 100%; }
      .product-sentence-form input {
        height: 50px;
        font-size: 18px;
        padding: 0 150px 0 10px; }
      .product-sentence-form button {
        width: 140px;
        height: 50px;
        font-size: 14px; }
  .product-navigation li {
    padding: 0 10px; }
    .product-navigation li a {
      font-size: 18px; }
  .product-category-item {
    margin-right: 6px; }
    .product-category-item a, .product-category-item p {
      font-size: 16px;
      margin-bottom: 8px; }
    .product-category-item p {
      margin-bottom: 6px; }
  .product-article {
    padding: 26px 0 32px; }
    .product-article p {
      padding: 0;
      line-height: 1.35;
      margin-bottom: 14px; }
  .product-advantage {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .product-advantage-item {
      margin: 0 10px 20px; }
      .product-advantage-item:nth-child(3n) {
        margin: 0 10px 20px; }
      .product-advantage-item p {
        font-size: 20px; }
  .product-map.product-object-map {
    margin-bottom: 28px; }
    .product-map.product-object-map iframe {
      height: 300px; }
  .product-calc-img {
    width: 80px; }
  .product-calc-top {
    padding-right: 0; }
  .objects .head {
    padding-right: 0; }
  .objects-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 14px; }
  .objects-item {
    width: 212px !important;
    margin: 0 6px 10px; }
    .objects-item:last-child {
      margin: 0 6px 12px; }
  .objects-col {
    width: 314px; }
  .objects-img {
    height: 300px; }
  .objects-gallery {
    width: 326px; }
    .objects-gallery .slick-slide img {
      height: 300px; }
  .objects-body {
    padding: 12px 14px 12px 6px; }
  .objects-table {
    width: 395px;
    padding: 0 10px 0 0; }
    .objects-table-header li {
      font-size: 13px; }
    .objects-table-item {
      margin-bottom: 0; }
      .objects-table-item ul li p, .objects-table-item ul li span {
        font-size: 13px; }
  .objects-content-items {
    margin-bottom: 12px; }
  .objects-content__text {
    font-size: 15px;
    margin-bottom: 12px; }
  .objects-content__head {
    font-size: 18px; }
  .objects-content__info {
    font-size: 16px; }
  .objects-content-link {
    margin-bottom: 6px; }
    .objects-content-link a {
      font-size: 16px; }
  .objects-form input {
    padding: 0 128px 0 8px;
    font-size: 16px; }
  .objects-form button {
    width: 120px;
    font-size: 14px; }
  .record {
    padding: 16px 18px 32px; }
    .record-wrap {
      padding: 34px 0; }
    .record-item {
      width: 360px; }
    .record__head {
      font-size: 40px; }
    .record-form {
      width: 100%; }
      .record-form input {
        font-size: 18px;
        padding-left: 10px; }
      .record-form button {
        width: 144px;
        font-size: 15px; }
  .customers {
    padding: 22px 0 28px; }
    .customers .head {
      margin-bottom: 22px; }
    .customers-items {
      margin-left: 0; }
      .customers-items ul {
        margin: 0 22px 0 0; }
        .customers-items ul li {
          margin-bottom: 14px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .modal-question {
    width: 500px; }
  .modal-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0; }
  .modal-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
    .modal-input input {
      font-size: 18px; }
  .modal-form textarea {
    font-size: 18px; }
  .modal-bottom__compliance {
    padding: 0 10px 0 0; }
  .modal-bottom button {
    padding: 0 25px;
    height: 46px;
    font-size: 16px; }
  .logo {
    width: 200px;
    margin-bottom: 0; }
  .burger {
    display: block;
    width: 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 30px;
        height: 5px;
        background-color: #cf9d41;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 30px;
          height: 5px;
          position: absolute;
          left: 0;
          background-color: #cf9d41;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -8px; }
        .burger a span:after {
          top: 8px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  .header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 20px 10px; }
    .header-wrap .container {
      max-width: 100%; }
    .header-top {
      display: none; }
    .header-body {
      height: 0; }
    .header .callback {
      width: auto;
      margin-top: 0;
      position: absolute;
      top: 50%;
      right: 55px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .callback__tel {
        margin-bottom: 0;
        margin-right: 6px;
        font-size: 20px; }
      .header .callback .link {
        padding: 0 12px; }
  .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .navigation.active {
      opacity: 1;
      visibility: visible; }
    .navigation li {
      margin-right: 0;
      padding: 6px 0; }
  .showcase {
    padding: 32px 0 36px; }
    .showcase__head {
      font-size: 30px;
      margin-bottom: 20px; }
  .showcase-about {
    height: 310px; }
  .showcase-services {
    margin-bottom: 32px; }
    .showcase-services-wrap .showcase {
      padding-bottom: 10px; }
    .showcase-services-img img {
      width: 340px;
      display: none; }
    .showcase-services-content {
      width: 100%; }
      .showcase-services-content h2 {
        font-size: 26px;
        margin-bottom: 8px; }
    .showcase-services-navigation {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .showcase-services-navigation li {
        width: 49%;
        margin-right: 10px;
        margin-bottom: 10px; }
        .showcase-services-navigation li:nth-child(2n) {
          margin-right: 0; }
  .select {
    padding: 18px 26px 26px; }
    .select__head {
      font-size: 22px; }
      .select__head a {
        font-size: 22px; }
    .select-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .select-item {
      width: 100% !important;
      margin-right: 0 !important; }
  .main-catalog {
    padding-top: 30px; }
  .object-items {
    width: 341px; }
    .object-items .slick-arrow {
      right: -24px; }
    .object-items .slick-next {
      left: auto;
      right: -64px; }
  .object-item {
    margin-right: 0; }
  .trust-item {
    width: 260px; }
  .calc {
    padding-bottom: 22px; }
    .calc-slider {
      margin: 0 58px 14px; }
  .calculator {
    padding-bottom: 40px; }
    .calculator-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .calculator-item {
      width: 100%; }
      .calculator-item.info .info-item {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .calculator-item.info .info-bottom {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 38px 0 36px; }
    .about-body {
      padding-right: 0;
      margin-bottom: 24px; }
    .about-item {
      width: 172px; }
    .about-side {
      width: 360px;
      margin: 0 auto; }
      .about-side h2 {
        margin-bottom: 6px; }
  .main-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-news-blog {
      width: 100%;
      margin-bottom: 20px; }
    .main-news-body .news-nav {
      margin-bottom: 20px; }
  .callback {
    text-align: center; }
    .callback-wrap {
      background-color: #cf9d41; }
    .callback-content {
      position: static;
      width: 100%;
      height: auto;
      padding: 20px 0; }
    .callback-map {
      height: 300px; }
    .callback-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .callback-item ul li {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .callback-item ul li p {
        margin-right: 0; }
      .callback-item ul li a {
        margin-left: 5px; }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-logo {
      margin-bottom: 18px; }
    .footer-content {
      margin-bottom: 10px; }
    .footer-menu {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0; }
    .bottom-item p {
      text-align: center; }
  .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden; }
  .main-body {
    width: 100%; }
  .news-item {
    width: 260px; }
  .sidebar {
    width: 100%; }
  .sidebar-mortgage__info b {
    display: inline; }
  .sidebar-sections {
    margin-top: 25px; }
    .sidebar-sections h2,
    .sidebar-sections ul li {
      text-align: center; }
  .catalog-item {
    width: 265px; }
  .catalog-nav li {
    margin-right: 21px; }
    .catalog-nav li a {
      font-size: 24px; }
  .sidebar-issues {
    margin-top: 54px;
    text-align: center; }
    .sidebar-issues.products-issues {
      margin-top: 40px; }
  .main-advt {
    padding: 24px 0; }
    .main-advt h2 {
      font-size: 28px;
      margin-bottom: 10px; }
    .main-advt p {
      line-height: 1.35; }
  .category-select li {
    width: 50%;
    margin-right: 0 !important; }
  .contacts {
    padding-top: 14px; }
    .contacts-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 4px; }
    .contacts-item {
      width: 100%;
      margin-bottom: 16px;
      margin-right: 0 !important; }
    .contacts-map {
      height: 300px;
      margin-bottom: 28px; }
  .realty {
    padding: 0 0 30px; }
    .realty p {
      line-height: 1.35; }
  .offices-item {
    width: 260px;
    margin: 0 5px 10px;
    padding: 14px 10px 20px; }
    .offices-item:nth-child(3n) {
      margin: 0 5px 10px; }
    .offices-item__head {
      font-size: 22px;
      margin-bottom: 16px; }
    .offices-item__address, .offices-item__mail {
      font-size: 16px; }
  .offices-img {
    margin-right: 14px; }
  .application {
    padding: 18px 0; }
    .application-img img {
      width: 220px; }
    .application-logo {
      width: 220px; }
    .application-content {
      width: 348px; }
      .application-content__text {
        font-size: 15px;
        margin-bottom: 10px;
        line-height: 1.35; }
    .application-head {
      font-size: 24px;
      margin-bottom: 6px; }
    .application-link {
      padding-left: 0; }
  .about-inform {
    margin: 0; }
  .reviews {
    padding: 24px 0 34px; }
    .reviews .head {
      margin-bottom: 30px; }
    .reviews-content {
      padding-left: 0; }
    .reviews-img {
      margin-bottom: 10px; }
    .reviews-info {
      width: 180px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .reviews-item {
      margin-bottom: 20px; }
  .partners {
    padding: 20px 0 8px; }
    .partners .head {
      margin-bottom: 28px; }
  .services-article {
    padding-bottom: 16px; }
    .services-article .head {
      padding-right: 0; }
    .services-article .product-article-items p {
      line-height: 1.35;
      margin-bottom: 12px; }
  .trade {
    padding: 32px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .trade-content {
      padding-right: 0;
      margin-bottom: 30px; }
    .trade-info {
      width: 100%; }
  .news-more {
    padding-top: 24px; }
    .news-more .news-item {
      width: 264px;
      margin-right: 12px !important;
      margin-bottom: 14px; }
      .news-more .news-item:nth-child(2n) {
        margin-right: 0 !important; }
  .services-types-item {
    width: 100%;
    margin-right: 0; }
  .article-schedule {
    margin-bottom: 30px; }
  .product-gallery {
    width: 540px;
    height: 300px; }
  .product-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .product-link-wrap {
    margin-bottom: 14px; }
    .product-link-wrap .product-link {
      margin-right: 14px; }
  .product-info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .product-info-item {
      width: 30% !important;
      margin-bottom: 10px;
      text-align: center; }
  .product-sentence {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 20px 20px;
    margin: 0 0 22px; }
    .product-sentence-col {
      width: 100% !important;
      margin-right: 0 !important; }
      .product-sentence-col:last-child {
        padding-top: 14px; }
    .product-sentence__note {
      margin-bottom: 5px; }
    .product-sentence__text p {
      margin-bottom: 6px; }
  .product-navigation {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 14px 0 10px; }
    .product-navigation li {
      margin-bottom: 5px; }
  .product-category {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 12px; }
    .product-category-item {
      margin: 0 8px 14px; }
  .product-article .head {
    padding-right: 0;
    margin-bottom: 16px; }
  .product-article p {
    margin-bottom: 12px; }
  .product-advantage {
    padding-top: 26px;
    padding-bottom: 12px; }
    .product-advantage-item {
      width: 260px;
      margin: 0 5px 12px; }
      .product-advantage-item:nth-child(3n) {
        margin: 0 5px 12px; }
      .product-advantage-item p {
        font-size: 18px;
        line-height: 1.2;
        padding-left: 10px; }
  .product-calc .calculator {
    padding-bottom: 38px; }
  .features .head {
    padding-right: 0; }
  .features-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .features-item {
    width: 100% !important; }
    .features-item tbody tr td {
      font-size: 16px; }
      .features-item tbody tr td:first-child {
        width: 70% !important; }
  .object-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .object-description-content {
      padding-right: 0; }
      .object-description-content .head {
        padding-right: 0; }
    .object-description-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .object-description-sidebar {
      width: 100%; }
  .objects {
    padding-bottom: 42px; }
    .objects-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 16px; }
    .objects-table {
      width: 100%;
      border-right: none;
      padding-right: 0; }
    .objects-col {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 100%;
      margin-bottom: 16px; }
  .record__head {
    font-size: 32px;
    margin-bottom: 18px; }
  .record-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .record-item {
    width: 100%;
    margin-bottom: 12px; }
    .record-item__text {
      margin-bottom: 10px; }
    .record-item ul {
      margin: 18px 0 0; }
      .record-item ul li {
        margin-bottom: 18px; }
  .insurance {
    padding: 32px 0; }
    .insurance-form {
      width: 290px;
      padding: 8px 10px 16px; }
    .insurance-img {
      left: -106px; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 10px; }
  .head {
    font-size: 20px;
    padding-right: 34px; }
    .head a {
      font-size: 20px; }
  .header-wrap .container {
    padding: 0; }
  .header .callback {
    display: none; }
  .showcase-about {
    height: 200px; }
  .showcase-services-wrap .bread {
    margin-bottom: 14px; }
  .showcase-services-bottom .price {
    font-size: 22px; }
  .showcase-services-bottom .ref {
    font-size: 16px; }
    .showcase-services-bottom .ref .round {
      width: 36px;
      height: 36px; }
  .showcase-services-navigation li {
    width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 6px; }
  .showcase-inner .showcase {
    padding: 0 0 16px; }
  .select {
    padding: 18px 14px 14px; }
    .select-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .select-links .ref {
        margin-right: 0;
        margin-bottom: 10px; }
  .main-catalog-item {
    width: 290px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-catalog-item.elems .main-catalog-content {
      margin-right: 0;
      margin-bottom: 12px;
      width: 100%; }
      .main-catalog-item.elems .main-catalog-content:last-child {
        margin-bottom: 0; }
  .main-catalog-img {
    width: 100%; }
  .object {
    padding: 30px 0 38px; }
    .object-items {
      width: 290px; }
      .object-items .slick-arrow {
        right: 18px;
        top: -43px; }
      .object-items .slick-next {
        right: 0; }
    .object-item {
      width: 290px; }
    .object-top__head {
      font-size: 16px; }
    .object-images li {
      margin-right: 6px; }
    .object-info {
      margin-bottom: 8px; }
      .object-info .price {
        font-size: 22px; }
      .object-info .square-meter {
        font-size: 17px; }
    .object-content {
      padding: 10px; }
      .object-content__text {
        line-height: 1.3; }
  .trust .head {
    margin-bottom: 26px; }
  .trust-item {
    width: 100%;
    margin-right: 0 !important; }
  .complex-content {
    padding: 10px; }
    .complex-content__head {
      font-size: 20px;
      margin-bottom: 8px; }
    .complex-content__price {
      font-size: 21px; }
  .calc-slider {
    width: 188px;
    margin: 0 auto 16px; }
    .calc-slider .slick-arrow {
      left: -30px; }
    .calc-slider .slick-next {
      left: auto;
      right: -28px; }
    .calc-slider li {
      margin: 0 6px; }
  .calculator-item.info {
    padding: 18px 12px; }
    .calculator-item.info .info-top h2 {
      font-size: 26px; }
    .calculator-item.info .info-elem ul li {
      width: 44px;
      height: 44px;
      margin-left: -16px; }
    .calculator-item.info .info-item p {
      width: 160px;
      font-size: 16px; }
    .calculator-item.info .info-item span {
      font-size: 18px; }
    .calculator-item.info .info__text, .calculator-item.info .info__note {
      font-size: 15px; }
    .calculator-item.info .info-bottom input {
      font-size: 15px;
      padding-left: 6px;
      padding-right: 6px; }
    .calculator-item.info .info-bottom button {
      font-size: 13px; }
  .calc-item-top p {
    font-size: 15px; }
  .calc-item-top input {
    width: 100px;
    height: 38px;
    font-size: 16px; }
  .about-content h2 {
    font-size: 22px; }
  .about-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about-item {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 16px; }
  .about-side {
    width: 290px; }
  .about-inform {
    padding: 16px 0; }
  .main-news-body .news-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main-news-body .news-nav li {
      margin-right: 0;
      margin-bottom: 4px;
      width: 50%;
      text-align: center; }
  .footer-content {
    width: 100%; }
  .footer-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-logo a {
      margin-bottom: 16px; }
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-menu li {
      margin-right: 0;
      margin: 4px 0; }
  .footer-objects-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-objects-item {
    width: 100%;
    margin-right: 0 !important; }
    .footer-objects-item table tbody tr td:last-child {
      text-align: right; }
  .main-body {
    margin-bottom: 40px; }
  .news-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px; }
    .news-nav li {
      margin-bottom: 3px; }
  .news-items {
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .news-item {
    width: 290px;
    margin-right: 0; }
  .main-pagination li {
    padding: 0 8px; }
    .main-pagination li.prev, .main-pagination li.next {
      padding: 0 2px; }
    .main-pagination li a {
      font-size: 16px; }
      .main-pagination li a i {
        font-size: 14px; }
  .sidebar-news {
    margin-top: 0; }
  .sidebar-mortgage .calc-item-top input, .sidebar-mortgage .calc-item-top p {
    font-size: 17px; }
  .sidebar-sections {
    margin-top: 0; }
  .catalog-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .catalog-nav li {
      margin-right: 0; }
  .catalog-sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .catalog-sort span {
      margin-right: 0;
      margin-bottom: 6px; }
  .catalog-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .catalog-item {
    width: 290px;
    margin-right: 0 !important; }
  .sidebar-issues {
    margin-top: 0; }
    .sidebar-issues.products-issues {
      margin-top: 0; }
  .main-advt h2 {
    font-size: 24px; }
  .main-advt p {
    font-size: 15px; }
  .category-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .category-head span {
      padding: 0; }
  .category-select li {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .offices-item {
    width: 290px; }
  .application-img img {
    display: none; }
  .application-content {
    width: 100%; }
  .reviews {
    padding-bottom: 20px; }
    .reviews-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .reviews-info {
      width: 100%;
      margin-bottom: 12px; }
    .reviews-body {
      padding-left: 0; }
    .reviews-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .reviews-links .ref {
        margin-bottom: 10px; }
        .reviews-links .ref:first-child {
          margin-right: 0; }
  .products-content__head {
    font-size: 20px;
    margin-bottom: 4px; }
  .products-content__address {
    margin-bottom: 4px;
    font-size: 15px; }
  .products-developer {
    margin-bottom: 8px; }
    .products-developer span {
      font-size: 15px;
      margin-right: 10px; }
    .products-developer a {
      font-size: 15px; }
  .products-info__head {
    font-size: 16px; }
  .products-info table tbody tr td {
    font-size: 14px; }
  .partners-item {
    width: 96px;
    margin: 0 20px 30px; }
  .trade-info-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .trade-info__text {
    margin-bottom: 4px; }
  .trade-video {
    margin-bottom: 6px; }
    .trade-video iframe {
      height: 190px; }
  .news-more .news-item {
    width: 290px;
    margin-right: 0 !important; }
  .services-types {
    padding: 0 0 12px; }
    .services-types-item {
      padding: 10px 10px 18px; }
      .services-types-item ul li {
        font-size: 15px;
        margin-bottom: 5px; }
    .services-types__head {
      font-size: 24px;
      margin-bottom: 10px; }
  .article .head {
    font-size: 22px; }
  .article-top__date, .article-top__group {
    font-size: 15px; }
  .article h3 {
    font-size: 22px; }
  .article-bottom .soc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .article-bottom .soc__head {
      margin-right: 0;
      margin-bottom: 6px; }
  .article-schedule {
    margin-bottom: 0; }
    .article-schedule-items li a {
      font-size: 18px;
      padding: 10px; }
  .product-top {
    margin-bottom: 24px; }
    .product-top-content {
      margin-bottom: 6px; }
      .product-top-content .head {
        font-size: 24px; }
    .product-top-sidebar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .product-top-sidebar .cost {
        width: 100%;
        text-align: center;
        margin-bottom: 4px; }
        .product-top-sidebar .cost__value {
          font-size: 30px;
          margin-bottom: 6px; }
        .product-top-sidebar .cost__price {
          font-size: 22px; }
      .product-top-sidebar .soc {
        width: 100%;
        text-align: center; }
        .product-top-sidebar .soc ul {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
  .product-links {
    margin-bottom: 12px; }
  .product-link {
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
    .product-link a {
      font-size: 16px; }
    .product-link-wrap {
      width: 100%;
      margin-bottom: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .product-link-wrap .product-link {
        margin-right: 0; }
  .product-info__head {
    font-size: 16px;
    margin-bottom: 2px; }
  .product-info__value {
    font-size: 22px; }
  .product-info-item {
    width: 50% !important; }
  .product-gallery {
    width: 290px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .product-gallery-main {
      width: 290px;
      height: 200px; }
    .product-gallery-mini {
      width: 240px;
      margin: 10px auto 0; }
      .product-gallery-mini .slick-arrow {
        font-size: 0;
        background: url(../images/left.png) no-repeat left;
        width: 12px;
        height: 20px;
        left: -15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        .product-gallery-mini .slick-arrow:hover {
          background-position: right; }
      .product-gallery-mini .slick-next {
        background: url(../images/right.png) no-repeat left;
        left: auto;
        right: -15px; }
      .product-gallery-mini li {
        width: 90px;
        margin: 0 5px; }
  .product-item .link {
    font-size: 14px; }
  .product-item-content .ref {
    font-size: 12px; }
  .product-item__head {
    font-size: 16px; }
  .product-item__text, .product-item__link {
    font-size: 15px; }
  .product-item__tel {
    font-size: 18px; }
  .product-map iframe {
    height: 260px; }
  .product-calc-img {
    width: 60px; }
  .product-calc .calculator-item.info {
    padding-top: 20px;
    padding-bottom: 26px; }
    .product-calc .calculator-item.info .info-top a {
      font-size: 16px; }
  .product-sentence-form {
    height: auto;
    text-align: center; }
    .product-sentence-form input {
      height: 46px;
      padding-right: 10px;
      margin-bottom: 10px; }
    .product-sentence-form button {
      height: 46px;
      position: static;
      -webkit-transform: translate(0);
      transform: translate(0); }
  .features-item tbody tr td {
    font-size: 14px; }
    .features-item tbody tr td:first-child {
      width: 58% !important; }
    .features-item tbody tr td:last-child {
      text-align: center; }
  .objects {
    padding-bottom: 24px; }
    .objects-gallery {
      width: 290px; }
    .objects-body {
      padding: 0;
      border: none; }
    .objects-table-header {
      display: none; }
    .objects-table-img {
      margin-bottom: 6px; }
    .objects-table-items {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .objects-table-item {
      width: 150px;
      padding: 10px;
      text-align: center; }
      .objects-table-item ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .objects-table-item ul li {
          width: 100% !important; }
          .objects-table-item ul li p, .objects-table-item ul li span {
            font-size: 15px;
            margin-bottom: 3px; }
  .record {
    padding: 16px 10px 18px; }
    .record-item__head {
      font-size: 18px; }
    .record-item__text {
      font-size: 15px; }
    .record-item-content p, .record-item-content a {
      font-size: 15px; }
    .record-item__tel {
      font-size: 32px; }
    .record-form {
      height: auto;
      border: none;
      text-align: center; }
      .record-form input {
        height: 50px;
        padding-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px; }
      .record-form button {
        position: static;
        height: 50px;
        border-radius: 4px; }
  .customers {
    padding-bottom: 16px; }
    .customers .head {
      font-size: 26px; }
    .customers-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .customers-items ul {
        width: 100%;
        margin-bottom: 14px; }
        .customers-items ul li p {
          font-size: 15px; }
  .insurance-img {
    display: none; }
  .insurance-form {
    width: 100%; } }
