
// Start registration

.start-reg {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 98px 0 48px;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .circle-yellow {
    position: absolute;
    top: 87px;
    right: -160px;
    z-index: -1;
    width: 140px;
    height: 140px;
    background-color: #ffe700;
    border-radius: 50%;
  }

  .circle-red {
    position: absolute;
    bottom: -252px;
    right: 81px;
    z-index: -1;
    width: 460px;
    height: 460px;
    background-color: #ff5a3a;
    border-radius: 50%;
  }

  &-wrap {
    overflow: hidden;
    background-color: #2a206f;
  }

  &-eye {
    position: absolute;
    top: 170px;
    left: -240px;
    z-index: -1;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #2a206f;
    font: 700 82px/1.05 'TTNorms';

    span {
      margin-bottom: 15px;
      padding: 0 10px;
      background-color: #fff;
    }
  }

  &-form {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;
    border: 2px solid #2a206f;
    text-align: left;
  }

  &-head {
    flex-grow: 10;
    padding: 0 10px 0 30px;
    color: #2a206f;
    font: 700 28px 'TTNorms';
    text-transform: uppercase;
  }

  &-input {
    position: relative;
    flex-shrink: 0;
    width: 540px;
    height: 100%;
    border-left: 2px solid #2a206f;

    input {
      width: 100%;
      height: 100%;
      padding: 0 110px 0 34px;
      font: 400 28px 'TTNorms';
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #ff5a3a;
        text-decoration: underline;
      }

      &::-moz-placeholder {
        color: #ff5a3a;
        text-decoration: underline;
      }
    }

    img {
      position: absolute;
      top: 50%;
      right: 36px;
      transform: translateY(-50%);
    }
  }
}

.start-timer {
  border: none;
  background: transparent;

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    color: #fff;
    font: 700 184px/1 'TTNorms';
    text-transform: uppercase;

    span {
      margin: 0 32px;
      font-size: 124px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .start-reg {
    padding-top: 40px;

    .circle-yellow {
      right: -120px;
    }

    &-eye {
      top: 82px;
    }

    &-header {
      font-size: 72px;
    }
  }

  .start-timer-body {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1336px) {
  .start-reg {
    padding-right: 15px;
    padding-left: 15px;

    .circle-yellow {
      right: -20px;
    }

    &-eye {
      top: 100px;
      left: -20px;
      width: 364px;
    }

    &-header {
      font-size: 60px;
    }

    &-head {
      padding-left: 20px;
      font-size: 22px;
    }

    &-input input {
      font-size: 24px;
    }
  }

  .start-timer-body {
    font-size: 144px;

    span {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .start-reg {
    .circle-red {
      bottom: -152px;
      width: 360px;
      height: 360px;
    }

    &-eye {
      left: -90px;
    }

    &-head {
      font-size: 20px;
    }

    &-input {
      width: 380px;

      input {
        padding: 0 86px 0 18px;
        font-size: 22px;
      }

      img {
        right: 18px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .start-reg {
    padding: 70px 25px 62px;

    .circle-yellow {
      top: 32px;
      right: 22px;
      width: 87px;
      height: 87px;
    }

    .circle-red {
      bottom: 48px;
      right: -32px;
      width: 231px;
      height: 230px;
    }

    &-eye {
      top: 220px;
      left: -110px;
      width: 386px;
    }

    &-header {
      margin-bottom: 58px;
      font-size: 40px;

      span {
        margin-bottom: 12px;
      }
    }

    &-form {
      flex-direction: column;
      height: auto;
    }

    &-head {
      width: 100%;
      padding: 22px 22px 16px;
    }

    &-input {
      width: 100%;
      height: 65px;
      border-left: none;
      border-top: 2px solid #2a206f;

      input {
        padding: 0 80px 0 24px;
        font-size: 20px;
      }

      img {
        width: 40px;
        right: 22px;
      }
    }
  }

  .start-timer-body {
    margin-bottom: 97px;
    font-size: 88px;

    span {
      margin: 0 7px;
      font-size: 58px;
    }
  }
}

@media screen and (max-width: 424px) {
  .start-reg {
    padding: 50px 15px 40px;

    &-eye {
      top: 120px;
    }

    &-header {
      margin-bottom: 40px;
      font-size: 29px;
    }

    &-head {
      padding-top: 18px;
    }
  }

  .start-timer-body {
    margin-bottom: 86px;
    font-size: 66px;

    span {
      margin: 0 4px;
      font-size: 50px;
    }
  }
}