@charset "UTF-8";
@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Light.woff2") format("woff2"), url("Formular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Bold.woff2") format("woff2"), url("Formular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular.woff2") format("woff2"), url("Formular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Medium.woff2") format("woff2"), url("Formular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Black.woff2") format("woff2"), url("Formular-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Formular', sans-serif;
  color: #0a0a0a;
}

a {
  display: inline-block;
  font: inherit;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 50px;
  font: inherit;
  padding: 0 22px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
}

.error-message {
  display: none;
}

.error input {
  border-color: #a94442;
  color: #a94442;
}

.error .error-message {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
  display: block;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 22px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #ffffff;
  border-radius: 0;
}

.btn.btn-primary {
  background-color: #ff8100;
  border: 1px solid #ff8100;
}

.btn.btn-primary:hover {
  background-color: #eb7904;
  border: 1px solid #eb7904;
}

.btn.btn-secondary {
  border: 1px solid #fff;
  background-color: transparent;
}

.btn.btn-secondary:hover {
  background-color: #fff;
  color: #ff8100;
}

.btn.btn-primary-outline {
  border: 1px solid #ff8100;
  background-color: transparent;
  color: #ff8100;
}

.btn.btn-primary-outline:hover {
  background-color: #ff8100;
  color: #fff;
}

.title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #ff8100;
  margin-bottom: 45px;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .title {
    font-size: 34px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
  .title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .btn {
    padding: 10px 12px;
    font-size: 14px;
  }
}

/* Header */
.header {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-links-item {
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #5c93c0;
}

.header-links-item img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 14px;
}

.header-links-item:first-child {
  margin-left: 0;
}

.header-links-item:first-child span {
  text-decoration: underline;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-wrap {
  border-top: 1px solid #bababa;
  overflow: hidden;
}

.menu ul {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 40px;
}

.menu ul a {
  font-weight: bold;
  text-transform: uppercase;
}

.menu ul a:hover {
  color: #ff8100;
}

.menu-presentation {
  width: 220px;
  height: 60px;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.menu-presentation:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2000px;
  background: #ff8100;
}

.menu-presentation a {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-presentation a:hover {
  background: #eb7904;
}

.burger {
  display: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media only screen and (max-width: 1200px) {
  .menu ul a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .burger {
    display: block;
    width: 30px;
  }
  .burger a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
  }
  .burger a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #ff8100;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger a span:before, .burger a span:after {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    left: 0;
    background: #ff8100;
    border-radius: 7px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger a span:before {
    top: -8px;
  }
  .burger a span:after {
    top: 8px;
  }
  .burger a.active span {
    background: transparent;
  }
  .burger a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  .burger a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header-logo {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
  }
  .header-logo a {
    width: 230px;
  }
  .header-links-item {
    font-size: 14px;
  }
  .header-links-item img {
    width: 25px;
    margin-right: 10px;
  }
  .header-links-item:last-child {
    margin-left: 30px;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .menu-wrap {
    border: 0;
    position: absolute;
    left: 0;
    top: 79px;
    right: 0;
    height: calc(100vh - 79px);
    background: #ffffff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .menu-wrap.active {
    opacity: 1;
    visibility: visible;
  }
  .menu-wrap .container {
    width: 100%;
    padding: 0 !important;
    height: 100%;
  }
  .menu ul {
    text-align: center;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0;
  }
  .menu ul li {
    margin-bottom: 10px;
  }
  .menu-presentation {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .header-logo a {
    display: block;
    width: 162px;
  }
  .header-links {
    margin: 0 10px;
  }
  .header-links-item:last-child {
    margin-left: 10px;
  }
  .header-links-item span {
    display: none;
  }
  .menu-wrap {
    top: 64px;
    height: calc(100vh - 64px);
  }
}

/* Showcase */
.showcase {
  padding-right: 220px;
}

.showcase-wrap {
  position: relative;
  border-bottom: 1px solid #bababa;
  margin-bottom: 65px;
}

.showcase-wrap:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 810px;
  background: url(../images/showcase-bg.jpg) no-repeat 50%;
  background-size: cover;
}

.showcase-main {
  height: 660px;
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.showcase-main-content {
  position: relative;
  width: 100%;
}

.showcase-main:before {
  content: '';
  display: block;
  position: absolute;
  left: -2000px;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(29, 75, 113, 0.8);
}

.showcase-title {
  max-width: 800px;
  margin-bottom: 35px;
}

.showcase-description {
  font-size: 24px;
  margin-bottom: 90px;
}

.showcase-links a:first-child {
  margin-right: 60px;
}

.showcase-text {
  padding: 55px 80px 50px 0;
  position: relative;
}

.showcase-text:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -2000px;
  background: #ffffff;
}

.showcase-text p {
  position: relative;
  margin-bottom: 28px;
}

.showcase-text p:last-child {
  margin-bottom: 0;
}

.showcase-text p b {
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .showcase-main {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    padding-right: 20px;
  }
  .showcase-wrap {
    margin-bottom: 30px;
  }
  .showcase-wrap:before {
    bottom: 200px;
    height: auto;
  }
  .showcase-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .showcase-description {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .showcase-main {
    min-height: 390px;
    padding: 30px 0;
    height: auto;
  }
  .showcase-links a {
    margin: 10px 0;
  }
  .showcase-text {
    padding: 30px 20px 30px 0;
  }
  .showcase-text p {
    font-size: 14px;
  }
  .showcase-text p b {
    font-size: 16px;
  }
}

/* Advantages */
.advantages {
  margin-bottom: 80px;
}

.advantages-title {
  margin-bottom: 65px;
}

.advantages-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-item {
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

.advantages-icon {
  margin-bottom: 30px;
  position: relative;
}

.advantages-icon:before {
  content: '';
  display: block;
  width: 80px;
  height: 65px;
  background-color: #ffd9b2;
  position: absolute;
  -webkit-transform: skew(-27deg);
  transform: skew(-27deg);
  top: -10px;
  left: 50%;
}

.advantages-icon img {
  position: relative;
  height: 100px;
}

.advantages-text {
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  .advantages-icon img {
    height: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .advantages {
    margin-bottom: 0;
  }
  .advantages-title {
    margin-bottom: 30px;
  }
  .advantages-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .advantages-item {
    width: 50%;
    margin-bottom: 30px;
  }
  .advantages-icon {
    margin-bottom: 15px;
  }
  .advantages-icon img {
    height: 50px;
  }
  .advantages-icon:before {
    width: 40px;
    height: 40px;
  }
  .advantages-text {
    font-size: 14px;
  }
}

/* Expierence */
.expierence {
  margin-bottom: 130px;
  background: #eef4f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expierence-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  padding: 45px;
}

.expierence-order {
  background: #ff8100;
  width: 400px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
  color: #ffffff;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.expierence-order-title {
  font-weight: bold;
  font-size: 44px;
  margin-bottom: 35px;
}

.expierence-title {
  font-weight: bold;
  font-size: 24px;
  color: #5c93c0;
  margin-bottom: 34px;
}

.expierence-title span {
  font-size: 54px;
}

.expierence-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.expierence-item {
  width: 33.33%;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.expierence-icon {
  width: 76px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.expierence-text {
  font-size: 18px;
  font-weight: bold;
}

.expierence-description {
  font-size: 18px;
}

@media only screen and (max-width: 1300px) {
  .expierence-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .expierence-item {
    display: block;
    text-align: center;
  }
  .expierence-icon {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .expierence {
    display: block;
  }
  .expierence-order {
    display: block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .expierence {
    margin-bottom: 50px;
  }
  .expierence-content {
    padding: 20px;
  }
  .expierence-title {
    font-size: 18px;
  }
  .expierence-title span {
    font-size: 24px;
  }
  .expierence-items {
    display: block;
  }
  .expierence-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .expierence-order-title {
    font-size: 30px;
    padding: 0 10px;
  }
}

/* About */
.about {
  padding: 55px 0 65px;
  margin-bottom: 70px;
  position: relative;
}

.about-wrap {
  background: #eef4f9;
}

.about-content {
  padding-left: 50%;
  margin-bottom: 110px;
  min-height: 430px;
}

.about-img {
  position: absolute;
  top: -40px;
  right: 50%;
  margin-right: 60px;
  max-height: 100%;
}

.about-title {
  text-align: left;
}

.about-text {
  margin-bottom: 40px;
}

.about-text p {
  font-size: 16px;
  margin-bottom: 25px;
}

.about-text p b {
  font-weight: bold;
  font-size: 18px;
}

.about .advantages-icon:before {
  background: #c2d7e8;
}

@media only screen and (max-width: 767px) {
  .about {
    padding: 30px 0 0;
    margin-bottom: 30px;
  }
  .about-img {
    display: none;
  }
  .about-content {
    padding-left: 0;
    min-height: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .about-title {
    text-align: center;
  }
  .about-text {
    font-size: 14px;
  }
  .about-text b {
    font-size: 16px;
  }
}

/* Clients */
.clients-wrap {
  border-bottom: 1px solid #bababa;
  padding-bottom: 68px;
  margin-bottom: 70px;
}

.clients-title {
  margin-bottom: 44px;
}

.clients-items {
  padding: 0 80px;
}

.clients-items .slick-list {
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
}

.clients-item {
  height: 220px;
  border: 1px solid #bababa;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: none;
}

.clients-item img {
  max-width: 90%;
  max-height: 90%;
}

.slick-arrow {
  width: 40px;
  height: 22px;
  cursor: pointer;
  border: 0;
  background: url(../images/arrow.png) top no-repeat;
  top: 50%;
  margin-top: -11px;
  position: absolute;
  outline: none !important;
}

.slick-arrow:hover {
  background-position: bottom;
}

.slick-arrow.slick-next {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 0;
}

.slick-arrow.slick-prev {
  left: 0;
}

@media only screen and (max-width: 767px) {
  .clients-items {
    padding: 0 50px;
  }
  .clients-wrap {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .clients-title {
    margin-bottom: 30px;
  }
  .clients-item {
    height: 200px;
  }
}

/* News */
.news-wrap {
  padding-bottom: 58px;
  margin-bottom: 60px;
  border-bottom: 1px solid #bababa;
}

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item {
  width: 30%;
  margin-right: 5%;
  padding: 30px;
  margin-bottom: 35px;
}

.news-item:nth-child(3n) {
  margin-right: 0;
}

.news-item:hover {
  background: #eef4f9;
}

.news-item:hover .news-title {
  color: #ff8100;
}

.news-item:hover .news-text {
  color: #0a0a0a;
}

.news-date {
  margin-bottom: 35px;
  background: #5c93c0;
  padding: 7px 11px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 14px;
}

.news-head {
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: block;
  margin-bottom: 25px;
}

.news-text {
  font-size: 16px;
  display: block;
}

.news-link {
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .news-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .news-item {
    width: 45%;
  }
  .news-item:nth-child(2n) {
    margin-right: 0;
  }
  .news-item:nth-child(3n) {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 767px) {
  .news-wrap {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .news-item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 20px;
    padding: 15px;
  }
  .news-date {
    margin-bottom: 20px;
  }
  .news-head {
    margin-bottom: 15px;
  }
}

/* Contacts */
.contacts-container {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-title {
  margin-bottom: 48px;
}

.contacts-head {
  font-size: 24px;
  font-weight: bold;
  color: #5c93c0;
  max-width: 360px;
}

.contacts-info {
  max-width: 380px;
  margin-left: 15px;
}

.contacts-info p {
  margin-bottom: 23px;
}

.contacts-info p span,
.contacts-info p b {
  display: block;
}

.contacts-info p a {
  color: #ff8100;
}

.contacts-info p a:hover {
  color: #5c93c0;
}

.contacts-caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contacts-description {
  margin-bottom: 50px;
}

.map {
  height: 400px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .contacts-container {
    display: block;
  }
  .contacts-head {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .contacts-info {
    max-width: 100%;
    margin-bottom: 25px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .contacts-head {
    font-size: 18px;
  }
  .contacts-caption {
    font-size: 16px;
  }
  .contacts-description {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contacts-title {
    margin-bottom: 25px;
  }
}

/* Footer */
.footer {
  padding: 45px 0 15px;
}

.footer-wrap {
  background: #5c93c0;
}

.footer-presenation {
  display: block;
  margin-left: 110px;
  margin-top: 13px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-nav ul {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  margin-left: 80px;
}

.footer-nav ul li {
  margin-bottom: 17px;
  margin-right: 80px;
}

.footer-nav ul li.footer-tel a {
  text-decoration: none;
}

.footer-nav ul li.footer-email a {
  text-transform: none;
}

.footer-nav ul li a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
}

.footer-nav ul li a:hover {
  color: #ff8100;
}

.footer-description {
  font-size: 10px;
  color: #ffffff;
}

.bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  color: #a1cef2;
  font-size: 14px;
}

.bottom-line a {
  text-decoration: underline;
  color: #a1cef2;
}

.bottom-line a:hover {
  text-decoration: none;
}

.bottom-line-wrap {
  background: #4d80aa;
}

@media only screen and (max-width: 1300px) {
  .footer-nav ul {
    margin-left: 30px;
  }
  .footer-nav ul li {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-nav ul {
    margin-left: 20px;
  }
  .footer-nav ul li {
    margin-right: 15px;
  }
  .footer-nav ul li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .footer-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-nav {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    width: 100%;
    margin: 30px 0 0;
  }
}

@media only screen and (max-width: 575px) {
  .footer-sk {
    display: none;
  }
  .footer-nav ul {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .bottom-line {
    display: block;
    font-size: 14px;
  }
  .bottom-line .copyright {
    margin-bottom: 10px;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 25px 0 50px;
}

.breadcrumbs-wrap {
  border-top: 1px solid #bababa;
}

.breadcrumbs ul li {
  display: inline;
  font-size: 14px;
}

.breadcrumbs ul li:after {
  content: '>';
  display: inline-block;
  margin: 0 5px;
  color: #898989;
  font-size: 14px;
}

.breadcrumbs ul li:last-child:after {
  display: none;
}

.breadcrumbs ul li a {
  color: #ff8100;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
}

/* News page */
.news-page {
  border-bottom: none;
  margin-bottom: 0;
}

.news-page .title {
  text-align: left;
}

.news-page .news-items {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Pagination */
.pagination ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination ul li {
  margin: 0 12px;
}

.pagination ul li.active a {
  color: #ff8100;
  text-decoration: underline;
}

.pagination ul li a {
  color: #5c93c0;
  font-size: 18px;
}

.pagination ul li a:hover {
  color: #ff8100;
}

@media only screen and (max-width: 767px) {
  .pagination ul li {
    margin: 0 8px;
  }
  .pagination ul li a {
    font-size: 14px;
  }
}

/* Article */
.article {
  padding: 0 80px;
}

.article-wrap {
  border-bottom: 1px solid #bababa;
  margin-bottom: 70px;
  padding-bottom: 70px;
}

.article-gallery {
  padding: 0 80px;
  margin-bottom: 60px;
}

.article-back {
  color: #ff8100;
}

.content h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: left;
}

.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.content h4 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}

.content b {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  display: block;
}

.content p {
  margin-bottom: 25px;
}

.content p b {
  font-size: inherit;
  display: inline;
}

.content ul {
  margin-bottom: 25px;
}

.content ul li {
  position: relative;
}

.content ul li:before {
  content: '—';
  display: inline;
  color: #ff8100;
  margin-right: 5px;
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #c6c6c6;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 50%;
  margin: 0 5px;
}

.slick-dots li.slick-active, .slick-dots li:hover {
  background: #ff8100;
}

.slick-dots li button {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .article {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .article-wrap {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .article-gallery {
    padding: 0 40px;
  }
  .article .content h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .article .content h3 {
    font-size: 21px;
    margin-bottom: 25px;
  }
  .article .content b {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .article .content p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .article .content ul {
    margin-bottom: 15px;
  }
  .slick-arrow {
    width: 25px;
    height: 14px;
    background-size: 100%;
  }
}

/* Contacts page */
.contacts-page .title {
  text-align: left;
}

/* Projects */
.projects {
  padding-bottom: 80px;
}

.projects-title {
  text-align: left;
}

.projects-items {
  border-top: 1px solid #bababa;
  margin-bottom: 55px;
}

.projects-item {
  border: 1px solid #bababa;
  border-top: 0;
  padding: 45px 55px;
}

.projects-body {
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid #bababa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.projects-info {
  width: 48%;
  font-size: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.projects-info .name {
  font-weight: bold;
}

.projects-description {
  width: 48%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.projects-description ul li {
  position: relative;
  padding-left: 27px;
  margin-bottom: 15px;
}

.projects-description ul li:before {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 1px;
  background: #ff8100;
  left: 0;
  top: 10px;
}

.projects-feedback {
  width: 48%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.projects-feedback .text {
  margin-bottom: 25px;
}

.projects-feedback .name,
.projects-feedback .company-name {
  font-weight: bold;
}

.projects-img {
  position: relative;
  width: 48%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.projects-img:hover .hover {
  opacity: 1;
  visibility: visible;
}

.projects-img .hover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(250, 129, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.projects-img .hover .btn {
  background: #fff;
  color: #ff8100;
}

.projects-img .hover .btn:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

@media only screen and (max-width: 991px) {
  .projects-item {
    padding: 25px;
  }
  .projects-info {
    font-size: 21px;
  }
}

@media only screen and (max-width: 767px) {
  .projects {
    padding-bottom: 30px;
  }
  .projects-header, .projects-body {
    display: block;
  }
  .projects-info, .projects-description, .projects-feedback, .projects-img {
    width: 100%;
  }
  .projects-info, .projects-feedback {
    margin-bottom: 25px;
  }
  .projects-info {
    font-size: 18px;
  }
  .projects-items {
    margin-bottom: 30px;
  }
}

/* About dev */
.about-dev {
  padding-bottom: 25px;
}

.about-dev .title {
  text-align: left;
}

.advantages-wrap.about {
  background: #eef4f9;
  padding: 55px 0;
}

.history-wrap {
  overflow: hidden;
}

.history-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.history-text {
  width: 50%;
  padding-right: 60px;
}

.history-img {
  width: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.history-img img {
  max-width: 10000%;
}

.history-wrap {
  border-bottom: 1px solid #bababa;
  margin-bottom: 70px;
  padding-bottom: 50px;
}

.resume {
  margin-bottom: 87px;
  background: #ff8100;
  padding: 40px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.resume-text {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  padding-right: 150px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.resume .btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media only screen and (max-width: 1200px) {
  .resume-text {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .history-text {
    width: 100%;
    padding-right: 0;
  }
  .history-img {
    display: none;
  }
  .history-wrap {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
  }
  .resume-text {
    padding-right: 0;
    margin-bottom: 35px;
    font-size: 18px;
  }
  .advantages-wrap.about {
    padding: 30px 0 0;
  }
}

/* Trainers */
.trainers {
  margin-bottom: 75px;
}

.trainers-title {
  text-align: left;
  margin-bottom: 40px;
}

.trainers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
}

.trainers-item {
  border: 1px solid #bababa;
  border-left: 0;
  border-top: 0;
  padding: 45px 45px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.trainers-item:hover {
  background: #ff8100;
}

.trainers-item:hover .trainers-icon {
  background-position: bottom;
}

.trainers-item:hover .trainers-head {
  color: #ffffff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.trainers-item:hover .trainers-link {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.trainers-icon {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.trainers-head {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 20px;
}

.trainers-link {
  background: #ffffff;
  color: #ff8100;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
}

.trainers-link:hover {
  color: #ff8100;
  -webkit-transform: translateY(-2px) !important;
  transform: translateY(-2px) !important;
}

@media only screen and (max-width: 991px) {
  .trainers-head {
    font-size: 18px;
  }
  .trainers-icon {
    width: 50px;
    height: 50px;
    background-size: 100%;
    margin-right: 35px;
  }
  .trainers-head {
    margin-bottom: 25px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .trainers-item {
    width: 100%;
    padding: 15px;
  }
}

/* Trainer */
.trainer {
  margin-bottom: 80px;
}

.trainer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.trainer-sidebar {
  width: 300px;
  margin-left: 80px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 68px;
}

.trainer-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.trainer-video {
  max-width: 940px;
  height: 500px;
  margin: 0 auto 30px;
}

.trainer-video iframe {
  width: 100%;
  height: 100%;
}

.custom-hr {
  height: 1px;
  background: #bababa;
  margin: 110px 0;
}

@media only screen and (max-width: 991px) {
  .trainer-sidebar {
    width: 250px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .trainer {
    margin-bottom: 30px;
  }
  .trainer-container {
    display: block;
  }
  .trainer-content {
    margin-bottom: 30px;
  }
  .trainer-sidebar {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .trainer-video {
    height: 300px;
  }
  .custom-hr {
    margin: 50px 0;
  }
}

/* Rtsim */
.rtsim {
  padding-bottom: 70px;
  border-bottom: 1px solid #bababa;
  margin-bottom: 50px;
}

.rtsim-title {
  text-align: left;
  margin-bottom: 40px;
}

.rtsim-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

.rtsim-info {
  width: 300px;
  margin-left: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.rtsim-img {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.rtsim-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

.rtsim-item {
  width: 33%;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.rtsim-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 60px;
  margin-right: 15px;
}

.rtsim-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.rtsim-text {
  line-height: 1.6;
}

@media only screen and (max-width: 991px) {
  .rtsim-title {
    margin-bottom: 30px;
  }
  .rtsim-container {
    display: block;
  }
  .rtsim-info {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .rtsim-icon {
    width: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .rtsim {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .rtsim-title {
    margin-bottom: 20px;
  }
  .rtsim-items {
    display: block;
  }
  .rtsim-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .rtsim-head {
    margin-bottom: 10px;
  }
}

/* Equipment */
.equipment {
  padding-bottom: 35px;
  margin-bottom: 50px;
  border-bottom: 1px solid #bababa;
}

.equipment-title {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: left;
}

.equipment-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.equipment-item {
  width: calc(33.33% - 40px);
  margin-right: 60px;
  border: 1px solid #bababa;
  padding: 25px 30px;
  margin-bottom: 35px;
}

.equipment-item:nth-child(3n) {
  margin-right: 0;
}

.equipment-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}

@media only screen and (max-width: 991px) {
  .equipment-item {
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .equipment-item:nth-child(3n) {
    margin-right: 30px;
  }
  .equipment-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .equipment {
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  .equipment-items {
    display: block;
  }
  .equipment-item {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
    padding: 15px;
  }
}

/* About rtsim */
.about-rtsim h2 {
  font-size: 28px;
}

/* Reviews */
.reviews {
  margin-bottom: 80px;
  border: 1px solid #bababa;
  padding: 44px 60px;
}

.reviews-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reviews-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews-arrows > div {
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-arrows > div:hover {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
}

.reviews-arrows > div:last-child {
  margin-left: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.reviews-arrows > div:last-child:hover {
  -webkit-transform: rotate(180deg) translateX(-2px);
  transform: rotate(180deg) translateX(-2px);
}

@media only screen and (max-width: 991px) {
  .reviews {
    padding: 30px 40px;
  }
}

@media only screen and (max-width: 767px) {
  .reviews {
    padding: 15px 20px;
  }
  .reviews-title {
    font-size: 22px;
  }
  .reviews .projects-body {
    padding-top: 15px;
    margin-top: 15px;
  }
}
