@media only screen and (max-width: 1340px) {
  .container {
    width: 970px; }
  .worktime {
    display: none; }
  .logo {
    margin-right: 60px; }
  .address p {
    font-size: 24px; }
  .callback__tel {
    font-size: 31px; }
  .to-cat img {
    display: none; }
  .to-cat span {
    font-size: 17px; }
  .to-cat {
    width: 21%;
    padding-left: 23px; }
  .menu ul li a {
    font-size: 16px; }
  .menu ul {
    padding: 0 17px; }
  .menu {
    width: 50%; }
  .search {
    width: 29%; }
  .connect {
    padding-left: 47px; }
  .connect img {
    display: none; }
  .news-item-name {
    font-size: 18px; }
  .advan-item__head {
    font-size: 18px; }
  .footer .logo {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
    .footer .logo span {
      display: block; }
  .footer-nav {
    margin-right: 86px; }
  .footer-line div {
    font-size: 14px; }
    .footer-line div a {
      font-size: 14px; }
  .main-sidebar {
    width: 21%; }
  .main-content {
    width: 79%; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  .address {
    display: none; }
  .search {
    width: 50px;
    position: relative; }
    .search.active input {
      width: 200px;
      padding: 0 17px; }
    .search input {
      width: 0;
      padding: 0;
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      transition: 300ms; }
  .to-cat {
    width: 27%; }
  .menu {
    width: 66%; }
  .main-sidebar {
    width: 27%; }
  .main-sidebar-nav a {
    font-size: 14px; }
  .main-content {
    width: 73%; }
  .main-content-item {
    width: 32.6%; }
    .main-content-item:nth-child(4n) {
      margin-right: 1%; }
    .main-content-item:nth-child(3n) {
      margin-right: 0; }
  .connect p {
    max-width: 379px;
    font-size: 20px; }
  .connect a {
    font-size: 23px; }
  .news-item {
    padding-left: 0; }
  .news-item-date {
    position: static;
    margin-bottom: 15px; }
  .news-item-name {
    margin-bottom: 9px; }
  .advan-item__head {
    font-size: 16px; }
  .advan-item__text {
    font-size: 14px; }
  .about {
    padding: 40px; }
  .footer-info {
    display: none; }
  .footer .logo {
    float: left;
    width: 270px;
    margin-right: 50px; }
  .footer .callback:before {
    display: none; }
  .footer-nav {
    margin-right: 0; }
  .footer-line div {
    float: none;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0 !important; }
  .footer-line .omg {
    float: none; }
  .order-form input, .order-form button {
    font-size: 18px;
    height: 40px;
    line-height: 40px; }
  .order__head {
    font-size: 22px; }
  .contacts__head {
    font-size: 24px; }
  .contacts-item p,
  .contacts-item a {
    font-size: 18px; }
  .contacts-content {
    padding: 0 0 20px; }
  .contacts-content h2 {
    font-size: 24px; }
  .article h2 {
    font-size: 24px; }
  .info h2 {
    font-size: 24px; }
  .info h3 {
    font-size: 18px; }
  .price-table td {
    font-size: 14px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px; }
  .logo {
    float: none;
    width: 100%;
    margin-right: 0;
    padding-bottom: 0px; }
    .logo span {
      display: block; }
  .callback {
    float: none;
    text-align: center;
    width: 100%;
    margin: 10px 0 20px; }
    .callback:before {
      display: none; }
  .to-cat {
    display: none; }
  .menu {
    width: 50px; }
  .menu ul {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    background: #000;
    transition: 300ms;
    display: block;
    z-index: 100; }
    .menu ul li {
      display: block;
      margin: 15px 0;
      text-align: center; }
    .menu ul.active {
      right: 0; }
  .burger-wrap {
    display: block;
    width: 30px;
    margin: 10px 0 0 10px; }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block; }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    background: #ffcc32;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    position: absolute;
    background: #ffcc32;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px; }
  .burger-wrap a span:before {
    top: -8px; }
  .burger-wrap a span:after {
    top: 8px; }
  .burger-wrap a.active span {
    background: transparent; }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px); }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px); }
  .nav {
    justify-content: center; }
  .search {
    width: 240px; }
    .search input {
      width: 190px;
      padding: 0 10px;
      position: static; }
  .main {
    display: block; }
  .main-sidebar {
    width: 100%; }
  .main-sidebar__banner {
    display: none; }
  .main-content {
    width: 100%;
    padding: 0; }
    .main-content-item {
      width: 100%;
      margin: 0 0 10px 0 !important; }
  .connect {
    height: auto;
    display: block;
    padding: 25px 15px; }
    .connect p {
      max-width: 100%;
      margin-bottom: 10px; }
  .news-item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 15px; }
  .news-items {
    display: block; }
  .advan__head {
    font-size: 24px; }
  .advan-items {
    display: block; }
  .advan-item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 15px; }
  .about {
    padding: 30px 15px; }
    .about h2 {
      font-size: 24px; }
  .footer-nav {
    float: none;
    width: 100%;
    text-align: center; }
  .footer .logo {
    margin-right: 0;
    width: 100%; }
  .main-sidebar-nav {
    background: none; }
  .main-content-item_delivery img {
    width: auto; }
  .main-content-item_delivery {
    border: none; }
  .order-form {
    width: 290px;
    margin: 0 auto;
    display: block; }
    .order-form input,
    .order-form button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px; }
  .catalog-group__head {
    font-size: 24px; }
  .catalog-group__descr {
    font-size: 18px; }
  .contacts-items {
    display: block; }
  .contacts-item {
    width: 100%;
    margin-bottom: 20px; }
  .price-content {
    display: block; }
  .price-sidebar {
    margin: 0 auto 20px; }
  .price-info {
    padding-left: 0; } }

@media only screen and (max-width: 450px) {
  .price-table,
  .price-table td,
  .price-table th,
  .price-table tr,
  .price-table thead,
  .price-table tbody {
    display: block;
    width: 100%;
    max-width: 100% !important;
    text-align: center !important; } }

/*# sourceMappingURL=media.css.map */