* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 700 16px 'Gilroy', sans-serif;
  color: #000; }

a {
  font: 300 16px 'Gilroy', sans-serif;
  color: #000;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative; }

/* Header */
.header-wrap {
  background: #f1f2f2; }

.logo {
  float: left;
  width: 290px;
  padding: 20px;
  text-align: center;
  margin-right: 80px; }
  .logo a {
    text-decoration: none; }
  .logo span {
    font-weight: bold;
    margin-top: 5px;
    line-height: 1.2; }

.address {
  float: left;
  margin-top: 34px;
  margin-right: 68px; }
  .address p {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 4px; }
  .address a {
    font-weight: bold; }

.worktime {
  float: left;
  margin-top: 44px; }
  .worktime p {
    margin-bottom: 7px; }

.callback {
  float: right;
  margin: 30px 15px 0 0;
  text-align: right;
  position: relative; }
  .callback:before {
    content: '';
    display: block;
    background: url(../images/callback.png) no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -85px;
    top: 5px; }
  .callback__tel {
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 3px; }
  .callback__modal {
    background-color: red;
    line-height: 30px;
    padding: 0 12px;
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
    .callback__modal:hover {
      background: #eb0606; }

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap; }

.to-cat {
  flex-shrink: 0;
  width: 23%;
  background-color: #ffcc32;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding-left: 25px;
  text-decoration: none; }
  .to-cat:hover {
    background: #ffc30e; }
  .to-cat img {
    margin-right: 13px; }
  .to-cat span {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: none; }

.menu {
  width: 48%;
  background: #000;
  flex-shrink: 0; }
  .menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px; }
    .menu ul li a {
      color: #ffcc32;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 50px; }
      .menu ul li a:hover {
        color: #fff; }

.search {
  width: 29%;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .search input {
    height: 50px;
    background-color: #d7d7d7;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    flex-grow: 10;
    padding: 0 17px;
    min-width: 0; }
    .search input::-webkit-input-placeholder {
      color: #2e2e2e; }
    .search input:-moz-placeholder {
      color: #2e2e2e; }
    .search input::-moz-placeholder {
      color: #2e2e2e; }
    .search input:-ms-input-placeholder {
      color: #2e2e2e; }
  .search button {
    width: 50px;
    height: 50px;
    background: #ffcc32 url(../images/search.png) no-repeat center;
    border: none;
    cursor: pointer;
    transition: 300ms;
    flex-shrink: 0; }
    .search button:hover {
      background-color: #fbc218; }

/* Main */
.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 35px; }

.main-sidebar {
  width: 23%;
  flex-shrink: 0; }
  .main-sidebar-nav {
    padding: 20px 23px 0;
    background: #ededee;
    margin-bottom: 28px; }
    .main-sidebar-nav a {
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 20px; }
      .main-sidebar-nav a:hover {
        color: red; }

.main-content {
  width: 77%;
  flex-shrink: 0;
  padding: 20px 0 0 27px; }
  .main-content-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; }
  .main-content-item {
    border: 1px solid #ccc;
    width: 24.25%;
    margin: 0 1% 1% 0;
    text-decoration: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .main-content-item:nth-child(4n) {
      margin-right: 0; }
    .main-content-item:hover {
      background-color: #ffcc32; }
    .main-content-item_more {
      background: #f00;
      color: #fff;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 50px 0; }
      .main-content-item_more b {
        display: block;
        font-size: 34px; }
      .main-content-item_more:hover {
        background: #f00; }
    .main-content-item_delivery {
      text-align: center; }
      .main-content-item_delivery img {
        width: 100%;
        height: 100%; }
    .main-content-item span {
      font-size: 20px;
      font-weight: bold;
      padding: 0 10px 17px;
      text-align: center; }
  .main-content__img {
    width: 100%;
    height: 145px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-content__img img {
      max-height: 100%; }

/* Connect */
.connect {
  background: url(../images/connect-bg.jpg) no-repeat 50%;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height: 180px;
  padding-left: 337px;
  position: relative;
  margin-bottom: 47px; }
  .connect p {
    max-width: 640px;
    margin-right: 40px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: bold; }
  .connect img {
    position: absolute;
    left: 60px;
    bottom: 0; }
  .connect a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    background: red;
    line-height: 60px;
    padding: 0 45px;
    color: #fff; }
    .connect a:hover {
      background: #ef0202; }

/* News */
.news {
  padding: 35px 0 40px; }
  .news-wrap {
    background: #f1f2f2; }
  .news-header {
    text-align: center;
    margin-bottom: 35px; }
    .news-header h2 {
      display: inline-block;
      color: red;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 34px; }
    .news-header span {
      font-size: 16px;
      color: #000;
      margin-right: 5px; }
    .news-header a {
      font-weight: bold;
      text-transform: none; }
  .news-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; }
  .news-item {
    width: 32%;
    margin-right: 2%;
    position: relative;
    padding-left: 100px; }
    .news-item:nth-child(3n) {
      margin-right: 0; }
    .news-item-date {
      position: absolute;
      left: 0;
      top: 0;
      background: #ffcc32;
      width: 82px;
      height: 82px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      font-size: 14px; }
      .news-item-date b {
        display: block;
        font-size: 54px;
        font-weight: bold; }
    .news-item-name {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.3;
      margin-bottom: 25px; }
      .news-item-name:hover {
        text-decoration: underline; }
    .news-item p {
      font-weight: 300;
      line-height: 1.4; }

/* Advan */
.advan {
  padding: 0 0 45px; }
  .advan__head {
    color: red;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center; }
  .advan-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; }
  .advan-item {
    width: 23.5%;
    margin-right: 2%;
    border: 2px solid #c2c2c2;
    padding-bottom: 11px; }
    .advan-item:last-child {
      margin-right: 0; }
    .advan-item__img {
      height: 110px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      .advan-item__img img {
        max-height: 100%; }
    .advan-item__head {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 5px;
      padding: 0 15px;
      text-align: center;
      text-align: center; }
    .advan-item__text {
      padding: 0 15px;
      font-weight: 300;
      line-height: 1.2;
      text-align: center; }

/* About */
.about {
  background: url(../images/about-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 75px 100px 30px;
  margin-bottom: 50px; }
  .about h2 {
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase; }
  .about p {
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1.4; }

/* Footer */
.footer-wrap {
  background: #ffcc32; }

.footer .logo {
  margin-right: 50px; }

.footer-nav {
  float: left;
  margin: 27px 75px 0 0; }
  .footer-nav a {
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 8px; }
    .footer-nav a:hover {
      text-decoration: underline; }

.footer-info {
  margin-top: 27px;
  float: left; }
  .footer-info p {
    margin-bottom: 5px; }
  .footer-info .search {
    width: auto;
    margin-top: 21px; }
    .footer-info .search button {
      background: #000 url(../images/search2.png) no-repeat 50%; }

.footer-line {
  padding: 17px 0;
  font-weight: 300; }
  .footer-line div {
    float: left;
    margin-right: 47px; }
    .footer-line div a {
      text-decoration: none; }
      .footer-line div a:hover {
        text-decoration: underline; }
  .footer-line .omg {
    float: right;
    margin-right: 15px; }

.burger-wrap {
  display: none; }

/* Bread */
.bread {
  font-weight: 300;
  margin: 15px 0 25px; }
  .bread ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .bread li a {
    margin-right: 7px;
    text-decoration: none;
    color: red; }
    .bread li a:hover {
      text-decoration: underline; }
  .bread li:after {
    content: '>';
    margin-right: 7px;
    display: inline-block; }
  .bread li:last-child:after {
    display: none; }

/* Order */
.order {
  padding: 32px 0 27px;
  margin-bottom: 50px; }
  .order-wrap {
    background: url(../images/order-bg.jpg) no-repeat 50%;
    background-size: cover; }
  .order__head {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 29px; }
  .order-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .order-form input {
      width: 24%;
      height: 60px;
      background-color: white;
      border: 1px solid #ccc;
      margin-right: 20px;
      padding: 0 13px;
      font-family: inherit;
      color: #000;
      font-size: 26px;
      font-weight: bold; }
      .order-form input::-webkit-input-placeholder {
        color: #000; }
      .order-form input:-moz-placeholder {
        color: #000; }
      .order-form input::-moz-placeholder {
        color: #000; }
      .order-form input:-ms-input-placeholder {
        color: #000; }
    .order-form button {
      width: 23%;
      line-height: 60px;
      background-color: red;
      border: none;
      font-family: inherit;
      font-size: 26px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      transition: 300ms; }
      .order-form button:hover {
        background: #ed0000; }

.catalog-group {
  margin-bottom: 40px; }
  .catalog-group__head {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 7px; }
  .catalog-group__descr {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px; }

/* Contacts */
.contacts {
  margin-bottom: 50px; }
  .contacts__head {
    font-size: 34px;
    margin-bottom: 50px;
    text-align: center; }
  .contacts-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .contacts-item {
    width: 33.33%;
    text-align: center; }
    .contacts-item__img {
      height: 122px; }
    .contacts-item span {
      margin-bottom: 8px;
      display: block; }
    .contacts-item p {
      font-size: 26px;
      line-height: 1.4; }
    .contacts-item a {
      font-size: 26px;
      font-weight: bold;
      text-decoration: none; }
      .contacts-item a.contacts__modal {
        background: red;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        padding: 0 15px; }
        .contacts-item a.contacts__modal:hover {
          background: #ea0000; }

.map {
  height: 500px;
  margin-bottom: 50px; }
  .map iframe {
    width: 100%;
    height: 100%;
    border: none; }

.contacts-content {
  padding: 0 100px 20px;
  margin-top: 50px;
  text-align: center; }
  .contacts-content h2 {
    font-size: 34px;
    margin-bottom: 28px; }
  .contacts-content p {
    margin-bottom: 23px;
    font-weight: 300;
    line-height: 1.3; }

.news-wrap_inner {
  background: none; }
  .news-wrap_inner .news-header {
    text-align: left; }
    .news-wrap_inner .news-header span,
    .news-wrap_inner .news-header a {
      display: none; }
    .news-wrap_inner .news-header h2 {
      color: #000;
      text-transform: none; }
  .news-wrap_inner .news-item {
    margin-bottom: 50px; }
  .news-wrap_inner .news {
    padding-top: 0; }

.pagination ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }
  .pagination ul li {
    height: 25px;
    width: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; }
    .pagination ul li.active {
      background: red; }
      .pagination ul li.active a {
        color: #fff; }
        .pagination ul li.active a:hover {
          color: #fff; }
    .pagination ul li a {
      color: #000;
      font-weight: bold;
      text-decoration: none; }
      .pagination ul li a:hover {
        color: red; }

/* Article */
.article {
  padding-bottom: 40px; }
  .article h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px; }
  .article__date {
    display: inline-block;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    background: #ffcc32;
    margin-bottom: 21px; }
  .article p {
    line-height: 1.4;
    margin-bottom: 30px;
    font-weight: 300; }
  .article__back {
    text-decoration: none;
    font-weight: bold; }
    .article__back:hover {
      text-decoration: underline; }

/* Info */
.info {
  line-height: 1.4;
  font-weight: 300;
  padding-bottom: 30px; }
  .info h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 23px; }
  .info h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4; }
  .info p {
    line-height: 1.4;
    margin-bottom: 20px; }
  .info li {
    line-height: 1.4; }
  .info ul {
    margin-bottom: 20px; }

/* Price */
.price {
  padding-bottom: 44px; }
  .price h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 19px; }
  .price-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start; }
  .price-sidebar {
    width: 196px;
    flex-shrink: 0;
    background-color: #f1f2f2;
    padding: 15px; }
    .price-sidebar h3 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 18px; }
    .price-sidebar li {
      margin-bottom: 18px; }
      .price-sidebar li.active a {
        color: red; }
      .price-sidebar li a {
        line-height: 1.2;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none; }
        .price-sidebar li a:hover {
          color: red; }
  .price-info {
    flex-grow: 10;
    padding-left: 30px; }
  .price-table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse; }
    .price-table td, .price-table th {
      border-bottom: 1px solid #cccccc;
      padding: 10px 5px;
      text-align: center; }
      .price-table td:nth-child(3), .price-table th:nth-child(3) {
        text-align: left;
        max-width: 330px; }
    .price-table th {
      font-weight: bold; }
    .price-table td {
      font-weight: 300; }

/*# sourceMappingURL=style.css.map */