@font-face {
    font-family: 'Formular';
    src: url('Formular-Light.woff2') format('woff2'),
        url('Formular-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular-Black.woff2') format('woff2'),
        url('Formular-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular-Bold.woff2') format('woff2'),
        url('Formular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular.woff2') format('woff2'),
        url('Formular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular-Medium.woff2') format('woff2'),
        url('Formular-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

