@media only screen and (max-width: 1600px) {
  .showcase {
    padding-top: 80px;
    &-content {
      width: 760px;
      &-head {
        font-size: 44px;
      }
    }
    &-info {
      top: 40px;
      right: -40px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1170px;
  }
  .logo {
    width: 196px;
    margin: 0;
  }
  .header {
    padding: 6px 0;
    &-content {
      padding-top: 0;
      p {
        font-size: 16px;
      }
    }
    &-info {
      a {
        font-size: 22px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .showcase {
    height: 430px;
    padding-top: 40px;
    &-content {
      width: 610px;
      &-head {
        font-size: 26px;
        margin-bottom: 50px;
        img {
          width: 60px;
          height: 44px;
        }
      }
      &__order {
        font-size: 28px;
        margin-bottom: 80px;
      }
      &__text {
        font-size: 20px;
      }
    }
    &-info {
      width: 460px;
      height: 400px;
      background-image: url(../images/showcase-info1201.png);
      top: 16px;
      right: 0;
      background-size: 100%;
      padding: 36px 48px 0;
      &-head {
        margin-bottom: 20px;
        h2 {
          font-size: 18px;
        }
      }
    }
    &-product {
      margin-bottom: 6px;
      &-header {
        margin-bottom: 0;
        padding-right: 140px;
      }
      &__name {
        font-size: 26px;
      }
      &__price {
        font-size: 44px;
      }
      &__composition {
        font-size: 16px;
      }
    }
    &-form {
      &-input {
        margin-bottom: 8px;
        input {
          height: 40px;
          font-size: 18px;
        }
      }
      .checkbox {
        margin: 0 0 20px;
        &-text {
          font-size: 14px;
          a {
            font-size: 14px;
          }
        }
      }
      button {
        font-size: 18px;
        height: 40px;
        padding: 0 18px;
      }
    }
    .schedule {
      width: 110px;
      height: 110px;
      &-number {
        font-size: 60px;
      }
    }
  }
  .partners {
    padding: 12px 0;
  }
  .bottom {
    padding: 12px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .showcase {
    &-wrap {
      height: auto;
    }
    &-content {
      width: 530px;
      &-head {
        margin-bottom: 30px;
      }
      &__order {
        font-size: 22px;
        margin-bottom: 60px;
      }
      &__text {
        font-size: 18px;
      }
    }
    &-info {
      width: 436px;
    }
  }
  .partners {
    margin: 0;
  }
  .bottom {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .header-content {
    width: 292px;
  }
  .showcase {
    height: 400px;
    padding-top: 34px;
    &-content {
      width: 364px;
      &-head {
        padding-right: 0;
        font-size: 22px;
      }
      &__order {
        font-size: 18px;
      }
      &__text {
        font-size: 16px;
      }
    }
    &-info {
      width: 390px;
      height: 380px;
      padding: 40px 40px 0;
      &-head {
        h2 {
          font-size: 16px;
        }
      }
    }
    &-product {
      &-header {
        padding-right: 114px;
      }
      &__name {
        font-size: 21px;
      }
      &__price {
        font-size: 36px;
        right: -8px;
      }
      &__composition {
        font-size: 14px;
      }
    }
    &-form {
      &-input {
        input {
          height: 36px;
          font-size: 16px;
        }
      }
      .checkbox {
        &-text {
          padding: 0 42px 0 21px;
        }
      }
      button {
        margin-left: 20px;
      }
    }
    .schedule {
      width: 90px;
      height: 90px;
      &-number {
        font-size: 48px;
      }
      &-text {
        font-size: 20px;
        margin-top: -14px;
      }
    }
  }
  .partners {
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 0 40px 10px;
    }
  }
  .bottom {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .logo {
    margin-bottom: 10px;
  }
  .header {
    flex-direction: column;
    padding: 18px 0 14px;
    &-content {
      width: 100%;
      margin-bottom: 10px;
    }
    &-info {
      text-align: center;
    }
  }
  .showcase {
    height: auto;
    padding-bottom: 10px;
    &-content {
      width: 100%;
      &-head {
        margin-bottom: 20px;
        img {
          width: 44px;
          height: 32px;
        }
      }
      &__order {
        margin-bottom: 24px;
      }
    }
    &-info {
      position: static;
      margin: 0 auto;
    }
    .schedule {
      display: none;
    }
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .showcase {
    &-content {
      margin-bottom: 20px;
    }
    &-info {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #f9ce3c;
      padding: 20px 10px;
    }
    &-product {
      &__price {
        right: 0;
      }
    }
    &-form {
      .checkbox {
        &-text {
          padding-right: 0;
        }
      }
    }
  }
  .partners {
    padding-top: 20px;
  }
}
