button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 700 16px 'Qanelas', sans-serif;
}

a {
  display: inline-block;
  font: 700 16px 'Qanelas', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.logo {
  margin-top: 8px;
}

// Header

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  position: relative;
  z-index: 5;
  &:after {
    content: '';
    display: block;
    background-color: #fff;
    width: 8000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -4000px;
    z-index: -1;
  }
  &-content {
    width: 400px;
    text-align: center;
    padding-top: 3px;
    p {
      font-size: 24px;
      margin: 0;
      line-height: 1.5;
    }
  }
  &-info {
    text-align: right;
    a {
      color: #9e1f11;
      font-size: 34px;
      span {
        color: #000;
      }
    }
    p {
      font-size: 18px;
      margin: 0;
    }
  }
}

// Showcase

.showcase {
  height: 692px;
  position: relative;
  padding: 140px 0 0;
  &-wrap {
    height: 100vh;
    background: url(../images/showcase-bg.jpg) no-repeat 50% 100%;
    background-size: cover;
    overflow: hidden;
  }
  &-content {
    width: 800px;
    &-head {
      text-shadow: 0 0 29.8px rgba(0, 0, 0, 0.93);
      font-size: 48px;
      font-weight: 600;
      line-height: 1.4;
      color: #fff;
      padding-right: 126px;
      margin-bottom: 80px;
      span {
        text-transform: uppercase;
      }
      img {
        width: 79px;
        height: 70px;
        margin: -6px 2px 0 5px;
      }
    }
    &__order {
      text-shadow: 0 0 43.2px rgba(0, 0, 0, 0.93);
      color: #f9ce3c;
      font-size: 34px;
      margin-bottom: 100px;
    }
    &__text {
      text-shadow: 0 0 43.2px rgba(0, 0, 0, 0.93);
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }
  }
  &-info {
    width: 538px;
    height: 538px;
    background: url(../images/showcase-info.png) no-repeat 50%;
    position: absolute;
    top: 65px;
    right: 0;
    padding: 54px 80px 0;
    &-head {
      margin-bottom: 33px;
      text-align: center;
      h2 {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: .6px;
        border-bottom: 1px solid #000;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
  .schedule {
    width: 120px;
    height: 120px;
    background-color: #9e1f11;
    position: absolute;
    bottom: 42px;
    right: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f9ce3c;
    &-number {
      font-size: 68px;
      margin-top: -8px;
    }
    &-text {
      font-size: 24px;
      margin-top: -20px;
    }
  }
}

// Showcase product

.showcase-product {
  margin-bottom: 24px;
  &-header {
    display: flex;
    align-items: flex-end;
    padding-right: 170px;
    margin-bottom: 5px;
    position: relative;
  }
  &__name {
    font-size: 38px;
  }
  &__price {
    color: #9e1f11;
    font-size: 58px;
    position: absolute;
    top: -18px;
    right: -14px;
  }
  &__composition {
    font-weight: 400;
    font-size: 18px;
  }
}

// Showcase form

.showcase-form {
  &-input {
    width: 100%;
    margin-bottom: 20px;
    input {
      width: 100%;
      height: 44px;
      font: 400 24px 'Qanelas';
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #000;
      color: #000;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
  .checkbox {
    margin: 6px 0 26px;
    position: relative;
    cursor: pointer;
    input {
      position: absolute;
      top: 2px;
      left: 0;
    }
    &-text {
      padding: 0 70px 0 26px;
      font-size: 16px;
      font-weight: 400;
      a {
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  button {
    height: 60px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0 24px;
    margin-left: 26px;
    font: 900 32px 'Qanelas';
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      color: #9e1f11;
      border: 2px solid #9e1f11;
    }
  }
}

// Partners

.partners {
  margin: 0 24px 0 20px;
  padding: 18px 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  &:after {
    content: '';
    display: block;
    background-color: rgba(232, 232, 232, .9);
    width: 8000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -4000px;
    z-index: -1;
  }
}

// Bottom

.bottom {
  padding: 16px 0;
  text-shadow: 0 0 43.2px rgba(0, 0, 0, 0.93);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}


















