$orange: #f37021;
$green: #72bf44;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 700 16px 'Gilroy', sans-serif;
}

a {
  font: 700 16px 'Gilroy', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}

.head {
  margin-bottom: 45px;
  h2 {
    display: inline-block;
    font-size: 42px;
    margin-right: 12px;
  }
  a {
    color: $orange;
    text-decoration: underline;
    padding-left: 24px;
    position: relative;
    &:before {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

/* Header */

.header {
  padding: 32px 0 16px;
  .logo {
    float: left;
    margin: -14px 129px 0 0;
    i {
      display: inline-block;
      font-size: 76px;
      color: $green;
    }
    &-content {
      display: inline-block;
      vertical-align: top;
      margin-left: 21px;
      text-align: right;
      padding-top: 11px;
      p {
        color: $green;
        font-size: 44px;
        text-transform: uppercase;
      }
      span {
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
        font-weight: 300;
      }
    }
  }
  &-contact {
    float: left;
    &__item {
      display: inline-block;
      vertical-align: top;
      margin-right: 106px;
      text-align: right;
      &:last-child {
        margin-right: 0;
      }
      p {
        font-size: 24px;
        padding-bottom: 10px;
      }
      span {
        display: block;
        font-weight: 300;
      }
      a {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  &-link {
    float: right;
    padding: 0 22px;
    border-radius: 6px;
    line-height: 50px;
    color: #fff;
    background: $orange;
    &:hover {
      background: #d5570b;
    }
  }
}

/* Nav */

.nav {
  text-align: center;
  font-size: 0;
  &-wrap {
    background: $green;
  }
  li {
    display: inline-block;
    vertical-align: top;
    a {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding: 0 30px;
      line-height: 40px;
      &:hover {
        color: #fff;
        background: #000;
      }
    }
    &.active {
      a {
        background: #000;
        color: #fff;
      }
    }
  }
}

.burger-wrap {
  display: none;
}

/* Bread */

.bread {
  padding: 18px 0 34px;
  li {
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    &:after {
      content: '>';
      display: inline-block;
      margin: 0 7px 0 10px;
    }
    &:last-child:after {
      display: none;
    }
    a {
      font-weight: 300;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Showcase */

.showcase {
  padding: 122px 0 15px;
  margin-bottom: 47px;
  &-wrap {
    background: url(../images/showcase-bg.jpg) no-repeat 50%;
    background-size: cover;
  }
  &-items {
    font-size: 0;
    text-align: center;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 490px;
    text-align: left;
    margin: 0 196px 96px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &__num {
      float: left;
      color: $green;
      font-size: 86px;
      font-weight: 700;
      border-bottom: 3px solid $green;
      padding-bottom: 14px;
    }
    &__text {
      margin: 26px 0 0 114px;
      font-size: 42px;
      color: #fff;
      line-height: 1.2;
    }
  }
}

/* Main-new */

.main-new {
  padding-bottom: 50px;
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    &:last-child {
      margin-right: 0;
    }
  }
  &-date {
    float: left;
    background: $green;
    padding: 7px 12px 7px 15px;
    border-radius: 6px;
    span {
      display: block;
      font-size: 34px;
      margin-bottom: 4px;
    }
  }
  &-num {
    font-size: 14px;
  }
  &-content {
    margin-left: 82px;
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
    }
    a {
      color: #0078ff;
      font-weight: 300;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__head {
    font-size: 20px;
    padding-bottom: 16px;
  }
}

/* Main-about */

.main-about {
  padding: 43px 0 47px;
  margin-bottom: 91px;
  &-wrap {
    background-color: #f5faf2;
  }
  &-content {
    float: left;
    width: 45%;
    padding-top: 28px;
    p {
      font-weight: 300;
      line-height: 1.6;
      padding-bottom: 30px;
    }
  }
  &-img {
    float: right;
  }
  &-head {
    margin-bottom: 30px;
  }
  &-ref {
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
    background: $orange;
    border-radius: 5px;
    &:hover {
      background: #d5570b;
    }
  }
  &-img {
    padding-right: 100px;
  }
}

/* Services */

.services {
  margin-bottom: 57px;
  &-items {
    font-size: 0;
    text-align: center;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 4%;
    border: 2px solid $green;
    border-radius: 6px;
    position: relative;
    padding: 134px 30px 0;
    height: 280px;
    transition: 300ms;
    &:hover {
      background: $green;
    }
    &:hover .services-item__head {
      color: #fff;
    }
    &:hover p {
      color: #fff;
    }
    &-img {
      border-radius: 50%;
      width: 160px;
      height: 160px;
      margin: 0 auto;
      font-size: 84px;
      color: #fff;
      background-color: $orange;
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      i {
        display: inline-block;
        vertical-align: middle;
        line-height: 160px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &__head {
      padding-bottom: 20px;
      color: $green;
      font-size: 24px;
      transition: 300ms;
    }
    p {
      font-weight: 300;
      color: #000;
      line-height: 1.6;
      transition: 300ms;
    }
  }
}

/* Footer */

.footer {
  padding: 52px 0 36px;
  &-wrap {
    background-color: #252525;
  }
  &-logo {
    float: left;
    margin: -14px 129px 0 0;
    i {
      display: inline-block;
      font-size: 76px;
      color: $green;
    }
    &-content {
      display: inline-block;
      vertical-align: top;
      margin-left: 21px;
      text-align: right;
      padding-top: 11px;
      p {
        color: #fff;
        font-size: 44px;
        text-transform: uppercase;
      }
      span {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 300;
      }
    }
  }
  &-contact {
    float: left;
    &__item {
      display: inline-block;
      vertical-align: top;
      margin-right: 106px;
      text-align: right;
      &:last-child {
        margin-right: 0;
      }
      p {
        color: #fff;
        font-size: 24px;
        padding-bottom: 10px;
      }
      span {
        display: block;
        font-weight: 300;
        color: #fff;
      }
      a {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  &-link {
    float: right;
    padding: 0 22px;
    border-radius: 6px;
    line-height: 50px;
    color: #fff;
    background: $orange;
    &:hover {
      background: #d5570b;
    }
  }
}

/* News */

.news {
  padding-bottom: 22px;
  .main-new-item {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
  .main-new-content {
    margin-left: 116px;
  }
  .main-new-content p {
    line-height: 1.5;
  }
}

/* Pagination */

.pagination {
  margin-left: 637px;
  padding: 0 0 56px 0;
  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      right: -18px;
    }
    &:nth-last-child(2):after {
      display: none;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    &.active {
      a {
        font-size: 24px;
        margin-top: -7px;
      }
    }
    &.pagination-arrow {
      margin-right: 16px;
      &__prev {
        &:after {
          display: none;
        }
      }
      &__next {
        &:after {
          display: none;
        }
      }
    }
  }
}

/* Contacts */

.contacts {
  &-items {
    font-size: 0;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin-right: 6%;
    &:last-child {
      margin-right: 0;
    }
    &-par {
      padding-bottom: 35px;
    }
    &__bid {
      padding-bottom: 5px;
      span {
        font-size: 20px;
        font-weight: 300;
        padding-left: 5px;
      }
    }
    &__head {
      font-size: 20px;
      padding-bottom: 6px;
    }
    p {
      font-weight: 300;
      font-size: 20px;
      padding-bottom: 5px;
      line-height: 1.3;
    }
    a {
      font-size: 20px;
      color: #000;
      &:hover {
        color: $orange;
      }
    }
    &__mail {
      margin-top: 36px;
    }
  }
  &-map {
    padding-bottom: 58px;
    iframe {
      border: none;
      width: 100%;
      height: 500px;
    }
  }
}

/* About */

.about {
  margin-bottom: 52px;
  &-item {
    margin-bottom: 16px;
    &-head {
      padding: 23px 0;
      background-color: #f5faf2;
      transition: 300ms;
      cursor: pointer;
      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 43px;
        color: $green;
        margin: 0 40px 0 32px;
      }
      p {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
      }
    }
    &-content {
      margin-left: 118px;
      display: none;
      padding-top: 27px;
      p {
        padding-bottom: 15px;
        font-weight: 300;
        line-height: 1.3;
      }
      &.active {
        display: block;
      }
    }
    &.active {
      .about-item-head {
        background: $orange;
        color: #fff;
      }
      .about-item-head i {
        color: #fff;
      }
    }
  }
}



























