@font-face {
    font-family: 'FedraSansPro';
    src: url('../fonts/FedraSansPro-Book.woff2') format('woff2'),
        url('../fonts/FedraSansPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FedraSansPro';
    src: url('../fonts/FedraSansPro-Medium.woff2') format('woff2'),
        url('../fonts/FedraSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FedraSansPro';
    src: url('../fonts/FedraSansPro-Bold.woff2') format('woff2'),
        url('../fonts/FedraSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
