button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px/1.65 'HelveticaNeueCyr', sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    line-height: 1.5;
  }
}

a {
  display: inline-block;
  font: 400 16px/1.65 'HelveticaNeueCyr', sans-serif;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 50px;
  font: 400 16px 'HelveticaNeueCyr';
  padding: 0 22px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
}

input[type=text]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=color]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: #898989;
}

input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #898989;
}

input[type=text]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=color]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  color: #898989;
}

input[type=text]::-ms-input-placeholder,
input[type=url]::-ms-input-placeholder,
input[type=tel]::-ms-input-placeholder,
input[type=number]::-ms-input-placeholder,
input[type=color]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder {
  color: #898989;
}

input[type=text]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder,
input[type=number]::placeholder,
input[type=color]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder {
  color: #898989;
}

input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #898989;
}

input.input-error {
  border-color: #a94442;
}

input.input-error::-webkit-input-placeholder {
  color: #a94442;
}

input.input-error::-moz-placeholder {
  color: #a94442;
}

input.input-error:-ms-input-placeholder {
  color: #a94442;
}

input.input-error::-ms-input-placeholder {
  color: #a94442;
}

input.input-error::placeholder {
  color: #a94442;
}

input.input-error::-ms-placeholder {
  color: #a94442;
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px !important;
  }
}

.link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  background-color: #dd3333;
  padding: 18px 72px 13px 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  -webkit-transition: background-color 300ms, color 300ms;
  transition: background-color 300ms, color 300ms;
}

.link::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  width: 10px;
  height: 14px;
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
}

.link::after {
  content: '';
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  -webkit-transform: skew(16deg, 0deg);
  transform: skew(16deg, 0deg);
  width: 60px;
  background-color: #d1d1d1;
}

.link:hover {
  background-color: #000000;
  color: #ffffff;
}

.link-md {
  padding-right: 58px;
  padding-left: 18px;
}

.link-md::before {
  right: 16px;
}

.link-md::after {
  width: 53px;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.29;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #d1d1d1;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
  position: static;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #dd3333;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  border-color: #ffffff;
}

.swiper-button-next {
  padding-right: 3px;
}

.swiper-button-next::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-prev {
  padding-left: 3px;
}

.swiper-button-prev::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: 2px solid transparent;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #898989;
  -webkit-transition: border-color 300ms, background-color 300ms;
  transition: border-color 300ms, background-color 300ms;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet-active {
  border-color: #dd3333;
}

.swiper-pagination-bullet-active::after {
  border-color: transparent;
  background-color: #dd3333;
}

.product-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  -webkit-transition: background-color 300ms, -webkit-box-shadow 300ms;
  transition: background-color 300ms, -webkit-box-shadow 300ms;
  transition: box-shadow 300ms, background-color 300ms;
  transition: box-shadow 300ms, background-color 300ms, -webkit-box-shadow 300ms;
}

.product-card:hover {
  -webkit-box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  background-color: #dd3333;
}

.product-card:hover .product-card__name,
.product-card:hover .product-card__price {
  color: #ffffff;
}

.product-card:hover .product-card__bottom {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.product-card:hover .product-card__link {
  background-color: #000000;
  color: #ffffff;
}

.product-card__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 220px;
}

.product-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 27px 30px 30px;
}

.product-card__name {
  display: block;
  margin-bottom: 21px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.product-card__price {
  color: #dd3333;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.product-card__value {
  font-size: 24px;
}

.product-card__bottom {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: block;
  padding-bottom: 35px;
  background-color: #dd3333;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

@media screen and (max-width: 767px) {
  .product-card__bottom {
    display: none;
  }
}

.news-card {
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms;
  transition: border-color 300ms, box-shadow 300ms, -webkit-box-shadow 300ms;
}

.news-card:hover {
  border-color: #dd3333;
  -webkit-box-shadow: 0 0 1px 1px #dd3333;
  box-shadow: 0 0 1px 1px #dd3333;
  color: #000000;
}

.news-card:hover .news-card__name {
  color: #dd3333;
}

.news-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 220px;
  background-color: #d1d1d1;
}

.news-card__content {
  padding: 28px 30px 48px;
}

.news-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 36px;
}

.news-card__divider {
  margin: -3px 10px 0;
  width: 1px;
  height: 14px;
  background-color: #898989;
}

.news-card__category {
  color: #dd3333;
  text-decoration: underline;
}

.news-card__name {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

@media screen and (max-width: 767px) {
  .news-card__content {
    padding: 28px 20px 40px;
  }
  .news-card__info {
    margin-bottom: 30px;
  }
  .news-card__name {
    font-size: 22px;
  }
}

.showcase {
  background-color: #e8e8e8;
}

.showcase__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 580px;
  padding-top: 20px;
}

.showcase__content {
  max-width: 562px;
  margin-top: -14px;
}

.showcase__img {
  margin-right: -4.16vw;
}

.showcase__title {
  margin-bottom: 41px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.29;
  word-break: break-word;
}

.showcase__controls {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

.showcase__controls-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.showcase__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase .swiper-pagination {
  position: static;
  margin-top: 10px;
}

.showcase .swiper-button-prev,
.showcase .swiper-button-next {
  position: static;
  width: 70px;
  height: 70px;
  margin: 0;
}

@media screen and (max-width: 1336px) {
  .showcase__item {
    min-height: 470px;
  }
  .showcase__content {
    max-width: 480px;
  }
  .showcase__img {
    margin-right: -2vw;
  }
  .showcase__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 991px) {
  .showcase__item {
    min-height: 410px;
  }
  .showcase__content {
    max-width: 360px;
  }
  .showcase__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .showcase__item {
    min-height: 360px;
    padding-bottom: 40px;
  }
  .showcase__content {
    max-width: 100%;
  }
  .showcase__img {
    display: none;
  }
  .showcase__controls-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    display: none !important;
  }
}

.companies {
  padding: 40px 0;
}

.companies .container {
  position: relative;
  max-width: 1200px;
}

.companies .swiper-button-next {
  right: -80px;
}

.companies .swiper-button-prev {
  left: -80px;
}

.companies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 120px;
  padding: 10px;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
}

@media screen and (max-width: 1500px) {
  .companies .swiper-button-next {
    right: -60px;
  }
  .companies .swiper-button-prev {
    left: -60px;
  }
}

@media screen and (max-width: 1170px) {
  .companies .swiper-button-next,
  .companies .swiper-button-prev {
    position: static;
    -webkit-transform: translate(0);
    transform: translate(0);
    margin: 0;
  }
  .companies .swiper-button-prev {
    margin-right: 10px;
  }
  .companies__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }
}

.advantage {
  padding: 70px 0 45px;
  background-image: url("../images/advantage-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantage__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.advantage__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 5.2vw;
}

.advantage__title {
  margin-bottom: 20px;
}

.advantage__info {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
}

.advantage__text {
  margin-bottom: 25px;
}

.advantage__products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 620px;
}

@media screen and (max-width: 1336px) {
  .advantage__content {
    padding-right: 30px;
  }
  .advantage__products {
    max-width: 560px;
  }
}

@media screen and (max-width: 991px) {
  .advantage {
    padding-bottom: 100px;
  }
  .advantage__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .advantage__content {
    margin-bottom: 20px;
    padding-right: 0;
  }
  .advantage__products {
    max-width: 620px;
  }
}

@media screen and (max-width: 767px) {
  .advantage {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 575px) {
  .advantage__products {
    grid-template-columns: 1fr;
  }
}

.solutions {
  padding: 50px 0 60px;
  background-image: url("../images/solutions-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: -20px;
}

.solutions__title {
  color: #ffffff;
  line-height: 1;
}

.solutions__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.solutions__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 57px 40px 39px;
  background-color: #ffffff;
  background: linear-gradient(to left bottom, transparent 48%, #dd3333 0) no-repeat 100% 0/40px 40px, linear-gradient(-135deg, transparent 28px, #ffffff 0);
}

.solutions__content {
  margin-bottom: 14px;
  padding-right: 3.5vw;
}

.solutions__name {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
}

.solutions__text {
  margin-bottom: 0;
}

.solutions__link {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media screen and (max-width: 1336px) {
  .solutions__header {
    margin-right: 0;
  }
  .solutions__item {
    padding: 40px 20px 30px;
  }
}

@media screen and (max-width: 991px) {
  .solutions__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .solutions__content {
    margin-bottom: 20px;
    padding-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .solutions__all {
    display: none;
  }
  .solutions__items {
    grid-template-columns: 1fr;
  }
}

.shares {
  padding: 70px 0;
}

.shares__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 38px;
  margin-right: -20px;
}

.shares__title {
  color: #dd3333;
  line-height: 1;
}

.shares__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1336px) {
  .shares__header {
    margin-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .shares__link {
    display: none;
  }
}

.about-us {
  overflow: hidden;
  background-color: #e8e8e8;
}

.about-us__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 59px 5.5vw 60px 0;
}

.about-us__title {
  margin-bottom: 22px;
}

.about-us__text {
  margin-bottom: 42px;
}

.about-us__text a {
  color: #e40311;
  text-decoration: underline;
}

.about-us__text a:hover {
  text-decoration: none;
}

.about-us__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 45.3vw;
  margin-right: calc((100vw - 1260px)/-2);
}

.about-us__img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 1500px) {
  .about-us__content {
    padding-right: 3vw;
  }
  .about-us__img {
    width: 50vw;
  }
}

@media screen and (max-width: 1336px) {
  .about-us__img {
    margin-right: calc((100vw - 970px)/-2);
  }
}

@media screen and (max-width: 991px) {
  .about-us__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0;
  }
  .about-us__content {
    margin-bottom: 40px;
    padding: 0;
  }
  .about-us__text {
    margin-bottom: 30px;
  }
  .about-us__img {
    width: auto;
    margin-right: 0;
  }
  .about-us__img img {
    height: auto;
  }
}

.related-news {
  padding: 60px 0 80px;
  background-color: #e8e8e8;
}

.related-news__title {
  margin-bottom: 35px;
  color: #dd3333;
}

.related-news__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.similar-products {
  padding: 69px 0 140px;
  background-color: #e8e8e8;
}

.similar-products__title {
  margin-bottom: 38px;
  color: #dd3333;
}

.similar-products__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1336px) {
  .similar-products {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 767px) {
  .similar-products {
    padding: 60px 0;
  }
}

.documents__title {
  margin-bottom: 28px;
  color: #dd3333;
}

.documents__body {
  padding-bottom: 89px;
}

.documents__table {
  width: 100%;
  border-collapse: collapse;
}

.documents__table tr {
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.documents__table tr:hover {
  background-color: #e8e8e8;
}

.documents__table tr:first-child td {
  border-top: 1px solid #c0c8d2;
}

.documents__table td {
  vertical-align: top;
  padding: 31px 10px 20px;
  border-bottom: 1px solid #c0c8d2;
}

.documents__table td:first-child {
  width: 492px;
  padding-left: 60px;
}

.documents__table td:nth-child(2) {
  width: 187px;
}

.documents__table td:nth-child(3) {
  width: 127px;
}

.documents__table td:last-child {
  width: 170px;
}

.documents__name {
  color: #dd3333;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.documents__text {
  margin-bottom: 0;
}

.documents__link {
  margin-top: -3px;
}

@media screen and (max-width: 1336px) {
  .documents__table td:first-child {
    padding-left: 20px;
  }
}

@media screen and (max-width: 680px) {
  .documents__table {
    width: 680px;
  }
  .documents__table-overflow {
    overflow-x: auto;
  }
}

.delivery__content {
  max-width: 950px;
  padding-bottom: 71px;
}

.delivery__content h1, .delivery__content h2 {
  margin-top: 50px;
  margin-bottom: 24px;
  color: #dd3333;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
}

.delivery__content h1:first-child, .delivery__content h2:first-child {
  margin-top: 0;
}

.delivery__content h3, .delivery__content h4, .delivery__content h5 {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
}

.delivery__content h3 + p, .delivery__content h4 + p, .delivery__content h5 + p {
  margin: 0;
}

.delivery__content p {
  margin: 25px 0 0;
}

.delivery__content ol {
  margin: 0 0 26px;
  padding: 0;
  list-style-position: inside;
}

.delivery__content ul {
  margin-bottom: 24px;
}

.delivery__content ul li {
  position: relative;
  padding-left: 25px;
}

.delivery__content ul li::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 16px;
  height: 1px;
  background-color: #dd3333;
}

@media screen and (max-width: 767px) {
  .delivery__content h1, .delivery__content h2 {
    font-size: 28px;
  }
  .delivery__content h3, .delivery__content h4, .delivery__content h5 {
    font-size: 16px;
  }
}

.categories__inner {
  padding-bottom: 70px;
}

.categories__title {
  margin-bottom: 28px;
  color: #dd3333;
}

.categories__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 20px;
  margin-bottom: 70px;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 30px 28px;
  border: 1px solid #c0c8d2;
  outline: 1px solid transparent;
  background-color: #ffffff;
  -webkit-transition: border-color 300ms, outline 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, outline 300ms, -webkit-box-shadow 300ms;
  transition: border-color 300ms, outline 300ms, box-shadow 300ms;
  transition: border-color 300ms, outline 300ms, box-shadow 300ms, -webkit-box-shadow 300ms;
}

.categories__item:hover {
  border-color: #dd3333;
  outline-color: #dd3333;
  -webkit-box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
}

.categories__item:hover .categories__name {
  color: #dd3333;
}

.categories__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 230px;
  background-color: #e8e8e8;
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 7px;
  padding-left: 40px;
  padding-bottom: 21px;
}

.categories__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.categories__link {
  padding-right: 68px;
  padding-left: 18px;
}

.categories__link::after {
  right: -10px;
}

@media screen and (max-width: 1336px) {
  .categories__item {
    padding: 18px 18px 20px;
  }
  .categories__img {
    width: 190px;
  }
  .categories__content {
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .categories__name {
    font-size: 21px;
  }
  .categories__link {
    padding-right: 62px;
    padding-left: 14px;
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .categories__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .categories__img {
    width: 220px;
    margin: 0 auto 15px;
  }
  .categories__content {
    padding: 0;
  }
  .categories__name {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .categories__inner {
    padding-bottom: 60px;
  }
  .categories__items {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .categories__items {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.about__body {
  padding-bottom: 82px;
}

.about__content {
  max-width: 930px;
  margin-bottom: 60px;
}

.about__title {
  margin-bottom: 26px;
  color: #dd3333;
}

.about__info {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
}

.about__text {
  margin-bottom: 0;
}

.about__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
}

.about__item-content {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
}

.about__item-value {
  font-size: 34px;
  line-height: 1;
}

@media screen and (max-width: 991px) {
  .about__items {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

/* About Description */
.about-descr {
  overflow: hidden;
  padding-top: 40px;
}

.about-descr__inner {
  background-color: #e8e8e8;
}

.about-descr__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-descr__content {
  width: 721px;
  padding: 59px 96px 69px 0;
}

.about-descr__title {
  margin-bottom: 22px;
}

.about-descr__text {
  margin-bottom: 26px;
}

.about-descr__link {
  margin-top: 27px;
  padding-right: 68px;
  padding-left: 16px;
}

.about-descr__img {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: -40px;
  margin-right: calc((100vw - 1260px)/-2);
}

@media screen and (max-width: 1336px) {
  .about-descr {
    padding-top: 0;
  }
  .about-descr__inner {
    padding: 60px 0;
  }
  .about-descr__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-descr__content {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
  .about-descr__img {
    margin: 0;
    text-align: center;
  }
}

.contacts__inner {
  padding-bottom: 35px;
}

.contacts__title {
  margin-bottom: 42px;
  color: #dd3333;
}

.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-width: 390px;
  margin-right: 10px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__head {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
}

.contacts__tel, .contacts__mail, .contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #000000;
  font-size: 18px;
}

.contacts__tel::before, .contacts__mail::before, .contacts__address::before {
  content: '';
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 4px;
  margin-right: 13px;
  background-repeat: no-repeat;
}

.contacts__tel {
  margin-bottom: 8px;
}

.contacts__tel::before {
  width: 17px;
  height: 18px;
  background-image: url("../images/phone-volume.png");
}

.contacts__tel:hover {
  color: #000000;
  text-decoration: underline;
}

.contacts__mail {
  color: #dd3333;
  text-decoration: underline;
}

.contacts__mail::before {
  width: 18px;
  height: 17px;
  background-image: url("../images/send.png");
}

.contacts__mail:hover {
  color: #dd3333;
  text-decoration: none;
}

.contacts__address {
  line-height: 1.85;
}

.contacts__address::before {
  width: 14px;
  height: 20px;
  background-image: url("../images/map.png");
}

@media screen and (max-width: 1336px) {
  .contacts__item {
    min-width: auto;
    width: calc(33.33% - 5px);
  }
}

@media screen and (max-width: 991px) {
  .contacts__tel, .contacts__mail, .contacts__address {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__head {
    margin-bottom: 20px;
    font-size: 21px;
  }
  .contacts__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

/* Contacts Description */
.contacts-descr {
  overflow: hidden;
  padding-top: 40px;
}

.contacts-descr__inner {
  background-color: #e8e8e8;
}

.contacts-descr__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-descr__content {
  width: 721px;
  padding: 59px 106px 50px 0;
}

.contacts-descr__title {
  margin-bottom: 22px;
}

.contacts-descr__map {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: -40px;
  margin-right: calc((100vw - 1260px)/-2);
}

.contacts-descr__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 1336px) {
  .contacts-descr__content {
    width: 50%;
    padding-right: 26px;
  }
  .contacts-descr__map {
    margin-right: calc((100vw - 960px)/-2);
  }
}

@media screen and (max-width: 991px) {
  .contacts-descr {
    padding-top: 0;
  }
  .contacts-descr__inner {
    padding: 60px 0;
  }
  .contacts-descr__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts-descr__content {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .contacts-descr__map {
    height: 320px;
    margin: 0;
  }
}

.basket {
  padding-bottom: 90px;
}

.basket__title {
  margin-bottom: 28px;
  color: #dd3333;
}

.basket__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.basket__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 40px;
}

.basket__table {
  width: 100%;
  border-top: 1px solid #c0c8d2;
  border-collapse: collapse;
}

.basket__table th {
  vertical-align: top;
  padding: 14px 0;
  font-size: 14px;
}

.basket__table th:first-child {
  width: 484px;
}

.basket__table th:nth-child(2) {
  width: 161px;
}

.basket__table th:nth-child(3) {
  width: 121px;
}

.basket__table th:nth-child(4) {
  width: 140px;
}

.basket__table th:last-child {
  width: 40px;
}

.basket__table td {
  vertical-align: top;
  padding: 29px 0;
  border-bottom: 1px solid #c0c8d2;
}

.basket__table td:first-child {
  padding-right: 30px;
}

.basket__table td b {
  font-size: 18px;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  background-color: #e8e8e8;
}

.basket__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.basket__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 0 8px 39px;
}

.basket__item-name {
  margin-bottom: 10px;
  color: #dd3333;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.basket__item-name:hover {
  color: #000000;
}

.basket__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
}

.basket__amount-minus, .basket__amount-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.basket__amount-input input {
  width: 80px;
  height: 40px;
  padding: 3px 6px 0;
  border: 1px solid #c0c8d2;
  border-radius: 0;
  background-color: #e8e8e8;
  line-height: 40px;
  text-align: center;
}

.basket__price {
  display: block;
  padding-top: 7px;
}

.basket__result {
  display: block;
  padding-top: 5px;
}

.basket__delete {
  width: 40px;
  height: 40px;
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.basket__delete:hover {
  background-position: right;
}

.basket__sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 280px;
}

.basket__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 34px 31px 24px;
  background-color: #dd3333;
  color: #ffffff;
}

.basket__total-head {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
}

.basket__total-table {
  width: 100%;
}

.basket__total-table td {
  vertical-align: top;
  padding-bottom: 35px;
}

.basket__total-table td:first-child {
  width: 129px;
}

.basket__total-table td b {
  font-size: 18px;
}

.basket__total-link {
  margin-bottom: 37px;
  padding-right: 86px;
  padding-left: 30px;
  background-color: #000000;
  color: #ffffff;
}

.basket__total-link:hover {
  background-color: #ffffff;
  color: #000000;
}

.basket__total-rule, .basket__total-condition {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.75;
  text-decoration: underline;
}

.basket__total-rule:hover, .basket__total-condition:hover {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 1336px) {
  .basket__content {
    padding-right: 30px;
  }
  .basket__table th:first-child {
    width: 270px;
  }
  .basket__table th:nth-child(2) {
    width: 140px;
  }
  .basket__table th:nth-child(3) {
    width: 104px;
  }
  .basket__table th:nth-child(4) {
    width: 100px;
  }
  .basket__table td:first-child {
    padding-right: 8px;
  }
  .basket__table td b {
    font-size: 16px;
  }
  .basket__item-img {
    width: 100px;
    height: 100px;
  }
  .basket__item-content {
    padding-left: 18px;
  }
  .basket__item-name {
    font-size: 16px;
  }
  .basket__amount {
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .basket__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .basket__content {
    margin-bottom: 40px;
    padding-right: 0;
  }
  .basket__sidebar {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
  .basket__total {
    padding-right: 14px;
    padding-left: 14px;
  }
  .basket__total-table td {
    width: 50%;
    padding-right: 10px;
    padding-bottom: 22px;
  }
  .basket__total-table td:first-child {
    width: 50%;
  }
  .basket__total-table td b {
    font-size: 16px;
  }
  .basket__total-link {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 767px) {
  .basket__content {
    overflow: auto;
    width: 100%;
  }
  .basket__content::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .basket__content::-webkit-scrollbar-thumb {
    display: none;
  }
  .basket__table {
    width: 767px;
  }
}

.article__inner {
  padding-bottom: 48px;
}

.article__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 32px;
}

.article__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 40px;
}

.article__content h1, .article__content h2, .article__content h3 {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.41;
}

.article__content img {
  margin-bottom: 13px;
}

.article__content p {
  margin: 25px 0;
}

.article__content p b {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
}

.article__sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 280px;
  padding-top: 100px;
}

.article__share {
  margin-top: 57px;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px;
}

.article__delimiter {
  margin: 0 9px;
}

.article__category {
  color: #dd3333;
  text-decoration: underline;
}

.article__category:hover {
  color: #dd3333;
  text-decoration: none;
}

@media screen and (max-width: 1336px) {
  .article__content {
    padding-right: 20px;
  }
  .article__sidebar {
    padding-top: 44px;
  }
}

@media screen and (max-width: 991px) {
  .article__content h1, .article__content h2, .article__content h3 {
    font-size: 30px;
  }
  .article__content p {
    margin: 20px 0;
  }
  .article__content p b {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .article__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }
  .article__content {
    margin-bottom: 40px;
    padding-right: 0;
  }
  .article__content h1, .article__content h2, .article__content h3 {
    font-size: 28px;
  }
  .article__sidebar {
    margin: 0 auto;
    padding: 0;
  }
}

.manufacturers {
  padding-bottom: 70px;
}

.manufacturers__title {
  margin-bottom: 28px;
  color: #dd3333;
}

.manufacturers__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 29px 20px;
  margin-bottom: 70px;
}

.manufacturers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px 37px 40px 40px;
  border: 1px solid #c0c8d2;
  outline: 1px solid transparent;
  -webkit-transition-property: border-color, outline-color, -webkit-box-shadow;
  transition-property: border-color, outline-color, -webkit-box-shadow;
  transition-property: box-shadow, border-color, outline-color;
  transition-property: box-shadow, border-color, outline-color, -webkit-box-shadow;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.manufacturers__item:hover {
  -webkit-box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  border-color: #dd3333;
  outline-color: #dd3333;
}

.manufacturers__item:hover .manufacturers__name {
  color: #dd3333;
}

.manufacturers__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 220px;
}

.manufacturers__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: -2px;
  padding-left: 41px;
}

.manufacturers__name {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.manufacturers__text {
  margin-bottom: 28px;
}

.manufacturers__text a {
  color: #dd3333;
}

.manufacturers__text a:hover {
  color: #dd3333;
  text-decoration: underline;
}

.manufacturers__link {
  padding-right: 70px;
  padding-left: 16px;
}

@media screen and (max-width: 1336px) {
  .manufacturers__item {
    padding: 20px;
  }
  .manufacturers__img {
    width: 160px;
  }
  .manufacturers__content {
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .manufacturers__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .manufacturers__img {
    width: 200px;
    margin: 0 auto;
  }
  .manufacturers__content {
    padding-top: 30px;
    padding-left: 0;
  }
}

@media screen and (max-width: 680px) {
  .manufacturers {
    padding-bottom: 60px;
  }
  .manufacturers__items {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 60px;
  }
}

.product {
  padding-bottom: 71px;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 68px;
}

.product__aside {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 280px;
}

.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 380px;
  height: 380px;
  background-color: #e8e8e8;
}

.product__content {
  margin-top: -2px;
  padding-left: 39px;
}

.product__code {
  margin-bottom: 16px;
}

.product__logo {
  max-width: 140px;
  width: 100%;
  margin-bottom: 57px;
}

.product__description {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.product__list-item::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 2px;
  margin-top: 10px;
  margin-right: 4px;
  background-color: #dd3333;
}

.product__title {
  margin-bottom: 28px;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 32px 29px 28px;
  border: 2px solid #d1d1d1;
  background-color: #e8e8e8;
}

.product__price {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
}

.product__available {
  margin-bottom: 36px;
  text-decoration: underline;
}

.product__link {
  margin-bottom: 38px;
  padding-left: 26px;
}

.product__delivery, .product__payment {
  color: #000000;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: underline;
}

.product__delivery:hover, .product__payment:hover {
  color: #000000;
  text-decoration: none;
}

.product__share {
  margin-top: 36px;
}

@media screen and (max-width: 1336px) {
  .product__body {
    padding-right: 20px;
  }
  .product__content {
    margin-top: 0;
    padding-left: 20px;
  }
  .product__aside {
    width: 260px;
  }
  .product__img {
    width: 300px;
    height: 300px;
  }
  .product__logo {
    margin-bottom: 40px;
  }
  .product__description {
    margin-bottom: 18px;
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .product__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product__body {
    margin-bottom: 40px;
    padding-right: 0;
  }
  .product__aside {
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
  }
  .product__img {
    width: 280px;
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  .product__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .product__img {
    width: 300px;
    height: 300px;
    margin: 0 auto 40px;
  }
  .product__content {
    padding-left: 0;
  }
}

.news {
  padding-bottom: 70px;
}

.news__title {
  margin-bottom: 27px;
  color: #dd3333;
}

.news__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 38px 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .news {
    padding-bottom: 60px;
  }
  .news__items {
    margin-bottom: 50px;
  }
}

.burger {
  display: none;
  width: 30px;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.burger a span {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

@media screen and (max-width: 767px) {
  .burger {
    display: block;
  }
}

/* Logo */
.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 220px;
}

/* Language */
.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.language__item {
  margin-right: 24px;
  color: #898989;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.language__item:last-child {
  margin-right: 0;
}

.language__item--active {
  color: #000000;
  text-decoration: none;
}

/* Nav */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 35px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #000000;
}

.nav__link:hover {
  color: #dd3333;
}

@media screen and (max-width: 1336px) {
  .nav__item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  .nav__item {
    margin-right: 14px;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .nav__item {
    margin: 8px 0;
  }
}

/* Menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item {
  margin-right: 80px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.menu__link:hover {
  color: #dd3333;
}

@media screen and (max-width: 1336px) {
  .menu__item {
    margin-right: 2.5vw;
  }
}

@media screen and (max-width: 991px) {
  .menu__link {
    font-weight: 400;
    font-size: 15px;
  }
}

/* Header */
.header {
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 80px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
  padding-right: 10px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__phone {
  margin-right: 12px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
}

.header__phone:hover {
  color: #dd3333;
}

.header__call {
  color: #898989;
  text-decoration: underline;
}

.header__call:hover {
  color: #898989;
}

.header__request {
  margin-left: 7.8vw;
  color: #898989;
}

.header__request:hover {
  color: #dd3333;
}

.header__language {
  margin-left: auto;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav {
  padding-top: 5px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 44px;
  color: #000000;
}

.header__control:last-child {
  margin-right: 0;
}

.header__control:hover {
  color: #000000;
}

.header__control-text {
  margin-right: 31px;
  padding-top: 5px;
}

.header__control-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.header__control-value {
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: -7px;
  padding: 6px 2px 2px;
  border-radius: 50%;
  background-color: #d1d1d1;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.header__control--cart .header__control-value {
  background-color: #dd3333;
}

.header__section {
  background-color: #292929;
}

.header__navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 22px;
}

.header__navigation::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 1000px;
  margin-right: -1px;
  background-color: #dd3333;
}

.header__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  margin-right: 80px;
  padding: 19px 18px 13px 38px;
  background-color: #dd3333;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
}

.header__catalog:hover {
  color: #ffffff;
}

.header__catalog img {
  margin-top: -4px;
  margin-left: 22px;
}

.header__menu {
  padding-top: 4px;
}

.header__search {
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 1336px) {
  .header__content {
    padding-left: 3vw;
  }
  .header__control {
    margin-right: 30px;
  }
  .header__control-text {
    display: none;
  }
  .header__catalog {
    margin-right: 3vw;
  }
  .header__navigation {
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .header__logo {
    max-width: 190px;
  }
  .header__content {
    padding-left: 2.5vw;
  }
  .header__nav {
    padding-top: 0;
  }
  .header__request {
    display: none;
  }
  .header__block {
    display: none;
  }
  .header__catalog {
    max-width: 190px;
    margin-right: 2.5vw;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
  }
  .header__content {
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    padding: 20px;
    border-top: 1px solid #e8e8e8;
    background-color: #ffffff;
  }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
  }
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .header__phone {
    margin-right: 0;
  }
  .header__language {
    margin-left: 0;
  }
  .header__logo {
    max-width: 170px;
  }
  .header__nav {
    width: 100%;
  }
  .header__section {
    display: none;
  }
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 31px;
  background-color: #292929;
  color: #d1d1d1;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__block {
  max-width: 360px;
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__contact-address {
  margin-bottom: 11px;
}

.footer__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.footer__contact-item:last-child {
  margin-bottom: 0;
}

.footer__contact-label {
  min-width: 144px;
}

.footer__contact-tel {
  color: #d1d1d1;
}

.footer__contact-tel:hover {
  color: #d1d1d1;
  text-decoration: underline;
}

.footer__contact-mail {
  color: #d1d1d1;
  text-decoration: underline;
}

.footer__contact-mail:hover {
  color: #d1d1d1;
  text-decoration: none;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 7px;
  padding-right: 45px;
}

.footer__menu {
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  columns: 200px 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-right: 30px;
}

.footer__menu-item {
  margin-bottom: 10px;
}

.footer__menu-link {
  color: #d1d1d1;
}

.footer__menu-link:hover {
  color: #d1d1d1;
  text-decoration: underline;
}

.footer__category {
  max-width: 220px;
}

.footer__category-item {
  margin-bottom: 10px;
}

.footer__category-link {
  color: #d1d1d1;
  font-weight: 700;
}

.footer__category-link:hover {
  color: #d1d1d1;
  text-decoration: underline;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 43px;
  padding-left: 2px;
}

.footer__copyright {
  padding-top: 4px;
  font-size: 14px;
}

.footer__copyright a {
  color: #d1d1d1;
  font-size: 14px;
}

.footer__copyright a:hover {
  text-decoration: underline;
}

.footer__development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #d1d1d1;
  font-size: 14px;
}

.footer__development:hover {
  color: #d1d1d1;
}

.footer__development span {
  margin-right: 15px;
}

@media screen and (max-width: 1336px) {
  .footer__content {
    padding-top: 0;
    padding-right: 0;
  }
  .footer__menu {
    -webkit-column-width: 160px;
    -moz-column-width: 160px;
    column-width: 160px;
  }
}

@media screen and (max-width: 991px) {
  .footer__block {
    max-width: 320px;
  }
  .footer__menu {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-right: 15px;
  }
  .footer__menu-item {
    margin-bottom: 8px;
  }
  .footer__contact-item {
    margin-bottom: 8px;
  }
  .footer__contact-label {
    min-width: 136px;
  }
  .footer__category-item {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__block {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .footer__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__menu {
    -webkit-column-width: 140px;
    -moz-column-width: 140px;
    column-width: 140px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 30px;
  }
  .footer__copyright {
    margin-bottom: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__menu {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__category {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer__contact-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 27px 0 36px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 28px;
  color: #898989;
}

.breadcrumbs__item::after {
  content: '\003E';
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  color: #000000;
}

.breadcrumbs__link:hover {
  color: #000000;
  text-decoration: underline;
}

/* Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination__item {
  margin: 0 2px;
}

.pagination__item--disabled .pagination__link {
  color: #d1d1d1;
  pointer-events: none;
}

.pagination__item--active .pagination__link {
  background-color: #dd3333;
  color: #ffffff;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 41px;
  height: 40px;
  padding-top: 4px;
  color: #000000;
  font-weight: 700;
  line-height: 1;
  -webkit-transition: background-color 300ms, color 300ms;
  transition: background-color 300ms, color 300ms;
}

.pagination__link:hover {
  background-color: #dd3333;
  color: #ffffff;
}

@media screen and (max-width: 575px) {
  .pagination__item {
    margin: 0 1px;
  }
  .pagination__link {
    width: 29px;
    height: 29px;
    padding-top: 3px;
    font-weight: 400;
    font-size: 15px;
  }
}

/* Banner */
.banner {
  margin: 80px 0;
}

.banner__inner {
  padding: 54px 80px 50px;
  background-color: #dd3333;
  background-image: url("../images/h-logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.banner__content {
  max-width: 655px;
}

.banner__title {
  margin-bottom: 38px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
}

.banner__link {
  padding-right: 68px;
  padding-left: 14px;
  background-color: #000000;
  color: #ffffff;
}

.banner__link:hover {
  background-color: #ffffff;
  color: #000000;
}

@media screen and (max-width: 1336px) {
  .banner__inner {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 991px) {
  .banner__inner {
    background-size: 47.22vw 22.8vw;
  }
}

@media screen and (max-width: 680px) {
  .banner {
    margin: 50px 0;
  }
  .banner__inner {
    padding: 26px 20px;
    background-image: initial;
  }
  .banner__title {
    font-size: 22px;
  }
}

/* Share */
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.share__text {
  margin-right: 15px;
  font-weight: 700;
}

.share__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.share__item {
  margin-right: 10px;
}

.share__item:last-child {
  margin-right: 0;
}

.share__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #d1d1d1;
  color: #ffffff;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.share__link i {
  font-size: 13px;
}

.share__link:hover {
  background-color: #dd3333;
  color: #ffffff;
}
