@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/Trebuchet MS.eot');
  src: local('☺'), url('../fonts/Trebuchet MS.woff') format('woff'), url('../fonts/Trebuchet MS.ttf') format('truetype'), url('../fonts/Trebuchet MS.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinCondensedRegular';
  src: url('../fonts/PFDinCondensedRegular.eot');
  src: local('☺'), url('../fonts/PFDinCondensedRegular.woff') format('woff'), url('../fonts/PFDinCondensedRegular.ttf') format('truetype'), url('../fonts/PFDinCondensedRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
