
@media (max-height: 1300px) {
  #container{
//    background-size: auto;
    height: 100%;
  }
}

/*
#container:not(.indexPage) {
  height: auto;
}
*/


*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.radius(@radius:4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.radius-top(@radius:4px) {
  border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  border-top-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
  -webkit-border-top-right-radius: @radius;
}


html {
  height: 100%;
  font-size: 62.5% !important;
}

@body-font: 'Trebuchet MS';
@din-font: 'PFDinCondensedRegular';

//#container, html, body,{
//  height: 100%;
//}

body {
  height: 100%;
  font-family: @body-font;
  background-color: #000;
  position: relative;
  min-height: 1300px;
}
.darkness{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/bg-sidebar.png") repeat;
}

/*#container{
//  min-height: 100%;
  height: auto;
  background-size: cover;
}*/
.bg{background-size: cover;}
.bg-index{background: url("../images/bg-index.png") no-repeat top #000000; .bg}
.bg-team{background: url("../images/bg-team.png") no-repeat top #000000; .bg}
.bg-press{background: url("../images/bg-press.png") no-repeat top #000000; .bg}
.bg-about{background: url("../images/bg-about.png") no-repeat top #000000; .bg}

.container-main {

  width: 100%;
  height: 100%;
  background-size: 100%;
  .dark-bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    padding: 0 0px 0 240px;
//    background: url("../images/bg-sidebar.png") repeat;
//    background-size: 100%;
  }
}

/*
.index {
  background: url("../images/bg-index.png") no-repeat top;
  background-size: 100%;
  min-height: 915px;
}
*/

.icon {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
}

.icon-mail {
  width: 21px;
  height: 20px;
  background-position: 0 0;
  margin-right: 18px;
}

.icon-tree {
  width: 25px;
  height: 20px;
  background-position: -41px 0;
  margin-right: 15px;
}

.icon-print {
  width: 24px;
  height: 20px;
  background-position: -83px 0;
}

#container {
  height: 100%;
  a {
    font: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
    text-transform: inherit;
  }
  a:visited {
    color: inherit;
  }

  .h1 {
    font-size: 2.4rem;
  }
  .h2 {
    font-size: 1.8rem;
  }
}



#sidebar {
  position: relative;
  z-index: 3;
//  top: 0%;
//  left: 0%;
//  float: left;
  margin-left: -240px;
  width: 240px;
  height: 100%;
  background: url("../images/bg-sidebar.png") repeat;
  color: #808080;
  font-size: 1.4rem;
  hr {
    width: 90px;
    border: 1px solid #05717d;
    margin: 0 45px 15px;
  }

  .pictures {
    text-align: center;
    img {
      margin: 2px
    }
    margin-bottom: 20px;
  }
}

#content {
  position: relative;
  width:  100%;
  height: 100%;
  hr {
    margin: 0 auto 60px;
    width: 240px;
    border: 2px solid #05717d;
  }
  .credo {
    font: @din-font;
    color: #fff;
    font-size: 3.8rem;
    text-align: center;
    text-transform: uppercase;
    p {
      padding-bottom: 60px;
    }
  }

  .content-right {
    width: 60%;
    padding: 15px 30px;
    color: #808080;
    font-size: 1.4rem;
    hr {
      margin: 10px 0;
      width: 238px;
      border: 2px solid #0099aa;
    }
  }
  .content-left {
    width: 40%;
    padding: 15px 30px;
    color: #fff;
    font-size: 1.4rem;
    hr {
      margin: 10px 0;
      width: 238px;
      border: 2px solid #0099aa;
    }
  }

  .history {
    p {
      margin-top: 15px;
    }
    .violet {
      margin: 15px 0;
      background-color: #890049;
      color: #fff;
      padding: 20px 15px 20px 32px;
      .text {
        text-indent: -12px
      }
    }
  }
  .experience {
    .projects {
      margin-left: -10px;
      .project {
        padding: 10px 20px 10px 10px;
      }
      .project:nth-child(2n) {
        background-color: #ebebeb;
      }
    }
  }
  .press {
    .news {
      .article {
        margin: 10px 0 30px;
        .date {
          font-weight: bold;
        }
        .title {
          color: #0097ac;
          font-size: 1.8rem;
          margin: 4px 0;
        }
      }
    }
    .article:first-child {
      font-size: 1.8rem;
      .title {
        font-size: 2.4rem
      }
    }
  }

  .team {
    .big {font-size: 1.8rem;}
    .members {
      text-align: center;
      .member.top {
        width: 325px;
//        clear: both;
        .picture {
          height: 415px;
        }
      }
      .member {
        display: inline-block;
        margin: 0 -2px 30px;
        width: 236px;
        text-align: center;
        font-size: 1.4rem;
        .big {margin-bottom: 15px;}
        color: #58595b;
        .picture:hover{
          .profession{visibility: visible;}
        }
        .picture {
          display: inline-block;
          color: #fff;
          width: 100%;
          height: 301px;
          position: relative;
          .profession {
            visibility: hidden;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            background: url("../images/bg-member.png") repeat;
            line-height: 301px;
            font-size: 0;
            p{margin-bottom: 15px;}
            >div {
              display: inline-block;
              font-size: medium;
              line-height: normal;
              vertical-align: middle;
            }
          }
        }
        .description{
          width: 165px;
          margin: 0 auto;
          .name{
            font-size: 1.8rem;
            margin-bottom: 10px;
          }
          .feedback {
            color: #0099aa;
            text-decoration: underline;
            margin: 10px 0;
          }
        }
      }
    }
    .description{
      line-height: 20px;
      p{margin-bottom: 15px;}
    }
    .vacancy{
      line-height: 25px;
      margin-top: 45px;
      .name{color: #0096ab}
      .link{text-decoration: underline;}
    }
  }
}


#menu {
  margin-bottom: 100px;
  height: auto;
  width: 100%;
  > ul {
    > li {
      position: relative;
      height: 46px;
      text-transform: uppercase;
      ul {
        visibility: hidden;
        background: url("../images/bg-menu.png") repeat;
        width: 270px;
        position: absolute;
        top: 0;
        right: -270px;
        li {
          padding: 5px 70px 5px 40px;
          text-align: left;
          line-height: 22px;
          font-size: 1.8rem;
          color: #4de6fb;
          text-indent: -19px;
          text-transform: none;
        }
        li:hover, li.active{
          color: #fff;
        }
      }
    }
    li {
      text-align: center;

      font-size: 2rem;
      line-height: 46px;

    }
    > li.active {
      color: #fff;
      background: url("../images/bg-menu.png") repeat;

    }
    > li:hover {
      color: #fff;
      ul {
        visibility: visible;
      }
    }
  }
}
.header {
  margin-top: 60px;
  padding: 0 30px;
  .logo {
    margin-top: 30px;
    text-align: center;
  }
  .lang {
    font-size: 1.4rem;
    .switch {
      text-decoration: underline;
      color: #447980;
    }
  }
  margin-bottom: 60px;
}
#footer {
  padding-left: 45px;
  .social {
    margin-top: 20px;
  }
}



.container-l {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 60%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}