@font-face {
    font-family: 'FuturaNewBook';
    src: url('../fonts/FuturaNewBook-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewBook-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNewDemi';
    src: url('../fonts/FuturaNewDemi-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewDemi-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}