@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1170px; }
  .logo {
    margin-right: 82px; }
  .shares-item {
    width: 564px;
    margin: 0 21px; }
  .shares-content {
    padding: 24px 46px 0 21px; }
    .shares-content__head {
      height: 72px; }
  .treatment .head {
    padding-left: 0; }
  .treatment-items {
    margin: 0 30px; }
  .footer {
    padding-right: 0; }
  .about-doctor {
    margin: 0; }
  .reviews-items {
    margin: 0 160px; }
    .reviews-items .slick-dots {
      margin-left: 0; }
  .news-item {
    width: 370px; }
  .news-content__text {
    font-size: 22px; }
  .license-item {
    margin: 0 22px; }
  .indications-content {
    padding-left: 120px; }
  .service-items {
    padding: 20px 60px 0 100px; }
  .doctors .head {
    padding-left: 0; }
  .doctors-items {
    margin: 0 75px; }
  .expert-container {
    margin-left: 100px; }
  .expert-dots {
    margin-left: -22px; }
  .expert-arrow {
    left: 0; }
  .expert-next {
    left: auto;
    right: 0; }
  .vita-content {
    padding-left: 80px; }
    .vita-content p {
      margin-bottom: 16px; }
  .methods-content {
    padding-left: 48px; }
    .methods-content li {
      margin-bottom: 8px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 980px; }
  .head {
    font-size: 52px;
    padding-left: 80px; }
  .slick-dots {
    bottom: -42px; }
    .slick-dots li {
      width: 10px;
      height: 10px;
      margin: 0 7px; }
  .logo {
    width: 226px;
    margin-right: 95px; }
    .logo a {
      width: 60px;
      height: 60px; }
    .logo span {
      font-size: 18px;
      padding: 5px 0 0 16px; }
  .nav {
    padding-bottom: 5px; }
    .nav-list {
      margin-right: 34px; }
      .nav-list > a {
        font-size: 18px; }
    .nav-sub {
      padding: 9px;
      left: -9px; }
      .nav-sub li {
        margin-bottom: 4px; }
        .nav-sub li a {
          font-size: 16px; }
  .header {
    padding: 9px 0; }
    .header-info {
      width: 206px;
      padding-right: 0;
      padding-bottom: 5px; }
      .header-info__tel {
        font-size: 26px;
        line-height: 1.1; }
      .header-info .address a, .header-info .address span {
        font-size: 14px; }
  .showcase {
    height: 650px;
    padding: 139px 0 0; }
    .showcase-body {
      max-width: 722px;
      bottom: 64px; }
    .showcase__head {
      font-size: 56px; }
    .showcase-text {
      width: 286px;
      font-size: 18px;
      margin-top: 28px; }
    .showcase img {
      right: -131px; }
    .showcase-content {
      width: 500px;
      margin-left: 20px; }
      .showcase-content h2 {
        font-size: 56px;
        margin-bottom: 50px; }
      .showcase-content a {
        margin-bottom: 67px;
        line-height: 50px;
        font-size: 13px;
        letter-spacing: 2.5px;
        padding: 0 19px; }
    .showcase-info {
      padding-left: 58px; }
      .showcase-info__head {
        font-size: 18px; }
      .showcase-info p {
        font-size: 14px;
        margin-bottom: 4px; }
  .showcase-inner .showcase {
    height: 500px; }
  .showcase-services {
    margin-bottom: 48px; }
  .showcase-clinic {
    margin-bottom: 40px; }
  .showcase-doctor .showcase-body {
    max-width: 500px; }
  .showcase-doctor .showcase img {
    width: 702px; }
  .showcase-doc .showcase-body {
    max-width: 500px; }
  .showcase-doc .showcase img {
    width: 403px; }
  .main-services {
    margin-top: -88px; }
  .services {
    margin-bottom: 45px; }
    .services-item {
      height: 200px;
      padding: 0 29px; }
      .services-item__head {
        font-size: 26px;
        margin-bottom: 26px; }
      .services-item__descr {
        line-height: 1.3;
        font-size: 14px; }
  .main-entry {
    width: 728px;
    padding: 18px 0 37px 32px;
    margin: 53px auto 35px;
    font-size: 48px; }
    .main-entry:before {
      width: 420px;
      height: 160px;
      -webkit-transform: translate(0);
      transform: translate(0);
      top: 0; }
    .main-entry a {
      font-size: 48px; }
  .main-shares {
    padding: 34px 0 33px; }
    .main-shares .head {
      margin-bottom: 25px; }
  .shares-items {
    margin-bottom: 24px; }
    .shares-items .slick-arrow {
      width: 60px;
      height: 60px;
      margin-top: 0;
      left: -32px; }
      .shares-items .slick-arrow img {
        width: 12px; }
    .shares-items .slick-next {
      left: auto;
      right: -31px;
      padding: 0 14px 0 0; }
    .shares-items .slick-dots {
      bottom: -42px; }
      .shares-items .slick-dots li {
        width: 10px;
        height: 10px;
        margin: 0 7px; }
  .shares-item {
    width: 469px;
    margin: 0 21px; }
  .shares-img {
    width: 51%; }
  .shares-content {
    width: 49%;
    padding: 24px 32px 0 22px; }
    .shares-content__head {
      height: 66px;
      font-size: 14px; }
    .shares-content__text {
      max-height: 80px;
      font-size: 18px; }
    .shares-content__link {
      font-size: 13px;
      letter-spacing: 2.5px;
      bottom: 32px;
      left: 21px; }
  .shares-info {
    font-size: 18px;
    padding-right: 22px; }
    .shares-info a {
      font-size: 18px; }
  .treatment {
    padding: 35px 0 68px; }
    .treatment .head {
      padding-left: 80px;
      margin-bottom: 22px;
      line-height: 1.2; }
    .treatment-items {
      margin: 0 0 0 130px; }
    .treatment-item {
      margin-right: 52px; }
    .treatment-content {
      padding-bottom: 0; }
      .treatment-content p {
        font-size: 14px;
        margin-bottom: 28px; }
      .treatment-content ul li {
        font-size: 14px;
        margin-bottom: 25px; }
    .treatment-info {
      font-size: 26px;
      bottom: 22px;
      left: 28px;
      line-height: 1.2; }
  .journal {
    padding: 39px 0 22px; }
    .journal .swiper-pagination {
      bottom: 23px; }
      .journal .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 7px !important; }
    .journal .swiper-container {
      margin-bottom: 25px; }
    .journal .head {
      margin-bottom: 28px; }
    .journal-content {
      padding: 17px 20px 23px; }
      .journal-content__date {
        font-size: 14px;
        margin-bottom: 13px; }
      .journal-content__text {
        font-size: 18px; }
    .journal-info {
      font-size: 18px;
      padding-right: 20px; }
      .journal-info a {
        font-size: 18px; }
  .callback {
    width: 320px;
    padding: 29px 34px 30px; }
    .callback-wrap {
      height: 420px; }
    .callback__head {
      font-size: 28px;
      margin-bottom: 17px; }
    .callback__address {
      font-size: 18px; }
    .callback__tel {
      font-size: 18px;
      margin-bottom: 18px; }
    .callback-schedule {
      font-size: 14px; }
  .footer {
    padding: 30px 58px 28px 0; }
    .footer-elem {
      width: 38%; }
    .footer-body {
      width: 48%; }
    .footer-logo {
      width: 108px;
      height: 109px; }
    .footer-content {
      width: 182px; }
    .footer-requisites {
      margin-bottom: 11px; }
      .footer-requisites li {
        margin-bottom: 5px;
        font-size: 14px; }
        .footer-requisites li.title {
          font-size: 14px; }
    .footer-links li a {
      font-size: 14px; }
    .footer-menu li a {
      font-size: 18px; }
    .footer-info {
      width: 223px; }
      .footer-info__tel {
        font-size: 24px; }
      .footer-info__address {
        font-size: 18px;
        margin-bottom: 13px; }
      .footer-info ul li {
        font-size: 14px;
        margin-bottom: 5px; }
  .bottom {
    padding: 14px 5px 14px 0; }
    .bottom-item {
      font-size: 12px; }
      .bottom-item a {
        font-size: 12px; }
  .stock-inform {
    padding: 45px 0 64px 80px; }
    .stock-inform ul {
      width: 300px; }
      .stock-inform ul li {
        font-size: 18px;
        margin-bottom: 29px; }
  .stock-entry .main-entry {
    margin: 60px auto 38px; }
  .about-doctor {
    padding-bottom: 50px; }
    .about-doctor-link {
      width: 320px;
      height: 240px; }
      .about-doctor-link img {
        width: 100%; }
    .about-doctor-content .head {
      font-size: 42px;
      margin-bottom: 35px; }
    .about-doctor-descr {
      padding-left: 130px; }
      .about-doctor-descr p {
        font-size: 18px; }
      .about-doctor-descr span {
        font-size: 14px; }
    .about-doctor-body {
      margin-right: 20px;
      margin-bottom: 44px; }
    .about-doctor-content {
      padding-right: 38px; }
    .about-doctor-items {
      padding-left: 0; }
    .about-doctor-item {
      width: 355px; }
    .about-doctor-img {
      width: 60px;
      height: 58px; }
    .about-doctor-elem {
      padding: 16px 0 0 26px; }
    .about-doctor-info {
      width: 260px;
      left: 26px; }
    .about-doctor__head {
      font-size: 18px;
      margin-bottom: 13px; }
    .about-doctor__text {
      font-size: 14px; }
  .stock-inform {
    padding: 45px 0 50px 34px; }
  .reviews {
    padding: 32px 0 82px; }
    .reviews .head {
      margin-bottom: 24px; }
    .reviews-items {
      margin: 0 100px 0 180px; }
      .reviews-items .slick-arrow {
        top: 28px;
        left: -50px; }
      .reviews-items .slick-next {
        left: auto;
        right: -46px; }
      .reviews-items .slick-dots {
        bottom: -51px;
        margin-left: -42px; }
        .reviews-items .slick-dots li {
          width: 10px;
          height: 10px;
          margin: 0 7px; }
    .reviews-descr {
      font-size: 18px;
      margin-bottom: 28px; }
    .reviews-info {
      width: 380px; }
      .reviews-info img {
        width: 64px;
        height: 64px; }
    .reviews-content {
      padding-left: 20px; }
      .reviews-content h2 {
        font-size: 14px; }
      .reviews-content p {
        font-size: 14px; }
  .news {
    padding-bottom: 52px; }
    .news-nav {
      margin-bottom: 35px; }
      .news-nav li {
        margin-right: 25px; }
        .news-nav li a {
          font-size: 18px; }
    .news-items {
      margin-bottom: 0; }
    .news-item {
      width: 310px;
      margin-right: 25px;
      margin-bottom: 42px; }
    .news-content {
      padding: 16px 10px 0 20px; }
      .news-content-top .date {
        font-size: 14px; }
      .news-content-top .label {
        font-size: 14px;
        padding: 2px 6px; }
      .news-content__text {
        font-size: 18px; }
    .news-link a {
      font-size: 18px; }
  .license {
    padding: 60px 0 80px; }
    .license-items {
      margin: 0 58px; }
      .license-items .slick-dots {
        bottom: -42px; }
    .license-item {
      width: 240px;
      margin: 0 35px; }
  .license-entry .main-entry {
    margin: 57px auto 4px; }
  .license-treatment .treatment {
    padding-bottom: 17px; }
  .programs {
    padding: 37px 0 51px; }
    .programs-head {
      font-size: 52px; }
    .programs-item {
      margin-bottom: 16px; }
    .programs-content {
      padding-top: 17px; }
      .programs-content table {
        width: 736px;
        margin-left: 50px; }
        .programs-content table tbody tr.programs-info td {
          padding: 15px 0; }
        .programs-content table tbody tr td {
          font-size: 14px;
          padding: 9px 0; }
          .programs-content table tbody tr td:last-child {
            width: 243px; }
          .programs-content table tbody tr td b, .programs-content table tbody tr td a {
            font-size: 18px; }
  .indications {
    margin-bottom: 40px; }
    .indications-wrap .head {
      margin: -2px 0 22px 0;
      padding-left: 75px; }
    .indications-content {
      padding: 19px 56px 0 130px; }
      .indications-content p {
        font-size: 18px;
        margin-bottom: 26px; }
    .indications-info {
      width: 380px;
      padding: 22px 32px;
      margin-right: 20px; }
      .indications-info h2 {
        font-size: 18px;
        margin-bottom: 10px; }
      .indications-info ul li {
        font-size: 14px;
        padding-left: 17px;
        margin-bottom: 12px; }
  .service-wrap {
    padding-top: 40px;
    padding-bottom: 46px; }
    .service-wrap .head {
      line-height: 1.1;
      margin-bottom: 32px; }
  .service-img {
    width: 400px; }
  .service-items {
    padding: 18px 76px 0 132px; }
  .service-item {
    margin-bottom: 21px; }
    .service-item__head {
      font-size: 18px; }
    .service-item__text {
      font-size: 14px; }
  .services-reviews {
    margin-bottom: 48px; }
  .doctors {
    padding: 33px 0 36px; }
    .doctors .head {
      padding-left: 80px;
      margin-bottom: 32px; }
    .doctors-items {
      margin: 0 40px 0 115px; }
    .doctors-item {
      width: 238px;
      margin-right: 49px;
      margin-bottom: 53px; }
    .doctors-content {
      padding-top: 10px; }
      .doctors-content__head {
        font-size: 18px; }
      .doctors-content__position {
        font-size: 14px; }
    .doctors-link {
      margin-left: 54px;
      margin-top: -17px; }
      .doctors-link a {
        font-size: 18px; }
  .medication {
    padding-bottom: 36px; }
    .medication-wrap .head {
      line-height: 1.1;
      margin-bottom: 35px; }
    .medication-img {
      width: 44px;
      margin-bottom: 12px; }
    .medication-info {
      width: 160px;
      padding: 18px 0 0 36px; }
      .medication-info:before {
        width: 232px;
        height: 210px;
        top: -12px; }
      .medication-info a {
        font-size: 14px;
        line-height: 1.5; }
    .medication-elems {
      margin-bottom: 29px; }
    .medication-elem {
      margin-bottom: 41px; }
      .medication-elem p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 10px; }
    .medication-item {
      width: 280px; }
      .medication-item li {
        font-size: 18px;
        margin-bottom: 27px;
        line-height: 1.4; }
  .expert {
    padding: 32px 0;
    margin-bottom: 52px; }
    .expert .head {
      margin-bottom: 33px; }
    .expert-items {
      padding-bottom: 30px; }
    .expert-info {
      padding-right: 22px; }
      .expert-info span, .expert-info a {
        margin-right: 0;
        font-size: 18px; }
    .expert-container {
      width: 806px;
      margin-left: 117px; }
    .expert-arrow {
      top: 97px;
      left: 64px; }
    .expert-next {
      left: auto;
      right: 10px; }
    .expert-dots {
      margin-left: -40px;
      bottom: -24px; }
      .expert-dots .swiper-pagination-bullet {
        width: 10px;
        height: 10px; }
  .vita-wrap {
    padding: 41px 0 44px; }
    .vita-wrap .head {
      margin-bottom: 25px; }
  .vita-info {
    width: 400px; }
  .vita-content {
    padding: 0 50px 0 130px; }
    .vita-content p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 25px; }
  .biography {
    padding-bottom: 0; }
    .biography .head {
      margin-bottom: 31px; }
    .biography .vita {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .biography .vita-content {
        padding-top: 0; }
        .biography .vita-content p:last-child {
          margin-bottom: 0; }
      .biography .vita-info {
        padding: 29px 27px 34px; }
        .biography .vita-info h2 {
          font-size: 26px;
          margin-bottom: 17px; }
        .biography .vita-info ul li {
          font-size: 18px;
          padding-left: 24px;
          margin-bottom: 19px; }
          .biography .vita-info ul li:before {
            width: 12px;
            top: 12px;
            left: 2px; }
  .methods-wrap {
    padding: 37px 0 64px; }
    .methods-wrap .head {
      margin-bottom: 26px; }
  .methods-img {
    width: 400px; }
  .methods-content {
    padding: 5px 20px 0 81px; }
    .methods-content li {
      font-size: 18px;
      margin-bottom: 11px;
      padding-left: 22px; }
      .methods-content li:before {
        width: 12px;
        top: 15px; }
  .directions .methods {
    margin-left: 64px; }
    .directions .methods-content {
      margin-top: 0; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 730px; }
  .head {
    padding-left: 34px; }
  .logo {
    width: auto;
    margin-right: 65px; }
    .logo span {
      display: none; }
  .header-content {
    width: 100%; }
  .header-info {
    padding-bottom: 5px; }
  .nav {
    padding-bottom: 5px; }
  .showcase {
    height: 650px;
    padding: 82px 0 0; }
    .showcase-body {
      left: 30px; }
    .showcase-content {
      width: 374px;
      margin-left: 18px; }
      .showcase-content h2 {
        margin-bottom: 40px;
        line-height: 1.15; }
      .showcase-content a {
        line-height: 52px;
        margin-bottom: 50px;
        font-size: 15px;
        letter-spacing: 1.5px;
        padding: 0 18px; }
    .showcase-info {
      padding-left: 52px; }
      .showcase-info__head {
        font-size: 18px;
        margin-bottom: 16px; }
      .showcase-info p {
        margin-bottom: 5px; }
  .showcase-doctor .showcase img {
    right: -260px; }
  .showcase-doc .showcase img {
    right: -94px; }
  .services-programs .programs-head {
    margin-left: 0; }
  .services {
    margin-bottom: 33px; }
    .services-items {
      margin: 0 36px; }
    .services-item {
      width: 50%;
      padding: 0 31px; }
      .services-item:nth-child(3) {
        border-top: none; }
      .services-item__head {
        font-size: 26px;
        margin-bottom: 28px; }
      .services-item__descr {
        line-height: 1.2; }
  .main-entry {
    padding: 16px 0 32px 32px;
    margin-bottom: 42px;
    font-size: 48px; }
    .main-entry a {
      font-size: 48px; }
  .main-shares .head {
    padding-left: 35px; }
  .shares-items {
    width: 470px;
    margin: 0 auto 24px; }
    .shares-items .slick-arrow {
      width: auto;
      height: auto;
      left: -97px;
      padding-left: 0;
      margin-top: -8px; }
    .shares-items .slick-next {
      left: auto;
      right: -97px;
      padding-right: 0; }
  .shares-info {
    padding-right: 3px; }
  .treatment {
    padding-bottom: 54px; }
    .treatment .head {
      padding: 0 35px; }
    .treatment-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0 0 113px; }
    .treatment-item {
      width: 100%;
      margin-bottom: 32px; }
      .treatment-item:last-child {
        margin-bottom: 0; }
    .treatment-content {
      padding-right: 44px;
      padding-bottom: 4px; }
      .treatment-content p {
        margin-bottom: 26px; }
    .treatment-img {
      width: 400px;
      margin-left: 20px; }
  .journal {
    padding-bottom: 24px; }
    .journal .head {
      padding-left: 34px; }
    .journal-items {
      margin-bottom: 0; }
    .journal-info {
      padding-right: 0;
      position: absolute;
      bottom: 22px;
      right: 2px; }
    .journal .swiper-container {
      width: 650px;
      padding-bottom: 19px; }
  .footer {
    padding-right: 0; }
    .footer-body {
      width: 48.5%; }
    .footer-elem {
      width: 46%; }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 14px 0 8px 0; }
    .bottom-item {
      margin-bottom: 10px; }
      .bottom-item:last-child {
        margin-bottom: 0; }
  .about-doctor-head {
    display: block; }
  .about-doctor-content .head {
    display: none; }
  .about-doctor-descr {
    padding-left: 54px; }
  .about-doctor-body {
    margin-right: 0;
    margin-bottom: 39px; }
  .about-doctor-link {
    margin-top: 0; }
  .about-doctor-items {
    padding-left: 50px; }
  .about-doctor-item {
    margin: 0; }
    .about-doctor-item.first {
      width: 320px; }
  .about-doctor-elem {
    padding-left: 22px; }
  .reviews {
    padding-bottom: 67px; }
    .reviews .head {
      padding-left: 33px; }
    .reviews-items {
      margin: 0 74px 0 113px; }
      .reviews-items .slick-arrow {
        left: -60px; }
      .reviews-items .slick-next {
        left: auto;
        right: -54px; }
      .reviews-items .slick-dots {
        bottom: -40px;
        margin-left: -22px; }
  .news {
    padding-top: 34px; }
    .news-nav {
      padding-left: 0;
      margin-bottom: 28px; }
    .news-items {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .news-item {
      margin: 0 13px 30px; }
      .news-item:nth-child(3n) {
        margin: 0 13px 30px; }
  .license-items {
    margin: 0 90px; }
  .license-treatment .treatment-item {
    margin-bottom: 0; }
  .license-treatment .treatment-content p, .license-treatment .treatment ul li {
    margin-bottom: 20px; }
  .programs {
    padding-bottom: 62px; }
    .programs-head {
      font-size: 51px; }
    .programs-items {
      margin: 0; }
    .programs-item {
      margin-bottom: 17px; }
    .programs-content table {
      width: 695px;
      margin-left: 36px; }
      .programs-content table tbody tr td:last-child {
        width: 238px; }
  .indications-wrap .head {
    margin-top: 0;
    padding-left: 0; }
  .indications-content {
    padding: 16px 50px 0 0; }
  .indications-info {
    width: 340px;
    margin-right: 0; }
    .indications-info ul li:before {
      top: 6px; }
  .service-wrap .head {
    padding-left: 0; }
  .service-items {
    padding: 16px 60px 0 0; }
  .service-item {
    margin-bottom: 14px; }
    .service-item__head {
      margin-bottom: 2px;
      padding-right: 0;
      line-height: 1.2; }
    .service-item__text {
      line-height: 1.3; }
  .service-img {
    width: 300px; }
  .services-reviews {
    margin-bottom: 30px; }
  .doctors .head {
    padding-left: 0; }
  .doctors-items {
    margin: 0; }
  .doctors-item {
    width: 234px;
    margin-right: 14px;
    margin-bottom: 44px; }
  .doctors-link {
    margin: 0; }
  .medication {
    padding-bottom: 33px; }
    .medication-wrap .head {
      padding-left: 34px; }
    .medication-info:before {
      width: 232px;
      height: 240px; }
    .medication-content {
      padding-left: 35px; }
    .medication-elem {
      padding-right: 0;
      margin-bottom: 45px; }
    .medication-item {
      width: 262px;
      margin-right: 0; }
      .medication-item li {
        line-height: 1.45; }
  .expert {
    padding-bottom: 26px;
    margin-bottom: 47px; }
    .expert .head {
      padding-left: 30px; }
    .expert-items {
      padding-bottom: 33px; }
    .expert-info {
      padding-right: 0; }
    .expert-container {
      width: 512px; }
    .expert-arrow {
      left: 34px; }
    .expert-next {
      left: auto;
      right: 34px; }
  .vita-wrap {
    overflow: hidden; }
    .vita-wrap .head {
      padding-left: 30px; }
  .vita-info {
    margin-right: -150px; }
  .vita-content {
    padding: 0 20px 0 54px; }
  .biography .vita {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .biography .vita-content {
      padding: 0 0 0 114px;
      margin-bottom: 35px; }
    .biography .vita-info {
      width: 420px;
      margin-left: 116px;
      padding-bottom: 8px; }
  .methods-wrap {
    overflow: hidden; }
    .methods-wrap .head {
      padding-left: 33px; }
  .methods-img {
    margin: 0 0 0 -156px; }
  .methods-content {
    padding: 3px 0 0 30px; }
  .directions .methods {
    margin-left: 0; }
    .directions .methods-img {
      margin: 0 -150px 0 0; }
    .directions .methods-content {
      padding: 0 28px 0 57px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .logo {
    margin-right: 10px; }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 14px 57px 14px 10px; }
    .header-wrap .container {
      max-width: 100%; }
    .header-content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header-info__tel {
      font-size: 26px; }
    .header-info .address {
      line-height: 1; }
      .header-info .address a, .header-info .address span {
        font-size: 16px; }
  .burger {
    display: block;
    width: 34px;
    position: absolute;
    top: 50%;
    right: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 34px;
        height: 4px;
        background-color: #d54a53;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 34px;
          height: 4px;
          position: absolute;
          left: 0;
          background-color: #d54a53;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -13px; }
        .burger a span:after {
          top: 13px;
          width: 26px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(8px, 9px);
          transform: rotate(45deg) translate(8px, 9px); }
        .burger a.active span:after {
          width: 34px;
          -webkit-transform: rotate(-45deg) translate(8px, -10px);
          transform: rotate(-45deg) translate(8px, -10px); }
  .nav {
    background-color: #fff;
    padding: 5px 0;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .nav.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0; }
    .nav-list {
      width: 100%;
      text-align: center;
      margin: 4px 0; }
      .nav-list > a span {
        margin-right: 0; }
      .nav-list > a img {
        display: none; }
    .nav-sub {
      display: none; }
  .showcase {
    height: 360px;
    padding: 42px 0 0; }
    .showcase__head {
      font-size: 34px; }
    .showcase-text {
      width: 260px;
      font-size: 14px;
      margin-top: 22px; }
    .showcase-content {
      width: 340px;
      margin-left: 0; }
      .showcase-content h2 {
        font-size: 38px;
        margin-bottom: 28px; }
    .showcase-info {
      padding-left: 0; }
      .showcase-info__head {
        font-size: 18px; }
      .showcase-info p {
        font-size: 16px; }
  .showcase-inner .showcase {
    height: 440px; }
    .showcase-inner .showcase-body {
      bottom: 70px;
      left: 8px; }
  .showcase-doctor .showcase .showcase img {
    width: 540px; }
  .showcase-doctor .showcase .showcase-body {
    max-width: 340px;
    top: 33px;
    left: 0; }
  .showcase-doc .showcase-body {
    max-width: 340px;
    top: 32px;
    left: 0; }
  .main-services {
    margin-top: 20px; }
  .services-items {
    margin: 0; }
  .services-item {
    width: 50%; }
  .services-programs .programs {
    padding-bottom: 0; }
    .services-programs .programs-content {
      padding-top: 24px; }
    .services-programs .programs-item {
      margin-bottom: 18px; }
  .main-entry {
    width: 100%;
    font-size: 32px;
    margin: 40px 0 24px; }
    .main-entry:before {
      width: 330px;
      height: 114px; }
    .main-entry a {
      font-size: 32px; }
  .shares-items .slick-arrow {
    left: -28px; }
  .shares-items .slick-next {
    left: auto;
    right: -24px; }
  .shares-items .slick-dots {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .treatment {
    padding-bottom: 36px; }
    .treatment .head {
      padding: 0;
      font-size: 42px;
      line-height: 1; }
    .treatment-items {
      margin-left: 0; }
    .treatment-item {
      margin-right: 0;
      margin-bottom: 24px; }
    .treatment-content {
      padding-right: 0; }
      .treatment-content p {
        margin-bottom: 20px; }
      .treatment-content ul li {
        margin-bottom: 16px; }
        .treatment-content ul li:before {
          top: 10px; }
  .journal .swiper-container {
    width: 300px; }
  .journal .swiper-pagination {
    width: auto;
    position: absolute;
    bottom: 20px;
    left: 0;
    -webkit-transform: translate(0);
    transform: translate(0); }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 0 22px; }
    .footer-logo {
      width: 80px;
      height: 80px;
      margin-top: 0; }
    .footer-elem {
      width: 100%;
      margin-bottom: 15px;
      padding-right: 12px; }
    .footer-body {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-requisites {
      display: none; }
    .footer-menu {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 21px; }
      .footer-menu li {
        margin-bottom: 0;
        margin-right: 25px; }
        .footer-menu li:last-child {
          margin-right: 0; }
    .footer-info {
      width: 100%;
      text-align: center; }
    .footer-links {
      padding-top: 12px; }
      .footer-links li.title, .footer-links li.requisites {
        display: inline-block; }
  .about-doctor {
    padding-bottom: 38px; }
    .about-doctor-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 24px; }
    .about-doctor-head {
      font-size: 32px;
      padding: 0;
      margin-bottom: 18px; }
    .about-doctor-descr {
      padding-left: 0;
      margin-bottom: 20px; }
      .about-doctor-descr p {
        margin-bottom: 14px; }
    .about-doctor-link {
      width: 300px;
      height: 200px; }
    .about-doctor-info {
      width: 160px;
      font-size: 16px;
      left: 20px;
      bottom: 27px; }
    .about-doctor-img {
      width: 52px;
      height: 52px; }
    .about-doctor-elem {
      padding-top: 0; }
    .about-doctor-items {
      padding-left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .about-doctor-item.first {
      width: 355px;
      margin-bottom: 16px; }
    .about-doctor__head {
      margin-bottom: 6px; }
  .reviews {
    padding: 18px 0 49px; }
    .reviews .head {
      font-size: 36px;
      padding-left: 0;
      margin-bottom: 17px; }
    .reviews-items {
      margin: 0 20px; }
      .reviews-items .slick-arrow {
        top: 32px;
        left: -20px; }
        .reviews-items .slick-arrow img {
          width: 12px; }
      .reviews-items .slick-next {
        left: auto;
        right: -20px; }
      .reviews-items .slick-dots {
        margin-left: 0;
        bottom: -28px; }
    .reviews-descr {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 22px; }
    .reviews-content h2 {
      font-size: 12px; }
    .reviews-content p {
      font-size: 12px;
      line-height: 1.45; }
  .news-nav li {
    margin-right: 22px; }
  .news-item {
    width: 258px;
    margin: 0 6px 26px; }
    .news-item:nth-child(3n) {
      margin: 0 6px 26px; }
  .news-content {
    padding: 12px 6px 0; }
    .news-content__text {
      font-size: 16px;
      line-height: 1.3; }
  .license-items {
    margin: 0 16px; }
    .license-items .slick-arrow {
      left: -22px; }
    .license-items .slick-next {
      left: auto;
      right: -22px; }
  .license-item {
    margin: 0px 14px; }
  .programs {
    padding: 28px 0 38px; }
    .programs-head {
      font-size: 24px; }
      .programs-head:after {
        background: url(../images/programs-arrow320.png) no-repeat left;
        width: 18px;
        height: 10px;
        margin-top: 0;
        right: -28px; }
    .programs-item {
      margin-bottom: 18px; }
    .programs-content {
      padding-top: 5px; }
      .programs-content table {
        width: 100%;
        margin-left: 0; }
        .programs-content table tbody tr.programs-info td {
          padding: 10px 0; }
        .programs-content table tbody tr td {
          font-size: 14px;
          padding: 11px 0 12px;
          line-height: 1.3; }
          .programs-content table tbody tr td:first-child {
            padding-right: 3px; }
          .programs-content table tbody tr td:last-child {
            width: 70px;
            vertical-align: top; }
  .indications {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .indications-wrap .head {
      font-size: 32px; }
    .indications-content {
      padding: 0;
      margin-bottom: 23px; }
      .indications-content p {
        margin-bottom: 14px;
        line-height: 1.3; }
    .indications-info {
      margin: 0 auto; }
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .service-wrap {
      padding-top: 28px;
      padding-bottom: 40px; }
      .service-wrap .head {
        font-size: 32px;
        margin-bottom: 24px; }
    .service-items {
      padding: 0;
      margin-bottom: 23px; }
    .service-img {
      margin: 0 auto; }
  .doctors-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .doctors-item {
    margin: 0 14px 36px; }
    .doctors-item:nth-child(3n) {
      margin: 0 14px 36px; }
  .medication {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .medication-wrap .head {
      padding-left: 0;
      margin-bottom: 38px; }
    .medication-img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 40px; }
    .medication-info {
      width: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 22px;
      padding: 10px 0 0 20px; }
      .medication-info:before {
        width: 140px;
        height: 90px; }
      .medication-info a {
        margin-left: 22px;
        font-size: 14px; }
    .medication-elems {
      margin-bottom: 37px; }
    .medication-elem {
      margin-bottom: 25px; }
      .medication-elem p {
        margin-bottom: 22px; }
    .medication-content {
      padding-left: 0; }
    .medication-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .medication-item {
      width: 100%;
      margin-bottom: 26px; }
      .medication-item:last-child {
        margin-bottom: 0; }
      .medication-item li {
        font-size: 16px;
        margin-bottom: 25px; }
  .expert {
    padding-top: 21px;
    padding-bottom: 18px;
    margin-bottom: 22px; }
    .expert .head {
      padding-left: 0;
      margin-bottom: 19px; }
    .expert-info {
      padding-right: 5px; }
      .expert-info span, .expert-info a {
        font-size: 14px; }
    .expert-items {
      padding-bottom: 20px; }
      .expert-items .doctors-content__head {
        padding-right: 0; }
      .expert-items .doctors-item {
        margin-bottom: 0; }
    .expert-container {
      width: 234px;
      margin: 0 auto; }
    .expert-arrow {
      left: 0; }
    .expert-next {
      left: auto;
      right: 0; }
    .expert-dots {
      margin-left: 0;
      left: 0; }
  .vita {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .vita-wrap {
      padding: 16px 0 28px; }
      .vita-wrap .head {
        font-size: 34px;
        padding-left: 0;
        margin-bottom: 18px; }
    .vita-info {
      width: 300px;
      margin: 0 auto; }
    .vita-content {
      padding: 0;
      margin-bottom: 24px; }
      .vita-content p {
        line-height: 1.6;
        margin-bottom: 22px; }
  .biography {
    padding-bottom: 0; }
    .biography .vita-content {
      padding: 0;
      margin-bottom: 27px; }
    .biography .vita-info {
      margin: 0 auto;
      padding: 23px 21px 12px; }
      .biography .vita-info h2 {
        font-size: 20px;
        margin-bottom: 11px; }
      .biography .vita-info ul li {
        font-size: 16px;
        padding-left: 21px;
        margin-bottom: 12px; }
        .biography .vita-info ul li:before {
          top: 10px; }
  .methods {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0; }
    .methods-wrap {
      padding: 22px 0 36px; }
      .methods-wrap .head {
        font-size: 34px;
        padding-left: 0;
        line-height: 1.15;
        margin-bottom: 9px; }
    .methods-img {
      width: 300px;
      margin: 0 auto 10px; }
    .methods-content {
      padding: 0; }
      .methods-content li {
        font-size: 16px;
        margin-bottom: 9px;
        padding-left: 18px; }
        .methods-content li:before {
          top: 11px; }
  .directions .methods-img {
    margin: 0 auto; }
  .directions .methods-content {
    padding: 0;
    margin-bottom: 18px; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 10px; }
  .head {
    font-size: 34px;
    padding-left: 0; }
  .logo a {
    width: 50px;
    height: 50px; }
  .header-wrap .container {
    padding: 0; }
  .header-info {
    width: 180px;
    padding-bottom: 0; }
    .header-info__tel {
      font-size: 22px; }
    .header-info .address a, .header-info .address span {
      font-size: 14px; }
  .showcase {
    height: 442px;
    padding: 31px 0 0; }
    .showcase img {
      right: -152px;
      min-width: 446px;
      height: 316px;
      bottom: -34px; }
    .showcase-text {
      width: 100%; }
    .showcase-content {
      width: 100%; }
      .showcase-content h2 {
        font-size: 34px;
        margin-bottom: 51px; }
      .showcase-content a {
        display: none;
        line-height: 46px;
        margin-bottom: 18px;
        font-size: 15px;
        letter-spacing: 0;
        padding: 0 14px; }
    .showcase-info {
      width: 132px; }
      .showcase-info__head {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 4px; }
      .showcase-info p {
        font-size: 14px;
        margin-bottom: 2px;
        line-height: 1.45; }
  .showcase-clinic {
    margin-bottom: 25px; }
  .showcase-doctor .showcase-text {
    width: 140px;
    margin-top: 33px; }
  .showcase-doctor .showcase img {
    right: -184px;
    width: 480px;
    height: 310px;
    min-width: 480px; }
  .showcase-doc .showcase-text {
    width: 140px;
    margin-top: 33px; }
  .showcase-doc .showcase img {
    right: -41px;
    bottom: 0;
    width: 250px;
    height: auto;
    min-width: auto; }
  .main-services {
    margin-top: 10px; }
  .services-items {
    border: none;
    border-bottom: 1px solid #a6ae05; }
  .services-item {
    width: 100%;
    height: auto;
    padding: 33px 18px 29px;
    border: 1px solid #a6ae05 !important;
    border-bottom: none !important; }
    .services-item__head {
      font-size: 20px;
      margin-bottom: 12px; }
    .services-item__descr {
      font-size: 14px;
      line-height: 1.5; }
  .main-entry {
    padding: 24px 0 24px 20px;
    margin: 36px 0 31px;
    font-size: 34px; }
    .main-entry:before {
      width: 150px;
      height: 220px; }
    .main-entry a {
      font-size: 34px;
      line-height: 1.5; }
  .main-shares {
    padding: 26px 0 36px; }
    .main-shares .head {
      font-size: 34px;
      padding-left: 0;
      margin-bottom: 20px; }
  .shares-items {
    width: 300px;
    margin-bottom: 26px; }
    .shares-items .slick-arrow {
      width: 50px;
      height: 50px;
      top: 92px;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      left: -26px;
      padding-left: 16px;
      margin-top: 0; }
    .shares-items .slick-next {
      left: auto;
      right: -25px;
      padding: 0 16px 0 0; }
    .shares-items .slick-dots {
      bottom: -40px; }
  .shares-item {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .shares-img {
    width: 100%;
    height: 220px; }
  .shares-content {
    width: 100%;
    padding: 25px 18px 22px; }
    .shares-content__head {
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      line-height: 1;
      margin-bottom: 15px; }
      .shares-content__head span {
        margin-right: 3px; }
    .shares-content__text {
      max-height: 100%;
      font-size: 20px;
      margin-bottom: 25px; }
    .shares-content__link {
      position: static;
      letter-spacing: 2px;
      margin-left: 2px; }
  .shares-info {
    font-size: 14px; }
    .shares-info a {
      font-size: 14px; }
  .treatment {
    padding: 29px 0 41px; }
    .treatment .head {
      font-size: 34px;
      line-height: 1.25;
      margin-bottom: 24px; }
    .treatment-item {
      margin-bottom: 28px; }
    .treatment-img {
      margin-left: 0;
      width: 100%; }
      .treatment-img img {
        width: 100%; }
    .treatment-content p {
      line-height: 1.55;
      margin-bottom: 26px; }
    .treatment-content ul li {
      margin-bottom: 26px; }
    .treatment-info {
      width: 166px;
      font-size: 16px;
      bottom: 28px;
      left: 18px; }
  .journal {
    padding: 31px 0 28px; }
    .journal .head {
      padding-left: 10px;
      margin-bottom: 22px; }
    .journal .swiper-container {
      padding-bottom: 17px; }
    .journal .swiper-pagination {
      bottom: 28px; }
      .journal .swiper-pagination-bullet {
        margin: 0 7px !important; }
    .journal-content {
      padding: 19px 20px 51px; }
    .journal-info {
      bottom: 30px;
      right: 4px;
      font-size: 14px; }
      .journal-info a {
        font-size: 14px; }
  .callback {
    width: 100%;
    padding: 17px 21px 23px; }
    .callback-map {
      display: none; }
    .callback-wrap {
      height: auto; }
    .callback__head {
      font-size: 24px;
      margin-bottom: 6px; }
    .callback__address {
      font-size: 20px; }
    .callback__tel {
      font-size: 20px;
      margin-bottom: 8px; }
    .callback-schedule {
      margin-bottom: 6px; }
    .callback__link {
      display: inline-block; }
  .footer-menu {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .footer-info {
    text-align: left; }
  .bottom {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 13px; }
    .bottom-item {
      line-height: 1.5; }
  .about-doctor-head {
    font-size: 24px;
    line-height: 1.3; }
  .about-doctor-descr p {
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 1.45; }
  .about-doctor-descr span {
    font-size: 14px; }
  .about-doctor-body {
    margin-bottom: 27px; }
  .about-doctor-elem {
    padding-left: 15px; }
  .about-doctor-img {
    width: 44px;
    height: 42px; }
  .about-doctor-item {
    width: 100% !important; }
  .about-doctor__head {
    font-size: 16px;
    margin-bottom: 12px; }
  .stock-inform {
    padding: 32px 0 36px 0; }
    .stock-inform ul {
      width: 100%; }
      .stock-inform ul li {
        font-size: 16px;
        margin-bottom: 20px; }
  .reviews-info {
    width: 256px; }
  .news {
    padding-top: 28px;
    padding-bottom: 38px; }
    .news-nav {
      margin-bottom: 20px; }
      .news-nav li {
        margin-right: 16px; }
        .news-nav li a {
          font-size: 16px; }
    .news-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .news-item {
      width: 300px;
      margin: 0 0 26px !important; }
  .license-items {
    width: 260px;
    margin: 0 auto; }
  .license-item {
    width: 260px;
    margin: 0; }
  .programs-head:after {
    display: none; }
  .indications-info {
    width: 100%;
    padding: 15px; }
  .biography .vita-info {
    width: 100%; } }
