html {
  min-height: 100%; }

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  min-height: 100%;
  font: 400 18px 'FuturaNewDemi', sans-serif; }

a {
  display: inline-block;
  font: 400 18px 'FuturaNewDemi', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #d54a53; }
  a:hover {
    color: #000;
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.burger {
  display: none; }

.head {
  color: #a6ae05;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 30px; }

.container {
  max-width: 1260px;
  padding: 0;
  position: relative; }

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-wrapper {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10; }

.main-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.slick-dots {
  position: absolute;
  bottom: -56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .slick-dots button {
    display: none; }
  .slick-dots li {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #e3e87f;
    margin: 0 10px;
    border-radius: 50%;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .slick-dots li.slick-active {
      background-color: #d54a53; }

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 290px;
  margin-right: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .logo img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 75px;
    height: 75px; }
  .logo span {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    font-size: 24px;
    line-height: 1.2;
    padding: 6px 0 0 26px;
    color: #000; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 13px 0; }
  .header-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-info {
    width: 257px;
    padding: 0 3px 7px 0; }
    .header-info__tel {
      font-size: 32px;
      color: #000; }
      .header-info__tel:hover {
        color: #d54a53; }
    .header-info .address {
      font-family: 'FuturaNewBook'; }
      .header-info .address a {
        font-family: 'FuturaNewBook';
        line-height: 1;
        border-bottom: 1px solid #d54a53;
        margin-right: 4px; }
        .header-info .address a:hover {
          color: #d54a53;
          border-bottom: 1px solid transparent; }

.nav {
  padding-bottom: 8px; }
  .nav-list {
    position: relative;
    margin-right: 46px; }
    .nav-list:hover a {
      color: #000;
      border-bottom: 1px solid transparent; }
    .nav-list:hover .nav-sub {
      opacity: 1;
      visibility: visible;
      z-index: 10; }
    .nav-list:last-child {
      margin-right: 0; }
    .nav-list > a {
      line-height: 1;
      font-size: 24px;
      border-bottom: 1px solid #d54a53; }
      .nav-list > a:hover {
        border-bottom: 1px solid transparent; }
      .nav-list > a span {
        margin-right: 2px; }
  .nav-sub {
    margin: 0;
    padding: 16px;
    list-style: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: -16px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .nav-sub li {
      margin-bottom: 8px; }
      .nav-sub li:last-child {
        margin-bottom: 0; }
      .nav-sub li a {
        font-size: 20px;
        color: #595550;
        text-decoration: underline;
        white-space: nowrap; }
        .nav-sub li a:hover {
          color: #000;
          text-decoration: none; }

.showcase {
  height: 830px;
  padding: 178px 0 0;
  position: relative; }
  .showcase-wrap {
    background-color: #f9fae5;
    overflow: hidden; }
  .showcase-body {
    max-width: 914px;
    position: absolute;
    bottom: 92px;
    left: 80px;
    z-index: 10; }
  .showcase__head {
    font-size: 74px;
    line-height: 1.1; }
    .showcase__head span {
      display: block; }
  .showcase-text {
    width: 380px;
    margin-top: 46px;
    font-family: 'FuturaNewBook';
    font-size: 24px;
    line-height: 1.6; }
  .showcase img {
    max-height: 91%;
    position: absolute;
    right: -164px;
    bottom: 0;
    z-index: 1; }
  .showcase-content {
    position: relative;
    z-index: 5;
    width: 640px; }
    .showcase-content h2 {
      font-size: 74px;
      line-height: 1.12;
      margin-bottom: 59px;
      color: #a6ae05; }
    .showcase-content a {
      line-height: 60px;
      color: #fff;
      background-color: #d54a53;
      font-size: 16px;
      letter-spacing: 3.2px;
      text-transform: uppercase;
      padding: 0 30px;
      margin-bottom: 90px; }
      .showcase-content a:hover {
        background-color: #ea5862; }
  .showcase-info {
    padding-left: 83px; }
    .showcase-info__head {
      font-size: 24px;
      margin-bottom: 17px;
      line-height: 1; }
    .showcase-info p {
      font-family: 'FuturaNewBook';
      margin-bottom: 6px; }
      .showcase-info p:last-child {
        margin-bottom: 0; }

.showcase-inner {
  background-size: cover; }
  .showcase-inner .showcase {
    height: 650px;
    padding-top: 0; }

.showcase-stock {
  background: url(../images/showcase-stockBg.jpg) no-repeat 50%; }

.showcase-news {
  background: url(../images/showcase-newsBg.jpg) no-repeat 50%; }

.showcase-license {
  background: url(../images/showcase-licenseBg.jpg) no-repeat 50%; }

.showcase-prices {
  background: url(../images/showcase-pricesBg.jpg) no-repeat 50%; }

.showcase-services {
  background: url(../images/showcase-servicesBg.jpg) no-repeat 50%;
  margin-bottom: 70px; }

.showcase-doctors {
  background: url(../images/showcase-doctorsBg.jpg) no-repeat 50%;
  margin-bottom: 49px; }

.showcase-clinic {
  background: url(../images/clinic-bg.jpg) no-repeat 50%;
  margin-bottom: 51px; }

.showcase-doctor .showcase-body {
  max-width: 614px; }

.showcase-doctor .showcase img {
  width: 899px;
  max-height: 94%;
  right: -106px; }

.showcase-doc {
  background-color: #f9fae5; }
  .showcase-doc .showcase-body {
    max-width: 624px; }
  .showcase-doc .showcase img {
    max-height: 95%;
    width: 525px;
    right: 12px; }

.main-services {
  margin-top: -112px;
  position: relative;
  z-index: 5; }

.services {
  margin-bottom: 77px; }
  .services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    border-left: 1px solid #a6ae05; }
  .services-item {
    width: 33.33%;
    height: 260px;
    padding: 0 38px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #a6ae05;
    border-left: none; }
    .services-item:nth-child(4n), .services-item:nth-child(5n), .services-item:nth-child(6n), .services-item:nth-child(7n), .services-item:nth-child(9), .services-item:nth-child(11), .services-item:nth-child(13), .services-item:nth-child(17), .services-item:nth-child(19) {
      border-top: none; }
    .services-item:hover {
      background-color: #f9fae5;
      -webkit-box-shadow: 0 0 16px 4px rgba(166, 174, 5, 0.3);
      box-shadow: 0 0 16px 4px rgba(166, 174, 5, 0.3); }
      .services-item:hover .services-item__head {
        color: #a6ae05;
        text-decoration: underline; }
    .services-item__head {
      font-size: 34px;
      margin-bottom: 32px;
      line-height: 1;
      color: #000;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .services-item__descr {
      font-family: 'FuturaNewBook';
      color: #000;
      line-height: 1.6; }

.services-inner .services {
  margin-bottom: 7px; }

.services-reviews {
  margin-bottom: 68px; }

.services-programs {
  background-color: #fff !important; }
  .services-programs .programs {
    padding-bottom: 25px; }
    .services-programs .programs-head {
      margin-left: 80px; }
    .services-programs .programs-items {
      margin: 0; }
    .services-programs .programs-item {
      margin-bottom: 41px; }
    .services-programs .programs-content {
      padding-top: 44px; }

.main-entry {
  width: 978px;
  padding: 34px 0 41px 80px;
  margin: 60px auto;
  line-height: 1.2;
  font-size: 64px;
  color: #d54a53;
  position: relative; }
  .main-entry:before {
    content: '';
    display: block;
    width: 540px;
    height: 210px;
    background-color: #fdf4f5;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    z-index: -1; }
  .main-entry a {
    font-size: 64px;
    color: #000; }
    .main-entry a:hover {
      color: #d54a53; }

.main-shares {
  padding: 47px 0 43px;
  overflow: hidden; }
  .main-shares-wrap {
    background-color: #c9d300;
    overflow: hidden; }
  .main-shares .head {
    color: #fff;
    padding-left: 85px;
    margin-bottom: 33px; }

.shares-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px; }

.shares-item {
  width: 600px;
  margin: 0 30px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.shares-img {
  width: 50%; }
  .shares-img img {
    width: 100%;
    height: 100%; }

.shares-content {
  width: 50%;
  background-color: #fff;
  padding: 30px 32px 0;
  position: relative; }
  .shares-content__head {
    height: 92px;
    text-transform: uppercase;
    line-height: 1.6;
    color: #d54a53; }
    .shares-content__head span {
      display: block; }
  .shares-content__text {
    max-height: 99px;
    overflow: hidden;
    color: #010101;
    font-family: 'FuturaNewBook';
    font-size: 24px;
    line-height: 1.45; }
  .shares-content__link {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #d54a53;
    position: absolute;
    bottom: 35px;
    left: 33px; }

.shares-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 24px;
  font-family: 'FuturaNewBook';
  padding-right: 5px; }
  .shares-info a {
    text-decoration: underline;
    color: #fff;
    font-size: 24px;
    margin-left: 4px; }
    .shares-info a:hover {
      text-decoration: none; }

.shares-items .slick-arrow {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -40px;
  z-index: 5;
  cursor: pointer;
  padding: 0 0 0 16px;
  margin-top: -7px;
  border: none;
  background-color: #c9d300;
  border-radius: 50%; }
  .shares-items .slick-arrow:focus {
    outline: none; }

.shares-items .slick-next {
  left: auto;
  right: -38px;
  padding: 0 8px 0 0; }

.treatment {
  padding: 57px 0 77px; }
  .treatment .head {
    padding: 0 80px;
    margin-bottom: 41px; }
  .treatment-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 160px; }
  .treatment-item {
    width: 47.2%;
    margin-right: 62px; }
    .treatment-item:last-child {
      margin-right: 0; }
  .treatment-content {
    padding-bottom: 26px; }
    .treatment-content p {
      line-height: 1.45;
      margin-bottom: 26px;
      font-family: 'FuturaNewBook'; }
    .treatment-content ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .treatment-content ul li {
        position: relative;
        line-height: 1.45;
        margin-bottom: 26px;
        font-family: 'FuturaNewBook';
        text-indent: 18px; }
        .treatment-content ul li:before {
          content: '';
          display: block;
          width: 12px;
          height: 1px;
          background-color: #d54a53;
          position: absolute;
          top: 14px;
          left: 0; }
  .treatment-img {
    border: 1px solid #a6ae05;
    position: relative; }
    .treatment-img:hover .treatment-info {
      color: #fff;
      text-decoration: underline; }
  .treatment-info {
    width: 372px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 34px;
    color: #000;
    line-height: 1.1;
    -webkit-transition: 300ms;
    transition: 300ms; }
    .treatment-info span {
      display: block; }

.journal {
  position: relative;
  padding: 58px 0 43px; }
  .journal-wrap {
    background-color: #fdf4f5; }
  .journal .head {
    color: #d54a53;
    padding-left: 80px;
    margin-bottom: 34px; }
  .journal-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .journal-item {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff; }
  .journal-content {
    padding: 23px 25px 25px; }
    .journal-content__date {
      font-size: 16px;
      text-transform: uppercase;
      color: #d54a53;
      margin-bottom: 15px; }
    .journal-content__text {
      font-size: 24px;
      line-height: 1.45;
      font-family: 'FuturaNewBook'; }
  .journal-info {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    text-align: right; }
    .journal-info a {
      color: #d54a53;
      font-size: 24px;
      text-decoration: underline; }
      .journal-info a:hover {
        text-decoration: none; }

.journal .swiper-container {
  margin-bottom: 33px; }

.journal .swiper-slide {
  height: auto; }

.journal .swiper-pagination {
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .journal .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #f4dbde;
    opacity: 1;
    margin: 0 9px !important; }
    .journal .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #d54a53; }

.callback {
  width: 400px;
  background-color: #fff;
  padding: 42px 50px 44px; }
  .callback-wrap {
    position: relative;
    height: 540px; }
  .callback-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .callback-map iframe {
      border: none;
      width: 100%;
      height: 100%; }
  .callback__head {
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 24px; }
  .callback__address {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    margin-bottom: 4px; }
  .callback__tel {
    font-size: 24px;
    margin-bottom: 24px;
    color: #000; }
    .callback__tel:hover {
      color: #d54a53; }
  .callback-schedule {
    font-family: 'FuturaNewBook';
    font-size: 18px; }
    .callback-schedule p {
      margin-bottom: 6px; }
      .callback-schedule p:last-child {
        margin-bottom: 0; }
  .callback__link {
    display: none;
    font-family: 'FuturaNewBook';
    font-size: 14px;
    text-decoration: underline; }
    .callback__link:hover {
      text-decoration: none; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.footer {
  padding: 46px 82px 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-wrap {
    background-color: #f9fae5; }
  .footer-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 140px;
    margin-top: 7px; }

.footer-elem {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-content {
  width: 226px; }

.footer-requisites {
  margin: 0 0 24px;
  padding: 0;
  list-style: none; }
  .footer-requisites li {
    margin-bottom: 7px;
    font-family: 'FuturaNewBook';
    font-size: 16px; }
    .footer-requisites li.title {
      font-family: 'FuturaNewDemi';
      font-size: 18px; }
    .footer-requisites li:last-child {
      margin-bottom: 0; }

.footer-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer-links li {
    margin-bottom: 4px; }
    .footer-links li:last-child {
      margin-bottom: 4; }
    .footer-links li.title {
      display: none;
      font-size: 14px;
      margin-bottom: 4; }
    .footer-links li.requisites {
      display: none; }
    .footer-links li a {
      font-family: 'FuturaNewBook';
      font-size: 16px;
      text-decoration: underline; }
      .footer-links li a:hover {
        color: #d54a53;
        text-decoration: none; }

.footer-body {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 47.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-menu {
  width: 130px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer-menu li {
    margin-bottom: 13px; }
    .footer-menu li:last-child {
      margin-bottom: 0; }
    .footer-menu li a {
      font-size: 24px; }

.footer-info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 296px; }
  .footer-info__tel {
    font-size: 28px;
    margin-bottom: 6px;
    line-height: 1;
    color: #000; }
    .footer-info__tel:hover {
      color: #d54a53; }
  .footer-info__address {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    margin-bottom: 20px; }
  .footer-info ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer-info ul li {
      font-family: 'FuturaNewBook';
      font-size: 18px;
      margin-bottom: 6px; }
      .footer-info ul li:last-child {
        margin-bottom: 0; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 21px 8px 21px 0; }
  .bottom-wrap {
    background-color: #a6ae05; }
  .bottom-item {
    font-family: 'FuturaNewBook';
    font-size: 14px;
    color: #fff; }
    .bottom-item a {
      font-family: 'FuturaNewBook';
      font-size: 14px;
      color: #fff; }
      .bottom-item a:hover {
        text-decoration: underline; }

.stock-inform {
  padding: 50px 0 86px 82px; }
  .stock-inform-wrap {
    background-color: #f9fae5; }
  .stock-inform ul {
    width: 380px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .stock-inform ul li {
      line-height: 1.4;
      font-size: 24px;
      margin-bottom: 36px; }
      .stock-inform ul li:last-child {
        margin-bottom: 0; }

.stock-entry .main-entry {
  margin: 70px auto; }

.about-doctor {
  margin: 0 80px;
  padding-bottom: 58px; }
  .about-doctor-head {
    display: none;
    font-size: 42px;
    line-height: 1.15;
    margin-bottom: 34px;
    padding: 0 66px 0 35px;
    color: #a6ae05; }
  .about-doctor-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 65px; }
  .about-doctor-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding-right: 60px; }
    .about-doctor-content .head {
      font-size: 54px;
      line-height: 1.15;
      margin-bottom: 42px; }
  .about-doctor-descr {
    padding-left: 80px; }
    .about-doctor-descr p {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 25px;
      font-family: 'FuturaNewBook'; }
    .about-doctor-descr span {
      display: block;
      font-size: 18px;
      line-height: 1.45;
      font-family: 'FuturaNewBook'; }
  .about-doctor-link {
    width: 380px;
    margin-top: 18px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative; }
    .about-doctor-link:hover .about-doctor-info {
      color: #d54a53; }
  .about-doctor-info {
    width: 238px;
    position: absolute;
    bottom: 31px;
    left: 39px;
    color: #010101;
    font-size: 24px;
    line-height: 1.4;
    -webkit-transition: 300ms;
    transition: 300ms; }
  .about-doctor-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 11px; }
  .about-doctor-item {
    width: 470px;
    margin: 0 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .about-doctor-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about-doctor-elem {
    padding: 23px 0 0 37px; }
  .about-doctor__head {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px; }
  .about-doctor__text {
    font-family: 'FuturaNewBook';
    line-height: 1.65; }

.reviews {
  padding: 42px 0 103px; }
  .reviews .head {
    color: #fff;
    padding-left: 80px;
    margin-bottom: 33px; }
  .reviews-wrap {
    background-color: #c9d300; }
  .reviews-descr {
    font-family: 'FuturaNewBook';
    font-size: 24px;
    line-height: 1.45;
    margin-bottom: 36px;
    font-style: italic; }
  .reviews-items {
    margin: 0 160px 0 240px; }
    .reviews-items .slick-arrow {
      border: none;
      cursor: pointer;
      background-color: transparent;
      padding: 0;
      position: absolute;
      top: 38px;
      left: -77px;
      z-index: 5; }
      .reviews-items .slick-arrow:focus {
        outline: none; }
    .reviews-items .slick-next {
      left: auto;
      right: -80px; }
    .reviews-items .slick-dots {
      bottom: -62px;
      margin-left: -42px; }
  .reviews-info {
    width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .reviews-info img {
      width: 80px;
      height: 80px;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
  .reviews-content {
    padding-left: 28px; }
    .reviews-content h2 {
      font-size: 18px;
      margin-bottom: 6px;
      line-height: 1; }
    .reviews-content p {
      font-family: 'FuturaNewBook';
      line-height: 1.6;
      margin-bottom: 0; }

.news {
  padding: 46px 0 80px; }
  .news-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 2px; }
  .news-item {
    width: 400px;
    margin: 0 30px 54px 0; }
    .news-item:nth-child(3n) {
      margin-right: 0; }
  .news-content {
    padding: 20px 20px 0; }
    .news-content-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 12px; }
      .news-content-top .date {
        color: #d54a53;
        font-size: 16px;
        text-transform: uppercase; }
      .news-content-top .label {
        padding: 3px 10px;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #d54a53; }
        .news-content-top .label.advice {
          background-color: #c9d300; }
    .news-content__text {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.45; }
  .news-link {
    text-align: center; }
    .news-link a {
      font-size: 24px;
      text-decoration: underline; }
      .news-link a:hover {
        color: #d54a53;
        text-decoration: none; }

.news-nav {
  margin: 0 0 48px;
  padding: 0 0 0 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .news-nav li {
    margin-right: 34px; }
    .news-nav li:last-child {
      margin-right: 0; }
    .news-nav li.active a {
      color: #595550;
      border-bottom: 1px solid transparent; }
    .news-nav li a {
      font-size: 24px;
      line-height: 1;
      border-bottom: 1px solid #d54a53; }
      .news-nav li a:hover {
        color: #595550;
        border-bottom: 1px solid transparent; }

.license {
  padding: 80px 0 102px; }
  .license-wrap {
    background-color: #f9fae5; }
  .license-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 60px; }
    .license-items .slick-arrow {
      border: none;
      cursor: pointer;
      background-color: transparent;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -60px;
      z-index: 5;
      padding: 0; }
      .license-items .slick-arrow:focus {
        outline: none; }
    .license-items .slick-next {
      left: auto;
      right: -60px; }
    .license-items .slick-dots {
      bottom: -54px; }
  .license-item {
    width: 320px;
    margin: 0 43px;
    opacity: .8; }
    .license-item:hover {
      opacity: 1; }

.license-entry .main-entry {
  margin: 80px auto 4px; }

.license-treatment .treatment {
  padding-bottom: 24px; }

.programs {
  padding: 46px 0 72px; }
  .programs-wrap {
    background-color: #f9fae5; }
  .programs-items {
    margin: 0 0 0 80px; }
  .programs-item {
    margin-bottom: 35px; }
    .programs-item:last-child {
      margin-bottom: 0; }
  .programs-head {
    display: inline-block;
    cursor: pointer;
    font-size: 64px;
    line-height: 1.1;
    color: #d54a53;
    text-decoration: underline;
    position: relative; }
    .programs-head:after {
      content: '';
      display: block;
      background: url(../images/programs-arrow.png) no-repeat left;
      width: 24px;
      height: 14px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: -46px;
      margin-top: 6px; }
    .programs-head.active {
      color: #a6ae05; }
      .programs-head.active:after {
        background-position: right;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
    .programs-head:hover {
      color: #a6ae05; }
      .programs-head:hover:after {
        background-position: right; }
  .programs-content {
    display: none;
    padding-top: 25px; }
    .programs-content table {
      width: 940px;
      border-collapse: collapse;
      margin-left: 80px; }
      .programs-content table tbody tr.programs-info td {
        padding: 22px 0; }
      .programs-content table tbody tr td {
        padding: 12px 0 13px;
        font-family: 'FuturaNewBook';
        font-size: 18px;
        border-bottom: 1px solid #bababa; }
        .programs-content table tbody tr td:first-child {
          width: 685px; }
        .programs-content table tbody tr td:last-child {
          width: 256px;
          font-family: 'FuturaNewDemi'; }
        .programs-content table tbody tr td b, .programs-content table tbody tr td a {
          font-size: 28px;
          font-family: 'FuturaNewDemi';
          color: #000; }
        .programs-content table tbody tr td a:hover {
          color: #d54a53; }

.indications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 68px; }
  .indications-wrap .head {
    color: #d54a53;
    padding-left: 80px;
    margin: -17px 0 33px 0; }
  .indications-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding: 22px 90px 0 160px; }
    .indications-content p {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.45;
      margin-bottom: 33px; }
      .indications-content p:last-child {
        margin-bottom: 0; }
  .indications-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 520px;
    background-color: #fdf4f5;
    padding: 24px 48px 22px; }
    .indications-info h2 {
      font-size: 24px;
      margin-bottom: 14px; }
    .indications-info ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .indications-info ul li {
        font-family: 'FuturaNewBook';
        font-size: 18px;
        position: relative;
        margin-bottom: 16px;
        padding-left: 22px;
        line-height: 1; }
        .indications-info ul li:before {
          content: '';
          display: block;
          background-color: #d54a53;
          width: 12px;
          height: 1px;
          position: absolute;
          top: 9px;
          left: 0; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .service-wrap {
    background-color: #f9fae5;
    padding: 47px 0 70px; }
    .service-wrap .head {
      padding-left: 80px;
      margin-bottom: 46px; }
  .service-items {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding: 33px 100px 0 162px; }
  .service-item {
    margin-bottom: 34px; }
    .service-item:last-child {
      margin-bottom: 0; }
    .service-item__head {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 6px;
      padding-right: 46px; }
    .service-item__text {
      font-family: 'FuturaNewBook';
      font-size: 18px;
      line-height: 1.6; }
  .service-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 520px; }

.doctors {
  padding: 39px 0 50px; }
  .doctors .head {
    padding-left: 80px;
    margin-bottom: 43px; }
  .doctors-wrap {
    background-color: #f9fae5; }
  .doctors-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 80px 0 160px; }
  .doctors-item {
    width: 300px;
    margin: 0 60px 67px 0; }
    .doctors-item:nth-child(3n) {
      margin-right: 0; }
  .doctors-content {
    padding-top: 14px; }
    .doctors-content__head {
      font-size: 24px;
      line-height: 1.45;
      padding-right: 50px;
      margin-bottom: 7px; }
    .doctors-content__position {
      font-family: 'FuturaNewBook';
      font-size: 18px; }
  .doctors-link {
    text-align: center;
    margin-left: 72px;
    margin-top: -12px; }
    .doctors-link a {
      font-size: 24px;
      text-decoration: underline; }

.doctors-entry .main-entry {
  margin: 70px auto 5px; }

.doctors-treatment .treatment {
  padding-bottom: 33px; }

.medication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px; }
  .medication-wrap .head {
    padding-left: 80px;
    margin-bottom: 56px; }
  .medication-img {
    width: 60px;
    margin-bottom: 20px; }
  .medication-info {
    width: 220px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 8px 0 0 42px;
    position: relative; }
    .medication-info:before {
      content: '';
      display: block;
      width: 300px;
      height: 270px;
      background-color: #fdf4f5;
      position: absolute;
      top: -27px;
      left: 0;
      z-index: -1; }
    .medication-info a {
      display: inline;
      line-height: 1.6;
      text-decoration: underline; }
      .medication-info a:hover {
        text-decoration: none;
        color: #d54a53; }
  .medication-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding-left: 20px; }
  .medication-elems {
    margin-bottom: 43px; }
  .medication-elem {
    margin-bottom: 66px;
    padding-right: 70px; }
    .medication-elem:last-child {
      margin-bottom: 0; }
    .medication-elem p {
      font-family: 'FuturaNewBook';
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 8px; }
      .medication-elem p:last-child {
        margin-bottom: 0; }
  .medication-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .medication-item {
    width: 380px;
    margin: 0 100px 0 0;
    padding: 0;
    list-style: none; }
    .medication-item:last-child {
      margin-right: 0; }
    .medication-item li {
      font-size: 24px;
      margin-bottom: 35px; }
      .medication-item li:last-child {
        margin-bottom: 0; }

.expert {
  margin-bottom: 70px;
  padding: 42px 0; }
  .expert .head {
    padding-left: 80px;
    margin-bottom: 45px; }
  .expert-wrap {
    background-color: #f9fae5; }
  .expert-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 37px; }
    .expert-items .doctors-item {
      margin: 0; }
  .expert-info {
    text-align: right; }
    .expert-info span {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      margin-right: 4px; }
    .expert-info a {
      text-decoration: underline;
      font-size: 24px; }
      .expert-info a:hover {
        color: #d54a53;
        text-decoration: none; }

.expert-slider {
  position: relative; }

.expert-container {
  width: 1020px;
  margin-left: 160px;
  overflow: hidden; }

.expert-dots {
  position: absolute;
  bottom: -27px;
  left: 50%;
  margin-left: -50px; }
  .expert-dots .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #e3e87f;
    margin: 0 8px;
    opacity: 1; }
    .expert-dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #d54a53; }

.expert-arrow {
  margin: 0;
  background: url(../images/leftG.png) no-repeat 50%;
  width: 14px;
  height: 24px;
  top: 116px;
  left: 80px;
  z-index: 99; }

.expert-next {
  background: url(../images/rightG.png) no-repeat 50%;
  left: auto;
  right: 0; }

.expert-doctor .about-doctor {
  padding-bottom: 6px; }

.vita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .vita-wrap {
    padding: 54px 0 70px; }
    .vita-wrap .head {
      padding-left: 80px; }
  .vita-info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 520px; }
  .vita-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    padding: 0 64px 0 160px; }
    .vita-content p {
      font-family: 'FuturaNewBook';
      font-size: 18px;
      line-height: 1.45;
      margin-bottom: 26px; }
      .vita-content p:last-child {
        margin-bottom: 0; }

.biography {
  padding-bottom: 11px; }
  .biography .vita-content {
    padding-top: 10px; }
  .biography .vita-info {
    background-color: #a6ae05;
    padding: 34px 38px 60px; }
    .biography .vita-info h2 {
      font-size: 34px;
      color: #fff;
      margin-bottom: 24px; }
    .biography .vita-info ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .biography .vita-info ul li {
        line-height: 1.35;
        margin-bottom: 22px;
        font-size: 24px;
        color: #fff;
        padding-left: 30px;
        position: relative; }
        .biography .vita-info ul li:before {
          content: '';
          display: block;
          width: 16px;
          height: 1px;
          background-color: #fff;
          position: absolute;
          top: 17px;
          left: 1px; }

.methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px; }
  .methods-wrap {
    padding: 48px 0 78px; }
    .methods-wrap .head {
      padding-left: 80px; }
  .methods-img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 520px; }
  .methods-content {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    margin: 0;
    padding: 11px 0 0 122px;
    list-style: none; }
    .methods-content li {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.45;
      margin-bottom: 14px;
      padding-left: 30px;
      position: relative; }
      .methods-content li:last-child {
        margin-bottom: 0; }
      .methods-content li:before {
        content: '';
        display: block;
        background-color: #d54a53;
        width: 16px;
        height: 1px;
        position: absolute;
        top: 20px;
        left: 0; }

.directions {
  background-color: #fdf4f5; }
  .directions .head {
    color: #d54a53; }
  .directions .methods-content {
    padding: 0 40px 0 0;
    margin-top: -2px; }
