/* Fonts */
@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Black.woff2") format("woff2"), url("../fonts/GraphikLCG-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  color: #0a0a0a;
  font: 400 18px/1.4 'Graphik LCG', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.title {
  font-size: 64px;
  font-weight: bold;
  position: relative;
  padding-left: 60px;
  line-height: 1.2;
}

.title:before {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  width: 30px;
  height: 40px;
  transform: skewX(-13deg);
  background: red;
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 40px !important;
  }
  .title:before {
    top: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 32px !important;
    padding-left: 0;
  }
  .title:before {
    display: none;
  }
}

.link {
  color: #00349a;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  border: 1px solid #00349a;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 16px;
}

.link:hover img {
  transform: translateX(3px);
}

.link img {
  margin-left: 10px;
  transition: 300ms;
}

.wrapper {
  overflow: hidden;
}

/* Header */
.header__inner {
  display: flex;
  align-items: flex-start;
}

.header__content {
  flex-grow: 10;
}

.header__logo {
  width: 160px;
  margin-right: 58px;
  flex-shrink: 0;
}

.header__info {
  padding-top: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header__info-item {
  margin-right: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.header__info-item img {
  flex-shrink: 0;
  margin-right: 7px;
}

.header__info-item a {
  color: #00349a;
  text-decoration: underline;
}

.header__info-item a:hover {
  text-decoration: none;
}

.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav ul li:last-child a {
  background: red;
  padding: 12px 20px;
  border-radius: 50px;
  color: #ffffff;
}

.header__nav ul li:last-child a:hover {
  background: #00349a;
  color: #ffffff;
}

.header__nav ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #00349a;
  text-transform: uppercase;
}

.header__nav ul li a:hover {
  color: red;
}

@media only screen and (max-width: 1300px) {
  .header__logo {
    margin-right: 30px;
  }
  .header__nav ul li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    position: relative;
  }
  .header__logo {
    width: 100px;
  }
  .header__logo a {
    display: flex;
    align-items: flex-start;
  }
  .header__info {
    display: none;
  }
  .header__inner {
    align-items: center;
  }
  .header__nav {
    display: flex;
    justify-content: flex-end;
  }
  .header__nav ul {
    position: absolute;
    top: 100%;
    background: #ffffff;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 9999;
    padding: 15px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: 300ms;
  }
  .header__nav ul.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .header__nav ul li {
    margin: 10px 0;
  }
}

/* Burger */
.burger {
  display: none;
  width: 30px;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a span {
  position: relative;
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 7px;
  background: #222;
  transition: all .2s ease-in-out;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 30px;
  height: 5px;
  position: absolute;
  left: 0;
  background: #222;
  border-radius: 7px;
  transition: all .2s ease-in-out;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  transform: rotate(-45deg) translate(5px, -6px);
}

@media only screen and (max-width: 991px) {
  .burger {
    display: block;
  }
}

/* Showcase */
.showcase {
  background: url(../images/showcase-bg.jpg) 50%/cover;
}

.showcase__inner {
  padding-top: 140px;
}

.showcase__title {
  font-size: 74px;
  margin-bottom: 84px;
  max-width: 1000px;
}

.showcase__title:before {
  top: 27px;
}

.showcase__description {
  padding: 50px 35px 200px 0;
  background: #00349a;
  color: #ffffff;
  font-size: 24px;
  max-width: 720px;
  line-height: 1.4;
  position: relative;
}

.showcase__description:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 1000px;
  background: #00349a;
}

@media only screen and (max-width: 1300px) {
  .showcase__title {
    font-size: 64px;
  }
  .showcase__title:before {
    top: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase__inner {
    padding-top: 100px;
  }
  .showcase__description {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase__description {
    font-size: 18px;
  }
}

/* Services */
.services {
  position: relative;
  z-index: 3;
  margin: -153px 0 100px;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
}

.services__title {
  margin-bottom: 35px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
}

.services__list .services__item {
  width: 100%;
}

.services__item {
  width: 33.33%;
  height: 495px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 35px;
  position: relative;
}

.services__item > * {
  position: relative;
  z-index: 3;
}

.services__item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.services__item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #00349a;
  opacity: 0;
}

.services__item:hover {
  background: #ffffff !important;
}

.services__item:hover:before {
  opacity: 0;
}

.services__item:hover:after {
  opacity: 1;
}

.services__item:hover .services__text {
  display: block;
}

.services__item:hover .services__link {
  display: flex;
}

.services__item:hover .services__name {
  color: red;
}

.services__icon {
  margin-bottom: 30px;
}

.services__name {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.4;
  padding-right: 15px;
  min-height: 99px;
  transition: 0ms;
}

.services__text {
  display: none;
  font-size: 16px;
  margin-top: 20px;
}

.services__link {
  display: none;
  margin-top: 24px;
  align-items: center;
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.services__link:hover img {
  transform: translateX(3px);
}

.services__link img {
  margin-left: 10px;
  transition: 300ms;
}

@media only screen and (max-width: 1300px) {
  .services__item {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .services__name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .services__item {
    width: 100%;
    height: auto;
  }
  .services__list {
    grid-template-columns: 1fr;
  }
}

/* About */
.about {
  margin-bottom: 72px;
}

.about__inner {
  position: relative;
}

.about__title {
  margin-bottom: 35px;
}

.about__text {
  max-width: 620px;
  margin-bottom: 40px;
}

.about__items {
  position: absolute;
  right: 0;
  top: 120px;
  width: 520px;
  background: #00349a;
  color: #ffffff;
  padding-left: 83px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.about__items:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -462px;
  right: -1000px;
  background: #00349a;
  bottom: 0;
}

.about__item {
  margin-bottom: 55px;
  font-weight: bold;
  position: relative;
}

.about__item:nth-child(2n - 1) {
  width: 235px;
}

.about__number {
  font-size: 64px;
  line-height: 1;
  position: relative;
  display: inline-block;
}

.about__number:before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  right: -10px;
  width: 30px;
  height: 40px;
  transform: skewX(-13deg);
  background: red;
}

.about__number span {
  position: relative;
}

.about__text {
  font-size: 24px;
}

@media only screen and (max-width: 1300px) {
  .about__items {
    width: 320px;
    top: 0;
    padding-bottom: 20px;
  }
  .about__items:before {
    top: -150px;
  }
  .about__item {
    margin-bottom: 17px;
    width: 100%;
  }
  .about__number {
    font-size: 45px;
  }
  .about__text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .about__items {
    position: static;
    background: none;
    color: #00349a;
    width: 100%;
    padding: 0;
  }
  .about__items:before {
    display: none;
  }
  .about__item {
    width: 50% !important;
  }
}

/* Projects */
.projects {
  background: #e8e8e8;
  padding: 70px 0 80px;
}

.projects__title {
  margin-bottom: 25px;
}

.projects__container {
  display: flex;
  justify-content: space-between;
}

.projects__info {
  max-width: 282px;
  padding-top: 35px;
}

.projects__number {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.projects__description {
  font-size: 24px;
  margin-bottom: 64px;
}

.projects__items {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  grid-gap: 60px;
}

.projects__item {
  background: #fff;
  transition: 300ms;
}

.projects__item:hover {
  background: #00349a;
  color: #ffffff;
}

.projects__content {
  padding: 30px;
}

.projects__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  transition: none;
}

.projects__text {
  font-size: 16px;
  margin-bottom: 25px;
}

.projects__more {
  transition: none;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.projects__more img {
  margin-left: 10px;
}

@media only screen and (max-width: 1300px) {
  .projects__items {
    grid-template-columns: repeat(2, 300px);
  }
}

@media only screen and (max-width: 991px) {
  .projects__inner {
    position: relative;
    padding-bottom: 120px;
  }
  .projects__container {
    display: block;
  }
  .projects__info {
    max-width: 100%;
  }
  .projects__link {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .projects__number {
    font-size: 20px;
  }
  .projects__description {
    font-size: 16px;
  }
  .projects__items {
    grid-template-columns: 1fr;
  }
  .projects__item {
    max-width: 380px;
  }
}

/* News */
.news {
  padding: 80px 0 90px;
}

.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.news__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px 0;
}

.news__item {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.news__name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}

.news__name:hover {
  color: red;
}

.news__text {
  flex-grow: 10;
  font-size: 16px;
  margin-bottom: 34px;
}

.news__date {
  color: #898989;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-top: 25px;
}

.news__date:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 80px;
  height: 1px;
  top: 0;
  background: #bababa;
}

@media only screen and (max-width: 1300px) {
  .news__name {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .news {
    padding-bottom: 50px;
  }
  .news__items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 0;
  }
}

@media only screen and (max-width: 767px) {
  .news__inner {
    position: relative;
    padding-bottom: 50px;
  }
  .news__items {
    grid-template-columns: 1fr;
  }
  .news__link {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* Contacts */
.contacts__inner {
  display: flex;
}

.contacts__content {
  background: #00349a;
  position: relative;
  padding: 55px 77px 65px 0;
  width: 478px;
  color: #ffffff;
}

.contacts__content:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 1000px;
  background: #00349a;
}

.contacts__title {
  margin-bottom: 42px;
}

.contacts__list li {
  margin-bottom: 30px;
  font-size: 24px;
  display: flex;
}

.contacts__list li span:first-child {
  font-size: 18px;
  width: 130px;
  display: block;
  flex-shrink: 0;
}

.contacts__link {
  background: red;
  padding: 9px 20px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 130px;
}

.contacts__link:hover {
  background: #e70303;
}

.contacts__map {
  flex-grow: 10;
  margin-right: calc((100vw - 1260px)/-2);
}

@media only screen and (max-width: 1300px) {
  .contacts__content ul li {
    font-size: 20px;
  }
  .contacts__map {
    margin-right: calc((100vw - 970px)/-2);
  }
}

@media only screen and (max-width: 991px) {
  .contacts {
    position: relative;
    padding-bottom: 300px;
  }
  .contacts__inner {
    display: block;
  }
  .contacts__content {
    width: 100%;
  }
  .contacts__content:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    background: #00349a;
  }
  .contacts__map {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .contacts__content {
    padding-right: 0;
  }
  .contacts__content ul li {
    display: block;
  }
  .contacts__content ul li span:first-child {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .contacts__link {
    margin-left: 0;
  }
}

/* Footer */
.footer {
  background: #e8e8e8;
}

.footer.footer--inner .footer__inner {
  border-top: 1px solid #6f6f6f;
}

.footer__inner {
  padding: 50px 0;
  display: flex;
}

.footer__nav {
  flex-grow: 10;
  margin: 0 50px;
  display: flex;
}

.footer__nav ul {
  margin-right: 40px;
}

.footer__nav ul:first-child {
  min-width: 100px;
}

.footer__nav ul:last-child {
  margin-right: 0;
}

.footer__nav ul li {
  margin-bottom: 30px;
}

.footer__nav ul li:last-child {
  margin-bottom: 0;
}

.footer__nav ul li a {
  color: #00349a;
  font-weight: bold;
  font-size: 16px;
}

.footer__nav ul li a:hover {
  color: red;
}

.footer__logo {
  flex-shrink: 0;
  width: 89px;
}

.footer__contacts {
  flex-shrink: 0;
  width: 290px;
  font-size: 16px;
}

.footer__contacts ul li {
  margin-bottom: 30px;
}

.footer__contacts ul li a {
  color: #00349a;
  text-decoration: underline;
}

.footer__contacts ul li a:hover {
  text-decoration: none;
}

.footer__head {
  margin-bottom: 30px;
  font-weight: 700;
}

.footer__line {
  border-top: 1px solid #6f6f6f;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7c7c7c;
  font-size: 14px;
}

.footer__copy a {
  text-decoration: underline;
}

.footer__copy a:hover {
  text-decoration: none;
}

.footer__author {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-shrink: 0;
}

.footer__author img {
  margin-left: 7px;
}

@media only screen and (max-width: 1300px) {
  .footer__contacts {
    width: 230px;
  }
  .footer__nav ul {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
  }
  .footer__nav {
    width: calc(100% - 280px);
    margin: 0;
  }
  .footer__contacts {
    width: 200px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__nav {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer__nav ul {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer__nav ul li {
    margin-bottom: 15px;
  }
  .footer__contacts {
    margin-left: 0;
  }
  .footer__line {
    flex-direction: column;
  }
  .footer__copy {
    margin-bottom: 15px;
  }
  .footer__author {
    margin-left: 0;
  }
}

/* Inners */
.inner-page {
  background: #e8e8e8;
  padding: 25px 0 60px;
}

@media only screen and (max-width: 767px) {
  .inner-page {
    padding: 20px 0;
  }
}

/* News page */
.news-page__title {
  margin-bottom: 50px;
}

.news-page .news__items {
  margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
  .news-page .news__items {
    margin-bottom: 30px;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 30px;
}

.breadcrumbs li {
  display: inline;
  color: #00349a;
}

.breadcrumbs li:after {
  content: '>';
  display: inline-block;
  margin: 0 5px;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #00349a;
  font-weight: bold;
  font-size: 16px;
}

.pagination a:hover {
  color: red;
}

.pagination a.disabled {
  color: #959595;
}

.pagination a.active {
  background: #00349a;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .pagination a {
    width: 30px;
    height: 30px;
  }
}

/* Article */
.article {
  padding-bottom: 80px;
}

.article__title {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .article {
    padding-bottom: 40px;
  }
}

/* Content */
.content {
  max-width: 940px;
  margin: 0 auto;
}

.content__date {
  color: #898989;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-top: 25px;
  margin-bottom: 40px;
}

.content__date:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 80px;
  height: 1px;
  top: 0;
  background: #bababa;
}

.content > img {
  margin-bottom: 30px;
}

.content > p {
  margin-bottom: 35px;
  line-height: 1.5;
}

.content__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 64px;
}

@media only screen and (max-width: 991px) {
  .content__images {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .content__images {
    grid-template-columns: 1fr;
  }
}

/* About page */
.about-page .about__items:before {
  top: -100px;
  bottom: 0;
}

.about-page .about__inner > .about__text {
  min-height: 260px;
}

.about-page .about__img {
  position: relative;
  z-index: 3;
  margin-top: 100px;
  margin-bottom: 45px;
}

.about-page .about__img img {
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .about-page .about__img {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 991px) {
  .about-page .about__img {
    margin-top: 0;
  }
  .about-page .about__inner > .about__text {
    min-height: 0;
  }
}

/* Resume */
.resume {
  background: url(../images/resume-bg.jpg) 50%/cover;
  padding: 40px 0;
  color: #ffffff;
  margin-bottom: 65px;
}

.resume__text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  max-width: 670px;
}

.resume__link {
  background: #ffffff;
}

@media only screen and (max-width: 767px) {
  .resume {
    margin-bottom: 30px;
  }
  .resume__text {
    font-size: 18px;
  }
}

/* Documents */
.documents {
  margin-bottom: 50px;
}

.documents__title {
  margin-bottom: 35px;
}

.documents__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 45px 35px;
}

.documents__item {
  text-align: center;
  font-size: 18px;
}

.documents__item:hover .documents__name {
  color: red;
  text-decoration: underline;
}

.documents__item:hover .documents__img:before, .documents__item:hover .documents__img:after {
  opacity: 1;
  visibility: visible;
}

.documents__img {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 27px;
}

.documents__img img {
  width: 100%;
}

.documents__img:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
}

.documents__img:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  background: url(../images/plus-icon.png) no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
}

.documents__name {
  color: #00349a;
}

@media only screen and (max-width: 767px) {
  .documents__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .documents__item {
    font-size: 14px;
  }
  .documents__img {
    margin-bottom: 15px;
  }
}

/* Contacts */
.contacts-page__title {
  margin-bottom: 30px;
}

.contacts-page__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
  margin-bottom: 66px;
}

.contacts-page__item {
  background: #ffffff;
  border: 1px solid #00349a;
  padding: 40px 30px;
  color: #00349a;
  font-size: 24px;
}

.contacts-page__elem {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}

.contacts-page__elem a {
  text-decoration: underline;
}

.contacts-page__elem a:hover {
  text-decoration: none;
}

.contacts-page__elem img {
  flex-shrink: 0;
  margin-right: 10px;
  width: 16px;
  transform: translateY(4px);
}

.contacts-page__label {
  margin-left: 26px;
}

.contacts-page__map {
  height: 580px;
}

@media only screen and (max-width: 1300px) {
  .contacts-page__item {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .contacts-page__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts-page__map {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .contacts-page__items {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

/* Projects */
.projects-page__title {
  margin-bottom: 35px;
}

.projects-page__items {
  display: grid;
  grid-gap: 40px;
  margin-bottom: 45px;
}

.projects-page__item {
  background: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.projects-page__item:hover:before {
  opacity: 1;
  visibility: visible;
}

.projects-page__item:hover .projects-page__link {
  opacity: 1;
  visibility: visible;
}

.projects-page__item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #00349a;
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
}

.projects-page__img {
  height: 100%;
}

.projects-page__img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects-page__content {
  position: relative;
  padding: 40px 55px;
}

.projects-page__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.projects-page__name:hover {
  color: red;
}

.projects-page__text {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.projects-page__author {
  line-height: 1.7;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
}

.projects-page__link {
  font-weight: bold;
  color: red;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
}

.projects-page__link:hover img {
  transform: translateX(3px);
}

.projects-page__link img {
  margin-left: 10px;
  transition: 300ms;
}

@media only screen and (max-width: 767px) {
  .projects-page__img {
    display: none;
  }
  .projects-page__item {
    grid-template-columns: 1fr;
  }
  .projects-page__link {
    opacity: 1;
    visibility: visible;
  }
  .projects-page__content {
    padding: 20px;
  }
  .projects-page__name {
    font-size: 20px;
  }
}

/* Services page */
.services-page__title {
  margin-bottom: 35px;
}

.services-page__container {
  display: grid;
  grid-template-columns: 1fr 265px;
  grid-gap: 55px;
}

.services-page .content {
  max-width: 100%;
  margin-bottom: 50px;
}

.services-page__links a {
  margin-bottom: 25px;
  color: #00349a;
  font-size: 18px;
  font-weight: bold;
}

.services-page__links a:hover, .services-page__links a.active {
  color: #000000;
}

.services-page__links a:hover img, .services-page__links a.active img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.services-page__links a img {
  margin-bottom: 15px;
  transition: 300ms;
}

.services-page__links a span {
  display: block;
}

.services-page__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

@media only screen and (max-width: 991px) {
  .services-page__links {
    display: none;
  }
  .services-page__container {
    grid-template-columns: 1fr;
  }
  .services-page__items {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 767px) {
  .services-page__items {
    grid-template-columns: 1fr;
  }
}
