$green: #20b777;
$blue: #2a2b87;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Helios', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'Helios', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
  }
}

.head {
  font: 800 54px/1 'Merriweather';
}

.btn {  
  padding: 0 25px;
  line-height: 48px;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: $green;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  padding: 0 27px 0 21px;
  border: 1px solid $green;
  border-radius: 6px;
  color: $green;
  line-height: 48px;
  font-weight: 700;
  font-size: 18px;
  &:hover {
    background-color: $green;
    color: #fff;
    .link-arrow {
      background-position: right;
    }
  }
  &-arrow {
    margin-left: 18px;
    width: 32px;
    height: 10px;
    transition: none;
    background: url(../images/right-wh.png) no-repeat left;
  }
}

.soc {
  display: flex;
  align-items: center;
  li {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 1px solid #20b777;
      color: $green;
      font-size: 18px;
      &:hover {
        border: 1px solid #000;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .link {
    padding: 0 16px;
    &-arrow {
      margin-left: 14px;
    }
  }
}
@media screen and (max-width: 991px) {
  .head {
    font-size: 44px;
  }
}
@media screen and (max-width: 767px) {
  .link {
    font-size: 16px;
  }
  .head {
    font-size: 36px;
  }
}
@media screen and (max-width: 575px) {
  .head {
    font-size: 28px;
  }
}

// Burger

.burger {
  display: none;
  width: 30px;
  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;
    &.active span {
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      transition: all .2s ease-in-out;
      background-color: $green;
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        transition: all .2s ease-in-out;
        background-color: $green;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .burger {
    display: block;
  }
}

// Lang

.lang {
  display: flex;
  align-items: center;
  margin-right: 69px;
  li {
    margin-right: 16px;
    &.active a {
      text-decoration: none;
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 14px;
      font-weight: 700;
      text-decoration: underline;
      text-transform: uppercase;
      color: #0b653f;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .lang {
    margin-right: 28px;
  }
}
@media screen and (max-width: 575px) {
  .lang {
    margin-right: 10px;
    li {
      margin-right: 10px;
    }
  }
}

// Top line

.topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 98px;
  &-wrap {
    background-color: $green;
  }
  &-item {
    display: flex;
    align-items: center;
  }
  &-info {
    font-size: 14px;
    color: #fff;
  }
  &-cabinet {
    margin-right: 22px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    color: #0b653f;
    &:hover {
      text-decoration: none;
      color: #0b653f;
    }
  }
}

.soc-top {
  display: flex;
  align-items: center;
  li {
    border-left: 1px solid #138253;
    &:last-child {
      border-right: 1px solid #138253;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 49px;
      height: 50px;
      color: #0b653f;
      font-size: 18px;
      &:hover {
        opacity: .7;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .topline {
    padding-left: 78px;
    &-info {
      max-width: 330px;
    }
  }
}
@media screen and (max-width: 991px) {
  .topline {
    &-info {
      display: none;
    }
  }
}
@media screen and (max-width: 640px) {
  .topline {
    &-cabinet {
      display: none;
    }
  }
}
@media screen and (max-width: 575px) {
  .soc-top {
    li {
      a {
        width: 36px;
        height: 36px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .topline {
    padding-left: 0;
  }
}

// Header

.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: $blue;
  font: 800 20px/1.3 'Merriweather';
  img {
    flex-shrink: 0;
    width: 81px;
    margin: -56px 17px 0 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 16px;
  border-bottom: 1px solid #bababa;
}

@media screen and (max-width: 1336px) {
  .logo {
    font-size: 18px;
    img {
      width: 70px;
      margin: -40px 10px 0 0;
    }
  }
}
@media screen and (max-width: 991px) {
  .logo {
    width: 302px;
    font-size: 16px;
  }
  .header {
    padding: 16px 0 13px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    &-wrap {
      position: relative;
    }
  }
}
@media screen and (max-width: 400px) {
  .logo {
    width: 180px;
    img {
      width: 55px;
      margin: 0 10px 0 0;
    }
  }
}

// Nav

.nav {
  li {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $green;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4;
      &:hover {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .nav {
    li {
      margin-right: 18px;
    }
  }
}
@media screen and (max-width: 991px) {
  .nav {
    li {
      margin-right: 14px;
      a {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 10px 0;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    background-color: rgba(32, 183, 119, .8);
    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
      z-index: 99;
    }
    li {
      margin: 2px 0;
      a {
        color: #fff;
      }
    }
  }
}

// Footer

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 55px 0 60px 21px;
  border-bottom: 1px solid #20b777;
  &-wrap {
    background-color: #138253;
  }
  &-element {
    max-width: 250px;
  }
  &-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  &-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 380px;
    margin: 6px 20px 0 0;
  }
  &-block {
    flex-shrink: 0;
    flex-basis: 460px;
    margin-top: 3px;
  }
  &-logo {
    flex-shrink: 0;
    width: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    font: 800 20px/1.5 'Merriweather';
    color: #fff;
    &:hover {
      color: #fff;
    }
    img {
      flex-shrink: 0;
      width: 80px;
    }
    span {
      margin: 6px 0 0 25px;
    }
  }
  &-soc {
    display: flex;
    align-items: center;
    &__title {
      margin-right: 12px;
      color: #fff;
    }
  }
}

.footer-item {
  flex-basis: 50%;
  &:first-child {
    margin-right: 20px;
  }
  li {
    margin-bottom: 23px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-weight: 700;
      text-decoration: underline;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.footer-info {
  margin: 0 80px 15px 0;
  color: #fff;
  li {
    line-height: 1.75;
    &.info-tel b {
      display: block;
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__mail {
    text-decoration: underline;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 9px 19px 0;
  .omg {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 1.65;
    color: #39d694;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-size: 14px;
      color: #39d694;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .footer {
    padding: 40px 0 50px;
    &-items {
      flex-basis: 300px;
      margin-left: 0;
    }
    &-item li {
      margin-bottom: 18px;
    }
    &-block {
      flex-basis: 350px;
    }
    &-info {
      margin-right: 0;
      li {
        line-height: 1.5;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 0 40px;
    &-element {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
    &-body {
      justify-content: center;
    }
    &-logo {
      margin-bottom: 0;
    }
  }
  .bottom {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0;
    p {
      line-height: 1.5;
    }
    &-item {
      width: 100%;
      text-align: center;
    }
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 30px;
    &-body {
      flex-direction: column;
    }
    &-items {
      width: 100%;
      max-width: 550px;
      flex-basis: 100%;
      margin: 0 auto 20px;
    }
    &-item {
      text-align: center;
      li {
        margin-bottom: 12px;
      }
    }
    &-block {
      flex-basis: 100%;
    }
  }
}
@media screen and (max-width: 540px) {
  .footer {
    &-element {
      flex-direction: column;
      align-items: center;
    }
    &-logo {
      margin-bottom: 20px;
    }
    &-soc {
      flex-direction: column;
      &__title {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

// Showcase

.showcase {
  &-items {
    display: flex;
  }
  &-item {
    position: relative;
    z-index: 5;
    width: 25%;
    min-height: 540px;
    border-right: 1px solid #bababa;
    background-size: cover;
    background-position: 50%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: 300ms;
      background-color: rgba(0, 0, 0, .5);
    }
    &:hover {
      &:before {
        background-color: #fff;
      }
      .link {
        opacity: 1;
        transition: 300ms;
      }
      .showcase {
        &-title {
          text-decoration: underline;
          color: $green;
        }
        &-elem {
          border-color: $green;
        }
      }
    }
    &:last-child {
      border-right: none;
    }
    .link {
      opacity: 0;
    }
  }
  &-elem {
    height: 100%;
    padding: 104px 60px 40px;
    border: 10px solid transparent;
    transition: 300ms;
  }
  &-title {
    margin-bottom: 91px;
    transition: 300ms;
    color: #fff;
    font: 800 32px/1.45 'Merriweather';
  }
}

@media screen and (max-width: 1750px) {
  .showcase {
    &-item {
      min-height: 420px;
    }
    &-elem {
      padding: 70px 18px 40px;
    }
    &-title {
      margin-bottom: 70px;
      font-size: 26px;
    }
  }
}
@media screen and (max-width: 1336px) {
  .showcase {
    &-item {
      min-height: 360px;
    }
    &-elem {
      padding-top: 60px;
      border-width: 6px;
    }
    &-title {
      margin-bottom: 50px;
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 991px) {
  .showcase {
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      width: 50%;
      min-height: 280px;
    }
    &-title {
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 575px) {
  .showcase {
    &-item {
      width: 100%;
    }
    &-elem {
      padding-top: 30px;
    }
  }
}

// Bread

.bread {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 17px 0 43px;
  li {
    position: relative;
    margin: 0 28px 4px 0;
    &:after {
      content: '>';
      display: block;
      position: absolute;
      top: 50%;
      right: -19px;
      transform: translateY(-50%);
      line-height: 1;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      color: $green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .bread {
    margin: 16px 0 26px;
  }
}

// News

.news {
  margin-bottom: 90px;
  .head {
    margin-right: 20px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-bottom: 18px;
  }
  &-item {
    width: 380px;
    margin: 0 0 58px 60px;
    &__title {
      margin-bottom: 17px;
      color: #000;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.6;
      &:hover {
        text-decoration: underline;
        color: $green;
      }
    }
    &__rubric {
      font-weight: 700;
      font-size: 14px;
      color: $green;
    }
  }
  &-body {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }
  &-img:hover {
    opacity: 0.8;
  }
  &-date {
    flex-shrink: 0;
    min-width: 60px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    > div {
      font-size: 34px;
    }
    p {
      margin-bottom: 0;
      span {
        display: block;
        line-height: 1.45;
      }
    }
  }
}

.news-item.item-main {
  display: flex;
  width: 100%;
  .news {
    &-img {
      flex-grow: 10;
    }
    &-body {
      flex-shrink: 0;
      flex-direction: column;
      width: 440px;
      padding: 32px 36px 40px 60px;
      background-color: #eef9f4;
    }
    &-item {
      &__title {
        font-size: 22px;
        line-height: 1.5;
      }
    }
    &-date {
      display: flex;
      align-items: center;
      margin: 0 0 25px;
      > div {
        flex-shrink: 0;
        margin-right: 12px;
        font-size: 42px;
      }
    }
  }
}

.news-nav {
  display: flex;
  margin-top: 6px;
  li {
    margin-right: 18px;
    &.active a {
      border-color: #949eae;
      background-color: #949eae;
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 0 8px;
      border: 1px solid $green;
      border-radius: 6px;
      line-height: 28px;
      font-weight: 700;
      color: $green;
      &:hover {
        border-color: #949eae;
        background-color: #949eae;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .news {
    margin-bottom: 70px;
    &-items {
      margin-left: -18px;
    }
    &-item {
      width: 311px;
      margin: 0 0 36px 18px;
    }
  }
  .news-item.item-main {
    .news {
      &-body {
        width: 320px;
        padding: 16px 22px 26px;
      }
      &-date {
        margin-bottom: 8px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .news {
    .head {
      margin: 0 0 16px;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 28px;
    }
    &-item {
      width: calc(50% - 18px);
      margin-bottom: 24px;
      &__title {
        line-height: 1.4;
      }
    }
    &-body {
      padding-top: 18px;
    }
  }
  .news-item.item-main {
    .news {
      &-item {
        &__title {
          margin-bottom: 8px;
          font-size: 18px;
          line-height: 1.25;
        }
      }
      &-body {
        padding: 10px 8px 10px 16px;
      }
      &-date {
        margin-bottom: 4px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .news {
    margin-bottom: 50px;
    &-item {
      &__title {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 1.35;
      }
    }
    &-date {
      margin-right: 6px;
    }
    &-nav {
      flex-wrap: wrap;
      li {
        margin-right: 10px;
        margin-bottom: 8px;
      }
    }
  }
  .news-item.item-main {
    flex-direction: column;
    .news {
      &-body {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .news {
    margin-bottom: 40px;
    &-header {
      margin-bottom: 18px;
    }
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      max-width: 320px;
      margin: 0 auto 18px;
      &.item-main {
        max-width: 100%;
      }
    }
  }
}

// Pagination

.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  li {
    &.prev,
    &.next {
      a {
        width: 32px;
        height: 10px;
        border: none;
        transition: none;
        background-repeat: no-repeat;
        background-position: left;
        &:hover {
          background-position: right;
        }
      }
    }
    &.prev {
      margin-right: 37px;
      a {
        background-image: url(../images/prev.png);
      }
    }
    &.next {
      margin-left: 39px;
      a {
        background-image: url(../images/next.png);
      }
    }
    &.active a {
      color: #898989;
    }
    &:nth-child(2) a {
      border-radius: 6px 0 0 6px;
    }
    &:nth-last-child(2) a {
      border-right: 1px solid $green;
      border-radius: 0 6px 6px 0;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 1px solid $green;
      border-right: none;
      color: $green;
      font-size: 22px;
      font-weight: 700;
      &:hover {
        color: #898989;
      }
    }
  }
  &-wrap {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .pagination {
    li {
      &.prev {
        margin-right: 10px;
      }
      &.next {
        margin-left: 10px;
      }
      a {
        width: 34px;
        height: 34px;
        font-size: 16px;
      }
    }
  }
}

// Main news

.main-news {
  margin: 90px 0 32px;
  .news {
    &-header {
      margin-bottom: 45px;
    }
  }
}

@media screen and (max-width: 1336px) {
  .main-news {
    margin-top: 70px;
  }
}
@media screen and (max-width: 991px) {
  .main-news {
    margin-top: 50px;
    .news {
      &-header {
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .main-news {
    .news {
      &-header {
        flex-direction: column;
        align-items: flex-start;
        .head {
          margin-bottom: 16px;
        }
      }
    }
  }
}

// Applicants

.applicants {
  position: relative;
  padding-top: 72px;
  margin-bottom: 70px;
  border-top: 1px solid #bababa;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 460px;
    height: 5px;
    background-color: $green;
  }
  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 58px;
  }
  &-text {
    max-width: 700px;
    margin-left: 20px;
    margin-top: 8px;
    line-height: 1.65;
  }
  &-block {
    display: flex;
  }
  &-items {
    flex-grow: 10;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
  }
  &-item {
    position: relative;
    z-index: 5;
    width: 300px;
    min-height: 220px;
    margin: 0 0 20px 20px;
    padding: 21px 28px 76px;
    border: 2px solid $green;
    background-size: cover;
    background-position: 50%;
    color: #000;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 300ms;
      background-color: #fff;
    }
    &:hover {
      color: $green;
      &:before {
        background-color: rgba(0, 0, 0, .4);
      }
      .applicants {
        &-title {
          text-decoration: underline;
        }
        &-img {
          opacity: 0;
        }
        &-link {
          opacity: 1;
        }
      }
    }
  }
  &-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.45;
  }
  &-img {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 30px;
    transition: 300ms;
  }
  &-link {
    position: absolute;
    bottom: 37px;
    left: 30px;
    font-weight: 700;
    color: #fff;
    opacity: 0;
    transition: 300ms;
    span {
      text-decoration: underline;
      margin-right: 11px;
    }
    img {
      width: 32px;
    }
  }
  &-elems {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 18px;
  }
  &-elem {
    padding: 48px 30px 10px;
    background-color: #138253;
    &:first-child {
      flex-shrink: 0;
      min-height: 220px;
      background-color: $green;
    }
    &:last-child {
      flex-grow: 10;
    }
    p {
      margin-bottom: 18px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.56;
      color: #fff;
    }
    &__tel {
      font-size: 32px;
      font-weight: 700;
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .applicants {
    margin-bottom: 50px;
    &-elems {
      width: 330px;
    }
  }
}
@media screen and (max-width: 991px) {
  .applicants {
    padding-top: 50px;
    .head {
      margin-bottom: 20px;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    &-text {
      margin: 0;
    }
    &-elems {
      width: 280px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    &-elem {
      padding: 26px 16px 10px;
    }
    &-items {
      margin-left: -10px;
    }
    &-item {
      width: 225px;
      margin: 0 0 10px 10px;
      padding: 12px 14px 76px;
    }
    &-title {
      font-size: 20px;
    }
    &-img,
    &-link {
      left: 14px;
    }
  }
}
@media screen and (max-width: 767px) {
  .applicants {
    &-block {
      flex-direction: column;
    }
    &-item {
      width: calc(50% - 10px);
    }
    &-elems {
      width: 100%;
      margin: 0;
    }
    &-elem {
      min-height: 120px !important;
      padding: 18px;
      p {
        margin-bottom: 8px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .applicants {
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      margin: 0 0 10px;
    }
  }
}

// Main contacts

.main-contacts {
  padding: 70px 0 77px;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  &-wrap {
    background-color: #eef9f4;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 53px;
  }
  &-items {
    display: flex;
  }
  &-item {
    position: relative;
    width: 380px;
    margin-right: 60px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      right: -9px;
      bottom: -7px;
      width: 1px;
      background-color: #c6c6c6;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    p {
      margin-bottom: 34px;
      padding-right: 76px;
      line-height: 1.7;
    }
    a {
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__title {
    margin-bottom: 15px;
    color: $green;
    font-size: 22px;
    font-weight: 700;
  }
  &__head {
    margin-bottom: 10px;
    font-weight: 700;
  }
}

@media screen and (max-width: 1336px) {
  .main-contacts {
    &-item {
      width: 310px;
      margin-right: 20px;
      padding-right: 10px;
      &:after {
        right: 0;
      }
      p {
        padding-right: 20px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .main-contacts {
    padding: 50px 0;
    &-header {
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 10px;
      font-size: 18px;
    }
    &__head {
      margin-bottom: 6px;
    }
    &-item {
      width: 33.33%;
      margin-right: 0;
      &:after {
        display: none;
      }
      p {
        padding-right: 0;
        margin-bottom: 18px;
        line-height: 1.35;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .main-contacts {
    &-header {
      margin-bottom: 30px;
    }
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      width: 100%;
      padding-right: 0;
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 12px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .main-contacts {
    .head {
      margin-bottom: 20px;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// Partners

.partners {
  margin: 64px 0 85px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  &-item {
    display: flex !important;
    align-items: flex-start;
    padding-right: 30px;
    img {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      margin-right: 21px;
      margin-top: 6px;
      border-radius: 50%;
      overflow: hidden;
    }
    p {
      margin-bottom: 12px;
      line-height: 1.65;
    }
    a {
      color: $green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .partners {
    &-header {
      margin-bottom: 60px;
    }
    &-item {
      padding-right: 18px;
      p {
        margin-bottom: 8px;
        line-height: 1.3;
      }
      img {
        margin-right: 12px;
        margin-top: 0;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .partners {
    margin: 50px 0;
    .head {
      margin-bottom: 20px;
    }
    &-header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
    }
  }
}

// Slick

.slick {
  &-arrow {
    width: 72px;
    height: 52px;
    border: 1px solid #bababa;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
    text-indent: 9999px;
    &:hover {
      background-position: left;
      border-color: $green;
    }
    &:focus {
      outline: none;
    }
  }
  &-prev {
    margin-right: 10px;
    background-image: url(../images/left.png);
  }
  &-next {
    background-image: url(../images/right.png);
  }
}

// Sidebar

.sidebar {
  flex-shrink: 0;
  width: 260px;
  &-item {
    padding: 27px 10px 22px 20px;
    margin-bottom: 40px;
    border: 1px solid $green;
    border-radius: 6px;
    &__title {
      margin-bottom: 13px;
      font-weight: 700;
      font-size: 20px;
    }
    ul li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 25px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
        width: 15px;
        height: 1px;
        background-color: $green;
      }
      a {
        color: $green;
        line-height: 1.65;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    &-item {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .sidebar {
    &-item ul li {
      margin-bottom: 6px;
    }
  }
}

// Content

.content {
  display: flex;
  align-items: flex-start;
  margin: -10px 0 89px;
  &-wrap .sidebar {
    padding-top: 96px;
  }
  &-body {
    flex-grow: 10;
    margin-right: 60px;
  }
  &-head {
    margin-right: 40px;
    font: 800 54px/1.37 'Merriweather';
  }
  &-section {
    .head {
      margin-bottom: 22px;
      line-height: 1.37;
    }
    > img {
      display: block;
      margin-bottom: 31px;
    }
    p {
      margin-bottom: 28px;
      line-height: 1.75;
      &:last-child {
        margin-bottom: 0;
      }
      b {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.55;
      }
    }
  }
  &-items {
    margin-bottom: 60px;
  }
  &-item {
    padding: 35px 0 31px;
    border-bottom: 1px solid #bababa;
    a {
      margin-bottom: 31px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.45;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 0;
      line-height: 1.75;
    }
  }
}

@media screen and (max-width: 1336px) {
  .content {
    &-body {
      margin-right: 40px;
    }
    &-head {
      margin-right: 0;
      font-size: 50px;
    }
    &-item {
      a {
        margin-bottom: 12px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .content {
    margin: 0 0 60px;
    &-wrap .sidebar {
      padding-top: 0;
    }
    &-body {
      margin-right: 20px;
    }
    &-head {
      font-size: 40px;
    }
    &-section {
      .head {
        line-height: 1.2;
      }
      > img {
        margin-bottom: 18px;
      }
      p {
        margin-bottom: 12px;
        line-height: 1.5;
        b {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }
    &-items {
      margin-bottom: 40px;
    }
    &-item {
      padding: 20px 0;
      p {
        line-height: 1.45;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .content {
    flex-direction: column;
    margin-bottom: 40px;
    &-body {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 575px) {
  .content {
    &-head {
      font-size: 32px;
    }
    &-items {
      margin-bottom: 30px;
    }
    &-item {
      a {
        margin-bottom: 8px;
        font-size: 18px;
      }
    }
  }
}

// Structure

.structure {
  .head {
    margin-bottom: 23px;
    line-height: 1.37;
  }
  &-wrap .content {
    margin-bottom: 32px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
  }
  &-item {
    width: 300px;
    margin: 0 0 30px 20px;
    padding: 23px 26px 34px;
    border: 2px solid $green;
    &__title {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 16px;
    }
    ul li {
      margin-bottom: 17px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 18px;
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .structure {
    &-item {
      width: calc(50% - 20px);
      padding: 16px 12px 26px;
      margin-bottom: 20px;
      &__title {
        font-size: 18px;
      }
      ul li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .structure {
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      margin: 0 0 10px;
      padding: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      &__title {
        margin-bottom: 11px;
      }
      ul li {
        margin-bottom: 14px;
      }
    }
  }
}

// Directory

.directory {
  margin: -10px 0 80px;
  .head {
    margin-bottom: 30px;
    line-height: 1.37;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px -59px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 59px);
    margin: 0 0 60px 59px;
    padding: 21px 27px 38px;
    border: 2px solid $green;
    background-color: #ffffff;
    &__title {
      margin-bottom: 33px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.35;
      color: #000;
      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }
    ul li {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-size: 18px;
        line-height: 1.56;
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-body {
    flex-grow: 10;
    margin-bottom: 31px;
  }
  &-link {
    flex-shrink: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1336px) {
  .directory {
    margin: 0 0 50px;
    &-items {
      margin-left: -20px;
    }
    &-item {
      width: calc(33.33% - 20px);
      margin: 0 0 20px 20px;
      padding: 20px 12px 26px;
      &__title {
        margin-bottom: 20px;
      }
      ul li {
        margin-bottom: 14px;
      }
    }
    &-body {
      margin-bottom: 22px;
    }
  }
}
@media screen and (max-width: 991px) {
  .directory {
    &-items {
      margin-left: -12px;
    }
    &-item {
      width: calc(33.33% - 12px);
      margin: 0 0 16px 12px;
      padding-bottom: 18px;
      &__title {
        font-size: 20px;
      }
      ul li {
        margin-bottom: 10px;
        a {
          font-size: 16px;
        }
      }
    }
    &-body {
      margin-bottom: 18px;
    }
    &-link .link {
      padding: 0 8px;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 767px) {
  .directory {
    &-item {
      width: calc(50% - 12px);
    }
  }
}
@media screen and (max-width: 575px) {
  .directory {
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      margin-left: 0;
    }
  }
}

// Contacts

.contacts {
  margin-bottom: 120px;
  .head {
    margin-bottom: 32px;
  }
  &-body {
    display: flex;
    min-height: 420px;
    margin-bottom: 12px;
    background-color: #eef9f4;
  }
  &-map {
    flex-grow: 10;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &-content {
    flex-shrink: 0;
    width: 440px;
    padding: 65px 50px 20px 60px;
    &__title {
      margin-bottom: 14px;
      font-size: 22px;
      font-weight: 700;
      color: $green;
    }
    &__head {
      margin-bottom: 8px;
      font-weight: 700;
    }
    &__address {
      margin-bottom: 33px;
      line-height: 1.75;
    }
    a {
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
    margin-bottom: 32px;
  }
  &-item {
    position: relative;
    width: 390px;
    margin: 49px 0 49px 45px;
    padding-right: 10px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      right: 0;
      bottom: -22px;
      width: 1px;
      background-color: #c6c6c6;
    }
    &:nth-child(3n):after {
      display: none;
    }
    &__title {
      margin-bottom: 12px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.55;
    }
    &__tel {
      margin-bottom: 17px;
      font-size: 18px;
      color: #000;
      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }
    &__mail {
      font-size: 18px;
      text-decoration: underline;
      color: $green;
      &:hover {
        color: $green;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .contacts {
    margin-bottom: 80px;
    &-body {
      min-height: 380px;
    }
    &-content {
      width: 360px;
      padding: 45px 20px 20px 26px;
    }
    &-items {
      margin-left: -20px;
    }
    &-item {
      width: 310px;
      margin: 36px 0 36px 20px;
    }
  }
}
@media screen and (max-width: 991px) {
  .contacts {
    &-content {
      width: 300px;
    }
    &-item {
      width: calc(33.33% - 20px);
      margin: 26px 0 26px 20px;
      &__title {
        font-size: 20px;
        line-height: 1.3;
      }
      &__tel {
        margin-bottom: 8px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 60px;
    &-body {
      flex-direction: column;
      min-height: 100%;
    }
    &-map {
      height: 260px;
    }
    &-content {
      width: 100%;
      padding: 20px;
      &__address {
        margin-bottom: 12px;
        line-height: 1.55;
      }
    }
    &-item {
      width: calc(50% - 20px);
      &:after {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .contacts {
    &-body {
      margin-bottom: 30px;
    }
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      margin: 0 0 20px;
      text-align: center;
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}

// Article

.article {
  margin-bottom: 10px;
  &-body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 45px;
  }
  &-info {
    flex-shrink: 0;
    width: 140px;
    margin-right: 20px;
    .news-date {
      display: flex;
      align-items: center;
      margin-bottom: 69px;
      > div {
        flex-shrink: 0;
        margin-right: 12px;
        font-size: 42px;
      }
    }
    .soc {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
      li {
        margin: 0 0 25px;
      }
    }
  }
  &-content {
    flex-grow: 10;
    max-width: 940px;
    > img {
      margin-bottom: 31px;
    }
    p {
      margin-bottom: 28px;
      line-height: 1.75;
      b {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.55;
      }
    }
  }
  &-title {
    margin-bottom: 22px;
    font: 800 34px/1.4 'Merriweather';
  }
  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    li {
      margin: 0 12px 6px 0;
      font-size: 14px;
        font-weight: 700;
      a {
        font-size: 14px;
        font-weight: 700;
        color: $green;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-footer {
    margin-top: 48px;
  }
}

.article-section {
  position: relative;
  padding-top: 69px;
  border-top: 1px solid #bababa;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 460px;
    height: 5px;
    background-color: #20b777;
  }
  .news {
    &-items {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .article {
    &-body {
      margin-bottom: 25px;
    }
    &-content {
      > img {
        margin-bottom: 22px;
      }
      p {
        margin-bottom: 14px;
        line-height: 1.5;
        b {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }
    &-footer {
      margin-top: 32px;
    }
    &-section {
      padding-top: 58px;
    }
  }
}
@media screen and (max-width: 767px) {
  .article {
    &-body {
      flex-direction: column;
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;  
      width: 100%;
      margin: 0 0 20px;
      .news-date {
        margin-bottom: 0;
      }
      .soc {
        flex-direction: row;
        margin: 0;
        li {
          margin: 0 20px 0 0;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &-title {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 575px) {
  .article {
    &-body {
      margin-bottom: 16px;
    }
    &-info {
      flex-direction: column;
      align-items: flex-start;
      .news-date {
        margin-bottom: 10px;
      }
    }
    &-title {
      font-size: 28px;
    }
    &-footer {
      margin-top: 24px;
    }
    &-section {
      padding-top: 44px;
    }
  }
}

// Center

.center {
  margin-bottom: 49px;
  .head {
    margin-bottom: 32px;
  }
  &-content {
    max-width: 940px;
    margin: 0 auto 76px;
    p {
      margin-bottom: 28px;
      line-height: 1.75;
      b {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.55;
      }
    }
  }
}
.center-item {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: flex-end;
  min-height: 480px;
  padding: 27px 60px 0;
  margin-bottom: 41px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .5);
  }
  &-img {
    flex-shrink: 0;
    width: 320px;
    max-height: 453px;
    margin-right: 100px;
  }
  &-content {
    max-width: 640px;
    margin-bottom: 60px;
    color: #fff;
    p {
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.56;
    }
  }
  &__title {
    margin-bottom: 27px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.56;
  }
}
.center-direction {
  position: relative;
  padding-top: 72px;
  border-top: 1px solid #bababa;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 460px;
    height: 5px;
    background-color: $green;
  }
  .head {
    margin-bottom: 53px;
  }
  .applicants {
    &-items {
      margin-left: -60px;
    }
    &-item {
      width: calc(33.33% - 60px);
      margin: 0 0 50px 60px;
    }
  }
}

@media screen and (max-width: 1336px) {
  .center {
    &-item {
      &-img {
        margin-right: 60px;
      }
      &-content {
        margin-bottom: 20px;
      }
    }
  }
  .center-direction {
    .head {
      margin-bottom: 40px;
    }
    .applicants {
      &-items {
        margin-left: -20px;
      }
      &-item {
        width: calc(33.33% - 20px);
        margin: 0 0 20px 20px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .center {
    .head {
      margin-bottom: 28px;
    }
    &-item {
      padding: 20px 20px 0;
      margin-bottom: 22px;
      &-img {
        width: 300px;
        margin-right: 30px;
      }
      &-content {
        p {
          margin-bottom: 16px;
          font-size: 16px;
        }
      }
      &__title {
        margin-bottom: 24px;
      }
    }
    &-content {
      margin-bottom: 46px;
      p {
        margin-bottom: 16px;
        line-height: 1.5;
        b {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }
    &-direction {
      padding-top: 52px;
    }
  }
}
@media screen and (max-width: 767px) {
  .center {
    margin-bottom: 30px;
    &-item {
      align-items: flex-start;
      min-height: 360px;
      padding-top: 30px;
      &-img {
        display: none;
      }
    }
  }
  .center-direction .applicants-item {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 575px) {
  .center-direction .applicants {
    &-items {
      margin-left: 0;
    }
    &-item {
      width: 100%;
      margin: 0 0 20px;
    }
  }
}

// About

.about {
  display: flex;
  align-items: flex-start;
  margin-bottom: 21px;
  .sidebar {
    margin-top: 9px;
  }
  &-wrap .head {
    margin-bottom: 23px;
  }
  &-body {
    flex-grow: 10;
    margin-right: 60px;
    > img {
      margin-bottom: 33px;
    }
    p {
      margin-bottom: 31px;
      line-height: 1.75;
      b {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.55;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .about {
    &-body {
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 991px) {
  .about {
    &-body {
      margin-right: 20px;
      > img {
        margin-bottom: 22px;
      }
      p {
        margin-bottom: 14px;
        line-height: 1.5;
        b {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    &-body {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

// In numbers

.in-numbers {
  padding: 71px 0 59px;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  .head {
    margin-bottom: 55px;
  }
  &-wrap {
    background-color: #eef9f4;
  }
  &-body {
    display: flex;
    align-items: flex-start;
  }
  &-tabs {
    flex-shrink: 0;
    width: 260px;
    margin-right: 59px;
    li {
      margin-bottom: 20px;
      &.active a {
        background-color: #fff;
        color: $green;
      }
      a {
        width: 100%;
        padding: 0 18px;
        border-radius: 6px;
        border: 1px solid $green;
        background-color: $green;
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
        color: #ffffff;
        &:hover {
          background-color: #fff;
          color: $green;
        }
      }
    }
  }
  &-items {
    flex-grow: 10;
    margin-top: -5px;
  }
  &-item p {
    margin-bottom: 28px;
    line-height: 1.75;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1336px) {
  .in-numbers {
    padding-top: 60px;
    .head {
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 991px) {
  .in-numbers {
    padding: 50px 0 44px;
    &-tabs {
      margin-right: 20px;
    }
    &-item p {
      margin-bottom: 14px;
      line-height: 1.5;
    }
  }
}
@media screen and (max-width: 767px) {
  .in-numbers {
    padding: 40px 0 34px;
    .head {
      margin-bottom: 30px;
    }
    &-body {
      flex-direction: column;
    }
    &-tabs {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      li {
        margin-bottom: 10px;
        a {
          font-size: 20px;
        }
      }
    }
  }
}