$pink: #af3a65;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 500 14px 'Museo Sans Cyrl', sans-serif;
}

a {
  font: 500 14px 'Museo Sans Cyrl', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}

.head {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Book Antiqua";
  font-size: 32px;
  font-weight: 700;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}


/* Header */

.info {
  padding: 13px 0 12px;
  &-wrap {
    background-color: $pink;
  }
  &-content {
    float: right;
    .login {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
        a {
          color: #fae8e3;
          border-bottom: 1px solid transparent;
          &:hover {
            border-bottom: 1px solid #fae8e3;
          }
        }
      }
    }
    .social {
      display: inline-block;
      vertical-align: middle;
      a {
        margin-right: 6px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.main-nav {
  float: left;
  margin-top: 5px;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    a {
      color: #fae8e3;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #fae8e3;
      }
    }
  }
}

.header {
  padding: 26px 0 18px;
}

.logo {
  float: left;
  margin-right: 107px;
  img {
    width: 300px;
  }
}

.search {
  float: left;
  margin: 7px 110px 0 0;
  &-input {
    width: 260px;
    position: relative;
    input {
      width: 100%;
      height: 38px;
      border: 1px solid #c2c2c2;
      padding: 0 40px 0 16px;
      margin-bottom: 12px;
      font-weight: 300;
      font-size: 16px;
      color: #000;
      font-family: inherit;
      &::-webkit-input-placeholder {
        color: #000;
      }
      &:-moz-placeholder {
        color: #000;
      }
      &::-moz-placeholder {
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    button {
      background: none;
      border: none;
      position: absolute;
      right: 13px;
      top: 11px;
      cursor: pointer;
      &:before {
        content: "\e918";
        font-family: 'icomoon' !important;
        display: block;
        font-size: 18px;
        color: #999;
      }
    }
  }
}

.callback {
  float: left;
  padding: 16px 0 0 0;
  &-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
    a {
      font-weight: 900;
      font-size: 18px;
      color: #000;
      margin-bottom: 8px;
      display: block;
    }
    .callback__modal {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cart {
  float: right;
  margin-top: 10px;
  position: relative;
  span {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 14px;
    left: -9px;
    z-index: 5;
    background: #0099da;
    line-height: 26px;
    width: 26px;
    text-align: center;
    border-radius: 50%;
  }
  i {
    font-size: 44px;
    color: #000;
  }
}


/* Nav */

.nav {
  &__list {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: #fff;
    &:hover .nav__link {
      color: $pink;
    }
    &:hover .nav-sub {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
    &_popular {
      margin-right: 22px;
      a {
        color: #fae8e3 !important;
        background: $pink;
        padding: 0 22px;
        &:hover {
          background: #973257;
        }
        &:after {
          display: none;
        }
      }
    }
  }
  &__link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    line-height: 50px;
    padding: 0 60px 0 0;
    position: relative;
    &:hover {
      color: $pink;
    }
    &:after {
      font-family: 'icomoon' !important;
      content: "\e917";
      display: block;
      position: absolute;
      right: 40px;
      top: 0px;
      transform: rotate(-90deg);
      font-size: 14px;
      color: #b2b2b2;
    }
  }
  &-sub {
    position: absolute;
    top: 100%;
    right: 0;
    left: -16px;
    z-index: -1;
    padding: 14px 14px 12px;
    border: 1px solid #c2c2c2;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    margin-top: -7px;
    background: #fff;
    a {
      font-size: 16px;
      color: $pink;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        color: #000;
      }
    }
  }
}

.burger-wrap {
  display: none;
}


/* Filter */

.filter {
  padding: 17px 0;
  &-wrap {
    background-color: #fae8e3;
  }
  &-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    > span {
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 14px;
      display: inline-block;
      vertical-align: middle;
    }
    select {
      width: 220px;
      height: 45px;
      padding-left: 19px;
      border: 1px solid #c2c2c2;
    }
  }
  button {
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 45px;
    color: #fff;
    background: $pink;
    border: none;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background: #8a1540;
    }
  }
}


/* Showcase */

.showcase {
  &-main {
    float: left;
    width: 50%;
    padding-right: 15px;
    position: relative;
    &-content {
      text-align: center;
      transform: translateY(-50%);
      padding: 0 83px;
      position: absolute;
      top: 50%;
      p {
        font-size: 28px;
        font-family: "Book Antiqua";
        font-weight: 700;
        color: #fff;
        line-height: 1.7;
      }
    }
    &__head {
      font-family: "Book Antiqua";
      font-weight: 700;
      font-size: 48px;
      color: #fff;
      margin-bottom: 10px;
    }
  }
  &-items {
    float: right;
    width: 50%;
    padding-left: 15px;
  }
  &-item {
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    &__img {
      float: left;
      width: 305px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background-color: $pink;
        position: absolute;
        top: 27px;
        right: -28px;
      }
    }
    &-content {
      float: right;
      width: 293px;
      margin-top: 12px;
      p {
        color: #1a171e;
        font-size: 16px;
        line-height: 1.5;
        a {
          color: #0099da;
          font-size: 16px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &_reverse {
      .showcase-item__img {
        float: right;
      }
      .showcase-item-content {
        float: left;
      }
      .showcase-item__img:before {
        position: absolute;
        top: 30px;
        right: auto;
        left: -30px;
      }
    }
    &__head {
      color: #1a171e;
      font-family: "Book Antiqua";
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 10px;
      &:hover {
        color: $pink;
      }
    }
  }
}


/* Video */

.video {
  text-align: center;
  padding: 65px 0 60px;
  &__caption {
    margin-bottom: 40px;
  }
  iframe {
    width: 880px;
    height: 520px;
    border: none;
  }
}


/* Main journal */

.main-journal {
  padding: 39px 0 57px 0;
  margin-bottom: 68px;
  &-wrap {
    background-color: #e6f5fc;
  }
  &__head {
    margin-bottom: 35px;
  }
  &-items {
    font-size: 0;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    &:nth-child(3n) {
      margin-right: 0;
    }
    p {
      color: #010101;
      font-size: 14px;
      line-height: 1.5;
      padding-bottom: 25px;
      font-weight: 300;
    }
  }
  &__date {
    display: inline-block;
    color: #010101;
    font-size: 14px;
    margin: 22px 20px 10px 0;
    font-weight: 300;
    position: relative;
  }
  &__link {
    color: $pink;
    font-size: 14px;
    text-decoration: underline;
  }
  &__name {
    color: #000;
    font-family: "Book Antiqua";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.2;
    display: block;
    &:hover {
      color: $pink;
    }
  }
  &__arrow {
    display: block;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 7px 0;
    i {
      font-size: 10px;
      display: inline-block;
      transform: rotate(180deg);
      color: $pink;
    }
  }
}


/* Footer */

.footer {
  padding: 40px 0 22px 0;
  &-info {
    margin: 0 15px 27px 15px;
  }
  &-wrap {
    background-color: #fae8e3;
  }
  &-logo {
    float: left;
    margin-right: 80px;
    margin-top: -11px;
    img {
      width: 300px;
    }
  }
  &-callback {
    float: left;
    &-item {
      margin-right: 65px;
      display: inline-block;
      vertical-align: middle;
      p {
        padding-bottom: 8px;
      }
      a {
        font-weight: 900;
        font-size: 16px;
        color: #000;
      }
    }
  }
  &-address {
    float: left;
    margin: 0 0 0 16px;
    p {
      padding-bottom: 8px;
    }
    a {
      color: #0099da;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 900;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-social {
    float: right;
    p {
      padding-bottom: 6px;
    }
    a {
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-nav {
    margin: 0 15px;
  }
  &-menu {
    float: left;
    ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 70px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__list {
      margin-bottom: 7px;
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-payment {
    float: right;
    margin-top: -8px;
  }
}


/* Bot-line */

.bot-line {
  padding: 18px 0;
  &-wrap {
    background-color: $pink;
  }
}

.copy {
  float: left;
  color: #fae8e3;
}

.omg {
  float: right;
  color: #fae8e3;
  a {
    text-decoration: underline;
    color: #fae8e3;
    &:hover {
      text-decoration: none;
    }
  }
}


/* Bread */

.bread {
  margin-bottom: 20px;
  margin-top: 30px;
  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:after {
      content: '/';
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      font-weight: 300;
    }
    &:last-child:after {
      display: none;
    }
    a {
      font-weight: 300;
      color: $pink;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Payment */

.payment {
  &__head {
    margin-bottom: 18px;
  }
  &-header {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    a {
      font-weight: 800;
      text-transform: uppercase;
      color: $pink;
      text-decoration: underline;
      margin: 0 3px;
      &:hover {
        text-decoration: none;
      }
      &.active {
        color: #000;
        text-decoration: none;
      }
    }
  }
  &-content-wrap {
    float: left;
    max-width: 900px;
  }
}

.payment-content {
  margin-bottom: 40px;
  border-bottom: 1px solid $pink;
  &:last-child {
    border-bottom: 0;
  }
  &__head {
    font-size: 24px;
    font-family: 'Book Antiqua';
    margin-bottom: 57px;
    font-weight: bold;
  }
}

.payment-item {
  margin-bottom: 90px;
  i {
    width: 180px;
    text-align: center;
    font-size: 75px;
    float: left;
    color: $pink;
  }
  &-content {
    margin-left: 200px;
  }
  &__head {
    position: relative;
    padding-left: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 7px;
    &:before {
      content: '';
      width: 13px;
      height: 2px;
      background: $pink;
      position: absolute;
      left: 0px;
      top: 6px;
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
  }
}

.payment-sidebar {
  float: right;
  width: 311px;
  &-item {
    background: #e6f5fc;
    padding: 30px 25px 35px;
    margin-bottom: 60px;
  }
  &__head {
    font-size: 24px;
    font-family: 'Book Antiqua';
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 27px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }
}


/* Contacts */

.contacts {
  &-items {
    font-size: 0;
    margin-bottom: 45px;
    margin-top: 35px;
  }
  &-item {
    height: 200px;
    border: 1px solid #af3a65;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 23.5%;
    margin-right: 2%;
    text-align: center;
    padding-top: 33px;
    &:last-child {
      margin-right: 0;
    }
    &__icon {
      margin-bottom: 25px;
      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 60px;
        color: $pink;
      }
    }
    &__head {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      margin-bottom: 12px;
    }
    &__text {
      font-size: 18px;
    }
  }
  &__text {
    text-align: center;
    padding: 0 120px;
    p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }
  &-map {
    height: 420px;
    margin-bottom: 65px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}


/* Journal */

.journal {
  .main-journal__date {
    &:after {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      right: -12px;
    }
  }
  .main-journal-item {
    margin-bottom: 45px;
  }
  &-links {
    margin-bottom: 36px;
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 27px;
      position: relative;
      &:after {
        content: '/';
        display: block;
        position: absolute;
        top: 0;
        right: -16px;
        font-weight: 900;
      }
      &:last-child:after {
        display: none;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #af3a65;
        font-size: 14px;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 2px;
        &:hover {
          text-decoration: none;
        }
        &.active {
          color: #000;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}


/* Pagination */

.pagination {
  text-align: center;
  padding: 22px 0 65px;
  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:first-child,
    &:last-child {
      margin: 0 15px;
      a:hover {
        text-decoration: none;
      }
    }
    &:after {
      content: '/';
      display: inline-block;
      color: $pink;
      margin: 0 15px;
      font-weight: 700;
    }
    &:last-child:after,
    &:nth-last-child(2):after,
    &:first-child:after {
      display: none;
    }
    a {
      color: $pink;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 900;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: #000;
        font-family: "Book Antiqua";
        font-size: 32px;
        font-weight: 700;
        margin-top: -12px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(9) {
      transform: rotate(180deg);
    }
  }
  i {
    color: $pink;
    font-size: 10px;
  }
}


/* Article */

.article {
  float: left;
  width: 64%;
  h2 {
    font-family: "Book Antiqua";
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
  }
  &__date {
    display: inline-block;
    vertical-align: top;
    color: #010101;
    font-weight: 300;
    margin-bottom: 30px;
  }
  span {
    font-weight: 900;
    padding: 0 9px;
    text-transform: uppercase;
  }
  &__cat {
    display: inline-block;
    vertical-align: top;
    color: $pink;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 30px;
    font-weight: 300;
    &:nth-child(5) {
      padding-top: 30px;
    }
  }
  &-header {
    padding: 26px 0 56px;
  }
  &-social {
    float: left;
    a {
      margin-right: 15px;
    }
  }
  &__back {
    float: right;
    color: $pink;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 6px;
    i {
      font-size: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-top: -2px;
    }
    &:hover {
      color: #8a1540;
    }
  }
  &-sidebar {
    float: right;
    width: 32%;
    padding-top: 38px;
    h2 {
      font-family: "Book Antiqua";
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 33px;
    }
    .main-journal-item {
      width: 100%;
      margin-bottom: 40px;
      margin-right: 0;
    }
    .main-journal__arrow {
      padding: 0;
    }
  }
}


/* About */

.about {
  padding: 0 114px;
  text-align: center;
  .head-about {
    margin-bottom: 10px;
  }
  .caption-about {
    padding-bottom: 35px;
  }
  h3 {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 45px 0 28px;
  }
  p {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 30px;
  }
}


/* Client */

.client {
  .about {
    padding-bottom: 30px;
  }
  &-gallery {
    font-size: 0;
    padding-top: 50px;
    padding-bottom: 43px;
    border-bottom: 1px solid #af3a65;
    margin-bottom: 64px;
    a {
      display: inline-block;
      vertical-align: top;
      width: 32%;
      margin-right: 2%;
      margin-bottom: 30px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  &-items {
    font-size: 0;
    padding-bottom: 67px;
  }
}


/* Best */

.best-wrap_withoutpadding {
  .best {
    padding-top: 0;
  }
}

.best {
  padding-top: 55px;
  padding-bottom: 55px;
  &-items {
    font-size: 0;
    padding-top: 40px;
  }
  &-item {
    width: 32%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    position: relative;
    margin-bottom: 50px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      .best-item__cover {
        opacity: 1;
      }
    }
    &__already {
      text-align: right;
      color: #8f8f8f;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      padding-right: 10px;
      margin-bottom: 17px;
    }
    &-icons {
      position: absolute;
      top: 30px;
      right: 0;
      width: 64px;
      i {
        width: 100%;
        text-align: center;
        color: #999;
        display: block;
        margin-bottom: 18px;
        font-size: 30px;
        &:first-child {
          font-size: 20px;
        }
      }
    }
    &__img {
      margin-right: 66px;
      position: relative;
      margin-bottom: 20px;
      &:hover + a {
        background: $pink;
        span {
          opacity: 1;
        }
        i {
          color: #fff;
        }
      }
    }
    &__cover {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, .4);
      transition: 300ms;
      opacity: 0;
    }
    &__badge {
      position: absolute;
      left: 20px;
      top: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #010101;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      z-index: 100;
      &.hit {
        background: #0099da;
        color: #fff;
      }
      &.sale {
        background: #fcc1b1;
      }
      &.new {
        background: #f08eb2;
      }
    }
    &__order {
      position: absolute;
      top: 365px;
      right: 0;
      background: none;
      transition: 300ms;
      &:hover {
        background: $pink;
        i {
          color: #fff;
        }
        span {
          opacity: 1;
        }
      }
      i {
        font-size: 35px;
        color: $pink;
        width: 66px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        transition: 300ms;
      }
      span {
        opacity: 0;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        padding-left: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        transition: 300ms;
      }
    }
    &-collection {
      margin-bottom: 13px;
      a {
        float: left;
        color: #8f8f8f;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        &:hover {
          color: #000;
        }
      }
      span {
        float: right;
        text-decoration: line-through;
        color: #8e8e8e;
        font-size: 16px;
        margin-right: 22px;
      }
    }
    &-name {
      a {
        float: left;
        color: $pink;
        font-size: 28px;
        font-family: 'Book Antiqua';
        font-weight: bold;
        &:hover {
          color: #9d1849;
        }
      }
      span {
        float: right;
        color: #8e8e8e;
        font-size: 24px;
        font-weight: bold;
        margin-right: 22px;
        color: #000;
        margin-top: 4px;
      }
    }
  }
  &-link {
    text-align: center;
    a {
      border: 1px solid #af3a65;
      line-height: 48px;
      padding: 0 25px;
      color: $pink;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.5px;
      &:hover {
        background: $pink;
        color: #fff;
      }
    }
  }
}


/* Select */

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 0;
  height: 45px;
  margin-right: 0;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Museo Sans Cyrl';
  text-transform: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 41px;
  width: 220px;
  padding-right: 0;
  color: #000;
  padding-left: 15px;
}

.select2-container {
  margin-right: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 14px;
  right: 9px;
  b {
    display: none;
  }
  &:before {
    content: "\e917";
    font-family: 'icomoon' !important;
    font-size: 18px;
    transform: rotate(-90deg);
    display: inline-block;
    color: #999;
  }
}

.select2-search--dropdown {
  display: none;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 330px;
}

.select2-results__option {
  padding: 10px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: $pink;
}


/* Main links */

.main-links {
  font-size: 0;
  &-wrap {
    margin-top: 24px;
    padding-bottom: 65px;
  }
  &_margin {
    padding-bottom: 75px;
  }
  &-item {
    font-size: 16px;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    border: 1px solid #b7b7b7;
    transition: 300ms;
    position: relative;
    padding: 33px 0 0 0;
    text-align: center;
    height: 140px;
    color: #0a0a0a;
    &:hover {
      color: $pink;
      .main-links__icon i {
        color: $pink;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    > i {
      font-size: 10px;
      transform: rotate(180deg);
      display: inline-block;
    }
  }
  &__icon {
    position: absolute;
    top: -23px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    background: #fff;
    i {
      color: #b7b7b7;
      font-size: 45px;
      line-height: 45px;
      transition: 300ms;
      &.icon-10 {
        font-size: 30px;
      }
    }
  }
  &__head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 23px;
  }
}


/* Product */

.product {
  padding-bottom: 60px;
  margin-bottom: 50px;
  border-bottom: 1px solid #af3a65;
  &-gallery {
    float: left;
    width: 49%;
    &__main {
      margin-bottom: 29px;
    }
    &__item {
      a {
        margin-right: 32px;
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &-info {
    float: right;
    width: 46%;
  }
  &-item {
    padding-bottom: 30px;
    padding-top: 28px;
    border-bottom: 1px solid #c2c2c2;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(2) {
      padding-bottom: 10px;
    }
    &__cat {
      color: #8f8f8f;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 19px;
      letter-spacing: 2px;
      font-weight: 700;
      &:hover {
        color: #000;
      }
    }
    &__head {
      font-family: "Book Antiqua";
      font-size: 48px;
      font-weight: 700;
      padding-bottom: 18px;
    }
    &__comp {
      font-size: 16px;
      padding-bottom: 16px;
      b {
        margin-right: 10px;
      }
    }
    &__charact {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
      font-size: 16px;
      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      p {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &-head {
      color: #8f8f8f;
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 28px;
      letter-spacing: 2px;
      font-weight: 700;
    }
    &__em {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      padding-right: 54px;
      i {
        display: inline-block;
        width: 45px;
        margin-right: 22px;
      }
      p {
        display: inline-block;
        vertical-align: top;
        color: #8f8f8f;
        font-size: 16px;
        padding-bottom: 18px;
      }
    }
    &__input {
      display: inline-block;
      border: 1px solid #c2c2c2;
      margin-right: 135px;
      margin-bottom: 34px;
      font-size: 0;
      span {
        display: inline-block;
        color: #aaa;
        font-size: 24px;
        padding: 0 15px;
        line-height: 50px;
        cursor: pointer;
      }
      input {
        text-align: center;
        line-height: 50px;
        border: none;
        width: 68px;
        font-size: 24px;
        font-weight: 700;
        border-left: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2;
      }
    }
    &__price {
      display: inline-block;
      font-size: 34px;
      font-weight: 900;
    }
    &__link {
      color: #fff;
      font-size: 16px;
      line-height: 50px;
      text-transform: uppercase;
      background: $pink;
      padding: 0 14px 0 24px;
      font-weight: 900;
      margin-right: 102px;
      letter-spacing: 2px;
      &:hover {
        background: #8a1540;
      }
      i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        font-size: 32px;
        margin-top: -7px;
      }
    }
    &__order {
      color: $pink;
      font-size: 16px;
      line-height: 48px;
      text-transform: uppercase;
      padding: 0 20px;
      font-weight: 900;
      border: 2px solid #af3a65;
      letter-spacing: 2px;
      &:hover {
        color: #fff;
        background: $pink;
      }
    }
  }
  &-bonus {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 10px;
    }
    &:last-child {
      padding-left: 65px;
    }
    &__head {
      font-size: 16px;
      text-transform: uppercase;
      padding-bottom: 15px;
      letter-spacing: 2px;
    }
    &__sum {
      color: $pink;
      font-size: 34px;
    }
    p {
      line-height: 1.6;
      padding-bottom: 10px;
    }
    a {
      color: $pink;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-descr {
    &__head {
      font-size: 16px;
      text-transform: uppercase;
      padding-bottom: 15px;
      letter-spacing: 2px;
      font-weight: 900;
    }
    p {
      line-height: 1.6;
    }
  }
}

.price {
  &-items {
    font-size: 0;
    padding-bottom: 60px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin-right: 2.6%;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
    &__img {
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
    &__head {
      display: inline-block;
      font-family: "Book Antiqua";
      font-size: 22px;
      font-weight: 700;
      margin: 27px 22px 28px 0;
      color: #000;
      &:hover {
        color: $pink;
      }
    }
    span {
      font-size: 22px;
      font-weight: 900;
    }
    &__link {
      color: $pink;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/* Basket */

.basket {
  &-form {
    float: left;
    width: 66%;
    margin-bottom: 80px;
//    table {
//      border-collapse: collapse;
//      width: 100%;
//      thead {
//        tr {
//          th {
//            color: #949494;
//            font-size: 14px;
//            text-transform: uppercase;
//            padding-bottom: 16px;
//            &:first-child {
//              width: 500px;
//              text-align: left;
//            }
//            &:nth-child(2) {
//              width: 130px;
//            }
//            &:nth-child(3) {
//              width: 125px;
//            }
//            &:nth-child(4) {
//              width: 100px;
//            }
//            &:last-child {
//              width: 17px;
//            }
//          }
//        }
//      }
//      tbody {
//        tr {
//          td {
//            border-top: 1px solid #c2c2c2;
//            vertical-align: top;
//            text-align: center;
//            &:first-child {
//              text-align: left;
//            }
//            &:nth-child(2) {
//              padding-top: 20px;
//            }
//            &:nth-child(3),
//            &:nth-child(4),
//            &:last-child {
//              padding-top: 28px;
//              font-size: 18px;
//              text-transform: uppercase;
//            }
//          }
//        }
//      }
//    }
  }
  &__close {
    background: url(../images/basket-table.png) no-repeat left;
    width: 17px;
    height: 18px;
    cursor: pointer;
    &:hover {
      background-position: right;
    }
  }
  &-img {
    padding: 20px 0;
  }
  &-header {
    margin-bottom: 26px;
  }
  &-head {
    display: inline-block;
    vertical-align: top;
    margin: 27px 0 0 30px;
    p {
      font-size: 16px;
    }
  }
  &__caption {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 7px;
    &:hover {
      color: $pink;
    }
  }
  &-input {
    display: inline-block;
    border: 1px solid #c2c2c2;
    text-align: center;
    font-size: 0;
    span {
      display: inline-block;
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
      padding: 0 12px;
      cursor: pointer;
    }
    input {
      display: inline-block;
      width: 32px;
      line-height: 32px;
      text-align: center;
      border: none;
      border-left: 1px solid #c2c2c2;
      border-right: 1px solid #c2c2c2;
    }
  }
  &-delivery {
    padding-top: 36px;
    padding-bottom: 50px;
    &__head {
      color: #949494;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900;
      float: left;
    }
  }
  &-content {
    margin-left: 196px;
    .radio {
      float: left;
      margin-right: 15px;
      margin-top: 5px;
      width: 14px;
      height: 14px;
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 100;
        cursor: pointer;
        &:checked + span:before {
          opacity: 1;
        }
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #959595;
        border-radius: 50%;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $pink;
          opacity: 0;
          border: 1px solid #959595;
          border-radius: 50%;
          transition: 300ms;
        }
      }
    }
  }
  &-radio {
    margin-bottom: 18px;
    label {
      font-size: 16px;
      margin-left: 30px;
      display: block;
      cursor: pointer;
      line-height: 1.5;
      span {
        color: #949494;
        display: block;
        line-height: 1.5;
      }
    }
  }
  &-bonus {
    margin-bottom: 37px;
    &__mark {
      float: left;
      width: 590px;
      background: #fae8e3;
      padding: 23px 22px 26px;
      p {
        font-size: 18px;
        padding-bottom: 28px;
      }
      > span {
        display: block;
        padding-bottom: 18px;
      }
    }
    &__score {
      float: left;
      width: 290px;
      background-color: $pink;
      padding: 50px 40px 50px 26px;
      span {
        display: block;
        font-size: 24px;
        color: #fff;
        padding-bottom: 8px;
      }
      p {
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
      }
    }
    button {
      color: #fefefe;
      font-size: 14px;
      line-height: 34px;
      text-transform: uppercase;
      border: none;
      background: $pink;
      cursor: pointer;
      padding: 0 16px 0 20px;
      font-weight: 900;
      margin-left: 5px;
      transition: 300ms;
      &:hover {
        background: #8a1540;
      }
    }
  }
  &-checkbox {
    display: inline-block;
    vertical-align: middle;
    label {
      display: inline-block;
      vertical-align: middle;
      margin-right: 18px;
      cursor: pointer;
    }
  }
  &-inputs {
    display: inline-block;
    input {
      width: 78px;
      line-height: 30px;
      border: 1px solid #43525a;
      font-size: 16px;
      padding: 0 14px;
      text-align: right;
    }
  }
  &-add {
    margin-left: 196px;
    margin-bottom: 60px;
    p {
      font-size: 24px;
      line-height: 1.3;
      display: inline-block;
      span {
        color: $pink;
      }
    }
    &__link {
      color: $pink;
      font-size: 16px;
      text-decoration: underline;
      margin-left: 10px;
    }
  }
  &-info {
    float: right;
    width: 32%;
    background: #fcdfd7;
    padding: 25px 30px;
    h3 {
      color: $pink;
      font-size: 24px;
      padding-bottom: 10px;
    }
    table {
      border-collapse: collapse;
    }
    tr {
      &:last-child {
        td {
          padding-top: 10px;
        }
      }
      &:nth-last-child(2) {
        td {
          padding-bottom: 10px;
        }
      }
      td {
        &:first-child {
          width: 283px;
          line-height: 34px;
        }
        &:last-child {
          font-size: 18px;
        }
      }
    }
    &__total {
      font-size: 18px;
      border-top: 1px solid #6f6360;
      text-transform: uppercase;
    }
    &__button {
      text-align: center;
      button {
        color: #fff;
        border: none;
        background: $pink;
        font-size: 14px;
        line-height: 50px;
        text-transform: uppercase;
        padding: 0 27px 0 22px;
        font-weight: 900;
        transition: 300ms;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
          background: #8a1540;
        }
      }
    }
  }
}

.checkbox {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 6px;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #959595;
    border-radius: 50%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background: #af3a65;
      border-radius: 50%;
      opacity: 0;
      transition: 300ms;
    }
  }
}

/* Rack */

.rack {
  display: flex;
  margin-bottom: 80px;
  &_head {
    margin-bottom: 41px;
  }
  &-sidebar {
    width: 424px;
    flex-shrink: 0;
    .basket-info {
      float: none;
      width: 100%;
    }
  }
  &-input {
    margin-bottom: 24px;
    &__first {
      margin-bottom: 18px;
    }
    input,
    textarea {
      width: 100%;
      height: 50px;
      border: 1px solid #c2c2c2;
      padding: 0 16px;
      font: 300 16px 'Museo Sans Cyrl';
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    textarea {
      height: 146px;
      resize: none;
      padding: 11px 16px 16px 18px;
    } 
  }
}

/* Rack content */

.rack-content {
  flex-grow: 10;
  margin-right: 32px;
  margin-top: 30px;
  display: flex;
  &-item {
    flex-shrink: 0;
    width: 424px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__head {
    color: #af3a65;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  &-label {
    margin-bottom: 12px;
    label {
      display: inline-block;
      vertical-align: top;
      position: relative;
      .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3px 10px 0 0;
        &__text {
          padding-left: 25px;
          font-size: 14px;
          line-height: 1.55;
          cursor: pointer;
        }
      }
    }
  }
  &-link {
    text-align: center;
    a {
      transition: 300ms;
      background-color: #af3a65;
      font: 900 14px/50px 'Museo Sans Cyrl';
      text-transform: uppercase;
      padding: 0 60px;
      color: #fff;
      &:hover {
        background-color: #8d1e47;
      }
    }
  }
}

/* Rack par */

.rack-par {
  margin-bottom: 42px;
  &.wish {
    margin-bottom: 38px;
  }
  &.delivery {
    .rack-input {
      display: inline-block;
      vertical-align: top;
      width: 197px;
      margin-right: 26px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.data {
    .rack-content-label {
      margin-bottom: 16px;
    }
    .radius {
      span {
        border-radius: 0;
        &:before {
          border-radius: 0;
        }
      }
    }
  }
}

/* Rack items */

.rack {
  &-items {
    &-wrap {
      background-color: #fcdfd7;
      padding: 30px 24px 0;
      margin-bottom: 2px;
    }
    &__head {
      color: #af3a65;
      font-weight: 600;
      font-size: 24px;
      padding-bottom: 14px;
    }
  }
  &-item {
    display: flex;
    padding: 20px 0 27px;
    border-top: 1px solid #af3a65;
    position: relative;
    &__remove {
      background: url(../images/rack-remove.png) no-repeat 50%;
      width: 17px;
      height: 18px;
      position: absolute;
      top: 30px;
      right: 3px;
      cursor: pointer;
    }
    &-img {
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      &:hover {
        opacity: .8;
      }
    }
    &-content {
      width: 200px;
      margin-left: 24px;
      padding-top: 6px;
    }
    &__head {
      color: #000;
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 9px;
      &:hover {
        color: #8d1e47;
      }
    }
    &__text {
      font-size: 16px;
      padding-bottom: 32px;
    }
  }
}

/* Rack info */

.rack-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-input {
    display: flex;
    align-items: center;
    border: 1px solid #c2c2c2;
    span {
      width: 30px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      cursor: pointer;
      font: 300 16px 'Museo Sans Cyrl';
      text-transform: uppercase;
    }
    input {
      width: 28px;
      height: 28px;
      text-align: center;
      border: none;
      border-right: 1px solid #c2c2c2;
      border-left: 1px solid #c2c2c2;
      font: 300 16px 'Museo Sans Cyrl';
      text-transform: uppercase;
    }
  }
  &-price {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

/* Order */

.order {
  &-item {
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 30px;
    padding-bottom: 5px;
    &__head {
      color: #949494;
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    &__input {
      margin-bottom: 25px;
      input,
      textarea {
        font-family: 'Museo Sans Cyrl';
        width: 540px;
        line-height: 50px;
        padding: 0 18px;
        font-size: 16px;
        color: #000;
        border: 1px solid #c2c2c2;
        &:first-child {
          margin-right: 30px;
        }
        &::-webkit-input-placeholder { 
          color: #000;
        }
        &:-moz-placeholder { 
          color: #000;
        }
        &::-moz-placeholder { 
          color: #000;
        }
        &:-ms-input-placeholder {
          color: #000;
        }
      }
      textarea {
       height: 150px;
       font-size: 16px;
       resize: none;
        line-height: 1.3;
        padding-top: 10px;
      }
      .basket-checkbox {
        input {
          width: auto;
        }
      }
    }
  }
  &-info {
    padding-top: 10px;
    padding-bottom: 12px;
  }
  &-delivery {
    &__date {
      font-size: 0;
    }
  }
  &-date {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin-right: 27px;
    margin-bottom: 22px;
    &:nth-child(4n) {
      margin-right: 0;
    }
    input {
      display: none;
    }
    &__day {
      text-align: center;
      line-height: 48px;
      font-size: 16px;
      border: 1px solid #c2c2c2;
      cursor: pointer;
    }
    &.active {
      background-color: #fcdfd7;
    }
    &.conform {
      width: 427px;
      margin-right: 0;
    }
  }
  &-link {
    color: $pink;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 60px;
  }
}

/* Ordering */

.ordering {
  &-head {
    display: inline-block;
    margin-bottom: 28px;
    span {
      color: $pink;
    }
  }
  &-text {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 32px;
  }
  &-basket {
    table {
      thead {
        tr {
          th {
            border-top: 1px solid #c2c2c2;
            padding-top: 18px;
            &:last-child {
              width: 100px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            span { 
              font-size: 16px;
            }
            &:nth-child(2) {
              padding-top: 30px;
            }
          }
        }
      }
    }
  }
  &-input {
    border: none;
    span {
      display: none;
    }
    input {
      border: none;
      font-size: 16px;
      line-height: 0;
    }
  }
  &-info {
    table {
      tbody {
        tr {
          td {
            &:first-child {
              width: 210px;
              font-size: 16px;
              vertical-align: top;
              line-height: 38px;
            }
            &:nth-last-child(2) {
              padding: 0;
            }
            &:last-child {
              font-size: 16px;
              padding: 0;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
  &__head {
    padding-top: 30px;
    margin-top: 25px;
    border-top: 1px solid #111;
  }
  &-tel,
  &-mail {
    color: #000;
    font-size: 16px;
    &:hover {
      color: $pink;
    }
  }
}

/* Modal */

.modal {
  display: inline-block;
  border: 1px solid #c2c2c2;
  padding: 20px 50px 36px;
  position: relative;
  background: #fff;
  display: none;
  &-head {
    color: $pink;
    font-size: 24px;
    padding-bottom: 38px;
    text-align: left;
  }
  &-form {
    text-align: center;
    margin-bottom: 22px;
  }
  &-input {
    width: 310px;
    margin-bottom: 24px;
    span {
      font-weight: 900;
      text-transform: uppercase;
      display: block;
      padding-bottom: 12px;
      text-align: left;
    }
    input {
      width: 100%;
      border: 1px solid #c2c2c2;
      line-height: 38px;
      padding: 0 18px;
    }
  }
  &-item {
    padding: 22px 0;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 22px;
    text-align: center;
    p {
      font-size: 16px;
      padding-bottom: 15px;
    }
    span {
      color: #929292;
      font-size: 12px;
    }
  }
  &-soc {
    padding-bottom: 14px;
    a {
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-bottom {
    text-align: center;
    p {
      font-size: 16px;
      padding-bottom: 6px;
    }
    span {
      font-size: 16px;
    }
    a {
      color: #af3a65;
      text-decoration: underline;
      font-size: 16px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.fancybox-close-small {
  background: url(../images/modal-img.png) no-repeat left;
  width: 25px;
  height: 26px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  &:hover {
    background-position: right;
  }
}

.fancybox-bg {
  background-color: #fcdfd7;
}

.fancybox-is-open .fancybox-bg {
  opacity: .8;
}

.fancybox-close-small:after {
  display: none;
}

.cabinet {
  &-form {
    padding-bottom: 30px;
  }
  &-header {
    &-items {
      font-size: 0;
    }
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 210px;
      margin-right: 5px;
      font-size: 16px;
      text-align: center;
      border: 1px solid #c2c2c2;
      border-radius: 4px 4px 0 0;
      border-bottom: none;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 900;
      cursor: pointer;
      &.active {
        color: #fff;
        background: $pink;
      }
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 12px;
      }
    }
  }
  &-item {
    padding: 30px 0;
    border-top: 1px solid #c2c2c2;
    &__head {
      font-size: 20px;
      padding-bottom: 25px;
    }
    &__text {
      line-height: 1.5;
      padding-bottom: 25px;
      
    }
  }
  &-input {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      color: #b2b2b2;
      text-transform: uppercase;
      width: 144px;
      letter-spacing: 0.5px;
    }
    input {
      display: inline-block;
      vertical-align: middle;
      width: 310px;
      line-height: 38px;
      border: 1px solid #c2c2c2;
      font-size: 16px;
      padding: 0 12px;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
  &-content {
    float: left;
    width: 460px;
  }
  &-text {
    float: right;
    width: 342px;
    p {
      line-height: 1.3;
      font-size: 16px;
      padding-bottom: 20px;
    }
    a {
      text-transform: uppercase;
      line-height: 35px;
      background: $pink;
      color: #fff;
      padding: 0 25px;
      font-weight: 900;
      &:hover {
        background: #8a1540;
      }
    }
  }
  &__content {
    margin-left: 0;
    label {
      font-size: 14px;
    }
    .radio {
      margin-top: 3px;
    }
  }
  &-info {
    span {
      font-size: 18px;
      padding-bottom: 14px;
      display: block;
    }
    h3 {
      padding-bottom: 24px;
      border-bottom: 1px solid #6f6360;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      line-height: 1.3;
      padding-bottom: 14px;
    }
    a {
      display: inline-block;
      color: #000;
      font-size: 18px;
      text-decoration: underline;
      margin-bottom: 15px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
























