$blue: #2593ec;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Raleway', sans-serif;
  background: #f5f5f5;
}

a {
  font: 400 16px 'Raleway', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1560px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:hover {
    &:before {
      top: 0;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    transition: 300ms;
    z-index: -1;
  }
  &.btn_white {
    &:before {
      background: #fff;
    }
    &:hover {
      color: $blue;
    }
  }
  &.btn_black {
    &:before {
      background: #000;
    }
    &:hover {
      color: #fff;
    }
  }
}

// Lines
.lines {
  height: 100%;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #e1e1e1;
    left: -5px;
    top: 0;
  }
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #e1e1e1;
    right: -5px;
    top: 0;
  }
  div {
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #e1e1e1;
    opacity: .7;
    left: 50%;
    top: 0;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      opacity: 0.7;
      background-color: #e1e1e1;
      right: 390px;
      top: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      opacity: 0.7;
      background-color: #e1e1e1;
      left: 390px;
      top: 0;
    }
  }
  &-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    .container {
      height: 100%;
    }
  }
}

// Main
.main {
  &-wrap {
    background: url(../images/main-bg.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
  }
}

.logo {
  float: left;
  padding: 28px 0 0 72px;
  margin: 20px 82px 0 0;
  position: relative;
  z-index: 1;
  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  p {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 8px;
    color: #000;
  }
  span {
    color: #000;
    font-weight: 800;
    b {
      color: $blue;
      transition: 300ms;
      font-weight: bold;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }
}

.callback {
  float: right;
  margin-top: 50px;
  max-width: 270px;
  text-align: right;
  &__tel {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 8px;
    color: #000;
  }
  &__link {
    color: $blue;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
}

.nav {
  margin-top: 84px;
  float: left;
  ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    li {
      margin-right: 34px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        color: #000;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.main {
  padding: 135px 0 47px 112px;
  &__head {
    font-weight: 800;
    font-size: 114px;
    margin-bottom: 27px;
  }
  &__sub-head {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 75px;
  }
  &__descr {
    font-size: 18px;
    line-height: 1.8;
    max-width: 400px;
  }
}

.main-footer {
  margin-top: 130px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-left: 30px;
}

.main__scroll {
  margin-right: 212px;
}

.main-advan {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  &-item {
    margin-right: 103px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:last-child {
      margin-right: 0;
    }
  }
  &__num {
    font-size: 64px;
    font-weight: bold;
    font-family: 'Gilroy';
    margin-bottom: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 24px;
      transform: rotate(-90deg);
      display: inline-block;
      text-transform: uppercase;
      margin-right: -8px;
      margin-top: 3px;
    }
  }
}

// About
.about {
  padding: 60px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  &-wrap {
    position: relative;
  }
  &-item {
    width: 50%;
    padding-left: 20px;
    &:first-child {
      padding-left: 112px;
      li:before {
        background: url(../images/about-list1.png);
      }
    }
    li {
      margin-bottom: 20px;
      margin-left: 13px;
      padding-left: 37px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(../images/about-list2.png);
        width: 16px;
        height: 16px;
        left: 0;
        top: 0px;
        position: absolute;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__head {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

// Service
.service {
  color: #fff;
  padding-bottom: 20px;
  position: relative;
  padding-left: 112px;
  &-wrap {
    background: url(../images/service-bg.jpg) no-repeat center;
    background-size: cover;
    background-color: $blue;
  }
  &__head {
    font-size: 56px;
    font-weight: bold;
    padding: 60px 0 35px;
  }
  &__descr {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 50px;
    max-width: 640px;
  }
  &__sub-head {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 700px;
  }
  &-item-col {
    width: 50%;
  }
  &-item {
    margin-bottom: 45px;
    &__head {
      font-weight: bold;
      margin-bottom: 14px;
      text-transform: uppercase;
    }
    li {
      position: relative;
      padding-left: 16px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
}

.service-device {
  width: 767px;
  position: absolute;
  right: 0;
  top: 160px;
}

.service-data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 46px;
  margin-bottom: 50px;
  &-item {
    margin-right: 36px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
    p {
      margin-left: 25px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.service__link {
  line-height: 62px;
  padding: 0 50px;
  background: #d9bf8f;
  transition: 300ms;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2.5px;
  margin-left: 157px;
}

// Process
.process {
  padding: 67px 0 57px 112px;
  &-wrap {
    position: relative;
  }
  &__head {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &__descr {
    padding-left: 200px;
    position: relative;
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
    &:before {
      content: '';
      display: block;
      width: 170px;
      height: 2px;
      background: $blue;
      position: absolute;
      left: 0;
      top: 9px;
    }
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  &-item {
    width: 33.3%;
    padding-right: 50px;
    &__num {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: 48px;
      margin-bottom: 10px;
      color: #d9bf8f;
    }
    &__name {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 15px;
      line-height: 1.4;
    }
    &__text {
      line-height: 1.5;
    }
  }
}

// Projects
.projects {
  height: 1161px;
  position: relative;
  &-wrap {
    position: relative;
  }
  &-content {
    background: $blue;
    width: 500px;
    padding: 71px 110px 170px 112px;
    color: #fff;
    p {
      line-height: 1.4;
    }
  }
  &__head {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  &__name {
    margin-bottom: 10px;
  }
}

.projects-item1 {
  background: url(../images/project1.jpg) no-repeat 50%;
  position: absolute;
  top: 80px;
  left: 454px;
  width: 652px;
  height: 310px;
}

.projects-item2 {
  background: url(../images/project2.jpg) no-repeat 50%;
  position: absolute;
  top: 80px;
  left: 1137px;
  width: 311px;
  height: 310px;
}

.projects-item3 {
  background: url(../images/project3.jpg) no-repeat 50%;
  position: absolute;
  top: 421px;
  left: 112px;
  width: 310px;
  height: 310px;
}

.projects-item4 {
  background: url(../images/project4.jpg) no-repeat 50%;
  position: absolute;
  top: 421px;
  left: 454px;
  width: 310px;
  height: 652px;
}

.projects-item5 {
  background: url(../images/project5.jpg) no-repeat 50%;
  position: absolute;
  top: 421px;
  left: 796px;
  width: 310px;
  height: 310px;
}

.projects-item6 {
  background: url(../images/project6.jpg) no-repeat 50%;
  position: absolute;
  top: 764px;
  left: 796px;
  width: 652px;
  height: 310px;
}

.projects-item7 {
  position: absolute;
  top: 421px;
  left: 1137px;
  width: 310px;
  height: 310px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 220px;
  }
  a {
    line-height: 56px;
    padding: 0 34px;
    color: #000;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000;
  }
}

.projects-item {
  transition: 300ms;
  background-size: 100%;
  &:hover {
    background-size: 110%;
    .projects-overlay {
      opacity: 1;
      visibility: visible;
    }
    .projects-text {
      bottom: 30px;
    }
  }
}

.projects-overlay {
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 300ms;
}

.projects-text {
  position: absolute;
  left: 30px;
  bottom: 50px;
  transition: 300ms;
  color: #fff;
  font-weight: bold;
  line-height: 1.8;
}

// Ask
.ask {
  padding-left: 112px;
  padding-bottom: 60px;
  &-wrap {
    position: relative;
  }
  &__head {
    padding-bottom: 28px;
    font-size: 42px;
    font-weight: bold;
  }
  &-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 30px;
    &__name {
      color: $blue;
      text-decoration: underline;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__answer {
      line-height: 1.5;
    }
  }
}

// Feedbacks
.feedbacks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-bottom: 68px;
  &-wrap {
    position: relative;
  }
  &__head {
    padding-left: 112px;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &-content {
    width: 500px;
    height: 500px;
    background: $blue;
    color: #fff;
    padding: 70px 110px 131px 112px;
    &__head {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      line-height: 1.5;
      margin-bottom: 115px;
    }
  }
  &-carousel {
    margin-left: -60px;
    max-width: 1000px;
    margin-top: 80px;
  }
  &-item {
    width: 480px;
    height: 360px;
    background-color: #fff;
    margin-right: 30px;
    padding: 30px 25px;
    &__title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 12px;
      line-height: 1.4;
    }
    &__text {
      font-style: italic;
      line-height: 1.4;
      margin-bottom: 30px;
    }
    &__name {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  &-nav {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 12px;
    .slick-arrow {
      background: url(../images/feedbacks-arrow.png) !important;
      height: 12px;
      width: 32px;
      position: absolute;
      right: 0;
      top: 1px;
      background-position: right !important;
      cursor: pointer;
      border: none;
      background: none;
      transition: 300ms;
    }
    .slick-prev {
      background-position: left !important;
      right: auto;
      left: 0;
    }
    .slick-dots {
      li {
        display: inline-block;
        vertical-align: middle;
        height: 10px;
        width: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 10px;
        button {
          display: none;
        }
        &.slick-active {
          background: #fff;
        }
      }
    }
  }
}

// Terms
.terms {
  padding-bottom: 77px;
  padding-left: 112px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  &-wrap {
    position: relative;
  }
  &__head {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-left: 112px;
  }
  &-form {
    width: 950px;
    border: 8px solid #d9bf8f;
    padding: 28px 80px 33px 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  &-data {
    width: 45%;
    &-item {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
      label {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        -ms-appearance: none;
        appearance: none!important;
        background: url(../images/select-arrow.png) no-repeat 93% 50%;
        background-color: #d7dde4;
        border-radius: 50px;
        width: 220px;
        height: 40px;
        border: none;
        cursor: pointer;
        padding-left: 15px;
        font-weight: bold;
        font-style: italic;
        font-family: inherit;
        margin-left: 44px;
        margin-top: 8px;
      }
    }
  }
  &-total {
    width: 55%;
    &-item {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      span {
        width: 168px;
        line-height: 1.5;
      }
      b {
        font-size: 56px;
        font-family: 'Gilroy';
        font-weight: bold;
      }
    }
    &__descr {
      color: #686868;
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 30px;
    }
    button {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      line-height: 57px;
      border: 2px solid #000;
      color: #000;
      cursor: pointer;
      padding: 0 22px;
      background: none;
      transition: 300ms;
    }
  }
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 24px;
  input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid $blue;
    z-index: 3;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      right: 2px;
      bottom: 2px;
      top: 2px;
      background: #000;
      transition: 300ms;
      opacity: 0;
    }
  }
}

.extra {
  margin-top: 32px;
  width: 390px;
  background: #d7dde4;
  padding: 30px;
  &__head {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.3;
  }
  li {
    padding-left: 12px;
    margin-bottom: 15px;
    position: relative;
    line-height: 1.5;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #000;
      position: absolute;
      left: 0;
      top: 9px;
    }
  }
}

// Contacts
.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-left: 112px;
  padding-right: 112px;
  &-wrap {
    overflow: hidden;
  }
}

.address {
  width: 36%;
  background: #d9bf8f;
  position: relative;
  padding-top: 64px;
  padding-bottom: 54px;
  &__head {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 9999px;
    background: inherit;
  }
  &__label {
    font-weight: bold;
    margin-bottom: 34px;
  }
  &__tel {
    font-size: 24px;
    font-family: 'Gilroy';
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
  }
  &__mail {
    margin: 20px 0 18px;
    color: #000;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &__link {
    line-height: 56px;
    border: 2px solid #000;
    padding: 0 23px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 33px;
    letter-spacing: 1.5px;
  }
}

.write {
  width: 64%;
  background: $blue;
  position: relative;
  padding-left: 78px;
  padding-top: 64px;
  padding-bottom: 54px;
  color: #fff;
  &__head {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 9999px;
    background: inherit;
  }
  &__label {
    margin-bottom: 34px;
  }
  input,
  textarea {
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    background: none;
    height: 36px;
    padding-left: 3px;
    width: 30%;
    font-size: 16px;
    &::-webkit-input-placeholder {
      color: #fff;
    }
    &:-moz-placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
    &:-ms-input-placeholder {
      color: #fff;
    }
  }
  textarea {
    width: 100%;
    resize: none;
    padding-top: 11px;
  }
  &-inputs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  button {
    line-height: 56px;
    border: 2px solid #fff;
    padding: 0 23px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 49px;
    cursor: pointer;
    transition: 300ms;
    color: #fff;
    background: none;
    letter-spacing: 1.5px;
    font-size: 16px;
  }
}

// Footer

.site-info {
  padding: 44px 40px 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  p {
    font-size: 14px;
    a {
      color: #000;
      font-size: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer {
  .nav {
    margin-top: 60px;
  }
}