@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1170px; }
  .logo {
    left: 0; }
  .header {
    padding-right: 34px;
    padding-left: 194px; }
  .options {
    padding-left: 194px; }
  .showcase-content {
    padding-left: 70px; }
  .catalog-sidebar {
    margin-right: 20px; }
  .catalog-item {
    width: 290px; }
  .catalog-el {
    padding-right: 12px;
    padding-left: 12px; }
  .review-items {
    width: 798px; }
  .review-item {
    width: 388px; }
  .footer-info {
    margin-left: 60px; }
  .about-content {
    padding-right: 24px; }
  .directory .catalog-sidebar {
    margin-left: 0;
    margin-right: 20px; }
  .cabinet {
    padding-bottom: 10px; }
    .cabinet-wrap .head {
      margin-left: 0; }
    .cabinet-form {
      padding: 0 20px 0 0px; }
    .cabinet-info {
      width: 290px; }
  .contacts-content {
    padding: 0 40px 0 0; }
  .ordering-input > input, .ordering-input textarea {
    width: 470px; }
  .ordering-el {
    width: 180px;
    margin-right: 10px; }
    .ordering-el.claim {
      width: 370px; }
  .ordering-block {
    margin-bottom: 8px; }
  .basket {
    padding-bottom: 0; }
    .basket-img {
      max-width: 150px; }
    .basket .ordering-form {
      padding-left: 0;
      padding-right: 12px; }
    .basket-table table thead tr td:nth-child(2) {
      width: 210px; }
    .basket-table table thead tr td:nth-child(3) {
      width: 145px; }
    .basket-table table thead tr td:nth-child(4) {
      width: 103px; }
    .basket__text {
      padding-right: 0; }
    .basket-item-content {
      padding: 22px 10px 17px 14px; }
    .basket-item-side {
      width: 250px;
      padding: 52px 20px 42px 26px; }
  .payment-content {
    padding-right: 20px; }
  .order {
    margin-bottom: 18px; }
    .order-content {
      padding-right: 22px; }
      .order-content__text {
        padding-bottom: 37px; }
      .order-content .basket__text {
        padding-right: 10px; }
      .order-content .basket-table table thead tr td:nth-child(3) {
        width: 124px; }
      .order-content .basket-table table thead tr td:nth-child(4) {
        width: 120px; }
  .product-img {
    padding-left: 200px; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px; }
  .nav li {
    padding-right: 8px;
    margin-right: 8px; }
    .nav li a {
      font-size: 13px; }
  .header {
    padding-right: 0px;
    padding-left: 176px; }
    .header-top {
      padding-right: 0; }
    .header-cabinet li {
      padding-right: 8px;
      margin-right: 8px; }
      .header-cabinet li a {
        font-size: 13px; }
    .header .info-item-img {
      margin-right: 18px; }
  .options {
    padding-left: 176px; }
    .options .select2-container {
      width: 170px !important; }
    .options-form button {
      width: 60px; }
  .showcase {
    padding: 174px 0 185px; }
    .showcase-slider .slick-dots {
      bottom: 20px; }
    .showcase-img {
      width: 540px;
      height: auto; }
    .showcase-content {
      width: 455px;
      padding-left: 55px; }
      .showcase-content__head {
        font-size: 40px;
        margin-bottom: 22px; }
      .showcase-content__price {
        font-size: 55px;
        margin-bottom: 46px; }
  .catalog-sidebar {
    margin-left: 0; }
  .catalog-items {
    justify-content: center; }
  .catalog-item {
    margin: 0 10px 20px; }
    .catalog-item:nth-child(3n) {
      margin: 0 10px 20px; }
  .main-about {
    margin-left: 0; }
    .main-about-content {
      width: 480px;
      padding: 30px 18px 25px 58px; }
      .main-about-content .title {
        margin-bottom: 14px; }
      .main-about-content .head {
        font-size: 28px;
        margin-bottom: 12px; }
    .main-about__text {
      line-height: 1.35;
      margin-bottom: 18px; }
  .review {
    margin-bottom: 52px; }
    .review-items {
      width: 650px; }
      .review-items .slick-arrow {
        left: -76px; }
    .review-item {
      width: 315px;
      padding: 55px 16px 26px 18px; }
      .review-item__text {
        line-height: 1.25; }
  .video {
    margin-bottom: 46px; }
    .video iframe {
      height: 500px; }
  .main-contacts {
    margin-bottom: 50px; }
    .main-contacts-sidebar {
      margin-right: 40px; }
  .footer-item {
    margin-right: 35px; }
  .footer-info {
    margin: 0 0 0 50px; }
  .about {
    margin-bottom: 46px; }
    .about .title {
      margin-bottom: 16px; }
    .about .head {
      font-size: 26px; }
    .about-content {
      padding-top: 18px;
      margin-bottom: 18px; }
    .about-img {
      width: 400px; }
    .about b, .about p {
      line-height: 1.35;
      margin-bottom: 14px; }
  .cabinet-form {
    padding: 0 10px 0 0; }
  .cabinet-nav li {
    width: 167px; }
  .cabinet-content {
    width: 100%;
    margin-left: 0;
    padding-right: 20px; }
  .contacts-content {
    padding: 0 20px 0 0; }
    .contacts-content-text {
      line-height: 1.35;
      margin-bottom: 20px; }
  .contacts-map {
    width: 340px; }
  .contacts-item-el {
    margin-right: 34px; }
  .contacts-info {
    padding-bottom: 0; }
  .ordering__head {
    margin-left: 0; }
  .ordering-form {
    padding: 0 10px 0 0; }
  .ordering-info {
    width: 290px;
    padding: 20px 14px 24px; }
    .ordering-info table tbody td:first-child {
      width: 192px; }
    .ordering-info__total {
      padding: 25px 0; }
      .ordering-info__total:before, .ordering-info__total:after {
        left: 0; }
    .ordering-info-link button {
      width: 100%; }
  .ordering-input {
    flex-wrap: wrap;
    margin-bottom: 18px; }
    .ordering-input-label {
      padding-top: 8px; }
  .ordering-el {
    width: 160px; }
    .ordering-el.claim {
      width: 330px; }
    .ordering-el label span {
      font-size: 15px; }
  .basket-table table thead tr td {
    font-size: 13px; }
    .basket-table table thead tr td:first-child {
      width: 146px; }
    .basket-table table thead tr td:nth-child(2) {
      width: 160px; }
    .basket-table table thead tr td:nth-child(3) {
      width: 110px;
      padding-left: 0; }
    .basket-table table thead tr td:nth-child(4) {
      width: 90px; }
    .basket-table table thead tr td:nth-child(5) {
      width: 90px; }
    .basket-table table thead tr td:last-child {
      width: 60px; }
  .basket-table table tbody tr td {
    padding-bottom: 30px; }
  .basket__price {
    font-size: 20px;
    text-align: center; }
  .basket-val {
    width: 105px; }
    .basket-val span {
      width: 35px; }
    .basket-val input {
      width: 35px;
      height: 35px; }
  .basket__text {
    line-height: 1;
    font-size: 15px; }
  .basket-item__note {
    font-size: 12px; }
  .basket-item-side {
    width: 220px;
    padding: 52px 10px 42px 10px; }
  .basket-node {
    flex-wrap: wrap; }
  .basket-img {
    max-width: 140px; }
  .delivery {
    margin-bottom: 36px; }
    .delivery__head {
      margin-right: 0; }
  .payment-sidebar {
    width: 354px; }
    .payment-sidebar-item {
      padding: 26px 21px 30px 17px; }
  .order-info {
    padding-left: 10px; }
  .order-content__text {
    line-height: 1.35;
    padding-bottom: 32px; }
  .order-content .basket__text {
    padding-right: 0; }
  .order-content .basket-table table thead tr td:nth-child(2) {
    width: 190px; }
  .order-content .basket-table table thead tr td:nth-child(3) {
    width: 98px; }
  .order-sidebar {
    width: 300px;
    padding: 20px 10px; }
  .order-item {
    padding-bottom: 16px;
    margin-bottom: 16px; }
    .order-item table tbody td:first-child {
      width: 168px; }
  .product {
    padding-bottom: 48px;
    margin-bottom: 48px; }
    .product-slider {
      width: 430px; }
    .product-items {
      width: 300px; }
    .product-item__head {
      font-size: 34px;
      margin-bottom: 14px; }
    .product-item__text {
      line-height: 1.3;
      margin-bottom: 12px; }
    .product-node {
      padding-right: 0; }
    .product-info__head {
      font-size: 16px;
      margin-right: 20px; }
    .product-link .link {
      padding: 0 22px; }
    .product-link__ref {
      padding: 0 18px; }
  .addition {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .addition__head {
      width: 100%;
      margin-bottom: 20px;
      padding-left: 0; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px; }
  .logo {
    position: static; }
  .header {
    padding-left: 0;
    text-align: center; }
  .options {
    padding-left: 0; }
    .options-form button {
      width: 46px; }
  .showcase {
    padding: 146px 0 152px; }
    .showcase-img {
      width: 450px;
      right: 0; }
    .showcase-content {
      width: 340px;
      padding-left: 48px; }
      .showcase-content__head {
        font-size: 30px;
        margin-bottom: 18px; }
      .showcase-content__price {
        font-size: 48px;
        margin-bottom: 34px; }
  .catalog-sidebar {
    margin-right: 0; }
    .catalog-sidebar__name {
      margin-bottom: 30px; }
    .catalog-sidebar__head {
      font-size: 28px;
      margin-bottom: 38px; }
  .catalog-item {
    width: 260px;
    margin-right: 2px;
    margin-left: 2px; }
    .catalog-item:nth-child(3n) {
      margin-right: 2px;
      margin-left: 2px; }
    .catalog-item-img {
      height: auto; }
    .catalog-item__text {
      line-height: 1.3; }
  .main-about-content {
    position: static;
    width: 100%;
    transform: translateY(0);
    padding: 22px 10px 18px; }
    .main-about-content .head:before {
      display: none; }
  .review-items {
    width: 460px; }
    .review-items .slick-arrow {
      top: 57px; }
  .review-item {
    width: 460px; }
  .video iframe {
    height: 350px; }
  .main-contacts-sidebar {
    margin-right: 10px;
    padding-bottom: 60px; }
    .main-contacts-sidebar .head {
      margin-bottom: 48px; }
  .footer {
    flex-direction: column;
    margin-left: 0; }
    .footer-logo {
      width: 160px;
      margin: 0 auto; }
  .about {
    flex-direction: column;
    margin-bottom: 10px; }
    .about-content {
      padding: 20px; }
    .about-img {
      margin: 0 auto;
      order: -1; }
  .directory .catalog-sidebar {
    width: 234px;
    margin-right: 8px; }
  .directory .catalog-item {
    width: 250px; }
  .directory-sort__text {
    margin-right: 6px; }
  .directory-sort .select2-container {
    margin-right: 12px; }
  .directory-mode-item {
    margin-right: 20px; }
  .cabinet {
    flex-direction: column; }
    .cabinet-info {
      order: -1;
      margin: 0 auto 20px; }
    .cabinet-nav li {
      width: 185px; }
    .cabinet-form {
      padding-right: 0; }
  .contacts {
    flex-direction: column;
    margin-bottom: 60px; }
    .contacts-info {
      padding-top: 14px; }
      .contacts-info-side {
        width: 220px; }
    .contacts-map {
      width: 100%;
      height: 320px; }
  .ordering-input {
    flex-direction: column;
    align-items: flex-start; }
    .ordering-input > input, .ordering-input textarea {
      margin-right: 0; }
  .ordering-el {
    margin: 0 5px 10px; }
    .ordering-el:nth-child(4), .ordering-el:last-child {
      margin: 0 5px 10px; }
    .ordering-el-wrap {
      justify-content: center; }
  .basket table thead tr td:nth-child(4) {
    padding-left: 10px; }
  .basket table thead tr td:nth-child(5) {
    padding-left: 22px; }
  .basket .ordering {
    flex-direction: column; }
    .basket .ordering-form {
      padding-right: 0; }
    .basket .ordering-info {
      margin: 0 auto 40px; }
  .basket-item {
    margin: 0 auto 38px; }
  .payment {
    flex-direction: column;
    padding-bottom: 0; }
    .payment-content {
      padding: 15px 0; }
    .payment-sidebar {
      margin: 0 auto; }
  .order {
    flex-direction: column; }
    .order-head {
      font-size: 26px;
      margin: 12px 0 24px 0; }
    .order-content {
      padding: 0; }
    .order-sidebar {
      margin: 10px auto 20px;
      width: 320px; }
  .product {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .product-img {
      margin-bottom: 30px; }
    .product-dots li {
      margin-bottom: 12px; }
    .product-items {
      width: 100%; }
    .product-item .basket-val {
      margin-right: 40px; }
    .product-node {
      justify-content: flex-start; }
    .product-link {
      justify-content: flex-start; }
      .product-link .link {
        margin-right: 20px; }
  .addition__head {
    text-align: center; }
  .office__head {
    margin-left: 0; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .burger {
    display: inline-block;
    width: 30px; }
    .burger a {
      display: block;
      cursor: pointer;
      padding: 12px 0; }
      .burger a span {
        position: relative;
        display: block;
        width: 30px;
        height: 4px;
        background: #cfab80;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .burger a span:before, .burger a span:after {
          content: '';
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background: #cfab80;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .burger a span:before {
          top: -8px; }
        .burger a span:after {
          top: 8px; }
      .burger a.active span {
        background: transparent; }
        .burger a.active span:before {
          -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px); }
        .burger a.active span:after {
          -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px); }
  .header-wrap .container {
    max-width: 100%; }
  .header-top {
    position: relative; }
  .header-cabinet {
    flex-direction: column; }
    .header-cabinet li {
      padding: 7px 0;
      margin-right: 0; }
      .header-cabinet li:after {
        display: none; }
      .header-cabinet li a {
        font-size: 18px; }
  .header .info {
    justify-content: center; }
    .header .info-item {
      width: 240px;
      margin: 0 auto 20px; }
      .header .info-item-content {
        flex-wrap: wrap; }
      .header .info-item__tel {
        margin-right: 0; }
  .nav {
    flex-direction: column; }
    .nav-wrap {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      margin-top: 10px;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 100;
      flex-direction: column;
      background-color: #fff;
      padding: 10px 0; }
      .nav-wrap.active {
        margin-top: 0;
        opacity: 1;
        visibility: visible; }
    .nav li {
      padding: 7px 0;
      margin-right: 0; }
      .nav li:after {
        display: none; }
      .nav li a {
        font-size: 18px; }
  .options-form {
    flex-wrap: wrap;
    justify-content: center; }
    .options-form button {
      width: 100%;
      margin: 0 12px; }
  .options .select2-container {
    width: 46% !important;
    margin: 0 10px 20px; }
  .showcase {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 102px; }
    .showcase-slider .slick-prev {
      transform: translate(-4%, 100%) rotate(270deg); }
    .showcase-img {
      width: 380px;
      position: static;
      order: -1;
      margin: 0 auto 10px; }
    .showcase-content {
      width: 100%;
      text-align: center;
      padding-left: 0; }
      .showcase-content__head {
        font-size: 26px;
        margin-bottom: 12px; }
      .showcase-content__price {
        font-size: 38px;
        margin-bottom: 26px; }
  .catalog {
    flex-direction: column; }
    .catalog-sidebar {
      width: 290px;
      margin: 0 auto 20px;
      text-align: center; }
      .catalog-sidebar__name {
        margin-bottom: 16px; }
      .catalog-sidebar__head {
        margin-bottom: 24px; }
    .catalog-item {
      width: 266px; }
  .review {
    flex-direction: column; }
  .main-contacts {
    flex-direction: column; }
    .main-contacts-sidebar {
      width: 100%;
      padding-bottom: 32px; }
      .main-contacts-sidebar .title {
        margin-bottom: 25px; }
      .main-contacts-sidebar .head {
        margin-bottom: 20px; }
        .main-contacts-sidebar .head br {
          display: none; }
    .main-contacts-map {
      height: 350px; }
  .footer-items {
    flex-wrap: wrap;
    justify-content: center; }
  .footer-item {
    margin: 0 48px 20px; }
  .bottom {
    padding-left: 0;
    padding-right: 0; }
  .directory-content .catalog-items {
    margin-bottom: 0; }
  .directory-content .catalog-item {
    margin-bottom: 40px; }
  .directory .catalog-sidebar {
    width: 290px;
    margin: 0 auto 30px;
    padding-top: 0; }
    .directory .catalog-sidebar .title {
      margin-bottom: 22px; }
    .directory .catalog-sidebar .head {
      font-size: 26px;
      margin-bottom: 24px; }
  .directory-item {
    width: 266px;
    text-align: left;
    margin-bottom: 26px; }
    .directory-item__head {
      text-align: center; }
  .pagination {
    padding-bottom: 5px; }
  .cabinet-nav li {
    width: 50%; }
  .contacts-info {
    flex-direction: column; }
    .contacts-info-side {
      width: 100%; }
      .contacts-info-side .title {
        margin-bottom: 15px; }
      .contacts-info-side .head {
        margin-bottom: 32px; }
  .ordering {
    flex-direction: column; }
    .ordering-form {
      padding-right: 0; }
    .ordering-input > input, .ordering-input textarea {
      width: 100%; }
    .ordering-item:last-child {
      margin-bottom: 10px; }
    .ordering-info {
      margin: 0 auto 40px; }
  .basket-table {
    overflow-x: scroll; }
    .basket-table table {
      width: 767px; }
  .basket-item {
    flex-direction: column; }
    .basket-item-side {
      width: 100%;
      padding: 18px 10px 20px; }
  .delivery {
    flex-direction: column; }
    .delivery__head {
      width: 100%; }
  .product-slider {
    width: 370px; }
  .product-img {
    padding-left: 140px; }
  .product-nav {
    left: 0; }
  .product-dots li {
    width: 120px;
    height: 120px;
    margin-bottom: 8px; } }

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px; }
  .header-wrap .container {
    padding: 0; }
  .header .info {
    flex-wrap: wrap; }
  .options-form button {
    margin: 0 10px; }
  .options .select2-container {
    width: 100% !important; }
  .showcase-slider .slick-dots {
    width: 100%;
    text-align: center; }
    .showcase-slider .slick-dots li button {
      width: 36px;
      line-height: 36px; }
  .showcase-img {
    width: 260px; }
  .showcase-content__head {
    padding: 0 18px; }
  .main-about-content .head {
    font-size: 24px; }
  .review {
    margin-bottom: 100px; }
    .review-items {
      width: 290px;
      margin: 0 auto; }
      .review-items .slick-arrow {
        transform: translate(0);
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        margin-left: -35px; }
      .review-items .slick-next {
        margin-left: 35px; }
    .review-item {
      width: 290px; }
  .video iframe {
    height: 250px; }
  .main-contacts-map {
    height: 250px; }
  .main-contacts-sidebar .head {
    padding-right: 0; }
  .footer-items {
    flex-direction: column; }
  .footer-item {
    margin: 0 30px 6px !important;
    text-align: center; }
  .footer-info {
    width: 181px;
    margin: 12px auto 0; }
  .bottom {
    flex-direction: column;
    text-align: center; }
    .bottom-item {
      margin-bottom: 6px; }
    .bottom-info {
      justify-content: center; }
  .about .head {
    font-size: 21px;
    line-height: 1.2; }
    .about .head span {
      display: inline; }
  .about-content {
    padding-left: 0;
    padding-right: 0; }
  .about-img {
    width: auto; }
  .directory-filter {
    flex-direction: column; }
  .directory-sort {
    flex-direction: column; }
    .directory-sort__text {
      margin-right: 0;
      margin-bottom: 15px; }
    .directory-sort .select2-container {
      margin-right: 0;
      margin-bottom: 15px; }
  .bread {
    padding-left: 0; }
  .pagination ul li {
    margin: 0 7px; }
  .directory .catalog-item {
    width: 260px; }
  .cabinet-nav li {
    width: 100%; }
  .cabinet-el-input {
    flex-direction: column; }
    .cabinet-el-input span {
      margin-bottom: 10px; }
    .cabinet-el-input input {
      width: 100%; }
  .cabinet-content {
    padding-right: 0; }
  .contacts-info-side .head {
    font-size: 28px; }
  .contacts-item {
    flex-wrap: wrap;
    margin-bottom: 32px; }
    .contacts-item-el {
      width: auto !important;
      margin-bottom: 10px;
      margin-right: 25px; }
  .ordering__head {
    font-size: 36px; }
  .ordering-el {
    width: 100% !important;
    margin: 0 auto 10px !important; }
    .ordering-el-wrap {
      flex-direction: column; }
  .basket-node label {
    margin-bottom: 12px; }
  .payment-content .head {
    font-size: 28px;
    margin-bottom: 36px;
    padding-right: 0; }
    .payment-content .head br {
      display: none; }
  .payment-item__head {
    font-size: 22px; }
  .payment-sidebar {
    width: 100%; }
    .payment-sidebar__head {
      font-size: 21px; }
  .order-sidebar {
    width: 100%; }
  .order-item table tbody td {
    font-size: 15px; }
  .order-item__head {
    text-align: center; }
  .product {
    padding-top: 0; }
    .product-slider {
      width: 270px; }
    .product-img {
      padding-left: 0;
      margin-bottom: 130px; }
    .product-nav {
      top: 100%; }
    .product-dots {
      padding-top: 10px;
      display: flex; }
      .product-dots li {
        width: 90px;
        height: 90px; }
    .product-link {
      flex-wrap: wrap; }
      .product-link .link {
        margin-right: 8px;
        margin-bottom: 5px; }
  .office {
    padding-bottom: 46px; }
    .office__head {
      font-size: 28px; }
    .office-items {
      width: auto;
      padding-left: 0; }
    .office-item {
      flex-direction: column; }
      .office-item label {
        width: auto;
        margin-bottom: 10px; }
      .office-item input {
        width: 290px; }
    .office-info {
      width: 290px;
      margin: 0 auto 30px; } }
