button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none; }

button:focus {
  box-shadow: none !important; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Raleway', sans-serif;
  color: #000; }

a {
  display: inline-block;
  vertical-align: top;
  transition: 300ms;
  color: #000;
  font-family: inherit; }
  a:hover {
    color: #cfab80;
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a img {
  border: none;
  outline: none; }

.burger {
  display: none; }

.link {
  background-color: #406336;
  color: #fff;
  line-height: 50px;
  padding: 0 48px;
  font-weight: 700;
  border-radius: 30px; }
  .link:hover {
    color: #fff;
    background-color: #1d2f18; }

.container {
  max-width: 1280px;
  position: relative;
  padding: 0; }

.title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px; }

.head {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 1.35; }

.checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #acacac;
  margin-right: 12px; }
  .checkbox input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .checkbox span:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background-color: #406336;
      opacity: 0;
      transition: 300ms; }
  .checkbox__text {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400; }

.logo {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 100; }

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav li {
  list-style-type: none;
  padding-right: 12px;
  margin-right: 12px;
  position: relative; }
  .nav li:after {
    content: '|';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: -2px; }
  .nav li:last-child:after {
    display: none; }
  .nav li a {
    font-size: 14px; }

.header {
  padding: 0 56px 14px 240px; }
  .header-top {
    padding: 14px 27px 14px 0; }
  .header-cabinet {
    padding: 0;
    margin: 0;
    display: flex; }
    .header-cabinet li {
      list-style-type: none;
      padding-right: 12px;
      margin-right: 12px;
      position: relative; }
      .header-cabinet li:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        right: -2px; }
      .header-cabinet li:last-child {
        padding-right: 0;
        margin-right: 0; }
        .header-cabinet li:last-child:after {
          display: none; }
      .header-cabinet li a {
        font-size: 14px; }

.header .info {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .info-item {
    display: flex;
    align-items: center; }
    .header .info-item-img {
      flex-shrink: 0;
      background-color: #cfab80;
      border-radius: 50%;
      margin-right: 24px; }
    .header .info-item-content {
      display: flex;
      align-items: flex-end; }
    .header .info-item__tel {
      font-size: 24px;
      font-weight: 700;
      margin-right: 20px; }
    .header .info-item__link {
      color: #4d3833;
      font-size: 14px;
      border-bottom: 1px solid #000; }
      .header .info-item__link:hover {
        border-bottom: 1px solid transparent; }
    .header .info-item__val, .header .info-item__price {
      font-size: 24px;
      font-weight: 700;
      margin-right: 4px; }
    .header .info-item__text {
      margin-right: 5px;
      padding-bottom: 2px; }
    .header .info-item:hover {
      color: #000; }

.options {
  padding: 20px 0 20px 240px; }
  .options-wrap {
    background-color: #4d3833; }
  .options-form {
    display: flex;
    justify-content: space-between; }
    .options-form select {
      width: 200px;
      height: 40px;
      background-color: #fff;
      border-radius: 4px; }
    .options-form button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      width: 80px;
      height: 40px;
      background: #cfab80 url(../images/search.png) no-repeat 50%;
      border-radius: 4px; }
      .options-form button:hover {
        background-color: #ad895e; }

.options .select2-container--default .select2-selection--single {
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font: 700 16px 'Raleway'; }
  .options .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    color: #4d3833; }
  .options .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%; }
    .options .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #cfab80 transparent transparent transparent;
      border-width: 10px 6px 0 6px;
      margin-left: -18px;
      margin-top: -4px; }

.options .select2-container .select2-selection--single {
  height: 100%; }
  .options .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 18px;
    padding-right: 30px; }

.select2-search--dropdown {
  display: none; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #cfab80; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #e9cca9; }

.showcase {
  position: relative;
  display: flex;
  padding: 232px 0 196px; }
  .showcase-wrap {
    background-color: #b3bf5f; }
  .showcase-content {
    width: 540px;
    padding-left: 116px; }
    .showcase-content__head {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 42px; }
    .showcase-content__price {
      font-size: 68px;
      font-weight: 700;
      margin-bottom: 68px; }
  .showcase-img {
    width: 687px;
    height: 678px;
    position: absolute;
    top: 33px;
    right: 47px; }

.showcase-slider {
  margin-bottom: 55px; }
  .showcase-slider .slick-arrow {
    cursor: pointer;
    border: none;
    transition: 300ms;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, 100%) rotate(270deg);
    transform-origin: 18% 100%;
    writing-mode: vertical-lr;
    z-index: 100;
    margin-top: 9px; }
    .showcase-slider .slick-arrow:focus {
      outline: none !important; }
    .showcase-slider .slick-arrow span {
      margin-right: 23px;
      font-family: 'Raleway';
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
    .showcase-slider .slick-arrow img {
      position: absolute;
      top: 0;
      right: -13px;
      transition: 300ms;
      flex-shrink: 0;
      transform: rotate(90deg); }
    .showcase-slider .slick-arrow:hover img {
      right: -18px; }
  .showcase-slider .slick-next {
    margin-top: -74px;
    left: auto;
    right: 0;
    transform: translate(70%, -100%) rotate(90deg); }
  .showcase-slider .slick-dots {
    position: absolute;
    bottom: 31px;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    margin: 0; }
    .showcase-slider .slick-dots li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle; }
      .showcase-slider .slick-dots li button {
        width: 44px;
        line-height: 42px;
        transition: 300ms;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        font-size: 16px;
        font-weight: 700;
        margin: 0 3px; }
        .showcase-slider .slick-dots li button:hover {
          background-color: #fff; }
      .showcase-slider .slick-dots li.slick-active button {
        background-color: #fff;
        outline: none !important; }

.catalog {
  display: flex;
  margin-bottom: 37px; }
  .catalog-sidebar {
    flex-shrink: 0;
    width: 220px;
    margin-right: 100px;
    margin-left: 10px; }
    .catalog-sidebar .link {
      padding: 0 40px; }

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 10; }

.catalog-item {
  width: 300px;
  margin: 0 20px 49px 0;
  position: relative; }
  .catalog-item:nth-child(3n) {
    margin-right: 0; }
  .catalog-item-img {
    height: 300px;
    background-color: #d9dfaf;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .catalog-item-img:hover .catalog-el {
      opacity: 1;
      visibility: visible; }
  .catalog-item-head a {
    color: #0a0a0a;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px; }
    .catalog-item-head a:hover {
      color: #cfab80; }
  .catalog-item__text {
    color: #0a0a0a;
    line-height: 1.6;
    margin-bottom: 10px; }
  .catalog-item-node {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .catalog-item__price {
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700; }
  .catalog-item .link {
    padding: 0 20px;
    line-height: 35px;
    font-size: 14px; }

.catalog-el {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1e5bb;
  padding: 78px 30px 0;
  text-align: center; }
  .catalog-el-img {
    margin-bottom: 50px; }
  .catalog-el .catalog-item-head {
    color: #0a0a0a;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px; }
  .catalog-el .catalog-item__price {
    margin-bottom: 10px; }
  .catalog-el__link {
    display: inline-block;
    padding: 0 20px;
    line-height: 35px;
    font-size: 14px;
    background-color: #406336;
    color: #fff;
    font-weight: 700;
    border-radius: 30px; }

.main-about {
  position: relative;
  margin: 0 0 89px 10px; }
  .main-about-content {
    width: 620px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: #fff;
    padding: 40px 0 38px 78px; }
    .main-about-content .title {
      margin-bottom: 21px; }
    .main-about-content .head {
      margin-bottom: 22px;
      position: relative; }
      .main-about-content .head:before {
        content: '';
        display: block;
        background: url(../images/right-arrowBlack-5.png) no-repeat 50%;
        width: 25px;
        height: 14px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: -46px; }
    .main-about-content .link {
      padding: 0 33px; }
  .main-about__text {
    line-height: 1.5;
    margin-bottom: 36px; }

.review {
  display: flex;
  align-items: flex-start;
  margin-bottom: 78px; }
  .review .title {
    margin-bottom: 30px; }
  .review .head {
    margin-bottom: 40px; }
  .review .link {
    padding: 0 46px; }
  .review-items {
    width: 940px;
    margin: 0 10px 0 auto;
    display: flex;
    position: relative; }
  .review-item {
    width: 460px;
    margin: 0 10px;
    padding: 62px 24px 33px 38px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    position: relative; }
    .review-item:last-child {
      margin-right: 0; }
    .review-item:after {
      content: '';
      display: block;
      background: url(../images/review-img.png) no-repeat 50%;
      width: 61px;
      height: 56px;
      position: absolute;
      top: 24px;
      right: 24px; }
    .review-item__head {
      padding: 0 0 26px;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0; }
    .review-item__text {
      line-height: 1.5;
      margin-bottom: 26px; }
    .review-item__date {
      color: #808285;
      font-weight: 700; }

.review-items .slick-arrow {
  cursor: pointer;
  border: none;
  background: url(../images/review-prev.png) no-repeat left;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 66px;
  left: -90px;
  z-index: 100; }
  .review-items .slick-arrow:hover {
    background-position: right; }
  .review-items .slick-arrow:focus {
    outline: none !important; }

.review-items .slick-next {
  margin-top: 76px;
  background: url(../images/review-next.png) no-repeat left; }

.video {
  margin-bottom: 80px; }
  .video iframe {
    border: none;
    width: 100%;
    height: 640px; }

.main-contacts {
  display: flex;
  margin-bottom: 84px; }
  .main-contacts-sidebar {
    width: 220px;
    margin-right: 100px;
    margin-left: 10px;
    padding-bottom: 117px;
    flex-shrink: 0; }
    .main-contacts-sidebar .head {
      margin-bottom: 74px;
      padding-right: 40px; }
  .main-contacts-map {
    flex-grow: 10; }
    .main-contacts-map iframe {
      width: 100%;
      height: 100%;
      border: none; }
  .main-contacts__address {
    line-height: 1.65;
    margin-bottom: 22px; }
    .main-contacts__address span {
      display: block; }
  .main-contacts-tel a {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px; }
  .main-contacts-link {
    margin-bottom: 32px; }
    .main-contacts-link a {
      color: #4d3833;
      border-bottom: 1px solid #000; }
      .main-contacts-link a:hover {
        border-bottom: 1px solid transparent; }
  .main-contacts-mail {
    margin-bottom: 8px; }
    .main-contacts-mail a {
      font-weight: 700; }
  .main-contacts-ref a {
    color: #4d3833;
    border-bottom: 1px solid #000; }
    .main-contacts-ref a:hover {
      border-bottom: 1px solid transparent; }

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-left: 10px; }
  .footer-wrap {
    background-color: #4d3833; }
  .footer-items {
    display: flex;
    padding-top: 28px; }

.footer-item {
  padding: 0;
  margin: 0;
  margin-right: 60px; }
  .footer-item li {
    list-style-type: none;
    margin-bottom: 4px; }
    .footer-item li:last-child {
      margin-bottom: 0; }
    .footer-item li a {
      color: #fff;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 700; }
      .footer-item li a:hover {
        text-decoration: none; }

.footer-info {
  margin: -4px 50px 0 146px; }
  .footer-info__address {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 6px; }
    .footer-info__address span {
      display: block; }
  .footer-info-link {
    margin-bottom: 15px; }
    .footer-info-link a {
      color: #f1e5bb;
      font-size: 14px;
      text-decoration: underline; }
      .footer-info-link a:hover {
        text-decoration: none; }
  .footer-info-tel {
    position: relative;
    margin-bottom: 6px; }
    .footer-info-tel img {
      background-color: #cfab80;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: -36px;
      border-radius: 50%; }
    .footer-info-tel a {
      font-size: 24px;
      font-weight: 700;
      color: #fff; }
      .footer-info-tel a:hover {
        color: #cfab80; }

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 18px 10px; }
  .bottom-item {
    color: #f1e5bb;
    font-size: 14px; }
  .bottom-info {
    display: flex; }
    .bottom-info__text {
      color: #f1e5bb;
      font-size: 14px;
      margin-right: 4px; }
    .bottom-info__link {
      color: #f1e5bb;
      font-size: 14px; }
      .bottom-info__link:hover {
        text-decoration: underline; }

.bread {
  padding: 18px 0 21px 19px; }
  .bread ul {
    padding: 0;
    margin: 0; }
    .bread ul li {
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      color: #4d3833;
      padding-right: 20px;
      margin-right: 10px;
      position: relative; }
      .bread ul li:after {
        content: '>';
        display: block;
        font-size: 16px;
        color: #cfab80;
        position: absolute;
        top: 50%;
        margin-top: -9.5px;
        right: 0; }
      .bread ul li:last-child:after {
        display: none; }
      .bread ul li a {
        color: #cfab80;
        border-bottom: 1px solid #cfab80; }
        .bread ul li a:hover {
          border-bottom: 1px solid transparent; }

.about {
  display: flex;
  margin-bottom: 104px; }
  .about .title {
    margin-bottom: 31px; }
  .about .head {
    margin-bottom: 28px; }
    .about .head span {
      display: block; }
  .about-content {
    flex-grow: 10;
    padding: 27px 96px 0 21px; }
    .about-content b, .about-content p {
      display: block;
      line-height: 1.55;
      margin-bottom: 26px; }
  .about-img {
    width: 460px;
    flex-shrink: 0; }

.directory-item {
  margin-bottom: 38px;
  margin-left: 3px; }
  .directory-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px; }
    .directory-item__head span {
      font-size: 16px;
      margin-left: -3px; }

.directory-link {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .directory-link__reset {
    color: #406336;
    font-weight: 700;
    text-decoration: underline; }
    .directory-link__reset:hover {
      color: #406336; }

.directory-el {
  margin-bottom: 7px; }
  .directory-el:last-child {
    margin-bottom: 0; }
  .directory-el label {
    display: inline-block;
    font-size: 0;
    margin-bottom: 0; }

.directory .catalog-sidebar {
  width: 240px;
  margin-left: 21px;
  margin-right: 79px;
  padding-top: 28px; }
  .directory .catalog-sidebar .head {
    margin-bottom: 69px; }
  .directory .catalog-sidebar .link {
    padding: 0 30px; }

.directory-content .catalog-items {
  margin-bottom: 25px; }

.directory-content .catalog-item {
  margin-bottom: 55px; }

.directory-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px; }

.directory-sort {
  display: flex;
  align-items: center;
  margin-top: -4px; }
  .directory-sort__text {
    font-weight: 700;
    margin-right: 22px; }
  .directory-sort select {
    border: none; }
  .directory-sort .select2-container {
    width: auto !important;
    margin-right: 26px; }
    .directory-sort .select2-container--default .select2-selection--single {
      border: none;
      border-bottom: 1px solid #cfab80;
      border-radius: 0;
      font-weight: 700; }
      .directory-sort .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 10px 6px 0 6px;
        border-color: #cfab80 transparent transparent transparent;
        margin-top: -3px; }
      .directory-sort .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #cfab80; }
      .directory-sort .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 17px; }
    .directory-sort .select2-container .select2-selection--single {
      height: auto;
      margin-right: 24px; }
      .directory-sort .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 2px;
        padding-right: 2px;
        line-height: inherit; }

.directory-mode {
  display: flex;
  align-items: center; }
  .directory-mode-item {
    margin-right: 32px; }
    .directory-mode-item:last-child {
      margin-right: 0; }

.pagination {
  justify-content: center;
  padding-bottom: 35px; }
  .pagination ul {
    padding: 0;
    margin: 0; }
    .pagination ul li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px; }
      .pagination ul li.active a {
        color: #000; }
      .pagination ul li.prev a, .pagination ul li.next a {
        color: #000; }
        .pagination ul li.prev a:hover, .pagination ul li.next a:hover {
          color: #cfab80; }
      .pagination ul li a {
        color: #cfab80;
        font-size: 20px;
        font-weight: 700; }
        .pagination ul li a:hover {
          color: #000; }

.cabinet {
  display: flex;
  padding-bottom: 35px; }
  .cabinet-wrap .head {
    font-size: 42px;
    font-weight: 700;
    margin: 19px 0 24px 20px; }
  .cabinet-form {
    padding: 0 60px 0 20px; }

.cabinet-item {
  padding-bottom: 34px;
  margin-bottom: 24px;
  border-bottom: 1px solid #cfab80; }
  .cabinet-item:last-child {
    border: none; }
  .cabinet-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px; }
  .cabinet-item__text {
    line-height: 1.57;
    font-size: 14px;
    margin-bottom: 25px; }
    .cabinet-item__text span {
      display: block; }

.cabinet-el {
  display: inline-block;
  vertical-align: top; }
  .cabinet-el-input {
    margin-bottom: 25px; }
    .cabinet-el-input:last-child {
      margin-bottom: 0; }
    .cabinet-el-input span {
      display: inline-block;
      width: 137px;
      color: #b2b2b2;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
    .cabinet-el-input input {
      width: 310px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #c2c2c2;
      font: 400 16px 'Raleway';
      padding: 0 10px; }

.cabinet-content {
  display: inline-block;
  vertical-align: top;
  width: 277px;
  margin-left: 84px;
  padding-top: 11px; }
  .cabinet-content p {
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 20px; }
  .cabinet-content .link {
    padding: 0 38px;
    line-height: 42px; }

.cabinet-nav {
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #406336;
  border-radius: 30px;
  margin-bottom: 26px; }
  .cabinet-nav li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
    .cabinet-nav li.active a {
      background-color: #cfab80; }
    .cabinet-nav li a {
      border-radius: 30px;
      font-weight: 700;
      width: 215px;
      line-height: 50px;
      color: #fff;
      font-size: 16px; }
      .cabinet-nav li a:hover {
        background-color: #cfab80; }

.cabinet-info {
  flex-shrink: 0;
  align-self: flex-start;
  width: 340px;
  padding: 28px 23px 44px;
  background-color: #f1e5bb; }
  .cabinet-info__head {
    font-size: 18px;
    margin-bottom: 7px; }
  .cabinet-info__note {
    color: #406336;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 22px;
    margin-bottom: 24px;
    border-bottom: 2px solid #fff; }
  .cabinet-info__text {
    margin-bottom: 4px; }
  .cabinet-info-link {
    padding-top: 11px;
    padding-left: 0;
    margin-bottom: 0; }
    .cabinet-info-link li {
      list-style-type: none;
      margin-bottom: 16px; }
      .cabinet-info-link li:last-child {
        margin-bottom: 0; }
      .cabinet-info-link li a {
        font-weight: 700;
        text-decoration: underline; }
        .cabinet-info-link li a:hover {
          text-decoration: none;
          color: #000; }

.cabinet-label {
  margin-bottom: 30px; }
  .cabinet-label:last-child {
    margin-bottom: 0; }
  .cabinet-label label {
    position: relative;
    margin-bottom: 0; }
    .cabinet-label label .checkbox {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 2px;
      left: 1px; }
      .cabinet-label label .checkbox__text {
        font-size: 14px;
        padding-left: 28px; }

.contacts {
  display: flex;
  margin-bottom: 91px; }
  .contacts-map {
    width: 460px;
    flex-shrink: 0; }
    .contacts-map iframe {
      border: none;
      width: 100%;
      height: 100%; }
  .contacts-content {
    padding: 0 94px 0 20px; }
    .contacts-content-text {
      line-height: 1.5;
      margin-bottom: 23px; }

.contacts-info {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 48px; }
  .contacts-info-side {
    width: 180px;
    flex-shrink: 0; }
    .contacts-info-side .title {
      margin-bottom: 31px; }

.contacts-item {
  margin-bottom: 46px;
  display: flex;
  align-items: flex-end; }
  .contacts-item-img {
    margin-bottom: 15px; }
  .contacts-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px; }
  .contacts-item__empty {
    font-weight: 700;
    margin-bottom: 8px; }
  .contacts-item-tel {
    margin-bottom: 5px; }
    .contacts-item-tel a {
      font-size: 24px;
      font-weight: 700; }
  .contacts-item-link a {
    color: #4d3833;
    border-bottom: 1px solid #000; }
    .contacts-item-link a:hover {
      border-bottom: 1px solid transparent; }
  .contacts-item-mail {
    margin-bottom: 4px; }
    .contacts-item-mail a {
      font-weight: 700; }
  .contacts-item-el {
    text-align: left;
    width: 212px;
    margin-right: 65px; }
    .contacts-item-el:last-child {
      width: 145px;
      margin-right: 0; }

.ordering {
  display: flex; }
  .ordering__head {
    font-size: 42px;
    font-weight: 700;
    margin: 22px 0 26px 20px; }
  .ordering-form {
    flex-grow: 10;
    padding: 0 60px 0 20px; }
  .ordering-block {
    margin-bottom: 20px; }
  .ordering-link {
    color: #406336;
    text-decoration: underline;
    margin-top: 5px; }
    .ordering-link:hover {
      color: #406336; }
  .ordering-input {
    display: flex;
    align-items: center;
    margin-bottom: 25px; }
    .ordering-input:last-child {
      margin-bottom: 0; }
    .ordering-input > input,
    .ordering-input textarea {
      flex-shrink: 0;
      width: 540px;
      height: 50px;
      background-color: #fff;
      border: 1px solid #c2c2c2;
      font: 400 16px 'Raleway';
      color: #000;
      padding: 0 16px;
      margin-right: 30px; }
      .ordering-input > input::-webkit-input-placeholder,
      .ordering-input textarea::-webkit-input-placeholder {
        color: #000; }
      .ordering-input > input:-moz-placeholder,
      .ordering-input textarea:-moz-placeholder {
        color: #000; }
      .ordering-input > input::-moz-placeholder,
      .ordering-input textarea::-moz-placeholder {
        color: #000; }
      .ordering-input > input:-ms-input-placeholder,
      .ordering-input textarea:-ms-input-placeholder {
        color: #000; }
    .ordering-input textarea {
      height: 150px;
      resize: none;
      padding-top: 16px; }

.ordering-item {
  padding-bottom: 41px;
  margin-bottom: 33px;
  border-bottom: 1px solid #cfab80; }
  .ordering-item:last-child {
    border: none;
    margin-bottom: 26px; }
  .ordering-item__head {
    color: #949494;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 19px;
    text-transform: uppercase; }

.ordering-input-label label {
  margin-bottom: 0;
  position: relative; }

.ordering-input-label .checkbox {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 0;
  border: 1px solid #959595; }
  .ordering-input-label .checkbox__text {
    padding-left: 25px;
    font-size: 14px; }

.ordering-el {
  width: 190px;
  line-height: 50px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  text-align: center;
  margin-right: 33px;
  margin-bottom: 20px; }
  .ordering-el:last-child {
    margin-right: 0; }
  .ordering-el:nth-child(4) {
    margin-right: 0; }
  .ordering-el.claim {
    width: 410px; }
  .ordering-el-wrap {
    display: flex;
    flex-wrap: wrap; }
  .ordering-el label {
    width: 100%;
    margin: 0; }
    .ordering-el label input {
      display: none; }
      .ordering-el label input:checked + span {
        background-color: #406336;
        color: #fff; }
    .ordering-el label span {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      color: #808285;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: 300ms; }

.ordering-info {
  width: 340px;
  flex-shrink: 0;
  align-self: flex-start;
  background-color: #f1e5bb;
  padding: 26px 20px 32px; }
  .ordering-info__head {
    color: #406336;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px; }
  .ordering-info table tbody td {
    height: 34px; }
    .ordering-info table tbody td:first-child {
      width: 215px; }
  .ordering-info__total {
    font-weight: 700;
    font-size: 18px;
    padding: 38px 0 33px;
    position: relative; }
    .ordering-info__total:before, .ordering-info__total:after {
      content: '';
      display: block;
      background-color: #fff;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 15px;
      left: 15px; }
    .ordering-info__total:after {
      left: auto;
      right: 0; }
  .ordering-info-link {
    text-align: center; }
    .ordering-info-link button {
      width: 260px;
      line-height: 50px;
      background-color: #406336;
      border-radius: 30px;
      font-weight: 700;
      color: #fff;
      border: none;
      transition: 300ms;
      cursor: pointer; }
      .ordering-info-link button:hover {
        background-color: #1d2f18; }

.basket {
  padding-bottom: 30px; }
  .basket .ordering-form {
    padding-right: 39px; }
  .basket-img {
    opacity: .9; }
    .basket-img:hover {
      opacity: 1; }
  .basket__head {
    font-size: 17px;
    font-weight: 700;
    color: #0a0a0a;
    margin-bottom: 9px; }
  .basket__text {
    line-height: 1.6;
    padding-right: 50px; }
  .basket-val {
    border: 1px solid #c2c2c2;
    width: 120px;
    display: flex;
    text-align: center;
    margin-top: -3px; }
    .basket-val span {
      cursor: pointer;
      width: 40px;
      font-size: 24px;
      color: #aaa;
      display: flex;
      align-items: center;
      justify-content: center; }
    .basket-val input {
      width: 40px;
      height: 40px;
      border: none;
      border-right: 1px solid #c2c2c2;
      border-left: 1px solid #c2c2c2;
      text-align: center;
      font: 700 18px 'Raleway'; }
  .basket__price {
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    padding-top: 8px; }
  .basket-arrow {
    cursor: pointer;
    margin: 8px auto 0;
    background: url(../images/basket-arrow.png) no-repeat left;
    width: 24px;
    height: 24px; }
    .basket-arrow:hover {
      background-position: right; }

.basket-table table thead tr td {
  height: 50px;
  vertical-align: top;
  color: #939598;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }
  .basket-table table thead tr td:first-child {
    width: 170px; }
  .basket-table table thead tr td:nth-child(2) {
    width: 250px; }
  .basket-table table thead tr td:nth-child(3) {
    width: 160px;
    padding-left: 14px; }
  .basket-table table thead tr td:nth-child(4) {
    width: 132px; }
  .basket-table table thead tr td:nth-child(5) {
    width: 98px;
    padding-left: 12px; }
  .basket-table table thead tr td:last-child {
    width: 70px; }

.basket-table table tbody tr td {
  vertical-align: top;
  padding-bottom: 48px; }

.delivery {
  display: flex;
  margin-bottom: 58px;
  margin-top: 13px;
  padding-top: 48px;
  border-top: 1px solid #cfab80; }
  .delivery__head {
    flex-shrink: 0;
    width: 140px;
    margin-right: 30px;
    color: #010101;
    font-size: 24px;
    font-weight: 700; }
  .delivery-item {
    margin-bottom: 4px; }
    .delivery-item label {
      margin: 0;
      position: relative; }
      .delivery-item label .radio {
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 2px solid #acacac;
        display: inline-block;
        vertical-align: top; }
        .delivery-item label .radio input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 5;
          cursor: pointer; }
          .delivery-item label .radio input:checked + span:before {
            opacity: 1; }
        .delivery-item label .radio span {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0; }
          .delivery-item label .radio span:before {
            content: '';
            display: block;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background-color: #406336;
            opacity: 0;
            transition: 300ms; }
        .delivery-item label .radio__text {
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          padding-left: 36px;
          line-height: 1.6; }
          .delivery-item label .radio__text span {
            display: block;
            color: #949494; }

.basket-item {
  display: flex;
  margin-bottom: 62px;
  margin-right: 20px; }
  .basket-item-content {
    background-color: #f1e5bb;
    flex-grow: 10;
    padding: 22px 38px 17px 30px; }
  .basket-item-side {
    width: 270px;
    flex-shrink: 0;
    background-color: #b3bf5f;
    padding: 52px 42px 42px 40px; }
  .basket-item__head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px; }
  .basket-item__note {
    font-size: 14px;
    margin-bottom: 15px; }
  .basket-item__info {
    font-size: 18px;
    margin-bottom: 20px; }
    .basket-item__info span {
      font-weight: 700; }
  .basket-item__val {
    font-size: 24px;
    font-weight: 700; }
  .basket-item__text {
    line-height: 1.6; }

.basket-node {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .basket-node label {
    margin-bottom: 0;
    position: relative; }
    .basket-node label .checkbox {
      position: absolute;
      top: 2px;
      left: 0; }
      .basket-node label .checkbox__text {
        padding-left: 25px;
        font-size: 14px; }
  .basket-node-input {
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #43525a; }
    .basket-node-input input {
      width: 100%;
      height: 100%;
      border: none;
      text-align: center; }
  .basket-node .link {
    padding: 0 20px;
    line-height: 40px; }

.payment {
  display: flex;
  padding-bottom: 40px; }
  .payment-content {
    flex-grow: 10;
    padding: 27px 146px 0 20px; }
    .payment-content .title {
      margin-bottom: 32px; }
    .payment-content .head {
      padding-right: 36px; }
  .payment-item {
    margin-bottom: 44px; }
    .payment-item__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px; }
    .payment-item__text {
      margin-bottom: 4px; }
      .payment-item__text a {
        color: #4d3833;
        text-decoration: underline; }
        .payment-item__text a:hover {
          text-decoration: none; }

.payment-sidebar {
  align-self: flex-start;
  flex-shrink: 0;
  width: 460px; }
  .payment-sidebar__text {
    line-height: 1.6; }
  .payment-sidebar__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4; }
  .payment-sidebar-item {
    margin-bottom: 35px;
    background-color: #e1e5bf;
    padding: 32px 60px 38px 30px; }

.order {
  display: flex;
  margin-bottom: 49px; }
  .order-head {
    font-size: 32px;
    font-weight: 700;
    margin: 25px 0 35px 20px; }
    .order-head span {
      color: #406336; }
  .order-content {
    padding-right: 60px;
    padding-left: 20px; }
    .order-content__text {
      line-height: 1.6;
      padding-bottom: 49px;
      margin-bottom: 36px;
      border-bottom: 1px solid #cfab80; }
  .order-amount {
    font-size: 18px;
    font-weight: 700;
    padding-left: 37px;
    padding-top: 8px; }

.order-sidebar {
  width: 340px;
  flex-shrink: 0;
  align-self: flex-start;
  background-color: #f1e5bb;
  padding: 26px 12px 26px 16px; }

.order-item {
  padding-bottom: 5px;
  margin-bottom: 23px;
  border-bottom: 1px solid #fff; }
  .order-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
  .order-item__head {
    color: #406336;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px; }
  .order-item__text {
    margin-top: 12px; }
  .order-item__link {
    margin-top: 12px; }
  .order-item table tbody td {
    vertical-align: top;
    height: 35px;
    line-height: 1.35; }
    .order-item table tbody td:first-child {
      width: 178px; }

.order-content .basket__text {
  padding-right: 60px; }

.order-content .basket-table table thead tr td:first-child {
  width: 170px; }

.order-content .basket-table table thead tr td:nth-child(2) {
  width: 263px; }

.order-content .basket-table table thead tr td:nth-child(3) {
  padding-left: 0;
  width: 165px; }

.order-content .basket-table table thead tr td:nth-child(4) {
  width: 158px; }

.order-content .basket-table table thead tr td:last-child {
  width: 97px;
  padding-left: 6px; }

.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0 65px;
  margin-bottom: 69px;
  border-bottom: 1px solid #cfab80; }
  .product-img {
    padding-left: 228px;
    position: relative; }
  .product-nav {
    position: absolute;
    top: 0;
    left: 20px; }
  .product-dots {
    padding: 0;
    margin: 0; }
    .product-dots li {
      cursor: pointer;
      transition: 300ms;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      width: 140px;
      height: 140px;
      margin-bottom: 21px;
      border: 2px solid transparent;
      filter: grayscale(1); }
      .product-dots li:last-child {
        margin-bottom: 0; }
      .product-dots li:hover {
        filter: grayscale(0); }
      .product-dots li.active {
        border: 2px solid #b3bf5f;
        filter: grayscale(0); }
  .product-arrows {
    position: relative; }
    .product-arrows .slick-arrow {
      cursor: pointer;
      transition: 300ms;
      border: none;
      background-color: #fff;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -24px;
      margin-top: 30px; }
      .product-arrows .slick-arrow:focus {
        outline: none; }
    .product-arrows .slick-prev {
      margin-left: 10px; }
    .product-arrows .slick-next {
      margin-left: -37px; }
  .product-slider {
    width: 522px; }
  .product-link {
    display: flex;
    justify-content: space-between; }
    .product-link .link {
      align-self: flex-start;
      line-height: 60px;
      padding: 0 37px; }
    .product-link__ref {
      align-self: flex-start;
      line-height: 60px;
      background-color: #d9dfaf;
      font-weight: 700;
      padding: 0 34px;
      border-radius: 30px; }
      .product-link__ref:hover {
        background-color: #1d2f18;
        color: #fff; }

.product-items {
  flex-shrink: 0;
  align-items: flex-start;
  width: 380px;
  margin-top: -8px; }

.product-item {
  padding-bottom: 40px;
  margin-bottom: 28px;
  border-bottom: 1px solid #cfab80; }
  .product-item:nth-child(2) {
    padding-bottom: 31px;
    margin-bottom: 40px; }
  .product-item:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0; }
  .product-item__head {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px; }
  .product-item__text {
    line-height: 1.6;
    margin-bottom: 28px; }
    .product-item__text b {
      line-height: 1.6; }
    .product-item__text span {
      display: block; }
  .product-item .basket__price {
    padding-top: 0;
    font-size: 32px;
    font-weight: 700; }
  .product-item .basket-val {
    width: auto; }
    .product-item .basket-val input {
      width: 60px; }

.product-node {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-right: 52px; }

.product-info-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.product-info__head {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 42px; }

.product-info__sum {
  color: #b3bf5f;
  font-size: 24px;
  font-weight: 700; }

.product-info-img {
  position: relative; }
  .product-info-img img {
    position: absolute;
    top: 0;
    left: 0; }

.product-info-more {
  padding-left: 60px; }
  .product-info-more p {
    font-size: 14px;
    line-height: 1.55;
    margin-bottom: 3px; }
  .product-info-more a {
    font-size: 14px;
    color: #406336;
    text-decoration: underline; }
    .product-info-more a:hover {
      text-decoration: none; }

.addition {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px; }
  .addition__head {
    flex-shrink: 0;
    font-size: 32px;
    font-weight: 700;
    width: 220px;
    padding-left: 20px; }
  .addition .catalog-items {
    flex-grow: 0; }

.office {
  text-align: center;
  padding: 22px 0 59px; }
  .office__head {
    font-size: 42px;
    font-weight: 700;
    margin: 0 0 28px 16px; }
  .office-items {
    width: 480px;
    margin: 0 auto;
    padding-left: 20px; }
    .office-items button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      height: 40px;
      background-color: #406336;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      padding: 0 36px;
      border-radius: 30px; }
      .office-items button:hover {
        background-color: #1d2f18; }
  .office-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px; }
    .office-item label {
      cursor: pointer;
      width: 142px;
      text-align: left;
      color: #b2b2b2;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
      .office-item label span {
        color: #406336; }
    .office-item input {
      width: 320px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #c2c2c2;
      font: 400 16px 'Raleway';
      padding: 0 10px;
      color: #000; }
      .office-item input::-webkit-input-placeholder {
        color: #000; }
      .office-item input:-moz-placeholder {
        color: #000; }
      .office-item input::-moz-placeholder {
        color: #000; }
      .office-item input:-ms-input-placeholder {
        color: #000; }
  .office-info {
    width: 320px;
    margin: 0 0 40px auto;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .office-info__consent {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 0; }
      .office-info__consent input {
        cursor: pointer;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 1px solid #959595; }
      .office-info__consent span {
        font-size: 14px;
        padding-left: 10px; }
    .office-info__link {
      color: #406336;
      font-size: 16px;
      border-bottom: 1px solid #406336; }
      .office-info__link:hover {
        color: #406336;
        border-bottom: 1px solid transparent; }
