$green: #28b85e;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  min-height: 100%;
  font: 400 16px 'FuturaNewDemi', sans-serif;
}

a {
  display: inline-block;
  font: 400 16px 'FuturaNewDemi', sans-serif;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}


@media (max-width: 1360px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 550px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 10px !important;
  }
}

.container {
  max-width: 1260px;
  padding: 0;
}

.page {
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat 50%;
  background-size: cover;
  position: relative;
  z-index: 99;
  &:before {
    content: '';
    display: block;
    background: url(../images/before.png) no-repeat 50%;
    width: 291px;
    height: 339px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  &:after {
    content: '';
    display: block;
    background: url(../images/after.png) no-repeat 50%;
    width: 310px;
    height: 291px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
}

@media (max-width: 991px) {
  .page {
    height: auto;
  }
}

@media (max-width: 767px) {
  .page {
    background: #fff;
    &:before, &:after {
      display: none;
    }
  }
}

// Logo

.logo {
  width: 160px;
  flex-shrink: 0;
  margin-right: 60px;
}

@media (max-width: 1900px) {
  .logo {
    width: 128px;
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

// Header

.header {
  padding: 46px 0 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-info {
    width: 42.9%;
    display: flex;
    align-items: center;
    p {
      flex-grow: 10;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

@media (max-width: 1900px) {
  .header {
    padding: 16px 0;
  }
}

@media (max-width: 1360px) {
  .header {
    &-info {
      width: 46%;
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-widtH: 767px) {
  .header {
    flex-direction: column;
    padding-bottom: 14px;
    &-wrap .container {
      width: 100%;
    }
    &-info {
      width: 100%;
      padding: 0 16px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    &-wrap .container {
      padding: 0 !important;
    }
    &-info {
      flex-direction: column;
      padding: 0 10px;
    }
  }
}

// Partners

.partners {
  width: 42.9%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 52px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 1360px) {
  .partners {
    width: 46%;
    li {
      margin-right: 24px;
    }
  }
}

@media (max-width: 767px) {
  .partners {
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    background-color: #26364F;
    li {
      margin: 0 20px;
      &:last-child {
        margin: 0 20px;
      }
    }
  }
}

// Scout

.scout {
  &-items {
    padding: 72px 152px 27px;
    margin: 0 -160px;
    border: 10px solid #f8d800;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    &:before {
      content: '';
      display: block;
      background-color: #fff;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &:after {
      content: '';
      display: block;
      background-color: #26364F;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
  &-item {
    width: 42.9%;
  }
}

@media (max-width: 1900px) {
  .scout {
    &-items {
      padding: 24px;
      margin: 0 -30px;
      border: 6px solid #f8d800;
    }
  }
}

@media (max-width: 1360px) {
  .scout {
    &-items {
      margin: 0;
      padding: 18px;
    }
    &-item {
      width: 46%;
    }
  }
}

@media (max-width: 991px) {
  .scout {
    &-items {
      border: 4px solid #f8d800;
    }
  }
}

@media (max-width: 767px) {
  .scout {
    .container {
      width: 100%;
    }
    &-items {
      padding: 0;
      border: none;
      flex-direction: column;
      &:before, &:after {
        display: none;
      }
    }
    &-item {
      width: 100%;
      padding: 16px;
    }
  }
}

@media (max-width: 575px) {
  .scout {
    .container {
      padding: 0 !important;
    }
    &-item {
      padding: 16px 10px;
    }
  }
}

// About

.about {
  &-text {
    font-size: 34px;
    line-height: 1.3;
    color: $green;
    margin-bottom: 55px;
    span {
      color: #fff;
      background-color: $green;
      padding: 0 6px 2px;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 240px;
    margin: 0 58px 50px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    .number {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #fff;
      background-color: $green;
      font-size: 20px;
      margin-bottom: 16px;
    }
    p {
      font-family: 'FuturaNewBook';
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1900px) {
  .about {
    &-text {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 22px;
    }
    &-item {
      margin: 0 50px 20px 0;
      p {
        font-size: 18px;
        line-height: 1.2;
      }
    }
  }
}

@media (max-width: 1360px) {
  .about {
    &-item {
      width: 190px;
      margin-right: 38px;
      .number {
        width: 36px;
        height: 36px;
        font-size: 18px;
        margin-bottom: 12px;
      }
      p {
        font-size: 16px;
      }
    }
    &-text {
      font-size: 18px;
    }
  }
}

@media (max-width: 991px) {
  .about {
    &-item {
      width: 155px;
      margin-right: 12px;
    }
  }
}

@media (max-width: 767px) {
  .about {
    &-items {
      justify-content: center;
    }
    &-item {
      width: 224px;
      margin: 0 12px 20px;
      &:nth-child(2n) {
        margin: 0 12px 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .about {
    &-item {
      width: 100%;
      &:last-child {
        margin-bottom: 6px;
      }
    }
  }
}

// Callback

.callback {
  &-top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 26px;
    img {
      width: 56px;
      flex-shrink: 0;
    }
    p {
      flex-grow: 10;
      padding-left: 35px;
      margin: -5px 0 0 0;
      color: #fff;
      font-size: 24px;
      line-height: 1.35;
    }
  }
  &-input {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    span {
      flex-shrink: 0;
      width: 90px;
      color: #fff;
      font-size: 16px;
    }
    input {
      flex-shrink: 0;
      width: 300px;
      height: 40px;
      background-color: transparent;
      color: #fff;
      border: 1px solid $green;
      padding: 0 12px;
      font: 400 16px 'FuturaNewBook';
      transition: background 300ms;
      &:focus {
        background-color: $green;
      }
      &::placeholder {
        color: #fff;
      }
      &::-moz-placeholder { 
        color: #fff;
      }
    }
  }
  &-form {
    .error {
      color: #fff;
      font-family: 'FuturaNewBook';
      font-size: 14px;
      margin-left: 10px;
    }
    button {
      cursor: pointer;
      border: none;
      transition: 300ms;
      height: 40px;
      margin-left: 90px;
      font: 400 14px 'FuturaNewDemi';
      color: #fff;
      background-color: $green;
      text-transform: uppercase;
      padding: 0 22px;
      &:hover {
        background-color: #39ce71;
      }
    }
  }
}

// Callback check

.callback .check {
  &-wrap {
    padding-left: 90px;
    margin-bottom: 22px;
    .error {
      margin-left: 0;
      padding-top: 10px;
    }
    label {
      margin-bottom: 0;
      position: relative;
      .check {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: $green;
        input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 5;
          cursor: pointer;
          &:checked + span:before {
            opacity: 1;
          }
        }
        span {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &:before {
            content: '\2714';
            display: block;
            font-size: 14px;
            line-height: 1;
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: 300ms;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  &__text {
    cursor: pointer;
    font-family: 'FuturaNewBook';
    font-size: 14px;
    color: #fff;
    padding-left: 32px;
  }
}

@media (max-width: 1900px) {
  .callback {
    &-top {
      margin-bottom: 14px;
      p {
        margin-top: 0;
        font-size: 18px;
        line-height: 1.2;
      }
    }
    &-input {
      margin-bottom: 10px;
    }
    .check-wrap {
      margin-bottom: 10px;
      .error {
        padding-top: 6px;
      }
    }
  }
}

@media (max-width: 1360px) {
  .callback {
    &-top {
      img {
        width: 48px;
      }
      p {
        font-size: 16px;
        padding-left: 24px;
      }
    }
    &-input {
      span {
        font-size: 15px;
      }
      input {
        width: 230px;
        font-size: 12px;
        padding: 0 8px;
      }
    }
    &-form {
      .error {
        font-size: 12px;
      }
      button {
        font-size: 12px;
      }
    }
    .check {
      &-wrap {
        margin-bottom: 12px;
      }
      &__text {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 991px) {
  .callback {
    &-input {
      flex-direction: column;
      margin-bottom: 6px;
      span {
        display: inline-block;
        width: auto;
        margin-bottom: 6px;
      }
      input {
        width: 100%;
        font-size: 15px;
      }
    }
    &-form {
      text-align: center;
      .error {
        font-size: 13px;
        margin-left: 0;
        padding-top: 6px;
      }
      button {
        margin-left: 0;
      }
    }
    .check {
      &-wrap {
        padding-left: 0;
        margin: 16px 0;
        .error {
          padding-top: 8px;
        }
      }
      &__text {
        text-align: left;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .callback {
    background-color: #26364F;
  }
}

@media (max-width: 575px) {
  .callback {
    &-top {
      p {
        font-size: 15px;
      }
    }
    &-input {
      input {
        padding: 0 8px;
      }
    }
  }
}

// Footer

.footer {
  padding: 48px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-item {
    width: 42.9%;
    p {
      margin-bottom: 8px;
      font-family: 'FuturaNewBook';
      &:last-child {
        margin-bottom: 0;
      }
      b {
        text-transform: uppercase;
      }
      a {
        color: $green;
        font-family: 'FuturaNewBook';
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__text {
      color: #fff;
      margin-bottom: 8px;
      font-family: 'FuturaNewBook';
    }
    &__link {
      color: $green;
      font-family: 'FuturaNewBook';
      &:hover {
        color: $green;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1900px) {
  .footer {
    padding: 10px 0;
    &-item {
      p {
        margin-bottom: 5px;
      }
      &__text {
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 1360px) {
  .footer {
    padding: 12px 0;
    &-item {
      width: 46%;
      p {
        font-size: 15px;
        b, a {
          font-size: 15px;
        }
      }
      &__text, 
      &__link {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    text-align: center;
    &-item {
      width: 100%;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      &__text {
        color: #000;
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {
    &-item {
      p {
        font-size: 14px;
        b, a {
          font-size: 14px;
        }
      }
      &__text,
      &__link {
        font-size: 14px;
      }
    }
  }
}