@media only screen and (max-width: 1690px) {
  .container {
    width: 1250px;
  }
  .container_large {
    width: 1275px;
  }
  .header {
    padding-left: 15px;
  }
  .logo {
    margin-right: 90px;
  }
  .nav__list > a {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .nav__list {
    margin-right: 24px;
  }
  .header-search {
    margin-right: 20px;
  }
  .header-info__room {
    margin-right: 20px;
  }
  .header-info .lang {
    margin-right: 22px;
    font-size: 14px;
  }
  .showcase {
    padding: 100px 0 0;
    height: 550px;
  }
  .showcase-wrap .slick-dots {
    top: 24%;
  }
  .showcase-items {
    margin-left: 164px;
  }
  .showcase-items .slick-dots {
    right: -377px;
  }
  .shopfront-items {
    width: 980px;
    margin: 0 auto;
  }
  .shopfront-items .slick-prev {
    left: -142px;
  }
  .shopfront-items .slick-next {
    right: -159px;
  }
  .shopfront-item {
    height: 275px;
    padding-top: 59px;
    padding-left: 30px;
  }
  .shopfront-hover {
    padding: 18px 30px 20px 36px;
  }
  .shopfront-item__number {
    padding-bottom: 14px;
  }
  .shopfront-hover__name {
    margin-bottom: 14px;
  }
  .shopfront-hover__img {
    margin-bottom: 8px;
  }
  .shopfront-item__name {
    line-height: 1.25;
  }
  .head {
    letter-spacing: 5px;
  }
  .main-news-item {
    width: 365px;
  }
  .main-news-data span {
    padding-left: 28px;
  }
  .main-news-item p {
    line-height: 1.65;
  }
  .main-news__head {
    margin-bottom: 12px;
  }
  .recourse-content span {
    margin-bottom: 40px;
  }
  .main-news-items {
    margin-bottom: 35px;
  }
  .main-news__link a {
    padding: 0 25px;
  }
  .recourse-content__singnature {
    bottom: 70px;
  }
  .recourse-img {
    top: 70px;
    right: -12px;
    width: 620px;
    height: 390px;
  }
  .recourse {
    padding: 65px 0 32px;
    margin-bottom: 126px;
  }
  .feature-items {
    width: 1100px;
    margin: 0 auto;
  }
  .feature-items .slick-prev{
    left: -80px;
  }
  .recourse-content a {
    padding: 0 32px;
  }
  .feature {
    padding-bottom: 86px;
  }
  .feature-items .slick-dots {
    bottom: -38px;
  }
  .feature-item__img {
    height: 138px;
  }
  .main-about {
    padding: 65px 0 44px;
  }
  .main-about__number {
    margin: 0 5px 0 10px;
  }
  .main-about__text {
    margin-top: 10px;
  }
  .main-about-items {
    margin-bottom: 38px;
  }
  .partners-items {
    width: 1100px;
    margin: 0 auto;
  }
  .partners-items .slick-prev  {
    left: -73px;
  }
  .partners-items .slick-next {
    right: -88px;
  }
  .partners .feature {
    padding-top: 114px;
    margin-bottom: 35px;
  }
  .partners-info p {
    margin: 0 20px 0 10px;
  }
  .partners .feature-head {
    margin-bottom: 34px;
  }
  .invite {
    padding-bottom: 59px;
  }
  .invite-items {
    width: 521px;
  }
  .invite-item {
    width: 144px;
  }
  .invite-item:last-child {
    width: 110px;
  }
  .invite-item a {
    margin: 20px 0 6px;
  }
  .invite-content {
    margin-left: 82px;
  }
  .invite-items {
    margin-right: 77px;
  }
  .invite-wrap {
    margin-bottom: 87px;
  }
  .invite-head {
    letter-spacing: 4px;
  }
  .map-info {
    right: -12px;
  }
  .map-content {
    height: 500px;
  }
  .callback-bond {
    width: 483px;
  }
  .footer-content {
    width: 925px;
  }
  .footer-content li:first-child a {
    margin-bottom: 6px;
  }
  .footer-content ul {
    width: 195px;
  }
  .footer-info__soc a {
    margin-right: 22px;
  }
  
  /* Product */
  
  .product-class-nav {
    margin-left: 0;
    font-size: 0;
  }
  .products-slider-items .slick-prev {
    left: -40px;
  }
  .products-slider-items .slick-next {
    right: -40px;
  }
  .products-slider-items .product-item-content {
    padding: 20px;
  }
  
  /* Error */
  
  .error-search {
    width: 500px;
  }
  .error-search input {
    width: 362px;
  }
  
  /* News */
  
  .news-item {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1336px) {
  .container,
  .error-bottom {
    width: 940px;
  }
  .container_large {
    width: 948px;
  }
  .logo {
    width: 139px;
    margin-right: 21px;
  }
  .nav__list {
    margin-right: 14px;
  }
  .header {
    padding: 31px 0 26px;
  }
  .header-search,
  .header-info__room,
  .header-info .lang {
    margin-right: 6px;
  }
  .header-search,
  .header-info__room  {
    margin-top: 10px;
  }
  .header-info-content {
    margin-top: -3px;
  }
  .header-info-content a {
    font-size: 18px;
    margin-bottom: 0;
  }
  .header-info-content p {
    font-size: 14px;
  }
  .nav {
    padding-top: 13px;
  }
  body {
    padding-top: 90px;
  }
  .showcase {
    padding-top: 120px;
  }
  .showcase-items .slick-dots {
    right: -59px;
    top: 5px;
  }
  .showcase-item h2 {
    font-size: 40px;
    margin-bottom: 7px;
  }
  .showcase-item p {
    font-size: 20px;
    line-height: 1.4;
  }
  .shopfront-items {
    width: 960px;
  }
  .showcase-item {
    width: 670px;
    margin-left: 130px;
  }
  .shopfront-items .slick-next {
    right: -20px;
  }
  .shopfront-items .slick-prev {
    left: -22px;
  }
  .shopfront-items .slick-prev,
  .shopfront-items .slick-next {
    background: url(../images/prev-small1.png) no-repeat right;
    width: 20px;
    height: 20px;
    margin-top: 0px;
  }
  .shopfront-items .slick-prev:hover {
    background-position: left;
  }
  .shopfront-items .slick-next {
    background: url(../images/next-small1.png) no-repeat right;
  }
  .main-news {
    padding-top: 47px;
  }
  .main-news-items {
    margin: 0 96px 35px 0;
  }
  .main-news-item:last-child {
    display: none;
  }
  .recourse-content {
    width: 460px;
  }
  .recourse-content p {
    padding-right: 15px;
  }
  .recourse-img {
    width: 500px;
    right: -40px;
  }
  .recourse-content span {
    margin-bottom: 30px;
  }
  .recourse-content a {
    margin-left: 0;
  }
  .recourse-content__singnature {
    bottom: 28px;
  }
  .recourse-content__quotes {
    left: -19px;
  }
  .recourse-content {
    padding-left: 0;
  }
  .recourse {
    margin-bottom: 56px;
  }
  
  .feature-items {
    width: 780px;
  }
  .feature {
    padding-bottom: 76px;
  }
  .partners .feature {
    padding-top: 68px;
    margin-bottom: 30px;
  }
  .partners-info p {
    font-size: 84px;
    margin-right: 5px;
  }
  .partners-info span {
    font-size: 22px;
    margin-bottom: 7px;
    width: 317px;
  }
  .partners-info {
    top: 17px;
    width: 477px;
  }
  .partners .feature-item {
    height: 193px;
  }
  .partners-items .slick-dots {
    bottom: -58px;
  }
  .main-about__number {
    font-size: 84px;
    margin: 0 2px 0 0;
  }
  .main-about-items {
    margin: 0 0 40px 0;
  }
  .main-about-item {
    width: 280px;
  }
  .main-about-item:last-child {
    width: 318px;
  }
  .main-about-text {
    margin-bottom: 45px;
    margin-top: 0;
  }
  .main-about__text {
    margin-top: 0;
  }
  .main-about-item:nth-child(3) .main-about__text{
    width: 77px;
  }
  .main-about-item:last-child {
    width: 222px;
  }
  .partners-items .slick-prev,
  .partners-items .slick-next,
  .feature-items .slick-prev,
  .feature-items .slick-next {
    background: url(../images/prev-small1.png) no-repeat left;
    width: 20px;
    height: 20px;
    margin-top: -20px;
  }
  .feature-items .slick-next,
  .partners-items .slick-next{
    background: url(../images/next-small1.png) no-repeat left;
  }
  .feature-items .slick-prev,
  .partners-items .slick-prev {
    left: -101px;
  }
  .feature-items .slick-next, 
  .partners-items .slick-next {
    right: -100px;
  }
  .partners-items .slick-prev,
  .partners-items .slick-next {
    margin-top: -6px;
  }
  .partners-items {
    width: 780px;
  }
  .invite-content {
    margin-left: 0;
    width: 500px;
  }
  .invite-items {
    margin-right: 0;
    width: 440px;
  }
  .invite-item a,
  .invite-item span,
  .invite-content p,
  .map-info span,
  .map-info select {
    font-size: 14px;
  }
  .invite-content__head {
    font-size: 30px;
  }
  .invite-content p {
    line-height: 1.9;
  }
  .invite-head {
    margin-bottom: 78px;
  }
  .invite-item a {
    margin: 18px 0 0;
  }
  .invite {
    padding-bottom: 50px;
  }
  .invite-wrap {
    margin-bottom: 52px;
  }
  .map-content {
    height: 460px;
  }
  .callback-bond {
    width: 350px;
    padding-top: 55px;
    padding-bottom: 52px;
  }
  .callback-items {
    width: 540px;
    padding-top: 55px;
    padding-bottom: 52px;
  }
  .callback-bond-head {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .callback-bond-nav__item {
    font-size: 14px;
    margin-bottom: 19px;
  }
  .callback-bond-nav__item:last-child {
    margin-bottom: 0;
  }
  .callback-bond-content__tel {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .callback-bond-content__link a {
    margin-top: 51px;
  }
  .callback-bond-content p,
  .callback-bond-content__mail,
  .callback-items p,
  .callback-item-input input {
    font-size: 14px;
  }
  .callback-item textarea {
    margin-bottom: 45px;
    font-size: 14px;
  }
  .callback-item-input {
    margin-right: 15px;
    margin-bottom: 36px;
  }
  .callback-item-input:nth-child(2) {
    width: 300px;
    margin-right: 0;
  }
  .callback-item-input:nth-child(3) {
    width: 100%;
  }
  .callback-items p {
    margin-bottom: 34px;
  }
  .callback-item-button {
    text-align: center;
  }
  .callback-items__head {
    margin-bottom: 23px; 
  }
  .map-info select {
    width: 220px;
  }
  .map-info {
    top: -6px;
    right: 0;
  }
  .map-head {
    margin-bottom: 37px;
  }
  .map-info span {
    margin-right: 6px;
  }
  .map-content {
    height: 457px;
  }
  .footer-info {
    width: 235px;
  }
  .footer-content {
    width: 695px;
    flex-wrap: wrap;
    padding: 9px 54px 0 6px;
  }
  .footer-content ul:first-child {
    width: 205px;
  }
  .footer-content ul {
    width: auto;
    margin-bottom: 32px;
  }
  .footer-content ul:last-child {
    margin-bottom: 14px;
  }
  .footer-info__logo {
    width: 135px;
    margin-bottom: 25px;
  }
  .footer-info p,
  .footer-info-item a {
    font-size: 14px;
  }
  .footer-info p {
    margin-bottom: 7px;
  }
  .footer-info-item {
    margin-bottom: 9px;
  }
  .footer-content li:first-child a {
    margin-bottom: 3px;
  }
  .footer-content li a {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .footer {
    padding-top: 17px;
    padding-bottom: 0;
  }
  .footer-content__link a {
    margin-top: 24px;
  }
  
  /* Product */
  
  .product-class-nav li {
    margin-right: 12px;
    letter-spacing: 2px;
    font-size: 18px;
  }
  .product-class-item {
    width: 190px;
  }
  .product-item {
    display: block;
    width: 300px;
  }
  .product-item-content {
    width: 100%;
  }
  .products-img {
    width: 425px;
  }
  .products-content {
    width: 480px;
  }
  .products-head {
    font-size: 35px;
  }
  .products-info-item p:first-child {
    width: 180px;
  }
  .products-info-item {
    margin-right: 38px;
  }
  .products-slider .product-item {
    display: block;
  }
  .product-item-content__head {
    font-size: 18px;
  }
  
  /* News */
  
  .news .news-nav {
    position: static;
    text-align: center;
  }
  .news-items {
    justify-content: center;
  }
  .news-item {
    margin: 0 10px 20px !important;
  }
  .subscribe-content {
    float: none;
    margin: 0 auto 30px;
  }
  .subscribe-info {
    float: none;
    margin: 0 auto;
  }
  .uncos-content {
    width: 600px;
  }
  .uncos-sidebar {
    width: 300px;
    margin-top: 0;
  }
  .uncos-content__head {
    font-size: 30px;
  }
  .uncos-sidebar .news-item-content {
    margin-bottom: 50px;
  }
  .uncos-sidebar .news-item-data {
    margin-right: 37px;
  }
  .uncos-sidebar .news-item__head {
    font-size: 18px;
  }
  
  /* Contacts */
  
  .contacts-head {
    font-size: 38px;
    margin-bottom: 33px;
  }
  .contacts-item:first-child {
    width: 500px;
  }
  .contacts-item__head,
  .contacts-bottom__head {
    font-size: 16px;
  }
  .contacts-item li p,
  .contacts-item-text {
    font-size: 14px;
  }
  .contacts-item {
    width: 260px;
    margin: 0 5px;
  }
  .contacts-item-content {
    padding-left: 50px;
  }
  .contacts-bottom ul {
    width: 220px;
    margin: 0 5px;
  }
  .contacts-map .map-content {
    height: 350px;
  }
  .contacts-callback .callback-item-input:nth-child(3) {
    width: 300px;
    margin-right: 0;
  }
  .contacts-callback .callback-item-input:nth-child(2) {
    margin-right: 25px;
  }
  .contacts-callback .callback-item-input {
    margin-right: 15px;
  }
  
  /* Dealer */
  
  .dealer table thead tr th:first-child {
    width: 180px;
  }
  .dealer table thead tr th:nth-child(3) {
    width: 200px;
  }
  .dealer table thead tr th:nth-child(4) {
    width: 140px;
  }
  .dealer-content {
    width: 750px;
  }
  .dealer-header {
    align-items: flex-start;
  }
  .dealer-info {
    padding-bottom: 28px;
  }
  
  /* Certificate */
  
  .certificate-items {
    justify-content: center;
  }
  .certificate-item {
    margin: 0 20px 20px;
  }
  .certificate-text {
    width: auto;
  }
  
  /* About */
  
  .about b,
  .about p {
    width: auto;
  }
  .about-img {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-img img {
    margin: 0 10px 20px;
  }
  
  /* Error */
  
  .error h2 {
    margin-bottom: 20px;
  }
  .error-link {
    margin-top: 25px;
  }
  .error-wrap {
    padding-top: 150px;
  }
  
  /* Cabinet */
  
  .cabinet-nav li a {
    padding: 0 7px;
    font-size: 14px;
  }
  .cabinet-content {
    width: 620px;
  }
  .cabinet-sidebar {
    width: 300px;
  }
  .cabinet-item-contact {
    margin-bottom: 26px;
  }
}

@media only screen and (max-width: 1023px) {
  .container,
  .error-bottom {
    width: 620px;
  }
  .container_large {
    width: 620px;
  }
  .logo {
    float: none;
    margin-bottom: 23px;
  }
  .nav {
    float: none;
    text-align: center;
    padding: 0;
  }
  .nav__list {
    margin-right: 28px;
  }
  .nav-sub {
    text-align: left;
  }
  .header {
    padding-top: 31px;
    padding-bottom: 16px;
  }
  .header-info {
    float: none;
    position: absolute;
    top: 39px;
    right: 0;
  }
  .header-info .lang {
    margin-right: 31px;
    vertical-align: top;
    margin-top: 2px;
  }
  .header-search,
  .header-info__room {
    margin-right: 21px;
    margin-top: 0;
    vertical-align: top;
  }
  .header-search input {
    margin-top: 0;
  }
  .showcase-items .slick-dots {
    top: 13px;
  }
  body {
    padding-top: 118px;
  }
  .showcase-item h2 {
    margin-bottom: 10px;
  }
  .showcase-wrap .slick-dots {
    top: 22%;
    right: 7%;
  }
  .showcase-item {
    width: 600px;
    margin-left: 0;
  }
  .showcase {
    height: 620px;
  }
  .shopfront-item {
    height: 320px;
  }
  .shopfront-items {
    width: 630px;
  }
  .shopfront-item__name {
    margin-bottom: 34px;
  }
  .shopfront-hover {
    padding-top: 34px;
  }
  .head {
    font-size: 22px;
    margin-bottom: 36px;
    letter-spacing: 4.5px
  }
  .main-news-item {
    width: 300px;
    margin-right: 25px;
  }
  .main-news__link a {
    margin-top: 22px;
  }
  .main-news-item:nth-child(2) {
    margin-right: 0;
  }
  .main-news-items {
    margin-bottom: 0;
    margin-right: 11px;
  }
  .main-news-item p {
    line-height: 1.65;
  }
  .main-news {
    padding-bottom: 30px;
    padding-top: 27px;
  }
  .recourse-content {
    width: 300px;
  }
  .recourse-img {
    width: 375px;
    right: -73px;
    top: 67px;
  }
  .recourse-content p {
    font-size: 18px;
    line-height: 1.35;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .recourse-content a {
    line-height: 38px;
  }
  .recourse-content__singnature {
    display: none;
  }
  .recourse-content span {
    font-size: 14px;
    margin-bottom: 54px;
  }
  .recourse-img {
    height: 355px;
  }
  .recourse {
    margin-bottom: 33px;
    padding-top: 69px;
  }
  .feature-items {
    width: 620px;
  }
  
  .feature-item {
    width: 300px;
    margin: 0 16px;
  }
  .feature-item__head {
    font-size: 20px;
    margin: 17px 0 7px;
  }
  .feature-item-content p {
    font-size: 14px;
  }
  .feature-items .slick-dots {
    bottom: -53px;
  }
  .feature {
    padding-bottom: 96px;
  }
  .feature-head {
    margin-bottom: 6px;
  }
  .feature-item__img {
    width: 100px;
    height: 127px;
  }
  .feature-items .slick-prev,
  .partners-items .slick-prev {
    left: -45px;
  }
  .feature-items .slick-next,
  .partners-items .slick-next {
    right: -45px;
  }
  .main-about {
    padding-top: 42px;
  }
  .main-about-text {
    width: auto;
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: 35px;
  }
  .main-about-items {
    margin-bottom: 36px;
  }
  .main-about-item {
    width: 290px;
  }
  .main-about__link a {
    line-height: 38px;
  }
  .main-about__number {
    font-size: 60px;
  }
  .main-about__text {
    font-size: 16px;
    width: 144px;
    margin-top: 0;
  }
  .main-about-head {
    margin-bottom: 27px;
  }
  .main-about-item:nth-child(3) .main-about__text {
    width: 66px;
  }
  .partners-info p {
    font-size: 60px;
    margin-right: 0;
    margin-left: 16px;
  }
  .partners-info span {
    font-size: 16px;
  }
  .partners-info {
    width: 350px;
    top: 26px;
  }
  .partners .feature-head {
    margin-bottom: 29px;
  }
  .partners-info span {
    width: 230px;
  }
  .partners-items {
    width: auto;
  }
  .partners .feature {
    padding-top: 56px;
    margin-bottom: 0;
    padding-bottom: 80px;
  }
  .partners-items .slick-dots {
    bottom: -44px;
  }
  .partners .feature-item {
    height: 158px;
  }
  .invite {
    padding: 38px 0 18px;
  }
  .invite-wrap {
    margin-bottom: 28px;
  }
  .invite-content {
    float: none;
    width: auto;
    margin-bottom: 27px;
  }
  .invite-content__head {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .invite-head {
    margin-bottom: 32px;
    letter-spacing: 4px;
  }
  .invite-items {
    float: none;
    margin: 0 auto;
    width: 517px;
  }
  .invite-item {
    width: 136px;
  }
  .invite-item:last-child {
    width: 115px;
  }
  .map-head {
    margin-bottom: 18px;
  }
  .map-info span {
    margin-right: 155px;
  }
  .map-info {
    position: static;
    margin-bottom: 20px;
  }
  .map-content {
    height: 350px;
  }
  .callback-bond {
    width: 310px;
    padding-top: 43px;
    padding-bottom: 41px;
  }
  .callback-items {
    width: 240px;
    padding-top: 41px;
    padding-bottom: 30px;
  }
  .callback-items__head {
    margin-bottom: 13px;
  }
  .callback-items p {
    font-size: 14px;
    line-height: 1.3;
  }
  .callback-item-input {
    display: block;
    width: 260px !important;
    margin-bottom: 25px;
  }
  .callback-bond-nav {
    margin-bottom: 33px;
  }
  .callback-bond-content__link {
    margin-top: 32px;
  }
  .callback-bond-content__link a {
    margin-top: 36px;
    padding: 0 30px;
  }
  .callback-item textarea {
    width: 260px !important;
    margin-bottom: 36px;
  }
  .footer-content {
    width: 454px;
  }
  .footer-content ul {
    width: 205px !important;
    margin-bottom: 23px;
  }
  .footer-content {
    padding-right: 15px;
  }
  .footer-wrap .container {
    width: 768px;
  }
  .footer {
    padding-left: 74px;
    padding-bottom: 9px;
  }
  
  /* Product */
  
  .bread li {
    margin-bottom: 5px;
  }
  .product-class-nav li {
    display: block;
    margin: 0 auto 15px;
    border: none;
  }
  .product-class-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .product-text {
    width: auto;
  }
  .product-class-item {
    width: 160px;
  }
  .products {
    display: block;
  }
  .products-img {
    margin: 0 auto 30px;
  }
  .products-content {
    margin: 0 auto;
    width: 550px;
  }
  
  /* News */
  
  .news-item {
    width: 290px;
  }
  .news-item-content__head {
    display: block;
  }
  .news .product-class-nav li a {
    text-decoration: none;
  }
  .subscribe-content {
    width: auto;
  }
  .subscribe-info {
    width: 290px;
  }
  .pagination .pagination-arrow:first-child {
    margin-right: 5px;
  }
  .pagination .pagination-arrow:last-child {
    margin-left: 0;
  }
  .pagination li:after {
    display: none;
  }
  .pagination li {
    margin-right: 0;
  }
  .subscribe {
    margin: 0;
  }
  .subscribe-content p {
    margin-left: 20px;
  }
  .subscribe-input {
    width: 240px;
  }
  .subscribe-input input {
    padding-right: 80px;
    font-size: 14px;
  }
  .subscribe-input-wrap button {
    padding: 0 12px;
    font-size: 14px;
  }
  .news-head {
    text-align: center;
    font-size: 38px;
  }
  .news-item__link {
    position: static;
    margin-top: 5px;
  }
  .uncos .news-item-content__head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .uncos-content {
    float: none;
    margin: 0 auto 50px;
  }
  .uncos-sidebar {
    float: none;
    width: auto;
  }
  .uncos-content .news-item__link {
    position: static;
    display: inline-block;
    margin-top: 0;
  }
  
  /* Contacts */
  
  .contacts-items {
    flex-wrap: wrap;
    margin: 0 auto 20px;
  }
  .contacts-item:first-child {
    display: block;
  }
  .contacts-item {
    margin: 0 0 30px;
  }
  .contacts-bottom {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .contacts-bottom ul {
    width: 260px;
    margin: 0 20px 15px 0;
  }
  .contacts-callback .callback-items {
    width: auto;
  }
  .contacts-callback .callback-item-input {
    margin: 0 auto 25px !important;
  }
  .contacts-callback .callback-item {
    text-align: center;
  }
  
  /* Dealer */
  
  .dealer table thead tr th:first-child {
    width: 125px;
  }
  .dealer table thead tr th:nth-child(2) {
    width: 430px;
  }
  .dealer table thead tr th:nth-child(3) {
    width: 230px;
  }
  .dealer table thead tr th:nth-child(4) {
    width: 120px;
  }
  .dealer table thead tr th:last-child {
    width: 40px;
  }
  .dealer table thead tr th {
    font-size: 12px;
  }
  .dealer__city,
  .dealer__adress,
  .dealer__tel,
  .dealer__mail {
    font-size: 14px;
  }
  .dealer .product-class-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  .dealer .product-class-nav li:last-child {
    margin-right: 0;
  }
  .dealer-content .news-head {
    margin-bottom: 10px;
  }
  .dealer-header {
    display: block;
  }
  .dealer-content {
    width: auto;
    margin-bottom: 30px;
  }
  .dealer-info {
    margin: 0 auto;
  }
  
  /* Certificate */
  
  .certificate-item {
    width: 290px;
    height: 390px;
    margin: 0 10px 20px;
    padding: 20px 10px 0 20px;
  }
  
  /* Error */
  
  .error-search {
    float: none;
    margin: 0 auto;
  }
  .error-wrap {
    height: 100%;
  }
  .error-bottom {
    position: static;
  }
  
  /* Cabinet */
  
  .cabinet {
    display: block;
  }
  .cabinet-sidebar {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .container,
  .error-bottom,
  .error-wrap {
    width: auto;
    padding: 0 15px;
  }
  .container_large {
    width: auto;
    padding: 0 15px;
  }
  .logo {
    margin-bottom: 0;  
  }
  .error-header .logo {
    margin-bottom: 23px;
  }
  .page-error {
    padding-top: 100px;
  }
  .nav,
  .header-search,
  .header-info__room,
  .header-info .lang {
    display: none;
  }
  .header-info-content a {
    font-size: 17px;
  }
  .header-info {
    top: 38px;
    right: -3px;
  }
  .header {
    padding: 30px 0 0;
  }
  body {
    padding-top: 93px;
  }
  .showcase {
    height: 560px;
    padding: 93px 0 0;
  }
  .showcase-item {
    width: auto;
    padding-right: 60px;
  }
  .showcase-items .slick-dots {
    right: -14px;
    top: 44px;
  }
  .showcase-item h2 {
    font-size: 32px;
  }
  .showcase-item p {
    font-size: 14px;
    line-height: 1.65;
  }
  .shopfront-items {
    width: 320px;
  }
  .shopfront-item {
    height: 267px;
  }
  .shopfront-hover {
    padding-top: 21px;
  }
  .head {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .main-news-item:nth-child(2) {
    display: none;
  }
  .main-news {
    padding: 29px 0 20px 4px;
  }
  .main-news .head {
    margin-bottom: 28px;
  }
  .main-news-item {
    margin: 0 auto;
  }
  .main-news__link {
    text-align: center;
  }
  .main-news__link a {
    padding: 0 42px;
    margin-top: 29px;
  }
  .main-news__head {
    margin-bottom: 0;
  }
  .main-news-item p {
    font-size: 14px;
  }
  .recourse {
    margin-bottom: 30px;
    padding: 57px 0 22px 3px;
  }
  .recourse-img {
    display: none;
  }
  .recourse-content {
    float: none;
    margin: 0 auto;
  }
  .recourse-content p {
    line-height: 1.35;
    margin-bottom: 38px;
    padding-right: 15px;
  }
  .recourse-content span {
    margin-bottom: 29px;
  }
  .recourse-content a {
    padding: 0 10px;
  }
  .recourse-content-link {
    text-align: center;
  }
  .feature {
    padding-bottom: 70px;
  }
  .feature-items {
    width: 320px;
  }
  .feature-item {
    text-align: center;
  }
  .partners-items .feature-item img {
    width: 35% !important;
  }
  .feature-item-content {
    text-align: left;
  }
  .feature-item__img {
    height: 123px;
  }
  .feature-items .slick-dots {
    bottom: -41px;
  }
  .feature-item__head {
    font-size: 18px;
  }
  .main-about {
    padding: 27px 0;
  }
  .main-about-head {
    margin-bottom: 15px;
  }
  .main-about-text {
    line-height: 1.6;
    font-size: 14px;
  }
  .main-about-items {
    display: block;
    text-align: center;
  }
  .main-about-item {
    display: block;
    width: auto !important;
    margin: 0 auto 40px 36px;
  }
  .main-about-item:last-child {
    margin-right: 0;
  }
  .main-about__text {
    width: 144px !important;
    font-size: 14px;
    text-align: left;
  }
  .main-about__number {
    font-size: 48px;
    width: 80px;
    text-align: right;
  }
  .partners-info {
    position: static;
    margin-bottom: 18px;
  }
  .partners-info p {
    margin-left: 4px;
  }
  .partners-items {
    width: 200px;
  }
  .partners-items .slick-prev {
    left: -40px;
    margin-top: -15px;
  }
  .partners-items .slick-next {
    right: -40px;
    margin-top: -15px;
  }
  .partners-items .slick-dots {
    bottom: -50px;
  }
  .partners .feature {
    padding: 27px 0 77px;
  }
  .partners .feature-item {
    height: 90px;
  }
  .partners .feature-head {
    margin-bottom: 17px;
  }
  .partners-info span {
    width: 201px;
    font-size: 14px;
  }
  .invite-items {
    width: auto;
  }
  .invite {
    padding-top: 28px;
    padding-bottom: 27px;
  }
  .invite-head {
    line-height: 1.3;
    margin-bottom: 17px;
  }
  .invite-content {
    margin-bottom: 20px;
  }
  .invite-content p {
    padding-left: 9px;
  }
  .invite-content__head {
    font-size: 18px;
  }
  .invite-item a {
    font-size: 12px;
    margin-top: 3px;
  }
  .invite-item span {
    font-size: 12px;
  }
  .map-head {
    letter-spacing: 2px;
  }
  .map-info {
    display: none;
  }
  .map-content {
    height: 330px;
  }
  .callback-bond {
    float: none;
    width: auto;
    padding-top: 25px;
    padding-bottom: 22px;
  }  
  .callback-bond:after {
    content: '';
    display: block;
    background: #ed1c24;
    width: 1000px;
    height: 100%;
    position: absolute;
    left: 99%;
    top: 0;
    z-index: -1;
  }
  .callback-bond-head {
    font-size: 24px;
  }
  .callback-bond-content__tel {
    margin-bottom: 8px;
  }
  .callback-bond-content__link {
    margin-top: 29px;
  }
  .callback-items {
    float: none;
    width: auto;
  }
  .callback-bond-content__link a {
    margin-top: 0;
  }
  .callback-bond-content__link {
    text-align: center;
  }
  .callback-items__head {
    font-size: 24px;
  }
  .callback-items {
    padding-top: 27px;
  }
  .callback-items p {
    margin-bottom: 30px;
  }
  .callback-item textarea {
    margin-bottom: 26px;
  }
  .callback-item button {
    padding: 0 10px;
  }
  .callback-item-input,
  .callback-item textarea {
    width: 100% !important;
    margin: 0 auto 25px !important;
  }
  .callback-item {
    text-align: center;
  }
  .footer-info {
    margin: 0 auto 17px;
  }
  .footer-content ul {
    display: block;
    margin: 0 auto 15px;
  }
  .bottom-text,
  .bottom-content {
    font-size: 14px;
  }
  .footer {
    padding-left: 0;
  }
  .footer-info {
    float: none;
  }
  .footer-content {
    float: none;
    width: auto;
    display: block;
    padding-right: 28px;
    padding-left: 0;
  }
  .footer-wrap .container {
    width: auto;
  }
  .bottom {
    text-align: center;
  }
  .bottom-text,
  .bottom-content {
    float: none;
  }
  .bottom-text {
    margin-bottom: 14px;
  }
  
  .shopfront-item__number,
  .shopfront-item__name {
    display: none;
  }
  .shopfront-hover {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    padding: 18px 20px 10px 27px;
  }
  .shopfront-item {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }
  .shopfront-item__name,
  .shopfront-hover__img {
    margin-bottom: 15px;
  }
  .shopfront-items .slick-prev,
  .shopfront-items .slick-next {
    margin-top: -30px;
  }
  .shopfront-hover .shopfront-item__number,
  .shopfront-hover .shopfront-item__name{
    display: block;
  }
  
    /* Product */
  
  .bread li {
    margin-right: 20px;
    font-size: 14px;
  }
  .bread li:after {
    right: -19px;
  }
  .bread li a {
    font-size: 14px;
  }
  .bread li:after {
    background-size: 90%;
  }
  .product-class-item p {
    line-height: 1.3;
  }
  .product-items {
    display: block;
  }
  .product-item {
    width: 260px;
    margin: 0 auto 20px;
  }
  .products-item {
    margin-bottom: 20px;
  }
  .products-head {
    font-size: 26px;
  }
  .products-img {
    width: 425px;
  }
  .products-content {
    width: auto;
  }
  .products-slider-items {
    width: 260px;
    margin: 0 auto;
  }
  .products-info-item {
    margin-right: 0;
    display: block;
  }
  .products-slider__head {
    font-size: 26px;
  }
  .products-items {
    display: block;
  }
  .products-slider-items .slick-next {
    right: -28px;
  }
  .products-slider-items .slick-prev {
    left: -28px;
  }
  
  /* News */
  
  .uncos-content {
    width: auto;
  }
  .uncos-content__head {
    font-size: 22px;
  }
  .uncos-content h3 {
    margin: 20px 0;
  }
  .uncos-sidebar .news-item-data {
    margin-right: 20px;
  }
  .uncos-sidebar .news-item__link {
    margin-top: 0;
  }
  
  /* Contacts */
  
  .contacts-item {
    display: block;
  }
  .contacts-map .map-content {
    height: 250px;
  }
  
  /* Dealer */
  
  .dealer table thead tr th {
    display: none;
  }
  .dealer table tbody tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .dealer table tbody tr td:last-child {
    border-bottom: none;
  }
  .dealer table {
    margin: 0 auto;
  }
  .news-head {
    font-size: 27px;
  }
  .dealer-info {
    width: 290px;
  }
  
  /* About */
  
  .about h2,
  .about h3 {
    font-size: 32px;
  }
  .about h3 {
    margin: 30px 0 20px;
  }
  
  /* Error */
  
  .error-search {
    width: 242px;
    padding-left: 0;
  }
  .error-search img {
    display: none;
  }
  .error-search input {
    width: 170px;
    margin-right: 10px;
  }
  .error-search button {
    letter-spacing: 0;
    font-size: 14px;
  }
  .header {
    padding-bottom: 30px;
  }
  .error-wrap {
    padding-top: 100px;
  }
  
  /* Cabinet */
  
  .cabinet-content {
    width: auto;
  }
  .cabinet-sidebar {
    width: 290px;
    padding-left: 15px;
  }
  .cabinet_head,
  .cabinet-item__head {
    font-size: 18px !important;
  }
  .cabinet-item,
  .cabinet-item-contact a,
  .cabinet-item-contact span,
  .cabinet-item__link a,
  .cabinet-item-info b,
  .cabinet-form label a,
  .cabinet-form label {
    font-size: 14px;
  }
  .cabinet-item-link {
    font-size: 14px;
    left: 167px;
  }
  .cabinet-form .checkbox {
    width: 14px;
    height: 14px;
  }
  
  /* Register */
  
  .register__head {
    font-size: 36px;
  }
  .register,
  .register-input__text,
  .register-info-check {
    width: 290px !important;
    margin: 0 auto 20px;
  }
  .register {
    margin-bottom: 50px;
  }
  .register-info-check {
    margin-bottom: 20px;
  }
  .register-input input {
    font-size: 12px;
    padding: 0 10px;
  }
  .register-info {
    text-align: center;
  }
  .register-info-check {
    text-align: left;
  }
  .entry .register-info {
    display: block;
  }
  .register__check-in {
    float: none;
  }
  .entry .register__check-in {
    margin-bottom: 20px;
  }
  .entry-link {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .showcase {
    height: 575px;
    padding: 60px 0 0;
  }
  .shopfront-item,
  .shopfront-items,
  .recourse-content,
  .feature-items {
    width: 290px !important;
  }
  .partners-info p {
    font-size: 48px;
  }
  .partners-info {
    width: auto;
  }
  .feature-items .slick-prev,
  .feature-items .slick-next {
    top: 60px;
    margin-top: 0;
  }
  .shopfront-items .slick-next,
  .feature-items .slick-next {
    right: 0;
  }
  .shopfront-items .slick-prev,
  .feature-items .slick-prev {
    left: 0;
  }
  .showcase-items {
    margin: 0 auto 0 5px;
  }
  .main-about-wrap {
    background: url(../images/main-about2.jpg) no-repeat 50%;
    background-size: cover;
  }
  .footer-content ul {
    margin: 0;
    margin-bottom: 15px;
  }
  .footer-info {
    margin: 0;
    margin-bottom: 17px;
  }
  .bottom {
    text-align: left;
  }
  .error-bottom .bottom {
    text-align: center;
  }
  
  /* Product */
  
  .products-img {
    width: auto;
  }
  .products-nav__link {
    margin-bottom: 5px;
  }
  .products-info p,
  .products-text {
    font-size: 14px;
  }
}

























