@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Yeseva';
	src: url('../fonts/YesevaOne.eot');
	src: url('../fonts/YesevaOne.eot?#iefix') format('embedded-opentype'),
		url('../fonts/YesevaOne.woff') format('woff'),
		url('../fonts/YesevaOne.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futuris';
	src: url('../fonts/Futuris-Bold.eot');
	src: url('../fonts/Futuris-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futuris-Bold.woff') format('woff'),
		url('../fonts/Futuris-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futuris';
	src: url('../fonts/FuturisCyrillic.eot');
	src: url('../fonts/FuturisCyrillic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturisCyrillic.woff') format('woff'),
		url('../fonts/FuturisCyrillic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('../fonts/MinionPro-Regular.eot');
	src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MinionPro-Regular.woff') format('woff'),
		url('../fonts/MinionPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}