@media only screen and (max-width: 1350px) {
  .container {
    width: 970px;
  }
  .header-menu__item li {
    margin-right: 7px;
  }
  .header-menu-info ul li:before {
    left: -7px;
  }
  .header-menu__item li:before {
    left: -7px;
  }
  .header-menu-info__check {
    margin-right: 8px;
  }
  .header-menu-info__check:before {
    left: -7px;
  }
  .header-menu-info__img {
    margin-left: 0;
  }
  .header-info-item__article {
    margin-right: 45px;
  }
  .header-info-item__link {
    margin-right: 45px;
  }
  .main {
    padding-bottom: 550px;
  }
  .showcase-item {
    width: 33.33%;
  }
  .header-menu {
    padding-bottom: 80px;
  }
  .header-info-logo {
    top: 44px;
  }
  .like-video {
    width: 495px;
    height: 330px;
  }
  .like-content__head:after {
    left: -121px;
  }
  .main-news__head {
    font-size: 24px;
  }
  .florist-item__content {
    padding-left: 117px;
  }
  .florist-item__img {
    display: none;
  }
  .florist:after {
    left: 30px;
    right: 40px;
  }
  .footer-logo {
    margin-right: 44px;
  }
  .footer-menu ul {
    margin-right: 28px;
  }
  .footer-menu ul:last-child {
    margin-right: 0;
  }
  .main-news-item__date {
    width: 60px;
    height: 60px;
    padding-top: 4px;
  }
  .main-news-content {
    padding-left: 75px;
  }
  .main-inner {
    background: none;
    padding-bottom: 0;
  }
  .main-bottom-inner {
    display: none;
  }
  .form-check {
    right: 241px;
  }
  .catalog-item span {
    font-size: 18px;
    padding-right: 10px;
  }
  .catalog-item select {
    padding-right: 20px;
    font-size: 16px;
  }
  .catalog-item {
    margin-right: 19px;
  }
  .product-img__big a {
    line-height: 486px;
  }
  .product-little {
    width: 30%;
  }
  .product-little a {
    line-height: 138px;
  }
  .product-items {
    width: 45%;
  }
  .product-item__text {
    width: 314px;
  }
  .product-item p br {
    display: none;
  }
  .title-head-black {
    font-size: 45px;
  }
  .basket-content {
    width: 68%;
  }
  .basket-table__name {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .basket-table__img {
    display: block;
    margin: 0 auto;
    width: 158px;
  }
  .basket-sidebar {
    width: 26%;
  }
  .blog-descr:before {
    left: 120px;
    right: 120px;
    bottom: -70px;
  }
  .blog-item__name {
    font-size: 21px;
    margin-bottom: 16px;
  }
  .article-content h1 {
    font-size: 30px;
  }
  .blog-descr:before {
    left: 20px;
    right: 20px;
  }
  .brand-item__img {
    width: 60%;
  }
  .brand-item__content {
    width: 35%;
    padding-top: 33px;
    padding-right: 43px;
  }
  .brand-item__head {
    font-size: 21px;
    line-height: 1.3;
  }
  .brand-item p {
    line-height: 1.3;
  }
  .brand-item__head:before {
    width: 80px;
    top: 13px;
    left: -102px;
  }
  .brand-item__content2 {
    padding-left: 48px;
  }
  .brand-item__content2 .brand-item__head:before {
    right: -133px;
  }
  .brand-info-head:after {
    left: 14px;
    right: 14px;
  }
  .brand-info-item {
    width: 31%;
  }
  .brand-res:before {
    left: 50px;
    right: 50px;
  }
  .delivery-content-wrap:before {
    top: 211px;
  }
  .delivery-content p br {
    display: none;
  }
  .delivery-content:before {
    left: 100px;
    right: 100px;
  }
  .delivery-item__head {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .delivery-item__head:before {
    left: -85px;
    width: 60px;
  }
  .delivery-item p {
    line-height: 1.5;
  }
  .delivery-content {
    padding-left: 0;
    padding-right: 0;
  }
  .contacts-map {
    height: 500px;
    margin: 0 auto;
  }
  .contacts-text {
    padding: 0 100px 0;
    margin-bottom: 40px;
  }
  .contacts-item:before {
    left: 65px;
    right: 65px;
  }
  .contacts-map:before {
    display: none;
  }
  .pay-item__head {
    font-size: 20px;
  }
  .pay-item__img a:last-child {
    margin-right: 0;
  }
  .pay-item__img a {
    margin-right: 3px;
  }
  .pay-info table tbody tr td:first-child {
    width: 5%;
  }
  .pay-info table tbody tr td:nth-child(2) {
    width: 8%;
  }
  .pay-info table tbody tr td:nth-child(3) {
    width: 28%;
  }
  .pay-info table tbody tr td:nth-child(3) br {
    display: none;
  }
  .pay-info p {
    line-height: 1.2;
  }
  .pay-info table tbody tr td:nth-child(4) {
    width: 12%;
  }
  .pay-info table tbody tr td:nth-child(5) a:first-child {
    margin-right: 3px;
  }
  .pay-items {
    margin: 0 70px;
  }
  .pay-descr {
    margin: 75px 70px 55px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .header-menu-info__img {
    display: none;
  }
  .header-info-item__article:last-child {
    margin-right: 0;
  }
  .header-info-logo {
    width: 120px;
    margin-left: -60px;
    top: 59px;
  }
  .header-menu {
    padding-bottom: 124px;
  }
  .showcase-item-content {
    padding-left: 17px;
  }
  .showcase-item__text {
    font-size: 20px;
  }
  .like-video {
    width: 750px;
    height: 460px;
    float: none;
    max-width: 100%;
  }
  .like-content {
    float: none;
    padding-left: 200px;
    width: auto;
  }
  .like-content:before {
    left: 140px;
  }
  .main-news__link {
    top: 57px;
    margin-top: 0;
  }
  .main-news-item__date {
    position: static;
    margin-bottom: 13px;
  }
  .main-news-content {
    padding-left: 0;
  }
  .footer-logo {
    float: none;
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center;
  }
  .footer {
    padding: 15px 0 30px;
  }
  .footer-info {
    margin-right: 0;
  }
  .footer-menu ul {
    margin-right: 34px;
  }
  .form-check {
    right: 131px;
  }
  .catalog-item {
    margin-bottom: 10px;
  }
  .product-img__big a {
    line-height: 370px;
  }
  .product-little {
    margin-right: 12px;
  }
  .product-little a {
    line-height: 115px;
  }
  .product-link__basket {
    font-size: 14px;
    padding-left: 60px;
    padding-right: 25px;
    margin-right: 10px;
  }
  .product-link__order {
    font-size: 14px;
    padding: 0 10px;
  }
  .product-add {
    margin-left: 60px;
  }
  .showcase-items-carousel .slick-next {
    margin-left: 50px;
  }
  .showcase-items-carousel .slick-prev {
    margin-left: -77px;
  }
  .basket-content {
    width: auto;
  }
  .basket-sidebar {
    width: auto;
  }
  .basket-pay__link {
    text-align: left;
  }
  .blog-item {
    width: 50%;
  }
  .blog-descr:before {
    left: 20px;
    right: 20px;
  }
  .article-sidebar {
    margin-top: 112px;
  }
  .article-content h1 {
    font-size: 24px;
  }
  .article-sidebar:after {
    left: 28px;
  }
  .blog-descr p {
    line-height: 1.3;
  }
  .blog-descr p br {
    display: none;
  }
  .blog-descr:before {
    left: 0;
    right: 0;
  }
  .title-head {
    font-size: 46px;
  }
  .brand-item__img {
    width: 58%;
  }
  .brand-item__content {
    width: 40%;
    padding-top: 0;
    padding-right: 5px;
  }
  .brand-item__head {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .brand-item p {
    line-height: 1.2;
  }
  .brand-item__head:before {
    display: none;
  }
  .brand-item__content2 {
    padding-left: 18px;
  }
  .brand-info-head br {
    display: none;
  }
  .brand-info-head {
    line-height: 1.3;
  }
  .brand-info-item img {
    width: 90%;
  }
  .brand-res:before {
    left: 0;
    right: 0;
  }
  .delivery-content:before {
    left: -5px;
    right: -5px;
  }
  .contacts-info-items:before {
    right: -5px;
    left: -5px;
  }
  .contacts-info-item {
    width: 33.33%;
  }
  .contacts-text {
    padding: 0 40px 0;
  }
  .contacts-map {
    height: 400px;
  }
  .contacts-item:before {
    left: 47px;
    right: 47px;
  }
  .pay-descr p {
    padding: 75px 14px 45px;
  }
  .pay-item {
    width: 50%;
  }
  .pay-descr {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 55px;
  }
  .pay-items {
    margin: 0 auto;
    text-align: center;
  }
  .pay-info {
    margin: 0 auto;
  }
  .pay-info p {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    position: relative;
    z-index: 1050;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 7px;
    background: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    position: absolute;
    background: #fff;
    content: '';
    width: 30px;
    height: 4px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 7px;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }
  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .header-menu-all {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 1000;
  }
  .header-menu-all.active {
    opacity: 1;
    visibility: visible;
  }
  .header-menu__item,
  .header-menu-info {
    float: none;
  }
  .header-menu__item li:before,
  .header-menu-info ul li:before{
    display: none;
  }
  .header-menu__item li,
  .header-menu-info ul li {
    display: block;
    text-align: center;
    margin: 10px 0 !important;
  }
  .header-menu-info ul {
    display: block;
  }
  .header-menu__item li a,
  .header-menu-info__check{
    font-size: 16px;
  }
  .header-info-logo {
    width: 150px;
    margin-left: -75px;
    top: 10px;
  }
  .header-menu {
    padding-bottom: 96px;
  }
  .header-info-item {
    float: none;
    margin-bottom: 15px;
    text-align: center;
  }
  .header-info-in {
    float: none;
    text-align: center;
  }
  .header {
    padding-bottom: 20px;
  }
  .header-info-item__link:last-child {
    margin-right: 0;
  }
  .title-head {
    font-size: 30px;
  }
  .showcase-item {
    width: 50%;
  }
  .showcase-item-link__order {
    padding: 0 5px;
    margin-right: 5px;
    font-size: 12px;
  }
  .showcase-item-link__basket {
    padding: 9px 15px 11px;
  }
  .main-advan-items {
    text-align: center;
  }
  .main-advan-item {
    width: 50%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .like-video {
    height: 300px;
  }
  .like-content__head:after {
    display: none;
  }
  .like-content {
    padding-left: 0;
  }
  .like-content:before {
    left: 27px;
  }
  .main-news__head {
    border-bottom: none;
  }
  .main-news-item {
    width: auto;
  }
  .main-news-item__head {
    display: block;
  }
  .florist-head:before {
    display: none;
  }
  .florist-head {
    padding-left: 0;
  }
  .florist-item__content {
    padding-left: 0;
  }
  .footer-menu ul {
    margin-right: 0;
    width: 49%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-info {
    text-align: center;
    float: none;
    display: inline-block;
    width: 49%;
  }
  .bottom-text {
    float: left;
    margin-top: 7px;
    text-align: center;
    width: 100%;
  }
  .bottom-info {
    text-align: center;
  }
  .main-news-item {
    margin-bottom: 25px;
  }
  .main-news__link {
    display: none;
  }
  .showcase-item__over {
    font-size: 12px;
  }
  .form-input > input {
    width: 100%;
  }
  .form-check {
    right: 0;
  }
  .registr-links a:first-child {
    margin-right: 74px;
  }
  .form {
    width: 390px;
    margin: 0 auto;
  }
  .catalog-item {
    display: block;
  }
  .pagination li:nth-child(1) {
    margin-right: 12px;
  }
  .pagination li:last-child {
    margin-left: 0;
    margin-right: 14px;
  }
  .pagination li {
    margin-right: 17px;
  }
  .product-img {
    float: none;
    width: auto;
    margin-bottom: 40px;
  }
  .product-items {
    float: none;
    width: auto;
  }
  .product-offer-item {
    width: auto;
    margin-bottom: 20px;
  }
  .basket-table thead tr th {
    display: none;
  }
  .basket-table tbody tr,
  .basket-table tbody tr td {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .basket-form .form {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .basket-content {
    float: none;
  }
  .basket-table__remove {
    display: inline-block;
  }
  .blog-items {
    text-align: center;
  }
  .blog-item {
    width: auto;
    padding-right: 0;
  }
  .blog-descr:before {
    display: none;
  }
  .article-content {
    float: none;
    width: auto;
  }
  .article-bottom__soc span {
    margin-right: 0;
  }
  .article-bottom__return {
    padding-left: 38px;
  }
  .article-sidebar {
    float: none;
    width: auto;
    margin-bottom: 40px;
  }
  .brand-item__img {
    float: none;
    width: auto;
    margin-bottom: 20px;
  }
  .brand-item__content {
    float: none;
    width: auto;
  }
  .brand-item__content2 {
    padding-left: 0;
  }
  .brand-info-item {
    width: auto;
    margin-bottom: 20px;
  }
  .brand-res p br {
    display: none;
  }
  .brand-res {
    padding: 50px 10px;
  }
  .brand-res__head {
    font-size: 31px;
  }
  .brand-res:after {
    display: none;
  }
  .brand-items {
    text-align: center;
  }
  .delivery-item {
    display: block;
    width: auto;
  }
  .delivery-item:first-child {
    margin: 0
  }
  .delivery-item__head:before {
    display: none;
  }
  .delivery-items:before {
    top: -219px;
  }
  .contacts-info-item {
    width: auto;
    margin-bottom: 20px;
  }
  .contacts-map {
    height: 250px;
  }
  .contacts-text p {
    line-height: 1.3;
  }
  .contacts-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contacts-item:before {
    left: 28px;
    right: 28px;
  }
  .contacts-info-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .pay-item {
    width: 100%;
  }
  td {
    display: block;
  }
  .pay-info table tbody tr td:first-child {
    width: auto;
    margin-bottom: 20px;
  }
  .pay-info table tbody tr td:nth-child(2) {
    margin-bottom: 20px;
  }
  .pay-info table tbody tr td:nth-child(3) {
    width: auto;
    margin-bottom: 20px;
  }
  .pay-info table tbody tr td:nth-child(4) {
    width: auto;
    margin-bottom: 20px;
  }
  .pay-info table tbody tr td:nth-child(5) {
    width: auto;
    margin-bottom: 70px;
  }
  .pay-info {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 450px) {
  .header-info-item__article {
    margin-right: 0;
    display: block;
    margin-bottom: 20px;
  }
  .header-info-item__link {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main {
    padding-bottom: 350px;
  }
  .showcase-item {
    width: auto;
  }
  .showcase-item__bg {
    width: 100%;
    height: 320px;
  }
  .showcase-item__text {
    margin-top: 100px;
  }
  .showcase-item-content:before,
  .showcase-item-content:after {
    display: none;
  }
  .main-advan-item {
    width: auto;
  }
  .like-video {
    height: 200px;
  }
  .like-content__head {
    font-size: 23px;
  }
  .florist-head {
    font-size: 23px;
  }
  .footer-menu ul {
    width: 100%;
  }
  .footer-info {
    width: 100%;
  }
  .form {
    width: 290px;
  }
  .form-input > input {
    width: 100%;
  }
  .form-check label {
    font-size: 14px;
  }
  .checkbox {
    width: 14px;
    height: 14px;
  }
  .registr-links a:first-child {
    margin-right: 0;
  }
  .registr-links a {
    display: block;
    margin-bottom: 10px;
  }
  .main-inner {
    background: none;
    padding-bottom: 0;
  }
  .main-bottom-inner {
    display: none;
  }
  .catalog-item {
    margin-right: 0;
  }
  .catalog-item span {
    font-size: 16px;
  }
  .catalog-item select {
    font-size: 14px;
  }
  .pagination img {
    width: 80%;
  }
  .pagination li {
    margin-right: 2px;
  }
  .pagination li:nth-child(1) {
    margin-right: 5px;
  }
  .pagination li:before {
    display: none;
  }
  .pagination li a.active {
    font-size: 25px;
  }
  .product-little {
    width: auto;
    line-height: 200px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .product-img-wrap {
    text-align: center;
  }
  .product-item__name {
    width: 129px;
  }
  .product-total__item {
    margin-right: 60px;
  }
  .product-link__order {
    font-size: 12px;
  }
  .product-link__basket {
    font-size: 12px;
    padding-left: 53px;
    padding-right: 10px;
  }
  .product-add {
    margin-left: 26px;
  }
  .article-bottom__return {
    float: none;
  }
  .article-bottom__soc {
    float: none;
  }
  .article-bottom {
    text-align: center;
  }
  .delivery-content-wrap:before {
    top: 265px;
  }
  .contacts-map {
    height: 230px;
  }
  .contacts-item {
    width: auto;
  }
}

