* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Futuris', sans-serif; }

a {
  font: 400 16px 'Futuris', sans-serif;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative; }

/* Header */
.main {
  background: url(../images/header-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding-bottom: 800px;
  position: relative; }
  .main-bottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -124.6px;
    padding-bottom: 32px; }
    .main-bottom-inner {
      display: none; }
    .main-bottom p {
      display: block;
      color: #fff;
      font-family: 'Yeseva';
      font-size: 20px;
      padding-bottom: 18px; }
  .main-inner {
    background: none;
    padding-bottom: 0; }

.header {
  padding-top: 12px;
  padding-bottom: 32px; }
  .header-wrap {
    background: rgba(0, 0, 0, 0.8); }
    .header-wrap-inner {
      background: black; }
  .header-menu {
    padding-bottom: 50px; }
    .header-menu__item {
      float: left; }
      .header-menu__item li {
        display: inline-block;
        margin-right: 22px;
        position: relative; }
        .header-menu__item li:before {
          content: '';
          display: block;
          width: 1px;
          height: 15px;
          background: #fff;
          position: absolute;
          top: 50%;
          margin-top: -7.5px;
          left: -14px; }
        .header-menu__item li:first-child:before {
          display: none; }
        .header-menu__item li a {
          color: #fff;
          font-size: 14px; }
          .header-menu__item li a:hover {
            text-decoration: underline; }
    .header-menu-info {
      float: right; }
      .header-menu-info ul {
        display: inline-block; }
        .header-menu-info ul li {
          display: inline-block;
          position: relative; }
          .header-menu-info ul li:before {
            content: '';
            display: block;
            width: 1px;
            height: 15px;
            background: #fff;
            position: absolute;
            top: 50%;
            margin-top: -7.5px;
            left: -12px; }
          .header-menu-info ul li:first-child:before {
            display: none; }
      .header-menu-info__check {
        display: inline-block;
        color: #fff;
        margin-right: 20px;
        position: relative;
        font-size: 14px; }
        .header-menu-info__check:hover {
          text-decoration: underline; }
      .header-menu-info__img {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        margin-left: 25px; }
        .header-menu-info__img a {
          margin-right: 9px; }
          .header-menu-info__img a:last-child {
            margin-right: 0; }
  .header-info-item {
    float: left; }
    .header-info-item__article {
      display: inline-block;
      margin-right: 70px; }
      .header-info-item__article p {
        font-family: 'Yeseva';
        font-size: 20px;
        color: #fff; }
    .header-info-item__head {
      display: block;
      font-size: 14px;
      color: #fff;
      margin-bottom: 8px; }
    .header-info-item__tel {
      font-family: 'Yeseva';
      font-size: 20px;
      color: #fff; }
    .header-info-item__link {
      margin-right: 60px; }
      .header-info-item__link:last-child {
        margin-right: 10px; }
  .header-info-logo {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -75px; }
  .header-info-in {
    float: right; }
    .header-info-in p {
      font-family: 'Yeseva';
      font-size: 20px;
      color: #fff; }

/* Bread */
.bread {
  padding-top: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center; }
  .bread li {
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    position: relative; }
    .bread li:after {
      content: '';
      display: block;
      background: url(../images/bread-arrow.png) no-repeat 50%;
      width: 17px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: -33px; }
    .bread li:last-child:after {
      display: none; }
  .bread a {
    font-size: 14px;
    color: #000; }
    .bread a:hover {
      text-decoration: underline; }

/* Showcase */
.title {
  text-align: center; }
  .title-head {
    color: #84a725;
    font-family: 'Yeseva';
    font-size: 48px;
    padding-bottom: 15px;
    font-weight: 400;
    padding-top: 50px;
    text-align: center; }
    .title-head-black {
      padding-top: 60px;
      padding-bottom: 30px;
      color: #000; }
  .title-text {
    font-family: 'Futuris';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px; }

.showcase {
  padding-top: 10px; }
  .showcase-items {
    padding-top: 70px;
    font-size: 0;
    text-align: center; }
    .showcase-items-carousel {
      position: relative; }
      .showcase-items-carousel .slick-prev,
      .showcase-items-carousel .slick-next {
        border: none;
        background: url(../images/pagination-arrow.png) no-repeat 50%;
        width: 27px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -114px; }
      .showcase-items-carousel .slick-next {
        background: url(../images/pagination-arrow2.png) no-repeat 50%;
        right: 50%;
        margin-left: 85px; }
      .showcase-items-carousel .slick-dots {
        position: absolute;
        top: 0;
        left: 50%;
        width: 160px;
        margin-left: -80px; }
      .showcase-items-carousel .slick-dots li {
        display: inline-block;
        margin-right: 15px;
        width: 16px;
        height: 16px;
        background: #e1e1e1;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 300ms; }
        .showcase-items-carousel .slick-dots li:last-child {
          margin-right: 0; }
        .showcase-items-carousel .slick-dots li.slick-active {
          background: #84a725; }
        .showcase-items-carousel .slick-dots li button {
          display: none; }
  .showcase-item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-bottom: 20px;
    margin-bottom: 55px;
    text-align: left;
    position: relative;
    text-align: center; }
    .showcase-item-content {
      padding-left: 27px;
      position: relative;
      text-align: left; }
      .showcase-item-content:before, .showcase-item-content:after {
        content: '';
        display: block;
        width: 1px;
        height: 60px;
        background: #84a725;
        position: absolute;
        left: 95px;
        top: 30px; }
      .showcase-item-content:after {
        top: auto;
        bottom: -91px; }
    .showcase-item-hover {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(132, 167, 37, 0.9);
      z-index: 100;
      transition: 300ms;
      opacity: 0;
      visibility: hidden;
      padding-top: 105px;
      text-align: center; }
      .showcase-item-hover.active {
        opacity: 1;
        visibility: visible; }
      .showcase-item-hover img {
        display: block;
        margin: 0 auto;
        padding-bottom: 73px; }
      .showcase-item-hover div {
        display: inline-block;
        color: #fff;
        font-family: 'Futuris';
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #fff;
        line-height: 38px;
        padding: 0 20px;
        transition: 300ms; }
        .showcase-item-hover div:hover {
          background: #fff;
          color: #84a725; }
    .showcase-item__bg {
      background: #f5f5f5;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 380px; }
    .showcase-item__text {
      font-family: 'Yeseva';
      font-size: 24px;
      line-height: 1.4;
      text-align: left;
      color: #1a171e;
      margin-bottom: 30px;
      margin-top: 120px; }
      .showcase-item__text:hover {
        color: #84a725; }
    .showcase-item__content {
      font-size: 16px;
      line-height: 1.6;
      text-align: left;
      color: #1a171e; }
    .showcase-item__over {
      display: inline-block;
      font-family: 'Futuris';
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: #84a725;
      line-height: 45px;
      padding-left: 22px;
      padding-right: 27px;
      position: relative; }
      .showcase-item__over:hover {
        background: #5c7c05; }
        .showcase-item__over:hover:after {
          right: -17px; }
      .showcase-item__over:after {
        content: '';
        display: block;
        background: url(../images/over-arrow.png) no-repeat 50%;
        width: 17px;
        height: 10px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: -10px;
        transition: 300ms; }
    .showcase-item__img {
      height: 300px;
      line-height: 300px; }
      .showcase-item__img img {
        vertical-align: middle;
        display: inline-block;
        margin: 0 auto; }
    .showcase-item__coment {
      font-size: 16px;
      padding-bottom: 10px; }
    .showcase-item__head {
      font-family: 'Yeseva';
      font-size: 20px;
      padding-bottom: 11px;
      font-weight: 400; }
    .showcase-item__price {
      font-family: 'Yeseva';
      font-size: 28px;
      color: #84a725;
      padding-bottom: 15px; }
    .showcase-item-link__order {
      font-family: 'Futuris';
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border: 1px solid #000;
      line-height: 38px;
      color: #000;
      padding: 0 22px;
      margin-right: 10px; }
      .showcase-item-link__order:hover {
        background: #000;
        color: #fff; }
    .showcase-item-link__basket {
      display: inline-block;
      vertical-align: top;
      padding: 9px 20px 11px;
      background: #000;
      position: relative; }
    .showcase-item-link img {
      vertical-align: middle; }

.slider-more {
  border-bottom: 1px solid #ccc; }

.slider-present {
  margin-bottom: 25px; }

/* Main-advan */
.main-advan {
  padding-top: 34px;
  padding-bottom: 40px; }
  .main-advan-wrap {
    background: #f5f5f5; }
    .main-advan-wrap__inner {
      margin-bottom: 65px; }
  .main-advan-items {
    font-size: 0; }
  .main-advan-item {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    margin-right: 2.5%;
    text-align: center; }
    .main-advan-item:last-child {
      margin-right: 0; }
    .main-advan-item p {
      font-size: 16px; }
  .main-advan__head {
    padding-top: 22px;
    padding-bottom: 12px;
    font-family: 'Yeseva';
    font-size: 18px;
    font-weight: 400; }

/* Like */
.like {
  margin-top: 205px;
  position: relative;
  margin-bottom: 90px; }
  .like:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    top: -158px;
    left: 50%; }
  .like-video {
    float: left;
    width: 765px;
    height: 460px;
    position: relative;
    z-index: 10; }
    .like-video iframe {
      width: 100%;
      height: 100%;
      border: none; }
  .like-content {
    float: right;
    width: 415px;
    padding-right: 45px;
    z-index: 5;
    padding-top: 27px; }
    .like-content:before {
      content: '';
      display: block;
      left: 227px;
      bottom: 47px;
      background: #f5f5f5;
      position: absolute;
      top: -30px;
      right: 0;
      z-index: -1; }
    .like-content__head {
      font-family: 'Yeseva';
      font-size: 28px;
      line-height: 1.3;
      padding-bottom: 26px;
      font-weight: 400;
      position: relative; }
      .like-content__head:after {
        content: '';
        display: block;
        width: 110px;
        height: 1px;
        background: #84a725;
        position: absolute;
        top: 19px;
        left: -190px;
        z-index: 10; }
    .like-content p {
      line-height: 1.6; }
    .like-content__img {
      margin-top: 30px;
      text-align: right; }

/* Main-news */
.main-news {
  padding: 50px 0; }
  .main-news-wrap {
    background: #000; }
  .main-news-header {
    text-align: center;
    position: relative; }
  .main-news__head {
    display: inline-block;
    color: #fff;
    font-family: 'Yeseva';
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid #84a725; }
  .main-news__link {
    color: #84a725;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 30px; }
    .main-news__link:after {
      content: '';
      display: block;
      background: url(../images/main-news-arrow.png) no-repeat 50%;
      width: 17px;
      height: 10px;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: -30px; }
  .main-news-items {
    font-size: 0;
    margin-top: 60px; }
  .main-news-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding-right: 30px;
    position: relative; }
    .main-news-item__date {
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 74px;
      background-color: #84a725;
      padding: 10px 0 0 0;
      text-align: center;
      color: #000;
      font-weight: bold;
      font-size: 34px; }
      .main-news-item__date span {
        font-size: 14px;
        display: block;
        margin-top: 4px; }
    .main-news-item__link {
      color: #84a725;
      font-size: 14px;
      text-decoration: underline;
      margin-bottom: 10px; }
    .main-news-item__head {
      color: #fff;
      font-family: 'Yeseva';
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 15px; }
      .main-news-item__head:hover {
        color: #84a725; }
  .main-news-content {
    padding-left: 115px; }
    .main-news-content p {
      color: #fff;
      font-size: 14px;
      line-height: 1.7; }

/* Florist */
.florist {
  padding-top: 200px;
  margin-bottom: 75px; }
  .florist:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    top: 42px;
    left: 50%; }
  .florist:after {
    content: '';
    display: block;
    position: absolute;
    top: 172px;
    bottom: 0;
    right: 342px;
    left: 294px;
    background: #f5f5f5;
    z-index: -1; }
  .florist-head {
    font-family: 'Yeseva';
    font-size: 28px;
    font-weight: 400;
    color: #020202;
    padding-left: 115px;
    position: relative;
    margin-bottom: 36px; }
    .florist-head:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #84a725;
      position: absolute;
      top: 50%;
      margin-top: -.5px;
      left: 5px; }
  .florist-item {
    position: relative; }
    .florist-item__img {
      position: absolute;
      left: 165px;
      bottom: 24px; }
    .florist-item__content {
      padding-left: 456px; }
      .florist-item__content p {
        line-height: 1.7;
        padding-bottom: 32px; }
      .florist-item__content span {
        font-family: 'Futuris';
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        padding-bottom: 43px;
        font-size: 14px; }

/* Footer */
.footer {
  padding: 50px 0; }
  .footer-wrap {
    background: #000; }
  .footer-logo {
    float: left;
    margin-right: 130px; }
  .footer-menu ul {
    display: inline-block;
    margin-right: 70px; }
    .footer-menu ul li {
      margin-bottom: 15px; }
      .footer-menu ul li a {
        color: #f5f5f5; }
        .footer-menu ul li a:hover {
          text-decoration: underline; }
  .footer-info {
    float: right;
    margin-right: 40px; }
    .footer-info p,
    .footer-info a {
      color: #fff; }
    .footer-info__tel {
      display: inline-block;
      font-family: 'Yeseva';
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 10px; }
    .footer-info__city {
      text-decoration: underline; }
    .footer-info__text {
      padding-bottom: 7px; }
    .footer-info__map {
      display: inline-block;
      margin-bottom: 22px;
      text-decoration: underline; }
    .footer-info__img a {
      display: inline-block;
      margin-right: 5px; }

/* Bottom */
.bottom {
  padding-top: 15px;
  padding-bottom: 20px;
  color: #fff; }
  .bottom-wrap {
    background: #111; }
  .bottom-info {
    float: left; }
  .bottom-text {
    float: right; }
  .bottom-link {
    color: #fff; }
    .bottom-link:hover {
      text-decoration: underline; }

/* Regist */
.registr-item {
  text-align: center;
  padding-bottom: 175px; }

.registr-link {
  font-family: 'Futuris';
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  border: 1px solid #000;
  padding: 0 17px;
  color: #000;
  text-transform: uppercase; }
  .registr-link:hover {
    background: #84a725;
    color: #fff;
    border: 1px solid #84a725; }

.registr-links {
  padding-top: 50px; }
  .registr-links a {
    text-decoration: underline;
    color: #84a725; }
    .registr-links a:first-child {
      margin-right: 174px; }
    .registr-links a:hover {
      text-decoration: none; }

.checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  position: relative; }
  .checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer; }
    .checkbox input:checked + span:before {
      opacity: 1; }
  .checkbox span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #acacac; }
    .checkbox span:before {
      content: '';
      display: block;
      position: absolute;
      left: 3px;
      top: 3px;
      bottom: 3px;
      right: 3px;
      background: #acacac;
      border-radius: 50%;
      opacity: 0;
      transition: 300ms; }

.form {
  width: 490px;
  padding-top: 55px;
  padding-bottom: 34px;
  margin: 0 auto; }
  .form-input {
    position: relative;
    width: 100%;
    margin-bottom: 14px; }
    .form-input input {
      width: 100%;
      font-family: 'Futuris';
      font-size: 16px;
      font-weight: 700;
      line-height: 40px;
      color: #84a725;
      text-transform: uppercase;
      padding-right: 20px;
      border: none;
      border-bottom: 1px solid #000;
      background: none; }
    .form-input__name input {
      padding-right: 220px; }
    .form-input__address input {
      padding-right: 150px; }
  .form-check {
    position: absolute;
    bottom: 6px;
    right: 0; }
    .form-check label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }

.form input::-webkit-input-placeholder {
  color: #84a725; }

.form input:-moz-placeholder {
  color: #84a725; }

.form input::-moz-placeholder {
  color: #84a725; }

.form input:-ms-input-placeholder {
  color: #84a725; }

/* Catalog */
.catalog-items {
  font-size: 0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px; }

.catalog-item {
  display: inline-block;
  margin-right: 28px; }
  .catalog-item:last-child {
    margin-right: 0; }
  .catalog-item span {
    font-family: 'Yeseva';
    font-size: 20px;
    padding-right: 12px; }
  .catalog-item form {
    display: inline-block; }
  .catalog-item select {
    padding-right: 24px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #84a725;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    background: url(../images/catalog-arrow.png) no-repeat right center;
    font-family: 'Futuris';
    font-weight: 400;
    height: 25px;
    cursor: pointer; }

/* Pagination */
.pagination {
  padding-top: 10px;
  padding-bottom: 74px;
  text-align: center; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-right: 20px;
    position: relative; }
    .pagination li:before {
      content: '/';
      display: block;
      position: absolute;
      top: 0;
      right: -18px; }
    .pagination li:nth-child(1) {
      margin-right: 30px; }
    .pagination li:last-child {
      margin-left: 10px; }
    .pagination li:nth-child(1):before {
      display: none; }
    .pagination li:nth-child(9):before {
      display: none; }
    .pagination li:last-child:before {
      display: none; }
    .pagination li:nth-child(3):before {
      top: 6px; }
    .pagination li a {
      font-size: 16px;
      text-decoration: underline;
      color: #000; }
      .pagination li a.active {
        color: #84a725;
        font-family: 'Yeseva';
        font-size: 28px;
        text-decoration: none; }
      .pagination li a:hover {
        text-decoration: none; }

/* Product */
.product {
  padding-top: 50px;
  padding-bottom: 125px; }
  .product-img {
    float: left;
    width: 51%; }
    .product-img__big {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #d7d7d7;
      margin-bottom: 16px; }
      .product-img__big a {
        line-height: 686px;
        padding: 0 60px; }
      .product-img__big img {
        vertical-align: middle; }
    .product-img-wrap {
      font-size: 0; }
  .product-little {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    margin-right: 16px; }
    .product-little:hover a, .product-little.active a {
      opacity: 1; }
    .product-little a {
      line-height: 200px;
      padding: 0 20px;
      opacity: .4; }
    .product-little img {
      vertical-align: middle; }
  .product-items {
    float: right;
    width: 43%; }
    .product-items__head {
      font-family: 'Yeseva';
      font-size: 48px;
      font-weight: 400;
      padding-top: 15px; }
  .product-item {
    padding-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 28px; }
    .product-item__img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px; }
    .product-item__text {
      display: inline-block;
      vertical-align: middle;
      width: 342px;
      color: #020202;
      line-height: 1.5; }
    .product-item p {
      color: #020202;
      line-height: 1.5; }
      .product-item p:first-child {
        padding-bottom: 15px; }
    .product-item__name {
      display: inline-block;
      color: #020202;
      font-family: 'Yeseva';
      font-size: 20px;
      width: 137px;
      cursor: pointer; }
    .product-item__price {
      color: #020202;
      font-family: 'Yeseva';
      font-size: 24px; }
  .product-total {
    padding-top: 26px;
    padding-bottom: 30px; }
    .product-total__item {
      margin-right: 66px;
      color: #020202; }
    .product-total__price {
      display: inline-block;
      color: #020202;
      font-family: 'Yeseva';
      font-size: 24px; }
  .product-link {
    padding-bottom: 34px; }
    .product-link__basket {
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: #000;
      line-height: 48px;
      border: 1px solid #000;
      padding-left: 70px;
      padding-right: 32px;
      position: relative;
      margin-right: 20px;
      trandsition: 300ms; }
      .product-link__basket:before {
        content: '';
        display: block;
        background: url(../images/product-link.png) no-repeat 50%;
        width: 23px;
        height: 23px;
        position: absolute;
        top: 50%;
        margin-top: -11.5px;
        left: 20px; }
      .product-link__basket:hover {
        background: #84a725;
        border: 1px solid #84a725; }
    .product-link__order {
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      border: 1px solid #000;
      line-height: 48px;
      padding: 0 30px;
      transition: 300ms; }
      .product-link__order:hover {
        color: #fff;
        background: #84a725;
        border: 1px solid #84a725; }
  .product-add {
    margin-left: 90px;
    font-weight: 700;
    text-transform: uppercase; }
    .product-add__link {
      text-decoration: underline;
      color: #84a725;
      font-weight: 700; }
  .product-input {
    margin-bottom: 22px; }
    .product-input.active .product-item__price {
      color: #84a725; }
    .product-input:last-child {
      margin-bottom: 0; }
    .product-input__item {
      display: inline-block; }

.radio {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  margin-right: 10px; }
  .radio input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer; }
    .radio input:checked + span {
      background: #84a725; }
  .radio span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    border-radius: 50%;
    transition: 300ms; }

/* Product-offer */
.product-offer {
  padding-top: 85px;
  padding-bottom: 45px;
  position: relative;
  margin-bottom: 10px; }
  .product-offer:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    top: -40px;
    left: 50%; }
  .product-offer-wrap {
    background: #f5f5f5; }
  .product-offer-items {
    font-size: 0;
    text-align: center; }
  .product-offer-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 15px; }
    .product-offer-item p {
      font-size: 16px;
      line-height: 1.6; }
  .product-offer__img {
    display: block;
    vertical-align: middle;
    line-height: 87px; }
    .product-offer__img img {
      vertical-align: middle; }
  .product-offer__head {
    font-family: 'Yeseva';
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 25px;
    padding-top: 45px; }

/* Basket */
.basket {
  padding-top: 15px;
  margin-bottom: 55px; }
  .basket-content {
    float: left;
    width: 74.5%; }
  .basket-table {
    border-collapse: collapse;
    width: 100%; }
    .basket-table thead tr th {
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      padding: 22px 0;
      border-top: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7; }
      .basket-table thead tr th:first-child {
        width: 456px; }
      .basket-table thead tr th:nth-child(2) {
        width: 228px; }
      .basket-table thead tr th:nth-child(3) {
        width: 228px; }
      .basket-table thead tr th:nth-child(4) {
        width: 82px; }
    .basket-table tbody tr td {
      padding: 30px 0;
      border-bottom: 1px solid #d7d7d7; }
    .basket-table__img {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #d7d7d7;
      padding: 10px 15px;
      margin-right: 40px; }
    .basket-table__name {
      display: inline-block;
      vertical-align: middle; }
      .basket-table__name a {
        display: block;
        font-family: 'Yeseva';
        font-size: 24px;
        margin-bottom: 10px;
        color: #020202;
        font-weight: 400; }
        .basket-table__name a:hover {
          color: #84a725; }
    .basket-table-amount {
      font-size: 0; }
      .basket-table-amount span {
        display: inline-block;
        width: 40px;
        line-height: 38px;
        background: #e1e1e1;
        border: 1px solid #acacac;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        vertical-align: middle; }
      .basket-table-amount input {
        width: 50px;
        border: none;
        border-top: 1px solid #acacac;
        border-bottom: 1px solid #acacac;
        line-height: 38px;
        text-align: center;
        font-family: 'Yeseva';
        font-size: 24px;
        color: #020202;
        display: inline-block;
        vertical-align: middle; }
    .basket-table__price {
      color: #020202;
      font-family: 'Yeseva';
      font-size: 24px; }
    .basket-table__remove {
      background: url(../images/basket-img.png) no-repeat left;
      width: 26px;
      height: 26px;
      cursor: pointer; }
      .basket-table__remove:hover {
        background-position: right; }
  .basket-sidebar {
    float: right;
    width: 21%;
    margin-top: 64px; }
  .basket-pay {
    background: #f5f5f5;
    padding: 34px 25px 39px;
    color: #020202;
    margin-bottom: 55px;
    border-top: 1px solid #84a725; }
    .basket-pay span {
      display: block;
      padding-bottom: 14px;
      font-family: 'Yeseva';
      font-size: 18px; }
    .basket-pay__price {
      font-family: 'Yeseva';
      font-size: 28px;
      padding-bottom: 30px; }
    .basket-pay p {
      line-height: 1.5;
      padding-bottom: 10px; }
      .basket-pay p a {
        text-decoration: underline;
        color: #020202; }
        .basket-pay p a:hover {
          text-decoration: none; }
    .basket-pay__link {
      text-align: center;
      margin-top: 27px; }
      .basket-pay__link a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        border: 1px solid #101010;
        line-height: 38px;
        padding: 0 20px; }
        .basket-pay__link a:hover {
          color: #fff;
          background: #84a725;
          border: 1px solid #84a725; }
  .basket-info p {
    line-height: 1.5; }
  .basket-info a {
    font-family: 'Yeseva';
    font-size: 24px;
    color: #020202;
    margin: 20px 0; }
  .basket-form {
    background: #f5f5f5;
    padding-top: 0;
    margin-top: 35px; }
    .basket-form .form {
      margin: 0 0 0 40px;
      padding-top: 0;
      width: 540px; }
    .basket-form__head {
      color: #020202;
      font-family: 'Yeseva';
      font-size: 24px;
      font-weight: 400;
      border-bottom: 1px solid #84a725;
      display: inline-block;
      padding-bottom: 4px;
      padding-top: 40px;
      margin-bottom: 10px; }

/* Blog */
.blog-descr {
  text-align: center;
  padding: 165px 228px 0;
  position: relative; }
  .blog-descr:before {
    content: '';
    display: block;
    background: #f5f5f5;
    position: absolute;
    top: 80px;
    right: 220px;
    bottom: -115px;
    left: 220px;
    z-index: -1; }
  .blog-descr p {
    line-height: 1.6;
    position: relative;
    padding-bottom: 40px; }
    .blog-descr p:before {
      content: '';
      display: block;
      width: 1px;
      height: 90px;
      background: #84a725;
      position: absolute;
      top: -125px;
      left: 50%; }
  .blog-descr-brand:before {
    content: '';
    display: block;
    background: #f5f5f5;
    position: absolute;
    top: 80px;
    right: 135px;
    bottom: -52px;
    left: 135px;
    z-index: -1; }

.blog-items {
  font-size: 0; }

.blog-item {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  z-index: 5;
  padding-right: 28px;
  margin-bottom: 55px; }
  .blog-item__img {
    margin-bottom: 37px; }
  .blog-item-header {
    margin-bottom: 22px; }
    .blog-item-header span {
      font-size: 16px;
      margin-right: 12px; }
  .blog-item__date {
    color: #020202;
    display: inline-block;
    font-size: 16px;
    margin-right: 15px; }
  .blog-item__cat {
    color: #84a725;
    font-size: 16px;
    text-decoration: underline; }
  .blog-item__name {
    color: #020202;
    font-family: 'Yeseva';
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 25px; }
    .blog-item__name:hover {
      color: #84a725; }
  .blog-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #020202; }
    .blog-item p a {
      color: #84a725;
      text-decoration: underline; }
      .blog-item p a:hover {
        text-decoration: none; }

/* Article */
.article-content {
  float: left;
  width: 66%; }
  .article-content h1 {
    padding-top: 45px;
    padding-bottom: 15px;
    font-family: 'Yeseva';
    font-size: 34px;
    font-weight: 400; }
  .article-content__img {
    margin-bottom: 36px; }
  .article-content p {
    line-height: 1.6;
    color: #020202;
    padding-bottom: 33px; }
    .article-content p:first-child {
      margin-top: 36px; }
  .article-content h2 {
    font-family: 'Yeseva';
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 33px; }

.article-bottom {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 60px; }
  .article-bottom__return {
    float: left;
    text-decoration: underline;
    color: #000;
    padding-left: 57px;
    position: relative;
    margin-top: 20px; }
    .article-bottom__return:before {
      content: '';
      display: block;
      background: url(../images/pagination-arrow.png) no-repeat 50%;
      width: 27px;
      height: 16px;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 0; }
  .article-bottom__soc {
    float: right;
    padding: 20px 0; }
    .article-bottom__soc a {
      display: inline-block;
      vertical-align: middle; }
      .article-bottom__soc a img {
        vertical-align: middle; }
    .article-bottom__soc span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px; }

.article-sidebar {
  float: right;
  width: 28%;
  margin-top: 122px;
  position: relative; }
  .article-sidebar:after {
    content: '';
    display: block;
    position: absolute;
    top: -75px;
    right: 0;
    bottom: -100px;
    left: 60px;
    background: #f5f5f5;
    z-index: -1; }
  .article-sidebar__head {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 3px;
    margin-bottom: 30px; }
  .article-sidebar a {
    font-family: 'Yeseva';
    font-size: 20px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 30px; }
    .article-sidebar a:hover {
      color: #84a725; }

/* Brand */
.brand-item {
  margin-bottom: 65px; }
  .brand-item__img {
    float: left; }
  .brand-item__img2 {
    float: right; }
  .brand-item__content {
    float: right;
    width: 42%;
    padding-right: 114px;
    padding-top: 100px; }
  .brand-item__content2 {
    float: left;
    padding: 40px 0 0 114px; }
    .brand-item__content2 .brand-item__head:before {
      left: auto;
      right: -156px; }
  .brand-item__head {
    font-weight: 400;
    font-family: 'Yeseva';
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    position: relative;
    color: #020202; }
    .brand-item__head:before {
      content: '';
      display: block;
      width: 110px;
      height: 1px;
      background: #84a725;
      position: absolute;
      top: 19px;
      left: -156px; }
  .brand-item p {
    line-height: 1.6;
    color: #020202; }

.brand-info-head {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  line-height: 1.6; }
  .brand-info-head:after {
    content: '';
    display: block;
    position: absolute;
    top: -122px;
    right: 114px;
    bottom: -320px;
    left: 114px;
    background: #f5f5f5;
    z-index: -1; }

.brand-info-items {
  font-size: 0;
  text-align: center;
  padding-bottom: 123px;
  position: relative; }
  .brand-info-items:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    bottom: -9px;
    left: 50%; }

.brand-info-item {
  display: inline-block;
  vertical-align: middle;
  width: 24%; }

.brand-like {
  margin-top: 80px;
  margin-bottom: 116px; }
  .brand-like:before {
    display: none; }

.brand-res {
  text-align: center;
  position: relative;
  padding-top: 88px;
  padding-bottom: 55px;
  margin-bottom: 80px; }
  .brand-res:before {
    content: '';
    display: block;
    background: #d7a376;
    position: absolute;
    top: 0;
    right: 150px;
    bottom: 0;
    left: 150px;
    z-index: -1; }
  .brand-res:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #140b06;
    position: absolute;
    top: -43px;
    left: 50%; }
  .brand-res__head {
    font-family: 'Yeseva';
    font-size: 34px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 26px; }
  .brand-res p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6; }
    .brand-res p a {
      color: #000;
      font-weight: 700; }
      .brand-res p a:hover {
        color: #fff; }

/* Delivery */
.delivery-content {
  text-align: center;
  padding: 80px 117px 85px;
  margin: 80px 0 155px 0;
  position: relative;
  z-index: 5; }
  .delivery-content:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 120px;
    bottom: 35px;
    left: 120px;
    background: #f5f5f5;
    z-index: -1; }
  .delivery-content:after {
    content: '';
    display: block;
    background: url(../images/delivery-img.png) no-repeat 50%;
    width: 100px;
    height: 98px;
    position: absolute;
    bottom: -17px;
    right: 50%;
    margin-right: -50px; }
  .delivery-content-wrap:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    top: 162px;
    left: 50%;
    z-index: 10; }
  .delivery-content p {
    color: #020202;
    line-height: 1.6;
    padding-bottom: 35px; }
    .delivery-content p a {
      color: #020202; }
      .delivery-content p a:hover {
        color: #84a725; }

.delivery-items {
  text-align: center;
  padding-bottom: 100px;
  position: relative; }
  .delivery-items:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    top: -190px;
    left: 50%; }

.delivery-item {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  text-align: left; }
  .delivery-item:first-child {
    margin-right: 145px;
    margin-left: 90px; }
  .delivery-item__head {
    font-family: 'Yeseva';
    font-size: 24px;
    font-weight: 400;
    color: #020202;
    margin-top: 40px;
    margin-bottom: 26px;
    position: relative; }
    .delivery-item__head:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #84a725;
      position: absolute;
      top: 50%;
      left: -114px; }
  .delivery-item p {
    line-height: 1.6;
    color: #020202; }

/* Contacts */
.contacts-info {
  padding-top: 85px; }
  .contacts-info-items {
    text-align: center;
    font-size: 0;
    margin-bottom: 100px;
    margin-top: 80px;
    position: relative; }
    .contacts-info-items:before {
      content: '';
      display: block;
      position: absolute;
      top: -80px;
      bottom: -50px;
      right: 80px;
      left: 80px;
      background: #f5f5f5;
      z-index: -1; }
    .contacts-info-items:after {
      content: '';
      display: block;
      width: 1px;
      height: 90px;
      background: #84a725;
      position: absolute;
      top: -126px;
      left: 50%; }
  .contacts-info-item {
    display: inline-block;
    vertical-align: top;
    width: 28%; }
    .contacts-info-item p {
      color: #020202;
      font-size: 16px; }
  .contacts-info__img {
    display: inline-block;
    vertical-align: middle;
    line-height: 110px; }
    .contacts-info__img img {
      vertical-align: middle; }
  .contacts-info__head {
    font-family: 'Yeseva';
    font-size: 24px;
    font-weight: 400;
    color: #020202;
    padding-bottom: 10px; }
  .contacts-info__tel a {
    font-family: 'Yeseva';
    font-size: 24px;
    font-weight: 400;
    color: #020202;
    padding-bottom: 10px; }
    .contacts-info__tel a:hover {
      color: #84a725; }
  .contacts-info__callback {
    text-decoration: underline;
    color: #020202; }

.contacts-text {
  text-align: center;
  padding-bottom: 55px;
  padding-left: 209px;
  padding-right: 194px; }
  .contacts-text p {
    line-height: 1.6;
    color: #020202; }

.contacts-map {
  width: 100%;
  height: 600px;
  margin-bottom: 130px;
  position: relative; }
  .contacts-map:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    bottom: -142px;
    left: 50%; }
  .contacts-map iframe {
    width: 100%;
    height: 100%;
    border: none; }

.contacts-items {
  padding-top: 55px;
  font-size: 0;
  text-align: center; }

.contacts-item {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  margin-bottom: 115px;
  position: relative; }
  .contacts-item:before {
    content: '';
    display: block;
    background: #f5f5f5;
    position: absolute;
    top: 21px;
    right: 125px;
    bottom: -44px;
    left: 125px;
    z-index: -1; }
  .contacts-item__head {
    padding-top: 34px;
    padding-bottom: 12px;
    font-family: 'Yeseva';
    font-size: 24px;
    font-weight: 400; }
  .contacts-item p {
    font-size: 16px;
    padding-bottom: 12px; }
  .contacts-item__link {
    display: inline-block;
    color: #020202;
    text-decoration: underline;
    margin-bottom: 12px; }
  .contacts-item__tel {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #020202;
    margin-bottom: 9px; }
    .contacts-item__tel:hover {
      color: #84a725; }

/* Pay */
.pay-descr {
  text-align: center;
  margin: 75px 115px 55px;
  position: relative; }
  .pay-descr:before {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #84a725;
    position: absolute;
    top: -45px;
    left: 50%; }
  .pay-descr p {
    padding: 75px 114px 45px;
    background: #f5f5f5;
    line-height: 1.6; }

.pay-items {
  font-size: 0;
  margin: 0 115px;
  border-bottom: 1px solid #e1e1e1; }

.pay-item {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  margin-bottom: 50px; }
  .pay-item__head {
    color: #020202;
    font-family: 'Yeseva';
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30px; }
  .pay-item__img {
    display: inline-block;
    vertical-align: middle;
    line-height: 35px; }
    .pay-item__img a {
      margin-right: 10px; }
      .pay-item__img a img {
        vertical-align: middle; }

.pay-info {
  padding: 50px 0;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 114px; }
  .pay-info__head {
    color: #020202;
    font-family: 'Yeseva';
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 35px; }
  .pay-info p {
    line-height: 1.6; }
  .pay-info table tbody tr {
    height: 70px; }
    .pay-info table tbody tr td {
      vertical-align: top; }
      .pay-info table tbody tr td:first-child {
        width: 4%; }
      .pay-info table tbody tr td:nth-child(2) {
        width: 12%; }
      .pay-info table tbody tr td:nth-child(3) {
        width: 34%; }
      .pay-info table tbody tr td:nth-child(4) {
        width: 15%; }
      .pay-info table tbody tr td:nth-child(5) {
        width: 8%; }
        .pay-info table tbody tr td:nth-child(5) a:first-child {
          margin-right: 10px; }

/*# sourceMappingURL=style.css.map */