$pt: 'PT Serif';
$red: #f15b46;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: inline-block;
  font-size: 18px;
  color: #000;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width:100%;
}

a img {
  border: none;
  outline: none;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1340px;
  margin: 0 auto;
  position: relative;
}

.head {
  font: bold 42px $pt;
  color: #000;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 5px solid #c29f63;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
}

.caption {
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 880px;
}

.top {
  text-align: center;
  padding: 16px 0 14px;
  &-wrap {
    background: #c29f63;
  }
  p, a {
    font: bold 28px $pt;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.header {
  padding: 0 0 15px;
  &-info {
    float: left;
    margin-top: 17px;
    &--tel {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &--text {
      font-size: 14px;
    }
  }
  &-connect {
    float: right;
    margin-top: 16px;
    a {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #f15b46;
      line-height: 50px;
      border-radius: 3px;
      width: 160px;
      text-align: center;
      &:hover {
        background: #dd533f;
      }
    }
  }
}

.logo {
  float: left;
  margin: 20px 70px 0 0;
}

.nav {
  float: left;
  margin: 33px 70px 0 0;
  li {
    display: inline-block;
    margin: 0 30px 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.services {
  padding: 45px 0;
  text-align: center;
  &--head {
    margin-bottom: 20px;
  }
  &--caption {
    margin-bottom: 35px;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    img {
      display: block;
      margin: 0 auto 12px;
    }
    a {
      color: #290e5e;
      font: bold 32px $pt;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.showcase {
  &-wrap {
    background: #290e5e url(../images/showcase.png) repeat center;
  }
  padding: 0 114px;
  &-item {
    position: relative;
    padding: 104px 0;
  }
  &-content {
    width: 85%;
    border: 10px solid #c29f63;
    padding: 53px 67px;
    &--head {
      color: #c29f63;
      font: bold 72px/1.1 $pt;
      margin-bottom: 33px;
      max-width: 550px;
    }
    p {
      color: #fff;
      font-size: 24px;
      line-height: 1.6;
      max-width: 550px;
    }
  }
  img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .slick-arrow {
	  width: 45px;
    height: 84px;
    background: url(../images/showcase-arrow.png) left center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -42px;
    cursor: pointer;
    border: none;
  }
  .slick-next {
    left: auto;
    right: 0;
    background-position: right center;
  }
  .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 196px;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid #c29f63;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 15px;
      transition: 300ms;
      &.slick-active,
      &:hover {
        background: #fff;
        border: 2px solid #fff;
      }
      button {
        display: none;
      }
    }
  }
}

.know {
  position: relative;
  text-align: center;
  padding: 73px 0 40px;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
  }
  &-wrap {
    background: #c29f63 url(../images/know.png) repeat center;
  }
  &--head {
    color: #fff;
    border-bottom: 5px solid #fff;
    margin-bottom: 35px;
  }
  &-item {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
    text-align: left;
    &--head {
      font-size: 24px;
      font-weight: bold;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 50px;
      background: url(../images/tick.png) no-repeat left center;
    }
    p {
      line-height: 1.4;
      margin: 25px 0;
    }
    a {
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.how {
  padding: 40px 0 122px;
  text-align: center;
  &--caption {
    margin: 20px auto 100px;
  }
  &-content {
    display: block;
    width: 438px;
    height: 439px;
    margin: 0 auto;
    position: relative;
  }
  &--text {
    width: 150px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    &_1 {
      left: -50px;
      top: -10px;
    }
    &_2 {
      left: 410px;
      top: 64px;
    }
    &_3 {
      left: 422px;
      top: 290px;
    }
    &_4 {
      left: 138px;
      top: 447px;
    }
    &_5 {
      left: -159px;
      top: 230px;
    }
  }
  &--connect {
    color: #f15b46;
    font: italic bold 18px $pt;
    position: absolute;
    top: -49px;
    right: -190px;
    width: 235px;
    display: block;
    text-align: center;
  }
  &--arrow {
    position: absolute;
    right: 20px;
    top: -10px;
  }
  &--order {
    position: absolute;
    width: 100%;
    left: 0;
    top: 136px;
    a {
      color: #290e5e;
      font: bold 24px $pt;
      text-decoration: underline;
      max-width: 211px;
      text-align: center;
      display: block;
      margin: 25px auto 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.price {
  padding: 38px 0 0 0;
  text-align: center;
  &-wrap {
    background: #ebf2f6 url(../images/price.png) repeat center;
  }
  &--head {
    margin-bottom: 40px;
  }
  &-available {
    float: left;
    width: 32%;
    background: #290e5e;
    position: relative;
    overflow: hidden;
    height: 690px;
    text-align: center;
    &:before {
      content: '';
      display: block;
      background: #ebf2f6;
      position: absolute;
      width: 70px;
      height: 70px;
      left: 50%;
      margin-left: -35px;
      top: -35px;
      border-radius: 50%;
    }
    &--head {
      color: #c29f63;
      font: bold 28px/1.1 $pt;
      margin: 75px 0 10px;
    }
    &-item {
      margin: 0 35px;
      border-bottom: 1px dashed #c29f63;
      text-align: left;
      height: 188px;
      &--img {
        display: inline-block;
        vertical-align: middle;
        width: 93px;
        text-align: center;
        margin-right: 27px;
      }
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      &:last-child {
        border-bottom: 0;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        max-width: 210px;
        font-size: 24px;
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-content-wrap {
    background: #fff;
    float: left;
    width: 68%;
    height: 690px;
    text-align: left;
  }
  &-tab {
    float: left;
    width: 50%;
    text-align: center;
    margin: 24px 0;
    font: bold 28px $pt;
    text-decoration: underline;
    color: #f15b46;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &.active {
      color: #000;
      text-decoration: none;
      cursor: default;
    }
  }
  &-content {
    padding: 0 30px;
    display: none;
    &.active {
      display: block;
    }
    b {
      font-size: 18px;
      font-weight: normal;
      margin: 27px 0 30px;
      display: block;
    }
    &--check {
      display: inline-block;
      width: 24.5%;
      height: 47px;
      input {
        display: inline-block;
        vertical-align: top;
      }
      label {
        color: #040404;
        display: inline-block;
        vertical-align: top;
        max-width: 90%;
        padding-left: 10px;
      }
    }
    &-checks {
      margin-bottom: 30px;
    }
    &--dont {
      float: left;
      margin-right: 180px;
      input {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
      label {
        display: inline-block;
        vertical-align: top;
        width: 220px;
      }
    }
    &--all {
      margin-top: 20px;
    }
    &--price {
      color: #290e5e;
      float: left;
      font-size: 24px;
      margin-top: -14px;
      span {
        font: bold 62px/1 $pt;
      }
    }
    &-send {
      margin-top: 25px;
      span {
        display: inline-block;
        vertical-align: middle;
        color: #7a7a7a;
        font-size: 12px;
        width: 394px;
        margin-right: 30px;
      }
      button {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        background-color: #f15b46;
        line-height: 50px;
        width: 228px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        border-radius: 3px;
        font-family: 'Roboto';
        transition: 300ms;
        &:hover {
          background: #dd533f;
        }
      }
    }
  }
}

.input-wrap {
  margin-bottom: 15px;
  label {
    display: inline-block;
    vertical-align: middle;
    color: #040404;
    width: 307px;
  }
  select {
    width: 342px;
    height: 50px;
    border: 1px solid #959595;
    background: #fff;
    border-radius: 3px;
    padding: 0 25px;
    color: #7b7b7b;
    font-size: 18px;
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    -ms-appearance: none;
    font-family: 'Roboto';
    -webkit-appearance: none;
    appearance: none!important;
    background: url(../images/select.png) 95% center no-repeat;
  }
  input {
    font-size: 18px;
    font-family: 'Roboto';
    width: 342px;
    height: 50px;
    border: 1px solid #959595;
    background: #fff;
    border-radius: 3px;
    padding: 0 25px;
    font-weight: bold;
    color: #040404;
  }
}

.vs {
  padding: 45px 0 35px;
  &-header {
    text-align: center;
    margin-bottom: 24px;
    p {
      color: #290e5e;
      font: bold 38px/1 $pt;
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 12px;
      width: 400px;
      &:first-child {
        text-align: right;
      }
    }
    img {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px;
    }
  }
  &-item {
    width: 60%;
    margin: 0 auto 15px;
    text-align: center;
    padding: 16px 100px 16px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background: url(../images/ok.png) no-repeat center;
      left: 0;
      top: 0;
      position: absolute;
    }
    &:after {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background: url(../images/false.png) no-repeat center;
      right: 0;
      top: 0;
      position: absolute;
    }
  }
}

.audit {
  padding: 73px 0 42px;
  text-align: center;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    left: 50%;
    margin-left: -35px;
    top: -35px;
  }
  &-wrap {
    background: #290e5e url(../images/showcase.png) repeat center;
  }
  &--head {
    margin-bottom: 38px;
    color: #fff;
  }
  &-item-wrap {
    float: left;
    width: 49%;
    margin-right: 2%;
    background: #c29f63;
    padding: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-item {
    border: 1px solid #290e5e;
    height: 287px;
    padding-top: 33px;
    &--head {
      font: bold 34px $pt;
    }
    p {
      margin: 12px auto 20px;
      line-height: 1.6;
      max-width: 80%;
    }
    a {
      color: #290e5e;
      font: bold 62px/0.8 $pt;
      }
    }
}

.audit--form {
  margin: 0 auto;
  text-align: center;
  input {
    width: 300px;
    height: 59px;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    padding: 0 20px;
    font: normal 18px 'Roboto';
    display: inline-block;
    margin-right: -.25em;
    border: none;
  }
  button {
    color: #fff;
    text-transform: uppercase;
    font: bold 18px 'Roboto';
    width: 160px;
    line-height: 59px;
    background-color: #f15b46;
    border: none;
    cursor: pointer;
    display: inline-block;
    &:hover {
      background: #da5441;
    }
  }
}

.type {
  text-align: center;
  padding: 52px 0 10px;
  &-wrap {
    background: #ebf2f6 url(../images/price.png) repeat center;
  }
  &-tab {
    float: left;
    width: 33.3%;
    text-align: center;
    margin-bottom: 35px;
    font: bold 28px $pt;
    text-decoration: underline;
    color: #f15b46;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &.active {
      color: #000;
      text-decoration: none;
      cursor: default;
    }
  }
  &-content {
    display: none;
    &.active {
      display: block;
    }
  }
  &-item {
    width: 32%;
    margin: 0 2% 2% 0;
    background: #fff;
    position: relative;
    padding: 27px 30px 25px 103px;
    color: #323232;
    float: left;
    text-align: left;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &--head {
      font-weight: bold;
      margin-bottom: 15px;
      color: #323232;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      line-height: 1.6;
    }
    img {
      position: absolute;
      left: 30px;
      top: 32px;
    }
  }
}

.interest {
  padding: 43px 0 50px;
  text-align: center;
  &--head {
    margin-bottom: 40px;
  }
  &-item {
    float: left;
    width: 50%;
    margin-bottom: 45px;
    img {
      float: left;
      width: 50%;
    }
    &-content {
      float: left;
      text-align: left;
      width: 50%;
      padding: 10px 30px 0;
      span {
        font-size: 14px;
        color: #323232;
        line-height: 1.5;
      }
    }
    &--head {
      color: #000;
      color: #323232;
      font-weight: bold;
      line-height: 1.6;
      margin: 15px 0;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
    &--link {
      color: #f15b46;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
      margin-top: 20px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &--link {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    background-color: #f15b46;
    width: 228px;
    line-height: 50px;
    &:hover {
      background: #d95341;
    }
  }
}

.footer {
  padding: 47px 0 38px;
  &-wrap {
    background: #290e5e;
  }
  &-info {
    float: left;
    color: #fff;
    &--tel {
      color: #fff;
      font-size: 34px;
      font-weight: bold;
      display: block;
    }
    &--email {
      color: #fff;
      font-size: 14px;
      margin: 10px 0;
    }
    &-form {
      margin: 20px 0;
      input {
        width: 293px;
        background: #fff;
        height: 50px;
        border-radius: 3px 0 0 3px;
        padding: 0 15px;
        font: normal 16px 'Roboto';
        border: none;
        float: left;
      }
      button {
        width: 50px;
        height: 50px;
        border-radius: 0 3px 3px 0;
        background: #f15b46 url(../images/magnifier.png) no-repeat center;
        border: none;
        float: left;
        cursor: pointer;
        &:hover {
          background-color: #db5441;
        }
      }
    }
    p {
      font-size: 14px;
    }
  }
  &-nav {
    float: right;
    text-align: right;
    ul {
      display: inline-block;
      vertical-align: top;
      max-width: 200px;
      margin-right: 50px;
      text-align: left;
      &:last-child {
        margin-right: 0;
      }
    }
    li {
      color: #fff;
      margin-bottom: 12px;
      &:first-child {
        font-weight: 700;
        line-height: 1.3;
      }
    }
    a {
      color: #fff;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.social {
  margin-top: 15px;
  a {
    display: inline-block;
    margin-right: 15px;
  }
}

.bot {
  padding: 20px 0;
  &-wrap {
    background: #c29f63;
  }
  .copy {
    float: left;
    color: #000;
    font-size: 14px;
  }
  .created {
    color: #000;
    font-size: 14px;
    float: right;
    &:hover p,
    &:hover a {
      text-decoration: underline;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      padding-left: 4px;
    }
    a {
      color: #000;
      font-size: 14px;
    }
  }
}

.burger-wrap {
  display: none;
}

.inner {
  padding: 35px 0;
  &-wrap {
    background: #c29f63 url(../images/know.png) repeat center;
  }
  &-item {
    float: left;
    width: 33%;
    text-align: center;
    img {
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle;
    }
    a {
      color: #290e5e;
      font: bold 28px $pt;
      text-decoration: underline;
      display: inline-block;
      vertical-align: middle;
      width: 52%;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.bread {
  text-align: center;
  padding: 32px 0;
  li {
    display: inline-block;
    margin: 0 3px;
    font-size: 14px;
    a {
      color: #f15b46;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.buh {
  &-wrap {
    background: #ebf2f6 url(../images/price.png) repeat center;
  }
  &-content {
    float: left;
    width: 50%;
    padding: 48px 0 20px;
    p {
      line-height: 1.6;
      margin-bottom: 25px;
    }
  }
  &--head {
    text-align: left;
    border-bottom: 0;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 35px;
    &:after {
      content: '';
      display: block;
      height: 5px;
      width: 70%;
      background-color: #c29f63;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
    }
  }
  &-img {
    float: left;
    width: 50%;
    img {
      vertical-align: bottom;
    }
  }
}

.reason {
  padding: 39px 0 37px;
  text-align: center;
  &--caption {
    margin: 23px auto 37px;
  }
  &-item {
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: left;
    &-header {
      span {
        display: inline-block;
        vertical-align: middle;
        color: #f15b46;
        font: bold 72px $pt;
        margin-right: 10px;
      }
    }
    &--head {
      color: #290e5e;
      font: bold 34px $pt;
      display: inline-block;
      vertical-align: middle;
    }
    p {
      line-height: 1.6;
    }
  }
  &--link {
    margin-top: 34px;
    text-align: center;
    a {
      width: 195px;
      line-height: 50px;
      background-color: #f15b46;
      border-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        background: #d75340;
      }
    }
  }
}

.cost {
  padding: 60px 0 35px;
  position: relative;
  text-align: center;
  &:before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
  }
  &-wrap {
    background: #c29f63 url(../images/know.png) repeat center;
  }
  &--head {
    color: #fff;
    border-color: #fff;
    margin-bottom: 40px;
  }
  &-item {
    text-align: left;
    padding: 0 113px;
    &.active .cost-item-content {
      display: block;
    }
    &.active .cost-item--img {
      background-position: center top;
    }
    &--header {
      padding-bottom: 15px;
      cursor: pointer;
      p {
        font-size: 24px;
        color: #000;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &--img {
      width: 46px;
      height: 46px;
      display: inline-block;
      margin-left: 20px;
      background: url(../images/plus.png) no-repeat center bottom;
      vertical-align: middle;
    }
    &-content {
      display: none;
      li {
        margin-bottom: 25px;
        position: relative;
        line-height: 1.3;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url(../images/cost-list.png) no-repeat center;
          width: 22px;
          height: 22px;
          left: -40px;
          top: 0;
        }
      }
    }
  }
  &-links {
    text-align: center;
    margin-top: 15px;
    a {
      width: 228px;
      line-height: 50px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 5px;
      &:first-child {
        background-color: #f15b46;
        border-radius: 3px;
        &:hover {
          background: #dd5643;
        }
      }
      &:last-child {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

iframe {
  border: 0;
}

.contacts {
  text-align: center;
  padding-bottom: 30px;
  &-content {
    text-align: left;
    padding-left: 114px;
    p {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.map {
  margin: 40px 0 105px;
  position: relative;
  &-content {
    position: absolute;
    width: 600px;
    top: 0;
    left: 50px;
    background: #fff;
    padding: 15px 60px 40px;
    text-align: left;
  }
  &--tel {
    font-size: 34px;
    font-weight: bold;
  }
  &--address {
    margin: 20px 0;
  }
  &--email {
    color: #00b3f0;
    text-decoration: underline;
    margin-bottom: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    display: inline-block;
    margin-top: 7px;
    width: 49%;
  }
  .audit-item-wrap {
    position: absolute;
    left: 50px;
    top: 385px;
    width: 600px;
  }
  .audit-item {
    height: auto;
    padding-bottom: 35px;
  }
}

.content {
  &-social {
    position: absolute;
    left: 0;
    top: -10px;
    a {
      display: inline-block;
      margin: 0 5px;
    }
  }
  &-header {
    position: relative;
  }
  &--date {
    position: absolute;
    left: 0;
    top: 22px;
    color: #323232;
    font-size: 14px;
  }
  h3 {
    color: #000;
    font-size: 42px;
    font-weight: bold;
    margin: 0 0 30px 106px;
  }
  img {
    margin-bottom: 30px;
  }
  &-in {
    padding-left: 106px;
    p {
      color: #323232;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    h4 {
      color: #323232;
      font-size: 28px;
      font-weight: normal;
      margin-bottom: 30px;
    }
    h5 {
      color: #f15b46;
      font: bold 28px $pt;
      margin-bottom: 30px;
      line-height: 1.4;
    }
  }
  &--link {
    text-align: right;
    margin-bottom: 35px;
    position: relative;
    a {
      color: #f15b46;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.sidebar {
  float: left;
  width: 17%;
  &-nav {
    background: #e8eff2;
    padding: 25px 17px 10px;
    margin-bottom: 50px;
    li {
      margin-bottom: 10px;
      color: #f15b46;
      font-weight: bold;
      line-height: 1.4;
    }
    a {
      color: #290e5e;
      font-size: 14px;
      line-height: 1.3;
      text-decoration: underline;
      font-weight: normal;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      margin-bottom: 10px;
    }
  }
}

.service {
  .content {
    float: right;
    width: 77%;
  }
}

.blog {
  &-wrap {
    text-align: center;
  }
  text-align: left;
  &--head {
    margin-bottom: 35px;
  }
  .sidebar {
    float: right;
  }
  &-items {
    width: 75%;
    float: left;
  }
  &-item {
    margin-bottom: 50px;
    &--img {
      float: left;
      width: 42%;
      padding-right: 30px;
    }
    &-content {
      float: left;
      width: 58%;
      color: #323232;
      position: relative;
    }
    &--date {
      font-size: 14px;
    }
    &--head {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.3;
      margin: 16px 0;
    }
    &--text {
      line-height: 1.6;
    }
    &--link {
      color: #f15b46;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: underline;
      margin-top: 16px;
      &:hover {
        text-decoration: none;
      }
    }
    &--cat {
      position: absolute;
      right: 0;
      top: 0;
      color: #f15b46;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &--link {
    text-align: center;
    margin: 20px 0 70px;
    a {
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      background-color: #f15b46;
      border-radius: 3px;
      line-height: 50px;
      width: 228px;
      text-align: center;
      &:hover {
        background: #d85441;
      }
    }
  }
}

.subscribe {
  margin: 10px 0 40px;
  background: #c29f63;
  padding: 20px 25px;
  p {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    float: left;
    width: 277px;
    margin-bottom: 0;
    line-height: 1.5;
    margin-top: 4px;
  }
  form {
    float: left;
    input {
      float: left;
      width: 410px;
      height: 50px;
      background: #fff;
      border: none;
      border-radius: 4px 0 0 4px;
      font: normal 18px 'Roboto';
      padding: 0 18px;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    button {
      float: left;
      width: 160px;
      line-height: 50px;
      background-color: #290e5e;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      border: none;
      font-weight: bold;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      &:hover {
        background: #200b4a;
      }
    }
  }
}
