@media only screen and (max-width: 1336px) {
  .container {
    max-width: 1170px;
  }
  
  // Logo
  
  .logo {
    left: 0;
  }
  
  // Header
  
  .header {
    padding-right: 34px;
    padding-left: 194px;
  }
  
  // Options
  
  .options {
    padding-left: 194px;
  }
  
  // Showcase
  
  .showcase {
    &-content {
      padding-left: 70px;
    }
  }
  
  // Catalog
  
  .catalog {
    &-sidebar {
      margin-right: 20px;
    }
    &-item {
      width: 290px;
    }
    &-el {
      padding-right: 12px;
      padding-left: 12px;
    }
  }
  
  // Review
  
  .review {
    &-items {
      width: 798px;
    }
    &-item {
      width: 388px;
    }
  }
  
  // Footer
  
  .footer {
    &-info {
      margin-left: 60px;
    }
  }
  
  // About
  
  .about {
    &-content {
      padding-right: 24px;
    }
  }
  
  // Directory
  
  .directory {
    .catalog-sidebar {
      margin-left: 0;
      margin-right: 20px;
    }
  }
  
  // Cabinet
  
  .cabinet {
    padding-bottom: 10px;
    &-wrap {
      .head {
        margin-left: 0;
      }
    }
    &-form {
      padding: 0 20px 0 0px;
    }
    &-info {
      width: 290px;
    }
  }
  
  // Contacts
  
  .contacts {
    &-content {
      padding: 0 40px 0 0;
    }
  }
  
  // Ordering
  
  .ordering {
    &-input {
      > input, textarea {
        width: 470px;
      }
    }
    &-el {
      width: 180px;
      margin-right: 10px;
      &.claim {
        width: 370px;
      }
    }
    &-block {
      margin-bottom: 8px;
    }
  }
  
  // Basket
  
  .basket {
    padding-bottom: 0;
    &-img {
      max-width: 150px;
    }
    .ordering {
      &-form {
        padding-left: 0;
        padding-right: 12px;
      }
    }
    &-table {
      table thead tr td {
        &:nth-child(2) {
          width: 210px;
        }
        &:nth-child(3) {
          width: 145px;
        }
        &:nth-child(4) {
          width: 103px;
        }
      }
    }
    &__text {
      padding-right: 0;
    }
    &-item {
      &-content {
        padding: 22px 10px 17px 14px;
      }
      &-side {
        width: 250px;
        padding: 52px 20px 42px 26px;
      }
    }
  }
  
  // Payment
  
  .payment {
    &-content {
      padding-right: 20px;
    }
  }
  
  // Order
  
  .order {
    margin-bottom: 18px;
    &-content {
      padding-right: 22px;
      &__text {
        padding-bottom: 37px;
      }
      .basket__text {
        padding-right: 10px;
      }
      .basket-table table thead tr td {
        &:nth-child(3) {
          width: 124px;
        }
        &:nth-child(4) {
          width: 120px;
        }
      }
    }
  }
  
  // Product
  
  .product {
    &-img {
      padding-left: 200px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  
  // Nav
  
  .nav {
    li {
      padding-right: 8px;
      margin-right: 8px;
      a {
        font-size: 13px;
      }
    }
  }
  
  // Header
  
  .header {
    padding-right: 0px;
    padding-left: 176px;
    &-top {
      padding-right: 0;
    }
    &-cabinet {
      li {
        padding-right: 8px;
        margin-right: 8px;
        a {
          font-size: 13px;
        }
      }
    }
    .info {
      &-item {
        &-img {
          margin-right: 18px;
        }
      }
    }
  }
  
  // Options
  
  .options {
    padding-left: 176px;
    .select2 {
      &-container {
        width: 170px !important;
      }
    }
    &-form {
      button {
        width: 60px;
      }
    }
  }
  
  // Showcase
  
  .showcase {
    padding: 174px 0 185px;
    &-slider {
      .slick-dots {
        bottom: 20px;
      }
    }
    &-img {
      width: 540px;
      height: auto;
    }
    &-content {
      width: 455px;
      padding-left: 55px;
      &__head {
        font-size: 40px;
        margin-bottom: 22px;
      }
      &__price {
        font-size: 55px;
        margin-bottom: 46px;
      }
    }
  }
  
  // Catalog
  
  .catalog {
    &-sidebar {
      margin-left: 0;
    }
    &-items {
      justify-content: center;
    }
    &-item {
      margin: 0 10px 20px;
      &:nth-child(3n) {
        margin: 0 10px 20px;
      }
    }
  }
  
  // Main about
  
  .main-about {
    margin-left: 0;
    &-content {
      width: 480px;
      padding: 30px 18px 25px 58px;
      .title {
        margin-bottom: 14px;
      }
      .head {
        font-size: 28px;
        margin-bottom: 12px;
      }
    }
    &__text {
      line-height: 1.35;
      margin-bottom: 18px;
    }
  }
  
  // Review
  
  .review {
    margin-bottom: 52px;
    &-items {
      width: 650px;
      .slick-arrow {
        left: -76px;
      }
    }
    &-item {
      width: 315px;
      padding: 55px 16px 26px 18px;
      &__text {
        line-height: 1.25;
      }
    }
  }
  
  // Video
  
  .video {
    margin-bottom: 46px;
    iframe {
      height: 500px;
    }
  }
  
  // Main contacts
  
  .main-contacts {
    margin-bottom: 50px;
    &-sidebar {
      margin-right: 40px;
    }
  }
  
  // Footer
  
  .footer {
    &-item {
      margin-right: 35px;
    }
    &-info {
      margin: 0 0 0 50px;
    }
  }
  
  // About
  
  .about {
    margin-bottom: 46px;
    .title {
      margin-bottom: 16px;
    }
    .head {
      font-size: 26px;
    }
    &-content {
      padding-top: 18px;
      margin-bottom: 18px;
    }
    &-img {
      width: 400px;
    }
    b, p {
      line-height: 1.35;
      margin-bottom: 14px;
    }
  }
  
  // Cabinet
  
  .cabinet {
    &-form {
      padding: 0 10px 0 0;
    }
    &-nav {
      li {
        width: 167px;
      }
    }
    &-content {
      width: 100%;
      margin-left: 0;
      padding-right: 20px;
    }
  }
  
  // Contacts
  
  .contacts {
    &-content {
      padding: 0 20px 0 0;
      &-text {
        line-height: 1.35;
        margin-bottom: 20px;
      }
    }
    &-map {
      width: 340px;
    }
    &-item {
      &-el {
        margin-right: 34px;
      }
    }
    &-info {
      padding-bottom: 0;
    }
  }
  
  // Ordering
  
  .ordering {
    &__head {
      margin-left: 0;
    }
    &-form {
      padding: 0 10px 0 0;
    }
    &-info {
      width: 290px;
      padding: 20px 14px 24px;
      table tbody td:first-child {
        width: 192px;
      }
      &__total {
        padding: 25px 0;
        &:before,
        &:after {
          left: 0;
        }
      }
      &-link {
        button {
          width: 100%;
        }
      }
    }
    &-input {
      flex-wrap: wrap;
      margin-bottom: 18px;
      &-label {
        padding-top: 8px;
      }
    }
    &-el {
      width: 160px;
      &.claim {
        width: 330px;
      }
      label {
        span {
          font-size: 15px;
        }
      }
    }
  }
  
  // Basket
  
  .basket {
    &-table {
      table thead tr td {
        font-size: 13px;
        &:first-child {
          width: 146px;
        }
        &:nth-child(2) {
          width: 160px;
        }
        &:nth-child(3) {
          width: 110px;
          padding-left: 0;
        }
        &:nth-child(4) {
          width: 90px;
        }
        &:nth-child(5) {
          width: 90px;
        }
        &:last-child {
          width: 60px;
        }
      }
      table tbody tr td {
        padding-bottom: 30px;
      }
    }
    &__price {
      font-size: 20px;
      text-align: center;
    }
    &-val {
      width: 105px;
      span {
        width: 35px;
      }
      input {
        width: 35px;
        height: 35px;
      }
    }
    &__text {
      line-height: 1;
      font-size: 15px;
    }
    &-item {
      &__note {
        font-size: 12px;
      }
      &-side {
        width: 220px;
        padding: 52px 10px 42px 10px;
      }
    }
    &-node {
      flex-wrap: wrap;
    }
    &-img {
      max-width: 140px;
    }
  }
  
  // Delivery
  
  .delivery {
    margin-bottom: 36px;
    &__head {
      margin-right: 0;
    }
  }
  
  // Payment
  
  .payment {
    &-sidebar {
      width: 354px;
      &-item {
        padding: 26px 21px 30px 17px;
      }
    }
  }
  
  // Order
  
  .order {
    &-info {
      padding-left: 10px;
    }
    &-content {
      &__text {
        line-height: 1.35;
        padding-bottom: 32px;
      }
      .basket__text {
        padding-right: 0;
      }
      .basket-table table thead tr td {
        &:nth-child(2) {
          width: 190px;
        }
        &:nth-child(3) {
          width: 98px;
        }
      }
    }
    &-sidebar {
      width: 300px;
      padding: 20px 10px;
    }
    &-item {
      padding-bottom: 16px;
      margin-bottom: 16px;
      table tbody td:first-child {
      width: 168px;
      }
    }
  }
  
  // Product
  
  .product {
    padding-bottom: 48px;
    margin-bottom: 48px;
    &-slider {
      width: 430px;
    }
    &-items {
      width: 300px;
    }
    &-item {
      &__head {
        font-size: 34px;
        margin-bottom: 14px;
      }
      &__text {
        line-height: 1.3;
        margin-bottom: 12px;
      }
    }
    &-node {
      padding-right: 0;
    }
    &-info {
      &__head {
        font-size: 16px;
        margin-right: 20px;
      }
    }
    &-link {
      .link {
        padding: 0 22px;
      }
      &__ref {
        padding: 0 18px;
      }
    }
  }
  
  // Addition
  
  .addition {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__head {
      width: 100%;
      margin-bottom: 20px;
      padding-left: 0;
    }
  }
  
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  
  // Logo
  
  .logo {
    position: static;
  }
  
  // Header
  
  .header {
    padding-left: 0;
    text-align: center;
  }
  
  // Options
  
  .options {
    padding-left: 0;
    &-form {
      button {
        width: 46px;
      }
    }
  }
  
  // Showcase
  
  .showcase {
    padding: 146px 0 152px;
    &-img {
      width: 450px;
      right: 0;
    }
    &-content {
      width: 340px;
      padding-left: 48px;
      &__head {
        font-size: 30px;
        margin-bottom: 18px;
      }
      &__price {
        font-size: 48px;
        margin-bottom: 34px;
      }
    }
  }
  
  // Catalog
  
  .catalog {
    &-sidebar {
      margin-right: 0;
      &__name {
        margin-bottom: 30px;
      }
      &__head {
        font-size: 28px;
        margin-bottom: 38px;
      }
    }
    &-item {
      width: 260px;
      margin-right: 2px;
      margin-left: 2px;
      &:nth-child(3n) {
        margin-right: 2px;
        margin-left: 2px;
      }
      &-img {
        height: auto;
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
  
  // Main about
  
  .main-about {
    &-content {
      position: static;
      width: 100%;
      transform: translateY(0);
      padding: 22px 10px 18px;
      .head {
        &:before {
          display: none;
        }
      }
    }
  }
  
  // Review
  
  .review {
    &-items {
      width: 460px;
      .slick-arrow {
        top: 57px;
      }
    }
    &-item {
      width: 460px;
    }
  }
  
  // Video
  
  .video {
    iframe {
      height: 350px;
    }
  }
  
  // Main contacts
  
  .main-contacts {
    &-sidebar {
      margin-right: 10px;
      padding-bottom: 60px;
      .head {
        margin-bottom: 48px;
      }
    }
  }
  
  // Footer
  
  .footer {
    flex-direction: column;
    margin-left: 0;
    &-logo {
      width: 160px;
      margin: 0 auto;
    }
  }
  
  // About
  
  .about {
    flex-direction: column;
    margin-bottom: 10px;
    &-content {
      padding: 20px;
    }
    &-img {
      margin: 0 auto;
      order: -1;
    }
  }
  
  // Directory
  
  .directory {
    .catalog-sidebar {
      width: 234px;
      margin-right: 8px;
    }
    .catalog-item {
      width: 250px;
    }
    &-sort {
      &__text {
        margin-right: 6px;
      }
      .select2-container {
        margin-right: 12px;
      }
    }
    &-mode {
      &-item {
        margin-right: 20px;
      }
    }
  }
  
  // Cabinet
  
  .cabinet {
    flex-direction: column;
    &-info {
      order: -1;
      margin: 0 auto 20px;
    }
    &-nav {
      li {
        width: 185px;
      }
    }
    &-form {
      padding-right: 0;
    }
  }
  
  // Contacts
  
  .contacts {
    flex-direction: column;
    margin-bottom: 60px;
    &-info {
      padding-top: 14px;
      &-side {
        width: 220px;
      }
    }
    &-map {
      width: 100%;
      height: 320px;
    }
  }
  
  // Ordering
  
  .ordering {
    &-input {
      flex-direction: column;
      align-items: flex-start;
      > input, textarea {
        margin-right: 0;
      }
    }
    &-el {
      margin: 0 5px 10px;
      &:nth-child(4),
      &:last-child {
        margin: 0 5px 10px;
      }
      &-wrap {
        justify-content: center;
      }
    }
  }
  
  // Basket
  
  .basket {
    table thead tr td {
      &:nth-child(4) {
        padding-left: 10px;
      }
      &:nth-child(5) {
        padding-left: 22px;
      }
    }
    .ordering {
      flex-direction: column;
      &-form {
        padding-right: 0;
      }
      &-info {
        margin: 0 auto 40px;
      }
    }
    &-item {
      margin: 0 auto 38px;
    }
  }
  
  // Payment
  
  .payment {
    flex-direction: column;
    padding-bottom: 0;
    &-content {
      padding: 15px 0;
    }
    &-sidebar {
      margin: 0 auto;
    }
  }
  
  // Order
  
  .order {
    flex-direction: column;
    &-head {
      font-size: 26px;
      margin: 12px 0 24px 0;
    }
    &-content {
      padding: 0;
    }
    &-sidebar {
      margin: 10px auto 20px;
      width: 320px;
    }
  }
  
  // Product
  
  .product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-img {
      margin-bottom: 30px;
    }
    &-dots {
      li {
        margin-bottom: 12px;
      }
    }
    &-items {
      width: 100%;
    }
    &-item {
      .basket {
        &-val {
          margin-right: 40px;
        }
      }
    }
    &-node {
      justify-content: flex-start;
    }
    &-link {
      justify-content: flex-start;
      .link {
        margin-right: 20px;
      }
    }
  }
  
  // Addition
  
  .addition {
    &__head {
      text-align: center;
    }
  }
  
  // Office
  
  .office {
    &__head {
      margin-left: 0;
    }
  }
  
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  
  // Burger
  
  .burger {
    display: inline-block;
    width: 30px;
    a {
      display: block;
      cursor: pointer;
      padding: 12px 0;
      span {
        position: relative;
        display: block;
        width: 30px;
        height: 4px;
        background: #cfab80;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:before,
        &:after {
          content: '';
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background: #cfab80;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }
        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
      &.active {
        span {
          background: transparent;
          &:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
          }
          &:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
  }
  
  // Header
  
  .header {
    &-wrap {
      .container {
        max-width: 100%;
      }
    }
    &-top {
      position: relative;
    }
    &-cabinet {
      flex-direction: column;
      li {
        padding: 7px 0;
        margin-right: 0;
        &:after {
          display: none;
        }
        a {
          font-size: 18px;
        }
      }
    }
    .info {
      justify-content: center;
      &-item {
        width: 240px;
        margin: 0 auto 20px;
        &-content {
          flex-wrap: wrap;
        }
        &__tel {
          margin-right: 0;
        }
      }
    }
  }
  
  // Nav
  
  .nav {
    flex-direction: column;
    &-wrap {
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
      margin-top: 10px;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 100;
      flex-direction: column;
      background-color: #fff;
      padding: 10px 0;
      &.active {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
      }
    }
    li {
      padding: 7px 0;
      margin-right: 0;
      &:after {
        display: none;
      }
      a {
        font-size: 18px;
      }
    }
  }
  
  // Options
  
  .options {
    &-form {
      flex-wrap: wrap;
      justify-content: center;
      button {
        width: 100%;
        margin: 0 12px;
      }
    }
    .select2-container {
      width: 46% !important;
      margin: 0 10px 20px;
    }
  }
  
  // Showcase
  
  .showcase {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 102px;
    &-slider {
      .slick {
        &-prev {
          transform: translate(-4%, 100%) rotate(270deg);
        }
      }
    }
    &-img {
      width: 380px;
      position: static;
      order: -1;
      margin: 0 auto 10px;
    }
    &-content {
      width: 100%;
      text-align: center;
      padding-left: 0;
      &__head {
        font-size: 26px;
        margin-bottom: 12px;
      }
      &__price {
        font-size: 38px;
        margin-bottom: 26px;
      }
    }
  }
  
  // Catalog
  
  .catalog {
    flex-direction: column;
    &-sidebar {
      width: 290px;
      margin: 0 auto 20px;
      text-align: center;
      &__name {
        margin-bottom: 16px;
      }
      &__head {
        margin-bottom: 24px;
      }
    }
    &-item {
      width: 266px;
    }
  }
  
  // Review
  
  .review {
    flex-direction: column;
  }
  
  // Main contacts
  
  .main-contacts {
    flex-direction: column;
    &-sidebar {
      width: 100%;
      padding-bottom: 32px;
      .title {
        margin-bottom: 25px;
      }
      .head {
        margin-bottom: 20px;
        br {
          display: none;
        }
      }
    }
    &-map {
      height: 350px;
    }
  }
  
  // Footer
  
  .footer {
    &-items {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      margin: 0 48px 20px;
    }
  }
  
  // Bottom
  
  .bottom {
    padding-left: 0;
    padding-right: 0;
  }
  
  // Directory
  
  .directory {
    &-content {
      .catalog-items {
        margin-bottom: 0;
      }
      .catalog-item {
        margin-bottom: 40px;
      }
    }
    .catalog-sidebar {
      width: 290px;
      margin: 0 auto 30px;
      padding-top: 0;
      .title {
        margin-bottom: 22px;
      }
      .head {
        font-size: 26px;
        margin-bottom: 24px;
      }
    }
    &-item {
      width: 266px;
      text-align: left;
      margin-bottom: 26px;
      &__head {
        text-align: center;
      }
    }
  }
  
  // Pagination
  
  .pagination {
    padding-bottom: 5px;
  }
  
  // Cabinet
  
  .cabinet {
    &-nav {
      li {
        width: 50%;
      }
    }
  }
  
  // Contacts
  
  .contacts {
    &-info {
      flex-direction: column;
      &-side {
        width: 100%;
        .title {
          margin-bottom: 15px;
        }
        .head {
          margin-bottom: 32px;
        }
      }
    }
  }
  
  // Ordering
  
  .ordering {
    flex-direction: column;
    &-form {
      padding-right: 0;
    }
    &-input {
      > input, textarea {
        width: 100%;
      }
    }
    &-item {
      &:last-child {
        margin-bottom: 10px;
      }
    }
    &-info {
      margin: 0 auto 40px;
    }
  }
  
  // Basket
  
  .basket {
    &-table {
      overflow-x: scroll;
      table {
        width: 767px;
      }
    }
    &-item {
      flex-direction: column;
      &-side {
        width: 100%;
        padding: 18px 10px 20px;
      }
    }
  }
  
  // Delivery
  
  .delivery {
    flex-direction: column;
    &__head {
      width: 100%;
    }
  }
  
  // Product
  
  .product {
    &-slider {
      width: 370px;
    }
    &-img {
      padding-left: 140px;
    }
    &-nav {
      left: 0;
    }
    &-dots {
      li {
        width: 120px;
        height: 120px;
        margin-bottom: 8px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  
  // Header
  
  .header {
    &-wrap {
      .container {
        padding: 0;
      }
    }
    .info {
      flex-wrap: wrap;
    }
  }
  
  // Options
  
  .options {
    &-form {
      button {
        margin: 0 10px;
      }
    }
    .select2-container {
      width: 100% !important;
    }
  }
  
  // Showcase
  
  .showcase {
    &-slider {
      .slick-dots {
        width: 100%;
        text-align: center;
        li {
          button {
            width: 36px;
            line-height: 36px;
          }
        }
      }
    }
    &-img {
      width: 260px;
    }
    &-content {
      &__head {
        padding: 0 18px;
      }
    }
  }
  
  // Main about
  
  .main-about {
    &-content {
      .head {
        font-size: 24px;
      }
    }
  }
  
  // Review
  
  .review {
    margin-bottom: 100px;
    &-items {
      width: 290px;
      margin: 0 auto;
      .slick {
        &-arrow {
          transform: translate(0);
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 10px;
          margin-left: -35px;
        }
        &-next {
          margin-left: 35px;
        }
      }
    }
    &-item {
      width: 290px;
    }
  }
  
  // Video
  
  .video {
    iframe {
      height: 250px;
    }
  }
  
  // Main contacts
  
  .main-contacts {
    &-map {
      height: 250px;
    }
    &-sidebar {
      .head {
        padding-right: 0;
      }
    }
  }
  
  // Footer
  
  .footer {
    &-items {
      flex-direction: column;
    }
    &-item {
      margin: 0 30px 6px !important;
      text-align: center;
    }
    &-info {
      width: 181px;
      margin: 12px auto 0;
    }
  }
  
  // Bottom
  
  .bottom {
    flex-direction: column;
    text-align: center;
    &-item {
      margin-bottom: 6px;
    }
    &-info {
      justify-content: center;
    }
  }
  
  // About
  
  .about {
    .head {
      font-size: 21px;
      line-height: 1.2;
      span {
        display: inline;
      }
    }
    &-content {
      padding-left: 0;
      padding-right: 0;
    }
    &-img {
      width: auto;
    }
  }
  
  // Directory
  
  .directory {
    &-filter {
      flex-direction: column;
    }
    &-sort {
      flex-direction: column;
      &__text {
        margin-right: 0;
        margin-bottom: 15px;
      }
      .select2-container {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
  
  // Bread
  
  .bread {
    padding-left: 0;
  }
  
  // Pagination
  
  .pagination {
    ul {
      li {
        margin: 0 7px;
      }
    }
  }
  
  // Directory
  
  .directory {
    .catalog {
      &-item {
        width: 260px;
      }
    }
  }
  
  // Cabinet
  
  .cabinet {
    &-nav {
      li {
        width: 100%;
      }
    }
    &-el {
      &-input {
        flex-direction: column;
        span {
          margin-bottom: 10px;
        }
        input {
          width: 100%;
        }
      }
    }
    &-content {
      padding-right: 0;
    }
  }
  
  // Contacts
  
  .contacts {
    &-info {
      &-side {
        .head {
          font-size: 28px;
        }
      }
    }
    &-item {
      flex-wrap: wrap;
      margin-bottom: 32px;
      &-el {
        width: auto !important;
        margin-bottom: 10px;
        margin-right: 25px;
      }
    }
  }
  
  // Ordering
  
  .ordering {
    &__head {
      font-size: 36px;
    }
    &-el {
      width: 100% !important;
      margin: 0 auto 10px !important;
      &-wrap {
        flex-direction: column;
      }
    }
  }
  
  // Basket
  
  .basket {
    &-node {
      label {
        margin-bottom: 12px;
      }
    }
  }
  
  // Payment
  
  .payment {
    &-content {
      .head {
        font-size: 28px;
        margin-bottom: 36px;
        padding-right: 0;
        br {
          display: none;
        }
      }
    }
    &-item {
      &__head {
        font-size: 22px;
      }
    }
    &-sidebar {
      width: 100%;
      &__head {
        font-size: 21px;
      }
    }
  }
  
  // Order
  
  .order {
    &-sidebar {
      width: 100%;
    }
    &-item {
      table tbody td {
        font-size: 15px;
      }
      &__head {
        text-align: center;
      }
    }
  }
  
  // Product
  
  .product {
    padding-top: 0;
    &-slider {
      width: 270px;
    }
    &-img {
      padding-left: 0;
      margin-bottom: 130px;
    }
    &-nav {
      top: 100%;
    }
    &-dots {
      padding-top: 10px;
      display: flex;
      li {
        width: 90px;
        height: 90px;
      }
    }
    &-link {
      flex-wrap: wrap;
      .link {
        margin-right: 8px;
        margin-bottom: 5px;
      }
    }
  }
  
  // Office
  
  .office {
    padding-bottom: 46px;
    &__head {
      font-size: 28px;
    }
    &-items {
      width: auto;
      padding-left: 0;
    }
    &-item {
      flex-direction: column;
      label {
        width: auto;
        margin-bottom: 10px;
      }
      input {
        width: 290px;
      }
    }
    &-info {
      width: 290px;
      margin: 0 auto 30px;
    }
  }
  
  
}














