$gold: #cfab80;

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Raleway', sans-serif;
  color: #000;
}

a {
  display: inline-block;
  vertical-align: top;
  transition: 300ms;
  color: #000;
  font-family: inherit;
  &:hover {
    color: $gold;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

.burger {
  display: none;
}

.link {
  background-color: #406336;
  color: #fff;
  line-height: 50px;
  padding: 0 48px;
  font-weight: 700;
  border-radius: 30px;
  &:hover {
    color: #fff;
    background-color: #1d2f18;
  }
}

.container {
  max-width: 1280px;
  position: relative;
  padding: 0;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.head {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 1.35;
}

// Checkbox

.checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #acacac;
  margin-right: 12px;
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    &:checked + span:before {
      opacity: 1;
    }
  }
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background-color: #406336;
      opacity: 0;
      transition: 300ms;
    }
  }
  &__text {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
  }
}

// Logo

.logo {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 100;
}

// Nav

.nav {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    list-style-type: none;
    padding-right: 12px;
    margin-right: 12px;
    position: relative;
    &:after {
      content: '|';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -11px;
      right: -2px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    a {
      font-size: 14px;
    }
  }
}

// Header

.header {
  padding: 0 56px 14px 240px;
  &-top {
    padding: 14px 27px 14px 0;
  }
  &-cabinet {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      list-style-type: none;
      padding-right: 12px;
      margin-right: 12px;
      position: relative;
      &:after {
        content: '|';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        right: -2px;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      a {
        font-size: 14px;
      }
    }
  }
}

// Header info

.header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    display: flex;
    align-items: center;
    &-img {
      flex-shrink: 0;
      background-color: $gold;
      border-radius: 50%;
      margin-right: 24px;
    }
    &-content {
      display: flex;
      align-items: flex-end;
    }
    &__tel {
      font-size: 24px;
      font-weight: 700;
      margin-right: 20px;
    }
    &__link {
      color: #4d3833;
      font-size: 14px;
      border-bottom: 1px solid #000;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    &__val,
    &__price {
      font-size: 24px;
      font-weight: 700;
      margin-right: 4px;
    }
    &__text {
      margin-right: 5px;
      padding-bottom: 2px;
    }
    &:hover {
      color: #000;
    }
  }
}

// Options

.options {
  padding: 20px 0 20px 240px;
  &-wrap {
    background-color: #4d3833;
  }
  &-form {
    display: flex;
    justify-content: space-between;
    select {
      width: 200px;
      height: 40px;
      background-color: #fff;
      border-radius: 4px;
    }
    button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      width: 80px;
      height: 40px;
      background: $gold url(../images/search.png) no-repeat 50%;
      border-radius: 4px;
      &:hover {
        background-color: #ad895e;
      }
    }
  }
}

// Options select2

.options {
  .select2 {
    &-container {
      &--default {
        .select2 {
          &-selection {
            &--single {
              border: none;
              text-transform: uppercase;
              font-weight: 700;
              font: 700 16px 'Raleway';
              .select2 {
                &-selection {
                  &__rendered {
                    line-height: 40px;
                    color: #4d3833;
                  }
                  &__arrow {
                    height: 100%;
                    b {
                      border-color: $gold transparent transparent transparent;
                      border-width: 10px 6px 0 6px;
                      margin-left: -18px;
                      margin-top: -4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .select2 {
        &-selection {
          &--single {
            height: 100%;
            .select2-selection__rendered {
              padding-left: 18px;
              padding-right: 30px;
            }
          }
        }
      }
    }
  }
}

// Reset select2

.select2 {
  &-search {
    &--dropdown {
      display: none;
    }
  }
  &-container {
    &--default {
      .select2 {
        &-results {
          &__option {
            &--highlighted[aria-selected] {
              background-color: $gold;
            }
          }
          &__option[aria-selected=true] {
            background-color: #e9cca9;
          }
        }
      }
    }
  }
}

// Showcase

.showcase {
  position: relative;
  display: flex;
  padding: 232px 0 196px;
  &-wrap {
    background-color: #b3bf5f;
  }
  &-content {
    width: 540px;
    padding-left: 116px;
    &__head {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 42px;
    }
    &__price {
      font-size: 68px;
      font-weight: 700;
      margin-bottom: 68px;
    }
  }
  &-img {
    width: 687px;
    height: 678px;
    position: absolute;
    top: 33px;
    right: 47px;
  }
}

// Showcase slider

.showcase {
  &-slider {
    margin-bottom: 55px;
    .slick {
      &-arrow {
        cursor: pointer;
        border: none;
        transition: 300ms;
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, 100%) rotate(270deg);
        transform-origin: 18% 100%;
        writing-mode: vertical-lr;
        z-index: 100;
        margin-top: 9px;
        &:focus {
          outline: none !important;
        }
        span {
          margin-right: 23px;
          font-family: 'Raleway';
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
        }
        img {
          position: absolute;
          top: 0;
          right: -13px;
          transition: 300ms;
          flex-shrink: 0;
          transform: rotate(90deg);
        }
        &:hover {
          img {
            right: -18px;
          }
        }
      }
      &-next {
        margin-top: -74px;
        left: auto;
        right: 0;
        transform: translate(70%, -100%) rotate(90deg);
      }
      &-dots {
        position: absolute;
        bottom: 31px;
        left: 50%;
        transform: translate(-50%);
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          display: inline-block;
          vertical-align: middle;
          button {
            width: 44px;
            line-height: 42px;
            transition: 300ms;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            background-color: transparent;
            font-size: 16px;
            font-weight: 700;
            margin: 0 3px;
            &:hover {
              background-color: #fff;
            }
          }
          &.slick-active {
            button {
              background-color: #fff;
              outline: none !important;
            }
          }
        }
      }
    }
  }
}

// Catalog 

.catalog {
  display: flex;
  margin-bottom: 37px;
  &-sidebar {
    flex-shrink: 0;
    width: 220px;
    margin-right: 100px;
    margin-left: 10px;
    .link {
      padding: 0 40px;
    }
  }
}

// Catalog item

.catalog {
  &-items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 10;
  }
  &-item {
    width: 300px;
    margin: 0 20px 49px 0;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-img {
      height: 300px;
      background-color: #d9dfaf;
      margin-bottom: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        .catalog-el {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &-head {
      a {
        color: #0a0a0a;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
        &:hover {
          color: $gold;
        }
      }
    }
    &__text {
      color: #0a0a0a;
      line-height: 1.6;
      margin-bottom: 10px;
    }
    &-node {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__price {
      color: #0a0a0a;
      font-size: 24px;
      font-weight: 700;
    }
    .link {
      padding: 0 20px;
      line-height: 35px;
      font-size: 14px;
    }
  }
}

// Catalog el

.catalog-el {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1e5bb;
  padding: 78px 30px 0;
  text-align: center;
  &-img {
    margin-bottom: 50px;
  }
  .catalog {
    &-item {
      &-head {
        color: #0a0a0a;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      &__price {
        margin-bottom: 10px;
      }
    }
  }
  &__link {
    display: inline-block;
    padding: 0 20px;
    line-height: 35px;
    font-size: 14px;
    background-color: #406336;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
  }
}

// Main about

.main-about {
  position: relative;
  margin: 0 0 89px 10px;
  &-content {
    width: 620px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: #fff;
    padding: 40px 0 38px 78px;
    .title {
      margin-bottom: 21px;
    }
    .head {
      margin-bottom: 22px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(../images/right-arrowBlack-5.png) no-repeat 50%;
        width: 25px;
        height: 14px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: -46px;
      }
    }
    .link {
      padding: 0 33px;
    }
  }
  &__text {
    line-height: 1.5;
    margin-bottom: 36px;
  }
}

// Review

.review {
  display: flex;
  align-items: flex-start;
  margin-bottom: 78px;
  .title {
    margin-bottom: 30px;
  }
  .head {
    margin-bottom: 40px;
  }
  .link {
    padding: 0 46px;
  }
  &-items {
    width: 940px;
    margin: 0 10px 0 auto;
    display: flex;
    position: relative;
  }
  &-item {
    width: 460px;
    margin: 0 10px;
    padding: 62px 24px 33px 38px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    position: relative;
    &:last-child {
      margin-right: 0;
    };
    &:after {
      content: '';
      display: block;
      background: url(../images/review-img.png) no-repeat 50%;
      width: 61px;
      height: 56px;
      position: absolute;
      top: 24px;
      right: 24px;
    }
    &__head {
      padding: 0 0 26px;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0;
    }
    &__text {
      line-height: 1.5;
      margin-bottom: 26px;
    }
    &__date {
      color: #808285;
      font-weight: 700;
    }
  }
}

// Review slick

.review-items {
  .slick {
    &-arrow {
      cursor: pointer;
      border: none;
      background: url(../images/review-prev.png) no-repeat left;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 66px;
      left: -90px;
      z-index: 100;
      &:hover {
        background-position: right;
      }
      &:focus {
        outline: none !important;
      }
    }
    &-next {
      margin-top: 76px;
      background: url(../images/review-next.png) no-repeat left;
    }
  }
}

// Video

.video {
  margin-bottom: 80px;
  iframe {
    border: none;
    width: 100%;
    height: 640px;
  }
}

// Main contacts

.main-contacts {
  display: flex;
  margin-bottom: 84px;
  &-sidebar {
    width: 220px;
    margin-right: 100px;
    margin-left: 10px;
    padding-bottom: 117px;
    flex-shrink: 0;
    .head {
      margin-bottom: 74px;
      padding-right: 40px;
    }
  }
  &-map {
    flex-grow: 10;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &__address {
    line-height: 1.65;
    margin-bottom: 22px;
    span {
      display: block;
    }
  }
  &-tel {
    a {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 4px;
    }
  }
  &-link {
    margin-bottom: 32px;
    a {
      color: #4d3833;
      border-bottom: 1px solid #000;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-mail {
    margin-bottom: 8px;
    a {
      font-weight: 700;
    }
  }
  &-ref {
    a {
      color: #4d3833;
      border-bottom: 1px solid #000;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

// Footer

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-left: 10px;
  &-wrap {
    background-color: #4d3833;
  }
  &-items {
    display: flex;
    padding-top: 28px;
  }
}

// Footer item

.footer-item {
  padding: 0;
  margin: 0;
  margin-right: 60px;
  li {
    list-style-type: none;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #fff;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Footer info

.footer-info {
  margin: -4px 50px 0 146px;
  &__address {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 6px;
    span {
      display: block;
    }
  }
  &-link {
    margin-bottom: 15px;
    a {
      color: #f1e5bb;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-tel {
    position: relative;
    margin-bottom: 6px;
    img {
      background-color: $gold;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: -36px;
      border-radius: 50%;
    }
    a {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      &:hover {
        color: $gold;
      }
    }
  }
}

// Bottom

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 18px 10px;
  &-item {
    color: #f1e5bb;
    font-size: 14px;
  }
  &-info {
    display: flex;
    &__text {
      color: #f1e5bb;
      font-size: 14px;
      margin-right: 4px;
    }
    &__link {
      color: #f1e5bb;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Bread

.bread {
  padding: 18px 0 21px 19px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      color: #4d3833;
      padding-right: 20px;
      margin-right: 10px;
      position: relative;
      &:after {
        content: '>';
        display: block;
        font-size: 16px;
        color: $gold;
        position: absolute;
        top: 50%;
        margin-top: -9.5px;
        right: 0;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a {
        color: $gold;
        border-bottom: 1px solid $gold;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

// About

.about {
  display: flex;
  margin-bottom: 104px;
  .title {
    margin-bottom: 31px;
  }
  .head {
    margin-bottom: 28px;
    span {
      display: block;
    }
  }
  &-content {
    flex-grow: 10;
    padding: 27px 96px 0 21px;
    b, p {
      display: block;
      line-height: 1.55;
      margin-bottom: 26px;
    }
  }
  &-img {
    width: 460px;
    flex-shrink: 0;
  }
}

// Directory sidebar

.directory {
  &-item {
    margin-bottom: 38px;
    margin-left: 3px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
      span {
        font-size: 16px;
        margin-left: -3px;
      }
    }
  }
  &-link {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__reset {
      color: #406336;
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        color: #406336;
      }
    }
  }
  &-el {
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      display: inline-block;
      font-size: 0;
      margin-bottom: 0;
    }
  }
}

// Directory catalog

.directory {
  .catalog {
    &-sidebar {
      width: 240px;
      margin-left: 21px;
      margin-right: 79px;
      padding-top: 28px;
      .head {
        margin-bottom: 69px;
      }
      .link {
        padding: 0 30px;
      }
    }
  }
  &-content {
    .catalog {
      &-items {
        margin-bottom: 25px;
      }
      &-item {
        margin-bottom: 55px;
      }
    }
  }
}

// Directory filter

.directory {
  &-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }
  &-sort {
    display: flex;
    align-items: center;
    margin-top: -4px;
    &__text {
      font-weight: 700;
      margin-right: 22px;
    }
    select {
      border: none;
    }
    .select2 {
      &-container {
        width: auto !important;
        margin-right: 26px;
        &--default {
          .select2 {
            &-selection {
              &--single {
                border: none;
                border-bottom: 1px solid $gold;
                border-radius: 0;
                font-weight: 700;
                .select2-selection__arrow b {
                  border-width: 10px 6px 0 6px;
                  border-color: $gold transparent transparent transparent;
                  margin-top: -3px;
                }
                .select2-selection__rendered {
                  color: $gold;
                }
                .select2-selection__arrow {
                  height: 17px;
                }
              }
            }
          }
        }
        .select2-selection--single {
          height: auto;
          margin-right: 24px;
          .select2-selection__rendered {
            padding-left: 2px;
            padding-right: 2px;
            line-height: inherit;
          }
        }
      }
    }
  }
  &-mode {
    display: flex;
    align-items: center;
    &-item {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Pagination

.pagination {
  justify-content: center;
  padding-bottom: 35px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      &.active {
        a {
          color: #000;
        }
      }
      &.prev,
      &.next {
        a {
          color: #000;
          &:hover {
            color: $gold;
          }
        }
      }
      a {
        color: $gold;
        font-size: 20px;
        font-weight: 700;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

// Cabinet

.cabinet {
  display: flex;
  padding-bottom: 35px;
  &-wrap {
    .head {
      font-size: 42px;
      font-weight: 700;
      margin: 19px 0 24px 20px;
    }
  }
  &-form {
    padding: 0 60px 0 20px;
  }
}

// Cabinet item

.cabinet {
  &-item {
    padding-bottom: 34px;
    margin-bottom: 24px;
    border-bottom: 1px solid $gold;
    &:last-child {
      border: none;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 22px;
    }
    &__text {
      line-height: 1.57;
      font-size: 14px;
      margin-bottom: 25px;
      span {
        display: block;
      }
    }
  }
  &-el {
    display: inline-block;
    vertical-align: top;
    &-input {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        display: inline-block;
        width: 137px;
        color: #b2b2b2;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }
      input {
        width: 310px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #c2c2c2;
        font: 400 16px 'Raleway';
        padding: 0 10px;
      }
    }
  }
  &-content {
    display: inline-block;
    vertical-align: top;
    width: 277px;
    margin-left: 84px;
    padding-top: 11px;
    p {
      font-size: 14px;
      line-height: 1.57;
      margin-bottom: 20px;
    }
    .link {
      padding: 0 38px;
      line-height: 42px;
    }
  }
}

// Cabinet nav

.cabinet-nav {
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #406336;
  border-radius: 30px;
  margin-bottom: 26px;
  li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    &.active {
      a {
        background-color: $gold;
      }
    }
    a {
      border-radius: 30px;
      font-weight: 700;
      width: 215px;
      line-height: 50px;
      color: #fff;
      font-size: 16px;
      &:hover {
        background-color: $gold;
      }
    }
  }
}

// Cabinet info

.cabinet-info {
  flex-shrink: 0;
  align-self: flex-start;
  width: 340px;
  padding: 28px 23px 44px;
  background-color: #f1e5bb;
  &__head {
    font-size: 18px;
    margin-bottom: 7px;
  }
  &__note {
    color: #406336;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 22px;
    margin-bottom: 24px;
    border-bottom: 2px solid #fff;
  }
  &__text {
    margin-bottom: 4px;
  }
  &-link {
    padding-top: 11px;
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style-type: none;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: 700;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

// Cabinet label

.cabinet-label {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    position: relative;
    margin-bottom: 0;
    .checkbox {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 2px;
      left: 1px;
      &__text {
        font-size: 14px;
        padding-left: 28px;
      }
    }
  }
}

// Contacts

.contacts {
  display: flex;
  margin-bottom: 91px;
  &-map {
    width: 460px;
    flex-shrink: 0;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    padding: 0 94px 0 20px;
    &-text {
      line-height: 1.5;
      margin-bottom: 23px;
    }
  }
}

// Contacts info

.contacts {
  &-info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 48px;
    &-side {
      width: 180px;
      flex-shrink: 0;
      .title {
        margin-bottom: 31px;
      }
    }
  }
}

// Contacts item

.contacts {
  &-item {
    margin-bottom: 46px;
    display: flex;
    align-items: flex-end;
    &-img {
      margin-bottom: 15px;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    &__empty {
      font-weight: 700;
      margin-bottom: 8px;
    }
    &-tel {
      margin-bottom: 5px;
      a {
        font-size: 24px;
        font-weight: 700;
      }
    }
    &-link {
      a {
        color: #4d3833;
        border-bottom: 1px solid #000;
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
    &-mail {
      margin-bottom: 4px;
      a {
        font-weight: 700;
      }
    }
    &-el {
      text-align: left;
      width: 212px;
      margin-right: 65px;
      &:last-child {
        width: 145px;
        margin-right: 0;
      }
    }
  }
}

// Ordering

.ordering {
  display: flex;
  &__head {
    font-size: 42px;
    font-weight: 700;
    margin: 22px 0 26px 20px;
  }
  &-form {
    flex-grow: 10;
    padding: 0 60px 0 20px;
  }
  &-block {
    margin-bottom: 20px;
  }
  &-link {
    color: #406336;
    text-decoration: underline;
    margin-top: 5px;
    &:hover {
      color: #406336;
    }
  }
  &-input {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    > input,
    textarea {
      flex-shrink: 0;
      width: 540px;
      height: 50px;
      background-color: #fff;
      border: 1px solid #c2c2c2;
      font: 400 16px 'Raleway';
      color: #000;
      padding: 0 16px;
      margin-right: 30px;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
    textarea {
      height: 150px;
      resize: none;
      padding-top: 16px;
    }
  }
}

// Ordering item

.ordering {
  &-item {
    padding-bottom: 41px;
    margin-bottom: 33px;
    border-bottom: 1px solid $gold;
    &:last-child {
      border: none;
      margin-bottom: 26px;
    }
    &__head {
      color: #949494;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 19px;
      text-transform: uppercase;
    }
  }
}

// Ordering checkbox

.ordering-input-label {
  label {
    margin-bottom: 0;
    position: relative;
  }
  .checkbox {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 0;
    border: 1px solid #959595;
    &__text {
      padding-left: 25px;
      font-size: 14px;
    }
  }
}

// Ordering el

.ordering-el {
  width: 190px;
  line-height: 50px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  text-align: center;
  margin-right: 33px;
  margin-bottom: 20px;
  &:last-child {
    margin-right: 0;
  }
  &:nth-child(4) {
    margin-right: 0;
  }
  &.claim {
    width: 410px;
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  label {
    width: 100%;
    margin: 0;
    input {
      display: none;
      &:checked + span {
        background-color: #406336;
        color: #fff;
      }
    }
    span {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      color: #808285;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: 300ms;
    }
  }
}

// Ordering info

.ordering-info {
  width: 340px;
  flex-shrink: 0;
  align-self: flex-start;
  background-color: #f1e5bb;
  padding: 26px 20px 32px;
  &__head {
    color: #406336;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  table {
    tbody {
      td {
        height: 34px;
        &:first-child {
          width: 215px;
        }
      }
    }
  }
  &__total {
    font-weight: 700;
    font-size: 18px;
    padding: 38px 0 33px;
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      background-color: #fff;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 15px;
      left: 15px;
    }
    &:after {
      left: auto;
      right: 0;
    }
  }
  &-link {
    text-align: center;
    button {
      width: 260px;
      line-height: 50px;
      background-color: #406336;
      border-radius: 30px;
      font-weight: 700;
      color: #fff;
      border: none;
      transition: 300ms;
      cursor: pointer;
      &:hover {
        background-color: #1d2f18;
      }
    }
  }
}

// Basket

.basket {
  padding-bottom: 30px;
  .ordering {
    &-form {
      padding-right: 39px;
    }
  }
  &-img {
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }
  &__head {
    font-size: 17px;
    font-weight: 700;
    color: #0a0a0a;
    margin-bottom: 9px;
  }
  &__text {
    line-height: 1.6;
    padding-right: 50px;
  }
  &-val {
    border: 1px solid #c2c2c2;
    width: 120px;
    display: flex;
    text-align: center;
    margin-top: -3px;
    span {
      cursor: pointer;
      width: 40px;
      font-size: 24px;
      color: #aaa;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input {
      width: 40px;
      height: 40px;
      border: none;
      border-right: 1px solid #c2c2c2;
      border-left: 1px solid #c2c2c2;
      text-align: center;
      font: 700 18px 'Raleway';
    }
  }
  &__price {
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    padding-top: 8px;
  }
  &-arrow {
    cursor: pointer;
    margin: 8px auto 0;
    background: url(../images/basket-arrow.png) no-repeat left;
    width: 24px;
    height: 24px;
    &:hover {
      background-position: right;
    }
  }
}

// Basket table

.basket {
  &-table {
    table {
      thead {
        tr {
          td {
            height: 50px;
            vertical-align: top;
            color: #939598;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            &:first-child {
              width: 170px;
            }
            &:nth-child(2) {
              width: 250px;
            }
            &:nth-child(3) {
              width: 160px;
              padding-left: 14px;
            }
            &:nth-child(4) {
              width: 132px;
            }
            &:nth-child(5) {
              width: 98px;
              padding-left: 12px;
            }
            &:last-child {
              width: 70px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            vertical-align: top;
            padding-bottom: 48px;
          }
        }
      }
    }
  }
}

// Delivery

.delivery {
  display: flex;
  margin-bottom: 58px;
  margin-top: 13px;
  padding-top: 48px;
  border-top: 1px solid $gold;
  &__head {
    flex-shrink: 0;
    width: 140px;
    margin-right: 30px;
    color: #010101;
    font-size: 24px;
    font-weight: 700;
  }
  &-item {
    margin-bottom: 4px;
    label {
      margin: 0;
      position: relative;
      .radio {
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 2px solid #acacac;
        display: inline-block;
        vertical-align: top;
        input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 5;
          cursor: pointer;
          &:checked + span:before {
            opacity: 1;
          }
        }
        span {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background-color: #406336;
            opacity: 0;
            transition: 300ms;
          }
        }
        &__text {
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          padding-left: 36px;
          line-height: 1.6;
          span {
            display: block;
            color: #949494;
          }
        }
      }
    }
  }
}

// Basket item

.basket {
  &-item {
    display: flex;
    margin-bottom: 62px;
    margin-right: 20px;
    &-content {
      background-color: #f1e5bb;
      flex-grow: 10;
      padding: 22px 38px 17px 30px;
    }
    &-side {
      width: 270px;
      flex-shrink: 0;
      background-color: #b3bf5f;
      padding: 52px 42px 42px 40px;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 14px;
    }
    &__note {
      font-size: 14px;
      margin-bottom: 15px;
    }
    &__info {
      font-size: 18px;
      margin-bottom: 20px;
      span {
        font-weight: 700;
      }
    }
    &__val {
      font-size: 24px;
      font-weight: 700;
    }
    &__text {
      line-height: 1.6;
    }
  }
}

// Basket node

.basket-node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    margin-bottom: 0;
    position: relative;
    .checkbox {
      position: absolute;
      top: 2px;
      left: 0;
      &__text {
        padding-left: 25px;
        font-size: 14px;
      }
    }
  }
  &-input {
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #43525a;
    input {
      width: 100%;
      height: 100%;
      border: none;
      text-align: center;
    }
  }
  .link {
    padding: 0 20px;
    line-height: 40px;
  }
}

// Payment

.payment {
  display: flex;
  padding-bottom: 40px;
  &-content {
    flex-grow: 10;
    padding: 27px 146px 0 20px;
    .title {
      margin-bottom: 32px;
    }
    .head {
      padding-right: 36px;
    }
  }
  &-item {
    margin-bottom: 44px;
    &__head {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    &__text {
      margin-bottom: 4px;
      a {
        color: #4d3833;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Payment sidebar

.payment-sidebar {
  align-self: flex-start;
  flex-shrink: 0;
  width: 460px;
  &__text {
    line-height: 1.6;
  }
  &__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }
  &-item {
    margin-bottom: 35px;
    background-color: #e1e5bf;
    padding: 32px 60px 38px 30px;
  }
}

// Order

.order {
  display: flex;
  margin-bottom: 49px;
  &-head {
    font-size: 32px;
    font-weight: 700;
    margin: 25px 0 35px 20px;
    span {
      color: #406336;
    }
  }
  &-content {
    padding-right: 60px;
    padding-left: 20px;
    &__text {
      line-height: 1.6;
      padding-bottom: 49px;
      margin-bottom: 36px;
      border-bottom: 1px solid $gold;
    }
  }
  &-amount {
    font-size: 18px;
    font-weight: 700;
    padding-left: 37px;
    padding-top: 8px;
  }
}

// Order sidebar

.order {
  &-sidebar {
    width: 340px;
    flex-shrink: 0;
    align-self: flex-start;
    background-color: #f1e5bb;
    padding: 26px 12px 26px 16px;
  }
  &-item {
    padding-bottom: 5px;
    margin-bottom: 23px;
    border-bottom: 1px solid #fff;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
    &__head {
      color: #406336;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    &__text {
      margin-top: 12px;
    }
    &__link {
      margin-top: 12px;
    }
    table {
      tbody {
        td {
          vertical-align: top;
          height: 35px;
          line-height: 1.35;
          &:first-child {
            width: 178px;
          }
        }
      }
    }
  }
}

// Order table

.order-content {
  .basket {
    &__text {
      padding-right: 60px;
    }
  }
  .basket-table table {
    thead tr td {
      &:first-child {
        width: 170px;
      }
      &:nth-child(2) {
        width: 263px;
      }
      &:nth-child(3) {
        padding-left: 0;
        width: 165px;
      }
      &:nth-child(4) {
        width: 158px;
      }
      &:last-child {
        width: 97px;
        padding-left: 6px;
      }
    }
  }
}

// Product

.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0 65px;
  margin-bottom: 69px;
  border-bottom: 1px solid $gold;
  &-img {
    padding-left: 228px;
    position: relative;
  }
  &-nav {
    position: absolute;
    top: 0;
    left: 20px;
  }
  &-dots {
    padding: 0;
    margin: 0;
    li {
      cursor: pointer;
      transition: 300ms;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      width: 140px;
      height: 140px;
      margin-bottom: 21px;
      border: 2px solid transparent;
      filter: grayscale(1);
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        filter: grayscale(0);
      }
      &.active {
        border: 2px solid #b3bf5f;
        filter: grayscale(0);
      }
    }
  }
  &-arrows {
    position: relative;
    .slick {
      &-arrow {
        cursor: pointer;
        transition: 300ms;
        border: none;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -24px;
        margin-top: 30px;
        &:focus {
          outline: none;
        }
      }
      &-prev {
        margin-left: 10px;
      }
      &-next {
        margin-left: -37px;
      }
    }
  }
  &-slider {
    width: 522px;
  }
  &-link {
    display: flex;
    justify-content: space-between;
    .link {
      align-self: flex-start;
      line-height: 60px;
      padding: 0 37px;
    }
    &__ref {
      align-self: flex-start;
      line-height: 60px;
      background-color: #d9dfaf;
      font-weight: 700;
      padding: 0 34px;
      border-radius: 30px;
      &:hover {
        background-color: #1d2f18;
        color: #fff;
      }
    }
  }
}

// Product items

.product {
  &-items {
    flex-shrink: 0;
    align-items: flex-start;
    width: 380px;
    margin-top: -8px;
  }
  &-item {
    padding-bottom: 40px;
    margin-bottom: 28px;
    border-bottom: 1px solid $gold;
    &:nth-child(2) {
      padding-bottom: 31px;
      margin-bottom: 40px;
    }
    &:last-child {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &__head {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    &__text {
      line-height: 1.6;
      margin-bottom: 28px;
      b {
        line-height: 1.6;
      }
      span {
        display: block;
      }
    }
    .basket {
      &__price {
        padding-top: 0;
        font-size: 32px;
        font-weight: 700;
      }
      &-val {
        width: auto;
        input {
          width: 60px;
        }
      }
    }
  }
  &-node {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-right: 52px;
  }
}

// Product info

.product-info {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__head {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 42px;
  }
  &__sum {
    color: #b3bf5f;
    font-size: 24px;
    font-weight: 700;
  }
  &-img {
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-more {
    padding-left: 60px;
    p {
      font-size: 14px;
      line-height: 1.55;
      margin-bottom: 3px;
    }
    a {
      font-size: 14px;
      color: #406336;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Addition

.addition {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
  &__head {
    flex-shrink: 0;
    font-size: 32px;
    font-weight: 700;
    width: 220px;
    padding-left: 20px;
  }
  .catalog {
    &-items {
      flex-grow: 0;
    }
  }
}

// Office

.office {
  text-align: center;
  padding: 22px 0 59px;
  &__head {
    font-size: 42px;
    font-weight: 700;
    margin: 0 0 28px 16px;
  }
  &-items {
    width: 480px;
    margin: 0 auto;
    padding-left: 20px;
    button {
      border: none;
      cursor: pointer;
      transition: 300ms;
      height: 40px;
      background-color: #406336;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      padding: 0 36px;
      border-radius: 30px;
      &:hover {
        background-color: #1d2f18;
      }
    }
  }
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    label {
      cursor: pointer;
      width: 142px;
      text-align: left;
      color: #b2b2b2;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      span {
        color: #406336;
      }
    }
    input {
      width: 320px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #c2c2c2;
      font: 400 16px 'Raleway';
      padding: 0 10px;
      color: #000;
      &::-webkit-input-placeholder { 
        color: #000;
      }
      &:-moz-placeholder { 
        color: #000;
      }
      &::-moz-placeholder { 
        color: #000;
      }
      &:-ms-input-placeholder {
        color: #000;
      }
    }
  }
  &-info {
    width: 320px;
    margin: 0 0 40px auto;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__consent {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 0;
      input {
        cursor: pointer;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 1px solid #959595;
      }
      span {
        font-size: 14px;
        padding-left: 10px;
      }
    }
    &__link {
      color: #406336;
      font-size: 16px;
      border-bottom: 1px solid #406336;
      &:hover {
        color: #406336;
        border-bottom: 1px solid transparent;
      }
    }
  }
}







