/* Fonts */
@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Start */
button,
input[type="submit"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none !important;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Graphik LCG', sans-serif;
}

a {
  display: inline-block;
  font: inherit;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 53px;
}

.title a {
  color: #0c97b6;
  border-bottom: 3px solid #0c97b6;
  line-height: 1;
}

.title a:hover {
  border-color: transparent;
}

.link {
  height: 40px;
  background-color: #0c97b6;
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 23px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #ffffff;
}

.link:hover {
  background: #0e7b93;
  color: #ffffff;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding: 0 25px;
  border-radius: 6px;
  border: 1px solid #bababa;
  color: #000;
}

input[type=text]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=color]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: #898989;
}

input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #898989;
}

input[type=text]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=color]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  color: #898989;
}

input[type=text]::-ms-input-placeholder,
input[type=url]::-ms-input-placeholder,
input[type=tel]::-ms-input-placeholder,
input[type=number]::-ms-input-placeholder,
input[type=color]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder {
  color: #898989;
}

input[type=text]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder,
input[type=number]::placeholder,
input[type=color]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder {
  color: #898989;
}

input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=color]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #898989;
}

input.input-error {
  border-color: #e00109;
}

input.input-error::-webkit-input-placeholder {
  color: #e00109;
}

input.input-error::-moz-placeholder {
  color: #e00109;
}

input.input-error:-ms-input-placeholder {
  color: #e00109;
}

input.input-error::-ms-input-placeholder {
  color: #e00109;
}

input.input-error::placeholder {
  color: #e00109;
}

input.input-error::-ms-placeholder {
  color: #e00109;
}

.error-message {
  font-size: 14px;
  color: #e00109;
  margin-top: 4px;
}

.container {
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1336px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .title {
    font-size: 45px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
  .title {
    font-size: 28px;
  }
}

/* Burger */
.burger {
  display: none;
  width: 30px;
}

.burger a {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}

.burger a.active span {
  background: transparent;
}

.burger a.active span:before {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px);
}

.burger a.active span:after {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.burger a span {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before, .burger a span:after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #222;
}

.burger a span:before {
  top: -8px;
}

.burger a span:after {
  top: 8px;
}

/* Header */
.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #d1d1d1;
}

.header-city {
  min-width: 220px;
  height: 40px;
  padding: 0 37px 0 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header-city:hover {
  border-color: #0c97b6;
}

.header-city:hover:after {
  border-color: #0c97b6 transparent transparent transparent;
}

.header-city:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #bababa transparent transparent transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  position: absolute;
  right: 20px;
  top: 15px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav li {
  margin-right: 43px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-nav li a {
  color: #000000;
}

.header-nav li a:hover {
  color: #0c97b6;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #d1d1d1;
}

.header-logo {
  margin-left: 75px;
}

.header-callback {
  position: relative;
}

.header-callback span {
  color: #898989;
  display: block;
}

.header-callback:before {
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url(../images/tel.png);
}

.header-tel {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.header-tel:hover {
  color: #0c97b6;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu li {
  margin-right: 25px;
}

.header-menu li:last-child {
  margin-right: 0;
}

.header-menu li a {
  font-size: 24px;
  font-weight: bold;
  color: #0c97b6;
}

.header-menu li a:hover {
  color: #0e7b93;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 1336px) {
  .header-nav li {
    margin-right: 15px;
  }
  .header-logo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .header-links, .header-menu, .header-callback {
    display: none;
  }
  .header-wrap {
    position: relative;
  }
  .burger {
    display: block;
  }
  .mobile-menu {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    -webkit-transition: 300ms;
    transition: 300ms;
    text-align: center;
    opacity: 0;
    background: #ffffff;
    padding: 25px 15px;
    display: block;
    z-index: 9999;
  }
  .mobile-menu.active {
    left: 0;
    opacity: 1;
  }
  .mobile-menu .header-city {
    margin-bottom: 15px;
  }
  .mobile-menu .header-nav {
    display: block;
  }
  .mobile-menu .header-nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .mobile-menu .header-menu {
    display: block;
    margin-bottom: 20px;
  }
  .mobile-menu .header-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .mobile-menu .header-menu li a {
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  .mobile-menu .header-tel {
    margin-bottom: 20px;
  }
  .mobile-menu .header-lc {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

/* Showcase */
.showcase {
  padding: 80px 0 50px;
  position: relative;
  color: #ffffff;
}

.showcase-wrap {
  background: #0c97b6;
  overflow: hidden;
}

.showcase-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 20px;
}

.showcase-title span {
  display: block;
  font-weight: 400;
  font-size: 0.9em;
}

.showcase-description {
  font-size: 24px;
  font-weight: bold;
  color: #e5d08f;
  margin-bottom: 55px;
}

.showcase-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.showcase-links a {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  border-radius: 30px;
}

.showcase-country {
  background: #ffffff;
  padding: 0 65px 0 35px;
  font-size: 18px;
  margin-right: 15px;
}

.showcase-country:hover {
  background: #e5d08f;
  color: #ffffff;
}

.showcase-condition {
  font-weight: bold;
  background: #e5d08f;
  padding: 3px 45px 0;
}

.showcase-condition:hover {
  background: #cbb97f;
}

.showcase-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showcase-advantage {
  max-width: 174px;
  margin-right: 75px;
}

.showcase-advantage-title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px;
}

.showcase-advantage-text {
  font-size: 18px;
  line-height: 1.5;
}

.showcase-img {
  position: absolute;
  right: -95px;
  top: 85px;
  bottom: 75px;
}

@media only screen and (max-width: 1335px) {
  .showcase-img {
    right: -375px;
  }
}

@media only screen and (max-width: 991px) {
  .showcase {
    padding: 50px 0 30px;
  }
  .showcase-img {
    display: none;
  }
  .showcase-title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    padding: 30px 0;
    text-align: center;
  }
  .showcase-title {
    font-size: 32px;
  }
  .showcase-description {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .showcase-links {
    display: block;
    margin-bottom: 30px;
  }
  .showcase-links a {
    max-width: 360px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px;
  }
  .showcase-country {
    margin-bottom: 15px !important;
    margin-right: 0;
  }
  .showcase-advantages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .showcase-advantage {
    margin: 0 auto 20px;
  }
  .showcase-advantage-title {
    font-size: 32px;
  }
}

/* Choose direction */
.choose-direction {
  padding: 55px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #bababa;
}

.choose-direction-text {
  width: 230px;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.3;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.choose-direction-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.choose-direction-item {
  width: 155px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.choose-direction-item:hover span {
  color: #0c97b6;
}

.choose-direction-item span {
  display: block;
  color: #000000;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.choose-direction-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1335px) {
  .choose-direction-item {
    width: 115px;
  }
}

@media only screen and (max-width: 991px) {
  .choose-direction {
    display: block;
  }
  .choose-direction-text {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .choose-direction {
    padding: 30px 0 10px;
    text-align: center;
  }
  .choose-direction-text {
    font-size: 24px;
  }
  .choose-direction-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .choose-direction-item {
    margin-bottom: 20px;
  }
}

/* Slider */
.slider {
  padding: 65px 0 100px;
}

.slider-title {
  margin-bottom: 50px;
}

.slider-item {
  display: block;
  position: relative;
  background-size: cover;
  background-color: #dbf0f4;
}

.slider-item:hover:before {
  opacity: 1;
  visibility: visible;
}

.slider-item:hover .popular-country {
  text-decoration: underline;
}

.slider-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e5d08f;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
}

.slider-item span {
  display: block;
}

.slider-content {
  padding: 35px 25px 45px;
  position: relative;
}

.slider-region {
  font-size: 16px;
  color: #0c97b6;
  margin-bottom: 20px;
}

.slider-country {
  font-size: 34px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 50px;
}

.slider-info {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000000;
}

.slider-info .label {
  font-size: 16px;
  margin-bottom: 10px;
}

.slider-info .info {
  font-size: 24px;
}

.slider-date {
  margin-right: 43px;
  color: #898989;
}

.slider-tag {
  color: #0c97b6;
}

.slider-link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px;
  position: relative;
  color: #0c97b6;
  font-weight: bold;
}

.slider-link:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #7c7c7c;
}

.slider-link img {
  width: auto !important;
}

.slider .owl-prev,
.slider .owl-next {
  position: absolute;
  top: -110px;
  right: 0;
}

.slider .owl-prev {
  right: 80px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  width: 60px;
  height: 60px;
  background: url(../images/arrow.png) 50% 0% no-repeat;
}

.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
  display: none;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background-position: 50% 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media only screen and (max-width: 1336px) {
  .slider-country {
    font-size: 27px;
  }
}

@media only screen and (max-width: 767px) {
  .slider {
    padding: 30px 0 70px;
  }
  .slider-items {
    max-width: 400px;
    margin: 0 auto;
  }
  .slider-title {
    text-align: center;
  }
  .slider .owl-nav {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .owl-next,
  .owl-prev {
    width: 30px !important;
    height: 30px !important;
    background-size: cover !important;
    position: static !important;
    margin: 0 10px;
  }
}

/* Process */
.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 55px;
}

.process-wrap {
  background: #e5d08f;
}

.process-wrap.white {
  background: #ffffff;
}

.process-title {
  font-size: 42px;
  font-weight: 700;
  max-width: 200px;
  margin-right: 80px;
  line-height: 1.3;
}

.process-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.process-item {
  width: 238px;
  position: relative;
}

.process-item:after {
  content: '';
  display: block;
  position: absolute;
  left: 87px;
  top: 29px;
  width: 116px;
  height: 2px;
  background: url(../images/separator.png);
}

.process-item:last-child:after {
  display: none;
}

.process-number {
  width: 60px;
  height: 60px;
  background: #0c97b6;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 25px;
}

.process-text {
  font-size: 24px;
  max-width: 150px;
}

@media only screen and (max-width: 1335px) {
  .process-item {
    width: 173px;
  }
  .process-item:after {
    display: none;
  }
  .process-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .process {
    display: block;
  }
  .process-title {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .process-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .process {
    padding: 30px 0 10px;
    text-align: center;
  }
  .process-title {
    font-size: 24px;
    margin-right: 0;
  }
  .process-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .process-item {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
  }
  .process-number {
    margin: 0 auto 10px;
  }
  .process-text {
    font-size: 16px;
    max-width: 100%;
  }
}

/* Feedback */
.feedback {
  padding: 90px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback-info {
  width: 40%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.feedback-items {
  width: 50%;
}

.feedback-description {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 50px;
}

.feedback-description b {
  display: block;
}

.feedback .owl-stage {
  padding-bottom: 6px;
}

.feedback-new {
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  border-radius: 120px;
  margin-bottom: 28px;
  width: 340px;
  max-width: 100%;
}

.feedback-rate {
  max-width: 340px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.feedback-item {
  border: 1px solid #bababa;
  padding: 35px;
  position: relative;
}

.feedback-item:after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  right: 4px;
  height: 6px;
  top: 100%;
  border: 1px solid #bababa;
}

.feedback-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 35px;
}

.feedback-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 37px;
}

.feedback-author {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.feedback-region {
  font-size: 18px;
  font-weight: 500;
}

.feedback-text {
  font-style: italic;
  line-height: 1.4;
}

.feedback .owl-nav {
  position: absolute;
  bottom: -93px;
  left: 40px;
}

.feedback .owl-prev {
  margin-right: 15px;
}

.feedback-all {
  margin-top: 50px;
  margin-left: 62%;
  font-weight: 500;
  color: #0c97b6;
}

.feedback-all img {
  margin-left: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.feedback-all:hover {
  color: #0e7b93;
}

.feedback-all:hover img {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

@media only screen and (max-width: 1336px) {
  .feedback-all {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 991px) {
  .feedback-all {
    margin-left: 48%;
  }
  .feedback .owl-nav {
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .feedback {
    display: block;
    padding: 30px 0;
    text-align: center;
  }
  .feedback-info, .feedback-items {
    width: 100%;
  }
  .feedback-info {
    margin-bottom: 30px;
  }
  .feedback-description {
    font-size: 16px;
  }
  .feedback-new {
    text-align: center;
  }
  .feedback-rate {
    font-size: 18px;
    margin: 0 auto;
  }
  .feedback-item {
    padding: 15px;
    text-align: left;
  }
  .feedback-img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  .feedback-author {
    font-size: 18px;
  }
  .feedback-region {
    font-size: 16px;
  }
  .feedback-header {
    margin-bottom: 15px;
  }
  .feedback .owl-nav {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: -40px;
  }
  .feedback-all {
    margin-left: 0;
    text-align: center;
    font-size: 16px;
    margin-top: 56px;
  }
}

/* Callback */
.callback {
  padding: 68px 0 77px;
  color: #ffffff;
  position: relative;
}

.callback-wrap {
  background: #0c97b6;
  overflow: hidden;
}

.callback-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
}

.callback-description {
  font-size: 18px;
  max-width: 610px;
  margin-bottom: 60px;
  line-height: 1.4;
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback-form input {
  width: 380px;
  height: 60px;
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
  max-width: 100%;
  padding: 0 30px;
  font-size: 24px;
  margin-right: 18px;
}

.callback-form button {
  background: #e5d08f;
  width: 220px;
  height: 60px;
  border-radius: 120px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.callback-form button:hover {
  background: #cebb80;
  color: #000000;
}

.callback-img {
  position: absolute;
  right: 0;
  top: -30px;
}

@media only screen and (max-width: 1336px) {
  .callback-img {
    right: -240px;
  }
}

@media only screen and (max-width: 991px) {
  .callback-img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .callback {
    text-align: center;
    padding: 30px 0;
  }
  .callback-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .callback-description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .callback-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .callback-form input {
    margin-right: 0;
    margin-bottom: 10px;
    height: 50px;
    font-size: 16px;
    width: 220px;
  }
  .callback-form button {
    height: 50px;
  }
}

/* Useful */
.useful .slider-country {
  font-size: 24px;
}

.useful .slider-info {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* Footer */
.footer {
  padding: 70px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-wrap {
  background: #dbf0f4;
}

.footer-nav ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  margin-left: 83px;
}

.footer-nav ul li {
  margin-bottom: 15px;
  margin-right: 83px;
}

.footer-nav ul li a {
  font-size: 18px;
  color: #000000;
}

.footer-nav ul li a:hover {
  color: #0c97b6;
}

.footer-tel {
  color: #000000;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 48px;
}

.footer-tel:hover {
  color: #0c97b6;
}

.footer-social span {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social ul li {
  margin-right: 15px;
}

.footer-social ul li:last-child {
  margin-right: 0;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: 14px;
  color: #898989;
}

.bottom a {
  text-decoration: underline;
  color: inherit;
}

.bottom a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1336px) {
  .footer-nav ul {
    margin-left: 30px;
  }
  .footer-nav ul li {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .footer-nav ul {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    display: block;
    text-align: center;
    padding: 30px 0;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-nav {
    margin-bottom: 20px;
  }
  .footer-tel {
    margin-bottom: 15px;
  }
  .footer-social ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bottom {
    display: block;
    text-align: center;
  }
  .bottom .copy {
    margin-bottom: 15px;
  }
}

/* Inner header */
.inner-header {
  background: #0c97b6;
  color: #ffffff;
  padding-bottom: 25px;
}

.inner-header .breadcrumbs li {
  color: #ffffff;
}

.inner-header .title {
  margin-bottom: 30px;
}

.breadcrumbs {
  padding: 15px 0 40px;
}

.breadcrumbs li {
  display: inline;
  color: #898989;
}

.breadcrumbs li:after {
  content: '>';
  display: inline-block;
  margin: 0 9px;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs li a {
  color: inherit;
  text-decoration: underline;
}

.breadcrumbs li a:hover {
  text-decoration: none;
}

.sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort ul li {
  margin-right: 16px;
}

.sort ul li.active a {
  background: #dbf0f4;
  color: #000000;
}

.sort ul li:last-child {
  margin-right: 0;
}

.sort ul li a {
  padding: 7px 15px;
  color: #ffffff;
  border-radius: 50px;
}

.sort ul li a:hover {
  background: #dbf0f4;
  color: #000000;
}

/* Blog */
.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog.article .blog-item {
  padding: 25px 0;
}

.blog.article .blog-sidebar {
  padding-top: 180px;
}

.blog-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  min-width: 0;
}

.blog-item {
  padding: 50px 0;
  border-bottom: 1px solid #bababa;
}

.blog-header {
  padding: 0 82px;
}

.blog-title {
  font-size: 34px;
  font-weight: 400;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog-title:hover {
  color: #0c97b6;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 500;
  margin-bottom: 15px;
}

.blog-date {
  color: #898989;
  margin-right: 45px;
  margin-bottom: 10px;
}

.blog-tag {
  color: #0c97b6;
  font-weight: 500;
  margin-right: 120px;
  margin-bottom: 10px;
}

.blog-tag:hover {
  color: #0e7b93;
}

.blog-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #898989;
  margin-bottom: 10px;
}

.blog-views img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
}

.blog-img {
  margin-bottom: 28px;
  display: block;
}

.blog-img img {
  width: 100%;
}

.blog-text {
  padding: 0 82px;
  line-height: 1.4;
}

.blog-sidebar {
  width: 220px;
  margin-left: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 80px;
}

.blog-slider {
  margin-bottom: 27px;
}

.blog-slider .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.blog-slider .owl-nav button {
  margin: 0 10px;
}

.blog-footer {
  padding: 35px 82px 100px;
}

.blog-tags {
  margin-bottom: 22px;
}

.blog-tags span {
  color: #898989;
}

.blog-tags ul {
  display: inline;
}

.blog-tags li {
  display: inline;
}

.blog-tags li:after {
  content: ',';
  display: inline;
}

.blog-tags li:last-child:after {
  display: none;
}

.blog-tags li a {
  color: #0c97b6;
}

.blog-tags li a:hover {
  color: #0e7b93;
}

.blog-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-social span {
  color: #898989;
}

.blog-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-social ul li {
  margin-left: 20px;
}

.tags {
  margin-bottom: 100px;
}

.tags-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.tags ul li {
  margin-bottom: 25px;
}

.tags ul li a {
  font-size: 18px;
  color: #0c97b6;
  text-decoration: underline;
}

.tags ul li a:hover {
  text-decoration: none;
}

.tags-all {
  font-size: 18px;
  color: #000000;
}

.tags-all:hover {
  color: #0c97b6;
}

.pagination {
  padding: 55px 0 70px;
}

.pagination ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination ul li {
  margin: 0 5px;
}

.pagination ul li.pagination-prev a, .pagination ul li.pagination-next a {
  background: url(../images/arrow.png);
  -webkit-transition: 0ms;
  transition: 0ms;
}

.pagination ul li.pagination-prev a:hover, .pagination ul li.pagination-next a:hover {
  background: url(../images/arrow.png);
  background-position: 50% 100%;
}

.pagination ul li.pagination-prev {
  margin-right: 65px;
}

.pagination ul li.pagination-prev a {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pagination ul li.pagination-next {
  margin-left: 65px;
}

.pagination ul li.active a {
  background: #0c97b6;
  color: #ffffff;
}

.pagination ul li a {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  color: #0c97b6;
}

.pagination ul li a:hover {
  background: #0c97b6;
  color: #ffffff;
}

.articles {
  margin-bottom: 120px;
}

.articles-item {
  margin-bottom: 38px;
}

.articles-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.articles-head {
  font-size: 20px;
  color: #000000;
  line-height: 1.3;
  margin-bottom: 15px;
}

.articles-head:hover {
  color: #0c97b6;
}

.articles-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.articles-date {
  color: #898989;
}

.articles-tag {
  color: #0c97b6;
}

.articles-tag:hover {
  color: #0e7b93;
}

.articles-all {
  font-size: 18px;
  color: #000000;
}

.articles-all:hover {
  color: #0c97b6;
}

@media only screen and (max-width: 1336px) {
  .blog-header, .blog-text {
    padding: 0;
  }
  .blog-footer {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 991px) {
  .blog {
    display: block;
  }
  .blog-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .blog-title {
    font-size: 24px;
  }
  .pagination ul li a {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  .pagination ul li.pagination-next, .pagination ul li.pagination-prev {
    display: none;
  }
}

/* Lending */
.prepare {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.prepare-wrap {
  background: #e5d08f;
}

.prepare-text {
  font-size: 42px;
  font-weight: bold;
  max-width: 715px;
  margin-right: 150px;
  line-height: 1.4;
}

.prepare-link {
  height: 60px;
  padding: 0 30px;
  border-radius: 120px;
  font-size: 18px;
  font-weight: bold;
}

.visa {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visa-content {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

.visa-content p {
  margin-bottom: 15px;
  line-height: 1.4;
}

.visa-link {
  font-size: 16px;
  color: #0c97b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.visa-link img {
  margin-left: 15px;
}

.visa-link:hover {
  color: #0e7b93;
}

.visa-images {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 460px;
  margin-left: 90px;
}

.visa-images img {
  width: 100%;
  margin-bottom: 60px;
}

.visa-images img:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .prepare {
    display: block;
    text-align: center;
    padding: 30px 0;
  }
  .prepare-text {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .visa-images {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .prepare-text {
    font-size: 24px;
  }
  .prepare-link {
    height: 50px;
    font-size: 16px;
  }
  .visa {
    padding: 30px 0;
  }
  .visa-title {
    margin-bottom: 20px;
    text-align: center;
  }
}

/* Feedbacks */
.feedbacks-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedbacks-info {
  max-width: 648px;
  margin-right: 150px;
}

.feedbacks-description {
  font-size: 18px;
  line-height: 1.3;
  max-width: 650px;
}

.feedbacks-description span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.feedbacks-rate {
  width: 340px;
  max-width: 100%;
  text-align: center;
}

.feedbacks-link {
  background: #e5d08f;
  color: #000000;
  font-weight: bold;
  width: 100%;
  border-radius: 120px;
  height: 60px;
  margin-bottom: 25px;
}

.feedbacks-link:hover {
  background: #cfbc83;
  color: #000000;
}

.feedbacks-average {
  font-size: 24px;
  font-weight: bold;
}

.feedbacks-items {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feedbacks .feedback-item {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.feedbacks .feedback-item:after {
  display: none;
}

.feedbacks .feedback-item:nth-child(2n) {
  margin-right: 0;
}

@media only screen and (max-width: 991px) {
  .feedbacks-info {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .feedbacks-header {
    display: block;
    text-align: center;
  }
  .feedbacks-info {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .feedbacks-rate {
    margin: 0 auto;
  }
  .feedbacks .feedback-item {
    width: 100%;
    margin-right: 0 !important;
  }
  .feedbacks-average {
    font-size: 16px;
  }
}

/* Auth */
.auth {
  padding: 65px 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.auth-form {
  width: 40%;
}

.auth-info {
  width: 40%;
}

.auth-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.auth-info-item:last-child {
  margin-bottom: 0;
}

.auth-info-item img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 35px;
}

.auth-info-item span {
  line-height: 1.4;
}

.auth-field {
  margin-bottom: 35px;
}

.auth-field input {
  border-radius: 0;
  height: 60px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.auth-field input:focus {
  border: 1px solid #0c97b6;
}

.auth-field .error-message {
  color: #e00109;
  margin-left: 25px;
  margin-top: 5px;
  display: inline-block;
}

.auth .checkbox-wrap {
  margin-bottom: 40px;
}

.auth-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.auth-social span {
  font-size: 18px;
}

.auth-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth-social ul li {
  margin-left: 20px;
}

.auth-link {
  background: #e5d08f;
  color: #000000;
  font-weight: bold;
  height: 60px;
  padding: 0 37px;
  border-radius: 120px;
}

.auth-link:hover {
  color: #000000;
  background: #d2be82;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #bababa;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

.checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 3;
}

.checkbox input:checked + span {
  opacity: 1;
  visibility: visible;
}

.checkbox span {
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background: #0c97b6;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.checkbox-text {
  color: #898989;
}

.checkbox-text a {
  text-decoration: underline;
  color: inherit;
}

.checkbox-text a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .auth {
    display: block;
  }
  .auth-form, .auth-info {
    width: 100%;
  }
  .auth-form {
    width: 500px;
    margin: 0 auto 50px;
    text-align: center;
    max-width: 100%;
  }
  .auth-field {
    text-align: left;
  }
  .auth .checkbox-wrap {
    text-align: left;
  }
  .auth-social {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .auth {
    padding: 30px 0;
  }
}
