@media only screen and (max-height : 1000px) and (min-width: 769px) {
  .logo {
    width: 100px;
  }
  .logo-link {
    padding: 15px 15px 0px 15px;
  }
  .header-ru {
    width: 40px;
    height: 40px;
    margin: 15px 0;
  }
  .header-ru_elem {
    line-height: 40px;
  }
  .header-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .advan-head {
    margin: 20px 0;
    text-align: center;
    padding-top: 20px;
  }
  .advan {
    padding: 20px 30px;
  }
  .advan-text {
    font-size: 18px;
  }
  .advan-head img {
    width: 75%;
  }
  .advan {
    border: 10px solid #8ca859;
    margin-bottom: -10px;
  }
  .advan-separ {
    height: 10px;
  }
  .advan-list-item {
    margin-bottom: 23px;
  }
  .advan-from__input,
  .advan-form__submit{
    margin-top: 10px;
  }
  .advan-from__input {
    padding: 10px;
  }
  .advan-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .advantages {
    margin-bottom: 20px;
  }
  .advan-list__img {
    width: 80px;
    height: 80px;
  }
  .advan-list__img img {
    margin-top: 14px;
  }
  .advan-list__text {
    line-height: 25px;
  }
  .advan-form {
    padding-left: 50px;
  }
  .advan-form__head {
    font-size: 16px;
  }
  .advan-form__arrow {
    left: 0;
  }
  .advan--form {
    padding-right: 50px;
  }
  body {
    text-align: center;
  }
  .advan-list__text {
    text-align:   left;
  }
  .advantages {
    margin: 10px auto 4%;
  }
  .footer-wrap {
    padding: 15px 0;
  }
  .advan-form__head {
    text-align: left;
  }
  .middle {
    margin-top: -267px;
  }
}

@media only screen and (max-width : 1200px) {
  .container {
    width: 970px;
    margin: 0 auto;
  }
  .advan-list__text {
    max-width: 64%;
  }
  .advan-list__img {
    margin-right: 28px;
  }
  .advan-list {
    padding-right: 50px;
  }
  .advan-list__text {
    font-size: 16px;
  }
  .advan-form__head {
    font-size: 13px;
  }
  .advan-form__submit {
    font-size: 11px;
  }
}

@media only screen and (max-width : 991px) {
  .container {
    width: 750px;
  }
  body {
    height: auto;
  }
  .advan-list {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .advan-form {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-wrap {
    position: static;
  }
  .header-wrap {
    position: static;
  }
  .advantages {
	  display: block;
    margin-top: 0;
  }
  .advan--form {
    width: 50%;
    margin: 0 auto;
  }
  .advan-form__head {
    text-align: center;
    font-size: 18px;
  }
  .advan-form__arrow {
    left: 50px;
  }
  .advan {
    margin: 0 15px;
    width: auto;
  }
  .middle {
    position: static;
    margin-top: 0;
  }
  .logo {
    top: 0;
  }
  .advan-head {
    margin-top: 10px;
  }
}
@media only screen and (max-width : 768px) {
  body {
    border: none;
  }
  .container {
    width: auto;
    padding: 0 15px;
  }
  .header {
    margin-bottom: 10px;
  }
  .logo {
    top: 0;
  }
  .advan-form__arrow {
    display: none;
  }
  .advan--form {
    width: 90%;
    padding: 0;
  }
  .advan-head img {
    max-width: 100%;
  }
  .footer--copy,
  .footer--confident {
    float: none;
    display: inline-block;
    margin: 5px 10px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width : 450px) {
  .advan {
    padding: 10px;
  }
  .advan-form {
    padding: 0;
  }
  .advan-list__text {
    max-width: 53%;
  }
}