* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans';
  color: #000;
  background: #f3f4f4;
  height: 100vh;
  position: relative;
}

a {
  font-family: 'PT Sans';
  color: #000;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: inline-block;
}

*:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.header {
  position: relative;
}

.logo {
  position: absolute;
  top: -8px;
  background: #f3f4f4;
}

.logo-link {
  padding: 23px 30px 0;
}

.header-ru {
  float: right;
  margin: 30px 0;
  background: #8ca859;
  width: 50px;
  height: 50px;
  text-align: center;
}

.header-ru_elem {
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}

.advantages {
  background: url(../images/advan-head-bg.png) repeat;
  margin-bottom: 60px;
}

.advan-head {
  margin: 0 0 60px;
  padding-top: 78px;
}

.advan-head img {
  width: 100%;
}

.middle {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -404px;
  top: 50%;
}

.advan {
  position: relative;
  border: 15px solid #8ca859;
  width: 750px;
  margin: 0 auto;
  padding: 38px 50px;
  margin-bottom: -15px;
}

.advan-list {
  float: left;
}

.advan-text {
  color: #323539;
  line-height: 36px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.advan-text b {
  font-size: 28px;
  font-weight: 700;
}

.advan-separ {
  width: 200px;
  height: 15px;
  background: #f3f4f4;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -100px;
}

.advan-list {
  float: left;
  width: 50%;
  padding-right: 100px;
  padding-left: 30px;
}

.advan-list-item {
  margin-bottom: 63px;
}

.advan-list__img {
  width: 100px;
  height: 100px;
  border: 1px solid #8ca859;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 38px;
  text-align: center;
}

.advan-list__img img {
  margin-top: 23px;
}

.advan-list__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #323539;
  line-height: 28px;
  max-width: 65%;
}

.advan-form {
  float: right;
  padding-left: 100px;
  width: 50%;
  position: relative;
  padding-right: 50px;
}

.advan-form__head {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  margin-top: 10px;
}

.advan-form__arrow {
  position: absolute;
  top: 13px;
  left: 40px;
}

.advan-from__input {
  margin-top: 15px;
  padding: 13px 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  display: block;
  font-size: 18px;
  color: #323539;
  width: 100%;
}

.advan-from__input::-webkit-input-placeholder { 
  color: #323539;
}
.advan-from__input:-moz-placeholder { 
  color: #323539;
}
.advan-from__input::-moz-placeholder { 
  color: #323539;
}
.advan-from__input:-ms-input-placeholder {
  color: #323539;
}

.advan-form__submit {
  padding: 12px 101px 12px 64px;
  background: #8ca859 url(../images/btn-arrow.png) no-repeat 90% center;
  border: none;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
}

.advan-form__submit:hover {
  background: #97b561 url(../images/btn-arrow.png) no-repeat 95% center;
}

.footer-wrap {
  background: #323539;
  color: #fff;
  padding: 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer--confident {
  float: right;
  color: #fff;
}

.footer--copy {
  float: left;
}

.footer--confident:hover {
  color: #fff;
  text-decoration: underline;
}

.header-ru {
  position: relative;
  cursor: pointer;
}

.header-ru:hover .header-ru-drop{
  opacity: 1;
  z-index: 999;
  margin-top: 0;
}

.header-ru-drop {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
  margin-top: 5px;
}

.header-ru-drop--item {
  line-height: 40px;
  border: 1px solid #8ca859;
  width: 40px;
  background: #fff;
  font-weight: bold;
}

.header-ru-drop--item:hover {
  color: #8ca859;
}













