<h2>Кластер:<br></h2><p>Визуальные коммуникации</p>  <h2>Хистори:</h2>  <p>Ресторан с неповторимой по своему колориту
    восточной кухней, представленной взыскательному европейцу – именно таким представлялся нам этот оазис для гурманов,
    объединивший традиции кухонь всего Ближнего востока и Средней Азии. Интерьер заведения выдержан в стиле, присущем
    богатым домам Турции или Ирана времён светского государства второй половины 20-го века. Аутентичность блюд – вне
    всякого сомнения, даже привычный плов и чай здесь играют совсем неожиданными для европейца, приятными пряными
    нотами, секрет воспроизведения которых взят из древних рецептов, передаваемых по наследству. В общем, райские кущи,
    да и только…</p><p><img src="http://appacom.spntm.ru/uploads/image/2a86554c05b2d8313f06c4e58cfcb742.jpg"></p>  <h2>
    Задача:</h2>  <p>Создать бренд, подчёркивающий особенности атмосферы и уровня сервиса, предлагаемого рестораном.
    Название ресторана и фирменный стиль должны отображать богатство и разнообразие кухни востока. Элементы айдентики не
    должны контрастировать с элементами интерьера, наоборот - выгодно дополнять дизайнерские решения. Отобразить в
    основных элементах хитросплетение ингредиентов восточной кухни, рождающее её неповторимый колорит, придерживаясь в
    то же время строгих правил, заданных дизайном интерьера и экстерьера ресторана.</p><p><br></p>  <h2>Решение:</h2>
<p>Название ресторана «Бахча» пришло от тюркского слова, означающего «сад». Мы предложили позиционирование заведения как
    сада гастрономических наслаждений, как через название и элементы фирменного стиля, так и через подачу фирменных блюд
    и напитков.</p><p><img src="http://appacom.spntm.ru/uploads/image/028b6b49ce63cceeca7b263b39d9cf1e.jpg"></p>  <p>
    Основа логотипа - переплетённый орнамент из ветвей и листьев, образующий два полукруга, между которыми располагается
    текстовая часть лого – название ресторана и дескриптор «восточный ресторан». В адаптации фирменного стиля для
    второго одноимённого ресторана сети, открытого в городе-курорте Свияжские Холмы (англоязычная версия названия -
    Sviyaga Hills), использованы дескрипторы «огненная кухня» и англоязычный аналог «flame cuisine» что отразило
    особенность кухни ресторана, где фирменные блюда готовятся в основном на открытом огне или углях. В композиции
    орнаментная и шрифтовая части образуют единый образ круглого плода, который можно трактовать как райское яблоко или
    арбуз (что, в принципе, весьма подходит по смыслу названию ресторана в обоих случаях: что «сад», что «бахча»).</p>
<p>Внешняя граница логотипа напоминает очертания декоративной розетки – прямая отсылка к архитектурным традициям Средней
    Азии. </p><p><img src="http://appacom.spntm.ru/uploads/image/d3e6e60710b02064f760430c20ca7c8b.jpg"></p>  <p>
    Фирменный паттерн как таковой отсутствует, вместо него предложено использовать фоновый рисунок в виде полосатого
    полотна с тонкими полосами серого или бронзового цвета, напоминающий дорогую ткань, популярную в обшивке
    классической мебели на колониальном Востоке. Как дополнительный элемент оформления предложена рамка, в которой
    развита тема графической части логотипа – узор из переплетения листьев, ветвей и плодов.</p><p><img
        src="http://appacom.spntm.ru/uploads/image/ee528d706450747eaa77fe92dac58ad9.jpg"></p>      <h2>Виды работ:</h2>
<ul>
    <li>Нейминг</li>
    <li>Основные константы бренда: логотип и фирменный знак, фирменные цвета и шрифты, правила использования, фирменный
        паттерн.
    </li>
    <li>Элементы идентификации бренда: визитки, документация, блоки меню (+ барная карта и детское меню), брендированные
        столовые аксессуары
    </li>
    <li>Упаковочные материалы: упаковочная бумага, бумажный пакет на вынос, бумажный стакан на вынос, коробка на
        вынос..
    </li>
    <li>Элементы внутренней и внешней навигации: толедо, режимная табличка, штендер, таблички для дверей, номерки для
        гардероба.
    </li>
    <li>Одежда: концепт униформы для сотрудников летних террас.</li>
    <li>Рекламные материалы: рекламный блок для печати А4, промо-буклет.</li>
</ul><p><br></p><p><img src="http://appacom.spntm.ru/uploads/image/85f9019839bebb865078b9e605007ff2.jpg"></p><p><img
        src="http://appacom.spntm.ru/uploads/image/6c5ab1a0041e7a43bfe5605800365a72.jpg"></p><p><br></p>