@media only screen and (max-width: 1360px) {
  .container {
    width: 1170px;
  }
  .logo {
    margin-right: 64px;
  }
  .showcase-item {
    height: 460px;
  }
  .showcase-item__text {
    font-size: 31px;
  }
  .showcase-item__img img {
    height: 90px;
  }
  .showcase-item:hover .showcase-item__link {
    bottom: 40px;
  }
  .showcase-item__link {
    bottom: 20px;
  }
  .links-item__icon {
    width: 104px;
  }
  .links-item__text {
    font-size: 21px;
  }
  .links-item__link {
    left: 128px;
  }
  .main-cat-country img {
    margin-right: 15px;
  }
  .main-cat-price p {
    font-size: 21px;
    margin: 15px 0;
  }
  .main-cat-item {
    height: 275px;
  }
  .company-advan {
    max-width: 640px;
  }
  .company-advan-item:first-child {
    margin-right: 40px;
  }
  .company__caption {
    margin-right: 185px;
  }
  .company__map {
    width: 930px;
  }
  .footer-logo {
    margin-right: 50px;
  }
  .subscribe__text p {
    max-width: 425px;
    font-size: 20px;
  }
  .contacts-item {
    padding-left: 19px;
  }
  .promo-sidebar {
    padding: 40px 30px;
  }
  .partner-item {
    min-height: 320px;
  }
  .header2 .logo {
    margin-right: 38px;
  }
  .catalog-sidebar {
    width: 306px;
  }
  .catalog-showcase {
    width: 73%;
    padding-left: 30px;
  }
  .catalog-elem-info-item {
    margin-right: 9px;
  }
  .catalog-row .catalog-elem-content {
    width: 70%;
  }
  .catalog-row .catalog-elem__cost {
    margin-left: 45px;
  }
  .catalog-row .catalog-elem__amount {
    margin-left: 279px;
  }
  .product-social p {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .slogan {
    display: block;
    margin: 10px 0 0 0;
  }
  .logo {
    text-align: center;
  }
  .press-item {
    height: 460px;
  }
  .header-main,
  .header-sidebar {
    margin-top: 34px;
  }
  .logo {
    margin-right: 39px;
  }
  .showcase-item {
    height: 320px;
  }
  .showcase-item__img {
    margin: 45px 0 30px;
  }
  .showcase-item__text {
    font-size: 26px;
  }
  .showcase-item:hover .showcase-item__link {
    bottom: 24px;
  }
  .showcase-item__link {
    bottom: 4px;
  }
  .links-item__icon {
    width: 83px;
  }
  .links-item__text {
    font-size: 18px;
  }
  .links-item__link {
    left: 108px;
  }
  .head {
    font-size: 32px;
  }
  .main-carousel__caption {
    margin-bottom: 26px;
  }
  .main-carousel .slick-dots {
    left: 210px;
  }
  .main-cat-country {
    text-align: center;
  }
  .main-cat-country img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main-cat-country p {
    max-width: 100%;
  }
  .main-cat-item span {
    font-size: 25px;
  }
  .main-cat-price {
    padding: 20px 20px 0;
  }
  .main-cat-price p {
    font-size: 19px;
  }
  .main-cat-item {
    height: 226px;
  }
  .main-cat-price__link {
    padding: 10px 20px;
  }
  .company__caption {
    margin-right: 47px;
  }
  .company__map {
    width: 830px;
  }
  .press-item__head {
    font-size: 20px;
  }
  .press-item__text {
    font-size: 14px;
  }
  .press-form__head {
    font-size: 20px;
  }
  .footer-logo {
    width: 100%;
    margin: 0 0 25px 0;
  }
  .footer-slogan__text {
    display: inline-block;
  }
  .content h2 {
    font-size: 34px;
  }
  .subscribe__text {
    text-align: center;
    margin-bottom: 20px;
  }
  .subscribe form {
    margin-left: 0;
  }
  .subscribe {
    padding-top: 35px;
  }
  .contacts-item img {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contacts-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
  }
  .branches-item {
    padding: 20px;
  }
  .promo-sidebar {
    width: 30%;
  }
  .promo-content {
    width: 70%;
  }
  .promo-content h2 {
    font-size: 32px;
  }
  .company_promo .company__map {
    width: 775px;
  }
  .ask {
    padding: 0;
  }
  .header-goods-item {
    display: inline-block;
  }
  .header-goods {
    width: 220px;
  }
  .header-goods-item:first-child {
    margin-right: 0;
  }
  .cabinet {
    margin-top: 30px;
  }
  .header-goods {
    top: 82px;
  }
  .catalog-showcase {
    width: 68%;
    padding-left: 30px;
  } 
  .catalog-elem {
    width: 49%;
  }
  .catalog-elem:nth-child(3n) {
    margin-right: 2%;
  }
  .catalog-elem:nth-child(2n) {
    margin-right: 0%;
  }
  .catalog-header {
    padding: 27px;
  }
  .catalog-header-select:nth-child(2n) {
    margin-left: 50px;
  }
  .catalog-row .catalog-elem__head {
    max-width: 100%;
  }
  .catalog-row .catalog-elem__amount {
    margin-left: 92px;
  }
  .catalog-row .catalog-elem__cost {
    margin-left: 0;
    margin-top: 10px;
  }
  .catalog-row .catalog-elem-content {
    width: 61%;
  }
  .catalog-row .catalog-elem__head {
    font-size: 18px;
  }
  .product-social {
    margin-left: 22%;
  }
  .dynamics-diagram {
    margin-right: 55px;
  }
  .dynamics-descr {
    padding: 0 90px;
  }
  .recommend .catalog-elem:nth-child(4n) {
    display: none;
  }
  .recommend .catalog-elem:nth-child(3) {
    margin-right: 0;
  }
  .recommend .catalog-elem:nth-child(2) {
    margin-right: 2%;
  }
  .recommend .catalog-elem {
    width: 32%;
  }
  .cabinet-callback__text b {
    font-size: 16px;
  }
  .order-table__head {
    font-size: 21px;
  }
  .order .order-table2 table td:nth-child(5) {
    width: 14%;
  }
  .order-table table tbody td:nth-child(6) {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .header-main {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .slogan {
    display: inline-block;
    margin-left: 20px;
  }
  .header-sidebar {
    margin-top: 0;
  }
  .showcase-item__text {
    font-size: 23px;
  }
  .links svg {
    height: 40px;
  }
  .links-item__icon {
    width: 54px;
  }
  .links-item__text {
    max-width: 55%;
    font-size: 17px;
  }
  .links-item__link {
    left: 78px;
  }
  .head {
    font-size: 24px;
  }
  .caption {
    font-size: 18px;
  }
  .main-carousel .slick-dots {
    left: 140px;
  }
  .main-cat-item {
    width: 32%;
  }
  .main-cat-item:nth-child(4n) {
    margin-right: 2%;
  }
  .main-cat-item:nth-child(3n) {
    margin-right: 0;
  }
  .main-cat-item {
    height: 241px;
  }
  .deliver__img {
    display: none;
  }
  .deliver-content {
    width: 100%;
  }
  .company-advan {
    margin-top: 30px;
  }
  .press-item__head {
    font-size: 18px;
  }
  .press-item {
    width: 49%;
  }
  .press-item:nth-child(3n) {
    margin-right: 2%;
  }
  .press-item:nth-child(2n) {
    margin-right: 0%;
  }
  .footer-links {
    width: 100%;
    margin-top: 30px;
  }
  .footer-links-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    position: relative;
    z-index: 5;
    margin-bottom: 0;
  }
  .omg {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-left: 112px;
  }
  .press-inner-header,
  .content h2,
  .content p {
    padding-left: 0;
  }
  .press-inner__back {
    margin-left: 0;
  }
  .content {
    width: 60%;
    padding-right: 30px;
  }
  .sidebar {
    width: 40%;
  }
  .banner {
    margin-top: 50px;
  }
  .contacts-item__head {
    font-size: 18px;
  }
  .branches-item {
    width: 49%;
  }
  .branches-item:nth-child(3n) {
    margin-right: 2%;
  }
  .branches-item:nth-child(2n) {
    margin-right: 0%;
  }
  .promo-sidebar {
    width: 35%;
  }
  .promo-content {
    width: 65%;
  }
  .promo-content h2 {
    font-size: 24px;
  }
  .promo-sidebar a {
    font-size: 14px;
  }
  .promo-sidebar li:before {
    top: 7px;
  }
  .promo-sidebar li {
    margin-bottom: 20px;
  }
  .promo-advan__head {
    font-size: 20px;
  }
  .promo-advan__text {
    font-size: 14px;
  }
  .partner-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    min-height: auto;
  }
  .partner-item__link {
    position: relative;
    left: 0;
    top: 0;
  }
  .services-item__icon {
    width: 70px;
    height: 70px;
  }
  .services-item__head {
    font-size: 20px;
  }
  .feedbacks-content__head:before {
    display: none;
  }
  .feedbacks-content {
    padding-left: 20px;
  }
  .feedbacks-carousel {
    padding: 0 80px;
  }
  .company_promo .company__map {
    right: -320px;
  }
  .ask-item__head {
    font-size: 23px;
  }
  .header-goods {
    width: 400px;
  }
  .header-goods-item:first-child {
    margin-right: 17px;
  }
  .header-goods-item {
    display: inline-block;
  }
  .header-goods {
    top: 77px;
  }
  .cabinet {
    margin-top: 21px;
  }
  .catalog-header-sort {
    float: none;
    margin-top: 15px;
  }
  .catalog-showcase {
    width: 59%;
  }
  .catalog-elem {
    width: 100%;
    margin-right: 0!important;
  }
  .wholesale__img {
    display: none;
  }
  .wholesale-content {
    width: 100%;
  }
  .catalog-row .catalog-elem__img {
    width: 100%;
  }
  .catalog-row .catalog-elem-content {
    width: 100%;
  }
  .catalog-row .catalog-elem__head {
    margin-top: 10px;
  }
  .product-info {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .product-order {
    display: block;
    width: 100%;
  }
  .product__head {
    font-size: 24px;
  }
  .product-social {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .dynamics-descr {
    padding: 0 15px;
  }
  .dynamics-diagram {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .dynamics-content {
    text-align: center;
  }
  .recommend .catalog-elem {
    width: 49%;
    margin-right: 2%!important;
  }
  .recommend .catalog-elem:nth-child(2) {
    margin-right: 0!important;
  }
  .recommend .catalog-elem:nth-child(3) {
    display: none;
  }
  .cabinet-table {
    width: 100%;
    margin-right: 0;
  }
  .cabinet-callback {
    width: 280px;
    margin: 30px auto 0;
    display: block;
  }
  .edit-input textarea {
    width: 530px;
    max-width: 100%;
  }
  .order-table table tbody td:nth-child(3) {
    width: 18%;
  }
  .order-table table tbody td:nth-child(1) img {
    max-width: 90%;
  }
  .order-table table tbody td:nth-child(5) {
    width: 14%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .logo {
    width: 100%;
    text-align: center;
    margin-right: 0;
    float: none;
  }
  .header-sidebar {
    width: auto;
    text-align: center;
    float: none;
  }
  .register {
    display: inline-block;
    margin-bottom: 15px;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: #222;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    position: absolute;
    background: #222;
    content: '';
    width: 20px;
    height: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before {
    top: -8px;
    left: 0;
  }
  .burger-wrap a span:after {
    top: 8px;
    left: 0;
  }
  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  .burger-wrap a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .burger-wrap {
    display: block;
  }
  .nav {
    position: relative;
  }
  .nav ul {
    position: absolute;
    top: 100%;
    right: 150%;
    left: -100%;
    background: #e5334c;
    z-index: 50;
    padding: 10px;
    margin-top: 10px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .nav ul.active {
    right: -15px;
    left: -15px;
  }
  .nav__sub {
    display: none;
  }
  .nav__list {
    display: block;
    margin-right: 0;
    padding: 10px 0;
  }
  .nav__link {
    color: #fff;
    font-size: 16px;
  }
  .nav__list:after {
    display: none;
  }
  .callback-rf {
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
  }
  .city ul {
    margin-bottom: 15px;
  }
  .showcase-item {
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
  .links-item-wrap {
    width: 50%;
  }
  .links-item {
    border: none;
  }
  .main-carousel__img {
    display: none;
  }
  .main-carousel-content {
    width: 100%;
  }
  .main-carousel .slick-dots {
    left: 160px;
  }
  .main-cat-country {
    width: 33%;
    margin-bottom: 10px;
  }
  .main-cat-item {
    width: 310px;
    margin: 0 auto 2% auto!important;
    height: auto;
    display: block;
    height: 310px;
  }
  .main-cat-price p {
    font-size: 16px;
  }
  .company__head {
    font-size: 32px;
  }
  .company__map {
    display: none;
  }
  .press-item {
    width: 100%;
    margin-right: 0 !important;
    height: auto;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  .footer-nav {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer-callback {
    text-align: center;
    width: 100%;
  }
  .omg {
    display: inline-block;
    margin-top: 20px;
  }
  .footer-links {
    text-align: center;
  }
  .footer-nav {
    text-align: center;
  }
  .footer-nav ul {
    text-align: left;
  }
  .modal {
    width: 400px;
  }
  .press-page-sort {
    padding: 20px 0;
  }
  .press-page-sort li a {
    font-size: 18px;
  }
  .press-page-sort li:after {
    font-size: 18px;
  }
  .press-page-sort li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .pagination {
    margin-top: 20px;
  }
  .content {
    width: 100%;
    float: none;
    padding-right: 0;
  }
  .sidebar {
    width: 100%;
    float: none;
    padding-bottom: 50px;
    margin-top: 0;
  }
  .subscribe form {
    text-align: center;
  }
  .subscribe form input {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .subscribe__text img {
    margin: 10px;
  }
  .contacts__head,
  .branches__main {
    padding-left: 0;
    font-size: 34px;
  }
  .contacts-item {
    width: 100%;
    text-align: center;
    border: 0;
    padding-bottom: 25px;
    padding-left: 0;
  }
  .contacts-item img {
    margin: 0 auto 10px;
  }
  .contacts__head_sub,
  .contacts > p {
    padding-left: 0;
  }
  .branches-item {
    width: 100%;
    margin-right: 0 !important;
    text-align: center;
  }
  .branches-el {
    width: 100%;
    margin-bottom: 15px;
  }
  .promo__head {
    font-size: 50px;
  }
  .promo-wrap {
    height: 380px;
  }
  .promo__head {
    margin-top: 100px;
  }
  .promo-sidebar {
    float: none;
    width: 100%;
  }
  .promo-content {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .promo-advan-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 100px;
  }
  .promo-advan {
    padding-bottom: 0;
  }
  .services-item {
    width: 100%;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .feedbacks__img {
    display: none;
  }
  .feedbacks-content {
    width: 100%;
    padding: 0;
  }
  .feedbacks-carousel {
    padding: 0 50px;
  }
  .feedbacks .slick-arrow {
    left: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
  }
  .company_promo .company__caption {
    margin-bottom: 30px;
  }
  .answers-items {
    width: 100%;
  }
  .feedbacks .slick-next {
    right: 0;
    left: auto;
  }
  .answers-items {
    margin: 0;
  }
  .answers-items:last-child .answers-item:first-child {
    border-top: 0;
  }
  .answers-items-wrap {
    margin: 30px 0;
  }
  .answers__link,
  .answers__link a {
    font-size: 18px;
  }
  .ask-wrap .banner {
    margin-top: 30px;
  }
  .header-goods {
    position: static;
    width: auto;
    margin: 10px auto;
    text-align: center;
  }
  .header-right {
    float: none;
  }
  .cabinet {
    text-align: center;
    width: 181px;
    position: relative;
    margin: 0 auto 20px;
  }
  .header2 .callback-rf {
    margin-right: 0;
  }
  .nav__link:hover {
    color: #fff;
    text-decoration: underline;
  }
  .catalog__head {
    font-size: 24px;
    padding-left: 0;
  }
  .catalog-header-select:nth-child(2n) {
    margin-left: 0;
    display: block;
    margin-top: 15px;
  }
  .catalog-sidebar {
    display: block;
    float: none;
    margin: 0 auto 20px;
  }
  .catalog-showcase {
    float: none;
    width: 306px;
    margin: 0 auto;
    padding-left: 0;
  }
  .catalog-row .catalog-elem__amount {
    margin-left: 71px;
  }
  .product__img,
  .product-content,
  .product-deliver-item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .product-deliver-item {
    margin-bottom: 40px;
  }
  .recommend .catalog-elem,
  .recommend .catalog-elem:nth-child(2) {
    width: 280px;
    display: block;
    margin: 0 auto 15px!important;
  }
  .recommend__head {
    padding-left: 0;
  }
  .cabinet-nav {
    padding-left: 0;
  }
  .cabinet-nav li a,
  .cabinet-nav li:after {
    font-size: 18px;
  }
  .cabinet-page .pagination {
    padding-left: 0;
    text-align: center;
  }
  .cabinet-table table td:first-child {
    padding-left: 10px;
    padding-right: 5px;
  }
  .cabinet-table table td {
    font-size: 14px;
  }
  .cabinet-header p {
    font-size: 20px;
  }
  .cabinet-header {
    padding-left: 0;
  }
  .cabinet-table2 {
    display: block;
  }
  .cabinet-table2 td {
    display: block;
  }
  .cabinet-table2 table td:nth-child(2n), .cabinet-table2 table td:nth-child(4n) {
    padding-left: 0;
  }
  .edit-input__change {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .edit-input span {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .edit-buttons {
    margin-left: 0;
    text-align: center;
  }
  .edit-buttons button {
    margin: 10px!important;
  }
  .edit-input input, .edit-input textarea, .edit-input select {
    max-width: 100%;
  }
  .edit-ava {
    margin: 10px 0;
  }
  .edit {
    padding: 15px;
  }
  .edit-input__checked {
    margin-left: 0;
  }
  .edit-input__change {
    margin-right: 10px;
  }
  .order-table table td,
  .order-table table, 
  .order-table thead, 
  .order-table tbody,
  .order-table tr {
    display: block!important;
    width: 100%!important;
    text-align: center;
  }
  .order-table table td {
    padding: 10px 0 !important;
    background: #fff;
    border: none!important;
  }
  .order-table tr {
    border-bottom: 1px solid #edf2f6;
  }
  .order-all-table {
    margin-left: 0;
  }
  .order-all__checkbox {
    margin: 8px;
  }
  .order-header {
    padding-left: 0;
  }
  .order2 .order-all-table {
    margin-left: 0;
    width: 362px;
  }
}

@media only screen and (max-width: 450px) {
  .slogan {
    display: block;
    margin: 10px auto 0;
    text-align: center;
  }
  .showcase-item {
    width: 100%;
  }
  .links-item-wrap {
    width: 100%;  
  }
  .main-carousel .slick-dots {
    left: 140px;
  }
  .main-carousel-content {
    padding-right: 0;
  }
  .main-cat-country {
    width: 50%;
  }
  .main-cat-item {
    width: 290px;
    height: 290px;
  }
  .deliver-content {
    padding-right: 0;
  }
  .deliver__link {
    margin-left: 0;
  }
  .company__caption {
    margin-right: 0;
  }
  .company-advan__num {
    display: block;
  }
  .footer-nav ul:first-child {
    margin-right: 0;
  }
  .footer-nav ul {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-links-item {
    margin-bottom: 10px;
    margin-left: 27px;
  }
  .city {
    padding: 25px;
  }
  .modal {
    width: 270px;
  }
  .modal__tab {
    padding: 10px 15px;
  }
  .modal-content {
    padding: 15px;
  }
  .fancybox-close {
    top: 4px;
  }
  .bread li {
    margin-bottom: 4px;
  }
  .content h2 {
    font-size: 27px;
  }
  .press-inner-gallery a {
    width: 49%;
  }
  .press-inner-gallery a:nth-child(3n) {
    margin-right: 2%;
  }
  .press-inner-gallery a:nth-child(2n) {
    margin-right: 0;
  }
  .subscribe form input {
    width: 270px;
  }
  .promo__head {
    font-size: 39px;
  }
  .feedbacks-content__head {
    font-size: 18px;
  }
  .ask-item-content ul {
    padding-left: 10px;
  }
  .ask-item__head {
    font-size: 20px;
  }
  .catalog-sidebar {
    width: 280px;
  }
  .catalog-showcase {
    width: 280px;
  }
  .catalog-buttons__show {
    margin-right: 27px;
  }
  .catalog-item__head {
    font-size: 15px;
  }
  .catalog-header span {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .catalog-row .catalog-elem__like,
  .catalog-row .catalog-elem__card {
    width: 50px;
  }
  .catalog-row .catalog-elem__amount {
    margin-left: 58px;
  }
  .product-social p {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .dynamics-descr,
  .dynamics-content {
    width: 100%;
  }
  .dynamics-content {
    margin-top: 20px;
  }
  .product-deliver-item {
    padding-left: 40px;
  }
  .cabinet-table table td {
    font-size: 12px!important;
    padding: 15px 2px!important;
    width: auto!important;
  }
  .cabinet-table table td:nth-child(4n) {
    width: auto;
    padding-left: 5px;
  }
  .order-all-table,
  .order2 .order-all-table {
    width: 280px;
  }
  .order-all-table td:first-child {
    width: 160px;
  }
}