* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

*:focus {
    outline: none;
}

body {
    font: 400 14px 'Proxima Nova', sans-serif;
    color: #000;
    position: relative;
    min-height: 100vh;
}

a {
    font: 400 14px 'Proxima Nova', sans-serif;
    text-decoration: none;
    -webkit-transition: 300ms;
    transition: 300ms;
    display: inline-block;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a img {
    border: none;
    outline: none;
}

.cf:after {
    display: block;
    content: '';
    clear: both;
}

.container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.caption {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    padding-left: 50px;
    color: #ed344e;
}

.caption:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    width: 40px;
    height: 2px;
    background: #ed344e;
}

.caption_white {
    color: #fff;
}

.caption_white:before {
    background: #fff;
}

.head {
    font-size: 42px;
    font-weight: bold;
    color: #151515;
    line-height: 1.1;
}

.link {
    border: 2px solid #ed344e;
    border-radius: 50px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ed344e;
    padding: 14px 40px 14px 25px;
    position: relative;
}

.link:hover {
    background: #ed344e;
    color: #fff;
}

.link:before {
    content: "\f054";
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 16px;
    right: 18px;
}

.link_white {
    border: 2px solid #fff;
    color: #fff;
}

.link_white:hover {
    background: #fff;
    color: #ed344e;
}

.blue-wrap {
    background: #edf2f6;
}

.radio {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    position: relative;
}

.radio input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}

.radio input:checked + span {
    background: #ed344e;
    border: 1px solid #959595;
}

.radio span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #959595;
    -webkit-transition: 300ms;
    transition: 300ms;
}

/* Header */

.header-main {
    float: left;
}

.header-sidebar {
    float: right;
    text-align: center;
}

.header-right {
    float: right;
    position: relative;
}

.header2 .callback-rf {
    margin-right: 40px;
}

.header2 .logo {
    margin-right: 118px;
}

.cabinet {
    margin-top: 15px;
    color: #000;
}

.cabinet:hover .cabinet-sub {
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
    z-index: 5;
}

.cabinet__link {
    display: inline-block;
    background: #edf2f6;
    padding: 10px 50px 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    color: #000;
}

.cabinet__link:hover {
    background: #dce1e5;
}

.cabinet__link:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5.5px 0 5.5px;
    border-color: #ed344e transparent transparent transparent;
    position: absolute;
    right: 25px;
    top: 15px;
}

.cabinet-sub {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 30px;
    background: #fcecef;
    padding: 10px 15px 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: -1;
}

.cabinet-sub:before {
    content: '';
    display: block;
    width: 100%;
    height: 15px;
    top: -15px;
    position: absolute;
    left: 0;
}

.cabinet-sub:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #fcecef;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 23px;
    top: -6px;
}

.cabinet-sub a {
    color: #000;
    margin-bottom: 10px;
}

.cabinet-sub a:hover {
    text-decoration: underline;
}

.header-goods {
    position: absolute;
    top: 67px;
    right: 0;
    width: 400px;
    text-align: right;
}

.header-goods-item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 12px 0 0 20px;
    position: relative;
    color: #000;
}

.header-goods-item:hover {
    color: #ed344e;
}

.header-goods-item:first-child {
    margin-right: 17px;
}

.header-goods-item img {
    position: absolute;
    left: 0;
    top: 0;
}

.header-goods__num {
    display: inline-block;
    vertical-align: middle;
    font-size: 34px;
    line-height: 1;
    margin-right: 3px;
}

.header-goods__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
}

.logo {
    float: left;
    padding: 15px 0;
    margin-right: 145px;
}

.logo a {
    display: inline-block;
    vertical-align: top;
}

.slogan {
    display: inline-block;
    vertical-align: top;
    margin: 30px 0 0 30px;
    width: 160px;
    text-align: center;
    color: #252525;
}

.slogan__head {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.slogan__text {
    line-height: 1.3;
}

.nav {
    margin: 22px 0 25px;
    font-size: 0;
}

.nav__list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    position: relative;
}

.nav__list:after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #000;
    position: absolute;
    right: -13px;
    top: 4px;
}

.nav__list:last-child {
    margin-right: 0;
}

.nav__list:last-child:after {
    display: none;
}

.nav__list:hover .nav__sub {
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
    z-index: 10;
}

.nav__link {
    font-size: 14px;
    color: #000;
}

.nav__link:hover {
    color: #ed344e;
}

.nav__sub {
    position: absolute;
    top: 100%;
    width: 150px;
    margin-top: 30px;
    background: #fcecef;
    padding: 10px 15px 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: -1;
}

.nav__sub:before {
    content: '';
    display: block;
    width: 100%;
    height: 15px;
    top: -15px;
    position: absolute;
    left: 0;
}

.nav__sub:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #fcecef;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 18px;
    top: -6px;
}

.nav__sub a {
    color: #000;
    margin-bottom: 10px;
}

.nav__sub a:hover {
    text-decoration: underline;
}

.burger-wrap {
    display: none;
}

.callback {
    display: inline-block;
    vertical-align: top;
}

.callback-rf {
    display: inline-block;
    vertical-align: top;
    margin-right: 120px;
}

.callback-rf__label {
    display: block;
    margin-bottom: 5px;
    line-height: 17px;
}

.callback-rf__tel {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.callback__click {
    margin-bottom: 5px;
}

.callback__tel {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: none;
}

.callback__tel.active {
    display: block;
}

.callback__main {
    margin-right: 30px;
    position: relative;
    color: #000;
}

.callback__main:hover {
    color: #ed344e;
}

.callback__main:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #ed344e transparent transparent transparent;
    position: absolute;
    right: -20px;
    top: 5px;
}

.callback__select {
    color: #858585;
    border-bottom: 1px solid #e4e4e4;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer;
}

.callback__select:hover {
    border-bottom: 1px solid transparent;
}

.register {
    background: rgba(241, 93, 113, 0.8);
    margin: 13px 0 35px;
    padding: 11px 28px;
    border-radius: 50px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.register:hover {
    background: #f15d71;
}

.register a {
    color: #fff;
}

.register a:hover {
    text-decoration: underline;
}

.register a:first-child {
    margin-right: 25px;
    position: relative;
}

.register a:first-child:after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    top: 4px;
    right: -14px;
    position: absolute;
    background: #fff;
}

.social {
    font-size: 0;
}

.social a {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    opacity: .7;
    -webkit-transition: 300ms;
    transition: 300ms;
    margin: 0 7px;
}

.social a:hover {
    opacity: 1;
}

/* Showcase */

.showcase {
    font-size: 0;
}

.showcase-item {
    width: 25%;
    height: 580px;
    background-size: cover;
    background-position: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.showcase-item:hover .showcase-item__hover {
    opacity: .8;
}

.showcase-item:hover .showcase-item__link {
    bottom: 88px;
    opacity: 1;
}

.showcase-item__img {
    margin: 145px 0 30px;
    display: inline-block;
    position: relative;
    z-index: 5;
}

.showcase-item__img img {
    height: 119px;
}

.showcase-item__text {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    position: relative;
    z-index: 5;
    display: block;
}

.showcase-item__link {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    z-index: 5;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.showcase-item__hover {
    background-color: #ed344e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
}

/* Links */

.links {
    font-size: 0;
}

.links-wrap {
    background: #edf2f6;
}

.links svg {
    height: 60px;
    width: auto;
    text-align: right;
}

.links svg .st0 {
    -webkit-transition: 300ms;
    transition: 300ms;
    fill: #000 !important;
}

.links svg .st1 {
    fill: #CC3F50;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.links-item-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 15px 0;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.links-item-wrap:last-child .links-item {
    border: none !important;
}

.links-item-wrap:hover {
    margin-top: -20px;
    padding-bottom: 35px;
    background: #f36f0d;
}

.links-item-wrap:hover .links-item__text {
    color: #fff;
}

.links-item-wrap:hover .st0,
.links-item-wrap:hover .st1 {
    fill: #fff !important;
}

.links-item-wrap:hover .links-item__link {
    opacity: 1;
}

.links-item-wrap:hover .links-item {
    border-right: 1px solid transparent;
}

.links-item-wrap_pink:hover {
    background: #ed344e;
}

.links-item {
    font-size: 14px;
    padding: 15px 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    position: relative;
    border-right: 1px solid #bbcedd;
}

.links-item__icon {
    width: 123px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.links-item__text {
    display: inline-block;
    vertical-align: middle;
    color: #151515;
    font-size: 24px;
    font-weight: bold;
    max-width: 44%;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.links-item__link {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border-bottom: 1px solid #f69b6b;
    position: absolute;
    opacity: 0;
    bottom: -15px;
    left: 147px;
}

.links-item__link:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: -15px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.links-item__link:hover {
    border-bottom: 1px solid transparent;
}

/* Main carousel */

.main-carousel {
    padding: 50px 0;
    position: relative;
}

.main-carousel-item {
    font-size: 0;
}

.main-carousel-content {
    font-size: 14px;
    width: 42%;
    padding-right: 78px;
    display: inline-block;
    vertical-align: top;
}

.main-carousel__img {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 58%;
}

.main-carousel__caption {
    margin-bottom: 45px;
}

.main-carousel__head {
    margin-bottom: 20px;
}

.main-carousel__text {
    font-size: 16px;
    line-height: 1.4;
    color: #151515;
    margin-bottom: 30px;
}

.main-carousel .slick-dots {
    position: absolute;
    top: 53px;
    left: 300px;
    width: 150px;
    text-align: right;
}

.main-carousel .slick-dots button {
    display: none;
}

.main-carousel .slick-dots li {
    width: 14px;
    height: 14px;
    background-color: #dce8f1;
    border-radius: 50%;
    margin-left: 15px;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer;
    display: inline-block;
}

.main-carousel .slick-dots li:hover,
.main-carousel .slick-dots li.slick-active {
    background: #ed344e;
}

/* Main-cat */

.main-cat {
    padding: 35px 0 20px;
}

.main-cat-wrap {
    background: #fcecef;
}

.main-cat__head {
    margin: 25px 0 18px;
    font-size: 42px;
    font-weight: bold;
}

.main-cat-counries {
    font-size: 0;
    margin-bottom: 35px;
}

.main-cat-country {
    display: inline-block;
    font-size: 16px;
    width: 16.6%;
    vertical-align: top;
}

.main-cat-country img {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.main-cat-country p {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
}

.main-cat-items {
    font-size: 0;
}

.main-cat-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;
    height: 300px;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.main-cat-item span {
    padding: 25px 0 0 30px;
    font-size: 34px;
    font-weight: bold;
    color: #151515;
    display: inline-block;
    -webkit-transition: 300ms;
    transition: 300ms;
    position: absolute;
    left: 0;
    top: 0;
}

.main-cat-item:hover span {
    color: #ed344e;
}

.main-cat-item:nth-child(4n) {
    margin-right: 0;
}

.main-cat-price {
    background: url(../images/flow.jpg) center no-repeat;
    background-size: cover;
    padding: 38px 35px 0 35px;
    color: #fff;
    font-size: 14px;
    height: 100%;
}

.main-cat-price img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 13px;
}

.main-cat-price__size {
    display: inline-block;
    vertical-align: bottom;
}

.main-cat-price p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    margin: 30px 0 15px;
}

.main-cat-price__link {
    background-color: #acae17;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    padding: 15px 35px;
    border-radius: 50px;
}

.main-cat-price__link:hover {
    background: #979916;
}

/* Deliver */

.deliver {
    padding: 50px 0;
    font-size: 0;
}

.deliver-content {
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 42%;
    padding-right: 30px;
}

.deliver__img {
    width: 58%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.deliver ul {
    margin-top: 30px;
    margin-bottom: 15px;
}

.deliver li {
    padding-left: 55px;
    position: relative;
    font-size: 20px;
    color: #151515;
    margin-bottom: 25px;
}

.deliver li:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: #ed344e;
    position: absolute;
    left: 0;
    top: 8px;
}

.deliver__link {
    margin-left: 55px;
}

/* Company */

.company {
    padding: 45px 0 65px;
    position: relative;
    z-index: 5;
}

.company-wrap {
    background-image: -webkit-linear-gradient(142deg, #f4858e 0%, #ed344e 100%);
    background-image: linear-gradient(-52deg, #f4858e 0%, #ed344e 100%);
    overflow: hidden;
}

.company__map {
    position: absolute;
    right: -100px;
    top: 180px;
    width: 1060px;
}

.company__caption {
    display: inline-block;
    vertical-align: top;
    margin-right: 245px;
}

.company-advan {
    display: inline-block;
    vertical-align: top;
    max-width: 760px;
}

.company-advan-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}

.company-advan-item:first-child {
    margin-right: 100px;
}

.company-advan__num {
    color: #ffcd47;
    font-size: 62px;
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    line-height: 1;
}

.company-advan__text {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.7;
    display: inline-block;
    vertical-align: middle;
}

.company__head {
    font-size: 42px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 50px;
}

.company-content {
    max-width: 310px;
    color: #fff;
}

.company-content p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.2;
}

.company-content a {
    margin-top: 15px;
}

/* Press */

.press {
    padding: 35px 0 15px;
}

.press-wrap {
    background: #edf2f6;
}

.press__caption {
    margin-bottom: 30px;
}

.press__caption span {
    font-size: 16px;
    color: #000;
    display: inline-block;
    margin: 0 3px;
}

.press__caption a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #afb2b5;
}

.press__caption a:hover {
    border-bottom: 1px solid transparent;
}

.press-items {
    font-size: 0;
}

.press-item {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    height: 520px;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #fff;
    position: relative;
}

.press-item:nth-child(3n) {
    margin-right: 0;
}

.press-item_form {
    background: url(../images/press.jpg) no-repeat center;
    background-size: cover;
    border: 8px solid #f36f0d;
    padding: 30px;
}

.press-item__img {
    position: relative;
}

.press-item__img img {
    vertical-align: bottom;
}

.press-item__img:hover .press-item__hover {
    opacity: 1;
}

.press-item__hover {
    background: rgba(59, 25, 28, 0.8);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: 0;
}

.press-item-content {
    padding: 20px;
    color: #151515;
}

.press-item__head {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 25px;
    color: #151515;
    font-weight: bold;
}

.press-item__head:hover {
    color: #ed344e;
}

.press-item__text {
    font-size: 16px;
    line-height: 1.3;
}

.press-item__text p {
    font-size: 16px;
    line-height: 1.3;
}

.press-item__tag {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #6d6e71;
    background: #ffcd47;
    padding: 7px 11px;
    font-weight: bold;
}

.press-item__tag:hover {
    color: #ed344e;
}

.press-item__time {
    position: absolute;
    right: 20px;
    bottom: 26px;
    color: #6d6e71;
    font-weight: bold;
}

.press-form__head {
    color: #fff;
    font-size: 24px;
    line-height: 1.3;
    margin: 20px 0 30px;
}

.press-form span {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.press-form input {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #464646;
    font: 400 18px 'Proxima Nova';
    color: #151515;
    padding: 0 15px;
    margin: 17px 0 20px;
}

.press-form input::-webkit-input-placeholder {
    color: #151515;
}

.press-form input:-moz-placeholder {
    color: #151515;
}

.press-form input::-moz-placeholder {
    color: #151515;
}

.press-form input:-ms-input-placeholder {
    color: #151515;
}

.press-form button {
    background-color: #ed344e;
    text-transform: uppercase;
    font: 700 14px/45px 'Proxima Nova';
    color: #fff;
    padding: 0 22px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    margin-bottom: 37px;
}

.press-form button:hover {
    background: #d63249;
}

.press-form__polite {
    color: #fff;
    border-bottom: 1px solid #c3c46e;
}

.press-form__polite:hover {
    border-bottom: 1px solid transparent;
}

/* Footer */

.footer {
    padding: 33px 0;
}

.footer-wrap {
    background: #3b191c;
    overflow: hidden;
}

.footer-logo {
    float: left;
    text-align: center;
    margin-right: 140px;
}

.footer-logo img {
    margin-bottom: 10px;
}

.footer-slogan {
    color: #fff;
}

.footer-slogan__head {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 1.3;
}

.footer-slogan__text {
    width: 160px;
    color: #fff;
    line-height: 1.5;
}

.footer-nav {
    float: left;
    margin-right: 104px;
}

.footer-nav ul {
    display: inline-block;
    vertical-align: top;
}

.footer-nav ul:first-child {
    margin-right: 90px;
}

.footer-nav a {
    font-size: 16px;
    margin-bottom: 13px;
    color: #fff;
}

.footer-nav a:hover {
    color: #ffcd47;
}

.footer-nav li:last-child a {
    margin-bottom: 0;
}

.footer-callback {
    float: left;
    color: #fff;
}

.footer-callback__main {
    position: relative;
    font-size: 16px;
    line-height: 1.4;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.footer-callback__main:hover {
    color: #ffcd47;
}

.footer-callback__main:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #ffcd47 transparent transparent transparent;
    position: absolute;
    right: -19px;
    top: 7px;
}

.footer-callback-item {
    display: none;
}

.footer-callback-item.active {
    display: block;
}

.footer-callback__tel {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.footer-callback__address {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.footer-callback__link {
    margin-bottom: 17px;
    color: #ffcd47;
    border-bottom: 1px solid #855d2c;
    font-size: 16px;
}

.footer-callback__link:hover {
    border-bottom: 1px solid transparent;
}

.footer-social a {
    display: inline-block;
    margin-right: 14px;
    opacity: .7;
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer-social a:hover {
    opacity: 1;
}

.footer-links {
    float: right;
    width: 196px;
}

.footer-links-item {
    position: relative;
    margin-bottom: 33px;
}

.footer-links-item:before {
    content: '';
    display: block;
    background: url(../images/footer-pdf.png) no-repeat center;
    width: 20px;
    height: 28px;
    position: absolute;
    top: -3px;
    left: -38px;
}

.footer-links-item a {
    font-size: 16px;
    color: #ffcd47;
    border-bottom: 1px solid #855d2c;
}

.footer-links-item a:hover {
    border-bottom: 1px solid transparent;
}

.footer-links-item span {
    display: block;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    margin-top: 7px;
}

.omg {
    margin-top: 15px;
    position: relative;
}

.omg p {
    width: 140px;
    display: inline-block;
    color: #fff;
    line-height: 1.2;
}

.omg p a {
    border-bottom: 1px solid transparent;
    color: #ffcd47;
}

.omg p a:hover {
    border-bottom: 1px solid #855d2c;
}

.omg:before {
    content: '';
    display: block;
    background: url(../images/dragon.png) no-repeat 50%;
    width: 85px;
    height: 101px;
    position: absolute;
    left: -88px;
    top: -5px;
}

.footer-stick {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Bottom */

.bottom {
    padding: 17px 0;
    text-align: center;
    color: #683d41;
}

.bottom-wrap {
    background: #1f0709;
}

/* Modals */

.city {
    background: #fff;
    padding: 25px 80px;
    position: relative;
    display: none;
}

.city__close {
    width: 70px;
    height: 70px;
    background: url(../images/close.png);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: .8;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.city__close:hover {
    opacity: 1;
}

.city__head {
    font-size: 24px;
    font-weight: bold;
    color: #ed344e;
    margin-bottom: 30px;
}

.city ul {
    width: 230px;
    display: inline-block;
    vertical-align: top;
}

.city li {
    margin-bottom: 18px;
    font-size: 16px;
}

.city li:last-child {
    margin-bottom: 0;
}

.city li a {
    border-bottom: 1px solid #bebebe;
    display: inline-block;
    color: #121212;
}

.city li a:hover {
    border-bottom: 1px solid transparent;
}

.fancybox-overlay {
    background: rgba(59, 25, 28, 0.8);
}

.fancybox-opened .fancybox-skin {
    background: none !important;
    box-shadow: none;
    border-radius: 0;
}

.modal {
    width: 424px;
    display: none;
}

.modal-tabs {
    font-size: 0;
}

.modal__tab {
    padding: 17px 25px;
    background: #ed344e;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.modal__tab.active {
    background: #edf2f6;
    color: #ed344e;
}

.modal-content {
    padding: 30px 45px;
    background: #edf2f6;
}

.modal__input {
    margin-bottom: 20px;
}

.modal__input input {
    border: 1px solid #e1e1e1;
    height: 50px;
    width: 100%;
    background: #fff;
    padding: 0 17px;
    font: 400 16px 'Proxima Nova';
    color: #000;
}

.modal__input input::-webkit-input-placeholder {
    color: #000;
}

.modal__input input:-moz-placeholder {
    color: #000;
}

.modal__input input::-moz-placeholder {
    color: #000;
}

.modal__input input:-ms-input-placeholder {
    color: #000;
}

.modal-radio-wrap {
    margin-bottom: 20px;
    padding-left: 12px;
}

.modal-radio-wrap p {
    color: #000;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
    font-size: 16px;
}

.modal-radio-wrap label {
    margin-right: 50px;
    font-size: 16px;
    cursor: pointer;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.modal__radio {
    margin-right: 13px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    position: relative;
}

.modal__radio input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}

.modal__radio input:checked + span {
    background: #ed344e;
    border: 1px solid #959595;
}

.modal__radio span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #959595;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.modal__button {
    margin-top: 8px;
    text-align: center;
}

.modal__button button {
    font: 700 14px 'Proxima Nova';
    text-transform: uppercase;
    color: #fff;
    background: #ed344e;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer;
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
}

.modal__button button:hover {
    background: #ce3046;
}

.modal__forgot {
    color: #ed344e;
    margin-top: 30px;
    margin-left: 17px;
    font-size: 16px;
    border-bottom: 1px solid #eabac2;
}

.modal__forgot:hover {
    border-bottom: 1px solid transparent;
}

.error {
    border: 1px solid #ed344e !important;
    color: #ed344e !important;
}

.error::-webkit-input-placeholder {
    color: #ed344e !important;
}

.error:-moz-placeholder {
    color: #ed344e !important;
}

.error::-moz-placeholder {
    color: #ed344e !important;
}

.error:-ms-input-placeholder {
    color: #ed344e !important;
}

.fancybox-close {
    width: 26px;
    height: 26px;
    background: url(../images/modal-close.png);
    right: 13px;
    top: 13px;
}

/* Bread */

.bread {
    padding-top: 18px;
}

.bread li {
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

.bread li:after {
    content: '>';
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
}

.bread li:last-child:after {
    display: none;
}

.bread a {
    color: #000;
    border-bottom: 1px solid #c5c9cc;
}

.bread a:hover {
    border-bottom: 1px solid transparent;
}

/* Press page */

.press-page {
    padding-bottom: 45px;
}

.press-page-sort {
    padding: 30px 0 30px 120px;
}

.press-page-sort li {
    display: inline-block;
}

.press-page-sort li a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    border-bottom: 1px solid #c5c9cc;
}

.press-page-sort li a:hover {
    border-bottom: 1px solid transparent;
}

.press-page-sort li.active a {
    color: #ed344e;
    border-bottom: 1px solid transparent;
}

.press-page-sort li:after {
    content: '/';
    display: inline-block;
    font-size: 24px;
    margin: 0 8px;
    color: #000;
    font-weight: bold;
}

.press-page-sort li:last-child:after {
    display: none;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin-right: 3px;
}

.pagination li a {
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #c5c9cc;
    font-weight: bold;
    line-height: 1;
}

.pagination li a:hover {
    border-bottom: 1px solid transparent;
}

.pagination li:first-child a,
.pagination li:last-child a,
.pagination li.active a {
    border-bottom: 1px solid transparent;
}

.pagination li.active a {
    color: #ed344e;
}

.pagination li:after {
    content: '/';
    display: inline-block;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-left: 5px;
}

.pagination li:last-child:after,
.pagination li:first-child:after,
.pagination li:nth-last-child(2):after {
    display: none;
}

/* Press inner */

.content {
    float: left;
    padding-right: 60px;
    width: 71%;
}

.content h2 {
    padding-left: 115px;
    font-size: 42px;
    font-weight: bold;
    color: #0e0d0d;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content > img {
    margin-bottom: 25px;
}

.content p {
    font-size: 16px;
    line-height: 1.3;
    color: #151515;
    margin-bottom: 25px;
    padding-left: 115px;
}

.press-inner {
    padding: 30px 0 40px;
}

.press-inner-header {
    padding-left: 115px;
    margin-bottom: 15px;
}

.press-inner__tag {
    display: inline-block;
    vertical-align: middle;
    background: #ffcd47;
    color: #6d6e71;
    font-weight: bold;
    padding: 7px 17px;
    margin-right: 35px;
}

.press-inner__tag:hover {
    color: #ed344e;
}

.press-inner__time {
    color: #6d6e71;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.press-inner-gallery {
    margin-bottom: 15px;
    font-size: 0;
}

.press-inner-gallery a {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.press-inner-gallery a:nth-child(3n) {
    margin-right: 0;
}

.press-inner__back {
    margin-left: 115px;
    color: #000;
    border-bottom: 1px solid #c5c9cc;
    line-height: 1;
}

.press-inner__back:hover {
    border-bottom: 1px solid transparent;
}

.sidebar {
    margin-top: 90px;
    width: 29%;
    float: right;
}

.banner {
    margin-top: 110px;
}

.another {
    border-top: 1px solid #e1e1e1;
    padding-bottom: 20px;
}

.another__caption {
    margin: 35px 0;
}

/* Subscribe */

.subscribe {
    padding: 48px 0 35px;
    text-align: center;
}

.subscribe-wrap {
    background: #acae17;
}

.subscribe__text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.subscribe__text img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.subscribe__text p {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 1.4;
    max-width: 544px;
}

.subscribe form {
    margin-left: 45px;
    display: inline-block;
    vertical-align: middle;
}

.subscribe form input {
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #464646;
    color: #151515;
    font: 400 18px 'Proxima Nova';
    padding: 0 17px;
    margin-right: 38px;
}

.subscribe form input::-webkit-input-placeholder {
    color: #151515;
}

.subscribe form input:-moz-placeholder {
    color: #151515;
}

.subscribe form input::-moz-placeholder {
    color: #151515;
}

.subscribe form input:-ms-input-placeholder {
    color: #151515;
}

.subscribe form button {
    font: 700 14px 'Proxima Nova';
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    background: #e7344e;
    padding: 18px 36px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.subscribe form button:hover {
    background: #d23149;
}

/* Contacts */

.contacts {
    padding: 30px 0;
}

.contacts__head {
    padding-left: 115px;
    color: #ed344e;
    font-weight: bold;
    font-size: 42px;
}

.contacts-header {
    font-size: 0;
    background: #fff;
    padding: 15px 0;
    margin: 25px 0;
}

.contacts-item {
    font-size: 14px;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0 20px 33px;
    border-right: 1px solid #bbcedd;
}

.contacts-item:last-child {
    border-right: 0;
    padding-left: 0;
    text-align: center;
}

.contacts-item img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.contacts-item-content {
    display: inline-block;
    vertical-align: middle;
}

.contacts-item__head {
    color: #151515;
    font-weight: bold;
    display: block;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 6px;
}

.contacts-item__text {
    font-size: 16px;
    font-weight: bold;
    color: #151515;
}

.contacts-item__link {
    font-size: 16px;
    color: #ed344e;
    border-bottom: 1px solid #f8c3c8;
}

.contacts-item__link:hover {
    border-bottom: 1px solid transparent;
}

.contacts-item__question {
    background: #ed344e;
    border-radius: 50px;
    padding: 15px 22px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.contacts-item__question:hover {
    background: #d73048;
}

.contacts__head_sub {
    font-size: 24px;
    color: #151515;
    margin-bottom: 25px;
    line-height: 1.2;
    padding-left: 115px;
}

.contacts > p {
    padding-left: 115px;
    font-size: 16px;
    color: #151515;
    margin-bottom: 25px;
    line-height: 1.3;
}

.map {
    margin-bottom: 48px;
    height: 460px;
}

.map iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.branches {
    border-top: 1px solid #e1e1e1;
    font-size: 0;
}

.branches__main {
    color: #ed344e;
    padding: 33px 0 33px 115px;
    font-size: 42px;
    font-weight: bold;
}

.branches-item {
    font-size: 14px;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: #fff;
    padding: 30px;
}

.branches-item:nth-child(3n) {
    margin-right: 0;
}

.branches__head {
    font-size: 28px;
    color: #151515;
    font-weight: bold;
    margin-bottom: 28px;
}

.branches img {
    height: 36px;
    margin-bottom: 15px;
}

.branches__text {
    font-weight: bold;
    color: #151515;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    line-height: 1;
}

.branches__link {
    font-size: 16px;
    color: #ed344e;
    line-height: 1;
    border-bottom: 1px solid #f8c3c8;
}

.branches__link:hover {
    border-bottom: 1px solid transparent;
}

.branches-el {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

.subscribe_red {
    background: #e7344e;
}

.subscribe_red form button {
    background: #ffcd47;
    color: #e7344e;
    font-weight: bold;
}

.subscribe_red form button:hover {
    background: #eec046;
}

/* Promo */

.promo-wrap {
    height: 520px;
    background: url(../images/promo.jpg) no-repeat center;
    background-size: cover;
}

.promo-wrap .bread li {
    color: #fff;
}

.promo-wrap .bread a {
    color: #fff;
    border-bottom: 1px solid #ba9ba0;
}

.promo-wrap .bread a:hover {
    border-bottom: 1px solid transparent;
}

.promo__head {
    font-size: 68px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3;
    margin-top: 200px;
}

/* Promo content */

.promo-content {
    float: left;
    width: 75%;
    padding-right: 40px;
    padding-top: 45px;
    color: #151515;
}

.promo-content h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
}

.promo-content p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.promo-sidebar {
    float: right;
    width: 25%;
    background: #acae17;
    padding: 40px 45px;
}

.promo-sidebar li {
    margin-bottom: 35px;
    padding-left: 20px;
    position: relative;
}

.promo-sidebar li:before {
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 9px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.promo-sidebar li:last-child {
    margin-bottom: 0;
}

.promo-sidebar li:hover:before {
    background: #000;
}

.promo-sidebar li:hover a {
    border-bottom: 1px solid transparent;
    color: #000;
}

.promo-sidebar a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #cecf8d;
}

/* Promo advan */

.promo-advan {
    font-size: 0;
    padding: 100px 0 48px;
}

.promo-advan .st0 {
    -webkit-transition: 300ms;
    transition: 300ms;
    fill: #000 !important;
}

.promo-advan .st1 {
    fill: #CC3F50;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.promo-advan-item {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    border: 5px solid #d2e1ed;
    padding: 0 25px 25px;
}

.promo-advan-item:last-child {
    margin-right: 0;
}

.promo-advan__icon {
    height: 100px;
    width: 155px;
    display: block;
    margin: -55px auto 40px;
    text-align: center;
}

.promo-advan__icon svg {
    max-height: 100%;
    max-width: 100%;
    background: #fff;
}

.promo-advan__head {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.promo-advan__text {
    line-height: 1.3;
}

/* Partner */

.partner {
    padding: 50px 0;
}

.partner-wrap {
    background: #ffcd47;
}

.partner__head {
    margin: 35px 0 15px;
}

.partner__text {
    max-width: 750px;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 25px;
}

.partner-items {
    font-size: 0;
}

.partner-item {
    width: 32%;
    margin-right: 2%;
    font-size: 16px;
    background: #fff;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
    min-height: 280px;
    position: relative;
}

.partner-item:last-child {
    margin-right: 0;
}

.partner-item__num {
    font-size: 42px;
    font-weight: bold;
    color: #ed344e;
    display: inline-block;
    vertical-align: top;
    padding: 12px 20px 0 12px;
    position: relative;
    z-index: 5;
}

.partner-item__num:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #ffcd47 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.partner-item__head {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
    max-width: 60%;
    display: inline-block;
    vertical-align: top;
}

.partner-item__text {
    margin: 30px 0;
    font-size: 16px;
    line-height: 1.3;
}

.partner-item__link {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

/* Services */

.services__caption {
    margin: 40px 0 30px;
}

.services__head {
    max-width: 610px;
    margin-bottom: 30px;
}

.services-items {
    font-size: 0;
}

.services-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 70px 40px 0;
    font-size: 14px;
}

.services-item__icon {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.services-item__icon svg {
    max-width: 100%;
    max-height: 100%;
}

.services-item__icon svg .st0 {
    -webkit-transition: 300ms;
    transition: 300ms;
    fill: #000 !important;
}

.services-item__icon svg .st1 {
    fill: #CC3F50;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.services-item__head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.services-item__text {
    line-height: 1.4;
}

/* Feedbacks */

.feedbacks {
    padding: 45px 0 50px;
}

.feedbacks-wrap {
    background: #fcecef;
}

.feedbacks-carousel {
    position: relative;
    padding: 0 115px;
}

.feedbacks__caption {
    margin-bottom: 35px;
}

.feedbacks .slick-arrow {
    position: absolute;
    left: 28px;
    top: 50%;
    margin-top: -25px;
    width: 51px;
    height: 50px;
    background: url(../images/feedback-arrows.png) no-repeat left center;
    cursor: pointer;
    border: none;
    opacity: .8;
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: 50;
}

.feedbacks .slick-arrow:hover {
    opacity: 1;
}

.feedbacks .slick-next {
    left: auto;
    right: 28px;
    background-position: right;
}

.feedbacks-item {
    font-size: 0;
}

.feedbacks__img {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: center;
}

.feedbacks__img img {
    display: inline-block;
}

.feedbacks-content {
    font-size: 14px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding: 20px 15px 0 85px;
}

.feedbacks-content__head {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    margin-bottom: 35px;
}

.feedbacks-content__head:before {
    content: '';
    background: url(../images/quotes.png) no-repeat;
    width: 63px;
    height: 47px;
    display: block;
    position: absolute;
    top: 0;
    left: -85px;
}

.feedbacks-content__text {
    line-height: 1.4;
    margin-bottom: 30px;
}

.feedbacks-content__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.feedbacks-content__author {
    font-size: 16px;
}

.company_promo .company__caption {
    margin-bottom: 80px;
}

.company_promo .company-content p {
    margin-bottom: 45px;
}

.company_promo .company__map {
    top: 24px;
    width: 1035px;
}

/* Answers */

.answers {
    padding: 48px 0 34px;
}

.answers-wrap {
    background: #edf2f6;
}

.answers-items {
    margin: 30px 0;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
}

.answers-items-wrap {
    font-size: 0;
}

.answers-item {
    margin: 0 23px;
    padding: 20px;
    border-bottom: 1px solid #9cb9d1;
    position: relative;
}

.answers-item:first-child {
    border-top: 1px solid #9cb9d1;
}

.answers-item:hover {
    background: #fff;
}

.answers-item:hover .answers-item__icon {
    border: 2px solid #ed344e;
}

.answers-item:hover .answers-item__icon:after {
    color: #ed344e;
}

.answers-item__text {
    max-width: 90%;
    color: #000;
    font-size: 16px;
    display: block;
}

.answers-item__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    border-radius: 50%;
    height: 26px;
    border: 2px solid #9cb9d1;
    text-align: center;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.answers-item__icon:after {
    content: "\f078";
    font: normal normal normal 13px/23px FontAwesome;
    color: #9cb9d1;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.answers__link {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #010101;
}

.answers__link a {
    color: #ed344e;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ebbac2;
    line-height: 1;
}

.answers__link a:hover {
    border-bottom: 1px solid transparent;
}

/* Ask */

.ask {
    padding: 0 50px 0 80px;
}

.ask-wrap {
    padding: 30px 0 65px;
}

.ask-wrap .sidebar {
    margin-top: 0;
}

.ask-item {
    border-bottom: 1px solid #9cb9d1;
    padding: 20px;
    position: relative;
    -webkit-transition: background 300ms;
    transition: background 300ms;
}

.ask-item:hover,
.ask-item.active {
    background: #fff;
}

.ask-item.active .ask-item__icon {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 2px solid #ed344e;
}

.ask-item.active .ask-item__icon:after {
    color: #ed344e;
}

.ask-item-header {
    cursor: pointer;
}

.ask-item:first-child {
    border-top: 1px solid #9cb9d1;
}

.ask-item-content {
    display: none;
}

.ask-item-content ul {
    padding-left: 35px;
    padding-top: 15px;
}

.ask-item-content li {
    margin-bottom: 15px;
}

.ask-item-content li a {
    color: #151515;
    font-size: 18px;
    border-bottom: 1px solid #b3b3b3;
    line-height: 1;
}

.ask-item-content li a:hover {
    border-bottom: 1px solid transparent;
}

.ask-item__head {
    color: #0e0d0d;
    font-size: 28px;
    display: block;
    font-weight: bold;
    max-width: 90%;
}

.ask-item__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    border: 2px solid #9cb9d1;
    border-radius: 50%;
    -webkit-transition: 300ms;
    transition: 300ms;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.ask-item__icon:after {
    content: "\f078";
    font: normal normal normal 13px/23px FontAwesome;
    color: #9cb9d1;
    -webkit-transition: 300ms;
    transition: 300ms;
}

/* Ask inner */

.ask-wrap .sidebar {
    margin-top: 0;
}

.ask-wrap .banner {
    margin-top: 0;
}

/* Catalog */

.catalog__head {
    color: #ed344e;
    padding: 30px 0 30px 115px;
    font-size: 42px;
    font-weight: bold;
}

.catalog-header {
    background: #fff;
    font-size: 0;
    padding: 27px 60px 27px 40px;
}

.catalog-header-select {
    display: inline-block;
    vertical-align: middle;
}

.catalog-header span {
    color: #151515;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.catalog-header select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    color: #393939;
    font: 400 14px 'Proxima Nova';
    border: none;
    padding: 13px 40px 13px 17px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background: #dce8f1 url(../images/select.png) no-repeat 90% 50%;
}

.catalog-header-select:nth-child(2n) {
    margin-left: 60px;
}

.catalog-header-select:nth-child(2n) select {
    background-position: 70% 50%;
}

.catalog-header-sort {
    float: right;
    margin-top: 4px;
}

.catalog-header-sort a {
    display: inline-block;
    vertical-align: middle;
}

.catalog-header-sort a:last-child {
    margin-left: 13px;
}

.catalog-sidebar {
    width: 24%;
    float: left;
    border: 2px solid #a4c5e0;
    padding: 0px 15px 30px;
}

.catalog-clearfix {
    padding: 40px 0 35px;
}

.catalog-row {
    padding-top: 15px;
    border-bottom: 1px solid #a4c5e0;
}

.catalog-item.active .catalog-item__head {
    border-bottom: 1px solid transparent;
}

.catalog-item.active .catalog-item__head:hover {
    border-bottom: 1px solid #bcc0c3;
}

.catalog-item__head {
    font-size: 16px;
    font-weight: bold;
    color: #151515;
    text-transform: uppercase;
    border-bottom: 1px solid #bcc0c3;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.catalog-item__head:hover {
    border-bottom: 1px solid transparent;
}

.catalog-item-content {
    display: none;
}

.catalog-item-content.active {
    display: block;
}

.catalog-item-content ul {
    padding-left: 15px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.catalog-item-content ul li {
    margin-bottom: 7px;
}

.catalog-item-content ul li a {
    font-size: 16px;
    color: #151515;
}

.catalog-item-content ul li a:hover {
    color: #ed344e;
}

.catalog-radio-wrap {
    margin-bottom: 15px;
}

.catalog-radio-wrap label {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.catalog__radio {
    margin-right: 15px;
}

.catalog-input-wrap {
    margin-bottom: 15px;
}

.catalog__input {
    display: inline-block;
    vertical-align: middle;
}

.catalog__input:first-child {
    margin-right: 15px;
}

.catalog__input span {
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #000;
}

.catalog__input input {
    width: 65px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #ed344e;
    background: none;
    margin: 0 3px 0 5px;
    padding-left: 3px;
    font: bold 20px 'Proxima Nova';
}

.catalog .ui-slider {
    margin-bottom: 15px;
    height: 8px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.catalog .ui-slider-range {
    background-color: #fa788b;
    height: 8px;
    position: absolute;
}

.catalog .ui-slider-handle {
    width: 16px;
    height: 16px;
    background-color: #e7344e;
    border-radius: 50%;
    margin-left: -8px;
    margin-top: -4px;
    position: absolute;
    cursor: pointer;
}

.catalog-colors {
    font-size: 0;
}

.catalog-colors i {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid #959595;
    border-radius: 50%;
    background: #000;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 9px;
    cursor: pointer;
}

.catalog-colors i.red {
    background: #e7344e;
}

.catalog-colors i.pink {
    background: #ec008c;
}

.catalog-colors i.green {
    background: #39b54a;
}

.catalog-colors i.fiol {
    background: #6b1fa2;
}

.catalog-colors i.brown {
    background: #a0410d;
}

.catalog-colors i.blue {
    background: #0054a6;
}

.catalog-colors i.black {
    background: #1f0709;
}

.catalog-buttons {
    margin-top: 20px;
}

.catalog-buttons button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    font: 800 16px 'Proxima Nova';
    text-transform: uppercase;
}

.catalog-buttons__show {
    background: #e7344e;
    border-radius: 50px;
    color: #fff;
    padding: 15px 20px;
    margin-right: 33px;
    border: none;
}

.catalog-buttons__show:hover {
    background: #ce3047;
}

.catalog-buttons__reset {
    color: #86b0d3;
    line-height: 1;
    border: none;
    border-bottom: 1px solid #cadbe9;
    background: none;
}

.catalog-buttons__reset:hover {
    border-bottom: 1px solid transparent;
}

.catalog-showcase {
    width: 76%;
    float: right;
    padding-left: 40px;
}

.catalog-elems {
    font-size: 0;
    margin-bottom: 10px;
}

.catalog-elem {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    background: #fff;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 15px;
    position: relative;
}

.catalog-elem:nth-child(3n) {
    margin-right: 0;
}

.catalog-elem__head {
    color: #151515;
    font-weight: bold;
    font-size: 18px;
    max-width: 70%;
    line-height: 1.2;
    height: 42px;
    overflow: hidden;
}

.catalog-elem__head:hover {
    color: #ed344e;
}

.catalog-elem__img {
    height: 260px;
    text-align: center;
}

.catalog-elem__img:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.catalog-elem__img a {
    display: inline-block;
    vertical-align: middle;
    max-width: 97%;
}

.catalog-elem__like {
    background: #e7344e url(../images/like.png) no-repeat center;
    width: 60px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.catalog-elem__like:hover {
    background-color: #d02e46;
}

.catalog-elem-info-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 21px;
    font-size: 14px;
}

.catalog-elem-info-item span {
    display: block;
    color: #6b6b6b;
}

.catalog-elem-info-item p {
    color: #151515;
    margin-top: 3px;
}

.catalog-elem__is {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    background: #acae17;
    padding: 6px 11px;
    border-radius: 50px;
}

.catalog-elem__cost {
    font-size: 24px;
    font-weight: bold;
    color: #151515;
    margin: 15px 0;
}

.catalog-elem__cost span {
    color: #767676;
    font-size: 14px;
    font-weight: 400;
}

.catalog-elem__amount {
    border: 1px solid #b1d0e9;
    border-radius: 50px;
    display: inline-block;
    font-size: 0;
    padding: 0 3px;
}

.catalog-elem__amount span {
    font-size: 14px;
    width: 33px;
    height: 40px;
    cursor: pointer;
}

.catalog-elem__minus {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/minus.png) no-repeat center;
}

.catalog-elem__plus {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/plus.png) no-repeat center;
}

.catalog-elem__val {
    width: 60px;
    height: 40px;
    border: none;
    background: none;
    border-right: 1px solid #b1d0e9;
    border-left: 1px solid #b1d0e9;
    display: inline-block;
    vertical-align: middle;
    font: 700 24px 'Proxima Nova';
    color: #151515;
    text-align: center;
}

.catalog-elem__card {
    background: #e7344e url(../images/card.png) no-repeat center;
    width: 60px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.catalog-elem__card:hover {
    background-color: #d02e46;
}

.catalog-row .catalog-elem {
    margin-right: 0 !important;
    width: 100%;
}

.catalog-row .catalog-elem__img {
    height: auto;
    width: 230px;
    display: inline-block;
    vertical-align: middle;
}

.catalog-row .catalog-elem__img:before {
    display: none;
}

.catalog-row .catalog-elem__img img {
    max-height: 158px;
}

.catalog-row .catalog-elem__head {
    font-size: 24px;
    height: auto;
    margin-bottom: 10px;
}

.catalog-row .catalog-elem-content {
    display: inline-block;
    vertical-align: middle;
    width: 73%;
    position: relative;
}

.catalog-row .catalog-elem-info {
    display: inline-block;
    vertical-align: bottom;
}

.catalog-row .catalog-elem__cost {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 115px;
}

.catalog-row .catalog-elem__like {
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
}

.catalog-row .catalog-elem__card {
    right: auto;
    top: auto;
    right: 0;
    bottom: 0;
}

.catalog-row .catalog-elem-footer {
    margin-top: 18px;
}

.catalog-row .catalog-elem__amount {
    margin-left: 377px;
}

/* Wholesale */

.wholesale {
    font-size: 0;
}

.wholesale-wrap {
    background: #ffcd47;
}

.wholesale__img {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    width: 25%;
}

.wholesale__img img {
    vertical-align: bottom;
    max-width: 90%;
}

.wholesale-content {
    display: inline-block;
    vertical-align: bottom;
    width: 75%;
    font-size: 14px;
    color: #000;
    padding-bottom: 10px;
}

.wholesale__head {
    margin: 40px 0 27px;
}

.wholesale__descr {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 1.2;
}

.wholesale__text {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 25px;
}

/* Product */

.product {
    background: #fff;
    padding: 15px;
}

.product-wrap {
    padding-top: 30px;
}

.product__img {
    display: inline-block;
    vertical-align: top;
    width: 42%;
    text-align: center;
}

.product-content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 54%;
}

.product__head {
    font-size: 34px;
    font-weight: bold;
    color: #151515;
    max-width: 80%;
    line-height: 1.1;
}

.product-header {
    margin-bottom: 30px;
}

.product-middle {
    font-size: 0;
}

.product-info {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.product-info table {
    border-collapse: collapse;
}

.product-info table td {
    font-size: 16px;
    color: #151515;
    padding-bottom: 18px;
}

.product-info table td:first-child {
    width: 110px;
    color: #6b6b6b;
}

.product-order {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: relative;
    font-size: 14px;
}

.product__is {
    color: #fff;
    padding: 7px 11px;
    border-radius: 50px;
    background: #acae17;
    display: inline-block;
    margin-bottom: 58px;
}

.product__cost {
    font-size: 24px;
    font-weight: bold;
    color: #151515;
    margin-bottom: 8px;
}

.product__descr {
    color: #808285;
    display: block;
    margin-bottom: 20px;
}

.product .catalog-elem__card {
    right: 0;
    bottom: 0;
}

.product .catalog-elem__like {
    right: 0;
    top: 0;
}

.product-social {
    margin-left: 50%;
    display: inline-block;
    margin-top: 51px;
}

.product-social p {
    display: inline-block;
    vertical-align: middle;
    color: #808285;
    margin-right: 40px;
}

.product-social a {
    display: inline-block;
    vertical-align: middle;
    opacity: .4;
    margin-right: 8px;
}

.product-social a:last-child {
    margin-right: 0;
}

.product-social a:hover {
    opacity: 1;
}

.product-deliver {
    padding: 40px 0;
    font-size: 0;
    border-bottom: 1px solid #e1e1e1;
}

.product-deliver-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    padding: 60px 0 0 80px;
    position: relative;
    z-index: 5;
}

.product-deliver-item > img {
    position: absolute;
    top: 0;
    left: 35px;
    z-index: -1;
}

.product-deliver__head {
    color: #000;
    margin-bottom: 13px;
}

.product-deliver__caption {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-deliver ul {
    margin-bottom: 20px;
}

.product-deliver li {
    padding: 0 0 20px 37px;
    position: relative;
    font-size: 16px;
}

.product-deliver li:before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #ed7386;
    position: absolute;
    left: 0;
    top: 6px;
}

.dynamics {
    background: #dbe6ee;
    padding: 25px 0;
    color: #151515;
}

.dynamics-descr {
    display: inline-block;
    vertical-align: middle;
    width: 42%;
    padding: 0 79px 0 200px;
}

.dynamics__head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.dynamics__text {
    line-height: 1.3;
}

.dynamics-content {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
}

.dynamics-diagram {
    display: inline-block;
    vertical-align: middle;
    margin-right: 102px;
}

.dynamics-average {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.dynamics-average__text {
    font-size: 16px;
    margin-bottom: 10px;
}

.dynamics-average-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.dynamics-average-item:nth-child(2) {
    font-size: 34px;
    font-weight: bold;
    margin: 0 15px;
}

/* Recommend */

.recommend {
    padding-bottom: 20px;
}

.recommend__head {
    padding: 30px 0 30px 115px;
    color: #ed344e;
}

.recommend .catalog-elem {
    width: 23.5%;
}

.recommend .catalog-elem:nth-child(3n) {
    margin-right: 2%;
}

.recommend .catalog-elem:nth-child(4n) {
    margin-right: 0%;
}

/* Cabinet */

.cabinet-page {
    padding-bottom: 68px;
}

.cabinet-page .pagination {
    text-align: left;
    padding-left: 75px;
}

.cabinet-nav {
    font-size: 0;
    padding: 25px 0 40px 75px;
}

.cabinet-nav li {
    display: inline-block;
}

.cabinet-nav li a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    border-bottom: 1px solid #c5c9cc;
}

.cabinet-nav li a:hover {
    border-bottom: 1px solid transparent;
}

.cabinet-nav li.active a {
    color: #ed344e;
    border-bottom: 1px solid transparent;
}

.cabinet-nav li:after {
    content: '/';
    display: inline-block;
    font-size: 24px;
    margin: 0 8px;
    color: #000;
    font-weight: bold;
}

.cabinet-nav li:last-child:after {
    display: none;
}

.cabinet-content {
    font-size: 0;
}

.cabinet-table {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 73%;
    margin-right: 3%;
}

.cabinet-table table {
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%;
}

.cabinet-table table td {
    color: #000;
    font-size: 16px;
    padding: 18px 5px;
    background: #fff;
    border-bottom: 1px solid #edf2f6;
}

.cabinet-table table td:first-child {
    padding-left: 40px;
    padding-right: 10px;
}

.cabinet-table table td:nth-child(2n) {
    width: 20%;
}

.cabinet-table table td:nth-child(4n) {
    width: 20%;
    padding-left: 20px;
}

.cabinet-table table thead td {
    font-weight: bold;
    font-size: 14px;
    background: #dce6ef;
    border-bottom: none;
}

.cabinet-callback {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    background: #ffcd47;
    padding: 15px 20px 25px;
    text-align: center;
}

.cabinet-callback__help {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 18px;
}

.cabinet-callback__text {
    font-size: 16px;
    margin: 18px 0;
    line-height: 1.2;
}

.cabinet-callback__text b {
    font-size: 18px;
}

.cabinet-callback__link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #e7344e;
    border-radius: 50px;
    padding: 15px 30px;
}

.cabinet-callback__link:hover {
    background: #d53048;
}

.cabinet-header {
    padding: 30px 0 25px 115px;
}

.cabinet-header p {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    font-weight: bold;
    margin-right: 23px;
}

.cabinet-header span {
    display: inline-block;
    vertical-align: middle;
    background: #819db6;
    color: #fff;
    padding: 6px 13px;
    border-radius: 50px;
}

.cabinet-table2 table td:nth-child(2n),
.cabinet-table2 table td:nth-child(4n) {
    width: auto;
}

.cabinet-table2 .cabinet-table-footer td {
    border-bottom: 0;
    background: #dce6ef;
    font-size: 16px;
}

/* Edit */

.cabinet-page {
    padding-top: 35px;
    padding-bottom: 30px;
}

.edit {
    background: #fff;
    padding: 25px 30px 30px;
}

.edit-img {
    font-size: 0;
    margin-bottom: 30px;
}

.edit-ava {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    font-size: 14px;
}

.edit-change {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.edit-change__head {
    font-size: 16px;
    margin-bottom: 13px;
}

.edit-change button {
    border: none;
    background: #819db6;
    padding: 9px 14px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.edit-change button:hover {
    background: #728ba1;
}

.edit-change span {
    color: #819db6;
    display: inline-block;
    vertical-align: middle;
}

.edit-input {
    margin-bottom: 14px;
    font-size: 0;
}

.edit-input span {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    font-size: 16px;
}

.edit-input input,
.edit-input textarea {
    width: 330px;
    height: 50px;
    border: 2px solid #e1e1e1;
    font: 400 16px 'Proxima Nova';
    color: #819db6;
    padding: 0 18px;
    display: inline-block;
    vertical-align: middle;
}

.edit-input input::-webkit-input-placeholder,
.edit-input textarea::-webkit-input-placeholder {
    color: #819db6;
}

.edit-input input:-moz-placeholder,
.edit-input textarea:-moz-placeholder {
    color: #819db6;
}

.edit-input input::-moz-placeholder,
.edit-input textarea::-moz-placeholder {
    color: #819db6;
}

.edit-input input:-ms-input-placeholder,
.edit-input textarea:-ms-input-placeholder {
    color: #819db6;
}

.edit-input input.error,
.edit-input textarea.error {
    border: 2px solid #e7344e !important;
}

.edit-input textarea {
    width: 630px;
    height: 130px;
    resize: none;
    vertical-align: top;
    padding: 10px 18px;
}

.edit-input select {
    display: inline-block;
    vertical-align: middle;
    padding: 0 18px;
    font: 400 16px 'Proxima Nova';
    color: #000;
    width: 330px;
    height: 50px;
    border: 2px solid #e1e1e1;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    color: #393939;
    font: 400 14px 'Proxima Nova';
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/select2.png) no-repeat 96% 50%;
}

.edit-input__textarea-label {
    margin-top: 15px;
}

.edit-input__change {
    padding: 0 20px;
    line-height: 50px;
    background-color: #819db6;
    cursor: pointer;
    border: none;
    margin-left: -1px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-size: 16px;
}

.edit-input__change:hover {
    background: #728ba1;
}

.edit-input__checked {
    font-size: 16px;
    color: #ec334d;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.edit-buttons {
    margin-top: 15px;
    margin-left: 140px;
}

.edit-buttons button {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
    font: 700 14px 'Proxima Nova';
}

.edit-buttons button:first-child {
    padding: 14px 28px;
    background: #e7344e;
    color: #fff;
    border-radius: 50px;
    margin-right: 30px;
}

.edit-buttons button:first-child:hover {
    background: #cf3047;
}

.edit-buttons button:last-child {
    color: #819db6;
    background: none;
}

.edit-buttons button:last-child:hover {
    color: #6e8599;
}

/* Order */

.order {
    padding-bottom: 50px;
}

.order-header {
    padding: 30px 0 25px 115px;
}

.order-header span a {
    color: #e7344e;
    border-bottom: 1px solid #ebbac2;
}

.order-header span a:hover {
    border-bottom: 1px solid transparent;
}

.order__head {
    color: #ed344e;
}

.order-table table {
    width: 100%;
    border-collapse: collapse;
}

.order-table table thead td {
    background: #dce6ef;
    padding: 20px 0;
}

.order-table table td:nth-child(1),
.order-table table td:nth-child(3),
.order-table table td:nth-child(4) {
    text-align: center;
}

.order-table table tbody td {
    background: #fff;
    vertical-align: top;
}

.order-table table tbody td b {
    font-size: 24px;
    font-weight: bold;
    color: #151515;
}

.order-table table tbody td:nth-child(1) {
    width: 15%;
}

.order-table table tbody td:nth-child(2) {
    width: 23%;
}

.order-table table tbody td:nth-child(3) {
    width: 15%;
    padding-top: 35px;
}

.order-table table tbody td:nth-child(4) {
    width: 20%;
    padding-top: 45px;
}

.order-table table tbody td:nth-child(5) {
    width: 13%;
    padding-top: 45px;
}

.order-table table tbody td:nth-child(6) {
    padding-top: 37px;
}

.order-table table tbody td {
    padding: 15px 0;
    border-bottom: 1px solid #edf2f6;
}

.order-table__head {
    font-size: 24px;
    color: #151515;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 8px;
    display: block;
}

.order-table__head:hover {
    color: #ed344e;
}

.order-table__is {
    color: #fff;
    border-radius: 50px;
    padding: 7px 11px;
    background: #acae17;
    display: inline-block;
}

.order-table__close {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    cursor: pointer;
}

.order-table__close-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;
    color: #151515;
}

.order-table__in {
    color: #000;
    text-decoration: underline;
}

.order-all {
    padding: 37px 0 25px;
    background: #dce6ef;
    text-align: center;
}

.order-all-table {
    display: block;
    width: 320px;
    display: inline-block;
    text-align: left;
    margin-left: 190px;
}

.order-all-table td {
    font-size: 16px;
    color: #000;
    padding-bottom: 30px;
}

.order-all-table td:first-child {
    width: 210px;
}

.order-all-table td span {
    text-transform: uppercase;
    font-weight: bold;
}

.order-all-table td b {
    font-size: 24px;
    font-weight: bold;
}

.order-all__link {
    font: 400 14px 'Proxima Nova';
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #ed344e;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    -webkit-transition: 300ms;
    transition: 300ms;
    margin-bottom: 15px;
}

.order-all__link:hover {
    background: #d43149;
}

.order-all__checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.order-all__checkbox span {
    border: 1px solid #fff;
}

.order-all__checkbox input:checked + span {
    border: 1px solid #ed344e;
}

.order-all__confirm label {
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

.order-all__confirm label a {
    line-height: 1;
    color: #000;
    border-bottom: 1px solid #b7bfc6;
}

.order-all__confirm label a:hover {
    border-bottom: 1px solid transparent;
}

.order .order-table2 table td:nth-child(5) {
    text-align: center;
    width: 10%;
}

.order .order-table2 table td:nth-child(4) {
    width: 17%;
}

.order .order-table2 table tbody td:nth-child(4),
.order .order-table2 table tbody td:nth-child(5) {
    padding-top: 39px;
}

.order .order-table2 table tbody td:nth-child(6) {
    padding-left: 50px;
}

.order2 .order-all-table {
    width: 415px;
    margin-left: 210px;
}